[2019-01-14 21:42] #7144 closed

[2019-01-14 21:43] #10286 closed

[2019-01-14 21:57] Rick-Anderson commented on #1840
@Tratcher 	please review.
when you close #4837 can you provide a sample?

[2019-01-14 21:57] #4442 closed

[2019-01-14 22:00] pratishthap opened #10383 "Need an example of how to implement ITokenchanges on databasechanges asp.net core"
Hi All,
I have been trying to utilize changetoken for notifying when the database changes and hence drive the configuration from database instead of configuration file. But i am unable to trigger the onchanges on itoken when i make any changes to database. The only time the customdatabase provider get exceuted it on the startup.Please help in giving a solution.I could not find an implementation of

[2019-01-14 22:01] Rick-Anderson opened #10384 "Document using IPolicyEvaluator in 2.0"
Moved from #4748

Add a section to the [Resource-based authorization](https://docs.microsoft.com/aspnet/core/security/authorization/resourcebased) doc explaining when and how to use `IPolicyEvaluator` in 2.0 apps. The doc currently assumes authentication has run and set the `User` property. `IPolicyEvaluator` should be used instead of `IAuthorizationService` when doing authentication in those samp

[2019-01-14 22:02] Rick-Anderson commented on #4748
Moved to #10384

[2019-01-14 22:02] #4748 closed

[2019-01-14 22:04] Rick-Anderson commented on #10384
@HaoK 	@andrewlock could one of you do this?

[2019-01-14 22:05] #3148 closed

[2019-01-14 22:10] Rick-Anderson opened #10385 "Document how to customize the view component search path"
Moved from #7667

We have already documented where ASP.NET Core searches for views:
https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-components?view=aspnetcore-2.1#view-search-path

We need to add how to customize that search path.

`@pranavkm` wrote:

There was an issue filed to allow further customization here - aspnet/Mvc#6426, although it looks like it was closed by the author. It d

[2019-01-14 22:12] Rick-Anderson commented on #7667
moved to #10385 ****

[2019-01-14 22:12] #7667 closed

[2019-01-14 22:16] Tratcher commented on #1840
Was that the right issue link?

Not much to show, it's just calling `HttpContext.Session.LoadAsync()` before you start using session. The only code reference I see is the unit tests for the error cases:
https://github.com/aspnet/AspNetCore/blob/cd0eab88eaa230fa276c27ab5dc71ea267efe14f/src/Middleware/Session/test/SessionTests.cs#L654-L656

[2019-01-14 22:24] #8214 closed, assigned to nobody

[2019-01-14 22:40] RobCyrus commented on #10286
Maybe I am wrong, but I expected a little more help than one phrase for the whole issue.

“I can’t repo the problem”

[2019-01-14 23:02] Rick-Anderson commented on #5521
Closing as moved to dotnet/docs#4400
@KPixel 	let me know if this should remain open and what needs to be done.

[2019-01-14 23:02] #5521 closed

[2019-01-14 23:08] Rick-Anderson commented on #6114
@mjrousos who can provide the first draft of this?

[2019-01-14 23:14] Rick-Anderson commented on #6682
The API docs and much of our docs use controller name. This doc doesn't have the following:

This doc consistently shows sample like like the above (using "Home").

[2019-01-14 23:14] #6682 closed

[2019-01-14 23:20] guardrex commented on #10378
Hello @Houuse ... One of the engineers reported that the module is available now :point_right: https://github.com/aspnet/AspNetCore/issues/5145#issuecomment-452015271

[2019-01-14 23:20] #10378 closed

[2019-01-14 23:32] #8355 closed

[2019-01-14 23:36] Rick-Anderson commented on #6938
This was fixed in the 2.2 unification.

[2019-01-14 23:36] #6938 closed

[2019-01-14 23:38] Rick-Anderson commented on #7609
This will be addressed in the next update.

[2019-01-14 23:38] #7609 closed

[2019-01-14 23:43] #6367 closed

[2019-01-15 00:09] Rick-Anderson commented on #7310
@kichalla can you provide a draft to this update (or suggest someone else?).

[2019-01-15 00:13] Rick-Anderson commented on #7316
@guardrex 	ping @jeremymeng - he's the AI contact and is very helpful.

[2019-01-15 00:16] Rick-Anderson commented on #9053
@tdykstra 	can you add this note?

[2019-01-15 00:17] Rick-Anderson commented on #8581
Completed

[2019-01-15 00:17] #8581 closed

[2019-01-15 00:55] Rick-Anderson commented on #10372
@jesslilly 	 just use `[ResponseCache(Location = ResponseCacheLocation.None, NoStore = true)]`

[2019-01-15 00:55] #10372 closed

[2019-01-15 01:02] Rick-Anderson commented on #10337
@SteveSandersonMS 	please review.

[2019-01-15 01:05] Rick-Anderson commented on #10335
Dup of #10336

[2019-01-15 01:05] #10335 closed

[2019-01-15 01:06] Rick-Anderson opened #10389 "Doc how to configure the underlying OIDC options for AzureB2C"
Moved from #10324 - @haoK we prefer to open doc issues on the doc page (see bottom of page).

we should add some guidance that they can still configure the OIDC options directly if they specify the scheme name, see:

aspnet/AspNetCore#6157
aspnet/AspNetCore#6447

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 765e611b-a

[2019-01-15 01:08] Rick-Anderson commented on #10324
Moved to #10389

[2019-01-15 01:08] #10324 closed

[2019-01-15 01:10] Rick-Anderson commented on #10389
@HaoK 	if you can provide a draft of the changes I'll get this committed this week.

[2019-01-15 01:12] Rick-Anderson commented on #10311
@prkhandelwal please review

[2019-01-15 01:14] Rick-Anderson commented on #10299
Correct. You need to delete the DB.

You didn't delete the DB.

[2019-01-15 01:14] #10299 closed

[2019-01-15 01:16] Rick-Anderson commented on #10269
@doveblees 	this is not a beginning doc. We generally only add those to intro-docs.

[2019-01-15 01:16] #10269 closed

[2019-01-15 01:21] Rick-Anderson commented on #10289
@drweb86-work 	here's the code the scaffolder generates:

[code]

[2019-01-15 01:21] #10289 closed

[2019-01-15 01:31] Rick-Anderson commented on #7810
This was fixed in the unification of the 3 versions (VS/VSC/VSmac)

[2019-01-15 01:31] #7810 closed

[2019-01-15 01:47] Rick-Anderson commented on #6063
@severisv can you provide a draft for these instructions? Should the instructions be added to [Content Negotiation](https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/formatting?view=aspnetcore-2.1#content-negotiation) ?

I could link to that section in [Build web APIs](https://docs.microsoft.com/en-us/aspnet/core/web-api/index?view=aspnetcore-2.2)

[2019-01-15 01:47] #7611 closed

[2019-01-15 01:55] pratishthap commented on #10383
None have been able to provide an answer to it. I saw some sample code but TokenChange.OnChanges() is not firing when database changes. I am unable to find how registering and configuring of CustomDatabaseConfigurationprovider is being done

[2019-01-15 02:07] Rick-Anderson commented on #10286
@RobCyrus 	I'm sorry, we're a small doc team. We don't have the resources to provide support. I can tell you we have more than half a million folks reporting this works. Most were not working with Angular.

[2019-01-15 02:08] Rick-Anderson commented on #10286
@RobCyrus 	it's an excellent error. Try adding `Microsoft.EntityFrameworkCore.Design`

[2019-01-15 02:10] RobCyrus commented on #10286
Thanks for the reply, I already took Visual Studio code out…

Take care.

[2019-01-15 02:10] Rick-Anderson commented on #10286
The top of the issue has an answer
`dotnet add package Microsoft.EntityFrameworkCore.Design`

[2019-01-15 02:11] pratishthap commented on #10383
Can you please tell me who had asked for EF Core configuration provider so that i can ask the person

[2019-01-15 02:13] RobCyrus commented on #10286
I had already done all that… Not sure what caused it, and it’s too late now. I removed it.

[2019-01-15 02:14] guardrex commented on #10383
Phil Reed ... https://github.com/aspnet/Docs/issues/9681

... and there might be more requests in the engineering and docs repo issues.

[2019-01-15 02:17] Rick-Anderson commented on #6115
@guardrex 	is this something you could do?

[2019-01-15 02:19] Rick-Anderson commented on #9078
@Antaris 	any luck with a draft?

[2019-01-15 02:36] #9051 closed

[2019-01-15 02:37] #8848 closed

[2019-01-15 02:39] Rick-Anderson commented on #1840
Oops https://github.com/aspnet/AspNetCore/issues/4837

[2019-01-15 02:41] guardrex commented on #6115
Sure ... I'll do it. I guess next sprint is ok? I have a full plate at the moment.

[2019-01-15 02:44] #1840 closed

[2019-01-15 04:31] Rick-Anderson commented on #7025
@PinpointTownes would you be able to provide the first draft? Let me know how I can help.

[2019-01-15 04:35] Rick-Anderson opened #10392 "Add doc section:Enable using a Cookie Session Store from DI"
From https://github.com/aspnet/Security/pull/1719

`@HaoK` wrote:
We should have an explicit section recommending this pattern of how to configure options instances with things from DI in this doc.
[code]

We can also demonstrate a new in 2.1 API ConfigureOptions here as well maybe:

`services.ConfigureOptions<UseSomethingFromDI>` instead of `services.AddTransient<IConfigureOptions<YourOptions>, U

[2019-01-15 04:38] Rick-Anderson commented on #5922
`IOptionsBuilder` was documented [here](https://github.com/aspnet/Docs/pull/9456/files)

Moved to #10392

[2019-01-15 04:39] Rick-Anderson opened #10393 "Document core authorization components"
Moved from #6033

Add an overview section to this doc that explains the core components involved (e.g., IAuthorizationHandler & IAuthorizationRequirement). Also need an explanation of how these components relate to each other.

`@HaoK` Please provide an initial draft of this content, and I can clean it up.Document core components

Related: #10474

---
#### Document Details

⚠ *Do not edit this sec

[2019-01-15 04:41] Rick-Anderson commented on #10393
`@HaoK` responded:

Starting from the bottom up, the primary service that determines if authorization is successful is `IAuthorizationService` which has two versions:

[code]

`IAuthorizationRequirement` is a marker service with no methods, and the mechanism for tracking whether authorization is successful.

`IAuthorizationHandler`s are responsible for checking if requirements are met
[code]

The

[2019-01-15 04:41] pantonis commented on #9897
It was resolved after I updated VS2017 to latest version

[2019-01-15 04:41] Rick-Anderson commented on #6033
moved to #10393

[2019-01-15 04:41] #6033 closed

[2019-01-15 04:50] Rick-Anderson commented on #8137
Dup of #9205

[2019-01-15 04:50] #8137 closed

[2019-01-15 04:51] Rick-Anderson commented on #9205
@divega 	should we use `protected override void OnModelCreating(ModelBuilder modelBuilder)` (as shown in the previous code) and migrations to seed the DB?

[2019-01-15 04:53] #10306 closed

[2019-01-15 04:53] Rick-Anderson opened #10395 "Use EF 2.1 Seed feature/migrations"
See #9205
This tutorial generally gets updated first.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03221075-5dfa-d1b6-0552-3fe88abe1d03
* Version Independent ID: b8c7d824-35ca-68fb-e3be-839ae886657c
* Content: [Work with a database and ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/s

[2019-01-15 04:57] Rick-Anderson commented on #9157
@tdykstra 	@scottaddie 	how can we track github sample size complaints? Do we need a label?

[2019-01-15 04:57] #9157 closed

[2019-01-15 04:58] Rick-Anderson commented on #8974
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-01-15 04:58] #8974 closed

[2019-01-15 04:59] Rick-Anderson commented on #5450
@natemcmaster @glennc do you have any samples/content we can start with?

[2019-01-15 05:00] Rick-Anderson opened #10396 "This issue shows how to change default token timeout"
`@HaoK`  need code to change the following for [Account Confirmation and Password Recovery](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm)
security/authentication/accconfirm

- [x] the default time for confirm tokens to be valid is 1 day. How to change?
- [ ] How to change the default log out time after inactivity.

See #5436 for more details. Moved from #5436

--

[2019-01-15 05:02] Rick-Anderson commented on #10396
`@HaoK`  we have alot of customers asking how to change the confirmation  email time out before 1 day. See [this](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm?hubRefSrc=email&utm_source=lfemail&utm_medium=email&tabs=aspnetcore2x#lf-content=177102288:775419743&reply_editor=true)

`@HaoK` responds:
If they are okay changing all data protection tokens at once `servi

[2019-01-15 05:03] Rick-Anderson commented on #10396
@Rick-Anderson changing the inactivty expiration would be

[code]

[2019-01-15 05:04] Rick-Anderson commented on #5436
MOved to #10396

[2019-01-15 07:11] nicholasyin commented on #10221
I read the document, got the idea of middleware factory concept. However, could you provide more definitive documentation about the convention details using the 'conventional' way?

[2019-01-15 07:26] kimfucious opened #10398 "Running the app in VSCode"
This article glosses over the setup of vscode to run a dotnet app.  It might help to add in a bit about the setup of a tasks.json and launch.json file.

This article is helpful:  https://github.com/OmniSharp/omnisharp-vscode/blob/master/debugger.md#once-for-each-project

@Rick-Anderson 	 edit: If this content is added, it should go in the /includes folder as this is no unique to WebAPI.

---
####

[2019-01-15 07:31] JDeanThomas commented on #10299
I deleted the DB 3 times, and then tried several combinations that including the DB.

If deleting the migrations is part of deleting the DB, then it might be better to explicitly say that. As someone new to using .Net for creating web pages, it was not clear.

[2019-01-15 07:41] JDeanThomas commented on #10284
I opened it up from the GitHub link on the page. I tried to just find the text in the repo and create a pull request, but could not find the text for the life of me.

https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-2.2&tabs=visual-studio-mac

The doc suggests (under VS Mac) running the following lines from the console.

dotnet add package Microsoft.EntityFr

[2019-01-15 08:16] kimfucious commented on #10398
I realize that "When a dialog box asks if you want to add required assets to the project, select Yes." will build these for you; however, my c# extension was messed up so I wasn't getting prompted.

[2019-01-15 10:21] hoksource opened #10401 "Cross Origin Sharing"
How do you set this up for cross origin sites? is it safe?
I will be using it on both https websiteA.com and websiteB.com
I tried to test it for mywebsite.com and localhost:8080 didn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99307104-c0d7-3e82-f0b2-af61dcfe072a
* Version Independent ID: 315c02cb-54c4-e386-

[2019-01-15 10:25] shadinamrouti opened #10402 "PMC warning about the decimal Price { get; set; }"
PMC shows the following warning when adding a migration. It seems a data annotation is required for the decimal Price.

Suggested fix is to use the following annotation:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d975a83-1550-b284-d0d8-7fe2ea206ff5
* Version Independent ID: 48e81b42-7c2b-afbf-71e6-d4f442a4

[2019-01-15 10:30] hoksource commented on #10100
Thank for the response. It was very informative. :)

[2019-01-15 10:55] JamesFenton opened #10403 "services.AddAuthentication in .Net Framework"
The "Work with Windows Authentication" section requires the line `services.AddAuthentication(IISDefaults.AuthenticationScheme);` but when targeting .Net Framework, the AddAuthentication method is not found.
After much searching, I found I had to install the Microsoft.AspNetCore.Authentication nuget package. Please include this in the docs to help other people.

---
#### Document Details

⚠ *Do not

[2019-01-15 11:18] Toby9876 commented on #10376
Got ya. Thanks. Found this reading on the topic: https://www.marathonus.com/about/blog/moving-from-entity-framework-6-to-entity-framework-core-2-0/

[2019-01-15 12:54] drweb86-work commented on #10289
The problem is that this code _context.Entry(todoItem).State would fail if to call it sequentially. IOC in a sample is created once on app start. .Net Core **caches** entities that were fetched without AsNoTracking. On second attempt to modify item - it will complain that it already have object with this key in its cache and you're attempting to attach another one.

[2019-01-15 12:56] spacecat opened #10404 "What does renameLocals do?"
What does renameLocals do?

---
#### Dokumentinformation

⚠ *Redigera inte det här avsnittet. Det krävs för docs.microsoft.com ➟ länkning till GitHub-problem.*

* ID: 36f55e9a-cd3f-83a0-f142-969dc10d3ceb
* Version Independent ID: f6845f70-1ac6-2036-f213-a3b665b3d8bf
* Content: [Bundle and minify static assets in ASP.NET Core](https://docs.microsoft.com/sv-se/aspnet/core/client-side/bundling-and-mi

[2019-01-15 12:57] shadinamrouti commented on #9205
@dannevesdantas thanks for your suggestion, it worked very well.
I have two notes:
1. The ID field inside OnModelCreating() method should be rewritten as "Id" according to Movie.cs in the tutorial.
2. There is no way to check for any existing data while creating the model, thus, the tutorial should either use SSOX to empty the table or drop-database MPC command.
3. What I liked about OnModelCreati

[2019-01-15 13:17] guardrex commented on #10403
Good idea. We often provide the package name but perhaps it slipped thru because that package is inside the `Microsoft.AspNetCore.App` package and template-based apps use the metapackage.

I'll add our usual language here for this.

[2019-01-15 13:29] shadinamrouti opened #10406 "Suggestion: To use BadRequest() instead of NotFound()"
I think it would be better to return `BadRequest()` when checking a null id in the following action:

[code]

By the way, this is how this is treated in the analogous API scaffold, which I think makes more sense than `NotFound()` for this line specifically.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 582aeaf8-770f-6

[2019-01-15 13:30] guardrex commented on #10404
Hello @spacecat ... that just renames local vars during minification. The minifier settings are online. Let me see if I can cross-link that.

[2019-01-15 13:35] guardrex commented on #10404
No ... we're good ... it's there under the link for "JavaScript Minifier" :point_right: https://github.com/madskristensen/BundlerMinifier/wiki/JavaScript-Minifier-settings

[2019-01-15 13:35] #10404 closed

[2019-01-15 14:43] DanJ210 commented on #9357
Hey @guardrex I was mainly talking about the fact that I can run and debug a .Net Core app with Windows Auth in Visual Studio and I guess that's because Visual Studio runs an instance of IIS Express at the same time.

If I try to run the same app in VS Code, I can't because the Windows Auth identity objects don't get populated and the `[Authorize]` attributes won't work and I'm guessing that's bec

[2019-01-15 15:17] daveabrock commented on #10398
@Rick-Anderson @scottaddie 	If you guys agree that the `tasks.json` and `launch.json` information should be documented, I could help you out since I've [written on the topic](https://daveabrock.com/2018/03/05/full-stack-development-in-vs-code-with-asp-net-core/).

[2019-01-15 17:04] guardrex commented on #9357
Yes, that's correct. `iisexpress.exe` is spawned for VS debug runs when the **IIS Express** launch profile is used. Looking under the covers here with one of my test apps, the command that spawned it was ...

[code]

VSC just runs the app with *dotnet.exe* ... here's what Process Explorer told me about `dotnet.exe` on a VSC debug run ...

[code]

Try running your app with IIS Express (*iisexpress.

[2019-01-15 17:52] shadinamrouti opened #10408 "MVC core is behaving illogically in two places."
Two things are illogical in how MVC core works:

1- Why `model.Movies[0].Title` does not generate a null reference error when there is no results for the Movies list? isn't this an out of index (famous) error.
Try to write `var firstItem=Model.Movies[0];` at the top of the view and it throws a null reference error when the Movies list is empty and accessing the first element in an empty array is n

[2019-01-15 17:55] guardrex commented on #10398
If this issue is worked, consider including a section on configuration of VSC to spawn IIS Express (*iisexpress.exe*) via task (if not too hacky; e.g., IIS Express sys tray might be the easiest path to kill the process/app). It would be useful in some scenarios when testing an app for IIS deployment (e.g., WinAuth). @DanJ210 might be looking into this. I can also help research and test options ...

[2019-01-15 18:00] sonichanxiao opened #10410 "Any chance to include a completed code sample for Policy, Role and Claims based authorization?"
A bit hard to get a overall idea for people who are new to .net core authorization.

The article "Create an ASP.NET Core app with user data protected by authorization" needs quite a bit guessing on how each part works and set up the environment is a bit pain.

[2019-01-15 18:01] ChrisSfanos commented on #5832
Bootstrap 3.4.0 and 4.2.1 are now live
So I'm checking on .unobtrusive 3.2.11 and I only see the main file on GitHub and not the .min version?

[2019-01-15 18:04] Tratcher commented on #10079
@Rick-Anderson doc updates needed for aspnetcore/security/authentication/social/google-logins.md:
- This affects all versions of the doc & framework.
- Link to the breaking change announcement: https://github.com/aspnet/AspNetCore/issues/6486
- Remove the three mentions and screen shots showing Google+ setup. No replacement is needed until it gets to "Add credentials to your project". The replacem

[2019-01-15 19:23] Rick-Anderson opened #10411 "Mac and VSC require dotnet add package Microsoft.EntityFrameworkCore.Design"
Moved from #10284 by @JDeanThomas

I had to run the following:
`dotnet add package Microsoft.EntityFrameworkCore.Design`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add a model to a Razor Pages app in ASP.

[2019-01-15 19:33] Rick-Anderson commented on #10401
Thanks for the question. You'll probably get a faster answer on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter. If you post the question elsewhere, please update this issue with the link.

[2019-01-15 19:35] Antaris commented on #9078
@Rick-Anderson Sorry I haven't been able to get on this yet, life stuff (marriage, etc). Do you have a deadline you would like a draft by?

[2019-01-15 19:42] Rick-Anderson opened #10414 "add warning note"
See #10402

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add a model to a Razor Pages app in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-2.2&tabs=vi

[2019-01-15 19:44] Rick-Anderson commented on #10289
@drweb86-work 	feel free to open an issue with the scaffolding team.

[2019-01-15 19:45] Rick-Anderson commented on #10289
You might want to post to SO first.

[2019-01-15 19:53] MolallaComm opened #10415 "documentation/example for services.AddSingleton<IGroupManager, CustomGroupManager>() would be nice"
Also, on the documentation for that interface, the cancellationToken=null stuff doesn't appear to work in 2.2  - you have to use cancellationToken = default(CancellationToken)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8d77892-d376-2f23-2634-f5d34d962a1e
* Version Independent ID: 92ed6330-b49f-1620-6beb-8556a78ac7

[2019-01-15 19:56] #10403 closed

[2019-01-15 19:58] Rick-Anderson commented on #10406
Feel free to open an issue with the scaffolding team. The scaffolder here generates

[code]

[2019-01-15 19:58] #10406 closed

[2019-01-15 20:03] divega commented on #9205
@Rick-Anderson sorry I missed it when you mentioned me before. I don't know/remember in detail how the tutorial uses the seed data. I think using model data seeding feature would be a good idea as long as:

1. The usage of the data in the tutorial doesn't fall into any of the scenarios described in https://docs.microsoft.com/ef/core/modeling/data-seeding#limitations-of-model-seed-data.
2. The tuto

[2019-01-15 20:12] Rick-Anderson commented on #10408
See this document:

Examine the lambda expression used in the following HTML Helper:

@Html.DisplayNameFor(model => model.Movies[0].Title)

In the preceding code, the DisplayNameFor HTML Helper inspects the Title property referenced in the lambda expression to determine the display name. Since the lambda expression is inspected rather than evaluated, you don't receive an access violation when mode

[2019-01-15 20:12] #10408 closed

[2019-01-15 20:13] #10414 closed

[2019-01-15 20:13] #10402 closed

[2019-01-15 20:14] serpent5 commented on #10408
I was just typing something up to try and help with this. You beat me to it. :)

[2019-01-15 20:15] Rick-Anderson commented on #10398
That's all you need.

[2019-01-15 20:37] khortsch opened #10416 "For row selection use class "table-success""
The bootstrap css class for tr selected is "table-success" not "success".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0026f69-7e5d-0d3e-5586-16ecc0656ff0
* Version Independent ID: 3cb264da-2ff1-1256-572f-aa4ebca6e255
* Content: [Razor Pages with EF Core in ASP.NET Core - Read Related Data - 6 of 8](https://docs.mic

[2019-01-15 20:42] s-charest opened #10417 "Missing information in code block: Set the comments path for the Swagger JSON and UI."
[code]

... requires:
[code]
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14fce65f-1337-58cb-2193-8d8e0e62792d
* Version Independent ID: 59222460-a971-e76e-4fe9-23d4d7d768ee
* Content: [Get started with Swashbuckle and ASP.NET Core](https://docs.microsoft.com/en-ca/aspnet/core/tutorials/getting-started-with-swashbuckl

[2019-01-15 20:46] serpent5 commented on #10416
The tutorial (and sample application) is built with Bootstrap 3, which uses the [`success`](https://getbootstrap.com/docs/3.3/css/#tables-contextual-classes) CSS class. It's Bootstrap 4 that uses the [`table-success`](https://getbootstrap.com/docs/4.2/content/tables/#contextual-classes) CSS class.

[2019-01-15 20:46] tdykstra commented on #10362
I like our current minimalist approach to labels.  I don't think we get enough of these issues to warrant a label, and kudos come from many sources so I think we'd do better to store them somewhere in a OneNote page.

[2019-01-15 20:48] #5297 closed

[2019-01-15 21:01] RealityMasque commented on #10123
Hi, I copied & pasted up from this tutorial up to that same point as RobertBernstein, & got the same error.  Is the tutorial wrong?

[2019-01-15 21:07] scottaddie commented on #10362
There's already a Teams channel for these. I posted this one in that channel.

[2019-01-15 21:24] glennc commented on #5450
This might be solved by the work that @richlander has been doing.

[2019-01-15 21:32] TheDestinyGroup commented on #5832
Chris,

Thanks for that.

I'm not sure where the other CDN providers got their version from.

The NuGet 3.2.11 package Microsoft provide for .Net 4.x projects doesn't include a minified version.

Les

[2019-01-15 21:58] Rick-Anderson opened #10418 "Update to latest version and ADD CLI VSC/VS Mac tabs"
ADD CLI VSC/VS Mac tabs
10K PV, 6K visitors, 10 ratings, 60% CSAT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1612f19-f267-493a-c230-2ca18e4eb50b
* Version Independent ID: d312db0f-6cf1-87ca-09b0-604a66e18a07
* Content: [Facebook, Google, and external provider authentication in ASP.NET Core](https://docs.microsoft.

[2019-01-15 22:05] pratishthap commented on #9681
Is there no other alternative to using sqldependency for getting notified of databasechanges ? How can i achive this by pull rather than push?How to i implement itokenchange.Onchanges for this approach

[2019-01-15 22:26] CrestApps opened #10420 "How can I connect to Google Cloud Storage?"
I wonder if there is a way to use UseStaticFiles() to configure external storage like Google Cloud Storage where we can use virtual drive to external storage space.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d47f38e2-bc36-cfb8-b0cc-17a534689f8b
* Version Independent ID: 3fec6e08-fc99-7a5c-796f-3f2347cad891
* Conten

[2019-01-15 23:22] jdarundell opened #10421 "Arrow functions not supported in Internet Explorer"
This is all brilliant

BUT

MS' own product Internet Explorer does not support javascript "async" and cracks up at the '=&gt;' of     connection.onclose(e =&gt; {

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cf283c9-5cd2-a9ff-b8c8-372d8a04356d
* Version Independent ID: 729fddcf-24e4-b563-4952-a8045b231868
* Content:

[2019-01-15 23:53] philip-reed commented on #9681
@pratishthap I got something working that you might find useful.

https://stackoverflow.com/q/54072129/2064829

Only issue is that SqlDependanct.Stop() never gets called.

[2019-01-15 23:58] pratishthap commented on #9681
Hey Philip that for the reply. I went through this article. But i want to implement it without using SQLDependency as my application deals with both sql and Oracle. So i was hopng if there is an answer which can be used by combining ITokenChanges.OnChanges and IOptions<> and using customprovider

[2019-01-16 00:51] guardrex commented on #10420
Hello @CrestApps ... You'll need to consult the Google docs (and blog posts, chat, support forums) for something like that. We don't document anything regarding Google Cloud Storage here.

[2019-01-16 00:51] #10420 closed

[2019-01-16 00:56] JDeanThomas commented on #10411
To be clear, I was using VS, not VSC.

[2019-01-16 01:00] kofifus commented on #10024
Why us this closed ? is there any update on scaffolding in ASP.NET Core 3.0 ?

[2019-01-16 02:38] Rick-Anderson commented on #10411
For VS, we have several hundred thousands customers reporting the instructions work. There must have been an anomaly on your machine or the way the project was created.

[2019-01-16 02:38] #10411 closed

[2019-01-16 02:50] Rick-Anderson commented on #10416
@serpent5 	thanks!

[2019-01-16 02:50] #10416 closed

[2019-01-16 02:54] Rick-Anderson commented on #9078
@Antaris 	no hard deadline, when you have a chance.

[2019-01-16 08:26] Kool-Koder opened #10425 "Documentation on customizing default password hashing"
Hi, I can't seem to find the tutorial for customizing Identity default password hashing. With reference to this [article](https://andrewlock.net/exploring-the-asp-net-core-identity-passwordhasher/), may I know if what is stated inside is correct? `ASP.NET Identity Version 2: PBKDF2 with HMAC-SHA1, 128-bit salt, 256-bit subkey, 1000 iterations
` Thank you!

---
#### Document Details

⚠ *Do not edit

[2019-01-16 08:46] Webbarrr commented on #10402
I'm confused as to why this was closed without an answer - I've had had this warning myself & was quite confused about whether or not I should progress without fixing it. A response would be appreciated

[2019-01-16 09:54] shadinamrouti commented on #10402
@Webarrr me too confused. I have a hope that one day Microsoft will issue a policy not to close tickets without a single reply because this kind of an action is passive-aggressive.

[2019-01-16 11:16] santo2 opened #10426 "detect exceptions before action execution"
Hi, I'm probably having a dependency issue but no logging except for the client that response with 500 internal server error. What would be the correct way to get this visible in my test? Do I need to add a logger, or can I possibly even reuse the application insights implementation to log to my test output?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-01-16 12:43] serpent5 commented on #10425
Yes, that's correct. You can see for yourself in the [source code](https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Identity/Extensions.Core/src/PasswordHasher.cs#L20).

[2019-01-16 13:00] guardrex commented on #10426
Hello @santo2 ... The only things you'll get in a test are `HttpStatusCode.InternalServerError` for `response.StatusCode` and possibly a `response.ReasonPhrase` that might not be very helpful. Remember that tests themselves aren't really for debugging ... just testing. Yes, you are correct about implementing logging in the SUT ... do that ... and follow ordinary troubleshooting advice from our tro

[2019-01-16 13:00] #10426 closed

[2019-01-16 13:02] Kool-Koder commented on #10425
How am I able to specify which version to use? Thank you!

[2019-01-16 13:11] serpent5 commented on #10425
You can add something like the following to `ConfigureServices`:

    services.Configure<PasswordHasherOptions>(
        o => o.CompatibilityMode = PasswordHasherCompatibilityMode.IdentityV2);

[2019-01-16 13:13] Kool-Koder commented on #10425
I see nice. Thank you very much! :)

[2019-01-16 13:41] serpent5 commented on #10425
@guardrex Is it helpful that I answered the questions posed above here or is it preferable to handle such questions elsewhere (e.g. Stack Overflow)? I don't want to overstep here but at the same time I want to contribute in a meaningful way.

[2019-01-16 13:43] shadinamrouti opened #10427 "Edge browser"
It would be great if you mention how to disable JavaScript on Edge browser similar to the instructions about Firefox and Chrome.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443a7c53-cc16-7ed5-5950-46a6f195f19c
* Version Independent ID: 12fe9329-2cef-4056-4986-18ed7ae5c397
* Content: [Add validation to an ASP.NET Cor

[2019-01-16 13:52] JamesUKDEV opened #10428 "No About page in 2.2"
Creating a new project against 2.2 doesn't create the About page.
Using 2.1 it does.
Can you provide some more info on this please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 877f0457-37d9-9a34-e2ce-beb41d717086
* Version Independent ID: e9b0d4d1-e98c-fb96-415f-0ff4e37d3658
* Content: [Razor Pages with EF Core in A

[2019-01-16 14:02] guardrex commented on #10425
Yes, **helpful** b/c we often can make faster/better doc updates following discussion.

[2019-01-16 14:07] shadinamrouti opened #10429 "For consistency: add-migration after applying validation rules"
It's worth mentioning that some validation rules must be applied to the DB schema for consistency by adding a new migration. e.g. add-migration AddingNewRules

Mainly, the following two attributes affect the schema:
1- [Required] will alter the relevant column and make it not null
2- [StringLength(60)] will alter the type of the column and make it nvarchar(60)

---
#### Document Details

⚠ *Do not

[2019-01-16 15:03] shadinamrouti opened #10430 "SingleOrDefaultAsync is mentioned instead of FirstOrDefaultAsync"
Please edit SingleOrDefaultAsync to become FirstOrDefaultAsync in the paragraph below the second code block.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97234f18-4009-0ebf-a379-9b63125529cd
* Version Independent ID: 1bf4792d-dab4-e03d-2021-3dcdcaff6a0f
* Content: [Examine the Details and Delete methods of an ASP.NET

[2019-01-16 15:18] shadinamrouti opened #10431 "Wrong place for this article and other articles in the tree view of Microsoft Docs"
Hi, I've noticed that there are 5 articles including this one belong to Razor pages however they are put in the left-side tree view of Microsoft Docs under the MVC tree.
Can you please organize the tree view by moving those 5 topics to the Razor Pages node?

The 5 topics that need to be moved to the Razor Pages node are:
- Filters
- Razor Class Libraries
- Route and app conventions
- Upload files

[2019-01-16 17:11] shadinamrouti opened #10432 "Case-sensitivity for keys of ViewBag and ViewData"
It's worth mentioning in this article that the keys used in ViewBag and ViewData are not case-sensitive. So, if I store something in ViewBag.someKey, I can access it with @ViewBag.SOMEkey or any combination of cases. This note is important to new developers because it will protect them from overwriting the same memory location if they meant to use two different bags by differentiating between them

[2019-01-16 17:27] Tratcher commented on #9681
@pratishthap IChangeToken supports a pull model via the HasChagned property. Set ActiveChangeCallbacks = false and then you don't need to implement RegisterChangeCallback. Here's an [example](https://github.com/aspnet/Extensions/blob/4435c3565d7fb257d85e96c9c12de90e697e5134/src/FileProviders/Physical/src/PollingFileChangeToken.cs).

[2019-01-16 17:51] tdykstra commented on #10421
Thanks for reporting that, we'll add a note about IE.

[2019-01-16 18:03] Rick-Anderson commented on #10402
@shadinamrouti 	@Webbarrr
See Rick-Anderson closed this in #10412 22 hours ago
That means it's fixed. Click on #10412 to see the resolution.
The PR closed the issue automatically. That's how Github works.
https://github.com/aspnet/Docs/pull/10412/files

[2019-01-16 18:09] #10421 closed

[2019-01-16 18:16] pratishthap commented on #9681
Hi

Hi.Thanks for your reply. One major problem i ahve facing is how to register and configure the customdatabaseprovider on startup correctly. I am using an extensions class via which i am adding the AddCustomDbConfirProvider to the IConfigurationBuilder  in the startup constructor. But that config file gets lost from the IConfiguration reference once the application goes past the starup. So none

[2019-01-16 18:20] Tratcher commented on #9681
Add it in Program.Main by calling ConfigureAppConfiguration on IWebHostBuilder.

[2019-01-16 18:32] prkhandelwal commented on #10311
Hello @Toby9876 ,
Thanks for bringing up the issue. This issue can be solved by "Keeping the id as string". You can decorate the id with "BsonRepresentation".

`

        [BsonId]
        [BsonRepresentation(BsonType.ObjectId)]
        public string Id { get; set; }

`
After doing this, some changes in 'BookServices.cs' will be required.

@Rick-Anderson I'll try to update the code in sample and do

[2019-01-16 20:09] pratishthap commented on #9681
I think calling it from either Startup or Program.Main() will result in the same. What i wantt is how do i see the values of the changed or current values and display it. On the first load i injected the  @configuration to get to my customEFprovider and and can access values from Data . But the configuration does not have customEFPprovider after having past the startup.

[2019-01-16 20:26] Rick-Anderson commented on #10431
Thanks for your suggestion. I added it to our TOC update issue #10210

[2019-01-16 20:26] #10431 closed

[2019-01-16 20:32] Rick-Anderson commented on #10427
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-01-16 20:32] #10427 closed

[2019-01-16 20:34] Rick-Anderson opened #10436 "For consistency: add-migration after applying validation rules"
Copy from @shadinamrouti #10429 since this is updated first.

Mainly, the following two attributes affect the schema:
- `[Required]` will alter the relevant column and make it not null
- `[StringLength(60)]` will alter the type of the column and make it `nvarchar(60)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39b6

[2019-01-16 20:38] Tratcher commented on #9681
Please show the code for how you're adding it in Startup.

[2019-01-16 20:40] Rick-Anderson commented on #10428
The 2.2 templates don't create an about page. You can create that yourself.

[2019-01-16 20:42] Rick-Anderson commented on #10428
@tdykstra should you fix this before you do the 2.2/3.0 preview 3 update?

[2019-01-16 20:43] serpent5 commented on #10425
The hashed password *is* different, but the first byte specifies which version of the hashing algorithm was actually used. When verifying a password against a hash, the [`VerifyHashedPassword`](https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Identity/Extensions.Core/src/PasswordHasher.cs#L190) method is able to select the correct algorithm to use based on this "format marker" byte and so

[2019-01-16 20:46] Rick-Anderson commented on #10415
`cancellationToken=null` stuff doesn't appear to work in 2.2 - you have to use `cancellationToken = default(CancellationToken)`

@BrennanConroy please review.

[2019-01-16 20:48] guardrex commented on #10425
@serpent5 I nominate you for ...

### 🥇 **_Answer of the Day_** 🥇

Getting the .NET Foundation to send you a free case of :beer: is another matter tho. I have a feeling that I'm not going to get a lot of traction with that idea! 🤦‍♂️ lol

[2019-01-16 20:49] Rick-Anderson commented on #10410
[Create an ASP.NET Core app with user data protected by authorization](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/secure-data?view=aspnetcore-2.2) is our recommended authorization sample. authorization is difficult. A Policy, Role and Claims sample wouldn't be simpler.

Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issu

[2019-01-16 20:49] #10410 closed

[2019-01-16 20:53] endian02 opened #10437 "Good tutorial, just one more thing.."
If the database takes a long time to load, how do I show a "Please wait while loading..." page using dotnet Core and Razor?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f71b0095-5175-f2e8-1db2-a800e0f77ce2
* Version Independent ID: 6886d687-d6bf-2652-4583-5de7b7353e45
* Content: [Update the generated pages in an ASP.

[2019-01-16 21:04] Rick-Anderson commented on #10437
Thanks for the question. You'll probably get a faster answer on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter. If you post the question elsewhere, please update this issue with the link.

[2019-01-16 21:04] #10437 closed

[2019-01-16 22:17] smichaels1234 opened #10439 "Asp.Net Core 2.2 Angular 6 Debugging blank page in browser(no error)"
I am having an issue with the new asp.net core 2.2 framework and angular 6.  I create my application using dotnet new angular --no-https and it builds it perfectly ok.  The problem is when I go to debug it and try running the application just locally I get a blank page with absolutely no errors in the console or the web page itself.  I am not sure what is going on.  Is anyone else having this issu

[2019-01-16 22:21] pratishthap commented on #9681
public Startup(IConfiguration configuration, IHostingEnvironment env)
        {
 var builder = new ConfigurationBuilder()
                       .AddEFConfiguration(dbcontext);
 Configuration = builder.Build();
}

 public static class EntityFrameworkExtensions
    {
        public static IConfigurationBuilder AddEFConfiguration(
            this IConfigurationBuilder builder,dbcontext)
        {

[2019-01-16 22:35] Tratcher commented on #9681
Yes, that config will only be available in Startup. How were you consuming it?

If you want to change the IConfiguration instance that's available in DI you need to do that on the WebHostBuilder in Program.cs.

[2019-01-16 22:45] tdykstra commented on #10428
Yes, I think this is likely to cause confusion. It looks like the series wasn't updated for/validated with 2.2 -- maybe make this a general 2.2 update and set it to P1?

[2019-01-16 22:55] pratishthap commented on #9681
So inorder to get  IConfiguration values available in application controllers we need to do that in Program.cs. Do we need to do anything else for consuming the Data for it?I mean do we need to use IOptions somewhere for the same?

[2019-01-16 22:57] Tratcher commented on #9681
That depends on your usage scenarios. Where do you consume the config? That's what needs to pull for changes.

[2019-01-16 23:23] pratishthap commented on #9681
public static void Main(string[] args)
        {
            var configuration = new ConfigurationBuilder()
                              .AddEFConfiguration(dbcontext)
                              .Build();
           CreateWebHostBuilder(args,configuration).Run();
        }

 public static IWebHost CreateWebHostBuilder(string[] args, IConfiguration config) =>
            WebHost.CreateDefaultBu

[2019-01-16 23:30] Tratcher commented on #9681
Replace UseConfiguration with ConfigureAppConfiguration. There's a known issue with UseConfiguration where it copies they keys and then discards the providers.

[2019-01-16 23:38] CreativeHouseDotOrg opened #10441 "AspNetCore SignalR 1.1.0 - @aspnet/signalr works on Chrome and EdgeExplorer but not Firefox"
# Issue description
AspNetCore SignalR 1.1.0 - @aspnet/signalr works on Chrome and EdgeExplorer but not Firefox.

# Browsers Tested
- [X] Microsoft EdgeHTML 17.17134 -> WORKS 👍
- [X] Google Chrome Version 71.0.3578.98 (Official Build) (64-Bit) -> WORKS 👍
- [ ] Mozilla Firefox Quantum 64.0.2 (64-Bit) -> DOES NOT WORK 👎

# Software versions
- [X] .NET Core API
- [X] Angular 7.2.0
- [X] @aspnet/signa

[2019-01-17 00:00] pratishthap commented on #9681
thanks that got me to where i can see my provider getting registered.  Also is there not possibilty that instead of pulling, the changetoken itself gets triggered when database changes.

  public EFConfigurationProvider(DBContex dbContext)
        {
            _dbContext = dbContext;
            ChangeToken.OnChange(
             () => GetReloadToken(), // listener to token change
            ()

[2019-01-17 00:08] Tratcher commented on #9681
[OnChange](https://github.com/aspnet/Extensions/blob/077ece9c7993fc2b120f8befc2058adf700f6d5f/src/Primitives/src/ChangeToken.cs#L98) is just a wrapper for RegisterChangeCallback.

[2019-01-17 00:09] pratishthap commented on #9681
ok so we need to use some kind of poling mechanism inorder to get the database updates.

[2019-01-17 00:30] onovotny opened #10443 "Session state cookies can be marked as essential"
The docs here seem to indicate that Session state cookies are not essential but don't say that they can be.

https://docs.microsoft.com/en-us/aspnet/core/security/gdpr?view=aspnetcore-2.2#tempdata-provider-and-session-state-cookies-are-not-essential

This leads to the assumption that they cannot be marked as essential. Please update the docs and provide a code snippet that shows how to mark it as

[2019-01-17 00:34] clairernovotny opened #10444 "Docs and sample for combined OIDC and JWT authentication"
There don't seem to be any docs and samples that show how to combine Azure AD OIDC and JWT authentication in the same site.

You can call `AddAzureAD()` and `AddAzureADBearer()`, but you have to deduce that on your own, and it's not clear if order matters. Then, once you have both, strategies for using Authorize on API controllers vs view controllers should be discussed.

Current SPA guidance also

[2019-01-17 00:37] Tratcher commented on #10443
Correct, session can be marked as essential via its options, it's just not by default.

[2019-01-17 00:42] Tratcher commented on #9681
What do you have reading from IConfiguration? Options?

[2019-01-17 01:03] Rick-Anderson commented on #10443
@Tratcher 	can you give me code to make them essential?

[2019-01-17 01:06] CreativeHouseDotOrg commented on #10441
Solution
==============
It appears that i had the debugger messing around with the socket...

Below are two links with images showing the correct and the wrong case:

[WRONG -> I had the Settings set to Chrome and without script debugger][1]

[CORRECT -> The Settings like this resolved the error and all browsers were capable of Communicating with eachother][2]

  [1]: https://i.stack.imgur.com/I3t

[2019-01-17 01:06] #10441 closed

[2019-01-17 01:10] Kool-Koder commented on #10425
Great answer @serpent5 Thank you very much for sharing. Your help is much appreciated

[2019-01-17 04:34] krchome opened #10448 "YouTube version"
This part 7 has been cast into two sections as follows;
https://www.youtube.com/watch?v=Csh6gkmwc9E (7 of 8 - Section 1)
https://www.youtube.com/watch?v=mOAankB_Zgc (7 of 8 - Section 2)

If you find this video helpful, leave a comment or 👍

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 140ce637-4d58-995f-c69e-b1de51f1d

[2019-01-17 11:12] Toby9876 opened #10449 "Recommend: update this tutorial with a "OfficeAssignment model attribute check" sentence"
I ran into a problem following this tutorial on this page which took me some time to figure out.

Firstly I can concur with the #8049 issue "Code bug with model validation fails" in that when validation fails, an exception occurs in the looping of the Model.AssignedCourseDataList in the edit razor page since it has not been filled. I ran into this problem due to the below bug (of mine):

The view

[2019-01-17 11:16] Toby9876 commented on #9523
I ran into this problem as well due to a validation bug of mine (see reported #9523). When the tutorial is updated to take care of this validation problem it would be nice with a solution that don't clear the validation errors. Simply repopulating the model and return seem to not render the error message that caused the validation problem (does not state the error message on the page). Or?

[2019-01-17 11:56] guardrex commented on #10443
[code]

There's a bullet point in the [Session and app state topic (Session state section)](https://docs.microsoft.com/aspnet/core/fundamentals/app-state#session-state) that's a candidate for a note/example about this, too. However, it does link over to this topic, so it might ok as-is.

[2019-01-17 15:06] harryo opened #10450 "Broken link"
Link in 'View or download sample.' above Add a Data Model is broken. Should it be 'https://github.com/aspnet/Docs/tree/master/aspnetcore/tutorials/razor-pages/razor-pages-start/sample'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-

[2019-01-17 15:49] harryo opened #10451 "NewFolder cannot be renamed"
Would be nice to mention that NewFolder can only be renamed if the app is not running.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add a model to a Razor Pages app in ASP.NET Core](https://docs.microsoft.c

[2019-01-17 16:00] tdykstra opened #10452 "Globalization TOC node"
Per decision at 1/16 TOC meeting, create a top-level TOC node for globalization, and put the two globalization articles in it.

[2019-01-17 16:06] tdykstra opened #10454 "Rename "Other topics" to "Advanced""
Per decision at 1/16 TOC meeting, rename the "Other topics" TOC node to "Advanced".

[2019-01-17 16:09] shadinamrouti opened #10455 "Migration names are rendered as class names"
I suggest to add a note after using `add-migration Initial` that the migration name will be rendered as a class name. Thus naming conventions of classes should apply here. For example, it should start with a letter, preferably capital and should not contain special characters or spaces. What do you think?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-01-17 16:52] tdykstra opened #10456 "Rename and move TOC nodes"
* Rename Request features --> Request feature interfaces
  * (People might read Request features as  Request (verb) features)
* Rename Initiate HTTP requests --> Make HTTP requests
  *  (Make sounds less formal than Initiate.  People more likely to filter for HTTPClient -- add that to displayName field in YAML TOC)
* Move Factory-based middleware articles from Fundamentals to Advanced

[2019-01-17 17:14] shadinamrouti opened #10457 "Missing <strong> element"
**The first correction:**
This line:
`Func<dynamic, object> petTemplate = @<p>You have a pet named @item.Name.</p>;`
should become:
`Func<dynamic, object> petTemplate = @<p>You have a pet named <strong>@item.Name</strong>.</p>;`

this is in order to match the output which contains the `<strong>` tags.

**The second correction:**
This line:
 `@petTemplate2(pet)`

should become:
` @petTemplate(pet)`

[2019-01-17 17:15] tdykstra opened #10458 "Restructure Host content"
Per decision at 1/16 TOC meeting, restructure the Host node (currently in Fundamentals with WebHost and Generic Host under it) to:
* Host node in Fundamentals goes to article that shows how to set up web host (i.e., the current Web Host article with some intro content from the Host article)
* Generic host node in Advanced

[2019-01-17 17:41] tdykstra opened #10459 "Restructure Fundamentals TOC node and overview article"
Put both TOC and article H2 sections in this order:

Startup
DI
Middleware
Host
Servers
Config
Environments
Logging
Options
Routing
Handle errors

[2019-01-17 17:47] tdykstra opened #10460 "Split Middleware and Options content into Fundamentals and Advanced"
Per decision at 1/16 TOC meeting, content about how to use Middleware and Options is what should be in Fundamentals, while content about how to create Middleware and implement the Options pattern belongs in Advanced.  This work should wait until #10459 is done.

[2019-01-17 17:56] pratishthap commented on #9681
Currently i have not associated IOptions with IConfiguration for the same. How do i use poling and IOptions for changes to dbcontext

[2019-01-17 17:58] Tratcher commented on #9681
@HaoK ?

[2019-01-17 19:01] Rick-Anderson commented on #10451
Thanks for the suggestion but decided not to include it. That could be applied to many tutorials.

[2019-01-17 19:01] #10451 closed

[2019-01-17 19:05] Rick-Anderson commented on #10455
That could be added to https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/migrations but doesn't fit into this intro tutorial.

cc @tdykstra 	in case he'd like to add it to the RP/EF tutorial.

[2019-01-17 19:05] #10455 closed

[2019-01-17 19:10] Rick-Anderson commented on #10457
@shadinamrouti 	thanks for the report. Would you be able to create a PR to fix these issues?

[2019-01-17 19:36] guardrex opened #10461 "Soften 'performance penalty' language"
Per @muratg request at https://github.com/aspnet/AspNetCore/issues/6482#issuecomment-455300428 ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8f53b58-a048-69ca-2e89-3625bb4cc839
* Version Independent ID: 32a343a1-ba87-7274-e861-2ac194d5aa3d
* Content: [Web server implementations in ASP.NET Core](https://docs.micro

[2019-01-17 19:58] kkilton opened #10464 "502.5"
After installing the Core hosting runtime, you have to IISRESET. I spent hours trying to figure out why I kept getting this error even though dotnet --info was showing that everything was installed correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4f16c68-708b-003e-8c63-1df60c6344d0
* Version Independent ID: 2

[2019-01-17 20:28] serpent5 commented on #10457
I can take this one if @shadinamrouti doesn't want to do so.

[2019-01-17 20:44] tetryon opened #10466 "searchString parameter not changed in code block"
In the section that discusses changing the search string parameter to use ID, the following should be highlighted as it changed

if (!String.IsNullOrEmpty(id))

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9b9859c-b83c-5fc3-41d5-15531232185f
* Version Independent ID: 5438de31-8562-3747-d1a5-2a4622252fc1
* Content: [A

[2019-01-17 21:09] guardrex commented on #10464
Hello @kkilton ... It's covered in the IIS topic here (Step 2) ...

https://docs.microsoft.com/aspnet/core/host-and-deploy/iis/#install-the-hosting-bundle

It should also be covered as this common error ...

https://docs.microsoft.com/aspnet/core/host-and-deploy/azure-iis-errors-reference#incorrect-processpath-missing-path-variable-hosting-bundle-not-installed-systemiis-not-restarted-vc-redistribu

[2019-01-17 21:14] #10461 closed

[2019-01-17 21:22] shadinamrouti commented on #10457
Hi @Rick-Anderson , sure, I will do it. Thanks.

[2019-01-17 21:33] kkilton commented on #10464
Thanks!

[2019-01-17 21:33] guardrex commented on #10464
Sure thing ... leave this open ... it will auto-close when the PR merges.

[2019-01-17 22:41] Rick-Anderson commented on #10466
Thanks. We'll fix this in the next sweep.

[2019-01-17 22:58] #10237 closed

[2019-01-17 23:15] #10457 closed

[2019-01-17 23:33] #10345 closed

[2019-01-17 23:52] Rick-Anderson commented on #10450
@harryo 	thanks for pointing that out.

[2019-01-17 23:54] Rick-Anderson commented on #10444
@blowdart 	please review.

[2019-01-17 23:55] #10450 closed

[2019-01-18 00:05] #10079 closed

[2019-01-18 00:57] Rick-Anderson commented on #9504
Right click (in VS), go to definition takes you to *Data/ApplicationDbContext.cs*

[2019-01-18 00:57] #9504 closed

[2019-01-18 01:16] Rick-Anderson commented on #10439
Thanks for the question. You'll probably get a faster answer on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter. If you post the question elsewhere, please update this issue with the link.

[2019-01-18 01:16] #10439 closed

[2019-01-18 01:31] #8197 closed

[2019-01-18 01:36] Rick-Anderson opened #10473 "Create reviewers report"
* Create a list of reviews and send to `@Eilon`
* Ask for other SME's we can get to review/help.

[2019-01-18 03:35] Rick-Anderson commented on #4055
See Add some documentation for claims transformation (Auth) #2097

[2019-01-18 03:36] Rick-Anderson commented on #2097
Moved to #4055

[2019-01-18 03:36] #2097 closed

[2019-01-18 03:41] Rick-Anderson opened #10474 "Surface auth samples"
See https://github.com/aspnet/Docs/issues/4055#issuecomment-403953141
Create a page that links to the auth samples

[2019-01-18 05:38] jinqi166 opened #10475 "A lot's of exception be thrown on server , when websocket Client power off or unnormal closed."
# Issue description
1:  I follow the doc and made a websocket server ready.
2:  Then I made a websocket client like below.
3:  Run client and close the console when 100 client connected。
Now，The web server will be block about 10 seconds because so many exceptions are thrown。
**Some bad guy conneted to my websocket like this.**

    class Program
    {
        static void Main(string[] args)

[2019-01-18 06:03] davidfowl commented on #10475
What does your sever logic look like?

[2019-01-18 07:17] jinqi166 commented on #10475
This is my websocket server for test.

public class Startup
    {
        public Startup(IConfiguration configuration)
        {
            Configuration = configuration;
        }

        public IConfiguration Configuration { get; }

        // This method gets called by the runtime. Use this method to add services to the container.
        public void ConfigureServices(IServiceCollection servi

[2019-01-18 07:30] jinqi166 commented on #10475
you can open " //app.UseMvc();" , i remove it befor upload code.

[2019-01-18 07:41] jinqi166 commented on #10475
And here is a normaly .net core consol app for websocket server.  It is have that problem too.

[code]

[2019-01-18 13:49] stevejgordon opened #10477 "Document ObjectPool"
ObjectPool exists in Microsoft.Extensions.ObjectPool but does not appear to be documented in terms of when and how it should be used.

It would be good to provide guidance and when using ObjectPool may be appropriate.

Describe the use of classes deriving from PooledObjectPolicy<T>, the creation of a pool from the provider, getting and returning items to the pool.

FYI - @rynowak and @scottaddie

[2019-01-18 13:51] stevejgordon commented on #10477
Potential basis of a sample. Ignore the TPL Dataflow bits but this shoulds creating a policy which calls the appropriate object reset method, called when returning an object to the pool.

![image](https://user-images.githubusercontent.com/3669103/51390730-fc2d1c00-1b27-11e9-9c4d-a3a51fbe522b.png)

[2019-01-18 14:53] capitao014 commented on #9018
@Shampit did you manage to solve the problem?
I face the same problem and I'm not able to solve it, can you help me?

[2019-01-18 15:30] KSib commented on #9753
<vc:bread-crumb></bread-crumb> wouldn't work for anyone. It should be <vc:bread-crumb></vc:bread-crumb>

[2019-01-18 16:35] scottaddie commented on #9753
@KSib You are correct. See the following doc for more info: https://docs.microsoft.com/aspnet/core/mvc/views/view-components#invoking-a-view-component-as-a-tag-helper.

[2019-01-18 16:35] #9753 closed

[2019-01-18 16:45] guardrex commented on #8713
Just for the record, this was at least temporarily dropped by engineering. I still have the bits sitting on the sidelines to resolve this issue. They'll triage this issue when they take a look at the Integration Testing project and decide what they'd like to do.

https://github.com/aspnet/Docs/projects/31

[2019-01-18 17:05] rynowak commented on #10477
Some basic notes on this:

## What is it and why might you care?

The `ObjectPool` is a piece of infrastructure that supports keeping a group of objects in memory for reuse rather than allowing the objects to be garbage collected.

You might want to use the object pool if the objects that are being managed are:
- expensive to allocate/initialize
- represent some limited resource
- used predictably

[2019-01-18 18:53] Rick-Anderson commented on #10477
@stevejgordon 	can you write a simple sample app that uses `ObjectPool`? I can get this documented. Should it go in the Performance node?

[2019-01-18 19:03] blowdart commented on #10444
"Current SPA guidance also discusses using cookie auth for API calls if the auth cookie is same-site"

Which is frankly still controversial.

But as for using both Azure OIDC and JWT yea, but let's be clear, this is the AAD helpers, it's not a generic JWT and external auth topic.

We do take PRs Oren :p

[2019-01-18 19:05] #10428 closed

[2019-01-18 19:09] tdykstra commented on #9780
We chose a different tutorial for the A/B test.

[2019-01-18 19:09] #9780 closed

[2019-01-18 19:17] #10452 closed

[2019-01-18 19:17] #10454 closed

[2019-01-18 19:17] #10456 closed

[2019-01-18 19:21] Rick-Anderson commented on #8713
@guardrex 	you can always blog the bits.

[2019-01-18 19:21] tdykstra opened #10479 "Update Get Started tutorial for 3.0"
Update the tutorial for ASP.NET Core 3.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca6139d4-022c-395a-0abf-539660550df1
* Version Independent ID: 3dd23f8a-300e-3f78-1dc5-8b759aabdccc
* Content: [Get started with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/getting-started/?view=aspnetcore-2.1&tabs=w

[2019-01-18 19:22] tdykstra opened #10480 "Update Web API tutorial for 3.0"
Update the tutorial for ASP.NET Core 3.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?

[2019-01-18 19:24] tdykstra opened #10481 "Update Web API Mongo for 3.0"
Update the tutorial for ASP.NET Core 3.0.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5240866d-d0a1-f0dd-7b2c-203e1d69bc4b
* Version Independent ID: 83a5cb3b-23bc-4f0c-cd1c-1d1ffeb1131a
* Content: [Build web APIs with ASP.NET Core and MongoDB](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mongo-app?vie

[2019-01-18 19:25] tdykstra opened #10482 "Update RP Intro tutorial for 3.0"
Update the tutorial for ASP.NET Core 3.0.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66f32b67-7418-7f82-c813-c11650bb39a7
* Version Independent ID: 3e28328b-9c7a-359b-2f57-319b0bc7eea3
* Content: [Tutorial: Create a Razor Pages web app with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-p

[2019-01-18 19:26] tdykstra opened #10483 "Update MVC Intro for 3.0"
Update the tutorial for ASP.NET Core 3.0.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6e3baf6-6cba-aee0-9a8d-1e1fced2b690
* Version Independent ID: 74b76258-36a3-17de-6648-292da0a9e400
* Content: [Create a web app with ASP.NET Core MVC on Windows with Visual Studio](https://docs.microsoft.com/en-us/aspnet/core/tutor

[2019-01-18 19:26] tdykstra opened #10484 "Update SignalR JavaScript for 3.0"
Update the tutorial for ASP.NET Core 3.0.

See https://github.com/aspnet/Announcements/issues/372 on package name change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dd2991d-c22d-ad0f-80b6-bd1b503db8f3
* Version Independent ID: 5e3fbe1d-c97f-9940-4f0c-067d4b2112b1
* Content: [Get started with ASP.NET Core SignalR](

[2019-01-18 19:28] tdykstra opened #10485 "Update SignalR Typescript for 3.0"
Update the tutorial for ASP.NET Core 3.0.
See #9764

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47557f89-3a14-1139-0074-38d931b35faf
* Version Independent ID: 1cee43b4-b672-e480-3e26-72e08a6c2d77
* Content: [Use ASP.NET Core SignalR with TypeScript and Webpack](https://docs.microsoft.com/en-us/aspnet/core/tutorials/

[2019-01-18 19:33] tdykstra opened #10486 "Update EF RP for 3.0"
Update the tutorial for ASP.NET Core 3.0.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3964cdf7-752f-9b95-4e9f-06ee6315cba9
* Version Independent ID: 0a2bc801-fe4a-05a8-a409-324dc1f2720b
* Content: [ASP.NET Core Razor Pages with EF Core - tutorial series](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/?view=a

[2019-01-18 19:35] tdykstra opened #10487 "Update EF MVC for 3.0"
Update the tutorial for ASP.NET Core 3.0 and content model.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67d4c57d-4eb1-71fe-6587-b9967ad1b445
* Version Independent ID: 8f0488f1-adc0-b42c-9549-b4028d4317d6
* Content: [ASP.NET Core MVC with EF Core - tutorial series](https://docs.microsoft.com/en-us/aspnet/core/data/ef

[2019-01-18 19:41] tdykstra opened #10489 "Update all tutorials for 3.0"
Tracking issue for tutorial update work.  Tutorials listed in order of priority.

|  Tutorial set | number<br>of files | Open<br>issue | 3.0<br>completed | Notes |
|---|:-:|:-:|---|---|
| Get started                 | 1   |#10479|             |  |
| Intro to Razor Pages  | 11 |#10482|             | |
| Intro to Web API        | 1  | #10480|              |  |
| Intro to SignalR         | 1   |#1048

[2019-01-18 19:53] spboyer commented on #5450
See https://github.com/dotnet/dotnet-docker
There are well-documented samples in [/samples/aspnetapp](https://github.com/dotnet/dotnet-docker/tree/master/samples) with README for many scenarios.

[2019-01-18 20:45] Rick-Anderson opened #10492 "Remove VS windows from title."
Remove VS windows from title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6e3baf6-6cba-aee0-9a8d-1e1fced2b690
* Version Independent ID: 74b76258-36a3-17de-6648-292da0a9e400
* Content: [Create a web app with ASP.NET Core MVC on Windows with Visual Studio](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-

[2019-01-18 20:53] Rick-Anderson opened #10493 "Surface ASP.NET Core Docker Samples"
Stopgap issue until @glennc team completes #5450

Copy from https://github.com/aspnet/Docs/issues/5450#issuecomment-455667865 by @spboyer

See https://github.com/dotnet/dotnet-docker
There are well-documented samples in [/samples/aspnetapp](https://github.com/dotnet/dotnet-docker/tree/master/samples) with README for many scenarios.

[2019-01-18 20:58] #10492 closed

[2019-01-18 21:00] Rick-Anderson opened #10494 "Create report of PR and issue contributors"
Create XML file with PU contributions to PR's and issues.

[2019-01-18 21:36] Rick-Anderson commented on #10475
@BrennanConroy 	please review.

[2019-01-18 21:42] Rick-Anderson commented on #10474
@haok I'm using the v2.2.2 tag and VS can't build. What's the right version/tag to build the auth samples?

![image](https://user-images.githubusercontent.com/3605364/51414259-db5bcb00-1b15-11e9-9f9b-6eec8521925e.png)

[2019-01-18 22:04] BrennanConroy commented on #10475
I believe `WebSocket.CloseAsync` will block and wait for the client to gracefully close the connection, or in your case throw an exception after some timeout because the client didn't close gracefully. In SignalR we use `WebSocket.CloseOutputAsync` which will send the close frame to the client and not wait for a response. This can help prevent the exceptions and waiting for the timeout to occur.

[2019-01-18 22:11] HaoK commented on #10474
I'm not sure, what version of VS are you using?  Does it build on command line?  Usually you have to do a command line build first

[2019-01-18 22:12] guardrex commented on #6115
@Rick-Anderson @tdykstra What's the *where* for this? The current response formatting topic **with controllers** is under web API ...

https://docs.microsoft.com/aspnet/core/web-api/advanced/formatting

... but this topic is `IActionResult` **_for middleware_**. Where would you want this? @tdykstra, I think you're moving middleware subtopics elsewhere leaving a single middleware topic in *Fundamen

[2019-01-18 22:43] Rick-Anderson commented on #10474
@HaoK better error message from command line and it's building now.

[2019-01-18 22:56] Rick-Anderson commented on #10475
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-01-18 22:56] #10475 closed

[2019-01-18 23:05] mairaw commented on #10291
Other pages being reported for bad metadata. Please validate. Probably a bad combo of ms.prod and ms.technology values:
https://docs.microsoft.com/en-us/aspnet/api-ref
https://docs.microsoft.com/en-us/aspnet/config-builder
https://docs.microsoft.com/en-us/aspnet/entity-framework
https://docs.microsoft.com/en-us/aspnet/overview
https://docs.microsoft.com/en-us/aspnet/tutorials

[2019-01-18 23:11] tdykstra commented on #6115
@guardrex This could go under Advanced but it's still about response formatting, so I think it fits better under Web API right after Format response data.

[2019-01-18 23:14] guardrex commented on #6115
Would never use the approach tho with web API AFAICT. Such projects would just use a controller and OOB `IActionResult` with either in-box output formatting or custom. This seems more like a hybrid middleware-`IActionResult` approach and would be used in middleware scenarios. Just reading the tea leaves tho ... Scott is really the *web API guy* around here. lol

[2019-01-18 23:30] krchome opened #10496 "YouTube version"
Entire part 8 is divided into three sections for the video
Section 1 (Handling Concurrency Conflicts ) available at:
 https://youtu.be/EosxHTFgYps
(Section 2)
https://www.youtube.com/watch?v=kcxERLnaGO0&feature=youtu.be
(Section 3)
https://www.youtube.com/watch?v=d4RbpfvELRs

if you find this video helpful, leave a comment or 👍

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-01-18 23:34] #8101 closed

[2019-01-18 23:35] #10493 closed

[2019-01-18 23:59] Rick-Anderson commented on #6115
@jkotalik please suggest where in the TOC this topic should go.

[2019-01-19 01:12] Rick-Anderson commented on #10487
@tdykstra 	we don't have the resources to update this. We'll just go with the EF/RP series.

[2019-01-19 01:12] #10487 closed

[2019-01-19 01:15] edthehorse opened #10499 "jscript eratic"
great up to jscript stuff
then erratic

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?vie

[2019-01-19 01:20] Rick-Anderson commented on #9343
Fixed in unification version

[2019-01-19 01:20] #9343 closed

[2019-01-19 01:39] Rick-Anderson commented on #7072
@BrennanConroy 	can you update this or assign someone?

[2019-01-19 01:46] Rick-Anderson commented on #9537
Fixed in tutorial unification.

[2019-01-19 01:46] #9537 closed

[2019-01-19 01:48] #9579 closed

[2019-01-19 01:53] Rick-Anderson commented on #8870
@hishamco 	let me know if I can help you get started on this.

[2019-01-19 01:55] #9764 closed

[2019-01-19 01:57] Rick-Anderson commented on #9740
moved to #4556

[2019-01-19 02:02] #4151 closed

[2019-01-19 02:04] Rick-Anderson commented on #8476
@mikaelm12 @bradygaster 	can you supply the draft/code?

[2019-01-19 02:09] #10008 closed

[2019-01-19 02:14] Rick-Anderson opened #10501 "Update Angular SSR docs to match updated Angular 6 template"
Moved from #8139

_From @SteveSandersonMS on August 16, 2018 17:24_

The current docs are at https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/angular?view=aspnetcore-2.1&tabs=visual-studio#server-side-rendering

Discussed with @ryanbrandenburg

_Copied from original issue: aspnet/Templating#677_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-01-19 02:17] Rick-Anderson commented on #10501
@ryanbrandenburg 	in #8139 `danroth27` assigned ryanbrandenburg on Aug 16, 2018
Can you give me an ETA on this?

[2019-01-19 02:17] #8816 closed

[2019-01-19 02:18] #10116 closed

[2019-01-19 02:22] Rick-Anderson opened #10502 "Model binding doc updates"
Moved from #1080 by `@danroth27`

Something like "Model state is a record of what data was bound to your model and any errors with the bound data". Include a link to the validation doc.

- [ ] eliminate MVC-controller-views-specific language (include Razor Pages)
- [ ] explain [ bind] attribute
- [ ] Model binding doc should define what model state is
- [ ] Example of when binding fails - and how

[2019-01-19 02:30] Rick-Anderson opened #10503 "Document MapAreaRoute in the Areas doc"
Moved from #1852
Looks like we have a nice extension method for adding routes for a specific area:

https://docs.asp.net/projects/api/en/latest/autoapi/Microsoft/AspNetCore/Builder/MvcAreaRouteBuilderExtensions/index.html?highlight=maparearoute#Microsoft.AspNetCore.Builder.MvcAreaRouteBuilderExtensions.MapAreaRoute

We should include this in  this doc.

---
#### Document Details

⚠ *Do not edit th

[2019-01-19 02:32] Rick-Anderson commented on #10503
@guardrex 	wrote:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.mvcarearoutebuilderextensions?view=aspnetcore-2.0

`@danroth27` It's (somewhat*) documented over here :point_right: https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing#areas

somewhat* = Lacking API links and overloads info.

Seems a bit scatter-brained 😵 to have Areas documented in two plac

[2019-01-19 02:33] Rick-Anderson commented on #1852
moved to #10503

[2019-01-19 02:33] #1852 closed

[2019-01-19 02:43] #1397 closed

[2019-01-19 02:43] #7230 closed

[2019-01-19 02:45] Rick-Anderson commented on #4516
Fixed

[2019-01-19 02:45] #4516 closed

[2019-01-19 02:46] #1610 closed

[2019-01-19 02:47] Rick-Anderson opened #10504 "Show SaveTokens in OAuth setup and then later retrieval"
Moved from  #1883
`@Tratcher` 	wrote:

There should be a brief sample showing SaveTokens = true and then showing token retrieval in a controller (e.g. to make an API call).

https://github.com/aspnet/Security/issues/970
https://docs.asp.net/en/latest/security/authentication/sociallogins.html

Storage:

[code]

`@HaoK` do you have a retrieval sample?

`@HaoK` responds:
Extraction would be as simple

[2019-01-19 02:50] Rick-Anderson commented on #1883
Moved to #10504

[2019-01-19 02:50] #1883 closed

[2019-01-19 02:55] HaoK commented on #9072
Yep need to register the same instance for both stores or its out of sync

[2019-01-19 02:58] HaoK commented on #9072
Oh actually I misread, so I don't think there's anything wrong with registering it directly instead of using AddIdentity.  Transient might not be appropriate for a lifetime always.  I was actually referring to the case when the same store is used for both user and role stores, I don't think there's an actual issue with directly registering `IUserStore<TUser>` generally (assuming the developer unde

[2019-01-19 03:30] Rick-Anderson commented on #6295
@tdykstra 	please advice on the TOC
@daveabrock 	are you ready to do a PR?

[2019-01-19 03:32] Rick-Anderson commented on #6757
@bradygaster 	can you assign someone to do this?

[2019-01-19 03:40] Rick-Anderson commented on #2960
- [Debugging ASP Core on Linux with Visual Studio 2017](https://blogs.msdn.microsoft.com/premier_developer/2017/11/10/debugging-asp-core-on-linux-with-visual-studio-2017/)
- [Remote debugging asp.net core on linux server SO post](https://stackoverflow.com/questions/42483122/remote-debugging-asp-net-core-on-linux-server)
- [SO: How to debug a .NET Core app runnig in Linux Docker container from Visu

[2019-01-19 03:42] Rick-Anderson commented on #949
@daveabrock 	it needs to be a ref style doc

[2019-01-19 03:44] Rick-Anderson commented on #6925
@bradygaster 	please review/update

[2019-01-19 03:47] Rick-Anderson commented on #8461
@scottaddie is any of this completed?

[2019-01-19 04:56] dougbu commented on #10502
@Rick-Anderson what's the best way to convert the page to a Word doc?

And, is there a rush on this? (I still haven't got back to #9238 🙁)

I bet @danroth27 is correct those tick boxes can't be checked off. (Even if he's incorrect in only listing two of the three supported formats for dictionary values. 😈) However I may not catch all of the "market speak" @danroth27 mentioned.

[2019-01-19 07:12] edthehorse opened #10505 "about time"
excellent article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a54c97f-ddd4-b041-5e5f-a2df009ace50
* Version Independent ID: fa488196-1f98-08ea-adcc-17d9dac86727
* Content: [Razor Pages with Entity Framework Core in ASP.NET Core - Tutorial 1 of 8](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/intro?view=a

[2019-01-19 08:13] #10505 closed

[2019-01-19 08:15] noobling opened #10506 "`KeyboardEvent.keyCode` has been deprecated perhaps update to `KeyboardEvent.code`"
Please see this article for further details: https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47557f89-3a14-1139-0074-38d931b35faf
* Version Independent ID: 1cee43b4-b672-e480-3e26-72e08a6c2d77
* Content: [Use ASP.NET Core SignalR with TypeScript and

[2019-01-19 11:04] BharatBhushan1610 commented on #10311
![doc error](https://user-images.githubusercontent.com/46257901/51425868-f870c680-1c07-11e9-9918-1d552d5a908d.PNG)
I had to add these changes along with some string to ObjectId conversion to make the PUT method work fine

[2019-01-19 12:19] pantonis commented on #9879
@leutrnkien211 any luck on this?

[2019-01-19 12:50] prkhandelwal commented on #10311
@BharatBhushan1610 Although that would would work, the issue was to eliminate the need to explicitly assign the id value.

[2019-01-19 14:07] guardrex commented on #8302
[code]

[2019-01-19 17:07] tdykstra commented on #6295
@Rick-Anderson The suggestion  **Web API > Advanced > Control content type negotiation** sounds OK, though it's fairly long and will wrap.  When the doc contents are finalized we can see if it's possible to shorten the TOC node.

[2019-01-19 17:14] hishamco commented on #8870
Sorry I was sick after that too busy, let me start on this week, of course I will let you know when I need your help .. thanks

[2019-01-19 17:16] hishamco commented on #2501
FYI I update the tool that I created, so you can generate `resx` files from `restext` files, but still Visual Studio support will be great

[2019-01-19 17:37] tdykstra commented on #5847
The download link will change from

https://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8

to

 https://github.com/tdykstra/aspnet-docs/blob/efmvc2/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/sample/ef6-mvc5-sample-app.zip?raw=true

[2019-01-19 18:35] ManavDev commented on #8527
Hello Rick,

I created the project (File > New > Core and selected core 2.2) but the project structure looks different than yours. It created Controllers, Models, and Views but yours has just Page folder. Please help.

[2019-01-19 18:55] Rick-Anderson commented on #9072
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-01-19 18:55] #9072 closed

[2019-01-20 00:21] Rick-Anderson opened #10511 "Add link to Microsoft/ApplicationInsights-aspnetcore/wiki/Logging"
Microsoft/ApplicationInsights-aspnetcore/wiki/Logging
part of #7316

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-f367-d733-8933-bccc04da0e16
* Content: [Logging in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?v

[2019-01-20 05:15] Rick-Anderson commented on #9740
@danroth27 	who's the ODATA contact?

Per @danroth27

[2019-01-20 12:18] neman opened #10513 "Is it possible to change environment variable for web.config during Web deploy?"
I'm publishing app using Web Deploy (VS Project right click -&gt; publish -&gt; web deploy publish profile)
Can you please add instructions how to Set environment variables for web.config during web deploy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe69b3a9-896f-e189-0c2c-f87ff735df9c
* Version Independent ID: 97c

[2019-01-20 14:06] rmccabe24 opened #10514 "Missing code from examples"
This code refers to "MultipartRequestHelper" and "_defaultFormOptions" but does not elaborate on where they come from.

Please update examples with further explanation OR link to GitHub repo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5cfa38-0e6c-4346-dafc-84ea5c513fcf
* Version Independent ID: c6787f0f-3e9a-6efb

[2019-01-20 14:08] rmccabe24 commented on #10514
NOTE: The GitHub link is to the top level GitHub and not to this specific example

[2019-01-20 15:36] gregcummines opened #10515 "The step by step"
The step by step docs are so helpful! It allows me to actually build something useful as I read. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47557f89-3a14-1139-0074-38d931b35faf
* Version Independent ID: 1cee43b4-b672-e480-3e26-72e08a6c2d77
* Content: [Use ASP.NET Core SignalR with TypeScript and Webpack]

[2019-01-20 15:38] #10515 closed

[2019-01-20 15:39] gregcummines commented on #10515
Not sure how I opened an issue, but didn't mean to. I just closed it.

[2019-01-20 16:02] guardrex commented on #10513
Hello @neman ... Thanks for asking. When the engineers were discussing it with the community on the engineering repo, they didn't open a docs issue at that time. So, let's ask now.

btw --- Just to recap for the *environment ONLY*: In the Web Deploy profile (pubxml), provide the following ...

[code]

... or to use an MSBuild property, use `$(EnvironmentName)` within the project file.

**WRT env v

[2019-01-20 16:36] vijayrkn commented on #10513
Yes, the web.config transform support is officially supported for 2.2. Also this should have all the support similar to the global tool.

[2019-01-20 16:37] guardrex commented on #10513
Thanks @vijayrkn ... I'll work it on the issue and see about getting it done on the next sprint.

I'll open `<EnvironmentName>` and `$(EnvironmentName)` as a separate issue, and I'll try to get that on this sprint.

[2019-01-20 16:40] guardrex commented on #10165
Piggyback coverage for `<EnvironmentName>` and `$(EnvironmentName)` on this issue.

See: https://github.com/aspnet/Docs/issues/10513#issuecomment-455878513

Cross-ref:

* https://github.com/aspnet/AspNetCore/issues/2019#issuecomment-401645563
* https://github.com/aspnet/AspNetCore/issues/2019#issuecomment-406343756

[2019-01-20 17:08] molatO commented on #6146
I chose MVC over Razor pages due to it's ability to integrate with angular

[2019-01-20 17:12] ardalis commented on #6146
In terms of API calls, or something else? Both MVC and Razor produce the
same HTML for their pages/views so I'm not sure what integration
you're referring to.

On Sun, Jan 20, 2019 at 12:08 PM Egbuta Kelechi <notifications@github.com>
wrote:

--
Steve Smith
http://ardalis.com | http://twitter.com/ardalis

[2019-01-20 17:35] molatO commented on #6146
I should have been a bit clearer in my reply. Here's what I imply. MVC is quite similar to WebAPI in it's implementation. The major difference being in their output i.e. html and json. As a result I believe the MVC tutorial plays well, when trying to understand the interaction between a WebAPI project and an angular project. In contrast to a Razorpages which as the name suggests are just pages wit

[2019-01-20 18:32] guardrex commented on #10514
Hello @rmccabe24 ... This is a duplicate of https://github.com/aspnet/Docs/issues/10214 ... We don't have an ETA for an overhaul of the topic at this time. When the doc author who handles the topic comes to work on it, they'll see this issue along with the rest via the cross-link that I just added.

[2019-01-20 18:32] #10514 closed

[2019-01-20 21:07] #8302 closed

[2019-01-20 21:14] Rick-Anderson commented on #6146
@molatO that's not correct.
There's no difference in the ability of Razor VS MVC to work with angular.

[2019-01-21 07:43] yoorw opened #10517 "Unable to Publish to Azure for ASP.NET MVC Database First Site"
I was following this tutorial: https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/database-first-development/publish-to-azure and am not able to access the database data on the web app using Azure.
I am able to run the app locally and access the the database data.

The web app published successfully.
Clicking on "List of students" results in

An error occurred while processing yo

[2019-01-21 08:08] RemiBou commented on #10116
@scottaddie sorry for the lack of feedback, I'll send a repro soon

[2019-01-21 08:17] glatzert opened #10535 "Link Documentation to Source Code"
Sometimes during browsing the API-Reference on docs.microsoft.com (like this: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.internal.formfile.-ctor?view=aspnetcore-2.2), I'd like to know the _actual_ implementation of the method.

Please provide a link into the GitHub source code - or for namespaces at least the GitHub repository.

[2019-01-21 11:01] luboshl opened #10518 "Wrong link"
The link of "View or download sample code" in the beginning refers to "https://github.com/aspnet/AspNetCore/tree/release/2.2/src/AuthSamples/" which doesn't exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 150023ea-e35a-4a06-6f71-7ab63994b07f
* Version Independent ID: 7b5c3832-a5a3-a27a-eed3-3ecfc3e8dbe2
* Content

[2019-01-21 11:45] clarenceb opened #10519 "VSCode: Missing package Microsoft.EntityFrameworkCore.Design when generating movies scaffolded page"
VSCode instructions omit the step:

`dotnet add package Microsoft.EntityFrameworkCore.Design`

which is required to generate the scaffolded page.

Before (error):

[code]

After (working):

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e

[2019-01-21 11:49] ashishonce opened #10520 "UseWhen works instead of Mapwhen"
regarding this line
app.MapWhen(
        context =&gt; context.Request.Path.ToString().EndsWith(".report"),
        appBranch =&gt; {
            // ... optionally add more middleware to this branch
            appBranch.UseMyHandler();
        });

while creating a list of multiple middlewares.
app.MapWhen is not forwarding the request to further pipeline,
instead app.UseWhen is working properly

[2019-01-21 14:36] #10518 closed

[2019-01-21 15:06] riaadh commented on #9398
please update the documentation this is is still not solved

[2019-01-21 17:04] Gammerz26 opened #10523 "display-4 class unavailable"
In the instructions to amend "Pages/Index.cshtml", the Bootstrap class "display-4" is specified. On my copy of VS 2017 Community V15.9.5, this class doesn't appear in the Bootstrap code-completion list, and has no effect on the display if it's omitted or changed to another class (e.g. "display-1").

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-01-21 17:42] baruchiro opened #10524 "What is "4 of 10" in title?"
What is `4 of 10` in the title?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e56e675b-5964-a75b-7e45-6f6d1a607e65
* Version Independent ID: 78e47218-58a3-f8d9-e091-306126871a67
* Content: [ASP.NET Core MVC with EF Core - Migrations - 4 of 10](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/migrations?view=as

[2019-01-21 21:32] Rick-Anderson commented on #10524
Part 4 of the 10 part series.

[2019-01-21 21:32] #10524 closed

[2019-01-21 21:34] KarimShavar opened #10527 "Typo in "Examine the context registered with dependency injection""
`The preceding code creates a DbSet/<Movie> property for the entity set.`
'/' in DbSet<;Movie> for Visual Studio section.

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add a model to a Razor Pages app in ASP.NET

[2019-01-21 21:36] Rick-Anderson commented on #10523
See the Prerequisites

[2019-01-21 21:36] #10523 closed

[2019-01-21 22:38] mattspicer1 opened #10528 "ConfigureAppConfiguration for hosted service not working"
&lt;Need to call ConfigureHostConfiguration with AddEnvironmentVariables for it to pick up the EnvironmentName &gt;

# Software versions

Check the .NET target framework(s) being used, and include the version number(s).

- [2.1 ] .NET Core
- [ ] .NET Framework
- [ ] .NET Standard

<details>
I've created my own branch with my changes in it to fix the problem.  It won't let me push the branch to cre

[2019-01-21 22:48] Rick-Anderson commented on #10520
@mperdeck please review

[2019-01-21 22:57] Rick-Anderson commented on #10519
@clarenceb 	I'm going to add that in #10530 because this is the 4th report. I can't repo this with the current SDK. I don't think it's required. We've got alot of folks reporting success without it - but it won't hurt to add it.

[2019-01-21 23:01] #10527 closed

[2019-01-21 23:01] Rick-Anderson commented on #10527
Fixed in #10529
Thanks for reporting.

[2019-01-21 23:02] #10519 closed

[2019-01-21 23:59] pkellner opened #10532 "Opening sentence baffles me."
What does this mean?  "This article was written using ASP.NET Core MVC, but view components also work with Razor Pages."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d2902f4-b6fd-ba1c-6762-d7c26f5eb4b9
* Version Independent ID: b5715d72-5f10-bb93-1051-7f06dfa9cde8
* Content: [View components in ASP.NET Core](https:/

[2019-01-22 04:51] footed commented on #5832
Did somebody try to solve this issue?

[2019-01-22 07:10] Rick-Anderson commented on #10326
Done

[2019-01-22 07:10] #10326 closed

[2019-01-22 08:35] gpadbidri commented on #9472
What do you mean by "Current Version - 1" ? I dint get what you meant by CURRENT. You saying current because browsers auto-update themselves ?

[2019-01-22 09:41] saswatsaubhagya opened #10536 "Unable to host multiple asp.net core application on linux server"
Hello there i am new to the asp.net core, But i have experience on asp.net web-form and asp.net mvc.
Actually before i host my application on windows server IIS. But now i try to host on Linux server (Ubuntu with Apache 2).
I followed all the Linux server deployment documentation and successfully host the application. But the problem is i only able to host a single application on a server. my requ

[2019-01-22 10:18] Gammerz26 commented on #10523
Can community edition user upgrade to core .Net to 2.2 by simply downloading the link here https://dotnet.microsoft.com/download/dotnet-core/2.2, in order to run through this tutorial, or are there other changes that need to be performed?

[2019-01-22 12:18] AGuyCalledGerald opened #10537 ".Net Core - IFormFile is null"
# Issue description

when posting a form with a single IFormFile, the file is null.

Model:
`public class ViewModel
{
    public IFormFile File { get; set; }
}`

View:

`@model ViewModel`
`@using (Html.BeginForm("Action", "Controller", FormMethod.Post, new { enctype = "multipart/form-data" }))
{`
`<input type="file" asp-for="File" />`
`}`

Controller:
`[HttpPost]
public async Task<ActionResult> Ac

[2019-01-22 14:14] guardrex commented on #10528
Hello @mattspicer1 ... That's by-design. Setting the environment is required for host configuration.

In the Web Host topic, we note that this is the case (emphasis added) ...

If you need additional advice or help, contact devs on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter.

[2019-01-22 14:14] #10528 closed

[2019-01-22 14:19] guardrex commented on #10536
@shirhatti

[2019-01-22 14:24] guardrex commented on #10537
Hello @AGuyCalledGerald ... We have an issue to cover updates to the topic, but we don't have an ETA for that work yet. It's covered by https://github.com/aspnet/Docs/issues/10214. I'll add a reference to this issue to the list there, but I'm going to close this. The doc author who deals with the updates to that issue will see your remarks here.

We don't have enough staffing to offer product supp

[2019-01-22 14:24] #10537 closed

[2019-01-22 15:25] sugarjig opened #10539 "Use Async/await in WriteResponseBodyAsync"
My understanding of async/await is that you should use it through the entire call stack in order to benefit from it. Shouldn't the `WriteResponseBodyAsync` method look more like this?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2207f37-0cf3-3ab9-add8-c50c36409b53
* Version Independent ID: df89a2fd-501e-c917

[2019-01-22 16:19] #10311 closed

[2019-01-22 16:31] kokaruk opened #10541 "Identity already exists, need to update _LoginPartial @Inject"
If IdentityMVC already exists, need to update _LoginPartial @inject statements with new identity class

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 431df4fc-4168-cc8f-d053-9b264d2971c1
* Version Independent ID: cd157d04-d596-83fa-6edb-24d52193eb34
* Content: [Add, download, and delete user data to Identity in an ASP.

[2019-01-22 16:39] shadinamrouti opened #10542 "Web server controls"
As you know, web server controls topic [is no longer supported in other parts of Microsoft Docs](https://docs.microsoft.com/en-us/previous-versions/dotnet/netframework-3.0/7698y1f0(v=vs.85)), therefore, I suggest removing the paragraph titled "Tag Helpers compared to Web Servers Controls" or at least keep the Tag Helpers advantages alone as absolute features of this new technology.

---
#### Docum

[2019-01-22 17:38] jeremymeng commented on #10511
I prefer the docs.microsoft.com as it's more centralized. However, we probably should consult the Application Insights team.

@xiaomi7732 could you please help find a proper contact for this documentation question?

[2019-01-22 18:01] Rick-Anderson commented on #10523
Yes, install the 2.2 SDK.

[2019-01-22 18:02] #10532 closed

[2019-01-22 18:07] Rick-Anderson commented on #10539
@halter73 please review.

@sugarjig 	I think you're right. And `WriteResponseBodyAsync` shouldn't be named async if it's not async.

cc @scottaddie

[2019-01-22 18:10] Rick-Anderson commented on #10541
@kokaruk 	what is `IdentityMVC` ?

[2019-01-22 18:12] Rick-Anderson commented on #10542
People still like to compare them.

[2019-01-22 18:12] #10542 closed

[2019-01-22 18:22] Rick-Anderson commented on #9280
@bradygaster 	please review and schedule

[2019-01-22 18:26] Sotr461 opened #10545 "AD LDS"
Does .NET Core support AD LDS (Active Directory - Light Directory Service)?

One of the reason we cannot migrate to .NET Core from .NET because all of our web-apps are using AD LDS for authentication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec484002-18c1-6a0d-00de-820d56f038d3
* Version Independent ID: 7903ce53-

[2019-01-22 18:36] guardrex commented on #10545
@blowdart

btw- We don't document it if we do, and there's darn little on the Net generally, too.

[2019-01-22 18:39] Rick-Anderson opened #10546 "Describe Composite Formatting of ValidationAttribute ErrorMessages"
Moved from #4505 by @Rabadash8820

It recently came to my attention that `ValidationAttribute` error messages support [composite formatting](https://docs.microsoft.com/en-us/dotnet/standard/base-types/composite-formatting).  I discovered this while reading about [localization of DataAnnotations](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization#dataannotations-localization).

[2019-01-22 18:41] Rick-Anderson commented on #4505
Moved to #10546

[2019-01-22 18:42] #4505 closed

[2019-01-22 18:56] #5922 closed

[2019-01-22 18:59] Rick-Anderson commented on #10494
Done and report moved to teams.

[2019-01-22 18:59] #10494 closed

[2019-01-22 19:08] #10473 closed

[2019-01-22 19:08] Rick-Anderson commented on #10473
Done

[2019-01-22 19:15] Rick-Anderson commented on #949
@daveabrock 	it should in the style of [View components](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-components?view=aspnetcore-2.2)

The first part tells you what you need to know in ref style. Like that, you could add a walkthrough follow up section.

[2019-01-22 19:18] Rick-Anderson commented on #7316
@guardrex 	see stopgap issue #10511

[2019-01-22 19:22] #9348 closed

[2019-01-22 19:25] guardrex commented on #7316
@Rick-Anderson Very good. I was hoping (*am hoping*) that it can merely be linked to an existing AI topic. If not, this becomes a section in the Logging topic.

After we have an answer from the AI folks and decide that we'll need to work this issue, do you still want me to do this given that @tdykstra did the last major overhaul to the topic?

[2019-01-22 19:36] Rick-Anderson commented on #7316
@guardrex 	we got an answer in https://github.com/aspnet/Docs/issues/10511
@tdykstra 	can do it.

[2019-01-22 19:53] guardrex commented on #10545
Thanks @blowdart.

@Sotr461 ... Thanks for asking. This is a *very rare* question ... here anyway ... you're the first to ask on the docs repo AFAIK. I'm going to close for now, but let's see if anyone else asks. If we get another question or two about this, then we'll schedule an update to surface some content on it. Thanks again for mentioning it.

[2019-01-22 19:53] #10545 closed

[2019-01-22 20:03] xiaomi7732 commented on #10511
@lmolkova Are you the right person to make the call?

[2019-01-22 20:07] DanJ210 commented on #10398
@Rick-Anderson Selecting "Yes" doesn't seem to create the needed assets (tasks) to run dotnet apps, not dotnet core. That's what @guardrex was referring to with what I was looking into. Running iisexpress like Visual Studio does so that I can use VS Code to build and debug dotnet apps.

@kimfucious mentioned dotnet, I don't see dotnet core, so I'm under the impression that he's referring to the sa

[2019-01-22 20:08] lmolkova commented on #10511
we've recently changed approach for logging and after we ship a next stable version, the right way to use logging will be via Microsoft.Extensions.Logging.ApplicationInsights package.

Here is a github issue to document it: https://github.com/Microsoft/ApplicationInsights-dotnet-logging/issues/251

People with more context are @cijothomas   @RamjotSingh

[2019-01-22 20:10] vmandic opened #10549 "scaffolder details on Model and DbContext from referenced projects"
I am having an issue in finding any suitable information on is it possible to specify in generator's options for model and dc if a model and / or dc can be used from other referenced project(s)? And if so, how to?

e.g. if located in web project directory could I run aspnet-generator List -m Proj2.MyModel -dc Proj2.MyDbContext -outDir Pages/MyModelList ?

---
#### Document Details

⚠ *Do not edit

[2019-01-22 20:50] guardrex commented on #10185
I just assessed this :eyes: ... we can't move the section. It falls properly under app configuration along with other app configuration content. Moving it would break the flow and organization of the topic. I'm sorry that the OP had trouble locating *web.config* transformation coverage via Google search; however, we can't directly control what Google returns for given keywords. Devs will need to r

[2019-01-22 20:50] #10185 closed

[2019-01-22 20:55] Rick-Anderson commented on #10549
@vmandic 	can you open that issue at https://github.com/dotnet/cli/issues/new

[2019-01-22 20:55] #10549 closed

[2019-01-22 21:00] danroth27 commented on #9740
@mikepizzo Where are the ASP.NET Core OData docs published and managed?

[2019-01-22 21:16] guardrex commented on #10201
@jkotalik ... I think we cover everything with the 2.2 doc updates. When looking :eyes:, I paid special attention to ...

* IIS In-Process only runs on .NET Core
* Noting that IIS Out-Of-Process doesn't work with IIS In-Process Server.

On the first one, it was resolved by *In-proc not supported for netfx #10321*. It says that *everywhere on Earth* now. :smile:

On the 2nd one, we're clear what sc

[2019-01-22 21:40] blowdart commented on #8580
That would be a decision for the customer, and outside of scope for the basic templates. We assume that external providers do the validation.

[2019-01-22 21:46] danroth27 commented on #7816
Seems to be answered, so closing.

[2019-01-22 21:46] #7816 closed

[2019-01-22 21:47] danroth27 commented on #8947
Should be fixed now. Thanks!

[2019-01-22 21:47] #8947 closed

[2019-01-22 21:57] danroth27 opened #10553 "Add a doc on how to use services from DI when configuring options"
The current [Options](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options) topic is mostly of reference of everything you can do with options. We need a doc that is more task oriented that helps users figure out how to access DI services when configuring options for various components.

@Rick-Anderson  edit:
27 K PV, 50% CSAT

---
#### Document Details

⚠ *Do not edit t

[2019-01-22 21:58] danroth27 commented on #9096
It sounds like both scenarios being asked about here are really about how to get access to services through DI when setting up options. I agree it would be best to document this in one place that other docs can reference. Filed https://github.com/aspnet/Docs/issues/10553 to track.

[2019-01-22 21:59] NotMyself opened #10554 "Unable to build app created with dotnet new react command"
I am attempting to build a SPA application created with `dotnet new react` command using docker. Using the following Dockerfile, I get an *npm not found* error.

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46a10a5c-bacc-1bcf-a7ae-499715e1bfdd
* Version Independent ID: 1585163b-b1d7-eeb8-ebc6-adfc2730f393
* Con

[2019-01-22 22:04] #7891 closed

[2019-01-22 22:05] Rick-Anderson commented on #7405
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-01-22 22:06] Rick-Anderson commented on #7167
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-01-22 22:06] #3083 closed

[2019-01-22 22:08] Rick-Anderson commented on #6436
Thanks for the question. You'll probably get a faster answer on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter. If you post the question elsewhere, please update this issue with the link.

[2019-01-22 22:08] #6436 closed

[2019-01-22 22:08] Rick-Anderson commented on #6414
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-01-22 22:08] #6414 closed

[2019-01-22 22:12] #6323 closed

[2019-01-22 22:12] Rick-Anderson commented on #6323
Closing due to lack of resources.

[2019-01-22 22:12] #5828 closed

[2019-01-22 22:13] Rick-Anderson commented on #5735
@tdykstra 	@scottaddie 	what's the right tools to look for bad links?

[2019-01-22 22:22] guardrex commented on #5735
Not that you asked *me*, but I recommend http://home.snafu.de/tilman/xenulink.html ... I'm I 😵? ... but it works *InSaNeLy* well. Also note that the problem with script-kitty approaches on the repo is that because the content validator thing throws errors instead of warnings, we can't script massive sets of changes on PRs now. *Just say'in!* ... but perhaps you (admins) can merge anyway. That's an

[2019-01-22 22:25] Rick-Anderson opened #10556 "Improve CSAT: Migrating Auth and Identity to 2.0"
Moved from #5589
7 K PV, 0% CSAT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f4b263b-e8f9-8b44-8c13-5bc0128fb1c9
* Version Independent ID: 985774b6-a165-f22c-c354-6c12a6783063
* Content: [Migrate authentication and Identity to ASP.NET Core 2.0](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identit

[2019-01-22 22:28] #9292 closed, assigned to Rick-Anderson

[2019-01-22 22:54] user135711 commented on #6130
Yes, I should have time rather soon.

[2019-01-22 22:56] scottaddie commented on #10554
Please see the following workaround: https://github.com/aspnet/aspnet-docker/issues/347#issuecomment-354316642. Also, you can join the discussion here: https://github.com/aspnet/Docs/issues/5450.

[2019-01-22 22:56] #10554 closed

[2019-01-22 23:02] bradygaster commented on #9280
@Rick-Anderson assigning the new-and-awesome SignalR label so we can triage these during our regular team triage.

[2019-01-22 23:03] bradygaster commented on #6925
@Rick-Anderson assigning the new-and-awesome SignalR label so we can triage these during our regular team triage.

[2019-01-22 23:03] bradygaster commented on #6757
@Rick-Anderson assigning the new-and-awesome SignalR label so we can triage these during our regular team triage.

[2019-01-22 23:04] bradygaster commented on #8476
@Rick-Anderson assigning the new-and-awesome SignalR label so we can triage these during our regular team triage.

[2019-01-22 23:04] bradygaster commented on #7072
@Rick-Anderson assigning the new-and-awesome SignalR label so we can triage these during our regular team triage.

[2019-01-22 23:16] Rick-Anderson commented on #9344
@adravi 	how's the sample coming?

[2019-01-22 23:17] Rick-Anderson commented on #8696
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-01-22 23:17] #8696 closed

[2019-01-22 23:20] Rick-Anderson commented on #9499
Closing. Kudu links are very useful.

[2019-01-22 23:20] #9499 closed

[2019-01-22 23:29] #9519 closed, assigned to nobody

[2019-01-22 23:29] #6502 closed, assigned to Rick-Anderson

[2019-01-22 23:33] Rick-Anderson commented on #7988
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-01-22 23:33] #7988 closed

[2019-01-22 23:34] Rick-Anderson commented on #6834
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-01-22 23:34] #6834 closed

[2019-01-22 23:36] Rick-Anderson commented on #3166
@hishamco can you PR the first draft of this doc? Let me know how I can help. I could create a PR with the TOC (table of content) update and an article stub if that would help.

[2019-01-22 23:37] Rick-Anderson commented on #9271
@dougbu 	please respond.

[2019-01-22 23:42] Rick-Anderson commented on #9863
@JulioJu 	let me know if you have any good tips on ASP.NET Core development on **Linux**

[2019-01-22 23:43] Rick-Anderson commented on #10117
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-01-22 23:43] #10117 closed

[2019-01-22 23:45] Rick-Anderson commented on #10020
We can't explain everything in this doc. The best advice is to work through this tutorial, then start drilling down on the details you need.

[2019-01-22 23:45] #10020 closed

[2019-01-22 23:46] #9053 closed

[2019-01-22 23:50] dougbu commented on #7806
@reponemec I am wondering if your project has validation of top-level properties disabled.

Since the `Create.cshtml.cs` file in the docs doesn't seem to be part of a larger project, could you please share your `.csproj` file and `Startup` class? That'll help us understand the exact scenario.

[2019-01-23 00:18] Paul-RHT commented on #6359
I had same problem,
dotnet version: 2.1.6
It's solved by removing a redundant reference to EntityFrameworkCore (Microsoft.AspNetCore.All has it as a dependency)

[2019-01-23 00:27] #6611 closed, assigned to nobody

[2019-01-23 00:31] Rick-Anderson opened #10557 "Request Features needs a sample project with compiling code."
Moved from #6134

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41d7ad78-542f-236c-f5b4-0273558674b9
* Version Independent ID: f64165fc-ccf3-62cd-9ae4-313dfe7d1911
* Content: [Request Features in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/request-features?view=aspnetcore-2.1)
* Content Sour

[2019-01-23 00:33] Rick-Anderson commented on #6134
Moved to  #10557

[2019-01-23 00:41] Rick-Anderson commented on #10274
@danroth27 	please review. This is marked P2 because it's automatic done as part of the 3.0 doc updates. cc @tdykstra 	@scottaddie

[2019-01-23 01:15] Rick-Anderson opened #10559 "Introduction to ASP.NET Core clean up"
Moved from #1367
- [x] Add link to "Side-by-side app versioning when targeting .NET Core."
- [x] The hosting doc goes into detail on content root and web root. Point to them for details.

per `@danroth27`
By default the content root will be the location where your app dll is loaded from, which ~~during development~~ [edit insert] { in test/production}  is the bin directory. The content directory i

[2019-01-23 01:51] Rick-Anderson commented on #8580
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-01-23 01:51] #8580 closed

[2019-01-23 01:54] #10114 closed

[2019-01-23 01:55] #10165 closed

[2019-01-23 01:58] Rick-Anderson commented on #9271
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-01-23 02:01] Rick-Anderson commented on #1367
MOved to #10559

[2019-01-23 02:01] #1367 closed

[2019-01-23 02:04] ahsteele commented on #9509
Rick,

Sorry for my delayed reply. I hit the ground running these past few weeks
and haven’t had a chance to get back to this. The documentation for what
needs to be done is in the Angular JS project on GitHub. I will try and
pull the details out by the end of the week. Thank you for hitting me up on
this.

Andrew

On Tue, Jan 22, 2019 at 5:25 PM Rick Anderson <notifications@github.com>
wrote:

[2019-01-23 02:07] Rick-Anderson commented on #8304
Fixed in unified version

[2019-01-23 02:07] #8304 closed

[2019-01-23 02:11] Rick-Anderson commented on #6967
Dup of #9706, #9706, #10418

[2019-01-23 02:11] #6967 closed

[2019-01-23 02:49] #7405 closed

[2019-01-23 02:51] #6134 closed

[2019-01-23 02:51] #9271 closed

[2019-01-23 03:08] Rick-Anderson opened #10560 "Add default timeout and how to change"
Question:As per the documentation below, the health checks are executed periodically if we add publisher. What’s the default interval for auto execution of tests and is there any override?

Per `@pranavkm`

It defaults to 30 seconds and you can configure it using HealthCheckPublisherOptions.Period:

`services.Configure<HealthCheckPublisherOptions>(options => options.Period = ...);`

---
#### Docum

[2019-01-23 03:10] Rick-Anderson commented on #10560
@guardrex 	if you can knock this out quickly do it anytime and ask for review from me and `@pranavkm`

[2019-01-23 03:15] Rick-Anderson opened #10561 "session state is considered a cache that can be removed at any time."
per `@Tratcher` in xsp email  	**Subject**: RE: Unexplained loss of session state in ASP.NET Core 2.1 MVC App on IIS (using .NET Framework)

Yes session state is considered a cache that can be removed at any time. Critical application data should be stored in the user database and cached in session only as a performance optimization.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-01-23 03:37] tdykstra commented on #5735
CATS -- https://contentqacats.azurewebsites.net/

[2019-01-23 03:39] Rick-Anderson opened #10563 "How to customize the login buttons"
- Scaffold Identity
- Update this code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1612f19-f267-493a-c230-2ca18e4eb50b
* Version Independent ID: d312db0f-6cf1-87ca-09b0-604a66e18a07
* Content: [Facebook, Google, and external provider authentication in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/secur

[2019-01-23 03:50] Rick-Anderson commented on #5735
We should probably run CATS a couple every 6 months - at least.
Last CATS output had about 50% false positives - not too bad.

[2019-01-23 03:55] nicholasyin opened #10564 "What's the relationship between the service configuration here and the one inside Startup?"
I am a bit surprised to see that the custom WebApplicationFactory still has the specification of Startup class. I think it's more intuitive to eliminate the use and get ignorant of the real Startup class, as its name TestServer could imply that it already has all the information of running a testing host, without the knowledge of the real Startup class.
Anyway, what's consequences of having 2 diff

[2019-01-23 04:03] nicholasyin commented on #10564
It looks like the use of real Startup class is to configure the test server with the same configuration as the real server. So this part makes sense to me now. But still the last question remains: how do the 2 places of configuration work, when they actually configure the same server feature?

[2019-01-23 04:47] #10561 closed

[2019-01-23 04:50] Rick-Anderson opened #10565 "describe what the arguments here do"
Feedback from @dc995 in internal email thread : **Subject**: RE: health checks and db

 I would put a diagram in for the flow of data (creating events and publishing events) reflect that to the calls.

The biggest thing was understanding the arguments here (both what the defaults do (where you verify the json endpoint and what this call does to change where it looks).

I would show a separate cont

[2019-01-23 04:56] Rick-Anderson commented on #10565
@glennc please triage and indicate what updates we should make.

[2019-01-23 08:37] gpadbidri opened #10568 "SignalR CURRENT Version"
What do you mean by "Current Version - 1" ? I dint get what you meant by CURRENT. You saying current because browsers auto-update themselves ?

[2019-01-23 08:56] kokaruk commented on #10541
@Rick-Anderson oops, it was 4 am here. I meant, if we're scaffolding Identity in an MVC project with existing identity for the purpose of extending user data class, injecting that said new class is a crucial step.

[2019-01-23 10:06] hishamco commented on #3166
Sure, let me start on this before the localization extensibility one, but one more thing shall I do it as FAQ or is there a guidance which I don't know about troubleshooting docs

[2019-01-23 11:22] SteveSandersonMS commented on #10337
@Rick-Anderson I'm not the best person to review this, as I'm not familiar with the `UseSwagger` middleware` - sorry!

[2019-01-23 13:48] guardrex commented on #10565
@Rick-Anderson AFAIK from my discussion with engineering (mostly Ryan) on the issue, BeatPulse documents their own liveness libraries and their UI, not us. If that's correct (and maybe its not going to be the case going forward), most of the questions asked should be directed to the [BeatPulse repo issues](https://github.com/Xabaril/BeatPulse/issues). My understanding (*was anyway*) from Ryan that

[2019-01-23 14:33] guardrex commented on #10564
Hello @nicholasyin ... We can't address your engineering question directly here on the docs repo unless Javier would like to comment on that here. We just handle doc issues (*mostly* lol).

That's a good ask because we *don't say* in the topic. To complicate matters a bit further (and we probably do a better job with it), there's `ConfigureTestServices` for mocking in a test. That section that per

[2019-01-23 14:41] guardrex commented on #10560
Yes, it's a quick one (btw - didn't seem to make the cut for 3.0 as it only appears in the archived repo).

Cross-ref: https://github.com/aspnet/Diagnostics/blob/082d505977d72c75b68935c93c21feded6928e5f/src/Microsoft.Extensions.Diagnostics.HealthChecks/HealthCheckPublisherOptions.cs

[2019-01-23 14:41] jwiese-ms commented on #10563
I followed something I found online to accomplish this, basically replacing the code in login.cshtml that creates the button with a some if statements (could use a switch) that creates it's own button based on the provider.  I used FontAwesome to get the brand icons so they look like they should. attached is my changed page. More work could probably be done to ensure they follow each brands guidel

[2019-01-23 14:44] jwiese-ms commented on #10563
and the css I put into site.css:

[code]

[2019-01-23 14:52] smichaels1234 commented on #10439
Link to other forum: https://forums.asp.net/p/2151545/6246470.aspx?Asp+Net+Core+2+2+Angular+6+Debugging+blank+page+in+browser+no+error+

[2019-01-23 15:09] javiercn commented on #10564
If you call ConfigureServices on the custom WAF it will run before startup.ConfigureServices, you can override services this way if your startup class uses the tryaddXXX pattern.

For other cases there's a ConfigureTestServices extension method that you can call and that will run after Startup.ConfigureServices.

ConfigureTestServices requires that the app has a void ConfigureServices(IServiceColl

[2019-01-23 15:09] #10564 closed

[2019-01-23 15:19] shadinamrouti opened #10572 "Kebab case"
A suggestion to rename "lower kebab case" in 3 places to "kebab case" because kebab case is lower by nature.

References:
- http://wiki.c2.com/?KebabCase
- https://en.wikipedia.org/wiki/Letter_case#Special_case_styles

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19ecfbee-8b84-9ef2-65b6-8c2542f6370f
* Version Independ

[2019-01-23 15:47] pranavkm commented on #7951
Could we point to the MSBuild documentation - https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-properties instead?

[2019-01-23 16:53] scottaddie commented on #10568
@gpadbidri Can you please link to the doc that uses this language?

[2019-01-23 18:21] ChrisSfanos commented on #5832
Have we previously published language-specific versions of those files previously?

[2019-01-23 18:52] Rick-Anderson commented on #10565
@glennc 	please triage, set priority and indicate what we should change.

[2019-01-23 19:15] Andrew-MSFT commented on #2501
This is something we'd like to support eventually, but it's not on the roadmap in the .NET Core 3.0 time frame

[2019-01-23 19:47] Languafe commented on #10398
For Visual Studio Code, suggest using dotnet watch run in (Integrated) terminal instead of ctrl+f5, which doesn't auto-recompile on changes. The tool is readily available now unlike before when it had to be installed.

[2019-01-23 19:54] Languafe opened #10579 "Suggestion: for vs code users suggest dotnet watch run instead of ctrl+f5"
The latter will by default open your browser to https://localhost:5001 unless you manually edit the generated launch.json, for no good reason. If using dotnet watch run from a terminal the tutorial shouldn't have to specifically call out when you need to rebuild.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-

[2019-01-23 20:44] Rick-Anderson commented on #10337
@Tratcher 	please suggest a reviewer.

[2019-01-23 20:46] Rick-Anderson commented on #3166
You could create it as a new issue FAQ. I'll mark it as a discussion issue.

[2019-01-23 21:00] drguildo opened #10581 "Create a web API with ASP.NET Core MVC 500 Error"
# Issue description

I've been following "*Tutorial: Create a web API with ASP.NET Core MVC*" and when I get to "*Add a PutTodoItem method*" and run the PUT request in Postman I get a `500 Internal Server Error` and:

_InvalidOperationException: The instance of entity type 'TodoItem' cannot be tracked because another instance with the same key value for {'Id'} is already being tracked. When attach

[2019-01-23 21:02] guardrex commented on #6115
@jkotalik ping ... if too busy to :eyes: tho ... let me know ... I'll kick this back a sprint ... no worries.

[2019-01-23 21:02] dojademake opened #10582 "Warning placement above Initial migration section"
The "No type was specified for the decimal column 'Price'" warning should be moved from the bottom of the "Scaffold the movie model" section down to the end of "Initial migration" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd

[2019-01-23 21:15] dougbu commented on #10337
@Tratcher `swaggerDoc.BasePath` is helpful when using CLI tools to interrogate a project or application for its Open API or Swagger documentation. I don't remember if Swashbuckle pays attention to `request.BasePath` when the document is retrieved from the app's Swagger endpoint or when the user heads to the UI endpoint.

[2019-01-23 21:18] dougbu commented on #10337
@domaindrivendev could you please fill in my gap:

That is, does Swashbuckle use information from the request when serializing Swagger or Open API documents (in the non-CLI case)? If yes, does request information _override_ settings such as `swaggerDoc.BasePath`?

[2019-01-23 21:23] jkotalik commented on #6115
I don't really know much about IActionResultExecutor. @rynowak ?

[2019-01-23 21:40] #10572 closed

[2019-01-23 21:41] shadinamrouti commented on #10572
It's done. You may proceed with review and merge.

[2019-01-23 21:42] rynowak commented on #6115
I think that all that needs to be said is that these APIs allow you to customize what happens when an action result is executed. We shouldn't provide support or guidance for using them outside of MVC. I know that this works, and it's cool, but it's not an official recommendation from the team.

[2019-01-23 21:52] guardrex commented on #6115
@rynowak

... that's not what a custom output formatter does in MVC/web API?

What's the difference between custom output formatters and using `IActionResultExecutor` in MVC/web API? All I see online is `IActionResultExecutor` with middleware.

[2019-01-23 21:58] nicksterx commented on #9965
@guardrex

I believe this is because of a netstandard project being a project dependency of a netcoreapp project. If I run

`dotnet publish -c Release -o ..\publish .\SampleApp\SampleApp.csproj`

it outputs a runtime directory of

[code]

If I remove the netstandard project as a project dependency then none of the runtimes are built. I'm not sure if this is documented anywhere.

[2019-01-23 22:06] guardrex commented on #9965
That's interesting. Now that I can repro it, I'll take a look and get back to you. Give me a few days ... I'm 🏃🏃🏃🏃😅 at the moment.

[2019-01-23 22:10] rynowak commented on #6115
Formatters participate in content-negotiation based on a variety of data, and they are always concerned with *how do I write this thing to the response body*. In this case it's the `ObjectResultExecutor` that calls into the formatters.

Action Results do a million different things.

I don't have a clear picture in mind of what kinds of things we'd document related to this.

[2019-01-23 22:14] guardrex commented on #6115
Ah ... in which case ... @Rick-Anderson, I recommend we close. This is very *edgy* for us, especially considering the workload. If devs want the middleware scenario for this, multiple blogs exist ... well written blogs (i.e., @khellang) ... to explain.

[2019-01-23 23:01] shadinamrouti commented on #10572
@Rick-Anderson, may you reopen the issue? I want to handle the same in a comment of [the sample code](https://github.com/aspnet/Docs/blob/master/aspnetcore/mvc/views/tag-helpers/authoring/sample/AuthoringTagHelpers/src/AuthoringTagHelpers/TagHelpers/EmailTagHelperMailTo.cs).

To become:
`// PascalCase gets translated into kebab-case.`

instead of:
`// Pascal case gets translated into lower-kebab-c

[2019-01-23 23:17] #6115 closed

[2019-01-23 23:26] #8733 closed, assigned to nobody

[2019-01-23 23:35] joshberry commented on #9398
I too was struggling to get SSR working with latest template. I ended up starting from scratch with asp.net core 2.2 and angular 7.2. It was surprisingly straightforward and I was even able to get SSR working on the server without the need to deploy node_modules.

You can find the example here if you're interested: https://github.com/joshberry/dotnetcore-angular-ssr.

I'd be interested to know if

[2019-01-23 23:35] Rick-Anderson commented on #7326
@HaoK both would be nice. Many sites have an opt-in policy for 2FA.

[2019-01-23 23:38] #9234 closed

[2019-01-23 23:39] joshberry commented on #9882
Checkout this example: https://github.com/joshberry/dotnetcore-angular-ssr.

I started fresh with asp.net 2.2 and angular 7.2 and is was not too difficult to setup the hosting and server side rendering. It doesn't require node_modules to be deployed to the server either. Let me know if you see any issue with or shortcomings to this setup.

[2019-01-23 23:39] Rick-Anderson commented on #7147
Fixed in unified release.

[2019-01-23 23:39] #7147 closed

[2019-01-23 23:40] #9723 closed

[2019-01-23 23:41] #6634 closed

[2019-01-23 23:42] Rick-Anderson commented on #6553
Moved to https://github.com/aspnet/Docs/issues/5832

[2019-01-23 23:42] #6553 closed

[2019-01-23 23:44] Rick-Anderson opened #10587 "Use etc/hosts file as an option for testing with a domain name"
Created by @user135711 in #6889

Before your domain is registered, and to save the trouble of setting up Bind9 as a DNS, I think there should be a line at the beginning of both linux tutorials reminding the reader that for testing purposes you can use etc/hosts file to temporarily test your domain name in the tutorials.

* https://docs.microsoft.com/aspnet/core/host-and-deploy/linux-nginx
* https:

[2019-01-23 23:45] Rick-Anderson commented on #10587
@shirhatti quick/easy review.
cc @guardrex

[2019-01-23 23:46] Rick-Anderson commented on #6889
Moved to #10587

[2019-01-23 23:46] #6889 closed

[2019-01-23 23:46] Rick-Anderson commented on #6031
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-01-23 23:46] #6031 closed

[2019-01-23 23:49] Rick-Anderson commented on #9844
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-01-23 23:49] #9844 closed

[2019-01-23 23:57] HaoK commented on #7326
The authenticator token provider is added as part of 'AddDefaultTokenProviders' so skipping that call will prevent it from being enabled for the app.

There's a general flag per user for whether tfa is enabled, if they want even further granularity to just disable the authenticator for this user, that would be something the app needs to add, perhaps as a new field in their user data

[2019-01-23 23:57] HaoK commented on #7326
https://github.com/aspnet/AspNetCore/blob/bfec2c14be1e65f7dd361a43950d4c848ad0cd35/src/Identity/Core/src/IdentityBuilderExtensions.cs#L21

[2019-01-24 00:01] #7069 closed

[2019-01-24 00:03] Rick-Anderson commented on #6857
Dup of #3208

[2019-01-24 00:03] #6857 closed

[2019-01-24 00:04] Rick-Anderson commented on #6857
@scottaddie 	see  https://github.com/dotnet/docs/issues/10100

[2019-01-24 00:09] Rick-Anderson commented on #9154
@scottaddie 	can we close this? We'll never have time to keep that up to date. That should be authored by the Azure team.

[2019-01-24 00:15] Rick-Anderson commented on #2256
@guardrex 	what's the difference between `FormTagHelper` and `FormActionTagHelper`
`FormActionTagHelper` is used [here](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-2.2&tabs=visual-studio#multiple-handlers-per-page)

[2019-01-24 00:19] Rick-Anderson opened #10590 "Add Razor pages to Dependency injection into views"
Moved from #7052 by @guardrex

If we update the existing topic to include pages, then we can cross-link the updated topic into the RP area of the TOC (with a revised topic title) ...

Dependency injection into Razor Pages and MVC views in ASP.NET Core

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed756b9c-1d37-cd29-db

[2019-01-24 00:20] Rick-Anderson commented on #7052
moved to #10590

[2019-01-24 00:20] #7052 closed

[2019-01-24 00:31] Rick-Anderson commented on #8583
No. This is how it should be. External logins are protected by whatever the external login provider provides. We don't then layer anything else on top. Consider, for example, Google, my Google login demands a hardware key. I should not then be subjected to a second 2fa prompt by whatever web site I'm logging into wants. The current behaviour is fine. It's by design.

[2019-01-24 00:42] vovikdrg opened #10591 "UseCookiePolicy together with Facebook, Google login"
Please provide more information how to use cookie policy with external logins.

Currently if I apply cookie policy I am getting correlation error. It looks like that user must accept cookie and only after that they will be able to login with external login

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28d0490e-205f-20

[2019-01-24 01:05] Rick-Anderson commented on #5310
dup of #2256

[2019-01-24 01:05] #5310 closed

[2019-01-24 01:06] Rick-Anderson opened #10593 "Doc missing Tag Helpers"
Moved from @simonech #2256
See #2256 for details. Summary here

Missing:
- [x] FormActionTagHelper
- [ ] LinkTagHelper #12167
- [x] ~OptionTagHelper~ - This works in conjunction with the SelectTagHelper and has no value on its own.
- [x] ~RenderAtEndOfFormTagHelper~ - This works in conjunction with other inner-form TagHelpers such as `input`. Not intended to be used directly.
- [ ] ScriptTagHelper

[2019-01-24 01:08] Rick-Anderson commented on #2256
Moved to #10593 to make it more discoverable.

[2019-01-24 01:08] #2256 closed

[2019-01-24 01:10] guardrex commented on #10587
That argument can be made *in many places* tho throughout the hosting topics (i.e., we don't do this for Windows *hosts* file). Some concepts are just too far afield for ASP.NET Core. Too many remarks like this muddy the core topic concepts.

[2019-01-24 01:14] Rick-Anderson commented on #10591
@vovikdrg 	I think that's correct. @HaoK 	is that correct? Should we document you must accept cookie policy before you can use an external login?

[2019-01-24 01:16] juandelcid opened #10594 "ExecStart issues when running on RHEL"
On RHEL, this does not work:

[code]

You need to create a shell script:

[code]

and run that script from the service file:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcdd2c35-bf2b-2673-d150-303a8aaa54d2
* Version Independent ID: 815fe034-c9fc-aee3-a8b5-f2e860b30302
* Content: [Host ASP.NET Core on Linux w

[2019-01-24 01:18] Rick-Anderson commented on #10581
@drguildo 	I'm not sure what you're doing wrong but that's a pretty good error message. The code does work.
#10289 is unrelated and he was unable to repo the error.

[2019-01-24 01:18] #10581 closed

[2019-01-24 01:21] HaoK commented on #10591
Yes if you don't accept cookie policy, all bets are off and lots of things won't work, and aren't expected to work

[2019-01-24 01:32] shirhatti commented on #10594
I haven't tried it myself, but I'm skeptical of it. @juandelcid What's the reason `ExecStart` doesn't work as specified?

[2019-01-24 01:33] #10587 closed

[2019-01-24 01:37] shirhatti commented on #10536
https://github.com/aspnet/Docs/issues/9851#issuecomment-445306174

As a convenience, we've setup a single virtual host that binds to all host names. If you want to host multiple hostnames, setup up different virtual host instead of a wildcard binding

[2019-01-24 01:40] Rick-Anderson commented on #9270
Can't we remove the 1.x content?

[2019-01-24 01:41] Rick-Anderson commented on #5028
@danroth27 	please review/set priority.

[2019-01-24 01:44] #6144 closed

[2019-01-24 01:45] guardrex commented on #10517
Examine the Application Event Log ...

https://docs.microsoft.com/aspnet/core/host-and-deploy/azure-apps/troubleshoot#application-event-log

and/or enable stdout logging (same topic) ...

https://docs.microsoft.com/aspnet/core/host-and-deploy/azure-apps/troubleshoot#aspnet-core-module-stdout-log

[2019-01-24 01:45] Rick-Anderson commented on #9370
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-01-24 01:45] #9370 closed

[2019-01-24 01:52] guardrex commented on #10536
... will be covered in many external topics. Closing as answered; but if we receive this question regularly, we may need to expand coverage in the future.

[2019-01-24 01:52] #10536 closed

[2019-01-24 01:52] juandelcid commented on #10594
I'm sorry... it was a matter of just using `dotnet`... you're correct, this works:

[code]

[2019-01-24 01:53] #10594 closed

[2019-01-24 01:54] #10591 closed

[2019-01-24 01:55] guardrex commented on #9270
Earlier, we said we'd go with PDFs; but as we get closer to mid-year (June 27 2019 ... EOS for 1.x), I guess we'll be killing it more and more without going to the trouble of PDFing the 1.x bits.

[2019-01-24 02:51] Rick-Anderson commented on #9712
@blowdart 	should I add this to docs.microsoft.com/en-us/aspnet/core/security/authorization/policies ?

[2019-01-24 02:52] Rick-Anderson commented on #9464
@HaoK 	let me know how I can help.

[2019-01-24 02:54] Rick-Anderson commented on #9327
For advanced tutorials, we typically don't list all `using` statements. Intellisense does a really good job of helping you. Worst case, check the source.

[2019-01-24 02:54] #9327 closed

[2019-01-24 02:55] Rick-Anderson commented on #9619
#8440 should be enough.

[2019-01-24 02:55] #9619 closed

[2019-01-24 03:08] Rick-Anderson commented on #3068
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-01-24 03:08] #3068 closed

[2019-01-24 03:09] Rick-Anderson commented on #8633
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-01-24 03:09] #8633 closed

[2019-01-24 03:10] Rick-Anderson commented on #8430
Fixed in unified tutorials.

[2019-01-24 03:10] #8430 closed

[2019-01-24 03:15] Rick-Anderson commented on #9763
Closing because this is not a https://github.com/aspnet/Docs issue.

[2019-01-24 03:15] #9763 closed

[2019-01-24 03:19] Rick-Anderson commented on #7180
@scottaddie @tdykstra @guardrex
closing as we don't need this. 3.0 will soon be the focus.

[2019-01-24 03:19] #7180 closed

[2019-01-24 03:21] #7917 closed

[2019-01-24 03:21] #3913 closed

[2019-01-24 03:30] Rick-Anderson commented on #10417
Advanced tutorials typically don't show includes. Check the download source if you need that.

[2019-01-24 03:30] #10417 closed

[2019-01-24 03:32] Rick-Anderson commented on #9708
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-01-24 03:50] Rick-Anderson commented on #9360
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-01-24 03:50] #9360 closed

[2019-01-24 05:00] Rick-Anderson commented on #7847
@guardrex 	please suggest a doc this issue should be attached to.

[2019-01-24 05:06] Rick-Anderson commented on #8910
The link to the EF docs is all we need.

[2019-01-24 05:06] #8910 closed

[2019-01-24 06:10] domfermi commented on #10501
The only way to publish an Angular web portal on the web is using Angular Universal because SEO so on my project I configured the SSR with Angular 7 using the UseSpaPrerendering configuration

When a brower asks for the first time the HTML with the first GET, the server gets between 3 to 7 seconds to render the page.
I have the same issue with IIS Express and IIS 8.5 on Windows Server 2012 R2.
TTF

[2019-01-24 09:54] chaelli commented on #10244
Unfortunately, the above link is removed. Any other inputs on that? I don't see any "clean" solution that really uses policies for that, as the source system needs to understand the filter

[2019-01-24 13:08] guardrex commented on #7847
@Rick-Anderson Perhaps none because we only keep two unit tests topics ([Razor Pages tests](https://docs.microsoft.com/aspnet/core/test/razor-pages-tests) & [Test controllers](https://docs.microsoft.com/aspnet/core/mvc/controllers/testing)), and this doesn't look like it fits neatly into either of them. I think Scott's plan was to make a new topic for this under the *Test, debug, and troubleshoot*

[2019-01-24 13:30] guardrex commented on #10536
Yes, consult documentation on virtual hosts. For example ...

* http://httpd.apache.org/docs/2.4/vhosts/
* https://geekflare.com/multiple-domains-on-one-server-with-apache-nginx/

If you need additional support, consult devs on a support forum, such as Stack Overflow, or a support chat such as Slack or Gitter. I'm the wrong person to ask about this because my Linux experience is limited to RPi ...

[2019-01-24 13:36] ganjeii opened #10598 "No Example for AspNetCore"
Hi! Currently, the documentation only shows an example for configuring the .net client for a forms application. But, say for an AspNetCore web app, it would be nice to see a best practice for configuring the client on app startup. For example: Where would be best to execute a method to configure the client on startup?  The "Configure" method in the startup class would be my first guess, maybe by d

[2019-01-24 13:53] gvsrini opened #10599 "Link to a sample Web Application"
Design looks good, but a sample working Web Application will help a long way in understanding the implementation aspects.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbb49e16-b543-30ae-88e5-2241836e2510
* Version Independent ID: d42b1eab-9682-ea69-f203-e519b456a56f
* Content: [ASP.NET Core Data Protection](https://d

[2019-01-24 14:32] ZombiesWithCoffee opened #10600 "Initial example, are there errors?"
I see that the method CreateAsync is calling CreatedAtAction, but with the name of GetByIdAsync.  Shouldn't it be nameof(CreateAsync)?

And isn't the ModelState.IsValid check obsolete as explained a few paragraphs later?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b391017f-25e1-d5e1-c4f7-020408ade7b5
* Version Indep

[2019-01-24 15:40] shadinamrouti opened #10601 "A suggestion to rewrite some code to its equivalent to avoid a string problem"
Hi, I suggest to rewrite the following code:

[code]
to its equivalent:

[code]
and also reflect the change in the text if there is any reference to the previous style.

**Justification:**
If one of the `WebsiteContext` model attributes is `string`, it will be impossible to supply its value.
For example, make the following attribute string:

`public string TagsToShow { get; set; }`

and try to pro

[2019-01-24 15:44] scottaddie commented on #10600
Think of `nameof(GetByIdAsync)` as a pointer to the HTTP GET action which is capable of retrieving the newly created pet in this HTTP POST action. It's used by ASP.NET Core to generate a `Location` header in the HTTP response.

That `ModelState.IsValid` check is unnecessary ONLY when using the `[ApiController]` attribute.

[2019-01-24 15:57] #10108 closed

[2019-01-24 16:08] ZombiesWithCoffee commented on #10600
Thanks for the explanation.  At this point int he Web API documentation, CreatedAtAction wasn't yet defined and looked strange there.  :)

[2019-01-24 16:13] scottaddie commented on #10600
We talk about this in our web API tutorial; however, I see the explanation there is incorrect. Working on a fix for that right now.

[2019-01-24 17:58] Rick-Anderson commented on #10598
That's not correct. The sample code is all from an ASP.NET Core app.

Per the doc:

[2019-01-24 17:58] #10598 closed

[2019-01-24 18:06] #9055 closed

[2019-01-24 18:10] Rick-Anderson commented on #10600
The sample is using `[ApiController]`

- remove the unnecessary code and rewrite the **Automatic HTTP 400 responses** paragraph.
- Explain how to disable auto validation.
- Add a link to **Automatic HTTP 400 responses** in  #8951 and close both issues.

[2019-01-24 18:51] tdykstra commented on #10210
Resolved by creating issues for various plans made -- #10458 #10459 #10460 #10456 #10454 #10452

[2019-01-24 18:51] #10210 closed

[2019-01-24 19:05] #5847 closed

[2019-01-24 19:10] Rick-Anderson commented on #10244
The title doesn't have auth in it.

[2019-01-24 19:16] #10090 closed

[2019-01-24 19:16] #10195 closed

[2019-01-24 19:16] #10600 closed

[2019-01-24 19:55] drguildo commented on #10581
@Rick-Anderson To be sure I was using the correct code I cloned this repository and built and ran the project from there. Exact same problem.

I tried to enable `EnableSensitiveDataLogging` using `services.AddDbContext<TodoContext>(opt => opt.UseInMemoryDatabase("TodoList").EnableSensitiveDataLogging());` but it just transparently has no effect and I still get told to enable it in the exception.

[2019-01-24 19:59] scottaddie commented on #8951
The association between `ApiControllerAttribute` and model validation was added in https://github.com/aspnet/Docs/commit/01cbe3293ee5e3c8ee94eb6b983f1b490f4d0f54#diff-32ecea2bb2ea2e9e3fa915ff43125fcf. The doc points to the **Automatic HTTP 400 responses** section of the attribute's doc, which shows how to suppress the behavior.

[2019-01-24 19:59] #8951 closed

[2019-01-24 20:19] streetwiseherc commented on #6146
What version (MVC, Razor Pages, Razor Components (aka server-side Blazor)) is going to be used for the Contoso University tutorial for the forthcoming ASP.NET Core 3.0 release?

[2019-01-24 20:55] #10267 closed

[2019-01-24 21:19] IrakliLomidze opened #10609 "How to add js code in ViewComponent"
1) How to add js code in ViewComponent
2) How to property reference on JQuery
3) What is  $( document ).ready(function() Alternative in ViewComponent Lifecylce
4) How to avoid multiple js code loading, when use ViewComponents

Please Put all of this in to the current document
Thank you in Advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-01-24 21:22] Rick-Anderson commented on #10609
@guardrex 	isn't Blazer more appropriate for this request?

[2019-01-24 21:54] bradygaster commented on #6925
once #10611 is merged this will be complete, so closing now.

[2019-01-24 21:54] #6925 closed

[2019-01-24 22:02] guardrex commented on #10609
1. I would've thought a section would work. I haven't tried it, but it should 🤞 be ok (note that script file loading like this can block rendering).

[code]

2. I don't understand the 2nd question.
3. The `$(document).ready(function() { ... });` or `$(function() { ... })` executes when the DOM is ready. There's no alternative.
4. Load the common code outside of the VC.

These behaviors probably ar

[2019-01-24 22:08] #10089 closed

[2019-01-24 22:20] #9351 closed

[2019-01-25 00:06] guardrex commented on #7380
I have a process now. It was a bit of hand-to-hand combat there with the docs and portal to get it straight. I'm happy with the outcome. https://rexkeyvault.azurewebsites.net/

@Rick-Anderson Here are some notions ...

WRT this issue: We can link out for MSI basics, but I don't want to leave our readers at the mercy of those docs and the portal. There are some 🐉🐉🐉 in there, and I'd hate to see a d

[2019-01-25 00:16] Rick-Anderson commented on #7380
@glennc 	can you answer this?

My preference is `Azure CLI`, it's easier to maintain.

[2019-01-25 00:18] stefanjm opened #10613 "Web API apps tutorials possible conflict"
# Issue description
The [_Action return types_](https://docs.microsoft.com/en-us/aspnet/core/web-api/action-return-types?view=aspnetcore-2.2#asynchronous-action-1) and [_Overview_](https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-2.2#derive-class-from-controllerbase) sections under Web API apps docs have conflicting examples.

The Asynchronous action example under _Action retu

[2019-01-25 00:33] Rick-Anderson opened #10614 "Remove preferred approach"
preferred approach

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67d4c57d-4eb1-71fe-6587-b9967ad1b445
* Version Independent ID: 8f0488f1-adc0-b42c-9549-b4028d4317d6
* Content: [ASP.NET Core MVC with EF Core - tutorial series](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/?view=aspnetcore-2.2)
* Content Sour

[2019-01-25 00:38] Rick-Anderson commented on #7380
Yes

Definitely can't say don't use the portal. The Azure team needs to doc the portal. The portal changes frequently.

[2019-01-25 00:39] guardrex commented on #7380
I know ... just kidding. I do feel bad tho for anyone who hits a few snags that I hit.

[2019-01-25 01:20] HappyNomad opened #10617 "Please clarify: Why remove connection from group?"
The `OnDisconnectedAsync` example in the [Handle events for a connection
](https://docs.microsoft.com/en-us/aspnet/core/signalr/hubs?view=aspnetcore-2.2#handle-events-for-a-connection) section removes the connection from the group.  But in the "Hubs" doc's [Groups in SignalR](https://docs.microsoft.com/en-us/aspnet/core/signalr/groups?view=aspnetcore-2.2#groups-in-signalr) section it says, "Group

[2019-01-25 01:59] #10614 closed

[2019-01-25 02:07] danroth27 opened #10618 "Update migration docs for .NET Core 3.0"
Tracking issue for updates to the [Migrate from ASP.NET Core 2.2 to 3.0](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio) doc.

@natemcmaster Could you please provide details on what should be updated?/

[2019-01-25 02:42] Rick-Anderson opened #10619 "Create detailed traffic/CSAT report for ASP.NET Core"
- Top 100
- Include bounce rate

[2019-01-25 02:53] Rick-Anderson opened #10621 "Update issue templates to suggest using the integrated GitHub/doc button"

[2019-01-25 07:59] IanKemp commented on #9239
* Add information about the performance implication of many routes and/or many constraints. In particular, this could be hooked into the advice "Don't use constraints for input validation".
* "Warning" sections should have suggestions on what to do to avoid hitting that warning (e.g. for "Don't use constraints for input validation", link to a page or example showing the correct way to validate inp

[2019-01-25 13:11] dojademake opened #10622 "Titles are not the same"
The statement "Pages/Index.cshtml and Pages/Movies/Index.cshtml currently have the same title, ..." is not true since by default the Pages/Index.cshtml title is set to "Home page" in Core 2.2:

ViewData["Title"] = "Home page";

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70f6104a-a223-4bb3-4101-f553002b9b26
* Version

[2019-01-25 13:15] dojademake commented on #10622
Also the "decimal commas in the Price field" purple section just below this seems a little out of place with the flow of the document.

[2019-01-25 14:51] joshberry commented on #9398
@ahamidou I could take a look at updating the docs here, but it sounds like MS already has someone working on it. If they don't, I'd be happy to take a stab at it.

The project was basically put together by reading through the [Angular Universal](https://angular.io/guide/universal) and [JavaScriptServices](https://docs.microsoft.com/en-us/aspnet/core/client-side/spa-services?view=aspnetcore-2.2) d

[2019-01-25 16:33] tala9999 opened #10623 "CORS instructions don't work"
I think the author didn't test their code. Per the author, we need to do at least 2 things:
1. Register CORS services:
[code]
2. Enable CORS, for example with middle ware:
[code]
However, the above instruction and code never works for me.

This works for me:
1. AddCors
[code]

2. Use Cors in Configure
[code]

3. Add policy to controller or method
[code]

Also, if you are using Postman tool to test

[2019-01-25 17:48] natemcmaster commented on #10618
The current doc would still be accurate for preview 2, so no new details are necessary, per se.

That said, it's probably worth fleshing out the document a little more. All it currently says is "Some assemblies were removed from Microsoft.AspNetCore.App between 2.x and 3.0.  You may need to add `<PackageReference>` items". It would be good to show people how to migrate their code to react to:

* T

[2019-01-25 18:56] #7951 closed

[2019-01-25 19:02] #10146 closed

[2019-01-25 19:08] Rick-Anderson commented on #10623
@spboyer 	please review.

[2019-01-25 19:11] Rick-Anderson commented on #10623
@tala9999 per the doc:

Specifying `AllowAnyOrigin` and `AllowCredentials` is an insecure configuration and can result in cross-site request forgery.

[2019-01-25 19:50] guardrex commented on #7380
@glennc I'm going to attempt to slide in a note regarding a couple of 🐉 when using the portal. The topic will go with Azure CLI as its main approach. I'll ping u on the PR with the critical bits in a PR comment.

[2019-01-25 19:58] blowdart commented on #9712
That doesn't actually do what it says it does. The code suggested applies a default policy, it doesn't address custom policies

[2019-01-25 22:33] Rick-Anderson commented on #10623
1. Register CORS services:
[code]

The author is not saying that's all you need to do.

I'll change it to:
[code]

[2019-01-25 22:37] scottaddie commented on #8461
@Rick-Anderson No. Looks like the engineering work is still in progress. I've updated Doug's description with the updated issue.

[2019-01-25 22:44] #8583 closed

[2019-01-25 22:45] #10622 closed

[2019-01-25 22:45] Rick-Anderson commented on #10622
Fixed, thanks for pointing this out.

[2019-01-26 01:32] djSublett opened #10629 "Code paste?"
As we follow along, are we supposed to copy and paste these code snippets into the pages when the pages are different than the code snippets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70f6104a-a223-4bb3-4101-f553002b9b26
* Version Independent ID: 15e79e80-8d46-7cd5-c883-6cc0f5940a1b
* Content: [Scaffolded Razor Pa

[2019-01-26 01:34] djSublett commented on #10629
Close this out. Never-mind me lol

[2019-01-26 02:21] #10629 closed

[2019-01-26 03:11] Rick-Anderson commented on #10621
Fixed.

[2019-01-26 03:11] #10621 closed

[2019-01-26 04:11] BrennanConroy opened #10630 "SignalR 3.0: Client to Server Streaming"
See https://github.com/aspnet/AspNetCore/issues/5323 for some reference

[2019-01-26 09:36] damienbod commented on #9244
@lukesdm https://github.com/damienbod/AspNetCoreAngularSignalRSecurity/blob/master/StsServer/Startup.cs#L97

you need to implement the IUserClaimsPrincipalFactory<ApplicationUser> and use an ApplicationUser class which implements the IdentityUser in the Identity context.

This took a while to find, I think this would be good in the Docs.

@Rick-Anderson @blowdart I could add something here if you'

[2019-01-26 09:59] AlbertoPa commented on #10609
There is a discussion here on this topic: https://github.com/aspnet/AspNetCore/issues/2037

There are some peculiarities (e.g. scripts not rendered in the shared _Layout, need to load JS library in the VC). At some point in another issue it was said that a cleaner solution would be introduced with Razor Components in .Net 3 (assuming one wants the extra layers of SignalR and wants to deal with dif

[2019-01-26 13:29] budwalc opened #10631 "VS Mac 2017 - Unhandled Exception: Could not load type 'RazorPagesMovie.Pages.Movies.IndexModel'"
Ran all steps, and I built the solution after the INITIAL MIGRATION.

When typing in "https://localhost:5001/Movies", I'm presented with an unhandled Exception page.

Any idea where I'm going wrong please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096

[2019-01-26 14:02] guardrex commented on #10609
Thanks @AlbertoPa for clearing that up.

I found that remark at https://docs.microsoft.com/aspnet/core/mvc/views/layout#sections ...

We can close here because VC behavior is already documented. The engineers seem to have this under consideration for a future release. @AlbertoPa is correct about Razor Components: It's not available until 3.0. I'm not aware of how `BlazorLayoutComponent` will behav

[2019-01-26 14:02] #10609 closed

[2019-01-26 14:24] #10631 closed, assigned to nobody

[2019-01-26 15:13] connorads commented on #9708
Hi @Rick-Anderson
I can't seem to reopen the issue so I'll add a comment here.

Thanks for the link @rpetrusha but I don't think that page has any information about
1. The use of `$(NoWarn)`
2. What the "default C# NoWarn values" are

These are the two specific things I would like some more information about.

Perhaps I should have included a bit more information from the page to explain exactly w

[2019-01-26 16:14] bradygaster commented on #7072
Closing as this will be repaired by #10632

[2019-01-26 16:14] #7072 closed

[2019-01-26 16:20] bradygaster commented on #10617
@HappyNomad each time a connection is made, it gets an individual connection id specific to that connection's lifetime. When we speak of a "connection" it is less than a user - an individual user might connect to a hub N times during an individual session - wifi going out, timeout on the server, a variety of reasons that can't be controlled (like a mobile phone going out of signal range and then c

[2019-01-26 16:43] NickeManarin commented on #10123
I have the same problem, looks like every time that I run the project, the database restarts. Since it's empty, I have to call GET to run the constructor of the Context.cs class in order to create the first ToDo item. After that, the PUT works fine.

So what I think that is happening is that since the PUT method is the first thing that you are trying to run, and the database is empty, you have two

[2019-01-26 18:52] JulioJu opened #10635 "Samples for Linux and Mac users with SQLServer"
@Rick-Anderson

Here, I answer to your question from https://github.com/aspnet/Docs/issues/9863#issuecomment-456608855

Actually, all examples at https://github.com/aspnet/Docs/tree/master/aspnetcore/tutorials/razor-pages/razor-pages-start/2.2-stage-samples and  https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-rp/intro/samples can't work on Linux because they use MS-SQL LocalDB, and M

[2019-01-26 20:07] maxisam commented on #8164
I think this can be clearer than "The access token function you provide is called before every HTTP request made by SignalR" If users use websocket, there will be only one http request in the very beginning. The method invoke later won't be able to get updated token if the first token expired. On the other hand, the server side can't really check if the beginning token is expired like your example

[2019-01-26 20:34] xXmemestarXx commented on #8527
Mine is diffrent to.

Its probaly because it has been updated since

[2019-01-26 21:01] drguildo commented on #10581
I just tried checking out the code on a different machine, running a different OS (Windows 7) and I still get _exactly_ the same exception.

[2019-01-26 22:02] JulioJu opened #10636 "For Linux and Mac, rename folder "Todo" to "ToDo""
Contrary to Razor page, "View discovery relies on finding view files by file name. If the underlying file system is case sensitive, view names are probably case sensitive." https://docs.microsoft.com/en-us/aspnet/core/mvc/views/overview?view=aspnetcore-2.2

Therefore, following folders should be renamed `ToDo` (with an uppercase `D`).
1. https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/vi

[2019-01-26 22:10] Rick-Anderson commented on #10636
That would be fantastic.

[2019-01-26 22:15] Rick-Anderson commented on #10581
Per the error message, try a different `Id`.
I'm unable to reproduce the problem and we have hundreds of thousands of customers reporting success.

[2019-01-26 22:17] Rick-Anderson commented on #10581
@drguildo 	what line throws?

[2019-01-26 22:18] Rick-Anderson commented on #8527
You selected the wrong template.

[2019-01-26 22:30] Rick-Anderson commented on #10635
[code]

Can't put password in clear like that.

[2019-01-26 22:41] JulioJu commented on #10635
Ok, therfore I close this.

[2019-01-26 23:54] Rick-Anderson commented on #10635
@JulioJu 	this is good information for those who want to use SQL Server on Mac or Linux. They can use the [Secret Manager](https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-2.2&tabs=windows#secret-manager) to store password.

[2019-01-26 23:58] Rick-Anderson commented on #10123
Per the article:

[code]

 This code is in the constructor, so it runs every time there's a new HTTP request. If you delete all items, the constructor creates Item1 again the next time an API method is called. So it may look like the deletion didn't work when it actually did work.

[2019-01-27 00:01] Rick-Anderson commented on #10123
I'll have to think of a cleaver way to make sure the DB is not empty. Maybe seed it on startup.

[2019-01-27 00:09] JulioJu commented on #10635
Ok so cool, therfore I must update this tips with [Secret Manager](https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-2.2&tabs=windows#secret-manager)
?

The tips above could be cool for Linux or Mac Users, because simply try to test https://github.com/aspnet/Docs/tree/master/aspnetcore/tutorials/razor-pages/razor-pages-start/2.2-stage-samples for a Newbie is actuall

[2019-01-27 02:10] Rick-Anderson commented on #9708
cc @scottaddie

[2019-01-27 02:15] Rick-Anderson opened #10638 "lose key codes when add ForeignKey without drop database,"
3K PV, 90% CSAT

Copy from https://github.com/aspnet/Docs.zh-cn/issues/109

i have some trouble at the end of the tutoral <
[Fix the ForeignKey constrants](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/complex-data-model?view=aspnetcore-2.2&tabs=netcore-cli#fix-the-foreign-key-constraints) lose key codes when add ForeignKey without drop database

---
#### Document Details

⚠ *Do not edit

[2019-01-27 12:07] hossameh opened #10640 "Deploy .net core web api"
Hello team,
Can you support me by step by step tutorial or video, how to host my .net core web api to nginx server where I followed this doc. And failed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcdd2c35-bf2b-2673-d150-303a8aaa54d2
* Version Independent ID: 815fe034-c9fc-aee3-a8b5-f2e860b30302
* Content: [Host AS

[2019-01-27 12:11] JulioJu opened #10641 "LF line ending for all files except .sln files"
Hi!

* Actually .gitattribute is:
[code]
See [preceding lines](https://github.com/aspnet/Docs/blob/master/.gitattributes#L6-L9) in GitHub

and not:
[code]

* With the command
[code]
we could see than actually all files has LF line ending (except sln files but it's normal), and not CRLF line ending,  except ./aspnetcore/mvc/views/razor/sample/Views/Home/Contact.cshtml

When we try to make a Pull Re

[2019-01-27 12:50] JulioJu commented on #10641
After some tests thanks https://help.github.com/articles/dealing-with-line-endings/

maybe we could also add
[code]

If you are not ok, at least we could correct  ./aspnetcore/mvc/views/razor/sample/Views/Home/Contact.cshtml

[2019-01-27 13:35] guardrex commented on #10640
Hello @hossameh ... What error message(s) are you receiving, and what is the behavior of the app?

[2019-01-27 14:39] ZombiesWithCoffee opened #10642 "Documentation uses ProducesResponseType with numeric codes"
I'm noticing that a lot of your documentation, uses magic numbers for the ProducesResponseType attribute.   Your Analyzer uses the StatusCodes enumeration, which I would assume, should be preferred.

[ProducesResponseType(404)]
[ProducesResponseType(StatusCodes.Status404NotFound)]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-01-27 15:13] ferdinandtrommsdorff opened #10643 "[N00b problem] Movies folder "page not found""
Hello all,
I have performed this tutorial from the start on (creating all sources by myself). It compiles and site is available. After creating the initial db and the scaffolded items, I want to test the "Movies" page. I tryto navigate to "localhost:xxx/Movies" or "localhost:xxx/movies". I get the error "page not found".
I am a beginner with asp.net. Do I miss some site routing? The folder is ther

[2019-01-27 16:52] shadinamrouti opened #10644 "The goal or practical applications of this type of caching"
I think the intro of this article needs addition of practical applications, examples or situations why to use this type of caching.

**A note on terminology:**
It seems the term "distributed cache" is misleading - in Wikipedia, the term is used to describe a cache memory solution that spans multiple servers. See: [Distributed Cache](https://en.wikipedia.org/wiki/Distributed_cache).
May be this typ

[2019-01-27 18:22] shadinamrouti opened #10645 "Suggestion to add two notes"
I suggest adding the following note boxes or similar. You may ignore this if you think the notes are not important. Thanks:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f09866f1-f286-b98c-1073-e402a10f35d3
* Version Independent ID: 18653de6-49b6-3f75-0392-b5eba55145ad
* Content: [Image Tag Helper in ASP.NET Core](htt

[2019-01-27 18:30] Rick-Anderson commented on #10643
Start debugging and check your steps.

[2019-01-27 18:30] #10643 closed

[2019-01-27 18:43] shadinamrouti opened #10646 "A suggestion to delete a sentence"
I suggest to delete the last sentence in the following paragraph because the ```model``` attribute was not mentioned before which makes a misunderstanding and because the same sentence is already there in the paragraph titled **model**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa4c23ba-19f6-d847-fefa-a61e283d5fde

[2019-01-27 19:59] Jonathan-Hickey opened #10647 "Initialize Database - create tables"
When you run  "ASP.NET Core Web Application" with "Individual User Accounts" the underlining tables are not created. The application runs and you can see the UI Register / Login, however you get the features doesn't work because of the tables not existing in Local Database.

Users should run "Update-Database" in the package manager console before running the app, for the tables to be created.

[2019-01-27 23:04] Antec71 opened #10648 "bundleconfig.json was removed from the 2.1 templates"
Hi, the answer to a question on Stack Overflow (https://stackoverflow.com/questions/50419033/has-something-replaced-bundleconfig-json-in-asp-net-core-mvc-2-1) states that 'bundleconfig.json was removed from the 2.1 templates'. Is this true as the first line after the heading, "Configure bundling and minification" above states otherwise? Thank you.

---
#### Document Details

⚠ *Do not edit this se

[2019-01-27 23:20] guardrex commented on #10644
This deals specifically with the Tag Helper. It's cross-linked to our main topic on distributed caching: https://docs.microsoft.com/aspnet/core/performance/caching/distributed

When the distributed caching implementation takes advantage of a multi-server data store (e.g., Azure Redis) behind the Tag Helper, it matches the definition that they provide. I don't see a problem thus far between what th

[2019-01-28 08:28] Zenexer opened #10651 "Error in default trusted proxies"
This is incorrect.  There is one entry in KnownProxies by default: [::1].  There is one entry in KnownNetworks by default: 127.0.0.1/8.  This means that all loopback addresses (127.0.0.0/8 and [::1]) are allowed by default, not just the two addresses listed in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-01-28 09:33] Webbarrr opened #10652 "Great documentation - is there anything more in-depth for a wider range search?"
Do you have any online guides / tutorials for setting something up that's more robust in being able to search in a model for multiple search parameters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9b9859c-b83c-5fc3-41d5-15531232185f
* Version Independent ID: 5438de31-8562-3747-d1a5-2a4622252fc1
* Content: [Add sear

[2019-01-28 10:30] minaShaker opened #10653 "Didn't mention to Import Entity Framework in the dependencies"
This tutorial is for new to .Net Core, but some people (like me) are new to the .Net as general

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add a model to a Razor Pages app in ASP.NET Core](https://docs.mi

[2019-01-28 10:31] minaShaker opened #10654 "add EntityFrameworkCore/ before Add-Migration and Update-Database"
it took me over an hour to know this one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add a model to a Razor Pages app in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/mod

[2019-01-28 11:08] CoderKooke opened #10655 "Include Mocking HTTP Requests using either HttpContext or HttpClient"
Thank you for the documentation above but could you also include how you would mock the POST and GET calls that these methods would expect.  Ideally using Moq with either HttpRequest or HttpClient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5cce372-24e2-3489-cb19-c85d934e5d3b
* Version Independent ID: 9d12b19f-a94

[2019-01-28 12:42] guardrex commented on #10651
@shirhatti

[2019-01-28 13:12] yoorw commented on #10517
@Rick-Anderson Thank you for sending the tutorial. Trying to follow those steps for my app fails when publishing with the error: "The 'server' keyword is not supported." I'm assuming it is because my app is a DB First approach and the app you send is a Code First approach?

@guardrex Thank you for sending the Diagnostic steps. The detailed events I get are:
`        <System>
            <Provider

[2019-01-28 13:15] guardrex commented on #10655
Thanks @CoderKooke ... I've added this to the Integration Testing project, where the engineers will look and determine how to handle your request.

In the meantime while the engineers take a look, search around the Net ... there are blog posts and GH issues that discuss working with `IHttpClientFactory` and `HttpMessageHandler` in tests.

[2019-01-28 13:38] tala9999 commented on #10623
`
public void ConfigureServices(IServiceCollection services)
{
    services.AddCors();
}
`

This is the only thing mentioned in "Register CORS services" section. So even the author is not literally saying that, a lot of people think that's all they need to do. It should be changed. Check in stackoverflow to see how many people are not able to make Cors work based on this instruction.

[2019-01-28 13:45] shadinamrouti opened #10657 "Upgrade view-components samples to 2.2 instead of 2.0"
@Rick-Anderson 	edit: 11 KPV, 88% CSAT.

1. I suggest to upgrade the [samples of view components](https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/views/view-components/sample) to 2.2 instead of 2.0.

2. I suggest to use the following 2.1 clean way to seed data instead of using a separate SeedData.cs file which also requires additional advanced code to be added to Program.cs:

[code]

**N

[2019-01-28 14:27] frankadilac247 opened #10660 "So far so good ..."
I have been starting up with an outstanding introduction to ASP.NET Core with Razor Pages web app. Looking forward to the next Tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a25bf940-8977-fec4-461b-542a9f550fc8
* Version Independent ID: 5492c641-af15-64b8-beaa-ddf511be73e6
* Content: [Tutorial: Get started wi

[2019-01-28 15:03] Zenexer commented on #10651
@guardrex I can make a PR to fix this. Will that speed things up, or is it not worth the trouble? There are a bunch of other minor Nginx confit issues I can fix as well (in a separate PR).

[2019-01-28 15:06] guardrex commented on #10651
I recommend listing the updates here first for @shirhatti to inspect. It will save time if he declines any of the changes

[2019-01-28 15:20] shadinamrouti opened #10661 "Add an external link for a definition"
I suggest to add [this external link](https://deviq.com/magic-strings/) to the term "magic string" to explain it.

**Note**
The above domain seems reputable in other Microsoft Docs articles, see how **Separation of Concern** is linked in the top of **MVC overview** [article](https://docs.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-2.2)

---
#### Document Details

⚠ *Do not edit th

[2019-01-28 15:24] LisandroSu opened #10662 "DB를 업데이트 하는 부분의 예시가 부족합니다."
@kimkyeseung commented on [Mon Jan 28 2019](https://github.com/aspnet/Docs.ko-kr/issues/124)

```_books.ReplaceOne(book =&gt; book.Id == id, bookIn);```
이 부분이 DB를 업데이트 하는 예제의 전부입니다.

사용자가 응용을 하게되면 collection의 Boolean값을 반대로 바꾸거나 Array인 데이터에 새 값을 push 하는 경우가 생기는데, ReplaceOne 말고도 다양한 방법으로 DB를 Update하는 방법을 설명해주셨으면 좋겠습니다.
감사합니다.

```_books.ReplaceOne(book =&gt; book.Id == id, bookIn);```
This is all of

[2019-01-28 15:24] LisandroSu opened #10663 "DB를 업데이트 하는 부분의 예시가 부족합니다."
@kimkyeseung commented on [Mon Jan 28 2019](https://github.com/aspnet/Docs.ko-kr/issues/124)

```_books.ReplaceOne(book =&gt; book.Id == id, bookIn);```
이 부분이 DB를 업데이트 하는 예제의 전부입니다.

사용자가 응용을 하게되면 collection의 Boolean값을 반대로 바꾸거나 Array인 데이터에 새 값을 push 하는 경우가 생기는데, ReplaceOne 말고도 다양한 방법으로 DB를 Update하는 방법을 설명해주셨으면 좋겠습니다.
감사합니다.

```_books.ReplaceOne(book =&gt; book.Id == id, bookIn);```
This is all of

[2019-01-28 15:25] LisandroSu commented on #10663
Hi team,

Please check this request.

Thanks!

[2019-01-28 16:01] guardrex commented on #10517
Not used in all of the recent releases. Confirm that you're using the latest SDK. https://dotnet.microsoft.com/download

[2019-01-28 16:22] guardrex commented on #10657
Sample upgrades are tracked by https://github.com/aspnet/Docs/issues/5495. In case you want to work on this, we typically mirror all of the changes in the template when a sample is upgraded, but they'll advise further on that point.

[2019-01-28 16:40] tdykstra commented on #10638
@lawushanshan The best way to troubleshoot is to download the completed project and compare that code with what you have in your project to see if you missed a step or missed something when copying and pasting code.

[2019-01-28 17:16] Rick-Anderson commented on #10652
No, that's it. But if you keep learning you'll be able to figure that out.

[2019-01-28 17:16] #10652 closed

[2019-01-28 17:59] Rick-Anderson commented on #10654
Dup of #10653

[2019-01-28 17:59] #10654 closed

[2019-01-28 18:01] Rick-Anderson commented on #10653
Per https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage-app?view=aspnetcore-2.2

**Includes all supported packages by the Entity Framework Core team except those that contain third-party dependencies (other than those previously mentioned)**.

What version of the .NET SDK are you using. What error did you get?

[2019-01-28 18:02] Daniel15 opened #10664 "Health checks at startup"
Is there a way to execute all the health checks on app startup, and output an error message to the console / logger if any of them are failing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0cbb094-29e9-740a-9fd6-db372641d753
* Version Independent ID: 52d8efc9-a336-71d9-6d90-98173cbf6bf4
* Content: [Health checks in

[2019-01-28 18:17] Carl-Hugo opened #10665 "You cannot apply assembly-level attributes to a class"
The doc states: **As a recommendation, apply assembly-level attributes to the `Startup` class.**
Based on my understanding, you cannot apply assembly-level attributes to a class.
I think that should instead read: **As a recommendation, apply assembly-level attributes in the `Startup.cs` file.**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-01-28 18:20] pranavkm commented on #10665
Feel free to edit the doc, if that reads better. The intent was to suggest doing this:

[code]

[2019-01-28 18:27] #10660 closed, assigned to nobody

[2019-01-28 18:45] guardrex commented on #10664
Thanks for your question: It's not built-in, @Daniel15. Hitting the endpoints to trigger the probes is up to you. The engineers didn't offer any guidance for the topic on that aspect. I recommend reaching out on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter.

[2019-01-28 19:02] drguildo commented on #10581
I did include the output of `dotnet --into output` in my original report.

The full stack trace is:

[code]

The line that causes the exception is:

[code]

If I use a different ID in either the URL or payload I get:

[code]

I've found something strange: it only fails if it's the first request. It seems if I make any other request first (even one that fails), then the PUT works.

[2019-01-28 19:55] guardrex commented on #10355
@malachib When an issue is closed, please open a new issue using the **Content feedback** button from the bottom of any topic.

WRT to your ask:

You're correct. We don't report that information in this doc set, since we're mostly concerned with the ASP.NET Core aspects. Also, the .NET Core docs folks are mostly concerned with the tooling, language, and framework issues, so they probably don't rep

[2019-01-28 21:37] #10665 closed

[2019-01-28 21:45] Rick-Anderson commented on #10661
We generally don't allow external links from non-authoritative sources. We also don't like to use jargon like "magic string". It's easily googleable, but a link would be nice.

cc @tdykstra 	@scottaddie
Given we haven't had any complaints, I'm inclined to leave it without a link.

[2019-01-28 21:54] Rick-Anderson commented on #10581
You need to GET before a PUT. See #10123

[2019-01-28 21:57] tdykstra commented on #10661
We could change "avoiding magic strings" to something like "compile-time name validation"

[2019-01-28 22:01] Rick-Anderson commented on #10123
I don't see what the problem is here - other than maybe explain you need to do a PUT on an exiting item.  Maybe I should add something like

Call GET on the item you want to update with PUT to verify the item is in the DB.

[2019-01-28 22:20] shadinamrouti opened #10668 "There are external links from non-authoritative sources"
The article has links from a non-authoritative source. See the first two links in the first paragraph, namely, (Separation of Concern), and (Single Responsibility Principle) and others.
I suggest to redirect them to relevant Wikipedia articles.

cc/ @Rick-Anderson

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9b26c2a

[2019-01-28 22:46] guardrex commented on #10668
I've been replacing these with relevant section links from Steve's other work (on the Docs) ...

https://docs.microsoft.com/dotnet/standard/modern-web-apps-azure-architecture/architectural-principles

@shadinamrouti Just a bit of history here: Steve Smith (@ardalis) wrote and worked on many topics here. Those links actually are *authoritative*, but it's a relative term in regards to MS's own topic

[2019-01-28 23:06] Rick-Anderson commented on #10668
We'll look at removing these in the next doc sweep. We do look at closed issues on a doc sweep.

[2019-01-28 23:06] #10668 closed

[2019-01-28 23:50] andrestalavera opened #10670 "Select another culture"
I've tried to use _SelectLanguagePartial.cshtml, but is dosn't work: only the current culture was displayed in the select list.
I've wrote this code:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1833676-ff1b-c587-cc9c-81afffa8ef68
* Version Independent ID: ad989395-3f49-4d55-521e-cf6fe56281ee
* Content: [Glo

[2019-01-29 00:16] kimkyeseung commented on #10663
Hi
I am so grateful for your feedback.
So Will my request be reflected?
Please let me know again when the tutorial is updated.

Thankyou very much. 감사합니다.

[2019-01-29 00:19] Rick-Anderson commented on #10670
You need to set the `RequestLocalizationOptions` per the doc.

[code]

[2019-01-29 01:05] #10601 closed

[2019-01-29 01:07] #10636 closed

[2019-01-29 01:16] Rick-Anderson commented on #10663
Thanks for the question. You'll probably get a faster answer on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter. If you post the question elsewhere, please update this issue with the link. Thanks again.

[2019-01-29 01:17] Rick-Anderson commented on #10663
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-01-29 01:17] #10663 closed

[2019-01-29 01:18] Rick-Anderson commented on #10662
Duplicate of #10663

[2019-01-29 01:18] #10662 closed

[2019-01-29 01:20] Rick-Anderson commented on #10657
@shadinamrouti 	would you be able to PR this?

[2019-01-29 01:21] Rick-Anderson commented on #10646
@shadinamrouti 	can you make that PR?

[2019-01-29 01:22] seangwright commented on #6066
It seems it might be possible to get a self-signed cert working with Firefox but there are additional steps to take beyond just creating the certificate.

https://bugzilla.mozilla.org/show_bug.cgi?id=1452411#c1

[2019-01-29 01:31] Rick-Anderson commented on #10645
@shadinamrouti 	 I don't think we need the `v` param note.

@shadinamrouti 	wrote:

You can use a string to represent the image and the version parameter will be appended if the image path exists on the server at run time. For example: ```<img src="@("/images/asplogo.png")" asp-append-version="true" />``` is valid provided that the image exists on the server. This is useful when the image path is

[2019-01-29 01:34] Rick-Anderson commented on #10648
@IEvangelist please review.

[2019-01-29 01:46] Rick-Anderson opened #10671 "Fix LF in ./aspnetcore/mvc/views/razor/sample/Views/Home/Contact.cshtml"
See  #10641

[2019-01-29 01:47] Rick-Anderson commented on #10671
@JulioJu can you PR (fix) this?

[2019-01-29 01:49] Rick-Anderson commented on #10641
@spottedmahn @cillroy please review suggested changes to `.gitattributes` file.

[2019-01-29 01:53] Rick-Anderson commented on #10635
@JulioJu 	yes, update these instructions to use Secret Manager.

[2019-01-29 02:47] danroth27 commented on #10618
Runtime compilation was removed in Preview 2, but we don't yet have a package for adding it back. The package for adding back runtime compilation should be available for Preview 3. For now, I think we can leave out any mention of the runtime compilation situation from this doc.

[2019-01-29 02:57] Rick-Anderson opened #10673 "Update migration docs for .NET Core 3.0 Preview 2"
Details are in #10618
 #10618 make the issue visible from this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76f39eec-9dd1-6167-56ec-47b26e0b5063
* Version Independent ID: f9f2b0f3-01eb-cf58-8767-194fe0fc0e44
* Content: [Migrate from ASP.NET Core 2.2 to 3.0 Preview](https://docs.microsoft.com/en-us/aspnet/core/mi

[2019-01-29 03:00] danroth27 commented on #10618
Some proposed text for the Json.NET removal:

### Adding back Json.NET support

As part of the work to [clean up the ASP.NET Core shared framework](https://blogs.msdn.microsoft.com/webdev/2018/10/29/a-first-look-at-changes-coming-in-asp-net-core-3-0/), Json.NET has been removed from the ASP.NET Core shared framework and now needs to be added as a package.

To add back Json.NET support to an ASP.NE

[2019-01-29 03:40] smarts commented on #10264
Thanks for adding this, but the docs now incorrectly state that `MvcOptions.AllowValidatingTopLevelNodes` is `true` by default and can be disabled, but that's only true if the compatibility version is set to `CompatibilityVersion.Version_2_1`, which does _not_ match the example. If the compatibility version is `CompatibilityVersion.Version_2_2` (as in the example), then the property must be explic

[2019-01-29 04:00] guardrex commented on #10264
I'll take a look @smarts.

[2019-01-29 04:14] malachib commented on #10355
@guardrex I will definitely use the Content feedback button, though I'd like to mention I specifically _didn't_ use it because I assumed it was a one-way classic "hidden" feedback.  Didn't realize it (seems to) produce a discussion.  Thank you for pointing it out

Also, I had already looked at the vs2017-relnotes, but as you can see there's only one mention of ASP.NET Core there and it doesn't inc

[2019-01-29 04:16] guardrex commented on #10264
@smarts I'm going to move this to a new issue. We don't work closed ones.

[2019-01-29 04:18] guardrex opened #10675 "Model Validation: Top-level node validation"
@smarts says on [aspnet/Docs \#10264](https://github.com/aspnet/Docs/issues/10264#issuecomment-458395892) ...

&gt; Thanks for adding this @Rick-Anderson , but the docs now incorrectly state that `MvcOptions.AllowValidatingTopLevelNodes` is `true` by default and can be disabled, but that's only true if the compatibility version is set to `CompatibilityVersion.Version_2_1`, which does not match the

[2019-01-29 04:31] guardrex commented on #10675
It was based on the API and testing locally. I was going by this ...

... and then for 2.0 it states ...

... and then a 2nd remark on '2.1 or later' ...

It's the "or later" and "or higher" parts in those two statements that I picked up on. Besides, it worked in testing. It was **_15 years ago in .NET Core time_** lol (i.e., 2 weeks :smile:); but IIRC, it worked without explicitly setting the val

[2019-01-29 04:53] guardrex commented on #10355
Ah ... good point. I wonder how many times that happens. I'll open an issue about that at Microsoft Docs. There's an opportunity there to tell readers what that form does.

WRT the issue: I see. This is good feedback, so I recommend:

1. Submit it via the **Report a problem** process built into VS that their release notes could indicate which .NET Core SDK version ships with each release. That pro

[2019-01-29 05:04] malachib commented on #10355
Thanks for your attention to detail!  Filling out the stuff now...

[2019-01-29 07:12] FFMartin opened #10676 "Minor : About.cshtml.cs references ContosoUniversity.Data"
Just a  minor non blocking typo.

In section "Update the About page model" , in the About.cshtml.cs code, the reference to ContosoUniversity.Data isn't mandatory as the 2 classes in the Data folder (Dbinitializer.cs and Schollcontext.cs) are in the ContosoUniversity.Models namespace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-01-29 11:46] yoorw commented on #10517
@guardrex Thank you for your support with this.
I recreated the app project using the latest .NET Framework (4.6.1) and now the db entries display on the web app using Azure.
Thank you.

[2019-01-29 11:46] #10517 closed

[2019-01-29 12:21] CribAd opened #10677 "Create an example for a view component inside a partial view"
Could you create an example of how a view component can be invoked inside a partial view?

[2019-01-29 15:41] exportio opened #10680 "ArgumentException: The 'ClientId' option must be provided"
Followed the steps, but when starting, I get "ArgumentException: The 'ClientId' option must be provided"

**You need to also do this:**

services.AddAuthentication().AddGoogle(googleOptions =>
{
    googleOptions.ClientId = Configuration["Authentication:Google:ClientId"];
    googleOptions.ClientSecret = Configuration["Authentication:Google:ClientSecret"];
});

**Even with this update, after selec

[2019-01-29 16:18] guardrex commented on #10680
Thanks for the report @samboustani ...

Applies to: https://docs.microsoft.com/aspnet/core/security/authentication/social/google-logins

Please open issues using the **Content feedback** button at the bottom of the topic. It tags the issue with metadata that helps us track the work.

This is a candidate to add to the tracking issue https://github.com/aspnet/Docs/issues/1470.

I'll add some notes h

[2019-01-29 16:38] minaShaker opened #10681 "There was an error running the selected code generator: ' value cannot be null parameter: type'"
after clicking new -&gt; Scaffolded item
and finishing the steps, and clicking add on the Razor dialog.
an error pop up saying:
 There was an error running the selected code generator: ' value cannot be null parameter: type'

please note that this error don't show if I remove the navigation property "ICollection&lt;Enrollment&gt; Enrollments "

---
#### Document Details

⚠ *Do not edit this sectio

[2019-01-29 16:51] spottedmahn commented on #10641
I'm honored but I have no clue.  I just reported the issue: when submitting [PRs via GitHub.com](https://github.com/aspnet/Docs/issues/7485) they are producing "fake" changes.

Based upon [this comment](https://github.com/MicrosoftDocs/feedback/issues/362#issuecomment-400456925), seems like @cillroy might know though.

[2019-01-29 17:18] ahsteele commented on #9509
@Rick-Anderson I have made two versions which would address my concerns.

[Option 1](https://github.com/aspnet/Docs/commit/a71743374a4632b70abe0618c114d5972a3dc7cb?diff=split) is to link to an earlier section in the article detailing the IAntiforgery configuration and calling out that the code block below doesn't show how to do this. I also tried to make it more clear no cookie header / configurat

[2019-01-29 17:18] NTaylorMullen commented on #10645
Eh, it's a bit too technical if you ask me. Even though the notes are true, most users wont need to care about that level of information.

[2019-01-29 18:02] guardrex commented on #10664
**Actually, yes, I think this is possible ...**

I was just looking at something else and was reminded that there's ...

https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.diagnostics.healthchecks.ihealthcheckpublisher?view=aspnetcore-2.2

Covered ... but not in any depth in the topic. Let me circle back around to this in a day or two and see what's what. I have a feel'in that this c

[2019-01-29 18:10] guardrex commented on #10664
... and I don't like our minimal coverage there. It was a tack-on bit to surface it, which is fine given that the topic was just written from scratch, but we don't have an example there. My goal is to provide an example, including it in the sample app.

@Daniel15 Give me about ........ errrr .... aahhhhhh .... mmmmm ... 🤔 ... *96 hours*. :smile: lol

We're about to move all of the Blazor docs into

[2019-01-29 18:14] guardrex commented on #10560
Cross-ref (let's work these two together): https://github.com/aspnet/Docs/issues/10664

[2019-01-29 18:58] cillroy commented on #10641
@herohua let us review this

[2019-01-29 19:09] atotalnoob opened #10683 "Add non-server side build directions to docs"
There isn't anything for building a PROD build that isn't SSR.

So if one needs to build and deploy their .net Core + Angular app, they would either have to do:

 ng serve --prod (which isn't a safe idea since it isn't a prod level web server)
or build their Angular app as SSR.

I want to do neither of those and just want to be able to have a prod build of angular built by the C# app.
Basically, I

[2019-01-29 19:19] samboustani opened #10684 "Instructions followed exactly still lead to errors (even if Google+ API is enabled)"
**You must enable Google+ API and then create credentials for that API before it will work.  Otherwise, you will get the error below.**

An unhandled exception occurred while processing the request.
HttpRequestException: An error occurred when retrieving Google user information (Forbidden). Please check if the authentication information is correct and the corresponding Google+ API is enabled.
Micr

[2019-01-29 19:31] EntityAdam opened #10685 "Incorrect information in "View Search Path" section"
When a view component is invoked from an MVC controller, if the view is not found, this exception is provided:
&gt;InvalidOperationException: The view 'Components/HelloWorld/Default' was not found. The following locations were searched:
&gt;/Views/HelloWorld/Components/HelloWorld/Default.cshtml
&gt;/Views/Shared/Components/HelloWorld/Default.cshtml
&gt;/Pages/Shared/Components/HelloWorld/Default.c

[2019-01-29 19:45] bradygaster opened #10686 "Add custom identity provider discussion to auth article"
As discussed in #7072, we've removed the custom identity discussion which highlighted `ClaimTypes.Email` from the article and want to move that discussion into the auth article, as it would work better in that sample than in the groups sample.

[2019-01-29 19:59] guardrex commented on #10684
I'll also add this to the tracking issue for a look :eyes:. https://github.com/aspnet/Docs/issues/1470

... something else came to mind. There was some talk of Google+ auth changing ... depreciated? We should track down that engineering issue and see what's what.

[2019-01-29 20:21] HappyNomad commented on #10617
@bradygaster Thanks but clarification is still eluding me.

I understand your "chat room" use case, and that it's "a legitimate reason why your logic would want to remove a connection from a group".  What about disconnection?  The docs have an `OnDisconnectedAsync` example rather than a chat room one.  Is removing a connection from a group upon disconnection "legitimate", necessary, or useful?  Or

[2019-01-29 20:35] smarts commented on #10675
It's possible that I misunderstood compatibility defaults. I assumed that the compatibility version defaults [if unset] to whichever version of ASP.NET Core MVC you're targeting (i.e., the package version), which for my case was 2.2.*. If that's not the case then the documentation is probably right.

[2019-01-29 20:48] guardrex commented on #10675
I didn't chat with engineers about this. I was going off the API and sample app. When you run into a problem and the guidance seems wrong, you're right to ask. Truly ... 👽 *Strange Things*:tm: 👽 can happen when I work on a topic without direct engineering guidance! :smile: lol

[2019-01-29 20:48] #10675 closed

[2019-01-29 20:57] Rick-Anderson opened #10689 "2.2 to 3.0 SignalR updates"
See [this](https://github.com/aspnet/Docs/pull/10674#pullrequestreview-197372397) comment.

Add section for SignalR

cc @BrennanConroy 	@bradygaster

---

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76f39eec-9dd1-6167-56ec-47b26e0b5063
* Version Independent ID: f9f2b0f3-01eb-cf58-8767-194fe0fc0e44
* Content: [Migrate fro

[2019-01-29 21:45] Rick-Anderson commented on #10681
Can you file an issue on the Microsoft Developer Community instead of here? This can be accomplished from Visual Studio by clicking on Help > Send Feedback, and choosing the appropriate action.

Include the output of `dotnet --version`

[2019-01-29 21:45] #10681 closed

[2019-01-29 21:49] #10676 closed

[2019-01-29 22:05] VictorioBerra commented on #9956
This kind of just bit me. So `ConfigureServices` **replaces entirely** the one in `<Startup>`?

I wish I could swap my database configuration and seed without the need to duplicate all my startup calls.

[2019-01-29 23:17] Rick-Anderson commented on #10645
@shadinamrouti 	thanks for the suggestions. This information is discoverable from the closed issues link on that page.

[2019-01-29 23:17] #10645 closed

[2019-01-30 00:24] Tratcher commented on #10618
New topic: Generic host.

The templates have changed from using WebHostBuilder to using HostBuilder. WebHostBuilder will remain for compat purposes. The biggest gotcha for apps on the new HostBuilder is that due to changes in the DI setup, Startup's constructor can only inject IConfiguration and IHostingEnvironment. This is so we only have to build the DI container once and avoids several DI issue

[2019-01-30 00:31] bradygaster commented on #10617
TL/DR version: Removing a connection from a group during the disconnected handler is a little unnecessary given that connection, once removed, won't be in the group any longer.

Apologies if the docs appear conflicting, that isn't intentional. Both of the above articles demonstrate adding and removing connections from groups. That's the main reason - to demonstrate adding and removing. I agree tha

[2019-01-30 01:52] Rick-Anderson commented on #9509
**[Option 2](https://github.com/aspnet/Docs/commit/905e478acb8c9533e1ba826c81a9d48fe469ee96?diff=split)** is to restate the cookie configuration in the AngularJS example code block.

That looks best to me but I'll defer to @scottaddie

@HaoK 	who's the right contact to review XSRF/CSRF with AngularJS?

[2019-01-30 02:19] guardrex opened #10692 "IClaimsTransformation doesn't activate in-process"
https://github.com/aspnet/AspNetCore/issues/6962

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe69b3a9-896f-e189-0c2c-f87ff735df9c
* Version Independent ID: 97c8549b-66ad-0a23-1971-784fb923042a
* Content: [ASP.NET Core Module](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnet

[2019-01-30 02:22] HaoK commented on #9509
@blowdart ?