[2015-11-09 20:10] seanmck commented on #193
Not yet. They will be available when we release our public preview (very soon).

Sent from Outlook<http://aka.ms/Ox5hz3>

On Mon, Nov 9, 2015 at 12:07 PM -0800, "JakobBlomberg" <notifications@github.com<mailto:notifications@github.com>> wrote:

Very interesting with the whole ServiceFabric concept and looking forward to being able to use ASP.NET 5 with ServiceFabric. Are there already now any tuto

[2015-11-09 20:30] JakobBlomberg commented on #193
@seanmck Which would you say is the best notification service to signup to in order to be notified when the new public preview is available? I have a bunch of different subscriptions today but it seems like different MS technologies travel faster on different channels such as MSDN, Azure, etc.

[2015-11-10 05:52] Rick-Anderson opened #629 "document how can inject scripts and css"
see request at http://docs.asp.net/en/latest/client-side/bower.html#comment-2330808685

@Erikre  can you fix this with all your bower work? I have some steps in  "
Migrating From ASP.NET MVC 5 to MVC 6"

[2015-11-10 14:55] seanmck commented on #193
Look for an announcement on our team blog when we have new bits available: http://blogs.msdn.com/b/azureservicefabric/

From: Jakob [mailto:notifications@github.com]
Sent: Monday, November 9, 2015 3:30 PM
To: aspnet/Docs <Docs@noreply.github.com>
Cc: Sean McKenna <Sean.McKenna@microsoft.com>
Subject: Re: [Docs] ASP.NET 5 on Azure Service Fabric (#193)

@seanmck<https://na01.safelinks.protection.ou

[2015-11-10 16:43] swimhiking commented on #621
Hi Rick,

Sorry for late reply, but I do have many issues with Visual Studio2015; In
the "Building Your First Web API with MVC 6", in TodoController, I have to
modify from

 [Route("api/[controller]")] to  [Route("api/todo")], then 404 Error gone;

When I try to add  "EntityFramework.SqlServer": "7.0.0-beta5" in
project.json file, my VS2015 always give Error: Dependency
EntityFramework.SqlServer >

[2015-11-10 18:57] anurse opened #630 "Document installation via OS X PKG"
Creating an issue to track writing documentation for installing via the OS X PKG installer. It's got a few small quirks that should be documented. Just wanted to open something to track my notes as I walk through the scenario for RC1 sign-off

/cc @danroth27

Some things that need to be covered in the doc:

* [ ] The installer does not set up the `default` alias (because it installs globally and a

[2015-11-10 18:59] Rick-Anderson opened #631 "update Your First ASP.NET 5 Application Using Visual Studio"
http://docs.asp.net/en/latest/tutorials/your-first-aspnet-application.html

[2015-11-10 19:06] danroth27 commented on #630
Approved.

Daniel Roth

From: Andrew Stanton-Nurse [mailto:notifications@github.com]
Sent: Tuesday, November 10, 2015 10:58 AM
To: aspnet/Docs <Docs@noreply.github.com>
Cc: Daniel Roth <Daniel.Roth@microsoft.com>
Subject: [Docs] Document installation via OS X PKG (#630)

Creating an issue to track writing documentation for installing via the OS X PKG installer. It's got a few small quirks that sho

[2015-11-10 23:03] Rick-Anderson commented on #621
Hey Allen,  I suggest you post to stack overflow

[2015-11-11 01:34] damienpontifex opened #633 "Entity Framework 6 configuration"
I have [started working](https://github.com/damienpontifex/Docs/tree/ef6-article) on a new topic for configuring and utilising EF6 in ASP.NET 5 after aspnet/Home#1062 in collaboration with @pgrudzien12 after his article http://bleedingnedge.com/2015/11/01/entity-framework-6-with-asp-net-5/

It covers:
- Connection strings and DI
- Configuration in code of EF6

[2015-11-11 02:31] Eilon commented on #633
@rowanmiller

[2015-11-11 10:07] aL3891 opened #635 "The link to install beta8 on installing-on-windows.rst is dead"
Right now it links here: http://go.microsoft.com/fwlink/?LinkId=690242
But that gives a 404.

[2015-11-11 18:53] gkrilov opened #638 "Your First ASP.NET 5 Application Using Visual Studio javascript snippet"
This is very low priority but just putting it here to keep track.

The script section under the Adding Client-Side Behavior section is using the jQuery .bind() function. This function is the old way of binding to an event and post jQuery 1.7 the .on() function should be used instead

from jQuery's page on .bind() -  "As of jQuery 1.7, the .on() method is the preferred method for attaching event ha

[2015-11-11 21:58] #63 closed

[2015-11-12 04:32] ardalis commented on #69
Working on this now, @danroth27

[2015-11-12 04:40] ardalis commented on #69
Unless I'm missing something, Output Caching is an MVC feature, @danroth27

[2015-11-12 07:36] paule96 opened #641 "A Bug in the Install instructions CentOS"
In the install instrutction for CentOS and derivates is this install command missing:
yum install openssl-devel

Without this you get an error if you run the command dnu restore.

Here a sample Output:

[code]

That workaround only work with <= beta7.
I have open a pull request here: [#642](https://github.com/aspnet/Docs/pull/642)

[2015-11-12 09:45] BillDines commented on #390
Another vote for this.  We have a product that runs on premise for each customer.  It uses Windows Services hosting WCF with WPF clients.  We want to add web UI's to our product using skill sets we are familiar with (.NET) but don't want to have to deploy IIS across our customer base to do it - that would be 000's of instances of IIS we have to worry about!  ASP.NET hosted in a windows service wou

[2015-11-12 14:02] BillDines commented on #390
As I said above: "I would like to create a normal asp.net 5 project (so I can use all the tools available in VS to help me) and then run that as a windows service"

Well, its seems I can.  You can just add a Program.cs class to your asp.net project something like this:

   using System;
   using System.ServiceProcess;
   using System.Threading.Tasks;

   public class Program : ServiceBase
   {

[2015-11-12 14:16] easyt commented on #390
Bill,

Pull the code from this repo: https://github.com/taskmatics/aspnet-windows-service. It runs in VS by default using the command line. If you want to run it as a service, you can use install.cmd and attach VS to the running dnx.exe process. There is an uninstall.cmd that will remove the service as well, and you can tweak those scripts as necessary.

It also has a graceful shutdown of the web

[2015-11-12 15:01] BillDines commented on #390
Hi Erez,

Thanks for getting in touch.  I saw this very helpful example.  In fact I may have given up without it!  We may use this approach if it is the recommended way to host in a service.  However, if it is possible, being able to just add a single class containing very little code to a standard ASP.NET project would be much better for us.  I want to keep things as “normal” as possible so devs

[2015-11-12 15:03] treestryder opened #643 "IOptions<TOptions> doesn't just magically work as written in /fundamentals/configuration.rst"
Please give the fully qualified name for IOptions<TOptions> or mention adding the using statement in /fundamentals/configuration.rst.

using Microsoft.Framework.OptionsModel;

 * Missing name spaces in documentation and tutorials is a general beef of mine.

[2015-11-12 18:40] ardalis commented on #643
We should fix this as part of the update to RC1. Should just need to change this:
.. literalinclude:: configuration/sample/src/UsingOptions/Controllers/HomeController.cs
  :linenos:
  :language: c#
  :lines: 11-24
  :dedent: 4

to
.. literalinclude:: configuration/sample/src/UsingOptions/Controllers/HomeController.cs
  :linenos:
  :language: c#
  :lines: 1-24
  :dedent: 4

and perhaps emphasize th

[2015-11-13 18:22] Eilon opened #647 "EntityFrameworkConfigurationSource sample is out of date"
The code here: https://github.com/aspnet/Docs/tree/master/aspnet/fundamentals/configuration/sample/src/CustomConfigurationSource

Which shows up in this doc: http://docs.asp.net/en/latest/fundamentals/configuration.html

Needs to be updated to take into account many renames and API changes in configuration.

[2015-11-13 19:57] gkrilov commented on #72
Previously with EF6 and MVC 5 we used to have a separate project for the data access layer where we had our context and repositories. The context was setup in this separate project. We then used services with unit of work to access the repositories in the web project.

How will this work in vNext with EF7? Would we still have all the data access stuff separately and then use services in the main w

[2015-11-13 20:42] ardalis commented on #72
I'm hoping to write some articles that show proper separation of concerns and layered architectures before RTM. These will include how to separate data access concerns into a separate project from the UI layer.

[2015-11-13 21:50] bitcrazed opened #648 "Instructions for how to configure external logins is out of date"
The [instructions on how to configure external logins (e.g. via Facebook)](https://docs.asp.net/en/latest/security/sociallogins.html#use-secretmanager-to-store-facebook-appid-and-appsecret) is out of date:

* it instructs the user to `dnvm use 1.0.0-beta5`
* Instructions on how to install `user-secrets` is incorrect

PR on the way ...

[2015-11-13 22:35] robbert229 commented on #591
@danroth27 Right now I am in the process of merging the two sections. My question is do we need both **Get Started with Entity Framework 7 using ASP.NET MVC 6** and **Building Your First MVC 6 Application**? The latter tutorial is only a stub, and to my understanding is the same to the first tutorial.

[2015-11-14 00:12] robbert229 commented on #130
@danroth27 Is it okay if I author this? I did open up a new issue because originally I didn't see this. Just looking for an okay to start.

[2015-11-14 00:23] danroth27 commented on #130
Sounds great to me!

@NTaylorMullen

[2015-11-14 00:54] Rick-Anderson commented on #591
Hey @robbert229  I'm almost finished with Building Your First MVC 6 Application. Can you send me an email and I'll send you a copy of it - or I can do a PR and you can build it. I'd like you feedback.

[2015-11-14 00:55] Rick-Anderson commented on #591
@robbert229  There is considerable overlap between the two tutorials and we'll think about fixing that for RTM, but for now I think we'll keep both of them.

[2015-11-14 01:02] robbert229 commented on #591
What is your email?

[2015-11-14 01:02] Rick-Anderson commented on #591
rick.anderson@microsoft.com

[2015-11-14 01:03] robbert229 commented on #591
Email sent.

[2015-11-14 01:09] robbert229 commented on #591
Also in the near future I will probably need some feedback on the razor guide which I am currently working on, so I will appreciate it if I can get your opinion then.

[2015-11-14 01:14] Rick-Anderson opened #650 "Remove -- from generated titles"
Yeah, this is the generated title from the html templates. We need to see if can fix the version number too (apparently it comes from conf.py).

File an issue and assign to me.

From: Rick Anderson (ASP.NET)
Subject: Let's get rid of the double dash -- in the title

It hurts SEO and break zipping

[2015-11-14 01:23] Rick-Anderson commented on #591
@robbert229  NP, let me know

[2015-11-14 01:27] robbert229 commented on #578
Resolved this in #130

[2015-11-14 01:27] #578 closed

[2015-11-14 02:34] robbert229 commented on #130
As far as content goes I plan to cover

* Code Blocks
* Implicit
* Explicit
* escaping @ as well as razor ignoring emails
* text tag
* Unencoded html
* server sided comments
* control structures
* delegates / lambdas in razor
* tilde in paths
* classes, ids, and attributes in general

Is there something else that should be covered in this article?
@danroth27 @Rick-Anderson

[2015-11-14 03:58] mattchristenson commented on #24
Hello,  I'm very interested in reviewing any early material on how the Dependency Injection module that will be a part of ASP.NET 5.0 is going to be working.  I'm happy to spend a little extra time making notes to the author.  My intention is to jump into ASP.NET 5.0 a lot earlier than I've jumped into previous bleeding edge .net releases, so feel free to utilize me to bounce revisions off.

[2015-11-14 06:15] Rick-Anderson commented on #130
@NTaylorMullen  @anurse can you take a look at the Razor Syntax Reference outline - it looks good to me.

[2015-11-14 06:19] Rick-Anderson commented on #24
@mattchristenson @nicolastakashi shoot me an email Rick.Anderson@microsoft.com  and I'll send you the latest version (in a zipped HTML file). You can then comment on this PR

[2015-11-14 07:43] robbert229 commented on #130
The title says reference so I am not planning on making it a full tutorial, more of a guide that will show all of the functionalities of razor, as well as some cool tricks. Is this fine, or do you want a tutorial complete with its' own example project? @danroth27

[2015-11-14 07:52] danroth27 commented on #630
https://github.com/aspnet/Docs/pull/652

[2015-11-14 07:55] danroth27 opened #653 "Localization"
Fundamentals -> Localization

The following blogs have some initial content on the localization support in MVC 6:
- http://blogs.msdn.com/b/webdev/archive/2015/10/15/announcing-availability-of-asp-net-5-beta8.aspx
- http://www.vodovnik.com/2015/09/20/localization-in-asp-net-5-mvc-6/

Also, some initial content was started here: https://github.com/aspnet/Docs/pull/554

[2015-11-14 07:59] danroth27 commented on #575
https://github.com/aspnet/Docs/pull/651

[2015-11-14 07:59] #575 closed

[2015-11-14 08:27] danroth27 commented on #130
Correct, this is supposed to be a reference topic, not a tutorial. No sample projects needed.

[2015-11-14 18:10] robbert229 commented on #535
This should probably be closed.

[2015-11-14 23:19] Rick-Anderson opened #655 "Put published date on articles"
Per customer comment

http://docs.asp.net/en/latest/conceptual-overview/understanding-aspnet5-apps.html#comment-2360128457

[2015-11-15 01:33] Rick-Anderson commented on #577
http://docs.asp.net/en/latest/publishing/iis.html#comment-2360219699
How about a section on how to point Local IIS to wwwroot and just having your project work like previous ASP.NET versions. So you can have something like local-foo.com points to wwwroot, you cna make changes etc and see those changes without having to publish

[2015-11-15 20:18] jimschubert commented on #56
The [docs for *Migrating an Existing NuGet Package Project*](https://docs.asp.net/en/latest/dnx/migrate-package.html) link to this issue and say "If you would like to review early drafts and outlines of this topic, please leave a note with your contact information in the issue."

What contact info would you need if I would like to review drafts and outlines?

[2015-11-15 20:28] jimschubert commented on #53
#50 is closed. Looks like project.lock.json was documented here: https://docs.asp.net/en/latest/dnx/projects.html#project-lock-file

[2015-11-15 23:07] NTaylorMullen commented on #130
Can you explain in more detail on what you want to cover on the above? It'd probably be good to cover the Razor directives (such as `@inherits`) as well.

[2015-11-16 15:19] gkrilov commented on #72
That would be great! It's good to separate the data layer out in big applications and it feels like .NET core + EF7 will have some differences in how that works

[2015-11-16 17:54] kjbetz opened #659 "Update Diagnostics article for Error Page changes"
Change UseErrorPage() to UseDeveloperExceptionPage() and UseErrorHandler() to UseExceptionHandler()

[2015-11-17 03:28] scottaddie commented on #584
Closing this issue, as the PR was merged.

[2015-11-17 03:28] #584 closed

[2015-11-18 03:41] Rick-Anderson opened #663 "Complete details page of getting started with MVC"

[2015-11-18 08:44] #648 closed

[2015-11-18 17:06] rustd opened #665 "Access config settings in a Controller"
We need to update this doc which shows how to access the appsettings in a Controller.
https://docs.asp.net/en/latest/fundamentals/configuration.html
This would involve adding Configuration to DI and accessing it from the Controller

[2015-11-18 17:08] rustd opened #666 "Add packages or dependencies using NuGet"
https://docs.asp.net/en/latest/dnx/projects.html#adding-dependencies
Add a section on using NuGet UI

[2015-11-18 17:09] rustd opened #667 "Add new client packages using Bower"
Update this https://docs.asp.net/en/latest/client-side/bower.html to show the new Bower UI in rc1

[2015-11-18 17:09] rustd opened #668 "Run app on .NET and .NET Core using VS"
Need a doc which tells a user to switch between .NET and .NET Core for VS

[2015-11-18 17:10] rustd opened #669 "Running DNX commands in VS"
https://docs.asp.net/en/latest/dnx/commands.html  Add content later that shows the VS integration for running commands

[2015-11-18 18:04] ardalis commented on #665
We're not putting MVC-specific details into those docs, typically. I'm working on a DI for Controllers article now and can be sure to cover access to configuration/IOptions in that article, and then we can link to it from the /fundamentals/configuration article. /cc @danroth27

[2015-11-18 18:48] rustd commented on #665
sounds good. Thanks!

[2015-11-19 05:27] danroth27 commented on #665
:+1: to what @ardalis said.

[2015-11-19 07:46] danroth27 commented on #193
https://azure.microsoft.com/en-us/documentation/articles/service-fabric-add-a-web-frontend/

[2015-11-19 07:46] #193 closed

[2015-11-19 12:47] dgee2 opened #674 ""Browse or download samples on Github" link 404"
The "Browse or download samples on Github" link on http://docs.asp.net/en/latest/fundamentals/environments.html is dead.

[2015-11-19 13:09] simonmurdock opened #675 "Installation instructions from get.asp.net"
I have been using https://docs.asp.net/en/latest/getting-started/installing-on-windows.html

These instructions did not work for me as they said to use the command prompt and run dnvm upgrade at first run. I had to run the visual studio developer console and run dnvm.

I may have been doing something wrong, as I still cant see aspnet projects available under visual studio's new project menu. Infac

[2015-11-19 15:16] trendoid opened #677 "adding dependency on Microsoft.Framework.DependencyInjection package results in 404"
Docs/aspnet/tutorials/your-first-aspnet-application.rst advises the user to add package Microsoft.Framework.DependencyInjection but that results in 404.  That namespace is built in now I believe.

[2015-11-19 15:59] leonardlabat commented on #677
This has moved to Microsoft.Extensions.DependencyInjection.

[2015-11-19 17:36] muratg opened #680 "Update Secret Manager instructions to reflect the new package name"
https://docs.asp.net/en/latest/dnx/commands.html?highlight=secretmanager

The new package name is Microsoft.Extensions.SecretManager

[2015-11-19 17:37] muratg commented on #680
@danroth27

[2015-11-19 21:37] optical opened #681 ".NET Core for Mac & Linux not production ready?"
Hi,

In the docs at https://github.com/aspnet/Docs/blob/master/aspnet/getting-started/choosing-the-right-dotnet.rst it states that .NET Core is not production ready.

I presume this information is now out of date as of RC1, as the blog post seems to imply .NET core is ready for production in all environments. Am I misinterpreting this blog post, or can this disclaimer be removed now?

[2015-11-19 21:45] simonmurdock commented on #675
Issue noted in the home repo as an installer bug.

[2015-11-19 21:45] #675 closed

[2015-11-20 02:13] scottaddie commented on #667
@rustd I'll take care of this one. Look for a PR within the next day or so.

[2015-11-20 17:31] scottaddie opened #686 "Clarify Python requirement for contributing"
Step 1 of "Building the Docs" in [CONTRIBUTING.md](https://github.com/aspnet/Docs/blob/master/CONTRIBUTING.md) mentions using at least version 2.7.10 of Python with a recommendation of version 3.4. The Getting Started video, however, on that same page references version 3.5 as the ideal version. I sense that there may be a bit of confusion for those considering contributing to the docs.

Is it saf

[2015-11-20 18:00] #350 closed

[2015-11-20 19:00] Rick-Anderson opened #687 "Create sample showing how to ref JavaScript/CSS inside a View Component"
see http://docs.asp.net/projects/mvc/en/latest/views/view-components.html#comment-2369574517

Is there a mechanism for referencing JavaScript or CSS files from inside the component? It would ideal to be able to add to the "sections" of the host views. Right now, with Partial Views, we have to use a workaround of registering scripts and CSS in the HttpContext and then pulling them out later when th

[2015-11-20 20:29] Hamaze commented on #617
Make sure you have a .gitignore file in the solution

[2015-11-20 21:49] angellaa commented on #453
@danroth27 I would be more then welcome to take this one. Actually I already had a fix when I wrote the issue and I was waiting for an approval. I still have the changes locally but I struggle to build the project. Followed the steps many time completely uninstalling python and I get the following error when I run "make html".

Extension error:
Could not import extension yasfb (exception: No modul

[2015-11-20 22:21] rowanmiller commented on #633
Hey,

I took a look at the article and it looks like good info. You should probably call out that migrations commands won't work because xproj does not support loading commands into Package Manager Console (this will change for RTM though).

Happy to do a final review etc. if you send a PR.

~Rowan

[2015-11-21 18:09] ltheONEl commented on #617
seems it was a bug in visual studio:  https://connect.microsoft.com/VisualStudio/feedback/details/1988360/opening-aspnet5-solution-from-cloned-repository-causes-visual-studio-to-crash

I have a .gitignore,  but the problem occurred during npn restore tasks.

Shift + Del did not work still got the same error, however I mapped the deepest folder I could get to as a network drive which allowed me del

[2015-11-22 03:22] voltagex commented on #86
Ended up here after looking at https://github.com/aspnet/Security/blob/1a59b385a012ac0873fb599fbe6c648b10088fd5/samples/SocialSample/Startup.cs - how can I help?

[2015-11-22 03:33] voltagex commented on #86
http://www.jerriepelser.com/blog/introduction-to-aspnet5-generic-oauth-provider is good but appears to be out of date (ExternalAuthenticationOptions doesn't exist)

[2015-11-22 18:53] tallichet commented on #95
Will this be the new version of the Azure Mobile App Services? I'm up for any review / debug / participation on this

[2015-11-23 16:23] brockallen opened #696 "dotnet-watch"
I guess here: https://docs.asp.net/en/latest/dnx/commands.html#global-commands-details

[2015-11-23 16:44] GuardRex commented on #696
This might be a good spot for @tuespetre methods for setting up IIS (not Express) with `dnx-watch`.

References:

https://github.com/tuespetre/dnx-watch-iis
https://github.com/aspnet/Hosting/issues/364#issuecomment-158733918
https://github.com/aspnet/Hosting/issues/364#issuecomment-158765267

[2015-11-23 17:22] Matthew-Bonner commented on #655
The comment...
"It would be really great to have a published date on these types of articles considering it's covering beta software. I just downloaded Beta 8 and this article has a lot of differences between what it says I should see and what I'm actually seeing. But I have no way to tell what version this article was written against or when it was published."

[2015-11-23 18:40] scottaddie commented on #600
@Rick-Anderson Are you looking for someone to take this on? I see that the RC1 changes still need to be incorporated. Let me know, and I'd be happy to help.

[2015-11-23 23:15] Rick-Anderson opened #700 "wrong DI file in tutorials/your-first-aspnet-application"
Microsoft.Framework.DependencyInjection should be remove from tutorial. That's the beta8 package ID. In rc1 it was changed to Microsoft.Extensions.DependencyInjection.

see comments in https://docs.asp.net/en/latest/tutorials/your-first-aspnet-application.html

[2015-11-23 23:27] Erikre commented on #700
Fixed. Thanks

[2015-11-23 23:28] Rick-Anderson commented on #600
@scottaddie that would be great.

[2015-11-23 23:29] Rick-Anderson commented on #700
@Erikre  thanks. Add PR and close this issue.

[2015-11-23 23:31] Erikre commented on #700
It's already fixed. Closing.

[2015-11-23 23:31] #700 closed

[2015-11-23 23:34] scottaddie commented on #600
@Rick-Anderson One of my favorite topics. I'm on it.

[2015-11-23 23:44] Erikre commented on #600
@scottaddie & @Rick-Anderson - The "Using Gulp" topic was recently updated? What RC1 changes do you propose?

[2015-11-24 00:01] scottaddie commented on #600
Many of the screenshots and code snippets reflect the Beta 8 release. I had 3 PRs in particular that are absent in the docs but are present in the Templates repo.

[2015-11-24 02:47] Erikre commented on #600
Sounds good. I'd be happy to review any changes when you're ready. Thanks

[2015-11-24 02:48] scottaddie commented on #600
@Erikre I appreciate it! I should have a PR ready for review within the next day or so.

[2015-11-24 08:02] shrayasr opened #702 "The Creating a Cross-Platform Console App with DNX"

[2015-11-24 08:05] shrayasr opened #703 "The "Creating a Cross-Platform Console App with DNX" doesn't have a link to install DNX on Linux"
The document has links to install DNX on windows and osx but misses the link to install DNX on linux.

I've also checked the [`master`](https://github.com/aspnet/Docs/blob/master/aspnet/dnx/console.rst) and the [`1.0.0-rc2`](https://github.com/aspnet/Docs/blob/1.0.0-rc2/aspnet/dnx/console.rst) branches and this is absent there as well.

Will shortly send a PR for this.

[2015-11-24 17:20] BillDines commented on #390
Note that neither approach shown above will work in RC1 due to changes in the entrypoint semantics and how servers are started.  [see here](https://github.com/aspnet/Announcements/issues/113)

At first glance the changes look like it will be easier to run a dnx application up as a service, and I can get an asp.net MVC application to run as a service easily enough.  Unfortunately it won't serve any

[2015-11-24 17:40] easyt commented on #390
The code in this repo has been updated to work on RC1. What issues are you seeing, exactly?

[2015-11-24 17:48] easyt commented on #390
I have also provided a pull request to the aspnet/Hosting repo with a new project that will allow users to host ASP.NET in a Windows service with zero code:
https://github.com/aspnet/Hosting/pull/494

The code example that uses this can be found at this branch:
https://github.com/taskmatics/aspnet-windows-service/tree/aspnet-hosting-winsvc

The install.cmd has been updated to use the 'svc' command

[2015-11-24 20:56] st-gwerner opened #706 "ASPNET_ENV variable should be changed in docs to Hosting:Environment"
It appears that in ASP.NET 5 RC1, the ASPNET_ENV environment variable was changed to Hosting:Environment. http://docs.asp.net/en/latest/fundamentals/environments.html should be updated to reflect the change.

[2015-11-24 23:30] renzska opened #707 "ASP.NET 5 RC1 Documentation For Social Logins Missing NuGet Package Microsoft.AspNet.Authentication.Facebook"
The article at https://docs.asp.net/en/latest/security/sociallogins.html needs to note that the NuGet package, Microsoft.AspNet.Authentication.Facebook, needs to be added for the code in the article to work, explicitly:

app.UseFacebookAuthentication(options =>
{
  options.AppId = Configuration["Authentication:Facebook:AppId"];
  options.AppSecret = Configuration["Authentication:Facebook:AppSecret

[2015-11-25 03:49] scottaddie commented on #600
@Erikre PR submitted. Go ahead and review. Thank you!

[2015-11-25 09:45] BillDines commented on #390
Your new code works with RC1.  Sorry I missed that update.  I checked your blog for updates, but not your repo.    (I now realise I should have been watching it, but I am a Git Newbie!).

I still have a problem as I can't get it to run with WebListener (which I need for windows authentication - at least I think I do).  That is not to do with your implementation I don't think, WebListener doesn't s

[2015-11-25 12:30] pharmatechnik commented on #49
Hello where is the tutorial :)?

[2015-11-27 00:20] Rick-Anderson commented on #548
Additionally, it doesn't show how to log from a controller. Customer  question at https://docs.asp.net/en/latest/fundamentals/logging.html#comment-2379245737

Console couldn't display when running under IIS Express. I go to log folder of IIS Express (/%userprofile%/Documents/IISExpress/logs) of that project but still not see my log.

[2015-11-27 00:22] Rick-Anderson commented on #541
combined with #548

[2015-11-27 00:22] #541 closed

[2015-11-27 00:25] Rick-Anderson commented on #540
@blowdart  should I remove the following from
http://docs.asp.net/en/latest/fundamentals/logging.html states:

Debug

Used for the most detailed log messages, typically only valuable to a developer debugging an issue. These messages may contain sensitive application data and so should not be enabled in a production environment. Disabled by default. Example: Credentials: {"User":"someuser", "Passwo

[2015-11-27 00:26] GuardRex commented on #548
@Rick-Anderson Hey ... Happy Thanksgiving to you and @danroth27! Funny you said something about this one ... I was just looking at http://www.tugberkugurlu.com/archive/asp-net-5-and-log-correlation-by-request-id when you posted.

[2015-11-27 14:53] blowdart commented on #540
I'd leave it - it shows the dangers.

[2015-11-27 23:32] njasm commented on #117
o_O

[2015-11-28 02:32] scottaddie opened #716 ""Working with Static Files""
- [x] bring in PR https://github.com/aspnet/Docs/pull/1254
- [ ] per barry - change the first example so it's not browsing on root.
- [ ] add Warning: Enabling directory browsing can leak secrets. We recommend that you **not** enable directory browsing in production.
- [ ] StaticFiles should mention that the webroot is defined in hosting configuration and link back to Hosting for details.
- [ ] St

[2015-11-28 15:53] eloekset opened #718 "DotNetCli"
All the DNVM, DNU and DNX stuff is outdated now, right? So the tutorial for ASP.NET 5 on a Mac, for instance, should be rewritten? https://github.com/aspnet/Docs/blob/master/aspnet/tutorials/your-first-mac-aspnet.rst

[2015-11-28 17:55] Rick-Anderson opened #719 "Creating a Cross-Platform Console App with DNX"
Needs update per cust comment.

[2015-11-28 18:18] davidfowl commented on #718
It'll be outdated when RC2 is released.

[2015-11-28 18:38] Rick-Anderson opened #720 "update Docs » Fundamentals » Servers"
https://docs.asp.net/en/latest/fundamentals/servers.html#comment-2382329700

[2015-11-29 18:23] Rick-Anderson commented on #453
See also #716
This doc is badly out of date.

[2015-11-29 18:25] Rick-Anderson commented on #716
See also #453
Per http://docs.asp.net/en/latest/fundamentals/static-files.html#comment-2383688546 this is out of date

[2015-11-29 18:51] RehanSaeed commented on #706
It seems to be `Hosting:Environment` for Windows and `Hosting__Environment` (Note the double underscore) for Linux and OSX according to [IHostingEnvironment](https://github.com/aspnet/Hosting/blob/04c30c8bb769aa5aea9fc7e63b0f8d47b81bdb72/src/Microsoft.AspNet.Hosting.Abstractions/IHostingEnvironment.cs).

Is that correct? Why have different names based on the OS?

[2015-11-29 19:05] GuardRex commented on #706
... on the same subject (referring to http://docs.asp.net/en/latest/fundamentals/environments.html#determining-the-environment-at-runtime ), it might be good to mention setting the environment (outside of Program:Main) isn't a good idea per https://github.com/aspnet/dnx/issues/3214#issuecomment-160432649. I think explicitly showing how to set it in code with Program:Main would be good for those ca

[2015-11-29 19:52] davidfowl commented on #706
The variables are changing again post RC1 so I wouldn't change asp_env just yet

[2015-11-30 12:40] GavinOsborn opened #721 "Fixing a typo"
Hey team,

Whilst reading your docs I encountered a typo in the /aspnet/dnx/commands article.

    The difference between global commands and commands that your add in...

Should read

    The difference between global commands and commands that you add in...

I don't know if the requirement to open an issue for all contributions applies to something as small as this but here it is none the less :

[2015-11-30 18:29] Rick-Anderson commented on #305
I hope to start this soon.
http://docs.asp.net/en/latest/fundamentals/localization.html

I'll be working with Nadeem and starting with http://afana.me/post/aspnet-mvc-internationalization.aspx

I'll need help with Arabic

[2015-11-30 22:45] Erikre commented on #600
@Rick-Anderson & @danroth27  - These updates look good to me. I believe "gulp" isn't meant to be capitalized, but that shouldn't hold up this PR. Please review.

[2015-12-01 03:27] scottaddie commented on #718
@davidfowl Where can I find some more info on this? Wondering whether the DN* tooling is now completely obsolete or if there are pieces of it I may still need to use.

[2015-12-01 05:47] davidfowl commented on #718
There is no documentation on this yet. We spoke about it in the last community stand up. By the time RC2 ships there hopefully be a smooth transition over (we have to do it ourselves) to the CLI.

[2015-12-01 08:10] #596 closed

[2015-12-01 12:42] rhires commented on #718
I actually watched some of that standup the other night! To re-iterate: RC1 is current, will be until February (according to the standup), all tooling/commands/etc. is good and fine until then. RC2 stuff on top will change, but under the hood it will all work roughly the same. We will see as time goes forward how this plays out in terms of what changes need to be made to get things going - such as

[2015-12-01 12:52] eloekset commented on #718
@scottaddie @rhires Here is the start of RC1, RC2, DN* and DotNetCli talk in the standup: https://youtu.be/UvkJJGVq-b0?list=PL0M0zPgJ3HSftTAAHttA3JQU4vOjXFquF&t=9m07s

[2015-12-01 15:33] ardalis opened #725 "Update DI article to reflect RC1 change"
ApplicationServices has been removed per https://github.com/aspnet/Announcements/issues/118.

Update dependency-injection section on ApplicationServices and RequestServices to reflect this.

[2015-12-01 18:25] Erikre commented on #600
Including @rachelappel

[2015-12-01 20:19] christiansparre opened #727 "Add docs for each of the authentication providers to help new users"
I think it would be an idea to add some documentation for each of the providers. For one I have run into a few gotchas using the Google OAuth provider, like remembering to enable the Google+ API in the Google developer console.

Would love to contribute if needed.

[2015-12-01 21:42] Tratcher commented on #720
Also https://github.com/aspnet/StaticFiles/issues/86#issuecomment-160302067

[2015-12-02 18:35] #674 closed

[2015-12-02 22:03] csunali commented on #706
@davidfowl - What are they changing to?

I have an application that ignores "Hosting:Environment" but accepts "ASPNET_ENV" at the moment.

It is an RC 2 application.

I have another application which I created using ASP.NET Tools RC1 Update 1 templates and it just works fine with "Hosting:Environment".

Do you have any clue?

[2015-12-02 23:14] #721 closed

[2015-12-02 23:16] #719 closed

[2015-12-02 23:19] shirhatti commented on #677
Closing since this was fixed in 89482489a6fae8deb4120c214b5dbb97773f46d1

[2015-12-02 23:19] #677 closed

[2015-12-02 23:32] shirhatti commented on #625
https://github.com/aspnet/Docs/blob/master/aspnet/conf.py#L58-L60

[2015-12-02 23:39] shirhatti commented on #570
@Rick-Anderson Seems fine now. Do you still have this problem?

[2015-12-02 23:54] shirhatti commented on #501
Closing since this has been fixed

[2015-12-02 23:54] #501 closed

[2015-12-03 19:45] ardalis opened #733 "Response Caching"
- Intro to response caching
  - Specify how you want to cache response messages-
- Response Cache Attribute
  - A filter that specifies what HTTP cache headers to set
  - Duration, location (anyclient/none), vary by header value, no store
    - Any = proxy or client
    - Client = client only
    - None - no caching
  - Multiple named cache profiles can be configured on MvcOptions and specified us

[2015-12-03 19:46] ardalis commented on #733
Can we schedule a meeting to discuss this topic next week as well, @danroth27 ?

[2015-12-03 19:48] ardalis commented on #69
Opened #733 for Output Caching.
@danroth27 Need to meet to discuss this topic and whether it makes sense to split Distributed Caching and Redis into a separate article (in memory cache article is already about 4-5 pages long).

[2015-12-03 19:58] ardalis commented on #128
@danroth27 Do you want me to expand on what's already here: https://github.com/aspnet/Docs/blob/master/mvc/views/dependency-injection.rst

[2015-12-03 20:05] #625 closed

[2015-12-03 20:30] Rick-Anderson commented on #707
While fixing this another customer requests more info on each provider. See https://docs.asp.net/en/latest/security/sociallogins.html#comment-2387653643

[2015-12-03 22:07] danroth27 commented on #727
@christiansparre Yup, this is needed. A contribution would be welcome!

[2015-12-03 22:08] danroth27 commented on #727
See what we've got already for Facebook at https://docs.asp.net/en/latest/security/sociallogins.html.

[2015-12-03 22:11] danroth27 commented on #718
Yup, we need to do these updates for RC2. We'll start this as the port to .NET CLI gets further along - probably early next year.

[2015-12-03 22:14] danroth27 commented on #716
Yup, we need to doc hosting.json, but I'm not sure the static files doc is the right spot. @Tratcher thoughts on this?

[2015-12-03 22:17] danroth27 commented on #707
Yeah, it used to be that all of the packages for the external authentication providers were included in the template, but now they are not and you have to add the packages you need.

[2015-12-03 22:18] danroth27 commented on #706
We should update the RC1 docs and then track changing this again for RC2.

[2015-12-03 22:19] #703 closed

[2015-12-03 22:19] danroth27 commented on #702
Duplicate of https://github.com/aspnet/Docs/issues/703.

[2015-12-03 22:19] #702 closed

[2015-12-03 22:22] danroth27 commented on #696
Unfortunately I believe dnx-watch is broken for RC1 and it is getting replaced for RC2. @victorhurdugaci  can you confirm?

[2015-12-03 22:24] danroth27 commented on #687
@rynowak Is this scenario possible to do today? What would this sample look like?

[2015-12-03 22:24] victorhurdugaci commented on #696
`dnx-watch` is not broken :) The only big known issue is when running on OSX on CoreCLR: https://github.com/aspnet/dnx-watch/issues/21 and the CLR team is working on a fix.

[2015-12-03 22:29] danroth27 commented on #686
@ardalis The doc is right - 3.4 or higher and 2.7.10 or higher are both fine.

[2015-12-03 22:29] #686 closed

[2015-12-03 22:30] danroth27 commented on #681
The disclaimer can now be removed.

[2015-12-03 22:33] danroth27 commented on #668
We should wait to do this until we know how this is going to look after we move to the .NET CLI.

[2015-12-03 22:35] danroth27 commented on #666
All the DNX docs are going away now that we are moving to .NET CLI.

[2015-12-03 22:35] #666 closed

[2015-12-03 22:37] danroth27 commented on #665
https://github.com/aspnet/docs/pulls/728

[2015-12-03 22:38] danroth27 commented on #663
@Rick-Anderson What is this tracking? Can this issue just be closed now?

[2015-12-03 22:39] #659 closed

[2015-12-03 22:42] danroth27 commented on #653
@Rick-Anderson is taking over this article from the work that @TomArcher had started.

[2015-12-03 22:43] danroth27 commented on #650
https://github.com/aspnet/docs/pull/731

[2015-12-03 22:43] #650 closed

[2015-12-03 22:45] Erikre commented on #681
Updated the doc and created PR #735. Removing the following sentence:
However, the .NET Core support for Mac and Linux is still very new and not ready for production workloads.

[2015-12-03 22:51] danroth27 commented on #643
We don't want to add using statements for all code snippets. The code snippets come from sample apps that are included in the docs repo that you can look at. We could look into making it easier though to jump to the code from the snippet.

[2015-12-03 22:51] #643 closed

[2015-12-03 22:52] danroth27 commented on #641
CentOS is unfortunately not supported in beta8 or RC1. We will re-enable CentOS support in the next milestone release.

[2015-12-03 22:52] #641 closed

[2015-12-03 22:54] danroth27 commented on #638
This code is no longer in this doc.

[2015-12-03 22:54] #638 closed

[2015-12-03 22:55] danroth27 commented on #635
Looks like it is working now.

[2015-12-03 22:55] #635 closed

[2015-12-03 22:56] danroth27 commented on #633
@damienpontifex Are you still planning on contributing this article? Sounds like @rowanmiller is happy to review the PR.

[2015-12-03 22:57] #631 closed

[2015-12-03 22:58] #630 closed

[2015-12-03 23:00] danroth27 commented on #629
@Rick-Anderson Do you have more details on what to document here? Inject scripts and css where?

[2015-12-03 23:02] #624 closed

[2015-12-03 23:04] danroth27 commented on #617
Doesn't look like a doc bug.

[2015-12-03 23:04] #617 closed

[2015-12-03 23:07] #616 closed

[2015-12-03 23:09] danroth27 commented on #603
Not needed anymore now that we are moving to .NET CLI.

[2015-12-03 23:09] #603 closed

[2015-12-03 23:13] danroth27 commented on #589
@pranavkm What scenario are we trying to help users accomplish here? Seems like https://github.com/aspnet/Docs/issues/590 would cover this sufficiently.

[2015-12-03 23:27] pranavkm commented on #589
Wrong @pranavkm

[2015-12-03 23:30] danroth27 commented on #581
While we are tracking adding reference pages for our command-line tools (#309, #310, #311), we haven't treated this as high priority under the assumption that you can just use the help text from the tool. We are planning to move off of DNX onto the new .NET CLI tools, so this documentation will move to the [.NET Core docs](https://github.com/dotnet/core-docs).

[2015-12-03 23:30] #581 closed

[2015-12-03 23:33] danroth27 commented on #579
https://github.com/aspnet/docs/issues/101

[2015-12-03 23:33] danroth27 commented on #101
Clarify that the environment tag uses tag helpers and link to http://docs.asp.net/projects/mvc/en/latest/views/tag-helpers/intro.html

[2015-12-03 23:34] #579 closed

[2015-12-03 23:40] ardalis commented on #716
Configuration makes the most sense to me, with reference from Servers.

[2015-12-03 23:40] danroth27 commented on #576
We plan to provide translations - see https://github.com/aspnet/Docs/issues/416

[2015-12-03 23:40] #576 closed

[2015-12-03 23:41] #573 closed

[2015-12-03 23:42] #570 closed

[2015-12-03 23:51] Tratcher commented on #716
StaticFiles should mention that the webroot is defined in hosting configuration and link back to Hosting for details.

[2015-12-04 00:13] danroth27 commented on #556
@terrimorton What's the status of getting this fixed and adding back the helpfulness UI?

[2015-12-04 00:15] danroth27 commented on #547
Duplicate of #556.

[2015-12-04 00:15] #547 closed

[2015-12-04 00:15] #545 closed

[2015-12-04 00:18] danroth27 commented on #544
This is not a doc issue. If you are still seeing this problem please open a bug on the [Tooling](https://github.com/aspnet/tooling/issues) repo.

[2015-12-04 00:18] #544 closed

[2015-12-04 00:18] #543 closed

[2015-12-04 00:19] #542 closed

[2015-12-04 00:21] #540 closed

[2015-12-04 00:21] danroth27 commented on #538
Going forward this should be covered in the .NET CLI docs.

[2015-12-04 00:21] #538 closed

[2015-12-04 00:22] #537 closed

[2015-12-04 00:22] #535 closed

[2015-12-04 00:25] danroth27 commented on #526
This will become part of the .NET CLI docs.

[2015-12-04 00:25] #526 closed

[2015-12-04 00:25] danroth27 commented on #526
This will become part of the .NET CLI docs.

[2015-12-04 00:28] danroth27 commented on #653
From https://github.com/aspnet/Docs/issues/522: - customer request:
calendar controls and date time formatting causing lot of issues which needed special care while coding. Please let me know if these have been specifically addressed as part of the latest framework or else is there a recommendation as to how best these can be done from the product team.

[2015-12-04 00:28] danroth27 commented on #522
Covered by https://github.com/aspnet/Docs/issues/653

[2015-12-04 00:28] #522 closed

[2015-12-04 00:29] #521 closed

[2015-12-04 00:32] #500 closed

[2015-12-04 00:34] danroth27 commented on #490
Should be quick and easy.

[2015-12-04 00:34] #482 closed

[2015-12-04 00:37] danroth27 commented on #477
Tracking this with #547.

[2015-12-04 00:37] brockallen commented on #696
Also, can you document how to run dnx from a parent folder? It doesn't seem to have a `-p` as dnx doex.

[2015-12-04 00:42] danroth27 commented on #680
#465

[2015-12-04 00:42] #680 closed

[2015-12-04 00:44] danroth27 commented on #453
@angellaa The issue you saw should be fixed now. Pull down the latest and you should be able to build.

[2015-12-04 00:46] #452 closed

[2015-12-04 00:49] danroth27 commented on #449
PR #701

[2015-12-04 00:50] #448 closed

[2015-12-04 00:52] danroth27 commented on #445
If you use the installer you will get all four runtimes. It's only when you use dnvm that you just get the default DNX.

[2015-12-04 00:52] #445 closed

[2015-12-04 00:57] #388 closed

[2015-12-04 00:58] #352 closed

[2015-12-04 02:38] rhires commented on #666
I'm sorry to see the name of the commands of dnx and dnu going away - even if they are a bit confusing as to which to use when. They have coolness and cachet. Hopefully whatever new commands you guys and gals and the community comes up with will retain some of that. Cheers!

[2015-12-04 06:30] danroth27 commented on #593
We are using PRs for public review.

[2015-12-04 06:30] #593 closed

[2015-12-04 06:32] danroth27 commented on #278
Since we are moving away from DNX onto the .NET CLI this documentation will no longer be needed.

[2015-12-04 06:32] #278 closed

[2015-12-04 06:32] #229 closed

[2015-12-04 06:33] #286 closed

[2015-12-04 06:35] #269 closed

[2015-12-04 06:36] danroth27 commented on #108
https://docs.asp.net/en/latest/publishing/docker.html

[2015-12-04 06:36] #108 closed

[2015-12-04 06:43] danroth27 commented on #568
The dnvm install script will check if a bash profile exists and it it doesn't it will let you know and tell you how to create one. Since this is an edge case I think we can do without explicitly listing this step in the docs.

It looks like the beta7 code is no longer present.

We plan to add instructions to install Mono in the Mac installation instructions as it is currently required for VSCode a

[2015-12-04 07:36] qin-nz commented on #720
maybe you should also tell us how to listen multiple domains/ports in `hosting.json` configuration section `server.urls`

[2015-12-04 07:46] danroth27 commented on #666
You can check out the new stuff in progress at https://github.com/dotnet/cli.

[2015-12-04 07:50] robbert229 opened #740 "Code, or screenshots of code?"
In several areas of the documentation there are screenshots of code instead of code blocks. Is this how things are intended or are we planning on fixing this?

[Example](http://docs.asp.net/projects/mvc/en/latest/views/tag-helpers/intro.html)
@Rick-Anderson

[2015-12-04 09:00] christiansparre commented on #727
I think that is a great overall guide to setting up social login. Would it be an idea with subpages for each provider?

[2015-12-04 11:49] NeelBhatt commented on #535
nice to see number of people for a task! Thinking when i could get chance to work for Microsoft :P

[2015-12-04 15:49] adrianhara commented on #687
+1 for this feature

[2015-12-04 15:49] ktulufrozen commented on #687
+1 as well

[2015-12-04 16:27] danroth27 commented on #727
I think a subpage for each supported provider would work great.

[2015-12-04 17:09] danroth27 opened #742 "Update Integration Testing article to RC1"
https://docs.asp.net/en/latest/testing/integration-testing.html#comment-2391378407

[2015-12-04 17:15] robbert229 commented on #742
Is it okay if I update this? @danroth27

[2015-12-04 17:22] danroth27 commented on #128
@rynowak @Eilon @NTaylorMullen Does this article need more detail or should we just leave it as is?

[2015-12-04 17:45] ardalis commented on #742
@robbert229 go for it and I can review.

[2015-12-04 17:47] robbert229 commented on #742
Thanks, will do.

[2015-12-04 21:54] danroth27 commented on #623
The whole site should redirect now to https.

[2015-12-04 21:55] danroth27 opened #743 "Update Disqus configuration to specify page URL and page ID"
Our entire site now redirects to https, but we should still do this at some point:

https://help.disqus.com/customer/en/portal/articles/2158629

[2015-12-04 22:15] #681 closed

[2015-12-05 03:24] shirhatti commented on #449
Merged in b5525268ba34ad4abd090657043d129b567fde43

[2015-12-05 03:24] #449 closed

[2015-12-05 05:43] GuardRex opened #744 "Show a sample for Custom Key Encryption"
@danroth27 @Rick-Anderson @ardalis @muratg @blowdart @GrabYourPitchforks

RE: https://docs.asp.net/en/latest/security/data-protection/implementation/key-encryption-at-rest.html#custom-key-encryption

When you think about the multitude of scenarios where Data Protection is going to need to work, many will want to know more specifically how to replace the encryption/decryption mechanism of Data Prot

[2015-12-05 10:54] muratg commented on #744
I think a sample would be a useful idea, and above looks good for documenting it, but I'd like to hear what @blowdart and @GrabYourPitchforks think about it as well.

A sample in Entropy repo would also be interesting, perhaps implementing a custom key encryption using a real world encryption solution.

[2015-12-05 14:06] blowdart commented on #744
The problem we have is there is NOTHING on other OSes right now, so there's nothing to document.

There's a reason we don't document examples for this beyond an azure key store example which will probably end up in the actual code base - it's hard to get right and frankly we don't want to encourage it for the every day developer - the sorts of real world examples would be using an HSA.

Giving an

[2015-12-05 15:52] Tessalator commented on #61
@danroth27 by "Routes with dots" you are talking about route templates correct? Or does this apply to route names too?

Also, I'd like to contribute to some type of migration documentation. I'm working on moving an MVC5 application to MVC6 and hit some major roadblocks due to discontinued features. As I find the way to implement my features in 6 I'd like to share those with others. Where would I c

[2015-12-05 17:01] #744 closed

[2015-12-05 17:08] GuardRex opened #745 "Change word for gender-neutral language"
@danroth27 @Rick-Anderson

https://docs.asp.net/en/latest/security/data-protection/implementation/key-encryption-at-rest.html#custom-key-encryption

Suggest changing "his" to "their" in "... the developer can specify his own key encryption mechanism ..."

[2015-12-05 19:19] robbert229 commented on #130
@NTaylorMullen

I forgot about about directives and have since added them into what I will be covering. Right now I am reviewing everything and getting ready to make a pull request.

Sorry about the delayed response, a natural disaster, thanksgiving, and finals have put open source on the back burner for a while.

[2015-12-05 20:16] Daniel15 commented on #61
Yeah, route templates, things like these ones I use on my site:
[code]
[code]

[2015-12-05 22:16] NTaylorMullen commented on #128
Hmm, i'm not sure this warrants an entire article.

[2015-12-05 22:53] robbert229 commented on #742
PR #746

[2015-12-05 23:14] robbert229 commented on #131
@danroth27, Is it okay If I write this?

[2015-12-05 23:17] robbert229 commented on #130
My roughdraft can be found [Here](https://github.com/robbert229/Docs/blob/robbert229-razor/mvc/views/razor.rst).

 If anyone is willing to take a look at it I would be thankful. Also it is the first article I have written so any constructive criticism will be appreciated.

@danroth27 @NTaylorMullen @Rick-Anderson

[2015-12-06 06:12] Eilon commented on #128
The doc doesn't really say *why* you'd want to do this. Are we trying to have some conceptual content in here?

BTW this will eat at me forever unless I say something: there are spaces missing after some of the colons in the code:

[code]

[2015-12-06 06:25] robbert229 commented on #128
In the community stand up it was stated that the purpose of dependency injection in views is to have the controller not need to know about view specific services.

[2015-12-06 06:36] IvandroFabiaeFilhos opened #749 "fix the word "delelopers" in start-mvc"
fix the word delelopers  in start-mvc page.

[2015-12-06 08:33] robbert229 opened #750 "Update UnitTesting Docs"
The Unit Testing documentation and sample project are out of date and need to be updated to rc1.

I am working on this. @ardalis

[2015-12-06 21:49] #750 closed

[2015-12-07 01:22] atrauzzi opened #754 "Getting started without tooling"
I've noticed a few issues for newcomers to the .NET and ASP.NET world in the documentation.

The main issue is that a lot of it is centered around the convenience of being able to just hit *file->new* and then have an entire project scaffolded out.  These walkthroughs are okay, but I think it's easy to see that they end up focusing more on the tooling than the actual technology itself.  This is es

[2015-12-07 18:48] danroth27 commented on #754
The focus has been on helping folks get started and be productive with the help of the tooling.

We should consider having a simple getting started doc that doesn't require any tooling. Ex http://expressjs.com/en/starter/hello-world.html.

[2015-12-07 18:59] danroth27 commented on #716
I think the webroot notion is mentioned in several places, for example:
- Static files
- [Understanding ASP.NET](https://docs.asp.net/en/latest/conceptual-overview/understanding-aspnet5-apps.html)
- [Introduction to ASP.NET](https://docs.asp.net/en/latest/conceptual-overview/aspnet.html)

I think we should do a clean up to consolidate where webroot is defined and discussed and update all the relev

[2015-12-07 19:21] ardalis opened #755 "Replace Instance with another Singleton overload in fundamentals/dependency-injection"
update the Service Lifetimes and Registration Options section in http://docs.asp.net/en/latest/fundamentals/dependency-injection.html to remove the mentions of "Instance" because it's not (and never was) a concept of its own.

[2015-12-07 19:21] GrabYourPitchforks commented on #744
One of the libraries we considered very early on was [Google Keyczar](https://github.com/google/keyczar). There are a variety of reasons we ended up not going with it. However, it should be possible for an interested party to create an implementation of `IDataProtectionProvider` that wraps the Keyczar libraries.

Some things an implementer would need to be aware of: (a) key creation would be chall

[2015-12-07 20:01] Tratcher commented on #720
@qin-nz use a semi-colon separated list like `http://localhost:5000/;http://*:5001/;5002;`

[2015-12-07 23:48] vkichline opened #757 "Need a walkthrough of EF/DB to Azure"
Examples that publish DNX to Azure do not include databases, and examples that include databases do not include publishing to Azure.
An ideal example would be a Starter app with authentication, published to Azure.

[2015-12-08 02:31] shirhatti commented on #749
Fixed in 64cfb65411dc7caf1525abaff2f8fde5d08f2863

[2015-12-08 02:31] #749 closed

[2015-12-08 04:04] scottaddie opened #758 "Update "Using Angular for Single Page Applications (SPAs)" for RC1"
There are several dated pieces to this article that need to be updated. There are also a few inaccurate statements. Is anyone else working on this article already? If not, I'll work on a PR.

[2015-12-08 18:45] danroth27 commented on #758
A contribution would be great! Thank you!

[2015-12-08 18:50] danroth27 commented on #757
@sayedihashimi @rowanmiller what's the guidance on when we should document this scenario? Is the DB publishing support still if flux?

[2015-12-08 18:52] rowanmiller commented on #757
Yes, still very much in flux. We should have proper support in RC2 (i.e. integration into the publish dialog).

[2015-12-08 19:14] Rick-Anderson commented on #629
per customer - http://docs.asp.net/en/latest/client-side/bower.html#comment-2330808685
Would be nice to add few words how bower can inject scripts and css
http://tattoocoder.azurewebsites.net/using-gulp-for-asp-net-5-visual-studio-2015/

See the notes section.

I would also encourage the use of the wiredep package with gulp. This package injects the bower packages into your .html files by decorati

[2015-12-08 19:55] cmatskas opened #759 "Change ambiguous wording"
Hi
On this page:

https://github.com/aspnet/Docs/blob/master/aspnet/conceptual-overview/understanding-aspnet5-apps.rst#server-side-dependency-management

 half way down the post, where it talks about Client-Side dependencies, there's a phrase that doesn't make lots of sense:

*Dependency are then further configured in their own section within each bower.json file, indicating how it should be deplo

[2015-12-08 20:00] ardalis commented on #759
"within it's corresponding" this is possessive so should be "within its corresponding".

[2015-12-08 20:02] cmatskas commented on #759
Hi @ardalis lol, you're correct. Are you still happy with me to progress with the change? Does it make more sense? Thanks for looking into this by the way

[2015-12-08 20:33] ardalis opened #761 "Distributed Cache"
Basic interface
 - connect
 - get
 - set
 - remove
 - string[] -> byte[]
- distributed cache is a lot simpler. no expiration callbacks; just time-based expiration (sliding, absolute)
- caching is ephemeral - you can't count on it to stick around

Setup in DI
Redis with link to setting up Azure Redis
- no need to doc redis - point to redis article on site or on azure
- we do not initialize the cach

[2015-12-08 20:49] ardalis commented on #128
@danroth27 should I write something up that includes some conceptual background and answers @Eilon 's why question?

[2015-12-08 20:50] ardalis commented on #733
Add this to mvc team meeting agenda @danroth27 . Per our email discussion, we were going to put this article in a new section called Performance under the MVC docs (just documenting that here).

[2015-12-08 21:20] ardalis commented on #759
Sure, go for it.

[2015-12-08 23:08] kylone commented on #61
One of the issues I've had problems with ASP.NET MVC (4+) and IIS is handling making custom Not Found and Error pages is all cases. We eventually went with web server directives. Would a middleware piece be appropriate for this?

[2015-12-08 23:29] sayedihashimi opened #766 "Doc for publishing to IIS with MSDeploy"
Scott Hunter asked me to write up a doc for publishing to IIS with MSDeploy that he would like to see on this site. I have written up the doc and attached it here [Publishing-to-IIS-with-MSDeploy.zip](https://github.com/aspnet/Docs/files/56165/Publishing-to-IIS-with-MSDeploy.zip).

Can someone help me convert this to .rst and get it added here?

[2015-12-08 23:30] robbert229 commented on #766
I can if that is okay with you.

[2015-12-08 23:31] sayedihashimi commented on #766
@robbert229 works for me, thanks

[2015-12-08 23:31] robbert229 commented on #766
ok.

[2015-12-08 23:36] cmatskas commented on #759
Hi @ardalis. I've raised the PR( #759) but there seems to be and issue with the CI build. Quite a few errors in the last couple of hours and it seems to be a red herring as the warnings are about files that are already in the repo. Is there anything I can do to help? thanks

[2015-12-09 00:10] robbert229 commented on #766
PR is in. For now I am just having your name point to your github account. @sayedihashimi

[2015-12-09 01:39] robbert229 opened #769 "Failure to build on master"
Right now, if you clone the repo and build with the same settings that the ci uses to check docs, it won't build. The culprit is following.

    sphinx-build -nW -b html -d aspnet/_build/doctrees aspnet aspnet/_build/html
    sphinx-build -nW -b html -d mvc/_build/doctrees mvc mvc/_build/html

    ...

    Warning, treated as error:
    C:\Users\John Rowley\Documents\docs2\aspnet\fundamentals\midd

[2015-12-09 02:45] scottaddie commented on #758
Sounds great. I'm on it.

[2015-12-09 05:13] #769 closed

[2015-12-09 06:03] robbert229 commented on #742
@danroth27 This should be closed.

[2015-12-09 12:54] ardalis commented on #759
I don't think 759 is actually your PR number since it's this issue number - looks like it's #765

[2015-12-09 12:56] ardalis commented on #759
PR looks good; closing this issue.

[2015-12-09 12:56] #759 closed

[2015-12-09 12:56] cmatskas commented on #759
You're right. The PR is #765. Apologies for the confusion

[2015-12-09 13:06] ardalis commented on #211
@nickvdyck Is this still an issue with the revised version of the Gulp content, found here: https://docs.asp.net/en/latest/client-side/using-gulp.html ? If so, can you please open a new issue? I'm going to close this one as the article it was referencing has since been replaced. Thanks!

[2015-12-09 13:06] #211 closed

[2015-12-09 13:06] #24 closed

[2015-12-09 13:08] ardalis commented on #303
@Rick-Anderson if the PR #771looks good, close this.

[2015-12-09 16:29] ardalis opened #773 "project.json dependencies Article"
@danroth27
Where should the dependencies section be covered in more depth? Currently we have
/dnx/diagnosing-project-dependency-issues.html #200 but I think we need an overview before we send people to a topic on diagnosing problems,

and some coverage in
https://docs.asp.net/en/latest/conceptual-overview/understanding-aspnet5-apps.html

I'd like to add a link from the Understanding ASP.NET 5 Web

[2015-12-09 16:40] ardalis commented on #78
It's very hard to respond to feedback given in this fashion - in the future use line-item comments on a PR, or group feedback into separate issues, or issue your own PR which can include line-by-line discussion of individual feedback items.

I've updated a bunch of the outstanding items listed here, and @Erikre has also updated this article already for RC1. Regarding the suggestion to use code ins

[2015-12-09 16:41] ardalis commented on #116
@rachelappel You're taking this, right?

[2015-12-09 16:41] danroth27 commented on #773
There is a bunch of stuff in the [Working With DNX Projects](https://docs.asp.net/en/latest/dnx/projects.html#adding-dependencies) article. But all of the DNX content will be moving out of the ASP.NET docs now that we are moving to the new [.NET CLI](https://github.com/dotnet/cli).

[2015-12-09 16:45] danroth27 opened #775 "ASPNET_ENV is now Hosting:Environment"
This needs to be addressed in the [Working with Multiple Environments](http://docs.asp.net/en/latest/fundamentals/environments.html) article.

[2015-12-09 17:05] rachelappel commented on #116
Yeah

[2015-12-09 17:09] eriksendc commented on #68
When reading https://readthedocs.com/projects/aspnet-aspnet/downloads/pdf/latest/ it stated under caching to leave a comment if I wanted to review documentation drafts. I'm Brian Eriksen, eriksendc@yahoo.com is my email. Would be happy to review content being developed. Thanks!

[2015-12-09 17:13] ardalis commented on #290
Added link to Servers to learn more about debug profiles.
Clarified launchSettings.
Clarified StartupStaging class is used.
Disagree re: if no environment is set, especially given there are currently multiple ways to set the environment (ASPNET_ENV, Hosting:Environment).
Removed async from StartupStaging Configure method to fix warning.
Removed () from method names.
Replaced e.g. with for example.

[2015-12-09 17:13] #290 closed

[2015-12-09 17:15] ardalis commented on #313
This whole article was replaced, so this issue is no longer relevant.

[2015-12-09 17:15] #313 closed

[2015-12-09 17:17] ardalis commented on #775
Is that new name being used on all platforms? I saw in another issue a user stated Hosting__Environment was being used on non-Windows platforms.

[2015-12-09 17:18] #742 closed

[2015-12-09 17:34] #303 closed

[2015-12-09 19:35] danroth27 commented on #773
Closing since we are not adding more DNX docs to the ASP.NET site.

[2015-12-09 19:35] #773 closed

[2015-12-09 19:38] danroth27 commented on #589
Sample of what this should cover: https://github.com/aspnet/Security/blob/dev/samples/CookieSample/Startup.cs

[2015-12-09 19:40] danroth27 commented on #349
We cover the Task Running Explorer in various places in the client-side docs. Ex. http://docs.asp.net/en/latest/client-side/using-gulp.html#running-default-tasks

[2015-12-09 19:40] #349 closed

[2015-12-09 19:42] danroth27 commented on #345
Shouldn't be an issue anymore - the Bower article has gone through multiple revisions at this point.

[2015-12-09 19:42] #345 closed

[2015-12-09 22:06] danroth27 commented on #128
@ardalis Sounds good - one example use case is the view localizer service.

[2015-12-09 22:34] robbert229 commented on #766
I think this should be closed @sayedihashimi

[2015-12-09 22:45] #766 closed

[2015-12-10 18:00] #120 closed

[2015-12-10 18:00] #68 closed

[2015-12-10 18:01] #203 closed

[2015-12-10 18:02] #530 closed

[2015-12-10 18:48] ardalis commented on #665
#728 shipped. Closing this.

[2015-12-10 18:48] #665 closed

[2015-12-10 18:48] #69 closed

[2015-12-10 18:50] #600 closed

[2015-12-10 18:51] danroth27 commented on #117
Initial content in PR: https://github.com/aspnet/Docs/pull/602

[2015-12-10 18:54] #633 closed

[2015-12-10 18:54] #667 closed

[2015-12-10 18:57] #72 closed

[2015-12-10 18:57] danroth27 commented on #72
We are now linking to the EF articles on integrating with ASP.NET 5: https://docs.asp.net/en/latest/data/index.html

[2015-12-10 21:15] ardalis commented on #276
Looks like this has been fixed (perhaps by Rick)

[2015-12-10 21:15] #276 closed

[2015-12-10 22:28] robbert229 opened #784 "Links in articles"
I was looking through some of the docs rst files and I have seen links using `Link <http://docs.asp.net/somearticle.html>`  as well as links using `:doc: somearticle`. Is there a preference?
@danroth27 @ardalis @Rick-Anderson

[2015-12-11 00:08] ardalis commented on #784
:doc: is the preference. Sometimes http is used for links between sphinx document repositories, although intersphinx allows these also to work (but at greater effort from the doc author).

[2015-12-11 00:11] robbert229 commented on #784
Thanks.

[2015-12-11 00:11] #784 closed

[2015-12-11 00:38] rhires commented on #72
I'm confused. Is the link supposed to point to EF6 references, or EF7? The main page this link points to talks about EF6 (the third link/bullet point), and if you hit "next" it keeps you on the EF6 track, but if you click the link for the text "ASP.NET 5 Application to New Database" and the 2nd bullet point, they point to EF7 stuff. I'm asking because I know that aspnet5 is supposed to work with b

[2015-12-11 01:10] mwijnands commented on #574
Was fixed in issue #719

[2015-12-11 18:45] davidmdem commented on #687
+1

[2015-12-11 23:28] Rick-Anderson commented on #687
@rynowak Is this scenario possible to do today? What would this sample look like?
@rynowak  if you can send me some code, I'll get this article updated ASAP.

[2015-12-11 23:34] Rick-Anderson opened #785 "https://docs.asp.net/en/latest/data/index.html need pointer to http://docs.efproject.net/en/latest/index.html"
customer found this page confusing, so did I.
https://github.com/aspnet/Docs/issues/72#issuecomment-163796450

Need link to EF7 http://docs.efproject.net/en/latest/index.html

[2015-12-11 23:34] Rick-Anderson commented on #72
@rhires  The first two links are EF7, the last is EF6. Thanks for pointing this out. I opened #785 to track this.

[2015-12-12 04:22] GuardRex opened #786 "IIS hosting scenarios coverage with the aspNetCore element"
@danroth27 @Rick-Anderson

I was just communicating with @Aerendel and runtime location in an IIS hosting environment came up tangentially in the issue comments: https://github.com/aspnet/Hosting/issues/364#issuecomment-164108002

Within the discussion, I worked out that an alternate runtime location can be setup like this ...
[code]

Perhaps an official doc could show how to configure the `httpPl

[2015-12-12 18:50] GuardRex opened #788 "Publishing to IIS perhaps should include non-VS publishing prior to deployment"
@danroth27 @Rick-Anderson RE: https://docs.asp.net/en/latest/publishing/iis.html

[I don't think this quite fits for *How to Customize Publishing*, so I'll continue.]

As pointed out by @Aerendel in https://github.com/aspnet/Hosting/issues/364#issuecomment-164171065, the `Publishing to IIS` doc assumes that prior to deploying to IIS the developer will be using VS to publish locally. However, I thi

[2015-12-12 19:07] GuardRex commented on #786
... and I understand that the changes from `dnx web` to `dotnet run` may change what configuration is possible and what such a doc or section of a doc would say per https://github.com/dotnet/cli/issues/254#issuecomment-158124295. Therefore, I expect you'll backlog if you're not going to reject my suggestion outright.

[2015-12-13 19:02] tomKrueger commented on #95
I am willing to review and contribute.

[2015-12-14 16:12] neville-lewis commented on #133
I hope this stays:

[ClaimsPrincipalPermission(SecurityAction.Demand, Operation = "OperationA", Resource = "DeletePage")]

or improves.

At the moment I am unable to find anything that parallels it. I have been searching all of 30 minutes though.

[2015-12-14 17:11] danroth27 commented on #133
@blowdart

[2015-12-14 17:15] blowdart commented on #133
Long gone. Use imperative resource based checks. It was never part of asp.bet in the first place, it was code access security based which has been removed.

[2015-12-14 21:19] #758 closed

[2015-12-14 22:32] danroth27 commented on #786
You can find the configuration reference docs for the HttpPlatformHandler at http://www.iis.net/learn/extensions/httpplatformhandler/httpplatformhandler-configuration-reference. We should link to them from the ASP.NET docs.

[2015-12-14 22:42] GuardRex commented on #786
@danroth27 When the time comes for this [(1) `dotnet` CLI is implemented for IIS scenarios, and (2) VS publish stops replacing settings in `web.config`], give me a holler if I can take some worker bee tasks off of @Rick-Anderson's plate in the way of testing and notes.

[2015-12-14 22:58] danroth27 commented on #785
Two of the links on https://docs.asp.net/en/latest/data/index.html already point to the EF7 docs. I've submitted a PR to clean up this page to make that clearer.

[2015-12-14 23:00] danroth27 commented on #328
We should be using the correct package ID for the Secret Manager tool (Microsoft.Extensions.SecretManager) everywhere at this point.

[2015-12-14 23:00] #328 closed

[2015-12-14 23:02] danroth27 commented on #323
TFMs will be covered in some combination of the NuGet and .NET docs. Nothing to document here for ASP.NET. Closing.

[2015-12-14 23:02] #323 closed

[2015-12-14 23:05] danroth27 commented on #318
@shaunluttin Thank you for proposing this article!

@blowdart Could you please review this article proposal? Any questions or concerns?

[2015-12-14 23:06] danroth27 commented on #311
All of DNX (including DNU) will soon be replaced by the new [.NET CLI](https://github.com/dotnet/cli), which will be documented as part of the .NET docs. Closing.

[2015-12-14 23:06] #311 closed

[2015-12-14 23:07] danroth27 commented on #310
All of DNX (including DNU) will soon be replaced by the new [.NET CLI](https://github.com/dotnet/cli), which will be documented as part of the .NET docs. Closing.

[2015-12-14 23:07] #310 closed

[2015-12-14 23:09] danroth27 commented on #309
All of DNX and it's current acquisition story will soon be replaced by the new [.NET CLI](https://github.com/dotnet/cli), which will be documented as part of the .NET docs. Closing.

[2015-12-14 23:09] #309 closed

[2015-12-14 23:31] danroth27 commented on #101
See also https://github.com/aspnet/Docs/issues/308.

[2015-12-14 23:32] #298 closed

[2015-12-14 23:34] brockallen commented on #133
What @blowdart is referring to is something similar added to ASP.NET 5, but much improved. Check out the updated docs for more info (policy-based and resource-based authrization).

[2015-12-14 23:36] blowdart commented on #318
I'd drop roles based, we're trying to steer people away from that. I'd be concerned about the usual oauth stuff, replays, nonces, everything in the oauth spec around security. Simple samples end up being insecure. We didn't want to write a server for very good reason; which is why we've been recommending Identity Server.

[2015-12-14 23:36] blowdart commented on #133
https://docs.asp.net/en/latest/security/authorization/resourcebased.html

[2015-12-14 23:59] #287 closed

[2015-12-15 00:01] danroth27 commented on #277
@madskristensen What if anything needs to be documented here?

[2015-12-15 00:02] danroth27 commented on #275
Let's hold off on this for a bit until we figure out what the impact of the new .NET CLI is going to be on this experience.

[2015-12-15 00:03] danroth27 commented on #267
@madskristensen Anything to document here?

[2015-12-15 00:15] danroth27 commented on #242
We should just add a link under the Contribute node that points to https://github.com/aspnet/Home/blob/dev/CONTRIBUTING.md as the official content on how to contribute to the ASP.NET project. We will need to distinguish this article from the existing article on how to contribute to the docs. Proposed TOC:

Contribute
 - [ASP.NET Contributing Guide](https://github.com/aspnet/Home/blob/dev/CONTRIBUT

[2015-12-15 00:23] danroth27 commented on #236
Agreed - having a table of all built in services would be great. Some of the built-in services are covered in https://docs.asp.net/en/latest/fundamentals/startup.html#services-available-in-startup, but it loosk like IHttpContextAccessor isn't covered anywhere.

[2015-12-15 00:48] danroth27 commented on #227
I'd love to see some content on how to ASP.NET 5 with the [Azure Key Vault](https://azure.microsoft.com/en-us/services/key-vault/), although currently I think that would require writing a custom config provider.

[2015-12-15 00:59] #289 closed

[2015-12-15 01:01] danroth27 commented on #205
I think actually I'm going to close this one. We should just be linking to http://docs.nuget.org and the .NET docs.

[2015-12-15 01:01] #205 closed

[2015-12-15 01:02] GuardRex commented on #227
@danroth27 Love that, too, but unfortunately, not Core-friendly yet: https://www.nuget.org/packages/Microsoft.Azure.KeyVault/1.0.0 ... soometimes "core" just doesn't mean "core" ... https://github.com/Azure/azure-sdk-for-net/tree/master/src/KeyVault/Microsoft.Azure.KeyVault.Core

[2015-12-15 01:04] danroth27 commented on #201
No longer relevant now that we are moving from DNX to the new [.NET CLI](https://github.com/dotnet/cli)

[2015-12-15 01:04] #201 closed

[2015-12-15 01:04] danroth27 commented on #200
No longer relevant now that we are moving from DNX to the new [.NET CLI](https://github.com/dotnet/cli)

[2015-12-15 01:04] #200 closed

[2015-12-15 01:04] danroth27 commented on #198
No longer relevant now that we are moving from DNX to the new [.NET CLI](https://github.com/dotnet/cli)

[2015-12-15 01:04] #198 closed

[2015-12-15 01:05] danroth27 commented on #197
No longer relevant now that we are moving from DNX to the new [.NET CLI](https://github.com/dotnet/cli)

[2015-12-15 01:05] #197 closed

[2015-12-15 01:05] danroth27 commented on #196
No longer relevant now that we are moving from DNX to the new [.NET CLI](https://github.com/dotnet/cli)

[2015-12-15 01:05] #196 closed

[2015-12-15 01:05] danroth27 commented on #195
No longer relevant now that we are moving from DNX to the new [.NET CLI](https://github.com/dotnet/cli)

[2015-12-15 01:05] #195 closed

[2015-12-15 01:07] #158 closed

[2015-12-15 01:07] #157 closed

[2015-12-15 01:08] danroth27 commented on #153
This content will move to the [.NET docs](http://dotnet.github.io) now that we are moving from DNX to the new [.NET CLI](https://github.com/dotnet/cli). Nothing to documenting here for ASP.NET, so closing.

[2015-12-15 01:08] #153 closed

[2015-12-15 01:10] danroth27 commented on #149
I don't think there is anything left to port here.

[2015-12-15 01:10] #149 closed

[2015-12-15 01:13] danroth27 commented on #147
Some of this is covered by https://docs.asp.net/en/latest/dnx/commands.html. No plans to do more as we are now moving to the new [.NET CLI](https://github.com/dotnet/cli)

[2015-12-15 01:13] #147 closed

[2015-12-15 01:18] danroth27 commented on #133
Merging with #119

[2015-12-15 01:18] #133 closed

[2015-12-15 01:30] danroth27 commented on #119
A useful starting point here: https://github.com/aspnet/Docs/tree/rynowak-wip

[2015-12-15 01:35] danroth27 commented on #99
@rustd @HaoK Can you guys provide an outline of what you want documented here?

[2015-12-15 01:36] #88 closed

[2015-12-15 01:45] JoshVarty commented on #195
Is the DNX stuff going away? Is anyone other than Omnisharp using the Design Time Host?

I see DNX still falls under the /aspnet organization, so where will this stuff be documented?

[2015-12-15 03:18] Rick-Anderson commented on #725
Also fix the following opening:
If desired, developers can replace the built-in services container with a custom or third party implementation.
with something like:
The default provided in ASP.NET 5 provides a minimal feature set and is not intended to replace other containers.

[2015-12-15 04:09] #87 closed

[2015-12-15 04:14] danroth27 commented on #82
Authoring libraries that target .NET Core is being covered as part of the .NET docs (see https://github.com/cartermp/core-docs/blob/new-library-manual/docs/libraries/libraries-with-cli.md).

[2015-12-15 04:35] #78 closed

[2015-12-15 04:39] danroth27 commented on #56
This topic will be covered as part of the .NET docs now that we are moving to the new [.NET CLI](https://github.com/dotnet/cli). Closing this issue.

[2015-12-15 04:39] #56 closed

[2015-12-15 04:40] danroth27 commented on #53
The details of project.json are covered in https://docs.asp.net/en/latest/dnx/projects.html. This content will also be making its way over to the .NET docs. Closing.

[2015-12-15 04:40] #53 closed

[2015-12-15 04:41] danroth27 commented on #52
This topic will be covered as part of the .NET docs now that we are moving to the new [.NET CLI](https://github.com/dotnet/cli). Closing.

[2015-12-15 04:41] #52 closed

[2015-12-15 04:43] danroth27 commented on #16
Closing as we are moving from DNX to the new [.NET CLI](https://github.com/dotnet/cli).

[2015-12-15 04:43] #16 closed

[2015-12-15 04:44] #82 closed

[2015-12-15 05:09] danroth27 commented on #318
Yeah, I don't think we want sample code for token issuance. We should instead by directing folks to use trusted token sources.

[2015-12-15 05:11] danroth27 commented on #1
@muratg Is this doc issue still relevant? It sounds like this is a request for generic documentation on handling of IDisposable, but that's already covered in various places in the [.NET docs](https://msdn.microsoft.com/en-us/library/b1yfkh5e(v=vs.110).aspx).

[2015-12-15 06:16] shaunluttin commented on #318
That's all good stuff to know. Thank you for the feedback.

[2015-12-15 06:30] danroth27 commented on #740
Should be code that you can copy and paste.

[2015-12-15 06:33] danroth27 commented on #577
It won't be dnx.exe when we move to the .NET CLI, but we should still document how to do this.

[2015-12-15 06:36] danroth27 commented on #696
Holding off on this until we see what this tool looks like in the .NET CLI world.

[2015-12-15 06:46] GuardRex commented on #696
@danroth27

@tuespetre and I discussed his scenario of using `watch` with IIS 10 local for his build-and-refresh experience at https://github.com/tuespetre/dnx-watch-iis/issues/2 ... and I hope he'll take that forward with the changes in RC2. It rocks for a shop scenario where a normal IIS server isn't available or desired. When the time comes, I hope you'll decide to link him in somehow or have h

[2015-12-15 06:49] danroth27 commented on #568
OS X instructions have been updated with Mono installation instructions.

[2015-12-15 06:49] #568 closed

[2015-12-15 06:51] #548 closed

[2015-12-15 06:56] danroth27 commented on #775
Duplicate of #706

[2015-12-15 06:56] #775 closed

[2015-12-15 07:27] danroth27 opened #795 "Display and Editor templates"

[2015-12-15 07:30] danroth27 opened #796 "ViewImports"
MVC -> Views -> ViewImports

[2015-12-15 07:31] danroth27 opened #797 "Layout"
MVC -> Views -> Layout
Should cover ViewStart as well.

Taylor will cover view basics in his article (link)

Structure:
- Introduction - What is a layout
- Specifying a Layout
- View Start (running code before each view)
- View Imports (importing shared directives)

Layout
- Convention: _Layout.cs (but can be anything)
- Naming it with _ in razor had some historical meaning
- Layout is a top level

[2015-12-15 07:57] danroth27 commented on #195
DNX is getting replaced by the new .NET CLI. Much of the application model will be unchanged (i.e. project.json, NuGet packages, etc), but the underlying infrastructure is getting an upgrade. The .NET docs for the .NET Core effort are currently at http://dotnet.github.io.

[2015-12-15 08:00] #785 closed

[2015-12-15 08:20] danroth27 opened #798 "Update styling to match latest styles on the ASP.NET site"
We need to keep up with the latest [ASP.NET](http://asp.net) _style_.

@jongalloway Can you help out with this again?

[2015-12-15 08:20] danroth27 opened #799 "Find some way to collapse the Disqus comments by default"

[2015-12-15 13:53] atrauzzi opened #801 "TIL: libuv1 is now on wily"
Not sure if this has some positive implications for the linux/ubuntu install instructions.  Instead of having to compile libuv, people should be directed to `apt-get` it.

https://github.com/libuv/libuv/issues/643#issuecomment-164766351

[2015-12-15 14:29] Anderman opened #803 "viewbag or viewdata."
I though viewdata was the replacement for viewbag because it was faster. But i can't find it anymore on github.

In some samples viewbag is stil used. Should this be replace by viewdata?

see http://docs.asp.net/projects/mvc/en/latest/views/view-components.html#add-invokeasync-to-the-priority-view-component

[2015-12-15 16:38] csharpfritz commented on #323
Information about target frameworks can be found in the NuGet docs at:
http://docs.nuget.org/create/targetframeworks

On Mon, Dec 14, 2015 at 6:02 PM, Daniel Roth <notifications@github.com>
wrote:

[2015-12-15 16:39] #1 closed

[2015-12-15 17:09] Rick-Anderson commented on #740
@robbert229  @danroth27  99.9%  of the time we want code, not screen shots. This is a .1% case where showing the TH formatting in VS is far more important than the actual code. This call was made by @NTaylorMullen and I agree with it.

[2015-12-15 17:09] #740 closed

[2015-12-16 21:17] ardalis commented on #725
ApplicationServices is still in RC1; revisit this in RC2 timeframe.

[2015-12-17 00:58] shirhatti commented on #801
Our install instructions were written with 14.04 in mind. Look [here](https://github.com/aspnet/Docs/blob/dee2e5c7eb3272b56cf89b0e3383879723f7f7dd/aspnet/getting-started/installing-on-linux.rst#id19)

This is definitely worth re-visiting there is a new LTS version of Ubuntu which I believe is April of 2016.
Feel free to re-open then or if you have a compelling reason that we should do it now.

[2015-12-17 00:58] #801 closed

[2015-12-17 01:57] shirhatti commented on #443
@Rick-Anderson Is this still relevant?

[2015-12-17 02:01] #443 closed

[2015-12-17 02:13] #490 closed

[2015-12-17 02:13] #242 closed

[2015-12-17 02:16] #725 closed

[2015-12-17 02:17] atrauzzi commented on #801
Compelling alternative would be to support both.

[2015-12-17 14:24] KantJoe opened #812 "docs translation"
hi guys,i'm newly learn asp.net5 and i new to github,and there's a interesting idea on my mind.can i build a new branch on chinese version of this doc?

[2015-12-17 17:10] easyt commented on #390
@danroth27, I have a pull request (https://github.com/aspnet/Hosting/pull/494) that makes it much more simple to host ASP.NET in a Windows service.

I'd be glad to write this doc. I read CONTRIBUTING.md, forked the repo with a new branch and got sphinx-autobuild set up.

A couple questions:
1. Where should this go?
Options:
* aspnet/fundamentals/windows-service-hosting.rst
* aspnet/fundamentals/ho

[2015-12-17 18:22] atrauzzi opened #815 "Document known storage libraries with coreclr support."
Might be nice to have a page in the docs that talks about what storage engines have produced official drivers that will work with coreclr.

There could be two headings, "Officially Released" and "WIP".

[2015-12-17 18:25] atrauzzi commented on #815
Also, perhaps another section with officially released and WIP references to Entity Framework drivers.

[2015-12-17 23:50] shirhatti commented on #812
@KantJoe We definitely plan to support localized docs at some point in the future, but at the moment are docs are still churning pretty rapidly.

We already have an issue tracking this, so I'm closing this as a dupe https://github.com/aspnet/Docs/issues/416

[2015-12-17 23:50] #812 closed

[2015-12-18 00:18] valokafor commented on #95
Dan, I am interested in this topic and I can reivew and contribute. Thanks Val

[2015-12-18 05:06] GuardRex opened #816 "Slightly misleading line in Getting Started: Installing ASP.NET 5 On Windows doc"
@Rick-Anderson @ardalis @danroth27

RE: https://docs.asp.net/en/latest/getting-started/installing-on-windows.html

The line ...

... is a little misleading. It conflates the issue of requiring the install on a machine where the development is occurring (a dev box with VS) with the issue of not requiring that install where the .NET 5 applications may be served (i.e., a WS 2008 R2 box without VS).

[2015-12-18 18:02] Erikre commented on #104
I'm updating this topic based on the following outline:

Overview
This tutorial shows you how to create an ASP.NET 5 web app using Visual Studio and deploy it from Visual Studio to Azure App Service using continuous deployment.
Prerequisites
     Install Visual Studio Community
     Install Microsoft ASP.NET 5
     Install Git
Create the web app
Run the web app locally
Create a web app in the Azur

[2015-12-18 20:26] hamdiceylan commented on #95
I'm available to help review this content. Contact: hamdiceylan@gmail.com

[2015-12-20 20:01] AlexChesser opened #820 "Expand roles security documentation to include samples for creating & assigning roles"
Per a discussion here: https://docs.asp.net/en/latest/security/authorization/roles.html I'd like to see that we add documentation for how to create roles and how to assign roles to a user.

Fortunately Víťa Tauer  has done the research here http://stackoverflow.com/a/34381864/398055
SO the only steps left to take are formatting and writing it up into a commit for the Docs.

Per the contribution pr

[2015-12-20 22:21] GuardRex commented on #820
:+1: ... perhaps this is a bit of a premature suggestion given the current state of flux in ADAL/AAD/AB2C, but it would be nice to add a passing nod here (a paragraph) with the best source of info for getting the roles set out of AAD (and/or AB2C) using ADAL. That's a sample that I would think @dstrokis will probably put up at some point down the road, but it would be nice, since we're talking "ho

[2015-12-20 22:31] AlexChesser commented on #820
Yeah - I'm not sure the code supplied is exactly right in all situations. I've been trying to port it into my own code and I'm fighting to get it right. Definitely need either expert input to make it work or quite a bit more time to figure out the details.

[2015-12-20 22:51] GuardRex commented on #820
I'd like to point you to my hack code and see what @dstrokis latest bits
looks like in the event they let u expand this section. I'll be back in the
office in a few hours and ping u back.
On Dec 20, 2015 2:32 PM, "Alex Chesser" <notifications@github.com> wrote:

[2015-12-20 23:21] yossarianeq commented on #820
@GuardRex, do you expect API to change significantly? We decided for investing time into ASP.NET 5 because it entered RC phase, believing that the API changes will be just minor.

[2015-12-20 23:29] GuardRex commented on #820
Not so much but B2C still lacked the ability to get bearer tokens for other
services ... e.g. Graph API, Azure Key Vault, etc. Getting the claims from
ADAL into app ClaimsPrincipal claims was a bit rough. The logic for issuing
challenges to AAD was a bit rough (but I think that part was addressed
recently). It was (couple of months ago) just generally rough around the
edges, and that's prob expect

[2015-12-21 03:27] GuardRex commented on #820
@AlexChesser Good, I left that old sample online. If you check https://github.com/GuardRex/AD-Sample/blob/master/src/ADSample/Startup.cs ... you'll see a mess in there for the `AuthorizationCodeReceived` notification. That creates claims based on a Graph API hit for the user's group membership(s) to establish role claims.

It's kind'a nasty the way I did it, but it works. What I'd like to see in t

[2015-12-22 18:09] blowdart commented on #820
The documentation you want to merge into is for authorization NOT authentication.

There are two separate subjects, and how you assign roles depends on the authentication method, be it ASP.NET identity, Active Directory or any other myriad of things you can authenticate with.

So, the authorization documentation is not the right place for this, especially as it's limited to sites using ASP.NET ide

[2015-12-22 18:25] shirhatti commented on #743
It is also worth noting that Disqus allows you to merge threads which may be of value to us
https://help.disqus.com/customer/portal/articles/286778-using-the-migration-tools

[2015-12-22 18:41] GuardRex commented on #820
@AlexChesser I don't think the title or overall suggestion is off, just the link perhaps. I guess referring to https://docs.asp.net/en/latest/security/authentication/index.html is better. Either way, I think this is a good suggestion ... even if I do have "bad" and "dangerous" ideas from time-to-time. :smile:

Side note: More time is devoted to Facebook, Twilio, etc. than Azure services. If the ma

[2015-12-22 19:46] blowdart commented on #820
Also note the ADAL pieces are from another team, we have no control over their documentation.

[2015-12-22 20:50] AlexChesser commented on #820
@blowdart - I'm not sure I understand completely.  I may be talking about a much narrower scope of documentation than you and @GuardRex are talking about. The talk of ADAL, AAD, and AB2C are all over my head at the moment. I'm even struggling with what they stand for. (Active Directory Application Library?)

Specifically the authorization page discusses in detail the way to decorate controllers wi

[2015-12-22 20:58] blowdart commented on #820
How roles are persisted is a function of authentication. It is not part of authorization.

So documenting it in authorization is impossible, because authorization doesn't *care* about how you authenticated, or how you add roles or persist them.

RoleManager<T> only works if you are using ASP.NET identity. It does not work with AD. So any mention of it in Authorization is misleading, and potentiall

[2015-12-22 21:06] AlexChesser commented on #820
So this issue should maybe be on the https://github.com/aspnet/Identity project and not under documentation?

[2015-12-22 21:07] blowdart commented on #820
Well it depends. If that's what your using for authentication then yes, probably. But it's certainly **not** a topic for documentation under authorization.

[2015-12-22 21:36] AlexChesser commented on #820
OK -  I'll admit I'm still unclear on the concepts here but I guess we can close this one.

[2015-12-22 21:36] #820 closed

[2015-12-23 01:55] GuardRex opened #823 "Small update to "Using Options and configuration objects" in Configuration doc"
@ardalis @danroth27

RE: http://docs.asp.net/en/latest/fundamentals/configuration.html#using-options-and-configuration-objects

Should ...
[code]
... be instead ...
[code]

[2015-12-23 06:03] GuardRex opened #825 "Doc expansion for Working with Multiple Environments?"
@ardalis @danroth27 @Rick-Anderson

RE: [Working with Multiple Environments](http://docs.asp.net/en/latest/fundamentals/environments.html)

The team gave us a great holiday present :christmas_tree: with the new Hosting bits. I realize its not possible to add configuration examples for specific use cases ... there are just too many ways to set things up for so many different types of apps and envir

[2015-12-23 15:06] AlexChesser commented on #104
I'm trying to make CI work right now from VSO to AZURE.
The error message in trying to build a DNX project to a webapp in VSO is
[code]

Unless azure gets upgraded to support DNX out of the box, there will need to be some documentation surrounding the azure prebuild scripts needed, what folder to put them in for CI, what to name the files, or whatever is needed to make it work.

I'm struggling to

[2015-12-23 17:50] Rick-Anderson opened #827 "Request for DB first approach"
Several customers have requested a DataBase first - not  CodeFirst.
see http://docs.asp.net/projects/mvc/en/latest/getting-started/first-mvc-app/working-with-sql.html#comment-2423386435

[2015-12-24 02:26] Rick-Anderson opened #828 "Replacing <machineKey> in ASP.NET 4.5.1"
https://docs.asp.net/en/latest/security/data-protection/compatibility/replacing-machinekey.html#comment-2421916301

Per customer ,
calls to ASP.NET 4.5+’s cryptographic routines
is ambiguous at best and sounds like it applies to V 5.

[2015-12-24 05:16] aboichev opened #829 "/fundamentals/configuration.rst Configuration"
https://docs.asp.net/en/latest/fundamentals/configuration.html
- [x] Needs update for API changes
- [x] Per John Russell/DISQUS You are correct that DI is not setup until after ConfigureServices is invoked and the configuration system is not DI aware.
- [x] Show how to read JSON or XML or INI configuration file. See [cust comment](https://docs.asp.net/en/latest/fundamentals/configuration.html#comm

[2015-12-24 05:29] #825 closed

[2015-12-25 21:27] Rick-Anderson commented on #623
http://docs.asp.net/en/latest/fundamentals/localization.html#comment-2425944266
https://docs.asp.net/en/latest/fundamentals/localization.html#comment-2425944266

@danroth27   glitch?

[2015-12-27 23:05] jchable commented on #194
I'd love to be part of the ASP.NET 5 on Nano Server documentation early drafts review  :) Thanks guys

[2015-12-28 00:41] GuardRex commented on #194
I'm working on the instructions now ... I'll have notes for @Rick-Anderson shortly ... later tonight???!!! It's very rough but working thus far. Fingers crossed for a successful outcome! I'll ping back soon.

[2015-12-28 04:22] GuardRex commented on #194
It looks like there is a special version of the `HttpPlatformHandler` for IIS 10 that hasn't been released but that is required to run .NET 5 apps on Nano Server. I say so because when I apply the config seen in IIS 8.5 for the module to the `applicationHost.config` file of IIS 10 it crashes the `AppPool` of the default app. I've sent a message to the IIS Team asking them for clarification on this

[2015-12-28 19:28] Rick-Anderson opened #834 "Add ViewComponentResult guidance"
From: Ryan Nowak
We should add this guidance to the docs rather than referring to an old functional test.

From: Kiran Challa I suppose the documentation is referring to RC1 milestone, the following link works:

https://github.com/aspnet/Mvc/blob/6.0.0-rc1/test/WebSites/ViewComponentWebSite/ViewComponentResultController.cs
Dan Roth recommended a customer look at https://github.com/aspnet/Mvc/blob/

[2015-12-28 22:56] muratg opened #836 "StaticFiles doc should include the package information"
Folks will need to add the middleware package to their project.json before being able to call app.UseStaticFiles().

[2015-12-28 23:08] cmatskas commented on #123
Hi @ardalis and @danroth27. Has there been any progress with this? Can we/I help in anyway to get the documentation outthere somehow? thanks

[2015-12-30 03:15] GuardRex commented on #194
### Progress Report

**GOT IT!** It's running now (thanks to a critical tips from @davidso). I have a solid set of notes/steps. The scenario I went with includes: an Azure Nano Server ARM VM, PowerShell ISE, a tidbit of PSEdit, and a network share using an Azure Files container.

I'll screenshot everything and provide a Word doc. I'll E-mail it to @Rick-Anderson. If you want me to continue thereaf

[2015-12-30 03:46] jchable commented on #194
Congrats and thanks a lot for your good job @GuardRex ! Could you share a copy of it ?

[2015-12-30 03:48] GuardRex commented on #194
@jchable Thanks and sure thing. I'll ping you back here with a link to it. I should have it by Thursday on noon PST.

[2015-12-30 14:58] benaadams commented on #194
:+1:

[2015-12-30 19:55] esargent opened #842 "TagHelper article - attribute name update"
Great article content - very helpful

I think TargetElement has been replaced by HtmlTargetElement and the article needs to be updated.

[2015-12-31 09:25] huytnd opened #846 "serviceProvider.GetService<IRelationalDatabaseCreator>() returns null exception"
I follow this tutorial (http://aspnetmvc.readthedocs.org/projects/mvc/en/latest/tutorials/mvc-with-entity-framework.html) and get the null exception.
![null_exception](https://cloud.githubusercontent.com/assets/2102905/12063064/dbc548ea-afda-11e5-8d53-2b47d8a2f4b1.jpg)
I use EF 7 RC1 final, dnx46

[2015-12-31 10:33] GuardRex commented on #194
@danroth27 @Rick-Anderson @jchable @jjmartin

### Update

"Fragile" ... that's the word from today's work with Nano. I ran into config issues with the new test VM that I spun up. I did manage to take almost all of the screenshots needed for the doc; but because a fault with HttpPlatformHandler prevented me from confirming steps work, I'll be starting with a fresh VM in the morning.

It looks like

[2015-12-31 14:00] scottaddie opened #847 "Update "Migrating Configuration From ASP.NET MVC 5 to MVC 6" for RC1"
This doc still references Beta 8. I'll be submitting a PR within the next day to reflect the changes made in RC1.

[2015-12-31 20:42] GuardRex commented on #194
### Update

All good. Package installs on Nano is a fragile situation. IIS OneCore must be installed via `unattend.xml` followed separately by Reverse Forwarders via `DISM` direct commands. A critical restart (or restart of the `w3svc`) is also required for IIS to pickup the schema of the `HttpPlatformHandler`.

I'm still on target for getting the doc out today ... :sunglasses:

[2016-01-01 05:17] GuardRex commented on #194
@danroth27 @Rick-Anderson @jchable @jjmartin

### Update

# :tada: Happy New Year! :tada:

I'm getting this online minutes before partying my rear-end off!

The doc has reached 1st draft stage. I'll leave this link up through the weekend: http://rexwestus.blob.core.windows.net/public/ASPNET5-on-Nano-Server.docx

Notes:
1. It is a 1st DRAFT. I wrote it today and only made a one-pass edit on it.
2.

[2016-01-01 06:54] benaadams commented on #194
@GuardRex that's good and detailed; nice work :+1:

[2016-01-01 06:58] GuardRex commented on #194
@benaadams Thanks ... that means a lot to me coming from you. It was fun to work up; and in spite of being a little rough around the edges (1st draft and all), I think it turned out ok.

[2016-01-01 07:29] GuardRex commented on #194
**NOTE:** Talking to @benaadams ... have become aware that Azure will reserve some names used in the tutorial. There are a few spots (where Azure account/VM names are used in PASTE commands) that need to be deleted from the doc. Read past those PASTE commands ... I'll update and provide a revision here soon.

[2016-01-01 07:52] GuardRex commented on #194
**NOTE:** @benaadams is providing important feedback now. There will be a set of minor (but important) revisions. Will provide updated doc link ... uh ... late New Year's Day ... uh ... yeah ... VERY late New Year's Day! lol :smile:

[2016-01-01 10:32] benaadams commented on #194
Works like a treat!

[2016-01-01 12:50] GuardRex commented on #194
# Updated

The doc has been updated based on conversation with @benaadams ... thanks again for his help ...

## http://rexwestus.blob.core.windows.net/public/ASPNET5-on-Nano-Server.docx

Updates
  1. Removed PASTE commands that contain Azure-specific naming, as those names cannot be guaranteed available to tutorial followers, e.g., "nanodemo"
  2. Stronger message on setting Azure security group t

[2016-01-01 21:58] GuardRex commented on #194
Lot's of love for Nano ... lot's of love! @davidso @benaadams ... Thanks guys!

![capture](https://cloud.githubusercontent.com/assets/1622880/12072349/950222ba-b08f-11e5-8f0c-e2dd4ee06524.PNG)

[2016-01-02 00:32] GuardRex commented on #194
@benaadams

### :tada: Licked IT! :tada:

Updated the section dealing with remotely attaching Event Viewer on a management server (e.g., a 2012/R2 box with a nice GUI) to the Nano Server to see its Event Logs. The `Remote Event Log Management` firewall rules must be enabled on the Nano if you want to go from this ... :frowning: ... to this ... :smile:

The doc has been updated.

[2016-01-02 02:34] GuardRex commented on #194
@danroth27 @Rick-Anderson

This doc only covers insecure PowerShell access to the Nano. The doc should at least include the steps for 5986 secure access ... along the lines of Refaat Issa's http://blogs.technet.com/b/nanoserver/archive/2015/11/19/nano-server-iaas-image-in-the-azure-gallery.aspx

The question is should the secure approach be the only approach here? If so, it will make the troublesh

[2016-01-02 03:51] virshu commented on #633
So, what are the options regarding migrations? I am getting "tables has changed" error, pointing to tutorial on migrations, and that doesn't work...

Frankly, some authoritative guidance on combining ASP.NET 5, MVC 6, and EF6 would be *really* helpful. There are snippets here and there - but I have a team of quite experienced .NET/MVC/EF developers that are pulling their hair out (sigh)

[2016-01-03 01:19] pgrudzien12 commented on #633
@virshu I have project in advanced phase with EF6 and asp.net 5 and i'm so far happy with solutions i've given on my blog. If you have any specific problems i'm happy to help you. Tweet me if any of the solutions provided does not work for you.

[2016-01-03 02:22] virshu commented on #633
Thank you, @pgrudzien12 ! Your blog post (and similar on docs.asp.net) was the most helpful for us to get ASP.NET 5 + EF 6 working together. Still, it felt that solution was very brittle; inability to run migration was just the latest problem. I guess it was the last straw that made us rethink the decision *not* to go with EF7. We have the database from the legacy system; but otherwise the applica

[2016-01-03 05:07] GuardRex commented on #194
@danroth27 @Rick-Anderson @davidso @benaadams @moozzyk @Pinpoint @jchable @jjmartin  TL;DR ... but this is about the security issues surrounding Nano and PS remoting, so I'll take my time with it (@blowdart smiles! :smile:).

### Security Update on PS Remoting Options & Nano Server

#### Option 1: Use an Azure 2012R2 management VM for the demo
As the doc currently goes, interaction with Nano is vi

[2016-01-04 10:01] ShaneYu commented on #846
I get this very same issue, but I am using EF 7 RC1 final with DNX451.

[2016-01-04 10:15] ShaneYu commented on #846
For now I have replaced the if statement highlighted in @huytnd screenshot with the following; note this may not be the correct way to do it, but it works.

`if (context.Database.EnsureCreated())`

[2016-01-04 14:21] craigsmitham commented on #202
Looking forward to this - main question I have is how does the `Microsoft.AspNet.Http` namespace relate to `System.Net.Http`? Will there be an HTTP client that uses `Microsoft.AspNet.Http`?

[2016-01-04 15:46] SimonOrdo commented on #687
FWIW, here is what I ended up hacking together.  Would be an awesome if comparable functionality was part of the framework.

I opted for an OrderedDictionary so that a.) items that are added to the resource cache more than once don't get rendered more than once and b.) items are rendered in the order that they are added to the resource cache so that you don't get bungled JS references.

Utility Co

[2016-01-04 16:04] davidfowl commented on #202
There's no relation between the 2 namespaces. You can get at strongly typed headers in System.Net.Http using an extension method http://odetocode.com/blogs/scott/archive/2015/11/30/working-with-typed-headers-in-asp-net.aspx.

Nope. `Microsoft.AspNet.Http` was designed specifically for the server.

[2016-01-04 18:13] Rick-Anderson commented on #847
Are you looking at the version I just published for RC1?

[2016-01-04 18:27] scottaddie commented on #847
@Rick-Anderson I used [this doc](https://docs.asp.net/projects/mvc/en/latest/migration/migratingfrommvc5.html) (which has been updated for RC1) as a starting point for the sample app I added for [this doc](https://docs.asp.net/projects/mvc/en/latest/migration/migratingconfig.html) (which was referencing Beta 8).

[2016-01-04 18:47] shirhatti commented on #846
This tutorial is out of date and we plan to remove it.
You should refer to https://docs.asp.net/projects/mvc/en/latest/getting-started/first-mvc-app/index.html 

[2016-01-04 18:57] shirhatti commented on #827
@rowanmiller Do we have any content in this space? Should this reside in the EF docs or the ASP.NET docs?

[2016-01-04 19:05] Rick-Anderson commented on #803
See @rachelappel  http://www.rachelappel.com/when-to-use-viewbag-viewdata-or-tempdata-in-asp.net-mvc-3-applications

[2016-01-04 19:07] shirhatti commented on #803
@Eilon Is there guidance from the product team on when to use ViewBag vs ViewData or is the choice purely stylistic?

[2016-01-04 19:09] rowanmiller commented on #827
http://docs.efproject.net/en/latest/getting-started/aspnet5/existing-db.html

[2016-01-04 19:40] fotijr commented on #101
It's not clear to me what the proposed replacement is now the the `.bundle` files are going away in ASP.NET 5. Is TagHelpers the solution? I would be fine using something like [wiredep](https://github.com/taptapship/wiredep) with gulp, but it'll be a lot more useful if we can reference the solution configuration (as mentioned by @awestroke).

I'm surprised we're this far in the development of ASP.

[2016-01-04 20:11] Rick-Anderson opened #849 "EF7/MVC 6 update of the Contoso University sample web app"
http://www.asp.net/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application

Work will start about 22 Feb 2016 and will take 3 weeks to complete.
@tdykstra to lead effort.

[2016-01-04 20:11] GuardRex commented on #194
@moozzyk Asks about the "containers" version or content. I like the idea, too, and I was going to suggest a section could be added to this one or a new doc for it. https://github.com/aspnet/Hosting/issues/539#issuecomment-168789381

[2016-01-04 20:13] Rick-Anderson opened #850 "EF7/MVC 6 update of the Contoso University sample web app"
https://github.com/aspnet/Docs/issues/849
http://www.asp.net/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application

Work will start about 22 Feb 2016 and will take 3 weeks to complete.
@tdykstra to lead effort.

[2016-01-04 20:25] Rick-Anderson commented on #850
dup of #847

[2016-01-04 20:25] #850 closed

[2016-01-04 20:27] Rick-Anderson commented on #653
dup of #305

[2016-01-04 20:27] #653 closed

[2016-01-04 20:27] Rick-Anderson commented on #305
copy from dup #653

Fundamentals -> Localization

The following blogs have some initial content on the localization support in MVC 6:

http://blogs.msdn.com/b/webdev/archive/2015/10/15/announcing-availability-of-asp-net-5-beta8.aspx
http://www.vodovnik.com/2015/09/20/localization-in-asp-net-5-mvc-6/
Also, some initial content was started here: #554

From #522: - customer request:
calendar controls

[2016-01-04 21:08] Anderman commented on #803
Aha, I found the [issue](https://github.com/aspnet/Mvc/issues/2392) where I was looking for , but it is only about performance and not preferred style
`Since ViewData (Dictionary) look-ups far out-perform ViewBag (dynamic) invocations, the last is probably the best choice.`

[2016-01-04 21:13] Anderman commented on #803
Also the templates changed from viewbag to viewdata in beta7 or beta8

[2016-01-05 00:12] mikes-gh commented on #706
Now its decided that `Hosting:Environment` is no longer and `ASPNET_ENVIRONMENT` is the replacement is it time for the change?  I tried to do a search to see how much work it would be but for some reason github search removes colon which gives me way to many hits for `Hosting:Environment`  From browsing I know its in a lot of places.

Also is it visual studio that creates launchSettings.json  If s

[2016-01-05 00:13] davidfowl commented on #706
The tooling has been updated, it's just not released yet :smile:

[2016-01-05 00:14] mikes-gh commented on #706
Just out of interest will we see a tooling update with RC2?

[2016-01-05 00:19] davidfowl commented on #706
Yes, there's always a tooling update paired with major releases.

[2016-01-05 01:32] balachir opened #852 "Configuration article needs to be updated for RC1"
Docs > Fundamentals > Configuration

- [x] Update link to sample code
- [x] Update sample code and doc for API changes (eg: MemoryConfigurationSource is now MemoryConfigurationProvider)

[2016-01-05 03:55] balachir commented on #852
I can pick this one up actually, I'm working on the changes

[2016-01-05 04:53] huytnd commented on #846
Update the correct link: https://docs.asp.net/projects/mvc/en/latest/getting-started/first-mvc-app/

[2016-01-05 05:01] huytnd commented on #846
I've just found out that the content on these link is the same:
https://docs.asp.net/projects/mvc/en/latest/tutorials/mvc-with-entity-framework.html
http://aspnetmvc.readthedocs.org/projects/mvc/en/latest/tutorials/mvc-with-entity-framework.html

[2016-01-05 18:21] Rick-Anderson commented on #852
@balachir great. Looking forward to your PR.

[2016-01-05 18:42] danroth27 commented on #846
#591

[2016-01-05 18:43] #846 closed

[2016-01-05 20:07] Rick-Anderson commented on #194
I'm working with the Nano folks to get this working on a local Hyper-V host. That would eliminate all the remoting concerns.

[2016-01-05 20:26] Rick-Anderson commented on #194
There is a video on Channel 9 that shows how to do this end-to-end. https://channel9.msdn.com/Series/Nano-Server-Team/Demo-Building-a-Nano-Server-VHDX-for-a-Hyper-V-VM
I have that working and will explore that approach.

[2016-01-05 20:53] GuardRex commented on #194
A few things jump to mind ...
  1. The lowest barrier to entry is probably the Azure image MS provides (for a tutorial I mean) ... not even a VHD image spun up in Azure. There's significantly more that has to be explained and that can go wrong with a generated VHD. It also takes lot longer to do: The Nano Server bits are in a folder with the full ISO, so it can take forever for that multi-gigabyte

[2016-01-05 21:01] Rick-Anderson commented on #194
I'm working with the Nano team. Looks like they have already added a cert (or will add one soon).  I agree, we'll stick with the Azure image route for now.

[2016-01-05 21:02] Rick-Anderson commented on #847
Looks good. Closing this issue and I'll just work with PR https://github.com/aspnet/Docs/pull/848

[2016-01-05 21:02] #847 closed

[2016-01-05 21:05] GuardRex commented on #194
Cool.

In the vid, Refaat is not using any kind of special Hypervisor-based remoting. I thought that's what Snover was talking about in some vids ... that there is a Hypervisor-based PS remoting that didn't run through the PowerShell CLI or ISE but through the Hypervisor itself.

Anyway ... whatever the case with that ... I'm going to see if I can get this Nano to play nicely with my Hypervisor. I

[2016-01-05 21:49] shirhatti commented on #194
*"I'm going to see if I can get this Nano to play nicely with my Hypervisor"*.
@GuardRex Could you elaborate on how you are blocked?

[2016-01-05 21:51] Rick-Anderson commented on #194
I was blocked too. Follow the 3 minute video https://channel9.msdn.com/Series/Nano-Server-Team/Demo-Building-a-Nano-Server-VHDX-for-a-Hyper-V-VM to get it working. The nano team claims the instructions at https://technet.microsoft.com/en-us/library/mt126167.aspx also work.

[2016-01-05 22:04] GuardRex commented on #194
@shirhatti @Rick-Anderson Apparently, the Guest Drivers package doesn't open all of the ports if DISM is used on a running Azure Nano. I had to manually open ...
[code]
@Rick-Anderson The VHD(X) built image(s) seem to get the right ports open by default. The Azure image-generated Nano seems not to have them open. I even tried adding the SCVMM package to see if that had a good effect, but it didn't

[2016-01-05 22:14] GuardRex commented on #194
@shirhatti I guess I should also note that I'm not doing this an officially "MS supported" way, thus what I'm doing now can't go into the doc. Azure VM's don't support Hypervisor. You can't use Roles & Features to install the tools. You have to manually do it in PS. That's why this is more a "for Luke's fun and use" than a "very helpful for the doc" kind of thing.

[2016-01-05 23:12] Rick-Anderson commented on #687
@rynowak can you review this approach?

[2016-01-06 00:19] Rick-Anderson opened #858 "fundamentals/app-state.rst "Managing Application State""
- [x] address mikes concerns (on this page)
- [x]  #1840 how to load Session asynchronously
- [x]  #1345
- [x] Needs UE edit
- [x]  Update for RTM [Fixed via #1517 ]
- [x] Exception should include exception text for search reasons. Don't need the entire call stack on image or text version.

per @MikeWasson on Managing Application State

I think the doc needs better description of what the Session

[2016-01-06 00:23] shirhatti commented on #520
Closing as dupe since #720 is already tracking updating this article.

[2016-01-06 00:23] #520 closed

[2016-01-06 00:24] shirhatti commented on #720
Also update Servers article for HttpPlatformHandler changes

[2016-01-06 01:55] GuardRex commented on #194
@shirhatti I found the complete list of ports for Server Manager AFAIK ...

* Remote Service Management (NP-In)
* Remote Service Management (RPC)
* Remote Service Management (RPC-EPMAP)
* Remote Event Log Management (NP-In)
* Remote Event Log Management (RPC)
* Remote Event Log Management (RPC-EPMAP)
* Windows Firewall Remote Management (RPC)
* Windows Firewall Remote Management (RPC-EPMAP)

... s

[2016-01-06 05:11] GuardRex commented on #194
@Rick-Anderson @shirhatti I'll pick back up with my unsupported-by-MS :smile: Hypervisor scenario later. Bigger :fish: to fry now ...

Big doc update tomorrow. I'll ping here and by E-mail when the updated doc is ready sometime Wednesday afternoon.

[2016-01-06 13:51] simonech commented on #53
I guess then then the page http://docs.asp.net/en/latest/dnx/project-json.html should be removed from the tree

[2016-01-06 18:41] danroth27 commented on #858
@ardalis do you want to incorporate this feedback?

[2016-01-06 19:07] gilmishal commented on #95
I am would like to review and contribute

[2016-01-06 23:24] Erikre opened #860 "ASP.NET 5 related topics on azure.com to consider adding to ASP.NET 5 doc set"

[2016-01-06 23:27] Erikre commented on #860
Here's a list of ASP.NET 5 related topics on azure.com that we should consider adding to docs.asp.net:

Title: Application Insights for ASP.NET 5
URL: http://azure.microsoft.com/documentation/articles/app-insights-asp-net-five/
Action: Add as additional resource link to the following topic: Application Insights

Title: Application Insights now supports ASP.NET 5 applications
URL: http://azure.micr

[2016-01-07 02:31] Rick-Anderson opened #861 "Dependency Injection and Controllers"
http://docs.asp.net/projects/mvc/en/latest/controllers/dependency-injection.html
Original:

It’s fairly common that you may want to access some application or configuration settings from a controller. Doing so should use the Options pattern described in configuration. To request configuration settings via dependency injection from your controller, you shouldn’t request a configuration or settings

[2016-01-07 05:38] Rick-Anderson opened #862 "fundamentals/dependency-injection.html "Dependency Injection""
- [ ]  Needs an edit pass.
- [x]  Initially, the `IServiceCollection` provided to `ConfigureServices` has just a handful of services defined. - What services are defined?
- [x] Constructor injection behavior #2068
- [x] compare with @exceptionnotfound [DI blog](https://www.exceptionnotfound.net/getting-started-with-dependency-injection-in-asp-net-core/)
- [ ] Joe Audette  on DISQUS: might be good

[2016-01-07 07:01] GuardRex commented on #194
@Rick-Anderson @shirhatti The doc has been (mostly) updated with a major emphasis on security. Instead of having folks go direct to the Nano Server via 5985/5986 over the open Internet :skull:, the doc has been revised for the following ...
  * Added sections and notes dealing with security issues with links to starting points for learning more.
  * Create a 2012R2 Management VM (so there are a pa

[2016-01-07 11:04] blowdart commented on #194
Wait, are you calling me heavy?

More seriously I'm pretty sure everyone knows I would like everything secure by default, even if it brings more work. Otherwise folks will take the easy route, if you present it to them, regardless of security implications/

[2016-01-07 17:30] GuardRex commented on #194
@blowdart :+1: ... and the easy route would be to make the tutorial simple and fast but almost encourage folks to leave 5986 open publicly (and other ports for Server Manager and remote Event Viewer ... Event Viewer being virtually required for .NET work), when that's vastly less secure and a violation of best management practices.

There's no easy way around it. If we want management points locke

[2016-01-07 17:31] blowdart commented on #194
I appreciate the work going into this.

Honestly.

[2016-01-07 18:23] sayedihashimi opened #866 "New doc: how publishing works"
@danroth27 asked me to work on a doc which describes how VS Web Publishing works for ASP.NET 5 projects, as well as how to customize the script.

I'm working on a draft that I'll send out for review to @Rick-Anderson @Erikre and @rachelappel. Once that's completed we will submit the content here.

[2016-01-07 18:47] danroth27 opened #867 "Show how to bind options to a specific config section"
We should add some text to http://docs.asp.net/en/latest/fundamentals/configuration.html#options-example that shows how to bind options to a specific config section instead of to the root configuration. Something like this:

[code]

This pattern allows you to group option settings into specific sections.

[2016-01-07 19:00] danroth27 opened #868 "Update View Components article"
The View Components [article](http://docs.asp.net/projects/mvc/en/latest/views/view-components.html) is a bit dated and could use an update:
- Rework the intro text
- Review with @rynowak and update accordingly

[2016-01-07 19:16] GuardRex commented on #860
and as @moozzyk pointed out earlier https://github.com/aspnet/Hosting/issues/539#issuecomment-168789381 ... hosting .NET 5 app in a Docker container OS scenario (non-Azure Docker host, e.g., Azure VM ... e.g., Nano Server :wink:)

[2016-01-08 00:18] danroth27 opened #869 "Update contributor guide to describe how to link to source code"
Links to GitHub can easily break unless you can do it right.

[2016-01-08 00:38] sayedihashimi commented on #866
Thanks, FYI I emailed the current draft to those listed above.

[2016-01-08 01:35] #852 closed

[2016-01-08 09:47] benaadams commented on #194
@GuardRex shouldn't
[code]
As its an existing rule, be something more like
[code]
Not sure what the right rules are but you can get them with
[code]

[2016-01-08 10:03] GuardRex commented on #194
@benaadams In the latest draft, I only have `Net-NewFilewallRule` for opening port 8000. There is a handy one for the existing rules ...
[code]
... which I found works better than using the `-Name` property on that command (for whatever reason).

If you haven't seen the latest draft, I'm still working on grammar and phrasing, but you can get it at http://rexpublic.blob.core.windows.net/public/ASPN

[2016-01-08 11:13] benaadams commented on #194
Also you can use the PS command
[code]
rather than doing it in the portal

[2016-01-08 17:33] Rick-Anderson commented on #829
This doc is out of date and has API changes.
See also https://github.com/aspnet/Docs/issues/867 "Show how to bind options to a specific config section" and https://github.com/aspnet/Docs/issues/823

[2016-01-08 17:48] Rick-Anderson opened #872 "Remove mention of ASPNET_ENV from the Using Gulp article"
Mention that ASPNET_ENV is  Hosting:Environment
see https://docs.asp.net/en/latest/fundamentals/environments.html

[2016-01-08 17:56] sayedihashimi opened #873 "Update publish toc to include publish to azure tutorial"
On https://docs.asp.net/en/latest/publishing/index.html we should add a link to https://docs.asp.net/en/latest/tutorials/publish-to-azure-webapp-using-vs.html

[2016-01-09 04:35] GuardRex commented on #194
@benaadams thx ... change made.

@Rick-Anderson @danroth27

2nd Draft Final is done (when you open, confirm by looking at the title, which states "2nd Draft Final"). I'm going to run through it all again start-to-finish from scratch on Saturday morning. I'll ping here if anything goes sideways.

#### http://rexpublic.blob.core.windows.net/public/ASPNET5-on-Nano-Server.zip

Let me know as soon as y

[2016-01-09 06:15] GuardRex commented on #194
1/8 10:13pm PST ... Minor update regarding use of `cmdkey` to persist the credentials for the network file share across reboots.

[2016-01-09 14:35] johnnyreilly opened #876 "Information about `scripts` element of `project.json`"
Hi,

Unless I've missed it there doesn't seem to be a good resource about the `scripts` element of `project.json`.  There's [this](https://github.com/aspnet/Home/wiki/Project.json-file#scripts) which says:

{
  "scripts": {
    "prebuild": "echo before building",
    "postbuild": "echo after building",
    "prepack": "echo before packing",
    "postpack": "echo after packing",
    "prerestore": "e

[2016-01-09 19:12] GuardRex commented on #194
1/9 11:06am PST ... Minor update: Removed static public IP address assignment step for the Nano as unnecessary. Added a note as to why the management VM is getting a static public IP address [it's merely a convenience for using Remote Desktop Connection (RDP) across deallocating/re-allocating the management VM].

[2016-01-09 19:41] GuardRex commented on #194
For the 3rd draft, I want to change the name of the storage account to "storage1234," because I think naming the storage (currently "nanodemo1234") the same as the Nano ("nanodemo1234") but also using that storage for the management VM ("vmmdemo1234") is a bit confusing. I also think that using the word "nano" in the shared services isn't good.

How about a scheme like this:

Resource | Name
-----

[2016-01-10 00:14] Rick-Anderson opened #877 ""Safe Storage of Application Secrets" updates"
see https://docs.asp.net/en/latest/security/app-secrets.html#comment-2442312502
instructions need to be updated.

[2016-01-10 16:24] simonech opened #878 "Why is project.js file in "Creating a Cross-Platform Console App with DNX" so complicate?"
I've seen that project.json file used in the [Creating a Cross-Platform Console App with DNX](https://docs.asp.net/en/latest/dnx/console.html) is very complicate:

The app doesn't use Linq, Threading, Collection.
Also I don't understand what's the point of
[code]
since then the app is run with `dnx run`

Why not just leaving it to bare minimum needed to run the sample?
[code]

[2016-01-10 20:45] Rick-Anderson opened #879 "Request option to create PDF version for tutorial series"
Customer would like to have PDF for series - like "Intro to MVC" and the upcoming EF7/MVC6 series.

[2016-01-11 18:29] danroth27 opened #880 "Output caching"
aspnet -> performance -> caching -> output caching
 - Cache Tag Helper
  - Server side caching for view fragments
  - Use instead of OutpuCacheAttribute + child actions
  - Doesn't use cache profiles
- Parameters
  - ...

[2016-01-11 18:30] danroth27 commented on #733
@Tratcher Can you comment on the caching behavior of IIS and WebListener?

[2016-01-11 19:02] sayedihashimi commented on #866
I have the reviewed draft ready at https://www.dropbox.com/s/a96j67sqlgixi3v/web-publish-overview.docx?dl=0.

Can someone help convert to RST and submit a PR?

cc @robbert229

[2016-01-11 19:03] robbert229 commented on #866
I will convert it to rst.

[2016-01-11 20:08] robbert229 commented on #866
@sayedihashimi: Finished and made pr #881

[2016-01-11 20:15] Tratcher commented on #733
By moving out of process (Beta8) I think we've lost access to most of IIS's static caching features. I'm not sure if dynamic caching or compression still work.

WebListener will attempt to cache responses in kernel mode if A) the entire response fits within the default buffer size (?), and there are cache headers on the response. The kernel cache doesn't support any vary-by conditions, so it's rat

[2016-01-11 20:22] sayedihashimi commented on #866
@danroth27 can we merge?

[2016-01-11 20:23] sayedihashimi commented on #866
Thanks a bunch @robbert229!

[2016-01-11 20:29] Rick-Anderson commented on #866
@sayedihashimi we generally like to get a review of the PR and shipit before merging.

[2016-01-11 20:31] Rick-Anderson commented on #866
@vijayrkn please review

[2016-01-11 21:08] sayedihashimi commented on #866
Vijay already reviewed it.

[2016-01-11 22:38] danroth27 commented on #880
https://github.com/aspnet/Docs/issues/365

[2016-01-11 22:40] danroth27 commented on #879
https://readthedocs.com/projects/aspnet-mvc/downloads/pdf/latest/

[2016-01-11 22:40] #879 closed

[2016-01-11 22:42] danroth27 commented on #878
This is all going to change now that we are moving to the new [.NET CLI](https://github.com/dotnet/cli). Please watch for updated docs on http://dotnet.github.io.

[2016-01-11 22:42] #878 closed

[2016-01-11 22:45] danroth27 commented on #877
We will need to do a more general update on this topic for RC2 now that we are moving to the .NET CLI.

[2016-01-11 22:49] danroth27 commented on #876
Thanks! Going forward we will be moving off of DNX and onto the new [.NET CLI](https://github.com/dotnet/cli), so the project.json docs will be moving to be part of http://dotnet.github.io.

For your specific scenario we hook up gulp using the prepublish event in our [templates](https://github.com/aspnet/templates].

[2016-01-11 22:49] #876 closed

[2016-01-12 00:18] danroth27 commented on #868
- Overview
  - A View Component renders a chunk of output for a view
  - View components can have parameters and business logic
  - Typically invoked from a layout page
- How to define a view component
  - Create a class that inherits from `ViewComponent` or ends with the suffix ViewComponent or has a `ViewComponentAttribute`.
  - Write a Invoke or InvokeAsync method that returns an `IViewComponen

[2016-01-12 00:30] danroth27 opened #882 "Multi-project/module MVC practices"
- How to package views and view components so they can be reused in another project

[2016-01-12 02:53] mszhanyi opened #883 "js error in iphone"
when i tried to load http://contosobooksdemo.azurewebsites.net/ in iphone, it will trigger a js exception.
It works on desktop chrome emulator, but it could work on MAC iphone simulator or real iphone

[2016-01-12 04:12] GuardRex commented on #194
@Rick-Anderson I've updated the text and images to conform to the naming in my last comment. It's definitely an improvement.

#### http://rexpublic.blob.core.windows.net/public/ASPNET5-on-Nano-Server.zip

Unless you have any objection, I'm going to move it to RST now.

[2016-01-12 05:48] #883 closed

[2016-01-12 06:23] johnnyreilly commented on #876
Hi @danroth27,

Thanks for responding!  I'm afraid I was a little puzzled by your comment:

I haven't been watching the ASP.Net standups for a little while and so I think I may have missed something.  There's DNU (dot net utilities) DNVM (dot net virtual machine?) DNX (dot net execution) and now .NET CLI as well?  Is there a document somewhere that outlines the relationship between all these pleas

[2016-01-12 17:51] danroth27 commented on #876
DNU (.NET Development Utility) is really part of [DNX](https://github.com/aspnet/dnx) (.NET Execution Environment), which includes a cross platform native CLR host. DNVM (.NET Version Manager) is used to acquire and manage different DNX versions. DNX is getting replaced by a new cross platform CLR host and tool chain which is being developed in the [.NET CLI](https://gitHub.com/dotnet/cli) repo. T

[2016-01-12 18:27] johnnyreilly commented on #876
Thanks for that @danroth27 - much appreciated

[2016-01-12 19:42] eduardoguilarducci commented on #95
I am would like to review and contribute eduardo@guilarducci.com.br

[2016-01-12 21:16] ardalis commented on #882
An FAQ item currently is how to split out Areas into separate projects (to facilitate separate teams responsible per-area). Would this be covered in this topic as well?

[2016-01-12 21:26] slamidtfyn commented on #107
Hi

If there is any draft versions of this part of the documentation i would like to see this. I have a lot of trouble getting this up and running.

Br
Søren Larsen
slamidtfyn at gmail dot com

[2016-01-12 21:45] GuardRex commented on #107
@slamidtfyn I probably can assist you with that but I won't get back to the office for 2 hours. In the meantime, open an issue in Home repo with the details on where you're having an issue. If u don't get help, I'll get back to you by 4pm PST.

[2016-01-13 00:50] jwdavidson commented on #565
Sample files probably need to be hosted elsewhere other than GitHub as it is not possible to easily download project subfolders. If that is not possible then it is necessary to create each sample project as its own project within the aspnet repository so that it will work as designed with GitHub integration (clone or zip files)

[2016-01-13 07:09] mkarlsson commented on #653
As stated here "If you would like to review early drafts and outlines of this topic, please leave a note with your contact information in the issue.". I would like to do that :)

[2016-01-13 07:34] optlink commented on #706
Setting ```ASPNET_ENVIRONMENT``` appears to do nothing at all. I always see ```Hosting environment: Production``` as of several versions ago. I'm running on the latest dev packages. Can anyone shed some light on this?

[2016-01-13 07:35] davidfowl commented on #706
@optlink Posting a sample solution would be most helpful.

[2016-01-13 07:50] optlink commented on #706
Here is a simple solution I updated to the latest RC2 build that exhibits the same issue: [WebApplication2.zip](https://github.com/aspnet/Docs/files/88531/WebApplication2.zip)

[2016-01-13 07:50] mikes-gh commented on #706
@optlink Sounds like you're hitting the tooling bug when tooling gets out of sync with launchSettings.json
When this happens launchSettings.json can show APNET_ENVIRONMENT but the tooling and the laugh are using Hosting:Environment.  When it gets to this stage because Hosting:Environment is no longer valid it defaults to Production.

I am not sure of the exact scenarios where it happens but I have

[2016-01-13 07:56] optlink commented on #706
Yes, that was the issue. Thank you very much, that one has been bugging me for a while.

[2016-01-13 09:01] mikes-gh commented on #706
@davidfowl The title of this issue is no longer correct as things are moving to ASPNET_ENVIRONMENT.  Probably best to close to save confusion

[2016-01-13 10:10] brockallen commented on #95
@danroth27 oh and securing those calls :)

[2016-01-13 11:00] renattomachado commented on #653
Me too.

[2016-01-13 16:08] GuardRex commented on #194
@Rick-Anderson It's going well with RST. I'll have it done today. I have one more minor update to apply: For convenience, I used the same username for the management VM as for the Nano. Since the tutorial takes its time on security issues, I want the management VM on username "adminuser" and the Nano on username "nanouser."

Note that I'm pulling the direct link to the Word version out this issue.

[2016-01-13 17:02] danroth27 commented on #706
Closing this issue as we will be moving to ASPNET_ENVIRONMENT

[2016-01-13 17:02] #706 closed

[2016-01-13 17:49] GuardRex opened #889 "Warnings don't scare me"
The background colors for a warning ...
![capture](https://cloud.githubusercontent.com/assets/1622880/12302536/7f63a894-b9da-11e5-8eb9-ca9d9467fe7e.PNG)
... don't scare me enough :skull:. Maybe it's just because a stock Read the Docs theme was accepted without modification, but I was just wondering was something more traditional (red/yellow) ruled out? It would definitely be more of an attention g

[2016-01-13 18:36] danroth27 commented on #889
We are doing an update to our styles soon to align with the http://asp.net site, but I don't think we want the colors of the warnings to be quite that dramatic :wink:

[2016-01-13 18:36] #889 closed

[2016-01-13 22:25] GuardRex opened #892 "Document style observations, queries, and suggestions"
@Rick-Anderson @danroth27 @ardalis I'd like to inquire on a few issues working with RST and the style guidelines for the first time.

#### CoreCLR or Core CLR
CoreCLR or Core CLR ... The engineering team seems to favor the latter (with a space), so I'm using that form. Ok?

#### Menu Selections
According to the style manual, menu sections are supposed to use the `menuselection` declaration, for ex

[2016-01-13 23:46] Rick-Anderson commented on #249
combined with #868

[2016-01-13 23:46] #249 closed

[2016-01-14 01:25] Rick-Anderson commented on #892
@GuardRex
Go with "Core CLR"
Menu's - yes - that's what we're doing now
 "Additional Resources"  should be in the TOC

On numbers v. bullets.
If this were HTML and we could use automatic numbering, we'd using numbering. But given this is RST and #. breaks when you add code, images, etc, then you're forced to hard code numbers (bad).

If I can use #. for auto-numbering, that's what I use. Given tha

[2016-01-14 01:46] GuardRex commented on #892
@Rick-Anderson

Agree with "bad" ... but it helps the doc quite a lot ... especially this monster! I'm glad you stated "I'm forced to hard code numbers (when numbers work better)" ... that's the case with this one.

It would be fairly easy to strip out all of the security bits for a small footprint quick start version. It would be just like my first draft Word version. However, I've been prepping

[2016-01-14 01:58] Rick-Anderson commented on #892
submit a PR when it's ready to review.

[2016-01-14 02:00] GuardRex commented on #892
cool ... maybe an hour to go! ... then ... :beers:

[2016-01-14 02:53] #892 closed

[2016-01-14 17:35] Eilon commented on #803
@Anderman I think the conclusion in that quote is inadvertently reversed.

It says:

But I'm quite certain it meant to say:

However, the product team has no particular guidance on this. Both approaches have their pros and cons. Which one *looks* better is clearly a matter of taste. Neither has any particular advantage over the other when it comes to readability or technical merits. The dictionary

[2016-01-14 18:39] shirhatti commented on #803
Closing this issue.
Since `ViewBag` and `ViewData` are  both okay to use, we will not update the examples.

[2016-01-14 18:39] #803 closed

[2016-01-14 18:48] Rick-Anderson commented on #803
@shirhatti @rachelappel  can we find a place to add Eilon's awesome info? @rachelappel  can you fit that in your model binding doc?

[2016-01-14 18:54] Rick-Anderson opened #895 "request OAuth tutorials for Web API"
see https://docs.asp.net/en/latest/security/authentication/introduction-to-aspnet-identity.html#comment-2457875287
@rustd can you comment on this request?

[2016-01-14 18:59] danroth27 opened #896 "Update MVC Getting Started content to be cross platform"
Right now our MVC Getting Started content is very VS heavy, so it only really works for Windows. We should update the Getting Started section to be platform agnostic.

[2016-01-14 19:00] danroth27 commented on #896
Ideally we would write something using cross-plaform MVC command-line scaffolding, but we don't really have that yet. Maybe we could write something initially based off of the Yeoman generators?

[2016-01-14 19:01] danroth27 commented on #591
We've decided to leave the "Your First  . . ." articles in the Getting Started section for now. It's actually not that uncommon to include tutorial content with getting started content. Ex http://guides.rubyonrails.org/getting_started.html. We eventually do want to simplify the getting started content that we have and make it cross-platform, but until we have a cross-platform scaffolding solution

[2016-01-14 19:01] #591 closed

[2016-01-14 21:10] shaunluttin commented on #318
@danroth27 Let me see if I am understanding the feedback from @blowdart. I think he is saying that this article is not appropriate for the docs, because you would rather be referring people to use trusted token sources, such as Twitter, Facebook, Google, etc. Is that right?

[2016-01-14 21:12] blowdart commented on #318
My concern is more around writing your own identity provider. It is hard to make those secure, and we've avoiding doing it very deliberately. It's even harder to make them secure when you're writing it as a simple sample that people understand.

We've been steering people towards identity server for that sort of thing.

[2016-01-14 21:12] shaunluttin commented on #318
@PinpointTownes I am wondering whether the above feedback means about my fork of https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server.

[2016-01-14 21:16] shaunluttin commented on #318
@blowdart What if instead I leveraged this contribution to implement the resource owner password flow.  https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server

[2016-01-14 21:23] blowdart commented on #318
I've not looked at that so I don't know. As we officially steer people to identity server is far rather see that as the server used in any documentation.

[2016-01-14 21:28] shaunluttin commented on #318
@blowdart Hmm. I might be over my head. I am not sure what you mean by steering people toward Identity Server.

[2016-01-14 21:30] blowdart commented on #318
Identity server is a 3rd party component that issues tokens. It's the only token issuer we recommend and thus for any official documentation or samples around issuance we would require that as an issuer.

[2016-01-14 21:31] shaunluttin commented on #318
@blowdart Is this it? https://github.com/IdentityServer/IdentityServer3 or are you referring to another implementation?

[2016-01-14 21:35] blowdart commented on #318
That's the one.

[2016-01-14 21:36] shaunluttin commented on #318
@blowdart Great. In the next few days, I will update my write-up of the proposed article based on your feedback and then message you.

[2016-01-14 21:43] PinpointTownes commented on #318
Sure, it is. ROPC is a very popular grant.

Funny you've never heard about ASOS... it helped fix many bugs in the OIDC client middleware your team develops :smile:

[2016-01-14 21:49] rustd commented on #895
@danroth27 ?

[2016-01-14 22:20] shaunluttin commented on #318
@PinpointTownes I think what I will do then, is to finish off the example that I started on with with ASOS. Once that is done, I will consider porting it to Identity Server.

[2016-01-14 22:29] PinpointTownes commented on #318
Great, thanks :smile:

FWIW, using [OpenIddict](https://github.com/openiddict/core) is now the approach I recommend when integrating ASOS with Identity 3. It implements a few things for you: client authentication, resource owner credentials validation (with lockout support) and automatic refresh token revocation when the security stamp changes.

[2016-01-14 22:53] Rick-Anderson commented on #895
@MikeWasson  can you comment on cust request to have OAuth WebAPI tutorials.

[2016-01-14 23:42] jon49 commented on #895
There's this https://identityserver.github.io/Documentation/docs/overview/simplestOAuth.html tutorial but it's a little dated. So, I'm not sure how to get passed setting up with:

[code]

So, it would be nice to have a tutorial for authenticating username/password and the token it creates. In my use case I have an internal server that isn't public facing that I will be using to pass the username/p

[2016-01-15 00:11] danroth27 commented on #895
See http://leastprivilege.com/2016/01/11/announcing-identityserver-for-asp-net-5-and-net-core/. We plan to start producing content on using Identity Server 4 with ASP.NET 5 in late Feb/early March.

[2016-01-15 00:50] #895 closed

[2016-01-15 01:43] diddledan commented on #199
is this really done? checking https://docs.asp.net/en/latest/dnx/compilation.html points here saying the document isn't written, so I'm guessing the label `3 - done` is incorrect...

[2016-01-15 01:44] diddledan commented on #199
alternatively the linked #50 is incorrectly marked as complete. Either way one of these issues is wrong?

[2016-01-15 03:20] kspearrin commented on #687
@SimonOrdo I'm trying to use your method for this in ViewComponents. If I try to invoke some c# code in the JS code I get errors. For example:

[code]

and

Do you have a workaround for this? I am not familiar with the `@<script>` syntax used here for the `Template` delegate.

[2016-01-15 05:12] ardalis commented on #733
@danroth27 Given that ResponseCaching does no in-memory caching on the server, does it still make sense to have the server caching section in this article? I'm thinking it will only confuse the reader. I think it makes sense to have an architectural-level article somewhere that talks about reverse proxies and multi-server configurations, but I don't think this is the place for it. I have a pretty

[2016-01-15 06:38] danroth27 commented on #733
@ardalis Leaving the server caching section out is fine.

[2016-01-15 07:13] GuardRex commented on #733
Side note: Dynamic compression seems ok ...

Dynamic Compression Enabled:
![with_dynamic_compression_enabled](https://cloud.githubusercontent.com/assets/1622880/12347578/0c80dfe6-bb14-11e5-81aa-ebbd967580a6.png)

Dynamic Compression Disabled:
![with_dynamic_compression_disabled](https://cloud.githubusercontent.com/assets/1622880/12347580/1216e68a-bb14-11e5-8377-be55043e2d22.png)

If you want me to

[2016-01-15 08:52] murilocurti commented on #107
This topic will cover deploying to a Cloud Service too?
This is very important. One case that is priority for us is that Cloud Services is the only way to communicate with a VPN site to site on azure.
If you could share some drafts we can test them.

Thanks!

[2016-01-15 09:06] GuardRex commented on #107
@murilocurti .NET 5 is not supported for Cloud Services.

[2016-01-15 09:26] murilocurti commented on #107
@GuardRex It will never be? Is there any technical reason for that?

[2016-01-15 09:52] GuardRex commented on #107
@murilocurti They haven't ruled it out, but it will not make RTM based on looking at the issues. They also don't have it on the roadmap. They only specifically mention VB, SignalR, and Web Pages after RTM.

Technically, yes, they would prob have some serious work to do to wire things together with the Cloud Services service configuration. My advice ... do what you're trying to do with your VPN set

[2016-01-15 09:59] GuardRex commented on #107
... or Azure Web App, which is also supported.

[2016-01-15 11:07] murilocurti commented on #107
hmmmm OK I will take this way, but I will continue investigating this scenario.
Thank you @GuardRex

[2016-01-15 13:27] ardalis commented on #118
@danroth27 this is my last outstanding article this batch - do we need to set up a meeting to discuss the outline?

[2016-01-15 21:45] philipp985 opened #898 "TagHelper article - Revise Websiteinfo example"
Great articles very helpful for starting to write customized Tag Helpers.
I found one mistake in your example concerning the websiteinfo Tag Helper.
In:
WebsiteInformationTagHelper.cs
Line 14 Should be changed from:
 output.Content.SetContent(
To:
output.Content.SetHtmlContent(
otherwise the example is not working at least on my machine.

[2016-01-15 23:29] PeterBocan opened #899 "Arch Linux support"
Hello guys,

did anyone try to install vNext on Arch Linux?

Thanks.

[2016-01-16 18:24] #733 closed

[2016-01-16 20:29] ardalis commented on #128
@danroth27 it looks like this sample is post-RC1;
https://github.com/aspnet/Mvc/blob/dev/samples/LocalizationSample.Web/Startup.cs
(it doesn't exist in RC1 tag and the DefaultRequestCulture doesn't exist in RC1)
should I hold off on updating this until RC2 drops?

[2016-01-16 20:30] ardalis commented on #755
This change should be made once RC2 ships.

[2016-01-19 06:02] ankitbko opened #903 "Links in Request Features points to beta-5"
Most of the links in [request-features.rst](https://github.com/aspnet/Docs/blob/dev/aspnet/fundamentals/request-features.rst) points to beta-5 branch. Shouldn't this be updated to point to master branch?

[2016-01-19 10:22] mperdeck opened #905 "Migrating Existing HTTP Modules to ASP.NET"
I saw that these chapters are still to be done. I would like to offer to write all or some of them:

Migrating HTTP Modules to Middleware
http://docs.asp.net/en/latest/migration/http-modules.html

Create a New NuGet Package with DNX
https://docs.asp.net/en/latest/dnx/create-package.html

Migrating an Existing NuGet Package Project
https://docs.asp.net/en/latest/dnx/migrate-package.html

My experie

[2016-01-19 18:47] danroth27 commented on #905
Sounds great! I recommend focusing on the Migrating HTTP Modules to Middleware article, as the other two articles will not be relevant once we move off of DNX and onto the [.NET CLI](https://github.com/dotnet/cli).

Do you want to put together an initial outline and send it to us to take a look at?

[2016-01-19 18:48] danroth27 commented on #903
For now, yes. Eventually all links to types should point to the API reference docs, but we are still waiting on a fix to the .NET Sphinx Domain to make that happen.

[2016-01-19 18:50] danroth27 commented on #899
I recommend working with the [.NET CLI](https://github.com/dotnet/cli) folks on this issue.

[2016-01-19 18:50] #899 closed

[2016-01-19 22:31] #497 closed

[2016-01-19 23:44] #33 closed

[2016-01-19 23:44] #31 closed

[2016-01-19 23:44] #35 closed

[2016-01-19 23:53] danroth27 commented on #199
The intent here was to close this bug as a duplicate of #50, but it looks like we never removed the corresponding compilation topic from the TOC.

Pretty soon we will be moving off of DNX and onto the new [.NET CLI](https://github.com/dotnet/cli), so these docs will all get removed and instead we will point to http://dotnet.github.io/docs.

[2016-01-20 00:30] diddledan commented on #199
thanks for the update. That makes sense :-)

[2016-01-20 00:52] danroth27 commented on #128
@ardalis No, let's not wait. We can either refer to the correct APIs in RC1, or just remove the localization content from this article for now.

[2016-01-20 05:46] Rick-Anderson opened #908 "update "Logging""
http://docs.asp.net/en/latest/fundamentals/logging.html

- [ ]  Needs an edit pass.
- [ ]  API has changed, need to update code.
- [ ]  Good DISQUS questions unanswered.

For example:
You may see more than one log statement per web request you make in your browser, since most browsers will make multiple requests (i.e. for the favicon file) when attempting to load a page
--- Should be written as:
Y

[2016-01-20 12:02] aksharpatel47 commented on #95
I would like to review and contribute. akshar.patel.47@gmail.com

[2016-01-20 17:22] danroth27 commented on #908
the logging APIs also went through some churn in RC2

[2016-01-20 21:19] danroth27 commented on #114
Move extensibility into a separate topic:
  - Custom model binders and sources
  - Custom value provider

[2016-01-21 08:09] GuardRex commented on #823
Fixed by https://github.com/aspnet/Docs/pull/854

[2016-01-21 08:09] #823 closed

[2016-01-21 11:01] mperdeck commented on #905
Hi Daniel,

Here is my initial outline for the Migrating HTTP Modules to Middleware
article:

* Firstly refer readers to the Middleware article in the ASP.NET 5
Documentation to get some understanding of what an ASP.NET 5 Middleware
looks like

* Difference in nature between an HTTP Handler and an ASP.NET 5 Middleware
(bit of text and picture, saying that essentially, HTTP Handlers only see
reques

[2016-01-21 17:09] Rick-Anderson opened #910 "RC1 -> RC2 migration guide needs to be written by RC2"
Per "Damian Edwards"  this needs to be published by RC2.

[2016-01-21 17:34] OlegKi commented on #910
:+1:  It's very good idea!

[2016-01-21 18:37] danroth27 commented on #905
Thanks @mperdeck! I think this looks reasonable, but I'd also like to get some folks on the engineering team to review before you spend a bunch of time writing the content.

@Tratcher @DamianEdwards @davidfowl Could you please take a look? Are there other specific details that should be covered?

[2016-01-21 18:43] danroth27 commented on #816
@saurabh500

[2016-01-21 20:48] shirhatti opened #912 "Custom 404 page"
This is the current 404 page on the Docs website.
<img width="1639" alt="screen shot 2016-01-21 at 12 45 36 pm" src="https://cloud.githubusercontent.com/assets/4734691/12494031/f10d2bba-c03c-11e5-8420-9ed4c00f7f09.png">

Can we implement a custom 404 page ?

[2016-01-22 19:49] hyrmedia commented on #107
Is there *any* documentation currently available out there on publishing ASP.NET web applications to an Azure VM from within Visual Studio 2015?

[2016-01-22 19:50] GuardRex commented on #107
https://docs.asp.net/en/latest/publishing/index.html

[2016-01-22 19:52] hyrmedia commented on #107
@GuardRex That's the site that pointed me here in the first place.

See: https://docs.asp.net/en/latest/publishing/azure-windows-vm.html

[2016-01-22 20:07] cesarbs opened #919 "Update sqlservercache command names"
Former DNX commands, soon-to-be dotnet CLI tools:

`user-secret` -> `user-secrets`
`sqlservercache` -> `sql-cache`

After https://github.com/aspnet/UserSecrets/pull/58 and https://github.com/aspnet/Caching/pull/145 are merged.

[2016-01-22 20:09] cesarbs commented on #919
cc @victorhurdugaci @Eilon @muratg

[2016-01-22 20:16] GuardRex commented on #107
@hyrmedia I see. I'm sure you're aware that it's not significantly different from publishing to an on-premises VM. Did you want to publish outside of using Web Deploy? I've been using a (crappy; because I wrote it :smile:) [PowerShell script](https://github.com/GuardRex/net5-iis-ps-publish) to publish to some VM's, where I didn't have WebDeploy available. I intend to stick with PS publishing, beca

[2016-01-22 20:24] muratg commented on #919
@danroth27

[2016-01-22 22:17] Tratcher commented on #905
Sounds like a good place to start.

[2016-01-22 22:23] davidfowl commented on #905
great article suggestion and outline. I would add modules and handler and I would compare them both to middleware.

[2016-01-22 22:53] danroth27 commented on #905
@mperdeck Looking forward to a PR!

[2016-01-22 23:57] Rick-Anderson commented on #912
When we retire a URL, we should redirect rather than 404
For example, we retired http://aspnetmvc.readthedocs.org/projects/mvc/en/latest/tutorials/mvc-with-entity-framework.html - so everyone pointing to that get's a 404. We have a replacement tutorial.

the asp.net site redirects when they retire.

[2016-01-23 05:05] jalalions opened #920 "MVC6 does not load controllers/routes from external assembly/dll referred."
I am developing mvc6 application, some of my controllers are defined in separate ClassLibary/DLL project. When i refer that dll into my MVC6 project none of the controller/routes gets resisted to routes collection. As per documentation it suppose to scan all DLLs in appdomain to get attribute routes.

[2016-01-23 22:42] scottaddie opened #922 "Update Web API 2 to MVC 6 migration doc for RC1"
This doc is referencing some Beta 4 stuff. I'll work on updating the doc and the associated sample solution to RC1. Look for a PR within the next few days.

[2016-01-24 23:47] mperdeck commented on #905
Excellent! Starting work now.

[2016-01-25 18:45] danroth27 commented on #920
Could you please point us to the exact location you are seeing this in the docs?

[2016-01-25 19:48] saurabh500 commented on #816
/cc @kkurni

[2016-01-25 22:04] Rick-Anderson opened #926 "Provide outline of how to configure Kestrel for remote connections."
We need to add this to our docs - preferably https://docs.asp.net/en/latest/fundamentals/servers.html#kestrel

Customer asks https://docs.asp.net/en/latest/tutorials/your-first-mac-aspnet.html#comment-2475570406

I have this running on a Raspberry Pi (nice) without any major problems: good tutorial! Now if I want to browse from another computer to the Pi (http://ip-address-of-pi:5000) I get a "Con

[2016-01-26 00:56] GuardRex opened #927 "Show logging setup example with WebHostBuilder extensions?"
@ardalis @Rick-Anderson @danroth27

RE: https://github.com/aspnet/Docs/blob/master/aspnet/fundamentals/logging.rst

This might be too much (perhaps only showing the `.Configure(app => ...)` section would suffice), but I was wondering if it would be a nice add-on to the logging doc to show how to set it up when using `WebHostBuilder` extensions? (thanks to @davidfowl for the tip on how to do it thi

[2016-01-26 03:56] halter73 commented on #926
@Rick-Anderson I responded to the customer comment. Basically, every reference to "localhost" in configuration should be changed to "*" to accept external requests.

I think this has always been the case for WebListener (@Tratcher would know for sure), but it was a somewhat recent change for Kestrel which used to always accept external requests no matter how it was configured.

[2016-01-26 03:58] Tratcher commented on #926
localhost can also be replaced by specific IPs, but * is easier and more portable.

[2016-01-26 05:40] plakhlani commented on #95
I would like to contribute/review, lakhlaniprashant@gmail.com

[2016-01-26 18:43] danroth27 opened #929 "Hosting fundamentals"
Fundamentals -> Hosting

Base on dev, write for RTM bits.

To create an ASP.NET Core app on top of the new .NET CLI you need to setup the app using `WebHostBuilder` in your `Main` method. We need to figure out how/where we want to document this. There should be some content in Getting Started and then probably a more detailed doc under Fundamentals.

From the outline below, make this into a scenar

[2016-01-26 18:44] danroth27 commented on #927
I think most of our Fundamentals docs should show the Startup class pattern instead of WebHostBuilder, but we do need to figure out where to document WebHostBuilder in our RC2 docs. I've opened https://github.com/aspnet/Docs/issues/929 to track this. Closing this issue as I think the Logging doc is fine as is.

[2016-01-26 18:44] #927 closed

[2016-01-26 18:45] danroth27 commented on #926
We should add this to the Kestrel docs.

[2016-01-26 18:49] Tratcher commented on #926
Can we import this doc for WebListener?
http://katanaproject.codeplex.com/wikipage?title=Selfhosting&referringTitle=Documentation

[2016-01-26 20:53] danroth27 commented on #926
Yeah, we can take a look.

[2016-01-26 21:04] GuardRex commented on #929
When it comes time to explore the subject further, take a look at this interesting pattern. It manages to keep all of the app config in one spot and tailors config to the server environment: https://gist.github.com/GuardRex/f40f1b1414e175a6514f

[2016-01-26 23:22] kkurni commented on #816
@GuardRex VC++ Redis 2012 is needed because of this open issue.
https://github.com/dotnet/corefx/issues/3760

This will appear if you are using SqlClient.
AFAIK, Only SqlClient which currently depend on this.
So if it doesn't have sql client dependency, you will not need this VC++ Redis 2012.

I had tried to published web application into IIS, and both still required VC++ redis 2012 to use SqlClie

[2016-01-26 23:31] kkurni commented on #816
OS may automatically installed VC++ Redis 2012 as part of the update.
Or It could be automatically installed on Visual Studio 2012 +.

Maybe we need to change the text to ***"make sure that VC++2012 is installed"*** instead of putting this as a "Step"
Or we can put this into ***"troubleshooting"*** section

[2016-01-26 23:50] GuardRex commented on #816
@kkurni I see. I'm not sure where my ref to VS came from. At time, it may have just been confusing to me why this was being required and I guessed wrong.

Whatever is done, I hope the reason that the install is being required can be stated and the platforms and/or application context to which it applies is stated. It's just helpful to know when one can skip it if they don't need it.

[2016-01-26 23:50] Rick-Anderson commented on #565
@danroth27  can we at least provide a link to steps to get the source? see https://docs.asp.net/en/latest/fundamentals/logging.html#comment-2444368656

When you click on "View or download sample from GitHub" you can't actually download the sample from there, can you? Somehow you have to figure out you have to go up all the way to the top of the project and download the whole thing.
And then obviou

[2016-01-27 04:53] danroth27 commented on #816
Sure we can add a comment clarifying that this is really only required to get SqlClient to work.

[2016-01-27 09:44] dumbledad commented on #202
[The docs](https://docs.asp.net/en/latest/fundamentals/http-abstractions.html) mention that if we "would like to review early drafts and outlines of this topic, please leave a note with your contact information" here. Yes please, my Microsoft alias is timregan

[2016-01-28 23:48] shirhatti commented on #475
Fixed in e40983f009b70e32dff9f2e7d99795e40a1c318d

[2016-01-28 23:48] #475 closed

[2016-01-29 00:41] danroth27 opened #932 "Update OWIN article to RC1"
The OWIN article is pretty out of date at this point - needs a significant update. Many of the APIs referenced have changed.

[2016-01-29 02:00] dlebedynskyi commented on #204
@danroth27, any news on webSockets for core? I see it is in rc1 so at least some basic example or api doc  would be real great.

[2016-01-29 21:47] wesamco commented on #114
can i have early access for the docs?

[2016-01-29 21:52] wesamco commented on #95
I would like to contribute/review, weso.100@hotmail.com

[2016-01-29 23:44] Erikre commented on #101
Updating based on the following outline:
Bundling and Minification
- Overview
- Bundling
- Minification
- Impact of Bundling and Minification
- Controlling Bundling and Minification
- Using the “*” Wildcard Character to Select Files
- Bundle Considerations
- Gulp
- See Also

[2016-01-30 11:10] sturlath commented on #95
I would like an update sturla76@gmail.com

[2016-01-30 22:36] leonardlabat commented on #932
Hi

I guess my PR should resolve this one.

Have a good day

[2016-01-31 00:52] 9034725985 opened #940 "Link to Getting Started With ASP.NET 5 and Entity Framework 7 fails"
This link on https://docs.asp.net/en/latest/data/index.html to http://docs.efproject.net/en/latest/getting-started/aspnet5/index.html is 404. Is this intentional? Also following the pattern of ef6, https://docs.asp.net/en/latest/data/entity-framework-7.html is 404 as well.

[2016-01-31 17:31] Rick-Anderson opened #941 "fundamentals/diagnostics.rst"
extra ')' in code "app.UseWelcomePage("/welcome"));".

[2016-02-01 03:08] baibaomen commented on #95
I would like to contribute/review, baibaomen@gmail.com

[2016-02-01 03:08] baibaomen commented on #49
I would like to contribute/review, baibaomen@gmail.com

[2016-02-01 15:22] joelmartinez commented on #98
Just curious if this ever got published, as the `done` label was added on aug 28th last year :)

[2016-02-01 16:10] danroth27 commented on #98
Not done - sorry about that. But a community contributor is working on an article for this. See #905.

[2016-02-01 16:23] danroth27 commented on #114
See https://github.com/aspnet/Docs/pull/933.

[2016-02-01 16:55] sguryev opened #943 "The old name of the SecretManager package is used"
The new name is **Microsoft.Extensions.SecretManager** (http://docs.asp.net/en/latest/security/app-secrets.html#installing-the-secret-manager-tool)
Corresponding issue is here: https://github.com/aspnet/UserSecrets/issues/34
Also I suggest to add the "--overwrite" option which will force the overwriting of the old version.

[2016-02-01 18:35] joelmartinez commented on #98
@danroth27 totally cool, I understand, good docs take time and resources :) I was just commenting cause I caught the link to this issue from the aspnet docs site.

[2016-02-01 18:41] danroth27 commented on #940
Looks like the EF folks jumped the gun on the rename: http://docs.efproject.net/en/latest/platforms/aspnetcore/getting-started.html

[2016-02-01 18:42] danroth27 commented on #920
Closing for now. Please reopen with the additional details requested.

[2016-02-01 18:42] #920 closed

[2016-02-01 18:57] Erikre commented on #308
The Using Gulp topic (https://docs.asp.net/en/latest/client-side/using-gulp.html) has been updated and the Bundling and Minification topic (https://docs.asp.net/en/latest/client-side/index.html) is currently being reviewed.

[2016-02-01 21:20] #720 closed

[2016-02-01 21:21] #58 closed

[2016-02-01 21:21] danroth27 commented on #58
@shirhatti Please open a separate issue to track the remaining UNC share content.

[2016-02-01 21:22] #799 closed

[2016-02-01 21:23] #866 closed

[2016-02-01 21:25] patrickpetropoulos commented on #95
I would like an update on this Patrick.petropoulos@gmail.com

[2016-02-01 21:25] #922 closed

[2016-02-02 09:51] Shrubs commented on #653
Hey, if I could get an early draft that would be just swell: moores@hotmail.co.uk

Much appreciated!

[2016-02-02 10:37] bittner commented on #799
@danroth27 Daniel, could you share how this is done with Disqus?

[2016-02-02 13:46] marspd commented on #653
Please send me a copy of the draft if at all possible as I am really struggling with this and have an urgent project that I am working on.
paul@epsys-consultants.co.uk
Regards
Paul

[2016-02-02 14:41] #761 closed

[2016-02-02 16:46] abhishek31kr commented on #113
What is ASP.NET MVC?
ans- Asp.Net Mvc is a Architectural pattern that uses design pattern.

[2016-02-02 16:49] abhishek31kr commented on #113
Models: Business Logic(.cs) + Data Access Logic
Views: .cshtml page...
Controllers: Business Logic (.cs )

[2016-02-02 23:23] danroth27 opened #948 "File uploads"
Add a topic to the MVC docs on how to handle file uploads. Link to it from the model binding doc.
Outline:
How to Upload Simple Files (show simple form)
Bind to an Action with IFormFile (or IEnumerable)
  Show how to handle this
  These files are buffered
If you want to stream the file because of size, validation, etc.
  Show streaming support
  Show saving to Azure blog storage

Anti-forgery is d

[2016-02-02 23:49] danroth27 opened #949 "JSON Patch"
Document how to use the JSON Patch support in MVC.
This should be more of a ref style doc (unlike[ ben's blog](http://benfoster.io/blog/aspnet-core-json-patch-partial-api-updates)) - but we still want code samples

[2016-02-03 00:01] danroth27 commented on #799
https://github.com/aspnet/Docs/pull/931

[2016-02-03 18:45] danroth27 opened #950 "Logging on Azure"

[2016-02-03 18:47] #275 closed

[2016-02-03 18:47] danroth27 commented on #275
DNX is being replaced by the new .NET CLI

[2016-02-04 18:29] shirhatti opened #956 "CSS for tablet/mobile is inconsistent with full desktop view"

[2016-02-05 16:47] simonmurdock opened #958 "How do we generate docs like you guys?"
Is there a document somewhere explaining how to generate the API section of your docs.asp.net documents?

I see some stuff in this repo but it seems to be undocumented. I'm struggling to find a solution to generate my own docs that look good.

[2016-02-05 18:08] #118 closed

[2016-02-06 09:45] ohernan opened #959 "mistake at page 16"
Replace "You set the format for routing in the Startup.cs ﬁle" by
"You set the format for routing in the RouteConfig.cs file"

[2016-02-07 17:21] Nogbit opened #961 "Fix 404 links on the "Introduction to ASP.NET Identity" page"
At the bottom of the page, the last three urls result in a 404.

[2016-02-08 18:41] danroth27 opened #966 "Add note to docs about the ASP.NET Core rename"
Ex. see what we did on http://get.asp.net.

[2016-02-08 18:43] danroth27 opened #967 "Remove duplicate "the" in ViewComponent article"

[2016-02-08 18:57] danroth27 commented on #959
RouteConfig.cs is no longer used in ASP.NET Core. Instead, your routes are defined in your Startup class when you setup the routing middleware.

[2016-02-08 18:57] #959 closed

[2016-02-08 20:08] shirhatti commented on #967
Merged in https://github.com/aspnet/Docs/commit/3401ffd82e85f7193785206c8fdf79a0b07d78c8

[2016-02-08 20:08] #967 closed

[2016-02-08 21:26] pack3754 commented on #95
I would like an update please: daniel.packard@complexrehabsystems.com -- Thanks!

[2016-02-08 22:04] Rick-Anderson opened #969 "update "Sharing cookies between applications""
https://docs.asp.net/en/latest/security/data-protection/compatibility/cookie-sharing.html

Needs update.

[2016-02-09 01:29] Rick-Anderson opened #974 "update "Migrating Authentication and Identity""
[Migrating Authentication and Identity](https://docs.asp.net/en/latest/migration/identity.html)

- [ ] Update namespace from NewMvc6Project
- [ ]  Provide guidance - it would be helpful if you provided guidance for migrating the data to the new ASP.NET Core Identity SQL schema.  Similar guidance was provided for the migration from ASP.NET Membership to ASP.NET Identity: (create a new issue after f

[2016-02-09 17:27] #961 closed

[2016-02-09 20:27] #128 closed

[2016-02-09 20:41] #956 closed

[2016-02-09 20:42] #873 closed

[2016-02-09 20:42] #966 closed

[2016-02-09 23:36] Rick-Anderson opened #977 "secure user data"
Start with old version on ACOM https://azure.microsoft.com/en-us/documentation/articles/web-sites-dotnet-deploy-aspnet-mvc-app-membership-oauth-sql-database/
tie data to user,  a user can Create/Update/Delete their data, anyone can Read data

[2016-02-10 00:54] danroth27 commented on #305
@Rick-Anderson Should this article still be marked as blocked?

[2016-02-10 01:04] Rick-Anderson commented on #305
@danroth27 removed marked.

[2016-02-10 17:06] dylenbrandon opened #978 "Missing Prerequisite in Docs/mvc/getting-started/first-mvc-app/adding-model.rst"
Please include instructions or a prerequisite for SQL database. As a newcomer, I had a hard time using "dnx ef database update" because the tutorial didn't mention that I needed to install database software.  I understand that the context may have implied the fact that a database is required but it can be troublesome for newcomers if it isn't explicitly specified.

[2016-02-10 18:37] danroth27 commented on #978
Did you not have VS installed? The Web tools come with LocalDB, so you shouldn't need to install anything else.

[2016-02-10 18:39] danroth27 commented on #977
Sounds good.

[2016-02-10 18:55] danroth27 commented on #958
@agjohnson @ericholscher We are using the [autoapi](https://github.com/rtfd/sphinx-autoapi) Sphinx extension to generate our API refs. The process is bit bumpy right now and requires several manual workarounds, but you can see what we currently do by looking at the https://github.com/aspnet/apidocs repo. We are working on a number of fixes with the Read the Docs folks which should improve things.

[2016-02-10 19:02] #958 closed

[2016-02-10 19:06] danroth27 commented on #757
Our existing getting started article covers publishing the starter web app to Azure: https://docs.asp.net/en/latest/tutorials/your-first-aspnet-application.html

[2016-02-10 19:06] #757 closed

[2016-02-10 19:10] danroth27 commented on #514
This should be covered by #131

[2016-02-10 19:10] #514 closed

[2016-02-10 19:18] danroth27 commented on #364
We can't cover ever publishing technology available, but I think we should provide a Publishing Overview doc that goes over the basic mechanics of publishing an ASP.NET Core app regardless of the specific tech involved.

[2016-02-10 19:24] #104 closed

[2016-02-10 20:09] Rick-Anderson opened #980 "update "Manage Client-Side Packages with Bower""
https://docs.asp.net/en/latest/client-side/bower.html
- [x] update
- [x] answer questions (You should explain the difference between "4.6.4", "^4.6.4" and "~4.6.4")

[2016-02-10 20:20] blogcraft commented on #978
Could the VS installation be a custom one and therefore Web Tools where not installed?

[2016-02-10 20:35] danroth27 commented on #978
But then the rest of the tutorial wouldn't work as it makes heavy use of VS Web tooling features.

[2016-02-10 21:00] danroth27 opened #981 "Move hosting under publishing in the TOC"
Hosting is way down at the bottom of the TOC, so it's easy to miss.

[2016-02-10 21:11] dylenbrandon commented on #978
I installed VS 2015 as per the instructions on the tutorial. I was able to finish everything up until "Use data migrations to create the database". SQL was not installed (I wasn't instructed to install it) so the "dnx ef database update" command failed. I was able to figure it out but this was a rather annoying experience for a first time ASP.NET developer.

[2016-02-10 21:25] danroth27 commented on #978
@dylenbrandon Do you remember the error you saw?

I don't think you should need to install anything beyond what the VS Web tools give you to complete this tutorial. Adding @rowanmiller to confirm.

[2016-02-10 21:33] rowanmiller commented on #978
Correct, you should get LocalDb as part of installing VS2015

[2016-02-11 14:57] dylenbrandon commented on #978
@danroth27 It was a SQL connection error. @rowanmiller, I was also under the impression that LocalDB would install with VS2015. Strange issue.

[2016-02-11 16:57] danroth27 commented on #978
@dylenbrandon if you can reproduce the problem and send us the error we can take a look, but you shouldn't need to install anything beyond Visual Studio to run through this tutorial. I'm going to go ahead and close this issue as there really isn't anything concrete to change in the doc at this point. Let us know though if you get more details and we will investigate.

[2016-02-11 16:57] #978 closed

[2016-02-12 01:38] Rick-Anderson opened #985 "Update Middleware"
- [x] address @danroth27  https://github.com/aspnet/Docs/pull/1163 feedback
- [x] Edit pass
- [x] update static files will not be protected by any authentication
- [x] Add link to Migrating HTTP Modules to Middleware

Rewrite as
Middleware are software components that are assembled into an application pipeline to handle requests and responses. Each component chooses whether to pass the request on

[2016-02-12 19:44] shirhatti commented on #941
Was fixed in 025c080af15d2db0d5b2d04d5603f146027862a7

[2016-02-12 19:44] #941 closed

[2016-02-12 21:48] ardalis commented on #61
All these links are to AspNetCore / RC2 files; should I target RC2 with this article or ?  @danroth27 @rynowak

[2016-02-13 00:02] danroth27 opened #986 "Routing updates (post RC1 features)"
Middleware later in the pipeline can access route data using HttpContext extension methods. See https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNetCore.Routing.Abstractions/RoutingHttpContextExtensions.cs

[2016-02-13 00:03] danroth27 commented on #61
Target RC1. I moved the post-RC1 stuff to a separate issue: https://github.com/aspnet/Docs/issues/986

[2016-02-13 00:48] danroth27 opened #987 "Generating Web API help pages using Swagger"
Show how to use Swashbuckle to generate Swagger documents and Swagger UI. We can also show how to do client generation.

[2016-02-16 19:27] danroth27 commented on #795
This should be covered as part of https://github.com/aspnet/Docs/issues/131

[2016-02-16 19:31] danroth27 commented on #696
DNX is going away with the move to .NET CLI, but there will still be a watch command/tool. Need to figure out if this tool will be part of the .NET CLI and if the docs belong here or somewhere else.

[2016-02-16 19:33] danroth27 commented on #210
https://docs.asp.net/en/latest/security/authentication/azure-active-directory/index.html

[2016-02-16 19:33] #210 closed

[2016-02-16 19:40] GuardRex commented on #696
@tuespetre If you end up refactoring for a possible `dotnet cli` watch system for local IIS and you need a test :monkey:; ping me, and I'll give your revision a shot when you get there.

[2016-02-16 19:48] danroth27 commented on #202
We think this topic is sufficiently covered by the following articles:
- https://docs.asp.net/en/latest/fundamentals/middleware.html
- https://docs.asp.net/en/latest/fundamentals/request-features.html
- https://docs.asp.net/en/latest/fundamentals/servers.html

[2016-02-16 19:48] #202 closed

[2016-02-16 19:55] danroth27 commented on #129
Cover async/await in Razor as part of https://github.com/aspnet/Docs/issues/130

[2016-02-16 19:55] #129 closed

[2016-02-16 19:57] #101 closed

[2016-02-16 20:01] danroth27 commented on #89
Should reference https://github.com/aspnet/Docs/issues/134

[2016-02-16 20:02] tuespetre commented on #696
@GuardRex cool, I will probably be waiting for RC2 to revisit it

[2016-02-16 20:14] danroth27 opened #989 "Rework docs on publishing and hosting content"

[2016-02-16 20:45] #943 closed

[2016-02-16 20:46] #940 closed

[2016-02-16 20:47] #932 closed

[2016-02-16 20:49] danroth27 commented on #919
The DNX Commands doc will go away with the move to the .NET CLI, but we should cleanup our other docs that mention these commands.

[2016-02-16 20:51] #903 closed

[2016-02-16 20:53] danroth27 commented on #898
https://github.com/aspnet/Docs/commit/5a4e5e9bb9efd50cec5effb409bbf5cb8dba6486

[2016-02-16 20:53] #898 closed

[2016-02-16 20:55] danroth27 commented on #877
https://github.com/aspnet/docs/issues/919

[2016-02-16 20:56] #877 closed

[2016-02-16 22:17] #860 closed

[2016-02-16 22:52] #981 closed

[2016-02-16 23:09] danroth27 commented on #668
This should be handled as part of the .NET Core docs.

[2016-02-16 23:09] #668 closed

[2016-02-16 23:10] danroth27 commented on #623
No longer an issue as the whole site now redirects to HTTPS.

[2016-02-16 23:10] #623 closed

[2016-02-16 23:14] danroth27 commented on #556
This has been fixed.

[2016-02-16 23:14] #556 closed

[2016-02-16 23:19] danroth27 commented on #529
Document that tag helper properties of type `ModelExpression` or enum properties can use `@` to escape out of the default semantic of specifying a property of the model and instead specify any expression.

[2016-02-16 23:21] danroth27 commented on #465
The DNX docs will be going away with the move to the new .NET CLI.

[2016-02-16 23:21] #465 closed

[2016-02-16 23:45] danroth27 commented on #235
I think we could add a Releases node in the main TOC and link to https://github.com/aspnet/home/releases

[2016-02-17 00:22] danroth27 commented on #54
Moving from DNX to .NET CLI.

[2016-02-17 00:22] #54 closed

[2016-02-17 00:26] #477 closed

[2016-02-17 00:29] #798 closed

[2016-02-17 00:41] #834 closed

[2016-02-17 00:41] danroth27 commented on #834
Should be covered by https://github.com/aspnet/Docs/issues/868

[2016-02-17 00:43] danroth27 commented on #836
Duplicate of https://github.com/aspnet/Docs/issues/453

[2016-02-17 00:43] #836 closed

[2016-02-17 00:51] #745 closed

[2016-02-17 21:00] ardalis commented on #119
https://github.com/aspnet/Docs/blob/551ac274b4c23c583262bd165619370495006dec/mvc/controllers/filters.rst

[2016-02-18 22:59] ArashMotamedi commented on #985
@Rick-Anderson Since understanding the Aspnet5 Middleware architecture requires a different thought process than the previous event-based handlers, or the flow-based perspectives, it might be beneficial and illuminating to include a couple of examples for Middlewares that do isolated work (for example, handle a certain type/route of request) vs those that do broad, cross-cutting work (e.g. logging

[2016-02-19 05:17] Rick-Anderson commented on #305
[draft for review](https://www.dropbox.com/s/e11jrxp1qlgyj56/locDoc.docx?dl=0)
I'll move this to GitHub tomorrow and hope to have it staged so you can see the doc build.
@hishamco @cspaniard @lurumad @joeaudette @Muchiachio @jerriep @Bartmax @damienbod please review

[2016-02-19 06:38] Bartmax commented on #305
article read. good overall.

Have some concerns, what is the best approach for feedback/review? using
the github discussion feature?
let me know how/where/when I can provide feedback, email won't be a good
tool for that :D

Also it would be great to know who is the audience for this (feedback will
vary according to audience).

Should be a introduction lecture? For technical implementations? anythi

[2016-02-19 09:27] Muchiachio commented on #305
Thank you for including me in the review :+1:

An example near this statement or in the code result would be great, I had to read quite a few times to understand which part get encoded and which not. Also there seems to be better a wording for this later on in the document.

ViewData["Message"] = _localizer["&lt;b&gt;Hello&lt;/b&gt;&lt;i&gt; {0}&lt;/i&gt;", name];

Does using formatted string work

[2016-02-19 09:33] pbalut commented on #95
I would like to contribute/review, piotrek1231@gmail.com

[2016-02-19 11:53] hishamco commented on #305
The article read is good,but i think the title needs to change little bit, also ASP.NET should be renamed to ASP.NET Core, furthermore the sequence of the topics in the article may need sort of arrangement, because View Localization for instance may included underneath the Localization in ASP.NET.

I think what @Bartmax is right, determine the audince should be taken in consideration if you to do

[2016-02-19 14:44] damienbod commented on #305
Hi Rick

I think it's great. Thanks. I have nothing to add which has not already been mentioned in the previous comments. You can use my real name in the link, (Damien Bowden @damien_bod), thanks.

Greetings Damien

[2016-02-19 15:45] jerriep commented on #305
I just had time to scan through it quickly, so not in much detail. Picked up one small spelling mistake:

"**Latter** in the article I’ll show how...."

[2016-02-20 01:12] Rick-Anderson commented on #305
@Bartmax Thanks for the feedback. We can continue feedback on the PR https://github.com/aspnet/Docs/pull/1002

I'll get the title changed in my next commit. I was thinking my version was OK for SEO reasons but I think I'll follow your suggestion.

The audience is anyone who wants to localize a web app. That's a pretty large audience.

@Muchiachio I added a suggestion on data annotations errors and

[2016-02-20 15:47] Charmatzis commented on #948
if I can help please show me the way... I am quiet new to GitHub.
I have worked with a MVC project and I will write here an example.

[2016-02-20 16:10] Charmatzis commented on #948
The model class will be

[code]

Here is the controller code...

[code]

Finally this is the View code

[code]

[2016-02-21 17:16] ardalis commented on #61
@rynowak what is the purpose of DefaultHandler and ServiceProvider on RouteBuilder? They don't seem to be used anywhere except the sample project.

[2016-02-21 18:25] ar27111994 commented on #117
Any way to map routes in a separate file / class? @danroth27 @atrauzzi

[2016-02-21 19:20] ardalis commented on #61
Nevermind, it seems to be necessary for extension methods to work, such as MapRoute()

[2016-02-22 15:15] tbgo commented on #134
The link to for more information in the http://docs.asp.net/projects/mvc/en/latest/getting-started/first-mvc-app/controller-methods-views.html tutorial led me here because the "more information" page (http://docs.asp.net/projects/mvc/en/latest/security/anti-request-forgery.html) was being worked on. When do you expect it may be ready for the masses?
And tnx for a nice tut so far!

[2016-02-22 21:13] #194 closed

[2016-02-23 14:57] rachelappel commented on #114
@danroth27

[2016-02-23 21:44] ardalis commented on #119
Resource filters in MVC examples: ConsumesAttribute  SaveTempDataFilter

SkipStatusCodePagesAttribute

FormatFilter

[2016-02-24 17:46] danroth27 opened #1017 "Document what sections of web.config are no longer used in ASP.NET Core"

[2016-02-25 00:39] BenjaminLange commented on #663
This issue is tracking the completion of this page: http://docs.asp.net/projects/mvc/en/latest/getting-started/first-mvc-app/details.html

It is the last page of the tutorial called Building your first MVC 6 application.

Please reopen this issue so that the tutorial will get completed.

[2016-02-25 01:11] Rick-Anderson commented on #663
I plan on completing that stage for [RC2](https://github.com/aspnet/Home/wiki/Roadmap).

[2016-02-25 22:09] danroth27 opened #1024 "Clarify in the intro to tag helpers doc when tag helpers are appropriate vs sticking with HTML helpers"
Ex there is no DisplayNameTagHelper and that is intentional. We should document these reasons.

[2016-02-26 06:27] danroth27 opened #1025 "mvc/views/tag-helpers/intro"Introduction to Tag Helpers""
Link to corresponding sections in scenario based docs.
Add links to built-in TH

[2016-02-26 06:29] danroth27 opened #1026 "Link Generation"
This could go under controllers along side the Routing to Actions doc, or it could go under Views since it covers a bunch of link generation constructs in views. Or we could have two separate docs.
- UrlHelper
- `@Href`
- Anchor tag helper

[2016-02-26 06:31] danroth27 opened #1027 "Working with Forms"
MVC -> Views -> Working with Forms
- Tag helpers: form, input**, text area, select+option, label, validation summary+message
- Cover HTML helper alternatives
- Grow up story to use editor templates (link to separate doc)
- Link to Model Validation

[2016-02-26 06:35] danroth27 opened #1028 "Cover environment tag helper in Working with Multiple Environments article"

[2016-02-26 20:44] rachelappel commented on #114
Closed https://github.com/aspnet/Docs/pull/933 4203eada2a8b5f4455011e35e305e4e7afb4afef

[2016-02-26 20:44] #114 closed

[2016-02-29 20:58] danroth27 commented on #880
Leave a comment

[2016-03-01 18:12] danroth27 commented on #868
Fixes https://github.com/aspnet/Docs/issues/868

[2016-03-02 01:42] Rick-Anderson commented on #985
@ArashMotamedi  great idea. Any chance you could send me a sample and I'll add you to the authors list.

[2016-03-02 06:45] vincentshow commented on #95
I would like to contribute/review, vincentshow@outlook.com

[2016-03-03 15:34] mikengine commented on #95
I would like to contribute/review mig.salazars@hotmail.com

[2016-03-03 16:15] NinoFloris commented on #117
I have searched everywhere for some content on how to handle custom inline route constraints in MVC 6. Are they still in?

[2016-03-03 16:35] ardalis commented on #117
When you say custom, you mean beyond the ones that are available here?\
https://github.com/aspnet/Routing/blob/1.0.0-rc1/src/Microsoft.AspNet.Routing/RouteOptions.cs

[2016-03-03 19:37] danroth27 opened #1042 "Update naming to ASP.NET Core"
ASP.NET 5 -> ASP.NET Core

ASP.NET Core is versioned as 1.0, but we should only specify the version when actually referring to a specific version of ASP.NET Core. In most cases leave the version number off.

MVC 6 -> ASP.NET Core MVC

When we need to refer to the MVC functionality in ASP.NET Core we should use the term "ASP.NET Core MVC".

[2016-03-03 19:44] danroth27 opened #1043 "Remove all DNX content"
DNX is being replaced by the new [.NET CLI](https://github.com/dotnet/cli).

Add links to [.NET CLI docs](https://dotnet.github.io/docs) as appropriate.

[2016-03-03 19:46] danroth27 opened #1044 "Update installation instructions"

[2016-03-03 19:49] danroth27 opened #1045 "Update common samples"
Update the common samples and fix up literalincludes that reference them.

[2016-03-03 20:18] shirhatti opened #1046 "License"
What license is the published documentation and included sample code published under?

[2016-03-03 20:19] danroth27 opened #1047 "Update API ref docs"
Requires docfx to add support for .NET CLI projects. See https://github.com/dotnet/docfx/issues/137

[2016-03-03 20:24] danroth27 commented on #1046
Anything in the repo (sample code, .rst) is under the license specified by the [LICENCE.txt](https://github.com/aspnet/Docs/blob/master/LICENSE.txt), which is an Apache v2 license.

The published content should be under the [CC-BY-NC](http://creativecommons.org/licenses/by-nc/3.0/) license

[2016-03-03 20:26] shirhatti commented on #1046
I suggest we modify the footer to make the license explicit.
You can assign it to me, it should be a quick fix

[2016-03-03 20:28] danroth27 opened #1048 "Update conceptual overview section"
In order to [remove the DNX content](https://github.com/aspnet/Docs/issues/1043) the [conceptual overview](https://docs.asp.net/en/latest/conceptual-overview/index.html) content and section will need reworked.

[2016-03-03 20:37] danroth27 opened #1049 "Update articles to latest bits"

[2016-03-03 22:15] GuardRex opened #1050 "Doc suggestion/question for RC1-final to RC2-final conversions"
The typical advice for betaX-to-betaY or beta8-to-RC1-final is to hit up the Announcements repo and rundown the breaking changes.

That's easy advice ... that's the low hanging fruit, but not particularly efficient. There are a set of obvious changes that a dev will make going from RC1-final to RC2-final when RC2-final releases.

Would there be merit or would it even be possible in having a doc th

[2016-03-03 22:45] #905 closed

[2016-03-04 15:22] danroth27 commented on #1050
Yup, we plan to write a migration doc for moving from RC1 to RC2, which is tracked by https://github.com/aspnet/Docs/issues/910.

[2016-03-04 15:22] #1050 closed

[2016-03-04 15:39] NinoFloris opened #1052 ""options" in version object of a dependency, what are the choices and what do they mean?"
As I see more and more types of options dev,build,private etc. I'm really looking for some docs on them.

Are there any?

[2016-03-05 00:27] Rick-Anderson opened #1054 "Style guide updates: linenos, horiz scolling and more"
- [ ] Add "Tables should never have horizontal scroll"
- [ ] When updating a doc, remove exiting linenos
- [ ] Add "Don't use  :linenos:" to style guide
- [ ] Use HTTPS links when possible, HTTP only when HTTPS doesn't work
- [ ] When used in a sentence, explicitly set internal title link text - don't rely on current title (which might change)

Explicitly set internal title link text sample:
  Wro

[2016-03-05 01:25] ArashMotamedi commented on #985
@Rick-Anderson This post seems to cover this topic quite thoroughly: https://docs.asp.net/en/latest/migration/http-modules.html

Perhaps no need to duplicate, but a link would be helpful; something like "to understand the difference between request pipelines in ASP.net 5 and the previous versions, read [link]"

[2016-03-05 05:20] Rick-Anderson commented on #985
@ArashMotamedi I agree, We'll add that. Thanks!

[2016-03-06 00:18] vindicatorr opened #1057 "No Action From 'dnx' With CoreCLR"
Archlinux
[code]
[code]

[2016-03-07 13:09] leonardlabat opened #1074 "Static files and IIS considerations"
Hello

The IIS considerations section in the static files page is referring to an obsolete method (**RunIISPipeline**). I think that this whole section should be updated to reflect the beta8 hosting model update.

Link to section I'm talking about :
https://docs.asp.net/en/latest/fundamentals/static-files.html#iis-considerations

If nobody has started working on this specific point, I can write th

[2016-03-07 17:28] danroth27 commented on #134
We plan to have a completed doc set by the summer.

[2016-03-07 18:50] danroth27 commented on #1057
No support for Archlinux at this time. Adding @halter73 in case he has additional thoughts on this.

[2016-03-07 18:50] #1057 closed

[2016-03-07 18:52] danroth27 commented on #1074
@leonardlabat Thanks for bringing this to our attention! A PR for this would be great.

[2016-03-07 19:49] shirhatti commented on #1052
Docs on `project.json` will live on the [.NET Core Docs](http://dotnet.github.io/docs/index.html).
Doesn't look like they have published them yet, but they do have an issue tracking it [dotnet/core-docs/#256](http://dotnet.github.io/docs/index.html) and there is an open PR for it. Hope that helps!

[2016-03-07 19:49] #1052 closed

[2016-03-07 20:40] danroth27 opened #1075 "Remove NuGet article stub"
We should just point to http://docs.nuget.org.

[2016-03-07 20:40] danroth27 commented on #1075
https://docs.asp.net/en/latest/conceptual-overview/nuget.html

[2016-03-07 21:23] Rick-Anderson commented on #1027
see notes in #365

[2016-03-07 21:24] Rick-Anderson commented on #1027
replaced by #365

[2016-03-07 21:25] #365 closed

[2016-03-07 21:36] CreepyGnome opened #1076 "Update 'Your First ASP.NET 5 Web App Using Visual Studio' Tutorial to Match Latest Released"
Currently as of the writing of this issue with Visual Studio 2015 Update 1 and the latest ASP.NET and tools installed RC1 Update 1 etc the current ASP.NET 5 Web App for Visual Studio is way out of date.

Everything is find and working in the tutorial until you get to the "Review the project" section and then the project layout is drastically different. Then if you take a closer look the screenshot

[2016-03-07 22:16] ardalis commented on #61
@rynowak From our discussion (notes above): "If a route has default values that don't match a parameter and that value is explicitly provided it must match the default value." This relates to link generation.
I'm not sure how to create an example for this. Here's a route with default values:
"{controller=Home}/{action}"
I'm not sure what you meant by "that don't match a parameter" Now if I go to g

[2016-03-07 23:35] rynowak commented on #61
Here's the example:
[code]

This will only generate a link when the matching values for controller and action are provided.

[2016-03-08 00:49] halter73 commented on #1057
Arch Linux is my distro of choice. In the early dnx days things actually worked, but as dependencies were added such as libunwind and the like, it was too painful to keep ally the dependency versions in sync and working.

It's probably possible to get working, but I've since started using Ubuntu since that's one of the distros supported by .NET Core. It's not worth my time at the moment to be that

[2016-03-08 00:54] vindicatorr commented on #1057
But don't those deps eventually transcend all of the dists? I'd bank on arch being on the fringe for updates and other dists are more conservative in their timing, but eventually they would all get there, right?
Call Arch a preview of what's to come.

[2016-03-08 04:09] ardalis opened #1077 "/fundamentals/routing "Routing""
- [ ]  Fix tables so they don't scroll
- [ ] •Most apps shouldn’t need custom routes - That needs to be in intro.
- [ ]  Needs UE review (Create an instance of RouteBuilder, passing a reference to IApplicationBuilder. don't write in english what's in code)
- [ ] Explain snippets
- [ ] Explain when/why you would use routing
- [ ]  Explain the relationship between the routing middleware and MVC temp

[2016-03-08 04:31] jchadwick commented on #208
Where is it?

[2016-03-08 09:05] tidusjar opened #1078 "New documentation page contains a link for the wrong Github issue"
The following page : http://docs.asp.net/en/latest/mvc/views/dynamic-vs-static.html
contains a link that links to #134 when it should be about Dynamic vs Strongly typed views

[2016-03-09 07:40] tomtomcarter commented on #123
Hi,
I would be pleased if I could get a copy of the draft version of this article to come.
Many thanks.
Thomas

[2016-03-09 13:28] ardalis commented on #123
I expect to start on this article this week.

[2016-03-09 15:39] tomtomcarter commented on #123
Great thanks
Le 9 mars 2016 2:29 PM, "Steve Smith" <notifications@github.com> a écrit :

[2016-03-09 16:46] danroth27 opened #1080 "Model binding doc should define what model state is"
Something like "Model state is a record of what data was bound to your model and any errors with the bound data". Include a link to the validation doc.

[2016-03-09 16:55] #61 closed

[2016-03-09 16:56] danroth27 commented on #986
#1077

[2016-03-09 16:56] #986 closed

[2016-03-09 17:18] ardalis commented on #119
@rynowak is there anything I need to document about ordering filters (within the same stage)?

[2016-03-09 17:19] ardalis commented on #119
@rynowak let me clarify - I understand scope-related ordering. My question is, given the same stage and the same scope, do we have a means of ordering filters? e.g. on a method if I say:
[Filter1]
[Filter2]
public void Method()

Can I expect these to run in a particular sequence? Can I do anything to enforce a desired sequence?

[2016-03-09 17:41] rynowak commented on #119
Yes, filters can implement `IOrderedFilter` to manually provide an ordering. See the docs here https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Abstractions/Filters/IOrderedFilter.cs for a precise, yet verbose description.

All of the built-in filters generally implement `IOrderedFilter`.

Let me also showcase that `Order` is a stronger qualifier than scope. Filters are sorted f

[2016-03-09 23:09] Rick-Anderson commented on #977
https://github.com/Rick-Anderson/secureMvc is the MVC5 version of what I'll be doing.

[2016-03-11 00:05] Rick-Anderson opened #1084 ""Password Hashing" doc updates"
- [ ] fix link to "see also the source code for ASP.NET Identity’s PasswordHasher type for a real-world use case - actual link is https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/PasswordHasher.cs
- [ ] edit review - linenos
- [ ] update to latest

[2016-03-11 05:31] Rick-Anderson opened #1086 "update "Installing ASP.NET 5 On Linux""
- [ ] I'm new to Docker, so today I got to find out that Docker only works for 64 bit versions of Linux. Perhaps it would be helpful to make a note of that at the beginning of your instructions.
- [ ] Update to latest bits
- [ ] UE review

[2016-03-11 16:14] danroth27 commented on #1074
@Tratcher

[2016-03-11 18:46] Rick-Anderson commented on #1084
will fix in next update

[2016-03-11 18:46] #1084 closed

[2016-03-11 23:50] #1086 closed

[2016-03-11 23:54] #1076 closed

[2016-03-12 09:14] maroebuck commented on #95
I'm replying to requests for ideas on [https://docs.asp.net/en/latest/mobile/native-mobile-backend.html](https://docs.asp.net/en/latest/mobile/native-mobile-backend.html)  Microsoft's Creating Backend Services for Native Mobile Applications article. It would be nice to see a step-by-step Code First approach for creating models and databases for ASP.NET Core 1.0 Web API projects in C# using SQL Ser

[2016-03-12 17:40] plakhlani commented on #95
I would like to contribute/review. Contact: lakhlaniprashant+aspnet@gmail.com

[2016-03-12 22:54] Rick-Anderson commented on #743
@danroth27 @shirhatti  Should I add "migrate DISQUS MVC comments" to this issue or open a new one? Customer feedback should always be reviewed before updating an article. cc/ @rachelappel
If we can't migrate, we need to archive for review.

[2016-03-14 19:29] uselesshasid commented on #985
The example

`app.Run(async context =>
    {
        await context.Response.WriteAsync("Map Test Successful");
    });`

Wont compile unless you add a using statement

`using Microsoft.AspNet.Http;`

Please update the document, as its not obvious

[2016-03-14 20:37] shirhatti commented on #1078
Fixed in 9b30420c1aef5e4970e95bbea1131392760546e1.
Thanks for pointing it out

[2016-03-14 20:37] #1078 closed

[2016-03-14 21:17] ardalis commented on #797
Does this even have a placeholder file yet? @danroth27

[2016-03-14 22:26] danroth27 commented on #797
Nope

[2016-03-14 23:19] danroth27 opened #1095 "Document that startup exceptions are captured by default and show how to opt-out of this behavior"
Ex. A startup exception could prevent SSL from being enabled (see https://github.com/aspnet/KestrelHttpServer/issues/369).

Opt-out using UseCaptureStartupErrors

[2016-03-15 08:59] tidusjar commented on #1078
Is this blog post I wrote a while ago relevant?
https://www.jamietech.com/2015/10/14/mvc-view-models-or-viewdata/

[2016-03-15 21:05] ardalis opened #1099 "Update Diagnostics"
Update the existing Diagnostics article
- Add links to Logging article
- Add Glimpse content and links
- Move exception handling content to error handling (#124)
- Update to latest RC
- Apply latest style guidelines (remove linenos, etc.)

[2016-03-15 21:15] #861 closed

[2016-03-16 14:00] eliassal opened #1101 "Tutorials missing steps"
Hi, I read the  fundamentals / servers.rst, opened the sample but really don't know what to do with the sample, is there any guidance or tutorial to play with the sample "ServersDemo". The page servers.rst gives an overview but it does not guide us on using the sample.
By the way, I went through a couple of tutorials, the todo list api and Contosobooks, the tutorials are missing the code that need

[2016-03-16 17:52] shirhatti commented on #1101
The code samples provided in the fundamentals are not structured as tutorials. We will look at updating the fundamentals articles to remove code sample links.

Can you elaborate on which instructions were missing from the tutorials?

[2016-03-16 17:54] shirhatti opened #1102 "Remove sample links from fundamentals"

[2016-03-16 17:54] shirhatti commented on #1101
Moved the first part to https://github.com/aspnet/Docs/issues/1102

[2016-03-16 21:41] javiercn opened #1105 "Update DataProtection docs"
Docs need to acommodate changes for http://github.com/aspnet/dataprotection/issues/120, http://github.com/aspnet/dataprotection/issues/121 and http://github.com/aspnet/dataprotection/issues/122

[2016-03-17 10:14] ahmetzeytindali commented on #95
I would like to contribute/review

[2016-03-17 16:21] eliassal commented on #1101
If you go to https://github.com/aspnet/Docs/blob/master/aspnet/tutorials/first-web-api.rst, you will find several statements like this "Replace the generated code with" but nothing behind it

[2016-03-17 16:42] danroth27 commented on #1027
#365 has the details on how we are covering the built-in tag helpers. This issues specifically covers the Working with Forms article.

[2016-03-17 18:10] Rick-Anderson commented on #1101
No, it brings in the source file:
[code]
GitHub is to store the doc, not to read the doc.

[2016-03-17 18:10] #1101 closed

[2016-03-17 18:20] eliassal commented on #1101
Rick, I am a little bit confused, what is "it brings..." who brings, sorry I am not expert in Git

[2016-03-17 18:24] Rick-Anderson commented on #1101
just read  Read the doc at https://docs.asp.net/en/latest/tutorials/first-web-api.html,, don't try to read the docs on gitHub. Our build system brings in the source file mentioned. See https://github.com/aspnet/Docs/blob/master/CONTRIBUTING.md