[2017-03-02 21:00] GuardRex commented on #2867
`ApplyHeaders()` goes to `RedirectToReturnUrl()` ...

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationHandler.cs#L346

... it ultimately lands on `OnRedirectToReturnUrl` ...

https://github.com/aspnet/Security/blob/22d2fe99c6fd9806b36025399a217a3a8b4e50f4/src/Microsoft.AspNetCore.Authentication.Cookies/Events/CookieAuthenticationEvent

[2017-03-02 22:12] Ponant commented on #2867
Thanks @GuardRex , in overall I think this stuff needs clarification, and I expect a simpler procedure to make use of LogOutPath I have seen this, but the accepted answer is not so clear neither to my eye:
[http://stackoverflow.com/questions/29785252/does-logoutpath-do-anything](http://stackoverflow.com/questions/29785252/does-logoutpath-do-anything)

[2017-03-02 22:17] GuardRex commented on #2867
Yes, indeed. I agree with your OP. Even when I asked @pinpoint about this, he said, "Good question!"

@Rick-Anderson @tdykstra TL;DR The `LogoutPath` might not be well explained anywhere ... as in "anywhere on 🌍 Earth" :smile:. If you would like me to take a stab at 2-4 sentences on it for the [Introduction to Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity)

[2017-03-03 03:20] Rick-Anderson commented on #2867
@GuardRex  Yes, thanks, that would be great.

[2017-03-03 04:15] #2658 closed

[2017-03-03 04:32] GuardRex commented on #2867
@Rick-Anderson One little thing tho that you'll have to decide on this ...

The code shows the `LogoutPath` set ...
[code]
... but the way the controller action is setup ...
[code]
... it doesn't look like it will ever work. If this action is hit with a `returnUrl` set on the request URL, it will set the `Location` header to whatever you provide for `returnUrl`; however, when it drops down to the

[2017-03-03 08:53] Ponant commented on #2867
@GuardRex , I may be wrong but my gut feeling is that there is a simple way to make it work than returning an EmptyResult (which looks weird). Perhaps someone at MS knows that, somehow .Net has been written by humans, I assume ;), so there must be practical reason for it which goes beyond saving one line of code...
BTW, I would take this opportunity to check out all the options with small pieces o

[2017-03-03 09:06] Ponant commented on #86
@Tratcher , I think your bullet points will be a great addition. I had to switch back and forth between a @rustd video on youtube and Adam Tulliper on MVA to see how you can add scope to retrieve stuff (friends pictures etc) to your app or db. But these videos go back to a few years ago and they were using a FacebookClient with using statements whereas we could go through DI to fit the .Net Core d

[2017-03-03 17:50] Rick-Anderson commented on #2867
@HaoK  TLDR; can you explain  `LogoutPath` ?
`   options.Cookies.ApplicationCookie.LogoutPath = "/Account/LogOff";

[2017-03-03 18:31] HaoK commented on #2867
That path is what the cookies middleware will redirect to after a sign out has been processed.  Basically its used to display the "You have been logged out" confirmation to the user.

[2017-03-03 18:33] GuardRex commented on #2867
But if the controller action redirects Home, is that the behavior?

[2017-03-03 18:40] HaoK commented on #2867
No the controller will win.

[2017-03-03 18:40] HaoK commented on #2867
Basically cookies will set one redirect as part of the call to sign out, then the controller will set a different redirect after (last one wins)

[2017-03-03 18:43] GuardRex commented on #2867
In that case, should the sample even show it being set?

If it remains, do u think that there should be additional language to explain it? If not, then IMO this can closed as a don't-fix.

[2017-03-03 18:46] HaoK commented on #2867
Should probably just remove the explicit setting of that property

[2017-03-03 18:50] GuardRex commented on #2867
Excellent ... @Rick-Anderson I'll get that in in shortly if u like.

[2017-03-03 19:39] Ponant commented on #2867
@HaoK , can you show a simple running example on a post `IActionResult `?

[2017-03-03 19:47] HaoK commented on #2867
Example of what exactly?

[2017-03-03 20:12] Ponant commented on #2867
An example of "You have been logged out".

[2017-03-03 20:57] bilalarshad commented on #2865
Fixed it 👍

[2017-03-03 20:57] #2865 closed

[2017-03-03 21:09] HaoK commented on #2867
Durr brain fart sorry actually I take back what I said earlier, I was thinking of how AccessDeniedPath works, LogoutPath is actually something completely different, that is actually a security setting that makes sure that the cookie middleware only redirects calls to SignOut when the Request path is the LogoutPath.

Basically its to the middleware from trying to redirect to the return url if SignO

[2017-03-03 21:20] GuardRex commented on #2867
So in that case it stays, but it still seems like it wouldn't effectively honor a `returnUrl` query string parameter set to a non-`Home` path when the controller action is going (in this case) send the browser `Home`. Is that correct?

[2017-03-03 21:22] Ponant commented on #2867
I posted this question because I was basically struggling making it work like an AccessDeniedPath. Hence my question on how you would use it, in code, not in words (to minimize confusion).

[2017-03-03 21:22] #2749 closed

[2017-03-03 21:25] Ponant commented on #2867
I can formulate the question differently: Once the user has set:
`options.Cookies.ApplicationCookie.LogoutPath = "/Account/LogOff";`
what should he set in his controller to effectively use this `LogOutPath`?

[2017-03-03 21:53] #2260 closed

[2017-03-03 21:58] HaoK commented on #2867
Yes I was confused for the same reason.  AccessDeniedPath is used to configure what happens on 403s.  This is more like telling the cookie middlewhare what the app's logout url is, so it knows to only redirect on signouts from that page.  You don't use the LogoutPath, you are telling cookies what your logout page is (basically enabling redirects back to return urls after sign out on this page only

[2017-03-03 22:00] HaoK commented on #2867
So the answer to your question is you don't use this logout path at all in your controller, but it just should match the actual logout path.

[2017-03-03 22:02] GuardRex commented on #2867
I'm with you. The action item then for the doc (in this case the way this controller action is setup) is to remove ...
[code]
... from the sample. It won't work (`returnUrl` will not be honored) with a forced 302 redirect to `Home`.

[2017-03-03 22:09] HaoK commented on #2867
I believe the original idea is that its trying to keep you on the same page you were at, so if you were in About, and click Logoff, that will generate a returnUrl to /About, and will redirect you back there.

But yeah the templates today no longer seem to support that scenario, I just tried it and it just sends you back to Home...  so its either a bug (or the new behavior).  You could file a bug i

[2017-03-03 22:12] GuardRex commented on #2867
Thanks @HaoK ... In that case, it's best not do anything here until the desired behavior is determined. I'll open an issue over there and ask.

[2017-03-03 22:15] GuardRex commented on #2867
@Ponant You can leave this issue open. Either a team member will close it if no action is to be taken or it will automatically close with a merged PR.

[2017-03-03 22:24] Ponant commented on #2867
A few guys are using the LogOutPath, though, so somehow it should work.
[https://github.com/jerriep/aspnet-core-oauth-linkedin](https://github.com/jerriep/aspnet-core-oauth-linkedin)
I think the key point is that they app.Map to the logout route.

[2017-03-03 22:34] GuardRex commented on #2867
@HaoK There isn't a cookie auth sample over in templates. There's the Identity sample over in the Identity repo. The `CookieAuthenticationHandler` bits are over in the Security repo.

Should I proceed with an issue in Templates? ... or is one of the other repos a better spot?

[2017-03-03 22:36] HaoK commented on #2867
This is just an app question, basically should we logout preserve the current url rather than redirecting to home, since as we just discussed, setting this isn't very useful at all if we already just redirect to home...

[2017-03-03 22:38] GuardRex commented on #2867
I see, so it is more of a "what should the templates (and samples) show" kind of question. Ok, thanks.

[2017-03-03 22:50] Ponant commented on #2867
@GuardRex and .Net guys;, an advice, believe me, the underlying structure of all .Net Core is difficult to get from the docs. You get the surface of what is going on, which is great, but very quickly you need to dig and bypass standard procedures to make a real app. And here, your quikly left with one-line intellisense or outdated info from the full .Net. Take for instance the ASP:NET Identity. Th

[2017-03-04 02:14] Rick-Anderson opened #2885 "create pre-csproj branch and PDF with pre-csproj content"
@tdykstra  work with Maira on branch name.

[2017-03-06 20:35] Rick-Anderson commented on #2866
@tdykstra  please review

[2017-03-06 20:51] Rick-Anderson commented on #2786
fixed by #2799

[2017-03-06 20:51] #2786 closed

[2017-03-06 20:58] Rick-Anderson commented on #565
moved to https://github.com/dotnet/docs/issues/1644

[2017-03-06 20:58] #565 closed

[2017-03-06 21:40] #2679 closed

[2017-03-06 21:45] #2866 closed

[2017-03-06 22:39] tdykstra commented on #2885
Created pdf at https://github.com/aspnet/Docs/blob/master/aspnetcore/common/_static/aspnet-core-project-json.pdf

Created branch named project.json

@danroth27 Can you make project.json a protected branch?

[2017-03-06 22:39] #2885 closed

[2017-03-07 10:54] mitja-p commented on #2384
We had some problems with forwarding and lost 2 days due to this. It would be nice to mention in the documentation that only headers for KnownProxies / KnownNetworks are taken into account and that the default is only IPAddress.IPv6Loopback / IPAddress.IPLoopback. So changing forwarding limit has basically no effect without modifying KnownProxies / KnownNetworks. And the right way to setup forward

[2017-03-07 13:38] maroonedsia opened #2905 "Not readable diagrams on "Lifecycle of an ASP.NET MVC 5 Application" page"
Hi,

The diagrams on "Lifecycle of an ASP.NET MVC 5 Application" page, https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/lifecycle-of-an-aspnet-mvc-5-application , are not readable at all. I thought they should be thumbnails, but they are not links to bigger readable images either.

I think these 2 diagrams are the most important pieces of the page and they should be swapped wit

[2017-03-07 13:44] maroonedsia commented on #2905
I just saw the link to the PDF file on top of the page that contains the diagram. So, there is no missing diagram there, but still I think if there are small diagrams on the page, there should be explicit hints on how to see the full size diagrams. Thank you.

[2017-03-07 19:34] danroth27 opened #2909 "Update content on view compilation"
We should document how to precompile your views.
make doc a child of Rendering HTML with views

[2017-03-07 19:36] danroth27 commented on #2909
Don't use wildcard package version - use the stable package:

[code]

Also fix highlighting of the property to the correct line.

[2017-03-07 19:40] #2307 closed

[2017-03-07 21:40] Rick-Anderson opened #2913 "Optimize repo"
- [ ] consider moving images out
- [ ] make cloning/branching faster

[2017-03-07 21:42] danroth27 commented on #2909
We should also probably make this content its own doc with guidance on when to use the feature.

[2017-03-07 21:47] Rick-Anderson commented on #2909
Mention when you don't want to use pre-compilation

[2017-03-07 22:10] Rick-Anderson commented on #2905
@maroonedsia  great suggestion, thanks. I created #2915 to solve this.

[2017-03-07 22:49] tdykstra opened #2916 "Create ISSUE_TEMPLATE.md"
ISSUE_TEMPLATE.md is a template that will be inlined whenever someone creates an issue in the repository. It allows the repo manager to prompt the customer for certain information and formatting of the issue, enabling easier issue management.

[2017-03-08 02:17] #2858 closed

[2017-03-08 04:13] MarkPieszak commented on #2856
@Rick-Anderson Demo of it here: https://github.com/MarkPieszak/aspnetcore-Vue-starter

[2017-03-08 10:49] YouenZeng opened #2918 "Incorrect last edit date in doc"
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state

On my local system,  the head of this document displays as `3/14/2017 10 min to read Contributo...`. But today is `The current date is: ?? 2017/03/08` , 6 days before 2017/03/14.

[2017-03-08 16:26] tdykstra opened #2920 "Create custom 404 page"
Create a 404.md file in the root folder of the docset, with links to home page, overview pages, etc.

[2017-03-08 16:41] #2905 closed

[2017-03-08 17:36] ardalis commented on #2920
...and make sure it looks cool. Maybe include the DotNet bot on it: https://github.com/dotnet/swag/blob/master/dotnet-bot/dotnet-bot-pot.png

[2017-03-08 17:43] dend commented on #2920
At this time, let's not create any custom 404 pages - we are working on a consistent docs experience, and would prefer at this time to not introduce any custom error pages.

We have it on our radar to improve the 404 experience.

[2017-03-08 17:45] #2920 closed

[2017-03-08 21:33] Rick-Anderson commented on #2918
That's just a meta data artifact.

[2017-03-08 21:33] #2918 closed

[2017-03-08 21:35] Rick-Anderson commented on #2918
@YouenZeng  thanks, I fixed it.

[2017-03-08 21:38] damienbod opened #2926 "Suggestion for new page in client side development"
Introduction to using Webpack in ASP.NET Core

I think this would be useful like the gulp, grunt pages.

[2017-03-08 21:43] #2702 closed

[2017-03-08 22:06] michal-ciechan opened #2928 "Testing Sample Processor Architecture Warning"
I have checked out the latest sample from

`aspnet/Docs/tree/master/aspnetcore/testing/integration-testing/sample` - [Link](https://github.com/aspnet/Docs/tree/master/aspnetcore/testing/integration-testing/sample)

Upgraded using VS2017, built and get the following warning:

Field | Value
--- | ---
Severity | Warning
Code | MSB3270
Description|There was a mismatch between the processor architectur

[2017-03-09 03:03] #2367 closed

[2017-03-09 10:27] damienbod opened #2932 "Update ef-mvc sample to latest release"
I could create a pull-request to update the EF-Core samples to use the latest version using the new ef packages if you want.

https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro

[2017-03-09 19:58] natemcmaster opened #2935 "Update dotnet-watch doc to include MSBuild options"
See https://github.com/aspnet/DotNetTools/blob/dev/src/Microsoft.DotNet.Watcher.Tools/README.md. There are advanced configuration options, like customizing which files are watched.

[2017-03-09 21:52] Rick-Anderson commented on #2932
@damienbod  thanks for checking in. @tdykstra  will be working on this soon.

[2017-03-09 21:52] #2932 closed

[2017-03-09 21:54] Rick-Anderson commented on #2928
[Doc link](https://github.com/aspnet/Docs/blob/master/aspnetcore/testing/integration-testing.md)

[2017-03-09 21:54] Rick-Anderson commented on #2928
@michal-ciechan  thanks for pointing this out.

[2017-03-09 21:58] Rick-Anderson commented on #2926
@danroth27  do we want this?
@damienbod  would you be interested in writing this?
[@]SteveSandersonMS  will review outline.

[2017-03-10 00:34] #2935 closed

[2017-03-10 05:23] damienbod commented on #2926
yes, should I start?

[2017-03-10 17:35] PeterJakubik opened #2943 "Localization sample doesn't work if an application is deployed in IIS as Virtual App"
In https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization#resource-file-naming the sample in "Setting the culture programmatically" doesn't work if the ASP MVC app is deployed in IIS in Virtual Application

When the App is IIS Virtual Application the returnUrl in form parameter is wrong.

I think that sample should prepend the "~" like:
[code]

With this fix the Controller works wi

[2017-03-10 18:11] #2916 closed

[2017-03-10 18:15] tdykstra commented on #2661
Fixed by #2696

[2017-03-10 18:15] #2661 closed

[2017-03-10 18:15] foxjazz opened #2944 "routing [httpget] not complete"
## General
The docs that explain routing aren't complete.

After mucking around I figured out how to route 2 get calls via one controller.

HttpGet("All/{id}")]
maps to api/controllername/all/id

[2017-03-10 18:26] tdykstra commented on #1267
Fixed by #2398

[2017-03-10 18:26] #1267 closed

[2017-03-10 18:28] tdykstra commented on #139
Fixed by #2743

[2017-03-10 18:28] #139 closed

[2017-03-10 19:08] Rick-Anderson commented on #2926
@damienbod  Yes, Post the outline first.

[2017-03-10 19:20] tdykstra commented on #2462
@Rick-Anderson did #2760 address this?

[2017-03-10 19:46] tdykstra commented on #21
@danroth27 If the new custom formatters doc addresses "migrating formatters", we can close this old issue.

[2017-03-10 23:09] Rick-Anderson commented on #2462
@tdykstra  yes.

[2017-03-10 23:09] #2462 closed

[2017-03-11 07:39] damienbod commented on #2926
Document Outline:

1 Introducing Webpack
2 Preparing the application
..1. Using Webpack with npm
..2. Using Webpack with yarn
3 Configuring Webpack
..1. Production, Development builds, wwwroot
..2. Modules Typescript
..3. Modules SASS, LESS, CSS, HTML
..4. Chunking
..5. Hot Module Replacement
..6. Plugins UglifyJsPlugin, CleanWebpackPlugin, HtmlWebpackPlugin, CopyWebpackPlugin
4 Debugging with Web

[2017-03-13 05:28] Rick-Anderson commented on #2926
@SteveSandersonMS @danroth27  please review

[2017-03-13 10:39] jairp8 commented on #131
I would like to read a draft too: jairp8@gmail.com

[2017-03-13 14:19] SteveSandersonMS commented on #2926
Regarding this list of topics, do you think they could be phrased in terms of things that are unique to ASP.NET? As it stands, it sounds like general-purpose Webpack docs that could apply to any web application platform.

[2017-03-13 15:41] pksorensen commented on #2384
I wanted to pitch in here as I failed to find documentation for what I am doing.

I write my nginx configuration in service fabric dynamic from the following code:
[code]
and have a few senaries that the UseForwardedHeaders dont cover or I am missing documentation on how to make it work.

[code]

basically I have to run the following also to make it work

[code]

To update the protocol in those ca

[2017-03-13 15:48] Tratcher commented on #2384
X-forwarded-proto support is built in, but it maps to scheme, not protocol (http/1.1).

With PathBase make sure you're creating your PathString with the unescaped value.

[2017-03-13 16:04] pksorensen commented on #2384
thanks for the added info. i will try a few thing then to find out why my identity server generates wrong urls. https://www.earthml.com/identity/.well-known/openid-configuration (the urls it generate should also be https )

[2017-03-13 16:44] pksorensen commented on #2384
`context.Request.Protocol = proto;` was a typo

Here is my working solution, so somehow the forward middleware do not work:
![image](https://cloud.githubusercontent.com/assets/2718591/23865057/a951d322-0814-11e7-8aeb-8dbb2505843b.png)

Next step is properly to check some case sensitive stuff, i properly made a mistake there

[2017-03-13 16:58] Tratcher commented on #2384
Can you log your headers as received by the app? The middleware is pretty strict.

[2017-03-13 17:00] pksorensen commented on #2384
Ye, i am off for a few hours- then i will try to log out some requests to see what actually happens. Thanks for helping

[2017-03-13 17:09] Rick-Anderson commented on #131
@robbert229  are you still interested in writing this?

[2017-03-13 18:29] Rick-Anderson opened #2960 "New topic: Debugging .NET Core on Unix over SSH"
Need doc covering content on [team blog on this topic](https://blogs.msdn.microsoft.com/visualstudioalm/2017/01/26/debugging-net-core-on-unix-over-ssh/).

Per [@]Andrew-MSFT
You need either the ASP.NET and web development workload or the .NET Core cross platform workload installed.

Also, we should make the topic focus on debugging ASP.NET Core, that will be by far the more common scenario. Remote

[2017-03-13 20:12] Rick-Anderson opened #2961 "clean up tutorials/your-first-mac-aspnet"
- [ ] re-shoot the first 3 screenshots and crop so they are readable
- [x]  On my mac I had to open the project folder to get prompted to restore. Verify instructions.
- [x] After `Tap "Yes" to add the build and debug assets.` I'm left with the 2nd  message with a restore button. Do I need to tap restore on that?
- [ ]
- [ ]

[2017-03-13 20:38] damienbod commented on #2926
@SteveSandersonMS
I did this, because this is how the gulp and grunt docs are written, which I think are done well. I decided to follow the same style. The contents will be ASP.NET Core or Visual Studio specific like the grunt/gulp docs.

Greetings Damien

[2017-03-13 20:39] FabianGosebrink commented on #2926
Hey, @damienbod and me just talked about that.

Maybe the document could fulfill the unique ASP.NET  case in having the app in one folder inside Visual Studio (Code), building it into wwwroot, triggering it with a binding on starting or building the project and starting the production and development build out of Visual Studio.

Would that be worth a document?

Would love to help btw.

Fabian

[2017-03-13 21:01] #2944 closed

[2017-03-13 21:02] Rick-Anderson commented on #2943
@ryanbrandenburg  please review

[2017-03-13 21:03] pksorensen commented on #2384
Here are the headers.
Will start investigate the code to see where it can go wrong.
[code]

[2017-03-13 22:24] Rick-Anderson commented on #2926
Can't we just point to their well written docs? We should just be documenting what's unique to ASP.NET Core.

[2017-03-13 23:04] Tratcher commented on #2384
You have it set to ForwardedHeaders.All, but you don't have an x-Forwarded-For header, so it freaks out and won't process Proto either. Scope it down to just the header you need.

[2017-03-14 01:40] OzBob opened #2964 "Missing Implementation in web-api-global-error-handling"
As per discussion in https://docs.microsoft.com/en-us/aspnet/web-api/overview/error-handling/web-api-global-error-handling, there is no implementation example

[2017-03-14 05:30] damienbod commented on #2926
@Rick-Anderson yes/no, I only want the documentate what you need to do inside Visual Studio to get Webpack working, or specific webpack configurations when working with an ASP.NET Core project, or publishing inside VS with ASP.NET Core or just using Webpack inside VS.

I was refering to the titles, which are as @SteveSandersonMS pointed out general. The titles are just subtitles. My suggestion for

[2017-03-14 16:06] Hallmanac opened #2968 "Azure Key Vault TypeLoad Exception"
## General

When running AspNet Core 1.1 on top of .NET 4.6.2 and trying to use the Azure Key Vault configuration extensions, I was encountering an exception that was being thrown for `System.TypeLoadException`. I discovered this originated from the use of the Azure Key Vault API and how it interacted with an older (built-in) version of `System.Net.HTTP`. I ended up installing the updated NuGet pa

[2017-03-14 19:29] Rick-Anderson commented on #2926
@damienbod It would be great to include VS Code.

[2017-03-14 20:25] #2964 closed

[2017-03-14 20:29] #2968 closed

[2017-03-14 20:42] danroth27 commented on #2926
We do want to start moving the content around [JavaScriptServices](https://blogs.msdn.microsoft.com/webdev/2017/02/14/building-single-page-applications-on-asp-net-core-with-javascriptservices/), which includes a bunch of webpack related functionality, but we should avoid trying to redocument webpack itself.

[2017-03-14 20:46] danroth27 commented on #2926
We had some proposed outlines in https://github.com/aspnet/Docs/issues/2461 that we should take into account.

[2017-03-14 20:54] danroth27 commented on #2467
@muratg Who can help out with the outline and technical details for this one?

[2017-03-14 20:55] danroth27 commented on #1378
`dotnet new mvc` is your friend

[2017-03-14 20:57] danroth27 commented on #1378
And we already show using `dotnet new mvc` in the https://docs.microsoft.com/en-us/aspnet/core/tutorials/your-first-mac-aspnet doc.

[2017-03-14 20:57] #1378 closed

[2017-03-14 21:00] danroth27 commented on #1576
We already cover a minimal getting started experience with MVC in https://docs.microsoft.com/en-us/aspnet/core/tutorials/your-first-mac-aspnet.
https://github.com/aspnet/Docs/issues/1215 tracks adding a minimal getting started tutorial for Web APIs.

[2017-03-14 21:00] #1576 closed

[2017-03-14 21:04] danroth27 commented on #1343
Not sure what this is really asking for. We do have some content that shows how to do CI with Kudu on Azure: https://docs.microsoft.com/en-us/aspnet/core/publishing/azure-continuous-deployment

Closing for now, but we can take another look if you can provide more details.

[2017-03-14 21:04] #1343 closed

[2017-03-14 21:07] danroth27 commented on #135
We have content on this already here: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm#require-ssl

[2017-03-14 21:08] danroth27 commented on #135
Actually, it would be better to pull this content out as another article and just link to it.

[2017-03-14 21:10] #390 closed

[2017-03-14 21:13] danroth27 commented on #318
For using external identity providers like OpenIDDict or IdentityServer4 we prefer just to point folks to the docs for those components. We are also looking at building our own identity service component, but nothing to document yet. Closing.

[2017-03-14 21:13] #318 closed

[2017-03-14 21:17] danroth27 commented on #204
We have https://docs.microsoft.com/en-us/aspnet/core/aspnetcore-1.1#websockets-support, but we need to figure out where this should go in the actual TOC.

[2017-03-14 21:18] villanus commented on #1343
Is there a way to do this without azure?

[2017-03-14 21:19] danroth27 commented on #204
Let's put it under Fundamentals.

[2017-03-14 21:21] danroth27 commented on #107
We think what we have in the Publishing to IIS article is sufficient.

[2017-03-14 21:21] #107 closed

[2017-03-14 21:39] #2913 closed

[2017-03-14 21:42] #2170 closed

[2017-03-14 21:44] Rick-Anderson commented on #2118
@MaherJendoubi  any chance you could add how to [Pass Additional ViewData to a Strongly-Typed Partial View](http://stackoverflow.com/questions/1169170)

[2017-03-14 21:47] Rick-Anderson commented on #2105
@danroth27  can we delete this article?

[2017-03-14 22:00] Rick-Anderson commented on #1948
@pkellner don't you cover this?

[2017-03-14 22:01] #1947 closed

[2017-03-14 22:02] GuardRex commented on #1948
@Rick-Anderson He did ... covered by https://github.com/aspnet/Docs/pull/2644

[2017-03-14 22:06] Rick-Anderson commented on #1840
fixed in #2489

[2017-03-14 22:07] #1820 closed

[2017-03-14 22:12] pkellner commented on #1948
@Rick-Anderson @GuardRex I'd say yes and no.

The "Built in Tag Helper" doc's I'm doing are targeting the user of tags.  That is, primarily focussed around how to use the attributes associated with the tags and their implications (along with short examples).

The "Yes" part of the answer is that I say in the Distributed Cache Tag Helper doc

Because there are two built in implementations, I feel o

[2017-03-14 22:14] pkellner commented on #1948
@Rick-Anderson @GuardRex Forgot to mention the "no" part of the answer is that I was not planning on doing the detailed doc on how to implement your own distributed cache tag helper.  I'd be open to talking about it later, but for the moment, I'm focussed and committed to getting all the built in tag helpers documented as I described above.

[2017-03-14 23:44] danroth27 commented on #1343
Sure, there are a variety of ways to setup CI for ASP.NET Core. Here's another example of how to do it with VSTS where VSTS pulls your repo, builds and deploys to Azure or wherever you'd like: https://www.visualstudio.com/en-us/docs/build/apps/aspnet/aspnetcore-to-azure.

[2017-03-15 00:57] Rick-Anderson commented on #1948
@pkellner  I didn't intend for you to cover implement your own distributed cache tag helper, just doc'ing the built in TH.

[2017-03-15 03:35] ajaybhargavb opened #2975 "Update DataProtection docs"
The docs for Data Protection need to be updated as per the changes in https://github.com/aspnet/DataProtection/issues/134

[2017-03-15 14:37] pkellner commented on #1948
@Rick-Anderson I'm mostly looking for guidance on what to cover in Distributed Cache Tag Helper and what not do.  In the branch below I've done the following.  I'm open to changing what I've done based on guidance.

https://github.com/pkellner/Docs/blob/ra-pKellner-built-in-TH/aspnetcore/mvc/views/tag-helpers/built-in/DistributedCacheTagHelper.md

1. I did not detail any attributes that are in com

[2017-03-15 15:26] tdykstra commented on #2789
Duplicate of #204

[2017-03-15 15:26] #2789 closed

[2017-03-15 18:48] DreamingDevs opened #2978 "Where can we find ASP.NET Core VNext proposed changes?"
Where can we find the list of proposed changes, new features and APIs in ASP.NET Core VNext? @Tratcher @ryanbrandenburg @Rick-Anderson

Also Roadmap document of ASP.NET Core is not updated from last 4 months - https://github.com/aspnet/Home/wiki/Roadmap/b49bda1f8f40975b39d14d199a9ddac0a2beb45e. How to know the latest release schedule and roadmap?

[2017-03-15 18:58] Tratcher commented on #2978
@DamianEdwards

[2017-03-15 19:11] DamianEdwards commented on #2978
Working on it and hope to have it available in the next week or so. In the meantime you can look at issues logged in the 2.0 milestones.

[2017-03-15 19:15] Rick-Anderson commented on #1948
@pkellner  That sounds reasonable.

[2017-03-15 20:31] #2978 closed

[2017-03-15 20:33] Rick-Anderson commented on #2975
@ajaybhargavb  who do you recommend to update the docs? [@]blowdart  ?

[2017-03-15 20:49] Rick-Anderson commented on #2647
@prafullbhosale  when will you have CLI scaffolding?

[2017-03-15 20:49] #2511 closed

[2017-03-15 21:17] Rick-Anderson commented on #2351
Closing as this is tracked in projects.

[2017-03-15 21:23] #2290 closed

[2017-03-15 21:25] Rick-Anderson commented on #2259
Closing master issue.

[2017-03-15 21:25] #2259 closed

[2017-03-15 23:58] MaherJendoubi commented on #2118
@Rick-Anderson https://github.com/aspnet/Docs/pull/2984

[2017-03-16 00:18] MaherJendoubi commented on #2118
@Rick-Anderson I updated the sample using VS2017 RTM. I wrote :

@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using PartialViewsSample.ViewModels
@model Article

<h2>@Model.Title</h2>
@Html.Partial("AuthorPartial", Model.AuthorName)
@Model.PublicationDate

@foreach (var section in Model.Sections)
{
    @Html.Partial("ArticleSection", section, new ViewDataDictionary (ViewData){ { "Article", Model

[2017-03-16 09:09] pksorensen commented on #2384
@Rick-Anderson Sure, not sure what exactly that means and what I should do :) The problem was resolved based on @Tratcher comment, about changing `ForwardedHeaders.All` to the headers actually used by my setup.

@Tratcher Is it ideal that it is this strict? Since the config lays within the application, meaning that if the guy responsible for the nginx setup changes the config, the the app breaks.

[2017-03-16 16:12] Tratcher commented on #2384
We have an open bug for relaxing some of the defaults to make it easier to use (https://github.com/aspnet/BasicMiddleware/issues/190).

However, we still need a writeup explaining the usage scenarios. See https://github.com/aspnet/Docs/issues/2384#issuecomment-270195458

[2017-03-16 17:38] ajaybhargavb commented on #2975
I think I can do it myself and have @blowdart review it.

[2017-03-16 18:13] prafullbhosale commented on #2647
CLI scaffolding is already be available.

The CLI Tool Reference in the project
[code]
enables you to run scaffolding from command line.
In addition to the steps you mentioned above, you would also need to add
`Microsoft.VisualStudio.Web.CodeGeneration.Design` package.
This package needs the following property in the project
[code]

You can try the below commands:
`dotnet aspnet-codegenerator -h`

[2017-03-16 23:15] #1580 closed

[2017-03-16 23:20] Rick-Anderson opened #2993 "VS Code version of first MVC App"
See #2647 - now that we can scaffold

[2017-03-17 00:21] #2659 closed

[2017-03-17 00:25] #1799 closed

[2017-03-17 00:27] #1786 closed

[2017-03-17 00:38] Rick-Anderson commented on #2118
@MaherJendoubi  outstanding. Do I need to update the MD file to mention the code shows how to pass additional ViewData?

[2017-03-17 00:39] #2651 closed

[2017-03-17 00:43] #2643 closed

[2017-03-17 08:17] MaherJendoubi commented on #2118
@Rick-Anderson Yes please, it is very important. Thank you.

[2017-03-17 14:31] andrecarlucci commented on #2030
@shirhatti Nice, but how to do the same for a specific website instead of the whole apppool? I can do it using the IIS Manager, but I couldn't find a way to do the same with appcmd.exe :(

[2017-03-17 20:21] Rick-Anderson commented on #1985
@tdykstra  where would this go?

[2017-03-17 20:29] tdykstra commented on #1985
@Rick-Anderson a new doc under Migrations in the TOC, or just a new section in the [1.1 what's new](https://docs.microsoft.com/en-us/aspnet/core/aspnetcore-1.1).

[2017-03-17 21:25] #2710 closed

[2017-03-18 01:27] #135 closed

[2017-03-18 02:37] Rick-Anderson commented on #2118
@MaherJendoubi  I see you're passing in `new ViewDataDictionary (ViewData){
                                                { "Article", Model } })`

but you don't use that in the ArticleSection partial. Can we update the ArticleSection partial to use something from that model?

[2017-03-18 19:46] danroth27 opened #3007 "Configuration doc doesn't specify how to specify the key for config value that is in a JSON array"
Given this appsettings.json:

[code]

What config indexer key do you need to use to get the Age of Dan? Turns out it's "People:0:Age". Basically, each element of the JSON array is given a numeric key name.

[2017-03-20 16:22] spboyer commented on #2961
@Rick-Anderson - what is wrong with the images? Is there a standard size you want these at?

[2017-03-20 16:23] spboyer commented on #2961
@Rick-Anderson in the article it does state

[2017-03-20 16:25] spboyer commented on #2961
@Rick-Anderson states two instructions, one for each prompt.

[2017-03-20 16:30] spboyer commented on #2479
@danroth27 - @mlearned said he would update the article (owner)

cc:/ @erickson-doug

[2017-03-20 16:40] #2839 closed

[2017-03-20 20:20] Rick-Anderson commented on #2961
Images are too small. That's OK, I'll reshoot them.

[2017-03-20 20:20] Rick-Anderson commented on #2961
LOL, I know, I added that :--)

[2017-03-20 20:30] Rick-Anderson commented on #2846
@ryanbrandenburg can you send me a paragraph on that and I'll get it added.

[2017-03-20 20:35] Rick-Anderson commented on #2795
@MLorbetske can you outline these and I'll get the doc written.

[2017-03-20 20:37] Rick-Anderson commented on #2112
@ardalis  can you give me an ETA on this?

[2017-03-20 20:44] Rick-Anderson commented on #1985
@anurse now that we're on _csproj_ do we still need to document this?

[2017-03-20 20:45] spboyer commented on #2961
^^ Oh, lol ok, didn't realize you made that add. Thanks.

[2017-03-20 20:49] Rick-Anderson commented on #2501
@danroth27  @DamianEdwards  Will VS for Mac solve this for the Mac? What about Linux?

[2017-03-20 20:52] anurse commented on #1985
I don't think it's needed any more.

[2017-03-20 21:01] Rick-Anderson commented on #2384
@Tratcher  any chance you could do a rough draft of this doc? Any format is fine.

[2017-03-20 21:09] ardalis commented on #2112
Knocking it out now.

[2017-03-20 21:19] Rick-Anderson commented on #2024
This is a client side issue, not server so closing.

[2017-03-20 21:19] #2024 closed

[2017-03-20 21:38] #1985 closed

[2017-03-20 22:56] mlorbetske commented on #2795
@vijayrkn I believe you've started with some of the documentation for aspnet/WebSDK - can you link to what you have so far here?

[2017-03-21 01:29] #2909 closed

[2017-03-21 03:21] vijayrkn commented on #2795
All the documentation I have so far is here - https://github.com/aspnet/websdk

This does not have much details on the default globs & prepublish/postpublish targets. I will try to add some more info in the Readme.

[2017-03-21 12:47] ardalis opened #3025 "Update Testing MVC to VS2017 Project and Fix Tests"
https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/testing

* Upgrade the sample to VS2017 project format
* Fix failing tests (see https://github.com/aspnet/Mvc/issues/5826)

[2017-03-21 17:04] tdykstra commented on #204
Proposed outline for the doc:

* What is it:
  * Brief explanation of what WebSocket protocol is, [link out for details](https://en.wikipedia.org/wiki/WebSocket).
  * WS support for ASP.NET Core is provided in [Microsoft.AspNetCore.WebSockets](https://www.nuget.org/packages/Microsoft.AspNetCore.WebSockets/) NuGet package that includes client and server integration components.

* Prerequisites
  *

[2017-03-21 17:22] tdykstra commented on #2467
@Tratcher Can you help out with the outline and technical details for this one?

[2017-03-21 17:33] Tratcher commented on #2467
https://github.com/aspnet/Hosting/issues/771#issuecomment-270608527

[2017-03-21 17:51] anurse commented on #204
Brief comments:

* `Microsoft.AspNetCore.WebSockets` is just the **server** components. Client components are part of the .NET Standard Library
* SignalR does not work on ASP.NET Core at all, even on full .NET. I'd avoid recommending the old SignalR at all in this doc. What we can do is mention that SignalR provides a richer application model, but is not supported on ASP.NET Core yet, and link off

[2017-03-21 18:30] tdykstra commented on #204
@anurse Thanks! Revised the outline.
* Regarding the client components -- the [WebSockets repo readme](https://github.com/aspnet/WebSockets/blob/dev/README.md) says it has "a managed implementation of the WebSocket protocol, along with client and server integration components." What does client components refer to here?
* I'm thinking it's still worth explaining briefly what richer app model means

[2017-03-21 20:41] #743 closed

[2017-03-21 20:46] Rick-Anderson commented on #244
Closing, too risky to change now. The templates generate mixed case files. Adding to style guide, "MD and images use only lower case".

[2017-03-21 20:46] #244 closed

[2017-03-21 20:48] Rick-Anderson commented on #150
@ardalis  closing this. I don't think this applies to MD format.

[2017-03-21 20:48] #150 closed

[2017-03-21 20:55] #11 closed

[2017-03-21 20:55] #12 closed

[2017-03-21 20:56] Rick-Anderson commented on #21
#1811 tracked.

[2017-03-21 20:56] #21 closed

[2017-03-21 21:00] Rick-Anderson commented on #49
@baibaomen  can you test https://github.com/aspnet/MusicStore/blob/dev/README.md and see if that is enough to build/test/run MusicStore?

[2017-03-21 21:10] Rick-Anderson commented on #86
@voltagex would you be able to work on this doc?

[2017-03-21 21:14] Rick-Anderson commented on #100
@daveabrock @1amirjalai @dhont we'll be using Application Insights( AI). Are any of you interested in working on this.

[2017-03-21 21:15] Rick-Anderson commented on #231
@NTaylorMullen  maybe you could write some code with advanced features and we could write a doc around it.

[2017-03-21 21:29] Rick-Anderson commented on #2467
@Tratcher  what are the scenarios for running in a windows service? Why would you do that?

[2017-03-21 21:34] Tratcher commented on #2467
When you want it to always be running. Windows will start it for you on boot, restart it if it crashes, etc..

[2017-03-22 02:18] anurse commented on #204
* Good catch, the WebSockets README is out of date, I'll fix it.
* I agree that it's good to explain what SignalR can do, but I don't want to create the wrong impression that the old SignalR can be used with ASP.NET Core, so as long as we're clear that SignalR does not currently work with ASP.NET Core, but we're working on it, I'm good with it

[2017-03-22 18:43] Tratcher commented on #2384
Not sure when I can get to it. Would a conference call content-dump be helpful?

[2017-03-22 18:44] mikeharder opened #3040 "HttpContext.Items keys are objects rather than strings"
At https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/app-state.md#working-with-httpcontextitems:

This is incorrect.  As stated just above this comment in the doc, `HttpContext.Items` has type `IDictionary<object, object>`, so keys are objects.  The best practice is to use a unique `object` as a key, where the key is private or public as needed.  For example:

[code]

[2017-03-22 20:29] Rick-Anderson commented on #626
@danroth27  I'm closing this. Please review and let me know if I should reopen.

[2017-03-22 20:29] #626 closed

[2017-03-22 20:31] Rick-Anderson commented on #687
@rynowak can you review showing how to ref JavaScript/CSS inside a View Components

[2017-03-22 20:32] #795 closed

[2017-03-22 20:33] #869 closed

[2017-03-22 20:35] #882 closed

[2017-03-22 20:35] Rick-Anderson commented on #912
this is handled by DocFX team.

[2017-03-22 20:35] #912 closed

[2017-03-22 20:45] Rick-Anderson commented on #1025
Fixed by  #2785

[2017-03-22 20:53] Rick-Anderson commented on #1681
@ardalis  can you do this? Let me know when to set up a meeting wit [@]rynowak

[2017-03-22 21:01] ardalis commented on #1681
Sure. I sent you availability for next week. See if you can schedule something in with Ryan then, too.

[2017-03-22 21:22] Rick-Anderson commented on #1166
We explain this now in https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model

[2017-03-22 21:22] #1166 closed

[2017-03-22 21:24] Rick-Anderson commented on #1195
@blowdart @HaoK can you provide guidance on account lockout?

[2017-03-22 21:27] Rick-Anderson commented on #1196
removed SMS and now it reads

You generally want to prevent new users from posting any data to your web site before they have a confirmed email. In the sections below, we will enable email confirmation and modify the code to prevent newly registered users from logging in until their email has been confirmed.

[2017-03-22 21:27] #1196 closed

[2017-03-23 00:36] Rick-Anderson opened #3043 "Update "Use VSTS to Build and Publish to an Azure Web App with Continuous Deployment"
TLDR;
Remove this and redirect to https://www.visualstudio.com/docs/build/aspnet/core/quick-to-azure

1. We have an out of the box .NET Core task
2. Hosted Build pool supports _project.json_ and there is a new VS2017 hosted pool image which supports csproj
3. We have also added a new .NET Core Build template

![image](https://cloud.githubusercontent.com/assets/3605364/24226793/b66b0fb6-0f0c-11e7-9

[2017-03-23 01:21] Rick-Anderson commented on #2384
@Tratcher  I'll check back in a few weeks and set up a call.

[2017-03-23 03:37] #2741 closed

[2017-03-23 04:04] JunTaoLuo opened #3044 "Add documentation warning against using response caching for authenticated content"
## General

Using response caching for authenticated content could leak sensitive information. Though obvious, it's a good idea to add a specific warning for this in the response caching middleware doc and the response caching doc.

cc @blowdart @Eilon

## Issues with Existing Topics

PR: https://github.com/aspnet/Docs/pull/3045

[2017-03-23 16:12] danroth27 opened #3046 "Create a page with links to alternative ways to configure authentication using .NET OSS projects"
We'd like to have a place in our docs that we can link to that points people to alternative .NET OSS projects for configuring authentication. We already link directly to the IdentityServer4 docs from https://docs.microsoft.com/en-us/aspnet/core/security/authentication/. The new page would highlight IdentityServer4 along with any other project that the community thinks is worth mentioning (ASOS? Op

[2017-03-23 16:13] tdykstra commented on #2467
Proposed outline for the doc:

* Overview:

  * Article explains how to run in Windows Service.
  * Scenario:
    * You want to run on Windows,
    * You don't want to use IIS,
    * You want automatic restart after reboot or crash

* Prerequisites
  * Runs only on .NET Framework
    * (.csproj example showing TargetFramework and RuntimeIdentifier)
    * When creating a project in VS, use the ASP.

[2017-03-23 17:30] Tratcher commented on #2467
Looks good.

As for services, they're on the IWebHost, and your constructor should have access to that.
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting.WindowsServices/WebHostService.cs#L30-L32

[2017-03-23 20:12] Rick-Anderson opened #3052 "rename "What's new" to release notes"
We also need a way to surface the pdf in https://github.com/aspnet/Docs/tree/master/aspnetcore/common/_static

[2017-03-23 20:31] Rick-Anderson opened #3053 "update VS Versions TOC"
https://docs.microsoft.com/en-us/aspnet/visual-studio/overview/

·         Redirect the URLs of these two TOC index pages to visualstudio.com
·         Put the 2012 and 2013 Toc nodes at the top level of the TOC:

![image](https://cloud.githubusercontent.com/assets/3605364/24268965/a431669a-0fb3-11e7-900d-0fe7b25c29b7.png)

[2017-03-23 20:35] #1333 closed

[2017-03-23 20:40] Tratcher opened #3054 "Write a migration guide for Authentication 1.0 to 2.0"
There are a lot of breaking changes between Microsoft.AspNetCore.Authentication.* 1.0 and 2.0 packages, APIs, etc..  Write up a migration guide.

Old APIs are marked as Obsolete, Error, with this link: https://go.microsoft.com/fwlink/?linkid=845470

@rick-anderson edit:

[@]HaoK  will be working on the migration doc specifically for the authentication stack from 1.0 to 2.0,  See https://github.com

[2017-03-23 20:54] Rick-Anderson commented on #1404
@danroth27  Who's the contact for this?

[2017-03-23 21:02] danroth27 commented on #1404
We now have an Azure Key Vault config provider. @glennc is probably the right contact for that.

[2017-03-23 21:04] Rick-Anderson commented on #1470
@daveabrock  can you review the check boxes at the top and let me know what's completed?

[2017-03-23 21:05] Rick-Anderson commented on #1470
@01binary can you review the check boxes at the top and let me know what's completed?

[2017-03-23 21:09] #1521 closed

[2017-03-23 21:10] #1581 closed

[2017-03-23 21:11] Rick-Anderson commented on #1608
It's working now. Thanks

[2017-03-23 21:11] #1608 closed

[2017-03-23 21:24] shirhatti commented on #1592
I should have closed this issue on Jul 21, 2016 😄

[2017-03-23 21:24] #1592 closed

[2017-03-23 22:00] #1404 closed

[2017-03-23 22:07] #1704 closed

[2017-03-23 22:10] tuespetre opened #3057 "The View Compilation article needs an example of IDesignTimeMvcBuilderConfiguration"
Posting this after having :bug:'d @pranavkm over at the aspnet/MvcPrecompilation repo.

[2017-03-23 22:27] 01binary commented on #1470
@Rick-Anderson:

**A reference to https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers for additional providers**

See [Other Providers](https://github.com/aspnet/Docs/blob/master/aspnetcore/security/authentication/social/other-logins.md) linked to from a bullet list on [Social Providers Index page](https://github.com/aspnet/Docs/blob/master/aspnetcore/security/authentication/social/i

[2017-03-24 18:16] CIPop commented on #1608
Thanks!

[2017-03-24 18:57] tdykstra commented on #2467
[Review URL](https://review.docs.microsoft.com/en-us/aspnet/core/hosting/windows-service?branch=td/runinsvc)

[2017-03-24 19:53] #3044 closed

[2017-03-24 21:23] Rick-Anderson opened #3064 "Add route name to routing docs"
[route name](https://docs.microsoft.com/en-us/aspnet/web-api/overview/web-api-routing-and-actions/attribute-routing-in-web-api-2#route-names).

[2017-03-25 00:53] damienpontifex commented on #3043
@Rick-Anderson yes I can update. Please assign to me.

I had thought before, but was waiting for the hosted build servers to be updated to 1.0.0 of the cli. Seeing as there are now VS2017 hosted servers, I think this will be alright to go.

[2017-03-25 01:03] Rick-Anderson commented on #3064
fixed in 6e64bf66b3922f573177286ec95787c40a54066d

[2017-03-25 01:03] #3064 closed

[2017-03-25 01:37] #1336 closed

[2017-03-25 02:13] Rick-Anderson commented on #3043
@damienpontifex  OK, it's yours. I can't assign you in the UI since you're not a member of the repository.

[2017-03-25 03:47] Rick-Anderson commented on #2647
@prafullbhosale  I created https://github.com/Rick-Anderson/MyMvc/
When I scaffold I get the following **No parameterless constructor ** error:

C:\Webs\1\MyMvc>dotnet aspnet-codegenerator  controller -name MovieController  -m Movie -dc MvcMovieContext
Command Line: controller -name MovieController -m Movie -dc MvcMovieContext
Microsoft (R) Build Engine version 15.1.548.43366
Copyright (C) Microso

[2017-03-25 07:23] prafullbhosale commented on #2647
The problem is that the DbContext `MvcMovieContext` is not registered in the `Startup` class.
If the DbContext class already exists, scaffolding does not register it.
Also the Startup needs to have a `IConfigurationRoot` property.

I have made  the needed changes for Startup in https://github.com/Rick-Anderson/MyMvc/pull/1
After this running the above command should succeed.

[2017-03-25 20:55] Daniel15 opened #3068 ""Publish to a Linux Production Environment" should suggest using UNIX sockets"
Currently the [Publish to a Linux Production Environment](https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction) page configures Nginx to proxy `localhost:5000`. In a production scenario, it's more likely that you'll use a UNIX socket instead. This has lower overheads compared to TCP connections, and is generally how services on Linux listen for local connections.

Here's an exam

[2017-03-27 20:29] Rick-Anderson opened #3076 "Web API tutorial cleanup WebAPI"
- [x]   refactor the 3 versions with includes.
- [x] Here is an example HTTP response for the - shows GUID
- [x]  wrong pic on ##Add a controller windows version
- [x]  Replace Key in model with ID and remove [Key]. Make it an int, not long.
- [ ] EF 1.1 has Find command, could use that in Find and Remove methods.
- [x] remove repository to simplify and provide a link at the end to repository patt

[2017-03-27 21:51] Rick-Anderson commented on #3076
@tdykstra  since you own EF do you want to take this one? Would be nice to get agreement of mwasson before removing repository. Anything that makes the tutorial simpler is an improvement.

[2017-03-27 22:34] ardalis commented on #3076
Not sure we want to promote direct coupling of UI and data layers in the API controllers in our docs. Adding an interface adds a trivial amount of code but enables better testability.

[2017-03-27 22:41] tdykstra commented on #3076
@Rick-Anderson Sure

@ardalis The thought there is that we added EF to this tutorial, and EF essentially functions as repository and UoW.  See https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/advanced#repository-and-unit-of-work-patterns

[2017-03-27 23:05] #1215 closed

[2017-03-27 23:15] Rick-Anderson commented on #3076
@ardalis  the EF PU approved [This](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/advanced#repository-and-unit-of-work-patterns)

[2017-03-27 23:17] Rick-Anderson commented on #3076
@MikeWasson We're going to remove repository from your tutorial. Do you agree? Read [This](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/advanced#repository-and-unit-of-work-patterns)

[2017-03-27 23:52] ardalis commented on #3076
It's not just about testing - having proper abstractions in place is better for a variety of reasons. There's no reason why the UI project should know anything about how persistence is achieved. If it does, that tight coupling just becomes technical debt. Let's say we want to implement data-level caching, for some operations. We don't want that code to live in our UI layer. We don't want it to liv

[2017-03-28 01:32] Rick-Anderson commented on #3076
@divega please comment. We need to weigh best practice vs. keeping this super intro tutorial simple.

[2017-03-28 01:58] Rick-Anderson commented on #3040
@ardalis  can you also fix:

- [ ] remove extra` }` in last sample
- [ ] remove a couple characters so ` await context.Response.WriteAsync("Verified request? " + context.Items["isVerified"]);
});` doesn't scroll.

ping me for review.

[2017-03-28 02:00] Rick-Anderson commented on #3057
@tuespetre  Do you have a sample we could use?

[2017-03-28 02:03] Rick-Anderson commented on #3068
@Daniel15  great info. Any chance you could submit a PR for this article?

 `localhost:5000` is for development on local machine - right?

[2017-03-28 18:13] #2467 closed

[2017-03-28 18:40] Rick-Anderson opened #3083 "aspnet/core/security/enforcing-ssl cert installation"
Add instructions on VS installing a cert

[2017-03-28 18:50] Rick-Anderson commented on #2943
@ryanbrandenburg please review

[2017-03-28 18:52] Rick-Anderson commented on #2501
@DamianEdwards How do Visual Studio for Code folks generate/edit .resx files? Will VS for Mac solve this for the Mac? What about Linux?

[2017-03-28 19:59] ardalis commented on #3040
@Rick-Anderson you have a patch branch with this - I assume I should just commit to that?

[2017-03-28 20:11] Rick-Anderson commented on #3040
@ardalis  no, just work off master.

[2017-03-28 22:15] #3053 closed

[2017-03-29 02:53] Rick-Anderson opened #3091 "New article explaining files created in new ASP.NET web app"
Create an article explaining the files create with VS new web app template or `dotnet new mvc`

Several tutorials could link to it. For example my two "intro to MVC" and  [Scaffold](https://docs.microsoft.com/en-us/aspnet/core/tutorials/your-first-mac-aspnet#scaffolding-applications-using-dotnet-new) which does a half  explanation.

@tdykstra  please review

[2017-03-29 15:35] dntim commented on #1162
Folks, any news?

[2017-03-29 15:43] danroth27 commented on #1162
This is actively being worked on and should be published in the next few weeks.

[2017-03-29 17:03] tdykstra commented on #3091
Are we getting requests for that?  I don't see the need for that unless we have really obscure files you couldn't guess the usage of by looking at them.  One possible use for such a doc would be an explanation for each file as to whether it can be omitted and what happens if you delete it, but again I don't know what the demand would be for that, so this is hard to prioritize.

[2017-03-29 17:29] Rick-Anderson commented on #3091
It's more of a refactor question.  I want to make the following one article rather than copy/paste it in 3 to 5 places (from  [Scaffold](https://docs.microsoft.com/en-us/aspnet/core/tutorials/your-first-mac-aspnet#scaffolding-applications-using-dotnet-new)  )

Startup.cs : Startup Class - class configures the request pipeline that handles all requests made to the application.
Program.cs : Program

[2017-03-29 17:32] tdykstra commented on #3091
Why not use an include?

[2017-03-29 19:58] #89 closed

[2017-03-30 00:13] #3091 closed

[2017-03-30 01:57] scottaddie opened #3104 "Update Fundamentals/Routing doc sample code to CSPROJ"
The sample code for the [Routing](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing) doc is still based on `project.json`. Is anyone already working on upgrading it to CSPROJ? If not, I'll take care of it.

/cc: @Rick-Anderson

[2017-03-30 02:05] Rick-Anderson commented on #3104
That would be great - Thanks.

[2017-03-30 17:49] #2112 closed

[2017-03-30 17:53] Rick-Anderson commented on #3040
@mikeharder  quick review please.

[2017-03-30 17:54] #3007 closed

[2017-03-30 18:35] mikeharder commented on #3040
Approved

[2017-03-30 18:35] #3040 closed

[2017-03-30 18:37] #3104 closed

[2017-03-30 20:08] guardrex opened #3109 "React to UseUrls breaking change for 2.0"
https://github.com/aspnet/Announcements/issues/230

https://github.com/aspnet/Docs/search?utf8=%E2%9C%93&q=UseUrls&type=

Looks like three spots/samples that require a touch of work when 2.0 lands.

[2017-03-30 22:06] OksanaMych opened #3111 "Error: "Arithmetic operation resulted in an overflow." on executing a command "dotnet ef database update""

[2017-03-30 23:36] Rick-Anderson commented on #3111
@OksanaMych  Looks like it's a problem with your anti-malware software:

http://stackoverflow.com/questions/32609088/arithmetic-overflow-exception-when-opening-sql-connection

Apparently the same software can cause DivideByZeroException:

https://kb.eway-crm.com/faq-1/database/connection-with-local-database-is-not-working

You also need to update to .NET Core 1.1

[2017-03-30 23:36] #3111 closed

[2017-03-31 00:36] Rick-Anderson opened #3112 "Intro to MVC cleanup - adding a model"
- [x] Explain why we need [initial migration](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model#dotnet-ef-commands). Pointer to more migration info
- [x] explain Add the database context to the Startup.cs file: in xplat adding a model
- [x] add tdykstra as co-author
- [x] look for comment `` and do that.
- [x]  [Strongly typed models and the @model keyword](https://

[2017-03-31 02:29] kkbruce opened #3113 "Tag Helpers section "intellisense-support-for-tag-helpers" is not work"
Hi Sir

This section
https://docs.microsoft.com/zh-tw/aspnet/core/mvc/views/tag-helpers/intro#intellisense-support-for-tag-helpers (from https://github.com/aspnet/Docs/blob/master/aspnetcore/mvc/views/tag-helpers/intro.md) incorrect and is not work now.

Replace this https://github.com/aspnet/Tooling/blob/master/known-issues-vs2017.md content, is work and correct now.

[2017-03-31 03:05] Rick-Anderson commented on #3112
@tdykstra  can you clean up/expand the EF info in these two?

[2017-03-31 03:06] Rick-Anderson opened #3116 "Intro to MVC clean up"
- [ ] move common text to includes in parts 1-2
- [ ]
- [ ]

[2017-03-31 03:38] Rick-Anderson commented on #3113
@kkbruce  what exactly is wrong and what is the correction?

[2017-03-31 07:07] kkbruce commented on #3113
Hi

In VS 2017 RTM,
1. Create a new ASP.NET Core Web Application(.NET Core)
2. open a .cshtml view page
3. input **asp-** in html tag
No tag helpers Intellisense, This's normal status.

I reference "#intellisense-support-for-tag-helpers" section, after installed "Microsoft.AspNetCore.Razor.Tools", no any tag helpers Intellisense.

I find another doc (https://github.com/aspnet/Tooling/blob/master/k

[2017-03-31 16:53] tdykstra commented on #3112
Yes. By "these two" do you mean the VS version and the new xplat version?

[2017-03-31 18:00] Rick-Anderson opened #3123 "NullLogger<T><T>, TestLogger<T><T> on API Ref"
[Microsoft.Extensions.Logging.Testing Namespace](https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.extensions.logging.testing) shows

[code]

This bug occurs anywhere you have  a generic type that inherits from a generic type.
`public class NullLogger<T> : ILogger<T>, ILogger`
for example  [http.features]( https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.aspnetcore.http.features

[2017-03-31 18:02] #204 closed

[2017-03-31 18:08] Rick-Anderson commented on #3123
@TianqiZhang how can I edit [Microsoft.Extensions.Logging.Testing Namespace](https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.extensions.logging.testing)  in browser to fix this? cc @danroth27

[2017-03-31 18:26] tdykstra opened #3124 "Clarify terminal/console/command prompt in Getting Started tutorial"
The [Getting Started](https://docs.microsoft.com/en-us/aspnet/core/getting-started) tutorial starts by just saying enter commands without telling you to open a command prompt. It's unclear to some users where those commands are to be entered.  See the LiveFyre comments on the page.

[2017-03-31 18:44] #3124 closed

[2017-03-31 18:55] Rick-Anderson opened #3127 "Code not rendering in introduction-to-aspnet-identity"
See #3121

cc @glcheetham

[2017-03-31 19:47] scottaddie opened #3130 "Update User Secrets doc with Visual Studio instructions for using tool"
The [User Secrets](https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets) doc doesn't explain how to manage user secrets from within the IDE. Is anyone already working on this? If not, I'll take care of it.

[2017-03-31 20:30] Rick-Anderson opened #3131 "Add Twillio to aspnet/core/security/authentication/2fa"
One doc with instructions from both providers.

[2017-03-31 20:37] Rick-Anderson commented on #3130
@scottaddie  please add that.

[2017-04-01 01:15] Rick-Anderson opened #3134 "Update 2FA article to use Twilio"
When I create a .NET Core 1.1 console app and run `Install-Package Twilio` I get a ton of errors.
@joeaudette can you help me get this working?

cc @GuardRex

[2017-04-01 07:17] mihemihe opened #3140 "10th item in list appears as 0"
**General**

The **10th** item in the list in document [https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/) appears as **0** . It is also happening in other lists in the documentation, like here [https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mv

[2017-04-01 07:28] Rick-Anderson commented on #3134
@joeaudette @GuardRex  got it working. I had a name collision caused by my console app project having the same name as the Twilio package. I

[2017-04-01 15:49] GuardRex commented on #3134
With the project named "Twilio", installing the Twilio package the errors are ...

A gazillion of errors like ...

Ending with ...

Does it feel like one of those *the error message could be improved*-types of scenarios/issues?

Do docs need to go as far as saying at `dotnet new`'s `--name` option that when you name your project, you should confirm at NuGet.org that the name isn't already in use a

[2017-04-01 18:08] #3113 closed

[2017-04-01 21:08] #3134 closed

[2017-04-01 21:24] Rick-Anderson opened #3148 "use includes to remove dup markup from tutorials/web-api-vsc and tutorials/web-api"
Related #3350

[2017-04-01 21:42] Rick-Anderson commented on #3140
@mihemihe  I can't repo with Chrome/FF/IE/Edge on windows or Chrome/FF/Safari on macOS (all current versions)
@tdykstra  can you repro?

[2017-04-01 21:44] #2647 closed

[2017-04-01 21:44] #3131 closed

[2017-04-01 22:44] mihemihe commented on #3140
@Rick-Anderson It works correctly now, in all my browsers, in different PCs and in online browser compatibility tools ¯\_(ツ)_/¯

[2017-04-02 03:30] #3140 closed

[2017-04-03 04:43] #2017 closed

[2017-04-04 00:47] #3130 closed

[2017-04-05 21:27] danroth27 opened #3165 "ASP.NET Core Hosting Overview"
We should have an abstract overview of what it means to host ASP.NET Core apps:
- Publishing your app (`dotnet publish`) and understanding the output
  - Reference https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-publish
- Process manager that starts your app and keeps it going (ex. IIS, Windows Service, NGinx, Apache, etc)
- Reverse proxy that forwards requests to your app (ex.

[2017-04-05 21:52] Rick-Anderson opened #3166 "Localization: add troubleshooting section"
See https://forums.asp.net/t/2117531.aspx?Localization+using+vs+2017

https://forums.asp.net/t/2118898.aspx?Localization

[2017-04-06 01:22] sonichanxiao opened #3167 "'EntityEntry' does not contain a definition for 'GetDatabaseValues' and no extension method 'GetDatabaseValues' accepting a first argument of type 'EntityEntry' could be found (are you missing a using directive or an assembly reference?)"
When I follow the steps for ASP.NET core tutorial, I couldn't get DepartmentsController.cs compiled because of this method var databaseEntry = exceptionEntry.**GetDatabaseValues()**;
is not defined anywhere the code. I copied the whole Edit method as described in the tutorial. Don't know where I did wrong.

Any clue?

[2017-04-06 01:52] jnaputi253 commented on #3167
Is it specifically **GetDatabaseValues** function that gives an error?  The **exceptionEntry** variable doesn't throw an issue as well?

I am just asking because I typed down the code inside the `catch` block and I am not getting any compile errors.

If you don't have it, you need to put this statement: `using Microsoft.EntityFramework;` at the top of your file.

[2017-04-06 01:58] sonichanxiao commented on #3167
I am following the tutorial on https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/concurrency and get stuck at section "Update the Edit methods in the Departments controller".

You can see inside the given code for HttpPost Edit method, there is a method call from exceptionEntry to GetDatabaseValues().
var databaseEntry = exceptionEntry.GetDatabaseValues();

If I compile the solution, I will

[2017-04-06 02:15] jnaputi253 commented on #3167
For the `EntityEntry` type, there is a function for `GetDatabaseValues`.

[This](https://docs.microsoft.com/en-us/ef/core/api/microsoft.entityframeworkcore.changetracking.entityentry#Microsoft_EntityFrameworkCore_ChangeTracking_EntityEntry) is the API reference regarding that type.

Having the statement `using Microsoft.EntityFrameworkCore;` should have made it work.  But, you would need to have i

[2017-04-06 02:31] sonichanxiao commented on #3167
A staff from Microsoft replied saying this method is new in EntityFrameworkCore 1.1, I guess when I started the tutorial the EntityFrameworkCore version was still 1.0, after I updated the packages, problem solved.

[2017-04-06 02:31] #3167 closed

[2017-04-06 02:38] jnaputi253 commented on #3167
Nice!  My bad for neglecting the update to 1.1.

Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: Xiao <notifications@github.com> Date: 4/5/17  7:31 PM  (GMT-08:00) To: aspnet/Docs <Docs@noreply.github.com> Cc: Juan Naputi <jnaputi253@gmail.com>, Comment <comment@noreply.github.com> Subject: Re: [aspnet/Docs] 'EntityEntry' does not contain a definition for
  'GetDatabase

[2017-04-06 03:57] beachside-project opened #3169 "English to Japanese Translation"
I (and my friends) want to translate Japanese docs at [aspnet/Docs.ja-jp](https://github.com/aspnet/Docs.ja-jp) .
we translated some.
could you create the ja-jp docs like issue [#3168](https://github.com/aspnet/Docs/pull/3168) ?

[2017-04-06 07:17] leastprivilege commented on #3046
Has anything happened yet? Wasn't the plan to add this link to VS with the next update? Update 1 was released today - is this info included now?

[2017-04-06 15:47] danroth27 commented on #3046
@sayedihashimi @Andrew-MSFT

The updated to VS to surface this content is targeted for the [ASP.NET Core 2.0 release in Q3](https://github.com/aspnet/home/wiki/roadmap).

[2017-04-06 21:45] Rick-Anderson commented on #2461
@SteveSandersonMS  can you split up an outline into a couple docs? Your outline (and @FabianGosebrink )  look like they could be spit up.  Please consider @FabianGosebrink  outline.
 @spboyer  won't be doing the work so it would be great if you can come up with the outline.

@fiyazbinhasan  are you interested in this?

[2017-04-07 05:36] fiyazbinhasan commented on #2461
@Rick-Anderson interested! should i start with @FabianGosebrink outline?

[2017-04-07 15:29] SteveSandersonMS commented on #2461
@FabianGosebrink's outline looks great! Only points I'd add:

 * Would be good to describe testing with Karma (i.e., just that you can run `npm test` and what happens - once people realise there's a working Karma setup out of the box, they will go forwards with that)
 * The AOT/treeshaking stuff is a work-in-progress right now, so you might just have to leave a placeholder until that's streamlined

[2017-04-07 18:13] Rick-Anderson commented on #2461
@fiyazbinhasan  Yes, with Steve's points. cc @tdykstra

[2017-04-07 18:30] fiyazbinhasan commented on #2461
@SteveSandersonMS @Rick-Anderson got it! will be on it ASAP

[2017-04-07 18:42] FabianGosebrink commented on #2461
@fiyazbinhasan would love to help

[2017-04-07 18:49] fiyazbinhasan commented on #2461
@FabianGosebrink awesome!!! it would be great if you can refer me to some online resources :D

[2017-04-07 19:01] FabianGosebrink commented on #2461
@fiyazbinhasan add me on Skype with my email here in github. Let's continue there...are you okay with that?

[2017-04-08 00:20] Rick-Anderson opened #3186 "intro to MVC cleanup tasks."
- [ ] Explain view bag using [this](http://stackoverflow.com/a/35185511/502537)
- [ ] Replace Edge screen shots with Chrome/xplat
- [ ]

[2017-04-08 03:20] Rick-Anderson opened #3188 "Localized repositories"
We hope to have localized repository's before June 1st, 2017. Once we have localized content, you'll submit PRs to `https://github.com/aspnet/docs.<lang>`, not the ENU repo.

Subscribe to this issue to get notification.

[2017-04-08 03:21] Rick-Anderson commented on #3169
We will be creating a .ja-jp repro soon with machine translated docs. Once we have that repo you can submit PR's. We hope to have that done in a couple months.

 subscribe to #3188 to get notified.

[2017-04-08 03:21] #3169 closed

[2017-04-08 14:40] damienbod commented on #2926
@Rick-Anderson @SteveSandersonMS @FabianGosebrink @danroth27 @shanselman

I would like to start with this, if you want it. I suggest we continue with the document outline, and I will only add Visual Studio, Visual Studio Code, ASP.NET Core content. I will add links to the webpack docs as required. I would create an angular 4 template as a demo (not using JavaScriptServices) and demonstrate how to

[2017-04-08 17:44] Rick-Anderson commented on #2926
@damienbod  @FabianGosebrink  @fiyazbinhasan - we need to reconcile this with  **Document using ASP.NET Core with Angular 2**  #2461

[2017-04-08 18:58] fiyazbinhasan commented on #2926
agree on two separate docs; one which will only focus on using angular 2/4 with aspnet core and another, only focusing on using webpack. @damienbod can start on the webpack doc and in the using angular 2/4 with aspnet core @FabianGosebrink and me can refer to that doc whenever something related to webpack pops up. we wont go explaining stuff related to webpack in that using angular doc. We need a

[2017-04-09 15:23] rhires opened #3194 "Default Manager/User claims and implementation steps"
## Requests for new Topics
The sentence: "When an identity is created it may be assigned one or more claims issued by a trusted party. " needs a whole document to go with it. We need to know the process of assigning claims to a first admin user, then non-admin users. We need to know how to alter the Startup.cs file to handle default claims to start with. There needs to be a default user and a mana

[2017-04-10 15:42] Eilon opened #3198 "Remove references to Microsoft.DotNet.InternalAbstractions"
Microsoft.DotNet.InternalAbstractions was refactored and renamed as part of 1.1 to Microsoft.DotNet.PlatformAbstractions. We should update our code to no longer reference this package:

https://github.com/aspnet/Docs/search?utf8=%E2%9C%93&q=Microsoft.DotNet.InternalAbstractions&type=

It looks to me that in the one hit on this repo, the package probably isn't even used, so it should be safe to rem

[2017-04-11 16:26] tdykstra opened #3205 "Improve explanation of ConfigureServices vs. Configure method in fundamentals/startup.md"
LiveFyre sidenote comments on ConfigureServices section:
* You need to add more here. Why do some services need to be defined here but other not . What is going on in the application initialization at this phase?
* Here you need to add more. what differentiate configure from configureservices? what run-time you referring here. We know about CLR from previous versions with it's in-out but here the

[2017-04-11 17:36] ardalis commented on #3205
@tdykstra to review PR.

[2017-04-11 21:12] Rick-Anderson opened #3208 "document aspnet-codegenerator"
Document the options `aspnet-codegenerator` in https://github.com/dotnet/docs/issues/10100

[code]

@prafullbhosale  should I create this article?

[2017-04-12 21:39] Rick-Anderson commented on #3208
@prafullbhosale  the following command is missing client side validation:

[code]

How do I get the views to have the following:
[code]

Once I get that magic flag I think I'll have identical scaffolding to the VS scaffolder. That's my goal, to have the same code from VS Code and VS 2017.

[2017-04-12 21:42] prafullbhosale commented on #3208
`--referenceScriptLibraries` should add that section.

[2017-04-13 10:00] amdnaji opened #3216 "Improve session and application state in ASP.NET Core article by adding more details"
I think it will be great if we add more information to **session and application state in ASP.NET Core** article
Like

- What is sticky session

- What is coherent session

- Why sticky sessions affect scalability and complicate web app updates.
Br,

.

[2017-04-13 16:19] tdykstra commented on #1407
This is already done in the [Startup exception handling](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling#startup-exception-handling) section.

[2017-04-13 16:19] #1407 closed

[2017-04-13 16:49] fiyazbinhasan commented on #2461
@SteveSandersonMS can you refer me some Api docs where the SpaServices taghelpers are briefly described. TIA :)

[2017-04-13 18:36] #3025 closed

[2017-04-14 02:53] Rick-Anderson commented on #3127
No repo

[2017-04-14 02:53] #3127 closed

[2017-04-14 02:55] #2993 closed

[2017-04-14 19:47] #566 closed

[2017-04-14 20:01] Rick-Anderson opened #3230 "Dependency Injection in ASP.NET Web API 2"
Katrina Wan was kind enough to give us a heads up on Mike Wasson’s Web API doc needs some love: https://docs.microsoft.com/en-us/aspnet/web-api/overview/advanced/dependency-injection.  Also note that it still gets a fair amount of traffic.

“Recently odata team upgraded their lib so all the dependency injection framework is changed (http://odata.github.io/WebApi/13-04-DependencyInjection/ )
I am j

[2017-04-14 20:34] #3165 closed

[2017-04-14 20:43] tdykstra commented on #3076
@MikeWasson We're considering removing repository from your tutorial since we've added EF. What do you think? We removed repository from the EF MVC tutorials - see [this discussion in EF MVC](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/advanced#repository-and-unit-of-work-patterns)

[2017-04-14 20:48] tdykstra commented on #3112
@Rick-Anderson Is this ready for me or are you still working on it?

[2017-04-14 20:51] tdykstra commented on #3052
Could put it in TOC:

* 1.1 Release notes
  * Earlier release notes
  * Project.json documentation (PDF)

[2017-04-14 20:53] tdykstra commented on #2277
Fixed by #3176

[2017-04-14 20:53] #2277 closed

[2017-04-14 20:53] Rick-Anderson commented on #3076
@danroth27  please weigh in - should we remove repository from this tutorial?  This will keep the tutorial more focused on Web API.

[2017-04-14 20:54] Rick-Anderson commented on #3112
@tdykstra  ready for you to take over - and yes review both versions.

[2017-04-14 21:17] danroth27 commented on #3076
These tutorials are simple enough that I think implementing a repository is overkill. I'm in favor of removing it. Feel free to link to content that guides people to the more robust patterns though.

[2017-04-19 08:12] fiyazbinhasan commented on #2461
@Rick-Anderson @FabianGosebrink starting here, [angular2-doc](https://github.com/fiyazbinhasan/Docs/tree/angular2-doc)

[2017-04-19 08:31] damienbod commented on #2461
Hi @fiyazbinhasan

I think you should rename the doc to just angular-doc
angular == version 2, 4 and 5 later this year
1 == angularJS

Then also remove all the 2s from the doc.

Is this the right place for feedback or should I add it directly on your branch?

Greetings Damien

[2017-04-19 08:35] fiyazbinhasan commented on #2461
@damienbod you can add it to the branch :)

[2017-04-19 08:43] damienbod commented on #2461
@fiyazbinhasan pull-request or issue?

[2017-04-19 08:56] fiyazbinhasan commented on #2461
PR :)

[2017-04-20 02:24] blowdart commented on #3194
I assume this refers to identity? We won't document a management interface, because frankly that's so application dependent it can't be generic.

[2017-04-21 01:08] rhires commented on #3194
Yes. Looking at this again, I see that I didn't reference the topic: "Claims-Based Authorization". I'm new to all of the claims thing, so I was looking for an authoritative "this is how you should do it" example, which lots of the docs here have. I mean a most minimal example as a starting point.

I guess that from lots of looking around there aren't many examples of how to a lot of this, or what

[2017-04-21 01:44] Rick-Anderson commented on #3198
@Eilon
When I remove it I get the following:

Starting test execution, please wait...
[xUnit.net 00:00:00.0827736] Exception discovering tests: System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.DotNet.InternalAbstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The system cannot find the file specified.
File name: 'Microsoft.DotNet.InternalAbs

[2017-04-21 01:45] Rick-Anderson commented on #3198
see https://github.com/dotnet/core/issues/366

[2017-04-21 01:48] Rick-Anderson commented on #3198
@Eilon  Looks like I need to follow Brad's suggestion:

We're retiring dotnet-test-xunit. You should use xunit.runner.visualstudio from 2.2 beta 4 instead (it works for both the CLI and inside Visual Studio).

[2017-04-21 01:56] Rick-Anderson commented on #3198
@Eilon  never-mind, updating the version it now works.

[2017-04-21 02:31] #3198 closed

[2017-04-21 15:18] ardalis opened #3254 "Create a Security Landing Page / Home Page"
There's no top-level content node in our TOC for Security. When you expand it in the navigation, the first element is Authentication, and the first element after that is ASP.NET Core Identity: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity

However, this isn't a good overview of web or ASP.NET Core security, and already assumes that users understand, for instance, th

[2017-04-21 17:35] Tratcher opened #3255 "Outline of all components that need specific web-farm configuration"
It's standard practice to deploy web apps on multiple instances with shared resources. It would be helpful to have a consolidated list of components and configuration that need special attention in this scenario:

Needs configuration:
- DataProtection (IDataProtectionProvider)
- Caching (IDistributedCache)
- Databases (EF/SQL)

Dependent Components:
- Authentication - Depends on DataProtection for

[2017-04-22 04:27] Rick-Anderson commented on #3255
@Tratcher   can you draft this article and we'll take it from there? We don't have the expertise to write this. cc @danroth27  @tdykstra

[2017-04-22 04:28] Rick-Anderson commented on #3254
cc @tdykstra

[2017-04-22 04:37] Rick-Anderson commented on #2351
[Introduction to ASP.NET Core MVC on Mac or Linux](https://docs.microsoft.com/en-us/aspnet/core/tutorials/) is completed

[2017-04-22 04:38] #2351 closed

[2017-04-22 07:54] damienpontifex commented on #3043
@Rick-Anderson reading around and wondering whether this article should redirect to the Team Services article here https://www.visualstudio.com/en-us/docs/build/apps/aspnet/aspnetcore-to-azure

That article also needs updating to display the out of the box tasks. But would be better to have one version of the content?

Let me know thoughts and if we should go ahead with this article or pursue upda

[2017-04-22 22:08] Kyoraku opened #3260 "Little question about MySqlInitializer"
Hi,

I'm trying to use identity within my application and i had a little problem in the MySqlInitializer
there is a "insert your user here"
`var migrationHistoryTableExists = ((IObjectContextAdapter)context).ObjectContext.ExecuteStoreQuery<int>(
        string.Format(
          "SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = '{0}' AND table_name = '__MigrationHistory'",

[2017-04-24 14:13] Greatsamps commented on #1162
are we getting close yet?

[2017-04-24 19:16] Tratcher commented on #3255
@danroth27 do you want to schedule a meeting for this? Include Hao.

[2017-04-25 02:07] Rick-Anderson commented on #3260
@Kyoraku  I agree it's not clear. Can you create an issue with code you show above and ask that they provide a better hint?  cc @tdykstra

[2017-04-25 02:13] Rick-Anderson commented on #3255
@Tratcher  meeting sent.

[2017-04-25 02:33] Rick-Anderson commented on #3043
@damienpontifex  I agree.  @danroth27  @tdykstra  should we update [Build and deploy your ASP.NET Core app to Azure](https://www.visualstudio.com/en-us/docs/build/apps/aspnet/aspnetcore-to-azure)

[2017-04-25 02:37] damienpontifex commented on #3043
I tried searching to see whether those docs were also accepting contributions, but didn't find anything.

[2017-04-25 02:39] Rick-Anderson commented on #3043
@damienpontifex  arg - the old MS. I'll find the owner.

[2017-04-25 14:00] joshbartley opened #3273 "Update Key Management Documentation"
The Key Management documentation at ( https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/default-settings#data-protection-default-settings)  does not account for all scenarios.  The four scenarios listed do not account for applications that are load balanced outside of the Azure Web Sites offering.

I think the documentation should be updated with the following inf

[2017-04-25 16:06] tdykstra commented on #3043
Yes, and when that's done retire our version, redirect the URL of our version to the VSTS article, and change our TOC to link to the VSTS article.

[2017-04-25 18:57] Rick-Anderson commented on #3043
@tdykstra  @danroth27  [Build and deploy your ASP.NET Core app to Azure](https://www.visualstudio.com/en-us/docs/build/apps/aspnet/aspnetcore-to-azure) is in a private repo only MSFT FTE's can contribute. I'm asking them to retire their version and we should migrate it to our open repo.

[2017-04-25 19:56] ardalis commented on #1681
@rynowak quick question:
Trying to use ModelState to determine a 404 should be returned is not very elegant. Do you know of a better way than this?
[code]
Full code: https://github.com/aspnet/Docs/tree/ardalis/custom-model-binding/aspnetcore/mvc/advanced/custom-model-binding/sample/CustomModelBindingSample

[2017-04-25 21:05] ardalis commented on #1681
I was thinking it might be simpler to not add the modelstate error and have `author` be null when it's not found, and in the controller check for that state and return `NotFound`. Also, is there any easy way to get back the id that was passed in, in this case? If I request /author/2 which doesn't exist, in the action method I'm no longer going to have access to the 2 value (or if I do, from where?

[2017-04-25 21:15] ardalis commented on #1681
Related: http://stackoverflow.com/questions/11211546/should-a-modelbinder-throw-a-404-exception

[2017-04-26 17:47] ardalis commented on #1681
@rynowak in case you missed these questions above, too.

[2017-04-26 17:52] rynowak commented on #1681
I think this is fine

No you can make it a separate parameter if you want, but I don't see why this is important.

I have never heard of this before. `NotFound(2)` would attempt to serialize the `2` as JSON which is almost certainly not what you want.

[2017-04-26 17:56] ardalis commented on #1681
Right, returning the id just makes it easy for the client code to say something like "No record found for id {id}" where {id} is the thing in the body of the 404 response. It's not critical so I just won't show that in the sample at all.

[2017-04-26 19:57] wadepickett opened #3278 "Add technology names to doc titles and h1's to improve discoverability in search"
Task:
Improve search
Add ASP.NET technology names to doc titles and H1's where feasible across the entire doc set. Both ASP.NET Core and ASP.NET.

Background:
This seems trivial but it makes a difference. Where we have corrected this so far we see around a 40% increase in clicks from search with indications that the community is getting to where they need to be rather than having to visit pages an

[2017-04-27 21:08] Rick-Anderson commented on #2384
End of "C:\Dropbox\wrk\Outline of all components that need s. . . - Thursday, April 27, 2017 10.32.36 AM.mp4" covers this.

[2017-04-28 07:27] siddharthashw opened #3280 "Custom Provider in Localization doc doesn't provide sufficient information"
As per this [link](https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/localization.md)

### Using a custom provider

Suppose you want to let your customers store their language and culture in your databases. You could write a provider to look up these values for the user. The following code shows how to add a custom provider:

[code]

Use `RequestLocalizationOptions` to add or remo

[2017-04-28 12:02] nrandell commented on #2384
I've just had a few hours of head scratching around this as well. My scenario is a service fabric application running behind an application gateway in azure.

I've found that in order to make it work so I can pick up the remote ip address correctly is the following.

[code]
First off the application gateway only provides x-forwded-for, x-forwarded-port and x-forwarded-proto (see https://docs.micro

[2017-04-28 15:42] SetTrend opened #3284 "This is the printed version of the documentation"
### I printed the documentation and had it bound. This is the result:
<br/>

![p1000080](https://cloud.githubusercontent.com/assets/9283914/25536031/7ee6c52c-2c39-11e7-8d2a-80976e60b567.png)

![p1000082-1](https://cloud.githubusercontent.com/assets/9283914/25536147/f1dc92a0-2c39-11e7-8ebc-7a581bb21ab4.png)

![p1000084-1](https://cloud.githubusercontent.com/assets/9283914/25536150/f4db0b6c-2c39-11e

[2017-04-30 07:52] sksbrg commented on #1971
Hi,
I was stuck with following error when expecting the out-of-the-box JSON content formatting of ASP.NET Core MVC to be applied when serializing a list to the response:
`warn: Microsoft.AspNetCore.Mvc.Internal.ObjectResultExecutor[1]No output formatter was found for content type ‘’ to write the response.`

Thanks to the articles of [Fabian Gosebrink](https://offering.solutions/blog/articles/2017/

[2017-05-02 21:46] Rick-Anderson commented on #3284
@SetTrend  thanks for the thought. CC @tdykstra

[2017-05-02 21:46] #3284 closed

[2017-05-03 16:40] danroth27 opened #3301 "Document that deployment requires stopping the app"
@danroth27  what doc should that go in besides https://docs.microsoft.com/en-us/aspnet/core/publishing/iis

[2017-05-03 20:21] #1681 closed

[2017-05-04 19:34] danroth27 commented on #3046
@leastprivilege @brockallen @pinpointtownes The link is now in our internal VS builds and will show up *very soon* in an upcoming VS preview, so we'd like to get this topic published by early next week.

@sayedihashimi @tdykstra @Rick-Anderson Can you guys help out with working out a basic structure for this page and getting this page in place?

[2017-05-04 19:34] danroth27 commented on #3046
@jongalloway

[2017-05-04 20:15] Rick-Anderson commented on #3046
@danroth27  if someone can PR the list of links @tdykstra  or @Rick-Anderson will edit/format.

[2017-05-04 20:34] PinpointTownes commented on #3046
@danroth27 is there anything we can/should do to help?

[2017-05-04 21:06] danroth27 commented on #3046
To start out, how about we have a short project description and a link for each option? Can you guys provide the text and link that you'd like us to use?

[2017-05-04 21:08] danroth27 opened #3310 "Create a page describing how to setup HTTPS"
- How to create the certificate cross platform?
- How to configure Kestrel to use that certificate in production/development?
- How to make sure that certificate is trusted by the browser during development (like we do with the IIS Express certificate)?

[2017-05-05 18:43] sayedihashimi commented on #3046
Draft at https://github.com/aspnet/Docs/pull/3314. For the OSS Packages I need the following info:

- Name
- Description
- Link

[2017-05-08 17:32] Rick-Anderson opened #3327 "Add Custom Model Binding to TOC"
https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding

![image](https://cloud.githubusercontent.com/assets/3605364/25816617/51ac27e4-33c0-11e7-8131-a23a71beffe5.png)

cc @ardalis

[2017-05-09 21:45] ferrx opened #3333 "WebListener doc does not align with github repo"
The github repo for aspnet/WebListener now sits at aspnet/HttpSysServer (name change for core 2?)

Several links and documented code in this guide https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/servers/weblistener.md are out of date and very confusing.

I'm trying to keep my cool, but learning aspnet/dotnet core is becoming difficult because of the constantly moving parts like

[2017-05-10 16:49] tdykstra opened #3338 "fundamentals/servers/weblistener "WebListener web server implementation""
- [ ] New name HttpSysServer for 2.0
- [ ] Add coverage of settings and options values with default values instead of links to source (https://github.com/aspnet/HttpSysServer/issues/358 and #3333)

[2017-05-10 20:23] Rick-Anderson opened #3341 "Intro to Razor Pages"
- [ ] UE edit
- [ ] Create sample app and use snippets.
- [ ] Topics to cover in intro doc or separate docs
  - [ ] @namespace
  - [ ] Pages property binding attribute
  - [ ] Tempdata attribute
  - [ ] etc.
- [ ]  Answer customer questions.

[2017-05-11 00:03] #3327 closed

[2017-05-11 17:52] Rick-Anderson opened #3349 "Intro to MVC on macOS with Visual Studio"
We currently have

- [Introduction to ASP.NET Core MVC on Mac or Linux using VS Code](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-xplat/index)
- [Introduction to ASP.NET Core MVC with Visual Studio on Windows](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/index)

Add **Introduction to ASP.NET Core MVC with Visual Studio on macOS**

[2017-05-11 18:30] Rick-Anderson opened #3350 "MacOS Web API (webAPI) cleanup"
- [ ]  > Models are represented as simple C# classes (POCOs).
The acronym may be new to Mac users.  Define as Plain Old C# Object?

- [ ]  > To keep the tutorial simple, the app doesn’t use a persistent database.
Next question: how do I use a database?  Will we provide an example in the future?
`[Response]` See #3349

- [ ]  > From the Project menu, select Add NuGet Packages.
* It seems that you h

[2017-05-11 19:06] danroth27 opened #3352 "Update hosted service topic"
See Document IHostStartup (host lightup) #4438

To do background tasks in ASP.NET Core you use IHostedService. We should document that.
[meeting with chris/fowler](https://www.dropbox.com/s/elmr1hg92fzku59/IHostedService%20doc%20-%20Friday%2C%20September%2029%2C%202017%202.36.31%20PM.mp4?dl=0)

Notes;
Low level component for running long running tasks.
Runs a jobs once at startup and runs for the

[2017-05-12 00:34] danroth27 opened #3354 "Add community OSS authentication options page to the TOC"
Add https://docs.microsoft.com/en-us/aspnet/core/security/authentication/community to the TOC

[2017-05-12 00:35] danroth27 commented on #3354
@Rick-Anderson Please assign

[2017-05-12 00:45] Rick-Anderson commented on #3354
@tdykstra  is the TOC expert.

[2017-05-14 01:46] #3333 closed

[2017-05-14 01:58] davidfowl commented on #3333
WebListener was recently renamed in 2.0 to avoid confusion with the existence of HttpListener in .NET Core 2.0.

[2017-05-14 03:20] ferrx commented on #3333
@davidfowl Is there a reason it's not found in the api docs? https://docs.microsoft.com/en-us/aspnet/core/api/

Looks like the original issue I raised was corrected by @tdykstra so I may need to create a new issue to discuss that.

[2017-05-14 03:26] davidfowl commented on #3333
My guess is because it's 2.0.0-preview1. I'd assume it'll all be there when it ships RTM

[2017-05-15 15:10] RehanSaeed commented on #1822
What happened to the feed. Doesn't seem to work anymore. Can we have it back?

[2017-05-15 18:16] #3354 closed

[2017-05-15 21:11] nehmebilal opened #3365 "Should I use WebListener or Kestrel with IIS integration to self host Web Api on Windows?"
I've been doing some research to figure out the best option to self host ASP.NET Web Api on Windows. Some articles recommend using WebListener for client facing services and other state that Kestrel is faster and can be used behind an IIS proxy.

What is the better option?

I understand that Kestrel has the benefit of being cross-platform but I am only deploying on Windows and mainly concerned abo

[2017-05-15 22:14] danroth27 opened #3366 "Add docs for using ASP.NET Core Identity as a service"

[2017-05-16 05:22] danroth27 opened #3367 "Document requires for publish an app that uses ASP.NET Core Identity as a services"
HTTPS
Signing certificate
Database
...

[2017-05-16 17:46] olavt opened #3369 "Issues with KeyVaultConfigProviderSample"
I have tried to follow the instructions and running this sample:

https://github.com/aspnet/Docs/tree/master/aspnetcore/security/key-vault-configuration/sample

But, there seems to be issues with it:

1) The sample crashes with an exception:

"Operation \"list\" is not allowed by vault policy"

Nowhere is it mentioned that "list" access should be granted to the application.

2) There seems to be s

[2017-05-17 05:09] Rick-Anderson opened #3373 "core/tutorials/publish-to-azure-webapp-using-vs updates - Publish an ASP.NET Core web app to Azure App Service using Visual Studio"
[Publish an ASP.NET Core web app to Azure App Service using Visual Studio
](https://docs.microsoft.com/en-us/aspnet/core/tutorials/publish-to-azure-webapp-using-vs)

- [x] Update to VS17
- [x] Add AI info and links. Explain how AI is hooked and show how to use it.
- [x] info on connecting to Server Explorer and doing basic debugging
- [x] new_prj.png Images should show core, not web (in the left p

[2017-05-17 13:21] #3052 closed

[2017-05-17 20:08] skyflyer commented on #2256
I second the need for better tag helper documentation. For developers coming from MVC 5 (and thus transitioning from `HtmlHelper`s), it would be really nice if tag helpers were [documented properly](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/intro).

The form ones are documented in a way that is usable, but the others are not. For instance, anchor tag helper (`<a>`) is not

[2017-05-17 20:33] Rick-Anderson commented on #2256
PR #2785 addresses this - but it needs some editing work.

[2017-05-18 03:21] rushfive commented on #1162
+1 any updates on the progress?

[2017-05-18 07:56] RehanSaeed opened #3379 "Create an RSS Feed for New/Updated Docs"
There used to be an RSS feed at http://docs.asp.net/en/latest/rss.xml created in https://github.com/aspnet/Docs/issues/1822 but it seems to have stopped working. Please bring it back, it used to be a great resource to stay up to date with ASP.NET Core and EF.

[2017-05-18 12:02] Tratcher opened #3380 "Don't swallow session commit exceptions or make it configurable"
_From @cwe1ss on May 18, 2017 11:37_

When the session middleware fails to persist a session (e.g. because the database is not available), it logs the exception and [swallows it](https://github.com/aspnet/Session/blob/dev/src/Microsoft.AspNetCore.Session/SessionMiddleware.cs#L120).

The request will then continue normally, which obviously leads to very unpredictable behavior.

A typical example:
*

[2017-05-18 12:02] Tratcher commented on #3380
By the time the middleware calls CommitAsync the response has already been sent and it's too late report an error to the client.

The recommended way to check for such errors is to call `await feature.Session.CommitAsync();` from app code when you're done writing to the session. Then you can do what you like with the error. The same goes for calling LoadAsync.

[2017-05-18 12:02] Tratcher commented on #3380
_From @cwe1ss on May 18, 2017 11:58_

Thx for the quick response! If I call CommitAsync() on my own, will the session middleware call it again or is it smart enough to not commit again?

I think it would be great if this behavior was documented on the [app-state docs page](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state) - it's a pretty important thing to know.

[2017-05-18 12:02] Tratcher commented on #3380
Yes, it's smart enough not to call commit twice (if it succeeds).
https://github.com/aspnet/Session/blob/c3ca9cf3342eb66d966ee681c193bfd22b6b701a/src/Microsoft.AspNetCore.Session/DistributedSession.cs#L217

I'll move this to a doc issue.

[2017-05-18 18:37] ferrx commented on #3194
@blowdart I understand that this is something that can be done a hundred ways, but having a guide on using IClaimsTransformer may be what's needed. Low level example usage would go a long way for helping devs understand the high level concepts.

And I'm not sure, but it seems like a guide could cover Identity/EF usage with Claims, but since (from what I understand..) Identity is so tightly coupled

[2017-05-18 18:59] johnwc commented on #1912
This error also occurs when running in a nano server. Should this be updated to use [Get-Acl](https://msdn.microsoft.com/en-us/powershell/reference/5.1/microsoft.powershell.security/get-acl) and [Set-Acl](https://msdn.microsoft.com/en-us/powershell/reference/5.1/microsoft.powershell.security/set-acl) cmdlets instead?

[2017-05-19 05:30] danroth27 commented on #1912
@blowdart

[2017-05-19 15:44] tdykstra opened #3384 "2.0 Release notes"
- [x] New doc aspnetcore-2.0.md following pattern set in aspnetcore-1.1.md
- [x] Add 2.0 doc to TOC, taking 1.1's place and moving 1.1 down.

  From

  to:

Initial draft created by #3687 will require ongoing updates as documentation for 2.0 is written.

[2017-05-19 15:47] tdykstra opened #3385 "Kestrel improvements for 2.0"
- [x] Remove text that warns against using Kestrel in edge deployments; no positive "approved for edge deployment" language yet
- [x] New Kestrel limits and configuration in 2.0 - https://github.com/aspnet/KestrelHttpServer/issues/720 https://blogs.msdn.microsoft.com/webdev/2017/06/28/introducing-asp-net-core-2-0-preview-2/
  - [x] RequestBodySizeLimit has a default value that will break some apps

[2017-05-19 16:00] tdykstra opened #3386 "Authentication changes in 2.0"
Auth Affected docs:

- https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/
- https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie
- Everything under Azure AD.  23:45  Per @ danroth27 - update them all for 2.0 if you can't version them.

[2017-05-19 16:03] tdykstra opened #3387 "Configuration changes in 2.0"
Affects fundamentals/configuration.md and others.
Document Options 2.0 changes #3469

[2017-05-19 16:03] tdykstra opened #3388 "fundamentals/logging "Logging" -- 2.0 changes"
- [x] 2.0 changes in Release Notes
- [x] Link to Release Notes from 1.x Logging doc
- [x] Add note to issue #3412 that we need to incorporate 2.0 updates into it

https://github.com/aspnet/Announcements/issues/238 (list of default aliases)
https://github.com/aspnet/Announcements/issues/255

[2017-05-19 16:06] tdykstra opened #3389 "2.0 - App Insights integration"
App Insights integration

[Hosting startup and AI](https://docs.microsoft.com/en-us/aspnet/core/aspnetcore-2.0#hosting-startup-and-application-insights)

[2017-05-19 16:10] tdykstra opened #3390 "ASP.NET Core metapackage in 2.0"
Affected docs - any doc that tells you how to add packages

When using ASP.NET Core, use the single package. If your using the .NET Framework, you can't use this single package.

- [ ] Perf increase from ASP.NET Core/EF Core included with .NET Core. You don't need to include these packages, they are in the runtime. (see 5:30 into the video) - Publishing is faster. Startup perf is better.

[2017-05-19 16:17] tdykstra commented on #3046
Fixed by #3314

[2017-05-19 16:17] #3046 closed

[2017-05-20 05:23] Rick-Anderson commented on #3379
@tdykstra  @danroth27  do you know about the rss feed?

[2017-05-20 05:28] Rick-Anderson commented on #3380
Add info in here to [Introduction to session and application state in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state)

[2017-05-20 05:30] Rick-Anderson commented on #3380
@cwe1ss  can you draft some text we can add to [Introduction to session and application state in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state) ?

[2017-05-20 05:35] Rick-Anderson commented on #3367
@danroth27  should the title be
Document requirements to publish an app that uses ASP.NET Core Identity as a service

[2017-05-22 16:20] tdykstra commented on #3379
I don't.  Looks like a relic of readthedocs that we didn't implement in docs.ms.com after migration

[2017-05-22 18:56] Rick-Anderson opened #3396 "core/fundamentals/environments mentions debug profiles"
[Working with multiple environments](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/environments) states:

(Debug profiles are discussed in more detail in [Servers](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/index)).

But the servers doc has no mention of debug profiles.  cc  @tdykstra

[2017-05-22 20:45] Rick-Anderson commented on #3379
@mairaw  @dend  should we consider adding RSS feed?

[2017-05-22 20:48] #3379 closed

[2017-05-22 20:49] mairaw commented on #3379
You can track this issue on our UserVoice site: https://msdocs.uservoice.com/forums/364242-site-feedback/suggestions/16608964-rss-feed

[2017-05-23 12:09] krunalrspl commented on #1162
Any update on this?

[2017-05-23 18:01] #3396 closed

[2017-05-23 18:09] Rick-Anderson opened #3404 "Create VS Code tutorial using SQL Server VS Code extension to docker"
From [comment on tutorial](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/complex-data-model?hubRefSrc=email&utm_source=lfemail&utm_medium=email&utm_campaign=lfnotification#lf-content=177088452:693737606&reply_editor=true)

[2017-05-23 21:13] tdykstra opened #3405 "migration/http-modules "Migrating HTTP handlers and modules ""
- [ ] LiveFyre comments
  - [ ] The suggested substitute for Request.Url and Request.RawUrl is incorrect; according to the documentation here: https://msdn.microsoft.com/en-us/library/system.web.httprequest.rawurl(v=vs.110).aspx "The raw URL is defined as the part of the URL following the domain information." Request.RawUrl returns the URL's path and query, whereas httpContext.Request.GetDisplayUr

[2017-05-24 02:09] Rick-Anderson commented on #3365
@danroth27  please respond.
@nehmebilal  can you wait for ASP.NET Core 2.0? If so, I think Kestrel might be a good option.

[2017-05-24 02:11] Rick-Anderson commented on #3352
@danroth27 which dev should we work with?

[2017-05-24 17:43] tdykstra opened #3407 "Improve presentation of MVC tutorials in TOC"
Issues with TOC and doc titles:

* The three Web API tutorials are represented differently in the TOC -- one shows up once, one shows up twice, one shows up not at all.
* The various getting started tutorials have different titles that make it hard to tell what's the difference between them -- "Building your first ...", "Create a...", "Getting started...", "Introduction to ..."
* Some of the TOC t

[2017-05-24 19:17] danroth27 commented on #3352
@muratg Who can help us out for this doc?

[2017-05-24 19:30] danroth27 commented on #3365
We generally recommend using Kestrel behind IIS on Windows. However, Kestrel is not supported as an edge server in 1.1 (it will be in 2.0), so if you don't want to use IIS then use WebListener. Kestrel by itself is generally faster than WebListener, but if you put Kestrel behind IIS it will be slower than plain WebListener as things currently stand.

[2017-05-24 19:32] #3365 closed

[2017-05-24 20:08] nehmebilal commented on #3365
Thanks @danroth27!

[2017-05-24 21:00] Rick-Anderson commented on #3407
@tdykstra   Shouldn't the doc metadata title be the same as the H1?

[2017-05-24 21:03] tdykstra commented on #3407
@Rick-Anderson No, the H1 is supposed to expand on the title, provide more information than the title.  Typically that's more than just expanding on an abbreviation, but I thought that might work in this case.

[2017-05-24 21:04] Rick-Anderson commented on #3407
@tdykstra  I like to put Web API up front - otherwise it's hidden

- Create a Web API with ASP.NET Core MVC and Visual Studio for Mac
- Create a Web API with ASP.NET Core MVC and Visual Studio for Windows
- Create a Web API with ASP.NET Core MVC and Visual Studio Code

[2017-05-24 21:05] tdykstra commented on #3407
Sure, and do the same with web app for the MVC UI version then.

[2017-05-24 21:05] Rick-Anderson commented on #3407
@tdykstra  can we drop MVC - the title is pretty long

- Create a Web API with ASP.NET Core ~~MVC~~ and Visual Studio for Mac
- Create a Web API with ASP.NET Core ~~MVC~~ and Visual Studio for Windows
- Create a Web API with ASP.NET Core ~~MVC~~ and Visual Studio Code

[2017-05-24 21:05] Rick-Anderson commented on #3407
Or maybe just drop MVC from the title

[2017-05-24 21:06] tdykstra commented on #3407
For the TOC under MVC you can drop ASP.NET Core too.  But I believe one of these docs shows up in another part of the TOC where you might want to keep both.

[2017-05-24 21:07] tdykstra commented on #3407
For the doc title you might want to keep ASP.NET Core and MVC both but could drop MVC

[2017-05-25 00:42] Rick-Anderson opened #3411 "aspnet/core/fundamentals/startup "Application Startup in ASP.NET Core""
- [x] Update for 2.0
- [x]  #1307
- [x]  Startup.ConfigureContainer #3659
- [x] Remove all code as sentences.
- [x] remove "from the default web site template"
- [x] Services Available in Startup - rewrite with code showing this. Tell them why you would inject logger in ctor (you want it sooner)
- [x] format code so it fits on tablet screens/no horiz scrolll bars
![image](https://cloud.githubuserc

[2017-05-25 00:50] Rick-Anderson opened #3412 "aspnet/core/fundamentals/logging "Introduction to Logging in ASP.NET Core""
- [x] Incorporate 2.0 changes -- see #3388
  - [x] https://stackoverflow.com/questions/45214468/asp-net-core-2-0-appsettings-development-json-not-working-with-logging-configura
  - [x] https://stackoverflow.com/questions/45085682/asp-net-core-2-0-and-logging
- [x] #1171 Document why we have no LogAsync methods
- [x] ~~This example~~ Preceding example - but remove code in sentence.
- [x]  consider

[2017-05-30 19:23] #3112 closed

[2017-05-30 20:40] Rick-Anderson opened #3433 "Web API - reshoot postman Key -> ID"
Key was replaced by ID, need to re-shoot.
also a bunch of the JSON code has key. Search of Key and check all the images.
related #3463

[2017-05-30 23:24] anurse opened #3435 "Clarify that "@addTagHelpers" is required for Razor View Component Tag Helpers"
The docs for Razor View Components indicate that a view component can be used as a tag helper (https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-components#invoking-a-view-component-as-a-tag-helper). However, it doesn't fully document the steps needed to enable that.

In order to use a view component as a tag helper, the project containing the view component (usually the App itself) must

[2017-05-31 16:50] johanbove opened #3438 "add Integration Testing chapter for the Contoso University example code"
The ["Getting started with ASP.NET Core and Entity Framework Core using Visual Studio"](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/) series is a fantastic tutorial. First of all, thank you for creating this!

I've created this issue to request an additional chapter on "regression testing" the whole application, since I strongly believe this is a very important part of application dev

[2017-05-31 21:06] Rick-Anderson opened #3441 "set ms.topic = get-started-article on appropriate articles"
per Gordon Hogenson:
I didn’t return any results for ASP.NET Getting Started –does this make sense.  I don’t know if you have any ms.topic = get-started-article in that content set, which is what controls that.  It might make sense to identify those for a future report.

[2017-05-31 21:55] #3441 closed

[2017-05-31 21:55] #3435 closed

[2017-05-31 22:20] Rick-Anderson commented on #3438
@johanbove  Thanks for the suggestion. Hopefully we can find someone to write the topic or at least write the code. I've add the "up-for-grabs" label.

[2017-06-01 03:03] Rick-Anderson opened #3445 "core/security/authentication/identity-configuration"
- [x] remove It's very simple to do that,
- [x] add code snippet that shows how to configure like https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity
https://stackoverflow.com/questions/30942325/how-to-change-passwordvalidator-in-mvc6-or-aspnet-core-or-identitycore
https://adrientorris.github.io/aspnet-core/identity/configure-password-policy.html
- [x] UE edit

[2017-06-01 18:49] Rick-Anderson opened #3449 "Simplified package referencing & with new meta-package Microsoft.AspNetCore.All"
see 29:45
[Simplified package referencing & with new meta-package Microsoft.AspNetCore.All](https://github.com/aspnet/Home/wiki/Roadmap#simplified-package-referencing--with-new-meta-package-microsoftaspnetcoreall)
https://github.com/aspnet/Announcements/issues/243

Affected docs - any doc that tells you how to add packages

When using ASP.NET Core, use the single package. If your using the .NET Fr

[2017-06-02 06:28] eriawan opened #3452 "PROPOSAL: Update some documentation pages to use Visual Studio 2015 or Visual Studio 2017"
## General

A proposal to update some doc pages to use VS 2015 or VS 2017 instead of using VS 2013, because VS 2013 is not supported anymore.

## Issues with Existing Topics

Most topics in the documentations are using Visual Studio 2012 or 2013. Both Visual Studio 2012 and Visual Studio 2013 are now end of support, according to these Microsoft's product lifecycle articles:

1. [Visual Studio 2013

[2017-06-02 08:35] frankabbruzzese opened #3453 "IAuthorizationService somehow incomplete"
I think the actual definition of `IAuthorizationService `is somehow incomplete, since the `AuthorizeAsync `method handles properly just  in-memory resources. More specifially, if the resource has already been loaded in memory from a DB it may give an answer to all needed authorization queries, but what if one would like to load and page from a DB  just all resources the current user has the permis

[2017-06-02 08:51] davidfowl commented on #3453
Why did you file this on the docs repository instead of https://github.com/aspnet/Security?

[2017-06-02 08:56] frankabbruzzese commented on #3453
@davidfowl , My error! Sorry I'll move it.

[2017-06-02 08:56] #3453 closed

[2017-06-03 17:25] Rick-Anderson opened #3460 "2.0 version of aspnet/core/intro "Introduction to ASP.NET Core""

[2017-06-04 11:00] 50774283 opened #3462 "Model always null when you using PUT request."
dotnet version 2.0.0-preview1-005977

namespace TodoApi.Controllers
{
    [Route("api/[controller]")]
    public class TodoController:Controller
    {
        public ITodoRepository TodoItems{get;set;}

        public TodoController(ITodoRepository todoItems)
        {
            this.TodoItems=todoItems;
        }

        [HttpPut("{id}")]
        public IActionResult Update(string id,[FromBody

[2017-06-04 17:32] Rick-Anderson commented on #3462
@50774283  not sure what you're doing wrong but Web API PUT is working fine. We're no longer using this sample in the docs.

[2017-06-04 17:32] #3462 closed

[2017-06-04 17:43] Rick-Anderson commented on #3452
@eriawan  We would really appreciate having these updated. Rather than one PR with several articles, can you do a PR per article?

@danroth27 @tdykstra - Should @eriawan  use VS 2015 or VS 2017? I think the only difference is the presentation of available templates. VS 2015 users should be able to follow VS 2017 instructions.

[2017-06-04 17:47] Rick-Anderson opened #3463 "Add "Calling the Web API with Javascript and jQuery" to "Create a Web API with ASP.NET Core""
The legacy version of the [Intro to Web API](https://docs.microsoft.com/en-us/aspnet/web-api/overview/getting-started-with-aspnet-web-api/tutorial-your-first-web-api) tutorial has a section [Calling the Web API with Javascript and jQuery](https://docs.microsoft.com/en-us/aspnet/web-api/overview/getting-started-with-aspnet-web-api/tutorial-your-first-web-api#calling-the-web-api-with-javascript-and-

[2017-06-05 15:23] tdykstra commented on #3452
@Rick-Anderson Agree -- best to use VS 2017.

[2017-06-06 04:49] eriawan commented on #3452
@Rick-Anderson Ok, I'll do a PR per article.

Is this finalized/agreed? If this is OK, I'll do these:
1. create a new issue with TODO list, (Because I need to have a separate issue to track those pages I'm going to update)
2. linked the new issue to this issue, then close this issue.
3. Create multiple PRs for separate pages with updated content for VS 2017 based on TODO list of previous first poi

[2017-06-06 13:34] Rick-Anderson commented on #3452
@eriawan  Sounds great.

[2017-06-06 20:18] HaoK opened #3469 "Document Options 2.0 changes"
We'd like to document the changes we made for Options in 2.0, namely
IOptionsSnapshot
IOptionsCache
IOptionsFactory

Please ping me for more details, I can help with the content

[2017-06-08 02:35] eriawan opened #3474 "WIP tracking of updating ASP.NET Classic doc pages to use Visual Studio VS 2017"
This issue is an umbrella task to update some doc pages to use VS 2017, whereas applicable (not all pages needs to be updated to have VS 2017).
The related accepted proposal for this is issue #3452.
The pages that needs updates are:

- [x] [https://github.com/aspnet/Docs/blob/master/aspnet/web-api/overview/getting-started-with-aspnet-web-api/tutorial-your-first-web-api.md](https://github.com/aspne

[2017-06-08 02:37] eriawan commented on #3452
@Rick-Anderson thanks! I have created a separate umbrella task for this.
I'm closing this proposal.

[2017-06-08 02:37] #3452 closed

[2017-06-08 16:12] danroth27 commented on #3463
For a simple getting started tutorial I think using jQuery to make a couple of GET requests is fine. For a full SPA example I would Angular.

[2017-06-08 22:09] Rick-Anderson commented on #3352
@muratg can we get a sample doing this?

[2017-06-08 22:21] Rick-Anderson commented on #3273
@blowdart  please review this proposed work.

[2017-06-08 22:26] #977 closed

[2017-06-08 22:28] Rick-Anderson commented on #1472
@scottaddie can you do this?

[2017-06-08 22:29] Rick-Anderson commented on #1435
@scottaddie  can  you take this one?

[2017-06-09 01:10] muratg commented on #3352
@Rick-Anderson Chris can help with it after Preview2 work winds down.

[2017-06-09 01:10] muratg commented on #3352
cc @Tratcher

[2017-06-09 17:10] blowdart commented on #3273
Looks fine to me.

[2017-06-09 17:34] danroth27 commented on #92
@ardalis I chatted with @blowdart about this and the only difference is that we now have a built-in framework API  ([`UrlHelper.IsLocalUri()`](https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.aspnetcore.mvc.routing.urlhelper#Microsoft_AspNetCore_Mvc_Routing_UrlHelper_IsLocalUrl_System_String_)) for checking that the redirect URI is local. In earlier incarnations of MVC the code for check

[2017-06-11 07:48] onyand opened #3483 "ASP.NET Core (.NET Framework) - 4.5.2 - Localization"
I have implemented localization on my project using the cookies option to persist user selection. The home page launches with the selected culture successfully. However, navigation to other pages reverts back to the default language (English).
An interesting pattern noted is that the scaffolds for "Create" method in all pages when invoked select the correct language specified. I have followed the

[2017-06-11 19:53] Rick-Anderson commented on #3483
@onyand  please create the simplest possible project that reproduces the problem. Create a new project using the templates and add localization. Don't change the generated code except to add localization. Create an issue in https://github.com/aspnet/localization

[2017-06-11 19:53] #3483 closed

[2017-06-11 19:55] Rick-Anderson commented on #3483
@onyand  provide fiddler traces to show what's going wrong.

[2017-06-11 20:08] onyand commented on #3483
@Rick-Anderson I have managed to sort out the issue. I changed my framework from 4.5.2 to 4.6 and it worked. Thanks!

[2017-06-12 02:07] Rick-Anderson commented on #3483
Why aren't you using .NET Core?

[2017-06-12 13:11] ljani commented on #2030
@shirhatti Thanks for the tip, exactly what I was looking for!

In my opinion, app pool environment variables should be mentioned in the IIS section of the docs.

Having environment variables in `web.config` is not a good option, because as said, it requires manual intervention during deployment or checking `web.config` into version control (ie. you end up with another `appsettings.json`). App poo

[2017-06-12 15:16] NinoFloris commented on #1935
Well... at least people have blogged about this now :/

[2017-06-13 19:10] Natasha912 opened #3491 "SignalR with Application State from onDisconnected Task"
I'm trying to update Application["something"] from SignalR onDisconnected task. I'm getting null reference exception. Is this even possible?

[2017-06-13 21:58] Rick-Anderson commented on #3491
@Natasha912  can you post this to SO? This is the documentation repo, where you open issues on the docs.

[2017-06-13 21:58] #3491 closed

[2017-06-14 10:10] Shameer-Ali opened #3492 "How to receive the inner content from "Microsoft.AspNet.Mvc.Razor.HelperResult" namespace"
I have created a custom component by using Html Helper in ASP.NET MVC. Also, did the same logic in ASP.NET Core platform.

My component will be working fine, when I have set the properties. Now I am trying to include one additional support like displaying custom contents (like images, html elements and text) with in my component like in dialog component.

In ASP.NET MVC, I have received the inner

[2017-06-14 12:52] misha-fm opened #3493 "Swagger tutorial doesn't correspond with the new version of sample project at GitHub"
The tutorial about using Swagger in ASP.NET Core WebAPI (https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-help-pages-using-swagger) has code listings, that include fererences to TodoRepository, that was changed by TodoContext in recent  update (https://github.com/aspnet/Docs/pull/3399).

Tutorial now needs to be updated to correspond with the actual codebase of the sample project.

[2017-06-14 22:33] misha-fm commented on #3493
There's a sample project with final result for the tutorial here: https://github.com/misha-fm/Docs/tree/master/aspnetcore/tutorials/web-api-help-pages-using-swagger/sample/src/TodoApi). There code in this project corresponds with the article. So it seems that both article and a sample project with final result need to be updated.

[2017-06-14 23:03] Rick-Anderson commented on #1435
Title should be
Handling requests with controllers in ASP.NET Core MVC

[2017-06-15 03:25] Rick-Anderson opened #3496 "The first preview release of ASP.NET came out almost 15 years ago as part of the .NET Framework."
From https://docs.microsoft.com/en-us/aspnet/core/
Fix/update that.

[2017-06-15 14:33] scottaddie commented on #1435
@Rick-Anderson Updated the doc title. Will look at the rest of this issue today.

[2017-06-15 15:45] tdykstra commented on #3496
@Rick-Anderson What should it say?

[2017-06-15 15:53] Rick-Anderson commented on #3496
@tdykstra  see #3497

[2017-06-15 16:04] RobVargaCH commented on #1162
Still no update guys?

[2017-06-15 16:11] danroth27 commented on #1162
I believe @ardalis will have a PR out for this shortly

[2017-06-15 16:50] ardalis commented on #1162
This week!

[2017-06-15 19:09] scottaddie opened #3499 "Sub-generators removed from ASP.NET Core Yeoman generator"
Per commit https://github.com/OmniSharp/generator-aspnet/commit/af33b2721e38a4cb31f8ba3c3b4195e85cbdd6b0, the sub-generators have been removed from this Yeoman generator. The associated [doc](https://docs.microsoft.com/en-us/aspnet/core/client-side/yeoman)'s **Adding to your project with sub generators** section specifically references the `class` sub-generator. It appears that customers running v

[2017-06-15 19:32] Rick-Anderson opened #3500 "Create Mac version of Intro to MVC tutorials"
Delete Retire https://docs.microsoft.com/en-us/aspnet/core/tutorials/your-first-mac-aspnet when this is complete. when it's complete and redirect to the the Mac version.

[2017-06-15 20:57] Rick-Anderson commented on #3492
@Shameer-Ali  This is for opening doc issues, it's not a support forum. Can you post your question on SO?

[2017-06-15 20:57] #3492 closed

[2017-06-15 21:56] peterblazejewicz commented on #3499
As far as I know there is no notion of related items or project template in `dotnet/templating`. The latest published version of `generator-aspnet` was redacted to use the same content as in `dotnet new`.  As far as I understand we should promote use of `dotnet new` for creating new content and when a feature is missing (class template, controller template) either add a request/PR to dotnet/templa

[2017-06-16 13:19] danielgreen opened #3502 "TempData can survive multiple requests"
The description of TempData in the "Introduction to session and application state" topic (https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/app-state.md) is quite explicit in saying that "This property stores data for only a single request after the current one.".

However this is not the case; the data can survive multiple requests. Items in the dictionary are marked for deletion

[2017-06-16 17:04] scottaddie opened #3504 "Fix Open Publishing build warnings"
Fix the illegal link/bookmark warnings littering the build output report. The following docs are responsible for the warnings:
1. [The Top Features in ASP.NET Web Pages 2](https://docs.microsoft.com/en-us/aspnet/web-pages/overview/releases/top-features-in-web-pages-2)
1. [ASP.NET Web Deployment using Visual Studio: Deploying to Test](https://docs.microsoft.com/en-us/aspnet/web-forms/overview/deplo

[2017-06-16 17:38] Rick-Anderson opened #3505 "Replace all screen shots of "Intro to MVC" series with chrome"
All three versions can share the same Chrome images.

[2017-06-16 19:00] Rick-Anderson opened #3506 ""Intro to MVC" remove we, future tense, acrolynx run"

[2017-06-16 21:40] tdykstra commented on #3505
But browser chrome looks noticeably different on Windows vs. Mac, e.g. close button upper right vs. upper left

[2017-06-16 21:40] #3500 closed

[2017-06-16 21:41] Rick-Anderson commented on #3505
Can I get buy with doing all the shots on Chrome/Mac? or Chrome/Windows? It won't be that big of a distraction and half the screenshots to update next version.

[2017-06-16 21:48] tdykstra commented on #3505
Yes, you can explain the reasons why you made that choice if someone comments about it.

[2017-06-17 16:43] #3496 closed

[2017-06-18 15:41] #2767 closed

[2017-06-18 15:43] Rick-Anderson commented on #481
@tdykstra where should we report this bug? cc @dend

[2017-06-18 15:49] Rick-Anderson opened #3511 "Retire 'Getting Started' TOC"
Retire this node.

![image](https://user-images.githubusercontent.com/3605364/27261978-ef1d81a0-5402-11e7-9ed2-927cea36b833.png)

[2017-06-19 15:34] tdykstra commented on #3511
You mean just the dotnet watch (the only one crossed out) or the entire Getting started node with everything under it?  What about the basic getting started tutorial that the Getting started node itself points to?

[2017-06-19 15:42] tdykstra commented on #481
@Rick-Anderson did you verify this year-and-a-half-old report is still valid?  If you go to the URL shown, it redirects to a page that doesn't have the long strings in question.

[2017-06-19 15:51] Rick-Anderson commented on #49
@baibaomen can you test https://github.com/aspnet/MusicStore/blob/dev/README.md and see if that is enough to build/test/run MusicStore?  cc @tdykstra

[2017-06-19 15:51] #481 closed

[2017-06-19 15:55] Rick-Anderson commented on #3511
I think we should get rid of the entire node. The getting started would be surfaced on the tutorials page. Or you could replace
![image](https://user-images.githubusercontent.com/3605364/27294001-ed23d1c2-54cc-11e7-9083-e163feaf0957.png)

With a link to the tutorials page - but that seems like unnecessary duplication.

[2017-06-19 16:39] tdykstra commented on #3511
I would leave Getting Started but make it a leaf node (not expanding, just goes to that one doc).  It doesn't really fit well in the same list as the other tutorials.

[2017-06-19 20:28] dend commented on #481
@Rick-Anderson @tdykstra this bug was related to the ReadTheDocs implementation of the PDF renderer. It does not apply to OPS.

[2017-06-20 18:49] vhe1 opened #3524 "Can we get a life cycle poster, like for Asp.NET web api 2 or asp.net mvc?"
For the pre-core asp.net you offered two beautiful posters, showing the life cycle of a message in

- asp.net mvc 5: https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/lifecycle-of-an-aspnet-mvc-5-application with this link [Download PDF document](https://opdhsblobprod01.blob.core.windows.net/contents/2c5850f658eb4c6992d3a09891c2eaa9/d0ed2e012c44fea6a368d4591ea14088?sv=2015-04-05

[2017-06-20 18:58] Rick-Anderson commented on #3524
@danroth27  if you can get someone to do a mock-up I'll get the art department to produce them. CC @tdykstra  @scottaddie

[2017-06-21 19:27] Rick-Anderson opened #3538 "WebAPI Web API VS tutorials - use NuGet package manager"
Under Add support for Entity Framework Core

for the VS windows/mac tutorials have them add Microsoft.EntityFrameworkCore.InMemory with the package manager. No need to edit the .csproj file.

[2017-06-21 23:21] Rick-Anderson commented on #3057
Compare with rich diff
![image](https://user-images.githubusercontent.com/3605364/27348578-6b6d94f0-55a9-11e7-81a3-420816b46b30.png)

[2017-06-21 23:41] Rick-Anderson opened #3542 "Update getting Started TOC entries"

[2017-06-21 23:45] Rick-Anderson opened #3543 "aspnet/core/client-side/angular "Using AngularJS for Single Page Applications (SPAs) with ASP.NET Core""
https://docs.microsoft.com/en-us/aspnet/core/client-side/angular
- [ ] Review/update.
- [ ] Remove anything that is documented on the Angular side
- [ ] Borrow or link to[ Sharing Configuration in ASP.NET Core SPA Scenarios](https://blogs.msdn.microsoft.com/webdev/2017/10/27/sharing-configuration-in-asp-net-core-spa-scenarios/)

[2017-06-22 00:34] Rick-Anderson opened #3544 "aspnet/core/client-side/bootstrap Building beautiful, responsive sites with Bootstrap"
https://docs.microsoft.com/en-us/aspnet/core/client-side/bootstrap

- [ ] Change title to "Using Bootstrap with ASP.NET Core MVC apps"
- [ ] Show how to use bootstrap with an ASP.NET Core app - remove all the other bootstrap info - themes, components, etc
- [ ] UE edit

[2017-06-22 00:58] Rick-Anderson opened #3545 "Port "Intro to MVC" series to use Razor pages for 2.0"
[Introduction to ASP.NET Core MVC with Visual Studio](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/index)

First pass will be VS windows. Second pass will use includes so we have VS Mac version and possibly VS Code version.

When finished, update choose-aspnet-framework.md  to point to this series.

[2017-06-22 01:33] Rick-Anderson opened #3546 "2.0 single package for all of ASP.NET Core"
When using ASP.NET Core, use the single package. If your using the .NET Framework, you can't use this single package.

- [ ] Perf increase from ASP.NET Core/EF Core included with .NET Core. You don't need to include these packages, they are in the runtime. (see 5:30 into the video) - Publishing is faster. Startup perf is better.

[2017-06-22 01:33] Rick-Anderson opened #3547 "2.0 Razor views precompiled"
https://github.com/aspnet/MvcPrecompilation
dotnet/templating#665

[2017-06-22 01:36] #3546 closed

[2017-06-22 01:39] Rick-Anderson opened #3548 "2.0 Migrating from 1.x to 2.0"
Should be ref type document, not cook book as our ASP.NET MVC classic to ASP.NET Core guide is now.
7.0 into video.

Need to update and uncomment the Markdown link & text in `aspnetcore-2.0.md` once this PR is merged.

[2017-06-22 01:41] Rick-Anderson commented on #3390
dup of #3449

[2017-06-22 01:41] #3390 closed

[2017-06-22 15:44] #3502 closed

[2017-06-22 17:37] Rick-Anderson opened #3551 "2.0 Razor pages, present as primary way to do HTML"
7:30 into video.

- [ ] Make sure the message is consistent.  #3888

- [ ] #3552
- [ ] #3545

[2017-06-22 17:44] Rick-Anderson opened #3552 "2.0 Getting started - basic Razor Page"
About 7 min into video.

@danroth27  do we put this before/after/inside of https://docs.microsoft.com/en-us/aspnet/core/getting-started ?

[2017-06-22 18:22] danroth27 commented on #3552
@shanselman @rowanmiller

Having a short intro video for ASP.NET Core could be really nice. This could be something we put on the asp.net & dot.net sites for folks that like a video intro, but we would want the video quality to be high for that.

[2017-06-22 18:24] danroth27 commented on #3552
We have something like this already for .NET Core (console apps): https://www.microsoft.com/net/core#windowsvs2017

[2017-06-22 18:30] rowanmiller commented on #3552
Agreed. As part of the redesign of dot.net I am thinking about getting started content for all different types of apps (having it - not that we'd be authoring it as part of the redesign). Also thinking about where this content belongs, because getting started probably belongs on Docs rather than the marketing site - but we have the current get started stuff there because we can be "fancier" with h

[2017-06-22 19:16] Rick-Anderson commented on #3545
@rynowak  would the [Intro to MVC series ](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc)be a good candidate to port to Razor pages?

[2017-06-23 01:10] brockallen opened #3557 "Consider adding docs for Web Api compat shim"
I had a customer today that wanted to take existing Web API 2 code and move to ASP.NET Core with minimal changes. They were looking for docs on how to use the Web API compat shim, but apparently there are none: https://twitter.com/RickAndMSFT/status/878033598367932416 // @Rick-Anderson

[2017-06-23 02:26] Rick-Anderson commented on #3557
@danroth27  do we have anything to start with?

[2017-06-23 05:27] danroth27 commented on #3557
No, we need to create a new doc from scratch.

[2017-06-23 05:28] danroth27 commented on #3557
Dup of #1811

[2017-06-23 05:28] #3557 closed

[2017-06-23 23:26] Rick-Anderson commented on #3493
Article needs work - csat 59% with high viewership.

[2017-06-24 15:52] Rick-Anderson opened #3565 "Add filter to API search"
We limit search to ASP.NET Core

![image](https://user-images.githubusercontent.com/3605364/27509842-45490908-58ba-11e7-86d3-7305ecc5408a.png)

We need to do the same for API

See related [broken build](https://mseng.visualstudio.com/VSChina/_workitems?id=1035309) and [search](https://mseng.visualstudio.com/CSI/_workitems?id=1025513)

Several closed PR's to fix this like https://github.com/aspnet/

[2017-06-24 17:21] Rick-Anderson opened #3567 "Bootstrap reboot aspnet/core/client-side/bootstrap"
The bootstrap article has high views and low ratings -  66K views in 3 months and 60% sat

- [ ] Rename article Using bootstrap with ASP.NET Core MVC
- [ ] Remove the how to use bootstrap info that is found elsewhere, and link to a good Bootstrap introduction and/or tutorial. This article should be on how to hook up bootstrap with ASP.NET  Core MVC.
- [ ] Remove or condense the alternative install

[2017-06-26 15:49] #3542 closed

[2017-06-26 15:50] Rick-Anderson commented on #3407
see also #3542

[2017-06-26 15:58] tdykstra commented on #3567
@Rick-Anderson The stats are out of sync with the LiveFyre comments, which are generally very positive.  Many customers do need an intro to bootstrap itself, so I added to your list a note to link to introductory Bootstrap documentation. Also added MVC to the proposed title.

[2017-06-26 18:45] #3407 closed

[2017-06-26 19:33] spboyer commented on #3567
Removing images from an article on a UI framework seems strange to me. Giving a goog understanding of how bootstrap works with ASP.NET MVC, TagHelpers etc would be best served with images.

[2017-06-26 19:35] spboyer commented on #3547
Views are precompiled by default in 2.0

[2017-06-26 19:52] tdykstra commented on #3567
@Rick-Anderson @spboyer I think we could remove the last bullet (remove most images) altogether, as the second bullet (remove Bootstrap content that isn't related to using it with Core) should cover it.

[2017-06-26 20:07] qmfrederik commented on #2384
It looks that when you deploy an ASP.NET Core application as a Docker Container to Azure App Services for Linux, the `X-Forwarded-Proto` header is not present.

These headers are present:
[code]

The `X-ARR-SSL` header seems like a good candidate to detect the client using https, and I'm using the following code in my application startup:

[code]

Leaving this here for anyone else who may be hitti

[2017-06-26 21:56] erwinwildenburg commented on #2384
@qmfrederik I was just looking into the exact same thing :)
Thanks!

[2017-06-27 14:59] RobVargaCH commented on #1162
Hi Guys, thanks very much for getting this out; all looks good clear.  One small recommendation I have is that in Steve's code the ApplicationUser inherits from ClaimsIdentity: this may confuse some users and maybe a quick one-liner about implementing IIdentity as an alternative may be helpful.

Thanks again.

Cheers,
Rob

[2017-06-27 16:25] terrimorton opened #3579 "Review all Codeplex links/mentions and update where needed"
https://blogs.msdn.microsoft.com/bharry/2017/03/31/shutting-down-codeplex/
"In October, we’ll set CodePlex to read-only, before shutting it down completely on December 15th, 2017."

-----
Search "codeplex" (287 hits in 87 files)
  GitHub\Docs\aspnet\aspnet\overview\developing-apps-with-windows-azure\building-real-world-cloud-apps-with-windows-azure\continuous-integration-and-continuous-delivery.md

[2017-06-27 18:50] ardalis commented on #1162
@RobVargaCH Thanks, I updated the sample in the PR to use IIdentity instead of ClaimsIdentity, along with a couple of other minor tweaks.

[2017-06-28 18:58] jbagga opened #3589 "Consider replacing GetTempFileName with GetTempPath and GetRandomFileName"
Consider removing uses of `GetTempFileName` as

The following files use this:
ProfileController
StreamingController
UploadFilesController

See aspnet/Coherence-Signed#510 for more information.

cc @Eilon

[2017-06-28 19:07] tdykstra commented on #3385
New settings are detailed here:  https://blogs.msdn.microsoft.com/webdev/2017/06/28/introducing-asp-net-core-2-0-preview-2/

[2017-06-28 22:46] Rick-Anderson opened #3592 "aspnet/core/client-side/angular "Using AngularJS for Single Page Applications (SPAs) with ASP.NET Core""
Review / update

[2017-06-28 22:48] Rick-Anderson opened #3593 "Verify all external links"
Run a tool to check all external links. fix any bad links.

[2017-06-29 17:36] scottaddie commented on #3592
@Rick-Anderson Is this a duplicate of https://github.com/aspnet/Docs/issues/3543?

[2017-06-29 19:55] Rick-Anderson commented on #3592
@scottaddie  yup

[2017-06-29 19:55] #3592 closed

[2017-06-29 20:16] geoffreyaladro commented on #49
@Rick-Anderson I tried running the MusicStore.

The README says to cd \src\MusicStore\
I went to \samples\MusicStore\

With .NET Core 1.1, running "dotnet restore" led to numerous errors.

Installed .NET Core 2.0 Preview 2 and then "dotnet restore" ran with no errors.

"dotnet run" complained that "project targets multiple frameworks"

"dotnet run --framework net461" got the MusicStore running and

[2017-06-29 22:09] Rick-Anderson commented on #49
Try `dotnet run` to run the app. If you want to use VS, you'll need [VS 17 Preview 3](https://www.visualstudio.com/vs/preview/)

[2017-06-30 03:46] GuardRex opened #3607 "Describe MSBuild props that control web.config transform"
Describe ...

* **\<IsTransformWebConfigDisabled>**
* **\<TransformWebConfigEnabled>**

... in *Set up a hosting environment for ASP.NET Core on Windows with IIS, and deploy to it*.

[2017-06-30 04:14] vijayrkn commented on #3607
Property to set is
[code]
https://github.com/aspnet/websdk/blob/afbcec9b0951d09088f26e98e6aca6114e0d32ee/src/Publish/Microsoft.NET.Sdk.Publish.Targets/netstandard1.0/TransformTargets/Microsoft.NET.Sdk.Publish.TransformFiles.targets#L47

I don't think this property - TransformWebConfigEnabled is used any where.

[2017-06-30 15:42] #3607 closed

[2017-06-30 16:57] #2461 closed

[2017-07-03 19:42] Rick-Anderson commented on #1435
@scottaddie  I'm assigning this to @ardalis

[2017-07-03 19:43] Rick-Anderson commented on #1472
@scottaddie assigning to @ardalis
Looks like most of this is done.

[2017-07-03 19:45] #3511 closed

[2017-07-03 19:46] Rick-Anderson commented on #3493
@ardalis  If you have any hours left.

[2017-07-03 19:55] #1162 closed

[2017-07-05 17:36] ardalis commented on #1435
@Rick-Anderson I started looking at this today, but @scottaddie has an open PR he's actively working on. Should I wait for him to merge it?

[2017-07-05 17:51] scottaddie commented on #1435
@Rick-Anderson @ardalis I'll reassign myself, as I'm actively working with Doug to wrap this one up.

[2017-07-05 19:50] ardalis commented on #1472
@scottaddie you don't have some WIP on this one somewhere do you?

[2017-07-05 20:13] scottaddie commented on #1472
@ardalis Nope. You're good to go.

[2017-07-05 20:38] Rick-Anderson opened #3635 "Add SQLite startup.cs snippet"
Currently the Mac/VS Code versions of **Getting started with ASP.NET Core MVC** share ` #region snippet_cs`

``
#region snippet_cs

        public void ConfigureServices(IServiceCollection services)
        {
            // Add framework services.
            services.AddMvc();

            services.AddDbContext<MvcMovieContext>(options =>
           #endregion
                    options.UseSqlSe

[2017-07-05 20:43] scottaddie commented on #3499
- [ ] Update sub generators section content
- [ ] UE edit

[2017-07-05 21:12] Rick-Anderson commented on #3589
@jbagga  what's the ask for the doc repo?

[2017-07-05 21:21] Rick-Anderson commented on #3579
If the CodePlex archive redirects - we're fine. How can we test the redirects?

[2017-07-05 21:44] jbagga commented on #3589
There are instances that use GetTempFileName, example: https://github.com/aspnet/Docs/blob/43b3de4a508e6d7b5cf495c9b3c5ffd4c6be51e6/aspnetcore/mvc/models/file-uploads/sample/FileUploadSample/Controllers/ProfileController.cs#L54

The docs should use a different API for random files because of the reason stated above. One option is to use GetTempPath and GetRandomFileName to avoid maxing out at 65,5

[2017-07-05 21:52] Rick-Anderson commented on #3589
@jbagga  I think we will do this in two phases. First pass, add a note:

The `GetTempFileName` method will raise an `IOException` if it is used to create more than 65535 files without deleting previous temporary files. A real app should either delete temporary files or use `GetTempPath` and `GetRandomFileName` to replace `GetTempFileName`.

2nd pass would be to actually follow our advice.

[2017-07-05 22:26] #3635 closed

[2017-07-05 23:39] Eilon commented on #3589
BTW to be clear about the problem, it doesn't matter how "good" *your* program is. A different misbehaving app could easily exhaust all 65535 files and then your app will never work.

[2017-07-06 01:43] Rick-Anderson commented on #3589
@jbagga  see my update to the include file that addresses [@]EILON'S  comment.

The 65535 files limit is per server, so another app on the server can use up all 65535 files.

[2017-07-06 03:30] #1435 closed

[2017-07-06 15:52] #2711 closed

[2017-07-06 18:23] #3589 closed

[2017-07-07 16:05] #2928 closed

[2017-07-07 19:42] #92 closed

[2017-07-07 20:05] Rick-Anderson opened #3654 "2.0 IHostedService"

[2017-07-07 20:06] Rick-Anderson opened #3655 "2.0 SPA templates in VS"
See http://gunnarpeipman.com/2017/07/aspnet-core2-spa/

[2017-07-07 20:08] Rick-Anderson opened #3656 "2.0 C# language versions ASP.NET Core projects (project, Razor, scaffolding)"
As dan roth for more details

[2017-07-07 20:09] Rick-Anderson opened #3657 "2.0 Range requests in MVC"
Near the end of the planning video - ask Dan Roth for more details.

[2017-07-07 20:10] Rick-Anderson opened #3658 "2.0 Hosting: IServiceProviderFactory"

[2017-07-07 20:11] Rick-Anderson opened #3659 "2.0 Startup.ConfigureContainer"
Document Startup.ConfigureContainer

[2017-07-07 20:12] Rick-Anderson opened #3660 "DI: scope validation (now on by default in hosting)"

[2017-07-07 20:13] Rick-Anderson opened #3661 "Razor extensibility"
extensible directives

@rynowak  can you outline Razor extensibility?

[2017-07-07 20:14] Rick-Anderson opened #3662 "2.0 Tag helper components, head and body tag helpers"
@pkellner would you be interested in this one?

[2017-07-07 20:16] Rick-Anderson opened #3663 "2.0 Data protection changes"
@HaoK  Are you the contact for this? What are the changes? Can you draft the changes?

[2017-07-07 20:17] Rick-Anderson opened #3664 "Runtime package store"
link to [.NET Core docs](#2725) PR https://github.com/dotnet/docs/pull/2496
Dev contact @-JunTaoLuo

ASP.NET Core publish behavior (6:50) - we imply a target manifest that includes all the packages in the all package.  How do you get the ASP.NET Core store. - make sure that' documented.
Document versioning: 7:20 If you add ABC-v-x.y to the store and then reference a different version (ABC-v-x.2) f

[2017-07-07 20:23] Rick-Anderson opened #3665 "2.0 IMiddlewareFactory, IMiddleware"

[2017-07-07 20:27] Rick-Anderson opened #3667 "Windows/Linux hosting with the new runtime store"
@Tratcher who is the contact for windows/linux hosting?

[2017-07-07 20:27] HaoK commented on #3663
Nope @blowdart should be able to find you the lucky guy

[2017-07-07 20:28] Rick-Anderson opened #3668 "Identity updates - usage outside of ASP.NET Core"
@guardrex  it's a P3 so I wouldn't worry about it. I think it had to do with using Identity outside ASP.NET Core. Maybe we should close for now. I think it came from a product announcement list or road map.

[2017-07-07 20:29] blowdart commented on #3663
@natemcmaster & @ajaybhargavb

[2017-07-07 20:38] ajaybhargavb commented on #3663
This is a duplicate https://github.com/aspnet/Docs/issues/2975

[2017-07-07 21:27] #3663 closed

[2017-07-07 21:34] Rick-Anderson opened #3669 "2.0 localization changes"
@ryanbrandenburg  can you update [Localization](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization) for 2.0 - or provide me with a draft?

[2017-07-08 14:52] Rick-Anderson opened #3672 "2.0 Add Razor Pages to XSRF/CSRF"
Add to https://docs.microsoft.com/en-us/aspnet/core/security/anti-request-forgery

### XSRF/CSRF and Razor Pages (Requires ASP.NET Core 2.0 or later)

You don't have to write any code for antiforgery validation. Antiforgery token generation and validation is automatically included in [Razor Pages](xref: mvc/razor-pages/index).

[2017-07-10 17:54] Rick-Anderson opened #3681 "Building Docker Images for .NET Core Applications"
https://docs.microsoft.com/en-us/dotnet/core/docker/building-net-docker-images

Needs update. See customer comments.

- [ ] replace project.json with .csproj
- [ ] list NPM as a prereq
- [ ] remove Yeoman
- [ ]

[2017-07-10 17:58] #1472 closed

[2017-07-10 18:22] Rick-Anderson commented on #3681
Dup of https://github.com/dotnet/docs/issues/2035

[2017-07-10 18:22] #3681 closed

[2017-07-10 18:35] Rick-Anderson commented on #2867
@GuardRex  TLDR - should we close this issue an open a new one with what you decided?

[2017-07-10 18:54] Rick-Anderson commented on #3043
@tdykstra  can you Remove this and redirect to https://www.visualstudio.com/docs/build/aspnet/core/quick-to-azure

[2017-07-10 19:02] #3499 closed

[2017-07-10 19:06] Rick-Anderson commented on #3301
@vijayrkn   what doc should that go in besides https://docs.microsoft.com/en-us/aspnet/core/publishing/iis ? It wouldn't apply to https://docs.microsoft.com/en-us/aspnet/core/publishing/web-publishing-vs

[2017-07-10 19:10] Rick-Anderson commented on #2009
@ardalis can you do this under PO?

[2017-07-10 19:10] GuardRex commented on #2867
@Rick-Anderson AFICT and IIRC the issue at https://github.com/aspnet/Templates/issues/831 covers it, so I think you can close here. If they change the behavior, then I guess a new issue linked to that Templates issue makes sense, yes. However if they don't make any changes via that issue, then a new issue over here probably isn't needed.

[2017-07-10 19:12] Rick-Anderson commented on #2008
@ardalis  can you do this?

[2017-07-10 19:18] #2867 closed

[2017-07-10 19:39] Rick-Anderson commented on #1150
@ardalis can you work on some of these check boxes? #3683 address TH so you can skip that.

[2017-07-10 20:50] #3043 closed

[2017-07-10 21:47] tdykstra commented on #3338
Closing as duplicate of #2648

[2017-07-10 21:47] #3338 closed

[2017-07-10 23:36] Rick-Anderson opened #3688 "2.0 Automatic use of anti-forgery tokens"
Add this everywhere we talk about the tokens.

https://github.com/aspnet/Announcements/issues/233

[2017-07-11 00:23] aaron-bozit opened #3691 "MVC File Streaming .Net Core 1.1 content may have already been read"
Hi @ardalis I've been trying to get file stream working in .NET Core MVC using information from: [Docs/aspnetcore/mvc/models/file-uploads/sample/FileUploadSample/](https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/models/file-uploads/sample/FileUploadSample)

But with no success in a pure .Net Core (1.1) MVC (as the sample for streaming uses Angular bindings, which is not what I'm using).

[2017-07-11 03:53] #1948 closed

[2017-07-11 15:07] #3205 closed

[2017-07-11 15:48] tdykstra opened #3694 "2.0 - Automatic precompilation"
https://github.com/aspnet/MvcPrecompilation
https://github.com/dotnet/templating/issues/665

[2017-07-11 15:50] tdykstra commented on #3694
Dup of #3547

[2017-07-11 15:50] #3694 closed

[2017-07-11 18:37] Rick-Anderson commented on #3054
From: Glenn Condron
It might be worth a doc to describe this problem with the error message(s) you get. See if we can help get people from google to the solution faster.

From: Eduard Tomàs
Subject: [eShopOnContainers] RE: netcore2 blocking issues

A quick update on this. Basically, it is not possible to reference a netstandard 1.x library compiled against 1.x nugets from a project that uses 2.x n

[2017-07-11 19:55] Rick-Anderson opened #3697 "2.0 review all views topics for Razor Page changes"
The view topics are all MVC centric and need review for Razor Pages.

- [ ]  https://docs.microsoft.com/en-us/aspnet/core/mvc/views/overview mvc/views/overview #4590

[2017-07-11 20:50] Rick-Anderson opened #3698 "core/mvc/overview "Overview of ASP.NET Core MVC""
We need a new article here to feature Razor Pages as the preferred approach. Razor Pages use the MVVM pattern. Current [Overview of ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/mvc/overview)

[2017-07-11 22:38] Rick-Anderson opened #3700 "Add form TH to list of built in"
https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/ should add the TH from https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms
![image](https://user-images.githubusercontent.com/3605364/28093945-260c3e98-6657-11e7-814e-f9cb6da57756.png)

Syntax is
`[Form Tag Helper](xref:mvc/views/working-with-forms#the-form-tag-helper)`

[2017-07-11 22:38] Rick-Anderson commented on #3700
@pkellner  can you take this?

[2017-07-12 14:30] francisco-ltech opened #3704 "Method not found: 'Void Microsoft.AspNetCore.Hosting.Server.IServer.Start"
**Full error:**
Message: System.MissingMethodException : Method not found: 'Void Microsoft.AspNetCore.Hosting.Server.IServer.Start(Microsoft.AspNetCore.Hosting.Server.IHttpApplication`1<!!0>)'.

**Using:**
<TargetFramework>netcoreapp2.0</TargetFramework>
<PackageReference Include="Microsoft.AspNetCore.TestHost" Version="1.1.2" />
    <PackageReference Include="Microsoft.NET.Test.Sdk" Version="15.3

[2017-07-12 14:53] francisco-ltech commented on #3704
Ignore, after looking at the source the Start method changed to StartAsync which you can access by installing the pre-release nuget of Microsoft.AspNetCore.TestHost.

[2017-07-12 14:53] #3704 closed

[2017-07-13 18:34] Rick-Anderson opened #3709 "terminology scrub of top topic"
Review top 20

[2017-07-13 18:36] Rick-Anderson commented on #3579
@terrimorton  @tdykstra  it looks like there will be redirects to the samples. Is there more than testing the redirects?

[2017-07-13 18:41] Rick-Anderson opened #3710 "2.0 intellisense"

[2017-07-13 18:43] Rick-Anderson opened #3711 "2.0 API ref"
related to #3710

[2017-07-13 19:02] tdykstra commented on #3579
That sounds right to me.

[2017-07-13 20:08] Rick-Anderson opened #3713 "2.0 ApplicationInsights"
[Hosting and AI](https://docs.microsoft.com/en-us/aspnet/core/aspnetcore-2.0#hosting-startup-and-application-insights)

[2017-07-13 22:24] blowdart opened #3716 "AntiForgery documentation needs to explain that it uses data protection."
## General

The anti-forgery topic doesn't mention that it uses data protection, so there are no instructions on how to set it up in a load balanced setting. This needs addressing.

[2017-07-14 15:18] scottaddie opened #3721 "2.0 view compilation changes"
ASP.NET Core 2.0 does view compilation by default. Update doc accordingly.

[2017-07-14 17:16] Rick-Anderson commented on #3716
@blowdart can you outline the instructions to set it up? I'm guessing we haven't seen alot of complaints on this because Azure uses sticky bits by default.

[2017-07-14 17:18] blowdart commented on #3716
A paragraph acknowledging it uses data protection and then linking to the config doc for it would suffice. Maybe wrapped in a note to highlight it. https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview

[2017-07-14 19:37] Rick-Anderson opened #3726 "2.0 update aspnet/core/security/authentication/cookie"
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie

[2017-07-14 20:43] Rick-Anderson opened #3728 "Check broken link report and fix"
[Internal Broken links report](https://msit.powerbi.com/groups/me/dashboards/f3ca3491-4d15-4ed3-a1f8-306d993e9b7f/reports/faa2149a-1493-49ad-9817-f337bdab395a/ReportSection)

![image](https://user-images.githubusercontent.com/3605364/28230092-c6de926a-68a2-11e7-8061-c215e7cc7794.png)

[2017-07-14 21:07] scottaddie commented on #3721
Duplicate of #3547

[2017-07-14 21:07] #3721 closed

[2017-07-15 06:24] IvandroFabiaeFilhos commented on #3728
This "Broken links report" link is only to Microsoft employees?

[2017-07-15 13:30] #3672 closed

[2017-07-15 17:01] Rick-Anderson commented on #3728
@IvandroFabiaeFilhos  yes, it's internal

[2017-07-15 17:51] Rick-Anderson opened #3734 "2.0 Fix XSRF link"
Add bookmark back in to aspnetcore/security/anti-request-forgery.md  once razor pages is published
[code]

[2017-07-15 19:24] Rick-Anderson opened #3738 "2.0 metadata update these articles"
- [x] https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-mac/adding-model
- [x] https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-xplat/adding-model (probably same include file as above)
- [x] https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-vsc
- [x] https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api-mac

[2017-07-16 00:43] Rick-Anderson commented on #3713
dup of #3389

[2017-07-16 00:43] #3713 closed

[2017-07-17 14:08] Rick-Anderson commented on #3469
[IOptionsSnapshot for 1.1](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration#ioptionssnapshot)

[2017-07-17 14:12] Rick-Anderson commented on #3669
@ryanbrandenburg  can you provide a draft for the [Localization](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization) 2.0 changes?

[2017-07-17 18:23] Rick-Anderson commented on #3552
fixed by #3722

[2017-07-17 18:23] #3552 closed

[2017-07-17 18:45] Tratcher opened #3744 "Persisting additional claims and tokens from external providers"
When signing up for your application with an external provider (e.g. Facebook), the developer may want to persist additional data about the user, as well as their access and refresh tokens.
@HaoK @blowdart @danroth27

There are at least three parts to this process.
A. Extracting additional information from the provider and storing it as claims. The information is provider specific, but there is a

[2017-07-17 19:41] danroth27 opened #3746 "Document how to connect from a mobile app to local web app in the same solution"
We should update https://docs.microsoft.com/en-us/aspnet/core/mobile/native-mobile-backend with more detailed steps on how to connect from the mobile app emulator to the web api when both are in the same solution. Ex. with the Android emulator you use IP address 10.0.2.2 and you need to update your IIS Express site bindings to allow the request through. We should also figure out  what the steps ar

[2017-07-17 20:02] Rick-Anderson opened #3747 "Add PMC commands to EF tutorial"
See https://github.com/aspnet/EntityFramework/issues/9187

[2017-07-17 20:12] Rick-Anderson opened #3748 "2.0 Add new approach to 2FA"
The templates have a new approach for [this](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/2fa) tutorial. Contact is @ HaoK
15:55 into video

[2017-07-17 20:14] Rick-Anderson opened #3749 "2.0 version of aspnet/core/security/authentication/accconfirm"
Templates have changed for [Account confirmation and password recovery](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm)
Contact is @ HaoK
15:55 into video

[2017-07-17 21:07] Rick-Anderson opened #3751 "2.0 MVC features Razor Pages supports/doesn't support"
Add action filter to Razor Pages sample.
related Razor Pages vs MVC with controller and views - how do I decide #3889

[2017-07-17 21:22] Rick-Anderson commented on #3744
@Tratcher  can you create a 2.0 sample that does this. We'll write a doc using the sample code.

[2017-07-17 21:24] Tratcher commented on #3744
@HaoK can you do part C?

[2017-07-17 21:46] HaoK commented on #3744
Sure

[2017-07-17 22:04] Rick-Anderson opened #3753 "2.0 update aspnet/core/security/authentication/social/ for 2.0"
15:55 into 7-17 recording.

- [ ] [Enabling authentication using Facebook, Google and other external providers]( https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/)
- [ ] [Google ](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/google-logins) Do the next quick update after this.
- [ ] [Combine social and local login accounts](https://docs.micr

[2017-07-17 22:05] #3688 closed

[2017-07-17 22:08] Rick-Anderson commented on #3744
@HaoK  consider using the  in-memory  DB.

[2017-07-18 01:42] computeronix commented on #2961
FYI on https://docs.microsoft.com/en-us/aspnet/#pivot=core&panel=core_tutorials
The tutorial (this issue references) - Build a website on a mac --- links to https://docs.microsoft.com/en-us/aspnet/core/tutorials/your-first-mac-aspnet which is an invalid URL

I wasn't sure where the page went otherwise would have provided PR to fix this

The file to edit is https://github.com/aspnet/Docs/blob/maste

[2017-07-18 02:20] Rick-Anderson commented on #2961
The tutorial (this issue references) - Build a website on a mac --- links to https://docs.microsoft.com/en-us/aspnet/core/tutorials/your-first-mac-aspnet which is an invalid URL

@tdykstra  how do we fix that page we don't own?
@computeronix  thanks for reporting this.

[2017-07-18 15:32] tdykstra commented on #2961
We do own that page -- fix is in #3757

[2017-07-18 17:10] Rick-Anderson opened #3758 "update .csproj version from 2.0-pre to 2.0 RTM"
- [x] mvc\views\view-compilation\sample\MvcRazorCompileOnPublish2.csproj
- [x] migration\1x-to-2x\samples\AspNetCoreDotNetCore2.0App\AspNetCoreDotNetCore2.0App\AspNetCoreDotNetCore2.0App.csproj
- [x] tutorials\razor-pages\razor-pages-start\sample\RazorPagesMovie\RazorPagesMovie.csproj

[2017-07-18 17:22] Rick-Anderson opened #3759 "2.0 update the localization docs to instruct users to disable the SFG"
disable the single file generator?

[2017-07-18 18:53] scottaddie opened #3763 "Update docs URL in README.md"
The `README.md` file of this repo references the older docs.asp.net URL. Should this URL be replaced with https://docs.microsoft.com/aspnet, which is currently referenced in the repo description text?

/cc @danroth27

[2017-07-18 19:26] danroth27 commented on #3763
Yeah, docs.asp.net points to the ASP.NET Core docs, but this repo has the docs for both ASP.NET and ASP.NET Core, so we should point to docs.microsoft.com/aspnet instead.

[2017-07-18 19:36] #3763 closed

[2017-07-18 21:08] rynowak opened #3767 "2.0 Update fundamentals/app-state"
2.0 changed the defaults for Temp Data in MVC

Cookie is now the default, using session requires additional service registration.

[2017-07-18 21:17] #2009 closed

[2017-07-18 21:21] #2008 closed

[2017-07-18 22:15] Rick-Anderson opened #3769 "2.0 Create an angular app using the templates"
Tutorial creating an app using VS 2017 preview 2 or later and the following:

![image](https://user-images.githubusercontent.com/3605364/28342206-55a8aaec-6bd4-11e7-9f42-94a65bb73a68.png)

[2017-07-18 22:16] Rick-Anderson commented on #3769
@fiyazbinhasan  can you do this?

[2017-07-18 22:17] Rick-Anderson opened #3770 "2.0 Create a React.js app"
![image](https://user-images.githubusercontent.com/3605364/28342235-7e562faa-6bd4-11e7-82c8-4173348e818b.png)

[2017-07-18 22:18] Rick-Anderson opened #3771 "2.0 create a React.js and Redux app"
![image](https://user-images.githubusercontent.com/3605364/28342263-a00f1828-6bd4-11e7-90a7-45e48ed98ab7.png)

[2017-07-18 22:20] Rick-Anderson opened #3772 "2.0 Create authentication app that connects to user store in the cloud"
Create and deploy the app to Azure.

![image](https://user-images.githubusercontent.com/3605364/28342331-f195fd6a-6bd4-11e7-9701-9efc00dac0fe.png)

[2017-07-18 22:37] Tratcher commented on #3469
https://github.com/aspnet/Options/issues/217

[2017-07-18 23:44] ajaybhargavb commented on #2975
108ae806a574395dd45f5e8f8faba764cabeca39

[2017-07-18 23:44] #2975 closed

[2017-07-19 03:11] scottaddie opened #3775 "Update "Choose between ASP.NET and ASP.NET Core""
Need to mention that VS for Mac and F# are supported in ASP.NET Core.

[2017-07-19 03:21] fiyazbinhasan commented on #3769
i can!!! 👍 kindly provide me the outline. note that I wrote a section describing how to create and developing an angular application using the template for a previous issue [Add SpaServices with ASP.NET Core doc](https://github.com/aspnet/Docs/pull/3563#issuecomment-311742160) here:

https://github.com/fiyazbinhasan/Docs/blob/angular2-doc/aspnetcore/client-side/angular2.md#creating-an-angular-appl

[2017-07-19 03:24] Rick-Anderson commented on #3769
@scottaddie  can you help me come up with an outline?

[2017-07-19 03:35] scottaddie commented on #3769
@Rick-Anderson Yep! I've assigned myself to this issue as a reminder to create an outline.

[2017-07-19 16:20] Rick-Anderson opened #3776 "2.0 auth update security/data-protection/compatibility/cookie-sharing"
https://github.com/aspnet/Identity/issues/1321

[2017-07-19 16:22] Rick-Anderson opened #3777 "2.0 Sweep all of aspnet/core/security for auth changes"
This is the master issue. List each doc here:

- [x] update security/data-protection/compatibility/cookie-sharing #3776
- [x] update & rename 2fa with sms, /security/authentication/2fa
- [x] add new TOTP/Authenticator app doc
- [x] update [core/security/authentication/social/index](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/) for new config
- [x] ~update & rename/r

[2017-07-19 16:50] blowdart commented on #3777
Also tagging @danroth27 and @HaoK

[2017-07-19 17:59] danroth27 commented on #3548
@scottaddie Can you dump your notes from our meeting here?

[2017-07-20 04:23] WernerMairl opened #3779 "document unexpected behavior (unfixed issued)"
Issue
https://github.com/aspnet/Hosting/issues/839 and his duplicate (with a better explanation about the impact) https://github.com/aspnet/Hosting/issues/1056
seems not be solved for 2.0 (breaking changes)

If not fixed, i suggest to document the unexpected behavior (it costs me a full day of dev to find out that there is no bug in my code but a unexpected behavior in the framework)

regards
Wern

[2017-07-20 05:54] danroth27 opened #3780 "2.0 Doc how to add QR codes for 2FA to the templates"
- [ ] Update  https://go.microsoft.com/fwlink/?Linkid=852423 as soon as this doc is written. Phil Henning  can update the fwlink.
- [ ] Write doc on how to add QR codes for 2FA to the templates

[2017-07-20 13:53] hanslai opened #3781 "Docs/aspnetcore/mvc/controllers/testing/sample/TestingControllersSample/ tests does not run after upgrade to the latest nuget packages"
After upgrade to the latest nuget packages for Docs/aspnetcore/mvc/controllers/testing/sample/TestingControllersSample/  none of the test will run.

And the output windows shows nothing.

The tests run fine before package upgrade.
running VS 2017 Version 15.2

[2017-07-20 14:46] scottaddie commented on #3548
Here are some notes I jotted down during the meeting...

**Doc Goal:** not to identify every change, but to identify main brush strokes

**Steps to consider documenting**
- Update packages
	- Upgrade TFM to `netcoreapp2.0`
	- Update to ASP.NET Core meta-package: `Microsoft.AspNetCore.All` (this is only relevant for .NET Core)
		- No change needed for desktop framework other than updating package v

[2017-07-20 21:34] Rick-Anderson commented on #3565
@danroth27  a PR with this fix was merged into master. Can we merge master into live?

[2017-07-20 21:36] #3349 closed

[2017-07-20 21:42] Rick-Anderson commented on #3547
fixed in multip pr's

[2017-07-20 21:42] #3547 closed

[2017-07-20 22:54] Rick-Anderson commented on #3734
fixed

[2017-07-20 22:54] #3734 closed

[2017-07-21 00:50] Rick-Anderson opened #3786 "[Project] ASP.NET Core 2.0 meta issue"
This is a meta-issue for the [ASP.NET Core 2.0 project](https://github.com/aspnet/Docs/projects/7).

We have prioritized our document planning. Leave a comment:

* If an issue priority is too high or low.
* If there is a topic we should add.

Leave a message in the issue if you can contribute. You can contribute in the following ways:

* Write sample code to be used for the article. Bonus points f

[2017-07-21 06:23] rynowak opened #3787 "Feedback: EF Doc walkthrough: Saving data"
This is my collected feedback from https://github.com/aspnet/Release/issues/191 that was part of 2.0.0 signoff activities.

## Sample Code Issues:
I opened https://github.com/aspnet/EntityFramework/issues/9220 and https://github.com/aspnet/EntityFramework/issues/9222 based on the sample code for these docs, but both of these items were resolved as by-design.

The sample code needs to be updated fo

[2017-07-21 16:40] Rick-Anderson opened #3788 "Update Authentication Methods for Visual Studio"
From https://github.com/aspnet/websdk/issues/224

https://docs.microsoft.com/en-us/aspnet/visual-studio/overview/2013/creating-web-projects-in-visual-studio#auth

**Learn more** points to https://go.microsoft.com/fwlink/?LinkId=299422
![image](https://user-images.githubusercontent.com/3605364/28473027-f5292540-6df7-11e7-9b77-3d491f3f44a0.png)

@danroth27  rather than refresh shouldn't we write a n

[2017-07-21 18:18] Rick-Anderson opened #3790 "aspnet/core/tutorials/first-web-api show how to pass multiple params"
add 2nd param for all items where is IsComplete = false or true, whatever you pass.
Customer asked for this.

[2017-07-21 18:24] #3716 closed

[2017-07-21 19:43] Rick-Anderson opened #3793 "aspnetcore/getting-started.md"
[Getting Started with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/getting-started)

- [x] In 2.x, restore is not needed. Perhaps add a note saying so. See comments in https://github.com/aspnet/Docs/pull/3792

- [x] The install instructions link for windows users defaults to the VS2017 installer, not what we want:

1.  Install [.NET Core](https://microsoft.com/net/core)

The problem

[2017-07-21 20:52] moozzyk opened #3796 "Documentation outdated for 2.0"
[The doc for authentication](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/index) is out of date for 2.0 release where authentication was redone. See https://github.com/aspnet/Security/issues/1310 for the scope of changes.

The doc also reads: "For Visual Studio 2017 RC1" even though VS 2017 shipped months ago.

The instructions for external providers linked from this

[2017-07-21 20:57] moozzyk opened #3797 "It is not clear that application id is actually client id"
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/microsoft-logins

This doc talks about application id and suddenly uses client id without pointing that these two terms are equivalent. Microsoft Developer Portal does not use the term "clientid" so it is confusing for people doing this the first time.

[2017-07-21 23:21] ajaybhargavb opened #3800 "tutorials/first-web-api Webapi Web api - UseInMemoryDatabase API has changed."
https://github.com/aspnet/Docs/blob/master/aspnetcore/tutorials/first-web-api/sample/TodoApi/Startup.cs#L12

The no param `UseInMemoryDatabase` has been deprecated (see https://github.com/aspnet/EntityFramework/blob/rel/2.0.0/src/EFCore.InMemory/Extensions/InMemoryDbContextOptionsExtensions.cs#L83). This code needs to be updated.

[2017-07-21 23:32] ajcvickers commented on #3787
Thanks Ryan! 👍 Moved to EF-docs repo.

[2017-07-21 23:32] #3787 closed

[2017-07-22 00:33] ajaybhargavb opened #3801 "Misleading data in tutorial doc"
The "Update" part of https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?tabs=aspnet20 tutorial has misleading input data for the PUT request.

The request body in this https://github.com/aspnet/Docs/blob/master/aspnetcore/tutorials/first-web-api/_static/pmc.png image has `"key": 2` but there is no field in `TodoItem` named `key`. It should be `id` instead.

[2017-07-22 01:49] Rick-Anderson commented on #3753
@01binary let me know if you can help update these for VS 2017/ASP.NET Core 2.x
I can do all the MD work if you want to provide the updated steps.

[2017-07-22 02:24] 01binary commented on #3753
I think I will have some time during the next couple of weeks.

[2017-07-22 16:50] Rick-Anderson commented on #3753
@01binary  put yourself as lead author and me second. Drop Pranav Rastogi

[2017-07-22 20:36] 01binary commented on #3753
Setting up my environment with Visual Studio 2017 Preview version 15.3 and .NET Core 2.0 Preview 2 unless you specify otherwise.

[2017-07-22 22:27] Rick-Anderson commented on #3753
I can do the SSL work. For Visual Studio 2017 preview 3 and higher, the individual user accounts tutorial automatically set the URL to HTTPS.

Install latest .NET Core 2.0 SDK from https://github.com/dotnet/cli/tree/release/2.0.0
Note that ASP.NET Core 2.0 is a separate install from VS. You have to separately download and install the .NET Core 2.0 SDK to get the ASP.NET Core 2.0 bits.

[2017-07-22 22:28] Rick-Anderson commented on #3753
@01binary  also list yourself as lead author and drop the other co-authors.

[2017-07-23 02:29] danroth27 commented on #3793
I think we should update the default getting started instructions for 2.0, and then have a link to separate getting started instructions for 1.1 (i.e. "Looking to get started with 1.1? Go __here__").

We'll need to follow up separate with folks to get the [Getting Started with ASP.NET Core](https://www.microsoft.com/net/core#windowsvs2017) page updated.

[2017-07-23 03:41] Rick-Anderson opened #3804 "2.0 remove duplicate SSL"
@Rick-Anderson any chance we could have the last section "Set up IIS Express for SSL/HTTPS" reference https://docs.microsoft.com/en-us/aspnet/core/security/https topic instead of duplicating the beginning of that topic along with the project properties screenshot?

For example (maybe rename the heading as well):

## Configure your project to use HTTPS/SSL

Projects created using **Web Application*

[2017-07-23 16:35] #3804 closed

[2017-07-24 16:46] Rick-Anderson commented on #3801
@ajaybhargavb  thanks. Dup of #3076

[2017-07-24 16:46] #3801 closed

[2017-07-24 17:00] Rick-Anderson commented on #3797
@01binary

[2017-07-24 17:06] Rick-Anderson commented on #3779
@WernerMairl  can you suggest where this should be documented? Can you suggest the text?

[2017-07-24 17:41] #3749 closed

[2017-07-24 21:19] scottaddie opened #3809 "Migrating from ASP.NET proper to ASP.NET Core 2.x"
For customers who still haven't moved to ASP.NET Core from ASP.NET proper, it would be useful to have a migration doc. This doc should serve as a reference, not an end-to-end walkthrough.

[2017-07-25 02:31] Rick-Anderson opened #3812 "Update template image for Razor Pages"
Q: 2.	I don't see a template for "Razor Pages" as shown in the docs here: https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/#creating-a-razor-pages-project-with-visual-studio-2017.

A: this has changed now for 2.0 RTW and we should update the documentation

[2017-07-25 15:37] 01binary opened #3815 "Kestrel HTTPS instructions are incomplete"
Summary
- [ ] Kestrel configuration snippet that refers to `appsettings.json` should specify that `appsettings.json` should be edited
- [ ] Steps for exporting certificate using `openssl` should mention that `sudo` elevation is required due to "unable to write random state" error
- [ ] Configuration snippets, file names, and the whole topic should be checked for missing info. Kestrel config might

[2017-07-25 16:55] Rick-Anderson opened #3819 "Update "Get started with ASP.NET""
See [ASP.NET Documentation](https://docs.microsoft.com/en-us/aspnet/#pivot=aspnet&panel=aspnet_overview)

![image](https://user-images.githubusercontent.com/3605364/28583676-de02376a-711e-11e7-9a7f-c35207115c79.png)

It sends you to a VS download and has nothing about ASP.NET. Recommend we replace that target with one of the following:

- [ASP.NET overview](https://docs.microsoft.com/en-us/aspnet/

[2017-07-25 18:30] tdykstra commented on #3819
We would have to change the text in the card too, since it does say "Download VS ..."
An alternative would be to replace "Get started..." with "Download Visual Studio" and make the text below it read "Visual studio is the free IDE for ASP.NET on Windows."

[2017-07-25 18:31] #3388 closed

[2017-07-25 19:18] mjrousos opened #3821 "Dead link in aspnet/core/fundamentals/servers/weblistener"
The link to [Windows Authentication](https://docs.microsoft.com/en-us/security/authentication/windowsauth.md) in https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/weblistener leads to a 404.

[2017-07-25 20:18] #3821 closed

[2017-07-25 20:19] scottaddie commented on #3821
@mjrousos Thank you for reporting this. The fix has been merged.

[2017-07-26 00:04] Rick-Anderson commented on #3759
fixed

[2017-07-26 00:04] #3759 closed

[2017-07-26 05:41] 01binary commented on #3753
Sounds like 1.0a should be removed because 1.0 stack is no longer supported? Reference: https://github.com/aspnet/Security/issues/1310

[2017-07-26 15:20] scottaddie commented on #3775
Fixed with https://github.com/aspnet/Docs/pull/3789

[2017-07-26 15:20] #3775 closed

[2017-07-26 16:31] Rick-Anderson opened #3827 "Remove tutorials.md from mvc folder"
but how did tutorials.md get in both the root folder and under the mvc folder? It highlights two places in the TOC now, and tutorials.md isn't limited to MVC so it shouldn't be under the mvc node.

[2017-07-26 18:59] Rick-Anderson opened #3828 "tutorials/first-mvc-app/adding-model include"
Fix include - this is SQL/Windows version and has
For this tutorial you'll use SQLite, but EF Core supports many database engines.
https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model

[2017-07-27 04:04] erangaapp opened #3833 "Create sample for Integration testing with user claims."
Hi there,

How can I use Integration Testing with User Claim. When we have Authorize attribute at the top of the controller. I am trying to do this according to the this post https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/testing . but I didn't got it. Can you please put a sample for Integration testing with user claims.

Thank you

[2017-07-27 06:11] erangaapp opened #3834 "Integration test against Index action of the HomeController of ASP.NET Core Web Application (.Net Core) it's return an error page"
I trying to test against Index action of the HomeController of  ASP.NET Core Web Application (.Net Core)
and when I debug the test for

**var response = await _client.GetAsync("/");**

<h1>An error occurred during the compilation of a resource required to process this request. Please review the following specific error details and modify your source code appropriately.</h1>
    <div id="stackpage"

[2017-07-27 06:46] 01binary commented on #3753
Updated index and facebook so far

https://github.com/01binary/Docs/blob/master/aspnetcore/security/authentication/social/index.md
https://github.com/01binary/Docs/blob/master/aspnetcore/security/authentication/social/facebook-logins.md

Going to create a PR when all done

[2017-07-27 17:36] #3828 closed

[2017-07-27 17:57] Rick-Anderson commented on #3770
https://stackoverflow.com/questions/45288226/setting-up-reactjs-on-net-core-2-0-invalidoperationexception
Rather than https://reactjs.net/getting-started/tutorial.html - perhaps the templates are better.  cc @fiyazbinhasan

[2017-07-27 19:51] 01binary commented on #3753
In the course of updating the content, I found that complaints about steps no longer applying for Facebook and Google were due to skipped steps while following the tutorials. I will add more screenshots to increase screen space taken by some important steps, making it less likely for someone to skip a single-sentence bullet point.

Many other complaints were about the right place to add social pro

[2017-07-28 04:45] Rick-Anderson commented on #3664
@JunTaoLuo
C:\Program Files\dotnet\store is really the ASP.NET Core 2.0 store - it's not a generic .NET 2.0 store - right? cc @GuardRex

[2017-07-28 13:10] WiredUK opened #3844 "Documentation pages generating browser errors in the console"
The docs pages are generating lots of errors in the console. For example:

Seems to be some sort of Javascript that runs on a timer. Happens on any page that has actual docs (i.e. doesn't seem to happen on the homepage.) Screenshot for info:

![image](https://user-images.githubusercontent.com/7810709/28718458-028508c0-739e-11e7-9d64-1773f1c91559.png)

[2017-07-28 13:56] scottaddie commented on #3844
I've confirmed that this isn't specific to the ASP.NET Core docs and that it occurs in Edge as well:
![error](https://user-images.githubusercontent.com/10702007/28720332-7deb1a26-7372-11e7-9d9f-d35f624ea118.png)

[2017-07-28 15:21] Rick-Anderson commented on #3812
fixed

[2017-07-28 15:21] #3812 closed

[2017-07-28 16:33] Rick-Anderson commented on #3844
@dend

[2017-07-28 16:40] tdykstra opened #3845 "Topic: how to set up authentication for ASP.NET Core Web API with ADFS"
See [forum post](https://forums.asp.net/post/6156135.aspx)
Write with 2.0

[2017-07-29 01:53] JunTaoLuo commented on #3664
The store directory is intended to contain all runtime package store files. Currently ASP.NET Core is the only user that installs runtime package stores there. In the future, it is theoretically possible that other third parties also install runtime package store files to that location.

[2017-07-29 02:02] 01binary commented on #3753
I don't know what this means but I went through the steps and everything looks accurate in that last section. I updated the screenshot to match the new project template, but differences were minimal.

[2017-07-29 16:36] isaac2004 commented on #3809
@scottaddie, I can take this depending on the timeline. What version of Core should the guide target?

_Sent from my Samsung SM-G955U using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 22:53] scottaddie commented on #3809
@isaac2004 The goal is to cover migration to ASP.NET Core 2.0. No particular timeline in mind. Take a crack at an outline for the doc and post it here for approval before going too far.

[2017-07-30 01:01] isaac2004 commented on #3809
So basically update this doc and children docs?

https://docs.microsoft.com/en-us/dotnet/core/porting/

_Sent from my Samsung SM-G955U using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 02:06] scottaddie commented on #3809
@isaac2004 The doc you linked to lives in the **dotnet/core** repo, which focuses on .NET Core. Here, we want to keep the focus on ASP.NET Core &mdash; specifically, migrating an ASP.NET MVC 5 or Web API 2 application to ASP.NET Core 2.x. The thought is that many ASP.NET proper customers haven't used ASP.NET Core yet.

What I'm proposing in this issue is a brand new doc that would live under the [

[2017-07-30 23:53] hanslai opened #3849 "CS1061 'HttpClient' does not contain a definition for 'PostAsJsonAsync' For asp.net core project"
Not sure if the is the right place to post this issue.

When try to following the Doc for  "Integration Testing" example https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/controllers/testing/sample, for a pure asp.net core project, I got the following error.

 CS1061	'HttpClient' does not contain a definition for 'PostAsJsonAsync'

Here are the nudge package  was including.

[code]

I have

[2017-07-31 01:36] Rick-Anderson commented on #3809
No.
Looking for reference style doc going from MVC 5/Web API 2 to ASP.NET Core 2.

[2017-07-31 14:59] isaac2004 commented on #3809
@scottaddie @Rick-Anderson

I took an hour to think through what I would like from a doc to act as a "Reference Guide" when migrating my Web Application from .Net Framework 4.x to ASP.NET Core 2 and here is what I came up with, let me know if there is stuff missing/not needed

- Prerequisites
   - Tooling, links to other docs, etc

- Benefits to Core vs Proper
    - Platform Independence (infograp

[2017-07-31 15:56] Rick-Anderson commented on #3809
Skip benefits - that's another doc. This should focus what you need to know to migrate.
~Benefits to Core vs Proper~

~Platform Independence (infographic for instance)~
~Performance Gains from using Core~

Outline looks like a good start. Maybe look at [Migrating From ASP.NET MVC to ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/migration/mvc) and rewrite that as a ref doc - rather

[2017-07-31 21:09] Rick-Anderson commented on #3849
I'm guessing the sample is missing a using statement.
`WinInsider.System.Net.Http.Formatting` is not an ASP.NET Core assembly.
We'll investigate, thanks for the report.

[2017-07-31 21:14] Rick-Anderson commented on #3844
@DuncanmaMSFT  do you have an public issue we can track?

[2017-07-31 21:14] #3844 closed

[2017-07-31 21:17] Rick-Anderson commented on #3834
@erangaapp  See https://docs.microsoft.com/en-us/aspnet/core/testing/integration-testing
This is not a support forum. If you find a problem with a document, open an issue.

[2017-07-31 21:17] #3834 closed

[2017-07-31 21:18] Rick-Anderson commented on #3833
@erangaapp  this is not a support forum. Can you try asking that question on stack overflow?

[2017-07-31 21:19] Rick-Anderson commented on #3833
@erangaapp  thanks, hopefully we can get some help writing this. Good suggestion.

[2017-07-31 22:38] isaac2004 commented on #3809
@scottaddie @Rick-Anderson I'll take a look at that step-by-step doc. Do we still need something like that? Or is the reference good enough?

_Sent from my Samsung SM-G955U using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 22:54] scottaddie commented on #3809
@isaac2004 The reference doc is good enough.

[2017-07-31 23:02] isaac2004 commented on #3809
Sounds good, I'll fork and start in a new file. Figure out what to do when it is farther along.

[2017-08-01 01:42] hanslai commented on #3849
@Rick-Anderson I am not sure if it is because of  a missing using statement.  I believe it is something else, below are the using statements

[code]

[2017-08-01 14:11] WiredUK commented on #3844
@Rick-Anderson I assume this means there's something internal going on that you can't share? It's not clear why it was closed otherwise.

[2017-08-01 15:58] Rick-Anderson commented on #3844
@WiredUK  sorry - yes we have an internal bug on this. It's a microsoft.docs issue, not ASP.NET.

[2017-08-01 16:06] #3753 closed

[2017-08-01 19:14] Rick-Anderson opened #3861 "2.0 Update mvc/views/tag-helpers/built-in/anchortaghelper for asp-page"
@pkellner  can you add `asp-page`? See my Razor Page tutorials for more info.

[2017-08-01 20:16] Rick-Anderson opened #3862 "aspnet/core/security/authentication/social/ for 2.0"
@01binary - this from @timheuer

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/google-logins
i'm following this doc and after adding the middleware package, the api AddGoogleAuthentication (and the Microsoft one) are not available
I think it should be app.Use*

MSA auth would fails
-- end of Tim --

Can we mark off the steps that require ASP.NET Core 2.0? Did we lose

[2017-08-01 20:39] 01binary commented on #3862
We can add a tabbed container with code snippets for 1.x and 2.x. I dropped 1.x steps because they constitute breaking changes. The 1.x snippets can be recovered from previous version to add them back.

[2017-08-01 21:52] artiomchi opened #3863 "Views/Working With Forms has a confusing (potentially wrong) statement about using for vs foreach"
A statement on the [Working With Forms](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms) has been brought up to me, and it got me a bit confused.

It states (it's the only reference to `foreach` on the whole page):

Now this is interesting for two reasons.

First of all - wouldn't it be the other way around? If you want to iterate through the whole list, wouldn't foreach

[2017-08-01 23:09] Tratcher opened #3864 "aspnet/core/data/ef-mvc/ updates for 2.0"
https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/

Signoff issue: https://github.com/aspnet/Release/issues/176

Major item:
All the code around DbInitializer needs to be moved from Startup to Main. The old pattern is now causing problems with migrations.
[code]
Standard cleanup:
Redo screenshots, update versions, redo command line sample output.

Minor items:
- Microsoft.EntityFrameworkCor

[2017-08-01 23:28] tdykstra opened #3865 "publishing/azure-continuous-deployment "Continuous deployment to Azure for ASP.NET Core, with Visual Studio and Git""
- [ ] Azure portal screen shots are out of date
- [ ] Validate Team Explorer instructions -- I don't see the same options shown here for the Solution Explorer context menu for the solution
 - [ ] Given that the primary topic is Azure deployment, consider moving this to the Azure doc set.

[2017-08-01 23:51] JunTaoLuo opened #3866 "EF Getting Started Doc updates for 2.0.0"
Following up with issues found in EF getting started docs during 2.0.0 signoffs at https://docs.microsoft.com/en-us/ef/core/get-started/

- .NET Framework - New Database: `Templates ‣ Visual C# ‣ Windows` is now called `Templates ‣ Visual C# ‣ Windows Classic Desktop`
- .NET Framework - New Database: `Console Application` is now called `Console App (.NET Framework)`
- .NET Framework - Existing Dat

[2017-08-02 00:58] tdykstra commented on #1025
@Rick-Anderson If this was fixed by #2785, is there a reason it wasn't closed?  I need to either use this for another TH Intro doc change or create a new issue-- it says you need to install a specific package for TH intellisense but that's not the case in 2.0 .

[2017-08-02 01:27] Rick-Anderson commented on #1025
That was fixed in the last VS release and doesn't apply to 2.0.
Feel free to add to this issue or create a new one. It wasn't totally fixed, so I updated the comment.

[2017-08-02 02:34] Rick-Anderson opened #3867 "2.0 Update Getting started with MVC to include 2.0"
- [ ] [Getting started with ASP.NET Core MVC and Visual Studio](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc)

[2017-08-02 15:17] 01binary commented on #3862
I verified MSA for 2.0 at the time of writing that topic. Does @timheuer want to start an email chain or post here to describe his experience? The step where it fails is important. Did he look at Troubleshooting section?

[2017-08-02 15:51] guardrex opened #3871 "[2.0] Use AssetTargetFallback in sample?"
The sample in [Adding a model to an ASP.NET Core MVC app](https://docs.microsoft.com/aspnet/core/tutorials/first-mvc-app-mac/adding-model) (*start-mvc/sample/MvcMovie.csproj*), uses `PackageTargetFallback`. Prompted by a discussion regarding `PackageTargetFallback` [here](https://github.com/dotnet/cli/issues/3439#issuecomment-319702662), this might (probably) require work ... versioned samples?

C

[2017-08-02 16:04] GuardRex commented on #3871
@tdykstra, if you need this and provide guidance on how u want it fixed, I can square it away tonight.

[2017-08-02 16:10] tdykstra commented on #3871
I'm not working on start-mvc at the moment, but @Rick-Anderson might be interested.

[2017-08-02 18:42] #3862 closed

[2017-08-03 00:27] tdykstra opened #3873 "Add App Insights to Building Real-World Cloud Apps e-book"
The telemetry chapter of the Building Real-World Cloud Apps e-book was written before App Insights was released.

https://docs.microsoft.com/en-us/aspnet/aspnet/overview/developing-apps-with-windows-azure/building-real-world-cloud-apps-with-windows-azure/monitoring-and-telemetry

[2017-08-03 16:23] Rick-Anderson commented on #3867
dup of #3545

[2017-08-03 16:23] #3867 closed

[2017-08-03 18:32] scottaddie commented on #3796
This issue will be addressed in https://github.com/aspnet/Docs/pull/3874.

[2017-08-03 18:57] #3819 closed

[2017-08-03 18:58] Tratcher opened #3877 "aspnet/core/publishing/iis#configuration-of-sub-applications clarification and samples"
https://docs.microsoft.com/en-us/aspnet/core/publishing/iis#configuration-of-sub-applications
https://github.com/aspnet/Hosting/issues/1156#issuecomment-319850581

The current text describes hosing nested ASP.NET Core applications as sub applications under other ASP.NET Core applications. In that case you need to exclude `<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resource

[2017-08-03 19:26] GuardRex commented on #3877
@Tratcher

For that use case, excluding the `<handlers>` section does the same thing as not having `<add>`. Do you prefer it to say explicitly something along the lines of (expressing the idea ... not these exact words) ...

RE the non-ASP.NET Core sub app scenario ...

Easy ... I'll make a PR with this in the commit, including your example.

[2017-08-03 19:34] #1171 closed

[2017-08-03 19:34] #3412 closed

[2017-08-03 19:38] Tratcher commented on #3877
The first case should include a sample rather than just describe it:
[code]

[2017-08-03 19:54] scottaddie commented on #3386
Duplicate of https://github.com/aspnet/Docs/issues/3777

[2017-08-03 19:54] #3386 closed

[2017-08-04 14:34] Rick-Anderson commented on #3873
@tdykstra  that series is so obsolete can we get them to retire it and open an issue in the Azure repro? Maybe open an issue in Azure asking them to retire that series too - then close this issue?

[2017-08-04 14:40] Rick-Anderson commented on #3866
moved to EF docs repo https://github.com/aspnet/EntityFramework.Docs/issues/427

[2017-08-04 14:40] #3866 closed

[2017-08-04 14:43] Rick-Anderson opened #3886 "Update to 2.0 Create a web app on Mac"
https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/
see also https://github.com/aspnet/Docs/issues/3871

[2017-08-04 14:44] Rick-Anderson opened #3887 "2.0 update to Create an ASP.NET Core MVC app with VS Code"
https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-xplat/

[2017-08-04 14:52] Rick-Anderson commented on #3863
@NTaylorMullen please review

[2017-08-04 15:04] tdykstra commented on #3873
Like a lot of the P&P ebooks, the material is old but much of it is still useful.  If we retired everything that's old in the /aspnet/ folder of the repo there wouldn't be much left.  My suggestion is to leave this open with a low priority, and see if someone eventually volunteers to do the update.

[2017-08-04 16:51] tdykstra opened #3888 "Ensure that Razor Pages are presented consistently as part of MVC"
Make sure we consistently refer to Razor Pages as part of MVC and not a separate thing.

For content that uses MVC with controllers and views add the phrase “with controllers and views”. Razor Pages should generally be assumed, but it’s ok to say “with Razor Pages” when additional clarity is needed.

[2017-08-04 17:08] Rick-Anderson commented on #3888
dup of #3551

[2017-08-04 17:08] #3888 closed

[2017-08-04 18:30] Rick-Anderson opened #3889 "Razor Pages vs MVC with controller and views - how do I decide"
See
[Public review URL](https://www.dropbox.com/sh/yy994551cje0kap/AAB0tRnm7gze2kYrSYPSFHIda?dl=0)
[Internal review URL](https://review.docs.microsoft.com/en-us/aspnet/core/razor-pages/rp-mvc?view=aspnetcore-2.1&branch=pr-en-us-7801)

We need a short section on this. (perhaps in the RP intro - but will need to link to it) Perhaps to include:

If you're familiar with the MVC approach, continue app

[2017-08-04 18:34] tdykstra commented on #3889
Why wouldn't this go in the RP intro?

[2017-08-04 18:38] #3460 closed

[2017-08-04 22:05] GuardRex commented on #3369
@Rick-Anderson @tdykstra I'm working on the updates now for 2.0. Let's piggyback the 2.0 update on this issue, and I'll knock them both out.

@olavt The part of the topic that pertains to permissions is this bit ...

However, I didn't add that level of detail to the sample itself (in its *README.md* file at https://github.com/aspnet/Docs/tree/master/aspnetcore/security/key-vault-configuration/samp

[2017-08-04 22:39] Rick-Anderson commented on #3369
@GuardRex  sounds great.

[2017-08-06 04:58] WernerMairl commented on #3779
no sorry, english is my 3° language with a lot of difficults for me!

Issue  https://github.com/aspnet/Hosting/issues/1056 contains a god explanation and can be used as basic idea!

- We have a "known issues" area (release notes) ?

- The story behind my usecase (that can help to find the right place for documentation)
i was starting from some of the default samples/docs for using ConfigurationBui

[2017-08-06 19:07] Rick-Anderson commented on #3669
@ryanbrandenburg  can you provide a draft for the [Localization](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization) 2.0 changes?

[2017-08-06 21:22] Rick-Anderson commented on #3779
@GuardRex  would you mind commenting on this? I'll fix it, don't spend more than 5 minutes on it.

[2017-08-06 21:43] GuardRex commented on #3779
The problem is very well laid out by @kierenj in https://github.com/aspnet/Hosting/issues/839#issue-171836583.

The easy way to go is to splice a `![NOTE]` into https://docs.microsoft.com/en-us/aspnet/core/fundamentals/hosting#overriding-configuration, possible linking that :point_up: issue and possibly mentioning the workaround of @AndSDev at https://gist.github.com/AndSDev/03b2ed680ded355724bef4

[2017-08-06 21:49] GuardRex commented on #3779
If you want a `![NOTE]` passage, let me know. Now that I'm back to being semi-retired, I have *plenty of time* to knock something up. :grinning:

[2017-08-06 21:51] Rick-Anderson commented on #3779
That would be awesome!

[2017-08-06 21:52] GuardRex commented on #3779
Sure ... I'm going out for a 🚴 ride (one of my retirement duties! lol), and I'll shoot u back something shortly.

[2017-08-06 22:22] Rick-Anderson commented on #3889
@DamianEdwards  can you draft a paragraph on "Razor Pages vs MVC with controller and views - how do I decide?" ?

[2017-08-06 22:42] #3779 closed

[2017-08-07 15:31] Rick-Anderson opened #3903 "Update 2.0 install instructions when .NET Core 2.0.0 RTW"
- [x] aspnet/core/getting-started-1.1
- [x] aspnet/core/getting-started
- [x] https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/
- [x] https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start
- [x] https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc
- [x] https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-mac/start

[2017-08-07 17:55] shirhatti opened #3906 "Document how ANCM generates log file names"
https://docs.microsoft.com/en-us/aspnet/core/hosting/aspnet-core-module doesn't specify how ANCM uses the `stdoutLogFile` attribute to generate file names.
It will be useful to document this as this question has been asked a few times.

Related: https://github.com/aspnet/AspNetCoreModule/issues/130

cc @bgever @pan-wang

[2017-08-07 19:54] tdykstra commented on #3793
@danroth27 In a basic, as-simple-as-possible getting-started tutorial, why would we even offer prior-version instructions, i.e., why not just present 2.0 instructions?  We already have one comment that reads "Previous versions required ... if you get an error ... install the latest".  If someone wants to learn 1.1 they must already know something about ASP.NET Core and this wouldn't be the right p

[2017-08-07 20:22] danroth27 commented on #3793
The 2.0 instructions are definitely the top priority. We want to direct new users to 2.0

ASP.NET Core 1.1 will still be supported however for a while after 2.0 ships, so the 1.1 specific docs shouldn't just disappear.

[2017-08-07 21:05] Rick-Anderson commented on #3793
We can save a PDF for 1.1 like we did with VS 2015. We don't want to maintain two versions and we'd like folks to move to 2.0. I don't see much demand for a 1.1 version of this tutorial.

[2017-08-07 22:20] tdykstra commented on #3793
That's the issue -- elsewhere we are saving 1.1 text by putting it in 1.x vs. 2.x tabs, but for this ultra simple getting started tutorial I can't think of why someone would need a 1.1 version.  I can see keeping a 1.1 version of Intro to MVC.

[2017-08-07 22:58] danroth27 commented on #3793
That decision can't be made at the documentation level. .NET Core has a published support policy, so until 1.1 goes out of support the 1.1 documentation needs to continue to be available.

What's the concern with maintaining the 1.1 getting started content on a separate page?

[2017-08-07 23:05] tdykstra commented on #3793
It's the nature of the documentation.  It's a simple install link + a few CLI commands and you're done.  It's not documenting anything that isn't already covered in dozens of other places.  And it's not like we'd be saving the prior version as-is, we'd have to write a new one that explains how to install an old version and how to make sure your CLI commands use it even if a newer version is instal

[2017-08-07 23:09] danroth27 commented on #3793
You might need the 1.1 version, for example, to get the install links for setting up a 1.1 machine for a new member of your team. You might not have moved forward to 2.0 yet for a variety of reasons (you're targeting an older .NET Framework version, your organization adopts things slowly, you're already working on a 1.1 app that's in production and migration isn't a priority right now, etc.)

[2017-08-07 23:46] wadepickett commented on #2406
@tdykstra @Rick-Anderson ,
Update on this?  Pr1 label but in the backlog still.

[2017-08-07 23:58] Rick-Anderson commented on #2406
@wadepickett  no ETA and not scheduled in the next quarter.

[2017-08-08 02:13] tdykstra commented on #2406
@wadepickett This won't take a big effort to finish up, I can take some time next week to take care of it.

[2017-08-08 17:52] Rick-Anderson opened #3913 "UE pass on fundamentals/file-providers"
Low csat. Unanswered questions.

[2017-08-08 21:54] muratg opened #3916 "HttpContext thread safety issues"
HttpContext is not thread safe and folks are falling into pitfalls quite often. One recent example is here: https://github.com/aspnet/HttpAbstractions/issues/839

We should doc the behavior and show examples of correct usage (queue access to HttpContext for example.)

[2017-08-08 23:22] #3793 closed

[2017-08-08 23:34] Eilon commented on #3710
BTW what exactly is needed from me on this? Not too long ago I sent an email with all the products, package names, and versions for all 3 versions of ASP.NET Core and EF Core (1.0, 1.1, and 2.0).

[2017-08-08 23:34] Eilon commented on #3711
BTW what exactly is needed from me on this? Not too long ago I sent an email with all the products, package names, and versions for all 3 versions of ASP.NET Core and EF Core (1.0, 1.1, and 2.0).

[2017-08-09 02:53] Rick-Anderson commented on #3711
@Eilon  we the 2.0 API reference for ASP.NET Core and EF Core

[2017-08-09 17:11] ryanbrandenburg commented on #3669
The only Localization breaking change I'm aware of for 2.0.0 is aspnet/Announcements#260 and I don't believe that requires an update in the docs. Is there something more specific you're looking for.

[2017-08-09 17:15] Rick-Anderson commented on #3669
@ryanbrandenburg  breaking changes and new features.

[2017-08-09 17:27] isaac2004 commented on #3593
@Rick-Anderson is there a preferred tool for this or can I use something like [awesome-bot](https://github.com/dkhamsing/awesome_bot)

[2017-08-09 17:33] isaac2004 commented on #1095
@danroth27 are you looking for a doc or a sample or both?

[2017-08-09 17:36] isaac2004 commented on #1307
@Rick-Anderson isn't this doc being replaced with the doc #3809 ?

[2017-08-09 18:08] ryanbrandenburg commented on #3669
According to [this query](https://github.com/aspnet/Localization/issues?q=is%3Aissue+is%3Aclosed+milestone%3A2.0.0) there were no new features for Localization in 2.0.0.

[2017-08-09 18:45] Rick-Anderson commented on #3593
@isaac2004  I used https://validator.w3.org/checklink last time but use anything that works.

[2017-08-09 19:03] isaac2004 commented on #3593
@Rick-Anderson just external links or things like css as well?

[2017-08-10 15:08] danroth27 commented on #1095
I think we just need to add a note to https://docs.microsoft.com/en-us/aspnet/core/fundamentals/hosting in the section on UseCaptureStartupErrors.

[2017-08-10 15:11] davidfowl commented on #1095
This is only on by default when running behind IIS

[2017-08-10 15:54] tdykstra commented on #1095
@isaac2004 I have active PR #3875 with changes to hosting.md.  If you want to take this you're welcome to do so, or I can add the note today to my PR.

[2017-08-10 16:23] ardalis commented on #3691
I spent some time troubleshooting this and was able to figure out the issue. The docs sample does use Angular, and one key reason is described here:

[code]
Angular's code is used to pass the anti-forgery token in an HTTP header. In your sample, you're just doing a straight form post from the browser, so no headers are being set. Likewise, the antiforgery token isn't present in the form values, ei

[2017-08-10 16:58] isaac2004 commented on #1095
@tdykstra if you are already there just do it, I won't look at it for a day or so probably