[2020-05-29 01:06] #18511 closed

[2020-05-29 01:24] dselvan commented on #18554
Hi @guardrex. While the cert is installed as part of the sdk installation it is not trusted by defualt (or at least I hope not... wouldn't want a random dev cert to be trusted on my machine without being deliberate) . To trust the cert you need to run `dotnet dev-certs https --trust` as stated in the docs on [enforcing SSL](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=a

[2020-05-29 01:51] guardrex commented on #18554
Correct ... not by default, but ...

... not so much by way of a mention in a rather deeply buried topic. The SDK install output (or VS tooling) instructs to trust the cert and provides the command. In most cases AFAIK, devs must trust it in order to run anything securely. For example, all of the templates default to HTTPS.

I'm a bit concerned about calling out a fundamental framework/tooling asp

[2020-05-29 02:10] scottaddie opened #18558 "Create MS Learn module: Cloud-native ASP.NET Core microservices"
Plan, write, and publish an MS Learn module for cloud-native microservices.

- [x] Module planning and scoping
- [x] Create a proof-of-concept
- [x] Create module proposal
- [x] Gather feedback on module proposal and adjust as necessary
- [x] Create Bash script to provision Azure resources
- [x] Create the starter project
- [x] Request module badge
- [x] Create the code sample repo
- [x] Write the

[2020-05-29 02:11] scottaddie commented on #18558
PR is available at https://github.com/MicrosoftDocs/learn-pr/pull/9914

[2020-05-29 02:45] hishamco opened #18559 "Update PoLocalization sample for 3.x"
This is related to #18545, @Rick-Anderson you can assign this to me, after we merge the PR #18556

---
[Associated WorkItem - 63637](https://dev.azure.com/msft-skilling/Content/_workitems/edit/63637)

[2020-05-29 04:16] captainsafia commented on #18554
I've been working on the new debugging experience in VS Code and have seen quite a few people test it over the past few days.

This issue around debugging not working because SSL certs are not trusted has come up with three different users over the past few days, so it's coloring my perspective a bit.

Although it is a fundamental tooling aspect, I actually found that it is not super easy to figur

[2020-05-29 04:16] captainsafia commented on #18364
Cool! I'll open up a PR with a draft of the text I've produced thus far.

[2020-05-29 05:04] Albert-Gorup commented on #18498
Allow me to re-phrase.
My web page doesn't look like the example provided. I looked at the web page and saw this:

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                ReleaseDate
            </th>
            <th>
                Genre
            </

[2020-05-29 05:07] Albert-Gorup commented on #18498
![webpage1](https://user-images.githubusercontent.com/65995393/83223397-5ab4d200-a140-11ea-9765-dec68e64c119.jpg)
![webpage2](https://user-images.githubusercontent.com/65995393/83223410-60121c80-a140-11ea-97c7-3f9e50a7e7ac.jpg)

[2020-05-29 05:08] Rick-Anderson commented on #18498
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2020-05-29 05:11] Rick-Anderson commented on #18498
You're missing the layout.

[2020-05-29 05:54] Rick-Anderson commented on #18547
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-05-29 05:54] #18547 closed

[2020-05-29 05:55] Rick-Anderson commented on #18526
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-05-29 05:55] #18526 closed

[2020-05-29 07:53] egil commented on #10747
Yeah, I am not sure how obvious it is to most folks that a Razor component = Blazor component, so it should probably located under Blazors TOC too.

[2020-05-29 08:16] davidbarrows opened #18561 "doc should say this code requires additional NuGet package"
[Enter feedback here]
In this documentation page you might want to mention an additional NuGet package is required to get the "AddConsole( )" line to work.  It was red in Visual Studio, indicating the extension method could not be found, and I finally realized in order to get it to work, I had to install the NuGet package:

Microsoft.Extensions.Logging.Console (3.1.4, in my case)

This is not made

[2020-05-29 11:10] guardrex commented on #18554
:+1: I'll put the update in shortly.

[2020-05-29 12:21] #18554 closed

[2020-05-29 12:23] BaumTom opened #18563 "Using environment specific variables with Nginx in Docker"
I'm using the "Standalone Deployment - Nginx in Docker" way of deploying the Blazor app. So far the description is clear and the application works in my Docker container.

What I couldn't find in the description is how the ASPNETCORE_ENVIRONMENT variable - or any other environment variable - can be used in such a scenario. I want to use it for environment specific app settings (e.g. appsettings.de

[2020-05-29 12:28] guardrex commented on #18563
Hello @BaumTom ...

* Blazor Server should work the same as an ASP.NET Core app WRT the env var.
* Blazor WebAssembly Hosted shares the environment with the Server app, so that should also work like a regular ASP.NET Core app.
* Blazor WebAssembly Standalone uses a header. See :point_right: https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-model-configuration?view=aspnetcore-3.1#environm

[2020-05-29 12:28] #18563 closed

[2020-05-29 13:45] Albert-Gorup commented on #18498
![webpage3](https://user-images.githubusercontent.com/65995393/83266473-7f349c80-a188-11ea-8781-8cb1197aae02.jpg)

Yes. I am missing the layout. I am also missing a Shared directory with two files: _Layout.cshtml and _ValidationScriptsPartial.cshtml

[2020-05-29 13:49] THammond9 opened #18565 "Lacks detailed examples for more common scenarios"
I have a simple DI scenario which I am having trouble finding some specific examples for. Most of the documentation I has seen is in relation to web applications which behave differently than a windows service which does not usually stop running.
[code]

From what I understand `MainEntryPoint` is treated as a singleton which causes the dependencies to only have one instance initialized. It would b

[2020-05-29 15:14] morganc9 commented on #18269
Any news on the redirection?
It's blocking me from using B2C for my website :/

[2020-05-29 15:28] guardrex commented on #18269
Nothing yet. These issues are usually triaged on Fridays, so we might get some feedback from Artak today or on Friday, June 5th.

[2020-05-29 15:40] samgithub opened #18566 "Lack of Consistency in document"
In the doc you referred to "**helloapp**"  However when you get to the **/etc/nginx/nginx.conf**   you started using **helloMVC**.  Please correct if it needs correction OR explain.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcdd2c35-bf2b-2673-d150-303a8aaa54d2
* Version Independent ID: 815fe034-c9fc-aee3-a8b5-f2e8

[2020-05-29 16:11] serpent5 opened #18567 "Remove link to external custom logging resource"
We added a link to Juergen Gutsch's blog, which describes how to create a custom logging provider. Since then, a section was added to this topic that covers the same information, so I suggest we remove the link.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID

[2020-05-29 18:27] alejograjal opened #18569 "Error on Build from Visual Studio for Mac"
Working with visual studio for Mac, I create an ASP.NET Core 3.1 MVC web page!
Once was created I try to build it but I got this error:

With this error I add some package references but it doesn't work, this is my csproj file:
[code]

Besides, this is not the only case because I try to make an API AS.NET Core application and the command scaffold context to work with an existing database it doesn'

[2020-05-29 20:58] manasimahajann commented on #17913
@guardrex Hey, we were able to get the authentication to work alright.
In the long string (to use it from command line to create a project), we made one change. For --app-id-uri : there we put server's client id.
Also, in our naming convention - we had removed onmicrosoft.com from certain places - which made it difficult to find the issue.
One question about the authentication, in fetchdata.razor

[2020-05-29 22:02] Rick-Anderson commented on #18569
Try to follow the command line instructions or try with VSC
Compare the project file to https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/tutorials/first-web-api/samples/3.0/TodoApi/TodoApi.csproj
You'll want to update the versions

[2020-05-29 22:02] #18569 closed

[2020-05-29 22:03] Rick-Anderson commented on #18498
I'd start over and compare to the completed app.

[2020-05-29 22:03] Rick-Anderson commented on #18498
The Index view is using the correct layout.

[2020-05-29 22:06] Rick-Anderson commented on #18565
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider. We'll also reconsider this issue in the next doc update.

[2020-05-29 22:06] #18565 closed

[2020-05-29 23:15] Rick-Anderson commented on #18567
@serpent5  please fix when you have time. No hurry.

[2020-05-30 00:13] Rick-Anderson opened #18573 "AddDefaultIdentity vs AddIdentity"
See [AddDefaultIdentity and AddIdentity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-3.1&tabs=visual-studio#adddefaultidentity-and-addidentity)

@HaoK, @serpent5  is out top contributor. See his popular [SO answer](https://stackoverflow.com/questions/55361533/addidentity-vs-addidentitycore/55361961#55361961) to this question. Should we have him add

[2020-05-30 01:37] jason-saar opened #18576 "SendGrid Sender Auth"
I kept getting a Forbidden/Unauthorized status code when attempting to use the SendGrid WebAPI. Eventually I figured out that you need to create a "Sender" on SendGrid due to the CAN-SPAM act. After creating a Sender, and using the Sender email as my From email in SendGridMessage, I have the EmailSender working. I just wanted to point out this detail, so hopefully the doc can be updated and nobody

[2020-05-30 02:40] emersonp opened #18578 "Instructions on new Windows install don't work"
These instructions don't appear to work with either the most recent release of .NET Core, or the most recent release of VSCode.

Fresh install of Windows (on VM). Grab

- VSCode
- .Net Core 3.1.300 SDK
- Chrome

Follow instructions (extensions, etc.).

"The site can't be reached."

Likely a bug with Blazor/.NET Core, but currently these entry level instructions do not work.

---
#### Document Deta

[2020-05-30 04:42] rynsantos opened #18579 "Blazor hosted in ASP.NET integration with B2C will throw error when running on published mode"
The instructions works well when running inside Visual Studio but the moment you published the app for release (dotnet publish -o dist -c Release) and running the published app will throw an error in the browser.

here is the error log:
[code]

Disabling the linker fixes the issue for me but is there a better solution/suggestions on how to fix this error?

---
#### Document Details

⚠ *Do not edit

[2020-05-30 11:29] guardrex commented on #18578
@emersonp ... Did you trust the ASP.NET Core dev certificate after installing the SDK (`dotnet dev-certs https --trust`)?

[2020-05-30 11:36] guardrex commented on #18579
Hello @rynsantos ... Open that for engineering at ...

https://github.com/dotnet/aspnetcore/issues

Please add a `cc: @guardrex` to your comment so that I can get pinged on the discussion.

[2020-05-30 11:36] #18579 closed

[2020-05-30 11:45] guardrex commented on #18578
A VM's browser has a number of restrictions by default. Blazor is supported in a browser configured by default for a user's device. Did you reconfigure the VM's browser to remove it default restrictions?

[2020-05-30 11:48] #18566 closed

[2020-05-30 11:58] AzureCoffee opened #18580 "Poorly written sentence"
"When known conditions need to be accounted for in an action, multiple return paths are introduced."

As an experienced developer (25+ years), I have no idea what this means...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa03501b-5e71-4c18-0269-39babbf9d93c
* Version Independent ID: b51bc104-a6e2-b21f-8362-45cee22e8

[2020-05-30 16:38] skbar50 opened #18581 "Requires mention about css"
The tutorial should have mentioned to add css/site.css. The application doesn't work without the css. It took me a while to figure this out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c31071a6-97f2-d0ae-22a7-10e461a3c679
* Version Independent ID: d3227595-fe2a-7630-0379-8da3b1dba2ee
* Content: [Tutorial: Call an AS

[2020-05-30 18:39] serpent5 commented on #18573
These are slightly different things. The topic's section is about `AddDefaultIdentity` vs `AddIdentity`, whereas the SO answer is about `AddIdentity` vs `AddIdentityCore`.

[2020-05-30 23:59] Rick-Anderson commented on #18573
Maybe that's not worth adding to the doc.  Maybe we should link to it at the end of the doc?

[2020-05-31 00:00] #18576 closed

[2020-05-31 01:08] Coscotex101 opened #18583 "you state the following: --If you want to apply authorization to an action rather than the controller, apply the AuthorizeAttribute attribute to the action itself.-- But when I apply it to a page handler method, I get a warning that says, I can only apply it class wide."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c3930e5-8a4f-8bdf-7167-9aed8afc4253
* Version Independent ID: cea5942d-fb01-f5bf-3b63-25873d5b79cf
* Content: [Simple authorization in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/simple?view=aspnetcore-3.1)
* Con

[2020-05-31 02:01] Rick-Anderson commented on #18583
The article is correct. Scaffold Identity and look at the tempates.

[2020-05-31 02:07] #18567 closed

[2020-05-31 02:19] Coscotex101 commented on #18583
@Rick-Anderson  I just scaffolded for razor pages core 3.1 to reconfirm this, and there are no page-handler-method filters. You are allowed to use [Authorize] at class levels for pagemodels but not for OnGet or OnPost handler methods. This is infact the same reason my organisation is stuck at core 2.1, because it's the last version you guys allowed for page-handler-method filters. If you use [Auth

[2020-05-31 02:42] Rick-Anderson commented on #18583
Right, the document doesn't say you can apply it to Razor page handler methods.

[2020-05-31 06:21] Rick-Anderson opened #18587 "Doc that AuthorizeAttribute can only be applied on the page level"
Perhaps put a note in [Multiple handlers per page](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-3.1&tabs=visual-studio#multiple-handlers-per-page-1)

See https://github.com/dotnet/aspnetcore/issues/8737

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 164d7efe-01bf-0b26-7a23-f10704f338f5
* Ve

[2020-05-31 06:40] kramffud opened #18588 "Support Runtime Compilation of Razor Code Streams"
Take Razor runtime compilation to the Nth degree.  Allow us to dynamically generate Razor code at runtime, feed that Razor stream to Razor.RuntimeCompilation and let it deliver HTML to the client.

Let us leverage the power of Razor model binding, tag-helper interpretation, partial views, RCL and its infusion of anti-forgery tokens and other security, but let us generate that Razor code at runtime

[2020-05-31 13:07] akunaatrium opened #18589 ""dotnet -v" returns "Unknown option: -v""
The page suggests to execute a command to determine the version of installed .NET Core SDK but executing it gives an unexpected result.

![image](https://user-images.githubusercontent.com/1319115/83353009-3fbcaa80-a358-11ea-9897-7e8c774c83e4.png)

The result:
[code]

I suppose the command to execute should be something else to determine the installed version(s) of .NET Core SDKs.

---
#### Documen

[2020-05-31 13:47] guardrex commented on #18589
Thanks @akunaatrium ... It should be `--version`. I'll patch it now.

[2020-05-31 13:51] #18589 closed

[2020-05-31 13:55] guardrex commented on #18578
I'm going to close given that the behavior is by-design if the browser's security settings, such as those on a VM, are highly restricted (or the dev cert isn't trusted, which is called out by the SDK installer).

[2020-05-31 13:55] #18578 closed

[2020-05-31 15:16] glennsills opened #18592 "The section Trust HTTPS certificate from Windows Subsystem for Linux seems a bit sketchy"
[Enter feedback here]

First of all,
_"Run the following command to export the WSL-generated certificate: dotnet dev-certs https -ep %USERPROFILE%\.aspnet\https\aspnetapp.pfx -p <cryptic-password>"_

Does this mean to run the command in the windows host of the WSL? I assumed it means run at a powershell prompt. When I do run the command I get this error:

_"A valid HTTPS certificate is already pre

[2020-05-31 15:27] serpent5 commented on #18532
It looks like things have changed a bit since that section was written. The code sample that the reader is instructed to add is now part of the `ConfigureWebDefaults` stuff. I think it might be worth adding a note about how `ASPNETCORE_FORWARDEDHEADERS_ENABLED` is used by `ConfigureWebDefaults` to add both the configuration and the middleware. The only mention of that setting right now is in the c

[2020-05-31 16:27] Youssef1313 opened #18593 "Insufficient information"
- The article should mention the **exact** lowest version needed for using Blazor WebAssembly. (It mentiones .NET Core 3.1, but I think it should be .NET Core 3.1.201
- Running `dotnet new blazorwasm` lead to "No templates matched the input template name" error in my case. This got fixed in my case by running `dotnet new -i Microsoft.AspNetCore.Components.WebAssembly.Templates::3.2.0-rc1.20223.4`.

[2020-05-31 16:36] guardrex commented on #18593
Hello @Youssef1313 ... Blazor WebAssembly officially released with the 3.1.300 SDK; so as far as a minimum **_supported_** version is concerned, it will be 3.1.300. That SDK includes the template.

I'll make the text say "latest version" when referring to 3.1, as it does on the VSC tab.

[2020-05-31 16:40] #18593 closed

[2020-05-31 17:03] Youssef1313 opened #18595 "Do the users of a razor wasm app need to download ~6MB of data in the first run?"
I'm trying to experiment with blazor wasm, I've created the default template and run it. Opening it for the first time in a browser downloads a significantly large amount of data (around 6MB), will the client need to download this size of data on the first run? or there is a way to publish something reduced in size?

I don't know if these information documented somewhere, but I couldn't find.

[2020-05-31 18:49] DavidShukvani opened #18596 "Resources are not being applied on Razor Page Input models"
Hello,

I have an example where the Localizer is not affecting the ViewModel classes' properties' data annotation, it's a plain MS template project code:

[code]

I have tried several versions to make it work:
`Areas/Identity/Pages/Account/Manage/ChangePassword.ka-GE.resx`
`Areas/Identity/Pages/Account/Manage/ChangePassword.cshtml.cs.ka-GE.resx` (this was read as CZ)
`Areas/Identity/Pages/Account/

[2020-05-31 19:19] guardrex commented on #18595
@Youssef1313, yes, the app's assemblies **_and the .NET runtime_** (Mono) must be downloaded to the browser, then the .NET runtime is cached. It's documented here :point_right: https://docs.microsoft.com/aspnet/core/blazor/?view=aspnetcore-3.1#blazor-webassembly. It's a bit of an implementation detail, so there's not much else to say about it outside of perf, and the only main perf at the moment i

[2020-05-31 19:19] #18595 closed

[2020-05-31 19:22] guardrex commented on #18595
... and there's a perf doc for Blazor WebAssembly ...

https://docs.microsoft.com/aspnet/core/performance/blazor/webassembly-best-practices?view=aspnetcore-3.1

[2020-05-31 19:30] Youssef1313 commented on #18595
@guardrex Thanks again for the fast response. Much appreciated!

I saw in the network tab in the browser developer tools that some *unneeded* assemblies are being downloaded, these includes:

- *mscorlib.dll*, which I think is a .NET Framework-related dll. How is that relevant for .NET Core? (btw, it's the largest downloaded dll, around 4MB)
- *System.Xml.Linq.dll* and *System.xml.dll*, I don't th

[2020-05-31 19:36] guardrex commented on #18595
Search on the engineering repo Blazor issues to see what they're working on ...

https://github.com/dotnet/aspnetcore/issues?q=is%3Aopen+is%3Aissue+label%3Aarea-blazor

... but I don't see much in the perf area. The general answer tho is *yes* ... they're aware of the issues, and they've said that they're continually working on getting the first load experience better for Blazor WebAssembly.

As f

[2020-05-31 19:41] Youssef1313 commented on #18595
Thanks again! :)

[2020-05-31 21:20] benrhere commented on #18524
Thank you. If it's helpful, I posted a much more detailed question, along with a code sample here:

https://stackoverflow.com/questions/62122607/asp-net-core-react-template-v3-15-secure-without-identityserver

[2020-05-31 22:22] Rick-Anderson commented on #18524
@benrhere  thanks for posting that. If you get a good response, post back here. I'll try to get a security resource to review it.

[2020-05-31 22:34] benrhere commented on #18524
Thanks @Rick-Anderson . No, I hadn't reached out to anyone in particular, but based on your suggestion I added the "IdentityServer4" tag to the post. I'll keep you updated if there's good traction on that thread. Thanks!

[2020-06-01 01:48] danysdragons opened #18599 "Serious problems with syntax highlighting in *most* Blazor code samples"
# Issue description

I looked through all of the pages in the Blazor docs, and found the appearance of the C# code samples within `@code` blocks to be problematic. In only a small number of cases is syntax highlighting appropriately applied, and for the _vast majority_, syntax highlighting is absent entirely. There are issues with syntax highlighting outside `@code` blocks as well, but this is not

[2020-06-01 04:37] Rick-Anderson commented on #18524
Look at https://github.com/IdentityServer and maybe cross post an issue there and link to here.

[2020-06-01 07:25] Kryptos-FR commented on #18599
It is not just the `@code` part, the whole highlighting theme is broken for that kind of code. The HTML part has sometimes three different colors for a tag.

[2020-06-01 08:41] danysdragons commented on #18599
I agree, I just emphasized `@code` since it stood out to me more. As for markup:

![Funky markup](https://user-images.githubusercontent.com/40280395/83391686-d6718180-a3c1-11ea-8b9b-6a21c3ffc1d0.png)

I think that's a good illustration of what you you described.

And again, this isn't a few isolated cases, it's like this _nearly everywhere_.

I've noticed this for a while, but assumed it would get

[2020-06-01 09:40] Tim-Hodge opened #18600 "Provide clarity on using B2C Custom Policies with Blazor/MSAL"
Currently there is not an obvious 'best practice' implementation story for B2C custom policies and Blazor WASM.

Documentation ([link](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/hosted-with-azure-active-directory-b2c?view=aspnetcore-3.1#custom-user-flows)) states that custom user flows are not supported by MSAL - but there is no mention of B2C custom policies.

App Se

[2020-06-01 10:59] guardrex commented on #18599
@scottaddie are u aware of any current internal work on Razor/Blazor syntax highlighting?

[2020-06-01 11:13] TheMagnificent11 opened #18601 "Blazor WebAssembly - Authorize Attribute - Is Policy possible?"
Is it possible to authorize a Razor page in Blazor WebAssembly using the `Policy` property on the `AuthorizeAttribute`?

I assume that `Role` works because the role is stored in the access token and that is stored client-side and can be evaluated.

However, as `Policy` is evaluated on the server-side, I'm wondering if there is a way to get this to work.

---
#### Document Details

⚠ *Do not edit t

[2020-06-01 11:19] guardrex commented on #18600
Hello @Tim-Hodge ...

User flows work per Azure docs, which are cross-linked. There's no utility yet in Blazor for reaching the edit profile or password reset endpoints without building your own link per Azure docs. For example ...

[code]

... not much fun to work with! :smile: This is known to engineering, of course. My understanding is that further improvements are coming. We'll document new fe

[2020-06-01 11:19] #18600 closed

[2020-06-01 11:23] TheMagnificent11 opened #18602 "Blazor WebAssembly - Refresh Token Flow"
I was wondering whether Blazor WebAssembly backed by IdentityServer (as in the "individual accounts" option of the Blazor WebAssembly Visual Studio template) supports the refresh token flow.

That is when it authenticates and receives a token, does it have an access token that expires after a small amount of time and a refresh token that lasts significantly longer and can be used to get new access

[2020-06-01 11:29] gavinr-xx opened #18603 "Use of string concatentation when you've also specified string interpolation."
Hi, in the section **RedirectToLogin component** there is a small piece of confused code. It indicates that string interpolation is used but ends up using concatenation instead.

[code]

All my love,

Gavin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17515ff7-32a6-c6f7-0425-535775cd6e28
* Version Independent ID: 141

[2020-06-01 11:30] guardrex commented on #18601
Hello @TheMagnificent11 ... Your question doesn't quite make sense written that way ...

... a Razor Page **_IN_** Blazor WebAssembly isn't a thing.

WRT to use of the `AuthorizeAttribute`, it's covered here for Blazor WASM (for use in Razor components) :point_right: https://docs.microsoft.com/en-us/aspnet/core/security/blazor/?view=aspnetcore-3.1#authorize-attribute

We don't have the staffing to

[2020-06-01 11:30] #18601 closed

[2020-06-01 11:46] guardrex commented on #18602
It doesn't client-side for Blazor WASM (Razor components in the *Client* app). The scenario would be a security risk for exactly the reason that you mentioned ... they can't be secured. You can use refresh tokens server-side. We have some info on that pertaining to 3rd party APIs, where you wouldn't want to send the refresh token down to the client but still permit the client to make 3rd party cal

[2020-06-01 11:48] guardrex commented on #18602
Actually ...... I like the idea of being more explicit about refresh tokens *client-side*. We have a section ...

https://docs.microsoft.com/en-us/aspnet/core/security/blazor/?view=aspnetcore-3.1#authorization-in-blazor-webassembly-apps

... where I think an explicit statement can live that basically says that refresh tokens shouldn't be sent to Blazor WASM apps.

[2020-06-01 11:50] guardrex commented on #18603
Hello @gavinr-xx ... That's because we have to break long lines of code so that they will fit without scrolling. It's just a docs thing.

[2020-06-01 11:50] #18603 closed

[2020-06-01 11:54] guardrex commented on #18602
I'm going to move that existing section to the Blazor WASM *Overview* and add a new section there. That makes more sense. I think this section is leftover here from when we didn't have a Blazor WASM security node and overview.

[2020-06-01 12:15] TheMagnificent11 commented on #18602
Yes, it appears I have asked a question about the wrong doc page.  Yes, it would be good if there was more info about the refresh-token flow on the page you mentioned (https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/?view=aspnetcore-3.1)

[2020-06-01 12:19] guardrex commented on #18602
The way we have things set up right now, both the *Overview* and the *Additional scenarios* topics are sort of *required reading*. The reason we don't want all of those additional scenarios covered in the overview is that it bogs the reader down in a lot of implementation guidance. I'm trying to keep the overview topics focused on high-level concepts.

[2020-06-01 12:20] #18602 closed

[2020-06-01 12:25] akempe opened #18605 "Queued background tasks not going to be implemented in .netcore"
For the section *Queued background tasks*, there is a link to an issue regarding tentative implementation in .netcore. This issue is now closed as "will not implement". Docs should be updated to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3460b0d-9c60-3a06-ac63-18cf990e53c3
* Version Independent ID: b

[2020-06-01 12:27] TheMagnificent11 commented on #18602
So, I've got a question outside of the docs, does Blazor WebAssembly support the refresh-token flow (for IdentityServer, Azure B2C etc)?

[2020-06-01 12:28] TheMagnificent11 commented on #18602
Perhaps I should have asked this question as a normal issue instead of via the docs page

[2020-06-01 12:30] guardrex commented on #18605
Aye @akempe ... That's on me. I didn't catch their note there. 🏃🏃🏃😅 I'll patch that out right now. Thanks for calling it out.

[2020-06-01 12:47] #18605 closed

[2020-06-01 12:55] TheMagnificent11 commented on #18602
Oh, just saw the docs change in #18604

Thanks.

[2020-06-01 12:56] guardrex commented on #15490
This one has been resolved by a few PRs along the way since it was opened back in November.

[2020-06-01 12:56] #15490 closed

[2020-06-01 13:03] guardrex commented on #18602
Yes ... thanks for calling it out for more coverage.

WRT maintaining and using refresh tokens in the *Server* app of a Hosted WASM solution so that the *Client* app doesn't lose access to 3rd party APIs, it's true that we don't have a Blazor sample/example of this. However, I think if you look in the ASP.NET Core security topics for normal ASP.NET Core apps (non-Blazor), the same guidance will ap

[2020-06-01 13:11] TheMagnificent11 commented on #18601
@guardrex, does the page you mentioned (https://docs.microsoft.com/en-us/aspnet/core/security/blazor/?view=aspnetcore-3.1#authorize-attribute) apply only to Blazor Server or does it apply to Blazor WebAssembly as well?

[2020-06-01 13:13] guardrex commented on #18601
It applies to both. It's the overview topic of the node.

[2020-06-01 13:20] scottaddie commented on #18558
The module was published on 5/29.

[2020-06-01 13:20] #18558 closed

[2020-06-01 13:30] ssdevref opened #18608 "Garbled text"
The paragraph immediately below https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.1#make-the-apps-content-localizable shows some xml and half of it is displayed as markdown code.
![image](https://user-images.githubusercontent.com/41063548/83413857-6fc98380-a414-11ea-974d-acef92f49cc1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-06-01 13:48] #18580 closed

[2020-06-01 14:23] #18608 closed

[2020-06-01 15:28] scottaddie opened #18613 "Add what's new page for May 2020"
Make sure you pick up [PR's `is:pr is:closed label:sc closed:>2020-05-01 `](https://github.com/dotnet/AspNetCore.Docs/pulls?q=is%3Apr+is%3Aclosed+label%3Asc+closed%3A%3E2020-05-01
)

[2020-06-01 15:29] CeciAc opened #18614 "Page Error"
@detmach commented on [Fri May 29 2020](https://github.com/dotnet/AspNetCore.Docs.tr-tr/issues/16)

Page Error

---
#### Belge Ayrıntıları

⚠ *Bu bölümü düzenlemeyin. docs.microsoft.com ➟ GitHub sorunu bağlantısı için gereklidir.*

* ID: b6728e59-93ec-891e-0416-94819296ad72
* Version Independent ID: 5d581acc-c651-2112-844a-6b85dc5a99a6
* Content: [ASP.NET Core 'de yanıt önbelleğe almaResponse cach

[2020-06-01 15:31] xxCruciblexx commented on #17595
Would be nice if it mentioned Blazor server doesn't support synchronous JavaScript calls as well.

[2020-06-01 15:32] CeciAc commented on #18614
Hi team,
The localized versions of this document have the tables broken
It's Machine-translated

best

[2020-06-01 15:33] javiercn commented on #18422
Add but make it the first example you show people or if you don't want both samples remove the existing one

[2020-06-01 15:34] guardrex commented on #18422
Cool ... yeah ... I have a plan in place now to do this in two **sub-sections** there so that the dev can see both approaches. I'll place the custom class section first. I'll ping u for review on the PR, which should be up shortly.

[2020-06-01 15:57] scottaddie commented on #18588
@pranavkm Thoughts?

[2020-06-01 16:24] soccerjoshj07 commented on #14547
Thanks @scottaddie , this worked for me :)

[2020-06-01 16:28] guardrex commented on #14547
@FANMixco That version is no longer supported and the templates are rolled into the 3.1.300 SDK that just released. Use the released bits with the 3.1.300 SDK, which is supported ...

https://dotnet.microsoft.com/download/dotnet-core/3.1

[2020-06-01 16:39] #18422 closed

[2020-06-01 17:09] samgithub opened #18617 "Matching UNIT to specific APP"
In the doc, you show how to create a service for the app **helloapp**.

Can you please explain what happens if I have a second app **helloapp2** and a service to run **helloapp2**

Since they'll use **defferent** UNITs with
a)  EecStart=/usr/bin/dotnet /var/www/helloapp/**helloapp.dl**
b)  ExecStart=/usr/bin/dotnet /var/www/helloapp2/**helloapp2.dll**

 HOW do we map the **server** to NGINX the sp

[2020-06-01 18:39] TheMagnificent11 commented on #18602
Thanks for pointing me in the right direction

[2020-06-01 19:08] #17766 closed

[2020-06-01 19:08] #17775 closed

[2020-06-01 20:33] #18583 closed

[2020-06-01 20:39] wadepickett opened #18618 "Update 2.2 to 3.1 for 10 unit Learn Module: Create a web UI with ASP.NET Core"
Update this 10 unit Learn Module to ASP.NET Core 2.2 to 3.1:  [Create a web UI with ASP.NET Core](https://docs.microsoft.com/en-us/learn/modules/create-razor-pages-aspnet-core/)

Receives around 110K page views a month, 80K unique visitors, .

(I could not update this earlier since 3.1 was not on all regions for the Learn platform, but that has been fixed for a month or so and it is past time to g

[2020-06-01 20:46] Tratcher commented on #18532
Yup, these could use some updates.
1. ASPNETCORE_FORWARDEDHEADERS_ENABLED is supported by ConfigureWebDefaults starting in 3.0. The sample code should only be shown for older versions.
2. Add a disclaimer: ASPNETCORE_FORWARDEDHEADERS_ENABLED should only be used in deployment scenarios where you're:
  A. Positive you're behind a trusted proxy
  B. AND the deployment environment is unpredictable suc

[2020-06-01 20:46] scottaddie opened #18619 "Publish ASP.NET Core 5.0 APIs"
In addition to the ASP.NET Core APIs, the cross-cutting `Microsoft.Extensions.*` APIs should be published.

[2020-06-01 20:49] scottaddie commented on #13934
A module that satisfies the requirements was published on 5/29.

[2020-06-01 20:49] #13934 closed

[2020-06-01 21:03] scottaddie commented on #18599
@guardrex Closing as a duplicate of https://github.com/dotnet/AspNetCore.Docs/issues/17296. I'll follow up with engineering offline regarding updates on the situation. The docs currently use a fork of highlight.js, and the Razor language definition is incomplete. The result is the poor syntax highlighting that you're seeing.

[2020-06-01 21:03] #18599 closed

[2020-06-01 21:18] mooremedia opened #18620 "EnsureCreated method"
In the "Create the Database" section, the user is instructed to update Program.cs to create the database if it doesn't exist - and to use the following code:

---------------
[code]
---------------
The next sentence after the example code (above) is:
"The EnsureCreated method takes no action if a database for the context exists. If no database exists, it creates the database and schema. EnsureCrea

[2020-06-01 21:31] CeciAc opened #18621 "AfterPublish -> Publish"
Moved from: https://github.com/dotnet/AspNetCore.Docs.de-de/issues/67

@BerndK commented 14 hours ago
It seems to be not working to use AfterPublish and BeforePublish, use just 'Publish' then it works
like: AfterTargets="Publish"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 684d1f55-3d8b-9ba6-ee65-e8f84c2b4244
* Vers

[2020-06-01 21:54] AdamRGrey opened #18622 "fix a bullet point"
if you go down to #configure-logging, there's a bullet point that says:

If you remove `Microsoft.Hosting.Lifetime`, and just set `Microsoft` to `None`, you'll still see log messages from Microsoft.Hosting.Lifetime. In order to affect any category below "Microsoft", you'll need `Microsoft.*` Credit to [this stack overflow answer](https://stackoverflow.com/a/59514226/1173856)

---
#### Document Det

[2020-06-01 22:08] #18620 closed

[2020-06-01 22:12] Rick-Anderson commented on #18621
The following folder publish profile was created with Visual Studio and publishes to a network share:

[code]

[2020-06-01 22:44] Rick-Anderson commented on #18622
* Create a new web app.
* Delete _appSetting.Development.json_
* set  _appSetting.json_ to the following:

[code]

No logging output is displayed.

[2020-06-01 22:44] #18622 closed

[2020-06-02 00:48] JamesNK opened #18623 "Add documentation for new HttpContext JSON extension methods in 5.0"
Issue describing feature: https://github.com/dotnet/aspnetcore/issues/17160

Note that there have been some minor changes to behavior between the issue and the PR

PR: https://github.com/dotnet/aspnetcore/pull/21731

[2020-06-02 00:56] #18613 closed

[2020-06-02 01:18] #18561 closed

[2020-06-02 02:36] athinboy commented on #18499
@Rick-Anderson  Thanks!

[2020-06-02 03:22] Rick-Anderson commented on #18435
@TheBeardedLlama  any chance you could install 3.1 and look at https://github.com/dotnet/AspNetCore.Docs/pull/18557 ? Can you suggest how I can test? Postman only works with the first snippet.

@jkotalik  can you review #18557

[2020-06-02 03:36] Rick-Anderson commented on #18623
@JamesNK  can you provide a draft and sample code when you have time?

[2020-06-02 03:39] Rick-Anderson commented on #18617
Thanks for the question. We're a small doc team that maintains all the docs in this repo. We don't have the resources to work on a response for you. You might try https://stackoverflow.com/

[2020-06-02 03:39] #18617 closed

[2020-06-02 03:57] Rick-Anderson commented on #18614
@JasonCard  @CeciAc  Take a look at Content: [ASP.NET Core 'de yanıt önbelleğe almaResponse caching in ASP.NET Core](https://docs.microsoft.com/tr-tr/aspnet/core/performance/caching/response?view=aspnetcore-2.2) or look at it in Chrome and select translate to english. It looks like MT is broken. I don't see an issue with the MD file.

My guess is the following metadata is causing the problem
`no-l

[2020-06-02 04:01] Rick-Anderson commented on #18596
@DavidShukvani  looks like you scaffolded Identity and tried to localize it?

My guess is the fully qualified name is not correct.

cc @hishamco

[2020-06-02 04:05] Rick-Anderson commented on #18592
The problem area is [Trust HTTPS certificate from Windows Subsystem for Linux](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.1&tabs=visual-studio#trust-https-certificate-from-windows-subsystem-for-linux)

These questions need to be answered and the code needs to be probably formatted.

[2020-06-02 04:41] Rick-Anderson commented on #18592
@glennsills I fixed the formatting - so it's easier to understand.

Yes, run the 1st command in windows. The cert exists, you're exporting it.

[2020-06-02 04:41] #18592 closed

[2020-06-02 06:30] DavidShukvani commented on #18596
Yes, exactly, but I tried dozens of combinations for matching, but no luck.

[2020-06-02 07:04] hishamco commented on #18596
@DavidShukvani could please share a minimal repo to reproduce the issue?

[2020-06-02 08:52] TheBeardedLlama commented on #18435
apologies @Rick-Anderson I got distracted!

I will have a look this evening (UK time)

[2020-06-02 09:08] DavidShukvani commented on #18596
@hishamco please see: https://github.com/DavidShukvani/IssuePresentationForLocalizer
I have setup the registration and login pages to localize Georgian (ka-GE) and English (en-GB).
Thank you!

[2020-06-02 10:28] DominikTripet opened #18628 "Bug in Tutorial"
[Enter feedback here]
In the Startup.cs file in method `Configure` you add `app.UseCors()`. But there you are missing the defined string "allowAll" in method `ConfigureServices`. It should be `app.UseCors("AllowAll");`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c13a1c7-4683-a9a5-9ab3-e28d4506af26
* Version Indepen

[2020-06-02 12:23] guardrex commented on #18431
@danroth27 Those instructions don't seem complete.

### Content draft thus far

1. In the *Server app's* layout file (*_Layout.cshtml*):

   * Add the following `<base>` tag to the `<head>` element:

[code]

     The `href` value (the *app base path*) in the preceding example assumes that the app resides at the root URL path (`/`). If the app is a sub-application, follow the guidance in the *App b

[2020-06-02 12:56] comfycoder opened #18630 "How to exclude a entire subfolder and its contents from the assets manifest"
[Enter feedback here]
I have been unsuccessful in figuring out how to exclude an entire subfolder and its contents from the generated assets manifest. Would you show an example on this page, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c8c235e-1ce4-046f-e848-294096361922
* Version Independent ID: 6240f626-97

[2020-06-02 13:00] guardrex commented on #18630
Hello @comfycoder ... Could you open an issue on the engineering repo asking this? Open it at ...

https://github.com/dotnet/aspnetcore/issues

Add a `cc: @guardrex` to your issue so that I can follow the discussion.

Leave this issue open. When we get an answer there, I'll react over here on this issue.

[2020-06-02 14:48] MisinformedDNA commented on #18544
I wouldn't say that considering https://github.com/dotnet/dotnet-api-docs/issues/3259.

[2020-06-02 15:07] SteveSandersonMS commented on #18630
This seems like an MSBuild question. You'll want to do [something like this](https://github.com/rainersigwald), except instead of removing from `<Content>`, you need to remove from `<ServiceWorkerAssetsManifestItem>`.

[2020-06-02 15:37] guardrex commented on #18630
@SteveSandersonMS, sounds like you're saying that this is an edge case that we won't be covering. Is that correct?

[2020-06-02 15:39] jongio opened #18631 "Blazor Docs Need Improved Containerization Steps"
This page: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/webassembly?view=aspnetcore-3.1#nginx

The nginx file and Dockerfile example don't actually work if you follow the steps in the doc.  Let's provide a step-by-step approach to getting Blazor WebAssembly running in a container.

I have also created a bug for vscode-docker extension here: https://github.com/microsoft/vscod

[2020-06-02 15:39] danroth27 commented on #18431
I think the problem is that by adding the blazor.webassembly.js script in the layout, it gets added to every page whether it contains the `my-counter` tag or not. I think you need to instead only add the script to the page that has the tag.

You're correct that if your component has specific styles associated with it, then you'll need to link those in too on the view/page.

The CSS selector is jus

[2020-06-02 15:40] SteveSandersonMS commented on #18630
No, just saying it's a question about MSBuild rather than Blazor :) See MSBuild docs for info about how to manipulate its item groups.

[2020-06-02 15:41] SteveSandersonMS commented on #18630
Oh, if you're asking whether I think this should be covered in Blazor docs, I'd say no, since it's not our goal in Blazor docs to document all the ways you can manipulate things with MSBuild.

[2020-06-02 15:42] guardrex commented on #18631
Hello @jongio ... We'll further scope this down to what type of update (enhancement, bug, or new doc) when the issue is triaged. It usually happens on Fridays, but I suspect due to high priority internal work that this won't be seen by the product unit until Friday, 6/12.

[2020-06-02 15:50] SteveSandersonMS commented on #18630
Actually my apologies, I was wrong. There isn't a good supported way to remove items from the list after it's been populated, because it's populated inside the Blazor build internal targets, and we don't support hooking into the before/after states of those targets.

Anyone who really wants to do this can look at the sources at https://github.com/dotnet/aspnetcore/blob/master/src/Components/WebAss

[2020-06-02 15:53] guardrex commented on #18630
Thanks @SteveSandersonMS

@comfycoder, I'm going to close as not actionable for the docs, but that should give u enough info to do something ..... well ...... 💀 *dangerous at your own risk!* 💀 :smile: lol

[2020-06-02 15:53] #18630 closed

[2020-06-02 16:26] guardrex commented on #18484
Hello @Assassinbeast ... Sorry for the delay. I'm 🏃 like crazy right now on issues.

Yes ... for a one-way case, that's correct. In fact, I'm working on how binding is described today on an issue pertaining to component parameters on https://github.com/dotnet/AspNetCore.Docs/issues/18440.

The main idea is that if you want to just one-way pass a variable value automatically down to a child, then y

[2020-06-02 16:26] #18484 closed

[2020-06-02 16:44] guardrex commented on #18431
I placed the script tag into the page where the CSS selector appears, but it :boom: on me again ...

`Index` component ...

blazor.webassembly.js:1:37761

Razor page ...

This is a template-based Hosted WASM app. The only things I did to it I showed in the draft text earlier.

The *Client* app has ...

[code]

The page that I created in the *Server* app ...

[code]

The routing seems bug-ish, too.

[2020-06-02 17:00] mkArtakMSFT commented on #18633
@Rick-Anderson can you please turn the referenced wiki page into a docs article? Thanks!

[2020-06-02 17:10] scottaddie commented on #18630
I opened the issue linked above ☝️ to see if that drums up interest from any other customers.

[2020-06-02 18:05] Lionberg opened #18634 "Default deploy of default (newly created Blazor-server app) to Azure is imposible."
[Enter feedback here]

Despite local solution works fine, it is impossible to deploy the same code to azure.

Error: The circuit failed to initialize.
Uncaught (in promise) Error: Invocation canceled due to the underlying connection being closed.
    at e.connectionClosed (blazor.server.js:1)
    at e.connection.onclose (blazor.server.js:1)
    at e.stopConnection (blazor.server.js:1)
    at e.tra

[2020-06-02 18:24] guardrex commented on #18634
Hello @Lionberg ... It looks like you didn't open this issue from the correct topic. Which topic or tutorial are you trying to follow?

[2020-06-02 18:25] guardrex commented on #18634
Are you working from this one? ...

https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-blazor-webassembly?view=aspnetcore-3.1&tabs=visual-studio

[2020-06-02 19:14] JasonCard commented on #18614
@Rick-Anderson @CeciAc I recognize this issue which was fixed in another repo, so I'm now trying re-upload the source file into our loc platform to see if it will resolve the issue. Will update. This issue appears to be on loc tooling side, so it can be moved back to loc repo and/or assigned to me.

[2020-06-02 19:19] Rick-Anderson commented on #18633
@mkArtakMSFT That's currently documented in [Razor reserved keywords](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-3.1#razor-reserved-keywords), but I'll double check that everything is covered.

Too bad we couldn't detect this at run time and throw and exception. I've seen folks report using reserved keywords as an error before.

[2020-06-02 20:40] Rick-Anderson opened #18636 "The names controller, action, area, and page are reserved keywords used by MVC's routing system."
Create an include (something like `https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/includes/reservedRouting.md`

With the info from https://github.com/dotnet/aspnetcore/wiki/MVC-Reserved-Keywords on routing. Be stronger, something like

These keywords should ***not*** be used  for link generations, as model bound parameters, or top level properties.

Add the include to the 3 routi

[2020-06-02 22:39] wadepickett commented on #18628
@JamesNK, I will update app.UseCors() to app.UseCors("AllowAll") if that was your intent.

[2020-06-02 23:17] JamesNK commented on #18628
The sample is correct as it is. The CORS policy name is specified on the endpoint with `RequireCors("AllowAll")`.

[2020-06-03 00:16] wadepickett commented on #18628
Thanks @DominikTripet for showing some community love for the docs.  Always appreciated.  I will go ahead and close this one since as James points out, the policy name is specified where intended.

[2020-06-03 00:16] #18628 closed

[2020-06-03 00:40] ricecreamdude opened #18637 "Could not properly use UseInMemoryDatabase from Microsoft.EntityFrameworkCore"
Was not able to properly use the "UseInMemoryDatabase" method after installing Microsoft.EntityFrameworkCore as recommended by the documentation.  Solution was to install this package:

Microsoft.EntityFrameworkCore.InMemory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version I

[2020-06-03 00:43] Rick-Anderson commented on #18637
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2020-06-03 00:43] #18637 closed

[2020-06-03 00:44] Rick-Anderson commented on #18637
@ricecreamdude  that's mentioned

[2020-06-03 00:53] Dean-NC commented on #18633
Thanks for the link to the docs page. I see the reserved words there...it would be good if a simple sentence was there saying: Do not use any reserved word as the name of a property or class.

[2020-06-03 05:11] WeihanLi opened #18638 "there's no `withAutomaticReconnect` on type `HubConnectionBuilder`"
[Enter feedback here]

when use signalr follow the docs, will get an error like follows:

[code]

the docs maybe out of date

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cf283c9-5cd2-a9ff-b8c8-372d8a04356d
* Version Independent ID: 729fddcf-24e4-b563-4952-a8045b231868
* Content: [ASP.NET Core SignalR JavaScript clie

[2020-06-03 05:17] BrennanConroy commented on #18638
That is probably because you are using an older version of the client that doesn't have support for automatic reconnect yet. You need to use 3.1 or newer.

[2020-06-03 05:27] WeihanLi commented on #18638
Thanks for the info, I checked the package I used before is `@aspnet/signalr` 1.1.4, seemed the package had change to `@microsoft/signalr`

[2020-06-03 05:27] #18638 closed

[2020-06-03 06:45] oiBio opened #18640 "Static Files from Razor Class Library | CaseSensitive on Linux-Docker Containers"
Hello,

i have just "lost" a few hours searching for a bug when i tried to run my blazor project in a linux docker container. The problem was that I pointed to the static files in _host.cshtml as being in the wrong case. It worked perfectly with IIS and Windows containers, but was not found when I ran a Linux container.

I used
   ` <link href="~/_content/my-app-name.components/css/components.css"

[2020-06-03 08:02] Rick-Anderson commented on #18640
Sorry for that. We expect Linux users to know it's case-sensitive by default thoughout our docs.

[2020-06-03 08:02] #18640 closed

[2020-06-03 09:23] hishamco commented on #18596
After I saw your demo, your remind me with a weird bug that AspNetCore doesn't solve yet, but I already fixed this in OC and blogged about few years ago

Just avoid to use inner classes, so move your `InputModel` into `LocalizerIssue.Areas.Identity.Pages.Account` and it should work

[2020-06-03 09:26] DavidShukvani commented on #18596
Ok, thanks!

[2020-06-03 09:59] yyordanov opened #18642 "jQuery setup is missing"
I don't see the steps needed to be executed to enable the client side validation (e.g. installation of the jQeury packages and their initialization)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443a7c53-cc16-7ed5-5950-46a6f195f19c
* Version Independent ID: 12fe9329-2cef-4056-4986-18ed7ae5c397
* Content: [Add validati

[2020-06-03 10:55] lagoyu opened #18643 "Error CS0103 The name 'Host' does not exist in the current context."
In the 'Test the app' section

- Records in database are deleted
- IIS Express is stopped from system tray
- F5 pressed to run in debug mode

Error CS0103 The name 'Host' does not exist in the current context.
Error reference is to this line (36?) of Program.cs:

`Host.CreateDefaultBuilder(args)`
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-06-03 11:35] lagoyu commented on #18643
It appear my environment is .NET Core 2.2

[2020-06-03 11:35] #18643 closed

[2020-06-03 13:14] eparizzi commented on #18438
Not sure what I'm supposed to see on those links.

The first one just shows the use of a DTO in a Web API controller. But there's no mention of any ModelState.IsValid or anything.

From the second link, I guess the issue here is that model binding is not happening in this case, just formatters from [FromBody], [FromQuery] and such.

So, I guess my question is... can we use Model Binding in ASP.NET

[2020-06-03 13:24] guardrex commented on #17921
I've to rebuilt the three-level bind scenario using the latest guidance (i.e., components shouldn't write directly to their own parameters), but it still doesn't work. The child and grandchild affect their immediate senior components, and none of them bind down components.

@SteveSandersonMS, can you provide a tip to make three-level two-way chained binding work, or should I only document the stat

[2020-06-03 13:46] eparizzi opened #18644 "It's not clear what applies to full MVC only and what can be used in ApiControllers"
This page list several validation methods in ASP.NET Core but fails to clarify what works in Web API, what works in MVC only and what works in both.

For example, the first section, [Model State](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-3.1#model-state) says

So I assume all other methods in this page apply to Web API controllers.

But then, I've been told

[2020-06-03 14:07] ronaldo-o-reis opened #18645 "Redis Session State in Net Core 2.2 deployed at AWS fails"
Have implemented REDIS according the aspnet doc [https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed?view=aspnetcore-2.2] however we get the following exception:

` Session cache read exception, Key:65871781-f1f5-71d3-d4e8-a7e031f403eb
System.TypeLoadException: Could not load type 'DotNetAgent.Instrumenter.Factories.Web.External.RedisTrackerFactory' from assembly 'DotNetAg

[2020-06-03 16:40] Xeppit opened #18646 "Can access the generic IdentityDbContext"
Im using .Net core 3.1

While following the "Add User and Role navigation properties" section I cant use the generic IdentityDbContext while trying to modify the dbcontext class and visual studio suggest I install the normal Entity Framework nuget package.

public class ApplicationDbContext
    : IdentityDbContext<
        ApplicationUser, ApplicationRole, string,
        IdentityUserClaim<string>

[2020-06-03 16:42] #18646 closed

[2020-06-03 17:53] JasonCard commented on #18614
Hi @detmach
Thank you for your feedback.
It appears this issue is now resolved, but please let me know if there are still any issues.

@Rick-Anderson Could you please help to close this issue?

[2020-06-03 18:11] detmach commented on #18614
Merhabalar, Gün içerisinde inceledim ve herhangi bir sorun göremedim. İlgilendiğiniz ve yardımcı olduğunuz için teşekkürler.

[2020-06-03 18:14] DavidShukvani commented on #18596
I would suggest you add an clause in article in this [part](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.1#dataannotations-localization).

[2020-06-03 18:53] Rick-Anderson opened #18647 "HUB pages needs core"
ASP.NET Core is always ASP.NET Core and never ASP.NET without Core.

https://docs.microsoft.com/en-us/aspnet/core/

Also fix https://docs.microsoft.com/ or create another issue for that

[2020-06-03 18:59] Rick-Anderson commented on #18647
![image](https://user-images.githubusercontent.com/3605364/83677851-80930a00-a578-11ea-89cf-6bc383e981c4.png)

[2020-06-03 19:01] Rick-Anderson commented on #18647
Fix the following:
https://docs.microsoft.com/aspnet/overview
![image](https://user-images.githubusercontent.com/3605364/83678045-c2bc4b80-a578-11ea-8bb8-774c80ff9f5e.png)

[2020-06-03 19:02] bathetrade opened #18648 "Using view components for shared forms"
Please add information and an example on how to use view components for shared forms in Razor pages. For example, imagine a login form that needs to be used on multiple Razor pages. Further, some of those pages have various bits of logic that depend on whether a user is logged in. In that case, the view component cannot handle the POST (by checking Request.HasFormContentType and using Request.Form

[2020-06-03 19:39] Rick-Anderson commented on #18642
That's done by the template generate code.

[2020-06-03 19:39] #18642 closed

[2020-06-03 19:43] Rick-Anderson commented on #18644
There is no such thing a s full MVC

[2020-06-03 19:50] #18614 closed

[2020-06-03 21:59] davidbuckleyni opened #18651 "[BUG] Documentation in correct for session state For 3.1"
In the  Following the static class helpers that  have been given is actually wrong in .net  core 3.1 the string elements have been removed.

I have .net core 3.1 selection in the drop down menu and the statements are in correct.

 Url Source ;
    https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-3.1

    public static void Set<T>(this ISession session, string key

[2020-06-03 22:18] wadepickett commented on #18647
Fixed ASP.NET docs toc portion of this issue in that repo with: https://github.com/dotnet/AspNetDocs/issues/399

[2020-06-03 22:26] eparizzi commented on #18644
You're right. I've just learnt the differences between the following (not from any ASP.NET documentation page by the way).
[code]
So in the [other issue](https://github.com/dotnet/AspNetCore.Docs/issues/18438) I asked about this your answer was "The doc is on ASP.NET Core controllers and views, not web APIs", which is not accurate.

The reason top-level node attribute validation wasn't working in

[2020-06-03 22:26] #18644 closed

[2020-06-03 22:30] eparizzi commented on #18438
**For future reference**

In order for this to work you need to use `services.AddDataAnnotations()` if you're using `services.AddMvcCore()`.

It's already included when using any of the following:
[code]

[2020-06-03 22:46] #18647 closed

[2020-06-03 23:13] Rick-Anderson commented on #18438
@eparizzi thanks for the follow up. That's looks like it should be added.

[2020-06-04 01:14] AceHack opened #18653 "Override IOptions class with byte[] in environment variable"
It's not clear how you would override a byte[] in an IOptions<T> class from an environment variable, base64 syntax does not appear to work.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb4d762-3910-2c57-8741-3306c15537b6
* Version Independent ID: ba2254a0-ea8e-9b28-e94b-edd0fc58c043
* Content:

[2020-06-04 01:16] Rick-Anderson commented on #18653
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider. We'll also reconsider this issue in the next doc update.

[2020-06-04 01:16] #18653 closed

[2020-06-04 01:19] Rick-Anderson opened #18654 "Reduce SEO to prevent false matches"
See refer report.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03221075-5dfa-d1b6-0552-3fe88abe1d03
* Version Independent ID: b8c7d824-35ca-68fb-e3be-839ae886657c
* Content: [Work with a database and ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/sql?view=aspnetcore-3.1&tabs=visual-s

[2020-06-04 04:51] rumsky opened #18655 "Connect string keys are inconsistent for Mac."
Connect string keys are inconsistent for Mac.
![image](https://user-images.githubusercontent.com/12367395/83716269-ffb03d00-a661-11ea-87f2-406c30d1b610.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a4022c-7ef1-3c30-4f9d-cf521a57a44a
* Version Independent ID: a0b5e15c-d747-8710-95fb-a55c09861a1e
* Content: [Work

[2020-06-04 06:15] srudin opened #18657 "Unable to evaluate"
Debugging generally works, my breakpoints are hit. However I cannot display any variables: The locals window, quick watch etc. simply display "Unable to evaluate" for all variables, objects etc. Therefore expanding an object (by clicking on the +) also doesn't work. Debugging without seeing any values is of course not very helpful...

I am using the newest releases of both VS2019 (16.6.1) and the

[2020-06-04 06:44] Rick-Anderson commented on #18645
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-06-04 06:44] #18645 closed

[2020-06-04 10:52] guardrex commented on #18657
Hello @srudin ... Please open this for engineering at ...

https://github.com/dotnet/aspnetcore/issues

Add a `cc: @guardrex` to your issue. If a solution is found that we need to call out in the topic, I'll re-open this issue.

[2020-06-04 10:52] #18657 closed

[2020-06-04 11:44] guardrex commented on #16330
@mkArtakMSFT @danroth27 I've done what I can on my own for this issue ...

* API doc cross-links have been added to all topics.
* Additional lifecycle topic work with more lifecycle work coming soon on https://github.com/dotnet/AspNetCore.Docs/pull/18610.

I'll need guidance to continue on this issue or for engineering to provide the exact updates, if any. If the remainder of @ShawnDigital's asks

[2020-06-04 11:48] #17093 closed

[2020-06-04 12:11] #14323 closed

[2020-06-04 12:36] guardrex commented on #17201
Ok ... I took a closer look. Loc issues are being addressed by engineering. They don't have a "loc" label, but searching blazor-labeled issues with "localization" turned up ...

https://github.com/dotnet/aspnetcore/issues?q=is%3Aopen+is%3Aissue+label%3Aarea-blazor+localization

I think what we call out in the topic as "supported" is correct today. Other loc features should be covered in the engine

[2020-06-04 12:36] #17201 closed

[2020-06-04 15:28] #18634 closed

[2020-06-04 15:31] guardrex commented on #18461
Artak, this would be a violation of our guideline (at least in that form) on not building components that write to their own parameters. I'm :ear: for another common scenario, but I should be able to come up with something similar tho that doesn't violate that guidance.

[2020-06-04 15:33] guardrex commented on #18364
@captainsafia This was fixed by https://github.com/dotnet/AspNetCore.Docs/pull/18570, right?

[2020-06-04 15:51] davidfowl opened #18667 "Rename response caching to caching"
The section has nothing to do with response caching. It's caching in general

![image](https://user-images.githubusercontent.com/95136/83779202-805e4180-a640-11ea-9ec8-0124cbe5c1b8.png)

[2020-06-04 16:03] captainsafia commented on #18364
Correct -- we can close this now.

[2020-06-04 16:05] guardrex commented on #18364
Cool.

![who](https://user-images.githubusercontent.com/1622880/83780734-29ae3300-a653-11ea-9c48-7450aa4745b1.jpg)

**_It's a pleasure to work with you, Captain!_**
&mdash; The Doctor (Tom Baker), Dr Who: [The Pirate Planet](https://www.bbc.co.uk/programmes/p00r9wqx), ©1978 [BBC](https://www.bbc.co.uk/)

[2020-06-04 16:05] #18364 closed

[2020-06-04 16:31] guardrex opened #18669 "Add Edge to Blazor WASM troubleshooting advice"
It's not guaranteed; but now that I know where the Edge EXE lives, I have a shot!

 https://github.com/dotnet/aspnetcore/issues/22527#issuecomment-638966154

**UPDATE** ... The **new** Edge is at ...

### C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f34f753

[2020-06-04 17:09] #15651 closed

[2020-06-04 17:09] #13316 closed

[2020-06-04 17:10] jdosser opened #18671 "Examples Don't Work"
Well, this would be a fine document IF it actually worked.
It's frustrating enough there's not any documentation on Blazor, but to come to
Microsoft's site and try and get stuff to work by following the examples and finding
out it doesn't.....

Let's look at the 1st two examples. Pretty simple, right? So I add AboutModel
to a new Blazor project and instantiate an instance in the default 'Increment

[2020-06-04 17:31] guardrex commented on #18671
@jdosser Not sure yet from your remarks what approach you're taking and what you're trying to do ... even if you discovered the Blazor doc node. `HttpContext` in the MVC/Razor Pages part of a Blazor Server app doesn't have anything to do with Blazor. You mention `IncrementCount`, but that's part of a Razor component. If you're new to Blazor apps ... how they're set up and how they work ... access

[2020-06-04 17:31] #18671 closed

[2020-06-04 17:51] guardrex opened #18672 "Blazor WASM debug: Old Edge troubleshoot coverage"
Call out **_old Edge_** 👴 error with Edge upgrade guidance.

https://github.com/microsoft/vscode-js-debug/issues/504#issuecomment-638991206

cc: @captainsafia ... I'll get this on Friday morning. 🏃

btw --- Idk if we should do anything about it, **_but_** .......

* I had no idea that there was a **new** Edge.
* Edge doesn't say anything about it.
* Windows Update doesn't try to get it.

I'll leav

[2020-06-04 19:07] captainsafia commented on #18672
To be honest, I'm hesitant to include this in the documentation.

This is more-so something that should be documented for the JS debugger than for the `blazorwasm` debug type. I worry about crowding our docs with troubleshooting info that isn't completely relevant to us.

My inclination is to wait a bit and see how many other users run into this. If this ends up being a more common issue, we can a

[2020-06-04 19:10] guardrex commented on #18672
Readers won't see it that way, but ok ... let's see. Hopefully, I'm the only one to hit this.

[2020-06-04 19:10] #18672 closed

[2020-06-04 19:32] Rick-Anderson opened #18673 "Doc no [Authorize] on RP methods, provide sample"
Doc this.

See https://github.com/dotnet/aspnetcore/issues/8737 and [this comment](https://github.com/dotnet/aspnetcore/issues/8737#issuecomment-611256317)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c3930e5-8a4f-8bdf-7167-9aed8afc4253
* Version Independent ID: cea5942d-fb01-f5bf-3b63-25873d5b79cf
* Content: [Simpl

[2020-06-04 19:49] Rick-Anderson opened #18675 "Add note on duplicate JSON keys"
Using information on the internal xsp alias.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb4d762-3910-2c57-8741-3306c15537b6
* Version Independent ID: ba2254a0-ea8e-9b28-e94b-edd0fc58c043
* Content: [Configuration in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetc

[2020-06-04 19:52] #18675 closed

[2020-06-04 21:11] guardrex commented on #18548
https://github.com/dotnet/aspnetcore/issues/22343

[2020-06-05 01:35] BerndK commented on #18621
@Rick-Anderson Im not talking about the profile.
I wanted to define a task that copies the files to a server (via SCP).
This task should fire after the publish process.
This is defined here: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/visual-studio-publish-profiles?view=aspnetcore-3.1#run-a-target-before-or-after-publishing
But this does not work!
Wrong:
`<Target Name="CustomActio

[2020-06-05 01:45] Rick-Anderson commented on #18621
@sayedihashimi  should I make this change? Have these targets changed?

[2020-06-05 02:59] sayedihashimi commented on #18621
I'm not sure but @vijayrkn should know.

I believe that the MSBuild targets across Visual Studio have moved away from the "BeforeTargetName" and "AfterTargetName" pattern, so it sounds like it's correct that BeforePublish and AfterPublish no longer are defined in our .targets file.

[2020-06-05 03:32] vijayrkn commented on #18621
The current documentation is correct.  WebSdk has a "BeforePublish" & "AfterPublish" target that gets executed before and after the core publish operation.

The way to look at it is that the target "Publish" just consolidates all the files to be published but core publish does more than that like running transforms, updating app configs etc. So if something needs to run before that, then it should

[2020-06-05 03:33] #18621 closed

[2020-06-05 07:35] srudin opened #18677 "Custom AuthorizationMessageHandler not working"
I have been following this documentation: https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/hosted-with-azure-active-directory?view=aspnetcore-3.1

However my client and server are not hosted at the same url. Therefore I came to this page and followed the instructions about creating a custom AuthorizationMessageHandler.

The following works:
- Accessing a component -> Redire

[2020-06-05 09:36] srudin commented on #18677
Ok I was able to get it to work. I was missing the scope information.

Feedback: The documentation already has a hint about adding scopes but to me it was not to clear what I have to put. I tried some values but they all resulted in authentication failures - but it worked when leaving it away so that's what I did. The token I got was even valid for the server when sending it over curl or some othe

[2020-06-05 10:59] guardrex commented on #18677
Hello @srudin ... Thanks for that feedback.

A scope is required for an API call, and I think you're the second dev to ask on that point. This topic will be worked on further soon, and I'll try to make that point clearer in all of the Blazor WASM security topics when I make the next round of updates.

I don't think that we'll be able to address that generally. That's variable depending on the prov

[2020-06-05 10:59] #18677 closed

[2020-06-05 12:29] glararan commented on #17308
I would like to ask how to setup correctly following:

- First app: domain.com/{......}
- Second app: domain.com/login
- Third app: domain.com/thirdapp/{...}

Brackets means there can be addional pages

For now I am troubleshooting just second app.
Startup.cs is following
[code]

wwwroot structure:
- index.html (base href: /)
- login
 - index.html (base href: /login/)

Issue: if i navigate to /log

[2020-06-05 13:23] #18669 closed

[2020-06-05 14:01] AnthonyMastrean opened #18680 "How to conditionally register IOptions?"
I want to support optional application configuration. For example, you _may_ configure an LDAP connection, but, if not, we'll use an Identity service.

[code]

I want to use IOptions<LdapOptions>, but only if the "LdapOptions" section exists _at all_.

[code]

If the section has not been configured, LdapOptions is still registered, but uses default values (via the default constructor, I'm sure), w

[2020-06-05 14:05] guardrex commented on #18436
Ping @SteveSandersonMS ... the comment pertains to a line that you provided for this doc.

[2020-06-05 14:09] guardrex commented on #18420
@pranavkm This seems like it's fairly well covered at ...

https://docs.microsoft.com/en-us/aspnet/core/performance/blazor/webassembly-best-practices?view=aspnetcore-3.1#avoid-unnecessary-component-renders

... is there anything further that you'd like to say?

[2020-06-05 14:12] AnthonyMastrean commented on #18680
OK, I'm working through the options [validation section](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-3.1#options-validation) now, looks promising 😳

[2020-06-05 14:18] guardrex commented on #18198
We sort of **_do_** have this. It's in the common sample app and there's a brief section. Perhaps, we'll need to expand the section. However, keep in mind that CORS is a very **_known_** thing with a set of standard behaviors that the cross-linked content in our ASP.NET Core CORS docs covers in detail.

https://docs.microsoft.com/en-us/aspnet/core/blazor/call-web-api?view=aspnetcore-3.1#cross-orig

[2020-06-05 14:32] guardrex commented on #18359
@Andrzej-W Thanks for that feedback, but that's not the paradigm that docs adopt. We don't document the opposite of what engineering says devs should be doing (in this case, in the framework code itself) unless they find a problem serious enough to patch the framework (or at least address it on the next minor release). In my experience, it would be a major break in process to adopt that strategy.

[2020-06-05 14:44] SQL-MisterMagoo commented on #18420
That page makes no reference to EventCallback at all does it?

[2020-06-05 14:49] pranavkm commented on #18420
@SQL-MisterMagoo does raise a valid point. We don't want to give users the impression that you want to use this all the time. Maybe

could elaborate to call out where you might consider using this. The example he's listed in the issue is very well-written. Maybe we could adopt :

Or something along those lines. Thoughts?

[2020-06-05 14:50] SQL-MisterMagoo commented on #18420
To illustrate what I mean, take a look here : https://blazorevents.azurewebsites.net/

Increase the number of balls to 20 or 30 or even more, then click one of the "Action" balls (these don't use EventCallback in their binding) and notice only that one ball updates.

Now click one of the EventCallback balls.

Now imagine instead of 20 copies of one component that was a dashboard with 20 different

[2020-06-05 14:52] tncbbthositg commented on #10747
I'm fully in support of having the community develop testing frameworks and bunit is really great.  The only concern I have is that at some point, it could be valuable for the Blazor team to dogfood the testing to see where the testing ergonomics could be improved.

One example is that it's difficult it is (well, at least it was difficult for me . . . for what that's worth) to mock components in t

[2020-06-05 15:07] guardrex commented on #18420
Ok ... yes ... I see what you mean. I'll work your paragraph into the doc, @pranavkm.

@SQL-MisterMagoo, I'll ping u on the PR for review. I should be able to get to this next week. 🤞&dagger;

&dagger;My estimates on when issues will be worked can't be trusted. :smile: When I say "next week," what I really mean is, **"I'd like to work on it next week, but it might take _SIX MONTHS._"** :smile::cry

[2020-06-05 15:24] guardrex commented on #18036
I think on this one the question is **_where_** to cover it. I think in the *Components* topic. Sound right to you, @mkArtakMSFT?

[2020-06-05 15:27] guardrex commented on #17444
@mkArtakMSFT AFAICT, we don't have anything actionable on this one. Recommend we close.

[2020-06-05 15:50] BrennanConroy commented on #18268
I don't know of any plans for one.

AFAIK the sample should just work if you switch to Server-side Blazor.

[2020-06-05 15:54] guardrex commented on #18268
I guess I should test then. If we can broaden the current topic out to a choice between the hosting models, that would be best ... take the least time and take the least coverage.

I'll let Artak give me the priority on this and then give it a shot and see how it goes. I'm going to change the metadata on this issue to reflect the current tutorial.

[2020-06-05 16:36] nk1125 commented on #17677
Is there any resolution for this issue?

[2020-06-05 16:46] Tratcher opened #18681 "Doc optional client certificates"
Add a section about optional client certificates, e.g. only requiring them for some portions of the application. See https://github.com/dotnet/aspnetcore/issues/21193#issuecomment-622456661
There are some related improvements to the cert auth handler in 5.0 where we added an OnChallenge event.
https://github.com/dotnet/aspnetcore/pull/21484

---
#### Document Details

⚠ *Do not edit this section.

[2020-06-05 17:41] Rick-Anderson commented on #18680
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-06-05 17:41] #18680 closed

[2020-06-05 20:00] serpent5 commented on #18573
@Rick-Anderson I don't think it's worth adding to the docs, because it's not something that a typical user cares about. The docs don't mention `AddIdentityCore` at all, so I think anyone that does want to know the difference will find it easily enough using their favourite search engine.

[2020-06-05 20:14] serpent5 commented on #18538
@Rick-Anderson Sure, I'll do this one.

[2020-06-05 20:25] #18573 closed

[2020-06-05 22:19] wadepickett opened #18686 "Update Hub Title"
For the ASP.NET Hub page here:
https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-3.1

- Change the title from "ASP.NET Core documentation" to "ASP.NET documentation per dev team and marketing team feedback.
- Update the metadata to reflect the title.

[2020-06-05 22:38] GeekTrainer opened #18688 "Creating DbContext before adding NuGet packages is confusing"
In walking through the document to create the models I noticed we're adding the code using EntityFrameworkCore before adding the NuGet package. By doing this VS Code doesn't offer IntelliSense. Adding the packages should be done before adding the DbContext.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-d

[2020-06-05 23:11] #18686 closed

[2020-06-06 04:55] ndc opened #18690 "InvokeAsync to wrap StateHasChanged?"
In the "Invoke component methods externally to update state" section the example for the event handler uses `ComponentBase.InvokeAsync` to wrap the call to `StateHasChanged()`.

Is it necessary to use InvokeAsync? I tried to call StateHasChanged without wrapping it in InvokeAsync and it still worked. What does InvokeAsync do in this example?

I think it is worth adding explanation in the documenta

[2020-06-06 11:19] guardrex commented on #18690
Hello @ndc ... The code and explanation in this section came directly from engineering. They provide a reason for calling `InvokeAsync` in the text, namely to ...

At the end, they wrote ...

You can inquire further on it with the product unit on the engineering repo at ...

https://github.com/dotnet/aspnetcore/issues

... link directly to that section with ...

https://docs.microsoft.com/aspnet/c

[2020-06-06 11:19] #18690 closed

[2020-06-06 13:14] alfredmyers opened #18692 "Initializing database will fail if (not-listed) pre-reqs aren't met."
In [Apply Migrations](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?tabs=netcore-cli&view=aspnetcore-3.1#apply-migrations), the code...

[code]

will not work EF tools aren't installed.

For convenience, it would be nice to link to instructions for installing them, such as those at [Entity Framework Core tools reference - .NET CLI -> Installing the tools](https://do

[2020-06-06 16:02] BerndK commented on #18621
Just to mention, that I did not use the websdk, but a .net core 3.1 project that has to be published. Initially I tried the "AfterPublish" (as described in doc) which has not been triggered in my case. But when I switched to "Publish", it worked as expected. Perhaps this is not perfectly consistent on all use cases (different project types might have defined additional targets, which is perfectly

[2020-06-06 19:39] guardrex commented on #16370
Hello @NavinAT ... sorry for the long delay. This was marked as a lower priority issue, and I've been 🏃 for many moons!

I'm still not aware if what engineering did with `TypeConverter` is appropriate. There's a lot of discussion centering around using them for **_parameters_**, not property-to-HTML attribute value binding.

I see `IValueConverter` out there, but that's [not part of .NET Standard

[2020-06-07 01:52] michaeldz opened #18695 "PassThroughAuthorizationHandler is there to allow an IAuthorizationRequirement to be its own IAuthorizationHandler"
If requirement also implements IAuthorizationHandler (or AuthorizationHandler<T>) it is not necessary to register handler in service collection because there is PassThroughAuthorizationHandler

Please add this to the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1141d92-adeb-6841-229f-914c808f9a2b
* Version

[2020-06-07 03:25] danroth27 commented on #18431
Here's a simple sample: https://github.com/danroth27/RazorPageWithBlazorWebAssembly.

This approach, however, does have limitations. It doesn't really scale up to multiple components on different pages, because we throw if the CSS selector for a root component doesn't match anything on a given page with the Blazor WebAssembly script. Given these limitations I think we should hold off on documentin

[2020-06-07 04:05] NoorAlazawi commented on #7291
@Rick-Anderson Thank u sooo much it solve my problem

[2020-06-08 06:01] surendrasphadke opened #18701 "Getting error 'No project was found. Change working directory or use the --project option'"
[Enter feedback here]
Was getting error while running the following command from CLI on Mac

dotnet ef migrations add InitialCreate

Instead of "/Users/xxx/Projects/RazorPagesMovie" I moved to "/Users/xxx/Projects/RazorPagesMovie/RazorPagesMovie" and ran the dotnet ef migrations add initial command and got a successful build...

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-06-08 09:23] nizarelouaer opened #18702 "asp.net core enforce https docker"
This works only on windows. I am trying to use docker but I am getting an error "ERR_CONNECTION_CLOSED" when I call my endpoint ("https://localhost:5001/swagger/index.html" fro example). If I remove the "configureKestrel(o =>
                {
                    o.ConfigureHttpsDefaults(o =>
                o.ClientCertificateMode =
                    ClientCertificateMode.RequireCertificate);

[2020-06-08 10:40] javiercn commented on #18198
There are a bunch fo Blazor specific things here, like configuring the HttpClient instance and is painful in general to setup CORS, the CORS doc describes several ways to do it and I think we should have one specific straightforward way to do it with Blazor.

I'll elaborate on this once I get time to look into the area.

[2020-06-08 10:49] valdisiljuconoks opened #18703 "Added details to trouble shoot launch of the gRPC server under Nginx on Linux"
After few hours of struggle and many reading materials - I realized that Nginx does not support HTTP/2 to upstream server and therefore was getting all the time HTTP/1.x protocol mismatch exceptions.

It turned out that you have proxy to either `grpc://...` or `grpcs://...` (secure Kestrel) upstream server. Support for gRPC has been added in Nginx v1.13.10.

Would be great to note this down somewh

[2020-06-08 10:54] Braath1 commented on #7486
@dasoussan Thank you! I have been trying for 3 days before I found your solution!

[2020-06-08 11:48] beardiedog opened #18704 "information required how to change th e messages to match the rules for registration"
[Enter feedback here]
I modified my password rules in my Blazor Server app to minimum 8 characters but the registration screen still states it needs 6 characters it would be helpful to explain how to get these in sync.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3ac09f0-74ca-1a5d-4fec-695b84c1ac95
* Version Indepen

[2020-06-08 12:20] guardrex commented on #18704
@beardiedog, can you show your `IdentityOptions` configuration (your code) and show a screenshot of the registration screen?

[2020-06-08 13:43] glacasa opened #18705 "«Component instance method call» doesn't work when there are several users on the same component"
The «Component instance method call» shows how to use a static Action to call instance code.

This works fine when there is only one user, but when we use Blazor server-side, if there are several users on the same page, the code will be applied to the instance of the last user.

I think we should clarify this and tell developpers to see the following section («When there are several components, …»

[2020-06-08 14:07] EddyHaigh opened #18706 "Asp.Net Core gRPC Azure App Service Linux Support?"
The warning talks about Azure App Service and IIS, but I assume that it means that the Azure App Service Windows offering does not support it. So, does Azure App Service Linux support gRPC?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0db2d29c-ebfd-9c79-4b08-61fc5192f3c3
* Version Independent ID: 048d1977-93aa-f28a-6

[2020-06-08 14:59] beardiedog commented on #18704
Hi I found out where this is now, you have to modify the string in the default cshtml that the Identity adds.so my configuration states this options.Password.RequiredLength = 8; while in the register.cshtml.cs the attribute is [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]

[2020-06-08 15:08] nizarelouaer opened #18709 "Problem Configuring certificate authentication in ASP.NET Core using Docker"
I have an asp.net core API which uses both http and https. To enforce the certificate use, I added the following in my program.cs:
[code]
If I run my app in my windows machine, everything works correctly. Nevertheless, when I run it in my docker desktop or even in an ubuntu machine I am not able to call my https endpoint and I am getting a "ERR_CONNECTION_CLOSED". I am still able to call my http e

[2020-06-08 15:17] guardrex commented on #18704
I see what you mean.

I took one of my apps and scaffolded in the Register page. I received what you did ...

[code]

This isn't specific to Blazor ... it's a general Identity scenario.

@Rick-Anderson I think we'll need to call this out in both this topic and the [scaffolding topic](https://docs.microsoft.com/aspnet/core/security/authentication/scaffold-identity). Neither of these topics mention

[2020-06-08 15:20] guardrex commented on #18709
Hello @nizarelouaer ... Is this a duplicate of or related to (i.e., they can be worked together) of https://github.com/dotnet/AspNetCore.Docs/issues/18702?

[2020-06-08 15:24] scottaddie opened #18710 "Provide guidance on SignalR Service modes when using with Blazor Server"
At the time of writing, Azure SignalR Service offers the following 3 services modes:

1. Serverless
1. Default
1. Classic

There should be guidance in the following section that explains which mode should be used and why: https://docs.microsoft.com/aspnet/core/host-and-deploy/blazor/server#azure-signalr-service. I've used Classic mode in the past, but is there ever a good reason to select Default?

[2020-06-08 15:28] automachina commented on #16389
I was able to workaround this issue by copying the JwtBearerHandler class @ (src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs) into my project and replaced the hard coded scheme check with a check against the current Scheme object:
Replaced this:
https://github.com/dotnet/aspnetcore/blob/1f76cce14ac4e4698a554b65a24f28000b50396e/src/Security/Authentication/JwtBearer/src/JwtBearerHandle

[2020-06-08 15:34] nazzour commented on #18709
Yes it is related to the same issue. It is really a blocking issue for those who want to work with https in a containerized environment.

[2020-06-08 15:41] guardrex commented on #18710
"mode" seems to only be mentioned explicitly in one spot in this SignalR doc set ...

Reference:

* https://docs.microsoft.com/en-us/aspnet/core/signalr/dotnet-client?view=aspnetcore-3.1&tabs=visual-studio#call-hub-methods-from-client
* https://docs.microsoft.com/en-us/aspnet/core/signalr/java-client?view=aspnetcore-3.1#call-hub-methods-from-client
* https://docs.microsoft.com/en-us/aspnet/core/si

[2020-06-08 15:43] guardrex commented on #18710
I'm not sure that that's the only spot to cover it. This seems like general guidance. I'll wait for feedback on *where to cover it* before proceeding.

[2020-06-08 15:52] guardrex commented on #18709
It's best to combine them on the same issue. Move one of the comments to the other issue and close it.

[2020-06-08 15:52] scottaddie commented on #18710
@guardrex I was chatting offline with @sffamily about this. Let's see what Zhidi recommends.

[2020-06-08 15:55] nizarelouaer commented on #18702
Same as #18709

[2020-06-08 15:55] #18702 closed

[2020-06-08 15:58] Rabin77 opened #18711 "Invalid App ID The provided app ID does not look like a valid app ID."
when i click on login into facebook i have faced this error
[Enter feedback here]

---
#### Document Details
![image](https://user-images.githubusercontent.com/51988992/84052996-0546b380-a9d1-11ea-85e3-e4d05abd5ce1.png)
![image](https://user-images.githubusercontent.com/51988992/84053036-1394cf80-a9d1-11ea-990d-e55f50f3b338.png)

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-06-08 16:29] guardrex opened #18713 "Enhance Blazor references to components"
https://github.com/dotnet/aspnetcore/issues/22658#issuecomment-640731227

Thanks @mrlife! 🌴

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent ID: 9d945996-ad02-bd4b-58ea-c465cc5cc74c
* Content: [Create and use ASP.NET Core Razor components](https://docs.microsoft.

[2020-06-08 16:49] ShawnDigital commented on #16330
I've kind of moved beyond the blazor docs and mostly just dealing with integration issues and fighting css and third party controls so haven't been looking at it much lately. Look back in hindsight based on my bad recollection the two main hurdles were the render delegate and lifecycle methods. In snippets from the docs it wasn't obvious what it was calling i.e. if it was a abstract/base method or

[2020-06-08 17:03] Javaman2 opened #18714 "With Origins Port is not explained"
[code]

Is 55830 the front-end port;  which is the same port the main web page is served?  How does, Signalr use the same port as the web page, that's the odd thing. It seems similar to IP tunneling...

Then a section on debugging connection errors would be great!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cf283c9

[2020-06-08 17:09] guardrex commented on #16330
We've worked on and are continuing to work on the lifecycle methods.

There have been PRs since you opened this issue, and all Blazor topics will be receiving a big UE (user experience) pass soon-ish ... within a month or two if my plans work out.

I even have an open one now for review that helps (*I hope*) ...

**Blazor lifecycle ordering clarifications** &mdash; https://github.com/dotnet/AspNet

[2020-06-08 18:52] #18538 closed

[2020-06-08 19:27] Rick-Anderson commented on #18711
Copy/paste error?
Make sure you get it from https://developers.facebook.com/apps/

[2020-06-08 19:27] #18711 closed

[2020-06-08 20:04] #18435 closed

[2020-06-08 20:08] Rick-Anderson commented on #7486
That's in the tutorial
![image](https://user-images.githubusercontent.com/3605364/84075472-ecf27c80-a96f-11ea-91fd-4f7013d3f334.png)

[2020-06-08 20:10] Rick-Anderson commented on #18701
Thanks, you need to be in the correct folder.

[2020-06-08 20:10] #18701 closed

[2020-06-08 20:23] serpent5 opened #18716 "Document System.Net.Http.Json in "Make HTTP requests...""
With the recent release of [`System.Net.Http.Json`](https://www.nuget.org/packages/System.Net.Http.Json), it might be useful to document how it works in the context of this topic. For example, it'd be useful to show that the following:

[code]

-can become something like this-:

[code]

With a `=>` and no `async`/`await`, that can be even less to type, but I didn't want to push it. 😄

[API Docs](h

[2020-06-08 22:43] #18688 closed

[2020-06-08 22:58] WhatFreshHellIsThis opened #18719 "Add information regarding using reference"
Please update all examples and or page to mention that the reference
using System.Net.Http;
 needs to be added to use this.
It's an ongoing and completely unnecessary obstacle for people to need to be forced to independently research the namespace all the time in the .net examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-06-08 23:06] Rick-Anderson opened #18720 "Use client certificates to secure a portion of an ASP.NET Core web site"
Feedback for [Optional client certificates](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/certauth#occ)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b7960d-6de5-78ee-bc45-d7218239bbc8
* Version Independent ID: d2db534b-198a-dc99-5b5a-0525582d39ac
* Content: [Configure certificate authenticati

[2020-06-08 23:34] galaldev opened #18721 "NotifierService should be injected as scoped service not singleton for BlazorServer"
In (Invoke component methods externally to update state) section
I think NotifierService should be injected as scoped service not singleton for BlazorServer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent ID: 9d945996-ad02-bd4b-58ea-c465cc5cc74c
* Content: [Crea

[2020-06-08 23:43] guardrex commented on #18721
Hello @galaldev ... It came in per https://github.com/dotnet/AspNetCore.Docs/pull/16831 after https://github.com/dotnet/AspNetCore.Docs/pull/13974 covered the original scenario without service registrations.

@NTaylorMullen @SteveSandersonMS, should the `NotifierService` for Blazor Server be registered as as scoped?

https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.

[2020-06-09 00:11] Fabioluxx commented on #10689
This works perfectly for me
[code]

[2020-06-09 00:22] Rick-Anderson commented on #18719
@serpent5  can you add something like the following near the top of the tutorial.

The code samples used in this doc can be found at `[http-requests/samples/3.x/](https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/fundamentals/http-requests/samples/3.x)

That should help.

[2020-06-09 00:26] Rick-Anderson commented on #18716
@serpent5  great idea, consider adding

The preceding code can be  written more concisely using a [lambda expression](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/statements-expressions-operators/lambda-expressions):

[code]

[2020-06-09 00:53] Rick-Anderson commented on #18706
@bradygaster  softball here.

[2020-06-09 08:51] DrGriff opened #18723 "Confusion regarding Claims"
Been reading up on Identity Claims, and came across two Microsoft articles that seemingly conflict:

https://docs.microsoft.com/en-us/aspnet/core/security/authorization/claims?view=aspnetcore-3.1

https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/managing-claims-and-authorization-with-the-identity-model#claims

So in the first example, the claim is about the user's date-of-birt

[2020-06-09 10:21] trueway0617 opened #18724 "Most of the links located in left side menu are broken under Web apps > Blazor"
[Enter feedback here]
Left side menu under Web apps > Blazor works fine.
https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-3.1

However if I open the same document in Japanese, the most of the links for "Web アプリ" > "Blazor" is broken and redirected to Docs top page.

For example in English the URL for Web apps > Blazor > Overview is below.
https://docs.microsoft.com/en-us/aspnet

[2020-06-09 10:24] guardrex commented on #18724
Hello @trueway0617 ... Yes, I see what you mean.

cc: @JasonCard @scottaddie

[2020-06-09 10:37] DrReedo opened #18725 "The AspNetCore.master code base doesn't include the fundamentals folder"
[Enter feedback here]
How can I download the code under the fundamentals folder?  I have tried to connect to the repository directly but can't seem to.
thanks for any help
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881cef77-11ef-ac11-06d0-0996a1ccfa1b
* Version Independent ID: 3d356334-e672-7e8b-1fef-7944ebee99eb
*

[2020-06-09 10:42] #18725 closed

[2020-06-09 10:54] javiercn opened #18726 "[Blazor] Add section about handling auth and application state in offline scenarios"
Add a section describing how to handle auth within offline scenarios (PWA)

* Persist the last logged-in user for use on offline scenarios.
* Clear user cache on successful logouts.
* Show how to queue operations while offline to apply them when the app becomes online.

This explanation [here](https://github.com/dotnet/aspnetcore/issues/22683#issuecomment-641206493) should serve as the starting po

[2020-06-09 12:08] koshdim opened #18728 "the command is invalid"
after running "docker run --rm -it -p 8000:80 -p 8001:443 -e ASPNETCORE_URLS="https://+;http://+" -e ASPNETCORE_HTTPS_PORT=8001 -e ASPNETCORE_Kestrel__Certificates__Default__Password="password" -e ASPNETCORE_Kestrel__Certificates__Default__Path=\https\aspnetapp.pfx -v %USERPROFILE%\.aspnet\https:C:\https\ mcr.microsoft.com/dotnet/core/samples:aspnetapp"

I get

C:\Program Files\Docker\Docker\resou

[2020-06-09 14:23] blowdart commented on #18709
What happens if you switch from AllowCertificate to RequireCertificate? It's require that would force a browser to ask the user for one?

[2020-06-09 14:37] Javaman2 opened #18731 "HubConnectionBuilder WithURL Relative Path Meaning"
Assume server is running on port 8081
http://localhost:8081/chatHub

Client is running on port 4200
http://localhost:4200/chatHub

In the code below which url is the relative path referring to? The client or host side?
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cf283c9-5cd2-a9ff-b8c8-372d8a04356d
* Version

[2020-06-09 14:46] #18726 closed

[2020-06-09 15:00] BrennanConroy commented on #18731
Client side, there is no way for the client to magically know the server url unless the script is hosted by that server.

[2020-06-09 15:01] BrennanConroy commented on #18731
We could add a bit to https://docs.microsoft.com/aspnet/core/signalr/javascript-client?view=aspnetcore-3.1#cross-origin-connections mentioning the need to change the url in the client.

[2020-06-09 15:15] nizarelouaer commented on #18709
When I switch to RequireCertificate, to RequireCertificate, the browser asks for the certificate however I dont receive any certificate in my server. the Request.HttpContext.Connection.ClientCertificate is null. This happens only using Docker because when I run the app in my local Windows machine it works correctly.

[2020-06-09 15:53] Amestdian commented on #18435
ASPNETCore 2.1, in the controller's

Method:
public async Task<IActionResult> UploadPhysical()

I get the following error at

Line of code:
await targetStream.WriteAsync(streamedFileContent);

Error:
Error	CS1501	No overload for method 'WriteAsync' takes 1 arguments

[2020-06-09 16:14] bradygaster commented on #18706
There is no support on App Service for gRPC without using gRPC-web at the moment. adding @JamesNK as he has a few examples in the gRPC repository that may prove helpful.

[2020-06-09 16:18] jkotalik commented on #18435
@Amestdian some of these features weren't added until 3.1. The article is targeted for 3.1 and above, and isn't relevant until 3.1.

[2020-06-09 17:02] JasonCard commented on #18724
Hi @trueway0617

Thank you for your feedback.
We are aware of this issue and currently following up.
Will update when resolved.

cc @guardrex @scottaddie

[2020-06-09 17:12] blowdart commented on #18709
Forgive me, because I don't know docker well, but it acts as a proxy doesn't it? If it doesn't pass on the certificate, then you probably need to look at nginx or apache as the proxy

[2020-06-09 19:01] serpent5 commented on #18719
@Rick-Anderson We already have "View or download sample code (how to download)." near the top, so I think adding the suggested text would just repeat that, perhaps. Would it be helpful to add something [here](https://docs.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-3.1#how-to-download-a-sample) that explains how usings are usually dropped for brevity but can be seen

[2020-06-09 19:39] Rick-Anderson commented on #18719
@serpent5  I missed that.  We usually don't add using on advanced tutorials. I thiink we're OK for now.

[2020-06-09 19:39] #18719 closed

[2020-06-09 21:09] serpent5 commented on #18695
@Rick-Anderson I looked into this and found that the [`PassThroughAuthorizationHandler`](https://github.com/dotnet/aspnetcore/blob/release/3.1/src/Security/Authorization/Core/src/PassThroughAuthorizationHandler.cs) is there to allow an `IAuthorizationRequirement` to be its own `IAuthorizationHandler`, as suggested. It's added by the core authz services, so it should be enough to just implement bot

[2020-06-09 21:11] #18222 closed

[2020-06-09 21:44] Rick-Anderson commented on #18706
Actually it says
ASP.NET Core gRPC is not currently supported on Azure App Service ***OR*** IIS

which is not ambiguous

[2020-06-09 21:44] #18706 closed

[2020-06-09 21:46] Rick-Anderson commented on #18728
That's a good error message, look at your path, it's not valid

[2020-06-09 21:50] Rick-Anderson commented on #18723
Can you open an issue at https://github.com/dotnet/docs/issues ?

[2020-06-09 21:50] #18723 closed

[2020-06-09 23:43] #18673 closed

[2020-06-10 00:33] nizarelouaer commented on #18709
I guess it is not a docker issue, I made a test using Ubuntu machine without docker and I am having the same behavior. It is really a .net core issue I think

[2020-06-10 01:21] Rick-Anderson commented on #18654
Fixed in #18658

[2020-06-10 01:21] #18654 closed

[2020-06-10 05:15] Rick-Anderson commented on #18709
@nizarelouaer can you create the simplest possible project that reproduces the issue (works on Windows, fails on Ubuntu?

Client certificates are negotiated per-connection and must be be negotiated at the start of the connection before any HTTP data is available. At the start of the connection, only the Server Name Indication (SNI) is known. The client and server certificates are negotiated prior

[2020-06-10 05:59] mc0re opened #18733 "How to avoid printing the exception in the console"
[Enter feedback here]

The exception handling middleware is a fairly flexible thing. But even before the lambda inside `UseExceptionHandler` is executed, the exception information is printed into the console. Twice. Is there any way to avoid it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03fdf4-b19b-17c3-04f4-336

[2020-06-10 06:13] Rick-Anderson commented on #18733
Why do you care it's logged to the console twice? Exceptions should be rare.

[2020-06-10 06:48] mc0re commented on #18733
Currently I'm using the console as my main log :-)  so polluting with many lines it is not to my liking. Maybe there is a flag to switch the standard output off?

[2020-06-10 07:39] koshdim commented on #18728
sorry, the editor here seems to be cutting the slash. I literally try the command from the article

![image](https://user-images.githubusercontent.com/5932819/84240111-31b01c00-ab06-11ea-926e-e52f38a6c0ff.png)

and the "%USERPROFILE%\.aspnet\https" is a valid path on my machine.

[2020-06-10 08:53] erhanalankus opened #18734 ""Delete database" step is before creating a database"
There is this step in the tutorial:
"Delete the database. Any existing data is lost."
There's no database to delete at that point when you follow the tutorial.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a54c97f-ddd4-b041-5e5f-a2df009ace50
* Version Independent ID: fa488196-1f98-08ea-adcc-17d

[2020-06-10 09:17] simonziegler opened #18735 "The dotnet example is opaque for the type of visitor you should be expecting on this page."
Hi, in the Create the App section you have a `dotnet` command. Unless I am familiar with B2C (and I'm not, which is why I am using this page at all), the items that you place in curly brackets `{}` are very very difficult to identify. Please add an example, and state where on Azure B2C/Azure AD to find each datum. I anticipate spending several hours or even a day or more just trying to figure out

[2020-06-10 09:59] guardrex commented on #18735
Hello @simonziegler ...

This is a duplicate of https://github.com/dotnet/AspNetCore.Docs/issues/18379, which is coming up for work soon. However, examples are present in this topic ...

Record the following information:

* AAD B2C instance (for example, https://contoso.b2clogin.com/, which includes the trailing slash)
* AAD B2C Tenant domain (for example, contoso.onmicrosoft.com)

Record the foll

[2020-06-10 09:59] #18735 closed

[2020-06-10 10:09] simonziegler commented on #18735
Thank you. I'll attempt to understand! I appreciate the swift response.

[2020-06-10 10:27] erhanalankus opened #18736 "Tutorial uses "ID" instead of "Id", defying .NET capitalization conventions"
[Enter feedback here]

This tutorial uses "ID". However, the .NET capitalization conventions listed on [this page](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/capitalization-conventions) state that "Id" should be used.

Is there a reason why "ID" was used in this tutorial?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-06-10 10:34] DaveTCode opened #18737 "Access to AuthorizationFilterContext inside Auth handler is no longer correct"
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-3.1#accessing-mvc-request-context-in-handlers

uses the old (2.2 and below) form of
[code]

As per https://stackoverflow.com/questions/58565574/reading-the-authorizationfiltercontext-in-netcore-api-3-1 that no longer works and the way to get the HttpContext is by injecting an IHttpContextAccessor.

Regards

[2020-06-10 15:30] SirJosh3917 opened #18740 "Link to more useful resources"
After I completed reading the information, some immediate questions of mine were "How can I make this strongly typed" and "How can I configure this to use a binary format instead of JSON?". It'd be useful to link to these documents, and perhaps many other more general ones so that once someone completes the tutorial, they have other places to turn to.

---
#### Document Details

⚠ *Do not edit thi

[2020-06-10 16:09] guardrex opened #18741 "SignalR cross-origin negotiate Blazor WASM with cookie auth"
https://github.com/dotnet/aspnetcore/issues/22767

Cross-link the new content in the Blazor PWA doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a015ab57-3e5c-f5c8-338c-d491c3e9e3fb
* Version Independent ID: 951c8cfc-6aae-2e15-a085-66071d80f6a4
* Content: [ASP.NET Core Blazor hosting model configuration](https://doc

[2020-06-10 17:48] #18741 closed, assigned to guardrex

[2020-06-10 19:17] rubeesh opened #18743 "Add extra information to a claim from azure authentication"
How can i add extra user information like user 'office' to claims.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eee559d-d5e8-4fba-273d-246146eca40a
* Version Independent ID: 09fe3d2b-f380-e8d3-89d6-5471a2a019ff
* Content: [ASP.NET Core Blazor WebAssembly with Azure Active Directory groups and roles](https://docs.mic

[2020-06-10 20:08] guardrex opened #18744 "Add SignalR Blazor logging coverage"
https://github.com/dotnet/aspnetcore/issues/22706#issuecomment-642226932

cc: @captainsafia

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-f367-d733-8933-bccc04da0e16
* Content: [Logging in .NET Core and ASP.NET Core](https://docs.microsoft.com/en-

[2020-06-10 21:18] brkline opened #18745 "Incorrect Word in Sentence Under "Configure an Email Provider" Section"
In this section of the document:  https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm?view=aspnetcore-3.1&tabs=visual-studio#configure-an-email-provider, there is a sentence that reads

I believe the word should be "may" so the sentence would be "The SendGrid account **may** require adding a Sender."

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-06-10 21:52] Thorium opened #18747 "How to generate proxies?"
How do I set hubConfig to `EnableJavaScriptProxies` true?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1387f556-b4b7-70f9-5bd0-f0bccc597689
* Version Independent ID: fb016cdc-d281-6b5b-7466-2c718e7274b4
* Content: [Use hubs in ASP.NET Core SignalR](https://docs.microsoft.com/en-gb/aspnet/core/signalr/hubs?view=aspnet

[2020-06-11 00:13] #17100 closed

[2020-06-11 00:24] SB-o-matic opened #18748 "Cannot get sample app to pull secrets from key vault"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cc0b77a-df21-7007-5cec-4399d98c6dc6
* Version Independent ID: efe5ae5e-ff64-f1c7-6920-4512fc8f36d1
* Content: [Azure Key Vault Configuration Provider in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/key-vault-configuration?view=

[2020-06-11 00:31] SB-o-matic commented on #18748
Hello,

I am not a developer. I am an Azure AD admin and I am currently learning .Net core so I can assist developers looking to protect APIs with Azure AD. I have populated the appsettings.json with the required parameters. However, when I run the app, it doesn't show values from the key vault. I have attached output.
1. App registration created and cert uploaded
2. Key Vault created and access p

[2020-06-11 00:43] #17941 closed

[2020-06-11 00:43] #18029 closed

[2020-06-11 00:58] Rick-Anderson commented on #18748
Can you get https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-cli working?

[2020-06-11 01:38] guardrex commented on #18748
I still have the sample app locally ... ran it ... and ...

<img width="594" alt="Capture" src="https://user-images.githubusercontent.com/1622880/84335017-73b67d80-ab59-11ea-84b6-d58f0bafd90c.PNG">

... it still works ok. I did need to change one minor thing. I stored my cert for the `LocalMachine`, so I needed to get it from there. That would be obvious tho to a dev running the sample, as it woul

[2020-06-11 02:30] Rick-Anderson opened #18749 "Shorten all paths to under 190 characters"
Details in  https://github.com/dotnet/AspNetDocs/issues/403

[2020-06-11 03:04] #8440 closed

[2020-06-11 03:24] rubeesh commented on #18743
Thank you for your comments. Will check this.

[2020-06-11 03:31] Rick-Anderson commented on #18545
Fixed in #18556

[2020-06-11 03:31] #18545 closed

[2020-06-11 05:26] mslot commented on #17342
I don't feel I have got the info I wanted. I have even asked on stackoverflow, https://serverfault.com/q/1020273/133202 and the replies (in comments) is more of a "yes there is, but I don't think so". The question can be boiled down to:"is there a proxy in front or does the request hit kestrel direct?".

[2020-06-11 09:30] KeithDoran commented on #17538
I had the same problem and fixed it by updating Visual Studio 2019 (see Help -> Check for Updates)

[2020-06-11 10:36] guardrex commented on #18745
Fixed by https://github.com/dotnet/AspNetCore.Docs/pull/18750.

[2020-06-11 10:36] #18745 closed

[2020-06-11 10:53] guardrex opened #18752 "Update Blazor WASM security guidance"
~The Azure portal has been updated:~

**UPDATE** The reason that Azure portal UI was different is that (apparently) my default directory uses a different set of Azure portal screens. Therefore, I was looking at depreciated or different UI. When I switched to the new tenant that I created for apps, I receive different app registration UI, and ...

* There isn't a **Token configuration** screen for

[2020-06-11 11:03] Thorium commented on #18747
It was so convenient to use the Hubs with Typescript in AspNet.SignalR with `EnableJavaScriptProxies` (...or you could have generate the proxies manually with signalr.exe):

[code]

Compare the AspNetCore version, so much wizzard-walkthrough, and still not showing is it possibe to call a Hub server side method:

https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-typescript-webpack?view

[2020-06-11 11:19] simonziegler commented on #18735
@guardrex, can I ask if you know of any resource that can tell me how, in a Blazor Server app (not Webassembly) to get hold of the JWT bearer token that I assume is returned from my B2C signupsignin user flow? I need to add this to my http headers and just cannot work out where to find the token. Thanks.

[2020-06-11 11:32] guardrex commented on #18735
https://docs.microsoft.com/en-us/aspnet/core/security/blazor/server/additional-scenarios?view=aspnetcore-3.1#pass-tokens-to-a-blazor-server-app

[2020-06-11 12:03] guardrex commented on #18748
@SB-o-matic, I think this is going to turn out to be a configuration issue given that the sample app runs. If you don't get a helpful error message from Azure via logging, you'll need to walk the topic steps again (and perhaps access Azure docs on Key Vault) and see if you can determine where the problem lies.

The only change that I'm aware of is that you're not strictly required to use the Azure

[2020-06-11 12:03] #18748 closed

[2020-06-11 13:03] simonziegler commented on #18735
I think I'm nearly getting there, but again the docs have unexplained references that will take a lot of guesswork:

[code]

What are `SCOPE` and `RESOURCE` please?

[2020-06-11 13:51] guardrex commented on #18735
* Scope is a permission granted for a request.
* Resource is the URI of the web API that receives the requests.

For example with oAuth v1.0, a Graph API scope might be for something like `offline_access` or `Directory.Read`, and the resource would be `https://graph.microsoft.com`. For v2.0 endpoints, the `Resource` goes away because the scope contains the resource and the permission in v2.0.

Sid

[2020-06-11 13:59] simonziegler commented on #18735
Thanks. Your'e going above and beyond here. I really appreciate the help on what you rightly point out is a brutally complex subject for a new entrant.

[2020-06-11 14:54] georgehemmings opened #18753 "Disable register page"
In the [Disable register page](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-3.1&tabs=visual-studio#disable-register-page) section, there is a code snippet which shows how to prevent users accessing the Register endpoint. Why is it necessary to put a redirect on the POST (as well as the GET - which is clearly needed)? As the Register.cshtml

[2020-06-11 15:14] #18752 closed

[2020-06-11 15:25] stevebelskie opened #18757 "Include mention of Microsoft.AspNetCore.ApiAuthorization.IdentityServer nuget package."
Despite being titled "Authentication and authorization for SPAs" the information seems generally relevant to API authorization whether using an SPA or not. In either case, a reference to the templates' reliance on `Microsoft.AspNetCore.ApiAuthorization.IdentityServer` for the important extension methods (`AddApiAuthorization`, `AddIdentityServerJwt`) outlined in the `Startup` class would be useful

[2020-06-11 15:55] guardrex commented on #18744
@captainsafia Here's some draft lingo to get started ...

Modified code ... uh ... er ... *cough cough* **stolen** *cough* :smile: ... from @tboby at https://github.com/dotnet/aspnetcore/issues/22706#issuecomment-641453132. Thanks @tboby! 🏎️

The draft text doesn't drill down to any particular provider ... they can use any provider they want there, correct?

[2020-06-11 15:58] BrennanConroy commented on #18744
No, that's the problem. ConsoleLogger uses a thread which doesn't work in WASM.

[2020-06-11 15:58] guardrex commented on #18721
Ping @NTaylorMullen @SteveSandersonMS

In ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#invoke-component-methods-externally-to-update-state

... should the `NotififerService` in the Blazor Server example be injected as the topic shows, **Singleton**, or should it be **Scoped** for Blazor Server?

[2020-06-11 16:02] guardrex commented on #18744
Sorry ... bad guess. *I should've read the issue!*

How about ...

[2020-06-11 16:03] guardrex commented on #18744
btw @BrennanConroy ... Can I put in a PR that changes "myhub" to "chatHub" everywhere? The docs go back-and-forth a bit on it. Also, I can make sure that `var connection =` is used everywhere. I think I've seen one or more `var client =` in the docs.

[2020-06-11 16:04] BrennanConroy commented on #18744
😆 go for it

[2020-06-11 16:07] guardrex opened #18758 "SignalR consistency"
Some topics use `/myhub`, while other topics use `/chatHub`/`chathub`. Let's go with "chathub" (lowercase) everywhere.

Also, there might be one or more `var client =` for building new hub connections. Let's go with the more common `var connection =`.

[2020-06-11 16:32] bradygaster commented on #18082
I'm closing this and want to explain why - I feel that this topic - auth - is *always* something that requires a bit of discussion. The code for it is literally as simple as we could make it (and we even had some colorful feedback as it was "less secure than it needed to be" by making it even less verbose).

If you have specific feedback or ideas on how this doc could be improved, please file anot

[2020-06-11 16:32] #18082 closed

[2020-06-11 16:45] guardrex opened #18761 "Fix two bookmarks"
Spotted a pair of wayward bookmarks to touch up.

[2020-06-11 16:48] #18761 closed

[2020-06-11 16:51] markiemarkus opened #18763 "Blazor WA Security model"
What is the correct approach when using a Blazor WA app for security and setting the authorization views

I have a .net core web API which returns the 'ApplicationUsers' - User class + Roles associated to each.
User1 - readonly
User2 - isadmin

My blazor WA app can query the roles, how do I layer them into the AuthorizeView and then use the different custom policies

[2020-06-11 16:55] tboby commented on #18744
@guardrex Thanks for helping make this clearer to others! I'm just going to splurge a bit of feedback on this topic here, feel free to ignore :)

That snippet by itself will probably be enough to help people get logging working, but it doesn't explain why injecting that logging provider works, nor inform people of the magic that is different to non-wasm.

At the top of the page [this section](http

[2020-06-11 17:13] NTaylorMullen commented on #18721
Going to have to wait for @SteveSandersonMS to respond or maybe @pranavkm @javiercn or @captainsafia knows? A bit outside of my context area.

[2020-06-11 17:16] pranavkm commented on #18721
Yeah, looks like it should be scoped. Singleton in Server is generally problematic.

[2020-06-11 17:16] guardrex commented on #18744
Depending on the context, yes, we can add additional information. We often avoid writing about *how (under-the-covers)* and *why* something works (i.e., design) in the framework implementations in order to speed up doc generation, save space (reduce reading time for less essential aspects), and cut maintenance costs. Often, devs don't care about the wee details ... they just have a scenario that t

[2020-06-11 17:16] guardrex commented on #18721
Thanks ... I'll update it now.

[2020-06-11 17:20] #18721 closed

[2020-06-11 17:44] guardrex commented on #18763
Hello @markiemarkus ... We have a node of topics pertaining to Blazor WebAssembly security. See ...

https://docs.microsoft.com/aspnet/core/security/blazor/webassembly/

... but also back out to the main Blazor security node because there's general info there that applies to both Blazor hosting models ...

https://docs.microsoft.com/aspnet/core/security/blazor/

[2020-06-11 17:44] #18763 closed

[2020-06-11 17:45] guardrex commented on #18763
oh ... and I should mention that we don't provide product support. If you need assistance with implementation or have scenario-specific questions, we recommend the usual support channels ...

* [Stack Overflow](https://stackoverflow.com/questions/tagged/blazor)
* [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/)
* [ASP.NET Gitter](https://gitter.im/aspnet/Blazor)

[2020-06-11 19:48] ThroughTheWind opened #18766 "Documentation not up to date for .Net Core 3.1 Identity"
Hello,

I'm trying to learn how to build Web Apis using built-in Identity feature of .Net Core 3.1.
It seems the documentation refers to version 3.0 as the following code isn't available in 3.1 :
`
services.AddDefaultIdentity<ApplicationUser>()
.AddDefaultUI(UIFramework.Bootstrap4)
.AddEntityFrameworkStores<ApplicationDbContext>();
`

It's pretty hard to find documentation of how to reproduce Iden

[2020-06-11 20:11] #16726 closed

[2020-06-11 21:42] Rick-Anderson commented on #17538
@KeithDoran  good tip, thanks for posting.

[2020-06-11 22:41] #18753 closed

[2020-06-11 23:26] #18681 closed

[2020-06-11 23:34] JasonCard opened #18771 "Terms that should not be localized"
This article contains terms that should not be localized and some of those are being over-localized:
- Reserved keywords in headings (e.g. "@try, catch, finally")
- Reserved keywords in bulleted lists (under headings "Razor reserved keywords")
- Directory structure in bulleted list (under heading "Inspect the Razor C# class generated for a view")
It would be great if those terms can be blocked fro

[2020-06-12 02:10] ps-tb opened #18773 "Adding user sample code clarification"
I created an application based on the sample code that is provided for adding a user after registration is removed. The sample code contains the following line:
[code]
I'd like to know if this line is required? It appears that the `CreateHostBuilder` method is needed in order to create an `IHostBuilder` that is then used to create an `IHost` and access its `IServiceProvider`. After the `IServicePr

[2020-06-12 02:21] scottaddie commented on #18773
The `run` method is required for any ASP.NET Core app. You can read a bit more about host setup at https://docs.microsoft.com/aspnet/core/fundamentals/host/generic-host#set-up-a-host.

[2020-06-12 02:21] #18773 closed

[2020-06-12 02:56] GotzeWong opened #18774 "wrong controller name in Route Template Table"
An error appears in the last row  of the route Template table.

{controller=**Home**}/{action=Index}/{id?}           /Products             Maps to the Products controller and Index method. id is ignored.

The controller name  should be **Products**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32374077-e02e-d6a6-1cea

[2020-06-12 03:03] #18154 closed

[2020-06-12 03:14] EmpeRoar opened #18776 "Getting 500 error when I put Objects in Http Response"
[Enter feedback here]
Using asp.net Net5.0,

If I put BadRequest(new { message = ex.message }) this throws this error.

but string has no problem, example. BadRequest("error here")

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ebcd752-af71-c483-eebb-0745bd04fb30
* Version Independent ID: 1f678d5d-230b-0ad0-c9

[2020-06-12 03:24] Rick-Anderson commented on #18774
`Home` is only the default when a controller is not provided.

[2020-06-12 03:24] #18774 closed

[2020-06-12 03:52] Rick-Anderson commented on #18532
@serpent5  would you like to PR this when you have time?

[2020-06-12 04:32] #18776 closed

[2020-06-12 04:33] davidfowl commented on #18776
Solved

[2020-06-12 05:11] captainsafia commented on #18744
With regard to depth, I think we can explain that injecting the `ILoggingProvider` will add our custom WebAssemblyConsoleLogger to the logging providers passed to HubConnectionBuilder. Unlike a traditional ConsoleLogger, the WebAssemblyConsoleLogger is essentially a wrapper around browser-specific logging APIs (e.g. `console.log`) so it can be used from within Mono inside a browser context.

I don

[2020-06-12 05:21] wadepickett commented on #18749
Checked the entire repo.  We are already good (barely) for all .md and .png file path lengths.

This is the very longest one we have at 187 characters:
https://github.com/dotnet/AspNetCore.Docs/tree/live/aspnetcore/tutorials/web-api-help-pages-using-swagger/samples/3.0/TodoApi.Swashbuckle/sample_images/data-annotations-response-types.png

We exclude the first 26 characters of "https://github.com/d

[2020-06-12 06:25] Rick-Anderson commented on #18749
This is the wrong  repo. I just created this issue because we track work here and not the other repo. The real issue is  in dotnet/AspNetDocs#403

[2020-06-12 09:01] rubeesh opened #18777 "Blazor wasm ASP.NET Core hosted app with Azure AD AUTHORIZATION doesn't work for USER DEFINED ROLE"
Blazor wasm ASP.NET Core hosted app with Azure AD AUTHORIZATION doesn't work for USER DEFINED ROLE
Server:
[code]

Client:
[code]

User defined role in azure app registration manifest:
[code]
Even though the CLAIM contains the roles claim , roles base authorization fails:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-06-12 10:24] paulguz opened #18778 "WASM: The inner handler has not been assigned - Configure AuthorizationMessageHandler"
When trying to use the code in the section #configure-authorizationmessagehandler, I receive the

In a vanilla Blazor WASM app (from the template) have the following in Program.cs:

[code]
I then call Http.GetFromJsonAsync and the above error occurs.

If I configure a named client (i.e. use AddHttpClient rather than AddTransient) otherwise identically, I don't get the error.

Is there something mi

[2020-06-12 10:32] #18777 closed

[2020-06-12 11:33] mslot commented on #17342
I have asked the same question (related to a completly other issue) here: https://github.com/dotnet/aspnetcore/issues/9020#issuecomment-643209336 where it is confirmed that IIS is fronting all webapps, also Linux ones

[2020-06-12 12:01] guardrex commented on #18778
Hello @paulguz ... Open that for engineering at ...

https://github.com/dotnet/aspnetcore/issues

... add a `cc: @guardrex` to your opening comment.

We can leave this open here while Javier responds to your engineering issue.

[2020-06-12 12:08] guardrex commented on #18777
Hello @rubeesh ...

Customize the user to convert that `roles` claim JSON array into individual `role` claims. When that JSON array (and the name of the claim changes) from ...

[code]

... to ...
[code]

... it will work.

See: https://docs.microsoft.com/aspnet/core/security/blazor/webassembly/azure-active-directory-groups-and-roles

[2020-06-12 12:12] engfro opened #18779 "Service start timeout issue for self-hosted webserver as windows service"
Hi - working on this .netcore 3.1 project where we are hosting a self-contained webserver (http.sys w/windows auth) as a windows service. For the most part startup seems to be working fine, but we sometimes see this 30sec timeout issue during windowsservice-startup and have a hard time figuring out what is causing this behavior. We also have several "normal" .net framework 4.7.2 windows services,

[2020-06-12 12:15] guardrex commented on #18744
We don't currently have another spot for this. It should be ok in the new little logging section that I'll add under Blazor WASM in logging.

What about `WebAssemblyConsoleLogger` not being in the API docs?

https://docs.microsoft.com/en-us/dotnet/api/?term=WebAssemblyConsoleLogger

[2020-06-12 12:25] Javaman2 commented on #18731
The pain points were just trying to get it up and running for the first time. If I follow the client examples they do not clearly indicate the URL.  Let me ask why would a relative URL ever be used?  I can't figure out why?  Yet that is exactly what the example shows  @BrennanConroy

[2020-06-12 12:28] guardrex commented on #18778
@paulguz You changed `builder.HostEnvironment.BaseAddress` to a string URI. Are they the same value?

[2020-06-12 12:39] guardrex commented on #18744
🤔 ... Acutually, we do have a bit of logging config coverage in the Blazor hosting model configuration topic. We're about to reorganize Blazor content, and that topic might be dropped in favor of using other locations for its coverage. All Blazor logging content might end up in the Logging topic, or Blazor might get its own separate mini Logging topic. It's under discussion right now.

I'm going t

[2020-06-12 12:40] paulguz commented on #18778
No, this is a standalone WASM app that is communicating with an existing API elsewhere.

[2020-06-12 12:58] createitreal opened #18781 "Update documentation to be compatible with dotnet 3.1"
The documentation in this page isn't compatible with dotnet 3.1 even though it was chosen from the drop down list on the top left corner.
Example:
`env.IsDevelopment();`

is deprecated in dotnet 3.1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceffa6a2-770c-1cd9-5145-dcd423f9dd22
* Version Independent ID: 1cb5eb30-d

[2020-06-12 12:59] #18781 closed

[2020-06-12 13:01] ikteru opened #18782 "Documentation not compatible with dotnet 3.1 (deprecated apis)"
The documentation in this page isn't compatible with dotnet 3.1 even though it was chosen from the drop down list on the top left corner.
Example:
`IWebHostEnvironment `
is deprecated in dotnet 3.1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceffa6a2-770c-1cd9-5145-dcd423f9dd22
* Version Independent ID: 1cb5eb30-dd

[2020-06-12 13:03] guardrex commented on #18778
Why is the base address the address of the API? Did you try ...

[code]

... and it also failed the same way?

[2020-06-12 13:08] paulguz commented on #18778
@guardex Yes, it also fails when I tried that.  It works if I set it up as a named client.

The Base Address of the Http Client **should** be the address of the api, shouldn't it? It is "the base adress ... of the internet resource used when sending requests".

[2020-06-12 13:19] rubeesh commented on #18777
fixed
changed
   options.UserOptions.RoleClaim = "role";
to
    options.UserOptions.RoleClaim = "roles";

[2020-06-12 13:26] guardrex commented on #18778
Oh, sorry ... yes. I forgot it's the host env base address in the example because this is a **_hosted Blazor solution_** that the example is showing. It just threw me off. *MORE* ☕☕☕☕☕ *PLZ!* :smile:

It's unrelated to your issue, but I don't think I care for that example ... the URL of `https://www.example.com/base` and `BaseAddress` that would be `https://www.example.com/base`. Seems like we cou

[2020-06-12 14:04] guardrex commented on #18782
Hello @ikteru ... Why do you think it's deprecated? ...

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.iwebhostenvironment?view=aspnetcore-3.1

It was `IHostingEnvironment` that went away ...

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.ihostingenvironment?view=aspnetcore-3.1

[2020-06-12 14:05] #18782 closed

[2020-06-12 14:21] guardrex commented on #18779
Hello @engfro ... Open this for engineering at ...

https://github.com/dotnet/aspnetcore/issues

... but attaching the ZIP is no good for them. They don't usually have the time to look at developer projects in that format. You can put a simple repro project up on GH and then cross-link the repo to your issue.

[2020-06-12 14:21] #18779 closed

[2020-06-12 14:22] guardrex commented on #18778
Strange. I'll research how the bad code came in and get it fixed immediately.

[2020-06-12 14:37] guardrex commented on #18778
It came in from the Preview 5 blog post at https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-5-release-now-available/. It's the example code provided at the end of the Attach tokens to outgoing requests section, except that we changed the registration from AddSingleton to AddTransient later.

It might have gone stale at some point. It wasn't caught on dotnet/AspNetCore.Docs#18

[2020-06-12 15:01] BrennanConroy commented on #18731
The client examples have the client hosted by the server. The browser tells us what url the client came from and we append the path to that url. In your case you are using a different server to host the client, so you need to change the url that the client uses otherwise it'll try to connect to `http://localhost:4200/chatHub` instead of `http://localhost:8081/chatHub`.

And like I said:

[2020-06-12 16:07] serpent5 commented on #16641
@Rick-Anderson `#16498` and `#12580` have been done.

[2020-06-12 16:07] serpent5 commented on #18532
Yeah, it's on my list.

[2020-06-12 16:11] serpent5 opened #18785 "Link to Environment Variable Configuration Provider has changed"
This topic links to _Environment Variable Configuration Provider_ in the Configuration topic, but the anchor name has recently changed, so the link doesn't anchor correctly.

I can submit a PR for this. I'll also check the repo for any other references to that section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0c

[2020-06-12 16:43] ossentoo commented on #17319
@ahlurien On the service side?

[2020-06-12 17:23] engfro commented on #18779
I understand. I created this simple GitHub project https://github.com/engfro/WebFrontend which for the most part reflects our current setup.
The problem seems to be that hostBuilder.Build(); can't finish it's execution within the default 30sec windows service startup intervall

[2020-06-12 17:28] JasonCard commented on #18771
@Rick-Anderson Thank you for the quick fix on the reserved keywords!
There are also directory structures (folder names) in bulleted list under the heading "Inspect the Razor C# class generated for a view" that are being over-localized.
Could you please also take a look at those?

[2020-06-12 18:23] javiercn opened #18786 "Blazor transient disposables"
Can you add details about how to detect incorrect usages?

Sample is here:
https://github.com/javiercn/BlazorServerTransientDisposable

WebAssembly detector:
https://github.com/javiercn/BlazorServerTransientDisposable/blob/master/BlazorApp1/Program.cs
https://github.com/javiercn/BlazorServerTransientDisposable/blob/master/BlazorApp1/DetectIncorrectUsagesOfTransientDisposablesWebAssembly.cs
Blazor

[2020-06-12 18:41] #18744 closed

[2020-06-12 18:53] Javaman2 commented on #18731
`so you need to change the url that the client uses otherwise it'll try to connect to http://localhost:4200/chatHub instead of http://localhost:8081/chatHub.`

That's my point, the examples show relative urls which become :4200 ports, if Angular is running on theat port.  It's not possible to have a hub in Typescript or JavaScript on an Angular port,  as Signalr only supports hub on a server in C#

[2020-06-12 18:57] Rick-Anderson commented on #18771
@JasonCard  sorry I missed that. Fixed in #18787

[2020-06-12 18:57] #18771 closed

[2020-06-12 18:58] JasonCard commented on #18771
Thank you again for the quick fix!

[2020-06-12 18:58] Spongman opened #18789 "missing assembly/namespace"
there's no indication of what assembly/nuget packages are required, or what `using` statements are needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5f1eeee-d500-82bf-0d0a-b4e0d5d5c175
* Version Independent ID: 2373a3df-6ea3-50c7-d63d-61c51d572511
* Content: [.NET Generic Host](https://docs.microsoft.com/en-us/as

[2020-06-12 19:06] Rick-Anderson commented on #18789
No NuGet needed, it's part of the SDK. We don't add usings/NuGet to advanced topics. You can aways create an app for close examination/testing.

[2020-06-12 19:06] #18789 closed

[2020-06-12 19:29] guardrex commented on #18359
We're just waiting on 3.1.6 to land, and I'll make the updates.

https://github.com/dotnet/aspnetcore/pull/22770

[2020-06-12 19:38] CeciAc opened #18791 "Authentication service support should be better detailed"
I moved this from here: https://github.com/dotnet/AspNetCore.Docs.it-it/issues/54
@ciacco85 commented 10 hours ago
Authentication service support should be better detailed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9816eaee-5eff-c3c8-5d58-e2c02c760a00
* Version Independent ID: 60992d09-2a04-1d10-4c85-9642b20ff0e3
*

[2020-06-12 19:42] guardrex commented on #18791
Hello @ciacco85 ... I'm not aware of any additional detail that should be covered here. You would need to be more specific about what you think is missing.

`UseAuthentication` and `UseAuthorization` and other security concepts are covered in more detail in the ASP.NET Core docs starting at ...

https://docs.microsoft.com/aspnet/core/security/

... and in the linked additional resources at the bot

[2020-06-12 19:42] #18791 closed

[2020-06-12 20:55] #18758 closed

[2020-06-12 22:35] #18072 closed

[2020-06-12 22:42] tsutsumi41 opened #18793 "opening an issue in this project!"
# Before you open an issue

If the issue is with an ASP.NET Core document, open the issue with the **Content feedback** button at the bottom of that document page.

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, conside

[2020-06-12 23:57] #18793 closed

[2020-06-13 00:24] Rick-Anderson commented on #18766
Moved to master issue: Authentication and authorization for SPAs #16406

[2020-06-13 00:24] #18766 closed

[2020-06-13 00:26] Rick-Anderson commented on #18757
@stevebelskie  a PR would be appreciated.

[2020-06-13 06:57] Gary255 opened #18797 "Add claims to Identity using IUserClaimsPrincipalFactory - subtopic generates run-time errors."
[Enter feedback here]
I am using Net Core 3.1.6.
I worked through this tutorial page successfully up to the topic cited in the title.

With the WebApp1 project built as instructed, runtime produces the error:
System.InvalidOperationException: 'Scheme already exists: Identity.Application'

I worked out that this was due to there being two calls to establish Identity: one in Startup.cs, and one in I

[2020-06-13 19:28] RonaldRizkDev commented on #18776
how was it solved?  i am having the same issue, and i do not see any updates that would fix this

[2020-06-13 19:33] davidfowl commented on #18776
@RonaldRizkDev by using the right versions of things. Whenever you get a method missing exception 99% of the time it's because you are doing something like mixing up preview versions of packages and the framework. If you're using previewX, make sure you update to previewX everywhere as breaking changes tend to occur more during previews than otherwise.

In the above case, @EmpeRoar was on preview5

[2020-06-13 19:55] RonaldRizkDev commented on #18776
@davidfowl   thank you, but that is not the issue.  i was behind, i only had preview 4 installed, so i corrected that. i now have preview 5 installed, however, i am still getting the same issue.  i have not been able to run a version of Microsoft.AspNetCore.Authentication.JwtBearer beyond preview 3 because it tells me:
Message=Method not found: 'Microsoft.AspNetCore.Authentication.AuthenticationBu

[2020-06-13 20:15] davidfowl commented on #18776
That’s a totally different error though right? Still likely a similar issue though...

[2020-06-13 20:21] RonaldRizkDev commented on #18776
yes and no.  i am getting two different missing function errors.  the one he is getting in this thread, and the jwt one.  maybe i am conflating to different problems.  but my .net preview version is 5 and i am up to date on my preview nuget packages, except the jwt because of the error i am getting in that one

[2020-06-13 20:46] davidfowl commented on #18776
It’s not the same error but if you can provide steps to reproduce I’ll try to find your version mismatch

[2020-06-13 22:38] RonaldRizkDev commented on #18776
@davidfowl   You were right, i found the issue, it was a mismatch, thank you for all your assistance

[2020-06-14 01:35] dajma00 opened #18799 "Component Tag Helper"
I modified my existing Razor pages app to support Blazor components.
Among other instructions, this must be done:
[Component Tag Helper in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/component-tag-helper?view=aspnetcore-3.1
)
However, I get the following error while assigning the Layout:
![Capture](https://user-images.githubusercontent.com/38800605/845

[2020-06-14 01:55] guardrex commented on #18799
Hello @dajma00 ... "{APP ASSEMBLY}" is a placeholder. Replace that with the app's assembly name.

What instructions? Are you following ...

https://docs.microsoft.com/aspnet/core/blazor/integrate-components

[2020-06-14 02:03] guardrex commented on #18799
The line that tells the reader about the placeholder is too far down the topic.

I'll move it up and probably put it in a few spots where example code is shown.

[2020-06-14 08:16] morganc9 commented on #18269
Hi,
Do you have any news? The issue seems to have been ignored so far.

[2020-06-14 10:20] dajma00 commented on #18799
Oh.... totally missed that.

I used the following link to include Blazor in Razor:
[Integrate ASP.NET Core Razor components into Razor Pages and MVC apps](https://docs.microsoft.com/en-us/aspnet/core/blazor/integrate-components?view=aspnetcore-3.1#render-components-from-a-page-or-view)

[2020-06-14 10:23] dajma00 commented on #18799
I totally missed that. And I wonder why Visual Studio doesn't complain...
Yes, moving that comment up should  help.

[2020-06-14 11:16] dajma00 commented on #18799
@guardrex Please replace the placeholder text with something like "Replace-with-your-assembly-name". That way even if you miss the comment, we would know what to do.

[2020-06-14 12:17] guardrex commented on #18269
Let's do this ... open and issue and ask on the engineering repo at ...

https://github.com/dotnet/aspnetcore/issues

I have a feeling that the login mode (popup vs. redirect) isn't configurable, but Javier will let you know and if there's anything else (a workaround) for the behavior.

Please add a `cc: @guardrex` to your issue's opening comment. I re-open and work this issue if we get some actio

[2020-06-14 12:17] #18269 closed

[2020-06-14 13:54] guardrex commented on #18799
We can't really use language like that in the code. The code isn't translated into other languages. What I'll do is move the note up on the placeholder and perhaps change what it says a bit.

[2020-06-14 14:58] #18799 closed

[2020-06-14 16:27] guardrex commented on #18461
Turns out that we already cover this at ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/event-handling?view=aspnetcore-3.1#eventcallback

... but I don't like the syntax of that example. I'll touch that up using this issue.

[2020-06-14 16:32] #18461 closed

[2020-06-15 03:17] bgever opened #18804 "Missing link to content helper"
The Content helper link links to the same Content object instead of the Content method on Controller.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ebcd752-af71-c483-eebb-0745bd04fb30
* Version Independent ID: 1f678d5d-230b-0ad0-c925-15b13081f553
* Content: [Format response data in ASP.NET Core Web API](https://docs.

[2020-06-15 06:22] godshades opened #18805 "How to access via ip address"
Hi I was doing same as tutorial, now it can run on localhost:5000, but when I access via ip 192.168.1.X:5000 => refuse connection

What I need to do
I'm using centos7

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfd9a1f0-c1b6-4443-0700-4c5beafeed03
* Version Independent ID: c22ca7a0-d1d4-200d-fc36-a9798d350c6e
* Cont

[2020-06-15 07:00] Rick-Anderson commented on #18805
You need to use local host or deploy.

[2020-06-15 07:00] #18805 closed

[2020-06-15 07:32] godshades commented on #18805
@Rick-Anderson this mean I can't make it access via ip address ?

[2020-06-15 11:42] voroninp opened #18807 "Need example for hosting multiple Blazor applications."
First, as soon as `basePath` is set the http client should be configured differently:
In template it has the following configuration which is affected by the value coming from `<base>` tag:
[code]
I assume `BaseAddress` should not contain the segment from `<base>` tag, or it should be optional. It is even better to know how base address can be provided by the hosting ASP.NET Core application, if t

[2020-06-15 12:03] SteveSandersonMS commented on #10747
We do have comprehensive set of end-to-end (E2E) tests of all our components at https://github.com/dotnet/aspnetcore/tree/master/src/Components/test/E2ETest/Tests. Generally we focus more on E2E testing for our components than just unit testing them, because it's important that we validate things like the JS part of the renderer all work correctly with every combination of components.

I understan

[2020-06-15 12:05] SteveSandersonMS commented on #18436
PWAs are usually SPAs, but I agree you could make a case that some non-SPA sites make sensible PWAs too. It's a pretty minor distinction so I don't mind too much exactly how this is phrased :)

[2020-06-15 12:45] guardrex commented on #18548
Cross-reference: https://github.com/dotnet/aspnetcore/issues/20374

[2020-06-15 13:28] guardrex commented on #18807
Hello @voroninp ...

1. If the app is hosted at a different base path, then the address will be correct in the default case. If a different `BaseAddress` is required for the `HttpClient`, then it can be set there, so having the app base path applied is optional. We could mention that `builder.HostEnvironment.BaseAddress` is the app's base path and cross-link to [App base path](https://docs.microso

[2020-06-15 13:37] #18436 closed

[2020-06-15 13:51] guardrex commented on #16287
@mkArtakMSFT On #18610 that was just merged ...

I clarify lifecycle method ordering in two ways:

* I re-order the sections by lifecycle method calling order. To do so, I move the *Before parameters are set section* above the *Component initialization methods* section.
* I reword the explanations on when methods are called to clarify the order in each section.

Do you still want to produce a life

[2020-06-15 14:11] ardalis opened #18809 "Load Testing Guidance"
Microsoft has discontinued their Azure DevOps load testing:
https://devblogs.microsoft.com/devops/cloud-based-load-testing-service-eol/

It would be good if this docs article actually has some useful, practical information on writing and running load tests for ASP.NET Core apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-06-15 14:36] mrlife commented on #16287
@guardrex I appreciate seeing the lifecycle methods in calling order, thank you!

Information on when each method is included in that calling order would also be helpful. See the "Timing" column in the table on this page: https://www.nativoplus.studio/blog/blazor-lifecycle-methods.

The information there is very valuable, but I'm not sure if it's 100% accurate according to the latest Blazor releas

[2020-06-15 14:50] guardrex commented on #16287
Yes, two possible nice-to-haves ...

* A handy table early in the topic with brief descriptions and cross-links down to the sections ... DR/Artak to let us know. Seems like a good idea to me.
* We don't have an info graphic image to show and explain events ... DR also to decide, since he would be the one to create it. The problem with images is that they go stale and are time consuming to update.

[2020-06-15 15:23] serpent5 opened #18811 "Link to Use, Run, and Map has changed"
This topic links to _Use, Run, and Map_ in the Middlware topic, but that section was renamed a while back to _Branch the middleware pipeline_, so it doesn't resolve correctly.

I can fix this along with #18785.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0cbb094-29e9-740a-9fd6-db372641d753
* Version Independent ID:

[2020-06-15 16:54] guardrex commented on #18811
This is happening repeatedly (for topics that I wrote) because I don't use named anchors because they don't conform to HTML5 (and I have an accessibility concern for link lists generated from a page).

* The build system is either failing to find broken bookmarks, or authors aren't checking the build report.
* Authors aren't performing a find-'n-replace when changing section headings.

*I've mista

[2020-06-15 16:55] guardrex commented on #18811
@serpent5 ... I marked this in-progress for you for your PR. Thanks **_again_** for everything ur doing to help out around here!

[2020-06-15 17:17] #18757 closed

[2020-06-15 19:44] Rick-Anderson commented on #18805
Not using LocalHost

[2020-06-15 20:10] serpent5 commented on #18811
Thanks @guardrex. I keep a list of issues I've said I'll look at as bookmarks in the browser, but, yeah, it would be awesome if things could be assigned like that. I can see why it's not OK to assign issues to a rando on the Internet, though. 😆

Thanks for the information about the links - I hadn't seen that guidance before. I'll be sure to do the find-'n-replace thing, too. It looks like I actual

[2020-06-15 20:20] guardrex commented on #18811
We can't assign because the contributions are on a **_volunteer_** basis. Using GH's issue assignment feature could be misconstrued as a literal assignment. It also probably puts too much pressure on a community member. I was in the same situation before Aquent/MS picked me up. I worked many issues over several months unassigned on a *verbal handshake* 🤝 that I'd take care of them.

[2020-06-15 20:26] Rick-Anderson commented on #18811
WE could make a `Serpent5-FYI` label to point out issues.

[2020-06-15 20:29] serpent5 commented on #18811
Sure, that does make sense. I didn't really think about the pressure side of it...

Can either of you help me with something, please? In [http-modules.md](https://raw.githubusercontent.com/dotnet/AspNetCore.Docs/master/aspnetcore/migration/http-modules.md), there's this:

[code]

That topic isn't versioned at all, so changing the `#` there would break it for 2.1, at least. How should I handle that

[2020-06-15 20:32] serpent5 commented on #18811
Ooh a label just for me. ✨

I'm OK with the bookmark system for now, really. I went through everything I was mentioned in recently and built a list from that. Now I just drag-drop it onto the folder and it's fine. Although `Good serpent5 issue` or `serpent5 wanted` both have a nice ring to them 🔔 .

[2020-06-15 20:38] Rick-Anderson commented on #18811
If there's only one place that differs, use

[code]

You don't need full file versioning

I also like to drop in
` <a name="myH2"></a>`

and use that. In 5.x I'll use
` <a name="myH2-5"></a>`

[2020-06-15 20:47] serpent5 commented on #18811
Ok, thanks! I'll go with the monikers for now. It looks like the guidance Luke pointed out doesn't like those explicit anchors as much, so I'll _try_ and keep everyone happy.

[2020-06-15 21:00] guardrex commented on #18811
Vegas odds have you at 100-1 ......... **_against!_** 😁

[2020-06-15 22:15] Rick-Anderson commented on #18811
I created label:GII
![image](https://user-images.githubusercontent.com/3605364/84711384-e8930a00-af01-11ea-9d66-4935a54b82cb.png)

[2020-06-15 22:19] Rick-Anderson commented on #18804
@serpent5  you know about https://xrefgen.azurewebsites.net/?handler=GetSearchResults to get `xref:` links, right?

Applied `GII` label

[2020-06-15 23:22] galaldev commented on #18721
Thank you for updating it 👍

[2020-06-15 23:48] Rick-Anderson commented on #18809
@Jeremy-Meng please review.

[2020-06-16 10:16] simonziegler commented on #18735
Hi @guardrex, I seem to be getting closer but now fall foul of the following:

`Microsoft.IdentityModel.Protocols.OpenIdConnect.OpenIdConnectProtocolException: IDX21336: Both 'id_token' and 'access_token' should be present in OpenIdConnectProtocolValidationContext.ProtocolMessage received from Token Endpoint. Cannot process the message.`

I believe you might now have the answer via https://github.

[2020-06-16 10:39] guardrex commented on #18735
I don't know ... I don't recall why I wrote that. It was probably a temporary error that I hit while testing.

According to the remark made by Ash Tappin, you might try working with the scope that you're using and see if that's to blame. Apparently, they had to add the client id to the scope to get it to work. For example, the scope name might be `API.Access`, but the scope provided might work if

[2020-06-16 11:03] simonziegler commented on #18735
Thanks. I'll have a go.

[2020-06-16 13:41] gurustron opened #18816 "`UseForwardedHeaders` and middleware order in the code sample"
In the [code sample](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1#other-proxy-server-and-load-balancer-scenarios
) for "Other proxy server and load balancer scenarios" `app.UseForwardedHeaders()` is invoked before everything else, including `UseExceptionHandler`/`UseDeveloperExceptionPage`.  While on [this docs](https://docs.microsoft.com/en-

[2020-06-16 13:46] ps-tb commented on #18773
@scottaddie thanks for the link. In this case, I'm asking specifically about this program because if you keep `Run` in at the end, it doesn't terminate. The goal is to add a new user to the database so after that's done, `Run` is called but the work has been accomplished. My question should have been more specific: Is this non-terminating behavior intended?

[2020-06-16 15:22] CeciAc opened #18817 "No response after clicking the previous tutorial"
The comments below were machine-translated (the issue replicates in all locales)

@IDAmosWang commented on [Sat Jun 13 2020](https://github.com/dotnet/AspNetCore.Docs.zh-cn/issues/280)

Click at the end of the page
---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 8f592059-3328-88a8-5c6c-43121ac8a0a5
* Version Independent ID: f8a63abf-824b-5b80-e03d-abcb2c162b95
* Conte

[2020-06-16 16:00] lukos opened #18818 "This page is irrelvant if Swashbuckle doesn't work"
This page lists the steps required to get Swashbuckle working correctly and it works locally but when deployed behind IIS it doesn't work, even with the documented relative path in `SwaggerEndpoint`.

A task is raised against Swashbuckle (1392) but hasn't even been commented on since November 2019 (apart from by me!)

If this cannot be fixed, the documentation either needs to say it cannot be used

[2020-06-16 18:19] dfreese opened #18819 "gRPC Compatibility: Changing Message Scope"
This gRPC versioning doc was a great summary.  One thing we ran into a question on was whether or not moving a message into, or out of, another message was binary compatible.  This is effectively just a rename.  It may be worth making note of that in the `Renaming a message` section (assuming I haven't missed it elsewhere).

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-06-16 19:22] Rick-Anderson commented on #18817
@serpent5  see [bottom of tutorial](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/crud?view=aspnetcore-3.1#next-steps)
note GII label

[2020-06-16 21:10] ta1H3n opened #18822 "Typo in the docs"
`Don't add the HSTS header or chose an appropriate max-age if HTTPS will be disabled in the future.`
chose -> choose.

The grammar of the sentence is also confusing. Maybe change or -> nor?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcdd2c35-bf2b-2673-d150-303a8aaa54d2
* Version Independent ID: 815fe034-c9fc-aee3-a

[2020-06-16 21:18] Rick-Anderson commented on #18822
I think it should be
If HTTPS will be disabled in the future, use one of the following approaches:

* Don't add the HSTS header.
* Choose an appropriate `max-age` for ...

cc @serpent5  and note the `GII` label.

[2020-06-16 21:49] #18785 closed

[2020-06-16 21:49] #18811 closed

[2020-06-16 22:39] Rick-Anderson commented on #18818
@lukos  can you provide a link to that?

[2020-06-17 00:34] BenHayat opened #18823 "Please provide a JS client sample instead of .Net client Console app"
[EDIT by guardrex to add the metadata]

Hello team;
Now that the gRPC is GA, could you update the docs to show how to generate ProtoBuf for JS client, i.e. Vue and also how to create Js client to comunicate a .Net Core gRPC server?

https://docs.microsoft.com/en-us/aspnet/core/tutorials/grpc/grpc-start?view=aspnetcore-3.1&tabs=visual-studio

Thanks!
..Ben

---
#### Document Details

⚠ *Do not edit

[2020-06-17 01:15] Rick-Anderson opened #18824 "Conditionally enable runtime compilation"
See https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-3.0&tabs=visual-studio#conditionally-enable-runtime-compilation

Why do we need `#if DEBUG` ?

see https://stackoverflow.com/a/56042266/502537

cc @serpent5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a83deb2-e035-bb66-be4f-

[2020-06-17 01:37] guardrex commented on #18823
Hello @BenHayat ... Please use the **This page** feedback button+form at the bottom of a topic to add metadata to the issue automatically. No worries on this one ... I'll add it manually.

[2020-06-17 01:41] BenHayat commented on #18823
I did. That how it brought me to page.
Go try it yourself.

[2020-06-17 01:50] guardrex commented on #18823
Not sure what happened ... you should see the metadata in the opening comment ...

<img width="687" alt="Capture" src="https://user-images.githubusercontent.com/1622880/84845767-f71d1680-b012-11ea-863a-c1734a29b6ce.PNG">

[2020-06-17 02:01] BenHayat commented on #18823
My fault. I accidentally deleted it. Sorry!

[2020-06-17 07:53] surenazatyan opened #18826 "Text and example needs better explanation"
This section would benefit from more elaborate explanation. "Don't create components that write to their own parameter properties". The point what I understand is to keep the state in private fields instead of setting public properties that should be set from outside, but the given example and explanation does not exactly illumniate the "why" or it is not apparent from given code and its results.

[2020-06-17 09:22] surenazatyan opened #18827 "Explanation is too short and confusing"
This text is confusing:
"An event handler isn't required to prevent the default action. The event handler and prevent default action scenarios can be used independently."

Could be elaborated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de31c7e-7895-9d7c-0d9a-5bdfe83b60a9
* Version Independent ID: 334b7206-d383-40c

[2020-06-17 11:07] guardrex commented on #18826
Hello @surenazatyan ... It's explained fully in the linked section :point_right: https://docs.microsoft.com/aspnet/core/blazor/components#dont-create-components-that-write-to-their-own-parameter-properties

[2020-06-17 11:07] #18826 closed

[2020-06-17 11:18] guardrex opened #18828 "Warning for MainLayout in imports file"
https://github.com/dotnet/aspnetcore/issues/23026

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d64b8062-f910-a918-c5db-b2b67708602c
* Version Independent ID: 56c6cc6e-be94-d164-947c-cb14dbe91a19
* Content: [ASP.NET Core Blazor layouts](https://docs.microsoft.com/en-us/aspnet/core/blazor/layouts?view=aspnetcore-3.1)
*

[2020-06-17 12:40] guardrex opened #18829 "Improve Blazor built-in component content and ToC"
Blazor ToC links of the built-in components are matched (selected) in the sidebar for cross-links and search landing pages. This isn't desirable behavior, so I'll add bookmarks to the links in hopes that they won't be matched (selected).

[2020-06-17 12:51] rfpedrosa opened #18830 "wrong condition in the documentation"
[Enter feedback here]

I beleive thatn correct contains is: `if (!webHostEnvironment.IsDevelopment())`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f6504cd-a059-c5d4-73fb-61222ef1c6e0
* Version Independent ID: 1b42352c-a34f-7703-aa3e-d7e3156bd0bd
* Content: [Handle errors in ASP.NET Core web APIs](https://docs.micro

[2020-06-17 13:40] spboyer commented on #16195
@Rick-Anderson Swashbuckle does work, there are maintenance items that need to be done to bring this doc up to date. @bradygaster and I have recently spoken about some needed items. I'll take ownership of updating the document.

[2020-06-17 14:13] sjk2243 opened #18832 "Following your tutorial verbatim, there isn't a startup class."
[EDIT by guardrex for content. I understand your frustration @sjk2243, but let's plz keep it civil. I'm sure whatever the problem is that it's something that can be explained or addressed in the topic with a PR.]

For [...] sake, do you people even try with these tutorials? I don't know that I've ever used your documentation once where it hasn't produced more problems than it solved. AND YOU"RE TH

[2020-06-17 15:10] captmomo opened #18833 "Argument 2: cannot convert from 'Microsoft.Extensions.Configuration.IConfigurationSection' to 'System.Action'"
Hi,

I"m trying to configure my options. I'm trying to use the same method in the docs, but I get the error:

`Argument 2: cannot convert from 'Microsoft.Extensions.Configuration.IConfigurationSection' to 'System.Action'`

My code:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed39cb0e-aa85-8bba-ffb4-859b56a60

[2020-06-17 15:12] captmomo commented on #18833
Sorry! Realised I needed to include the package "Microsoft.Extensions.Options.ConfigurationExtensions"

[2020-06-17 15:12] #18833 closed

[2020-06-17 16:18] bradygaster commented on #16195
I own this experience, Shayne owns the doc. He and I have had a few meetings on updating it as we're shipping some updates to the tools this month related to Swagger and Swashbuckle. So this is on our short list of things to get done this week.

[2020-06-17 16:30] lukos commented on #18818
Sure. It is [here](https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/1392)

[2020-06-17 17:38] Rick-Anderson commented on #18832
@sjk2243  we had over a million folks report success, and yes, there is a startup class generated.

[2020-06-17 17:38] #18832 closed

[2020-06-17 19:30] andrewdove opened #18834 "Add missing 'type URI' step in POST section"
https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-3.1&tabs=visual-studio#test-posttodoitem-with-postman missing a step to add the URI. The student is left to spot its omission from the diagram that follows having clicked 'send' prematurely.

Specifically, after "Set HTTP method to POST" a step "Type the URI https://localhost:5001/api/TodoItem"

HTH
Andrew
---
###

[2020-06-17 19:46] serpent5 commented on #18817
@Rick-Anderson I guess I might be missing something here, but clicking on the "Previous tutorial" at the bottom takes me to https://docs.microsoft.com/en-gb/aspnet/core/data/ef-rp/intro.

[2020-06-17 19:59] Rick-Anderson commented on #18834
Duplicate of #16901

[2020-06-17 19:59] #18834 closed

[2020-06-17 20:00] Rick-Anderson commented on #16901
See duplicate  #18834

[2020-06-17 20:02] Rick-Anderson commented on #18830
Can you provide a screenshot of the incorrect code? All the `IsDevelopment` code is correct.

[2020-06-17 20:02] #18830 closed

[2020-06-17 20:07] Rick-Anderson commented on #18817
@serpent5  you're right, it's only the https://docs.microsoft.com/zh-cn/aspnet/core/data/ef-rp/crud?view=aspnetcore-3.1 that has that problem.

[2020-06-17 20:09] #18817 closed

[2020-06-17 21:11] tsutsumi41 opened #18838 "Issue: Doc issue"
# Before you open an issue

If the issue is with an ASP.NET Core document, open the issue with the **Content feedback** button at the bottom of that document page.

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, conside

[2020-06-17 21:53] #18737 closed

[2020-06-17 22:00] samira-ouraga opened #18839 "Error, DbContext not recognized in Startup.cs"
Here is the error I see when following the tutorial. I can't move on the next steps of the tutorial.
{
	"resource": "/c:/NET Tutorial/RazorPagesMovie/Startup.cs",
	"owner": "csharp",
	"code": "CS0246",
	"severity": 8,
	"message": "The type or namespace name 'MovieContext' could not be found (are you missing a using directive or an assembly reference?) [RazorPagesMovie]",
	"source": "csharp",
	"sta

[2020-06-17 22:12] samira-ouraga opened #18840 "Incomplete tutorial"
The tutorial does not specify that we need to install SQLite or SQLServer to continue. Now I have this error when I run these commands:
dotnet ef migrations add InitialCreate
dotnet ef database update

Error:
A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct a

[2020-06-17 22:13] #18822 closed

[2020-06-17 22:15] #18838 closed

[2020-06-17 22:19] mkArtakMSFT opened #18841 "GetSelectListWithDefaultValue Modifies IEnumerable<SelectListItem> selectList"
---
**Issue moved from aspnet/AspNetWebStack#271**
- Please respond to @Gavin-Paolucci-Kleinow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a96bbb2e-2611-525f-129d-b86a491e423c
* Version Independent ID: 4e39097d-b058-d4e2-8780-31b0067b6717
* Content: [Tag Helpers in forms in ASP.NET Core](https://docs.microsoft.com/

[2020-06-17 22:19] mkArtakMSFT commented on #18841
---
**Issue moved from aspnet/AspNetWebStack#271**
- Please respond to @Gavin-Paolucci-Kleinow.

---

_From @Gavin-Paolucci-Kleinow on Friday, March 6, 2020 3:52:00 PM_

I'll also note, this was submitted as an issue for the project back in 2014 when it was hosted in CodePlex:
[ASP.NET MVC / Web API / Web Pages - View Issue #1913: DropdownListFor modifies the SelectListItem collection passed to it

[2020-06-17 22:19] mkArtakMSFT commented on #18841
---
**Issue moved from aspnet/AspNetWebStack#271**
- Please respond to @mkArtakMSFT.

---

_From @mkArtakMSFT on Wednesday, June 17, 2020 10:18:44 PM_

Thanks for contacting us. @Rick-Anderson can this be clarified in the ASP.NET Web Stack docs?

[2020-06-18 00:27] Rick-Anderson commented on #18840
You don't need to install SQL Server.

Try creating a new project with authentication and see if you get the same error. Are you using Visual Studio?

[2020-06-18 00:28] Rick-Anderson commented on #18839
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2020-06-18 00:28] #18839 closed

[2020-06-18 00:45] #18804 closed

[2020-06-18 00:47] Rick-Anderson opened #18843 "update to endpoint routing fallback authentication policy"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b66f8ffa-699c-8b11-0cab-805f5953805f
* Version Independent ID: 7c151ed5-fd78-84fd-a08a-88912990c4ca
* Content: [Create an ASP.NET Core app with user data protected by authorization](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/s

[2020-06-18 01:16] thomastmc opened #18844 "The example is either non-functional, or poorly explained."
In a fresh .Net Core Console app in Visual Studio Community 2019 16.6.2, the code below from the example won't build after resolving dependencies. After using "Quick Actions and Refactorings..." to resolve dependencies you're left with IDE0022 "Use block body for methods".

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-06-18 01:25] #18844 closed

[2020-06-18 01:33] bgever commented on #18804
Thank you @serpent5 & @Rick-Anderson 👍

[2020-06-18 02:54] Rick-Anderson commented on #17216
I'll let @serpent5  have dibs on this.

[2020-06-18 04:09] zorigdavaa opened #18845 "followed your tutorial and An error occurred while starting the application."
An error occurred while starting the application.
AggregateException: Some services are not able to be constructed (Error while validating the service descriptor 'ServiceType: Microsoft.AspNetCore.Identity.ISecurityStampValidator Lifetime: Scoped ImplementationType: Microsoft.AspNetCore.Identity.SecurityStampValidator`1[BlazorMovie.Server.Models.ApplicationUser]': Unable to resolve service for typ

[2020-06-18 06:19] #18809 closed

[2020-06-18 09:46] surenazatyan commented on #18826
Hello @guardrex , I agree that the linked section has explanation with examples, and the most relevant text that explaines it goes like this "To maintain state in the preceding scenario, use a private field in the Expander component to maintain its toggled state.". And it works like a charm. But, what is not apparent is - why the private fields preserve their state in the face of parent being rere

[2020-06-18 10:13] guardrex commented on #18826
I don't think that's the explanation line. It's this ...

i.e., **Parameters** are reset, **private fields** obviously can't be reset like that. A parent can't overwrite the value of a field in a child.

The current text seems good.

WRT ...

Dan Roth has mentioned that at https://github.com/dotnet/AspNetCore.Docs/issues/16287, so we'll see what he wants to do on it at some point.

[2020-06-18 10:13] TecnologiaIntegrada opened #18847 "Error"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcdd2c35-bf2b-2673-d150-303a8aaa54d2
* Version Independent ID: 815fe034-c9fc-aee3-a8b5-f2e860b30302
* Content: [Host ASP.NET Core on Linux with Nginx](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx?view=aspnetcore-3.1#start-o

[2020-06-18 10:18] guardrex commented on #18845
@zorigdavaa ... "your tutorial" ... **BlazorMovie**? That's not one of our tutorials ... at least not in this repo.

Open a new issue using the **This Page** feedback button+form at the bottom of the English topic. It will add metadata that cross-links the topic and automatically pings the author.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d

[2020-06-18 10:18] #18845 closed

[2020-06-18 10:19] #18847 closed

[2020-06-18 11:43] voroninp commented on #18807
@guardrex Hi, I found out how to map fallback files

[code]

[2020-06-18 11:47] guardrex commented on #18807
Cool. I'll chat with Artak about your approach for a possible call-out in the content.

Leave this issue open. We'll get to this hopefully within a few weeks ... **_or months_** 🏃😅. Sorry in advance for any delay. We're still trying to get caught up on priority coverage.

[2020-06-18 16:46] serpent5 commented on #16191
@Rick-Anderson `#16155` has been handled now.

[2020-06-18 17:11] dazinator opened #18848 "Which asp.net core middleware is responsible for creating a scope for request and setting HttpContext.RequestServices()"
The common approach to multitenancy involves letting asp.net core set RequestServices as normal at the start of a request, and then, sometime later in a custom middleware, replacing that with with your own scope based on the current tenant.

Suppose I wanted to prevent asp.net core from creating a scope at the start of a request so that I could implement this myself. This would save on a needless

[2020-06-18 17:18] #18848 closed

[2020-06-18 18:14] scottaddie commented on #18818
@lukos Some questions for you:

1. Where are you using IIS (e.g., Azure App Service on Windows, Windows Server, etc.)?
2. Which version of the `Swashbuckle.AspNetCore` package are you using?
3. Which version of .NET Core are you targeting?

[2020-06-18 18:26] voroninp commented on #18807
It's ok =)

One more comment is that when referencing static assets from Razor Class Library and using `base` tag, links must be set accordingly:

[code]

[2020-06-18 20:14] javiercn opened #18850 "[Blazor] Add section on configuring a GRPC service to be used with Blazor Webassembly and auth"
Main piece on configuring the client is [here](https://github.com/javiercn/BlazorGrpcAuth/blob/master/BlazorGrpcAuth/Client/Program.cs#L30-L37) and the repo contains all the details.

[2020-06-18 21:19] serpent5 commented on #18797
I just went through this tutorial. I found that the code in the section cited is out-of-context for the rest of the topic. Up until that point, it's a step-by-step tutorial. In that section, it's more "example code" than it is a step in the tutorial. For example, the tutorial part is all about `WebApp1User`, but the "example code" is about `ApplicationUser`. It also shows calling `AddIdentity` in

[2020-06-18 21:26] Youssef1313 opened #18851 "Provide more information about react with ASP.NET"
I've created an app from the ASP.NET Core MVC. After playing around for some time, I decided to use React in it. I couldn't find how to do that in the documentation. It only talks about creating a new app from react template.

I think there should be a way to add react support in the app created from another template that worth to be documented

---
#### Document Details

⚠ *Do not edit this secti

[2020-06-18 21:31] serpent5 commented on #18797
I just went through this tutorial. I found that the code in the section cited is out-of-context for the rest of the topic. Up until that point, it's a step-by-step tutorial. In that section, it's more "example code" than it is a step in the tutorial. For example, the tutorial part is all about `WebApp1User`, but the "example code" is about `ApplicationUser`. It also shows calling `AddIdentity` in

[2020-06-18 23:19] simonziegler commented on #18735
Hey @guardrex manu thanks for your assistance. I finally managed to get my access token and use it to a protected web api (ASP.NET). The next challenge is to get a refresh Yoel. And work out how to use that. Again the docs confuse me. Do you have any good pointers? Presently I can even get the refresh token from B2C. Tx, Simon

[2020-06-18 23:27] Gary255 commented on #18797
Serpent5 - Thanks for the confirmation that I haven't gone crazy. What I think I really need is separate roles, so I will forget the out-of-context stuff and move on.

[2020-06-18 23:36] guardrex commented on #18735
Refresh token flow isn't supported for Blazor WebAssembly apps on the grounds that it's a security risk. The recommended pattern is that the Blazor WebAssembly app makes a request to a server API app and the server API app keeps and uses refresh tokens with some other APIs that need to be accessed with token refresh. The refresh token is never sent down to and used by the client-side Blazor WebAss

[2020-06-18 23:36] leahtmsft opened #18852 "Clarify that the casing is important for Todo.razor file name"
In user studies, we saw that some users accidentally named the file `todo.razor`, which resulted in compilation errors. We should clarify that casing is significant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e7dc3c-54c4-35de-203e-d230869e8417
* Version Independent ID: dc5b52d5-c8c6-1440-6b3a-fda898167d0c
* Conte

[2020-06-18 23:39] guardrex commented on #18852
Hi @leahtmsft ... It's documented in the second paragraph of the *Components* topic ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#component-classes

... and I'll add a quick bit to the tutorial to surface it there. Thanks for the note.

[2020-06-19 00:11] #18816 closed

[2020-06-19 03:16] pstricks-fans opened #18856 "Could you elaborate more for the following statement?"
I don't understand the statement without an example in code. Could you elaborate more with code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de31c7e-7895-9d7c-0d9a-5bdfe83b60a9
* Version Independent ID: 334b7206-d383-40c3-b346-b54df9d87293
* Content: [ASP.NET Core Blazor event handling](https://docs.microsoft.com/e

[2020-06-19 04:59] zwcloud commented on #6115
A related issue when I tried to use `IActionResultExecutor<NotFoundResult>`: https://stackoverflow.com/q/62422481/3427520
I don't know where's the the service containing it that should be added in `Startup.ConfigureServices`.

[2020-06-19 05:18] TecnologiaIntegrada commented on #18847
thank you

[2020-06-19 05:26] zwcloud commented on #6115
I found out
[code]

For `StatusCodeResult`, we shouldn't query a `IActionResultExecutor` but write to Response directly.

Learned from WebApiContrib:
https://github.com/WebApiContrib/WebAPIContrib.Core/blob/cfb6deeb0b2c132362597b2362232b5592f1ca1a/src/WebApiContrib.Core/Results/HttpContextExtensions.cs#L37

[2020-06-19 05:42] OldrichDlouhy opened #18857 "Readiness and Liveness definitions contradict Google Cloud definitions"
The *Health Checks in ASP.NET Core* documentation page states:

This seem to be opposite of what [Google Flex Engine App documentation](https://cloud.google.com/appengine/docs/flexible/dotnet/reference/app-yaml#updated_health_checks) states:

It may be worth noting this difference in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-06-19 05:47] Rick-Anderson commented on #18857
@glennc  great question. If you can provide a draft answer I'll help.

[2020-06-19 06:34] hcanand opened #18858 "Steps to be done by the VS tooling itself"
The steps to include the relevant *.razor pages and startup modification should be automatically done by the VS tools/Templates itself. this will prevent developer from having to do these manually and/or reduce potential errors.
![to be generated by the tooling](https://user-images.githubusercontent.com/17921466/85103645-b5fc5080-b224-11ea-84f3-8f7ba22ae37d.PNG)

---
#### Document Details

⚠ *Do n

[2020-06-19 06:46] Youssef1313 commented on #18851
I'm also getting the following error when trying to run a newly created asp.net with react app:

[code]

It's just the default template. If there are any additional steps required to run it, it should be mentioned in the article.

[2020-06-19 08:00] simonziegler commented on #18735
Thanks @guardrex, I wasn't aware of the potential security issue. The pattern suggested in your link ("Make API calls from the client to the server API in order to call third-party APIs" ) makes a lot of sense and I'll iterate towards this. I can see this being a long and bumpy road! Do you know if there are any samples around that might give me a head start? I'm presently using Blazor Server but

[2020-06-19 09:12] voroninp commented on #18807
I will also link this [issue](https://github.com/dotnet/aspnetcore/issues/23133) to just let people beware of possible gotchas.

[2020-06-19 09:59] guardrex commented on #18856
Hello @pstricks-fans ... Yes, I can make an improvement. It means what it says, but it would be good to use the word "optional" there. Specifying an event type is **_optional_**. That's all that it's trying to say.

[2020-06-19 10:05] guardrex commented on #18858
Hello @hcanand ... Please open an issue for product unit feedback directly with the product unit. We only work on docs here. Open this issue here 👉 https://github.com/dotnet/aspnetcore/issues

[2020-06-19 10:05] #18858 closed

[2020-06-19 10:17] guardrex commented on #18735
Possibly ... I'm not sure how much churn there will be. I suspect that we'll see some preview bits for 5.0 with updated approaches in a few months.

There's no sample for a secure web API that calls another secure web API. The intermediate API between the WASM app and the other API would just be using normal ASP.NET Core security, so all of the normal ASP.NET Core security docs apply. If we get en

[2020-06-19 10:30] guardrex opened #18859 "Blazor Server security heading update"
Our guidance to use the ASP.NET Core general security guidance for Blazor Server apps has the heading "Secure an existing app," but it applies to both new and existing apps. Update the heading.

https://github.com/dotnet/aspnetcore/issues/23145

Also, there's a problem of some sort with the `dotnet run` command and running the IIS Express profile. Shouldn't IIS Express work for WinAuth if the app

[2020-06-19 11:28] martincostello opened #18860 "Update approach used for antiforgery in "Integration tests in ASP.NET Core"?"
[EDIT by guardrex to add the metadata]

As part of some recent application work I needed to get antiforgery tokens to submit with POST requests as part of integration testing with `WebApplicationFactory<T>`. However, I wasn't happy with the need to load pages and parse the HTML, so I came up with a different approach using Application Parts to inject a controller into the app that could be used to

[2020-06-19 11:33] pstricks-fans commented on #18856
What does "Specifying a event type in the method call" mean in code?

How can we specify an event type in the method call? Did you mean "specifying an argument in event handler method call"?

[2020-06-19 11:37] pstricks-fans commented on #18856
I have a shared component named `Earth.razor`

    <div>
        <button @onclick=@(() =>OnStop.InvokeAsync(DateTime.Now))>
            Stop Spinning
        </button>
    </div>

    @code
    {
        [Parameter]
        public EventCallback<DateTime> OnStop { get; set; }
    }

I use the `Earth.razor` in my `Index.razor` page as follows.

    @page "/"

    The earth stopped spinning at @(dt.T

[2020-06-19 11:48] guardrex commented on #18856
No, this statement only applies to `EventArg` types shown in the [Event argument types](https://docs.microsoft.com/en-us/aspnet/core/blazor/event-handling?view=aspnetcore-3.1#event-argument-types) section.

WRT to the statement itself ...

It also doesn't say "parameter." It should say "optional" and "parameter."

[code]

... or ...

[code]

`MouseEventArgs` is an optional parameter. You only need

[2020-06-19 11:51] guardrex commented on #18856
Well .... 🤔 ..... actually .......... I'll need to look closer at this when I get to this issue. An "optional parameter" is a **_real thing_**, so I need to make sure that I'm not overloading the term inappropriately.

[2020-06-19 11:52] pstricks-fans commented on #18856
Thank you very much.

[2020-06-19 11:53] guardrex commented on #18856
Leave this open. I can't work the issue if it's closed. 😉😄

[2020-06-19 12:12] guardrex commented on #18857
This has been asked and answered several times. The definitions aren't in conflict based on prior analysis. I recommend finding and reporting the prior instances where this ask occurred and then asking Ryan to comment. I'll do it now ... I have a few minutes to pull those up.

[2020-06-19 12:23] BramKreuger opened #18861 "InvalidOperationException: The view 'Index' was not found."
I'm completely new to MVC, but when I follow the tutorial (MVC part 3, views) I get the following error:

InvalidOperationException: The view 'Index' was not found. The following locations were searched: /Views/HelloWorld/Index.cshtml /Views/Shared/Index.cshtml

What am I doing wrong?

Thanks

[2020-06-19 12:23] guardrex commented on #18857
"Several times" ... actually, twice. :smile:

* https://github.com/dotnet/AspNetCore.Docs/pull/18662
* https://github.com/dotnet/AspNetCore.Docs/pull/18266

I checked on this against Kubernetes (linked on the second one :point_up:), and I didn't find such a great conflict as the Google text indicates.

@rynowak, do you want to ...

1. Do nothing ... stick to our guns here.
1. Change the topic's de

[2020-06-19 12:31] guardrex commented on #18860
That's an interesting approach @martincostello, but the product unit discussed and debated what the topic suggests when it was drafted and firmly decided to go this way. I was in the *plz don't pick a winner camp* because I think it can stifle innovation. However, they felt it was the best approach.

We don't have the staffing to perform the updates that you recommend for the foreseeable future. L

[2020-06-19 12:31] guardrex commented on #18860
btw - Please open new issues using the **This page** feedback button+form at the bottom of the topic. It will add the metadata to the issue. No worries tho ... I'll manually add it now.

[2020-06-19 12:35] guardrex commented on #18861
Hello @BramKreuger ... Would you please re-open this issue using the **This page** feedback button and form at the bottom of the topic? It will create this issue with metadata for tracking and automatically ping the author ...... *you'll get a faster response*.

[2020-06-19 12:35] #18861 closed

[2020-06-19 12:39] martincostello commented on #18860
@guardrex Sorry about that - I started by pressing the edit button, but then changed my mind and thought I'd ask in an issue first.

I'm happy to have a go at updating the guidance myself and contributing something for review, if it's welcome to be revisited and updated at the high-level I've suggested.

If engineering would rather leave it as-is, then no worries and I'll this close this. Thanks!

[2020-06-19 12:39] BramKreuger opened #18862 "InvalidOperationException: The view 'Index' was not found."
# Before you open an issue

If the issue is with an ASP.NET Core document, open the issue with the **Content feedback** button at the bottom of that document page.

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, conside

[2020-06-19 12:40] #18862 closed

[2020-06-19 12:46] guardrex commented on #18860
@javiercn :point_up: @martincostello is pitching an interesting approach for the Integration Testing topic and willingness to write a section for the topic ...

Just need to know from you if he should go to the trouble of submitting a PR for a draft section?

[2020-06-19 13:11] RenegadeMaster commented on #7212
Hi guys. I really believe this needs to be addressed. Spent so long puzzling why I could not find this declaration anywhere. At the very least amend the documentation or provide the interface in Microsoft.AspNetCore.Identity.UI.Services. Should be super easy to do with such a lightweight interface?

[2020-06-19 13:15] javiercn opened #18863 "[Blazor][Wasm] Guidance for talking to unauthenticated endpoints."
Can we add guidance to talk to unauthenticated endpoints?
* Create a separate HttpClient registration in HttpClientFactory.
* Decided based on the amount of authenticated vs unauthenticated endpoints, which one should be registered as the default HTTP client instance.
  * For example, if the majority of your API endpoints are authenticated, then you would want that as your default HttpClient insta

[2020-06-19 13:24] #17169 closed

[2020-06-19 13:24] #18064 closed

[2020-06-19 13:24] #18217 closed

[2020-06-19 13:35] javiercn commented on #18860
@guardrex I'll have to think about it a bit. Doesn't sound very problematic though, let me sleep on it a bit and I'll share my thoughts.

[2020-06-19 13:44] guardrex commented on #18860
It seems step away from **_testing the app's own code_**, thus it may be a step away from a proper integration test **_of the SUT_**. However, I might not understand the scenario/use case well enough.

[2020-06-19 13:50] guardrex opened #18864 "Move Blazor WASM perf topic to Fundamentals node"
Per https://github.com/dotnet/AspNetCore.Docs/pull/18831#discussion_r441931906 ...

Maybe we should do this change first and then follow-up with a separate change for that, if necessary. @danroth27 thoughts?

Note: This is a little bit of a break from the doc set at large. We keep perf separate from fundamentals in the main ToC.

cc: @mkArtakMSFT ... I'll place this issue on HOLD until the decisio

[2020-06-19 13:56] guardrex commented on #18724
@JasonCard ... This seems to be fixed now. Is that correct?

[2020-06-19 14:00] guardrex commented on #18181
btw ... There's work going on for this for the ASP.NET Core doc set's general coverage at https://github.com/dotnet/AspNetCore.Docs/pull/18825. The cross-linked engineering issue addresses using the imports file to apply the attribute (instead of placing it into every component) and another approach using a fallback policy. When I get to this issue (hopefully not too far out), I'll see about addre

[2020-06-19 14:25] tncbbthositg commented on #10747
Thanks for responding @SteveSandersonMS!  I just wanted to clarify one thing because I may have caused some confusion.  I didn't mean that there should be unit tests in lieu of E2E tests.  Personally, I think E2E tests are an important part of a healthy automated test suite.  I only mentioned unit tests specifically because they're the ones that seem to be missing.

I think dotnet/aspnetcore#19642

[2020-06-19 14:39] serpent5 opened #18865 "TabSet.SetActivateTab should, maybe, be SetActiveTab"
The `TabSet`'s `SetActivateTab` method doesn't read how I'd expect. Should it be `SetActiveTab`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e7ba96d-bae0-96ee-e76a-71c6e5f4c23f
* Version Independent ID: 5fe884b8-51e1-1b91-57f8-522ff0b7890c
* Content: [ASP.NET Core Blazor cascading values and parameters](https://doc

[2020-06-19 14:45] guardrex commented on #18865
Thanks @serpent5 ... Possibly/probably so. I'll take a look at this on Monday **_-ish_**. I'm **_buried_** in localization updates on https://github.com/dotnet/AspNetCore.Docs/issues/18372 right through the weekend. ⛏️⛰️😅

[2020-06-19 14:47] serpent5 commented on #18865
Sure, no worries. I'm happy to patch it up if you like, but of course it's fine if not.

[2020-06-19 14:57] GilesC9 commented on #18728
I was getting this and found out that it doesn't work in powershell because %USERPROFILE% isn't resolved in powershell you have to use `$env:USERPROFILE`. The command in the docs does work for cmd prompt though. @koshdim

[2020-06-19 15:01] guardrex commented on #18865
![big_trouble](https://user-images.githubusercontent.com/1622880/85146885-b3ddc600-b213-11ea-9306-473da0bc2efd.png)

*Sit tight, hold the fort and keep the home fires burning. And if I'm not back by Monday ... call the president.*

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&mdash; Jack Burton ([Kurt Russell](https://www.imdb.com/name/nm0000621/)), [Big Trouble in Little China](https://www.20thcent

[2020-06-19 15:01] SteveSandersonMS commented on #10747
Thanks for your feedback! I appreciate your point.

Like all software teams, we optimize for delivering the best result given the available development resources. This is what's led us to the specific blend of unit and E2E tests we have in the repo today. So far I'm pretty happy that this form of testing has given good results in terms of the correctness and agility of the codebase. However, when

[2020-06-19 15:25] guardrex commented on #18865
Well, I was too curious to wait for an investigation.

This goes way, way ... **_WAY_** back 👴. It's been like this since ancient Blazor times ... **_two years ago_** 😄. I don't recall naming it that way. I'm not sure if I had a reason or if another wonderful 🙈 **_find-'n-replace debacle_** 🙈 did this in ancient times.

Whatever the case, *yeah!* ... I think ur right @serpent5. Go ahead if you wan

[2020-06-19 15:31] javiercn opened #18866 "Cors needs a code snippet on the doc"
The cors section needs an explicit code sample on how to configure HTTP Client. If I had to open a project to figure it out, I can't see our customers figuring it out by themselves.

I would also show an approach with a message handler for this, since adding it to the request directly prevents using the extension methods on httpclient.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-06-19 16:50] egil commented on #10747
Hey @guardrex, sorry about the radio silence on this, I apparently have too many balls in the air right now.

Here is a suggested outline:

1. **Introduction to Blazor component testing**
  This would cover what it means to test a Blazor component, i.e. types of input you want to provide and the type of things you would normally want to verify during a test. This could also include a short discuss

[2020-06-19 17:51] operationslazlo326 opened #18867 "Which version of .netstandard does Blazor support"
The page states, "Blazor implements .NET Standard 2.0." but Blazor project templates target 2.1.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc28995-6784-a7d2-5c0b-9811a8d19c1a
* Version Independent ID: 1668c8fb-024c-c86d-d4d5-e22e3355c04b
* Content: [Introduction to ASP.NET Core Blazor](https://docs.microsoft.com/e

[2020-06-19 17:59] guardrex commented on #18867
Thanks @operationslazlo326 ... It was 2.0 during Blazor WebAssembly's preview, and we didn't say "or later" because 2.1 wasn't released until September IIRC. I'll adjust it.

[2020-06-19 18:11] #18867 closed

[2020-06-19 18:24] davidfowl opened #18869 "Add common anti-patterns samples and outcomes"
There are a set of patterns that can cause bad behavior when using the DI container (I reference some of them in my talk here https://youtu.be/x-C-CNBVTaY?t=1628 code samples here
 https://github.com/davidfowl/NDCLondon2017/blob/417394eaa2c764eb9ed85b64a1dde0574068eea2/DependencyInjectionDemos/Program.cs)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-06-19 19:35] Rick-Anderson commented on #18857
It's 2 or 3, ignore is not an option. 3 seems reasonable, hopefully adding, For more information, see `[this GitHub issue](URL)`.

[2020-06-19 19:40] guardrex commented on #18857
Not an option unless Ryan says that he's correct and that **_Google is wrong_** :trollface: lol.

IIRC, we had a brief word on it when the topic was being written. My weak memory (👴) is that he was happy with what he said at the time.

[2020-06-19 19:43] guardrex commented on #18857
btw on Option 2 ... it's not just the text. The sample app needs to change, too.

[2020-06-19 19:48] guardrex commented on #18857
cc: @unaizorrilla ... Would you like to comment on this, too? See the cross-linked remarks that I listed :point_up:, too.

[2020-06-19 20:10] serpent5 commented on #18865
@guardrex Yeah, like you said in your most recent edit, the example works properly as it is. It probably wasn't worth reporting.

[2020-06-19 20:12] guardrex commented on #18865
I think it's worth changing tho. It sounds funky like that. I'll take care of it.

[2020-06-19 20:22] serpent5 commented on #18865
Ok, sorry. I was more than happy to do it, but after your edit I didn't feel like it was really significant. Sorry about closing this, then. I will just leave you to take care of it now to save the back and forth.

[2020-06-19 20:59] serpent5 commented on #18797
@Rick-Anderson What should we do with this one? Here's a few ideas:

1. Reframe the section as a set of tutorial steps that extend the existing tutorial.
1. Be more explicit that it's _not_ an extension of the tutorial.
1. Leave it as it is, with this issue being available in the repo for anyone that gets stuck.

[2020-06-19 21:09] Rick-Anderson commented on #18797
How about 2 and keep it simple buy adding, For more information, see `[this GitHub issue](https://github.com/dotnet/AspNetCore.Docs/issues/18797)