[2017-08-10 17:13] #3691 closed

[2017-08-10 20:30] Eilon commented on #3711
What do you actually need from me? The XML files themselves? Or the NuGet package ids + versions?

[2017-08-10 22:37] tdykstra opened #3926 "Change links to point to 2.0 API ref when available"
- [x] update the link on the [ASP.NET Core hub page](https://docs.microsoft.com/en-us/aspnet/#pivot=core&panel=core_overview)
- [x] redirect the old API ref docs for 1.1 and 1.0 to the new pages at https://docs.microsoft.com/en-us/dotnet/api/?view=aspnetcore-1.1 and https://docs.microsoft.com/en-us/dotnet/api/?view=aspnetcore-1.0.

--- original issue ---
The servers docs (Kestrel, HttpSys) link to

[2017-08-10 22:56] aaron-bozit commented on #3691
Thanks so much Steve, looks like its working well.

[2017-08-11 02:09] #3054 closed

[2017-08-11 02:09] #3548 closed

[2017-08-11 18:11] tdykstra commented on #1095
@Tratcher does this issue apply only to Kestrel 1.x?  Your description in https://github.com/aspnet/KestrelHttpServer/issues/369 refers to calling UseKestrelHttps in Configure method:

The hosting.md doc says `CaptureStartupErrors` defaults to false, so it should also add that the default is true when running behind IIS.

[2017-08-11 18:21] guardrex commented on #2828
@tdykstra @Rick-Anderson @jongalloway

[Awesome .NET!](https://github.com/quozd/awesome-dotnet) and [.NET Open Source Developer Projects](https://github.com/Microsoft/dotnet/blob/master/dotnet-developer-projects.md) are well maintained. How about just linking these as the last two links in the *Next steps* section of https://docs.microsoft.com/en-us/aspnet/core/? Let me know, and I'll 🤜 knock it o

[2017-08-11 18:29] Tratcher commented on #1095
This issue applies to UseIISIntegration for all versions. Dan was just giving an example of why startup may fail and some of it's consequences.

That said Dan, your example is misleading. Kesterel HTTPS is never enabled with UseIISIntegration. CaptureStartupErrors is off by default for self-host scenarios like Kestrel HTTPS.

[2017-08-11 18:47] #2648 closed

[2017-08-11 18:47] #3385 closed

[2017-08-11 21:53] #3449 closed

[2017-08-11 22:32] tdykstra commented on #3389
Assigned to @bwren

[2017-08-12 06:35] hardhub commented on #3389
Where to read details about this?

I have found only this info:
Hosting environments can now inject extra package dependencies and execute code during application
startup, without the application needing to explicitly take a dependency or call any methods. This feature can be used to enable certain environments to "light-up" features unique to that environment without the application needing to kn

[2017-08-12 19:24] tdykstra commented on #3389
@hardhub [@]bwren will be documenting the Application Insights integration.  No ETA yet.

[2017-08-13 17:58] #2030 closed

[2017-08-13 18:00] #2682 closed

[2017-08-13 18:00] #3301 closed

[2017-08-13 18:01] #3906 closed

[2017-08-13 18:02] #3877 closed

[2017-08-14 19:35] scottsauber opened #3954 "ASP.NET Core 2+ Precompiled By default"
On [https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?tabs=aspnet20](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?tabs=aspnet20) to pre-compile views it says to set the MvcRazorCompileOnPublish property should be set to true.

While this will work, technically pre-compiling happens by default now in ASP.NET Core 2 if you don't specify anything at al

[2017-08-14 19:44] scottaddie commented on #3954
@Rick-Anderson I propose that we remove the XML snippet and mention that the precompilation happens by default. Also, we should mention that for projects targeting .NET Framework, a specific package needs to be installed. This is referenced here: https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/#review-your-razor-view-compilation-setting. Thoughts?

[2017-08-14 20:45] Rick-Anderson commented on #3954
@scottaddie  agreed.

[2017-08-14 20:50] scottaddie commented on #3954
@scottsauber If you're still willing, please submit a PR with these changes.

[2017-08-14 21:49] Rick-Anderson opened #3959 "macOS version of Razor Pages series"
Good start at https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages-mac/
[code]

This puts the DC in the data folder, not the models folder.

[2017-08-14 21:50] Rick-Anderson opened #3960 "VS Code version of Razor Pages series"
This has a good start at https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages-vsc/
without much traffic.
[code]

This puts the DC in the data folder, not the models folder.

[2017-08-15 02:47] benaadams opened #3964 "App secrets need updating for 2.0"
Version numbers of packages; instructions etc

Docs/aspnetcore/security/app-secrets.md

[2017-08-15 08:18] joaogl opened #3965 "Multiple issues on MacOS Issues"
## General
I'm created a solution at work using .NET Core under a windows 10 machine using Visual Studio 2017, it's working correctly and I've also deployed it to two servers using Jenkins. Everything works fine! Until I add my mac to mix :|
On my mac I'm running Jetbrains Rider on the same project and it keeps giving me awkward issues.

## Issues with Existing Topics

One of the issues is on my r

[2017-08-15 14:44] benaadams opened #3969 "Authenticator apps instructions are incomplete"
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-enable-qrcodes

There is no `AuthenticatorUri` in `TwoFactorAuthenticationModel` as per [the RazorPagesWeb template](https://github.com/dotnet/templating/blob/360e1497e601221b42aa8bb8de17d19dea4a8488/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/RazorPagesWeb-CSharp/Pages/Account/Manage/TwoFactorAuthent

[2017-08-15 14:45] Rick-Anderson commented on #3965
If you can show a bug in the framework open an issue in the appropriate repo. It's not uncommon for code developed in one platform to fail in another. This is usually because of bugs in the code do not cause a failure on the original platform.

[2017-08-15 14:45] #3965 closed

[2017-08-15 14:47] Rick-Anderson commented on #3969
@blowdart can address these problems?

[2017-08-15 16:15] #3758 closed

[2017-08-15 18:50] blowdart commented on #3969
There should have been - @danroth27?

[2017-08-15 18:55] scottaddie commented on #3726
Fixed by https://github.com/aspnet/Docs/pull/3923

[2017-08-15 18:55] #3726 closed

[2017-08-15 19:35] Rick-Anderson commented on #3871
@guardrex  can you fix this?

[2017-08-15 19:39] Rick-Anderson commented on #3767
@rynowak  can you point me to a `ConfigureServices` sample that does this?

[2017-08-15 19:45] #3748 closed

[2017-08-15 19:57] Rick-Anderson commented on #3664
fixed by https://github.com/dotnet/docs/pull/2496

[2017-08-15 19:57] #3664 closed

[2017-08-15 20:17] guardrex commented on #3871
The concern here (based on only a quick look) is that the sample should go 2.0 SxS with the existing 1.1 version, and the current 1.1 sample is possibly tied into several topics.

In order to get a SxS 2.0 with new 1.1+2.0 sample folders (i.e., the cheese moves for the 1.1 sample), then a whole bunch of topics will need help with the changes (if this search result is accurate): https://github.com/

[2017-08-15 20:32] Rick-Anderson commented on #3871
We aren't keeping the 1.x version. I'll update this series this week and ping you when I get stuck. We don't keep older versions.

[2017-08-15 20:40] guardrex commented on #3871
Ah! Yes ... makes sense. It still may touch several topics, but surly not as much as I initially thought. Sure thing, I'll be around to help where needed.

[2017-08-16 07:59] chikien276 opened #3989 "Update 2.0 uploading large files with streaming"
[Current](https://github.com/aspnet/Docs/blob/master/aspnetcore/mvc/models/file-uploads.md) document uses `MultipartRequestHelper` with `MediaTypeHeaderValue` from package `Microsoft.Net.Http.Headers` which is incompatible with current ASP.NET Core 2.0 because it uses `MediaTypeHeaderValue` from package `System.Net.Http.Headers`

https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads

[2017-08-16 09:46] justdmitry opened #3990 "TOCs mismatch/outdated for different languages"
That's a general problem. Each one particular issue can be solved by updating (I guess) some .md files, but this issue is about problem "in common".

On screenshot below you can see same section of docs called *Migration*, but for different languages - `en-us` on the left and `ru-ru` on the right. Compare TOCs subtrees - they are different. Data in right ("localized") TOC is different (I guess out

[2017-08-16 14:52] markusschaber opened #3991 "Obsolete description in documentation for linux production environments"
https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction claims we should call app.UseIdentity() in App.Config() - However, this is obsolete in ASP.NET Core 2.0 and gives a compiler warning: aspnet/Security#1310

I cannot write the PR myself, als I'm still an absolute noob in ASP.NET Core (but trying to improve...)

[2017-08-16 15:27] mj1856 opened #3992 "DateTime.Now does not belong in ASP.NET"
## The Problem

According to [this search](https://github.com/aspnet/Docs/search?q=DateTime.Now), there are currently
 228 instances of `DateTime.Now` in the ASP.NET documentation samples.  This is a problem because it reinforces an anti-pattern.

`DateTime.Now` reflects the local time of the computer where it is executed.  In a web application, that will use the *server's* time zone when deployed

[2017-08-16 15:48] scottaddie commented on #3992
@mj1856 This is a great suggestion! Thank you for volunteering to submit the required changes. We prefer a large number of separate PRs, one for each subject area.

[2017-08-16 18:19] scottaddie commented on #3954
@scottsauber I'll take care of this one, since I'm already in that doc making a related change.

[2017-08-16 19:39] guardrex opened #3997 "Update for new hosting bundle installer link"
The downloads page link for the hosting bundle installer is ...

https://download.microsoft.com/download/B/1/D/B1D7D5BF-3920-47AA-94BD-7A6E48822F18/DotNetCore.2.0.0-WindowsHosting.exe

... but we've been using an fwlink in the topics.

@shirhatti Is it out? If not, let me know later, and I'll quickly pop it into the IIS and ANCM topics.

[2017-08-16 20:03] guardrex commented on #3997
Ping @leecow ... sry forgot u helped with this last time.

[2017-08-16 20:29] #1632 closed

[2017-08-16 20:29] leecow commented on #3997
@guardrex - you can use https://aka.ms/dotnetcore.2.0.0-windowshosting

[2017-08-16 20:32] scottsauber commented on #3954
Sounds good. Sorry about the delayed response. Have had a sick kid at home the last 2 days.

[2017-08-16 20:32] Rick-Anderson opened #3998 "getting-started for 2.0"
the asp.net site getting started will be updated to show these steps, and the one in the aspnet/Docs repo needs to follow suit:

a.	dotnet new razor -o aspnetcoreapp
b.	dotnet run
c.	View in the browser
d.	Edit Index.cshtml to add <p>Hello, world! The time on the server is @DateTime.Now</p>

Notes: Remove the mkdir/cd and use the -0

[2017-08-16 20:59] scottaddie commented on #3954
@scottsauber No worries. Hope the kiddo gets well soon.

[2017-08-16 21:07] #3116 closed

[2017-08-16 21:08] scottaddie commented on #3998
Item 1 in the list on that page should probably say "Install .NET Core SDK" instead of "Install .NET Core".

[2017-08-16 21:13] guardrex commented on #3997
I guessed ... I went ahead and put the word "bundle" in the link.

[2017-08-16 21:14] blowdart commented on #3969
Yup, fixed it last night in my yolo push to master, because aussie internet sucks and I can't sync the repo.

@benaadams can you confirm the updated instructions work for you?

[2017-08-16 21:20] Rick-Anderson commented on #3384
@tdykstra can this be closed?

[2017-08-16 21:21] Rick-Anderson commented on #3545
fixed via https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/

[2017-08-16 21:21] #3545 closed

[2017-08-16 21:22] #3384 closed

[2017-08-16 21:23] tdykstra commented on #3384
As you finish additional 2.0 docs it would still be best to add links to them in this doc, but we don't need to hold the issue open for that.

[2017-08-16 21:24] #3341 closed

[2017-08-16 21:26] Rick-Anderson opened #4002 "Razor Pages version of EF/MVC"
RP version of [Getting started with ASP.NET Core and Entity Framework Core using Visual Studio](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/index)

First 4 of series.

[2017-08-16 21:26] guardrex commented on #3997
@leecow Side Question: Just ran into something unexpected with the `OPT_INSTALL_LTS_REDIST=0 OPT_INSTALL_FTS_REDIST=0` switches. I just ran the installer with them. According to the status messages in the installer window, both the runtime and the runtime store were installed. We state in the topics that if the admin only intends to install the ANCM that these switches will configure the install t

[2017-08-16 22:13] shirhatti commented on #3997
@joeloff

[2017-08-16 22:17] joeloff commented on #3997
LTS and FTS only apply to 1.x bundles, We treat 2.0 as LTS for now. So if you do OPT_INSTALL_LTS=0, you should only get the package store and ANCM. We can look at adding a switch to disable the package store as well for 2.0.1 if you'd like

[2017-08-16 22:20] leecow commented on #3997
@joeloff I don't think you're making a policy statement but want to be clear, 2.0 has not been declared LTS yet and should be considered 'current' from a lifecycle perspective.

[2017-08-16 23:09] guardrex commented on #3997
According to the installer messages, it's adding the runtime. Maybe it isn't, but that's what the status messages say. I'd need to dig into the log to confirm.

The use case for this is pure SCD hosting scenarios, where the admin only wants the ANCM and config file. This isn't currently possible. @Rick-Anderson @tdykstra I'd like to pull that note from the topic. How do u want it handled?

[2017-08-16 23:14] joeloff commented on #3997
@guardrex yes, you are correct. That flag appears to be disabled when support for the OPT_NO_X86 was added and because the package store is always installed.

[2017-08-16 23:33] joeloff commented on #3997
I think we should fix this properly in 2.0.1. Given that the bundle is intended to install as much as possible by default and that we don't necessarily carry LTS/FTS bits.

I'd propose that we do the following:
1. No flags installs everything it can install
2. OPT_INSTALL_RUNTIME=0 disables all the runtimes, so if there are LTS/FTS both are disabled
2.1 OPT_INSTALL_LTS and OPT_INSTALL_FTS can be s

[2017-08-16 23:41] guardrex commented on #3997
It might be unusual to either ...
* Install the runtime but not the runtime store
* Install the runtime store but not the runtime

However, the SCD 😍 folks can combine the flags and ultimately end up with only ANCM module and config file, so that sounds very nice.

In the meantime tho, I should pull the note. It's not a current feature of the installer. If you open an issue for tracking those inst

[2017-08-17 01:55] tdykstra commented on #3998
[@]rowanmiller is taking care of this.

[2017-08-17 02:20] benaadams commented on #3969
Yes; and... I might have a sheepish admission...

[2017-08-17 02:20] #3969 closed

[2017-08-17 04:41] guardrex opened #4004 "URL Rewriting Middleware topic updates for 2.0"
* 2.0 updates
* 2.0 sample
* Guidelines adherence updates

[2017-08-17 15:22] Rick-Anderson opened #4009 "Download links should include link download instructions"
URL Rewriting Middleware in ASP.NET Core | Microsoft Docs
[08-11-2017] The article states 'View or download sample code', but there is no way to download the sample code from Github!

Append the following to download links.
`[how to download](xref:tutorials/index#how-to-download-a-sample)`

[2017-08-17 15:27] scottaddie opened #4010 "2.0 update to fundamentals/index"
Update the "ASP.NET Core fundamentals overview" doc to incorporate ASP.NET Core 2.0 changes.

[2017-08-17 18:36] #3864 closed

[2017-08-17 20:38] guardrex commented on #4009
I worked on this on the .NET Core side:

https://github.com/dotnet/docs/issues/1644
https://github.com/dotnet/docs/pull/1832

[2017-08-17 20:41] Rick-Anderson commented on #4009
IIRC, the .NET download instructions were very complex - talking about forking and other git concepts. The folks who struggle with downloads need only to be told to nav to the top of the repo and download the entire repo. Unzip then navigate locally to the sample. Because the .NET version was so complex, I wrote a simpler version. I can't find it now. Maybe it got deleted.

[2017-08-17 20:43] guardrex commented on #4009
Yes ... IIRC it was decided to let the content on that topic explain it all out and just link to it ...

It's at ...

https://docs.microsoft.com/en-us/dotnet/samples-and-tutorials/#viewing-and-downloading-samples

[2017-08-17 20:59] Rick-Anderson commented on #4009
Yep, way to complex. It doesn't tell you to navigate from the link provided to the repo. Then it has all the fork and clone nonsense that you don't need to download a sample. I rewrote the instructions in 10% of the words and it was super easy to follow.

[2017-08-17 21:10] guardrex commented on #4009
I hope u find that ... at the time, it wasn't known that there was another way to *only* get the contents of the sample folder. That was the big prob IIRC.

[2017-08-17 21:49] tdykstra commented on #4009
[code]

[2017-08-17 21:51] guardrex commented on #4009
Lovely. :grinning:

[2017-08-17 22:10] guardrex commented on #4009
Had the same mention over in the other text ...

... and in fairness to the complexity, the key is that it's providing options for those methods ...

... and one of those listed options is to just download the ZIP.

I favor showing the options. It cross-teaches a little :sparkles: GH magic :sparkles: (with links) ... prob not a bad thing. If a GH newbie learns how to fork and clone, they're a ston

[2017-08-18 00:54] shanselman opened #4018 "https://aka.ms/dotnet-install-templates has bad redirect + No "Install templates docs""
With SDKs backward compatible (without global.json) it possible to create a .NET Core 1.1 application by using the new version, such as
`dotnet new console --framework netcoreapp1.1`
This returns with an error that this is not a valid value for –framework and a link to install additional templates:  https://aka.ms/dotnet-install-templates
It would be ideal if this link showed how to install a temp

[2017-08-18 00:57] mlorbetske commented on #4018
/cc @sayedihashimi

[2017-08-18 01:25] shanselman commented on #4018
From Mike, some starter text:

To install the 1.0 and 1.1 project templates, please run one or more of the following commands

For web templates:
dotnet new -i Microsoft.DotNet.Web.ProjectTemplates.1.x::1.0.0-*

For class library or console apps:
dotnet new -i Microsoft.DotNet.Common.ProjectTemplates.1.x::1.0.0-*

For unit test projects:
dotnet new -i Microsoft.DotNet.Test.ProjectTemplates.1.x::1.

[2017-08-18 03:33] guardrex opened #4019 "Response Caching Middleware topic updates for 2.0"
* 2.0 updates
* 2.0 sample
* Guidelines adherence, style, and grammar updates

[2017-08-18 05:00] danroth27 commented on #4018
@Rick-Anderson @tdykstra

[2017-08-18 06:26] damienbod opened #4021 "Missing launchsettings.json migration"
I have to change the launchSettings.json with each update, otherwise the app will not run from the console. This should be added to the docs:

https://github.com/aspnet/Docs/blob/master/aspnetcore/migration/1x-to-2x/index.md

Greetings Damien

[2017-08-18 13:55] ardalis commented on #4009
If we could nudge GitHub into supporting Zipping of arbitrary folders for download (which I believe some other competing sites offer), this would be a non-issue.

[2017-08-18 14:04] Rick-Anderson commented on #4009
@BillWagner - GitHub ask for you.

TLDR; version
Customers don't know how to download a sample when we give them the download link in an article.  The .NET help on download is insanely complex, mixing up forks and other complexities new folks don't need. I wrote [How to download a sample](https://docs.microsoft.com/en-us/aspnet/core/tutorials/#how-to-download-a-sample) - and no complaints on that

[2017-08-18 15:21] #4010 closed

[2017-08-18 15:23] scottaddie commented on #4021
@damienbod Thank you for reporting this. Can you please specifics on what you had to change in that file?

[2017-08-18 15:53] damienbod commented on #4021
Hi @scottaddie

old not working from console (Was working in 1.1)

[code]

new working

[code]

Greetings Damien

[2017-08-18 17:53] tdykstra commented on #1095
Fixed by #3875

[2017-08-18 17:54] #1095 closed

[2017-08-18 18:10] genitalico opened #4031 "Translate documentation to spanish"
Hi guys,

I have a question, how to can or (we), translate the documentation to spanish, I only do create a fork and I order merge ?

my friends and me can do this.

Thanks!

[2017-08-18 18:51] #2406 closed

[2017-08-18 18:59] scottaddie opened #4033 "Document the new ITagHelperComponent in ASP.NET Core 2.0"
Work with Jass Bagga to get this new 2.0 scenario documented. See https://github.com/aspnet/Mvc/issues/6282 for more info.

I propose the following outline for a new reference doc called **Creating Custom Tag Helper Components**:
- Overview
- Use Cases
- Adding via Dependency Injection
- Adding via Controllers
- Adding via Views

This new doc will be found within the **MVC** --> **Views** --> **Ta

[2017-08-19 17:12] Pomoinytskyi commented on #3387
Hi all.
I created project from web template (Asp.Net core 2.0) and found that signature of Startup constructor was changed. Now it receives IConfiguration instead of IHostingEnvironment. Can you reference me to the document with best practice how to  add UserSecrets to the configuration.
Thanks.

[2017-08-19 20:56] scottsauber opened #4043 "Intro to Identity Needs Updated to 2.0"
This [article](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?tabs=visual-studio) still uses the 1.x API's for configuring Cookies.  These API's are missing in 2.x.

Specifically this:
[code]

Should be this:
[code]

Happy to send a PR (for real this time!), but didn't know if this was already a WIP somewhere that I didn't see already, and if you wanted to have tabs

[2017-08-20 00:27] hanslai commented on #3849
@Rick-Anderson I just read this [Where is PostAsJsonAsync method in ASP.NET Core?
](https://stackoverflow.com/questions/40027299/where-is-postasjsonasync-method-in-asp-net-core) on stackoverflow, and realized **PostAsJsonAsync** is not part of the aspnet.core.

So, I call end up unreference WinInsider.System.Net.Http.Formatting, but calling JsonConvert.SerializeObject(); first then call **PostAsyn

[2017-08-20 02:52] guardrex opened #4044 "Response Compression Middleware topic updates for 2.0"
* 2.0 updates
* 2.0 sample
* Guidelines adherence, style, and grammar updates

[2017-08-20 04:45] guardrex opened #4046 "Rendering of code block line highlights"
![capture2](https://user-images.githubusercontent.com/1622880/29492007-888df4d0-8533-11e7-89a2-79ab3c046091.PNG)

![capture](https://user-images.githubusercontent.com/1622880/29492005-836b5cf4-8533-11e7-9600-b44ce7bc8892.PNG)

![capture1](https://user-images.githubusercontent.com/1622880/29492006-8618ff1a-8533-11e7-9e94-6dd4ae2a1b3a.PNG)

![capture4](https://user-images.githubusercontent.com/16228

[2017-08-20 05:05] #4046 closed

[2017-08-21 04:07] taigosantos opened #4051 "Defaults ASP.NET Core 2.0 API Template, return a response COOKIE"
Defaults ASP.NET Core 2.0 API Template, return a response COOKIE in all API responses.
How can i remove this reponse COOKIE?

[2017-08-21 16:32] guardrex commented on #1870
@Rick-Anderson @tdykstra Since the first two on the list are squared away, I'll see about knocking out the other two items soon.

[2017-08-21 16:54] Rick-Anderson opened #4054 "RP: Explain post delete method"
Per customer question
`OnPostDeleteAsync` method in the code below is confusing. What is it for?

[2017-08-21 17:47] davidfowl opened #4055 "Add document explaining the authentication system"
## Requests for new Topics

Today our authentication documentation is scenario focused. This is fine but doesn't help explain the fundamentals of the system and the various component responsibilities. We should have an introduction to the authentication system that describes the services, the verbs (challenge, authentication, forbid, signin, signout), what authentication schemes are etc. There sho

[2017-08-22 02:40] Rick-Anderson commented on #3849
@danroth27

[2017-08-22 13:51] #4004 closed

[2017-08-22 14:44] #3997 closed

[2017-08-22 14:48] Rick-Anderson commented on #1870
@guardrex  sounds great. BTW, [@]tdykstra moved to another team :(

[2017-08-22 14:50] Rick-Anderson commented on #3565
@dend  Can you make sure this works?  We merged the fix to master, it's just not in live.

[2017-08-22 15:20] Rick-Anderson commented on #3998
@rachelappel  looks like we want a copy of https://www.asp.net/get-started for now
@scottaddie  is that your understanding?

[2017-08-22 15:47] scottaddie commented on #3998
@Rick-Anderson That is my understanding. Dan and Rowan are in talks about how we can avoid the duplication down the road.

[2017-08-22 16:15] HaoK commented on #4055
@Rick-Anderson is there someone on the doc side that I can work with for this new topic?

[2017-08-22 16:17] Rick-Anderson commented on #4055
@scottaddie  can you work with Haok on this?

[2017-08-22 18:46] Rick-Anderson opened #4067 "Update formatter docs to indicate that the order matters."
https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-formatters#how-to-configure-mvc-to-use-a-custom-formatter

Please, indicate clearly on the doc comment that the formatters are evaluated in the order of the list and that the order in which you insert the formatter matters. (first one wins). I would suggest changing the code snippet to use Insert(0, customFormatter) instead of .Add t

[2017-08-22 18:47] Rick-Anderson commented on #4067
@rachelappel  can you do this in the next week?  Have [@]javiercn review the PR.

[2017-08-22 18:53] #4044 closed

[2017-08-22 21:56] dend commented on #3565
@saurabhchoudhury would have better context on how to set search scopes.

[2017-08-22 22:10] Rick-Anderson commented on #3565
@dend  Sorry - search has been enabled in master. We just need to merger master into live.

[2017-08-23 13:02] mountainbrother opened #4074 "Try to establish CICD with VSTS and the ContosoUni APP"
I was able to build the App and could publish it via Webdeploy to an Webapp with SQL to Azure.
Now i try to create an Pipline with VSTS.
I ran always in an release error on SQL.
Do we have a step by step docu how to setup a pipeline for this App.
thanks for help

[2017-08-23 14:01] Rick-Anderson opened #4075 "security/authentication/accconfirm"
https://github.com/aspnet/Home/issues/2152
sure email confirmation works when message is sent as HTML, but not as plain text. Document how to fix this.
For now add link to https://github.com/aspnet/Home/issues/2152#issuecomment-332537819

[2017-08-23 14:07] Rick-Anderson opened #4076 "Show support jQuery validation for non-English locales that use a comma (",") for a decimal poin"
https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/validation mentions
You may not be able to enter decimal points or commas in the Price field. To support jQuery validation for non-English locales that use a comma (",") for a decimal point, and non US-English date formats, you must take steps to globalize your app.

Need tutorial that shows how to do this. Until the tutorial is

[2017-08-23 14:11] Rick-Anderson commented on #4076
@damienbod @bartmax @hishamco would one of you be able to help out with this? (or recommend someone)?

[2017-08-23 14:19] Rick-Anderson commented on #4074
Try [this](https://www.google.com/search?q=Pipline+with+VSTS+cicd&oq=Pipline+with+VSTS+cicd+&aqs=chrome..69i57.14040j0j7&sourceid=chrome&ie=UTF-8)

[2017-08-23 14:19] #4074 closed

[2017-08-23 14:21] Rick-Anderson commented on #4051
@HaoK

[2017-08-23 14:23] Rick-Anderson commented on #4043
@scottsauber  a PR would be much appreciated. cc @scottaddie

[2017-08-23 14:27] Rick-Anderson commented on #4031
Creo que está programado para ser traducido pronto. Estoy revisando y le informaré. Gracias por su interés.

[2017-08-23 14:48] Rick-Anderson commented on #3989
Update mvc/models/file-uploads.md to 2.0
Archive 1.x version, don't use tabs and two samples. Point to archive and 1.1 code.

[2017-08-23 14:49] Rick-Anderson commented on #3989
@chikien276  any chance you could submit a PR with the updates for 2.0?

[2017-08-23 15:20] badersur opened #4078 "Suggestion: use include statements in the Core MVC tutorials"
The tutorials share a lot of text and fixing issues in all places is time consuming and most likely won't happen (because contributors don't know, don't notice or forget!)

I've submitted [some fixes for Windows tutorial](https://github.com/aspnet/Docs/commits/master?author=badersur) and now I'm seeing the same issues on the macOS and xplat tutorials! and I'm lazy (and don't have time) to resubmit

[2017-08-23 15:30] #4019 closed

[2017-08-23 15:30] #3369 closed

[2017-08-23 15:40] scottaddie commented on #4021
@damienbod I've confirmed with the product team that `"commandName": "web"` was a holdover from the commands which could be specified in `project.json` for DNX-based projects. No related properties appear to have been changed with the 2.0 release.

[2017-08-23 15:40] #4021 closed

[2017-08-23 15:42] scottaddie opened #4079 "Create Snapshot Debugging with ASP.NET Core doc"
See https://azure.microsoft.com/en-us/blog/snapshot-debugger-for-azure/ for more detail on the topic. Ideally, this doc would be listed in the TOC under **Testing and debugging**.

[2017-08-23 16:20] #3796 closed

[2017-08-23 16:22] scottaddie commented on #3991
This will be addressed with PR #4059

[2017-08-23 17:48] Rick-Anderson opened #4082 "Explain calling Seed from main in RP and MVC intro"
Create an include and add to all 6 tutorials.
In https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro see:

In *Program.cs*, modify the `Main` method to do the following on application startup:

* Get a database context instance from the dependency injection container.
* Call the seed method, passing to it the context.
* Dispose the context when the seed method is done.

See [Joe's expla

[2017-08-23 20:22] chikien276 commented on #3989
I have a working version of it which uses both `Microsoft.Net.Http.Headers` and `System.Net.Http.Headers`. I am not sure it is right way to do this.

[2017-08-23 20:24] scottaddie commented on #4033
@danroth27 @jbagga @NTaylorMullen Looking for your feedback on the doc title and outline provided above.

[2017-08-23 21:04] Rick-Anderson commented on #3989
@chikien276 `Microsoft.Net.Http.Headers`  is the one to use for  ASP.NET Core.
@jbagga  can you confirm?

[2017-08-23 21:38] Rick-Anderson opened #4085 "2.0 update to adding a model on mac/vsc - use ALL package"
https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-mac/adding-model

[2017-08-23 22:00] rynowak commented on #3989
`Microsoft.Net.Http.Headers` is corect

[2017-08-23 22:21] chikien276 commented on #3989
@Rick-Anderson I'm sorry. ASP.NET Core does use `Microsoft.Net.Http.Headers`. I mean I still have trouble in getting `Encoding` out of `MultipartSection` due to lacking of `Encoding` property in `Microsoft.Net.Http.Headers.MediaTypeHeaderValue` parsed from "MultipartSection.ContentType". Due to the urgency of my project, I ignored it and return to UTF-8 by default and haven't tried to resolve it s

[2017-08-23 23:17] Rick-Anderson commented on #4031
Thank you for your interest in providing the translation into Spanish. We are planning to publish machine-translated content around mid-September. At that point, you will be able to submit PRs to improve the quality. We will inform you as soon as the machine-translated pages are published

[2017-08-23 23:17] #4031 closed

[2017-08-24 01:15] Rick-Anderson opened #4087 "Update Swagger"
https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-help-pages-using-swagger
see #3493

[2017-08-24 01:17] #4087 closed

[2017-08-24 06:01] guardrex opened #4089 "Reverse tab order in topics with tabs (2.x first)"
There are a number of topics with the tab order 1.x-2.x, but I understand it was settled that the topics should render the tab with the latest release info, thus they should be 2.x first. I don't have a list. I patched one and then realized it wasn't a one-off when I saw others that need the same work. Seems that all of them should be addressed on one PR.

[2017-08-24 07:15] davidfowl commented on #4055
@HaoK I'd like these sorts of samples as part of the doc https://github.com/leastprivilege/AspNetCoreSecuritySamples/tree/aspnetcore2.

[2017-08-24 13:59] Rick-Anderson opened #4093 "Logging updates"
- [ ] FormattedLogValues  https://github.com/aspnet/Logging/issues/694
- [ ] Consider adding topic that covers ChangeToken #1291
- [ ] Make a doc for the LoggerMessage.DefineScope pattern #2810
- [ ]

[2017-08-24 15:35] #3991 closed

[2017-08-24 15:55] Rick-Anderson opened #4095 "New: Azure App Service Authentication (Easy Auth)"
[Customer request](https://docs.microsoft.com/en-us/aspnet/core/?hubRefSrc=email&utm_source=lfemail&utm_medium=email&utm_campaign=lfnotification#lf-content=177014839:728805420)
It would be good to see an example and documentation using Azure App Service Authentication (Easy Auth) with .NET Core 2.x. Including how to get user information once authenticated.

I tried with earlier versions but ended

[2017-08-24 17:36] #4089 closed

[2017-08-24 18:45] badersur opened #4098 "Tutorials use hard coded strings instead of using `nameof`"
I believe the recommended approach is to use `nameof`, and `dotnet new` uses it but the tutorials ask us to replace it with hard coded strings!

Example: https://github.com/aspnet/Docs/blob/f6333f838ab33e011c745a5bb75118cc0a003410/aspnetcore/data/ef-mvc/intro/samples/cu/Controllers/StudentsController.cs#L251

[2017-08-24 18:48] scottaddie commented on #4098
In this particular example, `nameof` is preferred. Feel free to submit a PR to fix this.

[2017-08-24 18:55] badersur commented on #4098
Almost all the controllers have this issue that's why I opened an issue (otherwise I'd be submitting the fix as usual :D)

I may submit a PR spanning these controllers in few hours or tomorrow! I hope fixing other files will be preferred as well..

[2017-08-24 18:58] scottaddie commented on #4098
As a general rule of thumb, `nameof` is preferred over magic strings referencing a member of the class.

[2017-08-24 19:14] Rick-Anderson commented on #4098
@badersur  don't change any of the template generated code such as
Example: https://github.com/aspnet/Docs/blob/f6333f838ab33e011c745a5bb75118cc0a003410/aspnetcore/data/ef-mvc/intro/samples/cu/Controllers/StudentsController.cs#L251

[2017-08-24 19:18] badersur commented on #4098
Thanks for the rule :)
Now I'm thinking that these magic strings could be discussed in the tutorials and I can't know where it's used and whether it's safe to change them! I think it is safer to just change it where I find it (https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/crud)

[2017-08-24 19:18] Rick-Anderson commented on #4078
Most of the Razor and MVC intro's use includes. I'm working on that.

[2017-08-24 19:18] #4078 closed

[2017-08-24 19:22] Rick-Anderson commented on #3990
@nokura ?

[2017-08-24 19:22] badersur commented on #4098
@Rick-Anderson I should not change any thing?!

In VS2017, my auto-generated code uses `nameof` and the one you referenced uses the magic strings so I'm not sure about the issue

[2017-08-24 19:25] badersur commented on #4078
Great news :)

[2017-08-24 19:29] Rick-Anderson commented on #3916
@danroth27   and @muratg  where should we document this? Can you provide an outline and sample code?

[2017-08-24 19:42] Rick-Anderson commented on #4098
If the scaffolder is using nameof, we should change the code to match the scaffolder.

[2017-08-24 19:57] badersur commented on #4098
Now I get it :)

[2017-08-24 20:27] Rick-Anderson commented on #4098
If the scaffolder is not using nameof, we should open a bug in https://github.com/aspnet/scaffolding

[2017-08-24 20:37] badersur commented on #4098
I found that `dotnet new`, VS scaffolder and aspnet-codegenerator are using nameof (not sure if vs uses aspnet-codegenerator behind the hoods!)

[2017-08-24 20:57] Rick-Anderson commented on #4098
Yes, it uses the same scaffolder.

[2017-08-24 21:11] badersur commented on #4098
Nice! Thanks for letting me know about this. I've been thinking about it for a while :)

Should I use `fixed #4098` in the PR message to close this issue or keep it open because I see you adding it to Backlog milestone?

[2017-08-24 21:18] danroth27 opened #4099 "Replace HttpSys with HTTP.sys"
We should match how the IIS docs refers to HTTP.sys: https://docs.microsoft.com/en-us/iis/get-started/introduction-to-iis/introduction-to-iis-architecture

[2017-08-24 22:01] Rick-Anderson commented on #4098
fixed.

[2017-08-24 22:23] #2001 closed

[2017-08-25 13:00] Rick-Anderson opened #4102 "Remove page model from Razor file in "Introduction to Razor Pages in ASP.NET Core""
Per @danroth27  Here’s what I would suggest:

The first razor page we introduce people too should look like this (just a simple page with some dynamic HTML:

[code]

Then we introduce page models as a class in a separate file and with the @model directive:

============ Index2.cshtml ================
[code]

============ Index2.cshtml.cs    ============

[code]

I don’t think we should have any ex

[2017-08-25 13:03] ardalis commented on #4102
:shipit:

[2017-08-25 15:26] scottaddie commented on #3954
This change was addressed in https://github.com/aspnet/Docs/pull/3996.

[2017-08-25 15:26] #3954 closed

[2017-08-25 16:00] danroth27 commented on #3916
@Rick-Anderson Did you mean to close this?

[2017-08-25 16:58] scottaddie commented on #4099
@glennc Should this text be updated in your recent blog post too? https://blogs.msdn.microsoft.com/webdev/2017/08/25/asp-net-core-2-0-features-1/

[2017-08-25 17:15] badersur opened #4106 "Is it fine to say "Run the page"?!"
I'm seeing this 3 times in https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/sort-filter-page and it doesn't seem alright to me! Maybe it should be "Run the app" or "Refresh the page"...

I'm wondering how I was able to include an absolute code URL in my last issue! I can't do it again to include an example here :/

[2017-08-25 18:42] Rick-Anderson commented on #3800
using the latest Microsoft.EntityFrameworkCore 2.0.0 and Microsoft.EntityFrameworkCore.InMemory 2.0.0, the statement:

  services.AddDbContext<TodoContext>(opt => opt.UseInMemoryDatabase());

gets error:

     DbContextOptionsBuilder' does not contain a definition for 'UseInMemoryDatabase'
The solution is to include a name as follows:

   services.AddDbContext<TodoContext>(opt => opt.UseInMemoryDa

[2017-08-25 19:11] #4098 closed

[2017-08-25 19:13] #4099 closed

[2017-08-25 19:16] #3800 closed

[2017-08-25 19:17] guardrex commented on #1870
@Rick-Anderson @danroth27 @ardalis @davidfowl I'm almost done with the PR, but I have a few questions:

The current outline is ...

* Hosting in ASP.NET Core
  * What's a host?
    * What's the difference between a host and a server?
  * Setting up a host
  * Configuring a host
    * Host configuration values
    * Overriding configuration
    * Ordering importance
  * IHostingEnvironment interfac

[2017-08-25 19:24] danroth27 commented on #1870
Sounds fine

Yes, I think so. @Tratcher any concerns?

Yes, `IWebHost` should be covered in this topic. What content specifically do you want to add?

`IWebHost` isn't new in 2.0. Are you maybe referring to the new static helper methods on the `WebHost` class?

[2017-08-25 19:26] guardrex commented on #1870
@danroth27 Yes, my bad ... nevermind on **Question 3**. It's been several days since I worked on the PR and didn't realize it was handled here. We're good on that point.

[2017-08-25 19:26] Tratcher commented on #1870
Go ahead.

[2017-08-25 19:41] scottaddie commented on #1870
@guardrex Do you plan to update [Application Startup in ASP.NET Core](https://docs.microsoft.com/aspnet/core/fundamentals/startup) too? The `Configure` and `ConfigureServices` code snippets currently reflect 1.x. I'm thinking we should add a 2.x tab too. Specifically, the `UseIdentity` and `AddIdentity` method calls are 1.x. only.

[2017-08-25 20:04] guardrex commented on #1870
@scottaddie I'm only addressing the hosting topic on this issue to try and close this one out.

[2017-08-25 20:05] jbagga commented on #4033
Title recommendation: Modifying <head> or <body> HTML tags with TagHelperComponents (or something similar)
If there is a subsection, explaining how to modify/target other HTML tags by writing your own TagHelperComponentTagHelper implementation, then that can be titled:
Modifying other HTML tags

cc @NTaylorMullen

[2017-08-25 20:11] scottaddie commented on #1870
@guardrex Thanks for the clarification. I'll create an issue, if one doesn't already exist, to address what I called out above.

[2017-08-25 21:03] scottaddie commented on #4106
@Rick-Anderson Any preferences on the verbiage? I was thinking something like "Browse to the page".

[2017-08-25 21:22] badersur commented on #4106
I've found another occurrence in https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/complex-data-model:

[2017-08-25 21:51] NTaylorMullen commented on #4033
I'd probably have a specific section labeled: `Including JavaScript and CSS in your views using TagHelperComponents.`

This will be the typical use-case from users. Having other pieces that go into detail on the components would also be required.

[2017-08-25 22:04] Rick-Anderson commented on #4106
Refresh the Students Index page ~again~ and notice that times are no longer displayed for the enrollment dates.

[2017-08-25 23:06] danroth27 commented on #3849
In this case the sample includes its own implementation of `PostAsJsonAsync`:

https://github.com/aspnet/Docs/blob/master/aspnetcore/mvc/controllers/testing/sample/TestingControllersSample/tests/TestingControllersSample.Tests/IntegrationTests/HttpClientExtensions.cs

[2017-08-26 01:19] Rick-Anderson opened #4116 "tutorials/first-mvc-app-mac/adding-model update csproj"
[csproj](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-mac/adding-model#prepare-the-project-for-scaffolding)

[2017-08-26 15:26] appsaleslover commented on #4116
The following no longer works in the Configure method, in .NET Core 2. Causes 'cannot resolve scoped service'.

DBinitialize.EnsureCreated(app.ApplicationServices);

Alternative ways: Add MvcMovieContext context to the configure method's parameters and call context.Database.EnsureCreated directly or add IServiceProvider to the parameters and use getRequiredService. But it appears Main is the prefe

[2017-08-26 16:16] githubgitgit opened #4119 "ASP.Net Core API Reference Search - lacks support for searching by Method or Property names"
Background: I'm new to .NET. Only been interested in .NET because of ASP .NET Core. It shows a lot of promise and seems to be great for simple and rapid web application development without a lot of baggage/heavyweight and seems straightforward!

Issue:
On this page:  https://docs.microsoft.com/en-us/aspnet/core/api/
(Issue also applies to: https://docs.microsoft.com/en-us/dotnet/api/?view=netcore-

[2017-08-26 20:44] badersur commented on #4106
I'm not sure about fixing this issue because there're several variations:

In [crud](https://github.com/aspnet/Docs/blob/master/aspnetcore/data/ef-mvc/crud.md) there're:

In [sort-filter-page](https://github.com/aspnet/Docs/blob/master/aspnetcore/data/ef-mvc/sort-filter-page.md):

In [complex-data-model](https://github.com/aspnet/Docs/blob/master/aspnetcore/data/ef-mvc/complex-data-model.md)

Shou

[2017-08-27 15:50] Rick-Anderson commented on #4119
Dup of #3565
I'm guessing you're searching in the filter box in the left pane - that's great for filtering but is not a search. The search box is in the upper right. I made the same mistake.
2. EF should be searched in the EF docs.
3. We hope to have that someday.

[2017-08-27 15:50] #4119 closed

[2017-08-28 06:20] guardrex commented on #3654
Dup of https://github.com/aspnet/Docs/issues/3352

[2017-08-28 06:25] guardrex commented on #3728
Dup of https://github.com/aspnet/Docs/issues/3593

[2017-08-28 06:30] guardrex commented on #2828
@Rick-Anderson There's no movement here ... shouldn't we just close this?

[2017-08-28 06:59] guardrex commented on #397
@Rick-Anderson Is this still a prob? I can't find the OP topic mentioned (i.e., an "overview" with webroot language), and I can't find the string in the OP in any of the topics. The Fundamentals description seems quite respectable, and I'll double-check that the Hosting topic has good content on this in the morning (the PR for the Hosting topic updates is almost ready).

[2017-08-28 14:16] scottaddie commented on #3809
Addressed with #3897

[2017-08-28 14:16] #3809 closed

[2017-08-28 15:51] Rick-Anderson commented on #397
fixed via:

* https://docs.microsoft.com/en-us/aspnet/core/fundamentals/index?tabs=aspnetcore2x#content-root
* https://docs.microsoft.com/en-us/aspnet/core/fundamentals/index?tabs=aspnetcore2x#web-root

[2017-08-28 15:51] #397 closed

[2017-08-28 15:56] #2828 closed

[2017-08-28 15:57] #3728 closed

[2017-08-28 15:58] #3654 closed

[2017-08-28 21:19] HaoK commented on #4055
@davidfowl how do you feel about Authentication.Cookies/JWT/etc in entropy as the official home for the samples that the documents will reference?

[2017-08-28 21:20] divega opened #4134 "Migrating 1.x to 2.0 should cover what to do with database initialization code in Startup.Configure"
Having logic inside `Startup.Configure()` that will take care of making sure the database is created, its schema updated, and that it is seeded with data isn't necessarily a good practice and in some cases it is known to be a bad idea.

That said, sometimes there aren't much better choices, it seems to have become a very common practice (possibly copied from some of our samples), and now it is cau

[2017-08-28 21:26] Tratcher commented on #4055
No, the docs have their own copy of the samples they reference.

[2017-08-28 21:35] HaoK commented on #4055
Ok, but I'll still put MVC + auth sample reference apps similar to Domincs in entropy, since the security ones can't depend on MVC

[2017-08-28 22:09] divega commented on #4134
BTW, this has apparently been already applied in some samples and in places such as https://github.com/aspnet/Docs/blob/master/aspnetcore/tutorials/first-mvc-app/working-with-sql.md#aspnet-core-2x and https://github.com/aspnet/Docs/blob/master/aspnetcore/data/ef-mvc/intro.md#add-code-to-initialize-the-database-with-test-data, but I haven't seen it in the main upgrade page.

[2017-08-28 22:12] Rick-Anderson commented on #3373
@rachelappel can you work on this next?

[2017-08-28 23:23] Rick-Anderson commented on #4116
fixed

[2017-08-28 23:23] #4116 closed

[2017-08-29 13:25] isaac2004 commented on #3593
Hey @Rick-Anderson sorry just getting back to this. So do you want just 404s changed, or 300s as well?

[2017-08-29 16:12] HaoK commented on #3469
We should make sure to have a section about how to register named options that use DI

[2017-08-29 18:10] genitalico commented on #4031
@Rick-Anderson gracias, estare al pendiente entonces, para ver si podemos colaborar con esto ..

saludos

[2017-08-29 23:09] mguinness commented on #4033
@NTaylorMullen Are TagHelper components usable from within partial views as well?  If so, that would be a good example to include.  As sections don't work in partial views, this would be a useful alternative that is [often requested](https://stackoverflow.com/a/7556594/310601).

[2017-08-29 23:14] NTaylorMullen commented on #4033
They are 😄

It wouldn't be super straight forward to use TagHelperComponent's in partials (since they apply to every view) but it's definitely doable. I'm not sure if it's worth noting in the doc due to its complexity.

[2017-08-29 23:21] mguinness commented on #4033
Thanks!  I'm sure they'll be used in partial views for things like widgets even if it's a bit of work, but since it's an edge case it makes sense to omit from doc.

[2017-08-30 15:00] Rick-Anderson opened #4151 "retire "Building Real-World Cloud Apps with Azure""
Retire [Building Real-World Cloud Apps with Azure](https://docs.microsoft.com/en-us/aspnet/aspnet/overview/developing-apps-with-windows-azure/building-real-world-cloud-apps-with-windows-azure/introduction)

The series is 6 years out of date. The scenario is owned by the Azure folks, not the ASP.NET team.

[2017-08-30 15:40] #1950 closed

[2017-08-30 17:06] HaoK commented on #4051
@taigosantos can you clarify exactly what you are doing and what you expect?  It sounds like you've created an app using a 2.0 Web API template and you are getting an unexpected cookie response?

[2017-08-30 23:27] Rick-Anderson opened #4155 "Debugging .NET Core and ASP.NET Core sources"
In Visual Studio 2017 (15.3.5 and later)

* Un-check  **Enable Just  My Code**  in **Tools -> Options -> Debugging -> General**

![image](https://user-images.githubusercontent.com/3605364/31796868-22accaba-b4c7-11e7-8d8c-cb37ef5e8879.png)

* Verify **Enable Source Link support**  is checked.

![image](https://user-images.githubusercontent.com/3605364/31796932-691d53a2-b4c7-11e7-81f1-15ece80c67d0.p

[2017-08-30 23:44] vancem commented on #4155
See https://github.com/dotnet/core/issues/897 for more details.

The instructions above referring to clrmain only work if you have access to clrmain (you are inside Microsoft's domain).

[2017-08-31 06:48] grokky1 opened #4162 "Feature request: include hover links for all titles and subtitles"
I hope this is the correct place to discuss.

Many pages have a floating TOC on the right hand side, which is great. But often it doesn't contain all the document's sections and titles and subtitles.

It would be great if every section/header/title/subtitle/etc had a hover link. Exactly like the wiki pages here on GitHub (or on readthedocs.io) - there's a small link icon to the left or right of ea

[2017-08-31 19:45] #4067 closed

[2017-09-01 02:53] Rick-Anderson commented on #4076
@damienbod @Bartmax @hishamco would one of you be able to help out with this? (or recommend someone)?

[2017-09-01 02:54] Rick-Anderson commented on #4076
@ryanbrandenburg  @danroth27  this is a frequent complaint of customers. Can I get some help on showing how to do this?

[2017-09-01 14:09] Bartmax commented on #4076
@Rick-Anderson

Some notes:

The regular expression is not doing what's described, more notably it requires first letter to be Uppercase.

This is misleading, you can't use decimal commas but decimal points of course works.
You don't need to add localization to support decimal points as this is the default for english (us) locale.

--------
Now on your request for help on the localization part

On

[2017-09-01 14:18] Bartmax commented on #4076
and don't think you need it, but just in case I made the sample project available on my github at https://github.com/Bartmax/MvcMovie.LocalizationSample (let me know when I can delete it)

[2017-09-01 16:17] Rick-Anderson commented on #4076
Thanks @Bartmax

[2017-09-01 20:14] terrimorton opened #4177 "Update "Code First Migrations and Deployment with the Entity Framework in an ASP.NET MVC Application" to current Azure"
https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/migrations-and-deployment-with-the-entity-framework-in-an-asp-net-mvc-application

This article refers to "Windows Azure" in screenshots and alt text. The Azure screenshots are old and no longer apply. There is at least one comment on this article where the user is confused.

[2017-09-01 20:24] #3493 closed

[2017-09-01 20:39] terrimorton opened #4178 "Update old windowsazure.com links to azure.microsoft.com (or docs.microsoft.com)"
Searching across the .md files, there are 129 hits in 52 files for windowsazure.com.

For example: \Docs\aspnet\aspnet\overview\developing-apps-with-windows-azure\building-real-world-cloud-apps-with-windows-azure\automate-everything.md
- https://www.windowsazure.com/en-us/develop/net/tutorials/web-site-with-sql-database/
- https://www.windowsazure.com/en-us/manage/install-and-configure-windows-pow

[2017-09-01 23:18] mj1856 commented on #3992
@rosieks `DateTime` is essential, especially when binding to UI that is just a date and a time.  That article outlines many key use cases for `DateTime`.   I think you are referring to the note that says:

It doesn't say to stop using `DateTime`, it just is speaking to what should be "considered the default".
 Personally, I think the idea of a "default" type is not useful here.  At least, it's no

[2017-09-03 07:47] guardrex opened #4188 "Razor Pages tutorials section in need of its own File Uploads topic"
## General

I just did a dance here for the past few hours wrestling with a small issue implementing file upload for Razor Pages. My bug-a-boo was a small thing that was easy to fix. However in the pursuit of fixing that little devil, I came to compare [File uploads in ASP.NET Core (with its sample)](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads) and the [Entropy Mvc.FileUpl

[2017-09-03 18:04] badersur opened #4192 "Some code snippets don't render on Ubuntu due to File Names Case-sensitivity"
cd aspnetcore
docfx -t default --serve
[code]

[2017-09-05 01:12] guardrex opened #4208 "2.0 Update remaining Configuration samples to 2.0"
@Rick-Anderson @scottaddie

Related to [Configuration changes in 2.0 (Docs/3387)](https://github.com/aspnet/Docs/issues/3387): There are three 1.0 samples left in this area of the repo to update. I'll square away these whacky 😵 samps shortly. On this pass, I intend to just follow-up the work I was doing to get #1950 done moving the sample projects to 2.0. The *configuration.md* topic can then be a

[2017-09-05 01:28] guardrex commented on #3387
@rachelappel There's a question that's come up while I was working these config samps. Not working this topic; just updating the samps to 2.0 on PRs: #4197, #4198, #4199, #4200, #4201, #4205, #4206, #4207 (all to address getting rid of `dnxcore50` on #1950) ... and three upcoming PRs on Tue 9/5 (no `dnxcore50`, but I may as well ... *I'm on a roll!* :smile:). One sample, `IOptionsSnapshot2` is out

[2017-09-05 12:35] BennieCopeland commented on #2384
Can we also get docs on using IIS as a reverse proxy without ANCM, or alternatively/in addition to, allow configuring ANCM without having it control the kestrel process. My use case is that in my web application, I have a background thread to handle some tasks, and the recommended way to do that safely is hosting as a windows service. We're attempting to deploy now, but running into issues generat

[2017-09-05 14:02] BennieCopeland commented on #2384
Using IIS URL Rewrite to map from the FQDN to localhost:5000.

We've been working on the problem all day, checking the different ASP.Net core repos figuring out how ANCM works. We got it working with `x-original-for` set to host:port, `x-original-proto`, and `x-forwarded-host` and my coworker is testing to see what the bare minimum host headers are to keep it working.

The second issue we ran into

[2017-09-05 14:50] scottaddie commented on #3387
@guardrex @rachelappel I recommend moving all the sample code under "sample" and deleting the "src" folder. The "src" folder was used in VS 2015 project templates. Since it isn't used in the VS 2017 project templates, it's probably best to move away from it.

[2017-09-05 14:57] #4192 closed

[2017-09-05 15:05] vancem commented on #4155
I have updated https://github.com/dotnet/core/issues/897 but I will repeat it here.   We have published the symbolic information for ASP.NET DLLs including SourceLink information, which means that if you follow the instructions above  (or in https://github.com/dotnet/core/issues/897 ) you should be able to step into ASP.NET DLLs and it should 'just work'.     Non-ASP.NET parts of the framework (e.

[2017-09-05 15:53] guardrex commented on #3387
Very good. There was one other one in my batch for #1950 that had has an (unnecessary) *src*+*test* folder layout. IIRC the test projects are well-named, so they can sit in the *sample* folder next to the project folder. I've made a note here to circle back around to it.

This batch is a little different in that the *src* folder holds completely separate projects ... not test vs. app ... so yeah .

[2017-09-05 19:43] Tratcher commented on #2384
@shirhatti can you comment on @BennieCopeland's UrlRewrite/ARR scenario?

[2017-09-05 20:10] shirhatti commented on #2384
@BennieCopeland Did you run into any difficulties with that scenario?
I haven't tried it myself, but I expect ARR proxying locally to your Windows service to just work.

I can post back here when I've had a chance to try it out myself.
cc @pan-wang

[2017-09-05 21:00] guardrex opened #4211 "2.1 Update config for 2.x Azure KV config provider topic samples"
Based on the [updates to config for 2.1 adding chained config](https://github.com/aspnet/Configuration/pull/719), we can move the 2.x Azure Key Vault config provider topic samples ([sample 1](https://github.com/aspnet/Docs/blob/master/aspnetcore/security/key-vault-configuration/samples/basic-sample/2.x/Program.cs), [sample 2](https://github.com/aspnet/Docs/blob/master/aspnetcore/security/key-vault

[2017-09-05 21:38] pan-wang commented on #2384
ARR just replaces the host fragment in the request url with the host defined in the configuration. If you configured everything correctly, the local scenario (targeting a windows service) should work.

[2017-09-06 02:12] guardrex commented on #3109
@scottaddie Good news on this one. I checked all instances of `UseUrls`, and the topics have it covered. They've either already been addressed (e.g., URL Rewriting Middleware sample) or are about to be addressed [e.g., the [upcoming updates to *fundamentals/hosting* (Docs/4137)](https://github.com/aspnet/Docs/pull/4137)]. We can close here. :+1:

[2017-09-06 02:12] #3109 closed

[2017-09-06 02:21] guardrex commented on #3871
@scottaddie Good news here, too. :smile: No 2.0 samples call for a \<PackageTargetFallback>. Authors can just pull it as they go when updating 1.x or adding new 2.0 samples. We can close here. :+1:

[2017-09-06 02:21] #3871 closed

[2017-09-06 03:31] guardrex commented on #2409
@Rick-Anderson Your 2nd checkbox for #437 is covered by #4214.

[2017-09-06 05:26] guardrex commented on #2943
@PeterJakubik @ryanbrandenburg @scottaddie If there's no objection, I'd like to work this sample forward to 2.0 and see about this issue in the process. One quick clarification: "Virtual apps" aren't supported, so we're talking about running this as a "sub app." In IIS, I'll run it both as a site and as a sub app to see if I can repo the behavior. Note that changes have been made to the partial si

[2017-09-06 07:44] guardrex opened #4216 "Head-check on 2.0 auth migration guidance"
@HaoK I noticed a small delta between the [1.x-2.x auth migration topic](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x#replace-getexternalauthenticationschemes), which shows this ...
[code]
... and [one your PRs for SignalR](https://github.com/aspnet/SignalR/blob/27e90edc1c72de90e87c3bee614e3a97e336a7c2/samples/ChatSample/Views/Manage/ManageLogins.cshtml#L49), which s

[2017-09-06 08:26] guardrex commented on #2943
I have the 2.0 sample done. It seems to run well on its own.

However, hosted as a sub app ... :boom: :man_facepalming:

![capture10](https://user-images.githubusercontent.com/1622880/30101549-68e3ed9c-92b2-11e7-8889-d78504018755.PNG)

Although the code of the partial changed, it doesn't take into account the path change you made above, so it probably just needs a little fix along those lines to g

[2017-09-06 09:49] bubibubi opened #4217 "Ef core - Add Microsoft access to the list of supported databases"
Is it possible to add EF core provider for Microsoft access (as for other 3rd parties providers)?

[2017-09-06 14:42] #437 closed

[2017-09-06 15:07] scottaddie commented on #3109
@guardrex Thanks for following up on this!

[2017-09-06 15:38] scottaddie commented on #4043
@scottsauber Are you still interested in submitting a PR for this?

[2017-09-06 15:43] scottaddie commented on #4211
@guardrex Label created and applied

[2017-09-06 15:45] scottaddie commented on #2409
@guardrex Thanks for letting me know. I updated the checkbox.

[2017-09-06 15:48] scottaddie commented on #4162
@EisenbergEffect Thoughts?

[2017-09-06 15:57] EisenbergEffect commented on #4162
Hey @grokky1 Thanks for sharing this idea! This is something that we have tracked in our docs experience feature backlog. We've actually even got some early design comps for what we want the experience to be. I'm not sure if/when we'll be able to ship this feature, as there are many things we're working on, many of which take a higher priority at the moment. However, this is something we're consid

[2017-09-06 15:57] EisenbergEffect commented on #4162
Actually, @scottaddie can you close this?

[2017-09-06 16:04] HaoK commented on #4216
DisplayName was added later, and meant to be used for display purposes

[2017-09-06 16:10] guardrex commented on #4216
@HaoK Thx.

@scottaddie IIRC, there are other spots in topic samples where this will need to be addressed. Fortunately, the old code won't compile without fixing this line. :smile: Therefore, you could close this. I'll leave it up to you.

[2017-09-06 16:10] grokky1 commented on #4162
@EisenbergEffect Thanks for considering it. Will make linking to specific sections in the docs much easier.

[2017-09-06 16:10] #4162 closed

[2017-09-06 16:16] guardrex commented on #4216
btw - I'm going to go with ...

[code]

[2017-09-06 17:18] NTaylorMullen commented on #3863
So technically both arguments are correct, it matters where you utilize the indexed item. So, in general `for` is better than `foreach` (if the scenario allows it) because it doesn't need to allocate an enumerator. However, in the articles case it's bringing up how a foreach is better to use due to how its indexed item value is consumed in an `asp-for` scenario (it's simpler to evaluate).

tl;dr;

[2017-09-06 18:30] #4208 closed

[2017-09-06 18:57] Ciantic opened #4220 "Change the "Cross-context transaction (relational databases only)""
I propose to change the section "Cross-context transaction (relational databases only)".

Current approach as it now stands suggest to change the super class constructor signature of DbContext, this can be cumbersome since everyone who develops DbContext super classes need to change their constructors.

With my approach below it is not required to refactor your precious DbContexts which may be sep

[2017-09-06 19:56] scottaddie commented on #4220
@Ciantic Can you please provide a link to the doc to which this pertains?

[2017-09-06 20:01] Ciantic commented on #4220
@scottaddie sure; here: https://docs.microsoft.com/en-us/ef/core/saving/transactions

[2017-09-06 20:11] #2943 closed

[2017-09-06 20:17] scottaddie commented on #4220
Moved to https://github.com/aspnet/EntityFramework.Docs/issues/471

[2017-09-06 20:17] #4220 closed

[2017-09-06 20:29] scottaddie commented on #4217
Moved to https://github.com/aspnet/EntityFramework.Docs/issues/472.

[2017-09-06 20:29] #4217 closed

[2017-09-06 20:39] #4216 closed

[2017-09-06 21:39] artiomchi commented on #3863
@NTaylorMullen well, that's not right either, is it?

Consider the extract from there:
[code]

You would have to use the for indexer in this case to make sure that each editor uses a different prefix. Otherwise all values would be posted under the same name.

One could argue that a foreach could be used for display fields, but we **have** have to use a for loop to render editors.

Even if the reco

[2017-09-07 00:49] scottsauber commented on #4043
Yep! Will start tonight. Sorry! I skimmed the issue and saw it was assigned to you and completely missed Rick's comment.

First go at contributing to MS docs besides a typo in SQL's docs so I may noob it up. :)

[2017-09-07 02:21] scottaddie commented on #4043
@scottsauber Not a problem. We're here to help if you have any questions. Thanks again for your help!

[2017-09-07 06:01] DamianEdwards commented on #4102
I'd like us to have no mention of `@functions` anywhere in our docs. Omitting a page model is fine for the introduction case when there's no logic, but as you say the next step should be adding a page model.

[2017-09-07 06:04] DamianEdwards commented on #4102
@Rick-Anderson Can this be bumped up in priority? We're still getting feedback on this.

[2017-09-07 06:06] scottsauber commented on #4043
@scottaddie I'm having some trouble testing out the Tabs for the diff versions of Core like you see on other pages with like 1.x vs 2.x.

1. I can't preview the tabs when I build locally, they just look like links.  Is this a style thing that only happens when you pick up the css of docs.asp.net?
2. When I indent code snippets within a tab, I break the code snippets.  The first one will render, bu

[2017-09-07 14:49] rachelappel commented on #3998
https://github.com/aspnet/Docs/pull/4133

[2017-09-07 14:49] #3998 closed

[2017-09-07 14:57] rachelappel opened #4229 "New topic: AI new project with VS and Azure"
Create new topic that is similar to [Publish an ASP.NET Core web app to Azure App Service using Visual Studio](https://docs.microsoft.com/en-us/aspnet/core/tutorials/publish-to-azure-webapp-using-vs)

This was first requested in [Issue 3373](https://github.com/aspnet/Docs/issues/3373) "AI info and links. Explain how AI is hooked and show how to use it."

@wadepickett @scottaddie @rachelappel all a

[2017-09-07 14:59] rachelappel opened #4230 "New topic: Connect to server explorer and do basic debugging"
A new topic on using Visual Studio to connect to Server Explorer as well as some basic debugging is requested.

First requested in [Issue 3373](https://github.com/aspnet/Docs/issues/3373) stating "info on connecting to Server Explorer and doing basic debugging" however it was decided by @wadepickett @scottaddie @rachelappel that this is better suited as a new topic to keep the scope of docs straig

[2017-09-07 16:15] scottaddie commented on #4043
@scottsauber

That's the expected behavior &mdash; the latest version of DocFx doesn't support previewing of tabs. We'll soon have a versioning strategy in place to differentiate between 1.x and 2.x content. At that point, this use case for tabs is likely to disappear.

Try using the following:

[code]

[2017-09-07 17:30] guardrex commented on #4229
There's a related issue from back in February. There's an outline there that may or may not help; but either way, there seems to be some overlap here or there: https://github.com/aspnet/Docs/issues/2800.

Also possibly related: https://github.com/dotnet/docs/issues/2716

[2017-09-07 18:23] DamianEdwards opened #4232 "Document unit testing Razor Pages"
Covers guidance on unit testing Razor Pages:
- Enabling separation by removing logic from Razor files and keeping it in Page Models and injected services
- Creating mockable services
- Mocking framework intrinsic types in order to create Page Models that are being tested

[2017-09-07 19:24] artisticcheese opened #4233 "Update script to pull 2.0.0 version of ASP.NET core"
https://github.com/aspnet/Docs/blob/master/aspnetcore/tutorials/nano-server/Download-Dotnet.ps1 installs ASP.NET core on nanoserver but only 1.0 version not current 2.0

[2017-09-07 23:14] guardrex commented on #4233
Yeah ... this is perhaps not a good script to use/link within the tutorial. The latest script would be over in *https://raw.githubusercontent.com/dotnet/cli/release/2.0.0/scripts/obtain/dotnet-install.ps1*.

@scottaddie I'll take a look at this and report back.

[2017-09-07 23:29] artisticcheese commented on #4233
Was 2.0 script tested on nanoserver? I'm getting error below when running it
[code]

[2017-09-07 23:31] guardrex commented on #4233
Good question. *Be the tester!* lol :smile: Can you run the script with the 2.0.0 version and see if that works ...

[code]

[2017-09-08 00:08] artisticcheese commented on #4233
same issue
[code]

[2017-09-08 00:33] guardrex commented on #4233
@artisticcheese I thought that switch was `--Verbose` (two dashes). And your script ... it is the one from: https://raw.githubusercontent.com/dotnet/cli/release/2.0.0/scripts/obtain/dotnet-install.ps1 ... correct?

[2017-09-08 00:35] guardrex commented on #4233
Hum ... I guess since the lines are prefixed with "VERBOSE" that it works that way.

[2017-09-08 00:36] artisticcheese commented on #4233
Yes, I'm using 2.0.0 script, `-Verbose` is correct way to do in Powershell. You can easily test the whole thing yourself in docker container or I can test. As of now it does not work.

[2017-09-08 00:38] artisticcheese commented on #4233
Here is script to make sure correct file is being executed
[code]

[2017-09-08 00:53] artisticcheese commented on #4233
Huh?
[code]
Nanoserver supports `Invoke-Webrequest`

[2017-09-08 00:58] guardrex commented on #4233
On the switch, I just asked because we documented it as two dashes, but it didn't seem to matter. https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script#options

Nano Server version? @rs38 ... do you know what might be going wrong here?

[2017-09-08 01:01] artisticcheese commented on #4233
I'm using docker container `microsoft/aspnetcore:2.0.0-nanoserver` which has latest patched version of nanoserver. Also you can see what issue above is, nanoserver does not have `IsBypassed()` method for `WebProxy`

[2017-09-08 02:09] guardrex commented on #4233
@artisticcheese Looks like it was reported, but it awaits action: https://github.com/dotnet/cli/issues/6747. They have it marked for the 2.1 milestone.

You could try a manual SDK install (running the SDK installer on the Nano) ... or go with self-contained app deployments, which wouldn't require the .NET Core install.

[2017-09-08 05:49] danroth27 commented on #4102
@scottaddie Can you help out here?

[2017-09-08 08:32] guardrex commented on #3797
@moozzyk This sentence (the first place `ClientId` is mentioned) doesn't cover it?

Idea ... a note could go immediately after the image that shows them both:

![microsoftdev](https://user-images.githubusercontent.com/1622880/30202740-16f2d6da-9445-11e7-9fbd-869f98a00c9c.png)

Something like ...

[2017-09-08 08:33] rachelappel commented on #4229
Looks like the Azure side has a doc covering App Insights https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net

@guardrex  I'm not sure where AI is specifically mentioned in issue 2800. Looks like just Azure App Services - not App Insights.

[2017-09-08 09:06] guardrex commented on #4229
Azure Integration lol ... sorry. My acronym-fu failed me.

[2017-09-08 11:46] harshalyeole-tudip commented on #3800
@Rick-Anderson

The solution is to include a name as follows:

services.AddDbContext(opt => opt.UseInMemoryDatabase("TodoList"));

Tried above solution and didn't work.

[2017-09-08 13:10] ardalis commented on #4102
Hey Dan,

In your opinion, is more budget for docs from me forthcoming (albeit
delayed) or not happening in the foreseeable future? Just trying to plan.

Thanks!
Steve

On Fri, Sep 8, 2017 at 1:49 AM, Daniel Roth <notifications@github.com>
wrote:

--
Steve Smith
http://ardalis.com | http://twitter.com/ardalis

[2017-09-08 13:49] rachelappel commented on #4229
Well "AI" is pretty vague. Let's just blame Rick since he started it. :D :D

[2017-09-08 14:10] scottaddie opened #4237 "Consolidate migration content"
We should eventually consolidate our migration content from ASP.NET to ASP.NET Core so it isn't specific to an ASP.NET Core version. We can probably just document how to migrate to the latest available version of ASP.NET Core, so that folks don't mistakenly migrate to an outdated version.

[2017-09-08 16:30] scottaddie commented on #4106
@tdykstra Do you have any preferences on the verbiage used here?

[2017-09-08 16:42] scottaddie commented on #3990
The team is in the process of localizing the ASP.NET Core content. In about 2 weeks, the localized Table of Contents and the docs will be published. At that time, this issue will be resolved.

[2017-09-08 16:43] tdykstra commented on #4106
In general the suggested edits are OK.  Could simplify in some cases by using "Go to the x page"; "Refresh the page" only works if it's a subsequent time and it's safe to assume they left the browser window open.

[2017-09-08 16:57] moozzyk commented on #3797
I must have missed the "App ID/ Client Id" on the picture and then when I searched with Ctrl + F the term "ApplicationId" (or Application Id) is nowhere near the picture. I think it would be enough to just change:

`Note the Application Id displayed on the Registration page`

to something like

`Note the Application Id displayed on the Registration page - you will use it as the client-id in the co

[2017-09-08 17:02] guardrex commented on #3797
Cool. I'll take care if it and ping u on the PR.

[2017-09-08 17:14] justdmitry commented on #3990
@scottaddie No, this issue is not about particular non-translated file. It's about problem "in common" that when TOC changes then all non-English TOC becomes outdated and does not display new links. New docs exist and can be shown (even without translation) to non-English readers, but this readers can't reach this pages because TOC does have no links to them!

TOC logic should be changed to make a

[2017-09-08 17:22] scottaddie commented on #4102
@danroth27 I will look at this on Monday morning.

[2017-09-09 09:07] badersur commented on #4106
Any one planning to submit a PR for this? or working on it? I may be able to fix it tonight or tomorrow!

[2017-09-09 15:56] artisticcheese commented on #4233
Just needed to remove couple of lines to make it workable fine on nanoserver. Here is PS1 which verified work to install both LTS version (1.1) and 2.0 (https://gist.github.com/artisticcheese/53caa648e0a60dfbea28be1c50554cf2)

[2017-09-09 16:08] guardrex commented on #4233
@artisticcheese Excellent news! Are your changes of the variety that could become a PR for changes to the script? ... or would you classify the changes as more of a "temporary workaround"?

[2017-09-09 16:46] artisticcheese commented on #4233
Well, I removed some part of the script which checks if local proxy is used or not, so it's not a fix but workaround. Next version of the script just need to use `Invoke-WebRequest` instead of .NET class I would assume.

[2017-09-09 16:51] guardrex commented on #4233
I see. I recommend noting it and adding your Gist over to https://github.com/dotnet/cli/issues/6747 ... I'm sure you'll help some other devs who hit this.

In the meantime for the doc, we'll wait to see what [@]livarcocc recommends as a suggested workaround until 2.1. Let's leave this issue open right now. The roadmap states that 2.1 isn't due until Q1/2018, so we'll need to do something about the

[2017-09-10 14:10] artisticcheese commented on #4233
I think people need to be aware that it might easier way to install ASP.NET core on IIS via plain multistage build instead of running installation as well. Example is below
https://artisticcheese.wordpress.com/2017/09/10/using-multistage-docker-build-to-create-iis-asp-net-core-image-nanoserver/

[2017-09-11 11:12] badersur commented on #4106
Unfortunately I didn't have time for this!

[2017-09-11 14:53] #3373 closed

[2017-09-11 15:29] scottaddie opened #4250 "Update dotnet watch tutorial to 2.0"
https://docs.microsoft.com/aspnet/core/tutorials/dotnet-watch

- [ ] UE edit
- [ ] Update sample code to 2.0 - don't use tabs for 1.1 version - point them to https://github.com/aspnet/Docs/blob/master/aspnetcore/common/_static/9-25-17.pdf
- [ ] Update .NET Framework 4.5.1. references in doc to .NET Framework 4.6.1

[2017-09-11 16:34] #4043 closed

[2017-09-11 16:35] #3797 closed

[2017-09-11 19:43] scottaddie commented on #4106
@badersur Nobody is working on this. If you have time to submit a PR, it would be greatly appreciated.

[2017-09-12 02:01] isaac2004 commented on #4237
@scottaddieso everything I. The migration folder needs to be updated/version agnostic

[2017-09-12 02:04] isaac2004 commented on #4177
@terrimorton do you think the whole doc could use an upgrade or just the Azure section? I can. Update the Azure section pretty quickly if that is all needed.

[2017-09-12 02:19] scottsauber opened #4256 "Update Configure Identity page for 2.0"
Unless it's already taken, I'd be willing to submit a PR for this page to be updated for 2.0 - https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-configuration

[2017-09-12 02:47] scottaddie commented on #4256
@scottsauber It's all yours. Thank you for volunteering. Let me know if you need help with anything.

[2017-09-12 02:55] scottaddie commented on #4177
@isaac2004 If you're feeling ambitious, update the whole doc. If not, just the Azure stuff is good enough for now.

[2017-09-12 03:04] scottsauber commented on #4256
Awesome!  A few questions before I get started:

1. Any opposition to adding some more context with those options like where they go in Startup.  Reading some of the comments, there were some that weren't 100% sure where these go.

So instead of:
[code]

Replace with:
[code]

2. Seems like we can get rid of the highlight?  Not sure what it's highlighting.

3. Is it ok to document the `UserOptions`

[2017-09-12 03:05] #1870 closed

[2017-09-12 03:09] scottaddie commented on #4256
@scottsauber
1. More context is always a good thing, especially if there are Livefyre comments indicating confusion.
2. Remove highlighting
3. @HaoK Thoughts on question 3 above? It seems like there's a lot we could do to make the doc more useful.

[2017-09-12 04:22] HaoK commented on #4256
Sure feel free to document all of the options...  Its probably also worth pointing out that you can configure them directly inside of `AddIdentity(options => ...)` as well

[2017-09-12 07:48] zuckerthoben opened #4258 "Introduce NSwag as an alternative to Swashbuckle when using Swagger"
Article: https://github.com/aspnet/Docs/blob/master/aspnetcore/tutorials/web-api-help-pages-using-swagger.md

This article covers Swagger and introduces to Swashbuckle.
I would like to see an alternative to Swashbuckle proposed, namely NSwag (https://github.com/RSuter/NSwag). The big selling point of NSwag is its ability to not only introduce the Swagger UI, but generate complete, robust and effic

[2017-09-12 12:48] badersur commented on #4106
Maybe I'll be able to work on it next week!

[2017-09-12 12:56] isaac2004 commented on #4177
@scottaddie based on the tech, the doc looks pretty good, I will just update the Azure section to show the new process against App Service using the new portal

[2017-09-13 04:05] jchadwick opened #4268 ".NET Core Browser Link instructions do not work with .NET Core 2.0"
The [Using Browser Link](https://github.com/aspnet/Docs/blob/master/aspnetcore/client-side/using-browserlink.md) instructions say to install the NuGet package `Microsoft.VisualStudio.Web.BrowserLink.Loader`

However, this doesn't work, because in .NET Core 2.0:
- the package has been renamed to `Microsoft.VisualStudio.Web.BrowserLink`
- the package mentioned above is already added by default

As R

[2017-09-13 04:29] guardrex commented on #4268
Might be tracked by https://github.com/aspnet/Tooling/issues/1015, but there's no response from the dev team yet on two recent posts. It looks like nuking the package cache helped in a few cases but not all. It's true that the package is part of the `Microsoft.AspNetCore.All` metapackage, so the topic does need a touch of work.

[2017-09-13 04:37] jchadwick commented on #4268
Yeah, I saw that.  It seems regardless of the resolution of that issue the docs are still pointing to the wrong package name and generally need to be updated for .NET Core 2.0

[2017-09-13 04:37] scottsauber commented on #4256
Started on this and will send the PR tomorrow.

[2017-09-13 06:42] guardrex commented on #2256
@scottaddie #2785 is merged. Is this still needed?

[2017-09-13 06:58] guardrex commented on #577
@danroth27 At this point for this issue :point_up:, are we just talking about documenting this :point_right: [Development time IIS support for ASP.NET Core Applications](https://blogs.msdn.microsoft.com/webdev/2017/07/13/development-time-iis-support-for-asp-net-core-applications/)? That's on my To Do list anyway, and it might knock this issue out (I'm thrown off a bit by the mention of the 3d-logi

[2017-09-13 14:26] #3700 closed

[2017-09-13 14:51] scottaddie commented on #2256
@guardrex Yes. We need a complete list of built-in Tag Helpers. I frequently hear devs asking for this at events I attend. They get tired of hearing "look at the code on GitHub".

@pkellner Are you already working on documenting the remaining built-in Tag Helpers?

[2017-09-13 14:56] #3827 closed

[2017-09-13 15:46] scottaddie opened #4277 "Document configuration migration to 2.0"
Per the request in https://github.com/aspnet/Configuration/issues/728, add a new section to the [main migration doc](https://docs.microsoft.com/aspnet/core/migration/1x-to-2x/).

[2017-09-13 16:06] #4102 closed

[2017-09-13 17:05] guardrex commented on #3387
Cross-ref: https://github.com/aspnet/Configuration/issues/728

... but it isn't 100% clear if this the tracking topic for *ALL* configuration topic updates for 2.0 (e.g., `ConfigureAppConfiguraton`).

[2017-09-13 17:13] guardrex commented on #4268
Sort of ... It depends on whether or not it's broken :cry: (if it is broken). If it's broken for 2.0, then the topic will get a temporary note that states 'This topic applies to 1.1.' until the issues with BrowserLink are fixed.

@sayedihashimi Do u know if BrowserLink works with 2.0 and VS latest? I'm on VSC right now, so I can't check here atm.

[2017-09-13 17:24] sayedihashimi commented on #4268
It should but @madskristensen is the right person to answer

[2017-09-13 17:44] madskristensen commented on #4268
Yes, Browser Link works with ASP.NET Core 2.0, but in VS 2017 Update 3 we disabled it by default. Just enable it on the toolbar like this:

![image](https://user-images.githubusercontent.com/1258877/30392072-8416701c-9870-11e7-8039-748640b26769.png)

[2017-09-13 17:49] guardrex commented on #4268
Thanks @madskristensen.

@jchadwick Do u want to work the topic? If not, I'll fix it this evening.

[2017-09-13 17:53] pranavkm opened #4281 "Add some documentation about configurations and hooks in Razor Pages"
The current set of Razor Pages articles talk about using Razor Pages which is great. But we have several features that would be useful to document:

* Applying authorization filters via conventions - `AllowAnonymousToPage`, `AllowAnonymousToFolder`, `AuthorizePage`, `AuthorizeFolder`
* `AddPageRoute` to do custom routes to pages
* Using `IPageApplicationModelProvider`, `IPageRouteModelProvider`. S

[2017-09-13 18:34] scottaddie commented on #3387
@guardrex I'll be adding a small section to the existing migration doc to outline ONLY major breaking changes. (see issue https://github.com/aspnet/Docs/issues/4277). This issue should remain open, and the resulting doc should serve as a much more detailed reference.

[2017-09-13 19:19] jchadwick commented on #4268
Yeah I can try to take a stab at it tonight.

[2017-09-13 22:00] guardrex commented on #4268
@jchadwick I see you're over on Slack, too. I'll be bopping around on there tonight (the MS docs folks are there, too). Ping me/them if u hit a snag.

[2017-09-13 23:53] danroth27 commented on #577
This bug is ancient and I honestly don't know what it's tracking anymore. @Rick-Anderson?

[2017-09-14 00:17] guardrex commented on #577
In an offline chat several weeks ago with [@]Rick-Anderson and [@]tdykstra (prior to the 2.0 release), we discussed making an official doc from the [@]shirhatti blog post, so I suppose we could use this issue to track that work. My plan was to just copy it over with a few minor touches and put his name on it.

[2017-09-14 02:03] danroth27 commented on #577
That sounds fine to me!

[2017-09-14 09:12] badersur commented on #2256
I wish if there's a table showing all tag helpers with their equivalent HTML helpers (not sure about the name, I mean the one used in MVC 5!) and the normal HTML tags...

I would like to convert all HTML Helpers created by the `aspnet-codegenerator` to the tag heplers but I don't know what to look for (espically when it comes to the `<select>` tag). Last year I was working on Ubuntu with no Visual

[2017-09-14 16:34] #4134 closed

[2017-09-14 17:16] guardrex commented on #4281
#### Samples
* `AllowAnonymousToPage`, `AllowAnonymousToFolder`, `AuthorizePage`, `AuthorizeFolder`
`AddPageRoute`
 https://github.com/aspnet/Mvc/blob/bac68ba3c225b116d5be5ac1a1383d6bad053bf6/test/WebSites/RazorPagesWebSite/Startup.cs
* `IPageApplicationModelProvider`
   https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.CustomRazorPageHandlers
* `IPageRouteModelProvider`
   **?** @pranavkm Ar

[2017-09-14 18:41] pranavkm commented on #4281
I don't think we have one. @sebastienros was asking about this for Orchard. Perhaps he's got one.

[2017-09-14 19:28] guardrex commented on #3387
@rachelappel I'm looking at https://github.com/aspnet/Docs/issues/1382 and wondering if you think I have time to sneak a quick-ish (24-48 hours) PR in there to cover that before you go to work on this issue?

[2017-09-14 19:29] scottaddie commented on #2256
@prafullbhosale or @mlorbetske See the comment from @badersur above. Do you plan to migrate from HTML Helpers to Tag Helpers, where possible, with issue https://github.com/aspnet/Scaffolding/issues/399?

[2017-09-14 19:42] rachelappel commented on #3387
@guardrex  Yep. I am working on another issue at the moment and have another I can bump up in the queue in the meantime so no problem there.

[2017-09-14 19:44] guardrex commented on #3387
@scottaddie Ok with you? ... kills two :bird: :bird: ... that issue and wraps up https://github.com/aspnet/Docs/issues/2409. Be nice if [@]Rick-Anderson comes back to fewer issues than he left (if that's possible lol).

[2017-09-14 19:45] scottaddie commented on #3387
@guardrex Sounds good to me!

[2017-09-15 02:01] danroth27 opened #4297 "Add content on doing localization with PO files"
The proposal is to add content on doing localization with PO files using Orchard. Proposed content here:

https://gist.github.com/sebastienros/7980aad2ab33dd3a1c011fcf5a3f350c

The package is on MyGet right now, and will be on Nuget in a few days.

@sebastienros

[2017-09-15 13:13] #3964 closed

[2017-09-15 16:22] #577 closed

[2017-09-15 19:16] HaoK commented on #3469
High level overview of Options 2.0 (focus on new stuff/changes from 1.x):

`IOptions<TOptions>` - Mostly unchanged, still focused on singleton static options usage, where the value of an option does not change.  In 2.0 the implementation was switched to use the new `IOptionsFactory` but functionally there shouldn't be any difference.  Also supports the new `IPostConfigureOptions`

`IOptionsMonitor

[2017-09-15 19:18] HaoK commented on #3469
@rachelappel I added an overview of the new changes to options in 2.0. Let me know if you want me to expand any areas, or if you need me to provide any example usages for any of these.

cc @davidfowl @ajcvickers @divega as FYI,

[2017-09-15 20:40] scottaddie commented on #4297
@danroth27 We already have a "**Fundamentals/Globalization and localization**" link in the TOC. I propose that we make that an expandable node and put this proposed doc under it. Thoughts?

[2017-09-15 21:15] #4177 closed

[2017-09-16 03:10] guardrex commented on #49
@danroth27 @scottaddie I just took a look at this one. The way Music Store is configured these days, the packages aren't versioned. One apparently must run `build.cmd /t:Pin`, which runs the `build.ps1` script to pin the packages and restore the app. However when I tried that ... :boom: :cry: ...

[code]
... possibly due to a conflict with PSCX according to a forum comment that I found on this exc

[2017-09-16 03:13] scottaddie commented on #49
@guardrex I'll look to Dan for a decision on this one.

[2017-09-16 03:15] guardrex commented on #49
@scottaddie :grinning: I burned out working on the CommandLine config provider issue (almost done; will be submitted tomorrow), so I thought I'd slide over here and play with something else. lol ..... This looked like it was going to be sooooooo easy. *So much for that plan!* lol

[2017-09-16 03:17] danroth27 commented on #4297
Yup, that sounds reasonable.

[2017-09-16 03:21] scottaddie opened #4306 "Add missing metadata to Configure Identity doc"
Run a Gauntlet validation on [the doc](https://docs.microsoft.com/aspnet/core/security/authentication/identity-configuration) to see the required metadata fields which are missing at the top of the doc.

[2017-09-16 14:11] isaac2004 commented on #4079
@scottaddie is the scope of this a sample project and step by step instructions on setting up? Looks like there is some Core 2.0 content here

https://docs.microsoft.com/en-us/azure/application-insights/app-insights-snapshot-debugger

[2017-09-16 14:52] isaac2004 commented on #3903
@Rick-Anderson @scottaddie are these currently being worked on? Seems like some are updated.

[2017-09-16 15:00] isaac2004 commented on #3873
@Rick-Anderson @tdykstra is the goal to redo that one doc or eventually every one? Maybe we should be rewriting it for Core 2.0 or .Net 4.7

[2017-09-16 17:13] tdykstra commented on #3873
I'm not working on ASP.NET docs now, so @Rick-Anderson or @scottaddie would know more about current plans for that series.  I believe it would be worth updating if we had enough people interested in working on it.
cc @guardrex

[2017-09-16 18:56] bitbonk commented on #3389
Until the docs are done, where can I learn, how this works? Any hint?

[2017-09-17 17:00] badersur commented on #4106
I'm trying to update these files to use refresh and go to x page but now I realize that we need to re-run the application after changing C# code (as far as I know since we didn't use `dotnet watch`! Does VS re-run ASP.NET Core apps on the background?! I didn't notice this..)
Or we can assume developers will re-run the app if refresh didn't work!

[2017-09-17 19:26] badersur commented on #4106
It seems I'll just use "run the application" everywhere...

[2017-09-17 21:40] NinoFloris commented on #2501
Any news on this?

[2017-09-18 15:10] #4306 closed

[2017-09-18 15:36] tdykstra commented on #4106
Or change text like "run page x" to:

"run the app and navigate to page x"

or shorter

"run the app and go to page x"

[2017-09-18 18:12] normj commented on #3389
I found this blog post interesting in understanding how the injection works. http://www.hishambinateya.com/istartup-vs-ihostingstartup

[2017-09-18 20:15] #4233 closed

[2017-09-19 06:39] guardrex commented on #4178
@terrimorton Thanks for reporting this.

I corrected the 301/302 links with one of my **RexHacks**:tm: scripts. :smile: There are other 301/302 problems, so I'll prob circle around later with other passes to fix other batches of links. Later, we'll figure out if we should fix up the titles (link text) as well, since they've changed in many cases.

For the problems with individual topics, such as i

[2017-09-19 16:53] MatteoSevera commented on #4076
@Bartmax I have this error in js, during validation, not you?

    at createError (globalize.js:105)
    at validate (globalize.js:182)
    at validateDefaultLocale (globalize.js:213)
    at Function.Globalize.numberParser.Globalize.numberParser (number.js:1422)
    at Function.Globalize.parseNumber.Globalize.parseNumber (number.js:1474)
    at $.validator.methods.number (jquery.validate.globalize

[2017-09-19 17:50] #3738 closed

[2017-09-19 17:56] #4178 closed

[2017-09-19 18:05] rachelappel commented on #4018
Move to this repo: https://github.com/dotnet/docs/issues/3178

[2017-09-19 18:05] #4018 closed

[2017-09-20 06:52] coykto-repos commented on #4076
I would really like to let both comma and dot to be accepted as a decimal separator. Does anybody really types in number like this: 10.000,00? I get the part about presenting localized vaues on the page, but why localize the input? Plus, here in Russia and i guess in some other places it is ok to use either dot or comma to separate decimal values, but for the thousands people tend to use space, li

[2017-09-20 15:18] #4106 closed

[2017-09-20 20:12] rachelappel opened #4344 "Fix metadata in these docs"
Fix metadata in these:
https://github.com/aspnet/Docs/blob/live/aspnetcore/fundamentals/hosting.md
https://github.com/aspnet/Docs/blob/live/aspnet/mvc/overview/getting-started/introduction/adding-a-view.md

[2017-09-20 22:08] JRAlexander opened #4346 "Update and move Visual Studio Tools for Docker to ASP.NET docs repo"
## General
Update and move [Visual Studio Tools for Docker](https://docs.microsoft.com/en-us/dotnet/core/docker/visual-studio-tools-for-docker) to ASP.NET docs repo

## Issues with Existing Topics

Resolves
* https://github.com/dotnet/docs/issues/2693
* https://github.com/dotnet/docs/issues/2813
* https://github.com/dotnet/docs/issues/2505

[2017-09-21 09:03] guardrex commented on #4268
@scottaddie Want me to knock this out tomorrow? ... er ... 4am here ... today :smile:

[2017-09-21 09:15] guardrex commented on #3781
This was probably fixed by https://github.com/aspnet/Docs/pull/4157.

@hanslai Have you had a chance to try it after those updates on Aug. 30 :point_up:? I did the updates with VSC, but the tests should run equally well in VS.

[2017-09-21 09:22] guardrex commented on #3387
@rachelappel Update on https://github.com/aspnet/Docs/pull/4307 The work is done ... just waiting on review. I'll jump on feedback asap to get out of your way here.

[2017-09-21 14:20] bryanwrightscode opened #4348 "Step 7 Uses AppId/AppSecret incorrectly"
Re Topic "Creating a Google app for OAuth 2 and connecting the app to the project"
Step 7 states to copy and paste the AppId and AppSecret into the UseGoogleAuthentication method. As of writing this comment, the method takes ClientId and ClientSecret, whereas ~~Twitter and~~ Facebook method~~s~~ ~~use~~ uses App instead of Client. It might be beneficial to also state where the AppId and AppSecret

[2017-09-21 16:05] guardrex commented on #4348
@bryanwrightscode ... Step 7 of which topic?

[2017-09-21 16:29] bryanwrightscode commented on #4348
Topic: "Creating a Google app for OAuth 2 and connecting the app to the project"
Step 7: "Copy and paste the AppId and App Secret ... "
`    app.UseGoogleAuthentication(
         clientId: "000-000.apps.googleusercontent.com",
         clientSecret: "00000000000");`

[2017-09-21 16:34] guardrex commented on #4348
Ah ... thx ...

https://docs.microsoft.com/en-us/aspnet/mvc/overview/security/create-an-aspnet-mvc-5-app-with-facebook-and-google-oauth2-and-openid-sign-on#creating-a-google-app-for-oauth-2-and-connecting-the-app-to-the-project

*aspnet/mvc/overview/security/create-an-aspnet-mvc-5-app-with-facebook-and-google-oauth2-and-openid-sign-on.md*

[2017-09-21 17:16] Eilon opened #4349 "Update session"
## General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.
This template offers some suggestions to consider
when creating an issue.

## Issues with Existing Topics

If the issue is a simple typo or similar correction, just submit a PR.
Otherwise, let us know what's wrong or what we should improve. Include a
link to the topic.

## Requests for

[2017-09-21 17:41] guardrex commented on #4348
@bryanwrightscode Would this text cover it?

Also, you mentioned, "whereas Twitter and Facebook methods use App instead of Client." This topic (for Facebook anyway) uses "App Id" and "App Secret". Twitter seems to be using "ConsumerKey" and "ConsumerSecret" (according to the [aspnetcore Twitter topic](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/twitter-logins?tabs=a

[2017-09-21 17:56] bryanwrightscode commented on #4348
Yeah your proposed text seems to solve all my concerns. I mistakenly said Twitter uses AppId and AppSecret, sorry about that. Otherwise all of this looks good to me.

[2017-09-21 18:20] guardrex commented on #4349
Might be a duplicate (or just related to):

[2.0 Update fundamentals/app-state (aspnet/Docs 3767)](https://github.com/aspnet/Docs/issues/3767)
[Improve session and application state in ASP.NET Core article by adding more details (aspnet/Docs 3216)](https://github.com/aspnet/Docs/issues/3216)

[2017-09-21 18:26] Eilon commented on #4349
Oops, I somehow submitted this issue by mistake. Closing.

[2017-09-21 18:26] #4349 closed

[2017-09-21 19:59] #4344 closed

[2017-09-21 23:51] buvinghausen commented on #2384
@nrandell you are a gentleman and a scholar

[2017-09-22 02:38] #4348 closed

[2017-09-22 02:47] scottaddie commented on #4268
@guardrex Yes, please!

[2017-09-22 09:15] guardrex commented on #3216
https://docs.microsoft.com/aspnet/core/fundamentals/app-state
*aspnetcore/fundamentals/app-state.md*

[2017-09-22 14:26] Calkines commented on #4076
@coykto-repos  is not the case of configure the model with attribute that indicate it is a currency data type? On the other hand, perhaps, you may be using a culture that needs a comma to decimal separator.

[2017-09-22 15:05] Coykto commented on #4076
@Calkines maybe i'm missing something as i'm not familiar with asp.net core, or .net in general for that matter. I originaly came here because i got really confused by "getting started" tutorial, writen by @Rick-Anderson and others, as neither "." nor "," passed validation for a price field. I have a Django background and i never had problems like that as the framework seems to handled these thing

[2017-09-22 15:25] coykto-repos commented on #4076
@Calkines maybe i'm missing something as i'm not familiar with asp.net core, or .net in general for that matter. I originaly came here because i got really confused by "getting started" tutorial, writen by @Rick-Anderson and others, as neither "." nor "," passed validation for a price field. I have a Django background and i never had problems like that as the framework seems to handled these thing

[2017-09-23 03:57] guardrex commented on #1795
@scottaddie #1882 fixes this but it didn't auto-close the issue ... maybe because the "fixes" was lowercase over there ... or perhaps because it wasn't in the initial comment.

https://github.com/aspnet/Docs/pull/1882#issuecomment-247465480

Either way 🎂 :tada: 🎈 I think this can close 🎈 :tada: 🎂 .

[2017-09-23 18:46] TomCJones opened #4369 "OpenID Connect Dynamic provider for ASP.NET Core Identity"
## General

The existing OpenID Connect provider in ASP.NET Core will not accept a dynamic registration for an Identity Provider. That makes it very difficult to get OpenID certification for an ASP.NET web site.

I have posted a solution to both issues at https://bitbucket.org/tomcjones/idesgrp

I would like to create an article for docs that describes how to solve these problems once this is appr

[2017-09-23 20:59] guardrex commented on #4369
@TomCJones Is your intention to produce the sample in 2.0?

[2017-09-23 23:25] TomCJones commented on #4369
Eventually, but I am working on identity prover in 2.0 that I need to finish first.

thx ..tom (mobile outlook)

________________________________
From: Luke Latham <notifications@github.com>
Sent: Saturday, September 23, 2017 1:59:44 PM
To: aspnet/Docs
Cc: tom jones; Mention
Subject: Re: [aspnet/Docs] OpenID Connect Dynamic provider for ASP.NET Core Identity (#4369)

@TomCJones<https://github.com/

[2017-09-24 09:42] BrianMinister opened #4373 "Information on self certing while working with kestrel is mostly out dated."
**For page:** https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?tabs=aspnetcore2x
**MD file:** https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/servers/kestrel.md

* Makecert UI is last updated in 2012, and is on codeplex which is shutting down.
* For new-selfsignedcertificate, https://technet.microsoft.com/itpro/powershell/windows/pki/new-selfsignedcertif

[2017-09-25 03:21] clockwiseq commented on #4134
@divega , when I move my init (seed) code to Program, when I attempt to start debugging my browser is opened and then immediately closed.  Any idea why this happens?  Is this another "undocumented feature" ?

[2017-09-25 03:25] clockwiseq commented on #4134
I believe I figured it out.  In your example, you show capturing the instance of the host like so: `var host = BuildWebHost(args);`, but you fail to include the line of code that tells the host to run at the end like so: `host.Run();`

[2017-09-25 15:21] Rick-Anderson opened #4381 "call out that AddIdentity sets the defaults so you shouldn’t AddAuthentication(scheme)."
related https://github.com/aspnet/Docs/pull/4377

From: Chris Ross (ASP.NET)
One of the more common issues we have is people calling AddIdentity and AddAuthentication(scheme). Can we at least call out that AddIdentity sets the defaults so you shouldn’t?

[2017-09-25 16:00] Rick-Anderson commented on #4076
https://github.com/aspnet/Docs/pull/4382 adds link to this issue until I have time to add this info to the doc.

[2017-09-25 16:41] guardrex commented on #4373
Thanks @BrianMinister!

According to https://msdn.microsoft.com/en-us/library/aa386968.aspx, the tool is depreciated:

I'll remove it and update the topic with a good PS link for `New-SelfSignedCertificate`.

[2017-09-25 16:46] rachelappel opened #4383 "Tutorials ToC order"
The order in which the tutorials are listed at https://docs.microsoft.com/en-us/aspnet/core/tutorials/ are very irksome, especially to the OCD prone. They should be in a better order: Razor pages on Windows, Mac, then VS Code, then MVC on Windows, Mac, then VSCode.

[2017-09-25 17:00] Rick-Anderson opened #4385 "Lukes top 15"
- [ ] https://github.com/aspnet/Docs/issues/4033
- [ ]

[2017-09-25 17:04] Rick-Anderson commented on #3389
@bwren can we help you get started on this? Do you have an ETA for this.

[2017-09-25 17:14] rachelappel opened #4386 "TagHelpers ToC Update"
Update ToC for TagHelpers

[2017-09-25 17:19] #3669 closed

[2017-09-25 17:25] Rick-Anderson commented on #3352
@Tratcher can you come up with a sample app?

[2017-09-25 17:26] bwren commented on #3389
@Rick-Anderson Sorry, there was some confusion on this.  Adding @mrbullwinkle who now owns App Insights.  I'll work with him to get this addressed.

[2017-09-25 17:31] guardrex commented on #4386
btw- There's some TOC work in https://github.com/aspnet/Docs/pull/4345 that hasn't merged yet.

[2017-09-25 17:42] #4373 closed

[2017-09-25 17:45] rachelappel commented on #4386
@guardrex  Yep those are good. Will also need to add some in for Tag Helpers that haven't been documented yet.

[2017-09-25 17:47] guardrex commented on #4386
I was just concerned about merge conflicts :boom: :cry:, but #4345 might go in soon.

[2017-09-25 17:54] scottaddie opened #4388 "Remove "Setting up HTTPS for development" doc"
[https://docs.microsoft.com/aspnet/core/security/https](https://docs.microsoft.com/aspnet/core/security/https)

Per [@]tratcher: The preview1 feature was cut for RTM and it’s causing a lot of user confusion.

- [x] Remove TOC link
- [x] Delete doc
- [x] Remove doc references in other docs
- [x] Setup a forward to another article

[2017-09-25 19:01] #4388 closed

[2017-09-25 19:39] rachelappel opened #4391 "core/tutorials/publish-to-azure-webapp-using-vs Change wording in Setup and Next Steps for Publishing doc"
Modify https://docs.microsoft.com/en-us/aspnet/core/tutorials/publish-to-azure-webapp-using-vs so the "Setup" and Next Steps sections are better worded.

[2017-09-25 19:42] rachelappel opened #4392 "Separate ToC for Hosting & Deployment Nodes"
Split this node to be one for hosting and one for deployment
https://docs.microsoft.com/en-us/aspnet/core/publishing/?tabs=aspnetcore2x

[2017-09-25 19:45] rachelappel opened #4393 "Update Continuous Deployment to Azure with VS to .NET Core 2.0 and VS 2017"
https://docs.microsoft.com/en-us/aspnet/core/publishing/azure-continuous-deployment

[2017-09-25 20:10] #1679 closed

[2017-09-25 21:07] #4268 closed

[2017-09-25 21:33] Rick-Anderson commented on #4369
@HaoK  or @blowdart  please review proposal for article OpenID Connect Dynamic provider for ASP.NET Core Identity

[2017-09-25 21:36] Rick-Anderson commented on #4258
@zuckerthoben  would you be willing to write this article?
@danroth27  @spboyer please review

[2017-09-25 21:37] Rick-Anderson commented on #4281
@pranavkm  any chance you could write a sample app showing these and stub out a document?

[2017-09-25 21:51] blowdart commented on #4369
Given that OIDC certification does not require implementation of everything, and dynamic registration introduces a whole new bunch of threats we've not considered I'm not sure this belongs in the official documentation.

[2017-09-25 22:00] Rick-Anderson commented on #4232
@DamianEdwards  can you assign a dev to write the sample we can use as a basis for the article? Once the sample code is written I can schedule and expedite.

[2017-09-25 22:07] Rick-Anderson commented on #4211
Make sure this is updated to the latest version without tabs from previous versions. If you need previous versions, point to https://github.com/aspnet/Docs/blob/master/aspnetcore/common/_static/9-25-17.pdf

[2017-09-25 22:31] PinpointTownes commented on #4369
@blowdart not sure I'm proud of that... :trollface:

![image](https://user-images.githubusercontent.com/6998306/30834100-feab6ff4-a251-11e7-9e89-904275186c85.png)

[2017-09-25 22:53] TomCJones commented on #4369
Oidc relying party certification is dependent on dynamic registration. I am a prior member of windows security and can supply a threat model as part of documentation, which should be sufficient reason alone for docs.

thx ..tom (mobile outlook)

________________________________
From: Barry Dorrans <notifications@github.com>
Sent: Monday, September 25, 2017 2:51:22 PM
To: aspnet/Docs
Cc: tom jones;

[2017-09-25 23:06] #1382 closed

[2017-09-25 23:06] #2409 closed

[2017-09-25 23:34] PinpointTownes commented on #4369
There are 5 certification profiles and the first 4 don't require implementing Dynreg (the last one is named `Dynamic RP` and is dedicated to this feature): http://openid.net/wordpress-content/uploads/2016/12/OpenID-Connect-Conformance-Profiles.pdf

The threat model is [actually well known](https://arxiv.org/abs/1508.04324): the main threats are IdP mix-up attacks, XSS injection via specially craft

[2017-09-25 23:36] PinpointTownes commented on #4369
@TomCJones note that I'm not trying to deter you from contributing to the ASP.NET Core docs, but like @blowdart, I think this part is probably too complicated and requires implementing so much custom code that it's probably not a good fit for the official docs.

[2017-09-26 00:00] Rick-Anderson commented on #4391
dup of #2119

[2017-09-26 00:00] #4391 closed

[2017-09-26 00:03] Rick-Anderson opened #4399 "publishing/web-publishing-vs "Create publish profiles for Visual Studio and MSBuild, to deploy ASP.NET Core apps""
- [ ] Update and UE pass

[Create publish profiles for Visual Studio and MSBuild, to deploy ASP.NET Core apps](https://docs.microsoft.com/en-us/aspnet/core/publishing/web-publishing-vs?tabs=aspnetcore2x)

Part of [VS Pub to Azure team topics](https://teams.microsoft.com/_#/xlsx/viewer/teams/https%3A~2F~2Fmicrosoft.sharepoint.com~2Fteams~2FDotNet%26WebDevContent~2FShared%20Documents~2FAzure%20and%2

[2017-09-26 00:43] Rick-Anderson commented on #4369
@TomCJones  if you write a blog on this I'll be happy to tweet it.

[2017-09-26 00:43] #4369 closed

[2017-09-26 00:56] TomCJones commented on #4369
You are wrong about the RP certification.  Unfortunately the RP certification pages have been removed from openid.net so I cannot point you to the reason why you are wrong.

I would be happy to address any shortcomings in the providers collection, but I am not likely to engage with this team again given this experience.   ..tom
________________________________
From: Kévin Chalet <notifications@git

[2017-09-26 01:01] PinpointTownes commented on #4369
Nope, I don't think I am. The page you're looking for is still available at http://openid.net/certification/ and lists the 16 providers officially certified by the OpenID Foundation. Only 5 support the dynamic RP feature.

[2017-09-26 01:06] TomCJones commented on #4369
Maybe you should ask yourself why my code is the only asp.net<http://asp.net> RP certified!

..Tom's phone

On Sep 25, 2017, at 6:01 PM, Kévin Chalet <notifications@github.com<mailto:notifications@github.com>> wrote:

You are wrong about the RP certification. Unfortunately the RP certification pages have been removed from openid.net<http://openid.net> so I cannot point you to the reason why you ar

[2017-09-26 01:39] PinpointTownes commented on #4369
Oh sorry, I had not realized this thread was all about satisfying your ego :sweat_smile:

And FWIW, that's inexact. SimpleIdentityServer's client - certified for the 5 profiles - and IdentityModel.OidcClient - certified for basic and config - are compatible with .NET Standard and can be used in any ASP.NET or ASP.NET Core app.

[2017-09-26 14:03] rachelappel opened #4405 "tutorials/publish-to-azure-webapp-using-vs: enhance setup and next steps"
https://docs.microsoft.com/en-us/aspnet/core/tutorials/publish-to-azure-webapp-using-vs

[2017-09-26 15:20] #4383 closed

[2017-09-26 15:27] #4392 closed

[2017-09-26 15:31] rachelappel commented on #4405
Duplicate issue. Closing.

[2017-09-26 15:31] #4405 closed

[2017-09-26 16:18] #4188 closed

[2017-09-26 17:00] scottaddie commented on #4381
Fixed by https://github.com/aspnet/Docs/pull/4387

[2017-09-26 17:00] #4381 closed

[2017-09-26 21:39] #4399 closed

[2017-09-26 21:48] #1795 closed

[2017-09-26 23:07] Tratcher commented on #3352
[code]

[2017-09-27 00:32] Rick-Anderson commented on #3352
@Tratcher  Thanks. I plugged your code into the Razor Pages project. I'd like to use the `CancellationToken` from the About page to cancel the work.  Fowler has a sample [here](https://gist.github.com/davidfowl/a7dd5064d9dcf35b6eae1a7953d615e3)

My sample is [here](https://github.com/Rick-Anderson/Background/tree/master/WebBackground) - can you show me how to cancel?

Should I set up a meeting wit

[2017-09-27 02:54] #3260 closed

[2017-09-27 04:37] Tratcher commented on #3352
Fowler abandoned that approach, it has too many threading and cancellation issues.

I don't know that cancellation from the About page makes sense. These services have the same lifetime as your application, you don't spin them up and down dynamically.

You could communicate with the background service from the About page though to do things like change the output message. Inject a shared singleton

[2017-09-27 05:40] davidfowl commented on #3352
We should discuss what we want to document. Right now in the box is an extremely low level building block API. 2.1 will have more goodies that make it easier to implement common scenarios but showing something like a timer would be good.

We should also discuss some issues that will be extremely common like doing DI in one of these services. One big issues people will end up having to deal with wi

[2017-09-27 07:36] zuckerthoben commented on #4258
Yes, I can do that. I can start next week.

[2017-09-27 12:51] danroth27 commented on #3352
@Rick-Anderson let's get some time on the calendar then with the right folks

[2017-09-27 15:58] #4297 closed

[2017-09-27 18:08] Rick-Anderson commented on #3352
@danroth27  who are the right folks for the meeting?

[2017-09-27 18:10] Rick-Anderson commented on #4258
@danroth27 @spboyer please review

[2017-09-27 18:15] scottaddie commented on #137
@NTaylorMullen Any thoughts on an initial outline for this doc?

@dpaquette Are you interested in writing this doc? I know you worked with @NTaylorMullen to create [Pugzor](https://davepaquette.com/archive/2016/11/22/creating-a-new-view-engine-in-asp-net-core.aspx).

[2017-09-27 19:52] scottaddie commented on #416
We have Korean localization now: https://docs.microsoft.com/ko-kr/aspnet/core/. The associated repo is here: https://github.com/aspnet/Docs.ko-kr.

[2017-09-27 19:52] #416 closed

[2017-09-27 21:16] scottaddie commented on #3188
Localization is in place now.

[2017-09-27 21:16] #3188 closed

[2017-09-27 22:08] guardrex commented on #4054
I can knock this out quickly, but I don't see it (shown in code samples) in the RP tutorial. Which topic? ... if you want me to take care of it.

[2017-09-27 22:24] danroth27 commented on #3352
Probably @davidfowl  and @Tratcher and whoever else they think should be there.

[2017-09-27 22:25] danroth27 commented on #4258
I'm concerned this is premature given that NSwag uses reflection instead of the ApiExplorer model. @rynowak thoughts?

[2017-09-27 22:28] danroth27 commented on #137
Would it be easier to have a specific folder hierarchy with a different _ViewStart.cshtml that specifies the alternative layout?

[2017-09-27 22:29] dpaquette commented on #137
@scottaddie I would like to help but I don't have many spare cycles at the moment.

[2017-09-27 22:38] rynowak commented on #4258
I think this is fine. We've already reached out to @rsuter (the author) and we're going to work with him to address any gaps. NSwag in its current form is still a very complete product and we expect it to get better too. I see no reason why we shouldn't start recommending it.

[2017-09-27 22:42] danroth27 commented on #49
The original intent of this issue was to have a tutorial doc that walked you through creating the Music Store app, like we had for previous versions of ASP.NET MVC (see https://docs.microsoft.com/en-us/aspnet/mvc/overview/older-versions/mvc-music-store/).

The [MusicStore repo](https://github.com/aspnet/musicstore) was based on the Music Store tutorial, but is now primarily used for testing purpos

[2017-09-27 22:50] danroth27 commented on #4258
Alright, let's proceed then.

[2017-09-27 23:13] guardrex commented on #49
I see ... I misunderstood your intent. Since this would be a tutorial that covers significant segments of a rather large app, this is potentially a big job.

[2017-09-28 00:04] Rick-Anderson commented on #49
@danroth27  That's covered better by https://docs.microsoft.com/en-us/aspnet/core/security/authorization/secure-data

closing this issue

[2017-09-28 00:04] #49 closed

[2017-09-28 00:20] Rick-Anderson commented on #4054
https://github.com/aspnet/Docs/blob/master/aspnetcore/mvc/razor-pages/index/sample/RazorPagesContacts/Pages/Index.cshtml.cs

[2017-09-28 00:33] Rick-Anderson commented on #3565
it's fixed with the 2.0 update

[2017-09-28 00:33] #3565 closed

[2017-09-28 00:35] Rick-Anderson commented on #3769
@scottaddie  can you work on an outline or something to get @fiyazbinhasan  going?

[2017-09-28 00:47] danroth27 commented on #3926
@Rick-Anderson The 2.0 docs are now available at https://docs.microsoft.com/en-us/dotnet/api/?view=aspnetcore-2.0. We need to update the link on the ASP.NET hub page and redirect the old API ref docs for 1.1 and 1.0 to the new pages at https://docs.microsoft.com/en-us/dotnet/api/?view=aspnetcore-1.1 and https://docs.microsoft.com/en-us/dotnet/api/?view=aspnetcore-1.0.

[2017-09-28 00:59] Rick-Anderson commented on #3926
- [ ] update the link on the [ASP.NET Core hub page](https://docs.microsoft.com/en-us/aspnet/#pivot=core&panel=core_overview)
- [ ] redirect the old API ref docs for 1.1 and 1.0 to the new pages at https://docs.microsoft.com/en-us/dotnet/api/?view=aspnetcore-1.1 and https://docs.microsoft.com/en-us/dotnet/api/?view=aspnetcore-1.0.

[2017-09-28 01:58] guardrex commented on #4054
Ah ... I see what you mean ... It isn't shown in the topic and that *is* the problem (along with missing a textual explanation of it). I thought at first that the code was shown but that it wasn't explained. Let me see if I can fix this.

[2017-09-28 02:13] danroth27 opened #4432 "Update instructions for viewing generated Razor code for 2.0"
Looks like these instructions for viewing the generated Razor code need to be updated for 2.0:

https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor#viewing-the-razor-c-class-generated-for-a-view

@NTaylorMullen @ajaybhargavb Could you guys please provide the updated instructions?

[2017-09-28 02:36] scottaddie opened #4433 "Update "Configure Identity primary keys data type" for 2.0"
https://docs.microsoft.com/aspnet/core/security/authentication/identity-primary-key-configuration

- [x] Update to 2.0. See the Livefyre comment regarding a method change in 2.0.
- [x] UE Edit
- [x] Add missing metadata

[2017-09-28 03:40] NTaylorMullen commented on #137
@pranavkm would be a better SME for this article 😄. He's responsible for many of the ViewEngine related features MVC offers.

[2017-09-28 10:00] forsyth commented on #137
I'd forgotten about this thread until it became active again recently. As a follow-up to my messages posted above almost a year ago, I should note that a month or two later my Custom ViewEngine started working with no change on my side, so whatever was stopping it had gone. It works very well.

[2017-09-28 14:26] danroth27 commented on #4432
From @NTaylorMullen:

You can view your generated code by implementing https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor.Extensions/MvcRazorTemplateEngine.cs and inspecting the returned code document from CreateCodeDocument.

[2017-09-28 14:29] danroth27 commented on #4432
@NTaylorMullen What do you mean by "implement" `MvcRazorTemplateEngine`? It's already a concrete class, right? Also, how do you inspect the `RazorCodeDocument` to see the actual C#?

[2017-09-28 15:28] #4054 closed

[2017-09-28 16:21] danroth27 commented on #3815
The config model for setting up HTTPS in Kestrel was removed from 2.0. The content has been removed, so I think we can close this one.

[2017-09-28 16:21] #3815 closed

[2017-09-28 16:39] danroth27 opened #4438 "Document IHostStartup (host lightup feature)"
See Add docs for IHostedService #3352

[2017-09-28 16:43] danroth27 commented on #3780
This is done: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-enable-qrcodes

[2017-09-28 16:43] #3780 closed

[2017-09-28 16:44] Rick-Anderson opened #4439 "security/authentication/identity-enable-qrcodes - need instructions for MVC"
[Enabling QR Code generation for authenticator apps in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-enable-qrcodes) states:

**Note: This topic applies to ASP.NET Core 2.x with Razor Pages.** - Need MVC instructions. Customer [writes](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-enable-qrcodes#lf-content=206166910:7391

[2017-09-28 16:45] #1928 closed

[2017-09-28 16:47] danroth27 commented on #4079
Can we just reference the existing azure doc from our TOC?

[2017-09-28 16:49] blowdart commented on #4439
It's the same instructions. Literally.

[2017-09-28 16:51] #3710 closed

[2017-09-28 16:52] Rick-Anderson commented on #4439
@blowdart  I'll update the doc. Can I add this customer comment in a new debugging section?

check if the server time is correct. TOTP auth depends on very precise time, since the generated codes are short-lived. It could also be that your authenticator app is running on a device with the wrong time, but if you use that same app with other services, then the problem must be at your server.

`< I w

[2017-09-28 16:53] danroth27 commented on #3711
The [ASP.NET Core 2.0 API refs](https://docs.microsoft.com/en-us/dotnet/api/?view=aspnetcore-2.0) are published. We just need to fix #3926. Closing this issue.

[2017-09-28 16:53] #3711 closed

[2017-09-28 16:58] blowdart commented on #4439
Oh wait, it's a little different. The only diffence is the path to the view, for MVC it's

 Views\Account\Manage\EnableAuthenticator.cshtml

I'm sure I had both in the original doc :)

So,

In the Pages\Account\Manage\EnableAuthenticator.cshtml (Razor Pages) or Views\Account\Manage\EnableAuthenticator.cshtml (MVC)  file, locate the Scripts section at the end of the file:

As for customer comment

[2017-09-28 16:59] danroth27 commented on #4230
Sorry, but I don't get what this topic is intended to cover. Is this about remote debugging an ASP.NET Core app in Azure App Services?

[2017-09-28 17:05] danroth27 commented on #3903
We should remove all version specific installation instructions from these pages. Just point people to https://dot.net/core and https://visualstudio.com.

[2017-09-28 18:03] #3903 closed

[2017-09-28 18:27] NTaylorMullen commented on #4432
Like this:

Add the service: `services.AddSingleton<RazorTemplateEngine, CustomTemplateEngine>();`

Have the class:
[code]

[2017-09-28 18:30] #4085 closed

[2017-09-28 18:37] Rick-Anderson commented on #3903
@danroth27  wrote

That won't work for 1.x versions of the doc. Once ASP.NET Core 3.0 RTW's, it won't work for the 2.x version.  cc / @rachelappel  @scottaddie

[2017-09-28 18:38] Rick-Anderson commented on #3903
@isaac2004  They're all updated now. Let me know if you find any missing.

[2017-09-28 19:14] #4346 closed

[2017-09-28 20:32] Rick-Anderson opened #4442 "mvc/razor-pages "Introduction to Razor Pages in ASP.NET Core" is not an intro"
[Introduction to Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/?tabs=visual-studio) was written as an intro to RP for experienced ASP.NET Core MVC developers. It should probably be rewritten and rolled into the start of [Getting started with Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start)

[2017-09-28 20:51] scottaddie commented on #4079
@danroth27 We certainly can. Do you have a link to the doc?

[2017-09-28 20:54] scottaddie commented on #137
@dpaquette No problem. We'll request your review upon completion of the doc.

[2017-09-28 20:55] dpaquette commented on #137
@scottaddie Sounds good. I am happy to review

[2017-09-28 21:00] isaac2004 commented on #4079
@scottaddie the link I provided has a pretty straight forward setup for setting this up (I have followed it on apps I have built with no issue)

https://docs.microsoft.com/en-us/azure/application-insights/app-insights-snapshot-debugger

[2017-09-28 21:09] danroth27 commented on #4432
Perfect, thx!

[2017-09-28 21:14] rachelappel commented on #4230
@danroth27 Well, any sort of debugging was out of scope for the doc it was requested for, and I don't know the original context past this sentence "info on connecting to Server Explorer and doing basic debugging" (which even just that is out of scope for the doc on publishing to azure). So after discussing with the team we figured it might be a new topic, so remote debugging could certainly be inc

[2017-09-28 21:21] Rick-Anderson commented on #3777
@01binary  just checking, I think update [core/security/authentication/social/index](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/) for new config is complete - right?

[2017-09-28 21:34] #3551 closed

[2017-09-28 21:35] Rick-Anderson opened #4444 "add razor pages authorize doc"
@danroth27   this is listed in #3777 - please edit this and outline what you want - Did you want to document RP Auth using the templates?

[2017-09-28 22:38] danroth27 commented on #4230
This looks like it covers the remote debugging with ASP.NET Core scenario: https://docs.microsoft.com/en-us/visualstudio/debugger/remote-debugging-azure

[2017-09-28 22:52] rachelappel commented on #4230
Ok, close this out then?

[2017-09-28 22:59] Rick-Anderson opened #4445 "Verify Azure AD articles updated for 2.0"
[Under Azure Active Directory](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/azure-active-directory/
)

- [ ] Integrating Azure AD Into an ASP.NET Core Web App
- [ ] Calling a ASP.NET Core Web API From a WPF Application Using Azure AD
- [ ] Calling a Web API in an ASP.NET Core Web Application Using Azure AD

Per @ danroth27 - update them all for 2.0 if you can't version them

[2017-09-28 23:13] Rick-Anderson opened #4446 "update publishing/web-publishing-vs"
https://docs.microsoft.com/en-us/aspnet/core/publishing/web-publishing-vs?tabs=aspnetcore2x

Apart from these 3, dotnet publish also supports kudu apis to publish to Azure from any platform. VS does not use this but it is supported by websdk for cross plat publish to Azure.

Add a publish profile to Properties\PublishProfiles folder with the below content

<Project>
<PropertyGroup>

[2017-09-28 23:43] #4446 closed

[2017-09-29 00:03] Rick-Anderson opened #4449 "Update "Integrating Azure AD into an ASP.NET Core web app" to ASP.NET 2.0"
Currently in review [here](https://github.com/Azure-Samples/active-directory-dotnet-webapp-webapi-openidconnect-aspnetcore/pull/24)

- [Integrating Azure AD into an ASP.NET Core web app](https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-webapp-openidconnect-aspnetcore/)
- [Calling a ASP.NET Core Web API from a WPF application using Azure AD](https://azure.microsoft.com/en

[2017-09-29 00:07] Rick-Anderson commented on #4445
dup of #4449

[2017-09-29 00:07] #4445 closed

[2017-09-29 02:55] guardrex commented on #4432
@Rick-Anderson Want me to get this?

[2017-09-29 06:02] Rick-Anderson commented on #4432
@guardrex  thanks

[2017-09-29 06:03] guardrex commented on #4432
Sure .... do you want the sample with no layout page for any view?

[2017-09-29 14:05] #4439 closed

[2017-09-29 14:13] #3186 closed

[2017-09-29 14:41] scottaddie commented on #4079
@isaac2004 I appreciate the link! Thanks for all your help with our docs.

[2017-09-29 15:05] #4079 closed

[2017-09-29 15:45] Rick-Anderson commented on #4432
Full, minimal or no layout - doesn't matter. Might be best to keep it simple.

[2017-09-29 16:03] scottaddie commented on #4277
@isaac2004 Feel free to take this one.

[2017-09-29 16:04] Tratcher commented on #2384
And another: https://github.com/aspnet/Home/issues/2219

[2017-09-29 16:15] guardrex commented on #4432
I went simple with it last night. There's a proper *_Layout.cshtml* view in it now. It just has the required tags to create a well-formed page.

I'll have it for u in a few hours. I'm going to hit the 💪 gym first, then wrapping this up is next.

[2017-09-29 16:50] isaac2004 commented on #4095
@Rick-Anderson would it make sense to put this new doc here or in Azure docs? The Easy Auth process is done totally in Azure (minus local dev obviously) so maybe it makes sense to writeup the doc in Azure docs, and link to it in Intro or Auth Index... Thoughts?

[2017-09-29 16:56] isaac2004 commented on #4229
@rachelappel @guardrex  so the goal is to build a doc for Azure AD Integration for a Core App? There are a few code samples for this. https://azure.microsoft.com/en-us/resources/samples/active-directory-b2c-dotnetcore-webapp/ for instance.

[2017-09-29 17:40] danroth27 commented on #4095
That would be my preference.

[2017-09-29 17:50] rachelappel commented on #4229
@isaac2004 AI = App Insights https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net

[2017-09-29 18:25] Rick-Anderson commented on #4095
Yes, do it in Azure docs.

[2017-09-29 19:05] #4433 closed

[2017-09-29 19:10] scottaddie opened #4456 "Fix invalid 2.0 AddCookie code snippets"
[Using Cookie Authentication without ASP.NET Core Identity](https://docs.microsoft.com/aspnet/core/security/authentication/cookie?tabs=aspnetcore2x#comments-container)

See the Livefyre comment regarding misleading `AddCookie` method calls.

[2017-09-29 19:13] isaac2004 commented on #4229
@rachelappel sorry confused, there is a comment by @guardrex that AI means Azure Integration

[2017-09-29 19:22] isaac2004 commented on #4095
@danroth27 @Rick-Anderson It looks like there are docs for this, in a hard to find place

https://docs.microsoft.com/en-us/azure/app-service/app-service-authentication-overview#documentation-and-additional-resources

Should we link these in aspnetcore docs?

[2017-09-29 19:33] rachelappel commented on #4229
@isaac2004  So many acronyms it is impossible to keep track of what people mean. Anyway looks like I can close this.

[2017-09-29 19:33] #4229 closed

[2017-09-29 19:34] rachelappel commented on #2119
Logging has its own article including streaming, and has been updated but I see where some enhancements can be made around streaming. I'll close this and open an issue just for the log streaming part.
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging?tabs=aspnetcore2x

[2017-09-29 19:34] #2119 closed

[2017-09-29 19:38] rachelappel opened #4459 "fundamentals/logging | Introduction to Logging in ASP.NET Core | Update for Streaming with Core 2.0"
Introduction to Logging in ASP.NET Core
Add streaming logs for Core 2.0 to the section on Azure logging https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging

Moved from https://github.com/aspnet/Docs/issues/2119

[2017-09-29 20:03] #4230 closed

[2017-09-29 21:00] #4456 closed

[2017-09-29 22:31] Tratcher commented on #3352
Here's a sample for consuming scoped services in a hosted service:
[code]

 I owe you one more sample for queuing background tasks.

[2017-09-30 01:15] Rick-Anderson opened #4462 "tutorials/razor-pages/model "Adding a model to a Razor Pages app""
If  you get the following error, verify you have run migrations and updated the database:

[code]
The text above comes from an include and is correct for the VS/Mac version and VS Code version - but incorrect for the WIndows version.

The common file  is "Docs\aspnetcore\includes\RP\model4.md"

[2017-09-30 01:34] Rick-Anderson commented on #4462
fixed in #4451

[2017-09-30 01:34] #4462 closed

[2017-09-30 09:22] guardrex commented on #3781
@Rick-Anderson No answer here, and this should be fixed by #4157.

[2017-09-30 09:41] guardrex commented on #2118
@Rick-Anderson This was fixed by https://github.com/aspnet/Docs/pull/3024.

[2017-09-30 09:47] guardrex commented on #1974
@Rick-Anderson Since there's an on-going effort for sample updates to 2.0 now, is this still relevant?

[2017-09-30 09:59] guardrex commented on #3387
@Rick-Anderson Since options are part of the config topic and probably will be addressed at the same time, should #3469 be closed and tracking that work be done over here?

[2017-09-30 17:41] #3781 closed

[2017-09-30 17:41] #2118 closed

[2017-09-30 17:42] #1974 closed

[2017-09-30 17:42] #3387 closed

[2017-09-30 18:02] Rick-Anderson commented on #3926
@v-savila  this is the issue tracking update the link on the [ASP.NET Core hub page](https://docs.microsoft.com/en-us/aspnet/#pivot=core&panel=core_overview)
Your PR #4457 was to the wrong file.

[2017-10-01 00:38] #2377 closed

[2017-10-01 01:55] Rick-Anderson opened #4469 "new topic: How to use SMS/email 2FA with ASP.NET Core 2.x"
Start with
# **WARNING:**
SMS 2FA is not as secure as QR codes. We recommend using QR codes.

1. Create and ASP.NET Core 1.1 web app **with** authentication.
1. Copy the SMS/EMAIL 2FA code and move it to your 2.0 app
1. See [Two-factor authentication with SMS](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/2fa)

[2017-10-01 03:05] #4009 closed

[2017-10-01 15:52] Senorsen opened #4470 "Install instructions for Linux (deb) may be wrong"
In https://www.microsoft.com/net/core#linuxubuntu , there may be a mistake in step one:

[code]
The commands above will fail to add the key; We should use `apt-key add microsoft.gpg` instead.

[2017-10-02 01:06] Rick-Anderson opened #4472 "Update UseIdentity with UseAuthentication"
- [ ] [Create an ASP.NET Core app with user data protected by authorization](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/secure-data) #4473
- [x] [Application Startup in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup)
- [x] middleware fixed in #4481

@scottaddie  I did a search and looks like this is all.

[2017-10-02 01:11] Rick-Anderson opened #4473 "Update security/authorization/secure-data to 2.0"
[Create an ASP.NET Core app with user data protected by authorization](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/secure-data)

- [ ] 2.0 version in Razor Pages
- [ ]  app.UseIdentity(); -> app.UseAuthentication
- [ ] Move seed from startup to main
- [ ] Use meta-data package

@joeaudette  anything else I need to do?

[2017-10-02 08:37] MansoorJafari opened #4475 "Version for package `Microsoft.DotNet.Watcher.Tools` could not be resolved."
Hi

in macbook  give me this error after rub project.?

[2017-10-02 11:24] joeaudette commented on #4473
@Rick-Anderson sounds right to me. Also need to change the Startup Constructor to be more like the 2.0 templates, ie:

       public Startup(IConfiguration configuration)
        {
            Configuration = configuration;
        }

and the property in Startup for IConfigurationRoot needs to change to IConfiguration

and in Program.cs the syntax for building the host should be updated when you m

[2017-10-02 12:15] spottedmahn opened #4477 "Broken Link for Create and run unit tests with Visual Studio"
The following link: "Create and run unit tests with Visual Studio" on this page, [Testing controller logic in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/testing?hubRefSrc=email&utm_source=lfemail&utm_medium=email&utm_campaign=lfnotification), is broken.  I tried searching for the new url and I can't find it.  It is currently pointing to https://www.visualstudio.com/

[2017-10-02 12:58] jmprieur commented on #4449
@Rick-Anderson : I've updated the sample in GitHub for the first one (See https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore)
Working on the others.

[2017-10-02 15:53] Rick-Anderson commented on #3771
@danroth27  who can write an outline for this article? @fiyazbinhasan  has volunteered to to write it. cc @scottaddie

[2017-10-02 15:54] Rick-Anderson commented on #3770
@danroth27  who can write an outline for this article? @fiyazbinhasan  has volunteered to to write it. cc @scottaddie

[2017-10-02 16:05] danroth27 commented on #3770
@SteveSandersonMS Can you help out with this?

[2017-10-02 16:06] danroth27 commented on #3771
@SteveSandersonMS Can you help out with this and the docs for the other SPA templates?

[2017-10-02 16:27] v-savila commented on #3926
@Rick-Anderson I've reverted that page (aspnet\aspnet\index.md) to the original file with the redirect and updated the correct file (aspnet\index.md).

[2017-10-02 16:28] Rick-Anderson commented on #3926
@v-savila  where is the PR?

[2017-10-02 16:29] guardrex commented on #4477
It prob should be: */visualstudio/test/unit-test-your-code* (relative link; for the topic link)

... that goes to: https://docs.microsoft.com/visualstudio/test/unit-test-your-code

[2017-10-02 16:31] guardrex commented on #4475
Do you have a good version? You can see them here: https://www.nuget.org/packages/Microsoft.DotNet.Watcher.Tools/

[2017-10-02 16:39] v-savila commented on #3926
@Rick-Anderson https://github.com/aspnet/Docs/pull/4478

[2017-10-02 16:47] Tratcher commented on #3352
@davidfowl how's this?
[code]

[2017-10-02 17:30] guardrex commented on #4449
I have a concern that since it doesn't match the samples over here for the (hypothetical) 2.0 xplat best practices setup that devs (newbies anyway) will find it confusing:
* Configured as a VS solution
* Unnecessary defaults are specified in the project file (and `PackageTargetFallback` shouldn't be necessary ... in theory! lol)
* `wwwroot` handling in an `ItemGroup`
* Not using the `All` package

[2017-10-02 17:38] jmprieur commented on #4449
@guardrex : please go ahead.

[2017-10-02 17:43] guardrex commented on #4449
@jmprieur Sure thing ... I'll have it for ya this evening.

I'll go with a `dotnet new mvc` auth template first and see if it all composes well. I'll do a search for this sample to see if any topics need a touch of work to go along with the updates.

[2017-10-02 18:22] #4477 closed

[2017-10-02 19:47] #3926 closed

[2017-10-02 22:28] #4475 closed

[2017-10-03 05:20] 01binary commented on #3777
@Rick-Anderson core/security/authentication/social/index does not have code snippets, changes specific to 2.0 were minimal. Provider-specific topics were updated for RTM 2.0 in August - if there has been an API breaking release since then, they will need to be updated again (i.e. I assume Preview 2 API is older than RTM 2, with the latter being final).

[2017-10-03 09:47] squeakyD commented on #3751
Razor Pages don't support Partial Views (at least when trying to return them from controller actions).

[2017-10-03 16:49] Rick-Anderson commented on #3889
@DamianEdwards  can you give me an ETA when you can come up with the first draft?

[2017-10-03 16:52] Rick-Anderson commented on #4444
@danroth27 this is listed in #3777 - please edit this and outline what you want - Did you want to document RP Auth using the templates?

[2017-10-03 16:55] Rick-Anderson commented on #3751
moved to #3889

[2017-10-03 16:55] #3751 closed

[2017-10-03 16:59] danroth27 commented on #4444
I believe this doc is intended to cover the folder based authorization model used by Razor Pages. Some of this is already being discussed in https://github.com/aspnet/Docs/issues/4281. We should setup some time with @pranavkm and just get a brain dump.

[2017-10-03 17:09] Rick-Anderson commented on #4444
dupe of #4281

[2017-10-03 17:09] #4444 closed

[2017-10-03 17:15] Rick-Anderson commented on #4281
see IApplicationModelProvider in [Working with the Application Model](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/application-model), but thers is no `IPageRouteModelProvider` Similar components.

When this is started, set up a meeting with @ pranavkm  to get an outline, etc.

[2017-10-03 18:01] scottaddie opened #4486 "Clarify target framework support in metapackage doc"
https://docs.microsoft.com/aspnet/core/fundamentals/metapackage

The metapackage doc doesn't state it's only supported by .NET Core, not .NET Framework. There's a Livefyre comment indicating confusion around this.

[2017-10-03 18:23] #4486 closed

[2017-10-04 02:23] #4277 closed

[2017-10-04 13:02] ardalis commented on #3889
Fewer files and folders, organized by feature, not file type: Controllers/Views [ ] RP [x]

[2017-10-04 15:12] SteveSandersonMS commented on #3771
Yes, though we are going to change some things for 2.1 so it might be best to wait until that plan settles.

[2017-10-04 15:41] #4432 closed

[2017-10-04 17:46] Tratcher commented on #4055
We've also had asks for a demo on dynamically adding and removing auth schemes.

[2017-10-04 18:44] Tratcher commented on #4055
See https://github.com/aspnet/Security/blob/0959c941b40086b131b1e01d304fc23bb887fdc8/test/Microsoft.AspNetCore.Authentication.Test/DynamicSchemeTests.cs#L137-L143

[2017-10-04 19:23] scottaddie opened #4493 "Update 2.0 App Insights migration instructions for .NET Framework"
https://docs.microsoft.com/aspnet/core/migration/1x-to-2x/#rely-on-application-insights-light-up-features

If targeting .NET Framework, an explicit App Insights SDK package reference is required. In addition, the `UseApplicationInsights` extension method still needs to be called. Without these 2 things in place, the "light up" feature of VS 2017 doesn't work.

[2017-10-05 13:36] YuxuanLin commented on #3769
That is awesome.
A question, that where is the

 file now? I still need it to generate component from cli which is a quicker way than VS.

[2017-10-05 13:58] isaac2004 commented on #4095
@Rick-Anderson @danroth27 thoughts?

[2017-10-05 14:06] davidfowl commented on #4493
When was it deprecated?

[2017-10-05 14:16] isaac2004 commented on #4493
@davidfowl Ah I misread a doc I was looking at. `AppBuilder.UseApplicationInsightsExceptionTelemetry()` is deprecated, not `UseApplicationInsights` on `WebHostBuider`.... disregard

[2017-10-05 15:11] scottaddie commented on #3769
@YuxuanLin The Angular CLI isn't currently supported in the project template; however, there is a plan to add it. See the following issue for more info: https://github.com/aspnet/JavaScriptServices/issues/1288.

[2017-10-05 16:42] danroth27 commented on #4095
We should check that these steps actually work for ASP.NET Core apps

[2017-10-05 16:43] danroth27 commented on #4095
But assuming they do, then linking to the [Azure App Service Authentication Overview](https://docs.microsoft.com/en-us/azure/app-service/app-service-authentication-overview) article sounds fine to me

[2017-10-05 17:47] isaac2004 commented on #4095
@danroth27 I just tested a new template using dotnet new deployed to Azure and tested all providers. All worked following the steps.

https://test-easy-auth.azurewebsites.net

I think it is safe to link those Azure Docs, but it isn't my decision :)

[2017-10-05 18:18] eriawan commented on #3474
All of the tasks' PRs have been submitted and merged!
Thanks @Rick-Anderson and @scottaddie for reviewing and merging them! 🙂

[2017-10-05 18:18] #3474 closed

[2017-10-05 18:31] Rick-Anderson commented on #4095
I'll get them linked early next week.

[2017-10-05 18:37] isaac2004 commented on #4095
@Rick-Anderson I can put the links in there. How about here

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/

[2017-10-05 18:38] Rick-Anderson commented on #4095
Great

[2017-10-05 18:45] isaac2004 commented on #4095
done!

[2017-10-05 18:49] scottaddie commented on #3474
@eriawan Thanks again for your Herculean effort to update these docs!

[2017-10-05 19:38] guardrex commented on #4385
* [ ] 2.0 Auth updates #3777
  * [ ] **Update** [security/data-protection/compatibility/cookie-sharing](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/compatibility/cookie-sharing) #3776
  * [ ] **Update** (+rename/retitle) [security/authentication/cookie](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?tabs=aspnetcore2x)
  * [ ] **Update/Section*

[2017-10-05 19:39] guardrex commented on #4385
@Rick-Anderson For Key Vault Config Provider ... we have it, but perhaps that whole TOC should be re-assessed and that topic moved into the DP Configuration section.

For the Redis one, you mean just a topic similar to the KV topic, correct?

[2017-10-05 19:45] Rick-Anderson commented on #4385
@guardrex  You don't need to do these in order. Start working on one that is clearly defined.   @danroth27  can you answer Luke's questions? cc / @scottaddie

PS, I'm offline the rest of the day.

[2017-10-05 19:46] guardrex commented on #4385
I can take a look at your priority labels and sort them that way.

[2017-10-05 20:18] danroth27 commented on #4385
For key vault and data protection I believe the ask from @blowdart was to document how to protect your data protection keys using key vault. We should setup some time with @blowdart to go through the details of the scenario and get them written up. @blowdart chime in if you disagree.

[2017-10-05 20:22] guardrex commented on #4385
Oh, yes! ..... I recall that now. IIRC there is an existing sample that I can put an eye on (including for Redis). @blowdart if you don't have an outline already, I can hatch one up and u can revise it from there. Might save you some time if you don't already have one.

[2017-10-05 20:36] blowdart commented on #4385
Turns out we forgot to ship it in 2.0 - which might explain the lack of docs :D

[2017-10-05 20:38] danroth27 commented on #4385
Ha! Well, @guardrex I guess you're off the hook on that one then :smile:

[2017-10-05 20:38] guardrex commented on #4385
Ah. Then I must merely recall a convo about it. It should come off the list unless u would like a preview topic.

[2017-10-05 21:51] Rabadash8820 opened #4505 "Describe Composite Formatting of ValidationAttribute ErrorMessages"
It recently came to my attention that `ValidationAttribute` error messages support [composite formatting](https://docs.microsoft.com/en-us/dotnet/standard/base-types/composite-formatting).  I discovered this while reading about [localization of DataAnnotations](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization#dataannotations-localization).  That section references a sample co

[2017-10-05 22:46] Rick-Anderson commented on #4470
@Senorsen  can you open the issue at https://github.com/dotnet/core/issues/new

[2017-10-05 22:46] #4470 closed

[2017-10-05 22:47] Rick-Anderson commented on #3505
we'll do this on the next update

[2017-10-05 22:47] #3505 closed

[2017-10-05 23:02] Rick-Anderson commented on #4505
@Rabadash8820  I think this would make a great addition. Maybe a paragraph describing it and a sample. we could have a list of validation attributes that support this and the list would be a link to the source code.

@danroth27  please comment

[2017-10-05 23:09] Rick-Anderson commented on #3208
@prafullbhosale if you can provide me with a rough draft i'll write the article. See https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model and search for The following table details the ASP.NET Core code generators` parameters:

[2017-10-05 23:11] Rick-Anderson commented on #3278
@rachelappel @scottaddie  let;s try to do this when reviewing articles.

[2017-10-05 23:21] #3123 closed

[2017-10-05 23:25] Rick-Anderson commented on #2961
this tutorial was dropped

[2017-10-05 23:25] #2961 closed

[2017-10-06 01:31] #4250 closed

[2017-10-06 01:35] scottaddie commented on #4095
Fixed with https://github.com/aspnet/Docs/pull/4501

[2017-10-06 01:35] #4095 closed

[2017-10-06 01:40] scottaddie commented on #3278
For the sake of clarity, is @wadepickett referring to the "title" metadata value when he says "doc titles"?

[2017-10-06 07:32] YuxuanLin commented on #3769
Awesome! Thanks!

[2017-10-06 08:08] Rasmustof opened #4509 "No .IsVowel for chars??"
Hey Guys,

i was just working on a simple program, but wished that there was a method for checking if any given character is a  vowel or not?

Usage would be like:
Char c  = 'C'
if(isVowel(c))

etc..

this could be done like this if im not wrong:

Public bool isVowel(Char c){
  string v = "aeiouyAEIOUY";
  if(v.IndexOf(c) != -1){
      return true;
  }else return false;
}

[2017-10-06 08:17] Rasmustof commented on #4509
would make sense to be part of the Char libary ...

[2017-10-06 08:29] Rasmustof commented on #4509
seems like there should be some extra logic to take care of that Y can be both a vowel and a consonant. but that seems like its quite difficult only taking in a char

[2017-10-06 10:04] Rick-Anderson commented on #3278
I think so. We also need to honor the character limit of title meta-data and H1's. @tdykstra  knows what those limit are.

[2017-10-06 14:45] scottaddie commented on #4509
@BillWagner Thoughts? This issue doesn't belong here, but where should we move it?

[2017-10-06 15:37] tdykstra commented on #3278
59 and 100 -- https://review.docs.microsoft.com/en-us/help/contribute/contribute-how-to-write-seo-basics?branch=master#page-title-description-and-friendly-filename

[2017-10-06 19:11] scottaddie opened #4510 "Update "Limiting Identity by scheme" to 2.0"
https://docs.microsoft.com/aspnet/core/security/authorization/limitingidentitybyscheme

- [x] Update this doc for the ASP.NET Core 2.0 release.
- [x] UE edit
- [x] Fix invalid 1.x JwtBearer code snippet. See Livefyre comment.

[2017-10-06 21:10] guardrex commented on #3777
@Rick-Anderson For ...

`https://docs.microsoft.com/aspnet/core/security/authentication/cookie`
Title: *Using Cookie Authentication without ASP.NET Core Identity*

1. What title would you like?
2. Based on the prior conversation, do you want the ASP.NET 1.x bits removed in favor of the PDF (here and generally) leaving the entire topic in a for-2.0 state? That seems to be your last order before the

[2017-10-06 21:10] Rick-Anderson opened #4512 "Improve SEO on Razor Pages Topic"

[2017-10-06 21:24] Rick-Anderson opened #4513 "High PV Low CSAT on Create a web app with ASP.NET Core MVC using Visual Studio on Windows"
Fix that

[2017-10-06 21:35] #4493 closed

[2017-10-06 22:40] Rick-Anderson commented on #3777
@guardrex  No, change of plans. Keep the 1.x and 2.x tabs.
That title looks good to me. Can you think of a better title?

[2017-10-06 22:48] guardrex commented on #3777
@Rick-Anderson "Keep the 1.x and 2.x tabs." :+1:

The title seems ok to me. By that point, they'll already have seen the topics pertaining to using cookie auth *with* Identity, so this calls out clearly that it's cookie auth without Identity. *Yikes!* on the lack of an introduction calling that out tho. It just launches right into config. (I'll fix that.)

[2017-10-06 22:53] Rick-Anderson commented on #3889
@ardalis  RP has more files
I don't understand organized by feature, not file type.

[2017-10-07 00:51] Rick-Anderson opened #4515 "New feature: Notification of new article"
Customer left feedback in [Introduction to ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/) that new article notification would be appreciated.

[2017-10-07 01:21] guardrex commented on #4281
@Rick-Anderson For planning purposes (I'll be digging into this mid to late next week):

Proposal: How about two samples and four topics in the *aspnetcore/mvc/razor-pages/* area?

| Titles | Subjects | Sample |
| --- | --- | :---: |
|*Razor Page conventions for authorization filters in ASP.NET Core* | `AllowAnonymousToPage`, `AllowAnonymousToFolder`, `AuthorizePage`, `AuthorizeFolder` | 1 |
| *Ra

[2017-10-07 02:38] ardalis commented on #3889
Typical MVC "page" requires Controller, ViewModel, View, usually each in separate folders or folder hierarchies (in the case of views). None of these are grouped together in any way.

RP has just a page and it's pagemodel, grouped together by VS and colocated in one folder. The page model replaces the controller and viewmodel, providing the function of both, without so many files or folders involv

[2017-10-07 03:23] skynode commented on #3411
Since this is still open, I thought I'd ask something along these lines to be clear:

I have the following code in the `Startup.cs` for a Web API running on ASP.NET 2.0 (actually migrating from 1.x):

[code]
 And this in `Program.cs`:
[code]

Please, I need to understand how DI works for logging in this scenario; it all compiles but is it runtime correct? I don't have `services.AddLogging()` in th

[2017-10-07 04:49] Rick-Anderson opened #4516 "Fix VS F1 for ASP.NET Core API"
@rpetrusha can you get me started on this?

[2017-10-07 05:31] NoralK opened #4517 "Documentation error for QR Code generation"
## Issues with Existing Topic

[Enabling QR Code generation for authenticator apps in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-enable-qrcodes)

Great article!  I did find two issues.

**First issue**

In the **Adding QR Codes to the 2FA configuration page** section change:

Views\Account\Manage\EnableAuthenticator.cshtml (MVC)

to

Views\Manage\En

[2017-10-07 06:17] Rick-Anderson commented on #4516
From: Daniel Roth

Den, when we get API refs setup for ASP.NET Core will we also get F1 support? Or do we have to do additional work?

From: Gordon Hogenson

OK – here is the feedback bug. I assigned it to Dan Roth:

https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems?id=437117&_a=edit

From: Den Delimarschi

I am meeting with Dan about this tomorrow – ASP.NET Core does not yet pub

[2017-10-07 18:00] scottaddie commented on #4517
@NoralK Thank you for reporting this issue! I've created a pull request to address it.

[2017-10-08 04:30] danroth27 opened #4520 "Update title of "ASP.NET Web API Help Pages using Swagger" article"
To avoid confusion with the "ASP.NET Web API" framework, let's change the title of [ASP.NET Web API Help Pages using Swagger](https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-help-pages-using-swagger?tabs=visual-studio) to "ASP.NET Core Web API Help Pages using Swagger"

[2017-10-09 06:29] eriawan commented on #3474
@scottaddie you're welcome 🙂

[2017-10-09 08:32] zuckerthoben commented on #4258
I finished the raw articles. Please review the general content layout. I will then finalize and push the PR.

Main article:
https://github.com/zuckerthoben/Docs/blob/master/aspnetcore/tutorials/web-api-help-pages-using-swagger.md

Sub articles:
Swashbuckle: https://github.com/zuckerthoben/Docs/blob/master/aspnetcore/tutorials/getting-started-with-swashbuckle.md
NSwag: https://github.com/zuckerthob

[2017-10-09 09:50] RSuter commented on #4258
@danroth27 @rynowak  Changing it to use ApiExplorer should not be that big of an effort itself (the code change) - the problem are all the dependencies (i.e. create new packages), support for legacy Web API, ASP.NET Core 1.0/1.1/2.0 and command line support...

[2017-10-09 18:10] Tratcher opened #4523 "New docs for WS-Federation auth"
1. Write a **short** paragraph describing what the topic will cover.
WsFederation is a new authentication handler that has been ported from Microsoft.Owin / ASP.NET 4.5. It is being released out of band against ASP.NET Core 2.0.0 dependencies. See https://github.com/aspnet/Security/issues/1473.

2. Write an outline of the proposed topic contents.
There should be a walk through similar to these: ht

[2017-10-09 18:12] KoalaBear84 commented on #4523
Has this any relation to SAML 2.0? That's what I'm currently waiting for to be able to use .NET Core 2.0. Thanks!

[2017-10-09 18:16] Tratcher commented on #4523
Like these? They're included.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/System.IdentityModel.Tokens.Saml/Saml2SecurityTokenHandler.cs

[2017-10-09 18:17] KoalaBear84 commented on #4523
Thanks, I will look into it! :)

[2017-10-09 19:05] Rick-Anderson commented on #4258
@scottaddie  can you review the raw articles?

[2017-10-09 19:33] RSuter commented on #4258
Hi everyone,

I'm the developer of NSwag and here are my 50 cent.

Main article:

- Intro:
	- "two popular Swagger .NET implementations": What exactly is implemented? I think we should write about the difference between Swagger generation, Swagger UI and code generation (main use cases for Swagger) and that we are talking here mainly about Swagger generation?

- What is Swagger?
	- Maybe we should

[2017-10-09 19:48] #4520 closed

[2017-10-09 21:41] Rick-Anderson opened #4526 "Search scope not working on EF Core docs"
see https://github.com/aspnet/EntityFramework.Docs/issues/514

[2017-10-09 22:04] Rick-Anderson commented on #4526
Also we should update the links to the EF Core API refs.

![image](https://user-images.githubusercontent.com/3605364/31360407-f5dc049a-ace9-11e7-97b7-9d8b26706dd7.png)

I think a couple things need to be done:
https://docs.microsoft.com/en-us/ef/core/

1.	The yellow highlighted API Reference above  goes to  https://docs.microsoft.com/en-us/ef/core/api/
It should go to https://docs.microsoft.com/en

[2017-10-09 23:11] Rick-Anderson opened #4527 "Point to new API from TOC"
fixed in #4518

[2017-10-09 23:11] #4527 closed

[2017-10-09 23:30] Rick-Anderson opened #4528 "Fix Getting Started with ASP.NET Core"
Snippet doesn't show changes. Also, remove the extra folder, no need for that.
Open Pages/About.cshtml and modify the page to display the message "Hello, world! The time on the server is @DateTime.Now":

see https://github.com/aspnet/Docs/pull/4521

[2017-10-10 00:52] Rick-Anderson opened #4529 "Deliverables for Connect"
[Connect ](https://www.microsoft.com/en-us/connectevent) November 15-17, 2017 and https://blogs.microsoft.com/?p=52547458

What is the ASP.NET team:

- [ ] Releasing
- [ ] Blogging ( @glennc )
- [ ] Sessions delivered
- [ ] Primary message

@danroth27  can you help me with the connect content plan?
cc @rachelappel  @scottaddie

[2017-10-10 03:03] #4517 closed

[2017-10-10 03:03] #4513 closed

[2017-10-10 13:48] zuckerthoben commented on #4258
* So I would ref to the comparison table in the intro, I guess?
* I can insert the WDSL comparison.
* If we get the "What is Swagger used for" chapter and sub chapters lined out properly I can change it to that.

[2017-10-10 15:26] scottaddie commented on #4258
@zuckerthoben Thank you for your help with this topic! Please submit a PR to this aspnet/Docs repo, and I'll review what you've done ASAP. It will be much easier to collaborate that way.

[2017-10-10 15:39] BillWagner commented on #4509
I would probably ask here: https://github.com/dotnet/standard/issues  But, @terrajobst may have a better repo for the request.

[2017-10-10 16:52] Vinhaman commented on #3255
I've spent over half a day trying to make my Session Management using the Redis Cache on our .Net Core 1.1 Application. I'm still not doing it on the web farm because it still fails on my Dev Machine with the following:
 ...
            var connectCS = Configuration["ConnectionsString:CS_RedisCache"];
            var redis = ConnectionMultiplexer.Connect(connectCS);
            services.AddDataPro

[2017-10-10 17:39] danroth27 opened #4530 "Update Windows Auth article for ASP.NET Core 2.0"
Looks like the Windows Auth article still refers to WebListener, which was renamed to HttpSysServer in 2.0:

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth

[2017-10-10 18:37] Rick-Anderson commented on #4526
fixes

[2017-10-10 18:37] #4526 closed

[2017-10-10 21:37] scottaddie opened #4534 "SEO: Add missing description metadata"
Many of the authentication and authorization docs have empty values for the description metadata field.

[2017-10-10 21:37] Rick-Anderson opened #4535 "Low CSAT-HPV tutorials/first-web-api"
- [x] MVC and edit pass to improve CSAT
- [x] #4678 It's not clear how the routing relates to the HttpGet attributes and what the Name= param does.
- [x] #1380 Decorate public IEnumerable GetAll() with [HttpGet] so it works with Swagger
- [x] #3076

[Create a web API with ASP.NET Core and Visual Studio for Windows](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api)

[2017-10-11 17:24] #3767 closed

[2017-10-11 22:09] terrajobst commented on #4509
@Rasmustof, seems like this is a request for the `System.Char` type. Feel free to file it under https://github.com/dotnet/corefx. However, I don't think this is a super likely API for us to add because (1) the workaround for latin languages is fairly trivial (2) doing it in the platform with proper unicode support might be non-cheap (3) seems like a fairly narrow scenario. That being said, I can b

[2017-10-12 01:38] scottaddie commented on #4509
Moved to https://github.com/dotnet/corefx/issues/24593

[2017-10-12 01:38] #4509 closed

[2017-10-12 03:23] guardrex commented on #4534
I have the group done for the *security/dataprotection/configuration* group of topics. I plan to have it in tomorrow (Thursday morning or early afternoon).

[2017-10-12 17:06] Rick-Anderson opened #4543 "Add Bind to Razor Pages samples"
@rynowak  can you provide me with a sample to prevent over-posting?

[2017-10-12 17:13] Rick-Anderson opened #4544 "mvc/razor-pages fix UseInMemoryDatabase"
UseInMemoryDatabase API has changed (remove name)

[2017-10-12 17:29] richardspence opened #4545 "important! Spam link on https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/recommended-resources-for-mvc"
The topic found [here](https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/recommended-resources-for-mvc)

Has this link [ASP.NET MVC Quick Guide](http://qkview.com/techbrij/aspnet-mvc-4) but the destination is now a spam link talking about improving pc performance.

Either remove the link or fix the target blog if owned

[2017-10-12 17:37] guardrex commented on #4545
Thanks @richardspence ... if they want it removed, that'll do the trick.

[2017-10-12 17:41] #4545 closed

[2017-10-12 17:45] guardrex commented on #4545
@richardspence Cool ... so it's just something that can be removed. You probably saw the "Edit" button on these topics. If you need to make a quick (small) change, you don't even need to open an issue ... just shoot in a PR. If you need to chat with devs about the process for working on larger changes, most of us hang out on Slack. Hit us up anytime! Self-signup is at: http://tattoocoder.com/aspne

[2017-10-12 18:53] BlanketGuy opened #4547 "NPM dependencies stop working"
I've been having a lot of trouble with the dependencies when creating a project with the Angular template on VS 2017.
First I had to install all the npm packages one by one, and some of them stopped working out of the blue.
Every time I fix something and re-open the project, something else stops working. Anyone else had this problem? How did you solve it?

[2017-10-12 19:45] scottaddie commented on #4547
Moved to https://github.com/aspnet/templating/issues/61

[2017-10-12 19:45] #4547 closed

[2017-10-12 20:41] #4510 closed

[2017-10-12 22:27] guardrex commented on #4281
@Rick-Anderson Referring to what I reorganized from the call, the first two will be combined and the last two will be combined ...

| Titles | Subjects | Sample |
| --- | --- | :---: |
|*Razor Page conventions for authorization filters in ASP.NET Core* | `AllowAnonymousToPage`, `AllowAnonymousToFolder`, `AuthorizePage`, `AuthorizeFolder` | 1 |
| *Customizing the Razor Pages page model provider in

[2017-10-12 23:09] guardrex commented on #4281
Cool ... here we go then ...

| Titles | Subjects |
| --- | --- |
|*Razor Page authorization and model provider in ASP.NET Core* | `AllowAnonymousToPage`<br>`AllowAnonymousToFolder`<br>`AuthorizePage`<br>`AuthorizeFolder`<br>`IPageApplicationModelProvider` |
| *Razor Page custom routes and model provider in ASP.NET Core* |  `AddPageRoute`<br>`IPageRouteModelProvider` |

Each with its own sample. I

[2017-10-13 00:27] DamianEdwards opened #4551 "Localization doc incorrectly states that Localization.AspNetCore.TagHelpers package is required to use IViewLocalizer"
The loc doc currently has a passage in the section about using `IViewLocalizer` titled "Notes" that states that the *Localization.AspNetCore.TagHelpers* is required in order to use `IViewLocalizer`. This isn't true, and that package isn't even owned or published by the ASP.NET Core team, so I'm not sure why it's even mentioned in the official docs in this manner.

We should remove the reference to

[2017-10-13 00:27] DamianEdwards commented on #4551
@RickAndMSFT

[2017-10-13 01:01] ctolkien opened #4552 "Docs Request: Tag Helper Components"
## Requests for new Topics

This is a feature which was briefly outlined in [this post](https://blogs.msdn.microsoft.com/webdev/2017/08/25/asp-net-core-2-0-features-1/), however I could find no mention of it in the official docs.

Suggest it goes in under the existing Tag Helper TOC.

cc @guardrex

[2017-10-13 01:03] guardrex commented on #4552
Dup of https://github.com/aspnet/Docs/issues/4033 https://github.com/aspnet/Docs/issues/3662

[2017-10-13 01:04] ctolkien commented on #4552
Well... :poop:

[2017-10-13 01:04] #4552 closed

[2017-10-13 02:05] Rick-Anderson opened #4555 "Improve CSAT on aspnetcore/tutorials/index.md"
TOC too cumbersome.

[2017-10-13 02:22] #4551 closed

[2017-10-13 02:38] Rick-Anderson opened #4556 "New topic: Web API + authentication and authorization"
We've had several [customer requests for this](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?hubRefSrc=email&utm_source=lfemail&utm_medium=email&utm_campaign=lfnotification#lf-content=177016560:743571877&reply_editor=true).
Related: Topic: how to set up authentication for ASP.NET Core Web API with ADFS #3845

[From Web API tutorial](https://docs.microsoft.com/en-us/aspnet/co

[2017-10-13 03:03] Rick-Anderson opened #4557 "Update Getting Started with ASP.NET MVC 5 to VS 2017"
The series [Getting Started with ASP.NET MVC 5](https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/) needs to be updated to VS 2017

[2017-10-13 03:05] Rick-Anderson opened #4558 "CSAT: improve Getting Started with ASP.NET MVC 5 series"
[Getting Started with ASP.NET MVC 5](https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/)

- [x] Point to new series. Fixed by [this commit](https://github.com/aspnet/Docs/commit/e9bd53f53c0ba148343cd2057c714a7c72ee81e9)
- [ ] Update to VS 2017 #4557
- [ ] Add localized version

[2017-10-13 03:08] Rick-Anderson opened #4559 "CSAT: improve fundamentals/configuration "Configuration in ASP.NET Core""
HPV good CSAT but dropping last few months.

[2017-10-13 04:41] Rick-Anderson opened #4560 "Fix bookmarks"
bookmarks are missing '""', for example

that in file dependency-injection.md contains the content: [Options Model](configuration.md#options-config-objects) whose bookmark is invalid in file configuration.md’s output page.
If you check the content in configuration.md you can find there’s some content like the following shows:
`<a name=options-config-objects></a>`
I guess the purpose is that user w

[2017-10-13 12:02] guardrex commented on #3273
@blowdart @Rick-Anderson I looked at this for #4549.

The list pertains to this line from the topic ...

i.e., "detect[ion] ... [and] ... configuration [without dev attention]."

These statements are written from the app's/DP's perspective ... what the app can and can't do on its own for key management ... not from the developer's perspective. It isn't currently written as a list of all of the way

[2017-10-13 13:10] spottedmahn opened #4563 "Diagram for Custom Policy-Based Authorization"
## General
I think it would be handy to have some type of diagram for [custom policy-based authorization](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies).  I think this would help people get up to speed quicker.

## Requests for new Topics

1. A diagram to help convey the architecture.

2. Write an outline of the proposed topic contents.

3. Where would you put the to

[2017-10-13 13:55] joshbartley commented on #3273
Thanks @guardrex Expanding on the documentation will be good. I just know a few people on the enterprise side look at these docs for on-premise enterprise deployments and that causes some friction in adoption on those environments. I know it caused me some trouble trying to get something going when I didn't have a local Redis server available. Thanks!

[2017-10-13 13:58] scottaddie commented on #4563
@danroth27 @HaoK Thoughts?

[2017-10-13 14:36] bryanwrightscode opened #4565 "Broken link in #callfromoutsidehub code"
- Topic:

https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/hubs-api-guide-server#callfromoutsidehub

This topic describes using outside classes to call client methods outside a hub class. It references a Stock Ticker example. In a code snippet, a link to source code for this example is provided. The link directs to an error page stating "The page you are looking for is not

[2017-10-13 14:40] #4565 closed

[2017-10-13 16:27] spottedmahn opened #4566 "Last Build Report URL?"
I just submitted a PR and I got a [build report,](https://opbuildstorageprod.blob.core.windows.net/report/2017%5C10%5C13%5C6a0d29ae-bb37-09f1-c55a-4cfa862c6784%5CPullRequest%5C201710131248087361-4562%5Cworkflow_report.html?sv=2015-02-21&sr=b&sig=GbG0qgcJNtJMXYbbzHZqcp2BJNdAKtUYmbwoSscw5IY%3D&st=2017-10-13T12%3A50%3A41Z&se=2017-11-13T12%3A55%3A41Z&sp=r) very cool.  That got me thinking, is there a

[2017-10-13 19:39] jkotalik opened #4568 "Add HttpsRedirection and Hsts middleware documentation"
We just added a new set of middleware (https://github.com/aspnet/BasicMiddleware/pull/264) that will Redirect HTTP to HTTPS and Add the Strict-Transport-Security header to HTTPS responses. We need documentation by 2.1 for this. It should be straightforward. I can write a draft for the documentation.

This would go in the ["Enforcing SSL"]( https://github.com/aspnet/Docs/blob/master/aspnetcore/secu

[2017-10-13 19:40] guardrex commented on #4560
... because apparently DocFX isn't really following HTML specs. Unquoted attribute values that have values without spaces have been supported since HTML 2.0, so these should work fine for browsers.

[2017-10-13 20:50] #4560 closed

[2017-10-13 21:19] scottaddie commented on #4568
@jkotalik Please let me know when the draft is ready, and I'll work with you to get it published.

[2017-10-14 05:07] danroth27 commented on #4563
@blowdart Thoughts?

[2017-10-15 00:43] isaac2004 commented on #3579
@Rick-Anderson you can write a little app that goes to the file with WebClient and capture the HttpResponse. That would have the redirect location in it. Sorry if that is not what you are asking.

[2017-10-15 01:00] isaac2004 commented on #4556
is this only available with Identity Server 4? or is there something built-in now?

[2017-10-15 02:07] scottaddie commented on #3593
Fixed by #4241

[2017-10-15 02:07] #3593 closed

[2017-10-15 02:18] Rick-Anderson commented on #3579
@isaac2004  that would be robust way of checking the links but I think spot checking should be good for now.,

[2017-10-15 02:36] isaac2004 commented on #3579
@Rick-Andersononly issue with spot checking 90 files is the time it takes. Maybe meta this issue and break it out into smaller sections?

[2017-10-15 06:20] guardrex commented on #4281
@pranavkm I pinged u on Slack (a DM) with a quick question. https://aspnetcore.slack.com

[2017-10-16 18:24] blowdart commented on #4563
Diagrams work. It'd be interesting to try to diagram that any handler can pass to fulfilled by a requirement, but all requirements must to fulfilled to pass a policy.

[2017-10-16 18:33] Rabadash8820 opened #4575 "Describe how to call generic methods in .cshtml Razor files"
## Background

I came upon this problem while trying to call `Assembly.GetCustomAttribute<T>()` in one of my Razor files.  Since C# generics use brackets (`<>`), the Razor compiler seemed to think that the call was an HTML tag.  Some googling led to posts like [this one](https://stackoverflow.com/questions/4253224/how-to-use-generic-syntax-inside-a-razor-view-file) on SO and [this one](https://for

[2017-10-16 18:51] Rabadash8820 commented on #4575
Okay I'm still a little new to PRs.  I accidentally deleted the branch on the PR above too soon; it should not be considered closed yet!

[2017-10-16 18:57] Rick-Anderson commented on #4575
@Rabadash8820  Are you offering to write that. That would be great and we can get it reviewed.

[2017-10-16 19:00] Rabadash8820 commented on #4575
@Rick-Anderson Yep, see the referencing PR!

[2017-10-16 22:00] #4555 closed

[2017-10-16 23:25] #4575 closed

[2017-10-17 17:41] Rick-Anderson opened #4580 "Deploy ASP.NET RP app with DB to Azure, dev on Mac & Windows VS"
- [ ] Create an ASP.NET Core Razor Pages app + DB
- [ ]	Use GitHub with VS
- [ ]	Develop with VS Windows and VS Mac
- [ ]	Deploy to Azure using VS
- [x]   appSettings.json to set local DB
- [x]    Demo config settings

[2017-10-18 02:10] rachelappel commented on #4528
@Rick-Anderson Which snippet doesn't show which changes?

[2017-10-18 02:46] Rick-Anderson opened #4590 "mvc/views/overview "Views in ASP.NET Core MVC""
Update [Views in ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/overview) to Razor Pages (RP)

[2017-10-18 05:01] Rick-Anderson commented on #4528
https://docs.microsoft.com/en-us/aspnet/core/getting-started

[2017-10-18 17:58] Rick-Anderson opened #4597 "Fix configure the TempData provider"
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state

Session is configured in 2.x

[2017-10-19 17:28] Rick-Anderson commented on #4556
@danroth27 can you assign someone to write a sample and outline the topic?

[2017-10-19 18:24] #4528 closed

[2017-10-19 23:13] Rick-Anderson opened #4606 "Explain return Page()"
Per customer:
OnGet of IndexModel does not return Page() but its page is still rendered and populated with a list of Movie (if any). So what does the return Page() mean? I am totally a newbie.

From https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/page

Per Ryan

return Page() is the default behavior. This is meant for cases where you don’t do any control flow and just want to se

[2017-10-20 20:15] #3273 closed

[2017-10-21 19:37] guardrex commented on #4281
@pranavkm Here's the current outline. I have a final (important) question on how much theory this topic should have at the bottom of this comment.

Title: *Razor Pages custom route and page model providers in ASP.NET Core*

* Introduction
  * A few lines that explain the subject of the topic.
  * **TBD** *Theory of models and providers*
  * Link to the sample app. List the features that the sample

[2017-10-22 08:21] guardrex commented on #1291
@Rick-Anderson I'll have an outline for this shortly.
* Where do you want this in the TOC? It doesn't just apply to watching config files ... you can watch *any kind of file* and execute code on a file change, so it's fundamental feature.
* Title? *Detect file changes with ChangeToken in ASP.NET Core*

[2017-10-22 09:03] guardrex commented on #2810
@Rick-Anderson
* Would you like this as a sub-topic to *fundamentals/logging.md* in the TOC?
* Title? :racing_car: *High-performance logging with LoggerMessage in ASP.NET Core* :racing_car:

[2017-10-22 09:30] guardrex commented on #4232
@Rick-Anderson I can take a crack at the sample for this. I'm more familiar with the MVC approach, but I'd like to see how that translates to a RP app. If I do it (and likely run into trouble in the process), it might highlight some pitfalls that need to be covered in the topic. I just need a dev team member on the other end of the *Dinosaur Disaster Hotline*:tm:.

We're doing this as a ref topic,

[2017-10-23 20:59] guardrex commented on #1291
@divega @HaoK @Tratcher @Rick-Anderson @scottaddie

### Metadata

Title: *Detect changes with ChangeToken in ASP.NET Core*
TOC Title: *Detect changes with ChangeToken*
UID: *\<location>/change-token*

### TOC

This is a primitive feature (`Microsoft.Extensions.Primitives`). I think it's the first such low-level feature to have its own topic. Two options leap to mind:
1. Place it into *fundamentals

[2017-10-23 23:08] Rick-Anderson opened #4619 "HPV low CSAT: Getting Started with ASP.NET MVC 5"
[Getting Started with ASP.NET MVC 5](https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/)

per wade:

- [ ] Schedule localized version. (email sent Oct 19, 30)
- [ ] Improve navigation to new topics.
- [ ] adding some text indicating some benefits of ASP.NET Core + VS 2017

•	This tutorial series is an older but supported version using MVC 5.  Some of the traffic red

[2017-10-23 23:59] Rick-Anderson commented on #4543
Bug in binding slows this down. see https://github.com/aspnet/Mvc/issues/6944

[2017-10-24 00:56] Rick-Anderson commented on #2810
@guardrex  sounds good. cc @scottaddie

[2017-10-24 00:57] #4597 closed

[2017-10-24 01:00] Rick-Anderson commented on #1291
@HaoK @Tratcher can one of you approve the outline?

I like *fundamentals/primitives/change-token*
@scottaddie  - where should it go?

[2017-10-24 01:07] guardrex commented on #1291
The only thing that concerns me :point_up: is the use of "Primitives" as the TOC title. We want ppl to see the ChangeToken topic, and I don't think that name gets us there.

Let's brainstorm ... "Primitive features" ... "Fundamental features" ... "Building blocks" (as @divega mentioned) ... but if u really want to get some **clicks** ... "Primal features" ... everyone will click that. lol

[2017-10-24 07:24] HappyMiner opened #4624 "Docs/aspnetcore/security/authorization/secure-data/samples/final/ not compiling under .net core 2.0"
Hi,

I am currently trying to learn Authorization in .net core 2.0 and I am also new to .net in general.

Today I found:

https://docs.microsoft.com/en-us/aspnet/core/security/authorization/secure-data

https://github.com/aspnet/Docs/tree/master/aspnetcore/security/authorization/secure-data/samples/final

I tried to compile the "final example", but got several issues:

Not compatible with core 2.0

[2017-10-24 09:28] HappyMiner commented on #4624
I have been struggling a couple of hours now trying to get this example to run. Found something that seems to be related to this issue and tried to set `!isAuthorizedRead.Succeeded`, since this at least returns the required bool: https://github.com/aspnet/Security/issues/1343

I have (blindly) changed all offenders to this and at least now the code compiles to a point where I can apparently initia

[2017-10-24 15:52] Tratcher commented on #2384
https://github.com/aspnet/Security/issues/1508

[2017-10-24 17:39] scottaddie opened #4625 "Address customer feedback in security/authorization/limitingidentitybyscheme"
See the Livefyre comment regarding the incorrect "Cookie" scheme used in the `[Authorize]` attribute. Eliminate magic strings where possible.

[2017-10-24 18:23] scottaddie commented on #3389
@mrbullwinkle Are there any updates to provide on this? Anything you need from me?

[2017-10-24 20:27] scottaddie commented on #1291
@Rick-Anderson @guardrex I also vote for **fundamentals/primitives/change-token**. I like the word "primitives" only because it matches the namespace in which `ChangeToken` is found.

[2017-10-24 21:20] HaoK commented on #1291
Outline looks good to me

[2017-10-25 02:45] scottaddie opened #4627 "API Ref High traffic Low CSAT: ConfigurationManager.AppSettings"
The `ConfigurationManager.AppSettings` API reference receives very high traffic, but people aren't finding what they need. We'll update it, point to the relevant examples, and improve the experience.

[2017-10-25 16:39] mrbullwinkle commented on #3389
@scottaddie it is on my internal VSTS board and I had originally planned to have it done this month. It got bumped by a few other tasks that I had not anticipated. I have two days blocked out next week to start working on this. I will send you an update 11/3 which I am tentatively targeting to have a first draft for your feedback/review.

[2017-10-25 20:09] #4625 closed

[2017-10-25 20:35] #4281 closed

[2017-10-26 16:30] #4530 closed

[2017-10-26 17:24] Gavvers commented on #3352
@Tratcher your `BackgroundTaskService` does not really touch the passed in `CancellationToken` except in StopAsync(), whereas @davidfowl used

`CancellationTokenSource.CreateLinkedTokenSource(cancellationToken)`

in his implementation.

Is this an example of one of those threading/cancellation issues you mentioned upthread?

[2017-10-26 17:27] Tratcher commented on #3352
What other token am I missing? The one from StartAsync? That one is not relevant in this scenario, the service starts instantly.

[2017-10-26 18:09] scottaddie opened #4630 "Address Livefyre comment regarding AuthenticationOptions base class in 2.0"
https://docs.microsoft.com/aspnet/core/migration/1x-to-2x/identity-2x#authentication-middleware-and-services

The **Setting Default Authentication Schemes** section of the doc referenced above contains the inline Livefyre comment to be addressed.

[2017-10-26 19:37] scottaddie opened #4632 "Update VS Tools for Docker to 2.0"
https://docs.microsoft.com/aspnet/core/publishing/visual-studio-tools-for-docker

Per Shayne:
- need to update the docker file to show the multistage build format etc
- and the compose formats
- other than that it's still good

[2017-10-26 19:47] scottaddie commented on #4632
@JRAlexander Let me know if you'll have time to make the updates. If not, I'll handle it.

[2017-10-26 20:09] Rick-Anderson commented on #4529
@danroth27  can list the ASP.NET teams connect plans?
@glennc  will you be blogging for connect?

[2017-10-26 21:45] Rick-Anderson commented on #4630
@scottaddie  I couldn't find the comments. Next time can you copy/paste them into the issue.

[2017-10-27 00:53] scottaddie commented on #4630
@Rick-Anderson No problem. I've included the comment above.

[2017-10-27 01:08] scottaddie opened #4636 "Address "View Based Authorization" verbatim"
https://docs.microsoft.com/aspnet/core/security/authorization/views

The following comment was submitted on 10/16/17:

[2017-10-27 05:09] #4636 closed

[2017-10-27 12:42] hishamco opened #4641 "Arabic Docs"
Where's Arabic Docs? From few months ago I tweeted to take the initiative to translate the docs into Arabic, and someone from the team replied to me that he will will email me, from that time I didn't get any respond

Is there possibility to create an Arabic Docs?!! so I can start to translate to

/cc @Rick-Anderson @scottaddie

[2017-10-27 13:31] isaac2004 commented on #3579
@Rick-Anderson @scottaddie I am starting on this today

[2017-10-27 13:44] isaac2004 commented on #3579
It looks like the samples here
https://docs.microsoft.com/en-us/aspnet/aspnet/overview/owin-and-katana/katana-samples

Have not been moved to this repo yet, they are still on CodePlex. Should I move forward with moving them over, or should they be reviewed/updated first

[2017-10-27 14:44] isaac2004 commented on #4393
@rachelappel are the only changes needed are changing the VS screenshots and  the link to .NET Core to https://www.microsoft.com/net/download/core

[2017-10-27 14:45] isaac2004 commented on #4237
@scottaddie so everything in The migration folder needs to be updated/version agnostic

[2017-10-27 14:46] isaac2004 commented on #3873
@Rick-Anderson @scottaddie comments?

[2017-10-27 14:50] isaac2004 commented on #3655
@Rick-Anderson what is the expected goal here? A new doc that showcases the SPA Templates? a set of how-to guides on using each template? (I know there are a few other issues that are similar).

Maybe adding a new section for SpaServices documentation?

[2017-10-27 18:22] Rick-Anderson commented on #4641
@nokura please reply

[2017-10-27 18:23] Rick-Anderson commented on #3579
@terrimorton  do you have a contact for this?

[2017-10-27 18:28] Rick-Anderson commented on #3873
@isaac2004
I would update the article with a note at the top saying something like

The article was written before App Insights was released. App Insights is the preferred approach for telemetry on Azure. See the following links for more information:

* link 1
* link 2

[2017-10-27 18:37] Rick-Anderson commented on #3655
@isaac2004  this can be closed. Duplicate of #3771 and #3543

[2017-10-27 18:37] #3655 closed

[2017-10-27 19:18] isaac2004 commented on #3873
@Rick-Anderson PR opened

[2017-10-27 19:34] scottaddie commented on #4237
Paging @danroth27. Looking for input on what you'd like to see here.

[2017-10-27 19:45] #3873 closed

[2017-10-27 19:45] danroth27 commented on #4237
How about something like this for the [migration](https://docs.microsoft.com/en-us/aspnet/core/migration/) node:

Migrating from ASP.NET to ASP.NET Core
- Migrating from ASP.NET MVC to ASP.NET Core
- Migrating Configuration
- Migrating from ASP.NET Web API to ASP.NET Core
- Migrating HTTP Modules to Middleware

Migrating from ASP.NET Core 1.x to 2.0
- Migrating from ASP.NET Core 1.x to 2.0
- Migra

[2017-10-27 19:46] guardrex commented on #2810
@Rick-Anderson @scottaddie Proposal for this topic ...

Title: *High-performance logging with LoggerMessage in ASP.NET Core*
TOC: sub-topic to *fundamentals/logging.md*

#### Outline

* Introduction
   * `LoggerMessage` feature description (1-2 sentences)
   * Sample link
* Describe `LoggerMessage.Define` and `LoggerMessage.DefineScope`
* Illustrate `LoggerMessage.Define` using the sample
* Illust

[2017-10-27 19:49] Rick-Anderson commented on #2810
@BrennanConroy  @glennc  can you review the outline? LGTM.

[2017-10-27 19:54] Rick-Anderson commented on #4563
@spottedmahn  are you able to write this document? If so, what can we do to help?

[2017-10-27 20:47] Rick-Anderson opened #4648 "Fix links"
Some [build reports](https://opbuildstorageprod.blob.core.windows.net/report/2017%5C10%5C13%5C6a0d29ae-bb37-09f1-c55a-4cfa862c6784%5CPullRequest%5C201710131248087361-4562%5Cworkflow_report.html?sv=2015-02-21&sr=b&sig=GbG0qgcJNtJMXYbbzHZqcp2BJNdAKtUYmbwoSscw5IY%3D&st=2017-10-13T12%3A50%3A41Z&se=2017-11-13T12%3A55%3A41Z&sp=r) list these.
Fix the following links:
- [ ] `[Pipeline branching](../fundam

[2017-10-27 21:05] Rick-Anderson opened #4649 "fix links"
Some [build reports](https://opbuildstorageprod.blob.core.windows.net/report/2017%5C10%5C13%5C6a0d29ae-bb37-09f1-c55a-4cfa862c6784%5CPullRequest%5C201710131248087361-4562%5Cworkflow_report.html?sv=2015-02-21&sr=b&sig=GbG0qgcJNtJMXYbbzHZqcp2BJNdAKtUYmbwoSscw5IY%3D&st=2017-10-13T12%3A50%3A41Z&se=2017-11-13T12%3A55%3A41Z&sp=r) list these.
Fix the following links:

Illegal link: `[dependency injection

[2017-10-27 21:14] Rick-Anderson opened #4651 "Fix links"
- [x]	aspnetcore/security/data-protection/extensibility/core-crypto.md	Illegal link: `[automatic key rolling](../implementation/key-management.md#data-protection-implementation-key-management)` -- missing bookmark. The file security/data-protection/implementation/key-management.md doesn't contain a bookmark named data-protection-implementation-key-management.	Postprocess.HandlePostProcessorsWithIn

[2017-10-27 21:21] Rick-Anderson commented on #4566
@spottedmahn  that's a good idea. The build reports are super sporatic on what they report. The goal right now is to fix all the bad links.

See #4651  #4649 #4648
Feel free to fix a few links and check them off (for example in #4651)
They are easy to fix in the browser edit. A good way to get lots of commits.

Thanks for reporting this, I haven't seen a good build report in awhile.

[2017-10-27 22:17] javiercn opened #4652 "Document improved support for in memory end to end testing of MVC apps"
We need to cover:
* Setting up a project for testing an MVC application in memory using TestServer and the new Microsoft.AspNetCore.Mvc.Testing package.
* How to customize the IWebHostBuilder instance from the app for testing.
    * How to override configured services on the application for testing. (e.g the database).
* How to configure where to find views and static files.

[2017-10-27 22:24] BrennanConroy commented on #2810
👍

[2017-10-28 15:03] cwoodruff commented on #4556
I can do it and have talked to @scottaddie about it

[2017-10-28 15:07] scottaddie commented on #4556
@danroth27 Do you have an outline in mind, or should @cwoodruff take a shot at that?

[2017-10-29 04:57] guardrex opened #4655 "Mention the opt-in support for binding props OnGet in RP topic?"
In the [RP topic](https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages), non-binding props on GET requests is mentioned in passing ...

It could add the opt-in property requirement for binding on GET requests:

[code]

... and then mention that there are security considerations for doing so.

The default behavior was confusing for a dev who needed prop binding on GET: https://youtu.be/p7iH

[2017-10-29 17:58] guardrex opened #4657 "Inline code rendering: Is it toooo blockish and distracting ??"
A quick style question for the team and community. I'll close this very shortly, but I'd like to hear if there's any agreement and possibly any interest in action on it. @dend ... is this in your wheelhouse?

Is everyone happy with the rendering of "blocky" inline code?

The padding (3px 7px) is extreme, which results in rather large elements that over-emphasize the inline code content and break u

[2017-10-29 18:31] #4657 closed

[2017-10-29 19:35] isaac2004 commented on #974
@Rick-Anderson is this still up-for-grabs

[2017-10-29 19:42] isaac2004 commented on #3772
@Rick-Anderson should this be a new doc or an added section to an existing one?

[2017-10-30 00:58] guardrex commented on #2810
@glennc @BrennanConroy Need a head-check on scopes config behavior:

1. I setup scopes, which I hadn't used before, so I didn't know what to expect for configuration.
2. I have `IncludeScopes` set to `true` in *appsettings* files.
3. I see that the logging config is handled by `WebHost`'s `CreateDefaultBuilder`: https://github.com/aspnet/MetaPackages/blob/dev/src/Microsoft.AspNetCore/WebHost.cs#L1

[2017-10-30 07:01] githubshubham90 opened #4659 "ASP.NET Core 2.0 & SignalR Core"
Hi,

I have created a sample application with SignalR and MVC Core. It is working fine. But I am unable to host this on the production. I have created signalr server using below code:
`class Program
    {
        static void Main(string[] args)
        {
            BuildWebHost(args).Run();
        }

        public static IWebHost BuildWebHost(string[] args) =>
            WebHost.CreateDefaultB

[2017-10-30 07:04] BrennanConroy commented on #4659
SignalR is not recommended for production use. We've only released Alpah2 so far.

As far as it not working in production, are you using Azure Web Apps? Websockets is disabled by default in that environment. Try enabling websockets in the settings.

And this issue does not belong in docs.

[2017-10-30 07:04] #4659 closed

[2017-10-30 07:12] githubshubham90 commented on #4659
I am not using Azure Web Apps.
So if SignalR is not recommended for production use, how can I achieve real time things in MVC Core 2.0. I have also tried to use Web Socket for this, but it's not working.
Please help me to implement real time things in MVC Core 2.0.

[2017-10-30 14:14] terrimorton commented on #3579
@Rick-Anderson I had brought this up with you guys back in April. Jon suggested creating an aspnetwebstack-samples repo in GitHub and migrating. Dan reached out to Eilon for input and that's where it was left.

[2017-10-30 14:57] isaac2004 commented on #4473
@Rick-Anderson

Do you want the View in this section *Inject the authorization service into the views* to be converted from MVC to Razor Pages?

[2017-10-30 15:21] spottedmahn commented on #4566
Hi @Rick-Anderson - glad u like the idea!

I've submitted a few PR's now.  I'm wondering how to check them off though?  I can't edit ur post...

[2017-10-30 15:31] scottaddie opened #4664 "Fix incorrect default Identity password requirements description"
https://docs.microsoft.com/aspnet/core/security/authentication/identity-configuration

Address the inline Livefyre comment regarding the alphanumeric requirement:

[2017-10-30 15:36] BrennanConroy commented on #2810
I believe `IncludeScopes` isn't working from configuration files in 2.0.0, but has been fixed in latest dev. Although it now lives under the specific logger, so your last example should work in 2.1.0-*

[2017-10-30 15:38] spottedmahn opened #4667 "Build Report JS Error: File not found: /report/Scripts/ExportReport.js"
[On this build report](https://opbuildstorageprod.blob.core.windows.net/report/2017%5C10%5C13%5C6a0d29ae-bb37-09f1-c55a-4cfa862c6784%5CPullRequest%5C201710131248087361-4562%5Cworkflow_report.html?sv=2015-02-21&sr=b&sig=GbG0qgcJNtJMXYbbzHZqcp2BJNdAKtUYmbwoSscw5IY%3D&st=2017-10-13T12%3A50%3A41Z&se=2017-11-13T12%3A55%3A41Z&sp=r), there is a JavaScript error: File not found: /report/Scripts/ExportRepo

[2017-10-30 15:51] #4664 closed

[2017-10-30 16:44] guardrex commented on #2810
@BrennanConroy Thanks. I'll make a small modification to the Logging topic to compensate for the time being. The current language doesn't call it out clearly.

@scottaddie @Rick-Anderson I'll add the update for the Logging topic to the `LoggerMessage` PR, which should be up soon. The sample is almost finished, and the topic is a one-day write-up. Should have it Tuesday ... Wednesday at the latest.

[2017-10-30 17:09] danroth27 commented on #4556
We certainly write topics about securing Web APIs using Azure AD, Azure AD B2C and ADFS. We should look first to see if there are existing Azure topics that we can just reference. For ADFS I suspect we'll need a new topic.

We don't currently have a story for issuing tokens from an ASP.NET Core app. For that you need to use something like IdentityServer4. Folks wanting to use IdentityServer4 with

[2017-10-30 17:19] spottedmahn opened #4670 "Allow Preview of Docs Changes to Outside World"
## General

I just got a build report, great.  There's a preview url, great.  When I try to view it though, I get

![image](https://user-images.githubusercontent.com/14079228/32185141-c5505f10-bd74-11e7-9b64-2c4a7059f2b2.png)

----

I assume it is only accessible to MSFT employees?  Can it be opened to all contributors?

[2017-10-30 17:30] scottaddie opened #4672 "Clarify warning message in "security/authorization/views""
https://docs.microsoft.com/aspnet/core/security/authorization/views

Clarify what is meant by the following warning message, as requested in a Livefyre comment from "Amanda_Iverson":

[2017-10-30 17:32] rachelappel commented on #4393
@isaac2004 Some text will have to be changed to match the updated screen shots. Also updated docs require SEO and MinVC content updates. Mostly it is screen shots but there are also a few adjustments in the steps too. Nothing too serious. I've been OOF for a while so I haven't gotten back to this yet.

[2017-10-30 17:42] guardrex commented on #4232
A few questions:

#### Question 1
The unit testing topic is tutorial-ish, and it doesn't do integration testing, which we'll have in this one. I was planning to write this topic as a reference topic with a sample. The other possibility would be adding a step to the RP tutorial (after the File Uploads step). Which way do u want to go? If this is going to be a RP tutorial step, then that answers my

[2017-10-30 17:56] Rick-Anderson commented on #4232
1. Write it as a ref topic.
2. No, this stays in our repro.
3. Yes, do the sample and outline.

[2017-10-30 17:58] Rick-Anderson commented on #4566
Just reply in the PR with what is fixed and I'll check it.

[2017-10-30 18:07] Rick-Anderson commented on #4473
@isaac2004
The entire app should be Razor Pages - so [Update the code to support authorization](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/secure-data#update-the-code-to-support-authorization) would be update the Razor Pages to support authorization, etc.

This tutorial was written for 1.x, where the seed method ran from Startup. Seed method now runs from Main.

[2017-10-30 18:07] spottedmahn commented on #4649
`aspnetcore/security/authorization/claims.md` fixed via PR #4660.  FYI, that item is in the build report but not in the list above.

[2017-10-30 18:08] spottedmahn commented on #4649
`aspnetcore/security/authorization/limitingidentitybyscheme.md` fixed via PR #4661

[2017-10-30 18:10] spottedmahn commented on #4649
the 2 issues w/ `aspnetcore/security/authorization/introduction.md` are fixed via PR #4662

[2017-10-30 18:10] Rick-Anderson commented on #3772
@isaac2004  a new app. cc / @scottaddie

[2017-10-30 18:13] Rick-Anderson commented on #974
@scottaddie is this issue still open? If so, it's up for grabs.

[2017-10-30 18:40] spottedmahn opened #4674 "Can't Checkout Repo - Filename too long"
I've tried cloning the repo using the GitHub desktop app but I'm receiving the following error:

Has anyone else already overcome this issue?

[2017-10-30 18:45] isaac2004 commented on #4473
@Rick-Anderson gotcha, in that case I will unlink that PR from this issue as rewriting that app is a little more work.

[2017-10-30 18:49] scottaddie commented on #974
This is still up for grabs. We should probably use something like "NewCoreMvcProject" for the namespace.

[2017-10-30 19:01] isaac2004 commented on #974
@scottaddie @Rick-Anderson since it seems like the whole migration section needs a reconfigure, maybe we add another doc to list provided by @danroth27 in #4237 and close this issue. New Doc would be regarding moving from ASP.NET Identity to new Context Providers. Thoughts?

[2017-10-30 21:12] danroth27 commented on #974
Looks like my list in #4237 was missing a migration topic for migrating from ASP.NET Identity to ASP.NET Core Identity. I've now added that. @isaac2004 does that cover the topic you wanted added, or were you thinking of something else? I'm not sure what you meant by the "new Context Providers".

[2017-10-30 21:49] isaac2004 commented on #974
@danroth27 no idea why I said context provider. Someone asked for some guidance on migration to new Core identity Schema and that isn't really documented. A section in the identity doc would suffice. I was curious about consolidating issues.

[2017-10-30 21:58] brandoncole commented on #2384
Thanks @nrandell - we were missing the
[code]

[2017-10-30 23:16] gzak opened #4677 "This overload appears to be missing in .NET Core 2.0, at least in a vanilla console app"
https://github.com/aspnet/Docs/blob/cd0f36ce9f3be0513692415d2ab1eeecfc48c598/aspnetcore/fundamentals/configuration/sample/IOptionsSnapshot2/Startup.cs#L73

I can't bind a poco options class to a subsection, i have to use the lambda syntax with a call to .Bind(), like so:

    serviceCollection.Configure<MyPoco>(opts => config.GetSection("MyPoco").Bind(opts));

But that's obviously more verbose, pl

[2017-10-30 23:16] CamSoper commented on #4580
@Rick-Anderson Are these multiple docs?  Or a single scenario?

[2017-10-30 23:44] Rick-Anderson commented on #4580
Craig Dunn &  Gordon Hogenson are driving this. The topic(s) may go in the Azure repo.

[2017-10-31 00:00] Rick-Anderson opened #4678 "Web API: explain how the routing relates to the HttpGet attributes and what the Name= param does"
[Create a web API with ASP.NET Core and Visual Studio for Windows](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api)

[per customer comment](https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-vsc?hubRefSrc=email&utm_source=lfemail&utm_medium=email#lf-content=189320334:748328523&reply_editor=true)
It's not clear how the routing relates to the HttpGet attributes and w

[2017-10-31 00:32] EisenbergEffect commented on #4670
@spottedmahn Thanks for bringing this up! Unfortunately, today the review site for PR content builds is behind a Microsoft employee login 😭 I wish it wasn't that way, but for the moment, we're a bit limited in what we can do there. We're working on a few alternate ways to enable external contributors to preview content. Those aren't ready yet, but they are progressing. For the moment, the best way

[2017-10-31 00:48] Rick-Anderson commented on #4558
dup of #4619

[2017-10-31 00:48] #4558 closed

[2017-10-31 00:50] #4619 closed

[2017-10-31 01:25] #4670 closed

[2017-10-31 01:28] scottaddie commented on #4677
Moved to https://github.com/aspnet/Configuration/issues/748.

[2017-10-31 01:28] #4677 closed

[2017-10-31 10:48] promillabutani opened #4683 "Child Specialist, Child Care Center, Hospital in South Delhi India"
## General

Dr.Promilla Butani,   a leading Pediatrician specialist doctor in Delhi. Child Care specialist   Doctor is essential to ensure that your child is healthy & disease-free. Visit Us: https://goo.gl/NvV6NY
--

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.
This template offers some sug
## General

We use issues to drive the discussion f