[2020-06-19 22:19] unaizorrilla commented on #18857
Hi @guardrex

IMHO code and samples explaining readiness and liveness are ok but the text:

will be improved!!! liveness is about app functioning without checking dependencies ( database, cache etc ... ) , only check if the container is running but not ensure request can be sent.  Unhealthy instances are restarted by orchestrators ( K8S, App Engine etc )

[2020-06-19 22:31] guardrex commented on #18857
Thanks @unaizorrilla ... then we only need to adjust the language and not the sample. If you don't mind, I'll ping u for a review of the PR.

@Rick-Anderson ... I'll work this ... It shouldn't take long.

[2020-06-20 00:32] #17216 closed

[2020-06-20 00:41] JasonCard commented on #18724
@guardrex Most articles were fixed, but I'm still following up on a few files. I also found there was [Blazor ToC updates](https://github.com/dotnet/AspNetCore.Docs/commit/d5b7249fd16715a045d0077d147341d95c7f17bf#diff-eb266db7614fc817a336219e758027af) today, so will need to wait for those updates to be synced in loc repos.

[2020-06-20 00:58] guardrex commented on #18724
Ok ... Thanks.  There's nothing for me to do here, as this seems to be an internal issue. Is it ok for me to close this, or is it better to leave this open for public tracking or other reason?

[2020-06-20 01:00] JasonCard commented on #18724
Yes, it's okay to close and I can update when it's all resolved.

[2020-06-20 01:00] #18724 closed

[2020-06-20 13:07] #18856 closed

[2020-06-20 14:21] hoksource commented on #16422
Good day, from what i understand,

`
services.AddDataProtection()
        .PersistKeysToAzureBlobStorage(new Uri("<blobUriWithSasToken>"))
        .ProtectKeysWithAzureKeyVault("<keyIdentifier>", "<clientId>", "<clientSecret>");
`

PersistKeysToAzureBlobStorage saves the identity cookie encryption and decryption keys to azure blob storage.

ProtectKeysWithAzureKeyVault encrypts the blob containing

[2020-06-20 17:59] guardrex commented on #18372
@JasonCard ... Code-fence package names, correct? For example ...

`Microsoft.AspNetCore.SignalR.Client`

[2020-06-20 18:16] JasonCard commented on #18372
@guardrex Yes, I agree.

[2020-06-20 18:31] guardrex commented on #18372
:smile: ...

[code]

... is rapidly becoming my favorite RegEx on this issue.

We've already gone a little bit down the slippery slope of styling link text. The manual says 'don't do it,' but we're likely going to need to in some cases if we don't use the `no-loc` metadata for a given topic. I caution against using `no-loc` in specific topics because that will eliminate the possibility of performi

[2020-06-20 19:17] Rick-Anderson commented on #18372
Unless there's a risk of over-localization, then do it. Same with hard coded file names like `wwwroot`.

[2020-06-20 19:18] guardrex commented on #18372
Yes, I'll continue with it. :point_up:

WRT bold and code-fencing, it seems ok.

Before:

<img width="192" alt="Capture" src="https://user-images.githubusercontent.com/1622880/85209823-92a6d380-b300-11ea-92b4-a1746173e9d8.PNG">

After:

<img width="173" alt="Capture1" src="https://user-images.githubusercontent.com/1622880/85209827-989cb480-b300-11ea-896b-036bfb65cb7e.PNG">

[2020-06-20 19:29] Rick-Anderson commented on #18372
How do you do bold code fenced?

[2020-06-20 19:59] CHOWYANYAN commented on #18372
？

    	******************************************DISCLAIMER NOTICE: This transmission may contain confidential information protected by law. The information is intended only for use consistent with the business stated and discussed in this transmission. If you are not the intended recipient, you are hereby notified that any disclosure, copying, distribution, or the taking of any action based on t

[2020-06-20 20:09] Rick-Anderson commented on #18851
Moved to Master issue: Use the React project template #16209

[2020-06-20 20:09] #18851 closed

[2020-06-20 20:23] guardrex commented on #18372
Like this ...

[code]

[2020-06-21 01:01] simonlampen opened #18878 "Document appears to be out of date"
The document appear to say EF6 will not run on net core, yet this no longer appears to be accurate based on this document: https://devblogs.microsoft.com/dotnet/announcing-entity-framework-6-3-preview-with-net-core-support/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f376ed07-b726-292f-eb33-7a918337367b
* Version In

[2020-06-21 01:25] Rick-Anderson commented on #18878
Thanks @simonlampen , I thought this had been updated.

[2020-06-21 02:51] wsy opened #18880 "Wrong configuration example for logging"
This document, under "Configure logging" section, the second json example.
As I understand it, "EventSource" should be something under the "Logging" scope. However, in your code, it's under "Debug" scope. See screenshot below.

![image](https://user-images.githubusercontent.com/2684991/85215532-b0317700-b3ac-11ea-8ba4-8b15bb64587a.png)

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-06-21 10:46] guardrex opened #18882 "Comments in JSON files and localization?"
The JSON spec doesn't permit comments, and we've been moving away from unlocalized comments in code/data files anyway. Should the comments in the JSON files of this topic be moved to the text?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-f367-d73

[2020-06-21 17:05] smartprogrammer93 opened #18884 "link broken"
[Enter feedback here]
in this section
IIS can be configured via web.config to serve Brotli or Gzip compressed Blazor assets. For an example configuration, see web.config.

web.config link is broken : https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/webassembly/_samples/web.config?raw=true&view=aspnetcore-3.1
---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-06-21 17:10] smartprogrammer93 commented on #18884
i really want to know the info tho, because i am deploying my blazor application. and the server is serving uncompressed files

[2020-06-21 17:10] guardrex commented on #18884
Thanks @smartprogrammer93 ... The correct link is ...

https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/blazor/host-and-deploy/webassembly/_samples/web.config

I'll patch that right now.

[2020-06-21 17:11] smartprogrammer93 commented on #18884
omg thank you @guardrex

[2020-06-21 17:12] guardrex commented on #18884
Here's the link for the raw file contents ...

https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/blazor/host-and-deploy/webassembly/_samples/web.config?raw=true

[2020-06-21 17:17] #18884 closed

[2020-06-21 17:55] yagni opened #18887 "Use correct class name in JsonResult examples"
The examples following the text "can be configured using JsonResult" create an object of type `Json`, but I'm pretty sure that should be of type `JsonResult`.

Example:
![image](https://user-images.githubusercontent.com/5378730/85231629-913be080-b3be-11ea-8ed4-16627efd4d84.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-06-21 18:03] #18887 closed

[2020-06-21 18:36] serpent5 opened #18888 "Topic links to itself"
In the final link of the first section, the topic links back to itself, but this doesn't appear to be the intent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8795bcc-45ef-7edc-4657-fca867c8ff81
* Version Independent ID: d0b1a040-5dae-8233-dbee-c5837a0c231d
* Content: [ASP.NET Core Blazor logging](https://docs.micro

[2020-06-21 18:38] rasitha1 opened #18889 "Improve security awareness"
This `BirthdayMiddleware` example promotes bad security practice of getting a value from user input and writing back to the response without any validation or encoding. At least a comment saying this is only for demonstration purposes and reader should use security best practices and input validation to prevent XSS attacks will be useful.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-06-21 18:56] Rick-Anderson commented on #18880
It is under logging, it's at the same level as `Debug`

[2020-06-21 18:57] Rick-Anderson commented on #18882
It doesn't disallow them either. Visual Studio editor recognizes them.
Can you provide content, screen shot?

[2020-06-21 19:02] guardrex commented on #18882
Nevermind. I can see where this is going. :smile:

[2020-06-21 19:02] #18882 closed

[2020-06-21 19:14] guardrex commented on #18888
No ... definitely not. :smile: It's just due to content moving around a bit on the ToC shakeup. We'll probably spot a few more of these over the next few weeks. It was worth it tho ... we're in a better spot now with this section of the ToC. Organization is improved, and these topics are easier to maintain (i.e., filtering searches on a single folder in the repo is a breeze over using a long locat

[2020-06-21 19:17] #18888 closed

[2020-06-21 20:41] #18865 closed

[2020-06-21 20:48] yaxum opened #18892 "Hi!"
Hi!

I tried to follow the tutorial "Tutorial: Create a web API with ASP.NET Core"

But think it was hard. Because when I tried to run up the code in the end I always get the weather app up and running. I though I was going to get up and running the API I made in the tutorial :)

Then I tried to find the example code in the folders you provide but could not find it. Think it was hard to find aroun

[2020-06-21 21:19] serpent5 opened #18893 "Malformed xref"
The following is rendered in the output of this topic:

The JSInvokable link seems to work, but some thing's up with the xref.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adbc1392-92dc-c42e-ba48-a722cffa9b6d
* Version Independent ID: 66a0b1c2-c45c-98ca-9808-6f340a861c44
* Content: [Handle errors in ASP.NET Core Blaz

[2020-06-21 21:31] guardrex commented on #18893
Thx @serpent5!

[2020-06-21 21:35] #18893 closed

[2020-06-21 21:40] JeroenBos opened #18895 "Example dotnet watch -> Build Failed"
I wanted to use `dotnet watch` for triggering a `<Target> <Exec Command = "...">`  rather than building/running/testing (the normal usage). I found an example in the docs that shows how to do that.

Copy/pasting the example gave me the following error:
[code]
Now it may very well be that you need the other projects to have the the build succeed, although I can't really infer that from the error me

[2020-06-21 22:04] Rick-Anderson commented on #18892
It works, you might want to try again. Code is https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/tutorials/first-web-api/samples/3.0

[2020-06-21 22:04] #18892 closed

[2020-06-21 22:15] Rick-Anderson commented on #18895
That's a pretty good error message. Why is it referencing .NET 4x? .NET Core 3.x doesn't support .NET 4x.

[2020-06-21 23:14] oneEyedSunday opened #18896 "Trace is listed as "Trace " instead of "Trace""
LogLevel.Trace is listed as "Trace " instead of "Trace"  [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1&source=docs#configure-logging)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-f367-d733-8933-bccc

[2020-06-21 23:15] Rick-Anderson commented on #18896
Extra whitespace? Where?

[2020-06-21 23:16] oneEyedSunday commented on #18896
A few sections below [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1&source=docs#configure-logging)

[2020-06-21 23:16] Rick-Anderson commented on #18896
`Microsoft.Hosting": "Trace " // Debug:Microsoft.Hosting category.
      },`

[2020-06-21 23:16] oneEyedSunday commented on #18896
Yes that

[2020-06-22 02:44] MarkWang-se opened #18897 "Where can I download the source code"
[Enter feedback here]
Where can I download the source code for "Share authentication cookies between ASP.NET 4.x and ASP.NET Core apps"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99307104-c0d7-3e82-f0b2-af61dcfe072a
* Version Independent ID: 315c02cb-54c4-e386-da85-6e4311ca10c2
* Content: [Share authentication cook

[2020-06-22 02:54] Rick-Anderson commented on #18897
I don't think there is any.

[2020-06-22 02:54] #18897 closed

[2020-06-22 07:59] JeroenBos commented on #18895
I don't know why it's referencing .NET 4x. In fact that's the reason why I think this error message is so strange.

Actually, the sample is not from .NET  Core 2.0, but from 3.1. Specifically from the bottom of this page: `https://docs.microsoft.com/en-us/aspnet/core/tutorials/dotnet-watch?view=aspnetcore-3.1`.

[2020-06-22 09:24] SaebAmini opened #18898 "Confusion about needing 2 apps"
Why is there a need for a separate Server and Client app registration at all? considering the majority of ASP.NET Core hosted SPAs are served from the same "app", wouldn't it be simpler to just go with a single app registration for the sake of this guide? or am I missing something here and you actually require the 2 apps?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-06-22 11:30] agap2-ag opened #18899 "External links"
The _globbing_ patterns link seems to be down (Europe):
https://www.tldp.org/LDP/abs/html/globbingref.html

And the _configuration options_ links:

- [CSS Minifier](https://github.com/madskristensen/BundlerMinifier/wiki/cssminifier) mentions no configuration options for CSS;
- [HTML Minifier](https://github.com/madskristensen/BundlerMinifier/wiki) points to the project's main wiki page.

---
####

[2020-06-22 12:06] guardrex commented on #18898
Hello @SaebAmini ...

AFAIK, the concept is that a single server API could satisfy the requests from *more than one client-side app* with each client-side app having a separate registration with different access/permissions configured on the Azure side. This is also the more complicated setup of the two approaches (one registration vs. two or more). Yes tho ... AFAIK ... you can use a single regis

[2020-06-22 12:08] #17052 closed

[2020-06-22 13:54] javiercn commented on #18898
Applications in OAuth don't map 1:1 to applications/processes. In the case of SPAs specifically, there is a significant difference WRT security between code that runs in the browser vs code that runs in the server.

The API is a resource that is hosted on a server, and in the future you might grant that API additional permissions to talk to other APIs or perform other actions based on the fact tha

[2020-06-22 14:00] guardrex commented on #18898
Should I seek to place a version of your remarks in the Blazor WASM security overview topic? A good spot for it is near where we branch off to the various hosted scenarios at ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/?view=aspnetcore-3.1#implementation-guidance

[2020-06-22 14:03] javiercn commented on #18898
No, I don't want to turn our docs into an OAuth tutorial. If we get more feedback around this, maybe I'll consider writing a separate topic

[2020-06-22 14:03] #18898 closed

[2020-06-22 15:10] guardrex opened #18900 "Blazor select option binding"
https://github.com/dotnet/aspnetcore/pull/23221

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884-c1fe5c2ef52d
* Version Independent ID: 09a02d10-2834-467d-d8c2-3fd19ceb3863
* Content: [ASP.NET Core Blazor forms and validation](https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?vi

[2020-06-22 15:25] husam-ebish commented on #17416
It seems to set a reference to the **Components** namespace in the **_imports.razor** file.

In `_Imports.razor` add: `@using "Components namespace"`

For example: if you created the `AddEmployeeDialogBase.cs` component in a folder names _Components_ under _TokeHRM.Server_ project, just add: `@using TokeHRM.Server.Components` in `_Imports.razor` .

[2020-06-22 15:40] LaughingJohn opened #18901 "onended event in wrong grouping?"
I could be wrong, but shouldn't the "onended" event be grouped with the media events rather than general?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa724f22-3a49-c7f6-1500-ac2d8dde5894
* Version Independent ID: 5e8ef502-ccf9-659d-f25a-0f8f3c75f6e0
* Content: [ASP.NET Core Blazor event handling](https://docs.micros

[2020-06-22 15:52] guardrex commented on #18901
Excellent :eye: @LaughingJohn!

Would you believe that I put that there on purpose to see how long it would take for someone to spot and report it? ....... *No?* ...... Indeed, it would be wise *not to believe that!* :smile:

I'll patch that up shortly. I have a mega-PR going in on localization that touches a gazillion topics. I'll patch it right after I get this 👹 *beast PR* 👹 in.

[2020-06-22 16:24] #18901 closed

[2020-06-22 17:53] Rick-Anderson opened #18904 "UseCORS must come before UseResponseCaching"
From https://github.com/dotnet/aspnetcore/issues/23218

Update **Built-in middleware** and **Order** sections

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9898482c-fa54-7ce2-1716-d14fbe03990d
* Version Independent ID: 3926c686-0ccc-f9fe-ca52-0134612a1623
* Content: [ASP.NET Core Middleware](https://docs.microsoft.com

[2020-06-22 17:56] #18728 closed

[2020-06-22 21:45] f-quintero opened #18906 "Clarification"
Please, explain why dependencies contained in the container are called "Services", this clarification helps to understand the term service in a ASP.NET (web services) context.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d78f540-81fd-1ba9-cb90-591e4ec27d9b
* Version Independent ID: 2251f557-dd3a-ec35-2558-6243337db0

[2020-06-22 21:47] carolinemilam commented on #14455
OMG - I have been trying to get .Net Core 3.1 with Individual Accounts to work with single tenant AD authorization for over a week.

The 2 missing links:
1.  Confirmation to use OpenIDConnect vs Microsoft Accounts
2.  Clear AzureAD json options (including specification to put the tenant id both as an option by itself AND in the Authority url):
"AzureAd": {
	"Instance": "https://login.microsoftonli

[2020-06-22 21:47] #18197 closed

[2020-06-22 22:00] wadepickett commented on #16199
Fixed with #18796

[2020-06-22 22:00] #16199 closed

[2020-06-22 22:12] SaebAmini commented on #18898
Thanks, @guardrex and @javiercn for taking the time to explain. Your explanation makes sense. I think my confusion comes from a whole bunch of other places which just go with a single app registration.

I wouldn't go as far as turning the docs onto an OAuth Tutorial, but I do agree with @guardrex's suggestion that it'd be worth having a short note in there about _why_ we need two app registrations

[2020-06-22 22:13] #18880 closed

[2020-06-22 22:20] wadepickett commented on #16199
@404Prachi, There are a lot of package options for sitemap generation available.  You can check those out here:  [Sitemap packages on NuGet](https://www.nuget.org/packages?q=sitemap) .

[2020-06-22 22:52] Rick-Anderson commented on #18880
@wsy thanks for bringing this to our attention and fixing

[2020-06-22 22:53] Rick-Anderson commented on #18896
Fixed  in #18881
Thanks for bringing this to our attention.

[2020-06-22 22:53] #18896 closed

[2020-06-22 22:56] Rick-Anderson commented on #18906
What do you mean by ASP.NET (web services) context ?

[2020-06-22 22:58] Rick-Anderson commented on #18899
Moved to Bundle and minify master issue #18523

[2020-06-22 22:58] #18899 closed

[2020-06-23 00:02] f-quintero commented on #18906
Hi Rick, what i mean is:

The title of the article is: "Dependency injection in ASP.NET Core", so, is about http (web) services provided by ASP.NET.

best regards,

________________________________
De: Rick Anderson <notifications@github.com>
Enviado: lunes, 22 de junio de 2020 5:57 p. m.
Para: dotnet/AspNetCore.Docs <AspNetCore.Docs@noreply.github.com>
Cc: f-quintero <fabian.quintero@outlook.com>

[2020-06-23 00:08] Rick-Anderson commented on #18906
No, it has nothing to do with Web API's

[2020-06-23 00:08] #18906 closed

[2020-06-23 02:29] Rick-Anderson opened #18911 "EF/RP series, remove check list at the end."
This is an advanced tutorial so that doesn't app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ad06677-5842-c1aa-153f-7993a9660dfa
* Version Independent ID: 8daf79df-eac4-358b-e6f0-6def45bd54da
* Content: [Tutorial: Get started with EF Core in an ASP.NET MVC web app](https://docs.microsoft.com/en-us/aspnet/core/data

[2020-06-23 02:39] #16565 closed

[2020-06-23 02:51] #16405 closed

[2020-06-23 03:45] gdavisarms opened #18915 "sample code and instructions out of date"
Hello,
 I have just tried to follow the instructions for the SignalR tutorial, but it is not possible to run the app.

On line 37 of Index,razor, HubConnectionBuilder() cannot be found.
There seems to be some missing steps, or something has changed in the API since this tutorial was written.

If it could be updated, that would be great thanks :)

---
#### Document Details

⚠ *Do not edit this sect

[2020-06-23 03:48] BrennanConroy commented on #18915
Did you make sure to include the `@using Microsoft.AspNetCore.SignalR.Client` at the top of the file?

[2020-06-23 03:56] gdavisarms commented on #18915
I got the wrong package it turns out, sorry.
Microsoft.AspNet.SignalR.Client was also available, turns out searching for SignalR.Client can point you to the wring package.

It is up and running now, thanks :)

[2020-06-23 10:18] hoksource opened #18918 "documentation razor to string"
[EDIT by guardrex to fix the code block ... @hoksource, use triple-backticks]

I need to render razor with model data to a string for sending html emails.

This is for web api and console application/scheduled tasks

I need to use the razor view engine for or some sort of an html engine for .razor or .cshtml to generate an html string given an input model simple data class like

[code]

to

[code]

[2020-06-23 11:01] theo-albers opened #18919 "Configuration is wrong"
The section with the final configuration has 4 issues which results in RoleId1, UserId1, etc., see also https://GitHub.com/dotnet/EFCore/issues/15199.

The wrong example:
[code]
The correct example:

[code]

This applies to all 4 HasMany calls.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9869895-9ba2-5027-46cd-89d1d

[2020-06-23 11:05] #18915 closed

[2020-06-23 11:09] guardrex commented on #18918
@hoksource Are you looking at a specific topic? We don't provide general programming support. For general questions, we recommend the usual support channels ...

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/)
* [ASP.NET Gitter](https://gitter.im/aspnet/Home)

[2020-06-23 11:10] #18918 closed

[2020-06-23 11:34] #18372 closed

[2020-06-23 12:06] guardrex opened #18921 "Should "Blazor Server" appear in English?"
@JasonCard, I noticed that because "server" is translated, the product name "Blazor Server" is half translated. Shouldn't I add "Blazor Server" to the no-loc metadata to stop this from happening everywhere? cc: @scottaddie @Rick-Anderson @wadepickett @mkArtakMSFT

From ...

[code]

... to (maintaining alphabetical list with a find-'n-replace on the full line) ...

[code]

WRT my earlier suggestion

[2020-06-23 12:21] HarrySpyrou opened #18922 "More sample with reverse proxies/load balancers would be nice"
I would like to see samples of how to get service and client to work through something like NGINX, IIS etc.  It's nowhere to be found around the internet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c730b5f9-031e-beab-b838-6e2f8befde30
* Version Independent ID: 84ddcb67-03be-655c-470a-f43a5152606f
* Content: [Troubl

[2020-06-23 13:03] guardrex commented on #18921
btw @JasonCard ... Although I'm not seeing broken styling (*yet*) as a look at the outcome of the PR, I do see additional opportunities to improve localization further. One aspect that I'll need to address in a couple of spots is headings. In the following heading, "@key" was localized.

English heading:

Japanese heading:

We know that code-fenching `@key` is fine from how we handle the Razor syn

[2020-06-23 13:31] guardrex opened #18924 "Regarding Azure AD built-in Admin role object IDs for Blazor security topics"
@mkArtakMSFT May we chat with an Azure AD team member/PM here about the Azure AD role object IDs that we had to publish? ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/azure-active-directory-groups-and-roles?view=aspnetcore-3.1#aad-adminstrative-role-group-ids

AFAICT, these aren't published anywhere (including in external 3rd party blogs and support forums), nor do

[2020-06-23 15:00] guardrex opened #18925 "Launching from CLI with IIS Express profile fails"
The doc states ...

... but this doesn't work for any kind of ASP.NET Core app for the "IIS Express" profile, Blazor or otherwise. For example, I created an RP app from the `webapp` template, confirmed that it would run using the IIS Express profile via VS, and tried to run it from the CLI ...

[code]

Result ...

@mkArtakMSFT, am I doing something wrong (i.e., we need to provide more info in the

[2020-06-23 15:10] dazinator opened #18926 "Is there no longer a middleware that sets HttpContext.RequestServices? How does that get set?"
I believe in older versions of asp.net core there was a middleware at the start of the pipeline that was responsible for creating a DI Scope at the start of a request and setting HttpContext.RequestServices, and then disposing of that scope once the request was done.

Is there a still a middleware for this - I am assuming not as I can't see it mentioned anywhere. May I ask where that is now handle

[2020-06-23 15:13] #18859 closed

[2020-06-23 15:50] #18852 closed

[2020-06-23 16:24] dazinator commented on #18926
I managed to find the answer. It looks like this was moved into an `IFeature` instead.
https://github.com/dotnet/aspnetcore/blob/8efcca43ceaaf72281e17f25d759844f488914ac/src/Http/Http/src/DefaultHttpContext.cs

[2020-06-23 16:24] #18926 closed

[2020-06-23 16:35] hoksource commented on #18918
Took me a while to figure it out. this works for web apis this was taken from the PartialViewExecutor and ViewExecutor sample
https://github.com/dotnet/aspnetcore/blob/09722d1ce59d4a7740451e065256ec62cbdb32a9/src/Mvc/Mvc.ViewFeatures/src/PartialViewResultExecutor.cs

https://github.com/dotnet/aspnetcore/blob/9abf4bfe3f09d0dafc9b7abd8441e6683e9bf612/src/Mvc/Mvc.ViewFeatures/src/ViewExecutor.cs

[co

[2020-06-23 18:06] JasonCard commented on #18921
Regarding "Blazor Server", I confirmed in the [Language Portal](https://www.microsoft.com/en-us/language/Search?&searchTerm=Blazor%20Server&langID=412&Source=true&productid=0) that "Server" part should be localized, so current translation is correct and only "Blazor" should be in the no-loc metadata.

Regarding "@key", I think the use of in-line code within headings is fine too and working well.

[2020-06-23 18:13] guardrex commented on #18921
Ok ... I'm a bit surprised. "Blazor Server" is a product proper noun. Idk if it's an official "product name," but it doesn't seem like a proper noun would get a split translation. For example, it would be strange to only translate the word "Directory" of "Azure Active Directory."

[2020-06-23 18:39] #18857 closed

[2020-06-23 18:45] JasonCard commented on #18921
It looks like the "server" part was translated because the first letter "s" was not capitalized in [Term Studio](https://termstudio.azurewebsites.net/viewdata.aspx?tid=2861183&langCode=English). I found in its [Term History](https://termstudio.azurewebsites.net/History.aspx?t=ts&id=2861183) that the term was changed from 'Blazor Server' to 'Blazor server app'. So we should clarify if 'Blazor Serve

[2020-06-23 19:11] JamesNK commented on #18922
IIS is currently not supported.

I think discussing how to setup NGINX with gRPC is out of scope of this documentation.

[2020-06-23 19:19] wadepickett commented on #18922
I think we call out IIS not being supported on the intro gRPC docs in a few places but I'll take a fresh look at it.   Thanks @HarrySpyrou for taking the time to point out your interest in that scenario, good to know.  Closing this issue.

[2020-06-23 19:19] #18922 closed

[2020-06-23 21:14] #18904 closed

[2020-06-23 21:34] Rick-Anderson commented on #18919
@ajcvickers please review.

[2020-06-24 02:24] #16883 closed

[2020-06-24 02:28] #17042 closed

[2020-06-24 02:52] Rick-Anderson commented on #16747
https://github.com/dotnet/extensions/blob/v3.1.5/src/ObjectPool/src/DisposableObjectPool.cs#L41

@gfoidl  can you draft the documentation update?

[2020-06-24 05:07] logiclrd commented on #18445
I did in fact propose a fix upstream: https://github.com/dotnet/runtime/issues/38055

[2020-06-24 05:19] danroth27 commented on #18921
Blazor Server and Blazor WebAssembly are both product terms that I believe shouldn't be localized.

[2020-06-24 11:34] guardrex opened #18938 "Move the Blazor Call web API topic UP in the ToC"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b5e2e10-ff7b-2b9f-84da-f16028ae2c53
* Version Independent ID: c7e59a08-1c60-32c2-75fd-33cb77ff7a5d
* Content: [Call a web API from ASP.NET Core Blazor WebAssembly](https://docs.microsoft.com/en-us/aspnet/core/blazor/call-web-api?view=aspnetcore-3.1)
* Content Source: [aspn

[2020-06-24 13:41] guardrex commented on #18850
@javiercn In your sample app, you have the *greeter.proto* file in a *Contracts* folder of **both** the `Server` project **and** the `Shared` project. Is that by-design?

[2020-06-24 13:44] javiercn commented on #18850
@guardrex the one on the server project is a mistake. It should be linked from the shared folder.

[2020-06-24 14:16] softchris opened #18940 "Query parameter parsing description missing for Blazor"
Told to copy you in @guardrex

[Enter feedback here]
The Docs page for routing is only covering route parameters. Imo it should cover query parameters as well as this is an important part of dealing with URLs..

To parse query parameters currently, one needs to do the following:

1) Install `WebUtilities` package, like so `dotnet add package Microsoft.AspNetCore.WebUtilities`
2) Write code to pars

[2020-06-24 14:21] guardrex commented on #18940
Thanks @softchris ... We'll consider it on the next round of issue triage, which usually happens on Fridays.

Cross-reference: https://github.com/dotnet/aspnetcore/issues/14236#issuecomment-542341510

[2020-06-24 15:16] scottaddie commented on #18940
@guardrex Chris has some time to create a PR for this issue. Are you okay with him moving forward?

[2020-06-24 15:23] Cal279 commented on #16356
@Rick-Anderson - This still appears to be a problem. The current example for polymorphic model binding results in derived types having properties which are marked as `Unvalidated` (so `ModelState.IsValid` is false). The original suggestion by @jvert to use the below line resolves this problem.

`bindingContext.ValidationState[newBindingContext.Result.Model] = new ValidationStateEntry`

[2020-06-24 15:27] guardrex commented on #18940
Of course, @softchris, you're welcome to submit the PR, but I recommend waiting until @mkArtakMSFT triages this issue and we determine the best thing to show. The following is from another example that we have, which might be good to show along with what you will want to add for getting the exact values out. Sometimes, the dev just wants the whole query string for other reasons.

[code]

Also, I h

[2020-06-24 16:34] ajcvickers commented on #18919
@theo-albers I don't see any place where we use `.WithOne()` when it is supposed to be `.WithOne(e => e.User)`. Specifically, the examples with `.WithOne()` are in cases where navigations have been added only in one direction, and hence there is no `User` navigation here.

[2020-06-24 16:40] AnthonyMastrean opened #18942 "Document resolving IEnumerable<TService> when multiple registrations are provided"
Given multiple registrations in **Startup.cs**

[code]

You should be able to depend on an `IEnumerable<TService>` in the depending service.

[code]

This does not appear to be documented yet, although, strangely, the opposite behavior is documented as the `TryAdd*` methods.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-06-24 16:52] guardrex commented on #18940
Wait for Artak to respond, but here are some recommendations for when you work this ...

https://github.com/dotnet/aspnetcore/issues/5489 was closed without a new engineering issue that pertains to doing anything special for query strings, so it seems like devs will use `WebUtilities`. At the time I [responded to a reader's issue](https://github.com/dotnet/AspNetCore.Docs/issues/12425), that was s

[2020-06-24 16:56] theo-albers commented on #18919
Hey @ajcvickers, I followed the document on an existing project without the relations. As soon as I ran "dotnet ef migrations add foo" to see if it was all fine and had zero migrations, I got 4 migrations. As soon as I changed the .WithOne() to ..WithOne(x ...) and reran the migrations, all migrations disappeared. So it seems to me it's directly related to the example config.

By the way I extende

[2020-06-24 17:45] srisuk2519 commented on #18940
เมื่อ พ. 24 มิ.ย. 2563 เวลา 23:54 Luke Latham <notifications@github.com>
เขียนว่า:

[2020-06-24 17:56] kdanilkov opened #18943 "var name has typo error"
_logger.LogWarning(MyLogEvents.GetItemNotFound, ex, "TestExp({**Id**})", **id)**;
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-f367-d733-8933-bccc04da0e16
* Content: [Logging in .NET Core and ASP.NET Core](https://docs.micro

[2020-06-24 18:11] HaoK opened #18944 "Authorization resource in endpoint routing will now be HttpContext"
Copied from https://github.com/dotnet/docs/issues/19034

## [AspNetCore] Authorization resource in endpoint routing will now be HttpContext

Prior to this change, when using endpoint routing, the resource used for authorization would be the endpoint. This was insufficient to get access to the route data. Previously in MVC, the resource that was passed in was HttpContext which allows access to both

[2020-06-24 18:22] ajcvickers commented on #18919
@theo-albers If you have `User` navigation property, then you definitely need to use `.WithOne(e => e.User)`. But I don't see any examples that are intended to have `User` navigation property and don't show this.

[2020-06-24 19:40] ChristopherHaws opened #18945 "Add documentation for the ValidateNeverAttribute to the model validation page"
The [ValidateNeverAttribute](https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.Core/src/ModelBinding/Validation/ValidateNeverAttribute.cs) is not documented on the model validation page. I had to dig through source code to find out that it existed. It could be helpful to others to call it out as a way to prevent validation on a class or property.

---
#### Document Details

⚠ *Do not ed

[2020-06-24 19:48] scottaddie commented on #18944
Moved to the aspnet/Announcements repo.

[2020-06-24 19:48] #18944 closed

[2020-06-24 19:51] theo-albers commented on #18919
Have another close look. This is the EF setup in the docs and which I'm using as well:

[code]

[2020-06-24 19:55] theo-albers commented on #18919
And another nasty one: if you want to treat your entities as "aggregate root", you are going to use non default constructors. You will most likely use collections as IReadOnlyCollection with backing field. Now when you add a protected default constructor, just for EF, you will still run into another issue: InvalidOperationException AddEntityFrameworkStores can only be called with a role that deriv

[2020-06-24 19:56] theo-albers commented on #18919
@ajcvickers / @Rick-Anderson can you have another look?

[2020-06-24 20:24] itsyashpal opened #18946 "Documentation Update for Key Vault Config"
[Enter feedback here]
In .NET core 3.1 , i am able to read from key vault even if it disabled secerts only the disabled secrets are skipped and hence documenation can be updated to reflect in .Net core 3.1 it no longer fail to read configuration if there are disabled secrets.

Section containing troubleshooting and disabled/expired secrets should be updated.

---
#### Document Details

⚠ *Do not e

[2020-06-24 21:03] JunTaoLuo commented on #17827
I don't think we should make any changes here. It's not feasible to come up with an exhaustive list of every scenario where caching can be disabled, there are too many component interactions that might result in a request or response being considered uncacheable.

In the troubleshooting portion of the docs, we recommend turning on logging which would have addressed most of the scenarios listed her

[2020-06-24 21:03] #17827 closed

[2020-06-24 21:16] ajcvickers commented on #18919
@theo-albers The [configuration that goes with those types](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-3.1#add-all-navigation-properties) already shows:

[code]

[2020-06-24 21:23] theo-albers commented on #18919
Ah, shoot, you are absolutely right: I initially used the config a couple of lines above. That one didn't have the User in the WithOne(). I guess this is due to the build up of the example, from top to bottom. Sorry for wasting your time on this.

[2020-06-24 21:26] theo-albers commented on #18919
[code]

It was easy to overlook the difference.

[2020-06-24 21:51] #18919 closed

[2020-06-24 22:29] Tratcher opened #18948 "TestServer comes in a package"
The "Set up the TestServer" instructions are missing the step to add a package dependency for Microsoft.AspNetCore.TestHost. It's not bundled with the runtime.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9421feee-5207-e379-00fb-847cc880014c
* Version Independent ID: 8415adee-793e-2ba7-b97b-672b493ba42b
* Con

[2020-06-24 22:55] Rick-Anderson commented on #18946
@mkArtakMSFT  can you recommend the new resource for this topic now that `@anurse` doesn't own this?

@itsyashpal
Any chance you could PR this? At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

[2020-06-24 22:56] #16486 closed

[2020-06-24 23:06] Rick-Anderson commented on #18942
`TryAddEnumerable(ServiceDescriptor)` methods only register the service if there isn't already an implementation of the same type.

[2020-06-25 01:47] weitzhandler opened #18952 "Contract conditions and validations?"
Hi,

I'm new to gRPC and find it pretty fascinating.
I'm wondering if there is support for including validation metadata such as string min or max length etc., with the contract.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0db2d29c-ebfd-9c79-4b08-61fc5192f3c3
* Version Independent ID: 048d1977-93aa-f28a-60ec

[2020-06-25 02:56] AnthonyMastrean commented on #18942
@Rick-Anderson I'm saying that there's evidence that resolving `IEnumerable<TService>` works, but there's no documentation. In fact, there's no documentation on what happens when you call, for example, `AddScoped` multiple times on the same type.

I only mentioned `TryAdd*` as a counter-example.

https://stackoverflow.com/questions/46740270#comment80872352_46740270
https://stackoverflow.com/a/4978

[2020-06-25 03:00] Rick-Anderson commented on #18942
Why not use `TryAddEnumerable(ServiceDescriptor)`?

[2020-06-25 03:41] OzBob opened #18953 "Add Hosting solution example"
There is a warning "ASP.NET Core gRPC is not currently supported on Azure App Service or IIS" on the doc, but
https://github.com/dotnet/AspNetCore/issues/9020#issuecomment-643206179
says
"Kubernetes with nginx or ha ... is the only current solution."

I humbly suggest that an example hosting implementation would help the adoption of the gRPC technology.

---
#### Document Details

⚠ *Do not edit t

[2020-06-25 03:51] OzBob commented on #18953
A "KubernetesSample" from the @markrendle  archives of 2019:
https://github.com/RendleLabs/grpc-for-wcf-developers/tree/master/KubernetesSample

Could be the standard hosting in Azure solution?

[2020-06-25 10:19] #18863 closed

[2020-06-25 11:41] #18786 closed

[2020-06-25 13:00] #18434 closed

[2020-06-25 13:06] #18036 closed

[2020-06-25 14:14] gfoidl commented on #16747
@Rick-Anderson will create a PR over the weekend (in english 😉). Can you assign this issue to me (so that GitHub shows it in my issues -- just as reminder)?

[2020-06-25 15:05] nilact commented on #16434
It seems that the issue will be fixed in .net 5. I think the docs have to be updated to indicate that this is a known issue with machine < win 10 and how to resolve it. I myself was trying the sample application on the Win 2012 machine by following the docs and I got this error.

[2020-06-25 15:20] bkkterje opened #18960 "Errors in article - and it doesn't work"
So, the article says:
Under "Register a server API app"
Disable the Permissions > Grant admin consent to openid and offline_access permissions check box

There is no such check box.

Also, following this article, I get an "audience not valid" error message when trying to access the API. I am fully able to log in, and I do get a valid JWT token. The JWT token contains and aud that appears valid, an

[2020-06-25 15:33] guardrex commented on #18960
Hello @bkkterje ...

It's there ... at the bottom of that registration blade ...

<img width="409" alt="Capture" src="https://user-images.githubusercontent.com/1622880/85749727-b6866280-b6ce-11ea-9031-d0949f27b0ab.PNG">

We don't have the staffing to provide support. Make sure that all of the configuration settings are correct. Make sure that you follow the advice in the *Troubleshoot* section abo

[2020-06-25 15:33] #18960 closed

[2020-06-25 15:38] bkkterje commented on #18960
One thing to add to this article's troubleshooting guide...
On the server side, you need to add the DefaultAccessTokenScopes. It is reasonable to assume this is done as follows:

options.ProviderOptions.DefaultAccessTokenScopes.Add("api://11111111-1111-1111-1111-111111111111/API.Access");

That doesn't work, however, this one does (remove the api:// bit):

options.ProviderOptions.DefaultAccessToke

[2020-06-25 15:39] AnthonyMastrean commented on #18942
My problem is that this "multiple registration" stuff is _only_ discussed in the context of `TryAddEnumerable(ServiceDescriptor)` and it fails to mention the counter-examples, both *why* you might use it (competing consumer, concurrent handling) and *how* it works (literally how multiple calls to the `Add{LIFETIME}` methods work and how that affects service resolution).

Emphasis mine:

https://do

[2020-06-25 15:40] guardrex commented on #18960
Already covered ... in the NOTE in this section ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-azure-active-directory?view=aspnetcore-3.1#access-token-scopes

[2020-06-25 15:45] bkkterje commented on #18960
Thanks for the super-fast responses... sorry for being a dumb-axx, it's late in the day, but...

![image](https://user-images.githubusercontent.com/60919368/85752383-accf2000-b70b-11ea-9fbe-5e1068b11ae5.png)

[2020-06-25 15:52] guardrex commented on #18960
That's interesting. The portal is an **_evolving thing_**. They might be using a new/different UI for you than what they show me. It could be the next version of the portal, or they might be doing some A/B testing. Hard to say .... only the :pray: *server gods* :pray: know. :smile:

One thing that we might need to do is go entirely off of Azure docs for the registration steps and only call out the

[2020-06-25 15:53] jgullickson commented on #18405
The following talk contains some very basic instructions for setting up SpaServices.Extensions with a Vue.js SPA. In lieu of real documentation, perhaps this will help folks get started: (https://youtu.be/DH2yUVQDB0I?t=1975).

[2020-06-25 17:49] JasonCard commented on #18921
@danroth27 Thank you for confirming.
@guardrex In that case, yes, please go ahead and add both "Blazor Server" and "Blazor WebAssembly" to no-loc metadata.
I'll follow up with our loc vendor to update the Source and Target terms in the Term Studio.

[2020-06-25 17:50] zoran123456 opened #18961 "Does not work in IE11"
Hi, just to inform you that starter template (with counter and fetchdata in navigation links) does not work correctly on IE11.
Fetching data works, home page works, but counter does not. Probably nothing regarding user interaction.
Used Blazor Server Side, .NET Core 3.1, Visual Studio 2019.

I'm not really sure what polyfills do I need to add? And if that would help. There are hundreds of polyfill

[2020-06-25 18:06] guardrex commented on #18961
Hello @zoran123456 ... I don't have any additional information from the product unit on the subject of polyfills. I think you add Polyfills.io as a bundle. I think once you get polyfills in place that Blazor apps will function up to the point that polyfills hit missing API. Ask on a support channel if you require support ...

* [Stack Overflow](https://stackoverflow.com/questions/tagged/blazor)
*

[2020-06-25 18:06] #18961 closed

[2020-06-25 18:40] agoodwin opened #18963 "RequiredAttribute behaviour unclear"
Hi,

If I'm reading it correctly, the section "[Required] validation on the server" explains that the `[Required]` attribute won't ever have any effect for value types (except maybe if they're made nullable, e.g. `int?`).

Just about every discussion about that attribute that I've ever seen (in the context of ASP.NET) agrees with that description. However, it is not actually the behaviour I'm seei

[2020-06-25 19:29] Anand-Moghe opened #18964 "Does ASP.Net Core uses MSAL behind the scene?"
Is ASP.Net core identity built on MSAL or MSAD library?
Otherwise how is it different from MSAD (or MSAL) libraries?
When should one select ASP.Net Core Identity framework over MSAL library for .Net  and what business cases does it enables that is not covered by MSAL libraries?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-06-25 21:05] Rick-Anderson commented on #18964
See https://github.com/dotnet/aspnetcore/tree/master/src/Identity

[2020-06-25 21:05] #18964 closed

[2020-06-25 21:10] Rick-Anderson commented on #18963
@agoodwin  until I get a chance to work on this see https://www.strathweb.com/2017/12/required-and-bindrequired-in-asp-net-core-mvc/

[2020-06-25 21:15] stevebelskie commented on #18818
@scottaddie I'm able to reproduce the issue on IIS running locally on my windows machine. I can reproduce with `Swashbuckle.AspNetCore` on versions 5.0 (what the doc shows) and version 5.5 (the latest). My app targets 3.1. The app is running as a virtual application nested in another site.

I was also able to get it working by using `../swagger/v1/swagger.json` instead of `./swagger/v1/json`. So t

[2020-06-25 21:56] kdahltx opened #18968 "It doesn't work"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e07aaa4d-4ad4-778f-f74a-60d8f05d9075
* Version Independent ID: c82cf121-831d-75dd-a796-c735aad3b3e9
* Content: [Host and deploy ASP.NET Core Blazor](https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/?view=aspnetcore-3.1&tabs=visual-s

[2020-06-25 22:15] #18968 closed

[2020-06-25 23:08] wadepickett commented on #16950
@Rick-Anderson, The About .NET Core - Frameworks page was updated earlier to list all the frameworks in the API section as (shown in screen shot below.)  So I'll close this one.  If you were envisioning something else let me know and we can re-open.  I updated the .net guide hub to point to ASP.NET Core as well just to help folks find their way from there as well: [19228](https://github.com/dotnet

[2020-06-25 23:08] #16950 closed

[2020-06-25 23:23] Anand-Moghe commented on #18964
@Rick-Anderson   Thanks you very much !

[2020-06-26 00:11] #18921 closed

[2020-06-26 00:41] #18948 closed

[2020-06-26 03:00] Rick-Anderson commented on #15175
Done

[2020-06-26 03:00] #15175 closed

[2020-06-26 03:13] Rick-Anderson commented on #17639
Fixed in Disable pages in Identity UI #18768

[2020-06-26 03:13] #17639 closed

[2020-06-26 04:44] mkArtakMSFT commented on #18924
@javiercn do you have any advice regarding this? If not, can you please ping someone from the Azure AD side here?

[2020-06-26 10:29] lfrancke opened #18973 "Suggestion: Custom validation improvements"
I come here from [this](https://stackoverflow.com/questions/62559817/how-to-get-inject-services-in-custom-validationattributes) StackOverflow post.

The page mentions custom validation attributes but those have a limitation compared to MVC in that one cannot GetService from the ValidationContext.

One issue about this is here https://github.com/dotnet/aspnetcore/issues/23380

So it'd be great if t

[2020-06-26 10:46] guardrex commented on #18973
Thanks @lfrancke ...

Yes, great idea ... we need that called out.

It's covered in the topic (lightly currently) in the last example (`ServerValidate` method) of the opening section. Another dev also asked for additional detail/example(s), and I'm planning to split server validation out into a section and enhance the content. I envision adding a more advanced example with a web API endpoint (and

[2020-06-26 11:04] lfrancke commented on #18973
Thank you for the super quick response.

I managed to miss that! Thanks.

If you look at the SO post we were told to subscribe to `OnFieldChanged` events instead (which I believe mimics the behavior of the current ValidationAttribute.IsValid.

I now next to nothing about any of this but HandleSubmit sounds like it only validates when the user actually submits the form. I _think_ the events get fir

[2020-06-26 11:06] guardrex commented on #18973
Sure ... and `OnFieldChanged` is covered, just not in this context. When a new (better) section of content is added specifically for this scenario, a third example using that approach makes sense.

[2020-06-26 16:00] pstricks-fans opened #18975 "It looks like a typo."
Is it a typo?

It should be

or more precisely

[2020-06-26 16:21] guardrex commented on #18975
Hello @pstricks-fans ... Would you mind closing this and opening it from the topic that you're looking at?

[2020-06-26 16:21] guardrex commented on #18975
<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

[2020-06-26 16:23] guardrex commented on #18975
btw -- I don't think that's a typo. I believe it pertains to `EventCallback` or `EventCallback<T>`.

[2020-06-26 16:25] Tiberriver256 opened #18976 "How to override templates with project-specific t4 templates"
Looking for the .NET Core Razor Pages equivalent to this document:
https://docs.microsoft.com/en-us/archive/msdn-magazine/2014/june/asp-net-mvc-override-the-default-scaffold-templates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70f6104a-a223-4bb3-4101-f553002b9b26
* Version Independent ID: 15e79e80-8d46-7cd5-c883-6c

[2020-06-26 16:30] guardrex commented on #18975
I found the source ... it came from ...

https://github.com/dotnet/aspnetcore/issues/6351#issue-395755868

[2020-06-26 16:32] #18975 closed

[2020-06-26 16:35] guardrex commented on #18976
This one? ...

https://docs.microsoft.com/aspnet/core/security/authentication/scaffold-identity

[2020-06-26 16:46] Tiberriver256 commented on #18976
Nope, that is for how to use identity scaffolding to override the defaults. I'm looking to customize the templates used when you click this button:

![image](https://user-images.githubusercontent.com/6989492/85880970-dee38f00-b7aa-11ea-9c16-e5791acb5695.png)

I did find something that works on [StackOverflow](https://stackoverflow.com/questions/38382954/custom-scaffold-templates-in-asp-net-core) b

[2020-06-26 17:07] pstricks-fans commented on #18975
Thank you. Do I still need to repost this issue to the proper place indicated by the red arrow pointing to "This Page" button?

[2020-06-26 17:08] guardrex commented on #18975
Yes, if you think Ryan mis-typed it in the engineering content.

[2020-06-26 17:11] pstricks-fans opened #18977 "Now EventCallback only allows parameterless callback. Update is needed?"
[EDIT by guardrex to manually add the metadata]

Is it a typo?

It should be

or more precisely

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa724f22-3a49-c7f6-1500-ac2d8dde5894
* Version Independent ID: 5e8ef502-ccf9-659d-f25a-0f8f3c75f6e0
* Content: [ASP.NET Core Blazor event handling](https://docs.microsoft.com/en

[2020-06-26 18:17] guardrex commented on #18977
@pstricks-fans ... Please open issues using the **This page** feedback button and form at the bottom of a topic. I'll add the metadata to your opening comment. When you use the button and form, we don't need to add it manually to issues.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

[2020-06-26 18:19] guardrex commented on #18977
Artak, the source is ...

https://github.com/dotnet/aspnetcore/issues/6351#issue-395755868

It's in the **Invoking EventCallback manually** section of the remarks, which reads ...

[2020-06-26 18:21] soylerr opened #18978 "Language Resources are wrong."
When i change language from Turkish to English the name of "Console" still remains in Turkish ("Konsol"). Not a big deal but its confusing.

Original Language (in English)
![image](https://user-images.githubusercontent.com/37771635/85888718-d1ea8e00-b7f2-11ea-8920-8dc1662bf0dd.png)

When i change read in English
![image](https://user-images.githubusercontent.com/37771635/85888786-ed559900-b7f2-11e

[2020-06-26 18:33] #16195 closed

[2020-06-26 18:42] pstricks-fans commented on #18977
Sorry. I clicked the "this page" button but  I accidentally removed the template provided by the github. Thank you.

[2020-06-26 18:46] wadepickett commented on #16950
Fixed with #19228

[2020-06-26 19:46] Rick-Anderson commented on #18976
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider. We'll also reconsider this issue in the next doc update.

[2020-06-26 19:46] #18976 closed

[2020-06-26 19:48] Rick-Anderson commented on #18978
It must be a caching anomaly.

[2020-06-26 19:48] #18978 closed

[2020-06-26 20:05] #18889 closed

[2020-06-26 20:07] #18878 closed

[2020-06-26 20:07] #18193 closed

[2020-06-26 23:55] #18841 closed

[2020-06-27 00:54] Rick-Anderson commented on #18963
To repo,  use `WeatherForecastController`
[code]

https://localhost:50001/weatherforecast/GetSomething

@filipw @serpent5 @scottaddie  has something changed since https://www.strathweb.com/2017/12/required-and-bindrequired-in-asp-net-core-mvc/

[2020-06-27 01:03] Rick-Anderson commented on #18963
Here's the answer, from the same doc
[Required] validation on the client
Non-nullable types and strings are handled differently on the client compared to the server. On the client:

A value is considered present only if input is entered for it. Therefore, client-side validation handles non-nullable types the same as nullable types.

Use postman and no error is returned.

[2020-06-27 01:03] #18963 closed

[2020-06-27 03:12] #18378 closed

[2020-06-27 05:54] zequential opened #18984 "There's a closing script tag missing from the first code example in the Compression section"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be59faf1-5a20-b7e9-19ff-06589023bb15
* Version Independent ID: 250e7458-3c1d-0117-261d-c03ac136f16a
* Content: [Host and deploy ASP.NET Core Blazor WebAssembly](https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/webassembly?view=aspne

[2020-06-27 07:36] sebastianolafhandjojo opened #18985 "missing Grpc.AspNetCore"
as i've come from this link
https://devblogs.microsoft.com/aspnet/grpc-web-for-net-now-available/?utm_source=vs_developer_news&utm_medium=referral

the tutorial only mentioned to add  "Grpc.AspNetCore.Web"
didn't mention to use  "Grpc.AspNetCore"
because of that visual studio didn't recognize  services.AddGrpc(); method

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-06-27 11:16] #18984 closed

[2020-06-27 12:47] abrantie1z opened #18987 "Which router handles incoming request first in a mixed routing scenario"
This is a question. when a request hit the mvc middleware where we have both attribute and conventional routing configured in the app, which router attempts to map the request first?

[2020-06-27 13:12] erhanalankus opened #18988 "Some Typos"
[Enter feedback here]
A couple of typos:

- "setDbErrorMessage" method name starts with a lowercase letter instead of an uppercase one.

- In the last code snippet(Pages/Departments/Delete.cshtml), "Administrator.FullName" line isn't highlighted.

- There is a "git add " in this sentence: "RowVersion must be added so postgit add back binds the value.".

- Typo in the last sentence: "Clicking Delet

[2020-06-27 16:32] wadepickett commented on #18749
Loc team fixed on Localization process side since the shortened path issue would restrict every repo published across docs.microsoft.com and require many to rename/touch a lot of directories/file names for content and dependencies including the code samples.

[2020-06-27 16:32] #18749 closed

[2020-06-27 17:37] JasonCard commented on #18724
Hi @trueway0617

Thank you again for your feedback.
All affected files have been fixed.

[2020-06-27 18:26] MarksAnalytics opened #18990 "Fantastic!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e7dc3c-54c4-35de-203e-d230869e8417
* Version Independent ID: dc5b52d5-c8c6-1440-6b3a-fda898167d0c
* Content: [Build your first Blazor app](https://docs.microsoft.com/en-us/aspnet/core/tutorials/build-your-first-blazor-app?view=aspnetcore-3.1)
* Cont

[2020-06-27 18:28] guardrex commented on #18990
Thanks @MarksAnalytics! :rocket:

[2020-06-27 18:28] #18990 closed

[2020-06-27 18:52] serpent5 commented on #18987
I think [Mixed routing: Attribute routing vs conventional routing](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-3.1#mixed-routing-attribute-routing-vs-conventional-routing) answers your question:

[2020-06-27 20:16] MattSawrey opened #18991 "Run "ng serve" independently section incomplete"
After having followed the instructions under the "_Run "ng serve" independently section incomplete_" section, my angular app is unable to communicate with the API. Requests from the Angular app aimed at the API are directed towards the http://localhost:4200/ domain. I assume there is some configuration required in the Angular project, but I can't see that in this documentation.

---
#### Document

[2020-06-27 21:54] ciwchris opened #18992 "Error building standalone Blazor app"
I have tried creating a Blazor app using both .Net version 3.1.103 as well as 5.0.100-preview.5.20279.10. Same experience in both instances. I first try to create a new project using the command supplied in the documentation but the template is not found:

[code]
I try installing the Blazor templates. This installs several templates but not blazorwasm.

[code]
I decide to create a standalone Blazo

[2020-06-27 21:58] guardrex commented on #18992
Hello @ciwchris ... That's the wrong SDK. Go for 3.1.301 ...

https://dotnet.microsoft.com/download/dotnet-core/3.1

[2020-06-27 21:58] #18992 closed

[2020-06-27 22:59] abrantie1z commented on #18987
Thanks for the response , but the question is not answered. I get mixed routing means we have both conventional and attribute routing. My question , when a request hit the mvcmiddlere, is possible the conventional router may be able to map the request and it is possible the attribute router may have such a url in its dictionary of urls. But want to know which is attempted first, the attribute rout

[2020-06-28 02:33] Rick-Anderson commented on #18991
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-06-28 02:33] #18991 closed

[2020-06-28 02:38] mkArtakMSFT commented on #18942
Thanks for your feedback, @AnthonyMastrean.
This does indeed seem important to document.

@Tratcher who will be best positioned to provide a writeup from the engineering side?

[2020-06-28 02:40] mkArtakMSFT commented on #17711
We do plan to tackle this as part of https://github.com/dotnet/aspnetcore/issues/21541. Using the referenced issue to prioritize during next sprint planning.

[2020-06-28 02:40] mkArtakMSFT commented on #17711
@Rick-Anderson, let's close this as a dupe and wait till we get to the one I pointed out.

[2020-06-28 02:42] mkArtakMSFT commented on #16422
Thanks for bringing up this issue.
@Pilchie can you please assign this to an engineer who is well familiar with the Data Protection. Let's get the docs updated to address the gap.

[2020-06-28 02:44] mkArtakMSFT commented on #16385
@pranavkm can you please find some time to squeeze this in. Not urgent, but would like to get this addressed.

[2020-06-28 02:46] mkArtakMSFT commented on #16323
Will find an owner on Monday.

[2020-06-28 02:47] mkArtakMSFT commented on #15349
@javiercn this is back to you. Feel free to handle this post your preview 8 issues are done.

[2020-06-28 02:54] davidfowl commented on #16323
This part of the document isn't explained properly. We should explain how ASP.NET Core creates a scope per request and RequestServices exposes the scoped service provider. This means that all scoped services will life for as long as the request is active.

[2020-06-28 03:01] JamesNK commented on #18985
The page discusses adding gRPC-Web to an existing gRPC service.

I think the only change is to make that more clear, and possibly link to the gRPC getting started tutortial.

[2020-06-28 03:03] wadepickett commented on #18985
@JamesNK, I will update per your recommendation.  Thanks so much.

[2020-06-28 03:48] mkArtakMSFT commented on #10341
I believe the default guidance should be to name the router parameter as the model action parameter - `author` in this case.
@khtang 's suggestion would also work, but it is not really straight forward and it's a bit arbitrary - as in that case you're completely customizing the matching rule.

@pranavkm can you please confirm that the router parameter in the example here should indeed be `author`

[2020-06-28 09:33] yaxum commented on #18892
Hi!
When I run the vs code I always get the weather website up and running. Do not understand how I will get the todo todoApi app and running without getting the localsite weather to open...

[2020-06-28 13:51] serpent5 commented on #18987
If an action is attribute routed, it's not available via coventional routing. This means the request cannot be mapped by both conventional and attribute routing, as suggested in your question. You can think of attribute routing as taking priority over conventional routing, if that helps.

[2020-06-28 14:02] guardrex commented on #18987
I think the third sentence can be simplified along those lines.

Nit: "Cannot" should be replaced by the contraction "can't."

[2020-06-28 14:25] abrantie1z commented on #18987
So if am clear, the attribute router will try to map the request to the action first, if it fails, the conventional routing takes over?

[2020-06-28 17:37] agoodwin commented on #18963
Hi Rick, thanks for looking into it.

So I think the example you're using is a slightly different situation to the one I'm talking about, and it does behave as described in the docs.

i.e. a GET request to `https://localhost:50001/weatherforecast/GetSomething` with your implementation will return a response of `0`, because the default value of `0` for an `int` is being used. That seems to be consi

[2020-06-28 18:22] samboustani opened #18994 "Map secrets to a POCO"
In the section "Map secrets to a POCO", where is that code entered?  The Configuration API is not accessible from another class.  Are we still in Startup.cs here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c99993c-c983-6fda-6c3a-ce4ec8c1d5db
* Version Independent ID: ba688ac2-e90e-fce5-f60d-40c2553c3efd
* Content:

[2020-06-28 18:54] Rick-Anderson commented on #18994
Look at the preceding secton.

[2020-06-28 18:54] #18994 closed

[2020-06-28 19:11] Tratcher commented on #18942
@halter73

[2020-06-28 19:12] davidfowl commented on #18411
Also, zero downtime deployments in IIS - https://www.offerzen.com/blog/zero-downtime-deployments-in-an-iis-world

[2020-06-28 21:12] serpent5 commented on #18987
There's only one router involved, really. Think of a collection of routes that gets built up by looking at your controllers/actions. If a controller is attribute routed, that's what gets used when its route is added to the collection. Otherwise, think of a route being added to the collection that's based on the convention.

If that still doesn't help, consider asking over on e.g. [Stack Overflow](

[2020-06-29 00:34] mkArtakMSFT commented on #18942
@halter73 can you please document this? Thanks!

[2020-06-29 00:39] mkArtakMSFT commented on #16323
@Rick-Anderson is this good high-level explanation you can work with or do you still need more content from the engineering side?

[2020-06-29 01:54] Rick-Anderson commented on #16323
That should be good.

[2020-06-29 02:28] Pilchie commented on #16422
@haok @blowdart - either of you want to take a look?

[2020-06-29 12:03] abrantie1z commented on #18987
Thanks @serpent5  But, have been reading Andrew Lock Asp.Net Core in Action. And he got the logic that for conventional routing, the request first hit mvcmiddleware, then the router will compare the request to the predefined templates. if it find one that matches, the route values are extracted from the request and assigned to route parameters of the selected template. The controller and action ro

[2020-06-29 12:51] atykhyy opened #18996 "IHostedService startup documentation"
Documentation page says

However that's not what the code in Microsoft.Extensions.Hosting/src/Internal/Host.cs does. `IHostedService` implementations have to be registered with the service container by adding them to the instance of `IEnumerable<IHostedService>` bound in the container. Simply registering a class or object implementing `IHostedService` with `AddSingleton` is insufficient.

---
####

[2020-06-29 13:34] blowdart commented on #16422
It's getting replaced soon with a [new library soon](https://azure.microsoft.com/en-us/blog/previewing-azure-sdks-following-new-azure-sdk-api-standards/), so it's probably not worth the investment, however @Petermarcu then needs to assign someone to own and update the docs going forward.

[2020-06-29 14:42] ryan-morris commented on #17643
It looks like they EF Core version created a wrapper that creates temporary scopes. [See here](https://github.com/dotnet/aspnetcore/tree/master/src/DataProtection/EntityFrameworkCore/src) . That nuget package actually eliminated our need for any of our custom stuff.

[2020-06-29 14:53] guardrex commented on #18996
Hello @atykhyy ... You seem to be looking in the wrong spot. and the API moved several months ago. See ...

https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Hosting/src/Internal/Host.cs#L55

I don't think I understand your remark tho if you still have a complaint about the way in which this is phrased. The topic is accurate AFAICT.

[2020-06-29 14:58] serpent5 commented on #18987
I haven't read ASP.NET Core in Action, so I can't relate what I said back to that. I'm sorry that I was unable to help you with this, but I see you've asked a question on Stack Overflow here: https://stackoverflow.com/questions/62637834/which-router-handles-incoming-request-first-in-a-mixed-routing-scenario. I'll try and help you further over there.

[2020-06-29 14:58] guardrex commented on #18996
btw - there's a full topic on hosted services that provides a lot more detail on the developer-registered services ...

https://docs.microsoft.com/aspnet/core/fundamentals/host/hosted-services

[2020-06-29 15:37] philip-reed opened #18997 "EventLog logging configuration clarification"
In the section on windows event log, there is a sentence that reads:

Should this be:

I am having an issue where the first statement is occurring.
I am specifying the LogLevel as Information, but it is still defaulting to Warning as per the documentation, which seems odd.

[code]

HostBuilder looks like this if it matters:
[code]
Using core 3.1
Microsoft.Extensions.Logging.EventLog 3.1.5

---
###

[2020-06-29 15:48] serpent5 commented on #18997
Yep, I think it should be _aren't_.

This isn't what you're doing, because you have `EventLog` in the wrong section. It should be this:

[code]

Note that `EventLog` is a _child_ of `Logging`; not a _sibling_.

[2020-06-29 15:53] philip-reed commented on #18997
@serpent5 Thank you for the correction on my config.  That is working now.
What a coincidence that my mistake aligned with the typo!

[2020-06-29 16:07] abrantie1z commented on #18987
Alright sir, Thanks.

[2020-06-29 16:29] atykhyy commented on #18996
Thank you. Existing wording seems to imply that `Host` looks through *all* service descriptors in the container to find ones whose types implement `IHostedService` ("each implementation of IHostedService that it finds in the DI container"). This would mean that e.g. calling `services.AddSingleton<MyHostedService> ()` will cause `MyHostedService` to be started/stopped by the host. However, this is

[2020-06-29 17:05] guardrex commented on #18996
I see what you mean now. At first, I thought you were focusing on the dev taking action on registration, not how all hosted services are registered/discovered.

I still don't think that phrase "that it finds" implies anything in particular about **_how_** a registration was made. I think ur reading too far into the text for an introductory paragraph in a fundamentals topic. This text is only meant

[2020-06-29 17:16] guardrex commented on #18997
@philip-reed, do you want to put the PR in to use "aren't," or do want one of us to do it?

[2020-06-29 17:18] guardrex commented on #18996
@atykhyy, you'd also be welcome to make the change, too, if Rick wants to press forward with it. If so, wait until he looks and confirms that the change (and what it should be exactly) is stated here.

[2020-06-29 17:24] philip-reed commented on #18997
I've not contributed before so would like the opportunity.

Leave it with me to figure out.

On Mon, 29 Jun 2020, 18:16 Luke Latham, <notifications@github.com> wrote:

[2020-06-29 17:27] guardrex commented on #18997
Sure thing ... use the "Edit" (pencil) on the topic and follow the prompts to submit the change.

Be sure to search **_the whole topic for multiple lines_** that might be wrong. We hold multiple versions of a topic in the same file. This sentence might appear two or more times. All instances that you find should be updated.

When you open the issue, put ...

[code]

... in the opening comment so t

[2020-06-29 17:46] philip-reed commented on #18997
How's that?

Did it on my phone which was pretty cool.
Wasn't sure if should have updated the config example but figured if I got
it wrong then others might.

On Mon, 29 Jun 2020, 18:27 Luke Latham, <notifications@github.com> wrote:

[2020-06-29 18:31] #18997 closed

[2020-06-29 19:02] Rick-Anderson commented on #18996
LGTM

[2020-06-29 19:04] guardrex commented on #18996
@atykhyy ... Do you want to submit a PR?

If so, use the "Edit" (pencil) on the topic and follow the prompts to submit the change.

Search **_the whole topic for multiple lines_** that might need an update. We hold multiple versions of a topic in the same file. This sentence might appear two or more times.

When you open the PR, put ...

[code]

... in the opening comment so that this issue will a

[2020-06-29 19:32] halter73 commented on #18942
Yeah. This looks like a pretty big gap. Is this urgent?

[2020-06-29 19:46] #18996 closed

[2020-06-29 19:49] Rick-Anderson commented on #18942
No, but I'd like to have it completed  before Sept 1, 2020.

[2020-06-29 20:34] gregorvilkner opened #19001 "builder.HostEnvironment.BaseAddress should be the external API endpoint"
[Enter feedback here]

`client => client.BaseAddress = new Uri(builder.HostEnvironment.BaseAddress))`

I think this Uri should point to https://www.example.com/base - not to the HostEnvironment's BaseAddress.

kind regards,
Gregor
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53f3209c-2414-9b35-6245-383c9b7c6338
* Vers

[2020-06-29 20:46] guardrex commented on #19001
Hello @gregorvilkner ... In the hosted Blazor case, that URI is the *Server* app of the solution. The app serving the client-side app is also the app that's acting as the server API app. If you create an app from the template, you'll see the setting by default ...

[code]

See the second paragraph of https://docs.microsoft.com/aspnet/core/blazor/fundamentals/environments.

There's probably an oppo

[2020-06-29 20:52] mdarefull opened #19002 "Specify the required Nuget package for the "Database error page" section."
The "Database error page" refers to the usage of the "UseDatabaseErrorPage()" extension method but the nuget package it belongs to using explains how to (Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore) is not part of an ASP.NET core app by default causing confusion to readers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-06-29 20:53] gregorvilkner commented on #19001
Yup. I think the hosted blazor app b2c tutorial is one of the best in the aad realm I've seen in a long time. Excellent stuff!

After I did that and deployed the hosted blazor api+client app, I wanted to call the api from a stand alone blazor wasm client. In this case my api lives in azurewebsites.net and the calling client is on localhost:2345. I also ran into CORS issues there (duh...), maybe wo

[2020-06-29 20:59] guardrex commented on #19001
Speak of the devil, there's a CORS PR sitting up for review right now that should help on that one ...

https://github.com/dotnet/AspNetCore.Docs/pull/18939

... which will make it more prominent by making the content a **section** with a **header** that devs should be able to spot more frequently.

[2020-06-29 21:28] #18985 closed

[2020-06-29 22:39] mkArtakMSFT commented on #12828
@ericstj who would be best person to handle this?

[2020-06-29 22:39] #19002 closed

[2020-06-29 22:39] mkArtakMSFT commented on #10962
@ericstj another caching related issue.

[2020-06-29 23:22] #16747 closed

[2020-06-29 23:34] bessobesso opened #19005 "Serverside validation example"
Can you please show an example how to do serverside validation? I mean this:
**The form is further validated by passing the EditContext to the ServerValidate method that calls a web API endpoint on the server (not shown).**

"Not shown" does not help :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-

[2020-06-29 23:37] guardrex commented on #19005
Hello @bessobesso ... This is a duplicate of https://github.com/dotnet/AspNetCore.Docs/issues/17377. I'll get to it as soon as I can. 🏃😅

[2020-06-29 23:37] #19005 closed

[2020-06-30 00:04] Rick-Anderson opened #19007 "Column headers are required for tables. Add appropriate header text"
Any PR yields the following [complaints](https://review.docs.microsoft.com/en-us/help/contribute/validation-ref/column-header-missing):

Column headers are required for tables. Add appropriate header text. NOTE: This Suggestion will become a Warning in late September, 2020.

Fix this before  it becomes a warning. See https://review.docs.microsoft.com/en-us/help/contribute/validation-ref/column-hea

[2020-06-30 00:07] guardrex commented on #19007
I can't see the site ... it just means that *some text* must be in the header, correct?

[2020-06-30 00:08] Rick-Anderson commented on #19007
Column headers are required for screen readers. Without headers, users who can't visually scan the whole table before reading won't know what to expect from each column.

Add a header to each column that meaningfully describes the content of the column. The Markdown for a basic table with headers is as follows:

[code]

I don't see any Blazor complaints.

[2020-06-30 00:10] guardrex commented on #19007
Understood ..... I'll run a quick :eye: over the Blazor topics just to make sure. They're easy to reveal with a search filter on `| -`.

[2020-06-30 00:23] guardrex commented on #19007
Pardon my trolling :smile: :trollface: :smile: ... **_but_** .......

Likewise, users with screen readers that get link lists from a topic don't get information about a destination from "see this GitHub issue" link text either. I continue to support the title with GH issue # format. For example ...

For more information, see [Support for custom decoder in headers (dotnet/aspnetcore #23491)](https:

[2020-06-30 00:34] #17655 closed

[2020-06-30 00:34] #13599 closed

[2020-06-30 00:58] ericstj commented on #10962
cc @maryamariyan @eerhardt

[2020-06-30 01:00] ericstj commented on #12828
Per https://github.com/dotnet/runtime/blob/master/docs/area-owners.md  @maryamariyan @eerhardt
Though I'm not sure when we'll get to this as we're still ramping up.

[2020-06-30 01:01] ericstj commented on #10962
Also cc @sebastienros who made the change referenced here.

[2020-06-30 01:21] Rick-Anderson commented on #18651
@davidbuckleyni  just tested the code and it works fine. The type must be serializable.

[2020-06-30 01:21] #18651 closed

[2020-06-30 02:22] #18692 closed

[2020-06-30 02:44] #18438 closed

[2020-06-30 02:51] #16808 closed

[2020-06-30 03:40] #16323 closed

[2020-06-30 04:01] JamesNK opened #19011 "gRPC page that discusses WCF to gRPC"
A short summary of why migrating from WCF to gRPC makes sense, and link to ebook - https://docs.microsoft.com/en-us/dotnet/architecture/grpc-for-wcf-developers/

[2020-06-30 06:26] #16657 closed

[2020-06-30 08:06] voroninp opened #19013 "Example of WebApplicationFactoryContentRootAttribute usage?"
Thanks for the documentation. It is definitely getting better, yet having an example of proper usage of `WebApplicationFactoryContentRootAttribute` would be nice. And I'd move the section of ContentRoot resolution to be after the description of `WebApplicationFactory`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7788

[2020-06-30 09:03] IainCoSource opened #19014 "CustomIdentityProviderSample Update for LTS Releases .NET Core 2.1 and .NET Core 3.1"
# Issue description

CustomIdentityProviderSample is for .net core 1.1 (EOL June 27 2019) and has not been updated in 3 years and as such is not relevant to any current LTS

.NET Core 2.1 (August 21, 2021)
.NET Core 3.1 (December 3, 2022)

https://github.com/dotnet/AspNetCore.Docs/tree/live/aspnetcore/security/authentication/identity-custom-storage-providers/sample/CustomIdentityProviderSample

#

[2020-06-30 11:27] guardrex commented on #19007
The build system doesn't like it when the header text is an API cross-link. I saw an entry this morning for ...

... referring to this header ...

[code]

I'll patch that to just say "Render mode" in text.

[2020-06-30 11:35] guardrex commented on #19007
It doesn't like code either. It choked on ...

[code]

[2020-06-30 11:49] guardrex commented on #19013
Hello @voroninp ... It's an advanced scenario for the dev to use `WebApplicationFactoryContentRootAttribute` directly. The product unit only wanted to cover it to the extent of explaining how the framework uses it as you see at https://docs.microsoft.com/aspnet/core/test/integration-tests#how-the-test-infrastructure-infers-the-app-content-root-path. For more info, devs are suggested to access the

[2020-06-30 11:49] #19013 closed

[2020-06-30 12:55] DatenThielt opened #19016 "context.User.Identity.Name! returns null after following page"
VS Preview 16,7.0 3.1
.net core 3.1
New Blazor Server Project with Authentication

After following the page and despite the login working correctly,  The @context.User.Identity.Name! property returns null which contradicts the results shown in the screenshot

Are additional steps missing (Potentially permissions? in AAD B2C) that are required for this to work as shown?

(Sorry I cannot be more hel

[2020-06-30 13:11] #19016 closed

[2020-06-30 13:11] DatenThielt commented on #19016
Not related to this page, there is a spesific page for blazor, sorry!

[2020-06-30 13:13] mslot opened #19017 "Enhancement: Return context.Fail("reason")"
For a full and good example, you need to call `context.Fail("reason")` if the thumbprint isn't validated in the `OnCertificateValidated` event:

[code]

else the validation will always just authorize you, as i can see it.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b7960d-6de5-78ee-bc45-d7218239bbc8
* Version Indep

[2020-06-30 16:11] Marusyk opened #19018 "An unexpected error occurred invoking 'Init' on the server. HttpRequestException: Response status code does not indicate success: 404 (Not Found)"
I need some help because didn't find any information about the error [except this](https://docs.microsoft.com/en-us/aspnet/signalr/overview/testing-and-debugging/troubleshooting#404-not-found-error).

I have a simple Hub in my ASP.NET Core 3.1 application + Azure SugnalR Service

[code]
In Startup:
[code]
Sometimes, when I call `Init` method from C# client I get

[code]
What **404 (Not Found)** me

[2020-06-30 16:41] DatenThielt opened #19019 "Out of box AAD B2C not grabbing user.identity.name"
I have been following along the documentation for setting up a Blazor server app with AAD B2C found at the Linked article which also then points to the below link for AAD B2C

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/azure-ad-b2c?view=aspnetcore-3.1

This works to a point,  You get the login and user creation dialog which work,  and you can log in, be returned to the pa

[2020-06-30 16:52] guardrex commented on #19019
You can try what I placed in the WASM with B2C topic ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-azure-active-directory-b2c?view=aspnetcore-3.1#useridentityname

... which is related to the options config that you see in the topic that you linked at ...

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/azure-ad-b2c?view=aspnetcore-3

[2020-06-30 16:52] #19019 closed

[2020-06-30 17:29] DatenThielt opened #19020 "Following documentation but using Blazor Server results in Identity.Name being Null"
Following the linked document mostly works for Blazor Server however Once logged in,  The Identity.Name is null.

This is a similar issue to #17598 however using the default Blazor server project set it up using

`services.AddAuthentication(AzureADB2CDefaults.AuthenticationScheme)
                .AddAzureADB2C(options => Configuration.Bind("AzureAdB2C", options));`

and the fixes proposed are abo

[2020-06-30 18:03] guardrex commented on #19020
Noting here @CamSoper that this isn't really a "Blazor Server" issue. It's a general issue pertaining to any ASP.NET Core app. I don't have or recall the config for the `name` claim that pipes it through of the top of my head (and I'm off today 🏖️, so I can't look for it right now). I thought it was the linked example in the [WASM doc](https://docs.microsoft.com/en-us/aspnet/core/blazor/security/w

[2020-06-30 18:31] DatenThielt commented on #19020
I seemed to have found a fix for this, however I am not sure this is the correct process or just a new step that needs to be added.

I checked my B2C_1_SiUpIn applications claims,  And the only item that was selected was Identity Provider  (which I could see was being returned)

As a test I selected Display Name to be returned as well, and that seems to get picked up after logging in now?

Not sur

[2020-06-30 18:31] guardrex commented on #19020
HA! :smile: lol ..... I was just about to send you this message .............

@DatenThielt Make sure that in your app's signup/signin user flow that you have "Display Name" in the **Application claims** setting. I fired up my test app here, and that claim worked without any configuration at all in the app. Therefore, I think your problem is that Azure isn't sending it down. Also, you can read out

[2020-06-30 18:32] guardrex commented on #19020
Yes, we can close this now. You're good. This setting btw is actually covered in the Azure docs. We try not to carry detailed guidance for these sorts of things over here. We don't have the staffing to do it, and it would be a duplication of what they have over there.

[2020-06-30 18:32] #19020 closed

[2020-06-30 18:32] DatenThielt commented on #19020
Understood, yep can be closed! thank you!

[2020-06-30 18:40] serpent5 commented on #19014
The work for this is being tracked in #16679.

[2020-06-30 18:53] mkArtakMSFT commented on #18925
@SteveSandersonMS can you advice how this should actually work?

[2020-06-30 19:58] udlose commented on #16190
@Rick-Anderson why was this closed?  Has it been fixed?

[2020-06-30 20:00] udlose commented on #16389
@Rick-Anderson any update on this issue?

[2020-06-30 20:24] Rick-Anderson commented on #19018
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-06-30 20:24] #19018 closed

[2020-06-30 20:40] Rick-Anderson commented on #19014
closing for dup

[2020-06-30 20:40] #19014 closed

[2020-06-30 20:41] blowdart commented on #19017
Not correct. OnAuthenticationFailed() isn't needed, it will fail by default. That event is there if you want to actually capture the failure, and maybe accept it.

[2020-06-30 20:41] #19017 closed

[2020-06-30 20:48] Rick-Anderson commented on #18925
I think only Kestrel is supported.

[2020-06-30 20:51] guardrex commented on #18925
It seems like it would make sense to call it out there.

[2020-06-30 20:52] Rick-Anderson commented on #16190
This was tracking issues, It looks like they've all been closed.

[2020-06-30 20:53] Rick-Anderson commented on #16389
@udlose  please use the subscribe button to get updates.

[2020-06-30 20:54] Rick-Anderson commented on #18925
Yes, as soon as @SteveSandersonMS  approves.

[2020-06-30 20:56] harleydk opened #19021 "An introduction into gRPC could sure benefit from stating what the abbreviation actually stands for."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0db2d29c-ebfd-9c79-4b08-61fc5192f3c3
* Version Independent ID: 048d1977-93aa-f28a-60ec-6806dec3f70a
* Content: [Introduction to gRPC on .NET Core](https://docs.microsoft.com/da-dk/aspnet/core/grpc/?view=aspnetcore-3.1)
* Content Source: [aspnetcore/gr

[2020-06-30 21:04] udlose commented on #16389
I have been subscribed.  Haven't seen any updates and was checking in.

[2020-06-30 21:07] udlose commented on #16190
According to https://github.com/dotnet/AspNetCore.Docs/issues/16389#issuecomment-620126765 this Issue was supposed to include it.  I see it linked above under a "mention" but nothing else.  I was originally asked to follow both tickets for update.

[2020-06-30 21:19] Rick-Anderson opened #19022 "Replace all MSDN links in 4.x ASP.NET repo"
All doc's in https://github.com/dotnet/AspNetDocs
Run CI job per [this comment](https://github.com/MicrosoftDocs/iis-docs/pull/510#issuecomment-652047224)

Start with 100 links, then try 1000

[2020-06-30 23:19] Rick-Anderson opened #19023 "Identity takes care of samesite for you"
See https://github.com/dotnet/AspNetCore.Docs/issues/18057#issuecomment-611745065

Add Identity is largely unaffected by SameSite until you try to add advanced scenarios like IFrames or OpenIdConnect integration.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1945dedd-e2b8-37c1-2676-e473498bcb30
* Version Independent ID

[2020-06-30 23:21] #19023 closed

[2020-07-01 01:00] Rick-Anderson commented on #19021
It's in the link in the first sentence.

[2020-07-01 01:00] #19021 closed

[2020-07-01 01:57] rleath82 opened #19025 "Typo"
In the API permissions section, number 6: "Select the Grant admin content for {TENANT NAME} button"

"content" should be "consent"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 520b9821-ecef-20af-a601-ea36c4297d88
* Version Independent ID: da9c8ac9-4d7a-4b40-56a2-a4bfe7083567
* Content: [Secure an ASP.NET Core Blazor

[2020-07-01 02:19] wadepickett opened #19027 "Data and analysis request for .NET Learn modules/units"
Provide a May data/analysis report for .NET units/modules on the Learn platform.

[2020-07-01 02:20] wadepickett commented on #19027
Delivered on MS Teams on .NET channel.

[2020-07-01 02:20] #19027 closed

[2020-07-01 02:23] harleydk commented on #19021
No, I checked beforehand; that link does not lead to a page that explains what the abbreviation stands for. It should - but that's no excuse for this page in question.

[2020-07-01 03:06] #13900 closed

[2020-07-01 03:25] wadepickett commented on #19021
It's true, the gRPC open source site doesn't explain the acronym.   Not on the Intro, or the About.  It is hidden away in the FAQ.  https://grpc.io/faq/  and defines it as:  "What does gRPC stand for?  gRPC Remote Procedure Calls, of course!".

This article is intended for an audience that knows what gRPC is, and wants to create a gRPC service with .NET Core.  It is not an introduction to gRPC.  B

[2020-07-01 03:35] harleydk commented on #19021
Thanks @wadepickett for the insight. Ever the nit-picker, if "It is not an introduction to gRPC" the headline should probably be changed.
Don't want to be an a** about it, it's excellent documentation, I'm merely new to gRPC and understanding the acronym was the first that came to mind.

[2020-07-01 03:46] Rick-Anderson commented on #19021
@harleydk  consider opening an issue with https://grpc.io
We're not documentng gRPC, we're documenting the .NET implementation of it.

[2020-07-01 09:39] vklamka-oo-software opened #19029 "Is there a way to for loop through the models and execute add new scaffolded item->API Controller with actions, using Entity Framework?"
I have multiple entity classes in my models folder instead of just one like in this tutorial. It gets really tedious to add each controller manually. Is  there a way to automate that?

[2020-07-01 10:32] #19025 closed

[2020-07-01 11:09] #18828 closed

[2020-07-01 12:22] serpent5 opened #19033 "Suggestions for Blazor Routing"
Here's a few suggestions for this topic:

- A one-line example and explanation of `NavLink`'s `ActiveClass` might be helpful. The topic explains that `NavLink` toggles an `active` class, but doesn't suggest that it can use something else.
- The last `NavLink` example, which shows the rendered HTML output, includes the `rel` attribute, but this attribute isn't generated.
- *The following component

[2020-07-01 12:27] #18973 closed

[2020-07-01 12:32] lfrancke commented on #18973
Thank you!

[2020-07-01 13:35] dmartensson opened #19034 "Nowin project references is discontinued"
The Nowin project references is discontinued according to the owner so this guide should be revised as it should use active solutions.

As far as I can see there are no cross platform server suggested that supports websockets, since kestrel does not have that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34916983-6cf

[2020-07-01 14:12] SteveSandersonMS commented on #18925
As far as I'm aware, only Kestrel is supported when launching from the CLI.

[2020-07-01 14:13] guardrex commented on #18925
Thanks ... I'll update that line to surface the limitation.

[2020-07-01 15:25] darraghjones opened #19037 "List of Dos under "Avoid Blocking Calls" is missing suggestion"
Under the heading **Avoid Blocking Calls**, I feel like one of the suggested **Dos** should be:

- Do use Task.Factory.StartNew(..., TaskCreationOptions.LongRunning) to make a synchronus API asynchronous.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9599d917-4e43-f1ae-452a-1f11aaa985ed
* Version Independent ID: 5cc05

[2020-07-01 15:47] #18827 closed

[2020-07-01 16:15] simonziegler opened #19040 "Out of context example code"
Hi, there's a snippet of sample code on your page referencing a `_userManager` variable. This is really hard to understand because you give no context as to where that is supposed to go. Please explain context/destination for all code snippets otherwise other readers will have the same question as me: "where am I meant to put this, then?".

Otherwise many thanks of course for the docs. Simon
---
#

[2020-07-01 16:33] #19033 closed

[2020-07-01 17:33] mslot commented on #19017
I am talking about OnCertificateValidated. How am I else going to reject the request?

[2020-07-01 18:03] #18925 closed

[2020-07-01 18:59] guardrex commented on #19040
Hello @simonziegler ... Yes, it can be mentioned in text and/or more code can be shown. In general tho when there's a sample app available and the code in the topic is linked from it, you can look at the sample app, which is linked at the top of the topic. In this case ...

https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/signalr/authn-and-authz/sample/Pages/Account/Register.cshtml

[2020-07-01 19:34] clarkezone opened #19042 "Azure AD ambiguous"
[Enter feedback here]
Select app in azure AD.. this is ambiguous, there are many azure AD entries in the portal.  Please update /test these instructions with latest state of Azure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cc0b77a-df21-7007-5cec-4399d98c6dc6
* Version Independent ID: efe5ae5e-ff64-f1c7-6920-4512fc

[2020-07-01 19:36] #17763 closed

[2020-07-01 19:37] #18057 closed

[2020-07-01 19:39] guardrex commented on #19042
There's only one entry per app per tenant in the UI. The instruction is just saying to select the app that you intend to work with and then navigate to **Certificates & secrets**.

[2020-07-01 20:25] simonziegler commented on #19040
Thanks - I’ll do that

[2020-07-02 03:30] hoksource commented on #16422
Looking forward to new library.

[2020-07-02 04:50] danroth27 opened #19044 "Remove duplicate and unnecessary content and focus on the to do list tutorial"
Much of the content in this article is duplicated form the [new Blazor getting started tutorial](https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/intro). The proposal is to remove the duplicated content and focus this article on just the to do list tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab93de

[2020-07-02 04:51] danroth27 opened #19045 "Remove duplicate and unnecessary content from the to do list tutorial"
Much of the content in this article is duplicated form the [new Blazor getting started tutorial](https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/intro). The proposal is to remove the duplicated content and focus this article on just the to do list tutorial.

@guardrex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-07-02 04:54] danroth27 opened #19046 "Redirect to new Blazor getting started tutorial"
Now that we have the [new Blazor getting started tutorial](https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/intro) on the .NET site, we should retire this content and redirect to the new tutorial instead, keeping the existing TOC entry.

@guardrex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e7dc3c-54c4-35

[2020-07-02 11:41] kenleese opened #19048 "Broken link"
Near the bottom of the page this link rewards the supplicant with a 404:
Integrate components into Razor Pages and MVC apps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b7135b-b7a0-2fba-b846-530480aeb415
* Version Independent ID: 69e5b8fb-04e0-817e-434f-72cf6ba12923
* Content: [Migrate from ASP.NET Core 3.0 to 3.1]

[2020-07-02 11:43] #18900 closed

[2020-07-02 11:44] #18713 closed

[2020-07-02 11:51] guardrex commented on #19048
Thanks @kenleese ... The topic moved and this one was missed on the find-and-replace of links because these cross-links aren't normal XREF links ... they're relative links to the markdown files. I'll patch it up now.

[2020-07-02 11:56] #19048 closed

[2020-07-02 13:00] guardrex opened #19051 "Drop EF Core content from the Blazor DI topic"
Drop EF Core content after https://github.com/dotnet/AspNetCore.Docs/pull/18981 merges.

@JeremyLikness Please confirm my plan here. After we merge and take your PR content live, I'll circle back around and work this issue to delete the EF Core section from the DI topic ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/dependency-injection?view=aspnetcore-3.1#use-of-entity-fram

[2020-07-02 13:19] abrantie1z commented on #18987
@serpent5 , An answer i have on my Question on StackOverflow is that, both conventional route and attribute routes have their own middleware, how through is that?

[2020-07-02 13:31] #17189 closed

[2020-07-02 14:26] scottaddie commented on #18940
@mkArtakMSFT Any thoughts? I don't want to wait too much longer, as Chris has time right now to work on this.

[2020-07-02 14:33] guardrex commented on #18940
If Chris doesn't have time, assign me and mark this a P1 for *fastest service* 🏃. I'm actually working in the P2 area right now, so this would be addressed quickly after I have your, Artak, feedback on the direction to take with it.

[2020-07-02 15:24] pheuter opened #19054 "Unclear how to customize the Authentication component to persist tokens in local storage"
The default implementation is to persist the JWT from AD B2C user flow in [sessionStorage](https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage), which gets cleared after the browser window closes. I would like to implement more persistent auth sessions by storing and retrieving the token in [localStorage](https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage), but

[2020-07-02 15:36] guardrex commented on #19054
Hello @pheuter ... Correct, we don't cover that scenario. For one thing, there are security considerations for that approach that engineering might not be too keen on. In any case, that scenario is left to the developer and community (SO, blogs, GH samples, 3rd party packages, etc.). Check the samples at Awesome Blazor to see if that scenario is covered and hit up the usual support channels to tra

[2020-07-02 15:36] #19054 closed

[2020-07-02 16:21] JeremyLikness commented on #19051
@guardrex That is correct - confirmed. /cc @danroth27 and @javiercn

[2020-07-02 20:55] #19045 closed

[2020-07-02 20:56] Rick-Anderson commented on #19029
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-07-02 20:56] #19029 closed

[2020-07-02 20:57] Rick-Anderson commented on #19042
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2020-07-02 20:57] #19042 closed

[2020-07-02 20:58] Rick-Anderson commented on #19040
You can see it when you scaffold Identity. It's shown in https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity

[2020-07-02 20:58] #19040 closed

[2020-07-02 20:59] Rick-Anderson commented on #19037
@mjrousos should I add that?

[2020-07-02 21:02] Rick-Anderson commented on #19034
@Tratcher  should I remove the section [Using ASP.NET Core Hosting on an OWIN-based server](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/owin?view=aspnetcore-2.1#using-aspnet-core-hosting-on-an-owin-based-server) which features Nowin?

[2020-07-02 22:12] Tratcher commented on #19034
Kestrel supports Upgrades, and WebSockets are supported on top of that via middleware. Do you mean there's no OWIN WebSocket middleware?

It's still useful as an example. @dmartensson any suggestions for an active project to replace it with?

[2020-07-03 00:25] dmartensson commented on #19034
Hi

No, unfortunately I have not found any I could recommend and no guide to
websockets on kestrel.

For most parts I can just start a webapi project under IIS, but in this
case I was trying to build a webserver into a library and that proved to be
a bit more of a problem ;)

A quick search found these but I have not tested any of them yet so I do
not know if they are solving the problem:
https://

[2020-07-03 00:27] Tratcher commented on #19034
Here are the websocket docs: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/websockets?view=aspnetcore-3.1

You don't need OWIN for cross platform support, Kestrel already covers that.

[2020-07-03 03:15] #19046 closed

[2020-07-03 05:07] RavishKumar3788 commented on #8261
Hi @jenergm ,

if you could provide the complete code, that would be a great help.

Thanks

[2020-07-03 07:59] dmartensson commented on #19034
Hi

are you sure it works with Kestrel.
According to the documentation you linked IIS or HTTP.sys is a prerequisite

Prerequisites

   -

   ASP.NET Core 1.1 or later
   -

   Any OS that supports ASP.NET Core:
   - Windows 7 / Windows Server 2008 or later
      - Linux
      - macOS
   -

   If the app runs on Windows with IIS:
   - Windows 8 / Windows Server 2012 or later
      - IIS 8 / IIS 8 E

[2020-07-03 08:03] davidfowl commented on #19034
Yes websockets works with kestrel 😄 .

[2020-07-03 09:15] tongzhipeng opened #19062 "razor tutorial docment typo"
[Enter feedback here]
there is a typo in the "Use SQLite for development, SQL Server for production" section under "visual studio code" tab.
 services.AddDbContext<**MovieContext**>(options =>   should be
 services.AddDbContext<**RazorPagesMoiveContext**>(options =>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f0

[2020-07-03 09:30] tongzhipeng commented on #19062
I found some more errors, like the step in "Scaffold the movie model" section will fail because  RazorPagesMovieContext already exists,  it's kinda like that the document under "visual studio code" tab is not maintained anymore.
actually, I'm not a big fan of "VS Code",  I just want to learn more details other than just use Visual Studio's Wizzard and Menus.  Well,  since they are some errors, and

[2020-07-03 11:39] dmartensson commented on #19034
Then that might be mentioned as many threads I found suggested that it was not supported, so I did not even bother trying. :)

[2020-07-03 11:51] jenergm commented on #8261
Hi @RavishKumar3788 , how are you?

What you need actually? That is all the solution... is the Extension Method for IActionDescriptorCollectionProvider...

Best regards,

[2020-07-03 14:18] brechtvhb opened #19074 "UseCors & UseRouting / UseAuthentication"
Please put in the documentation that calling UseCors must happen before UseRouting and USeAuthentication. Our team spelt half a day to found out why we were having authentication issues on Preflight requests.

Refering to his page: https://docs.microsoft.com/en-us/aspnet/core/signalr/security?view=aspnetcore-3.1

[2020-07-03 14:50] davidbuckleyni opened #19078 "Access denied when using this guide."
[Enter feedback here]
When I follow the steps in this guide I still get access deined when I log in my user who belongs to manager.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25051544-0e4d-1715-95b7-3a8616475127
* Version Independent ID: 50736569-fc04-ec6d-7b33-a3e0c860b1ed
* Content: [Claims-based authorization in

[2020-07-03 15:16] guardrex opened #19079 "Confirm zone pivot setup"
WRT getting zone pivots working ...

The guidance doesn't address the folder structure of this doc set, so it took some trial-and-error to figure out that the JSON filepath should have a `core` segment (`core/zone-pivot-groups.json`) to make zone pivots work here.

Here's the current setup ...

### `zone-pivot-groups.json` (in the `aspnetcore` folder)

[code]

### `.openpublishing.publish.config.j

[2020-07-03 15:23] guardrex commented on #19074
@brechtvhb ... Recommend that you close this and re-open it using the **This page** feedback button and form at the bottom of the topic. It will add metadata that automatically pings the author ... you'll get a faster response.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

[2020-07-03 15:29] serpent5 opened #19080 "Link to sample downloads is incorrect"
*View or download sample code* points to https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/common, but that doesn't seem to be right.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a32115-33f8-7d06-aaf0-b8ce918b5527
* Version Independent ID: 31ad18df-1904-bbdd-cfed-8d0d0267c10e
* Content: [Create and u

[2020-07-03 15:30] guardrex commented on #19080
Thanks @serpent5 ... I'll fix it right now. It escaped my re-linking efforts when we did the ToC shakeup.

[2020-07-03 15:36] #19080 closed

[2020-07-03 16:34] BrunoBlanes commented on #17444
@bradygaster  Thanks, I will look into using SignalR again soon, I've changed focus for now.

[2020-07-03 16:36] paulomorgado opened #19083 "Controller should not be tested as any other class"
The whole point of controllers is to leverage filters, routing, model binding and serialization/deserialization.

"business" logic should be implemented by injected services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5cce372-24e2-3489-cb19-c85d934e5d3b
* Version Independent ID: 9d12b19f-a94e-4df4-357b-3f3b93696eb

[2020-07-03 16:37] #17444 closed

[2020-07-03 17:26] serpent5 commented on #18977
@guardrex Did you intend to ping Artak on this?

FWIW, I think Ryan's comments are accurate. `EventCallback` has an `InvokeAsync(object arg)` method but `EventCallback<TValue>` has an `InvokeAsync(TValue arg)` method. The former is weakly-typed because you can pass anything in place of the `object`, but the latter is strongly-typed because the value passed in must be assignable to `TValue`.

[2020-07-03 17:37] guardrex commented on #18977
Artak sees these when he has time to triage issues. By not pinging him, he's not disturbed with an email; but by addressing him by name, readers know (and he knows) that I'm addressing my remarks to him.

Thanks for calling out the detail on it. I'll add/modify the text to clarify it.

[2020-07-03 17:49] #19074 closed

[2020-07-03 17:51] brechtvhb opened #19084 "HTTP401 exception in OPTIONS preflight because of unclarity in documentation."
Please put in the documentation that calling UseCors must happen before UseRouting AND UseAuthentication. Our team spent half a day to find out why we were having authentication issues on preflight requests.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8af11946-ea05-3be2-6fa1-c4c01aa76d8c
* Version Independent ID: 58

[2020-07-03 20:13] linda-dge opened #19085 "This tutorial is not complete for the latest versions."
The first error was UseInMemoryDatabae and it continued from there.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://docs.microsoft.co

[2020-07-03 20:29] Rick-Anderson commented on #19085
It works with 3.1, not sure about 5.0 preview.

[2020-07-03 20:29] #19085 closed

[2020-07-03 20:30] Rick-Anderson commented on #19078
This doesn't have a complete sample but is an overview.

[2020-07-03 20:30] #19078 closed

[2020-07-04 00:30] Nhawdge opened #19086 "Clarification request for "Apply Migration" in the troubleshooting step."
I'm having issues getting my database to create the required tables for auth. The segment below specifically applies to me. But I have no idea where 'Apply Migrations' is selected from. I'm using `dotnet` cli and VS Code with MySql.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d19b295-f935-3755-4ca4-9d0717b21e75
* V

[2020-07-04 04:31] Rick-Anderson commented on #19086
We don't support MySql. Can you use SQLite or SQL Server?

[2020-07-04 04:31] #19086 closed

[2020-07-04 13:54] serpent5 opened #19090 "Suggestions for Blazor Components Overview"
Here's a few suggestions for this topic:

- Component classes | Namespaces:
The `using` and fully-qualified examples both use a different project name (`BlazorApp` vs `BlazorSample`).
- Child Content:
I noticed that it's possible to use multiple `RenderFragments` for different sections of child content. I think this is just "Templated components", but it might be helpful to reference those here to

[2020-07-04 14:48] guardrex commented on #19090
Thanks ... all bugs should be fixed asap, and other suggestions for less critical updates can be addressed at the same time.

[2020-07-04 16:25] Tratcher commented on #19034
That says `If the app runs on Windows with IIS:`.

The doc never mentions Kestrel because Kestrel doesn't have any prerequisites for WebSockets, it just works. It might be worth mentioning Kestrel for clarity though.

[2020-07-04 21:03] serpent5 opened #19092 "Suggestions for Blazor Cascading Values & Parameters"
Here's a few suggestions for this topic:

- The topic talks of the _sample app_, but doesn't include *View or download sample code (how to download)*, or show where to find the sample app.
- The `CascadingValuesParametersTabSet` snippet doesn't show the `@page` or `@code` directives, but the `CascadingValuesParametersTheme` snippet does. That means one can be copy/pasted as is, but the other can't

[2020-07-04 21:43] amoraitis opened #19093 "Custom policy provider - IAuthorizationPolicyProvider link results in GitHub's 404"
Clicking the `Custom policy provider - IAuthorizationPolicyProvider` results in a 404 page.

https://github.com/dotnet/AspNetCore/tree/release/2.2/src/Security/samples/CustomPolicyProvider

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82950389-524e-0754-a125-addeccbdb1b3
* Version Independent ID: 80b7f7cf-dc2e-137a-5a

[2020-07-05 00:09] rledyard opened #19094 "The Enforce HTTPS in ASP.NET Core page appears to have an error."
The page in question:
[Enforce HTTPS in ASP.NET Core] (https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.1)

The command:

is not a valid command. I am using SDK 3.1.301 on Linux.

This is the output for the command:

Nowhere in the help text above is the option "--trust" mentioned. Perhaps it was removed as an option in an earlier version of the SDK, and the do

[2020-07-05 00:15] Rick-Anderson commented on #19093
2.2 is out of support.

[2020-07-05 01:25] kewalaka opened #19095 "dotnet-aspnet-codegenerator typo"
The "scaffold a controller" section for Visual Studio Code has a typo:

https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-3.1&tabs=visual-studio-code#scaffold-a-controller

It says to run "dotnet aspnet-codegenerator", but should be "dotnet-aspnet-codegenerator" (missing hyphen).

Also, this line will not work until you restart the terminal in Windows.

---
####

[2020-07-05 01:27] #19095 closed

[2020-07-05 01:29] kewalaka commented on #19095
duplicate of #16997

[2020-07-05 01:32] kewalaka commented on #16997
@joffarex I didn't need to change the path, but i did have to restart the terminal, I think that should be noted in the docs?

[2020-07-05 03:19] jarrettv opened #19096 "Creating routing-integrated middleware missing attribute consumption example"
In the section **Creating routing-integrated middleware** there is no example of checking for the attribute metadata. The doc shows how to create a proper attribute, but I'm left wondering how do I check the attribute value in my custom middleware.

Also there is a typo in the last C# example in this doc: **RequrireAuthorization();**

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-07-05 03:39] Rick-Anderson commented on #19096
I don't see a typo in `RequrireAuthorization` in the two examples.

Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider. We'll also reconsider this issue in the next doc update.

[2020-07-05 05:48] joffarex commented on #16997
@kewalaka Yes indeed. even what i wrote about changing the path must have been in docs.

[2020-07-05 12:42] serpent5 commented on #19094
The `--trust` option isn't available on Linux.

[2020-07-05 15:24] jarrettv commented on #19096
Don't see typo "Requrire" 🤷

[2020-07-05 19:08] Rick-Anderson commented on #19094
@rledyard  you need to follow the Linux instructions, not the windows

[2020-07-05 19:08] #19094 closed

[2020-07-05 20:30] rledyard commented on #19094
@serpent5  > The `--trust` option isn't available on Linux.
If it's not available, then why does it state under the heading = "Troubleshoot certificate problems", subheading = "_All_ platforms - certificate not trusted" - to use the command with the "--trusted" option? I think that needs to be clarified.

@Rick-Anderson > you need to follow the Linux instructions, not the windows
Maybe I'm too den

[2020-07-05 21:29] Rick-Anderson commented on #19096
@serpent5  added label [GII](https://github.com/dotnet/AspNetCore.Docs/labels/GII)

[2020-07-06 01:13] kenleese opened #19097 "Typo in PutAsJsonAsync example"
This PutAsJsonAsync example code:
var content = response.content.ReadFromJsonAsync<WeatherForecast>();
should instead be:
var content = response.**Content**.ReadFromJsonAsync<WeatherForecast>();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b5e2e10-ff7b-2b9f-84da-f16028ae2c53
* Version Independent ID: c7e59a08-1c60-3

[2020-07-06 01:20] kenleese opened #19098 "Typo in Handle Errors Note"
In the **Handle Errors** section, the word "exception" is misspelled as "excpetion ".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b5e2e10-ff7b-2b9f-84da-f16028ae2c53
* Version Independent ID: c7e59a08-1c60-32c2-75fd-33cb77ff7a5d
* Content: [Call a web API from ASP.NET Core Blazor WebAssembly](https://docs.microsoft

[2020-07-06 01:22] guardrex commented on #19098
Thanks @kenleese ... I'll patch this and https://github.com/dotnet/AspNetCore.Docs/issues/19097 right now.

[2020-07-06 01:27] #19097 closed

[2020-07-06 01:27] #19098 closed

[2020-07-06 08:37] Truong072348 opened #19100 "IE mode in Edge Chromium with Blazor"
We have blazor application that requires Edge Chromium to run.
Everything is perfect, but in IE mode, my project doesn't work.
My question is: Is Blazor supported in IE Mode?
If possible please give me material about this
Regards.

[2020-07-06 10:27] DM2489 opened #19101 "OpenIDConnect to ADFS example"
There is no example for connecting to on-site AD FS (2016, 2019 etc) installations using OpenIDConnect. It would be helpful if this was added!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59d6d442-8d46-3f9e-e75a-ad9d900fc117
* Version Independent ID: d07c4058-452f-cdac-c59d-8f09e70a43f3
* Content: [Authenticate users

[2020-07-06 11:16] guardrex commented on #19100
Hello @Truong072348 ... For Blazor Server, it might run with polyfills. You can try using the [Polyfill.io bundle](https://polyfill.io/v3/). Blazor WebAssembly isn't supported.

https://docs.microsoft.com/aspnet/core/blazor/supported-platforms

[2020-07-06 11:16] #19100 closed

[2020-07-06 12:54] #19090 closed

[2020-07-06 12:54] #19092 closed

[2020-07-06 12:59] #18866 closed

[2020-07-06 12:59] #18938 closed

[2020-07-06 13:04] #19001 closed

[2020-07-06 13:56] borgershj opened #19104 "Your example gives compile error"
In your example you get a compile error for the line  "" using (var scope = host.Services.CreateScope())"

I found out it can be fixed byo adding

using Microsoft.Extensions.DependencyInjection;

to resolvethe "CreateScope()" issue
---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 03221075-5dfa-d1b6-0552-3f

[2020-07-06 13:59] borgershj commented on #19104
Oeps, works OK, did not copy everything

[2020-07-06 13:59] #19104 closed

[2020-07-06 14:02] #17955 closed

[2020-07-06 15:17] #18439 closed

[2020-07-06 15:28] captainsafia opened #19108 "[Blazor] Remove content about installing JS Debugger (Preview)"
[EDIT by guardrex to add the metadata]

Per the [vscode-js-debug docs](https://github.com/microsoft/vscode-js-debug#nightly-extension), as of last month's release, the debugging adapter is included by default in VS Code.

We should remove the directions in our debugging docs that ask users to install the extension so they don't end up using the nightly.

---
#### Document Details

⚠ *Do not edit t

[2020-07-06 15:50] #17939 closed

[2020-07-06 15:50] tongzhipeng commented on #19062
the document under "Visual Studio" tab is perfect, I haven't met any problems, thanks for your work, "Razor" is fantastic new technology!

[2020-07-06 16:30] javiercn opened #19113 "Add section for loading PEM keys"
[EDIT by guardrex to add the metadata]

In 5.0 we added support for loading certificates in PEM format and keys in PEM format. We added a new property `KeyPath` in the certificate config to indicate the path to a PEM key file in PKCS8 format (the PKCS8 format bit is important).

Essentially you can pass a certificate and a key separately and the key can be optionally protected with a password spec

[2020-07-06 19:35] captainsafia opened #19116 "Add docs on trusting dev certificates to Blazor tooling"
[EDIT by guardrex to add the metadata]

The Blazor tooling docs should provide a reference on how to trust dev certificates. Similar to what the [ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/getting-started/?view=aspnetcore-3.1&tabs=macos) docs do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa3e99ba-c

[2020-07-06 19:37] #19108 closed

[2020-07-06 20:27] #18977 closed

[2020-07-06 22:09] scottaddie opened #19117 "Add what's new page for June 2020"

[2020-07-06 22:13] scottaddie opened #19118 "Add what's new page for July 2020"

[2020-07-06 22:26] #19117 closed

[2020-07-07 00:30] rleath82 opened #19119 "Access to Login Page Blocked by CORS Policy"
Hello, I've tried this tutorial many times and I keep getting the same error when I try to navigate to the login page. The error I'm getting is:

![error](https://user-images.githubusercontent.com/38876176/86674923-2ea23180-bfc7-11ea-966c-9b9749f5a5d7.PNG)

Any idea what I can do to fix this?

Thanks for your time,

Bob

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-07-07 07:26] VergilPrime opened #19120 "Where do the options get added to the EmailSender instance?"
I'm stuck, this documentation explains how to put the API key into the secrets but not how/when to retrieve the secrets and set them into the options instance in the EmailSender. I'm going to keep chipping away at this but it might be helpful to add this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1bea60-d173-f6d

[2020-07-07 10:14] LaughingJohn commented on #18901
Thanks @guardrex - I'd never heard of it if that's any consolation! Curiosity killed the cat and all that...  :)

[2020-07-07 10:57] guardrex commented on #19119
Your `Authority` doesn't look right in your *Client* app. Looks like you have the wrong tenant domain in there (`findastage` and `findastageb2c` seem to be in conflict). Try ...

[code]

In the *Server* app, your `Instance` should probably be `https://findastage.b2clogin.com/`, and the tenant `Domain` should probably be `findastage.onmicrosoft.com`. Either that, or `findastageb2c` should appear in

[2020-07-07 10:57] #19119 closed

[2020-07-07 12:08] jja256 opened #19122 "Page Lacks needed documentation."
This page lacks instructions. It should state that you must add the Nuget package before any of this code works. Was very confusing and I spent 30 mins looking for the answer that stumbled across in another video from Udemy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2c6faa2-8c65-073b-4988-672c1aa9690c
* Version I

[2020-07-07 12:13] guardrex commented on #19007
Was this fixed by https://github.com/dotnet/AspNetCore.Docs/pull/19114?

[2020-07-07 12:25] #17966 closed

[2020-07-07 12:58] guardrex commented on #16330
I'm going to close now. Engineering management hasn't remarked further. These topics have received a number of improvements since this issue was opened, including improvements to the *Lifecycle* topic. We also have all of the API doc cross-links in place, which would've probably helped at the time.

Thanks for the feedback and discussion @ShawnDigital.

[2020-07-07 12:58] #16330 closed

[2020-07-07 13:12] guardrex opened #19124 "Bad Blazor navigation UE"
@scottaddie ... Can u advise on this one?

When a dev finishes the new Blazor Get Started experience at https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/next, we want them to follow the link ...

<img width="729" alt="Capture2" src="https://user-images.githubusercontent.com/1622880/86785733-ac4a5980-c028-11ea-843c-80691ef807e8.PNG">

...  to the Blazor todo list tutorial at ...

https://d

[2020-07-07 14:13] tealbert1943 opened #19125 "Incorrect instructions in tutorial 7"
I ran into a problem in Part 7. The instructions said to “Create a Pages/Courses/DepartmentNamePageModel.cs file with the following code:” But following the instructions resulted in several errors in the code.  Comparing with the completed app, it appears that the intent was to create a DepartmentNamePageModel.cshtml.cs file.

It wasn't clear how to create the DepartmentNamePageModel.cshtml.cs fil

[2020-07-07 15:09] serpent5 opened #19126 "Typo in Blazor Integrate Components"
In the "Prepare the app" section, there's a teeny tiny typo:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ece35a86-683b-8da0-e293-b44adc69eb79
* Version Independent ID: 87df7421-7270-4c4e-f2c2-2382e472258d
* Content: [Integrate ASP.NET Core Razor components into Razor Pages and MVC apps](https://docs.microsoft.com/en

[2020-07-07 15:11] serpent5 opened #19128 "TableFooter unused in Blazor Templated Components"
The example code shows a `TableFooter` parameter that isn't used by the consuming component. I think this could just be removed without losing any value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 698a8824-7a38-70d6-c041-0dca4c040217
* Version Independent ID: ae663e33-6a08-0b24-aa19-3fc3c9edccfc
* Content: [ASP.NET

[2020-07-07 15:18] guardrex commented on #12569
We have coverage for this ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/additional-scenarios?view=aspnetcore-3.1#reflect-the-connection-state-in-the-ui

**_but_** ... there is an **important** implementation hole in the coverage because adding the `<div>` displays it on initial render. The classes are modified correctly by the framework thereafter. Therefore, the dev has to

[2020-07-07 15:30] #12569 closed

[2020-07-07 15:30] #19126 closed

[2020-07-07 15:45] #19128 closed

[2020-07-07 15:56] vtherry commented on #17319
Like @ahlurien I had to confiure the audience in my server app to "api://{server app id}/API.Access" to make it work.
I am using AAD and I followed the doc https://docs.microsoft.com/fr-fr/aspnet/core/blazor/security/webassembly/hosted-with-azure-active-directory?view=aspnetcore-3.1

[2020-07-07 17:39] guardrex commented on #19122
Doesn't it say that in the first bullet of ...

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/facebook-logins?view=aspnetcore-3.1#create-the-app-in-facebook

[2020-07-07 17:43] guardrex commented on #18864
@mkArtakMSFT ... Are you still interested in doing this? It's a break from the approach taken for ASP.NET Core docs ... i.e., performance **_isn't_** considered a "fundamental" concept the way the topics are laid out today.

[2020-07-07 17:57] Rick-Anderson commented on #19120
For more information, see the Options pattern and configuration.

[2020-07-07 17:57] #19120 closed

[2020-07-07 17:58] #19007 closed

[2020-07-07 18:01] Rick-Anderson commented on #19125
No, see https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/data/ef-rp/intro/samples/cu30/Pages/Courses/DepartmentNamePageModel.cs

[2020-07-07 18:01] #19125 closed

[2020-07-07 18:02] #19122 closed

[2020-07-07 18:26] guardrex commented on #18778
Closing as fixed.

[2020-07-07 18:29] guardrex commented on #17651
This looks like it's going to be on the backlog in engineering for quite some time. We'll open a new issue if/when they take it on. Closing for now.

[2020-07-07 18:34] guardrex commented on #18403
@floreseken ... Looks like after moving over to the mono repo that they're classifying it as an engineering/product issue. They'll *hopefully* resolve it. I'll keep an :ear: open for more feedback, but it isn't really actionable to just say 'it might take several seconds to start' when I have no idea what the scope of the problem is (i.e., what causes it and how many users are affected). I'll keep

[2020-07-07 18:34] #18403 closed

[2020-07-07 18:39] guardrex commented on #18743
I think that we have this fairly well covered for Azure AD (but not B2C yet ... that's another open issue right now) for the Azure roles and groups. It should work based on the guidance that we have. If you have an edge case tho that we don't currently cover, talk to devs on the normal support channels ...

* [Stack Overflow](https://stackoverflow.com/questions/tagged/blazor)
* [ASP.NET Core Slack

[2020-07-07 18:39] #18743 closed

[2020-07-07 19:05] guardrex commented on #18924
Let's ask @VinceSmith ... Vince, we haven't met. I found that you contributed to the Azure doc ...

**Administrator role permissions in Azure Active Directory**
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#role-template-ids

... so you might either know the answer to my questions here or be able to ping someone who can help.

The question

[2020-07-07 19:29] serpent5 commented on #18988
@Rick-Anderson I can fix these typos. Do you know what that last sentance was going for?

[2020-07-07 20:08] #19116 closed

[2020-07-07 20:36] Rick-Anderson commented on #18988
Just remove `git add`
I would make it
Clicking **Delete** deletes the entity, unless `RowVersion `has been updated.
I wouldn't address setDbErrorMessage right now.

[2020-07-07 20:41] joshball commented on #13258
Hi @guardrex,

The [documentation here](https://docs.microsoft.com/en-us/aspnet/core/blazor/components/?view=aspnetcore-3.1#attribute-splatting-and-arbitrary-parameters) is sufficient. However, when I [searched for `AdditionalAttributes`](https://docs.microsoft.com/en-us/search/?scope=ASP.NET%20Core&view=aspnetcore-3.1&terms=AdditionalAttributes) I cannot find the documentation.

![image](https://

[2020-07-07 20:45] giuliano-barberi-tf opened #19134 "Page still claims grpc-web support is experimental"
One of the documentation pages still says ".NET Core has experimental support for gRPC-Web. Visit Use gRPC in browser apps for more information." However, grpc-web is now supported: https://devblogs.microsoft.com/aspnet/grpc-web-for-net-now-available/ so this makes it a bit confusing to newcomers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-07-07 20:47] guardrex commented on #13258
I believe the filters are **_title based_**. We don't have search term indexing as far as I know.

Your best bet for these types of searches isn't to use that search system but to go with a good 'ole Google search. Search for it this way in Google ...

[code]

[2020-07-07 20:48] guardrex commented on #13258
Also ... btw ... it's best not to comment on closed issues and PRs. Feel free to open a new issue using the **This Page** feedback button+form at the bottom of a topic.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

[2020-07-07 21:07] joshball commented on #13258
I will send feedback. Thanks

[2020-07-07 21:08] guardrex commented on #13258
I mean that just opens the issue for us, so it's the same answer. If you want to open feedback about the search feature itself, open an issue here ...

https://github.com/MicrosoftDocs/feedback/issues

[2020-07-07 22:07] bessobesso commented on #17377
In Blazor WebAssembly app when I create custom validator and call GetService (which I added in Main method) on Validation Context, it always returns null.

[2020-07-08 00:37] yuhuaguo899 opened #19135 "cannot find MVC View from my search, only found razor view i am using vs studio 2019"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 788d46c9-a91a-2788-8db7-b53c37b512f2
* Version Independent ID: 00c2c01d-d235-2d2d-5c96-1f33a9314382
* Content: [Part 3, add a view to an ASP.NET Core MVC app](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-view?view=aspnet

[2020-07-08 00:42] Rick-Anderson commented on #19135
To report Visual Studio problems
**Help > Send Feedback > Report a Problem**

![image](https://user-images.githubusercontent.com/3605364/52737321-27145f80-2f70-11e9-8eb0-828478541672.png)

[2020-07-08 00:42] #19135 closed

[2020-07-08 00:45] Rick-Anderson commented on #19101
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider. We'll also reconsider this issue in the next doc update.

[2020-07-08 00:45] #19101 closed

[2020-07-08 00:46] #19134 closed

[2020-07-08 00:47] Rick-Anderson commented on #19084
See https://docs.microsoft.com/en-us/aspnet/core/security/cors

[2020-07-08 00:49] Rick-Anderson commented on #19084
The first example shows before routing and the doc links right away to the CORS doc.

[2020-07-08 00:49] #19084 closed

[2020-07-08 00:50] Rick-Anderson commented on #19083
Moved to #15839

[2020-07-08 00:50] #19083 closed

[2020-07-08 06:23] floreseken commented on #18403
fair enough

[2020-07-08 09:30] mogaozq opened #19138 ""changes to the JSON configuration file after the app has started are read""
"... changes to the JSON configuration file after the app has started are read".
Do you mean after the app has started to listening to requests (after calling Configure and ConfigureServices)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed39cb0e-aa85-8bba-ffb4-859b56a60723
* Version Independent ID: dc7e3449-650b-d11

[2020-07-08 11:28] guardrex commented on #19124
Same problem with the security node cross-links. When I select the "CORS section" link in the following section ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/call-web-api?view=aspnetcore-3.1#cross-origin-resource-sharing-cors

... it doesn't show the Blazor ToC node for the link after it opens at `https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/additional-scenar

[2020-07-08 13:28] javiercn opened #19141 "Docs for HTTPS on WSL"
Trust and export the HTTPS developer certificate from the windows machine with `dotnet dev-certs https -ep https.pfx -p <<password>> --trust`

Run the following command `dotnet dev-certs https --clean --import <<path-to-pfx>> --password <<password>>`
**Warning:** This will replace any existing asp.net core localhost dev-cert from your wsl distro with the certificate from your host machine.

After

[2020-07-08 13:41] guardrex commented on #18268
Given the workload, I don't want to waste time (thus 💰) testing something that should work. There haven't been any new issues or further comment on this one, nor has management called for any action.

We'll keep an :ear: open for more feedback in this vein.

[2020-07-08 13:41] #18268 closed

[2020-07-08 13:58] mjrousos commented on #19037
This one's tricky. Creating new tasks as LongRunning could help to avoid ThreadPool starvation, but it's very situational. You wouldn't want to use it, for example, if you didn't already have issues with thread pool exhaustion, and you definitely wouldn't want to use it if the task was IO-bound and could be done in an *actually* async way.

In the past, our recommendation has been to not use LongR

[2020-07-08 14:01] stephentoub commented on #19037
We should not add that as a recommendation.  LongRunning is essentially equivalent to `new Thread(...).Start()` and should be used exceedingly sparingly.

[2020-07-08 14:36] darraghjones commented on #19037
I expect there are many existing APIs which are I/O bound, but synchronous.

Assuming the below was a third party library, which you are unable to change, how would you call an API such as this, while avoiding thread starvation?

[code]

In my experience, `Task.Factory.StartNew(..., LongRunning)` is the only way I could find.

[2020-07-08 14:43] stephentoub commented on #19037
Get the library to change its implementation, or don't use it.  I realize that's easier said than done, but no matter how you invoke this, it's going to result in inefficiencies.  Using `LongRunning` isn't a best practice here; it's a band-aid that will end up having its own problems.  For example, if you wanted to download 10,000 stock prices and did `Task.WhenAll(from stock in stocks select Task

[2020-07-08 16:46] Rick-Anderson commented on #19138
yes

[2020-07-08 16:46] #19138 closed

[2020-07-08 17:01] c0g1t8 opened #19143 "Selecting target framework to 3.1 is not available"
I was doing a walkthrough for Visual Studio for Mac and found a discrepancy. Under [Create a hosted Blazor WebAssembly app project](https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-blazor-webassembly?view=aspnetcore-3.1&tabs=visual-studio-mac&source=docs#create-a-hosted-blazor-webassembly-app-project), step 4 implies the ability to change the target framework.

![image](https://user-

[2020-07-08 17:03] guardrex commented on #19143
Thanks ... I'll put a fix in for that right now. I just put a PR up where I can tack it on.

The VS4Mac UI is under **_contstant_** flux as the new features roll into it. Thanks for reporting this one.

[2020-07-08 17:20] guardrex commented on #19143
@c0g1t8 ... Idk if this is a Blazor-only thing. Do you happen to know (or can you check) if you create a Razor Pages or MVC project and that **Target Framework** entry has also gone away? If so, I need to fix this in two of our tutorials.

My iMac is buried in the closet and will take 15 minutes to fire up. Greatly appreciated if you could walk thru the setup for a Razor Pages project just far eno

[2020-07-08 17:27] #17913 closed

[2020-07-08 17:27] #18379 closed

[2020-07-08 17:27] #19143 closed

[2020-07-08 17:51] moebius87 opened #19145 "Add --no-restore option for dotnet publish command in dockerfile"
About the dockerfile: I suggest using --no-restore with the publish command otherwise the benefit of doing restore and publish in two different steps and having different layers is canceled. This is because dotnet publish command runs dotnet restore implicitly.

see [https://docs.microsoft.com/it-it/dotnet/core/tools/dotnet-publish#implicit-restore](https://docs.microsoft.com/it-it/dotnet/core/too

[2020-07-08 18:18] supervas opened #21418 "Extensión de Archivo incorrecto"
Google translate to English
In the section " https://docs.microsoft.com/es-es/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#update-net-core-sdk-version -in-globaljson "text appears" If the solution relies on a global.jsen file to target a specific .net Core SDK version, update its version property to version 3.0 installed on the machine: " and the extension for the "global"

[2020-07-08 18:58] c0g1t8 commented on #19143
@guardrex

The **Target Framework** entry is missing for both **Web Application** and **Web Application(Model-View-Controller)**.

![image](https://user-images.githubusercontent.com/23250332/86959170-31f60400-c112-11ea-8aa6-550b0f48e525.png)

![image](https://user-images.githubusercontent.com/23250332/86959067-05da8300-c112-11ea-875c-9488de4b6f7e.png)

[2020-07-08 19:00] guardrex commented on #19143
Thanks @c0g1t8 ... I'll open an issue and get those other topics fixed up by EOD.

[2020-07-08 19:03] guardrex opened #19146 "Update VS4Mac UI screenshots"
@c0g1t8 indicated on https://github.com/dotnet/AspNetCore.Docs/issues/19143 that the Blazor-SignalR tutorial (and the Blazor Tooling topic, too) needed a touch-up on a VS4Mac UI screen that's changed recently.

The RP and MVC tutorials need the same touch.

I'll take this one. I have the files open right in front of me right now.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-07-08 22:42] captainsafia opened #19149 "Add documentation on lazy-loading support for Blazor"
For preview8, we need to add documentation on Blazor's new support for lazy-loading.

@guardrex This [PR description](https://github.com/dotnet/aspnetcore/pull/23290#issue-439057914) can be a useful starting ground for this. Let me know if you need any more info.

[2020-07-08 22:49] erick2red opened #19150 "This doesn't work in Asp.Net 3.1.5 in Mac"
Hi,

It' simple. I read the instructions. Created a `bundleconfig.json` file, ran `dotnet build` and nothing happened.

The document doesn't says what's required, or how to troubleshoot it. I'm using a basic template created with `dotnet new`. It'd be good to provide some guidance, or at the very least, come out and explicitly says: _"This is not supported in Mac"_

---
#### Document Details

⚠ *D

[2020-07-09 00:10] Ef0Dev opened #19151 "Securing a Blazor WebAssembly hosted app with an external IdentityServer"
The current documentation on securing a Blazor WebAssembly hosted app with IdentityServer seems to focus on installing/configuring IdentityServer within the Blazor app itself (in the server app).

Any thoughts on updating the documentation to cover authenticating with an existing, external IdentityServer4 provider?

[Docs for the standalone WebAssembly app](https://docs.microsoft.com/en-us/aspnet/

[2020-07-09 00:44] captainsafia opened #19153 "Add code samples on docs to configure startup options for Blazor Server"
[EDIT by guardrex to add the metadata and update the link]

We should add some code samples that show how to modify the reconnection UI and interval using JavaScript in this docs page.

~https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.1#configure-the-signalr-client-for-blazor-server-apps~

https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/additio

[2020-07-09 02:09] Rick-Anderson commented on #19150
Moved to Bundle and minify master issue #18523
Currently bundle/minify is not great on any platform. We hope to have a solution eventually.

[2020-07-09 02:09] #19150 closed

[2020-07-09 02:14] Rick-Anderson commented on #19141
Looks like I need to update [Trust HTTPS certificate from Windows Subsystem for Linux](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.1&tabs=visual-studio#trust-https-certificate-from-windows-subsystem-for-linux) with the preceding information.

[2020-07-09 02:15] Rick-Anderson commented on #19118
This should be the place to add doc's that need to be featured, not the SC label.

[2020-07-09 02:22] #18988 closed

[2020-07-09 02:22] #19096 closed

[2020-07-09 03:36] nicholaide opened #19154 "Error on Startup.cs code for Part 2"
Had to edit my local code after copying the code under the section "Use SQLite for development, SQL Server for production".

- <MovieContext> should be < RazorPagesMovieContext >
- Had to delete the line **app.UseDatabaseErrorPage();**

I am following the instructions for Visual Code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-07-09 03:44] dylanlerch opened #19155 "Update Azure Key Vault Configuration Provider in ASP.NET Core page to recommend Azure.Extensions.AspNetCore.Configuration.Secrets rather than Microsoft.Extensions.Configuration.AzureKeyVault"
## Back story
I was struggling with very slow startup times when using the [Microsoft.Extensions.Configuration.AzureKeyVault](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureKeyVault/) package, I did a bit of digging and noticed that there was an issue with [Microsoft.Azure.Services.AppAuthentication](https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/

[2020-07-09 09:41] guardrex commented on #19151
Hello @Ef0Dev ...

The concepts are the same. Devs can follow the client configuration guidance in the topic ... *mostly*. I do see one thing that's missing. We don't have the client app settings file shown with the `Authority` and `ClientId`.

A Blazor WebAssembly app in a hosted solution is the same as a standalone Blazor WebAssembly app. The only difference is how it's served. OIDC concepts are

[2020-07-09 10:19] #19151 closed

[2020-07-09 10:35] #18829 closed

[2020-07-09 10:35] #19124 closed

[2020-07-09 10:43] guardrex commented on #19153
It will be faster if engineering provides the content and example(s). Of course, they can be pasted into a comment here.

[2020-07-09 12:01] guardrex commented on #19149
@captainsafia ... Do you feel that this fits best as a new section in the performance best practices topic ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/webassembly-performance-best-practices

... or as a new section in the Blazor WASM Host and deploy topic ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/webassembly?view=aspnetcore-3.1

... or as a new topic in

[2020-07-09 13:39] ilivewithian opened #19159 "Java SignalR Docs Refer to Very Old Version"
The SignalR Java Client docs refer to `com.microsoft.signalr:signalr:1.0.0`. The latest release version of the package appears to be `com.microsoft.signalr:signalr:3.1.5`.

Given the package is so far out of date, is the rest of the documentation invalid? For instance, does the latest client implement transport fallback?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-07-09 13:54] Dobby007 opened #19160 "Add information about configuring a website in IIS"
There should be more information about configuring a website in IIS. Also there should a remark about non-obvious flag `setProfileEnvironment="true"` which is set in `C:\Windows\System32\inetsrv\config\applicationHost.config` in order to load the user profile and set all environment variables to point to the home directory of the current user. Otherwise it will not be possible to use certain APIs,

[2020-07-09 14:13] guardrex commented on #19160
Hello @Dobby007 ... We have the coverage, but not here. It's in the IIS main topic. See the 2nd bullet at ...

https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-3.1#data-protection

[2020-07-09 14:15] guardrex commented on #19160
There's also a nibble in the DP docs at ...

https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/default-settings?view=aspnetcore-3.1#key-management

[2020-07-09 14:57] erick2red commented on #19150
@Rick-Anderson The fact that there's an issue open doesn't fix the misleading documentation. The less you could do is mention the issue in the page: _Currently bundle/minify is not great on any platform. We hope to have a solution eventually. (For updates follow issue #18523)_

[2020-07-09 15:25] guardrex commented on #18134
@captainsafia ... I've looked over the ASP.NET Core *Configuration* topic to see what we might need to call out that isn't appropriate for Blazor WASM apps. It looks like we should mention that the following aren't appropriate ...

* [Azure Key Vault configuration provider](https://docs.microsoft.com/en-us/aspnet/core/security/key-vault-configuration?view=aspnetcore-3.1) **_for the managed identit

[2020-07-09 16:02] captainsafia commented on #19149
I like this option the most since there is enough content to warrant an entire page.

This looks good!

[2020-07-09 16:08] guardrex commented on #19149
ok ... I'll get to work on that very soon ... probably tomorrow (Friday) tho. The family :cat2:, *Merlin*, woke me up at **_4am_** (!!!! 😠) to be fed and let outside. I was wide awake, so started at 4am ... my workday is almost over. :smile:

[2020-07-09 16:17] captainsafia commented on #19149
Cool! Ping me with any questions.

Heads up: there will be some follow-up PRs so interfaces and such might change a bit. I'll keep you up to date on the changes.

[2020-07-09 16:21] guardrex commented on #19153
Let me know tho if this is what u want to show ...

### Hide the ReconnectionDisplay

[code]

### retryIntervalMilliseconds

[code]

... and any additional remarks, gotchas, etc.

[2020-07-09 17:27] Rick-Anderson commented on #19160
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2020-07-09 17:27] #19160 closed

[2020-07-09 17:34] Rick-Anderson commented on #19155
@mkArtakMSFT  can you assign someone to review this proposal?

[2020-07-09 17:36] Rick-Anderson commented on #19154
Dup of #17986

[2020-07-09 17:36] #19154 closed

[2020-07-09 17:37] #18840 closed

[2020-07-09 17:37] Rick-Anderson commented on #19062
dup of #17986

[2020-07-09 17:37] #19062 closed

[2020-07-09 18:58] JohnGalt1717 opened #19164 "How does one pass flags to protoc?"
[Enter feedback here]
I.e. to use optional parameters in protobuf it requires --experimental_allow_proto3_optional passed to protoc.  But the documentation doesn't specify how you can pass this parameter and use this vital functionality.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28a7d945-e49f-d76f-a5fd-43ac81dbef8

[2020-07-09 19:26] #19146 closed

[2020-07-09 20:18] guardrex commented on #19149
Include: https://github.com/dotnet/aspnetcore/pull/23290#issuecomment-656313665

[2020-07-09 21:37] guardrex opened #19166 "Rendering NavLinks in loops"
Suggested for coverage by @mrlife at https://github.com/dotnet/AspNetCore.Docs/pull/19165.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35474d24-8039-f04a-de14-1530b8e8506c
* Version Independent ID: b6cb2574-6326-a40d-0b6c-d1661328e828
* Content: [ASP.NET Core Blazor routing](https://docs.microsoft.com/en-us/aspnet/c

[2020-07-10 03:02] captainsafia commented on #19153
Those samples are good! I'd also include the sample that shows how you can modify the reconnection handler as well.

Something like this:

[code]

The reconnection handler can be used to register callbacks that are registered when the circuit is connected and disconnected.

[2020-07-10 06:36] KnowledgeFlexBlr opened #19170 "How to develop an Application part with dependencies"
I have an Asp.net Core app which has some dependencies in Configure Services. Some of the dependencies are from Packages while the other are from Projects of the same solution? I want to convert this application into App Part and consume in another Host Web Application. How do i make Host application inject dependencies of App part?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-07-10 06:37] Rick-Anderson commented on #19170
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-07-10 06:37] #19170 closed

[2020-07-10 12:54] guardrex commented on #16648
@captainsafia ... Did we get this one done with the work we did on config earlier? If not, do you know what we're missing?

[2020-07-10 13:54] DaleyKD commented on #16422
@akempe - Thank you for that. I'm trying to use the new `Azure.Extensions.AspNetCore.DataProtection.Keys` SDK, and I'm not convinced it requires the Blob to exist, but I'm doing it anyway.

However, I think I may be getting a race condition on startup of my ASP.NET Core app.  I know this is a docs issue, and I'm not here to derail.  But this definitely needs some TLC to ensure we get it right.

Pu

[2020-07-10 14:04] guardrex commented on #19149
@captainsafia ...

[code]

... implies some structural changes in Blazor WASM apps for 5.0 given that today the `App` component contains the `Router` component. It's all I can do to *barely* keep up 😅 today with coverage for the current framework. I don't run preview bits until much closer to a release. Is there a stock 5.0 WASM sample on the engineering repo that I can visually inspect? If not, n

[2020-07-10 14:39] akempe commented on #16422
@DaleyKD no problem! Are you saying you're still getting this error?

It looks identical to the one I had originally and lead me to initialising the blob with:

[code]

If you get it to work with the new SDK, please let us know as I'm sure people are going to run into this while MS resolve their docs situation.

[2020-07-10 14:51] Devmanitu opened #19173 "Provide information for console apps"
[Enter feedback here]
When I search for information about configuration code examples, I alway come to this page. However, this page has no additional information about console apps. Maybe this is not the right place, but there isn't any other.
I spent hours trying to figure out the right packages, because key functions are put into extension methods which are in separate NuGet packages. They are

[2020-07-10 15:50] DaleyKD commented on #16422
@akempe : Let me clarify, as I wasn't as clear as I had hoped earlier.
- It appears that the new SDK (`Azure.Extensions.AspNetCore.DataProtection.Keys, Version=1.0.0.0`) does not get mad if the Blob does not exist. I see no error thrown, and the current documentation provided by MSFT (which says we should run the app once without `ProtectKeysWithAzureKeyVault`, then run it again with it) seems to

[2020-07-10 16:51] captainsafia commented on #16648
We've got pretty good docs on configuration.

I think we cover this. I'd probably include this like configuring logging and auth as "run initialization code before UI is shown".

I feel pretty comfortable with closing this and adding specific pieces of content in response to user requests since I can't think of anything we aren't covering WRT to this.

[2020-07-10 16:53] #16648 closed

[2020-07-10 17:37] JunTaoLuo commented on #19164
@JohnGalt1717 There are no supported ways of specifying options that are used by protoc due to limitations of the Grpc.Tools implementation. However, there are ways to work around this with the `_GrpcOutputOptions` and `_OutputOptions` metadata on the `Protobuf` itemgroup. This is not a supported workflow and hence why they have the `_` prefix but these two metadata are passed to protoc [here](htt

[2020-07-10 17:37] #19164 closed

[2020-07-10 17:41] JohnGalt1717 commented on #19164
Ok, but I've tried it on <ItemGroup> and <Protobuf> in my csproj and obth throw an error saying that it is unrecognized.

[2020-07-10 17:52] captainsafia commented on #19149
That was me abbreviating while writing the docs quickly. There haven't been any structure changes so things will look like this.

[code]

[2020-07-10 19:27] guardrex commented on #14134
Javier, I'm going to close this on the basis of:

* Updates performed on prior PRs.
* Work going in now on https://github.com/dotnet/AspNetCore.Docs/pull/19172.
* [Existing app base path coverage](https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/?view=aspnetcore-3.1&tabs=visual-studio#app-base-path) combined with the updates on PR https://github.com/dotnet/AspNetCore.Docs/pull/1

[2020-07-10 19:27] #14134 closed

[2020-07-10 19:32] #19153 closed

[2020-07-10 20:00] Rick-Anderson commented on #19173
See Non-web scenarios at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/?view=aspnetcore-3.1&tabs=windows#non-web-scenarios

and search for `config.Add` on the config document.

cc @serpent5

[2020-07-10 20:30] guardrex commented on #18924
@curtand ... Hello Curtis, may I consult with u on the following subject/topic? I see from the topic's history that you've worked on it in the past ...

**Administrator role permissions in Azure Active Directory**
https://docs.microsoft.com/azure/active-directory/users-groups-roles/directory-assign-admin-roles#role-template-ids

You might either know the answer to my questions or be able to ping s

[2020-07-10 22:13] #19079 closed

[2020-07-10 22:27] captainsafia commented on #18134
I'm not so sure about this one. @mkArtakMSFT who would be the best person to help us figure out if this is expected to work in Blazor WASM?

[2020-07-10 23:15] guardrex commented on #18134
My concern on that one is WRT the registrations that probably don't meet the guidance for EF Core and Blazor to use OwningComponentBase.

[2020-07-11 00:45] rleath82 commented on #19119
This still isn't working, unfortunately. I've tried making those changes and still the same result. My repo is https://github.com/rleath82/FAS if you want to take a look. I can also email you my AAD configs.

Thanks again

[2020-07-11 01:32] scottaddie commented on #19124
@guardrex I'm also unaware of a feature that would accomplish this.

[2020-07-11 02:10] Rick-Anderson opened #19180 "Highlight AddSession in ##Configure the TempData provider"
[Configure the TempData provider](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-3.1#configure-the-tempdata-provider)

Need to highlight ` services.AddSession();` in  `ConfigureServices`

cc @serpent5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e22150-f1f1-5e4f-0e97-39b1ac08929

[2020-07-11 07:44] FoxyChmoxy opened #19182 "Update the AdventureWorks Data Dictionary"
# Issue Description
The information in the documentation ["Schemas in AdventureWorks"](https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008/ms124894(v=sql.100)) and ["AdventureWorks Data Dictionary”](https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008/ms124438(v=sql.100)) was updated last time in **2010**, and many of these articles are currently not relevant.

[2020-07-11 09:49] ChiefInnovator opened #19183 "Warning to always use HTTPS is too broad a statement for gRPC due to TLS offloading scenarios."
There is a warning that should probably have more clarification.

**Warning**
HTTP/2 without TLS should only be used during app development. Production apps should always use transport security. For more information, see Security considerations in gRPC for ASP.NET Core.

It is a common practice to do TLS offloading and is definitely common practice in Kubernetes clusters where you have internal se

[2020-07-11 13:10] guardrex commented on #19119
That doesn't look like the correct scope URI host. Try ...

[code]

https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-azure-active-directory-b2c?view=aspnetcore-3.1#access-token-scopes

Be sure to use an incognito/in private browser run **_for every single run of the app_** no matter how small the change to the app or to the settings in the Azure portal. Lingerin

[2020-07-11 13:18] guardrex commented on #19182
Hello @FoxyChmoxy ... That doc set has been retired and is no longer updated/supported. The current AdventureWorks coverage is provided by the SQL docs ...

https://docs.microsoft.com/sql/samples/adventureworks-install-configure

If you want to interact with the doc authors and managers that support that coverage, you can open an issue for that team at ...

https://github.com/MicrosoftDocs/sql-doc

[2020-07-11 13:18] #19182 closed

[2020-07-11 14:34] BrunoBlanes opened #19184 "Remove reference to a closed issue and clarify a contradiction"
Since the [issue](https://github.com/dotnet/AspNetCore/issues/5410) mentioned on this page is already closed and there is now an official way to resend email confirmations, I think the **Resend email confirmation** section should be entirely removed or at least updated to show where and how to implement the feature.

Also, I'd like some clarification as to the following code in the **Configure sta

[2020-07-11 23:35] jmacCity opened #19186 "Graceful integration of ASP.NET Core Blazor WebAssembly hosted app with Azure Active Directory B2C"
Hello @guardrex / @javiercn ,

I just completed your ASP.NET Core Blazor WebAssembly hosted app with Azure Active Directory B2C tutorial and it was a great intro! I was wondering if there is a more integrated way to incorporate the authentication process into the SPA

Apologies in advance if I am missing the obvious.

Thanks,
Jordan

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-07-11 23:41] guardrex commented on #19186
Hello @jmacCity ... Thanks. The supported approach is described by the topic and the guidance in the [Additional scenarios](https://docs.microsoft.com/aspnet/core/blazor/security/webassembly/additional-scenarios) document. I don't understand what you mean by "more integrated way;" but if you have a feature request for the product unit, you can open it at https://github.com/dotnet/aspnetcore/issues

[2020-07-11 23:41] #19186 closed

[2020-07-12 15:52] michelc opened #19188 "Explain how to build project with Visual Code"
I'm using Visual Code and in Part 4 > Add a database connection string :

It says : "Build the project as a check for compiler errors."

I think it should be explained that you have to:
* open the terminal
* execute the command "dotnet build"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d975a83-1550-b284-d0d8-7fe2ea

[2020-07-12 18:16] Rick-Anderson commented on #19188
That's not the typical work flow of VSC but is one way to do it.

[2020-07-12 18:16] #19188 closed

[2020-07-12 20:41] Veverke opened #19189 "Link for "Entity Framework - Code-Based Configuration" is broken"
Link for "Entity Framework - Code-Based Configuration": https://docs.microsoft.com/en-us/ef6/fundamentals/configuring/code-based --> is not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f376ed07-b726-292f-eb33-7a918337367b
* Version Independent ID: 817b265f-0769-80e1-b42c-e1b0d05ff13b
* Content: [ASP.NET Core

[2020-07-12 20:50] Rick-Anderson commented on #19189
It should be https://docs.microsoft.com/en-us/ef/ef6/fundamentals/configuring/code-based
cc @serpent5

[2020-07-12 23:48] jazeem-azeez opened #19190 "Link tells websocket without signal R, Typo Error"
[Enter feedback here]

![image](https://user-images.githubusercontent.com/8478849/87259320-d6799c80-c4aa-11ea-81c8-a696b3fc8cf6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b0cac1-adc7-434c-d867-6e28e39bdae7
* Version Independent ID: 762efeed-010e-f422-03d0-22d6681b2851
* Content: [WebSockets support in ASP.NE

[2020-07-13 00:16] Rick-Anderson commented on #19190
Where is the typo, it looks correct to me

[2020-07-13 09:43] danHayworth opened #19191 "Running app gives 404"
[Enter feedback here]
Hey, guys, I have followed along Part 2, add a model to a Razor Pages app in ASP.NET Core and when I run the app just gives me 404 and is same for create, edit etc. I want to mention that yes I have followed exactly what it is on your page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3b

[2020-07-13 09:47] #19191 closed

[2020-07-13 09:58] heemskerkerik opened #19192 "Incorrect namespace of ProblemDetailsFactory"
The fully qualified name of `ProblemDetailsFactory` is `Microsoft.AspNetCore.Mvc.Infrastructure.ProblemDetailsFactory`; the text omits `Infrastructure`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f6504cd-a059-c5d4-73fb-61222ef1c6e0
* Version Independent ID: 1b42352c-a34f-7703-aa3e-d7e3156bd0bd
* Content: [Handle e

[2020-07-13 12:36] guardrex commented on #19192
Thanks @heemskerkerik ... it should be cross-linked to the API doc, too. I'll fix it right now.

[2020-07-13 12:54] #19192 closed

[2020-07-13 17:52] xr280xr commented on #12102
It would be helpful if it also outlined what this line does/why it is necessary for Windows auth. If windows auth is enabled/disabled in IIS directly, what does this do? Also whether this line limits the app strictly to an IIS deployment. I couldn't find a description of this extension method.

[2020-07-13 18:13] Tratcher commented on #12102
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

[2020-07-13 18:22] xr280xr opened #19194 "[WinAuth] Further clarify app configuration and deployment"
I have just run into the 500.19 Internal Server Error after following this page to set up Windows authentication. I found[ this previous, closed Issue](https://github.com/dotnet/AspNetCore.Docs/issues/12144#issue-436890384) about the same thing but still ended up with the same problem. Am I correct in understanding that if you are running your project out of Visual Studio under IIS Express, you sh

[2020-07-13 21:45] jbrule opened #19196 "Add notice that only single application should be in app pool when using in-process"
We recently had an error when a second application was added to the AppPool. There is no mention of this caveat in the documentation on this page. We now understand that only a single application can run in an AppPool when using inprocess

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec484002-18c1-6a0d-00de-82

[2020-07-13 21:49] jbrule commented on #19196
I see it is mentioned. Hadn't noticed as I skimmed over.

[2020-07-13 21:49] #19196 closed

[2020-07-13 22:41] softchris commented on #18940
@guardrex hi Luke, feel free to go at it :)

[2020-07-14 04:08] sipi41 commented on #16931
Same here... I copied the example from Microsoft documentation (https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-3.1) and out of the box is NOT working... anybody?

[2020-07-14 08:14] hamedsouri commented on #7291
Just connect to the Internet to download and install the package.

[2020-07-14 08:57] jfalameda opened #19197 "Add explanation about how to install the trusted root on Linux and Linux service fabric enviroments"
Hi,

In this example, you are only explaining how to install the trusted root CA on Windows. I cannot manage to make it work on a Linux environment running service fabric. Since .NET core is multiplatform, it would be great to add instructions about how to do it in other systems.

Have a nice day.
José.

[2020-07-14 09:47] joaoantunes commented on #6836
@aseelawi whenever I pass an Authorization header, it simply ignores the caching.
And that is written on the [documentation](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/middleware?view=aspnetcore-3.1#conditions-for-caching)

"The Authorization header must not be present."

So the only alternative that I see is to implement my own Middleware/Attributes.

[2020-07-14 09:50] guardrex commented on #16931
@sipi41 ... Please don't comment on a closed issue or PR. Open a new issue using the **This page** button and form at the bottom of the topic.

When you open a new issue, 'it doesn't work' isn't a good error report. Put up a repro project on GH that demonstrates the error or explain out **_in detail_** exactly what you did.

[2020-07-14 09:55] guardrex commented on #19197
Hello @jfalameda ...

???

Please close and re-open this issue using the **This Page** feedback button+form at the bottom of the English topic. It will add metadata that cross-links the topic and automatically pings the author.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

[2020-07-14 14:00] #19180 closed

[2020-07-14 16:04] guardrex commented on #18924
@Rick-Anderson ... No ❤️ from Azure cats after asking two folks to comment. Do you know an Azure **_engineer_** in the AD area? I hope to chat for a few minutes with an engineer and not a docs author because the questions here pertain to the internals of the service. Specifically, I'd like to discuss Object IDs for the built-in Azure Administrator Roles, which **_aren't published anywhere_** but a

[2020-07-14 16:07] javiercn commented on #18924
Let me ping some folks.

[2020-07-14 16:45] dylanfranck opened #19199 "Question on duplication"
[EDIT by guardrex to add the metadata. @dylanfranck, please use the **This page** feedback button+form at the bottom of any topic to open an issue.]

**Help us make content visible**

https://stackoverflow.com/questions/61427947/entity-framework-core-error-an-error-occurred-using-the-connection-to-database
As far as I'm aware, everything should be set correctly because of previous work.

**Describ

[2020-07-14 17:53] guardrex commented on #19199
@dylanfranck ... What topic are you looking at?

Normally, we ask readers to open topics using the **This page** feedback button and form at the bottom of the topic, which adds metadata and pings the author.

In this case, I'll manually add the metadata, so which topic are you looking at (provide the link to the topic)?

[2020-07-14 21:17] rhamlett opened #19202 "Instructions for enabling stdout logs no longer work"
The instructions for enabling the stdout logs that appears on this page are no longer followable in the Azure Portal.  The first three steps involve a convoluted method of reaching Kudu that includes a round-about method that doesn't work anymore.  I offer the following instructions as a replacement:

1. Open the Azure Portal for your web app.
2. Search at the top of the menu on the left side of t

[2020-07-14 21:23] serpent5 commented on #18824
@Rick-Anderson I think this is already covered in the topic as it stands today:

What do you think?

[2020-07-14 21:24] Rick-Anderson commented on #18824
agreed

[2020-07-14 21:24] #18824 closed

[2020-07-14 22:33] Kronos11 opened #19204 "[VSCode] Add in details on how to debug blazorwasm when project structure is nested"
Would love to have details on how to enable debugging when the project structure is not the default in VSCode

For Example:
/
/.vs
/src
/src/Blazor.App
/src/Blazor.App/Client
/src/Blazor.App/Server
/src/Blazor.App/Shared

The default setup will not work for a blazorwasm hosted app
#19204 https://github.com/dotnet/aspnetcore/issues/21166#issuecomment-632933868
---
#### Document Details

⚠ *Do not e

[2020-07-14 22:45] captainsafia commented on #19149
Your assumption is correct. Only packages that are used by the app can be lazy loaded.

We're sorting through how we surface unhandled exceptions to the UI as part of the PR.

If a user is providing a try-catch, they can implement some conditional logic to toggle showing an error bar or redirect to a 500 page or something. That behavior is up to the user.

Apologies for the late reply. I took yest

[2020-07-14 23:00] guardrex commented on #19204
I think debugging in the browser for the client app will work.

Pinging @captainsafia for help on this one.

[2020-07-14 23:04] guardrex commented on #19149
Get well soon. 🐔🥣

[2020-07-14 23:25] captainsafia commented on #19204
@guardrex I think the person who reported the issue might've intended to link to https://github.com/dotnet/aspnetcore/issues/23265 where I provided a response in https://github.com/dotnet/aspnetcore/issues/23265#issuecomment-651880080.

We might consider adding a sample for this in the docs.

[2020-07-15 00:54] #19189 closed

[2020-07-15 03:38] psiservices-mhart commented on #19151
@guardrex - Thank you. I will raise the issue about ACR values with the engineering team and cc you as requested.

In regards to the rest:
I appreciate your modifications. I think one of my disconnects is that the docs assume you have created the app with Authentication included (and indeed they instruct you to at the top).  However, for someone who wants to use an external identity server as I do

[2020-07-15 03:53] FredHan001 opened #19205 "different behavior with using TempData"
In [this SO thread](https://stackoverflow.com/questions/62843105/why-tempdata-attribute-retain-after-first-read), we can find that applying `[TempData]` attribute to a property of PageModel class, like below.

[code]
then accessing value using `<p>@Model.Message</p>` in current page `A.cshtml`, which seems not read TempData value, but can access TempData value using same code `<p>@Model.Message</p

[2020-07-15 04:01] Rick-Anderson commented on #19205
SO has the answer, your code in A is not reading tempdata. Refresh B and the message is gone.
cc @serpent5

[2020-07-15 04:01] #19205 closed

[2020-07-15 05:18] captainsafia commented on #19149
@guardrex BTW, is there an open PR with the text you are editing?

[2020-07-15 08:25] Sambhav007 opened #19206 "Migrate Authentication and Identity to ASP.NET Core"
[Enter feedback here]
 When i try to migrate Authentication and identity to ASP.NET core.
 Problem 1:  i am facing issue during the Uncomment the @Html.Partial line in _Layout.cshtml;

Problem 2: I added a new Razor view called _LoginPartial to the Views/Shared folder:

Updated _LoginPartial.cshtml with the following code:

Facing issue in below line:
@inject SignInManager<ApplicationUser> SignInM

[2020-07-15 10:32] guardrex commented on #19149
Not yet ... I'll put the PR up this morning (Wednesday).

[2020-07-15 11:16] guardrex opened #19208 "Cross-link Blazor Hosted IdS topic"
### Summary

The ask is for a Blazor security topic that can focus on interacting with Identity Server with ...

* Standalone WASM.
* Hosted WASM without scaffolding Identity and storing users in the server app (i.e., the server app is only being used to host the WASM app and isn't involved in auth/IdS).

The topic would probably largely focus on the [client app configuration of the current *Secur

[2020-07-15 11:32] javiercn commented on #19208
@guardrex the scenario described here is a standalone app that uses OIDC. I think we already have that covered and I don't think we need additional docs for it.

[2020-07-15 11:35] guardrex commented on #19208
Ok, but we don't say that in that topic, so should I call out in the introductory remarks in the Standalone WASM topic (and cross-link it with a brief remark at the top of the Hosted IdS topic) that that's how one would interact with IdS?

[2020-07-15 11:39] javiercn commented on #19208
@guardrex if you feel is important, go ahead.

[2020-07-15 11:59] guardrex commented on #19151
Updating my answer here given that I was tricked a little bit by the coverage: Although a hosted WASM app (the client app) is just a standalone+served WASM app, it **wouldn't** be configured in standalone config (or in a hosted solution without Identity/IdS) as the client app of a hosted IdS solution described by this topic. It would actually be configured as a standalone WASM app according to our

[2020-07-15 15:34] #19208 closed

[2020-07-15 15:51] guardrex commented on #19204
These instructions don't seem correct ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-3.1#debug-hosted-blazor-webassembly

I agree to add the assets, but the generated `.vscode` folder **_is empty_** after that. I presume that it's because the *Server* folder should be opened in VSC.

I'll play around with it and see if I can figure it out.

[2020-07-15 16:20] allenh100 opened #19212 "using statements in client section not correct"
The using statement "using GrpcGreeter" is incorrect.  To fix, you can either:
1. update the greet.proto copied from the server project to the client project to reflect the new namespace "GrpcGreeter"
OR
2. change using to reference the namespace in greet.proto to "using GrpcService".

1 is probably the best fix

Update/correction:  The target topic here seems to be:
[Tutorial: Create a gRPC clien

[2020-07-15 16:34] eddlilley opened #19214 "Sample code bug - Use cookie authentication without ASP.NET Core Identity"
[EDIT by guardrex to add the metadata]

When running the sample code for "Use cookie authentication without ASP.NET Core Identity" which can be found at AspNetCore.Docs/aspnetcore/security/authentication/cookie/samples/3.x/CookieSample/ a bug has been found.

Once signed in, select the browser's back button and attempt to log in again. The post request isn't handled and  HTTP 400 status code is re

[2020-07-15 16:57] guardrex commented on #19204
I clarified the language on the PR. It's up for review now.

[2020-07-15 16:59] guardrex commented on #19214
Hello @eddlilley ... It's best to open an issue using the **This Page** feedback button+form at the bottom of the English topic. It will add metadata that cross-links the topic and automatically pings the author.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

No worries on this one. I'll add the metadata m

[2020-07-15 17:04] guardrex commented on #19214
Ping @HaoK to say if this is a real 🐞 or just a bad artifact of the back button.

[2020-07-15 17:08] #18940 closed

[2020-07-15 17:34] kylemar commented on #18924
I am from the Azure AD team. There is a overriding issue with the advice on using the group claim this way, there is no discussion of claim overage issues. While it is possible an application may want to limit the scope of the app based on the Azure AD roles the user is assign, I doubt this is a common requirement. It should really only apply to applications that are managing Azure AD.

[2020-07-15 17:39] #13856 closed

[2020-07-15 17:55] #19204 closed

[2020-07-15 18:34] ronnyek commented on #18487
I just ran into this very issue... And while I agree the documentation does state RCL need to be used, the link that talks about RCL, makes only brief mention of views. Creating a new RCL project to house my controllers and views seems to be very specifically setup for razor pages or something (not sure if I should just be able to make a controllers folder and a views folder mirroring typical mvc

[2020-07-15 18:46] ronnyek commented on #18487
I'm actually not sure this example uses razor class library at all. Looking at the .csproj its not setup as
`<Project Sdk="Microsoft.NET.Sdk.Razor">`

I just want controllers and views in an external application part... and even trying to create a RCL to house those things, I'm totally totally lost. Seems like documentation for RCL outlines about every scenario but this, and the default template f

[2020-07-15 18:50] guardrex commented on #18924
Hello @kylemar ... thanks for helping me.

We have an existing issue at https://github.com/dotnet/AspNetCore.Docs/issues/18510 to work on it.

Should Blazor apps never manage Azure AD? I didn't think that there would be any reason to prevent it.

It's certainly convenient to have this capability explained in this topic because you get the feature for free along with the main focus on regular secur

[2020-07-15 18:54] #19166 closed

[2020-07-15 19:07] guardrex commented on #18359
Cool beans ... **_3.1.6 is out now_**, so I'll work this first thing Thursday (7/16) morning.

[2020-07-15 19:22] psiservices-mhart commented on #19151
Thanks @guardrex ! That small thing actually adds so much clarity (both for me, and for others in the future I think).

The only thing I think is left out in simply pointing this scenario to the standalone docs, is that while that covers the client app, it leaves out the server app in the hosted model entirely. The server app _is_ still going to have some authorization setup work involved to handl

[2020-07-15 19:49] guardrex commented on #19151
Unfortunately, it's beyond the scope of my knowledge. Given that it's **_security_** (and my track record guessing things here thus far isn't so good 🙈:smile:), I'll defer to experts. I can say that our own web API doc links off to the [IdS docs](https://identityserver.io/) for coverage of web API with ASP.NET Core and IdS. In order to get the server app to auth the client requests, I suspect you'

[2020-07-15 19:58] Ef0Dev commented on #19151
Totally fair! Thanks again!

[2020-07-15 20:31] wadepickett opened #19218 "Provide doc data reporting for ASP.NET Core on Learn and ASP.NET/EF/IIS API reference"
- Provide doc data reporting for ASP.NET Core on Learn modules, including specifics on microservices per unit.
- Provide doc data on ASP.NET/EF/IIS API reference to use for prioritization.

[2020-07-15 20:33] wadepickett commented on #19218
Completed:
Completed both reporting and handed off to stakeholders which included the product unit.

[2020-07-15 20:33] #19218 closed

[2020-07-15 21:10] #18183 closed

[2020-07-15 22:50] mschluper commented on #17975
https://www.iis.net/downloads/microsoft/iis-cors-module says:

"Once installed, the IIS CORS module is configured via a site or application web.config and has its own cors configuration section within system.webserver."

But miraculously it does not say how. And .net core does not use web.config anymore, as far as I know.

So how is this configuration done?

[2020-07-15 23:07] mschluper commented on #17975
https://docs.microsoft.com/en-us/iis/extensions/cors-module/cors-module-configuration-reference#cors-configuration

[2020-07-16 00:49] #12508 closed

[2020-07-16 00:49] #14740 closed

[2020-07-16 00:49] #17429 closed

[2020-07-16 00:49] #18040 closed

[2020-07-16 02:32] Rick-Anderson commented on #19206
Moved to #9770

[2020-07-16 02:32] #19206 closed

[2020-07-16 02:36] Rick-Anderson commented on #9770
@DanJ210 you need to [Scaffold Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-3.1&tabs=visual-studio). It's now a RCL.

[2020-07-16 02:38] wadepickett commented on #19212
@allenh100, thanks for taking the time to write up this issue!    The topic this issue is attached to is [Introduction to gRPC on .NET Core](https://docs.microsoft.com/en-us/aspnet/core/grpc/?view=aspnetcore-3.1), which does not refer to "using GrpcGreeter"

I think you might have meant for the issue to be attached to this tutorial topic?  [Tutorial: Create a gRPC client and server in ASP.NET Core

[2020-07-16 02:41] Rick-Anderson commented on #9770
@HaoK  this issue is correct, the article vaguely shows how to migrate the UI to ASP.NET Core 1.x.

I think a better approach is to replace this doc with a new one:

* How to migrate  Identity users data from MVC5 to ASP.NET Core. Recommend require new PW approach.
* Create a new MVC app with Identity, scaffold Identity and copy the Identity code to your migration app.

This topic is low traffic,

[2020-07-16 03:12] Rick-Anderson commented on #19202
@rhamlett  your instructions look good but changing to the  `stdoutLogFile` path to: `\?%home%\LogFiles\stdout` didn't produce a log file.

cc @davidebbo

[2020-07-16 03:14] Rick-Anderson commented on #19199
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider. We'll also reconsider this issue in the next doc update.

[2020-07-16 03:14] #19199 closed

[2020-07-16 03:14] #19197 closed

[2020-07-16 06:56] baoqger opened #19222 "Install Microsoft.EntityFrameworkCore.InMemory instead of Microsoft.EntityFrameworkCore.SqlServer"
[Enter feedback here]

In the tutorial, it's said to install "Microsoft.EntityFrameworkCore.SqlServer " package, but in the code, it used Microsoft.EntityFrameworkCore.InMemory.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b97164

[2020-07-16 07:57] mihail-vladov opened #19223 "Adding a third-party open source project to the MVC unit testing article"
Hi, guys! My name is Mihail Vladov and I am the engineering manager of [JustMockLite ](https://github.com/telerik/JustMockLite )which is an open-source mocking framework. My team and I are part of [Telerik ](https://www.telerik.com/) which is a long time partner with Microsoft.
I wanted to ask you if it is possible to add JustMockLite to the additional resources in the following article?
[https://

[2020-07-16 08:13] shirhatti opened #19224 "New docs for Log Formatter APIs"
**Describe the new topic**

https://github.com/dotnet/runtime/pull/38616 adds a few new features to ILogger:
- A new in-box JSON format for Console logs
- Support for custom log formatters

## Explain why this topic is needed.

In environments where folks scrape/redirect console logs for structured logging, they want to know how to enable JSON formatted logs

## Suggest a location in the Table of

[2020-07-16 08:50] FrederikNygart opened #19225 "AccessToken null when TokenProvider resolved"
In the example you're adding TokenProvider as a scoped service. Consequentially it will create a new instance of the TokenProvider per request made to the WebApp. Wouldn't that make the tokens reset for every new request?

I have tested the example locally, and  i get the token in App so that's all well and good. But when I resolve the service in a constructor, the tokens are now null, as it is a

[2020-07-16 10:20] SaebAmini opened #19226 "AzureADDefaults.JwtBearerAuthenticationScheme vs AzureADDefaults.BearerAuthenticationScheme"
The docs mention that on the server-side, we should add authentication via

[code]

But since it's using JWT, shouldn't it be the JWT scheme instead?

[code]

The guide seems to be switching between the two schemes throughout the guide which is also a bit confusing. Are these two schemes actually interchangeable?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-07-16 10:36] #18850 closed

[2020-07-16 11:24] guardrex commented on #19225
Hello @FrederikNygart ... It's intentional (https://github.com/javiercn/blazor-server-aad-sample). The tokens are assigned via `HttpContext` only when `_Host.cshtml` code runs (i.e., this approach is about getting the tokens for use in components). Did you try just getting the token(s) directly from `HttpContext.GetTokenAsync("access_token")` (assembly: `Microsoft.AspNetCore.Authentication`, [GetT

[2020-07-16 11:24] #19225 closed

[2020-07-16 11:46] guardrex commented on #19226
Hello @SaebAmini ... Those are two **_different_** auth methods for different purposes ... cookie vs. JS. The topic isn't switching ... it only indicates that for the `JwtBearerOptions` configuration that the scheme is `AzureADDefaults.JwtBearerAuthenticationScheme`. Azure's default scheme for Azure Active Directory Bearer is `AzureADDefaults.BearerAuthenticationScheme`. I think we have some gener

[2020-07-16 11:55] SaebAmini commented on #19226
So why is this guide using two auth schemes? it seems to be constantly talking about the JWT scheme in the text, while just one piece of code is using BearerAuthenticationScheme. Thanks for introducing me to StackOverflow! this is an issue I find with your docs.

[2020-07-16 11:59] FrederikNygart commented on #19225
Hi @guardrex

Thank you for the quick reply. This is meant as feedback, but i needed to clarify the above.

Based on your response, the example in the documentation will not work end to end, as the accesstoken returned is null when resolving the tokenprovider:

`public class WeatherForecastService
{
    private readonly TokenProvider _store;

    public WeatherForecastService(IHttpClientFactory cl

[2020-07-16 13:29] guardrex commented on #19226
Two auth schemes because authenticating users against Azure AD uses one scheme, while the API calls to the server API (coming from MSAL/JS in the client) uses the other scheme.

I wouldn't characterize the topic as constantly mentioning the "JWT scheme." It mentions JWT in a few spots. I do agree that none of the reasoning for the setup/configuration is explained in detail. This doc is a 'how to'

[2020-07-16 14:39] guardrex commented on #19225
Sorry ... I didn't realize that you were asking about `WeatherForecastService`. I thought you were asking about some general controller ctor in the MVC part of the app.

Javier registers the `WeatherForecastService` service as transient and the `TokenProvider` as scoped ...

* https://github.com/javiercn/blazor-server-aad-sample/blob/master/BlazorServerAuthWithAzureActiveDirectory/Startup.cs#L54
*

[2020-07-16 15:05] serpent5 commented on #19214
I think this is a case of "The provided anti-forgery token was meant for a different claims-based user". Using the back button means the CSRF tokens for the unauthenticated user are cached, so they no longer match when you go back.

I found a comment where `@javiercn` confirms this: https://github.com/dotnet/aspnetcore/issues/2882#issuecomment-425253252, for context.

[2020-07-16 15:09] davidebbo commented on #19202
That's a typo, it should be `\\?\%home%\LogFiles\stdout` (two slashes). This is the same as the current instructions at the Kudu level. Seems what changed is the Azure portal's Diagnose UI which broke the early parts of the instructions. Those instructions were too complex anyway, and what @rhamlett suggests is simpler.

cc @suwatch as I'm no longer on the team.

[2020-07-16 16:32] yevster opened #19228 "Sample HttpResponseException should be immutable."
The sample `HttpResponseException` on this page is mutable. This is not a good programming practice, and we don't want customers to copy&paste antipatterns into their code:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f6504cd-a059-c5d4-73fb-61222ef1c6e0
* Version Independent ID: 1b42352c-a34f-7703-aa3e-d7e31

[2020-07-16 16:44] ChClaude opened #19229 "Code Paging Suggestion"
You might want to consider the following logic for method CreateAsync() in the PaginatedList class.

        public static async Task<PaginatedList<T>> CreateAsync(IQueryable<T> source, int pageIndex, int pageSize)
        {
            var count = await source.CountAsync();
            var items = await source.Skip((pageIndex - 1) * pageSize).Take(pageSize).ToListAsync();

            // New Code

[2020-07-16 16:55] SetTrend opened #19230 "Please improve content structure (e.g. headings ranking) to be more distinctive"
The ranking of headings in Microsoft Docs very often isn't clear.
<img alt="" align="right" src="https://user-images.githubusercontent.com/9283914/87696415-0c5f9f00-c791-11ea-9d9a-88fa0ef82ac1.png">Reading the docs I often tend to find myself lost in the jungle of: "What does this piece information belong to? What does it pertain to? Where am I?".

### See this sample (from Document Details below)

[2020-07-16 17:11] guardrex opened #19232 "Blazor imports only apply to .razor files"
https://github.com/dotnet/aspnetcore/issues/23955#issuecomment-659542806

cc: @mrlife ... I'll see about surfacing it in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a32115-33f8-7d06-aaf0-b8ce918b5527
* Version Independent ID: 31ad18df-1904-bbdd-cfed-8d0d0267c10e
* Content: [Create and use ASP.NET Core Ra

[2020-07-16 17:22] #19232 closed

[2020-07-16 17:25] #18359 closed

[2020-07-16 18:27] Rick-Anderson commented on #19222
It says install them both. See https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-3.1&tabs=visual-studio#add-a-database-context

[2020-07-16 18:27] #19222 closed

[2020-07-16 18:35] Rick-Anderson commented on #19229
Thanks for the tip

[2020-07-16 18:50] Rick-Anderson commented on #19230
No, they are under a different heading that is an H3

I don't see that. Maybe another screen shot?

- Why is `Command prompt` and `PowerShell` next to `web.config`?
   They are just two flavors of the same thing and, thus, should be grouped one level down.

It's not

![image](https://user-images.githubusercontent.com/3605364/87710375-659fe200-c741-11ea-8ec1-5d81ea486e53.png)

[2020-07-16 19:33] SetTrend commented on #19230
Thanks for replying.
<br/>

My above question was meant to be ironically. I didn't mention that, sorry.

The current layout _suggests_ `macOS` and `Linux` to be a sub-section of `Windows` (though, it's actually not):

![MS Docs - 4](https://user-images.githubusercontent.com/9283914/87712444-f1992480-c7a8-11ea-84b0-24a17fa166a7.png)
<hr/>

Sure:

![MS Docs - 3](https://user-images.githubusercontent

[2020-07-16 20:28] VR-Architect opened #19235 "Unity asset bundles not working"
I am using the UploadPhysical controller method with multiple files. It works fine for *.txt files. If I try to upload a Unity asset bundle, which is a type of LZ compressed file, it fails in the ProcessStreamedFile method as the memoryStream length is zero. However, if I take the same file and put inside a zip file, it works fine.

Also, I see the controller is checking for a cookie, but I don't

[2020-07-16 20:37] Rick-Anderson commented on #19235
Moved to File Uploads topic enhancements and master issue #12285

[2020-07-16 20:37] #19235 closed

[2020-07-16 20:56] SetTrend opened #19236 "Improve Switch Mappings section"
The [Switch Mappings](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.1#switch-mappings) section of (Configuration in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.1#switch-mappings) is quite confusing.

It doesn't get clear what Switch Mappings actually do.

Moreover, the content is a jumble:
<br

[2020-07-16 21:10] #19236 closed

[2020-07-16 21:22] SetTrend commented on #19236
@Rick-Anderson:

Ah, I'm too late. Wanted to add another flaw, without raising another issue:

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.1#bind-an-array

The code samples are missing the most important part: the definition of the custom `ArrayExample` class.

[2020-07-16 22:08] Rick-Anderson commented on #19236
look in the sample download

[2020-07-17 02:22] #19202 closed

[2020-07-17 09:40] SetTrend commented on #19236
A documentation is not an addendum to sample code. To be a documentation in contrast to scribble, the documentation must stand by itself. You cannot expect readers to download code every time they just want to read some piece of information.

Did you notice that the ASP.NET documentation takes 5,000 pages when converted to PDF? You don't expect readers/learners to also download numerous samples ju

[2020-07-17 11:45] sukesh-ak opened #19239 "How to add user-secrets while publishing .NET Core Console App?"
[Enter feedback here]
I used user-secrets in my SignalR Client Console App and it works fine during development.
I published the .NET Core Console App to a different machine (Raspberry Pi running RPI OS with .NET Core 3.1 SDK)
Exception is thrown saying the user-secrets are not found.

How do I transfer the user-secrets to make sure my application can find it on a different machine?
_I understand

[2020-07-17 13:06] guardrex commented on #11403
Let's close because https://github.com/dotnet/AspNetCore.Docs/issues/10827 can handle the updates. I'll leave a comment there to cross-link the new coverage from the Linux Nginx topic.

[2020-07-17 13:06] #11403 closed

[2020-07-17 13:08] guardrex commented on #10827
I closed  #11403 as a dup. Just one quick reminder note to cross-link the coverage in the Linux Nginx topic.

* https://docs.microsoft.com/aspnet/core/host-and-deploy/linux-nginx
* aspnetcore/host-and-deploy/linux-nginx.md

[2020-07-17 13:16] guardrex commented on #17921
@javiercn I'm up to working on this one now.

Three-level chained bind doesn't seem to work. A state container works great.

We need to add the state container approach to the docs anyway, but is a three-level chained bind either ...

* Not supported ... it doesn't work by-design.
* Not programmed correctly in my attempts. In this issue :point_up:, I tried a couple of approaches:
  * https://githu

[2020-07-17 13:20] javiercn commented on #17921
@SteveSandersonMS can chime in here. I'm fully booked for the next week, so I'll be slow to answer.

[2020-07-17 13:53] guardrex commented on #18924
Moving discussion offline.

#18510 will cover work to deal with claims overage when users are in more groups/roles than can be sent directly to the app on authentication.

[2020-07-17 13:53] #18924 closed

[2020-07-17 16:48] mkArtakMSFT commented on #18297
@guardrex, ProtectedBrowserStorage support is now in (https://github.com/dotnet/aspnetcore/pull/23553). @MackinnonBuck can you share a small sample showing how to use the new ProtectedBrowserStorage?

[2020-07-17 16:51] mkArtakMSFT commented on #18297
Also, I do like the idea of having a separate node for Blazor WebAssembly state management: `Create a new doc for state management in WASM`, as you referred to it.

[2020-07-17 16:53] mkArtakMSFT commented on #18297
As for the categories (your last question), maybe we should hold on for now. Let's roll the simple state management doc and then see how community will react and tell us what more they will need.

[2020-07-17 17:08] fitprotracker opened #19244 "What is the MyDebug in the code examples?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a70a955f-dd5a-c46b-dfe8-21521e619320
* Version Independent ID: ebb299e0-6c1c-7077-689d-ac711352e418
* Content: [Filters in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-3.1)
* Content Source: [aspne

[2020-07-17 17:28] guardrex commented on #18297
Then, the options are down to ...

* Convert the doc to cover both WASM and Server given the overlap in approaches in the *Where to persist state* section and with possible 3rd party libs. Sections that would pertain to one or the other clearly marked within the topic.
* New doc for WASM (and a node to hold both topics), and it will have similar coverage to what's in the *Where to persist state* s

[2020-07-17 17:51] mkArtakMSFT commented on #18454
@javiercn can you suggest a good pattern to use here? Do you think the one @bdfin came up with a good one?

[2020-07-17 18:25] guardrex commented on #19244
You can see it in the sample app here ...

https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/mvc/controllers/filters/3.1sample/FiltersSample/Helper/MyDebug.cs