[2017-10-31 14:10] isaac2004 commented on #4674
@spottedmahn Do you have same issue with Git Bash?

[2017-10-31 14:25] #4683 closed

[2017-10-31 14:26] spottedmahn commented on #4670
Hi @EisenbergEffect - thanks for reply!  I understand.

[I've opened up feedback item.](https://msdocs.uservoice.com/forums/364242-site-feedback/suggestions/32083987-allow-preview-of-build-output-for-doc-changes-to-o)

[2017-10-31 14:48] scottaddie commented on #4674
@spottedmahn This sounds like a Windows max path issue. Make sure the path to which you're cloning this repo on your machine is very short. For example, I clone this repo to C:\working_folder\. If that still doesn't fix the problem, then we should shorten the path to that file (e.g., shorten a directory name).

[2017-10-31 14:54] spottedmahn commented on #4674
Hi @isaac2004 - I'm not as familiar w/ the CLI but I think I did it properly:

$ git checkout
error: The following untracked working tree files would be overwritten by checkout:
        .gitattributes
        .github/ISSUE_TEMPLATE.md
        .github/PULL_REQUEST_TEMPLATE.md
        .gitignore
        .openpublishing.build.ps1
        .openpublishing.publish.config.json
        .openpublishing.red

[2017-10-31 14:58] spottedmahn commented on #4674
Hi @scottaddie - agreed.  I though long filenames was (finally) [addressed in Win10](https://lifehacker.com/windows-10-allows-file-names-longer-than-260-characters-1785201032)?  I changed my registry entry and it still fails (I haven't rebooted though).

You're right, a folder on the root of `C` will probably fix it but I was hoping for a more modern solution 😄

[2017-10-31 15:03] scottaddie commented on #4674
@spottedmahn I'm not familiar with the GitHub desktop app. I use the command line (Cmder with posh-git) and had no issues cloning.

[2017-10-31 15:12] spottedmahn commented on #4674
I kept looking and I notice I made a mistake.  After cloning it, I see a subdir `Docs`.

$ git status
On branch master
Your branch is up-to-date with 'origin/master'.

**Executive Summary**
Cloning from GitBash worked with a deep folder structure but the GitHub desktop client didn't.

[2017-10-31 15:13] #4674 closed

[2017-10-31 15:15] isaac2004 commented on #4393
@rachelappel should this be modified to use Azure Continuous Delivery (preview) or the same process using Deployment Options?

[2017-10-31 15:22] scottaddie commented on #4674
@spottedmahn Glad you figured it out. Thanks for the update.

[2017-10-31 15:40] rachelappel commented on #4393
@isaac2004  There is  [this doc](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-dotnet-continuous-delivery) on it. Generally, the guidelines are to try to keep specific topics to their own page, as customer satisfaction goes up when the docs are smaller and focused to a single topic.

On a similar note we also have continuous deployment and integration docs and I'm wondering

[2017-10-31 15:54] danroth27 opened #4685 "Diagnosing startup errors"
Add/update content that covers diagnosing startup errors when running behind IIS and when hosted on Antares.

We already have these troubleshooting tips when publishing to IIS: https://docs.microsoft.com/en-us/aspnet/core/publishing/iis?tabs=aspnetcore2x#troubleshooting-tips. We should make sure these are still up to date.

`[Edit]`

- [x] I noticed that the [detailedStartupErrors ](https://docs.m

[2017-10-31 16:04] isaac2004 commented on #3772
@Rick-Anderson @scottaddie There is a 1.1 Sample on [Azure GitHub](https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp). It gives you full flow. Thoughts on linking to this documentation and then walkthrough with screens of creating 2.0 app.

[2017-10-31 16:05] isaac2004 commented on #4393
@rachelappel yep all makes sense. I will just update some of the VS and Azure screens and text for this doc than.

[2017-10-31 16:22] spottedmahn opened #4686 "What are these <a name=blah> tags all about?"
I'm running the docs locally and I'm seeing:

![image](https://user-images.githubusercontent.com/14079228/32235429-d7e1909c-be35-11e7-8b0f-ccc57e3a1b9d.png)

----

When I look [at the production page](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies) I don't see anything that corresponds to it.  What is the purpose of these tags?  Why do they show up on local builds?

[2017-10-31 16:32] spottedmahn commented on #4686
nvm, I rebased and they went away.

[2017-10-31 16:32] #4686 closed

[2017-10-31 16:35] Tratcher commented on #1291
These are also used for MemoryCache eviction.

[2017-10-31 17:06] guardrex commented on #1291
@Tratcher Are you suggesting mentioning it in passing? ... or are you looking for more significant coverage than that?

[2017-10-31 17:32] scottaddie commented on #4686
For future reference, if the name attribute doesn't use quotes, you'll see this behavior. We recently fixed all of them, which is why you don't see them after rebasing.

[2017-10-31 17:39] Tratcher commented on #1291
It's definitely worth mentioning, it's one of the main recipients of change notifications. Adding a small sample wouldn't hurt either. The samples for this on https://docs.microsoft.com/en-us/aspnet/core/performance/caching/memory are a little strange.

[2017-10-31 17:58] Rick-Anderson commented on #4685
From Glen Condron:
This looks like what happens when you get an exception being thrown in your Configure method, which means you should see an exception logged in Application Insights, something like this:
![image](https://user-images.githubusercontent.com/3605364/32240349-3622ef90-be11-11e7-848a-52d923cb95b4.png)

We log whenever you are behind IIS and a startup error occurs, outside of ANCM erro

[2017-10-31 18:44] scottaddie opened #4689 "Address Livefyre comment in "fundamentals/app-state""
https://docs.microsoft.com/aspnet/core/fundamentals/app-state

Address the following Livefyre comment from "Chonch":

[2017-10-31 19:08] guardrex commented on #1291
The caching topic is certainly feature-focused ... change tokens not being mentioned at all.

* I thought that the caching change tokens are an implementation detail handled by the API and not meant to be handled directly by the dev. Is that incorrect?
* Do we want to show how to build a token-based caching system when the OOB caching is professionally produced, performant, and supported?
* Tea le

[2017-10-31 19:13] Tratcher commented on #1291
A dev may need to flow a change token from the source to the consumer. E.g. Read a file into cache and add a change token that listens for file changes to remove the file from cache so it can be recreated.

[2017-10-31 19:18] Tratcher commented on #1291
Any hypothetical design changes are too far out to worry about for the current discussion.

[2017-10-31 19:24] guardrex commented on #1291
I think that would work best as an add-on example to what's currently there and not as a replacement. I like showing the file handling in a simple way initially not tied to any other feature. I can add an example to the sample that does what you're proposing.

[2017-10-31 19:32] #4393 closed

[2017-10-31 20:17] rachelappel commented on #4459
@guardrex Luke, are the TagHelpers docs all in place where I can update the ToC to reflect what's out there or are there PRs being worked on where I should wait? I'm assuming you were working on those (I was OOF a bit so might not be up to date on what's going on). LMK thanks

[2017-10-31 20:17] spottedmahn commented on #4651
How come I don't see the above `warnings` in my last [build report](https://opbuildstorageprod.blob.core.windows.net/report/2017%5C10%5C31%5C6a0d29ae-bb37-09f1-c55a-4cfa862c6784%5CPullRequest%5C201710312010318963-4691%5Cworkflow_report.html?sv=2015-02-21&sr=b&sig=g7mjAOxeXjkp30qvIaVZDGnnMZuKoPUczjypuS%2FzaPM%3D&st=2017-10-31T20%3A09%3A28Z&se=2017-12-01T20%3A14%3A28Z&sp=r#BuildDetails)?

CC: @scott

[2017-10-31 20:23] guardrex commented on #4459
They're in place as far as I know with no immediate PRs in the works for THs. There might be some issues, but no active work AFAIK.

I'm about to put up a PR that moves the logging content into an index page so that we can have the new LoggerMessage topic sit next to it in the TOC.

Cc @scottaddie

[2017-10-31 20:41] #4559 closed

[2017-10-31 20:46] Rick-Anderson commented on #4651
build reports are sporadic.

[2017-10-31 20:47] rachelappel commented on #4459
@guardrex Sounds good and oops that comment was supposed to go in issue 4386. I have too many tabs open. :D

[2017-10-31 20:48] scottaddie commented on #4651
@spottedmahn I don't consistently see them either.

[2017-10-31 21:00] guardrex commented on #4459
ah ... i see. I was wondering. lol ... That's why I mentioned the LoggerMessage PR about to go in. I was looking at the title of this.

[2017-10-31 22:27] Rick-Anderson opened #4695 "RazorPages is ambiguous - rename app MyRazorPages"
[Customer finds](https://email.livefyre.com/wf/click?upn=oZtfHoAwEgZg8ZniQXSTq5lYbS7d9xuTHMWGktPja-2BHyG4BOnRR2sabmhFhG8bLR1TZB668UkRDbzx4vRPF-2FKYQfPlI9ArodAxEFFWQrbHpAumhKRWLoE6Yfh2dVPMqwfKhMx4mZBUBM2wBUH5duuA-3D-3D_QWzJqCyY-2Fktk78Jhok58QwALCX15NZTQN-2Fr1lFKB1qHepkxd4rxgVxvD1TgihhSkLR-2BCMBMfO2rpeOqw05LMTKHfwLTzn9GhX-2BKvtwHDLwj7dJV8hzRFpZ3G7hH3b-2FdegzYTKGkr9yw6xBytg-2FLITQ3fGGyNCUzPc-2FF5zVcV

[2017-10-31 22:40] guardrex commented on #4685
It's been a while ... perhaps as long as a year. We *do* need to add `detailedStartupErrors` and a link over to the Hosting topic down in the Troubleshooting section.

[2017-10-31 22:50] #3076 closed

[2017-10-31 22:50] #4535 closed

[2017-10-31 22:50] #4678 closed

[2017-10-31 23:17] glennc commented on #4685
- I noticed that the `detailedStartupErrors` docs I could find never talked about being able to set it via an environment variable, only showed how to do it in code.
- There is an experience inside App Services solve problems blade that can be ASP.NET Core aware. This experience needs work, but it might help some people and we should talk about what we can do to make it better.
- Getting to a view

[2017-10-31 23:26] guardrex commented on #4685
There's probably enough to say about Azure Apps hosting that it could be its own topic. I opened this one back in February and even hacked up a draft outline: https://github.com/aspnet/Docs/issues/2800 ... so this issue could be seen as a dup of #2800 if that topic were to contain all of the juicy details on troubleshooting Azure Apps.

A problem developed over time with the IIS topic: It has beca

[2017-11-01 03:38] guardrex commented on #4695
RazorPagesSample?

[2017-11-01 05:38] #4002 closed

[2017-11-01 14:06] scottaddie commented on #4695
I vote for RazorPagesSample.

[2017-11-01 14:28] isaac2004 commented on #4624
@scottaddie this is related to #4473 and #4082

[2017-11-01 14:44] isaac2004 commented on #4544
@Rick-Anderson looks like you still need to pass string into the extension per [master on GitHub](https://github.com/aspnet/EntityFrameworkCore/blob/dev/src/EFCore.InMemory/Extensions/InMemoryDbContextOptionsExtensions.cs)

![image](https://user-images.githubusercontent.com/8878502/32280263-a2337ca0-bef1-11e7-9463-842314656ea9.png)

[2017-11-01 15:05] scottaddie commented on #4667
Internal bug (# 1115805) filed in VSTS.

[2017-11-01 17:31] #4386 closed

[2017-11-01 19:34] #4534 closed

[2017-11-01 19:39] #4672 closed

[2017-11-01 19:46] Rick-Anderson commented on #4649
@scottaddie  should we close this issue? It seems many of the bad link reports are incorrect. Some are correct and have been fixed by @spottedmahn

I checked a bunch in #4651 and they are not bad links. DocFX should tell us all the bad links.  cc @rachelappel  for her #4648 issue

[2017-11-01 20:13] scottaddie commented on #4649
@Rick-Anderson Let's close it. I've been checking all of my changes locally in DocFx before pushing.

[2017-11-01 22:13] rachelappel commented on #4649
@Rick-Anderson +1 to Close. I think it was something off in the build process, or that with Git. The errors all went away after a few more PRs opened and builds happened. Plus it doesn't show up in DocFX like Scott's.

[2017-11-02 05:08] guardrex commented on #4670
@spottedmahn You can build the docs locally with DocFX :point_right: https://github.com/aspnet/Docs/blob/master/CONTRIBUTING.md#test-your-changes-with-docfx

... you just need one *RexHack*:tm: to make it work. DocFX running locally can't render tab controls properly. What you can do is hack your browser to show the contents of the tabs ... so you can at least :eye: *SEE* :eye: what content you ha

[2017-11-02 14:11] spottedmahn commented on #4670
Thanks @guardrex !

I actually just got through my first [PR working completely locally](https://github.com/aspnet/Docs/pull/4690#issuecomment-340887046)!

❤️ it!  I'll have to check out [Stylebot](https://chrome.google.com/webstore/detail/stylebot/oiaejidbmkiecgbjeifoejpgmdaleoha?hl=en), looks very interesting.

I noticed the style is not 1 for 1 to what I see online.  I wonder why that is?

Than

[2017-11-02 14:50] scottaddie opened #4713 "Update security/authorization/resourcebased to 2.0"
https://docs.microsoft.com/aspnet/core/security/authorization/resourcebased

- [ ] Update content to ASP.NET Core 2.0
- [ ] UE edit
- [ ] Follow MVC writing style
- [ ] Address Livefyre questions
- [ ] Address customer verbatim:

[2017-11-02 14:53] ebattalio opened #4714 "Need to reset doc.microsoft.com password"
I cannot log in to post a comment on docs.microsoft.com. I asked for a password reset but never got an email.

The main problem I have is I follow the instructions at https://docs.microsoft.com/en-us/aspnet/core/publishing/visual-studio-tools-for-docker and am getting a nodejs misisng exception. I am using the 10/21/2017 update to VS2017. I want to post a question to that article.

Thanks,
Eric B

[2017-11-02 15:01] scottaddie commented on #4713
Some of the 2.0 updating was handled in https://github.com/aspnet/Docs/pull/4712

[2017-11-02 16:00] scottaddie commented on #4670
@guardrex @spottedmahn Tabs are supported in DocFx as of the following release: https://github.com/dotnet/docfx/releases/tag/v2.26

[2017-11-02 16:00] guardrex commented on #4670
Thx @scottaddie I'll give that a shot.

[2017-11-02 18:06] #4689 closed

[2017-11-02 18:36] Tratcher commented on #2384
And https://github.com/aspnet/Security/issues/1521

[2017-11-02 21:31] Rick-Anderson opened #4720 "Clean up TOC"

[2017-11-02 23:01] anpete opened #4721 "Document known semantic differences between relational and L2O"
We could have page that lists out all of our known behavioral differences between LINQ on relational vs L2O.

[2017-11-03 19:49] mjnorman commented on #2384
@pksorensen 's fix above worked for me.  Thanks team!

[2017-11-03 20:31] isaac2004 commented on #4472
@Rick-Anderson can you check the 2nd item in this list? It was fixed by that PR

[2017-11-03 20:33] isaac2004 commented on #3579
@Rick-Anderson @terrimorton is this issue still valid, or can it be closed after my PR

[2017-11-03 20:47] isaac2004 commented on #3506
@Rick-Anderson have an example, want to make sure I am following standards

[2017-11-04 00:28] Rick-Anderson commented on #3506
@isaac2004  this is probably easier for us to fix, we have a tool that flags all the future tense.

[2017-11-04 00:29] Rick-Anderson commented on #3579
@isaac2004  I think your PR covers it and it can be closed.

[2017-11-04 21:23] tebeco commented on #4021
@scottaddie hello
do you know where is the code to generate that launchSettings file if it does not exists ?
i’d like to edit it for custom tools but it is not create using `dotnet new` and creating default file just like studio does seems like a good idea right ?

[2017-11-06 16:54] isaac2004 commented on #4544
@Rick-Anderson @scottaddie  please above is correct

[2017-11-06 17:06] isaac2004 commented on #4557
@Rick-Anderson I can take this one, had a question about the solution though. It looks like the MVC Movie repo at one point lived under your account. Is it somewhere that can be moved to this repo?

[2017-11-06 17:36] scottaddie commented on #4021
@tebeco *launchSettings.json* is a Visual Studio artifact, so I wouldn't expect it to be generated by the .NET Core CLI. See here for the file in the 2.0 project template within the aspnet/templating repo: https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/Properties/launchSettings.json

[2017-11-06 17:58] Tratcher commented on #2384
And https://github.com/aspnet/Security/issues/1529.

@danroth27 can we move this up the priority list? We're getting consistent hits on it.

[2017-11-06 18:25] Rick-Anderson commented on #4557
@isaac2004  the sample code should go in the Docs\aspnet\mvc\overview\getting-started\introduction\getting-started\sample folder. You'd have to create the sample folder.

[2017-11-06 18:31] tebeco commented on #4021
i agree,
CLI should not generate vs related file ;)

In order to setup `ElectronNet` the `init` step add a file to the csproj and it also might be a good idea to enhance the debug configuration so that pressing F5 in Vs2017 would also you either just to run the Aspnet application in `iis express`, `console` or `électron` itself

i do not intend to ask for any modification, i just wanted to see if

[2017-11-06 18:39] Rick-Anderson commented on #2384
@Tratcher  we can do this for [Sprint 127 (11/11/17 - 12/01/17)](https://github.com/aspnet/Docs/milestone/22)
@scottaddie  can you take this on?

[2017-11-06 19:48] tebeco commented on #4021
@scottaddie, any idea how `ports` are randomized ? min and max including or excluding bounds ?

[2017-11-06 20:42] scottaddie commented on #2384
@Rick-Anderson Yes. I'll get to it next sprint, as you already mentioned.

[2017-11-06 20:45] scottaddie commented on #4021
@tebeco Let's ask @mlorbetske & @sayedihashimi. Mike and/or Sayed, any ideas on the port questions above?

[2017-11-06 23:42] mlorbetske commented on #4021
The code for doing the port generation at the CLI can be found here https://github.com/dotnet/templating/blob/rel/2.1.0-preview1/src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/GeneratePortNumberMacro.cs, web projects can optionally include a launchSettings.json when created via dotnet new by supplying the --use-launch-settings switch

[2017-11-07 01:41] #2810 closed

[2017-11-07 01:41] #4093 closed

[2017-11-07 01:47] Rick-Anderson commented on #4641
@Sara-Nicolini can you respond?

[2017-11-07 01:52] Rick-Anderson commented on #4714
@ebattalio  LiveFyre controlls that, we don't. You can post the question here.

[2017-11-07 01:56] Rick-Anderson commented on #4721
semantic difference between LINQ vs LINQ to Objects wouldn't be written in this repo.  I don't know which repro it would go to.

[2017-11-07 01:56] #4721 closed

[2017-11-07 02:04] Rick-Anderson commented on #4652
@javiercn  would you be able to write the sample code?

[2017-11-07 02:09] Rick-Anderson opened #4737 "Prefer FindAsync over FirstOrDefaultAsync in RP/EF tutorial"
Currently the [CRUD](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/crud) tutorial state:

Replace SingleOrDefaultAsync with FirstOrDefaultAsync

But FindAsync might be a better replacement. See https://github.com/aspnet/Scaffolding/issues/649

[2017-11-07 06:19] tebeco commented on #4021
thx a lot

[2017-11-07 22:27] #3959 closed

[2017-11-07 22:31] scottaddie commented on #3389
@mrbullwinkle Just following up on this and hoping to get a status. Anything I can do to help?

[2017-11-07 22:34] danroth27 commented on #3659
@glennc What is this? Is this a thing?

[2017-11-07 23:05] #3849 closed

[2017-11-07 23:07] Rick-Anderson commented on #4737
Per Arthur:
here are pros an cons:

Find is simple and concise if all you need is to look up a single entity.
Find can have perf benefits in some situations, but they rarely come into play for normal web scenarios.
Find implicitly does First instead of Single.
But if you want to Include other entities, then Find is no longer appropriate. This means that you may need to abandon Find and move to a q

[2017-11-07 23:07] #4737 closed

[2017-11-07 23:13] Rick-Anderson opened #4739 "EF/RP Migrate EF/MVC to RP Reading related data, updating related data"
[Getting started with Razor Pages and Entity Framework Core](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/index)

https://docs.microsoft.com/en-us/aspnet/core/data/

[2017-11-07 23:16] Rick-Anderson opened #4740 "EF/RP Migrate EF/MVC to RP concurrency conflicts"

[2017-11-08 11:55] lavinianastase opened #4743 "ASP.NET Core Web Application - Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions.Internal.ConnectionResetException"
On Visual Studio 2017, I created an ASP.NET Core Web Application with the following options:
![setting](https://user-images.githubusercontent.com/5435139/32547764-3e346b06-c48c-11e7-86cf-9f666488ef16.PNG)

I haven't changed anything else. When I run the project on Debug with Any CPU option (other configurations behave the same), I get the following error:

![capture](https://user-images.githubuser

[2017-11-08 20:57] scottaddie opened #4748 "Document using IPolicyEvaluator in 2.0"
Add a section to the [Resource-based authorization](https://docs.microsoft.com/aspnet/core/security/authorization/resourcebased) doc explaining when and how to use `IPolicyEvaluator` in 2.0 apps. The doc currently assumes authentication has run and set the `User` property. `IPolicyEvaluator` should be used instead of `IAuthorizationService` when doing authentication in those samples.

Related issu

[2017-11-08 21:08] Rick-Anderson commented on #4743
@lavinianastase  I've never seen this error and I cannot reproduce it. Can you try:

* Rebooting
* Creating a Razor Pages web app

Do you get this error when you run non-Debug?

[2017-11-08 21:48] #4713 closed

[2017-11-08 23:09] Rabadash8820 opened #4750 "Reference jQuery Validate Documentation"
The jQuery Validate documentation on the [remote method](https://jqueryvalidation.org/remote-method/) gives very specific details on what values the serverside resource should return.  The ASP.NET Core docs currently should mention those details or at least provide a link to the jQuery Validate documentation.

## Suggested Reviewers:
@rachelappel
@Rick-Anderson
@isaac2004
@guardrex
@v-anpasi

[2017-11-08 23:58] halter73 commented on #4743
@lavinianastase Do you see any issues if you don't break on first chance exceptions?

The ConnectionResetException is an IOException that can be thrown whenever a client disconnects ungracefully. There is a pretty good chance that if you don't break when the exception is first thrown, you wouldn't notice it except for perhaps in a debug-level log.

[2017-11-09 00:09] Rabadash8820 opened #4752 "Explain How to Add Client Side Validation to Dynamic Forms"
Dynamically generated content does not exhibit client side validation automatically.  Getting this to work correctly requires calling a `parse()` method in the jQuery Unobtrusive Validation library that is not documented anywhere (I discovered it from [this](https://stackoverflow.com/a/14982495/3991688) SO post).  I imagine this is a pretty common use case, so it really should be described in the

[2017-11-09 00:24] Rabadash8820 opened #4754 "Describe AdditionalFields Property of RemoteAttribute in Model Validation Topic"
The `[Remote]` validation attribute has an `AdditionalFields` property that, while kind of self-explanatory, has some quirks that could use more explanation, such as how to specify multiple additional fields.

I plan to provide a PR for this issue, but its getting late so I won't be able to turn that around as quick as I did for issues #4750 and #4752 😛.

## Suggested Reviewers:
@rachelappel
@Rick

[2017-11-09 01:21] Rick-Anderson commented on #4752
@Rabadash8820  thanks for the input. No need to `@` mention everyone. We'll see your new issues and PR's.

[2017-11-09 02:38] guardrex commented on #4232
@Rick-Anderson @danroth27 @scottaddie @pranavkm @DamianEdwards @javiercn

#### Proposed Title
*Razor Pages integration and unit testing in ASP.NET Core*
#### TOC Location
*Docs/aspnetcore/testing/*
#### UID
*testing/razor-pages-testing*
#### Topic type
Reference
#### Sample
https://github.com/guardrex/RazorPagesTestingApp
* The app is a simple one page message system (List, Add, Delete, Delete All

[2017-11-09 03:59] Rabadash8820 commented on #4752
Yeah... kinda blew up your notifications today, sorry about that

[2017-11-09 04:15] Rick-Anderson commented on #4752
NP, we appreciate your contributions.

[2017-11-09 05:17] guardrex commented on #4544
@isaac2004 That's correct. I ran into this with a few sample upgrades to 2.0. I've been using "InMemoryDb" as the name. Do we want to be consistent about that?

[2017-11-09 07:20] terrysheng opened #4756 "Community provided article on an example of how to use Grid Control in ASP.NET"
Hi all, attached please find an article submitted by an Taiwan MVP a while back which was published on a local section of the MSDN library and had higher views that other articles, meaning customers were looking at it. It provides a practical example on using Grid Control and may supplement this content.

It has been reverse-machine-translated to provide you with a readable English version - if yo

[2017-11-09 17:45] Rick-Anderson commented on #4544
Looks like all the samples in aspnetcore\mvc\razor-pages\index\sample pass a string param - so I'll close this.

[2017-11-09 17:45] #4544 closed

[2017-11-09 20:09] lavinianastase commented on #4743
Hi,
Thank you for your answer. To answer your questions above, I got the same error when running non-debug and the application didn't start even though I didn't break on first chance exceptions.
The issue is no longer reproducible and I took the following steps:
- uninstall and reinstall Visual Studio 2017
- reinstall IIS
- reboot.
It is still a mystery the root cause of this issue, since I didn't

[2017-11-09 20:10] #4743 closed

[2017-11-09 21:59] shirhatti opened #4759 "Update ANCM doc to talk about why we don't proxy to Kestrel via HTTPS"
We've had a couple of customers complain about the fact that ANCM doesn't use HTTPS to proxy to backend Kestrel via HTTPS.

We do this a performance optimization since the OS has some optimization on loopback traffic to ensure it doesn't even hit the network interface. We do however guarantee integrity of the requests by passing a token via an environment variable to the backend which it then expe

[2017-11-10 03:27] Rick-Anderson opened #4762 "Create a web app is hard to follow"
Some customers find https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/ hard to follow. Add a note saying it's not a tutorial, detailed instructions can be found in https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start

Add that as next step as the end of the tutorial.

Verbatim:

[2017-11-10 03:41] Rick-Anderson opened #4763 "Finish Create a Razor Pages web app with Visual Studio for Mac - scaffolding"
https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages-mac/

Part 1 had 762 views in last month. Maybe it will get more traffic when it's complete.

[2017-11-10 03:58] Rick-Anderson opened #4765 "Replace Create a web app with the RP intro series"
See issue #4762
Consider replacing  [Introduction to Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/?tabs=visual-studio) with [Getting started with Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start)

[2017-11-11 00:16] #4754 closed

[2017-11-11 13:38] isaac2004 commented on #4557
@Rick-Anderson I am thinking creating the entire sample and putting it at Docs\aspnet\mvc\overview\getting-started\introduction\sample (which does not exist)
This would be the entire solution (no snippets) and all the docs would reference. Than obviously that would be the location the Deploy to Azure button reads from. If this makes sense I will proceed

[2017-11-11 17:15] guardrex commented on #4759
@Rick-Anderson @scottaddie If approved, I'll drop this in ... it'll only take a couple of minutes.

[2017-11-11 18:43] guardrex commented on #3469
@Rick-Anderson
* Do you want me to use tabs to distinguish the 1.1 vs. 2.0 features?
* For new 2.0-only features mark them as such? ... for example using language like:
   * In ASP.NET Core 2.0+, ...
   * (new in ASP.NET Core 2.0) or (new in 2.0)
   * Requires ASP.NET Core 2.0 or later. (btw- We're going with "or later" in these cases, correct?)
* I think (guessing) that the new content can fit in

[2017-11-13 00:14] guardrex commented on #3352
@Tratcher I was messing around with this today :point_right: https://github.com/guardrex/HostedServiceSample

That's an RP app. It does deal with scopes and the dB context to allow the background tasks to interact with the dB. It does offer the ability to shutdown background tasks from a page model method. It uses `BackgroundService` from 2.1 and registers a couple of `IHostedService` instances.

[2017-11-13 00:26] guardrex commented on #4438
@danroth27 You mean "IHostingStartup," correct?

As David would say, "'IHostStartup' isn't a thing ... you just made that up!" :smile: lol

[2017-11-13 04:13] Tratcher commented on #3352
You can use a separate control service for each like IBackgroundTaskQueue above.

[2017-11-13 05:22] danroth27 commented on #4438
Oops, yeah :smile: https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting.Abstractions/IHostingStartup.cs

[2017-11-13 05:47] guardrex commented on #3352
I see. I broke some of the rules here. :grinning:

1. "Low level component for running long running tasks." I show timed, intermittent, fast-running tasks are possible on any schedule.
2. "Runs a job once at startup and runs for the life of the app." -AND- "Not something you create/destroy while app is running." I show it runs a job if conditions are met and that you could start and stop it on-dem

[2017-11-13 13:51] HansHammel opened #4777 "FileUploadSample broken"
The .\aspnetcore\mvc\models\file-uploads\sample\FileUploadSample is broken.
I get a `User creation failed with status code: 400` for the multipart form, and the Avatar sample shows no Image, but the files seem to be uploaded to temp folder. No further Investigation of mine. Please fix this.

Thx.

[2017-11-13 15:53] rachelappel commented on #4750
@Rabadash8820 Would you post the specific ASP.NET docs you are referencing?

[2017-11-13 18:52] Rick-Anderson opened #4782 "New topic: Getting the DbContext outside of a Controller"
- [ ] Getting the DbContext outside of a Controller
- [ ] Accessing scoped services outside of an HTTP request.

per @davidfowl
There's enough confusion here that I think we should have a first class topic for it on the EF docs:

https://www.reddit.com/r/dotnet/comments/7cednh/how_to_grab_a_dbcontext_from_outside_a_controller/
We should probably also have something on accessing scoped services out

[2017-11-13 20:07] Rick-Anderson commented on #3469
@guardrex
Yes, use tabs to distinguish

I'd go with "Requires ASP.NET Core 2.0 or later."
Yes, use later, not higher.

[2017-11-13 20:14] divega commented on #4782
@Rick-Anderson that really is a DI question, not an EF question :smile_cat:

By default `AddDbContext<TContext>()` registers `TContext` as scoped, so you want to create a DI scope first. There is already some guidance in the context of migrating from 1.x to 2.0:

https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/#move-database-initialization-code

But not sure where else this could b

[2017-11-13 20:42] Rick-Anderson commented on #4759
@blowdart  can you bless this change so @guardrex can update the doc?

[2017-11-13 20:49] #4762 closed

[2017-11-13 20:50] blowdart commented on #4759
Yes yes :) Although is it actually an environment variable @shirhatti ? I thought it was a command line parameter.

Also I'd say it's NOT "guarantee integrity", it's only proving that the requests came from ANCM, nothing more. Integrity is an overloaded term when it comes to security.

[2017-11-13 20:51] Rick-Anderson commented on #4557
@isaac2004  sounds great. I don't think I ever saved the code for this tutorial.

[2017-11-13 21:05] guardrex commented on #4759
It's a header:

https://github.com/aspnet/AspNetCoreModule/blob/c315b27ad9f384749aab975f5f698f1929dec7fb/src/AspNetCore/Src/forwardinghandler.cxx#L701
https://github.com/aspnet/IISIntegration/blob/cc31406913ae349a6f69acef65be65da91086b39/src/Microsoft.AspNetCore.Server.IISIntegration/IISMiddleware.cs#L70

:+1:

[2017-11-13 21:19] shirhatti commented on #4759
@blowdart  It comes from an [environment variable](https://github.com/aspnet/IISIntegration/blob/552163ab77c269bc1f6c22bbf2b7560e0677c421/src/Microsoft.AspNetCore.Server.IISIntegration/WebHostBuilderIISExtensions.cs#L75).

[2017-11-13 21:31] blowdart commented on #4759
Gosh you weirdos :)

[2017-11-13 21:32] guardrex commented on #4759
I see ... pairing token in header from env var. Tricky!

[2017-11-13 21:33] blowdart commented on #4759
This is done so an attacker on the local LAN can't port scan, discover Kestrel, then send random stuff, including Windows Identity tokens.

[2017-11-14 19:53] Rick-Anderson commented on #3433
fixed.

[2017-11-14 19:53] #3433 closed

[2017-11-15 18:54] #4752 closed

[2017-11-15 19:24] #3254 closed

[2017-11-15 19:52] StingyJack opened #4805 "Asp.net docker page is misleading/confusing"
https://github.com/aspnet/Docs/blob/master/aspnetcore/publishing/visual-studio-tools-for-docker.md

Title says it's for Visual Studio Tools for Docker, but it isn't. Where is that page?

Document doesn't maintain target platform and seems to interchange netfx and netcore. Which adds to the confusion when expecting info on Docker tools for Visual Studio. This is actually a wider problem than this s

[2017-11-16 16:05] #4648 closed

[2017-11-16 21:23] Rick-Anderson commented on #4232
@danroth27  can we get this outline and https://github.com/guardrex/RazorPagesTestingApp sample reviewed by EOW?  @guardrex  is waiting.  cc @pranavkm  @javiercn and cc @DamianEdwards for the outline

[2017-11-16 21:24] #4759 closed

[2017-11-17 07:47] samget99 opened #4816 "I couldn't download the sample"
## General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.
This template offers some suggestions to consider
when creating an issue.

## Issues with Existing Topics

If the issue is a simple typo or similar correction, just submit a PR.
Otherwise, let us know what's wrong or what we should improve. Include a
link to the topic.

## Requests for

[2017-11-17 18:15] scottaddie commented on #4816
@samget99 Please include a link to the doc containing the sample.

[2017-11-17 18:35] Rick-Anderson commented on #4816
What sample? See https://docs.microsoft.com/en-us/aspnet/core/tutorials/index#how-to-download-a-sample

[2017-11-17 18:35] #4816 closed

[2017-11-17 18:37] Rick-Anderson commented on #4756
cc @danroth27 @rachelappel @scottaddie  any thoughts?

[2017-11-17 18:40] Rick-Anderson commented on #4805
@StingyJack  we've found livefyre to be unreliable.  Issues should be left here in the issue rather than with livefyre. Can you list the issues here?

cc @scottaddie

[2017-11-17 18:43] Rick-Anderson commented on #4641
@hishamco sorry for the delay. I'll try to get a response in the next week.

[2017-11-17 18:57] Rick-Anderson commented on #4777
@guardrex  this isn't your sample is it?

[2017-11-17 19:05] guardrex commented on #4777
@Rick-Anderson It's for an [@]ardalis topic. It goes with ...

https://github.com/aspnet/Docs/blob/master/aspnetcore/mvc/models/file-uploads.md
https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads

[2017-11-17 19:06] Rick-Anderson commented on #4777
@ardalis  might know the problem.

[2017-11-17 20:44] hishamco commented on #4641
Ok, thanks

[2017-11-17 20:57] scottaddie commented on #4756
I'm in favor of including the article, perhaps in the following section:
https://docs.microsoft.com/aspnet/web-forms/overview/presenting-and-managing-data/model-binding/

Is there an accompanying sample app?

[2017-11-17 21:41] Rick-Anderson commented on #4232
@Eilon @danroth27 can we get this outline and https://github.com/guardrex/RazorPagesTestingApp sample reviewed in the next 3 business days? @guardrex is waiting. cc @pranavkm @javiercn and cc @DamianEdwards for the outline

[2017-11-17 22:05] pranavkm commented on #4232
The outline looks good to me. I left a couple of comments in the commit for the sample (https://github.com/guardrex/RazorPagesTestingApp/commit/0e2470d75ec215d5573ddb9e3b1e1806450eac33#commitcomment-25509962) and doesn't look like they've been addressed.

[2017-11-17 22:08] guardrex commented on #4232
@pranavkm Oh ... that's strange. I didn't get a GH ping on those, so I had no idea. I'll TAL now.

[2017-11-17 22:21] guardrex commented on #4232
@pranavkm

Thanks ... yes, of course ... just an oversight. I'll fix 'um.

@Rick-Anderson [@]DamianEdwards looks like he had some ideas about mocking certain services and types used to create page models, and I'd like to make sure that what's in the sample is enough to cover his wishes. I wrote a bit about this in the *Philosophical issues* section of my comment :point_up:. Should we wait to see i

[2017-11-17 22:39] Rick-Anderson commented on #4641
@hishamco  sorry to let you know, according to @Sara-Nicolini

[2017-11-17 22:39] #4641 closed

[2017-11-17 22:41] guardrex commented on #4232
@pranavkm Oh ... I know why I set those up that way now. They're supposed to return a `Task` so that it can check `IsCompletedSuccessfully`, then it can use the `result.Result` to make sure the result is assignable to a `List<Message>`, get the actual messages, and then proceed to see if they match the expected messages.

Are you saying that this is a bad approach? ... I didn't think it would comp

[2017-11-17 22:47] pranavkm commented on #4232
Yup. User code shouldn't really care about unwrapping the Task. `async` \ `await` does this nicely and we should guide them towards using it.

[2017-11-17 22:50] guardrex commented on #4232
@pranavkm Gotcha, thanks. I'll fix it up.

[2017-11-18 02:28] Rick-Anderson opened #4819 "pre-core:Calling a Web API From a .NET Client CSAT"
[this doc](https://docs.microsoft.com/en-us/aspnet/web-api/overview/advanced/calling-a-web-api-from-a-net-client)

[2017-11-18 02:39] Rick-Anderson opened #4820 "fundamentals/configuration - improve CSAT"
uid:fundamentals/configuration
[doc](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration?tabs=basicconfiguration)
improve CSAT

[2017-11-18 02:42] Rick-Anderson opened #4821 "CSAT Host ASP.NET Core on Windows with IIS"
[URL](https://docs.microsoft.com/en-us/aspnet/core/publishing/iis?tabs=aspnetcore2x)

Plan:
- [ ]  UE pass
- [ ] split off the Troubleshooting into a new standalone topic

[2017-11-18 02:45] hishamco commented on #4641
Why is there any reasons? I saw there are many languages, an Arabic is one of the languages that have a big community especially in Middle East, Asia and Africa

[2017-11-18 23:43] StingyJack commented on #4805
I see what you mean, its reffed me to 3 of my older posts in the last week and all have been removed.

If you are asking about the specific issues, these are ones that are now gone.
![image](https://user-images.githubusercontent.com/15381181/32985749-76693fbe-cc8f-11e7-96b5-6a2da356dd49.png)

![image](https://user-images.githubusercontent.com/15381181/32985765-bf415e74-cc8f-11e7-9b1a-c6190c3f72ec.

[2017-11-19 13:42] guardrex commented on #4821
Since the topic hasn't changed much but the score has been steadily falling from 70-75 range, have you been able to draw a conclusion as to why the score has fallen so much?

[2017-11-19 20:35] Rick-Anderson commented on #4821
I agree with your assessment when you wrote:

[2017-11-19 21:43] Rick-Anderson opened #4828 "Fix namespace in Razor Pages tutorials/razor-pages/razor-pages-start"

[2017-11-19 22:49] #4828 closed

[2017-11-20 12:31] terrysheng commented on #4756
@scottaddie thanks so much for your comment. unfortunately, there is no sample app.

[2017-11-20 18:04] isaac2004 commented on #4557
@Rick-Anderson is good to be closed?

[2017-11-20 18:06] Rick-Anderson commented on #4557
@isaac2004  Yes, thanks!

[2017-11-20 18:06] #4557 closed

[2017-11-20 18:24] #4459 closed

[2017-11-20 18:49] Rick-Anderson opened #4833 "Update key management for IXmlEncryptor"
aspnetcore/security/data-protection/extensibility/key-management.md

see https://github.com/aspnet/Docs/pull/4831

cc @anonymousgituser

[2017-11-20 20:35] #4750 closed

[2017-11-20 20:43] Rick-Anderson commented on #4756
@terrysheng  unfortunately we don't have the resources to add it to our docs.

[2017-11-20 20:43] #4756 closed

[2017-11-20 20:50] danroth27 opened #4835 "Document using Azure AD B2C with an ASP.NET Core Web App"
We need to add a doc that goes through setting up an ASP.NET Core Web App to use Azure AD B2C for authentication. This doc should be linked to from the Change Authentication dialog in VS.

[2017-11-20 20:51] danroth27 opened #4836 "Document using Azure AD B2C with an ASP.NET Core Web API"
We need to add a doc that goes through setting up an ASP.NET Core Web App to use Azure AD B2C for authentication. This doc should be linked to from the Change Authentication dialog in VS and should show how to acquire a token for the Web API using MSAL and then consume the Web API using the token.

[2017-11-20 22:18] sputier commented on #4606
For my first contribution on ASP.NET Docs, I'll grab this one !

[2017-11-20 23:19] Rick-Anderson opened #4838 "Create landing page for all content using individual user accounts"
VS can fwlink to the landing page.
see #3788

[2017-11-20 23:28] Rick-Anderson commented on #4606
@sputier  Great!

[2017-11-21 00:08] HaoK commented on #4055
@scottaddie we went ahead and created an official home for the AuthSamples, they will be slowly coming online here: https://github.com/aspnet/AuthSamples

We can tailor the samples towards what this doc needs as well.  We still need to figure out how to deal with the keys/cred issue for the auth providers that require external setup (OAuth/OIDC).

[2017-11-21 03:22] Rick-Anderson commented on #4449
@guardrex  Should I assign this to someone?

[2017-11-21 03:23] Rick-Anderson commented on #4438
@guardrex  didn't this get completed?

[2017-11-21 03:24] Rick-Anderson commented on #4512
completed

[2017-11-21 03:24] #4512 closed

[2017-11-21 03:25] #4529 closed

[2017-11-21 03:33] Rick-Anderson commented on #4836
@danroth27  if you can get someone to write a sample app I'll get this scheduled.

[2017-11-21 04:18] Rick-Anderson commented on #4782
@scottaddie  can you review this?

[2017-11-21 04:24] #4714 closed

[2017-11-21 04:26] Rick-Anderson commented on #4580
@ghogen do you have an issue tracking this? Can I close this issue?

[2017-11-21 04:27] Rick-Anderson commented on #4566
We should have clean builds now. I fixed all the errors.

[2017-11-21 04:27] #4566 closed

[2017-11-21 04:30] Rick-Anderson commented on #4515
[Internal feature request](https://mseng.visualstudio.com/CSI/_queries/edit/1130130/)

I'll reopen this issue if the DoxFX folks respond.

[2017-11-21 04:30] #4515 closed

[2017-11-21 04:32] Rick-Anderson commented on #4563
@spottedmahn  closing for now. We don't have the resources to create this doc. I

[2017-11-21 04:32] #4563 closed

[2017-11-21 04:33] Rick-Anderson commented on #4523
@scottaddie  can you schedule this in the next 3 sprints?

[2017-11-21 04:34] Rick-Anderson commented on #4505
@Rabadash8820 is this covered in one of your PRs?

[2017-11-21 04:40] Rick-Anderson commented on #4033
@NTaylorMullen if you can write a sample app for this I'll get the doc scheduled in the next sprint.

[2017-11-21 04:42] Rick-Anderson commented on #3992
@mj1856  When you're ready to work on this create a new issue listing what you will update.

[2017-11-21 04:42] #3992 closed

[2017-11-21 04:43] Rick-Anderson commented on #3990
@justdmitry  I think this has been resolved - if localized content is more than 2 weeks out of date let me know.

[2017-11-21 04:43] #3990 closed

[2017-11-21 04:51] Rick-Anderson commented on #4556
See [forum post](https://forums.asp.net/post/6156135.aspx)

@scottaddie  can you follow up with @cwoodruff  on this?

[2017-11-21 04:51] Rick-Anderson commented on #3845
dup of #4556

[2017-11-21 04:51] #3845 closed

[2017-11-21 04:53] Rick-Anderson commented on #3788
close as dup of #4838

[2017-11-21 04:53] #3788 closed

[2017-11-21 04:54] #3786 closed

[2017-11-21 04:55] #3709 closed

[2017-11-21 05:35] Rabadash8820 commented on #4505
Unfortunately no.  I've had the reference source sitting in an open tab on my browser since I made this issue; just haven't gotten around to combing through it yet. 😛

[2017-11-21 06:23] danroth27 commented on #4836
The sample should be based on the File->New Project experience, but there is an existing working sample here: https://azure.microsoft.com/en-us/resources/samples/active-directory-b2c-dotnetcore-webapi/

[2017-11-21 06:25] danroth27 commented on #4505
@mairaw This should be documented in the data annotations docs. Maybe in the API ref?

[2017-11-21 08:05] guardrex commented on #4449
@Rick-Anderson Looking at your list :point_up: one at a time ...

### Integrating Azure AD into an ASP.NET Core web app

I made the final three touch-ups to that sample at [Update Azure AD/OIDC sample (29)](https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore/pull/29):
1. It had a tiny conflict in its README.md.
2. I updated the version of `UseMvc` that has the

[2017-11-21 08:07] guardrex commented on #4438
@Rick-Anderson No, it's one of the three remaining topics on the list to be written. I plan to get all three done in the three weeks between 🦃 Day and 🎄 break.

[2017-11-21 15:54] scottaddie commented on #4523
No problem. I should have the bandwidth to tackle this in Sprint 129.

[2017-11-21 16:08] #4649 closed

[2017-11-21 18:18] Rick-Anderson opened #4840 "improve discover-ability of Migration"
https://docs.microsoft.com/en-us/aspnet/core/migration/

One of the questions I got from a number of Boston Code Camp attendees is where to find guidance on migrating an MVC application from .NET Framework 4.7 to .NET Core 2.0.

I looked briefly, and I didn’t find anything obvious. Where would you direct them?

[2017-11-21 19:15] Rick-Anderson commented on #2737
@robertparis  this would go in https://github.com/aspnet/EntityFramework.Docs, not here.

[2017-11-21 19:15] #2737 closed

[2017-11-21 19:18] Rick-Anderson commented on #2479
cc:/ @erickson-doug

@mlearned  can we get an ETA on this update? Can you mention me in the PR? Can you create an issue I can point to?

cc @spboyer

[2017-11-21 20:42] guardrex commented on #4840
Is it supposed to be? :point_right: https://docs.microsoft.com/en-us/aspnet/core/migration/proper-to-2x/

Could the content be expanded and organized more like a 1-2-3 step-by-step guide? ... more like :point_right: https://docs.microsoft.com/en-us/aspnet/core/migration/mvc ... especially picking up at https://docs.microsoft.com/en-us/aspnet/core/migration/mvc#controllers-and-views because I assum

[2017-11-21 20:45] mlearned commented on #2479
just replied via email.  I'm full until week of Dec 4th if I need to update it.  (focused on Azure DevOps project and other commitments) ..I could carve some time that week to roll something out if needed.

[2017-11-21 20:49] #4840 closed

[2017-11-21 23:49] wadepickett opened #4843 "Configuring Facebook authentication - high PV low CSAT"
# Configuring Facebook authentication - high PV low CSAT

This topic: [Configuring Facebook authentication](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/facebook-logins?tabs=aspnetcore2x)

Requires some further inspection.  Relatively high traffic but low ratings.   Developers have noted some issues in the topic feedback recently that have gone unanswered.   You have

[2017-11-21 23:55] wadepickett opened #4844 "Host ASP.NET Core on Windows with IIS - high PV low CSAT - Example issues"
## Host ASP.NET Core on Windows with IIS - high PV low CSAT - Example issues

This topic: https://docs.microsoft.com/en-us/aspnet/core/publishing/iis?tabs=aspnetcore2x

See customer feedback issues.  Steps/examples are not working or it is not clear what steps they are missing.

[2017-11-22 00:01] wadepickett opened #4845 "Introduction to ASP.NET Core - high pv and low CSAT"
##Introduction to ASP.NET Core - High PV low CSAT
This topic:  [Introduction to ASP.NET Core ](https://docs.microsoft.com/en-us/aspnet/core/)

Requires further inspection:  Very high traffic, low ratings.  Please read through customer complaints under voting data in SkyEye or SkyRay.

[2017-11-22 00:04] wadepickett commented on #4845
This topic could use some starting steps.  It is the introduction, it does not point you to getting started topics as noted in recent customer feedback.

[2017-11-22 00:18] wadepickett opened #4847 "Introduction to Identity on ASP.NET Core - High PV low CSAT - sample issues"
## Introduction to Identity on ASP.NET Core - High PV low CSAT - sample issues
This topic:  [Introduction to Identity on ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?tabs=visual-studio%2Caspnetcore2x)

Needs further inspection.  Customers are complaining of issues with the examples.  See recent voting feedback in SkyRay or SkyEye.  Very high traffic f

[2017-11-22 11:46] Tratcher commented on #3352
https://blogs.msdn.microsoft.com/cesardelatorre/2017/11/18/implementing-background-tasks-in-microservices-with-ihostedservice-and-the-backgroundservice-class-net-core-2-x/

[2017-11-22 15:24] scottaddie opened #4850 "2.0 updates to Policy Authorization doc"
https://docs.microsoft.com/aspnet/core/security/authorization/policies

- [x] Address Livefyre comment from "Geoffrey_Braaf"
- [x] UE edit
- [x] Add sample app
- [x] Address "Content-Incomplete" verbatim
- [x] Clarify when to use `Task.FromResult(0)`

[2017-11-22 18:21] #4833 closed

[2017-11-22 19:41] Rick-Anderson commented on #2146
fixed by https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?tabs=aspnetcore2x#azure-log-streaming  cc / @rachelappel

[2017-11-22 19:41] #2146 closed

[2017-11-22 19:42] #2143 closed

[2017-11-22 19:42] #2130 closed

[2017-11-22 19:43] Rick-Anderson commented on #2097
@scottaddie  please review

[2017-11-22 20:42] Rick-Anderson opened #4852 "Fix customer confusion on about browser tab. on core/tutorials/first-mvc-app/adding-view"
https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-view

Save your changes and tap the About link. Notice how the title on the browser tab now displays About - Movie App instead of About - Mvc Movie.

14 questions on this. Add image to clarify.

[2017-11-22 21:21] scottaddie commented on #2097
@HaoK Would the following sample app be a good fit for this doc?
https://github.com/aspnet/AuthSamples/tree/dev/samples/ClaimsTransformation

[2017-11-22 21:24] HaoK commented on #2097
Sure, do you have some cycles to work on this?  Feel free to update the sample, don't worry about adding functional tests etc for that (unless you really want to), I will do that later when I do a pass through all the samples fleshing out all the functional tests

[2017-11-22 21:28] #2026 closed

[2017-11-22 21:29] #2007 closed

[2017-11-22 21:33] Rick-Anderson commented on #1979
Looks like this was added to [Intro to logging](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?tabs=aspnetcore2x)

[2017-11-22 21:33] #1979 closed

[2017-11-22 21:34] #1922 closed

[2017-11-22 21:35] #1963 closed

[2017-11-22 21:41] Rick-Anderson commented on #1912
Looks like this has been updated.

## 1. Create a Data Protection Registry Hive

Data Protection keys used by ASP.NET applications are stored in registry hives external to the applications. To persist the keys for a given application, you must create a registry hive for the app's application pool.

[2017-11-22 21:41] #1912 closed

[2017-11-22 21:44] Rick-Anderson commented on #1895
@HaoK do you have any guidance on what the bare minimum is?

[2017-11-22 21:49] Rick-Anderson commented on #1812
@HaoK  where is the sample for Interop with 4.5 (doc/sample story) #682 and is it OK to link to it?

[2017-11-22 21:49] Rick-Anderson commented on #1811
@scottaddie  should this be pri 2?

[2017-11-22 21:50] #1705 closed

[2017-11-22 21:55] danroth27 commented on #1811
P2

[2017-11-22 22:01] Rick-Anderson commented on #1323
@danroth27  is your list complete?

[2017-11-22 22:13] HaoK commented on #1812
@blowdart I believe you had this working in one of your personal repos?

[2017-11-22 22:14] HaoK commented on #1812
For cookie sharing specifically its here: https://github.com/blowdart/idunno.CookieSharing

[2017-11-22 22:33] danroth27 commented on #1323
We already document FromServicesAttribute. The rest of the attributes are really infrastructure. Closing.

[2017-11-22 22:33] #1323 closed

[2017-11-23 00:19] Rick-Anderson commented on #100
@daveabrock @1amirjalai @dhont  Are any of you interested in working on this.

[2017-11-23 00:27] Rick-Anderson commented on #100
@danroth27  who's the team contact for AI? What hooks does ASP.NET Core 2.x have for AI?
[Set up Application Insights for your ASP.NET website](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net) and [Application Insights for ASP.NET Core](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net-core) are out of date.

 [Application Insights fo

[2017-11-23 00:40] Rick-Anderson commented on #4852
fixed in Add image to clarify change in intro to MVC - views (#4853)

[2017-11-23 00:40] #4852 closed

[2017-11-23 01:12] Rick-Anderson commented on #4838
@danroth27  @sayedihashimi  would https://docs.microsoft.com/en-us/aspnet/core/security/#aspnet-security-documentation work? Do we need a dedicated page? I could add an H2 to that page - something like

## Tutorials that use ASP.NET Core templates and user authentication

* first
* second, etc.

[2017-11-23 01:52] scottaddie commented on #4667
This is fixed.

[2017-11-23 01:52] #4667 closed

[2017-11-23 08:29] laug opened #4862 "Samples at /aspnetcore/mvc/views/view-components/sample do not work on .NET Core 2.0"
Documentation [here](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-components#walkthrough-creating-a-simple-view-component) refers to sample projects located [here](https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/views/view-components/sample), which target `<RuntimeFrameworkVersion>1.0.3</RuntimeFrameworkVersion>` in the csproj file.

The below simple changes were attempted

[2017-11-23 16:06] terrysheng commented on #4756
[aspnetGridDemo.zip](https://github.com/aspnet/Docs/files/1499747/aspnetGridDemo.zip)

@scottaddie and @Rick-Anderson
Thanks so much for your update. I have just checked with the Taiwan MVP, and he has actually a sample code for this, and I have attached it here.
However, I notice Rick's comment regarding the resource limit.
Please feel free to let me (I am the Regional PM from APEX International)

[2017-11-24 14:05] spottedmahn commented on #4667
sweet!  thanks @scottaddie

[2017-11-24 18:50] Rick-Anderson opened #4864 "update pmcput.png image in core/tutorials/first-web-api"
Image shows key and should use ID.

[2017-11-26 02:52] guardrex commented on #4844
Dup of https://github.com/aspnet/Docs/issues/4821

[2017-11-26 02:54] guardrex commented on #4821
Xref https://github.com/aspnet/Docs/issues/4685 ... if diagnosing startup errors can be addressed (the IIS portion of that issue) at the same time.

[2017-11-26 13:47] flipdoubt opened #4866 "Document deploying an already running app on different OSes with different webservers"
Can someone point me to the official guidance on how to deploy an already running app when running dotnet behind either IIS or NGINX? I've searched, of course, and found all kinds of discussions referencing `app_offline.htm`, but that means nothing on Linux or Mac or when simply debugging with `dotnet run`.

Beyond discussions, where in the docs would I find specifics?

[2017-11-26 19:05] kmav opened #4867 "Start MVC intro PDF 8-23-17.pdf content cannot be displayed in PDF readers"
Hello,
Thank you for your great work!

When I download the 8-23-17.pdf (Docs/aspnetcore/tutorials/first-mvc-app-mac/start-mvc/8-23-17.pdf) and I open it I see the table of contents but no content is displayed.
We get white pages for all content...
I have tried in macos using Preview and iBooks. Same behavior has been experienced using open source readers (e.g. Calibre ebook reader).
Can you check?

[2017-11-27 03:09] glennblock opened #4869 "Create an intro on using .NET4.6.x with ASP.NET Core"
The experience for creating ASP.NET Core Apps on .NET 4.6.x is confusing and there is little to no documentation. This hurts adoption for folks that are wading in to ASP.NET Core, but not yet ready to move to .NET Core. It also basically defeats the whole purpose of supporting the full framework in ASP.NET Core period.

I just spent hours trying to figure out how to create an ASP.NET Core App in t

[2017-11-27 03:10] glennblock commented on #4869
Note: Twitter rant on my play by play experience starts here: https://twitter.com/gblock/status/934865575771226112

[2017-11-27 03:22] cartermp commented on #4869
Is there a place in the TOC which could effectively house "Other Getting Started" material?  It seems like we're really just missing a few numbered steps on what to do, e.g.

1. File | New
2. ASP.NET Core
3. Something something ignore a lot of the stuff in VS that will confuse you
4. Open project file
5. Edit target framework to `net462` or whichever is best (minimum supported version must be in t

[2017-11-27 03:25] glennblock commented on #4869
I would at least recommend a screenshot of the dropdown that is confusing. That's one image that maybe needs to change, but it is where all the confusion lies.

[2017-11-27 14:37] csharpfritz commented on #4756
This content would fit in very nicely in the TechNet wiki, which samples like this one would fit in perfectly:  https://social.technet.microsoft.com/wiki/tags/ASP-NET/default.aspx

[2017-11-27 17:28] mj1856 commented on #3992
Thanks.  I have been tied up on other things, but will get to this at some point and reference here.  Thanks.

[2017-11-27 21:54] Rick-Anderson opened #4872 "API doc: BuildServiceProvider incorrect return type"
[BuildServiceProvider](https://docs.microsoft.com/en-us/dotnet/api/?view=aspnetcore-2.0&term=BuildServiceProvider) incorrectly states:

Returns
ServiceProvider
TheIServiceProvider.

See https://github.com/aspnet/DependencyInjection/issues/614

[2017-11-27 23:38] Rick-Anderson commented on #4872
@dend @danroth27  see [BuildServiceProvider /// return comments](https://github.com/aspnet/DependencyInjection/blob/dev/src/DI/ServiceCollectionContainerBuilderExtensions.cs#L17)

Why is the API generating
Returns
ServiceProvider
TheIServiceProvider.

and not The `IServiceProvider`.

[2017-11-28 00:23] Rick-Anderson commented on #3992
@mj1856  you can ping me on this issue and I'll reopen it.

[2017-11-28 01:29] dend commented on #4872
The API documentation reflects the true type that is used in code. The `'///` comment is used as a description, where it was not modified to reflect the changes. The `///` needs to be modified to include the correct type information, then packaged in an updated NuGet.

[2017-11-28 01:57] Rick-Anderson commented on #4872
The 2.0 API is returning `IServiceProvider`, not `ServiceProvider`

@danroth27  Regarding the space, can you confirm that's what's in the XML embedded in the NuGet package used to generate the API docs?

[2017-11-28 01:58] Rick-Anderson commented on #4872
@dend  should developers be instructed not to add ` /// <returns>` ? see [BuildServiceProvider /// return ](https://github.com/aspnet/DependencyInjection/blob/dev/src/DI/ServiceCollectionContainerBuilderExtensions.cs#L17)

[2017-11-28 05:55] dend commented on #4872
@Rick-Anderson If you take a look at the API, the docs reflect exactly what's in the source (and I am assuming the binary?):
<img width="255" alt="screen shot 2017-11-27 at 9 51 46 pm" src="https://user-images.githubusercontent.com/1389609/33304368-35157a8e-d3bd-11e7-80f7-8f14deffeaad.png">

The `/// <returns>` is not interpreted as the return type, but rather as a description for the return type,

[2017-11-28 06:00] davidfowl commented on #4872
Ah our API docs are wrong 😄

[2017-11-28 15:09] scottaddie opened #4879 "Add note regarding ordering when configuring TempData provider"
https://docs.microsoft.com/aspnet/core/fundamentals/app-state?tabs=aspnetcore2x#configure-the-tempdata-provider

Per email feedback from Jean-Marc Prieur, make a note about ordering in the `Startup.Configure` method. Specifically, the `app.UseSession();` call should come before the call to `app.UseMvc...`.

[2017-11-28 16:32] dend commented on #4872
@davidfowl I suspect you have in mind the triple-slash comment and not the presented return type? 😃

[2017-11-28 20:23] scottaddie opened #4881 "Update Bundling and minification doc"
https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification

- [x] The doc mentions you can convert `bundleconfig.json` to Gulp; however, it doesn't mention how. Add a link and some supporting text for the Bundler & Minifier extension.
- [x] UE edit
- [x] Add missing description metadata value
- [x] Add missing instructions
- [x] Remove VS 2015 references
- [x] Delete obsolete & u

[2017-11-28 22:13] #4879 closed

[2017-11-29 00:09] #3469 closed

[2017-11-29 00:19] Rick-Anderson commented on #4869
@glennblock - Why not add an extra screen shot to [Getting started with Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start)

If you're targeting .NET FX, select **.NET Framework**.

I could add the screen shot to other intro tutorials.

[2017-11-29 00:31] Rick-Anderson commented on #4867
@kmav  you're right. Thanks for opening this issue. Hopefully you can follow the ASP.NET Core 2.0 version. The 2.0 version has a lot more features.

[2017-11-29 00:31] #4867 closed

[2017-11-29 00:33] glennblock commented on #4869
Sure.

On Tue, Nov 28, 2017 at 4:19 PM Rick Anderson <notifications@github.com>
wrote:

[2017-11-29 00:37] Rick-Anderson commented on #4866
@guardrex  can you suggest where to start?

[2017-11-29 01:20] guardrex commented on #4866
Most of the topics and tutorials here and elsewhere that pertain to IIS deployment use Web Deploy (MSDeploy), and there are many MS and community topics for it because Web Deploy has been around for so long (e.g., [Introduction to Web Deploy area topics](https://docs.microsoft.com/en-us/iis/publish/using-web-deploy/introduction-to-web-deploy)).  It's baked into VS, and most VS devs I've encountere

[2017-11-29 01:51] Rick-Anderson commented on #4820
fixed in #4797

[2017-11-29 01:51] #4820 closed

[2017-11-29 02:00] #1291 closed

[2017-11-29 03:08] #4651 closed

[2017-11-29 13:27] #4720 closed

[2017-11-29 15:49] bcalcas commented on #4076
This happened after I updated the file .bowercc file:

bower                                            ECMDERR Failed to execute "node ./node_modules/cldr-data-downloader/bin/download.js -i bower_components/cldr-data/index.json -o bower_components/cldr-data/", exit code of #1
Whops ENOENT: no such file or directory, open 'C:\Users\Utilizador\source\repos\MyProject\MyProject\bower_components\cldr-

[2017-11-29 17:04] danroth27 opened #4889 "Secret manager tool docs are incomplete and should not be VS Code specific"
Currently the content for the secret manager tool is in a VS Code specific tab, which makes it hard to find. This tool is relevant regardless of which VS version you are using. We should move the content for working with the secret manager tool out of the VS Code tab.

The docs also only mention how you can list, remove and clear secrets. You can also pipe a JSON doc into the secret manager tool t

[2017-11-29 18:23] glennc opened #4890 "Diagnose ASP.NET Core startup errors on Azure App Service"
We want to provide an fwlink that will provide information for people who are having problems with their application not starting on Azure App Service.

Most of the information we would want is already available in some form, but not necessarily App Service specific. For example we have a doc that tells you how to turn on ANCM logging, but nothing that tells you how to edit that file on App Servic

[2017-11-29 18:41] guardrex commented on #4890
Is it related to or a dup of https://github.com/aspnet/Docs/issues/4685?

[2017-11-29 19:43] glennc commented on #4890
Yeah, you could see this as a dupe I suppose. This just raises its priority and answers the question about it being its own document.

[2017-11-29 19:48] guardrex commented on #4890
I deleted that remark since I figured that u already knew about the others (e.g., https://github.com/aspnet/Docs/issues/4685) and were probably asking for something else. I still think a full disclosure topic would be a big hit, but it's not really your ask here :point_right: https://github.com/aspnet/Docs/issues/2800 ... it would be nice to have everything in one spot (eventually).

[2017-11-29 21:14] kmav commented on #4867
Thank you for the good words. I get in that from your article: Getting started with ASP.NET Core MVC and Visual Studio for Mac (https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-mac/start-mvc)...."This tutorial requires the .NET Core 2.0.0 SDK or later. See the **pdf** for the ASP.NET Core 1.1 version.". Can we expect that you are going to fix this pdf, or update your article ?

[2017-11-29 21:16] Rick-Anderson commented on #4867
@kmav  I'm afraid the PDF is lost and there is no way to restore it.  Can you follow the 2.0 version?

[2017-11-29 21:16] #4819 closed

[2017-11-29 21:19] kmav commented on #4867
@Rick-Anderson Yes, sure :) I just thought that I was in 2.0 version... I am sorry but I am new to dotNET world, I am coming from Unix/Mac and I am "in love" on how Microsoft (and you) are opening your software :)  I had downloaded Visual Studio 2017 and started play on mac ...

[2017-11-29 21:22] Rick-Anderson commented on #4867
ASP.NET Core 2.0 has alot more features than the 1.1 version.

[2017-11-29 21:27] kmav commented on #4867
Can you advise for a link for ASP 2.0 to follow ?

[2017-11-29 21:40] Rick-Anderson commented on #4867
https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages-mac/index
To do the SQLite portion, you'll have to follow https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-mac/start-mvc

[2017-11-29 21:44] kmav commented on #4867
Thank you very much.

[2017-11-29 21:46] Rick-Anderson commented on #4867
One you get more experience you'll be able to follow all the articles, not just the Mac tutorials.

[2017-11-29 21:47] jbagga commented on #4033
Here is the cleaned up sample https://github.com/jbagga/TagHelperComponentSample

Let me know if I can clarify anything or look at the doc.

[2017-11-29 21:54] kmav commented on #4867
Following your tutorials and others, I had installed in a few hours, dotnet (and played on command line), Visual Studio 2017, SQL server 2017 on docker and Microsoft opstudio from github!!!
Next day I had played with a REST api app tutorial.

I did all of this because I had a request to check if I can support an app that is in .NET VB ... that I think is not possible (at least using a Mac).

[2017-11-29 21:55] #4838 closed

[2017-11-29 21:56] Rick-Anderson commented on #4867
It would need to be .NET Core.

[2017-11-29 23:45] Rick-Anderson commented on #4890
@glennc  I changed the issue title to "Diagnose ASP.NET Core startup errors on Azure App Service"

I can get this done in a couple weeks if you provide an outline. I'll fix all or most of #4685

[2017-11-30 17:25] rachelappel commented on #4889
This doc? https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?tabs=visual-studio

[2017-11-30 17:26] danroth27 commented on #4889
Yep

[2017-11-30 21:16] isaac2004 commented on #4695
@scottaddie @Rick-Anderson can this be closed since it was merged a bit ago?

[2017-11-30 21:19] Rick-Anderson opened #4904 "Remove ViewData from Razor Pages/ EF core series"
Scaffolding put in alot of VD. Remove it where appropriate.

[code]

[2017-11-30 22:29] Rick-Anderson commented on #4695
@isaac2004  yes, thanks

[2017-11-30 22:29] #4695 closed

[2017-12-01 21:41] #4075 closed

[2017-12-02 02:51] #4739 closed

[2017-12-02 02:51] #4740 closed

[2017-12-02 03:17] Rick-Anderson opened #4912 "EF/MVC apply EF/RP feedback to MVC series"
See feedback in https://github.com/aspnet/Docs/pull/4451 and apply to MVC series. 1-4
https://github.com/aspnet/Docs/pull/4708 is 5-8

[2017-12-02 03:22] Rick-Anderson opened #4913 "core/tutorials/razor-pages/razor-pages-start CSAT"
Add download link.

[2017-12-02 07:40] guardrex commented on #4438
@Rick-Anderson

When you edited the OP, you marked this for `IHostedService`, but it's supposed to be for `IHostingStartup` and https://github.com/aspnet/Hosting/issues/1000.

The issue title should be ...

@Tratcher I studied the comments, `SampleStartups` sample, and reference source, but they don't convey quite enough information on how this feature is going to work along the lines of ...

...

[2017-12-02 16:51] Tratcher commented on #4438
Injecting code from outside the app is the primary usage. It's in use in Azure today:
https://github.com/aspnet/AzureIntegration/blob/f9c4650521553c1ce01ae255afb20713cf7c0883/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/applicationHost.xdt#L10-L11
https://github.com/aspnet/AzureIntegration/blob/dev/src/Microsoft.AspNetCore.AzureAppServices.HostingStartup/AzureAppServicesHostingStartup.c

[2017-12-02 16:54] guardrex commented on #4438
Perfect ... thx. I was trying to get it working via setting the hosting startup assembly key, so I'll just need to go with `ASPNETCORE_HOSTINGSTARTUPASSEMBLIES`, and it should work.

[2017-12-02 17:06] #4232 closed

[2017-12-04 08:32] guardrex commented on #4438
@Tratcher Brainstorming something useful for this feature as a sample ...

**How about diagnostics info?**

The guts are here :point_right: https://github.com/guardrex/HostingStartupSample/blob/master/sample/StartupDiagnostics/StartupDiagnostics.cs

Questions:
1. I show a few things here, but it feels short on "injecting code" into the app. Do you think this is enough or is there something nice th

[2017-12-04 17:25] Tratcher commented on #4438
1. If you consider the implementations thus far you'll see that we do tend to be light on the injection. Direct interaction with the app code is not required.
https://github.com/aspnet/AzureIntegration/blob/f9c4650521553c1ce01ae255afb20713cf7c0883/src/Microsoft.AspNetCore.ApplicationInsights.HostingStartup/ApplicationInsightsStartupLoader.cs
https://github.com/aspnet/AzureIntegration/blob/f9c46505

[2017-12-04 17:39] guardrex commented on #4438
Thanks @Tratcher

@pakrym ... RE: 4 ... The *.dep.json* file name must be on the path value set into `DOTNET_ADDITIONAL_DEPS `? ... It doesn't seem to work if I merely set the env var to the directory at `%ProgramFiles%\dotnet\additionalDeps\StartupDiagnostics`.

[2017-12-04 17:41] pakrym commented on #4438
[code]

can be removed, we don't build it this way anymore.

2. You can drop entire `IServiceCollection` into container, or wrap it into another class, no need to wrap every descriptor, just make a comment that this is for display purposes only.

4. 7. As for `.deps.json` file. To build correct one you would need to have a wrapper project that is referencing hosting startup package and targeting `

[2017-12-04 17:45] pakrym commented on #4438
`deps.json` has to be in `shared\Microsoft.NETCore.App\2.0.0-preview3-25507-02\Microsoft.AspNetCore.AzureAppServices.HostingStartup.deps.json` where `2.0.0-preview3-25507-02` is the version of shared runtime that your app requested (the one in runtimeconfig) and you set `DOTNET_ADDITIONAL_DEPS` to a directory _containing_ this entire structure.

So for `c:\Users\pakrymet\.dotnet\x64\additionalDeps

[2017-12-04 18:03] guardrex commented on #4438
@pakrym I was thinking of using the dotnet install folders for this (`C:\Program Files\dotnet`), since it's a tool that perhaps should be available to all users. However, I already noticed the pain point that admin privileges are required to set this up in the dotnet install folders, which I don't like anyway. So, you're saying set it up in the user profile. I'll give that a shot.

Oh ... and RE:

[2017-12-04 18:20] pakrym commented on #4438
@guardrex use `AddSingleton` with factory instead of `Configure`.

[2017-12-04 20:09] #4881 closed

[2017-12-04 21:42] scottaddie opened #4923 "Razor view compilation - add PrecompiledViews.dll info"
https://docs.microsoft.com/aspnet/core/mvc/views/view-compilation

When Razor view compilation succeeds, a *<project_name>.PrecompiledViews.dll* file is produced. Based on customer feedback, add this detail to the doc.

[2017-12-05 04:25] #4904 closed

[2017-12-05 04:44] Rick-Anderson commented on #4836
@CamSoper  can you take this?

[2017-12-05 09:03] guardrex commented on #4438
@pakrym @Tratcher  I implemented the following:
* Factory for obtaining the service collection for the middleware.
* `IsDevelopment` rather than trying to figure out `IsLocal`; however, I'm a bit :cry: about that, since this could be a production tool, too, if the endpoints could be secured better. I think for now and for our purposes, this is fine as a `Development`-only tool.
* Moved the assembl

[2017-12-05 09:43] rachelappel commented on #4889
@danroth27 The doc outlines the steps to install SM in both VS and VSCode with a tab containing instructions for each. Not sure what exactly you want done here.  Also who has info on the JSON piping?

[2017-12-05 14:21] stevejgordon opened #4927 "Configuring with Environment Variables"
**New topic suggestion**

I'd like to propose some basic documentation be added around using environment variables for configuration that describes things such as the format of the key to be used.

I recently experience an issue around changes between running on Debian Stretch vs Debian Jessie that I documented here: https://www.stevejgordon.co.uk/asp-net-core-gotchas-number-1

I could not find an

[2017-12-05 17:13] danroth27 commented on #4889
That's not what I'm seeing. I only see the cmdline instructions on the VSCode tab.

1. Add instructions for installing and using the secret manager tool regardless of which tab is selected
2. Add content that shows how to use each of the actions supported by the secret manager tool (add, remove, list, clear"
3. Document that you can pipe JSON data into the secret manager tool

Basically document w

[2017-12-05 18:18] #4923 closed

[2017-12-05 21:15] Rick-Anderson commented on #4655
@guardrex  closing. We don't want to encourage bad behavior. Dev's who are smart enough to use this feature correctly will figure out how to do it.

[2017-12-05 21:15] #4655 closed

[2017-12-05 21:37] Rick-Anderson commented on #4872
handled by https://github.com/aspnet/DependencyInjection/pull/615

[2017-12-05 21:37] #4872 closed

[2017-12-05 21:38] Rick-Anderson commented on #4449
@jmprieur what's the state of this?

[2017-12-06 04:14] Rick-Anderson commented on #4590
@rynowak  would you be able to go review [Views in ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/overview)  and make notes on what needs to be updated for Razor Pages (RP)?

[2017-12-06 07:53] eriawan opened #4933 "PROPOSAL: Update or add some ASP.NET Core code samples to use ASP.NET Core 2.0"
## General

Some current topics in ASP.NET Core docs have sample codes and explanations that are valid for ASP.NET Core 1.0.
For example, these are ASP.NET Core topics that use ASP.NET Core 1.0 code: (these are even using obsoleted xproj)

- https://github.com/aspnet/Docs/tree/master/aspnetcore/fundamentals/dependency-injection/sample
- https://github.com/aspnet/Docs/tree/master/aspnetcore/fundame

[2017-12-06 08:02] eriawan commented on #4933
This proposal is also valid useful to address this issue #4850  that use ASP.NET Core 1.0 specific code that needs to be updated, based on the comment from Geoffrey_Braaf:
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies

IMHO, this issue is already taken by @scottaddie , so I will not fix the custom policy page. CMIIW, though..

[2017-12-06 19:13] Rick-Anderson commented on #4933
@eriawan we would like to update all the samples/docs to 2.0 but also retain the 1.x version and docs.

Use the following tab markup:
[code]

Create 1 issue per doc you will be updating.  [DI](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection) sounds like a good one to start on.

[2017-12-06 19:56] scottaddie commented on #4933
@eriawan I am indeed nearing completion on that Policy Authorization doc.

[2017-12-06 20:31] Rick-Anderson opened #4939 "Explain async in RP intro's"
Add a link to `https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/intro#asynchronous-code`

[2017-12-06 20:47] scottaddie commented on #3770
This is being addressed in #4919.

[2017-12-06 20:47] #3770 closed

[2017-12-06 20:47] scottaddie commented on #3769
This is being addressed in #4919.

[2017-12-06 20:47] #3769 closed

[2017-12-06 20:48] scottaddie commented on #3771
This is being addressed in #4919.

[2017-12-06 20:48] #3771 closed

[2017-12-07 00:17] guardrex commented on #4438
@Rick-Anderson The key issue is that to make consumption of the sample as pain-free as possible, I use a build target in the `IHostingStartup` project to automate the process of placing the assembly, symbols, and *deps.json* files in the right locations with a PS step that mods the *deps.json* file. The dev just needs to:
1. Have PS installed (I'll call it out with links if we go this way with the

[2017-12-07 06:57] guardrex commented on #4927
Coverage for setting them for the environment is in the [Working with multiple environments](https://docs.microsoft.com/aspnet/core/fundamentals/environments) topic, so there is *some* coverage on what to do on various platforms and with VS (but not VSC :cry:).

I'd point out tho that setting env vars generally might be better over in the .NET Core docs, as it feels more like a tooling/platform ar

[2017-12-07 08:43] stevejgordon commented on #4927
Thanks for replying @guardrex.

That documentation seems to only focus on setting the ASPNETCORE_ENVIRONMENT environment variable and not overriding/setting custom configuration using environment variables.

In my case I'm thinking about setting values which I can then access via IOptions<T>. That feels ASP.NET specific. I'm don't think it would be a big document (any maybe just needs clarifying o

[2017-12-07 09:10] eriawan commented on #4933
@Rick-Anderson

The download sample code on the DI page points to [sample code that use ASP.NET Core 1.0](https://github.com/aspnet/Docs/tree/master/aspnetcore/fundamentals/dependency-injection/sample).
How should we handle this? Should we leave the sample as is and add a new ASP.NET Core 2.0 sample code by having 2 folders of ASP.NET Core 1.0 and 2.0 separately?
I mean, for example, instead of `/

[2017-12-07 09:17] eriawan commented on #4933
@scottaddie

Thanks for the suggestion! Cool, I will use Razor Pages for those planned updated sample of ASP.NET Core 2.0 codes.

[2017-12-07 15:18] scottaddie commented on #4933
@eriawan Here's an example of how I handled it in a different doc: https://github.com/aspnet/Docs/tree/master/aspnetcore/security/authorization/resourcebased/samples.

[2017-12-07 17:49] javiercn opened #4943 "Add documentation about testing MVC applications using test server"
We need documentation about how to perform end to end tests for MVC applications using test server in asp.net core 2.0

You can see an outline of the proposed contents in
https://blogs.msdn.microsoft.com/webdev/2017/12/07/testing-asp-net-core-mvc-web-apps-in-memory/

You can find a sample in
https://github.com/aspnet/samples/tree/master/samples/aspnetcore/mvc/testing/TestingMVC

[2017-12-07 18:55] javiercn commented on #4943
We get questions almost every week on our repos on how to do this, so it's an important one.

I would like to see a more elaborated sample on the docs, showcasing how to tests some APIs and possibly some application that involves a database.

[2017-12-07 19:06] guardrex commented on #4927
That would be a significant guidance shift. However, taking that bullet point that pertains to the use of the double-underscore and making a dedicated section out of it might be welcome. *SGTM*

[2017-12-07 19:27] guardrex commented on #4943
The current coverage for TestServer is (and each has a sample that show how to use it):

[Integration testing](https://docs.microsoft.com/en-us/aspnet/core/testing/integration-testing)
[Razor Pages unit and integration testing](https://docs.microsoft.com/en-us/aspnet/core/testing/razor-pages-testing)
[Testing controller logic](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/testing)

[2017-12-07 19:45] eriawan commented on #4933
@scottaddie
Quite simple. Thanks, I'm starting to work on updating them now.

[2017-12-07 20:29] scottaddie opened #4944 "Remove old client-side dev docs"
Per the request of @SteveSandersonMS, we should remove some outdated documents from the **[Client-Side Development](https://docs.microsoft.com/aspnet/core/client-side/)** TOC node. The world has moved on from some of these technologies.

[2017-12-07 20:55] javiercn commented on #4943
There are a few things that https://docs.microsoft.com/en-us/aspnet/core/testing/integration-testing needs to cover.

* Refactoring Program.cs to include a CreateWebHostBuilder project and use that on the tests to have the same setup as your app. (Config files, etc.)
* Setup the ContentRoot to point to the app's folder.
* Copying the deps file into the bin folder of the testing project. (.target m

[2017-12-07 21:28] guardrex commented on #4943
When we *attempted* to upgrade this one (and one other), we totally dorked the update.

**Root cause analysis**:
1. Nuke the *obj*/*bin* folders ... a lingering *deps.json* file from a prior build will make it *seem* that all is good when in reality it's a big 'ole :bomb:!
2. When reviewing sample updates, the reviewer must pull the sample down and actually run it. Both of those would have failed

[2017-12-07 22:18] javiercn commented on #4943
Not sure I understand what you mean.
There is a package coming in 2.1 that streamlines all this setup (setting the content root, copying the deps file, initializing the webhostbuilder in the same way your app does by calling Program.CreateWebHostBuilder) but you still need to prevent shadow copying in your test application (for example with xunit.runner.json in xunit)

That said, our samples shoul

[2017-12-07 22:23] guardrex commented on #4943
Ah ... yes ... the package. I only very *very* briefly caught wind of it, and what I saw looked great.

I'll get the little patch PR in very soon. I'm finishing up a draft doc, and that little update will take minutes.

I can't really speak to the notion of how well the current *Integration testing* topic covers all the ins-and-outs of Test Server, per se. I didn't analyze that topic when I did th

[2017-12-07 22:27] javiercn commented on #4943
@guardrex Sounds good. Thanks!

[2017-12-08 00:08] Rick-Anderson commented on #4944
@scottaddie  will remove them. @SteveSandersonMS  to supply the list of topics to remove.

[2017-12-08 00:14] #4844 closed

[2017-12-08 15:17] scottaddie opened #4950 "Add TOC links for new SPA Template docs"
Add the TOC links for the SPA Template docs introduced in https://github.com/aspnet/Docs/pull/4919

[2017-12-08 15:34] #4950 closed

[2017-12-08 21:59] Rick-Anderson opened #4952 "Update intro to MVC series for VS 15.5.1"
Scaffolding and add the model folder.

[2017-12-09 00:08] Rick-Anderson opened #4954 "Update EF/MVC series for VS 15.5.1"
Remove scaffolding hack (add dependencies)

[2017-12-09 00:15] #4952 closed

[2017-12-09 00:24] #4954 closed

[2017-12-09 00:25] #4438 closed

[2017-12-09 01:18] #1935 closed

[2017-12-09 01:34] Rick-Anderson commented on #4869
@rachelappel  can you take this? I'd add it to the end of the tutorials. It just needs a screen shot showing selecting .NET FX. Then update Create a RP web app and Create a MVC web app to say,
If you're targeting .NET Framework, see ...

[2017-12-09 01:50] #4864 closed

[2017-12-09 02:29] Rick-Anderson commented on #4590
@danroth27  should I use two tabs, "RP" (for Razor Pages) and "MVC" when I update this doc for RP?

[2017-12-09 03:27] Rick-Anderson commented on #4845
@scottaddie  can you update
ASP.NET Core ships entirely as NuGet packages. This allows you to optimize your app to include just the NuGet packages you need. The benefits of a smaller app surface area include tighter security, reduced servicing, and improved performance.

Add a link to https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage

I think that's all we can do for now. It's

[2017-12-11 08:35] stevejgordon commented on #4927
Fair enough on the guidance. If the docs can make the underscore option a little more obvious hopefully that will help developers pick the correct option.

[2017-12-11 12:01] weitzhandler opened #4964 "Please add .NET Client example for the File uploads article"
## Issues with Existing Topics

In the article '[File uploads in ASP.NET Core: Uploading large files with streaming](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads#uploading-large-files-with-streaming)',

The [sample](https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/models/file-uploads/sample/FileUploadSample) only covers the server side code, whilst the client code

[2017-12-11 15:58] #4862 closed

[2017-12-11 19:34] danroth27 opened #4968 "Update Configuration doc to use double underscores instead of colons for hierarchical config keys"
Currently the [config doc](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/) tells you to use colons for hierarchical config keys, which don't work on all platforms. Let's switch to using double scores and then update the note about double underscores to say that colons can also be used, but may not work on all platforms.

[2017-12-11 21:16] abhishekchouksey opened #4969 "IdentityServer3 based SSO server does not connect with ASP.net Core 2.0 based client"
## General

IdentityServer3 based SSO server does not work with ASP.net CORE based client, we have been migrating our product from MVC 5 to ASP.net core 2.0 and have noticed that SSO server failed to provide login page.

This is request i have got from MVC 5 based application, which uses OWIN middle ware

[code]

[code]

This is request from ASP.net CORE 2.0
[code]

So I wrote the test version of

[2017-12-11 21:26] Rick-Anderson opened #4970 "Remove bower from "Getting started with Razor Pages""
[Getting started with Razor Pages](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start)

[2017-12-11 21:32] guardrex commented on #4964
Just in case this issue and the other issue for this topic (broken sample) will be worked together, the xref for the broken sample issue is https://github.com/aspnet/Docs/issues/4777.

[2017-12-11 21:35] guardrex commented on #4968
Related to (or dup of) https://github.com/aspnet/Docs/issues/4927.

[2017-12-11 22:58] guardrex opened #4971 "Clarification on Prevent Hosting Startup host config setting remark"
In the Hosting topic where it describes *Prevent Hosting Startup* ...

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/hosting#prevent-hosting-startup

It states ...

For clarity, wouldn't that remark read better as ...

cc/ @Tratcher

[2017-12-11 23:22] Rick-Anderson commented on #4969
This would need to be opened in https://github.com/aspnet/Identity/issues, not the docs repo.

@HaoK  any comment on this?

[2017-12-11 23:22] #4969 closed

[2017-12-12 00:15] Rick-Anderson commented on #4964
@weitzhandler  you might try requesting the sample be written in the https://github.com/dotnet/docs
We're only writing samples that feature ASP.NET Core here.

[2017-12-12 00:21] guardrex commented on #4964
Correct me if wrong; but @weitzhandler, were you referring to this bit: https://github.com/aspnet/Docs/blob/master/aspnetcore/mvc/models/file-uploads/sample/FileUploadSample/wwwroot/js/app.js#L38

[2017-12-12 05:32] guardrex commented on #3665
#### Title

*Middleware activation with nonconforming containers in ASP.NET Core*

#### TOC

Move *fundamentals/middleware.md* (*ASP.NET Core Middleware Fundamentals*) to *fundamentals/middleware/index*. Locate this topic as a subtopic to *ASP.NET Core Middleware Fundamentals*.

TOC title: *Middleware for nonconforming containers*

TOC location: *fundamentals/middleware/extensibility*

#### Outlin

[2017-12-12 08:10] weitzhandler commented on #4964
Yeah it's pretty simple in HTML5 & JS because you hard code everything, but in .NET, since you want your code to be clean and use the dedicated wrappers around the various multipart sections and dispositions, you don't really know what exists and what doesn't and how to use it.

Anyway I already found it and it's in these classes:

- `MultipartFormDataContent`
- `ContentDispositionHeaderValue`

Th

[2017-12-12 13:43] SteveSandersonMS commented on #4944
My thoughts on the docs in our "Client-Side Development" area:

| Page | Notes |
| --- | --- |
| Gulp | The content is well written and informative, but is all about using Gulp inside VS. It's not really to do with ASP.NET. Also, Gulp is less widely used these days since Webpack became dominant. |
| Grunt | The content is well written and informative, but is all about using Grunt inside VS. It's n

[2017-12-12 15:04] #4590 closed

[2017-12-12 15:05] #4970 closed

[2017-12-12 15:20] scottaddie opened #4983 "Convert Cache Tag Helper examples to lowercase"
https://docs.microsoft.com/aspnet/core/mvc/views/tag-helpers/built-in/cache-tag-helper

The `Cache` tags appearing in this doc should be converted to lowercase to make them valid.

[2017-12-12 17:14] guardrex commented on #4933
@eriawan Have you started working on the middleware sample yet? I ask because I'm about to put in a PR that will move the middleware sample in the TOC. If you haven't started working on that yet, you might want to hold off for just a couple of days until the dust settles on this PR. If you have, no worries, we'll just have to deal with any conflicts as they arise.

[2017-12-12 18:15] guardrex opened #4985 "Explain the difference between IConfigurationRoot and IConfiguration"
The templates are using `IConfiguration` ([example](https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/content/StarterWeb-CSharp/Startup.cs#L40)), but the [Configuration](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/index) topic examples use `IConfigurationRoot`. This caused a bit of confusion for a reader of the topic. I recommend th

[2017-12-12 19:23] Rick-Anderson commented on #4765
Changes made seem to have fixed the problem.

[2017-12-12 19:23] #4765 closed

[2017-12-12 20:03] scottaddie commented on #4944
I propose we remove the following docs, based on Steve's feedback above:
- [AngularJS](https://docs.microsoft.com/en-us/aspnet/core/client-side/angular)
- [Bower](https://docs.microsoft.com/en-us/aspnet/core/client-side/bower) (once it's replaced in the project templates)
- [Grunt](https://docs.microsoft.com/en-us/aspnet/core/client-side/using-grunt)
- [Knockout](https://docs.microsoft.com/en-us/a

[2017-12-12 21:20] Rick-Anderson opened #4990 "Add wrong directory warning to intro to RP"
per customer:

Found the workaround on the other razor page tutorial(https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model) that I skipped b/c I didn't have the error then. Open a command prompt and run the cmd in the project folder. This bug solution should be referenced on this tutorial as well.

[2017-12-12 21:46] #4939 closed

[2017-12-12 21:47] #4845 closed

[2017-12-12 21:53] #4983 closed

[2017-12-12 22:01] #4632 closed

[2017-12-12 22:01] #4805 closed

[2017-12-12 22:02] danroth27 commented on #4944
We still have customers using grunt and the tooling still exists, so I think we should leave it.

For bower, the tooling still works, but I think we should add a note at the top similar to what they have on http://bower.io letting folks know that while it's still maintained, it's no longer recommended.

I'm ok with removing AngularJS, Knockout and Yeoman. Can we redirect the AngularJS and Knockout

[2017-12-12 22:14] #4990 closed

[2017-12-12 22:54] Rick-Anderson opened #4991 "Link hosting.md to IHostingStartup doc"
See https://github.com/aspnet/Docs/pull/4973

https://github.com/aspnet/Docs/pull/4967 must be merged first.

[2017-12-12 22:54] #4971 closed

[2017-12-12 22:58] guardrex commented on #4991
@Rick-Anderson I can do this on the same PR. I'll link it now.

[2017-12-12 23:00] guardrex commented on #4991
Actually safer :bomb: if I *don't* do that. I'll hold off.

[2017-12-13 01:12] Rick-Anderson commented on #4843
fixed in  #4980

[2017-12-13 01:12] #4843 closed

[2017-12-13 01:17] Rick-Anderson opened #4994 "Add MVC to title of MVC/EF tutorials to disambiguate with RP"
https://docs.microsoft.com/en-us/aspnet/core/data/
https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/index
both omit MVC in the title. The first tutorial includes it
Getting started with ASP.NET Core MVC and Entity Framework Core using Visual Studio (1 of 10)

[2017-12-13 01:22] Rick-Anderson commented on #4516
@rpetrusha  or @dend can you get me started on this?

[2017-12-13 02:33] #4991 closed

[2017-12-13 02:35] #4994 closed

[2017-12-13 03:33] eriawan commented on #4933
@guardrex
I'm still working on the DI and the middleware sample.

[2017-12-13 13:01] andygonusa opened #4996 "Community provided article on Dependency Injection"
Hi all, attached please find an article submitted by a Spanish Latam community member, now an FTE in Microsoft. Originally it was published on a local section of the MSDN library and had very good PVs. It provides a good overall description of Dependency Injection

It has been reverse-machine-translated to provide a readable English version - if you think it has some merit and could find a place i

[2017-12-13 15:05] scottaddie commented on #4944
@danroth27 Yes. I'll take care of this today.

[2017-12-13 17:11] scottaddie commented on #4869
Per @Andrew-MSFT, the framework selector confusion is being addressed in VS 2017 15.6: https://twitter.com/AndrewBrianHall/status/935011893621567488. Let's keep an eye on how that evolves too. Some doc updates may be required afterwards.

[2017-12-13 18:09] scottaddie opened #5000 "Clarify when *.PrecompiledViews.dll is generated"
https://docs.microsoft.com/aspnet/core/mvc/views/view-compilation?tabs=aspnetcore2x#comments-container

See the comment from **Petr_Kejval**:

Clarify the *.PrecompiledViews.dll verbiage accordingly.

[2017-12-13 19:06] #5000 closed

[2017-12-13 19:06] #4944 closed

[2017-12-13 19:16] Rick-Anderson opened #5002 "Fix confusion on create a Add a DbContext derived class named MovieContext.cs to the Models folder."
https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model

13 questions on how to add that.

[2017-12-13 19:26] #5002 closed

[2017-12-13 21:10] scottaddie opened #5004 "Fix razor.md includes in tutorials"
The *includes/razor.md* text mentions VS 2017, which becomes inaccurate when used in the following docs:
- [Create an ASP.NET Core MVC app with Visual Studio Code](https://docs.microsoft.com/aspnet/core/tutorials/first-mvc-app-xplat/index)
- [Create a web app with ASP.NET Core MVC using Visual Studio for Mac](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-mac/index)
- [Gettin

[2017-12-13 22:46] Andrew-MSFT commented on #4869
The "New Project Dialog" will make it clearer that the .NET Framework target selector does not apply to .NET Core and .NET Standard projects.  The specific issue of making sure to call out if the user wants "ASP.NET Core on .NET Framework" (pictured above) will not change in the 15.6 timeframe, so if we don't feel the docs make that clear enough, there will still be value in proactively making tha

[2017-12-14 10:33] guardrex opened #5006 "Refactor RP Testing sample to seed dB in Main"
A *Green Goobersaur* seeded the dB in `Configure` ... but was following the pattern in Music Store and EF samples. The seeding should be moved to Main.

https://github.com/aspnet/Docs/blob/master/aspnetcore/testing/razor-pages-testing/sample/src/RazorPagesTestingSample/Startup.cs#L28

https://github.com/aspnet/Docs/blob/master/aspnetcore/testing/razor-pages-testing/sample/src/RazorPagesTestingSamp

[2017-12-14 15:11] scottaddie commented on #3543
Closing, as this doc was removed in https://github.com/aspnet/Docs/pull/4998.

[2017-12-14 15:11] #3543 closed

[2017-12-14 15:13] #5004 closed

[2017-12-14 18:12] Rick-Anderson opened #5009 "Fix SetValues/PropertyValues links in aspnet/core/data/ef-rp/crud"
Reported by customer

[2017-12-14 18:52] Rick-Anderson commented on #4996
Hi @andygonusa

We have an article on [DI](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection)

[2017-12-14 18:52] #4996 closed

[2017-12-14 18:58] #5009 closed

[2017-12-14 19:25] Rick-Anderson commented on #4685
@glennc  suggests

@blowdart  won't that require authorization? Can I create a view without auth and say "this needs auth". Why don't we just show them how to use Kudu to view the event log?

[2017-12-14 19:31] Rick-Anderson opened #5011 "How to set Detailed Errors with environment other than shotgun Development"
Per @glennc in #4685

Update doc to show how to set with environment directly. Add any security caveats.

[2017-12-14 19:33] Rick-Anderson commented on #5011
@danroth27  who's the contact for setting [detailedStartupErrors ](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/hosting?tabs=aspnetcore2x#detailed-errors)  directly by environment variable?

[2017-12-14 19:36] danroth27 commented on #5011
@Tratcher can help out with this.

[2017-12-14 22:02] Tratcher commented on #3665
1. HttpContext is not a service, or was that not your question? Scoped services (or any service) would need to be injected in the constructor.

[2017-12-14 22:06] guardrex commented on #3665
Ah ... I "heard" (mis-heard, really) that HTTP context was a service pertaining to its availability to MVC controllers.

In that case, then let's do have the injection of a *real service*. I'll come up with something.

[2017-12-14 22:54] Rick-Anderson commented on #5011
@Tratcher how does one set [detailedStartupErrors ](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/hosting?tabs=aspnetcore2x#detailed-errors)  directly by environment variable?

[2017-12-14 23:01] Tratcher commented on #5011
All Hosting settings can be configured as environment variables by pre-pending them with `ASPNETCORE_`

[2017-12-14 23:16] Tratcher commented on #3665
As for your container questions, I don't think you need to show a custom container, only a factory that does some form of custom activation of the middleware such as added logging.

[2017-12-14 23:22] guardrex commented on #3665
Ok. Sounds good.

The example in this sample is from the Middleware topic. The sample sets the culture based on a query string param. It's easy to demo with just a few lines of code. If the reader reads the Middleware topic first, they don't need to think about a new type of sample here ... they just saw it.

[2017-12-15 02:44] guardrex commented on #5011
We currently have this in the *Ordering importance* section of the *Hosting* topic. I'd like to make a quick patch update that will surface it better.

Also, @Tratcher, you say "all," so it's ok to say "all" here instead of "some" ...

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/hosting?tabs=aspnetcore2x#ordering-importance

[2017-12-15 03:15] Tratcher commented on #5011
Yes, all.

[2017-12-15 03:15] Tratcher commented on #5011
Put another way, they're all read from the host configuration, which includes env vars by default.

[2017-12-15 03:20] guardrex commented on #5011
That sentence is confusing because it's unclear on the point of whether or not *all* of them can be set from env vars. It just needs a minor update to clarify the point.

[2017-12-15 03:24] Rick-Anderson opened #5014 "Update core/tutorials/publish-to-azure-webapp-using-vs"
Publish has changed. Update for current version.

[2017-12-15 14:01] ljani opened #5016 "AddAzureWebAppDiagnostics() is required on .NET Framework"
The [docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?tabs=aspnetcore2x#the-azure-app-service-provider) for [`Microsoft.Extensions.Logging.AzureAppServices`](https://www.nuget.org/packages/Microsoft.Extensions.Logging.AzureAppServices) provider state that:

However, if my ASP.NET Core 2.0 (`<PackageReference Include="Microsoft.AspNetCore" Version="2.0.0" />`) project target

[2017-12-15 16:02] #4850 closed

[2017-12-15 16:07] scottaddie opened #5017 "Address feedback from PR #4849"
React to Hao's feedback in https://github.com/aspnet/Docs/pull/4849

[2017-12-15 18:25] #5016 closed

[2017-12-15 18:26] scottaddie commented on #5016
@ljani Thank you for reporting this issue. The fix has been merged and should go live within the next 24 hours.

[2017-12-15 18:58] aous77 opened #5019 "WinHttpException: A security error occurred"
https://github.com/aspnet/Docs/blob/8e3f1ab85c5f2245d1e3146a57fc10ee19bd860e/aspnetcore/security/authentication/2fa/sample/Web2FA/Services/MessageServices_twilio.cs#L27-L41

getting the following error:
[code]

[2017-12-15 19:40] Rick-Anderson commented on #3389
per @mrbullwinkle:
I have added tasks to the App Insights backlog:

https://mseng.visualstudio.com/TechnicalContent/_workitems?id=1138727

https://mseng.visualstudio.com/TechnicalContent/_workitems?id=1138735

cc @anthonychu

[2017-12-15 19:43] Rick-Anderson commented on #100
@anthonychu is planning:
ASP.NET Core + App Insights
ASP.NET Core + Cosmos DB
Simple CRUD / or less - create cosmosDB + core app
Maybe too large
Use (nuget) .NET Standard libraries in Azure Functions
Sign up for a free tier account on Azure
ASP.NET Core: adding MSI (service identity)
ASP.NET Core + Key Vault
Deploy a Web Forms app to ACI

[2017-12-15 19:49] Rick-Anderson commented on #3389
cc @cecilphillip

[2017-12-15 21:50] Rick-Anderson commented on #5019
Looks like a connection problem with Twilio.

[2017-12-15 21:50] #5019 closed

[2017-12-15 21:52] Rick-Anderson commented on #5019
@aous77  you might try contacting Twilio. BTW, we recommend QR for 2FA.

[2017-12-16 01:38] aous77 commented on #5019
Yes, thx for the recommendation but I’m offering both options for 2fa, I had a similar issue with external auth connections and the solution was to attach the certificate to the http client. is there a way to override the http client handler for this connection?

[2017-12-16 04:03] Rick-Anderson commented on #5019
@HaoK  can you comment?

[2017-12-16 18:56] jasonmoon1969 opened #5021 "Hi I am trying to run - calling-a-web-api-from-a-net-client\sample\server\ProductsApp - in visual studio 2017, getting a build error - Severity Code Description Project File Line Suppression State Warning This project references NuGet package(s) that are missing on this computer. Use NuGet Package Restore to download them. For more information, see http://go.microsoft.com/fwlink/?LinkID=322105. The missing file is ..\packages\Microsoft.Net.Compilers.2.1.0\build\Microsoft.Net.Compilers.props. ProductsApp, I cannot locate this package - any ideas ?"

[2017-12-16 19:04] jasonmoon1969 opened #5022 "Cannot locate package required for Server project"
## General
Hi
I have downloaded a project to create a local web server. Getting error on build
This project references NuGet package(s) that are missing on this computer. Use NuGet Package Restore to download them.  For more information, see http://go.microsoft.com/fwlink/?LinkID=322105. The missing file is ..\packages\Microsoft.Net.Compilers.2.1.0\build\Microsoft.Net.Compilers.props.	ProductsApp

[2017-12-17 15:22] LordMike opened #5023 "Document use of "--no-launch-profile" on "dotnet run""
The document, Fundamentals / Environments, does not explain that `dotnet run` will attempt to load in `launchSettings.json` if available, and that this overrides any settings in environment variables.

https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/environments.md
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/environments

Ever since this issue (https://github.com/d

[2017-12-17 20:15] Rick-Anderson opened #5024 "Add MVC/EF to toc"
Did you know the EF MVC Core series is detached from the TOC, leaving no way to navigate between tutorials?

[2017-12-17 23:22] guardrex commented on #5023
Noting that the xref to the topic for the `--no-launch-profile` switch for `dotnet run` is ...
[code]

[2017-12-18 18:37] blowdart opened #5028 "Fix Add IdentityUser POCO Navigation Properties sample"
_From @postb99 on December 17, 2017 21:49_

 Please fix the "Add IdentityUser POCO Navigation Properties" example code on [this page](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x#add-identityuser-poco-navigation-properties) register entities: in my case I have derivated types for IdentityUser, IdentityRole, IdentityUserRole, IdentityUserToken, IdentityUserLogin (they

[2017-12-18 21:06] postb99 commented on #5028
After afterthought, the correct indication would be that the entity mapping should be explicitly redefined for every entity that references the "TKey" column, either as a PK or as a FK. It wasn't obvious for me at first sight, being a learner. Thanks.

[2017-12-19 01:53] Rick-Anderson commented on #4473
@Tratcher  please 1 minute review [Program.cs](https://github.com/Rick-Anderson/RPsecureUserData/blob/master/ContactManager/Program.cs#L31,L38)

If the [password is too weak](https://github.com/Rick-Anderson/RPsecureUserData/blob/master/ContactManager/Data/SeedData.cs#L46-L50), the user is not created.  Many customers had trouble with this - so I don't want the app to start.

[2017-12-19 01:57] #5014 closed

[2017-12-19 03:54] #5024 closed

[2017-12-19 04:33] Rick-Anderson commented on #5021
@jasonmoon1969  follow the instructions at [Getting Started with ASP.NET Web API 2](https://docs.microsoft.com/en-us/aspnet/web-api/overview/getting-started-with-aspnet-web-api/tutorial-your-first-web-api) to create the project. Copy the controller and model contents to the new project. That will give you a working server. I need to figure out how to save the project in GitHub.

[2017-12-19 04:47] Rick-Anderson commented on #5021
@jasonmoon1969  edit the .csproj file and remove those lines. I'll update the project soon.

[2017-12-19 04:50] #5021 closed

[2017-12-19 04:51] Rick-Anderson commented on #5021
@jasonmoon1969  I fixed the .csproj file. You can see what I did at https://github.com/aspnet/Docs/pull/5037/files

Thanks for reporting this. Tip, next time make a sort title and put the contents in the issue.
Fix will go live in a few hours.

[2017-12-19 04:55] Rick-Anderson commented on #5028
@postb99  any chance you could help out with the PR?

[2017-12-19 04:56] Rick-Anderson commented on #5022
dup of #5021

[2017-12-19 04:56] #5022 closed

[2017-12-19 04:57] Rick-Anderson commented on #5022
@jasonmoon1969  ignore my tip in other issue. New TIP. You can edit issues and close issues.

[2017-12-19 05:56] postb99 commented on #5028
Yes, you're right,I can handle it.

Le 19 déc. 2017 05:55, "Rick Anderson" <notifications@github.com> a écrit :

[2017-12-19 06:03] Rick-Anderson commented on #5021
@jasonmoon1969  fix is now live.

[2017-12-19 07:46] ColbyBurke commented on #926
What if we tried both localhost and '*' but both were refused?

[2017-12-19 16:54] Tratcher commented on #4473
Seems file. The formatting is off on this line: https://github.com/Rick-Anderson/RPsecureUserData/blob/606affb5c31cedb7ed2a044c88d4a2b99b5f5091/ContactManager/Program.cs#L31

[2017-12-19 18:24] Rick-Anderson opened #5043 "Fix incorrect FQN in authoring TH"
Per customer:  the 3 is incorrect

[code]

[2017-12-19 20:26] #5043 closed

[2017-12-19 23:42] #5011 closed

[2017-12-20 02:42] Rick-Anderson commented on #5023
@guardrex  xref links don't work across repo's AFAIK.

[2017-12-20 04:56] Rick-Anderson opened #5046 "aspnet/core/fundamentals/environments "Working with multiple environments""
- [ ] HPV Low CSAT
- [ ]  #5023

[2017-12-20 19:46] Rick-Anderson opened #5049 "address feedback for aspnetcore/mvc/views/tag-helpers/built-in/anchor-tag-helper.md asp-page"
Feedback in https://github.com/aspnet/Docs/pull/5040

[2017-12-20 20:33] rachelappel opened #5050 "Create include for New File Project showing .NET Core on .NET FX"
The changes requested in issue https://github.com/aspnet/Docs/issues/4869 should be made into an include.
Original PR #https://github.com/aspnet/Docs/pull/5048 with changes

[2017-12-20 20:36] #4869 closed

[2017-12-21 16:56] guardrex opened #5055 "Document reasoning for web.config location"
Per discussion with @spottedmahn: Document the reason why *web.config* was moved from the webroot to the approot ...

Given the length, complexity, and focus of the hosting in IIS topic, this would probably be best in the [Directory structure](https://docs.microsoft.com/aspnet/core/hosting/directory-structure) topic.

It's probably also a good idea given the security risks of the new layout to eit

[2017-12-21 17:34] Tratcher opened #5056 "New kestrel configuration & related APIs"
Kestrel now has first class support for loading endpoints via config. See https://github.com/aspnet/KestrelHttpServer/pull/2186

[2017-12-21 17:35] Tratcher commented on #5056
@shirhatti @danroth27 We'll want to have a blog post for this in preview1. We can use that as the rough draft for the docs.

[2017-12-21 18:01] Rick-Anderson commented on #5055
[The web.config file](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?tabs=basicconfiguration#the-webconfig-file)
 If you are using Visual Studio and delete web.config, Visual Studio will create a new one.

I don't think that's true with 15.5.x - is it?

[2017-12-21 18:36] Rick-Anderson commented on #5056
@Tratcher give us a change to edit before you publish.

[2017-12-21 18:45] rachelappel opened #5057 "/security/authentication/identity Add screen shot for individual accounts selection"
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?tabs=visual-studio%2Caspnetcore2x

Customer comments mentioned they were confused about where to select individual accounts, so I propose adding the screen shot for that step.

[2017-12-21 20:07] rachelappel commented on #3662
Rough outline:

- What are Tag Helper Components?
- Benefits of Tag Helper Components
- Built-in Tag Helper Components [head and body]
- Tag Helper Components compared to Tag Helpers
- Authoring Tag Helper Components

[2017-12-22 14:07] Jesse-Hufstetler opened #5062 "Broken Link"
The link [in this file](https://github.com/aspnet/Docs/blob/master/aspnet/mvc/overview/security/create-an-aspnet-mvc-5-app-with-facebook-and-google-oauth2-and-openid-sign-on.md) that says "one stop guide" is broken.

[2017-12-22 14:08] guardrex commented on #5055
I thought VS was just running the targets of Sdk.Web: https://github.com/aspnet/websdk/blob/rel-2.0.0/src/Publish/Microsoft.NET.Sdk.Publish.Targets/netstandard1.0/TransformTargets/Microsoft.NET.Sdk.Publish.TransformFiles.targets

Regarding it's behavior, yes, at least for 15.5.2, which is what I have here. It does recreate the file if it's deleted from the published output (when performing a folde

[2017-12-22 17:12] pkellner commented on #3662
@Rick-Anderson Yes, not in the next month or two. I'm pretty over committed right now. I'd love to read what @rachelappel does though.  Even better. :)

[2017-12-22 20:15] Rick-Anderson opened #5063 "add caveat to Getting started with RP/EF - not for beginners"

[2017-12-22 22:45] #5063 closed

[2017-12-22 22:47] Rick-Anderson commented on #5062
https://docs.microsoft.com/en-us/aspnet/mvc/overview/security/create-an-aspnet-mvc-5-app-with-facebook-and-google-oauth2-and-openid-sign-on

It works for me.

[2017-12-22 22:47] #5062 closed

[2017-12-22 23:39] Rick-Anderson opened #5066 "Replace api links in fundamentals/environments with absolute links"
For example
see the *AppCmd.exe command* section of the [Environment Variables \<environmentVariables>](/iis/configuration/system.applicationHost/applicationPools/add/environmentVariables/#appcmdexe) topic in the IIS reference documentation.

[2017-12-23 02:31] srikarplus opened #5069 "Migrating a tutorial from Angular.js to Angular"
@Rick-Anderson
I see that the tutorial [Hands On Lab: Build a Single Page Application (SPA) with ASP.NET Web API and Angular.js](https://docs.microsoft.com/en-us/aspnet/web-api/overview/getting-started-with-aspnet-web-api/build-a-single-page-application-spa-with-aspnet-web-api-and-angularjs#comments-container) is outdated. I would like to update the tutorial to the latest version of Angular and al

[2017-12-23 05:02] Rick-Anderson commented on #5069
That's the pre Core version - so it would need to stay that way.
@scottaddie  can you respond.

[2017-12-30 01:51] yishaigalatzer opened #5081 "Broken links up webpages/updating-data"
## General

The links to the Updating-data article in https://github.com/aspnet/Docs/blob/master/aspnet/web-pages/overview/getting-started/introducing-aspnet-web-pages-2/deleting-data.md are broken

## Issues with Existing Topics

I cannot submit a PR because the issue is in the fwlink and not with the article itself, you might want to consider getting rid of fwlinks, but I'm sure that was already

[2018-01-01 20:50] Rick-Anderson opened #5085 "404 in dotnet watcher"
new URL
https://github.com/aspnet/DotNetTools/tree/dev/src/dotnet-watch

[2018-01-02 02:59] aspnet-hello opened #20515 "Need to document which OWIN keys are supported in the translation layer"
_From @Eilon on Friday, December 12, 2014 9:34:08 AM_

Something like this table:

http://katanaproject.codeplex.com/wikipage?title=OWIN%20Keys&referringTitle=Documentation

@Tratcher FYI from our discussion.

_Copied from original issue: aspnet/HttpAbstractions#156_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34916

[2018-01-02 11:42] simeyla commented on #4258
This is great - except where did the nswag article go? This is a broken link

https://github.com/zuckerthoben/Docs/blob/master/aspnetcore/tutorials/getting-started-with-nswag.md

Trying to decide between continuing with nswag for Angular 5 (which I used months ago) or `ng-swagger-gen` which is yet another implementation but just for Angular https://github.com/cyclosproject/ng-swagger-gen

[2018-01-02 12:18] zuckerthoben commented on #4258
Sorry, I havent found time to correct the errors yet.

This is the correct link: https://github.com/zuckerthoben/Docs/blob/master/aspnetcore/tutorials/getting-started-with-NSwag.md

[2018-01-02 20:13] #5081 closed

[2018-01-03 01:11] #5006 closed

[2018-01-03 01:12] Rick-Anderson commented on #5085
Fixed by customer

[2018-01-03 01:12] #5085 closed

[2018-01-03 01:30] #5049 closed

[2018-01-03 01:58] Rick-Anderson opened #5096 "Copy blog: Exploring the .NET Core Docker files: dotnet vs aspnetcore vs aspnetcore-build"
[Exploring the .NET Core Docker files: dotnet vs aspnetcore vs aspnetcore-build](https://andrewlock.net/exploring-the-net-core-docker-files-dotnet-vs-aspnetcore-vs-aspnetcore-build/)

@andrewlock can we copy your blog if we list you as lead author?

Per @DamianEdwards [11:30 into Jan 2, 2018 video](https://www.youtube.com/watch?v=_3EpZJxuFJw&feature=youtu.be&t=11m30s) ~~*Our doc team sucks* for no

[2018-01-03 02:26] Rick-Anderson commented on #5096
@rachelappel  review outline with @spboyer

[2018-01-03 04:25] DamianEdwards commented on #5096
I did not say that 😐

[2018-01-03 09:21] guardrex commented on #5096
I'm trying to figure out the least painful way to commit _Hara-Kiri_ lol :smile:. I'm sure I overreacted, but your remarks (and @shanselman's retort) made me feel like we're dropping the ball here.

There are currently **518 open docs issues** between the .NET Core and ASP.NET Core docs repos. Geebers McScreebers! :grinning: We have about a dozen new issues opened daily and **only six FT authors**

[2018-01-03 17:20] scottaddie commented on #5050
@rachelappel @Rick-Anderson In the note, I suggest we change the following:

"If you want to use ASP.NET Core on the .NET Framework..."

To this:

"To use ASP.NET Core with .NET Framework..."

Thoughts?

[2018-01-03 17:40] CamSoper commented on #4836
@Rick-Anderson On it.

[2018-01-03 17:59] DamianEdwards commented on #5096
When I say *we* I mean my team. I consider missing docs a failure of my team for not determining or relaying priorities correctly. I've seen feedback on the docker container situation before and didn't log an issue, so that's my failing, not the doc team.

[2018-01-03 18:01] guardrex commented on #5096
I see. Thanks for clarifying. I simply misunderstood your remarks.

[2018-01-03 18:32] scottaddie commented on #5069
@srikarplus I'm okay with you updating this tutorial. As mentioned by Rick, keep in mind that this is ASP.NET 4.x, not ASP.NET Core.

Also, avoid explaining Angular fundamentals. Refer readers to the official Angular docs where explanation of a feature is needed/useful. I agree that the Angular CLI should be used throughout the tutorial, since that's the standard for creating Angular apps now.

[2018-01-03 18:53] scottaddie commented on #5055
The _web.config_ file is created and dropped to the publish folder upon publish. The following sentence should be updated to clarify:

@mlorbetske can likely provide additional details.

[2018-01-03 19:07] guardrex commented on #5055
I have time ... I'll take care of this issue if that's ok.

[2018-01-03 21:01] CamSoper commented on #4836
@danroth27 For clarification, the document should show an ASP.NET web application consuming a backend Web API using a bearer token, right?  Basically, the same as [this sample app](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi)?

[2018-01-03 21:43] rachelappel commented on #4606
@sputier Are you still interested in writing this fix?

[2018-01-03 23:39] guardrex commented on #4890
Note to self: Link doc for remote debug.

[2018-01-03 23:54] guardrex opened #5100 "Tracking Issue for Hosting & Deployment updates"
### Issue Tracking
#### Stage 1
* [x] [CSAT Host ASP.NET Core on Windows with IIS (\#4821)](https://github.com/aspnet/Docs/issues/4821)
  * Split *Troubleshooting* into its own topic.
  * **Lightly** UE pass all content. Drop "you"/"your" language, fix bad spacing, drop future tense, etc. Hold off on heavy editing until Stage 3 to facilitate getting Antares Stage 2 content up.
  * Proposal: Reorga

[2018-01-04 00:27] CamSoper commented on #4835
@danroth27 Just to verify - This is only to authenticate a web app, right?  We're not passing the token to Web API on the backend, like https://github.com/aspnet/Docs/issues/4836?   Or should this be one topic that does both?

[2018-01-04 00:48] danroth27 commented on #4835
I think these should be separate topics.

[2018-01-04 00:52] danroth27 commented on #4836
Yup, that sounds good. The focus should be on securing the Web API using B2C, but you need to have some sort of client to complete the scenario, and using a web app is fine. There may be some overlap with https://github.com/aspnet/Docs/issues/4835 then that we should manage

Do we already have content for other types of clients, like native mobile apps and browser apps?

[2018-01-04 00:55] CamSoper commented on #4836
Not that I'm aware of, but then, I really haven't looked.  I spent all my time today running through the B2C samples.  I'll look for native mobile and browser docs tomorrow.

[2018-01-04 01:16] #4847 closed

[2018-01-04 01:19] rachelappel opened #5102 "Add sample code for CSAT update https://github.com/aspnet/Docs/pull/5097"

[2018-01-04 02:07] guardrex commented on #4866
@Rick-Anderson @scottaddie I don't think we have an actionable issue here. Do you want to close this?

[2018-01-04 02:16] guardrex commented on #1744
@Rick-Anderson @scottaddie Looks like this one is covered by the [Publish an ASP.NET Core web app to Azure App Service using Visual Studio](https://docs.microsoft.com/en-us/aspnet/core/tutorials/publish-to-azure-webapp-using-vs) topic.

Logging will be covered in the upcoming Antares topics.

[2018-01-04 02:58] #1744 closed

[2018-01-04 02:58] #4866 closed

[2018-01-04 03:10] flipdoubt commented on #4866
Those docs tell you how to deploy a new site but not how to update an existing site where DLLs are locked by the already running web server. We need something like app_offline for Kestrel.

[2018-01-04 03:11] flipdoubt commented on #4866
On Linux. And Mac OS. And wherever Kestrel is found.

[2018-01-04 04:38] guardrex commented on #4866
Sorry about that @flipdoubt. When you didn't respond to my last post, I thought you found the info you needed. Upon closer inspection, yes, I agree with you. I see some opportunities here.

I was surprised to just learn that the [Create publish profiles for Visual Studio and MSBuild, to deploy ASP.NET Core apps](https://docs.microsoft.com/en-us/aspnet/core/publishing/web-publishing-vs) topic doesn

[2018-01-04 05:10] guardrex commented on #4866
Let's cross-ref your Hosting issue on this, too :point_right: https://github.com/aspnet/Hosting/issues/1270

[2018-01-04 10:39] andrewlock commented on #5096
Sure, or link back to it 🙂

[2018-01-04 12:07] sputier commented on #4606
Hi @rachelappel, Sorry, I had a very busy end of year... I'll work on it this weekend.

[2018-01-04 16:38] #2846 closed

[2018-01-04 17:20] CamSoper commented on #4836
Okay, @danroth27 - It appears that the content we have for native clients is limited to samples with walkthroughs.  Start [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oauth-code) and walk down the TOC on the left.  They're all GitHub links, with the exception of an [ASP.NET (Framework, not Core) article](https://docs.microsoft.com/en-us/azure/ac

[2018-01-04 17:28] PinpointTownes opened #5106 "Document the claims actions"
_Moved from https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/210._

While a sample can be found in the [aspnet/Security repository](https://github.com/aspnet/Security/blob/26d27d871b7992022c082dc207e3d126e1d9d278/samples/CookieSample/Startup.cs), there's currently no formal documentation for the ["claims actions" APIs offered by the OAuth-based providers](https://github.com

[2018-01-04 19:36] Rick-Anderson commented on #5096
@DamianEdwards  can you assign someone to point out differences you'd like to see in our copy of Andrew's blog?

@rachelappel  can you make this your primary task?

[2018-01-04 19:42] rachelappel commented on #5096
@jralexander Ping

[2018-01-04 20:25] shirhatti commented on #4866
@guardrex

If you have an ASP.NET Core project that references the websdk (`Microsoft.NET.Sdk.Web`), we enable the AppOffline rule by default so you really ever have to set it yourself in your publish profile.

Not quite. For the naive solution, you'll have to stop your backend service instead `sudo service kestrel-hellomvc stop`.
There's also always the option of something akin to a blue-green de

[2018-01-04 20:28] laultman commented on #1840
I have read the discussion about the LoadAsyn() call. It is distressing to know that this must be done to scale the app and I cannot find an implementation example anywhere. MS docs have nothing other than the normal boilerplate. Is there an actual example. Can't seem to find one. I need to ensure that we can scale an application for a large health care agency with an Azure solution.

[2018-01-04 21:00] JRAlexander commented on #5096
I wrote this article: https://docs.microsoft.com/en-us/dotnet/core/docker/intro-net-docker. It's at a higher level than the blog post, but I think it's a good start. What do you think?

[2018-01-04 21:31] Rick-Anderson commented on #1840
@DamianEdwards can you assign someone to respond to this and possibly create a sample app?

@laultman  contact me if we don't get a response in the next week.

[2018-01-04 21:36] laultman commented on #1840
Thanks, we are working on an Azure app for Florida Department of Health and the CDC for Miami/Dade.  We have a requirement to be able to scale for the general population to access CDC and Health data and to use the site for pre-screening data collection.

Thanks, Larry

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Rick Anders

[2018-01-04 21:38] scottaddie commented on #4568
@jkotalik What's the status of the draft?

[2018-01-04 22:11] jkotalik commented on #4568
I'll get on this within the next week or so. The design is fairly hardened now so I can properly document it. @danroth27 would you prefer to combine all Https documentation into the same doc or keep this separate?

[2018-01-04 22:30] rachelappel commented on #5096
@Rick-Anderson Yeah no prob

[2018-01-04 23:05] guardrex opened #5111 "Swap in async Task.Delay for Thread.Sleep in ChangeTokens topic sample"
Per @duckblaster on Slack ...

@Rick-Anderson @scottaddie I'll square this away no later than the end of next week if that's ok with you.

:beers: @duckblaster ty for letting me know.

[2018-01-04 23:58] guardrex commented on #4866
@shirhatti

I mistakenly thought that it was only automatic for Azure publishing. It threw me off because I had VS create a publish profile for a project that referenced the websdk, I checked the *.pubxml* file that it created, and `<EnableMSDeployAppOffline>` wasn't present in the file. I guess ur saying that it uses some other mechanism.

What do you think about adding this to the bottom of the

[2018-01-05 00:50] mairaw commented on #4505
Fine with me. I think @Rick-Anderson owns that part of our API docs too since it's ASP.NET related.

[2018-01-05 02:03] Rick-Anderson commented on #4866
@shirhatti  can you suggest an author?

[2018-01-05 02:06] Rick-Anderson commented on #4505
@danroth27  currently all the API docs are generated from /// comments.

@dend  what's the best way to get this documented?

[2018-01-05 02:08] mairaw commented on #4505
That's not true for the .NET reference such as https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations. You just have to click edit and provide the content you want. I can help you with format if needed.

[2018-01-05 02:21] Rick-Anderson opened #5113 "Mention not all markup displayed."
Per customer.

[2018-01-05 02:26] guardrex commented on #5100
An alternative that doesn't nest Azure Apps and IIS so deeply has the common errors topic out at the bottom:

* **Hosting and deployment** (*host-and-deploy*)
   * Host on Azure App Service (*host-and-deploy/azure-apps*) **<-- #2800**
        * Publish to Azure with Visual Studio
        * Publish to Azure with CLI tools
        * Continuous deployment to Azure with Visual Studio and Git
        *

[2018-01-05 03:16] #5113 closed

[2018-01-05 17:01] scottaddie opened #5116 "Update title of Razor Pages "Adding search" tutorial page"
https://docs.microsoft.com/aspnet/core/tutorials/razor-pages/search

The page focuses on Razor Pages, but the page title references MVC.

[2018-01-05 17:15] #5116 closed

[2018-01-05 17:19] rachelappel opened #5119 "Modifications for aspnetcore/security/authentication/identity"
Change -> to >
Add links to sample code

[2018-01-05 17:23] scottaddie opened #5120 "Fix casing in [Controller] placeholder"
https://docs.microsoft.com/aspnet/core/tutorials/first-web-api#routing-and-url-paths

Fix the "Replace "[Controller]"..." sentence so that it uses "[controller]" instead to properly reference the placeholder in the code snippet.

[2018-01-05 17:39] #5120 closed

[2018-01-05 18:20] CamSoper commented on #4836
## Proposed outline

![image](https://user-images.githubusercontent.com/137648/34622417-cc0e799a-f212-11e7-907a-dd08b3b98443.png)

[2018-01-05 18:22] scottaddie opened #5122 "Fix incorrect method names"
https://docs.microsoft.com/aspnet/core/security/authentication/cookie?tabs=aspnetcore2x#configuration

The **ASP.NET Core 2.x** tab references _AddMvcWithDefaultRoute_ and _AddMvc_ methods. These methods don't exist. Replace _Add_ with _Use_.

[2018-01-05 18:23] CamSoper commented on #4836
## Proposed Outline

![image](https://user-images.githubusercontent.com/137648/34622555-36e29f4e-f213-11e7-88ec-e3bacc6188ad.png)

[2018-01-05 18:24] CamSoper commented on #4836
## Proposed Outline

![image](https://user-images.githubusercontent.com/137648/34622604-5b1eb19a-f213-11e7-9a21-1c21c314d5cc.png)

[2018-01-05 18:26] CamSoper commented on #4835
## Proposed Outline

![image](https://user-images.githubusercontent.com/137648/34622680-abc29e72-f213-11e7-9820-9ed59b2f7a24.png)

[2018-01-05 18:58] #5122 closed

[2018-01-05 19:13] DamianEdwards opened #5124 "Create a doc about using the cookie APIs in ASP.NET Core"
ASP.NET Core includes a number of API areas for working with cookies. The APIs go beyond the simple "get and set cookies" for the request and response and include new APIs for controlling the various policy options around cookies (see [Microsoft.AspNetCore.CookiePolicy](https://github.com/aspnet/Security/tree/dev/src/Microsoft.AspNetCore.CookiePolicy)).

The doc should also detail the default opti

[2018-01-05 20:10] #5119 closed

[2018-01-05 20:11] #5102 closed

[2018-01-05 20:56] #5057 closed

[2018-01-05 21:22] CamSoper commented on #4836
@danroth27 On further reflection...  Do we need a client?  We can demonstrate it works by using the "Run Now" button on the signup/signin policy in the B2C settings.  That'll redirect to the reply-to URL with the bearer token on the URL.  We could get the reader to copy that token (or make a quick Razor page to display it) and then just use curl or Postman to make the Web API request with the Auth

[2018-01-05 22:12] scottaddie opened #5126 "Clarify community-driven nature of bundling packages & extensions"
https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification

Per an Andrew Hall email:

[2018-01-05 22:41] #3861 closed

[2018-01-05 23:49] rachelappel commented on #590
This article might suffice.
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?tabs=visual-studio%2Caspnetcore2x

[2018-01-06 03:34] guardrex commented on #1358
This info is already covered (e.g., the ANCM topic under the Servers node) or info that pertains to the previous release (e.g., *project.json*-era/1.0-era info).

oy @moozzyk (Happy New Year! btw) Would u like me to ping you to TAL at work on https://github.com/aspnet/Docs/issues/5100 as it goes in?

[2018-01-06 03:52] moozzyk commented on #1358
@guardrex - probably not. I moved on and am not doing ASP.NET on daily basis at the moment.

[2018-01-06 03:55] guardrex commented on #1358
@moozzyk ok, cool. You will be missed around here!

@Rick-Anderson @scottaddie I think we can close this, since I don't see content changing based on the content of @moozzyk's post given the time that's passed.

[2018-01-08 00:33] Rick-Anderson opened #5131 "How to config Identity for SQLite"
There are a couple steps to use SQLite with Identity.

@tdykstra  can you provide notes?

@danroth27  can you or @divega  set the priority.

Should this go in in [Custom storage providers for ASP.NET Core Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-custom-storage-providers)

[2018-01-08 02:10] tdykstra commented on #5131
I ran into a couple of difficulties, and it turned out that what I thought was an identity-specific issue was more generally about using SQLite with EF.  With non-Identity EF I got an error message that told me I needed to create a ContextFactory class.  When I ran add-migration on the Identity context I didn't get that helpful error message.  Add-migration succeeded but update-database failed on

[2018-01-08 18:00] danroth27 opened #5133 "Document ASP.NET Core WebHooks"
We will preview the ASP.NET Core port of WebHooks early this year and it is slated to ship with 2.1.

[2018-01-08 19:44] Rick-Anderson opened #5134 "examples on how to upload large files by streaming to a web API"
Copy from https://github.com/dotnet/docs/issues/3916

In the ASP.NET Core docs, the [articles](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads#uploading-large-files-with-streaming) and [samples](https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/models/file-uploads/sample/FileUploadSample) about uploading files only involve web clients written in HTML and JS.

Please ex

[2018-01-08 20:09] guardrex opened #5135 "UE pass topics in the Host and Deploy section of the TOC"
UE pass topics in the *Host and deploy* section of the TOC, especially the new IIS troubleshooting topic.

The IIS topic had a CSAT in the 70% range in the 1.0-era following a major content expansion. The topic's content didn't significantly change over time, but CSAT saw a drop to ~53% before bouncing back to the current 57%. We attribute this to a more diverse set of readers accessing the topic

[2018-01-08 20:39] rachelappel commented on #5096
I can create a nice summary and link to details on the blog. The doc can reiterate some of the important highlights on dotnet vs aspnet vs core and docker versions, then present a table with each of the images, its purpose, and what it contains.

-dotnet vs aspnetcore vs aspnetcore-build
-docker image versions
-table with each of these docker images listed:
    microsoft/dotnet:2.0.3-runtime-deps

[2018-01-08 20:42] guardrex commented on #5096
@rachelappel Note that the TOC in the Hosting and Deployment area is about to undergo a big update. I just mention it in case this will land in that part of the TOC. I'll have the Stage 1 PR (that deals with TOC updates) wrapped up and ready for review shortly. https://github.com/aspnet/Docs/pull/5127

[2018-01-08 20:43] rachelappel commented on #5096
Thanks for the heads-up @guardrex!

[2018-01-08 20:47] guardrex commented on #5096
The Docker topics folder does move on that PR: Everything is going from "publishing" to "host-and-deploy" in the TOC. I'm making the final checks now and putting the final touches on it. I think we'll go quickly with it, since it blocks Stage 2 work (Antares troubleshooting topic), and they need that Antares topic up asap for a link that will go into VS.

[2018-01-08 21:33] Rick-Anderson commented on #4964
Copy from https://github.com/dotnet/docs/issues/3916

In the ASP.NET Core docs, the [articles](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads#uploading-large-files-with-streaming) and [samples](https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/models/file-uploads/sample/FileUploadSample) about uploading files only involve web clients written in HTML and JS.

Please ex

[2018-01-08 21:34] Rick-Anderson commented on #4964
closed #5134

[2018-01-08 21:34] Rick-Anderson commented on #5134
Reopened #4964

[2018-01-08 21:34] #5134 closed

[2018-01-08 21:37] #1358 closed

[2018-01-08 23:37] Rick-Anderson commented on #5096
We don't link to blogs. We do copy with permission.

@rachelappel  set up a meeting with Damien to go review the blog and your outline. Damien might defer to another PM.

[2018-01-08 23:59] Rick-Anderson commented on #5106
@PinpointTownes  is this something you could write with some help?
@Tratcher  or @HaoK  would you be able to write the first draft?

[2018-01-09 00:01] Rick-Anderson commented on #5124
@DamianEdwards  are you suggesting @Tratcher  write the first draft. We don't have the expertise to author this.

Once we get a draft, we can publish within a week.

[2018-01-09 00:05] Tratcher commented on #5124
Want to do our usual interview?

[2018-01-09 00:10] Rick-Anderson commented on #5133
@dougbu can you provide an article draft?

[2018-01-09 00:18] dougbu commented on #5133
@Rick-Anderson not anytime soon. We're heads down on WebHooks 2.0.0 right now.

On the other hand, the https://github.com/aspnet/WebHooks repo contains many samples. Those samples cover all of the receivers updated to use ASP.NET Core as well as "before" samples using ASP.NET 5.2.2.

[2018-01-09 00:21] HaoK commented on #5106
This one is all @Tratcher :)

[2018-01-09 00:26] Tratcher commented on #5106
https://github.com/aspnet/Security/pull/1124 for reference. I can write a doc outline.

[2018-01-09 01:29] #3506 closed

[2018-01-09 04:40] guardrex opened #5140 "Question: Interesting regex pattern in the RP tutorial"
A reader points out that the regex here looks wrong:

[code]

I just spotted this pattern in an old MSDN topic: https://msdn.microsoft.com/en-us/library/system.componentmodel.dataannotations.regularexpressionattribute.regularexpressionattribute(v=vs.110).aspx.

Are those first two single quotes supposed to be curly/fancy opening and closing single quotes? ... or is it an escape for a double quote

[2018-01-09 04:49] guardrex commented on #5140
Since I created the PR before filing the issue, I'll go ahead and put it up. If it's DOA, please close both out and sorry for the trouble in advance.

[2018-01-09 16:57] scottaddie commented on #5096
@glennc is another great resource for Docker with ASP.NET Core

[2018-01-09 18:58] guardrex opened #5144 "Samples that require attention for Microsoft Security Advisories"
@Rick-Anderson @scottaddie

https://github.com/aspnet/Announcements/issues/284
https://github.com/aspnet/Announcements/issues/285

I searched on a couple of the files from the list of those that require changes to get a handle on how many samples are affected. Here's the list that was generated:

- [x] security\authentication\identity\sample\src\ASPNETCore-IdentityDemoComplete
- [x] security\autho

[2018-01-09 20:07] PinpointTownes commented on #5144
You may also want to remove the last paragraph of https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-enable-qrcodes#using-a-different-qr-code-library as it recommends using `Html.Raw` for invalid reasons (which is double-terribad :sweat_smile:)

[2018-01-09 20:11] PinpointTownes commented on #5106
@Rick-Anderson I'll leave that to @Tratcher. After all, he's the one who designed this API :smile:

[2018-01-09 20:22] Tratcher commented on #5106
When using a remote auth providers like Oauth, Facebook, OpenIdConnect, etc. user information is provided from the service in a JSON blob. That information needs to be mapped to Claims in a ClaimsIdentity for consumption by the rest of the application. Auth handlers like the Facebook handler map a few claims by default such as name and e-mail address. They don't try to map everything by default be

[2018-01-09 20:25] #5050 closed

[2018-01-09 21:19] guardrex commented on #5135
Note to self: Add ANCM install information to the ANCM reference topic:
* Location of installer logs
* How to determine the ANCM version in use
* Uninstall via Programs & Features should leave the ANCM in place but remove the runtime. Confirm behaviors with Joel.

cc/ @John-Luke_Laue

[2018-01-09 22:18] #5140 closed

[2018-01-09 22:19] #5111 closed

[2018-01-09 23:03] DamianEdwards commented on #5096
@glennc is **the** source for Docker with ASP.NET Core from our team

[2018-01-09 23:35] Rick-Anderson commented on #5124
@scottaddie  set up a skype with `@Tratcher` when you have time to work on this.

[2018-01-09 23:53] Rick-Anderson commented on #4449
@jmprieur what's the state of this?

[2018-01-10 01:27] JoaoVictorCardoso commented on #4076
please say where I can found this file ".bowercc"
I just fund "bower.json" files inside wwwrot>lib>...(multiple folders)

[2018-01-10 01:27] Rick-Anderson opened #5148 "Explain CreateDefaultBuilder in core/fundamentals/logging/"

[2018-01-10 01:37] #5148 closed

[2018-01-10 01:41] #4821 closed

[2018-01-10 01:41] #5055 closed

[2018-01-10 02:43] #2105 closed

[2018-01-10 12:30] vankampenp commented on #5133
Thanks all, I will eagerly wait for the preview with the aspnetCore nuget package to try it out.

[2018-01-10 16:56] #3445 closed

[2018-01-10 17:20] #5126 closed

[2018-01-10 17:48] scottaddie opened #5153 "Remove gerunds and sentence case TOC titles"
At the top level, these include:
- **Getting Started** --> **Get started**
- **Testing and debugging** --> **Test and debug**
- **Working with Data** --> **Data access and storage**

Also fix the nested titles and promote uniformity where possible.

[2018-01-10 19:58] #5153 closed

[2018-01-10 20:06] scottaddie opened #5155 "Update "Working with static files" for 2.0"
https://docs.microsoft.com/aspnet/core/fundamentals/static-files#serving-static-files

- [x] Update sample app to 1.1 CSPROJ (still uses 1.0 w/ XPROJ)
- [x] Add missing _wwwroot_ folder to sample app
- [x] The 2nd argument in the call to _Path.Combine_ uses the C# verbatim identifier character (`@`) unnecessarily. This should be removed where it serves no purpose in the context of a string (for es

[2018-01-10 23:40] Rick-Anderson opened #5158 "Provide server Host configuration guidance and samples"
Middleware sample and hostname to support dev team.
requires security review.

[2018-01-11 02:49] Rick-Anderson opened #5159 "Link Startup exception handling to new Antares doc"
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling#startup-exception-handling

@guardrex FYI

[2018-01-11 02:57] Rick-Anderson commented on #1307
dup of #3809

[2018-01-11 02:57] #1307 closed

[2018-01-11 03:00] Rick-Anderson commented on #3659
@glennc  reopen this issue if you want  Startup.ConfigureContainer  documented.

[2018-01-11 03:00] #3659 closed

[2018-01-11 03:10] guardrex opened #5160 "RP tutorial file upload sample: Add save to disk"
https://docs.microsoft.com/aspnet/core/tutorials/razor-pages/uploading-files
/aspnetcore/tutorials/razor-pages/uploading-files.md

The RP tutorial file upload sample currently saves the content of the file to the dB. That's fine; however, two devs have asked about saving the contents to disk server-side. We could add ...

* Active code to the sample to show how to do it with notes on enabling the

[2018-01-11 03:17] Rick-Anderson commented on #5160
@guardrex  I'm not sure we want to go down that rabbit hole. There's lots of problems/caveats with writing to a disk on the server.  That's probably best left as a blog. @scottaddie  may differ.

[2018-01-11 03:25] guardrex commented on #5160
How about only showing that code snippet in the topic? We could leave it out of the sample entirely and just show the snippet as an example, then we could say that the worker process must have write permissions to that location on the server ... then leave it at that.

The thing I'm hearing is that devs would like us to at least show them what that little snippet of code just to save them some tim

[2018-01-11 03:33] Rick-Anderson opened #5161 "core/fundamentals/logging"
- [x] How to create logs - wrong. Need to show how to set up logging first before you use it.
- [x] ~To create logs,~
- [x] ~Then~ call l --- Needs lots of UE work
- [x] UE rewrite - remove "you" and make it reference style.
- [x] Show RP sample, not just MVC.
- [x] Show how to hook up logging in `Startup` by injecting logger in ctor.
- [x] Show how to hook up logging in `Main`.
- [x] Enhance the

[2018-01-11 03:33] Rick-Anderson commented on #3411
All fixed except for #5161

[2018-01-11 03:33] #3411 closed

[2018-01-11 03:35] Rick-Anderson commented on #3661
Closing Razor extensibility because of low priority. cc @rynowak

[2018-01-11 03:35] #3661 closed

[2018-01-11 03:39] Rick-Anderson commented on #5160
@danroth27  you OK with this?

[2018-01-11 03:46] rynowak commented on #3661
Sounds fine to me

[2018-01-11 15:49] scottaddie commented on #5160
Uploading files to a server/file share instead of the DB is quite common in my experience. I'd be okay with adding this code snippet and a brief description, but we'll let @danroth27 make the final call.

[2018-01-11 19:06] Rick-Anderson commented on #5161
Logging in `Startup`

[code]

@guardrex  @scottaddie  can you add a snippet for logging from `Main`?

[2018-01-11 19:19] Rick-Anderson commented on #5161
[CreateDefaultBuilder](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.webhost.createdefaultbuilder?view=aspnetcore-2.0#Microsoft_AspNetCore_WebHost_CreateDefaultBuilder) configures the ILoggerFactory to log to the console and debug output. So we just need sample of using the logger.

[2018-01-11 19:23] Rick-Anderson commented on #5161
Need to show how to log when seeding the DB:

[code]

[2018-01-11 19:27] guardrex commented on #5161
I used service locator approach in the RP testing sample: https://github.com/aspnet/Docs/blob/master/aspnetcore/testing/razor-pages-testing/sample/src/RazorPagesTestingSample/Program.cs#L21

[2018-01-11 21:43] Rick-Anderson commented on #4624
dup of  #4473

[2018-01-11 21:43] #4624 closed

[2018-01-11 21:59] Rick-Anderson commented on #4568
@danroth27  can you comment?

[2018-01-11 22:08] #5066 closed

[2018-01-11 22:21] Rick-Anderson commented on #4985
Also address Low CSAT.

[2018-01-11 23:06] guardrex commented on #5096
@rachelappel fyi ... just in case you didn't see it ... the *host-and-deploy* TOC is stable now. :rocket:

[2018-01-12 00:45] #5158 closed

[2018-01-12 00:46] Rick-Anderson opened #5168 "Provide server Host configuration guidance and samples"
Middleware sample and hostname to support dev team.
requires security review by `@Tratcher`

[2018-01-12 00:53] Rick-Anderson commented on #4082
This is explained in https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/#move-database-initialization-code
See also https://github.com/aspnet/Docs/issues/4134

[2018-01-12 00:53] #4082 closed

[2018-01-12 17:06] Tratcher opened #5172 "Complete example of the correct order of middleware"
_From @guylando on January 11, 2018 12:19_

I can't find an example which shows what is the correct order for all the following middleware when used together. It would be nice if there would be a maintained startup.cs containing ALL possible middleware.

UseStatusCodePagesWithRedirects
UseStaticFiles
UseAuthentication
UseResponseCaching
UseWebSockets
UseSignalR
UseResponseCompression
UseMvc

Would

[2018-01-12 17:06] Tratcher commented on #5172
There is no definitive order, only some relative dependencies between individual components. E.g. StatusCodes should come before components that generate responses without bodies. StaticFiles are often early in the pipeline for efficiency, there can be a lot of them. Auth should come before components that require auth, like MVC. Caching should come before components that generate cacheable respon

[2018-01-12 17:06] Tratcher commented on #5172
_From @guylando on January 11, 2018 23:15_

Thanks, Maybe a dependency tree\graph can be built\maintained in the documentation instead of one startup.cs because the possibilities are better described in a tree\graph than in a linear code? Such tree\graph would probably be very useful for many

[2018-01-12 17:06] Tratcher commented on #5172
Even a table might help as a quick reference:

Middleware | Ordering
---------------|----------
UseStatusCodePagesWithRedirects | Before components that set status codes
UseAuthentication | Before HttpContext.User is needed. Terminal for OAuth callbacks.
UseResponseCaching | Before components that want caching
UseWebSockets | Before components that want to use WebSockets
UseResponseCompression | B

[2018-01-12 17:06] Tratcher commented on #5172
_From @guylando on January 12, 2018 16:45_

That's great! thanks

[2018-01-12 21:18] guardrex commented on #5135
Note to self: Talking to @drobertson123 on Slack ... he ran into an issue where the app runs with the x86 flavor of *dotnet.exe* but not the x64 flavor. I suspect that's an app bitness problem at compile time. He's going to investigate further. Might need to beef-up :cow2: the bitness bit of the common errors topic.

[2018-01-12 22:06] terrimorton opened #5173 "PDF file download for ASP.NET Framework docs is broken"
The "Download PDF" link (https://docs.microsoft.com/en-us/aspnet/opbuildpdf/toc.pdf?branch=live) at the bottom of the TOC on each page (e.g. https://docs.microsoft.com/en-us/aspnet/overview) seems to be broken. It is generating a large PDF file which cannot be read in either the Chrome browser or a local PDF reader when downloaded.

[2018-01-12 23:40] guardrex opened #5175 "Check the Response Caching Middleware sample"
RE: https://docs.microsoft.com/aspnet/core/performance/caching/middleware

Pull down the sample and see how it's doing. A reader reports it might not be functioning correctly.

@Rick-Anderson @scottaddie I'll find some cycles late next week to TAL.

cc/ @Engin

[2018-01-12 23:53] Rick-Anderson commented on #5175
Setting priority based on PV.

[2018-01-12 23:55] guardrex commented on #5175
Actually, I think I'll check this tonight. I don't like me samps gett'in sideways on me. :smile:

[2018-01-13 00:07] #5023 closed

[2018-01-13 00:07] #5046 closed

[2018-01-13 01:23] Rick-Anderson commented on #3989
Doc needs UE pass.

[2018-01-13 01:29] guardrex commented on #5175
:+1: Sample is good.

@engin You probably just need to use a tool like Fiddler to examine the response headers to confirm the response caching behavior and double-check the [caching conditions in the topic](https://docs.microsoft.com/aspnet/core/performance/caching/middleware#conditions-for-caching) to confirm that they're all met in order for the middleware to cache the response. If you need addi

[2018-01-13 01:29] #5175 closed

[2018-01-13 03:09] guardrex commented on #4777
When this issue is addressed, it might be a good time to look generally at how file/data transfer for large files/streams is covered. Sure, the sample could just be fixed on this issue, but it might also be a good time to assess the whole subject. The author might want to open an issue to expand coverage or even just expand the topic's coverage.

@nickalbrecht and I were talking on Slack about it.

[2018-01-13 12:52] HeMinzhang opened #5177 "chinese doc Display error"
![qq 20180113205325](https://user-images.githubusercontent.com/2683269/34906218-d2258ec6-f8a3-11e7-8c2f-a29297e945be.png)
## General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.
This template offers some suggestions to consider
when creating an issue.

## Issues with Existing Topics

If the issue is a simple typo or similar correction, just

[2018-01-15 10:21] Peter578 commented on #4076
I found 16 bower.json files in my Project but no .bowercc. After installing jquery-validation-globalize there is a new hidden dir 'bower_components' where i find cldrjs, jquery-validation-globalize and some others.
What should i reference in 'ValidationScriptsPartial.cshtml' ? Move the Contents to www.lib?
I am using Visual Studio 2017 ver 15.15.2 on a german language System.
Displaying Date works

[2018-01-15 11:58] bcalcas commented on #4076
@JoaoVictorCardoso bower.cc is inside bower.json
![img](https://user-images.githubusercontent.com/1530803/34941363-51826ce6-f9eb-11e7-95ea-e2caa4476ea2.JPG)

[2018-01-15 17:32] Peter578 commented on #4076
Sorry, no bower.json in my project root. I just created two new Project (ASP.NET Core-Webanwendung / MVC / Core 2.0). Added jquery-validation-globalize thru Nuget in one Project, thru bower in the other.
Bower installer said: "no-json No bower.json file to save to, use bower init to create one".
Now i'll Google for "bower init"...

[2018-01-15 17:58] bcalcas commented on #4076
@Peter578 bower is about to be discontinued in asp.netcore 2.0. Maybe because of that you can't see the bower.cc file in your project.
Check this link: https://wildermuth.com/2017/11/19/ASP-NET-Core-2-0-and-the-End-of-Bower

This thread was to support .net core 1.x (I think)

[2018-01-16 04:51] guardrex commented on #5177
@HeMinzhang What browser are you using?

I loaded the page with Chrome and Edge. It looks ok in these browsers.

Chrome 63.0.3239.132:
![capture](https://user-images.githubusercontent.com/1622880/34972330-7040e4d6-fa46-11e7-9e2b-2db43c52170d.PNG)

Edge 41.16299.15.0:
![capture1](https://user-images.githubusercontent.com/1622880/34972333-735b48be-fa46-11e7-8741-03d549f342fc.PNG)

[2018-01-16 14:22] rachelappel commented on #5173
@danroth27 @mairaw  Is this anything either of you two can help with?

[2018-01-16 14:25] rachelappel commented on #5172
@Tratcher How about I add the table to this doc? https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware?tabs=aspnetcore2x

[2018-01-16 14:55] Tratcher commented on #5172
Yes that looks like the right doc. Try adding a column to the existing table in built-in middleware, with a reference to the ordering section.

[2018-01-16 18:12] rachelappel opened #5185 "/fundamentals/static-files needs some minor changes"
Cleanup, gerunds, etc... minor stuff

[2018-01-16 20:06] HaoK commented on #4055
@scottaddie a new sample showing how to dyamically add schemes and update their options has been added here: https://github.com/aspnet/AuthSamples/tree/dev/samples/DynamicSchemes

[2018-01-16 20:25] isaac2004 commented on #4964
@Rick-Anderson what is the status of this? I have done something similar in the past and can provide some help if needed

[2018-01-16 20:32] isaac2004 commented on #3772
@scottaddie @Rick-Anderson bump

[2018-01-16 20:38] isaac2004 commented on #4968
@danroth27 do you want the samples in this doc updated as well? Or just lines 46 and 53?

[2018-01-16 20:42] guardrex commented on #4968
Note that the topic is getting an (unrelated) update. It could get messy before that merges :point_right: https://github.com/aspnet/Docs/pull/5169

[2018-01-16 20:48] Rick-Anderson commented on #3772
@isaac2004 it would be great to have a 2.0 sample and tutorial. Are you able to do this?

[2018-01-16 20:50] isaac2004 commented on #4968
@guardrex is there an interest in hitting this low hanging fruit in that PR?

[2018-01-16 20:53] guardrex commented on #4968
I don't think so ... it's approved. It should merge any second. I just meant you could work with a clean, updated topic as soon as that goes in. *Merge conflicts are something I really try to avoid.* 😨 lol

[2018-01-16 20:53] isaac2004 commented on #3772
If there isn't a defined ETA, sure I can do that.

[2018-01-16 20:55] isaac2004 commented on #4968
ohhhhh maybe I should actually click the link ;)

[2018-01-16 21:17] #4985 closed

[2018-01-16 21:20] guardrex commented on #4968
@isaac2004 #5169 is merged now, so if they give you the green light, ur good.

[2018-01-16 21:22] Rick-Anderson commented on #5173
@dend  should I open a LSI on this?

[2018-01-16 21:23] HaoK commented on #3744
See https://github.com/aspnet/AuthSamples/tree/dev/samples/Identity.ExternalClaims

[2018-01-16 21:26] isaac2004 commented on #3772
@Rick-Anderson can you point me to where you want the doc?

[2018-01-16 21:29] mairaw commented on #5173
I don't have permissions to your repo @Rick-Anderson so cannot check the status of the PDF builds on OPS. I'd open a LSI. We just had one LSI fixed related to PDF builds in our side.

[2018-01-16 21:53] Rick-Anderson commented on #5173
@Eilon  can you give @mairaw write access to this repo?

[2018-01-16 22:08] Rick-Anderson commented on #3772
Under https://docs.microsoft.com/en-us/aspnet/core/security/authentication/

[2018-01-16 22:48] HaoK commented on #4051
Closing due to lack of response, feel free to file a new issue if this is still a problem

[2018-01-16 22:48] #4051 closed

[2018-01-17 00:05] Rick-Anderson commented on #5173
@Eilon  can you also add @guardrex  to this repo.  `@danroth27` approved in our meeting today.

[2018-01-17 00:07] Rick-Anderson commented on #5173
@terrimorton  it's working for me. Can you check again? (From chrome anyway.)

[2018-01-17 00:43] HeMinzhang commented on #5177
Now my browsers  show there is no error, but did show an error before

[2018-01-17 00:49] mairaw commented on #5173
I get this on Chrome:
![image](https://user-images.githubusercontent.com/12971179/35019720-44e46992-fadd-11e7-8308-71e9e92763a3.png)

[2018-01-17 01:07] #5177 closed

[2018-01-17 01:15] Rick-Anderson commented on #5173
No repo. I opened https://mseng.visualstudio.com/CSI/_workitems?id=1163057 to track this.

[2018-01-17 04:57] #4606 closed

[2018-01-17 16:33] michaelvgibson commented on #5160
A link on how to save the file to Azure Storage instead of server disk would also be appreciated.  Not sure if anything in the doc set supports that though.  Thanks.

[2018-01-17 17:48] mockjv opened #5192 "ASP.NET Core IIS Hosting Bundle Pre-reqs Deficiency"
## General

I've been able to reproduce pretty conclusively that the ASP.NET Core Hosting bundle appears to require the MS VC++ 2010 redistributable IF you have not installed "Web Deploy 3.5" and you don't publish the web app with a runtime (e.g. dotnet publish -f netcoreapp2.0), otherwise you receive a 500.19 error message.  I've been able to reproduce this in clean Server 2k8r2 and Server 2016 V

[2018-01-17 17:51] guardrex commented on #5160
I think a quick link is possible. We could certainly look at it on review and see how it fares. I envision this section would then have:
* The snippet
* Short remark RE: saving a filestream out to Azure Storage linked to: https://docs.microsoft.com/azure/storage/blobs/storage-dotnet-how-to-use-blobs
* Brief remark on write permissions
* Brief remark on security (DOS, malicious uploads, running out

[2018-01-17 18:02] guardrex commented on #5192
The timing of your feedback is great @mockjv. This section of the TOC has been under revision the last two weeks, and I have another PR going together right now that includes the *Host on IIS* topic.

cc/ @joeloff Thoughts on this?

[2018-01-17 18:12] guardrex commented on #5192
@joeloff The only thing we have right now is this remark:

[2018-01-17 20:58] scottaddie commented on #5185
@rachelappel Is there anything in https://github.com/aspnet/Docs/pull/5165 that wasn't addressed?

[2018-01-17 22:26] Eilon commented on #5173
Both @mairaw and @guardrex should have push access to the docs repos. Thanks!

[2018-01-18 14:18] isaac2004 commented on #3772
@rick, I just noticed this PR #5200 that references issue #4835 that is the same. Should we close this issue and the PR I opened?

[2018-01-18 14:38] rachelappel commented on #5185
I think it's good

[2018-01-18 14:38] #5185 closed

[2018-01-18 18:16] #5155 closed

[2018-01-18 18:46] Rick-Anderson opened #5203 "ASP.NET security headers doc"
@scottaddie  will work with @blowdart  to create a doc with email & notes.

[2018-01-18 18:49] Rick-Anderson commented on #3772
@isaac2004  yes - sorry about that.

[2018-01-18 19:37] isaac2004 commented on #3887
@Rick-Anderson what needs to be fixed here? Just the sample? First glance at the docs themselves look fine

[2018-01-18 19:51] mockjv commented on #5192
I'm closing this issue because upon further verification, I've found that there must be another factor in my environment or the installer bundle.

[2018-01-18 20:06] guardrex commented on #5192
@mockjv If you don't mind, I'd like to leave this open just a hair longer. If there's something else that we need to do on the topic for the revisions that pertain to the installer, this is a good spot for me to track the doc work. After all, @joeloff may come in and say 'Yeah, Luke ... your installer doc language is *terrible!*' :smile: lol ... Let's see how it plays out; and if there's no doc ac

[2018-01-18 21:48] Rick-Anderson commented on #3389
@mrbullwinkle can you give us an ETA on this? @scottaddie  is willing to help.

[2018-01-18 21:52] guardrex opened #5204 "VS/VSC tracking links"
@TerryGLee

VS docs: https://aka.ms/vsdownload?utm_source=mscom&utm_campaign=msdocs

... lands on the downloads page. Many topics take the reader to the VS IDE page at: https://www.visualstudio.com/vs/. For VSC, I've seen topics use (and I've used in a few topics): https://code.visualstudio.com/.

Do you have similar links (or even just tracking query strings) for those two?

[2018-01-18 22:09] scottaddie commented on #5028
@ajcvickers I'm looking for some guidance on how to update the code snippet in question.

[2018-01-18 22:14] Rick-Anderson commented on #3887
@isaac2004  it looks like it has been updated for 2.0
https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-xplat/adding-view

Note: The ASP.NET Core 2.0 version is slightly different. It doesn't contain @inject ApplicationInsights and @Html.Raw(JavaScriptSnippet.FullScript).

[2018-01-18 22:14] #3887 closed

[2018-01-18 22:16] Rick-Anderson commented on #3463
@isaac2004  no, I plan on adding the JavaScript and jQuery calls that exist in the legacy Web API sample.

[2018-01-18 22:16] TerryGLee commented on #5204
I'll check and report back.

[2018-01-18 23:34] Rick-Anderson commented on #5173
@terrimorton  can you try it now? Looks like it's working.

[2018-01-18 23:34] #5173 closed

[2018-01-19 00:57] guardrex opened #5205 "Potential "two-space" topics"
There are only seven topics where the script thought there were six or more double-space issues:

* aspnetcore\client-side\bootstrap.md
* aspnetcore\client-side\using-gulp.md
* aspnetcore\data\ef-mvc\intro.md
* aspnetcore\mvc\models\validation.md
* aspnetcore\mvc\views\razor.md
* aspnetcore\mvc\views\tag-helpers\authoring.md
* aspnetcore\security\authentication\identity.md

[2018-01-19 01:48] guardrex opened #5207 "Remove keywords and ms.assetid metadata"

[2018-01-19 02:06] guardrex opened #5209 "Finalize patches for regex quotes repair"
Followup to #5140

I've spotted a handful of additional regex expressions to fix.

to

[2018-01-19 02:19] guardrex opened #5211 "TOC lines are missing a space"

[2018-01-19 02:41] guardrex opened #5213 "Nginx naming consistency"
Most spots it's "Nginx." That's fine ... it's even one of their trademarked representations: http://tmsearch.uspto.gov/bin/showfield?f=doc&state=4803:dhv9qr.2.6

We should bring the rest of the topics in line with that format.

[2018-01-19 07:41] guardrex opened #5215 "Our "little" contraction problem"
Refactor topics to use contractions.

[2018-01-19 11:39] mrbullwinkle commented on #3389
@Rick-Anderson we have new App Insights content coming out for .Net Core next week: 1/22-1/26 and 1/29-31. Goal is to have all the content requests from your team complete by month end.

[2018-01-19 12:28] rachelappel commented on #5096
Moving to the .NET repo. Team prefers doc be based on different article, does not want copy and paste, wants scenario based solution. New issue: https://github.com/dotnet/docs/issues/4155

[2018-01-19 12:28] #5096 closed

[2018-01-19 12:33] rachelappel commented on #5215
Contractions often don't localize well and non native English speakers often have a problem with them.

[2018-01-19 16:55] guardrex commented on #5215
*I'm very confused.* The style manual calls for them, and the rule has been enforced on every new and updated topic for over a year, including when I was working for @mairaw. No reviewer has ever stopped me or even hinted that I shouldn't be using them.

However if that's what we'll do, no biggie! My 😵 *mad script* 😵 just needs a tiny adjustment. We can kill this, and I can whip us up a PR to reve

[2018-01-19 17:08] terrimorton commented on #5173
It is still repro'ing for me. As Maira indicates, I eventually get a "Failed to load document" in the Chrome browser. And the downloaded .PDF file fails to be opened by Adobe Acrobat Reader DC.

FWIW I am running Windows 10 Enterprise.

[2018-01-19 18:01] srikarplus commented on #5069
Hi @scottaddie , pfa the document and the necessary code files.
[Creating the SPA Interface.docx](https://github.com/aspnet/Docs/files/1647463/Creating.the.SPA.Interface.docx)
[app.zip](https://github.com/aspnet/Docs/files/1647468/app.zip)
The first part of the tutorial i.e., creating Web api remains unchanged. I have only updated the tutorial for creating Angular frontend.

[2018-01-19 19:23] Rick-Anderson commented on #5215
@nokura are contractions a problem for loc?
@scottaddie  can you comment?

[2018-01-19 19:58] scottaddie commented on #5215
I prefer contractions, since that's what the style guide says to use. Here's the official guidance:

@nokura Has your team approved of this ☝️ guidance for localization?

[2018-01-19 20:04] #5205 closed

[2018-01-19 20:06] #5213 closed

[2018-01-19 20:07] #5211 closed

[2018-01-19 20:11] #5207 closed

[2018-01-19 20:13] Rick-Anderson commented on #5215
@tdykstra  can you comment on contractions?

[2018-01-19 20:14] #5209 closed

[2018-01-19 20:22] tdykstra commented on #5215
Scott is correct, current Voice guidance is to use contractions because it sounds more informal. There used to be a policy against them for localization/international English reasons, but that was quite a few years ago.

[2018-01-19 20:23] mairaw commented on #5215
Contraction is one of the top 10 rules for Microsoft style and voice. So, I'd imagine they considered Loc to come up with that. Internal reference link: https://worldready.cloudapp.net/Styleguide/Read?id=2700

[2018-01-19 20:44] Rick-Anderson opened #5221 "Improve RP SEO"
From the MVC article - which gets 2x the traffic:

![image](https://user-images.githubusercontent.com/3605364/35170854-b0c32444-fd05-11e7-947c-2805a7c75a0f.png)

[2018-01-19 20:56] guardrex commented on #5215
kk ... thanks everyone for TAL at this. I'd be totally cool either way, but I think we agree that consistency is a good goal.

@Rick-Anderson @scottaddie The current PR only covers the `aspnetcore` doc set. Would you like me to setup a 2nd PR that does the `aspnet` doc set? I suggest a 2nd PR because the :eye: strain on review will be rough if I merely add a commit to the current PR.

[2018-01-19 21:05] #5221 closed

[2018-01-19 22:16] Rick-Anderson commented on #5215
Another PR, but very low pri.

[2018-01-19 23:29] guardrex commented on #5215
Of course, I understand. It takes like 15 seconds to run the script. It's all good ... right up until the eyes glaze over looking at the diff on the PR! Ouch. 😅

[2018-01-20 20:26] guardrex opened #5230 "Explain how to get configuration at startup"
@nhwilly asks on the [Options topic](https://docs.microsoft.com/aspnet/core/fundamentals/configuration/options) ...

This would be a great add imo. I just drop back to a built configuration to take them, and I think that will work well in most cases. If they need to use a new configuration builder for a source that isn't OOB, that's fine. We could note that or show it. At the very least, we prob w

[2018-01-20 23:11] nhwilly commented on #5230
Wow, thanks for addressing this so quickly.

If it helps, I found the following, which seems weird to me, but I don't know much.

The code below does not work. `_cosmosConfig` is always null.
[code]

But **this** code does work.
[code]
If I declare it locally with the method, it seems to work fine.

And this always works:
[code]

Since I have a workaround, I'm good, but I thought that behavior was

[2018-01-20 23:20] nhwilly commented on #5230
Ok, so my thoughts, fwiw.

At the top of the document, it suggests isolating options to classes specific for use so that their consumers don't get access to items they don't need.  Makes perfect sense to me.

So I created my own options classes and I want the IOptions<T> dependency injection to take care of the rest.  I'm not a fan of strings in code if I can help it.

So my `appsettings.json` fil

[2018-01-21 01:00] guardrex commented on #5230
@nhwilly On your first question ('this works' but 'this doesn't'), the wisdom of @HaoK will guide us.

RE: `GetService` ... We definitely want to avoid a service locator pattern if we can.

... i.e. ... SoC right into startup (`ConfigureServices`). I have some notions, but let's see where the discussion goes. I usually don't sweat SoC quite that far.

[2018-01-21 08:41] taobaohi opened #5232 "upgrade to netcoreapp2.0"
upgrade to netcoreapp2.0

[2018-01-21 09:23] HaoK commented on #5230
Can you include your entire startup.cs @nhwilly ?

[2018-01-21 09:25] HaoK commented on #5230
But going to your main question, since you are inside the actual method that's part of building the service provider, building your own provider is likely the only good option.

[code]

[2018-01-21 21:58] weitzhandler commented on #4964
BTW, there are other issues with [the article](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads#uploading-large-files-with-streaming).

Several references aren't mentioned in the page, and no link to the [sample project](https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/models/file-uploads/sample/FileUploadSample) exists in the article itself. Please fix this as well.

[2018-01-21 22:04] guardrex commented on #4964
... and it's one of the old `project.json`-based samps in need of a refactor for 2.0.

[2018-01-21 22:17] isaac2004 commented on #4964
I can grab that stuff too. Just want to make sure it's not being looked into.

[2018-01-21 22:28] guardrex commented on #5232
@taobaohi We're aware that there are about 27 samples that are still `project.json`-based (and true, we do need an issue for this). There might be a few lingering 1.1-era samples as well. Did you have something else in mind?

[2018-01-22 00:09] weitzhandler commented on #4964
Just as a reminder, would be very nice to have more client types covered, especially .NET client, presenting several `HttpContent` and stream/buffer types.

There should be an optimized example for uploading really large files, probably using `PushStreamContent` (which works fastest for me: 7s vs 22s using the example in the file with `StreamContent`).

[2018-01-22 01:43] guardrex commented on #5230
@HaoK

1. Should we proceed with covering the approach for obtaining configuration for `CongifureServices` in the Configuration topic (i.e., the example I show in the OP)? I envision it as a new section at the bottom of the topic.
2. Should we cover the service build/locator pattern in the Options topic? I envision it as a new section at the bottom of the topic.
3. If the answer to (1) and (2) are

[2018-01-22 02:30] HaoK commented on #5230
You shouldn't really be using IOptions in ConfigureServices, but binding an options instance against config in ConfigureServices is fine

[2018-01-22 02:37] guardrex commented on #5230
Ok, but getting access to config values in `ConfigureServices` is becoming a regular ask, so I'd like to just go with (1). I'll try a short remark at the bottom of Options to surface the new Configurations topic section in case they land in Options or didn't catch the Configuration topic first. If it doesn't look good on review, we can cut or modify it. Sound good (at least to try and see how it l

[2018-01-22 02:40] HaoK commented on #5230
Using config in configure services is fine, just not IOptions itself since that's the part of what's building up the IOptions services itself.

[2018-01-22 13:52] #5172 closed

[2018-01-22 20:12] guardrex opened #5238 "Enhance cookie sharing topic for common Identity dB"
~Blocked by: https://github.com/aspnet/AuthSamples/pull/45~

aspnetcore/security/data-protection/compatibility/cookie-sharing.md
https://docs.microsoft.com/aspnet/core/security/data-protection/compatibility/cookie-sharing

The three cookie-sharing projects in the cookie sharing topic sample are under revision in the AuthSamples repo. ~The refactor aims to have all three projects use a common Ident

[2018-01-22 20:14] #969 closed

[2018-01-22 20:14] #1812 closed

[2018-01-22 20:14] #3776 closed

[2018-01-22 20:17] guardrex commented on #3777
@Rick-Anderson

I checked off the entry for the cookie sharing updates. There's just one left here:

Should I look into this and see where it stands, or did u want to TAL?

[2018-01-22 20:56] Rick-Anderson commented on #3777
What's TAL?

[2018-01-22 20:56] Rick-Anderson commented on #3777
Look into it please.

[2018-01-22 20:57] guardrex commented on #3777
Will do.

TAL = *Take a look* ... I must have picked that up somewhere around the repos.

[2018-01-22 21:07] guardrex commented on #5232
@taobaohi I'm going to close the issue because this isn't specific enough to take action on. We can reopen the issue if you provide additional details. Regarding the lingering *project.json*-based samples (if that's what you were referring to), I'll open a tracking issue shortly that identifies the offending samples for update.

[2018-01-22 21:07] #5232 closed

[2018-01-22 23:10] Tratcher opened #5242 "Document Http/2 Experimental status"
The Http/2 implementation is not yet ready for consumption. We've hidden the setting as to not confuse users. I've added a hidden switch advanced users can use for targeted testing.
See https://github.com/aspnet/KestrelHttpServer/pull/2265

[2018-01-22 23:45] guardrex commented on #5192
@joeloff Let me know if we need to reopen this to discuss further. I'm closing here, but I'll address the installer language in the IIS hosting topics when I get to Stage 3 hosting updates on https://github.com/aspnet/Docs/issues/5100.

Thanks @mockjv for reporting. 🌴 Let us know if you hit any snags with the docs on this or in other ways.

[2018-01-22 23:45] #5192 closed

[2018-01-23 01:36] guardrex commented on #5242
Is Http/2 a 2.1 feature for Kestrel?

[2018-01-23 01:46] Rick-Anderson opened #5245 "Create xplat TOC links to RP and MVC intro Mac and Xplat versions"
Bury them below tutorials do it doesn't overwhelm the tutorials TOC - but they need TOC connection for navigation.

[2018-01-23 02:02] guardrex commented on #3777
@Rick-Anderson Let's ice this ... We're cool here. https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/implementation/key-storage-providers#azure-and-redis

[2018-01-23 02:02] #3777 closed

[2018-01-23 02:05] Tratcher commented on #5242
It's experimental so far, but it's not clear if we'll have time to finish it.

[2018-01-23 02:11] guardrex commented on #5242
I'm going to label this 2.1 for now and assign to myself. I'll check with you at 2.1 to see where it stands.

[2018-01-23 02:13] Tratcher commented on #5242
We'll provide a preliminary statement for preview1, that will likely go into the release notes.

[2018-01-23 22:11] guardrex opened #5251 "Using Browser Link with Firefox"
RE: Update to the Browser Link topic
aspnetcore/client-side/using-browserlink.md
https://docs.microsoft.com/aspnet/core/client-side/using-browserlink?tabs=aspnetcore2x

@Larswa reports ...

https://stackoverflow.com/questions/39385195/visual-studio-browser-link-not-working-in-firefox

When in FF and browsing a local site using IIS, Browser Link runs SSL on port 44399. And you need to browse to tha

[2018-01-23 23:46] Rick-Anderson commented on #3989
@guardrex  see customer comments:
![image](https://user-images.githubusercontent.com/3605364/35306817-d5d1c2fe-0043-11e8-9f87-e5322045df4f.png)

[2018-01-23 23:50] guardrex commented on #3989
These two related issues didn't cross reference ... until now that is. :smile: https://github.com/aspnet/Docs/issues/4777

[2018-01-24 00:41] Rick-Anderson commented on #3697
We've done a good pass.

[2018-01-24 00:41] #3697 closed

[2018-01-24 01:51] guardrex commented on #3352
@Rick-Anderson @Tratcher Looks like we're talking about something fairly close to the implementation bits of  :point_right: https://docs.microsoft.com/dotnet/standard/microservices-architecture/multi-container-microservice-net-applications/background-tasks-with-ihostedservice

Here are a few different approaches that could be taken:
1. Craft the topic from the best bits from the microservices doc

[2018-01-24 03:18] Rick-Anderson commented on #4580
Closing for now.

[2018-01-24 03:18] #4580 closed

[2018-01-24 03:24] Rick-Anderson commented on #4889
@rachelappel  the code is way out of date too.

[2018-01-24 05:06] guardrex commented on #1913
@blowdart Do the recent updates (and others since this was opened) cover this issue? One thing we didn't do was make the topic 1st class under *Security*. It's still under: *data-protection/compatibility/*.

[2018-01-24 05:52] chikien276 commented on #3989
I wrote a working helper [here](https://github.com/chikien276/MultipartHelper/blob/master/ChiKien276.AspNetCore.MultipartHelper/FileUploadHelper.cs). This helper simplify the process as you can see [here](https://github.com/chikien276/MultipartHelper/blob/master/readme.md#usage). We've been using this for our internal product for a while. Hope it's helpful in someway.

[2018-01-24 11:00] #5245 closed

[2018-01-24 11:21] #2748 closed

[2018-01-24 14:10] isaac2004 commented on #4835
request to close this and #3772

[2018-01-24 14:18] isaac2004 commented on #4556
@cwoodruff @scottaddie did this doc ever get written, I can help out if needed.

[2018-01-24 14:26] scottaddie commented on #3989
@guardrex @Rick-Anderson I'll take care of this one. I'm already working on a related issue.

[2018-01-24 14:28] scottaddie commented on #4556
@cwoodruff Please let us know if you still have interest and time to write this doc.

@isaac2004 This hasn't been written yet.

[2018-01-24 14:45] isaac2004 commented on #1210
@danroth27 Do you have a preference where you want this note? Any page that references SQLite (aspnet and aspnetcore) or a particular page in the [Identity](https://docs.microsoft.com/en-us/aspnet/identity/) set?

[2018-01-24 15:27] #5215 closed

[2018-01-24 15:45] Larswa commented on #5251
Let me know if there is anything more you want. Screenshots or more detailed explanations. Or a pull request against the docs.

[2018-01-24 16:34] guardrex commented on #4968
Note that on #5241 @scottaddie remarks for *aspnetcore/fundamentals/configuration/index.md* where it states ...

[2018-01-24 17:06] scottaddie commented on #4968
@danroth27 @guardrex I'm hoping we can provide a bit more guidance in this statement. For example, which specific platforms are known to need the double underscore. It's going to be a question in the Feedback section of the doc if we don't specify.

[2018-01-24 19:58] rachelappel commented on #4968
@guardrex  I was looking around and don't see it documented anywhere. Agree with @scottaddie  that we could use more guidance here and which platforms and all that or else the question tidal wave will hit us.

[2018-01-24 20:12] guardrex commented on #4968
@danroth27's OP :point_up: suggests that making every topic go with the double-underscore approach should (in theory) just about eliminate concern over platform behavior. However, I agree that being able to say which platforms have trouble with colons would be helpful.

[2018-01-24 20:22] Rick-Anderson opened #5259 "per customer: elements not attributes in first-mvc-app/validation"

[2018-01-24 20:39] #5230 closed

[2018-01-24 20:54] scottaddie opened #5261 "Clarify Bower support message"
https://docs.microsoft.com/aspnet/core/client-side/bower

Clarify the IMPORTANT message at the point:

Who is they? It should be the team maintaining Bower.

[2018-01-24 21:34] rachelappel commented on #4968
@guardrex I only see him mentioning the config doc. Did I miss something?
Totally agree that consistency is going to be a better thing, so if there are multiple docs that could use the mod we should look at those too.

[2018-01-24 21:47] guardrex commented on #4968
Nah ... just wondering if they'll be found in a few other topics/samples floating around the repo. Hopefully *not*, and then this won't be a big deal.

[2018-01-24 21:58] Rick-Anderson commented on #4076
@Bartmax

Can you update this?

[2018-01-24 22:06] Bartmax commented on #4076
@Rick-Anderson update how?

[2018-01-24 22:36] Rick-Anderson commented on #5096
Just for clarification, we would have produced this article by helping Andrew convert his blog to markdown (and make edits). Andrew would then submit the converted doc in a PR.

[2018-01-24 22:37] Rick-Anderson commented on #4076
@Bartmax  I'm getting lots of comments - now that we don't use bower this doesn't work.

[2018-01-24 23:40] Rick-Anderson opened #5263 "Update scaffolding instructions with Feb patch release"
https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/intro#scaffold-the-model

 Globally change `_context.Student` to `_context.Students` (that is, add an "s" to `Student`). 7 occurrences are found and updated. We hope to fix [this bug](https://github.com/aspnet/Scaffolding/issues/633) in the next release.

[2018-01-24 23:41] #5259 closed

[2018-01-24 23:49] Tratcher commented on #5242
@danroth27 who's doing Preview1 release notes? This needs a special notice there.

[2018-01-24 23:51] halter73 commented on #5242
@shirhatti?

[2018-01-25 00:39] Rick-Anderson commented on #3886
It's now updated.

[2018-01-25 00:39] #3886 closed

[2018-01-25 01:18] jkotalik opened #5264 "Change ANCM requestTimeout property to remove 'requestTimeout must be specified in whole minutes'"
The requestTimeout in the aspnetcore_schema will be updated to allow a requestTimeout to be specified in seconds. https://github.com/aspnet/Docs/blob/313486d76f89ceac7af9b8c0769f72d1b224d4ca/aspnetcore/host-and-deploy/aspnet-core-module.md can now remove the note about only allowing whole minutes.
cc/ @shirhatti

[2018-01-25 01:18] jkotalik commented on #5264
This would be for 2.1.

[2018-01-25 02:54] scottaddie commented on #5264
@jkotalik Will this schema change apply ONLY to 2.1 and up? I'm wondering if we should state that the current note applies to all versions prior to 2.1. Thoughts?

[2018-01-25 02:57] shirhatti commented on #5264
Schema is a global singleton. As long as you've installed a newer ANCM (the one that will ship with 2.1) you'll get the fix, regardless of whether you continue to use an older version of ASP.NET Core.

[2018-01-25 04:48] #4763 closed

[2018-01-25 09:36] xt0rted opened #5269 "Automatic hyperlink is being rendered incorrectly on the docs site"
The link in question is at [aspnetcore/mvc/views/tag-helpers/built-in/anchor-tag-helper.md#L183](https://github.com/aspnet/Docs/blame/b16787223129261e0a618daf336e3c894bdb80bf/aspnetcore/mvc/views/tag-helpers/built-in/anchor-tag-helper.md#L183) and can be seen  at https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/anchor-tag-helper#asp-all-route-data

When viewing the markd

[2018-01-25 17:46] Bartmax commented on #4076
@Rick-Anderson the authors of both plugins document `bower` as the "package manager way" to get the libraries. I updated the issue but I think it's out of the scope how to get js libraries from whichever is the package manager of the day.

Let me know if the current update works for you.

[2018-01-25 23:48] Rick-Anderson opened #5273 "Response Caching Middleware"
https://docs.microsoft.com/en-us/aspnet/core/performance/caching/middleware

The 2.x sample is doing config in main. Config needs to be in startup. Sample needs to use template code so folks can plug caching into RP or MVC apps.

The code shown doesn't work with the templates. The 2.x code looks like 1.x code.

Short term is I need code to enable response cashing with RP template.

[2018-01-25 23:58] guardrex commented on #5273
The samp was built right after 2.0 released and before we had a firm plan for these samples. That 2.x code does work tho with RP ... it's just using the convenience methods. All I need to do here is put in a proper RP template app with the bits in `Startup`. No sweat. I'll knock this out quickly.

[2018-01-26 01:57] guardrex commented on #5273
@Rick-Anderson

**CORRECTION:** I just took a closer look ... The main topic for response caching at https://docs.microsoft.com/aspnet/core/performance/caching/response is the one that's supposed to show a webpage-based project sample [MVC currently (and *project.json* :cry:); but should be RP on its next update].

That's why you see the middleware topic showing that sample the way that it does ..

[2018-01-26 02:27] Rick-Anderson commented on #5273
Dev's who want to use the host builder approach will be on their own. They'll be able to figure it out.

All we need right now is a sample that works with RP/MVC/ASP.NET Core 2.x on hooking up response caching middleware from template code.

[2018-01-26 07:06] #4472 closed

[2018-01-26 07:06] #4473 closed

[2018-01-26 17:18] guardrex opened #5280 "Tracking: Metadata, title, description, and H1 updates"
Tracking:

* [x] Metadata entry sequence (https://github.com/aspnet/Docs/pull/5296)
* [ ]  Too long/short titles/descriptions/H1s, missing descriptions, and technology names in titles/H1s (#3278)

Metadata sequence has become a bit messy over time. I'd like to run one of my 😵 mad scripts 😵 on the repo to get a consistent order on the entries.

Sequence:

1. Title
2. Everything else alphabetized
3.

[2018-01-26 18:25] scottaddie opened #5282 "Update Anchor Tag Helper doc"
- [ ] Convert XPROJ-based sample project to CSPROJ and update code snippet includes accordingly.
- [ ] Add Razor Pages samples to app.
- [ ] UE edit
- [ ] Document the `asp-page-handler` (2.x ONLY) and `asp-host` attributes.
- [ ] Indicate 2.x Razor Pages ONLY support for the `asp-page` and `asp-page-handler` attributes.
- [ ] Link to API ref pages

[2018-01-26 20:09] TrabacchinLuigi commented on #3691
Got the same issue, it works if i don't move to the next multipart section before using the stream ... but it's not what i want to do ... i need some other data from the multipart form before processing the stream ...

[2018-01-26 20:37] Rick-Anderson opened #5283 "performance/caching/response "Response caching in ASP.NET Core" improvements"
[Response caching in ASP.NET Core
](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/response)

Need to show how to set up middleware to use the attributes on this page.

Code snippets are nonsense - there is nothing to cache.
[code]

They need to display time (seconds might be nice) so you can verify caching works.

[code]

[2018-01-26 20:41] guardrex commented on #5283
@Rick-Anderson Kind of a side-question on that: Per our earlier discussion, did you reach a conclusion about using browser dev tools (with caching disabled) or using one of the request-response tools (e.g., Fiddler, Postman) when explaining how to test/troubleshoot?

[2018-01-26 20:44] Rick-Anderson commented on #5283
@guardrex  that's fine. But we need to have the minimum code to get the sample to work.

[2018-01-26 20:48] guardrex commented on #5283
Sure thing on the code ... no prob.

I was just wondering if you wanted to go one way or the other on how to explain testing/troubleshooting. My natural inclination is to stick with Fiddler/Postman approaches.

[2018-01-26 20:52] #5273 closed

[2018-01-26 21:06] Rick-Anderson commented on #5283
Hold off on this. First we need to get a working sample. Fiddler/postman/F12 tools should all be mentioned as testing/debugging tools.

[2018-01-26 21:45] Rick-Anderson commented on #5283
This article is on **Response caching in ASP.NET Core** but the first 80% has nothing to do with ASP.NET Core.

new outline:

**ResponseCache attribute**  should be first, move the preceding sections below.

Start with the simplest `[ResponseCache(Duration = 6)]` and change the sample to
[code]

Add complexity from there.

replace note `location` with table

[2018-01-26 22:26] guardrex commented on #5283
Noting that it will be 2.1 for attribute response caching with RP: https://github.com/aspnet/Mvc/issues/6747

[2018-01-26 22:32] ygoe commented on #2384
What's the default for `ForwardedHeaders` when calling just `app.UseForwardedHeaders()` without options? I can't find it in the source code:

https://github.com/aspnet/BasicMiddleware/blob/dev/src/Microsoft.AspNetCore.HttpOverrides/ForwardedHeadersExtensions.cs

The documentation of this topic is useless, it doesn't explain anything:

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcor

[2018-01-26 22:35] Tratcher commented on #2384
@ygoe ForwardedHeaders is None by default.
https://github.com/aspnet/BasicMiddleware/blob/dd038387285bf9fa8dc52910ef762b9843ff22e4/src/Microsoft.AspNetCore.HttpOverrides/ForwardedHeadersOptions.cs#L51-L74
https://github.com/aspnet/BasicMiddleware/blob/dd038387285bf9fa8dc52910ef762b9843ff22e4/src/Microsoft.AspNetCore.HttpOverrides/ForwardedHeaders.cs#L11

[2018-01-26 22:37] ygoe commented on #2384
@Tratcher Ah, so `app.UseForwardedHeaders()` does exactly the opposite – it does *not* use any forwarded headers. Good to know.

[2018-01-26 22:59] TerryGLee commented on #5204
A quick update: This is still under discussion.

[2018-01-27 04:33] Rick-Anderson opened #5287 "create VSC and mac versions of intro to RP"
scaffolding and model portions

[2018-01-27 04:33] #5287 closed

[2018-01-28 18:49] guardrex opened #5297 "Validate common errors in IIS/App Service common errors topic"
*Common errors reference for Azure App Service and IIS with ASP.NET Core*
aspnetcore/host-and-deploy/azure-iis-errors-reference.md
https://docs.microsoft.com/aspnet/core/host-and-deploy/azure-iis-errors-reference

[2018-01-28 19:31] CoolGoose opened #5298 "Disabling 'missing xml' notification"
Hi all.

I was wondering if it makes sense to specify that you can add `<noWarn>1591</noWarn>` in order to ignore the _Missing XML comment for publicly visible type or member._ .

If so, i think the existing warning should go above the editor choice if you want to have the per specific editor way of disabling this, or just as a generic cross platform option.

Imho I rather tend to think the generi

[2018-01-28 22:43] guardrex opened #5300 "SignalR: Supported Platforms topic update"
SignalR topic: *Supported Platforms*
https://docs.microsoft.com/aspnet/signalr/overview/getting-started/supported-platforms
aspnet/signalr/overview/getting-started/supported-platforms.md

The version language (IIS, Windows OS, WS) throughout requires work.

[2018-01-29 03:03] Rick-Anderson commented on #1625
dup of #1077

[2018-01-29 03:03] #1625 closed

[2018-01-29 16:49] CoolGoose commented on #5298
Hey @guardrex . I opened it here in the context of the Swagger integration. Should we keep this here and discuss if we'll link from here to the .NET core docs repo ?

[2018-01-29 17:33] guardrex commented on #5298
Ah! I see what you mean :point_right: https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-help-pages-using-swagger#xml-comments

@scottaddie will know what to do.

[2018-01-29 19:08] #4836 closed

[2018-01-30 00:23] Rick-Anderson opened #5304 "Extend Intro to RP "Update the pages" to have mac and VSC versions"

[2018-01-30 07:29] #5304 closed

[2018-01-30 15:52] rachelappel opened #5310 "mvc/views/tag-helpers/built-in/"
This needs missing tag helpers and some rework

-review all built-in tag helpers docs
-there are missing built-in tag helpers
-ToC update

[2018-01-30 16:59] guardrex opened #5311 "Advanced IMiddleware/IMiddlewareFactory topic"
New topic that will be an advanced `IMiddleware`/`IMiddlewareFactory` topic to accompany the *Factory-based middleware activation in ASP.NET Core* topic (fundamentals/middleware/extensibility.md). The sample will activate the `IMiddleware` from a factory in the 3rd party container (probably Simple Injector).

I have a sample fairly close to what we need. It should only require a few tweaks to pull

[2018-01-30 20:54] Rick-Anderson opened #5314 "Replace M.A.All meta-package with Microsoft.AspNetCore.App - MD files only"
![image](https://user-images.githubusercontent.com/3605364/35590459-097e0e7a-05ab-11e8-9e4f-265db68b64d3.png)

currently mentioned in 22 files. This issue is about updating the docs that specifically mention *Microsoft.AspNetCore.All*

We need to convert a few of these and agree on the language and style of the update.

Updating the samples that use the **ALL** meta-package is a lower priority.  S

[2018-01-30 21:01] guardrex commented on #5314
For reference: https://github.com/aspnet/Announcements/issues/287

[2018-01-30 21:35] Rick-Anderson opened #5316 "Update tutorials TOC"
Combine Data access
Add secure user data

[2018-01-30 21:37] Rick-Anderson opened #5317 "Update core/security/authorization/secure-data"
Apply https://github.com/aspnet/Announcements/issues/285 and https://github.com/aspnet/Announcements/issues/284

[2018-01-30 22:07] #5160 closed

[2018-01-31 01:27] guardrex commented on #5317
Dup of https://github.com/aspnet/Docs/issues/5144

[2018-01-31 03:33] Rick-Anderson opened #5320 "QR codes update"
Copied from `@PinpointTownes` in #5144
You may also want to revamp https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-enable-qrcodes#adding-qr-codes-to-the-2fa-configuration-page and remove the last paragraph of https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-enable-qrcodes#using-a-different-qr-code-library as it recommends using `Html.Raw`

[2018-01-31 03:44] Rick-Anderson commented on #5144
@guardrex

Using the replacement approach I suggest fixes this. This issue is too big for one PR so breaking up.

[2018-01-31 03:57] guardrex commented on #5314
It didn't make sense to search out ALL samps ... many are 1.x because the topic needs them to display 1.x code. It made more sense to just get a list of topics that have the text "View or download sample code," since that language was standardized quite a while ago. That resulted in the following list of 46 topics. There's probably a handful of non-sample projects beyond this, but this seems like

[2018-01-31 19:40] Rick-Anderson commented on #4449
@CamSoper I think you can close this once you finish your review.

[2018-01-31 20:00] #5269 closed

[2018-01-31 20:00] #5282 closed

[2018-01-31 20:06] scottaddie commented on #5314
@guardrex *client-side\spa-services.md* isn't *project.json*-based. You can remove that one from your list above.

[2018-01-31 20:11] guardrex commented on #5314
It's not ".App" based tho. The list above isn't meant to be a *project.json*-based list. I was just mentioning that in passing. It's all of the topics that have a sample that will need either ".App" or left alone until the trigger is pulled on going with ".App" + extra package references.

[2018-01-31 20:24] guardrex commented on #5314
If there isn't support for ⚔️ *Divide and Conquer!* 🏹 (assignments), then I'll remove the 1st column.

[2018-01-31 20:36] rachelappel commented on #5314
@guardrex I looked at the environments and error-handling docs and I don't see any references to "Microsoft.AspNetCore.All" in those.

[2018-01-31 20:37] guardrex commented on #5314
ok ... cool. thanks. I'll pull those.

[2018-01-31 20:40] guardrex commented on #5314
Ah .. those have to stay. The environements sample calls for "All" ...

https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/environments/sample/WebApp1/WebApp1.csproj

The error-handling sample is *project.json*-based, so it should go to "App" on its update/upgrade ...

https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/error-handling/sample/project.json

[2018-01-31 20:47] rachelappel commented on #5314
Oh geez I forgot to look at the samples and hit just the docs.

[2018-01-31 20:47] guardrex commented on #5314
I totally missed what @Rick-Anderson was asking for here. I thought we'd do both ... fix the doc AND fix the sample. My bad. I think the samps will be a different issue. When we set that up tho ... I'll past that table back in.

[2018-02-01 20:13] #2800 closed

[2018-02-01 20:13] #4685 closed

[2018-02-01 20:13] #4890 closed

[2018-02-01 20:13] #5159 closed

[2018-02-01 20:41] scottaddie opened #5331 "2.0 update of File Uploads doc"
16K PV/m 61% CSAT

https://docs.microsoft.com/aspnet/core/mvc/models/file-uploads

- [ ] Provide 2.0 code samples (address https://github.com/aspnet/Docs/pull/5217)
- [ ] UE edit (improve CSAT and use MVC style of writing)
- [ ] Address https://github.com/aspnet/Docs/issues/3989
- [x] Address https://github.com/aspnet/Docs/issues/4777
- [x] Address https://github.com/aspnet/Docs/issues/4964
- [ ]

[2018-02-02 01:58] #4449 closed

[2018-02-02 02:03] Rick-Anderson opened #5332 "security/authorization/secure-data convert to RP"
address #5144

[2018-02-02 02:05] Rick-Anderson opened #5333 "Update snippet syntax for end of range highlighting"
Per the dev team, line-)] is not supported.

[2018-02-02 19:16] #5333 closed

[2018-02-02 20:59] Rick-Anderson commented on #3960
Fixed in #5303

[2018-02-02 20:59] #3960 closed

[2018-02-02 21:14] Rick-Anderson commented on #5316
Fixed by #5326

[2018-02-02 21:14] #5316 closed

[2018-02-02 21:16] #3772 closed

[2018-02-02 21:16] Rick-Anderson commented on #4835
@CamSoper  closer per your azure AD work. Reopen if needed.

[2018-02-02 21:16] #4835 closed

[2018-02-02 21:34] rachelappel opened #5346 "/mvc/views/tag-helpers/intro"
CSAT + entire topic refresh
TOC refresh

[2018-02-02 21:49] #5320 closed

[2018-02-02 22:33] #5298 closed

[2018-02-02 23:53] Rick-Anderson opened #5348 "Fix MT issues"
GitHub   URL | Current String / occurrence
-- | --
https://github.com/aspnet/Docs/blob/live/aspnet/web-forms/overview/data-access/working-with-batched-data/wrapping-database-modifications-within-a-transaction-vb.md | unrec �
https://github.com/aspnet/Docs/blob/live/aspnet/web-forms/overview/data-access/paging-and-sorting/creating-a-customized-sorting-user-interface-vb.md | unrec �
https://github.c

[2018-02-03 02:53] Rick-Anderson commented on #5348
See https://raw.githubusercontent.com/aspnet/Docs/master/aspnet/whitepapers/aspnet4/overview.md

`By default, the *requestPathInvalidChars* attribute defines eight characters as invalid. (In the string that is assigned to *requestPathInvalidChars* by default*,*the less than (&lt;), greater than (&gt;), and ampersand (&amp;) characters are encoded, because the `Web.config` file is an XML file.) You

[2018-02-03 03:57] kevinoid opened #5358 "Document .UseForwardedHeaders on Linux with Apache"
It took me a while to figure out that calling `app.UseForwardedHeaders` _with options_ was required to use the `X-Forwarded-*` headers from Apache.  Would it be possible to either copy the ["Why use a reverse proxy server?" section from "Host ASP.NET Core on Linux with Nginx"](https://github.com/aspnet/Docs/blob/master/aspnetcore/host-and-deploy/linux-nginx.md#why-use-a-reverse-proxy-server) or to

[2018-02-03 14:21] agriffard opened #5361 "Typo in aspnetcore/mvc/models/validation.md"
`Browsers choose their own error messages and display those errors however they wish`

Should be:

`Browsers choose their own error messages and display those errors as they wish, `

[2018-02-03 17:13] agriffard opened #5363 "Typo in aspnetcore/performance/caching/memory.md"
In https://github.com/aspnet/Docs/blob/master/aspnetcore/performance/caching/memory.md

`You can set the CacheItemPriority to adjust the priority the cache evicts items under memory pressure`

Should be something like

`You can set the CacheItemPriority to adjust the priority with which the cache evicts items under memory pressure`