[2019-09-03 20:22] rynowak commented on #13912
@guardrex - ready for integration with the docs

[2019-09-03 21:39] pranavkm commented on #13529
@Rick-Anderson could you summarize what the goal of this issue is? Is it to produce a simple example for a custom model binder?

[2019-09-03 23:23] Rick-Anderson commented on #13529
@pranavkm the goal is that customers that need to create a custom model binder have a simple example. The sample code doesn't have to be practical/useful, it just needs to show how to do custom model binding. The sample I like best is **[this one](https://www.dotnetcurry.com/aspnet-mvc/1368/aspnet-core-mvc-custom-model-binding)**. Search for ` demonstrate custom model binders`

This is the scenari

[2019-09-03 23:45] Rick-Anderson opened #14125 "Peek not correct"
Fix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e22150-f1f1-5e4f-0e97-39b1ac089297
* Version Independent ID: 687172c3-b7d8-525d-39dc-658b4a0f526f
* Content: [Session and app state in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-3.0&branch=pr-en-us-13993#tempdata

[2019-09-04 00:34] pranavkm commented on #13529
Yeah that sounds fine. I'd use the first sample (without the fallback) to illustrate how to write a custom binder (the fallback while nice might adds a lot of complexity).

[2019-09-04 00:59] Rick-Anderson commented on #13529
@serpent5  should I take a stab at this and you can review/help if I get stuck? Feel free to do the PR if you'd rather do it. In that case, It might be easier if I start the PR and you take over my branch,

[2019-09-04 07:03] serpent5 commented on #13529
Go ahead. I'll do whatever you need me to.

[2019-09-04 07:47] pappasa opened #14128 "API template creates weatherforecast"
In VS2019, the API templates creates a weatherforecast API as shown in https://snipboard.io/iaENZT.jpg.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://doc

[2019-09-04 07:56] pappasa opened #14129 "'EntityFrameworkCore' does not exist in the namespace 'Microsoft'"
In VS2019, I created TodoContext.cs as described above, but I get the error:

https://snipboard.io/38bGEn.jpg

1&gt;Models\TodoContext.cs(1,17,1,36): error CS0234: The type or namespace name 'EntityFrameworkCore' does not exist in the namespace 'Microsoft' (are you missing an assembly reference?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-09-04 08:10] pappasa commented on #14129
When registering TodoContext in Startup.cs, I get the error:

Startup.cs(31,21,31,40): error CS1061: 'DbContextOptionsBuilder' does not contain a definition for 'UseInMemoryDatabase' and no accessible extension method 'UseInMemoryDatabase' accepting a first argument of type 'DbContextOptionsBuilder' could be found (are you missing a using directive or an assembly reference?)

[2019-09-04 08:11] pappasa commented on #14129
Why is the statement

services.AddMvc().SetCompatibilityVersion(CompatibilityVersion.Version_2_2);

need in ConfigureServices?

[2019-09-04 08:12] pappasa commented on #14129
The API template has in the ConfigureServices method the following statement:

services.AddControllers();

Should this be removed?

[2019-09-04 08:37] pappasa opened #14130 "Startup.Configure() is different in API template"
When creating the project from the API template, the Startup.Configure method is as follows:

 public void Configure(IApplicationBuilder app, IWebHostEnvironment env)
        {
            if (env.IsDevelopment())
            {
                app.UseDeveloperExceptionPage();
            }

            app.UseHttpsRedirection();

            app.UseRouting();

            app.UseAuthorization();

[2019-09-04 08:38] Legends opened #14131 "setElementValue"
Where does `setElementValue` come from?
We use `JSRuntime` to call into JS and we supply a clientside function to be called.

So what is `setElementValue` in the example below?

Found here:

` JSRuntime.InvokeAsync&lt;object&gt;(
            "setElementValue", myInput, "Value set after render");`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-09-04 08:57] pappasa opened #14132 "'DbSet<TodoItem>' does not contain a definition for 'ToListAsync'"
After creating the method

// GET: api/Todo/5
[HttpGet("{id}")]
public async Task&lt;ActionResult&lt;TodoItem&gt;&gt; GetTodoItem(long id)
{
    var todoItem = await _context.TodoItems.FindAsync(id);

    if (todoItem == null)
    {
        return NotFound();
    }

    return todoItem;
}

I get the following compiler error:

1&gt;Controllers\TodoController.cs(35,45,35,56): error CS1061: 'DbSet&lt

[2019-09-04 09:21] pappasa opened #14133 "404 NotFound error code"
When calling https://localhost:44350/api/todo/2

I get the following error:

https://snipboard.io/y6S3Wd.jpg

Status: 500 Internal Server Error

System.NullReferenceException: Object reference not set to an instance of an object.
   at lambda_method(Closure , ValueBuffer )
   at System.Linq.Enumerable.SelectEnumerableIterator`2.MoveNext()
   at Microsoft.EntityFrameworkCore.InMemory.Query.Internal

[2019-09-04 09:33] javiercn opened #14134 "Document blazor startup mode and configuration options"
Document the following
* Manually starting the blazor application.
* How to configure the rendered html links with the `base` tag inside `head` so that all your links work independent of the entry point url `(for example when rendering from a non default page/controller)`
* Logging options for troubleshooting
* Advanced configuration knobs:
  * Signalr config.
  * Reconnection behavior.

[2019-09-04 09:56] Legends commented on #14131
I assume it is the name of a JS function, like:

` setElementValue: (elem, val) => {
        elem.value = val;
    }`

The code above is part of code example: `prerendered-interop`.
`StateHasChanged();` triggers an endless loop and thus a CPU rise of close to100%

[2019-09-04 10:05] Legends commented on #14131
Ok, i forgot to return a value, now it works:
`setElementValue: (elem, val) => { elem.value = val; return val;}`

[2019-09-04 10:05] #14131 closed

[2019-09-04 12:09] guardrex commented on #14134
Point 1 is covered at: https://docs.microsoft.com/aspnet/core/blazor/hosting-models?view=aspnetcore-3.0#configure-the-signalr-client-for-blazor-server-side-apps

Point 2 is covered in *Hosting and deployment*, and an in-progress PR is in development to update the coverage at https://github.com/aspnet/AspNetCore.Docs/pull/13898, which will improve the current `<base>`/app base path coverage.

Point

[2019-09-04 12:17] javiercn commented on #14134
@guardrex Sorry if I was not clear. These requests are specifically for server-side blazor. As people render components apps from views like "/MyController/MyView" and don't put the base path on the view when rendering the components, and that cause the app to fail and for them to log issues.

[2019-09-04 12:29] RobinKetting opened #14136 "Issue with GrpcClient.Create"
When following the instructions, I get an error on GrpcClient.Create. "GrpcClient" name does not exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d298a6c-8ddc-dbc8-d219-0fa7138442c2
* Version Independent ID: b96be346-958a-cfcd-d80a-c352d64223e8
* Content: [Create a .NET Core gRPC client and server in ASP.NET Core]

[2019-09-04 12:33] guardrex commented on #14134
I see what you u mean: App base path is only covered in hosting contexts. It will be helped a bit by the work on that current PR, which I plan to at least extend to cover both client- and server-side hosting scenarios.

The links I show for Points 1 and 4 are in the server-side coverage (*Hosting Models* topic) for those concepts, but I wouldn't be surprised if more work is needed.

[2019-09-04 12:37] RobinKetting commented on #14136
Installed NuGet package is Grpc.Net.Client 0.2.23-pre1.
In the sample folder  I see that Grpc.Net.Client 0.1.22-pre2 is used
( xx\AspNetCore.Docs-master\AspNetCore.Docs-master\aspnetcore\tutorials\grpc\grpc-start\sample\GrpcGreeterClient ).
When downgrading to that version, the issue is solved

[2019-09-04 15:41] Rick-Anderson commented on #14128
Yes
![image](https://user-images.githubusercontent.com/3605364/64270062-c9d20280-ceef-11e9-8f35-e0cc270396d2.png)

[2019-09-04 15:41] #14128 closed

[2019-09-04 15:42] Rick-Anderson commented on #14129
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select the **Content feedback** issue.
![image](https://user-images.githubusercontent.com/3605364/52735418-b23f2680-2f6b-11e9-81c5-ec0105e55d00.png)

[2019-09-04 15:42] #14129 closed

[2019-09-04 15:43] Rick-Anderson commented on #14130
Select the 3.0 version

[2019-09-04 15:43] #14130 closed

[2019-09-04 15:44] Rick-Anderson commented on #14132
Dup of all your other issues.

[2019-09-04 15:44] #14132 closed

[2019-09-04 15:44] Rick-Anderson commented on #14133
dup of your other issues.

[2019-09-04 15:44] #14133 closed

[2019-09-04 15:50] Rick-Anderson opened #14137 "Update EF tutorials for 3.0"
- [ ] https://github.com/aspnet/EntityFramework.Docs/issues/1685
- [ ]
- [ ]

[2019-09-04 15:58] Rick-Anderson opened #14138 "dup sentence: An alternative to injecting IHostingEnvironment"
An alternative to injecting IHostingEnvironment
copy of https://github.com/aspnet/AspNetCore.Docs.fr-fr/issues/229

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 793395fe-c738-22ce-d0e9-29a850c0fa88
* Version Independent ID: 0546ce3a-3258-9817-0f3f-13281c2f55da
* Content: [App startup in ASP.NET Core](https://docs.micr

[2019-09-04 16:32] Tratcher opened #14139 "New doc for 3.0 Systemd hosting integration"
https://devblogs.microsoft.com/dotnet/net-core-and-systemd/

[2019-09-04 16:45] Rick-Anderson opened #14141 "post 3.0 cleanup: split App startup into file versions"
too many monikers. See #14138 and #14140

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 793395fe-c738-22ce-d0e9-29a850c0fa88
* Version Independent ID: 0546ce3a-3258-9817-0f3f-13281c2f55da
* Content: [App startup in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup?view=aspnetcore-3.0#feedb

[2019-09-04 16:50] Rick-Anderson commented on #14114
@scottaddie  this is low pri. I agree it's confusing until you get used to it, but it's how the PU typically writes code. I don't think we should necessarily follow. We can think about changing this on the next doc sweep.

[2019-09-04 16:51] Rick-Anderson commented on #14110
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select the **Content feedback** issue.
![image](https://user-images.githubusercontent.com/3605364/52735418-b23f2680-2f6b-11e9-81c5-ec0105e55d00.png)

[2019-09-04 16:51] #14110 closed

[2019-09-04 16:53] Rick-Anderson commented on #14109
@abhishekdixitnagarro  where in the doc? What do you suggest we change?

[2019-09-04 16:54] Rick-Anderson commented on #14105
@nkaenzig  https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.2&tabs=visual-studio has examples.

[2019-09-04 16:54] #14105 closed

[2019-09-04 17:52] Rick-Anderson commented on #13506
Looks like this was fixed.

[2019-09-04 17:52] #13506 closed

[2019-09-04 18:05] Rick-Anderson opened #14142 "Fix: At some future date, there will be an ASP.NET Core 3.0 version"
fix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bcb541d-c695-99f6-dde7-f01d0d9307d5
* Version Independent ID: 9585545a-9047-85ff-6117-ddd07ef6ee46
* Content: [Compatibility version for ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/mvc/compatibility-version?view=aspnetcore-2.2)
* Content Source: [as

[2019-09-04 18:06] Rick-Anderson commented on #13298
This has been completed.

[2019-09-04 18:06] #13298 closed

[2019-09-04 19:08] #14102 closed

[2019-09-04 20:27] drchilds opened #14143 "Update docs for Preview9"
Docs still represent Preview8.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version Independent ID: 8226ed72-69b2-3c93-a931-218bd11cf9c8
* Content: [Get started with ASP.NET Core Blazor](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=vis

[2019-09-04 20:28] guardrex commented on #14143
@drchilds ... The updates are on the way. Check back in about two or three hours. We're putting the final touches on things now and then we'll publish them live.

[2019-09-04 20:28] #14143 closed

[2019-09-04 20:36] rynowak opened #14144 "Add sample showing "chained bind""
This is a small code sample that shows a solution to cases like this: https://github.com/aspnet/AspNetCore/issues/13408

The typical use case for this is when you want to write a component that represents an input element, but adds some additional functionality like styling, or processing the values that come out of it.

We call this *chained-bind* because there are multiple levels of `@bind` happ

[2019-09-04 20:39] Rick-Anderson opened #14145 "NO error code on the web page and NO message in the event log"
This page is useless because I got NO error code on the web page and NO message in the event log, and this page doesn't address what I need to do in that case. I found a non-Microsoft page that offered me some hope; it would be good to offer the same hope here! https://scottsauber.com/2017/04/10/how-to-troubleshoot-an-error-occurred-while-starting-the-application-in-asp-net-core-on-iis/

---
####

[2019-09-04 20:42] Rick-Anderson commented on #14145
@guardrex  can you add a link to when you don't get errors anywhere?
Management has asked that it be address by 9-12.

[2019-09-04 22:37] blowdart commented on #14095
If it's using the HTTP protocol then it's HTTPS
If it's not, then TLS

SSL is never used.

[2019-09-04 22:38] pranavkm commented on #14051
@douglasg14b API controllers are just regular controllers with some opinionated behavior. The filter pipeline is the same.

[2019-09-04 22:43] dfoulk commented on #8147
I was able to gain access to the `OkObjectResult.Value` in .NET Core 2.2 using xUnit. Not sure which testing framework you are using or if that matters here. Anyways, I was having trouble accessing the returned `IEnumerable<T>` until I set `var okObjectResult = Assert.IsType<OkObjectResult>(...)`.

The below is an example of a working test that accesses the value of the `OkObjectResult`:

[code]

[2019-09-04 22:44] danroth27 opened #14146 "OnAfterRenderAsync(bool firstRender)"
`OnAfterRender()` and  `OnAfterRenderAsync()` are now `OnAfterRender(bool firstRender)` and `OnAfterRenderAsync(bool firstRender)`.

[2019-09-04 22:58] guardrex commented on #13787
@rynowak Update ......

* The Pre9 staging branch PRs are all merged, and Scott will merge staging to master and master to live sometime this evening (Wednesday, 9/4).
* First thing Thursday morning, I'll work ...
  * [OnAfterRenderAsync(bool firstRender) (aspnet/AspNetCore.Docs \#14146)](https://github.com/aspnet/AspNetCore.Docs/issues/14146)
  * A mop-up PR based on the blog post to catch any re

[2019-09-04 23:05] danroth27 commented on #13719
@guardrex Close?

[2019-09-04 23:06] guardrex commented on #13719
I think these auto-close when the staging branch goes to master.

[2019-09-04 23:07] guardrex commented on #13719
Scott said he'll be merging staging to master shortly ... and then master to live immediately thereafter.

[2019-09-04 23:09] #14138 closed

[2019-09-04 23:40] douglasg14b commented on #14051
I mean the specific opinionated behaviors of the API Controller. Correct me if I'm wrong, but some of those behaviors are part of the filter pipeline? It would be nice to see in what order those are executed.

[2019-09-04 23:58] pranavkm commented on #14051
Most if not all of the actual behavior should be documented here: https://docs.microsoft.com/en-us/aspnet/core/web-api/index.

Some of these are implemented as filters, but they're just regular action or result filters:

* https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/Infrastructure/ModelStateInvalidFilter.cs
* https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Co

[2019-09-05 00:16] douglasg14b commented on #14051
Ah! Gotcha.

[2019-09-05 00:40] #12869 closed

[2019-09-05 01:13] Rick-Anderson commented on #12447
@damtur  can you update #12801
If possible, work some of the comments `@pranavkm` left.

[2019-09-05 06:01] Vinigas opened #14150 "Add more details to security warning."
https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-3.0&tabs=visual-studio#write-a-basic-form
contains security warning ("For security reasons, you must opt in to binding GET request data...") which could be explained more detailed with example, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-09-05 06:19] rakeshshaw134 opened #14151 "nice"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15e2038b-fa1b-897c-32ee-7173c7d1d909
* Version Independent ID: 000c5a97-c1b2-9a48-289d-83ec4f0c0c98
* Content: [Tutorial: Add sorting, filtering, and paging - ASP.NET MVC with EF Core](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/sort-filt

[2019-09-05 06:23] HaoK commented on #13846
Looks fine to me, @Tratcher should take a look too

[2019-09-05 09:30] krchome opened #14153 "YouTube version"
YouTube version of the ProductsController Web API(with testing through POSTMAN) built with ASP.NET Core3(Preview 8) is available at https://youtu.be/cHWnzFlmIKM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa03501b-5e71-4c18-0269-39babbf9d93c
* Version Independent ID: b51bc104-a6e2-b21f-8362-45cee22e8c22
* Content: [

[2019-09-05 10:08] mezdn opened #14154 "Enabling CORS when there is authentication"
How to enable CORS in a web app that uses authentication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59bca5db-1196-2a8b-a0d8-4e89b2382288
* Version Independent ID: d3f332c4-4c60-039e-0e1e-bc6b11831f87
* Content: [Enable Cross-Origin Requests (CORS) in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/secur

[2019-09-05 10:55] #13348 closed

[2019-09-05 10:56] #13329 closed

[2019-09-05 12:48] guardrex commented on #14150
Cross-referencing the original discussion :point_right: https://github.com/aspnet/AspNetCore.Docs/pull/5658

[2019-09-05 12:49] guardrex commented on #14151
Thanks @rakeshshaw134 :rocket:

[2019-09-05 12:49] #14151 closed

[2019-09-05 14:37] guardrex opened #14155 "Blazor Preview 9 updates"
Mop-up work following Preview 9 release.

[2019-09-05 14:41] #10485 closed

[2019-09-05 15:02] bernhof opened #14156 "Describe relevance of returned Tasks from StartAsync and StopAsync"
It's unclear whether StartAsync should return a Task that completes once a) startup is complete, or b) long-running operation performed by the IHostedService completes.

[code]

Likewise, with StopAsync, although the sentence "Any methods called in StopAsync should return promptly" seems to indicate that StopAsync Task should *not* wait for the long-running operation to actually finish.

[code]

-

[2019-09-05 15:59] rynowak commented on #14144
@guardrex

[2019-09-05 16:51] nickalbrecht opened #14158 "Named options are case sensitive"
Not sure if it's intended, but it looks like Named options are case sensitive. If that's intentional, I think there should be a note in that section of the docs letting people know that it's case sensitive in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed39cb0e-aa85-8bba-ffb4-859b56a60723
* Version Independ

[2019-09-05 17:03] #13935 closed

[2019-09-05 17:03] #13618 closed

[2019-09-05 17:03] #13908 closed

[2019-09-05 17:05] guardrex commented on #13719
@danroth27 😮 The issues *didn't close* auto-magically. IMO, it's a fault in GH philosophy. If a PR "fixes" an issue on a branch merged to `master`, imo it should close the issue when the changes reach `master`. Anywho ... I'm closing them manually now.

[2019-09-05 17:05] #13719 closed

[2019-09-05 17:05] #13832 closed

[2019-09-05 17:05] #13912 closed

[2019-09-05 17:13] #13846 closed

[2019-09-05 17:14] Rick-Anderson commented on #14154
It's  no different.

[2019-09-05 17:14] #14154 closed

[2019-09-05 17:17] #13350 closed

[2019-09-05 17:17] #13847 closed

[2019-09-05 17:52] ronaldoperes opened #14159 "Doubt"
How can we test this with Xunit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5240866d-d0a1-f0dd-7b2c-203e1d69bc4b
* Version Independent ID: 83a5cb3b-23bc-4f0c-cd1c-1d1ffeb1131a
* Content: [Create a web API with ASP.NET Core and MongoDB](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mongo-app?view=aspn

[2019-09-05 19:43] #14125 closed

[2019-09-05 19:56] alaskanrogue opened #14163 "Certificate Need on Azure App Service"
Does the "listenOptions.UseHttps" function need to implemented where the deployment is a Azure App Service which already has a SSL/TSL binding implemented? If so, does it need a different PFX certificate? If not, what should the parameters, e.g. path/file/password, be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e0

[2019-09-05 20:13] wadepickett opened #14165 ".NET Generic Host topic needs expanded content root explanation"
- [ ] Need to add expanded explanatory comments about the content root setting to topic .NET Generic Host: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-3.0#contentrootpath

This issue was moved here from: https://github.com/aspnet/AspNetCore.Docs/issues/10559

Here is a discussion about the needed content root changes:

The hosting doc goes into detai

[2019-09-05 20:15] wadepickett commented on #10559
Since we decided to move the expanded info on content root out to the .NET Generic Host topic and link to that instead I moved that work item out to a new issue and assigned to myself. (see note above)  https://github.com/aspnet/AspNetCore.Docs/issues/14165

[2019-09-05 20:59] guardrex commented on #14165
Just want to mention in passing that we've traditionally covered these concepts in the Fundamentals Overview and linked external mentions to these sections ...

* https://docs.microsoft.com/aspnet/core/fundamentals/#content-root
* https://docs.microsoft.com/aspnet/core/fundamentals/#web-root

[2019-09-05 21:07] mkArtakMSFT commented on #12766
@ajaybhargavb should this be closed?

[2019-09-05 21:09] mkArtakMSFT commented on #13014
@guardrex feel free to pick this up. That would be great!

[2019-09-05 21:11] mkArtakMSFT commented on #13005
@blowdart what do you think about @Rick-Anderson 's suggestion above?

[2019-09-05 21:11] guardrex commented on #12766
This is done ... came to find out that even if the issue is marked "fixes" and goes from the staging branch to `master` that these issues must be manually closed. Not sure what GH was thinking on this behavior.

[2019-09-05 21:11] #12766 closed

[2019-09-05 21:11] mkArtakMSFT commented on #12997
@Rick-Anderson can this be picked up by you?

[2019-09-05 21:13] mkArtakMSFT commented on #12889
@guardrex this shuold be closed, as we don't have proper support for `Sections`.

[2019-09-05 21:13] blowdart commented on #13005
Yes, but the ARR stuff is very azure specific. If you're not hosting in azure it's not needed, so that needs to be in a section on its own.

[2019-09-05 21:14] Rick-Anderson commented on #12997
Yes, assigned to @scottaddie. @scottaddie  can probably do this after the high priority 3.0 docs issues are completed.

[2019-09-05 21:14] guardrex commented on #12889
@mkArtakMSFT Should it cover https://github.com/aspnet/AspNetCore/issues/10450?

[2019-09-05 21:15] mkArtakMSFT commented on #12474
@atotalnoob do you plan to turn this into a PR for 2.1 docs? If not, this area got obsoleted (https://github.com/aspnet/AspNetCore/issues/12890) so we will otherwise close this issue.

[2019-09-05 21:16] guardrex commented on #12889
Perhaps, 5.0 is so far in the future tho that it isn't worth having this lying around.

[2019-09-05 21:17] #12889 closed

[2019-09-05 21:21] mkArtakMSFT commented on #12026
Thanks for contacting us, @elraito .
The [Blazing Pizza](https://github.com/danroth27/BlazingPizza) sample already shows how to do backend-initiated UI updates on the map, which covers this topic. We would prefer referring customers to that instead of this article.

[2019-09-05 21:21] #12026 closed

[2019-09-05 21:22] mkArtakMSFT commented on #8465
This will be a good 5.0 issue.

[2019-09-05 21:24] atotalnoob commented on #12474
No. And this should be documented. 2.1 is a LTS release.

Also, removing this from .net is dumb

[2019-09-05 21:26] mkArtakMSFT commented on #14070
@JamesNK will you be handling this? we plan to spend about a week on paying off some dept in Docs before 3.1.

[2019-09-05 21:27] mkArtakMSFT commented on #13873
@Rick-Anderson there were no major changes post 2.2. The only notable changes are in the routing area, which are covered as part of other docs articles.

[2019-09-05 21:28] mkArtakMSFT commented on #12729
@danroth27 who will be handling this?

[2019-09-05 21:29] mkArtakMSFT commented on #12370
@scottaddie is anything else left here?

[2019-09-05 21:31] mkArtakMSFT commented on #11962
We will try to update CORS documentation to reflect on the ER changes.

[2019-09-05 21:32] mkArtakMSFT commented on #11131
Closing as done!

[2019-09-05 21:32] #11131 closed

[2019-09-05 21:34] mkArtakMSFT commented on #11038
We have no immediate plans to add localization support to the default IdentityUI. This can be done currently by scaffolding all the identity pages and doing that yourself.
As was pointed out by @HaoK , there is a separate issue in the backlog tracking the localization support.

[2019-09-05 21:34] #11038 closed

[2019-09-05 21:35] JamesNK commented on #14070
I'll do it

[2019-09-05 21:35] mkArtakMSFT commented on #10618
Folks, is there anything else pending here?

[2019-09-05 21:38] mkArtakMSFT commented on #9886
@Rick-Anderson seems like there is no more action pending here. Should this be closed?

[2019-09-05 21:39] mkArtakMSFT commented on #10064
Closing this as there is no more action pending here from us.

[2019-09-05 21:39] #10064 closed

[2019-09-05 21:42] mkArtakMSFT commented on #9572
Thanks for contacting us.
Localizing IdentityUI is not any different than localizing any other page. Simply scaffold the IdentityUI pages into your project and then us [standard localization](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-2.2) techniques to localize them.

[2019-09-05 21:42] #9572 closed

[2019-09-05 21:45] Rick-Anderson commented on #9552
@guardrex  I think we should break this up into 4 sections

::: moniker range="<= aspnetcore-1.1"
For the 1.1 version of this topic, download Routing in ASP.NET Core (version 1.1, PDF).
::: moniker-end

::: moniker range="= aspnetcore-2.1"
2.1 version here
::: moniker-end

::: moniker range="= aspnetcore-2.2"
2..2 version here
::: moniker-end

::: moniker range=">= aspnetcore-3.0"
3.0 version here

[2019-09-05 21:52] Rick-Anderson commented on #13873
@scottaddie  @guardrex  do you have a link to **changes are in the routing area, which are covered as part of other docs articles.** so I can point to that?

[2019-09-05 21:55] #10559 closed

[2019-09-05 21:55] Rick-Anderson commented on #10618
@mkArtakMSFT Given that `@natemcmaster` is no longer here, can you assign someone to review this super important doc. It will get massive traffic once 3.0 GA's.

[2019-09-05 21:58] mkArtakMSFT commented on #6233
@blowdart is this something you plan to do?

[2019-09-05 21:59] scottaddie commented on #12370
The remaining work is being tracked in https://github.com/aspnet/AspNetCore.Docs/issues/13353.

[2019-09-05 21:59] #12370 closed

[2019-09-05 22:04] blowdart commented on #6233
The instructions rick suggested and I approved are fine, and should be documented, but I had figured after that approval that was where my input ended. The addition of hosting the api in app is more complicated, the easy out there is a rewrite in web.config, along with HSTS with a dire warning that if you have external api calls with an app that needs to use HTTPS and nothing else and we can't enf

[2019-09-05 22:05] blowdart commented on #10342
If it's a middlware then it's not a docs issue @mkArtakMSFT. This is a decision for the MVC team to make on how they want to approach it.

[2019-09-05 22:09] mkArtakMSFT commented on #3367
Closing as this is not relevant any more.

[2019-09-05 22:09] #3367 closed

[2019-09-05 22:12] mkArtakMSFT commented on #4556
@javiercn are there docs covering this already?

[2019-09-05 22:20] Rick-Anderson commented on #4556
@cwoodruff  or @CamSoper  - any chance one of you could work on this?

[2019-09-05 22:22] serpent5 commented on #14156
It's **a**, once startup is complete. You can see this for yourself if you test it with something like the following:

[code]

In this case, you'll see that 60 seconds passes before the "Application Started" log message is shown, which confirms that the host waits for your Task to complete before starting.

`StopAsync` is called when the host itself is about to exit, allowing you to end any timers

[2019-09-05 22:30] guardrex commented on #9552
I *think* that there will be few 3.0 updates to this topic, and this issue wasn't opened for that purpose really. This issue is about dropping all of the legacy `IRouter`-based content and refactoring a few of the lines that we stuck in at 2.2. I'll take care of this one.

[2019-09-05 22:33] Rick-Anderson commented on #6233
@blowdart _web.config_ is only used in IIS -
See https://stackoverflow.com/questions/9823010/how-to-force-https-using-a-web-config-file
is that what you intended?

What if you're not using IIS?

[2019-09-05 22:36] blowdart commented on #6233
You'd configure nginx or whatever you're using.

I think the doc needs to cover two things

1) Your API on a separate host. Like sane people do *grin* That's easy. Only bind to HTTPS.

2) You share your API with a website. Redirect up to HTTPS. Send HSTS. Clear warning that there is a possibility of people calling your API over HTTP with non-browser clients, and HSTS won't help and you ought to co

[2019-09-05 22:36] Rick-Anderson commented on #9552
:trumpet: :clap:  :sunglasses: I'll  buy you :beers: for that!

[2019-09-05 22:37] guardrex commented on #13873
I'm not directly aware ... Scott will know ... but *endpoint routing* concepts generally apply, so the Routing topic as a whole can be referenced in the *Additional Resources* section (it's not currently listed).

[2019-09-05 22:40] guardrex commented on #9552
It's because that transition occurred between 2.1 and 2.2. Sooooo ... since we only really doc the last minor version and don't want folks using the earlier minor releases, we can remove that content. However, the best time is probably at ... or very close to ... 3.0 GA. I have a pretty good idea what to do here. I just need to collect a little more info on routing updates for 3.0 from the enginee

[2019-09-05 22:47] Rick-Anderson commented on #9552
We can't drop 2.1 as 2.1 is a [LTS](https://dotnet.microsoft.com/platform/support/policy/dotnet-core)

We can't drop 2.2 as that's current and when 3.0 GA's it's cur-1 (which we maintain). We can drop 2.2 when 3.1 comes out.

[2019-09-05 22:47] Rick-Anderson commented on #9552
https://dotnet.microsoft.com/platform/support/policy/dotnet-core

[2019-09-05 22:53] guardrex commented on #9552
I thought this fell under when you said before that only the API docs have to cover it. No worries ... there will be less to do here.

[2019-09-05 22:55] Rick-Anderson commented on #9552
`@DamianEdwards` wants us to keep LTS content until it's end of life.  Legally we're only required to maintain .NET Framework API's - not even .NET Core API's.

[2019-09-05 22:57] Basyras opened #14167 "Confusing project name"
Many people (including me) got confused when project was called "AuthoringTagHelpers" which sound like namespace. Of course later i found out that in article is stated this:"Create a new ASP.NET Core project called AuthoringTagHelpers" but still i think the project name should be change to something more "correct" as ASPdemo or something that doesn't look like namespace later in article.

For refe

[2019-09-05 22:59] Rick-Anderson commented on #14167
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-09-05 22:59] #14167 closed

[2019-09-06 00:01] danroth27 commented on #10618
@Pilchie @glennc We should make doing an update pass on this migration doc a priority before we ship 3.0.

[2019-09-06 01:03] Rick-Anderson commented on #6438
@serpent5 any reason XML would not work?

[2019-09-06 01:04] Rick-Anderson commented on #6438
@serpent5 - I think he's saying you need to enable XML via `options.FormatterMappings.SetMediaTypeMappingForFormat("xml", "text/xml");`

[2019-09-06 01:26] #12845 closed

[2019-09-06 01:52] franciscohumarang opened #14168 "RenderMode Enum namespace"
Hi,

What is the namespance for RenderMode enums?

I have this on my _host.chtml

but throwing an error

_The name 'RenderMode' does not exist in the current context_

[2019-09-06 02:12] #14168 closed

[2019-09-06 02:18] yangganboy commented on #6438
I commented on doc website.I don't say in detail. It's xml format url mapping problem without default config,and that without explain in doc.
I'm sorry about that.

[2019-09-06 02:46] scottaddie commented on #13873
@Rick-Anderson I see several minor changes that we should make in the doc for 3.0. Feel free to assign to me.

[2019-09-06 02:51] Pilchie commented on #10618
Strong +1.

Also tagging @davidfowl as we had another thread about this today.

[2019-09-06 05:39] Raghav-Kathuria opened #14169 "Middleware not handling 'signin-google' route after successful authentication in Asp.Net Core Web Api External Login Authentication"
# Middleware not handling 'signin-google' route after successful authentication.

Problem Statement:

While trying External Login (particularly Google) with Identity in **Asp.Net Core 2.2 Web API** I'm facing issue with the implementation and it's flow. I'm able to redirect the user screen to Google's login consent screen using the Challenge. Once the authentication is successful, google redirects

[2019-09-06 05:46] VinceJSV opened #14170 "The name 'GrpcClient' does not exist in the current context GrpcGreeterClient"
After pasting the code into program.cs in the Greeter client project I get compiler error "The name 'GrpcClient' does not exist in the current context	GrpcGreeterClient".  I think that this is because no classes are generated by the build process after adding the item group to the project file. No idea why, the project file was edited correctly.

---
#### Document Details

⚠ *Do not edit this sect

[2019-09-06 05:56] VinceJSV commented on #14170
As work around suggested RobinKetting fixed the issue for now. Had to uninstall the current Grpc.Net.Client package and issue the following command in the PMC "Install-Package Grpc.Net.Client -version 0.1.22-pre2"

[2019-09-06 07:00] raghav5253 commented on #14169
@Tratcher  If you can help or this

[2019-09-06 07:00] raghav5253 commented on #14169
@Tratcher If you can help on this

[2019-09-06 08:02] mrgleba opened #14180 "Migration 2.2 -> 3.0 document IApplicationLifetime -> IHostApplicationLifetime migration"
In 3.0
[code]
changes to
[code]

It should be included in the migration docs

[2019-09-06 10:03] abhishekdixitnagarro commented on #14109
for example in /products/GetById/5, this is not the best practice
It should HTTP GET with url  /products/5.
If you can put saying these are not best practices will help readers.

[2019-09-06 10:41] Legends opened #14171 "ServerPrerendered, Server, Static"
Especially the first two modes are irritating. I originally come from web forms, changed to asp.net mvc and now I am having a look on Blazor. I asked on Gitter what are the differences between all three and I got this answer (can you confirm it?):

<hr/>

My questions to this answer:

1. **Server**: What is meant with Index? So on first request nothing comes down, but the index? Layout, pages, com

[2019-09-06 11:02] NavinAT opened #14172 "Query string in Root URI"
How do i specify query string in root URI. EX: RootURL/api/employee/get?gender=male. I want to use query string in HttpRepl as i mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16842b60-b268-a322-8078-c0b27c57fa7d
* Version Independent ID: d63c12f3-220e-9067-ead5-90e644c06591
* Content: [Test web APIs with th

[2019-09-06 11:22] MikaelUmaN opened #14173 "Unclear dependency in ConfigureServices and relation to Azure AD"
Trying to follow this tutorial I am stopped at:

services.AddDbContext&lt;ApplicationDbContext&gt;(options =&gt;
        options.UseSqlite(
            Configuration.GetConnectionString("DefaultConnection")));
    services.AddDefaultIdentity&lt;IdentityUser&gt;()
        .AddDefaultUI(UIFramework.Bootstrap4)
        .AddEntityFrameworkStores&lt;ApplicationDbContext&gt;();

These give read squiggli

[2019-09-06 11:26] LindaLawton opened #14174 "Implying that Blazor is better than JavaScript is going to be hard to prove."
While i agree Blazor is AWESOME.  This statement really isn't nice and I think the it will be hard for you to realistically prove that Blazor is **"Better"** than JavaScript.

How about rewording it to

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e7dc3c-54c4-35de-203e-d230869e8417
* Version Independent ID: dc5b52d5

[2019-09-06 11:46] C-F-K opened #14175 "jQuery style guide adherence"
Chaining .accept() calls is a sensible way to reduce overhead; however, the absolute mess of brackets/braces/parens in the getData() function is confusing and nigh-unreadable, especially if one is taking advantage of one's working memory and typing the code out rather than copy-pasting it.

What follows is how it looked after I made sense of it; this is not to suggest it's the only way, but it is

[2019-09-06 11:56] damienbod commented on #13005
created an initial PR for this

https://github.com/aspnet/AspNetCore.Docs/pull/14176

@blowdart I needed the ARR stuff  without azure as well.

@blowdart @Rick-Anderson @mkArtakMSFT

Let me know what I should change, remove fix, add

Greetings Damien

[2019-09-06 12:12] guardrex commented on #14174
Hello @LindaLawton ...

It's doesn't mean to say that Blazor is better than JS ... it's saying that the **_approach_** is better.

It's been engineering's opinion from the start that developing server- and client-side in one language is better. It's been common, explicitly stated or implied, in blog posts and in conference talks given by the team.

I'll mark this issue for engineering so that they

[2019-09-06 12:17] Legends commented on #14174
it means: one DSL fewer

[2019-09-06 12:27] Mackbuster commented on #10109
You can create the folder named controllers under the MVCMovies project and then add a controller.

You have to add the code app.UseMvc(routes =>
{
    routes.MapRoute(
        name: "default",
        template: "{controller=Home}/{action=Index}/{id?}");
});
in the startup.cs otherwise you wont be able to see that in the browser

[2019-09-06 12:37] guardrex opened #14177 "Update Blazor hosting model terms"
@danroth27 We've been nibbling at this on the last few PRs, but it's **_time_** 🕐 for these changes, correct?

*Blazor client-side* 👉 *Blazor WebAssembly*
*Blazor server-side* :point_right: *Blazor Server*

If all goes well, there will be two new PRs covering three issues by EOD (9/6). As soon as we get these next couple of PRs done, it will be a good time to address this.

[2019-09-06 12:40] LindaLawton commented on #14174
Well from someone who does not use English as primary language it sounds "wrong".    There may be a better way to word it so that its more clear exactly what you mean.

Thank you for your consideration

[2019-09-06 12:55] guardrex commented on #14174
It could be written out ...

... or shorter ...

Thanks @LindaLawton for opening. We don't generally use marketing language, and it's not clear (specific) in the current text what they mean.

[2019-09-06 13:09] guardrex commented on #13787
@rynowak Update ......

New issues have been assigned to me that I should knock out before you perform the review. See the *P0/P1 - High Priority* column on the project ...

https://github.com/aspnet/AspNetCore.Docs/projects/35

I'll ping back here when all of the work is done and merged.

[2019-09-06 13:19] javiercn commented on #6199
@mkArtakMSFT I've already pointed out to the related docs, now sure what you expect from me here. I think this was already discussed on a thread and addressed, but I might be wrong. @danroth27 can confirm.

[2019-09-06 14:05] Aszan opened #14178 "PublishProfile option not taken into account with dotnet publish CLI"
[code]
does not work. Default publish option is used instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 684d1f55-3d8b-9ba6-ee65-e8f84c2b4244
* Version Independent ID: 2db330b4-e830-715f-0a15-e406f85e1d3b
* Content: [Visual Studio publish profiles for ASP.NET Core app deployment](https://docs.microsoft.com/en-us/as

[2019-09-06 14:15] #13715 closed

[2019-09-06 14:18] ps-tb opened #14179 "Integration testing with managed identities in Azure DevOps Pipelines"
We have integration tests that run as part of a pipeline in Azure DevOps. The issue that we're experiencing is that the build agent doesn't have a managed identity and therefore the tests won't run. Is there any recommendation for how to handle this case? We have the app setup such that we always use the Key Vault provider regardless of environment. If we're working locally, we use the Azure CLI t

[2019-09-06 14:30] danroth27 commented on #14177
Yup, sounds good.

[2019-09-06 14:55] guardrex commented on #14178
@Rick-Anderson I'll take a look at this and report back.

[2019-09-06 15:00] guardrex commented on #14179
Good ? @ps-tb ... Is the certificate approach not a good workaround for you in that scenario?

[2019-09-06 15:00] Tratcher commented on #14169
What's the exception that goes with this? It should show up on the developer exception page or in the server logs.

[2019-09-06 15:34] guardrex commented on #14178
@Rick-Anderson Yep ... it's a reported issue under investigation by engineering. I'll keep tabs on it and take care of this one.

[2019-09-06 15:57] mmulhearn commented on #13144
1 million times this.  I'm bashing my head against the desk wondering why my accessTokenFactory method isn't being called once the connection is established, wondering if I'm doing something wrong.  This note is completely misleading and should be removed.  What is MSFT's recommended approach?  Is it in fact to disconnect and reconnect when a new access token is received?  This seems like a massiv

[2019-09-06 16:03] AqlaSolutions commented on #12479
Having the same issue with the latest preview

[2019-09-06 16:07] guardrex commented on #12479
@AqlaSolutions ... There are no changes as far as I know from engineering. You can either use the **Report a Problem** process (under **Help**) from within Visual Studio Preview to report it (btw - make sure that you're using [16.3 Preview 3](https://docs.microsoft.com/visualstudio/releases/2019/release-notes-preview)), or you can open an issue for engineering.

[2019-09-06 16:08] Rick-Anderson commented on #14173
Start with some tutorials that explain these

- https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start?view=aspnetcore-2.2&tabs=visual-studio
- https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.2&tabs=visual-studio
- https://docs.microsoft.com/en-us/aspnet/core/security/authentication/add-user-data?view=aspnetcore

[2019-09-06 16:08] #14173 closed

[2019-09-06 16:09] AqlaSolutions commented on #12479
@guardrex , already found the cause - I've run `dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.0.0-preview9.19424.4` under administrator command prompt but VS is run under normal user.

[2019-09-06 16:10] Rick-Anderson commented on #14175
Take a look at https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-javascript?view=aspnetcore-3.0

[2019-09-06 16:10] #14175 closed

[2019-09-06 16:11] Rick-Anderson commented on #14175
cc @scottaddie

[2019-09-06 16:13] guardrex commented on #12479
I would open a new issue, except that this is a point-in-time problem. *Soon!* there will be no need to run the separate command to install the templates. The VS installer will take care of it. That line in the topic that has that `dotnet` command **_should_** 🤞 go away ....... if the :pray: *sever gods* :pray: bless us with good tooling at 3.0 GA. :smile:

[2019-09-06 16:28] noufionline opened #14181 "Documentation on Token Based Authorization using IdentityServer with Blazor"
Kindly provide a working sample or comprehensive documentation on how to use Token based authorization using IdentityServer and how to store Access Token and Refresh Token on the client side?

[2019-09-06 16:33] rynowak opened #14182 "Add a doc talking about issues with connectedness and prerendering"

[2019-09-06 16:37] BocianKarol opened #14183 "Repetition of words"
I think, that sentence 'Update the the remaining templates.' should be 'Update the remaining templates.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca95f5e-0fe4-bbd2-fd23-13562e02f888
* Version Independent ID: c3fb9673-4da6-5eeb-08bb-6f8e7bc8e0c6
* Content: [Add a new field to an ASP.NET Core MVC app](https://docs

[2019-09-06 16:42] #14183 closed

[2019-09-06 16:43] Rick-Anderson commented on #14183
@BocianKarol  thanks.

[2019-09-06 17:18] scottaddie commented on #14175
Per our engineering team's recommendation, we're adopting the Fetch API in our docs moving forward. The 3.0 version of the tutorial already uses it instead of jQuery.

[2019-09-06 17:27] #13336 closed

[2019-09-06 17:31] Rick-Anderson opened #14186 "Add polymorphic"
do it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfb00531-4ac6-8bf6-9bd8-1eed6446397f
* Version Independent ID: ed418d09-6c33-699a-0d48-9aabc99457be
* Content: [Custom Model Binding in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding?view=aspnetcore-2.2)
* Content Source:

[2019-09-06 17:48] #12846 closed

[2019-09-06 19:03] guardrex opened #14191 "Token Based Authorization using IdentityServer with Blazor"
From @noufionline ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9942b0a-a7fb-0d34-9201-af0963affa9e
* Version Independent ID: 19770710-5225-a1ea-e082-65da6ba4a49a
* Content: [ASP.NET Core Blazor authentication and authorization](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/?view=aspnetcore-3.0&tab

[2019-09-06 19:04] guardrex commented on #14181
@noufionline There's a feedback form at the bottom of the topics that helps us work these. It adds metadata and automatically pings the author.

No worries tho ..... I just moved this over to https://github.com/aspnet/AspNetCore.Docs/issues/14191.

[2019-09-06 19:04] #14181 closed

[2019-09-06 19:12] Rick-Anderson commented on #14170
@VinceJSV  thanks for the update. When ASP.NET Core 3.0 GA's, this shouldn't be a problem.

@JamesNK  - do we need to add a note for this problem or is the issue discoverable enough?

[2019-09-06 19:16] Rick-Anderson commented on #14169
Why are you using Google signIn with a Web API app. Your code doesn't look anything like our sample docs. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-09-06 19:20] Rick-Anderson commented on #14159
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-09-06 19:20] #14159 closed

[2019-09-06 19:20] Rick-Anderson commented on #14153
Thanks!

[2019-09-06 19:20] #14153 closed

[2019-09-06 19:28] Rick-Anderson commented on #14150
Binding on GET can make it **NOT** [safe](https://developer.mozilla.org/en-US/docs/Glossary/safe)

See https://www.youtube.com/watch?v=p7iHB9V-KVU&feature=youtu.be&t=54m27s

[2019-09-06 19:30] CeciAc opened #14193 "port configuration"
Hi team,
I moved this from here: https://github.com/aspnet/AspNetCore.Docs.de-de/issues/51
The contributor is making a suggestion to the original documentation

@taori commented 10 hours ago
In case someone hosts a windows application it would probably be best if this sample also contained the necessary snippets to configure that so the service which is running can be navigated to through a browse

[2019-09-06 19:37] Rick-Anderson commented on #14186
Fixed in  #14187

[2019-09-06 19:37] #14186 closed

[2019-09-06 19:38] Rick-Anderson opened #14195 "Complete Polymorphic model binding sample"
Add form to post to the sample include that pulls in the snippet. Would be nice to test the code.

See [Polymorphic model binding](https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding?view=aspnetcore-2.2#polymorphic-model-binding)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfb00531-4ac6-8b

[2019-09-06 19:41] Rick-Anderson commented on #14195
@serpent5  can you PR this and add Razor Pages to https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/mvc/advanced/custom-model-binding/3.0sample/PolymorphicModelBinding to test the poly model binder?

[2019-09-06 19:43] Legends opened #14196 "Custom CircuitHandler - overridden method never gets called"
I have created a simple class which inherits from `CircuitHandler ` and have overriden `OnConnectionUpAsync`.
Registered:

` public void ConfigureServices(IServiceCollection services)
        {
            //services.AddMvc().AddControllersAsServices();
            services.AddRazorPages();
            services.AddServerSideBlazor();
            services.AddScoped&lt;CircuitHandlerComponent&gt;();

[2019-09-06 19:48] guardrex commented on #14196
Hello @Legends ... Us docs 🐈 won't be able to answer. You'll need to inquire on that with devs on a support forum, such as Stack Overflow, a support chat, such as Gitter or Slack, or ask on the engineering repo at https://github.com/aspnet/AspNetCore/issues.

[2019-09-06 19:48] #14196 closed

[2019-09-06 19:51] #14150 closed

[2019-09-06 19:52] Legends commented on #14196
Aaaaah, again posted in the docs repo... sorry

[2019-09-06 19:55] #13981 closed

[2019-09-06 20:18] guardrex commented on #14177
@danroth27 One more thing on this one ...

I recommend that we fix the URLs (file names) and UIDs while we're at it. If we don't, Microsoft is (maybe) forever stuck with incorrect URLs and UIDs:

| Current URL | Updated URL |
| --- | --- |
| `/security/blazor/server-side` | `/security/blazor/server` |
| `/host-and-deploy/blazor/client-side` | `/host-and-deploy/blazor/webassembly` |
| `/host-and-de

[2019-09-06 20:23] danroth27 commented on #14177
I like the proposed new URLs, but given the number of folks using Blazor already I worry this will break a bunch of links. Will the old links redirect to the new ones?

[2019-09-06 20:24] guardrex commented on #14177
Yes, they will redirect.

[2019-09-06 20:28] guardrex commented on #14177
There was quite a discussion about doing this ..... **_a very spirited discussion_**. I think Scott was on my side (although it wouldn't be good for his career to admit it perhaps :smile:). Anyway ... we lost.

We're in preview, and we did do this once before for these topics earlier. Generally tho ... it's *now or never*. If we don't do it now, they'll seal it until the end of time and the URLs/U

[2019-09-06 20:29] danroth27 commented on #14177
If the old URLs will redirect then making this update sounds great.

[2019-09-06 20:30] serpent5 commented on #6438
Both `AddXmlSerializerFormatters` and `AddXmlDataContractSerializerFormatters` add an XML mapping, but they add `application/xml` instead of `text/xml`. This shouldn't cause any issues under normal circumstances.

@yangganboy Are you using one of these methods to add the XML serializers? Do you have a specific need for `text/xml` instead of `application/xml`?

[2019-09-06 20:31] serpent5 commented on #14195
Sure, I can do that.

[2019-09-06 20:39] Rick-Anderson commented on #6438
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-09-06 20:39] #6438 closed

[2019-09-06 20:54] #14180 closed

[2019-09-06 20:57] guardrex commented on #12923
*Note to self:* https://github.com/aspnet/AspNetCore.Docs/pull/14190#issuecomment-529011785

[2019-09-06 21:12] scottaddie commented on #14051
I'll add some clarification to the doc based on Pranav's response above.

[2019-09-06 21:47] Legends opened #14202 "Unclear statement - Creating a new circuit containing all of the prerendered components"
`Creating a new circuit containing all of the prerendered components that are part of the same page`

How can a circuit contain prerendered components? As I understood, a circuit is a websocket connection, it is a mode of transportation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce1440e7-febc-3fbc-09d7-7f47b740fd3

[2019-09-06 22:12] mkArtakMSFT commented on #6199
I see, hadn't read through all this. Should this be closed then? @Rick-Anderson ?

[2019-09-06 22:17] mkArtakMSFT commented on #10618
@pranavkm, @rynowak can you folks please review the doc and propse any changes, if necessary?
@Tratcher, @JamesNK

[2019-09-06 22:26] #14146 closed

[2019-09-06 22:26] #14155 closed

[2019-09-06 22:27] danroth27 commented on #6199
The content in https://github.com/dotnet/dotnet-docker/blob/master/samples/aspnetapp/aspnetcore-docker-https.md should be part of our official docs. Someone needs to do the work of turning that content into official doc content.

[2019-09-06 22:36] Rick-Anderson commented on #6199
I've done that - see https://docs.microsoft.com/en-us/aspnet/core/security/docker-https?view=aspnetcore-2.2
Not sure why this didn't get closed.

[2019-09-06 22:36] #6199 closed

[2019-09-06 22:37] Rick-Anderson commented on #6199
https://github.com/aspnet/AspNetCore.Docs/pull/13046

[2019-09-06 22:41] danroth27 commented on #6199
Ah! Cool, sounds good then 😃.

[2019-09-06 22:45] wadepickett commented on #14165
@guardrex , thanks for pointing that out and for the help.  Just to make sure  I'm on the same page, the thinking is that I should fill in a more detailed explanation for these two items right in the fundamentals overview rather than relying on a link to the generic host doc for a more detailed explanation.  Correct?   The current proposal was to still keep the short mention of them in the fundame

[2019-09-06 22:48] danroth27 commented on #12474
I think that's reasonable. The doc update here sounds pretty straightforward - we just need to tell people how to get node onto the path when running on IIS.

@scottaddie is this something you could help out with?

@shirhatti could you please confirm that the steps suggested here are the best way to get node on the path for your app?

[2019-09-06 22:52] danroth27 commented on #12474
Actually, shouldn't adding node to the *system* path resolve this issue? IIS apps run under specific locked down user accounts. @atotalnoob Did you try that and it didn't work?

[2019-09-06 22:52] johnababb opened #14203 "Great intro!"
Very clearly written. My compliments to the author(s)!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad8c13e7-78e6-cf9a-e7cb-3215df5fd1c4
* Version Independent ID: a3c1d2a6-625a-3409-120d-8372230a8196
* Content: [Introduction to ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.2#feedback)

[2019-09-06 22:54] atotalnoob commented on #12474
Putting it on system path did not work for me.

[2019-09-06 22:57] Rick-Anderson commented on #14203
Thanks! And remember to use the helpful voting system.
![image](https://user-images.githubusercontent.com/3605364/64464966-056ef700-d0bf-11e9-9206-3fceb116994a.png)

[2019-09-06 22:57] #14203 closed

[2019-09-06 23:10] danroth27 commented on #12474
@atotalnoob Got it - thx.

@scottaddie We should investigate a bit what's going on here before documenting this. From what I understand using the *system* path *should* work. @shirhatti ?

[2019-09-06 23:20] atotalnoob commented on #12474
System path is still not ideal, what if you have multiple versions of node installed?

[2019-09-06 23:25] jodavis commented on #12821
I apologize for the delay. This should be working better in the latest preview of Visual Studio 2019 that was released this week.

[2019-09-06 23:46] shirhatti commented on #12474
Follow-up to what Dan said, System PATH will work. It mostly likely requires a reboot if didn't work for you.

If you want to change an environment variable on a per ASP.NET Core application in ASP.NET Core you can set it in the `web.config`. You can use that escape hatch to change the PATH entirely

[code]

[2019-09-06 23:57] atotalnoob commented on #12474
I I did reboot multiple times.

I tried setting it in the web.config.

[2019-09-07 01:13] Rick-Anderson opened #14205 "Add Krestrel"
to benefits

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f22dcddb-0c25-be1a-9a02-9e71dce86bdb
* Version Independent ID: 3e0e12c2-e544-5655-e001-d2ec180b11a8
* Content: [Kestrel web server implementation in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-2.2)
* C

[2019-09-07 01:30] #14205 closed

[2019-09-07 02:56] davidfowl commented on #10618
Have we documented all announcements?

[2019-09-07 03:05] pranavkm commented on #10618
I'll do a pass over the 3.0 breaking changes announcements and see what's missing. I know things like pubinternal changes + stuff that got removed from the shared runtime aren't covered in the migration notes.

[2019-09-07 05:24] Raghav-Kathuria commented on #14169
@Rick-Anderson Sure, I will do that. Before that,

I am using Google signIn with the Web API because I'm using Angular as the Front-end, asp.net core 2.2 web api's as the middle layer. I want to make use of asp.Net's Identity for all the User login needs including the External Logins. I'm able to do Register, SignIn, ForgotPassword, Email verification but only the External Login is the stopper for

[2019-09-07 10:48] ruaanviljoen commented on #13359
Yes super confusing. Direct contradiction to https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-2.2 (https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/web-api/advanced/formatting.md) and the example referenced also contradicts the recommendation and shows no valid way to return values with the new recommendation (https://github.com/aspnet/AspNetCore.Docs/blob/mast

[2019-09-07 12:28] guardrex commented on #14193
Hello @taori (👋 @CeciAc) ...

The default port is the same as for any template-based ASP.NET Core app.

Access the app in a browser at ...

[code]

I'll add a note to the *README.me* files.

[2019-09-07 13:12] guardrex commented on #14165
Maybe ... depends I suppose on how specific the new content is to these concepts. If it *only* applies to the host(s), sure thing ... host topic(s) only. If the adds or mods are universally relevant, then *yes* ... other docs link to these and will probably benefit by whatever is added or modified.

Not exactly ... I meant that you can cross-link to those two sections from both of the host topics.

[2019-09-07 14:30] #11658 closed

[2019-09-07 14:30] #13339 closed

[2019-09-07 16:35] Rick-Anderson commented on #14169
Yes, but obviously Web API doesn't do the UI need to log in. Why don't you create a Razor Pages (RP) app  with auth and add a simple Web API controller. Get that working, then migrate the RP app to Angular? Worst case, you could do the signin/out with RP and the rest of the app with Angular.

[2019-09-07 18:38] tdykstra commented on #14165
The Fundamentals overview is meant to be a quick read identifying fundamental concepts in ASP.NET Core and linking to the detailed exposition of each of them.  This is not the place for detailed exposition, and arguably content root and web root don't even belong here at all.

By the same token, there should be no need to link back from the host doc to the overview doc, because by its nature an ov

[2019-09-07 18:58] hubert-associates commented on #14191
The blazor IdM impl and Steve's doc are great, but as long as we're addressing IdentityServer here, be sure not to forget another important IdP in that doc: Azure. AAD and AADB2C.  The current six page is a bit thin on solutions available to blazor-clients: how to redirect to an AADB2C OpenID-Connect flow for example (blazor-client and server interaction necessary here). This, I'm assuming (curren

[2019-09-07 19:06] guardrex commented on #14165
What else is there to say on those? If nothing (or little more), then cross-linking still makes sense imo.

:smile: *Search Foo* failed me ... I searched for "Content Root." lol

[2019-09-07 19:25] scottaddie opened #14210 "Mention support for the jsdelivr CDN"
Mention jsdelivr in the first paragraph. Also update https://docs.microsoft.com/aspnet/core/client-side/libman/libman-cli.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e74f29a-f2db-3910-a368-d832c0efd54a
* Version Independent ID: 08df0875-304c-bca1-3b83-6e636f910bc0
* Content: [Client-side library acquisition in ASP

[2019-09-07 20:09] scottaddie opened #14211 "Update for 3.0"
Introduce version moniker ranges to toggle between 2.x and 3.x versions of the doc. Some things to address:

- @microsoft/signalr instead of @aspnet/signalr
- auto-reconnect support
- replace `UseSignalR` call with `UseEndpoints`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04f4bdfd-dfac-d6ae-4bd9-57439d300a5d
* Vers

[2019-09-07 21:05] damienbod commented on #13005
Created another blog about using certificate authentication with the HttpClient / IHttpClientFactory, maybe some of this could be added as well, or to a different page.

https://damienbod.com/2019/09/07/using-certificate-authentication-with-ihttpclientfactory-and-httpclient/

[2019-09-08 02:05] AaronLS opened #14213 "Typescript samples are incomplete"
Neither of these contain a wwwroot, so when run they fail to load:

https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/tutorials/signalr-typescript-webpack/sample

I download and open the SignalRWebPack.csproj in VS2019 community, and attempted to run the project, and since there's nothing in wwwroot it cannot connect to the site.

These are linked from: https://docs.microsoft.com/en

[2019-09-08 07:01] iHamzaKhanzada opened #14214 "Configure with MySQL"
How can I use Entity Framework core 3.0 and Dotnet core 3.0 with a MySQL database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21cb7455-3305-9316-5440-bdc22947a82d
* Version Independent ID: 137d4b94-7b26-3911-b22d-42c754a95fc1
* Content: [Introduction to authentication for Single Page Apps on ASP.NET Core](https://d

[2019-09-08 10:24] guardrex commented on #14214
Hello @iHamzaKhanzada ... EF Core docs link to ...

* [Pomelo.EntityFrameworkCore.MySql](https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql)
* https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/README.md

https://docs.microsoft.com/ef/core/providers/

[2019-09-08 10:24] #14214 closed

[2019-09-08 10:26] noufionline commented on #14181
@guardrex Thanks a Ton :) Really appreciate you gesture.

[2019-09-08 10:59] iHamzaKhanzada commented on #14214
@guardrex , Pomelo.EntityFrameworkCore.Mysql doesn't support Entityframeworkcore 3.0 and mysql.data.entityframeworkcore also doesn't support entity framework core 3.0

[2019-09-08 13:21] guardrex opened #14216 "Blazor common sample enhancements"
Over the last few preview releases, a number of great examples have been added to the text of the docs but not the common sample app.

* ~Provide a list of suggestions for sample enhancements to management.~ See update.
* ~Enhance the sample based on feedback.~ See update.
* ~Move in-text code examples that require highlighting into snippets and apply highlighting.~ See update.
* ~As a convention

[2019-09-08 13:31] guardrex commented on #13787
@rynowak Update ...

[Blazor.Docs GH Project](https://github.com/aspnet/AspNetCore.Docs/projects/35)

* Two issues/PRs are in review now:
  * [Blazor circuits, security, and hosting guidance (aspnet/AspNetCore.Docs \#14189)](https://github.com/aspnet/AspNetCore.Docs/pull/14189) &ndash; Feedback addressed ... awaiting final approval.
  * [Blazor chained bind (aspnet/AspNetCore.Docs \#14215)](https:

[2019-09-08 14:14] guardrex commented on #14214
@iHamzaKhanzada I see. Ask them on that repo ... they'll know ... but search both open **and closed** issues there first. Someone may have already asked.

https://github.com/aspnet/EntityFramework.Docs/issues

[2019-09-08 14:16] guardrex commented on #14214
https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/797

[2019-09-08 14:17] guardrex commented on #14214
Ah ... here it is ... they're getting close ...

https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/pull/818

[2019-09-08 15:58] iHamzaKhanzada opened #14217 "How do I create a new Application User Programmatically?"
I have used this template and setup the project. Its working fine, Now I have to populate users from c#, I have 100 users which I want to create programatically.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21cb7455-3305-9316-5440-bdc22947a82d
* Version Independent ID: 137d4b94-7b26-3911-b22d-42c754a95fc1
* Content:

[2019-09-08 17:00] javiercn commented on #14217
@haok @blowdart

[2019-09-08 17:39] gautham82 commented on #7556
@parthipanr did you find something for IMemoryCache in class library? If so please share it.

[2019-09-08 18:05] Legends opened #14218 "CascadingValue"
Found in another blog post:
The important thing to understand is that updates only cascade down you can't update a value from a descendant.

Could you please add this to the docs, it's an important thing, but not mentioned. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Ve

[2019-09-08 18:39] guardrex commented on #14218
Hello @Legends ... It just so happens that we're working on improving *chained bind* concepts right now. This just went up this morning. Please feel free to comment on it ...

https://github.com/aspnet/AspNetCore.Docs/pull/14215

... and although I don't show it there, you can set that `password` field in the parent, and it will update down in the `PasswordField` child component, including the UI

[2019-09-08 18:39] #14218 closed

[2019-09-08 19:25] #14195 closed

[2019-09-08 20:26] mrgleba opened #14222 "Migration 2.2 -> 3.0 document AllowSynchronousIO now false by default"
In 3.0 release ```AllowSynchronousIO``` is false by default. This should be documented in the migration docs.

I'd be also worth mentioning that code like
[code]
 should be converted to
[code]
as the former still can produce sync writes and the latter is new in 8.0 and may be unfamiliar to many users.

[2019-09-08 20:53] Legends commented on #14218
It's internal, I don't have access to it...

[2019-09-08 20:55] alexchalyy opened #14219 "Cannot navigate to https://localhost:5001/movies"
After following Visual Studio Code tutorial steps to set up movies page, I cannot navigate to  https://localhost:5001/movies page. I can navigate to https://localhost:5001/ and all previous steps seem to work just fine without any errors. How can I navigate to that page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6

[2019-09-08 21:22] HarleyPebley opened #14220 "Code style issues"
Two minor nits (they don't impact behavior)...
In Edit.cshtml.cs:
1) In the `HandleDeletedDepartment `method, the `deletedDepartment `variable is not needed and can be removed.
2) `setDbErrorMessage `is a non-standard name for a C# method. Recommend capitalizing the first character.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-09-08 21:34] guardrex commented on #14218
Look at the diff on the PR.

[2019-09-08 23:09] Rick-Anderson commented on #14219
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-09-08 23:09] #14219 closed

[2019-09-09 05:15] stevo-knievo commented on #13353
I’m sorry if this isn’t the right place for it.
I’m currently migrating my ASP.NET Core app from .NET Core 2.2 to Core 3.0 Preview 9.

Unfortunately I can’t get my integration tests working which use the customized `WebApplicationFactory` from the [Integration tests in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.0) page to use the entity fram

[2019-09-09 05:26] Raghav-Kathuria commented on #14169
Thanks for the advice @Rick-Anderson.
My App's UI is in HTML and Javascript using few third party libraries, use-case here doesn't allow me much to separate the UI of the login module and rest of the app.

Is there any work around to achieve Login module's middle layer using Identity with External Logins in Web Api and keeping the frontend in Angular.

This is possible in .Net 4.7. Is there a reas

[2019-09-09 10:33] guardrex commented on #13353
@stevo-knievo It's a [known issue](https://github.com/aspnet/EntityFrameworkCore/issues/16963), but I haven't had time to see what happens here with Preview 9. I'll get back to this as soon as I can. Hopefully, I'll have time later this week to see where things stand.

[2019-09-09 10:39] iHamzaKhanzada commented on #14217
I am waiting for response @javiercn  @HaoK  @blowdart

[2019-09-09 13:54] jcemoller opened #14221 "UseRequestLocalization() call has to be placed after UseAuthentication()"
I've tried to migrate a net core 2.2 web application to net core 3.0 preview 9. I'm having troubles with middleware, where HttpContext.User.Identity.IsAuthenticated always returns false even if the user is authenticated. To ensure that I do not made any mistakes during migration of our application, I even tried to set up a new 3.0 web application project and follow the instructions on this page. I

[2019-09-09 15:53] stevo-knievo commented on #13353
That would be amazing! Even a workaround would be great. It’s currently stopping me from finishing my migration to 3.0.

Thanks for getting back so quickly @guardrex! I much appreciate it.

[2019-09-09 15:59] Rick-Anderson commented on #14220
@HarleyPebley correct on all accounts. We'll update this in the next doc sweep.

[2019-09-09 16:08] HaoK commented on #14217
You can try something like this https://stackoverflow.com/questions/52708439/how-do-i-seed-user-roles-in-identity-asp-net-core-2-1-identity-scaffolded where you basically modify your app to seed your users once

[2019-09-09 16:35] Daniel15 opened #14223 "QueueBackgroundWorkItem built-in in 3.0?"
This page says:

&gt; A background task queue is based on the .NET 4.x QueueBackgroundWorkItem (tentatively scheduled to be built-in for ASP.NET Core 3.0)

Is the last part still true?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3460b0d-9c60-3a06-ac63-18cf990e53c3
* Version Independent ID: b2dece1f-15b8-03af-6d52-7

[2019-09-09 16:42] guardrex commented on #14223
Hello @Daniel15 ... I won't know until I take a look for the work on https://github.com/aspnet/AspNetCore.Docs/issues/12841 (ETA is unknown at this time 🏃😅). Until then, you'd need to go look in the reference source or ask on a support forum or chat.

[2019-09-09 16:42] #14223 closed

[2019-09-09 16:46] guardrex commented on #14222
Duplicate of https://github.com/aspnet/AspNetCore.Docs/pull/13775 and https://github.com/aspnet/AspNetCore.Docs/issues/12923. Should be updated by the end of the week 🤞.

[2019-09-09 16:46] #14222 closed

[2019-09-09 17:20] MNF opened #14224 "Should the authentication token be stored in the browser's local storage?"
“To send the token on subsequent requests, store the token in the browser's local storage. “
Does it contradicts  to OWASP recommendations  “it's recommended not to store any sensitive information in local storage.” (From https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/HTML5_Security_Cheat_Sheet.md#local-storage)?

Additionally the page https://stormpath.com/blog/where-to-store-y

[2019-09-09 17:21] Rick-Anderson commented on #14221
@ryanbrandenburg  please review.

[2019-09-09 17:22] Rick-Anderson opened #14225 "3.0 update: Globalization and localization"
Ryan to do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1833676-ff1b-c587-cc9c-81afffa8ef68
* Version Independent ID: ad989395-3f49-4d55-521e-cf6fe56281ee
* Content: [Globalization and localization in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.0#feedb

[2019-09-09 17:24] Rick-Anderson commented on #14221
@jcemoller ping me if you don't get a response by end of day 9-11.

[2019-09-09 17:29] bradygaster commented on #12821
Good to hear this, @jodavis. @timavaza  - this isn't a SignalR-specific issue, but I understand your frustration and apologize for it. You could use the CDNJS-hosted packages, or you could use the libman CLI or even the NPM CLI to install the package, as well. I know that's not as efficient or elegant, but I wanted you and others to know there are options to acquire SignalR and other packages with

[2019-09-09 18:56] #14193 closed

[2019-09-09 19:12] Tratcher commented on #14113
The migration guide gives the order as
[code]

Authorization needs the route to be resolved first to decide which authorization policy applies.

[2019-09-09 19:28] Stephen-Gibson commented on #14113
Thank you! I was just being an idiot that was it - when configuring it I was paying attention to make sure that .UseAuthentication(), .UserAuthorization() and .UseEndpoints() were in the right order, but seems .UseRouting() slipped by :(
I was migrating from .NET Framework so had a lot of changes to keep track of!

[2019-09-09 19:48] guardrex commented on #13353
@SidShetye @stevo-knievo I *think*&dagger; that I have the sample app running. It's here ...

https://github.com/aspnet/AspNetCore.Docs/blob/guardrex/int-test-30/aspnetcore/test/integration-tests/samples/3.x/IntegrationTestsSample/

**_I think_**&dagger; = *No warranties are expressed or implied.* :smile:

Although it compiles, runs, and all of the tests pass, I can't guarantee that everything is

[2019-09-09 19:53] timavaza commented on #12821
I don't think users should be expected to know how to do those things..
Surely the documented steps on the Signalr getting started site (including
any workarounds) are Signalr responsibility.
New users will get stuck when the steps don't work & it doesn't inspire
confidence in the maturity of the platform.

On Mon, 9 Sep 2019, 18:30 Brady Gaster, <notifications@github.com> wrote:

[2019-09-09 19:54] #12650 closed

[2019-09-09 19:54] #13876 closed

[2019-09-09 19:54] #14093 closed

[2019-09-09 20:08] shirhatti commented on #14163
gRPC is currently not supported in Azure App Service. The only supported server for gRPC in 3.0 is Kestrel. Hosting on Windows in IIS (and in Azure App Service) will require kernel changes and IIS changes in Windows which we are currently investigating.

[2019-09-09 20:48] iofluxdev1 commented on #13733
Not sure if I am doing something wrong, but I could not get any navigational properties marked with the attribute on the navigational property on the user entity, nor on any navigational entity properties marked as such.

[2019-09-09 21:48] #14210 closed

[2019-09-09 21:57] Rick-Anderson commented on #13733
@iofluxdev1 `dotnet --version` ?

[2019-09-09 22:00] iofluxdev1 commented on #13733
@Rick-Anderson 2.2.401

[2019-09-09 23:30] #13294 closed

[2019-09-09 23:30] #13360 closed

[2019-09-10 00:07] ps-tb commented on #14179
It might be but I have questions about this setup, if you don't mind. If this isn't the right forum for these questions please let me know or direct me elsewhere.

Do you think that it would that mean a testing environment to differentiate between development/production? Something like the very pseudo code below?

[code]

Would a self hosted build agent alleviate this need? It appears that Azure V

[2019-09-10 00:42] guardrex commented on #14179
It looks like they have a section on it ... did you see this? :point_right: https://docs.microsoft.com/azure/devops/pipelines/library/connect-to-azure?view=azure-devops#create-an-azure-resource-manager-service-connection-to-a-vm-with-a-managed-service-identity

It seems like that would work ... that managed identity would be given access to the vault and it would *Just Work*:tm:. 🤞 Of course, I ha

[2019-09-10 01:11] alaskanrogue commented on #14163
Interesting. I subsequently after filing this issue found I had to abandon gRPC because it is not yet fully implemented for Xamarin.

[2019-09-10 01:11] #14163 closed

[2019-09-10 02:14] bobbylam23 opened #14230 "Update-Database error"
I was trying to follow the program by the guidelines (https://docs.microsoft.com/en-gb/aspnet/core/tutorials/razor-pages/new-field?view=aspnetcore-2.2&tabs=visual-studio).
I'm using vs code and after I deleted the .db and ran the code `dotnet ef database update` at terminal and run the program, the following showed up.

I've repeated the steps over and over and cross-checked the code with the give

[2019-09-10 04:44] Rick-Anderson commented on #14230
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-09-10 04:44] #14230 closed

[2019-09-10 05:50] stevo-knievo commented on #13353
Thanks @guardrex!
I pulled your example and yes all the tests are passing. But I didn’t have time to really get into today. There is a lot going on and I think it would be much easier to have a real simple case to show the problem I’m facing so I pushed up a really [simple app](https://github.com/stevo-knievo/IntegrationTestDotNetCore3.0). Please have a quick look and play around with it.

https:/

[2019-09-10 05:55] mrgleba opened #14231 "constructing AuthorizationPolicyBuilder without parameters leads to exceptions"
Following up on https://github.com/aspnet/AspNetCore/issues/13764
if you create a AuthorizationPolicyBuilder without providing an authentication scheme name then if it fails an exception would be raised. AuthorizationPolicyBuilder should either have authentication schemes or always succeed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-09-10 05:57] mrgleba opened #14232 "Provide implementatoin for GetFallbackPolicyAsync to match the 2.2 behavior"
Following up on https://github.com/aspnet/AspNetCore/issues/13762
GetFallbackPolicyAsync is new in 3.0. It'd be nice to have in the docs a default implementation that mimics the 2.2 behavior.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 150023ea-e35a-4a06-6f71-7ab63994b07f
* Version Independent ID: 7b5c3832-a5a3-a27a

[2019-09-10 08:06] #14113 closed

[2019-09-10 11:42] guardrex commented on #13353
You'll have to consult with devs on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter. We just don't have the staffing to address problems in developer apps. There's only three of us here, and we maintain >300 topics with >100 samples and have >500 repo issues. 🏃 As far as product support goes, there's Microsoft Support, of course. If you find a bug in the framewo

[2019-09-10 13:58] yohsii opened #14233 "cannot authorize with custom scheme"
I'm using:
[code]
to register the scheme "custom" but when i try and authorize on the controller doing this:
[code]
it doesn't authorize the user and redirects to login page even though the user is logged in and is in the correct role.

if, however, i try this:
[code]
the same user will happily authorize and i can get through to the page.

so my question is - how can i get my "custom" authenticati

[2019-09-10 15:08] Rick-Anderson opened #14234 "avoid avoiding"
remove per #14122

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfb00531-4ac6-8bf6-9bd8-1eed6446397f
* Version Independent ID: ed418d09-6c33-699a-0d48-9aabc99457be
* Content: [Custom Model Binding in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding?view=aspnetcore-2.2)
* Con

[2019-09-10 15:17] asad-c opened #14236 "Guidance to run Angular SPA without a proxy in dotnet core 3"
Could guidance please be added to explain how the dotnet core 3 Angular spa template project can be run without using a proxy. The proxy slows down debugging too much to be practical. I have tried commenting out the lines below but this does not work with the MVC redirects:

app.UseSpa(spa =>
            {
                // To learn more about options for serving an Angular SPA from ASP.NET Core,

[2019-09-10 15:17] Rick-Anderson opened #14237 "Polymorphic model binding via subclassing ComplexObjectModelBinder"
Per [this comment](https://github.com/aspnet/AspNetCore.Docs/pull/14122#pullrequestreview-283300604)

This part of the design really doesn't seem too scalable. I think most users would look at this sample and say "I don't want to write that code". I think we've done this in the past by subclassing `ComplexObjectModelBinder` right?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-09-10 15:18] Rick-Anderson commented on #14237
@serpent5 are you able to do this?

[2019-09-10 15:59] bradygaster commented on #14211
Note per [this conversation with cdnjs](https://github.com/cdnjs/cdnjs/pull/13319) - it looks like folks who use cdnjs won't have to change things, as they can't currently rename packages in cdnjs. so folks will continue to use the aspnet-signalr item until such time as cdnjs can change our package to microsoft-signalr.

[2019-09-10 16:17] #14234 closed

[2019-09-10 16:38] tdykstra opened #14238 "Link to Azure App Service tutorial on web app with SQL deployment"
The App Service tutorial [here]( https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi) was recently updated and includes database migrations. Besides linking from this overview, review the tutorial contents to determine if it could replace one of the existing articles in the ASP.NET Core repo.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-09-10 16:45] #13340 closed

[2019-09-10 17:11] stevo-knievo commented on #13353
@guardrex fair enough and I appreciate you are taking the time. I forked your example. I added a SQLite DB provider for the application and I added a test that will count the messages on the index page. This test shows nicely that the integration tests aren't use the InMemory DB provider from the `CustomWebApplicationFactory` class.

**Here are the changes I made:**
https://github.com/aspnet/AspNe

[2019-09-10 18:03] yohsii commented on #14233
it appears that setting `options.ForwardAuthenticate = "Identity.Application";` solves this problem:

[code]

this should really be documented

[2019-09-10 18:22] CeciAc opened #14239 "There should be a mention that implementations which use authentification won't work unless a https configuration is used"
Hi team,
I moved this from here: https://github.com/aspnet/AspNetCore.Docs.de-de/issues/52
as per writer comment

@taori commented 8 hours ago
I ran into this issue when writing a service: aspnet/AspNetCore#13804. Ideally if the docs mentioned this fact people who use this doc page won't spend time trying to figure this out. Perhaps at somepoint netcore might point out this requirement, but until

[2019-09-10 18:29] serpent5 commented on #14237
I’ll give it a go.

[2019-09-10 18:47] fiksen99 opened #14240 "No "What's new in 3.0" page"
3.0 is in preview, but there's no page indicating what's new to help me decide if I want to upgrade. I think the feature set is now locked for 3.0 and the changes are now focussed on quality, correct? If so, this means we can begin adding documentation for the 3.0 features.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-09-10 18:56] Rick-Anderson commented on #14240
@danroth27 @scottaddie  I'll start "What's new in 3.0" from https://devblogs.microsoft.com/aspnet/
cc @guardrex

[2019-09-10 19:05] Rick-Anderson commented on #14233
@blowdart  quick review of good stuff to add to this doc.

[2019-09-10 19:32] tstivers1990 opened #14241 "Identity Two-Factor via REST API documentation"
**Help us make content visible**
- Tell us what search terms you used and how you searched docs.

"ASP.NET Core Identity webapi two factor"
"ASP.NET Core identity webapi 2fa"

- Tell us what docs you found that didn't address your concern.

I've read through the ASP.NET Core Identity documentation pretty extensively and none of it seems to cover this scenario.

**Describe the new topic**

- Explai

[2019-09-10 19:45] Rick-Anderson commented on #14241
2FA
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-09-10 19:45] #14241 closed

[2019-09-10 19:49] tstivers1990 commented on #14241
I suspect it's going to have a hard time generating any responses while closed.

[2019-09-10 19:50] Rick-Anderson commented on #14231
@mrgleba
Any chance you could PR this? At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.
I can clean up and help.

[2019-09-10 19:54] Rick-Anderson commented on #14224
@blowdart should I change this from ` store the token in the browser's local storage. ` to   store the token in the web app ?

[2019-09-10 19:58] Rick-Anderson commented on #14217
[Create an ASP.NET Core app with user data protected by authorization](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/secure-data?view=aspnetcore-3.0#add-or-remove-a-user-to-a-role-1) seed's the DB.

This is really a DB question and not a web app UI question. Production apps would work directly with the DB using scripts or another mechanism.

[2019-09-10 19:58] #14217 closed

[2019-09-10 20:04] Rick-Anderson commented on #14213
Our *.gitignore* removes *wwwroot* to prevent bloat. The samples are primarily to document the code. They sometimes need a little work to run.

Were you unable to follow the instruction at
[Use ASP.NET Core SignalR with TypeScript and Webpack](https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-typescript-webpack?view=aspnetcore-2.2&tabs=visual-studio)

If so, Can you create an issue fr

[2019-09-10 20:04] #14213 closed

[2019-09-10 20:06] Rick-Anderson commented on #14213
Per comment hub:

Can we get a less complicated startup that doesn't use webpack and libman? The article should explain how to setup typescript without these complexities, and leave them for a separate article.

npm init -y doesnot create any package.jkson

cc @scottaddie

![image](https://user-images.githubusercontent.com/3605364/64646358-ca750800-d3cb-11e9-9f6d-1973f60200f1.png)

[2019-09-10 20:06] blowdart commented on #14224
I'm kinda meh about this, because anyone that can access your local storage can access your login cookie and then they're you anyway. Saying it's vulnerable to XSS isn't a reason, so are cookies (although HTTP only provides some mitigation) unless you carefully implement CSRF protection.

Maybe demonstrate both and link to the OWASP page?

[2019-09-10 20:15] Rick-Anderson commented on #14224
@MNF Any chance you could PR this? At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

[2019-09-10 20:42] mrgleba commented on #14231
Done :)

[2019-09-10 20:46] MNF commented on #14224
Sorry, @Rick-Anderson, I am learning the topic myself. I feel that https://stormpath.com/blog/where-to-store-your-jwts-cookies-vs-html5-web-storage and https://stackoverflow.com/questions/27067251/where-to-store-jwt-in-browser-how-to-protect-against-csrf/37396572#37396572 are reasonable ways to use HttpOnly Secure cookies and protect against CSRF, but not confident enough to write PR.

[2019-09-10 21:11] mrgleba commented on #14232
After some research the simplest code to mimic the 2.2 behavior is:
[code]

[2019-09-10 23:05] Rick-Anderson commented on #14237
@serpent5  ping `@pranavkm` if you have any questions.

[2019-09-11 00:18] shirhatti opened #14245 "How to create a library targeting ASP.NET Core 3.0"
**Help us make content visible**

- How to build a library targeting ASP.NET Core

**Describe the new topic**

Since the WebSDK has an implicit framework reference to AspNetCore, most folks don't see `<FrameworkReferences>` at all. We need some guidance for library authors on how to target ASP.NET. We probably need to include guidance on when to multi-target as well.

[2019-09-11 00:22] shirhatti commented on #14245
See https://github.com/aspnet/AspNetCore/issues/13541 as an example of a customer reported issue

[2019-09-11 01:10] Rick-Anderson commented on #10103
@serpent5 This looks like an easy one.

[2019-09-11 01:14] Rick-Anderson opened #14246 "Add link to gRPC"
gRPC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2207f37-0cf3-3ab9-add8-c50c36409b53
* Version Independent ID: df89a2fd-501e-c917-2962-e4d8d124e852
* Content: [Custom formatters in ASP.NET Core Web API](https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/custom-formatters?view=aspnetcore-3.0&branch=pr-en-

[2019-09-11 01:24] linkanyway commented on #11441
one more question, i think the .net core 3.0 framework will build container automatically, so how can get the container directly from my code?
i want to implement some static class like "IocManager..." something.

[2019-09-11 01:58] Rick-Anderson opened #14248 "3.0 update: Microsoft.AspNetCore.App"
See https://github.com/aspnet/Announcements/issues/325

![image](https://user-images.githubusercontent.com/3605364/65473891-66affd80-de15-11e9-87c3-45b6bab8f76a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cabe9331-b438-fabe-18ca-15f752ec6778
* Version Independent ID: 3294609f-b881-1fec-de04-2021b48de489
* Conte

[2019-09-11 06:36] IanKemp commented on #11842
This article is pretty long-winded but gets the job done, so it could maybe be adapted for MS docs? https://www.codeproject.com/Articles/1556475/How-to-Write-a-Custom-Logging-Provider-in-ASP-NET

[2019-09-11 09:47] cjblomqvist opened #14251 "Should add note about SameSite as an alternative and/or complementary approach to prevent CSRF attacks"
Since there's now relatively good browser support, for many use cases SameSite=Lax/Strict can be a better (simpler, less risky) approach than having to manage anti-forgery tokens. There should be a note about that here so that only people who need to implement the additional anti-forgery token layer really do it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-09-11 10:55] trankhachuu opened #14252 "hhh"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-2.2&tabs

[2019-09-11 11:19] Gosha24 opened #14253 "Execution Error in AspNetCore.Docs\aspnetcore\mvc\controllers\testing\samples\2.x\TestingControllersSample"
{ description here }

# Software versions

 .NET Core 2.2
I downloaded and run sample AspNetCore.Docs\aspnetcore\mvc\controllers\testing\samples\2.x\TestingControllersSample
I got exception
An error occurred while starting the application.
InvalidOperationException: Cannot resolve scoped service 'TestingControllersSample.Core.Interfaces.IBrainstormSessionRepository' from root provider.
Microsoft.E

[2019-09-11 11:35] omerlh opened #14254 "Add example for endpoint routing with controller"
I tried to migrate an existing app today, and it took me a while to figure what I'm missing until I find [this post](https://andrewlock.net/comparing-startup-between-the-asp-net-core-3-templates/). Can you add something like this example, showing what is required to support controllers routes?
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-09-11 12:12] #14252 closed

[2019-09-11 12:15] guardrex commented on #13343
@Gosha24 reported on https://github.com/aspnet/AspNetCore.Docs/issues/14253 ...

I downloaded and run sample AspNetCore.Docs\aspnetcore\mvc\controllers\testing\samples\2.x\TestingControllersSample
I got exception

[code]

[2019-09-11 12:15] guardrex commented on #14253
@Gosha24 ... I moved this to the issue for upgrading the sample to 3.0. I'll check the sample when I get to that issue.

Moved to https://github.com/aspnet/AspNetCore.Docs/issues/13343

[2019-09-11 12:15] #14253 closed

[2019-09-11 12:17] guardrex commented on #14254
Hello @omerlh ... It's covered in the topic here :point_right: https://docs.microsoft.com/aspnet/core/migration/22-to-30#migrate-mvc-controllers

[2019-09-11 12:17] #14254 closed

[2019-09-11 13:08] serpent5 opened #14255 "Redirection after SignOutAsync is required, not to be avoided"
The suggestion here is incorrect. It shouldn't be prefixed with "don't", as redirection is what actually forces the user to be signed out. The code above this line for `LogoutModel` should also be changed to end with `return RedirectToPage()` instead of `return Page()` to match, which is what the current [2.2 version](https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Identity/UI/src/Areas/

[2019-09-11 13:47] ken-carrier commented on #12387
Since you have to "Rewrite URLs for correct routing" does that mean that the server app code and the client app code are no longer interchangeable?

[2019-09-11 13:56] ps-tb commented on #14179
@guardrex Thanks for all the info. It's probably (likely...def. is) well beyond the scope of the article so I appreciate it. I think that I have enough to go on now so you're welcome to close the issue. Thanks again.

[2019-09-11 14:25] guardrex commented on #14179
Sure ... I think there's a cross-link opportunity here. Let me take another look at that. The DevOps Pipeline reference might be a good idea. I'll take a look this evening.

[2019-09-11 15:35] jcemoller commented on #14221
@Rick-Anderson spent the last two days trying to find any resolution to this, and I think I found one. It seems that in 3.0, the *UseRequestLocalization()* call has to be placed **after** *UseAuthentication()* call in *Configure()*. Previously, in 2.2 and also as noted in the documentation under https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.0#implement-a-

[2019-09-11 16:16] mkArtakMSFT opened #14260 "Provide guidance about how to do async work in Blazor"
Add a statement in both the Components article and the Razor Syntax article that clarifies that unlike .cshtml files, you can't do async work as part of the rendering of the component. Instead, async work needs to happen as part of one of the async component lifecycle events.

[2019-09-11 16:46] Rick-Anderson commented on #14255
@serpent5  I think that was true in the long ago. Do want to PR the fix?

[2019-09-11 16:49] Rick-Anderson commented on #14221
@ryanbrandenburg please review.

[2019-09-11 16:53] serpent5 commented on #14255
Yeah, will do.

[2019-09-11 17:27] Rick-Anderson commented on #14246
@scottaddie  thanks for the reminder.

[2019-09-11 18:18] mikaelm12 opened #14261 "Add Java Client to Server Streaming Section to SignalR Streaming Doc"
We need to add a small section for client to server streaming in Java.

[2019-09-11 19:47] Rick-Anderson opened #14262 "What's new in SignalR for 3.0"
Please use the issue to supply the MD markup I'll add to

* SignalR client-to-server streaming
* https://github.com/aspnet/AspNetCore/pull/7608

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a3ff3cd-e7c3-f5f8-8993-067ca43f4ccc
* Version Independent ID: 8b8283b5-10f0-139d-b069-6ffab0ea4ca1
* Content: [What's new in ASP

[2019-09-11 19:49] Rick-Anderson opened #14263 "What's new in 3.0 for Razor Components and Blazor"
Please use the issue to supply the MD markup I'll add to #14250

[2019-09-11 20:59] guardrex commented on #14263
@Rick-Anderson Is this a P1 thing (*Thursday-ish*) or more of a P2 thing (*early next week-ish*)?

[2019-09-11 21:48] Rick-Anderson commented on #14263
Neither, middle to late next week. Does that make it P3? lol

[2019-09-11 22:27] stevo-knievo commented on #13353
@guardrex I merged all your changes into my [fork](https://github.com/stevo-knievo/AspNetCore.Docs/tree/guardrex/int-test-30). Same issues the integration test is using the application DB provider (SQLite) instead of the InMemory DB provider set up in the customized WebApplicationFactory class.

[2019-09-11 22:28] #10103 closed

[2019-09-11 22:44] #14144 closed

[2019-09-11 23:20] guardrex commented on #13353
I don't repro that here. I checked this earlier today when I was preparing the PR. The dB is seeded with the messages in `RazorPagesProject.Tests.Utilities.GetSeedingMessages`, which are prefixed with "TEST RECORD." The SUT's messages don't have the prefix (in `RazorPagesProject.Data.ApplicationDbContext.GetSeedingMessages`), so it was easy for me to see that the records came from the test app and

[2019-09-11 23:24] Rick-Anderson commented on #14240
- gRPC
-

[2019-09-12 00:10] Rick-Anderson opened #14269 "3.0 update Worker Service template"
add info from https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-0-preview-3/

DI, etc and test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3460b0d-9c60-3a06-ac63-18cf990e53c3
* Version Independent ID: b2dece1f-15b8-03af-6d52-7cc070432b4b
* Content: [Background tasks with hosted services in AS

[2019-09-12 00:37] guardrex commented on #14269
Dup of https://github.com/aspnet/AspNetCore.Docs/issues/12841

[2019-09-12 00:40] guardrex commented on #14269
Worker Service was covered on https://github.com/aspnet/AspNetCore.Docs/pull/12665 ... and not for this topic. It's a Windows Service thing.

[2019-09-12 01:13] stevo-knievo commented on #13353
Thanks @guardrex for guiding me through the process. I open an issue. https://github.com/aspnet/AspNetCore/issues/13918

[2019-09-12 02:20] khteh opened #14270 "Couldn't find an installed template that matches the input, searching online for one that does..."
[code]
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d298a6c-8ddc-dbc8-d219-0fa7138442c2
* Version Independent ID: b96be346-958a-cfcd-d80a-c352d64223e8
* Content: [Create a .NET Core gRPC client and server in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/grpc/grpc-start?view=aspnetcore-3

[2019-09-12 05:43] omerlh commented on #14254
Thanks! I somehow missed that...

[2019-09-12 06:34] Daniel15 opened #14271 "Tag builder for WebsiteInformationTagHelper?"
The `WebsiteInformationTagHelper` example has this code:

[code]

However, building HTML like this is generally a bad practice as it can introduce XSS holes. Should it be using some sort of tag builder? I remember there was something like that in older versions, but does such a thing even exist in ASP.NET Core?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-09-12 09:18] amir6mehrabi opened #14272 "Notify.Invoke arguments"
Notify.Invoke take 3 arguments but in the tutorial example, it takes 2 argument and makes an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent ID: 9d945996-ad02-bd4b-58ea-c465cc5cc74c
* Content: [Create and use ASP.NET Core Razor components](https://docs.mi

[2019-09-12 12:41] Nils-Berghs opened #14275 "Focus is completely wrong"
There is a ton of information about different log levels, filtering and other obvious stuff.
Far more important things like logging providers are hardly explained (and for azure its totally outdated).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-

[2019-09-12 13:38] khteh opened #14276 "Does NOT work behind load balancers"
I have ASP.Net Core 2.2 deployed on Kubernetes cluster behind load balancer. CORS does NOT work behind load balancer. Client application does not receive the CORS response headers from the server application. Any advice and insight is appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59bca5db-1196-2a8b-a0d8-4

[2019-09-12 13:44] guardrex opened #14277 "Revert changes for OpenRegion/CloseRegion"
Revert changes made on https://github.com/aspnet/AspNetCore.Docs/pull/12546.

`OpenRegion`/`CloseRegion` are now `public` ...

https://github.com/aspnet/AspNetCore/blob/057ec9cfae1831f91f1a0e01397059b20431db7b/src/Components/Components/src/Rendering/RenderTreeBuilder.cs#L578-L597

Thanks @legistek on https://gist.github.com/SteveSandersonMS/ec232992c2446ab9a0059dd0fbc5d0c3#gistcomment-3025613.

--

[2019-09-12 14:04] khteh opened #14278 "HTTPS port with ConfigureKestrel"
I have the following code in Program.cs:
[code]
Does this mean that I have to set the https_port to 5003 instead of 443? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ddfb2f-5dea-5e31-2a27-02a4dc16104c
* Version Independent ID: 12ca0b9a-2638-a4ce-c45f-d4579c83dafb
* Content: [Enforce HTTPS in ASP.NET Core](h

[2019-09-12 14:06] scottaddie opened #14279 "Document workaround for SuppressUseValidationProblemDetailsForInvalidModelStateResponses in 2.2"
See https://github.com/aspnet/AspNetCore/issues/4792. This property also doesn't exist in 3.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b391017f-25e1-d5e1-c4f7-020408ade7b5
* Version Independent ID: 263a7b64-2e42-bbfc-c1d3-61680438e1e4
* Content: [Create web APIs with ASP.NET Core](https://docs.microsoft.com/en-u

[2019-09-12 14:11] khteh opened #14280 "How does this apply to inter-micro-service communication?"
Does this only apply to application which serves external clients? Is this needed for communication between micro-services which are not exposed to external clients? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ddfb2f-5dea-5e31-2a27-02a4dc16104c
* Version Independent ID: 12ca0b9a-2638-a4ce-c45f-d4579c83dafb

[2019-09-12 15:03] #14278 closed, assigned to nobody

[2019-09-12 19:54] MythreyaK opened #14283 "[Url] attribute allows spaces"
I am using the `[Url]` attribute to store URLs in a database and was surprised to see that a URL of the form `http://www.exam ple.com` was accepted, and so was `http://example.com/foo bar`! From what I've read around, a URL shouldn't contain a _literal_ space. Am I mistaken or is this the expected behavior?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-09-12 20:02] #14280 closed, assigned to nobody

[2019-09-12 21:14] jheaden opened #14286 "404"
Bad link in the "Download It" section:

&lt;h2&gt;Download it&lt;/h2&gt;
        &lt;p&gt;You can download the completed project from GitHub.&lt;/p&gt;
        &lt;p&gt;
            &lt;a class="btn btn-default"
               href="https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu-final"&gt;
                See project source code &raquo;
            &lt

[2019-09-13 00:42] #14286 closed, assigned to guardrex

[2019-09-13 01:06] Rick-Anderson opened #14291 "3.0 update routing with new Endpoint routing"
Add Endpoint routing updates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32374077-e02e-d6a6-1cea-05e58447b7cd
* Version Independent ID: 86aeab13-1c25-9fc1-4e56-0390cb40c242
* Content: [Routing in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.0)
* Content Source: [a

[2019-09-13 04:03] AskYous opened #14293 "What is a "requirement?""
I was reading the documentation when this work it just came up all of the sudden. If it's mentioned in some previous article, it would be good to just put a link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90aa2423-5082-413f-1009-86b353c27cf6
* Version Independent ID: 84241d82-3261-1225-d1f9-a94d38f6155b
* Content:

[2019-09-13 04:29] #14293 closed, assigned to nobody

[2019-09-13 06:17] danroth27 opened #14294 "Add @typeparam directive to the Razor syntax reference"

[2019-09-13 09:04] jez9999 opened #14295 "Misleading statement about claims"
I think these documentation should be updated as it makes a misleading statement about claims.  It says "A claim is a name value pair that represents what the subject is, not what the subject can do." - this seems to be untrue, because it's perfectly possible to have a "Permission" claim which specifies what the subject can do.  In fact, this is the way permissions-based authentication should be i

[2019-09-13 10:02] pampua84 opened #14296 "Wrong Controller"
In the HTML, you have set the tag:
asp-controller="Movies"
but no controller with that name has been created yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 788d46c9-a91a-2788-8db7-b53c37b512f2
* Version Independent ID: 00c2c01d-d235-2d2d-5c96-1f33a9314382
* Content: [Add a view to an ASP.NET Core MVC app](https://

[2019-09-13 10:02] #14296 closed

[2019-09-13 10:05] pampua84 commented on #14296
Sorry, I didn't see the line:
Note: The Movies controller has not been implemented. At this point, the Movie app link does not work.

[2019-09-13 10:08] MythreyaK commented on #14283
It wasn't there, so I added it in manually. Hope that works!

[2019-09-13 13:44] rschindhelm commented on #6506
As of 2019-09-13 there's still a mismatch. The Form Action Tag Helper isn't displayed in the TOC.
@guardrex If you would be so kind to update the document again.

[2019-09-13 13:46] AskYous commented on #14293
If you add "(explained later in this chapter)," I'm sure this will help a lot of other people.

[2019-09-13 14:12] AskYous opened #14298 "Was there supposed to be an Authorization folder from the start?"
I'm on the part where it says to make a class inside the authorization folder, but the sentence makes it seem like the authorization folder was there the whole time. Was I supposed to create it before? If I'm supposed to create it now, the documentation should say to create a folder first.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-09-13 15:08] guardrex commented on #6506
<img width="538" alt="Capture" src="https://user-images.githubusercontent.com/1622880/64873301-62623400-d60e-11e9-9513-eee2cc341844.PNG">

[2019-09-13 15:25] guardrex commented on #13539
@danroth27 AFAICT, *yes* ... type conversion is still required from `ChangeEventArgs` (we show that in the content that we added), the validation we show is good, and the use of generics shouldn't be a problem. We can keep an :ear: open for *'How would this look with generics?'* questions and then explicitly add an example later if needed. I'll mark the PR that we did with a "fixes" for this issue

[2019-09-13 15:25] #13539 closed

[2019-09-13 16:02] Yanal-Yves opened #14300 "Broken link"
Hello,

In the Troubleshooting section of https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/migrations?view=aspnetcore-2.2&tabs=visual-studio, the link "Download the completed app" is broken.
My guess is that it should point to https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu21snapshots/Part-4-Migrations
Could you fix it please?

---
#### Document

[2019-09-13 17:46] Rick-Anderson commented on #14298
This is an advanced tutorial so you sometimes need to make folders. We'll look at this again in the next doc sweep.

[2019-09-13 17:49] AskYous commented on #14298
Perhaps just change it from this:

To this:

[2019-09-13 17:52] Rick-Anderson commented on #14298
Can you fix it. Change it to:

Create an "Authorization" folder and create a ContactIsOwnerAuthorizationHandler class in it.

[2019-09-13 18:11] #13873 closed

[2019-09-13 18:11] #14051 closed

[2019-09-13 18:11] #14279 closed

[2019-09-13 18:54] simonziegler opened #14304 "Need to get claims when logging in to Azure B2C"
Hi, I am building a Blazor Server app (preview9) and need to use Azure Active Directory B2C for authentication. I have started with your template project, and have made sure that the token returned from B2C includes First Name, Given Name and a couple of other properties (viewed from https://jwt.ms). I cannot however work out how to access these properties from the code in the LoginDisplay.razor f

[2019-09-13 19:59] gojanpaolo opened #14306 "What is the recommended way of reading the Request Body?"
Logging the Request Body would be really helpful when troubleshooting the exception. Could you please include a recommended way of reading that? Thank you! :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03fdf4-b19b-17c3-04f4-336ab6d2ee06
* Version Independent ID: 38515dfb-91a5-b395-db9d-084bbaf095c8
* Content: [Ha

[2019-09-13 20:04] Rick-Anderson commented on #14306
See the logging articles.
cc @guardrex

[2019-09-13 20:04] #14306 closed

[2019-09-13 20:13] Rick-Anderson commented on #14237
@rynowak do you have a suggestion on implementing your suggestion subclassing `ComplexObjectModelBinder` ?

[2019-09-13 20:28] #12842 closed

[2019-09-13 20:38] Legends opened #14307 "ASP.NET Core -Detailed Lifecycle"
Can we get a **detailed lifecycle description** for asp.net core?
We have detailed one for mvc 5, <a href="https://opdhsblobprod04.blob.core.windows.net/contents/ed5efb1947c04bb29402a0c08d68958e/d0ed2e012c44fea6a368d4591ea14088?sv=2015-04-05&sr=b&sig=CNneagzWl5ZdFYZhNCUdF8KqHjNdhZXoNc%2FCTA8EEZk%3D&st=2019-09-13T20%3A22%3A51Z&se=2019-09-14T20%3A32%3A51Z&sp=r">see here</a>
[d0ed2e012c44fea6a368d459

[2019-09-13 20:42] pranavkm commented on #14237
I can have a look at this next week. Like I said, it's a bit gross to set up.

[2019-09-13 20:45] serpent5 commented on #14237
@pranavkm Do you have any quick pointers re whether it's option 1 or 2 that I need to be looking into, or at least just whether I'm way off and should stop trying to go down the path I'm on?

[2019-09-13 20:45] Rick-Anderson commented on #14283
This one should be there - that was an old message I sent previously

 Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2019-09-13 20:48] Rick-Anderson commented on #14237
@serpent5  this is very low priority with the pending 3.0 release. Let's pick this up in a month. I'll find some good programming issues for you in the mean time :)

[2019-09-13 20:50] MythreyaK commented on #14283
Do I still go ahead and do it, since the issue seems to have reached the .NET core team (`pranavkm` opened it on behalf of me)?

[2019-09-13 20:51] Rick-Anderson commented on #14307
Dup of #3524
Please vote up #3524

[2019-09-13 20:51] #14307 closed

[2019-09-13 20:52] Rick-Anderson commented on #14300
@guardrex  just fixed this in a PR that should go live today.

[2019-09-13 20:52] #14300 closed

[2019-09-13 20:54] serpent5 commented on #14237
@Rick-Anderson Understood. I 100% get that. Sorry. :)

[2019-09-13 20:55] Rick-Anderson commented on #14275
What's outdated in [Azure App Service provider](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.0#azure-app-service-provider) ? The 3.0 version?

[2019-09-13 20:57] Rick-Anderson commented on #14270
@JamesNK what's the right repo to open this issue?

[2019-09-13 21:00] Rick-Anderson opened #14308 "Add Java Client to Server Streaming Section to SignalR Streaming Doc"
Copy from #14261 by  @mikaelm12

We need to add a small section for client to server streaming in Java.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a02b4e7d-971a-670b-02eb-89c5456ec8f2
* Version Independent ID: 5f2f089e-310d-83a1-9c56-9cb441b9914a
* Content: [Use streaming in ASP.NET Core SignalR](https://docs.micro

[2019-09-13 21:00] Rick-Anderson commented on #14261
I created the new integrated issue for your. This is what I sent customers:

Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2019-09-13 21:00] #14261 closed

[2019-09-13 21:06] Rick-Anderson opened #14309 "How to create a library targeting ASP.NET Core 3.0"
Copy from #14245 by @shirhatti

**Help us make content visible**

- How to build a library targeting ASP.NET Core

**Describe the new topic**

Since the WebSDK has an implicit framework reference to AspNetCore, most folks don't see `<FrameworkReferences>` at all. We need some guidance for library authors on how to target ASP.NET. We probably need to include guidance on when to multi-target as well

[2019-09-13 21:06] Rick-Anderson commented on #14245
@shirhatti  I created an integrated issue at  #14309

This is what I tell customers:

Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2019-09-13 21:07] #14245 closed

[2019-09-13 21:09] Rick-Anderson commented on #14309
@kierenj any chance you could provide the first draft PR?

At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

[2019-09-13 21:10] Rick-Anderson commented on #14283
Nope, I was just checking to see that you could do it next time with the updated instructions.

[2019-09-13 21:38] AskYous commented on #14298
I never contributed to Microsoft docs before. Hopefully this fixes it: https://github.com/aspnet/AspNetCore.Docs/pull/14310

[2019-09-13 21:41] #14298 closed

[2019-09-13 23:14] shirhatti commented on #14245
Huh? This isn't associated with an existing doc? I filed an issue for a new doc

[2019-09-13 23:25] #14255 closed

[2019-09-13 23:34] Rick-Anderson commented on #14269
@guardrex  that doesn't tell me anything about what it's used for. See **Worker Service template** in https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-0-preview-3/

Should I put all that info into one include, or should we have a dedicated Worker Service topic?

[2019-09-13 23:53] Rick-Anderson commented on #14269
@scottaddie  I think worker service needs a dedicated page.
@guardrex  please suggest where this should go.
See https://www.hanselman.com/blog/dotnetNewWorkerWindowsServicesOrLinuxSystemdServicesInNETCore.aspx

[2019-09-13 23:57] Rick-Anderson commented on #14269
Actually, it looks like this is the right place. We just need more content here.

[2019-09-14 01:46] JamesNK commented on #14270
aspnet/aspnetcore

[2019-09-14 03:26] Rick-Anderson commented on #14270
If you think this is a product bug, create the simplest possible sample that reproduces the problem and open an issue at [GitHub ASP.NET Core](https://github.com/aspnet/AspNetCore/issues/new?template=bug_report.md)

[2019-09-14 03:26] #14270 closed

[2019-09-14 07:03] SidShetye commented on #13353
I guess we should be happy the initial lack of documentation pushed us down our path. Our integration tests do NOT use an in-memory database. We use “real” sql connection string pointed to a sql docker instance or local db or sql dev edition (depends on machine/config). More reliable, conditions closer to production and none of the quirks.

Would highly recommend that. EF core allows rapid databas

[2019-09-14 07:49] Legends commented on #3524
Upvoted! Would be nice to have it. Thanks.

[2019-09-14 08:26] MythreyaK commented on #14283
Okay, got it! Thanks!

[2019-09-14 09:57] kierenj commented on #14309
I'm not sure I'm best placed for that - I have more questions than answers! @JunTaoLuo, @shirhatti and others from https://github.com/aspnet/AspNetCore/issues/13541 seem to work on the team and know what's up?

[2019-09-14 11:47] guardrex commented on #14269
More info ... *probably yes*. Not sure why a separate issue here tho ... there's an existing issue for this topic for 3.0 updates at https://github.com/aspnet/AspNetCore.Docs/issues/12841, which I haven't come to yet (*but I hope to reach it soon*).

The wiring for a WS (`UseWindowsService`) is covered in the WS topic. The Linux worker isn't covered, but there's an [existing issue for it](https://

[2019-09-14 14:50] RamanBut-Husaim opened #14315 ""Microsoft.Extensions.Configuration.UserSecrets.targets" and "UserSecretsId" transformation in transitive dependencies"
Hello everyone,

From my today's experience it seems that the only way this guide to work is to *explicitly* install `Microsoft.Extensions.Configuration.UserSecrets` as a dependency as it seems that [Microsoft.Extensions.Configuration.UserSecrets.targets](https://github.com/aspnet/Extensions/blob/release/2.2/src/Configuration/Config.UserSecrets/src/build/netstandard2.0/Microsoft.Extensions.Configu

[2019-09-14 15:19] JeroMiya opened #14316 "Need clarification on OwningComponentBase usage"
There's a section on `OwningComponentBase<T>` but I'm a little confused about it. It states that there is a `ScopedServices` property of type `IServiceProvider` that is scoped to the component's creation. However, it also has a generic type parameter, and based on the example provided, I assume also a `Service` property of type `T`, which presumably is automatically injected? Is that correct?

Doe

[2019-09-14 15:40] asad-c commented on #12727
Has anyone figured out a work around for this?

[2019-09-14 17:45] PudottaPommin commented on #12564
@sbwalker your link is broken

[2019-09-14 19:23] Rick-Anderson commented on #14315
@dougbu  who's the right contact to review this?

[2019-09-14 19:25] Rick-Anderson commented on #12564
@HaoK  should this go in the 2.2 to 3.0 migration guide?

[2019-09-14 19:37] sbwalker commented on #12564
Sorry.. the link was working when I posted it. I found the answer to my question - you now need to access HttpContext through HttpContextAccessor:

        protected override Task HandleRequirementAsync(AuthorizationHandlerContext context, PermissionRequirement requirement)
        {
            var ctx = HttpContextAccessor.HttpContext;
            if (ctx != null && ctx.Request.Query.ContainsKey

[2019-09-14 20:23] dougbu commented on #14315
I'm not sure. @anurse @mkArtakMSFT❔

[2019-09-15 05:28] davegardner opened #14320 "File permissions on Linux"
Using VSCode on Ubuntu 18.04. Following the instructions led to the need to preface shell commands with sudo because file permissions do not allow overwriting. I successfully built the app that way. In an attempt to eliminate the need for sudo I reinstalled NPM. This has not fixed the problem and in fact has made it worse. Some guidance on how to overcome this issue would be appreciated. Eliminati

[2019-09-15 12:13] minhhieugma opened #14321 "The instruction to enable Response Caching is wrong or invalid"
The `app.Use(async (context, next) =>` should be placed before calling app.UseResponseCaching();

`The correct code as below:`

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10cda0f9-e2c7-015d-4fbf-d361f6c67d9f
* Version Independent ID: 13154131-c2b6-2c72-fb0e-1d83bca4e21a
* Content: [Response Caching Middleware

[2019-09-15 12:30] guardrex commented on #14321
Hello @minhhieugma ... The headers are added for **_subsequent requests_** and not meant to be processed on the first request to the app. @JunTaoLuo, do you want to stick with the current behavior, which goes back to when we first put this sample up back in 1.1 days 👴😄?

[2019-09-15 13:29] #14321 closed

[2019-09-15 19:02] camerontbelt opened #14322 ""dotnet new blazorwasm --hosted" does not work with dotnet 3.0 preview 9"
I tried running this command in terminal and it was not recognized as a valid dotnet command.

"dotnet new blazorwasm --hosted -o WebApplication1
Couldn't find an installed template that matches the input, searching online for one that does...
Usage: new [options]

Options:
  -h, --help          Displays help for this command.
  -l, --list          Lists templates containing the specified name. If

[2019-09-15 19:05] camerontbelt commented on #14322
Please ignore this, this is no longer an issue. I thought I had gotten the latest templates but I had not. This is my mistake.

[2019-09-15 19:05] #14322 closed

[2019-09-15 22:12] rpc-scandinavia opened #14323 "Apache when using server-side hosting (websockets error)"
I am playing with a aspnet-core application that can run either as server-side (Razor) or client-side (WASM/Blazor). It is hosted behind a Apache2 server on Debian Linux.

In your documentation you mention this Apache2 configuration:

[code]

However, this is not enough when running server-side because of the Signal-R web-socket connection. So my configuration is like this:

[code]

With, among ot

[2019-09-15 22:50] guardrex commented on #12841
Confirm and enable worker service content for VS4Mac ...

[code]

[2019-09-15 22:50] guardrex commented on #12664
Moved to https://github.com/aspnet/AspNetCore.Docs/issues/12841#issuecomment-531606222.

[2019-09-15 22:50] #12664 closed

[2019-09-15 23:04] guardrex commented on #14291
Probably should also address https://github.com/aspnet/AspNetCore.Docs/issues/13245 with this update.

[2019-09-16 05:50] samridhis1980 commented on #14174
Blazor is boon to hard core .net specialist who have vast amount of experience in C# and Asp.net MVC Razor pages. They need not get expertise in Javascript to continue with developing web apps

[2019-09-16 06:05] calhamdower commented on #13144
+1 here also. Very confusing.
I've also found that the Authorize attribute doesnt really protect you from expired tokens also.
https://github.com/aspnet/AspNetCore/issues/5283
So with Websockets, once you set up a connection.. on the client side you're not easily able to keep your tokens up to date: and then on the server side: it doesn't check if they're expired anyway...

[2019-09-16 07:08] petereichinger opened #14326 "Wrong highlighted lines"
https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/intro?view=aspnetcore-2.2&tabs=visual-studio#examine-the-context-registered-with-dependency-injection

The comment lines are highlighted. In the description it says the services.AddDbContext&lt;...&gt;(...) should be highlighted

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-09-16 08:01] Legends opened #14327 "ConnectionStrings - appsettings.json"
Jump to here:
https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model?view=aspnetcore-3.0&tabs=visual-studio#add-a-database-connection-string

If `ConnectionStrings` is a convention, then it should be mentioned in the section above.
I know the ConnectionString key `MvcMovieContext` is passed in `startup.cs`, but how does it know where to get the value from --&gt; `Connect

[2019-09-16 08:06] Legends commented on #14327
In VS2019 I don't have any intellisense for appsettings.json available, when I write `ConnectionStrings`, so if it's a convention intellisense should be there to support.

Or can we name the section `SomeDbConnStrings` and put the `connectionstring` there?

[2019-09-16 09:20] Svetomechc commented on #12727
@asad-c, nope, I just redirect to login page if that happens.

[2019-09-16 14:51] AmjadKh opened #14329 "migrations generated are empty"
when I run this command:
dotnet ef migrations add MaxLengthOnNames
it generates an empty migration (Up and Down functions are exist but nothing inside them)
should I write the migration code for creating the tables? or it will be automatically generated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 912ebaa6-721f-c8b3

[2019-09-16 14:57] #14326 closed

[2019-09-16 15:19] anurse commented on #14315
Can you post a sample project that reproduces the issue so we can see how it works clearly? The UserSecrets package is almost always referenced transitively (even in a single project situation) via `Microsoft.AspNetCore.App`, so it should work transitively. What may not work is a project-to-project reference like this, where Project A references Project B which then references `Microsoft.AspNetCor

[2019-09-16 18:52] guardrex opened #14335 "Update Blazor common sample app with 3.0-RC1 packages"

[2019-09-16 18:59] bradygaster commented on #14262
not sure i understand. are you suggesting i add the MD markup yo uadded in #14250 to the client-to-server streaming article?

[2019-09-16 19:01] CBaud opened #14336 "Request and response operations has a typo"
The request and response operations documentation has a typo in the text that describes the Body and BodyWriter properties of the HttpResponse class.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49b15fd3-39b5-3ad9-8c4e-b8160360dee9
* Version Independent ID: c33981af-93ce-d4be-a265-5d4696666c7a
* Content: [Request and

[2019-09-16 19:04] Rick-Anderson commented on #14262
Provide What's new in SignalR for 3.0

* Add it to this issue
* I will copy/paste that into #14250

[2019-09-16 19:07] danroth27 opened #14337 "Update Blazor sample apps to 3.0"
We have a number of official Blazor sample apps that live outside of the docs repo that also need to get updated to 3.0:

- [x] [Blazor FlightFinder](https://github.com/aspnet/samples/tree/master/samples/aspnetcore/blazor/FlightFinder)
- [x] [Blazor Validation](https://github.com/aspnet/samples/tree/master/samples/aspnetcore/blazor/Validation)
- [ ] [Blazor Workshop](https://github.com/dotnet-pres

[2019-09-16 19:07] danroth27 commented on #14337
@mkArtakMSFT

[2019-09-16 19:11] guardrex opened #14338 "Blazor common sample error"
For 3.0 RC1 updates, an error has cropped up in the *Call a Web API from Blazor* example ...

[code]

Will investigate and either fix or open engineering issue. It's likely that this will be addressed in one or two weeks due to priority 3.0 work.

[2019-09-16 19:16] #14335 closed

[2019-09-16 19:36] RamanBut-Husaim commented on #14315
Hello @anurse,
Thanks for the feedback. I'll try to prepare one and attach here.
Thanks!

[2019-09-16 19:39] guardrex commented on #13344
@Rick-Anderson I'm going to backlog this one due to special circumstances. There are **_massive updates_** for the 2.2 version on #12344. We should get those approved+merged first, then update the topic+sample to 3.0. I just took a look, and adding 3.0 updates to that PR would make it even more 😵.

[2019-09-16 19:40] Rick-Anderson commented on #13344
I would add the 3.0 updates to this PR when you have time. That's what I did on a couple PR's that languished for months.

[2019-09-16 19:47] guardrex commented on #13344
Let's do it *after the major updates go in* on that PR. That PR is one of the largest topic+sample updates I've ever done ... It's a 👹 **B E A S T** 👹 ... took me a full week ... and explains why we're having trouble getting it reviewed, too. After all of that goes in, then it will be a snap to get it up to 3.0. What I don't want to do is **add** the 3.0 updates to that PR. Alternately trying to u

[2019-09-16 19:55] scottaddie commented on #14269
I think there should be a top-level ToC node for Worker Services. I wouldn't know to look here for info on the topic.

[2019-09-16 20:12] AndreRode opened #14341 "context.Student.Any() should be context.Students.Any() - note the plural: Students"
context.Student.Any() should be context.Students.Any() - note plural: Students

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 634dfb2c-2626-9ec5-35fe-2bd2f27c5e23
* Version Independent ID: 7a77b058-f005-8d68-ae46-e487c597f18e
* Content: [Razor Pages with EF Core in ASP.NET Core - Data Model - 5 of 8](https://docs.micro

[2019-09-16 20:14] guardrex commented on #14269
Recommend caution on this given that background tasks and Windows Service are different topics that can be built on this template and do the same thing. To me (thus far), the worker service template is a means to an end ... a **template** ... not a separate app concept. However, I could be totally wrong about that. I haven't had time to dig into the `Microsoft.NET.Sdk.Worker` SDK and see what's wh

[2019-09-16 20:20] mkArtakMSFT commented on #14337
@SteveSandersonMS would be you be able to handle this too?
I talked to @rynowak and the other issue we've discussed doesn't cover updating these samples.

[2019-09-16 20:21] Rick-Anderson commented on #14269
This is niche and google is your friend. I'd rather not pollute the top level TOC. We can review with `@danroth27`

[2019-09-16 20:24] ssbaca opened #14342 "Steps in this tutorial don't correspond to the views I'm presented in VS2017"
When I go to "Deploy the app to Azure" none of the images corresponded to images to which I was presented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71a44c72-d256-fbee-ea70-2eb7472f8182
* Version Independent ID: 157027ff-0bad-828d-a442-a98acd219fba
* Content: [Publish an ASP.NET Core app to Azure with Visual Studi

[2019-09-16 20:32] Rick-Anderson commented on #14342
@scottaddie  I'd like to retire this doc and redirect to https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-dotnet

[2019-09-16 20:37] Rick-Anderson commented on #14342
@scottaddie  I think https://docs.microsoft.com/en-us/visualstudio/get-started/csharp/tutorial-aspnet-core-ef-step-01?view=vs-2019 would be better.

[2019-09-16 21:17] timothytrimble opened #14344 "Missing steps"
After "Name the project RazorPagesMovie. It's important to name the project RazorPagesMovie so the namespaces will match when you copy and paste code." Add:
- Select the Place solution and project in the same directory box then select Create.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a25bf940-8977-fec4-461b-542a9f

[2019-09-16 22:05] Rick-Anderson commented on #14344
That's not needed. Thanks for the suggestion.

[2019-09-16 22:05] #14344 closed

[2019-09-16 22:17] timothytrimble opened #14345 "Confusing statements"
After "You can ignore that warning, it will be fixed in a later tutorial."
"The ef migrations add InitialCreate..." content is very confusing. How does this tie into having the reader execute the two PMC commands? Why is the content leading up to the "The Add-Migration command..." line needed for a new dev stepping through the tutorial?

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-09-16 22:20] Rick-Anderson commented on #14345
@timothytrimble  keep reading, it will become clear.

[2019-09-16 22:20] #14345 closed

[2019-09-16 23:16] jjxtra opened #14346 "IConfiguration GetReloadToken Changes not Firing"
I never get called back when I hand-edit the appsettings.json file even though reloadOnChange is true for the AddJsonFile configuration call. Is this a bug? I'm using `IConfiguration.GetReloadToken()` and then calling `RegisterChangeCallback`...

[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9310e951-51

[2019-09-16 23:22] guardrex commented on #14346
Hello @jjxtra ... We don't have the staffing to provide support. We just work on the docs here. We recommend that you talk to devs on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter.

[2019-09-16 23:22] #14346 closed

[2019-09-17 01:00] #13014 closed

[2019-09-17 01:15] ssbaca commented on #14342
Rick,

Thank you for your timely reply.  You're really pushing me to VS2019!!  I better get going on it before 2019 is over!!!

Thank you for all the wonderful work that you have done over the years and continue to do.

Regards,
Stephen

[2019-09-17 01:50] bradygaster commented on #14262
Got it - saw Dan's intro email on the mission. All clear, sir. Thanks!

[2019-09-17 03:39] Rick-Anderson opened #14350 "3.0: Scripts and related static assets are now referenced as local files instead of using CDNs based on the current environment."
See Scripts and related static assets are now referenced as local files instead of using CDNs based on the current environment.
in https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-7/

We will provide samples and documentation for adding these features to new apps as needed.

[2019-09-17 03:42] Rick-Anderson opened #14351 "Attribute splatting for components"
See https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-7/
Components can now capture and render additional attributes in addition to the component’s declared parameters. Additional attributes can be captured in a dictionary and then “splatted” onto an element as part of the component’s rendering using the new @attributes Razor directive. This feature is e

[2019-09-17 06:07] #14336 closed

[2019-09-17 08:05] ondravondra commented on #12447
Fortunatelly I found this after almost a day of pain and frustration.

[2019-09-17 09:09] SteveSandersonMS commented on #14337
Sure. I'll handle FlightFinder/Validation.

For the workshop, @rynowak and I can work out how to split that task, since we're the next ones actually delivering this workshop.

[2019-09-17 09:53] swythan opened #14352 "Recommended alternative to Windows Authentication"
RE: "Windows Authentication (NTLM/Kerberos/Negotiate) can't be used with gRPC"

I've not been able to find any information on what the recommended alternative to using Windows Authentication is. I need something that:
 * Can be used from a desktop app
 * Is (largely) transparent to the user
 * Provides per-user authentication & authorization
 * _Can be used when the entire domain is not attached t

[2019-09-17 09:54] SteveSandersonMS opened #14353 "Improve Blazor component lifecycle page"
[EDIT by guardrex to add DR's notes from the 1st PR to this opening content list]

[EDIT by guardrex to update on work done and check off work items that have been completed since this issue was opened]

[EDIT by guardrex to remove plan to create a new lifecycle topic ... that's done]

This is a suggestion that it's time to address a whole bunch of *"how to do..."* question issues that we've been

[2019-09-17 09:59] SteveSandersonMS commented on #14353
cc @mkArtakMSFT @danroth27 @rynowak since we already did the first cut of docs triage yesterday.

[2019-09-17 11:10] javiercn commented on #4556
@mkArtakMSFT This is for on premise active directory (not Azure Active Directory) which is not something we have out of the box support. I've googled it and found the following docs:
https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/development/single-page-application-with-ad-fs

I recommend @danroth27 or @Rick-Anderson follow up with the Identity group doc folks to either update thei

[2019-09-17 12:04] guardrex commented on #14353
We had a *Components* node to hold multiple topics because I thought that things would go in this direction. I wasn't allowed to keep that node (https://github.com/aspnet/AspNetCore.Docs/pull/10716#issuecomment-459464236), so it was dropped.

Options ...

1. Would you like to go back to a *Components* node (folder)? The current *Components* topic becomes the *Overview*/index of the node, and we ca

[2019-09-17 12:13] javiercn commented on #12303
Integration tests setup Development unconditionally as in https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs#L321

In order to support environment variables for multiple environments the way to achieve that is to re-register the environment variables config provider in your custom waf

[code]

@guardrex can we add this to the doc?

[2019-09-17 12:25] guardrex commented on #12303
Sure. I'm 🏃😅 for about the next two weeks with 3.0 priority issues, so I'll add this to the October sprint.

[2019-09-17 12:37] SteveSandersonMS commented on #14353
By all means let's solve the question of how to manage the rest of the "components" material, but I think it can be independent of this specific work item.

My proposal here is just a first step: to split out the lifecycle topics described here into a separate docs page as a sibling of "components", "component libraries", "routing", "js interop" and so on. There's nothing inconsistent about that,

[2019-09-17 12:47] javiercn commented on #12303
@guardrex No problem.

[2019-09-17 12:48] javiercn commented on #12303
@mkArtakMSFT my part in this issue is handled.

[2019-09-17 12:54] javiercn commented on #4556
@mkArtakMSFT I consider my part in this handled, as this scenario is not something our team directly owns.

[2019-09-17 13:25] guardrex commented on #14353
We're only explicitly allowed to change the **physical** TOC (i.e., physical folders/URLs) and UIDs now ... in preview. After 3.0 GA, it will take an :pray: *act of the server gods* :pray: to change the physical TOC/UIDs. I **_strongly recommend_** doing it now ... like today. :smile: lol

Some of your phrasing and words are overloaded, so I don't follow. Explain it out in terms of TOC nodes (fold

[2019-09-17 13:37] guardrex opened #14354 "How to swap dB guidance in Integration Testing topic"
React to https://github.com/aspnet/AspNetCore.Docs/pull/14265#issuecomment-532171607

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77889d43-fedb-f8b4-8fea-379ec946555c
* Version Independent ID: f499b131-8b14-7e10-1728-543fdd5a5656
* Content: [Integration tests in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/c

[2019-09-17 13:51] SteveSandersonMS commented on #14353
I think option 1 is fine. I don't think there's any real advantage to arguing for an extra level of nesting.  Customers won't see any difference as long as they can find the content they want, plus I don't think these topics are truly nestable in any objective way (e.g, there's *lots* of components-related stuff in the other non-"components" pages already).

[2019-09-17 14:00] guardrex commented on #14353
Indeed, yes, no changes is the happy path. :smile: I'm just saying that if such changes are desired, let's make them now.

[2019-09-17 15:09] guardrex commented on #14351
Already handled on https://github.com/aspnet/AspNetCore.Docs/pull/13460 and https://github.com/aspnet/AspNetCore.Docs/pull/13524.

* https://docs.microsoft.com/aspnet/core/mvc/views/razor#attributes
* https://docs.microsoft.com/aspnet/core/blazor/components#attribute-splatting-and-arbitrary-parameters

[2019-09-17 15:31] mkArtakMSFT commented on #4556
@blowdart this seems to be a highly requested topic to document. Do you want to do that? Or maybe @anurse can suggest somebody to to handle this?

[2019-09-17 15:34] blowdart commented on #4556
No. If it's ADFS then it should probably fall to the identity / ADAL team

[2019-09-17 15:58] #241 closed

[2019-09-17 17:14] #14351 closed

[2019-09-17 19:08] Rick-Anderson commented on #4556
I created https://github.com/MicrosoftDocs/windowsserverdocs/issues/3312 and reached out to the team.

[2019-09-17 19:19] #14277 closed

[2019-09-17 19:19] #13607 closed

[2019-09-17 19:20] jmezach opened #14356 "Escape sequence not working with HTTP REPL"
I'm trying to run a script with the HTTP REPL as documented on this page, but the script involves performing a POST and I'm trying to define the request body inline using the -c argument, According to this doc I need to use double quotes around the entire request body and then use single quotes within the request body itself. Unfortunately this does not seem to be accepted by the API (that is runn

[2019-09-17 19:23] jmezach commented on #14356
After some more experimentation I discovered that using \" works correctly, but that is not the suggested approach in the docs, and arguably not very user friendly ;).

[2019-09-17 19:26] ardalis opened #14357 "3.0 Migration Discuss RazorPages AllowAreas option"
[EDIT by guardrex to add the metadata for the migration topic]

In the 2.2 -> 3.0 Migration guide, cover what do with this:

[code]

The line noted above triggers this error in 3.0 latest preview:

[code]

I don't know what nuget package, if any, can be added to fix this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-09-17 19:30] guardrex commented on #13787
@rynowak Update ...

All of the prior issues mentioned :point_up: are resolved and merged.

There are two new issues for me ...

* [Provide guidance about how to do async work in Blazor](https://github.com/aspnet/AspNetCore.Docs/issues/14260)
* [Blazor common sample error](https://github.com/aspnet/AspNetCore.Docs/issues/14338)

... but I doubt that I can get to those this week (or within two week

[2019-09-17 20:01] guardrex commented on #14357
Thus far, I see it was removed here :point_right: https://github.com/aspnet/AspNetCore/commit/f113a20dfd9d0c7c991e425fd8000ed6b64d19a5#diff-5c43af172dc698a7587dca36319961fc

... but is the default for areas to allow them? ... are u saying if you remove that and run it that the areas aren't allowed by default?

[2019-09-17 20:13] ahmeddawood88 opened #14358 "services.AddProtectedBrowserStorage(); return error."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae14b3e3-3271-b919-9e0a-6f317a6b2d2d
* Version Independent ID: e5e1273b-195e-5da1-b4aa-66bbcff1425b
* Content: [ASP.NET Core Blazor state management](https://docs.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-3.0)
* Content S

[2019-09-17 20:15] guardrex commented on #14358
What error? Please provide more information.

[2019-09-17 20:17] ahmeddawood88 opened #14359 "services.AddProtectedBrowserStorage(); return error."
when i inserted this line of code

services.AddProtectedBrowserStorage();

into Startup.cs file of my Blazor app, I got this error:
iservicecollection does not contain a definition for addprotectedbrowserstorage.

I followed exactly what MS document instructed to work on Session management of Blazor App:
https://docs.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-3.0

Any

[2019-09-17 20:20] guardrex commented on #14359
Did you add the package to the project file?

https://docs.microsoft.com/aspnet/core/blazor/state-management?view=aspnetcore-3.0#protected-browser-storage-experimental-package

[2019-09-17 20:20] guardrex commented on #14358
Moved to https://github.com/aspnet/AspNetCore.Docs/issues/14359.

[2019-09-17 20:20] #14358 closed

[2019-09-17 20:21] scottaddie opened #14360 "Improve colorization of code-fenced .NET Core CLI command blocks"
The `dotnetcli` dev lang is now supported and applies coloring to the command block. Apply globally in the doc set.

[2019-09-17 20:21] serpent5 commented on #14357
`AllowAreas` is a compatibility switch. With 3.0 being a breaking change, Areas are "allowed" out of the box, so `options.AllowAreas = true;` can be dropped.

[2019-09-17 20:23] ahmeddawood88 commented on #14359
@guardrex .. do you mean Microsoft.AspNetCore.ProtectedBrowserStorage.? and yes i did add the package

[2019-09-17 20:23] guardrex commented on #14357
Nice one @serpent5 ... I saw a passing remark on it but didn't have confirmation from the commit that dropped it.

[2019-09-17 20:25] guardrex commented on #14359
Yes ... in that case ... open this issue for the engineers at ...

https://github.com/aspnet/AspLabs/issues

... which is the GitHub repo where they maintain that package.

[2019-09-17 20:25] #14359 closed

[2019-09-17 20:26] ahmeddawood88 commented on #14359
will do. Thanks a lot

[2019-09-17 20:33] serpent5 opened #14362 "A few thoughts on "Migrate from ASP.NET Core 2.2 to 3.0""
Just a few thoughts I had when reading through this:

* The Prerequisites tab for Visual Studio references ".NET Core SDK 3.0 Preview", but the other tabs reference ".NET Core SDK 3.0".
* "Migrate Startup.Configure" states: "for example, place UseCors before UseAuthentication, UseAuthorization, and UseMvc", but I think `UseMvc` should probably be `UseEndpoints`.
* The final link in the document di

[2019-09-17 20:52] guardrex commented on #14263
Resolved on https://github.com/aspnet/AspNetCore.Docs/pull/14250.

[2019-09-17 20:52] #14263 closed

[2019-09-17 21:01] #14360 closed

[2019-09-17 21:04] Rick-Anderson opened #14364 "3.0 GA: Update includes/3.0-SDK.md"
https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/includes/3.0-SDK.md

Remove RC1

[2019-09-17 21:18] serpent5 commented on #14362
I just noticed something else:

In the snippet shown, it should be `AddControllersWithViews()` instead of `AddControllers()`.

[2019-09-17 21:49] anurse commented on #14320
This is definitely strange, you should not need to preface the commands with sudo. It sounds like something is messed up with the file permissions on your project rather than this being an issue with npm or SignalR.

[2019-09-17 22:00] Rick-Anderson commented on #14362
Right again. Can you PR this?

[2019-09-17 22:01] serpent5 commented on #14362
Yeah, certainly. Do you want points 2 and 3 plus the `AddControllersWithViews` suggestion?

[2019-09-17 22:02] Rick-Anderson commented on #14362
yes everything

[2019-09-17 22:07] filipecarneiro opened #14365 "Sort and filter persistence"
Any thoughts on how to persist sorting and filtering between page visits?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15e2038b-fa1b-897c-32ee-7173c7d1d909
* Version Independent ID: 000c5a97-c1b2-9a48-289d-83ec4f0c0c98
* Content: [Tutorial: Add sorting, filtering, and paging - ASP.NET MVC with EF Core](https://docs.m

[2019-09-17 22:28] smjltd opened #14367 "Can't create Blazor Client with SDK 3.0.100-rc1-014190"
update the command in docs from
`dotnet new blazorwasm -o WebApplication1`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version Independent ID: 8226ed72-69b2-3c93-a931-218bd11cf9c8
* Content: [Get started with ASP.NET Core Blazor](https://docs.microsoft.com/en-us/aspnet/core/bla

[2019-09-17 22:34] guardrex commented on #14367
@smjltd Run the template install command ...

[code]

It has to be run after the SDK is installed.

[2019-09-17 22:34] #14367 closed

[2019-09-17 22:44] smjltd commented on #14367
you mean 3.0.100-rc1-014190

[2019-09-17 22:47] guardrex commented on #14367
That's the SDK version ... not the package version that contains the templates.

Execute ...

[code]

... and try to create the app from the template again. It should work 🤞.

[2019-09-17 22:50] #14362 closed

[2019-09-17 22:50] wewald commented on #4556
In seeing the possibility of getting some traction on this item, I wanted to clarify that the need we  see is to extend website authentication currently done via Identity (2019 link below) to authenticate RestAPIs users.  My understanding is that OAuth is needed to do this, which would not seem to have any need to  involve Active Directory Federation Services (which to my understanding is to use A

[2019-09-17 22:51] smjltd commented on #14367
it worked thanks 😘

[2019-09-17 23:42] ardalis commented on #14357
I'd mention that it can be removed in the migration doc. Otherwise it's going to be a compiler error customers are going to spend time trying to track down (instead of just deleting that line).

[2019-09-17 23:54] guardrex commented on #14357
@Rick-Anderson should add it.

[2019-09-18 00:04] Rick-Anderson commented on #4556
That's what the issue was opened on. I think the issue got hijacked by ADFS.  @blowdart  @javiercn  please respond.

[2019-09-18 00:22] blowdart commented on #4556
Well now you're changing what the original request was for. The original request was ADFS. Using identity is something different and involves identity server, again, a third party product and not something we would document.

[2019-09-18 00:32] wewald commented on #4556
"Identity" is not a 3rd party product.

"The ASP.NET membership system was introduced with ASP.NET 2.0 back in 2005, and since then there have been many changes in the ways web applications typically handle authentication and authorization. ASP.NET Identity is a fresh look at what the membership system should be when you are building modern applications for the web, phone, or tablet." https://docs

[2019-09-18 00:37] kdawg1406 opened #14373 "Can this feature be used in a viewmodel?"
[EDIT by guardrex to escape the "\<" in the first sentence to get it to show up in the comment.]

To be clear, I'm referring to OwningComponentBase and OwningComponentBase\<T>.

Can this feature be used in a ViewModel or only used in the @code or code-behind file?  If only in @code or code-behind, this would limit the ability to use ViewModels.

Thanks for your thoughts,

Karl

---
#### Document D

[2019-09-18 00:52] Rick-Anderson commented on #4556
@wewald  see https://identityserver.io/ which is **not** a Microsoft product.

[2019-09-18 02:55] Rick-Anderson commented on #14365
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-09-18 02:55] #14365 closed

[2019-09-18 03:04] #14342 closed

[2019-09-18 03:08] Rick-Anderson commented on #14329
I don't see anything in the model changes that would change the schema. Keep working, we'll look at this on the next doc sweep. cc @tdykstra

[2019-09-18 03:09] Rick-Anderson commented on #14320
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-09-18 03:09] #14320 closed

[2019-09-18 03:53] thangchung opened #14377 "HTTP API with JSON doesn't exist (work-around)"
About "A formal specification for HTTP API with JSON doesn't exist", we might put the application gateway like Ocelot in front of gRPC Services to trans-code it (HTTP + JSON -&gt; gRPC + Protobuf), I did it at https://github.com/thangchung/GrpcJsonTranscoder. Or otherwise we can use Envoy proxy to trans-code it like https://www.envoyproxy.io/docs/envoy/v1.5.0/api-v2/filter/http/transcoder.proto

-

[2019-09-18 04:20] pranavkm commented on #14357
@ardalis the feature is on by default (and there isn't a way to disable it). It was added as a compat switch for apps migrating from 2.1 -> 2.2 since it introduced a breaking behavior change. Removing it in 3.0 would be the right thing to do.

[2019-09-18 04:29] Rick-Anderson commented on #14357
@pranavkm I'll update [Compatibility version](https://docs.microsoft.com/en-us/aspnet/core/mvc/compatibility-version?view=aspnetcore-3.0) and in the release notes mention the compatibility features have been removed for 3.0

[2019-09-18 05:44] bradygaster opened #14378 "SignalR client feature matrix"
Create a doc article that represents the client feature matrix of all the SignalR clients. This issue should be edited to come up with the full list of feature we want to list.

@tdykstra linked us to [this article](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#supported-bindings) as an example of such a check-matrix.

We should agree on the list of features in

[2019-09-18 06:49] mxa0079 commented on #12408
How is poorly written documentation not a pressing issue? This is the entry point to new developers and a driver for adoption (just look at Vue). What is the value of a full-featured, efficient, and modern framework if the entry cost is too high and people wont use it?

[2019-09-18 06:52] mxa0079 opened #14379 "Missing information about using services.Configure<> to inject configuration into controllers"
This article is missing a very useful and relevant technique to inject a custom configuration using `services.Configure<MyConfigCustomObject>(Configuration.GetSection("MyConfig"))`
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb4d762-3910-2c57-8741-3306c15537b6
* Version Independent ID: ba2254a0-ea8e-9b28-e94b-edd0fc

[2019-09-18 06:59] Jeevanchathuranga opened #14380 "Identity Scaffolding not working VS 2019 version 16.2.5"
I add the new scaffold item for the fresh my ASP-NET Core 2.2/2.1 MVC application.

Set up

- ASP.NET Core 2.2.
- Individual authentication.
- Visual Studio 16.2.5

After running the Scaffold command, the code generation log says:
Finding the generator 'identity'...
Running the generator 'identity'...
....and it just waits there forever

[2019-09-18 07:10] manigandham opened #14381 "WebHost in ASP.NET Core 3 startup order (code shows IHostedService tasks before IApplicationStartup notified)"
On this page it says:

However the code from the latest v3.0.0-preview9 shows that the `StartAsync` for hosted services from `WebHost` is still called before `ApplicationStarted`: https://github.com/aspnet/AspNetCore/blob/v3.0.0-preview9.19424.4/src/Hosting/Hosting/src/Internal/WebHost.cs#L154

This is the better and expected behavior by the way, looks like it's just the documentation that needs t

[2019-09-18 07:33] shceci commented on #11441
Add below code in your startup.cs Configure:
`IocManager.Instance.Container = app.ApplicationServices.GetAutofacRoot();`

[2019-09-18 08:40] John0King opened #14382 "How can the authentication cookie share with Java, PHP app ?"
How can the authentication cookie share with Java, PHP app ?
and how can it share the cookie with multiple non-subdomain such like `www.a.com` and `www.b.com`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99307104-c0d7-3e82-f0b2-af61dcfe072a
* Version Independent ID: 315c02cb-54c4-e386-da85-6e4311ca10c2
* Content: [Sh

[2019-09-18 11:58] Rachitgupta1994 opened #14383 "Method not available anymore"
context.Response.WriteAsync is not available now. How can we modify the response now? I am using .net core 2.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03fdf4-b19b-17c3-04f4-336ab6d2ee06
* Version Independent ID: 38515dfb-91a5-b395-db9d-084bbaf095c8
* Content: [Handle errors in ASP.NET Core](https://docs.micros

[2019-09-18 11:58] gioullis opened #14384 "HttpContext.User.Identity.IsAuthenticated is false"
I have added a breakpoint in the line 122 at Login.cshtml.cs file right after the
await HttpContext.SignInAsync(
                    CookieAuthenticationDefaults.AuthenticationScheme,
                    new ClaimsPrincipal(claimsIdentity),
                    authProperties);
statement. I have also added the watch  HttpContext.User.Identity.IsAuthenticated and displays false. Is that normal?

---

[2019-09-18 11:59] guardrex commented on #14379
Hello @mxa0079 ... That's part of the Options API and covered here :point_right: https://docs.microsoft.com/aspnet/core/fundamentals/configuration/options#general-options-configuration-1

[2019-09-18 11:59] #14379 closed

[2019-09-18 12:00] Rachitgupta1994 commented on #14383
I read another issue and this problem was taken care of in that. Closing the issue now. Thanks

[2019-09-18 12:00] #14383 closed

[2019-09-18 12:13] guardrex commented on #14381
@Tratcher to confirm and then I'll make an update. Thanks for reporting @manigandham.

[2019-09-18 12:48] ardalis commented on #14357
@pranavkm Thanks! I'm fine with removing it of course. My issue was that in the course of upgrading an app from 2.2 to 3.0 I had a bunch of missing references (due mostly to things coming out of Microsoft.AspNetCore.App) and this error blended in with those. So I spent at least 20 minutes trying to figure out which Nuget package I had to add to fix the error. Including a note that it can be remove

[2019-09-18 13:11] davidfowl commented on #14381
Yep we made a change in 3.0 https://github.com/aspnet/AspNetCore/pull/11575

[2019-09-18 13:34] nphmuller opened #14385 "Add note that async postfix is no longer supported in controller action name during routing configuration"
I just ran into this breaking change described here: https://github.com/aspnet/AspNetCore/issues/14103
It would be great if this could be added to these docs, because I ran into this and figured it out by trial and error.
Could save the next person that ran into this a bit of time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-09-18 14:36] scottaddie commented on #14385
I appreciate you pointing this out, @nphmuller. I'll take care of it.

[2019-09-18 14:41] scottaddie opened #14386 "Update : Migrate from ASP.NET to ASP.NET Core for 3.x"
Update the entire ASP.NET-to-ASP.NET Core doc series for 3.x.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1133d6d1-7801-654c-2b7c-dad2bb342501
* Version Independent ID: a7ccce22-f905-06f4-8847-b9eeaf534e1f
* Content: [Migrate from ASP.NET to ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/migration/proper

[2019-09-18 15:19] stalbot123 opened #14387 "Sign Out Doesn't Work"
Following the steps above work great - I'm able to authenticate with Microsoft. The problem is that a user will Log Out of my application, which invalidates my sites tokens/cookies (which is good), but then when another user signs in, the Microsoft Sign In page is shown for a brief moment before signing in with the first user's credentials.
How do I invalidate the first user's token?

---
#### Doc

[2019-09-18 15:32] nathanjwtx opened #14388 "<remarks> does not return JSON as shown in image"
When I try to add a JSON object in between &lt;remarks&gt; tags, the end result is a string, not the nicely formatted JSON output shown in image above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14fce65f-1337-58cb-2193-8d8e0e62792d
* Version Independent ID: 59222460-a971-e76e-4fe9-23d4d7d768ee
* Content: [Get start

[2019-09-18 15:50] nathanjwtx commented on #14388
After copy/pasting the remarks code from above, it does format JSON so long as the wording immediately following <remarks> is not indented.

[2019-09-18 15:53] glebkozh commented on #6949
@davidfowl
And what if I'd like to have some dependency injected in hub with connection scope? Is there any lifetime scope that is associated with connection itself? Or can I somehow create child scope for connection and resolve hub instances and their dependencies manually using this scope?
Thanks!

[2019-09-18 16:18] davidfowl commented on #6949
No but you can create one and stick the scope in the `Connection.Items` property bag in `OnConnectedAsync`, then you can dispose the scope in `OnDisconnectedAsync`. Hub instances can't be connection scoped.

[2019-09-18 16:18] guardrex commented on #12841
@davidfowl @anurse The hosted service topic has separate 2.x samples: Web Host and Generic Host.

❓ Would you like the 3.x updates to include a 3.x Web Host sample, or should I drop that sample and only have a 3.x Generic Host sample going forward?

[2019-09-18 16:23] Rick-Anderson commented on #14329
If you're using SQLite, there won't be any changes,

[2019-09-18 16:23] #14329 closed

[2019-09-18 16:33] AmjadKh commented on #14329
I found the problem, I did not add the DbSet<ClassName> inside the Context Class, that's why the tool did not recognize the change

[2019-09-18 17:19] danacon01 commented on #4556
chiming in here again as i agree with wewald that the request for guidance is nothing to do with adfs. there is guidance in the docs for how to do this with aspnet mvc but there is no comparable guidance for web api (which is why the request materialised in the first place i think).
@Rick-Anderson you pointed us to identityserver, are you saying then that there is no solution in aspnet core web ap

[2019-09-18 17:32] Legends commented on #10429
Correct!

[2019-09-18 17:46] anurse commented on #12841
I think we should drop the Web Host sample from 3.x. It's deprecated.

[2019-09-18 17:49] guardrex commented on #12841
What about the (somewhat crappy) Generic Host version for 2.x. That's probably not such a good thing to have. It isn't tied into the topic. It was just a *show 'n tell* from the early Generic Host days. Shall I kill that thing off?

[2019-09-18 17:54] blowdart commented on #14251
Given that google has just changed the rules, no, it's not good browser support and probably won't be for months if not another year.

Until such time as browser support will be fully updated any updates we give will break at least one browser. So unassigning myself and leaving it in the backlog to revisit in 6 months.

[2019-09-18 17:58] #14231 closed

[2019-09-18 18:00] Rick-Anderson commented on #14382
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-09-18 18:00] #14382 closed

[2019-09-18 18:01] Rick-Anderson commented on #14384
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-09-18 18:01] #14384 closed

[2019-09-18 18:06] cjblomqvist commented on #14251
@blowdart - the chrome change is to set it as default, so I'm not sure how that goes against adding a note about it to the docs and how that changes browser support?

Of course, the note could mention the details about how browsers treat this in detail if you prefer, but at least some general note would be good right?

[2019-09-18 18:09] blowdart commented on #14251
The chrome changes break safari. So I'm not going to document this until the state of the changes and browser support is clear. If you want to write a PR feel free

[2019-09-18 18:12] Rick-Anderson commented on #14387
If you think this is a product bug, create the simplest possible sample that reproduces the problem and open an issue at [GitHub ASP.NET Core](https://github.com/aspnet/AspNetCore/issues/new?template=bug_report.md)

Include steps to reproduce the bug and the version you're using `dotnet --version`

[2019-09-18 18:12] #14387 closed

[2019-09-18 18:24] ashish4915 opened #14390 "Seeing Different Results btw VS and CL when Trying to Include Files Using DotNetPublishFiles in csproj File"
# Issue description

We need to copy files from another location into a location in our publish destination.

We added the following to the csproj file:

[code]

The files move correctly when publishing through VS 2017 but it does not work from the command line. We are using the following command:

`dotnet  publish src\TechShare.EdrGateway.UI --configuration Release --output c:/publish/p1 --framew

[2019-09-18 18:36] Rick-Anderson opened #14391 "New topic: Secure Web API"
Currently we support authentication and authorization for APIs with SPA apps. For any other scenario,[ Identity Server](https://identityserver.io/) already has plenty of documentation and samples.

[2019-09-18 19:12] #11962 closed

[2019-09-18 21:00] stalbot123 commented on #14387
Not sure that it's a defect; perhaps I don't understand the proper way to logout of the application. This guide doesn't talk about a successful logout though, so I wouldn't know what I'm doing wrong. I can open an issue as you instruct. How do I ensure that it gets tagged to external login appropriately?

[2019-09-18 21:23] CTheCheese93 commented on #13752
As a newcomer, this section was extremely frustrating. The use of ViewModels in this context feels incomplete and left me with more questions than answers. Is TryUpdateModel preferred when doing Updates while ViewModels are better for Creation? How would an update with a ViewModel be implemented?

I'm unfamiliar with InputModel, but it would make sense if the tutorial represented all three options

[2019-09-18 21:52] josheinstein opened #14393 "What's the reasoning behind updating some properties (email, phone) with method calls when UpdateUserAsync is called anyway?"
When adding custom user data to an identity user, the profile page/controller at Account/Manage/Index needs to be updated to capture the additional properties and call UpdateUserAsync anyway. Is there any benefit to leaving in calls to methods like SetEmailAsync and SetPhoneNumberAsync? Should these updates be converted to simple property assignments like the DOB and Name properties?

---
#### Doc

[2019-09-18 22:47] josheinstein commented on #14393
I think I understand now... I guess setting those properties may result in a verification workflow, so that must be why they are set differently than basic properties. Still getting familiar with this identity framework.

[2019-09-18 22:47] #14393 closed

[2019-09-18 22:57] bradygaster commented on #14378
created #14394 cc @davidfowl @halter73 @anurse @mikaelm12 @scottaddie - pinging team to come up with a few more line items to add to the matrix.

[2019-09-18 22:58] mchudinov opened #14396 "Where is the example source code ?"
Is example source code available?
Code in the section "Configure the underlying OpenIdConnectOptions/JwtBearer/Cookie options" is no clear. It is "omitted for brevity" too much. It is absolutely unclear how to setup authentication from B2C based on this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 765e611b-a

[2019-09-18 22:58] bradygaster commented on #14378
note i did not ping @BrennanConroy as he'd already started commenting b/c he is that is awesome

[2019-09-18 23:02] Rick-Anderson commented on #14387
Selecting the sign-out UI should do a correct sign-out. If it doesn't, create the simplest possible sample (from the templates) that reproduces the problem. I think there was a problem with 2.1. What version are you using?

[2019-09-18 23:05] Rick-Anderson commented on #13752
`InputModel` is a ViewModel, it's just a VM named `InputModel`

cc @tdykstra

[2019-09-18 23:07] guardrex commented on #12841
@anurse I have a version of the sample app running. Would you plz take a look and help me with a few questions/concerns?

I put it up here :point_right: https://github.com/guardrex/BackgroundTasks30

I based that on the Worker Service template.

1. It used to be that only the Queued Hosted Service example relied on the `BackgroundService` class (in the 2.x sample). Now, I'm trying a version where

[2019-09-18 23:58] stevo-knievo commented on #14354
@guardrex Guidance would be fantastic! I hope not just only on swapping the database. I hope also on how to seed the database. Currently, the seeding is happing in the fixture class. Meaning you can't really reuse the fixture class if you would like to seed the database with a different set of data.

[2019-09-19 00:41] #12923 closed

[2019-09-19 02:34] danroth27 opened #14404 "Make sure all Blazor WebAssembly content is clearly labeled as Preview for the 3.0 release."
The Blazor WebAssembly content is intermingled with the Blazor Server content in the docs right now. We need to make sure its clear that Blazor WebAssembly is still in preview even after .NET Core 3.0 has shipped.

Most of the Blazor docs have at least some mention of Blazor WebAssembly. Maybe we should just put a banner in all the Blazor pages that says Blazor WebAssembly is still in preview?

[2019-09-19 02:43] Rick-Anderson opened #14405 "new doc on the shared framework"
See https://github.com/dotnet/docs/issues/5009

[2019-09-19 03:43] jasonwongys commented on #8534
i have found the solution while scaffolding the project, the scaffolding was unable to find the Movies folder. Change it to below. Use backslash instead of forward slash. Before excuting the below command, you may want to create a Movies folder first inside your Pages folder. I am using VS code.

dotnet aspnet-codegenerator razorpage -m Movie -dc RazorPagesMovieContext -udl -outDir Pages**/**Movie

[2019-09-19 03:44] jasonwongys commented on #6420
i have found the solution while scaffolding the project, the scaffolding was unable to find the Movies folder. Change it to below. Use backslash instead of forward slash. Before excuting the below command, you may want to create a Movies folder first inside your Pages folder. I am using VS code.

dotnet aspnet-codegenerator razorpage -m Movie -dc RazorPagesMovieContext -udl -outDir Pages/Movies --

[2019-09-19 03:47] jasonwongys commented on #7305
i have found the solution while scaffolding the project, the scaffolding was unable to find the Movies folder. Change it to below. Use backslash instead of forward slash. Before excuting the below command, you may want to create a Movies folder first inside your Pages folder. I am using VS code.

dotnet aspnet-codegenerator razorpage -m Movie -dc RazorPagesMovieContext -udl -outDir Pages/Movies --

[2019-09-19 05:11] Rick-Anderson commented on #8534
The VSC instructions are correct. Did you follow the wrong instructions?

[2019-09-19 05:30] manigandham commented on #12841
@guardrex

For #5, I believe the issue is that the `VideoWatcher` class is trying to get the path to the content root directory which is set in `Startup.cs` as key/value data on the AppDomain. It would be simpler to just inject the `IHostEnvironment` in the constructor and read the `ContentRootPath` directly instead.

[2019-09-19 08:23] paul-michalik commented on #8118
The easiest robust and portable (with respect to content negotiation and such) method to handle errors in WEB API apps is the one mentioned by @matteocontrini in the very first comment. ASP.NET Core team, please add a section to the documentation which advises the readers to use it!

[2019-09-19 09:18] glebkozh commented on #6949
@davidfowl I see, thank you
Am I right that the only solution is to resolve hub dependencies manually inside hub using lifetime scope stored in `Connection.Items`? Ideally I've wanted to get hub instance itself resolved via custom lifetime scope object. I can create scope, for example, in `OnConnectedAsync` of `HubDispatcher`, but it seems that I won't be able to access the scope in `HubActivator`

[2019-09-19 10:07] PawelHaracz opened #14406 "Differences between asp.net middleware and GRPC interceptor"
Can you tell more whats differences are between asp.net middleware and GRPC interceptor when I'm using GRPC communication in .net core3.0? is a performance of GRPC interceptor better? or it's almost the same, and there is one difference that GRPC can have access to response/request before and after the route handler is called

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-09-19 11:19] guardrex commented on #12841
@manigandham Ah, yes ... I see what you mean. Thanks.

[2019-09-19 11:32] jimasp opened #14407 "Microsoft api versioning swagger autogen"
Just a comment - I find it odd there is no mention of the autogen provided via the Microsoft api versioning package?
https://github.com/microsoft/aspnet-api-versioning/wiki/API-Documentation#aspnet-core

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f34eea37-51a4-6227-f5ed-6501624ad045
* Version Independent ID: 2994cf6

[2019-09-19 12:04] guardrex opened #14408 "RCL topic update for 3.0"
Call out -support-pages-and-views option when creating an RCL

This is a 3.0 update. https://github.com/aspnet/AspNetCore/issues/7536

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fd019c7-ceb7-6ef3-26ba-6b44341b6fc5
* Version Independent ID: fd116d00-0dc7-efaf-c714-34d77b345a05
* Content: [Reusable Razor UI in class

[2019-09-19 12:09] enetstudio commented on #14144
I just can't get this; why the bind-Value="@password" in <PasswordField bind-Value="@password" />
and  not <PasswordField bind-password="@password" />
Are we not suppose to use the name of a parameter property after the hyphen; in that case password ?
As far as I understand, when you use Html input tag, and use @bind="@SomeProperty", the default attribute is value. This is as though we used this s

[2019-09-19 12:11] enetstudio commented on #14144
I just can't get this; why the bind-Value="@password" in `<PasswordField bind-Value="@password" />`
and not  `<PasswordField bind-password="@password" />`
Are we not suppose to use the name of a parameter property after the hyphen; in that case password ?
As far as I understand, when you use Html input tag, and use @Bind="@SomeProperty", the default attribute is value. This is as though we used th

[2019-09-19 12:24] guardrex opened #14409 "Component binding: 'bind-value' and 'bind-property' syntax confusing"
From @enetstudio at https://github.com/aspnet/AspNetCore.Docs/issues/14144#issuecomment-533101340 ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent ID: 9d945996-ad02-bd4b-58ea-c465cc5cc74c
* Content: [Create and use ASP.NET Core Razor components](https://docs.

[2019-09-19 12:27] guardrex commented on #14144
@enetstudio Moved that to https://github.com/aspnet/AspNetCore.Docs/issues/14409.

Please use the feedback form at the bottoms of the topics. It adds metadata for working issues and automatically pings the author. No worries on this one ... let's pick up the discussion over there.

[2019-09-19 12:32] guardrex commented on #14409
Hello @enetstudio ... Yes, I'm currently aware (and use in the sample code in the *Chained bind* section of this page) **the property** (`<PasswordField @bind-Password="password" />`) and not `bind-value`. `bind-value` is used with `bind-value:{event}`.

We'll wait here for engineering make additional remarks for doc updates. We need a little bit of time tho ... a couple of weeks. We're working ha

[2019-09-19 12:42] enetstudio commented on #14409
Thanks for the clarification..

[2019-09-19 14:14] rposener opened #14410 "Add Recommendation about Lifetime"
If we are registering a Client with a DI framework, is there any recommended lifetime?  Should it be Singleton (will it safely reconnect and such)?  Or should we re-resolve it per scope or just make it transient resolution when needed - perhaps the static Channel is managing a persistent connection such that we don't need to worry about these details?  Some information on this page would be helpfu

[2019-09-19 15:37] davidfowl commented on #6949
Yea that's not possible today.

[2019-09-19 16:21] anurse commented on #12841
I think it's probably better for `TimedHostedService` to directly implement `IHostedService`. It's not really a match for the `BackgroundService` model. `BackgroundService` assumes that `ExecuteAsync` will be the **lifetime** of the service, and the CancellationToken is the signal that `StopAsync` was called. In this case, the `ExecuteAsync` method isn't really doing anything, the timer is doing a

[2019-09-19 16:24] guardrex commented on #12841
Thanks @anurse ... I'll react to your feedback.

[2019-09-19 17:00] aueda opened #14415 "How can we implement global exception handling?"
The section "Places where errors may occur" shows all the places where an exception might be thrown, but the recommended resolution is wrapping the code with local try-catch statements. While we can add local try-catch to all the places, we might miss a few places and an unhandled exception might freeze the application.

Is there a way to implement a global exception handling, so we can catch any

[2019-09-19 17:30] Rick-Anderson commented on #8118
This was fixed in #14366 and will go live today. cc @pranavkm @scottaddie

[2019-09-19 17:30] #8118 closed

[2019-09-19 18:07] pranavkm commented on #14415
@aueda please see the discussion here: https://github.com/aspnet/AspNetCore/issues/13452

[2019-09-19 18:07] #14415 closed

[2019-09-19 18:49] caiohoffmann opened #14419 "Capture references to components"
I'm trying to capture the component and Show or Hide him on @onmouseover, but it gives me an error of:
Error	CS0029	Cannot implicitly convert type 'Microsoft.AspNetCore.Components.ElementReference' to '%ComponentName%'. And it's not reconizing the Show method.
Meaning, the compiler is seeing the Component as 'Microsoft.AspNetCore.Components.ElementReference' which doesn't have a Show method.

Am i

[2019-09-19 19:05] guardrex commented on #14419
@caiohoffmann Provide more info: Show the component. What's its name (file name)? Where is it in the app (what folder)? FYI: We're all 🏃🏃😅🏃 right now on 3.0 updates. Your best bet for a fast answer is probably to open an issue on Stack Overflow or a support chat, such as Slack or Gitter.

[2019-09-19 19:09] caiohoffmann commented on #14419
In my TaskBlock.razor:

<BlockMenu @ref="Menu" />

@code {

private MenuBlock Menu;

    private void ShowMenu()
    {
        Menu.Show();
    }
}

[2019-09-19 19:10] caiohoffmann commented on #14419
I'll open an issue on StackOverflow either way!

[2019-09-19 19:14] guardrex commented on #14419
Did you mean ...

[code]

[2019-09-19 19:20] caiohoffmann commented on #14419
Yes!

Thanks, sorry for that!

[2019-09-19 19:21] #14419 closed

[2019-09-19 19:53] fitdev opened #14420 "Configure services without Startup Example is wrong"
[EDIT by guardrex to fix the code block]

As of Asp.Net Core 3 RC1, the example does not work. It took me a while to figure out why. Turns out the
[code]

parts must be called _after_ `.ConfigureWebHostDefaults( ...` had a chance to run. So, configuration of ASP-specific services (like MVC or Authorization) need to happen within ```
[code]

---
#### Document Details

⚠ *Do not edit this section. I

[2019-09-19 20:16] guardrex commented on #14338
This was caused by a local configuration error. The sample app is :+1:.

[2019-09-19 20:16] #14338 closed

[2019-09-19 22:21] Tratcher commented on #14420
Known issue: https://github.com/aspnet/AspNetCore/issues/13765

[2019-09-19 22:22] guardrex commented on #14420
Since it's marked for 3.1, shouldn't we go ahead with the PR that I just put up?

[2019-09-19 22:22] #14420 closed

[2019-09-19 22:25] RickAndMSFT commented on #14269
@scottaddie  the content really belongs in the .NET repo, not here.

[2019-09-19 23:20] #13353 closed

[2019-09-20 00:30] #10189 closed

[2019-09-20 00:30] #11026 closed

[2019-09-20 00:30] #9816 closed

[2019-09-20 00:33] Rick-Anderson opened #14428 "we don't refer to the strings passed into link generation as URIs."
See https://github.com/aspnet/AspNetCore.Docs/pull/13993#pullrequestreview-289662320

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 164d7efe-01bf-0b26-7a23-f10704f338f5
* Version Independent ID: b3e2bc87-1582-2d34-c7c2-7c8e901ac771
* Content: [Introduction to Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-u

[2019-09-20 00:33] #12678 closed

[2019-09-20 00:33] #13377 closed

[2019-09-20 00:55] Rick-Anderson commented on #14390
Open an issue in https://github.com/dotnet/cli and  include `dotnet --info` output.

[2019-09-20 00:55] #14390 closed

[2019-09-20 00:55] #14388 closed

[2019-09-20 00:57] Rick-Anderson commented on #14380
What SDK? Does the command line work?
Use the Visual Studio feedback menu item to leave feedback.  Help >  Send Feedback

[2019-09-20 00:57] #14380 closed

[2019-09-20 00:59] Rick-Anderson commented on #14407
@thangchung please review.

[2019-09-20 01:06] Rick-Anderson commented on #14396
@mchudinov  there is no sample code with this. Hopefull @CamSoper can provide more details.

[2019-09-20 02:14] Rick-Anderson commented on #13359
Fixed in #12077

[2019-09-20 02:14] #13359 closed

[2019-09-20 02:20] Rick-Anderson commented on #12316
@serpent5 this looks like an easy one.

[2019-09-20 02:23] Rick-Anderson commented on #11220
@serpent5 this made it into the https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/formatting?view=aspnetcore-3.0 - right?

[2019-09-20 02:26] Rick-Anderson commented on #14109
@pranavkm  30 second review.

[2019-09-20 02:27] Rick-Anderson commented on #12809
Fixed in #12077

[2019-09-20 02:27] #12809 closed

[2019-09-20 02:28] Rick-Anderson commented on #11429
@serpent5 please review

[2019-09-20 03:04] #14294 closed

[2019-09-20 03:37] thangchung commented on #14407
Hi @Rick-Anderson What can I do in this case?

[2019-09-20 07:17] dvdgutzmann opened #14432 "Wrong return type in IActionResult examples?"
Shouldn't the return type in the examples for IActionResult type actually be IActionResult and Task&lt;IActionResult&gt;, respectively?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa03501b-5e71-4c18-0269-39babbf9d93c
* Version Independent ID: b51bc104-a6e2-b21f-8362-45cee22e8c22
* Content: [Controller action return

[2019-09-20 08:54] SteveSandersonMS commented on #13541
It's here: https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-3.0#inputtext-based-on-the-input-event

[2019-09-20 08:54] #13541 closed

[2019-09-20 08:56] epsitec opened #14433 "How about internationalization (i18n) and translation"
Hardcoding the validation messages into C# code attributes is a straightforward solution for simple projects. But how would you integrate this with I18N?

[code]

I feel that as of today, Blazor is not yet ready for real-world scenarios because of this. Living in a multilingual country (Switzerland), where we need to generate UIs at least in German, French and English, and ideally also in Italian

[2019-09-20 09:54] SteveSandersonMS commented on #14337
Validation/FlightFinder done in https://github.com/aspnet/samples/pull/46

[2019-09-20 12:19] #14404 closed

[2019-09-20 13:31] khteh opened #14434 "HttpRequest.Protocol always / only reports HTTP/1.1"
"If an HTTP/2 connection is established, HttpRequest.Protocol reports HTTP/2."

That's not true. I have the following setup in Program.cs:
[code]
And I log HttpRequest:
[code]
I use Chrome to browse to my application. Logs are collected by Elasticsearch and shown in Kibana. Application is deployed to Kubernetes on cloud behind Load Balancer which uses HTTPS. Unfortunately ONLY HTTP/1.1 is recorded

[2019-09-20 13:33] guardrex commented on #14434
Hello @khteh ... please open this for the engineers at https://github.com/aspnet/AspNetCore/issues. If we need to make a docs change after they react to that, then we can re-open over here.

[2019-09-20 13:33] #14434 closed

[2019-09-20 13:58] guardrex commented on #14433
There are some existing engineering issues. Search over there and see what you can find:

* https://github.com/aspnet/AspNetCore/issues/12158
* https://github.com/aspnet/AspNetCore/issues/12088

[2019-09-20 15:02] jagwaran opened #14435 "The in-process hosting model isn't supported for ASP.NET Core apps that target the .NET Framework."
The in-process hosting model isn't supported for ASP.NET Core apps that target the .NET Framework.

What does "ASP.NET Core apps that target the .NET Framework" means? Also how do I host ASP.NET Core app in IIS with in-process hosting model?

[2019-09-20 15:15] Legends commented on #13331
`IHostingEnvironment` is deprecated

[2019-09-20 15:24] guardrex commented on #13331
Yes, I'll be getting to this topic soon ... either Saturday or Sunday I think.

[2019-09-20 15:34] guardrex commented on #14435
It means when you build an ASP.NET Core app that sets it's target framework to the .NET Framework. For example:

[code]

For hosting and deployment guidance, see :point_right: https://docs.microsoft.com/aspnet/core/host-and-deploy/ and the topics under that node in the sidebar table of contents, especially https://docs.microsoft.com/aspnet/core/host-and-deploy/iis/. There's hosting model informati

[2019-09-20 15:34] #14435 closed

[2019-09-20 15:35] guardrex commented on #14435
Oh ... @jagwaran ... one more quick note. When you open a docs issue, use the feedback form for the page at the bottom of any topic. It adds metadata that helps us work the issue, and it automatically pings the author of the topic. No worries tho ... we'll get back to you either way ... it just makes things go a little smoother.

[2019-09-20 16:05] #14337 closed

[2019-09-20 16:48] jagwaran commented on #14435
Thanks for the response @guardrex .

I installed ASP.NET Core Module (for IIS) and I have a simple ASP.NET Core 2.1 app with <TargetFramework>netcoreapp2.1</TargetFramework> in the vsproj project file

I published to IIS and I set the hostingModel="inprocess" in the web.config for aspNetCore.

But still, when I see the "Server:" in response header it says "Kestrel". This means, the app is running

[2019-09-20 16:57] jagwaran opened #14436 "Hosting Model"
I installed ASP.NET Core Module (for IIS) and I have a simple ASP.NET Core 2.1 app with netcoreapp2.1 in the vsproj project file TargetFramework element.

I published to IIS and I set the hostingModel="inprocess" in the web.config for aspNetCore.

But still, when I see the "Server:" in response header in the browser developer tool, it says "Server: Kestrel". This means, the app is running with Out

[2019-09-20 17:00] guardrex commented on #14436
In-process is for 2.2 or later. The hosting model content appears in the docs depending on the version selector in the upper left-hand corner of the docs page. Since you're trying to use 2.1, set it down to 2.1. You'll see all of the hosting model content disappear given that 2.1 doesn't support in-process.

Yes on the `Server` header. It will change for in-proc. For example, my test app running o

[2019-09-20 17:00] #14436 closed

[2019-09-20 17:35] udlose opened #14437 "AzureAD Jwt Bearer Sample"
Are there any samples on setting up AzureAD authentication with JwtBearer option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82950389-524e-0754-a125-addeccbdb1b3
* Version Independent ID: 80b7f7cf-dc2e-137a-5aa7-fa88da63ac80
* Content: [Authentication samples for ASP.NET Core](https://docs.microsoft.com/en-us/aspne

[2019-09-20 17:36] jagwaran commented on #14436
Thanks again @guardrex
I missed to see the content changing when I change the version links at the top in the docs.
It was my bad that I was looking for the entire page reload, but it is "AJAXified" or show/hide implemented :).

[2019-09-20 18:01] Legends commented on #13331
Enjoy your weekend

[2019-09-20 18:16] benjwexler opened #14440 "Where to place MvcMovieContext.cs file"
This page states the following:

'Add the following MvcMovieContext class to the Models folder:'

I'm looking at the source code and this file is NOT in the Models folder, but in directory named 'Data' in the root of the project

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d975a83-1550-b284-d0d8-7fe2ea206ff5
* Versi

[2019-09-20 18:22] scottaddie commented on #14432
Yes. Thank you for letting us know.

[2019-09-20 18:37] Rick-Anderson commented on #14440
@benjwexler  yes, fixed in the 3.0 version
https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model?view=aspnetcore-3.0&tabs=visual-studio-code#create-a-database-context-class

[2019-09-20 18:37] #14440 closed

[2019-09-20 18:39] Rick-Anderson commented on #14428
@serpent5 can you suggest better wording in the 3.0 version?

[2019-09-20 18:44] Rick-Anderson commented on #14428
How about changing
`is part of the URI to access the ` to
`is part of the Page name to access the`

and
`can be used to generate URIs to the`  to
`can be used to generate the Page name to the`

[2019-09-20 19:40] scottaddie opened #14441 "Update HTTP REPL installation command for 3.0 RTM"
When 3.0 ships next week, the `--version` option should be removed from the installation command.

[2019-09-20 20:21] rynowak commented on #10618
Some updates from me here: https://github.com/aspnet/AspNetCore.Docs/pull/14442

[2019-09-20 20:22] serpent5 commented on #11220
@Rick-Anderson No docs changes were made. It didn't work in 3.0 because of the bug that was raised and fixed, but it worked afterwards with `WeatherForecastController`.

Looking at this again now, it looks like the example in the docs doesn't work because it's doubling up the `[controller]` token in the route for `ProductsController`. I can look into that a bit more and PR it. Is there anything el

[2019-09-20 20:26] clintmayer opened #14443 "Avoiding hard-coded strings: needs Controller example"
Right now there's only an example using nameof in Razor views. There should also be an example using typeof when returning ViewComponent from a Controller method. I learned this from: https://visualstudiomagazine.com/articles/2018/02/01/invoking-view-components.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d2902

[2019-09-20 20:28] serpent5 commented on #12316
@Rick-Anderson Removing the code references looks simple enough, but the sample and corresponding code snippets are all ASP.NET Core 2.0 and the screenshot would also need to be updated (or dropped?). What would you like me to do?

[2019-09-20 20:32] serpent5 commented on #11429
@Rick-Anderson The setup sounds a little different here in that I _think_ @LasseNisted is suggesting that the `Startup` class assembly is a dependency of the controller's class assembly rather than the more typical other way around. I'll investigate.

[2019-09-20 21:03] serpent5 commented on #14428
How about something along the lines of this?:

[2019-09-20 21:13] Rick-Anderson commented on #11220
No, that should be good. Thanks.

[2019-09-20 21:15] Rick-Anderson commented on #12316
Delete the screen shot.

[2019-09-20 21:16] Rick-Anderson commented on #14428
Perfect. Do you want to PR this?

[2019-09-20 21:54] OpenSpacesAndPlaces commented on #7913
Is there any fix for this problem - seeing the same thing in 2.2 with:
[code]

[2019-09-20 21:55] Rick-Anderson opened #14447 "Create Microsoft.dotnet-openapi doc"
## General
https://docs.microsoft.com/en-ca/aspnet/core/tutorials/web-api-help-pages-using-swagger?view=aspnetcore-2.1 covers the current state of client code generation in ASP.NET Core web sites. However, we're working to give customers simple ways to annotate their project files for automated code generation during every build (as source API descriptions change) and that should also be documente

[2019-09-20 22:10] Tratcher commented on #7913
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.2#troubleshoot

[2019-09-20 23:51] rynowak commented on #13787
@guardrex  - PR here: https://github.com/aspnet/AspNetCore.Docs/pull/14451#pullrequestreview-291435819

[2019-09-20 23:51] sbsw opened #14453 "Docs are no longer current"
The code example at the beginning of this document refers to `services.AddIdentity` and `services.ConfigureApplicationCookie`, but guidance on other Microsoft documentation pages (as well as the code created by the current VS templates) uses `services.AddDefaultIdentity` and `services.Configure<CookiePolicyOptions>`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-09-21 00:08] sbsw opened #14455 "services.AddAuthentication().AddMicrosoftAccount is obsolete"
@Rick-Anderson  edit: See [UPDATING MICROSOFT ACCOUNT LOGINS IN ASP.NET CORE WITH OPENID CONNECT AND AZURE ACTIVE DIRECTORY](https://damienbod.com/2019/05/17/updating-microsoft-account-logins-in-asp-net-core-with-openid-connect-and-azure-active-directory/) by @damienbod

I am just finishing up an incident with Microsoft Tech support regarding the correct way to add Azure AD as an "external login p

[2019-09-21 01:25] Rick-Anderson commented on #14455
@sbsw `AddMicrosoftAccount` is used to [Configure Microsoft Account Authentication](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/microsoft-logins?view=aspnetcore-2.2#configure-microsoft-account-authentication), not Azure AD.

cc @CamSoper @scottaddie

[2019-09-21 01:27] Rick-Anderson commented on #14453
@haok please review

[2019-09-21 01:28] Rick-Anderson commented on #14441
@scottaddie  were're tracking these in https://github.com/aspnet/AspNetCore.Docs/projects/47

I set it for you.

[2019-09-21 01:29] Rick-Anderson commented on #14437
Not in this doc set.

[2019-09-21 01:29] #14437 closed

[2019-09-21 01:52] Rick-Anderson commented on #14357
`AllowAreas` is listed in [github.com/aspnet/Announcements label:"Breaking change"](https://github.com/aspnet/Announcements/issues?page=2&q=is%3Aissue+is%3Aopen+label%3A%22Breaking+change%22+label%3A3.0.0) in issue [Breaking API changes in Antiforgery, Cors, Diagnostics, Mvc, and Routing #387](https://github.com/aspnet/Announcements/issues/387)

The migration guide has a link to the breaking issue

[2019-09-21 01:52] #14357 closed

[2019-09-21 02:54] Rick-Anderson commented on #14350
------------------- OUTLINE ------------------------------
* Create a new topic **Add static assets from a CDN with the Environment Tag Helper**
* TOC location Advanced/static-assets-cdn.md

# Add static assets from a CDN with the Environment Tag Helper

The ASP.NET Core 1.x and 2.x web app templates used the [Environment Tag Helper](link here) to include static assets provided by various CDNs. On