[2020-02-25 22:36] hishamco commented on #15532
I'm back @Legends if you want to make `CookieCultureRequestProvider` serve first you could use `AddInitialRequestCultureProvider`

Hope this answer your question

[2020-02-25 22:38] hishamco commented on #16563
@davidbuckleyni I don't have flash player, AFAIK `_SelectLanguagePartial.cshtml` should work as expected we already implement such thing in OrchardCore and SimplCommerce

[2020-02-25 22:39] hishamco commented on #15412
Any update on this?!!

[2020-02-25 22:40] hishamco commented on #8585
@eriawan any updates on this one, could you please push a draft PR, so we can help you

[2020-02-25 22:55] gkochanowsky commented on #17113
As you can see, three years back it was added to the code:

https://stackoverflow.com/questions/41352970/writing-custom-code-generator-for-dotnet-core

https://github.com/aspnet/Tooling/issues/922

The stuff I did was four years back, when core was in its first RC. I would
prefer to use what was implemented, but it is not documented. Also that was
three years ago. Has anything changed?

On Tue, Fe

[2020-02-25 22:58] Rick-Anderson commented on #15412
@ryanbrandenburg  please review

[2020-02-26 00:49] lsuarez5280 commented on #16740
@Rick-Anderson You could probably do this with a sufficient update to the [JsonPatch, AddNewtonsoftJson, and System.Text.Json](https://docs.microsoft.com/en-us/aspnet/core/web-api/jsonpatch?view=aspnetcore-3.1#jsonpatch-addnewtonsoftjson-and-systemtextjson) code sample. To be honest, the sample is duplicative, clunky, and probably not the best way to go about achieving the objective because it rec

[2020-02-26 02:10] aienabled opened #17123 "Server GC could lead to huge performance issues in containerized applications"
As many applications are often hosted in docker containers now, it's important to note that hosting more than a single application with default Server GC configuration and no docker container memory limit will result in this application to allocate a heap and a GC thread for each CPU core which will result in a very low total throughput (and much higher memory usage than necessary) when there is m

[2020-02-26 03:22] gogojames commented on #17099
No solution，I hope you.

[2020-02-26 03:23] gogojames commented on #17099
How can I help you?

[2020-02-26 03:44] eriawan commented on #8585
@hishamco

please be patient, I'm still migrating the code to .NET Core 3.1

[2020-02-26 03:48] sheng-jie commented on #15464
I found a new issue when configuring proxy_path as below.
[code]
For example there is a tag `<a asp-controller="Home" asp-action="About">About</a>` in razor page. It will generate a tag like that: `<a  href="/Home/About">About</a>`. In this way, we will route to wrong endpoint.

To solve this issue we can just add subpath to proxy_pass like below and you will get right url path `<a  href="/myfirst

[2020-02-26 07:14] Rick-Anderson commented on #17123
@spboyer  please review.

[2020-02-26 07:15] #15895 closed

[2020-02-26 07:51] JamesNK opened #17124 "Style change has made table column too small"
The "Option" column in the tables on this page is small and the option name is being wrapped. It is hard to understand what it is suppose to say.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fc8dc9f-9cc8-bda7-2cda-e9461f7c3a5d
* Version Independent ID: 85b23cfb-29a8-37f4-16f7-fdf6b0dde773
* Content: [gRPC for .NET c

[2020-02-26 07:52] JamesNK commented on #17124
What I see:

![image](https://user-images.githubusercontent.com/303201/75323464-d43aeb00-58d9-11ea-8562-de3a00a0934b.png)

[2020-02-26 08:29] zd-dalibor commented on #16165
@pawod @Rick-Anderson
Will this deprecation lead to removing `UseSpaPrerendering` method in the future releases of netcore?

If this is true, will there be some alternatives for this or netcore developers plan to totally abandon Angular and React SPAs in favour of Blazor???

[2020-02-26 08:44] hishamco commented on #8585
My intend to help you nothing else, coz this issue takes long time

[2020-02-26 10:28] julianperrott commented on #17081
For anyone who may also get this error. I had the same issue which was due to using the 3.1.0 version of the Blazor packages. This issue went away when I used 3.2.0

[2020-02-26 11:45] #17109 closed

[2020-02-26 12:40] #17040 closed

[2020-02-26 13:00] guardrex commented on #17124
You can force it and maintain the breaking behavior in other table cells. Instead of normal markdown code fencing for these ... for example ...

... force the style not to break (has to be done with the `<code>` element given the stylesheet rule in place) ...

If they're all done that way, it *should* work. 🤞🍀

[2020-02-26 13:20] dazinator commented on #9785
@guardrex ok thanks. The reason being is I'm still seeing OptionsMonitor.OnChange() fire twice in quick succession when saving a change to the appsettings.json file at runtime. I wonder if engineering have any tests in place for this scenario -my understandind is that with the new file hash checking logic in place, is should only fire once?

[2020-02-26 13:41] guardrex commented on #9785
If you're referring to something *new* that they did in the framework, perhaps so. You'd have to ask them about that. I'm not aware of any changes on the framework side that pertain to the multiple firing. If I learn more about that, then this topic+sample can receive updates that should shed its workarounds.

If you're referring to what's in the topic ... the file hashes and back-off that I put i

[2020-02-26 14:12] Seabizkit opened #17125 "3.1 and mvc are these doc still up todate?"
It hard to tell what is the correct way to do things.

app.UseEndpoints(.....  vs app.UseMvc(....

if the migration process it talks about UseEndpoints but here it talks about UseMvc it is extremely hard to figure out how to implement "non default/non simple" routing if the doc are not consistent.

im trying to setup areas,
 but having a hard time trying to figure out what i need to do,
with regar

[2020-02-26 14:17] hoksource opened #17126 "Is this related to windows services?"
Can i register this as an windows service? if so please do provide a link how to do so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3460b0d-9c60-3a06-ac63-18cf990e53c3
* Version Independent ID: b2dece1f-15b8-03af-6d52-7cc070432b4b
* Content: [Background tasks with hosted services in ASP.NET Core](https://docs.micro

[2020-02-26 14:20] guardrex commented on #17126
Hello @hoksource ... Yes, you can do that. Create the app per the instructions in this topic and then follow the instructions in https://docs.microsoft.com/aspnet/core/host-and-deploy/windows-service to deploy the app as a Windows Service.

[2020-02-26 14:20] #17126 closed

[2020-02-26 14:24] guardrex commented on #17125
Hello @Seabizkit ... This is covered by the cross-links on the master issue, especially https://github.com/dotnet/AspNetCore.Docs/issues/14655. I'll add your issue to that list.

[2020-02-26 14:24] #17125 closed

[2020-02-26 14:38] dazinator commented on #9785
@guardrex
I see. So the workaround is [this one yeah?](https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/fundamentals/change-tokens/samples/3.x/SampleApp/Startup.cs#L64)

I think from glancing there might be a possible issue with that hack! From glancing, if `InvokeChanged()` method is fired in parallel, then your if check can be entered into by multiple threads at once (as no locki

[2020-02-26 14:40] hoksource commented on #17126
Thank you for the quick response. :)

[2020-02-26 14:51] guardrex commented on #9785
It's a hack/workaround, and I agree that this one is best in the simplest cases. I felt that I had to do *something* lol. The multiple firings were a pain point. On review when we did this, I didn't discuss the concerns that you raised or any other approaches. They just said that it's *reasonable*, and we moved on. 🏃😅

If you open a new engineering issue (https://github.com/dotnet/aspnetcore/issue

[2020-02-26 15:52] spboyer commented on #17123
@richlander to review

[2020-02-26 16:05] stevenjamesfrank opened #17127 "Add link about customizing SignalR"
Under Users, it states: "By default, SignalR uses the ClaimTypes.NameIdentifier from the ClaimsPrincipal associated with the connection as the user identifier."

I would like to change this default behavior (to use the currently logged in user's name (Identity)).  But I see no additional documentation about it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-02-26 16:07] BrennanConroy commented on #17127
Hmm, we do have a section about customizing it at https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-3.1#use-claims-to-customize-identity-handling

We should add a link to it from the groups.md page.

[2020-02-26 16:30] scottaddie commented on #16955
Fixed by the linked PR

[2020-02-26 16:30] #16955 closed

[2020-02-26 16:33] scottaddie commented on #12833
@guardrex These APIs have been published. Please continue with your work on this issue.

[2020-02-26 17:01] wicharypawel commented on #17084
Because of other duties, preparing samples will take me a bit longer than expected.

[2020-02-26 17:11] Sameelfm commented on #11268
Sqllite has some limitations, My trick was removing the last migration and edit the previous or the table you need to alter created migration with new column name or what ever you need and do the database update

**Step 1**
dotnet ef migrations remove

**Step 2**
Then alter the previous migration that you need to alter the table column or remove column

**Step 3**
dotnet ef database update

[2020-02-26 17:18] guardrex commented on #12833
Thanks @scottaddie ... will get it done by EOD.

[2020-02-26 17:50] Rick-Anderson commented on #17125
@Seabizkit  this is fixed in #16456
Hopefully it will be published soon.

[2020-02-26 17:55] michielvoo opened #17128 "Text about `RequireAuthorization` is not correct."
This document states:

&gt; The DefaultPolicy is triggered by `[Authorize]` or `RequireAuthorization`

But this is not true for the following uses of `RequireAuthorization`:

    app.UseEndpoints(builder =>
    {
        builder.MapRazorPages().RequireAuthorization();
        builder.MapControllers().RequireAuthorization();
    });

Please clarify.

---
#### Document Details

⚠ *Do not edit this s

[2020-02-26 18:18] Rick-Anderson commented on #16165
See [this GitHub comment](https://github.com/dotnet/aspnetcore/issues/13593#issuecomment-527966453)

The recommendation is to rely on the SPA framework provided SSR capabilities. For Angular, SSR support is now integrated into Angular CLI. Here is a good article about it: https://medium.com/@MarkPieszak/angular-universal-server-side-rendering-deep-dive-dc442a6be7b7

[2020-02-26 18:18] #16165 closed

[2020-02-26 18:40] Tiberriver256 opened #17130 "Add a colon separator may not work on all platforms"
The instructions state:

Set the `Authentication:Microsoft:ClientId `and `Authentication:Microsoft:ClientSecret` as application settings in the Azure portal. The configuration system is set up to read keys from environment variables.

Attempting to set these as application settings in the Azure Portal for a Linux App Service results in the following message:
[code]

---
#### Document Details

⚠ *D

[2020-02-26 18:46] Rick-Anderson commented on #17130
In environment variables, a colon separator may not work on all platforms. A double underscore (__) is supported by all platforms and is automatically converted into a colon.

[2020-02-26 19:41] ruhazonius opened #17131 "Resource file naming for nested classes"
Resource file naming should mention nested classes naming convention: "+" sign separating parent class and nested class.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1833676-ff1b-c587-cc9c-81afffa8ef68
* Version Independent ID: ad989395-3f49-4d55-521e-cf6fe56281ee
* Content: [Globalization and localization in ASP.NE

[2020-02-26 20:38] serpent5 commented on #17128
Related: https://github.com/dotnet/aspnetcore/issues/17300.

[2020-02-26 21:16] #12833 closed

[2020-02-26 21:28] Rick-Anderson commented on #17131
@hishamco please review

[2020-02-26 21:35] hishamco commented on #17131
@Rick-Anderson I already point to this bug few months ago, I'm sure I refer to my blog post on the docs too

Let me find it and paste it here ...

[2020-02-26 21:42] hishamco commented on #17131
@ruhazonius please have a look to  blog post [Localization & Generics](http://hishambinateya.com/localization-and-generics) The fix is quite similar, I may add another blog post for this one

I'm sure I did a PR in Orchard Core for this one, please check [this](Localizer should work with inner classes as well)

@Rick-Anderson it is up to you to close this, or I can push a PR to AspNetCore repo and

[2020-02-26 22:57] Rick-Anderson commented on #17131
That would be great.

[2020-02-26 23:21] hishamco commented on #17131
Seem a lot of changes had been happen, all the localization APIs have been moved into AspNetCore, I will struggle ..

[2020-02-27 01:25] JamesNK commented on #17124
Re-opening. Can close when we've confirmed it has been fixed.

[2020-02-27 01:26] guardrex commented on #17124
I'm performing one more test before throwing in the towel. IMHO, they should leave explicit tags alone ... but I'm sure they don't care what I think. :smile: lol

[2020-02-27 01:36] guardrex commented on #17124
@JamesNK **_Partial success!_** :tada: Turns out they will leave a `<span>` alone. Are you ok with non-code-styled entries in that first column?

https://docs.microsoft.com/en-us/aspnet/core/grpc/configuration

...... **_OR_** I can style the `<span>` to match a `<code>` style and then put the rest of them back to reverse-ticks (code) if you really want everything code styled. :ear:

[2020-02-27 01:42] JamesNK commented on #17124
I'm ok with non-code styled entries.

[2020-02-27 01:43] guardrex commented on #17124
Cool beans ... fixed by https://github.com/dotnet/AspNetCore.Docs/pull/17137.

Note to us ...... they strip `style` attr from `<code>` elements, but we seem safe with others.

[2020-02-27 01:43] #17124 closed

[2020-02-27 04:27] Rick-Anderson commented on #17117
@gkochanowsky  can't you just fork https://github.com/aspnet/Scaffolding and modify the scaffolder?

@deepchoudhery would have to write the doc, and I don't think he has time.

[2020-02-27 07:07] ByteDev opened #17141 "System.Net.Http.IHttpClientFactory.Create() does not exist"
System.Net.Http.IHttpClientFactory does not have a Create method that takes no args (.NET Core 3.1).

This also supports this:
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.ihttpclientfactory?view=dotnet-plat-ext-3.1

So how have you guys written an example ("Basic usage") for a method that does not exist? :-)

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-02-27 07:11] ByteDev commented on #17141
I see now you are using the an extension method.  I missed that because you were not using a "using System.Net.Http" statement in the example.

[2020-02-27 11:51] alex-piccione opened #17142 "Different domain"
Hi, I removed the client part of the example and run it, so I have the app running at https://localhost:44307.
I'm registering this Hub: endpoints.MapHub&lt;ChatHub&gt;("/chatHub");  so I expect the call to change from:
``var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build()`` to:
``var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44307/chatH

[2020-02-27 12:52] guardrex commented on #17142
Hello @alex-piccione ... Engineering didn't indicate that there was anything else to provide **_here_**, but there might be more info in the SignalR area of the doc set. I'm learning SignalR now, as I never needed to use it before working with Blazor docs, so I can't make direct troubleshooting suggestions. I'll try to duplicate the setup described in the topic using an Azure-based hub, but I can'

[2020-02-27 14:55] zhou-xb opened #17143 "column name"
I try to replace some codes in Pages/Instructors/Index.cshtml at the "&lt;table&gt; .. &lt;thead&gt; .. &lt;tr&gt; .. &lt;th&gt; .." as follow:

   &lt;th&gt;@Html.DisplayNameFor(model =&gt; model.InstructorData.Instructors.ElementAt(0).LastName)&lt;/th&gt;
   &lt;th&gt;@Html.DisplayNameFor(model =&gt; model.InstructorData.Instructors.ElementAt(0).FirstMidName)&lt;/th&gt;
   &lt;th&gt;@Html.Displa

[2020-02-27 14:55] alex-piccione commented on #17142
I figured out how to manage the CORS issue.

[2020-02-27 14:59] dazinator commented on #9785
@guardrex done: https://github.com/dotnet/aspnetcore/issues/19401

[2020-02-27 15:26] scottaddie commented on #17117
@gkochanowsky Why not create a template to use with `dotnet new`? Both item and project templates are supported. The documentation is at https://docs.microsoft.com/dotnet/core/tutorials/cli-templates-create-item-template.

[2020-02-27 15:32] gkochanowsky commented on #17117
@scottaddie I looked at that. Maybe I'm mistaken, but isn't that a facility for generating a project from scratch? I'm looking for something to generate code in an existing project from one or more  models. Would dotnet new that work? If so how would you make it work?

[2020-02-27 15:57] javiercn opened #17144 "[Blazor][Wasm] Authentication docs"
Here are the docs for the new authentication options in Blazor Webassembly. Work with @mkArtakMSFT and @danroth27 on giving them a sensible structure.
https://gist.github.com/javiercn/85a6d4ce46a78239ccb427baad3a66da

There are placeholders for the relevant Azure Active Directory and Azure Active Directory B2C walk-through docs. Replace those with the relevant links to the AAD and B2C sections. Se

[2020-02-27 15:58] scottaddie commented on #17117
@gkochanowsky The `dotnet new` approach is capable of adding code to an existing project. Custom parameters can be defined to pass data into the template. What kind of code do you want generated, and what information would be inferred from the existing models?

[2020-02-27 16:16] BrennanConroy commented on #17142
You can't make a regular HTTP request to a SignalR endpoint and expect it to work. The 400 is expected unless you've sent a negotiate and are connecting with the ID from the negotiate response.

See the spec for more details: https://github.com/dotnet/aspnetcore/blob/master/src/SignalR/docs/specs/TransportProtocols.md

[2020-02-27 16:21] alex-piccione commented on #17142
You are right Brennan, this is a non-issue. It's fine when I use the signalR JS client.
Thank you.

[2020-02-27 16:38] mkArtakMSFT commented on #17144
Thanks @javiercn.
@guardrex can you please prioritize this so that this is available by March 10th?

[2020-02-27 16:39] djhmateer opened #17145 "C#8 Nullable ref types - returnUrl field is required"
When scaffolding out the Identity code and I have C#8 nullable ref types checking set in the .csproj

[code]
I need to change the methods which have a default value set to null eg

[code]

to be a nullable string ie `string?` otherwise, the UI will set ModelState error giving returnUrl field is required

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-02-27 17:03] ruhazonius commented on #17131
Thank you for the ref to blog post.
Here is a blog I found, which answered exactly my question:
https://softdevpractice.com/blog/localize-nested-classes/

[2020-02-27 17:16] hishamco commented on #17131
That answer in the above blog post is enforce you to rename your resource files, which is solve the issue but it is not a good practice, it would be nice if the localization APIs provide such feature without renaming which is the thing that we provide in Orchard Core as a proof of concept

[2020-02-27 17:45] redtaped opened #17146 "IOptionsMonitor<MyOptionsWithDelegateConfig> in the example will not update with changes"
The example shows using IOptionsMonitor with a delegate registration. Unfortunately, this will work the same as IOptions because the framework will not register an IOptionsChangeTokenSource&lt;TOptions&gt;.

This will only work if also using the non delegate registration that receives an IConfiguration, as this method will register the IOptionsChangeTokenSource&lt;TOptions&gt; and then the subsequ

[2020-02-27 17:51] gkochanowsky commented on #17117
@scottaddie, I'm looking for similar functionality to aspnet-codegenerator functionality when a model is specified in terms of using reflection to determine all the properties of a model class and using that to generate code for many files.

[2020-02-27 18:05] gkochanowsky commented on #17117
@scottaddie, I'm also looking for it to work from a project local template directory that can be modified by the user specifically for that project.

[2020-02-27 18:05] Rick-Anderson commented on #17143
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-02-27 18:05] #17143 closed

[2020-02-27 18:10] guardrex commented on #17144
@mkArtakMSFT I'm wrapping up and submitting the new **_CSP with Blazor_** doc today (Thursday), and much of the upcoming new **_EF Core with Blazor_** topic has been addressed by Mike's supplied content. I can work on this issue immediately (best to start on Monday).

I **_DO_** need guidance on how to structure the content by topic. The titles seem to suggest  that these are *separate topics* und

[2020-02-27 18:17] guardrex commented on #17146
@HaoK We didn't hit any stumbling blocks when we set this guidance up. Can you confirm that this is a problem? Note that I can work this issue, but I might be delayed a few weeks due to high priority Blazor work. If you find a problem here, let me know how **_severe_** you think it is so that I can prioritize this correctly in light of that other work.

[2020-02-27 18:23] Rick-Anderson commented on #17145
@deepchoudhery  do you want to transfer this issue?

[2020-02-27 18:30] HaoK commented on #17146
Its unclear to me exactly what section/doc is being referenced, but generally yes, there would need to be something that triggers the reload, i.e. a `Configure(configuration)` or some other mechanism that triggers the reload.  I don't think this is high priority since it should be inferred that something needs to trigger the invalidation/reloads

[2020-02-27 18:35] guardrex commented on #17146
Thanks @HaoK ... I was hoping such is the case and that perhaps the doc just isn't explicit enough on the point. I'm 🏃🏃🏃🏃🏃😅 at the moment. Thanks again for the report @redtaped. I'll take a closer look as soon as I get some time.

[2020-02-27 19:38] deepchoudhery commented on #17145
Not an admin so cannot. Feel free to transfer it please.

[2020-02-27 19:54] mrlife opened #17148 "Accessing Razor Components in a different folder location"
The below paragraph is worded confusingly. I'm pretty sure it's trying to say: "To use a custom folder, e.g. {PROJECT ROOT}/Components, add the following `@using` to the top of the page accessing the component."

Does that sound right?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f0829

[2020-02-27 20:01] guardrex commented on #17148
Thanks @mrlife ... I'll improve that bit guided by your suggestion.

[2020-02-27 20:35] PandaonMars commented on #17101
You need to stop debug. I met the same issus.

[2020-02-27 20:37] Rick-Anderson commented on #17145
Moved to https://github.com/aspnet/Scaffolding/issues/1270

[2020-02-27 20:37] #17145 closed

[2020-02-27 21:42] scottaddie commented on #17117
@vijayrkn What do you recommend for @gkochanowsky? I don't think this is easily accomplished with `dotnet new`.

[2020-02-27 21:51] deepchoudhery commented on #17117
we can (and plan to use) dotnet new for very simple scaffolders (empty controllers, and views) but for scaffolders that have model reflection, we have to use aspnet-codegenerator.

[2020-02-28 00:01] D9001 opened #17149 "RequestCookieCollection can no longer be used to create cookies in unit tests"
I have just upgraded from .NET Core 2.2 to 3.1. I have tests to confirm that extension methods I've added to `HttpContext.Request` are working. I was previously able to do things like:

            var context = new DefaultHttpContext();
            var c = new Dictionary<string, string> {{"test", "passed"}};
            context.Request.Cookies = new RequestCookieCollection(cookies);

[2020-02-28 00:23] guardrex commented on #17149
Hello @D9001 ... We only address documentation issues here. We don't have the staffing to provide general development support. Try some of the usual support channels ...

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/)
* [ASP.NET Gitter](https://gitter.im/aspnet/Home)

[2020-02-28 00:23] #17149 closed

[2020-02-28 00:53] Legends commented on #15532
Thanks!

[2020-02-28 00:53] #15532 closed

[2020-02-28 03:28] Rick-Anderson opened #17150 "Add basic sample of options pattern"
Take the code from https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters

`public MyActionFilterAttribute(IOptions<PositionOptions> options)`

![image](https://user-images.githubusercontent.com/3605364/75508015-cf804080-5986-11ea-8ceb-f8d133b382d0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed39c

[2020-02-28 04:46] jackhorton opened #17151 "Clarify type binding capabilities of the configuration binder"
Upon installing FxCop analyzers and being presented with the "do not store url properties as strings" warning, I learned that I could just make the property of the class I was binding my configuration to be a System.Uri and valid Uris would magically work. Separately, a colleague suggested we stop using "MyTimespanConfigMinutes=5" for TimeSpan-bound configuration and instead use "00:05:00" based o

[2020-02-28 05:04] guardrex commented on #17151
Hello @jackhorton ... You lost me a bit with "non-POCO" language when it seems like you're just describing **property types** of POCOs that are supported by the OOB config binder. I suppose that we could describe in a little more detail here which ones are supported OOB. Note that I'm going to have to backlog this quite a bit out because we're all 🏃😅 for the foreseeable future with high priority w

[2020-02-28 15:09] zhou-xb opened #17154 "about Pages/Courses/Create.cshtml.cs"
Please explain the use of these codes in Pages/Instructors/Edit.cshtml from Tutorial 7/8

            // Select DepartmentID if TryUpdateModelAsync fails.
            PopulateDepartmentsDropDownList(_context, emptyCourse.DepartmentID);
            return Page();

Why should us repopulate the Department drop down list if TryUpdateModelAsync fails? I think the Department table is not affected, wheth

[2020-02-28 15:13] zhou-xb commented on #17154
If I remove:  PopulateDepartmentsDropDownList(_context, emptyCourse.DepartmentID);
the Department drop down list still hilite the right row even if the update fails.

[2020-02-28 15:30] zhou-xb commented on #17143
I concern about that because there are codes in Pages/Courses/Index.cshtml like these:

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses.Courses[0].CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.Courses[0].Title)
            </th>
            <th>
                @Ht

[2020-02-28 15:44] zhou-xb commented on #17143
Hi Rick, I concern about that because there are codes like this in Pages/Courses/Index.cshtml:
   @Html.DisplayNameFor(model => model.Courses[0].CourseID)

So I tried the same for  Pages/Instructors/Index.cshtml, which could not work:
   @Html.DisplayNameFor(model => model.InstructorData.Instructors[0].LastName)

Curious about that, then I tried the ElementAt() method suggested by IntelliSense, an

[2020-02-28 16:06] gkochanowsky commented on #17117
@deepchoudhery, I've forked the project, how to I develop and debug with it?

[2020-02-28 17:05] jackhorton commented on #17151
As far as I could tell, the configuration binding code and MVC model binding code were completely different (perhaps they shouldnt be, but thats definitely a separate issue). Since there are already sections on the page for binding configuration to arrays and POCOs, I was just hoping to get a blurb slotted in about binding to arbitrary types using type converters. I would be willing to make a PR t

[2020-02-28 17:30] Rick-Anderson commented on #17154
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-02-28 17:51] guardrex commented on #17151
Yes, they are different. I just meant that that's the context where TypeConverter normally comes up, and I really don't know/recall what that doc says or shows on the matter. I'm 🏃 right now with high priority work, so I didn't even look.

Maybe, but I think you should paste about what you're suggesting in here. If your suggestion is just to mention it, I don't think that's enough to be of any use

[2020-02-28 19:09] mkArtakMSFT commented on #16664
Closing as there was no response here for about 2 weeks now.

[2020-02-28 19:09] #16664 closed

[2020-02-28 19:13] mkArtakMSFT commented on #17093
The answer is yes, @guardrex. The behavior will be the same for a `foreach` loop too, so please clarify it in the docs.

[2020-02-29 00:11] D9001 commented on #17149
Hi,

I understand. The reason I thought this was a documentation issue was
because I got the idea to use this class previously from a thread here.
Sorry about that.

On Thu, Feb 27, 2020, 7:23 PM Luke Latham <notifications@github.com> wrote:

[2020-02-29 00:11] sig9 commented on #14632
I believe this is resolved with Docker 2.2.0.0.  See release notes https://docs.docker.com/docker-for-windows/release-notes/   and https://www.docker.com/blog/new-filesharing-implementation-in-docker-desktop-windows/
FWIW I also experienced this challenging problem and several other incompatible windows features when using AzureAD accounts.

[2020-02-29 01:03] #15412 closed

[2020-02-29 04:56] zhou-xb commented on #17154
Hi Rick, I sent an issue specific about this tutorial ie. Data Access - TutoriaLs - EF Core with Razor Pages - Update related data (tuorial 7/8), please review again. Thanks

[2020-02-29 04:57] zhou-xb commented on #17143
Hi Rick, I sent an issue specific about this tutorial ie. Data Access - TutoriaLs - EF Core with Razor Pages - Read related data (tuorial 6/8), please review again. Thanks

[2020-02-29 05:09] zhou-xb opened #17159 "Data Access - TutoriaLs - EF Core with Razor Pages - Read related data (tuorial 6/8)"
Hi Rick, I sent an issue specific about this tutorial ie. Data Access - TutoriaLs - EF Core with Razor Pages - Read related data (tuorial 6/8), please review again. Thanks.

I suggest to use ElementAtOrDefault(0) in your tutorial, isn't it better to use DisplayForName than hardcoding string for column name?

&lt;th&gt;@Html.DisplayNameFor(model =&gt; model.InstructorData.Instructors.ElementAtOrDef

[2020-02-29 07:26] zhou-xb commented on #17159
I've tried w/ empty Instructor table, it works well. For Courses, may be it would be better also to code
Courses.ElementAtOrDefault(0) for Courses[0]. I am a newbie to C# and ASP.Net, still wonder ElementAtOrDefault(0) will cause exception for long run production use.

[2020-02-29 11:01] TomRandles commented on #15042
I also  need an example of SignalR deployed in a backend Worker Service. This article has "backend service" in its title, yet it is web centric.  Any help appreciated!

[2020-02-29 13:18] tbebekis commented on #12512
I was wondering the same thing. I checked the source code and I found that the MemoryCache class uses the ConcurrentDictionary class as the internal cache, which is a thread safe dictionary.

[2020-02-29 14:38] mrlife opened #17160 "Docs for the Component Tag Helper (or how to send a string parameter)"
[**EDIT by guardrex** to note that this issue can be worked with #17210]

I'm unable to find the docs for the Component Tag Helper, i.e. `<component>`. I'm trying to send a string as a parameter but getting a build error. I know you can send an integer, per this page of the docs, but I can only send a string if it's in a variable. Here is the code and error.

Code
[code]

Error

---
#### Document

[2020-02-29 15:01] guardrex commented on #17160
Hello @mrlife ... You're saying that it will work if you add an `int` prop to the component and assign to that (as the example shows) but as soon as you try a `string` prop it fails? Let's just rule out the possibility that this is a namespace problem. If it works for a `string` but not an `int` then we'll go to engineering with this, but if they both don't work, then troubleshoot it as a namespac

[2020-02-29 15:08] mrlife commented on #17160
Hi @guardrex

Yes, that's what I'm seeing... The assignment of `10` like in the example works because it is numeric. If I add any characters, it throws the error.

Never works for raw string but raw int works fine.

Also, would it be worthwhile to have a page in the docs that provides the details of the Component Tag Helper?

[2020-02-29 15:30] LaunoisRemy opened #17162 "run dotnet tool restore to make the dotnet-ef command available"
Hello,
I have some problems to publish my app.  My app doesn't have yet login, just data
But in setting to Entity Framework Migrations instead of check Apply this migration on publish i have this issue :
run dotnet tool restore to make the dotnet-ef command available

However when i execute this command in package manager console i have this result :
dotnet tool restore
Tool 'dotnetsay' (version '

[2020-02-29 15:32] guardrex commented on #17160
In reverse order ...

Yes, I agree on that ... in the [TH section of the TOC](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/intro?view=aspnetcore-3.1) as a *built-in* TH. I can cross-link from here to there and place the additional content there on whatever this turns out to be.

WRT the error, open an issue with engineering ...

* https://github.com/dotnet/aspnetcore/issues
*

[2020-02-29 15:40] Decompressor-art opened #17163 "Problem with scaffolding"
When I try scaffold, I get error:
There was an error running the selected code generator: 'There was an error creating a DbContext, the file C:\Users\Asus\source\repos\ContosoUniversity\Data\SchoolContext.cs  already exists'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0026f69-7e5d-0d3e-5586-16ecc0656ff0
* Version I

[2020-02-29 15:41] mrlife commented on #17160
Great thanks, here is the direct link to the issue: https://github.com/dotnet/aspnetcore/issues/19466

[2020-02-29 16:56] guardrex commented on #17160
Note to self: Seeking to put the `Blazor` label on the upcoming Blazor Component TH topic issues because that PR is going in anyway for something else. Confirm that it was merged or do it when this is worked.

[code]

[2020-02-29 18:14] #17159 closed

[2020-02-29 18:16] Rick-Anderson commented on #17163
That's a great error message to help you figure out what you did wrong.

[2020-02-29 18:16] #17163 closed

[2020-02-29 21:32] mkArtakMSFT opened #17164 "Have a sectoin in docs referencing video turorials/presentations"
The idea here is to have a section in docs, which will be a hub for video content on ASP.NET Core related topics.
There should be a way to identity/separate Microsoft owned as well as community-owned videos.
To clarify, this is not about hosting the videos in the docs page, rather just being a catalog of such videos.

## Why is this important?
People prefer to learn differently. Some prefer writte

[2020-02-29 21:34] mkArtakMSFT opened #17165 "Have a way to measure impact of doc changes"
This is critical, as without measuring we don't know whether the outcome of a change is positive or negative. This will also help us understand the types of changes people prefer more.

[2020-02-29 21:43] mkArtakMSFT opened #17166 "Scope ToC to current topic"
At the moment, when a user navigates to some section in the ToC, all the other topics are still visible:
![image](https://user-images.githubusercontent.com/34246760/75615468-e8a8fe80-5af8-11ea-9494-2b3d3da84aaa.png)

To simplify navigation, consider hiding all the other topics and showing only sibling and child-level subtopics in the ToC. To allow further navigation, extend the breadcrumb to inclu

[2020-02-29 21:49] mkArtakMSFT opened #17167 "Split too large doc articles into multiple sections"
This issue is going to be used to track all the relevant work below:

- [ ] [Localization](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.1)
- [x] [Razor Components](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub iss

[2020-02-29 23:42] guardrex commented on #17160
*Now, we know!* 💡 ... I'll update and work on a Component TH topic asap. It will be perhaps 1-2 weeks due to high priority Blazor issues.

[2020-03-01 13:01] guardrex commented on #17164
This was admonished in the past due to the stability of video content and our lack of control over it ...

* It's a stable medium, which is rarely updated, and thus becomes stale rather quickly.
* It's also difficult to know when a video has become stale because we have no way to track video content and keep tabs on it relative to the framework.
* Even if we knew that a part (or several parts) of

[2020-03-01 13:22] guardrex opened #17169 "Further split Blazor Razor Components"
Tracking issue for splitting long topics: https://github.com/dotnet/AspNetCore.Docs/issues/17167

I-dears ...

* Reduce the length of the *Use components* example.
* Split out *Cascading values and parameters* section into its own topic.

@mkArtakMSFT, did you spot additional splits or *document diet* 🍰 strategies? Is this list ok thus far?

---
#### Document Details

⚠ *Do not edit this section.

[2020-03-01 13:26] guardrex commented on #17167
I opened **Further split Blazor Razor Components** (dotnet/AspNetCore.Docs #17169) to address that one. I have some additional ideas there for cutting it down further. We just need to be careful ... many of those concepts *build*, so splitting things out has to be performed *with surgical precision* 🔪👨‍⚕.

[2020-03-01 14:29] mrlife opened #17170 "Parent/Child Razor Component in Razor Page"
The following quote implies that the child component functionality is supported in calls to a parent component from a razor page.

I'm referencing the parent/child razor component functionality from [ASP.NET Core Blazor data binding](https://docs.microsoft.com/en-us/aspnet/core/blazor/data-binding?view=aspnetcore-3.1#parent-to-child-binding-with-component-parameters).

When I try this using a pare

[2020-03-01 15:47] chattermc opened #17171 "Use SingleOrDefaultAsync() Method?"
Nice tutorial, however I've spotted a minor issue: in the GetTodoItem(long id) action of the TodoItemsController (when updating this to use the DTO), the LINQ query is using the .SingleAsync method. This will throw an exception if a request asks for an id which does not exist and returns a server 500 code (the code checking for null after the query is never reached). I think the query should be us

[2020-03-01 16:55] Rick-Anderson commented on #17171
@chattermc  good suggestion.

[2020-03-01 18:00] guardrex commented on #17170
Hi @mrlife ...

Are you trying to nest these? ... show your code.

[2020-03-01 18:10] serpent5 commented on #17171
Yep, good spot. I'll patch this up in a bit.

[2020-03-01 22:45] mkArtakMSFT commented on #17169
Thanks @guardrex. I want to go over this with @danroth27 first. Please hold on from starting on this.

[2020-03-01 23:04] molamaen commented on #16901
When i try to use the put method i always get Bad Request since id != todoitem.id (which is empty!!!) why my todoitem is empty? what i am doing wrong ?

here is my code:
public static async void UpdateDatatAsync(string url, Datum data)
        {
            var client = new HttpClient();
            client.BaseAddress = new Uri(url);
            client.DefaultRequestHeaders.Accept.Clear();

[2020-03-01 23:18] zachneu opened #17173 "Invoke arrow function"
Is there some way to call an arrow function from InvokeVoidAsync? something like this:
JSRuntime.InvokeVoidAsync(() =&gt; alert('testing'))();");

This could be use full to execute js code not defined in any js files. I think this could be specially use full when you create a class library with Razor components which need to invoke js code.

---
#### Document Details

⚠ *Do not edit this section.

[2020-03-01 23:47] guardrex commented on #17173
Hello @zachneu ... The signatures require a function identifier. See the API :point_right: https://docs.microsoft.com/dotnet/api/microsoft.jsinterop.jsruntimeextensions.invokevoidasync

You can open product feedback on it with engineering/management on the engineering repo :point_right: https://github.com/dotnet/aspnetcore/issues

[2020-03-01 23:47] #17173 closed

[2020-03-02 05:41] mobinseven opened #17174 "Redundant Content"
This page is totally redundant as RequireClaim is part of policy based authorization. When you say "Claims-based authorization" alongside "Policy-Based" or "Role-Based" you must mean something similar to them (for example Authorize(Claim = ... ) ); Not just something that is a policy on its very nature. Policies are strict and static. Just like the example given in this page:"EmployeeOnly". It is

[2020-03-02 05:51] eugenelepekhin commented on #12428
There is a call to: DisableAutomaticKeyGeneration
Will it prevent keys refreshing for other purposes like anti forgery token generation?

[2020-03-02 06:22] mkArtakMSFT commented on #17164
Thanks for the feedback, @guardrex.
Content becoming stale is manageable. We can version these materials on our own. So that some videos will show up through v2.1 docs, some through v3.2 etc.
As for the video becoming unavailable, somebody will notice that and file an issue, and we can be reactive here, it's ok.

[2020-03-02 13:17] enetstudio commented on #9244
I'm using the  IClaimsTransformation interface, which is deemed a better choice, in my Server Blazor App to add claims to the Claims Principal object.

    public class ApplicationUserClaimsTransformation : IClaimsTransformation
    {
        private readonly UserManager<ApplicationUser> _userManager;
        public  ApplicationUserClaimsTransformation(UserManager<ApplicationUser>

[2020-03-02 13:56] mrlife commented on #17170
@guardrex Here is what I'm trying to do; it's just like in the docs except using `<component>`.

Index.cshtml
[code]

ParentComponent.razor
[code]

ChildComponent.razor
[code]

What visiting Index.cshtml should display

In the parent component...
In the child component...

[2020-03-02 14:02] guardrex commented on #17170
That's not a supported scenario. To place the child in the parent, just use ...

[code]

... in the parent component (*ParentComponent.razor*).

We have [content early in the *Components* topic that explains that Tag Helpers don't work in components](https://docs.microsoft.com/aspnet/core/blazor/components#tag-helpers-arent-supported-in-components); however, the text might need more work to make i

[2020-03-02 14:18] guardrex commented on #17170
I had a few minutes here, and I didn't want to wait on this. I took a look, and I don't think the current text is confusing.

It states at the top of the [Render components from a page or view](https://docs.microsoft.com/aspnet/core/blazor/integrate-components#render-components-from-a-page-or-view) section in the integration topic ...

The passage ...

... only says that you can place a component

[2020-03-02 14:18] #17170 closed

[2020-03-02 14:25] mrlife commented on #17170
Ok, thanks for clarifying that `<RazorFileName />` is always the format for a child component, even when the parent is called with `<component>`. That was the part that wasn't clear to me.

[2020-03-02 14:55] toddharvey opened #17175 "thanks Daniel - error trying to create new web assembly project"
in Visual Studio 2019 (Version 16.4.2) , nuget package manager console
enter command:
dotnet new blazorwasm
result:
dotnet : No templates matched the input template name: blazorwasm. (either local or online, per long message)

Should I have entered the command somewhere else? I tried from cmd prompt and got same message ("couldn't find an installed template … searching online")

Perhaps there's a

[2020-03-02 16:48] guardrex commented on #17175
Hello @toddharvey ... Reinstall the template with ...

[code]

... per https://docs.microsoft.com/aspnet/core/blazor/get-started.

This has happened to me, too, but VS losing track of the template after upgrading VS doesn't seem to occur for me every update. Therefore, I haven't been able to pin down what to document. Blazor WebAssembly is **_Coming Soon!_** ⏳ After that, we won't have the separat

[2020-03-02 16:48] #17175 closed

[2020-03-02 16:59] bradygaster commented on #15042
I can definitely update this article. However, I'm curious what you would like to see if the aforementioned article is "not worker/background enough." SignalR's main purpose is to send messages to the client. Would you want us to have a different client in here? Like a .NET Client? Or are you thinking of a worker-to-worker messaging implementation? If so, that's not really what SignalR is for - it

[2020-03-02 19:32] pandeyvaibhav commented on #17118
I also encountered same issue. Where is this instruction provided to add this Nuget and assembly reference - using Microsoft.EntityFrameworkCore.InMemory;??

[2020-03-02 20:01] #17171 closed

[2020-03-02 20:10] TheRottweiler opened #17180 "Error at Scaffold A Controller Step"
I am getting this error when trying to perform the "Scaffold A Controller Step"

There was an error running the selected code generator:
'Could not load type
'Microsoft.EntityFrameworkCore.Infrastructure.IDbContextOptionsExtensionWithDebugInfo' from assembly 'Microsoft.EntityFrameworkCore, Version=3.1.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.'

---
#### Document Details

⚠ *Do not ed

[2020-03-02 21:16] Rick-Anderson commented on #17180
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2020-03-02 21:16] #17180 closed

[2020-03-02 23:12] mkArtakMSFT commented on #17169
@guardrex what do you think? We are not yet sure, so let's discuss this first and not rush doing this yet. Just wondering about your opinion on this. Also, if you have other suggestions, please advice.

Some notes from the discussion with @danroth27:
- it's important to maintain the "got to next" ability after each sub-topic
- [Static-assets](https://docs.microsoft.com/en-us/aspnet/core/blazor/com

[2020-03-03 00:24] guardrex commented on #17169
Feels like that's going to be challenging in practice. I think what we'll find is that it's difficult to cleanly maintain all of the content so rigidly as that or that it's a valuable effort in the end if we do try to radically re-organize all of the content (but perhaps that's not what you're suggesting).

You probably noticed this ... some of the sections are *scenario based*. They're more like

[2020-03-03 07:45] ndc opened #17184 "Log location in linux"
On Ubuntu 18.04.4 LTS there is no `/var/log/message`. The log is recorded in `/var/log/syslog`.

Hopefully this info saves someone time from troubleshooting why the application doesn't write to log.

If you call `ILogger.LogError(myException, "some message")` for example, it will appear in `/var/log/syslog` as multiple lines that start like `Mar  3 07:26:22 myServerName myAppName[aNumber]: ...`. S

[2020-03-03 08:10] mohammad-khoddami commented on #7486
I just changed the Microsoft.EntityFrameworkCore.Sqlite version with NuGet package manager.

[2020-03-03 10:43] hultqvist opened #17185 "How to set pathbase in Visual Studio 2019"
[EDIT by guardrex to change the topic]

What's the equivalent of "dotnet run --pathbase=" when running from Visual Studio 2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8f53b58-a048-69ca-2e89-3625bb4cc839
* Version Independent ID: 32a343a1-ba87-7274-e861-2ac194d5aa3d
* Content: [Web server implementations in ASP

[2020-03-03 11:28] LazZiya commented on #16563
@davidbuckleyni, if the language is changing when you change the page there could be different reasons:
- Make sure you have gave your consent (accepted the GDPR cookie), otherwise the app wont be able to use cookies.
- Make sure that `CookieRequestCultureProvider` is not removed from the request culture providers list.
- Also the order of culture providers is important and may affect the culture

[2020-03-03 12:43] webebox commented on #16682
I have the same problem

[2020-03-03 12:55] guardrex commented on #17185
Hello @hultqvist ... It's **_almost_** covered in the [Server startup section of the Servers topic](https://docs.microsoft.com/aspnet/core/fundamentals/servers/#server-startup) ... it's just not explicit and the linked topics there don't call it out. We have it sprinkled in the docs in a few critical spots, but the best spot is probably here in the *Servers* topic. It's a project launch settings p

[2020-03-03 13:06] TomRandles commented on #15042
Hi,
I have since clarified the correct architecture I need with a Microsoft colleague of yours. See   [https://github.com/aspnet/SignalR-samples/issues/18](url) for details. I now have a better understanding of SignalR. I incorrectly assumed I could put the SignalR server/hub in worker service.  Perhaps this could be clarified in the docs.

[2020-03-03 13:08] guardrex commented on #17184
We document access with `journalctl` here :point_right: https://docs.microsoft.com/aspnet/core/host-and-deploy/linux-nginx#view-logs (but don't say where the logs are stored). I suppose that was engineering's recommended approach and location was considered to be less important for that bit of content.

[2020-03-03 14:18] guardrex commented on #15653
Related remarks :point_right: https://github.com/dotnet/AspNetCore.Docs/pull/15340#issuecomment-593966651

[2020-03-03 15:23] serpent5 opened #17186 "Add links to e.g. HttpContext.AuthenticateAsync references"
There are three places in the topic that reference `HttpContext.[Verb]Async`:

- See `HttpContext.AuthenticateAsync`.
- See `HttpContext.ChallengeAsync`.
- See `HttpContext.ForbidAsync`.

None of these are links, but I'd expect them to take me to e.g. [ChallengeAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.authenticationhttpcontextextensions.challengeasync?

[2020-03-03 15:44] mungojam opened #17187 "No mention of IItemsFeature"
I've seen that IItemsFeature is used by the AWS lambda .net core integration libraries but it isn't mentioned here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41d7ad78-542f-236c-f5b4-0273558674b9
* Version Independent ID: f64165fc-ccf3-62cd-9ae4-313dfe7d1911
* Content: [Request Features in ASP.NET Core](https://doc

[2020-03-03 15:58] jburkett opened #17188 "Examples link to docs"
All the links labeled "example" seem to link to the (skeletal) class documentation for the associated topic, rather than actual examples. This doesn't provide anything similar to an actual example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54b3ef64-9e17-3aab-0b75-57726d906cb6
* Version Independent ID: 8152896e-696

[2020-03-03 17:52] adam000 opened #17189 "Add using statements to examples in Blazor DI topic"
The following sample doesn't work with the previews available to me:

[code]

In 3.1.0-preview4... the type `WebAssemblyHostBuilder` doesn't exist and VS tries to suggest `IWebAssemblyHostBuilder`. In 3.2.0-preview1... the type does exist, but `builder.Services` has no method `AddSingleton`.

I need a simple DI example but I can't find anything that works.

---
#### Document Details

⚠ *Do not edi

[2020-03-03 17:54] adam000 commented on #17189
It looks like there was a missing dependency on `Microsoft.Extensions.DependencyInjection`. Wish the code samples showed using statements too, it would be useful and insightful.

[2020-03-03 18:50] guardrex commented on #17189
@adam000, Yes, adding the `using` statements is an **_on-going effort_**. I'll use this issue to address that for this topic. We add them regularly as we go through the topics, and I'll keep adding them as I go.

Leave this open and it will close when the PR merges. Thanks for writing in on it.

[2020-03-03 21:58] mkArtakMSFT opened #17191 "Update static assets docs if necessary"
@javiercn we've made some changes during 3.2-preview2 and I'm not sure whether docs have been updated or not. If yes, feel free to close this. Otherwise, please use this issue to address all the necessary changes related to Static Assets.

[2020-03-03 22:04] mkArtakMSFT opened #17192 "Updated Blazor WASM debugging docs"
@SteveSandersonMS can you please list out the changes here, so that @guardrex can update the docs as necessary. When done, please assign this issue to him to take over.

To start, here is what I know:
- [ ] F5 debugging is now supported in VS
- [ ] Debugging in VSCode is now supported.

EDIT by guardrex ... Plz comment on this remark by @tedypranolo ...

Original issue: https://github.com/dotnet/A

[2020-03-03 23:30] guardrex commented on #17191
I'm going to continue to add these to the Blazor.Docs project for my visibility, even when I'm not initially assigned. It's easier, too, for you to assign to me with provided content this way when I should take an issue over at some point.

[2020-03-04 00:59] guardrex commented on #17192
WRT "now supported" ... `preview2`, correct?

[2020-03-04 01:10] mkArtakMSFT opened #17194 "Docs for browser caching for Blazor WASM"
@SteveSandersonMS do we need to add docs regarding the caching feature you've created? If so, please use this issue to provide content for it and then reassign to @guardrex to inject that into the docs. Otherwise, please close this issue.

[2020-03-04 01:13] mkArtakMSFT opened #17195 "Auto-rebuild for Blazor WASM apps will now work in VS (16.6-preview1)"
@guardrex some docs where we 've mentioned that this is not a thing should be updated to now talk about this. This is about automatically rebuilding project when changes in transitive dependencies are made.
/cc @danroth27 am I missing something else as part of it?

[2020-03-04 01:18] mkArtakMSFT opened #17196 "Document linker behavior changes"
@pranavkm I believe we've disabled Linker by-default and have added an option to re-enable it, if necessary.
Can you please share content for docs here, so that @guardrex can handle updating the docs using that, thanks!

[2020-03-04 01:20] mkArtakMSFT opened #17197 "Update the `Getting Started` content for Blazor to reflect on the renamed components packages"
@guardrex the Blazor package names have been renamed and that also impacted the templates package.

[2020-03-04 01:21] mkArtakMSFT commented on #17191
@javiercn also, please cover the `precompression` docs too as part of this.

[2020-03-04 01:23] mkArtakMSFT opened #17198 "Docs for Blazor WASM PWA support"
@SteveSandersonMS can you please provide content for PWA support we just added for Blazor WASM? Thanks!

[2020-03-04 01:23] guardrex commented on #17195
@mkArtakMSFT I don't recall that in this doc set. I searched, too. Did you have a reference in mind that I missed?

[2020-03-04 08:25] BrettSandham opened #17200 "@inherits InputText causes an unhandled error in a Blazor WebAssembly project"
As soon as I add "@inherits InputText", I get an unhandled error when requesting the page...

@page "/notebook"
@inherits InputText
<h1>Notebook</h1>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884-c1fe5c2ef52d
* Version Independent ID: 09a02d10-2834-467d-d8c2-3fd19ceb3863
* Content: [ASP.NET Cor

[2020-03-04 08:42] TPIvan opened #17201 "IStringLocalizer support in Blazor"
Does the statement that "IStringLocalizer&lt;&gt; is supported in Blazor apps" mean that I may to inject and use it in my own code or is it used also internally (e.g. for localizing error messages)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15e7c51d-1839-1849-813a-23c4d21c64ae
* Version Independent ID: d6f07538-22

[2020-03-04 09:13] klausenlie opened #17202 "Help with webapplication design"
Hi!

I was wondering if you could point me in the right directed or provide som simple examples for something I try to achieve.

Look at these three classes:

public class FPJNode
{
        public int ID { get; set; }

        public List<Submitter> submitters {get;set;}
    }

public class Node
    {
        public int ID { get; set; }

        public int I_node { get; set; }

        public stri

[2020-03-04 11:54] ARambazamba opened #17203 "Update to .NET Core 3.1"
Please update this sample to .NET Core 3.1 and maybe build the image from GitHub. Using a ready made image really does not help at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e087007-7838-e0f9-d713-22182a5d9704
* Version Independent ID: 2f32c7c3-8667-0e88-495b-c0c888572964
* Content: [Hosting ASP.NET Core Imag

[2020-03-04 12:48] georgekosmidis opened #17204 "Typed client, an instance of `HttpClient` is created"
In the [Typed clients](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-3.1#typed-clients) section, the docs are stating:

Is it, that only the typed client is injected as transient, but a new instance of the `HttpClient` is created once for each typed client and then reused?

I believe if it happens otherwise, it would contradict with the "[Improper Instanti

[2020-03-04 13:08] guardrex commented on #17200
Hello @BrettSandham ... standby ... let's check on that ...

@rynowak, the code sample came from your issue at https://github.com/dotnet/AspNetCore.Docs/issues/13912 (approved on [PR #14123](https://github.com/dotnet/AspNetCore.Docs/pull/14123)). I just noticed a suspicious line there ...

[2020-03-04 13:17] guardrex commented on #17201
Hello @TPIvan ... *Yes,* that's right. Here's how the JsonStringLocalizer example (one of the example projects listed at https://docs.microsoft.com/aspnet/core/fundamentals/localization-extensibility#localization-resources) demos it (injected into `Configure`) ...

https://github.com/hishamco/My.Extensions.Localization.Json/blob/master/samples/LocalizationSample/Startup.cs#L20

[2020-03-04 13:20] TPIvan commented on #17201
So it is not used by Blazor framework internally.

[2020-03-04 13:35] guardrex commented on #17201
Sorry ... I missed the 2nd part of your question. It seems *yes* ... it is used internally. However, the setup might not be as devs expect. I noticed various discussions on the subject that lead to me to believe that either cross-links or an outright example would be helpful. For example ...

* https://stackoverflow.com/questions/59659489/how-to-localize-validation-message-dataannotationsvalidator

[2020-03-04 13:49] jstclair opened #17205 "ASP.NET Core CancellationToken"
After reading [this article on action binding for CancellationTokens](https://andrewlock.net/using-cancellationtokens-in-asp-net-core-mvc-controllers/) I looked through all the existing ASP.NET Core topics for any details on the same topic, but didn't find any.

Why: after reading the article above, ASP.NET Core's behavior is quite understandable but non-documented. In our scenario, we have some u

[2020-03-04 14:40] jl-rey opened #17206 "A problem changing from app.UseEndpoint to app.UseMvc"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2020-03-04 16:18] rynowak commented on #17200
When possible in this context means: " when we have time and ability" The team is focused on the Blazor WASM release right now, which doesn't include an update to the component model (or built-in components).

We learned from user feedback after shipping 3.0 that people really wanted this functionality, but didn't have time to do it in 3.1 - so we made a sample for how you can implement it yoursel

[2020-03-04 16:39] #17186 closed

[2020-03-04 16:56] MisinformedDNA commented on #12569
I use Blazor because I hate JS. Blazor is also wrapping SignalR calls, so the instructions are not necessarily the same.

#12572 mentioned the "Configure the SignalR client for Blazor Server apps" section but I don't see that anywhere. I think we need Blazor specific documentation, with links to the SignalR docs, where appropriate.

[2020-03-04 17:28] Rick-Anderson commented on #17203
@ARambazamba  this doc is focused only on `how to run pre-built container images with HTTPS.`

What about the  version makes it difficult to follow in 3.1?

[2020-03-04 17:36] guardrex commented on #17200
It seems ok here ... I can't repro any error.

One thing tho looking at this text/example again now. :eyes: I think I should flesh it out fully. It's a little too **_FAST_**. I could put up something akin to the first example in the topic. Something like this ......

*Shared/CustomInputText.razor*:

[code]

*Pages/TestForm.razor*:

[code]

[2020-03-04 17:47] #17162 closed

[2020-03-04 18:18] scottaddie commented on #17202
@klausenlie Unfortunately, this team isn't staffed to assist with issues not directly related to the ASP.NET Core docs. Stack Overflow is a fantastic forum for a question of this nature. I recommend that you ask over there, and I'm sure you'll receive some helpful responses within hours.

[2020-03-04 18:18] #17202 closed

[2020-03-04 19:22] ghen opened #17211 "WebHost documentation in Override Configuration section does not reflect fix"
ASP.NET Core WebHost documentation in [Override Configuration](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/web-host?view=aspnetcore-3.1#override-configuration) section does not reflect the latest fix inptroduced in [#4284](https://github.com/dotnet/aspnetcore/pull/4284).

Specifically, this note is now irrelevant:

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-03-04 20:54] mrlife opened #17210 "Class instance as parameter"
[**EDIT by guardrex** Note to self ... see :point_right: https://github.com/dotnet/aspnetcore/issues/19605]

A class instance (that has public properties that are set by a default constructor) as a parameter causes the razor component to not be displayed.

Can the following quote be confirmed?

I checked if it was JSON serializable with the following, and it serializes it as expected. I also inclu

[2020-03-04 21:38] guardrex commented on #17210
Hello @mrlife ... I'll need to do some more work to that one. It came straight over from engineering content, and I didn't have time to do much with it. 🏃 I'll probably work this one with the other one :point_right: https://github.com/dotnet/AspNetCore.Docs/issues/17160 ... but it will be perhaps a week or so before I can get to it due to high priority issues that must be resolved first.

To make

[2020-03-05 01:24] Rick-Anderson commented on #17206
@jl-rey  you should start over and follow the [current tutorial](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-3.1&tabs=visual-studio)

[2020-03-05 01:24] #17206 closed

[2020-03-05 01:25] Rick-Anderson commented on #17205
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2020-03-05 01:27] oyvindvik opened #17214 "dotnet user-secrets init"
I had to run this init statement first:
dotnet user-secrets init

before adding the secrets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4c264c0-0c5c-298e-bb45-9b4891c8d162
* Version Independent ID: ce69b990-0b4c-abda-cd2d-68f85cd8031e
* Content: [Microsoft Account external login setup with ASP.NET Core](https://do

[2020-03-05 01:29] Rick-Anderson commented on #17188
- Replace Example with API

[2020-03-05 01:30] Rick-Anderson commented on #17187
Can you provide a link?

[2020-03-05 01:32] Rick-Anderson commented on #17185
This issue shows how to do it.  ⌚️ to see if it needs to be added to doc.

[2020-03-05 01:32] #17185 closed

[2020-03-05 01:40] Rick-Anderson commented on #17214
The VS templates create initialize the secret. Did you create the project with `dotnet new` ?

To fix:

* Repo the problem.
* Create an include - something like

If the `dotnet user-secrets set ` command has the following error
error
run `dotnet user-secrets init`

[2020-03-05 01:42] Rick-Anderson commented on #17165
We use CSAT as a rough proxy for the improvements. I'm currently rewriting #17152 which has terrible CSAT and I can guarantee my version will be much higher.

[2020-03-05 01:44] #17141 closed

[2020-03-05 03:44] #17211 closed

[2020-03-05 03:58] ardalis opened #17216 "Mention [ApiController] with ValidateModelAttribute"
[ApiController] makes [ValidateModel] obsolete for APIs that use it. Would be worth mentioning here:
https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-3.1#action-filters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a70a955f-dd5a-c46b-dfe8-21521e619320
* Version Independent ID: ebb29

[2020-03-05 04:46] 296370493 opened #17217 "Some questions about using CORS！"
`public class Startup
{
    public void ConfigureServices(IServiceCollection services)
    {
        services.AddCors(options =>
        {
            options.AddDefaultPolicy(
                builder =>
                {
                    builder.WithOrigins("http://example.com",
                                        "http://www.contoso.com");
                });

            options.AddPolic

[2020-03-05 06:00] jstclair commented on #17205
Hi,

So did you want me to create and issue from the docs page? Unclear since you closed and then re-opened

[2020-03-05 06:54] Rick-Anderson commented on #17216
@ardalis  thanks for the heads up. I hope to get this documented soon.

[2020-03-05 06:56] Rick-Anderson commented on #17217
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-03-05 06:56] #17217 closed

[2020-03-05 06:57] Rick-Anderson commented on #17205
That would be great if you can create it from the doc page.

[2020-03-05 08:23] mungojam commented on #17187
I raised it on the page so the link is in the auto-generated bit at the bottom. Or do you mean the AWS use of it?

[2020-03-05 09:02] javiercn commented on #7224
https://gist.github.com/javiercn/62044bab948e42cc9e4e695e4aaee7b8

[2020-03-05 09:15] jstclair opened #17219 "ASP.NET Core - usage of CancellationToken doc"
After reading [this article on action binding for CancellationTokens](https://andrewlock.net/using-cancellationtokens-in-asp-net-core-mvc-controllers/), I looked through all the existing ASP.NET Core topics for any details on the same topic, but didn't find any.

Why: after reading the article above, ASP.NET Core's behavior is quite understandable but non-documented. In our scenario, we have some

[2020-03-05 09:15] #17205 closed

[2020-03-05 15:49] javiercn commented on #15160
@danroth27 [This](https://github.com/javiercn/blazor-server-aad-sample) is the way to do/pass tokens to a blazor app

[2020-03-05 16:02] CoryGM opened #17220 "Query String Changed Event Notification"
The previous items don't address this question specifically.

The LocationChanged event only covers about half of our scenarios. We have a number of search pages where the users are allowed to enter a number of different criteria. That criteria is passed through as parameters to the page service, rendering a different set of results for each change.

In the most common scenario this feature is han

[2020-03-05 16:08] guardrex commented on #17220
Hello @CoryGM ... This seems more along the lines of product feedback, especially the remark ...

That type of suggestion has to go to the product unit (engineers) on their repo. It's not a documentation issue. Although this will be seen here *eventually* by engineering, you might want to close here and open this on their repo :point_right: https://github.com/dotnet/aspnetcore/issues.

[2020-03-05 16:14] mrlife commented on #17210
@guardrex Thanks! The bit about using `ServerPrerendered` does seem to help some... the content is displayed due to the prerendering, though an error is thrown in the browser console. I opened a ticket with engineering here: https://github.com/dotnet/aspnetcore/issues/19605.

[2020-03-05 16:15] guardrex commented on #17210
I'll double check ... I don't recall an error, but it might be there. I'll let u know (and on that issue, too).

[2020-03-05 16:17] guardrex commented on #17210
No error here. Console is clean, but it does only work (thus far) with `ServerPrerendered`.

[2020-03-05 16:33] CoryGM commented on #17220
Good point. I'll close this out.

[2020-03-05 16:33] #17220 closed

[2020-03-05 17:07] mrlife commented on #17210
To close the loop on this and the attached engineering issue, this is the way it works for me without throwing an error.

MyClass.cs
[code]

Index.cshtml
[code]

Just in case, here are the details for my dotnet install, not sure if different than yours...

.NET Core SDK (reflecting any global.json):
 Version:   3.1.102
 Commit:    573d158fea

 OS Name:     Mac OS X
 OS Version:  10.15
 OS Platform

[2020-03-05 17:08] guardrex commented on #17210
Ok ... I'll give that a shot here. 🤞

[2020-03-05 17:21] guardrex commented on #17210
That doesn't work here. I've never been able to get the `Server` render mode to work here. I get a blank page, but I can see in the markup the placeholders for my three test components ...

<img width="268" alt="Capture" src="https://user-images.githubusercontent.com/1622880/76006634-66428500-5ed2-11ea-9547-5478b240cd57.PNG">

[code]

... or with an `@myObject` attribute value.

All three work wit

[2020-03-05 17:55] javiercn opened #17221 "Passing tokens to a server-side Blazor app"
Opening a new issue for this as per @danroth27 request.

This is how you pass and use access tokens and refresh tokens to a server-side Blazor API
https://github.com/javiercn/blazor-server-aad-sample

There's several people asking for this on a regular basis, (AAD or any other provider) so this sample and associated redme covers it.

I'll leave it up to @danroth27 and the docs team from here.

[2020-03-05 19:25] pranavkm commented on #17210
@guardrex it's the missing parameter-less constructor. Do you think we can add a section about this to our docs? If you had `Debug` logs enabled, it should tell you what went wrong, the surfaced error message is not helpful.

Something to the effect of if you see `The list of component records is not valid.`

a) If you're running locally, turn on `Debug` logs for `Microsoft.AspNetCore.Components`

[2020-03-05 19:59] ARambazamba commented on #17203
Sorry ... did not read the pre-build part!

[2020-03-05 19:59] #17203 closed

[2020-03-05 20:10] guardrex commented on #17210
So, we've clarified that it's **_supposed to work_** with both `Server` and `ServerPrerendered` modes. I understand that point.

I've tried what's been suggested regarding the parameterless ctor. No VS output errors (with debug component logging) and no console errors ... but I'm not getting component output. Here's the full set up that I have ...

#### *MyClass.cs*

[code]

#### *Shared/MyCompone

[2020-03-05 20:14] mrlife commented on #17210
@guardrex Is your result of `dotnet --info` different than mine?

.NET Core SDK (reflecting any global.json):
Version: 3.1.102
Commit: 573d158fea

OS Name: Mac OS X
OS Version: 10.15
OS Platform: Darwin
RID: osx.10.15-x64
Base Path: /usr/local/share/dotnet/sdk/3.1.102/

Version: 3.1.2
Commit: 916b5cba26

3.1.102 [/usr/local/share/dotnet/sdk]

Microsoft.NETCore.App 3.1.2 [/usr/local/share/dotnet/sh

[2020-03-05 20:16] guardrex commented on #17210
Same ... I'm on 3.1.102 ... but Windows.

[2020-03-05 22:00] pranavkm commented on #17210
What happens when you change the class as so:

[code]

[2020-03-05 22:06] serpent5 opened #17222 "Minor "Session and state management" issues"
I spotted a few minor issues with the latest changes to this topic:

1. The ToC entry reads "Session and app state", but the new title suggests that it should be "Session and state management".
2. The "Configure the TempData provider" code snippet has broken indentation around `UseEndpoints`.
3. The date of the topic still reads 11/12/2019.

---
#### Document Details

⚠ *Do not edit this section.

[2020-03-05 23:28] pranavkm commented on #17210
Is this with `ServerPrerendered`?

[2020-03-05 23:39] guardrex commented on #17197
@mkArtakMSFT Looking at the app's provided by the preview template, the name changes aren't obvious. Is there a list somewhere?

Also, this issue is probably as good a spot as any to call out the following versioning challenge given that one or more of these component name changes may apply to Blazor Server apps/docs ...

We're not going to have an `aspnetcore-3.2` moniker with which to version co

[2020-03-06 00:29] guardrex commented on #17210
No, just `Server`.

`ServerPrerendered` always worked for me ... both with and without the parameterless ctor.

[2020-03-06 00:55] #17222 closed

[2020-03-06 01:45] htwigg opened #17224 "Scaffolding TodoItem Controller"
I'm on Linux Mint.
'When I run the command

 `dotnet aspnet-codegenerator controller -name TodoItemsController -async -api -m TodoItem -dc TodoContext -outDir Controllers
`
I get this error:

Thing is, I installed dotnet-aspnet-codegenerator. I added
`export PATH="$PATH:$HOME/.dotnet/tools/"` to my bashrc . Now I don't knnow what to do

[2020-03-06 01:56] #14316 closed

[2020-03-06 02:22] Rick-Anderson commented on #17224
That error is pretty helpful. what happens when you run `dotnet --version` ?
My guess is the path is incorrect.

[2020-03-06 02:24] htwigg commented on #17224
it outputs 3.1.101

[2020-03-06 06:09] henryjones000 opened #17226 "How do you add Passwords?"
Does the article in "Security and Identity" compatible with this program?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faf18d20-d28f-1efa-d329-181fff3630fa
* Version Independent ID: 46a7c2e0-4871-491f-02c2-54f7df2237b1
* Content: [Get started with ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/tutoria

[2020-03-06 09:22] Rick-Anderson commented on #17226
yes

[2020-03-06 09:22] #17226 closed

[2020-03-06 10:29] f-engstrom opened #17227 "Misspelled method name"
Receive is misspelled in the chathub sendmessage method which leads to no message being displayed when sent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dd2991d-c22d-ad0f-80b6-bd1b503db8f3
* Version Independent ID: 5e3fbe1d-c97f-9940-4f0c-067d4b2112b1
* Content: [Get started with ASP.NET Core SignalR](https://docs.

[2020-03-06 11:03] gavimoss commented on #17029
I'm using VS Code, any way we can see real time updates without having to do a re-deploy?  In ASP.Net we could just make changes to the client side html/js, hit F5 in the browser and see the changes; having to re-deploy each time now seems like a step back!

[2020-03-06 11:48] terenceng2010 commented on #16704
With this, the swagger ui can render properly for web api controllers instead of throwing error. But still, it will not render the odata controller. I think it is the best we can have for now.

[2020-03-06 13:53] westpicoblvd commented on #14435
Thank you for clearing this up, It seems like a self-contradictory statement on its face.

[2020-03-06 14:15] LaughingJohn opened #17228 "Could you add some information about type conversion"
I believe type converters were added in preview 7 and it would be useful to have an example. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b1b6ad8-13ba-0195-8829-ade3b1b0b9cb
* Version Independent ID: 6609ea68-a918-f3b9-8c9c-004a4436e350
* Content: [ASP.NET Core Blazor data binding](https://docs.microsoft.com

[2020-03-06 15:27] joaoGoncalves81 opened #17231 "There is no example how to add authorization to all razor pages"
How to set authorization to all razor pages in aspnet core application?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3a49eaa-a2ee-baac-e614-5e2f7c74072a
* Version Independent ID: 09513dc8-546a-ea10-9f0b-cde361127647
* Content: [Razor Pages authorization conventions in ASP.NET Core](https://docs.microsoft.com/en-us/a

[2020-03-06 15:56] guardrex commented on #17228
Hello @LaughingJohn ... This is a dup of https://github.com/dotnet/AspNetCore.Docs/issues/16370.

[2020-03-06 15:56] #17228 closed

[2020-03-06 16:02] scottaddie commented on #17227
@f-engstrom I don't see any spelling mistakes. Can you please include the exact line of code where you see the problem?

[2020-03-06 16:09] scottaddie commented on #17214
Heads up that the `dotnet user-secrets init` command was added in .NET Core 3.0. It adds the `UserSecretsId` element to the project file, which is necessary to associate secrets with this project.

[2020-03-06 16:10] scottaddie commented on #17166
The change which extends the breadcrumbs to include sub-topics is live now.

[2020-03-06 16:44] scottaddie commented on #17204
Let's ask @rynowak or @stevejgordon.

[2020-03-06 17:19] Rick-Anderson commented on #17231
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/secure-data?view=aspnetcore-3.1

[2020-03-06 17:19] #17231 closed

[2020-03-06 17:23] ibalasenthil opened #17232 "picture and described test is different. 3.0 vs 3.1"
picture and version described text is different.
works fine in 3.1.
UseInMemoryDatabase not getting added in solution because of version conflict. entityframework.UseInMemoryDatabase installed from NuGet package than its working fine.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
*

[2020-03-06 17:33] Rick-Anderson commented on #17232
The image needs to be updated, but the instructions are correct.

[2020-03-06 17:33] #17232 closed

[2020-03-06 18:47] adam000 opened #17233 "Startup.cs no longer a part of Blazor WASM projects"
In [this section](https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-blazor-webassembly?view=aspnetcore-3.1&tabs=visual-studio#add-signalr-services-and-an-endpoint-for-the-signalr-hub) the tutorial makes references to Startup.cs, which IIUC is no longer a thing.

I figured out that the equivalent for `services.AddSignalR();` is now `builder.Services.AddSignalR();` in Program.cs but I'm

[2020-03-06 18:52] fsimonazzi opened #17234 "New 'AddKeyVault' overload simplifies client code"
The overload that takes only the key vault URI takes care of setting up the token provider for managed identities https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.azurekeyvaultconfigurationextensions.addazurekeyvault?view=dotnet-plat-ext-3.1#Microsoft_Extensions_Configuration_AzureKeyVaultConfigurationExtensions_AddAzureKeyVault_Microsoft_Extensions_Configuration_ICon

[2020-03-06 18:57] JMackey1 opened #17235 "Blazor tutorial: Unclear instructions for making the todo list"
Hello,

I ran into some issues while doing this tutorial. Note, I am fairly new to C# and my first experience with Razor/Blazor is through the Blazor section of the ASP.NET Core documentation. It's possible that if I had gone through all of the documentation (particularly Razor Pages and MVC) first that I wouldn't have had any issues.

1) Step 1 of the "build a todo list" section threw me off. I e

[2020-03-06 19:20] guardrex commented on #17233
Hello @adam000 ... It's a Blazor **_Hosted_** app, so there's a server project in the solution. The *Startup.cs* for that is here in the sample app for this topic :point_right: https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/tutorials/signalr-blazor-webassembly/samples/3.x/BlazorSignalRApp/Server/Startup.cs

[2020-03-06 19:20] #17233 closed

[2020-03-06 19:24] guardrex commented on #17235
Hello @JMackey1 ... Thanks for your feedback. I will take a look, but I'm 🏃🏃🏃🏃🏃😅 on many high priority Blazor issues for the next week (or *two* 😅) ... I'll get to this as soon as I can.

[2020-03-06 19:40] adam000 commented on #17233
Thanks for the clarification. This is the first time I've heard the "hosted" keyword as meaning a distinct type of project... (how many are there?? :) )

And the title doesn't mention "Hosted", leading to my confusion.

I guess the root of the issue is that I don't know what I need to do to use SignalR in my app -- are there different docs for using SignalR not-hosted, but in C#? Do I need to swit

[2020-03-06 20:02] Rick-Anderson commented on #17234
@fsimonazzi  thanks for the tip.

[2020-03-06 20:11] serpent5 commented on #17204
I'm certainly not Ryan Nowak or Steve Gordon, but I think Steve's [HttpClient Creation and Disposal Internals: Should I Dispose of HttpClient?](https://www.stevejgordon.co.uk/httpclient-creation-and-disposal-internals-should-i-dispose-of-httpclient) post should help:

Typed Clients use `DefaultHttpClientFactory.CreateClient(…)` too, so it's always a new `HttpClient`, but it's the management of `Ht

[2020-03-06 21:01] guardrex commented on #17233
There's *Blazor WebAssembly* in a standalone or hosted configuration and *Blazor Server*.

The *Hosted* template is described in the *Hosting models* topic :point_right: https://docs.microsoft.com/aspnet/core/blazor/hosting-models#blazor-webassembly

... and there's a bit in the Blazor *Host and deploy* topic :point_right: https://docs.microsoft.com/aspnet/core/host-and-deploy/blazor/webassembly#h

[2020-03-06 21:50] adam000 commented on #17233
Very helpful thanks!

This is the part I was missing:

I currently have a project of the `webapi` type that my Blazor WASM app is getting JSON from. Basically the "hosted" template just creates that for me. I suppose I could have converted my old project to use SignalR but it was easier for me to just start with a new "hosted" app and bring the small amount of code I have over to the new world and

[2020-03-06 23:22] danroth27 commented on #17197
@guardrex It's fine to leave the Blazor WebAssembly content in the ASP.NET Core 3.1 docs. The initial release of Blazor WebAssembly will be based on .NET Core 3.1.

[2020-03-06 23:29] danroth27 commented on #17197
@guardrex This issue is really about the recent *package* renames: https://github.com/dotnet/aspnetcore/issues/18384. `Basically Microsoft.AspNetCore.Blazor.*` -> `Microsoft.AspNetCore.Components.WebAssembly.*`. This affects namespaces too.

[2020-03-06 23:34] danroth27 commented on #17195
Auto rebuild will now work for Blazor WebAssembly and Razor Class Libraries with Visual Studio 2019 16.6, but it looks like we don't have any docs to update as a result. Closing.

[2020-03-06 23:34] #17195 closed

[2020-03-07 10:52] f-engstrom commented on #17227
Hi! I’m really sorry to have bothered you, I checked again and it turns out I’m the one that introduced the misspell, I thought I had used the copy function on the site for both the chathub, where I believed to have found the error, and the JavaScript. After you sent me this I realised that I had written the code for the chathub myself just looking at the page and at that point introduced the erro

[2020-03-07 12:01] jl-rey commented on #17206
Actually the new tutorial is the same. The problem seems to be that the `app.UseMvc` is the older method and should not be needed in the new tutorial but is still there.

At least not following the link provided.

[2020-03-07 16:07] mako-ng opened #17240 "Roles don't work unless NormalizedName is populated"
After going through the process to migrate my existing Membership tables, roles would not work until I manually set the NormalizedName values on all my roles.

I suggest you update the documentation to set the NormalizedName when populating the AspNetRoles table

[2020-03-07 17:30] Alexander-Lazarov88 commented on #16558
Hi, thank you for your work and thank you for Blazor. I am very excited and used for an internal company project. I read the documentation for using EF in Blazor a couple of times, but there is an example only for using DbContext directly in the component via ServiceProvider. Can you make a more complex example when we have a specific service(with injected unitOfWork via constructor) that gets inf

[2020-03-07 18:20] Rick-Anderson commented on #17206
That's not correct. Select the default 3.1 version.

[2020-03-07 21:55] serpent5 opened #17242 "Line highlighting is misaligned for UseWhen sample code"
The `UseWhen` sample code highlights `Configure` rather than `UseWhen`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9898482c-fa54-7ce2-1716-d14fbe03990d
* Version Independent ID: 3926c686-0ccc-f9fe-ca52-0134612a1623
* Content: [ASP.NET Core Middleware](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middle

[2020-03-07 21:56] JGregoryAtiba opened #17243 "How to add Microsoft.NET.Sdk.Web reference?"
The page offers a path to get around the locked deployment files by using Web Deploy and adding a Microsoft.NET.Sdk.Web reference to the project file.  However, there's no indication of how to got about adding that reference... Microsoft.NET.Sdk.Web doesn't appear to be a Nuget package, and it doesn't appear anywhere in the "Add Reference..." dialog.

---
#### Document Details

⚠ *Do not edit this

[2020-03-07 22:00] BrennanConroy commented on #17243
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-3.1#webconfig-file

Put `<Project Sdk="Microsoft.NET.Sdk.Web">` at the top of your csproj

[2020-03-07 22:04] JGregoryAtiba commented on #17243
I've already got that at the top of my project file and I'm using Web Deploy, but still ran into the locked deployment files problem.  But no biggie, I just manually stopped and started the app pool.  Thanks for the super-fast response!

[2020-03-08 02:42] mkArtakMSFT commented on #17169
Thanks for sharing your thoughts, @guardrex.
I need some more time on this, so please leave this aside for now, till I get back. It won't be forgotten, as I have this on my to-do list and will get back you.

[2020-03-08 02:54] #12778 closed

[2020-03-08 03:54] #17242 closed

[2020-03-08 03:54] #17243 closed

[2020-03-08 15:31] s-brouillard opened #17246 "Routing and URL paths section placement"
Hello,

The Routing and URL paths section could potentially be moved before we test the Post method with Postman. Since I'm not as advanced as some others, I had trouble recognizing the endpoints even thought they were clearly written in the comments of each method. Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-03-08 17:42] Rick-Anderson commented on #17246
Thanks for the suggestion.

[2020-03-08 17:42] #17246 closed

[2020-03-09 03:30] zubairkhakwani commented on #8434
i am using .net core 3.1 web api project and using jwt for authentication with `services.AddIdentity<IdentityUser, IdentityRole>()
    .AddEntityFrameworkStores<ApplicationDbContext>();` but when i use Authorize attribute instead of returning 401 unauthorized or even when i provide the correct token it redirect to login page but it work perfectly fine with `services.AddDefaultIdentity(IdentityUser

[2020-03-09 10:45] dush-a opened #17249 "AddMvc() and UseMvc() in 3.1 at ConfigureServices and Configure methods"
Even after selecting or refreshing the page it still shows:
services.AddMvc()
            .SetCompatibilityVersion(CompatibilityVersion.Version_2_2);

and
app.UseMvc();

Do we still need it in ASP.NET Core 3.1?

Another doc it says use AddControllers() or AddControllersWithViews() or AddRazorPages()
reference: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs

[2020-03-09 11:10] stevejgordon commented on #17204
@serpent5 is correct. Internally the HttpClientFactory feature pools and manages the lifetime of the `HttpMessageHandler` instances. Instances of `HttpClient` are always newly created by the factory.

Typed clients are transient for that reason as it ensures they always get a new `HttpClient` instance, which may or may not have an existing chain of `HttpMessageHandler`.

Most of that I'd consider

[2020-03-09 12:27] georgekosmidis commented on #17204
Thank you all for the answers, it really helped clear things out, but wouldn't you think that a note of this should exist in the documents?

For us devs, understanding why we are doing something is very important and just by reading the docs you can get easily confused. I mean, without knowing all about these implementation details, reading alone the "Improper Instantiation antipattern" and then t

[2020-03-09 12:33] LaughingJohn commented on #17228
Aha, thanks, sorry didn't spot that!

[2020-03-09 12:34] serpent5 commented on #17249
This topic hasn't been updated to 3.1 yet. The work for that is being tracked in https://github.com/dotnet/AspNetCore.Docs/issues/13877.

[2020-03-09 15:13] SteveSandersonMS commented on #17198
OK, content is here: https://gist.github.com/SteveSandersonMS/6482fe31bc744fdd19bf5360d0ce88c0

Note that this also includes the "caveats" section we need to link to from the project template.

Unassigning myself now. @guardrex, can you take over from here? Let me know if you need anything more from me!

[2020-03-09 16:53] jtheisen opened #17252 "Styling the message"
There's no information on how to style the mail, and the "htmlMessage" parameter already contains the text including the link. The `IEmailSender` interface also says it's not intended to be directly used by user code.

So how to I customize the mail to use a proper mail template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-03-09 17:16] scottaddie commented on #17227
No problem. Thank you for confirming.

[2020-03-09 17:16] #17227 closed

[2020-03-09 17:30] DrEsteban opened #17255 "Code block examples don't use updated ASP.NET Core 3.1 conventions for MVC"
The code blocks on this page still use the AddMvc()/UseMvc() extension methods, which (as I understand it) only still exist for back-compat reasons.  The latest guidance is to use AddControllers()/AddControllersWithViews() in the ConfigureServices() method, and then UseEndpoints() in the Configure() method.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.1#endp

[2020-03-09 17:39] Rick-Anderson commented on #17249
Dup of  #13877.

[2020-03-09 17:39] #17249 closed

[2020-03-09 17:40] Rick-Anderson commented on #17252
That's beyond the scope of this tutorial.

[2020-03-09 17:40] #17252 closed

[2020-03-09 18:24] jtheisen commented on #17252
Is it also out of the scope of ASP.NET Core Identity?

Because if it is, it renders all the rest of the tutorial absolutely useless.

[2020-03-09 18:40] CaboFernando opened #17256 "Something about this article need adjusts"
I'm read this page:

https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mongo-app?view=aspnetcore-3.1&tabs=visual-studio

 This article was very useful, but it was missing to talk about two things that can get around by searching the web. I will quote them:

1 - When creating the project from scratch, visual studio adds a controller to run from the beginning, which can be changed by goin

[2020-03-09 21:44] serpent5 commented on #13877
@Rick-Anderson Can I take this one?

If yes, here's a proposal:

1. Copy the existing topic into its own `>= 3.0` version, wrapping the original version in `< 3.0`. This follows the pattern we've been using lately.
2. Remove all other monikers in the file. There are a few scattered around, so this would be all about putting the right content in the right places, collapsing it all down to just thos

[2020-03-09 23:31] Rick-Anderson commented on #13877
@serpent5  I'll do steps 1 & 2 for you tonight. Step 3 would be a huge help. It's easier for me to do 1 & 2 because I can do a quick check of the build to verify nothing has changed.

[2020-03-09 23:52] Rick-Anderson opened #17257 "How to Localize validation message (DataAnnotationsValidator) in Blazor server side:"
See [this SO](https://stackoverflow.com/questions/59659489/how-to-localize-validation-message-dataannotationsvalidator-in-blazor-server-s) question.

The SO answer is correct. However, this is not really Blazor Server specific, rather just MVC.

This doc needs to point to [Globalization and localization in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=as

[2020-03-10 00:31] Rick-Anderson opened #17259 "actionType<IAsyncEnumerable>"
See https://stackoverflow.com/questions/59841277/returning-iasyncenumerablet-and-notfound-from-asp-net-core-controller

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa03501b-5e71-4c18-0269-39babbf9d93c
* Version Independent ID: b51bc104-a6e2-b21f-8362-45cee22e8c22
* Content: [Controller action return types in ASP.NET

[2020-03-10 08:54] fredrikhaglund opened #17262 "Invalid Code Snippet"
The Code Snippet below "The following code shows how to set up the in-memory session provider with a default in-memory implementation of `IDistributedCache`:" does not make sense at all and does not contain any relevant code.

app-state/samples/3.x/SessionSample/Startup.cs?name=snippet1&highlight=12-19,39

Code makes sense in aspnetcore-2.2 version of page but I guess something broke during refact

[2020-03-10 09:07] xrkolovos opened #17263 "Provide guidance about asp.net core apps that run signalR"
I believe this section should be here
https://docs.microsoft.com/en-us/aspnet/core/signalr/scale?view=aspnetcore-3.1#linux-with-nginx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f22dcddb-0c25-be1a-9a02-9e71dce86bdb
* Version Independent ID: 3e0e12c2-e544-5655-e001-d2ec180b11a8
* Content: [Kestrel web server implemen

[2020-03-10 09:15] rblackmore commented on #16557
Had the exact same problem, seems it doesn't work when doing it the Visual Studio 2019 way.

In the package manager console I ran the following commands (not sure if the first 2 are necessary). I also navigated the PMC to the directory my *.csproj file is in, not sure that was require either.

dotnet tool install --global dotnet-aspnet-codegenerator

dotnet add package Microsoft.VisualStudio.Web.C

[2020-03-10 12:11] PeterWone commented on #15830
For me, password reset emails work perfectly but the confirmation message is never sent. I have a breakpoint in the start of the SendEmailAsync method and it's hit every time for password reset but never for confirmation.

[2020-03-10 12:26] guardrex commented on #17263
We have a topic for Linux with Nginx :point_right: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx?view=aspnetcore-3.1

I think we need to re-organize a bit. We have a PR with updates for WebSockets at https://github.com/dotnet/AspNetCore.Docs/pull/17181. The content can be moved to the Linux with Nginx topic and then cross-linked from both locations (WebSockets and Blazor

[2020-03-10 12:29] #17263 closed

[2020-03-10 12:33] guardrex commented on #11403
Note to the content author: We have some movement on this subject for SignalR+WebSockets on Linux at https://github.com/dotnet/AspNetCore.Docs/pull/17181, but that's only a partial solution because it only directly addresses the subject in the Blazor topic.

That's a community generated PR, so it might be best to wait until that goes in and then perform some followup work. After that one is merged

[2020-03-10 14:08] CeciAc opened #17265 "CS0103 C# The name does not exist in the current context"
Hi team,
I moved this from here: https://github.com/dotnet/AspNetCore.Docs.ru-ru/issues/75

@OleksandrFomenko commented 35 minutes ago — with docs.microsoft.com
updated Program.cs file has mistake CS0103 C# The name "Host" does not exist in the current context

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03221075-5df

[2020-03-10 14:39] CeciAc opened #17266 "How do I export *.json files instead of accessing them directly"
@JHeLiu commented on [Mon Mar 09 2020](https://github.com/dotnet/AspNetCore.Docs.zh-cn/issues/250)

1.How do I export *.json files instead of accessing them directly
2.If I can't export the json file, how do I get cross-domain access to the API that I interviewed on 3.1 and that cross-domain access is not allowed
3.Because I rewrote the swagger- UI, it was too ugly, so it was pretty.I now want to

[2020-03-10 16:44] serpent5 commented on #13877
There's no rush. Just let me know when it's ready and I'll pick it up. I'll have a look around for some other topics that need a 3.x update and see if there are any I can help with.

[2020-03-10 17:11] seanronan opened #17267 "Can I change ApplicationUser PK when used with IdentityServer4?"
Without IdentityServer4 my DbContext would inherit/implement IdentityDbContext - which supports changing the ApplicationUser PK to an int.
With IdentityServer4 above my DbContext now inherit/implements ApiAuthorizationDbContext which appears to only accept a single param and gives the error
The type 'MyApp.Web.Models.ApplicationUser' cannot be used as type parameter 'TUser' in the generic type or

[2020-03-10 17:43] Rick-Anderson commented on #17265
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2020-03-10 17:43] #17265 closed

[2020-03-10 18:38] #17262 closed

[2020-03-10 19:46] guardrex commented on #17191
Here's the blog post content for reference ...

[2020-03-10 20:07] Rick-Anderson commented on #17267
I would ask the IdentityServer4 folks.

[2020-03-10 20:07] #17267 closed

[2020-03-10 20:07] Rick-Anderson commented on #17266
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-03-10 20:07] #17266 closed

[2020-03-10 20:09] Rick-Anderson commented on #17256
Moved to #16196

Next time Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2020-03-10 20:10] Rick-Anderson commented on #17240
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2020-03-10 20:10] #17240 closed

[2020-03-10 20:32] CaboFernando commented on #17256
Thanks Dude

[2020-03-10 20:33] CaboFernando opened #17271 "Something about this article need adjusts"
This article was very useful, but it was missing to talk about two things that can get around by searching the web. I will quote them:

1 - When creating the project from scratch, visual studio adds a controller to run from the beginning, which can be changed by going to louchSettings.json and changing where "weatherforecast" is written to "api"

2 - The article tells us to create an API with .Net

[2020-03-10 23:15] #17144 closed

[2020-03-10 23:16] #17198 closed

[2020-03-10 23:28] #17197 closed

[2020-03-10 23:28] guardrex commented on #17191
Here's the blog post content for reference ...

[2020-03-10 23:29] guardrex commented on #17194
Blog post content for reference ...

[2020-03-10 23:42] #17196 closed

[2020-03-11 00:48] Rick-Anderson commented on #13877
@serpent5  1 &2 done in #17272
That was a PITA
Really needs an update and improvements. Should be fun to work on.

[2020-03-11 03:42] ysq5202121 commented on #17235
看不懂哈

[2020-03-11 04:05] rynowak commented on #17204
If you want to suggest some specific improvements I think we'd be happy to make them. 👍

In our minds we try to make things as clear as possible without over-explaining. If we end up with the docs as a "wall of text" it's equally bad.

[2020-03-11 12:21] GabrielHSFerreira commented on #16547
I had the same impression. For example, the IHostingEnvironment  is deprecated on 3.1.

[2020-03-11 12:23] raymond-holmboe opened #17279 "Protecting functions with B2C"
I could not get my scenario working: a Blazor Webassembly app hosted in a storage account as static page, calling Azure Functions protected by B2C.
I was blocked by a CORS issue. Any chance this may work in the future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfb23446-3b01-73a8-70e2-697367065264
* Version Indepen

[2020-03-11 12:26] texyh commented on #15371
TRUE!!, that docs mislead me for days, thanks for this correction. i have a question tho, so in my case, the user language is stored in the server, please i want to know where is the best place  to make the api call to get the user languages and set the cultureinfo using the language. @PaloMraz  @guardrex

[2020-03-11 15:38] guardrex opened #17280 "Blazor PWA topic UE pass"
We didn't have time to do it prior to release.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c8c235e-1ce4-046f-e848-294096361922
* Version Independent ID: 6240f626-97d4-ace0-5e34-20e1c3592f86
* Content: [Build Progressive Web Applications with ASP.NET Core Blazor WebAssembly](https://docs.microsoft.com/en-us/aspnet/c

[2020-03-11 15:44] scottaddie commented on #16954
The following Docs Engineering PR incorporates the highlight.js changes into the docs site: https://ceapex.visualstudio.com/Engineering/_git/docs-ui-assets/pullrequest/21814?_a=overview

[2020-03-11 23:46] danroth27 opened #17282 "Update Host and Deploy content for Blazor WebAssembly for 3.2 Preview2"
The structure of the published output of a Blazor WebAssembly app is different starting with 3.2 Preview2. A Blazor WebAssembly app is now published to the */bin/Release/netstandard2.1/publish/wwwroot* folder (a *dist* folder is no longer generated). To publish a standalone Blazor WebAssembly app as a static site, copy the contents of the published *wwwroot* folder to your static site host. If the

[2020-03-11 23:49] danroth27 commented on #17282
Related to https://github.com/dotnet/AspNetCore.Docs/issues/17191, but this change was initially missing from the announcement blog post.

[2020-03-11 23:49] danroth27 commented on #17282
@guardrex Putting this at the top of your queue as this changes how you deploy your app.

[2020-03-12 00:08] mrlife commented on #16287
In the meantime, is there any way to briefly post here the order that lifecycle methods happen within a single component and some info on the ordering among parent/child components?

[2020-03-12 00:55] anuraj opened #17284 "Working with Visual Studio Code Section"
## Add a database context

1) Need to install the Microsoft.EntityFrameworkCore package

## Register the database context

1) Need to install the Microsoft.EntityFrameworkCore.InMemory package

## Scaffold a controller

1) When I ran the Scaffold a controller command. I received an error message like this.

"To scaffold controllers and views using models please install Entity Framework core packag

[2020-03-12 01:09] Rick-Anderson commented on #17284
All those steps are in the tutorial.

[2020-03-12 01:09] #17284 closed

[2020-03-12 01:51] paulquevedo99 opened #17285 "hj"
hgj

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad8c13e7-78e6-cf9a-e7cb-3215df5fd1c4
* Version Independent ID: a3c1d2a6-625a-3409-120d-8372230a8196
* Content: [Introduction to ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.2#feedback)
* Content Source: [aspnetcore/index.md](https://git

[2020-03-12 02:44] #17285 closed

[2020-03-12 04:55] danroth27 commented on #16287
@mrlife The component lifecycle methods are documented here: https://docs.microsoft.com/aspnet/core/blazor/lifecycle. Let us know if anything is still unclear!

[2020-03-12 11:21] guardrex commented on #16287
We don't describe ordering (yet) ... https://github.com/dotnet/aspnetcore/issues/13473#issuecomment-525826974.

[2020-03-12 11:21] #17282 closed

[2020-03-12 12:38] mmarinchenko opened #17286 "Hosting Kestrel behind a reverse proxy requires Forwarded Headers Middleware configuration, not host filtering"
Hosting Kestrel behind a reverse proxy requires Forwarded Headers Middleware configuration, not host filtering

Warning messages which state about host filtering requirement in reverse proxy scenario are wrong.

Correct info provided:
- in final note about AllowedHosts option (on this page)
- in "Configure a reverse proxy server" section of dedicated pages such as "Linux with Nginx" and "Linux wit

[2020-03-12 12:42] mmarinchenko commented on #17286
Mentioned warnings are present in the following sections:
- When to use Kestrel with a reverse proxy
- Transport configuration

[2020-03-12 12:47] andrew-lewell opened #17287 "Missing GetTodoItem method in POST section?"
I think the scaffolding may have changed as I am unable to build with the code for the POST method. It cannot find the GetTodoItem method which I assume is because this does not exist yet in the GET method. I am going to work forwards through the rest of the code and see if it fixes it.

My scaffolded code:
// GET: TodoItems
        public async Task&lt;IActionResult&gt; Index()
        {

[2020-03-12 12:49] javiercn opened #17288 "Add a section to describe options for hosted applications and third party login providers"
Here is the content an the link to the Identity docs on how to do this https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/additional-claims?view=aspnetcore-3.1

### Content
When authenticating and authorizing a hosted Blazor app with a third party provider, there are several options available for authenticating the user. Which one you choose depends on your specific scenar

[2020-03-12 13:36] mrlife commented on #16287
@danroth27 @guardrex Thank you, I have read through [the lifecycle docs page](https://docs.microsoft.com/aspnet/core/blazor/lifecycle) a few times so far. To me, these are saying the same thing. It would really help to have the ordering. Is it known at this time?

When the component is initialized and has received its first set of parameters from its parent component.

The other unclear thing is h

[2020-03-12 13:38] donile opened #17289 "Typo"
The first sentence of the second paragraph should read, "Placing a route ATTRIBUTE on the controller or the action makes it attribute routed."  The word "attribute" is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee6ad2f-1667-8d5c-1f36-9d0511e3720f
* Version Independent ID: 7838ccec-c8e8-9baa-2b3e-220b2af5f

[2020-03-12 13:40] andrew-lewell commented on #17287
I've been looking into this and it seems that the scaffolded controller inherits from Controller but in your code it inherits from Controller:Base. The scaffolded controller I have also scaffolds views which I believe I should not have.

[2020-03-12 13:45] guardrex commented on #16287
I agree ... we'll need to fix that language. I'll increase the priority of this issue. I'll get to it asap.

[2020-03-12 13:59] andrew-lewell commented on #17287
I managed to get my POST working by removing all the views and commenting out other methods for now. After doing some digging - It looks like the scaffolded controller in .NET Core has to use the MVC approach with views. I believe your tutorial must use the scaffolding from .NET or perhaps an old scaffolding.

[2020-03-12 16:07] guardrex commented on #17286
Cross-ref to the original PR for the content ...

https://github.com/dotnet/AspNetCore.Docs/pull/5674

... the issues are private/internal. A few PRs that touched this text were :eyes: by engineering and approved since then.

[2020-03-12 17:09] Rick-Anderson commented on #17289
Thanks.
Fixed in #16456

[2020-03-12 17:09] #17289 closed

[2020-03-12 17:12] Rick-Anderson commented on #17287
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2020-03-12 17:12] #17287 closed

[2020-03-12 17:40] Seabizkit commented on #17125
thanks, its much in need but i see there is a lot of changes... so not as simple as one would think LOL, but we need docs which are easier to follow. ++

im trying to do something which i feel the examples should cover as its most likely what someone will do but hard than its should be to figure out.

I have this which is working:
[code]
now im trying to "override/modify/tweek" one of the controll

[2020-03-12 21:14] rrsit opened #17291 "Capture references to components - in a foreach loop?"
[EDIT by guardrex to set the code block]

the section "Capture references to components" explains how to "link a component to a variable".

but what happens when components are declared in a @foreach loop?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent

[2020-03-12 21:45] guardrex commented on #17291
Thanks for the question @rrsit ... does this help :point_right: https://github.com/dotnet/aspnetcore/issues/17361#issuecomment-558138782

... and leave this issue open if it does because I agree that the pattern might be worth mentioning.

[2020-03-12 21:49] guardrex commented on #17291
... this is also looks related :point_right: https://github.com/dotnet/aspnetcore/issues/13358

[2020-03-12 21:52] guardrex commented on #17291
Like this example :point_right: https://github.com/dotnet/aspnetcore/issues/13358#issuecomment-582057368

[2020-03-12 21:56] guardrex commented on #17291
These are usually triaged by engineering on Fridays, so let's leave this up for a look. :eyes:

Artak, should we engage with any coverage for this scenario?

[2020-03-12 21:59] rrsit commented on #17291
thanks, i was expecting this answer (and actually using this pattern in my test code, it works).
the reason i'm posting here is because i think the doc needs clarification on that specific question. why? because i ran into the following thing today:

i tried out radzen blazor components today, and when i generate a page with a grid, that contains a sub-grid for each row, the following code is gene

[2020-03-12 22:12] guardrex commented on #17291
Sure thing.

As far as I can tell from the discussion over there, they just haven't reached a critical mass of feedback to say/do more. When Artak sees this, he'll let us know if we should doc something now or close and wait until more feedback comes in for formal engineering action or an approved engineering pattern that they'd like to pitch.

[2020-03-12 22:30] Rick-Anderson opened #17292 "Explain this is what's generated by templates"
We have links all over to this article. It needs to state right away that you're probably using Generic host.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5f1eeee-d500-82bf-0d0a-b4e0d5d5c175
* Version Independent ID: 2373a3df-6ea3-50c7-d63d-61c51d572511
* Content: [.NET Generic Host](https://docs.microsoft.com/en-us

[2020-03-13 00:15] rynowak opened #17293 "We're missing guidance about using Dispose to unhook from .NET events in Blazor"
@DamianEdwards and I can't find anywhere that the docs tell you to unsubscribe from .NET events (like those from `NavigationManager` and `EditForm`).

It's not enough for us to add this to the dispose/lifecycle method, we probably need to call it out anywhere else we document using a .NET event.

[This example](https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-3.

[2020-03-13 00:22] danroth27 opened #17294 "Provide guidance on how to switch an app from Blazor Server to Blazor WebAssembly and the reverse"
We should provide guidance on how to take a Blazor Server app and convert it to a Blazor WebAssembly app and the reverse.

[2020-03-13 00:33] DamianEdwards commented on #17293
Would be a great candidate for an analyzer

[2020-03-13 01:07] guardrex commented on #17294
Is this merely related to ... or is it a dup of ... https://github.com/dotnet/AspNetCore.Docs/issues/12572?

[2020-03-13 02:00] guardrex commented on #17293
Is this the pattern you'd like to recommend?

[code]

(plural)

... you're referring to more than just `LocationChanged`?

[2020-03-13 02:53] scottaddie commented on #16955
This change is live.

[2020-03-13 03:06] scottaddie opened #17296 "Support colorization of the @code directive for Razor components"
The highlight.js language definition for CSHTML/Razor doesn't currently specify `@code` as a valid directive. Therefore, colorization isn't applied to the keyword in our code snippets. For example:

![image](https://user-images.githubusercontent.com/10702007/76586016-9fb85900-64ad-11ea-936f-6b1262bcd9c7.png)

[2020-03-13 03:23] rynowak commented on #17293
Looks right. In the case the `EditContext` example it's a bit of defense in depth because in this particular example the `EditContext` lives as long as the component. However, it would be easy for someone to turn this code into an example that leaks memory.

We should also look for cases where we show timers and double-check those.

You're right, there's just `LocationChanged`. There used to be ot

[2020-03-13 03:41] Naveen512 opened #17297 "Large File Streaming Technique"
In the file upload article, for large file upload using stream technique,
1. Disabled model binding is it mandatory to disable model binding because of most of the cases file upload will have some additional data to be stored to database how to achieve if we disable model binding in MVC?
2. Stream technique explained by calling the post method from javascript ajax call, so instead of javascript if

[2020-03-13 03:52] danroth27 commented on #17294
They are certainly related, although the scenarios are a bit different. This issue is about migrating from one hosting model to the other. #12572 is about having a hybrid app that can do either hosting model. There's certainly a lot of overlap between these two topics.

[2020-03-13 04:19] Rick-Anderson commented on #17297
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-03-13 04:19] #17297 closed

[2020-03-13 05:06] guardrex commented on #17293
Ok ... I think I have enough to work this. *See you on the PR!* 🏃

[2020-03-13 05:08] Rick-Anderson opened #17298 "Dependency injection master issue"
This is the master issue for this doc. If you PR this doc and don't fix all the issues, open the issues you fix and close against that.

Not PU issues:
- [ ] Define "factory method" #17901
- [ ] Include a topic about how the service collection works #14973
- [ ] Disposing of service instances not created by the container #16773
- [ ] Call services from main ObjectDisposedException explanation #178

[2020-03-13 05:12] Rick-Anderson commented on #17052
Moved to Dependency injection master issue #17298

[2020-03-13 05:12] Rick-Anderson commented on #16773
Moved to Dependency injection master issue #17298

[2020-03-13 05:12] Rick-Anderson commented on #16323
Moved to Dependency injection master issue #17298

[2020-03-13 05:18] Rick-Anderson opened #17299 "DI Break up samples"
For example, the first sample using `MyDependency` shouldn't show the other  services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d78f540-81fd-1ba9-cb90-591e4ec27d9b
* Version Independent ID: 2251f557-dd3a-ec35-2558-6243337db009
* Content: [Dependency injection in ASP.NET Core](https://docs.microsoft.com/en-us/asp

[2020-03-13 05:28] guardrex commented on #17294
*Switch* is merely *conversion*, and that's easy enough to work out.

When we come to #12572, I'll either need notes/snippets on how to compose it or one of the engineers to hack up a sample.

I wish both subjects could be covered in the same topic to economize coverage of related subject matter.

If covered together **_in a new topic_** .........

* **_ASP.NET Core Blazor hosting model conversion

[2020-03-13 07:00] Seabizkit opened #17300 "Consolidate, merge update the docs"
https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-3.1
and
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.1

two different links with different info for the same thing... or am i missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee6

[2020-03-13 08:00] Rick-Anderson commented on #17300
Totally different docs. See #16456

[2020-03-13 08:00] #17300 closed

[2020-03-13 09:35] lukos opened #17301 "Motivation"
I don't think the motivation for these is very clear. I can inject per-page scripts/css using @section and bringing in content via an html file to avoid having that inline would work with a normal script tag. The examples would be better if they did something that wouldn't otherwise be possible using the existing mechanisms.

What would be useful is explaining how to do the same thing inside a nor

[2020-03-13 12:22] CeciAc opened #17302 "async controllers"
@JHeLiu commented on [Fri Mar 13 2020](https://github.com/dotnet/AspNetCore.Docs.zh-cn/issues/252)

On. Net core we're seeing more asynchronous controllers, and whether it's better to do that, or whether it's better to do that in a write case, or whether it's better to do that in a write case, or all of that, hopefully the documentation will give you a hint

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.micro

[2020-03-13 13:01] shoffma1 commented on #17294
From a user perspective, both topics would be great to have.  For me currently, I already have a production server-side app that seems like it would benefit from moving to web assembly, due to network latency.  From what I have seen of the preview sample template, its missing quite a bit, such as the ability to setup authentication from the start.
Looking forward to the work on this documentation,

[2020-03-13 13:01] guardrex opened #17304 "Portal and App ID URI deltas for Blazor Hosted AAD topic"
Address the deltas between portal features and app specifications for the App ID URI:

* In JN's portal, the entire App ID URI is configurable. For example, he's able to set `{CUSTOM SCHEME}{CUSTOM VALUE}` as the App ID URI (for example, `api://c125a858-7637-41fa-a6a1-fb5382a13778`). I'm prevented from setting the App ID URI in the AAD of the portal. He claims this is only the case in the B2C area

[2020-03-13 13:06] guardrex commented on #17294
We just loaded those docs for **_preview_**. The scenarios aren't supported for production just yet. You can see those topic tho starting at :point_right: https://docs.microsoft.com/aspnet/core/security/blazor/webassembly/

[2020-03-13 14:27] rakotomandimby opened #17305 "dotnet-client.md : Add an example for console application"
Issue description

The code sample in https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/signalr/dotnet-client.md is about a WPF application.
I would like to complete it to cover a "Console Application" too.

_I create this issue in order to PR against it_

[2020-03-13 14:42] jonathanalberghini opened #17306 "Is there a way to use odata and Iqueryable to mongo?"
Is there a way to use odata and Iqueryable to mongo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5240866d-d0a1-f0dd-7b2c-203e1d69bc4b
* Version Independent ID: 83a5cb3b-23bc-4f0c-cd1c-1d1ffeb1131a
* Content: [Create a web API with ASP.NET Core and MongoDB](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first

[2020-03-13 15:01] mrlife opened #17307 "Checking for expired ClaimsPrincipal cookie"
In the "About cookie expiration" section, the following explains how to set an expiration time. Could something be added on how to check if a ClaimsPrincipal cookie is expired? I can't find this information anywhere in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2229fc6-f8c8-952e-e567-b1d5a463055a
* Versi

[2020-03-13 15:18] #17235 closed

[2020-03-13 15:34] javiercn opened #17308 "[Blazor] Host multiple client applications side-by-side"
This is a placeholder issue for the docs. I'll be writing the contents and posting them here. No action needed until then

[2020-03-13 16:01] balukantu opened #17309 ".NET core application insights vs ServiceFabric application insights"
Hi Team,

I am working on the ServiceFabric project. I have been using the ServiceFabric logging where ServiceContext and custom messages are being passed to logger methods so we have flexibility in ApplicationInsights to filter the values based on service, log level, etc.

As it is tightly coupled with service fabric, I am planning to integrate the .NET Core logging mechanism ( ApplicationInsight

[2020-03-13 16:55] Rick-Anderson commented on #17302
Async is generally preferred.

[2020-03-13 16:55] #17302 closed

[2020-03-13 17:52] Rick-Anderson commented on #17271
moved to Master list: Create a web API and MongoDB #16196

[2020-03-13 17:53] Rick-Anderson commented on #17306
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-03-13 17:53] #17306 closed

[2020-03-13 17:54] Rick-Anderson commented on #17309
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2020-03-13 17:54] #17309 closed

[2020-03-13 17:55] Rick-Anderson commented on #17305
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2020-03-13 17:55] #17305 closed

[2020-03-13 17:57] Rick-Anderson commented on #17301
Thanks for the suggestion. Unfortunately we don't have the resources to update this doc.

[2020-03-13 17:57] #17301 closed

[2020-03-13 18:16] Rick-Anderson commented on #17286
@jkotalik please review

[2020-03-13 19:01] DamianEdwards commented on #17293
Would this be cleaner by just using a private method rather than a private field and lambda expression?, e.g.

[code]

[2020-03-13 19:12] guardrex commented on #17293
Sounds good to me.

[code]

[2020-03-13 21:42] Szeraax opened #17310 "Link is dead"
"The DataType attribute on ReleaseDate specifies the type of the data (Date). With this attribute:"

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.dataannotations.internal.datatypeattributeadapter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d975a83-1550-b284-d0d8-7fe2ea206ff5
* Version Indepe

[2020-03-13 22:12] Buzzkill-McSquare opened #17311 "Unable to run"
I've followed the steps verbatim and the "ResolveBlazorRuntimeDependencies" task fails with the following error;

```System.IO.FileNotFoundException: Could not load file or assembly '/home/ryan/BlazorSignalRApp/Client/obj/Debug/netstandard2.1/BlazorSignalRApp.Client.dll'```

I'm using Visual Studio Code to work on the app. I've tried running the "Run Without Debugging" command as well as running `

[2020-03-13 22:40] guardrex commented on #17311
@Buzzkill-McSquare ... Open this for the product unit on the engineering repo. Put a "cc: @guardrex" at the bottom of your opening comment so that I get pings on the discussion. If the error is something we need to address on the doc side, then I'll re-open and work this issue after we hear back from engineering.

https://github.com/dotnet/aspnetcore/issues

[2020-03-13 22:40] #17311 closed

[2020-03-13 23:39] Rick-Anderson commented on #16998
Fixed in #17122

[2020-03-13 23:39] #16998 closed

[2020-03-13 23:42] #17310 closed

[2020-03-14 07:31] JandosKh opened #17314 "ApiController attribute on multiple controllers"
Example code shows MyControllerBase being an non-abstract class. However this will throw an error: "Action methods on controllers annotated with ApiControllerAttribute must be attribute routed".
Must be abstract class derived from ControllerBase class.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b391017f-25e1-d5e1-c

[2020-03-14 08:23] rakotomandimby opened #17315 "Add an example for console application"
The code sample is about a WPF application.
 I would like to complete it to cover a "Console Application" too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9bc1072-be2c-94f6-49bf-daa9e97dff2d
* Version Independent ID: 36052173-7061-6d01-8aed-915685cd7cf6
* Content: [ASP.NET Core SignalR .NET Client](https://docs.mic

[2020-03-14 16:00] balukantu opened #17316 ".NET core application insights vs ServiceFabric application insights"
Hi Team,

I am working on the ServiceFabric project. I have been using the ServiceFabric logging where ServiceContext and custom messages are being passed to logger methods so we have flexibility in ApplicationInsights to filter the values based on service, log level, etc.

As it is tightly coupled with service fabric, I am planning to integrate the .NET Core logging mechanism ( ApplicationInsight

[2020-03-14 17:45] Rick-Anderson commented on #17316
See https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging

[2020-03-14 17:45] #17316 closed

[2020-03-14 17:46] Rick-Anderson commented on #17315
We'll consider this. Thanks for the suggestion.

[2020-03-14 17:49] Rick-Anderson commented on #17314
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2020-03-14 17:49] #17314 closed

[2020-03-14 19:50] denmitchell opened #17317 "Additional Section for Adding Roles, or Policies"
This documentation was very helpful.  The page suggests that we have full access to configure Identity Server as we see fit.  In looking at the overloads for .AddIdentityServer and .AddApiAuthorization in the server project's Startup class, that does seem to be true; however, it would be helpful to provide another section where you demonstrate how to configure an app to support roles or policies -

[2020-03-14 22:32] guardrex commented on #17317
Hello @denmitchell ... Thanks for the feedback. This was the one topic that I didn't get a chance to personally test here (the technical aspects were published directly from engineering), so I'm glad to hear that your experience was good.

Covered as *overview*-level concepts ...

* For the `[Authroize]` attribute, we cross-link to the main doc set :point_right: https://docs.microsoft.com/aspnet/c

[2020-03-15 03:22] Alienroid opened #17319 "Blazor WebAssembly with Hosted AAD B2C problem"
Hi,

I followed the instructions. When I test, I was able to login. However, I got conflicting results on the redirect:
1) LoginDisplay's @context.User.Identity.Name! I was able to get the correct value
2) @body I got the "There was an error trying to log you in: 'AADB2C90205: This application does not have sufficient permissions against this web resource to perform the operation."

If I click on

[2020-03-15 07:08] rakotomandimby commented on #17315
@Rick-Anderson , I am going to provide the PR myself

[2020-03-15 09:58] Seabizkit opened #17320 "Can not get routing desired working, worked in framework"
I cannot get routing to work the same way as i could in Framework with Core 3.1

I am using Core 3.1....and preferred way, using UseEndpoints and Route attribute.

Framework;
I have the default area registers
[code]
[code]
In my "Importer" Area, I have controllers with names: "Template" and "Source"

 [area] Importer
------- [controller] Source
------------------------- Url: Importer/Source
------

[2020-03-15 13:20] guardrex commented on #17319
Hello @Alienroid ... The docs in this node are *brand new* ... we only put them up last week when 3.2-Preview 2 came out, so it's not surprising that a few rough spots are going to be hit with them.

Things might be a little rough in preview. We had some trouble with scopes in the AAD version of the topic that I'll be investigating further this week. Here with AAD B2C, I just discovered something

[2020-03-15 15:45] Alienroid commented on #17319
Thanks Luke for getting back to me and with such detailed write up. I totally understand that this is only preview, I know this all to well. I'll try it out few more times and report findings here. Otherwise I'm just going to wait for future builds. Thanks again!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Luke Latham <notifications@github.com>
Sent: Sunday,

[2020-03-15 18:24] seanronan commented on #17267
It was an issue with the lightweight ApiAuthorizationDbContext written for this sample which didn't support all the IdentityDbContext constructors.
https://stackoverflow.com/questions/58208894/aspnet-core-identity-custom-apiauthorizationdbcontext gives the work around, nothing to do with IdentityServer4

[2020-03-15 21:06] Jaraxal opened #17322 "Incorrect command: dotnet aspnet-codegenerator"
I'm using dotnet v 3.1.102 on LinuxMint (Ubuntu).  When I ran the command to install the code generator: `dotnet tool install --global dotnet-aspnet-codegenerator`

It installed as `~/.dotnet/tools/dotnet-aspnet-codegenerator`

The command example to run doesn't work: `dotnet aspnet-codegenerator razorpage -m Movie -dc RazorPagesMovieContext -udl -outDir Pages/Movies --referenceScriptLibraries`

I

[2020-03-15 23:09] MichaelStett opened #17323 "Cancel method is not static"
[There](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/server?view=aspnetcore-3.1#cancel-early-and-avoid-use-after-dispose) is a mistake in:
[code]

`Cancel()` is not a static method

So it should be:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1a9f84a-feaa-d2b0-409a-01f75f9101a0
* Version Indep

[2020-03-16 00:33] guardrex commented on #17323
Thanks @MichaelStett ... I'll fix that up in the morning.

[2020-03-16 01:39] Rick-Anderson commented on #17320
A quick glance looks like your mixing up conventional routing with attribute routing.  Hopefully PR #16456 will merge soon and you'll be able to use that to figure out what you're doing wrong.

[2020-03-16 01:39] #17320 closed

[2020-03-16 01:41] Rick-Anderson commented on #17315
@bradygaster can you approve or reject the proposed PR?

[2020-03-16 01:42] Rick-Anderson commented on #17267
@seanronan  thanks for the follow up.

[2020-03-16 01:52] Rick-Anderson commented on #17322
@Jaraxal  your saying all
`dotnet command`
must be replaced with
`~/.dotnet/tools/dotnet-command`

There must be an alias `~/.dotnet/tools/dotnet command` that also works.

[2020-03-16 01:57] matthewkrieger opened #17324 "How do I get an instance of HubConnectionContext so I can call GetUserId?"
How do I get an instance of HubConnectionContext so I can call GetUserId?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0da2144-3730-f8ef-1d16-a89f11fd6198
* Version Independent ID: 6d8f5bc8-8f5c-ba13-b7f2-0366eac46f81
* Content: [Authentication and authorization in ASP.NET Core SignalR](https://docs.microsoft.com/en

[2020-03-16 02:34] Jaraxal commented on #17322
@Rick-Anderson This may be a Linux specific issue; I'm not sure.  I'm able to run dotnet commands just fine.

[code]

The install command for aspnet-codegenerator as listed in the tutorial is:

[code]

That is what I ran and it installed successfully.  However, it created the tools under `~/.dotnet/tools`

[code]

I'm unable to run `dotnet aspnet-codegenerator`:

[code]

I'm unable to run `dotnet

[2020-03-16 03:56] #17324 closed

[2020-03-16 07:18] Seabizkit commented on #17320
hi Rick, I'm trying to read :
https://github.com/dotnet/AspNetCore.Docs/blob/rynowak/3.x-routing-update/aspnetcore/fundamentals/routing.md
and honestly its making it hard to understand what i need to do;

im starting with Core 3.1 and moving a framework mvc 5.7.2 over.

I have 3 areas,
- Org
- Sysadmin
- Importer

and the default mvc [controller]/[action]/id?  (area = "")

I am using traditional c

[2020-03-16 08:15] cornem opened #17325 "Update publish folder paths"
It appears that the latest preview no longer publishes assets to `{ASSEMBLY NAME}/dist/` but instead to `wwwroot`. The documentation should be updated accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89b4d6a1-1436-7ba8-a5c5-8dcb6a955bb0
* Version Independent ID: 4a6a13b4-fe5c-a9fb-5d7d-33d5aa0fbac3
* Content

[2020-03-16 11:07] guardrex commented on #17325
Hello @cornem ... it was taken care of on https://github.com/dotnet/AspNetCore.Docs/pull/17283. It *almost* went live on Friday on https://github.com/dotnet/AspNetCore.Docs/pull/17313. :smile: I'll take it live now.

[2020-03-16 11:12] guardrex commented on #17325
*Oh!* I see what you mean ... additional lines not covered by #17283. Thanks ... I'll patch those up.

[2020-03-16 11:22] guardrex commented on #17325
.

[2020-03-16 11:23] guardrex commented on #17325
.

[2020-03-16 11:30] #17325 closed

[2020-03-16 11:39] #17323 closed

[2020-03-16 12:19] G3Kappa opened #17328 "Notes about calling 'app.UseCors' before or after 'app.UseAuthorization'"
I just spent a while debugging a rather trivial problem that completely went over my head until a second pair of eyes pointed it out.

If you call 'app.UseCors' before calling 'app.UseAuthorization', all calls from an external origin that depend on authorization will fail. And it makes sense, because middleware run in the order they are defined. However, I would argue that the CORS middleware shou

[2020-03-16 12:33] #17120 closed

[2020-03-16 12:53] guardrex commented on #17142
CORS is discussed at length in the SignalR topic (e.g., https://docs.microsoft.com/en-us/aspnet/core/signalr/security?view=aspnetcore-3.1), and this tutorial cross-links the SignalR topics. I think we're good here.

[2020-03-16 12:53] #17142 closed

[2020-03-16 13:21] dansoper opened #17330 "Accessing MVC request context in handlers"
I believe this section is no longer true in ASP.NET Core 3.0?
https://github.com/dotnet/aspnetcore/issues/11075

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1141d92-adeb-6841-229f-914c808f9a2b
* Version Independent ID: 7089b376-949f-c1c6-c37a-5d8cc7ecf104
* Content: [Policy-based authorization in ASP.NET Core](https

[2020-03-16 14:00] smiller7812 opened #17331 "EnrollmentDate validator on Create saying required when has a value."
I'm at Test the App.  Went to students/index, clicked "Create New".
Filled in values for LastName, FirstName, and Enrollment Date.
And I get "The EnrollmentDate field is required." for the Enrollment Date ASP Validator.  I tried putting [DataType(DataType.Date)] and still get the same thing.
Could be a chrome thing.  Don't know why this is happening from the scaffolding.  Oh - but just checked it

[2020-03-16 14:02] smiller7812 commented on #17331
Well now it's working in Chrome.  Came back and created new student after getting it to work in Microsoft Edge.  I do have "[DataType(DataType.Date)]" on the Enrollment date property.

[2020-03-16 16:50] guardrex commented on #17304
@mkArtakMSFT I went back over my discussion with Javier, and I think we should have a discussion here with a member of the AAD team. Here is best because I probably need time to grok remarks and test behaviors for potential followup questions. Also, we have more flexibility here, as posts can land when we're free.

Can you find/ping one of the AAD folks to assist?

After we're done here, we might

[2020-03-16 17:13] guardrex commented on #17319
Update ... *rather frustrating*, but re-enabling the popup blocker in Firefox and testing again ... **_the app works_** as it did the other day. At this point, we can only draw one logical conclusion as to why ... *Yes!* ...

# 👽

*... they are among us.* :smile:

Seriously tho, I can't explain why it flaked out this morning.

I don't have anything actionable yet on your scenario/setup. I would li

[2020-03-16 17:14] CeciAc opened #17332 "No information about injection of hosted services"
@deadman2000 commented on [Mon Mar 16 2020](https://github.com/dotnet/AspNetCore.Docs.ru-ru/issues/76)

No information about injection of hosted services/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d78f540-81fd-1ba9-cb90-591e4ec27d9b
* Version Independent ID: 2251f557-dd3a-ec35-2558-6243337db009
* Content: [Depend

[2020-03-16 17:48] mu88 commented on #15464
Can someone please explain to me why we have to set `UseBasePath` when using Nginx? On IIS, I can simply create a reverse proxy from `http://localhost/demo` to `http://localhost:8000` and it works without setting `UseBasePath`. It seems strange to me that I need to add a deployment feature to my code - I'd expect the code to be "deployment agnostic".

[2020-03-16 18:14] Rick-Anderson commented on #17332
@deadman2000 what were you expecting? Moving this issue tracking to  #17298 but respond here please.

[2020-03-16 18:26] guardrex commented on #15464
@mu88 The **_app_** doesn't know where it's deployed, and the app has to be able to create links to resources, for example. Such links won't be correct if it doesn't know its base path.

For IIS/ANCM ...

* https://docs.microsoft.com/aspnet/core/host-and-deploy/iis/#out-of-process-hosting-model
* https://docs.microsoft.com/aspnet/core/host-and-deploy/aspnet-core-module#out-of-process-hosting-model

[2020-03-16 18:38] TonyKenny666 opened #17334 "Additional step asks to confirm email address"
Implementing this in core 3.1 and an additional UI step is encountered when it asks the user to confirm the email address before they can log in and also requires email confirmation. This step is not shown in this page and there's no information about how to just use the facebook email address to create a new user without asking first.
Regarding the email confirmation, i'd like to require this onl

[2020-03-16 19:11] guardrex commented on #17119
The syntax is covered in the https://docs.microsoft.com/aspnet/core/blazor/event-handling topic. Although as you say, we don't get into passing a value to a DOM event handler element attribute value ... that's just ordinary Razor ... and we cross-link here to the Razor syntax topic. We're not focusing on the basic Razor aspects. Let's stick with the current language and see if we receive more feed

[2020-03-16 19:36] alvipeo commented on #16031
These examples but be on this page. Please add them.

[2020-03-16 19:54] mu88 commented on #15464
@guardrex Thank you for your explanation. Do you know the reason with `UseBasePath` is baken into the code, rather than specifying a configuration variable?

[2020-03-16 20:18] guardrex commented on #15464
I don't know why from a framework-design perspective, but you can set a value in your app's config just like any ordinary string key-value and then read it into `UsePathBase` where you call it.

[2020-03-16 20:51] Rick-Anderson commented on #17334
That only happens when you set `RequireConfirmedAccount `

[code]

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm?view=aspnetcore-3.1&tabs=visual-studio

[2020-03-16 22:58] serpent5 commented on #17322
In Linux, the `~/.dotnet/tools` must be added to `PATH`.

[2020-03-16 23:52] Rick-Anderson commented on #17322
@Jaraxal  I was under the impression that Linux folks were supposed to know they needed to:

 `~/.dotnet/tools` must be added to `PATH`.
Can you try that and test the commands?

[2020-03-17 00:03] Jaraxal commented on #17322
@Rick-Anderson I know that adding `~/.dotnet/tools` to the `PATH` will work, somewhat.  I would still need to run the command as `dotnet-aspnet-codegenerator` whereas the example in the tutorial is `dotnet aspnet-codegenerator`.  Notice the difference of the `-`.

I approached the tutorial as a new .NET programmer and only recently installed .NET to work through the tutorial.  In doing so, I follo

[2020-03-17 00:05] Rick-Anderson commented on #17322
Are you sure? Have you tried it?

Didn't you need to export `dotnet` to get it to work?

[2020-03-17 00:07] Jaraxal commented on #17322
It actually works without the `=`.  I had a typo in my PATH.  So it looks like I'm good, but it wasn't a blocker.  I was able to move past that as indicated by specifying the path.

I'm curious, are there docs that reference having to modify PATH as part of the installation of .NET?  I could have missed it.

[2020-03-17 00:15] Alienroid commented on #17319
Hi Luke,

Should I follow up here or in the newer thread you’ve created?

I just did everything again. With firefox, I could log in and log out properly. Clicking on FetchData will crash due to … I haven’t looked into that yet, but it’s on the client side (server controller never got called).

However, if I try with chrome, right after login, I’ll get the error:

There was an error trying to log y

[2020-03-17 00:20] Rick-Anderson commented on #17322
https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1910

[2020-03-17 00:22] Rick-Anderson commented on #17322
https://docs.microsoft.com/en-us/dotnet/core/install/sdk?pivots=os-linux

[code]

[2020-03-17 00:46] guardrex commented on #17319
Let's discuss Hosted with AAD B2C here. I'll use the other issue to work through the Azure Portal and scope address aspects of the Hosted with AAD. If you saw that issue, it looks like we'll be chatting with an Azure 🐈 for help with that scenario.

When you get to that, I had good luck 🍀 with Postman. I had the `FetchData` component write out the exact token it was going to use to the console ...

[2020-03-17 01:09] guardrex commented on #17319
I see discussions of that error, too, out there. For example wrt an Azure sample ...

https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/4

[2020-03-17 01:20] miroslavp commented on #12340
@BrennanConroy Now that we have running .NET Client in the browser, shouldn't we expect the same behavior as for the javascript client? I see no query parameter passed to the hub

[2020-03-17 01:25] BrennanConroy commented on #12340
I think you're referring to https://github.com/dotnet/aspnetcore/issues/18697

[2020-03-17 01:40] Alienroid commented on #17319
I've gone through that thread before posted here. That thread seems old and not related. That said, I first gone through non-wasm case, blazor server side and seems to be working fine.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Luke Latham <notifications@github.com>
Sent: Monday, March 16, 2020 6:09:13 PM
To: dotnet/AspNetCore.Docs <AspNetCore.Docs@noreply.g

[2020-03-17 01:46] Alienroid commented on #17319
I wish there's private chat here. We can just chat about stock market or have some laughs. I got LinkedIn or fb if you want to connect jasonertw on Facebook. Futures is up tomorrow but I wouldn't buy anything now (except maybe uso)

I'll try postman later when I have time.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jason Chen <iam31337@hotmail.com>
Sent: Mon

[2020-03-17 02:08] Rick-Anderson commented on #17330
@blowdart  please suggest what in this doc needs to be surrounded by
[code]

Is it just

##Accessing MVC request context in handlers

[2020-03-17 03:34] tedypranolo opened #17336 "Reload/Refresh won't trigger breakpoint, but navigation would."
I am using 3.2 preview. I followed the instructions here and added breakpoint in the browser debugger. Because I want to break within `OnInitializedAsync` I figured the obvious way is to reload the page. But that didn't work. The breakpoint would only work if I navigate to the razor.page , for example using the navigation menu in my blazor app. I think this fact should be mentioned in the doc.

--

[2020-03-17 04:47] guardrex commented on #17336
Thanks @tedypranolo ... I'm going to move this over to the existing issue that pertains to updates for Blazor WebAssembly debugging. When the engineer supplies content for that issue, we should get feedback on this scenario.

[2020-03-17 05:13] Rick-Anderson commented on #17330
@serpent5 , isn't this related to [this SO](https://stackoverflow.com/questions/58565574/reading-the-authorizationfiltercontext-in-netcore-api-3-1/58566024#58566024) response?

[2020-03-17 10:43] serpent5 commented on #17330
Yep, that's right. What I present there appears to be the recommend approach to access `HttpContext` in 3.0+. See https://github.com/dotnet/AspNetCore.Docs/pull/15218 for more.

[2020-03-17 11:11] ibrahimuludag opened #17338 "Obselete Functions"
Some functions like UseWebpackDevMiddleware is obselete for .Net Core 3.1. Could you update this page for .Net Core 3.1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c771657b-a681-8e8a-52ed-3d974520f528
* Version Independent ID: 318e32fc-62f2-c0e5-4658-5729aad48c91
* Content: [Use JavaScript Services to Create Single

[2020-03-17 12:16] #15471 closed

[2020-03-17 12:54] Jaraxal commented on #17322
Thank you @Rick-Anderson.  The reference to the path is under the manual install section.  The very beginning of that doc also shows the Package Manager approach, which is what I followed.  The only references to the PATH in Package Manager install document are that it will be auto-set, which didn't happen for me.

[2020-03-17 13:34] Seabizkit commented on #17320
an answer to this would be great! as i believe i'm am using it correctly simply does not work.

this is hold me back, a have taken time to try figure this out would love some feedback on how this is meant to work.

This was possible in framework, seem not supported or a am doing something wrong, but what?

[2020-03-17 14:39] daveabrock commented on #17234
@Rick-Anderson I'm back! Want me to take a stab?

[2020-03-17 14:40] binki commented on #17119
Hi @guardrex,

Sorry in advance for sounding harsh below. However, it is my thoughts and hopefully it gives you a better understanding of my confusion. Thank you for your consideration of my feedback and for putting work into this project!

I would beg to differ. The syntax covered in that article is specifically quoted here:

This is not a documentation of syntax. It is a description of one parti

[2020-03-17 15:39] quammy commented on #16997
Hi,
I'm on VSCode and and when running the command

```dotnet aspnet-codegenerator controller -name TodoItemsController -async -api -m TodoItem -dc TodoContext -outDir Controllers```

It results for me with this error:

PS C:\Users\XXX\TodoApi> dotnet aspnet-codegenerator controller -name TodoItemsController -async -api -m TodoItem -dc TodoContext -outDir Controllers
Could not execute because the

[2020-03-17 17:11] #17322 closed

[2020-03-17 17:14] Rick-Anderson commented on #17320
* Go to [this DropBox link](https://www.dropbox.com/sh/yy994551cje0kap/AAB0tRnm7gze2kYrSYPSFHIda?dl=0)
* In the upper right, select Donwload -> Direct download
* Click on HTML files.

[2020-03-17 17:17] Rick-Anderson commented on #17234
@daveabrock  yes

[2020-03-17 17:48] guardrex commented on #17119
Thanks ... yes ... my response was a bit quick there 🏃. I was keying in on the event handling directive attributes part of your initial comment. I knew that the directive attribute is cross-linked from the *Event handling* topic, but I didn't realize that it **_wasn't cross-linked_** from the *Component parameters* section of the *Use components* topic (and indeed several of them aren't well cross

[2020-03-17 17:53] LeoCosta16 commented on #17118
Thanks for the help, i was trying to figure out what was wrong in my code. I install the Microsoft.EntityFrameworkCore.InMemory Nuget package and now it's working and I can continue the tutorial

[2020-03-17 17:54] LeoCosta16 commented on #17180
You need to also add Microsoft.EntityFrameworkCore.InMemory Nuget package. After you install the error will be fixed.

[2020-03-17 17:56] Rick-Anderson commented on #17118
That's listed in the instructions

[2020-03-17 17:57] Rick-Anderson commented on #17180
That's listed in the instructions

[2020-03-17 18:02] Seabizkit commented on #17320
Hi Rick, fyi finally figure out a solution

 constraints: new { area = "Importer", controller = "Template" }

so something like this seesm to be doing the trick
[code]
as always seem obvious now ;-)

thx

[2020-03-17 18:07] Rick-Anderson commented on #16574
@DarkFM  where does it say that? Can you copy/paste the instructions?

[2020-03-17 18:13] Rick-Anderson commented on #17320
@Seabizkit  glad you got it working. Did you have a chance to review the updated topics?

[2020-03-17 18:31] binki commented on #17119
@guardrex

A lead-in paragraph here could be that missing link! It describes common attribute patterns and some universal attributes (e.g., `@key`). But it doesn’t really explain that it is referring to directives placed within a component “invocation” (i.e., in the opening tag where attributes passed to the component are placed). And while I have suspicions from grappling with things and reading

[2020-03-17 19:07] mslot opened #17342 "When is IIS used as reversed proxy?"
If I run my asp.net core code on a webapp hosted on a Windows agent I can see that the Server header is set to IIS. When I run my asp.net core code from a Linux docker container, the Server header is set to kestrel. I can set up nginx in front of the docker container, but is there any reversed proxy already in front, that I don't know of, when running from a docker container? And is it possible to

[2020-03-17 19:14] Rick-Anderson commented on #17342
That's not WIndows, that's Windows AppService - right. For Windows AppService, you can't remove IIS. You could use [Azure App Service on Linux](https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-intro)

[2020-03-17 20:34] scottaddie opened #17344 "Implement folder-level versioning for docs"

[2020-03-17 20:44] mslot commented on #17342
Correct, Windows AppService. Basically, what I can't read anywhere is if there is something in front of the docker instance when like IIS when I run Windows AppService?

[2020-03-18 01:05] angar4ik opened #17347 "Configure<IdentityOptions> doesn't work"
The code doesn't affect password complexity.

`services.Configure<IdentityOptions>(options =>
            {
                // Password settings.
                options.Password.RequireDigit = false;
                options.Password.RequireLowercase = false;
                options.Password.RequireNonAlphanumeric = false;
                options.Password.RequireUppercase = false;

[2020-03-18 02:46] guardrex commented on #17347
@angar4ik ... Recommend that you close this and re=open it from the **This page** feedback button and form at the bottom of the topic ... it will add metadata to your issue for tracking and automatically ping the author of the topic.

[2020-03-18 04:06] ClaudioFriederich opened #17348 "What about constraints for type parameters?"
How do you (can you) specify type parameter constraints?  In particular, specify that the type must implement an interface or derive from a base class?  For example, suppose you wanted to use functionality in the constraint (i.e. modify the table template in the example to include autogenerated cells in each row, displaying values provided by a constraint base class or interface the type parameter

[2020-03-18 04:48] guardrex commented on #17348
Hello @ClaudioFriederich ... Open an issue for the product unit. Cross-link this topic ...

[code]

Add a "cc: @guardrex" to your opening issue comment so that I can follow the discussion.

Open it at: https://github.com/dotnet/aspnetcore/issues

I'll re-open this if we can add something to the doc to cover it.

[2020-03-18 05:49] Seabizkit commented on #17320
looks gook...(see all types fixed) so much info.., i think even if its not perfect,  more current info is better than older info, thx rick

[2020-03-18 08:26] ClaudioFriederich commented on #17348
I searched and found that an issue already exists in the product unit: https://github.com/dotnet/aspnetcore/issues/8433

As I understand the discussion there, constraints are possible by creating a partial class for the component, and declaring the constraints in the partial class.  I have not had a chance to try this, but several people reportedly got it to work.

Thank you for the information an

[2020-03-18 10:11] tomidix opened #17349 "Dozen of blazor dotnet command doesn't work if we are using a latest listed Microsoft.AspNetCore.Blazor.Templates package"
All of the authentication commands (standalone) in docs doesn't work if we don't specifically follow get started page of the docs in which it is stated that 3.2.0-preview2.20160.5 should be used.
However, it doesn't make sense to go through all the documentation each and every time you want to update your project so please list this version on nuget.org. You'll save people a lot of time.

[2020-03-18 11:23] guardrex commented on #17348
@ClaudioFriederich ... Cool. I'll see if I can craft something temporarily for that in the doc. We don't usually document workarounds while they work on a new feature. However, I see a lot of :+1: on that issue. I'll ping you on the PR.

[2020-03-18 11:43] guardrex commented on #17349
Hello @tomidix ...  I hear you on that. They don't know the version number for a preview release until they get to the release. It's just one of those little things that devs have to deal with during this period. The good news is that Blazor WebAssembly will be an officially released product in a few months. After that, you won't need to do the separate template install step.

@mkArtakMSFT can com

[2020-03-18 12:08] tomidix commented on #17349
I thought this would be the case so that's why I wrote just to list this specific version.

If there is a specific reason why it's not listed then it would be nice if the standalone auth documentation pages could have the requirements changed too.. specific template version should be mentioned there as I red this and thought that I'm satisfying the requirements:
_The guidance in this article appli

[2020-03-18 12:21] guardrex commented on #17349
We do have the Blazor WebAsssembly notes in INCLUDE files for all of the topics ...

The article note is ...

The section note is ...

Those could say at the end .....

Then, I only need to update two files to update the version everywhere each pre-release. That would be easy, and it would only be temporary. Of course, the NOTE INCLUDE files will be deleted when Blazor WebAssembly reaches its firs

[2020-03-18 12:40] smiller7812 commented on #13752
I agree this is confusing.  I usually just skip over content like this in tutorials and books.  Don't want to waste my time and brain power and get bogged down. I'm just moving on to the update section.

[2020-03-18 15:37] guardrex opened #17351 "Blazor generic type contraints"
Revert https://github.com/dotnet/AspNetCore.Docs/pull/17350 and cover the feature for 5.0.

Engineering issue: [Allow generic type constraints (dotnet/aspnetcore #8433)](https://github.com/dotnet/aspnetcore/issues/8433)

**UPDATE as of 8/17/2020** &mdash; The engineering issue has been moved to the backlog.

**UPDATE as of 4/1/2021** &mdash; This is **_ON_** for 6.0.

Blog Post: https://devblogs.m

[2020-03-18 15:54] dfyx opened #17354 "PaginatedList<T> causes a warning in combination with IQueryable<T>.Include"
`PaginatedList<T>.CreateAsync()` as it appears right now causes an EFCore warning at runtime when `source` loads related data through `Include`. For example if I want to display a list of enrollments in my table, I get the following:

This is correct in the sense that `CountAsync()` does indeed ignore `Include` operations but not really helpful because the `ToListAsync()` in the following line use

[2020-03-18 16:01] guardrex commented on #16360
@John0King ... Unfortunately (as you can see :point_up:), I'm not finding the time to get to this issue. I'm 🏃😅 on priority Blazor issues as far as the :eye: can see.

@Rick-Anderson Does this one fall into the 'advanced scenarios' bucket for the community to discuss and dig into (e.g., blog about)? If so, then we can close. If you want it worked, it will need to go to someone on the docs team or

[2020-03-18 16:06] guardrex commented on #11149
@Rick-Anderson ... There's no action here AFAIK. Whatever way it goes, I'm not going to have the time to do anything significant with this, so I'm removing my assignment. I'll leave it to you to assign or close.

[2020-03-18 16:30] #17347 closed

[2020-03-18 18:13] punnooseJosephPachikkara opened #17355 "Why Should i need to clear certificate"
In Product phase we dont have any control of clients certificates. So hence clearing certificates is a bad notion right

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ddfb2f-5dea-5e31-2a27-02a4dc16104c
* Version Independent ID: 12ca0b9a-2638-a4ce-c45f-d4579c83dafb
* Content: [Enforce HTTPS in ASP.NET Core](https://do

[2020-03-18 18:21] Rick-Anderson commented on #17355
Where does it say that?

[2020-03-18 18:27] punnooseJosephPachikkara commented on #17355
Rick,
https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr?view=aspnetcore-3.1&tabs=visual-studio

If you get the error ERR_SPDY_INADEQUATE_TRANSPORT_SECURITY in Chrome, run these commands to update your development certificate:

Regards
Punnoose

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Rick Anderson<mailto:notifications@github.com>
Sent: 18 M

[2020-03-18 18:36] Rick-Anderson commented on #17355
Those are development certs. The instructions are correct.

[2020-03-18 18:36] #17355 closed

[2020-03-18 18:37] Rick-Anderson opened #17356 "Enforce HTTPS Master issue"
This is the master issue for this doc. If you PR this doc and don't fix all the issues, open the issues you fix and close against that.

- [ ]
- [ ]
- [ ]
- [ ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ddfb2f-5dea-5e31-2a27-02a4dc16104c
* Version Independent ID: 12ca0b9a-2638-a4ce-c45f-d4579c83dafb
* Content: [

[2020-03-18 18:38] Rick-Anderson commented on #14801
Moved to Enforce HTTPS Master issue #17356

[2020-03-18 18:38] #14801 closed

[2020-03-18 18:39] Rick-Anderson commented on #15249
Moved to Enforce HTTPS Master issue #17356

[2020-03-18 18:39] #15249 closed

[2020-03-18 18:40] Rick-Anderson commented on #15779
Moved to Enforce HTTPS Master issue #17356

[2020-03-18 18:40] #15779 closed

[2020-03-18 18:41] Rick-Anderson commented on #16859
Moved to Enforce HTTPS Master issue #17356

[2020-03-18 18:41] #16859 closed

[2020-03-18 18:41] Rick-Anderson commented on #16974
Moved to Enforce HTTPS Master issue #17356

[2020-03-18 18:53] Rick-Anderson commented on #16360
This is out of the scope of the document.

[2020-03-18 18:53] #16360 closed

[2020-03-18 19:51] traycn opened #17357 "Wrong Note's section included"
"Note:
You may not be able to enter decimal commas in the Price field. To support jQuery validation for non-English locales that use a comma (",") for a decimal point, ..... "

Seems out of context with the tutorials section about updating the Layout.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70f6104a-a223-4bb3-41

[2020-03-18 20:16] Rick-Anderson commented on #17357
It's not
just before
Test the other links (Home, RpMovie, Create, Edit, and Delete).

[2020-03-18 20:16] #17357 closed

[2020-03-18 21:04] scottaddie commented on #17214
I'll take care of this one.

[2020-03-18 21:14] Rick-Anderson commented on #17214
@scottaddie  this is low priority as it only impact `dotnet new`. It's always been the case that `dotnet new` project didn't have the `UserSecretsId ` - but before you needed to add that yourself.

With 5K PV, this is low pri. Why don't you assign it to @wadepickett

[2020-03-18 22:12] #17358 closed

[2020-03-19 00:11] bdnts opened #17360 "Blazor forms and validation topic feedback"
This documentation has gaps in it larger than Florida sink holes.  These gaps leave questions unanswered, and resolving those questions suck up hours of research trying to get authoritative answers.  All of this leads to lower engineer productivity.  What gaps?  Let me list them:
1) Where is the code example?  If you are going to do code snippets, it should be required that there be an accompanyin

[2020-03-19 01:37] guardrex commented on #17360
Hello @bdnts ... Thanks for your feedback, and I agree with your editorial remarks. [btw -- ❤️ your **_Florida_** reference ... I live in Pensacola! 🏖] Let's take a look at your points ...

1. The snippets are "code examples;" so when you say "code example," do you mean a running sample app? If so, it's a dup of https://github.com/dotnet/AspNetCore.Docs/issues/14216. We plan to perform a *big samp

[2020-03-19 02:42] ClaudioFriederich opened #17362 "Last example should show validation summary on invalid submit rather than valid submit"
The last example seems backwards - the example shows the validation summary on a valid submit.  This does not seem to make sense - it should show it on an invalid submit (otherwise the user will only see it if they submit it with no errors to show).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884

[2020-03-19 03:53] bdnts commented on #17360
Hi Luke,

Thanks for the response.  I try to be constructive in my criticisms, but, boy you should have seen the first draft!  Lol.  It seems the big points on everything from MS are done well, but when you get down to making something real, there are these gaps that waste hours doing research.  I’m 4 months behind on a critical project—and I’m the boss!—because I’m dying by a thousand questions,

[2020-03-19 05:28] uzabumuhire opened #17363 "Blazor WebAss embly template missing in VS 2019 preview 16.6"
I have just installed VS 2019 preview 16.6.NET, 5.0 preview 1 SDK and the WebAssembly  3.2 preview 2 template, but when I try to create a new Blazor WebAssembly app in VS, the template is not available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version Independent ID: 8226ed7

[2020-03-19 06:07] ttdivava commented on #17265
The same thing happened to me as well

[2020-03-19 07:09] #16734 closed

[2020-03-19 09:38] miri10134 opened #17365 "Inaccurate information"
Hi, some issues I found when trying to follow this page:
1st: Could you please add the required using directive or at least some assembly/namespace information for the StateContainer? I'm using the latest Blazor WebAssembly template (3.2.0-preview2.20160.5), but I can't inject it because the compiler doesn't know that class (neither does Visual Studio).

2nd: The fragment for the /login-callback r

[2020-03-19 10:31] guardrex commented on #17363
Hello @uzabumuhire ... The SDK should be 3.1.102 (check `dotnet --version` to confirm). If that's correct, next try re-installing the template (run the command in Step 2 again). If you're still having trouble getting it to show up in VS under **Blazor App* > **Configure your new project** > **Create a new Blazor app**, then open an issue for the product unit at https://github.com/dotnet/aspnetcore

[2020-03-19 10:31] #17363 closed

[2020-03-19 10:38] guardrex commented on #17365
Hello @miri10134 ...

1. *Yes* ... In general, adding `using` statements to code snippets an on-going effort across the docs. In this specific case, I'll get back to you asap ... in a few hours hopefully.
1. Ok ... thanks for reporting that. I'll fix it today (*I hope* 🏃).

[2020-03-19 11:30] tomidix opened #17366 "Request additional access tokens - standalone"
Hi,

I need 'Request additional access tokens' scenario but for wasm - standalone, I suppose this is already possible but probably the documentation about it is missing.
Then, what's also missing is how to use those tokens further in httpClient calls. I assume that we don't have to inject those tokens manually.
I'd appreciate if you could add this.

I described what I need to achieve in detail: ht

[2020-03-19 14:33] miri10134 opened #17367 "Unable to run with Microsoft Account"
First, thank you for detailed guide. Unfortunately I couldn't get this to work with Microsoft (AAD) Authentication, both in my own app and in the sample application that is created by the "dotnet new blazorwasm -au Individual" command. There appeared to be several issues:

1st: The sample application created by "dotnet -au" uses a different Javascript file. Your guide references to "_content/Micro

[2020-03-19 14:44] scottaddie commented on #17214
@Rick-Anderson It's a bigger problem than what's indicated in this issue. A consistent set of instructions needs to be provided across the social authN docs.

[2020-03-19 14:56] guardrex commented on #17362
It depends on the flow that you want to achieve. This flow for this example is ...

1. The form has a disabled **Submit** button and the `ValidationSummary` isn't displayed/used initially. Individual fields have active validation checks based on their model annotations.
1. The user begins to interact with one of the fields. As soon as the field loses focus, all of the field validation fires. Howev

[2020-03-19 15:33] guardrex commented on #17367
Hello @miri10134 ...

You opened this from the [Standalone with Authentication Library topic](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/standalone-with-authentication-library?view=aspnetcore-3.1), but you seem to be referring to the [Standalone with AAD topic](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/standalone-with-azure-active-direct

[2020-03-19 16:01] danroth27 opened #17369 "Document how to add an XML linker config file to a library"
@guardrex Currently we have [docs](https://docs.microsoft.com/aspnet/core/host-and-deploy/blazor/configure-linker) on how to specify an XML linker config file for a Blazor app, but we don't document how to provide one for a library, like a component library. I've put together a sample that shows how to do this: https://github.com/danroth27/ComponentLibWithXmlLinkerConfig. Basically you embed the X

[2020-03-19 16:05] guardrex commented on #17369
Is it directly germane to libs? If so, can it go in the [Component libary topic](https://docs.microsoft.com/en-us/aspnet/core/blazor/class-libraries?view=aspnetcore-3.1&tabs=visual-studio)?

[2020-03-19 16:12] guardrex commented on #17365
@miri10134 ... kk ... caught up (*sort of* 🏃) ...

1. My understanding is that `StateContainer` is **_your_** state container. You develop that piece to suit your needs. The topic should call that out. Possibly, the topic should show an example. Artak, should we take Javier's `StateContainer` and drop it in here (or at least look at it to see what he did)?
1. *Yes* ... and I'll fix that up right n

[2020-03-19 16:13] danroth27 commented on #17369
Yup, this is all about libs. The Component library topic is fine.

[2020-03-19 16:31] traycn opened #17370 "Privacy Policy - Movie App picture doesn't match"
The picture shown below when changing the title from "Privacy Policy - Mvc Movie" to "Privacy Policy - Movie App" does not match. Picture displays "About - Movie App" page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 788d46c9-a91a-2788-8db7-b53c37b512f2
* Version Independent ID: 00c2c01d-d235-2d2d-5c96-1f33a9314382
*

[2020-03-19 16:36] SQL-MisterMagoo opened #17371 "Potentially misleading language"
https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#invoke-component-methods-externally-to-update-state

In the first sentence of this section it states "Blazor uses a SynchronizationContext to enforce a single logical thread of execution."
The use of the word "thread" can be confusing to people whose first language is not English as it can be confused/mistaken for m

[2020-03-19 16:45] danroth27 opened #17372 "Remove the recommendation in the docs to use BundlerMinifier"
This doc currently [recommends](https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification#build-time-execution-of-bundling-and-minification) using @madskristensen's [BundlerMinifier](https://github.com/madskristensen/BundlerMinifier) packages, but this project is no longer being actively maintained. We should remove this recommendation from the docs for now, and consider what gu

[2020-03-19 16:47] Tratcher opened #17373 "5.0 update: Doc new config flag "hostBuilder:reloadConfigOnChange""
For 5.0 https://github.com/dotnet/extensions/pull/2940/files added a new host config flag "hostBuilder:reloadConfigOnChange" for CreateDefaultBuilder to opt out of reload on change for app config files like appsettings.json.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5f1eeee-d500-82bf-0d0a-b4e0d5d5c175
* Version I

[2020-03-19 17:06] miri10134 commented on #17367
Hello @guardrex. No, I was referring to the "Standalone with Authentication Library" topic. It is my understanding, that this method should work with any Oidc provider, including Microsoft, as stated in the topic ("such as Google, Microsoft, or other OIDC-compliant provider"). And the AAD was the only way I found to register my application for authentication with a Microsoft Account. If that was a

[2020-03-19 17:13] guardrex commented on #17367
Good point about OIDC, but *yes*, the intention is for devs who want to use AAD to follow (from scratch) the steps in either the *Standalone with AAD* or the *Hosted with AAD* topics.

Note that we're having our own little internal deltas as to what's seen and done and these topics are so new that *the paint isn't dry yet.* :smile: They've only been up a few days, so I am expecting bug reports and

[2020-03-19 17:21] guardrex commented on #17367
wrt ...

... let me check on that script and confirm. Stand-by.

wrt the authority ... that was part of my confusion about which topic you were looking at. This topic isn't directed at AAD, so this isn't where authority is documented.

[2020-03-19 17:23] guardrex commented on #17367
I see what you mean ...

[code]

... a cut-'n-paste error (probably) ..... cut-'n-paste ... it's **_GrEaT!_** ....... until it **isn't**. :cry:

[2020-03-19 17:28] Rick-Anderson commented on #17372
Per  @madskristensen:

------------

My vote is we recommend nothing and list [LigerShark WebOptimizer](https://github.com/ligershark/WebOptimizer) in the **More resources** section.

[2020-03-19 17:31] miri10134 commented on #17367
As I said, I got the authentication working with the steps from "Standalone with Microsoft Accounts". So it's not critical for me any longer, just wanted to point out my struggels, so hopefully nobody has to repeat them ;)

Yeah, those errors happen. I'm aware that this topic is quite new and that especially the Blazor templates are changing pretty fast. I just learned yesterday that there is a ne

[2020-03-19 17:39] Rick-Anderson commented on #17370
Dup of #16818

[2020-03-19 17:39] #17370 closed

[2020-03-19 17:45] guardrex commented on #17367
Right ... sorry that I forgot what you said. I'm 🏃 on multiple fronts here.

I have that PR done, so I'll get that script source fixed shortly.

Because the Standalone with Auth Lib **didn't** work without the MSAL script and MSAL package, I'll need to ask engineering what should be done .........

@mkArtakMSFT TL;DR ... We say that the base case *Standalone with Auth Lib* guidance should work for

[2020-03-19 17:55] #17214 closed

[2020-03-19 18:26] guardrex commented on #17365
@javiercn The topic on additional security scenarios for Blazor WebAssembly has an example that uses `StateContainer`, which I assume is your custom state management service. We don't show the one that you're using for the example. Should the topic ...

* Call out that the devs needs to create their own.
* Tell them to create their own **_and also_** show one (e.g., the one you used).

The example

[2020-03-19 19:18] bessobesso opened #17377 "Serverside validation"
Can you please show us an example on how to do server side validation (by passing the EditContext)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884-c1fe5c2ef52d
* Version Independent ID: 09a02d10-2834-467d-d8c2-3fd19ceb3863
* Content: [ASP.NET Core Blazor forms and validation](https://docs.micros

[2020-03-19 19:24] guardrex commented on #17377
Hello @bessobesso ... This is related to and can be worked with #17360.

When we cover it, it will be a more specific example of the existing one in the opening section of the topic ...

[code]

[2020-03-19 20:19] mnmadscience opened #17378 "It's unclear how to handle a '.' in an environment variable configuration value."
In the "environment variables" setting, it's stated clearly that ':' is not always valid and can be replaced with double underscore. However, it's very common for .NET Core configuration to reference a namespace like MyNamespace.MyClass. In that situation, I believe .NET Core lets us use a single underscore since the dot is illegal for environment variable names in most systems. A very close read

[2020-03-19 20:55] Rick-Anderson commented on #17378
@jbmadscience  when would you need a fully qualified name that required a `.` ?
@serpent5  please review.

[2020-03-19 21:55] jbmadscience commented on #17378
"Logging": {
    "LogLevel": {
        "MyNamespace.MyClass": "Trace"
    }
}

On Thu, Mar 19, 2020, 3:55 PM Rick Anderson <notifications@github.com>
wrote:

[2020-03-19 22:28] Rick-Anderson commented on #17378
@jbmadscience  why not write it as

[code]

Then config file and environment are the same.

[2020-03-19 22:35] Rick-Anderson commented on #17378
@jbmadscience  this is in thhe default *appsettings.json* file:

[code]

You're right.

[2020-03-19 22:48] Rick-Anderson commented on #17378
[code]

[2020-03-19 22:52] jbmadscience commented on #17378
I had the idea that underscore would work because of the samples in the
topic we're discussing. But if that doesn't work that would explain an
issue I'm having.

Any idea what does work for setting a variable with a namespace dot in it?

On Thu, Mar 19, 2020, 5:49 PM Rick Anderson <notifications@github.com>
wrote:

[2020-03-19 22:54] Rick-Anderson commented on #17378
I'll find out - or more likely @serpent5

[code]

[2020-03-19 23:04] Rick-Anderson commented on #17378
OOPs, I had that wrong. The following 3 approaches don't throw, but they don't work either:

[code]

The exception was because I had `Logging` before the actual key.

[2020-03-19 23:10] Rick-Anderson commented on #17378
BINGO

This works
`set LogLevel__Microsoft__Hosting__Lifetime=MyEnvironmentLoggingMShosting3`

using double underscore for dot

[2020-03-20 00:04] Rick-Anderson commented on #17378
@jbmadscience  see https://github.com/dotnet/extensions/issues/3095

[2020-03-20 00:49] BenWestbrook opened #17380 "seemingly trivial error not easily resolved"
Fresh install Windows 10
Full install Visual Studio 2019 Professional
Create new web application
Attempt to follow these instructions exactly
Roadblock at following steps:
"
Install-Package Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore
Add-Migration CreateIdentitySchema
Update-Database
"
Specifically, the Add-Migration step fails with:

More than one DbContext was found. Specify which one t

[2020-03-20 01:21] Rick-Anderson commented on #17380
If you follow the directions you end up with one DB context. It's a great error message.

You can

* Delete one context
* Specify the context to use.

[2020-03-20 01:21] #17380 closed

[2020-03-20 05:11] abatishchev commented on #16434
I started getting this error two running Kestrel on .NET Core 3.1 locally just recently, a day or so ago. trying to wrap my head around what has been changed, and by whom.

/cc @Darko-git

[2020-03-20 09:31] vaishnavkishan opened #17381 "I had to install "Microsoft.EntityFrameworkCore.SqlServer" package."
I had to install "Microsoft.EntityFrameworkCore.SqlServer" package for services.AddDbContext&lt;ApplicationDbContext&gt;(options =&gt;
        options.UseSqlServer(Configuration.GetConnectionString("DefaultConnection"))); to get working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db6772c4-1017-5e86-8045-8849b5dd1ad

[2020-03-20 09:56] mehdipanjwani-ains commented on #10609
Specifying another layout for viewcomponents with scripts will duplicate scripts. And @section is just ignored during rendering. So I replaced jquery document ready with plain javascript domcontentloaded and any jquery can be written inside domcontentloaded. Not a permanent good approach but works for me.

[code]

[2020-03-20 13:09] #17280 closed

[2020-03-20 13:12] smiller7812 commented on #14034
It kind of makes sense.
In MVC regular model classes under the Models folder typically model actual Entities or tables in the database.  Projected data like EnrollmentGroup is not actually modeling an entity or table in the database.  So we make ViewModels in addition to the regular [Entity]Models.  So in MVC I would make the folder structure Models/ViewModels/SchoolViewModels.
And on big projects

[2020-03-20 13:13] plnash opened #17382 "Wrong topic in section Test the API"
This tutorial is about creating a To Do API but section 'Test the API' states "The project template creates a WeatherForecast API" and shows sample JSON containing weather information. This makes for a very confusing tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version

[2020-03-20 13:23] BenWestbrook commented on #17380
Specifically, which step did I miss that caused me to have two DBContext and therefore unable to complete to tutorial?

[2020-03-20 13:38] #17348 closed

[2020-03-20 13:40] #17349 closed

[2020-03-20 13:44] benhysell opened #17383 "Additional Documentation - Connecting to External Id Server Blazor WebAssembly"
Scenario - Migrating from a React/Anglar/Vue/other frontend SPA backed by an asp.net core backend with a separate standalone Id Server and moving the front end to Blazor Web Assembly.

Desire - Continue to use that standalone Id Server with Blazor Web Assembly, would love to have more detailed documentation on configuring Blazor Web Assembly to communicate with that Id Server.

Details
Our current

[2020-03-20 15:19] deadman2000 commented on #17332
@Rick-Anderson
How to inject Hosted service into Controller?
How to interact between Controllers and Hosted services?

[2020-03-20 15:19] jbmadscience commented on #17378
Thanks Rick!

That turns out to be a more complex issue than I had realized - I
definitely hadn't caught on that it needed only 2 nesting levels!

On Thu, Mar 19, 2020 at 7:04 PM Rick Anderson <notifications@github.com>
wrote:

[2020-03-20 17:15] Rick-Anderson commented on #17382
The templates create `WeatherForecast`

[2020-03-20 17:15] #17382 closed

[2020-03-20 17:24] Javier118 opened #17385 "Cookie Asp.core"
HelLo:
I implemented the code for Cookie on file. Cs , also implemnated <partial name"_CookieConsertPartial" /> in layout.cshtml but when I hit the web through visual studio I do not get the banner with the button which may be the bug.

[2020-03-20 18:17] mkArtakMSFT commented on #17371
Thanks for your feedback, @SQL-MisterMagoo.
At this point we would like to stick with current wording. If we hard more feedback similar to this, we will reword it then.

[2020-03-20 18:21] mkArtakMSFT commented on #17383
This looks like a dupe of https://github.com/dotnet/AspNetCore.Docs/issues/17288.
@guardrex if so, please close.

[2020-03-20 18:29] guardrex commented on #17383
I added Javier's content on https://github.com/dotnet/AspNetCore.Docs/pull/17295/files, but it isn't specific ... just general advice.

[2020-03-20 18:31] guardrex commented on #17383
... and Dan put up ...

**How to mix Blazor with apps that use existing frontend JS frameworks (Angular, React, etc.)** #12953

... but that's not the same thing as this.

[2020-03-20 19:38] bencalnan opened #17387 "Clarification"
Just to clarify, when you say:

"If the user isn't authenticated, the user is redirected to the underlying authentication system, which is usually ASP.NET Core Identity."

Is this the part when I would log in to a Google/Facebook/etc account (if i'm not logged in)?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f34f753

[2020-03-20 19:48] mrpmorris commented on #17371
The words "thread" and "execution" do suggest a Thread.

May I suggest use of the word "chain" instead? Or say it uses an ExecutionContext to ensure the component isn't used by more than one thread at a time?

[2020-03-20 20:07] guardrex commented on #17387
Hello @bencalnan ... *Yes* when one of those 3rd party providers is used. That's why it says "*usually*" there ... if you don't configure anything else, then it would be ASP.NET Core Identity.

[2020-03-20 20:07] #17387 closed

[2020-03-20 20:13] bencalnan commented on #17387
Thanks that's helpful

[2020-03-20 20:57] gomomohapi opened #17389 "Build a ToDo list #14"
Step 14 under Build a Todo List specifies changing the &lt;h1&gt; heading instead of the &lt;h3&gt; heading. The code block makes the same mistake.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e7dc3c-54c4-35de-203e-d230869e8417
* Version Independent ID: dc5b52d5-c8c6-1440-6b3a-fda898167d0c
* Content: [Build your fi

[2020-03-20 21:04] guardrex commented on #17389
My bad @gomomohapi ... I was working fast 🏃 on and just after the release day. I'll patch that up. Thanks for letting me know.

[2020-03-20 21:07] #17389 closed

[2020-03-20 21:17] guardrex commented on #17385
Hello @Javier118 ... Recommend that you close this and re-open using the **This page** feedback button and form at the bottom of the topic that you're working with. It will automatically attach metadata to your issue here and automatically ping the author.

[2020-03-21 00:09] reasonet commented on #9244
The following link explains how to add claims. I think it should be added to this page:
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?view=aspnetcore-3.1

[2020-03-21 07:37] damienbod commented on #9244
I will add a section Implementing IUserClaimsPrincipalFactory<ApplicationUser>

to

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/add-user-data

[2020-03-21 08:59] pstricks-fans commented on #17089
Emphasizing the client-side and server-side might be better.

"Razor Pages and MVC also use Razor. Unlike Razor Pages and MVC, which are built around a **server-side** request/response model, components are used specifically for client-side UI logic and composition."

[2020-03-21 12:45] ptsneves commented on #17174
@mobinseven I agree that this information is redundant but for the reason that it is a misleading documentation.

This is my understanding after working with both forms of authorisation. Policy based authorisation is not the same as claims based, although you can make policies based purely on claims. A policy can have authorisation handlers that read claims or can do claim-unrelated logic. They al

[2020-03-21 12:51] richteambs commented on #14004
I just fell foul of this, and I'm not alone: https://github.com/Azure/azure-storage-net/issues/969

[2020-03-21 13:55] lwcwew opened #17395 "TODO still in CreateVM.cshtml.cs"
Talk about standing on the shoulders of giants and doors being opened, thank you folks for this wonderful tutorial, the following code is still in CreateVM.cshtml.cs
      // TODO remove. For quick testing.
            StudentVM = new StudentVM
            {
                EnrollmentDate = DateTime.Now.AddYears(-10),
                FirstMidName = "Rick",
                LastName = "Anderson"

[2020-03-21 15:38] lwcwew opened #17396 "In CreateVM.cshtml.cs Models should be Data as shown in this comment"
I am such a newbe to this that I hesitate to try to make the actual change.
This:  private readonly ContosoUniversity.Models.SchoolContext _context;
Should be:  private readonly ContosoUniversity.Data.SchoolContext _context;
and
This: public CreateVmModel(ContosoUniversity.Models.SchoolContext context)
Should be: public CreateVmModel(ContosoUniversity.Data.SchoolContext context)

---
#### Document

[2020-03-21 16:11] lwcwew opened #17397 "When adding Students CreateVM probably should add the comment below"
In Pages Students Index.cshtml
This: &lt;a asp-page="Create"&gt;Create New&lt;/a&gt;
Should be changed to: &lt;a asp-page="CreateVM"&gt;Create New&lt;/a&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f592059-3328-88a8-5c6c-43121ac8a0a5
* Version Independent ID: f8a63abf-824b-5b80-e03d-abcb2c162b95
* Content: [Razo

[2020-03-21 17:45] TonyKenny666 commented on #17334
Thank you for the response, I've tried the following and it still shows the visitor their email address on screen and asks them to submit the form.

[code]

[2020-03-21 19:20] Rick-Anderson commented on #17395
Thanks

[2020-03-21 19:20] #17395 closed

[2020-03-21 19:22] Rick-Anderson commented on #17396
They may not have been updated when we changed from models to data. It won't compile if the path is incorrec.

[2020-03-21 19:22] #17396 closed

[2020-03-21 19:23] Rick-Anderson commented on #17397
We'll look at these in the next doc sweep.

[2020-03-21 19:23] #17397 closed

[2020-03-21 19:24] Rick-Anderson commented on #13903
We'll look at these in the next doc sweep.

[2020-03-21 19:24] #13903 closed

[2020-03-21 19:41] Rick-Anderson commented on #17366
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2020-03-21 19:41] #17366 closed

[2020-03-21 19:51] #17381 closed

[2020-03-21 22:21] comet-hale opened #17399 "seed"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03221075-5dfa-d1b6-0552-3fe88abe1d03
* Version Independent ID: b8c7d824-35ca-68fb-e3be-839ae886657c
* Content: [Work with a database and ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/sql?view=aspnetcore-3.1&tabs=visu

[2020-03-22 00:23] alvipeo opened #17400 "Can you please clearly say which IDistributedCache implementations are thread safe?"
Please see this - https://stackoverflow.com/q/60792384/2896495.

I couldn't find answers but people suggest all the implementation *should* be thread safe. Are they?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d01025d-86b2-bb2d-86c1-ef0695bc98e3
* Version Independent ID: 5b9a6572-3671-0d54-b2ef-83d04f8b3e96
* Conte

[2020-03-22 00:52] bdnts opened #17401 "SignInManager incompatible with Blazor?"
At the top of this documentation it implies that "using ASP.NET Core's Identity system" is a viable option.  The Identity scaffold generates Razor pages (.cshtml & .cs) but not Blazor pages (.razor, which is damn confusing, but a different topic).  However, in my testing, SignInManager will always throw an exception: "The response headers cannot be modified because the response has already started

[2020-03-22 02:29] #17399 closed

[2020-03-22 07:45] AlbertoPa opened #17402 "Examples on how to recover user name and ID"
It would be helpful to add examples on how to recover user ID and name from within the server/controller code, since, with the proposed configuration, the traditional UserManager methods fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17515ff7-32a6-c6f7-0425-535775cd6e28
* Version Independent ID: 1416abd7-0b23-ca9

[2020-03-22 09:26] joffarex commented on #16997
If you guys are on windows 10, run ```set PATH=$HOME/.dotnet/tools:$PATH``` command, restart terminal and then you can use ```dotnet aspnet-codegenerator```

[2020-03-22 10:27] johnmackerras opened #17403 "Not using npm"
How do I get the javascript client if I don't have NPM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cf283c9-5cd2-a9ff-b8c8-372d8a04356d
* Version Independent ID: 729fddcf-24e4-b563-4952-a8045b231868
* Content: [ASP.NET Core SignalR JavaScript client](https://docs.microsoft.com/en-us/aspnet/core/signalr/javascript-c

[2020-03-22 11:22] guardrex commented on #17402
Hello @AlbertoPa ... Yes, I think examples or cross-links would be helpful. These concepts are covered higher up in the Blazor Security Overview topic ... https://docs.microsoft.com/en-us/aspnet/core/security/blazor/

Depending on your scenario, you'll take one or both of the following approaches:

* `AuthorizeView` component ... provides a `context` that will give you access to the user.
* `Authe

[2020-03-22 11:40] guardrex commented on #17402
@AlbertoPa ... I note that you said "server/controller" code in your question. Let me know if you weren't asking about **_components_** because my answer above applies to the component-side of the scenario. On the server-side (the Server API), we might need to ask engineering for further clarification if you're hitting a problem. I'm not particularly familiar with Identity Server myself. I naively

[2020-03-22 12:55] guardrex commented on #17402
I think I have a repro of the scenario now. I'm not getting the user from `UserManager<ApplicationUser>` in the `WeatherForecastController` with a `using BlazorAppIdentityServer.Server.Models`. I'll hack around with it a bit more, but we might need help to sort it out.

[2020-03-22 13:40] smiller7812 opened #17404 "Error under Add Migration section"
When I run Add-Migration ComplexDataModel I get this error message:
The property 'CourseAssignment.Course' is of type 'Course' which is not supported by current database provider. Either change the property CLR type or ignore the property using the '[NotMapped]' attribute or by using 'EntityTypeBuilder.Ignore' in 'OnModelCreating'.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-03-22 13:52] smiller7812 commented on #17404
It went through now.  I had Course instead of CourseId in the fluent API.
Change:
modelBuilder.Entity<CourseAssignment>()
                .HasKey(c => new { c.Course, c.InstructorID });
to:
modelBuilder.Entity<CourseAssignment>()
                .HasKey(c => new { c.CourseID, c.InstructorID });

[2020-03-22 14:51] guardrex commented on #17402
I moved this issue back to **_Triage_** so that Artak can take a look next Friday.

Artak TL;DR ... It looks like Identity Server has a [Profile Service](http://docs.identityserver.io/en/3.1.0/reference/profileservice.html) "*for allowing claims to be dynamically loaded as needed for a user*," but I'm not familiar with how it would be used in the Server API in our Blazor Hosted scenario. If we go

[2020-03-22 15:28] guardrex commented on #17401
@bdnts ... ASP.NET Core Identity is working under the covers in these scenarios. I'm working on these topics *right now* to improve them, so I'm glad you called out your confusion here.

In a *component*, use either or both ...

* `AuthenticationStateProvider`
* `AuthorizeView` component

... and *yes!* ... `SignInManger`/`UserManager` are incompatible.

Leave this open. I'll make some updates to

[2020-03-22 15:44] guardrex commented on #17401
btw @bdnts ... I threw up a quick example that mirrors the guidance in the topic over on https://github.com/dotnet/AspNetCore.Docs/issues/17402#issuecomment-602184048.

We're discussing something a different on that issue, but that comment shows the `AuthenticationStateProvider` and `AuthorizeView` component in use.

[2020-03-22 15:53] guardrex commented on #17319
Just to update where we stand here ...

https://github.com/dotnet/AspNetCore.Docs/pull/17333 &ndash; Makes sure that the **Display Name** comes back for B2C scenarios. It also calls out that the project should be run from the **Server** app in all of the topics in this node.

@Alienroid ... Did you figure out your issue with your app? I don't have anything else actionable here at this time for the

[2020-03-22 16:09] TonyKenny666 opened #17405 "Scaffolding does not contain page titles"
After generating the scaffold code, text such as "manage your account" does not exist anywhere. Where is that coming from and how do we change it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 804e24dd-7e30-8cf5-2c99-1ffacb4582f6
* Version Independent ID: 3e25547b-e2c9-6634-2c38-2a77207f17d4
* Content: [Scaffold Ident

[2020-03-22 16:09] LautaroLobo12 opened #17406 "Clarify jQuery"
It says "the built in validation methods"... but are not built in. I have to use jQuery. It should be clear that you need jQuery linked somewhere to make it work.

Cheers,
Lautaro.-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443a7c53-cc16-7ed5-5950-46a6f195f19c
* Version Independent ID: 12fe9329-2cef-4056-4986-18ed

[2020-03-22 16:12] Alienroid commented on #17319
No update from my side. I’ll revisit in the future.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Luke Latham<mailto:notifications@github.com>
Sent: Sunday, March 22, 2020 8:53 AM
To: dotnet/AspNetCore.Docs<mailto:AspNetCore.Docs@noreply.github.com>
Cc: Alienroid<mailto:iam31337@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [dotnet/As

[2020-03-22 16:20] guardrex commented on #17319
Ok ... let's close for now.

[2020-03-22 17:29] #17404 closed

[2020-03-22 17:30] Rick-Anderson commented on #17405
You need to scaffold everything.

[2020-03-22 17:30] #17405 closed

[2020-03-22 17:31] Rick-Anderson commented on #17406
Server side is built in and client side is built in because jQuery is added to the templates.

[2020-03-22 17:31] #17406 closed