[2015-02-13 00:00] muratg opened #1 "HostingEngine.Start returns IDisposable. Usage patterns around IDisposable return values should be documented."

[2015-03-11 17:08] borgdylan opened #3 "Add how to build in README.md"
To let people not familiar with sphinx build these docs, add that python 2, pip, sphinx and the "sphinx_rtd_theme" module must be installed to the README. The theme is installed like so:
[code]

[2015-03-11 17:32] ardalis commented on #3
Updated README with instructions. Please open a new issue if there are still problems. Thanks!

[2015-03-11 17:32] #3 closed

[2015-03-11 17:35] borgdylan commented on #3
Thanks for mentioning autobuild. I did not know it existed.

[2015-03-19 19:59] erlimar opened #4 "I am ready to translate"
I am ready to translate to `pt_BR`.

Where are the rules for translation?
It would be nice to have it in the project wiki.

[2015-04-06 15:44] ardalis opened #8 "Convert migratingmvc5 to use Gulp instead of Grunt"

[2015-04-08 21:51] danroth27 opened #10 "Migrating MVC5->6 Identity"
Need to research IdentiySample.Mvc. Also, hoping the revised project template will include feature parity with the MVC 5 project template, in terms of managing user information (forgot password, etc.)

Details on new project template auth: https://github.com/aspnet/Templates/tree/release/src/Rules/StarterWeb

[2015-04-08 21:51] danroth27 opened #11 "Migrating MVC5 to MVC6: More Features"
- Areas
- Global Filters
- DI
- Attribute routing

[2015-04-08 21:54] danroth27 opened #12 "Migrate MVC5 to MVC6 CoreCLR"

[2015-04-08 21:54] danroth27 opened #13 "Moving to .NET Core"

[2015-04-08 21:55] danroth27 opened #14 "Updating NuGet Packages to support .NET Core"
Expect some churn in this area after beta4.

[2015-04-08 21:56] danroth27 opened #15 "Runtime article covering CLR Choices, Running cross-plat, Dependency Resolution/Loading"

[2015-04-08 21:56] danroth27 opened #16 "Runtime article covering Architecture, runtime selection (DNX_HOME), Features model"

[2015-04-08 21:57] danroth27 opened #17 "Yeoman article"
Noel's booked until later in April when he expects to write this article.

[2015-04-08 21:58] danroth27 opened #18 "Tag Helpers"

[2015-04-08 21:58] danroth27 opened #19 "Writing custom TagHelpers"

[2015-04-08 21:59] danroth27 opened #20 "SignalR and raising domain events"
On hold until SignalR is updated for ASP.NET 5.

[2015-04-08 22:02] danroth27 opened #21 "Additional Web API 2 to MVC 6 Migration content"
- [x] [Migrating HttpConfiguration logic to the MvcOptions pattern](https://docs.microsoft.com/en-us/aspnet/core/migration/configuration)
- [x] [Migrating message handlers to middleware](https://docs.microsoft.com/en-us/aspnet/core/migration/http-modules)
- [x] Migrating formatters to the new formatter model
- [ ] Using the Microsoft.AspNet.Mvc.WebApiCompatShim package if you are porting a lot of

[2015-04-08 22:04] danroth27 opened #22 "Migrate JS Web articles"
- Grunt and Gulp Task Runners
- Bower Package Manager
- Bootstrap Responsive Web Framework
- LESS, SASS, Font Awesome,
- TypeScript
- Knockout.js
- Backbone.js
- Angular.js
- React.js

[2015-04-08 22:05] danroth27 opened #23 "Why use .NET Core"

[2015-04-08 22:24] Rick-Anderson opened #24 "DI / IoC"
port my DI doc from HTML to  reStructuredText

[2015-04-09 03:30] dougbu commented on #24
looking forward to it :dancers:

[2015-04-09 19:29] ardalis commented on #8
This is done.

[2015-04-09 19:54] Rick-Anderson opened #25 "update/port "View components and Inject in MVC 6""

[2015-04-12 23:48] Eilon commented on #4
@erlimar I'm not sure if the docs are quite ready for translation, but it's great to know you'd like to help! I think for now @danroth27 (who is managing a lot of the docs) is focusing on the initial en-US docs, but I'm sure translation will eventually happen too.

[2015-04-13 17:08] ardalis opened #28 "Migrate Bower Package Manager article"

[2015-04-13 17:09] ardalis opened #29 "Migrate Bootstrap article"

[2015-04-13 17:09] ardalis opened #30 "Migrate Less, sass, font awesome article"

[2015-04-13 17:10] ardalis opened #31 "Migrate Typescript article"

[2015-04-13 17:10] ardalis opened #32 "Migrate Knockout article"

[2015-04-13 17:11] ardalis opened #33 "Migrate Backbone article"

[2015-04-13 17:11] ardalis opened #34 "Migrate Angular article"

[2015-04-13 17:11] ardalis opened #35 "Migrate React article"

[2015-04-13 17:13] ardalis commented on #22
Moved all but the grunt/gulp article to separate issues; this issue now only applies to the Grunt/Gulp article

[2015-04-15 11:16] evil-shrike opened #37 "Improve "Migrating Configuration" with description of all common cases"
Configuration is a big topic. In a common web app on old ASP.NET we'd have roughly the following stuff in web.config:
- appSettings with simple key-value settings of the app and libs
- standard sections from .NET like `system.diagnostics`
- settings for asp.net - `system.web`
- settings for web server - `system.webServer`
- custom sections - sections of 3rd party registered in `configSections` ele

[2015-04-15 20:37] danroth27 commented on #25
We should separate these two topics. It doesn't really make sense to cover View Components and Inject in the same topic.

[2015-04-15 20:44] Rick-Anderson commented on #25
It's just the title that needs to change - the article is about VC's. My DI article goes into inject in more detail. The VCs in the article use Inject, so that needs some presentation.

[2015-04-15 21:04] Rick-Anderson opened #39 "Migrate intro to MVC"
http://www.asp.net/mvc/overview/getting-started/introduction/getting-started

[2015-04-15 21:19] Rick-Anderson opened #40 "Migrate "intro to MVC""
http://www.asp.net/mvc/overview/getting-started/introduction/getting-started

[2015-04-16 15:50] danroth27 commented on #39
Dup of #40

[2015-04-16 15:50] #39 closed

[2015-04-16 15:52] danroth27 opened #42 "Installing on Windows"
Getting Started->Installation->Installing on Windows

[2015-04-16 15:52] danroth27 opened #43 "Installing on Mac"
Getting Started->Installation->Installing on Mac

[2015-04-16 15:53] danroth27 opened #44 "Installing on Linux"
Getting Started->Installation->Installing on Linux

[2015-04-16 15:53] danroth27 commented on #44
- Using aptget
- Using yum

[2015-04-16 15:54] danroth27 opened #45 "Basics of Web Development"
Getting Started->Conceptual Overview->Basics of Web Development
- HTML
- JavaScript
- CSS

[2015-04-16 15:55] danroth27 opened #46 "Introduction to ASP.NET 5"
Getting Started->Conceptual Overview->Introduction to ASP.NET 5
- What is ASP.NET 5?
- Why build ASP.NET 5?
- Modern Web apps in the Cloud
- Application lifecycle
- Middleware
- Configuration
- Dependency injection
- Options
- Hosting
- Servers
- Web root
- Client-side development

[2015-04-16 15:56] danroth27 opened #47 "The .NET Execution Environment (DNX)"
Getting Started->Conceptual Overview->The .NET Execution Environment (DNX)
- What is the .NET Execution Environment (DNX)?
- Why build DNX?
- Projects
- Dependencies
- Packages and feeds
- Commands
- Application Host
- Meta programming
- Dependency injection
- Publishing
- DNX Version Manager

[2015-04-16 15:57] danroth27 opened #48 "Your First ASP.NET 5 Application on a Mac"
Getting Started -> Tutorials -> Your First ASP.NET 5 Application on a Mac
- Dev setup
- Scaffold app using Yeoman
- Run locally using Kestrel
- Publish to Azure (Kudu? Linux VM? Docker?)

[2015-04-16 15:59] danroth27 opened #49 "Building Music Store"
Getting Started -> Tutorials -> Building Music Store

[2015-04-16 17:37] danroth27 opened #50 "Working with DNX Projects"
ASP.NET 5->.NET Execution Environment->Working with DNX Projects
- Creating a new project
- Targeting multiple frameworks
- Adding dependencies
- Restoring packages
- Project lock file
- Referencing other projects
- Adding package metadata

[2015-04-16 17:44] danroth27 opened #51 "Creating a Cross-Platform Console App with DNX"
ASP.NET 5->.NET Execution Environment (DNX)->Creating a Cross-Platform Console App with DNX
- Create a Console Application (Package)
- Building and publishing your cross-platform console app
- Running your cross-platform app

[2015-04-16 17:46] danroth27 opened #52 "Create a New NuGet Package with DNX"
ASP.NET 5->.NET Execution Environment (DNX)->Create a New NuGet Package with DNX
- Create a new DNX project for your package (link to DNX projects article)
  - Various project.json properties map to package metadata: authors, description, version, etc
  - Package id will match the DNX project name (folder name by default, no way to change it yet)
  - Version can have -*. Set DNX_BUILD_VERSION env

[2015-04-16 17:47] danroth27 opened #53 "Project.json Reference"
ASP.NET 5->.NET Execution Environment->Project.json reference

[2015-04-16 17:47] danroth27 opened #54 "Global.json Reference"
ASP.NET 5->.NET Execution Environment->Global.json Reference

[2015-04-16 17:48] danroth27 opened #55 "Using Commands"
ASP.NET 5->.NET Execution Environment (DNX)->Using Commands
- What is a command?
- Using commands in your project
  - Examples: web, kestrel, test, ef?
- Running commands using dnx.exe
  - dnx [command]
  - dnx run
- Global commands
  - Installing
    - Done by package ID
    - Note: only global NuGet.Config is used
    - Option to override (`--overwrite`)
  - Running
    - Always run with the act

[2015-04-16 17:50] danroth27 opened #56 "Migrating an Existing NuGet Package Project"
ASP.NET 5->.NET Execution Environment (DNX)->Migrating an Existing NuGet Pacakge to Support .NET Core
- Why use DNX to build your NuGet packages?
- Cross-compilation
- Adding support for .NET Core
- Building portable libraries

[2015-04-16 17:55] danroth27 opened #57 "Application Startup"
ASP.NET 5->Runtime->Application Startup
- Accessing and using available runtime services during Startup
- Startup class conventions and discovery
    - Assembly determined by config (Hosting:Application), otherwise application name
    - Class named `Startup` in any namespace
    - Can be static (but then you get no DI)
- `ConfigureServices`
    - Link to DI (#65)
    - Can return IServiceProvider

[2015-04-16 17:56] danroth27 opened #58 "Hosting"
ASP.NET 5->Runtime->Hosting
- Setting up a server environment
- Multi-tenant hosting

- [x] Servicing
- [x] Directory Structure
- [x] Http PlatformHandler
- [x] Isolation by AppPools
- [x] Data Protection
- [ ] Hosting off UNC shares
- [x] Log redirection

[2015-04-16 17:56] danroth27 opened #59 "Servers"
ASP.NET 5->Fundamentals->Servers
- Servers accept incoming requests and make them available to the application pipeline
- Built-in servers (list request features and configuration parameters supported, process model, .NET flavor and OS support)
    - IIS
    - WebListener
    - Kestrel
- Guidance on when to use which server
    - Prefer Windows optimized servers (IIS, WebListener) on Windows.

[2015-04-16 17:57] danroth27 opened #60 "Working with Static Files"
ASP.NET 5->Runtime->Working with Static Files
- Servicing static files
  - Use the static file middleware (package: Microsoft.AspNet.StaticFiles)
  - Web root defined in project.json
  - Populate with your static files
  - Link to how to setup with bower (http://docs.asp.net/en/latest/client-side/bower.html)
- Directory browsing
- Default files
  - URL rewrite to point to default files (ex index.h

[2015-04-16 17:57] danroth27 opened #61 "Routing"
ASP.NET 5->Fundamentals->Routing
- Middleware
  - Maps a request to an `IRouteHandler`
  - The `IRouteHandler` returns a `RequestDelegate` or null
    - Example: is there a matching MVC action
  - If null, then routing continues
  - If no route handler can handle the request then the middleware calls next
- Configuration
  - Create RouteBuilder
- Code sample to reference: https://github.com/aspnet

[2015-04-16 17:59] danroth27 opened #62 "Diagnostics"
ASP.NET 5->Runtime->Diagnostics
- Configuring an error handling page
- Using the error page during development
- Runtime info page
- Welcome page
- Using AppInsights

[2015-04-16 18:00] danroth27 opened #63 "Logging"
ASP.NET 5->Fundamentals->Logging

- Implementing logging in your app
  - Resolve `ILoggerFactor` or `ILogger<T>` from DI
  - Call `CreateLogger`, pass in a name for the log source
    - Names are by convention hierarchical with dots as separators
    - Name is specified by convention when resolving `ILogger<T>`
  - Log stuff
    - Format string, verbosity level, optional event ID (unique numeric I

[2015-04-16 18:02] danroth27 opened #64 "Configuration"
ASP.NET 5->Fundamentals->Configuration
- Get, set,
- Providers: JSON, XML, INI, env vars
- Custom providers
- Options model

[2015-04-16 18:03] danroth27 opened #65 "Dependency Injection"
ASP.NET 5->Runtime->Dependency Injection
- Adding services: singleton, scoped, transient
- Default behavior: constructor injection
- Using a your favorite IoC Container

[2015-04-16 18:04] danroth27 opened #66 "Options"
ASP.NET 5->Runtime->Options

[2015-04-16 18:04] danroth27 opened #67 "Document limitations of error handling in client/server interactions"
Add to ASP.NET 5->Fundamentals->Diagnostics
- If the headers are already sent you can't send a different status code
- If the client disconnects you can't send the rest of the content
- An error can always happen one layer below your error handling layer
- Error pages can error too - probably should be static content only

[2015-04-16 18:05] danroth27 opened #68 "Managing Application State"
ASP.NET 5->Fundamentals->Managing Application State
- Per-Request State using HttpContext.Items (cover briefly)
- Caches (cover briefly; refer to Caching #69)
- Session (cover in more detail)

Cover:
Session is implemented on top of IDistributedCache (which can run on top of IMemoryCache for testing purposes)
Session is not there by default; must install and configure middleware
Session middleware

[2015-04-16 18:06] danroth27 opened #69 "Caching"
ASP.NET 5->Fundamentals->Caching
- In memory cache

[2015-04-16 18:06] danroth27 opened #70 "Working with Multiple Environments"
ASP.NET 5->Runtime->Working with Multiple Environments
- Development vs Staging vs Production
- Startup conventions
- Env vars

[2015-04-16 18:07] danroth27 opened #71 "OWIN"
ASP.NET 5->Runtime->OWIN
- Running OWIN middleware in the ASP.NET pipeline.
    - https://github.com/aspnet/Entropy/blob/dev/samples/Owin.HelloWorld/Startup.cs
- Using ASP.NET Hosting on an OWIN based server
    - https://github.com/aspnet/Entropy/tree/dev/samples/Owin.Nowin.HelloWorld
    - https://github.com/aspnet/Entropy/tree/dev/samples/Owin.Nowin.WebSockets
- Using ASP.NET middleware in an O

[2015-04-16 18:08] danroth27 opened #72 "Building Web Applications with Entity Framework"
ASP.NET 5->Working with Data->Building Web Applications with Entity Framework
- Configuring EF at startup
- Migrations
- Diagnosing database errors

[2015-04-16 18:09] danroth27 opened #73 "Configure Authentication with ASP.NET Identity"
ASP.NET 5->Security->Configure Authentication with ASP.NET Identity
- Account confirmation
- Password reset

[2015-04-16 18:10] danroth27 opened #74 "Setting up Two Factor Authentication with ASP.NET Identity"
ASP.NET 5->Security->Setting up Two Factor Authentication with ASP.NET Identity

[2015-04-16 18:11] danroth27 opened #75 "Enabling Social Logins"
ASP.NET 5->Security->Enabling Social Logins

[2015-04-16 18:22] rustd commented on #73
We can use the same outline as this article.
http://www.asp.net/mvc/overview/security/create-an-aspnet-mvc-5-web-app-with-email-confirmation-and-password-reset
Following is the outline
* Create an ASP.NET 5 Website
* Uncomment code in template to enable Email confirmation and Password recovery
* Hook up SendGrid. Use the User Secrets feature to add the keys for SendGrid
* Require email confirmatio

[2015-04-16 18:29] rustd commented on #75
Please base it on the following sample http://www.asp.net/mvc/overview/security/create-an-aspnet-mvc-5-app-with-facebook-and-google-oauth2-and-openid-sign-on
Following is the outline to use:

* Creating ASP.NET 5 Web Site
* Setting up SSL in the Project
* Creating a Google app for OAuth 2 and connecting the app to the project
* Creating the app in Facebook and connecting the app to the project
* U

[2015-04-16 18:36] rustd commented on #74
You can follow the flow in this article http://www.asp.net/identity/overview/features-api/two-factor-authentication-using-sms-and-email-with-aspnet-identity

Following is the outline:
* Create ASP.NET 5 Web Site template
* Enable Two-factor authentication by uncommenting the code in Views\Manage\Index.cshtml
* Explain the wire up Startup.cs
* Set up SMS for Two-factor authentication
* Use the Secr

[2015-04-16 20:48] MikeWasson commented on #45
If this is not specifically about ASP.NET or our tools, perhaps we can just point to some useful resources on the web -- there's plenty of stuff already out there.

[2015-04-17 03:08] Rick-Anderson opened #78 "change request for "Understand the Fundamental Concepts of Web Programming""
The title need to change to something like "ASP.NET 5 project structure overview" - article is not about Web programming.
The following sections need more details on when/why/how I would use the feature. These details can come from links to other articles.
Expand on  commands section (what can’t it do)
Expand on (for aspnetcore50 only - aspnet50 will include the full framework )need detailed expla

[2015-04-20 17:59] danroth27 opened #82 "Document how to author NuGet packages that target .NET Core but don't depend on DNX"

[2015-04-20 20:01] blowdart opened #84 "Document new data protection stack"
To discuss configuration, extension and backwards compatibility

[2015-04-20 21:32] ardalis commented on #51
@danroth27 would this make more sense in the getting-started section? It seems like the logical next step after installation is to demonstrate how to run a "hello world" console app, and it is independent of ASP.NET, isn't it?

[2015-04-21 03:51] danroth27 commented on #51
I'm trying to keep all of the DNX specific content in one place for now so that we can move it if needed. Could we just cross link the topic?

[2015-04-21 04:02] danroth27 opened #86 "Supporting Third Party Clients using OAuth 2.0"
ASP.NET 5 -> Security -> Supporting Third Party Clients using OAuth 2.0

[Edit Tom Dykstra] [commit with deleted article stub](https://github.com/aspnet/Docs/commit/e4940fb39e40b4af7973e0709c004c6a6cc62f21)

[Edit Rick-Anderson]

 per `@Tratcher`

- [ ] A walk-through for Google, MicrosoftAccount, and Twitter that highlights some of their eccentricities.
- [ ] A reference to https://github.com/asp

[2015-04-21 04:03] danroth27 opened #87 "Claims-Based Authorization"
ASP.NET 5 -> Security -> Authorization -> Claims-Based Authorization

[2015-04-21 04:04] danroth27 opened #88 "Roles-Based Authorization"
ASP.NET 5 -> Security -> Authorization -> Roles-Based Authorization

[2015-04-21 04:04] danroth27 opened #89 "Anti-Request Forgery"
ASP.NET 5 -> Security -> Anti-Request Forgery

https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms/Sending_and_retrieving_form_data

[2015-04-21 04:05] danroth27 opened #90 "Preventing Cross-Site Scripting"
ASP.NET 5 -> Security -> Preventing Cross-Site Scripting

[2015-04-21 04:14] danroth27 opened #91 "Data Protection"
ASP.NET 5 -> Security -> Data Protection
- Using data protection
- Configuring for web farms
- Implementing key stores

[2015-04-21 04:15] danroth27 opened #92 "Preventing Open Redirect Attacks"
ASP.NET Core -> Security -> Preventing Open Redirect Attacks

- What is an Open Redirect Attack?
  - Describe the problem
  - Show an example attack
- Protecting Against Open Redirect Attacks
  - Using Url.IsLocalUrl to protect redirection done by the server

Current default templates use this helper in `AccountController`:
[code]

[Edit Tom Dykstra] [commit with deleted article stub](https://gith

[2015-04-21 04:16] danroth27 opened #93 "Safe Storage of Application Secrets"
ASP.NET 5 -> Security -> Safe Storage of Application Secrets

[2015-04-21 04:16] danroth27 opened #94 "Enabling CORS"
ASP.NET 5 -> Security -> Enabling CORS

[2015-04-21 04:40] danroth27 opened #95 "Creating Backend Services for Native Mobile Applications"
ASP.NET 5 -> Mobile -> Creating Backend Services for Native Mobile Applications

[2015-04-21 04:41] danroth27 opened #96 "Responsive Design for the Mobile Web"
ASP.NET 5 -> Mobile -> Responsive Design for the Mobile Web

[2015-04-21 04:41] danroth27 opened #97 "mvc/views/mobile.rst Building Mobile Specific Views Building Mobile Specific Views"
ASP.NET MVC -> Mobile -> Building Mobile Specific Views

[2015-04-21 04:41] danroth27 opened #98 "Migrating Existing HTTP Modules to ASP.NET"
ASP.NET 5 -> Migration -> Migrating Existing HTTP Modules to ASP.NET

[2015-04-21 04:42] danroth27 opened #99 "Migrating from ASP.NET Identity 2.x to 3.x"
ASP.NET 5 -> Migration -> Migrating from ASP.NET Identity 2.x to 3.x

[2015-04-21 04:43] danroth27 opened #100 "Measuring Your Application Performance with Application Insights."
ASP.NET 5 -> Performance -> Measuring Your Application Performance

[Edit Tom Dykstra] [commit with deleted article stub](https://github.com/aspnet/Docs/commit/e4940fb39e40b4af7973e0709c004c6a6cc62f21)

[2015-04-21 04:45] danroth27 opened #101 "Bundling and Minification in ASP.NET 5"
ASP.NET 5 -> Client-Side Development -> Bundling and Minification in ASP.NET 5

[2015-04-21 04:46] danroth27 opened #102 "Tag Helpers for CDNs"
MVC -> Views -> Working with CDNs
- Tag helpers: link, script, img

[Edit Rick-Anderson] #2785
[Edit Tom Dykstra] [commit with deleted article stub](https://github.com/aspnet/Docs/commit/e4940fb39e40b4af7973e0709c004c6a6cc62f21)

[2015-04-21 04:47] danroth27 opened #103 "Publish to an Azure Web App using Visual Studio"
ASP.NET 5 -> Publishing and Deployment -> Publish to an Azure Web App using Visual Studio

[2015-04-21 04:48] danroth27 opened #104 "Publish to an Azure Web App With Continuous Deployment"
ASP>NET 5 -> Publishing and Deployment -> Publish to an Azure Web App With Continuous Integration

[2015-04-21 04:49] danroth27 opened #105 "Publish to IIS"
ASP.NET 5 -> Publishing and Deployment -> Publish to IIS

[2015-04-21 04:50] danroth27 opened #106 "Publish to a Linux Production Environment"
ASP.NET 5 -> Publishing and Deployment -> Publish to a Linux Production Environment

[2015-04-21 04:51] danroth27 opened #107 "Publish to a Windows Virtual Machine on Azure"
ASP.NET 5 -> Publishing and Deployment -> Publish to a Windows Virtual Machine on Azure

[2015-04-21 04:52] danroth27 opened #108 "Publish to a Docker Image"
ASP.NET 5 -> Publishing and Deployment -> Publish to a Docker Image

[2015-04-21 04:52] danroth27 opened #109 "Middleware"
ASP.NET 5 -> Fundamentals -> Middleware
- What is middleware?
    - ASP.NET 5 apps are made up of a middleware pipeline
    - Abstractly middleware takes the next request delegate and provides a request delegate (`Func<RequestDelegate, RequestDelegate>`)
    - Request delegates
- Creating a middleware pipeline with `IApplicationBuilder`
    - You "Use" middleware
    - Forking the pipeline using `

[2015-04-21 04:55] danroth27 opened #110 "Hosting on a Custom Server"
ASP.NET 5 -> Extensibility -> Hosting on a Custom Server

[2015-04-21 04:57] danroth27 opened #111 "Building Your First MVC 6 Application"
ASP.NET MVC -> Getting Started -> Building Your First MVC 6 Application
- http://www.asp.net/mvc/overview/getting-started/introduction/getting-started

[2015-04-21 04:57] danroth27 opened #112 "Building Your First Web API with MVC 6"
ASP.NET MVC -> Getting Started -> Building Your First Web API with MVC 6

[2015-04-21 04:59] danroth27 opened #113 "ASP.NET MVC Conceptual Overview"
ASP.NET MVC -> Getting Started -> ASP.NET MVC Conceptual Overview
- What is ASP.NET MVC?
- What is the MVC Pattern?
- Using MVC for Web UI and Web APIs

[2015-04-21 04:59] danroth27 opened #114 "Model Binding Request Data"
ASP.NET MVC -> Models -> Model Binding Request Data

- What is Model Binding
  - Binds request data to parameters of your actions
- Default sources of data
  - 1. Form data, 2. route values, 3.query parameters
  - Support for jQuery provided values too
  - Data handled as name-value pairs
- How named values get bound to action parameters
  - Simple types: .NET simple types, anything with a string

[2015-04-21 05:04] danroth27 opened #115 "Using MVC 6 with Entity Framework 7"
ASP.NET MVC -> Tutorials -> Using MVC 6 with Entity Framework 7
- http://www.asp.net/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application

[2015-04-21 05:05] danroth27 opened #116 "Model Validation"
ASP.NET MVC -> Models -> Model validation
- Model state
- Data annotations
- Custom validation
- Remote validation

[2015-04-21 05:06] danroth27 opened #117 "Routing to Controller Actions"
ASP.NET MVC -> Controllers -> Routing to Controller Actions
- Relationship to middleware (#61)
- Startup code and relationship to MVC route handler
- Attribute routing
    - `[Route]`, `[Http*]`
    - Routes on controller vs actions
    - Inheritance
    - Token replacement in route templates (`[controller]`, `[action]`, `[area]`)
    - Custom route attributes using `IRouteTemplateProvider`
    -

[2015-04-21 05:06] danroth27 opened #118 "Actions and Action Results"
ASP.NET MVC -> Controllers -> Actions and Action Results

- What is a controller?
  - Defines and groups a set of actions
  - An action is method on your controller that handles requests
  - A public instantiable class that ends in "Controller" or inherits from a class that ends with "Controller"
- Defining your actions
  - Public method on a controller type
  - Parameters on your action get bound

[2015-04-21 05:07] danroth27 opened #119 "Filters"
ASP.NET MVC -> Controllers -> Filters
- Which filter do I need?
- How do filters work? Async or not; Cancellation/short-circuiting
- Configuring Filters - How, Where, Ordering, Scope
Filters are not directly returned from DI
You can write an attribute that has the filter interface on it
or you can implement an attribute that implements IFilterFactory
or you can use TypeFilter attribute or ServiceF

[2015-04-21 05:08] danroth27 opened #120 "Dependency Injection and Controllers"
ASP.NET MVC -> Controllers -> Dependency Injection and Controllers

[2015-04-21 05:09] danroth27 opened #121 "Areas"
ASP>NET MVC -> Controllers -> Areas

[2015-04-21 05:12] danroth27 opened #122 "Formatting Response Data"
ASP.NET MVC -> Models -> Formatting Response Data
- Format specific action results
  - JsonResult
  - ContentResult
    - string (will just return text)
  - Note: For non-trivial actions with multiple return types, prefer IActionResult
- Content negotiation
  - Define content negotiation - only happens if client specifies Accept header
  - Default format is JSON
  - IActionResult and Ok, BadReques

[2015-04-21 05:12] danroth27 opened #123 "Testing Controller Logic"
ASP.NET MVC -> Controllers -> Testing Controller Logic

[2015-04-21 05:13] danroth27 opened #124 "Error handling"
ASP.NET  -> Fundamentals -> Error handling
- Exception handling page (move from Diagnostics)
- When and how to use exception filters
- Status Code page (in Diagnostics package - fits best here)
- Limitations of error handling in client/server interactions (see #67)
- Reference IIS/Kestrel/Server error handling (links)
- Startup error handling (https://github.com/aspnet/Docs/issues/1095)

[2015-04-21 05:14] danroth27 opened #125 "Introduction to Tag Helpers"
ASP.NET MVC -> Views -> Tag Helpers -> Introduction to Tag Helpers

What they are
- Lift from https://channel9.msdn.com/Series/ConnectOn-Demand/232
- Allow server-side code to participate in the rendering of HTML
- Differences from Web Form controls
  - No lifecycle, no DOM
  - Multiple can run on an element
  - Tag helpers are attached to an HTML element vs you _use_ a Web Forms control
  - No ty

[2015-04-21 05:15] danroth27 opened #126 "Partial Views"
ASP.NET MVC -> Views -> Partial Views
- What are Partial Views
There are a couple of different kinds of partial views. There are the kinds that are returned from a controller, which can do updates, typically via AJAX (return Partial("path") or PartialAsync). (cover this at the end, noting that the feature exists)

And there are partial views that are built up using razor at runtime within another

[2015-04-21 05:15] danroth27 opened #127 "View Components"
ASP.NET MVC -> Views -> View Components

[2015-04-21 05:15] danroth27 opened #128 "Dependency Injection in Views"
ASP.NET MVC -> Views -> Dependency Injection in Views

[2015-04-21 05:16] danroth27 opened #129 "Running Async Code in Views"
ASP.NET MVC -> Views -> Running Async Code in Views

[2015-04-21 05:16] danroth27 opened #130 "Razor Syntax Reference"
ASP.NET MVC -> Views -> Razor Syntax Reference

[2015-04-21 05:17] danroth27 opened #131 "HTML Helpers"
ASP.NET MVC -> Views -> HTML Helpers
- What are HTML helpers?
- Built-in HTML helpers
- Writing custom HTML helpers
- #2009 special-case an entry named "htmlAttributes" in the ViewDataDictionary (optionally augmented using additionalViewData parameters) when executing their default templates.
- #2008 Improve "expression name" documentation -- describe supported syntax #2008

[2015-04-21 05:17] danroth27 opened #132 "Dynamic vs Strongly Typed Views"
ASP.NET MVC -> Views -> Dynamic vs Strongly Typed Views
- http://www.asp.net/mvc/overview/views/dynamic-v-strongly-typed-views

[2015-04-21 05:18] danroth27 opened #133 "Authorization Filters"
ASP.NET MVC -> Security -> Authorization Filters

[2015-04-21 05:18] danroth27 opened #134 "Anti-Request Forgery"
ASP.NET MVC -> Security -> Anti-Request Forgery

[2015-04-21 05:19] danroth27 opened #135 "Enforcing SSL"
ASP.NET MVC -> Security -> Enforcing SSL

[2015-04-21 05:19] danroth27 opened #136 "Defining Your CORS Policy"
ASP.NET MVC -> Security -> Defining Your CORS Policy

[2015-04-21 05:19] danroth27 opened #137 "Creating a Custom View Engine"
ASP.NET MVC -> Views -> Creating a Custom View Engine

[Edit Tom Dykstra] [commit with deleted article stub](https://github.com/aspnet/Docs/commit/e4940fb39e40b4af7973e0709c004c6a6cc62f21)

[2015-04-21 05:20] danroth27 opened #138 "Working with the Application Model"
ASP.NET MVC -> Controllers-> Working with the Application Model

Application Model lives here:
https://github.com/aspnet/Mvc/tree/dev/src/Microsoft.AspNetCore.Mvc.Core/ApplicationModels

Conventions can be applied as attributes.
Example: https://github.com/aspnet/Mvc/tree/dev/test/WebSites/ApplicationModelWebSite/Controllers

Attributes applied to a base type will allow child types to inherit thes

[2015-04-21 05:20] danroth27 opened #139 "Writing Custom Formatters"
ASP.NET MVC -> Models -> Writing Custom Formatters

[2015-04-21 05:24] danroth27 commented on #14
Dup of #56

[2015-04-21 05:24] #14 closed

[2015-04-21 05:32] danroth27 commented on #65
Dup of #24.

[2015-04-21 05:32] #65 closed

[2015-04-21 05:32] danroth27 commented on #24
ASP.NET 5->Runtime->Dependency Injection
•Adding services: singleton, scoped, transient
•Default behavior: constructor injection
•Using a your favorite IoC Container

[2015-04-21 05:35] danroth27 commented on #44
https://gist.github.com/glennc/2b259bfeda1aa7fc144c

[2015-04-21 05:47] danroth27 commented on #19
Dup of #125.

[2015-04-21 05:47] #19 closed

[2015-04-21 13:45] ardalis commented on #51
Sounds good; will do.

[2015-04-21 15:53] tugberkugurlu commented on #104
I have recently spent some time on this (on dnx v1.0.0-beta4-11532) and I can definitely give this a go and write it up.

[2015-04-21 16:03] tugberkugurlu commented on #127
What is the story on already written blog posts on the topics by the community? Are there any plans to link them relevantly or move the ones that make sense?

For example, I have a post on [View Components](http://www.tugberkugurlu.com/archive/exciting-things-about-asp-net-vnext-series-mvc-view-components). Of course, the community blog posts may not meet the quality bar of the official docs.

[2015-04-21 18:02] blowdart opened #140 "Author section is unnecessary"
Given the open source nature of the docs system if everyone who contributes to an article ends up in the author section it's going to be bigger than some actual articles. It also becomes out of date extremely quickly.

It ought to just go away.

[2015-04-21 18:07] tugberkugurlu commented on #140
Would be cool to automaticay list contributers, who contributed to that page, at the bottom of the article.

[2015-04-21 18:08] blowdart commented on #140
That's fine. Photos and/or bios would just get too big.

[2015-04-21 18:35] MikeWasson commented on #140
I think the author section is for the primary author(s), not every contributor who submits a PR (which will be in the history). Listing authors has been important on the asp.net site, for building author reputations and giving credit to MVPs or others who contribute to the docs.

[2015-04-21 20:13] ardalis commented on #140
Ditto @MikeWasson. They just need to be kept under control (like they are now and on the asp.net site).

[2015-04-22 02:46] #30 closed

[2015-04-22 02:46] #42 closed

[2015-04-22 02:46] #43 closed

[2015-04-22 03:55] danroth27 commented on #104
Sure! The intent was that this topic would cover using Kudu with ASP.NET 5. We still need to make some updates to Kudu to support our beta4 bits, which should simplify the steps needed. I will let you know once that is in place.

Please be sure to review our [contribution guidelines](https://github.com/aspnet/Docs/blob/master/CONTRIBUTING.md) and [style guide](http://docs.asp.net/en/latest/contrib

[2015-04-22 04:01] danroth27 commented on #127
We love our community blog posts, but we want this site to have official documentation that we maintain over time. @Rick-Anderson and @MikeWasson have some initial View Component documentation [here](http://www.asp.net/vnext/overview/aspnet-vnext/vc#intro) that I had expected to port over and update. Let us know though if you want take on this topic.

[2015-04-24 17:06] blowdart opened #144 "Move samples from project root"
There is a sample directory at the top of the project. These samples should move to under their specific topic.

[2015-04-27 20:01] danroth27 opened #147 "Update Console App doc to cover publishing and installing global command"
Tracking remainder of #51 with this issue.

[2015-04-27 22:10] #8 closed

[2015-04-27 22:38] rustd commented on #93
Add content from https://github.com/aspnet/Home/wiki/DNX-Secret-Configuration

[2015-04-28 06:14] ardalis opened #149 "Migrate Remainder of Bower Article"
@MikeWasson I think there is some of this article missing:
https://github.com/aspnet/Docs/blob/master/docs/client-side/bower.rst

[2015-04-28 13:41] ardalis commented on #23
Completed as Introducing .NET Core http://docs.asp.net/en/latest/conceptual-overview/introducing-dotnetcore.html

[2015-04-28 13:58] ardalis opened #150 "Fix header styling for long article titles"
The breadcrumb pushes down the Edit on Github link when the article section + title gets too long.

[2015-04-28 19:25] #29 closed

[2015-04-28 19:26] #32 closed

[2015-04-28 19:26] #23 closed

[2015-04-28 19:26] #51 closed

[2015-04-28 19:26] #22 closed

[2015-04-29 01:29] danroth27 commented on #103
:shipit:

[2015-04-29 05:22] #103 closed

[2015-04-29 05:37] akoeplinger opened #153 "Console app doc should show the app running on other platforms"
The doc is titled "Creating a Cross-Platform Console App with DNX", but it only shows the app running on Windows.

[2015-04-29 09:56] danroth27 opened #157 "Add additional related resources to installing on mac doc"
.. TODO: - `Installing ASP.NET 5 on Linux <>`_
.. TODO: `Your First ASP.NET 5 Application on a Mac`_

[2015-04-29 10:06] danroth27 opened #158 "Add additional resources to installing on windows doc"
.. - `Installing ASP.NET 5 on Linux <>`_
.. - `Your First ASP.NET 5 Application on a Mac <>`_

[2015-04-29 11:41] #74 closed

[2015-04-29 21:17] danroth27 opened #169 "Add summary to ASP.NET 5 Intro topic"

[2015-04-29 23:04] #44 closed

[2015-04-29 23:25] muratg opened #171 "Add project.lock.json to .gitignore"
Not sure why we are checking in these files.  If the goal is to hardcode beta4, then files should be actually locked.  Otherwise it should be in .gitignore.

[2015-04-30 01:00] TravisTheTechie opened #173 "Your first Mac ASP.NET app tutorial problems"
1. Says should use 1.0.0-beta4. Can't install beta4 from the feed... `dnvm install 1.0.0-beta4` nor `dnvm install 1.0.0-beta4 -u`. (semi-related, where do I report that empty directories in `~/.dnx/runtimes` for failed installs is annoying?)
1. Screen shots don't match the current `generator-aspnet` options.
1. Can't get the `dnu` commands to run from VS Code, but that might be an issue on my end.

[2015-04-30 01:03] davidfowl commented on #173
This should be fixed now. Installing beta4 should work /cc @glennc

That is likely the problem. Omnisharp tells VSCode about the commands.

Nothing to do with Kestrel. It's a mono issue likely caused by Razor view compilation.

Sounds like you've mismatched beta4 and beta5 bits. They are incompatible.

[2015-04-30 01:20] TravisTheTechie commented on #173
So it sounds like beta4 is the source of all my issues.

[code]

I also tried 1.0.0.0-beta4 per https://github.com/OmniSharp/generator-aspnet/issues/149#issuecomment-97622624

How do I get beta4 then?

[2015-04-30 01:29] TravisTheTechie commented on #173
https://www.nuget.org/packages/dnx-mono/1.0.0-beta4 exits, so, `dnvm install 1.0.0-beta4` should work, right?

[code]

Maybe that's the issue, something with nuget?

[2015-04-30 01:35] TravisTheTechie commented on #173
Lame...

[code]

And poof web pages load now without error pages.

[2015-04-30 01:36] #173 closed

[2015-04-30 01:37] davidfowl commented on #173
Nothing wrong with NuGet. Try dnvm update-self https://github.com/aspnet/dnvm/issues/235

[2015-04-30 04:58] danroth27 opened #174 "Renaming Runtime to Fundamentals"

[2015-04-30 05:24] ctolkien opened #175 "Installation guidelines for DNVM standalone on windows point to KVM"
http://docs.asp.net/en/latest/getting-started/installing-on-windows.html#install-asp-net-standalone

@powershell -NoProfile -ExecutionPolicy unrestricted -Command "iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/aspnet/Home/master/kvminstall.ps1'))"

[2015-04-30 05:28] danroth27 opened #176 "NuGet overview topic"
Fundamentals -> NuGet

- NuGet basic (but don't duplicate http://docs.nuget.org).
- Targeting multiple platforms
- Targeting DNX

[2015-04-30 05:55] okaram commented on #55
Is anybody writing this ? Do you need help ?

[2015-04-30 19:12] danroth27 commented on #55
This isn't currently assigned to anyone. If you would like to help out with this article that would be great!

The idea with this article it show creating a Console App (Package) in VS2015, publishing it to NuGet and then consuming it as a global or project-level command.

[2015-05-01 08:07] #91 closed

[2015-05-01 15:11] wanzicaidi opened #179 "Get error "The name '_config' does not exist in the current context" when add Server-side behavior"
Following code does not pass build, that the build error says "The name '_config' does not exist in the current context"

    public IActionResult About()
    {
        string appName = _config.Get("ApplicationName");
        ....
    }

Did I miss any point, or anything wrong?

[2015-05-01 16:49] kelong commented on #173
@TravisTheTechie still same error after installing manually.
ulimit -n
65536
ulimit -u
709
IOException: kqueue() FileSystemWatcher has reached the maximum nunmber of files to watch.
System.IO.KqueueMonitor.Add (System.String path, Boolean postEvents, System.Collections.Generic.List`1& fds) [0x00000] in <filename unknown>, line 0

[2015-05-01 17:29] TravisTheTechie commented on #173
Does `dnvm list` show beta4 as the default and active one? You might need to `dnvm use 1.0.0-beta4`. Still running into the mono issue with kestrel would indicate you're still using beta5.

[2015-05-01 18:17] kelong commented on #173
@TravisTheTechie I have never installed beta5 version.
dnvm list

Active Version              Runtime Arch Location             Alias
------ -------              ------- ---- --------             -----
  *    1.0.0-beta4          mono         ~/.dnx/runtimes      default

[2015-05-01 19:15] MatthewBonner commented on #140
Says the person advertising his company...

[2015-05-01 20:44] glennc commented on #175
Fixed

[2015-05-01 20:44] #175 closed

[2015-05-02 00:16] danroth27 commented on #174
1e10096d64a11520f14c021b2107693d2483dcd9

[2015-05-02 00:16] #174 closed

[2015-05-02 00:19] danroth27 commented on #179
We should remove the _config code.

[2015-05-02 01:28] Rick-Anderson opened #180 "Debugging MVC 6"
•         If you don’t’ have a web.config, deploy generates one for you.
•         If you have a web.config, deploy inserts the markup into its web.config.
•         You must put web.config in the www folder.
•         You can quickly examine the web.config via KUDU

[2015-05-02 07:06] calvinward opened #181 "Separate Grunt and Gulp (or lead with Gulp)"
Out of the box, ASP.NET 5 is implemented with Gulp.

However when reading the docs, they start with Grunt, which by itself isn't bad, but if the developer skips to Gulp because their project begins that way, and then reviews documentation that has comments like, "The code below assigns the same tasks used in the Grunt example...", it puts the developer in the position of having to go back each tim

[2015-05-02 18:53] eduaglz opened #182 "Tutorial uses old framework naming"
At the tutorial: `Your First ASP.NET 5 Application Using Visual Studio` ( [link](http://docs.asp.net/en/latest/tutorials/your-first-aspnet-application.html#create-a-new-asp-net-5-project) ) below the section `Adding Server-Side Behavior` it says the following:

[code]

Shouldn't it be changed to the new framework names:
[code]

[2015-05-02 19:05] davidfowl commented on #182
Yes it should be. Care to send a pull request fixing it?

[2015-05-02 19:41] eduaglz commented on #182
Sure, I'll do it

[2015-05-02 22:41] GuardRex commented on #70
@danroth27 It's a documentation pain point at [Working with Multiple Environments](http://docs.asp.net/en/latest/fundamentals/environments.html) for the `<environment>` tag functionality, since The Lesser Scotts just showed that in their demo at Build. I was wondering if you had anything at all you could supply on that? It doesn't seem to work out-of-the-box. https://github.com/aspnet/Home/issues/

[2015-05-02 23:43] juzzbott opened #184 "Installing on Linux - missing certificate import steps"
Hi,

To be able to use the `dnu restore` command, I had to import some SSL certificates for the restore to work, otherwise Mono was throwing exceptions when trying to restore the packages.

The commands I had to run are:

    sudo certmgr -ssl -m https://go.microsoft.com
    sudo certmgr -ssl -m https://nugetgallery.blob.core.windows.net
    sudo certmgr -ssl -m https://nuget.org
    mozroots --im

[2015-05-02 23:47] davidfowl commented on #184
You shouldn't have to:

http://www.mono-project.com/docs/getting-started/install/linux/#notes

[2015-05-03 00:34] juzzbott commented on #184
Hmm, then there might be something else going on.

Output from `mono --version` is:
     Mono JIT compiler version 4.0.1 (tarball Tue Apr 28 11:47:58 UTC 2015)

I was getting those SSL errors when trying to run `dnu restore`. As soon as ran those commands above, the `dnu restore` operation completed successfully without any further changes required.

It could just be that I needed to run the `mozr

[2015-05-03 05:41] danroth27 commented on #70
@GuardRex This topic is related to the environment Tag Helper, but it will only cover the underlying infrastructure for environments in ASP.NET 5. Tag Helpers will covered under the MVC docs. This content is still on the backlog.

[2015-05-03 05:55] GuardRex commented on #70
@danroth27 Thanks. I'll reference my discovery about the collision of Tag Helpers and minification here just in case someone hits this looking for help. https://github.com/aspnet/Home/issues/534

[2015-05-03 13:26] Kelderro opened #185 "Grunt-gulp, indicate to create JavaScript file instead of TypeScript file"
The grunt-gulp.rst file (https://github.com/aspnet/Docs/blob/master/docs/client-side/grunt-gulp.rst) contains a typing mistake on row 54.
Row 54 indicates that the user should create a file named food.js. The content of the file is TypeScript. The correct extension of the file should be ts and not js.

[2015-05-03 13:58] ardalis commented on #179
And update the code samples for this article to use literal include of real code files. Will do.

[2015-05-03 16:52] danroth27 commented on #108
Porting content from https://msdn.microsoft.com/library/azure/mt125409.aspx

[2015-05-03 22:17] ardalis commented on #185
Fixed, thanks!

[2015-05-03 22:17] #185 closed

[2015-05-03 22:27] richardszalay opened #187 "Typos in Conceptual Overview"
*conceptual-overview/aspnet.rst* - "The built-it configuration providers" should be "The built-in configuration providers"

*conceptual-overview/dnx.rst* - "It provide a host process" should be "It provides a host process"

I've created a PR with these fixes. Apologies for combining multiple issues into one, but they are such small changes I thought it prudent.

[2015-05-04 00:23] davidfowl opened #189 "Rework TOC a little bit"
Going through a docs, I think we should restructure it a bit:

Brain dump:

- DNX (This section is fine but we can add more things)
  - What's in it?
    - dnu, dnx, design time host
 - Project System
   - global.json, project.json and project.lock.json (schema function etc)
    - Types of references
    - Project references
    - Package references
    - Assembly references
    - msbuild style (c

[2015-05-04 00:24] davidfowl commented on #189
/cc @danroth27

[2015-05-04 01:00] regionbbs opened #190 "How to contribute localized content in here?"
Hi,
I am interesting to localize this docs to my language, How can I do?
Thank you.

[2015-05-04 22:47] danroth27 opened #193 "ASP.NET 5 on Azure Service Fabric"
Tutorials -> ASP.NET 5 on Azure Service Fabric

[2015-05-04 22:47] danroth27 opened #194 "ASP.NET 5 on Windows Server Nano"
Tutorials -> ASP.NET 5 on Nano Server

[2015-05-04 23:15] danroth27 opened #195 "Add documentation on the DNX design time host"

[2015-05-04 23:18] danroth27 commented on #50
More stuff to work in:
- global.json, project.json and project.lock.json (schema function etc)
- Types of references
- Project references
- Package references
- Assembly references
- msbuild style (csproj, vbproj) project references

[2015-05-04 23:21] danroth27 opened #196 "DNX Servicing"

[2015-05-04 23:23] danroth27 opened #197 "Document services provided by DNX"
DNX -> Services

[2015-05-04 23:25] danroth27 opened #198 "DNX Loaders"
DNX -> Loaders

[2015-05-04 23:26] danroth27 opened #199 "DNX Compilation"
DNX -> Compilation
- Compilation options
- Compile Modules

[2015-05-04 23:28] danroth27 opened #200 "Diagnosing project dependency failures"
DNX -> Diagnosing project dependency failures

http://davidfowl.com/diagnosing-dependency-issues-with-asp-net-5/

[2015-05-04 23:29] danroth27 opened #201 "Document that `AppDomain.AppBase` is different for DNX projects running on the .NET Framework"

[2015-05-04 23:38] danroth27 opened #202 "HTTP Abstractions"
Fundamentals -> HTTP Abstractions

Cover the new HttpContext and how to use it.

[2015-05-04 23:40] danroth27 opened #203 "Unit Testing"
Fundamentals-> Unit Testing
- Unit testing
  - Create a unit testing project
  - Add the test runner package (xunit.runner.dnx)
    - Don't refer to xunit.runner.aspnet!!!
  - Add a test command named test, point to the runner
  - Write your tests
  - VS should "just work", or run `dnx test` at the command-line
     - Gotchas: have the test window open and not minimized, do a build in VS

[2015-05-05 03:48] #182 closed

[2015-05-05 03:52] danroth27 opened #204 "WebSockets"
Fundamentals -> WebSockets

[2015-05-05 04:02] danroth27 opened #205 "Introduction to NuGet"
Conceptual Overview -> Introduction to NuGet
- Package sources
- Installing packages
- Restoring packages
- Creating packages
- Target frameworks

[2015-05-05 04:02] danroth27 commented on #205
Lots of references to http://docs.nuget.org.

[2015-05-05 04:05] danroth27 opened #206 "File Providers"
Fundamentals -> File Providers
- File Providers as an abstraction over file systems
  - IFileProvider, IFileInfo, IDirectoryContents
  - Wraps System.IO.File (but also is scoped to a directory, and all paths are from that directory going forward)
  - Get a file, get folder contents, watch for changes
- Concrete implementations
  - Physical
  - Embedded (assembly resources)
  - Composite (aggregate

[2015-05-05 17:54] pnewhook commented on #125
I'd like to write about this. Does it make sense to break out each bullet into it's own issue? I think [Damian Edwards' video](https://channel9.msdn.com/Series/ConnectOn-Demand/232) gives a good starting point, at least for 'What are Tag Helpers'?

[2015-05-05 19:07] lucamorelli opened #208 "typescript and asp.net 5"
Hi, I started to write a few sample project using typescript 1.5 beta and vs 2015 rc with angular 1, angular 2, aurelia, react, polymer and with a lot of problems they're starting to work.
May be interesting to create a few articles showing how to create typescript apps with these frameworks?

[2015-05-05 19:25] ardalis commented on #62
The environment variable and other parts of ErrorPage are still TODO in the source: https://github.com/aspnet/Diagnostics/blob/dev/src/Microsoft.AspNet.Diagnostics/ErrorPageExtensions.cs - line 43, also the ErrorPage view has commented out the Cookies and Environment tabs.

@danroth27
Should I just note that they're not fully baked yet and otherwise work around such things?

[2015-05-06 01:53] lovesha opened #210 "Authentication using Azure AD"

[2015-05-06 03:57] danroth27 commented on #62
@davidfowl @glennc @muratg Could you guys please comment on what we should document for the ErrorPage at this point?

[2015-05-06 05:03] danroth27 commented on #125
@pnewhook Thanks for offering to contribute! Because Tag Helpers are a new feature in MVC 6 we plan to have someone from the product team handle the Tag Helper docs directly. There are still plenty of other articles that need to be written though, so please do look through the issues and see if there is something else you would like to work on.

[2015-05-06 07:18] nickvdyck opened #211 "Gulp prefers existing node packages"
Gulp's philosophy is quite different from grunt's, as it is not required to create a plugin or wrapper for each node package. Instead it is preferred to use existing node packages.

For example in the gulp docs there is a dependency on gulp-clean, which has been deprecated for quite some time and for which del is preferred ([blacklist](https://github.com/gulpjs/plugins/blob/master/src/blackList.js

[2015-05-06 16:25] ardalis commented on #62
I'm adding in comments regarding the incomplete functionality.
Since AppInsights requires significant changes to Startup.cs and I would like to keep the Diagnostics demo's sample project simple, I'd prefer to pull it into its own separate article, in which case this one is ready to be PR'd.

[2015-05-06 17:04] muratg commented on #62
https://github.com/aspnet/Diagnostics/issues/130

[2015-05-06 17:54] danroth27 commented on #62
I agree on putting AppInsights in a separate article.

[2015-05-06 19:19] ardalis opened #212 "Application Insights Intro"
fundamentals -> application-insights
Cover initial setup on Azure side and wiring up within ASP.NET application
Link to/from Diagnostics article.

[2015-05-06 20:55] danroth27 commented on #18
Dup of #125

[2015-05-06 20:55] #18 closed

[2015-05-06 20:56] #48 closed

[2015-05-06 20:56] #46 closed

[2015-05-06 20:56] #47 closed

[2015-05-06 20:57] #28 closed

[2015-05-06 23:29] muratg commented on #62
See my comment on aspnet/Diagnostics#130. We decided to keep the current behavior, so @ardalis's doc will be valid in the future too.

[2015-05-07 04:01] danroth27 commented on #211
@ardalis @DamianEdwards @madskristensen

Adding some folks to make sure this message is aligned with what we are doing in the tooling.

[2015-05-07 04:09] danroth27 commented on #210
Security -> Authentication -> Azure AD

Yup!

[2015-05-07 05:10] danroth27 commented on #208
We actually already have some typescript content in the works for https://github.com/aspnet/Docs/issues/31. The content is actually already written. It just needs to be converted to reST and published.

[2015-05-07 05:10] #208 closed

[2015-05-07 05:13] #187 closed

[2015-05-07 05:33] danroth27 commented on #189
Reviewed and separate issues filed.

[2015-05-07 05:33] #189 closed

[2015-05-07 05:49] danroth27 commented on #193
http://azure.microsoft.com/blog/2015/04/20/announcing-azure-service-fabric-reducing-complexity-in-a-hyper-scale-world/

[2015-05-07 05:51] danroth27 commented on #190
We are still in the process of setting up our documentation for localized content. We will let you know as soon as we are ready. Thank you for your patience!

[2015-05-07 05:52] danroth27 commented on #184
@glennc We should see if we can reproduce this issue.

[2015-05-07 05:54] danroth27 commented on #181
Yup, this is a known issue. We started writing the Grunt content before we made the switch to use Gulp by default. We plan to update the docs to give Gulp a fuller treatment.

[2015-05-07 05:56] danroth27 commented on #180
@Rick-Anderson This doesn't seem like it merits a completely new topic, but maybe we can add these details to an existing/planned topic under [Publishing and Deployment](http://docs.asp.net/en/latest/publishing/index.html).

[2015-05-07 05:57] danroth27 commented on #176
Dup of #205.

[2015-05-07 05:57] #176 closed

[2015-05-07 06:03] danroth27 commented on #144
Should be fixed now.

[2015-05-07 06:03] #144 closed

[2015-05-07 15:08] ardalis commented on #17
Noel submitted it yesterday; pending review now.

[2015-05-07 15:33] danroth27 commented on #110
Dup of #59

[2015-05-07 15:33] #110 closed

[2015-05-07 15:36] ardalis commented on #64
@danroth27
Does it make sense to cover Microsoft.Framework.ConfigurationModel.UserSecrets in this article as well?

[2015-05-07 16:16] danroth27 commented on #64
Nah, we are going to have a specific topic covering handling app secrets. See #93.

[2015-05-07 17:49] danroth27 commented on #84
99c87ec09ea8e09863f7ec39889a396495e08afa

[2015-05-07 17:49] #84 closed

[2015-05-07 17:52] danroth27 commented on #75
@rustd Can this issue now be closed?

[2015-05-07 17:53] danroth27 commented on #73
@rustd Can this issue now be closed?

[2015-05-07 18:11] danroth27 commented on #40
Dup #111

[2015-05-07 18:11] #40 closed

[2015-05-07 18:13] danroth27 commented on #25
Dup #127.

[2015-05-07 18:13] #25 closed

[2015-05-07 18:16] danroth27 commented on #15
This is all getting covered with other DNX topics.

[2015-05-07 18:16] #15 closed

[2015-05-07 18:17] danroth27 commented on #13
We have .NET Core and migrating to .NET Core covered in a variety of other topics.

[2015-05-07 18:17] #13 closed

[2015-05-08 00:52] gabsferreira opened #221 "Can't find config variable"
Sorry if I shouldn't open this here, but I'm having a problem following the docs. In the section "Your First ASP.NET 5 Application Using Visual Studio", in this code snippet:

[code]

 this "_config" variable is not found, should it be inherited from the Controller class?

I'm using the latest version of VS 2015 14.0.22823.1.

[2015-05-08 02:51] bigodera commented on #221
Maybe the declaration of the variable _config is lacking? Maybe something like:
var _config = new Configuration();

If it's just that, I could do it.

[2015-05-08 13:25] ardalis commented on #221
This is fixed in a pending Pull Request (https://github.com/aspnet/Docs/pull/217). Sorry for the confusion. Part of the issue was that that article didn't use an associated sample, but this is corrected in the PR as well.

[2015-05-08 13:27] bigodera commented on #221
@ardalis oh, ok then. Thank you.

[2015-05-08 20:27] peterblazejewicz commented on #17
Hi guys, just wondering: which specific tool is that content covering? [generator-aspnet](https://github.com/OmniSharp/generator-aspnet) (best choice)?
Thanks!

/cc @sayedihashimi  @spboyer
This applies to following docs section I assume:
https://github.com/aspnet/Docs/blob/master/docs/tutorials/your-first-mac-aspnet.rst#scaffolding-applications-using-yeoman

[2015-05-08 21:22] sayedihashimi commented on #17
It should be using yo aspnet, if not we will need a rewrite :)

[2015-05-08 22:51] anwalkers opened #225 "Document how to configure additional bower registries"
We use an internal private bower registry for publishing common reusable components across multiple applications. How do you add this inside of VS 2015 for an ASP.NET 5 project?

See http://bower.io/docs/config/#registrysearch

[2015-05-08 23:14] anwalkers commented on #225
Doh... Just add a .bowerrc and add the configuration...

[2015-05-08 23:14] #225 closed

[2015-05-08 23:16] vkichline opened #227 "Transfering Secrets to Azure"
Pranav's article http://docs.asp.net/en/latest/security/sociallogins.html described how to use Secret Store to store my Facebook login secrets, which was a great example.  Now I'm encouraged to try it out, but before doing so I **have to know** how to keep my app running once I publish it to Azure.
The article links to https://github.com/aspnet/Home/wiki/DNX-Secret-Configuration, which doesn't exp

[2015-05-09 00:53] timmydo commented on #227
You could call config.AddEnvironmentVariables() and store the secrets in the azure web app settings

[2015-05-09 00:54] timmydo commented on #227
@rustd

[2015-05-09 14:30] danroth27 opened #228 "How to Customize Publishing"
ASP.NET 5 -> Publishing and Deployment -> How to Customize Publishing

[2015-05-09 16:40] carlosmunozrodriguez commented on #171
`lock.project.json` is already in VisualStudio.gitignore from this commit in github/gitignore: https://github.com/github/gitignore/commit/467e257fdb71b6b920dde08ef16337e80ef91bb6

[2015-05-10 01:09] regionbbs commented on #190
Thank you.

[2015-05-10 01:09] #190 closed

[2015-05-11 03:27] muratg commented on #171
This bug was filed for the samples in this repo.  One example: https://github.com/aspnet/Docs/blob/f988eba02dd1e418e1f09a027ec566ecf6dc6ce2/docs/mvc/migration/migratingfromwebapi2/sample/ProductsDnx/project.lock.json

[2015-05-11 15:50] danroth27 opened #229 "Enable Disqus"

[2015-05-11 20:48] danroth27 opened #231 "Advanced Tag Helpers"
MVC -> Views -> Tag Helpers -> Advanced Tag Helpers

Doing more advanced stuff like ModelExpressions, multiple tag helpers per element, coordination between Tag Helpers, packaging them up in NuGet packages, etc.

[2015-05-11 20:49] danroth27 opened #232 "Authoring Tag Helpers"
MVC -> Views -> Tag Helpers -> Authoring Tag Helpers

The basics of making them with primitive properties, targeting elements/attributes, etc.

[2015-05-11 20:52] danroth27 opened #233 "Using Tag Helpers"
MVC -> Views -> Tag Helpers -> Using Tag Helpers

- Managing registration with @addTagHelper, @removeTagHelper
  - Built in package: Microsoft.AspNet.Mvc.TagHelpers
  - Hierarchical: set in _ViewImports, override in specific views/partials/subimports
  - Syntax: `type_pattern, assembly`
    -wildcards, namespaces, namespaces with suffix wildcard
- using them in views
  - Just write tags and attrib

[2015-05-11 23:21] DjVG commented on #109
Hi Daniel,
Do you need help o write middleware/OWIN articles? Please let me know if I cam help.

[2015-05-11 23:48] danroth27 commented on #109
Absolutely! This particular topic is intended to be an overview of what middleware is in ASP.NET 5 and how to author middleware. We have a separate issue tracking documenting our OWIN support (#71) and other issues track documenting specific middleware implementations (ex static files, session, authentication, etc.). Before you write anything please propose an outline in the issue so that we can m

[2015-05-12 04:12] #179 closed

[2015-05-13 00:41] danroth27 opened #235 "Add link to latest release notes"

[2015-05-13 10:40] sgjsakura opened #236 "requesting Built-in Services table"
Fundamentals -> Dependency Injection -> Built-in Services.

A Table which includes all ASP.NET 5 Built-in Services (e.g. IHttpContextAccessor), together with their type (Scoped, Transient, or Singleton) and major function. This topic may especially useful while either creating custom services or writing application code.

[2015-05-13 16:34] ardalis opened #237 "Create a Web Site Template Sample in /samples"
Create a standard project that is just the default web template for ASP.NET 5, for reference from multiple articles. This sample should not be updated from the state a user would fine their project to be in when they create a new web project using the template.

[2015-05-13 17:04] danroth27 commented on #66
We decided to merge the options model content with #64.

[2015-05-13 17:04] #66 closed

[2015-05-14 01:40] JamesNK opened #241 "How to customize JSON serialization settings"
Some documentation of the available hooks for customizing JSON serialization would be useful.
- Default input and output JSON formatter settings with MvcOptions.JsonSerializerSettings
- Per action ouput JSON formatter settings with Controller.Json(value, JsonSerializerSettings)
- Serializing inside a view settings with Json.Serialize(value, JsonSerializerSettings)

[2015-05-14 01:48] Rick-Anderson opened #242 "How to contribute to https://github.com/aspnet/"
generic to any open source package where you want to clone the code for the package, replace the package with the code, make your change, submit your change to the project and then replace the code with the update package. This feature is really about encouraging the .NET open source community. This probably should live under the DNX docs as it really isn’t specific to ASP.NET 5.

[2015-05-14 12:24] andresmoschini commented on #37
+1

[2015-05-14 16:06] tdietrich513 commented on #24
Waiting with bated breath for the Using your favorite IoC container info.

[2015-05-14 16:15] danroth27 commented on #24
@tdietrich513 While you are waiting check out what the Autofac guys published on how to use Autofac with ASP.NET 5: http://alexmg.com/autofac-4-0-alpha-1-for-asp-net-5-0-beta-3/

[2015-05-14 16:46] tdietrich513 commented on #24
Nice- my preferred container is Windsor but maybe I can hack out an implementation until they get on their game.

[2015-05-14 21:47] danroth27 opened #244 "Clean up file names to use lower case"
We still have a bunch of files that have mixed casing. To avoid casing issues on Linux we should just lower-case everything.

[2015-05-18 18:06] danroth27 opened #245 "Developing for a Linux environment on Windows"
Document setting up a Linux VM on hyper-v right through to running the app

[2015-05-18 22:32] danroth27 opened #249 "Update View Components article to use literalincludes"

[2015-05-19 05:23] Rick-Anderson opened #252 "Fiddler shows all doc requests throw 404 requesting _static/js/modernizr.min.js"
Fire up fiddler then navigate to the docs. Every doc throws
GET http://docs.asp.net/en/latest/getting-started/_static/js/modernizr.min.js
404 OK (text/html)

[2015-05-19 12:18] #237 closed

[2015-05-19 18:39] ardalis commented on #57
Given the name of this article, shouldn't it also talk a bit about Startup.cs? Or should there be two articles, one that talks about Startup.cs and one that talks about the ASP.NET request pipeline?

[2015-05-19 19:10] danroth27 commented on #57
Absolutely! This article should really be all about Startup.cs.

Feel free to take my short outlines as a starting point and then evolve them as appropriate. I make no guarantee that they are complete :smile:

[2015-05-19 19:32] ardalis commented on #57
Awesome, thanks.

[2015-05-19 19:47] Rick-Anderson commented on #180
@danroth27  Customers that get a 500 error (which contains no information) will want to know how to add web.config. How about I put the information in Publishing and Deployment and add a link in the diagnostics "See deploying web.config to get detailed error messages".

[2015-05-19 21:58] HornerGrahame commented on #206
would be nice to have an example of how to create and register a custom IFileProvider. This would allow the community to develop FileSystem providers for cloud/nosql and other type of storage for content management.

[2015-05-20 03:45] GuardRex opened #256 "Publishing to a Windows Virtual Machine on Azure Topic"
@danroth27 @Rick-Anderson Hey guys, has http://docs.asp.net/en/latest/publishing/azure-windows-vm.html been assigned? ... If not, may I take a stab at it?

[2015-05-20 03:47] Rick-Anderson commented on #256
Doesn’t look like it. Go for it.

From: Luke Latham [mailto:notifications@github.com]
Sent: Tuesday, May 19, 2015 8:46 PM
To: aspnet/Docs
Cc: Rick Anderson
Subject: [Docs] Publishing to a Windows Virtual Machine on Azure Topic (#256)

@danroth27<https://github.com/danroth27> @Rick-Anderson<https://github.com/Rick-Anderson> Hey guys, has http://docs.asp.net/en/latest/publishing/azure-windows-vm.htm

[2015-05-20 03:51] GuardRex commented on #256
Thanks ... I'll have a draft PR tomorrow that we can take a look at.

[2015-05-20 04:34] danroth27 commented on #256
@GuardRex Thanks for offering to contribute! Before you do the work to submit a full PR it would be good to start off with an outline proposal. That way we can make sure we are on the same page on what content the article will contain.

[2015-05-20 05:19] GuardRex commented on #256
@danroth27 Sure thing ... rattling the key elements off the top of my head:

1. Brief abstract describing what will be covered
2. Bulleted list of topics
3. Topic 1: Local Environment Configuration (most notably installing Web Deploy)
4. Topic 2: Project Configuration (most notably the dependency on `Microsoft.AspNet.Server.IIS`)
5. Topic 3: Server/VM Configuration (most notably the presence of .N

[2015-05-20 05:29] GuardRex commented on #256
... oh ... and one more bit ... I'll add in a blurb on the Azure endpoint port mapping for the Web Deployment Agent Service (to port 8172) and VM firewall configuration to allow traffic on 8172 and link to those MSDN docs. I think it would be best if the docs don't assume that someone has any of this knowledge and needs links to walk-throughs on those topics.

[2015-05-20 23:29] digitaldrummerj opened #257 "Setting up Visual Studio to work behind a proxy"
If you are behind a proxy, before you can use bower or npm you need to configure the proxy settings for them. The article would go through the commands to run to configure the proxy settings and where the settings get stored to.

[2015-05-20 23:39] jglozano opened #258 "Dependency Injection Article"
I wanted to share some basics around Dependency Injection and share how it can be used out of the box as well with a 3rd party IoC container. It would be good to show the different ways to use the mainstream containers so people can easily use in their apps.

[2015-05-20 23:58] danroth27 commented on #256
Thanks! I'm working on trying to find someone with the right context to help review this content.

[2015-05-21 00:53] rustd commented on #73
Yes

[2015-05-21 00:53] #73 closed

[2015-05-21 00:53] rustd commented on #75
yes

[2015-05-21 00:53] #75 closed

[2015-05-21 01:37] GuardRex commented on #256
@danroth27 @Rick-Anderson I have an update:

Yes! The MSDeploy commands can be put into a batch file and triggered to run after a publish to the file system.

However, I'm checking with the team to see about the behavior of the `postpublish` script execution setting in `project.json` ... It's executing the script **before** it actually publishes the app to the `bin/output` folder ... no good for o

[2015-05-21 23:42] SergKanz opened #263 "In Application Insights article &deg; wasn't substituted"
@ardalis, http://docs.asp.net/en/latest/fundamentals/application-insights.html - first sentence has &deg; as plain text: development teams with a 360&deg; view across their live

[2015-05-22 04:05] ardalis commented on #263
Fixed.

[2015-05-22 04:05] #263 closed

[2015-05-22 04:08] SergKanz commented on #263
thank you!

[2015-05-22 22:24] vkichline opened #267 "Document NPM/Bower installation and settings"
The VS tooling private installation of npm and bower is intentional and beneficial, but hard to understand if not presented right. Document how and why these are installed as they are, and how to alter the settings for different scenarios.

[2015-05-23 16:43] #256 closed

[2015-05-26 06:25] mattcan opened #269 "Updating the Docker instructions when installing ASP.NET on Linux"
The docs I am speaking of: http://docs.asp.net/en/latest/getting-started/installing-on-linux.html#using-docker

The documentation for installing on Linux is great but the link to a blog post for getting a Docker environment setup is now outdated as it refers to **k** and **kvm**. It might make sense to transition most of the information into the ASP.NET documentation instead of having the blog upd

[2015-05-27 13:51] markrendle commented on #52
Is this actually possible right now (i.e. in beta4)?

[2015-05-27 16:40] ardalis commented on #59
Should I cover Feature Interfaces in this article, or link to another article on the topic? I'm thinking a section under Servers makes sense.
https://github.com/aspnet/HttpAbstractions/tree/dev/src/Microsoft.AspNet.Http.Features

[2015-05-27 17:24] danroth27 commented on #52
@markrendle  Absolutely! You can create the package from the command line using `dnu pack` or you can set the "Produce outputs on build" option in VS on the project's Build tab.

![produce-output-on-build](https://cloud.githubusercontent.com/assets/1874516/7842827/9488f5fc-045a-11e5-9d1c-ef47bd4434a5.png)

[2015-05-27 19:19] Rick-Anderson commented on #180
This info was added to diagnostics

[2015-05-27 19:34] Rick-Anderson opened #275 "How to Reference a DNX Project as Source from your Solution"
I'll use MVC 6 and DI in the example and show them how to debug source.

[2015-05-28 20:39] Rick-Anderson opened #276 "How to use DNVM DNX with VS15 never explained"
http://docs.asp.net/en/latest/mvc/views/view-components.html#run-ef-migrations shows how to use dnx - but this belongs in http://docs.asp.net/en/latest/getting-started/installing-on-windows.html  - installing on windows shouldn't assume you install VS15 and that's it - even with VS15 installed, you sometimes need dnx as my VC tutorial points out.

[2015-05-29 15:48] vkichline opened #277 "Need a client-side development article on operating behind firewalls"
VS Git/npm/bower operation behind firewalls is tricky and customer feedback is coming in about this.  We need an article about how to set up VS to use npm/bower package management features behind various firewall configurations.

[2015-05-29 16:42] tdykstra commented on #115
Given how much work this big tutorial series is to update, I thought we had planned on waiting until the EF and MVC bits are relatively stable (RTM) to update it.  Is the work for this issue going to create a small subset of the tutorial series?  A smaller intro tutorial might be a better fit for the prerelease time frame.

[2015-05-29 17:40] MikeWasson commented on #115
I'm writing a smaller tutorial - code is at https://github.com/aspnet/Docs/pull/247

There's plenty of other stuff to cover for MVC6 + EF7, I'm really just writing a basic "getting started".

[2015-05-29 17:42] tdykstra commented on #115
Perfect, just wanted to make sure since the intro to the issue had a link to the big series.

[2015-05-29 17:45] Rick-Anderson opened #278 "DNVM, DNX, and DNU - Understanding the ASP.NET 5 Runtime Options"
port over  http://typecastexception.com/post/2015/05/17/DNVM-DNX-and-DNU-Understanding-the-ASPNET-5-Runtime-Options.aspx - I'll work with John Atten.
@danroth27 let me know where you want this information then assign to me.

[2015-06-01 16:10] danroth27 opened #286 "Consider updating VS Tools for Docker link"
Consider using http://aka.ms/vslovesdocker instead of the hardcoded VS gallery link in the Docker publishing doc.

[2015-06-01 17:07] danroth27 opened #287 "Feedback on sociallogins.rst"
From @glen-84 in https://github.com/aspnet/Docs/pull/274:
1.There is a mix of "Create" and "Creating" (+ "Running" etc.) for the section titles, which could maybe be made more consistent.
2."Add your Site URL" is mentioned twice. The second time "Add" is also incorrectly capitalized.
3.You might want to mention hitting "Save Changes" on FB.
4."Set the Facebook AppSecret" shows using the AppId agai

[2015-06-01 22:05] MikeWasson opened #288 "The stub-notice include is broken in fundamentals/owin.rst"

[2015-06-01 22:09] danroth27 opened #289 "Investigate making contribute text on index pages a common include"
Currently all our doc projects can include contribute.txt from a common location _except_ for the ASP.NET project because it is a cross project link. We should investigate if we can use contribute.txt in the ASP.NET project too.

[2015-06-02 00:55] Rick-Anderson opened #290 "Feedback on environments.rst"
@ardalis How/Why would you use a web profile? (or provide a link).
What's the purpose of launchSettings.json? Is that how IIS Express reads env variables?
IHostingEnvironment  on first occurrence should be a link.
When the application is run with ASPNET_ENV set to Staging, this Startup class is used
Should be
When the application is run with ASPNET_ENV set to Staging, the StartupStaging class is u

[2015-06-02 01:08] Rick-Anderson opened #291 "Best practice on environments.rst"
@danroth27
We should provide some best practice guidance around when to use different Startup**ASPENV_ENV** classes and Configure**ASPENV_ENV**  and ConfigureStagingServices methods.

[2015-06-02 14:40] #212 closed

[2015-06-02 14:40] #70 closed

[2015-06-02 14:41] #34 closed

[2015-06-02 19:17] #136 closed

[2015-06-02 19:17] #94 closed

[2015-06-02 19:20] MikeWasson opened #292 "ASP.NET MVC -> Tutorials -> Create a SPA"
A tutorial that shows a SPA version of the same app shown in https://github.com/aspnet/Docs/issues/115, using Web API (aka MVC6) + angular.js

[2015-06-02 20:47] danroth27 opened #293 "Request Features"
ASP.NET 5->Fundamentals->Request Features
- Feature collection and relationship to HttpContext
- Feature collection mutability: added, removed, wrapped and replaced
- Created by servers **and** middleware
    - Servers own creating the collection
    - Middleware adds to the collection using `HttpContext.SetFeature<T>(feature)`
- Consumed by middleware and app code (see `HttpContext.GetFeature<T>(

[2015-06-02 23:25] danroth27 opened #294 "Migrating Message Handlers to Middleware"

[2015-06-03 04:15] danroth27 commented on #59
See the added details above. Because request features can be added by both servers _and_ middleware we should move the general discussion of request features to a separate topic (#293). This article should still include a discussion of the request features that the built-in servers provide and also how a custom server provides request feature implementations.

[2015-06-03 06:13] JoshVarty commented on #195
:+1:

I would love even just like a couple sentences about the design time host.

I am working on an application that must load/compile/emit ASP .Net 5 projects. Could someone help me understand how the design time host fits into this and works with project.json files?

Also is the design time host open source? I see aspnet/tooling/issues/9 mentions the design time host, but there's no source in t

[2015-06-03 16:22] danroth27 commented on #195
@davidfowl

Sounds like you want to do something similar to what the [OmniSharp](http://www.omnisharp.net/) folks are doing. OmniSharp is used by [Visual Studio Code](https://code.visualstudio.com/), so it's definitely worth a look.

[2015-06-04 18:43] Rick-Anderson commented on #125
@danroth27  Do you mind if I add links to the series at http://www.davepaquette.com/archive/2015/05/11/cleaner-forms-using-tag-helpers-in-mvc6.aspx on http://docs.asp.net/projects/mvc/en/latest/views/tag-helpers/index.html ?
Customers will have something useful on tag helpers.

[2015-06-04 18:52] danroth27 commented on #125
I'd rather not. Our official docs need to be authoritative, updated and persistent, while blog content is more point in time.

[2015-06-04 18:55] Rick-Anderson commented on #125
Our authoritative doc's have a section on other resources. We can't do everything. This is reminding me a lot of wikipedia. Maybe we can get discoverability by featuring the docs on the asp.net site (featured blogs).

[2015-06-07 13:04] glen-84 opened #298 "Feedback on accconfirm.rst"
1. Need to standardize on title casing vs regular casing for the section titles. (it's currently mixed)
2. The screenshots aren't cropped so well.
3. "Although this tutorial only..." should maybe be a note? Also, you may want to mention https://github.com/dotnet/corefx/issues/1006
4. "with the following highlighted changes" -- the changes are not highlighted.
5. The HTML code is indented with tabs

[2015-06-08 17:08] neil-119 commented on #52
When I published a project to Nuget, I got the following error:
*Failed to read the package file. Ensure it is a valid NuGet package with a valid manifest.*

Turned out the problem was that I had a blank description in project.json. It would be helpful if Visual Studio outputted a warning when "Produce outputs on build" is on but the required meta data is not available.

[2015-06-10 19:24] #115 closed

[2015-06-12 04:59] Rick-Anderson opened #303 "configuration.rst need security warning call AddEnvironmentVariables last"
@ardalis @danroth27
"Essentially, the last configuration source specified “wins” if a setting exists in more than one location."

Remove essentially, it's not essentially, it's actually. Then add a security note that AddEnvironmentVariables should always be called last because you want env variable to win.
@Eilon @blowdart  we need security approval of this assertion.

[2015-06-12 18:18] vossad01 commented on #57
I am not sure if this is the place to mention this, but I think some guidance/guidelines/intentions on what belongs in `ConfigureServices` versus `Configure` would be good.  The answer may be really simple, but I am struggling to see the right division myself at the moment.

For example with the MVC middleware, configuration is done in `ConfigureServices` and cannot be specified via a `UseMvc` ove

[2015-06-14 20:55] ntgraph commented on #72
Hi,
Please have also a documentation covering multiple models in a single view.  It is always easy to scaffold one model, one controller and all CRUD views, but there is time that one view will need to display one main model and some others models for a complete overall view.
I am looking forward to see such topic.
Thanks,

[2015-06-14 21:02] ntgraph opened #305 "Globalization and Localization and Internationalization"
Hi to all,
For each new .Net MVC version, there are plenty of tutorials.  But there seems to be lack on covering Globalization or i18n.  We, as new learner, needs some inspired tutorial on globalization with multiple language using resource file and a common switch (placed in header) and a routing rule such /localhost/en-us/controller/action by using a base controller....

Please add this topic to

[2015-06-15 16:12] Eilon commented on #303
That's not a security concern as far as I can tell. It's just a common practice. It's perfectly reasonable to have any config sources in any order. You might have the last one be an INI source for a file called `super_important_dont_override.ini` to ensure that even env vars won't override certain values.

[2015-06-15 17:29] alexsandro-xpt commented on #305
Good question, I'm wishing mobilize https://github.com/OpenNetBr to translate it to portuguese Brazil and can't found guidlines for that.

[2015-06-16 03:10] Rick-Anderson commented on #227
@danroth27 I could add this to my secrets article but then we'd be violating the separation of ASP.NET and Azure.

[2015-06-17 16:53] danroth27 opened #308 "Document how to use gulp-rev to handle static file versioning and caching"
https://github.com/aspnet/Mvc/issues/2666#issuecomment-112454805

[2015-06-17 20:24] luisrudge commented on #193
any news on that? :)

[2015-06-17 20:49] danroth27 commented on #193
@glennc

[2015-06-17 23:32] moozzyk opened #309 "Need a reference page for dnvm"
dnvm shows just a short description for each command. For some commands (setup, upgrade) it does not seem be enough. For instance I am missing information on scenarios when to use `dnvm setup` or  what is the difference between `dnvm install` and `dnvm upgrade` (seems like `dnvm upgrade` is kind of redundant - it just saves typing)

[2015-06-17 23:32] moozzyk opened #310 "Need a reference page for dnx"
We need a page that would contain a description for each command and each option

[2015-06-17 23:33] moozzyk opened #311 "Need a reference page for dnu"
We need a page that would contain a description for each command and each option

[2015-06-18 10:02] benmccallum commented on #308
Thanks guys :) Happy to contrib a start if I get time.

[2015-06-18 15:10] #64 closed

[2015-06-18 15:59] danroth27 commented on #308
Cool - we would welcome the contribution!

[2015-06-19 00:20] moozzyk commented on #309
Need a detailed explanation of the `<VersionNuPkgOrAlias>` parameter of the `dnvm install` command and the scenarios when it is useful.

[2015-06-20 03:32] #105 closed

[2015-06-20 03:32] #127 closed

[2015-06-20 03:32] #180 closed

[2015-06-20 06:33] GuardRex commented on #105
@Rick-Anderson If it's worth anything, you have my posts on my little battle to work something out until the new VS tooling makes publishing to IIS with WebDeploy sweet:

[Separate WebDeploy commands work](https://github.com/aspnet/Hosting/issues/141#issuecomment-95798368)
... the batch file that I'm using is below ... very simple. I call it from the PowerShell script that VS generated for my 'Pub

[2015-06-20 17:26] danroth27 commented on #105
@sayedihashimi

[2015-06-20 17:51] sayedihashimi commented on #105
@danroth27 is there a question here for me?

[2015-06-21 16:27] glen-84 commented on #305
[ASP.NET Localization](https://github.com/aspnet/Localization) is still in development. The MVC parts have not yet been written/integrated, as far as I know.

I would personally write custom middleware (or an [IRequestCultureProvider](https://github.com/aspnet/Localization/blob/5e1fb16071affd15f15b9c732833f3ae2ac46e10/src/Microsoft.AspNet.Localization/IRequestCultureProvider.cs)) to extract the cu

[2015-06-22 14:07] MisterJames commented on #53
@danroth27 I can do a start on this one if you like. Should I fork and start a PR?

[2015-06-22 14:07] #57 closed

[2015-06-22 15:24] Dantrech opened #313 "Little mistake on 'your-first-aspnet-application.rst'"
In 'Adding Server-Side Behavior', the example code show:

[code]

Follow the next image (http://docs.asp.net/en/latest/_images/server-behavior.png) it should be:

[code]

Or just update the image (because it's show the string 'Use this area to provide additional information.').

[2015-06-22 15:30] Dantrech opened #314 "ICompileModule missing reference on 'DNX Overview' (overview.rst)"
In 'Compile Modules' sections, 'ICompileModule' has a hyperlink to
https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Framework.Runtime.Roslyn.Interfaces/ICompileModule.cs

Url don't exists.

[2015-06-22 15:47] danroth27 commented on #53
Sure, that sounds great! The idea for this topic is to simply be a reference for the entire schema for project.json

[2015-06-22 16:05] MisterJames commented on #53
Sure, sounds good. What about the topic of project.lock.json, is this an appropriate place to provide an explanation of that as well?

[2015-06-22 17:53] danroth27 commented on #53
No, I think we should cover project.lock.json elsewhere (probably #50).

[2015-06-22 18:56] sayedihashimi commented on #105
FYI we have IIS support on the backlog, but it won't make if for the initial release of VS2015. Until then you can publish to a folder using File System and then transfer to your remote server.

[2015-06-23 01:37] GuardRex commented on #105
It's the "transfer to your remote server" that is the pain point. My suggestion has been to trigger WebDeploy commands from a script called by the PowerShell script that you have the option for in publish to Filesystem.

Using a script there also presents a good opportunity to execute some Gulp tasks before having your WebDeploy commands deploy but after compilation is complete (e.g., HTML minific

[2015-06-25 03:23] GuardRex opened #317 "XCopy over Web Deploy (MSDeploy) for publishing to IIS?"
I'm surprised you went the direction you did with [Publishing to IIS](http://docs.asp.net/en/latest/publishing/iis.html#xcopy-to-iis-server). Isn't XCopy going to be crazy slow because it's going to copy all of the files to the server every publish? Is that correct? That's what I read about it.

[2015-06-25 23:57] shaunluttin commented on #87
I have been considering contributing an article on the **Resource Owner Password Flow**. You can see the emerging sample project [here](https://github.com/bigfont/AspNet.Security.OpenIdConnect.Server/tree/bigfont/samples/ResourceOwnerPasswordFlow).  I've been dialoging with @PinpointTownes about it. It looks like @danroth27 may already be working on something like this. What do you all think about

[2015-06-26 05:01] danroth27 commented on #87
I think that would be great. I don't have anything in progress at this point so these topics are fair game. Do want to create an issue for the new topic and propose an outline?

[2015-06-26 16:18] shaunluttin commented on #87
Sure. I can create an issue and propose an outline. Thanks for getting back to me so quickly. I appreciate that.

[2015-06-26 16:36] shaunluttin opened #318 "RESTful, claims-based authentication without using external providers"
# The proposed article

The proposed article is particularly relevant to single-page applications and related RESTful clients (e.g. those that use AngularJS.) These apps often require access tokens for authorized access to multiple resource servers. Instead of relying totally on external providers, this article will explain how to create and consume access tokens using the apps own OpenID Connect

[2015-06-26 18:13] Rick-Anderson commented on #303
AddEnvironmentVariables should always be called last because you want env variable to win.
@Eilon @blowdart we need security approval of this assertion.
@blowdart  can you approve this message?

[2015-06-26 18:17] blowdart commented on #303
Yea, I would much rather see must because it makes it clearer ordering wins, and if you want the local config to win you MUST do it. You could clarify it a little to make it clear this is why it's a must?

[2015-06-26 18:18] Rick-Anderson commented on #303
@ardalis can you make this change. Also point to my secrets doc.

[2015-06-26 21:54] Rick-Anderson commented on #303
@Eilon @blowdart  Why don't we just fix the code. Throw if you config any source after environment - then we don't need to add the caveat - evn var wins **** assuming you've configured env last *****

[2015-06-27 18:27] Eilon commented on #303
That is very poor guidance in my view. There is *absolutely nothing special* about env vars. It's just another config provider. Why is it so important that env vars always win? Under what scenario is this important?

[2015-06-27 18:58] Rick-Anderson commented on #303
I was thinking config files are inherently insecure. I have a strong bias from the doc point of view - too many doc's assert that env vars win - and I can't monitor all the docs (to make sure they explain "env vars win when they are the last configured").
 I'll leave this to you and @blowdart

[2015-06-27 19:02] Eilon commented on #303
My comments are unrelated to security. You are correct that secure content shouldn't be stored in config files (for many reasons, including that they get checked into source control). But that's orthogonal to the config system and env vars.

[2015-06-30 00:05] natemcmaster commented on #72
This would be a good place to answer a common question: should I use DI on my controller to get an instance of my DbContext? or `using(var c = new DbContext())` within methods of the controller?)

[2015-07-02 15:34] ardalis commented on #293
Making progress on this - any examples you can offer for Middleware usage of Feautures/FeatureCollection?

[2015-07-03 16:46] marcosph commented on #88
Why  not authorize works when I add a role or claims. It only works when I do a logout and then a login. In this case, to make to operate automatically, that is, when I removes a role related to User he could not access the controller with the decorated authorize (Ex. [Authorize(Roles="Admin")])

[2015-07-06 04:38] GuardRex commented on #105
@Rick-Anderson I think publishing to IIS out of VS deserves more attention than you gave the issue in your doc on the topic. I suggest this guidance be improved and cover the issues I brought up in https://github.com/aspnet/Docs/issues/256.

[2015-07-06 06:24] Rick-Anderson commented on #105
Thanks! I’ll schedule a review.

From: Luke Latham [mailto:notifications@github.com]
Sent: Sunday, July 5, 2015 9:39 PM
To: aspnet/Docs <Docs@noreply.github.com>
Cc: Rick Anderson <Rick.Anderson@microsoft.com>
Subject: Re: [Docs] Publish to IIS (#105)

@Rick-Anderson<https://github.com/Rick-Anderson> I think publishing to IIS out of VS deserves more attention than you gave the issue in your doc on

[2015-07-06 06:30] Rick-Anderson commented on #105
@GuardRex  - You have some great suggestions. We're starting to remove Azure content from the docs - Azure content will live elsewhere. We also don't want the article too long or complicated. Maybe you could give me an outline of the changes you'd like to see.

[2015-07-06 10:58] rubenprins commented on #105
@Rick-Anderson, I think the main issue that really deserves way more attention is the fact that neither MSDeploy nor XCopy will work in the wild as it is. Because ASP.NET 5 *will* lock files, publishing *will* usually end up with "file is in use" errors, unless you're publishing an application that is new or is never used. (https://github.com/aspnet/dnx/issues/1068, https://github.com/aspnet/Hosti

[2015-07-06 13:24] GuardRex commented on #105
&

Yeah, well, I never said I was trying to "prevent file locks." What I'm trying to do is work around the long-standing general issue of file locks in IIS with MSDeploy and the specific case for this file lock I'm seeing over and over with .NET 5 apps in IIS. What I posted **does** work, and I am "in the wild." I use it daily ... as I show. Are you talking about some other file lock(s) other than

[2015-07-06 13:40] rubenprins commented on #105
@GuardRex, Sorry, I missed the `recycleMode="StopAppPool"`, so I take that point about your script back. It's still an awful hack though, that should be handled by the tooling by default, and indeed does not work for XCopy or file sync deployment at all.

We currently use a file sync job for IIS, regardless of technology (ASP Classic, ASP.NET, PHP, etc.) which works like a charm to keep all our se

[2015-07-06 13:59] GuardRex commented on #105
I agree. It's rough as hell. I just know I would be pulling my hair out if I didn't have some kind of MSDeploy working for me.

[2015-07-06 18:43] jods4 commented on #37
Here's a use-case close to MS. Right now I try to use ASP.NET 5 on top of .net 4.5.2 but with EF6, since EF7 is looking to not be production-ready for a long while. Try to use and Oracle provider.

Now you're in a very bad place. EF6 insists on using DbProviderFactories and the classes that could reconfigure that are internal. DbProviderFactories cannot really be registered any other way than with

[2015-07-06 20:27] #62 closed

[2015-07-07 02:48] davidfowl commented on #37
There's really 2 questions here with deepest to migration, The .NET Framework story and the .NET Core story. For .NET Framework, we'll try to be as compatible as possible so the libraries "just work". For .NET core libraries can't depend on configuration manager because there is none. They'll need to resort to their own configuration file,  or better, take IConfiguration in their APIs.

[2015-07-07 08:55] jods4 commented on #37
@davidfowl Totally agree. For Core libs need to be adapted and since `ConfigurationManager` is not there they have to fallback to `IConfiguration` or whatever.

But for the full Framework the story is not great today. I had to rely on a dirty hack using private reflection to reset the internal `ConfigurationManager` state and load `web.config` (as I said, the goal was to configure an Oracle `DbPro

[2015-07-07 09:17] davidfowl commented on #37
I just filed this bug https://github.com/aspnet/dnx/issues/2194

[2015-07-07 17:08] andresmoschini commented on #228
Hi @danroth27, is there any update on it?

Following http://docs.asp.net/en/latest/fundamentals/environments.html I understand that it is possible and simple to determine environment at runtime.

But, I would like to deploy only the right configuration for each environment, is it possible?

cc: @abriscioli

[2015-07-07 17:20] danroth27 commented on #228
@sayedihashimi Do we have any notion of environment specific deployment at this point?

[2015-07-07 18:58] natemcmaster opened #323 "Explain TFMs"
Target framework monikers are not documented yet. We should explain the subtleties in `dnx451` vs `net451`, `netcore50` vs `dotnet` etc. Currently, this is information is only available by parsing [blog posts](http://oren.codes/2015/06/09/pcls-net-core-dnx-and-uwp/).

[2015-07-07 19:03] Eilon commented on #323
I'm pretty sure this is planned to be covered in the .NET docs. @danroth27 @richlander @davidfowl

[2015-07-07 19:08] csharpfritz commented on #323
We're writing this document now.. more details coming before release

Jeff

On Tue, Jul 7, 2015 at 3:03 PM, Eilon Lipton <notifications@github.com>
wrote:

[2015-07-07 21:48] natemcmaster commented on #323
Looking forward to it.

It would still be useful for the ASP.NET docs to link to the article (when complete)

[2015-07-07 23:25] Eilon commented on #323
For sure!

[2015-07-08 08:14] noelitoa opened #324 "Page not found on "View or download sample from GitHub" link on your-first-aspnet-application.html"
Page not found on "View or download sample from GitHub" link. Link is pointing to https://github.com/aspnet/Docs/tree/master/docs/tutorials/your-first-aspnet-application/sample. Should be https://github.com/aspnet/Home/tree/dev/samples ?

[2015-07-08 13:04] #324 closed

[2015-07-08 21:17] danroth27 commented on #50
Webroot should probably covered in ASP.NET hosting instead of in this topic

[2015-07-08 21:43] danroth27 commented on #199
Covered by #50

[2015-07-08 21:43] #199 closed

[2015-07-08 21:44] danroth27 commented on #50
Working with DNX Projects
- Creating a new project
- Targetting frameworks
- Adding dependencies
	- Package dependencies
		- Installing using dnu
	- Assembly references
	- Project references
		- Using global.json for project discovery
	- Refencing non-DNX projects (using VS)
	- Per framework dependencies
- Restoring packages
	- dnu restore
	- Project lock file
	- Specifying an alternative packages

[2015-07-09 17:29] danroth27 opened #326 "Remove gulp content from the grunt and gulp article and instead link to the new gulp article"
We are working on splitting out the gulp content here: https://github.com/aspnet/Docs/pull/307. We will also need to pull out the gulp content from http://docs.asp.net/en/latest/client-side/grunt-gulp.html and instead link to the new article.

[2015-07-09 17:29] danroth27 commented on #326
@ardalis Can you take care of this as part of merging #307?

[2015-07-09 18:05] BrennanConroy opened #328 "SecretManager rename"
SecretManager package has been renamed to Microsoft.Framework.SecretManager. So the new way to install it is ```dnu commands install Microsoft.Framework.SecretManager```

[2015-07-09 18:25] ardalis commented on #326
@danroth27 will do

[2015-07-09 20:38] ardalis commented on #326
@danroth27 I'm going to merge #307 first, then branch from master with that article and update the original.

[2015-07-09 20:57] danroth27 commented on #326
Sounds fine.

[2015-07-09 21:43] ardalis commented on #326
Done. The Grunt content may need a refresh to adjust to beta 5 and/or the release version of VS2015, but with this PR it's organized properly.

[2015-07-10 05:45] Eilon commented on #328
@BrennanConroy can you send a PR to fix that? I think it's mentioned in only a couple of docs.

[2015-07-10 13:41] #59 closed

[2015-07-10 14:04] #326 closed

[2015-07-10 15:33] #17 closed

[2015-07-10 15:34] #181 closed

[2015-07-10 17:44] styfle commented on #101
I am interested in how ASP.NET 5 will handle bundling and minification.
Do you plan on sticking with the [MVC](http://www.asp.net/mvc/overview/performance/bundling-and-minification) solution of storing the bundle in memory during release builds or adopting the new [Web Essentials](http://vswebessentials.com/features/bundling) solution of `.bundle` files that minify upon saving?

Forgive me if this

[2015-07-11 04:33] weinong opened #337 "Handling secrets on Azure"
it would be nice to explain the best practice to handle secrets on Azure.
One way to do that I think is through environment variable which can be defined in the app settings on Azure portal.

[2015-07-13 19:13] Rick-Anderson commented on #337
@weinong I agree, however we need to be careful and not show an Azure bias on ASP.NET 5. If @danroth27 approves, I can add an Azure section.

[2015-07-13 19:17] Rick-Anderson commented on #328
@BrennanConroy @Eilon  I'll do a PR on http://docs.asp.net/en/beta5/security/app-secrets.html - That's the critical doc.

[2015-07-14 05:02] BrennanConroy commented on #328
If we're updating every milestone then this is for beta6

[2015-07-14 21:21] LorenDorez commented on #72
This might be a good place to talk about connecting EF to an existing DB as everything ive been reading says its only using CodeFirst Approach

[2015-07-15 14:16] gusennan commented on #125
This would be great.  Until there is documentation on this, is there a way you could recommend that early adopters can find out which tag helpers are available on which elements?  Looking through source could be acceptable at this time...

[2015-07-15 15:44] edotassi opened #340 "NuGet.config wrong file name"
On "Installing on Linux" page the file name of Nuget configuration is wrong because the first letter of the extension ".config" must be uppercase like "NuGet.Config"

[2015-07-15 15:47] danroth27 commented on #125
The in the box taghelpers can be found here: https://github.com/aspnet/Mvc/tree/dev/src/Microsoft.AspNet.Mvc.TagHelpers

[2015-07-15 16:23] GuardRex commented on #125
@danroth27 :-1:

Not being an employee of Microsoft or among the elite outsiders and producing "authoritative, updated and persistent" documentation should not be mutually exclusive concepts, and just because documentation is "authoritative, updated and persistent" doesn't mean that it explains concepts clearly or describes good process.

I wish you would let @pnewhook write his draft and compare

[2015-07-15 16:42] danroth27 commented on #125
@GuardRex I think you misunderstand me! The whole reason we made our docs open source was to allow for contributions from anyone in the community. _Anyone_ is welcome to contribute. If @pnewhook wants to contribute this topic then he is more than welcome to do so! My comment was more about not wanting to lean on blog posts for our official docs. Community blog posts are great and we are happy to r

[2015-07-15 18:31] GuardRex commented on #125
@danroth27 I did misunderstand you ... I thought that "authoritative, updated and persistent" could be equally applied to the reason for denying @pnewhook the opportunity to primary author the Tag Helpers documentation. I have the impression that we (people in the community) shouldn't confuse "contribute" with "primary authorship." It's just an impression; that's all it is.

[2015-07-15 22:39] danroth27 commented on #125
In general anyone can be the primary author for a proposed topic. We can certainly use the help! But we also want to respect everyone's time and avoid duplicate effort. This was really my bad for not assigning this issue to @DamianEdwards earlier.

[2015-07-16 00:53] Rick-Anderson commented on #112
completed

[2015-07-16 00:54] #112 closed

[2015-07-16 00:54] #111 closed

[2015-07-16 00:55] #93 closed

[2015-07-16 13:54] #140 closed

[2015-07-17 17:59] #293 closed

[2015-07-17 21:32] jjmartin commented on #194
i'd love any hint on this ASP.net 5 on nano or ASP.net 4.x

i've got a nano-server running but its not clear to me even if its running IIS - i don't see an option to add a web server...

our current deploy doesn't work even tho its using WinRM - the current script we have does a Get-WmiObject call and that doesn't work (ConDep) so thats out.

[2015-07-21 18:42] erandros opened #344 "docs.asp.net has no sphinx theme"
Like this.
http://imgur.com/Aw9Qi4y

[2015-07-22 18:25] JerryPierre opened #345 "Dependencies - not installed"
Using Visual Studio 2015 Enterprise TRM on Windows 8.1

on step 12.Save the bower.json file.

I adding "jquery": "2.1.3", "bootstrap": "3.3.2" and saved it but I get "Dependencies - not installed"
![image](https://cloud.githubusercontent.com/assets/1745045/8832781/ce235114-305f-11e5-9f23-5e967a149112.png)

So the bower_components directory was not created but without running Task Manager both Jque

[2015-07-23 14:09] ardalis commented on #109
What about Session? https://github.com/aspnet/Session We don't have an issue to cover it, either.

[2015-07-23 16:48] ardalis commented on #63
Can I get some additional TOC detail for this one? I figure I should cover the built-in logging interfaces and implementations, as well as how to wire up a custom one (e.g. log4net). Anything else?

[2015-07-23 22:30] raquelsa opened #349 "New Topic Proposal: Client-Side Development -> Visual Studio Extensibility -> Task Runner Explorer"
This topic will describe how to get started on writing a Task Runner Explorer extension and will point to code samples from our Grunt and Gulp extensions.

[2015-07-25 21:29] dvalishvili1 commented on #45
this can be great introduction https://developer.mozilla.org/en-US/docs/Web_Development/Introduction_to_Web_development

[2015-07-25 21:52] GuardRex commented on #45
Another candidate link for such a section might be http://www.w3.org/standards/webdesign/

[2015-07-27 15:45] Rick-Anderson commented on #229
This is a high priority request.

[2015-07-27 16:42] Rick-Anderson commented on #345
@JerryPierre   step 12 of what doc?

[2015-07-27 19:39] danroth27 commented on #63
@lodejard Please review the updated outline above and provide any additional guidance that you think should be added.

[2015-07-27 19:42] danroth27 commented on #63
@lodejard We have guidance published at https://github.com/aspnet/Logging/wiki/Guidelines. Is this guidance still accurate?

[2015-07-28 01:35] rhires opened #350 "Mac OS X dnvm script needs to come across as executable"
For the Mac OS X instructions, the curl script brings the dnvm.sh file, but doesn't make it executable. I had to chmod +x the file for 'dnu restore' to fire properly. I'm not sure we want to add that instruction or not.
Also, after running

     curl -sSL https://raw.githubusercontent.com/aspnet/Home/dev/dnvminstall.sh | DNX_BRANCH=dev sh && source ~/.dnx/dnvm/dnvm.sh

I was prompted to run the fo

[2015-07-28 19:59] thebeebs commented on #45
There is an on going effort at http://webplatform.org for this sort of thing.

[2015-07-28 21:07] MisterJames commented on #323
@Eilon @csharpfritz Any progress here? I'm not having much luck getting dnx46 to work, which I expected in the release of Beta6 (details here: https://github.com/aspnet/dnx/issues/2365)

[2015-07-28 22:04] Eilon commented on #323
@MisterJames we have a guy looking at the DNX issue you mention.

Regarding the basic concept of these TFMs, `dnxXY` are DNX targets for .NET Framework X.Y, and `dnxcoreXY` are DNX targets for .NET Core (CoreCLR), which currently there's only a `50` version.

ASP.NET 5 requires DNX targets.

[2015-07-28 22:06] MisterJames commented on #323
Thanks @Eilon, I'm still digging. I closed 2365 in favor of an easier repro at https://github.com/aspnet/dnx/issues/2367

Let me know if there's anything you need from my end.

[2015-07-30 07:06] danroth27 opened #352 "Add links to EF docs"
http://ef.readthedocs.org/en/latest

[2015-07-30 14:59] #71 closed

[2015-07-30 17:24] danroth27 opened #353 "Update Diagnostics to beta6"

[2015-07-30 17:26] danroth27 opened #354 "Update Servers to beta6"

[2015-07-30 21:05] jderus opened #357 "Conceptual Overview: Scripts Section: Consider linking to doc on order of events"
It is fairly easy to figure out the full list from VS. But without a bunch of work, I cannot see the order or purpose of the different events available in the scripts section of projects.json.

My proposal is in the Conceptual Overview section, link to a page on further information.
Specifically a description of each possible event, and a visual timeline on the order in which they happen.

[2015-07-31 06:39] Daniel15 opened #364 ""Publishing and Deployment" section needs more details on non-VS methods"
The pages at http://docs.asp.net/en/latest/publishing/index.html and http://docs.asp.net/en/latest/publishing/iis.html are a good start, but this section needs more information on how to publish a site without using Visual Studio, for example, from a build script, build machine, or a giant "deploy the site now" button. I don't think deploying directly from Visual Studio is a very common use case f

[2015-07-31 18:24] danroth27 opened #365 "Built-in MVC Tag Helpers"
Instead of writing an article per built-in tag helper we want to cover the tag helpers in scenario focused docs. Here's the plan:

1.	Add a list of the built-in tag helpers list to “Intro to Tag Helpers” doc that link to the corresponding sections of the appropriate scenario focused articles (#1025)

2.	Cover the build-in tag helpers in scenario focused articles as follows:

    MVC -> Views/Contr

[2015-07-31 18:50] GuardRex commented on #364
Web Deploy (MSBuild) works if you keep a few 'gotchas' in mind, and it can run entirely outside of VS via a plain 'ole Powershell script or batch file. My use case was for a staging VM in Azure, but it would work anywhere for IIS ... Azure or on-prem. Here are some references:

https://github.com/aspnet/Home/issues/452#issuecomment-93011639
https://github.com/aspnet/Docs/issues/105

[2015-07-31 22:45] danroth27 commented on #258
#24

[2015-07-31 22:45] #258 closed

[2015-07-31 22:46] danroth27 commented on #258
Thanks for the suggestion! We have an article in progress on this topic.

[2015-08-01 05:11] Daniel15 commented on #61
I know this is probably the wrong place to ask, but does ASP.NET 5 support attribute routing (ie. defining routes as attributes on the controllers/actions rather than in one giant config file)?

[2015-08-01 05:24] davidfowl commented on #61
yes

[2015-08-01 09:22] Daniel15 commented on #61
Oh cool, thanks! I'm currently using MVC 4, I didn't realise that attribute routing is actually built into the framework starting from MVC 5 (and MVC 6 has the same attributes)

[2015-08-03 18:54] danroth27 opened #371 "Document routing conflicts with various IIS features"
Routes with dots generally have issues with static file handling
Routes with "unsafe" characters get rejected by IIS

[2015-08-03 21:11] uwbadgerdev commented on #133
Any status update on when this will be written?

[2015-08-03 21:49] danroth27 commented on #133
Not yet - it's still on the backlog.

[2015-08-05 01:29] TomArcher commented on #354
This is completed

[2015-08-05 01:29] #354 closed

[2015-08-05 10:23] AndybSe commented on #205
need a contributor for this one?

[2015-08-05 19:08] moozzyk opened #374 "Document servicing"
We need a detailed documentation on how servicing works. This is especially needed when:
- the customer is using the `DNX_SERVICING` variable to take servicing over
- the customer is deploying an application to a machine (e.g. a production server) where they will not install Visual Studio or the MSI that would prepare the machine for servicing)
- when we support servicing on non-windows boxes

Som

[2015-08-06 19:36] uwbadgerdev commented on #133
Hi Dan. Thanks for the update.

[2015-08-12 23:28] shanselman opened #379 "Tutorial is invalid because ProcessInfo is internal"
It seems like this tutorial is not valid? http://docs.asp.net/en/latest/tutorials/your-first-aspnet-application.html#adding-client-side-behavior

ProcessInfo appears to be internal. Can this be fixed?

[2015-08-13 00:41] shanselman commented on #379
Ok, I get it now. Steve used his own class that he called ProcessInfo that conflicts with the internal one. It's not intuitive.

[2015-08-14 03:20] Daniel15 commented on #364
I figured out that `dnu publish` does most of what I need - I can just publish into a temp directory, then rsync that to my remote server.

[2015-08-14 03:24] Daniel15 commented on #379
Also, building HTML through string concatenation is really not a good idea:
[code]

The very first tutorial a user sees probably shouldn't encourage bad practices, such as shadowing built-in class names or building HTML through string concat :)

[2015-08-15 11:55] devlux commented on #184
That did the trick for me on linux! Thank you for that hint @juzzbott ! :-)

[2015-08-17 01:15] ardalis commented on #379
I could see renaming ProcessInfo to ProcessInfoViewModel perhaps, since it does conflict with an existing framework type, @shanselman.

As for the HTML, @Daniel15 would you prefer to see DOM manipulation or a dependency on a particular framework or what? Building the HTML wasn't the primary goal of the demo, so the string approach seemed the simplest without adding more moving parts or complexity

[2015-08-17 01:21] Daniel15 commented on #379
Vanilla DOM is probably best, something like:
[code]
I didn't test this, but something similar to this should work fine.

(also your C# is indented with spaces but the JavaScript is indented with tabs)

[2015-08-18 16:02] RichiCoder1 opened #385 "`dnx . run` is no longer valid"
See https://github.com/aspnet/Announcements/issues/52

The documentation currently says to use `dnx . run` rather than just `dnx run`.

[2015-08-18 16:54] pranavkm commented on #117
cc @ssargent

[2015-08-19 05:39] danroth27 commented on #314
Merged in fix: c292ca0e015efe8d6a9bbdfd664fa313867097a6

[2015-08-19 05:39] #314 closed

[2015-08-19 17:22] danroth27 opened #388 "Update Your First ASP.NET app article to use EF7 and highlight more tooling features"
We want to:
- Highlight more of the cool stuff in ASP.NET 5 and the VS tooling (project.json IntelliSense, resolving packages using ctrl-., searching the package graph in the solution explorer, publishing to the cloud, edit-save-F5 (already there), debug profiles, running commands, etc.)
- Include data access in this initial tutorial
- Provide more links to more detailed topics
- Leave the user fe

[2015-08-20 17:18] easyt opened #390 "Create Article to Show How to Run a DNX Application as a Windows Service"
Damian Edwards told us, on the ASP.NET Community Standup this week, to post this issue. There should be an article describing how to run a DNX application (and subsequently ASP.NET 5) as a Windows service.

This is a use case for headless Windows services that need to expose an admin UI and choose to so though a web interface. We currently run our admin site for within our Windows service through

[2015-08-20 17:27] #379 closed

[2015-08-21 13:00] martinkearn opened #391 "Middleware for clientCache, doDynamicCompression and doStaticCompression"
Are there any existing (or plans to write) middleware components so that the three concepts in the title can be used in ASP.net 5 via startup.cs?

In 4.5 i could do this:

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent><urlCompression doStaticCompression="true" doDynamicCompression="true" />

I appreciate that these are

[2015-08-21 17:56] SpaceShot commented on #245
I have been doing this in VirtualBox with Ubuntu desktop and currently working on CentOS (got DNVM/DNU/DNX going but dnu restore keeps timing out).  Is there any value in documenting VirtualBox.

The problem I've had with Hyper-V is that Ubuntu / HyperV has a known issue when you are on a wireless network (don't know the root cause, but found others with the problem).  Unfortunately, my home netwo

[2015-08-21 19:39] SpaceShot opened #394 "Complete Linux docs to install dnvm on CentOS"
I want to help update the docs to display these minor changes for CentOS (mostly package management).  I would like to discuss what the expectation is for a baseline install.

Also, disclosure:  Linux newbie who is learning this because of aspnet.  Comments welcome.

#### CentOS 7 with GNOME desktop

I'm working on a CentOS 7 install now where I installed with the GNOME environment selected.  (Use

[2015-08-22 02:06] SpaceShot commented on #245
I think I was a little confused.  The problems I had were on Windows Server 2012 R2.  But on Windows 10 Hyper-V, Ubuntu is installing just fine and using a wireless network fine.  I am going to make sure this all works and then start documenting the process.

[2015-08-24 13:30] SpaceShot commented on #394
Update:
I have a script that works for me on CentOS 7 (a VirtualBox guest).  During CentOS install I only select the GNOME desktop environment and turn on networking.

Once the box comes up, I do kickstart the software updater can go to work (what I've found is that it has some process that is using yum and locks it, so I couldn't start the script right off... not seeing this on Ubuntu desktop).

[2015-08-25 12:44] atrauzzi commented on #117
Is there going to be any way to create route configuration files that point directly to controllers?  There still seems to be quite a heavy focus on attribute routing.  [This ticket](https://github.com/aspnet/Mvc/issues/2486) explains some of the things I'd hope to see made available.

[2015-08-25 19:39] danroth27 opened #397 "Clarify what the location of webroot means"
Originally submitted by @visualstuart in https://github.com/aspnet/Docs/pull/395

In the conceptual overview:

This section would be improved with some further clarification. What is the meaning of "the root location", especially the term 'location'? Is this referring to a concept in the Solution Explorer in Visual Studio, a folder in the file system during development or when hosted? If this is t

[2015-08-26 16:46] sanecito opened #399 "No documentation about deploying ASP.NET for "Debian, Ubuntu and derivatives""
Documentation is provided on how to install Mono and its dependencies and other required components at:

 http://docs.asp.net/en/latest/getting-started/installing-on-linux.html?highlight=mono#installing-on-debian-ubuntu-and-derivatives

However, there is no documentation about deploying ASP.NET after everything is installed on the aforementioned page or on the deployment page (http://docs.asp.net/

[2015-08-26 20:30] #109 closed

[2015-08-26 20:30] #50 closed

[2015-08-26 21:24] SpaceShot commented on #399
I am willing to add this documentation if needed.  I did use it as inspiration for this blog post and the automated script I developed.  The Ubuntu script, imho, is in good shape (but there is some tinkering I do want to do).

I don't speak for the aspnet team of course and there may be a very good reason they stop at dnvm installation.

[2015-08-26 22:20] shirhatti commented on #399
This seems to be a duplicate of https://github.com/aspnet/Docs/issues/106
We are currently working on a production guidance for Linux and I hope to have PR out soon.

@SpaceShot Feel free to review and give feedback on the PR that I will put out soon

[2015-08-26 23:04] sanecito commented on #399
Yeah, it does look that way, sorry for the duplicate issue; didn't see it when searching. Feel free to close it and label it as a duplicate.

@SpaceShot I actually think I may go the Docker route. When I heard about .NET going open source last year all of the articles I read Mono was named dropped in, so I figured when I came to a project recently that required writing an ASP.NET app which would b

[2015-08-27 18:22] easyt commented on #390
Here is a follow up articles that builds on the one above and shows how to host ASP.NET 5 with static files and MVC 6 in a Windows service: http://taskmatics.com/blog/host-asp-net-in-a-windows-service/

[2015-08-27 22:07] Erikre commented on #388
Here are the updated sections along with new title for the topic:

Title: Your First ASP.NET 5 Web App Using Visual Studio
•	Overview
•	Audience
•	What you’ll learn
      o	How to create a new ASP.NET 5 project.
      o	The file structure of the project.
      o	How to run the project in Visual Studio.
      o	The different features of the default ASP.NET 5 application.
      o	Some basics about h

[2015-08-27 23:39] danroth27 opened #401 "Update main index with beta7 notification"

[2015-08-27 23:40] danroth27 opened #402 "Update Installing on Windows with links to beta7 tooling installer"

[2015-08-27 23:45] halter73 commented on #184
I can also reproduce this issue on Mono version 4.0.3 on OS X.

We should update both the Mac and Linux docs to include the `mozroots --import --sync` step.

We should probably also update [the getting started github wiki](https://github.com/aspnet/Home/wiki/Getting-Started-Prerequisites-for-Debian,-Ubuntu-and-derivitives) since we are still linking to it from https://github.com/aspnet/home.

With

[2015-08-28 00:18] shirhatti commented on #399
Here is the PR I promised.
https://github.com/aspnet/Docs/pull/403

I am closing the issue since it is a duplicate

[2015-08-28 00:18] #399 closed

[2015-08-28 01:44] rhires opened #404 "CSS of the docs.aspnet.com website change?"
I am dismayed at the new styling of the docs.aspnet.com/latest - I much prefer the blues and other look and feel before the most recent styling change. Can we have that back?

[2015-08-28 08:56] Anderman opened #405 "_ValidationScriptsPartial.cshtml has wrong validation test. JQuery and not jquery"
[code]
[code]

[2015-08-28 21:18] danroth27 commented on #10
Done, see http://docs.asp.net/projects/mvc/en/latest/migration/migratingauthmembership.html

[2015-08-28 21:18] #10 closed

[2015-08-28 21:20] danroth27 commented on #20
We will revisit the docs for SignalR once we have release plans for SignalR 3.

[2015-08-28 21:20] #20 closed

[2015-08-28 21:25] danroth27 commented on #45
We've decided existing content on the Web (ex w3Schools) is sufficient for this level of intro content.

[2015-08-28 21:25] #45 closed

[2015-08-28 21:34] danroth27 commented on #72
We could base this on http://www.asp.net/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application

[2015-08-28 21:37] danroth27 commented on #98
Let's do this as a blog post + sample

[2015-08-28 21:37] #98 closed

[2015-08-28 21:44] danroth27 commented on #292
We have a bunch of client-side articles that we think are sufficient.

[2015-08-28 21:44] #292 closed

[2015-08-28 21:59] danroth27 commented on #104
Might be able to use some stuff from http://azure.microsoft.com/en-us/documentation/articles/web-sites-publish-source-control/, but need to add ASP.NET 5 app specifics.

[2015-08-28 22:09] danroth27 commented on #117
Some existing content we might leverage:  http://www.asp.net/web-api/overview/web-api-routing-and-actions/attribute-routing-in-web-api-2

[2015-08-28 22:25] danroth27 commented on #405
Looks like this is fixed in the latest templates. Let us know if you still see places where the wrong casing is used.

[2015-08-28 22:25] #405 closed

[2015-08-28 22:26] danroth27 commented on #404
We are open to suggestions on how to make the styling better, but we want to have consistent styling across the ASP.NET properties.

[2015-08-28 22:26] #404 closed

[2015-08-28 22:30] danroth27 commented on #397
Make sure the language is consistent in the static file middleware topic.

[2015-08-28 22:33] danroth27 commented on #394
@glennc Can you take a look at these proposed steps?

[2015-08-28 22:36] danroth27 commented on #391
Not sure. @Tratcher do you know?

[2015-08-28 22:37] danroth27 commented on #390
Sounds good. We would also welcome a PR on this one.

[2015-08-28 22:39] danroth27 commented on #374
Duplicate of #196.

[2015-08-28 22:39] #374 closed

[2015-08-28 22:40] danroth27 commented on #196
Lot's of good stuff in #374

[2015-08-28 22:41] danroth27 commented on #364
Yup, we should cover a full workflow for publishing to Linux/Docker.

[2015-08-28 22:44] danroth27 commented on #357
See http://docs.asp.net/en/latest/dnx/projects.html#scripts and let us know if you still have questions.

[2015-08-28 22:44] #357 closed

[2015-08-28 22:45] danroth27 commented on #61
We should probably also mention common conflicts with routing and IIS:
- Routes with dots generally have issues with static file handling
- Routes with "unsafe" characters get rejected by IIS

[2015-08-28 22:46] danroth27 commented on #371
Let's do this as part of https://github.com/aspnet/Docs/issues/61

[2015-08-28 22:46] #371 closed

[2015-08-28 22:47] danroth27 commented on #353
b05b4df3e7f23b99226f5f192c16ede008822b0f

[2015-08-28 22:47] #353 closed

[2015-08-28 22:49] danroth27 commented on #352
Add it to the Frameworks list under aspnet/frameworks/index.rst.

[2015-08-28 22:51] danroth27 commented on #349
@madskristensen Do you want this to live on docs.asp.net or on your VS site?

[2015-08-28 22:54] danroth27 commented on #345
http://docs.asp.net/en/latest/client-side/bower.html

[2015-08-28 22:57] danroth27 commented on #344
Seems to be working fine now - let us know if you are still seeing issues with the theme.

[2015-08-28 22:57] #344 closed

[2015-08-28 22:57] danroth27 commented on #340
Fixed.

[2015-08-28 22:57] #340 closed

[2015-08-28 22:59] danroth27 commented on #337
http://docs.asp.net/en/latest/security/app-secrets.html

[2015-08-28 22:59] #337 closed

[2015-08-29 00:33] atrauzzi commented on #117
@danroth27 - I meant, *not* using attribute routing.  _"route configuration files that point directly to controllers"_.

Attribute and in-code routes are a somewhat dated practice compared to what other mature frameworks out there are doing.

[2015-08-29 02:58] juntaforce opened #406 "ASP.NET 5 -> Migration -> Migrating from ASP.NET Identity 2.x to 3.x"

[2015-08-29 04:19] TomArcher commented on #60
http://docs.asp.net/en/latest/fundamentals/static-files.html

[2015-08-29 04:19] #60 closed

[2015-08-29 07:52] davidfowl commented on #117
This is about documenting the existing features. Use that ticket to further ask for things but this issue isn't  about adding new features.

[2015-08-29 14:58] SpaceShot commented on #394
I have been working on my script, and here is the current state:
https://gist.github.com/SpaceShot/bc9c5c18d63a20bcae56

I want to clarify a few things.  I am doing more than just getting dnvm going.  After that I proceed to make sure I can generate a project (via yeoman) and that I can run it.  I am not proposing that the docs should do this.  The main exercise in this issue is to put something d

[2015-08-30 14:32] dimaaan opened #407 "Rename all mention of bundleExclude to publishExclude in project.json"
There are several places in samples and screenshorts mention 'bundleExclude':
https://github.com/aspnet/Docs/search?utf8=%E2%9C%93&q=bundleExclude
See
https://github.com/aspnet/Home/issues/610
https://github.com/aspnet/dnx/issues/1474
for details.

[2015-08-30 14:41] davidfowl opened #408 "Version documentation"
Add branches that represent releases `1.0.0-betaN` and start to make changes in each branch to reflect API and other changes that are specific to that release.

[2015-08-31 07:41] BerndtH commented on #364
Please cover even a full workflow for publishing to Windows IIS with user-secrets.
The answers of the following questions should be dokumented.

Are the user-secrets only for development?
What happens when you deploy an application with external login providers like Facebook, Google or Twitter to a hosting provider running IIS 7.5?
The application still needs user-secrets in the production environ

[2015-08-31 14:47] jderus commented on #357
That looks great Dan! Thanks.

[2015-09-01 12:19] geertendoornenbal opened #411 "Is using a singleton in the Web API tutorial thread-safe?"
On the Web API tutorial (http://docs.asp.net/projects/mvc/en/latest/getting-started/first-web-api.html) it shows the injection as a singleton. However, the use of the dictionary is not thread-safe.

Am I missing something? Or is this tutorial showing bad practice..Because with multiple requests coming in at the same time, this could give problems..

[2015-09-01 15:40] paule96 opened #412 "Write the CentOS docs to install dnvm"
There are no doc for CentOS.
I want to write this little peace documentation.

The pull request is here: https://github.com/aspnet/Docs/pull/413

[2015-09-01 17:02] natemcmaster opened #414 "[ubuntu] fixing the 'missing libcurl' error"
A default installation of Ubuntu 14 does not have libcurl. `dnu restore` throws:

The docs should specify that Linux users also need `libcurl4-gnutls-dev`

[code]

[2015-09-01 17:03] natemcmaster commented on #414
/cc @danroth27 may be good to add to beta 7 release notes

[2015-09-01 17:27] danroth27 commented on #414
Update instructions in PR here: https://github.com/aspnet/Docs/pull/410. Added note with prereqs for running on .NET Core.

[2015-09-01 17:31] natemcmaster commented on #414
Closing as a dup.

[2015-09-01 17:31] #414 closed

[2015-09-01 17:35] MikeWasson commented on #411
Yeah - it should be a concurrent dictionary. Also I think it should be registered as "Scoped" not "Singleton" and then make the dictionary static, because normally the repository should be created per request. (The dictionary is a stub, it would really be a DB connection or something.)

Thanks!

[2015-09-02 06:54] geertendoornenbal commented on #411
Yeah, a concurrent static dictionary is more similar to a database indeed :)

In my implementation following this tutorial I also registered it as "Scoped".

[2015-09-02 11:15] jakeymvc opened #416 "Any plan for translation?"
Hello from South Korea.

There are increasing demands in Korea for this documentation. Do you have any plan to translate in near future? We have a voluntary team including Microsoft Korea staff to contribute in translation.

It would be great if we can take part in some translation work.

[2015-09-03 17:13] Tratcher commented on #391
ClientCache can be implemented via OnPrepareResponse (https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNet.StaticFiles/StaticFileOptions.cs#L54) where you can set any headers deem appropriate.

I would expect the dynamic compression to still work when running in IIS. The static and cache compression probably don't work.

[2015-09-04 18:36] #391 closed

[2015-09-06 02:52] VanKichline opened #429 "Cannot complete Mac walkthrough of DNX because of crucial broken link"
On http://docs.asp.net/en/1.0.0-beta7/tutorials/your-first-mac-aspnet.html, the link "Download a sample Empty Web Site to use with this article.” just points to https://github.com/aspnet/docs/, which makes it impossible to complete the walk-through. No other source for the basic template is cited.  This blocks evaluating ASP.NET on the Mac using this source, and I don’t trust others to be up-to-da

[2015-09-07 02:44] KevM commented on #429
I ran into the same issue just now. I think I fixed it to point at the correct location. Hope this helped.

[2015-09-07 23:48] claysmith commented on #414
add it here: http://dotnet.github.io/core/getting-started/

[2015-09-08 04:37] danroth27 commented on #414
See http://docs.asp.net/en/latest/getting-started/installing-on-linux.html

[2015-09-08 10:02] prateek08 commented on #104
Hi @danroth27,
I am using the [partsunlimited ASP.NET 5 project] (https://github.com/microsoft/partsunlimited) in Github. I am able to build and deploy to an Azure Web app from Visual Studio.
Now, I want to integrate the same flow in my CI system (Jenkins). The issue I am facing is - How do i compile/build the ASP.NET 5 project through the command-line so that a web package is generated?

[2015-09-08 16:52] VanKichline commented on #429
There's no change.  The link still points to https://github.com/aspnet/docs/.

[2015-09-09 05:59] danroth27 commented on #104
You can use the `dnu publish` command. This will create a folder structure with all the artifacts need to run the app.

[2015-09-09 15:28] #385 closed

[2015-09-09 19:00] KevM commented on #429
@VanKichline the PR has not been merged yet. The link I believe should be changed to : https://github.com/aspnet/Home/tree/dev/samples

[2015-09-09 19:22] ardalis commented on #24
Planning on starting this today/tomorrow, @danroth27. Update TOC if necessary and/or set up a meeting to discuss, please.

[2015-09-11 06:19] guardrex opened #437 "Markup to show how to inject Options in Configuration document"
@danroth27 @MiKom @omarpando

I just ran into a lack of knowledge (https://github.com/aspnet/Home/issues/916) on what to inject into the view for Options. I thought I'd mention that a little markup showing how to do it at ...

http://docs.asp.net/en/latest/fundamentals/configuration.html#using-options-and-configuration-objects

... might be very helpful. For your example, it might be something lik

[2015-09-11 17:56] glennc commented on #184
The linux instructions have a not telling you that you need to run this if you compile from source, because you do. Otherwise the import is done when you do a package install. So I don't see anything we should change here for the Linux instructions.

@halter73 How did install Mono on OS X?
@halter73 I have thought and talked about adding MONO_THREADS_PER_CPU and @davidfowl strongly disagrees :)

[2015-09-11 18:02] glennc commented on #394
Have you looked at https://github.com/aspnet/Docs/pull/413 as well?

I skimmed the latest script and it looks reasonable at the moment. Are you proposing that we give a script like this that people can run once to get everything going or that you break the script into instructions like our existing docs?

[2015-09-11 18:13] SpaceShot commented on #394
To be honest, I had little faith in my Linux ability so I didn't create a pull request for the docs.  So I didn't know about #413 but it does look like we're proposing the same thing... to get the docs updated.

That said, I was just proposing we update the docs in the same fashion as the Ubuntu instructions.  I like having the automated script for myself but I wouldn't expect it to be in official

[2015-09-11 18:35] glennc commented on #394
Ok cool, do you want to go look at #413 and help get it through then?

[2015-09-11 20:56] danroth27 commented on #184
See latest published instructions here: http://docs.asp.net/en/latest/getting-started/installing-on-linux.html

[2015-09-11 20:56] #184 closed

[2015-09-15 22:20] Rick-Anderson opened #443 "move inline code to project in "Update your first app on mac article for beta7""

[2015-09-16 06:15] doggy8088 opened #445 "arch & runtime flavor notice on Installing ASP.NET 5 On Windows"
In this page [Installing ASP.NET 5 On Windows](http://docs.asp.net/en/1.0.0-beta7/getting-started/installing-on-windows.html), it will be better to add some notcie about `dnvm upgrade` will install `dnx-clr-win-x86.1.0.0-beta7` only.  If you need install all the other 3 runtimes, you'll have to install it manually.  That is

[2015-09-16 19:44] danroth27 commented on #429
We decide to remote this link and point people to Yeoman instead: https://github.com/aspnet/Docs/pull/442

[2015-09-16 19:44] #429 closed

[2015-09-16 19:46] danroth27 commented on #416
We do want to make translations available and we plan to leverage the Read the Docs infrastructure for doing this. We haven't started yet because the product (and hence the docs) are still churning pretty rapidly. I think it would make sense to start setting up translations later this year as we get closer to our first Release Candidate.

[2015-09-16 19:47] #411 closed

[2015-09-16 19:56] #232 closed

[2015-09-16 20:32] Erikre opened #448 "Introduction to ASP.NET Identity"

[2015-09-16 20:33] Erikre commented on #448
Port and updater. Must meet with Pranav.

[2015-09-16 21:59] Rick-Anderson opened #449 "bad link in Working with Multiple Environment"
Bad link here
Additional Resources
•Tag Helpers in ASP.NET MVC 6 including the Environment Tag Helper

[2015-09-17 09:32] JakeRyu commented on #416
I am really glad to hear that. Looking forward to making contribution.

[2015-09-17 17:05] #55 closed

[2015-09-17 17:48] danroth27 commented on #24
How to get framework services from DI
- Ex ILoggerFactory
- Ex DbContext
How to add services to the DI system
- Ex Repository pattern that injects the DbContext
- Service lifetime: transient, scoped, singleton
- Registration: type, factory, instance
Request services vs application services
Core services available from hosting during startup
- IHostingEnvironment
- ILoggerFactory
- IApplicationEnvi

[2015-09-18 20:30] jongalloway opened #452 "Bower article needs to be updated for changes to bower component installation"
[Manage Client-Side Packages with Bower](http://docs.asp.net/en/latest/client-side/bower.html) was written for previous script installation / management which put bower_components in root and copied distributable scripts to wwwroot via gulp. That has been changed to installing bower components directly in wwwroot via .bowerrc.

[2015-09-18 20:54] angellaa opened #453 "Document dependency required in the "Working with Static Files" page"
I'd like to add a section to show how to add the Microsoft.AspNet.StaticFiles dependency that is required in order to configure static files. This change will follow a similar pattern as the "Add the CORS package" section in http://docs.asp.net/en/latest/security/cors.html?highlight=package#add-the-cors-package

[2015-09-22 19:11] Rick-Anderson commented on #125
@pnewhook @gusennan @GuardRex Can you guys email me Rick.Anderson@microsoft.com and I'll send you an early draft of my "Intro to TH" doc. I'm looking for feedback.

[2015-09-24 18:49] Rick-Anderson opened #463 "Update secrets doc - dnu commands install Microsoft.Framework.SecretManager FAILS"
http://geeklearning.io/asp-net-5-0-install-secretmanager/ has all the details.
 @danroth27

[2015-09-24 20:55] danroth27 commented on #463
The latest doc should already have all that fixed for beta7:

http://docs.asp.net/en/latest/security/app-secrets.html

[2015-09-24 22:33] Rick-Anderson commented on #463
Check the link that command doesn't work

[2015-09-25 02:30] danroth27 commented on #463
The doc already has the right package id and you don't need to explicitly specify the package source unless you've removed the official NuGet feed from your configured package sources.

[2015-09-25 05:08] danroth27 commented on #463
Checked it. It worked:

C:\Users\danroth27>dnu commands install Microsoft.Framework.SecretManager
Microsoft .NET Development Utility CLR-x86-1.0.0-beta7-15532

  CACHE https://www.nuget.org/api/v2/
  GET https://www.nuget.org/api/v2/FindPackagesById()?id='Microsoft.Framework.SecretManager'
  OK https://www.nuget.org/api/v2/FindPackagesById()?id='Microsoft.Framework.SecretManager' 525ms
  CACHE htt

[2015-09-25 05:08] #463 closed

[2015-09-25 08:57] awestroke commented on #101
Why is this closed?

Also, a question that is so far unanswered is, how do you get the current Solution Configuration (Release|Debug) in their gulp/grunt config? It's vital to switch on minification etc

[2015-09-25 12:44] SpaceShot commented on #394
#413 is going to take care of this

[2015-09-25 12:44] #394 closed

[2015-09-25 17:05] Rick-Anderson opened #465 "Using Commands -pre not needed"
For example, to install the SecretManager package from the Package Manager Console, enter the following:

Install-Package Microsoft.Framework.SecretManager -Pre

[2015-09-26 00:59] Rick-Anderson commented on #66
@danroth27  - given we moved this to #64 - can we delete "Docs\aspnet\fundamentals\options.rst" ?

[2015-09-26 06:06] danroth27 commented on #66
Yup, just haven't gotten around to it yet.

[2015-09-26 15:24] SpaceShot commented on #402
I was just looking through open issues and this seems completed?

[2015-09-26 19:02] danroth27 commented on #402
Yup, thanks!

[2015-09-26 19:02] #402 closed

[2015-09-28 01:49] pacific202 opened #468 "Update for MVC Beta 7?"
Could we please get this updated for MVC Beta 7?

[2015-09-28 19:40] nicolastakashi commented on #24
@danroth27 How i can help write this documentation?

[2015-09-28 19:45] ardalis commented on #24
@nicolastakashi you can review my PR that's coming shortly

[2015-09-28 19:49] nicolastakashi commented on #24
@ardalis Seems great!

Do you wanna talk by skype or email? How do you prefer?

[2015-10-01 04:28] DamianEdwards opened #475 "Logo in top-left of docs.asp.net is low-res and thus looks fuzzy on hi-dpi displays"
Looking at that logo makes me sad on my Surface Pro 3 screen, my MacBook Pro screen, and my shiny new 4K monitor at home. Can we get a nice hi-res version pls? On live.asp.net we use an SVG file for the MS logo. Perhaps we can get an SVG version of the ASP.NET logo created too?

[2015-10-01 18:03] ardalis commented on #24
@nicolastakashi I think just using PR comments (once I get the PR done in a few days) will work fine.

[2015-10-02 06:27] mscommunities opened #477 "Helpfulness feature"
Add Helpful rating functionality to site content. This functionality will allow site members to indicate whether or not a given page is helpful.

[2015-10-02 18:34] shirhatti opened #480 "Update getting started on *nix for acquiring libicucore.dylib"
In `beta8` we require `libicu-dev` on Linux  / `icu4c`on Darwin

We should update the getting started Docs in beta8 to reflect that.

[2015-10-05 07:21] SychevIgor opened #481 "PDF version of documentation cutting long strings"
I got PDF version of documentation from http://docs.asp.net/en/latest/getting-started/installing-on-linux.html . But very soon find problem.

In a web based documentation long commands like
"curl -sSL https://raw.githubusercontent.com/aspnet/Home/dev/dnvminstall.sh | DNX_BRANCH=dev sh && source ~/.dnx/dnvm/dnvm.sh" looks ok,  but in a PDF version will be only
"curl -sSL https://raw.githubuserconte

[2015-10-05 14:52] danroth27 opened #482 "Update Logging article with sample that shows application level logging"

[2015-10-05 17:14] scottaddie commented on #452
@jongalloway Is this the new approach as of the Beta 8 release? I'm willing to tackle this article rewrite if the team needs some assistance. Just let me know.

[2015-10-05 17:59] ardalis opened #483 "first-web-api sample adds another item on every refresh"
Probably the initialization logic for the collection of items should be moved somewhere else, or the repo should check to see if there are any items before adding new ones. The problem is on line 13 of /Models/TodoRepository.cs. @Rick-Anderson @MikeWasson

[2015-10-05 18:03] ardalis commented on #483
Possible fix:
        [HttpGet]
        public IEnumerable<TodoItem> GetAll()
        {
            EnsureItems();
            return TodoItems.GetAll();
        }

        private void EnsureItems()
        {
            if (!TodoItems.GetAll().Any())
            {
                for (int i = 1; i < 11; i++)
                {
                    TodoItems.Add(new TodoItem() { Name="Item " + i});

[2015-10-05 19:37] MikeWasson commented on #483
Good catch. It's because I changed the repository lifetime to "scoped". I could just add the item when I initialize `_todos` (or in a static ctor)

This is what I get for wanting to keep EF out of the sample :smile_cat:

[2015-10-05 23:20] Eilon commented on #482
Might want to chat with @lodejard to come up with an outline for this to ensure we're on the same page for how logging should be used.

[2015-10-05 23:54] danroth27 commented on #482
We're already working with @rynowak on this.

[2015-10-08 18:34] Rick-Anderson opened #490 "remove Using Tag Helpers"
That topic was combined with Intro to TH.

[2015-10-09 23:07] Rick-Anderson opened #494 "Using Commands - SecretManager and SqlConfig should already be installed for you."
http://docs.asp.net/en/latest/dnx/commands.html
If you are using Visual Studio, then both SecretManager and SqlConfig should already be installed for you.

[2015-10-09 23:14] Rick-Anderson opened #495 "Installing the Secret Manager tool - instuctions incomplete"
Install the Secret Manager tool using the .NET Development Utility (DNU). The Secret Manager tool is installed as a DNX command via the Microsoft.Framework.SecretManager package:

dnu commands install Microsoft.Framework.SecretManager

'dnu' is not recognized as an internal or external command, operable program or batch file.

@danroth27

It also doesn't mention
Install-Package Microsoft.Framework

[2015-10-09 23:47] Rick-Anderson opened #496 "Installing ASP.NET 5 On Windows"
http://docs.asp.net/en/latest/getting-started/installing-on-windows.html#install-asp-net-with-visual-studio

Once Visual Studio is installed, follow the instructions on the Download Center page for installing the latest ASP.NET 5 preview (Beta7).

delete that line, you've already told them that at

2.Install the latest ASP.NET 5 preview (Beta7)

When installing Visual Studio 2015, you’ll want to b

[2015-10-10 00:07] danroth27 commented on #495
That just means you don't have DNX installed/available on your command prompt. Open up the *Developer Command Prompt for VS2015* from the Start menu and run the following commands:

[code]

These steps are documented at http://docs.asp.net/en/latest/getting-started/installing-on-windows.html

This looks like part of a nuget.exe command which isn't relevant at all for DNX scenarios

All of our docs

[2015-10-10 00:32] distransient opened #497 "API Reference"
Beta8 is approaching (wooo!) and .net is missing one big thing... an API reference!

As far as I can tell, Razor, MVC, and Identity have `<summary>` documentation for each class and method at the least. I'm not entirely familiar with the workings of DNX, or what the plans might be to provide documentation for the namespaces of the main API surface of .Net 5 itself.

I'm willing to help build this

[2015-10-10 17:16] Rick-Anderson opened #499 "Creating a Cross-Platform Console App with DNX"
http://docs.asp.net/en/latest/dnx/console.html
see DISQUS
FYI, your cs file the in the example is missing the Console.WriteLine("Hello from DNX!"); line. Oh and I had to run "dnu restore" first too ;)
@ardalis

[2015-10-10 17:18] Rick-Anderson opened #500 "Update Your First ASP.NET 5 Application Using Visual Studio to beta8"
http://docs.asp.net/en/latest/tutorials/your-first-aspnet-application.html
DISQUS reported problem
Removing .NET Core from the list of frameworks from the project.json file isn't enough. I had to right-click in AccountController.cs and choose Organize Usings / Remove Unnecessary Usings. It didn't like the Microsoft.AspNet.Authentication; statement.

@ardalis

[2015-10-10 17:25] Rick-Anderson commented on #481
Thanks for reporting this. @danroth27  I've verified this problem.

[2015-10-10 17:37] Rick-Anderson commented on #445
@TomArcher can you try to reproduce on a clean VM. I just test
dnvm list
lists all 4 versions as installed.

[2015-10-10 17:48] Rick-Anderson commented on #437
Good suggestion.

[2015-10-10 17:52] Rick-Anderson commented on #408
Done.

[2015-10-10 17:52] #408 closed

[2015-10-10 17:54] #412 closed

[2015-10-10 17:58] Rick-Anderson commented on #407
@dimaaan thanks for reporting.
@Erikre  can you fix these and then close this issue?

[2015-10-10 18:00] Rick-Anderson commented on #406
@juntaforce  what's the issue? The doc hasn't been written yet?

[2015-10-10 18:00] #406 closed

[2015-10-10 18:01] Rick-Anderson commented on #401
done

[2015-10-10 18:01] #401 closed

[2015-10-10 18:02] Rick-Anderson commented on #397
@TomArcher can you fix this?

[2015-10-10 18:05] Rick-Anderson commented on #365
I'll be working with @dpaquette on this.

[2015-10-10 18:07] Rick-Anderson commented on #345
@noelatfalafel  can you fix this?

[2015-10-10 18:13] Rick-Anderson commented on #352
@Erikre can you add this?

[2015-10-10 18:16] Rick-Anderson commented on #317
I use robocopy and my assumption was so would most folks. Historically MS has written XCopy as brute force approach and most folks seem to know to use robocopy.

[2015-10-10 18:16] #317 closed

[2015-10-10 18:23] Rick-Anderson commented on #313
@ardalis please fix and close.

[2015-10-10 18:40] Rick-Anderson commented on #349
@Erikre please review.

[2015-10-10 18:47] Rick-Anderson commented on #290
@ardalis  Can you close this once these are addressed?

[2015-10-10 18:55] #291 closed

[2015-10-10 19:05] Rick-Anderson commented on #497
@danroth27 is working on this and I'm sure we can find a way for you to help out. We will use some tool to import the API reference from the code.

[2015-10-10 19:11] Rick-Anderson commented on #480
http://docs.asp.net/en/latest/getting-started/installing-on-linux.html
@danroth27  this looks like a critical update needed

[2015-10-10 19:12] Rick-Anderson commented on #477
@Erikre  I thought this was planned.

[2015-10-10 19:13] danroth27 commented on #480
already done on the beta8 branch: http://docs.asp.net/en/1.0.0-beta8/getting-started/installing-on-linux.html

We'll merge this over to master after we ship beta8.

[2015-10-10 19:13] #480 closed

[2015-10-10 19:14] Rick-Anderson commented on #468
What did you wanted updated? We're working on Beta 8 now

[2015-10-10 19:14] #468 closed

[2015-10-10 19:15] Rick-Anderson commented on #453
@TomArcher  can you follow-up?

[2015-10-10 19:25] Rick-Anderson commented on #308
@benmccallum  any chance you could give us a PR on this?

[2015-10-10 19:28] Rick-Anderson commented on #288
@ardalis can you confirm this is fixed and close?

[2015-10-10 19:29] Rick-Anderson commented on #277
@vkichline can you outline an approach to this?

[2015-10-10 19:32] Rick-Anderson commented on #269
@mattcan if you could help that would be great. You can either submit a PR or contact me with the updates.

[2015-10-10 19:34] Rick-Anderson commented on #267
@vkichline  can you outline this and I'll make sure someone publishes the doc.

[2015-10-10 19:35] Rick-Anderson commented on #257
dup of https://github.com/aspnet/Docs/issues/277

[2015-10-10 19:35] #257 closed

[2015-10-10 19:35] ardalis commented on #288
There is no stub notice and all links look good, so closing.

[2015-10-10 19:35] #288 closed

[2015-10-10 19:38] Rick-Anderson commented on #252
fixed

[2015-10-10 19:38] #252 closed

[2015-10-10 19:39] Rick-Anderson commented on #244
@TomArcher can you add this to the contrib doc? It helps that we now have CI/CD

[2015-10-10 19:43] Rick-Anderson commented on #245
@SpaceShot  Hyper-V requires a wired connection. I use a cheap DLink DAP-1350 bridge to get Ethernet for my VMs.

[2015-10-10 19:45] Rick-Anderson commented on #242
Originally I planned on writing an article on debugging MVC 6 source but @danroth27 wants this generic. I think the debugging MVC 6 has value.

[2015-10-10 19:46] Rick-Anderson commented on #241
@MikeWasson  please comment.

[2015-10-10 19:48] #221 closed

[2015-10-10 19:50] Rick-Anderson commented on #211
@danroth27  @ardalis @DamianEdwards @madskristensen  please review.

[2015-10-10 19:52] Rick-Anderson commented on #497
@distransient check out https://github.com/aspnet/ApiDocs

[2015-10-10 19:57] #496 closed

[2015-10-10 20:04] Rick-Anderson commented on #124
captured in MVC Error handling#124 https://huboard.com/aspnet/docs#/

[2015-10-10 20:06] pacific202 commented on #468
Including all of the using statements and explaining how DI maps to the class maps to the json file would be nice.  I think it would also be useful to start with the high-level process.

[2015-10-10 20:06] Rick-Anderson commented on #118
Routing to Controller Actions#117 https://huboard.com/aspnet/docs#/

[2015-10-10 20:11] Rick-Anderson commented on #4
combining with https://github.com/aspnet/Docs/issues/416

[2015-10-10 20:11] #4 closed

[2015-10-10 20:12] Rick-Anderson commented on #416
adding  @erlimar  - This will be the translate page.

[2015-10-10 20:15] Rick-Anderson commented on #1
@Erikre can you find the right owner for HostingEngine.Start returns IDisposable.

[2015-10-10 20:20] Rick-Anderson commented on #171
@TomArcher  can you add that? This is fairly hi-pri (fix in the next two weeks please).

[2015-10-10 22:24] benmccallum commented on #308
Sure @Rick-Anderson! I'll start something up now.

[2015-10-10 23:16] benmccallum commented on #308
@Rick-Anderson, I'm going to start working on /aspnet/client-side/bundling-and-minification as I think it's a good place to talk about (1) Using gulp, (2) Using grunt, (3) Cache-busting techniques.

Firstly, are you aware of anyone working on this article?

Secondly, I notice there's an article at /aspnet/client-side/using-grunt which would overlap quite a bit with my part on using grunt. Just won

[2015-10-11 04:04] distransient commented on #497
That repo isn't public yet, or at least I can't see it.

[2015-10-11 05:01] Eilon commented on #242
How to debug MVC is very different from how to contribute - I want to make sure those concepts are not conflated. The best way to contribute to MVC or any OSS project is to start a discussion, not to send a pull request.

[2015-10-11 06:10] anotherkabab opened #501 "Fix upzip to unzip in installing-on-linux"
### Title
Fix upzip to unzip in installing-on-linux

### Functional impact
None.

### Minimal repro steps
Go to the [Install the .NET Version Manager (DNVM)](http://docs.asp.net/en/latest/getting-started/installing-on-linux.html#install-the-net-version-manager-dnvm)

### Expected result
The instruction would read
Install unzip if you don’t already have it:

### Actual result
The instruction reads

[2015-10-12 08:57] agriffard commented on #416
I would be interested in translating the docs in fr-FR.
I already did this for another open source project, the Orchard CMS docs.
I had cloned the repo, translated the docs and hosted it on my domain.
But I guess ReadTheDocs as a solution to provide the docs for many cultures.

As you said, RC1 will a good milestone to start the translations.
In the mean time, if you are able to structure the docs

[2015-10-12 11:35] rhires commented on #416
Hmm...while treading carefully, this is an Open Source project and you can do as believe it appropriate - I like consulting with the heads of the project, since being on the same page and playing "team" are good things, but I say go ahead and get started, and you can host on GH your translations, and when ready, and after discussing it, send a pull request. And what @danroth27 says - things are st

[2015-10-12 12:10] agriffard commented on #416
After a short investigation, a procedure seems to exist :
http://read-the-docs.readthedocs.org/en/latest/localization.html

They give the example of phpmyadmin which has a https://github.com/phpmyadmin/localized_docs repository linked to another online localization tool : https://hosted.weblate.org/projects/phpmyadmin/documentation .

[2015-10-12 12:59] agriffard commented on #416
But I think I will try the first solution: Clone the repo and translate the .rst files

[2015-10-12 16:11] Rick-Anderson commented on #468
"Including all of the using statements" where?
We hope to get the DI article out soon.

[2015-10-12 16:14] Rick-Anderson commented on #308
@Erikre  is working on some grunt articles but I'm sure he could use your help - can you coordinate with him?
@noelatfalafel @danroth27  can you review @benmccallum proposal?

[2015-10-12 16:16] Rick-Anderson commented on #497
You're right, it's not public yet, sorry. @danroth27 can you comment on when it will be public and how @distransient can contribute?

[2015-10-12 16:20] Rick-Anderson opened #505 "How to debug ASP.NET 5 source"
This will be a tutorial on how to debug ASP.NET source. ASP.NET MVC 6 will be used as the example, but you should be able to debug any repo source with the instructions.

[2015-10-12 16:21] pacific202 commented on #468
Every code example is missing its references to external libraries, except one where there is a comment that references a library that was changed in Beta 7 to Microsoft.Framework.Configuration.

// assumes using Microsoft.Framework.ConfigurationModel is specified

[2015-10-12 16:21] noelatfalafel commented on #308
@benmccallum, I lean towards option #2 just to keep the internal progression of the article in one piece. Option #1 is OK, but I won't be able to participate in a rewrite just now. #3 seems like a non-starter.

[2015-10-12 16:21] danroth27 commented on #497
That repo isn't actually being used for anything, and there's a good chance it won't be used at all. I'm already working with the Read the Docs folks to setup API docs using the [sphinx-autoapi](https://github.com/rtfd/sphinx-autoapi) extension. Stay tuned!

[2015-10-12 16:24] Rick-Anderson commented on #242
https://github.com/aspnet/Docs/issues/505 opened for debugging ASP.NET 5.
How to contribute to ASP.NET 5
1. Open an issue. (simple way to contribute)
2. Start a discussion (best way to contribute).
3. Create a PR.
4. Other

[2015-10-12 16:30] Rick-Anderson commented on #468
I think we've been under the assumption that by using Visual Studio 2015 it's trivial to get the using statements, but that might be a bad assumption (if you're not using VS15 for example). The code examples are on GitHub with the document, so you can look at the complete sample - does that solve your problem? Are you developing outside VS?

[2015-10-12 16:34] pacific202 commented on #468
I am using VS2015, but as part of an educational experience it's good to know where everything is coming from.  That also helps when you're looking up the original API reference, as it removes ambiguitiy.

Many of us are coming over to C#/.Net from Java or other languages thanks to the power of Azure.  Adding something as simple as the libraries to reference is going to greatly help us make the mi

[2015-10-12 16:52] danroth27 commented on #416
We plan to use the Read the Docs support for localization. We just need to setup the Sphinx projects for the different languages we plan to support, and we plan to do that within the ASP.NET GitHub org. We haven't done it yet because there is still a lot that is changing in the product and we want to focus on getting the right content written first without having to worry about managing multiple t

[2015-10-12 16:54] Rick-Anderson commented on #468
My preference is to not use using statements, then you make the API assembly explicit. I've been moving in that direction.

[2015-10-12 16:58] danroth27 commented on #308
I think @Erikre is already looking at writing up client-side bundling and minification (see https://github.com/aspnet/Docs/issues/101).

[2015-10-12 17:05] danroth27 commented on #118
I think this one should stay open - the Routing to Controller Actions article is more about how a request makes it to your action. It doesn't really cover the response path and how action results work.

[2015-10-12 17:06] pacific202 commented on #468
I'm fine with that, so long as the reference isn't ambiguous.

[2015-10-12 17:10] danroth27 commented on #244
I think we still have a bunch of cases where we aren't using lower case files.

[2015-10-12 17:17] danroth27 commented on #269
I think #108 is a separate topic, so a PR for this issue would be great. Totally agree that the blog post is way out of date. @glennc  May also have thoughts on how we should document this.

[2015-10-12 17:21] danroth27 commented on #452
@scottaddie Yup, this should be in beta8 (shipping this week), so if you want to submit a PR for this update that would be great. You can see what the beta8 templates look like in the newly public Templates repo: https://github.com/aspnet/Templates/tree/release/src/BaseTemplates/StarterWeb

[2015-10-12 17:33] Rick-Anderson commented on #244
I don't think we should change articles that are working correctly (ie mixed case but the case is consistent in the .rst file). This should be the rule for new articles.

[2015-10-12 17:41] scottaddie commented on #452
@danroth27 Thank you for the info! Will start on this tonight.

[2015-10-12 20:34] glennc commented on #269
I've always wanted something better than just the blog post to document how to get going with Docker and ASP.NET 5. If you get started on this I will help out, even if just with reviewing and such.

[2015-10-12 22:54] #125 closed

[2015-10-12 22:54] #233 closed

[2015-10-13 00:01] ardalis commented on #203
I'm going to get started on this article this week. Let's meet if we need to nail down some more specifics, @danroth27

[2015-10-13 03:06] Eilon commented on #242
I also want to make sure we don't duplicate content from https://github.com/aspnet/Home/blob/dev/CONTRIBUTING.md.

[2015-10-13 13:40] mattcan commented on #269
Alright, I will definitely dig into it again. I should have something up by the 18th. Thanks!

[2015-10-13 15:32] erlimar commented on #416
OK. Waiting RC1.

[2015-10-13 18:07] ardalis commented on #500
I believe this will be fixed if/when the sample is updated to beta8. :watch:

[2015-10-13 18:40] ardalis commented on #499
Fixed with ec5b3c2eb6030900c3ba10609dd35f63d98034e6 in 1.0.0-beta7 branch.

[2015-10-13 18:40] #499 closed

[2015-10-13 19:02] GuardRex opened #507 "Full text searches?"
Apparently, the documentation system doesn't do full text searches, correct? I just ran into a case where I opened an issue and sort of wasted a MS dev's time because the documentation system didn't return all mentions of a search term.

[2015-10-13 19:06] BradleyDHobbs commented on #95
Any updates on this?

[2015-10-13 19:21] Rick-Anderson commented on #507
If your on https://docs.asp.net/en/latest/ the search box only searches the aspnet tree. If you're on the MVC side (http://docs.asp.net/projects/mvc/en/latest/index.html) it only searches the MVC tree. Is that what you saw? It would be nice to unify the search.

[2015-10-13 19:49] GuardRex commented on #507
I searched "machineKey" because I was trying to get `Antiforgery` working in a web farm scenario, and I wanted to see the deltas for .NET 5 ... was `Antiforgery` using `<machineKey>` to get its tokens set and validated? Turns out the answer is a big fat "NO" ... it's all in the new data protection system now. The search results for "machineKey" yield this:

![capture](https://cloud.githubuserconte

[2015-10-14 03:28] Rick-Anderson opened #511 "Search should be for entire site, not just aspnet or mvc"
Searching from the main site only searches the aspnet side, for example
http://docs.asp.net/en/latest/search.html?q=machineKey
the same search on the mvc side
https://docs.asp.net/projects/mvc/en/latest/search.html?q=machineKey

You shouldn't have to search both places.

[2015-10-14 03:29] Rick-Anderson commented on #507
*Apparently, the documentation system doesn't do full text searches, correct?*
That's incorrect. You seem to have hit an edge case.
search for shortcomings  and you'll see <machineKey>  - maybe the <> prevent machineKey from being in the dictionary. Try other terms and you can see it's does full text searches.

What is a significant limitation is that it searches are only in one tree as I mentione

[2015-10-14 03:29] #507 closed

[2015-10-14 16:25] danroth27 opened #514 "Document the relationship between models, model state and what the HTML helpers render"
Ex see https://github.com/aspnet/Mvc/issues/3320.

[2015-10-14 19:17] danroth27 opened #516 "Don't use json schema in the DNX Projects doc"
See https://docs.asp.net/en/latest/dnx/projects.html#adding-dependencies.

Schemas are for machines, not people.

[2015-10-14 20:16] danroth27 opened #518 "Update common samples to beta8"

[2015-10-14 20:16] danroth27 commented on #518
@TomArcher

[2015-10-14 20:16] danroth27 opened #519 "Update IIS publishing for HttpPlatformHandler"

[2015-10-14 20:16] danroth27 commented on #519
@TomArcher

[2015-10-14 20:25] danroth27 commented on #388
Blocked on scaffolding not being available in VS yet.

[2015-10-14 20:34] #121 closed

[2015-10-14 20:45] danroth27 opened #520 "Update Servers article for HttpPlatformHandler changes"

[2015-10-14 20:47] danroth27 commented on #516
Remove all usages of JSON schema in this article and replace with examples and prose.

[2015-10-14 20:49] danroth27 commented on #514
We should check how much this still applies to tag helpers.

[2015-10-14 20:50] danroth27 commented on #514
@dougbu Can you confirm whether this issue is HTML helper specific or not?

[2015-10-14 20:53] #495 closed

[2015-10-14 20:53] danroth27 commented on #495
We updated the Download Center page to include the `dnvm setup` and `dnvm upgrade` steps. By RTM we also plan to install the User Secrets package by default.

[2015-10-14 20:54] danroth27 opened #521 "Update Secret Manager doc to use new package name"
Maybe also change the title?

[2015-10-14 20:57] danroth27 commented on #494
Need this to change in the product first.

[2015-10-14 20:57] danroth27 commented on #483
Fixed.

[2015-10-14 20:57] #483 closed

[2015-10-14 20:58] danroth27 commented on #477
In PR

[2015-10-14 21:00] danroth27 commented on #465
The problem is in https://docs.asp.net/en/latest/dnx/commands.html#using-commands-in-your-project.

We also need to update the package name for the Secret Manager tool for beta8.

[2015-10-14 21:02] danroth27 commented on #453
@angellaa We would welcome a PR for this issue. Let us know if you want to take this one.

[2015-10-14 21:26] Rick-Anderson opened #522 "localization doc should provide best practices for handling dates"
customer request:
calendar controls and date time formatting causing lot of issues which needed special care while coding. Please let me know if these have been specifically addressed as part of the latest framework or else is there a recommendation as to how best these can be done from the product team.

[2015-10-14 21:29] dougbu commented on #514
The documentation may need to improve _slightly_ for tag helpers as well. But the story gets more complicated for HTML helpers, especially the `string`-based ones that check `ViewData`.

[2015-10-15 08:25] per-samuelsson opened #526 "Section in Getting Started on Windows about uninstalling"
Want me to do [this](https://github.com/aspnet/dnx/issues/2287#issuecomment-129282374)?

I've read through the contribution guidelines, and can send you a PR with a suggestion once you clear it. I don't want to set up the environment before that though.

[2015-10-15 16:33] TomArcher commented on #171
@Rick-Anderson This appears to be done already

[2015-10-15 16:34] Rick-Anderson commented on #171
Great - thanks for checking. This was an ancient open issue and now it's closed.

[2015-10-15 16:34] #171 closed

[2015-10-15 17:18] ardalis commented on #150
For example: https://docs.asp.net/en/latest/tutorials/your-first-aspnet-application.html in a narrow browser window. Edit on GitHub wraps below the title. I would expect the title to wrap and Edit on GitHub to stay in place.

[2015-10-15 18:00] Rick-Anderson opened #529 "Document usage behavior for Tag Helper ModelExpression properties in a list"
See https://github.com/aspnet/EntityFramework.Docs/issues/44
This should go in [Intro to TH](http://docs.asp.net/projects/mvc/en/latest/views/tag-helpers/intro.html)
@NTaylorMullen

[2015-10-15 18:48] poke commented on #505
[This article on the .NET Web Dev blog](http://blogs.msdn.com/b/webdev/archive/2015/02/06/debugging-asp-net-5-framework-code-using-visual-studio-2015.aspx) might be relevant too. It helped me debug the framework code in the past.

[2015-10-15 21:02] Erikre commented on #308
@benmccallum - When I have this topic farther along I could review it with you.

[2015-10-15 21:13] danroth27 opened #530 "Link to EF Getting Started with ASP.NET 5 article"
Under Working with Data we should just link to http://ef.readthedocs.org/en/latest/getting-started/aspnet5.html.

[2015-10-15 23:13] Rick-Anderson opened #532 "add to .gitignore so new web site doesn't check in 487 changed files"
see PR #525 and click on the 487 changed files. Start adding the files we don't need to .gitignore

[2015-10-16 05:19] danroth27 opened #534 "Setup a feed of newly published articles"
We can use one of the existing Sphinx extensions to create the feed. We can then use this feed to feature these articles on the http://asp.net homepage.

[2015-10-16 07:24] NeelBhatt opened #535 "Update Tutorials under Docs to Beta 8"
I have just noticed that ```your-first-aspnet-application``` under Tutorial of Docs repository is in beta 5.

Is it required to convert to beta 8, which is latest currently?

Path is as below:

https://github.com/aspnet/Docs/tree/master/aspnet/tutorials/your-first-aspnet-application

[2015-10-16 17:21] Rick-Anderson commented on #532
@TomArcher postponing fix

[2015-10-16 17:22] Rick-Anderson commented on #532
@TomArcher @Erikre will take this.

[2015-10-16 17:35] Rick-Anderson opened #537 "Update note from " beta7 is now available!" to Beta8"
Attention

ASP.NET 5 beta7 is now available! Please see the Getting Started instructions for installing the latest version.

@danroth27

[2015-10-16 18:27] ardalis commented on #203
* How to Create Test Projects
* How to Run Test

[2015-10-16 21:39] Rick-Anderson opened #538 "Document How to write #if blocks that target a specific DNX version?"
#if DNXCORE50
// dnx core specific code
#endif

#if DNX451
// 4.5.1 specific code
#endif

@Erikre

[2015-10-17 00:27] Rick-Anderson opened #540 "Debug: example shows password"
http://docs.asp.net/en/latest/fundamentals/logging.html states:

Debug

Used for the most detailed log messages, typically only valuable to a developer debugging an issue. These messages may contain sensitive application data and so should not be enabled in a production environment. Disabled by default. Example: Credentials: {"User":"someuser", "Password":"P@ssword"}

Do we need to even state "may

[2015-10-17 00:46] Rick-Anderson opened #541 "Show how to config and view logs in an mvc 6 app"
http://docs.asp.net/en/latest/fundamentals/logging.html
Need to add instructions for how to add logging to a mvc 6 app.

[2015-10-17 01:04] Rick-Anderson opened #542 "Sphinx needs a .ignore file for node_modules directory"
It's tedious and time consuming to delete the *node_modules* directory every time you run make. We don't document this and it will be a hurdle to new  contributors.

Running Sphinx v1.3.1
loading pickled environment... done
loading intersphinx inventory from mvc.inv...
loading intersphinx inventory from dotnet.inv...
building [mo]: targets for 0 po files that are out of date
building [html]: targe

[2015-10-17 04:05] rmcc13 commented on #61
This may be the wrong place to ask, but would a third party person pick up an issue such as this one to work on it? The contributing guidelines say to open up a new issue, but there are many open issues that I would be interested in working on. Should I just work on one then submit a pr?

[2015-10-17 19:00] danroth27 opened #543 "The "Working with DNX projects" article should document all nuspec metadata related properties"

[2015-10-17 22:04] rajeshchawla commented on #95
I'm available to help review this content. Contact: rajesh@trcs.com

[2015-10-18 12:02] Sm1le291 opened #544 "Nuget hell"
I don't now this is bug or not. But It's really annoying! I try to add references and very often show message like this:
"NU1007 Dependency specified was SolarNet greater 0.3.1 but ended up with SolarNet 1.0.0"
And it is only in vnext project!!! Vnext reset reference version to 1.0.0.0!!! This is bug or feature??? A try many combinations, delete lock files and many other actions. But this does'not

[2015-10-18 12:39] davidfowl commented on #544
What did you do exactly. Can you reproduce it everytime?

/cc @abpiskunov

[2015-10-19 01:03] balachir commented on #544
I wonder if you're running into one known issue with Nuget. Can you go to Tools > NuGet Package Manager > Package Manager Settings, and in the Package Sources tab, is the nuget.org feed entry checked?

[2015-10-19 06:15] scriptnull commented on #95
I would like to have updates on it and willing to contribute.

[2015-10-19 07:35] Sm1le291 commented on #544
@davidfowl  You may try to add this to project.json to "dependencies" section
"SolrNet": "0.3.1"
And after you show warning:
"NU1007 Dependency specified was SolarNet greater 0.3.1 but ended up with SolarNet 1.0.0"

[2015-10-19 17:28] danroth27 opened #545 "Integration Testing"
- Host for integration testing
  - Package: Microsoft.AspNet.TestHost
  - Create a simple sample based on something like this: https://github.com/aspnet/Diagnostics/blob/84b91c95fe8acc8eed0a06ba19aae840af5cc664/test/Microsoft.AspNet.Diagnostics.Tests/ExceptionHandlerTest.cs#L25

[2015-10-19 21:35] danroth27 opened #547 "Helpfulness UI and RTD version picker overlap"
![helpfulness issue](https://cloud.githubusercontent.com/assets/1874516/10592088/b08cbc76-766e-11e5-9635-742e1645e4d3.png)

[2015-10-19 21:52] danroth27 opened #548 "Updating logging article to rc1"

[2015-10-20 02:08] scottaddie commented on #452
@danroth27 Submitted a pull request. Let me know if something doesn't look quite right. I'm still learning Git.

[2015-10-20 14:25] Muchiachio commented on #544
@davidfowl I found this happening too, especially then some of the versions are already cached in `.dnx/packages` folder, and VS can't restore the newly specified ones (because of wrong nuget feeds and such). Deleting all the packages from `.dnx/packages` folder and running `dnu restore` manually seems to help, at least to find more particular issue with the feeds or versions.

[2015-10-20 21:27] Rick-Anderson opened #556 "version selector collision with "Your feedback about this content is important. ""
![capture3](https://cloud.githubusercontent.com/assets/3605364/10621582/80c1740a-7736-11e5-8076-67a6627637ef.PNG)

1. https://docs.asp.net/en/latest/index.html
2. scroll down until "Your feedback about this content is important. Let us know what you think. Yes No " is displayed. It's obscured by the version selector.

Repro's on FF/IE/Edge/Chrome

[2015-10-20 22:01] guevaraf commented on #95
I'm specially interested in how you'll handle traversal services such as security, loggin, etc. Also supporting the mobile workflow (start, sleep, wake, etc). If it is at all your idea to mimic this, if not I'm also interested to see your chain of thoughts on the subject.
Please provide a brief comment on expectation if you can.
Cheers

[2015-10-21 03:49] Rick-Anderson opened #558 "update Get Started with Entity Framework 7 using ASP.NET MVC 6"
It's beta5, update

[2015-10-21 23:23] Rick-Anderson opened #559 "404 on download source "Migrating From ASP.NET MVC 5 to MVC 6"
http://docs.asp.net/projects/mvc/en/latest/migration/migratingfrommvc5.html
 Download the finished source from the project created in this article - all the download links are broken.

Rewrite this and from the start have them use the same project name (so the name spaces match), that will vastly simply the code copy. Also tell them up front a good way to do this conversion is to create a new MVC

[2015-10-21 23:24] Rick-Anderson commented on #559
http://docs.asp.net/projects/mvc/en/latest/migration/migratingfrommvc5.html
Download the finished source from the project created in this article

[2015-10-22 15:55] ardalis commented on #68
Starting work on this one, @danroth27

[2015-10-23 08:29] ryanheath commented on #101
Is it an idea to do something like this? https://github.com/ryanheath/MVC-Bundling-And-Minification-For-VisualStudio-With-Gulp
Or are you guys planning to take a whole other direction with bundling & minification?
I'm will to create something alike for asp.net if still needed.

[2015-10-23 18:27] Rick-Anderson commented on #511
@danroth27 In addition to not indexing IIS, it also can't find project.json
search the mvc site for project.json and zero results. Now search for json and you'll see several project.json.

[2015-10-23 20:44] dougbu opened #565 "Make sample download links dead easy to use"
Currently sample links in the documentation point to GitHub source folders. For example http://ef.readthedocs.org/en/latest/getting-started/aspnet5.html links to https://github.com/aspnet/EntityFramework.Docs/tree/master/docs/getting-started/aspnet5/sample. To get from that link to code execution, users must
- Click on the https://github.com/aspnet/EntityFramework.Docs/tree/master/docs/getting-sta

[2015-10-23 21:22] Rick-Anderson opened #566 "Update sociallogins to highlight additional providers in aspnet-contrib"
add  that additional providers for OAuth2/OpenID2 can be found on aspnet-contrib: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers and https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers

[2015-10-24 18:05] reifnir commented on #193
Still very much looking forward to hosting full ASP.NET components in Service Fabric. Is there an estimated date or quarter that we can expect this support? I'm not really sure how useful Actor Events are without a client that can communicate all the way back to a user.

[2015-10-26 09:16] PureKrome opened #568 "Missing profile file on OSX and out of date nuget package in OSX sample"
Hi team :wave:

I've noticed two places that could be improved with some extra sentences.

### DNVM fails to install on newly installed OSX machines.

When trying to [Install the DNVM Manager](http://docs.asp.net/en/latest/getting-started/installing-on-mac.html#install-the-net-version-manager-dnvm) on a totally new OSX machine (where the developer has _never_ had to goto the command line or even i

[2015-10-26 13:29] rehaddad commented on #416
we would like to translate to portuguese pt-Br. when the docs are available, please let me know.
Thanks!

[2015-10-26 18:58] Rick-Anderson opened #570 "bad link: You are not using the most up to date version of the library. 1.0.0rc1 is the newest version."
to repro, use the version selector for Beta8 (or just click on http://docs.asp.net/en/1.0.0-beta8/) now click on  the [RC1 link](http://docs.asp.net/en/1.0.0-rc1/)

You are not using the most up to date version of the library. [1.0.0rc1](http://docs.asp.net/en/1.0.0-rc1/) is the newest version.

[2015-10-26 19:21] danroth27 commented on #416
@rehaddad Will do!

At this point we still have a lot of content in flight, so it looks like we will probably delay localization efforts even further until early 2016. We will keep this this issue updated as our plans solidify.

[2015-10-26 21:07] Rick-Anderson opened #571 "Publishing to IIS - needs link to •Installing ASP.NET 5 On Windows"
Add https://docs.asp.net/en/latest/getting-started/installing-on-windows.html to the start of the instructions.

[2015-10-27 02:08] Rick-Anderson opened #573 "update Installing ASP.NET 5 On Windows - standalone section"
see https://github.com/aspnet/Docs/pull/561/files

[2015-10-27 02:20] Rick-Anderson opened #574 "Add Console.WriteLine("Hello from DNX!");"
See https://github.com/aspnet/Docs/pull/564/files

Since common can be used anywhere, need to make sure this update doesn't break any sample docs.

[2015-10-27 02:28] Rick-Anderson opened #575 "Add fundamentals/localization back to aspnet TOC"
localization is missing from http://docs.asp.net/en/latest/fundamentals/index.html

[2015-10-27 05:15] benmccallum commented on #308
Thanks everyone! @Erikre, perhaps if you leave off the concept of cache-busting, I'll write a separate page that addresses cache-busting/versioning (gulp-rev, and other techniques) with examples of implementations in grunt/gulp as it's cross-cutting really.

[2015-10-27 08:11] awestroke commented on #101
I solved this by always building two versions of the javascript with gulp, and switching which one is used with the environment tags in the new ASP.NET vNext. It's not ideal, as the production js build can take up to 30 seconds, but it works. I use hot building for development anyways

[2015-10-27 14:22] TomArcher commented on #575
The toc entry for localization was added when I wrote the first draft. Therefore, this work is already in that PR (554 = https://github.com/aspnet/Docs/pull/554/files) Once you fetch and checkout the branch, you'll have it locally.

[2015-10-27 16:13] Rick-Anderson opened #576 "Please add Bing translator Widget！"
Customer request from http://docs.asp.net/en/latest/contribute/docs-survey.html#comment-2328547336
seems like a good idea.

[2015-10-27 18:06] seanmck commented on #193
ASP.NET 5 support will be available in our public preview next month.

[2015-10-27 20:42] Gekctek commented on #52
Is there a plan to have the nuget package id configurable (instead of project name) by the initial release of AspNet 5? at all? or are there easy workarounds without changing the project name?

[2015-10-27 21:00] danroth27 commented on #52
@Gekctek It's on our backlog (https://github.com/aspnet/dnx/issues/2312), but will probably come after the initial release.

[2015-10-28 03:23] Rick-Anderson opened #577 "Document how to debug when hosted on IIS using AspNetCoreModule"
- [ ] When  remote debugging.
- [ ] link to https://blog.3d-logic.com/2016/06/08/running-asp-net-core-applications-with-iis-and-antares/

[2015-10-28 03:45] robbert229 opened #578 "Authoring Razor docs #130"
I would like to write the Razor Syntax Article described by #130. The contributions guide said to get approval here so here I am.

[2015-10-28 20:51] Rick-Anderson opened #579 "Add link to TagHelpers to the Bundling & Minification topic"
mike: except staging/production also includes "asp-file-version" which I guess is a tag helper?
Tell them the environment tag uses tag helpers to do this and link to http://docs.asp.net/projects/mvc/en/latest/views/tag-helpers/intro.html

[2015-10-29 00:57] oheard opened #581 "Improve coordination of documentation publication to ease on-boarding --- Was: Make CLI utilities self-documenting"
I apologise if this isn't the appropriate place to submit this but I'm running into a lot of frustration just doing simple tasks with the dnu and dnvm CLI tools due to a lack of accessible documentation.

Documentation is out there, but it appears to surface out of the ether and then disappear never to be found again. A lot of pages simply say that the docs haven't been written yet, where Visual S

[2015-10-29 00:58] oheard commented on #581
To clarify when I say accessible, I mean you literally cannot access it because it's impossible to find. When it is found it's either useful or out of date, though, which only serves to compound the problem.

[2015-10-29 01:17] robbert229 commented on #581
What documentation are you looking for specifically?

[2015-10-29 01:37] oheard commented on #581
Mostly on the subcommands and options accepted by the dnvm and dnu commands in this particular instance. Now that I have the tools installed and working correctly they /are/ self-documenting, which is fantastic.

The larger problem is the documentation that's out there is incomplete (which means following link after link to empty pages, frustration growing with every click (if it's not written, do

[2015-10-29 01:47] oheard commented on #581
For a comparison of how easy other platforms make it to find such documentation, the top results for others are:

"npm options": https://docs.npmjs.com/cli/npm
"gem options": http://guides.rubygems.org/command-reference/
"pip options": http://pip.readthedocs.org/en/stable/reference/pip_install/
"dnu options": http://typecastexception.com/post/2015/05/17/DNVM-DNX-and-DNU-Understanding-the-ASPNET-5-

[2015-10-29 01:53] oheard commented on #581
I have noticed that this is the usual pattern for .Net (for instance when the MSDN documentation browser appeared to have its usability sabotaged several years ago). Perhaps I'm being cynical, but should I sit back and expect a paperback to be released on Wrox?

[2015-10-29 02:23] robbert229 commented on #581
The new documentation is a work in progress, but I expect it to be much better than msdn docs as time goes on. I also am community member, I just have enough free time to lurk around here and attempt to solve issues and add to the docs.

[2015-10-29 03:29] oheard commented on #581
I didn't mean to come across as hostile towards you personally. It's just frustrating that these sorts of things go on in the Microsoft world (and that there still /is/ a "Microsoft world").

I appreciate your efforts, hopefully thanks to people like you who keep the faith one day .Net will join the rest of the wider open source community in an integrated/philosophical sense.

Microsoft should be

[2015-10-29 12:50] scottaddie opened #584 "Update "Building Projects with Yeoman" article"
This article needs to be updated for Beta 8 and to reflect the latest ASP.NET 5 generator changes. I'll be submitting a PR to address this.

[2015-10-29 17:33] MikeWasson commented on #581
The MVC 5 book is for the previous version of ASP.NET. (MVC 5 != ASP.NET 5)

[2015-10-29 18:50] oheard commented on #581
Thank you for pointing out my ignorance @MikeWasson. I've updated my comment above to apologise.

I'll leave this issue open because I think my experience does highlight a valid problem in terms of documentation/developer communication and my embarrassment is worth resolving such an issue. I'll leave it up to the people in charge to decide whether to give this any attention whatsoever.

[2015-10-30 14:19] OndrejValenta opened #588 "Docs - Standalone installation on Windows vs. Publishing on IIS"
I'd say after latest updates of [Publishing to IIS article](https://docs.asp.net/en/latest/publishing/iis.html#publishing-to-iis) installation documentation needs some consolidation. The problem is there are two articles which talk about the same, part of installation steps is in [Installing ASP.NET 5 On Windows](https://docs.asp.net/en/latest/getting-started/installing-on-windows.html) and part i

[2015-10-30 14:57] OndrejValenta commented on #571
I actually create new issue to move installation part of Publishing to IIS to Installing ASP.NET 5 on Windows. That would be more consistent I'd say and also more convenient for system administrators, which are probably going to be the ones installing and preparing environments.

[2015-10-30 18:53] rustd opened #589 "Security: Add docs for using Claims/ Cookie Middleware"
Do this without ASP.NET Identity so we can teach users the basics of Claims and Cookie middleware

[2015-10-30 18:54] rustd opened #590 "Security: Basic register/ login with ASP.NET Identity"
Add a basic walkthrough of using Identity in Empty project and create a basic walkthrough of register and login a user with username and password

[2015-10-30 18:57] thedanfernandez commented on #45
Since this article isn't going to be created, I'd suggest removing from the TOC for clarity

[2015-10-30 19:29] Rick-Anderson commented on #571
@OndrejValenta you don't need to install ASP.NET on the server to run asp.net app.

[2015-10-30 19:29] #571 closed

[2015-10-30 19:31] Rick-Anderson commented on #588
Those are two different processes. You generally don't want to install ASP.NET on the server. Also, when you create a new linked issue add the link #571

[2015-10-30 19:31] #588 closed

[2015-10-30 20:57] robbert229 opened #591 "Redundancy in MVC topic sections"
Right now with the MVC documentation there is section labeled **getting started** and one named **tutorials** what is the major difference between them? From my point of view both sections cover the same content just have different names.

[2015-10-30 21:54] danroth27 opened #592 "Remove Basics of Web Development from the ASP.NET TOC"

[2015-10-30 21:54] danroth27 commented on #592
https://github.com/aspnet/Docs/issues/45

[2015-10-30 23:23] Rick-Anderson opened #593 "create PDF from docs PR to get more early feedback"
We could get far more early feedback if customers could review PR's. The raw .rst file is very unreadable and it's far too much friction for most folks to install  Sphinx, pull down the pr, and then build.

http://docs.asp.net/projects/mvc/en/latest/getting-started/first-web-api.html#comment-2335708234

[2015-10-31 18:01] robbert229 opened #596 "Updating fundamentals/servers.rst"
I am taking a look at updating fundamentals/servers.rst. I am wondering about what we are doing with WebListener. I was under the impression that WebListener is getting phased out. Is it getting removed from from the docs completely?

[2015-10-31 18:10] ardalis commented on #596
Most likely. @danroth27 ?

[2015-11-02 12:07] OndrejValenta commented on #571
Oh, really? I didn't know that.. So because asp.net 5 is using DNX there is no need to install anything else on server than just DNVM, DNX and HttpPlatformHandler, right? I see your point now, but I also think there should be an article explaining the situation, because the system administrators I know are used to installing software through installers, to configure ASP.NET environment from IIS an

[2015-11-02 17:48] Rick-Anderson commented on #571
All the server needs is Install the HTTP Platform Handler

[2015-11-02 18:02] Shazwazza commented on #543
PR submitted: https://github.com/aspnet/Docs/pull/599

[2015-11-02 22:34] Rick-Anderson opened #600 "problems with "Using Gulp""
New ASP.NET Web Applications created in Visual Studio 2015 start with the Empty, Web API”, and *Web Site templates.

In addition to unbalanced * - it's very clumsy - rewrite this- something like
When you create a new asp.net web app (except for empty) with vs , NPM and Gulp is included. Don't use "by default" unless their is an option to not include it.

*Gulp is configured to copy Bootstrap, Hamm

[2015-11-03 19:39] Rick-Anderson commented on #452
@scottaddie I'm not seeing the PR

[2015-11-03 19:45] Rick-Anderson commented on #267
@vkichline  - is it OK if we add that to https://docs.asp.net/en/latest/client-side/bower.html ? Also, can you outline  how and why these are installed as they are, and how to alter the settings for different scenarios.and I'll get this updated.

[2015-11-04 04:14] scottaddie commented on #452
@Rick-Anderson Here you go. It was already merged: https://github.com/aspnet/Docs/pull/550

[2015-11-04 18:36] #518 closed

[2015-11-04 18:38] Rick-Anderson commented on #579
@Erikre  can you add this?

[2015-11-04 18:41] Rick-Anderson commented on #494
@danroth27  http://docs.asp.net/en/latest/dnx/commands.html states (incorrectly right now)
If you are using Visual Studio, then both SecretManager and SqlConfig should already be installed for you.

[2015-11-04 19:08] Rick-Anderson commented on #169
@danroth27  me and @MikeWasson are banning summaries. If you have something useful to say, why is it not in the article? If it's not useful, why is it in the summary. 90%+ of the summaries we have are liabilities, they don't contribute to the article. We should be opening issues - "Remove SPAM summary".

[2015-11-04 19:08] #169 closed

[2015-11-04 19:12] Rick-Anderson commented on #519
done

[2015-11-04 19:12] #519 closed

[2015-11-04 19:15] Rick-Anderson commented on #559
PR pending.

[2015-11-04 19:15] #559 closed

[2015-11-04 20:18] danroth27 opened #603 "Update Commands doc with info on what scenarios global commands are intended for"
http://docs.asp.net/en/latest/dnx/commands.html#comment-2341662532

[2015-11-05 15:37] GuardRex opened #605 "Broken Bullet in Publishing to IIS document"
@Rick-Anderson

The bullet is slightly broken (two dashes perhaps?) at: https://docs.asp.net/en/latest/publishing/iis.html

![capture](https://cloud.githubusercontent.com/assets/1622880/10972822/ba6b7f10-838f-11e5-9312-a4331936d20c.PNG)

[2015-11-05 17:11] Rick-Anderson commented on #605
@GuardRex  thanks - I'll get that fixed next update.

[2015-11-05 17:39] SpaceShot commented on #592
I can submit a PR for this shortly

[2015-11-05 19:45] billjwolff commented on #605
i have this fixed and will commit in a few minutes

[2015-11-05 19:55] plitwin commented on #535
I will work on this today during the hackathon

[2015-11-05 19:58] SpaceShot commented on #592
Submitted PR #608

[2015-11-05 20:05] row5is commented on #407
I'll work on this now.

[2015-11-05 20:10] robbert229 commented on #535
By the way I already have a PR for https://github.com/aspnet/Docs/tree/master/mvc/tutorials/mvc-with-entity-framework.rst, just making sure we both don't do the same work.

[2015-11-05 20:36] SpaceShot opened #612 "Update Contributing instructions - Add use of sphinx-autobuild back in"
I believe sphinx-autobuild is working again.  I used it today with a machine that didn't have python installed.

**I can work on adding these back in and clarifying them...**

I installed Python 3.4.3 and followed the old directions to get sphinx-autobuild working:

Other folks working near me used 3.5 and also got this working.

**Should we have instructions to use 3.5 or stick with 3.4 as recomm

[2015-11-05 20:46] ardalis commented on #612
Go ahead and recommend 3.5 if it's working; no need to have people installing older versions for no good reason. @danroth27 also wants a link to the video - can you add a section to the top as part of your PR that says "Watch a video showing how to get started building the docs locally" and link to http://ardalis.com/contributing-to-asp-net-5-documentation ?

Thanks!

[2015-11-05 21:07] SpaceShot commented on #612
Yep will do... working on it now

[2015-11-05 21:09] plitwin commented on #535
robbert229 Okay, I will back off this. Thanks for letting me know.

[2015-11-05 21:32] row5is commented on #407
submitted pr #613

[2015-11-05 23:39] SpaceShot commented on #612
PR #614

I backed off on Python 3.5 because, when following the instructions in a clean Win 8.1 VM, it didn't work.  A fellow attendee is working fine, but I'll investigate further before recommending.

But for Python 3.4, followed these instructions to the letter and got the nice autobuilding support in aspnet, mvc, or webhooks folders.

[2015-11-05 23:45] plitwin commented on #530
I'd like to work on this.

[2015-11-06 01:05] plitwin commented on #535
Thanks for letting me know. I am leaving it to you.
Paul Litwin

From:  John Rowley <notifications@github.com>
Reply-To:  aspnet/Docs
<reply+00117bf386f153a4c85d300733f81b7e5f2d7cfe76f5a6e992cf00000001125379b79
2a169ce06a98f95@reply.github.com>
Date:  Thursday, November 5, 2015 at 12:10 PM
To:  aspnet/Docs <Docs@noreply.github.com>
Cc:  Paul Litwin <paul@litwinconsulting.com>
Subject:  Re: [Docs]

[2015-11-06 04:55] danroth27 commented on #530
@plitwin Sounds good!

[2015-11-06 05:05] plitwin commented on #558
I'd like to work on this one.

[2015-11-06 05:08] plitwin commented on #530
@danroth27  Should this simply include a link or should there be some text around it? Are there other articles that do this that you wish for me to emulate?

[2015-11-06 05:26] danroth27 commented on #530
I think this should just be a TOC entry in index.rst under the Working with Data node.Ideally we would use intersphinx for the link, but for now we can just hard code the URL.

[2015-11-06 05:34] plitwin commented on #558
@Rick-Anderson I can't seem to get this line to compile: if (context.Database.AsRelational().Exists()) The compiler complains about the AsRelational() method and I can't figure out what replaces it in Beta8 or if that if statement is even needed anymore.

[2015-11-06 06:10] Rick-Anderson commented on #558
@rowanmiller - Beta5 used if (context.Database.AsRelational().Exists())  - what's the Beta8 version?

[2015-11-06 07:52] CallMeLaNN opened #616 "Update sociallogins.rst: Install SecretManager command should be updated to beta8"
This two commands:

    dnvm use 1.0.0-beta5
    dnu commands install SecretManager

I think should be updated to:

    dnvm use 1.0.0-beta8
    dnu commands install Microsoft.Framework.SecretManager

However I found two different issues here aspnet/dnx#3138 and aspnet/dnx#2872

[2015-11-06 12:05] ltheONEl opened #617 "Restoring Aspnet 5 project from cs online git repo cause visual studio to crash. Cant delete the local repo due to file path too long error."
I have been working my way through the tutorial documentation, building various examples under a single solution.  I pushed this project into my git repo in visual studio online.
Later I tried pulling the project from git to another windows 10 pc, using visual studio (2015 pro).
As soon as I opened the solution vs started executing various npm tasks.  before completing this visual studio crashed,

[2015-11-06 17:28] robbert229 opened #618 "Update mvc/security/cors-policy.rst from beta4 to beta8"
Just heads up I am updating /mvc/security/cors-policy.rst, and its related project to the latest beta.

[2015-11-06 17:35] rowanmiller commented on #558
What's the scenario you are trying to achieve. Exists is hidden away a bit deeper but we have top level APIs to achieve most of the higher level tasks where this API is needed.

[2015-11-06 18:18] Rick-Anderson commented on #558
@rowanmiller  see http://docs.asp.net/projects/mvc/en/latest/tutorials/mvc-with-entity-framework.html

public static class SampleData
    {
        public static void Initialize(IServiceProvider serviceProvider)
        {
            var context = serviceProvider.GetService<BookContext>();
            if (context.Database.AsRelational().Exists())
            {

[2015-11-06 18:28] robbert229 commented on #558
Guys I already have a RP in for this... Its been there for a while. https://github.com/aspnet/Docs/pull/582

[2015-11-06 18:32] Rick-Anderson commented on #558
@robbert229  look great, next time ping the authors too :--) I gave it a :shipit:

[2015-11-06 18:32] #558 closed

[2015-11-06 18:40] rowanmiller commented on #558
I commented on the PR with suggestions for this piece of code

[2015-11-06 20:42] robbert229 commented on #596
@ardalis @danroth27 any idea?

[2015-11-06 22:24] danroth27 opened #620 "Migration: concept mapping"
We should provide a document that helps existing ASP.NET developers map existing ASP.NET concepts to the ASP.NET 5 world (ex handlers -> middleware, no synchronization context, etc).

[2015-11-06 23:09] danroth27 commented on #596
No, WebListener will continue to exist. It supports features on Windows that Kestrel does not yet support.

The big change was the removal of the Helios host for hosting on IIS. Instead we are using the HttpPlatformHandler and Kestrel.

[2015-11-06 23:48] swimhiking opened #621 "Just start follow the document, and get /api/todo HTTP 404"
I try to  following your October 2015 document to Building Your First Web API with MVC 6, then get HTTP Error 404.0 - Not Found

[2015-11-06 23:55] robbert229 commented on #618
opened pr 622 for this.

[2015-11-06 23:59] robbert229 commented on #596
Okay, thanks. I knew something was getting changed, just didn't know what.

[2015-11-07 00:04] robbert229 commented on #591
Example inside of Tutorials there is an article named **Building Your First MVC 6 Application**. The title at the top of the page is **Get Started with EF7 using MVC6**. Then in the getting started section there is only stubs for **Building Your First MVC 6 Application**

[2015-11-07 00:07] robbert229 commented on #591
@MikeWasson @Rick-Anderson ^

[2015-11-07 00:08] robbert229 commented on #621
What exactly are you doing? Details please.

[2015-11-07 00:50] danroth27 commented on #591
Yeah, we should be consistent with what we do in the ASP.NET project. Getting Started should cover installation and Tutorials should be, well, tutorials :smile:.

[2015-11-07 00:51] danroth27 commented on #591
Note that the MVC installation instructions should assume ASP.NET 5 was already installed. So, it's basically just installing the right package.

Something like what expressjs has would make sense: http://expressjs.com/starter/installing.html

[2015-11-07 02:24] #618 closed

[2015-11-07 02:27] robbert229 commented on #591
That's what I was thinking. I was confused while looking through. Do you want me to merge it (similar to expressjs) and make a pr?

[2015-11-07 18:14] Rick-Anderson commented on #621
http://docs.asp.net/projects/mvc/en/latest/getting-started/first-web-api.html
•If no item matches the requested ID, the method returns a 404 error. This is done by returning HttpNotFound.
If you're having a problem following the tutorial, can you leave a question in DISQUS at the end. It doesn't sound like this is an issue with the tutorial.

[2015-11-07 18:14] #621 closed

[2015-11-07 18:24] Rick-Anderson commented on #617
You should be able to Shit + delete to delete the parent folder, but you can't delete it from the command line.
I use robocopy - see http://superser.com/questions/45697/how-to-delete-a-file-in-windows-with-a-too-long-filename
to delete the node directory when I need to delete it from a script.
mkdir empty_dir
robocopy empty_dir the_dir_to_delete /s /mir
rmdir empty_dir
rmdir the_dir_to_delete

You

[2015-11-07 18:26] Rick-Anderson commented on #612
@SpaceShot I've verified it works with 3.4 and the @ardalis  video is excellent and should be added back.

[2015-11-07 18:31] Rick-Anderson opened #623 "Force DISQUS to use HTTP not HTTPS"
DISQUS saves comments from HTTPS requested docs are not visible to the same doc referenced using HTTP and vice-versa. For example see
https://docs.asp.net/en/latest/publishing/iis.html
http://docs.asp.net/en/latest/publishing/iis.html

see https://github.com/barryclark/jekyll-now/issues/165

[2015-11-07 18:37] Rick-Anderson opened #624 "Update Application Startup"
http://docs.asp.net/en/latest/fundamentals/startup.html

[2015-11-07 21:48] plitwin commented on #558
@robbert229 Oh well. Darn. Wish you would comment when you are working on something but thanks for letting me know.

[2015-11-07 22:37] robbert229 commented on #558
Sorry about that, I'm new to open source.

[2015-11-08 00:55] #592 closed

[2015-11-08 01:06] #605 closed

[2015-11-08 01:25] #407 closed

[2015-11-08 02:08] #612 closed

[2015-11-08 05:45] danroth27 opened #625 "Fix page titles to have the right version"
Currently the built docs have page titles that look like this:

[code]

The version is being pulled from the version in conf.py, which doesn't match the branch versions. We need to figure out how to get this cleaned up.

[2015-11-08 19:25] davidfowl opened #626 "Doc about Migration from Katana"
http://blogs.msdn.com/b/webdev/archive/2014/11/14/katana-asp-net-5-and-bridging-the-gap.aspx

/cc @Tratcher @danroth27

[2015-11-09 20:07] JakobBlomberg commented on #193
Very interesting with the whole ServiceFabric concept and looking forward to being able to use ASP.NET 5 with ServiceFabric. Are there already now any tutorials or guides on how to setup such a project? Have completed the tutorial on how to setup a WebAPI using OWIN Self-hosted but all my projects have been converted to MVC6 so I'd really like to use them with ServiceFabric.