[2020-01-14 15:20] CrispyBaguette commented on #16538
I think this means that the instructions in the following sections make use of Docker volume mounts (-v flag). I agree that this sentence can be a bit confusing.

[2020-01-14 15:35] RedDeathGitHub commented on #16544
OK, thanks for the answer!

[2020-01-14 18:33] #16519 closed

[2020-01-14 18:47] #16538 closed

[2020-01-14 18:51] #16515 closed

[2020-01-14 18:56] Rick-Anderson opened #16549 "5.0 update: Razor Pages tutorial series"
## Update All 9 tutorials in the Razor Pages Series + app samples
* Remove most includes
  * The includes were needed when we had 3 versions of each tutorial. VS, VSC, VSmac. Now that we have tabs, they’re not necessary.
* Add the following command after  `dotnet tool install --global dotnet-aspnet-codegenerator`:
* `dotnet tool install --global dotnet-aspnet-codegenerator`: is missing in Mac vers

[2020-01-14 19:15] Rick-Anderson commented on #16533
@stanimirsellercloud

Any chance you could PR this? At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

[2020-01-14 19:34] #13997 closed

[2020-01-14 20:55] serpent5 commented on #16498
@bbarry The topic already states the following:

This isn't something that can be changed (see the [source](https://github.com/dotnet/extensions/blob/release/3.1/src/HttpClientFactory/Http/src/DependencyInjection/HttpClientBuilderExtensions.cs#L328-L335)).

@Rick-Anderson Would you be interested in a PR to address @metoule's concern here, or is this with PU to determine whether or not it _should_

[2020-01-14 21:03] Rick-Anderson opened #16551 "z"
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2020-01-14 21:03] #16551 closed

[2020-01-14 21:05] rsganta opened #16552 "Error while calling services.AddRazorPages()"
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1929	'IServiceCollection' does not contain a definition for 'AddRazorPages' and the best extension method overload 'MvcRazorPagesMvcCoreBuilderExtensions.AddRazorPages(IMvcCoreBuilder)' requires a receiver of type 'IMvcCoreBuilder'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-01-14 21:06] Rick-Anderson commented on #16552
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2020-01-14 21:06] #16552 closed

[2020-01-14 21:53] idchlife opened #16553 "It's not yet clear with which old browser versions (even past years) we could encounter incompatibilities."
I know this was discussed already, but I can't see clear picture with browser versions support, which makes using (or starting using) Blazor kinda risky.

How would we know that Blazor server would work for example if some people use like kinda outdated version of Firefix/Chrome due to them sitting in Windows 7 and not knowing how to update their browser? (happened several time (not with Blazor bu

[2020-01-14 21:56] guardrex commented on #16553
Hello @idchlife ... Management usually triages these on Fridays, so stand-by for them to take a followup look at this issue, either this Friday or the next.

[2020-01-15 00:16] VR-Architect commented on #13316
Yes please. Thise code doesn't work:

    private async void LogoutUser()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (SignInManager.IsSignedIn(authState.User))
        {
            await SignInManager.SignOutAsync();
        }

        NavigationManager.NavigateTo("~/", true);
    }

[2020-01-15 00:40] guardrex commented on #13316
@VR-Architect Blazor Server app?

[2020-01-15 01:23] Rick-Anderson commented on #16547
Remove simple from doc. Use basic or similar.

[2020-01-15 03:28] Qiangong2 opened #16556 "Postgresql and asp.net core 3.1"
I'm learning asp.net now, and I'm trying to follow this guide: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?tabs=visual-studio&view=aspnetcore-3.1

However, I am trying to use it with a postgresql database I've already setup (I'm more comfortable with it). How do I switch it to a localhost postgresql database?

Sorry if this is in the wrong place.

[2020-01-15 03:34] levitatejay commented on #14944
The problem is the API Resource isn't requesting the role claim by default...
Adding the following seems to fix it...

[code]

You can also use a Custom Profile Service to manually add a role claim as you can see here:
https://stackoverflow.com/questions/58372961/authorization-role-policy-attributes-not-working-in-net-core-3

[2020-01-15 04:02] HaoK commented on #14944
@blowdart fyi we might be missing something in the templates to use roles with the API templates

[2020-01-15 06:11] zhou-xb commented on #16518
Hi Luke,

Referring the below:

The position of @attributes relative to the position of element attributes
is important. When @attributes are splatted on the element, the attributes
are processed from right to left (last to first). Consider the following
example of a component that consumes a Child component:

ParentComponent.razor:
<ChildComponent extra="10" />

ChildComponent.razor:
<div @attrib

[2020-01-15 06:24] spalek-edhouse commented on #14944
@levitatejay I've modified the code that I posted previously as you suggested and it has the same result as before. No role claims...
![2020-01-15_07-02-04](https://user-images.githubusercontent.com/55577939/72409106-1c0c1580-3765-11ea-8f01-42b7d0eafae3.png)
I'll give a shot to Custom Profile Service but it looks like the default way is not working properly.

[2020-01-15 09:37] Lauyea opened #16557 "Scaffolding problem"
Scaffold pages will not set namespace automatically.

Like scaffold students in Pages.Students folder, the namespace should be: namespace ContosoUniversity.Pages.Students

But in fact, it will be: namespace ContosoUniversity

Is this operate correctly? Or it's a new change to this function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-01-15 10:26] guardrex commented on #16518
They're processed **_from the right_** ...

The parent component is ...

[code]

If the order in the Child component is ...

[code]

... then the result is ...

[code]

If the order in the Child component is ...

[code]

... then the result is ...

[code]

That's what the example shows. Run the example locally. That's the result you will get if you set up a test app there and run this scenario.

[2020-01-15 11:28] sommmen commented on #13771
I am very much interested in this aswell.
I tried calling stopasync and dispose but i still get a 'socked disconnected forecefully' on the hub server.

[2020-01-15 11:39] javiercn opened #16558 "[Blazor] Blazor + EF documentation topic"
Can we make an article about using EF with serverside Blazor in the same way we have one for Razor pages?

I wrote a comment and a sample on the pattern to follow here.

The main points are:
* Showcase how to do CRUD
* Use OwningComponentBase to isolate the usage of the context to the component it is being used in.
* Explain that if you use the context directly, the context is shared among compone

[2020-01-15 13:07] smiller7812 opened #16559 "Plural vs. Singular Properties"
It would be nice if the movie property was made plural here into Movies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70f6104a-a223-4bb3-4101-f553002b9b26
* Version Independent ID: 15e79e80-8d46-7cd5-c883-6cc0f5940a1b
* Content: [Scaffolded Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tut

[2020-01-15 14:29] zhou-xb commented on #16518
So, can I conclude that processing is from right and will ignore the same attribute to the left?

[2020-01-15 14:32] guardrex commented on #16518
Yes

[2020-01-15 15:31] zhou-xb commented on #16518
Thank you very much. Still, I think some will consider this is processing from left to right, because the last rightmost among same name attributes witll come out as the result. Or, I suggest you add ".. from right to left and only take the first occurance of same name attributes ..". Sorry to be "talkative"

[2020-01-15 15:36] guardrex commented on #16518
The framework has to know about the right-most attribute **_first_** in order to use it as it checks each attribute moving to the left. Therefore, it is processing from right-to-left. Besides, the example makes it clear.

[2020-01-15 17:19] Rick-Anderson commented on #16557
Check the download. The scaffolder creates the correct namespace.

[2020-01-15 17:23] Rick-Anderson commented on #16559
That might be better but we'll keep it.

[2020-01-15 17:23] #16559 closed

[2020-01-15 17:25] #16482 closed

[2020-01-15 17:33] kendrickhang opened #16561 "Visual Studio for Mac: LocalDB is not supported on this platform."
When my colleagues and I run this tutorial on our Macs (latest VS 2019 for Mac, Community Edition; .NET 3.1.1), we get an "LocalDB is not supported on this platform." error when running the "dotnet ef database update" step on the command line.

When I ran the tutorial a few months ago, I noticed the generated code in Startup.cs was referring to Sqlite:
services.AddDbContext&lt;RazorPagesMovieConte

[2020-01-15 17:51] Rick-Anderson commented on #16561
Follow the Mac instructions

[2020-01-15 18:03] kendrickhang commented on #16561
Hi Rick, yes, I did, and I had three other developers do it with me. There is something that is not matching up. Thanks for taking a look if you can. -Ken

[2020-01-15 18:54] Rick-Anderson commented on #16561
Our high school interns went through this using mac's. You need to select the Mac tab. We have lots of mac customers reporting success.

[2020-01-15 19:43] talmadge-simpson commented on #16561
I too am running into the same issue. I when through the process twice with the same result and verified that I am following the MAC tab. I see that this issue is closed. How was the matter resolve?
Please advise
Thank you

[2020-01-15 19:51] Rick-Anderson commented on #16533
Lots of problems with this tutorial.

* Need to add link to https://docs.microsoft.com/en-us/javascript/api/@microsoft/signalr/iretrypolicy

[2020-01-15 20:04] #16533 closed

[2020-01-15 20:05] wadepickett commented on #16533
@Rick-Anderson , adding the link and moving the code comments in the code snippet in the doc back out into the text so it gets localized in the PR I currently have open, and tested the code.

[2020-01-15 20:07] wadepickett commented on #16533
Correction, just saw you closed my PR AFTER I already entered my last comment...

[2020-01-15 20:10] Rick-Anderson commented on #16561
@sayedihashimi  customers are reporting your latest changes are not working.

[2020-01-15 21:51] hectoresoto opened #16562 "ADO.NET"
What if I want to use ADO.NET with ASP.NET Core? how would I go about doing so?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03221075-5dfa-d1b6-0552-3fe88abe1d03
* Version Independent ID: b8c7d824-35ca-68fb-e3be-839ae886657c
* Content: [Work with a database and ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/co

[2020-01-15 22:56] Rick-Anderson commented on #16562
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-01-15 22:56] #16562 closed

[2020-01-15 23:03] davidbuckleyni opened #16563 "_SelectLanguagePartial.cshtml Code does not remember the value selected"
Documentation is badly incomplete surrounding the saving of the value of the drop-down in that so it can remember.

When you create the _SelectLanguagePartial.cshtml and place it in your layout file it changes the language and the cookie is created.

However, once you navigate off the page it does not remember the cookie value in the dropdown and reverts back to default Language and not the chosen

[2020-01-15 23:06] davidbuckleyni commented on #11742
https://github.com/aspnet/AspNetCore.Docs/issues/16563 I am having the same issue here totally re producible I shouldn't have to use another third-party component as this is Microsoft documentation the above solution is not correct.

[2020-01-15 23:07] davidbuckleyni commented on #11742
@FaridGN  DID You solve your issue I am having the act same problem

[2020-01-15 23:10] davidbuckleyni commented on #16563
This does not fix the problem !!!!!! why is the bot closing these issues

[2020-01-16 00:14] jnpwly opened #16564 "The button labelled "Developing ASP.NET Core Applications with Docker over HTTPS" leads to a 404 response"
The button labelled "Developing ASP.NET Core Applications with Docker over HTTPS" has a URL which then leads to a 404 response: https://github.com/dotnet/dotnet-docker/blob/master/samples/aspnetapp/aspnetcore-docker-https-development.md.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3653642e-61ef-717b-5436-9bd0a3c4e6f

[2020-01-16 01:01] Rick-Anderson opened #16565 "Apply comments in code not localized survey"
When #16335 merges, apply the following to any doc with lots  of useful code comments:

`[!INCLUDE[](~/includes/MTcomments.md)]`

[2020-01-16 01:24] guardrex commented on #16564
Thanks @jnpwly ... It was moved here :point_right: https://github.com/dotnet/dotnet-docker/blob/master/samples/run-aspnetcore-https-development.md

I'll patch that real quick! 🏃

[2020-01-16 01:55] hishamco commented on #11742
While the issue is closed, please file a new one and link it to this

Ping me whenever you create it

[2020-01-16 04:15] Rick-Anderson commented on #16556
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. We don't support Posgresql. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core S

[2020-01-16 04:15] #16556 closed

[2020-01-16 04:16] TheEcMan commented on #15214
Agreed. If you figured out it means, please let us know

[2020-01-16 04:18] Rick-Anderson commented on #16563
@hishamco please review.

[2020-01-16 05:15] hishamco commented on #16563
Sure, but give me some time coz I'm suffering in my country due a problem with the Internet cable issue

Hope to have a look ASAP

[2020-01-16 11:10] mmarinchenko opened #16567 ""C++ client" link points to obsolete repository"
The link should point to https://github.com/aspnet/SignalR-Client-Cpp

See https://github.com/dotnet/aspnetcore/issues/5301#issuecomment-499985458 for reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edc76539-dcd8-8271-b876-f2b492af9b49
* Version Independent ID: d0106767-c04e-39a8-fe1d-a40352552c62
* Content:

[2020-01-16 11:15] guardrex commented on #16567
Thanks @mmarinchenko ... I'll patch that up right now.

[2020-01-16 11:19] #16567 closed

[2020-01-16 13:23] arkiaconsulting commented on #7063
@maurei @mattfrear workaround works for me with Net Core 3.1.

[2020-01-16 13:28] Organwolf commented on #16557
I've had the same problem. I see that that isn't an issue in the github project but I have followed the instructions but all of my scaffolding has ended up under the "ContosoUniversity" namespace which is leading to 40+ errors.

[2020-01-16 17:27] mcNux commented on #11610
For those still on core 2.2, this may work for you (has for me) - https://stackoverflow.com/a/59774701/1111662.

[2020-01-16 17:55] bbarry opened #16569 "When using endpoint routing, how do you enable cors with the default policy?"
https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-3.1#enable-cors-with-endpoint-routing

1. do you not need `app.UseCors();` anymore?
2. do you not need `services.AddCors(...);` if you use the overload that configures a policy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59bca5db-1196-2a8b-a

[2020-01-16 18:16] rafaelldi commented on #16158
Hi,
call this comand `dotnet openapi add url -p ./Client.csproj --output-file SomeApi.json http://localhost:5000/swagger/v1/swagger.json`. It will generates `SomeApiClient.cs` partial class in the `obj` folder from the OpenAPI contract. After that, add an empty `SomeApiClient` to your project. Now, you can call API methods with `SomeApiClient`.
Here is my [example project](https://github.com/rafae

[2020-01-16 18:22] Rick-Anderson commented on #16557
You ran the scaffolder in the wrong folder

[2020-01-16 18:36] Rick-Anderson commented on #16569
I believe `app.UseCors();` enables the default policy for all endpoints. At any rate this is a dup of #13423
@pranavkm  can you confirm and give me an ETA on when we can update this article? You just need to make a quick pass through it, I'll finish it up.

[2020-01-16 18:36] #16569 closed

[2020-01-16 19:30] Arden-Zhu opened #16572 "./swagger/v1/swagger.json does not work in IIS"
It took me 30 minutes to try case by case and found that ../swagger/v1/swagger.json could work eventually.  Is it an error in the document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14fce65f-1337-58cb-2193-8d8e0e62792d
* Version Independent ID: 59222460-a971-e76e-4fe9-23d4d7d768ee
* Content: [Get started with Swas

[2020-01-16 21:16] #16099 closed

[2020-01-16 21:21] DarkFM opened #16574 "Error in documentation when Enabling cors as attribute"
The doc asserts that the call to "app.UseCors()" is unesscary when trying to enable CORS for only specifi endpoints and not have it apply globally.
This issue was raised here [Link](https://github.com/dotnet/aspnetcore/issues/17830).
Please update the docs to avoid confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-01-16 21:23] #15205 closed

[2020-01-16 22:28] #13546 closed

[2020-01-16 22:28] #13062 closed

[2020-01-16 22:28] #16399 closed

[2020-01-16 23:09] #14409 closed

[2020-01-16 23:10] #16363 closed

[2020-01-16 23:15] #16270 closed

[2020-01-16 23:15] #16273 closed

[2020-01-16 23:45] #15983 closed

[2020-01-16 23:53] #12476 closed

[2020-01-16 23:53] #12617 closed

[2020-01-16 23:53] #15508 closed

[2020-01-16 23:53] #15915 closed

[2020-01-16 23:56] guardrex commented on #15853
@danroth27

**_Just ONE more!_** (*yeah, right!* :smile:)

Just need a decision on this one to work it. *Underscores on fields!* ... we're a bit 😵 at the moment. :point_up:

[2020-01-17 00:45] danroth27 commented on #15853
Private fields in Razor components are still just private fields in a class, so they should follow the standard coding guidelines of both using the explicit access modifier and the leading underscore on the field name.

And if I fail to follow the guidelines it's just my own personal rebellion and not an endorsement of a different coding style :smiley:.

[2020-01-17 00:54] guardrex commented on #15853
Cool ... I'll take care of this quickly because the inconsistency bothers me.

⚔️ **_Hear 'ye! Hear 'ye! Join Dan's Rebellion!_** ⚔️

[2020-01-17 05:50] PiotrPerak opened #16579 "Is Worker service project type supported on Azure AppService?"
If it is how it should be deployed from Azure Release Pipelines? It seems that it is not. Once deployed using Azure App Service deploy task it just doesn't start. More info also in my question here - https://stackoverflow.com/questions/59770756/workerservice-deployed-to-azure-app-service-is-not-starting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-01-17 07:06] Justin-ZS opened #16580 "Some issues in VS Code version"
Should be:

* Add a folder named *Data*.
* Add a file to the *Data* folder named *RazorPagesMovieContext.cs*.
* Add the following *RazorPagesMovieContext* class to the file.

`MovieContext` should be `RazorPagesMovieContext`
`app.UseDatabaseErrorPage()` should be removed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6

[2020-01-17 08:56] petrce opened #16581 "Microsoft.AspNetCore.DataProtection is v3 not compatible with azure functions anymore"
according to this: https://github.com/Azure/azure-functions-host/issues/5447
DataProtection since version 3 is not compatible with Azure Functions anymore (v2 is fine), I think the documentation should mention it...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7425f4e-80fe-7972-7e7f-83948811c078
* Version Independen

[2020-01-17 10:56] softlion commented on #13856
@guardrex it is documented there https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/?view=aspnetcore-3.1&tabs=visual-studio

[2020-01-17 12:11] cambo2015 opened #16582 "Add React Authorization Examples"
**Help us make content visible**

- Tell us what search terms you used and how you searched docs.
1. Asp.net React Authorization

- Tell us what docs you found that didn't address your concern.

Asp.net simple authorization
**Describe the new topic**

Explains how to to Authorization in asp.net with React

- Explain why this topic is needed.

Asp.net is used to build apis fast and React js is used

[2020-01-17 12:17] guardrex commented on #16579
Hello @PiotrPerak, *Indeed,* "warming" **_WEB_** apps in Azure Apps (and IIS) has been an occasional question on the repo. We normally recommend the [Application Initialization Module](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-3.1#application-initialization-module) for that scenario. *That's not suitable tho in this case.*

I checked their docs, too, for thi

[2020-01-17 12:26] guardrex commented on #13856
Hello @softlion, :smile: lol ... *I wrote that.* :smile: ... No, what I'm asking, need to research further, and receive engineering notes on is if/how **_the MapFallbackToPage pattern relates to the app base path_**.

[2020-01-17 13:32] softlion commented on #13856
@guardrex 😄
I have searched for this info much longer than necessary, so i copy it on all the pages where the search engine sent me ;)

[2020-01-17 13:34] softlion commented on #13856
MapFallbackToPage seems to be able to map to both the base path and the non base path. Maybe this is an error.

[2020-01-17 17:25] CeciAc opened #16584 "Aren't WebHostBuilder used in .net core 3.1?"
@JingLi-kooboo commented on [Thu Jan 16 2020](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/239)

Aren't WebHostBuilder used in .net core 3.1? Don't you need to replace it with IHostBuilder？

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 77889d43-fedb-f8b4-8fea-379ec946555c
* Version Independent ID: f499b131-8b14-7e10-1728-543fdd5a5656
* Content: [ASP.NET C

[2020-01-17 17:33] guardrex commented on #16584
Yes, `IHostBuilder` is used. Look at the 3.1 version of the sample app.

https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/test/integration-tests/samples/3.x/IntegrationTestsSample/src/RazorPagesProject/Program.cs#L41

[2020-01-17 17:33] #16584 closed

[2020-01-17 17:36] Rick-Anderson commented on #16580
Add the following `RazorPagesMovieContext ` class to the _Data_ folder

That doesn't need to be two steps.

We'll fix that in the next sweep. It shows how to use the two DB's.

Why?

[2020-01-17 17:39] Rick-Anderson commented on #16561
Moved to Master Issue #15941

[2020-01-17 17:39] Rick-Anderson commented on #16580
Moved to Master Issue #15941

[2020-01-17 17:42] Rick-Anderson commented on #16401
Note: only the VS tab shows the wrong namespace. The VSC tab is correct.

[2020-01-17 17:51] Rick-Anderson commented on #16581
@petrce  doesn't [Data Protection: DataProtection.AzureStorage uses new Azure Storage APIs](https://docs.microsoft.com/en-us/dotnet/core/compatibility/aspnetcore#data-protection-dataprotectionazurestorage-uses-new-azure-storage-apis) explain it?

[2020-01-17 18:26] Decompressor-art opened #16585 "VS for Mac"
Right click on the Pages/Movies folder &gt; Add &gt; New Scaffolding...
I have no New Scaffolding in drop menu, how to fix it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add a model to a Razor Pages app i

[2020-01-17 18:38] danielfoxp2 commented on #13284
I don't get it. I just created a new MVC with authentication in 3.1 .NET core and it came with those warnings. Why the scaffold is done by you in a way that you do not recommend it?

[2020-01-17 19:14] mkArtakMSFT commented on #16192
This issue was moved to dotnet/aspnetcore#18425

[2020-01-17 19:14] #16192 closed

[2020-01-17 19:28] mkArtakMSFT commented on #16553
This will require some discussions on our end to come up with a more specific browser compatibility version list.

[2020-01-17 19:28] Rick-Anderson commented on #16585
Install the listed prerequisites.

[2020-01-17 19:31] mkArtakMSFT commented on #12854
These are now documented.

[2020-01-17 19:31] #12854 closed

[2020-01-17 19:32] mkArtakMSFT commented on #14191
We track this work at https://github.com/dotnet/aspnetcore/issues/12320

[2020-01-17 19:36] mkArtakMSFT commented on #10931
Will handle the remaining API docs as part of https://github.com/dotnet/aspnetcore/issues/18427

[2020-01-17 20:01] ytingyeu opened #16586 "Does the example code violate "Don't inject a scoped service via constructor injection"?"
This page has this warning in section **Service lifetimes**

However the last example code in section **Overview of dependency injection** injects some scoped objects into `IndexModel` via constructor.

[code]

[code]

Doesn't this injection violate the warning above?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d78

[2020-01-17 20:04] guardrex commented on #16586
Hello @ytingyeu ... that's not a [**_middleware_**](https://docs.microsoft.com/aspnet/core/fundamentals/middleware/). It's fine to inject a scoped service into a controller or page model **_class_**.

[2020-01-17 20:04] #16586 closed

[2020-01-17 20:46] snerpton opened #16587 "Unable to scaffold movie pages on a mac using Visual Studio"
# Issue description

Unable to scaffold movie pages on a mac using Visual Studio

# Software versions

- OS: MacOS 15.2
- Visual Studio for Mac: 8.4

<details>
<summary><strong>dotnet --info output</strong></summary>

[code]
</details>

Running the scaffold command resulted in:
[code]

Turns out this was because `aspnet-codegenerator` wasn't installed. This can be installed via:

[code]

Not sure

[2020-01-17 21:15] #16587 closed

[2020-01-17 21:15] #16585 closed

[2020-01-17 21:17] Rick-Anderson commented on #16585
See https://github.com/aspnet/AspNetCore.Docs/pull/16588/files

[2020-01-17 22:00] Rick-Anderson commented on #16582
All we have is [Authentication and authorization for SPAs](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.1) and we have no plans to add React specific tutorials.

[2020-01-17 22:00] #16582 closed

[2020-01-17 22:40] Rick-Anderson opened #16590 "Add The validation system in .NET Core 3.0 and later treats non-nullable parameters"
See https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-3.1#required-attribute

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76f39eec-9dd1-6167-56ec-47b26e0b5063
* Version Independent ID: f9f2b0f3-01eb-cf58-8767-194fe0fc0e44
* Content: [Migrate from ASP.NET Core 2.2 to 3.0](https://docs.

[2020-01-17 22:47] #16590 closed

[2020-01-17 22:56] Rick-Anderson opened #16594 "Fix download so it compiles"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97234f18-4009-0ebf-a379-9b63125529cd
* Version Independent ID: 1bf4792d-dab4-e03d-2021-3dcdcaff6a0f
* Content: [Examine the Details and Delete methods of an ASP.NET Core app](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/details?view=aspnetcore-3.1

[2020-01-17 23:04] Rick-Anderson commented on #16498
@pranavkm  can you approve this proposed work. 45 second review needed.

[2020-01-17 23:05] Rick-Anderson commented on #6295
@serpent5  we'd really appreciate a PR from you on this.

[2020-01-17 23:06] Rick-Anderson commented on #12997
@serpent5 we'd really appreciate a PR from you on this.

[2020-01-17 23:15] #16594 closed

[2020-01-18 01:47] #11687 closed

[2020-01-18 01:49] #12107 closed

[2020-01-18 09:08] Decompressor-art commented on #16585
[code]

[2020-01-18 09:08] Decompressor-art commented on #16585
What to do with this?

[2020-01-18 13:37] cveld opened #16598 "gRPC-Web"
During .NET Conf: Focus on Blazor, Steve Sanderson showed us a setup with gRPC-Web. His sample solution can be found here: https://github.com/SteveSandersonMS/presentation-2020-01-DotNetConf/blob/master/samples/aspnetcore/blazor/FlightFinder
Strangely I can't find any documentation on the .NET package he used: Grpc.AspNetCore.Web. Is this something that will be added to this page or section? The i

[2020-01-18 14:13] guardrex commented on #16598
Hello @cveld ... It's *pre-preview* at this time, so official docs will come later. You may already have these links, but I'll put the cross-references here to the blog post and PR ...

* https://blog.stevensanderson.com/2020/01/15/2020-01-15-grpc-web-in-blazor-webassembly/
* https://github.com/grpc/grpc-dotnet/pull/695

Specifically to your question, the blog states ...

... and the post goes int

[2020-01-18 16:29] csharpfritz opened #16600 "Folder segment is not _exactly_ "{LIBRARY NAME}""
In a situation where you have a PackageId configured in your RCL csproj file, the PackageId is the {LIBRARY NAME} and not the AssemblyName.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fd019c7-ceb7-6ef3-26ba-6b44341b6fc5
* Version Independent ID: fd116d00-0dc7-efaf-c714-34d77b345a05
* Content: [Reusable Razor UI in

[2020-01-18 18:01] Rick-Anderson commented on #16598
Closing as this hasn't been released yet.

[2020-01-18 18:01] Rick-Anderson commented on #16600
@csharpfritz  any chance you could PR this?

[2020-01-18 19:11] gituser227 opened #16601 "Step 3-6 "...execute dotnet run from the app's project folder" results in error"
Following the getting started steps, when reaching 3-6 "If using a Blazor WebAssembly app, execute dotnet run from the app's project folder." results in several errors, including
/usr/local/share/dotnet/sdk/3.1.101/Sdks/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Microsoft.NET.Sdk.Razor.Component.targets(106,5): error MSB6003: The specified task executable "dotnet" could not be run. System.Compon

[2020-01-18 19:14] guardrex commented on #16601
@gituser227 Open an issue with the product unit for that one ...

https://github.com/dotnet/aspnetcore/issues

... include your system details.

[2020-01-18 19:14] #16601 closed

[2020-01-18 22:14] serpent5 opened #16603 "Duplicate content in RP introduction."
In the "Custom routes section", there's the following explanation:

I think that first line could be removed, as it appears to be restated in the following line. The code snippet that follows shows and highlights the `@page "{handler?}"` change too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 164d7efe-01bf-0b26-7a23

[2020-01-18 22:28] #15853 closed

[2020-01-18 22:29] Rick-Anderson commented on #16603
Agreed. We like to remove `you` when it doesn't add to clarity. How about

If you don't like the query string `?handler=JoinList` in the URL,  change the route to put the handler name in the path portion of the URL.  The route can be customized by adding a route template enclosed in double quotes after the `@page` directive.

[2020-01-18 22:46] serpent5 commented on #16603
Yeah, looks good to me.

[2020-01-18 23:20] #16603 closed

[2020-01-19 00:54] Delizald opened #16605 "Install-Package Microsoft.EntityFrameworkCore.InMemory"
Perhaphs you should specify that you need to install that Nuget Package too..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://docs.microsoft.com/en-us/aspn

[2020-01-19 01:26] neil-rubens opened #16606 "Code Behind: add examples inheriting from ComponentBase"
in https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#partial-class-support

there are no examples that show classes inheriting from ComponentBase
I though it is a best practice; e.g.: https://www.telerik.com/blogs/using-a-code-behind-approach-to-blazor-components

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-01-19 02:08] Rick-Anderson commented on #16605
It's listed.

[2020-01-19 02:08] #16605 closed

[2020-01-19 02:42] Delizald commented on #16605
You're right. My bad.

[2020-01-19 02:47] guardrex commented on #16606
Hello @neil-rubens ... For 3.0, *yes*, but now we have partial class support (>=3.1) ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1&viewFallbackFrom=aspnetcore-3.0#partial-class-support

[2020-01-19 02:47] #16606 closed

[2020-01-19 02:53] Rick-Anderson commented on #16605
NP, you're not the only one. Thanks for having a good attitude.

[2020-01-19 08:49] Justin-ZS commented on #16580
@Rick-Anderson
I'm an ASP.Net novice, using MacOS and VScode.

I'm confused. How can I add a `class` to a folder?

After copy/paste all code, `UseDatabaseErrorPage` is still a undefined method.
Also, the offical demo [repo](https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/tutorials/razor-pages/razor-pages-start/sample/RazorPagesMovie30) doesn't has this line code.

[2020-01-19 12:32] yakeer commented on #15911
God bless you.
Moving the app.UseRouting() after app.UseAuthorization() indeed works!
I'm on this issue for 20 hours now!

I'm just suspecting it's going to make something else not work...

[2020-01-19 12:39] yakeer commented on #15911
Well I was happy too soon..
If does remove the error, but the user is not identified... :/

[2020-01-19 13:53] doggy8088 commented on #16158
@rafaelldi It do works. Thanks for your example! I'm just thinking the doc should have more relevant context or contains more technical details.

[2020-01-19 16:45] Decompressor-art opened #16607 "VS for Mac"
When I run: dotnet ef migrations add InitialCreate
It was not possible to find any compatible framework version
The framework 'Microsoft.NETCore.App', version '3.1.1' was not found.
  - The following frameworks were found:
      2.1.14 at [/usr/local/share/dotnet/shared/Microsoft.NETCore.App]
      3.0.1 at [/usr/local/share/dotnet/shared/Microsoft.NETCore.App]
      3.1.0 at [/usr/local/share/dot

[2020-01-19 16:58] ahmediddma commented on #12479
install it from here https://www.nuget.org/packages/Microsoft.AspNetCore.Blazor.Templates/

https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.1&tabs=visual-studio

[2020-01-19 17:16] Rick-Anderson commented on #16607
see https://github.com/dotnet/core/issues/3685

[2020-01-19 17:16] #16607 closed

[2020-01-19 17:30] Decompressor-art commented on #16607
Thank you, it helped

[2020-01-19 17:37] Decompressor-art opened #16608 "VS for Mac"
apple$ dotnet ef migrations add InitialCreate
No project was found. Change the current working directory or use the --project option.
How to cope with this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add

[2020-01-19 18:02] guardrex commented on #16608
@Decompressor-art Did you run the command from the app's project directory?

[2020-01-19 18:11] #16608 closed

[2020-01-19 18:39] Decompressor-art commented on #16608
How to choose app's project directory?

[2020-01-19 20:48] guardrex opened #16609 "Further distinguish client request approaches"
@Ozkr16 remarks at https://github.com/aspnet/AspNetCore.Docs/pull/12477#issuecomment-576039597 ...

&gt; When reading thought the documentation I was unable to find something like this.

... referring to DR's remarks on the PR, which were addressed. Effort was made to clarify that the topic applies to Blazor WebAssembly:

* Readers looking for the approach for Blazor Server are directed to the *Ma

[2020-01-19 20:58] guardrex commented on #16608
Use the `cd` command (change directory) with the path to the project's folder. If the app is in a folder named `MyApp` on the desktop; in Terminal, you'd use ...

[code]

If you need tips and advice along these lines, it's best to use online resources (blogs, how-to topics, and manuals) or ask on a support channel. We just work on the ASP.NET Core docs here. All of our topics assume basic familiar

[2020-01-19 22:20] serpent5 commented on #6295
Where should this coverage go?

1. In its own section in [Create web APIs with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-3.1), underneath "Problem details for error status codes".
1. In its own section in [Create web APIs with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-3.1), underneath "Attributes" and above "ApiCon

[2020-01-19 22:29] serpent5 commented on #12997
Where should this content live? I'm not sure that it fits into any of the existing topics.

[2020-01-19 23:04] baselbj commented on #16493
I was thinking in the same point and I think you can build you own pages.

[2020-01-20 00:26] Rick-Anderson commented on #6295
@JamesNK @scottaddie  please advise where documentation for MVC's `[Consumes]` attribute should go.

[2020-01-20 00:27] Rick-Anderson commented on #12997
@JamesNK @scottaddie please advise where documentation for `DynamicRouteValuesTransformer` should go.

[2020-01-20 00:38] JamesNK commented on #6295
1 is good.

It is related to attributes (2) but it is advanced, so it so be at the end of the overview page.

[2020-01-20 00:54] JamesNK commented on #12997
Going into detail on DynamicRouteValueTransformer (along with MapDynamicPageRoute and MapDynamicControllerRoute) isn't useful without knowing when it should be used. First need to discuss with you would want to use dynamic endpoint routing verses traditional endpoint routing. Talk about some scenarios like

Content should either be a new section on the routing page - https://docs.microsoft.com/en-

[2020-01-20 01:55] Rick-Anderson commented on #12997
Routing is in PR now
#16456

[2020-01-20 03:31] neil-rubens commented on #16606
@guardrex thanks a lot for a quick reply
p.s. it's one of the reasons why am starting to use Azure more often than AWS

[2020-01-20 05:08] wangxin12 commented on #15911
I haven't found it makes anything else not work till now. And for the user not identified issue, maybe you did not check the token you got in a right way.

[2020-01-20 05:44] RedDeathGitHub commented on #14191
Is there a "standard" sample on how one would use Blazor WebAssembly + ASP Core API with Identity server? I mean a common case scenario, probably with JWT tokens?

[2020-01-20 06:47] batkuip opened #16614 "Create full identity UI source not updated for 3.1"
Section "Create full identity UI source" needs to be updated for 3.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 804e24dd-7e30-8cf5-2c99-1ffacb4582f6
* Version Independent ID: 3e25547b-e2c9-6634-2c38-2a77207f17d4
* Content: [Scaffold Identity in ASP.NET Core projects](https://docs.microsoft.com/en-us/aspnet/core/sec

[2020-01-20 08:07] baselbj commented on #16406
For the point " Alternatives for non-SPA login/signup pages"

In identity server documentation talking about those template,and I quote:
"You are expected to know how ASP.NET Identity works sufficiently well to add those features to your project"

So,

"you can create a new project based on the Visual Studio ASP.NET Identity template and add the IdentityServer features you have learned about in th

[2020-01-20 10:32] guardrex commented on #16598
We have a PR for this issue now ... in the general case, not directly for Blazor.

[2020-01-20 12:39] miaoxue opened #16615 "Got an error using the latency example."
**[EDIT by guardrex to add reference remarks for triage]**

An unhandled exception occurred while processing the request.
InvalidOperationException: JavaScript interop calls cannot be issued at this time. This is because the component is being statically rendererd. When prerendering is enabled, JavaScript interop calls can only be performed during the OnAfterRenderAsync lifecycle method.
Microsoft

[2020-01-20 14:40] Decompressor-art opened #16616 "VS"
PM&gt; Add-Migration InitialCreate
Build started...
Build succeeded.
The specified deps.json [C:\Users\User\source\repos\RazorPagesMovie\RazorPagesMovie.deps.json] does not exist
How to fix this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-

[2020-01-20 14:45] guardrex commented on #16615
#### OOF for MLK Day and will return on January 21 to respond to your issue.

If you need general support, we recommend contacting devs on support channels and chat:

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/)
* [ASP.NET Gitter](https://gitter.im/aspnet/Home)

[2020-01-20 14:46] CharlieMcD2 opened #16617 "Highlighting is off on startup.cs"
public void ConfigureServices(IServiceCollection services)
        {
            services.AddDbContext&lt;TodoContext&gt;(opt =&gt;
               opt.UseInMemoryDatabase("TodoList"));
            services.AddControllers();
        }

Highlighting should be on the first two lines of the method but is rendering in Chrome on the third line: services.AddControllers();

---
#### Document Details

⚠ *D

[2020-01-20 14:49] CharlieMcD2 opened #16618 "If you use Visual Studio 2019 with Entity Framework scaffolding controller methods exist"
The current text is:

&gt;The generated code:

&gt;Defines an API controller class without methods.

which is incorrect.  Scaffolding produces functional entity framework code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b97164

[2020-01-20 15:53] CharlieMcD2 opened #16620 "Fix indentation on postman set up"
The following bullet list needs better indentation:

&gt; o Disable SSL certificate verification
&gt; o From File &gt; Settings (General tab), disable SSL certificate verification.
&gt; o Warning
&gt;
&gt;        Re-enable SSL certificate verification after testing the controller.

o From File &gt; Settings (General tab), disable SSL certificate verification.

Should be indented since it describes

[2020-01-20 15:58] mkreidenweis opened #16621 "Manual conversion of X-ARR-ClientCert in example is broken"
The `StringToByteArray` doesn't actually work with Azure Web Apps.
According to https://docs.microsoft.com/en-us/azure/app-service/app-service-web-configure-tls-mutual-auth#access-client-certificate the `X-ARR-ClientCert` header is base64 encoded. That's also what the ASP.NET Core tests check for: https://github.com/dotnet/aspnetcore/blob/116799fa709ff003781368b578e4efe2fa32e937/src/Security/Authe

[2020-01-20 16:05] JackStrap commented on #16557
Same thing here, i followed [the instruction](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/intro?view=aspnetcore-3.1&tabs=visual-studio#scaffold-student-pages). The scaffolding does not seem to update the namespace. It works well for the first scaffolding, cause the namespace is ContosoUniversity + class IndexModel, class CreateModel.
But when you do a second scaffolding, the namespace

[2020-01-20 16:21] damienbod commented on #16621
Hi @mkreidenweis

I have this fixed in this PR

https://github.com/aspnet/AspNetCore.Docs/pull/16354/files#diff-3806bd9578403020f5bba44e09aa31e7R243

waiting for the approval

Greetings Damien

[2020-01-20 16:43] blowdart commented on #16621
Is there a reason you can't use the helper function in cert auth itself?

[2020-01-20 17:09] damienbod commented on #16621
@blowdart Not sure I understand your question, but I could completely remove the HeaderConverter or comment this out as this is the default.

[code]

[2020-01-20 17:13] blowdart commented on #16621
We have mdidleware :) https://github.com/dotnet/aspnetcore/blob/b75b892eac51be8b2f0eb9dc9b47537fc02001c9/src/Middleware/HttpOverrides/src/CertificateForwardingMiddleware.cs

[2020-01-20 17:16] Ricardoaraujo00 opened #16622 "How to access the Scoped instance of a class from another class"
Basically there seems to be no way of doing this. I can't find the solution anywhere in the web. The only way i can pass data between a Blazor page and another completely separated class in the program is by singleton instantiated on the program.Main() or by a static class. This solution is not good and the UI only updates after navigating to another page and back.

---
#### Document Details

⚠ *D

[2020-01-20 17:52] mkreidenweis commented on #16621
Cool you already have a PR open, esp. because it also fixes the client part of the documentation. :-)

Yes, I'd prefer you remove the `HeaderConverter` part completely from the example. After all the example is explicitly referring to Azure Web Apps, where there's no custom HeaderConverter necessary, as base64 decoding is the default.
https://github.com/aspnet/AspNetCore.Docs/pull/16354/files#diff

[2020-01-20 18:13] CharlieMcD2 opened #16624 "Good walk through but there should be a link to persisting the database"
Entity framework will create the db for you locally... why not add a link to how to persist the data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://docs.

[2020-01-20 18:31] CharlieMcD2 opened #16625 "For authentication, you should add a link to the following walkthrough"
You really can't create an api without authentication... (or shouldn't anyway)

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-3.1&tabs=visual-studio

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9

[2020-01-20 18:37] guardrex commented on #16622
#### OOF for MLK Day and will return on January 21 to respond to your issue.

If you need general support, we recommend contacting devs on support channels and chat:

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/)
* [ASP.NET Gitter](https://gitter.im/aspnet/Home)

[2020-01-20 19:25] Rick-Anderson commented on #16616
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2020-01-20 19:25] #16616 closed

[2020-01-20 19:27] Rick-Anderson commented on #16617
Chrome highlighting has problems. We have an internal issue on it. Chrome works at 80%.

[2020-01-20 19:27] #16617 closed

[2020-01-20 19:49] Seabizkit commented on #16614
please help this is incredible frustrating, who the hell would they abstract the code you want to see... i can not see where login goes.

[2020-01-20 20:02] Seabizkit opened #16626 "The mvc tutorial used to be amazing back in the day.. this is nonsense"
starting from scratch core - Web Application with user individual user auth, how the hell do i see where the account/login goes... they really need to fix this! i believe it been like this since like v 2x but for crying out loud... i have scaffolded the views... and for the life of me i can not connect the dots. Where is the controller which manages the login view. (Identity/Pages/Login.cshtml) i

[2020-01-20 20:49] javiercn opened #16627 "Add section on how to transfer large amounts of data between JavaScript and .NET"
The content for this is:
https://gist.github.com/javiercn/f9c732b1d8e51634cbfd4cb0bce95b19

The ASP.NET Core docs bug is:
https://github.com/dotnet/aspnetcore/issues/10083

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49807900-0d56-e23c-1aef-d79099caeffb
* Version Independent ID: feff434f-912c-0985-d575-4a23a629057d
*

[2020-01-20 21:27] Rick-Anderson commented on #16617
Moved to https://github.com/MicrosoftDocs/feedback/issues/2053

[2020-01-20 22:09] udlose commented on #16190
Any movement on any of these?  Specifically, #12177, #12438, #15695.

[2020-01-20 22:49] PeterPann23 opened #16629 "I always get null IHttpContextAccessor.HttpContext"
Does not matter what I do, I always get null, I register this before registering my ICookieStore implementation

internal SecureCookieStore(IHttpContextAccessor context)
{
        _context = context.HttpContext;
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fc35621-ae53-cfb5-5eb1-07aefdc5342f
* Version Independent

[2020-01-20 23:36] DanJ210 commented on #9770
Create the controller and actions? I came here for that reason. I'm using the Identity tutorial and I scaffolded Identity to my project and added the migration to my database. The area, views, model context seem to all be set even though I had an existing context and this scaffold created a second one... The only problem is no controller so the "Register" and "Login" buttons or links just reload t

[2020-01-20 23:39] DanJ210 opened #16630 "Where is the controller?"
Everything is scaffolded. I already had a DB context and I have a DAL library but didn't know how to use my current data context so now I have two of them... Not sure what will happen yet. All seems to be in place, I have the area with the views, I have a second startup file which is strange and I'm not sure how that is called and used, but running the app and trying the "Register" and "Login" lin

[2020-01-21 00:05] Rick-Anderson commented on #16557
You ran the scaffolder in the wrong folder

[2020-01-21 00:06] Rick-Anderson commented on #16624
You can get that in other tutorials. THis is focused on Web API.
We'll consider this on the next sweep.

[2020-01-21 00:06] #16624 closed

[2020-01-21 00:07] Rick-Anderson commented on #16625
The same can be said for a Web UI in the other tutorials.

[2020-01-21 00:07] #16625 closed

[2020-01-21 00:09] Rick-Anderson commented on #16626
See https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-3.1&tabs=visual-studio

[2020-01-21 00:09] #16626 closed

[2020-01-21 00:10] Rick-Anderson commented on #16190
@blowdart  please review or assign a reviewer.

[2020-01-21 00:12] Rick-Anderson commented on #16630
Per the doc:

The generated project provides ASP.NET Core Identity as a Razor Class Library.

See https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-3.1&tabs=visual-studio

[2020-01-21 00:12] #16630 closed

[2020-01-21 00:13] #16618 closed

[2020-01-21 00:13] #16620 closed

[2020-01-21 03:51] Rick-Anderson commented on #16629
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-01-21 03:51] #16629 closed

[2020-01-21 04:23] Seabizkit commented on #16614
FYI, the main sentence missing which should be in bold or something is the previous controllers type files , **" are now in code be hide files. aka they are now in code behind for the views... expand the view file in visual studio to see the code which is binding to the view."**

[2020-01-21 04:26] Seabizkit commented on #16626
FYI, the main sentence missing which should be in bold or something is the previous controllers type files , " are now in code be hide files. aka they are now in code behind for the views... expand the view file in visual studio to see the code which is binding to the view."

[2020-01-21 04:27] Seabizkit commented on #16626
thanks looks gd so far

[2020-01-21 05:51] ByteDev opened #16631 "Problem details for error status codes"
Isn't there supposed to be a "Problem details for error status codes" section? Seems to be missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b391017f-25e1-d5e1-c4f7-020408ade7b5
* Version Independent ID: 263a7b64-2e42-bbfc-c1d3-61680438e1e4
* Content: [Create web APIs with ASP.NET Core](https://docs.microsoft.com

[2020-01-21 08:43] wenhx commented on #16323
In what scenario do I have to use ApplicationServices?

[2020-01-21 09:16] RobertAcksel opened #16632 "RCL static web content from dynamically loaded dll (not pre referenced by consuming application)"
To me it is unclear how i can make static web content available to an application which does not references during build time.
I am instead loading the RCL as an plugin at runtime.
The documentation is missing steps to configure an application to consume the library when loaded in such a way.

The documentation says 'When the RCL is built, a manifest is produced that describes the static web asset

[2020-01-21 09:26] nzcoward commented on #16420
@scottaddie - in the sample is it perhaps better to remove the env parameter from the Configure method? Else it feels like the class level property might be a different IWebHostEnvironment.

Unsure if you're a maintainer, but have created a PR showing my thoughts.

[2020-01-21 12:12] Seabizkit opened #16633 "unclear if the OnModelCreating are required for the IdentityUser tables."
Sorry but it is not clear, if, you are rquired to do someone ro make it work if you are overriding IdentityUser with say ApplicationUser, are the fluent on model OnModelCreating required for each table, how do i tell it to generate this based off the class, this is confusing to me, as i cannot tell what is wrong. keep getting 'SqlException: Invalid object name 'AspNetUsers'.' and im not sure if th

[2020-01-21 13:57] Locomotion77 opened #16636 "Not able to use tag helpers in '.razor' code"
In .cshtml file, I can use the convenient tag helpers such as asp-area, asp-page, but are these still possible in .razor file? I have a razor component, inside the code, I am building the breadcrumb links, and I thought I can do something like `<a asp-page="@PageName">My Page</a>`, but end up I have to hard code the link such as `<a href="Area1/MyPage">My Page</a>`. The `@PageName` is the value ge

[2020-01-21 14:34] JohnGalt1717 opened #16637 "Doesn't tell us how to replace JsonOutputFormatter with System.Text.Json alternatives to modify the outputted json for all responses"
In the past you could inherit from JsonOutputFormatter and override the response. This was useful so that you could have a fully formatted body that wasn't just the json object (which has security issues) and add additional properties like errors etc. to the response.

I don't see anywhere in the documentation information on how you'd replicate this same behavior without having to customize every

[2020-01-21 14:50] damienbod commented on #16621
@blowdart oh... Thanks. So we need nothing for Azure deployments then, it already works. I will remove this for the Azure exmaple and add back the custom forwarding in a separate paragraph for non Azure deployments

[2020-01-21 15:51] guardrex commented on #16323
@Rick-Anderson I :+1: on PU. Current coverage for common use scenarios is probably ok. We don't talk too much about these for good reason. We *hope* dev use cases for most general purpose apps don't need to sweat these. (Not suggesting tho that coverage is stellar or anything, just that we haven't focused on this on purpose.) I'm 🏃😅 on *Blazorish Thingables*:tm:, so I wouldn't be able to look at t

[2020-01-21 17:07] guardrex commented on #16636
Hello @Locomotion77 ... Blazor has a different rendering that creates structured markup, not HTML strings like Tag Helpers do. There are two different bulding/rendering technologies at play here. In your scenario, can you write the element as `<a href="@PageName">My Page</a>` and set the `PageName` property in your code?

Whatever the case with that, leave this issue open. I'm not 100% happy with

[2020-01-21 17:11] scottaddie commented on #16420
@nzcoward Let's see what @pranavkm thinks of your proposal.

[2020-01-21 17:17] guardrex commented on #16622
Hello @Ricardoaraujo00 ...

I'm not clear on your scenario. Note that we don't have the staffing to offer general programming support. Try asking on support channels first ...

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/)
* [ASP.NET Gitter](https://gitter.im/aspnet/Home)

... then if you think that a scenario or remark

[2020-01-21 17:17] #16622 closed

[2020-01-21 17:31] guardrex commented on #16615
Hello @miaoxue ... stand-by. I'll place this for triage with engineering to take a look. They usually look on Fridays, so they might remark at the end of this week.

[2020-01-21 18:13] pranavkm commented on #16420
Sure, done.

[2020-01-21 18:17] cmbankester opened #16638 "How to create named clients at runtime / after Startup"
The examples all show how to create a single named client for use during the lifetime of the application, but is there a recommended solution for using HttpClientFactory with separate instances of a named client, having different URLs (e.g. with the user of the application entering a URL for a named client)? For example, if the application needs to be able to access N different instances of an API

[2020-01-21 18:38] Rick-Anderson opened #16639 "Container issue: Create reusable UI using the RCL project"
This is the Container  issue for this doc.  Reopen each issue you are working on so the owner is notified.

PU Issues:
- [ ]  #16632
- [x] #13951
- [x] #17484
- [ ]  #18073

Not PU issues:

- [ ] RCL 3.0 walkthrough #14463

![image](https://user-images.githubusercontent.com/3605364/72834399-d51e9400-3c2c-11ea-8584-9d65e2f4946e.png)

Per `@javiercn:`

* We've never supported static web assets of li

[2020-01-21 18:53] djpandab commented on #15662
The title of this thread should read
Add more details in the middleware section for Map** #15662
instead of
Add more deatils in the middleware section for Map** #15662

[2020-01-21 19:19] serpent5 commented on #15662
I think this can be closed. It was covered in #15497.

[2020-01-21 19:19] #15662 closed

[2020-01-21 19:32] Rick-Anderson commented on #16614
They are not in code behind files, they're in a RCL.

[2020-01-21 19:37] Rick-Anderson commented on #14463
Moved to Master issue: Create reusable UI using the RCL project #16639

[2020-01-21 19:37] #14463 closed

[2020-01-21 19:38] Rick-Anderson commented on #13951
Moved to Master issue: Create reusable UI using the RCL project #16639

[2020-01-21 19:38] #13951 closed

[2020-01-21 19:38] Rick-Anderson commented on #16632
Master issue: Create reusable UI using the RCL project #16639

[2020-01-21 19:38] #16632 closed

[2020-01-21 19:42] Rick-Anderson opened #16641 "master issue: Make HTTP requests using IHttpClientFactory"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881cef77-11ef-ac11-06d0-0996a1ccfa1b
* Version Independent ID: 3d356334-e672-7e8b-1fef-7944ebee99eb
* Content: [Make HTTP requests using IHttpClientFactory in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.2#feedba

[2020-01-21 19:45] Rick-Anderson commented on #16498
@pranavkm can you approve this proposed work. 45 second review needed.

[2020-01-21 19:46] Rick-Anderson commented on #12580
@serpent5  any chance you could write the code for this?

[2020-01-21 19:47] Rick-Anderson commented on #12580
Moved to master issue: Make HTTP requests using IHttpClientFactory #16641

[2020-01-21 19:47] #12580 closed

[2020-01-21 19:47] Rick-Anderson commented on #16498
Moved to master issue: Make HTTP requests using IHttpClientFactory #16641

[2020-01-21 19:47] Rick-Anderson commented on #16638
Moved to master issue: Make HTTP requests using IHttpClientFactory #16641

[2020-01-21 19:47] #16638 closed

[2020-01-21 19:49] #16600 closed

[2020-01-21 19:50] scottaddie opened #16643 "Add"
# Before you open an issue

If the issue is with an ASP.NET Core document, open the issue with the **Content feedback** button at the bottom of that document page.

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, conside

[2020-01-21 19:51] scottaddie opened #16644 "Add monthly "what's new" pages for ASP.NET Core conceptual docs"

[2020-01-21 19:52] scottaddie commented on #16644
Fixed by https://github.com/aspnet/AspNetCore.Docs/pull/16595

[2020-01-21 19:52] #16644 closed

[2020-01-21 19:55] Seabizkit commented on #16614
i don't mind how long ago it was done, making "file groups" for code, which was normally in a separate folder and then class file,

for uncommon abbreviations its helpful to put in brackets  RCL (razor class library)
I don't mind it being in RCL its just not where i was looking file groups under the view for the "controller" logic.

MS own template uses to different ways of showing this... so its

[2020-01-21 19:57] #16476 closed

[2020-01-21 20:51] batkuip commented on #16614
This is probably the wrong place to have this discussion.  I agree it's painful, but this ticket is about updating the code examples to dotnet core 3.1 - please don't hijack

[2020-01-21 20:54] Rick-Anderson commented on #16498
@rynowak  Please approve or reject customers proposal.

[2020-01-21 21:44] aderderian commented on #15516
@blowdart Any change here?

[2020-01-21 21:45] Rick-Anderson commented on #15374
@mkArtakMSFT please assign someone to draft this and we'll get it published ASAP.

[2020-01-21 21:46] blowdart commented on #15516
No. If you want a feature then please request it in the aspnet core repo, not the docs repo, but I don't believe that ability is in the HTTP cert auth rfc.

[2020-01-21 21:46] Rick-Anderson commented on #16643
@scottaddie  ??

[2020-01-21 21:49] Rick-Anderson commented on #16637
@JamesNK  can you outline the approach or for this case should you continue with `JsonOutputFormatter`?

[2020-01-21 21:49] aderderian commented on #15516
Thanks for the response @blowdart , do you have a link to that repo so I put it in the right place? Thx

[2020-01-21 21:50] Rick-Anderson commented on #16633
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-01-21 21:50] #16633 closed

[2020-01-21 21:50] blowdart commented on #15516
https://github.com/dotnet/aspnetcore/issues

[2020-01-21 21:51] Rick-Anderson commented on #16631
That wasn't planned. We'll look at this again in the next doc sweep and also review customer interest.

[2020-01-21 21:57] JohnGalt1717 commented on #16637
(Can't continue with JsonOutputFormatter because it uses NewtonsoftJson)

[2020-01-21 22:03] ata18 opened #16645 "No ASP.NET Core 3.1 samples"
The examples are all for asp.net core ~3.1~ 2.x versions. Please provide an example of how to use Azure AD with ASP.NET Core 3.1 webapp.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bdae773-368b-a0c1-64d0-2a7b8c8fb134
* Version Independent ID: 2816eb27-7fc5-19e6-7f79-7e81a388647f
* Content: [Azure Active Directory w

[2020-01-21 22:09] serpent5 commented on #12580
@Rick-Anderson Yeah, sure.

[2020-01-21 22:11] serpent5 commented on #16641
@Rick-Anderson You've got `#16498` twice in the checklist.

[2020-01-21 22:27] Rick-Anderson commented on #16645
@ata18

* check my edit of your issues. The links are all to 2.x samples - right?
* We don't own those doc's. You need to open issues at the doc repository they reside in.

@CamSoper  please advice and reopen as appropriate.

[2020-01-21 22:27] #16645 closed

[2020-01-21 22:43] Leon99 opened #16646 "Route Name use is unclear"
What exactly is the role of Http[Verb]Attribute.Name? From reading the note

&gt; Contrast this with the conventional default route, which defines the id parameter as optional ({id?}). This ability to precisely specify APIs has advantages, such as allowing /products and /products/5 to be dispatched to different actions.

I suspect that it's only used by the routing subsystem to give a unique name

[2020-01-21 22:49] fiksen99 opened #16647 "Use AKV config provider with national clouds"
[EDIT by guardrex to move the title into the comment]

Original Title: The example should indicate that the AzureServiceTokenProvider connects to the common AAD instance by default, in case users are targetting national clouds

the example above indicates the user should create an AzureServiceTokenProvoder using the default constructor.

This is fair for 99% of use cases, however it is difficult t

[2020-01-21 22:59] guardrex commented on #16647
Hello @fiksen99 ... Thanks for commenting. I agree.

I hope I can find an Azure doc to cross-link. How did you learn how to resolve the service in that scenario? Did you find an Azure doc that covers it?

[2020-01-21 23:31] fiksen99 commented on #16647
A teammate happened to find it when debugging the code just via inspection
of the constructor unfortunately. Didn't see this in docs.  (side note, we
haven;t got this scenario working E2E yet as per
https://stackoverflow.microsoft.com/questions/181857/181866#181866). If we
can get to the bottom of our issues, will share how to get keyvault working
with MSI on national clouds here

On Tue, Jan 21,

[2020-01-21 23:33] guardrex commented on #16647
Perfect, thanks. I'll research it on my end, too. I'm buried a bit 🏃 in Blazor issues at the moment, so it might not be addressed for a few weeks, but I'll get to it asap.

[2020-01-21 23:42] rynowak opened #16648 "Updates to Blazor WASM Startup content"
As part of the next preview we're reworking Blazor WASM's startup experience: https://github.com/dotnet/aspnetcore/pull/18455

This item tracks making all of the documentation updates as well as:

- How to run initialization code before the UI is shown (new example)

Note: we expose `IConfigurationBuilder` as part of the API now, but we don't plan to include it in the docs at this time. We haven't

[2020-01-22 00:16] Rick-Anderson commented on #16646
Per the doc:
Route names can be used to generate a URL based on a specific route. Route names have no impact on the URL matching behavior of routing and are only used for URL generation.

[2020-01-22 00:16] #16646 closed

[2020-01-22 00:46] abdooay opened #16649 "Most services are not available until the Configure method is called."
There is a line in the docs that says 'Most services are not available until the Configure method is called.'
I think you mean when ConfigureServices method is called

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 793395fe-c738-22ce-d0e9-29a850c0fa88
* Version Independent ID: 0546ce3a-3258-9817-0f3f-13281c2f55da
* Cont

[2020-01-22 01:11] Rick-Anderson commented on #16649
Services are configured in `ConfigureServices` but not available in `ConfigureServices`. Doc is correct.

[2020-01-22 01:11] #16649 closed

[2020-01-22 01:18] Leon99 commented on #16646
@Rick-Anderson so what does "Route names can be used to generate a URL based on a specific route" mean? What role do they play in the URL generation? What will change if Name is specified vs. if it's not specified?

[2020-01-22 01:32] Rick-Anderson commented on #16646
https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-3.1#url-generation

However, that doc is in PR now.

[2020-01-22 04:10] prbrowne commented on #16066
Since an entity set contains multiple entities, the DBSet properties should be plural names. Since the scaffolding tool created aStudent DBSet, this step changes it to plural Students.

To make the Razor Pages code match the new DBSet name, make a global change across the whole project of _context.Student to _context.Students. There are 8 occurrences.

SO WHERE ARE THE 8 CHANGES NEEDED????

[2020-01-22 04:25] Rick-Anderson commented on #16066
@guanghuawu  that was fixed several versions ago.

[2020-01-22 07:56] Anastac1o opened #16651 "IApplicationBuilder does not contain UseDataBaseErrorPage() method"
I am using ASP.NET Core 3.1 and it looks like the UseDataBaseErrorPage method is not in the IApplicationBuilder class.
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.iapplicationbuilder?view=aspnetcore-3.1

Any alternative?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df

[2020-01-22 08:48] Leon99 commented on #16646
Aha, so it's to be referenced by `Url.RouteUrl`? It'd be nice then to have

hyperlink to https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-3.1#generating-urls-by-route, otherwise, it's hard to understand what it's about.

[2020-01-22 08:52] hungnvo commented on #11268
would this work with all operations (edit, delete..) or just for adding a new field?

[2020-01-22 09:25] fkpama opened #16652 "Documentation on how to change the name of the handler parameter in urls"
Hello,

I'm pretty sure recalling that it is in fact possible to change the name of the handler query parameter used to select the page handler in page templates, but I can't find how anywhere. I know that you could even declare a template that uses this parameter in the route of the page at some point (i.e.: "{id}/{handler}).

For now I'm using workarounds (basically using another query parameter

[2020-01-22 09:55] johnnyreilly opened #16653 "Now UseMvc is not recommended - where does UseResponseCompression fit in?"
Thanks for your amazing docs 🤗

I have a question: now that the following `UseMvc` is effectively deprecated with .NET Core 3+ ( see https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-0-preview-4/. ), should this piece of advice be updated:

&gt; app.UseResponseCompression must be called before app.UseMvc

And if so, in what way?  I'm asking as I've just noticed that UseRespo

[2020-01-22 11:17] Heidelberger opened #16655 "Link Incorrect"
The following link appears to have moved.

On this page: "An alternate approach not covered here is to generate model classes from an existing database. For information about that approach, see ASP.NET Core - Existing Database." Link is: https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/existing-db

However, the above is redirected to "Razor Pages with Entity Framework Core in ASP.NE

[2020-01-22 13:38] Tragetaschen opened #16656 "Add documentation for two [JSInvokable] methods in the same assembly with the same name"
[code]

As far as I understand, there's an assembly-level namespace where all callable methods have to have unique names/identifiers. The two options are
1) rename the method
2) use the attribute constructor with one parameter to explicitly name the method and use that name from the client-side

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-01-22 13:38] BWCutters-DBirch opened #16657 "Paths on Linux container"
I suggest documentation is updated to use `env.WebRootPath` rather than `Directory.GetCurrentDirectory()`
since the former is cross platform and the later is not

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d47f38e2-bc36-cfb8-b0cc-17a534689f8b
* Version Independent ID: 3fec6e08-fc99-7a5c-796f-3f2347cad891
* Content:

[2020-01-22 13:52] guardrex commented on #16653
Good :eye: @johnnyreilly ... I'll fix that up. The advice is the same: Use the compression middleware before any other middleware that you'd like compressed responses from. Generally, place it early in the pipeline. See the very last paragraph and example at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-3.1#middleware-order.

[2020-01-22 14:10] guardrex commented on #16651
Add a package reference for ...

[code]

... and the namespace for EF ...

[code]

... and then sacrifice *two Microsoft ergonomic keyboards* to the :pray: *server gods* 🙏. :smile:

[2020-01-22 14:11] Locomotion77 commented on #16636
[code]

[2020-01-22 15:07] guardrex commented on #16636
Try the Navigation Manager ... https://docs.microsoft.com/en-us/aspnet/core/blazor/routing?view=aspnetcore-3.1#uri-and-navigation-state-helpers ... in the component to build the breadcrumb link for `PageName`.

[2020-01-22 15:07] andifandrich opened #16659 "Doesn't work on Azure App Service yet"
Net Core 3.1 doesn't work on Azure App Service yet (on Jan, 22nd 2020) so don't bother trying.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b7135b-b7a0-2fba-b846-530480aeb415
* Version Independent ID: 69e5b8fb-04e0-817e-434f-72cf6ba12923
* Content: [Migrate from ASP.NET Core 3.0 to 3.1](https://docs.microsoft.com/e

[2020-01-22 15:13] DanJ210 commented on #16630
@Rick-Anderson could you elaborate a bit please? Are you saying it provides everything EXCEPT the controller? I can scaffold out all of the pages that's not an issue. It's that I've followed the docs and have everything added but when I click "Register" or "Login" the page simply refreshes, nothing happens. Is the `AccountController.cs` hidden in the class library? If so then why is it not being u

[2020-01-22 15:20] guardrex commented on #16659
According to the [dashboard](https://aspnetcoreon.azurewebsites.net/), the rollout is complete. Try following the troubleshooting guidance at https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-3.1.

[2020-01-22 15:20] #16659 closed

[2020-01-22 15:41] andifandrich commented on #16659
Well I just tried in West Europe and it failed to start with the dreaded Could not load file or assembly Microsoft.AspNetCore... error. Rolled back to 3.0 and it worked again.

[2020-01-22 15:58] guardrex commented on #16636
Ran a test with Navigation Manager. It worked ...

[code]

... in a component embedded into a Razor Pages page (*/Nested/TestPage.cshtml*). It produced in the component ...

[code]

Use the value in `NavigationManager.Uri` to construct your breadcrumb links.

`ToRelativeBasePath` doesn't work with `BaseUri`. I tried this in the component ...

[code]

... nothing on the first one, but the second on

[2020-01-22 16:02] guardrex commented on #16659
I don't have any further information. According to the dashboard, the framework is present.

Paste the full error in here. This still feels like some sort of an app migration issue.

[2020-01-22 16:19] andifandrich commented on #16659
I really appreciate your offer to help and not to forget your very quick response. Thank you very much!
Though I don't think this is the right place to discuss a problem that looks like I'm the only one having it. I will dig further into it when I have a little bit more time.

[2020-01-22 17:10] #16186 closed

[2020-01-22 18:03] Rick-Anderson commented on #16657
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.ihostingenvironment.webrootpath

@BWCutters-DBirch  thanks for pointing that out.

[2020-01-22 18:08] guardrex commented on #16579
@Tratcher TL;DR ... a `worker` template background services app deployed via Azure Pipelines apparently doesn't start automatically. Do you know if passing `dotnet {assembly}.dll` in the `StartupCommand` parameter of the pipeline task will fire up the app after the deployment? I could test ... I'd be willing to test, but I'm 🏃😅 at the moment, so it would get pushed off for weeks/months if I have t

[2020-01-22 18:12] #16655 closed

[2020-01-22 18:19] Tratcher commented on #16579
As far as I know App Service is only for IIS based websites (or linux & Kestrel), it's not clear that worker services make sense in that environment. @shirhatti @glennc

[2020-01-22 18:34] #16502 closed

[2020-01-22 18:39] #16653 closed

[2020-01-22 18:54] johnnyreilly commented on #16653
Awesome - thanks! It's not working on my machine but at least I'm doing the correct thing. Will have to investigate!

[2020-01-22 18:55] guardrex commented on #16653
Yeah ... happens quite a bit. Make sure you follow https://docs.microsoft.com/en-us/aspnet/core/performance/response-compression?view=aspnetcore-3.1#troubleshooting ... especially the part about using a tool to test and not a browser.

[2020-01-22 19:10] KenDarlingPAF opened #16664 "Returns null"
I am trying to get the user name of the user using the my app (published to an IIS server) when I run it local It is able to pick up my user name, but once it is deployed it does not seem to be able to pull user name data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9942b0a-a7fb-0d34-9201-af0963affa9e
* Version Ind

[2020-01-22 19:23] ticianaciminari opened #16665 "1st tutorial did not work for me .. # 239"
Hi team, please check this issue from user below:

@Alama32 commented on [Tue Jan 21 2020](https://github.com/aspnet/AspNetCore.Docs.fr-fr/issues/239)

I followed this tutorial to the letter and I had errors, at the end of the tutorial, I copied pasted all the code of the page / todo and it still did not work ..
Here is the result of the console:
_______________________________________

'BlazorApp

[2020-01-22 19:23] ticianaciminari opened #16666 "1er tuto n'a pas fonctionné pour moi.."
@Alama32 commented on [Tue Jan 21 2020](https://github.com/aspnet/AspNetCore.Docs.fr-fr/issues/239)

J'ai suivi ce tuto à la lettre et j'ai eu des erreurs, à la fin du tuto, j'ai copier collé tout le code de la page /todo et ça n'a toujours pas fonctionné..
Voici le résultat de la console:
_______________________________________

'BlazorApp1.dll' (CLR v4.0.30319: DefaultDomain) : Chargé 'C:\WINDOW

[2020-01-22 19:37] guardrex commented on #16665
Hello @ticianaciminari and @Alama32 ...

I'll place this on the Blazor.Docs project for triage. They might move it to the engineering repo later. They should be here to take a look on Friday. Stand-by until they get a chance to review this.

[2020-01-22 19:39] guardrex commented on #16666
Will track on https://github.com/aspnet/AspNetCore.Docs/issues/16665.

[2020-01-22 19:39] #16666 closed

[2020-01-22 19:40] guardrex commented on #16664
Hello @KenDarlingPAF ... I've marked this for triage on the Blazor.Docs project. They might ask you to move it to the engineering repo. They should take a look on Friday. Stand-by for them to see this and react.

[2020-01-22 20:10] ticianaciminari commented on #16665
Hi @guardrex, I've just noticed that @Alama32 has created another [issue ](https://github.com/aspnet/AspNetCore.Docs.fr-fr/issues/240) as a continuation of this one. Here's the translation: Continuation and correction of yesterday's message .. # 240

Today I still have errors, but the program has compiled anyway and seems to be working fine.

mistakes:

Severity Code Description Project File Line

[2020-01-22 20:21] guardrex commented on #16665
Not sure looking at those errors. The class (shown in the tutorial) contains `IsDone` ...

[code]

... I'd need further clarification to proceed. AFAIK, it should work. However, I admit that it's been a little while since I've manually walked the steps. I might need to do that just to be sure that everything is good.

[2020-01-22 21:01] johnayoub opened #16669 "Conventional vs Attribute Routing setup"
Based on the documentation, this is how the routing should be configured in ASP.NET CORE 3.x.x However, there's some unexpected behavior or maybe the docs need to be clear.

Per the documentation:

* **MapControllers** adds support for attribute-routed controllers.
* **MapAreaControllerRoute** adds a conventional route for controllers in an area.
* **MapControllerRoute** adds a conventional route

[2020-01-23 00:10] guardrex commented on #12518
Ping @danroth27 ... :point_up: for guidance which way to go.

[2020-01-23 00:22] guardrex commented on #16656
We currently say ...

... but don't provide an example. 🤔 An example would be nice.

[2020-01-23 00:24] guardrex commented on #16665
@ticianaciminari, is there any further information from the community member? I'm not sure what to address at this point.

[2020-01-23 00:43] Rick-Anderson opened #16673 "UE edit: Call gRPC services with the .NET client"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a7ec3c3-918c-6ffd-1ac0-4f88b89d9295
* Version Independent ID: 1c1f72f1-3d5d-3397-c17d-1889dbae6fee
* Content: [Call gRPC services with the .NET client](https://docs.microsoft.com/en-us/aspnet/core/grpc/client?view=aspnetcore-3.0&branch=pr-en-us-16613)
* Content Source:

[2020-01-23 01:17] unionthugface opened #16675 "Application Initialization does not work"
The settings above are not sufficient for application initialization to warm-up the app.  Doing a "hard" recycle of the app pool (as opposed to the app pool recycling on its own every so often) stops the app, and it does not start back up again.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec484002-18c1-6a0d-00de-820

[2020-01-23 01:19] guardrex commented on #16675
@shirhatti Thoughts?

[2020-01-23 07:53] IanKemp opened #16677 "Some additional explanation is required for 3.0+"
* *Why* is `SetCompatibilityVersion` a no-op as of 3.0? In other words, briefly explain what it was used for in 2.x, why it was necessary, and why it no longer is.
* Why is there no `CompatibilityVersion.Version_3_1`?
* Will `SetCompatibilityVersion` be deprecated at some stage in the future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-01-23 10:53] computamike opened #16678 "UseKestrel is not Used"
Kestrel in ASP.NET Core apps
ASP.NET Core project templates use Kestrel by default. In Program.cs, the ConfigureWebHostDefaults method calls UseKestrel:

Code sample - and exmaple used in Visual Studio doesn't call UseKestrel - it calls UseStartup.  It might be that UseStartup calls UseKestrel - but this isn't explained.  I was staring at the example code - looking for UseKestrel - and it's not th

[2020-01-23 11:27] Locomotion77 commented on #16636
@guardrex, thanks! I didn't know that there is a cool navigation helper, it works!

Using your example, I change a bit to meet what I want, in the `Nested/TestPage`, I return a list of class instance representing the Razor pages page link infos:

[code]
 Since I want my breadcrumb items to be like this:

**Nested > TestPage**

and Inside the Razor component, I build each breadcrumb link with the c

[2020-01-23 11:52] EricSch commented on #7268
`[HttpOptions] ` doesn't change anything. I think this doesn't work with attribute routing. Why isn't here an offical answer how to solve this problem?

[2020-01-23 12:23] guardrex commented on #16678
Hello @computamike ... The statement is accurate because `ConfigureWebHostDefaults` is a method. Inside the method, Kestrel is configured. See the *Remarks* at ...

https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.hosting.generichostbuilderextensions.configurewebhostdefaults?view=aspnetcore-3.1#remarks

... and the reference source at ...

https://github.com/dotnet/aspnetcore/blob/

[2020-01-23 12:23] #16678 closed

[2020-01-23 12:37] dehghani-mehdi opened #16679 "3.1 update: Custom storage providers for ASP.NET Core Identity"
1. It is not clear which sample is meant by linked [The sample app](https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/security/authentication/identity/sample) repo.
2. Using `dotnet new mvc -au Individual`, as doc says, doesn't add `Microsoft.AspNetCore.EntityFramework.Identity` nuget package, but in [Reconfigure app to use a new storage provider](https://docs.microsoft.com/en-us/as

[2020-01-23 12:38] guardrex commented on #16636
Cool ... I'm glad it had a happy ending. :beers:

Let's leave this issue open ... I'd like to address the concept that page/view TH aren't for use in components and tell readers what they should do: build a component that encapsulates their TH logic/functionality and use that instead of a TH.

[2020-01-23 13:15] partyelite opened #16680 "Avoid memory leaks when invoking .NET instance methods"
There is nothing in the docs about avoiding memory leaks. I dug through the MS docs and found this link

https://docs.microsoft.com/en-us/dotnet/api/microsoft.jsinterop.dotnetobjectreference-1?view=aspnetcore-3.1

It says here that in order to avoid leaking memory, the DotNetObjectReference (used for invoking .NET instance methods from JavaScript) must later be disposed by JS code or by .NET code.

[2020-01-23 13:35] micro-belgium-application commented on #16203
https://www.nuget.org/packages/Google.Apis.Auth.AspNetCore3/1.43.0-beta01

[2020-01-23 14:32] guardrex opened #16682 "Avoid memory leaks when invoking .NET instance methods"
From @partyelite (moved from https://github.com/aspnet/AspNetCore.Docs/issues/16680) ...

There is nothing in the docs about avoiding memory leaks. I dug through the MS docs and found this link

https://docs.microsoft.com/en-us/dotnet/api/microsoft.jsinterop.dotnetobjectreference-1?view=aspnetcore-3.1

It says here that in order to avoid leaking memory, the DotNetObjectReference (used for invoking

[2020-01-23 14:33] guardrex commented on #16680
Hello @partyelite ... Please use the **This Page** feedback button+form at the bottom of our topics. It adds metadata and pings the author automatically.

Moved to https://github.com/aspnet/AspNetCore.Docs/issues/16682.

[2020-01-23 14:33] #16680 closed

[2020-01-23 14:42] guardrex commented on #16682
Hello @partyelite ... It hasn't come up in content generation or review of what we show, nor have I been able to locate engineering repo issues or PRs directly pertaining to that remark in the API doc.

I've marked this for triage on the Blazor.Docs project. These issues are usually triaged on Fridays. Engineering will comment on it when they see this shortly. Stand-by for their response. Thanks f

[2020-01-23 14:58] Alama32 commented on #16665
@ticianaciminari , Hello, i'm this member :) i'm Belgian Freanch speaking. I try to follow this training to learn C # and Razor in order to see if this language would suit me. Or maybe TypeScript if it can be compiled in machine language and WASM, because I bet that in the future, all applications will stay online and run on the client.

[2020-01-23 15:54] #16643 closed

[2020-01-23 15:54] scottaddie commented on #16643
No idea how this happened. Disregard.

[2020-01-23 16:04] ticianaciminari opened #16683 "Super, but complex to understand because no comments in the code."
@Alama32 commented on [Thu Jan 23 2020](https://github.com/aspnet/AspNetCore.Docs.fr-fr/issues/241)

Hello, having tutorials is great, but we would understand better if each line of code was commented. The work would be longer, but much more efficient for the students. ;)
Or maybe C # is too complicated for me. I come from AS3 at the base ..
(sorry for my English)

---
#### Détails du document

⚠

[2020-01-23 16:05] ticianaciminari commented on #16683
Hi Team, can you please check user's comment? Thanks in advance!

[2020-01-23 16:35] guardrex commented on #16665
Hello @Alama32 ... Some of the docs (and parts of docs I think) are translated manually by the localization team and many are machine translated. I don't know very much about the process. It's best for me to let them comment on translations.

With regard to Blazor native compilation, there's no Blazor .NET Native (compiled directly to run on a device) ... **_YET!_** ... that is something that mana

[2020-01-23 16:37] guardrex commented on #16683
Hello again @Alama32 ... We can't add very many code comments because they aren't machine translated. They would stay in English for everyone forever. We try to keep all of the remarks about the code in the text.

[2020-01-23 16:37] #16683 closed

[2020-01-23 17:43] Rick-Anderson commented on #16677
* not needed.
* not needed.
* Possibly.

[2020-01-23 17:43] #16677 closed

[2020-01-23 17:48] Rick-Anderson commented on #16683
@Alama32  if you would like localized comments, leave feedback in #16455

[2020-01-23 17:53] Rick-Anderson commented on #16455
See https://github.com/aspnet/AspNetCore.Docs.fr-fr/issues/241, where @Alama32  requests localized code comments

Or maybe C # is too complicated for me. I come from AS3 at the base ..
(sorry for my English)

[2020-01-23 21:28] suarezhar opened #16686 "Where to deploy gRPC solutions?"
Since IIS, Azure App Service doesn't support HTTP/2 at this moment. I cannot deploy gRPC server using those approaches. A solution can be docker?
Thank you before hand.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0db2d29c-ebfd-9c79-4b08-61fc5192f3c3
* Version Independent ID: 048d1977-93aa-f28a-60ec-6806dec3f70a
* Co

[2020-01-23 21:44] danroth27 commented on #12518
I'm finding the VS really wants my void tags to be closed, so I think we should stick with closed void tags.

[2020-01-23 22:10] Rick-Anderson opened #16688 "Additional resources add links to test, debug, troubleshoot"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 793395fe-c738-22ce-d0e9-29a850c0fa88
* Version Independent ID: 0546ce3a-3258-9817-0f3f-13281c2f55da
* Content: [App startup in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup?view=aspnetcore-3.1#additional-resources)
* Content Source: [asp

[2020-01-23 22:12] #12518 closed

[2020-01-23 23:09] Rick-Anderson commented on #15710
Fixed by  #15780

[2020-01-23 23:09] #15710 closed

[2020-01-24 06:31] MisinformedDNA opened #16693 "Chained bind should use the "Year" parent/child example"
Despite the improved documentation, bindings are still challenging to learn. I just spent a few hours looking at the parent/child component "Year" example, trying to figure out why changing `Year: @Year` to `Year: <input value="@Year" />` didn't enable child-to-parent updates.

One suggestion is to use the "Year" example in the Chained Binding section. It would allow the reader to focus on what ha

[2020-01-24 10:09] npruehs opened #16694 "Update-Database yields "Login failed for user""
Hey everyone,

when trying to run Update-Database in the package manager console, the following output is generated:

[code]

(user name and domain replaced). I can't seem to recall having issues with setting up the project in earlier attempts - could it be due to the fact that my machine has been recently added to a domain?

EDIT: It looks like there's a mismatch between sqllocaldb and what Visua

[2020-01-24 10:40] Locomotion77 commented on #16636
Yes, please leave this issue open, may be there will be one who will ask the same question again because it is kind of intuitive to relate the component to the page/view with both having markup syntax therein

All in all, it is a great experience encapsulating stuff in components, it is truly enjoying, cheers!

[2020-01-24 12:49] nzcoward commented on #16316
I'm currently building a netcore 3.1 project and I accidentally left out [FromBody] in my POST action method and the model was bound correctly (it's quite a simple model). Is it no longer a requirement to use [FromBody]?

I tested this with it being the only parameter, and with a second parameter (id, that preceeds the model in the declaration) and both bound OK.

In past versions (2.x?) it hasn't

[2020-01-24 13:09] guardrex commented on #16693
Thanks @MisinformedDNA for that feedback ... I'll take a look.

[2020-01-24 13:35] pjfmast opened #16695 "Filter category "All" not working?"
Nice example!
It seems there needs to be some additional code to filter correctly on category "All" - or I missed something.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9b9859c-b83c-5fc3-41d5-15531232185f
* Version Independent ID: 5438de31-8562-3747-d1a5-2a4622252fc1
* Content: [Add search to an ASP.NET Core MVC ap

[2020-01-24 13:46] pjfmast commented on #16695
Ignore comment, I indeed missed something

[2020-01-24 15:20] andifandrich commented on #16659
If someone stumbles across this, here is the solution:
the currently latest version 3.1.1 of Microsoft.AspNetCore.Authentication.AzureAd.UI seems to be buggy (nothing new for anybody using MS Auth). A rollback to 3.1.0 fixed it.

[2020-01-24 15:35] omuleanu opened #16696 "how do you sign in the user ?"
can't find anyware in these docs how do you sign in the user,
something like:
auth.SignIn(name, roles[], remember);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c3930e5-8a4f-8bdf-7167-9aed8afc4253
* Version Independent ID: cea5942d-fb01-f5bf-3b63-25873d5b79cf
* Content: [Simple authorization in ASP.NET Core](https:/

[2020-01-24 17:07] theezak opened #16697 "Application startup completed trigger"
In the health checks sample the start of a hosted service is used as an indicator for service readiness. Would it be more appropriate to use IHostApplicationLifetime ApplicationStarted/ApplicationStopping for toggling the readiness indicator on the readiness health check?

[https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/host-and-deploy/health-checks/samples/3.x/HealthChecksSample

[2020-01-24 17:25] diogo24 opened #16698 "Code Error - Multiple calls to UseOwin, grouped together."
Existing example:
app.UseOwin(pipeline =&gt;
{
    pipeline(async (next) =&gt;
    {
        // do something before
        await OwinHello(new OwinEnvironment(HttpContext));
        // do something after
    });
});

Error Message: Not all code paths return a value in lambda expression of type 'Func&lt;Func&lt;IDictionary&lt;string, object&gt;, Task&gt;, Func&lt;IDictionary&lt;string, object&gt;,

[2020-01-24 17:26] freemstr commented on #16186
@CamSoper
Which of the changes to documentation resolves #13215?
[This newly suggested link](https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-aspnetcore-webapp-openidconnect-v2/enable-webapp-signin/?view=aspnetcore-3.1)
[Points to non existent](https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-aspnetcore-webapp-openidconnect-v2/enable-webapp-signin/1-We

[2020-01-24 17:27] aaron-kruse commented on #16614
Also worth mentioning the ScaffoldingReadMe.txt file that gets created appears to be outdated as well, or at least inconsistent. It says to call services.AddMvc() from ConfigureServices(), whereas the documentation here and the scaffolded code uses AddControllersWithViews() and AddRazorPages().

I realize AddMvc() still works, but it's simply a wrapper to call these other functions and it's confus

[2020-01-24 17:46] guardrex commented on #16659
Thanks @andifandrich ... I'm glad to hear that you were able to narrow that down. I hope the package works better for you on their next release. Best wishes with it! 🍀🤞

[2020-01-24 17:46] #16695 closed

[2020-01-24 17:49] guardrex opened #16699 "Application startup completed trigger"
Moved from @theezak at https://github.com/aspnet/AspNetCore.Docs/issues/16697.

In the health checks sample the start of a hosted service is used as an indicator for service readiness. Would it be more appropriate to use IHostApplicationLifetime ApplicationStarted/ApplicationStopping for toggling the readiness indicator on the readiness health check?

https://github.com/aspnet/AspNetCore.Docs/blob

[2020-01-24 17:50] guardrex commented on #16697
Hello @theezak ... Please use the **This Page** feedback button+form at the bottom of any topic. It adds metadata and pings the author automatically.

No worries ... I moved it to https://github.com/aspnet/AspNetCore.Docs/issues/16699.

[2020-01-24 17:50] #16697 closed

[2020-01-24 18:05] guardrex commented on #16699
Hello @theezak ... I don't think that that's guaranteed. For the hosted service base class ...

So, it does block app startup until it hits an `await`. Once it hits an `await`, the app may go ahead and start while the background service is still trying to get started. Therefore, it wouldn't be good to base knowledge of the service starting on the app starting.

We need @rynowak to confirm tho. I'm

[2020-01-24 18:06] yakovkiff commented on #14156
Check out https://docs.microsoft.com/en-us/dotnet/architecture/microservices/multi-container-microservice-net-applications/background-tasks-with-ihostedservice , it explains IHostedService a lot better.

[2020-01-24 18:43] guardrex commented on #16665
I'll go ahead and close. They're going to triage issues today, and I don't want this to slow them down. If you have further documentation concerns, please open issues with the **This Page** feedback button and form at the bottom of any topic on the `en-us` (English) repo if you want to contact us directly.

[2020-01-24 18:43] #16665 closed

[2020-01-24 18:57] Rick-Anderson commented on #16696
The generated code from  https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity shows how to do it.

[2020-01-24 18:57] #16696 closed

[2020-01-24 18:58] Rick-Anderson commented on #16316
`[FromBody]` hasn't been required for some time, that's why it's not shown in the tutorials.

[2020-01-24 18:59] #16316 closed

[2020-01-24 19:00] Rick-Anderson commented on #16694
You've missed a step and I call out this error.

[2020-01-24 19:00] #16694 closed

[2020-01-24 19:25] omuleanu commented on #16696
actually I don't use Identity/membership,
and I think I found what I was looking for, and it is here:
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?view=aspnetcore-3.1#create-an-authentication-cookie

[2020-01-24 19:45] theezak commented on #16699
Fair enough. My concern was that completing the start of StartupHostedService  was not a good indicator for all hosted services having started. There might still be other hosted services queued up or awaited (?)

[2020-01-24 19:54] guardrex commented on #16699
Yes, I think the idea from engineering is that you'd need to check each one ... it's an atomic check for a single hosted service in the example.

Key word there ... **_appeared_**. If `awaits` are hit in `ExecuteAsync`, they shouldn't block the app from starting. At that point, we're dealing with parallel running code that isn't directly blocking each other. That's my current understanding.

I'll

[2020-01-24 19:54] #16699 closed

[2020-01-24 20:00] Rick-Anderson commented on #15223
Closing since this is covered.

[2020-01-24 20:00] #15223 closed

[2020-01-24 20:37] figuerres opened #16704 "lack of OData Support for .net core"
so no one wants to support Swagger / OData   so will OData just die as no one seems to want to support it for real world use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f34eea37-51a4-6227-f5ed-6501624ad045
* Version Independent ID: 2994cf60-0cb7-afa2-20b8-7e2b1117f964
* Content: [ASP.NET Core Web API help pages wit

[2020-01-25 00:50] markwaterman opened #16706 "Async typo"
In the code sample under the "Call gRPC services with a .NET client" section, line 4 should be a call to client.SayHelloAsync, not the synchronous SayHello method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0db2d29c-ebfd-9c79-4b08-61fc5192f3c3
* Version Independent ID: 048d1977-93aa-f28a-60ec-6806dec3f70a
* Content

[2020-01-25 02:47] Rick-Anderson commented on #16651
If you follow the VS instructions, VS adds that for you.

[2020-01-25 02:47] #16651 closed

[2020-01-25 02:48] Rick-Anderson commented on #16652
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-01-25 02:48] #16652 closed

[2020-01-25 02:53] Rick-Anderson commented on #16679
@MaherJendoubi please review

[2020-01-25 02:54] Rick-Anderson commented on #16686
See https://github.com/dotnet/AspNetCore/issues/9020

[2020-01-25 02:54] #16686 closed

[2020-01-25 02:59] Rick-Anderson commented on #16704
I wrote https://docs.microsoft.com/en-us/odata/webapi/odata-expand and have another in PR.

[2020-01-25 02:59] #16704 closed

[2020-01-25 08:22] fkpama commented on #16652
Hello!

I don't really see how my question is unrelated to this repo since my point was that this feature is not documented on the 2 mentionned pages when it should be!!

It's a shame it took 2 full days for this when I have a client waiting on a responsse but thanks for taking the time to respond at all anyway.

[2020-01-25 09:54] RicoSuter commented on #16704
Doesn’t OData have its own metadata description format? There are OData extension libraries for Swashbuckle/NSwag but it might be conceptually problematic to use OAI for OData because the response contract is not static but changes dynamically depending on the input parameters.

Ref: https://github.com/RicoSuter/NSwag/issues/730

[2020-01-25 09:57] RicoSuter commented on #16704
Btw: The modern replacement of OData is GraphQL and not OpenAPI. I’d say they are conceptually the same but it seems that the community “decided” that GraphQL is the winner...

[2020-01-25 10:12] fkpama commented on #16652
For those interested, it is actually [impossible](https://github.com/dotnet/aspnetcore/blob/28b0e67320b7dcfb554f75255e8a53f7b06b98d1/src/Mvc/Mvc.RazorPages/src/Infrastructure/DefaultPageHandlerMethodSelector.cs#L150) to change the name of the parameter out of the box.

Regards

[2020-01-25 12:32] adamosoftware opened #16708 "struggling with stylesheet href within RCL pages"
I'm using Core 3.1. My RCL pages share a stylesheet specific to the RCL, but I can't figure out how to reference it within my RCL pages. I created a wwwroot folder at the root of the class library, then added to it /css/styles.css. In my RCL pages, I've tried several hrefs: ~/css/styles.css, /css/styles.css, then css/styles.css. All 404 in the consuming app. I looked at this issue https://github.c

[2020-01-25 12:54] adamosoftware commented on #16708
Here's some more info....
- style link in RCL page is [here](https://github.com/adamosoftware/AzureLogger.ExceptionDashboard/blob/master/AzureLogger.ExceptionDashboard/Areas/ExceptionLog/Pages/Shared/_Layout.cshtml#L7)
- stylesheet itself is [here](https://github.com/adamosoftware/AzureLogger.ExceptionDashboard/blob/master/AzureLogger.ExceptionDashboard/wwwroot/css/styles.css)

[2020-01-25 13:38] hanabi1224 opened #16709 "dist output bundling"
It's not clear how to turn on output (dll) file bundling. If I host the static output on CDN, i need bundled output files in [name].[hash].dll format otherwise it cannot handle app updates.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89b4d6a1-1436-7ba8-a5c5-8dcb6a955bb0
* Version Independent ID: 4a6a13b4-fe

[2020-01-25 14:08] guardrex commented on #16709
Hello @hanabi1224 ... Can you clarify what you mean by ...

... is your purpose cache-busting?

[2020-01-25 14:12] guardrex commented on #16708
Did you try the pattern in the first sentence of ...

https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.1&tabs=visual-studio#consume-content-from-a-referenced-rcl

[code]

[2020-01-25 15:00] adamosoftware commented on #16708
I saw that, read that several times, but wasn't sure what to make of that. I want the RCL to use/consume its own content. I don't need to reference that stylesheet outside the RCL, so I felt that paragraph you're referring to didn't apply. Anyway, that advice differed from the supposedly working example [here](https://github.com/dodyg/practical-aspnetcore/blob/master/projects/mvc/razor-class-libra

[2020-01-25 15:07] guardrex commented on #16708
... I think the idea is that **_it is outside the RCL_** from the point of view of the consuming app. The resource is still in the RCL no matter how it's requested from that point of view ... a page in the app or a page in the RCL.

WRT the issue you cite: I think 🤔 that pertains to a period before work was done by engineering to resolve this. Early on, there were some issues with getting static a

[2020-01-25 15:34] hanabi1224 commented on #16709
@guardrex Yes, exactly.  I'd like to make those dll files immutable with max-age header so I need the fingerprint as part of file names, does that make sense?

[2020-01-25 16:24] figuerres commented on #16704
some interesting replies...
i do not see how GraphQL replaces OData, but i will do some research.
the first few things i found seem to be saying that GraphQL lacks some features that OData has.

also as far as Odata and OpenAPI - swashbuckle with the Odata extension works fine in classic .net web api's.

it is my understanding that OpenAPI is just an update to Swagger ,  yes the OData reply is dyn

[2020-01-25 16:57] #16598 closed

[2020-01-25 17:15] wadepickett commented on #16598
Verified package available now.  Moved the new topic to publish per @JamesNK approval.  It will be available soon once the publishing system gets it there.

[2020-01-25 17:23] guardrex commented on #16709
I'll mark this for triage, and we'll get some feedback from engineering. Thus far, there isn't any specifically-designed Blazor approach outside of setting headers. They usually triage these issues on Fridays. Stand-by until next Friday (1/31) to see what they suggest.

[2020-01-25 17:44] #16708 closed

[2020-01-25 18:03] wadepickett commented on #16598
Published here:  [gRPC in browser apps](https://docs.microsoft.com/en-us/aspnet/core/grpc/browser?view=aspnetcore-3.1)

[2020-01-25 19:08] serpent5 commented on #12997
@Rick-Anderson It looks like there's explanation needed around why this would be needed, etc, that I just can't cover nearly well enough. I think this would be better tackled by one of the experts.

[2020-01-25 20:53] LosPresidente opened #16718 "Application cannot launch"
After 'dotnet run' I get this error, do you know what might be causing it?

Unhandled exception. System.FormatException: Could not parse the JSON file.
 ---&gt; System.Text.Json.JsonReaderException: '0xC2' is invalid after a value. Expected either ',', '}', or ']'. LineNumber: 10 | BytePositionInLine: 40.
   at System.Text.Json.ThrowHelper.ThrowJsonReaderException(Utf8JsonReader& json, ExceptionRe

[2020-01-25 21:43] guardrex commented on #16718
Hello @LosPresidente ... probably just what the error says ... the JSON file being read is malformed. Recommend that you post to a support channel for help. We don't provide general programming support here. We just work on docs.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/)
* [ASP.NET Gitter](https://gitter.im/aspnet/

[2020-01-25 21:43] #16718 closed

[2020-01-25 22:53] LosPresidente commented on #16718
First of all - you guys are fast, I appreciate that. And sorry to intrude the comment section.

[2020-01-26 12:30] Bob1904 opened #16720 "services.AddDbContext<MovieContext> should be RazorPagesMovieContext"
In the code sample for Visual Studio Code, under "Scaffold the movie model", "Use SQLite for development, SQL Server for production", the two lines for AddDbContext should be changed from:

services.AddDbContext<**MovieContext**>(options =>

to:

services.AddDbContext<**RazorPagesMovieContext**>(options =>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-01-26 13:00] brikken opened #16721 "Blazor"
This would be a good place to mention that the .NET client does not work in Blazor WebAssembly

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: c888abac-0b7a-6529-e3a9-dc43ca14ffce
* Version Independent ID: 08a0cb80-db1e-0ca5-abd7-9bfc3a28b01e
* Content: [SignalR client features](https://docs.microsoft.com/

[2020-01-26 16:13] TomVeltmeijer opened #16722 "Framework-dependent executable is missing from list"
The list of files generated by `dotnet publish` for an FDD is missing the executable:
[framework-dependent executable is the default for the .NET Core SDK 3.x CLI](https://docs.microsoft.com/en-us/dotnet/core/deploying/deploy-with-cli#framework-dependent-executable).

Because the filename extension of an executable is platform-dependent, it wouldn't fit neatly in the current format of

It could po

[2020-01-26 16:51] guardrex commented on #16722
Thanks @TomVeltmeijer ... I'll update that right now. IIRC, the extension is *.exe* xplat for FDE. I'll call for engineering review, so they'll let me know if that's incorrect on the PR.

[2020-01-26 17:52] Rick-Anderson commented on #16401
Moved to Add a model to a Razor Pages app : Master Issue #15941

[2020-01-26 17:52] Rick-Anderson commented on #16720
Moved to Add a model to a Razor Pages app : Master Issue #15941
and dup of #15729

[2020-01-26 17:52] #16720 closed

[2020-01-26 22:44] enviel opened #16724 "ASP.NET Core 3.1 SignalR Authentication and Authorization 401 (Unauthorized)"
# Issue description
Trying to use JWTToken with SignalR following the [docs ](https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-3.1)and [GitHub sample](https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/signalr/authn-and-authz/sample) but can't seem to manage to make it to work and always ended with 401 (Unauthorized)
client-side code

[code]
[code]

[2020-01-27 01:26] Rick-Anderson commented on #16724
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-01-27 01:26] #16724 closed

[2020-01-27 01:27] Rick-Anderson commented on #16721
cc @guardrex

[2020-01-27 03:32] DanJ210 opened #16725 "This Worked One Single Time"
I've copied the above tutorial exactly, using a brand new app. I got all the way to "Register, Confirm Email and Reset Password" and "Test Password Rest". Everything worked one single time. Sent the confirmation email one single time. I cleared the database of the identity user to start all the way over by using a new database entirely and scaffolding out the identity migrations again. Since then,

[2020-01-27 03:36] Rick-Anderson commented on #16725
That's an open requested issue in the source repo. Many people have asked for this.

 While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com/aspnet-s

[2020-01-27 03:36] #16725 closed

[2020-01-27 03:38] Rick-Anderson commented on #16725
If you're using SendGrid check what email is sent out.
One of my GMAIL accounts + microsoft accounts never gets the SendGrid email. Use multiple accounts when testing.

[2020-01-27 03:41] Rick-Anderson commented on #16725
https://github.com/dotnet/aspnetcore/issues/13462

[2020-01-27 06:26] Seabizkit commented on #16614
agreed, and all i was saying is it would be nice if the follow was added as well, "previously controller type logic is now no longer in controller files, and are instead in code behind files, on the views, following the new 'razor lib pages'  although you can still use controllers added content"

[2020-01-27 10:29] omuleanu opened #16726 "how is AuthenticationProperties.RedirectUri intended to be used ?"
so I set `AuthenticationProperties.RedirectUri`
after I do
`await HttpContext.SignInAsync(new ClaimsPrincipal(claimsIdentity), authProperties);`
and, the redirect doesn't happen in the line above
atm I think I'll just call:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2229fc6-f8c8-952e-e567-b1d5a463055a
* Ver

[2020-01-27 11:45] dehghani-mehdi opened #16727 "[Q] Custom storage providers for Identity, how to make sure my SQL codes are valid?"
Hi,

For example for `RemoveClaimAsync` method, I wrote following SQL:

[code]

I could not find any reference for Identity's tables (table's relationship, ....), so I don't know how I can be sure about my SQL codes.

[2020-01-27 13:22] thanhnntq opened #16728 "WebAppPart The view 'Index' was not found"
![image](https://user-images.githubusercontent.com/30698814/73177846-9ca61b00-4142-11ea-8db8-c52e7377a323.png)
Run doc WebAppParts can't find view in reference project (MyShared).

[2020-01-27 13:43] FANMixco opened #16729 "Unable to find package Microsoft.AspNetCore.Blazor.Templates"
# Issue description

It seems the Blazor version is incorrect:

# Software versions

Check the .NET target framework(s) being used, and include the version number(s).

- [x] .NET Core
- [ ] .NET Framework
- [ ] .NET Standard

If using the .NET Core SDK, include `dotnet --info` output. If using .NET Framework without the .NET Core SDK, include info from Visual Studio's **Help** > **About Microsoft

[2020-01-27 13:54] guardrex opened #16730 "Unable to find package Microsoft.AspNetCore.Blazor.Templates"
From @FANMixco on https://github.com/aspnet/AspNetCore.Docs/issues/16729 ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version Independent ID: 8226ed72-69b2-3c93-a931-218bd11cf9c8
* Content: [Get started with ASP.NET Core Blazor](https://docs.microsoft.com/en-us/aspnet/core/b

[2020-01-27 13:54] guardrex commented on #16729
Hello @FANMixco ... Please use the **This Page** feedback button+form at the bottom of the **Get Started** topic to open a new issue.

Moved to https://github.com/aspnet/AspNetCore.Docs/issues/16730.

[2020-01-27 13:54] #16729 closed

[2020-01-27 13:57] guardrex commented on #16730
https://www.nuget.org/packages/Microsoft.AspNetCore.Blazor.Templates/3.1.0-preview4.19579.2

You may have a *nuget.config* file somewhere in the directory tree above the project that's changing the NuGet feed.

[2020-01-27 13:57] #16730 closed

[2020-01-27 14:09] FANMixco commented on #16730
Hi @guardrex, could you explain me? Maybe I don't understand well your viewpoint. I'm running it from the console, I'm not in any specific folder. I tried with Admin rights too.

![VSCommand](https://user-images.githubusercontent.com/1666156/73181087-e11bc180-4116-11ea-8c6a-73dec08ecec6.jpg)

Also, I followed this instructions:

From here:

https://docs.microsoft.com/en-us/aspnet/core/blazor/get-s

[2020-01-27 14:39] guardrex commented on #16730
I think you have a NuGet feeds problem of some sort.

Try re-running the command with an explicit source for nuget.org ...

[code]

[2020-01-27 14:56] figuerres commented on #16704
some info for anyone who needs to make this work:
i found a sample on github that makes swashbuckle for asp.net core and Odata work:
https://github.com/tizianovicentini/SwaggerAndODataWithDotNetCore3

no need to get the swashbuckle odata extension. just a few hacks in the setup.

[2020-01-27 14:57] FANMixco commented on #16730
Indeed, your solution worked, _don't you think this could be added as a workaround or suggestion in the documentation?_ I'd say I might not be the only one who could face this issue, especially in corporate environments.

[2020-01-27 15:10] guardrex commented on #16730
Very few issues (only one or two over the past year) have been opened for this scenario. Usually, developers having NuGet feed/source issues in corporate environments are aware of their circumstances, so they generally seem to know how to address it. I'll keep an :ear: open for more feedback. If devs ping on this more frequently, then *yes* ... I'll add something to the topic about it.

[2020-01-27 15:19] scottaddie commented on #16631
@ByteDev The section you mention only applies to ASP.NET Core 2.2 or later. That section's link (within the **ApiController attribute** section) is currently bring displayed for 2.1 as well, which is a problem. I'll take care of that problem right now.

[2020-01-27 15:27] ionescudan12 opened #16732 "Eager Validation (fail fast at startup) with testing"
Since there is no solution in the official doc for [Options eager validation](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-3.1#options-validation), I have tried and successfully been able to add a new method on how to add eager validation + lazy validation (the default implementation for Options pattern). However, note that this only works using I

[2020-01-27 17:29] guardrex commented on #16732
Thanks @ionescudan12 ... We don't generally support advanced testing scenarios in the docs due to our workload, so we recommend that you provide this example to the community via other channels (blog, presentations, tutorial, GitHub repo, etc.).

[2020-01-27 17:29] #16732 closed

[2020-01-27 17:34] Rick-Anderson opened #16734 "improve CSAT OKR Config"
[internal bug](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1664861)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb4d762-3910-2c57-8741-3306c15537b6
* Version Independent ID: ba2254a0-ea8e-9b28-e94b-edd0fc58c043
* Content: [Configuration in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/

[2020-01-27 17:51] Ricardoaraujo00 opened #16735 "Blazor rendering"
Why not make Blazor to first load the code section and then do the rendering? I have to make a lot of conditions like "if variable not null" to go through a foreach to render page elements. And sometimes i get the error that the variable is not instantiated, or that the key in the dictionary is null. Sometimes i get the first error, other times the second, in the same condition!!!. This looks like

[2020-01-27 17:52] guardrex commented on #16735
Hello @Ricardoaraujo00 ... We only handle documentation issues here. Open your product feedback on the engineering repo at ...

https://github.com/dotnet/aspnetcore/issues

[2020-01-27 17:52] #16735 closed

[2020-01-27 18:01] Rick-Anderson opened #16736 "Improve CSAT OKR EF Core and MVC"
[Internal bug](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1664859)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ad06677-5842-c1aa-153f-7993a9660dfa
* Version Independent ID: 8daf79df-eac4-358b-e6f0-6def45bd54da
* Content: [Tutorial: Get started with EF Core in an ASP.NET MVC web app](https://docs.m

[2020-01-27 18:26] Rick-Anderson commented on #12147
@pranavkm can I close this issue and let the issue document

https://github.com/aspnet/AspNetCore/blob/4a5f2d16bbeab0e16f3786d5058872c013c686f9/src/Antiforgery/src/Internal/DefaultClaimUidExtractor.cs

[2020-01-27 18:30] pranavkm commented on #12147
Sure

[2020-01-27 18:30] josuemb opened #16737 "dotnet dev-certs https --trust Does not work for Microsoft Edge Chromium based"
When I run:

`dotnet dev-certs https --trust`

The command does not work for **Microsoft Edge Chromium based** (even when it works for Google Chrome).

Please add support for this Browser.

[2020-01-27 18:32] josuemb commented on #16737
I already checked the current code for dev-certs tool. It looks simple. If you guide me a little I can help to fix it.

[2020-01-27 18:41] josuemb commented on #16737
After applying:

https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.1&tabs=visual-studio#troubleshoot-certificate-problems

And close/reopen the browser the problem has gone.

Thanks.

[2020-01-27 18:41] #16737 closed

[2020-01-27 18:44] #12147 closed

[2020-01-27 18:57] #16631 closed

[2020-01-27 19:04] Rick-Anderson commented on #12236
@HaoK  can you answer quick question?

I always thought that the whole purpose of configuring authentication is defining various auth options for app. But from the sentence above it follows that there is a standalone term `app's authentication scheme`. What is it?

[2020-01-27 19:06] Rick-Anderson commented on #12236
@HaoK  does this answer the question?

[Authorize with a specific scheme in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/limitingidentitybyscheme?view=aspnetcore-3.1)

[2020-01-27 19:10] #12236 closed

[2020-01-27 19:10] HaoK commented on #12236
Generally the 'app' authentication scheme is the default scheme or default authentication scheme, which is what the auth middleware will use and set on the HttpContext

[2020-01-27 20:55] chrisbiles commented on #14170
To anyone that might still have the above mentioned problem, make 100% sure that your PMC "Default Project" setting is set to GrpcGreeterClient when issuing the following commands:

Install-Package Grpc.Net.Client
Install-Package Google.Protobuf
Install-Package Grpc.Tools

If not, you will have the aforementioned problem.  I just figured it out today that I was doing something that dumb and wonder

[2020-01-27 20:59] Rick-Anderson opened #16738 "Improve CSAT OKR: Host ASP.NET Core on Windows with IIS"
[Internal bug](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1664863)

This advanced topic is inherently low CSAT.  Anyone with problems hosting that can't find a magic bullet in this doc gives it a bad rating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec484002-18c1-6a0d-00de-820d56f038d3
* Version

[2020-01-27 21:01] Rick-Anderson commented on #12844
@guardrex  unassign yourself if you don't have time.

[2020-01-27 21:03] guardrex commented on #12844
Sure thing ... I'll take care of it right now. I'm at a good *Blazor Break Point*:tm:.

[2020-01-27 21:04] Rick-Anderson opened #16739 "CSAT OKR: Troubleshoot ASP.NET Core on Azure App Service and IIS"
This advanced trouble shooting doc is inherently low CSAT. Anyone with problems that can't find a magic bullet in this doc gives it a bad rating.

[Internal bug](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1664865)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a2a7104-1d14-2e8a-0984-d92aa311c108
* Ve

[2020-01-27 21:08] Rick-Anderson commented on #16728
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2020-01-27 21:08] #16728 closed

[2020-01-27 21:09] Rick-Anderson commented on #16727
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-01-27 21:09] #16727 closed

[2020-01-27 21:10] guardrex commented on #12844
@Rick-Anderson ... looks like this was resolved on an earlier PR at some point. There are only two Web Host topic links, and they're both in versioned content <3.0.

[2020-01-27 21:10] #12844 closed

[2020-01-27 22:04] rbenitti opened #16740 "Highlight the importance of order when inserting NewtonsoftJsonPatchInputFormatter"
It should be noted that adding `NewtonsoftJsonPatchInputFormatter `at the end of `options.InputFormatters` will yield an unexpected behaviour, as the `InputFormatters `collection is traversed in order and `Microsoft.AspNetCore.Mvc.Formatters.SystemTextJsonInputFormatter` (which supports "application/*+json" as media type) would be found first. Thus, it will be the later the one to consume and pars

[2020-01-28 03:11] DanJ210 commented on #16725
I was using multiple. Gmail, Hotmail and office 354. Console app sends to all accounts except the Hotmail account only received an email one single time. Never again has it received or displayed an email and I've sent to multiple aliases, if you know what those are. SendGrid activity shows the emails to the Hotmail account and all aliases were processed and received by the Hotmail server. But only

[2020-01-28 04:44] dehghani-mehdi commented on #16727
Thanks for closing issue!

How? I didn't event mention `ASP.NET Core`.

I'm not asking question or reporting technical issue, I'm at doc repo and looking for Identity documentation.

[2020-01-28 07:31] Locomotion77 opened #16741 "Content has to be improved"
I am confused with so many configuration files such as launchSettings.json, appSettings.json, and web.config. This article should emphasizes that the launchSettings.json is used in Visual Studio or local development ONLY, but has nothing to do with deployment. It takes hours for me to try to digest and relate all the concepts until I find the similar discussion at stakeoverflow (https://stackoverf

[2020-01-28 12:56] Heidelberger opened #16742 "AzureAD[B2C]Defaults"
"AzureAD[B2C]Defaults" is a terrible way to write "AzureADDefaults OR AzureADB2CDefaults"

Please consider changing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 765e611b-a170-db1a-fa50-2771d79b2732
* Version Independent ID: ef34ebdf-977a-b797-e263-cb32c1643272
* Content: [Cloud authentication with Azure Active Direc

[2020-01-28 13:44] guardrex commented on #16741
Hello @Locomotion77 ... These files are described in the topics where each applies:

* *launchSettings.json* is a tooling configuration file for the Development environment, described in this topic's *Development* section and where it pertains to tooling across the docs.
* *appsettings.json*/*appsettings.{Environment}.json* is an app configuration file, described in the configuration and hosting t

[2020-01-28 14:13] anonymous234 commented on #16614
"The following highlighted code shows the changes to replace the default Identity UI with Identity in an ASP.NET Core 2.1 web app." is also a very confusing sentence even if you change 2.1 with 3.1. Isn't "the default Identity UI" a subset of "Identity"?

[2020-01-28 16:24] ekalyvio opened #16743 "More information-clarification needed."
At the top of the page you state (the following) that an ASP.NET Core Blazor app is needed for that page:
"To create a project for the hosting models described in this article, see Get started with ASP.NET Core Blazor."

In the paragraph "Integrate Razor components into Razor Pages and MVC apps" you state about adding a &lt;base&gt; tag to a layout file (_Layout.cshtml).
That file does not exist o

[2020-01-28 16:25] guardrex commented on #16743
Thanks @ekalyvio ... I'll check as soon as I get home from the gym. :muscle:

[2020-01-28 17:14] guardrex commented on #16743
@ekalyvio ... the statements are accurate and covered in the right spot (for now at least).

Yes, either type (hosting model) of Blazor app can be created following that guidance.

Starts by saying ...

... because that whole section pertains to integrating **Razor components** into a **Razor Pages/MVC app**, not a Blazor app.

Thus far, we're keeping Blazor- and Razor component-related content in

[2020-01-28 17:50] #16743 closed

[2020-01-28 17:57] Rick-Anderson commented on #16742
`AzureAD[B2C]Defaults` won't compile - right?

[2020-01-28 18:11] #16722 closed

[2020-01-28 18:24] guardrex commented on #16579
@Tratcher Ur question got stuck. If you feel good about not surfacing anything for this scenario, then I'll close this issue and keep an :ear: open for similar feedback/questions.

[2020-01-28 19:09] ajaybhargavb opened #16746 "Update Blazor web assembly debugging docs to include VS and VS Code F5 debugging"
We're working on adding first class support for web assembly debugging scenarios in VS and VS Code. We need to update the documentation once that work is done.

[2020-01-28 19:43] mvarblow opened #16747 "Incorrect statement about IDisposable support"
This statement is no longer correct:

WARNING: The ObjectPool doesn't implement IDisposable. We don't recommend using it with types that need disposal.

Please update the documentation to reflect recent changes. See:

https://github.com/dotnet/extensions/issues/973

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 075aad4

[2020-01-28 19:50] jawaharrajan opened #16748 "Scaffolding TodoItem Controller"
I am trying to Scaffold a Controller based on Model TodoItem and DBContext  TodoContext with this command Line :

`dotnet aspnet-codegenerator controller -name TodoItemsController -async -api -m TodoItem -dc TodoContext -outDir Controllers`

but I get this error:
Building project ...
Finding the generator 'controller'...
Running the generator 'controller'...
A type with the name TodoItem does not

[2020-01-28 19:52] Rick-Anderson commented on #16747
![image](https://user-images.githubusercontent.com/3605364/73299762-debb7500-41b3-11ea-88dd-81e0b04f3c2b.png)

[2020-01-28 19:57] Rick-Anderson commented on #16748
Try using the FQN (fully qualified name)

[2020-01-28 19:57] #16748 closed

[2020-01-28 20:37] PiotrPerak commented on #16579
In the mean time I switched to ASP MVC Core app. Later I got answer here. You need to create special folder structure for this to work - https://stackoverflow.com/a/59787146/679340. I don't like it, it's not documented anywhere and sometime it just might stop working.

[2020-01-28 20:38] Rick-Anderson commented on #16740
@pranavkm  if you can provide a draft of this I'll add it to the article.

[2020-01-28 20:44] guardrex commented on #16579
@PiotrPerak Did you try passing `dotnet {assembly}.dll` in the `StartupCommand`?

[2020-01-28 20:58] johnayoub commented on #16669
@Rick-Anderson could you confirm that if I need both attribute based routing and convention based routing and both endpoints need to be protected I would use something like this

[code]

[2020-01-28 21:14] PiotrPerak commented on #16579
No I didn't. I switched to other app kind before I received response here.

[2020-01-28 21:15] guardrex commented on #16579
I'd test it to see if it works, but I just don't have 🕐 these days. 🏃🏃🏃🏃🏃🏃🏃🏃🏃🏃😅

[2020-01-28 21:46] fiksen99 opened #16751 "Indicate how to specify error messaging to the user based on authorization failure"
It's not clear how to pass specific messaging from the authorization handlers, which has the context on why a request was forbidden, to the authentication's scheme handlers, which formats the response to users when context.Fail has been called.

It looks like something in httpContext.Authentication could provide a way to pass messaging back to the scheme handler (`IAuthenticationHandler`) but this

[2020-01-28 21:53] Rick-Anderson commented on #16751
Moved to Master issue for Policy-based authorization #16191

[2020-01-28 21:53] #16751 closed

[2020-01-28 21:55] Rick-Anderson commented on #16191
@blowdart  can you schedule some time to review this and all the [is:open label:Security-PU](https://github.com/aspnet/AspNetCore.Docs/labels/Security-PU) issues? I'll be you could close most of then in 5 minutes each.

[2020-01-28 21:56] Rick-Anderson commented on #16751
@fiksen99  good question. Hopefully @blowdart  can respond to this and other issues on this doc.

[2020-01-28 23:06] BrennanConroy commented on #16721
I'm not sure what the policy of documenting "not working on a not shipped product" is. But this does work in the [first preview](https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-1-release-now-available/) of Blazor WebAssembly.

[2020-01-28 23:07] guardrex commented on #16721
I'll be taking this up tomorrow on a different issue. It's ok to close this.

@brikken, keep an :eye: out for the doc updates coming within 24 hours.

[2020-01-28 23:07] #16721 closed

[2020-01-28 23:33] jawaharrajan commented on #16748
Thanks Rick,
The mistake was mine, I keep forgetting to save the new file I had generated for the TodoItem.

Once I saved the file the command ran with no issues
Thanks

[2020-01-29 00:27] MisinformedDNA opened #16757 "Fix capitalization"
I suggest that all instances of "ADD" be replaced with "Add". ADD signals an abbreviation, which is what I kept seeing. And I really don't see why that one word would be all uppercased.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 431df4fc-4168-cc8f-d053-9b264d2971c1
* Version Independent ID: cd157d04-d596-83fa-6edb-

[2020-01-29 00:58] JandosKh opened #16758 "Common error handler"
Please provide information on common error handler which intercepts all errors. Index html contains &lt;div id="blazor-error-ui"&gt; tag, but how it is used internally is unclear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce1440e7-febc-3fbc-09d7-7f47b740fd3b
* Version Independent ID: 31071595-7c71-b6f7-3856-74f78c

[2020-01-29 01:03] javs-ctr opened #16759 "Clarify configuration provider capabilities for Kestrel options"
Question regarding the statement above under the [Kestrel options](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.1#kestrel-options) section:

In reading the statement above, I am curious if it is possible to set the `ClientCertificateMode` from the `HttpsConnectionAdapterOptions` class [HttpsConnectionAdapterOptions.cs](https://github.com/dotnet/aspnet

[2020-01-29 01:03] guardrex commented on #16758
Hello @JandosKh ... What do you mean by "internally"?

[2020-01-29 01:13] guardrex commented on #16759
Hello @javs-ctr ... *Indeed,* there isn't exact parity between the naming of properties that you can set in code and the keys used in the configuration file. I don't think that one is available ...

https://github.com/dotnet/aspnetcore/blob/master/src/Servers/Kestrel/Core/src/Internal/ConfigurationReader.cs

However, it's best to ask. Even if it isn't available, your feedback is important to them

[2020-01-29 01:49] JandosKh commented on #16758
@guardrex , I see that '#blazor-error-ui' is hard-coded, which is okay with me. What I really want is to know where to intercept all errors. For example, when I receive HTTP 401, I'd like to redirect to login page, or do something else.

[2020-01-29 01:58] guardrex commented on #16758
See the auth topic for that ... https://docs.microsoft.com/en-us/aspnet/core/security/blazor/ ... there's an `AuthorizeRouteView` component and a following section that pertains to procedural logic for auth.

For unhandled errors in a Blazor app, you'll need to follow the guidance in this *Handle errors* topic and trap them yourself.

[2020-01-29 02:01] guardrex commented on #16758
I'll go ahead and close since what you're asking about isn't an "error" but more of an "authn/authz failure" scenario covered by the other topic.

[2020-01-29 02:01] #16758 closed

[2020-01-29 03:40] #16757 closed

[2020-01-29 11:59] randelramirez commented on #16614
Is there a schedule on when could this be fixed? I'm currently learning ASP.NET Core Identity and I quickly noticed some inconsistencies while reading and trying to follow the instructions in the Docs.

Thanks.

[2020-01-29 13:15] timmywiff commented on #14387
This is also happening to me using 3.1. I click sign out, which sings me out of the app. Then, clicking Microsoft to sing in, signs in the previous user.

[2020-01-29 13:38] guardrex opened #16761 "Blazor WebAssembly 3.2 Preview 1 Updates"

[2020-01-29 14:01] alex737876 opened #16762 "meaning not clear"
In 2.d in this doc there is "Confirm that the setProfileEnvironment attribute isn't present, which defaults the value to *true* , or explicitly set the attribute's value to *true*."
--&gt; I guess the firs "true" has to be a "false" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 945c28b7-6cc7-d4ed-3b96-a401eef42f59
*

[2020-01-29 15:41] Mike-EEE opened #16763 "The authentication middleware takes care of routing requests back to the handler,"
The documentation on this concept is very well-done.  Thank you for putting the effort into explaining it all here.  I was able to setup as prescribed without much friction at all.

The only friction I now have is this magic callback uri, `/signin-twitter` ... it would be very valuable to know how to access this file and override it as necessary.

FWIW, I am assuming this is possible as I have bee

[2020-01-29 16:14] guardrex opened #16764 "Split advanced configuration content out of Blazor Hosting Models topic"
For discussion/triage: The *Hosting Models* topic goes into advanced configuration details that might be better off in another topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 542f38c4-1502-f739-372a-80c86c377491
* Version Independent ID: 72c2a844-ffb2-4799-2c7a-a7a73d3b6833
* Content: [ASP.NET Core Blazor hosting

[2020-01-29 17:40] Rick-Anderson commented on #14387
Potential bugs in the ASP.NET Core framework and product feedback can be reported at [dotnet/aspnetcore issues](https://github.com/dotnet/aspnetcore/issues) (include full repro steps and cross-link to a repro project in GH when appropriate).

[2020-01-29 17:43] Rick-Anderson commented on #16762
I think it's correct.

The app pool's `setProfileEnvironment `attribute must also be enabled. The default value of setProfileEnvironment is `true`. In some scenarios (for example, Windows OS), `setProfileEnvironment `is set to `false`. If keys aren't stored in the user profile directory

[2020-01-29 17:44] #16762 closed

[2020-01-29 17:53] javs-ctr commented on #16759
My thanks to you guardrex for the rapid response. I created an [issue](https://github.com/dotnet/aspnetcore/issues/18660) earlier based on your recommendation.

The [ConfigurationReader.cs](https://github.com/dotnet/aspnetcore/blob/master/src/Servers/Kestrel/Core/src/Internal/ConfigurationReader.cs) class reference was quite helpful.

[2020-01-29 17:57] Rick-Anderson commented on #16763
I think that's on the twitter side.

The URI segment `/signin-twitter` is set as the default callback of the Twitter authentication provider. You can change the default callback URI while configuring the Twitter authentication middleware via the inherited RemoteAuthenticationOptions.CallbackPath property of the TwitterOptions class.

[2020-01-29 18:00] Rick-Anderson commented on #16763
@HaoK  how to get access to `/signin-twitter`?

[2020-01-29 18:01] #16741 closed

[2020-01-29 18:04] guardrex commented on #12833
Ping @Rick-Anderson @anurse ...

I'm looking to cross-link from API docs ...

* `Microsoft.AspNetCore.Authentication.Negotiate`
* `Microsoft.Extensions.DependencyInjection.NegotiateExtensions.AddNegotiate`

... but they live in the *Land of Wind and Ghosts.*:tm: (-RN)

[2020-01-29 18:09] Rick-Anderson commented on #12833
@scottaddie can you look into this?

[2020-01-29 18:21] Mike-EEE commented on #16763
Yeah it is indeed set to that property.  To add to the mystery, I believe I found its implementation here:

https://github.com/dotnet/aspnetcore/blob/fece4705eec5b2a118d9bd8b68eb867d2f573f7c/src/Security/Authentication/Twitter/src/TwitterHandler.cs

However, I am not quite sure yet how `/signin-twitter` maps to that implementation.  My expectation was that this is something that could be scaffolde

[2020-01-29 18:23] guardrex commented on #16647
Took a look at this. Best to move this to the product unit for triage. You'll be pinged on the new issue @fiksen99 in a few minutes.

[2020-01-29 18:23] #16647 closed

[2020-01-29 18:30] ryanbrandenburg commented on #14221
@jcemoller I think I see the problem here, I was misunderstanding your description of the problem until this morning. Placing `UseRequestLocalization` after `UseAuthentication` is a requirement for you (not in general) because of your custom `RequestCultureProvider` that checks IsAuthenticated. That provider assumes that the user has already been (or failed to be) authenticated, but since [the Con

[2020-01-29 18:30] #14221 closed

[2020-01-29 18:33] HaoK commented on #16763
The authentication middleware takes care of routing requests back to the handler, see https://github.com/dotnet/aspnetcore/blob/master/src/Security/Authentication/Core/src/AuthenticationMiddleware.cs#L44

[2020-01-29 18:49] Rick-Anderson commented on #16763
@01binary  should I add  `@HaoK ` comments to all the docs? It's also very discoverable from this issue.

[2020-01-29 18:49] #16763 closed

[2020-01-29 18:53] Mike-EEE commented on #16763
In my case and FWIW, I looked to see if this was already discussed in the closed comments before posting a new one.  I was eyeballing for "signin-twitter" in the title, however.

[2020-01-29 19:04] Rick-Anderson commented on #16763
@Mike-EEE  but this applies to all the OAuth 2.0 providers, and twitter has about the lowest usage of all the articles.

[2020-01-29 19:19] guardrex commented on #16764
Holding the .NET SignalR Client content for Blazor WebAssembly for 3.2p1 until we determine if it can go into the SignalR doc/tutorial with a cross-link from either Blazor's *Hosting Models* topic or wherever we go with config content ...

Blazor WebAssembly supports the [.NET SignalR client](xref:signalr/dotnet-client). To use SignalR in a Blazor WebAssembly app:

1. Create an ASP.NET Core hosted

[2020-01-29 19:36] #16761 closed

[2020-01-29 20:04] Mike-EEE commented on #16763
Sounds good to me, @Rick-Anderson ... my only outstanding inquiry is that the title of this issue seems to have been renamed... and wanted to verify if that was intentional or not as currently, it reads like a sentence fragment. 😊

[2020-01-29 20:09] Rick-Anderson commented on #15791
@HaoK  can you outline the steps so I can update the article?

[2020-01-29 20:25] Rick-Anderson commented on #16763
Yes I intentionally changed it so it can be discovered by anyone wondering how this works with the non-twitter OAuth handlers.

Please suggest a better generic title that will aid discoverability.

[2020-01-29 20:35] ata18 opened #16767 "Provide an example for switching to Azure KeyVaults when deployed"
I have deployed an asp.net core webapp and configured the ConnectionStrings__Default in the app settings page. It reads the connection string from an azure key vault.

![image](https://user-images.githubusercontent.com/6476128/73395714-ea329d00-4294-11ea-914c-fc1d9bf843f5.png)

In the startup.cs file, I access it as below and it works fine.
[code]
Today when developing locally, instead of having t

[2020-01-29 20:36] guardrex commented on #16759
See: https://github.com/dotnet/aspnetcore/issues/18660#issuecomment-579945890

[2020-01-29 20:54] Rick-Anderson commented on #16767
`Configuration.GetConnectionString("DefaultConnection")));` in production doesn't use secret manager. No need to change your code. Read any doc on deployment or the configuration doc.

[2020-01-29 20:54] #16767 closed

[2020-01-29 20:55] Rick-Anderson commented on #16767
Per the article:

Consider an ASP.NET Core web app in which **Individual User Accounts** security is enabled. A default database connection string is included in the project's *appsettings.json* file with the key `DefaultConnection`. The default connection string is for LocalDB, which runs in user mode and doesn't require a password. During app deployment, the `DefaultConnection` key value can be

[2020-01-29 20:55] Log234 opened #16768 "The description of the IdentityServer json is in reversed order"
These three lines should be reversed, as they would then match the order of the lines they are describing in the json snippet.

The name property on certificate corresponds with the distinguished subject for the certificate.
The store location represents where to load the certificate from (CurrentUser or LocalMachine).
The store name represents the name of the certificate store where the certifica

[2020-01-29 21:07] gewarren opened #16769 "Link to Web SDK"
You could add hyperlinks to the https://docs.microsoft.com/en-us/aspnet/core/razor-pages/web-sdk?view=aspnetcore-3.1 article in at least a couple places near the beginning of the article, like you do for Razor SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 684d1f55-3d8b-9ba6-ee65-e8f84c2b4244
* Version Independent

[2020-01-29 21:16] #16111 closed

[2020-01-29 21:16] #16327 closed

[2020-01-29 21:16] #16636 closed

[2020-01-29 22:08] ata18 commented on #16767
This doesn't help much. Keeping `Configuration.GetConnectionString("DefaultConnection")));` in production would work. This is what I previously had. But, this doesn't read the user-secrets when in dev environment.

[2020-01-29 22:13] Rick-Anderson commented on #16767
You're doing something wrong if it doesn't work in both environments.

[2020-01-29 22:20] danroth27 opened #16771 "Add "SignalR with Blazor WebAssembly" tutorial"
TOC: Real-time apps -> Tutorials -> SignalR with Blazor WebAssembly

Peer to the existing SignalR + JS / TS tutorials.

Should cover the same flow as the existing SignalR tutorials (chat app), but using Blazor WebAssembly with the .NET SignalR client instead of the JS client.

[2020-01-29 22:22] danroth27 commented on #16771
@guardrex I've cleared this with @bradygaster and @anurse, so this is good to go.

[2020-01-29 22:23] danroth27 commented on #16764
SignalR content will get covered by https://github.com/aspnet/AspNetCore.Docs/issues/16771

[2020-01-29 22:24] guardrex commented on #16771
For reference ...

Blazor WebAssembly supports the [.NET SignalR client](xref:signalr/dotnet-client). To use SignalR in a Blazor WebAssembly app:

1. Create an ASP.NET Core hosted Blazor WebAssembly app:

[code]

1. Add the ASP.NET Core SignalR Client package to the Client project:

[code]

1. In the Server project, add the following `ChatHub` class (*Hub/ChatHub.cs*):

[code]

1. In the Server pr

[2020-01-29 22:35] ata18 commented on #16767
@Rick-Anderson I am trying to understand where I went wrong. In [this](https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-3.1&tabs=linux) doc example, it doesn't use `Configuration.GetConnectionString(..)`.

Instead it uses `Configuration[..]` syntax which only works in development environment.
[code]
Could you point me to the doc where you see that `Configuration.Ge

[2020-01-29 22:53] ata18 commented on #16767
Setting the secret as below works with the existing code without changing the syntax.

`dotnet user-secrets set "**ConnectionStrings:Default**" "<connection string>"`

[code]

![image](https://user-images.githubusercontent.com/6476128/73404644-d1cb7e00-42a6-11ea-8bd2-97f35b8e40e5.png)

[2020-01-30 01:21] #16544 closed

[2020-01-30 03:39] thanhnntq commented on #16728
I downloaded the docs and ran it and received an error like that. I didn't change anything.

[2020-01-30 04:54] Tommigun1980 opened #16772 "Over-engineered"
I think this product is taking far too much a stance on programming patterns and conventions. It's good to have recommended practices, but I think those should be left as an optional addendum. As it stands now, in order to just access some configuration variables requires you to wade through tons of convention documentation and it comes off as grossly over-engineered. The entire product is going i

[2020-01-30 04:56] guardrex commented on #16772
Hello @Tommigun1980 ... We only handle documentation on this repo. You can leave product feedback on the engineering repo ...

https://github.com/dotnet/aspnetcore/issues

[2020-01-30 04:56] #16772 closed

[2020-01-30 05:09] antmdvs opened #16773 "Disposing of service instances not created by the container"
As stated in the [Disposal of Services](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-3.1#disposal-of-services) section:

[code]

Where is the correct place to dispose of service instances not created by the container such as these?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-01-30 05:36] guardrex commented on #16773
@anurse, should we further instruct on disposing on shutdown? Lock shows this pattern in [one of his blog posts](https://andrewlock.net/four-ways-to-dispose-idisposables-in-asp-net-core/) ...

[code]

[2020-01-30 07:17] dehghani-mehdi opened #16774 "What is the purpose of NormalizedX columns in Identity tables?"
Hi,

EF create tables for identity, in some tables there are `NormalizedX` columns, e.g: `NormalizedName` in `AspNetRoles` table.

1. What is the purpose of this kind of columns?
2. How EF normalize data for this columns?

I didn't find any documentation about this topic.

[2020-01-30 07:33] zhou881117 commented on #14593
yes,it's ok.

        {
            services.Configure<Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.MvcRazorRuntimeCompilationOptions>(options =>
            {
                options.FileProviders.Add(
                    new EmbeddedFileProvider(typeof(MySharedController).GetTypeInfo().Assembly));
            });
            // Requires using System.Reflection;
            var assembly = ty

[2020-01-30 07:35] Mike-EEE commented on #16763
How about: `Additional Information around Authentication Middleware (/signin-google, /signin-twitter, etc.)`

Otherwise, the comma was what was bothering me and it has been taken care of. 😁

[2020-01-30 09:43] tompi opened #16775 "Why use an extension method?"
Why not just call UseMiddleware&lt;RequestCultureMiddleware&gt;(); directly on the app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13e2d968-17a6-1a50-53cd-1d6b9ad0276d
* Version Independent ID: cd22a135-4446-79f5-89db-b741bd44a720
* Content: [Write custom ASP.NET Core middleware](https://docs.microsoft.com/en-us/as

[2020-01-30 12:59] LayersOfAbstraction opened #16776 "You are using wrong method in StudentsController.Details()."
Hi,

Great tutorials so far, thanks! You write for us to use `FirstOrDefaultAsync` but further down I can't see the (TOP(2)) from the Person table. I think the first code snippet should be changed to include the `SingleOrDefaultAsync` and not `FirstOrDefaultAsync`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4482f94

[2020-01-30 14:26] antmdvs commented on #16773
[One of the reader comments](https://andrewlock.net/four-ways-to-dispose-idisposables-in-asp-net-core/#comment-4562921265) in the above-referenced Lock article suggests that the factory overload of `AddSingleton` will cause auto-disposal, which is also illustrated in this doc on the line:

[code]

Is this generally recommended over the non-factory form when possible? Is there guidance on when the

[2020-01-30 15:33] npruehs commented on #16694
Umm, would you mind sharing which step I've been missing?

[2020-01-30 15:37] kitattyor opened #16778 "A more basic database-less example would be appreciated"
Since this is a more beginner oriented tutorial, a more basic db-less context example would be appreciated. This would help in understanding the concepts clearly before adding the additional complexity of Entity Framework and SQL Server.

Something like this is what I am looking for - [Youtube](https://youtu.be/J_MEscBWJYI?t=588)

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-01-30 16:04] ekalyvio opened #16779 "Error CS0229 Ambiguity between 'CreateModel._context' and 'CreateModel._context'"
Apparently, there is a known problem with scaffolding in VS that is not yet fixed by MS (neither given any solution).
[https://forums.asp.net/t/2162302.aspx?Namespace+problem+when+generating+Razor+Pages+in+VS+2019](url)

Briefly:
Trying to scaffold a new 'Reviews' class generates the following error message.
Error CS0229 Ambiguity between 'CreateModel._context' and 'CreateModel._context'
More deta

[2020-01-30 16:15] 01binary commented on #16763
@Rick-Anderson are you discussing this note being added?

[code]

That sounds good to me. Sorry I haven't been back to ASP.NET ecosystem until now, hope these documents are useful and not too hard to maintain.

[2020-01-30 16:57] Rick-Anderson commented on #16763
`@HaoK`'s  comment

The authentication middleware takes care of routing requests back to the handler, see [AuthenticationMiddleware.cs](https://github.com/dotnet/aspnetcore/blob/master/src/Security/Authentication/Core/src/AuthenticationMiddleware.cs#L44).

We'll just leave it in this issue for now.

[2020-01-30 16:58] RyanDansie commented on #7212
password are also insecure and vulnerable to all kinds of attacks but they are still used everywhere. a combination of password and SMS would be a step up from password alone. The QR code cant be a serious suggestion. Ive just checked on live.com and im able to setup sms 2 step auth on my microsoft account. It also let me recover my account with my email address, which is so much worse than sms. I

[2020-01-30 17:06] Rick-Anderson commented on #16779
Great error message. You must have forgotten to select data context.

If you can reproduce the problem from scratch:

* Create the simplest possible app the reproduces the problem.
* List all the steps to reproduce the problem.
* Put the app on a public GItHub
* Open an issue at https://github.com/aspnet/Scaffolding with the preceding

[2020-01-30 17:06] #16779 closed

[2020-01-30 17:08] Rick-Anderson commented on #16778
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2020-01-30 17:08] #16778 closed

[2020-01-30 17:10] Rick-Anderson commented on #16776
It's ` Details(int? id)` and uses the unique ID.

[2020-01-30 17:10] #16776 closed

[2020-01-30 17:14] Rick-Anderson commented on #16775
@serpent5  does that work?

[2020-01-30 17:19] Rick-Anderson commented on #16774
Good question. I'll try to get an answer. In the mean time, moved to Master issue: Introduction to Identity #16230

[2020-01-30 17:19] #16774 closed

[2020-01-30 17:30] Rick-Anderson commented on #16774
@HaoK  What is the purpose of NormalizedX columns in Identity tables?

1. What is the purpose of this kind of columns?
2. How EF normalize data for this columns?

[2020-01-30 17:34] Rick-Anderson commented on #16768
Any chance you could PR this? At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

In the mean time,  moved to master issue: Authentication and authorization for SPAs #16406

[2020-01-30 17:34] #16768 closed

[2020-01-30 17:52] jasonshave opened #16780 "Custom exception filter for ASP.NET Core 3.1"
I'm trying to implement the example exception filter in a ASP.NET Core 3.1 Blazor (server-side) application however the exception is never caught or fired at all. I've used the standard Blazor website template to test this outside of my project code which is also exhibiting the same issue. Could someone please tell me if and how you can implement the exception filter in a Blazor website/applicatio

[2020-01-30 17:59] HaoK commented on #16774
The normalized fields are what we do comparisons against for lookups, the regular columns are what you can think of as the display names, so the casing is preserved.

[2020-01-30 18:18] dazinator opened #16781 "Where is the "Web App Service Sample" that this doc mentions"
I want to run a web api as a windows service.
.UseWindowsService() overload is only available on IHostBuilder not IWebHostBuilder.
The worker service template can be used to run a background service, but not seemingly a web api.
So the mentioned sample would be very useful..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-01-30 18:19] guardrex commented on #16781
Linked under the *Download* remark at the top of the topic ...

https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/host-and-deploy/windows-service/samples/3.x/WebAppServiceSample

[2020-01-30 18:19] #16781 closed

[2020-01-30 18:36] serpent5 commented on #16775
Yeah, the extension method is just a wrapper around that call, so both options work.

Using an extension method is a convention that's adopted by the built-in middleware components. Consider a typical middleware pipeline setup for adding endpoints:

[code]

Consider that same configuration without the extension methods:

[code]

There's a lot of noise in that second example, especially around the

[2020-01-30 18:39] Rick-Anderson commented on #16775
Good question and fantastic answer.

[2020-01-30 18:39] #16775 closed

[2020-01-30 18:43] Tidy1 commented on #16297
I used @softlion method and it fixed my browser link.

[2020-01-30 19:03] bradygaster commented on #16771
ooo, ahh. this will be nice.

[2020-01-30 19:04] guardrex commented on #16771
I'm working on it right now. Draft is almost done. I'll need a couple of hours to do full testing (macOS, too). I should have it up for review first thing tomorrow (Friday) morning.

[2020-01-30 19:23] dazinator commented on #16781
Ah I see! Sorry I overlooked that.

[2020-01-30 19:24] udlose opened #16784 "Complete examples for Authenticated Encryption would be helpful"
Providing a complete end-to-end example of using Authenticated Encryption is badly needed!  Please consider adding a robust example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aed6559-898f-f231-efe9-c52280fb9ed1
* Version Independent ID: da99ef49-5d30-02d5-2af4-b130c82850b6
* Content: [Core cryptography extensibil

[2020-01-30 20:06] anurse commented on #16647
I'm not sure this is a product issue. We just expose the Key Vault config, including their auth API. Adding docs to show connecting to national clouds might be nice, but it would also depend on getting guidance from AKV on how to configure auth for that.

[2020-01-30 20:06] Rick-Anderson commented on #16784
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

@blowdart  our security chief can overrule me and open this issue.

[2020-01-30 20:11] guardrex commented on #16647
I don't have anything actionable at this time, nor was I able to find anything specific on a quick search of their docs.

@fiksen99, I'll need a bit more to go on. You're welcome to reach out to them and "cc: @guardrex" so that I can track the discussion. If we get something that I can work forward, I'll re-open the issue and take it back up with engineering to see if we should cover it. Also, rea

[2020-01-30 21:17] HaoK commented on #15791
It shouldn't be dramatically different than the `[Authorize("Admin")]` scenario that requires elevated privileges, the only complication is that it will likely require an additional scheme representing the MFA, so that its possible to challenge only for the MFA scheme (like prompting for an authenticator code, or sending a two factor code).  SignInManager does this underneath the hood in identity,

[2020-01-30 21:33] #15791 closed

[2020-01-30 21:35] Rick-Anderson commented on #16389
Multiple authentication schemes
@HaoK  this is similar to #15791 and tracked in #16190

[2020-01-30 21:54] Rick-Anderson commented on #10384
Per @HaoK  closing this as won't doc. This issue is discoverable and  containss @HaoK  notes.

[2020-01-30 21:54] #10384 closed

[2020-01-30 21:59] Rick-Anderson commented on #7268
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2020-01-30 22:04] HaoK commented on #7114
This seems like a decent doc for how one could implement role management https://www.yogihosting.com/aspnet-core-identity-roles/

[2020-01-30 22:09] anurse commented on #12833
These were brand new NuGet packages in 3.0, so they could have been lost. I can probably dig them up if you need to add them to the ingestion process :).

[2020-01-30 22:11] anurse commented on #16773
If all you need is to create a disposable object yourself rather than have the container do it, then yes, I'd use the factory form.

The "instance" form (where you pass a specific instance in) is the only one we don't dispose because *we don't know the intended lifetime* of the service. With the "type" form and the "factory" form, we create the instance so we know it's safe for us to dispose it. I

[2020-01-30 22:14] guardrex commented on #12833
I still need to do the work on the docs side, so let's me on here so I don't lose track of the issue.

[2020-01-30 22:17] guardrex commented on #12833
Whoever takes care of this between @anurse or @scottaddie, please mark your PR `Addresses` to keep the issue open. I'll close it when I hit the docs for their cross-links.

[2020-01-30 22:17] HaoK commented on #12437
Challenges are applied in order, but not all schemes play nicely with each other, multiple bearers can be challenged without issue, but cookies results in a 302, and bearer results in a 401, so only one of those schemes will win (last one)

[2020-01-30 22:20] HaoK commented on #15695
If you don't specify a default authentication scheme, you cannot have an [Authorize] attribute that doesn't specfiy a scheme.

[2020-01-30 22:21] guardrex commented on #16773
@anurse What should I do about the instance forms that we have in a handful of spots where we **don't** dispose? Would you like me to shoot a list of those cases in here (links to points in sample app code) so that you can put an :eye: on them and see if action should be taken? I can do that within a few days between Blazor issues that I'm working. 🏃

[2020-01-30 22:22] HaoK commented on #16156
There's not enough info here to see exactly what's going on but generally this is most likely due to the challenge going to the normal cookie, you would need to challenge("Admin") to see a redirect to the admin login

[2020-01-30 22:24] #16202 closed

[2020-01-30 22:27] Rick-Anderson commented on #12437
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2020-01-30 22:27] #12437 closed

[2020-01-30 22:28] Rick-Anderson commented on #15695
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2020-01-30 22:28] #15695 closed

[2020-01-30 22:29] Rick-Anderson commented on #16156
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2020-01-30 22:29] #16156 closed

[2020-01-30 22:31] HaoK commented on #12438
You policy doesn't require the user to be authenticated, try adding RequireAuthenticatedUser to your policy and it should fail as well

[2020-01-30 22:31] guardrex commented on #16773
wrt guidance for the topic ...

... seems like the salient guidance on half of this.

For the other half ...

... means that we should either ...

* Remove those from the guidance. If devs self-discover for their own needs, they can take those approaches and we wish them the best of luck. 🍀🤞
* Maybe say that in those cases disposal will occur **_when the process shuts down_**. :smile:

[2020-01-30 22:31] HaoK commented on #12438
The issue is maybe that you didn't specify an authenticationType in your identity, so even though you have a principal, its not considered authenticated

[2020-01-30 22:34] HaoK commented on #12177
This isn't a doc bug, seems like they figured out a workaround on stack overflow, if this is something that's still an issue please open a product bug

[2020-01-30 22:48] Rick-Anderson commented on #12438
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2020-01-30 22:48] #12438 closed

[2020-01-30 23:00] udlose commented on #16784
@Rick-Anderson , @blowdart
Though I appreciate the transparency, I'm disappointed to hear this kind of response. Respectfully, let me make a few points:

1. Cryptography is extremely difficult to get right - subsequently, very easy to get wrong.
2. The efficacy and usefulness of API's is closely tied to the amount and accuracy of documentation provided on how to effectively and correctly use them.

[2020-01-30 23:14] Rick-Anderson opened #16788 "Move Microsoft OWIN Components to a supported API URL and update them"
[Internal tracking issue](https://ceapex.visualstudio.com/Onboarding/_workitems/edit/169586)

[2020-01-30 23:27] blowdart commented on #16784
When you say authenticated, what algorithms do you mean? ASP.NET has no encryption algorithms, that's part of CoreFX and such a request would belong on their docs, along with what algorithms you want generated.

[2020-01-31 00:53] rgamage opened #16789 "Missing dependencies / using statements"
This article, like nearly every other MS doc article, is missing the all-important using statements required to use the example code.  Any example anywhere should start with the requirements/dependencies, it's just common sense.  Without these, a whole lot of time is wasted trying to figure out which references to add to your project, and which using statements to add.  It's not always obvious, es

[2020-01-31 01:00] Rick-Anderson commented on #16789
We don't show them in advanced topics like this one. You can always check the sample project. See https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/security/authorization/policies/samples/3.0PoliciesAuthApp1

[2020-01-31 01:00] #16789 closed

[2020-01-31 01:49] mjboggs opened #16790 "Doesn't work on Microsoft Edge"
Do you realize the first part of the code in this tutorial does NOT work in Microsoft Edge? The code works perfectly fine using Google Chrome but causes an error in Microsoft Edge.  As you ARE Microsoft, it may be a good practice to test your published code in your OWN products.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-31 02:06] guardrex commented on #16790
@mjboggs Yes, we know. TextDecoder made for a nice example of something that one could do client-side for this example, and the example was signed off by engineering with full knowledge of this situation. When we put this example up IIRC, the Edge team was working on getting TextDecoder working in Edge. Let me check on their progress and see where they're at with it. If they're going to roll that

[2020-01-31 03:04] GedillurBjorn commented on #16186
Same as @freemstr, removing the doc related to #13215 is not resolving it. I started learning code some times ago, and looking for an example of .net core web app to api with Azure AD B2C, but I was not able to find an example with Core 3.1.

[2020-01-31 03:04] udlose commented on #16784
Full disclosure...I don't have a deep background in crypto/security so please keep that under consideration; rather, I'm simply a dev trying to implement using Data Protection to create custom cryptographically-secure tokens stored as cookies so that I can "authenticate" their values at some future time. That being said, I'm not new to the game - working with .net since 2002.

@blowdart - here is

[2020-01-31 03:11] Rick-Anderson opened #16792 "Add secret field so tutorial teaches how to prevent overposting."
Add secret field so tutorial teaches how to prevent overposting.

Add the secret field at the [Adding a Rating Property to the Movie Model](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/new-field?view=aspnetcore-3.1&tabs=visual-studio#adding-a-rating-property-to-the-movie-model) stage.
* Use `MoveInputModel` for edit and `TryUpdateModelAsync` for create.

See https://docs.micr

[2020-01-31 03:15] blowdart commented on #16784
DataProtection already does this for you. All you need to do is call protect and unprotect. It’s already authenticated cryptographically. You don’t need to implement anything. An added bonus is we will rotate keys as they get old.

Authenticated encryption can be achieved by an encryption algorithm combined with a message authentication code to protect again people changing the payload. It doesn’t

[2020-01-31 03:15] Rick-Anderson commented on #16792
Moved to Add a model to a Razor Pages app : Master Issue #15941

[2020-01-31 03:16] Rick-Anderson commented on #16792
@scottaddie  please review this plan for the 5.0 update of this tutorial.  We need to do the same thing with the MVC version.

[2020-01-31 03:23] guardrex commented on #16790
@mjboggs Can you check your version of Edge. Looks like they landed it **two weeks ago**. :tada: That's a little longer than I hoped, but better late than never! :smile:

[2020-01-31 03:23] Rick-Anderson commented on #16790
I recommend you add a note to the doc saying  something like this is a sample and not supported. It's known that it doesn't currently work with Edge.

[2020-01-31 03:24] guardrex commented on #16790
It works with Edge ... now ... as of two weeks ago. Let me hear back from @mjboggs on browser version. I'm open to changing the example, but I'd prefer not to unless necessary. I like that example.

[2020-01-31 03:27] guardrex commented on #16790
After lengthy discussion of what versions of browsers are supported for Blazor, we go with **_Current_** ...

https://docs.microsoft.com/aspnet/core/blazor/supported-platforms

... so technically we're good, even if that's not very satisfying.

[2020-01-31 03:36] Rick-Anderson commented on #16784
Closing for now.

[2020-01-31 03:36] #16784 closed

[2020-01-31 04:05] KevinBurton commented on #6199
I started with the suggestions Rick-Anderson commented on May 22, 2018 but I am running into 'access denied'  when exporting the certificate, for not only the .aspnet path as suggested but what seems to be any path. Ideas on how to get over this hurdle?

[2020-01-31 04:39] mannym2124 commented on #13001
Issuing a dotnet build just before before issuing dotnet ef database update helped me. I was getting an error about m.Rating not existing.

[2020-01-31 04:42] KevinBurton opened #16793 "Access denied to export certificate"
I am running version 3.1.101 of dotnet. I am trying to run 'dotnet dev-certs https -ep <path> -p <password>' and I get 'Access denied for any path that I specify for -ep. How do I export the https certificate using 'dotnet dev-certs https'? For example:
Exporting certificate to 'C:\Users\kevburt\.aspnet\https'
The certificate will contain the private key
Ensuring that the directory for the target

[2020-01-31 04:55] mkArtakMSFT commented on #15374
@HaoK can you please put together some content around this topic? Thanks!

[2020-01-31 04:56] mkArtakMSFT commented on #14191
@javiercn did you have a sample like this somewhere ?

[2020-01-31 04:58] dehghani-mehdi commented on #16774
@HaoK what about second question?

[2020-01-31 04:59] mkArtakMSFT commented on #16326
Thanks for the details, @BoricuaEnLaLuna.
@rynowak should this be moved over to `aspnetcore` repo and be tracked as an `Issue` instead?

[2020-01-31 05:01] mkArtakMSFT commented on #15839
@Rick-Anderson I will get sombody to review this in a week.

[2020-01-31 06:00] Leon99 commented on #16581
@Rick-Anderson could you clarify how your link is related to the issue @petrce referenced?

[2020-01-31 06:15] Rick-Anderson commented on #16581
@Leon99  My link states what @petrce  want's documented. It's already documented.

[2020-01-31 06:24] Leon99 commented on #16581
Hmm @Rick-Anderson I'm confused. Your link states that "DataProtection.AzureStorage uses new Azure Storage APIs" and nothing about Microsoft.AspNetCore.DataProtection being incompatible with AF v3.

[2020-01-31 07:38] fabich opened #16794 "How can I use Secret Manager in Azure Function?"
Hi

Could you provide an example of how I can use Secret Manager in Azure Function on local development environment?

Thanks

Fabian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c99993c-c983-6fda-6c3a-ce4ec8c1d5db
* Version Independent ID: ba688ac2-e90e-fce5-f60d-40c2553c3efd
* Content: [Safe storage of app secrets

[2020-01-31 07:49] Rick-Anderson commented on #16794
Per the doc: This document explains techniques for storing and retrieving sensitive data during development of an ASP.NET Core app on a development machine.

[2020-01-31 07:49] #16794 closed

[2020-01-31 08:46] wrkettlitz opened #16795 "Incorrect code?"
The third example block shows:
[code]
Shouldn't the return type here be `Task<IEnumerable<Product>>` ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa03501b-5e71-4c18-0269-39babbf9d93c
* Version Independent ID: b51bc104-a6e2-b21f-8362-45cee22e8c22
* Content: [Controller action return types in ASP.NET Core web API](ht

[2020-01-31 10:32] Mike-EEE opened #16797 "A little shout of appreciation..."
These pages around are incredibly wonderful and impressive.  Very nice work over there putting these together. 👍

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9869895-9ba2-5027-46cd-89d1d995cba4
* Version Independent ID: 8750939b-6ae5-3b9a-6c32-5e84b7fea22c
* Content: [Identity model customization in ASP.NET Core](ht

[2020-01-31 10:51] javiercn commented on #6199
Hi.

**It looks like you are posting on a closed issue!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

[2020-01-31 10:52] javiercn commented on #14191
@mkArtakMSFT I do have a sample, but nothing that I want to share in its current form.

[2020-01-31 11:07] EricSch commented on #7268
Thanks for answering, but I didn't see one unique answer. There are many different opinions, also different solutions depending the configuration, and none of those works, at least in my case. I can't get it working. Also there is nothing in the Microsoft documentation, not for my setup. Another thread mentioned to install CORS extension in IIS, other to use filters in MVC (no effects). I could ad

[2020-01-31 16:50] guardrex commented on #16790
@mjboggs I'm going to close as answered. Let me know if you're using Edge latest and it doesn't work. If that's the case, I'll repro it here, re-open this issue, and change the example. Thanks for writing in about it.

[2020-01-31 16:50] #16790 closed

[2020-01-31 17:01] MisinformedDNA opened #16798 "Is `AddRazorPagesOptions` fully supported for Blazor?"
The documentation does not mention whether the method `services.AddRazorPages().AddRazorPagesOptions(options => { });` is supported in Blazor. If it is,
an example should probably be provided (calling out any differences) as well as a link to https://docs.microsoft.com/en-us/aspnet/core/security/authorization/razor-pages-authorization for more information.

---
#### Document Details

⚠ *Do not edi

[2020-01-31 17:26] guardrex commented on #16798
Yes and no ...

Yes ... indirectly ... if you're asking about (for example) a Razor component embedded in a Razor Page that has RP conventions/options applied and the component isn't routable ... the component is just going along for the ride within the RP page. Example: If the user isn't authenticated/authorized for that page, they also aren't going to get the embedded component.

No ... if you'r

[2020-01-31 17:30] matthawley opened #16800 "Sample for creating key should use DateTime.UtcNow.AddDays(2)"
Per the documentation on key expiration and rolling, it indicates that new keys should be created at with an activation date of now + 2 days. My suggestion is update the sample to also have this by default rather than DateTime.UtcNow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 275ff6a6-a3f2-fb2b-6fda-4981abf46a7d
*

[2020-01-31 17:42] mkArtakMSFT opened #16801 "Improve documentation for updating component state externally"
[EDIT by guardrex to add the metadata]

_From @SayusiAndo on Thursday, January 30, 2020 7:21:33 PM_

I'm not sure this ticket should be filed here. If it is not the right project, please let me know and I'll move it, or feel free to relocate it.

The documentation about how to update component state from external source the [documentation](https://docs.microsoft.com/en-us/aspnet/core/blazor/compon

[2020-01-31 18:23] CamSoper commented on #16742
Yeah, I totally agree. I don't remember doing that, but if I did, that sucks. I'll fix it.

[2020-01-31 19:28] mkArtakMSFT commented on #16615
Thanks for contacting us. Per the exception message, you need to put your code into the `OnAfterRenderAsync` handler:

@guardrex there is nothing more to do here. Closing as the current exception message is satisfactory.

[2020-01-31 19:28] #16615 closed

[2020-01-31 19:31] mkArtakMSFT commented on #16682
@SteveSandersonMS do you know what the `disposed by JS` part mean:

Can you please suggest what should be the preferred way for disposing of DotNetObjectRefrence type? Thanks!

[2020-01-31 19:33] mkArtakMSFT commented on #16709
Thanks for contacting us. This is going to be covered as part of https://github.com/dotnet/aspnetcore/issues/17036

[2020-01-31 19:33] #16709 closed

[2020-01-31 19:45] guardrex commented on #16801
@mkArtakMSFT Is the "area-blazor" for PU use? On the docs side, we use the "Blazor" label. I can work this issue, so I'm also checking if you want me to take it.

[2020-01-31 19:48] SteveSandersonMS commented on #16682
The preferred way is to call Dispose on the DotNetObjectRefrence instance, usually within the Dispose method of the component that created it.

[2020-01-31 20:16] guardrex commented on #16682
Our "HelloHelper" example doesn't assign a `DotNetObjectReference` ... it just calls `Create` ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interop?view=aspnetcore-3.1#instance-method-call

... so this implies that disposal is only required **_IF_** it's held (assigned to a field/property) by the class/component. Is that correct?

[2020-01-31 20:28] WaseemAhmadNaeem opened #16804 "3.1 CORS is not working with Web API"
# .NET Core 3.1, CORS is not Working with Web API

CORS is not working with .NET Core 3.1  Web API. I followed exact instructions provided at Official Documentation and Tutorial

Links I Followed:

- [Enable Cross-Origin Requests (CORS) in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-3.1)

In Addition I tried every possible location of `app.UseCors(Polic

[2020-01-31 20:57] jasonshave commented on #16780
A quick update on my troubleshooting progress. I've downloaded the samples from the GH repo and the filter works fine on a `Controller` class when you decorate it with the `TypeFilter` attribute. I tried testing it on a basic .NET console application but also can't get it to trigger the filter at all.

So does the example of using the `TypeFilter` attribute only work on a `Controller` class? If so

[2020-01-31 21:47] serpent5 opened #16805 "Explanation of scope validation misses CreateDefaultBuilder setup."
This page states that scope validation is on by default for `Development`, but this also requires `CreateDefaultBuilder` to be used.

I stumbled upon this in https://github.com/dotnet/extensions/issues/1727.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d78f540-81fd-1ba9-cb90-591e4ec27d9b
* Version Independent ID: 22

[2020-01-31 21:55] freemstr commented on #16186
@GedillurBjorn
For the lack of coherent centralized documentation from Microsoft despite multiple open tickets I suggest you look here:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Client-Applications#public-client-and-confidential-client-applications
https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet
https://github.com/AzureAD/microsoft-authen

[2020-01-31 21:55] Sm1le291 opened #16806 "Index.html"
Hi! I have a question about wwwroot\index.html. You wrote that "When any page of the app is initially requested, this page is rendered and returned in the response."
I tried to reproduce this behavior. I added console.log message to index.html and it prints message only when application loads, when I am going to another page nothing happens. How to understand the statement "When any page of the ap

[2020-01-31 22:06] CamSoper commented on #16186
@freemstr @GedillurBjorn  I made the suggestion to @Rick-Anderson to retire it. It was badly broken, as the product changes on a fairly frequent basis and I don't have the bandwidth to update the doc at the pace at which the Azure AD B2C product changes.

Since it's not really my area of expertise, I believe that the sample provided by the Microsoft identity platform team, the team that develops t

[2020-01-31 22:52] TiagoBrenck commented on #16186
@freemstr that PR might not get merged. We are now working on this one instead: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/272

[2020-02-01 00:35] guardrex commented on #16806
Hello @Sm1le291 ... It means for a request that **_reaches the server_**. For requests within the app, the Blazor client-side router handles the request on the client.

If you reload the page, you should end up sending a new request to the server ... in that case the *index.html* file will be sent again.

[2020-02-01 00:35] #16806 closed

[2020-02-01 00:38] guardrex commented on #16780
@jasonshave ... I suspect that the filter isn't implemented for Blazor apps. Ask on the engineering repo. They might be planning work in this area.

If you think to do so, would you please add a "cc: @guardrex" to the end of your question about this? I'll follow along with the discussion if I get the pings from GH.

https://github.com/dotnet/aspnetcore/issues

[2020-02-01 01:20] Rick-Anderson opened #16808 "Master Razor Pages route:"
![image](https://user-images.githubusercontent.com/3605364/73584575-6831a800-443d-11ea-80a0-e08fff856472.png)

This is the master issue for this doc. If you PR this doc and don't fix all the issues, open the issues you fix and close against that.

- [ ] Non-IPageConvention conventions descriptions for RP and MVC #9269
- [ ] Not a closed Issue, but review/update this as part of routing rewrites.
-

[2020-02-01 01:25] Rick-Anderson commented on #9269
MOved to Master Razor Pages route: #16808

[2020-02-01 13:19] MarkSchultheiss opened #16810 "Environment"
Currently .Net Core 3.1 indicates deprecated IHostingEnvironment referenced and to use IWebHostEnvironment instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceffa6a2-770c-1cd9-5145-dcd423f9dd22
* Version Independent ID: 1cb5eb30-dd84-e5e1-5826-d74243fabf04
* Content: [Use multiple environments in ASP.NET Core](htt

[2020-02-01 13:51] guardrex commented on #16810
Hello @MarkSchultheiss ... This is a duplicate of https://github.com/aspnet/AspNetCore.Docs/issues/13331.

[2020-02-01 13:51] #16810 closed

[2020-02-01 14:27] floppydisken opened #16811 "Please provide the package for the .AddConsole and .AddDebug."
It's a general problem in docs that a package is not referred to in the docs. I usually have to find some sample project to locate what package is used.

Am I missing something here or does everyone do the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID

[2020-02-01 16:12] guardrex commented on #16811
Hello @floppydisken ... Use the API docs at :point_right: https://docs.microsoft.com/en-us/dotnet/api/

[2020-02-01 21:16] klausenlie opened #16812 "Regarding "Create the database""
Before starting on this section my Program.cs file looks like this:
How should I proceed from here?

using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNetCore;
using Microsoft.AspNetCore.Hosting;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.Logging;

namespace NHA_Portal
{
    public class Pr

[2020-02-01 21:30] Rick-Anderson commented on #16812
Follow the tutorial. You  should start with https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start?view=aspnetcore-3.1&tabs=visual-studio

[2020-02-01 21:30] #16812 closed

[2020-02-01 21:52] idchlife commented on #15919
Guys, what's the official way for signing in users in Blazor using Identity Core? I have the same problem as @sarathlalsaseendran

[2020-02-01 22:30] GedillurBjorn commented on #16186
@CamSoper I am sorry, I am not saying that your wrong, maybe miscommunication, having it removed and mark it resolved. I can understand that the pace of development for both B2C and .Net Core looks very fast, but I don't think it is too much to ask to have "complete" example for a basic thing such as web app --> api.

especially as in the docs for B2C there are examples for SPA/Desktop --> API, gr

[2020-02-01 22:41] idchlife opened #16813 "There is no info on how to actually implement custom login form for server-side blazor"
It said here that Blazor server uses AuthenticationStateProvider but not much on how to actually implement your own simple email-password authentication to login users. And I mean your own, not redirecting to /Account/Login (as it seems in example projects), because redirecting to Identity Core default /Account/Login is somewhat never used way. People will always need custom login page/component w

[2020-02-02 00:23] guardrex commented on #16813
@idchlife Did you try creating a Blazor Server project with Identity ...

* CLI: For example, pass `-au Individual` when creating the project from the `blazorserver` teample.
* VS: For example, select **Individual User Accounts** when creating the project from the **Blazer Server App** template.

... and then scaffolding into it the pages for auth? You can control scaffolding or go with the *full

[2020-02-02 00:44] guardrex commented on #16813
Ok ... I have the info. *They're working on it for 5.0.* For example, there are issues like these in the engineering repo ...

* [Blazor server app with authorization, after scaffold identity - logout not working (dotnet/aspnetcore #17839)](https://github.com/dotnet/aspnetcore/issues/17839)
* [[Server Side] Support Custom Login Component when using Identity (dotnet/aspnetcore #13601)](https://gith

[2020-02-02 02:30] MrMuzzio commented on #16557
Same here, tried several folders but everytime I end up with the wrong namespace. The Students and the Courses scalffolding process set the namespace to "ContosoUniversity".
I understand you must run the scaffolding over the "Pages\Courses" and "Pages\Students".
Any help would be great, thank you !!!

[2020-02-02 04:26] HaoK commented on #16774
EF doesn't normalize the column at all, the user manager uses the `ILookupNormalizer` interface that by default just calls to upper invariant I believe

[2020-02-02 05:06] atrauzzi opened #16814 "Is AddDefaultIdentity still available?"
I've been reading some GitHub tickets that make me think it's being deprecated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21cb7455-3305-9316-5440-bdc22947a82d
* Version Independent ID: 137d4b94-7b26-3911-b22d-42c754a95fc1
* Content: [Introduction to authentication for Single Page Apps on ASP.NET Core](https://docs

[2020-02-02 08:43] idchlife commented on #16813
@guardrex thank you!

It seems my option is to use something like this https://github.com/christiansparre/BlazorAuthenticationSample (leaving here for future seekers how to do this), which is the easiest way to authenticate Blazor server app without forcing user to use separate login page (but unfortunately forcing users to witness full page reload, but it's lesser of 2 evils I suppose)

[2020-02-02 10:32] hannahchan opened #16815 "Header Propagation Middleware missing from Build-in middleware list."
I thought this page ought to mention something about the Header Propagation Middleware which is somewhat documented here; https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-3.1#header-propagation-middleware.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9898482c-fa54-7ce2-1716-d14f

[2020-02-02 13:27] guardrex commented on #16813
Yes ...

https://github.com/christiansparre/BlazorAuthenticationSample/blob/master/src/BlazorAuthenticationSample.Client/Features/Account/Pages/SignIn.razor

... a custom solution. I'm sure that the product unit will come up with something nice to put in the box for the 5.0 release.

Let's do this ... That sample, along with others is listed at [Awesome Blazor](https://github.com/AdrienTorris/awes

[2020-02-02 13:42] guardrex commented on #16815
Thanks @hannahchan ... I'll knock that out real quick.

[2020-02-02 14:25] vinchatl opened #16818 "Pictures do not match code"
There are 3 modifications from "MvcMovie" to "Movie App", as described in the instructions and highlighted in the code: title, header and footer. Although, following pictures show that footer is set to "2017[or 2015] - MvcMovie". Year doesn't really matter as you won't reupload picture every first january, but footer should be "Movie App" instead of "MvcMovie" to match code modifications.

---
###

[2020-02-02 17:15] HappyNomad opened #16819 "Does InvokeAsync throw exceptions due to connectivity issues?"
The docs mention that `InvokeAsync` throws exceptions originating on the server.  Does it also throw exceptions for other reasons, e.g. connectivity issues?

In particular, might `InvokeAsync` throw an exception that indicates a connectivity issue for which it'd be appropriate to directly respond with a retry attempt?  Or is it sufficient to deal with connectivity issues by handling the `HubConnec

[2020-02-02 17:29] Rick-Anderson commented on #16818
@VincentChtln  thanks, we'll get this in the next doc sweep.

@wadepickett  in the next update just show

![image](https://user-images.githubusercontent.com/3605364/73612201-b655c100-458d-11ea-8d4c-4dc83b1c1d24.png)

[2020-02-02 18:16] #16815 closed

[2020-02-02 23:11] jwisener opened #16821 "Azure App Service"
Is there any documentation on how to run sub application in azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec484002-18c1-6a0d-00de-820d56f038d3
* Version Independent ID: 7903ce53-2cbb-f083-7479-c8abc30211a0
* Content: [Host ASP.NET Core on Windows with IIS](https://docs.microsoft.com/en-us/aspnet/core/host-and-d

[2020-02-02 23:36] guardrex commented on #16821
Hello @jwisener ... There's a "virtual application" setting in the Azure App Services portal UI in the **Configuration** > **Path mappings** area ...

https://docs.microsoft.com/en-us/azure/app-service/configure-common#windows-apps-uncontainerized

You'll probably need to use the out-of-process hosting model. See our guidance ...

https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?v

[2020-02-02 23:36] #16821 closed

[2020-02-03 03:56] Rick-Anderson commented on #16814
It's available

[2020-02-03 03:56] #16814 closed

[2020-02-03 03:57] #16811 closed

[2020-02-03 03:57] Rick-Anderson commented on #16804
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-02-03 03:57] #16804 closed

[2020-02-03 03:58] Rick-Anderson commented on #16804
Where?

[2020-02-03 03:59] Rick-Anderson commented on #16797
Thanks

[2020-02-03 03:59] #16797 closed

[2020-02-03 04:00] Rick-Anderson commented on #16793
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-02-03 04:00] #16793 closed

[2020-02-03 08:29] klausenlie opened #16825 "Working with MySql Databases"
Hi!
Great pages!! Lots of fun!
Can you give me a hint as to how I can change to the use of a Mysql database instead of the local SQL server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03221075-5dfa-d1b6-0552-3fe88abe1d03
* Version Independent ID: b8c7d824-35ca-68fb-e3be-839ae886657c
* Content: [Work with a database

[2020-02-03 09:39] javiercn commented on #14134
We should have a section specific to configuring reconnection behavior on the client. See https://github.com/dotnet/aspnetcore/issues/18740#issuecomment-581321532 for details

[2020-02-03 10:30] javiercn commented on #15919
You can't sign in users in server-side Blazor using `SignInManager`. Server-side Blazor uses SignalR under the hood and the underlying transport might not have an HttpContext available.

The right way to Sign in Blazor users is to redirect them to a plain old server-side rendered page (like it does by default) and then redirect them to the Blazor app to re-establish the connection.

Otherwise, the

[2020-02-03 10:31] javiercn commented on #15919
@SteveSandersonMS Do you have any further thoughts given you did all the work here?

[2020-02-03 11:23] RredCat opened #16826 "File upload Example"
Please, add a file upload example for Swashbuckle version 5.
If I understand correct - previous approeache doesn't work for lates version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14fce65f-1337-58cb-2193-8d8e0e62792d
* Version Independent ID: 59222460-a971-e76e-4fe9-23d4d7d768ee
* Content: [Get started with Swash

[2020-02-03 12:54] guardrex commented on #15919
For a few workarounds (or at least one by [Christian Sparre](https://github.com/christiansparre) at [SignIn.razor](https://github.com/christiansparre/BlazorAuthenticationSample/blob/master/src/BlazorAuthenticationSample.Client/Features/Account/Pages/SignIn.razor)) for right now, I suggested that we cross-link Awesome Blazor's *Authentication* section on https://github.com/aspnet/AspNetCore.Docs/pu