[2019-11-13 18:16] Perustaja commented on #15380
I think it's a little odd to include so much quality content for how to handle roles and authorization, but not the foundation of creating and assigning them? Hoping this gets added in eventually, thank you!

[2019-11-13 18:22] Rick-Anderson commented on #15670
I was hoping that was a valid version for 2.1
We could look at previous versions - there should be correct 2.1 information in a previous version - unless it was never updated for 2.1

[2019-11-13 18:23] Rick-Anderson commented on #15669
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-11-13 18:23] #15669 closed

[2019-11-13 18:31] #15659 closed

[2019-11-13 18:40] KalleOlaviNiemitalo commented on #15670
The file was renamed in that pull request. The history of earlier versions is at <https://github.com/aspnet/AspNetCore.Docs/commits/d667d2a7ef96b52e07ea50b99f237fea26b0dd11/aspnetcore/web-api/error-handling.md>. All of those versions have the "MVC transforms an error result" paragraph and none of them hides it from ASP.NET Core 2.1.

[2019-11-13 18:41] guardrex commented on #15682
Hello @eduardoxvii ... I'll get back to you within 24 hours. I'm 🏃😅 at the moment.

[2019-11-13 18:48] Rick-Anderson commented on #15670
How about this:

recommend upgrading to ASP.NET Core 2.2 or later, if RFC 7807 compliance is desired. If you can't upgrade:

recommend defining an app-specific type instead of using `ProblemDetails`,

@JamesNK  is that OK?
@scottaddie  can you schedule this?

cc @serpent5  if you're interested.

[2019-11-13 18:49] #15607 closed

[2019-11-13 19:00] attrib75 commented on #15620
Hi, is this a good first timer item?  If I understand correctly someone just needs to delete the paragraph from the documentation?

[2019-11-13 19:40] Rick-Anderson commented on #15620
@alrz It looks like quite a bit needs to be rewritten.

[2019-11-13 19:48] Rick-Anderson opened #15684 "Add link to 6.3 blog"
https://devblogs.microsoft.com/dotnet/announcing-entity-framework-6-3-preview-with-net-core-support/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f376ed07-b726-292f-eb33-7a918337367b
* Version Independent ID: 817b265f-0769-80e1-b42c-e1b0d05ff13b
* Content: [Get Started with ASP.NET Core and Entity Framework 6](https:

[2019-11-13 19:50] #14572 closed

[2019-11-13 19:53] Rick-Anderson commented on #15620
@pgrudzien12  @damienpontifex let me know if you're interested in updating this for EF 6.3

[2019-11-13 21:51] hishamco commented on #15583
If is that no need to use reflection at all, please refer to the sample [here](https://github.com/aspnet/Entropy/tree/master/samples/Localization.EntityFramework)

[2019-11-13 22:35] qvisionsa commented on #15583
@hishamco
I use it but it does not return anything.
Here is how I implemented sample code to my project:

**Strartup ConfigureServices**
[code]
**Startup Configure**

[code]

**The Localization Factory**

[code]

[2019-11-13 22:41] hishamco commented on #15583
Could please file a new issue and I will keep track for that, coz no need to comment on a closing issue

[2019-11-13 22:43] qvisionsa commented on #15583
Ok

[2019-11-13 22:55] GlobeProgger commented on #15430
Hi. Just wanted to bump this issue. 2 weeks later and I too am unable to use the GetJsonAsync<T> method as described in the article. Any updates or workarounds?

[2019-11-13 22:59] qvisionsa opened #15686 "EFLocalizer does not return anything."
I'm following the sample for EF Localization in a multi project web application, but the localizer does not return anything.
Here is how I implemented sample code to my project:

**Strartup ConfigureServices**
[code]
**Startup Configure**

[code]

**The Localization Factory**

[code]

[2019-11-13 23:03] pranavkm commented on #15430
`GetAsJsonAsync` is an API specific to the experimental package. You can use `HttpContent.ReadAsAsync<T>`  as a substitute: https://stackoverflow.com/a/24052147.

[2019-11-13 23:03] #15430 closed

[2019-11-13 23:04] guardrex opened #15687 "Call out the package requirement clearly"
Details are posted in https://github.com/aspnet/AspNetCore.Docs/issues/15430.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b5e2e10-ff7b-2b9f-84da-f16028ae2c53
* Version Independent ID: c7e59a08-1c60-32c2-75fd-33cb77ff7a5d
* Content: [Call a web API from ASP.NET Core Blazor](https://docs.microsoft.com/en-us/aspnet/co

[2019-11-14 01:42] dhhunter commented on #15653
Thanks @jelster for your excellent contribution, you have really helped me.

When paired with the suggested method of setting up the EfCoreInMemory Database, I noticed two issues with this approach:
1) The Database has to be Setup, and Seeded Twice for every Integration Test.  Once when the Factory is passed into the Constructor and then a second time to create the customized factory that uses the

[2019-11-14 01:57] #14976 closed

[2019-11-14 03:36] SigmaSolutionUsers commented on #15159
I received the same error with .NET Core version 2.2.

This tutorial however requires .NET Core 3.0+, change to .NET Core 3.0+ will resolve the issue.

[2019-11-14 05:02] Rick-Anderson commented on #15686
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2019-11-14 05:02] #15686 closed

[2019-11-14 05:11] #13552 closed

[2019-11-14 05:11] #14040 closed

[2019-11-14 09:58] alrz commented on #15620
(I think you meant to mention @attrib75)

[2019-11-14 09:58] alrz commented on #15620
Also relates to https://devblogs.microsoft.com/dotnet/announcing-ef-core-3-0-and-ef-6-3-general-availability/

[2019-11-14 11:41] HiltonGiesenow commented on #14623
I don't think this is about which one to use, but rather specifically to fix the "BookName" property, which would not match the original schema otherwise - the example is actually illustrating some useful options to separating C# from JSON representations.

[2019-11-14 13:18] aherrick opened #15689 "How to Access Db Context in Test itself?"
I understand how to load data initially in the Db. But let's say in a given test I need to manipulate the Db Context? How to obtain access to add/delete records from a table in memory?

for example in the Test: public async Task Post_DeleteAllMessagesHandler_ReturnsRedirectToRoot()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-11-14 13:25] yetanotherchris commented on #15669
Thank you all for your help, it was indeed some bad being sent, and also being interpreted which a custom `IAuthorizationRequirement` solved (really good docs can be found [here](https://www.red-gate.com/simple-talk/dotnet/c-programming/policy-based-authorization-in-asp-net-core-a-deep-dive/) on the subject).

I realise it's not a docs-related issue, but if `app.UseAuthentication();app.UseAuthoriz

[2019-11-14 14:16] serpent5 commented on #15669
It does, there's just a very unfortunate bug in the current 3.0 that only catches a completely missing `UseAuthorization` call. It's [been fixed](https://github.com/aspnet/AspNetCore/pull/14893) but hasn't been released yet.

[2019-11-14 14:59] attrib75 commented on #15620
I'll certainly take any part of this if anyone wants me to.  I just need a little direction to understand.  If not, that's cool too. I'll look out for another beginner issue

[2019-11-14 15:22] xantari opened #15690 "This doesn't say why Razor file compilation is now an opt-in feature in .NET Core 3.0"
Is it due to performance? What kind of performance gains can we expect? Other reasons?

@Rick-Anderson  edit: See https://github.com/aspnet/Announcements/issues/343 and https://github.com/aspnet/Announcements/issues/312

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a83deb2-e035-bb66-be4f-68709bcad341
* Version Indepe

[2019-11-14 16:06] guardrex commented on #15689
Hello @aherrick ... This is a duplicate of https://github.com/aspnet/AspNetCore.Docs/issues/8713.

Thus far, engineering hasn't triaged that issue. They haven't closed it, but they also haven't called for work on it. We'll just have to wait and see if they decide to push it forward.

What you're asking about also leans in the direction of a **_unit test_**, not necessarily an integration test. The

[2019-11-14 16:06] #15689 closed

[2019-11-14 17:37] Rick-Anderson commented on #15690
@Rick-Anderson  @pranavkm what's the primary reasons for Razor file compilation now opt-in?

[2019-11-14 17:42] RickAndMSFT commented on #14914
@Rick-Anderson

[2019-11-14 17:58] qvisionsa opened #15693 "How to get all strings that need translation?"
I'm using the approach mentioned in this doc that says "You can leave the default language literal strings in the app and wrap them in the localizer, so that you can focus on developing the app."

I need also to use a database for localization strings, because I have to export the English text and forward this text to a translation service office, to translate it in different languages. I need to

[2019-11-14 18:24] RickAndMSFT opened #15694 "Test issue"
cc @Rick-Anderson

[2019-11-14 18:25] #15694 closed

[2019-11-14 18:33] guardrex commented on #15682
ok ... I'm back!

...... so the deal here is that running the assembly with `dotnet` isn't the same as when the app starts under IIS/ANCM and the env var is set. If you publish an app with the `<EnvironmentName>` in the project file set to the `GreenDino` environment 🐲, you'll end up with the env var set in the *web.config* generated by the SDK ...

[code]

So when the app is started in IIS, that'

[2019-11-14 18:33] #15682 closed

[2019-11-14 18:37] guardrex commented on #14216
Test ping @Rick-Anderson

[2019-11-14 19:03] pranavkm commented on #15690
Primarily this - https://github.com/aspnet/Announcements/issues/325. But in general build time compilation is much faster compared to runtime compilation. In previous releases, JITing Roslyn's binaries took up a bulk of the time in cold start performance.

[2019-11-14 19:11] HaoK commented on #14232
Fixed by https://github.com/aspnet/AspNetCore.Docs/pull/14717

[2019-11-14 19:11] #14232 closed

[2019-11-14 19:22] #15649 closed

[2019-11-14 19:39] Rick-Anderson commented on #15690
https://github.com/aspnet/Announcements/issues/343

[2019-11-14 19:48] rameshjanjyam opened #15695 "no authentication scheme is specified when default is not specified"
doc says we can have parameterless `AddAuthentication()` but for me it's running to no default specified error.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee71441f-471a-89cd-0ef4-9b32b5dd85cf
* Version Independent ID: 0096c365-2f4e-5d21-89a0-c4f10fcb0ed9
* Content: [Authorize with a specific scheme in ASP.NE

[2019-11-14 19:56] Rick-Anderson commented on #15695
The first sample is parameterless
[code]

[2019-11-14 19:57] Rick-Anderson commented on #15695
Specifying the default scheme results in the `HttpContext.User` property being set to that identity. If that behavior isn't desired, disable it by invoking the **parameterless** form of `AddAuthentication`.

[2019-11-14 20:25] RicoSuter commented on #15565
I dont think we should repeat all documentation from the project wiki here. Otherwise it will be very hard to keep all the docs updated.

[2019-11-14 20:27] RicoSuter commented on #15565
But yes, you can create the configuration with NSwagStudio and the execute it with one of the command line tools (eg nseag.msbuild, or the nswag npm package).

[2019-11-14 20:28] RicoSuter commented on #15313
I agree, we should only promote open api v3 now

[2019-11-14 21:11] Rick-Anderson commented on #15693
Related issue #15583

[2019-11-14 21:33] TheMagnificent11 commented on #15565
It's hard to find all the various CLI options in the wiki. Perhaps MS Docs should have more links NSwag wiki.

[2019-11-14 21:36] TheMagnificent11 commented on #15565
Actually, I see that NSwag wiki hasbeen updated recently to be more comprehensive.

[2019-11-14 21:36] #15565 closed

[2019-11-14 22:37] safwendr commented on #14829
hi, i have the same issue and i used the .NET CORE 2.2

[2019-11-15 00:58] hishamco commented on #15693
As I mentioned earlier `GetAllStrings()` will return all the localized strings and their values, so you can iterate through the collection and insert the resource names into the database

[2019-11-15 01:09] SidShetye opened #15698 "Update log level at runtime without app restart?"
This document is missing how to update the loglevel at runtime without restarting the application. Example: the default logLevel is `warning` but when we have an issue in production for a component like `root.level1.component1`, we'd like to change that to `information` without restarting the application (and losing packets) to observe what's going on.

The `appsettings.json` equivalent would be

[2019-11-15 02:40] #12229 closed

[2019-11-15 02:52] Rick-Anderson commented on #15698
cc @guardrex

[2019-11-15 02:54] guardrex commented on #15698
Engineering to comment on this one: It wasn't a design scenario AFAIK. Let's backlog it until one of them gets a chance to look.

[2019-11-15 02:55] Rick-Anderson commented on #15698
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.0#sources-and-providers

Configuration providers that implement change detection have the ability to reload configuration when an underlying setting is changed. For example, the File Configuration Provider (described later in this topic) and the Azure Key Vault Configuration Provider implement change detecti

[2019-11-15 02:55] davidfowl commented on #15698
Works fine.

[2019-11-15 03:07] guardrex commented on #15698
I misread this ... thought it was more about performing this via the Logging API ... the answer is much simpler than that. (I need some 💤🛌💤 ... been up since 5am.)

Do you want me to check the logging doc to see how it handles/cross-links to log config reloading?

[2019-11-15 03:26] scottaddie opened #15699 "Add CustomTrustStore section to cert authN doc"
See https://github.com/aspnet/AspNetCore/pull/15029#issuecomment-554140968

[2019-11-15 05:30] kumaravadhesh commented on #8440
The only thing you have to change is

add **_ViewStart.cshtml** file at

**/Areas/Identity/Account/Manage**

with following content

**@{
    Layout = "_Layout.cshtml";
}**

and another this change

from

**Layout = "/Areas/Identity/Pages/_Layout.cshtml";**

to

**Layout = "/Views/Shared/_Layout.cshtml";**

in **/Areas/Identity/Pages/Account/Manage/_Layout.cshtml**

This is working in my case.

[2019-11-15 06:29] bobbydog opened #15701 "two backgroundService waiting another?"
I have two backgroundService like example QueuedHostedService,  the second service's BackgroundProcessing method would not execute until the first one's BackgroundProcessing's while content  run the first time , what's wrong?  I had to change the " await BackgroundProcessing(stoppingToken); " to "Task.Factory.StartNew(() =&gt; { BackgroundProcessing(stoppingToken); }, TaskCreationOptions.LongRunni

[2019-11-15 10:25] friedlda opened #15702 "UseInMemoryDatabase"
Register the database context
opt.UseInMemoryDatabase("TodoList") will not work unless the Microsoft.EntityFrameworkCore.InMemory package is installed as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tu

[2019-11-15 12:01] javiercn opened #15704 "Add clarity to FromBody"
Can we better highlight the differences between frombody and other types of model binding?
Not sure if we can apply some formatting to make it more evident, or include a leading paragraph that explain all the sources and indicates the ones that don't combine with anything else, like FromBody.

Per https://github.com/aspnet/AspNetCore/issues/17091#issue-522871575

---
#### Document Details

⚠ *Do n

[2019-11-15 12:02] javiercn opened #15705 "Add a section that shows how to customize the model bound using [FromBody] and System.Text.Json"
This is common enough that it should have an explanatory section.

Use this code-snippet as a starting point
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e24f48f8-6c4d-ecda-6ce6-a7826d396e99
* Version Independent ID: 9c4af557-8d06-4c6c-ad2a-0dd234547563
* Content: [Model Binding in ASP.NET Core](https://docs.mi

[2019-11-15 12:57] guardrex commented on #15701
Your question/scenario might be a candidate for explanation in the topic.

@Tratcher ... and let me know if you think your answer to this one should be part of the topic, or should we call it an advanced scenario (beyond the scope of the topic)?

[2019-11-15 13:30] Legends opened #15706 "Scaffolding identity in v3.0 for MVC project"
Related [section](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-3.0&tabs=visual-studio#scaffold-identity-into-an-mvc-project-without-existing-authorization):

Shouldn't the folder be named **Views** when scaffolding identity from inside an MVC project ???
![image](https://user-images.githubusercontent.com/966368/68946963-88de5000-07b4-11ea-8

[2019-11-15 15:09] aherrick commented on #14930
Using this worked: var db = _factory.Services.CreateScope().ServiceProvider.GetRequiredService<ApplicationDbContext>();

[2019-11-15 15:11] #12346 closed

[2019-11-15 15:40] eavonius commented on #15706
I'm also experiencing this. It seems the scaffolding uses Razor pages instead of MVC regardless of what I try.

Could you add something to the documentation to help us understand how the code generator determines whether to generate Razor Pages or MVC Pages, or perhaps add a UI option in Visual Studio (and corresponding flag in the command line) to make an explicit choice?

[2019-11-15 17:30] Rick-Anderson commented on #15702
It stays that

[2019-11-15 17:30] #15702 closed

[2019-11-15 17:39] Rick-Anderson commented on #15704
@serpent5  see this and #15705 if you're interested.

[2019-11-15 17:40] Rick-Anderson commented on #15706
No, that's how it works. It uses Razor Pages.

[2019-11-15 17:40] #15706 closed

[2019-11-15 18:12] Legends commented on #15706
Razor files `.razor`, Razor Class Libraries, Razor Pages, Razor syntax..... looks like someone was drunk...

If I scaffold something inside an MVC project, I want it to be MVC project compliant and I don't want a Razor Pages Scaffolding which doesn't work inside my MVC project.

It's only logical...

[2019-11-15 18:17] Rick-Anderson commented on #15690
This will be documented in this issue.

[2019-11-15 18:17] #15690 closed

[2019-11-15 18:21] eavonius commented on #15706
I have a client who is moving from ASP.NET WebPages to ASP.NET MVC.

Just so I'm understanding, they will now have to learn both ASP.NET MVC and Razor Pages to work with Identity? There is no Identity scaffolding for ASP.NET MVC projects anymore?

I'm just mentioning this because it creates a pretty significant extra learning curve for my client now. I'll need to decide whether to move them to Raz

[2019-11-15 18:25] Rick-Anderson commented on #15706
We don't have a concept of MVC project compliant

RP was architected to work with controllers and views

[2019-11-15 18:27] CeciAc opened #15707 "Dialog does not show in Visual Studio"
Hi team,
I moved this from here: https://github.com/aspnet/AspNetCore.Docs.de-de/issues/60

@atomroflman commented yesterday
In the section: Add the SignalR client library
You say: "In Solution Explorer, right-click the project, and select Add &gt; Client-Side Library" wich brings me to the libman.json instead of the shown dialog.

Betriebsystemname Microsoft Windows 10 Pro
Version 10.0.18362 Buil

[2019-11-15 18:41] eavonius opened #15708 "Add custom ApplicationUser as DbSet to ApplicationDbContext."
Hello,

I wanted to mention that I was following these instructions and everything worked great until I added a relationship to my custom ApplicationUser from one of my own models in the same context.

At that point, the next migration I created re-added all the identity tables!

I rolled back that migration, and found this post on StackOverflow that says I should add a DbSet&lt;ApplicationUser&gt

[2019-11-15 18:55] paulomorgado opened #15709 ""data access" is too abstract"
[data access](https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/performance/performance-best-practices.md#L39) is too abstract.

Maybe we should be more explicit and mention I/O.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9599d917-4e43-f1ae-452a-1f11aaa985ed
* Version Independent ID: 5cc05b6c-c671-36

[2019-11-15 18:55] Rick-Anderson commented on #15706
RP is could be a better choice. Our high school interns picked up RP in one day, it's not a significant extra learning curve

[2019-11-15 18:58] paulomorgado opened #15710 ""long-running""
Instruction the users to call [long-running operations APIs asynchronously](https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/performance/performance-best-practices.md#L39) usually leads the users to use `Task.Run`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9599d917-4e43-f1ae-452a-1f11aaa985ed
* Ver

[2019-11-15 18:59] paulomorgado opened #15711 "In ASP.NET applications, `Task.Run` does more harm than good"
In ASP.NET applications, `Task.Run` does more harm than good.

It just adds 2 extra context switches.

Or the application is doing background work and not attending request.

@Rick-Anderson  edit:  Copy from #15710

Instruction the users to call [long-running operations APIs asynchronously](https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/performance/performance-best-practices.md#L

[2019-11-15 19:00] mjrousos commented on #15709
That makes sense to me.

[2019-11-15 19:45] SidShetye commented on #15698
It's great that `ILoggingBuilder.AddConfiguration` automatically updates logLevels for change detecting configuration providers. However, our workflow is to change site global parameters from our admin console (vs remoting into every instance to modify the `appsettings.json`), so we're looking for some API into Logging that can be explicitly called from our admin console saying "use these updated

[2019-11-15 19:49] Legends commented on #15706
@Rick-Anderson

Where can we find this library in order to use Identity scaffolding with MVC ? Is it a nuget package?

[2019-11-15 19:55] guardrex commented on #15698
Ah, so my initial (and half-asleep 💤) reading was correct about your scenario.

Since we know now that logging picks up it's log levels on-the-fly from configuration, can you have a secure (perhaps internal) endpoint on each app that changes the configuration value(s) for logging? Just set a new log level value for a logging configuration key, such as `Logging:LogLevel:Default`. It should immediat

[2019-11-15 20:24] aedwill opened #15712 "Less common example"
Would be nice to see a way to add controllers at runtime.  As an example if I have a modular UI and I'm allowing internal developers to upload new controllers at runtime.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6e3baf6-6cba-aee0-9a8d-1e1fced2b690
* Version Independent ID: 74b76258-36a3-17de-6648-292da0a9e400
*

[2019-11-15 20:24] stcmz opened #15713 "Fix typo though"
In the *Example* section reads *Model binding goes though the following steps after the routing system selects the action method* where *though* should be *through*.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e24f48f8-6c4d-ecda-6ce6-a7826d396e99
* Version Independent ID: 9c4af557-8d06-4c6c-ad2a-0dd234547563
* Conte

[2019-11-15 20:48] guardrex commented on #15713
Thanks @stcmz ... I'll patch that up.

[2019-11-15 20:52] #15713 closed

[2019-11-15 21:04] serpent5 commented on #15704
@Rick-Anderson Yep, sure. I'll pick these up as soon as I can.

[2019-11-15 21:52] Rick-Anderson commented on #15712
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-15 21:52] #15712 closed

[2019-11-15 22:19] Tratcher commented on #15701
@bobbydog Take a look at https://github.com/aspnet/Extensions/issues/2149 and see if that answers your question.

[2019-11-15 22:53] serpent5 opened #15715 "Horizontal scrolling for code snippets with highlights"
Whenever I see a code snippet in a docs page that has a highlight, it has a very wide horizontal scroll. Here's a full screenshot from Chrome:

![Screenshot](https://user-images.githubusercontent.com/6025110/68981229-a7ffd080-07fa-11ea-8c63-80fde3a58424.png)

It seems like this would be a known issue, but I can't find anything that already exists. I've seen it on a couple of different machines I'v

[2019-11-15 23:01] aszalacinski opened #15716 "Are these instructions Core 3.0 Web API Compatible?"
If not, what differences would I need to look for? I have been struggling to get an API endpoint working for large file upload all week and I don't know if it's code or production server related? The code runs fine locally but once I drop it into Azure App in Linux it blows up. I see a lot of documentation here and on referenced github pages but thought better to ask first before the long slog of

[2019-11-15 23:51] qvisionsa commented on #15693
@hishamco This is the implementation from EF Localization sample. GetAllStrings returns resources that are already in the database.

public IEnumerable<LocalizedString> GetAllStrings(bool includeAncestorCultures)

        {

            return _db.Resources

                .Include(r => r.Culture)

                .Where(r => r.Culture.Name == CultureInfo.CurrentCulture.Name)

                .Se

[2019-11-16 00:26] caihongxu commented on #12727
It does happen in production to me. Svetomechc, how did you configure your production differently other than setting the environment to production?

[2019-11-16 00:43] SidShetye commented on #15698
Yeah, basically a `ConfigurationProvider` at one end (for `ILoggingBuilder.AddConfiguration`) but some extra logic at the other end. A rest endpoint won't work because it'll ping only a single instance's configuration. What's needed is something shared across all instances like the database or a publisher-subscriber bus.

Extending your already documented [database configuration provider](https://

[2019-11-16 00:56] hishamco commented on #15693
I mean to use the `GetAllStrings()` from `ResourceManagerStringLocalizer` :smile:

[2019-11-16 01:02] rynowak commented on #14998
Linking to our built-in constraints is probably the simplest thing to explain this, they are pretty comprehensible. [example](https://github.com/aspnet/AspNetCore/blob/master/src/Http/Routing/src/Constraints/GuidRouteConstraint.cs#L18)

Here's the parameter transformer example: https://github.com/aspnet/AspNetCore.Docs/blob/fe3665f5b3ab8aff2079beabbfc7241abc724587/aspnetcore/mvc/controllers/routin

[2019-11-16 02:37] MNF commented on #12121
@stg609 , sorry,it is not clear, did you close the issue because the documentation ha been enhanced( is any PR reference?) or because the answer exists somewhere outside of MS Docs site?

[2019-11-16 03:38] guilhermeluizsp commented on #14156
By default, when initializing, the web host uses the HostedServiceExecutor to start every IHostedService registered. It does that by calling StartAsync sequentially. If any IHostedService fails to start (i.e, if it throws an exception), the host won't be able to start (the exception will bubble up) and the remaining hosted services won't ever be called. **Consequentially, the longer the hosted ser

[2019-11-16 08:30] davidfowl commented on #15698
There's no logging API to refresh levels. Today our logger providers implementations use configuration to reload when changes happen. You'd need to write a custom configuration provider that changed whenever those values were provided via an HTTP request (assuming that's what you wanted to do).

[2019-11-16 08:38] davidfowl commented on #15698
Assuming you can update the configuration source (maybe via an HTTP call or by some other means). You can also force a reload by calling `IConfigurationRoot.Reload`.

[2019-11-16 09:09] kwakuduahc1 opened #15717 "Not Deployable on IIS"
I am worried there is no documentation that demonstrates how to deploy the app on IIS. After you create a new app, you cannot deploy to IIS for it to work straight away. It will be helpful if you could demonstrate how to run the IdentityServer without Azure but on IIS because there are intranets applications too

[2019-11-16 12:41] guardrex commented on #15701
Given that the behavior is currently by-design and that engineering is considering changing the behavior in a future release, I'd like to surface the engineering issue in the topic's *Additional Resources* for the time being.

[2019-11-16 12:57] ghost opened #15718 "Routing pattern: syntax & parameters (Complete)"
**Help us make content visible**

- Tell us what search terms you used and how you searched docs.
   UseEndpoints, MapAreaControllerRoute, MapControllerRoute, IRouter, endpoint patterns, pattern syntax, UseEndpoints patterns, RoutePattern... combinations of all of these, etc. the site search is not great. I have better luck using Google to search the site or using the left navigation pane and visu

[2019-11-16 13:58] aszalacinski commented on #15716
I have posed the question in forums as well:
https://social.msdn.microsoft.com/Forums/en-US/c8638a81-318f-4f48-9924-4ab929b9b22c/large-file-upload-to-aspnet-core-30-web-api-fails-due-to-request-body-to-large?forum=AzureAPIApps

[2019-11-16 14:22] bobbyrowe22 opened #15720 "Does not convey routing or patterns well enough."
I don't feel i could even formulate a question to help me understand other than "where is the specification for patterns?"
I'm horribly confused about how to take a request and point the values at a some controller&gt; action&gt; args.

Some conceptual understanding of routing is needed here. This has a rough example but does not cover the fundamentals well enough to allow anything but troubleshoo

[2019-11-16 14:31] guardrex commented on #12121
The doc hasn't been changed.

@HaoK, do you agree/disagree with the remarks in @poke's SO answer at https://stackoverflow.com/questions/46569270/asp-net-core-configuration-reloadonchange-with-ioptionssnapshot-still-not-respon/46570073#46570073?

I'll take a look at this for doc improvements after I hear back. Leave this issue open, as it will auto-close when a PR merges or it's decided not to make

[2019-11-16 14:45] guardrex commented on #15698
Let's leave this open ... I haven't had time to see where the topic stands on this subject.

[2019-11-16 14:53] guardrex commented on #15716
Hello @aszalacinski ... I'm going to close here and reference this issue on the tracking issue for the topic. I'll list this as a 'medium' priority to address.

**File Uploads topic enhancements** #12285

The short answer is that, *yes*, it should mostly/completely be applicable. However as you suggest, the 👿 is in the details when the app runs locally but 💥 on the server. I can only suggest what

[2019-11-16 14:53] #15716 closed

[2019-11-16 14:56] guardrex commented on #15715
*Yep* ... that's a new regression.

Do you want to open it over at https://github.com/MicrosoftDocs/feedback/issues, or do you want me to open it?

[2019-11-16 15:00] guardrex commented on #15717
Hello @kwakuduahc1 ... We have a lot of general coverage for IIS in the *Host and Deploy* node of the docs starting with ...

https://docs.microsoft.com/aspnet/core/host-and-deploy/iis/

... and we have one set up as a tutorial for step-by-step coverage (for an app) ...

https://docs.microsoft.com/aspnet/core/tutorials/publish-to-iis

... is that what you're looking for?

That one is beyond the sc

[2019-11-16 15:04] aszalacinski commented on #15716
Thanks for the update.

Deep diving on the exception logs on the App Service, currently, as of 11/2019, there is a limitation with the Azure App Service for Linux. It's CORS functionality is enabled by default and cannot be disabled AND it has a file size limitation that doesn't appear to get overridden by any of the published Kestrel configurations. The solution is to move the Web API app to a Az

[2019-11-16 15:24] guardrex commented on #15716
That's good news.

When I (or someone on the team) gets to this, we'll see if we can scare up a cross-link to that file size limitation in the Azure Apps for Linux docs or perhaps consult with one of the Azure engineers to nail it down and clarify it for a call out over here.

[2019-11-16 15:30] davidfowl commented on #15718
cc @rynowak

[2019-11-16 16:03] guardrex commented on #15717
I'll close as answered, but you can add a further comment if that coverage isn't what you're looking for.

[2019-11-16 16:03] #15717 closed

[2019-11-16 16:06] kwakuduahc1 commented on #15717
@guardrex , thank you, I will look into those documents. Thanks once again.

[2019-11-16 16:21] guardrex commented on #14801
Might be good to add when this issue is worked ...

The only thing we say about install is that the SDK install does it on first run. However, I had an expired cert and needed to put a new one in place (turns out that a new SDK install doesn't replace it automatically). The topic could call out that running `dotnet dev-certs https` will provide a new cert, then one trusts it, so the sequence shoul

[2019-11-16 16:26] HaoK commented on #12121
yeah poke's answer is quite good

[2019-11-16 22:24] serpent5 commented on #15715
@guardrex Can you do that? I'm sure that green dinosaur is gonna carry a lot more weight than a green shell :laughing:. You've got inside connections too, right?

I am very happy to do it though, if you prefer that.

[2019-11-16 22:25] guardrex commented on #15715
Yes, no, and not really. :smile:

I'll take care of it.

[2019-11-16 22:28] guardrex commented on #15715
Moved to MicrosoftDocs/feedback.

[2019-11-16 22:28] #15715 closed

[2019-11-16 22:29] serpent5 commented on #15715
@guardrex Thanks. :star2:

[2019-11-17 03:11] ShinraCorpMixer commented on #13299
Got it to work on .NET Core 3.0, I just followed the Google authentication document but replace the method, with the Microsoft Account one (and also registering the app via Azure instead of Google of course.). So it should look something like this in the startup.cs class.

  services.AddAuthentication()
        .AddMicrosoftAccount(options =>
        {
            IConfigurationSection microsoftAu

[2019-11-17 13:27] surfmuggle opened #15721 "Is the mvc music store still applicable to core 3.0 is there a successor tutorial"
It would be helpful if the [docs page for the music store tutorial](https://docs.microsoft.com/en-us/aspnet/mvc/overview/older-versions/mvc-music-store/mvc-music-store-part-1)
would contain a remark
 * if this tutorial is still relevant for Core 3.0
 * or if there is a successor

If a successor exists a link would be nice.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-11-17 13:32] martandmadhwani opened #15722 "How to access one web application View Folder in Another Application as a part application??"
In Asp.net Core Part App Concept I would like to access View folder of one application in another application. How it will possible?

[2019-11-17 13:50] martandmadhwani commented on #15722
ok got it.

add
  <ItemGroup>
    <ProjectReference Include="..\MySharedApp\MySharedApp.csproj" />
  </ItemGroup>
in projectname.csproj to share view

[2019-11-17 13:51] martandmadhwani commented on #15722
add
  <ItemGroup>
    <ProjectReference Include="..\MySharedApp\MySharedApp.csproj" />
  </ItemGroup>

[2019-11-17 13:51] #15722 closed

[2019-11-17 13:51] martandmadhwani commented on #15722
https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/mvc/advanced/app-parts.md

refere this

Solved.

[2019-11-17 14:08] MrAntix opened #15723 "Can we publish to the windows store?"
Is an application like this acceptable as a windows store app?

Could we get links to relevant info on this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0bd8cb8-7e28-8c4d-a550-3aea8f3ab4dd
* Version Independent ID: 4b60d24e-ef05-15e5-10b4-483094081bf3
* Content: [Host ASP.NET Core in a Windows Service](https://docs.

[2019-11-17 15:10] guardrex commented on #15723
Hello @MrAntix ... Those are Windows apps packaged for the Microsoft Store&dagger;. We focus (mostly&Dagger;) on *web apps* over here in the ASP.NET Core docs, and we rely upon the main .NET Core doc set at ...

https://docs.microsoft.com/dotnet/core/index

... or the main *Windows apps* landing pages ...

https://developer.microsoft.com/windows

... to direct readers over to the Windows apps cont

[2019-11-17 15:10] #15723 closed

[2019-11-17 15:27] richardcox13 opened #15724 "Not in index"
This page appears to not have an entry in the index (along with a few of the other inbuilt tag helper's pages).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c90104e1-65b1-0007-e56d-0dffef4b1a44
* Version Independent ID: 5c95e5dc-dc10-8658-91fd-1d55d3959c37
* Content: [Script Tag Helper in ASP.NET Core](https://docs.m

[2019-11-17 15:36] guardrex commented on #15721
Moved to https://github.com/aspnet/AspNetDocs/issues/266

[2019-11-17 15:36] #15721 closed

[2019-11-17 15:38] guardrex commented on #15724
Thanks @richardcox13 ... I'll take care of that right now.

[2019-11-17 16:46] guardrex commented on #14621
@danroth27 @mkArtakMSFT @Rick-Anderson This issue isn't actionable without managerial guidance (and time 🕚 given that it was assigned to me).

Side Note (maybe I'm beating a dead 🐴 on this one): I'm still concerned about the *Host* coverage generally (e.g., [@Legends remarks](https://github.com/aspnet/AspNetCore.Docs/issues/14851))]. I still think that **one** Host topic that covers the Generic Ho

[2019-11-17 16:54] MrAntix commented on #15723
Thanks @guardex, yes its a bit overlappy to be sure.
My app is a webapp but its hosted by a windows service, so I'll look to the MSIX docs
All the best

[2019-11-17 17:20] guardrex commented on #15723
In that case, I think the process is along the lines of creating an installer for the Windows Service and then the installer can be packaged for the store ... https://docs.microsoft.com/windows/msix/desktop/desktop-to-uwp-third-party-installer ... **_BUT_** ... that's a *wild guess*, so don't take my word for it! :smile: ... Indeed, chat with devs in that area of programming. If a support forum, s

[2019-11-17 17:22] DogFive opened #15726 "SignalR Docs Feedback - Help Mitigate Current Pitfalls"
### **Useless Forethought:**

Let me start out by saying that SignalR is pretty awesome I probably abuse it a little more than I should. Recently I've jumped on the .Net Core bandwagon, I've felt the cross platform abilities alone justify the switch (even though the guys over at Mono make amazing stuff I didn't always use it).

### **Real Question/Problem:**

Anyways onto the juice, I get over to

[2019-11-17 17:33] BrennanConroy commented on #15726
Could you point to the docs that say "Automatic reconnects aren't supported in ASP.NET Core SignalR"?

In 3.0 we added automatic reconnect so that text shouldn't exist anymore, and in the 2.1/2.2 docs we showed how to add your own reconnect logic.

[2019-11-17 17:37] DogFive commented on #15726
Okay awesome, this is why I thought the situation was weird and I saw the pull requests for functionality in 3.0 but it says this doc was just updated on 11/11/2019:

https://docs.microsoft.com/en-us/aspnet/core/signalr/version-differences?view=aspnetcore-3.0#automatic-reconnects

[2019-11-17 18:01] BrennanConroy commented on #15726
Ah, looks like we missed a spot! Thanks, we'll fix that up.

[2019-11-17 19:56] vova-lantsov-dev opened #15728 "ConfigureApiBehaviorOptions doesn't exist for ASP.NET Core 2.1"
As defined in docs https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.mvccoremvccorebuilderextensions.configureapibehavioroptions?view=aspnetcore-3.0 , ConfigureApiBehaviorOptions exists only starting from ASP.NET Core 2.2.

So all calls to this method should be replaced with
services.Configure&lt;ApiBehaviorOptions&gt;(options =&gt; ...

---
#### Document Details

[2019-11-17 22:46] torpederos commented on #15680
To fix this issue you must install Cumulative Update for SQL Server 2017. Latest version is available on https://support.microsoft.com/en-ca/help/4515579/cumulative-update-17-for-sql-server-2017

[2019-11-17 23:12] torolos opened #15729 "'MovieContext' is used instead of 'RazorPagesMovieContext'"
At the [Use SQLite for development, SQL Server for production](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-3.0&tabs=visual-studio-code#use-sqlite-for-development-sql-server-for-production)  section the name 'MovieContext' is used instead of 'RazorPagesMovieContext'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-11-18 01:40] #15724 closed

[2019-11-18 01:51] Rick-Anderson commented on #15720
Per the doc
This document covers low-level ASP.NET Core routing. For information on ASP.NET Core MVC routing, see Routing to controller actions in ASP.NET Core. For information on routing conventions in Razor Pages, see Razor Pages route and app conventions in ASP.NET Core.

[2019-11-18 01:51] #15720 closed

[2019-11-18 03:12] DoyleJOfTexas commented on #13206
It would be helpful if this page mentioned the need to remove the code block identified by the comment in RegisterConfirmation.cshtml.cs after the email sender is operational or did I miss that.

[2019-11-18 05:32] rahulsingii opened #15730 "CookieAuthentication - Session Active after Signout"
# Issue description

I have implemented the mix of ASP.Net Cookie Authentication & OWIN OpenId authentication in my application. I am trying to fix a security flaw where the session is not invalidating even after logout.

Middleware Implementation:-

[code]

LogOut Code (Based on user type):-

[code]

I am capturing the traffic in Fiddler and clicking sign-out from web page. When I try to re-issue

[2019-11-18 09:50] suchoss opened #15731 "How to publish views to publish folder."
Could you please also extend this documentation about how to include views to publish folder?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a83deb2-e035-bb66-be4f-68709bcad341
* Version Independent ID: 16438f35-f35d-c097-0903-ec17e83e051e
* Content: [Razor file compilation in ASP.NET Core](https://docs.micros

[2019-11-18 09:59] damien-alchemylabz opened #15732 "Visual Studio 2019 - Unable to add dependency"
When i follow point 4 : Select the Azure SignalR Service in the Dependencies &gt; Add drop-down list:
Following the on screen instructions pressing [next] does nothing
Would you know why this could be the case ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49b6b716-41ad-91d5-13a9-64f6c4a559c7
* Version Independent ID

[2019-11-18 10:55] Svetomechc commented on #12727
@caihongxu there are a lot of modifications to my production code (for example I use MongoDB for storing users), so I can't list them all, especially because I have no idea what worked around* token expiration.

*though I'm still waiting for the fix proper, as 20+ iframes for authorization slows down my application at startup pretty heavily

[2019-11-18 12:35] mrumaiz opened #15733 "How HttpContext Has Use.Identity"
Hi,

I am using IdentityServer4 and I have normal user logins as well as client and secret for server to server communication. When I use client_credentials from another server and call the API HttpContext.User.Identity.Name is null. I just want to know is where is the place setting Identity.Name? and Why Name is not set when it access only from client_credentials?

---
#### Document Details

⚠ *D

[2019-11-18 14:02] chigivigi opened #15734 "There is no azure table storage example in documentation"
Can you provide an example for Azure Table Storage you only mentioned it at the beginning of the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54b3ef64-9e17-3aab-0b75-57726d906cb6
* Version Independent ID: 8152896e-6969-d992-4877-6d6bbf4772a3
* Content: [Custom storage providers for ASP.NET Core Identit

[2019-11-18 14:15] guardrex commented on #15734
Hello @chigivigi ... We don't have the bandwidth to create and maintain such a sample, so you'll need to turn to possible community examples or write your own code.

[2019-11-18 14:15] #15734 closed

[2019-11-18 15:48] rameshjanjyam commented on #15695
when it is left parameters I am running into this error  I have mentioned in the question
[code]

do you have a working sample that I can run to verify it?

[2019-11-18 17:04] rbeauchamp opened #15738 "Additional Prerequisite"
FYI, I'm observing that you can't debug while using SSL. When using SSL the file:// subsection does not show in the Sources tab.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f61c7-9f51-6735-e328-3c7b495d70c3
* Version Independent ID: 4d06e565-282d-6387-aa90-cb2c2986d35a
* Content: [Debug ASP.NET Core Blazor](https

[2019-11-18 18:51] scottaddie commented on #15303
This issue is being addressed in https://github.com/aspnet/AspNetCore.Docs/issues/14309

[2019-11-18 19:00] Legends commented on #15705
@javiercn Can you also please elaborate on [section manual-model-binding](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-3.0#manual-model-binding) please.

[2019-11-18 19:16] #12121 closed

[2019-11-18 19:29] guardrex commented on #11149
Ping @shirhatti ... Checking in on this one ... should I leave it open. You were saying that you might have a total content replacement in the works. Is that right? The plan will be to keep the introduction here but swap everything else in the topic with your new bits. Is that correct? If so, should this remain on the November sprint, or should I move it back to December (or later)?

[2019-11-18 20:10] Rick-Anderson commented on #15705
@serpent5  this looks a like an interesting issue, let me know if you're interested at some point.

[2019-11-18 20:36] javiercn commented on #15705
@Legends I'm not sure what you are talking about or how that relates to anything in this issue. Could you file a separate issue with a detailed ask for what your suggestion is so that the team can evaluate it separately?

As I said, I'm a bit confused because I really don't know what you are asking/want.

[2019-11-18 20:37] guardrex commented on #12617
@javiercn I'm up to working this. Just need to know if the topic should incorporate something along the lines of @PeterHimschoot "Attempt 2" into the topic to resolve this issue ...

https://blogs.u2u.be/peter/post/disabling-the-submit-button-in-blazor-with-validation

... or do you just want me to cross-link his whole blog post in the *Additional Resources* section of the topic?

[2019-11-18 20:41] Legends commented on #15705
@javiercn What I meant to say is, the section mentioned above makes not much sense to me, if you could further clarify it, enrich the section with more information about it.

It's completely unrelated to this section.

[2019-11-18 20:41] javiercn commented on #12617
@SteveSandersonMS Is probably a better person to recommend an option in this area.

[2019-11-18 20:43] javiercn commented on #15705
@Legends Thanks for the clarification.

In that case file a separate issue so that it can be triaged independently, this helps distribute the load between the team and makes sure the right person gets to look at it. I'm knowledgeable in the area but I'm not the subject matter expert on the team.

[2019-11-18 20:51] Coderrob opened #15744 "Using the documentation on for authentication w/ Azure Web App _causes_ authentication failures"
When using the client certificate forwarding and code referenced in the section "Use certificate authentication in Azure Web Apps" causes failures in receiving a client-certificate when hosted in Azure App Service. Using a .Net Core 3.0 API hosted by an Azure App Service, w/ Require incoming certificate enabled, the handler fails to receive a client certificate.

https://docs.microsoft.com/en-us/a

[2019-11-18 20:58] blowdart commented on #15744
When you say failures what do you mean?

[2019-11-18 21:30] Rick-Anderson commented on #15705
https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/crud?view=aspnetcore-3.0#tryupdatemodelasync

[2019-11-18 21:49] Legends commented on #15705
This makes it clear, thanks!

[2019-11-18 21:51] Coderrob commented on #15744
The client-certificate is not forwarded. The authentication handler doesn't find the client-cert and returns the standard 403 response.

[2019-11-18 22:22] Rick-Anderson opened #15745 "Add link to TryUpdateModelAsync"
See #15705

add link to https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/crud?view=aspnetcore-3.0#tryupdatemodelasync

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e24f48f8-6c4d-ecda-6ce6-a7826d396e99
* Version Independent ID: 9c4af557-8d06-4c6c-ad2a-0dd234547563
* Content: [Model Binding in ASP.NET Core](https

[2019-11-18 22:27] danroth27 commented on #15678
We didn't make any breaking changes in MVC/Blazor for 3.1 so the upgrade should be as simple as targeting your app to netcoreapp3.1 and updating package versions to the 3.1 versions.

For Blazor apps, we did introduce a [new component tag helper](https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-1-preview-2/), which is easier to use than the previous component HTML helper. W

[2019-11-18 23:46] blowdart commented on #15744
OK this sounds more like a bug than a docs issue. Please log one on the [aspnet repo](https://github.com/aspnet/AspNetCore/issues) and we'll go from there.

[2019-11-18 23:56] owlyowl opened #15746 "Getting the logged in user name"
Try as I might on the server side I can't seem to get the current application user name of the logged in user.
The best I've been able to do is UserId.
Just wondering if anyone else has had this issue and how they've managed to pull it out without another db hit?

Below is the method I'm using to try:
 string IGetCurrentApplicationUserName.GetCurrentApplicationUserName()
        {
            var

[2019-11-19 02:49] henryjones000 opened #15750 "Different Code Generated"
In Migrations/{timestamp}_InitialCreate.cs migration file, this code was made:
 Id = table.Column&lt;int&gt;(nullable: false)
                        .Annotation("SqlServer:Identity", "1, 1"),
                    Title = table.Column&lt;string&gt;(nullable: true),

Instead of your example:
                Id = table.Column&lt;int&gt;(nullable: false)
                    .Annotation("SqlServer:Valu

[2019-11-19 05:25] BrennanConroy commented on #15726
Fixed via https://github.com/aspnet/AspNetCore.Docs/pull/15703

[2019-11-19 05:25] #15726 closed

[2019-11-19 07:37] Rick-Anderson commented on #15233
We'll see how common this problem is.

[2019-11-19 07:37] #15233 closed

[2019-11-19 07:42] Rick-Anderson commented on #15746
Check out *Pages\Shared\_LoginPartial.cshtml*

`User.Identity.Name`

[2019-11-19 07:42] #15746 closed

[2019-11-19 07:43] Rick-Anderson commented on #15744
@Coderrob  and add the aspnet repo issue here please.

[2019-11-19 07:43] #15744 closed

[2019-11-19 07:45] Rick-Anderson commented on #15733
You might ask at http://docs.identityserver.io/en/latest/

[2019-11-19 07:45] #15733 closed

[2019-11-19 07:49] Rick-Anderson commented on #15730
We're a doc team unable to provide support. You might try asking on SO. I

If you think this is a product bug, create the simplest possible sample that reproduces the problem and open an issue at [GitHub ASP.NET Core](https://github.com/aspnet/AspNetCore/issues/new?template=bug_report.md)

Include steps to reproduce the bug and the version you're using `dotnet --version`

[2019-11-19 07:49] #15730 closed

[2019-11-19 07:54] Rick-Anderson commented on #15711
@halter73 please comment.

[2019-11-19 08:15] owlyowl commented on #15746
Hi Rick,
I'm trying to get it as part of an injected service using an IHttpContextAccessor:

[code]

[2019-11-19 09:52] bobbyrowe22 commented on #15298
Im not sure where the section ends> "Endpoint routing differences from earlier versions of routing"
From the standpoint of someone learning routing from scratch this section probably just confuses the subject. Do i skip this section?

[2019-11-19 09:55] bobbyrowe22 commented on #15720
I didn't see anything on there that looked similar to the default generated code. I'll check the comments.

[2019-11-19 11:45] uzochiapa commented on #10159
options.AllowAreas = true;
this code doesn't work in ASP.NET Core 3.0
Any work around for this ?

[2019-11-19 12:06] DrGriff opened #15753 "Wrong return type"
Where you have the method:

`public static Task Focus(this ElementReference elementRef, IJSRuntime jsRuntime)
{
    return jsRuntime.InvokeAsync&lt;object&gt;(
        "exampleJsFunctions.focusElement", elementRef);
}`

I think  you need to return `ValueTask&lt;object&gt;`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-11-19 12:57] guardrex commented on #15753
Hello @DrGriff ... This is a duplicate of https://github.com/aspnet/AspNetCore.Docs/issues/14739. Engineering will look at that shortly and get back to us.

The approach shown in the topic was approved by engineering on several reviews going back into Blazor's beta releases. When the 3.0 was released and Blazor Server went into general availability, this topic was reviewed by engineering along wit

[2019-11-19 12:57] #15753 closed

[2019-11-19 13:11] mdhcindioglu opened #15754 "How to test some conditions by code then validate or invalidate and show error message?"
I want to test if customer name is unique in database.
if customer name added before then send validation error message.

In the past we test this add new error to ModelState like this:
ModelState.AddModelError(....

How to do like this in BLAZOR???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884

[2019-11-19 13:31] AnorZaken opened #15755 "Reverseproxy example is slightly wrong."
It says:
"If using directories with IIS or a reverse proxy, set the Swagger endpoint to a relative path using the ./ prefix. For example, ./swagger/v1/swagger.json."
This is wrong since "/swagger" is the current directory, so it should be "./v1/swagger.json", otherwise you are trying to access "swagger/swagger/v1/swagger.json".
The dot and backslash is unnecessary too, you can just write "v1/swagg

[2019-11-19 15:59] Tratcher opened #15757 "Startup constuctor injection"
This was a good summary article with examples and linking to it from the migration guide would help:
https://andrewlock-net.cdn.ampproject.org/v/s/andrewlock.net/avoiding-startup-service-injection-in-asp-net-core-3/amp/?usqp=mq331AQCKAE%3D&amp_js_v=0.1#referrer=https%3A%2F%2Fwww.google.com&amp_tf=From%20%251%24s&ampshare=https%3A%2F%2Fandrewlock.net%2Favoiding-startup-service-injection-in-asp-net-

[2019-11-19 16:25] smadgerano opened #15759 ""Render stateful interactive components from Razor pages and views" guidance is severely lacking details"
The section in your docs suggest that all you need to do is use "await Html.RenderComponentAsync...." tags.

In reality you also need to add extra using statements into your _Imports.razor file (that  are only apparent after going through the downloadable samples), an extra tag into the Head of the page, extra extra endpoints and services in to your Startup.cs (which to be fair I did pick up from

[2019-11-19 17:22] #13416 closed

[2019-11-19 17:22] #13507 closed

[2019-11-19 17:48] Rick-Anderson commented on #10159
`AllowAreas` is a compatibility switch. With 3.0 being a breaking change, Areas are "allowed" out of the box, so `options.AllowAreas = true;` can be dropped.

https://github.com/aspnet/AspNetCore.Docs/issues/14357#issuecomment-532385914

[2019-11-19 17:54] Rick-Anderson commented on #15710
We should discourage or at least warn against long running tasks.

[2019-11-19 17:55] Rick-Anderson commented on #15711
@halter73  can you draft a warning or other caveat about long running tasks?

Long running tasks on ASP.NET Core are problematic. ...

[2019-11-19 17:56] guardrex commented on #13546
Additional from @smadgerano on https://github.com/aspnet/AspNetCore.Docs/issues/15759 pertaining to [ASP.NET Core Blazor hosting models](https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.0) ...

[2019-11-19 17:57] guardrex commented on #15759
Correct, we haven't had **_how to convert_** or **_hybrid_** coverage to date.

This seems like an extension of your earlier remarks on https://github.com/aspnet/AspNetCore.Docs/issues/13546. I've moved your remarks here over to that issue, which is awaiting triage by engineering. They'll get to it soon enough. Stand-by for their response.

[2019-11-19 17:57] #15759 closed

[2019-11-19 17:58] firstasync opened #15760 "SqlClient in "Migrate from ASP.NET Core 2.2 to 3.0""
The document should indicate the needed of include a package reference to System.Data.SqlClient since some third-party library (like Dapper) may stop working properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76f39eec-9dd1-6167-56ec-47b26e0b5063
* Version Independent ID: f9f2b0f3-01eb-cf58-8767-194fe0fc0e44
* Con

[2019-11-19 17:58] tony-long opened #15761 "Missing Checkbox section"
Missing Checkbox section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a96bbb2e-2611-525f-129d-b86a491e423c
* Version Independent ID: 4e39097d-b058-d4e2-8780-31b0067b6717
* Content: [Tag Helpers in forms in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms?view=aspnetcore-3.0)
* C

[2019-11-19 18:10] spottedmahn commented on #15528
Not only that but when reading the 2.2 documentation if I use `Microsoft.AspNetCore.SignalR.Redis` I need to call `AddRedis` not `AddStackExchangeRedis`.  I went to submit a PR but I wasn't sure what is the best way to document that.

I guess it would be best if I submit my PR and go from there?

[2019-11-19 18:20] guardrex commented on #15678
Not fully covered at this point in the regular topics. I still have ~3 spots that need a touch of work, the most important being in the *Components* topic. I'll work on that today on the existing *Components* PR. I'll mark that PR briefly with a **HOLD** until it's ready for review.

[2019-11-19 18:22] smadgerano commented on #15759
Thanks for the feedback, understood. Apologies for my rant, I was just frustrated the time it took to get to the bottom of it, which I thought would have been covered in the docs for the final release, but we're all busy people so it's cool :)

[2019-11-19 18:25] guardrex commented on #15759
One of the background problems is the degree of churn. Engineering is still cranking away on framework scenarios. I agree we need the coverage, but it might be that 3.1's release is a good time to address this problem. The 3.1 release is **coming soon**. Preview 3 just landed. It won't be long now. Your issue is on the list, and they will see it and triage it shortly. To get a sense of everything

[2019-11-19 19:06] guardrex opened #15765 "Component tag helper"
This is a follow-up to the work started on https://github.com/aspnet/AspNetCore.Docs/pull/15472.

https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-1-preview-2/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent ID: 9d945996-ad02-bd4b-58ea-c4

[2019-11-19 19:14] #15353 closed

[2019-11-19 19:40] serpent5 opened #15767 "Clean up scaffolded code and show UseRouting position"
I'd like to clean up the scaffolded code here, specifically the `ILogger<T>` and its injection. I'd also like to add `UseRouting()` to the middleware snippet. Can I go ahead and do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f9d7ad5-47d6-80bf-88fe-fac3a74151a3
* Version Independent ID: e64816f4-3391-5aab-31c2

[2019-11-19 19:47] buttons019 commented on #15212
Hi, I found the same issue.
I'd like to know (sorry for my lack of experience) whether this is being treated as a bug or differently and when a solution is planned to be available. I had to suspend logging on an almost live app and need to reestablish it. Thanks,

[2019-11-19 20:02] blowdart commented on #10384
Sure, call it out as "Don't use this". Do we have examples of what people want it for that they can't do with the authorization service?

[2019-11-19 20:10] HaoK commented on #10384
This exists since we wanted to have MVC and SignalR share the same code, there's nothing they can't do with the underlying APIs that they couldn't do anyways, this is basically an artifact of our framework's implementations as opposed to something that's generally useful

[2019-11-19 20:20] Rick-Anderson commented on #15767
Yes, please do.

[2019-11-19 20:34] Rick-Anderson commented on #15212
@Tratcher  should you transfer this to https://github.com/aspnet/AspNetCore/issues ?
I'd do it but I don't have write permission to your repo.

[2019-11-19 20:42] Rick-Anderson commented on #15705
@serpent5  this is yours if you want it.

[2019-11-19 20:50] Rick-Anderson commented on #15212
@fvilches17 @buttons019  see #14924

[2019-11-19 20:52] guardrex opened #15769 "Custom validation attributes with Blazor forms"
To address:

* #15739
* #15747

We should be able to cross-link for the custom validation attribute bits.

https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-3.0#custom-attributes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884-c1fe5c2ef52d
* Version Independent ID

[2019-11-19 21:00] Tratcher commented on #15212
Looks like a duplicate of https://github.com/aspnet/AspNetCore/issues/3279

[2019-11-19 21:28] Rick-Anderson opened #15771 "C# in the attribute / tag declaration is unsupported for TagHelpers"
Add that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62cdbf88-1fff-6999-f75a-26fbe730b911
* Version Independent ID: bc48b5cb-d500-f75d-8e48-be4d069a9198
* Content: [Tag Helpers in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/intro?view=aspnetcore-3.0)
* Content Source: [aspnetcore

[2019-11-19 21:34] Rick-Anderson commented on #15212
@guardrex  see `@pakrym` answer

Diagnostic Logs Level is only used for Log streaming output. It doesn't apply to any other logging providers.

Can you add that to this doc?

[2019-11-19 21:38] guardrex commented on #15212
Sure thing.

[2019-11-19 21:38] scottaddie commented on #15761
@tony-long Can you please add more details on what you expect to see?

[2019-11-19 21:51] #15701 closed

[2019-11-19 21:52] Rick-Anderson commented on #15651
Related: https://github.com/aspnet/AspNetCore/issues/16972

[2019-11-19 22:05] paulomorgado commented on #15710
And explain that it returns the thread to the thread pool, schedules another one and, when finished, returns that thread to the thread pool and schedules another one.

[2019-11-19 22:15] Rick-Anderson opened #15773 "Add HTTPS Error using IIS Express"
https://github.com/aspnet/AspNetCore/issues/16892

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ddfb2f-5dea-5e31-2a27-02a4dc16104c
* Version Independent ID: 12ca0b9a-2638-a4ce-c45f-d4579c83dafb
* Content: [Enforce HTTPS in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetc

[2019-11-19 23:45] #15771 closed

[2019-11-19 23:58] surfmuggle opened #15777 "SQL Server CU must be installed to fix broken path"
While going through the tutorial i encountered

I noticed that the path was missing a backslash. The [bug report 384](https://github.com/aspnet/EntityFramework6/issues/384) did contain the same problem. The advice was to update to the latest [SQL Server® 2017 for Microsoft® Windows Latest Cumulative Update ](https://www.microsoft.com/en-us/download/details.aspx?id=56128). This fixed the problem.

[2019-11-20 00:01] Rick-Anderson commented on #15777
Dup of #15680

![image](https://user-images.githubusercontent.com/3605364/69197291-0e277480-0ad5-11ea-9b35-a9064811d5bb.png)

[2019-11-20 00:01] #15777 closed

[2019-11-20 00:31] tony-long opened #15778 "No mention of view model validation"
No mention of view model validation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39b6d0f3-9bc7-d091-0d45-9fc1e2e7aac8
* Version Independent ID: 20e7eb53-215b-09ab-205d-d20177221278
* Content: [Add validation to an ASP.NET Core Razor Page](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/validation?v

[2019-11-20 00:35] Rick-Anderson opened #15779 "`dotnet dev-certs https --clean` should clean the certs generated for Docker profile"
https://github.com/aspnet/AspNetCore/issues/15357

@ArieShout  please PR or suggest an edit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ddfb2f-5dea-5e31-2a27-02a4dc16104c
* Version Independent ID: 12ca0b9a-2638-a4ce-c45f-d4579c83dafb
* Content: [Enforce HTTPS in ASP.NET Core](https://docs.microsoft.com/en-us/aspn

[2019-11-20 00:36] tjopsta commented on #13215
Are we any further with these examples?  Having the same as requested above for Blazor server side apps would be amazing.

[2019-11-20 00:37] CamSoper commented on #13215
@tjopsta I am actively working on updating docs in this area. ETA ~2-3 weeks.

[2019-11-20 00:46] Rick-Anderson commented on #15778
View models are just models.

[2019-11-20 00:46] #15778 closed

[2019-11-20 00:51] tjopsta commented on #13215
Awesome, thanks very much for the quick update Cam!

[2019-11-20 00:52] tony-long commented on #15761
Here’s what I think:

  1.  Since there are other input types in the doc, why not include the Checkbox since that is very commonly used;
  2.  Point out how to use them, especially where the use case requires a nullable boolean (bool?)
  3.  When you have a nullable bool the scaffolding for a view results in a inbox – which makes no sense.  Searches found many others having the same need.
  4.  Th

[2019-11-20 00:55] tony-long commented on #15778
Thanks for the quick response.   You should probably mention this because people on StackOverFlowingBadly are putting out bad info on view models and client side validation.   I  count on Microsoft to provide a complete and truthful documentation on this stuff.

________________________________
From: Rick Anderson <notifications@github.com>
Sent: Tuesday, November 19, 2019 4:46:44 PM
To: aspnet/As

[2019-11-20 00:56] Rick-Anderson commented on #15761
There are several blogs on this. https://www.learnrazorpages.com/razor-pages/forms/checkboxes is good.

We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-20 00:56] #15761 closed

[2019-11-20 00:58] Rick-Anderson commented on #15778
This is not a validation doc, it's just part of an intro tutorial. You should be reading https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-3.0

[2019-11-20 01:51] guardrex commented on #15651
... and cross-link from [ASP.NET Core Blazor authentication and authorization](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/?view=aspnetcore-3.0&tabs=visual-studio).

[2019-11-20 03:13] #15711 closed

[2019-11-20 03:32] bdcoder2 opened #15781 "Config files used during Build, Deploy and Launch ..."
I have started my "deep dive" into ASP.Net Core by creating an EMPTY web app (website) project that serves only static files - no MVC, no Razor, nothing fancy.   I use COMMAND line tools (msbuild) to compile (build) the project, and to deploy it to a local test or production directory.  I then use the "dotnet" command to launch the website.  (Using command line tools makes documentation easier tha

[2019-11-20 03:43] wildcatgerry opened #15782 "Correction request"
500.35 seems to be a copy of 500.34.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a2a7104-1d14-2e8a-0984-d92aa311c108
* Version Independent ID: 5e3c0546-c579-afb9-5289-b14532c127eb
* Content: [Troubleshoot ASP.NET Core on Azure App Service and IIS](https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure

[2019-11-20 03:52] guardrex commented on #15781
Thanks for the feedback and questions @bdcoder2. I’m just off to 🛌, so I’ll get back to you on this in the morning.

[2019-11-20 03:54] #15773 closed

[2019-11-20 03:55] guardrex commented on #15782
Thanks @wildcatgerry ... I’m just off to 🛌, so I’ll take a look and get back to you in the morning.

[2019-11-20 04:33] tony-long commented on #15778
Thanks Rick – one other thing that would be great to have docs on.

I have a few bootstrap modals that I use for pop-up record add/edit using JavaScript to call controller action for a partial view w/form and stuff that into the modal body, make visible.  How to enable form validation in this use case I’m clueless on.  Perhaps jquery validation and unobtrusive  support.   But, with Blazor here and

[2019-11-20 06:13] sun-acmx opened #15783 "This certificate authentication does not work when ASP.Net Core API is a Service Fabric application"
I am using an ASP.net Core API that is a Service Fabric application (ASP.net Core Stateless Service). I used the code outlined in this doc to configure Kestrel to require certificate, but requests go to controllers without even checking if cert was passed or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b7960d-

[2019-11-20 10:29] sunli93 opened #15784 "fail to install dotnet-ef for mac"
when exec "dotnet tool install --global dotnet-ef" on mac, it will print information below:

error NU1202: Package dotnet-ef 3.0.1 is not compatible with netcoreapp3.0 (.NETCoreApp,Version=v3.0) / any. Package dotnet-ef 3.0.1 supports: netcoreapp2.1 (.NETCoreApp,Version=v2.1)
The tool package could not be restored.
Tool 'dotnet-ef' failed to install. This failure may have been caused by:

* You ar

[2019-11-20 11:52] guardrex commented on #15784
Hello @sunli93 ... It looks like they've fix it for the upcoming release of 3.1. See :point_right: https://github.com/aspnet/EntityFrameworkCore/issues/18977

[2019-11-20 11:52] #15784 closed

[2019-11-20 12:21] quakeulf opened #15785 "Steps are not happening according to the guide after "Apply Migration""
"Internal Server Error: A database operation failed while processing the request. SQL exception: Cannot open the database. Applying existing migrations for Application DB context may resolve this issue."

This does not appear, and when I try to login again using the e-mail address I get "Invalid login attempt".

![image](https://user-images.githubusercontent.com/3605364/69262236-352e8680-0b67-11ea

[2019-11-20 15:53] baktay commented on #15251
Is this tutorial for VS2019 Ver.16.3.9 ? I feel like its for an earlier version because you will get stuck when trying to add controller.

When you start the project there is already a HomeController.cs with views. The scaffolding gives error if you try to add controller as shown in tutorial.

If you try to add it manually (add / controller class / rename to HelloWorldController.cs) then it seems

[2019-11-20 16:10] sarathlalsaseendran opened #15786 "How to use custom authorization attributes in Blazor"
Is it possible to use our own custom authorization attributes in Blazor, please advise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9942b0a-a7fb-0d34-9201-af0963affa9e
* Version Independent ID: 19770710-5225-a1ea-e082-65da6ba4a49a
* Content: [ASP.NET Core Blazor authentication and authorization](https://docs.microso

[2019-11-20 16:52] guardrex commented on #15781
We're collecting feedback on how configuration files are covered. There have been a few inquiries on the subject, but not many to my knowledge from watching the issues come in.

Today, there are **_many_** configuration "files" for aspects of configuration:

* App
* Host
* Server/service
* Tooling

Thus far, we've adopted the strategy of covering configuration files (in the broadest sense) *with t

[2019-11-20 16:52] #15781 closed

[2019-11-20 17:01] guardrex commented on #15786
Hello @sarathlalsaseendran ... AFAIK, *yes*, they should work. If you run into trouble and need to file a bug report, open an issue with the product unit at https://github.com/aspnet/AspNetCore/issues. If it's just a general question, and our own [Custom Authorization Policy Providers using IAuthorizationPolicyProvider in ASP.NET Core](https://docs.microsoft.com/aspnet/core/security/authorization/

[2019-11-20 17:01] #15786 closed

[2019-11-20 17:06] guardrex commented on #15782
Good :eye: @wildcatgerry ... *yes* ... I think it should say "multiple in-process applications" for 500.35. I'll fix that up and then ping engineering on the PR to confirm the change. Thanks for calling this out.

[2019-11-20 17:24] Rick-Anderson commented on #14581
Closing for lack of response.

[2019-11-20 17:24] #14581 closed

[2019-11-20 17:27] CeciAc opened #15790 "I found that the two pages were written incorrectly."
@userQin159 commented on [Tue Nov 19 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/219)

open link 1、
https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/complex-data-model?view=aspnetcore-3.0#the-required-attribute

**You could remove the Required attribute and replace it with a minimum length parameter for the StringLength attribute:**
--------------------
open link 2、
https:

[2019-11-20 17:29] CeciAc commented on #15790
Hi team,
I moved this here because the user reports inconsistencies between both pages.

kind regards

[2019-11-20 17:55] Pyrobolser opened #15791 "Protect section with MFA"
How to force a user to connect with MFA to access some part of the application. The documentation
explicit quote this example:

But doesn't really go any further about this. I have been trying to find more information about how to implement this properly but was unable to find any relevant documentation. If you could integrate some code sample on the subject or point me in the right direction.

Th

[2019-11-20 17:56] tony-long opened #15792 "Select Tag Helper"
Need more complete example of using the select within the full CRUD lifecycle - Adding new record with a field using a Select List.   Update example of setting the value of the previous selected value of the current(recent add) record.   The Client Side behaviour for changing the value and any associated onchange event handling in javascript or Blazor.    Does anything exist for this?  Any working

[2019-11-20 18:01] Rick-Anderson commented on #15792
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-20 18:01] #15792 closed

[2019-11-20 18:05] taylorchasewhite commented on #13022
Thanks, I greatly appreciate this comment! I was thinking the same thing as @guardrex.

[2019-11-20 18:08] #15757 closed

[2019-11-20 18:16] scottaddie opened #15793 "move Cookie SameSite defaults breaking change to .NET Core breaking changes"
- Add the [announcement](https://github.com/aspnet/Announcements/issues/348) details to the 3.0 breaking changes listed in the .NET Core docset.
- Remove the associated bullet from https://docs.microsoft.com/aspnet/core/migration/22-to-30#breaking-api-changes.

[2019-11-20 18:20] blowdart commented on #15783
Do you have an authorize attribute on those controllers?

[2019-11-20 18:21] blowdart commented on #15791
We've never actually written any code for this. @HaoK it should be possible though right?

[2019-11-20 18:37] tony-long commented on #15792
Thanks Rick,  Please share this with the upper management team and I will follow-up with them next week.   MSFT needs to invest into having better documentation.  They are not investing enough and it’s always been a case of minimal effort going back to the 1990’s.
Cheers!

________________________________
From: Rick Anderson <notifications@github.com>
Sent: Wednesday, November 20, 2019 10:01:02 AM

[2019-11-20 18:38] buttons019 commented on #15212
@Rick-Anderson thanks for the reply and the link. Unfortunately it solves the problem for whoever cannot get the app to log, but not for me (and I think @fvilches17) cause we need to filter what's being already logged. Any hint on how to achieve that? Thanks again,

[2019-11-20 19:50] #15698 closed

[2019-11-20 19:51] #15782 closed

[2019-11-20 20:26] #15767 closed

[2019-11-20 21:13] #15793 closed

[2019-11-20 21:40] Rick-Anderson commented on #13423
@pranavkm can you give me an ETA on when you can outline this?

[2019-11-20 21:45] scottaddie commented on #12729
Closing, as this doc already exists.

[2019-11-20 21:45] #12729 closed

[2019-11-20 21:59] Rick-Anderson commented on #14495
Close due to low page count.

[2019-11-20 21:59] #14495 closed

[2019-11-20 22:42] guardrex commented on #15212
Fixed by https://github.com/aspnet/AspNetCore.Docs/pull/15772.

[2019-11-20 22:42] #15212 closed

[2019-11-20 22:43] Rick-Anderson opened #15797 "Kestrel is the default web server included in ASP.NET Core project templates."
Kestrel is a web server - it's not in the templates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8f53b58-a048-69ca-2e89-3625bb4cc839
* Version Independent ID: 32a343a1-ba87-7274-e861-2ac194d5aa3d
* Content: [Web server implementations in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/server

[2019-11-20 22:44] guardrex commented on #13997
@shirhatti Is this actionable at all? If not, we can close.

[2019-11-20 22:46] sun-acmx commented on #15783
Yes, I do. Initially I had it on the action method I was testing, but then moved it to the controller level.

[2019-11-20 22:53] Rick-Anderson opened #15799 "ASP.NET Core project templates use Kestrel by default. In Program.cs, the app calls ConfigureWebHostDefaults, which calls UseKestrel behind the scenes."
See [How to use Kestrel in ASP.NET Core apps](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.0#how-to-use-kestrel-in-aspnet-core-apps)

ASP.NET Core project templates use Kestrel by default. In Program.cs, the app calls `ConfigureWebHostDefaults`, which calls `UseKestrel ` behind the scenes.

Isn't `UseKestrel` the default config? You don't need to chan

[2019-11-20 23:28] Rick-Anderson commented on #15783
Can you create the simplest possible sample that reproduces the problem and post on GitHub?

Include steps to reproduce the bug and I'll test it.

[2019-11-20 23:29] guardrex commented on #15799
I don't quite follow the question ... Kestrel and IIS Integration are provided via calls behind `ConfigureWebHostDefaults`, but not HTTP.sys. If you trace it out, you come out here ...

https://github.com/aspnet/AspNetCore/blob/1480b998660d2f77d0605376eefab6a83474ce07/src/DefaultBuilder/src/WebHost.cs#L217

... and for IIS bits, a little further down ... here ...

https://github.com/aspnet/AspNetC

[2019-11-20 23:30] Rick-Anderson commented on #15755
@ssemyan  please review.

[2019-11-20 23:33] #15790 closed

[2019-11-20 23:38] Rick-Anderson commented on #15799
@guardrex  much simpler. I'm saying the following:
ASP.NET Core project templates use Kestrel by default. In Program.cs, the app calls `ConfigureWebHostDefaults`, which calls [UseKestrel ](url)behind the scenes.

SHould be changed to

ASP.NET Core project templates use Kestrel by default. In Program.cs, the app calls `ConfigureWebHostDefaults`, which **BY DEFAULT** calls [UseKestrel ](url)behind t

[2019-11-20 23:47] Rick-Anderson commented on #15799
I want to make [How to use Kestrel in ASP.NET Core apps](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.0#how-to-use-kestrel-in-aspnet-core-apps) consistent for the 85% who use IIS Express from VS. What's written there doesn't make sense for that use case.

[2019-11-20 23:50] guardrex commented on #15799
That's cool, except that this is just the **Kestrel** topic. It's really quite heavily focused on the OOB ... no IIS ... basic CLI tooling ... way of the world.

OOB ... `dotnet run` the template, you get Kestrel. There's no IIS/Express there to *integrate*.

These topics were written to compartmentalize things quite a bit. The incremental improvement might be worth it ... or not ... hard to say.

[2019-11-20 23:51] Rick-Anderson commented on #15799
What about
ASP.NET Core project templates use Kestrel by default. In Program.cs, the app calls `ConfigureWebHostDefaults`, which **BY DEFAULT** calls [UseKestrel ](url)behind the scenes.

[2019-11-20 23:53] serpent5 commented on #15799
`ConfigureWebHostDefaults` will _always_ call `UseKestrel` ([source](https://github.com/aspnet/AspNetCore/blob/master/src/DefaultBuilder/src/WebHost.cs#L217)). It'll also call `UseIIS` and `UseIISIntegration` ([source](https://github.com/aspnet/AspNetCore/blob/master/src/DefaultBuilder/src/WebHost.cs#L256-L257)). The magic seems to be in those IIS methods detecting if IIS is running and replacing

[2019-11-21 00:00] guardrex commented on #15799
Always "call," yes. Always "use," no ... depends on what the dev picks (e.g., HTTP.sys server).

That's correct @serpent5. All the juicy details (*most of them anyway*) are over at https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-3.0#in-process-hosting-model.

[2019-11-21 00:13] guardrex commented on #15799
Just again from the historical perspective here ...

All of the server, host, publish, and deployment topics have been written and maintained to compartmentalize things fairly strictly. It was done (fair enough to say 'by me' ... I guess with engineering's blessings lol) ... it was done because we're so xplat/xtooling these days. It virtually demands that each subject area take most of its own set

[2019-11-21 00:31] #15797 closed

[2019-11-21 01:49] #15799 closed

[2019-11-21 02:09] kosta-arnorsky commented on #11860
It's not wrong and might be even useful in certain cases, but it's defiantly confusing, especially in an introductory article, because it has **both** RenderSection and section definition.
As I said, it's not wrong, but may create a fallacious impression that RenderSection can be used only in a section.

[2019-11-21 02:27] #15528 closed

[2019-11-21 02:50] Rick-Anderson commented on #11860
@kosta-arnorsky  thanks for fixing. I can't think of good use case for what we had.

[2019-11-21 02:51] Rick-Anderson commented on #11860
Fixed by #15804

[2019-11-21 02:51] #11860 closed

[2019-11-21 03:15] Rick-Anderson opened #15806 "How to repair IIS Express cert"
show

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ddfb2f-5dea-5e31-2a27-02a4dc16104c
* Version Independent ID: 12ca0b9a-2638-a4ce-c45f-d4579c83dafb
* Content: [Enforce HTTPS in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.0&tabs=visual-studio#troubleshoot-certi

[2019-11-21 03:35] Rick-Anderson commented on #15799
See https://github.com/aspnet/AspNetCore/issues/13145

[2019-11-21 03:36] #15530 closed

[2019-11-21 07:55] tttimit commented on #15702
@Rick-Anderson I got this error too. You need to tell beginners that they need to install Microsoft.EntityFrameworkCore.InMemory.

[2019-11-21 08:30] josefblaha opened #15807 "Key uniqueness guidelines"
Are there any guidelines on how to create entry keys so that there are unique? The page mentions, that the IMemoryCache is a shared service. That could lead to a entry key conflict with another part of the application or even an external library.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13f5f8f9-18dd-9c12-9ed1-fc

[2019-11-21 09:52] JohnTraDolta opened #15808 "Install nuget"
Maybe tell the user to install the nuget package
Microsoft.AspNetCore.Authentication.Facebook

@Rick-Anderson  edit:
![image](https://user-images.githubusercontent.com/3605364/69359217-4b524a80-0c2c-11ea-9dd2-e7a3d8d9d6e6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2c6faa2-8c65-073b-4988-672c1aa9690c
* Version

[2019-11-21 11:38] guardrex commented on #15808
All of the social auth topics don't call out their packages. @Rick-Anderson, I'll have some time after the next round of Blazor PRs. If ur busy, I can take this one ... assign me if u want.

[2019-11-21 12:19] vanillajonathan opened #15809 "Article assumes repository"
The article assumes that there is a repository. This despite that the [ASP.NET Core MVC with EF Core - tutorial series](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/crud) use a `DbContext` in the controllers.

The API documentation for [`DbContext`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.dbcontext) mentions that it implements the repository pattern.

[2019-11-21 14:16] spottedmahn commented on #15528
You guys rock! 🤝

Thanks for getting this resolved 🥳.  Thanks the speed ⚡.

[2019-11-21 14:36] ArgTang commented on #13331
It seems like the prefix has changed:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.hosting.host.createdefaultbuilder?view=dotnet-plat-ext-3.0

[code]

A least for generic host it is not `ASPNETCORE_ENVIRONMENT ` but `DOTNET_ENVIRONMENT`

[2019-11-21 14:38] guardrex commented on #13331
@AvgTang They both work.

[2019-11-21 15:35] #15603 closed

[2019-11-21 15:35] #12896 closed

[2019-11-21 15:35] #13619 closed

[2019-11-21 15:35] #14884 closed

[2019-11-21 15:35] #15679 closed

[2019-11-21 15:35] #15765 closed

[2019-11-21 15:53] #12949 closed

[2019-11-21 15:53] #15552 closed

[2019-11-21 16:25] guardrex commented on #13757
@danroth27 Where in the TOC would you like the upcoming topic? The current lineup is ...

* Overview
* Supported platforms
* Get started
* Hosting models
* Build your first app
* Components
* Forms and validation
* Component libraries
* Layouts
* Dependency injection
* Routing
* JavaScript interop
* Security and Identity
* State management
* Handle errors
* Debug
* Call a web API
* Host and deploy

[2019-11-21 16:45] Rick-Anderson commented on #15702
@tttimit  It's in the doc.

[2019-11-21 16:46] Rick-Anderson commented on #15807
That's left to the developer.

[2019-11-21 16:46] #15807 closed

[2019-11-21 16:47] scottaddie commented on #14211
Closing, since this was addressed in https://github.com/aspnet/AspNetCore.Docs/pull/15685/

[2019-11-21 16:47] #14211 closed

[2019-11-21 16:49] #15623 closed

[2019-11-21 16:49] #15769 closed

[2019-11-21 16:58] ssemyan commented on #15755
Are you sure you have the right Scott?

[2019-11-21 16:59] Rick-Anderson commented on #15808
@guardrex  Thanks for the offer. @wadepickett will be updating all of these.

[2019-11-21 17:14] Rick-Anderson commented on #15528
@spottedmahn  thanks for the PR

[2019-11-21 17:20] itanex commented on #13997
@guardrex there has not been any contact from him.

[2019-11-21 17:22] guardrex commented on #13997
He was OOF for bit 🏖, but he'll respond. They're always 🏃😅.

[2019-11-21 17:32] pranavkm commented on #14689
Let's track this as an investigation in AspNetCore. I'd expect the two to work similarly.

[2019-11-21 17:48] Rick-Anderson commented on #15809
@vanillajonathan  yes, @ardalis  is a big repository fan. If we had the resources to rewrite this, we'd do it without a repository.

The article does a good job of unit testing controllers and the repository pattern doesn't detract too much.

It would be nice to add Razor Pages too.

Most people like the article:
![image](https://user-images.githubusercontent.com/3605364/69362774-4349d900-0c33-11e

[2019-11-21 17:49] #15806 closed

[2019-11-21 18:23] wadepickett commented on #13236
Related to now closed https://github.com/dotnet/docs/issues/14959 .  Currently also changing code example to address this...

[2019-11-21 18:38] wadepickett commented on #15808
I updated Google, the OAuth overview and working on Facebook right now.  Facebook Developer registration changed, updating those steps and screenshots as well, plus updating the code examples to address default change to Bootstrap4 and we no longer use .AddIdentityUI() to set it otherwise.

[2019-11-21 18:45] Rick-Anderson commented on #13394
@nathans1309  see [Middleware order](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-3.0#middleware-order)

[2019-11-21 19:38] eric-miller-cdfw opened #15813 "Wrong fallback attributes"
The page has copied the Link fallback attributes instead of listing the correct Script fallback attributes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c90104e1-65b1-0007-e56d-0dffef4b1a44
* Version Independent ID: 5c95e5dc-dc10-8658-91fd-1d55d3959c37
* Content: [Script Tag Helper in ASP.NET Core](https://docs.micro

[2019-11-21 19:41] ardalis commented on #15809
Thanks, Rick.

@vanillajonathan It's worth noting that the Repository pattern depends on having an abstraction that you control, and depending on that in your application, rather than on an implementation. A DbContext is an implementation. So while yes, one can say it implements Repository, for your application to properly use the pattern, your application should depend on an abstraction (an inter

[2019-11-21 20:00] MaxFun opened #15814 "Error Scaffold a controller"
Was able to get down to "Add API Controller with actions, using Framework" and when I add it, got an error. Was not able to select and copy it, estimate text was over 400 characters. Did get a window capture in jpg.
Part was "could not load file or assembly 'Microsoft.VisualStudio.Web.CodeGeneration.Utils, ........."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-11-21 20:17] laura-rodriguez opened #15815 ""Remove obsolete package references" section is confusing"
In this section, it is explained that ASP.NET Core no longer produces a large number of NuGet packages features, and some of the package references should be removed from the project file. Then, there is a list of packages that are no longer produced, for example, `Microsoft.AspNetCore.Authentication.JwtBearer` or `Microsoft.AspNetCore.Authentication.OpenIdConnect` among others. This gives you the

[2019-11-21 20:47] Rick-Anderson opened #15817 "Improve CSAT"
Currently pretty good, but historically it's been low

![image](https://user-images.githubusercontent.com/3605364/69362774-4349d900-0c33-11ea-9fe8-8afccbcc1c95.png)

[Internal tracking bug](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1617784)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5cce372-24e2

[2019-11-21 21:33] scottaddie commented on #15815
@laura-rodriguez Thank you for pointing this out. I'll see what I can do to clarify in the doc.

Here's one way to visualize things. Compare the 2.2 and 3.0 shared frameworks on your development machine:

![image](https://user-images.githubusercontent.com/10702007/69378232-9a6f9e00-0c73-11ea-92da-cb0d34b1b633.png)

In this screenshot, you see that the `Microsoft.AspNetCore.Authentication.JwtBearer

[2019-11-21 21:38] Rick-Anderson commented on #15814
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,. Try again.

[2019-11-21 21:38] #15814 closed

[2019-11-21 21:43] laura-rodriguez commented on #15815
@scottaddie thanks for sharing that screenshot, which is super helpful :). This information should be definitely included in the docs. This is relevant information for those who have to support multiple .NET versions. Thanks!

[2019-11-21 21:53] adudsic commented on #15280
I had the same issue. Instructions here resolved it: http://blazor-university.com/overview/installing-blazor/

[2019-11-21 22:00] danroth27 commented on #13757
How about right after "Build your first app"?

I'm fine with most of the proposed options except for the ones I've crossed out below. Feel free to pick the one you like best:

ASP.NET Core Blazor project structure
ASP.NET Core Blazor project layout
~~ASP.NET Core Blazor project architecture~~
~~ASP.NET Core Blazor project design~~
~~ASP.NET Core Blazor project framework~~
ASP.NET Core Blazor proje

[2019-11-21 22:03] danroth27 commented on #13757
Your proposed phrasing sounds fine.

[2019-11-21 22:15] guardrex commented on #15280
We don't have any further guidance from engineering at this point for our installation instructions. It will surely be nice when Blazor WebAssembly gets out of preview ... I think some of these types of issues will melt away when that happens (e.g., I've had to re-install the templates after a VS upgrade).

[2019-11-21 22:15] #15280 closed

[2019-11-21 22:54] #15813 closed

[2019-11-21 23:02] #15624 closed

[2019-11-21 23:21] Rick-Anderson commented on #15817
@ardalis @guardrex  Part of the reason for bad ratings is there's no readme.txt with instructions for getting this working. It needs the following

* A solution file that integrates the two. SLN are OK to check in when needed, just use `force` to override *.gitignore*
* Instructions on how to run tests

Is this SLN correct:

![image](https://user-images.githubusercontent.com/3605364/69384899-c5e98

[2019-11-21 23:25] Rick-Anderson commented on #15817
**Test** > **Test Explorer** > **Run All Tests**

[2019-11-21 23:26] guardrex commented on #15817
They're run the usual way ... `dotnet test` ... but yeah ... if the topic doesn't say that, it could be a pain point for readers.

IIRC, most of my attention to this was just to keep the sample updated. I don't recall ever getting into the guts of the text.

[2019-11-21 23:30] vanillajonathan commented on #15809
@Rick-Anderson shouldn't the article mention DbContext if even briefly?
To encourage it, discourage it, or mention if its possible to unit test when using a DbContext directly?
The article does a good job of explaining unit testing controllers when using the repository pattern, but if you're not using the repository pattern then the article is lacking. I can understand you guys lacking the resourc

[2019-11-21 23:33] serpent5 opened #15822 "Incorrect default value for MaxValidationDepth"
Both the 2.2 and 3.0 versions of this topic state that `MaxValidationDepth` is 200 by default, but it's 32.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0156ffc3-47ac-d5da-fbc2-9ff5018b071b
* Version Independent ID: 615db388-a244-41f7-21b5-a4085d9ed479
* Content: [Model validation in ASP.NET Core MVC](https://docs.mi

[2019-11-21 23:36] Rick-Anderson commented on #15809
I think I'll add

The download project uses the Repository pattern. It's not necessary to use a repository to unit test controllers or Razor Pages.

[2019-11-21 23:39] Rick-Anderson commented on #15822
Thanks, do you want to PR this?

[2019-11-21 23:40] serpent5 commented on #15822
Done. :laughing:

[2019-11-21 23:41] #15822 closed

[2019-11-21 23:45] MaxFun commented on #15814
Very cavalier assumption.

Assuming that my VS installation has all the tool and feature your system has that the tutorial works on.
Please send a copy of your VS installation information on the computer that the tutorial works on.
Just click help in VS and on the About Microsoft Visual Studio window click “Copy Info” button and paste into response.

On your tutorial, I did not find where you dire

[2019-11-22 00:17] #15815 closed

[2019-11-22 02:04] henryjones000 opened #15825 "Add-Migration does not work"
An unhandled exception occurred while processing the request.
SqlException: Invalid column name 'Rating'.
Microsoft.Data.SqlClient.SqlCommand+&lt;&gt;c.&lt;ExecuteDbDataReaderAsync&gt;b__164_0(Task&lt;SqlDataReader&gt; result)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca95f5e-0fe4-bbd2-fd23-13562e02f888
* Version

[2019-11-22 02:08] Rick-Anderson commented on #15817
When I try to run the project download - web site, not test, I get the following
![image](https://user-images.githubusercontent.com/3605364/69392119-0a345780-0c79-11ea-9e81-f2a428bbe7db.png)

[code]

[2019-11-22 02:13] henryjones000 commented on #15825
I think Update-Database is the problem. It says this:
Applying migration '20191119023842_InitialCreate'.
Applying migration '20191119023842_InitialCreate'.

t does not Create the Table with Ratings in it.

[2019-11-22 02:15] Rick-Anderson commented on #15825
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2019-11-22 02:15] #15825 closed

[2019-11-22 02:36] henryjones000 commented on #15825
When I ran Update-Database, it executed the InitialCreate.cs I made in the "Add a model" section. It DID NOT run the Rating.cs I just made. Will it work if I delete InitialCreate.cs?

[2019-11-22 02:40] Rick-Anderson commented on #15825
probably

[2019-11-22 02:43] henryjones000 commented on #15825
lol.
When I right-click 20191119023842_InitialCreate.cs, the option "Exclude from Project" is available.
What will happen if I click that? Will InitialCreate.cs be prevented from running?

[2019-11-22 02:54] Rick-Anderson commented on #15817
This fixed it

[code]

LOL, all the tests pass but the web site can't start.

[2019-11-22 03:13] guardrex commented on #15817
Ah, yes, I see how this slipped thru the cracks.

When I did the upgrade ... I ran the app to make sure that the 3.0 updates worked ... **_and the app ran fine_**.

# **_BUT_** ...

I test ran the app in the **Production environment**. 🤦‍♂😄 This line wasn't hit, so the app ran ok. I didn't give it any further thought. 🏃

Well, no biggie probably .... no community dev discovered/reported it.

[2019-11-22 03:15] guardrex commented on #15817
... and **in Production** the tests would be **_RIGHT!_** :smile:

[2019-11-22 08:33] Expecho commented on #3524
Too bad I ended up here searching for this. At least I know it is coming ;-)

[2019-11-22 11:12] amagrath opened #15827 "Loading log filters from appsettings files"
It is worth adding that in order to load the log filters from the appsettings files, developers will need to call:

AddConfiguration(configuration.GetSection("Logging"));

on the ILoggingBuilder interface.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e

[2019-11-22 11:20] amagrath commented on #15827
in particular if you do not use the default builder

[2019-11-22 11:29] mv10-work opened #15828 "Mention IAsyncDisposable"
Components can implement IAsyncDisposable instead of IDisposable. Probably worth a mention in the Component disposal section. (I just replaced somebody's Task.WhenAll in a Dispose because they weren't aware DisposeAsync exists...)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Ver

[2019-11-22 12:41] guardrex commented on #15828
Thanks @mv10-work ... Engineering didn't specify `IAsyncDisposable` for coverage when the content was written or reviewed at 3.0 GA, but it may have just been an oversight. They'll triage this, and we'll see what they say.

[2019-11-22 16:24] rynowak opened #15829 "Add info about globalization behavior of value providers"
We should add information that answers questions like https://github.com/aspnet/AspNetCore/issues/17324 to this section.

The answer in short: Our route value provider, and query string value provider treat values as **invariant culture**. Put another way, we expect that URLs are culture-invariant in MVC. In contrast, values coming from form data do a culture-sensitive conversion. This is on purpo

[2019-11-22 16:40] jelster commented on #15653
Hi @dhhunter -

I don't see why that should be necessary. Can you expand on that?

The second item you raise may have a similar root relationship with the first; noting that while I'm not familiar with the ManyServiceProvidersCreatedWarning, it might imply inconsistent or incorrect service registrations -- if a service intended to be a singleton is registered instead as a per-instance could that c

[2019-11-22 17:06] tanwarsatya commented on #15313
The example is not working for v 3.0 ASP.Net Core, Please update it.

[2019-11-22 17:14] alwilton opened #15830 "Debug"
Please add the fact that in order for a forgot password email to be sent the user must #1 exist in the DB and #2 the user must have EmailConfirmed Set to True. Also, if that is not the case there is no indication of that via the web interface, the email is never attempted to be sent.

I would like like to suggest that if env.IsDevelopment() is true that feedback be provided these requirments. - Th

[2019-11-22 17:27] Rick-Anderson commented on #15830
` #1` is obvious but ` #2` might be worth mentioning.

[2019-11-22 19:01] RicoSuter commented on #15313
What is not working?

[2019-11-22 19:13] jhensley707 commented on #13184
@guardrex Although Rick-Anderson claimed this was fixed in https://github.com/aspnet/AspNetCore.Docs/issues/13143 and it appears correctly when then Version is ASP.NET Core 3.0, it is still broken in ASP.NET Core 2.2.

[2019-11-22 19:18] jhensley707 commented on #13184
Nevermind. Flipping back and forth between the versions caused the missing highlighted text to finally show up. Definitely different from the 3.0 version so I'm glad it appeared.

[2019-11-22 19:36] scottaddie commented on #15760
Because this is an implementation detail for Dapper, we won't be adding it to our docs. It's already mentioned in the release notes for Dapper v2.0.4 (see https://stackexchange.github.io/Dapper/). If possible, you may want to consider using `Microsoft.Data.SqlClient` as a drop-in replacement for `System.Data.SqlClient`. Reasons are outlined here: https://devblogs.microsoft.com/dotnet/introducing-t

[2019-11-22 19:36] #15760 closed

[2019-11-22 21:03] rynowak commented on #15152
Endpoint routing's API surface isn't public in 2.2, it's 3.0+.

Can you give a little more info, what are you hoping to accomplish?

[2019-11-22 21:11] mkArtakMSFT commented on #14323
Thanks for letting us know, @rpc-scandinavia.
Would you be willing to sending us a PR for this?

[2019-11-22 21:14] mkArtakMSFT commented on #14191
@guardrex this is something @javiercn is planning to provide content for.
Please hold off from doing anything here till you get the info from @javiercn.

[2019-11-22 21:15] mkArtakMSFT commented on #14191
@javiercn do you have a separate item tracking your piece of work here>

[2019-11-22 21:17] CeciAc opened #15831 "Example for CreateAuthenticatedChannel contains wrong information"
@christopheblin commented on [Fri Nov 22 2019](https://github.com/aspnet/AspNetCore.Docs.fr-fr/issues/237)

In the doc, there is:
// SslCredentials is used here because this channel is using TLS.
// Channels that aren't using TLS should use ChannelCredentials.Insecure instead.

As I investigated in https://stackoverflow.com/a/58990584/1545567, ChannelCredentials.Insecure is not allowed to be combi

[2019-11-22 21:29] mkArtakMSFT commented on #15145
Thanks for helping out @kevingates , @guardrex.
This looks like a great question for the [StackOverflow](https://stackoverflow.com) forum.

[2019-11-22 21:29] #15145 closed

[2019-11-22 21:37] mkArtakMSFT commented on #15651
@javiercn what details are you interested in here to be covered?

[2019-11-22 21:40] mkArtakMSFT commented on #15754
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2019-11-22 21:40] #15754 closed

[2019-11-22 21:43] mkArtakMSFT commented on #15555
@SteveSandersonMS, @pranavkm is this a product bug, that we need to move to the `AspNetCore` repo to track?

[2019-11-22 21:45] mkArtakMSFT commented on #15828
Components don't support `IAsyncDisposable` at the moment. So nothing will happen, if you implement it. We will be fixing this for the .NET 5 release.

[2019-11-22 21:45] #15828 closed

[2019-11-22 21:58] pranavkm commented on #15555
This is being tracked via https://github.com/mono/mono/issues/17808.

[2019-11-22 22:16] CeciAc opened #15832 "Get started tutorial invalid URL"
@mikamboo commented on [Fri Nov 22 2019](https://github.com/aspnet/AspNetCore.Docs.fr-fr/issues/238)

After testing this doc, it's appear that Blazor ids running on localhost:5000 not on  localhost:5001.

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version In

[2019-11-22 22:23] guardrex commented on #15832
The URL is correct, so I can't explain why this might happen outside of the [development certificate not being trusted](https://docs.microsoft.com/aspnet/core/security/enforcing-ssl#trust-the-aspnet-core-https-development-certificate-on-windows-and-macos).

@mikamboo You can get help on a support forum, such as Stack Overflow, or a support chat, such as [Slack](http://tattoocoder.com/aspnet-slack-

[2019-11-22 22:23] #15832 closed

[2019-11-22 22:51] Andrzej-W opened #15834 "Preserve current culture in all doc links"
The problem is described well in this issue https://github.com/MicrosoftDocs/feedback/issues/1498. The whole Microsoft Doc system is broken and as you can see in the comments it annoys all people around the globe. Unfortunately this issue is ignored by Microsoft. Personally I'm interested in ASP.NET Core and especially in Blazor so I'm writing here in hope that all these great people who work on A

[2019-11-22 23:05] guardrex commented on #15834
Hello @Andrzej-W ... This isn't something that we can address at our level. It has to be handled in a general way for all MS docs, and the MicrosoftDocs repo (such as in the feedback issue that you cross-linked) is the right spot to address it to management and doc system engineers.

[2019-11-22 23:05] #15834 closed

[2019-11-22 23:06] #15728 closed

[2019-11-22 23:09] Andrzej-W commented on #15834
hope dies last :(

[2019-11-22 23:11] guardrex commented on #15834
I wish we could help, but that has to be taken on by that team ... the managers and engineers that control the whole show.

The good news there is that they assigned a PM to look into it ... they didn't just close it. That's a good sign that they'll work on it.

[2019-11-22 23:52] Rick-Anderson opened #15836 "Remove Unit testing C# in .NET Core using dotnet test and xUnit from TOC"
I'm rewriting [Unit testing C# in .NET Core using dotnet test and xUnit](https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-with-dotnet-test?toc=%2Faspnet%2Fcore%2Ftoc.json&bc=%2Faspnet%2Fcore%2Fbreadcrumb%2Ftoc.json&view=aspnetcore-3.0) in https://github.com/dotnet/docs/pull/15954. Once that's complete I'll be adding links to it in our testing doc. This doc doesn't belong in our TO

[2019-11-23 01:59] #15704 closed

[2019-11-23 02:00] #15836 closed

[2019-11-23 04:03] Rick-Anderson opened #15839 "total rewrite: unit test ASP.NET Core apps"
This topic:

* Has high traffic and the lowest CSAT of any high traffic ASP.NET Core doc
* Is highly opinionated
* Does not show how to set up unit tests
* Is far to complex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5cce372-24e2-3489-cb19-c85d934e5d3b
* Version Independent ID: 9d12b19f-a94e-4df4-357b-3f3b93696eb6

[2019-11-23 05:02] ardalis commented on #15839
I’d avoid unit testing controllers entirely. They’re better tested using integration tests, which can verify filters, routes, model binding, model validation, etc.

[2019-11-23 09:55] simonech commented on #11350
@bradygaster I think the problem is still relevant, not same reason tho. `libman` won't install correctly (with the VSCode flow) on MacOS with Catalina. With Catalina, the default shell is zsh, and the dotnet CLI cannot install global tools when using zsh.

[2019-11-23 16:47] MaxMex007 commented on #15486
OpenApiInfo only exists in Swashbuckle.AspNetCore v5.0.0-rc4 which means you need to install a PRE-release version, if you are using the Visual Studio Nuget Manager, then you need to check the "Include prerelease" checkbox.
That's why on the beginning of the post they mention to use the PackageManagerConsole and execute the following line:
Install-Package Swashbuckle.AspNetCore -Version 5.0.0-rc4

[2019-11-23 20:53] Rick-Anderson commented on #15831
@JamesNK  if this is correct, I can fix it.

[code]

[2019-11-24 00:16] bdcoder2 commented on #15781
@guardrex - Thank-you.  I very much appreciate the time you have taken to explain things; and your patience with a newbie such as myself.

As an engineer, let me illustrate the difference between documentation of years gone by compared to today.  Lets pretend 30+ years ago (I know, hard to imagine), ASP.NET Core was released, and I just cracked open the manual entitled "ASP.NET Core 3.0 - Windows"

[2019-11-24 03:12] gopala000 opened #15842 "Guidance needed on session handling"
I see authorization is wrapped by AuthorizeService.js. How do I handle sliding the session when user is using the SPA (silent renew?) and prompt user that session is expiring and log out if there was no activity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 261c9875-3db6-4d30-f9d6-922a9334ecb2
* Version Independent I

[2019-11-24 03:42] BattlefieldHou opened #15843 "Typical MS DOCs: GetJsonAsync"
This error in the example has still not been address.  I have always found Microsoft Docs to be the last resort after StackOverflow has been totally searched and then come here to find nothing ever makes sense or works.  The partial examples and complete lack of flow on how to get examples to work is just so frustrating on almost everything linked to Microsoft Docs.  Sure hope they don't buy Stack

[2019-11-24 11:16] JohnStraumann66 opened #15844 "Error in "Register the database context" step"
This line: services.AddDbContext&lt;TodoContext&gt;(opt =&gt; opt.UseInMemoryDatabase("TodoList")); is giving me an error:

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1061	'DbContextOptionsBuilder' does not contain a definition for 'UseInMemoryDatabase' and no accessible extension method 'UseInMemoryDatabase' accepting a first argument of type 'DbContextOptionsBuilder' c

[2019-11-24 12:26] guardrex commented on #15843
See: https://github.com/aspnet/AspNetCore.Docs/issues/15430#issuecomment-553644665

Since a few developers are hitting this, I'll note it in the topic.

[2019-11-24 12:46] guardrex commented on #15843
The topic tries to explain that it's focused on **_Blazor WebAssembly_** and the experimental package. The second line says ...

... and that link takes the reader over to the topic that they should follow (indeed, where the reader **_won't see_** `GetJsonAsync`).

Now that a couple of these remarks have come in (I think you're the second to ask), I take it that the first two lines introducing the

[2019-11-24 16:41] serpent5 commented on #15705
@Rick-Anderson The new content is specific to 3.0, but this topic hasn't been updated yet. Do you want me to do a 3.0 update first?

[2019-11-24 16:46] ChaosEngine commented on #15152
I try to construct different brach of middlewares for path `/dotnet/` as seen here:
https://github.com/ChaosEngine/Dotnet-Playground/blob/c2c6a6e75a606b49aadb999a72e52e01ebee8ede/AspNetCore.ExistingDb/Startup.cs#L439

[2019-11-24 19:11] gopala000 commented on #10159
Documentation is not updated for .Net Core 3.0. I tried the section "Create full identity UI source". I had to add below line for services.AddIdentityServer() to work (ApplicationUser is my IdentityUser):
           services.AddScoped<IUserClaimsPrincipalFactory<ApplicationUser>,UserClaimsPrincipalFactory<ApplicationUser>();

[2019-11-24 19:22] BattlefieldHou commented on #15843
I think MS docs makes a huge assumption of knowledge when looking at the docs. Even you pointing out the paragraph that should how have redirected me to another page, I’m still not sure why that tells me to leave that example alone and go to another page. I guess I only know enough to be dangerous (and frustrated). Thanks for listening to our feedback though.

My whole objective was to figure out

[2019-11-24 19:23] dhhunter commented on #15653
@jelster I was really frustrated and had a massive migraine when I wrote my last response; hopefully, I will be able to explain a little better this time.  Thanks for getting back to me!

The documentation has the InMemory Database Creation\Seeding being done in the ConfigureWebHost override of the WebApplicationFactory.  So that it gets automatically setup every time the WebApplicationFactory is

[2019-11-24 19:28] guardrex commented on #15843
Yes, I thought that was the case ... it's *earlier* in the coverage.

One has to recognize that Blazor Server and Blazor WebAssembly are **_two different hosting models_** and thus sometimes how to do things will diverge ... in this case, the coverage diverges a lot. In this case, this entire topic is for Blazor WebAssembly. With Blazor WebAssembly, everything here works. When using the Blazor Ser

[2019-11-24 19:41] BattlefieldHou commented on #15843
Thanks. I had read them and watched a ton of videos but didn’t realize I was in webassembly until I downloaded the sample code. I was hoping I could somehow still make it work but as you pointed out, that wasn’t going to happen. I found that page by searching how to do web api through blazor and unfortunately I didn’t get the context of the page as it was standalone. I think that’s typical of MS d

[2019-11-24 19:46] guardrex commented on #15843
I hear u on that, but this isn't my day off. The repo is quiet on the weekends ... MS engineers and docs cats are OOF, and corporate devs around the world are OOF.

🔧 *Finally, I can get some work done around here!* 🔨 :smile:

[2019-11-24 19:59] Rick-Anderson commented on #15705
Yes.

[2019-11-24 20:00] Rick-Anderson commented on #15844
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2019-11-24 20:00] #15844 closed

[2019-11-24 22:06] sdksmm opened #15847 "Fluent API"
This is a good article, however you really need to also inform us how to make relationship between entities using fluent api (inside the dbContext class).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 912ebaa6-721f-c8b3-7b3a-7f16d4c24360
* Version Independent ID: b6135ff6-897f-c5fa-c61d-d9fad4ee9acd
* Content: [Tutori

[2019-11-24 23:19] rynowak opened #15848 "HttpClient Factory docs should talk about CookieContainer"
See: https://github.com/aspnet/Extensions/issues/872

The HttpClient Factory docs don't mention how an instance of `CookieContainer` will be shared across `HttpClient` instances. We should recommend some options about how to use cookies with the client factory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881cef77-11

[2019-11-24 23:28] Rick-Anderson commented on #15847
The Razor Pages is more current.
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-24 23:28] #15847 closed

[2019-11-24 23:29] rynowak opened #15849 "HttpClient Factory docs should talk about alternatives"
We frequently get feedback from users that they want a way to avoid socket exhaustion issues without using HttpClient Factory. We should add information about how to do this to the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881cef77-11ef-ac11-06d0-0996a1ccfa1b
* Version Independent ID: 3d356334-e672-7e8b-1fef

[2019-11-25 00:19] rynowak commented on #15152
Yes, that would work fine then.

Quick sample:

[code]

[2019-11-25 00:56] flagrama commented on #13980
This seems to still be an issue. Just today I was following through this tutorial on Linux and the scaffolding step would not work because this was not installed in addition to the other requirements. Nowhere on the page is this stated that you need to install it as well. I had to look through _closed_ issues to figure out what the issue was.

`dotnet tool install --global dotnet-aspnet-codegenera

[2019-11-25 04:38] Rick-Anderson commented on #13980
@flagrama  how does that differ from the instructions?

[code]

[2019-11-25 05:21] #13980 closed

[2019-11-25 05:22] Rick-Anderson commented on #15849
@rynowak can you provide a draft how to do that?

[2019-11-25 05:24] Rick-Anderson commented on #15848
@rynowak can you provide a draft?

[2019-11-25 05:24] Rick-Anderson commented on #15842
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-25 05:24] #15842 closed

[2019-11-25 08:05] RonakThakkar commented on #10072
I would create a new convention for authentication that applies to all actions. Example - I would like to apply attribute [SwaggerResponse((int)HttpStatusCode.Unauthorized)] OR [ProducesResponseType((int)HttpStatusCode.Unauthorized)] for all actions. Is that possible.

[2019-11-25 10:58] aureole82 opened #15851 "One page query"
Paging at SQL databases is almost like this:
[code]
Both statements result in database queries. Depending on the query (including `JOIN`s, `WHERE`s, ...) both database queries may last very long.
*What if EntityFramework Core introduces a `PaginatedList<T>` construct which will be populated by a single database query?*

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-11-25 11:13] philip-reed opened #15852 "EventSource vs EventLog"
This page states that calling CreateDefaultBuilder will add EventSource & EventLog, but the documentation for CreateDefaultBuilder states that only EventSource is added.

I cant get my app writing to the event log unless I explicitly call .AddEventLog() :

    public static void Main(string[] args)
    {
        CreateHostBuilder(args).Build().Run();
    }

    public static IHostBuilder CreateHos

[2019-11-25 11:31] aureole82 commented on #15851
On SQL Server I reduced the execution time from 3+8 seconds (`COUNT` and `SELECT ...` statements) to 7 seconds using [common table expression](https://docs.microsoft.com/en-us/sql/t-sql/queries/with-common-table-expression-transact-sql):
[code]

[2019-11-25 13:06] kjpou1 commented on #15555
Am thinking this really is not a mono bug here.  I think the problem is that the AspNetCore is still passing the value of FetchCredentialsOption from their implementation instead of from the WebAssembly Http Message Handler.  Could someone verify that from your side?

[2019-11-25 13:13] kjpou1 commented on #15555
Or maybe I am misunderstanding the current functionality.  Could someone explain this or provide a repro with example?

[2019-11-25 14:13] guardrex commented on #15852
Hello @philip-reed ... On Windows for the Generic Host, it's added ...

https://github.com/aspnet/Extensions/blob/ef5d488c054c3aa850c29c10d851fcdc8a004eed/src/Hosting/Hosting/src/Host.cs#L113

However, with the Web Host, it's not added ...

https://github.com/aspnet/AspNetCore/blob/1480b998660d2f77d0605376eefab6a83474ce07/src/DefaultBuilder/src/WebHost.cs#L155-L206

When you set the topic version

[2019-11-25 14:44] guardrex opened #15853 "Alignment on underscores in Blazor examples"
It looks like we won't have complete alignment between engineering and docs on explicit use of the `private` access modifier. Templates do it now, but engineering samples often (perhaps usually) don't. It's consistently in use now in the docs.

Next question is on underscores for private fields:

https://github.com/aspnet/AspNetCore/wiki/Engineering-guidelines#coding-style-guidelines--general

* E

[2019-11-25 16:44] Soundman32 commented on #13553
XML Schema namespaces are not necessarily web URLs, they are just meant to be 'globally unique'.  One of the easiest ways to do this is to look like a web url, but that doesn't mean there has to be a document at that location. https://www.liquid-technologies.com/xml-schema-tutorial/xsd-namespaces

[2019-11-25 16:48] SteveSandersonMS commented on #15555
@kjpou1 As far as I can tell, the current version of Mono doesn't provide any per-request way to set a credentials option. The credentials option is always set to the value of the globally static `DefaultCredentials` property: https://github.com/mono/mono/blob/5d981c267981505f425826ae0a3cc79dd08ecde4/sdks/wasm/framework/src/WebAssembly.Net.Http/WasmHttpMessageHandler.cs#L76. Do you think at some p

[2019-11-25 17:06] rynowak commented on #15849
I sent a PR 😁

[2019-11-25 17:07] rynowak commented on #15848
I sent a PR 😁

[2019-11-25 17:15] guardrex commented on #15555
... and it looks like setting the referrer here was also dropped at some point since the topic was written. I'll 🔪 that, too.

https://github.com/aspnet/AspNetCore/blob/master/src/Components/test/testassets/BasicTestApp/HttpClientTest/HttpRequestsComponent.razor

[2019-11-25 17:28] Rick-Anderson commented on #15851
@tdykstra would should consider cutting sorting, filtering, and paging -

That's pure EF and not a core area for ASP.NET Core to document.

@aureole82  we're a doc team for ASP.NET Core. You'd probably have better luck at StackOverflow.

[2019-11-25 17:28] #15851 closed

[2019-11-25 18:29] aguacongas commented on #15555
@SteveSandersonMS you're right, it's not a workaround anymore since 3.1-preview3. This issue was open before.

[2019-11-25 18:55] #14000 closed

[2019-11-25 19:11] v-maudel opened #15858 "有一处错误"
Text below was machine translated
@import1bones commented on [Sun Nov 24 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/220)
In the Add Database Context item, the highlighted part in Startup.cs has errors. The highlighted part should be
services.AddDbContext <TodoContext> (opt => opt.UseInMemoryDatabase ("TodoList"));
Instead of opt.UseInMemoryDatabase ("TodoList")); services.AddCont

[2019-11-25 19:12] #15858 closed

[2019-11-25 19:13] scottaddie commented on #15678
I'm going to start working on this doc now.

[2019-11-25 19:13] v-maudel commented on #15858
No action needed

[2019-11-25 19:18] guardrex commented on #15678
Destination confirmed live at ...

[code]

https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#integrate-components-into-razor-pages-and-mvc-apps

... and there will be significant enhancements coming soon to cover hybrid apps. For now tho ... for this issue, you're good to link there. The Component TH is covered at 3.1 today.

[2019-11-25 20:42] #15849 closed

[2019-11-25 21:00] kcharris opened #15859 "Scaffold not working"
After doing the "Scaffold movie pages" section I am unable to access the Movie routes. When I inspect the page and select Movie app it shows the href is empty without a tailing = sign, accessing the routes through url also does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d975a83-1550-b284-d0d8-7fe2ea206ff

[2019-11-25 21:07] Rick-Anderson commented on #15859
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2019-11-25 21:07] #15859 closed

[2019-11-26 00:37] guardrex opened #15863 "Activate Blazor Server VS4Mac Get Started guidance"
Works now for Blazor Server only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version Independent ID: 8226ed72-69b2-3c93-a931-218bd11cf9c8
* Content: [Get started with ASP.NET Core Blazor](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=

[2019-11-26 00:39] guardrex opened #15864 "[3.2] Update Blazor VS4Mac guidance"
Not available yet in the VS4Mac UI.

Include:

* https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-blazor-webassembly
* https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/

**WORK WITH https://github.com/dotnet/AspNetCore.Docs/issues/18261, which covers ASP.NET Core topics.**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-11-26 05:08] #9740 closed

[2019-11-26 05:08] #12115 closed

[2019-11-26 05:08] #12306 closed

[2019-11-26 05:36] Rick-Anderson commented on #137
@pranavkm  @danroth27  closing given we'll never have the cycles to write this.

[2019-11-26 05:36] #137 closed

[2019-11-26 05:39] Rick-Anderson commented on #620
We sort of have this in the series at https://docs.microsoft.com/en-us/aspnet/core/migration/proper-to-2x/

cc @scottaddie

[2019-11-26 05:39] #620 closed

[2019-11-26 05:41] Rick-Anderson commented on #8713
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-26 05:41] #8713 closed

[2019-11-26 05:44] Rick-Anderson commented on #7749
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-26 05:44] #7749 closed

[2019-11-26 05:46] Rick-Anderson commented on #7590
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-26 05:46] #7590 closed

[2019-11-26 05:55] Rick-Anderson commented on #11769
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-26 05:56] Rick-Anderson commented on #11700
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-26 05:56] #11700 closed

[2019-11-26 05:56] Rick-Anderson commented on #11699
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-11-26 05:56] #11699 closed

[2019-11-26 06:11] Rick-Anderson opened #15866 "PR and Issue review may be delayed over U.S. Thanksgiving"
This Thursday (November 28) and Friday (November 29) are holidays for the ASP.NET  Core content team members in the United States. Many of the team members are also taking vacation during this week.

The result is that PR reviews / merging, and Issue response may be delayed during this week and the upcoming weekend.

[2019-11-26 06:16] #11801 closed

[2019-11-26 09:02] jwisener opened #15869 "no support for jsonconstructor"
currently the swagger cannot be generated for immutable objects that are utilizing [jsonconstructor] attribute

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2483813a-3c16-7ddd-3160-43e6843b55d4
* Version Independent ID: 25f7fb5b-92b0-a45b-57ab-fdceab571884
* Content: [Get started with NSwag and ASP.NET Core](https://d

[2019-11-26 12:54] lukepuplett commented on #14455
Excuse me if I'm way off chipping into this conversation here.

Perhaps another MS team that confusing everything by bringing Microsoft accounts and OpenID into some kind of Microsoft "identity platform" and bringing the AD brand into the fold. I complained recently about all this.

https://github.com/MicrosoftDocs/azure-docs/issues/43056#issuecomment-555506355

[2019-11-26 13:17] Tariq12010 opened #15870 "Awaitable Extension of partial method of Html helper"
[Enter feedback here]
when we mouse hover over the method of HTML.RenderpartialAsync .  why  it say that  awaitable? as we can't use await with that method ,like we do for PartialAsync method. i think render partial dosn't return anything. its void.  but here what mean awaitable ?

 @{
        @await Html.PartialAsync("_FirstPartialView")
    }
    @Html.RenderPartialAsync("_FirstPartialView");
--

[2019-11-26 13:42] Errors4l opened #15871 "Emphasis on SharedResource class definition"
This might just be a me problem, but I had a hard time getting data annotations to work using the DataAnnotationLocalizerProvider option. The factory requires a type definition and I was trying to use the backing resources class (`Data.resx` & `Data.Designer.cs`) for this. None of my data attributes were getting localized: the resulting value was simply the value of the Name attribute.

I later ha

[2019-11-26 14:09] lukepuplett opened #15872 "Please discuss authentication schemes and logging/debugging problems"
Thanks for this article, its really welcome.

In total I've spent weeks "fighting" with the Identity framework and have found it much easier in past years to write the OAuth middleware myself, from scratch. Sadly on this project I've sunk cost into ASP.NET Core Identity.

 - I think setting DefaultChallengeScheme is confusing because most people will be supporting more than one social login IDP, w

[2019-11-26 14:16] Stiles-X commented on #14754
Yes, you can

[2019-11-26 14:51] guardrex commented on #12617
@SteveSandersonMS Quick ? for this issue that I hope to resolve today ...

For enabling/disabling the submit button based on validation, do you find something similar to @PeterHimschoot's *Attempt 2* ([blog post](https://blogs.u2u.be/peter/post/disabling-the-submit-button-in-blazor-with-validation)) acceptable for the *Forms and Validation* topic?

[2019-11-26 15:12] damienbod commented on #14455
here's the ASP.NET Core issue which covers this as well

https://github.com/aspnet/AspNetCore/issues/10037

[2019-11-26 15:29] bernatgy commented on #8434
I have the same problems as @Scobiform. This "version" of Identity is completely confusing. Even the docs. In my opinion docs SHOULD NOT start with the assumption that everyone wants to start using it with a whole bunch of abstract default settings, Entity Framework, MVC and whatnot. I've only just started researching because I want to implement something super simple, and I've already been readin

[2019-11-26 15:41] StefanSchoof opened #15873 "Poweshell Snipet to download and install dotnet-hosting"
In this documentation is only the way to download and install the dotnet-hosting with many manual step explained. Is there any Powershell snippet that download and installs a dotnet hosting on a windows server? Trying this is seems unnecessary hard. The real download URL is hidden on a webpage, the installer is not waiting until the installation is finished. I assumed there would be an easier way,

[2019-11-26 16:02] guardrex commented on #15873
Hello @StefanSchoof ... It was discussed on https://github.com/aspnet/AspNetCore.Docs/issues/14520, and the verdict from engineering is to use the Custom Script Extension with Azure VMs. Of course, that's an Azure thing, so it's not going to help everyone. That's as far as engineering would like to go at this time with the official docs, but I'm sure that they're keeping an :ear: open for more fee

[2019-11-26 16:06] forsyth commented on #137
sorry, I forgot to reply. Unfortunately the view engine I wrote was done as part of a contract for someone else, so it's not mine to make visible.

[2019-11-26 16:12] rleath82 opened #15874 "Select All Checkboxes"
Is there a way to use a "select all" checkbox for a list of checkboxes using C# instead of JavaScript?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884-c1fe5c2ef52d
* Version Independent ID: 09a02d10-2834-467d-d8c2-3fd19ceb3863
* Content: [ASP.NET Core Blazor forms and validation](https://docs.mic

[2019-11-26 16:24] StefanSchoof commented on #15873
Thanks, for the quick reply and to clearly that there is no support for a official script.
I am on azure and like to use the Custom Script Extension, but simple say, write your own script it is not what I expect in the highly automation focus world. And I a little disappointed that the installer does not wait. This are unnecessary barriers.
(I understand your point of view, but I needed to express

[2019-11-26 16:28] guardrex commented on #15873
@joeloff ... a report here that the hosting bundle installer script isn't behaving as @StefanSchoof expects. @StefanSchoof, you'll probably need to elaborate on what you mean by "is not waiting until the installation is finished." Explain in details what the behavior is.

[2019-11-26 16:36] guardrex commented on #15874
As you see today, only  a single checkbox has framework support with the `InputCheckbox` component.

Explore blog posts, SO, chat, etc. to see if you can find an example.

If you wish to provide product feedback directly to the engineers, you can open an issue on their repo :point_right: https://github.com/aspnet/AspNetCore/issues

[2019-11-26 16:36] #15874 closed

[2019-11-26 17:09] Rick-Anderson commented on #15532
@hishamco  please review.

[2019-11-26 17:09] StefanSchoof commented on #15873
I have this script:
[code]
And if I do not have the Start-Sleep in there the `net stop was /y` will executed right after the installation starts and not wait until the installer has finished.

[2019-11-26 17:10] Rick-Anderson commented on #15871
@hishamco  should we add a comment? It's clearly an empty class

[code]

[2019-11-26 17:14] guardrex commented on #15873
Oh ... I see what you mean. Nevermind @joeloff ... this is a custom solution issue.

@StefanSchoof, ask on SO or chat. I'm not familiar with running (and then waiting on) an installer like that (never had to do it before). I'm sure that on chat or SO that you'll find a PS guru (*or several*) who can help.

[2019-11-26 17:14] #15873 closed

[2019-11-26 17:25] #15506 closed

[2019-11-26 17:31] Rick-Anderson commented on #137
@forsyth  thanks for the response. Can you share general reasons they needed a custom view engine?

[2019-11-26 18:35] CeciAc opened #15877 "Static resource handling"
Hi team,
I moved this from here: https://github.com/aspnet/AspNetCore.Docs.pl-pl/issues/19

@it-xtech-dev commented 3 hours ago
For core 3.0 there are some mentions about serving static assets - here i cannot find any. Can you provide some examples how to solve this issue?

I have used this approach: https://stackoverflow.com/questions/51610513/can-razor-class-library-pack-static-files-js-css-etc-

[2019-11-26 18:46] Rick-Anderson commented on #15872
@HaoK  @guardrex  can you respond?

[2019-11-26 19:15] sarathlalsaseendran opened #15878 "Can we change the login page to Razor components instead of ASP.NET Core MVC area"
While creating a Blazor project with individual user account authentication, it is noticed that login page is still created as ASP.NET Core MVC area instead of Blazor component. Can we expect razor component template in coming days?. I feel that would be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9942b0a-a7

[2019-11-26 19:16] guardrex commented on #15872
Are you saying that ordinary logging wasn't helpful enough? I just ran the Social Auth Additional Claims sample with this in the *appsettings.Development.json* file ...

[code]

`Error` for everything else to suppress most of the chatter from the app. I ran the app and went to do a Google sign in. I did get a lot of good info logged out (the ASP.NET Core side of the *OAuth dance*. 💃

For the thing

[2019-11-26 19:27] guardrex commented on #15878
Hello @sarathlalsaseendran ... This is a duplicate of https://github.com/aspnet/AspNetCore.Docs/issues/13062, and we'll be taking a look at that soon. I don't have any info at the moment on their design plans in this area, but you could search the engineering repo to see what's there. Here's the direct link to Blazor issues ...

https://github.com/aspnet/AspNetCore/issues?q=is%3Aopen+is%3Aissue+la

[2019-11-26 19:27] #15878 closed

[2019-11-26 19:29] guardrex commented on #15878
Here's an example ... this pertains to that subject:

https://github.com/aspnet/AspNetCore/issues/10883

[2019-11-26 19:30] guardrex commented on #13062
Note to self: https://github.com/aspnet/AspNetCore/issues/10883

[2019-11-26 19:31] guardrex commented on #15878
More related info here :point_right: https://github.com/aspnet/AspNetCore/issues/5474

[2019-11-26 19:50] Rick-Anderson commented on #15872
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-11-26 19:50] #15872 closed

[2019-11-26 19:53] scottaddie commented on #15870
The `RenderPartialAsync` method returns a `Task`, and you can use it as follows:

[code]

Here are some related resources:

* API ref page: https://docs.microsoft.com/dotnet/api/microsoft.aspnetcore.mvc.rendering.htmlhelperpartialextensions.renderpartialasync
* Asynchronous HTML Helper docs:
https://docs.microsoft.com/aspnet/core/mvc/views/partial?view=aspnetcore-3.0#asynchronous-html-helper
* Sou

[2019-11-26 19:53] #15870 closed

[2019-11-26 20:26] khrismuc opened #15879 "Minor issue with JavaScript file path"
The instructions say to create a file called site.js in the wwwroot folder, but the HTML file expects site.js to be in a subfolder called "js". This stumped at least one person, as can be seen here: https://stackoverflow.com/questions/59033612/how-do-i-solve-the-referenceerror-in-my-api-calls-from-my-ui

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-11-26 20:32] scottaddie commented on #15879
Closing as a duplicate of https://github.com/aspnet/AspNetCore.Docs/issues/14620. I'll address the issue over there right now.

[2019-11-26 20:32] #15879 closed

[2019-11-26 21:28] owlyowl commented on #15746
@Rick-Anderson sorry that doesn't seem to work

[2019-11-26 21:33] lukepuplett commented on #15872
Thanks for the helpful logging config snippet. I'm not able to see anything useful.

[code]

I don't really see a great deal more than usual, tbh.

My logs read like so from the moment of handling the redirect back from the Yahoo IDP to the moment my call to `GetExternalLoginInfoAsync()` returns `null`.

[code]

It might be worth calling out this issue. I'm still on 2.2 so either my logging config

[2019-11-26 21:36] lukepuplett commented on #15872
To be honest, I wasn't looking to take advantage of you to get support. I was really feeding back about the docs failing me ...in my time of need ;)

I can just post on SO or perhaps even compile my own auth DLL and step through.

[2019-11-26 23:08] #15546 closed

[2019-11-26 23:09] #15652 closed

[2019-11-26 23:36] hishamco commented on #15871
Good idea, also we should mention that in the docs if it's not there yet, that the purpose to group the shared resources. IMHO a note block is preferred here

[2019-11-26 23:52] krchome opened #15882 "Complete Code for ListView Templated Components"
Here is my completed working solution to above:
Following on Templated components, I created,
ListViewTemplate.razor:
@typeparam TItem

&lt;ul&gt;
    @foreach (var item in Items)
    {
        @ItemTemplate(item)
    }
&lt;/ul&gt;

@code {
    [Parameter]
    public RenderFragment&lt;TItem&gt; ItemTemplate { get; set; }

    [Parameter]
    public IReadOnlyList&lt;TItem&gt; Items { get; set; }
}

[2019-11-26 23:57] guardrex commented on #15882
Thanks @krchome.

[2019-11-26 23:57] #15882 closed

[2019-11-27 00:56] #13757 closed

[2019-11-27 00:57] #15863 closed

[2019-11-27 01:00] stephenhauck opened #15883 "WOW .. just WOW ....."
You should simply have to open, update NuGets and rebuild all .. this is a VERY TROUBLING DIRECTION!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76f39eec-9dd1-6167-56ec-47b26e0b5063
* Version Independent ID: f9f2b0f3-01eb-cf58-8767-194fe0fc0e44
* Content: [Migrate from ASP.NET Core 2.2 to 3.0](https://docs.microsoft

[2019-11-27 01:46] Rick-Anderson commented on #15883
Thanks for the comment.

[2019-11-27 01:46] #15883 closed

[2019-11-27 01:48] Rick-Anderson commented on #15871
@hishamco  would you like to PR this?

[2019-11-27 01:52] scottaddie opened #15884 "Update 3.1 migration doc version numbers for RTM"

[2019-11-27 01:55] #15678 closed

[2019-11-27 02:17] Rick-Anderson opened #15886 "Add SLN file to download"
So VS opens them and allows testing from VS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ae5984-32b1-13b6-7430-6a28460b42ce
* Version Independent ID: 20dc0e1d-d582-c091-8243-cefbb1825397
* Content: [Razor Pages unit tests in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/test/razor-pages-tests?view=aspn

[2019-11-27 02:26] Rick-Anderson commented on #15839
@ardalis  there is a place for unit tests. https://github.com/aspnet/AspNetCore/tree/master/src is full of them.

[2019-11-27 02:31] #14620 closed

[2019-11-27 03:15] #15817 closed

[2019-11-27 03:32] hishamco commented on #15871
Sure

[2019-11-27 03:41] hishamco commented on #15871
@Rick-Anderson I think it's already mentioned in the docs

[2019-11-27 05:37] TheMadComputerScientist opened #15889 "Explicit Installation of dotnet ef tool"
According to an announcement from back in April the dotnet ef tool is no longer is no longer part of the .NET Core SDK. The tutorial should be updated to specify the explicit install of the dotnet ef tool before attempting to use the EF Core Migration feature.

dotnet tool install --global dotnet-ef --version 3.0.0
Announcement Reference: https://devblogs.microsoft.com/dotnet/announcing-entity-fra

[2019-11-27 06:54] #15871 closed

[2019-11-27 06:56] Rick-Anderson commented on #15889
That's what it says

[code]

[2019-11-27 06:56] #15889 closed

[2019-11-27 09:51] Errors4l commented on #15871
Thank you for your quick replies. @Rick-Anderson, I do feel like this issue was closed too soon, as I think there still seems to be something lacking in the documentation.

@hishamc I think the section you're referring to is [Resource file name](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.0#resource-file-naming). It describes that a resource file name a

[2019-11-27 11:01] forsyth commented on #137
It's a radically different language: it has two levels. There is an applicative level that defines or generates trees with rules of the form
Top = Head(head_title); AppleTouch; Meta; Analytics(ua_code, gtm_code); attached("stylesheets");
	Body;
		Tagstuff(gtm_code);
		header.template@(header...),
		Main("homepage-main", Content(content));
		footer.template@(footer...),
		attached("scripts");
	End

[2019-11-27 11:05] forsyth commented on #137
I'm not sure why I did a whole View Engine for it at the time, instead of just producing the HTML as a string, and handing that to the ASP.NET stack to send out.

[2019-11-27 11:39] guardrex commented on #15886
It does it all by itself ... there's no need for this.

[2019-11-27 11:45] hishamco commented on #15871
No, there's paragraph mentioned that the `SharedResource` is a dummy class ..

At the end if the namespace is wrong - which is possible - I will have a final look today

[2019-11-27 15:11] ardalis commented on #15839
Of course - they're testing the framework. Folks building apps on the framework should be testing their application logic. I've done it both ways and found that with the great integration/functional testing capabilities of ASP.NET Core you get better tests that run almost as quickly [by testing endpoints](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.0#basic

[2019-11-27 15:13] vletoux opened #15893 "Speak about dotnet core update"
When the dotnet core is updated with minor version and if the service has not been restarted and if a new dll of the framework is loaded, an exception can occur: System.IO.FileNotFoundException
The cause is that the application (in memory) tries to load a dll of the previous dotnet core version. which does not exists anymore

A service (the one you configure it) restart fixes the problem.

Why am

[2019-11-27 15:21] guardrex commented on #15893
@shirhatti Should we say in the *Additional Suggestions* section to restart the server whenever the runtime is updated? It's a rather common server scenario tho ... restarts are usually required (in my experience) in server scenarios with updated software of any kind.

[2019-11-27 15:44] StefanSchoof commented on #15873
You are right this was simple. With fresh start I got:
[code]

Thanks for your help and sorry to bother you with this.

[2019-11-27 15:48] guardrex commented on #15873
No worries. You definitely aren't the first person to ask about this ... you're like the ~6 person to ask me over the past few years. If the engineers/managers get more feedback that something formal should be done (especially with the installer itself), I'm sure they'll take that up at some point.

[2019-11-27 15:57] DrGriff opened #15894 "Component parameters: is "MouseEventArgs e" recommended."
In the section on Component Parameters, you show the button click event handler having the signature:

private void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blaze a new trail with Blazor!";
    }

My question is whether `MouseEventArgs e` recommended?  I've found it works without any parameters `private void ShowMessage()`.  In the example you've show, you're not consuming `e` an

[2019-11-27 16:03] DrGriff commented on #15894
Ah: "If access to one of these event types isn't necessary, it isn't required in the method call."  Guess that answes that...

[2019-11-27 16:05] guardrex commented on #15894
That's reasonable, but I lean in the direction of using `e` there. It demos a concept coming up later in the page for these event argument types (which you just saw :point_up:).

I'll make a change for this ... probably use `e`. If not tho, then I'll 🔪 that there as unnecessary to make this concept (parameters) clear.

Thanks for asking. No need to close this ... this issue will automatically clos

[2019-11-27 16:23] unionthugface opened #15895 "3.1 update: Areas"
These instructions do not work for .NET Core 3.0.  There is no more `app.useMVC`.  Please instruct how to do this with endpoints and/or `AddControllersWithViews`.  Thank you.

@Rick-Anderson  edit: 10K PV

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50249794-b4be-a6aa-d7b3-b3918eb282bf
* Version Independent ID: 39d98

[2019-11-27 16:33] benjamin-morris-91 commented on #15702
It is in the doc, but I missed it my first time through as well. Thanks for pointing it out.

[2019-11-27 16:51] jelster commented on #15653
Thanks for sharing your approach. It seems solid - I wouldn't spend all that much time worrying about your approach vis a vis factoring the database seeding code into a separate method. It seems like it leads to an improvement in the design since you can now easily make changes to those two areas without necessarily affecting the other.

@guardrex -- it sounds like docs updates to address ManyServ

[2019-11-27 18:16] yakeer opened #15896 "Implementing AddApiAuthorization with database for IdentityServer4 objects"
Hey,
I've tried to implement the AddApiAuthorization extension alongside with saving the IdentityServer4 objects, but with no luck.

Is it even possible?
It seems like it's always taking the Resources (and other objects) from the InMemory storage.

Would appreciate any reference for this.

[2019-11-27 18:23] yakeer commented on #12727
In fact, it happens to me as well,
After I deploy a new version, and I relogin, I get 401 error for every request I send using the new token.

For a strange reason, it happens only on production, and not in development mode.
If anyone has succeeded to figure this out, I would really appreciate his help.

[2019-11-27 18:30] shirhatti commented on #15893
Before we make any changes to the document I want to understand the scenario and currently I don't follow the issue filed.

@vletoux Can you please elaborate or more provide more detailed repro steps?

What version did you upgrade from? And what version did you upgrade to?
Additionally, what was the assembly that failed to load? Is it part of the shared framework?

[2019-11-27 18:58] shirhatti commented on #15893
I see what's happening now. I assume you updated from 3.0.0 to 3.0.1?

[2019-11-27 19:05] vletoux commented on #15893
Not at all
I ran apt upgrade to update from 2.1.x to the latest 2.1.x
Then I didn’t restart the application.
A while later I tried to call the API.
It was not working.
I looked at the log and found the file not found exception that I can reproduce.
Then restarted the application which fixed the problem.
I can copy paste the whole exception but this has nothing with the root cause.

[2019-11-27 19:43] Rick-Anderson opened #15898 "Offline book Q2 release"
Review offline

[2019-11-27 20:04] sishik1 commented on #9664
There is a key part that's missing in order for this to work with ASP .NET. The dataProtectorType in web.config file needs to be "Microsoft.AspNetCore.DataProtection.SystemWeb.CompatibilityDataProtector, Microsoft.AspNetCore.DataProtection.SystemWeb". Once it's set, it will call the startup class.

[2019-11-27 20:17] kthayer424 opened #15899 "Requesting documentation on the <OpenApiReference /> element"
I see a reference to `<OpenApiReference />` in this document https://docs.microsoft.com/en-us/aspnet/core/web-api/microsoft.dotnet-openapi?view=aspnetcore-3.0#add but there's no real specifics as to what the settings are for it. I see ClassName OutputPath SourceUri and Options and least as sub elements but I'm not seeing any description for them, like what the full set of options are.

[2019-11-27 20:29] guardrex commented on #15899
Hello @kthayer424 It's best if you open issues from the **This Page** feedback button/form at the bottom of the topic. It automatically pings the author. I'll add the metadata to your opening remark.

[2019-11-27 20:56] tpitman opened #15900 "Need to involve a function that is added at runtime, but getting a failed to compile error."
I have a asp.net core 3 react redux template based app.

I am using this app from a mobile app that knows how to inject javascript functions into the webview in order to interact between native C# code and the webview javascript code.

In order to do this I need a global method that the rest of the pages javascript can access that inside of it can then call the injected javascript from the mobile

[2019-11-27 21:07] Rick-Anderson commented on #15898
Completed and passed.

[2019-11-27 21:07] #15898 closed

[2019-11-27 22:00] unionthugface opened #15901 "Code for implementing into new RazorPages project shows "app.UseMvc" in Configure section"
Should show app.UseEndpoints instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 804e24dd-7e30-8cf5-2c99-1ffacb4582f6
* Version Independent ID: 3e25547b-e2c9-6634-2c38-2a77207f17d4
* Content: [Scaffold Identity in ASP.NET Core projects](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-id

[2019-11-27 22:24] Gobbeldygook opened #15902 "Not updated to VS 2019 & 3.0"
Nobody has done their homework here. It's just assume the VS 2017 instructions! With VS 2019 it has a "Get Started" page which isn't like VS 2017! The choices you have started are "Clone or check out code", "Open a project or solution", "Open a local folder" or "Create new project". THEREFORE, the steps you have at the start cannot go in that order! These instructions should be redone & validated,

[2019-11-27 22:25] sergtk opened #15903 "File type for listings"
Since this is a tutorial, please clarify what you mean in the code listing. Two times you first refer to .razor file, then just above the listing you title it as CSHTML. Is the code in the listing should be in .razor-files or in .cshtml-files?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc28995-6784-a7d2-5c0b-9811a

[2019-11-27 22:29] guardrex commented on #15903
Hello ... that's because we don't have a "razor" code block designation yet. Razor components are written with Razor syntax but have a *.razor* file extension. I'll take a look at the way these files are described and see what can be done here. btw - We just put up a topic to describe the files in the template. That may assist you in understanding the anatomy of a Blazor app.

https://docs.microso

[2019-11-27 22:36] Rick-Anderson commented on #15901
Dup of #10159

[2019-11-27 22:36] #15901 closed

[2019-11-27 22:51] guardrex commented on #15903
@scottaddie Was the code language name "razor" approved, or is that still in the works?

[2019-11-27 22:59] shirhatti commented on #15893
It was pointed out to me that I missed the fact that you're on Linux.

Yes, what you've observed can happen if your application attempts to load assemblies in a shared framework. Unfortunately, the only foolproof way of ensuring this doesn't occur is restarting any dotnet application that might have relied on the prior shared framework.

@guardrex You don't require a system reboot. Just need to re

[2019-11-27 23:41] guardrex commented on #15903
I *guess* we're approved to use the "razor" code language now ... going by the build system not choking on it anyway :point_up:.

I'll use this issue to track updating *ALL* of the Blazor topics. Thanks again @sergtk for asking.

[2019-11-27 23:54] Rick-Anderson opened #15905 "Fix all 937 warnings in AspNetDocs repo"

[2019-11-28 00:11] #15905 closed

[2019-11-28 00:18] Rick-Anderson commented on #15900
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-28 00:18] #15900 closed

[2019-11-28 00:20] Rick-Anderson commented on #15896
I'd ask the IdentityServer4  folks

[2019-11-28 00:20] #15896 closed

[2019-11-28 00:22] Rick-Anderson commented on #15869
@jwisener Is this just a comment for discussion or is there something wrong with the doc?

[2019-11-28 00:23] Rick-Anderson commented on #15902
![image](https://user-images.githubusercontent.com/3605364/69767672-730c4b80-1121-11ea-99b6-e59ea3592811.png)

[2019-11-28 00:45] jwisener commented on #15869
Hi @Rick-Anderson

Thanks for responding, greatly appreciated.

I feel the doc should clarify and state there is no current support for people trying to use this for swagger generation using [jsonconstructor].   Even though json.net has this feature and it works properly in deseralization for a given api/.net core project. The Swagger generation of the models for operations involving a request par

[2019-11-28 00:58] Rick-Anderson commented on #15869
@scottaddie do you want to update this?

[2019-11-28 02:37] alvipeo opened #15906 "How to configure Plain text Input formatter in Razor Pages 3.0?"
I have a plain text formatter, but how do I configure Razor pages? Or should I just use MVC?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2207f37-0cf3-3ab9-add8-c50c36409b53
* Version Independent ID: df89a2fd-501e-c917-2962-e4d8d124e852
* Content: [Custom formatters in ASP.NET Core Web API](https://docs.microsoft.co

[2019-11-28 03:36] Rick-Anderson commented on #15906
This topic is for Web API's, not UI.

[2019-11-28 08:48] Svetomechc commented on #12727
@yakeer this happens to me to, by the way, and I haven't found a solution. But I've found a workaround:

![image](https://user-images.githubusercontent.com/36156020/69791096-d99e7180-11d4-11ea-8d02-9609e1a80816.png)

**authorize.interceptor.ts**
[code]

[2019-11-28 13:00] manonash opened #15908 "Edit a Razor Page"
The instruction says to "save the page with the following highlighted markup" -- but I have no idea where to *put* said markup. I see nothing on the existing page that matches the code surrounding the line to be pasted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca6139d4-022c-395a-0abf-539660550df1
* Version Indepe

[2019-11-28 14:06] santarede commented on #15908
Simple add the line before </div>.

[2019-11-28 16:23] sergtk commented on #15903
@guardrex IMHO the issue with the page https://docs.microsoft.com/en-us/aspnet/core/blazor/index?view=aspnetcore-3.0 is deeper. In fact, I can't get the example working. Note, this is for a newbie for the technology. It would be good if some expert checks the info on the page. And either fix the errors or add a description so it would be easier to use by newbies.

E.g. as for now I use `Index` wit

[2019-11-28 17:19] Rick-Anderson commented on #15908
Thanks @santarede

[2019-11-28 17:19] #15908 closed

[2019-11-28 17:21] guardrex commented on #15903
Don't start with this page other than just for a general overview of Blazor. This page isn't designed to get you started ... it's truly just a broad overview.

I can see what you mean tho ... you see these code examples and expect to be able to immediately drop them into an app and have them work, but that's not the case. These are just code examples for developers coming in with some experience w

[2019-11-28 19:09] DevOpsFounder opened #15909 "A step-by-step tutorial with deployment to Azure App service"
**I created this video as step-by-step with animated workflow, it can help many people**
This video will show step-by-step ASP.NET Core development with Deployment to Azure
https://www.youtube.com/watch?v=1QVRe7UHaro
![ASP NET And Entity Framework With Azure](https://user-images.githubusercontent.com/14263956/69832613-3dea2100-1227-11ea-9575-64aab6f03466.gif)

[2019-11-28 23:56] Allann commented on #13920
Any news on this?  The doc says to look at this issue for dates but nothing is mentioned

[2019-11-29 00:00] Allann commented on #13920
As an aside, the page mentions:

This goes against many demos from recent conferences, that mention "Razor Pages are great for demos but not large LOB sites".

Could you please clarify why razor pages are better?

[2019-11-29 06:23] randyramig opened #15910 "Why is Microsoft telling me to install an unsigned app and give it admin priveleges?"
This app requires admin to install and is not signed.  Let's fix that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2483813a-3c16-7ddd-3160-43e6843b55d4
* Version Independent ID: 25f7fb5b-92b0-a45b-57ab-fdceab571884
* Content: [Get started with NSwag and ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tuto

[2019-11-29 07:53] wangxin12 opened #15911 "JS client don't add token to query string with accessTokenFactory"
"In standard web APIs, bearer tokens are sent in an HTTP header. However, SignalR is unable to set these headers in browsers when using some transports. When using WebSockets and Server-Sent Events, the token is transmitted as a query string parameter."

Describe the bug
token is not transmitted as a query parameter to the backend. I am using @aspnet/signalr 1.1.4

To Reproduce
this.connection = n

[2019-11-29 10:44] zdenek-jelinek commented on #14156
I would like to second this request, especially with focus on the StopAsync task.
If the understanding is that the returned Task represents the stopping operation, a successfully completed task should be returned when stopping is successful and canceled task should be returned if the stopping is canceled.
This behavior is not explicit in any of the samples and the source for BackgroundService uses

[2019-11-29 11:23] 1993Saurabh opened #15912 "Authenticate two or more web APIs from ADB2C"
[EDIT by guardrex to add the metadata]

Hi,

So my scenario is related to the authentication of two or more web APIs from the same ADB2C MVC Web App.

I have created two web apis in Azure ADB2C and granted permissions of both the web apis into ADB2C MVC web app. However whenever I tried to obtain the access token, it is giving me the access token for one web api but not giving the access token for

[2019-11-29 12:47] haugan opened #15913 "How would one implement the custom IdentityUser in the IdentityDbContext?"
[EDIT by guardrex to add the metadata]

I'm trying to write a custom user class for ASP.NET Identity with the minimum required properties Id, and UserName, and implementing by feeding it as TUser parameter to IdentityDbContext. I get this error though:  CS0311: The type 'Models.CustomUser' cannot be used as type parameter 'TUser' in the generic type or method 'IdentityDbContext<TUser>'. There is n

[2019-11-29 13:00] guardrex commented on #15912
Hello @1993Saurabh ... It's best if you use the **This Page** feedback button/form at the bottom of a topic to open a new issue. It will automatically ping the author of the topic when you open an issue that way. No worries tho ... I'll paste in the metadata to your opening comment here.

[2019-11-29 13:03] guardrex commented on #15913
Hello @haugan ... It's best if you use the **This Page** feedback button/form at the bottom of the topic to open an issue. It adds metadata and pings the author. No worries tho ... I'll add the metadata to your opening comment.

[2019-11-29 13:46] hoangit21 opened #15914 "Angular template with dotnet core 3 when using IIS."
[EDIT by guardrex to add the metadata]

I meet an issue when using angular 2 template with dotnet core 3 and using IIS. When i request to dotnet core app it running issue:
InvalidOperationException: The NPM script 'npm start' exited without indicating that the Angular CLI was listening for requests. The error output was: Error: EPERM: operation not permitted, mkdir 'C:\WINDOWS\system32\config\syst

[2019-11-29 13:47] sarathlalsaseendran opened #15915 "Compare validator doesn't show validation error"
Hi, I have checked with Compare validator in viewmodel for Email field. It is not showing any error in validation summary. Can you please check that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884-c1fe5c2ef52d
* Version Independent ID: 09a02d10-2834-467d-d8c2-3fd19ceb3863
* Content: [ASP.NET Cor

[2019-11-29 14:36] TheGoldMonkey opened #15916 "app.UseSignalR() is obselete"
In the configure method, app.UseSignalR() is obsolete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cf283c9-5cd2-a9ff-b8c8-372d8a04356d
* Version Independent ID: 729fddcf-24e4-b563-4952-a8045b231868
* Content: [ASP.NET Core SignalR JavaScript client](https://docs.microsoft.com/en-us/aspnet/core/signalr/javascript-cl

[2019-11-29 14:41] dazinator opened #15917 "Combining multiple providers from seperate libraries"
The approach shown in this documentation doesn't show you how you might combine multiple providers, say from seperate nuget packages, into one singleton composite provider.

For anyone looking to do that, I created: https://github.com/dazinator/Dazinator.AspNetCore.Authorization - and have opened this github issue as I think that would be a good thing to have in the framework by default: https://g

[2019-11-29 15:09] dazinator commented on #15917
- I think a better example of how to write a custom policy provider is the one I have documented here: https://github.com/dazinator/Dazinator.AspNetCore.Authorization/blob/develop/README.md#note-to-provider-authors
It would be interesting to know if the asp.net core team agree with me and if you'd therefore update this documentation with this in mind?

[2019-11-29 15:10] guardrex commented on #15915
Hello @sarathlalsaseendran ... It looks like this is a 🐞 *bug* that will be fixed for 3.1.

https://github.com/aspnet/AspNetCore/issues/10643

I'll take a look at this topic next week to see about placing a 3.0-only note to cover this for 3.0. Thanks for writing in.

[2019-11-29 15:13] guardrex commented on #15915
If you try 3.1 and it isn't fixed, open an issue on the engineering repo for them to look at it. Show them the exact code that you're using. If you want, you can add a "cc: @guardrex" to the bottom of your issue over there so that I can track it. Otherwise, open a new issue here on this topic after you find out what they say if this topic requires more work.

For this issue and the bug fix that th

[2019-11-29 15:15] jpollard-cs opened #15918 "ensuring version consistency with policy authorization"
[EDIT by guardrex to add the metadata]

In one of the examples [here](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-3.0#using-a-func-to-fulfill-a-policy) there's an ownership check:

[code]

I'm curious if the `IsOwner` check is dependent on the state of the resource how can I ensure this hasn't changed when I actually do some sort of mutation on that

[2019-11-29 15:17] sarathlalsaseendran commented on #15915
Hello @guardrex, thank you very much for the quick reply. I will check with 3.1 and update you.

[2019-11-29 15:26] sarathlalsaseendran opened #15919 "Can't use SignInManager.PasswordSignInAsync in Blazor"
Currently Blazor supports ASP.NET Core MVC authentication by default. Hence, I tried to create my own register and login with Blazor components. I could register a new user using "UserManager.CreateAsync". But while trying "SignInManager.PasswordSignInAsync", it is showing below error message.

System.InvalidOperationException: The response headers cannot be modified because the response has
alrea

[2019-11-29 15:36] guardrex commented on #15914
Not sure at this point if we'll need to cover something in the IIS topic, the Angular template topic, or both. For now, I'll add the metadata to your issue, which will ping the author of the topic.

[2019-11-29 15:38] guardrex commented on #15918
Hello - Please use the **This Page** feedback button/form at the bottom of the topic, which adds metadata and pings the author. No worries tho ... I'll manually add the metadata to your opening comment.

[2019-11-29 15:47] jpollard-cs commented on #15918
noted for future reference, thanks!

[2019-11-29 16:41] alvipeo commented on #15906
I added formatter with the old Core 2 code:
[code]

I couldn't find any other way. But I had to remove `AddRazorPages()` and use `AddMvc()`.

Not sure this is optimal way.

[2019-11-29 19:04] Rick-Anderson commented on #15918
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-29 19:04] #15918 closed

[2019-11-29 19:05] Rick-Anderson commented on #15917
@blowdart  let me know if you're interested in documenting this. I think this is out of the scope of the docs so closing for now.

[2019-11-29 19:05] #15917 closed

[2019-11-29 19:12] Rick-Anderson commented on #15916
@wadepickett  do this a 2 PR's. When you're read create a new PR where you format this doc as:

[code]

Triple check/compare with the live version. Then update this doc.

[2019-11-29 19:13] Rick-Anderson commented on #15914
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-29 19:13] #15914 closed

[2019-11-29 19:14] Rick-Anderson commented on #15913
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-29 19:14] #15913 closed

[2019-11-29 19:14] Rick-Anderson commented on #15912
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-29 19:14] #15912 closed

[2019-11-29 20:50] Rick-Anderson commented on #15910
What unsigned app? What's the instructions?

[2019-11-29 20:53] Rick-Anderson commented on #15909
What tutorial should this be surfaced from?
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2019-11-29 20:53] #15909 closed

[2019-11-29 21:24] HelicalSyncromesh opened #15922 "Questions about Windows auth & Linux"
"On the domain controller, add new web service SPNs to the machine account:
    setspn -S HTTP/mywebservice.mydomain.com mymachine
    setspn -S HTTP/mywebservice@MYDOMAIN.COM mymachine"
Why are the HTTP SPNs needed in addition to the default HOST SPNs?  Playing with this in a lab environment I'm seemingly able to get this working (hosted from linux, accessed with a windows domain machine, current

[2019-11-29 21:58] HelicalSyncromesh opened #15923 "machine account password (in linux steps)"
"Use ktpass to generate a keytab file:
    ktpass -princ HTTP/mywebservice.mydomain.com@MYDOMAIN.COM -pass myKeyTabFilePassword -mapuser MYDOMAIN\mymachine$ -pType KRB5_NT_PRINCIPAL -out c:\temp\mymachine.HTTP.keytab -crypto AES256-SHA1"

When I run this command I get prompted if I want to reset the password of the machine account:
"WARNING: Account ip-10-0-243-22$ is not a user account (uacflags=

[2019-11-30 00:06] guardrex commented on #15922
Hello @HelicalSyncromesh Let's wait until we're past this holiday weekend. I'll ping the author to comment.

[2019-11-30 00:08] randyramig commented on #15910
Hi Rick, the link to install NSwagStudio:
https://github.com/RicoSuter/NSwag/wiki/NSwagStudio
On this page:
https://docs.microsoft.com/en-us/aspnet/core/tutorials/getting-started-with-nswag?view=aspnetcore-3.0&tabs=visual-studio

[2019-11-30 00:10] guardrex commented on #15923
Moved to #15922.

[2019-11-30 00:10] #15923 closed

[2019-11-30 00:41] rcollina opened #15925 "Named options: list of names"
Could you please include any guidance on how to retrieve all the names with which an option type has been registered?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed39cb0e-aa85-8bba-ffb4-859b56a60723
* Version Independent ID: dc7e3449-650b-d117-5eac-69e5ccb250cb
* Content: [Options pattern in ASP.NET Core](https://do

[2019-11-30 02:29] guardrex commented on #15925
Hello @rcollina ... AFAIK, the Options Manager doesn't make the names public. If you want to make a feature request, open an issue on the engineering repo :point_right: https://github.com/aspnet/AspNetCore/issues

[2019-11-30 02:29] #15925 closed

[2019-11-30 07:37] rajeev26 commented on #14914
I was confused with the same. Why would the response return the deleted entity if it has been deleted?

[2019-11-30 11:46] paulghodgson commented on #15707
When I had this it was because I was selecting "Manage Client Side Libraries..." from the context menu rather than navigating to Add->Client-Side Library". It does feel like the two should both open the the dialog box.

[2019-11-30 12:44] thiagofborn opened #15929 "Include Microsoft.EntityFrameworkCore.InMemory on the procedure"
Dear  blogger builders,

I think you should include the installation of "Microsoft.EntityFrameworkCore.InMemory"  in the project. Otherwise, on a fresh VS 2019 installation, the "UseInMemoryDatabase" will be not available.  So, add an extra step of the package installation before the step "Update Startup.cs." I could be via "NuGet Package Manager Console" for the sake of simplicity as follows:

In

[2019-11-30 15:26] KevinBurton opened #15930 "AddNewtonsoftJson() not defined"
I installed Microsoft.AspNetCore.Mvc.NewtonsoftJson but AddNewtonsoftJson() is not defined?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ebcd752-af71-c483-eebb-0745bd04fb30
* Version Independent ID: 1f678d5d-230b-0ad0-c925-15b13081f553
* Content: [Format response data in ASP.NET Core Web API](https://docs.microsoft.

[2019-11-30 16:35] guardrex commented on #15930
After restoring the project, you should be able to get it with ...

https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/web-api/advanced/formatting/3.0sample/StartupNewtonsoftJson.cs#L4

[2019-11-30 17:10] Rick-Anderson opened #15931 "Fix Content-Language header for 3.1"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1833676-ff1b-c587-cc9c-81afffa8ef68
* Version Independent ID: ad989395-3f49-4d55-521e-cf6fe56281ee
* Content: [Globalization and localization in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.0)
* Content Source: [

[2019-11-30 19:16] iHamzaKhanzada commented on #8434
One strange problem I am facing with using `AddIdentity` is your protected pages (which require authentication) gets unprotected, meaning you can call Identity/Account/manage/index.cshtml page without authentication. This led me to debugging of 5 hours and finally I changed my `services.AddIdentity` to `services.AddDefaultIdentity` and now the pages are protected again.. I don't know If I have ela

[2019-11-30 20:10] guardrex commented on #15930
I'll close as answered. If you end up with strange package behavior, nuke your package cache and try again ...

[code]

[2019-11-30 20:10] #15930 closed

[2019-11-30 20:30] Rick-Anderson commented on #15931
Fixed by #15928

[2019-11-30 20:30] #15931 closed

[2019-11-30 20:30] Rick-Anderson commented on #15929
It's in the instructions.

[2019-11-30 21:05] offirpeer opened #15932 "Defer causes script tag to download CDN and also the Fallback script"
[EDIT by guardrex to add the metadata]

This code forces the browser to download the CDN and also the fallback file.
I am guessing it's because of the `<script defer`
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c90104e1-65b1-0007-e56d-0dffef4b1a44
* Version Independent ID: 5c95e5dc-dc10-8658-91fd-1d55d3959c37

[2019-11-30 22:05] #13232 closed

[2019-11-30 22:34] guardrex commented on #15932
Hello @offirpeer ... I don't think it's due to the presence of `defer`. If you take that off, you'll get the same behavior. Given the [Script Tag Helper](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/script-tag-helper) description, it doesn't seem correct ... I agree.

https://docs.microsoft.com/dotnet/api/microsoft.aspnetcore.mvc.taghelpers.scripttaghelper.fallbacksr

[2019-11-30 22:36] guardrex commented on #15932
Let me check one more thing real fast tho before you do that. BRB .....

[2019-12-01 04:42] SoftCircuits commented on #15830
I would question the wisdom of the `#2` behavior. Given that there UI gives no clue that no email was sent, this can leave the user in a black hole trying to restore a login.

[2019-12-01 05:37] mrmowji opened #15933 "It's said SQLite but SQL Server is used"
I went through this tutorial. I'm using VS Community 2019 (removed 2017 and installed 2019). At the beginning of the document, it's mentioned that we will use SQLite, but when I finished the steps, I ended up with a SQL Server DB (.mdf). Couldn't find SQLite on later tutorials either. Is there something missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-12-01 07:27] windson opened #15934 "Publish React ASP.NET Core 3 Template"
These steps didn't work for React ASP.NET Core 3 Template that comes with visual studio 2019.
Pleaes provide detailed step by step documentation.

I Created S1 linux plan and tried to deploy the asp.net core 3 react template. but it didn't succeed. Still shows the default homepage that comes with app service plan.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-12-01 11:32] saeidjoker commented on #15695
I'm also having this problem. Any Ideas?

[2019-12-01 14:06] adiessl opened #15935 "Enabling detailed logs for SignalR's server-side logging"
The documentation for the server-side logging says that one has to set the log level to `Debug` for the logger categories `Microsoft.AspNetCore.SignalR` and `Microsoft.AspNetCore.Http.Connections` to enable detailed logging. During my tests, however, I could only enable detailed logging when setting the log level to `Trace`.

https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=as

[2019-12-01 16:19] mattiasw2 opened #15936 "httprepl nice idea, but why are error messages like fail to connect shown as stacktraces?"
For example, instead of "No connection ...." I get this

http://localhost:5000/&gt; options
System.Net.Http.HttpRequestException: No connection could be made because the target machine actively refused it.
 ---&gt; System.Net.Sockets.SocketException (10061): No connection could be made because the target machine actively refused it.
   at System.Net.Http.ConnectHelper.ConnectAsync(String host, Int

[2019-12-01 17:04] Rick-Anderson commented on #15933
VS uses SQL Express.

[2019-12-01 17:04] #15933 closed

[2019-12-01 17:05] guardrex opened #15938 "Language update and clarification on lifecycle methods"
* Passing nit: "the following" should be added to Line 117.
* Confirm that because these are all overrides in dev code that they are called *somewhere* (i.e., in the framework).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce1440e7-febc-3fbc-09d7-7f47b740fd3b
* Version Independent ID: 31071595-7c71-b6f7-3856-74f78c5c

[2019-12-01 17:32] Rick-Anderson commented on #15935
Can you post the simplest possible repo on a public GitHub?

[2019-12-01 17:36] Rick-Anderson commented on #15785
That's how the app works. You need to run migrations. The DB doesn't deploy.

[2019-12-01 17:36] #15785 closed

[2019-12-01 17:38] Rick-Anderson commented on #15934
This tutorial doesn't use React.

[2019-12-01 17:38] #15934 closed

[2019-12-01 17:49] Rick-Anderson commented on #15932
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script

defer
This Boolean attribute is set to indicate to a browser that the script is meant to be executed after the document has been parsed, but before firing DOMContentLoaded.

Scripts with the defer attribute will prevent the DOMContentLoaded event from firing until the script has loaded and finished evaluating.

[2019-12-01 17:51] Rich-Lang opened #15939 "DI - Views - Sample out of date"
Project still uses XProj and VS unable to migrate and run.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed756b9c-1d37-cd29-dbca-2838ddf152fb
* Version Independent ID: 06064983-8ada-c25d-2adc-ffb4059978f2
* Content: [Dependency injection into views in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/view

[2019-12-01 18:10] guardrex commented on #15939
Hello @Rich-Lang ... thanks for writing in. Yes, this is tracked by our sample update tracking issue :point_right:. We don't have an ETA on it being addressed, but it is being tracked for that work.

[2019-12-01 18:10] #15939 closed

[2019-12-01 21:39] DisneyUK commented on #15929
Please review again and amend, I followed the project instructions to the letter and double checked and had exactly the problem thiagofborn described ("UseInMemoryDatabase" not available) on a new VS 2019 install. As thiag suggested I ran "Install-Package Microsoft.EntityFrameworkCore.InMemory" from the package manager console which fixed it

[2019-12-01 21:58] Rick-Anderson commented on #15929
![image](https://user-images.githubusercontent.com/3605364/69920963-ed92df00-1431-11ea-8829-43c0159a7922.png)

[2019-12-01 22:49] DisneyUK commented on #15929
it's badly written "preceding instructions" makes no sense, suggest rewording

[2019-12-02 06:45] adiessl commented on #15935
Unfortunately I can't. I've been trying to, but in the simple sample that I set up it works as intended ...

The real question then is: why does it not work in our production app?! I think I'll have to investigate further. In the meantime I will close this issue.

[2019-12-02 06:45] #15935 closed

[2019-12-02 07:49] Errors4l commented on #15871
@hishamco Any news on that last part?

[2019-12-02 08:35] adiessl commented on #15935
I found the reason: we are using Serilog and have a custom event filter active that filters log messages for log level `Debug`. Only for `Debug` though, not for `Trace`. That is why setting the log level to `Trace` led to an output while `Debug` did not.

[2019-12-02 09:13] cjmakwana opened #15940 "Configuration with options pattern is not working"
[EDIT by guardrex to add the metadata]

Not sure what I am missing here, but I replicated the same pattern in another .net Core 3.0 web API project, I used the same packages what mentioned here. But I always get an empty type instance (not initialized from the configuration) when I do constructor injection of IOptions<T>.

Just one clue I want to add:

I am using the below statement to inject IOpt

[2019-12-02 09:38] halljames631 opened #15941 "Add a model to a Razor Pages app : Master Issue"
`Edit by @Rick-Anderson to add other issues`

This is the master issue for this doc.  Reopen each issue you are working on so the owner is notified.

* Add an instruction to add a package reference . #16844
* Add secret field so tutorial teaches how to prevent overposting. #16792
* `services.AddDbContext<MovieContext>` should be `RazorPagesMovieContext` #16720
*  'MovieContext' is used instead of

[2019-12-02 14:53] guardrex commented on #15940
Hello @cjmakwana ... Please open issues from the **This Page** feedback button/form at the bottom of the topic. No worries ... I'll add the metadata to your opening comment.

[2019-12-02 14:56] guardrex commented on #15941
Hello @halljames631 ... Please use the **This Page** feedback button+form at the bottom of the topic. No worries ... I'll add the metadata to your opening comment.

[2019-12-02 15:26] guardrex commented on #15940
@cjmakwana ... Only keys are returned by `GetSection` as documented here :point_right: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.0#getsection

Try to pull a value within the section after you get `value` set.

[2019-12-02 15:32] cjmakwana commented on #15940
@guardrex my original problem is that I am not able to inject the IOptions<T> using services.Configure<T>(). Please let me know if I am missing anything here.

[2019-12-02 15:39] guardrex commented on #15940
It should bind if you specify the type ... did you try with the type? ...

[code]

[2019-12-02 15:40] nikola-mirkov-bm opened #15942 "MongoDB C# driver support"
Officially, MongoDB does not support .NET Core 3.0. Reference this issue: https://github.com/dotnet/core/issues/3944.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5240866d-d0a1-f0dd-7b2c-203e1d69bc4b
* Version Independent ID: 83a5cb3b-23bc-4f0c-cd1c-1d1ffeb1131a
* Content: [Create a web API with ASP.NET Core and Mong

[2019-12-02 15:42] guardrex commented on #15940
IIRC, it's in the Options sample app. It doesn't bind a section, but it shows the example of binding to the options class. I think it's named `MyOptions` in the sample app.

[2019-12-02 15:44] cjmakwana commented on #15940
@guardrex yes, I exactly followed the same code as is found inside aspnetcore/fundamentals/configuration/options/samples. Only difference being my class type is different, and accordingly the configuration.

[2019-12-02 15:44] guardrex commented on #15940
Oh ... yeah. I see it ...

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-2.2#suboptions-configuration-1

It was called `MySubOptions` for that example.

[2019-12-02 15:48] guardrex commented on #15940
You'll need to put up a full repro that I can look at ... and wait a bit until I can get back to this. I'm 🏃😅 this week, so I'm not sure when I can look.

You can also ask on a support forum, such as Stack Overflow, or a support chat, such as ...

* [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/)
* [ASP.NET Gitter](https://gitter.im/aspnet/Home)

I **_DO_** want to make sure tha

[2019-12-02 15:51] guardrex opened #15944 "Use 'razor' code language"
All Razor component code examples (linked *.razor* files and in-text examples) across the repo to receive the `razor` code language.

https://github.com/DuncanmaMSFT/highlight.js/pull/17

[2019-12-02 15:57] cjmakwana commented on #15940
@guardrex , I fully agree with you. Even I have done lot many programs having IOptions<T> injection inside API projects. But those all were either .net core 1.1 or 2.0 / 2.2. This time around, I am working on 3.0. So just wanted to check whether I am missing here anything.

[2019-12-02 16:05] cjmakwana commented on #15940
I am using the below line, wherein the type used is different from the below:
services.Configure<MyOptions>(Configuration);
And, in the configuration, I have a section with the name same as the type name. Is that the right way to do?

[2019-12-02 16:27] jbogard commented on #13920
@Allann just as another data point, we use Razor pages on large LOB sites, so I don't know what that's coming from.

Controllers are merely a way to describe routes to methods, Razor Pages improves on this because in a typical controller, the actions don't have much to do with each other. The only case this isn't true is a GET/POST of a single URL, which Razor Pages encapsulate better because it's

[2019-12-02 16:29] guardrex commented on #15940
I just checked the sample app, and it works. You'll need to bind with the type for that pattern to work for Options. Like the one in the sample app ...

[code]

... where `MySubOptions` is ...

[code]

... and the "subsection" configuration is loaded from *appsettings.json* ...

[code]

Using that pattern :point_up: you should **not** need to also use `services.Configure<MyOptions>(Configuration);

[2019-12-02 16:31] BrennanConroy commented on #15911
@wangxin12 could you provide a repro app that shows the token not being sent to the server?

[2019-12-02 16:59] cjmakwana commented on #15940
I just tested the above code in my case. Though the deserialization using Newtonsoft.Json library is working well (that means the configuration doesn't have any element issue or data issue), the same is still not happening with services.Configure<T>().

[2019-12-02 17:02] cjmakwana commented on #15940
I assume the configured element is being accessed using the constructor injection of IOptions<T>. Please correct me if I am wrong.

[2019-12-02 17:06] #15938 closed

[2019-12-02 18:26] guardrex commented on #15940
I'm not sure what the problem is. I can't reproduce any bad behavior (based on the pattern in the sample app and topic). We're in a bit of a bind on troubleshooting individual developer apps given the workload here. We're 🏃 *super busy* 😅. You could try Stack Overflow, or a support chat, such as [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/) or [ASP.NET Gitter](https://gitter.i

[2019-12-02 18:26] #15940 closed

[2019-12-02 18:55] CeciAc opened #15946 "Command update-database failed"
@PanQiWei commented on [Mon Dec 02 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/222)

After excute Add-Migration InitialCreate correctly,the command Update-Database failed with the following error:
Error Number:5123,State:1,Class:16
CREATE FILE encountered operating system error 5(拒绝访问。) while attempting to open or create the physical file 'C:\Users\59455RazorPagesMovieContext-b2dc

[2019-12-02 19:42] #15866 closed

[2019-12-02 19:44] Rick-Anderson opened #15947 "Port remaining ODATA tutorial"
Over to https://github.com/MicrosoftDocs/OData-docs

[2019-12-02 19:50] #15932 closed

[2019-12-02 20:13] guardrex commented on #15922
@HelicalSyncromesh ... Need to wait a bit longer. All teams are 🏃😅 for 3.1 work. I'll call for engineering clarification after 3.1 releases.

[2019-12-02 20:25] bradygaster commented on #11350
@simonech that's great info. sad, but very helpful info for sure. Will look into this with the tooling teams who write the libman tools. Adding @jodavis and @vijayrkn here as FYI.

[2019-12-02 20:39] hishamco commented on #15871
Sorry I was sick last few days, if you talk about the name space issue you can make a PR for that

I already checked the docs and it covers the info about the `SharedResource`

[2019-12-02 20:47] scottaddie commented on #15936
Moved to https://github.com/dotnet/HttpRepl/issues/304, where the engineering team can take a look.

[2019-12-02 20:47] #15936 closed

[2019-12-02 20:53] DanielCaspers commented on #11948
I did the legwork for someone else to add this to the docs. Surfacing this info to the public would be a very welcome addition :)

https://github.com/aspnet/AspNetCore/blob/master/src/DataProtection/DataProtection/src/Repositories/DefaultKeyStorageDirectories.cs#L24

[2019-12-02 20:56] OmiCron07 opened #15951 "Usefullness of the methods in the hub class"
In the class ClockHub, I would like to know the purpose of the method SendTimeToClients? It's never used anywhere. And if I want to use that method because I have business logic in there, how can I get a hub type exposing that method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bbb2d1c-4dfe-3faf-d4b0-65ae1146961e
*

[2019-12-02 21:36] sun-acmx commented on #15783
Finally figured it out. Adding this code in the startup.cs fixed it.
services.AddControllers(options =>
            {
                var policy = new AuthorizationPolicyBuilder()
                     .RequireAuthenticatedUser()
                     .Build();
                options.Filters.Add(new AuthorizeFilter(policy));
            });

[2019-12-02 21:42] #15893 closed

[2019-12-02 22:49] Rick-Anderson opened #15953 "3.1: Partial class support for Razor components"
See https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-1-preview-1/

Add a section for **Partial class support for Razor components** That I can point to in the what's new in 3.1 guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent ID: 9d

[2019-12-02 22:52] Rick-Anderson commented on #15953
@guardrex  any chance you could get this done by noon your time tomorrow?

[2019-12-02 22:52] guardrex commented on #15953
This one? ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#partial-class-support

[2019-12-02 22:52] guardrex commented on #15953
I'm pretty sure that I can get that done by noon tomorrow. :smile: lol

[2019-12-02 22:52] Rick-Anderson commented on #15953
That was fast!

[2019-12-02 22:52] #15953 closed

[2019-12-02 23:08] Rick-Anderson opened #15955 "What's new in 3.1"
-	https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-1-preview-2/
-	https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-1-preview-1/

[2019-12-02 23:12] Rick-Anderson commented on #15953
@guardrex  can you provide a link for
Pass parameters to top-level components
Blazor Server apps can now pass parameters to top-level components during the initial render. Previously you could only pass parameters to a top-level component with RenderMode.Static. With this release, both RenderMode.Server and RenderModel.ServerPrerendered are now supported. Any specified parameter values are seriali

[2019-12-02 23:21] guardrex commented on #15953
Use this one (version is important, so link to 3.1) ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#integrate-components-into-razor-pages-and-mvc-apps

... there's an existing PR for the components topic. I'd like to make the call out more explicit than what the example there shows. However, it's fairly obvious that the param is passed there as it is.

[2019-12-02 23:26] guardrex commented on #15953
I added a line to that section to surface it a bit more. That will merge shortly. You can go ahead with that link :point_up: versioned for 3.1.

[2019-12-02 23:29] Rick-Anderson commented on #15953
3.1 becomes the default tomorrow.
Thanks.

[2019-12-02 23:35] bradygaster commented on #15277
@spottedmahn did the links above help you? or are you proposing we create a doc that summarizes how to use those benchmarking tools? If so I would want to work with @chenkennt and his team to get that doc initially created, then we can refine together.

[2019-12-03 00:32] flyingUnderTheRadar opened #15957 "Delete response mismatch"
The delete method code shows an object being returned causing a 200 rather than the mentioned 204. One of them need to be adjusted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API wi

[2019-12-03 00:33] Rick-Anderson commented on #15957
Duplicate of #14914

[2019-12-03 00:33] #15957 closed

[2019-12-03 00:34] #15829 closed

[2019-12-03 02:10] PanQiWei commented on #15946
I still not deal with the error of Update-Database command,but I use Script-Migration to build a .sql file and create the database by hand and this works.But I still wonder how should I fix the problem when using the Update-Database command? It seems that there is a bug in default directory path.

[2019-12-03 02:15] Rick-Anderson commented on #13721
Fixed

[2019-12-03 02:15] #13721 closed

[2019-12-03 02:18] #15578 closed

[2019-12-03 02:24] Rick-Anderson commented on #15609
Fixed

[2019-12-03 02:24] #15609 closed

[2019-12-03 02:27] Rick-Anderson commented on #13369
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-03 02:27] #13369 closed

[2019-12-03 02:50] Rick-Anderson opened #15962 "Wire up does not MT"
Use connect or something that machine translates.
DI-z

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bbb2d1c-4dfe-3faf-d4b0-65ae1146961e
* Version Independent ID: 6b203f18-adfa-3a18-183d-b124325064c3
* Content: [Host ASP.NET Core SignalR in background services](https://docs.microsoft.com/en-us/aspnet/core/signalr/bac