[2018-10-18 04:12] Rick-Anderson commented on #9091
It doesn't. Check the URL

[2018-10-18 04:12] #9091 closed

[2018-10-18 04:13] davidfowl commented on #7814
@anurse we should add a pointer to this doc from here https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/web-farm?view=aspnetcore-2.1

[2018-10-18 04:55] Rick-Anderson commented on #8915
@anurse 	please respond

[2018-10-18 05:06] davidfowl commented on #8915
@gaazkam Did you see this https://docs.microsoft.com/en-us/aspnet/core/signalr/hubcontext?view=aspnetcore-2.1?

Are you trying to call a method on the hub to kick off an operation? Do you just want to run some code on an interval? See https://github.com/aspnet/Docs/issues/8476.

That logic you ended up with works but it's an easy way to cause memory leaks because you're starting a long running met

[2018-10-18 06:25] ArveSystad opened #9093 "Hard to find download link"
As of now, you have to read through quite a bit of text just to find the download link. People experienced with IIS and hosting want a simple "Download hosting bundle here!" at the top of the screen, instead of browsing through loads of pages and reading lots of text to find it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-10-18 06:38] voroninp commented on #9051
@rynowak I either did not get the nuance or my English is bad :)

Is not ‘binding source’ order not the same as ‘value provider’ order? Or you just meant  that each property of a complex object is searched among multiple sources?

[2018-10-18 06:48] voroninp commented on #9051
@rynowak It is not you who make breaking change. Initial impression from reading about `[ApiController]` that it is for convenience.  But in reality, if developer was not explicit about binding sources  and then applies `[ApiController]`  attribute, he will introduce a breaking change to his api regarding model binding itself, not just validation of the model. That was my point.

[2018-10-18 08:37] MichaelJohnBradley commented on #687
I would like to see example that demonstrates having multiple of the same view components on a page/view and how or if the javascript need to be set up so that the page doesn't have functions declared multiple times. Should the javascript functions have an view component Id appended to them that would come from the viewmodel? Or should the javascript just be external to the view component and refe

[2018-10-18 10:39] himalayagarg opened #9094 "Add more details about Custom Authorize filter attribute"
Add more details about Custom Authorize filter attribute that accept multiple parameters and can filter based on them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0646a3d-a5d1-d4b0-5494-fe38219d16c9
* Version Independent ID: 8b659e63-93b8-a496-bc9b-dce0d9fa8f3c
* Content: [Filter methods for Razor Pages in ASP.NET

[2018-10-18 11:05] SychevIgor commented on #6242
Will be nice to finally make this update.

[2018-10-18 11:05] SychevIgor commented on #6241
Will be nice to finally make this update.

[2018-10-18 11:56] guardrex commented on #9093
I like it. I can also place a link next to it that takes the visitor down to the section where it's described if they need more detail.

The reason this probably didn't come to mind is that the topic's TOC makes it easy to get to the link. It is true tho that the :eye: has to wander over there to find the link to that section ...

<img width="203" alt="capture" src="https://user-images.githubuserc

[2018-10-18 12:02] poke opened #9095 "TypeFilter example is misleading with how ActionFilterAttribute is used"
[The documentation on `[TypeFilter]`](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-2.1#typefilterattribute) is using a somewhat misleading example:

[code]

This suggests that the combination of `[TypeFilter]` and a filter attribute implementation (`AddHeaderAttribute`) is a useful combination. However, `[TypeFilter]` is actually supposed to be used with _an

[2018-10-18 12:18] mattiasflodin opened #9096 "Examples do not show how to configure authentication from appsettings / similar"
Hi, not sure if this specific page should cover this but it should at least be somewhere around this section. I find the examples to be unrealistic in that all URLs and similar are hard-coded in source, and I'm frustrated that I can't find any documentation that covers how to do this properly. For example, in the AddJwtBearer callback I might need to access another DI service to obtain client cert

[2018-10-18 12:33] tzachu opened #9097 ""http://localhost:5000/Movies?searchString=Ghost" doesn't work."
"http://localhost:5000/Movies?searchString=Ghost" doesn't work.

[2018-10-18 12:44] TheBeardedLlama commented on #7967
I'm using it with a cmd app.

I had to find a way in via DI. In my case (webjob), I had to `ConfigureServices` using the `IServiceCollection` that `IWebJobsBuilder` exposed.

[2018-10-18 14:13] #9026 closed

[2018-10-18 14:56] guardrex commented on #8702
@Tratcher One more ❓ ...

The current orders (AFAIK) from management (DE?, DR?) is that we are to use a `Startup` class for all samples (except for the Generic Host sample). I even created a few repo samples in *ancient times* (a year or two ago :smile:) using the extension methods approach before I was ordered to go with a `Startup` class everywhere.

You remarked briefly on one of the issues (I

[2018-10-18 15:08] Tratcher commented on #8702
Hold off, we're revisiting this in 3.0 as part of moving WebHost onto GenericHost.

[2018-10-18 15:08] guardrex commented on #8702
Ok, thanks.

[2018-10-18 16:15] codeinflash opened #9099 "HttpContext becomes NULL out issue?? System.NullReferenceException on HttpContextAccessor?"
# Before you open an issue

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, consider asking on a support forum site.
- A site design concern, create an issue at [MicrosoftDocs/Feedback](https://github.com/MicrosoftDocs/F

[2018-10-18 16:20] codeinflash commented on #9099
I accidently created this issue here in Docs. I close it and will create same issue on Bug report.

[2018-10-18 16:20] #9099 closed

[2018-10-18 16:34] #9073 closed

[2018-10-18 16:52] daveabrock commented on #8001
Working on this now!

[2018-10-18 17:45] #8916 closed

[2018-10-18 17:49] Rick-Anderson commented on #8915
@tdykstra 	is this information worth adding to the article? It can be found in the closed issue so that my be good enough.

[2018-10-18 17:56] anurse commented on #7814
Some technical notes and a couple images stolen from a PowerPoint I dug up to help illustrate.

* SignalR applications scale differently from traditional web apps
* Each SignalR connection takes up resources on the system even when idle
	* Memory required to track the connection
	* TCP connections that live for the entire duration of the connection (unlike in HTTP where connections can be reused f

[2018-10-18 17:58] anurse commented on #8755
HAProxy: https://www.haproxy.com/blog/load-balancing-affinity-persistence-sticky-sessions-what-you-need-to-know/

nginx: https://docs.nginx.com/nginx/admin-guide/load-balancer/http-load-balancer/#sticky

This could possibly be merged with the high-level parts of #7814 and then the Redis-specific stuff could be moved off to a sub-doc or something. There's a lot of similarity here since most modern

[2018-10-18 18:17] #9079 closed

[2018-10-18 18:19] #7728 closed

[2018-10-18 18:31] tdykstra opened #9106 "What's new ToC node only shows the 2.1 doc"

[2018-10-18 18:37] Berkyle commented on #7291
I'm not sure if anyone else is having the same issue anymore but a coworker fixed this error for me by building the web application and THEN creating a new razor page.

[2018-10-18 18:41] tdykstra opened #9107 "Incorporate metapackage articles into migrate articles"
Per decision made at ToC review meeting on 10/16, eliminate the metapackage articles and incorporate their content into the migrate docs:

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage
goes into
https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage-app
goes into
https://docs.microsoft.com/en-us

[2018-10-18 18:47] Rick-Anderson commented on #9094
@himalayagarg 	thanks for the suggestion. We'll evaluate this at the next doc sweep.

[2018-10-18 19:05] RetrotecEd opened #9108 "IFormFile is null"
I wrestled with this for a couple of hours.

If you have a model with only the IFormFile property - in the OnPostAsync the property is null. If I looked at the HttpContext.Request.Form.Files - the file was there. After surfing around in StackOverflow, I found a workaround. I added another property to my model

public string WhatTheHeck { get; set; }

and added this to my form

&lt;div class="form-

[2018-10-18 20:43] Rick-Anderson commented on #9097
@tzachu 	you might try debugging to find your mistake.

[2018-10-18 21:51] Rick-Anderson commented on #9096
@blowdart 	please respond.

[2018-10-18 21:55] quole opened #9113 "What are ports 59518 & 44364 or are they just examples?"
[code]

Are these ports required for assembly or are they just given as an illustration? The example dockerfile should perhaps be commented with their purpose

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d772b44a-b5f3-5a10-4ea3-4463bdcf90bb
* Version Independent ID: 5847cdf8-1823-7740-6e43-030902b26ad8
* Content: [Vi

[2018-10-18 21:56] blowdart commented on #9096
This should be covered in the configuration pages, not in feature specific pages, otherwise you'd have to do it everywhere on every feature that needs configuration.

[2018-10-18 22:15] guardrex opened #9114 "Remove previous Identity Core sample app"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99307104-c0d7-3e82-f0b2-af61dcfe072a
* Version Independent ID: 315c02cb-54c4-e386-da85-6e4311ca10c2
* Content: [Share cookies among apps with ASP.NET and ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/cookie-sharing?view=aspnetcore-2.1)
* Content Sou

[2018-10-18 22:35] #9114 closed

[2018-10-18 23:02] LeonardoSobrado opened #9116 ".netcore 1.1 example is incorrect"
the attribute definition doesn't work in .netcore 1.1

https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-1.1

    [AttributeUsage(AttributeTargets.Class | AttributeTargets.Method)]
    public class DisableFormValueModelBindingAttribute : Attribute, IResourceFilter
    {
        public void OnResourceExecuting(ResourceExecutingContext context)
        {

[2018-10-18 23:13] danroth27 commented on #687
The experience with View Components and working with static assets is suboptimal; we don't really have a recommended solution for this scenario using the View Component model. We understand that having a solution for composable UI is an important scenario and it's something something we want to address with the Razor Components work in ASP.NET Core 3.0. I think we should hold off on providing any

[2018-10-18 23:13] #687 closed

[2018-10-18 23:17] dazinator commented on #687
Erm.. what kind of answer is that? Are you saying there is no solution from
the framework that gives you view components as a paradigm so lets see what
others can suggest? Its your paradigm! Show some vision please.

On Fri, 19 Oct 2018, 00:14 Daniel Roth, <notifications@github.com> wrote:

[2018-10-18 23:40] #8000 closed

[2018-10-18 23:47] Rick-Anderson commented on #8001
@daveabrock

[2018-10-18 23:50] mikaelm12 opened #9117 "Update SignalR Java Client Docs for Preview 3"
Preview 3 released this week. We need to update the docs to reflect the changes.

[2018-10-18 23:50] danroth27 commented on #687
View Components are lacking here because this wasn't a scenario they were originally designed for. Could you get creative enough to extend things to get something working? Probably and I'm sure some folks already have. But it's not something that View Componentshave first class support for. The long term vision is to provide a component model that actually has a designed way to interact with the l

[2018-10-19 00:35] theangellmethod opened #9119 "Is the ~ necessary before static files in wwwroot like /images/banner1.svg?"
Using the ~ in my project as shown in ['Serve files inside of web root'](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/static-files?view=aspnetcore-2.1&tabs=aspnetcore2x#serve-files-inside-of-web-root) was causing a 404 to display- when I removed it and only had the equivalent of /images/banner1.svg, the code worked fine.  Is the ~ necessary in ASP.NET Core 2.1?  I saw on the samples t

[2018-10-19 01:58] Rick-Anderson commented on #9095
@dougbu please review and provide new sample code (or suggest another reviewer).

[2018-10-19 02:36] Rick-Anderson commented on #9116
Does this apply to content in https://docs.microsoft.com/en-us/aspnet/core/ ?

[2018-10-19 02:58] #8785 closed

[2018-10-19 03:14] Rick-Anderson commented on #7799
@peterblazejewicz 	checking to see if you'd be able to contribute to this topic.

[2018-10-19 03:19] Rick-Anderson commented on #7799
@peterblazejewicz 	can you provide a link to an ASP.NET Core Subresource Integrity TagHelper
https://github.com/aspnet/Mvc/issues/3173 indicates we don't have one.

[2018-10-19 03:54] LeonardoSobrado commented on #9116
updated original post. content is found at
https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-1.1

[2018-10-19 04:40] Rick-Anderson commented on #9116
@LeonardoSobrado 	would you mind opening this issues with the "content feedback" button at the bottom of the page? It helps us keep track of issues related to docs.

[2018-10-19 04:55] Michaelwan777 commented on #6679
Same wonders here.

[2018-10-19 05:15] #8672 closed

[2018-10-19 05:41] viktors-telle commented on #687
I ended up using this approach to execute javascript code after page content has been loaded:

[https://stackoverflow.com/a/45292644/2804621](url)

[2018-10-19 05:41] #6075 closed

[2018-10-19 05:42] #8040 closed

[2018-10-19 07:14] DarrenGansberg commented on #8545
Can someone clarify exactly which project would reference the package in the .csproj file, if using a multiple project solution, in order to resolve the issue, as per Rick Anderson's suggestion?

[2018-10-19 07:48] Antaris commented on #9078
@Rick-Anderson Happy to have a look at this 👍

[2018-10-19 08:46] dazinator commented on #687
@danroth27 thanks for injecting the reality of the situation into my brain. As much as it is disappointing, atleast there is hope yet RE: Razor Components so I'll look forward to those.

[2018-10-19 08:51] dalibor983 commented on #5450
@natemcmaster [This](https://github.com/aspnet/aspnet-docker/issues/347#issuecomment-354316642) is good way to install nodejs in linux based docker image. But there is one issue with docker integration with visual studio because visual studio mount local source in docker container but all native nodejs components (like node sass) are built for windows not for linux :disappointed:

[2018-10-19 09:42] gaazkam commented on #8915
Oops. I overlooked this. My bad. I'm sorry and thank you.

As I said a few weeks ago, I wish to (a) implement timers in a turn-based game (that is, give a player eg 2mins for thinking for their turn and make them loose the game if they exceed this time however slightly - ok accuracy of 1sec is fine but not of say 20sec), and (b) implement tempmuting, that is eg mute a person in chat for 2hours and

[2018-10-19 09:43] benmccallum commented on #9075
No worries. Closing.

[2018-10-19 09:43] #9075 closed

[2018-10-19 11:28] SOLiNARY commented on #8956
@dustinmoris
You can use IPAddressRange for this:
[code]
                var whitelistIpRange = IPAddressRange.Parse("13.108.0.0/14");
                if (whitelistIpRange.Contains(remoteIp))
                {
                    // do something
                }
[/code]

[2018-10-19 11:49] guardrex commented on #9116
The topic is due for an overhaul on #5331.

[2018-10-19 12:28] Coscotex opened #9126 "Can this be used with Razor Pages?"
I see mentions of controllers and action methods in this article, but I would like to confirm if this can be used with razor pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5cfa38-0e6c-4346-dafc-84ea5c513fcf
* Version Independent ID: c6787f0f-3e9a-6efb-0e6e-5ccb957d3f4a
* Content: [File uploads in ASP.NET Core]

[2018-10-19 12:29] Coscotex commented on #9126
To clarify - I'm asking about the streaming large files technique

[2018-10-19 13:34] guardrex commented on #9126
Hello @Coscotex ... The topic has received a number of issues and will be addressed at some point in the future. We don't have an ETA for that work yet. You can browse the attached issues on the tracking issue for the work to see what other developers have said: #5331

[2018-10-19 18:04] daveabrock commented on #949
I can give this a whirl, if this is still needed.

[2018-10-19 19:01] daveabrock commented on #949
@tdykstra - any guidance of where it should reside would be appreciated.

[2018-10-19 19:06] #6052 closed

[2018-10-19 19:36] tdykstra commented on #949
I'd make it a sibling to https://docs.microsoft.com/en-us/aspnet/core/web-api/action-return-types

[2018-10-19 20:10] sehulugh opened #9131 "Book Marks"
Would be nice to have bookmarks on the menus to the left. Thanks I love the docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d670c64c-4030-312c-4355-ee518a23a56a
* Version Independent ID: c20d4db8-d403-9218-c39d-47e56c34e767
* Content: [Partial views in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/

[2018-10-19 20:57] #9085 closed

[2018-10-19 21:05] pranavkm opened #9134 "Add a doc on API conventions & analyzers"
As part of 2.2, MVC introduced a couple of types to make swagger generation better:

* `ApiConventionTypeAttribute,` `ApiConventionMethodAttribute` - associates one or more actions with a convention. The convention describes the `ProducesResponseType` that apply to the action.
* `ProducesDefaultResponseTypeAttribute`: Maps to the `default` (catchall) response type that swagger supports
* `Produces

[2018-10-19 21:30] #8617 closed

[2018-10-19 21:39] Rick-Anderson commented on #8967
cc @SyntaxC4

[2018-10-19 21:49] Rick-Anderson opened #9135 "Trim repo size"
- [x] Split repo. [Internal tracking URL](https://mseng.visualstudio.com/CSI/_workitems/edit/1250565)
- [x] move PDFs
- [ ] Migrate sample to [samples](https://github.com/aspnet/samples)
- [x] remove PDF, map, and min files  #9182
- [x] Request approval to use VS Code Acrolinx extension in aspnet/AspNetDocs repo
- [x] Create announcement in aspnet/Announcements for the repo split

[2018-10-19 23:01] danroth27 opened #9136 "Document the need to explicitly reference a consistent version of Microsoft.AspNetCore.Razor.Design"
The Microsoft.AspNetCore.Razor.Design packages brings the Razor compilation tasks and targets into an ASP.NET Core project. However, when you use the Microsoft.AspNetCore.App package you always build against the 2.1.1 package versions, even though you'll most likely be running against a newer patched version. We should update our docs to clarify that you should explicitly reference a consistent ve

[2018-10-20 13:35] mariashahid opened #9138 "Instructor cannot be updated"
Hi,

While trying this tutorial, I am having problems when trying to update  Instructor entity via the Edit page. It always gives me validation error for Instructor.OfficeLocation.InstructorID column, saying that it can't be null.
Please guide how the issue can be resolved

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-10-20 14:14] #9024 closed

[2018-10-20 14:16] gbjbaanb opened #9139 "AddTransient userstore and table?"
Why AddTransient and not AddScoped? Does this mean that every call to the Dapper sample is created, a new connection made, and then destroyed, multiple times within each call to a controller?

Is there a reason why Transient was used here, or is it just being safe with implementations that might not be as re-entrant as they could be?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-10-20 14:17] guardrex opened #9140 "Update Redis package"
Update the Redis package in the Prereqs section at 2.2 RTM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d01025d-86b2-bb2d-86c1-ef0695bc98e3
* Version Independent ID: 5b9a6572-3671-0d54-b2ef-83d04f8b3e96
* Content: [Work with a distributed cache in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/performan

[2018-10-20 14:19] guardrex commented on #9140
Will track this change on the 2.2 RTM issue that I opened earlier.

[2018-10-20 14:19] #9140 closed

[2018-10-20 15:07] guardrex opened #9141 "ANCM: Detect client disconnects and logging"
https://blogs.msdn.microsoft.com/webdev/2018/10/17/asp-net-core-2-2-0-preview3-now-available/#aspnetcoremodule

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe69b3a9-896f-e189-0c2c-f87ff735df9c
* Version Independent ID: 97c8549b-66ad-0a23-1971-784fb923042a
* Content: [ASP.NET Core Module configuration reference](https

[2018-10-20 15:42] harveytriana opened #9142 "Field names are lost in web client when object use MessagePack annotations"
When decores the class with MessagePack annotations, i.e., [MessagePackObject] and [Key(n)], the response in Web Client arrives without field names.

_Why do I have to use the annotations on the object? Because I need to transfer data to a Web Api, to then deliver the data by SignalR (I´m using WebAPIContrib.Core)_

e.g.
[code]
After use annotations: [MessagePackObject] and [Key(n)] the object arr

[2018-10-20 16:48] BrennanConroy commented on #9142
https://github.com/neuecc/MessagePack-CSharp#object-serialization The messagepack library docs show examples of how to preserve property names. `Key(#)` just does position, whereas `Key("string")` will preserve the name.

[2018-10-20 17:28] wadebee opened #9143 "Relationship between Windows Auth And AspNetCore Identity"
Could you please discuss the relationship between the two? Is Identity an abstraction that lays over Windows Auth? When building Intranet apps that could eventually end up outside the intranet what Identity interfaces might be helpful to incorporate? Looking for best practice/architecture style guidance. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-10-20 18:13] guardrex commented on #9143
@blowdart

[2018-10-20 18:14] guardrex commented on #9139
@blowdart

[2018-10-20 19:06] harveytriana commented on #9142
The solution in one line, -elegant.
[code]
Thanks a lot Brennan.

[2018-10-20 19:06] #9142 closed

[2018-10-21 18:42] ygoe opened #9144 "What happens with IHostedService.StopAsync when the cancellationToken is set cancelled?"
# Issue description

The documentation for IHostedService.StopAsync doesn't explain what the parameter is used for and what happens when it is used. Will the host just ignore these services and quit anyway? Or is this just an indication that we should hurry up? I don't know what to do with this parameter in my IHostedService implementation.

# Software versions

Check the .NET target framework(s)

[2018-10-21 19:36] guardrex commented on #9144
@Tratcher

[2018-10-21 22:07] rynowak commented on #8763
*I'm adding my own little summary here of what I think is the important information. Feel free to edit, rewrite and transform this into content that makes sense in the flow of the existing docs.* 👍

# Conceptual differences between Endpoints and Routes

Endpoint routing is a new routing and dispatching system that changes how frameworks like MVC and primitives like middleware interact. For most ap

[2018-10-21 22:37] rynowak commented on #8763
*I'm adding my own little summary here of what I think is the important information. Feel free to edit, rewrite and transform this into content that makes sense in the flow of the existing docs.* 👍

# Differences in behaviour between Endpoints and Routes (mostly link generation)

Endpoint routing is designed to be as compatible as possible with the experiences that application developers rely on f

[2018-10-22 03:44] rynowak commented on #8763
*I'm adding my own little summary here of what I think is the important information. Feel free to edit, rewrite and transform this into content that makes sense in the flow of the existing docs.* 👍

# Link Generator

Endpoint Routing provides a new API called `LinkGenerator` that performs URI generation. `LinkGenerator` is a singleton service that can be retrieved from DI, and it can be used outsi

[2018-10-22 03:45] rynowak commented on #8763
*I'm adding my own little summary here of what I think is the important information. Feel free to edit, rewrite and transform this into content that makes sense in the flow of the existing docs.* 👍

# Link Generator

Endpoint Routing provides a new API called `LinkGenerator` that performs URI generation. `LinkGenerator` is a singleton service that can be retrieved from DI, and it can be used outsi

[2018-10-22 13:36] rynowak commented on #8763
*I'm adding my own little summary here of what I think is the important information. Feel free to edit, rewrite and transform this into content that makes sense in the flow of the existing docs.* 👍

# Link Generator

Endpoint Routing provides a new API called `LinkGenerator` that performs URI generation. `LinkGenerator` is a singleton service that can be retrieved from DI, and it can be used outsi

[2018-10-22 14:53] Tratcher commented on #9144
StopAsync is intended for a graceful shutdown. The cancellationToken is used to indicate that your grace period has expired, you should abort any remaining operations, and return promptly.

[2018-10-22 15:03] ygoe commented on #9144
So if the ongoing tasks, even if I pass the cancellation on to them, won’t complete anytime soon, they’re still “allowed” to complete and won’t be left behind by not waiting anymore before terminating the process?

And as long as the cancellation token isn’t set, the host happily agrees with my service taking some time and there’s no need to hurry up and prefer ending things in an unsafe way?

Tha

[2018-10-22 15:06] ceddlyburge opened #9146 "Alternative configuration frameworks"
The Options pattern described here has some benefits and trade-offs, just like everything, and may not be the best fit for all cases.

Here are some other solutions for comparison
- [Config.net](https://github.com/aloneguid/config): lightweight, very simple and easy to use
- [RES.Configuration](https://hackernoon.com/taming-configuration-in-c-a2706b2d4741): medium weight, slightly more setup but m

[2018-10-22 15:25] CalumJEadie opened #9147 "Bearer Token Authentication"
Please could you expand on the recommendation that bearer token authentication is used rather than cookie based authentication in a non-browser scenario. We currently have a C# WPF desktop application using cookie authentication and are trying to establish the benefits and drawbacks of migrating to bearer token authentication on our usage of SignalR.

---
#### Document Details

⚠ *Do not edit this

[2018-10-22 15:28] rynowak commented on #8763
Sorry for the spam. You can blame the github outage for this I think. As I sat there whistfully resubmitting this all afternoon and evening. Note that the posts get more correct and complete over time.

[2018-10-22 15:35] TheDanishDynamo opened #9148 "Non-asp.net core support"
Does this work with .net (classic/non-core)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 765e611b-a170-db1a-fa50-2771d79b2732
* Version Independent ID: ef34ebdf-977a-b797-e263-cb32c1643272
* Content: [Cloud authentication with Azure Active Directory B2C in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/s

[2018-10-22 15:36] guardrex commented on #9146
Hello @ceddlyburge ... The engineers called upon us to focus this topic on the Options pattern that the framework provides. In the future, management or the engineers may decide to expand the coverage.

[2018-10-22 15:55] guardrex commented on #9148
Hello @TheDanishDynamo ... Some of the screens on the Azure portal side and some of the set up and underlying behaviors will be the same, but you'd be better off with a topic that pertains directly to a .NET Framework approach when it comes to the coding side of things. Did you see this one :point_right: https://docs.microsoft.com/azure/active-directory-b2c/active-directory-b2c-devquickstarts-web-

[2018-10-22 15:58] guardrex commented on #9148
@CamSoper Is that a good one? ... and would u like me to cross-link that (or a different one) into the topic? We have some boilerplate lying around the repo that I can use (i.e., 'for a .NET Framework approach, see ...').

[2018-10-22 16:40] blowdart commented on #9143
There is no relationship. If you are using Windows Auth then AD is the source of truth. Identity doesn't enter into it. We don't recommend mixing the two if you're going for extranet scenarios, instead look at federation via Azure B2C, ADFS or Identity Server.

[2018-10-22 16:41] blowdart commented on #9139
Safety, because we don't know what database tech you're going to be using.

[2018-10-22 17:00] Tratcher commented on #9144
Right, the caller does not abandon tasks, it will wait for you.

FYI there's a default 5 second timeout the host sets on that cancellationToken.

[2018-10-22 18:12] Rick-Anderson commented on #7380
@CamSoper @scottaddie 	is this something you could do?
cc @guardrex

[2018-10-22 18:17] anurse commented on #9147
What kind of expansion are you looking at? Cookies are generally not a great option for non-browser clients since they are difficult to manage. If you are using Cookies today and it's working then you're certainly able to continue doing so. Cookies also require that you go to the site itself to acquire a token whereas Bearer tokens can be issued by all sorts of authentication systems (Azure AD, OA

[2018-10-22 18:34] Rick-Anderson commented on #9131
@sehulugh 	thanks - I'll pass this on to the folks who build the docs.

[2018-10-22 18:34] #9131 closed

[2018-10-22 18:44] tytremblay opened #9149 "React-with-Redux project template with ASP.NET Core fails to launch after publish"
After setting up a new React-with-Redux template, I can successfully run the application in debug mode, but running the application after publishing fails:

Steps to reproduce:
1. `dotnet new reactredux`
2. `dotnet publish -c Release -r win10-x64`
3. Navigate to destination folder (`[appDirectory]\bin\Release\netcoreapp2.1\win10-x64\publish\`)
4. `dotnet [appName].dll`

Result:
[code]

[2018-10-22 18:46] #7720 closed

[2018-10-22 19:39] ygoe commented on #9144
Ok, thanks for the clarification. Might be helpful to read that in the documentation.

[2018-10-22 19:52] guardrex commented on #9144
Thanks @ygoe ... I'll see what I can do here. I'm 🏃🏃🏃 at the moment, so it will probably take a few weeks (_or months!_ 😅). I'll get to this asap.

[2018-10-22 19:59] matteberna commented on #8440
If someone's still confused, I'd like to add that in @rjax's reply the **/Areas/Identity/Pages/Account/Manage/**_ViewStart.cshtml

[code]

didn't work in my case (Rider 2018.2.3) because it was pointing to the _Layout.cshtml in **/Pages/Shared/**

![1](https://user-images.githubusercontent.com/16237729/47315238-48111780-d644-11e8-8a4a-6fee9860554f.png)

but adding ```.cshtml``` seems to fix the pa

[2018-10-22 20:08] mtsiakiris commented on #8270
If both of you spent all this time to improve the topic instead of trying to find reasonable arguments to each others pride, this could have been by far a truly explanatory article.
BTW, if you or someone you know, have ever programmed (any language) back in 1996, then, you must be respectful that you are able to find even a little piece of code to help you out on numerous web sites. Also, back th

[2018-10-22 21:03] HaoK commented on #8825
At the lowest level every `IAuthenticationHandler` is given a chance to look at every requirement (the default implementation of `AuthenthenticationHandler<TReq>` is what's doing the filtering underneath the covers to only surface TReq).

The glue as you put it is only in some of the implementations to make it easier for the normal case where there's a 1:1 Handler/Req coupling.

There's nothing pr

[2018-10-22 21:05] HaoK commented on #8825
Regarding the `[Authorize]` that just allows you to specify a policy name, which basically boils down to an Authorize call with the requirements in the policy which all registered  `IAuthorizationHandlers` in DI have a chance to handle.

[2018-10-22 21:18] RahulBansalIndia opened #9150 "Caching of response in getData function of site.js"
The result from getData function (in site.js) gets cached so after Add, Edit and Delete operations it shows the same data in the HTML table. So its better to add "cache:false" option to ajax call inside the getData function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version I

[2018-10-22 21:35] dcarapic commented on #8270
@mtsiakiris
Sorry but I do not understand your point. In my opinion the documentation page is not good and this is what I wrote. The documentation writer asked to elaborate. I elaborated and then he gave some more feedback. This resulted in him adding the documentation 'update' to the backlog.
Regarding your remark: 'both of you spent all this time to improve the topic...' - I am not the one who c

[2018-10-22 21:49] guardrex commented on #8270
I'll move the priority up ... give us a little time tho. The docs team needs to get past the 2.2 release. We're all 🏃 running full speed right now on 2.2 issues.

Anyone can submit a PR to improve a doc. If anyone needs help beyond https://github.com/aspnet/Docs/blob/master/CONTRIBUTING.md, please ping any of us on the docs team.

[2018-10-22 21:52] #9117 closed

[2018-10-22 21:55] Rick-Anderson commented on #8545
@DarrenGansberg 	the project that's using the EF tools.

[2018-10-22 21:59] mtsiakiris commented on #8270
Yes, that's what I was just writing down. Improving the documentation can be done by suggesting corrections, clarifications, additions, etc. and not by directly editing it, just a PR will trigger the process. I think that the majority of the comments, hides some irony from both sides witch is something that is not helping me. From the moment you took all this time for the elaborations, I still don

[2018-10-22 22:35] CalumJEadie commented on #9147
Thanks very much Andrew for such a fast and helpful response.

Reading over the docs, we thought perhaps there was a specific benefit to using bearer tokens (without using cookies as the transport mechanism) that would specfically impact aspects of SignalR such as performance or scalability, aside from the general considerations around designing Web APIs.

If I understand correctly, aside from the

[2018-10-22 22:40] anurse commented on #9147
Yeah, SignalR isn't much different from a standard Web API for most things.

This is one area where there are some additional considerations with SignalR. A SignalR connection is persistent and often uses one long-running WebSocket request. We authenticate the token when the connection is established but don't **reauthenticate** while the connection is running. This means that if you revoke the to

[2018-10-22 23:02] MarneeDear commented on #6534
Is this true by default?
<IsTransformWebConfigDisabled>true</IsTransformWebConfigDisabled>

I published my app with dotnet publish and no web.config file was created.

Please explain this section like I am 5.

[2018-10-22 23:03] MarneeDear commented on #6534
IsTransformWebConfigDisabled>true</IsTransformWebConfigDisabled

[2018-10-22 23:09] guardrex commented on #6534
@MarneeDear If you set ...

[code]

... your *web.config* won't be touched when you publish.

Does your project file specify the `Sdk.Web`? ...

[code]

[2018-10-22 23:35] tdykstra commented on #9147
I don't see that last point explained in the doc; I'll add it.

[2018-10-23 01:55] nvmkpk opened #9153 "External account only"
What if I do not want use local account login and only use external accounts to login?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4c264c0-0c5c-298e-bb45-9b4891c8d162
* Version Independent ID: ce69b990-0b4c-abda-cd2d-68f85cd8031e
* Content: [Microsoft Account external login setup with ASP.NET Core](https://docs.mic

[2018-10-23 02:28] scottaddie opened #9154 "Update Azure Pipelines content in eBook"
Use Azure CLI and YAML, where possible, to replace screenshots.

[2018-10-23 03:26] guardrex opened #9156 "Surface bootstrapping of Program.Main"
See https://github.com/aspnet/Docs/pull/9044#discussion_r227208239

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 793395fe-c738-22ce-d0e9-29a850c0fa88
* Version Independent ID: 0546ce3a-3258-9817-0f3f-13281c2f55da
* Content: [Application startup in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals

[2018-10-23 03:28] scottaddie commented on #7380
@Rick-Anderson I can take care of it. There's a meeting tomorrow to discuss. We may be able to simply link to the existing Azure .NET dev center doc.

[2018-10-23 03:37] Rick-Anderson commented on #9153
Are you asking how to disable the creation of local accounts? If so, scaffold Identity and remove or comment out the code to create local accounts.

[2018-10-23 04:00] 1944GPW opened #9157 "Just someone wanting a tiny part of the Docs."
Would you be able to indicate the approximate sizes of downloads next to the links please.
I came here for the ASP.Net Core samples only to find Docs-master.zip is a half-gigabyte download.
Some of us are in places with more costly bandwidth than others. Docs-master.zip was corrupted after it came down so
do I really want to waste another half gig on it again? All I want is the examples, as the re

[2018-10-23 04:41] Rick-Anderson commented on #9157
Thanks for the feedback. We're working on this.

[2018-10-23 10:22] mariashahid commented on #9138
I have tried downloading the samples available on GitHub. But unfortunately the projects for asp.net core update  2.0 won't  compile due to having references to asp.net core update 2.1 and the projects for core update 2.1 do not have instructor pages implementation.

Please help resolve this issue.

[2018-10-23 10:56] wgutierrezr commented on #6347
I tried Custom Validation regarding this post and it the Controller/Action is never called (where I have my validation code). I have my project ASP.Net Core 2.1.5 MVC

[2018-10-23 11:40] guardrex opened #9164 "Improve HTTPS config section of Windows Service topic"
https://github.com/aspnet/Hosting/issues/1573#issuecomment-432112672

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0bd8cb8-7e28-8c4d-a550-3aea8f3ab4dd
* Version Independent ID: 4b60d24e-ef05-15e5-10b4-483094081bf3
* Content: [Host ASP.NET Core in a Windows Service](https://docs.microsoft.com/en-us/aspnet/core/host-an

[2018-10-23 13:44] tytremblay commented on #9149
This seems to be an issue with my system as my colleague was not able to reproduce the issue.

[2018-10-23 13:44] #9149 closed

[2018-10-23 14:03] sharyex opened #9165 "Incomplete code samples"
The code samples do not contain almost half of the code presented on this page, e.g. the actual sign in and cookie creation parts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2229fc6-f8c8-952e-e567-b1d5a463055a
* Version Independent ID: b18a015b-914d-f014-f711-120d208904d9
* Content: [Use cookie authentication with

[2018-10-23 14:07] Zaknokimi opened #9166 "Why does only Course.cs have [DatabaseGenerated(DatabaseGeneratedOption.None)]?"
Why does Student.cs and Enrollment.cs not have this data annotation? I think the point for having this can either be clarified better or explained since Enrollment.cs has a primary key for EnrollmentID but it doesn't require this annotation.

[2018-10-23 15:52] ferarias opened #9167 "Example in Create filter rules is incorrectly highlighted"
Example code in https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.1#create-filter-rules-in-configuration has the highlight in curly brace instead of the correct line (the next one)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independen

[2018-10-23 16:05] guardrex commented on #9165
Hello @sharyex ... The sign-in bits are in the `OnPostAsync` method of the *Login.cshtml.cs* file. Since a dev would supply their own auth logic (i.e., not use Identity), we have a stub method set up for `AuthenticateUser` down at the bottom of the class. It returns an [ApplicationUser](https://github.com/aspnet/Docs/blob/master/aspnetcore/security/authentication/cookie/samples/2.x/CookieSample/Da

[2018-10-23 16:07] guardrex commented on #9167
Thanks @ferarias ... I'll do a quick patch on that.

[2018-10-23 16:19] #9167 closed

[2018-10-23 16:49] anurse opened #9171 "Add authentication docs to Java Client docs"
Related: https://stackoverflow.com/questions/52930429/azure-signalr-service-with-native-android-app

We need to show how to configure the `accessTokenFactory` in the Java Client using `Single.defer`.

cc @mikaelm12

[2018-10-23 17:02] nvmkpk commented on #9153
Thanks @Rick-Anderson for the reply. Yes, I want to disable all the UI related to that local accounts. When the user tries to access the page which requires authentication, I want the browser to be redirected to the external account login page and upon completion of login, the browser should be at the original page. I still want to store the user details in database to manage authorization to vari

[2018-10-23 17:22] kevbry opened #9172 "Link for Data Protection API setup script is broken"
Under "Data Protection" -&gt; "Create Data Protection Registry Keys", there is a link to a powershell script.
1. The link is currently broken. The aspnet/dataprotection repo is also deprecated.
2. Should probably link to the 2.1 script since this is the 2.1 doc, even if nothing has changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-10-23 17:31] guardrex commented on #9172
Thanks for reporting this @kevbry ... I'll get right on it. 🏃

[2018-10-23 18:03] TRegan3 opened #9176 ""Name" is always null, "IsComplete" is always false."
I followed this tutorial step-by-step up the test of the "Create" method.  When post the described json from Postman to the Create method the "Name" property of the TodoItem is always null, and "IsComplete" is always false.  Obviously I'm doing something wrong.  The sole difference with my setup is that I'm using https.  Is another step needed to use https?  I did turn off  SSL Cert Verification a

[2018-10-23 18:14] TRegan3 commented on #9176
I found if I prepend the [FromBody] attribute to the Create method argument it works:

public IActionResult Create([FromBody]ToDoItem item)

Why do I need to add the [FromBody] attribute?

[2018-10-23 18:48] theangellmethod commented on #9119
It seems like if you have something like:
wwwroot
--css
--images
--js
--index.html

that within the index.html you do not need to use the ~ to reference other items in the wwwroot.  This would match what I am seeing and the tutorial.  Is that true?

[2018-10-23 19:14] scottaddie commented on #9176
@TRegan3 Are you targeting .NET Core 2.1? `[FromBody]` is implied when targeting 2.1, which is why it's not shown in the tutorial's code snippet. If you're targeting .NET Core 2.1, please set the 2.1 compatibility flag in `Startup.ConfigureServices`:

[code]

[2018-10-23 19:29] kienlamb commented on #8974
Is this generated token using the time based token provider so it would have to be renew in about 3 minutes?

[2018-10-23 19:32] HaoK commented on #8974
I'm not sure what the question is, there is a ResetPasswordAsync method:

https://github.com/aspnet/Identity/blob/master/src/Core/UserManager.cs#L908

[code]

[2018-10-23 19:34] HaoK commented on #8974
The default reset password token is using the email based one which ha 24 hour expiration @kienlamb but its configurable which token provider is used

[2018-10-23 19:34] TRegan3 commented on #9176
That's odd.  Yes, I'm targeting 2.1 and yes, I have that line in my Startup.ConfigureServices (I'm following the tutorial very strictly).  Yet and still I must use the [FromBody] Attribute for this to work.  Is there anything else I could be doing wrong?  I'm using Visual Studio 2017 version 15.8.7 and the latest version of Postman.  I'm running this on my local host, which launches a Chrome brows

[2018-10-23 19:39] TRegan3 commented on #9176
Sorry, I see now, I was missing the [ApiController] attribute on the Controller class.

[2018-10-23 19:39] #9176 closed

[2018-10-23 19:56] Rick-Anderson commented on #9138
Update the project file to the following
[code]

[2018-10-23 19:58] #9138 closed

[2018-10-23 19:59] Rick-Anderson commented on #9138
I checked in the project update. The download code works on instructor edit.

[2018-10-23 20:05] Rick-Anderson commented on #8742
For file uploads, you'd normally want an UI - so Web API wouldn't be the right place. Closing issue.

[2018-10-23 20:05] #8742 closed

[2018-10-23 20:05] #8346 closed

[2018-10-23 20:51] Rick-Anderson commented on #9119
You do. For example, in the layout file
`<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />`

[2018-10-23 20:52] pcoppney opened #9179 "CosmosDb"
This is a great tutorial.  It would be nice to have this with CosmosDb (SQL api) as the data store.  I have not found a tutorial this complete for .net core, EF, sql api.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
*

[2018-10-23 21:07] guardrex commented on #9141
@jkotalik Can you confirm that the location (`CONSOLE`, `FILE`, and `EVENTLOG`) is a flag set with the level (`ERROR`, `WARNING`, `INFO`, or `TRACE`) in the `debugLevel` handler setting?

For example ...

[code]

If so, we can get any processing rules for the flags squared away on the PR. I'll have it in shortly.

[2018-10-23 21:12] CamSoper commented on #8552
I *think* we've got this doc fixed. The fixes in #8688 should cover it. Closing for the moment, but if people are still having trouble, please let me know.

[2018-10-23 21:12] #8552 closed

[2018-10-23 21:16] guardrex commented on #9141
That's the part that's a little confusing. For example, I saw this note ...

[code]

https://github.com/aspnet/IISIntegration/blob/release/2.2/src/AspNetCoreModuleV2/CommonLib/debugutil.cpp#L113

I'll ping u on the PR and then we can see what's right/wrong with the draft.

[2018-10-23 21:18] jkotalik commented on #9141
Whoops meant to delete that part.

[2018-10-23 21:59] AngelosP opened #9181 "The title of the article isn't specific enough (hard to find with Google/Bing)"
This article is explaining how to troubleshoot startup errors in Azure App Service. This is good content, but the title doesn't accurately reflect the contents. As a result it's really hard to find this article through a Google/Bing search or even through a TOC search. I suggest the title is renamed to "Troubleshoot ASP.NET Core startup errors on Azure App Service"

---
#### Document Details

⚠ *D

[2018-10-23 22:13] guardrex commented on #9181
Seems like a good idea to me.

@Rick-Anderson @scottaddie @tdykstra Thoughts?

[2018-10-23 22:18] kienlamb commented on #8974
I have the setting below and ran into the approximately 3 minutes issue when resetting password.
 options.Tokens.PasswordResetTokenProvider = TokenOptions.DefaultEmailProvider;

We are running our services inside docker containers and don't have a shared encryption key so switching to time based does work solve our password reset problem but limited to this ~3 minutes constraint.  I think the righ

[2018-10-23 22:29] theangellmethod commented on #9119
In this sample, https://github.com/aspnet/Docs/blob/master/aspnetcore/tutorials/first-web-api/samples/2.1/TodoApi/wwwroot/index.html, it shows

`<script src="site.js"></script>`

- what is the difference between that and the bootstrap example above?

[2018-10-23 22:34] guardrex commented on #9181
Yes, sounds good ... just want to make sure we intend to continue to point out to the Azure docs for post-startup monitoring and troubleshooting.

When I make this update (after we've collected more team feedback), I'll leave the TOC alone.

[2018-10-23 23:17] Rick-Anderson commented on #9119
That should be fixed.

[2018-10-23 23:33] Rick-Anderson opened #9182 "Remove PDFs"
- [ ] Delete corrupt PDFs
- [ ] move PDFs outside repo

[2018-10-23 23:34] #9141 closed

[2018-10-23 23:36] Rick-Anderson opened #9183 "Split ASP.NET and ASP.NET Core into two repos"
[Internal tracking issue](https://mseng.visualstudio.com/CSI/_workitems/edit/1250565/?triage=true)

[2018-10-23 23:41] Rick-Anderson opened #9184 "Update .gitignore"

[2018-10-24 00:01] Rick-Anderson opened #9186 "Remove wwwroot assets (CSS/JavaScript/images/lib) from samples that don't need them"
Only the following on boarding tutorial samples will contain wwwroot assets:

- Create a Web API
- Create a Razor Pages web app
- Create a web app with ASP.NET Core MVC
- Tutorial: Get started with ASP.NET Core SignalR
- EF/RP intro

The remaining samples will contain *README.ME* explaining how to acquire the assets.

@danroth27 	will be mentioned on all PRs

[2018-10-24 00:56] Rick-Anderson commented on #9186
@danroth27 	mentioned today it would be really bad if someone had to get the wwwroot contents for a sample. I don't think it's that problematic compared to rewriting the tutorials so they don't depend on wwwroot. You could use the following instructions.

- Generate wwwroot assets: `dotnet new webapp -o ContosoUniversity`
- copy wwwroot folder to sample.

@danroth27 	please respond.

[2018-10-24 00:58] #9119 closed

[2018-10-24 01:01] danroth27 commented on #9186
I would recommend something different. For many samples you really don't need much for the UI. For example, if you're demonstrating config or options or DI you can just use some raw HTML. It doesn't have to be pixel pretty. My suggestion is to dramatically simplify samples to focus on the feature they are trying to demonstrate.

[2018-10-24 01:39] Rick-Anderson commented on #9186
@danroth27 	OK, that will be the new policy. When topics/samples are updated we'll remove the dependency on wwwroot assets. That means we won't make non-trivial progress on removing wwwroot assests in the next 6 months.

[2018-10-24 01:55] akki-s commented on #6347
Facing the same issue. Custom Validation Attribute is never triggered.

[2018-10-24 02:01] Rick-Anderson commented on #8622
Sounds great.

[2018-10-24 07:39] Praveen-Rai commented on #7813
@scottaddie , @Rick-Anderson Any updates on this issue ?

[2018-10-24 09:07] msaadsaif5 commented on #8627
I'm facing the same issue. Following is my dotnet --info

[code]

And I installed Code Generation package using
`dotnet add package Microsoft.VisualStudio.Web.CodeGeneration.Design --version 2.1`

[2018-10-24 11:08] piquet-h opened #9193 "dotnet-install.sh not downloading latest sdk"
Running a dotnet install from the shell I get a similar issue to #8794

[code]

It should be 2.1.403 given the command line options of -c Current -v latest being passed to dotnet-install.sh

When running dotnet test on a project referencing 2.1.5 I get the following

[code]

But if I download and install on Windows manually rather than scripted on Linux it works.

[2018-10-24 12:09] Misiu commented on #8816
Maybe version 6 can be skipped?
Angular 7 is already out - https://blog.angular.io/version-7-of-angular-cli-prompts-virtual-scroll-drag-and-drop-and-more-c594e22e7b8c

[2018-10-24 12:33] guardrex commented on #9193
Hello @piquet-h, could you open that over on the aspnet/Home issues? ... https://github.com/aspnet/AspNetCore/issues

[2018-10-24 12:46] TRegan3 commented on #9176
Yes, and I should point out it was part of the tutorial that I copied and pasted, I must have inadvertently deleted that attribute when I was making changes.

[2018-10-24 13:58] austvik opened #9194 "Multiple handlers for a requirement: parallell async with fast bail out?"
multiple handlers for a requirement: Say you have several async ones, going against AAD or databases.
Can you get them to be evaluated in parallell, and cancel others after the first one succeeds?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1141d92-adeb-6841-229f-914c808f9a2b
* Version Independent ID: 7089b376-949f

[2018-10-24 14:17] sirgallifrey opened #9195 "Https error."
When I try the first set o commands:

dotnet new webapp -o RazorPagesMovie
cd RazorPagesMovie
dotnet run

I get and error about https:

Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]
      User profile is available. Using '/home/adilson/.aspnet/DataProtection-Keys' as key repository; keys will not be encrypted at rest.
crit: Microsoft.AspNetCore.Server.Kestrel[0]
      Unable t

[2018-10-24 15:43] tdykstra commented on #9186
I don't follow what you mean by a style tag paste-in.

[2018-10-24 15:47] tdykstra commented on #9186
This should be a project by project process; git-ignoring the entire wwwroot folder seems like it might create more problems than it will solve.

[2018-10-24 15:49] guardrex commented on #9186
\<style> ... styles to make the page look like it wasn't built in *1995!* :smile: lol ... \</style>

[2018-10-24 16:01] guardrex commented on #5314
@Rick-Anderson @scottaddie @tdykstra I'm ready to proceed on this issue today, but let me get the word on if there was a design change. The last info that I have is **_no version on the App package_** ...

https://github.com/aspnet/Docs/issues/8579#issuecomment-424548306
https://github.com/dotnet/sdk/pull/2533

[2018-10-24 16:14] JohnnyWestlake opened #9197 ""Enable QR Code generation for TOTP authenticator apps in ASP.NET Core" page blank."
As it says, there's nothing here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 117c950a-0bcb-d936-31cf-5859b4280abb
* Version Independent ID: 270bedc7-a636-5bd0-9e2f-e42235deec8c
* Content: [Enable QR Code generation for TOTP authenticator apps in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/au

[2018-10-24 16:15] #9197 closed

[2018-10-24 16:21] tdykstra commented on #9186
If you just mean a snippet of HTML markup that we can copy and paste, I'd say go ahead and if it's something we'd use in many samples we could store it in https://github.com/aspnet/Docs/blob/master/CONTRIBUTING.md

[2018-10-24 17:21] danroth27 commented on #9186
@guardrex Having some *simple* styles that we can use in samples without bringing in all of bootstrap and jquery sounds like a reasonable idea.

[2018-10-24 17:41] JranZu opened #9200 "Old Docs link is wrong"
The old documentation here: https://docs.microsoft.com/en-us/aspnet/signalr/overview/getting-started/introduction-to-signalr
links to the wrong page (it goes to getting started, instead of this page)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a26c63dd-9fdc-7d8d-aec4-4343807ee312
* Version Independent ID: 1986d76e-6

[2018-10-24 17:47] guardrex commented on #9200
Thanks @JranZu ... I'll re-point that link.

[2018-10-24 18:47] #9200 closed

[2018-10-24 19:08] #9150 closed

[2018-10-24 19:20] guardrex commented on #9186
kk ... here's an I-dear.

The following styles would have us perform the following for any `dotnet new` template sample ...

1. Kill the navbar (if the sample requires links, put them at the top of the layout).
1. Kill the footer.
1. Drop rows and columns from pages. (Leave the panels alone.)
1. Add the `<style>` tag to the `<head>` of the *_Layout.cshtml* file.

The doc author might need to make

[2018-10-24 20:33] guardrex commented on #9195
Hello @sirgallifrey ... Did you try re-installing the SDK? You should get the dev cert via the SDK installer.

[2018-10-24 21:05] danroth27 commented on #9186
For what it's worth, LGTM :smile:

[2018-10-24 21:07] guardrex commented on #9186
I'll test each time to make sure this works. We might (or **_probably_**) need to tweak it. It looks soooooooo much better than raw HTML tho. 😀

[2018-10-24 21:12] danroth27 commented on #9186
and it's soooooooo much smaller! :tada:

[2018-10-24 21:13] #8702 closed

[2018-10-24 21:16] vanthoainguyen commented on #8732
Changing a method from none virtual to virtual just to mock/test is also a scourge in the code base. I think having that queue interface allows whoever want to switch to a real broker rather than in-memory queue :)

[2018-10-24 21:22] #5314 closed

[2018-10-24 21:36] spacecat commented on #8768
Not entirely sure what you guys are discussing BUT for production  environments SEO should rule over the tech and not the other way around.

Nowhere reading about permanent redirects have I seen that temp redirect should be used over a 301.

[2018-10-24 21:45] guardrex commented on #8768
@spacecat That's what we were discussing. I put a bit into the topic to describe to readers who want perm redirects in production to get perm redirects in production. It's landing soon. If u want to see that language now, see the *aspnetcore/security/enforcing-ssl.md* file updates on https://github.com/aspnet/Docs/pull/9044.

[2018-10-24 22:01] daveabrock commented on #8574
Sorry @spottedmahn - I'm working on the doc and thought I would just take care of this one.

[2018-10-24 22:41] Rick-Anderson commented on #7813
@Praveen-Rai 	we hope to get to this issue early next year. You'll probably get a faster answer on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter.

[2018-10-24 22:42] Rick-Anderson commented on #7813
There's alot of blogs on this if you want to search on **ActionResult types**

[2018-10-24 23:16] #8574 closed

[2018-10-24 23:17] #8495 closed

[2018-10-24 23:29] HaoK commented on #9194
We don't have any support for this in box, but you could probably drop in your own implementation of IAuthorizationService to implement this:

https://github.com/aspnet/Security/blob/master/src/Microsoft.AspNetCore.Authorization/DefaultAuthorizationService.cs#L80

[2018-10-25 00:31] Rick-Anderson commented on #9166
The article explains that in this case we want to select the PK, not the DB.

[2018-10-25 00:33] spottedmahn commented on #8574
nice, thanks @daveabrock!

[2018-10-25 00:34] Rick-Anderson commented on #7224
@CamSoper 	 is this something you can do in the next two sprints? If not, @scottaddie 	can take it.

[2018-10-25 01:00] Rick-Anderson commented on #5450
@natemcmaster 	@glennc 	do you have any samples/content we can start with?

[2018-10-25 02:16] dannevesdantas opened #9205 "Suggestion to use EF 2.1 Seed feature on MvcMovieContext instead"
EF Core 2.1 brings back seed support by overriding the OnModelCreating method of a database Context class, same way as the "old" EF does. So it’s not required anymore to create a separate Initialize class and call it on Program.cs as the current tutorial does, the MvcMovieContext is now able to seed data (the same way as the old MVC 5 tutorials does). Moreover, I personally believe it would reduce

[2018-10-25 02:43] Rick-Anderson commented on #9205
@divega what's the best practice to seed the DB from an ASP.NET Core app?

[2018-10-25 02:51] daveabrock opened #9207 "Register database context section misplaced"
It should be grouped with the code sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b34c4871-adc3-0d13-6f20-6f6ac1f65e91
* Version Independent ID: ea1742b3-808b-d449-3308-6847a9f339f9
* Content: [Add a model to an ASP.NET Core Razor Pages app with Visual Studio Code](https://docs.microsoft.com/en-us/aspnet/core/t

[2018-10-25 02:56] Rick-Anderson commented on #7167
@CamSoper

[2018-10-25 02:58] Rick-Anderson commented on #7995
@sayedihashimi 	how do you  enable SSL/https in Visual Studio for Mac?
Let me know and I'll get this updated.

[2018-10-25 02:59] #7913 closed

[2018-10-25 02:59] #7933 closed

[2018-10-25 03:00] Rick-Anderson commented on #7587
Closing as it looks like this works with 2.1

@CaspianCanuck 	thanks for responding.

[2018-10-25 03:00] #7587 closed

[2018-10-25 03:30] Rick-Anderson commented on #6971
@NTaylorMullen please review

[2018-10-25 03:32] Rick-Anderson commented on #7709
@RyanTaite 	there's lots of other issues we'd appreciate your help on. Almost every issue is available, even if it's assigned to someone.

[2018-10-25 04:48] Rick-Anderson commented on #7405
@dougbu 	please respond.

[2018-10-25 05:09] dougbu commented on #7405
@blink2linkme

If you're calling into another class from `Startup.Configure(...)`, the only thing calling `UseHsts()` requires is that you've got the `IApplicationBuilder` and a `using Microsoft.AspNetCore.Builder;` statement in the called class.

[2018-10-25 05:30] Tratcher commented on #7025
Me or @PinpointTownes 😁

[2018-10-25 05:44] JunTaoLuo opened #9210 "Certificate requirements for HTTP/2 TLS negotiation on Windows Server 2012R2/Windows 8.1"
This came up when we were adding interop tests in Kestrel: https://github.com/aspnet/KestrelHttpServer/issues/3027. The issue we found was that for the HTTP/2 minimum security requirements to be met on Windows Server 2012R2/Windows 8.1, a certificate that was generated using an Elliptical Curve based (ECDSA) key algorithm is required. This requirement is not needed for Windows 10 and is not requir

[2018-10-25 05:45] JunTaoLuo commented on #9210
cc @Rick-Anderson

[2018-10-25 06:01] JunTaoLuo commented on #9210
FYI the HTTP/2 cipher suite black list is at https://tools.ietf.org/html/rfc7540#appendix-A.

[2018-10-25 09:50] biiiipy opened #9212 "Windows Authentication on Nano Server"
It should be mentioned in the docs that Windows Authentication won't work on Nano Server, only Server Core (which is a quite sad). Link - https://github.com/aspnet/aspnet-docker/issues/398

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401ad9a0-9e51-80a2-5846-82e9790d7257
* Version Independent ID: fbc36c26-9992-1f4c-66

[2018-10-25 14:56] sirgallifrey commented on #9195
I had tried
[code]
Unfortunately I didn't saw that `dev-certs https` had produced an error asking me for libhostfxr.so:

If this is a self-contained application, that library should exist in [/home/adilson/.dotnet/tools/.store/dotnet-dev-certs/2.1.1/dotnet-dev-certs/2.1.1/tools/netcoreapp2.1/any/].
If this is a framework-dependent application, install the runtime in the default location [/usr/shar

[2018-10-25 15:26] natemcmaster opened #9214 "Enhance WS topic with FDD scenario"
This article currently specifies that self-contained is required, which is not exactly true. Framework-dependent apps can be used to run Windows services as well. With .NET Core 2.0 and older, this requires setting up the service to run `dotnet.exe foo.dll`. With .NET Core 2.1 and newer, users have an additional option -- framework dependent executables (`foo.exe`). In the 2.1 SDK, this feature is

[2018-10-25 15:34] #8265 closed

[2018-10-25 15:42] Tratcher commented on #9210
Related: https://github.com/aspnet/Extensions/issues/432 Dev cert updates.

[2018-10-25 15:52] danroth27 commented on #8139
@RickAndMSFT This needs to be done as part of the 2.2 doc effort.

[2018-10-25 16:00] guardrex commented on #9214
1. What's the recommendation for 2.1 or earlier? Should we just link over to the [App deployment topic](https://docs.microsoft.com/en-us/dotnet/core/deploying/), where the pros and cons of each are described and let the dev base their decision on that content?
1. WRT FDE (since 2.1): Is that only available for services and not available for other deployments of .NET Core apps? Is there a plan to c

[2018-10-25 16:10] guardrex commented on #9195
@shirhatti Can you help us triage this?

[2018-10-25 16:21] natemcmaster commented on #9214
1. I think linking to that deployment doc and helping people understand the tradeoffs is good enough. There are advantages each way: isolation vs servicing, app size vs dependencies, etc.
2. FDE: I also didn't see anything in https://github.com/dotnet/docs/issues on the subject. @peterhuene @livarcocc are there already plans to document framework dependent executables?
3. IMO later this year is fi

[2018-10-25 16:34] pranavkm commented on #7167
Support for wildcard subdomains is a feature of the ASP.NET Core CORS middleware, not actually part of the CORS (fetch) spec. My guess is the Azure service (is this Azure App Services) does not support this feature.

[2018-10-25 17:02] guardrex commented on #9212
Thanks for the heads-up @biiiipy.

[2018-10-25 17:07] shirhatti commented on #9195
@sirgallifrey What OS are you on? How did you acquire the shared runtime?

[2018-10-25 17:33] sirgallifrey commented on #9195
@shirhatti I use Archlinux and I installed the runtime from the official Arch package repository.

Dotnet packages installed: `dotnet-host` `dotnet-runtime` `dotnet-sdk`

https://www.archlinux.org/packages/?sort=&q=dotnet&maintainer=&flagged=

[2018-10-25 17:37] RyanTaite commented on #7709
@Rick-Anderson I'm not sure how much time I can put towards it, but I'm happy to help where I can. I'll check out the issues and see if there is anything I understand well enough to contribute to.

[2018-10-25 17:44] sirgallifrey commented on #9195
I'll see to file a bug report on the Arch package asking them if it's possible to move the installation to the default location.

[2018-10-25 17:48] shirhatti commented on #9195
@leecow Who owns the arch package?

[2018-10-25 17:51] Boxarve commented on #7615
This fixed my issue:

Make sure to install
    Microsoft.EntityFrameworkCore.SqlServer
    Microsoft.EntityFrameworkCore.Design

https://stackoverflow.com/questions/49521315/cannot-add-migration-with-asp-net-core-2

[2018-10-25 17:51] sirgallifrey commented on #9195
They have **Maxime Gauduin** listed as maintainer

[2018-10-25 18:17] jovvybersamin opened #9216 "asp-controller and asp-action tag helper not working in ViewComponent."
[code]
I added this in my NavigationMenuViewComponent but it didn't generate an href attribute.

This is my _ViewImports.cshtml

[code]

My Startup file for routes.

[code]

[2018-10-25 18:26] #9156 closed, assigned to guardrex

[2018-10-25 18:35] guardrex opened #9217 "Fix versioning and UE pass"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e930c44-70f6-8820-1451-d1f781ded7a0
* Version Independent ID: 6a25fc79-b9b3-4bbf-4fde-8e44b3d8014e
* Content: [ASP.NET Core Razor SDK](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/sdk?view=aspnetcore-2.1)
* Content Source: [aspnetcore/razor-pages/sdk.md](htt

[2018-10-25 18:54] #9217 closed

[2018-10-25 18:57] danroth27 opened #9219 "Clarify that with 2.1 you should not specify an explicit version when using the .All package"
We currently document that starting with 2.1 that you should not specify an explicit package version when using .App and we recommend using .App instead of .All, but for customers that are still using .All we should also recommend that you should not specify an explicit version just like with .App.

[2018-10-25 19:13] guardrex opened #9221 "Change tokens link updates"
The topic moved and three links need a quick update ...

* aspnetcore/performance/caching/memory.md
* aspnetcore/performance/caching/middleware.md
* aspnetcore/performance/caching/response.md

[2018-10-25 19:20] mikaelm12 commented on #8991
Guidance provided here: https://github.com/aspnet/Docs/pull/9112

[2018-10-25 19:20] #8991 closed

[2018-10-25 19:22] #9221 closed

[2018-10-25 20:36] #9172 closed

[2018-10-25 21:09] guardrex opened #9226 "New doc and sample: Convert a project into a Windows Service"
From discussion on https://github.com/aspnet/Docs/pull/9169 ...

@blowdart ...

@Tratcher ...

@blowdart ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0bd8cb8-7e28-8c4d-a550-3aea8f3ab4dd
* Version Independent ID: 4b60d24e-ef05-15e5-10b4-483094081bf3
* Content: [Host ASP.NET Core in a Windows Service](https://docs

[2018-10-25 21:25] #9093 closed, assigned to guardrex

[2018-10-25 22:34] #8184 closed

[2018-10-25 23:07] Tratcher commented on #7025
Regarding generic OAuth:
The Microsoft.AspNetCore.Authentication.OAuth package has common components used to develop provider specific authentication handlers (e.g. Facebook, Microsoft, etc..). However, the base OAuth2 components can also be used directly if implementing a derived handler is not desired.

There are two different levels of direct use. The first level can be used to get access token

[2018-10-25 23:31] Lauralius commented on #8411
To launch, I had to make that line be

public static IWebHost BuildWebHost(string[] args) => WebHost.CreateDefaultBuilder(args).UseStartup<ContosoUniversity.Startup>().Build();

It might have something to do with the set of NuGets I have. I made sure I had the ones explicitly listed, but there might be something else missing.

[2018-10-26 00:11] #6820 closed

[2018-10-26 00:12] #8043 closed

[2018-10-26 00:12] #7839 closed

[2018-10-26 00:35] Rick-Anderson commented on #9214
@guardrex 	focus on 2.1 and later for the first update.

[2018-10-26 00:36] Rick-Anderson commented on #9216
Thanks for the question. You'll probably get a faster answer on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter.

[2018-10-26 00:38] Rick-Anderson commented on #6312
@stevejgordon 	let me know when you can work on this.

[2018-10-26 00:39] Rick-Anderson commented on #7035
Thanks for the question. You'll probably get a faster answer on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter.

[2018-10-26 00:46] Rick-Anderson commented on #2363
@danroth27 	we don't have the band width or expertise for non-trivial security issues like this. Hence the PU (Product Unit) label.

[2018-10-26 00:54] Rick-Anderson commented on #5522
@dougbu 	 is this the request?

Add to [Enable CORS](https://docs.microsoft.com/en-us/aspnet/web-api/overview/security/enabling-cross-origin-requests-in-web-api#enable-cors)

Enabling CORS doesn't enable the `OPTIONS` HTTP method.
I don't understand the *anywhere else?*

Should we add:

Some tools don't send CORS pre-flight requests, and even then, when sending manual `OPTIONS` requests they do no

[2018-10-26 00:58] Rick-Anderson opened #9232 "Doc 2.1 API ConfigureOptions"
demonstrate a new in 2.1 API ConfigureOptions here as well maybe:

`services.ConfigureOptions<UseSomethingFromDI>` instead of `services.AddTransient<IConfigureOptions<YourOptions>, UseSomethingFromDI>();`, this uses reflection to basically do the same thing and also lets UseSomethingFromDI configure multiple option types if desired.

See #5922

---
#### Document Details

⚠ *Do not edit this sectio

[2018-10-26 01:00] Rick-Anderson opened #9233 "Doc IOptionsBuilder for 2.1"
Doc new `IOptionsBuilder` and related overloads, see https://github.com/aspnet/Security/issues/1718#issuecomment-380204790 its related to this general idea of being able to more easily configure options with things from DI

See #5922

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed39cb0e-aa85-8bba-ffb4-859b56a60723
*

[2018-10-26 01:04] Rick-Anderson commented on #9232
@HaoK 	can you point to sample code for `services.ConfigureOptions<UseSomethingFromDI>`

[2018-10-26 01:11] guardrex commented on #9233
Dup of https://github.com/aspnet/Docs/issues/5924.

[2018-10-26 01:16] #9219 closed

[2018-10-26 01:28] Rick-Anderson opened #9234 "CSAT refresh"
CSAT refresh + TOC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62cdbf88-1fff-6999-f75a-26fbe730b911
* Version Independent ID: bc48b5cb-d500-f75d-8e48-be4d069a9198
* Content: [Tag Helpers in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/intro?view=aspnetcore-2.1)
* Content Source: [

[2018-10-26 01:28] Rick-Anderson commented on #5346
Replaced by #9234

[2018-10-26 01:28] #5346 closed

[2018-10-26 01:29] Rick-Anderson commented on #5847
@tdykstra 	is P1 correct?

[2018-10-26 01:33] Rick-Anderson commented on #6869
@rahamohebbi if this is still a problem can you open an issue at https://github.com/aspnet/Home/issues

[2018-10-26 01:33] #6869 closed

[2018-10-26 01:33] #7332 closed

[2018-10-26 01:35] #7026 closed

[2018-10-26 01:37] #6995 closed

[2018-10-26 01:37] #6962 closed

[2018-10-26 01:49] dougbu commented on #5522
@Rick-Anderson the discussion in aspnet/AspNetCore#2232 may be relevant here

[2018-10-26 01:52] Rick-Anderson commented on #6889
@user135711 	can you provide links to the two tutorials?
@shirhatti 	 you ok with

[2018-10-26 01:54] Rick-Anderson commented on #6287
Fixed

[2018-10-26 01:54] #6287 closed

[2018-10-26 01:56] guardrex commented on #6889
* https://docs.microsoft.com/aspnet/core/host-and-deploy/linux-nginx
* https://docs.microsoft.com/aspnet/core/host-and-deploy/linux-apache

[2018-10-26 02:00] Rick-Anderson commented on #6418
@mkArtakMSFT If you can assign someone to draft out the document I'll get it published ASAP.

[2018-10-26 02:01] Rick-Anderson commented on #6134
@user135711 	do you have a sample?

[2018-10-26 02:04] #6248 closed

[2018-10-26 02:05] Rick-Anderson commented on #6252
@guardrex 	I'm not clear on this issue.

[2018-10-26 02:07] guardrex commented on #6252
IIRC, this is a RP topic that refers to "view models," but that might be ok. I think I was fixing some typos and flagged this for a look to see if anything in these two topics pertaining to "view" were out-of-place for a RP topic.

[2018-10-26 02:08] #6252 closed

[2018-10-26 02:16] #6210 closed

[2018-10-26 02:19] #6107 closed

[2018-10-26 02:20] Rick-Anderson commented on #6130
@user135711 	any interest in this?

[2018-10-26 02:24] Rick-Anderson opened #9236 "@addTagHelper works with assembly name, not the namespace"
@addTagHelper works with assembly name, not the namespace
customer comment:
Hi, thanks a lot for detailed tutorial! May I just ask you to highlight somehow that @addTagHelper works with assembly name, not the namespace? It is really easy to miss. Just spent a few hours trying to understand why my helper is not working until found the answer on SO. |#6049
Moved from

---
#### Document Details

⚠ *D

[2018-10-26 02:24] #6049 closed, assigned to Rick-Anderson

[2018-10-26 02:30] #5263 closed

[2018-10-26 02:33] Rick-Anderson commented on #5958
@guardrex 	can you move this to an integrated Doc/GitHub issue and label P1.

[2018-10-26 02:33] #5967 closed

[2018-10-26 02:35] Rick-Anderson opened #9237 "UpdateInstructorCourses are better in MVC version"
Per customer comment:

The details of the UpdateInstructorCourses() method are much better explained in the MVC version of this tutorial! Would be great, if you could take over these explanations to this Razor version. See here:

https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/update-related-data

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-10-26 02:36] #5867 closed

[2018-10-26 02:36] Rick-Anderson commented on #5867
MOved to #9237

[2018-10-26 02:37] Rick-Anderson commented on #5466
@tdykstra 	review and assign to PU or accept.

[2018-10-26 02:38] Rick-Anderson commented on #5435
This is our philosophy now.

[2018-10-26 02:38] #5435 closed

[2018-10-26 02:40] Rick-Anderson commented on #5544
@ryanbrandenburg can you explain how to do this?

[2018-10-26 02:45] Rick-Anderson opened #9238 "Add Built-in Services table"
Built-in Services table

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 793395fe-c738-22ce-d0e9-29a850c0fa88
* Version Independent ID: 0546ce3a-3258-9817-0f3f-13281c2f55da
* Content: [Application startup in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup?view=aspnetcore-2.1#services-avail

[2018-10-26 02:46] Rick-Anderson commented on #9238
per `@danroth27`

Agreed - having a table of all built in services would be great. Some of the built-in services are covered in https://docs.asp.net/en/latest/fundamentals/startup.html#services-available-in-startup, but it loosk like IHttpContextAccessor isn't covered anywhere.

[2018-10-26 02:47] #236 closed

[2018-10-26 02:47] Rick-Anderson commented on #236
Moved to #9238

[2018-10-26 02:48] Rick-Anderson commented on #241
@JamesNK 	if you can provide a first draft we can finish it off.

[2018-10-26 02:51] Rick-Anderson opened #9239 "UE and other improvements"
Moved from #1077
36K PV 78% CSAT

- [ ]  Use of URI and URL seems inconsistent in spots. Assess the use of these terms and possibly make updates to standardize. See #9640
- [ ] #9558 Route data on the HttpContext scenario #9558
- [ ] Remove version context from Routing #9552
- [ ]  Fix tables so they don't scroll
- [ ] We can now have conventional routing to middleware where you can define route t

[2018-10-26 02:59] Rick-Anderson commented on #9239
Per @guardrex

If this topic receives RP content, it probably should be linked near the top in *mvc/razor-pages/razor-pages-convention-features.md*. https://docs.microsoft.com/aspnet/core/mvc/razor-pages/razor-pages-convention-features

[2018-10-26 02:59] #1077 closed

[2018-10-26 02:59] Rick-Anderson commented on #1077
Moved to #9239

[2018-10-26 03:02] Rick-Anderson commented on #1125
Closing as `CreateLinkingScope` seems to be removed.

[2018-10-26 03:02] #1125 closed

[2018-10-26 03:03] Rick-Anderson commented on #5434
Fixed in my last update.

[2018-10-26 03:03] #5434 closed

[2018-10-26 04:33] Rick-Anderson commented on #9107
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage-app shouldn't be moved to migration as it's got critical info that applies to 2.2, 3.0, etc - like [how to update it](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage-app?view=aspnetcore-2.1#update-aspnet-core)

Even the rest of it needs to be in **other topics**.

cc @scottaddie 	@danroth27

[2018-10-26 05:20] sbsw opened #9244 "How do I create a claim?"
This documentation does a great job of explaining what a claim is and how to check for a claim.  But how do I create a claim?  And (for those of us coming from previous versions of ASP.NET) how do Role claims play with User.IsInRole?  Apparently, Roles (as represented in the SQL database) are deprecated (see: https://github.com/aspnet/Identity/issues/1813).

---
#### Document Details

⚠ *Do not ed

[2018-10-26 05:29] Michaelwan777 commented on #6679
I have done it by using ViewModel, which is a class only contains attributes user want to search by.

[2018-10-26 06:45] Rick-Anderson commented on #9244
@blowdart

[2018-10-26 13:24] slorion opened #9246 "If origin is not allowed, HTTP status 403 should be returned, not 400"
In the example given for WebSocket Origin Restriction, the HTTP status returned when the origin is not allowed should be 403 according to https://tools.ietf.org/html/rfc6455#section-10.2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8af11946-ea05-3be2-6fa1-c4c01aa76d8c
* Version Independent ID: 58e87eb0-240b-ab00-c5f

[2018-10-26 13:47] blowdart commented on #9244
`var claim = new Claim(...)`

OK that's not useful, but really it's a concern of whatever identity system you're using, be it ASP.NET Identity, ADFS, AAD and so on. Role claims appear as, well, role claims, so you can check however you like. But it's not a suitable place to document this, it's authentication, not authorization

[2018-10-26 14:49] tdykstra commented on #9246
@anurse In the code snippet under **WebSocket Origin Restriction** should we change
[code]
to
[code]

[2018-10-26 15:12] tdykstra commented on #5466
@Rick-Anderson Looks like there's enough to go on here to add the requested section to the doc.  Sample error messages would be helpful, but if we don't have them we can go with what we have.

[2018-10-26 15:14] ylliew commented on #8627
@msaadsaif5 This from Stack Overflow should fix the problem.
https://stackoverflow.com/questions/51128038/no-executable-found-matching-command-dotnet-aspnet-codegenerator-asp-net-core

[2018-10-26 15:17] tdykstra commented on #6072
Yes, in app-state.md.

[2018-10-26 15:17] #6072 closed

[2018-10-26 15:19] tdykstra commented on #5847
Given the high number of downloads this sample gets, #1 on codeplex, P1 is correct.

[2018-10-26 16:34] shirhatti commented on #9195
As far as I can tell, Arch is not officially supported by the .NET team and wholly community maintained.

https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x#supported-linux-versions

[2018-10-26 16:39] ryanbrandenburg commented on #5544
In this particular area nothing that I'm aware of has changed since 1.x. Examples [such as this](https://joonasw.net/view/aspnet-core-localization-deep-dive) (Ctrl+F RouteDataRequestCultureProvider) represent out best advice in this area.

[2018-10-26 16:39] anurse commented on #5466
I don't have the latest message on-hand unfortunately. It's pretty easy to force this problem to occur by doing something like this:

[code]

The code starts a background task, ends the request and then 1 second later (after the request has ended) the background task writes to the socket and should throw the exception. I believe it should be an `ObjectDisposedException`. The message may be a littl

[2018-10-26 16:40] anurse commented on #9246
Agreed. I'll send a PR now

[2018-10-26 16:41] anurse commented on #9246
https://github.com/aspnet/Docs/pull/9250

[2018-10-26 16:47] #9246 closed

[2018-10-26 18:58] CeciAc opened #9251 "The commands in the docs does not work"
@JinGangRed commented on [Wed Oct 17 2018](https://github.com/aspnet/Docs.zh-cn/issues/78)

When I use the command

I get the error: `There is no template matching input template name: webapp`.

I changed the command following the suggest template like this:

It works.

And the other command:

I get the error:` No executable file matching the command "dotnet-dev-certs" was found`.

And the version

[2018-10-26 18:59] CeciAc commented on #9251
Hi team,
I'm moving this one here because the user is reporting issues with the given example.

[2018-10-26 19:10] Rick-Anderson opened #9252 "RouteDataRequestCultureProvider sample: localization and routing"
Search [ASP.NET Core Localization Deep Dive](https://joonasw.net/view/aspnet-core-localization-deep-dive) for `RouteDataRequestCultureProvider`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1833676-ff1b-c587-cc9c-81afffa8ef68
* Version Independent ID: ad989395-3f49-4d55-521e-cf6fe56281ee
* Content: [Globalization and

[2018-10-26 19:13] Rick-Anderson commented on #5544
replaced by #9252

[2018-10-26 19:13] #5544 closed

[2018-10-26 19:43] MarkZamoyta opened #9255 "Accessing the access token"
I see the comment that says "... so the token is included in the cookie".  But how do I find this access token later on when needed?  I can't find it in Request.Cookies, however there are many google related cookies with cryptic names.  What's the proper way to get at it?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-10-26 19:51] guardrex commented on #9255
Hello @MarkZamoyta ... Did you run the sample app? ... It provides the access token in the `.Token.access_token` claim, which comes thru in the `User.Claims`. See:

https://docs.microsoft.com/aspnet/core/security/authentication/social/additional-claims#sample-app-instructions

[2018-10-26 19:53] guardrex commented on #9255
Sorry about that ... it comes thru in the `AuthenticateAsync` properties. That's shown in a Razor page here:

https://github.com/aspnet/Docs/blob/master/aspnetcore/security/authentication/social/additional-claims/samples/2.x/AdditionalClaimsSample/Pages/MyClaims.cshtml

Look for the `.Token.access_token` key.

[2018-10-26 20:05] Powerhelmsman opened #9256 "[Tutorial] Reference to Insights in code example, but not present ASP.NET Core Mvc template"
This issue was created by @Xarkam from https://github.com/MicrosoftDocs/feedback/issues/748
Link to article:
https://docs.microsoft.com/fr-fr/aspnet/core/tutorials/first-mvc-app/adding-view?view=aspnetcore-2.1#change-the-title-and-menu-link-in-the-layout-file
Problem:
In code example of _layout.cshtml, you have @inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet, b

[2018-10-26 20:39] scottaddie commented on #9251
@JinGangRed You'll need to use at least version 2.1.300 of the .NET Core SDK. That SDK can be downloaded [here](https://www.microsoft.com/net/download). The version you're using is from the .NET Core 2.0 release. In the 2.0 release, the ASP.NET Core Razor Pages project template you're trying to use has the alias `razor`.

[2018-10-26 20:39] #9251 closed

[2018-10-26 20:51] user135711 commented on #6130
@Rick-Anderson sure, Let me find out what my two days off next week are and I'll do it then.

[2018-10-26 21:08] user135711 commented on #6134
@Rick-Anderson Feel free to reassign these if you need them now. I'll see what I can do this upcoming week otherwise. The code sample Tratcher provided was the part I already understood. The more interesting part that I wanted to know how to do and may be an example too advanced for my time allotment was create and register a custom feature that doesn't already exist.

 I'll have to look at the co

[2018-10-26 21:17] #8839 closed

[2018-10-26 21:47] LouBH opened #9258 "Problem with Instructor scaffolding"
I scaffolded Instructor and tried to run the app, now am getting error message "Instructor" is a namespace but is used like a type.  I am upgrading my skills from VS 2008, so am overwhelmed with new learning.  No idea how to proceed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0026f69-7e5d-0d3e-5586-16ecc0656ff0
*

[2018-10-26 21:53] scottaddie commented on #9256
@Xarkam The following directive in the *_Layout.cshtml* file is a remnant from the ASP.NET Core 1.x MVC project template:

[code]

You can safely remove it. It was removed from the 2.0 template and was used for Application Insights.

[2018-10-26 22:00] madmox commented on #7776
This is still not clear at all to me whether I should install the package `Microsoft.Extensions.Logging.AzureAppServices` or not, if I want to log to Azure diagnostics when deploying to an Azure web app & targeting .NET Core 2.1.

The documentation states:
* The provider package **isn't** included in the `Microsoft.AspNetCore.App` metapackage. To use the provider, install the package.

So at first

[2018-10-27 00:42] Rick-Anderson commented on #8815
@scottaddie 	@guardrex 	isn't this a dup of #8763
Can I close this?

[2018-10-27 00:43] Rick-Anderson commented on #8331
Another dup of #8763

[2018-10-27 00:43] #8331 closed

[2018-10-27 01:05] SeanKilleen commented on #8558
I think I've got the fix for this. PR coming shortly.

[2018-10-27 03:38] #8558 closed

[2018-10-27 03:46] #9184 closed

[2018-10-27 04:37] #6268 closed

[2018-10-27 05:31] sbsw commented on #9244
I understand that this page is focused on Authorization based on Claims. But that begs the obvious question of how to create claims in the first place. The section of this page that explains the concept of a claim would be a great place to put a link to a topic that talks about how to create them.

I spent two days trying to get legacy Roles to work. After I stumbled across the discussion that sai

[2018-10-27 08:09] Xarkam commented on #9256
@scottaddie I know that I can remove it safely.

I have a friend who is learning C # and he did not understand why when he copied the sample code into the documentation, he could not build his project anymore.

It is by seeing this that I understood that the documentation is not up to date with the templates :)

[2018-10-27 08:39] Rick-Anderson commented on #9256
The sample was fixed in #9260

[2018-10-27 08:39] #9256 closed

[2018-10-27 13:02] guardrex commented on #8815
I think so ... maybe just add the Glen blog link over there to :eye: it at the end to make sure those aspects were covered.

https://blogs.msdn.microsoft.com/webdev/2018/08/27/asp-net-core-2-2-0-preview1-endpoint-routing/

[2018-10-27 13:42] daveabrock commented on #7232
This is resolved with an upcoming PR of this document.

[2018-10-27 13:49] daveabrock opened #9267 "Placement?"
So, this content is awesome! But, does it belong in the VS Code tutorial? This is core RP concept material and wondering if it should be linked outside of this tutorial?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 640a5140-6a41-85ec-6099-0d2fd3dbd61c
* Version Independent ID: 1b989b3f-4f6f-824c-1c37-ef949d7f35a6
* C

[2018-10-27 18:38] #9233 closed

[2018-10-27 18:42] guardrex opened #9269 "Non-IPageConvention conventions descriptions for RP and MVC"
From @pranavkm on #5520 ...

&gt; might be good to add a quip about property model \ parameter model conventions. Sort of along the lines of https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/application-model?view=aspnetcore-2.1#sample-modifying-the-parametermodel. For most parts, you could copy the docs \ samples verbatim.

The current RP conventions topic entirely focuses on conventio

[2018-10-27 18:43] guardrex commented on #5958
Moved to https://github.com/aspnet/Docs/issues/9269.

[2018-10-27 18:43] #5958 closed

[2018-10-27 18:44] Rick-Anderson commented on #9267
That's just a stage in the series. I'm going to unify the 3 version (VS, VSC, macOS).

[2018-10-27 18:44] #9267 closed

[2018-10-27 19:01] guardrex opened #9270 "Refactor 1.x content (or remove it)"
While working on #9268, I noticed some problems with the 1.x versioning.

The versioning that appears for 1.x points to a 2.0 sample, so it's incorrect in the topic. See this 1.1 version ...

https://docs.microsoft.com/aspnet/core/tutorials/getting-started-with-swashbuckle?view=aspnetcore-1.1&tabs=visual-studio%2Cvisual-studio-xml#xml-comments

... scroll down a bit, and you'll see a `CreateDefaul

[2018-10-27 20:31] scottaddie commented on #9270
@guardrex You're correct that the *Program.cs* sample displayed for 1.1 is incorrect.

[2018-10-27 20:33] guardrex commented on #9270
I would've fixed it on the spot, but I think the project file snippet situation needs work, too. Best to work it separately from the other issue, which has priority bug fixes that should go in quickly-ish.

[2018-10-27 21:08] FerronN opened #9271 "Best practices multiple handler who process different models"
I have a Page with multiple forms. Each form has it own Page handler and model. I can't find the best practices for this kind of scenario within the current documentation.

I ask this question, because when you call Modelstate.Validate() in this scenario it always fails because of the multiple models.
I've to use  ModelState.Clear(); and then TryValidateModel(InputProfile) to validate the model.

[2018-10-28 00:40] welkie commented on #7828
Another example if you're interested, where I have a POST endpoint that accepts one file. The Content-Type isn't form data, but the data type of the file being upload. A header which contains the API key determines the owner so the file can be stored properly server side:

[code]

[2018-10-28 00:54] Silic0nS0ldier commented on #9236
Hit this exact issue almost a year ago. Couldn't figure out the cause at the time. Adding a prominent note about the restriction towards the beginning would be a great addition.

[2018-10-28 02:56] redplane commented on #8545
@GiorgioG solution worked.

[2018-10-28 08:57] krchome opened #9274 "YouTube version of tutorial"
Create an ASP.Net Web API Using ASP.Net Core and Visual Studio
https://docs.microsoft.com/aspnet/core/tutorials/first-web-api

The Youtube version of the above tutorial is at : https://www.youtube.com/watch?v=TTkhEyGBfAk

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87bd388f-172e-1351-a592-3d5cb3d02b85
* Version Indep

[2018-10-28 14:57] bobrundle opened #9275 "Link to sample code broken"
Link to sample code given in

https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed?view=aspnetcore-2.1

is

https://github.com/aspnet/Docs/tree/master/aspnetcore/performance/caching/distributed/sample

Should be

https://github.com/aspnet/Docs/tree/master/aspnetcore/performance/caching/distributed/samples/2.x/DistCacheSample

[2018-10-28 15:13] daveabrock commented on #9275
Thanks, @bobrundle! I was able to fix the link in an upcoming PR, so the changes should go live in the next day or two.

[2018-10-28 15:28] guardrex commented on #9271
@FerronN ... good point ... we don't have coverage for this scenario (*yet*).

We don't have `TryValidateModel(Object, String)` that takes the prefix, either.

Possibly, the section on manual validation at https://docs.microsoft.com/aspnet/core/mvc/models/validation#manual-validation could be expanded, including this scenario.

I seen some devs around the Net performing manual validation (checking

[2018-10-28 17:31] matteocontrini opened #9278 "Clarify the difference between host and app configuration"
Would it be possible to have a better explanation of the differences between `ConfigureHostConfiguration()` and `ConfigureAppConfiguration()`?

What I understand is that the host is created first, and then the application is built. But, where can I find the actual difference between the host and the app?

Also, given that both the action that are passed to `ConfigureHostConfiguration()` and `Confi

[2018-10-28 17:34] DRed96 commented on #6146
I am asked to maintain older systems for the company I work for. I will learn Razor in the future, but right now MVC is the most usefull option

[2018-10-28 18:03] guardrex commented on #9278
@matteocontrini Thanks for the question. Yes, I believe we can make improvements in this area.

It's summed up in the opening sentences, but we can assess if this has enough detail ...

Assumed/unstated: The app is everything else.

@Tratcher Is it fair to say that host environment configuration (app name, environment, and content root) and Kestrel configuration are the primary targets of host con

[2018-10-28 21:06] matteocontrini commented on #9278
To be honest, I actually missed that 😅

But I'm still unsure how a developer should be affected from the distinction between the host and the app. For example, I can write:

[code]

But also:

[code]

And unless I'm missing something the effect is the same. If there's a different between the two, I think it could be made clearer. If there's no difference, it would be useful to have some indication

[2018-10-28 21:18] guardrex commented on #9278
Config set in `ConfigureHostConfiguration` flows to the app's config. The last config provider to set a value (in either method) on a key wins.

I'll add a note on this to the PR.

There's no need to set more config in `ConfigureHostConfiguration` than is required to configure the host. Everything else can go in app config. We'll hear back from engineering soon, and then I can put in a PR to surfa

[2018-10-28 22:02] Silic0nS0ldier opened #9279 "@addTagHelper supports wildcard directed at specific namespace"
The wildcard can be extended like `@addTagHelper AuthoringTagHelpers.TagHelpers.*, AuthoringTagHelpers` however this is about as complex as things get. Something like `AuthoringTagHelpers.TagHelpers.*TagHelper` won't resolve anything.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19ecfbee-8b84-9ef2-65b6-8c2542f6370f
*

[2018-10-28 22:35] #9275 closed

[2018-10-29 00:38] docrinehart opened #9280 "SignalR Core needs documentation on connection lifecycle"
As I get reacquainted with SignalR via SignalR Core, I've found that a lot of the lifecycle operations are no longer supported. It'd be nice to have a page for SignalR Core that outlines some of the connection lifecycle operations as well as some best practices like there is for [ASPNET SignalR](https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/handling-connection-lifetime-

[2018-10-29 01:54] dannevesdantas commented on #9205
In order to update the [Create an MVC web app](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/?view=aspnetcore-2.1) tutorial to use EF 2.1 Seed feature in the MvcMovieContext instead of a separate SeedData class, some updates in the tutorial's code should be made. Instructions in the [Work with SQL Server LocalDB](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-m

[2018-10-29 06:16] dannevesdantas opened #9283 "Outdated "Build an ASP.NET app in Azure" tutorial link"
The "Build an ASP.NET app in Azure" tutorial link provided at the end of the "Create an MVC web app" tutorial contains instructions for an .NET Framework ASP.NET app. A newer ASP.NET Core version is avaliable at https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-dotnetcore-sqldb

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-10-29 10:01] CalumJEadie commented on #9147
Thanks very much @anurse and @tdykstra!

[2018-10-29 11:10] Neutrino-Sunset commented on #8955
I'm a bit confused as to what that has to do with the point I made, but to answer your question I'm maintaining an existing application and rearchitecting that part of its implementation is not in scope.

More generally Razor looks cool and all, but despite the documentation I've read I haven't yet seen anything that describes what problem it is intended to solve. These days we are reusing so much

[2018-10-29 12:46] guardrex commented on #8137
Cross-references:

* https://github.com/aspnet/Docs/issues/9205
* https://github.com/aspnet/Docs/pull/9282

[2018-10-29 12:47] guardrex commented on #8138
Cross-references:

* https://github.com/aspnet/Docs/issues/9205
* https://github.com/aspnet/Docs/pull/9282

[2018-10-29 14:25] mayatstafford opened #9292 "Article version should match linked download"
The starter & complete app download links are for 2.0.   The repository has version 2.1.  Where is the download for 2.2 which is referenced in this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b66f8ffa-699c-8b11-0cab-805f5953805f
* Version Independent ID: 7c151ed5-fd78-84fd-a08a-88912990c4ca
* Content: [Crea

[2018-10-29 14:38] spboyer commented on #9113
@quole - ok to close this issue?

[2018-10-29 15:19] k3davis opened #9294 "HttpContext always null in view from class library"
I'm able to follow these instructions to embed a simple razor view in a class library and consume it from another app, but when I attempt to do any logic in the underlying class of the page (IndexModel : PageModel), HttpContext is available but null. I can inject HttpContext using IHttpContextAccessor (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-context?view=aspnetcore-2.1) and

[2018-10-29 15:30] AlexMcConnell commented on #6820
On a Mac, not Windows, but...

➜  src git:(master) ✗ dotnet --version
2.1.4
➜  src git:(master) ✗ dotnet dev-certs https --trust
No executable found matching command "dotnet-dev-certs"

Note the version and the lack of hyphen in what I typed.

[2018-10-29 15:43] tdykstra commented on #9280
@docrinehart Thanks for the suggestion.  I agree, and while I can't predict how soon we'll get to it, it's on our backlog now.

[2018-10-29 15:51] #8208 closed

[2018-10-29 16:53] monsij commented on #9292
Hello there. Can you tell m what is to be done in this issue? Should I change the download links? @mayatstafford

[2018-10-29 17:14] Tratcher commented on #9278
Yes, those Host settings can only be set via ConfigureHostConfiguration. FYI Kestrel is more nuanced. The Urls setting is considered a host level setting, it's the host that reads it and passes it to the servers through a specific IServerAddresses API.  Kestrel's extended binding config is kestrel specific and is read directly from config after ConfigureAppConfiguration.

[2018-10-29 17:33] scottaddie opened #9298 "Restore missing web API Overview doc code snippets"
Restore missing code snippets in https://docs.microsoft.com/aspnet/core/web-api/?view=aspnetcore-2.1.

[2018-10-29 18:10] mayatstafford commented on #9292
The links go to 2.0 samples although the article looks like it is written for 2.1 or higher so that needs to go to the correct version.  I don't know what version this page is written for.

Also, in the samples the final 2.1 project targets 2.2 and the starter 2.1 project targets 2.1.

[2018-10-29 18:33] Rick-Anderson commented on #9294
@k3davis 	what implies `HttpContext` would be initialized?

[2018-10-29 18:35] ackava opened #9299 "Content Feedback link results in 404 error"
Reproduce steps,

1. Goto
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/simple?view=aspnetcore-2.1
2. Click on Content Feedback, click on down arrow and click on "directly on github", results 404 error https://docs.microsoft.com/en-us/aspnet/core/security/authorization/%7B0%7D

[2018-10-29 18:35] mayatstafford commented on #9292
So this article is for a 2.2 which is a preview version?

[2018-10-29 18:39] #8815 closed

[2018-10-29 19:02] Rick-Anderson commented on #9292
Just that one API call. See [this GitHub issue](https://github.com/aspnet/Identity/issues/1813#issuecomment-394543909) for a work-around.

[2018-10-29 19:32] #9147 closed

[2018-10-29 19:47] NTaylorMullen commented on #6971
@songgun I don't see the issue in `vary-by-query`; however, I do see that vary-by-route and `vary-by-cookie` are incorrect as you mentioned.

[2018-10-29 19:49] matteocontrini commented on #9278
@guardrex no problem, thank you 😄

[2018-10-29 20:51] #3863 closed

[2018-10-29 20:57] Rick-Anderson commented on #6971
@songgun can you create a PR to fix this? [Click this link](https://github.com/aspnet/Docs/edit/master/aspnetcore/mvc/views/tag-helpers/built-in/cache-tag-helper.md) to edit in the browser and create a PR.

[2018-10-29 20:58] Rick-Anderson commented on #9205
@dannevesdantas 	great idea. We'll take this approach in the next upgrade (soon). cc @tdykstra

[2018-10-29 21:42] Rick-Anderson commented on #9279
That's correct.

[2018-10-29 21:46] dannevesdantas commented on #9205
cool @Rick-Anderson! I'm glad to be able to help.

[2018-10-29 21:55] rynowak opened #9306 "Improve documentation for HttpClient Factory related to Message Handlers and sharing state"
See: https://github.com/aspnet/HttpClientFactory/issues/198

This is a topic that has come up a number of times and I think we should improve the docs. A few points below that need to be documented with more clarity.

------

The HttpClient Factory manages the lifetime of message handlers. You do not have control over the lifetimes of the handlers that are created by the factory.

In 2.1 the servi

[2018-10-29 23:03] Rick-Anderson opened #9307 "Add SuppressModelStateInvalidFilter"
Per `@dougbu` in #9262

Yes, should document the *actual* case where `SuppressModelStateInvalidFilter` makes sense and the tie between that property and `[ApiController]`. Suppressing this filter is useful if your action can recover from a model state error or wishes to customize its response. (Again, custom validators are identical to other validators for these scenarios.)

---
#### Document Deta

[2018-10-29 23:21] guardrex commented on #9299
It works here ...

<img width="401" alt="capture" src="https://user-images.githubusercontent.com/1622880/47686070-5496f200-dba7-11e8-9d85-3207d9b918d0.PNG">

[2018-10-29 23:37] Rick-Anderson opened #9308 "Mock up of Web API Try .NET tutorial"
Closed PR #7443

That PR has most of the relevant code changes.

[2018-10-30 00:48] #7351 closed

[2018-10-30 00:56] #6538 closed

[2018-10-30 00:57] #9236 closed

[2018-10-30 01:03] #7232 closed

[2018-10-30 01:03] #7233 closed

[2018-10-30 01:03] #8466 closed

[2018-10-30 01:03] #8766 closed

[2018-10-30 01:03] #8896 closed

[2018-10-30 01:03] #8897 closed

[2018-10-30 01:04] #8955 closed

[2018-10-30 01:13] #6992 closed

[2018-10-30 01:30] Rick-Anderson commented on #9306
@rynowak 	should the changes be made to both https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests and https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests

[2018-10-30 01:32] #9299 closed

[2018-10-30 01:49] MarkZamoyta commented on #9255
Thanks!

[2018-10-30 01:55] k3davis commented on #9294
@Rick-Anderson Fair question; perhaps I'm conflating this doc with the one linked to in my post.

[code]

This certainly looks like code that presumably works in a Razor page but apparently not in a Razor UI class library without using injected `IHttpContextAccessor` in that case, though they both inherit from the same parent class and seem to interchange functionality in other ways.

[2018-10-30 01:56] #9294 closed

[2018-10-30 02:11] MarkZamoyta opened #9314 "Storing and using the refresh token"
This works great with the access token, but it has a short lifespan so I need to put the refresh token to use.  I see some code at the Google .Net API site that uses a class called GoogleAuthorizationCodeFlow, which looks like it manages the refresh token when needed to get a new access token.  The problem is it doesn't work with Identity / EF and the whole .AddGoogle() extension method.
Is there

[2018-10-30 02:24] Rick-Anderson opened #9315 "doc 2.2 Validation Performance Improvements"
Search for **Validation Performance Improvements** [here](https://blogs.msdn.microsoft.com/webdev/2018/10/17/asp-net-core-2-2-0-preview3-now-available/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0156ffc3-47ac-d5da-fbc2-9ff5018b071b
* Version Independent ID: 615db388-a244-41f7-21b5-a4085d9ed479
* Content: [Model va

[2018-10-30 02:30] quole commented on #9113
All good, thank you!

[2018-10-30 02:30] #9113 closed

[2018-10-30 02:39] Rick-Anderson commented on #1304
Replaced by #9315

[2018-10-30 02:39] #1304 closed

[2018-10-30 02:41] Rick-Anderson opened #9317 "UE edit and other improvements to Model Validation"
See #1304 for details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0156ffc3-47ac-d5da-fbc2-9ff5018b071b
* Version Independent ID: 615db388-a244-41f7-21b5-a4085d9ed479
* Content: [Model validation in ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-2.1)
* Content Sou

[2018-10-30 02:50] Rick-Anderson opened #9318 "Migrating an ASP.NET Core 2.1 project to 2.2"
See **Migrating an ASP.NET Core 2.1 project to 2.2** in the [2.2-preview3](https://blogs.msdn.microsoft.com/webdev/2018/10/17/asp-net-core-2-2-0-preview3-now-available/) blog.
To migrate an ASP.NET Core project from 2.1.x to 2.2.0-preview3, open the project’s .csproj file and change the value of the the element to netcoreapp2.2. You do not need to do this if you’re targeting .NET Framework 4.x.

[2018-10-30 03:44] rynowak commented on #9306
I think just this part https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.1#outgoing-request-middleware

[2018-10-30 05:00] guardrex commented on #9314
TL;DR @HaoK We don't address the refresh tokens scenario. It was very briefly mentioned in the [issue for the topic (aspnet/Docs \#3744)](https://github.com/aspnet/Docs/issues/3744#issue-243489148), but it didn't come up thereafter and wasn't part of the AuthSamples.ExternalClaims app upon which this sample was based.

@MarkZamoyta ...

Good point ... We don't address the subject outside of `SaveT

[2018-10-30 07:39] pr3sto commented on #8673
`TryDequeue` in `ConcurrentQueue` returns `false` if there are no items in the queue. So `SemaphoreSlim` is used here to block executing of `ExecuteAsync` method until some workItem is pushed in `QueueBackgroundWorkItem` method.
Probably you can use [BlockingCollection](https://docs.microsoft.com/en-us/dotnet/api/system.collections.concurrent.blockingcollection-1?redirectedfrom=MSDN&view=netcore-2

[2018-10-30 10:05] Erwandebenaze commented on #6146
Hi !
I'm using MVC because my manager told me that we need different views for one action from Controller. And with Razor, it's one view for one action. So if we use Razor it will multiplicate the code !

[2018-10-30 11:08] PierreRoudaut opened #9320 "Why Environment variables are safer than Secret Manager tool in staging/production ?"
Both do not encrypt secrets and their vulnerability is tied to the access of the machine. Am I missing something ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c99993c-c983-6fda-6c3a-ce4ec8c1d5db
* Version Independent ID: ba688ac2-e90e-fce5-f60d-40c2553c3efd
* Content: [Safe storage of app secrets in development in

[2018-10-30 11:22] jitendriyag2 opened #9321 "Regarding Configure AAD Integration using ASPNet Core 2.1 Web API"
HI Team,

I already have a AAD integrated WebAPP using ASP.Net Core 2.1 but now i want to develop an API using ASPNet Core 2.1 to authenticate AAD user to my api using JWT bearer token. I am unable to perform the same because in web app i am using Cookie Auth mode but here i need to implement JWT Bearer which was not working for me. I tried a lot of code from  different code repo.

References:
htt

[2018-10-30 11:52] #9164 closed

[2018-10-30 12:06] guardrex commented on #9320
That's correct. The goal is to keep secrets out of source control and keep production secrets off of development machines. If you need a higher level of security, there's Azure Key Vault and 3rd party providers.

[2018-10-30 12:09] guardrex commented on #9321
Hello @jitendriyag2 ... You'll get a faster answer if you ask on a support forum, such as Stack Overflow, or a support chat, such as Gitter or Slack. There's only a small team here working on documentation issues. We don't have the staffing to handle support requests.

[2018-10-30 12:15] guardrex commented on #9320
Oh ... and btw ... Secret Manager isn't for staging/production ... it's only for your dev machine. The general advice for production is always either env vars, Azure Key Vault, or 3rd party production secret management system.

[2018-10-30 13:44] Ponant commented on #6146
It seems that some past parts of the discussion are missing in this post. For instance, I remember @scottsauber giving an explanation on why he prefers RP for server-side html scenario, but I can't find it. It has been referenced here, too https://stackoverflow.com/questions/46777404/why-is-razor-pages-the-recommended-approach-to-create-a-web-ui-in-asp-net-core-2
Is anyone encountering the same is

[2018-10-30 14:00] PierreRoudaut commented on #9320
Sorry to insist, but I'm curious to know what justifies the "general advice" to use env vars over over Secret Manager. Could you give me a clarification ?

[2018-10-30 14:14] scottsauber commented on #6146
@Ponant - It's buried in the "hidden items" now that this thread is so long.  You can read that noob's comment here: https://github.com/aspnet/Docs/issues/6146#issuecomment-398599679 :)

For the record - up to well over 100 pages now on that app and my opinion on Razor Pages is still the same.

I was making some updates to a MVC5 app, and it struck me how much more boilerplate there is to MVC.  `[

[2018-10-30 14:36] guardrex commented on #9320
@blowdart

[2018-10-30 14:58] blowdart commented on #9320
Environment variables was where the industry went, so in this case we followed.

[2018-10-30 15:08] Plasma opened #9323 "More thorough migration examples"
Thanks for the migration documents so far.

I’d love to read about more real world migration best practices and tips.

For example, is it possible to add a .Net Core MVC project along side existing web/app project, and slowly work towards a “dual boot”, where using ifdefs or scripts, our team can pick away in mainline branch having the code launch under .net core mvc (using .net framework)

Thank

[2018-10-30 15:22] Ponant commented on #6146
@scottsauber , ok! Unfortunately I wanted to have a look at how you managed with view models how you do binding as there seems to be different ways to do that in RP and my head is banging. I remember you showed up some links on how you setup view models and so on and I said to myself I will get back to that.

[2018-10-30 15:26] mayatstafford opened #9324 "Windows Authentication and Setting Profiles from SQL"
I'm building a Core 2.1 intranet app with Razor pages that uses Windows Authentication.   The users have profiles stored in a Sql database and are linked with the UserPrincipal Guid.
I planned on populating the  HttpContext.Session with a few fields that are retrieved with the Sql query. Where would I do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-10-30 15:59] guardrex commented on #9324
Hello @mayatstafford ... You'll get a faster answer if you post your question to a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter.

[2018-10-30 16:12] Ponant commented on #6146
@scottsauber , I remember that you where a fan of features folder, and I use it extensively too. Do you mind saying what you gain more from RP over Features folders? It seems that it relates to the antiforgery token and perhaps that it collapses the files, but other than that I have all files in the same folder(s). But there are other things which I am missing, what's your take on the difference?

[2018-10-30 16:14] csatnic-av commented on #7814
In https://github.com/aspnet/SignalR/issues/3193 @anurse said this:

So ... Redis clustering is not officially supported. All existing Core SignalR documentation seems to only reference a single Redis server on the backplane.

I understand that only Redis pub/sub functionality is being used so what happens when that Redis server needs to be maintained, patched, restarted? Are SignalR messages only

[2018-10-30 16:35] heapifyman opened #9326 "dotnet dev-certs not found on linux"
# Issue description

[code]

# Software versions

Check the .NET target framework(s) being used, and include the version number(s).

- [x] .NET Core 2.1.403
- [ ] .NET Framework
- [ ] .NET Standard

If using the .NET Core SDK, include `dotnet --info` output. If using .NET Framework without the .NET Core SDK, include info from Visual Studio's **Help** > **About Microsoft Visual Studio** dialog.

<d

[2018-10-30 16:46] guardrex commented on #9323
Hello @Plasma ... you'll find some info over in [Organizing your project to support .NET Framework and .NET Core](https://docs.microsoft.com/dotnet/core/porting/project-structure). However, it's fairly light on details.

AFAIK, the team doesn't support a *one-shoe-fits-all-feet* approach given that app development, deployment, and hosting scenarios are highly variable ... add philosophy to that, t

[2018-10-30 16:49] heapifyman commented on #9326
Sorry, pebkac

[2018-10-30 16:49] #9326 closed

[2018-10-30 17:05] lexugax opened #9327 "What libraries are you using?"
It would be great to see what "usings" you are using together with your code. When copy/pasting some of your code, and after adding the "usings" offered by intellisense, I get errors about methods not being passed the correct parameters, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5cfa38-0e6c-4346-dafc-84ea5c

[2018-10-30 17:13] webwizgordon opened #9328 "Configure status code pages path error"
The **Configure status code pages** section states:

But the `UseStatusCodePagesWithX()` methods do not allow paths starting with `~`. The path must start with `/`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03fdf4-b19b-17c3-04f4-336ab6d2ee06
* Version Independent ID: 38515dfb-91a5-b395-db9d-084bbaf095c8
* Conten

[2018-10-30 17:28] #8871 closed

[2018-10-30 17:52] scottaddie commented on #9323
@Plasma Also see https://blogs.msdn.microsoft.com/dotnet/2016/02/10/porting-to-net-core/. Though the article is a bit dated, much of its guidance still applies.

[2018-10-30 17:59] adravi commented on #7644
@regul4rj0hn Which one is the file where you define configuration parameters such as `ClientId` and `ClientSecret`?

[2018-10-30 18:01] #9298 closed

[2018-10-30 18:21] #6971 closed

[2018-10-30 18:57] reginaldlouis opened #9333 "Http Verb routing error."
Hello,

I think their's an error when you wrote `[HttpGet("/products/{id}")]. I think the forward slash prefix is invalid. It doesn't work when I try it. But if we remove the prefix, now it work: `[HttpGet("products/{id}")]`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee6ad2f-1667-8d5c-1f36-9d0511e3720f
* Version

[2018-10-30 19:22] guardrex commented on #9327
Hello @lexugax ... This topic is due for an overhaul on #5331. I'll add this issue to the list there.

[2018-10-30 19:35] anurse opened #9335 "[SignalR] [Java] Document minimum Android API levels"
We should add the following notes to our Java Client documentation regarding compatibility:

* The SignalR Java Client will run on Android **API Level 16 and above**.
* Connecting through the Azure SignalR Service will require Android **API Level 21 and above** because the Azure SignalR Service requires **TLS 1.2** and does not support **SHA-1**-based cipher suites. [Android added support for SHA-

[2018-10-30 19:48] scottaddie commented on #7776
@madmox Something may have changed since I last responded. I've confirmed that the `Microsoft.Extensions.Logging.AzureAppServices` package is NOT included in the `Microsoft.AspNetCore.App` metapackage. Since you're targeting .NET Core 2.1, you WILL need to install the `Microsoft.Extensions.Logging.AzureAppServices` package. For future reference, you can confirm whether it's included or not in VS 2

[2018-10-30 20:06] #9207 closed

[2018-10-30 20:07] Andrzej-W opened #9336 "Missing async in first example"
In first example here:
https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-components?view=aspnetcore-2.1#invoking-a-view-component
you have
@Component.InvokeAsync( ...
instead of
@async Component.InvokeAsync(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d2902f4-b6fd-ba1c-6762-d7c26f5eb4b9
* Version Independ

[2018-10-30 20:08] madmox commented on #7776
So I just need to install the package in my solution (and activate logging in the portal) to enable Azure diagnostics on my web app once deployed, without **any** code addition? Like, maybe it justs make a dll available at runtime, and the site extension uses it.

[2018-10-30 20:12] daveabrock commented on #8894
@Rick-Anderson It appears the link is there. This can probably be closed.

![image](https://user-images.githubusercontent.com/275862/47747345-258b8980-dc56-11e8-93a7-21102b24ded8.png)

[2018-10-30 20:32] madmox commented on #7776
What is confusing is:
* Since you're targeting .NET Core 2.1, you WILL need to install the Microsoft.Extensions.Logging.AzureAppServices package
versus:
* You shouldn't need a package reference to get logging in AppServices starting with AspNet Core 2.0.

I think I understand that the first sentance might just refer to the fact of being able to access the Azure logging API from my code, rather tha

[2018-10-30 20:33] Rick-Anderson commented on #6146
There are several listed in https://github.com/aspnet/Docs/pull/7801

[2018-10-30 20:41] #9336 closed

[2018-10-30 20:47] #9315 closed

[2018-10-30 20:53] guardrex commented on #9278
@Tratcher We don't have the Server URLs section (that's in the [Web Host (Server URLs)](https://docs.microsoft.com/en-gb/aspnet/core/fundamentals/host/web-host?view=aspnetcore-2.1#server-urls) topic) in the Generic Host topic. Your answer above seems to indicate that we should have it in Generic Host. Should I add it along with this update?

[2018-10-30 21:14] Tratcher commented on #9278
Oh, I'd overlooked this was generic host. There's no Urls or Kestrel support for generic host until 3.0, you can just exclude that.

[2018-10-30 21:36] #9193 closed

[2018-10-30 22:24] bradygaster commented on #9335
created pr: https://github.com/aspnet/Docs/pull/9342

[2018-10-30 22:35] edorsett opened #9343 "Consistency for Mac users"
The 'Adding a new field' link as the next step from Add Search step of the RP w VS Mac tutorial actually jumps to the RP w VS tutorial. There, ef execution is using powershell vs dotnet CLI which is inconsistent. It would have been useful to have that new field step of the tutorial written for dotnet CLI using SQLite on Mac. When replacing the powershell commands on that page with corresponding do

[2018-10-30 22:35] adravi opened #9344 "How to implement Authorization using Azure AD application roles & role claims?"
I haven't been able to find documentation such as this: https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-webapp-roleclaims/ for ASP.NET Core + React template.
I want to have an Application registered on a Azure Tenant and perform authentication and authorization based on the given roles to the users.
Any guidance will be highly appreciated.

---
#### Document Details

⚠

[2018-10-30 23:31] Rick-Anderson opened #9348 "Remove Azure PDF"
- [ ] Remove PDF from #9347
- [ ] update links to new PDF location

[2018-10-30 23:33] #9320 closed

[2018-10-30 23:59] CamSoper commented on #7224
Wade's got me 100% on this book thing with Jeffrey Palermo. I can help @scottaddie with it, though.

[2018-10-31 01:36] Andrzej-W commented on #9336
@guardrex I was thinking about "await" but wrote "async". I don't know why, sorry.

[2018-10-31 02:36] Eirenarch opened #9349 "This article doesn't make it clear if Groups can be used as security mechanism"
The article should make it very explicit even with a Note if groups are secured. IIRC SignalR 1 Groups were NOT secure and clients could listen even if they were not explicitly added on the server. I don't know what the case with SignalR Core is but whatever it is it should be stated very clearly in the docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-10-31 02:45] scottaddie commented on #9349
Let's ask @BrennanConroy

[2018-10-31 03:00] BrennanConroy commented on #9349
I don't see a great reason why we should specifically call out groups as being "secure".

We have a [doc on security](https://docs.microsoft.com/aspnet/core/signalr/security?view=aspnetcore-2.1) that calls out specific items that you should consider for security purposes.
And one on [auth](https://docs.microsoft.com/aspnet/core/signalr/authn-and-authz?view=aspnetcore-2.1) to call out specifics on

[2018-10-31 03:31] Eirenarch commented on #9349
Because if you Google "are signalr groups secure" you will see a number of results stating they are not. There are very few items usually in some comments that state that SignalR Core groups are secure. For years Microsoft explicitly told devs in the docs that groups were not secure now there is no information in the docs on the security, not in this article and not in the article comparing Signal

[2018-10-31 03:40] BrennanConroy commented on #9349
Fair enough. We might want to consider mentioning it in the comparison doc then. @anurse thoughts?

[2018-10-31 03:49] Rick-Anderson opened #9351 "Update metadata"
In https://github.com/MicrosoftDocs/IIS.Administration-docs repo

[2018-10-31 04:10] Rick-Anderson commented on #9333
@scottaddie don't you need the leading `/` when deployed?

[2018-10-31 04:14] #8894 closed

[2018-10-31 04:37] Rick-Anderson commented on #7224
@javiercn 	@danroth27 	can you assign someone to write the samples and draft the best practices? We don't have the expertise or bandwidth for this.

Note the `PU` label. All `PU` issues are assigned to you guys (Product Unit). We'll provide editing services.

[2018-10-31 04:54] Ponant commented on #6146
@Rick-Anderson , sorry I did not see  a mention on RP vs Feature Folders in your link. My understanding is that you have one razor page for one action, because the page directive turns it into one and only one action. If that is correct, then the number of files will double with the number of actions. With a feature folder structure the number of files will be lesser or equal. Now you can say that

[2018-10-31 05:50] Ponant commented on #6146
I just looked up @ardalis paper https://msdn.microsoft.com/en-us/magazine/mt842512.aspx and checked up his repo https://github.com/ardalis/OrganizingAspNetCore where you have traditional MVC, Feature folder and RP side by side. I don't see an advantage of using RP over feature folders when it comes to the number of files. Furthermore, I learned that the `BindProperty` attribute also works on contr

[2018-10-31 06:37] jeremybowden73 commented on #8284
@sebwills  @Rick-Anderson >   In fact they both have an `ActionResult<T>` return type (although `GetAll` relies on the implicit cast to `ActionResult<T>`).

Could you please explain why `GetAll` doesn't return a collection of `TodoItem`s ? It seems logical to say that it does.

[2018-10-31 06:54] Rutix commented on #8284
@sebwills Isn't `GetById` technically also an implicit cast? Since `NotFound()` is of type `ActionResult` and so is implicited casted to `ActionResult<T>`.

[2018-10-31 07:59] Ponant commented on #6146
@Rick-Anderson , yes I read the changes he submitted and also read the comments by others and I did not see a comparison to feature folders. I may be wrong but it seems that if you remove the "easier structure" argument, then I do not see an advantage of RP because feature folders offer this and there is a nice api by @odeToCode that allows you to have a Pages folder with a controller and view all

[2018-10-31 08:12] benzhi2011 opened #9352 "how to use two cookies in 2.1"
https://stackoverflow.com/questions/53067129/net-core-2-1-claim-based-authentication
I have posted my question on Stackoverflow, can anyone please take a look?
I have dotnet core 1.1 version code works for authentication. I have two cookies, one for user and one for admin so admin can impersonate as the user to login in the system. I need to convert it to 2.1 and I check User.Claims, in 1.1 User.C

[2018-10-31 08:14] Ponant commented on #6146
@Rick-Anderson , I think that, in short, if you want a fair comparison, then compare with feature folders and make feature folders as the default MVC template.

[2018-10-31 08:29] Sigvaard opened #9354 "SetApplicationName is not enough to share payload between two apps"
I've set the same value in two apps and I can't decrypt it in the other app:

[code]

I suspect it's because maybe I have a different version of a NuGet package but I don't know the exact details and documentation doesn't tell anything about that.

Console app:

[code]

Web app:

[code]

The name of the purpose is the same.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-10-31 12:36] guardrex commented on #9226
@Rick-Anderson I don't follow the title change. This issue was just to address the account configuration ... the doc is existing. We might need to split later tho ... when the doc attempts to cover SCD, FDD, and FDE deployment styles. That might be toooooo much for it to handle all by itself with "conversion" language. Perhaps, we could/should split them at that time. That's another issue tho ...

[2018-10-31 13:50] icistrate commented on #9194
I would have liked to see bit more about the "PermissionHandler" (a handler for multiple requirements) .. the sample code doesn't reference it and cannot clearly see how the value in context.Resource is passed in. I am having something similar where I want to validate multiple requirements (Owner of a resource or ADMIN) using IAuthorizationService. Would that be possible?

[2018-10-31 13:56] killnine opened #9355 "Certificates and HTTPS"
Back in the summer I set up a aspnetcore 2.0 project and everything pretty much worked out of the box. Now I've set up a 2.1 project and Kestrel immediately complains about not having certificates installed as part of its move toward HTTPS by default.

When not in a docker environment, this is fine. It's like 1 command to add the development certificates to work locally on your machine. But this i

[2018-10-31 14:36] mjharper84 opened #9356 "Policy handler"
Helpful, thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1141d92-adeb-6841-229f-914c808f9a2b
* Version Independent ID: 7089b376-949f-c1c6-c37a-5d8cc7ecf104
* Content: [Policy-based authorization in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-2.1)
* C

[2018-10-31 15:41] DanJ210 opened #9357 "Add how to work with Windows Auth using Visual Studio Code"
**Help us make content visible**

Did not find explanation on how to use Windows Auth with Visual Studio Code.

**Describe the new topic**

Visual studio code is huge and rapidly becoming a preferred IDE. I can use Windows Auth and debug when using regular Visual Studio using the docs but there's nothing about how to do it with Visual Studio Code. So I cannot debug an app needing Windows Auth with

[2018-10-31 16:01] anurse opened #9358 "Add note to SignalR Comparison doc about PersistentConnection"
https://docs.microsoft.com/en-us/aspnet/core/signalr/version-differences?view=aspnetcore-2.1

There's no mention of the fact that PersistentConnection was removed in ASP.NET Core. We should call that out.

[2018-10-31 16:11] anurse commented on #9349
Groups in ASP.NET Core SignalR _are_ a little more secure (since they aren't tracked by the client) but I don't feel confident calling them out as a security mechanism. We should put a message in our docs to say that they are not designed to be a security mechanism. Something like:

Groups are not intended to be a security feature. Use Authentication and Authorization functionality (some links her

[2018-10-31 16:11] #9086 closed

[2018-10-31 16:21] Eirenarch commented on #9349
OK I am really confused. If I have a Group representing a chat room and I add people on the server with the proper credentials check can I confidently send a message and be sure that people I have not added can't read those messages?

[2018-10-31 16:22] guardrex commented on #9355
Hello @killnine ... this is a duplicate of https://github.com/aspnet/Docs/issues/6199 (with a little bit more discussion, perhaps overlap, on https://github.com/aspnet/Docs/issues/3310). I'll close here, and you can track the work on #6199.

[2018-10-31 16:22] #9355 closed

[2018-10-31 16:22] guardrex commented on #9356
Thanks @mjharper84!

[2018-10-31 16:23] #9356 closed

[2018-10-31 16:30] guardrex commented on #9357
Hello @DanJ210 ... There's not much to say about VSC with Windows Auth. It's mostly configured in IIS. The IIS Options default to a config that makes Windows Auth work OOB as far as the app is concerned (when using `CreateDefaultBuilder`). See: https://docs.microsoft.com/aspnet/core/host-and-deploy/iis/index#iis-options

If you have something specific that you think we need to add to https://docs.

[2018-10-31 16:47] anurse commented on #9349
The reason I say it's not a "security feature" is because we haven't done the work of going through it thoroughly to vet it for security issues. Authentication and Authorization systems generally need varying degrees of security checks, depending on the system, and making a blanket statement about "security" is something we do very very cautiously.

In your scenario, you're probably fine using a G

[2018-10-31 16:51] Eirenarch commented on #9349
I see. So I think this topic which

1. Is very common question, and a concern for many of the SignalR use cases
2. Differs from the behavior of the previous version of SignalR which still dominates the Google results
3. Is relatively complex and nuanced

Definitely should be covered in the docs.

[2018-10-31 17:27] vankampenp opened #9360 "Please add info about adding a second version"
Thanks for this documentation. I would like to have  document for V1 and another for V2. I do get that by duplicating the lines where you specify V1, but then I get two documents, one titled V1, the other V2, but the contents is the same.
So can you add some word around that as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-10-31 17:38] anurse commented on #9349
I'm not sure I'd say it differs much in terms of user scenario, since the previous version also stated that they should be avoided as a security mechanism

I definitely agree some docs updates would be good here though.

[2018-10-31 18:14] rjean99 commented on #6146
I'm currently going through both tutorials so I can compare the results.  My main concern is which approach will provide the most flexibility for customization and simple integration of 3rd party controls (ie. DevExpress, Bootstrap, etc.)  not so much pure speed/ease of coding

[2018-10-31 19:43] BrennanConroy opened #9363 "Add websocket origin feature to docs"
See the change here: https://github.com/aspnet/AspNetCore/commit/768d2a023e32c8530a4cda6a5a3c41fc5136b9a4

example usage:
[code]

This is a first class feature for [websocket origin restriction](https://docs.microsoft.com/aspnet/core/signalr/security?view=aspnetcore-2.1#websocket-origin-restriction) that we added in 2.2.

[2018-10-31 20:09] Rick-Anderson commented on #9352
The SO thread says you found your answer. Is that correct?

[2018-10-31 20:46] #9226 closed

[2018-10-31 21:06] #9349 closed

[2018-10-31 21:48] LouBH commented on #9258
Re-read the instructions.  I had created a folder called "Instructor" under Pages when it should have been "Instructors".  I wish I understood what I am doing.  Ha ha  I have written SQL for years and can make it jump through hoops.  Linq is leaving me in the dust, trampled and bleeding.

[2018-10-31 21:49] vankampenp commented on #9360
I would like to use route based versioning, so /api/v2/dothis and /api/v1/dothis

[2018-10-31 21:51] LouBH commented on #9258
My last post was unclear.  My problem was solved by deleting the "Instructor" pages and scaffolding "Instructors"

[2018-10-31 21:52] Rick-Anderson commented on #9258
Glad you fixed it. Thanks for reporting back.

[2018-10-31 21:52] #9258 closed

[2018-10-31 22:33] Rick-Anderson commented on #6146
@Ponant

I've debated that with @ardalis in the past. RP can have more files, but that's OK. We're not saying  RP has less files and that makes it better.

I can assure you he's not.

I think you have two misconceptions:

* Files/Folder is the major advantage.
* RP is much different from MVC

It's trivial to go from one to the other. Almost all the APIs you use are identical. I think a much better

[2018-11-01 00:16] brightertools opened #9365 "GetEncoding"
Where is GetEncoding referenced?
in the line:
var encoding = GetEncoding(section);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5cfa38-0e6c-4346-dafc-84ea5c513fcf
* Version Independent ID: c6787f0f-3e9a-6efb-0e6e-5ccb957d3f4a
* Content: [File uploads in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc

[2018-11-01 00:49] Rick-Anderson opened #9366 "Style MVC update: Create a Web API"
Apply the following Style MVC updates:

* Titles shouldn’t wrap, left ToC and right ToC
* H1 should begin “Tutorial: “ followed by a verb (“Tutorial” not in ToC entry or meta title)
* “Light intro” w/o notes or caveats, describes what the customer will learn, or do, or accomplish. Answer “why would I want to do this?”
* Show green checkmarks at beginning before first h2 and at end in Next steps se

[2018-11-01 00:55] Rick-Anderson commented on #8482
@scottaddie 	please review. Should I bump this up to `@blowdart` ?

[2018-11-01 01:47] guardrex commented on #9365
Hello @brightertools ... It's in the sample app here :point_right: https://github.com/aspnet/Docs/blob/master/aspnetcore/mvc/models/file-uploads/sample/FileUploadSample/Controllers/StreamingController.cs#L150-L161

[2018-11-01 01:48] guardrex commented on #9365
btw - The topic is scheduled for a major update at some point on #5331. I don't think we'll need to add this issue to the list because I think the sample and topic will change quite a bit on the update.

[2018-11-01 02:42] Rick-Anderson commented on #9072
@HaoK please review

[2018-11-01 02:47] ahamidou opened #9367 "ASP.NET Core SPA Angular 7 SSR"
I was able to successfully create an Angular 7 SPA rendering on the client side, There's no documentation however for how to render it on the server side.
The only documentation I found is kind of obsolete today because it's for older versions of Angular, here: https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/angular?view=aspnetcore-2.1&tabs=visual-studio#server-side-rendering

Can we

[2018-11-01 03:31] Ponant commented on #6146
@Rick-Anderson , thanks for taking the time to answer.

1) What about the other points raised? They are to me the most important ones to my eyes to encourage people to use it, because everyone is interested in productivity boost and third party integrations. I understand that you can use RP and traditional MVC in the same project to support third parties but it makes you switch between concepts, t

[2018-11-01 04:40] Rick-Anderson commented on #9367
@ahamidou 	would you mind opening this issue at the bottom of the page? That will help get your issue considered.

![image](https://user-images.githubusercontent.com/3605364/47832947-5f36c000-dd3c-11e8-857b-66649341c924.png)

[2018-11-01 04:42] Rick-Anderson commented on #9360
@vankampenp 	thanks for the suggestion. We'll consider this in the next doc update.

[2018-11-01 04:45] Rick-Anderson commented on #9363
BTW we have a https://github.com/aspnet/Docs/tree/release/2.2.0 branch
cc @anurse

[2018-11-01 04:47] Rick-Anderson commented on #9335
@bradygaster 	no need to explicitly call out PR in the issue, it's added automagically when you refer in the PR.

[2018-11-01 04:47] Rick-Anderson commented on #9344
@adravi 	thanks for the suggestion.

[2018-11-01 08:02] benzhi2011 commented on #9352
By using the middleware, I can achieve the same as I did for dotnet core 1.1. But I would like to find alternatives, because the middleware is called on every request. Is it necessary? I have tried to updated the user claims in the HttpContext after the SignInAsync. But it doesn't work.

[2018-11-01 11:17] vankampenp opened #9369 "Web.Config deployement for module removal"
I would like to permantly remove the webdav module by adding a section to web.config as described here:
&lt;modules runAllManagedModulesForAllRequests="false"&gt;
        &lt;remove name="WebDAVModule" /&gt;
 &lt;/modules&gt;

However, even though this is changed in the web.config in the project, and Copy to Output Directory is set to Copy Always, the web config is generated from scratch without m

[2018-11-01 11:19] blackn1ght opened #9370 "Trigger authentication"
What's the best way to force the user to be authenticated as soon as they use the application?  The sample code doesn't show how to do this.

I've attempted to do it via app.Use(async (context, next) ... then checking if the user identity is authenticated or not and then creating a ChallengeAsync with the WsFederationDefaults.AuthenticationScheme, however it just results in an infinite loop, so I'

[2018-11-01 11:46] guardrex commented on #9369
Hello @vankampenp ... See :point_right: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.1#webconfig-file ... use the `IsTransformWebConfigDisabled` property in the project file.

[2018-11-01 11:56] guardrex commented on #9370
Hello @blackn1ght ... Can you decorate **_all_** of the page models/controllers with `[Authorize]`?

[2018-11-01 12:06] blackn1ght commented on #9370
Hi @guardrex ,

I've got the following in my `Startup.cs`:

[code]

So I figure that would effectively do the same thing? I've actually managed to get it to work now - I think I was going in the right direction with my initial comment, however I think CORS was causing the redirect loop.  The following code seemed to resolve the infinite redirect loop and enable auth to happen right away:

[code]

[2018-11-01 12:27] Peter554 opened #9371 "id vs ID?"
Can you please clarify why the route parameter id matches with the controller action parameter ID? Is this case insensitive in general? Otherwise a great tutorial so far :+1:

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20264150-9ac7-2b21-3314-64ffa114410f
* Version Independent ID: 3477519b-1bc2-73be-33e3-63067383d42

[2018-11-01 12:44] vankampenp commented on #9369
@guardrex   Thanks that works!
Just a note the documentation says:
If a web.config file is present in the project, the file is transformed with the correct processPath and arguments to configure the ASP.NET Core Module and moved to published output. The transformation doesn't modify IIS configuration settings in the file.

That last sentence seems to be incorrect.

[2018-11-01 14:43] guardrex commented on #9369
I checked here, and it works.

I put a web.config file in the project root (I'm using a self-contained deployment for this test):

[code]

I publish normally (i.e., I don't set the `IsTransformWebConfigDisabled` property).

The following *web.config* is published ...

[code]

[2018-11-01 14:45] guardrex commented on #9369
If the `IsTransformWebConfigDisabled ` property is set to `true` (and one has to delete a prior published *web.config* to see the result), the file is published untransformed ...

[code]

[2018-11-01 14:49] guardrex commented on #9369
@jkotalik TL;DR ... I've always wondered about the reasoning behind not running all of the *web.config* creation/transformation logic on every publish operation. I had to delete the prior published *web.config* to see the result of setting the `IsTransformWebConfigDisabled` property.

[2018-11-01 15:23] Neutrino-Sunset opened #9372 "Need for the scaffold process is not explained."
The 'Scaffold Register, Login, and LogOut' section is as very confusing. It says to follow the instructions in 'Scaffold identity into a Razor project with authorization' and that then 'When a user clicks the Register link, the RegisterModel.OnPostAsync action is invoked'.

But the 'Register', Login and Log Out buttons are already wired up and functional even _before_  following the scaffold proce

[2018-11-01 15:56] Frankofoedu opened #9373 "getting null user in userManager.FindByIdAsync"
My password is a strong password.

     private static async Task<string> EnsureUser(IServiceProvider serviceProvider,
                                                        string testUserPw, string UserName)
            {
                var userManager = serviceProvider.GetService<UserManager<AppUser>>();

                var user = await userManager.FindByNameAsync(UserName);

[2018-11-01 15:57] THammond9 opened #9374 "Where is the tutorial that refers to the commented out @Html.Partial("_LoginPartial") ?"
I am looking to start using ASP.NET Core from ASP.NET and this tutorial recommends to commenting out @Html.Partial("_LoginPartial") but does not hint at why and does not provide a link to the tutorial that explains why this is done.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0591f873-94fa-c678-a905-e002e4f2c902
* V

[2018-11-01 16:47] regul4rj0hn commented on #7644
Up you to decide that. We usually do that on `appsettings.json`, or if it is sensitive information on a `secrets.json` that we encrypt at rest. You can load those configuration files on Startup.cs, and then use them with `Configuration["SomeSetting"]`.

[2018-11-01 17:08] HaoK commented on #9232
Yeah its in the tests for options builder:

https://github.com/aspnet/Options/blob/master/test/Microsoft.Extensions.Options.Test/OptionsBuilderTest.cs

[code]

[2018-11-01 17:11] HaoK commented on #1895
I think we used to have old documents talking about this (pre core docs).

The barest minimum for password logins is implementing a schema that is able to store everything in
`IUserPasswordStore`

https://github.com/aspnet/Identity/blob/master/src/Core/IUserPasswordStore.cs

[2018-11-01 17:24] dfoulk opened #9376 "ASP.NET Core API Migration 2.0 to 2.1"
**Help us make content visible**

- I found [Migrate from ASP.NET Core 2.0 to 2.1
](https://docs.microsoft.com/en-us/aspnet/core/migration/20_21?view=aspnetcore-2.1) via Google
- That documentation walks users through migrating from 2.0 to 2.1, but some of the content appears to be irrelevant to API applications (and some content may be missing for API applications). For example: [Changes to Start

[2018-11-01 18:06] anurse commented on #9363
Note: This should be added to the [WebSockets doc](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/websockets?view=aspnetcore-2.1) **and** linked to from the [SignalR security](https://docs.microsoft.com/en-us/aspnet/core/signalr/security?view=aspnetcore-2.1) doc (replacing the "WebSocket Origin Restriction" section in 2.2 and later)

[2018-11-01 18:48] vankampenp commented on #9369
mm, I deleted the web.config from both the target web server and from
......\bin\x64\Debug\netcoreapp2.1

Since then the deployment works, I have tried a dozen different things but could no longer reproduce it not to work. With the IsTransformWebConfigDisabled  set to false, or completely removed, the transformation works as described in this doc.
Since asp.net 1.0, I have not been able to put any

[2018-11-01 18:57] guardrex commented on #8763
@rynowak This isn't going as smoothly as I would've liked. Just a note for the future here.

Your notes are good, but the notes only moderately align with the sections of the topic, and we're versioning for old vs. new ... not seeking to compare and contrast `IRouter`-based vs. `Endpoint`-based.

Some of the routing members that aren't mentioned in your notes are mixed into the text in places wher

[2018-11-01 19:03] vytasg opened #9379 "It is unclear what's the 3rd option is"
Quote from the top:
ASP.NET Core ships three server implementations:
    1. Kestrel is the default, cross-platform HTTP server for ASP.NET Core.
    2. HTTP.sys is a Windows-only HTTP server based on the HTTP.sys kernel driver and HTTP Server API. (HTTP.sys is called WebListener in ASP.NET Core 1.x.)
3. ?!?!?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-11-01 19:18] #8824 closed

[2018-11-01 19:20] Akelitz opened #9381 "Fix node name for Swashbuckle article in TOC"
This page should be "Swagger / OpenAPI &gt; Get started with Swashbuckle" in the menu on the left while it is "Swagger / OpenAPI &gt; Overview"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14fce65f-1337-58cb-2193-8d8e0e62792d
* Version Independent ID: 59222460-a971-e76e-4fe9-23d4d7d768ee
* Content: [Get started with

[2018-11-01 19:36] scottaddie commented on #9379
@vytasg There aren't 3 options until ASP.NET Core 2.2, in which case IISHttpServer is the third.

@guardrex Please change the introductory text into something more generic, such as "ASP.NET Core ships with the following server implementations:".

[2018-11-01 19:36] guardrex commented on #9379
Yes, thanks @vytasg. The 3rd line is for `IISHttpServer` ... and that only shows up on the 2.2 versioned content. I'll patch this by moving the lead-in line inside the versioning tags.

[2018-11-01 19:36] guardrex commented on #9379
Sure ... that makes sense. I'll do that.

[2018-11-01 19:39] Rick-Anderson commented on #6739
@olavt 	can you create a project with the following:

[code]

Make sure you've got the latest release .NET Core SDK
`dotnet --version``

[2018-11-01 19:42] #9379 closed

[2018-11-01 19:45] #1895 closed

[2018-11-01 19:50] Rick-Anderson commented on #9372
You only need to scaffold them to view the code.

[2018-11-01 19:56] Rick-Anderson commented on #9371
Yes, it's case insensitive.

[2018-11-01 19:56] #9371 closed

[2018-11-01 20:14] RowlandShaw opened #9384 "Steps for creatin are incomplete"
The Individual User Accounts options requires a domain name, application id and sign up/in policy, but there's no guidance as to what to put for these

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94bfd895-d2af-390b-0801-428b36a27ff4
* Version Independent ID: 0e0d870e-e49a-e16c-c259-68d58e701b8f
* Content: [Introducti

[2018-11-01 20:31] adravi commented on #9344
I'm actually about to figure it out. I'm using .NET Core 2.1 (using API Template) and a React 16.6.0 client (create-react-app template) using react-adal (https://github.com/salvoravida/react-adal) and Azure App Registration. I can upload the code. Perhaps it can serve as reference. I'll update this thread when it's finished.

[2018-11-01 20:32] adravi commented on #7644
Thanks @regul4rj0hn

[2018-11-01 20:35] scottaddie commented on #8482
@Rick-Anderson Let's have Barry weigh in on this.

[2018-11-01 20:44] Rick-Anderson commented on #8482
@blowdart 	customer discovered  vulnerable to cross-site scripting.  Please comment and set priority.

[2018-11-01 20:46] Rick-Anderson commented on #9384
@RowlandShaw 	where do you see that?

[2018-11-01 20:49] Rick-Anderson commented on #9372
Per the first sentence

ASP.NET Core 2.1 and later provides ASP.NET Core Identity as a Razor Class Library. Applications that include Identity can apply the scaffolder to selectively add the source code contained in the Identity Razor Class Library (RCL).

[2018-11-01 21:31] tdykstra commented on #9381
@Akelitz Thanks for reporting that - I'm fixing it.

[2018-11-01 21:45] blowdart commented on #8482
Oh dear. Yes, you could probably optimise a bit more;

[code]

[2018-11-01 22:39] Rick-Anderson commented on #8482
@fiyazbinhasan can you fix this JavaScript?

[2018-11-01 22:53] dotnetchris opened #9394 "VcardInputFormatter.cs code sample is not displayed on docs page (reopens #6849)"
#6849 was not addressed. In other GitHub issues i was informed closed issues are not tracked.

The code file is in https://github.com/aspnet/Docs/blob/master/aspnetcore/web-api/advanced/custom-formatters/sample/Formatters/VcardInputFormatter.cs

Take a look at the raw docs markdown https://raw.githubusercontent.com/aspnet/Docs/master/aspnetcore/web-api/advanced/custom-formatters.md

You'll find 4

[2018-11-01 22:54] dotnetchris commented on #9394
@Rick-Anderson i located the confusion regarding #6849, the VcardInputFormatter.cs  is not used in the docs markdown to actually be displayed to users.

[2018-11-01 23:13] #9328 closed

[2018-11-01 23:57] #9212 closed

[2018-11-02 00:19] robmagara opened #9396 "Casting to bool is broken"
# Before you open an issue

# Issue description

1. Find code casting to a bool:
== "1" ? true : false;

2. Value in the row is reading from MySql as true so it's not equal to 1 and the value is assigned false erroneously
user.LockoutEnabled = row["LockoutEnabled"] == "1" ? true : false;

In runtime row["LockoutEnabled"] = true when set to 1 in MySql database

3. The fix is to add this condition t

[2018-11-02 01:06] #9372 closed

[2018-11-02 02:21] ahamidou opened #9398 "ASP.NET Core SPA Angular 7 server side rendering SSR"
I was able to successfully create an Angular 7 SPA rendering on the client side, There's no documentation however for how to render it on the server side.
The only documentation I found is kind of obsolete today because it's for older versions of Angular,

Can we have the above content updated to reflect Angular 7 SSR?

* ID: 32a18270-91cd-2a02-2eb8-2c8b1ed03737
* Version Independent ID: c58d57e5-

[2018-11-02 11:39] guardrex commented on #9398
Hello @ahamidou ... This looks to be a duplicate issue, and there might be existing duplicates.

* Document how to setup server side rendering with Angular Template #7971
* Add documentation for Server Side rendering from Angular templates #7310
* master issue:Update to angular 6 #8816 (request to skip 6 and go straight to 7)
* Update Angular SSR docs to match updated Angular 6 template #8139

[2018-11-02 11:59] fiyazbinhasan commented on #8482
@Rick-Anderson sure! @blowdart already provided the solution. I'll fix the `getdata()` method by tomorrow.

[2018-11-02 13:15] a-yerra opened #9399 "Link for "When to use ViewBag, ViewData, or TempData" at the end of page isn't working"
The link points to _http://www.rachelappel.com/when-to-use-viewbag-viewdata-or-tempdata-in-asp-net-mvc-3-applications/_ which is no more running. Please restart the webapp or provide an alternative resource.

Thanks!

[2018-11-02 13:16] a-yerra commented on #9399
This is part of the ASP CORE 2.1 MVC Tutorial at https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-view?view=aspnetcore-2.1

[2018-11-02 14:07] athomas-wtv opened #9400 "Redirect"
How do I redirect back to the login screen if someone isn't authorized?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c3930e5-8a4f-8bdf-7167-9aed8afc4253
* Version Independent ID: cea5942d-fb01-f5bf-3b63-25873d5b79cf
* Content: [Simple authorization in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/securi

[2018-11-02 15:40] robertburgh commented on #9271
Is it possible to use the asp tag helpers (asp-page-handler for example) and also call a javascript function?
Possible uses would be to use functions to modify classes or use toastr.

[2018-11-02 15:42] robertburgh commented on #9271
unintended location of previous comment

[2018-11-02 15:43] robertburgh opened #9401 "tag helpers and javascript"
Is it possible to use the asp tag helpers (asp-page-handler for example) and also call a javascript function?
Possible uses would be to use functions to modify classes or use toastr.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 164d7efe-01bf-0b26-7a23-f10704f338f5
* Version Independent ID: b3e2bc87-1582-2d34-c7c2-7c8

[2018-11-02 15:54] toryb opened #9402 "Console app without an entry point"
In the section referenced in the title, the first two steps indicate that the IHostingStartup implementation is in a library that is referenced by the console app. But everything after that indicates that the console app contains the IHostingStartup implementation.

For example, the project XML makes no reference to another library. The sample *.deps.json shows the target and the runtime with the

[2018-11-02 16:15] tdykstra commented on #9394
@dotnetchris Thanks for explaining the issue,  The omission of input formatter code is by design since in each case the input and output formatter code is similar. I've added a note about the availability of an input example in the sample app at each point where an output example is shown.  Please review PR #9403

[2018-11-02 16:29] guardrex commented on #9402
Thanks @toryb ... I think you'll end up being correct. The phrase "is referenced" is likely going to turn out to be a poor choice of words. Let me take a closer look at this this afternoon and get back to you. I think we'll end up making a wording change here.

[2018-11-02 18:03] anurse opened #9405 "API Design Considerations in SignalR"
For the doc-a-thon on Monday:

We should write a doc about API design consideration in SignalR:

* Adding parameters to either a client or server method is a breaking change, old clients/servers will fail to invoke the method
* Adding *properties* to a custom object parameter is *non-breaking*, and is the recommended way to make versionable APIs
* Use Typed Clients in Hubs
* Using HubMethod attrib

[2018-11-02 18:36] toryb opened #9406 "Deployment Issues"
This was a very helpful article. However, the information for deploying the sample did not work for me. I encountered two issues that I had to handle manually.

First, the modify_deps_json.ps1 did not appear to work. The runtime location in StartupDiagnostics.deps.json did not get "lib/netcoreapp2.1/" prefixed to the assembly. I had to do that manually.

Second, the dotnet store command added all

[2018-11-02 18:44] guardrex commented on #9406
Thanks @toryb for the report. I'll re-run the steps and see if I can repro. It's possible that churn in the SDK has broken something along the way since we first put the topic up.

[2018-11-02 18:52] toryb opened #9408 "How to publish Runtime Store IHostingStartup implementation assembly to Azure"
Hi,
One thing that doesn't seem to be addressed here is how to make a runtime store IHostingStartup assembly available when I publish the WebHost application to Azure.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 613ad64e-bc62-edf7-2e86-42210de718f4
* Version Independent ID: aabbbc32-3237-5ef9-c422-892dc6884

[2018-11-02 19:07] guardrex commented on #9406
For Item 1 thus far, it's working here (the spacing the file is ugly due to the PowerShell module that handles JSON (`ConvertTo-Json`), but I see two updates to make from the result:

* I changed the name of the assembly but don't show the new name in the topic (*StartupEnhancement.dll* :point_right: *StartupDiagnostics.dll*).
* The deps are different: The hosting and DI packages are present.

I'l

[2018-11-02 19:28] guardrex commented on #9406
**Yes!** on Item 2.

@pakrym TL;DR The `dotnet store` command doesn't put the hosting startup assembly into the user profile's store at `C:\Users\{USER_PROFILE}\.dotnet\store\x64\netcoreapp2.1` as it did before and as we say in the topic. Did the cheese move on this aspect?

Should I now say that instead of running the `dotnet store` command on the hosting startup project ...

[code]

[code]

Ref:

[2018-11-02 19:54] guardrex commented on #9408
I presume you mean for a no-compile-time reference hosting startup, since a hosting startup published as a NuGet package with a compile-time reference is ok. My impression is that for a no-compile-time approach that one would need to use an installer. @pakrym, can u clarify?

[2018-11-02 20:12] toryb commented on #9406
@guardrex ,

Here is my PS version info.

Major: 5  Minor: 1  Build: 17134    Revision:228

I will provide a little more information after my next meeting. I'll show the top of my deps.json file from the deploy folder.

[2018-11-02 20:18] tdykstra commented on #5466
I'm seeing a WebSocketException:

with ObjectDisposedException inner exception:

Object name: 'HttpResponseStream'.

[2018-11-02 20:41] #9381 closed

[2018-11-02 20:48] anurse commented on #5466
That's the one

[2018-11-02 20:54] Rick-Anderson opened #9410 "New doc: Safe storage of app secrets in production"
This could be a overview page with links docs on securing test/production secrets.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration

Security
Adopt the following best practices:
•         Never store passwords or other sensitive data in configuration provider code or in plain text configuration files.
•         Don't use production secrets in development or test environment

[2018-11-02 20:58] guardrex commented on #9406
Ok, thanks. It doesn't seem like the PS version is to blame then. I'll check the publish command that I was using and post that in here to make sure that we're both using the same command. I'll get back to this sometime this weekend.

[2018-11-02 21:14] toryb commented on #9406
@guardrex,

I looks like I am getting an error:

1>& : AuthorizationManager check failed.
1>At line:1 char:6
1>+ & { &'.\modify_deps_json.ps1' 'Debug'}
1>+      ~~~~~~~~~~~~~~~~~~~~~~~~
1>    + CategoryInfo          : SecurityError: (:) [], PSSecurityException
1>    + FullyQualifiedErrorId : UnauthorizedAccess

I tried running VS as administrator and that didn't help. I'm not sure what needs to ha

[2018-11-02 21:20] toryb commented on #9408
@guardrex

Yes that is what I meant.

In the document, no-compile-time reference was deployed using the runtime store method. I don't know if there is any access to adding to the runtime store for Azure deployed Web Apps. I really hope so because the no-compile-time reference will really solve an issue for us.

[2018-11-02 21:24] Rick-Anderson opened #9411 "VSC instructions for creating and running a new project"
From Scott’s earlier email I gathered that’s not needed if you use dotnet run, is that incorrect?

You need to explain the dialog. Seem's easier to click yes than dismiss it.

cc @tdykstra

[2018-11-02 21:41] Rick-Anderson commented on #9400
You don't need to, the framework does that for you.

[2018-11-02 21:41] #9400 closed

[2018-11-02 21:42] Rick-Anderson commented on #9400
@athomas-wtv 	look at the template generated code to see how it's done.

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.1&tabs=visual-studio

[2018-11-03 08:03] olavt commented on #6739
@Rick-Anderson

Ok, then I get the asp-are="Identity" rather than asp-area="AzureAD".

But, the article does not state what kind of ASP.NET Core 2.0 to 2.1 projects we are using as an example here. If you have a 2.0 application with Azure AD authentication it looks slightly different.

I think this should be clearer.

[2018-11-03 09:56] TLIOCHON opened #9414 "How to work with number?"
Could you tell how to solve the issue with the decimal number separator (dot or comma)? There is a confilct beetwen jquery validation and .Net model parsing.
Here is the way to reproduce this issue in the demo code with the registration process :
. add number proeprty to RegisterViewModel.cs : public double Height { get; set; }
. add input form group for Heigth to Register.cshtml
. try a registrat

[2018-11-03 13:58] fiyazbinhasan commented on #8482
@Rick-Anderson @blowdart  @jamesjardine please check  https://github.com/aspnet/Docs/pull/9415

[2018-11-03 14:01] guardrex commented on #9406
In the project file where the script is called, try changing the execution policy of the script from *Unrestricted* to *Bypass*, which is slightly less restricted:

[code]
... to ...
[code]
If that doesn't work, try adding the `-Force` flag to it and see what happens ...
[code]
If none of that works, is the project sitting on a share off of your local machine? If so, try copying the entire project

[2018-11-03 14:31] guardrex commented on #9408
Correct ... AFAIK, the approach requires an *installer* in the mix to take care of placing the hosting startup in the runtime store ✨ *auto-magically* ✨ for an end user (i.e., someone who won't be executing the `dotnet store` command on their machine).

... However, I defer to Pavel to tell us what's what.

![mccoy](https://user-images.githubusercontent.com/1622880/47953270-6848ac80-df49-11e8-962f

[2018-11-03 16:52] guardrex opened #9416 "Should Fundamentals > Servers be streamlined?"
This was perhaps discussed and rejected ages ago when the current **Fundamentals &gt; Servers** node and topics were created: Why is so much server configuration in a "fundamentals"-type of topic?

I think the entire node could be collapsed to a single **Servers** overview topic. The deep and extensive details on config for all servers (including an HTTP.sys config topic) could be moved back to **

[2018-11-03 18:32] guardrex opened #9418 "Update 'checkbox'"
"checkbox" 👉 "check box"

[2018-11-03 19:45] guardrex opened #9420 "Update 'Static Files Middleware'"
"Static Files Middleware" :point_right: "Static File Middleware"

[2018-11-03 20:48] RowlandShaw commented on #9384
About here:
![image](https://user-images.githubusercontent.com/1315229/47957219-bee5d300-dfa9-11e8-854f-31df64293b96.png)

[2018-11-03 21:25] Bengelinski opened #9422 "Confusing instructions in section "Use F7 to toggle between a Razor Page and the PageModel"."
Confusing instructions in section "Use F7 to toggle between a Razor Page and the PageModel". The textual instruction says to select "Select EditorContextMenus.CodeWindow.ToggleRazorView" - however the picture is showing that the option beneath is selected ("Project and Solution Content....")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-11-03 22:49] ProfBird commented on #6146
I teach web development at a community college. My goal is to teach students concepts that are generally applicable regardless of what programming language or framework they end up using once they get a job. If I were to teach RP, then they would be learning a esoteric framework that shares little with other mainstream frameworks. By teaching ASP.NET Core MVC, they are learning concepts that will

[2018-11-03 23:00] ProfBird opened #9423 "Let us choose the framework we like"
Please don't push us toward Razor Pages. As an experienced developer,  I would like to make my now choose of framework. Inform me yes, but don't don't push. Some prefer RP, I prefer MVC-- don't make MVC a 2nd class choice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ad06677-5842-c1aa-153f-7993a9660dfa
* Version Ind

[2018-11-03 23:12] ahamidou commented on #9398
@guardrex I don't agree it's a duplicate 100%, this is about the latest version, Angular 7.
I even tried the above referenced issues, they were no help for me to get SSR to work by any means, so that's why I opened this issue.
On the other hand, let's agree that they're all duplicates... in which case how why don't we consolidate them and update the documentation once and for all?
Thank you!

[2018-11-03 23:17] guardrex commented on #9398
One of the issues (#8816) is for 6 (6 was the latest at the time), and it has a post asking to just skip to 7. Others deal with SSR.

I agree that these might be consolidated in some way. @scottaddie will know the best way to handle these issues.

[2018-11-03 23:17] xenalite opened #9424 "Access token logging"
`"A best practice is to set the web server's logging settings to prevent logging access tokens."`
Would be useful to clarify how to configure logging to log requests except for the ones containing tokens. They appear in `Info` log level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8af11946-ea05-3be2-6fa1-c4c01aa76d8

[2018-11-04 03:44] Rick-Anderson commented on #9423
Thanks for the comment.

[2018-11-04 03:44] #9423 closed

[2018-11-04 03:46] Rick-Anderson commented on #9422
@Bengelinski this is fixed in the current version of VS and you no longer need to set it up.

[2018-11-04 03:51] Rick-Anderson commented on #9384
@RowlandShaw 	the instructions are for the default user accounts in-app

![image](https://user-images.githubusercontent.com/3605364/47959794-0dd33e80-df91-11e8-91a7-d9dc8a381428.png)

[2018-11-04 15:36] FunkMonkey33 opened #9426 "How can we use SASS or LESS in our Angular+Core 2.1 Template Projects?"
**Help us make content visible**

- Visual Studio ASP.NET Core 2.1 Angular SASS
- https://docs.microsoft.com/en-us/aspnet/core/client-side/less-sass-fa?view=aspnetcore-2.1

**Describe the new topic**

I would like to be able to use SASS instead of raw CSS in my Angular components.  the styleUrls property does allow you to specify .sass files instead of .css, but they don't get pre-processed.  Goog

[2018-11-04 16:19] Tratcher commented on #9424
What field are they being logged from? This is why we don't log request headers or body by default. Is it in the query?

[2018-11-04 16:27] DrMayx opened #9427 "You may not be able to enter decimal commas in the Price field. To support jQuery validation for non-English locales that use a comma (",") for a decimal point, and non US-English date formats, you must take steps to globalize your app. This GitHub issue 4076 for instructions on adding decimal comma."
I don't know why but it seems in your example price 1.19 is working but if i try to enter the same number (even after changing datatype of price from decimal to float just to check if it may work ) "The value '1.19' is not valid for Price." how do i change this behaviour ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-11-04 16:35] BeejeeDS commented on #9398
I have been waiting for 3 months to finally see an updated version of the documentation. As of today we still have no clue how to make things work to successfully achieve SSR...

[2018-11-04 16:46] xenalite commented on #9424
@Tratcher Yes, the token is present in the query string.

[2018-11-04 17:35] tdykstra commented on #9416
Sounds good to me.

[2018-11-04 17:36] Tratcher commented on #9424
@anurse this is problematic advice as we don't actually provide a way to do it in our stack.

[2018-11-05 02:16] jcpc91 commented on #6334
this is why i hate projects template they abstract whats going on under the hood and implements bad bad practices and the programers follows and implements insecure code

[2018-11-05 02:30] Rick-Anderson commented on #9384
Somethings wrong with your Visual Studio. Try help/check for updates. If that doesn't fix it, try reinstall/repair the install.

[2018-11-05 02:32] Rick-Anderson commented on #6739
@olavt 	it's always the default.

[2018-11-05 08:48] neno978 opened #9430 "there is no web.config in asp.net core 2.0 +"
How to increase default upload size since there is no web config in asp.net core 2.0 project?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5cfa38-0e6c-4346-dafc-84ea5c513fcf
* Version Independent ID: c6787f0f-3e9a-6efb-0e6e-5ccb957d3f4a
* Content: [File uploads in ASP.NET Core](https://docs.microsoft.com/en-us/aspn

[2018-11-05 08:58] HappyNomad opened #9431 "Should the connection between IIS and Kestrel be over HTTPS?"
The docs say no: "Only the reverse proxy server requires an SSL certificate, and that server can communicate with your app servers on the internal network using plain HTTP."

But Scott Hanselman [says yes](https://www.youtube.com/watch?v=h9hlN0DOKRM&feature=youtu.be&t=1494): "You want that secure traffic to be secure all the way. You don't want it terminate at IIS and then have the last hop be eeh

[2018-11-05 09:10] BrianMinister opened #9432 "No such thing as HttpRequestMessage as referenced in document page."
# Issue description

https://docs.microsoft.com/en-us/aspnet/web-api/overview/error-handling/exception-handling references a class called `HttpResponseMessage` which is not found in the API reference.
https://docs.microsoft.com/en-us/dotnet/api/?view=aspnetcore-2.1&term=HttpResponseMessage

# Software versions

- [x] .NET Core 2.1, 2.0

# Details

[2018-11-05 09:23] niltor opened #9433 "AddClaimAsync failed with SqlException: Cannot insert the value NULL into column 'Id', table 'dbo.AspNetUserClaims'; column does not allow nulls"
# Issue description

AddClaimAsync failed  with SqlException: Cannot insert the value NULL into column 'Id', table 'dbo.AspNetUserClaims'; column does not allow nulls

# Software versions
dotnet 2.1.403
NETCore.App 2.1
AspNetCore.App 2.1.5

<details>

According to the instructions in the official document。

[Persist additional claims and tokens from external providers in ASP.NET Core](https://docs

[2018-11-05 11:09] f2calv opened #9434 "sync javascript/typescript examples"
It would make sense to sync as much of the code in the javascript & typescript examples, i.e.

Typescript example;
public async Task NewMessage(string username, string message)

Javascript example;
public async Task SendMessage(string user, string message)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dd2991d-c22d-ad

[2018-11-05 12:47] leder11011 opened #9436 "app docs-master is not running"
steps to reproduce:
leder@leder-VirtualBox:~$ dotnet --version
2.1.403

$killall dotnet

leder@leder-VirtualBox:~/Projekt/Doc-master/aspnetcoreapp$ dotnet publish --configuration Release
Microsoft (R)-Build-Engine, Version 15.8.169+g1ccb72aefa für .NET Core
Copyright (C) Microsoft Corporation. Alle Rechte vorbehalten.

Wiederherstellung in "80,82 ms" für "/home/leder/Projekt/Doc-master/aspnetcorea

[2018-11-05 13:07] guardrex commented on #9430
... and note that `UseKestrel` becomes `ConfigureKestrel` in 2.2.

https://docs.microsoft.com/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-2.2#maximum-request-body-size

[2018-11-05 13:14] guardrex commented on #9431
Hello @HappyNomad ... thanks for asking. It's possibly new engineering guidance that hasn't made its way down to us.

@Tratcher @shirhatti ... can you advise?

[2018-11-05 13:18] guardrex commented on #9432
Hello @BrianMinister ... Try this one ...

https://docs.microsoft.com/dotnet/api/system.net.http.httprequestmessage?view=netframework-4.7.2

[2018-11-05 14:36] jaketollette commented on #6425
@sampathdr I'm in the exact same situation. Would you be willing to share your ModelSnapshot and scripts with me as well?

[2018-11-05 15:03] ardalis commented on #9430
Is that (ConfigureKestrel) a breaking change or will UseKestrel continue to be supported?

[2018-11-05 15:40] stilren opened #9437 "Get stacktrace when a test crashes"
Hi! Thanks for a great tutorial.

One thing that always seems needlessly complicated is getting  a stacktrace whenever a integration test fails. How would one go about that in the most non hacky way in this project?

As a demo, throw an exception in the OnGetAsync method on GithubProfileModel which will cause GithubProfileModel-test to fail with an empty stacktrace

---
#### Document Details

⚠ *D

[2018-11-05 16:18] devSoheilAlizadeh opened #9438 "There aren't any official document about jwt in web api"
The title is clear. I've checked the docs but I couldn't find anything about jwt or Authorize and Authentication in web api! While there are some middleware and service for them.

[2018-11-05 16:29] guardrex commented on #9430
@ardalis Not breaking now; possibly not breaking in the future either (3.0).

It was discussed here :point_right: https://github.com/aspnet/KestrelHttpServer/issues/2760#issuecomment-408547274

[2018-11-05 16:30] ProfBird commented on #6146
Thanks for your thoughtful response. Those are good points. I'll give
them consideration. However, there is one practical issue about what
framework to teach or to learn and that is what goes in a portfolio and
on a resume. Many potential employers won't recognize RP while they will
recognize MVC, so it could be harder for a newly graduated student to
sell themselves if they learned RP instead of

[2018-11-05 16:30] guardrex commented on #9437
Hello @stilren ... I like your suggestion here for the topic. Let me look into it and get back to you shortly.

[2018-11-05 16:32] guardrex commented on #9430
Also, I should mention in passing @neno978 that this topic is on the schedule for an update at some point. We even have reports that the sample 💥 at times perhaps under certain conditions. See: #5331

[2018-11-05 16:35] danroth27 commented on #8816
@Misiu We haven't updated our templates to Angular 7 yet, but we're tracking the update here: https://github.com/aspnet/Templating/issues/694

[2018-11-05 16:44] anurse commented on #9424
This would likely have to be done with a post-processor then. Or we need to provide the functionality. SignalR's access tokens are in the query string, and users should know that, hence why the comment is there.

[2018-11-05 16:47] Tratcher commented on #9424
@blowdart

[2018-11-05 16:59] Tratcher commented on #9431
I don't quite follow that example, it wasn't even using IIS, it was showing local kestrel config. @danroth27 can you clarify?

ANCM does not support forwarding requests as HTTPS. However it has several other protections in place.

[2018-11-05 17:14] guardrex commented on #9437
@javiercn TL;DR Any way to get the stack trace of the app's exception *in the test* (i.e., some special case where one wouldn't just log it from the app)?

@stilren Why try to recover the stack trace in the test itself? I feel you must have a special reason not to just log it from the app.

Anyway ... as for the test itself ... I'm sure you saw that the test throws its own exception and has its ow

[2018-11-05 17:16] danroth27 commented on #3916
@Tratcher Do you want to propose a change for this one?

[2018-11-05 17:43] anurse commented on #9424
Filed https://github.com/aspnet/Docs/pull/9440 to add some clarity.

[2018-11-05 17:44] jkotalik opened #9441 "ANCM In-Process documentation"
Overall, ANCM In-Process documentation still needs a lot of work. Topics missing include
- Documentation on new module (AspNetCoreModuleV2) and associated changes
- Getting started with ANCM Inproc
- New ways of gathering information (Logs and debug logs, environment variable activation, etc.)
- Diagnostics (new startup pages) => #9452 resolves this
- Managed server configuration options
- IServer

[2018-11-05 17:49] pranavkm commented on #2386
@Rick-Anderson do you know what questions this issue references:

[2018-11-05 17:52] HaoK opened #9443 "Document new Options Validation feature in 2.2"
Document the options validation feature added in https://github.com/aspnet/Options/pull/266

[2018-11-05 17:58] Rick-Anderson commented on #2386
@pranavkm 	we lost LiveFyre comments a couple years ago.

[2018-11-05 17:59] shirhatti commented on #9431
As Chris said, ANCM doesn't support proxying over HTTPS. It's important to note that just because we don't use HTTPS in the last leg, it doesn't mean we aren't secure. We do create an unique token that we use when proxying over from IIS to your backend process which make it secure.

See https://github.com/aspnet/AspNetCore/blob/master/src/IISIntegration/src/Microsoft.AspNetCore.Server.IISIntegrati

[2018-11-05 17:59] guardrex commented on #9441
@jkotalik Are you looking at the 2.2 version of the ANCM ref doc?

https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-2.2

[2018-11-05 18:06] jkotalik commented on #9441
Yep.

This refers to how ANCM is now split into two different dlls and architectural changes associated.

@shirhatti will be taking care of this.

I think this is covered here: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-2.2#enhanced-diagnostic-logs, but want to do another pass through.

We added a few new startup pages in 2.2-preview3. @shirhatt

[2018-11-05 18:10] #9394 closed

[2018-11-05 18:12] ryanbrandenburg commented on #6222
Per previous conversations with @SteveSandersonMS my understanding is that this is an intentional omission. Our goal with the "SPA" templates has been parity with their versions of "dotnet new", and "create-react-app" does not support SSR. Would it be helpful to include a little info dialog which calls out SSR as a non-goal for us? Or would that be too inside-baseball and we should just leave it a

[2018-11-05 18:16] guardrex commented on #9441
Just want to mention in passing that we doc the current approach for the current version. We try not to use 'new in 2.2 you can'- and 'you used to do it this way'-types of remarks in reference docs. Of course, the blog posts make such remarks. Just want to make sure we're on the same page ... it's 💰 **_costly_** 💰 to make changes then go back in later and refactor the changes.

:+1: Very good ...

[2018-11-05 18:20] guardrex commented on #9431
The pairing token is covered here :point_right: https://docs.microsoft.com/aspnet/core/host-and-deploy/aspnet-core-module#proxy-configuration-uses-http-protocol-and-a-pairing-token

[2018-11-05 18:40] bradygaster commented on #9335
Closing this issue as we have a PR open for it now in the Java client doc.

[2018-11-05 18:40] #9335 closed

[2018-11-05 18:41] ajaybhargavb commented on #9399
I just tested this and it seems to be working. Please re-open if you see any flakiness with the link in the future.

[2018-11-05 18:41] #9399 closed

[2018-11-05 18:48] guardrex commented on #9441
@shirhatti Note that we want to defer configuration details to the ANCM reference topic as much as possible.

We're lightly discussing it on https://github.com/aspnet/Docs/issues/9416 ... e.g., imo there's far (**_FAR_** :smile: lol) too much config now for Kestrel to be in a "fundamentals"-type of topic. The best thing imo for fundamentals is to refer back to the ref topic in *Host and deploy* fo

[2018-11-05 18:50] ygoe opened #9448 "Separate _ViewImports.cshtml required in each area"
Is there a reason why a _ViewImports.cshtml file is required in each area's Views folder? Without it, the @model type isn't found in my area's views. After copying the file from /Views into /Areas/MyArea/Views, the error was resolved.

If this is intentional, I guess it should be mentioned here. The assistant in Visual Studio that did other things to create my new (and first) area, hasn't done tha

[2018-11-05 18:57] ygoe commented on #9448
[This question](https://stackoverflow.com/q/13277126/143684) about repeating the _ViewStart.cshtml file in each area might be related. I also needed this to seamlessly integrate my new area into the application. It still applies to ASP.NET Core.

[2018-11-05 19:03] scottaddie commented on #8482
Fixed in https://github.com/aspnet/Docs/pull/9415.

[2018-11-05 19:03] #8482 closed

[2018-11-05 19:17] pakrym commented on #9408
I think we had a mistake from the beginning. Dotnet store uses csproj as manifest, generating store items for package references in it without ever building or including csproj output. We have to have manifest as a separate csproj from hosting startup.

I'm going to fix things up.

[2018-11-05 19:49] teskemj commented on #8832
I attempted to "type" F 7, rather than pressing the F7 key.

[2018-11-05 20:10] Rick-Anderson commented on #9448
@dougbu "Is there a reason why a _ViewImports.cshtml file is required in each area's Views folder? "

[2018-11-05 20:12] ryanbrandenburg commented on #8139
It seems that `AngularCliBuilder` is broken for our scenario here. Basically we're [ending up with](https://github.com/aspnet/JavaScriptServices/blob/master/src/Microsoft.AspNetCore.SpaServices.Extensions/AngularCli/AngularCliBuilder.cs#L55) `npm run build:ssr -- --watch`, which fails with `Unknown option: '--watch'`. @SteveSandersonMS do you have any history on why that --watch is there and how w

[2018-11-05 20:26] lambdakris opened #9451 "Using Kerberos/Negotiate/UseDefaultCredentials with WebApplicationFactory"
Is there a way to set UseDefaultCredentials = true or otherwise use Kerberos/Negotiate for intranet style apps with the WebApplicationFactory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77889d43-fedb-f8b4-8fea-379ec946555c
* Version Independent ID: f499b131-8b14-7e10-1728-543fdd5a5656
* Content: [Integration tests

[2018-11-05 20:31] BrennanConroy commented on #8915
I believe this can be closed. We have the [hubcontext doc](https://docs.microsoft.com/en-us/aspnet/core/signalr/hubcontext?view=aspnetcore-2.1) and https://github.com/aspnet/Docs/issues/6888 for hub lifetime explanation.

[2018-11-05 20:34] #8915 closed

[2018-11-05 20:34] BrennanConroy commented on #6463
I believe most of this has been covered by https://docs.microsoft.com/aspnet/core/signalr/version-differences?view=aspnetcore-2.2

I'll take a look and see if anything obvious is missing.

[2018-11-05 20:58] Tratcher commented on #3916
This is likely best covered by the [guidance](https://github.com/davidfowl/AspNetCoreDiagnosticScenarios/blob/0ba7625050f975f8a7df1df57c80ad08da250541/AspNetCoreGuidance.md#do-not-use-the-httpcontext-after-the-request-is-complete) @davidfowl is putting together. We'll need to figure out where that ends up back in the docs.

[2018-11-05 21:31] Rick-Anderson commented on #9384
@RowlandShaw 	I've never seen that behavior and we have multiple thousands of customers reporting success.

[2018-11-05 21:38] #2386 closed

[2018-11-05 21:55] Rick-Anderson commented on #9416
@tdykstra 	owns TOC so if he says it's OK, it's OK.

[2018-11-05 21:57] guardrex commented on #9416
Cool ... it won't take long to take a shot at this. It's just a reshuffling of existing content.

I'll wait until after the current round of hosting/server doc updates is merged before I work this issue.

[2018-11-05 22:07] tdykstra opened #9458 "TOC cleanup"
Clean up loose ends from recent TOC reorg
- [ ] Change the xref: link in the ASP.NET 4.x TOC to uid:
- [x] Delete aspnetcore/web-api/advanced/index.md and redirect to https://docs.microsoft.com/aspnet/core/web-api (https://github.com/aspnet/Docs/pull/9459)

[2018-11-05 22:20] danroth27 commented on #9416
@shirhatti

[2018-11-05 22:33] HaoK commented on #2363
@Tratcher I think this topic does a reasonable enuf job now https://docs.microsoft.com/en-us/aspnet/core/security/authorization/limitingidentitybyscheme?view=aspnetcore-2.1&tabs=aspnetcore2x

It doesn't cover everything you listed but it covers some of the issues involved with multiple schemes.

[2018-11-05 22:37] Tratcher commented on #2363
We have a sample that includes Jwt + cookies? That doesn't make sense, you can't challenge both of them.
[code]

[2018-11-05 22:44] bradygaster opened #9460 "[SignalR] SignalR .NET Clients page doesn't call out "client environments""
In [this](https://docs.microsoft.com/en-us/aspnet/core/signalr/supported-platforms) article, we cover the details of the .NET client for SignalR, but we don't call out any "client" scenarios, like Xamarin or desktop client apps, and in fact mainly call out "server" environments.

We should call out some of the client environments, like Xamarin, where the SignalR .NET Client could be used to provid

[2018-11-05 22:45] shirhatti commented on #9416
My naive answer is yes, but I'd hold off it for the time being. I wanted to do concerted SEO push (post 2.2 updates) and I assume this will just be an artifact of that.

[2018-11-05 22:51] HaoK commented on #2363
This doc predates the policy scheme stuff, I think https://github.com/aspnet/AuthSamples/tree/master/samples/PathSchemeSelection is prob the best sample for mixing those as of 2.1

[2018-11-05 22:54] HaoK commented on #2363
I guess I should just close this issue or re purpose it towards documenting the policy scheme stuff which targets this general scenario

[2018-11-05 22:55] Tratcher commented on #2363
AutomaticAuthenticate has become DefaultAuthenticateScheme or DefaultScheme
AutomaticChallenge has become DefaultChallengeScheme or DefaultScheme
I don't see any direct docs for either, only a few examples like [this one](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/ws-federation?view=aspnetcore-2.2#use-ws-federation-without-aspnet-core-identity).

CallbackPath may get cove

[2018-11-05 22:55] #9458 closed

[2018-11-05 23:02] guardrex commented on #9416
@shirhatti "this will just be an artifact of that" ... Do you want to take this issue, or do u want me to take the issue and wait until you signal me [your PR(s) are merged] before I work it?

[2018-11-05 23:06] shirhatti commented on #9416
Wait till I signal you 😄

[2018-11-05 23:10] #6091 closed

[2018-11-05 23:13] HaoK commented on #2363
My main point is all of these are obsolete/already things we are moving away from, it doesn't seem worth it to document them now, its better to just document the forward looking things (Policy schemes + identity server).  I will leave this bug open but unassign myself, and I'll file a new issue to track documenting virtual schemes and work on that today

[2018-11-05 23:14] BrennanConroy commented on #8397
@Rick-Anderson Probably close this as there isn't anything we can act on here.

[2018-11-05 23:14] bradygaster commented on #5648
i think this one is safe to close, as this is in the non-Core area and we're effectively concentrating on the core area moving forward. If we uncover reasons this needs to be re-opened we can cross that bridge when we come to it.

[2018-11-05 23:14] #5648 closed

[2018-11-05 23:18] HaoK opened #9464 "Document 2.1 policy schemes feature"
Maybe I will take a first stab at https://github.com/aspnet/Docs/issues/4055 as part of this as this will need a place to hang.

[2018-11-05 23:18] #8397 closed

[2018-11-06 00:44] javiercn commented on #9437
I believe the best option here is to use logging. The host will convert exceptions into 500 responses (Which is what it should do) so the best way to capture the stacktrace is to wait until the exception bubbles up and gets logged.

If you are debugging the best way to see the exception is to enable first chance exceptions and wait for the debugger to break.

[2018-11-06 01:20] davidfowl commented on #8925
@bradygaster we still need to do #8476

[2018-11-06 01:57] dwdickens opened #9468 "Set localisation based on ccTLD"
How can I have the localisation set based on the ccTLD (country-specific top level domain).
For example, a single web app that serves pages like mysite.com.au/foo/bar, mysite.co.uk/foo/bar etc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1833676-ff1b-c587-cc9c-81afffa8ef68
* Version Independent ID: ad989395-3f49-4d5

[2018-11-06 02:02] Rick-Anderson commented on #9468
Thanks for the question. You'll probably get a faster answer on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter.

[2018-11-06 02:41] Rick-Anderson commented on #6146
@ProfBird

ASP.NET Core MVC and RP share show much in common it's easy to learn and use them both in parallel. It's trivial to go from MVC to RP and vice-versa. It's much more difficult to go from ASP.NET Core MVC to Spring MVC.

Try the EF/MVC tutorial and the EF/RP tutorial, it's really trivial going from one to the other. Try going from ASP.NET Core MVC to Spring MVC, that's not so easy.

Learn

[2018-11-06 03:37] rswetnam opened #9470 "Snippets"
I am trying to follow along with your tutorials but find myself confused by the uses of Snippets and things like #define TemplateCode.  I've tried once before to follow your tutorials but gave up after forking and cloning your sample code and found it so full of conditionals and snippets getting me so confused that I forgot what I was trying to learn.

Perhaps I am missing something basic - but I

[2018-11-06 03:53] guardrex commented on #9470
Good point @rswetnam ...

In a case like this one (the Logging topic), we have the define directive at the top of the *Program.cs* file ...

[code]

It's set to `TemplateCode` and the rest of the symbols are commented out. The `if-elif-endif` singles out the section for `TemplateCode` and runs only that bit.

If you were to change that top line ... to say the `FilterInCode` symbol ...

[code]
...

[2018-11-06 07:06] Alienroid commented on #7072
Hi,

@bradygaster

The original ask has nothing to do with Group. The article is "Manage users and groups in SignalR". The issue is with the 'users' section, not the group section. The issue is sample code on page doesn't work (with ClaimTypes.Email). The sample code in github also doesn't include this.

This comment is just as recommendation to either update the sample that works with ClaimTypes.

[2018-11-06 07:34] stilren commented on #9437
Wow thats a quick reply!

As for the use case its partly for test reports, when something breaks in the build pipe you would like to have more information about it without having to reproduce locally (if that is even an option). Its also partly because its much more convenient to have it in the test runner when developing and not having to go digging for logs.

As for throwing a 500, its ofcourse

[2018-11-06 07:42] rswetnam commented on #9470
Thanks for your prompt response Luke - it was helpful.  My guess is that a
lot of people would benefit from the additional explanation that you spoke
of in the  how to run a samp
<https://docs.microsoft.com/aspnet/core/index#how-to-download-a-sample>
 area.

On Mon, Nov 5, 2018 at 7:53 PM Luke Latham <notifications@github.com> wrote:

--
Roger Swetnam
p.  604-408-5703
c.  778-848-3118

[2018-11-06 08:51] CwjXFH opened #9471 "DistributedRedisCache will write something extra into the cache"
# Document url
[Distributed Redis Cache](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed?view=aspnetcore-2.1#distributed-redis-cache)

# Issue description
Add service in container:
[code]

Set cache:
[code]

But,wirte into redis three keys and data type is hash instead of string

|key|value|
|---|---|
|absexp|-1|
|sldexp|200000000|
|data|{Name=xfh}|

In addition,`IDist

[2018-11-06 09:47] SteveSandersonMS commented on #8139
The `--watch` is so it keeps running in the background to regenerate the dist files whenever the developer modifies `.ts` sources. Maybe Angular 7 has renamed the option, in which case we should update to match (though then we need to drop compatibility with older versions of Angular).

[2018-11-06 09:50] SteveSandersonMS commented on #6222
I agree with your assessment, @ryanbrandenburg.

Yes, I think it would be reasonable to add a subheading to the React template docs stating explicitly that SSR is not an intended feature simply because it's not part of CRA, just so we can point people to it whenever they file this issue.

[2018-11-06 10:37] vankampenp opened #9472 "Internet Explorer 11 support"
The document says the Internet Explorer 11 is supported, however I am getting a problem with the syntax
 connection.start().catch(err =&gt; console.error(err.toString()));

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edc76539-dcd8-8271-b876-f2b492af9b49
* Version Independent ID: d0106767-c04e-39a8-fe1d-a40352552c62
*

[2018-11-06 12:29] abhiTechcs commented on #7380
Hi Scott,

Is this something you are looking forward to include this feature in near future?
We really wanted to utilise the MSI functionality from our web Api to get Key vault configuration builder.

appreciate your help in advance. :)

cheers,
Abhi

[2018-11-06 12:56] vankampenp commented on #9472
For IE 11, this works:
connection.start().catch(
        function(err) {
            console.error(err.toString());
        });

Same with the other arrow functions, they need to be replaced by an anonymous function

[2018-11-06 13:38] devbrsa opened #9473 "Filename from Content-Disposition"
Resolved.
`
ContentDispositionHeaderValue.TryParse(section.ContentDisposition, out var contentDisposition);
`
//

I don't know if is the correct place to ask, but how can I get the file name from Content-Disposition following "Uploading large files with streaming"? ty

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5c

[2018-11-06 13:44] timgroote opened #9474 "globbing pattern not working"
the example globbing pattern : `"inputFiles": ["wwwroot/**/*(*.css|!(*.min.css))"]`  does not seem to do anything in .NET Core 2.1. the net effect of this is an empty output file.

@Rick-Anderson 	Edit: 8K PV, 70% CSAT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f55e9a-cd3f-83a0-f142-969dc10d3ceb
* Version Indepen

[2018-11-06 14:02] timgroote commented on #9474
I've found leaving the parentheses () out, it *does* work.

[2018-11-06 15:05] a-yerra commented on #9399
Thanks. Acknowledged, link is working. Probably the host server was down when I last checked.

[2018-11-06 15:18] killnine commented on #6199
Maybe I am doing this incorrectly but perhaps this line needs to change:

to

When I did it without a filename specified I got the error:

[2018-11-06 15:43] Igor-Pchelko opened #9475 "Please update description for AddMvcCore / FormatFilter usage."
If endpoint or controller uses FormatFilter attribute then the corresponding service should be registered:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ebcd752-af71-c483-eebb-0745bd04fb30
* Version Independent ID: 1f678d5d-230b-0ad0-c925-15b13081f553
* Content: [Format response data in ASP.NET Core Web API](

[2018-11-06 16:29] scottaddie commented on #7380
@abhiTechcs I plan to work on this in the current sprint. In the meantime, see the following doc:

https://docs.microsoft.com/azure/key-vault/quick-create-net

You can also see how I've configured Key Vault with MSI in one of my personal repos:

https://github.com/scottaddie/ViewComponentsDemo/blob/master/ViewComponentsDemo/Program.cs#L18-L21

In this app, the .NET Core CLI's Secret Manager tool i