[2019-10-30 16:01] NickStrupat opened #15394 "The sample code is .NET Core 1.0, not 3.0 as the documentation suggests"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdbdf1ed-c52a-3be8-1f41-aecbdab0883b
* Version Independent ID: d06996cc-14aa-96e2-fd62-9d5bbc059107
* Content: [Create backend services for native mobile apps with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mobile/native-mobile-backend

[2019-10-30 16:02] springy76 opened #15395 "No mention of AddRazorSupportForMvc although warning links to this page"
I expected to find more information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e930c44-70f6-8820-1451-d1f781ded7a0
* Version Independent ID: 6a25fc79-b9b3-4bbf-4fde-8e44b3d8014e
* Content: [ASP.NET Core Razor SDK](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/sdk?view=aspnetcore-3.0)
* Content Source:

[2019-10-30 16:23] JeffreyMcJeffFace opened #15396 "How to scaffold authentication components to existing Blazor app"
After using the Blazor getting started tutorials, I then expanded on them for my first Blazor app for an internal tool. Later I realized I would need authentication for my app.

I searched for adding Authentication to existing Blazor app, but found little help. I've added Authentication to a .NET Core MVC app previously, so I was aware of the scaffolding of the authentication components.

Attempti

[2019-10-30 16:24] Daniel-OriginalsUnleashed opened #15397 "Lazy Loading - Example"
There was a change to the text around Lazy loading as it is now supported. Is it possible to get an example.

I tried to add Lazy&lt;&gt; around different elements of the Models but kept running into issues. For example Models.Course.Department, I used the .Value property i.e. .Department.Value or .Department.Value.Name... to access the data when called on the UI. An error was presented saying tha

[2019-10-30 16:24] paolofulgoni opened #15398 "Move documentation to a more generic place (non ASP.NET)"
Since `Microsoft.Extensions.DependencyInjection` can be used in non-ASP.NET projects, this documentation could be moved to some more general place.

Maybe to the .NET Core docs?

This is something similar to this: https://github.com/aspnet/AspNetCore.Docs/issues/14621#issuecomment-535566794

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-10-30 16:28] #15388 closed

[2019-10-30 16:32] #15398 closed, assigned to nobody

[2019-10-30 16:34] #15127 closed

[2019-10-30 16:45] #9713 closed

[2019-10-30 16:46] guardrex commented on #15396
Hello @zoenberger ... Because some aspects of authn/authz are still in design, such a topic isn't possible at this time. There's some discussion of showing workaround(s) now at ...

https://github.com/aspnet/AspNetCore.Docs/issues/15160

... and we'll keep a few authn/authz issues open (very similar to your ask), such as ...

https://github.com/aspnet/AspNetCore.Docs/issues/13022

... but this is

[2019-10-30 16:46] #15396 closed, assigned to nobody

[2019-10-30 16:48] Rick-Anderson commented on #15379
#13232

[2019-10-30 17:54] Rick-Anderson commented on #15397
See the  link in the article.

[2019-10-30 17:54] #15397 closed

[2019-10-30 17:55] redshiftz commented on #12346
Except it's not fixed in 5.2.0 or 5.2.3. I'm still getting this error.
Could not load file or assembly 'Microsoft.IdentityModel.Clients.ActiveDirectory.Platform, Version=3.14.2.11,

If the linkage is still an issue after all this time, perhaps it's time to abandon Microsoft.IdentityModel.Clients.ActiveDirectory and create a new client for IConfiguration to AzureKeyVault? It's just a webapi after a

[2019-10-30 17:57] guardrex commented on #12346
@redshiftz Can u use a managed identity? ... it worked when I tested it that way.

[2019-10-30 17:57] guardrex commented on #12346
I can put the sample up on GH if you want to see the updated version that worked.

[2019-10-30 17:58] #15012 closed

[2019-10-30 18:02] pranavkm commented on #15332
How about this: https://github.com/aspnet/AspNetCore.Docs/pull/15400?

[2019-10-30 18:34] redshiftz commented on #12346
@guardrex A sample would be nice. Maybe it would point out where the problem lies in more detail.

I do use managed identity when its deployed to Azure, but for debug on my laptop I'm using certificates to authenticate to keyvault. It seemed to be the best way to configure in our environment.

[2019-10-30 18:42] guardrex commented on #12346
I can't address the problem. That's for engineering. Certs aren't working, and the issues I linked seem to indicate that there's been some kind of regression in their framework.

The sample that I have wouldn't do you any good if you have Managed Identity working. That's all I have at this point.

If I can't get certs working, then there are three options:

* Wait ... fix it later when engineering

[2019-10-30 18:45] Daniel-OriginalsUnleashed commented on #15393
Yes that makes sense, I had been working through the documents creating my own project and did not see the Single Sample referenced in the pull request.

The Instructor property does not exist if you are following the tutorial pages and as mentioned in the full sample.

[2019-10-30 18:52] redshiftz commented on #12346
Frankly, with the history of this issue creeping back in yet again, I'm considering a fourth option. Abandoning Key Vault for another solution that doesn't use that framework.
Considering switching to HashiCorp Vault...

[2019-10-30 18:58] guardrex commented on #12346
Fair enough. :smile: I'm sure that they'll notice if that happens with a lot of devs. 💸💰

You *could* ... if you want to lean on it bit ... put an issue up (or add to an existing issue) on their Azure engineering repo. The managers and developers over there are :eyes: on their feedback. If you do open an issue with them, please put a "cc: @guardrex" at the bottom ... I'm as stuck, too! :smile: lol

[2019-10-30 19:58] paolofulgoni commented on #15398
OK, thanks for the clarification

[2019-10-30 20:00] guardrex commented on #15398
For what it's worth, I agree with you ... and there was thinking to do just that. One discussed idea was to move just about the entire *Fundamentals* node of this doc set over to .NET Core docs. In the end tho after discussion and debate, they decided not to do that.

[2019-10-30 20:10] Legends commented on #15362
this doesn't answer my question, but ok...

[2019-10-30 20:29] Rick-Anderson commented on #15362
We don't have meta-data to exclude  1.0, 1.1, 2.0 on every doc

[2019-10-30 20:45] serpent5 commented on #13507
Yeah, sure. I’ll do it.

[2019-10-30 21:20] Rick-Anderson commented on #15395
@pranavkm can we add info for
The MSBuild property 'AddRazorSupportForMvc' must be set to correctly compile Razor files that target MVC.

[2019-10-30 21:27] Rick-Anderson commented on #15390
That's left for the reader. This isn't meant to be a production app and there are countless improvements like this you could make. The tutorial is long as it is.

[2019-10-30 21:27] #15390 closed

[2019-10-30 21:28] Rick-Anderson commented on #15331
Sort and filter and independent and aren't meant to work together.

[2019-10-30 21:28] #15331 closed

[2019-10-30 22:07] martonx commented on #13423
It seems to me, this documentation is incorrect. Check this: https://github.com/aspnet/AspNetCore/issues/16672
It seems app.UseCors and options inside takes real effect, not service.AddCors.

[2019-10-30 22:54] guardrex commented on #13423
@martonx `service.AddCors` with a specified policy works if the policy is used with the call to `app.UseCors`, such as in your first example of the engineering issue (and shown in this topic) ... but indeed ... it has to be a cross-domain request to trigger the CORS Middleware to add the headers.

btw - We recommend that you don't test using a browser ... use a tool ... like Postman or Fiddler, wh

[2019-10-31 00:27] #15273 closed

[2019-10-31 01:11] jamoore5 commented on #12960
Thanks this helped solve my confusion from the document.

The screenshot from the browser using the form used lowercase "ghost" and I could not figure out why that did not work for me on a mac.

[2019-10-31 02:14] Rick-Anderson commented on #15387
See also #15385

[2019-10-31 02:14] Rick-Anderson commented on #15385
Moved to #15387

[2019-10-31 02:14] #15385 closed

[2019-10-31 02:16] Rick-Anderson commented on #15384
Dup of #13245

[2019-10-31 02:16] #15384 closed

[2019-10-31 02:32] Rick-Anderson opened #15407 "endpoint routing needs more SEO juice"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32374077-e02e-d6a6-1cea-05e58447b7cd
* Version Independent ID: 86aeab13-1c25-9fc1-4e56-0390cb40c242
* Content: [Routing in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.0#differences-from-earlier-versions-of-routing)
*

[2019-10-31 05:22] Daniel15 opened #15408 ""Complete the Channel in the catch and outside the catch"?"
This article has a note:

This is worded pretty clumsily and doesn't match the code snippet underneath (which just completes the channel under the try-catch, not "in the catch").

I think what it's *trying* to say is that you should complete the channel either in a `finally` block or underneath a try-catch block, such that it's always called, even if an exception is thrown.

---
#### Document Deta

[2019-10-31 08:39] RanlinChen commented on #13409
谢谢各位！

[2019-10-31 08:41] JamesNK commented on #14070
Fixed with https://github.com/aspnet/AspNetCore.Docs/pull/15291

[2019-10-31 08:41] #14070 closed

[2019-10-31 09:39] maurei commented on #7063
I don't think this works anymore for .net core v3 and up

[2019-10-31 13:32] gregveres opened #15410 "sqlite hard coded into the app?"
I have been doing some investigation into how to do .Net Core / EF Core development on a Mac with Visual Studio for Mac. The ultimate deployment target is Azure with Azure SQLServer.

The code on this page seems to hard code the target of sqlite:

[code]

When I read that part of the code, I couldn't stop wondering how this works when it is deployed to Azure. We aren't going to run our production

[2019-10-31 14:16] MikeChristensen opened #15411 "So is ASP.NET on .NET Framework being discontinued?"
The documentation states ASP.NET Core 3.0 will only work on .NET Core, rather than .NET Standard.  Does this mean ASP.NET is being discontinued on the full .NET Platform?  Or, will ASP.NET (Non-Core) be coming back?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad8c13e7-78e6-cf9a-e7cb-3215df5fd1c4
* Version Independen

[2019-10-31 15:09] grovesNL opened #15412 "Code sample references nonexistent property ApplyCurrentCultureToResponseHeaders"
The following code sample appears on this page:

[code]

But the `ApplyCurrentCultureToResponseHeaders` property described doesn't seem to exist on the `RequestLocalizationOptions` class, so this code sample fails to build with ASP.NET Core 3.0. The documentation for [`RequestLocalizationOptions`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.requestlocalizationoptions?v

[2019-10-31 15:12] scottaddie commented on #15411
The documentation to which you're referring applies to ASP.NET Core, not ASP.NET 4.x. You can find the official ASP.NET 4.x support policy info and retirement dates at https://dotnet.microsoft.com/platform/support/policy/aspnet. There are no plans to breathe new life into ASP.NET 4.x. The team's engineering efforts are focused on cross-platform ASP.NET (ASP.NET Core).

As of version 3.0 of ASP.NET

[2019-10-31 15:15] guardrex commented on #13619
@danroth27 @mkArtakMSFT

**FYI:** I'm running down the Blazor.Docs triage issues today (Thursday). These 46 issues generally fall into these categories:

* Not sure if the issue should be worked at all (some may require transfer to engineering). If we are to work the issue, it requires a priority. Add the label, and I'll take care of moving it to the correct Blazor.Docs column, or just drag the is

[2019-10-31 15:39] scottaddie commented on #15411
@MikeChristensen Yes, .NET 5.0 will be that unified, cross-platform .NET future you're describing. .NET Framework will continue to ship as a critical component of Windows and will therefore continue to be supported.

For any greenfield development, .NET Core is the direction customers are encouraged to go. Common reasons for adopting .NET Core include:

- cross-platform support
- **significant** p

[2019-10-31 15:48] wbehning opened #15414 "Does not work"
I follow the instructions exactly for .NET Core CLI.  I get to the dotnet run command and I get a bunch of errors - Why?

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\...\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'start',
1 verbose cli   '--',
1 verbose cli   '--port'

[2019-10-31 16:02] guardrex commented on #13572
Back to the original ask: This seems to be a point-in-time problem when this was opened. Doesn't `EventCallback` cover this?

[2019-10-31 16:22] guardrex commented on #12726
The offending sections were removed on #12717. The current content was checked by engineering for the 3.0 release. I believe we're in good shape now. If you need to open a new issue, use the **This page** feedback button/form at the bottom of the topic.

[2019-10-31 16:22] #12726 closed

[2019-10-31 16:24] guardrex commented on #12773
This content is now cross-linked and will be considered/worked on #14353. Please track it on that issue.

[2019-10-31 16:24] #12773 closed

[2019-10-31 16:31] RehanSaeed commented on #15332
Is there a mistake in the docs? The code sample for using `System.Text.Json` and setting up `Newtonsoft.Json` just for `JsonPatchDocument<T>` is:

[code]

Shouldn't the last line be this?

[code]

[2019-10-31 16:42] guardrex commented on #12387
I'm going to put this one up for review. I'll cross-link *Awesome Blazor* from our docs. If engineering doesn't want it, they can just kill the PR.

[2019-10-31 16:51] #15407 closed

[2019-10-31 17:12] guardrex commented on #13757
| Item/File | Covered at ... |
| --- | --- |
| *_Host.cshtml* | https://docs.microsoft.com/en-us/aspnet/core/blazor/routing?view=aspnetcore-3.0#aspnet-core-endpoint-routing-integration |
| *_Imports.razor* | https://docs.microsoft.com/en-us/aspnet/core/blazor/layouts?view=aspnetcore-3.0#centralized-layout-selection |
| *App.razor* | https://docs.microsoft.com/en-us/aspnet/core/blazor/routing?view=

[2019-10-31 17:13] Rick-Anderson opened #15418 "traffic and bounce rate of aspnet framework doc"
Get the bounce rate of https://docs.microsoft.com/en-us/aspnet/web-api/overview/testing-and-debugging/troubleshooting-http-405-errors-after-publishing-web-api-applications

I assume it's very high because it's click bait for Web API HTTP 405 errors - not the limited problem the doc describes (deploy to IIS is the cause).

Report results here and close issue.

related [internal issue](https://dev.a

[2019-10-31 17:17] #14576 closed

[2019-10-31 17:17] guardrex commented on #14553
Please submit this to the [Awesome Blazor](https://github.com/AdrienTorris/awesome-blazor) site, which is where we're directing most of the community for community Blazor links. We're going to cross-link *Awesome Blazor* on https://github.com/aspnet/AspNetCore.Docs/pull/15417.

[2019-10-31 17:17] #14553 closed

[2019-10-31 17:23] Rick-Anderson opened #15420 "review"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5cfa38-0e6c-4346-dafc-84ea5c513fcf
* Version Independent ID: c6787f0f-3e9a-6efb-0e6e-5ccb957d3f4a
* Content: [Upload files in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-2.2)
* Content Source: [aspnetcore/mvc/model

[2019-10-31 17:24] guardrex commented on #15420
Is there a bug? 🐞

[2019-10-31 17:27] #15420 closed

[2019-10-31 17:29] Rick-Anderson opened #15421 "Edit review"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5cfa38-0e6c-4346-dafc-84ea5c513fcf
* Version Independent ID: c6787f0f-3e9a-6efb-0e6e-5ccb957d3f4a
* Content: [Upload files in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-2.2)
* Content Source: [aspnetcore/mvc/model

[2019-10-31 17:39] zovtopuz opened #15422 "768798г0ш0щз-"
фцукемнг

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add a model to a Razor Pages app in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-2.2&tabs=visu

[2019-10-31 17:40] zhughes opened #15423 "Default resx files are extremely useful"
"We anticipate that many developers won't create a default language resource file"

I have two use cases, both reasons I always create default resource files.

- I always move resx files into a separate assembly on their own to cut down on build time
- Sometimes I need to emit error messages to the UI (ie a database save failed in an api call so I need to send a friendly error message to the clien

[2019-10-31 17:41] guardrex commented on #14433
Hello @epsitec ... Recommend that you open over on the engineering issue. This probably has to go into design in the framework, not something that docs alone can address. Search open **and closed** issues first; and if you don't find a related issue on globalization/localization that matches your ask, open a new issue ...

https://github.com/aspnet/AspNetCore/issues

[2019-10-31 17:41] #14433 closed

[2019-10-31 17:46] guardrex commented on #12949
This is related to #15392.

Recommend moving remarks from here to there or from there to here and closing this or closing that one ........ *if that makes sense!* :smile: lol

[2019-10-31 17:47] guardrex commented on #15392
This is related to #12949.

Recommend moving remarks from here to there or from there to here and closing this or closing that one ........ *if that makes sense!* :smile: lol

[2019-10-31 18:06] erichillah opened #15424 "CreateDefaultBuilder and UseKestrel"
it is mention on this page (in this section above https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.0#how-to-use-kestrel-in-aspnet-core-apps) that calling CreateDefaultBuilder method on the Host will call UseKestrel behind the scene, but looking the code here its not the case. UseKestrel is only called when the ConfigureWebHostDefaults is used. So in the c

[2019-10-31 18:13] guardrex commented on #15424
Correct ... it's just leftover from an earlier age before the Generic Host took over the main show. I'll patch that right up. Thanks for calling out out.

https://github.com/aspnet/AspNetCore/blob/1480b998660d2f77d0605376eefab6a83474ce07/src/DefaultBuilder/src/WebHost.cs#L217

[2019-10-31 18:25] #15372 closed

[2019-10-31 18:26] guardrex commented on #15424
Note in passing that we're going to leave the web app-based Windows Service example on updates to that topic on https://github.com/aspnet/AspNetCore.Docs/pull/15402. We're not going to talk about it in the topic ... we'll just let that sample app show it and explicitly call that sample out in the text.

[2019-10-31 18:28] Rick-Anderson commented on #15410
@Tratcher  this is what I'd like to do, but  **The ConfigureServices method must either be parameterless or take only one parameter of type IServiceCollection.**

[code]

So is the only option `#define LOCAL` ?

cc @guardrex @scottaddie

[2019-10-31 18:29] Rick-Anderson commented on #15410
@gregveres  I know some folks use Azure with Azure SQLServer in dev mode.

cc @tdykstra

[2019-10-31 18:30] guardrex commented on #15410
Check the last example in this section ....

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup?view=aspnetcore-3.0#the-startup-class

[2019-10-31 18:32] guardrex commented on #15410
... and maybe `IHostEnvironment` would be better. If so, we might want to update that example I mentioned.

[2019-10-31 18:33] Rick-Anderson commented on #15410
No, the answer is multiple startups

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup?view=aspnetcore-3.0#multiple-startup

[2019-10-31 18:35] guardrex commented on #15410
I don't like that pattern for small amounts of code ... too much *stuff* ... too much. :smile:

[2019-10-31 18:38] Rick-Anderson commented on #15410
Copy _Startup.cs_ to _StartupProd.cs_

[code]

[2019-10-31 18:40] Tratcher commented on #15410
IWebHostEnvironment can be injected into the Startup constructor.

[2019-10-31 18:46] guardrex commented on #14304
Cross-linking a few existing topics for authn/authz ...

* [Social login provider tokens+claims for Blazor auth](https://github.com/aspnet/AspNetCore.Docs/issues/15160)
* [Google Social login provider for Blazor](https://github.com/aspnet/AspNetCore.Docs/issues/15325)

[2019-10-31 18:48] Tratcher commented on #15410
@Rick-Anderson a separate Startup works but is usually overkill if you only need to vary a few lines. The normal template checks the hosting environment.

[2019-10-31 18:49] Rick-Anderson commented on #15410
We'll go with `IHostEnvironment` and mention alt startup as another option.

[2019-10-31 18:51] guardrex commented on #14202
Full passage ...

I'm going to make a minor language change here to move away from "containing."

[2019-10-31 19:05] guardrex commented on #14191
Cross-linking a few existing topics for authn/authz ...

* [Social login provider tokens+claims for Blazor auth](https://github.com/aspnet/AspNetCore.Docs/issues/15160)
* [Google Social login provider for Blazor](https://github.com/aspnet/AspNetCore.Docs/issues/15325)
* [Token Based Authorization using IdentityServer with Blazor](https://github.com/aspnet/AspNetCore.Docs/issues/14191)

[2019-10-31 19:08] #15314 closed

[2019-10-31 19:12] guardrex commented on #14171
This text was addressed **_after_** your issue was opened. If the new lingo is still problematic, please open a new issue from the **This page** feedback button/form on the topic.

https://github.com/aspnet/AspNetCore.Docs/pull/14281

[2019-10-31 19:14] guardrex commented on #14171
ooops ... that was just a minor update. I'll look again.

[2019-10-31 19:16] guardrex commented on #14171
I don't think what we have is confusing *to me*, but I'll leave this open for engineering to take a look.

[2019-10-31 19:17] Rick-Anderson opened #15429 "IWebHostEnvironment injected into the Startup ctor"
When that's complete, add a link to doc at  #15410 and close that issue too

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 793395fe-c738-22ce-d0e9-29a850c0fa88
* Version Independent ID: 0546ce3a-3258-9817-0f3f-13281c2f55da
* Content: [App startup in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamental

[2019-10-31 19:19] guardrex commented on #14097
Cross-linking a few existing topics for authn/authz ...

* [Social login provider tokens+claims for Blazor auth](https://github.com/aspnet/AspNetCore.Docs/issues/15160)
* [Google Social login provider for Blazor](https://github.com/aspnet/AspNetCore.Docs/issues/15325)
* [Token Based Authorization using IdentityServer with Blazor](https://github.com/aspnet/AspNetCore.Docs/issues/14191)
* [Signalr C

[2019-10-31 19:23] guardrex commented on #13856
Note to engineering when this is triaged: If I'm going to address this, I need a note on if/how the app base path relates to this (`<base href="/spa/">`).

[2019-10-31 19:23] #15375 closed

[2019-10-31 19:31] Rick-Anderson commented on #15423
@ryanbrandenburg  should I add this to the doc? Something like:

We anticipate that many developers won't create a default language resource file. You might want to create a default language resource file to:

* move resx files into a separate assembly on their own to cut down on build time
*  other reason above

[2019-10-31 19:31] guardrex commented on #13747
This was a point-in-time issue AFAIK. If you're still confused on the template descriptions based on what you see in VS, open an issue on the engineering repo :point_right: https://github.com/aspnet/AspNetCore/issues

If there's a doc issue for the latest descriptions, open a new docs issue using the **This page** feedback button/form at the bottom of the topic.

[2019-10-31 19:31] #13747 closed

[2019-10-31 19:32] Rick-Anderson commented on #15422
English
ftsukemng

[2019-10-31 19:32] #15422 closed

[2019-10-31 19:34] Rick-Anderson commented on #15332
@serpent5  do you want to fix this?

[2019-10-31 19:36] Rick-Anderson commented on #15412
@hishamco please review

[2019-10-31 19:37] guardrex commented on #13316
Cross-linking a few existing topics for authn/authz ...

* [Social login provider tokens+claims for Blazor auth](https://github.com/aspnet/AspNetCore.Docs/issues/15160)
* [Google Social login provider for Blazor](https://github.com/aspnet/AspNetCore.Docs/issues/15325)
* [Token Based Authorization using IdentityServer with Blazor](https://github.com/aspnet/AspNetCore.Docs/issues/14191)
* [Signalr C

[2019-10-31 19:38] guardrex commented on #13258
This has been covered since the issue was opened ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#attribute-splatting-and-arbitrary-parameters

[2019-10-31 19:38] #13258 closed

[2019-10-31 19:40] guardrex commented on #13022
Cross-linking a few existing topics for authn/authz ...

* [Social login provider tokens+claims for Blazor auth](https://github.com/aspnet/AspNetCore.Docs/issues/15160)
* [Google Social login provider for Blazor](https://github.com/aspnet/AspNetCore.Docs/issues/15325)
* [Token Based Authorization using IdentityServer with Blazor](https://github.com/aspnet/AspNetCore.Docs/issues/14191)
* [Signalr C

[2019-10-31 19:47] guardrex commented on #14843
This is going to be covered by one or more other issues. I'm going to probably end up with a tracking issue later. For now, the other issues are ...

* [Social login provider tokens+claims for Blazor auth](https://github.com/aspnet/AspNetCore.Docs/issues/15160)
* [Google Social login provider for Blazor](https://github.com/aspnet/AspNetCore.Docs/issues/15325)
* [Token Based Authorization using Ide

[2019-10-31 19:47] #14843 closed

[2019-10-31 19:49] guardrex commented on #15033
Cross-linking a few existing topics for authn/authz ...

* [Social login provider tokens+claims for Blazor auth](https://github.com/aspnet/AspNetCore.Docs/issues/15160)
* [Google Social login provider for Blazor](https://github.com/aspnet/AspNetCore.Docs/issues/15325)
* [Token Based Authorization using IdentityServer with Blazor](https://github.com/aspnet/AspNetCore.Docs/issues/14191)
* [Signalr C

[2019-10-31 19:55] sarathlalsaseendran opened #15430 "Could not find GetJsonAsync in HttpClient class"
Hi, I am using Blazor Server version which is shipped with ASP.NET Core 3.0. I could not find the "GetJsonAsync" method inside HttpClient class. Is there any work around?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b5e2e10-ff7b-2b9f-84da-f16028ae2c53
* Version Independent ID: c7e59a08-1c60-32c2-75fd-33cb77ff7a5d
*

[2019-10-31 19:58] guardrex commented on #15145
Cross-linking a few existing topics for authn/authz ...

* [Social login provider tokens+claims for Blazor auth](https://github.com/aspnet/AspNetCore.Docs/issues/15160)
* [Google Social login provider for Blazor](https://github.com/aspnet/AspNetCore.Docs/issues/15325)
* [Token Based Authorization using IdentityServer with Blazor](https://github.com/aspnet/AspNetCore.Docs/issues/14191)
* [Signalr C

[2019-10-31 20:04] guardrex commented on #15430
Probably missing the package in your project file ...

[code]

[2019-10-31 20:07] serpent5 commented on #15332
Yeah, sure. PR incoming.

[2019-10-31 20:07] #14174 closed

[2019-10-31 20:18] wadepickett opened #15432 "Resolve Labeling guidelines for daily and backlog issue triage"
Problem: Initial issue labeling requirements for reporting were in conflict with keeping the data integrity and proper workflow for .NET/ASP.NET related repos.

I am am tracking this as a October sprint related priority we need to deliver on since since it has taken some real time to resolve.

[2019-10-31 20:21] wadepickett commented on #15432
Opening and closing as a way to track this effort as resourced for this sprint.

We now have a issue triage labeling policy that keeps the data integrity we need and reporting has been moved instead to adjust for that.

[2019-10-31 20:21] #15432 closed

[2019-10-31 20:26] zhughes commented on #15423
I just wanted to note that there are definitely good use cases for default/public resx files.
I learned these techniques from people much smarter than me, so I can only assume there are a lot of folks out there using them :)

It might not hurt to add one or both in some way. I'm sure the second bulleted item could be subject to developer philosophy arguments so that may be better served to live in

[2019-10-31 20:27] scottaddie commented on #15430
@guardrex We should make that package requirement more visible in the doc. I also missed that detail when I was trying to do this.

[2019-10-31 20:30] guardrex commented on #15430
I'll go with a normal "Package" section like we often do.

[2019-10-31 20:32] sarathlalsaseendran commented on #15430
@guardrex I can get all other methods like GetAsync, PostAsync from same HttpClient. Only GetJsonAsync and PostJsonAsyc and other Json methods missing. Didn't you include in json serialization in Blazor server?

[2019-10-31 20:37] sarathlalsaseendran commented on #15430
I have created a CRUD blazor server app with manually convert to StringContent (using Newtonsoft) in PostAsync and also converted from HttpResponse to object using same Newtonsoft Deserializer.

[2019-10-31 20:40] guardrex commented on #15430
Sorry .... sorry ... you've caught me at the very **end** of the day. I'm brain-fried for the day ... been up since 5am! *Yikes!*.

These bits only work for Blazor WebAssembly. For Blazor Server, engineering says to use [IHttpClientFactory](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-3.0), and I think those bits use `System.Text.Json` and there's a `Json

[2019-10-31 20:41] sarathlalsaseendran commented on #15430
I have just checked "Microsoft.AspNetCore.Blazor.HttpClient" and found that this is still an experimental and preview only. Is that correct?

[2019-10-31 20:41] guardrex commented on #15430
Leave this issue open tho ...... I **_do_** want to add a section for the package here. This issue will automatically close when the PR merges.

[2019-10-31 20:41] guardrex commented on #15430
Yes, that's correct. All of Blazor WebAssembly is in preview.

[2019-10-31 20:42] scottaddie commented on #15430
@sarathlalsaseendran You'll need to install the following package to gain access to methods like `PostAsJsonAsync`:

[code]

In 3.0, Json.NET (Newtonsoft) was removed from the shared framework. As a result, the Web API client package was removed too. It had a dependency on Json.NET (Newtonsoft). The default JSON serializer in 3.0 is System.Text.Json.

[2019-10-31 20:44] guardrex commented on #15430
Thanks @scottaddie ... we have the cross-link in this Blazor topic; but when I go to add the *Package* section, I'll double-check and work on the visibility of the text/link for Blazor server. *Tomorrow tho!* I'm 😵 at this point.

[2019-10-31 20:48] hishamco commented on #15412
https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/Localization/src/RequestLocalizationOptions.cs#L90

[2019-10-31 20:49] #15332 closed

[2019-10-31 20:56] Rick-Anderson commented on #15412
@grovesNL  you're probably missing a package. See https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#add-package-references-for-removed-assemblies

[2019-10-31 20:58] sarathlalsaseendran commented on #15430
Hi @scottaddie, Thanks for the suggestion. I have added the "Microsoft.AspNet.WebApi.Client" package as per your suggestion. But still not getting GetJsonAsync method in HttpCleint. I am getting "PostAsAsync" and "PutAsAsycn" methods. Can you please tell me is there any work around to get GetAsAsync method in HttpClient.

[2019-10-31 21:02] ryanbrandenburg commented on #15423
Rather than going into depth about why it is or isn't useful to have a default language resource file why not just omit the line `We anticipate that many developers won't create a default language resource file.`. It's not clear to me what value it adds, and it suggests that we're trying to dissuade people from using them, rather than simply noting a VS behavior which isn't always conducive to the

[2019-10-31 21:12] grovesNL commented on #15412
Thanks for the quick response and link to the property on `master`. I think this problem still exists in the 3.0 release though.

This happens when I create a new project with `dotnet new web -f netcoreapp3.0` and make that single change in Startup.cs.

The NET Core 3.0.0 release is tagged at https://github.com/aspnet/AspNetCore/commit/aee5e4080331553ea9dfb7fb388b6d72f715bf6a which doesn't include

[2019-10-31 21:18] gregveres commented on #15410
@Rick-Anderson If you are going to document using IHostEnvironment, I suggest that you try to work in the example of different developers on different OSes. All the examples that were pointed to show different startups for different types of deployments: dev, production, I assume you could do one for testing.

But what about those shops with a mixture of developers working on Windows, Linux and Ma

[2019-10-31 21:20] hishamco commented on #15412
/cc @pranavkm

[2019-10-31 21:31] Tratcher commented on #15410
@gregveres most AspNet Core components are written to handle cross platform issues internally. What kind of OS tweaks did you have in mind for Startup?

[2019-10-31 21:39] gregveres commented on #15410
@Tratcher This started because I was looking for information on how to do .Net Core dev on Mac OS with a database. The stuff I was pointed to that started this thread has two different versions of the code, one for Windows that uses the SqlServer provider and one for linux/MacOS that uses the Sqlite provider and these were hard coded into the startup code. Here is the code that was included in the

[2019-10-31 21:46] Tratcher commented on #15410
Fair. What is the local EF dev story for Mac?

You could create DevelopmentMac and DevelopmentWindows environments. Or you could use RuntimeInformation if you only need to vary a few lines.
https://github.com/aspnet/AspNetCore/blob/c1cc1684415f2aab86471230346856e8e09dcd43/src/Servers/Kestrel/Transport.Libuv/src/Internal/LibuvConstants.cs#L28-L39

Again, having separate startups works but it is ove

[2019-10-31 21:54] gregveres commented on #15410
And that is the question that sent me on the hunt through the documentation. I don't think that is really well documented, or if it is, it isn't really easy to find.

And that story needs to include what we are talking about here. What is the officially recommended way to setup your code base so you can:

- do development on a windows machine
- do development on a mac
- do development on a linux m

[2019-10-31 23:21] wadepickett commented on #15418
@Rick-Anderson , I know you don't need this yet, but I was blocked on other work for 5 min so I'll do this since it is quick.

**For September**
Bounce: 12.33%
Click Through 4.14%
83.87% of audience arrives through organic search.

I'll provide a report by email of details for the topic plus a summary on customer comments.  It seems to break down roughly into two major categories for folks that ar

[2019-11-01 01:19] nkev opened #15434 "Typo in scaffolding command line instruction 'Pages\Movies'"
(VSCode on Windows) In the scaffolding instructions, the `Pages\Movies` part in the command
`dotnet aspnet-codegenerator razorpage -m Movie -dc RazorPagesMovieContext -udl -outDir Pages\Movies --referenceScriptLibraries`
is incorrect.
Instead of creating a subfolder inside `Pages`, it creates a folder called `PagesMovies` **parallel** to the `Pages` folder.

---
#### Document Details

⚠ *Do not ed

[2019-11-01 01:36] wadepickett commented on #15418
Reports sent.  Closing.

[2019-11-01 01:36] #15418 closed

[2019-11-01 02:00] pranavkm commented on #15412
The change is in the 5.0.0 branch, which would explain why it isn't working in 3.0.

[2019-11-01 02:21] pranavkm commented on #15430
Did you mean `ReadAsAsync`? That should be on the response content.

[2019-11-01 02:54] Rick-Anderson commented on #15423
@ryanbrandenburg  Much better.. This issue will be discoverable from the closed tab on that doc if people want to read about this stuff.

[2019-11-01 03:03] Rick-Anderson commented on #15410
The only place I know where there's a difference is SQL Express or SQLite. Mac, many windows folks, and Linux all use SQLite.

We'll update this with an example that uses `IHostEnvironment` so you have a single code base.

In 3 years we've never had an issue on this.

[2019-11-01 03:04] #14391 closed

[2019-11-01 03:09] Rick-Anderson commented on #15434
@wadepickett can you verify this? If that's correct, 3.0 fixes the bug where windows needed a different command than MacOS/Linux. We can get rid of the two instructions.

[2019-11-01 07:27] harleydk commented on #13572
Probably does. I haven't had time to experiment with Blazor since August, likely won't for some time to come. Might as well close this one up, unless you'd like to keep it open?

[2019-11-01 07:33] sarathlalsaseendran commented on #15430
Hi @pranavkm, I am asking about "GetAsJsonAsync" method in HttpClient class. In previous  versions of Blazor (prior to .NET Core 3.0) it was there. Now after I added "Microsoft.AspNet.WebApi.Client" package (as per @scottaddie ) I could see "PostAsAsync" and "PutAsAsync" methods. Do you have any update?

[2019-11-01 08:19] HarminderSethi opened #15436 "Incorrect example related to WeatherForecast"
In the Test the API section under Create a Web Project, API end point is provided for the WeatherForecast instead of ToDoApi. localhost page can’t be found error will be thrown If we run the project with https://localhost:&lt;port&gt;/WeatherForecast.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e5

[2019-11-01 09:19] escocoon opened #15437 "Can't update the database from updated model"
I'm sorry if this is a simple question I just got into ASP.net MVC and the last part of "Add a new field to an ASP.NET Core MVC app", I can't get the update-database to work in PMC (After executing Add-Migration Rating)
It says : There is already an object named 'Movie' in the database.

`cmdlet Add-Migration at command pipeline position 1
Supply values for the following parameters:
Name: Rating
M

[2019-11-01 09:21] hishamco commented on #15412
If is that shall we remove it from docs?

[2019-11-01 09:29] wrkettlitz opened #15438 "No such example."
"Reloading configuration data with IOptionsSnapshot&lt;TOptions&gt; is demonstrated in Example #5 in the sample app."

There doesn't seem to be an example 5?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed39cb0e-aa85-8bba-ffb4-859b56a60723
* Version Independent ID: dc7e3449-650b-d117-5eac-69e5ccb250cb
* Content: [Opt

[2019-11-01 10:00] hishamco commented on #15412
AFAIK I already started the PR before 3.0 is release I don't know if there's something changed

[2019-11-01 11:19] philip-reed opened #15439 "fire-and-forget-3"
In previous versions on ASP.NET, it was my understanding that using fire and forget code to run something in a background thread was a bad idea, because IIS would not wait for that thread to complete before recycling an application pool for example.

Do the fire and forget examples above suggest that this is no longer the case?

https://docs.microsoft.com/en-us/aspnet/core/performance/performance-

[2019-11-01 11:21] #15424 closed

[2019-11-01 11:33] #14202 closed

[2019-11-01 11:34] #12387 closed

[2019-11-01 11:39] guardrex commented on #13572
Let’s close for now. If the latest docs still pose a problem, open a new issue later using the This Page feedback form/button at the bottom of the topic.

[2019-11-01 11:39] #13572 closed

[2019-11-01 12:13] guardrex commented on #15438
There is ...

https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/fundamentals/configuration/options/samples/3.x/OptionsSample/Pages/Index.cshtml.cs#L70-L77

[2019-11-01 12:13] #15438 closed

[2019-11-01 13:05] zhughes commented on #15423
I agree completely that makes much more sense. You're right, I remember interpreting that when I read it as dissuading. I thought ok, well I wonder what they're going to dump it and replace it with in the future.

Thanks Rick!

[2019-11-01 14:36] polygreg commented on #14410
I found the answers here https://docs.microsoft.com/en-gb/aspnet/core/grpc/clientfactory?view=aspnetcore-3.0

[2019-11-01 15:12] guardrex commented on #15429
Clarification: The topic already shows the injection with `IWebHostEnvironment`. At least, I propose to make a dedicated section out of the content to surface it better and make it easy to cross-link.

Ping @Tratcher for this bit ......

* Should the `Startup` ctor injection example continue to use `IWebHostEnvironment`, or should the example show `IHostEnvironment` instead? Should I attempt to in

[2019-11-01 15:40] #10568 closed

[2019-11-01 15:45] Tratcher commented on #15429
IWebHostEnvironment derives from IHostEnvironment to add web specific items. Prefer IWebHostEnvironment in Startup examples. No need to cover both.

[2019-11-01 15:46] Tratcher commented on #15429
ASPNETCORE_ENVIRONMENT probably wins as it would be applied later, but I haven't tried it.

[2019-11-01 16:17] guardrex commented on #15429
I'll research and rubber :duck: it a bit before working this.

Host coverage ... *ugh* ... 🚆💥 imo. At least please keep an :ear: open for internal feedback since about ~July 9, when the 3.0 host coverage was released.

[2019-11-01 16:23] #15393 closed

[2019-11-01 16:28] redshiftz commented on #12346
@guardrex What is the engineering repo? I'll certainly give some feedback.

[2019-11-01 16:30] guardrex commented on #12346
@redshiftz I think they work off of this one ...

https://github.com/Azure/azure-sdk-for-net/issues

... but they'll redirect you if that's not the right spot.

Would you mind adding a "cc: @guardrex" to the bottom of your issue if you open one? I'll be able to keep an :eye: on (perhaps contribute to) the discussion.

[2019-11-01 16:49] Rick-Anderson commented on #15436
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2019-11-01 16:49] #15436 closed

[2019-11-01 16:51] Rick-Anderson commented on #15412
We should remove this from the docs if it's not in 3.0

[2019-11-01 17:16] serpent5 opened #15442 "Microsoft.AspNetCore.JsonPatch and Microsoft.AspNetCore.App"
This line shows up for ">= 3.0", but not for "< 3.0". It should be the other way around.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 593f528c-61b9-7021-335d-c1c0ec1814d1
* Version Independent ID: 6a88d237-1a03-b865-e3c5-20ceedef2a1f
* Content: [JsonPatch in ASP.NET Core web API](https://docs.microsoft.com/en-us/aspn

[2019-11-01 17:50] Tratcher commented on #15325
@guardrex I went through the scenario with the blazor template + individual auth + social + tokens and it mostly works following the existing docs.

1. New template + Individual auth
2. Add the social package of your choice, and the auth services:
[code]
3. Add new scaffolded item, Identity, Account\ExternalLogin
4. In ExternalLogin.cshtml.cs copy claims to the user database during registration as

[2019-11-01 18:11] Rick-Anderson commented on #15439
@jkotalik should I add the following caveat?

background tasks should be implemented as hosted services. For more information, see [Background tasks with hosted services](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-3.0&tabs=visual-studio)

[2019-11-01 18:11] Rick-Anderson commented on #15437
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-01 18:11] #15437 closed

[2019-11-01 18:12] Rick-Anderson commented on #15414
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2019-11-01 18:12] #15414 closed

[2019-11-01 18:16] jkotalik commented on #15439
@davidfowl

[2019-11-01 18:17] davidfowl commented on #15439
@Rick-Anderson yes add it 😄

[2019-11-01 18:18] jkotalik commented on #15439
The code example specifically shows why doing a fire and forget when capturing the HttpContext is a bad idea, so if you are going to fire and forget, don't capture the HttpContext. A similar problem existed with ASP.NET and IIS, but I believe it was more extreme there.

[2019-11-01 18:27] guardrex commented on #15325
*Yes* for @hfaran, who wants to keep a token for doing something with the API on the user's behalf later.

WRT what you showed ... I tested that scenario, including scaffolding `ExternalLogin.cshtml.cs` and updating it per the guidance, and failed. I'll try again this weekend from scratch.

[2019-11-01 18:58] hishamco commented on #15412
Stange!! I'm not sure why this n't shipped in 3.0, @Rick-Anderson I will create a PR for it

[2019-11-01 19:34] guardrex commented on #15325
@Tratcher In your test app ... for surname ...

You did a (`services.AddAuthentication().AddGoogle(options =>`) ...

[code]

... with (*ExternalLogin.cshtml.cs*)  ...

[code]

... and ...

[code]

... and it worked for you? .... It's still fighting me.

[2019-11-01 19:38] guardrex commented on #15325
mmm 🤔 ... not sure on the scope ... I thought that the `openid` Google scope provided `family_name`. Anyway ... it doesn't explain my missing claim.

[2019-11-01 19:43] robv8r commented on #12082
In order to create an endpoint for Redoc, you'll need to configure it in your Startup.cs.  For example:

[code]

Reference: https://github.com/RicoSuter/NSwag/blob/ca33499f4d5c8b90423778d14b1dfa936d251ac7/src/NSwag.Sample.NETCore22/Startup.cs#L54

[2019-11-01 19:50] guardrex commented on #15325
Yeah ... I guess that scope is correct after all. Anyway ... not working (*yet*).

[2019-11-01 19:53] guardrex commented on #15325
Rubber :duck: says that Google is doing the right thing ...

[code]

[2019-11-01 19:54] Tratcher commented on #15325
@guardrex the claims are added to the user on first registration, not on signin. Delete the user from the local database and re-register.

[2019-11-01 19:55] guardrex commented on #15325
ok

[2019-11-01 20:05] guardrex commented on #15325
Cool :+1: ... ok ... claims work. I made two mistakes (*well* ... at least two! :smile:) ...

1. I didn't have the original scope correct.
2. My user was already registered when I did get the scope correct, but it was too late.

I'll take a look at the *External claims with social* topic to see about covering the second point. (The first point is there ... I missed it initially.)

Still tho ......

[2019-11-01 20:11] Tratcher commented on #15325
Yeah, @ADefWebserver that OnRemoteFailure error can go to the engineering repo. Please collect a (decrypted) Fiddler log and Debug application logs.

[2019-11-01 20:14] Tratcher commented on #15325
Yeah, that one needs engineering work. GetAuthenticationStateAsync should be extended to include auth properties. In the meantime you can add an API endpoint to the app that returns the tokens from the current user.

[2019-11-01 20:20] guardrex commented on #15325
@ADefWebserver ... I'm going to close this here. Open at :point_right: https://github.com/aspnet/AspNetCore/issues

@hfaran, I'm going to close #15160 ... open an issue for engineering :point_right: https://github.com/aspnet/AspNetCore/issues ... I think your opening remark is enough with a cross-link to #15160. Please put a "cc: @guardrex" at the bottom so that I can track on it.

[2019-11-01 20:20] #15325 closed

[2019-11-01 20:20] guardrex commented on #15160
Will be opened for engineering.

[2019-11-01 20:20] #15160 closed

[2019-11-01 20:24] guardrex opened #15445 "Claims added to the user on first registration"
Updates will be worked for the linked topic and https://docs.microsoft.com/aspnet/core/security/blazor.

* Claims are added to the user on first registration, not on signin.
* Cross-link this at the Blazor auth topic, but note that an API endpoint for tokens will be required in that scenario.

See:

* https://github.com/aspnet/AspNetCore.Docs/issues/15325#issuecomment-548928837
* https://github.co

[2019-11-01 20:58] phuot opened #15446 "Can we run the swashbuckle middleware only on the calls to the /swagger route."
I have a .Net core API using Swagger configured using:
services.AddSwaggerGen(....
app.UseSwagger();
app.UseSwaggerUI(...

Swagger is served on the /swagger route.

Every calls I do to my API (ex to /api/customer) are executing the swagger middleware (swashbuckle).
We have profiled the webApp and it looks like the swagger middleware is slowing down the app.

Is there a way to configure the app so

[2019-11-01 21:01] epignosisx opened #15447 "How to pass options to Open API Connected Service"
Hi folks, this probably doesn't belong here but not sure where to log it.

I'm trying to find some docs on how to pass options to the Open API service reference:

![image](https://user-images.githubusercontent.com/697377/68056247-0724f780-fcc9-11e9-8e77-4763391e2beb.png)

Specifically, what options are available and how to specify options in the textbox.

Thanks!

[2019-11-01 21:05] jongalloway commented on #14136
I don't think this issue should have been closed, as the tutorial still said to call `GrpcClient.Create`. Sent pull request to fix.

[2019-11-01 21:32] guardrex commented on #15447
Your best bet is to try a support forum, such as Stack Overflow, or a support chat such as ...

* [Slack](http://tattoocoder.com/aspnet-slack-sign-up/)
* [ASP.NET Gitter](https://gitter.im/aspnet)

[2019-11-01 21:32] #15447 closed

[2019-11-01 21:34] ryanbrandenburg commented on #13245
@SteveSandersonMS it's not clear to me that there's a way to get the same behavior as MapSpaFallbackRoute within `Spa.Services.Extensions` Am I maybe missing or not understanding something?

[2019-11-01 22:38] reggaeguitar opened #15450 "UpdateOne instead of ReplaceOne"
It seems like ReplaceOne is a much slower way to update a document than UpdateOne. Regardless of performance it would be nice to have an example of using UpdateOne also. It's been difficult finding out how to even create a FilterDefinition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5240866d-d0a1-f0dd-7b2c-203e1d69

[2019-11-01 22:42] mkArtakMSFT commented on #13619
Thanks @guardrex.
Let's go with option No: 1 above:

[2019-11-01 22:43] guardrex commented on #13619
Will do. :+1:

[2019-11-01 22:44] mkArtakMSFT commented on #13079
There is currently no SignalR client for Blazor, other than the external community project.

[2019-11-01 22:44] #13079 closed

[2019-11-01 23:07] mkArtakMSFT commented on #12683
I've posted a correct explanation to the issue in the StackOverflow. And we already cover this (when to call `StateHasChanged`) in our docs: https://docs.microsoft.com/aspnet/core/blazor/components

[2019-11-01 23:07] #12683 closed

[2019-11-01 23:15] mkArtakMSFT commented on #14373
Thanks for contacting us.
You can register the ViewModel in the DI as a `scoped` service. Then resolve it from the provided service provider on the OwningComponentBase.

[2019-11-01 23:15] #14373 closed

[2019-11-01 23:28] Rick-Anderson opened #15452 "SEO fix of Troubleshooting HTTP 405"
https://docs.microsoft.com/en-us/aspnet/web-api/overview/testing-and-debugging/troubleshooting-http-405-errors-after-publishing-web-api-applications

related [internal issue](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1617782)
related [internal issue2](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1617784)

[2019-11-02 00:20] Rick-Anderson opened #15453 "Fix warnings in ASP.NET repo"
https://github.com/aspnet/AspNetDocs/blob/405/ra/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/reading-related-data-with-the-entity-framework-in-an-asp-net-mvc-application.md  |

aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/reading-related-data-with-the-entity-framework-in-an-asp-net-mvc-application.md | Markdown content is not allowed before H1. NO

[2019-11-02 00:22] #15452 closed

[2019-11-02 00:44] #15453 closed

[2019-11-02 00:46] Perustaja commented on #11720
It seems we're being forced to have view and area directories together if we want Identity in an MVC project for example. It's rather frustrating trying to get the two to coexist at times if you need full control of the UI via scaffolding.

[2019-11-02 00:51] #15421 closed

[2019-11-02 00:58] MikeChristensen opened #15454 "How does Razor file compilation work when using .NET Framework"
When using .NET Framework 4.6.1 with ASP.NET Core 2.2, how do cshtml files get compiled?  Does this happen at runtime, or is there something that needs to happen during build process?  Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation appears to be .NET Core only, so I don't think that's the trick.  I'm unable to find any examples anywhere of ASP.NET Core 2.2 MVC working under .NET Framework (non-

[2019-11-02 01:13] Rick-Anderson opened #15455 "Fix highlighting in aspnet/AspNetDocs PR"
https://github.com/aspnet/AspNetDocs/pull/237

Give customer 24 hours to respond.

[2019-11-02 01:15] Rick-Anderson commented on #15038
Merged

[2019-11-02 01:15] #15038 closed

[2019-11-02 01:16] Rick-Anderson commented on #15173
Done

[2019-11-02 01:16] #15173 closed

[2019-11-02 01:29] Rick-Anderson commented on #14350
@danroth27 @scottaddie please review outline and priority

[2019-11-02 01:32] MikeChristensen commented on #6335
After porting ASP.NET 4.x to ASP.NET Core 2.2, does anyone know how Razor view files (CSHTML) are compiled?  That's the only part I'm stuck on.

https://stackoverflow.com/questions/58667252/is-it-possible-to-use-asp-net-core-2-x-mvc-on-net-framework-4-6-1-console-appli

[2019-11-02 01:43] jnxxx opened #15456 "How to tell it which root CA to trust?"
This is working on-prem where I can add my internal CA to the machines trusted root store, but I doubt I can do that on an App Service in Azure.
Can I somehow give it a public certificate for my CA in code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b7960d-6de5-78ee-bc45-d7218239bbc8
* Version Independent ID: d2d

[2019-11-02 01:48] Rick-Anderson opened #15457 "Roll in file guidance to 2.2 version"
Copy updates from #15421 into the 2.2 section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5cfa38-0e6c-4346-dafc-84ea5c513fcf
* Version Independent ID: c6787f0f-3e9a-6efb-0e6e-5ccb957d3f4a
* Content: [Upload files in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-

[2019-11-02 02:12] Rick-Anderson commented on #15454
Create a asp.net core 2.2 mvc app targeting .NET Framework and it displays the views. Have you tried that?

[2019-11-02 02:21] Rick-Anderson commented on #15154
Fixed in #15151

[2019-11-02 02:21] #15154 closed

[2019-11-02 02:27] Rick-Anderson opened #15458 "Change all http links in aspnetdocs repo to use https"
Open all the MD files in the repo with VS (filter on .md files) and do a global change of
`](http://`
to
`](https://`

That will get rid of all the build warnings when we merge master to live or do a manual rebuild.

[build report](https://opbuildstorageprod.blob.core.windows.net/report/2019%5C11%5C2%5Cbdb1191e-6adb-8053-9814-53df5ac92b0d%5CPullRequest%5C201911020214280956-257%5Cworkflow_report.ht

[2019-11-02 02:59] #15442 closed

[2019-11-02 03:34] MikeChristensen commented on #15454
I found an answer (See the StackOverflow link above) that works.  I'll try creating an app with the VS wizard, then re-targeting to .NET Framework to see how that works.  I'll post back here with any further questions..

[2019-11-02 03:34] MikeChristensen commented on #15454
One possible solution:

[code]

[2019-11-02 08:17] jingzheshan opened #15460 "Import style file at Layout level"
At layout level, do we have or could we have a convenient way to import a/multiple css file(s)? I know we can put those style inside the &lt;style&gt; tag; or dynamically use JS interop to achieve this however either way feels not so great. Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d64b8062-f910-a918-c5db-b

[2019-11-02 10:24] guardrex commented on #15460
Hello @jingzheshan ... Product feedback has to go to the product unit, as we only handle documentation here. https://github.com/aspnet/AspNetCore/issues

[2019-11-02 10:24] #15460 closed

[2019-11-02 10:33] guardrex commented on #15458
Can't only take that action ... we have links to 3rd party things that actually don't have a secure endpoint. However, could do a find and replace, then run a link checker on the branch for broken links and revert the ones that fail.

[2019-11-02 12:17] guardrex commented on #15429
Yes, the behavior *everywhere* ... both host builders and regardless of source ... is last setting wins. I'll see how we explain it and try to improve the coverage if needed.

It's confusing to have *two* different "environment" config points (and env var sources) since they'll resolve to last set in the end either way. I guess this was done for backward compat, but it's sad to see backward compat

[2019-11-02 13:01] miloszkukla opened #15463 "HttpMethodAttribute doesn't implement IActionConstraint"
Section https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-3.1#understanding-iactionconstraint claims that "The [HttpGet] Attribute and similar [Http-VERB] attributes implement IActionConstraint" while looking at the HttpGet/HttMethodAttribute docs/source doesn't confirm that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-11-02 16:56] #15457 closed

[2019-11-02 16:57] Rick-Anderson commented on #15458
Doesn't matter. This is in the aspnetdocs repo, not this repo. Can't allow http links.

[2019-11-02 17:01] ndc opened #15464 "Deploy to subdirectory"
I need to host multiple apps in the same server under different subdirectories, for example http://myserver/myfirstapp and http://myserver/mysecondapp.
I tried to set up nginx with multiple locations, but request from browser can't seem to reach the app (404). It seems like the app works only if put on root (location /).
Need guidance on how to set up multiple apps in subdirectories with nginx.

-

[2019-11-02 17:04] switch900 commented on #14170
I just ran into the same problem.  Make sure Grpc.AspNetCore is only installed on the Server project.  If it is installed across the whole solution then it conflicts with Grpc.Net.Client on the Client project and prevents the Client project from installing correctly.

[2019-11-02 17:08] guardrex commented on #15464
Hello @ndc ... this is akin to (not really an exact duplicate given it's a different server) https://github.com/aspnet/AspNetCore.Docs/issues/14999. See if the SO answer that was posted there is any help (it may only apply to Apache).

I'll mark this for the Product Unit ("PU" label). No ETA on when they'll get to this. In the meantime, your best bet are support forums and chat. See my answer on t

[2019-11-02 17:19] saeidjoker opened #15465 "typo"
In the first paragraph, the word "authentication" is typed twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2229fc6-f8c8-952e-e567-b1d5a463055a
* Version Independent ID: b18a015b-914d-f014-f711-120d208904d9
* Content: [Use cookie authentication without ASP.NET Core Identity](https://docs.microsoft.com/en-us/aspne

[2019-11-02 17:27] #15465 closed

[2019-11-02 18:09] blowdart commented on #15456
That'd be a question for Azure, but it's doubtful. There's a [PR](https://github.com/aspnet/AspNetCore/pull/15029) coming for 5.0 to make it easier, so you can have an alternate root store in code.

[2019-11-02 18:41] guardrex commented on #15456
@jnxxx I'll close as answered because we won't make a topic update for this at this time.

[2019-11-02 18:41] #15456 closed

[2019-11-02 19:07] nagytam commented on #12687
An example project to demonstrate the CircuitHandler is available at GitHub: https://github.com/nagytam/BlazorCircuitHandler.

[2019-11-03 05:44] Aaronmeade92 opened #15468 "namespace could not be found"
# Before you open an issue

If the issue is with an ASP.NET Core document, open the issue with the **Content feedback** button at the bottom of that document page.

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, conside

[2019-11-03 07:46] mattiasw2 opened #15469 "[FromBody] requires Newtonsoft"
My POSTs stopped working after upgrading to 3.0. I need to keep Newtonsoft in order to get http-post with [FromBody] to work. Luckily, I found https://medium.com/cloudnimble/switching-to-system-text-json-in-net-core-3-0-not-so-fast-4c577a21298b

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76f39eec-9dd1-6167-56ec-47b2

[2019-11-03 09:12] Legends opened #15470 "`author` is null"
In your sample app `author` is null, means doesn't get bound.
Shouldn't it get bound?

Calling: `http://localhost:xxxx/api/boundAuthors/get/1`
`author` is null:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfb00531-4ac6-8bf6-9bd8-1eed6446397f
* Version Independent ID: ed418d09-6c33-699a-0d48-9aabc99457be
* Con

[2019-11-03 09:57] damienbod opened #15471 "Add MFA/2FA section to Docs"
I think a MFA, 2FA chapter would be good to add to the Security section of the Docs, and it's important enough to have it's own section.

Sub sections

- Overview
- MFA with Identity
- FIDO2 with Azure AD (some info and a link)
- MFA without Identity
- Adding a custom MFA to Identity
- MFA best practices

What do you think?

Exisiting Docs

https://docs.microsoft.com/en-us/aspnet/core/security/aut

[2019-11-03 11:07] mikoskinen commented on #13062
Here's an article which shows one way of sharing a layout between a Razor Page and a Blazor Page: https://mikaelkoskinen.net/post/combining-razor-blazor-pages-single-asp-net-core-3-application

Disclaimer: The article was written by yours truly.

[2019-11-03 11:21] guardrex commented on #15468
Hello @Aaronmeade92 ... It's best to use the **This Page** feedback button+form at the bottom of the topic to open an issue. It will automatically ping the author and add metadata to your issue. Recommend you close this and re-open the issue using that form.

[2019-11-03 11:25] guardrex commented on #15469
Hello @mattiasw2 ... What's your ask? It's already covered in the topic ...

https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#jsonnet-support

[2019-11-03 11:56] guardrex commented on #15470
@Rick-Anderson On a broader point, this sample is one of the lingering **_1.0 sample apps_** remaining 🤦‍♂. It's on the list ... https://github.com/aspnet/AspNetCore.Docs/issues/5495.

[2019-11-03 11:58] guardrex commented on #15471
Hello @damienbod ... Ping @blowdart to take a look at your request.

[2019-11-03 12:19] guardrex commented on #15470
I'm not sure if this is something that can be addressed using the existing sample. *Yes,* let's leave it open just in case the behavior can be addressed without updating the sample.

If it turns out that this can't be addressed, then we can close this as a dup of the sample update tracking issue (#5495).

[2019-11-03 12:21] Legends commented on #15470
This one is a dup of  https://github.com/aspnet/AspNetCore.Docs/issues/10341

[2019-11-03 12:23] guardrex commented on #15470
Oh ... ok. I'll relink the sample tracking issue to that one.

I presume that it's a P2 doc bug because it's one of the topics that doesn't receive nearly as much traffic as the others, and we're 🏃😅 right now with high priority work.

[2019-11-03 12:23] #15470 closed

[2019-11-03 17:25] #15469 closed

[2019-11-03 18:36] #15468 closed

[2019-11-03 18:37] lol768 opened #15473 "Is this up to date with ASP.NET Core 3.0?"
It suggests we:

But the sample repo's [project file](https://github.com/aspnet/AspNetCore.Docs/blob/f0e7d8e39f902c184da54a04c57f74dcf48162d5/aspnetcore/host-and-deploy/health-checks/samples/3.x/HealthChecksSample/SampleApp.csproj#L8-L13) does no such thing? There is no `Microsoft.AspNetCore.Diagnostics.HealthChecks` reference

https://github.com/aspnet/AspNetCore.Docs/blob/f0e7d8e39f902c184da54a0

[2019-11-03 18:39] guardrex commented on #15473
Typo ... it should be `Microsoft.Extensions.Diagnostics.HealthChecks`.

I'll patch it. Thanks for calling it out.

[2019-11-03 18:41] Aaronmeade92 opened #15474 "namespace could not be found"
Startup.cs(30,35): error CS0246: The type or namespace name 'RazorPagesMovieContext' could not be found (are you missing a using directive or an assembly reference?) [C:\Users\Aaron Meade\dotnet-practice\RazorPagesMovie\RazorPagesMovie.csproj]

The build failed. Fix the build errors and run again.

tried rewriting the tutorial but still ran into the same issues
Tried running dotnet restore but not

[2019-11-03 18:41] guardrex commented on #15473
Well .... it **_was_** a thing ...

https://www.nuget.org/packages/Microsoft.AspNetCore.Diagnostics.HealthChecks

... possibly 2.x. I'll take a closer look.

[2019-11-03 18:46] guardrex commented on #15473
So the deal on this one is that the `Microsoft.AspNetCore.Diagnostics.HealthChecks` package is in the `Microsoft.AspNetCore.App` package for 2.2, and it references the `Microsoft.Extensions.Diagnostics.HealthChecks` package. For 2.x, it should say that if the app doesn't use the `App` package to place a reference to it.

For 3.x, the package is implicit in the framework.

I'll put an update in now

[2019-11-03 19:28] lol768 commented on #15473
I also noticed the  `WriteResponse` implementation provided relies on `Newtonsoft.Json`. Is it appropriate to rewrite this to use `System.Text.Json` things?

[2019-11-03 19:29] guardrex commented on #15473
It wasn't according to engineering at the time of the 3.0 update. I'll keep that in mind for the next doc update, which will be for 3.1. I'll put a note now on the sample tracking issue that we're using.

[2019-11-03 19:32] lol768 commented on #15473
Ah no, you're quite right. The sample works fine in 3.0 currently, which saves me rewriting it (for the minute at least!).

Thanks for making a note, though!

[2019-11-03 19:41] Rick-Anderson commented on #15474
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2019-11-03 19:41] #15474 closed

[2019-11-03 19:42] Rick-Anderson commented on #15474
Good error message.

[2019-11-03 19:43] #15473 closed

[2019-11-03 20:08] mattiasw2 commented on #15469
Sorry, but when I search from FromBody on the page, I do not see it. But, of course, if it is there, everything is fine.

[2019-11-03 20:16] MisinformedDNA commented on #14515
Ping.

[2019-11-03 23:12] Rick-Anderson commented on #14515
@MisinformedDNA  The Azure team controls that. Pinging us doesn't help, it just adds extra work for us.  See the [ASP.NET Core on App Service Dashboard](https://aspnetcoreon.azurewebsites.net/) for the version of ASP.NET Core available on Azure App service.

[2019-11-03 23:18] MisinformedDNA commented on #14515
The dashboard currently says that it should be available to run in all data centers. Multiple people have stated that the instructions do not actually work. I have tried following the docs and I haven't been able to get a working site.

[2019-11-03 23:31] guardrex commented on #14515
Azure Apps has the runtime and shared framework. I just worked with a 3.0 Azure Key Vault app a few days ago ... no probs ... other the dog'gone certificates for my AKV app flaking out! :smile:. Anyway ... the dashboard is probably accurate.

We aren't actually getting many pings about Azure and 3.0 at this point.

Follow the advice at ...

https://docs.microsoft.com/en-us/aspnet/core/test/trouble

[2019-11-03 23:32] BrennyAlbany opened #15478 "Contoso example not in the zip file"
I downloaded AspNetCore.Docs-master.zip and it doesn't have the Contoso example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a54c97f-ddd4-b041-5e5f-a2df009ace50
* Version Independent ID: fa488196-1f98-08ea-adcc-17d9dac86727
* Content: [Razor Pages with Entity Framework Core in ASP.NET Core - Tutorial 1 of 8](https:

[2019-11-04 00:09] Rick-Anderson commented on #15478
The article provides a link that works
https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu30

[2019-11-04 00:09] #15478 closed

[2019-11-04 00:12] #14515 closed

[2019-11-04 00:40] bdcoder2 opened #15481 "HttpResponse class missing WriteAsync() method ..."
# Issue description

Document Page:
[https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.httpresponse?view=aspnetcore-3.0](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.httpresponse?view=aspnetcore-3.0)

Is the  WriteAsync( String ) method missing from the docs?   Other WriteAsync() methods with different signatures are present, but WriteAsync( String ) is

[2019-11-04 01:35] guardrex commented on #15481
The API docs are generated directly from the API itself.

https://github.com/aspnet/AspNetCore/blob/release/3.0/src/Http/Http.Abstractions/src/Extensions/HttpResponseWritingExtensions.cs

Questions about what's in the API must go to the product unit.

[2019-11-04 01:35] #15481 closed

[2019-11-04 02:26] trunker76 commented on #13001
Calling Update-Database didn't work for me here either. However, I believe I figured out why.

Remember that in our SeedData class we added the following block:

                // Look for any movies.
                if (context.Movie.Any())
                {
                    return;   // DB has been seeded
                }

As such, because our database already contained data the seed method

[2019-11-04 04:27] michaelbunney opened #15482 "Does Not Address Web.config, IIS, Azure Aspects of ASP.NET Core Configuration"
This page makes no mention of Web.config or where to put IIS configuration.  While app settings and connection strings have been moved to JSON, where has all the rest of the configuration gone?  I see many Microsoft articles saying to add settings to Web.config under ASP.NET Core, but this file no longer exists by default, and I don't see any information on where you would put it ASP.NET Core.

Wh

[2019-11-04 04:30] Rick-Anderson commented on #13001
@trunker76  wrote

No need to do that.

The tutorial tells you that.

[2019-11-04 04:46] guardrex commented on #15482
Hello @michaelbunney ... Configuration is different in ASP.NET Core than in .NET Framework. The *web.config* file isn't used to store app configuration any longer. Use the guidance in this topic to maintain your app's configuration.

IIS, the ASP.NET Core Module, and *web.config* are covered in the topics in the *Host and Deploy* node. The coverage starts with the *Overview* ...

https://docs.micr

[2019-11-04 04:51] guardrex commented on #15482
Hum ... I thought that we had a *Migration* node cross-link in the Introduction. *We don't!*

No worries ... I'll surface it now.

[2019-11-04 08:18] lonewolfnsp commented on #15387
it seems grpc-dotnet's way of doing this is this:
var httpClientHandler = new HttpClientHandler();
httpClientHandler.ServerCertificateCustomValidationCallback =
HttpClientHandler.DangerousAcceptAnyServerCertificateValidator;
var httpClient = new HttpClient(httpClientHandler);
var channel = GrpcChannel.ForAddress("https://127.0.0.1:5566",
                new GrpcChannelOptions { HttpClient = httpCl

[2019-11-04 12:17] imba-tjd commented on #14018
This issue still exists?

[2019-11-04 12:20] prkhandelwal opened #15484 "How to use user roles on client."
The docs mentions use of "AuthorizeGuard" for Authorization, but does not mention any way to use User Roles.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21cb7455-3305-9316-5440-bdc22947a82d
* Version Independent ID: 137d4b94-7b26-3911-b22d-42c754a95fc1
* Content: [Introduction to authenticatio

[2019-11-04 13:38] jt4000 opened #15485 "How to make a Connection between EF6 and asp.net core 3"
Goal:
Use EF 6 inside of ASP.net core 3 by using a project named ef.
Project EF is the main connection to the database sql server.

Problem:
I get an error saying

Error = Unable to evaluate the expression. Operation not supported. Unknown error: 0x80070057.

What part am I missing from the code in order retrieve the data in asp.net core 3.

Info:
*Uploaded the project at github (https://github.co

[2019-11-04 14:15] vignesh-nethaji opened #15486 "OpenApiInfo,OpenApiContact ,OpenApiLicense classes not found in Asp.Net Core 2.2"
Hello Microsoft team,

 I couldn't find this classes Swashbuckle.AspNetCore.Swagger.OpenApiInfo , Swashbuckle.AspNetCore.Swagger.OpenApiContact and Swashbuckle.AspNetCore.Swagger.OpenApiLicense  in asp.net Core 2.2 Framework .

Please update the class as like below.
OpenApiInfo  = Info
OpenApiContact  = Contact
OpenApiLicense  = License

// Register the Swagger generator, defining 1 or more Swagge

[2019-11-04 14:18] javiercn commented on #13820
Closing as this is likely not applicable anymore. Will re-open on asp.net core if it happens

[2019-11-04 14:18] #13820 closed

[2019-11-04 16:29] SheepRock opened #15488 "Remarks about Regex Validation"
It appears that RegularExpression always validate as full string, there are no difference between the pattern @"d" and @"^d$". Documentation should specify that or the implementation should be fixed, as this seems more like a bug.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443a7c53-cc16-7ed5-5950-46a6f195f19c
* Ver

[2019-11-04 16:47] #15482 closed

[2019-11-04 17:00] #12768 closed

[2019-11-04 17:34] guardrex commented on #12768
@serpent5 My understanding is that engineering will be pinged on these at some point. If it's still an open question, you could leave this open to see if that happens.

[2019-11-04 17:47] serpent5 commented on #12768
@guardrex Thanks. I closed this for another couple of reasons:

1. It's not had any :+1:s so it's not something of interest to others.
2. I concluded that it likely means the ability to delay creation of a service until it's _used_, rather than what I described where it's done before construction of the dependent component.

[2019-11-04 18:22] guardrex opened #15490 "Blazor Server auth properties"
Revert the API endpoint/tokens content when engineering resolves auth properties in `GetAuthenticationStateAsync`.

Engineering issue: https://github.com/aspnet/AspNetCore/issues/16831

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9942b0a-a7fb-0d34-9201-af0963affa9e
* Version Independent ID: 19770710-5225-a1ea-e082-6

[2019-11-04 19:31] Tratcher commented on #15445
Is there an engineering issue open for this?

[2019-11-04 19:33] guardrex commented on #15445
@hfaran ... did you open your issue (#15160) on the engineering repo? If ur busy, I can do it. :ear:

[2019-11-04 19:34] Rick-Anderson commented on #15488
If you think this is a product bug, create the simplest possible sample that reproduces the problem and open an issue at [GitHub ASP.NET Core](https://github.com/aspnet/AspNetCore/issues/new?template=bug_report.md)

Include steps to reproduce the bug and the version you're using `dotnet --version`

[2019-11-04 19:34] #15488 closed

[2019-11-04 20:15] TheHokieCoder opened #15494 "Overload of UseHsts Doesn't Seem To Exist"
The example under the section "HTTP Strict Transport Security Protocol (HSTS)" where the `UseHsts()` method is using an overload to provide an anonymous instance of `HstsOptions` does not seem to be possible using the "ASP.NET Core Web App" (`dotnet new webapp`) template (.NET Core v3.0 in my case). No overload of `UseHsts()` that takes more than 1 argument cannot be found. I've searched through t

[2019-11-04 20:37] m-pollack opened #15495 "lacking useful example"
Migrating module code to middleware shows an existing http module right after is an example of middleware
the issue here is IT IS NOT THE CONVERSION OF THE EXAMPLE OF SHOWN BEFORE IT
INSTEAD IT IS The preceding middleware template was taken from the section on writing middleware.

WHO THOUGHT THIS WAS USEFUL?  As usual the documentation is verbose but says very little

---
#### Document Details

⚠

[2019-11-04 20:51] DrumAce opened #15496 "Example doesn't work"
I followed all steps and the example simply doesn't work (Visual Studio for Mac v8.3.6).
Please review and fix it.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](

[2019-11-04 20:56] anurse commented on #12564
@Rick-Anderson can you clarify what you need from the PU here? Do you need us to write up the changes or just confirm that the approach @serpent5 described is appropriate?

[2019-11-04 21:00] anurse commented on #14774
There's not much to change here, I think. It's already been updated to 3.0 content and the samples are still relevant. The most I'd suggest doing is to consider removing examples of `Run` and linking over to the [Routing docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.0) for that.

[2019-11-04 21:09] m-pollack commented on #14774
Where is the repo we can download to see the actual working project?

[2019-11-04 21:20] anurse commented on #14774
This doc doesn't have a full sample attached, as far as I'm aware. The doc is quite varied in what it describes so there isn't really a single sample app that would illustrate the concepts.

[2019-11-04 21:22] blowdart commented on #15471
Adding custom worries me a little, because there's no way to judge how secure custom actually is.

[2019-11-04 21:25] tseward commented on #13910
Agree on this, the article is near impossible to read. The [sample](https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/fundamentals/configuration/options/samples/3.x) isn't any better using multiple different approaches within the same sample. The sample needs to be split to a per-approach basis.

[2019-11-04 21:33] guardrex commented on #13910
We aren't receiving negative feedback to that degree. Although opportunities for improvement are always likely, I have several counterpoints and disagreements with @jeswin's remarks. I'll answer the points individually by the end of the year. We're 🏃 on high priority doc issues at the moment, so those issues must take priority at the moment.

[2019-11-04 21:34] #14643 closed

[2019-11-04 21:47] m-pollack commented on #14774
It is definitely needed. The internet if full of plagiarized articles on this subject without any downloadable example for the current version of core.  Trying to put all the pieces together to make a working solution is very time consuming.

[2019-11-04 21:54] Rick-Anderson opened #15497 "Use, Run, and Map - differentiate them"
[Use, Run, and Map](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-3.0#use-run-and-map)

Does a poor job differentiating them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9898482c-fa54-7ce2-1716-d14fbe03990d
* Version Independent ID: 3926c686-0ccc-f9fe-ca52-0134612a1623
* Conte

[2019-11-04 21:55] Rick-Anderson commented on #14406
@JamesNK please comment.

[2019-11-04 21:55] #14774 closed

[2019-11-04 22:01] JamesNK commented on #14406
1. ASP.NET Core middleware runs before gRPC interceptors.
2. ASP.NET Core middleware gives you access to HttpContext, HttpRequest, HttpResponse.
3. gRPC interceptors give you access to the deserialized message sent to a call, and the message being returned from the call before it is serialized. Middleware can only access bytes from the request and response streams.

[2019-11-04 22:24] ExploreNcrack opened #15498 ".FirstOrDefaultAsync() V.S. .FindAsync() for Details action method"
Hi. I am wondering why using .FirstOrDefaultAsync() instead of .FindAsync() in the Details action method and Delete action method?  Isn't the .FindAsync() supposed to be faster than .FirstOrDefaultAsync()? Or are they the same in this case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97234f18-4009-0ebf-a379-9b631255

[2019-11-04 22:26] lol768 commented on #14740
This was also unintuitive to me.

[2019-11-04 22:28] hfaran commented on #15445
@guardrex Haven't had time; would be great if you can do it. :)
Tag me when you create it and I can provide any extra input as necessary. Thanks!

[2019-11-04 22:29] Rick-Anderson commented on #15495
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-04 22:29] #15495 closed

[2019-11-04 22:31] guardrex commented on #15445
@hfaran No worries. I'll open it now.

[2019-11-04 22:33] Rick-Anderson commented on #15496
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2019-11-04 22:33] #15496 closed

[2019-11-04 22:37] Rick-Anderson commented on #15494
No overloaded  `UseHsts()` method  is used on this page.

[2019-11-04 22:37] #15494 closed

[2019-11-04 22:41] Rick-Anderson opened #15499 "Add SEO juice for Interceptors"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35f64666-6632-cfca-2c3b-a20ea016f62b
* Version Independent ID: caebee8f-f4aa-17a4-3681-d10c4695e9c0
* Content: [gRPC client factory integration in .NET Core](https://docs.microsoft.com/en-us/aspnet/core/grpc/clientfactory?view=aspnetcore-3.0#configure-channel-and-interce

[2019-11-04 22:41] DrumAce commented on #15496
I reviewed the steps several times and didn't miss any.
Have you tried it in Visual Studio for Mac?

[2019-11-04 23:09] Rick-Anderson commented on #12564
Yes

If anything needs to be added, let us know.

[2019-11-04 23:23] serpent5 commented on #12564
https://github.com/aspnet/AspNetCore.Docs/pull/15218#issuecomment-546100456 summarises the specifics.

[2019-11-05 00:29] Rick-Anderson commented on #15498
See the https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/intro?view=aspnetcore-3.0&tabs=visual-studio for details.

[2019-11-05 00:29] #15498 closed

[2019-11-05 00:31] Rick-Anderson commented on #15353
@serpent5  this and #15497 look like fun.

[2019-11-05 00:32] Rick-Anderson commented on #15485
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core and EF6. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-05 00:32] #15485 closed

[2019-11-05 00:33] Rick-Anderson commented on #15484
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-05 00:33] #15484 closed

[2019-11-05 00:42] Rick-Anderson commented on #15463
Per the article:

The simplest way to implement an `IActionConstraint` is to create a class derived from `System.Attribute` and place it on your actions and controllers. MVC will automatically discover any `IActionConstraint` that are applied as attributes.

[2019-11-05 00:43] #15455 closed

[2019-11-05 00:44] Rick-Anderson commented on #15450
You could be right. Let's see if this gets any traction.

[2019-11-05 00:44] #15450 closed

[2019-11-05 00:44] Rick-Anderson commented on #15446
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core and swagger. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-05 00:44] #15446 closed

[2019-11-05 00:47] Rick-Anderson commented on #15463
@serpent5  please comment.

[2019-11-05 01:56] #15187 closed

[2019-11-05 02:06] Rick-Anderson commented on #15187
@joaopgrassi  much appreciated. You suggestion will be live in an hour. This was very helpful, keep them coming.

[2019-11-05 02:06] Rick-Anderson commented on #15187
@joaopgrassi  BTW, I removed comments because they aren't translated.

[2019-11-05 06:26] benjisanders opened #15504 "Article for .net core 2.1+ not 2.0"
Article claims .net core 2.0 but this code snippet requires .net core 2.1

            services.AddDefaultIdentity&lt;IdentityUser&gt;()
                    .AddDefaultUI(UIFramework.Bootstrap4)
                    .AddEntityFrameworkStores&lt;ApplicationDbContext&gt;();

sources:
https://stackoverflow.com/questions/56429882/blazor-iservicecollection-does-not-contain-a-definition-for-adddefaultide

[2019-11-05 09:14] dario-l opened #15505 "MvcRazorCompileOnBuild is worth to mention"
I've build multi-modular project where each module is Razor Class Libraries (RCL) which containing bunch of views. Every time when I edit cshtml file and refresh the browser the view is recompiled. It takes too much time.

Fortunately &lt;MvcRazorCompileOnBuild&gt;false&lt;/MvcRazorCompileOnBuild&gt; switches off recompilation but changes are instantly visible in the browser. Thanks for that. I ho

[2019-11-05 09:15] jzoran05 opened #15506 "MS load testing to be decommissioned"
Documentation should reflect the fact that both Visual Studio and Azure DevOps load testing are going to be decommissioned - DevOps quite soon I believe.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce92350f-25e5-63bc-c815-a8a41b2253c3
* Version Independent ID: e8f9ec21-4e0a-054e-b9ba-fd27e71e31a0
* Content: [ASP.NET

[2019-11-05 11:10] javiercn opened #15508 "Input radio"
Not sure what the right place for this is, but provide a description of how to work with input type=radio based on the comment in this bug https://github.com/aspnet/AspNetCore/issues/5579#issuecomment-548061223

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884-c1fe5c2ef52d
* Version Independent ID:

[2019-11-05 12:37] TheHokieCoder commented on #15494
My apologies Rick. I believe that I was too close to the problem yesterday and was confusing the examples thinking that `UseHsts()` was used in both code samples under the "HTTP Strict Transport Security Protocol (HSTS)" section. However, `UseHsts()` is only used in the `Configure()` method (first code sample) while `AddHsts()` is used in the `ConfigureServices()` method (second code sample). It i

[2019-11-05 13:15] clovisrod opened #15509 "Code download triggers antivirus alert"
[EDIT by guardrex to move the content from the title into the opening comment]

[2019-11-05 13:26] joaopgrassi commented on #15187
@Rick-Anderson awesome! thanks for adding it :)

[2019-11-05 14:30] guardrex commented on #15509
What did you try to download?

[2019-11-05 14:34] MustakimAlamMoon opened #15510 "Need to set up a link in a specific topic..."
In this page, the topic of "Add route template" & "Review concurrency exception handling" parts contain a line where it is saying that "Set a breakpoint on..." But there is no details about how to set a breakpoint in visual studio. I knew it before that is why it is clear to me. But for the fresher students who are not familiar with breakpoint, maybe confused what to do in this section. Some of th

[2019-11-05 14:50] guardrex commented on #15510
VS isn't the only tooling ... ASP.NET Core is cross-tooling just like it's cross-platform. If it links to VS, what about for other users on other tooling? It's not really feasible to cross-link so much. Devs probably need to check the docs for whatever tooling that they're using for many of these tooling-related concepts.

[2019-11-05 14:51] Legends opened #15511 "Startup.cs - sample localization app - Looks wrong to me"
Why would one write the same code twice?
What's the right way now?

**ConfigureServices()**
[code]

**Configure()** : again the same code ??
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1833676-ff1b-c587-cc9c-81afffa8ef68
* Version Independent ID: ad989395-3f49-4d55-521e-cf6fe56281ee
* Content: [Globalization

[2019-11-05 15:02] Legends opened #15512 "SharedResource.resx for all app localizations"
I would like to have a Resources folder where I would have on resx file :

[code]

I don't want a billion of resx files with named conventions.

Can you provide an example of how to do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1833676-ff1b-c587-cc9c-81afffa8ef68
* Version Independent ID: ad989395-3f49-4d55-

[2019-11-05 15:05] Legends commented on #15511
You can put this issue on your bug fix list

[2019-11-05 15:05] #15511 closed

[2019-11-05 15:06] MustakimAlamMoon commented on #15510
Thank you very much for the clarification...

[2019-11-05 15:06] #15510 closed

[2019-11-05 15:37] #15512 closed

[2019-11-05 15:52] mkArtakMSFT commented on #12949
@guardrex I agree these two are essentially the same. Feel free to use the details in either one of these and close the other one.

[2019-11-05 16:01] #15271 closed

[2019-11-05 16:22] niboj opened #15515 "cannot convert from 'Microsoft.OpenApi.Models.OpenApiInfo' to 'Swashbuckle.AspNetCore.Swagger.Info'"
Hello,

With aspnet core 3 the swashbuckle example is no good anymore :

see this link for info : https://stackoverflow.com/questions/57080588/cannot-convert-from-microsoft-openapi-models-openapiinfo-to-swashbuckle-aspne

Thanks

philippe.jobin@outlook.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14fce65f-1337-58

[2019-11-05 16:27] devlife opened #15516 "How to request specific certificates"
Is it possible to configure the app (specifically being hosted in azure app service) to only request and accept certificates created by a specific issuer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b7960d-6de5-78ee-bc45-d7218239bbc8
* Version Independent ID: d2db534b-198a-dc99-5b5a-0525582d39ac
* Content: [Config

[2019-11-05 16:32] javiercn opened #15517 "Expand the element reference topic to show the pattern for using ElementReference across component boundaries"
See the comment and associated sample in the following issue.

https://github.com/aspnet/AspNetCore/issues/16821#issuecomment-549896179

Several people has tried to use ElementReference between components.
ElementReferences are only guaranteed to be valid during the component OnAfterRender method, so they can't be simply tossed around to other components (they are also structs).

When a parent com

[2019-11-05 16:39] niboj commented on #15515
Sorry, I had not updated my nuGet package to the prerelease version 5.0.0-rc4

[2019-11-05 16:39] #15515 closed

[2019-11-05 16:48] blowdart commented on #15516
No I'm afraid not. The certificate auth specifications are basically all or nothing.

[2019-11-05 17:03] Rick-Anderson commented on #15504
2.0 is out of support.

[2019-11-05 17:06] javiercn opened #15519 "Add a section about signalr service an auth"
SignalR Service captures the list of claims during _negotiate and serializes them. That might result in the ClaimsPrincipal being different locally vs when using the SignalR service. We should have a mention about that in here and provide further guidance about how to normalize the set of claims between prerendering, initial authentication and signalr service re-connection.

---
#### Document Deta

[2019-11-05 17:10] guardrex commented on #15392
Dup of #12949 ... comments moved to that issue.

[2019-11-05 17:11] Rick-Anderson commented on #15505
@pranavkm  can we mention exactly what `<MvcRazorCompileOnBuild>true | false</MvcRazorCompileOnBuild>` does?

[2019-11-05 17:12] Legends opened #15521 ".net core 3.1: does not contain a definition for ApplyCurrentCultureToResponseHeaders"
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1833676-ff1b-c587-cc9c-81afffa8ef68
* Version Independent ID: ad989395-3f49-4d55-521e-cf6fe56281ee
* Content: [Globalization and localization in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.0#cookierequestcul

[2019-11-05 17:32] clovisrod commented on #15509
I' downloaded - AspNetCore.Docs-master.zip

The virus was detected in the upload of files sample, version 3.x

Thanks

[image: image.png]

[image: image.png]

On Tue, Nov 5, 2019 at 12:09 PM Luke Latham <notifications@github.com>
wrote:

[2019-11-05 17:41] guardrex commented on #15509
Heuristic scanning just looks for patterns in files. It's probably just that and not an actual virus, but that's just my guess. It looks ok from here.

https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/mvc/models/file-uploads/samples/3.x/SampleApp

@blowdart Do we need to take any further action on a report of a virus in one of our samples when it doesn't look like anything is amiss

[2019-11-05 18:11] rellis-of-rhindleton opened #15523 "Best practice for registering ClaimsPrincipal as a service is not listed"
This page is frustratingly vague. It mentions using IHttpContextAccessor in a static variable as a workaround for migration when DI isn't being used, but if DI is being used then there is no reference to what the developer *should* be doing to take advantage of it.

From reading independent blog posts it looks like this is the answer. If so can it be added?

[code]

---
#### Document Details

⚠ *D

[2019-11-05 18:13] Rick-Anderson commented on #15521
Dup of #15412
Please look at open issues before creating new ones.

[2019-11-05 18:13] #15521 closed

[2019-11-05 18:13] Rick-Anderson commented on #15521
Dup of #15412
Please look at open issues before creating new ones.

[2019-11-05 18:13] Rick-Anderson commented on #15521
Dup of #15412
Please look at open issues before creating new ones.

[2019-11-05 18:18] wbehning commented on #15414
C:\Projects\IntegratorManager\Dev\Dev\IntegratorManager>dotnet new angular -o IntegratorManager
The template "ASP.NET Core with Angular" was created successfully.

Processing post-creation actions...
Running 'dotnet restore' on IntegratorManager\IntegratorManager.csproj...
  Restore completed in 207.58 ms for C:\Projects\IntegratorManager\Dev\Dev\IntegratorManager\IntegratorManager\IntegratorManag

[2019-11-05 18:25] eugvanc opened #15524 "static files containing data - e.g. mydata.json, to be consumed in a react front-end"
I could not find any reference regarding adding static files containing data (e.g. mydata.json) in an asp.net core app with react. Typically this file would be the data source for drop-down lists on the UI.
While placing a file like this on the wwwroot folder works in a dev environment, it stops working when deploying to a targeted environment.
Similar situation with pdf files. Clarifying this wou

[2019-11-05 18:27] Rick-Anderson commented on #15524
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-05 18:27] #15524 closed

[2019-11-05 18:49] #15282 closed

[2019-11-05 18:51] guardrex commented on #15523
Possibly solved by a cross-link?

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-context?view=aspnetcore-3.0

[code]

[2019-11-05 19:06] #15119 closed

[2019-11-05 19:07] aaronhudon-ts commented on #15508
To get it going right now, see this workaround.  It works fine.
https://github.com/aspnet/AspNetCore/issues/5579#issuecomment-548061223

[2019-11-05 19:11] guardrex commented on #15516
Closing as answered.

[2019-11-05 19:11] #15516 closed

[2019-11-05 19:19] rellis-of-rhindleton commented on #15523
That would close the gap. That page doesn't come up in a search for e.g. "asp.net core claimsprincipal services", but this page (the migration page) does, so it makes a path to the right place.

[2019-11-05 19:55] Legends commented on #15521
Yes, but I am referring to v3.1 not 3.0.

[2019-11-05 20:03] tony-long opened #15526 "Replacement for WebGrid editing?"
We need a replacement to MVC4/5 WebGrid used for inline record editing.   Can you provide more doc info and sample app using a master-detail viewmodel with the detail records as webgrid type of inline editing?   Can Blazor provide this? When?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884-c1fe5c

[2019-11-05 20:09] spottedmahn opened #15528 "AddRedis when using Microsoft.AspNetCore.SignalR.Redis"
Apparently `AddRedis` is the method when using `Microsoft.AspNetCore.SignalR.Redis`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c548355c-d88f-b941-0622-56732973123b
* Version Independent ID: bddd7575-422d-4342-af48-f6b0979fb69a
* Content: [Redis backplane for ASP.NET Core SignalR scale-out](https://docs.microsoft.co

[2019-11-05 20:26] wadepickett commented on #12001
Fixed with #15245 .   I removed the outdated and misleading G+ icon rather than replace it since the graphic was not essential.

[2019-11-05 20:26] #12001 closed

[2019-11-05 20:45] guardrex opened #15530 "Update Blazor WebAssembly sample to Preview2"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version Independent ID: 8226ed72-69b2-3c93-a931-218bd11cf9c8
* Content: [Get started with ASP.NET Core Blazor](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio)
* Content Source:

[2019-11-05 20:53] BrennanConroy commented on #15528
That isn't true anymore. In 3.0 there is no Microsoft.AspNetCore.SignalR.Redis package.

If you're referring to the 2.2 versioned docs then that is true, and we could update the doc to mention that. Although I'm not sure what the status on 2.2 docs is these days as it will be out of support soon.

[2019-11-05 21:18] guardrex commented on #15526
Hello @tony-long ... We don't have a similar control in the docs. I doubt that we have the staffing to produce one for the foreseeable future due to many high priority issues and a large backlog of work (see the issue count on this repo). We recommend that you check the Internet for blogs and discuss it with devs on a support chat, such as Stack Overflow, or support chat, such as Slack or Gitter.

[2019-11-05 21:18] #15526 closed

[2019-11-05 21:18] Legends opened #15532 "Order of request culture providers and how to change them"
Where?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1833676-ff1b-c587-cc9c-81afffa8ef68
* Version Independent ID: ad989395-3f49-4d55-521e-cf6fe56281ee
* Content: [Globalization and localization in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.0)
* Content Sour

[2019-11-05 21:26] RDanneskjold commented on #15434
nkev, thank you!
verifying.

[2019-11-05 21:50] Legends commented on #15532
My app supports 4 different cultures and I decided to set the request culture using the `CookieCultureProvider`.

As I found out, the

[2019-11-05 21:56] #14406 closed

[2019-11-05 21:56] #15499 closed

[2019-11-05 22:04] Legends commented on #15532
In order to make this work with the `CookieProvider` I have to kick all others out:

`o.RequestCultureProviders = o.RequestCultureProviders.Where(rcp => rcp.GetType() == typeof(CookieRequestCultureProvider)).ToList();`

[2019-11-05 22:15] serpent5 commented on #15463
That's correct. These attributes _don't_ implement `IActionConstraint`. They (indirectly) implement `IActionHttpMethodProvider`, which gets mapped over to an implementation of `IActionConstraint` ([`HttpMethodActionConstraint`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.actionconstraints.httpmethodactionconstraint?view=aspnetcore-3.0)) when the [app model](https://docs.mi

[2019-11-05 22:23] #15306 closed

[2019-11-05 22:36] wadepickett commented on #14808
Triaged a bit over 100.  Starting with oldest that were not assigned.  also updated the query on the parent issue to match the larger labeling collection allowed lately.

[2019-11-05 22:36] #14808 closed

[2019-11-05 22:43] serpent5 commented on #15353
@Rick-Anderson Both of those look like a good challenge. I'll see if I can get to them at the weekend.

[2019-11-05 22:55] BrennyAlbany opened #15540 "Errors with download - Windows 7 issue?"
A few download issues - error during download, error when attempting to run app - is this because I'm trying to run this with Windows 7?  I believe Windows 7 can't handle long file names/subfolders.  One error - Skipping file: unable to create a sensible filename out of - c:...\Documents\Microsoft Tutorial ASPNetCoreDocs\AspNe...\StartupDiagnostics.deps.json - I know where I work will be convertin

[2019-11-05 22:57] Rick-Anderson commented on #15410
@guardrex  I'll provide a complete sample

[2019-11-05 23:02] Rick-Anderson commented on #15540
Probably a long file name issue.

[2019-11-05 23:02] #15540 closed

[2019-11-05 23:13] Rick-Anderson commented on #15528
`AddRedis` is in the 2.1 and 2.2 version.

[2019-11-05 23:27] Rick-Anderson commented on #15506
See [Changes to load test functionality in Visual Studio and cloud load testing in Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/test/load-test/overview?view=azure-devops)

There are dozens of web load testing tools. I think we should retire this doc.

Please respond @jeremymeng @mjrousos

[2019-11-06 00:05] #15230 closed

[2019-11-06 00:05] #15391 closed

[2019-11-06 00:49] #15370 closed

[2019-11-06 04:40] #15009 closed

[2019-11-06 05:39] Fungungun opened #15543 "Create project in vscode and run it in visual studio and vice versa"
Could you instruct how to do it or if it's doable?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a25bf940-8977-fec4-461b-542a9f550fc8
* Version Independent ID: 5492c641-af15-64b8-beaa-ddf511be73e6
* Content: [Tutorial: Get started with Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials

[2019-11-06 06:21] Fungungun commented on #15543
okay solved.

Project A: Create and Run in VSCode
Project B: Create and Run in Visual Studio

Modify the file "launch.json" in Project B following the same file in project A
Remember to change the .dll filename

[2019-11-06 09:18] TheGreenAirplane opened #15545 "Unexpected end of Stream, the content may have already been read by another component."
I have implemented a file upload method according to this page:
https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-3.0

I get an exception when trying to read the request body:
[code]

The exception:

Stack trace:

I found this question on StackOverflow:
https://stackoverflow.com/questions/49867343/unexpected-end-of-stream-the-content-may-have-already-been-read-by

[2019-11-06 12:47] javiercn opened #15546 "Add a section mentioning the usage of app.UseBasePath"
[EDIT by guardrex to remind myself to add the no-loc metadata: `no-loc: [Blazor]`]

It might be necessary on the server deployment to configure the server base path. We should include a section here about setting the base path on the asp.net core host with `app.UseBasePath`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-11-06 12:59] bdaniel7 opened #15547 "Roles with spaces in them?"
I am astonished to discover that role names with spaces cannot be used. And no exception is thrown. The authorization just doesn't work. And try debugging for hours, to find out why...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3668fea-5d71-a4fc-96d1-74b53906bf25
* Version Independent ID: 980a23e7-56e4-da94-a139-c

[2019-11-06 14:06] MustakimAlamMoon opened #15549 "Visibility Status..."
Hello Rick sir... You really make a lot of tremendous articles for the learners & developers. Thank you so much for the great contribution. Actually, I didn't find any major issue in this page. Without just a little visibility problem. In the "Run the app" sub-section the part of "Visual Studio" tab, the first line shows "Select Ctrl-F5 to run the app in non-debug mode." And the next tab of "Visua

[2019-11-06 14:08] allan-mobley-jr opened #15550 "Cosmos Identity Custom storage provider"
I was hoping the ASP.NET Core Identity team would check out an open-source storage provider using Cosmos DB that I recently published. I followed your open source library very closely. Any feedback would be greatly appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54b3ef64-9e17-3aab-0b75-57726d906cb6
* Versio

[2019-11-06 14:10] MustakimAlamMoon commented on #15549
![1](https://user-images.githubusercontent.com/32559803/68305178-68860580-00d1-11ea-9417-5b2f8febb615.PNG)
![2](https://user-images.githubusercontent.com/32559803/68305195-6f147d00-00d1-11ea-969d-72246abbb15e.PNG)

[2019-11-06 14:13] allan-mobley-jr commented on #15550
Guess it would help to leave a url to the repo: https://github.com/Mobsites/AspNetCore.Identity.Cosmos.

[2019-11-06 14:31] DanJ210 commented on #15280
@guardrex Just so I know I'm doing the right thing. Visual Studio 2019 16.3.8 won't work, I'd have to download a non RC preview version 16.4 Preview 2?

Would that warrant clarifying in docs or is the user supposed to deduce that?

[2019-11-06 14:44] Flodgar opened #15551 "Only integers in Price field"
I can only type integers in Price field. If i use dot as it is in the picture, I get "The value '1.19' is not valid for Price." warning. Anyway, "Edit" fills the form with two decimal places using comma ('20,00'), which can't be saved. All this is pretty consufing for me. Note under the picture says you can't use decimal commas but says nothing about the dots.
And as a bonus, I found out you can t

[2019-11-06 14:56] javiercn opened #15552 "Update the docs about reconnection to reflect"
https://github.com/aspnet/AspNetCore/issues/16870#issuecomment-550345922

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 542f38c4-1502-f739-372a-80c86c377491
* Version Independent ID: 72c2a844-ffb2-4799-2c7a-a7a73d3b6833
* Content: [ASP.NET Core Blazor hosting models](https://docs.microsoft.com/en-us/aspnet/core/blazor/

[2019-11-06 15:22] waxingsatirical opened #15553 "Require client certificate for UseHttpSys"
# Before you open an issue

If the issue is with an ASP.NET Core document, open the issue with the **Content feedback** button at the bottom of that document page.

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, conside

[2019-11-06 15:38] PtwHub commented on #14191
Great. Clear Identity Management practices, a basis for security and privacy, is the sign of a production-ready design.

[2019-11-06 15:40] nikki9696 opened #15554 "Keep it simpler"
Please stop always using EF / database contexts in these examples. Lots of applications just call through to APIs now. It's muddying the water a lot to try to do these examples without also trying to do EF that I don't even need.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 164d7efe-01bf-0b26-7a23-f10704f338f5
* Vers

[2019-11-06 15:41] guardrex commented on #15280
@DanJ210 Quick note on adding comments to closed issues and PRs: It's best to open a new issue using the **This Page** feedback button/form at the bottom of any topic. It adds the topic metadata, pings the author automatically (me! lol), and helps to track work volume a little better.

... isn't specific/actionable. Always state *exactly* what the behavior is.

The guidance from engineering is ...

[2019-11-06 15:44] aguacongas opened #15555 "credentials = FetchCredentialsOption.Include doesn't work on client-side"
If you try the sample with

[code]

The exception

&gt; WASM: System.Net.Http.HttpRequestException: TypeError: Failed to execute 'fetch' on 'Window': The provided value '2' is not a valid enum value of type RequestCredentials.

Is logged in the console

The workarroud is to use

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-11-06 15:45] guardrex commented on #15280
I'll hold this open for a bit so that you can add the "won't work" behavior. If it sounds like a purely doc issue, then we can leave this for triage here. I have a feeling tho that it's going to be a product issue. What exactly isn't working with 16.3.8 for Blazor Server?

[2019-11-06 15:46] Thraka opened #15556 "When publish creates Identity folder in wwwroot"
_From @RetsamSoft on Wednesday, November 6, 2019 3:32:43 AM_

Hello, sorry for my bad English, when I publish my project I create a folder called "Identity" in the wwwroot folder.
I use my own layout in /Areas/Identity/Pages/_ViewStart.cshtml

[code]

I don't want the "Identity" folder to be created automatically at wwwroot, thx.

- .NET Core 3.0

_Copied from original issue: dotnet/docs#15716_

[2019-11-06 15:46] Thraka commented on #15556
_From @Thraka on Wednesday, November 6, 2019 3:46:37 PM_

Hello, I think this question is better suited for the ASP.NET Core team.

[2019-11-06 15:52] guardrex commented on #15555
Thanks @aguacongas

@mkArtakMSFT @danroth27 I'll need some guidance on this one given that the current content/approach was supplied initially for the topic by engineering and then later checked/approved by engineering for 3.0.

I've prioritized this one for a fast update once I have your guidance on it.

[2019-11-06 15:59] guardrex commented on #15545
Hello @TheGreenAirplane ...

Passing note on opening issues: Please use the **This Page** feedback button/form at the bottom of the topic.

WRT `DisableFormValueModelBindingAttribute`: That's covered in the topic.

We don't have the staffing to troubleshoot individual developer apps. We can only work doc issues that principally use the scenarios covered by the topic. Your use of *vue.js* might be

[2019-11-06 15:59] #15545 closed

[2019-11-06 16:03] guardrex commented on #15553
Hello ... Please use the **This Page** feedback button/form at the bottom of any topic to open an issue. For this one it will be ...

https://docs.microsoft.com/aspnet/core/fundamentals/servers/httpsys

 Please provide more information for the issue. Your remark isn't workable without more details.

[2019-11-06 16:03] #15553 closed

[2019-11-06 16:09] guardrex commented on #15556
Hello @Thraka ...

See :point_right: https://github.com/dotnet/cli/issues/5934

Yes, let me take a look at our coverage on this. We *might* want to cover it where we introduce *wwwroot* (web root) concepts or where we describe the Web SDK publishing. I'll take a look, but I'm going to put this back in December. We're 🏃😅 right now on high-priority issues.

[2019-11-06 16:20] bdaniel7 commented on #15547
Hmm, apparently, the claims must be registered with keys from System.Security.Claims.ClaimTypes.Role, instead of "role".

[2019-11-06 16:23] Thraka commented on #15556
@guardrex Hi there. @RetsamSoft is the real author, I just moved the issue from the .NET Docs repo.

[2019-11-06 16:26] guardrex commented on #15556
That's ok. That might be the right place to open the issue. We're *very compartmentalized* here ... we don't work on their docs, and they don't work on ours.

For this issue tho, we *do* cover some content pertaining to publishing. I'd like to take a closer look at this for our doc set. I'll take a look in December, when I hope to have more time.

[2019-11-06 16:27] guardrex commented on #15556
For their doc set, use the **This Page** feedback form at the bottom of their topic. That will ping their author with your feedback on the topic.

... but leave this issue open here. I'll get back to it later.

[2019-11-06 17:38] bradygaster commented on #15408
@BrennanConroy feels like it'd benefit this doc for us to change the sample code to highlight the `IAsyncEnumerable` approach versus Channel. Yay/Nay?

[2019-11-06 17:40] Jeramu opened #15559 "UIFramework Does Not Exist in ASP.NET Core 2.1"
In the #configure-identity-services-1 section .AddDefaultUI(UIFramework.Bootstrap4) is shown in the C# code example. UIFramework was not added until ASP.NET Core 2.2. This example should likely either be adjusted to .AddDefaultUI() or this method call simply removed from the example for ASP.NET Core 2.1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-11-06 17:47] Rick-Anderson commented on #15543
Create a  project with either approach. In VSC, dotnet run, in VS - ^F

[2019-11-06 17:47] #15543 closed

[2019-11-06 17:50] bradygaster commented on #15277
What are you interested in testing, specifically? The actual connection and messaging activity? As in the form of a performance or benchmark test? We have a benchmarking global tool you could learn about here: https://www.nuget.org/packages/Microsoft.dotnet-signalr-benchmark/1.0.0-preview2.19521.1

[2019-11-06 17:52] #15549 closed

[2019-11-06 17:53] #15554 closed

[2019-11-06 17:56] Rick-Anderson commented on #15547
The doc uses `Role` from the start `[Authorize(Roles = "Administrator")]`

[2019-11-06 17:56] #15547 closed

[2019-11-06 18:23] Rick-Anderson commented on #15559
@Jeramu  thanks for bringing this to our attention.

[2019-11-06 18:36] Jeramu opened #15561 "Typo in #create-a-web-app-1 Section"
In versions prior to aspnetcore-3.0, there is a typo in this section for the Visual Studio example. "Selecct" should be updated to "Select" in the second item of the bullet list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faf18d20-d28f-1efa-d329-181fff3630fa
* Version Independent ID: 46a7c2e0-4871-491f-02c2-54f7df2

[2019-11-06 19:17] #15561 closed

[2019-11-06 19:23] Rick-Anderson commented on #15550
@allan-mobley-jr  I marked this as a discussion issue.  Hopefully we can get some feedback.

[2019-11-06 19:25] blowdart commented on #15550
We don't do this in docs, we do it in the identity repo where you can see other examples.

https://github.com/aspnet/AspNetCore/tree/master/src/Identity

Create a PR with your link there.

[2019-11-06 19:28] allan-mobley-jr commented on #15550
Okay, thank you for responding.

[2019-11-06 20:09] aderderian commented on #15516
Is there a specific reason this will not be supported? I have a stack overflow post on this : https://stackoverflow.com/questions/58736822/net-core-windows-azure-web-app-trusted-certificate-store-for-browser-prompt-wit

Any work arounds for azure/core?

[2019-11-06 20:45] #15550 closed

[2019-11-06 21:14] scottaddie commented on #14350
Some thoughts:

- I agree with the P2 priority.
- Consider linking to the LibMan docs in an **Additional resources** section. It's an alternative approach to accessing static files from a CDN.
- As a time-constrained customer coming to the official docs, I wouldn't want to be told to generate and compare 2.2 to 3.0 projects to determine what changed. I'd expect the docs to provide that info.

[2019-11-06 21:30] Rick-Anderson commented on #12002
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-06 21:30] #12002 closed

[2019-11-06 21:33] scottaddie commented on #15362
@Legends You're correct that Razor Pages was introduced in ASP.NET Core 2.0. We're working on an improved versioning strategy for our docs, at which point this problem will be addressed.

[2019-11-06 21:37] Rick-Anderson commented on #15088
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-06 21:37] #15088 closed

[2019-11-06 21:37] Rick-Anderson commented on #14903
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2019-11-06 21:37] #14903 closed

[2019-11-06 21:44] #15439 closed

[2019-11-06 21:45] neosri commented on #12002
Thanks for your response.I managed to create one.

On Wed, Nov 6, 2019, 4:31 PM Rick Anderson <notifications@github.com> wrote:

[2019-11-06 22:16] wadepickett commented on #13947
@rowanmiller , should I close this one?  It sounded like yo updated the tutorial and this is now resolved?

[2019-11-06 22:18] #13947 closed

[2019-11-06 22:22] #14100 closed

[2019-11-06 22:40] TheMagnificent11 opened #15565 "NSwag HTTP client generation - Command Line"
The page suggests that there are several ways to generate an HTTP client but then only goes into detail about using NSwag Studio.

Ideally, I think most people would like the HTTP client to be generated when ASP.Net Core Web API project compiles.

It is my understanding that NSwag Studio uses the `nswag.exe` or `nswag.cmd` under the hood and thus you can use these commands and your NSwag configura

[2019-11-06 23:13] Rick-Anderson commented on #4556
Fixed in #15288

[2019-11-06 23:13] #4556 closed

[2019-11-06 23:26] Rick-Anderson commented on #11823
Fixed in https://github.com/dotnet/docs/pull/14414

[2019-11-06 23:26] #11823 closed

[2019-11-06 23:28] Rick-Anderson commented on #10918
@bradygaster  IF YOU can outline the steps I'll have @wadepickett test/document them.

[2019-11-06 23:32] Rick-Anderson commented on #14974
@BrennanConroy @bradygaster if you can get this drafted we'll get it published. Should it go in an include so you can include it in multiple docs?

[2019-11-06 23:55] NoahStahl opened #15566 "Warning shown when adding BuildServiceProvider in 3.0"
As described, I added the new jsonPatchServices  ServiceCollection section to avoid using Newtonsoft.Json gloablly. When doing this, VS 2019 complains with this warning:

"Warning	ASP0000	Calling 'BuildServiceProvider' from application code results in an additional copy of singleton services being created."

Is there any better option to achieve this without triggering such warning?

---
#### Docu

[2019-11-07 00:08] dazinator commented on #12617
I couldn't resist commenting on this:

This is truly a very basic and common scenario!
It's such a simple and common requirement that it definitely should be included in the docs. Scouts honour.

I mean - have you ever seen a form on the interwebs that wont let you click the submit button until all the input is valid? If you haven't I'd be very surprised. If Microsofts cutting edge, premier, shiny

[2019-11-07 00:12] Rick-Anderson commented on #15566
@pranavkm should we add a warning about `    var jsonPatchServices = new ServiceCollection();`

[2019-11-07 00:23] guardrex commented on #12617
Some of that is engineering feedback, and I can't remark on it.

As for the rest, it was triaged, so there's no need to push the issue with so much effort. It will be worked, perhaps even this weekend. :rocket:

@mkArtakMSFT You didn't say which way to go with it ...

* Cross-link to @PeterHimschoot's topic in the Additional resources section.
* Incorporate something along the lines of @PeterHimsc

[2019-11-07 00:45] rowanmiller commented on #13947
Yep agreed 👍

[2019-11-07 01:05] NoahStahl commented on #15566
Also, the provided example uses the patch-specific input formatter which only accepts the narrower content type "application/json-patch+json", rather than the typical default (and arguably better because flexible) "application/json". Leaving the default content type results in the same error and misled me for a good while.

So, here's a working example with warning suppressed and allowing multiple

[2019-11-07 01:18] NetMage opened #15569 "Browser compatibility should be listed"
I was disappointed that IE11 is not supported with server side Blazor, and that I had to find out using Google.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc28995-6784-a7d2-5c0b-9811a8d19c1a
* Version Independent ID: 1668c8fb-024c-c86d-d4d5-e22e3355c04b
* Content: [Introduction to ASP.NET Core Blazor](https://docs

[2019-11-07 01:34] #15410 closed

[2019-11-07 01:42] Rick-Anderson opened #15570 "3.0 prep to make diff easier"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2784a724-e940-4c14-3b50-b063f78c2ee5
* Version Independent ID: 41175c3a-8cb5-856b-a7e0-931edb6394db
* Content: [Application Parts in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/app-parts?view=aspnetcore-2.2&branch=pr-en-us-14507)
* Content Sou

[2019-11-07 01:46] CamSoper commented on #14396
Stale conversation. @mchudino if you're still looking for help on this please let me know and I'll reopen.

[2019-11-07 01:46] #14396 closed

[2019-11-07 01:51] #15570 closed

[2019-11-07 02:02] sadiqkhoja commented on #6882
I had to do following to get it work:

[code]

[2019-11-07 09:43] javiercn opened #15572 "Can we make an improvement to the Configure API Authentication handler section"
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.1#customize-the-api-authentication-handler

Indicates that we already setup the JwtBearer events appropriately for the app to work and that if you want to expand on that you need to wrap the events, use this snippet as a sample:

[code]

---
#### Document Details

⚠ *Do not edit this s

[2019-11-07 09:59] Kiril1512 commented on #11052
Yes, this would be very helpful for developers not only for testing, but also do understand better SignalR through unit tests.

[2019-11-07 10:18] guardrex commented on #15569
It's here ...

https://docs.microsoft.com/aspnet/core/blazor/supported-platforms

[2019-11-07 10:18] #15569 closed

[2019-11-07 10:32] damienbod commented on #15471
We could not do the custom thing at all, or just explain the Identity interfaces where this could be done, or do a FIDO2 example with health warnings.

[2019-11-07 14:37] guardrex commented on #15429
@Rick-Anderson IIRC, you're planning additional work on this one. I assigned it over. There's no new cross-linked PR yet, so I'll mark it back for triage in November (*guessing*).

[2019-11-07 14:58] spottedmahn commented on #15528
Hi @BrennanConroy - nope, I was referring to the v3 page.

---

![image](https://user-images.githubusercontent.com/14079228/68399756-e46d6580-0144-11ea-86ff-6e0eaf41088f.png)

The above has a reference to the old package `Microsoft.AspNetCore.SignalR.Redis` but only has the code snippet for the new package `Microsoft.AspNetCore.SignalR.StackExchangeRedis`

[2019-11-07 14:59] spottedmahn commented on #15528
It would see that

**shouldn't** be in the v3 doc page, thoughts? 💭

[2019-11-07 15:05] xenophilios opened #15573 "IgnoreBody and IgnoreSection"
It would be nice if you could provide some examples to show how to use these two commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b29734d0-2d2b-3b82-0456-785cc7f361fd
* Version Independent ID: ab07129c-a4dd-44de-45f9-4b49eff0b54c
* Content: [Layout in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/m

[2019-11-07 15:13] spottedmahn commented on #15277
Messaging activity.

At that is stage I was just researching options and learning what's available and I noticed the old version had some documentation but the new one doesn't.

[2019-11-07 16:26] BrennanConroy commented on #15528
Good eye, missed that reference.

We should remove that reference in the 3.0 docs. 👍

[2019-11-07 16:33] bgilner opened #15575 "Limitation"
The Generic Host restricts dependency injection with a breaking change over the existing Web Host: https://github.com/dotnet/docs/issues/14900

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5f1eeee-d500-82bf-0d0a-b4e0d5d5c175
* Version Independent ID: 2373a3df-6ea3-50c7-d63d-61c51d572511
* Content: [.NET Generic Host]

[2019-11-07 16:52] BrennanConroy commented on #15408
The bit above the Channels part shows `IAsyncEnumerable`, we just need to update the comment for the Channels section.

[2019-11-07 16:55] tony-long opened #15577 "Partial View for Form Editing and Submit"
Is there support and if so, how to do,  a partial view for a data entry form that can be used in a modal to make a pop-up record editor for a record which the parent view has the master @model record and the partial needs to use the detail @model record.  Is this possible?  If so, can you expand upon that in the docs ?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-11-07 17:13] motohead400 opened #15578 "UseStaticFiles still needed with UseFileServer for wwwroot"
The documentation says UseFileServer is like calling UseStaticFiles, UseDefaultFiles, and UseDirectoryBrowser.  This is not the behavior I encountered with .net core 2.2 (Web API application).  I had to add a call to `UseStaticFiles ` in order for files to be served from the _wwwroot_ directory.  I wasted over an hour on this.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-11-07 17:16] #15339 closed

[2019-11-07 17:17] #14541 closed

[2019-11-07 17:43] Rick-Anderson commented on #15575
@guardrex  I thought that got added?

[2019-11-07 17:46] Rick-Anderson commented on #15575
@bgilner  that's documented [here](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#hostbuilder-replaces-webhostbuilder)

[2019-11-07 17:46] guardrex commented on #15575
Yes ... it's done. However, we cover breaking changes in the *Migration* topic set, not here (unless you want to). The problem with migration changes in the reference topics is that they muddy the topics badly over time.

[2019-11-07 17:47] #15575 closed

[2019-11-07 17:50] #15113 closed

[2019-11-07 18:02] Rick-Anderson commented on #15578
That's not correct. See https://stackoverflow.com/a/50381816/502537

[2019-11-07 18:07] motohead400 commented on #15578
I understand that's what it's SUPPOSED to do.  I read the documentation, as was obvious in my post.  However that is NOT the behavior I experienced.  Without app.UseStaticFiles() in my code below, static files in the wwwroot do not get served.  Maybe it has something to do with me adding an additional file provider?
![image](https://user-images.githubusercontent.com/23037268/68415000-5488e500-015f

[2019-11-07 18:13] Rick-Anderson commented on #15578
If you check the source you'll see it calls `UseStaticFiles`

[2019-11-07 18:22] Rick-Anderson commented on #15578
Try to repo the problem without the file provider.

[2019-11-07 18:37] qvisionsa opened #15583 "How can I use Reflection to get all the strings wrapped in localizer in startup?"
I'm following the docs for localization and I read "You can leave the default language literal strings in the app and wrap them in the localizer, so that you can focus on developing the app. "
How can I get all strings wrapped with localizer and save them to a database table?
Is it possible to do it using Reflection. Can you please guide me with an example?

I already did it for data annotations u

[2019-11-07 18:39] motohead400 commented on #15578
I did as you suggested and if I just call app.UseFileServer() without passing the FileServerOptions into it I'm able to remove the call to app.UseStaticFiles() and still have files served from the wwwroot directory as would be expected.  So there seems to be a bug with using a file provider causing UseFileServer() to not allow files from the wwwroot directory to be served.

[2019-11-07 18:53] guardrex commented on #12349
@Rick-Anderson This one isn't getting a lot of engineering ❤️ ... recommend we close if it's a *won't fix* scenario.

[2019-11-07 19:39] Rick-Anderson commented on #15578
@Tratcher is this expected? SHould we document this?

[2019-11-07 19:41] #12349 closed

[2019-11-07 19:42] #15556 closed

[2019-11-07 19:53] xenophilios opened #15585 "Tag Helpers in Pages/Index.cshtml : Security Concerns"
The use of the tag helper "asp-route-id" leads to the ID being displayed in the query string. This seems to me to be an open invitation to hackers to mess with a site. Could you please explain how to get the same results without displaying any IDs to the user? Thank you for your trouble.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-11-07 19:56] xenophilios opened #15586 "Links to Edit / Details / Delete Pages in Pages/Index.cshtml"
Could you please explain how to use buttons instead of links in Lines 47 to 49 and how to handle the button events in the Edit, Details, and Delete pages? Thank you for your trouble.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70f6104a-a223-4bb3-4101-f553002b9b26
* Version Independent ID: 15e79e80-8d46-7cd5-c883-6cc

[2019-11-07 19:56] Tratcher commented on #15578
Yes, that's expected. UseStaticFiles/UseFileServer defaults to the file provider pointing at wwwroot. You can provide additional instances of UseStaticFiles/UseFileServer with other file providers to serve files from other locations.

[2019-11-07 20:02] guardrex commented on #15509
Closing for lack of response.

[2019-11-07 20:02] #15509 closed

[2019-11-07 20:13] Rick-Anderson commented on #15585
It's only passed as a QS if the target page doesn't directive to make it route data `@page "{id}"`
Route data is just as easy to hack as QS.

[2019-11-07 20:13] #15585 closed

[2019-11-07 20:28] BrainSlugs83 opened #15590 "Blazor State Mangement doesn't really have any details about long running processes."
[EDIT by guardrex to add the metadata]

**Help us make content visible**

- Tell us what search terms you used and how you searched docs.

`Blazor long running process`, `Blazor state` `blazor circuits`

- Tell us what docs you found that didn't address your concern.

The closest, and most common result is this page: https://docs.microsoft.com/en-us/aspnet/core/blazor/state-management

I've also l

[2019-11-07 21:19] xenophilios commented on #15585
Rick, Thank you for your fast response. Could you please clarify your first sentence with an example? Thank you for your trouble.

[2019-11-07 21:23] Rick-Anderson commented on #15586
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-07 21:23] #15586 closed

[2019-11-07 21:28] Rick-Anderson opened #15591 "Add @page "{id}". link"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b87067b2-347c-072d-26c8-5a8c7c9c860b
* Version Independent ID: a0b3b70a-3b39-1b5f-a4ce-c41bd2d6b044
* Content: [Razor syntax reference for ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-3.0)
* Content Source: [aspnetcore/mvc/vi

[2019-11-07 22:24] Rick-Anderson commented on #14593
@Tratcher  what's the trick to get the following code to compile in 3.0?

[code]

'RazorViewEngineOptions' does not contain a definition for 'FileProviders' and no accessible extension method 'FileProviders' accepting a first argument of type 'RazorViewEngineOptions' could be found

cc @serpent5 @guardrex

[2019-11-07 22:26] Rick-Anderson commented on #14593
Never mind
`MvcRazorRuntimeCompilationOptions` works

[2019-11-07 22:30] Rick-Anderson commented on #14593
@serpent5  now I get
The type or namespace name 'MvcRazorRuntimeCompilationOptions' could not be found (are you missing a using directive or an assembly reference?)

[2019-11-07 22:33] Rick-Anderson commented on #14593
https://github.com/aspnet/Announcements/issues/343

[2019-11-07 22:35] serpent5 commented on #14593
Have you got it working now?

[2019-11-07 22:36] Rick-Anderson commented on #14593
No

[2019-11-07 22:39] serpent5 commented on #14593
You need the `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation` NuGet package and these usings:

[code]

Here's the code itself for completeness:

[code]

[2019-11-07 22:40] guardrex commented on #15590
Hello ... just fyi ... please use the **This Page** feedback button/form to open an issue. It pings the author and adds metadata. No worries tho ... I'll add it manually.

[2019-11-08 00:53] #14520 closed

[2019-11-08 01:26] wsimf opened #15595 "IdentityServerJwt is not supported error"
When I try to use the application profile 'IdentityServerJwt', the app exits on startup complaining that the application profile 'IdentityServerJwt' is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21cb7455-3305-9316-5440-bdc22947a82d
* Version Independent ID: 137d4b94-7b26-3911-b22d-42c754a95fc1
* Cont

[2019-11-08 02:09] scottaddie commented on #13005
@blowdart Is there anything left to do here, or did Damien's PR address everything?

[2019-11-08 03:29] #15591 closed

[2019-11-08 03:42] Rick-Anderson commented on #137
@forsyth can we point to your view engine?

[2019-11-08 03:43] #13100 closed

[2019-11-08 03:44] Rick-Anderson commented on #12365
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-08 03:44] #12365 closed

[2019-11-08 03:46] Rick-Anderson commented on #13910
This is an advanced topic. We'll review this issue next time we update the doc.

[2019-11-08 03:46] #13910 closed

[2019-11-08 03:51] #13960 closed

[2019-11-08 03:51] #14114 closed

[2019-11-08 03:52] #14275 closed

[2019-11-08 03:52] Rick-Anderson commented on #14295
We'll review this on the next doc sweep.

[2019-11-08 03:53] Rick-Anderson commented on #14327
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-08 03:53] #14327 closed

[2019-11-08 03:54] Rick-Anderson commented on #15380
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-08 03:54] #15380 closed

[2019-11-08 03:55] #15268 closed

[2019-11-08 03:55] #14834 closed

[2019-11-08 03:56] Rick-Anderson commented on #14834
Do this in the next doc sweep.

[2019-11-08 04:27] Kairen-Vaze commented on #14826
"Add-Migration InitialCreate" is not enough. You have specify which dbContext you gonna use by using -Context. For ex, my dbContext have 2, 1 from tutorial named MvcContext, 1 from myself is Kairen_MoviesContext. I want to use my Kairen_MoviesContext, so here is the code:

Add-Migration InitialCreate -Context Kairen_Movies.Data.Kairen_MoviesContext

"Kairen_Movies.Data": is the namespace in your d

[2019-11-08 05:20] Rick-Anderson commented on #14826
You should only have one for this tutorial.

[2019-11-08 07:06] yshahin opened #15601 "What is StringToByteArray?"
StringToByteArray is not a C# function, it is not defined in the docs.
It should be replaced with `Convert.FromBase64String(headerValue)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b7960d-6de5-78ee-bc45-d7218239bbc8
* Version Independent ID: d2db534b-198a-dc99-5b5a-0525582d39ac
* Content: [Configure certificate a

[2019-11-08 07:23] HaoK commented on #13206
RequireConfirmedAccount is a new higher level option that if set will use the IUserConfirmation service https://github.com/aspnet/AspNetCore/blob/master/src/Identity/Extensions.Core/src/IUserConfirmation.cs to determine if a user is confirmed and hence allowed to logged in.  The default implementation of this, just uses RequireConfirmedEmail, but the idea is this is the new extensibility point for

[2019-11-08 10:22] cosmoscowboy commented on #14233
@yohsii

I had a similar problem when using a "custom" scheme with the call 'AddCookie'. My solution was to add the same scheme name in the call to "AddAuthentication". For instance:

.AddAuthentication(AuthenticationSettings.AuthenticationSchemeSharedCookie)
.AddCookie(AuthenticationSettings.AuthenticationSchemeSharedCookie, cookieAuthenticationOptions =>

Where 'AuthenticationSettings.Authentica

[2019-11-08 11:02] Dave-Lowndes opened #15602 "Confusion about whether 2.2 behaviour produces ProblemDetails or ValidationProblemDetails"
In the section headed "Default BadRequest response", it says:
"With a compatibility version of 2.2 or later, the default response type for an HTTP 400 response is ValidationProblemDetails."

However, under the heading "Problem details for error status codes", it says:
"When the compatibility version is 2.2 or later, MVC transforms an error result (a result with status code 400 or higher) to a resu

[2019-11-08 11:37] SteveSandersonMS opened #15603 "Recommended pattern for direct DOM manipulation in Blazor"
[EDIT by guardrex to add the metadata for the *Components* topic]

Normally we just tell people not to do it because it's unsafe, but if your goal is to integrate with some 3rd-party JS library that produces DOM output, then we'd like to be able to describe what kind of thing is legit to do.

For example, we could elaborate on [this comment](https://github.com/aspnet/AspNetCore.Docs/issues/12020#i

[2019-11-08 11:49] guardrex commented on #15603
It's *very* briefly mentioned in *Components* ...

... and the "unsafe" advice that you mentioned under *Capture references to elements* in the JS interop topic ...

... but then (next sentence) it *vaguely* states ...

I'll improve the content using your language/example.

[2019-11-08 11:51] #12527 closed

[2019-11-08 11:52] yohsii commented on #14233
thanks @cosmoscowboy
i actually needed two schemes, the default one and a custom one.

regarding `AddAuthentication`, how does it know how to perform the custom authentication when all you're passing in is the name of the scheme?

cheers

[2019-11-08 12:46] pranavkm commented on #15602
Consider:

[code]

When model validation fails when deserializing the `model` instance, MVC returns a 400 response with `ValidationProblemDetails`.

^ This statement clarifies this behavior and is part of this section https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-2.2#automatic-http-400-responses.

For the `return NotFound()` in the action, MVC will transform it to a `Proble

[2019-11-08 13:54] Dave-Lowndes commented on #15602
I'm afraid not.

My situation...
We've a REST API that's annotated:
`        [ProducesResponseType(StatusCodes.Status400BadRequest)]`
with a parameter (that's a member of a class that's passed to the API) that has a StringLength annotation.

If our client (a PowerShell cmdlet) passes too long a string then it rightly fails the validation.

However the nswag generated code produces an ApiException<

[2019-11-08 14:30] Matthew-Bonner opened #15605 "self-signed cert error"
The certificates still give an error that they are not trusted because they are self-signed, anyone trying this article coming into this from a background of developing locally over http will likely need additional instructions on how to get around the certificate error. Is it worth linking out to somewhere in the docs where a list of instructions can be found on how to install a self signed certi

[2019-11-08 14:32] Matthew-Bonner commented on #15605
I guess this is somewhat related to https://github.com/aspnet/AspNetCore.Docs/issues/14756 rather than just saying it isn't supported, linking out to some instructions on how to fix will help.

[2019-11-08 15:39] blowdart commented on #15601
@Damienbod

[2019-11-08 15:41] blowdart commented on #13005
Just https://github.com/aspnet/AspNetCore.Docs/issues/13005 which is a new issue.

[2019-11-08 15:48] guardrex commented on #15605
It's addressed, but not necessarily fully covered (e.g., Firefox explicitly), in ...

https://docs.microsoft.com/aspnet/core/security/enforcing-ssl

[2019-11-08 15:55] guardrex commented on #15605
Duplication, too, of https://github.com/aspnet/AspNetCore.Docs/issues/13005.

Might need to move your remark here for the SignalR doc over to a comment on that issue and then close this one.

[2019-11-08 15:57] guardrex commented on #13005
@damienbod ... your PR at https://github.com/aspnet/AspNetCore.Docs/pull/14176 didn't auto-close this because it didn't say `Fixes #{ISSUE NUMBER}` ... did you mean for that PR to close this?

[2019-11-08 16:19] jelster commented on #6882
Hi @guardrex --
Thanks for all the effort you've put into this! 🙇
I like the approach you've taken, and not just because it's similar to the pattern I laid out in my [comment](https://github.com/aspnet/AspNetCore.Docs/issues/6882#issuecomment-452388897) and the linked [gist](https://gist.github.com/jelster/6b850d567acef343e59fad70cb20455a) 😄

Something I think that was in my gist that I didn't see

[2019-11-08 16:22] guardrex commented on #6882
Thanks, but that wasn't my pattern ... it was from engineering. I just got the commas in there. :smile:

Open a new issue using the **This Page** feedback button/form at the bottom of the topic. We can't work closed issues/PRs. Include the cross-link to your comment and gist.

[2019-11-08 16:33] Matthew-Bonner opened #15606 "Remove empty comment"
Empty comment in

[code]

Want a pr as it will only take a few secs for me to sort?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49807900-0d56-e23c-1aef-d79099caeffb
* Version Independent ID: feff434f-912c-0985-d575-4a23a629057d
* Content: [ASP.NET Core Blazor JavaScript interop](https://docs.microsoft.com/en-us/aspn

[2019-11-08 16:33] Matthew-Bonner commented on #15606
Also, off topic sorry, but how do I copy and paste code without it being double encoded?

[2019-11-08 16:35] guardrex commented on #15606
That's strange! Yes, *please* on the PR. Very helpful. We're 🏃😅.

You can't when using the feedback form on the topics. You have to edit the opening comment after the issue opens and fix it up (or re-paste it over what it took; or just add it for the first time). The feedback form *always* encodes.

[2019-11-08 16:36] Matthew-Bonner opened #15607 "Links loop you around in circle"
The introduction links to this page, which links back to the introduction. Is that the expected user journey?

For example:

On this page...
*Next steps*
To learn more about SignalR, see the introduction:
https://docs.microsoft.com/en-us/aspnet/core/signalr/introduction?view=aspnetcore-3.0

Then on the introduction...
*Additional resources*
Get started with SignalR for ASP.NET Core
https://docs.mi

[2019-11-08 16:38] guardrex commented on #15606
Better hold off for a sec. I think that might be a doc build system bug 🐞. I'm looking now. brb

[2019-11-08 16:39] guardrex commented on #15606
Oh ... ok ... yeah ... I see it now.

https://github.com/aspnet/AspNetCore.Docs/pull/15143/files#diff-ba09a6728aaba51215c9f92ba679a035

Yes, please do fix that if you want.

[2019-11-08 16:40] guardrex commented on #15606
I was looking at the doc in the metadata here (JS interop), but it's actually in the includes file.

[2019-11-08 16:47] damienbod commented on #15601
It's actually required.  Will add it.

´´´
private static byte[] StringToByteArray(string hex)
        {
            int NumberChars = hex.Length;
            byte[] bytes = new byte[NumberChars / 2];
            for (int i = 0; i < NumberChars; i += 2)
                bytes[i / 2] = Convert.ToByte(hex.Substring(i, 2), 16);
            return bytes;
        }
´´´

Convert.FromBase64String(headerVa

[2019-11-08 16:55] damienbod commented on #15601
Added a PR for this.

[2019-11-08 17:04] #15572 closed

[2019-11-08 17:16] Rick-Anderson opened #15609 "workset defn"
fix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf9e2f78-9caf-3b88-05a6-537e031ecddf
* Version Independent ID: 06ca8420-5ca0-24ae-3584-9a4c486d3ebe
* Content: [Memory management and patterns in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/performance/memory?view=aspnetcore-3.0)
* Content Source: [aspne

[2019-11-08 17:18] guardrex commented on #15606
@Matthew-Bonner ... do u still want to take care of this, or should I go ahead and knock it out?

[2019-11-08 17:21] #15423 closed

[2019-11-08 17:21] guardrex commented on #15606
I'll get it ..... I have a minute here.

[2019-11-08 17:23] #15606 closed

[2019-11-08 19:22] ExploreNcrack commented on #15498
So using .FirstOrDefaultAsync() in the Detail and Delete Get is because .FirstOrDefaultAsync() is guaranteed to be sent over to the database to check if they exist in the database? But .FindAsync() would check the tracked entity in context first?

[2019-11-08 19:59] guardrex opened #15614 "Add 'no-loc' metadata to individual Blazor topics"
Turns out that a `no-loc` entry under `globalMetadata` in *docfx.json* isn't effective ...

https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/docfx.json#L57

In French, "Blazor" is "éblouissant," which means "dazzling." The global approach with *docfx.json* on https://github.com/aspnet/AspNetCore.Docs/pull/15239 wasn't entirely effective ...

https://docs.microsoft.com/fr-fr/aspnet/

[2019-11-08 20:38] danroth27 commented on #15555
@SteveSandersonMS Is this just a product bug that we should fix?

[2019-11-08 22:08] ExploreNcrack commented on #15498
So "FirstOrDefaultAsync has been replaced with FindAsync. When you don't have to include related data, FindAsync is more efficient." But in the example, there is no include related data, why not use FindAsync() for all ?

[2019-11-08 22:13] BrainSlugs83 commented on #15590
@guardrex thanks! -- Apologies, I must have got here some other way.  Thanks for adding that.

[2019-11-08 22:28] mkArtakMSFT commented on #12778
@javiercn can you add the missing content here, so @guardrex can start working on this. I see you've got a lot covered here but also mentioned that some more need to be done here.

[2019-11-08 22:45] guardrex commented on #12778
I can probably work out the draft from what's here. I feel confident that there's time to get this done before the holidays. :gift:🎅🦌

@javiercn Recommend that u add anything else that you think would be helpful. If your remarks ☝️ cover it, then I'll take it from there.

[2019-11-08 23:02] guardrex commented on #15601
Fixed by #15608

[2019-11-08 23:02] #15601 closed

[2019-11-08 23:50] Rick-Anderson opened #15615 "SameSite doc"
* Create doc under aspnet/core/security/ (or should it be under aspnet/core/security/ authentication
* Doc based on https://github.com/aspnet/Announcements/issues/390
* Publish doc (so it’s localized).
* Start adding links to the doc where needed.

related: #15223

[2019-11-08 23:51] Rick-Anderson commented on #15615
@Tratcher @blowdart  please review. Should I borrow heavily from aspnet/Announcements#390 ?

[2019-11-09 00:11] Tratcher commented on #15615
Yes.

[2019-11-09 02:19] Rick-Anderson opened #15616 "[BindProperty] in not needed in the delete page."
See https://github.com/aspnet/Scaffolding/issues/592

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70f6104a-a223-4bb3-4101-f553002b9b26
* Version Independent ID: 15e79e80-8d46-7cd5-c883-6cc0f5940a1b
* Content: [Scaffolded Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/p

[2019-11-09 08:12] alrz opened #15620 "Update "ASP.NET Core and Entity Framework 6" for .NET Core 3.0"
This is no longer the case for ef6.3

Edit by @Rick-Anderson
6K PV

See [Announcing Entity Framework 6.3 Preview with .NET Core Support](https://devblogs.microsoft.com/dotnet/announcing-entity-framework-6-3-preview-with-net-core-support/)

See also #15684 if it's relevant.

-----

`EDIT` : 6K PV
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-11-09 09:58] AliNazar1991 opened #15621 "show example using HttpClientFactory"
Instead of using a static reference to httpClient, show an example using the HttpClientFactory in asp net core applications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf9e2f78-9caf-3b88-05a6-537e031ecddf
* Version Independent ID: 06ca8420-5ca0-24ae-3584-9a4c486d3ebe
* Content: [Memory management and patterns in AS

[2019-11-09 11:09] guardrex commented on #15621
Hello @AliNazar1991 ... The topic cross-links to that coverage, so there doesn't seem to be a need for an example of it here. At the end of the section that pertains to `HttpClient`, the text states ...

The first bullet links off to the [HTTP requests topic](https://docs.microsoft.com/aspnet/core/fundamentals/http-requests).

[2019-11-09 11:36] guardrex commented on #11149
@shirhatti Checking in on this one ... is the plan to take the new doc that you started writing and swap its text for most of the content in [Common errors reference for Azure App Service and IIS with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/azure-iis-errors-reference?view=aspnetcore-3.0)?

If so, I guess we'll keep the introduction but swap out everything else st

[2019-11-09 11:43] guardrex commented on #14884
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-1-preview-2/

[2019-11-09 11:58] guardrex commented on #10931
@danroth27 Awaiting API docs ...

<img width="309" alt="Capture" src="https://user-images.githubusercontent.com/1622880/68528174-f4a45280-02b4-11ea-909c-66d27a7bacde.PNG">

... curious if you've heard an ETA for scheduling purposes here.

[2019-11-09 12:44] vankampenp opened #15622 "Static files publicly available"
When using a default policy
 services.AddAuthorization(options =&gt;
            {
              options.FallbackPolicy = new AuthorizationPolicyBuilder()
                    .RequireAuthenticatedUser()
                    .Build();
           }
Static files that are not found do not return a not found error, but a page not unauthorized error. Any idea why that is?

---
#### Document Details

⚠ *D

[2019-11-09 13:11] guardrex opened #15623 "Validation of nested models"
*Validation of nested models in Blazor forms*

https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-1-preview-2/

Add the no-loc metadata. `no-loc: [Blazor]`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884-c1fe5c2ef52d
* Version Independent ID: 09a02d10-2834-467d-d8c2-3fd19ceb

[2019-11-09 13:16] guardrex opened #15624 "Detailed errors during Blazor app development"
*Detailed errors during Blazor app development*

https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-1-preview-2/

Add the no-loc metadata. `no-loc: [Blazor]`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce1440e7-febc-3fbc-09d7-7f47b740fd3b
* Version Independent ID: 31071595-7c71-b6f7-3856-74f78c

[2019-11-09 14:10] xenophilios commented on #14327
It would be really nice if "DbContext class" were an option of a new item that could be added to a folder and if all we had to do to register it in Startup.cs and add a connection string in appsettings.json were to give it a name.

[2019-11-09 14:11] xenophilios commented on #14327
It would also be very nice if we could see the database schema in graphic form, as we used to be able to do.

[2019-11-09 14:25] lol768 opened #15626 "Explain how to use the HtmlAttributeName attribute"
Unless I've missed it, I don't think it's covered. I'd like a simple example, something like:

[code]

I appreciate the doc already covers passing a model object instance via a TagHelper, but from what I understand Razor is just looking to see that the property and attributes names match up. So it would be useful to show how to override this.

---
#### Document Details

⚠ *Do not edit this section

[2019-11-09 14:27] guardrex commented on #12896
Note to self: Add the no-loc metadata.

[2019-11-09 14:37] guardrex opened #15627 "Global Blazor and SignalR no-loc"
Remove `no-loc: [Blazor, SignalR]` from topics when a solution is available to globally apply no-loc behavior  ...

[code]

If possible, including the "blazor"-named files:

* *blazor.webassembly.js*
* *blazor.server.js*

The files are currently code fenced to avoid localizing the "blazor" part of the file names. Discussion was on https://github.com/aspnet/AspNetCore.Docs/pull/16123.

If including

[2019-11-09 15:23] xenophilios commented on #14327
Concerning my last comment but one:
It is already possible to have VS 2019 do these things, if not in exactly the way described.
Here is one way:
(1) In /Models, define a class to be mapped to a database table.
(2) Right-click on /Controllers.
(3) Add | New Scaffolded Item...
(4) Choose: MVC Controller with views, using Entity Framework.
(5) As the model class, choose the class defined in Step (1)

[2019-11-09 15:47] guardrex commented on #15622
Show your `Startup.Configure` in case this is a middleware ordering issue.

[2019-11-09 16:27] Rick-Anderson commented on #15621
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-11-09 16:27] #15621 closed

[2019-11-09 16:44] Rick-Anderson commented on #15622
Either way, it's an error

[2019-11-09 16:44] #15622 closed

[2019-11-09 20:41] BruceDB opened #15629 "Validation Failure Error Response"
What is the purpose of the two result.ContentTypes.Add() methods in this section?

https://docs.microsoft.com/en-us/aspnet/core/web-api/handle-errors?view=aspnetcore-3.0#validation-failure-error-response

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f6504cd-a059-c5d4-73fb-61222ef1c6e0
* Version Independent ID: 1b4235

[2019-11-09 21:58] leftmostlane opened #15631 "bugfix"
For 3.1 Preview, this:
    &lt;InputText id="name" @bind-Value="@exampleModel.Name" /&gt;
should be:
    &lt;InputText id="name" @bind-Value="exampleModel.Name" /&gt;
(remove that second @ sign).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884-c1fe5c2ef52d
* Version Independent ID: 09a02d10-2834-

[2019-11-09 21:59] guardrex commented on #15631
Yes, that's right ... thanks for spotting that. I'll patch it right now.

[2019-11-09 22:03] #15631 closed

[2019-11-10 01:40] mkArtakMSFT commented on #12617
@javiercn can you recommend the best option here?

[2019-11-10 06:18] mkArtakMSFT commented on #13423
@pranavkm can you please handle this? Thanks!

[2019-11-10 08:13] krchome opened #15633 "Use Component Section Code Shows Compile and Runtime Errors but app still works"
I replicated the ChildComponent (Components Folder) and ParentComponent code (Pages Folder) as they appear in this page.
However at the following parameters:
&lt;div class="panel-heading"&gt;@Title&lt;/div&gt;
    &lt;div class="panel-body"&gt;@ChildContent&lt;/div&gt;

    &lt;button class="btn btn-primary" @onclick="OnClick"&gt;
In the above lines, @Title, @ChildContent and @onclick show squiggl

[2019-11-10 09:55] Legends opened #15634 "HTML5 > date input field"
It would be good to mention that the display format of date input fields depend on the browser language and not on 'Accept-Language' headers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1833676-ff1b-c587-cc9c-81afffa8ef68
* Version Independent ID: ad989395-3f49-4d55-521e-cf6fe56281ee
* Content: [Globalization and l

[2019-11-10 10:14] damienbod commented on #13005
Some ideas which I think are missing and would be useful:

- Working sample with Client and Server apps (IIS Express and Kestrel)
- Docs about HttpClient and using certificates
- Troubleshooting certificate not working problems
- Certificate creation for MAC, Linux developers
- Links or docs about Certificates, types, and what properties are important for this use case

Greetings Damien

[2019-11-10 10:30] #15634 closed

[2019-11-10 10:54] KennDim opened #15635 "Error cs0234: The type or namespace name 'Data' does not exist in the namespace 'RazorPagesMovie' (are you missing an assembly reference?)"
All previous parts of this RazorPages tutorial have worked as planned using Atom IDE, until I got to the "Seed the database" section. I get this message -
"Error cs0234: The type or namespace name 'Data' does not exist in the namespace 'RazorPagesMovie' (are you missing an assembly reference?)"-
after following the exact seeding steps.

Please, I need help on fixing this asap. I'm new to asp.net c

[2019-11-10 11:58] ganniaiuei opened #15636 "using CORS features from Azure App Service"
As far as I know, this statement "SignalR is not compatible with the built-in CORS feature in Azure App Service." is outdated or needs more explaination.
I have succesfully published a SignalR server instance to an Azure App Service using the CORS feature configured in the App Service rather than those in the Startup Class. In my server code i didn't add any CORS configuration, but I used the Azur

[2019-11-10 12:34] guardrex commented on #15633
Hello @krchome ... We only handle documentation issues here. Report that behavior to the VS team by using the **Report a problem** process from within VS.

[2019-11-10 12:34] #15633 closed

[2019-11-10 12:43] guardrex opened #15637 "Apply no-loc metadata for "SignalR""
Per https://github.com/aspnet/AspNetCore.Docs/pull/15628#issuecomment-552158634 ...

[code]

[code]

[2019-11-10 16:32] guardrex commented on #15546
https://github.com/aspnet/AspNetCore/issues/16849

[2019-11-10 16:37] guardrex commented on #15546
Seems like it should be `UsePathBase`.

[2019-11-10 17:03] Rick-Anderson commented on #15635
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

Pretty good error message.

[2019-11-10 17:03] #15635 closed

[2019-11-10 17:31] aszalacinski opened #15641 "3.0 update: : Configure ASP.NET Core Data Protection"
At the top of the various options, it needs to be called out which packages need to be installed to enable the dataprotection extensions. I had to install

Microsoft.AspNetCore.DataProtection.AzureStorage
Microsoft.AspNetCore.DataProtection.AzureKeyVault

just to get things to compile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-11-10 17:49] david-rachwalik opened #15643 "Ought to mention solutions"
Please add steps for 'dotnet new sln'.  You could mention it's optional or perhaps link to another page with more details.  As it is now just making a directory and jumping right to the project is super confusing for anyone who'd like to learn dotnet scripting and is comparing results to something VS creates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-11-10 18:04] Rick-Anderson commented on #15641
Requires 3.0 update:
Reference the same shared framework version via the Microsoft.AspNetCore.App metapackage.

[2019-11-10 18:05] Rick-Anderson commented on #15643
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-10 18:05] #15643 closed

[2019-11-10 18:05] jimmielegz commented on #15635
I was able to remove that directive and everything seemed to work okay after doing that. Just remove 'using RazorPagesMovie.Data;' all together.

[2019-11-10 20:00] MisinformedDNA opened #15644 "Documentation is repeated"
Documentation content is duplicated:
![image](https://user-images.githubusercontent.com/1784452/68549838-4e467300-03c2-11ea-8cef-45f67cda8469.png).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2784a724-e940-4c14-3b50-b063f78c2ee5
* Version Independent ID: 41175c3a-8cb5-856b-a7e0-931edb6394db
* Content: [Application P

[2019-11-10 20:12] guardrex commented on #15644
Thanks @MisinformedDNA ... probably just a broken versioning setup. I'll fix it up right now.

[2019-11-10 20:17] #15644 closed

[2019-11-10 20:52] olivergrimes commented on #13026
@eparizzi, not sure this would be much use but I wrote up a custom solution to declarative resource based authorisation:  https://undocumented.dev/declarative-resource-based-authorisation-with-asp-net-core/

[2019-11-10 22:07] serpent5 commented on #15497
@Rick-Anderson I've been giving this one some thought tonight.

I think the page covers `Use` well in the "Create a middleware pipeline with IApplicationBuilder" section, but that section doesn't differentiate too well between `Use` and `Run`. Here's a proposal for changes:

1. Use line highlighting for the `Use` example in the last snippet of the "Create a middleware pipeline with IApplicationBui

[2019-11-10 22:15] Rick-Anderson commented on #15497
Much better!

[2019-11-10 22:16] serpent5 commented on #13507
@Rick-Anderson Did you want me to create the 3.0 sample for this too? With the typical copy/paste md for >= 3.0 and update approach?

[2019-11-10 22:22] Rick-Anderson commented on #13507
Give me a few minutes  - I'll create the 3.0 section.

[2019-11-10 22:22] Rick-Anderson opened #15646 "Create 3.0 section"
To make diff more productive

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0156ffc3-47ac-d5da-fbc2-9ff5018b071b
* Version Independent ID: 615db388-a244-41f7-21b5-a4085d9ed479
* Content: [Model validation in ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-2.2#disable

[2019-11-10 22:43] dwgray commented on #12218
Can Microsoft.AspNetCore.Owin be used to host asp.net identity on asp.net core?  If so, how?

[2019-11-10 22:46] #15646 closed

[2019-11-10 22:47] Rick-Anderson commented on #13507
Ready anytime now. via  #15647

[2019-11-10 22:52] Rick-Anderson commented on #12218
@Tratcher  how much of this doc should be retired? Nowin only?

[2019-11-11 01:48] ovicrisan opened #15648 "Why passing {id} in HttpPut?"
Why would you pass {id} parameter in HttpPut, for an update, when already provided in the object passed in the body of the request?

PUT /api/TodoItems/{id}

Just to be checked in the code if matches?

if (id != todoItem.Id) { /* ...*/ }

[2019-11-11 04:55] Tratcher commented on #12218
Yes, you can remove Nowin.

[2019-11-11 04:56] Tratcher commented on #12218
@dwgray It may be possible, but that's not a supported or recommended scenario. We'd suggest moving to ASP.NET Core Identity.

[2019-11-11 06:30] lettucebo opened #15649 "Worker Service for ASP.NET Core instruction is not clear"
In the [Package](https://docs.microsoft.com/zh-tw/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-3.0&tabs=visual-studio#package)
says should install `Microsoft.Extensions.Hosting` but in reality I think it should be `Microsoft.AspNetCore.Hosting` for ASP.NET Core can work correctly in Worker Service.

And there is no place to mention about at .NET Core 3 worker service project file

[2019-11-11 08:39] safaee007 opened #15650 "file upload stream"
hi
I can't understand this line for upload file stream:
FileHelpers.ProcessStreamedFile(section, contentDisposition,
                        ModelState, _permittedExtensions, _fileSizeLimit);

I can't save file!

please help me...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5cfa38-0e6c-4346-dafc-84ea5c513fcf
* Ver

[2019-11-11 10:10] javiercn opened #15651 "Add two sections with details about scaffolding into server-side blazor apps"
With auth.
Without auth.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 804e24dd-7e30-8cf5-2c99-1ffacb4582f6
* Version Independent ID: 3e25547b-e2c9-6634-2c38-2a77207f17d4
* Content: [Scaffold Identity in ASP.NET Core projects](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=

[2019-11-11 11:07] MV10 opened #15652 "Catch-all routing not supported"
Update the "Route Parameters" section to note that asterisk catch-all routes are not supported.

See https://github.com/aspnet/AspNetCore/issues/16953

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent ID: 9d945996-ad02-bd4b-58ea-c465cc5cc74c
* Content: [Create and

[2019-11-11 11:35] guardrex commented on #15649
It's *mostly* ok in its present form if the topic maintains a background tasks (worker) scenario-only topic because ...

* The `Microsoft.Extensions.Hosting` package is the only explicitly-referenced package in a template-based Worker Service app (see the sample app's project file).
* The `Microsoft.Extensions.Hosting` package is what supplies [AddHostedService](https://docs.microsoft.com/en-us/do

[2019-11-11 11:45] guardrex commented on #15650
Hello @safaee007 ... We can't troubleshoot individual developer projects. We don't have nearly the staffing for it. We're not affiliated in any way with MS Support. We recommend that you talk to devs on a support forum, such as Stack Overflow, or support chat, such as Slack or Gitter.

btw tho ... if by "I can't understand this line" you mean that you don't know where that method is, it's over her

[2019-11-11 11:45] #15650 closed

[2019-11-11 11:57] guardrex commented on #15652
The content that addresses this is over in the Blazor Routing topic ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/routing?view=aspnetcore-3.0#routing-with-urls-that-contain-dots

Which was added on ...

https://github.com/aspnet/AspNetCore.Docs/pull/13971/files

... and it was added for a Razor file (*_Host.cshtml*), not a Razor Component, as you found out.

I'll make a couple of change

[2019-11-11 12:07] bolorundurowb commented on #6658
I had to run `dotnet tool install --global dotnet-ef` before I could get this to run successfully

[2019-11-11 12:25] KennDim commented on #15635
Thank you. That solved it.

[2019-11-11 15:40] DrGriff commented on #14316
Regarding the multiple services, see: https://chrissainty.com/an-introduction-to-owningcomponentbase/

[2019-11-11 15:46] jelster opened #15653 "Show how to test authentication/authorization using claims"
Opening new Issue for @guardrex [request](https://github.com/aspnet/AspNetCore.Docs/issues/6882#issuecomment-551893172).

Although the sample does discuss how to use a mock authentication handler for authentication, I feel it would be helpful to go a bit further and discuss how to use the same for testing claims-based authentication and authorization to resources.

In [this](https://github.com/asp

[2019-11-11 16:25] jopincar opened #15655 "No Diff?"
Does this package provide a diff capability?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 593f528c-61b9-7021-335d-c1c0ec1814d1
* Version Independent ID: 6a88d237-1a03-b865-e3c5-20ceedef2a1f
* Content: [JsonPatch in ASP.NET Core web API](https://docs.microsoft.com/en-us/aspnet/core/web-api/jsonpatch?view=aspnetcore-3.

[2019-11-11 16:38] guardrex commented on #15653
I've placed this on the Testing docs project for triage. AFAIK at this point, engineering is happy with what's shown, namely setting claims in `HandleAuthenticateAsync`. When they see this, they'll take a look at your approach.

If you want to take that gist down but leave it available, please feel free to cut-'n-paste those code blocks into a comment on this issue. If you want to just leave that

[2019-11-11 16:42] guardrex commented on #15651
Since I'm not currently aware of any difference for scaffolding into a Blazor Server app (configured for auth from the template or without) over a web app, I'll need more guidance to work this. Let's put it on the Blazor.Docs project for more info when this is triaged.

[2019-11-11 16:43] Rick-Anderson commented on #15655
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-11 16:43] #15655 closed

[2019-11-11 17:17] politigf opened #15657 "Add clarification to note "It's not possible to configure JSON serialization in the JavaScript client at this time.""
In the "Switch to Newtonsoft.Json" section, there is a note that states "It's not possible to configure JSON serialization in the JavaScript client at this time.". If that means that one cannot use the javascript SignalR client with Newtonsoft.Json it should specifically state it, otherwise it should list what is needed to accomplish this.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-11-11 17:24] BrennanConroy commented on #15657
I think the note was accidentally moved when we added the "Switch to Newtonsoft.Json" section. It should be moved to the previous section.

[2019-11-11 17:46] pranavkm commented on #15566
How about this https://github.com/aspnet/AspNetCore.Docs/pull/15658?

[2019-11-11 18:55] danroth27 commented on #10931
The Blazor API docs are part of the ASP.NET Core API docs. Search for Components.

The Blazor WebAssembly specific API docs aren't published yet, but will be by the time we ship Blazor WebAssembly in May of next year.

[2019-11-11 18:58] #15337 closed

[2019-11-11 19:09] guardrex commented on #10931
Given that all of the docs require a pass for both hosting models, I wonder if the best use of time (thus money 💰) is to wait until all of the API is there before engaging this issue?

It's an expensive manual process to go thru all of these topics grabbing every individual namespace, class, and member and checking for API docs coverage to get the cross-links into the topics.

[2019-11-11 19:39] #15566 closed

[2019-11-11 19:53] caihongxu opened #15659 "Entity Framework Core example should also include AddDbContext code"
Need something like the following line to make it work:
services.AddDbContext(MyKeyContext&gt;(options =&gt;
        options.UseSqlServer(
            Configuration.GetConnectionString("MyKeyDbConnection"));

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59850a13-1322-0c54-9fd3-75ce837c2b1a
* Version Independent ID: 7d

[2019-11-11 19:58] Rick-Anderson commented on #15659
Are you saying the following doesn't work?

[code]

[2019-11-11 20:13] #15614 closed

[2019-11-11 21:16] CeciAc opened #15661 "ContextID 32 should have been in the ID-to-project file mapping but wasn't!"
@TopGuo commented on [Mon Nov 11 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/216)

ContextID 32 should have been in the ID-to-project file mapping but wasn't!

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 36f55e9a-cd3f-83a0-f142-969dc10d3ceb
* Version Independent ID: f6845f70-1ac6-2036-f213-a3b665b3d8bf
* Content: [ASP.NET Core 中的捆绑和缩小静态资产](https:/

[2019-11-11 21:24] Nothing-Works opened #15662 "Add more details in the middleware section for Map**"
# Issue description

I think we should add more details for `MapWhen` in the middleware section. As it stops executing the rest of the pipeline when the delegate returns `true`. I do not think this is in the [docs](https://docs.microsoft.com/en-gb/aspnet/core/fundamentals/middleware/?view=aspnetcore-3.0) and this can be confusing for new people.

Whereas `UseWhen` will not stop the execution and I

[2019-11-11 21:33] Donistivanov commented on #15337
@guardrex I WIP'd something up some time ago. I would have shared it sooner but I thought there was going to be a discussion on the issue and the email came in today that a PR came through.
Anyway, I am not sure if it is the best code and if it works, but maybe you can find some things in it to give the issue a go again, if you wish.

[2019-11-11 21:45] guardrex commented on #15662
Possibly a duplicate of (or an add on to) https://github.com/aspnet/AspNetCore.Docs/issues/15497.

[2019-11-11 22:25] Rick-Anderson commented on #15662
Next time Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

@Nothing-Works  yes, please provide a PR that address this and `#4` on #15497

cc @serpent5

[2019-11-12 01:39] Rick-Anderson commented on #15661
What is `ContextID` 32?

[2019-11-12 01:56] Rick-Anderson commented on #15657
@BrennanConroy  @anurse @bradygaster  This doc is a mess. We don't version doc's like this, it leads to this type of problem. It's difficult to reason about the topic and difficult to update and maintain. This is how we do versioning:

[code]

So each version has a complete copy. Although this leads to duplication of content, we've found it to be much more robust and productive. Another tip that y

[2019-11-12 01:58] Rick-Anderson commented on #15648
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-12 01:58] #15648 closed

[2019-11-12 01:59] Rick-Anderson commented on #15629
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-12 01:59] #15629 closed

[2019-11-12 02:00] Rick-Anderson commented on #15626
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-12 02:20] Rick-Anderson commented on #15583
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-12 02:20] #15583 closed

[2019-11-12 02:21] Rick-Anderson commented on #15577
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-11-12 02:21] #15577 closed

[2019-11-12 02:22] Rick-Anderson commented on #15573
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-11-12 02:22] #15573 closed

[2019-11-12 02:28] Rick-Anderson commented on #15605
Closing because dup.

[2019-11-12 02:28] #15605 closed

[2019-11-12 02:29] #12651 closed

[2019-11-12 02:30] #11725 closed

[2019-11-12 02:30] Rick-Anderson commented on #11725
Closing because more info needed and probably belong in product repo.

[2019-11-12 02:31] #15657 closed

[2019-11-12 02:34] Rick-Anderson opened #15666 "Reorg MD by monikers"
See #15657

Version in our suggested approach. Add a 3.1 section and add warning, this topic is not updated to 3.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de8cdc99-48bb-3266-05bb-eda98f59f2e2
* Version Independent ID: 66d252c3-6300-7e28-9aa0-ef2ff66e7a76
* Content: [ASP.NET Core SignalR configuration](https://do

[2019-11-12 02:36] Rick-Anderson commented on #15666
@BrennanConroy @anurse @bradygaster  I'll have @wadepickett  clean up this doc.

[2019-11-12 03:19] dwgray commented on #12218
@tratcher Thanks - I guess I will break down and do the full migration.

[2019-11-12 05:40] Rick-Anderson opened #15667 "Add SameSite changes to 2.2 to 3.0 migration doc"
See https://github.com/aspnet/Announcements/issues/348

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76f39eec-9dd1-6167-56ec-47b26e0b5063
* Version Independent ID: f9f2b0f3-01eb-cf58-8767-194fe0fc0e44
* Content: [Migrate from ASP.NET Core 2.2 to 3.0](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view

[2019-11-12 06:00] danroth27 commented on #10931
@guardrex Sure that makes sense.

[2019-11-12 06:42] lol768 commented on #15626
@Rick-Anderson Will you review a PR that adds it?

[2019-11-12 08:28] qvisionsa commented on #15583
Hi,
I posted this question to Stack Overflow and in many other forum with no answer.
Finally I decided to post it here. I'm looking and searching for an answer to a method for about 10 days.
Can you advice at least where I can find this information?
Thank you for your time!

[2019-11-12 12:02] safaee007 commented on #15650
very thanks

my problem sloved

On Mon, Nov 11, 2019 at 3:16 PM Luke Latham <notifications@github.com>
wrote:

--
Saeed Safaee(007)

[2019-11-12 14:37] ianfoster99 commented on #15659
caihongxu is correct. This worked for me
               _services.AddDbContext<DPKeysContext>(_options =>
                {
                    _options.UseSqlServer(Configuration.GetValue<string>("ConfigSqlConnectionLive:DefaultSqlConnection")
                        , sqlServerOptionsAction: _sqlOptions =>
                        {
                            _sqlOptions.EnableRetryOnFailure(max

[2019-11-12 15:24] lettucebo commented on #15649
I think I have this thought is because my purpose is a `Pure ASP.NET Core web application with some background worker service`

So I follow the first instruction: [Worker Service template](https://docs.microsoft.com/zh-tw/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-3.0&tabs=visual-studio#worker-service-template) in this section says:

So I follow the steps to create the project a

[2019-11-12 15:30] guardrex commented on #15649
Yes ... that's correct.

I think more work is required on this topic similar to what we did over in the Windows Services topic.

When it came to Windows Services, some devs want a Windows Services app that is purely for background processing (no UI ... no MVC/Razor Pages). Others want a Windows Services app with MVC/Razor Pages. What we did on that topic was to provide **two** samples to cover tho

[2019-11-12 15:33] lettucebo commented on #15649
👍

Let me know if you need some help~

[2019-11-12 16:05] yetanotherchris opened #15669 "app.UseRouting() should be after UseAuthentication and UseAuthorization?"
**.NET 3.0 documentation**

[code]

This doesn't appear to be correct for an API project? However I have a few other Middleware extensions being used: Swagger,  ForwardedHeaders, JsonExceptions.

The variations I've tried:

#### Working
[code]

[code]

#### Not working

(Putting UseRouting first)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-11-12 16:55] jelster commented on #15653
I've got no problem leaving the gist up, but here's some snippets that might provide a more cohesive context to what I'm proposing. In the current docs, `HandleAuthenticateAsync` just new-ups an empty set of claims that it uses to construct the auth ticket via the Claims Principal via the Claims Identity, etc. This limits the ability to prove out claims-specific logic that's really crucial, like s

[2019-11-12 16:56] akorchev opened #17178 "Blazor: StateHasChanged resets component state if it has child content"
### Describe the bug

For some reason invoking the StateHasChanged method of a Blazor page resets component state only if the component has child content.

### To Reproduce

Complete application: https://github.com/akorchev/blazor-state-lost

1. Add the following component to a default Blazor server-side application.
[code]
1. Add this to Index.razor
[code]
1. Run the application and click on both

[2019-11-12 17:10] Rick-Anderson commented on #15626
@NTaylorMullen ?

[2019-11-12 17:12] Rick-Anderson commented on #15583
@hishamco ?

[2019-11-12 17:12] NTaylorMullen commented on #15626
I'd review it

[2019-11-12 17:27] KalleOlaviNiemitalo opened #15670 "ASP.NET Core 2.1 MVC does not transform to ProblemDetails"
This text appears even when ASP.NET Core 2.1 is selected as the version:

However, although ASP.NET Core 2.1.12 defines the ProblemDetail type, it never transforms error results to ProblemDetails. That feature was added for ASP.NET Core 2.2, in <https://github.com/aspnet/AspNetCore/commit/5bd818bd64641208e52e9350f443d1336f544e41>. Please hide the text when ASP.NET Core 2.1 is selected.

---
#### D

[2019-11-12 17:34] Rick-Anderson commented on #15362
We only have 3 download docs for 1.1, we have nothing for 1.0 and 2.0. It's false advertising  AND the version selector is becoming too bulky.  As far as we can tell, we have zero traffic and zero demand for these unsupported versions.

[2019-11-12 17:35] Rick-Anderson commented on #15362
@danroth27  unless you can give me a good reason to remove this false advertising, I'm going to remove the version selector for 1.0, 1.1 and 2.0

[2019-11-12 17:36] Rick-Anderson commented on #15362
![image](https://user-images.githubusercontent.com/3605364/68695422-16a10d80-051f-11ea-97ea-d2827eeeeeb6.png)

[2019-11-12 17:41] Rick-Anderson commented on #15362
@danroth27  for the 3  1.1 docs we  have, we can add
To download the 1.1 version of this doc, use this link.

But I removing them in 48 hours unless you provide a good reason not to.

[2019-11-12 17:41] Rick-Anderson commented on #15362
cc @guardrex

[2019-11-12 17:50] KalleOlaviNiemitalo commented on #15670
ASP.NET Core 2.1 also suffers from <https://github.com/aspnet/Mvc/issues/8501> and <https://github.com/aspnet/Mvc/issues/8467>, which make it more difficult to return RFC 7807 compliant responses. The `ErrorController` sample code in the "Exception handler" section will thus respond with an incorrect `Content-Type` when running on ASP.NET Core 2.1.

I think this page should do one of:
- demonstrat

[2019-11-12 18:27] Rick-Anderson commented on #15670
@KalleOlaviNiemitalo  is https://github.com/aspnet/AspNetCore.Docs/pull/14366/files correct? I could restore that for the 2.1 version.

[2019-11-12 18:30] xenophilios opened #15671 "If you don't have the resources to update these tutorials, ..."
please at least supply a link to the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67d4c57d-4eb1-71fe-6587-b9967ad1b445
* Version Independent ID: 8f0488f1-adc0-b42c-9549-b4028d4317d6
* Content: [ASP.NET Core MVC with EF Core - tutorial series](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/?vi

[2019-11-12 18:40] rynowak opened #15673 "Improve documentation for mismatch between assembly name + root namespace + localization"
We should clarify the kinds of errors that can occur when assembly name and root namespace differ (for localization) and provide examples of cases that cause this (non-C#-identifiers as project names). This is a common source of mistakes, and the docs don't really explain it well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-11-12 18:40] serpent5 commented on #15669
Can you share a complete `Configure` method?

[2019-11-12 18:56] #15671 closed

[2019-11-12 19:02] willemserruys commented on #13206
When I set RequireConfirmedAccount to True, no mail is being sent if I'm authenticating via an external login provider. When it is set to False, a confirmation mail is being sent, but I can already sign in without confirming. Could this be a bug or am I missing something?

[2019-11-12 19:03] #15673 closed

[2019-11-12 19:13] caihongxu commented on #15659
Correct. Without AddDbContext the context is not properly set up to connect to the data base.

[2019-11-12 19:18] yetanotherchris commented on #15669
[code]

[2019-11-12 19:20] yetanotherchris commented on #15669
The version that _doesn't_ work puts UseRouting first

[2019-11-12 19:27] pranavkm commented on #15659
@ajcvickers could you have someone take a look at this?

[2019-11-12 19:40] #15637 closed

[2019-11-12 19:51] #15667 closed

[2019-11-12 20:02] ajcvickers commented on #15659
@pranavkm The content indicates at the end that `MyKeyContext` is used, but it isn't mentioned anywhere else in the page, so I would say this is valid feedback.

[2019-11-12 20:05] ajcvickers commented on #15659
@pranavkm Not sure why you assigned this to me. This isn't EF content; I would expect someone on the ASP.NET team to fix this.

[2019-11-12 20:09] serpent5 commented on #15669
I see a few quirks in the setup you've got. Does the following work?

[code]

[2019-11-12 20:39] yetanotherchris commented on #15669
No it needs Authorization, or the Controller I am testing (which just creates a user) has this error:

[code]

[2019-11-12 21:33] hishamco commented on #15583
Why you need to save them in database? if your intend is a persistent you can create a custom localizer like the one I did few years ago `EFStringLocalizer`.

If you need the strings for any reason have a look to `GetAllStrings()`

[2019-11-12 21:35] guardrex commented on #15669
I'm not a "Swagger guy" but just curious @yetanotherchris if you tried to set the middlewares in the following order ...

[code]

[2019-11-12 21:39] hishamco commented on #15673
@rynowak i think we already described this in troubleshooting article

/cc @Rick-Anderson

[2019-11-12 22:04] serpent5 commented on #15669
How confident are you that you're providing a token and that it's valid, etc? If you do what you're doing with the authz stuff before `UseRouting`, it looks like you're really just _disabling_ authz in a roundabout fashion. Have you tried calling the endpoint when it works, but without providing a token?

[2019-11-12 22:16] ExploreNcrack commented on #15498
And also are there any side effect by using `.Find()` method instead of `.FirstOrDefault()` for the CRUD operations?

[2019-11-12 22:42] #15523 closed

[2019-11-12 22:43] pranavkm commented on #15659
You're right @ajcvickers, I based it on the title. @mkArtakMSFT could you re-assign this?

[2019-11-12 22:56] qvisionsa commented on #15583
@hishamco Thank you for responding! I'm new to the localization process and .net core.
I'm using the EFStringLocalizer in my project and my plan is to save all strings in a database table and export the main language (English) for translation. Maybe this is a wrong way, but I'm new to this field.
I already did this for Data Annotations using reflection and it is working fine.
The rest of the strin

[2019-11-12 23:36] yetanotherchris commented on #15669
The code (actually a soak test, calling the controller 50 times concurrently to test ASP.NET Identity on Marten with Postgres) works prior to the .NET 3.0 upgrade. I haven't delved into the internals of the authz and authentication middleware, so I'm not sure if this is from another Middleware interfering - but from what I can tell it could only be Swagger.

I'll try removing Swagger from the proj

[2019-11-12 23:37] yetanotherchris commented on #15669
Just for the record:

[code]

[2019-11-12 23:43] tb-mtg opened #15677 "Does AuthorizeFolder not apply to sub-folders?"
Does AuthorizeFolder only apply to the specified folder and not sub-folders?

If not, how can the AuthorizeFilter to be added all of the pages in a under a specified folder including sub-folders?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3a49eaa-a2ee-baac-e614-5e2f7c74072a
* Version Independent ID: 09513dc8-546a-

[2019-11-12 23:47] guardrex commented on #15677
Hello @tb-mtg ...

Engineering approved the following ...

... did you find that sub-folders weren't covered by a path to a given folder?

[2019-11-12 23:54] tb-mtg commented on #15677
Yes only the specified folder was required Authorization.
[code]
I initially wanted all folders requiring Authorization by default (using **.AuthorizeFolder("/")**) except for a pages listed above but that didn't work.

So I tested with **.AuthorizeFolder("/it")** and:
* /it required Authorization
* /it/test does not require Authorization

[2019-11-13 00:32] guardrex commented on #15677
@pranavkm ... the behavior isn't consistent with the doc ... should this be moved to the engineering repo for investigation? ... or should we say that 'every folder requires auth' (i.e., `AuthorizeFolder("/it/test");` is required in this scenario)?

[2019-11-13 00:48] Rick-Anderson opened #15678 "3.1 new doc: Migrate from 3.0 to 3.1"
Outline what's needed here. Add a link when possible.

* [SameSite changes](https://review.docs.microsoft.com/en-us/aspnet/core/security/samesite?view=aspnetcore-3.0&branch=pr-en-us-15618)

[2019-11-13 01:06] Tratcher commented on #15678
The only change from the 3.0.1 patch to 3.1.0 is the addition of the enum value `SameSiteMode.Unspecified = -1`.

[2019-11-13 01:22] tb-mtg commented on #15677
Sorry, I just wokred out that [AllowAnonymous] attribute on PageModel overrides RazorPagesOptions.Conventions.

So it is working now on sub-folders.

[2019-11-13 01:22] #15677 closed

[2019-11-13 01:51] StingyJack commented on #12519
I dont believe that the question was answered, only more explanations about possibilities. The OP asked why are you running the build from inside the docker container instead of in VS or a devops pipeline?

Its really strange to see and there isnt a great explanation of why one would choose a far more complex approach.

[2019-11-13 07:05] mkArtakMSFT commented on #15659
Thanks @ajcvickers and @pranavkm. This is indeed data protection related. @anurse who would be the best person to review this?

[2019-11-13 09:13] KalleOlaviNiemitalo commented on #15670
@Rick-Anderson Are you proposing to restore <https://github.com/aspnet/AspNetCore.Docs/blob/af85507ca3a3dfbea695082c39457684927f1696/aspnetcore/web-api/handle-errors.md> for ASP.NET Core 2.1? It does not seem correct to me. Outside of `::: moniker` sections, it:

- Contains the same claim that "MVC transforms an error result to a result with ProblemDetails".
- References the [ControllerBase.Proble

[2019-11-13 09:52] yetanotherchris commented on #15669
I tried Startup.cs with `//app.UseSwaggerWithReverseProxySupport();` and the same error persists.

[2019-11-13 10:11] stefanodelpero opened #18547 "ASP.NET Core with plugins"
Hi! How can we do plug-in with ASP.NET Core?
I tried this solution: https://github.com/pranavkm/PluginApp
But plug-in dependencies don't work.
I also tried a mix of that solution and this article, but still don't work as described here: https://github.com/pranavkm/PluginApp/issues/2

It will be an article about plug-in with ASP.NET Core?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-11-13 10:30] serpent5 commented on #15669
With the correct middleware ordering, your JWT (or whatever) is being rejected (it's either invalid or perhaps there's a missing role). When you reorder the middleware as described, I doubt that the token is even being checked, so the request flows through to the endpoint _unauthenticated_.

This isn't an issue with the docs page.

[2019-11-13 10:36] SteveSandersonMS opened #15679 "Document Blazor's MonoLinkerI18NAssemblies build option"
This is to help with customer scenarios like https://github.com/mono/mono/issues/17363

By default, Blazor's linker config strips out all internationalization information except for locales explicitly requested. This is to minimize the app size, since the data is quite large.

We have a build setting to control this, e.g.:

[code]

The default value of `MonoLinkerI18NAssemblies` is `none`. Other a

[2019-11-13 11:52] Legends commented on #4155
@Rick-Anderson

I want to debug the `SignOutAsync` method of `SignInManager` and this works partly until I reach to this line of code:

`Microsoft.AspNetCore.Authentication.AuthenticationService.SignOutAsync(Microsoft.AspNetCore.Http.HttpContext, string, Microsoft.AspNetCore.Authentication.AuthenticationProperties)`

Pressing `F11` shows:

![image](https://user-images.githubusercontent.com/966368/

[2019-11-13 12:28] Legends commented on #4155
It looks like it cannot find the `pdb` file:

**Search locations:**

<hr/>

**SYMSRV:  BYINDEX: 0x80A**
         c:\symbols*https://msdl.microsoft.com/download/symbols
         Microsoft.AspNetCore.Authentication.Cookies.pdb
         735FE3D3438A4CD897D49B62FBFC46B3ffffffff

**SYMSRV:  PATH:** c:\symbols\Microsoft.AspNetCore.Authentication.Cookies.pdb\735FE3D3438A4CD897D49B62FBFC46B3ffffffff\Micro

[2019-11-13 13:16] Legends commented on #4155
I managed to get it done _but not ootb_ as it should be, by setting a couple of breakpoints manually.

[2019-11-13 13:43] Legends commented on #4155
Hm, Now it doesn't work again.
Local symbol cache folder is empty, why is that?

[2019-11-13 14:21] gregveres opened #15680 "can't create .mdf file because it is missing a \ divider"
I have followed along with this tutorial. I am on windows. I note that this page says we will be using sqlite, but when I create the migration, it says that it is "using provider 'Microsoft.EntityFrameworkCore.SqlServer' with options: None".
When I try to run the Update-Database command, I get an error that access is denied while attempting to open or create the physical file `C:\Users\gregvRazorP

[2019-11-13 15:30] mslot commented on #13331
So just to understand, if ASPNETCORE_ENVIRONMENT either isn't set or is set to Production, means that we are on a Production environment. Is this the same for AZURE_FUNCTION_ENVIRONMENT? I find it difficult to make a distinction between those two. Especially when the azure Function is written in. NET Core.

[2019-11-13 16:08] anurse commented on #15659
I don't have anyone who could review it right now. I'll take a look myself and see what I can find out. It looks like a straightforward bit of missing configuration.

[2019-11-13 16:33] anurse commented on #15659
Opened https://github.com/aspnet/AspNetCore.Docs/pull/15681 to fix this.

[2019-11-13 17:21] eduardoxvii opened #15682 "Set environment variables with PropertyGroup issue"
"An alternative to setting the environment directly in web.config is to include the &lt;EnvironmentName&gt; property in project file"
My config:
  &lt;PropertyGroup&gt;
    &lt;TargetFramework&gt;netcoreapp3.0&lt;/TargetFramework&gt;
    &lt;EnvironmentName&gt;Development&lt;/EnvironmentName&gt;
  &lt;/PropertyGroup&gt;
But "dotnet App.dll" run aways in Production environment

---
#### Document De