[2022-10-19 17:00] guardrex commented on #27320
🤔 ... Perhaps, we could read config for `SetMinimumLevel` ... mmmmmm ... that sounds good.

[2022-10-19 17:01] BrennanConroy commented on #27320
That can work for the SignalR client too if you have access to `builder.Configuration` when setting up logging for the client.

[2022-10-19 17:05] BrennanConroy opened #27325 "Reference shared framework in SignalR docs"
I think we should cross-ref to https://learn.microsoft.com/aspnet/core/fundamentals/target-aspnetcore?view=aspnetcore-6.0&tabs=visual-studio from this page or multiple pages in SignalR. I see many questions where people are trying to update their SignalR package in class libraries (since we removed the package in 3.0+ and moved to the shared framework).

---
#### Document Details

⚠ *Do not edit t

[2022-10-19 19:50] Rick-Anderson commented on #26774
2,228 PV/month

[2022-10-19 19:57] Rick-Anderson commented on #26477
https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-rc-1/#experimental-openapi-support-for-grpc-json-transcoding

[2022-10-19 20:14] wadepickett commented on #26477
@Rick-Anderson, I thought we had that covered already in the recent https://learn.microsoft.com/en-us/aspnet/core/grpc/json-transcoding-openapi?view=aspnetcore-7.0&source=docs.     Is there some part of it you think is missing?  Could you provide more information about what you are communicating with the link?

[2022-10-19 20:28] wadepickett commented on #27325
Thanks Brennan.  Got it.

[2022-10-19 21:29] Rick-Anderson commented on #26477
Now how would anyone know that? See #26326 which shows each release where you can track the PR where each feature is addressed. This issue doesn't have RC1.

[2022-10-19 21:47] wadepickett commented on #26477
Got it, what you were intending to communicate with the link was to make sure I have it accounted for in this tracking issue. Thanks, that makes sense and is helpful.  You are right,  I should have noted RC-1 even though the issue was already taken care of.

[2022-10-19 21:54] Rick-Anderson opened #27327 "Add to TOC: Middleware in Minimal API apps"
From #27283 see [this comment](https://github.com/dotnet/AspNetCore.Docs/pull/27283#issuecomment-1278386089)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8e126168-04ac-f820-baad-c336729e4da5
* Version Independent ID: 8e126168-04ac-f820-baad-c336729e4da5
* Content: [Middleware with Minimal API applications](https://l

[2022-10-19 22:12] Rick-Anderson opened #27330 "Create sample app containing code snippets"
Make app with snippets from this article in
https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/fundamentals/minimal-apis/middleware/samples

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8e126168-04ac-f820-baad-c336729e4da5
* Version Independent ID: 8e126168-04ac-f820-baad-c336729e4da5
* Content: [Middlewa

[2022-10-19 23:29] Rick-Anderson commented on #26949
closing as not in the what's new blog

[2022-10-19 23:29] #26949 closed

[2022-10-20 00:02] Rick-Anderson opened #27334 ".NET 7 MacOS: Tutorial: Create a web API with ASP.NET Core"
When https://github.com/dotnet/AspNetCore.Docs/issues/27254 closes, update the MacOS instructions for .NET 7

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https

[2022-10-20 07:36] jez9999 commented on #24615
Is it yet possible to compile a WASM Blazor app using AOT into pure .wasm files, with no .dll or .bin downloads?  If so, is it possible to split these .wasm files into chunks much like a JS SPA app would be?  I'd like Blazor to get to a stage where my app is served in several chunks (each a .wasm file with DLL code obfuscated enough to get past firewalls), where you have the chunks split up intell

[2022-10-20 08:59] guardrex commented on #24615
@jez9999 ... That discussion is taking place on https://github.com/dotnet/aspnetcore/issues/36978.

[2022-10-20 12:06] P3truts opened #27336 "CREATE does not work"
This explanation for the CREATE function does not work for me. First off, the routing is detailed yet it is not mentioned to update that for the StudentsController and secondly, the Student model has an ICollection<Enrollment> Enrollments that somehow is demanded during Model validation (see the picture in the link).

https://ibb.co/gVbpFm0

Therefore, I am unable to create the new student. I have

[2022-10-20 15:26] danroth27 opened #27337 "Document IComponent"
I couldn't find any documentation about IComponent in the Blazor docs. A user pointed out this missing content in the Blazor eBook: https://github.com/dotnet/docs/issues/31426.

IComponent is the lowest level abstraction for components in Blazor. Typically, you implement Razor components using .razor files, which are based on ComponentBase, but you can build use components based on IComponent inst

[2022-10-20 19:49] Rick-Anderson commented on #27336
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2022-10-20 19:49] #27336 closed

[2022-10-20 19:49] mammadkoma opened #27338 "Is there a way to send parameter route to another page without query string?"
[Enter feedback here]
Hello I want to send parameter route to another page without query string like angular component @Input
Is there a way to send parameter and not show the parameter/parameters in the link of the browser addressbar page?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 90dc429b-11d9-c0f6-678d-dfb22e2

[2022-10-21 07:16] KeesAlderliesten commented on #26932
I edited the article but I’m not sure I did it correctly, I don’t see my changes anymore…

Kind regards,

Kees Alderliesten

[Beschrijving: Frames Logo 2011 200]

Bourgondischelaan 30e
2983 SH  Ridderkerk
The Netherlands
Tel +31-180-849446
www.frames.nl<http://www.frames.nl/>

Van: Rick Anderson ***@***.***>
Verzonden: vrijdag 30 september 2022 19:50
Aan: dotnet/AspNetCore.Docs ***@***.***>
CC: Ke

[2022-10-21 18:25] Rick-Anderson commented on #26932
Try again, it will offer to make a PR.

[2022-10-21 21:15] jsangco opened #27347 "IdentityServer 4 alternative"
Given than IdentityServer 4 has updated their license and does not officially support ASP.NET 6, is there guidance on how to authenticate users without having to take a dependency on the pay-for services?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 94bfd895-d2af-390b-0801-428b36a27ff4
* Version Independent ID: 0e0d

[2022-10-21 21:17] Rick-Anderson commented on #27347
Where does it say that?

[2022-10-21 22:21] #26186 closed

[2022-10-22 01:17] Rick-Anderson commented on #27338
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2022-10-22 01:17] #27338 closed

[2022-10-22 01:47] #27254 closed

[2022-10-22 03:18] Rick-Anderson commented on #27347
https://duendesoftware.com/license/SoftwareLicense.pdf

LICENSE FEES
A. If you wish to use the Software in a production environment, you may download
and use the Software for the Term upon payment of the appropriate license fee
as indicated on the Quote in accordance with the terms and conditions of this
Agreement.
B. If you wish to use the Software in a non-production environment, you may
downloa

[2022-10-22 05:17] mammadkoma commented on #27338
So please this questions in stackoverflow:
https://stackoverflow.com/questions/74161250/sending-route-parameters-to-another-page-without-query-string-in-asp-net-core-ra

[2022-10-22 08:03] jungjanos opened #27349 "CS0426 The name GreeterClient does not exist in the type Greeter"
Sorry, misreport. I had two Proto elements in the csproj file, one on the bottom, which I missed.
Can be closed.

---

followed steps as described. VS 2022

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1d298a6c-8ddc-dbc8-d219-0fa7138442c2
* Version Independent ID: b96be346-958a-cfcd-d80a-c352d64223e8
* Content: [Crea

[2022-10-22 08:33] #27349 closed

[2022-10-22 09:32] guardrex commented on #27347
The community edition license (free for under 1M users, not developing for clients, not redistributing) is at https://duendesoftware.com/products/communityedition.

The most recent PU discussion on adopting and continuing with IdS is at https://github.com/dotnet/aspnetcore/issues/32494.

An earlier similar discussion (3.x era) with a lot of feedback on the paid aspect took place on https://github.

[2022-10-22 22:38] #27347 closed

[2022-10-22 23:10] replaysMike opened #27351 "How to disable SSL?"
The documentation describes a fair bit about how to integrate Microsoft Identity, IdentityServer, and SPA however it is seemingly impossible to disable HTTPS requirements.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 21cb7455-3305-9316-5440-bdc22947a82d
* Version Independent ID: 137d4b94-7b26-3911-b22d-42c754a95fc1

[2022-10-22 23:41] guardrex commented on #27351
Disable the middleware ...

[code]

Cross-ref: https://learn.microsoft.com/aspnet/core/security/enforcing-ssl

Because this isn't actionable given the nature of the coverage ... ***security*** 😨 ... I'll close as answered and not actionable for the doc.

[2022-10-23 01:10] replaysMike commented on #27351
that's simply not enough for an SPA application using IdentityServer / openid.

See my SO question & answer [here](https://stackoverflow.com/questions/74148302/how-to-disable-ssl-requirement-in-asp-net-core-6-identity-spa-react-app/74167894#74167894)

There are many layers each requiring different overrides as none of them understand or respect the `app.UseHttpsRedirection()`.

[2022-10-23 09:24] guardrex commented on #27351
... and you can't use a development certificate with them or a wildcard cert?

[2022-10-23 22:38] replaysMike commented on #27351
I originally tried that first and requests would still fail, likely they are configured to not accept self-signed certs. Hence going the route of using HTTP instead as they recommend, didn't figure it would be as hard as it turned out to be with IdentityServer & SPA in the mix.

[2022-10-23 23:18] guardrex commented on #27351
Let's let @Rick-Anderson decide on this, as he calls the shots here ... or ping Barry Dorrans, our PU security guru, to ask what he thinks.

[2022-10-24 00:46] mkArtakMSFT commented on #10962
Fixed and rerouted to @adityamandaleeka

[2022-10-24 02:47] Rick-Anderson commented on #27351
Wow, that's great. The Security teams has made it clear they only support HTTPS

[2022-10-24 02:47] #27351 closed

[2022-10-24 02:52] replaysMike commented on #27351
yea I mean it's not the worst thing in the world but there should be a good case for allowing simple http only sites. It's just a little hard to configure - or figure out what needs to be configured - for end users atm.

[2022-10-24 12:18] guardrex commented on #27320
I'm working on the doc updates to cover this. The workaround code shown above doesn't work, but setting the props on the Hub connection in a component works for the client on both WASM and Server. The following approach for connection building is what what we show in the Blazor-SignalR tutorial. The following values are purely for demo purposes and aren't meant to make sense.

[code]

Output ...

[2022-10-24 14:23] The-Adam-The commented on #26840
Hey @P3truts,

I had a similar issue, and I'm not sure what caused the problem but if you replace the code given at the start of the page with the code provided at the bottom is resolves the issue.

[code]

[2022-10-24 16:48] mohammadrafiee179 opened #27355 "download link unavailable"
[Enter feedback here]
The download [link](https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/runtime-aspnetcore-6.0.10-windows-hosting-bundle-installer) for Windows Hosting Bundle is broken
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ec484002-18c1-6a0d-00de-820d56f038d3
* Version Independent ID: 7903ce53-2

[2022-10-24 17:17] guardrex commented on #27355
It works here, @mohammadrafiee179.

Paste the link into a browser ...

https://dotnet.microsoft.com/permalink/dotnetcore-current-windows-runtime-bundle-installer

... or obtain the Hosting Bundle Installer here ...

https://dotnet.microsoft.com/download/dotnet/6.0

It's on the right, under **ASP.NET Core Runtime 6.0.10**

[2022-10-24 17:17] #27355 closed

[2022-10-24 19:55] replaysMike opened #27359 "Incorrectly highlighted example code"
The code on `Register.cshtml.cs` is incorrectly highlighted (missing) under `Update the Account/Register.cshtml page`.

The code
[code]

should be highlighted to show what was changed from the default sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 431df4fc-4168-cc8f-d053-9b264d2971c1
* Version Independent ID:

[2022-10-24 20:28] Redth commented on #25679
@rmarinho  or @PureWeen thoughts on this one?

[2022-10-24 20:55] Rick-Anderson commented on #27359
Thanks for reporting this. Any chance you could PR this? At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

[2022-10-24 20:56] Rick-Anderson commented on #27359
Also a screen shot would help to quickly identify the problem.

[2022-10-24 21:56] Eilon commented on #25679
We have some notes in this issue from an earlier investigation: https://github.com/dotnet/maui/issues/2532#issuecomment-1026378294

[2022-10-24 23:38] tdykstra commented on #26819
Reopening, as only the code sample was done, still need to get route groups into a doc.

[2022-10-24 23:56] #26818 closed

[2022-10-25 00:55] #26819 closed

[2022-10-25 01:35] Rick-Anderson opened #27365 ".NET 7 update: RP"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a25bf940-8977-fec4-461b-542a9f550fc8
* Version Independent ID: 5492c641-af15-64b8-beaa-ddf511be73e6
* Content: [Tutorial: Get started with Razor Pages in ASP.NET Core](https://learn.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-st

[2022-10-25 01:40] david-acker opened #27366 "Add documentation for new analyzers"
[EDIT by guardrex to add the metadata. This will be for a new topic, but there will be an entry for the overview of the node. I'll use the overview's metadata.]

### Add docs for the following analyzers:

Merged:
- ASP0015-18 [Source](https://github.com/dotnet/aspnetcore/blob/main/src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs)

In PR:
- ASP0019 dotnet/aspnetcore/pull/444

[2022-10-25 05:03] P3truts commented on #26840
Hey, thanks, it works now! Indeed, really strange issue.

[2022-10-25 12:03] p1k4x opened #27369 "Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore is needed to follow guide"
Using VS 2022 and following instructions but got:

Error	CS1061	'IServiceCollection' does not contain a definition for 'AddDatabaseDeveloperPageExceptionFilter' and no accessible extension method 'AddDatabaseDeveloperPageExceptionFilter' accepting a first argument of type 'IServiceCollection' could be found (are you missing a using directive or an assembly reference?)

Microsoft.AspNetCore.Diagnos

[2022-10-25 13:16] guardrex commented on #27369
@p1k4x ... I'm going close this now because my suggestion has visibility for a possible inclusion on an existing PR for this topic. It's best if we avoid self-inflicted 😈 ***merge conflicts*** 😈 where we can. 😄

[2022-10-25 13:16] #27369 closed

[2022-10-25 15:09] atrauzzi opened #27371 "Please detail the purpose and nuances of `ValidateIssuerSigningKey`"
It's unclear to me if `ValidateIssuerSigningKey` impacts JWKS at all, a manually provided key, or a key embedded in the JWT.

There's some ambiguity.

Particularly: If I set `ValidateIssuerSigningKey` to `false`, will the JWT system still perform JWKS validation?

See: https://stackoverflow.com/questions/74195977/does-setting-validateissuersigningkey-to-false-disable-jwks

---
#### Document Detail

[2022-10-25 16:32] tdykstra commented on #26793
This is addressed in #27348 and #27181

[2022-10-25 16:32] #26793 closed

[2022-10-25 16:39] guardrex commented on #27371
Hello @atrauzzi ... It doesn't appear to be cross-linked here. The external docs are ...

* API doc: https://learn.microsoft.com/dotnet/api/microsoft.identitymodel.tokens.tokenvalidationparameters.validateissuersigningkey
* Article: https://learn.microsoft.com/azure/active-directory/develop/scenario-protected-web-api-app-configuration

If it's not clear from those docs, then I'd recommend opening

[2022-10-25 16:53] atrauzzi commented on #27371
Excellent, thank you.  Provided I'm interpreting this correctly from your 2nd link:

_"Ensures the application validating the token trusts the key that was used to sign the token. There's a special case where the key is embedded in the token. But this case doesn't usually arise."_

It might be worthwhile to mention in this page as well as the other two pages that this parameter doesn't have anythi

[2022-10-25 16:57] guardrex commented on #27371
Very well. I defer to @mjrousos on if/how this is actionable.

Also, I think this API is handled by the product unit here ...

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

You could ask the product unit there in lieu of a docs issue if you feel that the API doc is the right spot for additional remarks. The PU controls the API docs, not the documentation fol

[2022-10-25 17:31] wadepickett commented on #27369
fixed with #27353.

[2022-10-25 17:33] wadepickett commented on #27369
This was important to fix and happened to be already underway for a couple of topics, including this one.  Thanks #p1k4x for taking the time to identify the issue.  Really appreciate your commitment to the community.

[2022-10-25 19:27] ladeak opened #27375 "Sample type names should match for server interceptors"
ServerLoggerInterceptor and ServerLoggingInterceptor type name should match for the gRPC server interceptor samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cf211766-acfe-e599-8286-a5b1d8a071f1
* Version Independent ID: cf211766-acfe-e599-8286-a5b1d8a071f1
* Content: [gRPC interceptors on .NET](https://learn.mi

[2022-10-25 20:56] #27188 closed

[2022-10-25 21:49] Rick-Anderson commented on #26505
@JeremyLikness are you the right person to update the RP/EF code?

[2022-10-25 22:28] MackinnonBuck commented on #15395
Is there any remaining work here? It seems that https://github.com/dotnet/AspNetCore.Docs/pull/16690 already added the missing content for `AddRazorSupportForMvc`.

@mkArtakMSFT @guardrex

[2022-10-25 22:34] guardrex commented on #15395
Looks right to me ... resolved by #16690 and in the live topic at ...

https://learn.microsoft.com/en-us/aspnet/core/razor-pages/sdk?view=aspnetcore-7.0#properties

[2022-10-25 22:34] #15395 closed

[2022-10-25 23:14] Rick-Anderson opened #27379 "Hook up to TOC"
@captainsafia  please review the two places where I'll put this article.

<img width="239" alt="image" src="https://user-images.githubusercontent.com/3605364/197899591-ac912eb7-14eb-4ee5-84e7-75a2ac4016b3.png">

<img width="204" alt="image" src="https://user-images.githubusercontent.com/3605364/197899640-1275ab77-6347-4589-9dcf-a1f5c84bb9d2.png">

---
#### Document Details

⚠ *Do not edit this sec

[2022-10-25 23:33] MackinnonBuck commented on #15731
The first link in this document points to the Razor SDK page, which documents the `CopyRazorGenerateFilesToPublishDirectory` property:

Given this, is there anything else we need to do here? Should we change the verbage to make it more obvious that the Razor SDK can be used to _configure_ the build/publish steps?

@mkArtakMSFT @guardrex

[2022-10-25 23:39] guardrex commented on #15731
It seems fine ... ***and*** there's a link directly to the content in the *Additional resources* section ...

@Rick-Anderson, please re-open if it needs more work.

[2022-10-25 23:39] #15731 closed

[2022-10-26 00:03] #27113 closed

[2022-10-26 00:24] Rick-Anderson opened #27380 "Scrub -prerelease after .NET GA"
https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/includes/add-EF-NuGet-SQLite-CLI-7.md

[2022-10-26 00:42] Rick-Anderson opened #27381 "delete VS Add NuGet packages"
[Add NuGet packages](https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model?view=aspnetcore-7.0&tabs=visual-studio#add-nuget-packages-3) isn't required in .NET 7

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1d975a83-1550-b284-d0d8-7fe2ea206ff5
* Version Independent ID: 48e81b42-7c2b-afbf-

[2022-10-26 01:35] tdykstra commented on #27381
I had to install Microsoft.VisualStudio.Web.CodeGeneration.Design to get scaffolding to work. I'll have to try not installing the other ones.

[2022-10-26 03:02] Rick-Anderson opened #27383 "MacOS .NET 7: Get started with ASP.NET Core MVC"
Update MacOS version

10 Tutorial topics + App samples for this series

cc @tdykstra

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: faf18d20-d28f-1efa-d329-181fff3630fa
* Version Independent ID: 46a7c2e0-4871-491f-02c2-54f7df2237b1
* Content: [Get started with ASP.NET Core MVC](https://learn.microsoft.com/en-us/aspnet

[2022-10-26 03:04] Rick-Anderson opened #27384 ".NET 7: Update MacOS: Get Started Razor Pages series"
~Parts 1 and 2 only until I edit this.~

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a25bf940-8977-fec4-461b-542a9f550fc8
* Version Independent ID: 5492c641-af15-64b8-beaa-ddf511be73e6
* Content: [Tutorial: Get started with Razor Pages in ASP.NET Core](https://learn.microsoft.com/en-us/aspnet/core/tutorials/razor-pa

[2022-10-26 10:47] #27016 closed

[2022-10-26 11:01] PrimusInterParess commented on #26241
I'm hitting the same duplication problem, when scaffolding Identity. VS 17.3.6 Enterprise/.net6.0 .  Is there a solution ?

[2022-10-26 14:51] guardrex opened #27386 "Final updates to new JS interop"
This issue tracks any final updates for release. Thus far, there's only one update to make.

* `runMainAndExit()` is changing to `dotnet.run()`. Cross-ref: https://github.com/dotnet/runtime/blob/release/7.0/src/mono/wasm/templates/templates/browser/main.js
* ...

cc: @pavelsavara ... ~I'll remove you from this leaving it assigned to me and work it on GA day. Please feel free to edit and add update

[2022-10-26 17:21] brunolins16 opened #27389 "Update simple type definition to include TryParse method"
In .NET 7, the `simple type` definition was updated to also based on the existence of a TryParse method (https://learn.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-7.0#bind-with-tryparse)

So, the following paragraph need to be update to something like:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue

[2022-10-26 17:25] mkArtakMSFT commented on #27390
@Rick-Anderson can you please get this documented? Thanks!

[2022-10-26 20:51] guardrex opened #27395 "Test issue"
Pavel ... If this works, you'll be assigned ✨ ***automagically*** ✨ on issue creation.

On spelling error-type issues 🙈, I'll take care of those. For anything out of my wheelhouse, I'll leave it to you. If the article requires content updates that you'd prefer me to make, leave the updates in an issue comment.

At 8.0 (or now if you'd prefer not to have any pings at all), you might want to have me

[2022-10-26 20:51] guardrex commented on #27395
# 🎉

Cool beans ... it works.

Ok ... closing now.

[2022-10-26 20:51] #27395 closed

[2022-10-26 20:54] guardrex commented on #27395
Oh ... and btw on labels ... you only need to put a priority on the issue P0 (emergency), P1, P2, P3 (lowest priority) and set the project column to P0/P1, P2, or P3.

[2022-10-26 21:19] Rick-Anderson opened #27396 "Register a filter using an endpoint filter factory compiler errors"
[Register a filter using an endpoint filter factory](https://learn.microsoft.com/en-us/aspnet/core/fundamentals/minimal-apis/min-api-filters?view=aspnetcore-7.0#register-a-filter-using-an-endpoint-filter-factory)

See [this endpoint](https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/fundamentals/minimal-apis/min-api-filters/7samples/todo/Program.cs#L98-L130)

@fiyazbinhasan  is this s

[2022-10-27 00:53] hgirma opened #27404 "Complete working sample For Blazor Maui Authentication with Identity4"
It would be helpful to have a working sample.

For example, The experience of a brand new project ( File | New project) to create a Blazor WebAssembly App wires up the authentication with Identity4, and it works out of the box, something similar like that, but for MAUI Blazor App would be helpful.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for le

[2022-10-27 01:18] Rick-Anderson opened #27405 "Incremental ASP.NET to ASP.NET Core Migration"
Copy of https://github.com/dotnet/systemweb-adapters/issues/98

We should update the porting docs with content about this gradual migration process.

Notes:
- Probably want it to live somewhere in our porting docs here: https://learn.microsoft.com/en-us/dotnet/core/porting/
- Need to reconcile with https://learn.microsoft.com/en-us/aspnet/core/migration/proper-to-2x/?view=aspnetcore-6.0
- Content

[2022-10-27 04:22] captainsafia commented on #27379
@Rick-Anderson I think it's sufficient to just have this under the "minimal APIs" subheading. It doesn't make sense amongst the top-level topics under "Security".

[2022-10-27 08:07] yotkoKanchev opened #27410 ""AspNetCore.HealthChecks.SqlServer": "6.0.2" vulnerability package"
ASP.NET Core 6 "AspNetCore.HealthChecks.SqlServer": "6.0.2"  -> "Microsoft.Data.SqlClient": "3.0.1" -> "System.Configuration.ConfigurationManager": "4.7.0" -> "System.Security.Permissions": "4.7.0" -> "System.Windows.Extensions": "4.7.0" referencing vulnerability package "System.Drawing.Common": "4.7.0"

[2022-10-27 08:10] Sergio1C commented on #25157
Is there any workaround in case upgrading to VS2022 is not possible? I was trying to follow a suggestion from @madhusudhan-v (delete existing .cshtml file and create a new one) but it didn't solve this issue.

[2022-10-27 09:11] guardrex commented on #27410
Hello @yotkoKanchev ... Please open that for the product unit. We only work on documentation here.

https://github.com/dotnet/aspnetcore/issues

[2022-10-27 09:11] #27410 closed

[2022-10-27 09:27] davhdavh opened #27411 "Firefox support"
https://github.com/dotnet/runtime/pull/61776 says there is Firefox support

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f61c7-9f51-6735-e328-3c7b495d70c3
* Version Independent ID: 4d06e565-282d-6387-aa90-cb2c2986d35a
* Content: [Debug ASP.NET Core Blazor WebAssembly](https://learn.microsoft.com/en-us/aspnet/core/

[2022-10-27 10:07] guardrex commented on #27411
Thanks @davhdavh.

@captainsafia ... Shall I schedule rolling in FF as a supported browser. If so ...

* What doc version (ASP.NET Core version) shall we start with for the coverage on this?
* I noticed that we describe `"browser": "{chrome|edge}"` support for `launch.json` (VSC) but not `Properties/launchsettings.json`, but I think it works from launch settings for VS ... is that correct? If so,

[2022-10-27 10:48] guardrex commented on #27404
Hello @hgirma ... Management (***and I*** 😄) aren't keen on hosting sample apps here because they're challenging to maintain release-to-release and the options are wildly variable.

The first problem is that takes a lot of time ... ***thus 💰💰💰*** ... to keep up with many sample apps. What happens is that one or two samples are added, which seems trivial ... but then you add one or two more later .

[2022-10-27 10:55] #27404 closed

[2022-10-27 13:25] guardrex commented on #27371
Thanks @mjrousos.

@atrauzzi, take this in that direction. There's a **This page** feedback button and form at the bottom of the API doc. They'll take it from there.

[2022-10-27 13:25] #27371 closed

[2022-10-27 14:29] derekpotts opened #27414 "input and label tags reversed"
In the "Update the Areas/Identity/Pages/Account/Manage/Index.cshtml with the following highlighted markup" code block, the input and label tags are reversed for the highlighted lines. Also note that the class names are not reversed. The label tags erroneously have the class name of form-control and the input tags have the class name of form-label. It also seems like form-group should be form-float

[2022-10-27 20:30] #27396 closed

[2022-10-27 20:34] Rick-Anderson commented on #27379
But it should be someplace under security because it's a security topic. Maybe under both Authn and AuthZ
<img width="188" alt="image" src="https://user-images.githubusercontent.com/3605364/198392332-34f2c28d-86a3-4a7d-a449-64df682664f3.png">

[2022-10-27 20:40] tdykstra commented on #27379
I agree. We try to avoid having one item in multiple locations in the TOC, as it doesn't work very well. You could add links to this article from articles in the Authn/Authz part of the TOC.

[2022-10-27 22:10] Rick-Anderson commented on #26505
@ajcvickers who should I assign this task, code writing only since @JeremyLikness  is now in a new role? We're happy to do two hours of editing and scut work in https://github.com/dotnet/EntityFramework.Docs for every hour the EF team spends coding.
cc @tdykstra

[2022-10-27 23:21] Rick-Anderson opened #27416 "Complete ### Customize problem details"
See https://github.com/dotnet/AspNetCore.Docs/pull/27400/files

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03fdf4-b19b-17c3-04f4-336ab6d2ee06
* Version Independent ID: 38515dfb-91a5-b395-db9d-084bbaf095c8
* Content: [Handle errors in ASP.NET Core](https://learn.microsoft.com/en-us/aspnet/core/fundamentals/error-h

[2022-10-28 00:24] brunolins16 commented on #27416
@Rick-Anderson I missed that in the mentioned pr. I will updated there. I mean to be a simple overview and link to all options. Thanks.

[2022-10-28 00:26] replaysMike commented on #27359
Here is the [PR](https://github.com/dotnet/AspNetCore.Docs/pull/27417) to correct the highlighting in section `Update the Account/Register.cshtml page`

[2022-10-28 11:08] #27320 closed

[2022-10-28 11:51] guardrex opened #27421 "SignalR-Blazor client logging enhancements"
SignalR-Blazor client logging guidance should be enhanced.

* Blazor Server scenario coverage appears in the *Configure SignalR client logging (Blazor Server)* section of the *Fundamentals* > *SignalR* topic. Hosted WASM client-side logging is in *SignalR .NET client logging* of the *Fundamentals* > *Logging* topic. Both of these should be in the *Fundamentals* > *Logging* doc with cross-links fro

[2022-10-28 17:28] ladeak commented on #26580
I still cannot see this on the rendered page, although based on the dates I am seem to be looking an up-to-date [version](https://learn.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-6.0#collections-1)

![image](https://user-images.githubusercontent.com/10052368/198696619-63e4ef80-3e0d-4e06-beb9-42f5e8340cf6.png)

It should be here between the two samples:
![image](https:

[2022-10-28 17:34] ladeak commented on #26580
What does the "The following format is supported only in form data:" mean? If I used [FromForm] attribute on the `List<Product> products` and replace the POST to GET it worked?

[2022-10-28 18:44] ladeak commented on #26580
Thank you

[2022-10-28 20:12] captainsafia commented on #27411
@guardrex I'm not doing much work in Blazor these days so not sure if all the necessary work has been done to consume this Firefox support in VS Code/VS/etc.

@mkArtakMSFT @danroth27 for guidance.

[2022-10-28 20:13] guardrex commented on #27411
Ok, thanks ... sorry, I didn't know.

[2022-10-28 20:15] captainsafia commented on #27411
No worries! You're welcome to ping on anything minimal APIs/MVC-related though!

[2022-10-28 20:24] danroth27 commented on #27411
Oh wow, I didn't realize we had added Firefox support for Blazor WebAssembly debugging! 😲

@thaystg Can you help out with the questions above? https://github.com/dotnet/AspNetCore.Docs/issues/27411#issuecomment-1293296323

[2022-10-28 20:27] thaystg commented on #27411
We still need to do some changes on blazor side to make it work, currently it's a little bit hard to use the firefox support on blazor, because Blazor only send the PDB's if it's Chrome or Edge. Maybe we should schedule a meeting if you want to implement the support, or you can wait, it's in my to do list do the changes on Blazor side.

[2022-10-28 20:29] guardrex commented on #27411
@thaystg ... Is there a PU issue that I can track this on for those updates?

[2022-10-29 12:11] #27421 closed

[2022-10-29 14:38] ziron999 opened #27432 "Unable to do this with Teams Toolkit"
This gives errors is you implement this with a brand new teams toolkit visual studio 2022 project. So how do you do graph api with teams toolkit?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 896be20d-1321-0e2f-3efb-d0ce8f1e631a
* Version Independent ID: f5e2b80f-9478-7500-2bc5-930237274f4b
* Content: [Use Graph API

[2022-10-29 14:47] guardrex commented on #27432
Hello @ziron999 ... I'm not familiar with "Teams Toolkit," nor do I understand why any tooling in VS would have anything to do with the coverage in the article.

Beyond that, this is an older article that will be receiving work (or replacement with an Azure document on MS Graph) in the holiday period next month into December, roughly between 🦃 Thanksgiving and the holidays 🎅🎆. That work is tracked

[2022-10-29 16:35] ziron999 commented on #27432
ok, i will as soon as i can. this is pretty critical for me to be able to make apps correctly in Teams.

[2022-10-29 16:48] ziron999 commented on #27432
Error with no provider:
System.AggregateException: 'Some services are not able to be constructed (Error while validating the service descriptor 'ServiceType: Microsoft.Graph.IAuthenticationProvider Lifetime: Scoped ImplementationType: GraphClientExtensions+NoOpGraphAuthenticationProvider': Unable to resolve service for type 'Microsoft.AspNetCore.Components.WebAssembly.Authentication.IAccessTokenPr

[2022-10-29 16:49] ziron999 commented on #27432
Everything is just as it shows in the doc at the start.
Program.cs has this added to it:
builder.Services.AddMsalAuthentication<RemoteAuthenticationState,
    RemoteUserAccount>(options =>
    {
        builder.Configuration.Bind("AzureAd",
            options.ProviderOptions.Authentication);
        options.ProviderOptions.DefaultAccessTokenScopes.Add(
            "https://graph.microsoft.com/Use

[2022-10-30 11:55] guardrex commented on #27432
This article only applies to standalone or hosted Blazor WebAssembly apps. If you're seeking to implement MS Graph in a Blazor Server app, then you follow guidance for implementing Graph API in a regular ASP.NET Core app.

There's a tutorial in the Azure docs at ...

https://learn.microsoft.com/azure/active-directory/develop/tutorial-blazor-server

... where they have a different project template

[2022-10-30 11:55] #27432 closed

[2022-10-30 14:07] ziron999 commented on #27432
Thanks, I will look into these solutions on Monday. I have yet to get anything working correctly with this stuff because of all the misinformation and wrong docs. It has been difficult to find an actual working starting point so I can just start doing my normal programming. It is very confusing how all this is structured to me, and C# is my main language. This isn't even recognizable as normal to

[2022-10-30 14:15] ziron999 commented on #27432
oh also, i need to mention that it must be blazor and a lot of these docs are about swagger as well which are all useless for me. The teams toolkit is based on blazor only.

[2022-10-30 15:17] guardrex commented on #27432
But if someone uses a doc written for Blazor WebAssembly to implement an API for Blazor Server, then that wouldn't be expected to work. I'm still not 100% clear on what hosting model you're using. You never said, but that error message makes reference to Blazor Server API, so that's what I assumed you were using.

I recommend going by the Azure docs that I mentioned, paying the most attention to t

[2022-10-30 19:24] Folasayo-Samuel commented on #7486
using Microsoft.EntityFrameworkCore; namespace works for me. You can try it out. Thanks @Rick-Anderson @scottaddie

[2022-10-30 21:26] Rick-Anderson commented on #7486
@mskiptr  why are you following an old version (.NET 5) of the tutorial?

[2022-10-30 23:44] ziron999 commented on #27432
Turns out, none of this is needed and I figure out how to do with the TeamsFx SDK. It is already tied like how it should be.

[2022-10-31 00:44] Perustaja opened #27438 "Documentation doesn't explain how to run a published Angular application"
Using the default template for Angular, you can run the program using a simple dotnet run command. This launches a command prompt (on Windows at least) which runs ng serve with the ssl certs among other things.

How are you supposed to run this in prod when published? The page says to use standard deployment techniques but running dotnet  on the published dll doesn't actually run ng server. It lau

[2022-10-31 03:55] Rick-Anderson commented on #27438
If you do an internet search there's lots of articles on the topic. Not sure when we'll have time to address this.

[2022-10-31 03:56] #27416 closed

[2022-10-31 11:25] ajcvickers commented on #26505
@Rick-Anderson It will have to be someone on the dev team. We'll prioritize it alongside other docs work.

[2022-10-31 16:05] jibbers42 commented on #25431
@serpent5 I'm not sure #24282 answers this question. It deals with an `OptionsBuilder` from `AddOptions<TOptions>()`. This issue is about eager validation when using `IValidateOptions`. Unless I'm missing it, I don't see how to do eager validation when registering an `IValidateOptions`.

As an aside, `ValidateOnStart()` is attached to an `OptionsBuilder` from `AddOptions<TOptions>()` - does that m

[2022-10-31 18:02] abatishchev opened #27441 "Page for Logging doesn't cover minimal hosting model"
The article covers the old way to create builder and configure services. Has no mention of `minimal`.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-f367-d733-8933-bccc04da0e16
* Content: [Logging in .NET Core and ASP.NET Core](https://learn.micro

[2022-10-31 18:16] Tratcher opened #27442 "Add HTTP/2 WebSockets to What's New in 7"
https://learn.microsoft.com/en-us/aspnet/core/fundamentals/websockets?view=aspnetcore-7.0#http2-websockets-support

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ed83a5ff-cb3a-8655-9f9a-a441da52424e
* Version Independent ID: ed83a5ff-cb3a-8655-9f9a-a441da52424e
* Content: [What's new in ASP.NET Core 7.0](https://learn

[2022-10-31 18:46] #27441 closed

[2022-10-31 22:18] Rick-Anderson commented on #27442
@wadepickett  looks like you forgot to update WN in #26768

[2022-10-31 22:43] #27295 closed

[2022-10-31 22:47] Rick-Anderson opened #27443 "Add chained sample"
See https://github.com/dotnet/AspNetCore.Docs.Samples/pull/105/files

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bb96b20f-0991-d6de-4d98-192cd469460f
* Version Independent ID: bb96b20f-0991-d6de-4d98-192cd469460f
* Content: [Rate limiting middleware in ASP.NET Core](https://learn.microsoft.com/en-us/aspnet/core/per

[2022-11-01 00:30] #27365 closed

[2022-11-01 01:40] Perustaja commented on #27438
Okay, I see. I wasn't sure if there was any sort of automation like there is for development built in.

I'm going to just run the ASP.NET side of it normally and then setup the angular application entirely separately like [here](https://angular.io/guide/deployment#fallback) and specifically [here ](https://stackoverflow.com/questions/45277183/how-to-config-nginx-to-run-angular4-application)for ngi

[2022-11-01 01:58] Rick-Anderson commented on #27438
@rafikiassumani-msft  please have someone review this proposal for a PR on deploying angular

[2022-11-01 02:30] #27002 closed

[2022-11-01 07:37] pravinkamane commented on #25157
I was facing this issue when I upgraded my .net application to .net core 6.0
<TargetFramework>net6.0</TargetFramework>
<AddRazorSupportForMvc>true</AddRazorSupportForMvc>

this AddRazorSupportForMvc setting helped to resolve this issue of "the-view-index-was-not-found"

[2022-11-01 10:04] guardrex commented on #27337
The only place that we show `IComponent` is at ...

https://learn.microsoft.com/aspnet/core/blazor/fundamentals/dependency-injection#request-a-service-in-a-component

... where it's used in an `InjectAttribute` example without comment.

[2022-11-01 11:06] guardrex commented on #27296
Here's the @ShaunCurtis approach posted at SO.

Reference: https://stackoverflow.com/a/74080605

Additional context is in the discussion on the SO comment Q&A.

[2022-11-01 11:10] milenajakovljevic opened #27453 "moni"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c3460b0d-9c60-3a06-ac63-18cf990e53c3
* Version Independent ID: b2dece1f-15b8-03af-6d52-7cc070432b4b
* Content: [Background tasks with hosted services in ASP.NET Core](https://learn.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?vie

[2022-11-01 11:10] #27453 closed

[2022-11-01 11:22] guardrex commented on #27296
@lonix1 ... AFAICT, we already have this approach covered (generally anyway ... i.e., a state-providing cascaded component) at ...

https://learn.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-6.0&pivots=server#factor-out-the-state-preservation-to-a-common-location

[2022-11-01 11:24] guardrex commented on #27296
Yeah 🤔 ... That's close enough conceptually that we don't need to take action on this. This issue will remain associated with the topic on GitHub, so if devs select the **View all page feedback** link, they'll see this issue and can see the other example approaches/discussion from there.

[2022-11-01 12:15] guardrex commented on #27296
Yeah ... I don't like what they did with that because it would have helped us probably HUNDREDS of times both with readers looking for things here and even US ... the doc 🐈🐈🐈 ... I've forgotten about it myself tucked way down there. Anyway ... that's where they want it, so that's where it will stay.

[2022-11-01 12:22] guardrex commented on #27296
Hummmmmmmm 🤔 ... ***Perhaps SO!*** 😄

I'll take a look.

[2022-11-01 12:24] guardrex commented on #15590
I'm closing this because we already have coverage for it at ...

**Cancelable background work** in the *ASP.NET Core Razor component lifecycle* article
https://learn.microsoft.com/aspnet/core/blazor/components/lifecycle#cancelable-background-work

... which can be further extended by devs for other purposes (e.g., state management scenarios, dB processing, slow network processing, slow resource pr

[2022-11-01 12:24] #15590 closed

[2022-11-01 12:42] JamesNK commented on #26477
A couple of gRPC features that were added in grpc-dotnet should be highlighted.

PR: https://github.com/dotnet/AspNetCore.Docs/pull/27454

[2022-11-01 12:43] guardrex commented on #27296
The specific use case for that section uses ...

Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

... for Blazor Server apps (which is now baked into the framework).

In this case, it basically just falls back to the main topic on the approach for WASM at ...

**ASP.NET Core Blazor cascading values and parameters**
https://learn.microsoft.com/aspnet/core/blazor/components/cascading-

[2022-11-01 13:16] ShaunCurtis commented on #27296
I had never seen that section either.  Having studied it I have the same issue as with the initial code in the SO question.  It's cascading `this` - `CounterStateProvider` - a great big fat class with lots of functionality that should be not exposed in sub-components.  The point of my code was to cascade a lean object with just the functionality required?

[2022-11-01 13:32] guardrex commented on #27296
Actually, it was Pranav who directly signed off on the changes, which were kind'a minimal really ...

https://github.com/dotnet/AspNetCore.Docs/pull/20351

We can't ask Pranav btw ... he's not on this PU team any longer.

Looking back further, it was Mackinnion who provided the major review feedback on ...

https://github.com/dotnet/AspNetCore.Docs/pull/19287

... from the content that IIRC Steve

[2022-11-01 13:35] guardrex commented on #27296
I'll tell you what ... I'll compromise right now. Let's cross-link **THIS ISSUE** right in the topic section. That way, it will surface better for devs. At some point in the future ... next year! 😆 lol ... I'll ask Dan and Artak about it.

[2022-11-01 13:42] #27296 closed

[2022-11-01 14:43] SajadAbbasi opened #27457 "Blazor WebAssembly Not Support Firefox 52"
Hi
Are You Support Blazor WebAssembly In Mozilla 62v ?

aspnet core
Blazor WebAssembly 5v
@guardrex

thanks

[2022-11-01 14:47] guardrex commented on #27457
Probably not ... that's very old. The product unit favors support for the latest versions per our guidance in ...

https://learn.microsoft.com/aspnet/core/blazor/supported-platforms

[2022-11-01 14:47] #27457 closed

[2022-11-01 17:10] dihaldar opened #27459 "Set Hasvalue to HasValue"
On section,
https://learn.microsoft.com/en-us/aspnet/core/security/key-vault-configuration?view=aspnetcore-6.0#disabled-and-expired-secrets)

Please change the case properties.ExpiresOn.Hasvalue
to properties.ExpiresOn.HasValue

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2cc0b77a-df21-7007-5cec-4399d98c6dc6
* Versi

[2022-11-01 18:59] MackinnonBuck commented on #10683
I'm not really sure what's left to document here. We have a "Publish and deploy" section, which links directly to https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/host-and-deploy/index.md. That document describes `dotnet publish`, which handles everything mentioned in this issue if I'm not mistaken. For example:

This is what `dotnet publish` will do under the hood for the Angular te

[2022-11-01 19:11] Rick-Anderson commented on #27438
@MackinnonBuck please review

See [this Comment](https://github.com/dotnet/AspNetCore.Docs/issues/10683#issuecomment-1298973877) by @MackinnonBuck

[2022-11-01 19:58] MackinnonBuck commented on #27438
@Perustaja, running `dotnet` on the published DLL should be sufficient. Navigating to the app's URL shouldn't result in a 404. Are you getting some other error in the application output?

[2022-11-01 20:19] MackinnonBuck commented on #22102
This topic pertains to server-side rendering, which the current Angular template no longer supports (and the section mentioned in is issue no longer exists in the latest versions of the doc). So, I don't think there's any remaining work to do here.

[2022-11-01 21:15] MackinnonBuck commented on #21102
The SPA proxy startup can timeout on slower machines, and increasing the timeout usually fixes the issue. I see that the timeout is being set to 80 seconds - I've seen it take longer than that (2+ minutes) on very slow machines. I wonder if setting the timeout to something absurd (e.g. an hour) would work?

If there is a docs fix for this, it's probably not Angular-specific. It would probably be c

[2022-11-01 21:31] MackinnonBuck commented on #22487
We've since updated the Angular version and now do so on a regular basis (we're currently on Angular 14 at the time I'm writing this comment).

The purpose of the template is to be ASP.NET Core hosted. If you want .NET out of the picture, you can create a new Angular project using the [Angular CLI](https://angular.io/tutorial/toh-pt0).

---

AFAICT, there aren't any docs-related actions that need

[2022-11-01 21:39] #27459 closed

[2022-11-01 21:58] Rick-Anderson opened #27464 "Title looks bad as a link"
<img width="503" alt="image" src="https://user-images.githubusercontent.com/3605364/199349664-85457485-2414-440d-ab9a-bffbcfb4112f.png">

https://learn.microsoft.com/en-us/aspnet/core/whats-new/dotnet-aspnetcore.docs-2022-10-01

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8aab92a0-c05f-ef01-fb74-a0bf525aae69
* Versi

[2022-11-01 21:58] wadepickett commented on #27442
@Rick-Anderson,  You are right!  I updated the doc but forgot to add the mention  and link in the What's New as I moved to another 7.0x doc issue.  I'll get it in...

[2022-11-01 23:11] #27464 closed

[2022-11-02 03:18] Rick-Anderson opened #27469 "Add code to an external file, then import and highlight this line."
See [this comment](https://github.com/dotnet/AspNetCore.Docs/pull/27356#discussion_r1011080264)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3a9d7eb8-6c1f-4619-00fa-9b69dbe3dcea
* Version Independent ID: 3a9d7eb8-6c1f-4619-00fa-9b69dbe3dcea
* Content: [Configuring authentication for minimal APIs](https://learn.micro

[2022-11-02 03:43] PandaWood opened #27471 "How to reduce the verbosity of logging (it takes 6 lines to see 4 properties of a single request)"
I just wanted to raise a topic on how to reduce the extreme verbosity of this logging
I only want to see method/path/query and statuscode, I'm able to do that with the config below but the output (further below) is inappropriate for me. I want only a single line of logging to see 4 simple properties, not 6 lines.

[code]

I would like to see a single line of log output to see 4 simple properties -

[2022-11-02 03:58] wadepickett opened #27472 "Create a Web API: Update prerelease specific steps after .NET 7 GA"
After .NET 7.0 GA, for the Visual Studio for Mac instruction, remove the following steps from prerelease to GA:

For the VS for Mac section detailing how to install packages from the package manager, remove this step:
* Select **Include prereleases**.

For the VS for Mac section on installing scaffolding packages and tools using CLI:
Remove the "-v 7.0.0-*" from each of the add package commands.

[2022-11-02 06:26] ritika-becker opened #27473 "ERROR java.security.cert.CertificateException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found"
Hi

Am using this library in my android app.
implementation 'com.microsoft.signalr:signalr:6.0.5'

Actually we are trying to connect android app with our local server using SignalR. We don't want to use some another hubconnectionbuilder methods. On live server everything is working fine. But on local server hub connection throws an exception.
Local server URL: https://192.168.1.150/axle-api

Here

[2022-11-02 09:32] guardrex commented on #27471
Hello @PandaWood ... The built-in logger has no facility to allow you to change that. You can open a feedback issue with the product unit to see if they would be interested in adding features to control the format of the output ...

https://github.com/dotnet/aspnetcore/issues

[2022-11-02 09:32] #27471 closed

[2022-11-02 09:34] guardrex commented on #27473
Hello @ritika-becker ... Please open this for the product unit, as we only work on the documentation here.

https://github.com/dotnet/aspnetcore/issues

[2022-11-02 09:34] #27473 closed

[2022-11-02 10:48] guardrex commented on #17294
**UPDATE (11/2/22)**: This issue is in discussion offline right now. I'll post an update as soon as I hear back if the update doesn't come directly from DR or Artak.

[2022-11-02 11:31] kh-nasser opened #27474 "error in generating url for asp-route-page"
Hi there,
it seems there is a problem with "page" as query id, since asp-route-page did not generate desired href.
im leaving my code in bellow
`<a asp-route-page="@pageIndex" class="active tm-paging-link">@i</a>
`
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a96bbb2e-2611-525f-129d-b86a491e423c
* Version Independent

[2022-11-02 14:49] bbf-007 commented on #23066
That still doesn't solve the issue. The "Prevent over-posting" section doesn't explain how to:
- Verify you can post and get the secret field.
- Update the TodoItemsController to use TodoItemDTO
- Verify you can't post or get the secret field

[2022-11-02 18:11] Rick-Anderson commented on #27474
What did it generate?

[2022-11-02 19:02] Rick-Anderson opened #27475 "Remove shape and other slang"
See https://github.com/dotnet/AspNetCore.Docs/pull/27458#discussion_r1010966820

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b09824ab-b051-75a1-13b7-b0e281cc46e0
* Version Independent ID: b09824ab-b051-75a1-13b7-b0e281cc46e0
* Content: [Minimal APIs overview](https://learn.microsoft.com/en-us/aspnet/core/fundamental

[2022-11-02 21:23] tdykstra opened #27477 "Add moniker blocks to Caching overview and Output caching articles"
* Add .NET 7 and pre-7 moniker blocks in overview article, and exclude output caching from the earlier-than-7 block
* Add displayName = cache,caching in the TOC for the caching overview article
* Add .NET 7 and pre-7 moniker blocks in Output caching article, and in the pre-7 block note it's available in 7

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.c

[2022-11-02 21:30] kh-nasser commented on #27474
nothing, href was a empty string as `<a class="tm-paging-link" href="">2</a>`

[2022-11-02 21:33] kh-nasser commented on #27474
I used as ` <a asp-route-pages="@pageIndex" class="active tm-paging-link">@i</a>` and everything was ok , it seems we plain "page" is not ok to use

[2022-11-02 21:34] tdykstra opened #27478 "MVC intro tutorial: Update prerelease specific steps after .NET 7 GA"
E.g., remove --prerelease options from CLI package install commands

Fixed by #27523

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: faf18d20-d28f-1efa-d329-181fff3630fa
* Version Independent ID: 46a7c2e0-4871-491f-02c2-54f7df2237b1
* Content: [Get started with ASP.NET Core MVC](https://learn.microsoft.com/en-us/aspnet

[2022-11-02 22:41] Rick-Anderson commented on #27389
fixed in #27415

[2022-11-02 22:41] #27389 closed

[2022-11-02 22:48] Rick-Anderson commented on #26373
@javiercn can you write the overview page for SPAs ?
We don't like to delete articles, but we have a prominent warning at the top of the page.

[2022-11-02 23:09] rafikiassumani-msft opened #27480 "Minimal API docs discoverability."
# Issue description

To make the Minimal API cheat sheet navigable, it will be nice if we could create a menu at the top with links pointing to the page fragments (H2, and H3)

# Software versions

Check the .NET target framework(s) being used, and include the version number(s).

* [X] .NET Core
* [ ] .NET 5.0 or later
* [ ] .NET Framework
* [ ] .NET Standard

[2022-11-03 01:48] Rick-Anderson commented on #26570
@captainsafia  please review

[2022-11-03 10:31] guardrex commented on #27411
I'm going to track this item via my UE tracking issue. It doesn't sound actionable near-term for docs. In-design framework features are rarely tracked here because they tend to clutter the workload with blocked issues.

Dan, I'll check back with you in 23Q1 on this.

[2022-11-03 10:31] #27411 closed

[2022-11-03 14:21] TanHoang0210 opened #27485 "ChatBox"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 85af7a99-672c-0438-dcc2-e8edfaf70c54
* Version Independent ID: 85af7a99-672c-0438-dcc2-e8edfaf70c54
* Content: [Use ASP.NET Core SignalR with Blazor](https://learn.microsoft.com/en-us/aspnet/core/blazor/tutorials/signalr-blazor?view=aspnetcore-6.0&ta

[2022-11-03 14:22] #27485 closed

[2022-11-03 14:23] guardrex commented on #27485
Hello @TanHoang0210 ... This is for opening issues pertaining to the documentation on our repo. We don't have a "docs chat" feature. For chat and community support, we recommend the usual public support channels ...

* [Stack Overflow (tag: `blazor`)](https://stackoverflow.com/questions/tagged/blazor)
* [ASP.NET Core Slack Team](https://join.slack.com/t/aspnetcore/shared_invite/zt-1b60h73p0-PZPq3Y

[2022-11-03 16:51] AntonC9018 opened #27486 "An example is wrong?"
The example in the "Ambient values and explicit values" section
[code]
will just fail, it throws on null.
Even in general, using null forgiving on null is cursed.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 32374077-e02e-d6a6-1cea-05e58447b7cd
* Version Independent ID: 86aeab13-1c25-9fc1-4e56-0390cb40c242
* Content

[2022-11-03 17:36] #27003 closed

[2022-11-03 17:53] tdykstra opened #27487 "Move .NET 7 moniker block before .NET 6"
https://github.com/tdykstra/AspNetCore.Docs/blob/main/aspnetcore/tutorials/first-mvc-app/start-mvc.md and the other 9 in the series

---
[Associated WorkItem - 33274](https://dev.azure.com/msft-skilling/Content/_workitems/edit/33274)

[2022-11-03 18:16] tdykstra opened #27488 "Minimal API tutorial: Update prerelease specific steps after .NET 7 GA"
Uncheck Include prerelease check box in VS instructions
Remove "latest preview version" from VS prereqs

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ab408035-6313-a183-9940-32de00e0e977
* Version Independent ID: ab408035-6313-a183-9940-32de00e0e977
* Content: [Tutorial: Create a minimal web API with ASP.NET Core](ht

[2022-11-03 18:27] tdykstra commented on #27359
Fixed by https://github.com/dotnet/AspNetCore.Docs/pull/27417

[2022-11-03 18:27] #27359 closed

[2022-11-03 19:00] tdykstra commented on #26476
Fixed by #27377

[2022-11-03 19:00] #26476 closed

[2022-11-03 19:01] Rick-Anderson commented on #27486
Thanks for reporting this. Any chance you could PR this? At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

[2022-11-03 19:04] guardrex commented on #27474
That's reserved ...

https://learn.microsoft.com/aspnet/core/mvc/views/razor#razor-reserved-keywords

[2022-11-03 20:30] wadepickett opened #27492 "Fix prerequisites on minimal web API with ASP.NET Core"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ab408035-6313-a183-9940-32de00e0e977
* Version Independent ID: ab408035-6313-a183-9940-32de00e0e977
* Content: [Tutorial: Create a minimal web API with ASP.NET Core](https://learn.microsoft.com/en-us/aspnet/core/tutorials/min-web-api?view=aspnetcore-

[2022-11-03 20:31] wadepickett commented on #27492
Added issue so this was tracked to pr.

Fixed with pr #27437

[2022-11-03 21:21] Rick-Anderson opened #27494 "review #27440"
review #27440

PR his PR and clean up.

---
[Associated WorkItem - 33252](https://dev.azure.com/msft-skilling/Content/_workitems/edit/33252)

[2022-11-03 21:24] #27474 closed

[2022-11-04 00:55] Rick-Anderson commented on #27317
@seekdavidlee can you suggest where in [authorization ](https://learn.microsoft.com/en-us/aspnet/core/security/authorization/introduction) this sample should be surfaced?

[2022-11-04 01:30] #27124 closed

[2022-11-04 02:59] Rick-Anderson commented on #27004
This needs to be updated for .NET 7 as HTTP/3 is no longer experimental, it's fully supported. But what about `WebTransport over HTTP/3`? Where's that blog on the topic
@wtgodbe  @JamesNK

[2022-11-04 11:24] #27337 closed

[2022-11-04 12:20] #27094 closed

[2022-11-04 20:22] xenophilios opened #27499 "View Components"
Would appreciate some guidance on whether any of the techniques described in this article can be adapted for asynchronously updating view components and, if so, how. Thank you for your trouble.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c31071a6-97f2-d0ae-22a7-10e461a3c679
* Version Independent ID: d3227595-fe2a-7

[2022-11-04 21:41] Rick-Anderson commented on #27499
This is about calling Web APIs from JavaScript. The Web APIs can be async

[2022-11-04 21:41] #27499 closed

[2022-11-04 21:55] #25350 closed

[2022-11-04 21:59] #27375 closed

[2022-11-04 22:11] Rick-Anderson commented on #26413
Add in
https://learn.microsoft.com/en-us/aspnet/core/fundamentals/minimal-apis/responses?view=aspnetcore-7.0#stream
and What's new

[2022-11-04 23:40] Rick-Anderson commented on #27004
@Daniel-Genkin-MS-2 is Kestrel support for WebTransport over HTTP/3 in .NET 7 Experimental  or does it fully support the draft?

Should I copy [this comment](https://github.com/dotnet/aspnetcore/pull/42097#issuecomment-1152792593) into this doc?

[2022-11-05 00:45] Rick-Anderson opened #27504 "HTTP/3 on IIS"
Update links which have changed. Mention it's fully supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 463c5211-c04b-b2ac-c4e8-20c7fc68f81a
* Version Independent ID: 0730968d-e379-ca78-3e4c-248b8035b14a
* Content: [Use ASP.NET Core with HTTP/3 on IIS](https://learn.microsoft.com/en-us/aspnet/core/host-and-deplo

[2022-11-05 01:05] Rick-Anderson commented on #27480
@rafikiassumani-msft  with a narrow window you get all the H3's at the top

<img width="192" alt="image" src="https://user-images.githubusercontent.com/3605364/200094176-1bb0139b-4a63-4ece-8077-9a9289e982dc.png">

That moves to the right when it gets wider
<img width="518" alt="image" src="https://user-images.githubusercontent.com/3605364/200094214-1ebc386a-9769-45a1-91ae-e24d88e58b0b.png">

I don

[2022-11-05 01:35] Rick-Anderson commented on #25902
Blazor:  https://learn.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-identity-server - cc @guardrex

Not Blazor, gRPC, or SignalR

* https://learn.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization
* https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mongo-app
* https://learn.microsoft.com/en-us/aspnet/core/security/authenticatio

[2022-11-05 01:40] Rick-Anderson commented on #25902
@HaoK  given

Above from [this comment](https://github.com/dotnet/aspnetcore/issues/41315#issuecomment-1242470839)

What do we need to update for .NET 7?

[2022-11-05 01:42] Rick-Anderson commented on #26682
Fixed in #27310

[2022-11-05 08:35] honeybadger007 opened #27507 "The Changes should be also highlighted this first query"
viewModel.Instructors = await _context.Instructors
                  .Include(i => i.OfficeAssignment)
                  .Include(i => i.CourseAssignments)
                    .ThenInclude(i => i.Course)
                        .ThenInclude(i => i.Department)
                  .OrderBy(i => i.LastName)
                  .ToListAsync();

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-11-05 10:27] guardrex commented on #25902
Since this seems to be a migration concern and because the Blazor doc doesn't refer to Duende versions, I don't think this is actionable for the Blazor doc. Let me know if I've misinterpreted this.

[2022-11-05 19:11] Rick-Anderson commented on #27507
Thanks for reporting. That will get fixed under #26505

[2022-11-05 19:11] #27507 closed

[2022-11-06 07:44] pluraltouch opened #27508 "Full of inconsitencies and unprofessional"
- The percentage lines are inconsistent
- Unprofessional usage of "design time" term. Should be "build time".

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 36f55e9a-cd3f-83a0-f142-969dc10d3ceb
* Version Independent ID: f6845f70-1ac6-2036-f213-a3b665b3d8bf
* Content: [Bundle and minify static assets in ASP.NET Core](h

[2022-11-06 09:23] StevenTCramer opened #27509 "The target "CompileTypeScript" does not exist in the project."
Following the instructions on this page fail when trying to add TypeScript support with the following message:

Error	MSB4057	The target "CompileTypeScript" does not exist in the project.	TypeScript	C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin\amd64\Microsoft.Common.CurrentVersion.targets	1154

the
[code]

There is no mention of adding `Microsoft.TypeScript.MSBuild`

[2022-11-06 11:57] guardrex commented on #27508
@pluraltouch ... I agree with you that revisions are required. I'll answer your question ...

I think the author made a small mistake. I think the goal was to demonstrate the ***savings*** associated with ***enabling B/M***, but the wrong denominator was used for the calculation. Further, the baseline ***without B/M*** should be the first column in the table.

Having said that, I recommend that we

[2022-11-06 12:10] guardrex commented on #27509
Hello @StevenTCramer ... Yep! That's probably an oversight on my part. Try adding it to the project file like this ...

[code]

... btw ... `4.8.4` is the latest stable release.

If that works out, then the guidance will need that bit ... ***AND*** it should just link to NuGet (`https://www.nuget.org/packages/Microsoft.TypeScript.MSBuild/`) to both name the package reference package and ***how to

[2022-11-06 18:43] guardrex commented on #27509
Yeah ... I just confirmed it here. I'll patch that up right now.

[2022-11-06 18:54] #27509 closed

[2022-11-07 02:58] jaypey opened #27514 "Startup.cs removal doc update"
Hi,

The Startup.cs removal from .NET 6 hasn't been reflected in the documentation for Entity Framework.

[This code snippet](https://learn.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro?view=aspnetcore-6.0#register-the-schoolcontext)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3ad06677-5842-c1aa-153f-7993a9660d

[2022-11-07 06:00] nicholasyin opened #27515 "No documentaion on the templated default Blazor layout"
There's no documentation as to the default Blazor layout itself, i.e. the MainLayout.razor and its accompanying css. In fact, the documentation doesn't even mention that this default layout uses flex layout, not the grid style.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 251fbc5f-ce3e-4036-ba2b-f641d7de4e27
* Versi

[2022-11-07 06:16] #27514 closed

[2022-11-07 08:30] guardrex commented on #27515
Hello @nicholasyin ... Part of that I don't follow, as it's described at ...

https://learn.microsoft.com/aspnet/core/blazor/components/layouts#mainlayout-component

... and the file is listed/defined in the *Project Structure* topic at ...

https://learn.microsoft.com/aspnet/core/blazor/project-structure

As for ....

Thus far ...

* The stylesheet is [cross-linked in the reference source](https:

[2022-11-07 08:41] nicholasyin commented on #27515
Some readers of the Blazor documentation, such as me, are mostly backend developers, with less or little experience of frontend programming. So, I hope there could be a little more frontend information/background knowledge there for backend developers, maybe some external resource links.

[2022-11-07 08:45] guardrex commented on #27515
Blazor docs build on the main ASP.NET Core doc set. They don't cover general front-end programming concepts. It's more like an ***add-on node*** of docs that extend and enhance the main docs. For anything specific that applies to Blazor, such as what you're asking about on this issue, we need a specific request.

[2022-11-07 09:21] nicholasyin commented on #27515
Yep, I think mentioning that the default layout utilizes flexbox instead of grid, and if users accustomed to grid style could rewrite the index.html or the main layout if they want to keep it, would be helpful.

[2022-11-07 09:23] #27515 closed

[2022-11-07 14:37] seekdavidlee commented on #27317
@Rick-Anderson - Suggested location is [Policy-based authorization in ASP.NET Core](https://learn.microsoft.com/en-us/aspnet/core/security/authorization/policies). The idea is that IAuthorizationHandler provides a place to perform runtime assertation of additional permissions with an external API-based authorization service given some claims provided via Authentication.

[2022-11-07 14:40] Procee opened #27519 "Mention creating a new scope when resolving the scoped IOptionsMonitor in Main.cs"
In the last section of the page is mentioned that you can resolve the service as follows in Main.cs:

var app = builder.Build();

var option1 = app.Services.GetRequiredService<IOptionsMonitor<MyOptions>>()
    .CurrentValue.Option1;

But I ran into an issue where I tried to resolve an IOptionsSnapshot when configuring an ApiClient which required me to create a new IServiceScope.

Maybe this is som

[2022-11-07 17:14] tdykstra commented on #27480
Rather than promoting everything, we could promote some h3s and h4s where it makes sense. E.g. "working with ports" now an h3 would work well as an h2.

[2022-11-07 19:28] Rick-Anderson commented on #27519
See [Dependency injection guidelines](https://learn.microsoft.com/en-us/dotnet/core/extensions/dependency-injection-guidelines)

[2022-11-07 19:39] Rick-Anderson commented on #27317
Fixed in https://github.com/dotnet/AspNetCore.Docs.Samples/pull/104

[2022-11-07 19:40] Rick-Anderson opened #27521 "Add info on invoking an external AuthZ service for further permissions check"
From sample created in #27317
cc @seekdavidlee

When article is published, tweet and mention https://twitter.com/EKDavidLee wrote the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b1141d92-adeb-6841-229f-914c808f9a2b
* Version Independent ID: 7089b376-949f-c1c6-c37a-5d8cc7ecf104
* Content: [Policy-based authori

[2022-11-07 21:46] #26687 closed

[2022-11-08 01:51] #27488 closed

[2022-11-08 02:30] Perustaja commented on #27438
@MackinnonBuck Here's an easy startup for each of the two different scenarios (on Windows)

```dotnet new angular - o MyApp```
```dotnet run```
This launches the application on two ports, navigating to either launches a script which runs ng serve among others, this then launches an SPA development server.

output:
[code]

[2022-11-08 09:31] OnSive opened #27530 "Prerendering url key wrong"
The prerendering header link should be `https://learn.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-javascript-from-dotnet?view=aspnetcore-3.1#prerendering` but is actually `https://learn.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-javascript-from-dotnet?view=aspnetcore-3.1#prerendering-2`.

The linking on the page does not work with the `prere

[2022-11-08 09:33] guardrex commented on #27530
Hello @OnSive ... This is a known issue with our current documentation versioning system. There is a long-range plan in place to covert over to a new versioning of doc content that will fix this link, but I don't have an exact ETA on when it will be implemented.

[2022-11-08 09:33] #27530 closed

[2022-11-08 09:50] Bouke opened #27531 "Mention limitations of pre-render size"
I was debugging an issue with a page that rendered, but started showing the "reconnecting" dialog after ~20 seconds or so. There was no error server-side and the client-side contained rather unhelpful traceback:

	log (blazor.server.js:1:115822)
	(anonymous function) (blazor.server.js:1:122515)
	asyncFunctionResume
	(anonymous function)
	promiseReactionJobWithoutPromise
	promiseReactionJob

After

[2022-11-08 10:02] guardrex commented on #27531
Thanks @Bouke ... I'll get this into the prerendering coverage, cross-linked to our SignalR coverage for the message size limit, which is minimal because we cross-link for the most part to the SignalR docs ...

https://learn.microsoft.com/aspnet/core/blazor/fundamentals/signalr#circuit-handler-options-for-blazor-server-apps

... and I'll add a warning to the prerendering coverage about the risk of

[2022-11-08 10:06] Bouke commented on #27531
Thank you! I've filed this at https://github.com/dotnet/aspnetcore/issues/44935.

[2022-11-08 10:52] #27531 closed

[2022-11-08 11:16] #27386 closed

[2022-11-08 15:45] lonix1 opened #27536 "Improve coverage of Blazor JS interop disposal patterns"
Hey @guardrex, here's another important corner case.

The blazor docs  cover js module disposal [here](https://learn.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-javascript-from-dotnet?view=aspnetcore-6.0#javascript-isolation-in-javascript-modules).

However if javascript event handlers are registered, they should (probably?!) be [released](https://developer.mozilla.org/

[2022-11-08 16:02] richward1 opened #27537 "Blazor Virtualize Docs Are Confusing"
[Here](https://learn.microsoft.com/en-us/aspnet/core/blazor/components/virtualization?view=aspnetcore-6.0) are the docs for Blazor Virtualize.

Some of the examples around the items provider delegate feel very disjointed, and are confusing.
For example, the following block:

[code]

Doesn't explain where `virtualizeComponent` is assigned, or how to hook it up (to presumably a `<Virtualize />` comp

[2022-11-08 16:03] guardrex commented on #27536
AFAIK per https://github.com/dotnet/AspNetCore.Docs/pull/27439, which Steve reviewed, that can't be called if a circuit is being disposed.

https://learn.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-javascript-from-dotnet?view=aspnetcore-6.0#javascript-interop-calls-without-a-circuit

The alternative to JS interop during disposal is to use the `MutationObserver` pattern

[2022-11-08 16:10] richward1 commented on #27537
Of course, I figured it out just minutes after opening the issue.
I needed an `@ref`...

[2022-11-08 16:11] guardrex commented on #27537
Yes, that's right, @richward1. The reason is that this doc came over directly from the product unit ... directly from Microsoft engineers who aren't too keen on showing full examples. What happens in these cases is that I take their doc, go ahead and publish it, and then as soon as possible dig into it with a set of extensive updates to include ***fully-working, cut-'n-paste examples***. That's wh

[2022-11-08 16:25] guardrex commented on #27536
Yes, that should be fine. Actually, I think I'll work on this in the near-term, so let's let this issue track it. I'll probably be able to reach this within a few weeks.

[2022-11-08 16:27] guardrex commented on #27536
***NOTE TO SELF***: Double-check cross-linking because the JS interop approach for placing JS code in an app doesn't look like it received a cross-link to the new guidance for Blazor Server where it speaks to disposal without a circuit, and this new bit for Blazor WASM will also need cross-linking from the same location.

[2022-11-08 16:53] richward1 commented on #27537
Perfect, thanks for the swift response!

[2022-11-08 16:54] WayneAASPLLC opened #27539 "Enhance coverage for passing loop vars to lambda expressions"
[EDIT by guardrex to change the metadata]

This isn't making much sense at this point. Why is the function call null but the text is not?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 81a32115-33f8-7d06-aaf0-b8ce918b5527
* Version Independent ID: 31ad18df-1904-bbdd-cfed-8d0d0267c10e
* Content: [ASP.NET Core R

[2022-11-08 17:13] #27537 closed

[2022-11-08 17:49] Rick-Anderson commented on #27519
@adityamandaleeka  please assign a reviewer.

[2022-11-08 18:08] guardrex opened #27542 "Add a load progress example"
Add a 2nd example: Use `--blazor-load-percentage` with a CSS var, as Steve shows in the .NET Conf presentation.

[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ad891f84-d11e-e334-fcdc-b55c5171fca4
* Version Independent ID: 11f8db3d-9988-e0a1-89c5-c3552ee47b93
* Content: [ASP.NET Core Blazor startup](htt

[2022-11-08 18:11] WayneAASPLLC commented on #27539
A lot of people probably expect it to stay c# standards when using @ and the half and half gets confusing on the details like this. I look forward to the new articles explaining these. Even all the info online leads incorrect directions, or they try doing javacript based solutions.

[2022-11-08 18:18] guardrex commented on #27539
We just work on the docs here, and I can only try and centralize coverage on this particular point and include cross-linking for these example NOTEs that remark on it.

You can direct product feedback or questions about it to the product unit at ...

https://github.com/dotnet/aspnetcore/issues

If you open an issue there to inquire further on it, please add a ping for me so that I can 👂 the discus

[2022-11-08 18:42] #27542 closed

[2022-11-08 19:46] WayneAASPLLC commented on #27539
I was going to create a new issue but this next one directly has to do with this one.

The OnClick now calls this, and it works until I refresh the list info. I need to be able to clear the list this loop is using and refresh it.
    async Task UpdateList(string listTextSelected)
    {
        if (currentText!= listTextSelected)
        {
            await RefreshList(teamsUserCredential); //<----

[2022-11-08 19:57] guardrex commented on #27539
I can't see what you're doing from that. Besides, we're super busy with the .NET 7 rollout at this time 🏃😅 ... for the next couple of weeks ... and we don't routinely take support requests here for individual developer coding problems. We just work on docs here. We just don't have the personnel to handle product support requests with our workload.

We recommend that general programming questions b

[2022-11-08 20:35] Rick-Anderson opened #27545 "not in toc"
@tdykstra

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e9669d35-3de1-997d-258c-745ebbdbface
* Version Independent ID: e9669d35-3de1-997d-258c-745ebbdbface
* Content: [Migrate from ASP.NET Core 6.0 to 7.0](https://learn.microsoft.com/en-us/aspnet/core/migration/60-70?view=aspnetcore-7.0&tabs=visual-studio)
* Content

[2022-11-08 20:58] #26326 closed

[2022-11-08 21:00] #26413 closed

[2022-11-08 21:02] beamand opened #27546 "RazorPagesMovie - Several issues solved - Biggest is with Codegenerator for CRUD"
Using Version 7.0.0 or a mixture of versions 6.0.* of Microsoft.EntityFrameworkCore.Design caused one of these errors:

![Screenshot 2022-11-08 122236](https://user-images.githubusercontent.com/101301345/200666599-9d5c69f3-4df5-4442-a2a9-d2cb17d01d02.jpg)

![Screenshot 2022-11-08 122029](https://user-images.githubusercontent.com/101301345/200668040-7776ab0b-2fe3-44aa-947f-bb6bf6587f83.jpg)

This i

[2022-11-08 21:02] #26682 closed

[2022-11-08 21:04] #27317 closed

[2022-11-08 21:04] WayneAASPLLC commented on #27539
Ok, I actually figured it out shortly after writing that reply heh... It was because of the 2 different lists. the lists no longer had the same count. This is resolved again

[2022-11-08 21:06] #27334 closed

[2022-11-08 21:08] #27379 closed

[2022-11-08 21:10] #27442 closed

[2022-11-08 21:12] #27477 closed

[2022-11-08 21:14] #27478 closed

[2022-11-08 21:16] #27486 closed

[2022-11-08 21:17] #27487 closed

[2022-11-08 21:17] tdykstra commented on #27545
It is in the toc.
![image](https://user-images.githubusercontent.com/1569635/200677208-d7728c26-9e75-4c2a-9f1f-e72b8d932e91.png)

[2022-11-08 21:17] #27545 closed

[2022-11-08 21:23] adityamandaleeka commented on #27519
@halter73 can you take a quick look at this?

[2022-11-08 22:23] Rick-Anderson commented on #27546
Exit and restart VS and it works. Transient error.

[2022-11-08 22:25] #27546 closed

[2022-11-08 22:34] halter73 commented on #27519
The above sample from the document already works as written because `IOptionsMonitor` is a singleton service unlike `IOptionsSnapshot` which is a scoped service and must be resolved from a scope.

@Procee what motivated you to change this to `IOptionsSnapshot`? In the [Use IOptionsSnapshot to read updated data](https://learn.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=a

[2022-11-08 22:42] Rick-Anderson commented on #27545
Arg, I couldn't see it on my mobile.

[2022-11-08 22:43] #27519 closed

[2022-11-08 23:38] tdykstra commented on #27380
Fixed by #27523

[2022-11-08 23:38] #27380 closed

[2022-11-09 00:56] #27004 closed

[2022-11-09 00:56] #27504 closed

[2022-11-09 01:51] Rick-Anderson opened #27550 "Refactor Test, debug, and troubleshoot in TOC"
Doesn't need specific API test section

At the top, misc that doesn't fit into test, debug, or troubleshoot. For example, hot reload, logging.
Then those 3 sections.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 41ab3e64-1abc-987b-13db-4e49f2d68ff3
* Version Independent ID: 41ab3e64-1abc-987b-13db-4e49f2d68ff3
* Cont

[2022-11-09 06:02] Loophole62ndFF opened #27551 "What are Tag Helpers?"
After reading the section "What are Tag Helpers", I am still left with the question "What are Tag Helpers?".  The section tells a lot about what "tag helpers" do, but I still have no idea how to recognise one if I see it in some HTML.  What does a "tag helper" look like?  How do I tell if I am looking at a "tag helper" in some random chunk of HTML I am trying to debug?

---
#### Document Details

[2022-11-09 08:27] Procee commented on #27519
Thanks for your thorough reply.

On every request the IOptions instance needs to be re-evaluated because the application serves multiple tenants, it checks which tenant is used and updates the IOptions instance accordingly with the correct BaseUrl. Which is in turn used by the HttpClient.

This is indeed the non-singleton use case. The underlying problem is that I was not aware that I had to creat

[2022-11-09 11:48] guardrex commented on #27536
@lonix1 ... Moving back over here now that Javier provided information for this.

Just for completeness here ... as a bit more ***NOTE TO SELF*** so that I don't forget ...

On the *Call JS* side, disposal of `IJSObjectReference` appears in the example at ...

https://learn.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-javascript-from-dotnet?view=aspnetcore-7.0#javascript

[2022-11-09 11:54] guardrex opened #27552 "DotNet.createJSObjectReference for calls originating from JS"
Per https://github.com/dotnet/aspnetcore/issues/26049.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2964d558-cd6d-7421-f7b9-cb939792c2cf
* Version Independent ID: a3517e56-69fc-1ec7-b55a-dbb54d68a807
* Content: [Call .NET methods from JavaScript functions in ASP.NET Core Blazor](https://learn.microsoft.com/en-us/asp

[2022-11-09 12:12] guardrex commented on #27551
Hello @Loophole62ndFF ... Part of the answer ... unfortunately tho not accessible for all devs because it's based on color vision ... is at ...

https://learn.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/intro?view=aspnetcore-7.0#intellisense-support-for-tag-helpers

An accessible approach that I don't think the topic describes is that you can rollover the tag and see that it uses the TH

[2022-11-09 12:25] #27133 closed

[2022-11-09 14:26] yugabe opened #27554 "JSImport: Not enough information regarding interop for non-module code"
The page doesn't mention the `[JSImport]` overload that only takes a single `string functionName` argument (without the `string moduleName` second parameter):

![image](https://user-images.githubusercontent.com/14803737/200842992-f176b86b-628d-42b2-98a5-c4ad195fa247.png)

This implies there is an alternate way to reference functions, but the page makes no mention of this. The API/source isn't clea

[2022-11-09 14:29] guardrex commented on #27554
Hello @yugabe ... Let's ping @pavelsavara for comment on this.

[2022-11-09 14:39] pavelsavara commented on #27554
- module name on `JSImport` is just a name. It doesn't have to be JS file. You could use `setModuleImports` to set the exports of virtual "module" and bind it to any function, even things on `globalThis`. [Example](https://github.com/dotnet/runtime/blob/feb9968ad754c7116178fdc3216dc12977bebbf0/src/mono/sample/wasm/browser/main.js#L15)
- You can pass `globalThis` prefix to `[JSImport("globalThis.co

[2022-11-09 14:53] yugabe commented on #27554
Thanks @pavelsavara, I'll take a look. I tried prefixing with "window", but it didn't work (didn't log an error either, but it's probably an issue elsewhere in my code base). This is enough for me to go on.

This could maybe worth mentioning in the docs, especially as it seems this is just undocumented, but there are test cases that support it is working. @guardrex?

[2022-11-09 15:06] guardrex commented on #27554
I'll take look, but it will probably be tomorrow/Friday due to on-going .NET 7 docs work.

[2022-11-09 15:10] pavelsavara commented on #27554
It could not fail on compile time when the attribute is processed, because we don't know if you provided `window` module at runtime. It would fail when you call the imported function.

[2022-11-09 15:26] yugabe commented on #27554
The issue was indeed in one of my test projects (Blazor didn't register some event handlers correctly, so the generated interop method wasn't called).

Using it as @pavelsavara described works as intended. Prefixing with "window" in itself does not work, but "globalThis" does. Thanks for the help.

[2022-11-09 16:07] hgmauri opened #27555 "Adjust code"
[Enter feedback here]

Chose:

`builder.Configuration..AddJsonFile("customAppSettings.json");` to:
`builder.Configuration.AddJsonFile("customAppSettings.json");`

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 71ea104c-b4a9-ce36-0b90-1fdba5956ddc
* Version Independent ID: 71ea104c-b4a9-ce36-0b90-1fdba5956ddc
* Content:

[2022-11-09 18:03] guardrex opened #27556 "Improve root components from JS example"
Per https://github.com/dotnet/aspnetcore/issues/44928#issuecomment-1309117241.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 81a32115-33f8-7d06-aaf0-b8ce918b5527
* Version Independent ID: 31ad18df-1904-bbdd-cfed-8d0d0267c10e
* Content: [ASP.NET Core Razor components](https://learn.microsoft.com/en-us/aspnet/core/blaz

[2022-11-09 18:07] #27551 closed

[2022-11-09 18:24] h8f1z opened #27558 "Move .NET 7 moniker to top"
# Anchor links in are appended with a dash followed by incrementing number

I was going through [ASP.NET Core Documentation](https://learn.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-7.0) when I clicked a link in a paragraph; [JSON configuration provider](https://learn.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-7.0#file-configuration

[2022-11-09 18:35] onurbiyik opened #27559 "Output caching middleware limits"
Docs should mention following features for output caching middleware:

- `IOutputCacheStore `is used as storage. By default MemoryCache is used. An example of how to use `IDistributedCache `would be helpful.
- Default cache limit is 100MB. When this limit is exceeded, no new responses will be cached until older entries are evicted.
- Other `OutputCacheOptions `like `MaximumBodySize `and `UseCaseSe

[2022-11-09 18:55] guardrex opened #27560 "Blazor Hot Reload 7.0 improvements"
For the 7.0 Blazor WASM section of the doc ...

* New types
* Nested classes
* Static and instance methods to existing types
* Static fields and methods to existing types
* Static lambdas to existing methods
* Lambdas that capture `this` to existing methods that already captured `this` previously

Also, it currently reads 'support for' then goes on to mention some items that aren't supported. *Cle

[2022-11-09 19:54] tdykstra commented on #27559
cc @sebastienros

[2022-11-09 19:55] beamand opened #27563 "In code, should ReleaseDate actually be Rating?"
In code, should "ReleaseDate" actually be "Rating"?

![Screenshot 2022-11-09 093334 Typo](https://user-images.githubusercontent.com/101301345/200925224-31f77b49-8ce0-4749-b918-3e4070d4b72a.jpg)

Thanks, this part of the tutorial went great.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 39b6d0f3-9bc7-d091-0d45-9fc1e2e

[2022-11-09 20:00] beamand commented on #27546
I finally got it to work thanks and finished the tutorial but there is one
item left hanging.

Where in the code would be the Best Place to Trim() the "Title" and send
back an error if the length is not greater than 3?
I tried in the Movie class but it does not like me changing the get; set;
because of some auto... setting error.
The other place I have not tried is in the Create & Edit after the
(

[2022-11-09 20:16] Rick-Anderson commented on #27546
back an error if the length is not greater than 3?

It does that automatically. See https://learn.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-7.0

[2022-11-09 20:41] wadepickett commented on #26477
No tasks left.
Last task fixed with #27454

[2022-11-09 20:41] #26477 closed

[2022-11-09 22:36] #27563 closed

[2022-11-09 22:46] #27555 closed

[2022-11-09 23:40] guardrex opened #27567 "Update Blazor WASM auth nav breaking change content update"
* https://github.com/dotnet/aspnetcore/issues/44973
* https://github.com/aspnet/Announcements/issues/497
* https://github.com/dotnet/AspNetCore.Docs/pull/27562

[2022-11-09 23:53] guardrex commented on #27536
During a release, it's pretty much .......

# ⛰️⛏️😅

... followed by a lot of ...

# 🏃🏃🏃🏃🏃🏃🏃🏃🏃🏃😅

... and then things will calm down in a week ... or ***THREE!!!*** 😆

I'll try to get back to this by the end of next week; but if you don't hear from me by then, it will slip one more week. I definitely want it resolved by 🦃 Day tho. I'd like to get a restful 🦃 weekend break before a big security doc

[2022-11-10 00:22] #27384 closed

[2022-11-10 05:31] wadepickett opened #27569 "Fix ASP.NET link at root hub of microsoft.docs"
Fix the link to ASP.NET so it does not include the version as it does right now.  It links to 6.0 content rather than just the latest by not providing a version.

---
[Associated WorkItem - 36443](https://dev.azure.com/msft-skilling/Content/_workitems/edit/36443)

[2022-11-10 05:32] wadepickett commented on #27569
PR  [Remove hard code version from ASP.NET link by wadepickett · Pull Request #1395 · MicrosoftDocs/DocsRoot (github.com)](https://github.com/MicrosoftDocs/DocsRoot/pull/1395)

[2022-11-10 07:42] JinsPeter opened #27571 "gRPC Duplex Streaming with .NET Framework using Grpc.Net.Client"
Is there no way future way to use Duplex streaming from a .NET Framework client using Grpc.Net.Client?

https://learn.microsoft.com/en-us/aspnet/core/grpc/netstandard?view=aspnetcore-6.0#net-framework

What is the underlying limitation here? Note that we were able to use Grpc.Core for duplex streaming.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com

[2022-11-10 09:22] RichardD2 commented on #23733
Not sure if this is the right place for this, but we seem to be running into an issue with shadow copying using .NET 6.x, and I'm at a loss to diagnose it.

We have a Windows Server 2019 VM hosting (currently) 15 instances of an API, all based on identical code. They're all configured with separate AppPools, all set to "no managed code", and all configured for shadow-copying.

[code]

ANCM version

[2022-11-10 10:58] kianiehsan66 commented on #26085
Is anyone working on this issue? Otherwise, I'd like to try it out, I'm new to open-source.

[2022-11-10 11:07] javiercn commented on #26373
# Architecture of Single Page Application templates

The SPA templates for Angular and React offer the ability to develop Angular and React applications that are hosted inside a .NET backend server.

At publish time, the files of the Angular and React app are copied to the wwwroot folder and are served via the static files middleware.

A fallback route handles unknown requests to the backend and s

[2022-11-10 11:08] javiercn commented on #26373
I guess these can be linked https://github.com/dotnet/AspNetCore.Docs/issues/25028

[2022-11-10 14:00] #27554 closed

[2022-11-10 15:37] begerard opened #27578 "Add more Fixes to help migration to Top Level Route"
This rule will trigger for every migration of MVC .Net6 application .Net7. It should at least give some pointer to help understand Minimal API, and give more usuals cases fixes.

For example this one already cover in a ticket https://github.com/dotnet/aspnetcore/issues/44959#issuecomment-1308223971.
And other like the properties of IEndpointRouteBuilder which are now internal and must be accessed

[2022-11-10 18:11] ctorx commented on #23733
We ran into a different issue.  The shadow copy would often be missing DLLs
that were in the original folder, causing runtime errors for missing
assemblies.  Not sure if it's related to what you're experiencing, but we
had to disable the feature.

On Thu, Nov 10, 2022 at 1:22 AM Richard Deeming ***@***.***>
wrote:

[2022-11-10 21:43] MackinnonBuck commented on #27438
@Perustaja The working directory of the application is determined by the directory where the `dotnet` command is executed, not the directory of its DLL. In this case, the `dotnet` command should be executed in the `publish` folder so published files can be discovered by the application (static assets, appsettings.json, etc).

Maybe it's worth documenting this detail in the [Host and deploy](https:

[2022-11-10 22:41] Rick-Anderson opened #27584 "the directory where the dotnet command is executed, not the directory of its DLL."
[See this comment](https://github.com/dotnet/AspNetCore.Docs/issues/27438#issuecomment-1310941311)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 62fb594f-04bf-c4d7-c94b-6cd6d8b12d75
* Version Independent ID: 64e973ac-838d-4459-06b0-4e943bff936e
* Content: [Host and deploy ASP.NET Core](https://learn.microsoft.com/en-

[2022-11-10 22:42] Rick-Anderson commented on #27438
Thanks @MackinnonBuck, I'll get that added next month or sooner.

[2022-11-10 22:46] Rick-Anderson commented on #27584
@Perustaja when you get your app running, would you be able to add this info to the doc?
At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

[2022-11-10 23:07] MackinnonBuck commented on #27438
Sounds good, thanks. By the way, it might be best to document the practical aspect of this, not the technical details. My explanation above was the technical reason why the `dotnet` command should be run from the `publish` folder, but it might suffice to add a sentence to the "Publish to a folder" section of the [Host and deploy](https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/host-

[2022-11-10 23:31] MackinnonBuck commented on #18074
I'm going to close this out - I believe each of the issues linked above have either been addressed or are no longer relevant due to product changes. Happy to reopen if there is any disagreement.

[2022-11-10 23:31] #18074 closed

[2022-11-10 23:36] Rick-Anderson commented on #27438
@MackinnonBuck  I'll add that to #27584

[2022-11-11 00:06] tdykstra opened #27585 "Improve VS Code instructions in tutorials"
1.	The docs recommend pressing Ctrl+F5 to generate launch.json/tasks.json, there is a better way –
a.	The C# extension ideally will prompt you with “Required assets to build and debug are missing…”. If so, just click “Yes”.
-or-
b.	Sometimes the C# extension will fail to put up that prompt. You can force it using “.NET: Generate Assets for Build and Debug” from the VS Code command well:
![image](h

[2022-11-11 04:30] adityamandaleeka commented on #23733
@RichardD2 Thanks for the issue report. I've filed a dedicated issue for that here: https://github.com/dotnet/aspnetcore/issues/45017

[2022-11-11 08:06] laurentkempe opened #27587 "Link broken"
The link "see the [Overwritten parameters](https://learn.microsoft.com/en-us/aspnet/core/blazor/components/?view=aspnetcore-3.1#overwritten-parameters) section of this article." is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 81a32115-33f8-7d06-aaf0-b8ce918b5527
* Version Independent ID: 31ad18df-1904-bbdd-cf

[2022-11-11 08:52] guardrex commented on #27587
Hello @laurentkempe ... This is caused by a known issue with our current versioning system. Only the latest version of internal bookmark anchors works correctly (i.e., for .NET 7 docs). The docs for 6.0, 5.0, and 3.1 will have this problem.

There's a plan in place to fix all of the broken internal links that are caused by this problem, but I don't have an ETA on when the fix will be implemented.

[2022-11-11 09:13] JamesNK opened #27588 "Add information about gRPC JSON configuration options"
There are some config options available when registering gRPC JSON services. Docs should have a table that mentions them.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 25375ca1-0ce8-a3ca-0c3a-446328f09ba1
* Version Independent ID: 25375ca1-0ce8-a3ca-0c3a-446328f09ba1
* Content: [gRPC JSON transcoding in ASP.NET Core

[2022-11-11 09:19] guardrex commented on #27552
@JinShil ... I'm working on adding `DotNet.createJSObjectReference(jsObject)` and `DotNet.createJSStreamReference(streamReference)` to the *Call .NET* article. I like your example as a potential example to show in the article. However, I'm not sure about something you're doing. For .......

[code]

What were you going to do with the event (`e`) marshalled as an `IJSObjectReference` in there?

If I

[2022-11-11 10:45] JinShil commented on #27552
It's been a long time since I submitted this bug, but if I remember correctly, I needed to conditionally call `e.preventDefault()` according to some logic in the C# `OnClick` method.  Currently, and certainly at the time I submitted the bug, Blazor did not have a way to call `e.preventDefault()` and `e.stopPropagation()` conditionally without writing the logic in Javascript.

[2022-11-11 10:48] guardrex commented on #27552
I see. Thanks for letting me know.

As you can see on the PU issue, Steve has given me a quick example to show to cover it. I won't place a full-blown example into the doc after all.

[2022-11-11 10:48] JinShil commented on #27552
I think a more prudent example would be to use the javascript keyboard events (e.g. `keydown`, `keyup`) and conditionally call `e.preventDefault()` based on which key was pressed.

[2022-11-11 11:26] #27552 closed

[2022-11-11 11:29] TimothySaunders opened #27590 "Unclear if users are removed from groups on disconnect or if this must be handled manually"
[Previous documentation](https://learn.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/working-with-groups#adding-and-removing-users) explicitly stated that there is no need to manually remove users from groups when they disconnect:
_"You do not need to manually remove a user from a group when the connection ends."_

I couldn't find anything explicitly stating this in the latest versi

[2022-11-11 11:57] storm999 opened #27592 "Any proper documentation for asp.net core with react.js project template?"
I think, there is no documentation at all for the project template named 'asp.net core with react.js'.
There are some simple and amateur guides in external websites which do contain very basic information.

In the template, there is a controller method something like : 'public IEnumerable< WeatherForecast > Get()',
I have node idea, how this method is called, how an alternative to this method coul

[2022-11-11 12:24] guardrex commented on #27592
Hello @storm999 ... This is a duplicate of other issues. It's tracked by the container issue at https://github.com/dotnet/AspNetCore.Docs/issues/16209. I added this there so that your context can be considered.

[2022-11-11 12:24] #27592 closed

[2022-11-11 14:41] AlessandroMartinelli opened #27594 "Add guidance on shared resource approach in Blazor loc article"
[Enter feedback here]
For what concerns Blazor webassembly localization, an user is likely to want to use his/her own folders hierarchy, and may not want to have the .resx file name equal to one of the .razor class using it. Thus, I think the doc is missing the following points:

- In IStringLocalizer<CultureExample2>, CultureExample2 is the name of the .resx class providing translations, not of t

[2022-11-11 15:04] guardrex commented on #27594
Hello @AlessandroMartinelli ... We won't be able to invest in anything ***too custom*** here. This is meant to be just the basic approach to loc in the simplest, most common terms. We would direct to the main doc set or to the community for anything more advanced or unusual. Let's ask Hisham for a comment on this one, he's our 👨‍🏫 *Loc Professor* 🏫 around here ...

@hishamco ... Isn't the way that

[2022-11-11 15:30] AlessandroMartinelli commented on #27594
Hi, @guardrex and thanks for the answer.
I know this may be a bit off topic, but if the _normal_ layout is actually one resx file for razor file, it could be useful to explain why. Is there a performance advantage in doing this? to me, it seems more like a risk of duplicating terms. Thus I'd like to know if there are any advantage in the _normal_ layout.

By the way: you said you'd leave details l

[2022-11-11 15:37] guardrex commented on #27594
I'll leave it to @hishamco to answer. I'm not expert at loc and only have created a handful of apps over the years that had a requirement for it.

No, this isn't the main subject matter content for loc. It's in two spots ...

https://learn.microsoft.com/en-us/dotnet/core/extensions/localization

... which is linked via the 2nd sentence of the 2nd paragraph, and it's also in ...

https://learn.micr

[2022-11-11 15:51] laurentkempe commented on #27587
Thanks for the great explanation @guardrex

[2022-11-11 16:28] guardrex commented on #27594
I fixed those links. Those docs changed location at some point and had a redirect in place. I also laid the two .NET Fundamentals links out more plainly in the coverage.

[2022-11-11 16:29] BrennanConroy commented on #27590
It's mentioned in https://learn.microsoft.com/aspnet/core/signalr/hubs?view=aspnetcore-7.0#handle-events-for-a-connection-3 but is probably a good idea to put it in the groups page as well.

[2022-11-11 16:31] TimothySaunders commented on #27590
So it is, sorry! Thanks for pointing that out :)

[2022-11-11 16:32] BrennanConroy commented on #27590
Let's keep this open for this update.

[2022-11-11 19:03] Rick-Anderson commented on #27578
Do you mean this rule is triggered for every update of ASP.NET Core 6 to 7? Can you provide the simplest possible repo?

If you're migrating Web API controllers to minimal APIs, you need to understand minimal API.

[2022-11-11 19:04] Rick-Anderson opened #27597 "Add asp0014 to TOC"
And verify the test of the ASPxxx are hooked up.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 16b83e45-7b75-639c-dc8d-cc691fd40222
* Version Independent ID: 16b83e45-7b75-639c-dc8d-cc691fd40222
* Content: [ASP0014: Suggest using top level route registrations](https://learn.microsoft.com/en-us/aspnet/core/diagnostics

[2022-11-11 19:20] wadepickett opened #27598 "Highlight .NET multitenant example for Azure Service Bus"
We have a new .NET with Azure Service Bus multitenant app sample that the development teams needs to be discoverable in the docs.

https://github.com/Azure-Samples/Cross-Tenant-Communication-Using-Azure-Service-Bus

Highlight it in [articles/dotnet-develop-multitenant-applications.md](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/dotnet-develop-multitenant-applications.md)

Not a

[2022-11-11 19:31] Rick-Anderson opened #27599 "Cheat sheet: Put most important at the top."
Until #27600, it's critical this doc provide the most important info up front.

[Read the environment 1st](https://learn.microsoft.com/en-us/aspnet/core/fundamentals/minimal-apis?view=aspnetcore-7.0#read-the-environment)
[Read the environment - Duplicate](https://learn.microsoft.com/en-us/aspnet/core/fundamentals/minimal-apis?view=aspnetcore-7.0#read-the-environment-1)

Please put order sections s

[2022-11-11 19:32] Rick-Anderson opened #27600 "Create Overview of Minimal APIs"
~@rafikiassumani-msft~ @JeremyLikness   just get a solid draft and I'll polish it off.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b09824ab-b051-75a1-13b7-b0e281cc46e0
* Version Independent ID: b09824ab-b051-75a1-13b7-b0e281cc46e0
* Content: [Minimal APIs quick reference](https://learn.microsoft.com/en-us/aspnet/co

[2022-11-11 19:42] Daniel-Majunke opened #27601 "Ihr wollt ein Feedback, gerne"
[Enter feedback here]
 eure Seiten führen mich in 90% der Fälle zu keiner Lösung ich denke manchmal das ihr nicht verstanden habt das wir nur 80 Jahre leben. Das zu installierennde Nugetpackage Install-Package Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore ist nicht mit net 6 kompatibel vielen Dank dafür.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.micro

[2022-11-11 19:58] Rick-Anderson commented on #27601
your pages don't lead me to a solution in 90% of the cases, I sometimes think that you haven't understood that we only live 80 years. The nuget package to be installed Install-Package `Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore` is not compatible with net 6 thanks for that.

It is, see https://www.nuget.org/packages/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore

[2022-11-11 19:58] #27601 closed

[2022-11-11 20:25] hishamco commented on #27594
@guardrex I'm just localization manic ;)

AFAIK localization in Blazo is quite limited especially in WASM, but I'm not sure if there's something new in the latest release coz all my work on ASP.NET Core <=> Blazor Server-Side rendering

Backing to the comment

If you mean resources folder, you can place them into your custom path. In case you dislike the mapping 1-1 per source you can too but with

[2022-11-11 20:28] hishamco commented on #27594
Frankly I didn't have a look to Blazor specific sample, but I might do. At the end localzation APIs is flexible and extensible, I did many implementation such EF, JSON, XLIFF. Also Orchard Core has PO files

So, nothing stop from doing what you want. For the docs, we already explained the RESX and path in much details, nothing to add here IMO. @guardrex correct me if i'm wrong

[2022-11-11 20:31] hishamco commented on #27594
@AlessandroMartinelli if you need any help on localization please ping, I'm available in many OSS to localize them ;)

BTW don't forgot to checkout [Oqtane Framework](https://github.com/oqtane/oqtane.framework) we did a great localization story there, especially for Blazor, have a look if you are interested

[2022-11-11 20:41] microbens1 opened #27602 "Thank you for a very clear tutorial on client and server side validation"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 582aeaf8-770f-6861-ab47-bb6a4f2206e4
* Version Independent ID: 51894773-82dc-3c71-f675-8af42cfa925f
* Content: [Part 6, controller methods and views in ASP.NET Core](https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/controller-met

[2022-11-11 20:43] guardrex commented on #27594
I don't mind checking on the two OP items that you, @AlessandroMartinelli, called out in the OP.

I'm done for the week, but I am just sitting here goofing off. I may as well check on this scenario and see what what's here.

Let me get back to you guys shortly with what I find out and we can compare notes.

[2022-11-11 21:13] guardrex commented on #27594
Ok, I see what you're getting at, @AlessandroMartinelli.

Here's what I did @hishamco in following @AlessandroMartinelli general approach:

* Create a dummy class with an arbitrary class name.

  `Localization/ComponentLocalization.cs`:

[code]

* SxS in that `Localization` folder, I placed my resource files named the same way.

  * `Localization/ComponentLocalization.resx`
  * `Localization/Compo

[2022-11-11 21:24] hishamco commented on #27594
What you did is simply a shared resource, we already did something similar in Oqtane Framework just for resource strings that are commonly used such as 'Add', `Edit` .. etc

[2022-11-11 21:25] guardrex commented on #27594
Do you know if that's documented clearly? I can go look. If I have a cross-link for a "shared resource" that describes that, then I'll cross-link to it. If not tho, then it sounds like you're saying that it would be ok to show that in the topic.

[2022-11-11 21:26] guardrex commented on #27594
mmmmm .... ok .... Yes, I see the dummy class in use in the main docs scenario on this at ...

https://learn.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-7.0#make-the-apps-content-localizable

[2022-11-11 21:29] hishamco commented on #27594
I'm sure we mentioned that somewhere, please hold on ..

[2022-11-11 21:31] guardrex commented on #27594
That doc makes it too cryptic in the most basic case.

I that that we probably should have a short section on this in the topic. I will cross-link to that topic ☝️, but I'd prefer to show something like my little test case ☝️ to make it dead simple to implement. Then if they need an `IHtmlLocalizer` or `IStringLocalizer`, they can look at that topic because I think it would be very similar to what

[2022-11-11 21:31] hishamco commented on #27594
Exactly, I saw it somewhere in our docs ;)

[2022-11-11 21:34] guardrex commented on #27594
Ok, I'll schedule this and try to knock it out quickly. We're still 🏃🏃🏃🏃🏃🏃😅 on a lot of .NET 7 work, but I'll squeeze it in.

Thanks, @AlessandroMartinelli ... I'll ping u on the PR later. Leave this issue open, as it will close automatically later.

Thanks again, @hishamco! 🥇 ***Localization Maniac***&trade; 🥇🤣

[2022-11-11 21:51] hishamco commented on #27594
IMHO we might add a paragraph to check the globalization & localization before the audience move forward into Blazor localization, no need to redundant the stuff here again

[2022-11-11 21:54] guardrex commented on #27594
I already have the cross-links at the top of this topic, but not directly to that section.

Even if the reader sees that section, my guess is that a reader wouldn't be able to figure out how simple it is. Since this won't take up very much space, I don't mind a short section here on it that refers to the preceding example that we already have in this topic.

[2022-11-11 22:21] #27602 closed

[2022-11-11 23:39] wadepickett opened #27603 "Update Enforce HTTPS in ASP.NET Core: Linux idioms and labeling"
See details in internal tracked work item in  Azure DevOps issue 30649
Linux idioms and labeling

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c7ddfb2f-5dea-5e31-2a27-02a4dc16104c
* Version Independent ID: 12ca0b9a-2638-a4ce-c45f-d4579c83dafb
* Content: [Enforce HTTPS in ASP.NET Core](https://learn.microsoft.com/en-u

[2022-11-11 23:46] wadepickett opened #27604 "Host on Linux with Nginx: Add distros RHEL/SLES and command examples that work for them"
Related to Linux content improvement project tracked internally here: [Azure DevOps 30647](https://dev.azure.com/msft-skilling/Content/_workitems/edit/30647/)

Must be finished in November sprint.

Investigate and fix for the following raised issues:
* "New standard is tabs for all three distros (RHEL/SLES/Ubuntu) as seen in this doc example: see this example: https://learn.microsoft.com/en-us/azu

[2022-11-11 23:49] wadepickett opened #27605 "Host Linux Apache: Change for RHEL, Ubuntu & SLES and Apache2"
Related to Linux content improvement project tracked internally here: [Azure DevOps 30648](https://dev.azure.com/msft-skilling/Content/_workitems/edit/30648/)

Originally written/coded for CentOS and an early Apache2.  Add/update commands and config, mods etc. for RHEL, Ubuntu and SLES plus more recent Apache2 (changes in mods, config, etc. need to be reflected, and different per Linux distro.

Th

[2022-11-12 00:03] Rick-Anderson commented on #27603
@wadepickett  make that a link.

[2022-11-12 00:06] wadepickett commented on #27598
opening and closing to auto-create Quest tracking.

[2022-11-12 00:08] wadepickett commented on #27598
opening and closing to autocreate Quest tracking.

[2022-11-12 00:08] #27598 closed

[2022-11-12 01:03] #27560 closed

[2022-11-12 08:34] Curlack commented on #26415
Not sure if naming convention is important to you, but public properties should be PascalCase'd
Just my two cents....

[2022-11-12 10:36] stajs commented on #25872
I'm also struggling with this. [Current docs](https://learn.microsoft.com/en-us/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-7.0) directs to adding an `App.razor` with a `Router` component, however then the `App.xaml.cs` gets confused with:

I don't know if `App.razor` is a specially named (expected) file. I had tried renaming it out of the way but I can't tell if the routes are being r

[2022-11-12 16:04] rmnrdi opened #27608 "repl commands don't work"
Copying a pasting the following command into the cli, as per the instructions, doesn't work correctly.

httprepl https://localhost:7159/api/todoitems
post -h Content-Type=application/json -c "{"name":"walk dog","isComplete":true}"

**If I paste it into notepad++ and put it on the same line, I get this error.**
C:\Users\rober\source\repos\TodoApi-App>httprepl https://localhost:5001/api/todoitemspos

[2022-11-12 18:24] Rick-Anderson commented on #27608
Doesn't work how?

[2022-11-12 19:01] Rick-Anderson commented on #27608
Use the default, version .NET 7 of the tutorial
https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-7.0&tabs=visual-studio&source=docs#test-posttodoitem

[2022-11-12 19:01] #27608 closed

[2022-11-12 19:10] Rick-Anderson opened #27609 "Move snippet to code file"
In [aspnetcore/includes/route-groups.md](https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/includes/route-groups.md)

Move
[code]

From embedded snippet to code like the rest of the file

`:::code language="csharp" source="~/fundamentals/minimal-apis/7.0-samples/todo-group/TodoEndpoints.cs" id="snippet_create":::`

See #27607

cc @sammychinedu2ky

---
#### Document Details

⚠ *Do not

[2022-11-12 19:26] sammychinedu2ky commented on #27609
Ok would work on that✍️ @Rick-Anderson

[2022-11-12 21:11] burkenyo opened #27610 "Great job with Swashbuckle doc page!"
This page is well-designed and helpful. I appreciate the step-by-step instructions from enabling the Swagger UI down to adding descriptive info using XML doc comments. Well done!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 14fce65f-1337-58cb-2193-8d8e0e62792d
* Version Independent ID: 59222460-a971-e76e-4fe9-23d4d7

[2022-11-12 22:00] TWolverson opened #27611 "User Secrets documentation doesn't mention incompatibility with AssemblyInfo.cs"
`AddUserSecrets<T>()` depends on the presence of the `UserSecretsIdAttribute` decorating the calling assembly. This documentation only mentions the **project setting** and doesn't clarify that what this does is generate an assembly attribute, and in particular, this doesn't happen if the project was migrated from a previous version of .NET using the Migration Assistant, where .NET Framework projec

[2022-11-12 23:52] Perustaja commented on #27438
Yes, this resolved the issue. Thank you.

[2022-11-12 23:52] #27438 closed

[2022-11-13 07:36] Yousif-FJ opened #27612 "Update Migration doc for dotnet 6 to 7 to include a fix for "untrusted SQL authority certificate""
Add a fix for the error "The certificate chain was issued by an authority that is not trusted".
This error happens when upgrading to EF core 7, and using untrusted certificate on the server. The behavior is different from EF core 6 as this error didn't happen there.
For me, this page helped me [error after upgrading SNAC applications](https://learn.microsoft.com/en-us/troubleshoot/sql/connect/cert

[2022-11-13 15:24] maroonedsia opened #27613 "Include YARP"
Hi, I think this doc should get updated with YARP scenarios. Thanks!  👍

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 62fb594f-04bf-c4d7-c94b-6cd6d8b12d75
* Version Independent ID: 64e973ac-838d-4459-06b0-4e943bff936e
* Content: [Host and deploy ASP.NET Core](https://learn.microsoft.com/en-us/aspnet/core/host-and-dep

[2022-11-13 16:38] guardrex commented on #27613
Hello @maroonedsia ... This is a dupliate of https://github.com/dotnet/AspNetCore.Docs/issues/25309.

[2022-11-13 16:38] #27613 closed

[2022-11-13 16:41] maroonedsia commented on #27613
Hi, thanks for the info. It’s an honor to open an issue that David Fowler has already opened! 😝

Regards,
Siavash Mortazavi

From: Luke ***@***.***>
Sent: Sunday, November 13, 2022 8:38
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [dotnet/AspNetCore.Docs] Include YARP (Issue #27613)

Hello @maroonedsia<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fm

[2022-11-13 16:48] rmnrdi commented on #7959
I am using Visual Studio 2022 and that doesn't work.

builder.Services.AddDbContext<ApplicationDbContext>(options => options.UseSqlServer(configuration.GetConnectionString("ConnStr")));

Error	CS0103	The name 'configuration' does not exist in the current context

[2022-11-13 18:44] colinkiama opened #27614 "Wrong using statement added to Razor Pages work with a database tutorial's Visual Studio Code examples"
Some of the VIsual Studio Code examples contain the following using statement:
[code]
This line stops the example from building when going through the tutorial with Visual Studio Code.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 03221075-5dfa-d1b6-0552-3fe88abe1d03
* Version Independent ID: b8c7d824-35ca-68fb-e3be-

[2022-11-13 19:46] Rick-Anderson commented on #27612
@Yousif-FJ  isn't that [Encrypt defaults to true for SQL Server connections](https://learn.microsoft.com/en-us/ef/core/what-is-new/ef-core-7.0/breaking-changes#encrypt-defaults-to-true-for-sql-server-connections)?

EF Core breaking changes are documented there.

[2022-11-13 20:03] Rick-Anderson commented on #27614
Stops it how? What's wrong with it?

[2022-11-13 20:06] #27610 closed

[2022-11-13 20:17] #27612 closed

[2022-11-13 22:16] colinkiama commented on #27614
On my machine, `Data/RazorPagesMovieContext.cs` is created without being in the `RazorPagesMovie.Data` namespace.

[code]
This doesn't cause any issues until the "work with a Database" Visual Studio Code code examples which starts adding using statements for the RazorPagesMovie.Data namespace.

I think the issue is with the consistency of the code examples for example in this section: https://lear

[2022-11-13 22:19] colinkiama commented on #27614
Here's an example of the error that occurs on build:
[code]

[2022-11-13 23:42] Rick-Anderson commented on #27614
@wadepickett can you investigate ASAP?

[2022-11-14 01:41] wadepickett commented on #27603
Updated the issue title and summary.  Sorry Rick. Fixed now.

[2022-11-14 03:45] Aeroverra commented on #7212
Please don't use the interface in the docs if there is no interface to use...

[2022-11-14 04:36] JamesNK commented on #27588
This is already done on a different page - https://learn.microsoft.com/en-us/aspnet/core/grpc/json-transcoding-binding?view=aspnetcore-7.0#customize-json

[2022-11-14 08:07] AlessandroMartinelli commented on #27594
Hi,
thank you for all the answers, really more than I asked for :)

The only thing I think it could be useful is a comparison in terms of advantages between the following two scenarios

- Localization keys (the terms to be translated) taken from a constants file. This would help guarantee uniqueness of keys but would introduce a little overhead since all terms have to be inserted in the constants

[2022-11-14 08:23] begerard commented on #27578
No, I mistake "top level route" to "Minimal API", sorry. I think this rule help should give more information about "top level route" and migration from "endpoint" style MVC to "top level route" style, like the example I give.

That said, as "top level route" and "Minimal API" can be mixed up, adding a link to Minimal API documentation would be helpful too.

[2022-11-14 09:27] JinsPeter commented on #27571
@JamesNK

[2022-11-14 10:02] JamesNK commented on #27571
The limitation is in Windows.

We use WinHttp for HTTP/2, and it didn't support duplex streaming. It is coming, but I don't know which version of Windows. Have you tried it with the latest Win11 2022 release? It might work there.

[2022-11-14 11:44] guardrex commented on #27594
Sure thing. I hope to reach this within a week before the 🦃 holiday break here.

I don't think the guidance on that subject would be different from whatever is recommended for MVC apps (views) and Razor Pages apps (pages). It's best for the main doc set loc topics to cover that angle. However, I don't see anything on that in the [*Overview* topic](https://learn.microsoft.com/en-us/aspnet/core/fund

[2022-11-14 12:49] mke21 opened #27616 "Still mentions startup.cs"
[Enter feedback here]
Seems to still mention startup.cs while that is replaced by code in program.cs since dotnet 6. Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3ad06677-5842-c1aa-153f-7993a9660dfa
* Version Independent ID: 8daf79df-eac4-358b-e6f0-6def45bd54da
* Content: [Tutorial: Get started with E

[2022-11-14 13:08] #27616 closed, assigned to nobody

[2022-11-14 16:10] rmnrdi commented on #27608
I put how it didn’t work in the body of the message….

From: Rick Anderson ***@***.***>
Sent: Saturday, November 12, 2022 1:25 PM
To: dotnet/AspNetCore.Docs ***@***.***>
Cc: Robert Minardi ***@***.***>; Author ***@***.***>
Subject: Re: [dotnet/AspNetCore.Docs] repl commands don't work (Issue #27608)

Copying a pasting the following command into the cli, as per the instructions, doesn't work correc

[2022-11-14 16:14] rmnrdi commented on #27608
That just came out the other day and probably won't  be using that version for my project. Is there something wrong with the .NET 6 tutorial?

It is a cool tutorial, I just can't get repl working to complete it

[2022-11-14 16:56] Siphonophora opened #27619 "Broken links in config docs"
Many or maybe all of the links like `https://learn.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-7.0#host` with the `#link` suffix are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb4d762-3910-2c57-8741-3306c15537b6
* Version Independent ID: ba2254a0-ea8e-9b28-e94b-edd0fc58c043

[2022-11-14 17:43] Siphonophora opened #27620 "Document how Configuration merges arrays/dictionary"
I have been trying to troubleshoot issues with arrays being merged between `appsettings.json` and the environments specific file and I finally found what is going on explained here https://github.com/dotnet/runtime/issues/36569#issuecomment-1107003676. Given this is expected behavior AND its counterintuitive it really needs to be documented here.

I think docs need to cover 2 things.
1. The way ar

[2022-11-14 17:44] Siphonophora commented on #27620
btw, this post https://levelup.gitconnected.com/overriding-an-array-configuration-object-4d93470e97d0 has links to a bunch of github/stackoverflow discussions about this being confusing.

[2022-11-14 18:41] #27578 closed

[2022-11-14 19:02] Rick-Anderson commented on #27608
Nope, it works for me and many customers. You don't need .NET 7  to use Swagger,  Why don't you want to use the latest released version of .NET?

Figure it out and post back here what you did wrong with [HttpRepl](https://learn.microsoft.com/en-us/aspnet/core/web-api/http-repl/?view=aspnetcore-6.0&tabs=windows)

[2022-11-14 19:20] #27558 closed

[2022-11-14 19:20] #27619 closed

[2022-11-14 19:41] Rick-Anderson opened #27625 "Review: Migrate from ASP.NET Core 6.0 to 7.0"
This has most of the migration info but needs a comprehensive review.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e9669d35-3de1-997d-258c-745ebbdbface
* Version Independent ID: e9669d35-3de1-997d-258c-745ebbdbface
* Content: [Migrate from ASP.NET Core 6.0 to 7.0](https://learn.microsoft.com/en-us/aspnet/core/migrat

[2022-11-14 19:50] guardrex opened #27627 "Test issue for automagical comment"
Per https://github.com/dotnet/AspNetCore.Docs/pull/27617.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc28995-6784-a7d2-5c0b-9811a8d19c1a
* Version Independent ID: 1668c8fb-024c-c86d-d4d5-e22e3355c04b
* Content: [ASP.NET Core Blazor](https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-7.0)
* Cont

[2022-11-14 19:50] #27627 closed

[2022-11-14 19:51] guardrex commented on #27627
I'll try merging to live and test again.

[2022-11-14 20:00] guardrex opened #27629 "Test issue for automagical comments"
Per https://github.com/dotnet/AspNetCore.Docs/pull/27617.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc28995-6784-a7d2-5c0b-9811a8d19c1a
* Version Independent ID: 1668c8fb-024c-c86d-d4d5-e22e3355c04b
* Content: [ASP.NET Core Blazor](https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-7.0)
* Cont

[2022-11-14 20:03] WayneAASPLLC opened #27630 "Browser Resize JS won't re-register after tab changes."
I am currently trying to re-register an event I am using upon switching tabs.

I have tried:
1. Adding an IDisposable
2. Can't find a way to make it register more globally via the TabConfig.razor file, couldn't find ways to call the variables.
3. Make the main variables static on Welcome.razor and use them on another tab.

The JS is:
[code]

I created the following Class:
[code]

added as singleto

[2022-11-14 20:04] rmnrdi commented on #27608
Why would I post something I did wrong in Github?

I displayed what I pasted into the terminal, I put the errors in it.

Is what I copy\pasted incorrect? Assuming that’s my port number. Which it is.

From: Rick Anderson ***@***.***>
Sent: Monday, November 14, 2022 2:02 PM
To: dotnet/AspNetCore.Docs ***@***.***>
Cc: Robert Minardi ***@***.***>; Author ***@***.***>
Subject: Re: [dotnet/AspNetCore.Do

[2022-11-14 20:08] guardrex commented on #27630
Hello @WayneAASPLLC ... I'm sorry, we don't work on individual developer coding tasks and apps here. We only work on the documentation. Try the usual public support forums. We recommend ...

* [Stack Overflow (tag: `blazor`)](https://stackoverflow.com/questions/tagged/blazor)
* [ASP.NET Core Slack Team](https://join.slack.com/t/aspnetcore/shared_invite/zt-1b60h73p0-PZPq3YCCaPbB21RcujMSVA)
* [Blazo

[2022-11-14 20:11] guardrex commented on #27629
@Rick-Anderson ... Ok, at least it detected the code. Here's the error that it threw ...

Error: .github#L1
peter-evans/create-or-update-comment@5adcb0bb0f9fb3f95ef05400558bdb3f329ee808 is not allowed to be used in dotnet/AspNetCore.Docs. Actions in this workflow must be: within a repository that belongs to your Enterprise account, created by GitHub, or matching the following: peter-evans/create-p

[2022-11-14 20:11] Rick-Anderson commented on #27608
That's the open source way, to help others that made the same mistake. Another GitHub best practice is to not reply to email but directly at the issue.

[2022-11-14 20:12] guardrex commented on #27629
I'll do some research on that and see what's what.

[2022-11-14 20:21] guardrex commented on #27629
Might be missing the `token` ... I'll try that.

[2022-11-14 20:24] WayneAASPLLC commented on #27630
There should be documentation on using Events in Blazor with the Teams Toolkit Tab option? However, it only gives information on a single page/tab working.

[2022-11-14 20:25] nbourgogne opened #27633 "No such Authentication type"
The very first step requires to create an ASP.Net Core Web App, selecting "Individual Accounts" as the Authentication Type.
I have no such option
![image](https://user-images.githubusercontent.com/115178919/201758635-eab1e033-dc6f-4310-92ee-6ea86c1306af.png)

Am I missing something?

[2022-11-14 20:28] guardrex commented on #27630
Ah ... I never did get a chance to research that further. I'm still working on the .NET 7 release content 🏃, which is our highest priority at the moment.

I'll re-open and ask ..........

@mkArtakMSFT ... Are you familiar with what "Teams Toolkit" is and how it might not be playing nicely with Blazor --- ***OR*** --- where @WayneAASPLLC should open an issue for trouble with it? I have no experienc

[2022-11-14 20:29] guardrex commented on #27629
... another choke💥 with the same startup error ...

# 🤔

I'll do some more research on this.

[2022-11-14 20:31] guardrex commented on #27629
Makes me think that it's trying to open the comment on some other repo.

Doesn't make any sense, given that GH is the one that would be creating the comment.

# 😵

[2022-11-14 20:42] #27633 closed

[2022-11-14 20:43] rmnrdi commented on #27608
Is it the “Open source way” to ask for more information in a ticket and then close the ticket (as completed?) about an hour later?

Also, I’m getting emails, so I’m replying to emails…

From: Rick Anderson ***@***.***>
Sent: Monday, November 14, 2022 3:11 PM
To: dotnet/AspNetCore.Docs ***@***.***>
Cc: Robert Minardi ***@***.***>; Author ***@***.***>
Subject: Re: [dotnet/AspNetCore.Docs] repl comma

[2022-11-14 20:55] #27629 closed

[2022-11-14 21:24] WayneAASPLLC commented on #27630
scratch that, I managed to figure out what is wrong myself:
https://stackoverflow.com/questions/74437624/teams-tookit-blazor-unable-to-use-resize-event-across-multiple-tabs

[2022-11-14 21:24] #27630 closed

[2022-11-14 22:11] wadepickett commented on #27614
@Rick-Anderson,

Following the tutorial as it is published now, on VSC for Windows, you do get the following for Data/RazorPagesMovieContext.cs:

using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.EntityFrameworkCore;
using RazorPagesMovie.Models;

    public class RazorPagesMovieContext : DbContext
    {
        public RazorPagesMovieC

[2022-11-14 23:36] wadepickett commented on #27614
@Rick-Anderson
Removing:
`using RazorPagesMovie.Data;`

from the _SeedData.cs_ code in steps for [Work with a database - Seed the database](https://learn.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/sql?view=aspnetcore-7.0&tabs=visual-studio-code#seed-the-database) allows it all to work fine.

I am not catching on to why the connection string is set as "Data Source=.db" plus the RazorPage

[2022-11-15 02:36] Rick-Anderson commented on #27614
@wadepickett open a scaffold bug. If it's creating a file outside the root folder without the folder name in the namespace, that's a bug.

Use the simplest possible instructions in the repo.

something like

1. Create a new RP web app in VS, call in ...
2. Create a model (doesn't need to be in models folder)
3. Create the Pages/Movies folder
4. Scaffold

Then have CLI instructions to do the same

[2022-11-15 05:23] yogyogi opened #27635 "Syntax problem @onclick="Navigation.NavigateTo("/counter")""
[EDIT by guardrex to add the metadata. @yogyogi ... Please use the **This page** feedback form at the bottoms of topics to open issues.]

# Issue description

The problem is for the syntax of onclick event for blazor routing and navigation page. The code is from "Handle/prevent location changes" section.

# Software versions

Check the .NET target framework(s) being used, and include the version n

[2022-11-15 05:42] wadepickett commented on #27614
Ok thanks Rick.  Honestly I don’t know where that scaffolding repo is that the bug should go into.  Where is it?
________________________________
From: Rick Anderson ***@***.***>
Sent: Monday, November 14, 2022 6:36:30 PM
To: dotnet/AspNetCore.Docs ***@***.***>
Cc: Wade Pickett ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/AspNetCore.Docs] Wrong using statement added to Razor Pages work

[2022-11-15 09:56] guardrex commented on #27635
Please re-open this issue using the **This page** feedback button and form at the bottom of the **English-US** topic. Use of the **This page** feedback form adds metadata to your GitHub issue that cross-links the topic and automatically pings the author.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

[2022-11-15 10:08] guardrex commented on #27635
Thanks for the report @yogyogi ... I'll fix this right now.

[2022-11-15 10:33] #27635 closed

[2022-11-15 11:16] martinlingstuyl opened #27638 "Lazy loaded `BlazorCustomElements.js` file does not adhere to the `loadBootResource` configuration"
[EDIT by guardrex to add the metadata]

Hi guys,

Since .NET 7 is out, I've been test driving Blazor WASM to see how to use it in combination with other frameworks.

I've configured the following to be able to point the loading of resources to a specific server.
https://learn.microsoft.com/en-us/aspnet/core/blazor/fundamentals/startup?view=aspnetcore-7.0#load-boot-resources

Which works nicely.

I

[2022-11-15 13:34] guardrex commented on #27638
Hello @martinlingstuyl ... Please use the **This page** feedback button and form at the bottom of the **English-US** topic. Use of the **This page** feedback form adds metadata to your GitHub issue that cross-links the topic and automatically pings the author.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

[2022-11-15 13:40] guardrex commented on #27638
I see what ur saying. This isn't a docs issue at this point. Open this for the product unit at ...

https://github.com/dotnet/aspnetcore/issues

Please add ...

[code]

... to the bottom of your opening comment so that I can follow along. I might re-open this for doc work depending on what they say.

[2022-11-15 13:40] #27638 closed

[2022-11-15 13:43] guardrex commented on #27638
I'll keep an 👁️ on your PU issue and re-open this if they explain something good for coverage on this scenario.

[2022-11-15 13:51] martinlingstuyl commented on #27638
Thanks!

[2022-11-15 13:51] chased316 opened #27641 "Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore required but not included in instructions"
[Enter feedback here]
This tutorial also requires [Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore](https://www.nuget.org/packages/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ab408035-6313-a183-9940-32de00e0e977
* Version Independent ID: ab408035-6313-a183-

[2022-11-15 13:57] guardrex commented on #27641
Hello @chased316 ... It's the last bullet of ...

https://learn.microsoft.com/en-us/aspnet/core/tutorials/min-web-api?view=aspnetcore-7.0&tabs=visual-studio#add-nuget-packages

@Rick-Anderson ... Let me know if you would like me to pitch a PR to address this.

[2022-11-15 16:41] geetmenon opened #27644 "When does the ClaimsTransformation get invoked?"
If you have say a custom Authorization filter, a custom Resource filter and a custom Action filter as well as a registered IClaimsTransformation implementation, then at what point in the pipeline does Claims Transformation get invoked? The documentation does not talk about this.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-11-15 17:08] ParaxxTwo opened #27645 "WebOptimizer not compatible with .NET6/7"
Why would you write that ASP.NET Core is compatible with WebOptimizer when it is not compatible with .NET6/7. Please advise. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 36f55e9a-cd3f-83a0-f142-969dc10d3ceb
* Version Independent ID: f6845f70-1ac6-2036-f213-a3b665b3d8bf
* Content: [Bundle and minify static as

[2022-11-15 17:28] guardrex commented on #27645
Yes, Rick ... it doesn't look good ... weakly supported at best and probably broken for .NET 6 or later ...

* https://github.com/ligershark/WebOptimizer/issues/239
* https://github.com/ligershark/WebOptimizer/issues/232

... but one commenter said they got it working without saying how ...

https://github.com/ligershark/WebOptimizer/issues/227

... and one person saying that they figured out the

[2022-11-15 17:42] Rick-Anderson commented on #27614
https://github.com/dotnet/Scaffolding

[2022-11-15 17:49] Rick-Anderson commented on #27645
Dup of  #20808

[2022-11-15 17:49] #27645 closed

[2022-11-15 17:50] guardrex commented on #20808
For visibility, I'll add the one at ...

https://github.com/ligershark/WebOptimizer/issues/210#issuecomment-1029860096

... as it might be a valid workaround for the time being.

[2022-11-15 19:53] MackinnonBuck commented on #25889
@kikaragyozov If you have a change you'd like to propose, please feel free to submit a PR. Thanks!

[2022-11-15 20:13] Rick-Anderson commented on #25889
That would be great, please do.

[2022-11-15 21:08] wadepickett commented on #27614
Also of note: since the db context name is being provided and the cli tool seems to be completely ignoring that on output.

[2022-11-15 21:20] frank-hoffman opened #27648 "Incorrect UI location"
The article reads: "In a Blazor Server app, customize the experience in the Pages/_Host.cshtml file:"

However, this code actually exists in Pages/_Layout.cshtml

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: adbc1392-92dc-c42e-ba48-a722cffa9b6d
* Version Independent ID: 66a0b1c2-c45c-98ca-9808-6f340a861c44
* Content:

[2022-11-15 21:22] guardrex commented on #27648
Hi @frank-hoffman ... It depends on the version ... it changed to `_Layout.cshtml` for 6.0 but then back to `_Host.cshtml` for 7.0. I'll check and see if all of the versioning are correct right now. BRB ...............

[2022-11-15 21:26] #27648 closed

[2022-11-15 21:26] frank-hoffman commented on #27648
Thanks I see it now

[2022-11-15 21:27] tdykstra opened #27649 "Move What's new in docs to What's new section of toc"
![image](https://user-images.githubusercontent.com/1569635/202028594-0736d7ba-d9bd-41a2-83d1-a7141f8adbb7.png)

[2022-11-15 21:37] guardrex opened #27651 "Test issue"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc28995-6784-a7d2-5c0b-9811a8d19c1a
* Version Independent ID: 1668c8fb-024c-c86d-d4d5-e22e3355c04b
* Content: [ASP.NET Core Blazor](https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-7.0)
* Content Source: [aspnetcore/blazor/index

[2022-11-15 21:38] #27651 closed

[2022-11-15 22:01] MackinnonBuck commented on #13951
This was done in https://github.com/dotnet/AspNetCore.Docs/pull/16414

[2022-11-15 23:02] MackinnonBuck commented on #17484
This doesn't appear to be a scenario we currently support, so there isn't anything to document here. We have issues tracking improvements to this area.

[2022-11-16 03:10] Rick-Anderson commented on #27620
Like appsettings.json and appsettings.Production.json?
I'll add item 1 but item 2 is very niche.
Thanks for bringing this to our attention with links to solutions.

[2022-11-16 11:41] ricsiLT opened #27654 "Possible mistake in flow control documentation section"
Specifically, these lines:

[code]
Wouldn't it be 4MB in `InitialConnectionWindowSize` in that case?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 484737e7-abb8-c142-35f8-22a35817270d
* Version Independent ID: 9e412677-c511-9f5b-4654-95e0177c7dd4
* Content: [Performance best practices with gRPC](https://learn.microso

[2022-11-16 14:53] nkumars opened #27656 "Issue in the CallbackPath"
Hi,
Our application is hosted in a web app and routing is done by Azure front door (AFD), the custom domain is set in AFD. Everytime when web app challenges for authentication the `redirect_uri` holds the value of the server hosted in raw url (something like ***.azurewebsites.net**) followed by **CallbackPath** set in `appSettings.json`. This is confusing to experience as why can't we set the redi

[2022-11-16 16:20] nkumars commented on #27656
A small update, now that I'm able to change the `redirect_uri` by changing in `OnRedirectToIdentityProvider` event. But with the below code, every forbid request is routed to `https://tst-am-us-n-one.azurewebsites.net/error/forbidden` instead of `https://tst-am.one.com/error/forbidden`
[code]

The same applies to the below code as well:
[code]

[2022-11-16 16:27] 81CuongVn opened #27657 "fix bug again"
# Before you open an issue

If the issue is with an ASP.NET Core document:

* Do **not** open a new issue using this form.
* Open the issue with the **This page** button and form at the bottom of the document's page.

Using the **This page** button and form to open an issue:

* Adds article metadata for tracking, which indicates the article that you're commenting on.
* Automatically notifies the a

[2022-11-16 16:31] #27657 closed

[2022-11-16 17:28] #27584 closed

[2022-11-16 18:36] javiercn commented on #26948
We have docs for this here https://learn.microsoft.com/en-us/dotnet/maui/user-interface/controls/blazorwebview?source=recommendations&view=net-maui-7.0

[2022-11-16 18:36] #26948 closed

[2022-11-16 19:01] adityamandaleeka commented on #27644
@HaoK PTAL

[2022-11-16 19:08] wadepickett commented on #27614
Tracking product issue: dotnet/Scaffolding#2104

[2022-11-16 19:53] jstafford5380 opened #27662 "This example assumes 1 instance"
I think this example assumes that you only have one instance of the application running. If there were multiple (i.e. production), then you couldn't necessarily guarantee that both users are connected to the same instance in order for chat to work. It would help to call this out and/or link to an article describing out to integrate with an external hub (and not just signalr for azure) which I have

[2022-11-16 19:53] JeremyLikness commented on #27600
Will do. Expect a draft by Thanksgiving. Thanks.

[2022-11-16 20:26] guardrex commented on #27662
Hello @jstafford5380 ... You need sticky sessions for that scenario. It's covered in the *Host and deploy* doc ...

https://learn.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/server?view=aspnetcore-7.0#signalr-configuration

I'll check and see if there's a cross-link missing here in the additional resources area.

[2022-11-16 20:28] guardrex commented on #27662
*Confirmed!* The cross-link to the *Host and deploy* doc is in the *Additional resources* section.

Note that this is just a tutorial for a basic experience. The reference docs take care of the rest of the coverage, and the main SignalR docs apply.

[2022-11-16 20:28] #27662 closed

[2022-11-16 20:32] guardrex commented on #27662
btw for ...

We cross-link out for IIS, and we have a bit for Kubernetes there. The Linux docs ***might*** have coverage on it in the main doc set *Host and deploy* coverage and/or via the SignalR node of the main doc set.

Other server products will need to provide their own docs. We can't cover every server out there that MS doesn't own.

[2022-11-16 23:43] wadepickett commented on #27569
Fixed by MicrosoftDocs/DocsRoot#1395

[2022-11-16 23:44] #27569 closed

[2022-11-17 00:00] Siphonophora commented on #27620
Yeah

For work arounds, I was just tossing out options. Understood it needs to be broadly applicable.

Maybe in some cases the best guidance is not to put array or dictionary config in `appsettings.json` at all. If you want to use that kind of config (and that seemed pretty common from the links in that blog post) then you should only configure it in `appsettings.[environment].json`.

[2022-11-17 03:12] timheuer opened #27663 "Location of `user-jwts` data is incorrect"
The document shows a path to the secrets.json file instead of the user-jwts.json file

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f76a2aaf-732a-f686-343b-d811faa43d44
* Version Independent ID: f76a2aaf-732a-f686-343b-d811faa43d44
* Content: [Generate tokens with dotnet user-jwts](https://learn.microsoft.com/en-us/a

[2022-11-17 05:31] #27663 closed

[2022-11-17 05:36] #27654 closed

[2022-11-17 06:09] midhunpr opened #27666 "Code is not building"
[Enter feedback here]

The piece of code shared is not compiling. There are missing code snippets.

![image](https://user-images.githubusercontent.com/17022903/202370064-412be6e4-108d-430b-973c-94eb66bdf615.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ab408035-6313-a183-9940-32de00e0e977
* Version Independent I

[2022-11-17 09:32] anderejd commented on #18405
This documentation is what helped me:
https://learn.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.spaservices.spaoptions?view=aspnetcore-6.0

The code that seems to work for me is:
[code]

For my case it was important to set `DefaultPageStaticFileOptions`.

[2022-11-17 14:09] guardrex opened #27669 "Test issue"
This is only a test!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc28995-6784-a7d2-5c0b-9811a8d19c1a
* Version Independent ID: 1668c8fb-024c-c86d-d4d5-e22e3355c04b
* Content: [ASP.NET Core Blazor](https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-7.0)
* Content Source: [aspnetcore/blazor/index.

[2022-11-17 14:10] #27669 closed

[2022-11-17 14:57] #27594 closed

[2022-11-17 15:18] hi-diego opened #27671 "ASP.NET Core Identity is broken, it implements explicitly an old version of Duende API."
This is broken, AspNetCore is using a depercataded version of Duende as you can see in this Open issue https://github.com/dotnet/aspnetcore/issues/44990

[ApiAuthorizationDbContext.cs](https://github.com/dotnet/aspnetcore/blob/c85baf8db0c72ae8e68643029d514b2e737c9fae/src/Identity/ApiAuthorization.IdentityServer/src/Data/ApiAuthorizationDbContext.cs) implements explicitly the old Duende API.

Duend

[2022-11-17 18:12] Rick-Anderson commented on #27666
You missed a step

[2022-11-17 18:12] #27666 closed

[2022-11-17 19:13] guardrex opened #27673 "Test Issue"
This is a test of the holiday message action for Blazor issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc28995-6784-a7d2-5c0b-9811a8d19c1a
* Version Independent ID: 1668c8fb-024c-c86d-d4d5-e22e3355c04b
* Content: [ASP.NET Core Blazor](https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-7.0)

[2022-11-17 19:18] guardrex commented on #27673
# 🎉 ***YES! INDEED!*** 🎉

@Rick-Anderson ... This 🎸 ***ROCKS!!!***

I'm going to merely update the label check to "`Blazor2`" to turn it off between holidays.

I made that message ☝️ generic WRT the holiday (i.e., it's not tied to a particular religion or anything ... just fall/winter and gifts).

My plan is check once per day during holidays for 🪲 reports. I squash 🪲 reports immediately, but anyt

[2022-11-17 19:18] #27673 closed

[2022-11-17 19:25] guardrex commented on #27673
btw ---- For the future, it would be even cooler if in addition to the `Blazor` label test it would determine if it should fire this Action based on my ***GH Status***! Then, I wouldn't need to update the file. I might look into that idea later.

[2022-11-17 19:43] Rick-Anderson commented on #27673
That shouldn't be too hard, but then again, updating the file is pretty easy.

[2022-11-17 19:54] tdykstra commented on #27559
Per discussion offline with @sebastienros, we don't recommend using `IDistributedCache` with output caching because it doesn't have atomic features, which makes tagging brittle.

[2022-11-17 21:36] wadepickett commented on #27614
Development team took a look at this issue and will work on it.

In between time the solution is to update the tutorials to specify the namepace in the  `-dc` in the scaffolding command:

Here is the suggestion provided:
The namespace name is added for the DbContext if a . separator is used when specifying the db context, ala, `dotnet aspnet-codegenerator razorpage -m Movie -dc **BlahNamespace**.R

[2022-11-17 22:51] Rick-Anderson commented on #26505
@ajcvickers  mention me and @tdykstra  on doc issues in https://github.com/dotnet/EntityFramework.Docs and we'd be happy to help to free up time for the EF Core code update in this topic.

[2022-11-18 00:58] RCRoeder-ATSDuct opened #27676 "Issue with Movie Model"
I had no end of issues with using     _public decimal Price { get; set; }_ and getting errors and no database in the scaffolding. Once I changed it to     _public Decimal Price { get; set; }_  * Decimal vs decimal The issue went away. With decimal it did not appear to know the accuracy and precision either in .net 7 or .net 7 with sql server 15.02000.5 and VS CE 2022 64b 17.4.1

---
#### Document

[2022-11-18 01:25] #27550 closed

[2022-11-18 17:15] Kevin-Andrew opened #27680 "Blazor WebAssembly Does Not Support Large File Uploads"
It is a pretty glaring omission, in my opinion, by you guys not to mention the fact that Blazor WebAssembly does not support uploading of large files, say 2 GB, to a remote server.

The section "Upload files to a server" (https://learn.microsoft.com/en-us/aspnet/core/blazor/file-uploads?view=aspnetcore-6.0&pivots=webassembly#upload-files-to-a-server-1) neglects to mention anything about there bein

[2022-11-18 17:49] #24541 closed

[2022-11-18 19:12] guardrex commented on #27680
Thanks for the issue, @Kevin-Andrew. Yes ... as you indicated from your product issue search, I thought that the product unit resolved the underlying problems with the hard limit for Blazor WASM, including any problems from the WASM client in a hosted WASM scenerio, per the work they did on https://github.com/dotnet/aspnetcore/pull/33986.

We'll need to have Tanay take a look at this next week. I'

[2022-11-18 19:53] glen-84 commented on #22021
@javiercn

This still doesn't work for me. When running `dotnet watch` I get:

      The ASP.NET Core developer certificate is not trusted. For information about trusting the ASP.NET Core developer certificate, see https://aka.ms/aspnet/https-trust-dev-cert.

I have followed your instructions above, and I've also done the [Ubuntu trust the certificate for service-to-service communication](https://

[2022-11-18 20:40] codezerox86 opened #27682 "Meaning of note: "Insecure gRPC services must be hosted on a HTTP/2-only port""
What does this mean: "Insecure gRPC services must be hosted on a HTTP/2-only port" ?

Does this mean we can not listen on port 80 as HTTP/2 endpoint without TLS ? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c730b5f9-031e-beab-b838-6e2f8befde30
* Version Independent ID: 84ddcb67-03be-655c-470a-f43a5152606f
*

[2022-11-18 23:33] tdykstra opened #27687 "Show how to use a custom policy in output caching"
By default, output caching follows these rules:

* Only HTTP 200 responses are cached.
* Only HTTP GET or HEAD requests are cached.
* Responses that set cookies aren't cached.
* Responses to authenticated requests aren't cached.

Show how to override these rules by creating a custom policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub iss

[2022-11-19 01:11] #27559 closed

[2022-11-19 01:56] Rick-Anderson commented on #27671
Let's close this until https://github.com/dotnet/aspnetcore/issues/44990 is resolved.

[2022-11-19 01:56] #27671 closed

[2022-11-19 13:29] tomap opened #27693 "Support Redis Clusters with Redis 7 & SSubscribe/SPublish"
Hello,

Currently, the way to scale out SignalR servers is to rely on a backplane.
Unfortunately, this backplane cannot be made redundant by using a Redis Cluster because the current behavior of SignalR is to use Subscribe/Publish commands which are not relayed to the other nodes of a redis cluster

Redis 7 introduced SSubscribe & SPublish which is a pub sub mecanism compatible with cluster (aka m

[2022-11-19 14:06] guardrex commented on #27693
Hello @tomap ... Is this a documentation-only request, or does the support you're requesting pertain to first have updates to SignalR in the framework? ... then docs later if the product unit decides to take on the request.

[2022-11-19 16:19] kodaicoder opened #27694 ""GetCompleteTodos" Method is missing."
On `Update the code in Program.cs to use this DTO model`

` GetCompleteTodos`  Method is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ab408035-6313-a183-9940-32de00e0e977
* Version Independent ID: ab408035-6313-a183-9940-32de00e0e977
* Content: [Tutorial: Create a minimal web API with ASP.NET Core](https://l

[2022-11-19 17:46] Rick-Anderson commented on #27694
That's left to the reader.

[2022-11-19 17:46] #27694 closed

[2022-11-19 18:39] tomap commented on #27693
Indeed, I'll post a request on SignalR repository :)

[2022-11-19 18:50] guardrex commented on #27693
Ok, thanks. We try to keep a clean backlog here. If they adopt it in the framework for a future release, it will go on a roadmap tracking issue on their side + get 8.0 labeling. We then draw new issues from there, so we can close this.

[2022-11-19 18:50] #27693 closed

[2022-11-20 12:08] LayersOfAbstraction opened #27695 "Migrating the ContosoUniversity application from .NET 5 to .NET 6 ASP.NET MVC."
Hi guys, thanks for accepting my previous PR. I have a bunch of ideas that I will separate into each issue.

In regards to my attempt to migrate the MVC doco from .NET 5 to .NET 6, I see a couple of options.

* We could create the whole ContosoUniversity sample solution app from scratch which would make developing it probably easier and call it say '6cu'.

* Or we could slowly migrate the applicat

[2022-11-20 13:25] LayersOfAbstraction opened #27696 "Can we integerate Docker with the ContosoUniversity application for ASP.NET 6 MVC?"
You know after having to reformat Windows 10 move than once, I have observed locally installing SQL Server is a bit of a pain in contrast to creating the CU database in a Docker Image (which is much easier). I have seen tutorials that allow you to:

Use .NET6 apps in Docker.

[Use a local SQL Server instance inside a docker image.](https://www.yogihosting.com/docker-aspnet-core-sql-server-crud/#do

[2022-11-20 20:27] NickHoggard2 opened #27697 "Potential Typo?"
Maybe I'm miss-reading this, but given the contents of the remainder of the paragraph after the statement below, I feel this should be stating "generally **not as** secure as ...".

" Receiving the access token via query string is generally secure as using the standard Authorization header"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub iss

[2022-11-21 00:26] BrennanConroy commented on #27697
"generally as secure as" is more accurate. The main downside is stated in the next sentences about servers logging the url + query string.

[2022-11-21 00:58] NickHoggard2 commented on #27697
Wouldn't the fact that the authentication data is visible in the logs enough to say it is not as secure as an authorization header, which wouldn't be visible in any logs?

[2022-11-21 02:28] BrennanConroy commented on #27697
Hence the usage of "generally". If it was the same as an authorization header we wouldn't add "generally" to the sentence.

This isn't always true, anyone could log headers, it's just less common in practice.

[2022-11-21 11:09] #27697 closed

[2022-11-21 11:56] kikaragyozov commented on #25889
Sorry, been swarmed with work lately. I'll try to draft something up this weekend! Thanks for the opportunity!

[2022-11-21 15:30] gregoryagu opened #27703 "Typo on Page"
This is minor, but this code sample results in a compile error.  The error is

[code]
[code]
---

The issue is that the name of the page is "People" and then the list name is also 'people'

Would suggest changing the name of the list to `peopleList`.

#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 81a32115-33f8-7d06-aaf0-b

[2022-11-21 15:32] guardrex commented on #27703
Thanks, @gregoryagu ... If it's not part of the snippet sample, I'm not surprised. Most of this particular error was cleaned up when examples went into the apps because they 💥 with this one on build there, alerting me 🦖 to the problem.

[2022-11-21 15:35] gregoryagu commented on #27703
Note, you actually can have the same name if the page name is Capitalized.  But still, might be a good idea to change it so it is more clear.

[2022-11-21 16:04] #27703 closed

[2022-11-21 17:12] TanayParikh opened #27705 "Blazor CORS dead link"
The link is dead it appears.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8b5e2e10-ff7b-2b9f-84da-f16028ae2c53
* Version Independent ID: c7e59a08-1c60-32c2-75fd-33cb77ff7a5d
* Content: [Call a web API from an ASP.NET Core Blazor app](https://learn.microsoft.com/en-us/aspnet/core/blazor/call-web-api?view=aspnetcore-6

[2022-11-21 17:26] guardrex commented on #27705
I think this is going to turn out to be a Whole-topic Versioning problem. I'll look when I get home in an hour or so.

[2022-11-21 17:40] #27614 closed

[2022-11-21 17:53] tdykstra commented on #27494
Fixed by https://github.com/dotnet/AspNetCore.Docs/pull/27593

[2022-11-21 17:53] #27494 closed

[2022-11-21 18:13] guardrex commented on #27705
Confirmed. I'll fix this by calling out the section in text without a link, which is fine in a case like this where it's an intra-doc cross-link.

[2022-11-21 18:35] #27705 closed

[2022-11-21 19:00] FranklinWhale commented on #20222
I hope the doc will show how to use `AddOpenIdConnect` instead of `Identity.Web`. `Identity.Web` requires `EnableTokenAcquisitionToCallDownstreamApi` to use the authorization code flow (which then requires token storage), adds `offline_access` to `scope` unnecessarily and breaks the `AuthenticationBuilder` chain. `AddOpenIdConnect` should be used for simple authentication, and the following code s

[2022-11-21 20:22] guardrex commented on #27680
@TanayParikh ... I thought you resolved the underlying issues that are in the OP. Whether or not that's right, do you want to move this to the PU repo for further investigation or provide me info on any hard limits that apply in the hosted WASM scenario?

[2022-11-21 22:37] Rick-Anderson commented on #27599
@rafikiassumani-msft  can you suggest optimal order?

[2022-11-21 22:39] Rick-Anderson commented on #27696
Using SQL Express or SQLite is easy. This tutorial is not about docker.

[2022-11-21 22:39] #27696 closed

[2022-11-21 22:42] #27695 closed

[2022-11-21 22:50] Rick-Anderson commented on #27676
@wadepickett  can you take care of this?

[2022-11-21 23:53] rafikiassumani-msft commented on #27599
@Rick-Anderson I will add some comments by tomorrow.

[2022-11-21 23:56] alex-jitbit opened #27710 ""windows" and "linux" confused"
Probably a typo. PerfView is Windows tool.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 90384677-5801-05d3-3f16-78392fc3ffea
* Version Independent ID: 7ecc5731-9d3c-1f7a-9920-3ce2a37434d1
* Content: [Performance Diagnostics Tools](https://learn.microsoft.com/en-us/aspnet/core/performance/diagnostic-tools?view=aspnet

[2022-11-21 23:59] #25679 closed

[2022-11-22 00:01] guardrex commented on #26364
# 🎉🍾🕺💃🥳🎈

# ***That's IT!*** Blazor 7.0 docs rollout complete!

Closing the tracking issue now. Follow-up items are tracked by https://github.com/dotnet/AspNetCore.Docs/issues/24615.

[2022-11-22 00:01] #26364 closed

[2022-11-22 11:19] #27710 closed

[2022-11-22 11:58] petrhavlak opened #27713 "Typo in app offline documentation"
Typo in documentation, bottom section has app_offine.htm instead of app_offline.htm, missing letter l.

![image](https://user-images.githubusercontent.com/43609940/203308317-a299e58a-5cc4-4b83-ade7-48bacc5a5e95.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 89993243-0d30-a0d7-a01a-b43f763e8a09
* Version Independe

[2022-11-22 12:00] gregoryagu opened #27714 "Remove class on "Unthemed" sample button"
This snippet:
[code]

Currently produces this output:

![image](https://user-images.githubusercontent.com/3810620/203308519-09cf67a3-932a-46da-bf70-b95eb2f52983.png)

Note that the Increment Count (Unthemed) button is actually partially themed by the Bootstrap class, and it does not actually look like a button.

If the class is removed like this:

[code]

Then actually looks unthemed:

![image](ht

[2022-11-22 12:10] guardrex commented on #27714
Yeah ... good idea. I'll do that right now ... and I think 🤔 ... if I get lucky here 🍀🤞 ... that's in a snippet from the samples repo, so I can address this in the samples repo with a quick PR over there. *Stand-by* ... I'll take a look.

[2022-11-22 12:12] guardrex commented on #27714
***Confirmed!*** ... I'm going to open this over on that repo and knock it out right now.

[2022-11-22 12:12] #27714 closed

[2022-11-22 12:13] gregoryagu commented on #27714
You are amazing @guardrex!

[2022-11-22 12:19] guardrex commented on #27714
![Organon](https://user-images.githubusercontent.com/1622880/203312039-8258eca0-dd9f-412f-9c97-1926bdeea4c4.png)

### *My horoscope said I'd be useful to somebody today.*

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&mdash; Organon ([Geoffrey Bayldon](https://www.imdb.com/name/nm0001933/)) Dr. Who: [The Creature from the Pit](https://www.bbc.co.uk/programmes/b00s63gx), &copy;1979 [BBC](https://www.bbc.com/)

[2022-11-22 12:30] guardrex commented on #27713
Thanks @petrhavlak.

@Rick-Anderson ... I have a second here between *Blazory Things*&trade;, so I'll knock it out.

[2022-11-22 12:34] #27713 closed

[2022-11-22 12:46] LayersOfAbstraction commented on #26505
Hi guys I hope I found the right place to create new issues to get feedback on. I have a bunch of ideas that I will separate into each issue. I will try and do it here.

In regards to my attempt to migrate the MVC doco from .NET 5 to .NET 6, I see a couple of options.

We could create the whole ContosoUniversity sample solution app from scratch which would make developing it probably easier and ca

[2022-11-22 14:47] javiercn opened #27717 "[Blazor] Update the refresh tokens guidance"
Update the section https://learn.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/?view=aspnetcore-7.0#refresh-tokens

The security best practices have changed along with the limitations imposed by browsers and third-party cookies. The current best practice recommendations include using Code+PKCE and a refresh token that is short-lived, rotated and does have an expiration after which a

[2022-11-22 15:03] guardrex opened #27718 "New problems with issue generation on the repo"
@Rick-Anderson @wadepickett ... A couple of potential problems are cropping up with new issues now. I think something is breaking intermittantly, or at least there's some set of special circumstances that are causing problems with new issues ...

* When Javier just opened https://github.com/dotnet/AspNetCore.Docs/issues/27717, the labels weren't automatically applied via RepoMan per our config in

[2022-11-22 15:24] guardrex opened #27719 "Test issue"
I'm trying to duplicate the issue parameters that Javier had. Staring with the topic on this section, I'll see what generating an issue does here.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c572618c-8b98-95af-6a75-1f8e413071db
* Version Independent ID: 8670b314-460d-3194-c53b-9a44f39c6b2a
* Content: [Secure ASP.NE

[2022-11-22 15:24] #27719 closed

[2022-11-22 15:25] guardrex commented on #27718
... and I did a test to see what would happen if I opened an issue after locking on to the same bookmark. The issue opened **with the labels normally**, so I can't apparently repro what happened ...

https://github.com/dotnet/AspNetCore.Docs/issues/27719

[2022-11-22 15:30] guardrex commented on #27718
***This very issue*** didn't get a **Not triaged** label ....

![image](https://user-images.githubusercontent.com/1622880/203354301-36b8f777-e06b-4c7e-aece-e6c91cd604a8.png)

[2022-11-22 15:58] guardrex commented on #27718
I'll close this. I only opened it for visibility to potential problems. I guess we'll keep an 👁️ open for bad labeling. As for the Action, I'm not sure if anything should be done. We need a GH guru ... Bill again, perhaps? ... to understand why that's happening.

[2022-11-22 15:58] #27718 closed

[2022-11-22 17:19] BlueHtml opened #27720 "Update DateRangeTP in [ Bind with TryParse ]"
- The use of `DateRangeTP` class in document and example is wrong(<https://learn.microsoft.com/en-us/aspnet/core/mvc/models/model-binding#bind-with-tryparse>)
- code example also need to be updated(<https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/mvc/controllers/bind-tryparse/7.0-samples/BindUsingTryParse/BindTryParseMVC>)

#### document

the following paragraph need to be update to

[2022-11-22 18:18] guardrex opened #27722 "Call out platform-dependent style rendering"
Per https://github.com/dotnet/maui/issues/11508.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0781779e-0e2e-2e6d-53ef-a719ce27fb61
* Version Independent ID: 0781779e-0e2e-2e6d-53ef-a719ce27fb61
* Content: [ASP.NET Core Blazor Hybrid](https://learn.microsoft.com/en-us/aspnet/core/blazor/hybrid/?view=aspnetcore-7.0)
*

[2022-11-22 18:25] #27722 closed

[2022-11-22 18:30] #27717 closed

[2022-11-22 18:41] Rick-Anderson commented on #27720
@fiyazbinhasan please review

[2022-11-22 19:01] fiyazbinhasan commented on #27720
Nice catch! @BlueHtml are you interested in fixing these in a PR? Let me know 😸
tag: @Rick-Anderson

[2022-11-22 22:38] Jakester26 opened #27725 "Code Errors from "Use the MapGroup API" onward"
The tutorial code fails with "CS8802 Only one compilation unit can have top-level statements."
 Top-level statements - programs without Main methods

The workaround is the body of the code, i.e. everything after the "using" statements in the traditional partial class with the Main().

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub is

[2022-11-23 03:51] Rick-Anderson commented on #27725
@Jakester26  on [Use the MapGroup API](https://learn.microsoft.com/en-us/aspnet/core/tutorials/min-web-api?view=aspnetcore-7.0&tabs=visual-studio#use-the-mapgroup-api), the code is correct.

See [Top-level statements - programs without Main methods](https://learn.microsoft.com/en-us/dotnet/csharp/fundamentals/program-structure/top-level-statements), the full project [here](https://github.com/dotne

[2022-11-23 10:28] matthias-glubrecht opened #27730 "Scaffolding a controller fails (Visual Studio Pro 17.4.1)"
In the instructions it said that if the scaffolding fails the first time, you should try it again. It didn't, and I tried multiple times.
I uninstalled and reinstalled the **Microsoft.VisualStudio.Web.CodeGeneration.Design** NuGet package (it was Version 7.0.0 before and after) in the package manager. Doing so must have installed some required dependencies.
After that, the scaffolding step worked

[2022-11-23 11:01] guardrex commented on #27536
I ***almost*** made it back to this 😅. It's the next item on the regular workload list.

I'm kind'a 🧠 ***fried*** at the moment to take it on the last day prior to the 🦃 weekend holiday. Then, I have a feeling that given the high priority Blazor *Security* node work that needs to be addressed in the 🦃 to *New Years* 🎆 period that this will get pushed back to early January.

I would've preferred to

[2022-11-23 11:05] breyed opened #27731 "Incorrect samples for HttpContext on multiple threads"
The code examples for [Do not access HttpContext from multiple threads](https://learn.microsoft.com/en-us/aspnet/core/performance/performance-best-practices?view=aspnetcore-7.0#do-not-access-httpcontext-from-multiple-threads) are wrong.

The "do not" example shows `HttpContext` always being accessed from the same thread, rather than from different threads to demonstrate a coding error. Note that a

[2022-11-23 11:09] guardrex commented on #27680
@TanayParikh ... Side-note here on process/progress. I really need to focus on the *Security* node in the 🦃 to 🎅🎆 period with as little else to work on as possible. That node ... ***and that whole subject, SECURITY*** ... is a 👹 to work on with lots of 😈 lurking to 💀⚰️ me along the way. WRT this issue on limits and the other issue we were discussing on previewing images for file uploads, I think w

[2022-11-23 11:12] guardrex commented on #27539
Passing update here ...

This is still scheduled for work as soon as I can get to it, but there are some higher priority items to address first that will run through EOY. I hope to reach this issue in January for resolution.

[2022-11-23 11:25] guardrex commented on #26980
Passing update before getting out on the 🦃 weekend holiday ...

We did get all of the .NET 7 work done, and I cleared out a bunch of issues prior to getting into the weeds with the Blazor *Security* node over the 🦃 to 🎅🎆 period, but I didn't reach this issue in time to resolve it this year. This is still scheduled for work as soon as I can get to it. I hope to resolve this issue in January.

[2022-11-23 15:36] tabinnorway opened #27732 "No user info in controllers after login"
So, when I use this article to enable Google login, it kinda almost sorta works.
I have created a Blazor app with google login and individual users. As per tutorials.
When I then call the WeatherForecast API, I get that the user is authenticated,
but there is no User.Identity.Name for example.

How do I get the user info in server controllers after login?

---
#### Document Details

⚠ *Do not edit

[2022-11-23 15:50] jose-escalona commented on #16389
Same issue here, did you managed to make it works? Thanks in advance.

[2022-11-23 15:51] jose-escalona commented on #16389
@Denny966  i'm facing the same issue in .net 6, did you managed to find a solution?

Thanks in advance.

[2022-11-23 18:59] Denny966 commented on #16389
Nope

[2022-11-23 18:59] Rick-Anderson commented on #27730
cc @deepchoudhery

[2022-11-23 18:59] #27730 closed

[2022-11-23 19:03] Rick-Anderson commented on #27732
- https://learn.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-7.0&tabs=visual-studio
- https://learn.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-7.0&tabs=visual-studio
- https://learn.microsoft.com/en-us/aspnet/core/security/authentication/add-user-data?view=aspnetcore-7.0&tabs=visual-studio

[2022-11-23 19:03] #27732 closed

[2022-11-23 19:39] Jakester26 commented on #27725
You are correct. I was making a copy of the program.cs in the same folder using File Manager and I didn’t notice VS2022 was picking it up.

I moved the copies to another folder and the problem disappeared.

From: Rick Anderson ***@***.***
Sent: Tuesday, November 22, 2022 7:51 PM
To: dotnet/AspNetCore.Docs
Cc: Jakester26; Mention
Subject: Re: [dotnet/AspNetCore.Docs] Code Errors from "Use the MapGr

[2022-11-23 19:52] captainsafia commented on #27625
This migration guide checks out for minimal APIs, IMO, assuming this is not the place where we document new features users can adopt (e.g. endpoint filters or TypedResults).

[2022-11-23 20:31] Rick-Anderson commented on #27625
Correct, not where we doc new features

[2022-11-23 20:33] Rick-Anderson commented on #27725
@Jakester26 thanks for letting us know.

[2022-11-23 20:33] #27725 closed

[2022-11-23 22:54] tabinnorway commented on #27732
Thank you for your answer, but it doesn't appear to me, and I might be a complete idiot here, but it seems like these articles describe how to set up authorization in my Blazor app. I seem to have managed that fine, and when I log in with Google, in the top corner of my Blazor pages my email is displayed. So, I have in fact logged in.

From my Blazor app I then call the WebAPI in WeatherController

[2022-11-23 23:14] Rick-Anderson commented on #27732
This article is limited to [Google external login setup in ASP.NET Core](https://learn.microsoft.com/en-us/aspnet/core/security/authentication/social/google-logins)

You need to read and understand Identity topics.

see https://learn.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity#layout-and-authentication-flow-changes
which I mentioned on my first response

[2022-11-23 23:49] dreamspider42 commented on #26373
I've been looking all over the past few days but I don't seem to see a single good example of us using this new angular template and process to be able to run our backend-for-frontend in Docker to serve the SPA and handle the api calls.

The basic pattern of bundling this together and having our .NET core backend serve the SPA and handle overall auth and service calls etc. was something I was able

[2022-11-24 08:32] tabinnorway commented on #27732
I am so sorry for being a complete idiot here, but I can't see anywhere in any of the articles anything about server-side controller user information retrieval. So far in my developer life I have used Windows auth, and when I do, and I decorate my server controllers with [Authorize], in the controller I will have a User from which I can get information about the logged in user. I can't see anythin

[2022-11-24 08:58] cvetomir-todorov opened #27734 "Forced usage of `IHealthCheckPublisher` in gRPC health checks"
What is the point of forcing one to use the `IHealthCheckPublisher`? With HTTP health checks it's not mandatory.

In my scenario I want to configure the initial delay, period and timeout in my Kubernetes probes. I don't want to duplicate those in my application. Additionally, Kubernetes has logic of the `startup` probe which, before returning success, prevents the `live` and `ready` probes from be

[2022-11-24 09:57] tabinnorway commented on #27732
For the record - this is the answer:

In the controller constructor, inject UserManager<ApplicationUser>

Whenever you need to get the logged in user, call (or similar)
var user = await _userManager.FindByIdAsync(User.FindFirstValue(ClaimTypes.NameIdentifier) ?? string.Empty);

It is surprising that the UserManager.GetUserAsync doesn't return a user, failing the "last surprise" principle.

[2022-11-24 12:05] meirkr opened #27736 "Hi|"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 85af7a99-672c-0438-dcc2-e8edfaf70c54
* Version Independent ID: 85af7a99-672c-0438-dcc2-e8edfaf70c54
* Content: [Use ASP.NET Core SignalR with Blazor](https://learn.microsoft.com/en-us/aspnet/core/blazor/tutorials/signalr-blazor?view=aspnetcore-7.0&ta

[2022-11-24 12:05] meirkr opened #27737 "Hi. I saw thar calling StateHasChanged() from SignalR thread throws an exception"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 85af7a99-672c-0438-dcc2-e8edfaf70c54
* Version Independent ID: 85af7a99-672c-0438-dcc2-e8edfaf70c54
* Content: [Use ASP.NET Core SignalR with Blazor](https://learn.microsoft.com/en-us/aspnet/core/blazor/tutorials/signalr-blazor?view=aspnetcore-7.0&ta

[2022-11-24 13:00] #27736 closed

[2022-11-24 14:21] JBastiaan opened #27739 "Grpc Code-first Integration-test"
Hello,

I've been trying to find examples on how to mock a grpc code-first dependency on another service. So lets say Service A users a grpc contract to call Service B, how can i mock/stub service B?

Example contract
[code]

The service adds the Grpc call to the other service like so:

[code]

I've used the following when no code-first was involved, one could add a testservice on the servicecolle

[2022-11-24 14:26] BlueHtml commented on #27720
@fiyazbinhasan PR is here #27738

[2022-11-24 14:28] fiyazbinhasan commented on #27720
oops, what a coincident. let me close my PR

[2022-11-24 17:44] edgett opened #27741 "When renaming .dll to .x adjustment to web.config is required"
1. Rename wasm .dll to .blazor in webDeploy.zip
2. Deploy to App Service with az webapp deploy
3. Browse to web app: HTTP 404 on .blazor files (the ones renamed in the first step)

This happened on one of two App Services. On App Service A the renamed files are returned. The other, App Service B, HTTP 404 when attempting to get the renamed files.

To resolve this I adjusted the web.confg section c

[2022-11-24 19:25] #27720 closed

[2022-11-24 19:59] wadepickett opened #27742 "Publish to Azure with VS: Add Azure App Service (Linux)"
This topic currently centers on publishing on the Azure App Service (Window)s.  Add a tab and instructions for publishing on Azure App Service (Linux) as well.

Verify with the dev team the best practice for incorporating Entity Framework in this case since VS uses zip deploy and EF is not included or handled at all in that case, requiring set up afterwards on the App Service VM.

Sidenotes:
This

[2022-11-24 20:03] wadepickett commented on #27734
@JamesNK, add to this topic?

[2022-11-24 20:28] wadepickett commented on #27682
@JamesNK, is the point the following?: That if the endpoint is not configured with TLS (insecure), then rather than having the option of HTTP/1.1 or HTT/2 which negoatiated by TLS, you only have HTTP/2 as an option and therefore that must be set explicitly in the endpoint's ListenOptions.Protocols?  So it does not matter if you listen on port 80 (http), but it does matter that the endpoint is set

[2022-11-24 20:33] wadepickett commented on #27571
@JamesNK, should I add a note calling this out, or wait until duplex streaming is supported on Windows and update then?

[2022-11-24 20:44] wadepickett commented on #27739
@JBastiaan, thanks.  Was this question meant to be tied to the following topic or did you have a chance to look through it yet?
[Code-first gRPC services and clients with .NET](https://learn.microsoft.com/en-us/aspnet/core/grpc/code-first?view=aspnetcore-7.0)

[2022-11-24 21:07] JBastiaan commented on #27739
Hey, thanks, yea i saw those docs, however there doesnt seem to be any examples on how to setup integrationtests on the client side. I've found here in the docs examples on how to setup integrationstests on the server app (https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/grpc/test-services/sample/Tests/Server/IntegrationTests). It would be nice however to also have examples on how to

[2022-11-25 02:08] JamesNK commented on #27682
@codezerox86 Please read the linked document that is immediately after that sentence with more information: https://learn.microsoft.com/en-us/aspnet/core/grpc/aspnetcore?view=aspnetcore-7.0&tabs=visual-studio#protocol-negotiation

[2022-11-25 02:08] #27682 closed

[2022-11-25 03:13] JamesNK commented on #27571
I don't think there is anything to change here right now.

[2022-11-25 03:13] #27571 closed

[2022-11-25 04:43] V0VAska opened #27743 "Database Initialization"
During database initialization, not all records are entered into tables. At least two students (norman, olivetto) are affected because they are not referenced in the enrollments array. There may be others records that are not explicitly added to the context.

<details><summary>'DbInitializer.cs' as correct variant</summary>

[code]

</details>

---
#### Document Details

⚠ *Do not edit this sectio

[2022-11-25 04:58] Rick-Anderson commented on #27743
Can you do a PR and fix this?
Thanks for reporting this. At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

cc @tdykstra

[2022-11-25 08:59] JBastiaan commented on #27739
Is the recommended way to just add a mock to the servicecollection instead of the actual implementation, or is there a better way to do it? Just adding a mock to the servicecollection somehow feels like it's the same approach one uses in a unittest, and I'm wondering if there is a better way.

[2022-11-25 15:23] tomkuijsten opened #27745 "What about refreshing the token"
The documentation is quit clear about storing the access/refresh tokens and make an API request, but the hard part, refreshing the token is left out.

Refreshing the token is not that hard, storing it back into the cookie of the user is! Please, add a section here with an implementation for refreshing the token and store it in the cookie. That last bit is crucial, otherwise it won't work if you cl

[2022-11-25 16:43] cvetomir-todorov commented on #27734
@JamesNK I ended up here from the link in the asp.net docs. But anyway copied the issue and toned it down a bit. Initially I was very frustrated about the lack of flexibility which should be the case of a widely used base library. I hope you guys can fix this. I would close this issue, if you don't mind.

[2022-11-25 16:43] #27734 closed

[2022-11-25 18:20] wadepickett commented on #27742
Sorry, I meant to add Pri3 label as noted in the summary.  It was the holiday, and I was distracted by my kids before I was able to finish writing up the issue.

[2022-11-25 20:55] atrauzzi opened #27748 "Provide information on where secrets are stored on linux"
This page needs to explain where the secret manager stores secrets by default on linux (and other OSses as well I guess).

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9c99993c-c983-6fda-6c3a-ce4ec8c1d5db
* Version Independent ID: ba688ac2-e90e-fce5-f60d-40c2553c3efd
* Content: [Safe storage of app secrets in develop

[2022-11-25 21:12] Neutrino-Sunset opened #27749 "Obtuse DbSet initialization in example code."
[code]

This is an obtuse an unreadable way to initialize a DbSet on a DbContext when this is all that is required.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 164d7efe-01bf-0b26-7a23-f10704f338f5
* Version Independent ID: b3e2bc87-1582-2d34-c7c2-7c8e901ac771
* Content: [Introduction to Razor Pages in ASP.N

[2022-11-26 10:20] Ducki commented on #27748
That is actually explained a bit further up on the very same page :)
See [https://learn.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-6.0&tabs=windows#how-the-secret-manager-tool-works](https://learn.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-6.0&tabs=windows#how-the-secret-manager-tool-works)

[2022-11-26 11:35] LayersOfAbstraction opened #27750 "Migrating the ContosoUniversity application from .NET 5 to .NET 6 ASP.NET MVC"
Hi guys, thanks for accepting my previous PR. I have a bunch of ideas that I will separate into each issue.

In regards to my attempt to migrate the MVC doco from .NET 5 to .NET 6, I see a couple of options.

* We could create the whole ContosoUniversity sample solution app from scratch which would make developing it probably easier and call it say '6cu'.

* Or we could slowly migrate the applicat

[2022-11-26 14:01] simon-aspnet opened #27751 "An "Error" Dialog happens when you "Add New Scaffold dialog, select Razor Pages using Entity Framework (CRUD) > Add.""
Scaffold the movie model
An "Error" Dialog happens when you "Add New Scaffold dialog, select Razor Pages using Entity Framework (CRUD) > Add."
There was an error running the selected code generator: 'Index was outside the bounds of the array'

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9

[2022-11-26 15:51] AlfredBr opened #27752 "Run in Docker?"
[EDIT by guardrex to change the metadata]

Any idea how to get this to run in Docker?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: be59faf1-5a20-b7e9-19ff-06589023bb15
* Version Independent ID: 250e7458-3c1d-0117-261d-c03ac136f16a
* Content: [Host and deploy ASP.NET Core Blazor WebAssembly](ht

[2022-11-26 19:02] AndrewBS42 opened #27753 "Where's the map?"
For people trying to learn, the Start Here page (e.g. https://learn.microsoft.com/en-us/aspnet/core/?view=aspnetcore-7.0)
has links to the start of courses on...
- Create an ASP.Net Core App
- Crete your first Web UI
- Create your first Web API
- Create your first real-time web app

But there's no explanation on that page of what those things actually are.  So I'm not sure which one to start with.

[2022-11-26 20:13] Rick-Anderson commented on #27753
For UI's, try https://learn.microsoft.com/en-us/aspnet/core/tutorials/choose-web-ui

[2022-11-26 20:13] #27753 closed

[2022-11-26 20:14] Rick-Anderson commented on #27751
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2022-11-26 20:14] #27751 closed

[2022-11-26 20:16] Rick-Anderson commented on #27750
See [my previous response](https://github.com/dotnet/AspNetCore.Docs/issues?q=is%3Aissue+author%3ALayersOfAbstraction+)

[2022-11-26 20:16] #27750 closed

[2022-11-26 20:18] Rick-Anderson commented on #27749
I think that's a copy of the scaffolder generated code

[2022-11-26 20:18] #27749 closed

[2022-11-26 20:18] #27748 closed

[2022-11-26 20:19] Rick-Anderson commented on #27748
Danke @Ducki

[2022-11-27 01:12] atrauzzi commented on #27748
Ah nice!  Thank you, I obviously missed it. :stuck_out_tongue_winking_eye:

[2022-11-27 02:31] LayersOfAbstraction opened #27755 "See [my previous response](https://github.com/dotnet/AspNetCore.Docs/issues?q=is%3Aissue+author%3ALayersOfAbstraction+)"
Hi @Rick-Anderson, firstly thanks for getting back to me on the weekend. Secondly, your previous response in #27695 was interpreted in such a way that it could mean:

* That I make a response at the bottom of #26505 (which was marked as off-topic).
* That I go to the bottom of the page [Tutorial: Get started with EF Core in an ASP.NET MVC web app](https://learn.microsoft.com/en-us/aspnet/core/data

[2022-11-27 02:38] tim-elmer opened #27756 "Broken Liink; ASP.NET Core Blazor Server with Entity Framework Core (EF Core)"
Link to `https://github.com/dotnet/blazor-samples/blob/main/6.0/BlazorServerEFCoreSample/Pages/Index.razor` is broken, should probably be `https://github.com/dotnet/blazor-samples/blob/main/7.0/BlazorServerEFCoreSample/Pages/Index.razor`

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4a101e4d-85a2-8013-0f62-40e13e45b3

[2022-11-27 06:24] Rick-Anderson commented on #27755
We plan on updating  the topic after #26505 is completed. Please stop opening new issues.

[2022-11-27 06:25] #27755 closed

[2022-11-27 06:27] Rick-Anderson commented on #27755
you can ask follow up questions in a closed issue.

[2022-11-27 06:50] Jerry2108 opened #27757 "learn .NET"
[Nhập phản hồi vào đây]

---
#### Chi tiết tài liệu

⚠ *Không chỉnh sửa phần này. Điều này là bắt buộc cho learn.microsoft.com ➟ Vấn đề khi liên kết GitHub.*

* ID: 788d46c9-a91a-2788-8db7-b53c37b512f2
* Version Independent ID: 00c2c01d-d235-2d2d-5c96-1f33a9314382
* Content: [Part 3, add a view to an ASP.NET Core MVC app](https://learn.microsoft.com/vi-vn/aspnet/core/tutorials/first-mvc-app/ad

[2022-11-27 10:24] guardrex commented on #27756
Thanks @tim-elmer ... It's missing a URL segment (`BlazorServerDbContextExample`). I'll fix it right now.

[2022-11-27 10:29] #27756 closed

[2022-11-27 12:26] guardrex commented on #27757
Hello @Jerry2108 ... Your issue doesn't really have an ask, so I'll close this as possibly just a mistake or a test. By the way, it's best if you open new issues from the bottom of the **English - US** topic.

[2022-11-27 12:26] #27757 closed

[2022-11-27 21:56] dannevesdantas commented on #4076
@Rick-Anderson does it make sense to write the instructions provided [here](https://github.com/dotnet/AspNetCore.Docs/issues/4076#issuecomment-1153254062) by @rafaelrpd in the body of the https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/validation page?

[2022-11-28 05:06] Rick-Anderson commented on #4076
@damienbod @Bartmax @hishamco would one of you be able to review he instructions provided https://github.com/dotnet/AspNetCore.Docs/issues/4076#issuecomment-1153254062 by @rafaelrpd

[2022-11-28 05:09] Rick-Anderson commented on #4076
@mkArtakMSFT can you have someone  review the instructions provided [here](https://github.com/dotnet/AspNetCore.Docs/issues/4076#issuecomment-1153254062) by @rafaelrpd

[2022-11-28 05:27] dajma00 opened #27761 "Multiple Policies in Authorize attribute"
The page shows the following example for authorize:
`[Authorize(Policy = "AtLeast21")]`

But it does not explain what happens if multiple policies are applied, like:
`[Authorize(Policy = "AtLeast21, IsFemale")]`

What is the behavior in this case? Are the two policies ANDed or ORed?

Docs should be clear in this.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.mic

[2022-11-28 08:15] hishamco commented on #4076
@rafaelrpd @Rick-Anderson could you please let me know what this script is doing? This is the first time I see it

BTW this is one of the oldest issues in localizations, it mainly related to jQuery if I'm not wrong

[2022-11-28 08:31] senhtry opened #27762 "missing a reset to position 0 in "Blazor file downloads" page"
There should be a reset to position 0 before streamRef

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e4ad584d-0d9a-da8c-1296-b2d186e437ad
* Version Independent ID: e4ad584d-0d9a-da8c-1296-b2d186e437ad
* Content: [ASP.NET Core Blazor file downloads](https://learn.microsoft.com/en-us/aspnet/core/blazor/file-dow

[2022-11-28 12:03] damienbod commented on #4076
LGTM maybe an integrity check is needed if including the js file from a CDN

[2022-11-28 13:17] dannevesdantas commented on #4076
I remember the instructions provided by @rafaelrpd for using [globalize.js](https://github.com/globalizejs/globalize) is quite similar to the instructions in the old Getting Started with ASP.NET MVC 4/5 pages at [here](https://learn.microsoft.com/en-us/aspnet/mvc/overview/older-versions/getting-started-with-aspnet-mvc4/examining-the-edit-methods-and-edit-view#processing-the-post-request) and [here

[2022-11-28 13:25] dannevesdantas commented on #4076
Looks like it’s also possible to adapt and update the text and instructions provided in the old "Getting Started with ASP.NET MVC 4/5" tutorials from [here](https://learn.microsoft.com/en-us/aspnet/mvc/overview/older-versions/getting-started-with-aspnet-mvc4/examining-the-edit-methods-and-edit-view#processing-the-post-request) and [here](https://learn.microsoft.com/en-us/aspnet/mvc/overview/gettin

[2022-11-28 13:28] guardrex commented on #27737
### ***We're back!*** ⛏️😄

Hello @meirkr ... Please open this for the product unit at ...

https://github.com/dotnet/aspnetcore/issues

You'll probably need to explain it out a bit more for them, especially exactly what the error is and a stack trace/client log. Clarify if you're using an app exactly per [this Blazor tutorial article](https://learn.microsoft.com/en-us/aspnet/core/blazor/tutorials/

[2022-11-28 13:28] #27737 closed

[2022-11-28 13:36] hishamco commented on #4076
We need to check ..

[2022-11-28 13:37] guardrex commented on #27741
### ***We're back!*** ⛏️😄

Hello @edgett ... Yes, I think it's fine for us to call out in this section that the change should be made. I don't believe that there's any reason for the framework to make any automatic adjustments to the `web.config` file for any latter version (6.0, 7.0), so I think we should just call this out at the bottom of the section using generic language that won't focus on a

[2022-11-28 13:46] hishamco commented on #4076
Franlky I didn't try before, also never heard about it :)

@Rick-Anderson again I see the issue related to jQuery, the question is what's the issue from localization APIs?

[2022-11-28 14:25] #27741 closed

[2022-11-28 14:45] AndrewBS42 opened #27765 "Improvements for eager novices?"
One portion of this page describes adding the Seed Initializer to the code.  It works, but there are a couple  of issues that might be tricky for novices.

The discussion mentions the DI container, but doesn't mention that we get to the DI container through the variable 'scope'.

The description mentions that one of the things the modified code does is

- Get a database context instance from the d

[2022-11-28 15:02] guardrex commented on #27745
### ***We're back!*** ⛏️😄

Hello @tomkuijsten ... This has been a fairly regular ask, but keep in mind that there is no HTTP request/response for components, just a WebSocket. 🤔 I believe that there is a JS interop workaround approach from the client that will trigger a cookie refresh server-side that ***might*** work, but it isn't something that the product unit wants to call out in the docs. The

[2022-11-28 15:02] #27745 closed

[2022-11-28 15:12] guardrex commented on #27752
### ***We're back!*** ⛏️😄

Hello @AlfredBr ... Currently, the product unit hasn't wished to support specific coverage on it. I don't think there's anything particuarly complicated ***from what I can see*** 😄 ... *I hope* 🤞🍀😆. I just performed a quick search and found this Q&A ...

https://learn.microsoft.com/en-us/answers/questions/508093/blazor-client-in-docker-container.html

... and that's nice

[2022-11-28 15:22] guardrex commented on #27762
### ***We're back!*** ⛏️😄

Hello @senhtry ... Hum ... 🤔 ... I thought that I ran that bit at some point since this went up. Maybe not ... I don't recall for sure. We've been in 🏃 ***SUPER SPRINT MODE***&trade; 🏃😄 for a while getting the .NET 7 docs out. My head is still buzzing a bit from all of that.

@TanayParikh ... This came in on your PR at https://github.com/dotnet/AspNetCore.Docs/pull/23690

[2022-11-28 16:04] vibhavpan opened #27766 "There was an error running the selected code generator: 'Index was outside the bounds of the array'"
[Enter feedback here]
Whenever I am trying to add the new Scaffolding item with razor pages with CRUD,the error come
There was an error running the selected code generator:
'Index was outside the bounds of the array'
Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Ver

[2022-11-28 16:27] mehdihadeli opened #27844 "Custom WebApplicationFactory doesn't work correctly for overriding Configure Method in ConfigureWebHost"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi,
I've created a custom [WebApplicationFactory](https://github.com/mehdihadeli/WebApplicationFactoryWithHost-Sample/blob/master/src/Test/WebApplicationFactoryWithHost.cs) and in this factory I override [ConfigureWebHost](https://github.com/mehdihadeli/WebApplicationFactoryWithHost-Sample/bl