[2016-11-11 00:02] #948 closed

[2016-11-11 02:50] Tratcher opened #2146 "Show how to use Azure Web App Log Streaming with ASP.NET Core."
_From @olegburov on November 11, 2016 1:33_

Hi Guys,

I'm straggling to make the Azure Web App Log Streaming works with ASP.NET Core application. I tried it based on both .NET Framework and .NET Core, with ASP.NET Core 1.0 and 1.1 Preview-1, using `System.Diagnostics.Trace` and `ILogger/ILoggerFactory`. It just doesn't work for me.

At the same time, it works perfectly with old-fashioned ASP.NET

[2016-11-11 05:24] Rick-Anderson opened #2147 "Specify alt text in all images"
- [x] Add requirement to style guide that all images need alt text `![alt-text](configuration/_static/imagename.png)`
- [ ] Open https://msdnhelp  asking help desk to add alt text

[2016-11-11 18:46] Rick-Anderson commented on #2139
@tdykstra  can you fix this? cc @rick-anderson

[2016-11-11 18:54] tdykstra commented on #2139
@Rick-Anderson As noted, this applies across the board to all of docs.ms.com, not just to ef mvc tutorial.

[2016-11-11 20:03] #2139 closed

[2016-11-11 21:09] Rick-Anderson commented on #2146
@tdykstra can you triage and add to the master logging issue?

[2016-11-11 21:27] Tratcher commented on #2146
Or to the azure deployment doc?

[2016-11-11 23:01] Tratcher commented on #1827
Url configuration: https://msdn.microsoft.com/en-us/library/windows/desktop/aa364698(v=vs.85).aspx

[2016-11-12 19:44] spboyer commented on #2143
@Prasanna-Rani  @Rick-Anderson - this is because the TOC determines the length of the page. If you close the TOC on the left the space is reduced.

[2016-11-12 19:46] spboyer commented on #2130
The link eventually routes to: https://docs.microsoft.com/en-us/ef/ which is correct.

[2016-11-12 19:47] spboyer commented on #2035
This has been completed: https://github.com/aspnet/Docs/blob/master/CONTRIBUTING.md#mono-instructions

[2016-11-12 19:47] #2035 closed

[2016-11-12 19:54] spboyer commented on #2016
@ckelner - Here are a few articles on using our tools for running apps in containers.
https://docs.microsoft.com/en-us/dotnet/articles/core/docker/building-net-docker-images
https://docs.microsoft.com/en-us/dotnet/articles/core/docker/visual-studio-tools-for-docker
https://blogs.msdn.microsoft.com/stevelasker/2016/09/29/building-optimized-docker-images-with-asp-net-core/

[2016-11-12 19:54] #2016 closed

[2016-11-12 22:19] stephan19 commented on #1162
+1, I'm also trying to get rid of the EF dependency

[2016-11-13 00:55] MaherJendoubi commented on #2118
Hi @Rick-Anderson,

The partial.md content and the associated code sample are already updated to RTM. UE is reviewed. It remains to answer comments (disqus) and how to pass additional ViewData to a strongly-typed partial view. I still working on them.

Regards

[2016-11-14 10:29] AbdoDabbas commented on #1162
+1, when do you expect to get it done ?

[2016-11-14 16:09] charreal opened #2163 "EF Core 1.0 with ASP.NET Core 1.0 MVC WebApi on IIS Server 7.0 Error 404"
Hello,
I have a small application that uses EF Core 1.0 with ASP.NET Core 1.0 MVC WebApi, is working perfectly in kestrel self-hosting scenarios (IIS Express) .When i publish on IIS 7.0, i get 404 error when i call method use EF Core, but when i call method that does not use EF Core it work perfectly. What is the configuration for using EF Core 1.0 with ASP.NET Core 1.0 MVC WebApi on IIS Server. T

[2016-11-14 18:47] Rick-Anderson commented on #2163
Can you try posting this to SO? This is not a support forum.

[2016-11-14 18:47] #2163 closed

[2016-11-14 18:48] Rick-Anderson commented on #2163
take a look at https://docs.microsoft.com/en-us/aspnet/core/publishing/iis

[2016-11-14 20:55] Rick-Anderson opened #2167 "Account Confirmation and Password Recovery missing step"
Sebastien Ros `:`

[2016-11-14 23:42] tdykstra commented on #2059
@neusamir -- do you have an ETA on when we can get the link checker run on https://docs.microsoft.com/en-us/aspnet/core/ ?

cc: @Rick-Anderson

[2016-11-15 00:25] Rick-Anderson opened #2170 "Remove Validation Succeed SPAM"
For example: https://github.com/aspnet/Docs/pull/2090

there are hundreds of Succeed messages for .PNG files.  It makes it difficult to quickly find/review useful information.

Can we suppress Succeed messages?
assigned to @bradygaster

[2016-11-15 15:53] charreal commented on #2163
Excuse me, but I do not know where ask my question. Before asking my question I look at the doc aspnet-core; Publishing / IIS, fundamentals / server and EF Core. In addition all the examples that I found in microsoft or the web in general have the same problem when I deploy them on IIS.
The problem is on EF Core AspNet Core webapi on IIS, if don't have EF Core all is ok.
Another time Excuse me.

[2016-11-15 17:38] #2059 closed

[2016-11-15 22:09] JunTaoLuo commented on #1969
@danroth27 any progress on this issue?

[2016-11-15 22:57] xdaDaveShaw commented on #2007
I've restarted my work on a new branch following the markdown changes. First commit is [here](https://github.com/xdaDaveShaw/Docs/commit/a495edea63630d3d3697a2decbbae41fdc969bd7) - will be adding Azure RM as suggested by @chrisrpatterson before raising a PR.

[2016-11-16 01:45] #1902 closed

[2016-11-16 10:21] danroth27 commented on #1969
@Rick-Anderson ?

[2016-11-16 17:56] Rick-Anderson commented on #1969
@JunTaoLuo  can you PR https://github.com/aspnet/Docs/blob/master/aspnetcore/performance/caching/response.md with the basic changes and I'll clean up the writing?

[2016-11-16 19:36] #2167 closed

[2016-11-16 22:51] GuardRex opened #2190 "Update for new hosting bundle installer link"
@Rick-Anderson @shirhatti

Looks like the new hosting bundle installer is under ...

https://go.microsoft.com/fwlink/?linkid=832756

... if that's the correct link, I'll get a pair of update PR's in now for Publishing to IIS and the ANCM doc.

[2016-11-16 22:57] shirhatti commented on #2190
Your comment has the 1.1.0-preview1 installer.
The correct link is https://aka.ms/dotnetcore_windowshosting_1_1_0

[2016-11-16 22:59] GuardRex commented on #2190
Ah ... gotcha. That link that I show came from the ANCM repo README. I'll use the link you sent and get the PR's in shortly.

[2016-11-17 00:58] GuardRex commented on #2190
Fixed by https://github.com/aspnet/Docs/commit/ce841fa678ab3f1405847e42fd68d2504e35d0b1 and https://github.com/aspnet/Docs/commit/2387ba5964cdc4753027c0ee460aa0387c1c4cfb

[2016-11-17 00:58] #2190 closed

[2016-11-17 03:04] alex521 commented on #1162
+1

[2016-11-17 03:04] 50774283 opened #2197 "API docs: incorrect description"
The url below have a incorrect description in section Microsoft.AspNetCore.StaticFiles.
https://docs.microsoft.com/zh-cn/aspnet/core/api/
Thank you.

[2016-11-17 03:06] Rick-Anderson opened #2198 "performance/caching/middleware.md "Response caching middleware""
@GuardRex  [meeting notes](https://dl.dropboxusercontent.com/u/18075777/Record_0005.wav)
go at it.

[2016-11-17 07:14] danroth27 commented on #1162
@HaoK @blowdart There's quite a bit of customer interest in getting this content out sooner. Is this something you guys could help out with?

[2016-11-17 09:05] HaoK commented on #1162
I can take a pass over the old article and see what needs updating

[2016-11-17 17:16] #1827 closed

[2016-11-17 19:13] Rick-Anderson commented on #2197
Can you be more specific. What is wrong?

[2016-11-18 00:40] #1982 closed

[2016-11-18 00:41] #1981 closed

[2016-11-18 01:41] GuardRex opened #2204 "Review & update for Publishing to IIS"
@Rick-Anderson @spboyer @Tratcher @pranavkm @shirhatti @moozzyk @danroth27

If it's ok with you, I'd like to get started on a doc review and update for [Publishing to IIS](https://docs.microsoft.com/en-us/aspnet/core/publishing/iis).

The obvious items are ...
- [x] Spelling, grammar, structure, and content review (esp. Common Errors section)
- [x] Update ref for `publish-iis` tooling to `1.1.0-pr

[2016-11-18 01:49] GuardRex opened #2205 "Review & update for Directory Structure"
@Rick-Anderson @spboyer @Tratcher @pranavkm @shirhatti @moozzyk @danroth27

I'd like to review and update [Directory Structure](https://docs.microsoft.com/en-us/aspnet/core/hosting/directory-structure) if that's ok with you.

- [x] Spelling, grammar, structure, and content review
- [x] Review directory structures shown and update as needed

I understand from https://github.com/aspnet/Docs/pull/217

[2016-11-18 02:05] GuardRex opened #2206 "Review of changes to ANCM Configuration Reference"
@Rick-Anderson @spboyer @Tratcher @pranavkm @shirhatti @moozzyk @danroth27

A significant update was just made to the [ASP.NET Core Module Configuration Reference](https://docs.microsoft.com/en-us/aspnet/core/hosting/aspnet-core-module) to accommodate the new [ANCM overview doc](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/aspnet-core-module), but I see just a handful of very

[2016-11-18 03:16] Rick-Anderson commented on #2205
correct

Looks good, proceed.

[2016-11-18 03:17] Rick-Anderson commented on #2206
@GuardRex  OK

[2016-11-18 03:18] Rick-Anderson commented on #2204
@GuardRex  OK

[2016-11-18 03:35] Rick-Anderson opened #2207 "API not picking up inherited members summary"
For example, see Order in https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.aspnetcore.mvc.responsecacheattribute#Microsoft_AspNetCore_Mvc_ResponseCacheAttribute_Order

The order property is shown. Order defined in the parent class.

[2016-11-18 03:38] Rick-Anderson commented on #1969
@JunTaoLuo when will VaryByQueryKeys be in the API docs for [responsecacheattribute] (https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.aspnetcore.mvc.responsecacheattribute)?

[2016-11-18 06:21] JunTaoLuo commented on #1969
How is that built? If it is being built against 1.1.0 release (FTS) then it should be.

[2016-11-18 07:19] Rick-Anderson commented on #2170
@bradygaster  can you script deletion of these messages? All we need is the overall Validation, not the message details.
![capture](https://cloud.githubusercontent.com/assets/3605364/20421981/86a8bbce-ad0b-11e6-8fa5-7496dcaddc1e.PNG)

[2016-11-18 08:02] 50774283 commented on #2197
Sorry,Rick-Anderson.the English is not my first language and i'm hard work to learn English.
the text "Support for session state" incorrect marked on namespace Microsoft.AspNetCore.StaticFiles.

[2016-11-18 15:50] sayedihashimi opened #2211 "Doc needed for Controller with app settings"
It's not easy adding a controller to a core app which consumes config. I know that we have an existing config page, but that is too broad for typical VS users. We should have a targetted article of how to create a contoller that consumes config.

cc @Andrew-MSFT

[2016-11-18 18:21] GuardRex commented on #2206
If you like any of these, I'll get a PR together this weekend. I numbered them for reference.

---
1

I recommend "allows Kestrel to use" (more formal) over "lets Kestrel use" (somewhat informal).

---
2

Throughout .NET Core docs and samples, `Web.config` (the uppercase IIS clan file naming convention) is ignored in favor of the lowercase filename, `web.config`. Throughout this doc and in all of

[2016-11-18 18:34] wpostma commented on #2206
Um.  Can I just say I find that confusing, it seems like passive voice.  Kestrel is designed to be fast, not designed to be secure, or load balanced, or to have policies or management or lots of logging. So IIS is a production web hosting platform, and kestrel is an ultra lightweight http request server.

So I would say "ASP.NET Core Module is the module that lets you run portable .net core applic

[2016-11-18 18:39] GuardRex commented on #2206
Technically tho, the description is correct. This is merely the reference doc. I think the intention is that general info, descriptions, how-to is all in the new ANCM overview doc at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/aspnet-core-module.

[2016-11-18 19:30] Rick-Anderson commented on #2206
@wpostma  can't we use your approach but also mention that you get security from the RPS. We can't leave out that detail.

@GuardRex  looks good, go ahead.

[2016-11-18 19:37] Rick-Anderson commented on #2197
I don't see that. Can you send the URL to the page and screen shot. Here is what I see
![capture](https://cloud.githubusercontent.com/assets/3605364/20443821/a001e61a-ad72-11e6-93eb-b7ee7b08f78b.PNG)

[2016-11-18 20:15] wpostma commented on #2206
Oh sure,  I'm just giving an End User perspective here. What I first found confusing about ANCM is that it exists at all.   Then I realized, this is a more modern architecture than ISAPI or DCOM, so of course it's a reverse proxy.

[2016-11-18 20:15] ardalis commented on #2211
You want something in mvc/controllers that indicates how to access config (probably IOptions<T>) values? I agree that would probably be helpful. @danroth27

[2016-11-18 20:16] GuardRex commented on #2206
@Rick-Anderson :+1: ... but on specifics ...

RE: 3 ... VS modding the `web.config`: Would you like this refactored to address the use of `publish-iis` tooling?  ... or left alone (except for the comma splice)? I assume you don't want it dropped, since the ANCM overview specifically says to come here for a `web.config` example.

RE: 5 ... the env var example: Leave it alone? ... change it to `ASPN

[2016-11-18 20:19] Rick-Anderson commented on #2207
@danroth27  please comment

[2016-11-18 20:25] wpostma commented on #2206
That's a good page. Why not link to that page from here? Links are awesome.  People will google and land all over your docs.

[2016-11-18 20:26] Rick-Anderson commented on #2206
@GuardRex  you make the call.

[2016-11-18 20:26] Tratcher commented on #2206
ASPNETCORE_ENVIRONMENT was my suggestion. It's a real value that people ask how to set. They're likely to set this after publishing as a way to help them debug their app.

[2016-11-18 20:33] GuardRex commented on #2206
@Tratcher Ok ... I'll leave that.

It is ... it will be in the opening paragraph.

[2016-11-18 20:33] tdykstra commented on #2146
How do you immediately catch all the new issues and PRs as they come in without getting buried in an avalanche of GitHub emails?

From: Rick Anderson [mailto:notifications@github.com]
Sent: Friday, November 18, 2016 12:21 PM
To: aspnet/Docs <Docs@noreply.github.com>
Cc: Tom Dykstra <tdykstra@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/Docs] Show how to use Azure Web A

[2016-11-18 20:40] sayedihashimi commented on #2211
Yes that's what  looking for.

[2016-11-18 20:47] Rick-Anderson commented on #2211
I'm updating config and pretty good coverage of controller consuming config see https://github.com/aspnet/Docs/pull/2120/

[2016-11-18 21:05] tdykstra commented on #2206
For the fundamentals doc, @wpostma intro sentence suggestion sounds good -- I'd just make minor changes:

For this doc I like @GuardRex suggestion

Regarding "allow" vs. "lets", the choice of the latter results from an effort on Microsoft's part to make its docs sound less formal. I was accustomed to using "allow" in cases like this but have been advised that the "lets" language is preferred for t

[2016-11-18 21:28] ardalis commented on #2211
Right but that's not necessarily as discoverable if you're doing MVC and drill down into the docs via MVC.

[2016-11-19 02:17] sayedihashimi commented on #2211
Consuming a config value in a controller is very common. We also changed how that's accomplished, and it's more difficult than it previously was.
Most users require guidance. Having a specific article for this would be ideal.

[2016-11-19 06:24] 50774283 commented on #2197
![description-wrong](https://cloud.githubusercontent.com/assets/16589080/20453533/82e6e61a-ae63-11e6-9ec1-6d2919ef4133.PNG)
![description-wrong-url](https://cloud.githubusercontent.com/assets/16589080/20453540/d7cdc964-ae63-11e6-9264-e69ffda1a492.PNG)

[2016-11-19 08:07] kiler398 opened #2217 "How to convert document from rst to md format"
Hi，I have attend a open source project for translate .net core document into chinese (https://github.com/dotnetcore/aspnetcore-doc-cn/).

We have work on the translate rst file,but we find that all the rst file have been change to md.

Is there any tools for microsoft to convert rst to md format? so we can reduce effort on translate work。

[2016-11-20 01:42] Rick-Anderson commented on #2197
Excellent, Thanks!

[2016-11-20 01:46] Rick-Anderson commented on #2197
@bradygaster  see https://docs.microsoft.com/en-us/aspnet/core/api/
Session is above. Also, why so many without descriptions?
![capture](https://cloud.githubusercontent.com/assets/3605364/20459708/43a3d3a8-ae6f-11e6-8eca-4e54f9e7b35c.PNG)

[2016-11-21 17:04] GuardRex commented on #2206
@Rick-Anderson I see your merge requests are going against "master;" but when I did it, it went against "aspnet:master." That seemed to have hung both PR's. Where did I go wrong there?

Also, curious how I can view the build progress as before. There's no link in the vicinity of ...

![capture](https://cloud.githubusercontent.com/assets/1622880/20492328/ef86c7d2-afd9-11e6-9840-b2bed39c7585.PNG)

[2016-11-21 18:48] Rick-Anderson commented on #1969
fixed by  #2210

[2016-11-21 18:48] #1969 closed

[2016-11-21 22:35] #2206 closed

[2016-11-21 22:35] #2205 closed

[2016-11-22 00:17] Rick-Anderson commented on #2206
@GuardRex  sometimes the OPS build doesn't show up. It usually shows up. If you see that again, let me know. I usually close/reopen  and that fixes it.

[2016-11-22 01:49] Rick-Anderson commented on #2217
@shirhatti can you share your conversion tool?

[2016-11-22 02:19] shirhatti commented on #2217
I'd recommending using [`pandoc`](https://pandoc.org/try/) to convert individual files from rst to Markdown.

Unfortunately, I can't share the tool I authored since it is an a dismal state right now.
I basically implemented a Sphinx builder based off the [HTML builder](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/builders/html.py) as part of Sphinx. If you are interested in replicating

[2016-11-22 17:52] stevehoag opened #2233 "Getting started doc needed for Visual Studio 2017 RC"
Create a version of the Getting started with ASP.NET Core MVC and Visual Studio that works with the Visual Studio 2017 RC tooling.

[2016-11-25 16:53] GuardRex opened #2248 ""command line" over "command-line""
This one falls under the heading of "Black Friday Silliness!" :smile:

I'm working on Pub IIS and fixing little things like "command line" (with a space) along the way. I became curious and did a quick search ... "command line" with a space is correctly used 16 times. However, "command-line" (with a dash) is used 9 times.

@Rick-Anderson When I'm done with Pub IIS, would you like me to submit a PR

[2016-11-26 00:14] GuardRex commented on #2204
Common Errors section work today. I tested the following scenarios and modified the section accordingly ...

1.	IIS installed but no module (self + port)
2.	IIS+module installed but no runtime or w/o restarting (install module only) (self + port)
3.	Installed hosting bundle without Internet connection (no VC++ redist installed) (self + port)
4.	IIS and hosting bundle installed but server/IIS not r

[2016-11-26 03:44] Tratcher commented on #2204
Including error log text can be very helpful via a search engines. Keep the latest version of the error text where possible.

[2016-11-26 20:14] simonech opened #2256 "Add a doc page that lists all core tag helpers"
ASP.NET Core MVC comes with a dozen of tag helpers.
Form related ones are already explained in the tag helpers page, but all the other ones, cache, script, environment and so on are not.

Would it be of interest? I can write that doc.

[2016-11-26 22:04] GuardRex commented on #2204
@Tratcher I have a prob with ...

### Platform conflicts with RID

 * **Browser:** HTTP Error 502.5 - Process Failure

 * **Application Log:** Application 'MACHINE/WEBROOT/APPHOST/MY_APPLICATION' with physical root 'C:\{PATH}\' failed to start process with commandline '"C:\{PATH}\my_application.{exe|dll}" ', ErrorCode = '0x80004005 : ff.

 * **ASP.NET Core Module Log:** Unhandled Exception: System

[2016-11-27 18:47] GuardRex commented on #2204
@Tratcher I made updates to cover deltas on a missing VC++.

I ran into one scenario that I couldn't cleanly test tho: If the VC++ redist is uninstalled, I believe that prior testing with my portable test app threw a 502.5 + 0x80070002 + empty ANCM log. When I went to uninstall VC++ (and restart), my portable test app would **still run** without it.

Therefore, I didn't quite know what to say abou

[2016-11-28 18:37] tdykstra commented on #2248
The usage should be two words as a noun, hyphenate as an adjective. Examples from the style guide:

The style guide also advises use of "command prompt" where we often use "command line".

[2016-11-28 18:46] GuardRex commented on #2248
@tdykstra Thanks. I may have missed or lost "style guide" along the way. Is that public? Do you have a link?

[2016-11-28 18:47] GuardRex commented on #2248
Let me propose then that when I'm done with Pub IIS PR that I take a closer look at use in the docs that I list above. I can review and report if all is well or not.

[2016-11-28 18:51] ncarandini opened #2258 "Write a small tutorial about how to set and use "Browser Link" with ASP.NET Core"
Hi, I'd like to know if I can contribute writing a small tutorial about how to use Browser Link with ASP.NET Core.

Something like the [Using Browser Link in Visual Studio 2013](https://www.asp.net/visual-studio/overview/2013/using-browser-link) post written by Mike Wasson, with a preamble for the things needed to set it for an ASP.NET Core project:

1. Add the `Microsoft.VisualStudio.Web.BrowserL

[2016-11-28 18:59] tdykstra commented on #2248
Your proposal to review and fix sounds great.  Unfortunately the style guide that has all the detailed terminology and grammatical guidance is not public yet, though I've been told they're working on making it public or creating a public version.

[2016-11-28 19:04] GuardRex commented on #2248
:smile: I thought so. :smile: Well .... my "boss" @Rick-Anderson can hardly hold that one against me. :smile:

Yeah ... I'm greatly looking forward to seeing what the grammar police think at MS.

WRT to this issue: Yeah, let me at least take a peek along the lines of what you gave me. If I find anything, I can float the changes (if any) in the issue. If that looks PR-worthy, then I'll shoot one in

[2016-11-28 19:13] Rick-Anderson commented on #2256
See Tag helper built in examples proposal  #2238
We have one in PR, feel free to review

[2016-11-28 19:15] Rick-Anderson commented on #2256
Please review #2238

[2016-11-28 21:08] tdykstra opened #2259 "Update the remaining docs that haven't been updated for RTM"
- [x] [Fundamentals/Application startup](
https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/startup.md) tdykstra #2270
- [x] [Fundamentals/Error Handling](https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/error-handling.md) tdykstra
- [x] [Fundamentals/Managing application state](https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/app-state.md) #858

[2016-11-28 21:21] tdykstra opened #2260 "Document new features in ASP.NET Core 1.1"
Features highlighted in the [announcement blog post](https://blogs.msdn.microsoft.com/webdev/2016/11/16/announcing-asp-net-core-1-1/):

- [x] Configuration Rick-Anderson
- [x] URL Rewriting Middleware @GuardRex
- [x] Response Caching Middleware @GuardRex
- [x] Response Compression Middleware #2279  @GuardRex
- [x] WebListener tdykstra
- [x] View Components as Tag Helpers Rick-Anderson
- [x] Middle

[2016-11-29 04:13] GuardRex commented on #2204
@Rick-Anderson Almost there. I'm ~90% on it.

There's one more thing for me to address (in addition to a final grammar/style edit): We vastly improved the Common Errors lead-in paragraph last time. I want to take a fresh look at it.

For one thing, it could use a note on setting `ASPNETCORE_ENVIRONMENT` to `Development` via an ANCM config in `web.config` (temporarily) as @Tratcher has instructed a

[2016-11-29 04:48] Rick-Anderson commented on #2204
Sounds good, no hurry No need to refer to [@]Tratcher with his alias - don't want to bother him more than necessary.

[2016-11-29 05:52] Tratcher commented on #2204
@GuardRex Restarting IIS was so that it would pick up the new PATH variable pointing to dotnet.exe (first time installs only). I often tell people to restart the server because it's easier.

I'm not aware of any restart requirements for VC++.

[2016-11-29 18:09] danroth27 commented on #2207
@bradygaster Is this a problem with the triple slash comments or with the API ref infrastructure?

[2016-11-29 19:12] Rick-Anderson commented on #2258
Go ahead. Add it to client side dev.

[2016-11-29 19:12] #2217 closed

[2016-11-29 19:15] Rick-Anderson commented on #2211
@sayedihashimi  see https://review.docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration?branch=ra%2Fconfig and comment on my PR  #2120

[2016-11-29 19:21] #2211 closed

[2016-11-29 23:55] Rick-Anderson commented on #2207
@danroth27  it has to be with the API Ref infrastructure. There are no /// comments typically on inherited members.

[2016-11-30 06:13] GuardRex commented on #2260
Missing Response Compression Middleware?

[2016-11-30 17:42] Rick-Anderson commented on #2260
@GuardRex  2nd item, i've updated it.

[2016-11-30 17:48] GuardRex commented on #2260
https://blogs.msdn.microsoft.com/webdev/2016/10/25/announcing-asp-net-core-1-1-preview-1/

The compression (gzipping) bits are a separate middleware from the caching middleware.

[2016-11-30 17:54] GuardRex commented on #2260
... according to my crappy testing here, it's about 30% slower than IIS, but they said its a WIP and that they'll get it faster later.

https://github.com/aspnet/BasicMiddleware/tree/dev/src/Microsoft.AspNetCore.ResponseCompression

https://github.com/aspnet/BasicMiddleware/issues/179

[2016-11-30 18:04] GuardRex commented on #2260
... and I guess since we're on the subject. If you decide to add either or both "Response Caching" and/or "Response Caching Middleware" (it seems like this would be one doc tho) to Performance docs and looking for a volunteer, let me know.

[2016-11-30 19:22] Rick-Anderson opened #2277 "Publishing and Deployment & Guidance for Hosting Providers clean up"
- Make content in Guidance for Hosting Providers available to those who are not hosting providers - ex ANCM ref should be in a more generic place, it's relevant to anyone who wants to host in IIS
 - "Guidance for Hosting Providers" should be renamed as it applies to more than hosting providers.
- Currently 3 docs on publishing to IIS - when would I use each approach? Who is that targeted to?
- Fig

[2016-11-30 19:44] Rick-Anderson commented on #2260
[Response Caching](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/response) is done, but it would be great if you could do [Response caching middleware](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/middleware)

[2016-11-30 19:50] GuardRex commented on #2260
I mistyped it initially. I was thinking "compression" and typed "caching" by mistake. Yes, thanks, I'll float you an outline this afternoon on the caching middleware doc.

If you decide to do a Response Compression one, as well, I like that topic, so let me know if you would like an outline on that one, too.

[2016-11-30 19:52] GuardRex commented on #2260
Sorry ... didn't see the end of your msg. I'll wait on the outline.

[2016-11-30 20:20] spboyer commented on #2067
Closing this, OPS is building all PRs

[2016-11-30 20:20] #2067 closed

[2016-11-30 20:32] Rick-Anderson commented on #2259
@spboyer you've been assigned
- [ ] [Client-side/Using Angular for Single Page Applications](https://github.com/aspnet/Docs/blob/master/aspnetcore/client-side/angular.md) spboyer

[2016-11-30 20:34] spboyer commented on #2259
@SteveSandersonMS - do you think that we should be documenting JavaScriptServices on [Client-side/Using Angular for Single Page Applications](https://github.com/aspnet/Docs/blob/master/aspnetcore/client-side/angular.md) or do we wait for the new templates?

[2016-11-30 22:09] Rick-Anderson opened #2279 "Response Compression"

[2016-11-30 22:23] Rick-Anderson commented on #2279
Middleware and other components
Client need to advertise they accept encoding
Server side - 3 components:
   behind IIS - build it dynamic response compression -- IIS has a predefined list it will attempt to compress - well documented elsewhere. If you app is behind IIS you get this, must explicitly turn off.
 -- IIS vs. Middleware, might as well use IIS, not sig different
 -- NGinx similar - do n

[2016-11-30 22:30] GuardRex commented on #2279
Unlike IIS, the middleware does not add a `Vary: Accept-Encoding` header on the way out when it compresses the response. Should I ask over in Basic Middleware repo about that?

[2016-11-30 23:45] GuardRex commented on #2198
@JunTaoLuo Just adding myself here so I'll get an E-mail from GH when the outline is ready.

[2016-11-30 23:46] tinchou commented on #2198
There's a subscribe button you'll find pretty useful :)

On Wed, Nov 30, 2016, 20:45 Luke Latham <notifications@github.com> wrote:

[2016-11-30 23:49] GuardRex commented on #2198
I'm subscribed to this repo's issues, but I don't get E-mail from GH on a specific issue unless I post to it. I just want to make sure I get an E-mail on this one so I can jump right on it when the outline is ready. [The Rex is lick'in his chops to get into this! :smile: ]

[2016-11-30 23:59] JunTaoLuo commented on #2198
Topics to include:
- Sample
  - Use something similar to the sample in the ResponseCaching repo: https://github.com/aspnet/ResponseCaching/blob/dev/samples/ResponseCachingSample/Startup.cs
  - Note that this sample does not illustrate how to use the `ResponseCachingFeature` to configure `VaryByQueryKeys`
- Extensions needed to use the middleware
  - `AddResponseCaching()`, `UseResponseCaching()`
-

[2016-12-01 00:01] JunTaoLuo commented on #2198
@GuardRex Thanks for helping out, let me know if you have any questions.

[2016-12-01 00:02] Rick-Anderson commented on #2198
@GuardRex  [meeting notes](https://dl.dropboxusercontent.com/u/18075777/Record_0005.wav)

[2016-12-01 00:07] GuardRex commented on #2198
@JunTaoLuo Thanks John. I'll be wrapping the Pub IIS doc with Tom's feedback by tomorrow afternoon. I want to take a quick look at the use of ["command line" language (Docs/2248)](https://github.com/aspnet/Docs/issues/2248) and get back to to Tom on that Wednesday afternoon, then I'll get right on this.

[2016-12-01 01:19] Rick-Anderson commented on #1842
@spboyer  can you take a look at the Live Fyre questions. Folks can't get this to work.

[2016-12-01 01:30] Rick-Anderson opened #2281 "expose https://docs.microsoft.com/en-us/aspnet/webhooks/"
https://docs.microsoft.com/en-us/aspnet/webhooks/
https://github.com/aspnet/Docs/tree/master/aspnet/webhooks

we need it in the TOC
@tdykstra  can you do that this week?

[2016-12-01 02:00] Rick-Anderson commented on #2279
@JunTaoLuo

[2016-12-01 02:39] GuardRex commented on #2248
aspnetcore/hosting/apppool.md ...

:point_up: **noun**

aspnetcore/client-side/bundling-and-minification.md ...

:point_up: **noun** (and prob should be "... from a command prompt ...")

aspnetcore/client-side/yeoman.md ...

:point_up: **adjective**

@tdykstra I just checked the first few, and yes, there are probs here. Would you like to see a PR?

[2016-12-01 02:42] tdykstra commented on #2281
Yes, but where?  Does it belong in the Core TOC?  It has its own TOC.

[2016-12-01 02:44] tdykstra commented on #2248
@GuardRex Yes that would be great, thanks!

[2016-12-01 02:45] Rick-Anderson commented on #2281
@danroth27 where do we expose Webhooks?
I think for now in the Core TOC. We can move it down the road.

[2016-12-01 14:29] spboyer commented on #1842
@Rick-Anderson addressed.  The yeoman generator is using a previous version of the sdk.  The fix is

add a file to the root of the project called "global.json" with the following content

[code]

- if the source of the project is in the root then set the "projects" value to ".", otherwise set it to where ever it is. i.e. "src"
- set the version to the value of the dotnet version "1.0.0-preview2-1-

[2016-12-01 17:15] #2248 closed

[2016-12-01 17:59] danroth27 commented on #2281
It shouldn't be in the ASP.NET Core TOC because it doesn't support .NET Core yet. There needs to be some way to get to it from https://docs.microsoft.com/aspnet.

[2016-12-01 19:15] #2204 closed

[2016-12-01 19:24] Rick-Anderson commented on #2281
@bradygaster  we need to get https://docs.microsoft.com/en-us/aspnet/webhooks/ added to https://docs.microsoft.com/en-us/aspnet/index
Can you do that?

[2016-12-01 19:34] #2057 closed

[2016-12-01 19:34] #2047 closed

[2016-12-01 19:36] bradygaster commented on #2281
@Rick-Anderson as @danroth27 points out i don't think we need to do this since it isn't supported by core. deferring to @danroth27 to get his opinion. also, i don't own that package. i think Henrik might be a better person to do it. That said i totally don't mind being assigned the task, but i want to wait for Mr. Roth's sign-off.

[2016-12-01 20:20] Rick-Anderson commented on #2281
@bradygaster  no, I asked you to add it to https://docs.microsoft.com/en-us/aspnet/index - which is not core and what danRoth requested.

[2016-12-01 20:57] Rick-Anderson opened #2288 "MVC/Views/View Components to RTM"
#2259

[2016-12-01 20:59] #1791 closed

[2016-12-01 21:00] Rick-Anderson commented on #1307
@tdykstra  please review

[2016-12-01 21:04] #829 closed

[2016-12-01 21:07] Rick-Anderson opened #2289 "RTM Testing/Integration Testing"
#2259

[2016-12-01 21:08] Rick-Anderson opened #2290 "RTM Client-side/Using Angular for Single Page Applications"
#2259

[2016-12-01 21:09] Rick-Anderson opened #2291 "update to RTM Client-side/Bundling and Minification"
#2259

[2016-12-01 21:10] Rick-Anderson opened #2292 "RTM Security/Authentication/Account Confirmation and Password Recovery"
#2259

[2016-12-01 21:11] Rick-Anderson opened #2293 "Update to RTM Security/Authentication/Two-factor authentication with SMS"
@Swiss-Devs  plans to do this.
master issue #2259
project.json to csproj/msbuild issue #2744

[2016-12-01 21:11] Rick-Anderson opened #2294 "Update to RTM Performance/In Memory Caching"
#2259

[2016-12-02 01:07] Rick-Anderson commented on #2292
@bartmax https://github.com/sendgrid/sendgrid-csharp/issues/221 and https://github.com/sendgrid/sendgrid-csharp/issues/146 are a bit difficult to follow but it looks like it might be some time before SendGrid supports .Net Core.  Do you know how I can get an ETA on when they will?

You mention alternatives, but I'd rather wait for a simpler SendGrid API.
cc @thinkingserious

[2016-12-02 02:30] Rick-Anderson commented on #2293
@danroth27 @spboyer
@joeaudette  has a [REST library for Twilio ](https://github.com/joeaudette/cloudscribe/blob/master/src/cloudscribe.Messaging.Sms/TwilioSmsSender.cs)

Can I use Joe's code until Twilio supports core?

In issue https://github.com/twilio/twilio-csharp/issues/163 twilio engineer @mplacona states:

We're working on a brand new version of the library that will support the
latest ver

[2016-12-02 02:52] Rick-Anderson commented on #2291
From the bundling and min doc
![image](https://cloud.githubusercontent.com/assets/3605364/20821420/67ccf266-b7e6-11e6-93d4-0d62b7a90745.png)

Something has changed, as the default template project now has no npm node and no package.json.
@spboyer Do you know where there are current directions for this?

[2016-12-02 02:52] #2281 closed

[2016-12-02 15:22] spboyer commented on #2291
@Rick-Anderson - yes it is a new topic: https://github.com/aspnet/Docs/issues/1786

This is the next item I am working on.

[2016-12-02 17:00] GuardRex opened #2303 "Consistent stdout log naming needed"
There are inconsistent `stdout` log names in the docs. I've spotted a few here and there, and [I see it again in the Response Caching sample](https://github.com/aspnet/ResponseCaching/blob/dev/samples/ResponseCachingSample/web.config#L7) ...
[code]
It should be ...
[code]
I propose to submit a PR that will make these consistent and correct across the docs. Sound good?

[2016-12-02 17:03] tdykstra commented on #2291
@spboyer #1786 is for update of client-side/bundling-and-minification which is what this issue was created for, so looks like this is a dup - what's the new topic? Can we close this one and add #1786 to the RTM updates issue #2259 ?

[2016-12-02 17:13] spboyer commented on #2291
@tdykstra  the new topic is to document the **Bundling and Minification** functions that are in the new templates in lieu of gulp. Everything that needs to be done is in #1786

[2016-12-02 17:19] #2291 closed

[2016-12-02 18:07] GuardRex commented on #2198
@JunTaoLuo Bit of a side-question, but I'm confused on seeing ...
[code]
I would have expected to see it in a compression sample, where the Response Compression Middleware changes the encoding but doesn't set the header automatically AFAICT from my testing.

In a purely caching sample, where there only ever is one encoding (`text/plain` in the sample, for example), do you want that there? ... I me

[2016-12-02 18:32] thinkingserious commented on #2292
@Rick-Anderson,

This one (https://github.com/sendgrid/sendgrid-csharp/issues/221) is currently under development in [this branch](https://github.com/sendgrid/sendgrid-csharp/tree/net-standard).

No promises, but I'm thinking it should be released within days with any luck in beta form. Release after that will depend on feedback. The beta will be on this branch: https://github.com/sendgrid/sendgri

[2016-12-02 18:33] JunTaoLuo commented on #2198
@GuardRex The `Vary` in the sample was there to illustrate how to vary the cached response by another header. In the example, the `Accept-Encoding` header was used but we could have used any other header. The `Microsoft.Extensions.Caching.Memory` dependency is unnecessary as you have mentioned and seems to be something that was not cleaned up.

[2016-12-02 20:32] tdykstra opened #2304 "1.1 feature: URL Rewriting Middleware"
From the list in #2260

[2016-12-02 20:34] tdykstra opened #2305 "1.1 feature: Middleware as MVC filters"
From the list in #2260

[2016-12-02 20:35] tdykstra opened #2306 "1.1 feature: Cookie-based TempData provider"
From the list in #2260

[2016-12-02 20:36] tdykstra opened #2307 "1.1 feature: View compilation"
Needs to be updated for csproj
From the list in #2260
 [announcement blog post](https://blogs.msdn.microsoft.com/webdev/2016/11/16/announcing-asp-net-core-1-1/):

[2016-12-02 20:38] tdykstra opened #2308 "1.1 feature: Azure Key Vault configuration provider"
From the list in #2260

[2016-12-02 20:39] tdykstra opened #2309 "1.1 feature: Redis and Azure Storage Data Protection Key Repositories"
From the list in #2260
[1.1 blog](https://blogs.msdn.microsoft.com/webdev/2016/11/16/announcing-asp-net-core-1-1/)

[2016-12-02 20:39] tdykstra commented on #2308
Dupe of #1993

[2016-12-02 20:39] #2308 closed

[2016-12-02 20:56] Rick-Anderson commented on #2303
@spboyer @tdykstra  please review proposal

[2016-12-02 21:02] spboyer commented on #2303
Why do you think it "should be" `aspnetcore-stdout`?  When writing stdout in node, it is not `nodejs-stdout`.

[2016-12-02 21:03] tdykstra commented on #2303
I'd prefer to use what the VS project templates create, which is what you see in the Response Caching sample, i.e., I would go in the opposite direction from what you're proposing.

[2016-12-02 21:03] GuardRex commented on #2303
It's not the default tho AFAIK for ANCM.

[2016-12-02 21:04] GuardRex commented on #2303
https://github.com/aspnet/AspNetCoreModule/blob/93ace1b84bd79382233cb39b858611d2db05552e/src/AspNetCore/aspnetcore_schema.xml#L24

[2016-12-02 21:36] tdykstra commented on #2303
Maybe it's more a product than a docs issue and we look at changing the VS project templates to create ".\logs\aspnetcore-stdout"?  Docs would then follow that lead.

[2016-12-02 21:50] Rick-Anderson commented on #2293
Looks like aspsms.com plans to do this in a few weeks.

[2016-12-02 21:52] Rick-Anderson commented on #2303
If others concur I'll open a template issue.

[2016-12-04 17:24] GuardRex commented on #2198
@JunTaoLuo I'm researching whether or not it is relevant to mention disabling IIS output caching in `web.config` for an app that prefers to use the middleware where IIS has been configured at the server level to cache objects.

I ran a test with the `HttpCacheModule` ...
1. a non-ANCM site to confirm IIS output caching was working normally (it worked :+1:)
2. a non-middlware ANCM-Kestrel site serv

[2016-12-05 09:22] mplacona commented on #2293
Hey @Rick-Anderson thanks for tagging me on this, and sorry it took me so long to pitch in.

You are correct, and we are working on a new version of the library that will support .NEt Standard, which should make sure there's no more fragmentation. For the time being though, I think it's worth mentioning here that the library is no more than a wrapper for our API, so while the library is not stable

[2016-12-05 15:12] ElvisHalil opened #2318 "Guidance on Deployment multi-tire MVC/EF Core 1.0 .net 4.6 starting with local IIS then Azure VM"
Hello,

As the title states, I would like some guidance or documentation on how to deploy first locally to IIS (running windows 10) and then to a azure VM.  My assumption is that this will be quite a similar process for the two.

I'm having a hard time finding proper documentation on this.

I have a multi-tier solution running successfully in VS locally.  It has a web component with MVC 6 and a fe

[2016-12-05 15:38] GuardRex commented on #2318
@ElvisHalil

For the local IIS case, go by https://docs.microsoft.com/en-us/aspnet/core/publishing/iis
For the Azure case, go by https://docs.microsoft.com/en-us/aspnet/core/tutorials/publish-to-azure-webapp-using-vs

The main docs entry point is https://docs.microsoft.com/en-us/aspnet/core/

[2016-12-05 15:49] ElvisHalil commented on #2318
Thank you @GuardRex

I have seen these docs, I will try to follow and see if I can get any success.

I am not using the ASP.NET Core Web Application (.NET Core) rather I am using

ASP.NET Core Web Application (.NET Framework)

does this make a big difference regarding deployment?

[2016-12-05 15:54] GuardRex commented on #2318
There's no difference, because both on IIS and in Azure Apps, Kestrel must use IIS as a reverse-proxy server; so in both cases, IIS will use the ASP.NET Core Module (ANCM) to proxy the requests.

You prob saw the docs for the module. Those are good to look at as well when setting up IIS and the app when hosting .NET Core apps (both Core CLR and .NET Framework).

It comes down to Kestrel ... If you

[2016-12-05 16:07] ElvisHalil commented on #2318
When I follow the instructions and try to browse to the site I get a error:

This site can’t be reached

www.tech.com’s server DNS address could not be found.

[2016-12-05 16:11] GuardRex commented on #2318
Sounds like a DNS resolution issue.

btw--- Given that this is the Docs repo, you probably should close here and open an issue over in the IISIntegration repo: https://github.com/aspnet/IISIntegration/issues

[2016-12-05 16:23] ElvisHalil commented on #2318
@GuardRex  Thank you sir, will move over there.

Much appreciate the guidance!

[2016-12-05 16:23] #2318 closed

[2016-12-05 16:27] spboyer commented on #1868
supervisor is no longer a recommendation for montitoring Kestrel, the document has been updated to prescribe using `systemd`.

[2016-12-05 16:27] #1868 closed

[2016-12-05 16:28] #1994 closed

[2016-12-05 19:14] Rick-Anderson commented on #2303
@GuardRex  we've decided to not change the names at this time.

[2016-12-05 19:14] #2303 closed

[2016-12-05 20:40] #2289 closed

[2016-12-05 22:28] tdykstra opened #2321 "testing/integration-testing "Integration testing""
- [ ] The article gives directions for making changes that presume you're working with a "starter" project but never gives you the starter project. If we retain the process of creating a middleware component we should provide the starter project.
- [ ] As part of the middleware component creation the article mentions creation of "extension methods" but doesn't show them and only shows a call to on

[2016-12-05 23:43] #1282 closed

[2016-12-06 00:36] #1385 closed

[2016-12-06 17:15] tdykstra opened #2331 "migration/http-modules "Migrating HTTP Modules to Middleware""
- [ ] Update for RTM

[2016-12-06 20:17] danroth27 commented on #1026
Looks like we already have this covered:
- https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing#url-generation
- https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing#url-generation-reference

[2016-12-06 20:17] #1026 closed

[2016-12-06 20:17] #2040 closed

[2016-12-06 20:23] Rick-Anderson opened #2332 "create TOC for Configuring Facebook, google, etc authentication"
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/sociallogins

put them in https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social
folder

[2016-12-06 20:23] danroth27 commented on #727
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/facebook-logins
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/twitter-logins
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/google-logins
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/microsoft-logins

However, it looks like these topics aren't showing up in the

[2016-12-06 20:23] #727 closed

[2016-12-06 20:25] Rick-Anderson commented on #2332
@tdykstra  can you get this done this week?

[2016-12-06 20:25] #2069 closed

[2016-12-06 20:34] danroth27 commented on #989
@Rick-Anderson Could you please add details to this issue based on our previous discussion?

[2016-12-06 20:36] danroth27 commented on #135
We think we will handle this as part of #977

[2016-12-06 20:48] #90 closed

[2016-12-06 21:16] Rick-Anderson opened #2333 "mvc/views/tag-helpers/authoring.md "Authoring Tag Helpers""
- [ ] section heading should be what TH feature is being used, not the sample name. For example Minimal Tag Helper in lieu of email TH.  next might be `SetAttribute`

[2016-12-06 21:37] Rick-Anderson commented on #1359
@GuardRex  can I close this?

[2016-12-06 21:39] GuardRex commented on #1359
@Rick-Anderson Yes, I think so.

[2016-12-06 21:44] #1359 closed

[2016-12-06 22:24] Rick-Anderson commented on #989
dup of #2277

[2016-12-06 22:24] #989 closed

[2016-12-06 22:28] tdykstra commented on #2332
@Rick-Anderson Yes

[2016-12-06 22:34] tmm360 opened #2334 "DataProtection Keys folder doesn't sync on Azure Web Sites distribution slots"
Cloned from aspnet/Home#1582 by suggest of @GuardRex. @blowdart

I'm running an Asp.Net Core RC2 application on Azure Web Sites, and I noted that every time that I switch staging and production environments, all users log off. So I've tried to test what happened, and I've discovered that on staging and production's "%HOME%\ASP.NET\DataProtection-Keys" folders the keys were different. Reading this

[2016-12-06 22:49] GuardRex commented on #2334
@blowdart If the answer is that the keys will follow the app as slots are swapped, then would something like this cover it ...

Also, it looks like they renamed the service slightly to "Azure Apps," "Azure App Service," or "Azure Web App." I thought "Azure Web Sites" was dropped at some point.

@tmm360 You should be able get some fine-grained control over this situation by using one of the other k

[2016-12-06 23:38] GuardRex commented on #2304
@Rick-Anderson Are you good for coverage on this one? Otherwise, I chatted with @tdykstra about working on grammar+style (e.g., commas, third person, etc.) in existing docs, so I can work on some of those if you like.

[2016-12-06 23:47] Rick-Anderson commented on #2304
@GuardRex let's hold off on editing for now. I thought you wanted to do this article?

[2016-12-06 23:48] tmm360 commented on #2334
@GuardRex Thank you, I've found the solution with the new 1.1 release. Because this I had closed the other issue.

[2016-12-06 23:53] GuardRex commented on #2304
@Rick-Anderson Yes, that's awesome, thanks. :smile: This one is especially interesting to me because over the years I've been generally unhappy with every doc out there on URL Rewrite rules (regular expressions) for IIS. I want to take a crack at presenting the "rules" part of the doc in a clear and helpful manner that will put other docs to shame.

Will Pranav, Nate, Mikael, or Justin provide an

[2016-12-07 00:00] GuardRex commented on #2334
@tmm360 Excellent. :+1: Yeah, let's hold on a sec here to see if @blowdart thinks a statement there about the key ring going along with the slot would be a good add. He'll get back to us soon.

[2016-12-07 00:11] blowdart commented on #2334
We've ask azure for keys that flow between slots. It's on their backlog with no scheduled implementation time. It is a limitation of azure web apps.

If you're wanting slots use blob storage, redis or implement a sql store suitable for your database schema.

[2016-12-07 00:14] GuardRex commented on #2334
@blowdart ... then you want to leave the doc as it is? If so, @tmm360 can close.

[2016-12-07 00:15] blowdart commented on #2334
We should call out that keys don't flow over azure slots.

I'm in meetings so I don't know what the doc says right now.

[2016-12-07 00:29] GuardRex commented on #2334
I was a bit confused tho by the OP description of its behavior. I think I'm clear on it now.

The relevant section is #1 at https://github.com/aspnet/Docs/blob/master/aspnetcore/security/data-protection/configuration/default-settings.md#key-management

Helpful language might be something like ...

[2016-12-07 00:39] Rick-Anderson commented on #2304
@GuardRex  I'll get you an outline and some more info.

[2016-12-07 18:01] blowdart commented on #2334
Wrong way around :)

Does that cover it @tmm360 ?

[2016-12-07 18:04] tmm360 commented on #2334
Yes, it does! Thank you.

[2016-12-07 18:04] GuardRex commented on #2334
Ah ... that's what I originally had in my first response. I guess I did understand the OP after all. :smile:

[2016-12-07 18:07] tmm360 commented on #2334
Yes, you did ;) Maybe my question was not very well exposed...

[2016-12-07 18:07] blowdart commented on #2334
This is the joy of reading issues in email :) @GuardRex do you want to submit the doc update? We're still suffering from the effects of moving buildings

[2016-12-07 18:10] GuardRex commented on #2334
@tmm360 Nah ... it's me. I'm a goofy green dinosaur! lol

@blowdart Yeah ... I'll take care of it right now. I'll use that text block you just provided and ping you on the PR.

@tmm360 No need to sweat closing this. The issue will auto-close when the PR goes in. Thanks for mentioning this. I'm just a community guy, but I'm sorry someone didn't catch your issue sooner. It was a good issue ... thing

[2016-12-07 18:16] tmm360 commented on #2334
Eheh, thank you!

[2016-12-07 19:03] Rick-Anderson commented on #858
In PR #1999

[2016-12-07 19:06] #2334 closed

[2016-12-07 21:51] #2332 closed

[2016-12-07 22:53] tdykstra opened #2343 "New Fundamentals Overview topic"
One thing we don’t have for Fundamentals is an overview topic.  We do have the overview content, but it’s in the Introduction where it’s more detail than is needed for an Intro.  We could reorganize this content by taking sections like “Application Anatomy” out of Introduction and creating a Fundamentals overview article out of them.

Fundamentals overview would have:
* Application anatomy
* Start

[2016-12-08 02:53] Rick-Anderson opened #2345 "security/authentication/social/google-logins.md "Configuring Google authentication""
When it says: “Add the Google middleware in the `Configure` method in Startup.cs:”

It should be specified that the code needs to go AFTER the call to `UseIDentity` or there will be an exception.

@tdykstra  can you fix this in our December milestone and notify @sebastienros when it's fixed?

[2016-12-08 04:17] Rick-Anderson commented on #1960
fixed via #2346

[2016-12-08 04:17] #1960 closed

[2016-12-08 06:36] xbuilder commented on #2217
So,There is no solution?

[2016-12-08 15:18] spboyer opened #2351 "Project: Develop and Enhance Content for ASP.NET Core on macOS / Linux"
This is a discussion issue for the [Develop and Enhance Content for ASP.NET Core on macOS / Linux project](https://github.com/aspnet/Docs/projects/4)

If there are topics or specific areas of interest related to this area, comment in this issue.

- #1842 Your First ASP.NET Core app on a Mac Using VS Code - Update/enhance
- #1799 Add Ubuntu versions of tutorials
- #1576 VSCode on Mac OSX /Linux ver

[2016-12-08 15:33] jchannon commented on #2351
Are 3rd party web fwks welcome?

[2016-12-08 15:39] spboyer commented on #2351
@jchannon - How is developing a fw different on macOS vs Linux vs Windows? Is there enough of a difference to warrant content for each platform?

[2016-12-08 17:04] tdykstra commented on #2345
@sebastienros See #2354 -- this warning was also in the overview page but the note formatting code was incorrect so it didn't show up as a note.

[2016-12-08 17:37] jchannon commented on #2351
I meant as this was filed under ASP.Net docs for content, I assume meaning How-Tos was this restricted to ASP.Net MVC or things like Nancy on dotnetcore?

[2016-12-08 17:54] spboyer commented on #2351
@jchannon this issue is specific to macOS and Linux development. I would open an [new issue](/aspnet/docs/issues/new) related to that question.

@danroth27

[2016-12-08 17:54] GuardRex commented on #2343
I guess you feel that a subset of sections would make the cut for the overview, but an alternative is that sections in the overview mirror all of the docs that exist under Fundamentals and appear in the same order as Fundamentals docs.

"Content root" and "Web root:" I guess you're implying that there is enough to say about them to make them separate sections and not part of "Application anatomy."

[2016-12-08 18:27] mikaelm12 commented on #1827
Thanks for the blog post @timomta !

[2016-12-08 18:35] tdykstra commented on #2343
@GuardRex

That would be ideal, but I would go with the current content as a first step in that direction.  Would you be interested in drafting that content?

I was just copying the sections that currently exist without rethinking the organization yet.  You may be right that they don't really fit as sections.

That's exactly what I had in mind with this proposal.

[2016-12-08 18:45] tdykstra commented on #2343
As part of this process we should review the present order of the articles as they appear in the Fundamentals TOC node and change the order where it makes sense, rather than just adopting that order for the overview doc.

[2016-12-08 18:50] Rick-Anderson commented on #2351
@spboyer  dup of #1576

[2016-12-08 18:53] Rick-Anderson commented on #2217
We don't have one, but you could try using [`pandoc`](https://pandoc.org/try/) to convert individual files from rst to Markdown.

We will be starting localization of our docs early next year.

[2016-12-08 19:00] GuardRex commented on #2343
Sure, I just need your priority on doing it. I imagine that you want the URL Rewrite doc done first, but let me know. I'm waiting on the outline for URL Rewrite; however, I certainly can guess most of what that doc will need and get most of that doc done soon ... like over the next couple of days.

[2016-12-08 19:01] ardalis commented on #2343
I'd be interested in working on / collaborating on this, too, when if/when it becomes a priority. I've written most of the Fundamentals articles at this point and would be like to be involved in how they're introduced.

[2016-12-08 19:05] #2345 closed

[2016-12-08 19:06] GuardRex commented on #2343
@ardalis Sounds like its more in your wheelhouse. There's plenty to keep me busy ... URL Rewrite ... others? ... View precomp? You guys can let me know what you need, and I'll get 'er done. :+1:

[2016-12-08 19:14] #2331 closed

[2016-12-08 19:23] Rick-Anderson commented on #2304
@danroth27  who's the right dev to provide an outline and sample code (perhaps pointing to samples/unit tests in repro).

[2016-12-08 19:31] Rick-Anderson commented on #2343
@tdykstra  can you split it up first then create an issue to rewrite the overview?
@ardalis  we'll get you to review the doc.
cc @danroth27

[2016-12-08 19:51] duynguyen0511 opened #2355 "remove UseWebRoot in [Working With Static Files]"
Please remove note or add clarification about UseWebRoot in [Working with Static Files](https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/static-files.md) because there is no mentions of UseWebRoot in [Introduction to ASP.NET Core](https://github.com/aspnet/Docs/blob/master/aspnetcore/index.md)

Does UseWebRoot work ? There is an open ticket for it #1367

![usewebroot](https://clo

[2016-12-08 19:53] spboyer commented on #2351
@Rick-Anderson not a duplication, this is a project discussion related issue for ALL macOS and Linux content.  #1576 should be added to the project.

[2016-12-08 21:21] #2288 closed

[2016-12-09 16:39] GuardRex commented on #2304
This seems to need a `URL Rewriting Middleware` doc stub.

[2016-12-09 17:09] GuardRex commented on #2260
@Rick-Anderson You have me listed for "Response Compression" but I'm working on "URL Rewriting" per https://github.com/aspnet/Docs/issues/2304.

[2016-12-09 17:14] GuardRex opened #2358 "Add new middleware to list in Middleware doc"
@ardalis

For the `Built-in middleware table` in the `Middleware` doc at:

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware#built-in-middleware
https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/middleware.md#built-in-middleware

Does it need (alphabetically added) ...

Heading | Text
--- | ---
Response Caching | Provides support for caching responses.
Response

[2016-12-09 20:24] Tratcher opened #2363 "Authentication docs for scenarios with multiple auth types"
When there are multiple authentication types are used in one application the developer needs to be explicit about which type to use where. Add docs about:
* AutomaticChallenge (https://github.com/aspnet/Security/issues/1062)
* AutomaticAuthenticate (https://github.com/aspnet/Security/issues/1062#issuecomment-267773814)
* CallbackPath (unique endpoint per middleware instance) https://github.com/asp

[2016-12-09 21:56] Rick-Anderson commented on #2304
@mikaelm12 please provide an outline and a code sample. [@]Tratcher will  review.

[2016-12-10 04:28] Rick-Anderson opened #2365 "update image in tutorials/first-mvc-app/adding-controller"
@stevehoag can you update the image that shows Models or update the text. Maybe better to just say the current project doesn't contain a Models folder yet.

[2016-12-10 15:52] GuardRex commented on #2304
Cross-ref: https://github.com/aspnet/Docs/issues/1839

[2016-12-10 18:09] GuardRex opened #2367 "New Topic: Using IIS Modules with ASP.NET Core"
This question has reoccurred to me due to Response Compression, Response Caching, and URL Rewriting middlewares hitting the scene.

Some IIS modules can process requests/responses with the reverse-proxy setup and others don't work. For example, IIS Dynamic Compression (`DynamicCompressionModule`) works, while IIS Static Compression (`StaticCompressionModule`) doesn't work.

Should we provide a pai

[2016-12-11 00:57] GuardRex commented on #2304
Note to self ...

* AddRedirect(string regex, string replacement)
  - Default statusCode: 302 (Found)
* AddRedirect(string regex, string replacement, int statusCode)
* AddRedirectToHttps()
  - Default statusCode: 302 (Found)
  - Default port: null
* AddRedirectToHttps(int statusCode)
  - Default port: null
* AddRedirectToHttps(int statusCode, int port)
* AddRedirectToHttpsPermanent()
  - statusCod

[2016-12-11 19:45] fratellomio opened #2368 "Typo"
there is a typo in "Tap F5 to run the app in debug mode or Ctl-F5 in non-debug mode." line. the Ctl-F5 should be replaced with Ctrl+F5.

[2016-12-12 18:00] mikaelm12 commented on #2304
@GuardRex Thanks for writing the outline! It looks great.

One thing that might be nice to add to this list is the different types of actions in addition to the Redirect and Rewrite. The abort and Gone actions for example.

Another point might be why use our rewriting middleware instead of the module provided by IIS.

A note on performance might also be nice. We did a basic perf investigation in h

[2016-12-12 18:00] mikaelm12 commented on #2304
Anything else that you think should go in there @Tratcher ?

[2016-12-12 18:12] GuardRex commented on #2304
@mikaelm12

I'm not quite following "Abort" and "Gone" (outside of status codes). How do you mean?

Yes, and the recommendation has been to use IIS or use Apache mod_rewrite when available. I've updated the outline to include that point in the Intro: "When to use URL Rewriting middleware?"

I have a note at "skipRemainingRules and performance" to talk about that. Did you want something more dedica

[2016-12-12 18:14] Tratcher commented on #2304
It would be good to have a more comprehensive list of not supported features. @mikaelm12 what else isn't supported yet?

Why us this vs IIS:
* Use it when you're not behind IIS
* Some of the IIS rules do not work with the ASP.NET Core project layout, like IsFile and IsDirectory. There is a common rule for angular that uses these and people keep breaking on.  We fixed these in the middleware versio

[2016-12-12 18:19] #1441 closed

[2016-12-12 18:28] tdykstra commented on #1673
Closing the issue, as the only thing left from it is streaming, which is covered by #2146

[2016-12-12 18:28] #1673 closed

[2016-12-12 18:40] mikaelm12 commented on #2304
The custom response action I referred to is actually its own type of action  [docs here](https://www.iis.net/learn/extensions/url-rewrite-module/url-rewrite-module-configuration-reference#CustomResponse_action), There they also describe the other actions types like Abort.

Here is a link to docs for [trackAllCaptures](https://www.iis.net/learn/extensions/url-rewrite-module/url-rewrite-module-20-co

[2016-12-12 19:29] danroth27 commented on #2367
Sounds like good content to have. I'm not sure the Publish to IIS doc is really the right place though. I definitely wouldn't put it in the ANCM Config Reference. Maybe a separate topic? We really need to rework the TOC for hosting and publishing.

[2016-12-12 19:30] Rick-Anderson commented on #2367
Call it IIS modules that work with ASP.NET Core.

[2016-12-12 19:30] danroth27 commented on #2367
Or maybe "Using IIS Modules with ASP.NET Core"?

[2016-12-12 19:34] danroth27 commented on #2358
Yup, sounds good. @GuardRex if you'd like to take this on that would be great.

[2016-12-12 19:40] danroth27 commented on #2355
Yeah, we should remove the pointer to the Intro to ASP.NET Core doc from that note.

Yes, `UseWebRoot()` does work, although I don't think VS will be able to reflect this correctly in the solution explorer. I believe VS just always assumes that `wwwroot` is your web root, but everything should still work correctly at runtime. The icon will just be wrong.

[2016-12-12 19:43] #2343 closed

[2016-12-12 21:03] #2368 closed

[2016-12-12 21:56] GuardRex commented on #2358
@danroth27 Sure thing. I'll get a PR in soon.

[2016-12-12 21:56] Rick-Anderson commented on #2355
fixed in #2375

[2016-12-12 21:56] #2355 closed

[2016-12-12 22:09] tdykstra opened #2377 "fundamentals/index "Fundamentals""
- [ ] Follow-up to #2343 -  Rewrite so that the text corresponds to the articles in the TOC. Change the order of topics in the text and in the TOC as needed.

[2016-12-13 03:50] GuardRex commented on #2304
@mikaelm12 I added an "Unsupported features" entry under `AddIISUrlRewrite` and listed the items mentioned. How does it look?

[2016-12-13 04:39] GuardRex commented on #2367
Here's the full list for reference:

### Utility Modules
AnonymousAuthenticationModule
BasicAuthenticationModule
CertificateMappingAuthenticationModule
CgiModule
ConfigurationValidationModule
CustomErrorModule
CustomLoggingModule
DefaultDocumentModule
DigestAuthenticationModule
DirectoryListingModule
DynamicCompressionModule
FailedRequestsTracingModule
FileCacheModule
HttpCacheModule
HttpLoggingMo

[2016-12-13 07:01] GuardRex commented on #2279
There is an issue for this now at https://github.com/aspnet/BasicMiddleware/issues/187

[2016-12-13 14:37] spboyer commented on #1799
@Iarflaith the reason you had this issue is Linux systems are case sensitive.

[2016-12-13 19:28] Tratcher opened #2384 "Docs for UseForwardedHeaders, working with reverse proxies and load balancers"
https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction
https://github.com/aspnet/Security/issues/1070
https://github.com/aspnet/Security/issues/929
https://github.com/aspnet/Security/issues/757
https://github.com/aspnet/Security/issues/853
https://github.com/aspnet/IISIntegration/issues/140
https://github.com/aspnet/Security/issues/1620
https://github.com/aspnet/Security/issues/17

[2016-12-13 19:55] Tratcher commented on #2384
https://github.com/aspnet/BasicMiddleware/issues/190

[2016-12-13 20:26] spboyer commented on #2279
nginx nor apache does compression by default, you must enable it in the config.

[2016-12-13 20:28] spboyer commented on #2279
Good community articles
- https://blogs.msdn.microsoft.com/webdev/2016/10/25/announcing-asp-net-core-1-1-preview-1/
- https://ievangelist.github.io/blog/asp-net-core-optimization/

[2016-12-14 06:17] #2358 closed

[2016-12-14 22:09] danroth27 opened #2386 "security/cors Add content to CORS topic on using wildcards or custom logic for allowing origins"
- [ ] See https://github.com/aspnet/CORS/pull/94 for details on wildcards/custom logic.
- [ ] Consider adding back the client and service test project creation sections from the [ASP.NET classic original version of this article](https://docs.microsoft.com/en-us/aspnet/web-api/overview/security/enabling-cross-origin-requests-in-web-api).
- [x] ~Respond to LiveFyre comments~

[2016-12-14 22:09] spboyer commented on #267
for **bower**, the *.bowerrc* file must be edited on a per project basis.
[code]
If working behind an authenticated proxy, user and password should be included like this:
[code]

This is documented on the [bower.io] site at https://bower.io/docs/config/

for **npm** node.js must be installed globally and then the registry is set with the command:
[code]

documented at https://docs.npmjs.com/cli/co

[2016-12-14 22:40] spboyer commented on #1382
The implementation of the CommandLine arguments are for settings similar to the Configuration providers that exist for INI,JSON, and XML files.  The difference here is the setting are passed in at start of the application conversely the files are used in the Startup.cs class.

### Using a file
[code]

### Using command line provider

[code]

The port(s) that kestrel runs on are now configured usin

[2016-12-14 22:43] spboyer commented on #1382
@Rick-Anderson @danroth27 ^^

[2016-12-14 22:47] spboyer commented on #2029
This is being tracked at tooling https://github.com/aspnet/Tooling/issues/841

[2016-12-14 22:47] #2029 closed

[2016-12-15 01:00] Rick-Anderson opened #2387 "Enable search scope"
From: Duncan Mackenzie
The search issue could be resolved if we added a search scope to your docs…

This is a relatively new feature (last week!)

•	Search Scope support (if your docset have a search scope defined, the pages will display the scope of your docset in the search box, and searches will be restricted down to within only pages/docsets with that same scope.) (Feature)

So, for scoped sea

[2016-12-15 16:59] danroth27 commented on #1382
@Rick-Anderson The ask here is to cover what syntaxes are supported by the command-line provider. We kinda cover this here: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration#commandline-configuration-provider. However, the behavior isn't clearly specified. Instead you have to figure it out from the example. When I read this section I still felt like I needed to go read the co

[2016-12-15 17:02] danroth27 commented on #267
Let's not duplicate the bower/npm docs. If there are VS specific things to document here then let's do it. Otherwise I think we should close this issue.

[2016-12-15 17:02] #267 closed

[2016-12-15 17:16] danroth27 commented on #1813
Looks like the official doc on choosing between .NET Core and .NET is located here: https://docs.microsoft.com/en-us/dotnet/articles/standard/choosing-core-framework-server. We should remove our doc and link to the official one.

[2016-12-15 18:24] mekinney opened #2391 "Security: Extend ContosoUniversity with Authentication"
Extend ContosoUniversity tutorial in Working with Data / Getting started with ASP.NET Core to include  Authentication.  This would be a more real world example.  This example would demonstrate how to give existing students the ability to login and see their classes.  Demonstrates how to link authentication classes (ex: ApplicationUser) to application classes (ex: Student).

[2016-12-15 18:33] Rick-Anderson commented on #1813
@tdykstra  an easy one for you.

[2016-12-15 18:57] Rick-Anderson commented on #2391
@mekinney  PR https://github.com/aspnet/Docs/pull/1780 does this. I need to fix one security issue and hope to get to it soon.
cc @tdykstra  @spboyer

[2016-12-15 18:57] #2391 closed

[2016-12-15 19:08] Rick-Anderson commented on #2384
@Tratcher Please clarify the ask and outline the solution.

[2016-12-15 21:36] #2387 closed

[2016-12-15 22:20] GuardRex commented on #2304
@mikaelm12 I'm wrapping up the Response Caching doc with [@]JunTaoLuo now, so I should get back to this one Friday morning and jam on it right through the weekend :guitar:. How does the outline look now?

[2016-12-16 01:15] Rick-Anderson commented on #2197
@bradygaster  @danroth27  please review.
I've had to close two PR's over this. See https://github.com/aspnet/ApiDocs/pull/14/files and https://github.com/aspnet/ApiDocs/pull/15/files

[2016-12-16 01:47] Rick-Anderson commented on #2024
@SteveSandersonMS please comment.

[2016-12-16 05:36] danroth27 commented on #2197
Yeah, we should fix this. Shouldn't we just take one of those two PRs?

[2016-12-16 17:21] bradygaster commented on #2197
@danroth27 seems like the right thing to do

[2016-12-16 18:39] tdykstra opened #2406 "Improvements to site navigation"
- [x] Make expandable TOC nodes go to index.md page for the group rather than just expand/collapse the TOC, similar to how the docs.ms.com/dotnet/articles site works.
  - [x] Fundamentals and Fundamentals/Server - make overview topic for Fundamentals #2364
  - [x] Security/Authentication/Social #2341 #2361
  - [x] Tutorials - index.md should organize the list of tutorials and facilitate navigation

[2016-12-16 21:07] #1813 closed

[2016-12-16 23:07] Rick-Anderson commented on #565
@danroth27  @tdykstra  @spboyer  customers are complaining about our current text **View or download sample code** (see [Configuration ](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration)comments)
I propose we change the text to "View sample" "Instructions to download code" and we write a short article telling them how to download the code.

[2016-12-16 23:16] tdykstra commented on #565
Sounds good.  I might reword the two links to "View sample code" and "Instructions to download"

Would be nice if we could provide the path in the instructions doc ... maybe include it as query string in the Instructions link and tell them they can see it in the URL?

[2016-12-17 00:27] Rick-Anderson commented on #867
fixed via #2346

[2016-12-17 00:27] #867 closed

[2016-12-17 00:32] Rick-Anderson commented on #437
@GuardRex  can you provide a sample project? No hurry.

[2016-12-17 00:33] Rick-Anderson commented on #437
@danroth27  is this something we want to add to the document or sample?  Wouldn't it be better to pass the options in a model from the action method?

[2016-12-17 00:46] Rick-Anderson opened #2408 "Address MVP summit feedback on Configuration"
Most of the issues were address independently in  #2346. Use the bullets below to address the remainder.

- [ ] Add intro that states why you'd want to use config and that it works for ASP.NET MVC Core apps.       **addresses** console app	Assumed that the post wasn’t about ASP.NET
- [ ] The beginning of the doc is a bullet pointed list of the configuration providers that are supported which is ve

[2016-12-17 00:47] Rick-Anderson opened #2409 "fundamentals/configuration "Configuration" command line providers & inject Options"
- [ ] Configuration: Document format supported for command line arguments provider #1382
- [x] Markup to show how to inject Options in Configuration document #437
- [x] Address MVP summit feedback on Configuration #2408

[2016-12-17 01:04] Rick-Anderson opened #2410 "Organize and expand Web API"
Customer likes [Building Your First Web API with ASP.NET Core MVC and Visual Studio](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api) but would like to see a followup tutorial.

- [ ] #2461 Angular 2
- [ ]  #949 Patch
- [ ]  Versioning
- [ ]  Security - CORS, XSRF, JWT
- [ ]  Update [Building Your First Web API with ASP.NET Core MVC and Visual Studio](https://docs.microsoft.co

[2016-12-17 03:05] #2233 closed

[2016-12-17 03:05] #2365 closed

[2016-12-17 07:18] GuardRex commented on #437
@Rick-Anderson

Under the section *Using Options and configuration objects* and immediately after the line ...

Something like this could be mentioned (with a View added to the current **UsingOptions** sample), which ties into the example just provided ...

You can also inject `IOptions<TOptions>` directly into a Razor view:
[code]
Could possibly add a browser rendering this, but it probably isn't

[2016-12-17 12:42] zetway commented on #2167
I have the same issue

[2016-12-17 19:43] GuardRex commented on #2304
@Rick-Anderson Looks like this Url Rewrite doc needs a doc stub/location.

[2016-12-17 20:32] Rick-Anderson commented on #2304
@tdykstra  can you work with @GuardRex  on this?

[2016-12-17 20:34] GuardRex commented on #2304
@Rick-Anderson My coauthor on this one is Tom and not Mikael? ... or both?

[2016-12-18 04:14] Rick-Anderson commented on #2304
@GuardRex  - @tdykstra  will manage/UE review/merge/etc

[2016-12-18 22:26] tdykstra commented on #2304
I'll create the doc stub but need a TOC location ...

@danroth27 Is under Fundamentals/Middleware the best TOC location? E.g.,

* Middleware (node goes to current Middleware doc, expands to show URL Rewriting under it)
  * URL Rewriting Middleware

This article is not really about "fundamentals" but I don't see a logical place for it elsewhere.  The only alternative I see is Publishing, but it doe

[2016-12-20 00:37] #2028 closed

[2016-12-20 18:33] GuardRex opened #2427 "Do we have an image/icon source for docs?"
@tdykstra I'm working on the URL Rewriting doc and need to craft a few images. Do we have a source for images/icons when creating images for docs (e.g., pics of computers, servers, user icons, etc.)?

[2016-12-20 19:33] tdykstra commented on #2427
http://aka.ms/CnESymbols

[2016-12-20 19:33] #2427 closed

[2016-12-21 18:43] tdykstra commented on #2304
@GuardRex Pending review by @danroth27 et al, I put the stub in hosting/url-rewriting.md.  It's not ideal but on second thought seems a better fit than fundamentals or publishing.  If we find a better place for it later we can move it.

[2016-12-21 19:14] sebastienros opened #2429 "Hidden important information on routing"
On this page https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing there are two comments stating this is not what they are looking for. What they want is actually on another page and the article mentions it, but this mention is doesn't have enough visibility.

[2016-12-21 19:44] #2429 closed

[2016-12-21 21:09] ardalis commented on #1910
Is there a cleaner way to remove one application part from ApplicationPartManager than this?

                .ConfigureApplicationPartManager(p =>
                {
                    var parts = p.ApplicationParts.ToList();
                    p.ApplicationParts.Clear();
                    p.ApplicationParts.AddRange(parts.Where(part => part.Name != "DependentLibrary"));
                })

Th

[2016-12-21 21:15] tdykstra commented on #2306
@Rick-Anderson Can you cover this in fundamentals/app-state.md #2404 ?

[2016-12-22 02:48] Rick-Anderson commented on #2306
@tdykstra  OK

[2016-12-22 03:07] GuardRex commented on #2147
@Rick-Anderson I realize this wasn't quite "up for grabs" given your OP, but it looked like fun, so I thought I would float this PR to you. If you prefer the help desk to do it, no worries.

I noticed an image that needs a PS touch-up as I was doing this, and I'll open a new PR to update that image shortly.

[2016-12-22 17:39] GuardRex commented on #2304
@tdykstra

RE: Title *URL Rewriting Middleware*

According to the outline and bits of discussion, this is going to be the definitive doc on the subject, so there won't be two docs (a URL rewriting doc and a middleware doc). If that's correct (one doc to cover the whole subject), I'll change the TOC+index title to *URL Rewriting* in my branch, so that will update on `master` with the PR later.

Oth

[2016-12-22 17:41] tdykstra commented on #2304
Changing the title is fine, I just took what was in the section heading of the announcement blog.

[2016-12-22 18:03] #2147 closed

[2016-12-23 02:16] Rick-Anderson commented on #2147
@tdykstra  are all the images fixed?

[2016-12-23 04:02] GuardRex commented on #2304
Cross-ref WRT server variables lack of parity: https://github.com/aspnet/BasicMiddleware/issues/195

[2016-12-23 05:19] GuardRex commented on #2147
Looks like a couple slipped by me (but I'm not sure how ... SneakyLinks:tm:) ...

aspnetcore/security/authentication/identity.md
aspnetcore/tutorials/first-mvc-app/new-field.md

I'll get a PR in to fix these in a few minutes.

[2016-12-23 17:42] #138 closed

[2016-12-26 02:34] GuardRex opened #2444 "Comment system/notifications on docs seems broken"
I wasn't getting notifications on doc comments after I made a comment on a few docs, so I tried to get into my profile to set notifications. After clicking the `Edit profile` link, it seems to get stuck and the profile is never loaded ... thus I'm unable to set notifications.

![capture1](https://cloud.githubusercontent.com/assets/1622880/21474178/5174b8e2-cae1-11e6-8cf9-4aa93918d0ec.PNG)

![captu

[2016-12-28 03:10] ncarandini commented on #2258
@Rick-Anderson I wrote the draft, made the PR  #2445 and requested the review.

Because I've used the structure and some (revisited and updated when needed) text from the original [Using Browser Link in Visual Studio 2013](https://www.asp.net/visual-studio/overview/2013/using-browser-link) article written by Mike Wasson, I've added a note at the end of the article to give him credit for his origin

[2016-12-28 04:23] averes2 commented on #687
This is a year old issue but I seem to have run into it and can't find a solution? May be I missed it?

This is what I've done to get JS working though I'd love to be able to include a script tag directly

`<style onload='if (typeof init_component == "undefined") $.loadScript("/js/Components/top_bar_selection_popup.js", function () {
        });'> </style>`

The style tag loads and inline JS works

[2016-12-29 04:21] scottaddie opened #2451 ""Adding a model" tutorial suggestion"
In the [Adding a model](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model) tutorial, the following property in the `Movie` class should be decorated with a `Display` attribute to insert a space between the words "Release" and "Date":

[code]

It's a common requirement to display text other than the default property name, so I think many would benefit from seeing how

[2016-12-30 15:23] smatthews1999 commented on #2410
I would like to see adding Entity Framework incorporated (Code First) and actual save operations to a DB.  Where would these saves most likely happen from... TodosRepository?  Is there any way to avoid having to write models twice (TodoItem and the DB equivalent)?

[2016-12-30 19:23] GuardRex commented on #2279
![thankyou](https://cloud.githubusercontent.com/assets/1622880/21570968/59dd1990-ce90-11e6-902e-e84cfe643943.png)

*"Thank you, sir! May I have another?"* - Chip (Kevin Bacon) - Animal House, 1978

@Rick-Anderson @tdykstra @spboyer I'm on a bit of a roll with middleware-type docs. Is this one covered? I'm about to be free, as the bulk of the work is done now on Response Caching Middleware and URL

[2017-01-01 09:42] bcnzer opened #2453 "Upgrading Testing Controller Logic sample code to 1.1"
In the article [Testing Controller Logic](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/testing) the sample code references 1.0 of the .NET Core SDK. Specifically:
- `1.0.0-preview2-003121` in global.json
-  `netcoreapp1.0` in the project.json files

I'd like to change that to reference the v1.1 of the SDK. It's a small change:
1. in global.json change the version to `1.0.0-preview2

[2017-01-03 05:03] GuardRex commented on #2367
@danroth27 @Rick-Anderson I'll work through collecting data for this. I'll take relevant notes as I go in case there is more to say than "Yes" for any given module.

[2017-01-03 15:11] SteveSandersonMS commented on #2024
Browsers aren't required to automatically send the user's timezone to the server with each request. The HTTP spec doesn't require that.

So if you need that information on the server, you'll need to run some client-side code to grab the timezone offset and put it somewhere that will get sent back to the server, such as a hidden form field. Example here: http://stackoverflow.com/questions/40510963/

[2017-01-03 19:05] Tratcher commented on #2384
Most sites are hosted behind a reverse proxy, especially our recommended configurations using IIS/ANCM or NGinx. When the request is being proxied some information may be lost like the original scheme (http/https), the client IP address, etc.. You may need these values to properly generate links, evaluate polices, geolocate clients, etc.. There is a convention for the proxies to forward these valu

[2017-01-03 19:43] spboyer commented on #1198
Issue is dated, however looking at what we have now documented for nginx and Apache is well documented for what is needed in the reverse proxy.  For ASP.NET Core to know that the request are SSL and/or to listen on 443. The following must be added.

NuGet package `Microsoft.AspNetCore.Kestrel.Https`

and in `WebHostBuilder` add

[code]

cc:\ @blowdart

[2017-01-03 20:08] ardalis commented on #1910
For reference: https://github.com/aspnet/Docs/pull/1945

[2017-01-03 20:10] ardalis commented on #1910
Get the instance and then remove it directly: https://github.com/danroth27/AspNetCoreModules/blob/master/src/Microsoft.AspNetCore.Modules.Mvc/MvcBuilderModulesExtensions.cs#L18

[2017-01-03 20:30] danroth27 opened #2461 "Document using ASP.NET Core with Angular 2"
We should see what docs we should add to the official ASP.NET Core docs for using Angular 2 with ASP.NET Core given the great work @SteveSandersonMS and the community have been doing in this area:

http://blog.stevensanderson.com/2016/10/04/angular2-template-for-visual-studio/

see Suggestion for new page in client side development #2926

[2017-01-03 20:38] Rick-Anderson commented on #2453
@spottersys  Yes, thanks.

[2017-01-03 20:40] Rick-Anderson commented on #2451
Yes, thanks.

[2017-01-03 21:03] Rick-Anderson commented on #2410
Moved to https://github.com/aspnet/Docs/projects/5

[2017-01-03 21:03] #2410 closed

[2017-01-03 21:11] Rick-Anderson opened #2462 "Update Building Your First Web API with ASP.NET Core MVC and Visual Studio to use EF in-memory DB"
- [ ] In-memory EF DB will make it easier to test app and show how to use simple EF DB.

[2017-01-04 00:11] Rick-Anderson commented on #2279
Go for it.

[2017-01-04 00:12] GuardRex commented on #2279
Thanks ... and I'm glad you said 'yes' ... I already started working on it. :smile:

[2017-01-04 00:13] GuardRex commented on #2279
@Rick-Anderson Do you want me to take what's above and build the outline? --- or do you want an outline from a dev on the team?

[2017-01-04 00:23] GuardRex commented on #2260
@tdykstra

[@]Rick-Anderson let me have the Response Compression doc https://github.com/aspnet/Docs/issues/2279#issuecomment-270262068.

The Response Caching Middleware doc is also on me (it's awaiting merge https://github.com/aspnet/Docs/pull/2315).

[2017-01-04 02:00] GuardRex commented on #2279
WIP on this ... I'm still looking at online resources.

* Introduction
  * Response compression defined
  * Value of response compression + size savings example
  * `Accept-Encoding` header
* Response Compression Middleware
  * Mention/link sample
  * MimeTypes
    - Default list [reference](https://github.com/aspnet/BasicMiddleware/blob/dev/src/Microsoft.AspNetCore.ResponseCompression/ResponseCom

[2017-01-04 05:07] Rick-Anderson commented on #2279
@danroth27  can you let me know the dev contacts for this? I'll set up a skype meeting to go over the outline.

[2017-01-04 05:54] vijayande commented on #2410
Rick, how do I connect to Azure SQL DB and get some records from the DB using web-api, could you please share any article on the same.

[2017-01-04 16:35] danroth27 opened #2467 "Document how to host ASP.NET Core in a Windows Service"
Using https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.aspnetcore.hosting.windowsservices

[2017-01-04 16:40] danroth27 commented on #2279
@muratg

I think it's @Tratcher

[2017-01-04 17:54] rahossain opened #2468 "Mock logger giving me error for ASP.NET Core"
I was trying to verify whether my log warning message is written via NUnit mocking. But I am getting error. **Error message**  :
An exception of type 'System.NotSupportedException' occurred in Moq.dll but was not handled in user code
Additional information: Invalid verify on a non-virtual (overridable in VB) member: m => m.LogWarning(String.Format("comments not found for part number :{0}", (Object

[2017-01-04 18:24] Rick-Anderson commented on #2410
@vijayande this is not a support forum. I recommend you post your question to SO.

[2017-01-04 18:45] danroth27 commented on #2467
Note, this currently only works on full .NET.

[2017-01-04 20:10] bcnzer commented on #2468
@rahossain I was recently fighting with this issue myself. I found the simplest work-around is to create a wrapper class for the static method. If you provide your Stack Overflow link I can share what I did in more detail

[2017-01-04 20:13] rahossain commented on #2468
here is stack overflow link:
http://stackoverflow.com/questions/41472479/mock-logger-giving-me-error-for-asp-net-core

[2017-01-04 20:21] Rick-Anderson commented on #2444
@tdykstra  please respond

[2017-01-04 20:23] #2468 closed

[2017-01-04 20:47] tdykstra commented on #2444
@GuardRex The problem with editing your profile is a LiveFyre issue.  I get the same result when I click Edit Profile, but I'm getting notifications.  Did you click "Follow" under the comment text entry box on the articles you want to follow?

[2017-01-04 20:50] GuardRex commented on #2444
I'll try that. Thanks.

Is the broken profile situation tracked elsewhere ... can I close this issue?

[2017-01-04 20:58] ardalis commented on #1847
This appears to be resolved.

[2017-01-04 20:58] #1847 closed

[2017-01-04 21:08] tdykstra commented on #2444
Yes -- you can close this issue.

[2017-01-04 22:13] #1145 closed

[2017-01-04 22:15] #2068 closed

[2017-01-05 01:23] #2453 closed

[2017-01-05 02:14] tdykstra commented on #2444
No, but I can't repro that.  Maybe someone else clicked Follow the same time you did, or you're such an important contributor that you count as two people.

[2017-01-05 03:42] GuardRex commented on #2444
Something funky going on here. I went over to the *Working with Static Files* doc. I just kept clicking "Follow" and "Unfollow" over and over. I was able to get the user count to jump up five users ...

![capture1](https://cloud.githubusercontent.com/assets/1622880/21668108/52c2639e-d2c4-11e6-8670-8f6d58cdd443.PNG)

![capture2](https://cloud.githubusercontent.com/assets/1622880/21668109/56a16b4a-d

[2017-01-05 04:24] tdykstra commented on #2444
OK, I passed that on to our LiveFyre contact also.

[2017-01-05 04:27] #2444 closed

[2017-01-05 13:40] ardalis commented on #2408
Want me to work on this one? If yes, assign me.

[2017-01-05 13:47] ardalis commented on #2009
Where should this be documented? https://docs.microsoft.com/en-us/aspnet/core/mvc/views/overview seems like the closest place, currently.

[2017-01-05 13:52] ardalis commented on #2112
Looking to update this once the doc is updated to 1.1.

[2017-01-05 14:18] ardalis commented on #89
For reference: #1945

[2017-01-05 16:22] spboyer commented on #2384
@Tratcher if UseIISIntegration is not enabled and/or IIS is not used (i.e. nginx, apache, etc) it is important to not only have the reverse proxy setup properly for forwarding the requests and headers, but to also add the UseForwardedHeaders middleware.

Is that what you are asking here to document?

and is more that the following needed:

[code]

[2017-01-05 18:27] tdykstra commented on #2444
@GuardRex Regarding getting stuck at "loading profile", LF responded

When I do that it works for me.

[2017-01-05 19:11] dougbu commented on #2009
@ardalis that page doesn't mention `@Html.Editor(...)` or `@Html.EditorFor(...)` and those are the only methods that support `"htmlAttributes"` keys in the `ViewDataDictionary`. I suggest https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms

Side notes (FYI):
- Doesn't really matter what adds the key to `ViewDataDictionary`. It's most commonly done in the `@Html.Editor[For]()`

[2017-01-05 19:26] Rick-Anderson commented on #2408
@ardalis  I totally rewrote [config ](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration) just before  the MVP summit - but it wasn't published yet. I think my rewrite fixed 95% of the problems they identified. I might move MVC sample up higher or do something to address that.

[2017-01-05 21:35] danroth27 opened #2478 "Outdated content in Publishing to IIS with Web Deploy using Visual Studio doc publishing/iis-with-msdeploy"
The [Publishing to IIS with Web Deploy using Visual Studio](https://docs.microsoft.com/en-us/aspnet/core/publishing/iis-with-msdeploy) doc still refers to the HTTP platform handler. It also duplicates content about how to setup data protection. I think this doc should only cover the Publish gesture in VS and link to the [Publishing to IIS](https://docs.microsoft.com/en-us/aspnet/core/publishing/ii

[2017-01-05 21:52] danroth27 opened #2479 "Update Publishing to Docker to Azure"
Currently we point to https://docs.microsoft.com/en-us/azure/vs-azure-tools-docker-hosting-web-apps-in-docker, but I think this content is outdated. @spboyer what should we be pointing to?

[2017-01-05 22:45] spboyer commented on #2479
This is the correct link, but needs to be updated.

[2017-01-06 14:50] SteveSandersonMS commented on #1198
@spboyer I'm not sure adding that code addresses the issue, which is that if you're reverse-proxying from HTTPS to HTTP, then ASP.NET is taking requests on HTTP, and hence won't flag cookies to the browser as HTTPS-only.

Isn't there a way to tell ASP.NET that even though a certain request is coming in on HTTP, that it should be treated as a secure connection, since it is secure beyond the reverse

[2017-01-06 15:38] spboyer commented on #1198
@SteveSandersonMS I believe that by adding the XForwardedProto option on UseForwardedHeaders middleware will solve this.

[code]

See: https://github.com/aspnet/Docs/issues/2384#issuecomment-270195458 from @Tratcher

[2017-01-06 16:02] Tratcher commented on #2384
@spboyer yes that's part of it. There are several other settings related to identifying/trusting the proxies. You also need to make sure your reverse proxy is adding the headers.

[2017-01-06 17:05] SteveSandersonMS commented on #1198
Excellent - that's exactly the functionality I was hoping for. And I see it's mentioned at https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction now too!

Closing because I think all the points here are now addressed, but please reopen if you disagree!

[2017-01-06 17:05] #1198 closed

[2017-01-06 17:30] Tratcher commented on #2384
https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction captures the nginx specific scenario.

[2017-01-06 20:35] spboyer commented on #2384
@Tratcher so are you looking for a specific document targeted at just the setting for UseForwardedHeaders?

[2017-01-06 20:46] Tratcher commented on #2384
Not quite. We need to explain the end-to-end scenarios and how the various UseForwardedHeaders settings apply (e.g. IIS+ANCM, Nginx, multiple proxies, etc.).

[2017-01-06 21:05] ardalis commented on #862
#2481 addresses 2nd bullet.

[2017-01-07 19:33] GuardRex commented on #2367
@Tratcher @pan-wang @shirhatti

I filled in the table with some local testing results (marked `*`). I could use some feedback to help ...
1. Correct errors
2. Add information
3. Shape the direction of the doc

As it stands, my crude outline is ...
* Introductory paragraph
  * Some modules work, some don't
  * Notes (shown under the table ... and I need help understanding the last one on the orderi

[2017-01-07 19:54] Tratcher commented on #2367
FormsAuthentication is replaced by the CookieAuthentication middleware

[2017-01-08 00:50] #2198 closed

[2017-01-08 17:47] neetocode opened #2483 "Translate doc by asp.net core to Portuguese(Brazil)"
I am making myself available to translate the aspnet core documentation into Brazilian Portuguese. The Brazilian community is very big and deserves to have the main documents of this technology in its native language.

[2017-01-08 20:35] GuardRex commented on #2279
@Tratcher Do you want to co-author this?

I'll do the draft .... and then you'll have the option of :boy: :gun: shooting me in the head when you see it. :smile:

[2017-01-09 15:14] spboyer commented on #1251
Closing after review, all items addressed and closed.

[2017-01-09 15:14] #1251 closed

[2017-01-09 17:46] PeteX opened #2486 "Guidelines for security administration"
When we deploy an application, we also set up a maintenance process for it, because forgotten applications can easily turn into a security risk.  The main thing we're looking at is the application's third party dependencies.  These need to be updated if they have released security patches since our application was written.

The .NET Core documentation is very good on the programming-related aspect

[2017-01-09 18:55] shirhatti commented on #2367
/cc @jhkimnew

[2017-01-09 19:53] Tratcher commented on #2367
Some pieces of RewriteModule do not work with Core, (e.g. IsFile or IsDirectory), due to changes in the file structure layout.

[2017-01-09 20:05] Tratcher commented on #2279
Outline looks good, though it almost goes too deep into HTTP compression and middleware implementation details. Do you need more detail from me? If so then schedule something.

[2017-01-09 20:33] Rick-Anderson commented on #2483
See #416
We will be translating soon. Once it's translated you can contribute.

[2017-01-09 20:33] #2483 closed

[2017-01-09 20:43] Rick-Anderson commented on #2486
This issue was moved to dotnet/docs#1397

[2017-01-09 20:43] #2486 closed

[2017-01-09 20:52] Rick-Anderson commented on #2478
1. Move how to publish to IIS from VS to https://docs.microsoft.com/en-us/aspnet/core/publishing/iis
2. remove this doc.

Just document the gesture from VS to IIS.

@GuardRex  can you do this?

[2017-01-09 20:59] GuardRex commented on #2478
@Rick-Anderson Sure thing. I'll take care of it.

[2017-01-09 21:03] GuardRex commented on #2279
I'll keep that in mind. We can always cut some bits out if the draft goes too far anywhere. I'm working on this one tonight, so put the brakes on me if we need more discussion.

[2017-01-09 21:17] #2451 closed

[2017-01-10 03:59] Rick-Anderson commented on #2294
dup of #1938

[2017-01-10 03:59] #2294 closed

[2017-01-10 03:59] #1938 closed

[2017-01-10 13:12] #1144 closed

[2017-01-10 15:48] Tratcher opened #2490 "Cookie interop doc needs to show ChunkingCookieManager"
https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/compatibility/cookie-sharing
https://github.com/aspnet/Security/issues/1081
https://github.com/blowdart/idunno.CookieSharing/pull/7/files

[2017-01-10 15:51] spboyer commented on #2479
There is not a way to create and issue in the azure-docs repo? Need to get the referenced article updated, the powershell script in the tools is no longer there and is invalid.

This is also for VS 2015, should have one for VS 2017 as well.

@squillace

[2017-01-10 16:19] tmm360 commented on #86
Is this scenario actually supported? Because I'm having issues configuring a login with FB from my app. See aspnet/home#1871

[2017-01-10 19:34] tdykstra commented on #2305
Closed by #2398

[2017-01-10 19:34] #2305 closed

[2017-01-10 21:10] danroth27 commented on #86
We don't have built-in support for building an authorization server with ASP.NET Core, but you can integrate with an existing service like [Azure AD B2C](https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-webapp-openidconnect-aspnetcore-b2c/) or use a community package like [IdentityServer4](https://identityserver4.readthedocs.io/en/release/)

[2017-01-10 21:11] danroth27 commented on #86
@tmm360 Note, to specifically configure login with FB see https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/facebook-logins.

[2017-01-10 21:34] rtpHarry commented on #133
This issue is linked to here https://docs.microsoft.com/en-us/aspnet/core/security/authorization/authorization-filters

It seems like it's been closed incorrectly as  #119 does have [a little bit about authorization filters](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters#authorization-filters) but it doesn't cover it properly and the dedicated page has been [left as a stub](h

[2017-01-10 21:54] GuardRex commented on #2279
@tdykstra I've updated this outline to match what we're doing for *URL Rewriting Middleware*. It moves the middleware section headings up one level. I'll title it *Response Compression Middleware* and place it in the *Performance* area if that's the correct spot.

[2017-01-10 22:08] danroth27 commented on #133
@rtpHarry I think we just need to remove the stub. Most of the authorization related content is actually covered under the Authorization section, which is linked to from the Filters doc: https://docs.microsoft.com/en-us/aspnet/core/security/authorization/introduction.

Are there specific concerns related to authorization filters that you would like to see added to the docs?

[2017-01-10 22:11] rtpHarry commented on #133
I don't know about them, I'm just learning. I just wanted to point it out but I don't have a solution :)

[2017-01-10 22:16] danroth27 commented on #133
@rtpHarry That's cool. Let us know if you have any specific questions!

[2017-01-10 22:17] danroth27 opened #2492 "Remove authorization filter stub"
Authorization filters are already covered in the [Filters](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/introduction) topic. We should remove https://docs.microsoft.com/en-us/aspnet/core/security/authorization/authorization-filters.

[2017-01-10 22:25] #2304 closed

[2017-01-10 22:44] tmm360 commented on #86
Thank you @danroth27, I'm trying to explore the OAuth world, but it's a bit complex. Anyway I should have found a solution to my problem...
I don't need an OAuth server, but I need to pass through an initialization call on my service for generate the state parameter, and so go to FB for login. I was directly pointing to Facebook from app, and on redirect to my server I was missing the state parame

[2017-01-11 12:14] andriysavin commented on #2024
As a question author, I meanwhile found a "workaround": I render all date/times in a UTC or in a "with offset" format, and use client-side JS to convert these to local time. Similar is for input: I make any entered date/time to carry the offset with it (or, alternatively, can convert to UTC). But I'd say its pretty inconvenient to implement that in every app. Especially this concerns date/time inp

[2017-01-11 16:00] spboyer commented on #2461
Document Outline

- Using SpaServices for Angular and ASP.NET Core
- What is SpaServices
     - Pre-rendering
     - TagHelpers
     - webpack / build and bundling
- Middleware
     - MapSpaFallbackRoute
     - UseWebpackDevMiddleware
- Prerequisites
- Creating a new project
     - Using the yeoman generator
          - What does it produce
          - Web API
          - Angular
- Debugging your

[2017-01-11 20:26] Rick-Anderson commented on #2492
@tdykstra  can you remove this?

[2017-01-11 22:34] bmgarelick1 commented on #102
I have created an Azure Web App using MVC and EF. The main objective is to serve video media. I am currently using Google CDN but have not found a clear sample of code that shows how to manage and deliver the media from the MVC web app interacting with the Google CDN. Or, for that matter, the Microsoft Azure services.

[2017-01-12 00:08] #2492 closed

[2017-01-12 00:38] Rick-Anderson commented on #2309
@danroth27  @pakrym should I add **Redis and Azure Storage Data Protection Key Repositories** to [security/data-protection/configuration/overview - "Configuring Data Protection"](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview)?

I'll then add links to Azure articles and [Working with a Distributed Cache](https://docs.microsoft.com/en-us/aspnet/core/per

[2017-01-12 03:06] tanaka-takayoshi opened #2501 "[Localization] Missing steps for generating and editing resx on Linux and Mac"
We need to generate and edit in localization. However [the document](https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/localization.md#working-with-resource-files) describes the steps only on the Visual Studio on Windows. Now ASP.NET Core is cross platform so could you describe the supported steps on Linux and Mac OS.

At least, the document should describe the XML schema and the

[2017-01-12 03:12] tanaka-takayoshi opened #2502 "[Localization] Missing the case when default namespace is different from assembly name"
[The document](https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/localization.md#resource-file-naming) says:

In some cases, the default namespace is different from the assembly name. However, the document is missing for this case. The document should describe the available workaround for it. Or should clearly say "this is the limitation" if there's no workaround.

[2017-01-12 03:39] GuardRex commented on #102
@bmgarelick1 For `link` and `script`, you'll probably want to take a look at the `<environment>` Tag Helper ... https://github.com/aspnet/MusicStore/blob/dev/samples/MusicStore/Views/Shared/_Layout.cshtml#L57-L70 ... which allows you to swap local assets for CDN-based assets based on the environment (Development, Staging, Production, etc.).

I personally use image sources directly from the CDN, ev

[2017-01-12 04:35] bmgarelick1 commented on #102
Thanks, I'll take a look.

Sent from my iPhone 7 Plus

On Jan 11, 2017, at 7:39 PM, Luke Latham <notifications@github.com<mailto:notifications@github.com>> wrote:

@bmgarelick1<https://github.com/bmgarelick1> For link and script, you'll probably want to take a look at the <environment> Tag Helper ... https://github.com/aspnet/MusicStore/blob/dev/samples/MusicStore/Views/Shared/_Layout.cshtml#L57-L

[2017-01-12 16:25] spboyer commented on #2501
Tooling for VS Code or VS for Mac? @sayedihashimi @madskristensen

[2017-01-12 16:38] madskristensen commented on #2501
@spboyer I'm not aware of any tooling for those SKUs regarding .resx files. That's not to say that there aren't any

[2017-01-12 17:35] #2490 closed

[2017-01-12 19:16] blowdart commented on #2279
You can just say "Using compression with dynamically generated pages can lead to security problems such as the Crime and Breach attacks, Linking to wikipedia is fine.

[2017-01-12 19:18] GuardRex commented on #2279
Ok, so you prefer Wikipedia? I'm not a big fan myself, but I'll happily swap the linked content on your advice.

[2017-01-12 19:20] blowdart commented on #2279
I think people know wikipedia as a general resource, so they trust it. Whether that's a good idea or not is out of scope :D

[2017-01-12 19:26] GuardRex commented on #2279
... but when explaining complicated concepts in the docs tho. :smile:

I wish we had an MSDN security doc that we could link there. Let me look around and see if MS has anything better, and I'll let you know if I find anything good. From an educational perspective, Wikipedia makes me cringe a little bit.

I'll update the text of that section when I get back from the :muscle: gym :muscle:. I have a

[2017-01-12 19:28] GuardRex commented on #2260
@tdykstra @Rick-Anderson

![oliver](https://cloud.githubusercontent.com/assets/1622880/21904341/e0d7a1a8-d8c8-11e6-8be9-353b2146eb6e.png)
*"Please sir, I want some more."* - Oliver Twist (Mark Lester), *Oliver!*, 1968

I just put the PR in for *Response Compression Middleware*. I'm lightly working on [Using IIS Modules with ASP.NET Core](https://github.com/aspnet/Docs/issues/2367), but that's not

[2017-01-12 19:29] blowdart commented on #2279
I think "can lead to security problems" covers it. Honestly I'm not sure I'd want to see an MSDN beginners guide to CRIME *grin*

[2017-01-12 19:32] GuardRex commented on #2279
I really don't think they even have anything good. I did a quick check and nothing turned up.

I'll swap for Wikipedia at your discretion. I'll get that in this afternoon.

[2017-01-12 19:41] #1366 closed

[2017-01-12 19:41] #858 closed

[2017-01-12 19:46] Rick-Anderson commented on #2260
Are you interested #1993 ? It has a really good outline. I think you'd just use the outline without too much change.

[2017-01-12 19:54] GuardRex commented on #2260
Excellent! ... I'm on the case, and working with @anurse is a bonus!

[2017-01-12 20:02] Rick-Anderson commented on #2260
you mean [@]anurse :)

[2017-01-12 20:04] spboyer commented on #2467
https://github.com/lankaapura/MusicStoreAsWindowsService

[2017-01-12 20:20] GuardRex commented on #2260
Well ...... I admit that I did want him to know I'm excited you suggested this one to me. It's an honor, really.

[2017-01-12 20:30] Rick-Anderson commented on #2502
It goes on to say

That should be rewritten to:

If your targeted class does not use the same namespace you will need the full type name.**

@ryanbrandenburg  is this correct?

[2017-01-12 20:32] Rick-Anderson commented on #2501
@ryanbrandenburg  @DamianEdwards  How do Visual Studio for Code folks generate/edit .resx files?

[2017-01-12 21:08] Rick-Anderson opened #2508 "Create ASP.NET Core vs ASP.NET doc"
- [ ] Update https://www.asp.net/get-started/websites (when ported). List WF, MVC, lastly Web Pages. Remove R on Rails (RoR folks know it's MVC)
- [ ] Link to [choosing-core-framework-server](https://docs.microsoft.com/en-us/dotnet/articles/standard/choosing-core-framework-server)

[2017-01-12 22:49] anurse commented on #2260
![http://weknowmemes.com/generator/uploads/generated/g1441151759445560028.jpg](http://weknowmemes.com/generator/uploads/generated/g1441151759445560028.jpg)

[2017-01-12 23:20] GuardRex commented on #1993
@anurse I'm gonna format (not change) the outline :point_up: Friday morning. I think you guys will be able to approve it tomorrow afternoon, which would work well for me if that turns out to be the case. I enjoy writing on Saturday and Sunday mornings, and this doc will keep me out of trouble this weekend. :grin:

[2017-01-12 23:47] ryanbrandenburg commented on #2502
@Rick-Anderson I don't think that's what @tanaka-takayoshi is saying. I think he's saying that although by default most people will have the default namespace be the same as their assembly name that's not always the case, the two can different. The determining factor is the [HostingEnvironement.ApplicationName](https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Extensions.Localization/R

[2017-01-13 00:12] Rick-Anderson commented on #2502
@ryanbrandenburg  can you tap [Edit ](https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/localization.md) link and make a first pass?

Can you include using resource files from another class ( a common question) - which I think is the same - using _FQN.fr.resx_

[2017-01-13 00:35] tanaka-takayoshi commented on #2502
I debugged something with reading [ResourceManagerStringLocalizerFactory] (https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Extensions.Localization/ResourceManagerStringLocalizerFactory.cs) and @Rick-Anderson 's comment appears good.
At first, ApplicationName should be the AssemblyName. I think this is the current dotnet core specification and I confirmed when I specify the "name" in

[2017-01-13 00:47] Rick-Anderson commented on #2502
@tanaka-takayoshi  Excellent!

[2017-01-13 03:51] dougbu commented on #2502
@ryanbrandenburg your comments on assembly names are correct though @tanaka-takayoshi's cases make things more clear.

For one thing, there's no requirement that a C# namespace have _any_ relationship to the assembly name. So mentioning the default namespace is somewhat off-topic except for the narrow case where users create classes in or below the default namespace and that default happens to be

[2017-01-13 11:06] tapanrami opened #2511 "Automatic Startup class detection."
As mention in the article that it will automatically choose the Startup class from alphabetically first namespace if it is not found in the root namespace. when i tried it i explicitly need to specify the namespace because it give me ambiguous error.

[2017-01-13 13:14] tapanrami commented on #2511
I tried using AssemblyName but its still not working.

[2017-01-13 18:17] ryanbrandenburg commented on #2502
I've made #2513 as a first run at clearing up that doc.

[2017-01-13 18:21] Rick-Anderson commented on #2501
@tanaka-takayoshi  can you try [How to edit a .resx file on Mac OS ](https://medium.com/@jdassonval/how-to-edit-a-resx-file-on-mac-os-c4dac927145c#.iltk5k9nd)

[2017-01-13 18:46] GuardRex commented on #1993
* Definition and purpose
  * Key Vault is a way to securely store secrets in Azure
  * AzureKeyVault configuration provider adds support for reading configuration values out of Azure Key Vault
* Create a Key Vault
  * https://azure.microsoft.com/en-us/documentation/articles/key-vault-get-started/
  * The Configuration Provider requires that the access policy used to connect to the Key Vault has Li

[2017-01-13 18:52] GuardRex commented on #1993
@anurse I just reformatted it a little. I tend to drop these right into the doc body and go to town on it.

The status on Core: This is still .NET 4.5.1 only, correct? Are Core capabilities on the dev feed package?

Anything missing or other notes?

[2017-01-13 19:01] GuardRex commented on #1993
@tdykstra Do you want this doc to appear under *Security*? ... perhaps under the *Safe storage of app secrets during development* doc?

If you prefer big changes to *Configuration* layout for this, then I'll wait for you to do the setup.

If you just want it under *Security*, I can handle that in the PR without crashing the Internet. :smile:

[2017-01-13 19:05] anurse commented on #1993
Nope, Microsoft.Extensions.Configuration.AzureKeyVault 1.0.0 supports Core. It was just during the preview that it didn't support it. It does require ASP.NET Core 1.1 though, it's not supported on ASP.NET Core 1.0.

[2017-01-13 19:06] GuardRex commented on #1993
Excellent! Thanks.

[2017-01-13 19:06] tdykstra commented on #1993
@GuardRex I would put it where you suggest but link to it from the Fundamentals/Configuration doc.  Title looks good.

[2017-01-13 19:07] GuardRex commented on #1993
@tdykstra Cool. Thanks.

I'll look at this one more time tonight ... the outline and the sample and ref docs. I'll sit down to writing tomorrow morning. Thanks guys ... this is looking great.

[2017-01-13 20:45] ryanbrandenburg commented on #2502
That's all merged in now, so closing this out.

[2017-01-13 20:45] #2502 closed

[2017-01-13 23:54] GuardRex opened #2516 "Add Middleware ordering section to Middleware doc"
Per @JunTaoLuo in https://github.com/aspnet/Docs/pull/2505#discussion_r96088295

The Middleware doc should address middleware ordering that can circumvent middleware from running if it's placed after a terminal middleware.

Proposal: Add a section after the *Built-in middleware* section with content something like this ...

## Middleware ordering
Terminal middleware, which processes a request and

[2017-01-14 06:31] tanaka-takayoshi commented on #2501
@Rick-Anderson Thanks. I'm not a Mac user but Linux user. However, it appears working on Linux. I'll try later and report.

[2017-01-14 11:09] rtpHarry opened #2519 "Discrepancy in resource based authorization docs"
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/resourcebased

At the top it shows the auth service being injected and saved as `_authorizationService` but the rest of the snippets refer back to it as `authorizationService`.

Should I create a PR for this?

[2017-01-14 23:51] GuardRex commented on #1993
@anurse

### Sample app
I put a draft sample app up for the doc ...

https://github.com/GuardRex/Docs/tree/guardrex/key-vault-configuration/aspnetcore/security/key-vault-configuration/sample

* Reads `Vault`, `ClientId`, and `ClientSecret` from `appsettings.json`
* Simplest example is implemented. We can have info on configuration with `EnvironmentSecretManager` and `KeyVaultClient` in the doc. Do

[2017-01-15 03:25] tanaka-takayoshi commented on #2501
@Rick-Anderson I tried it, but there are some problems.

1. POEditor on Linux doesn't have a function to import  resx and add a localization term from scratch. It intends to import localization terms from souce code directly, but it doesn't work for ASP.NET Core codes.

2. http://converter.webtranslateit.com/ has other supported format. I tried CSV. But it can't convert the resource whose key cont

[2017-01-15 05:23] #2031 closed

[2017-01-15 05:24] Rick-Anderson commented on #2501
@tanaka-takayoshi  Thanks for the update.

[2017-01-15 09:48] GuardRex opened #2524 "Codeblock Blues"
@Rick-Anderson @tdykstra

I was looking at some doc info and stopped for a sec to put in a few PR's to fix some codeblock issues. I became concerned about other docs. I imagine this happened with the move to DocFX: I count 90 docs with bad codeblocks.

After I have the draft ready for *Azure Key Vault Configuration Provider*, do you have any objection to my setting up one of my **ReximusMaximus:tm

[2017-01-15 17:29] GuardRex commented on #2519
I'm a community cat, but I can tell you 'yes' on that. For a simple grammatical problem or broken code situation, you can just float the PR directly without an issue. Sometimes they must reject the PR because the update needs more design or should be addressed broadly across docs; but in this case, it really is broken code that just needs a touch-up.

[2017-01-15 18:34] tdykstra commented on #2524
@GuardRex What are you seeing wrong in the code blocks?

Another cleanup task if you're interested is fixing headings in docs and the TOCs to be sentence case.

[2017-01-15 19:04] GuardRex commented on #2524
I see a lot of ...
* Indentation/spacing/blank line problems (e.g., inconsistent or incorrect 2-space or 4-space indents ... sometimes the inconsistency is even within the *same doc*, added or missing spaces on lines, blank line at the start of the end of a block, etc.)
* Wrong or inconsistent code language (e.g., JSON marked as JavaScript, "none" where it should state "console" or be blank, varia

[2017-01-16 03:23] GuardRex commented on #2524
Is this correct?

### Specifications
Content | DocFX Language | Indentation (spaces)
:---: | :---: | :---:
C# | csharp | 4
HTML | html | 4
CSS | css | 4
JavaScript | javascript | 2
XML | xml | 2
JSON | json | 2
Console | console | 2
Text | - | 2

[2017-01-16 17:58] tdykstra commented on #2524
That looks correct, but my suggestion is to correct indentation spacing only where doing so improves readability (for example by decreasing the necessity of horizontal scrolling) or makes the intent of the code clearer.

[2017-01-16 18:20] GuardRex commented on #2524
When you use the copy button or cut-and-paste you get whatever spacing is part of the code. If you're a bit fussy like me (hopefully not borderline OCD :smile:), you must stop and fix blown spacing after you paste into your IDE.

I'll check on treatment options for my OCD :cry:; but in the meantime, let me submit one for the ~12 MVC docs. If you cats don't like it, we'll just kill it and move on t

[2017-01-16 19:22] #2519 closed

[2017-01-17 08:34] rolandoldengarm commented on #100
Any news on this topic? I'm trying to load test our Web API Core project.

[2017-01-17 14:41] spboyer commented on #2501
I think that this may be a bug for tooling for xplat and not for docs.

@danroth27

[2017-01-17 18:32] Rick-Anderson commented on #100
@nikmd23 is [Glimpse.Prototype](https://github.com/Glimpse/Glimpse.Prototype) ready?

[2017-01-17 19:41] shirhatti opened #2532 "Publishing to IIS doc does not cover how to ACL the directory containing your site"
It would be great if https://docs.microsoft.com/en-us/aspnet/core/publishing/iis referenced https://docs.microsoft.com/en-us/aspnet/core/hosting/apppool#securing-resources this somewhere as that information is otherwise difficult to discover.

Linked issue https://github.com/aspnet/Hosting/issues/914

[2017-01-17 22:55] GuardRex commented on #2532
@shirhatti @tdykstra Do you want me float some language in there for this?

[2017-01-17 23:28] tdykstra commented on #2532
@GuardRex Yes, that would be great.  How about incorporating the App Pool doc content into publishing/iis and retire the separate app pool doc?

[2017-01-17 23:55] GuardRex commented on #2532
Sure ... I can handle that.

There's a few things to consider ...
* In the **Add Website** dialog, IIS fills the "Site name" text over to the "Application pool" textbox and creates a new AppPool for each new site created unless you click **Select** to use an existing AppPool. @shirhatti, your opening paragraph might be misinterpreted by a reader that they will need to explicitly setup a new AppPoo

[2017-01-18 00:22] Rick-Anderson commented on #139
@danroth27  can we get an outline of what you want? I'm looking for a community contribution for this. What are the top use cases? I'm guessing  text/javascript formatter would be a good example.

[2017-01-18 21:33] Rick-Anderson commented on #2516
@GuardRex  looks good to me. Can you PR and ask [@]JunTaoLuo to review?

[2017-01-18 21:42] Rick-Anderson commented on #2511
@tapanrami  thanks, created https://github.com/aspnet/Docs/pull/2538

[2017-01-18 22:35] Rick-Anderson opened #2539 "project.json to .csproj : aspnetcore/security/app-secrets.md"
[Safe storage of app secrets during development](https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets)

[2017-01-18 22:41] Rick-Anderson opened #2540 "project.json to .csproj :aspnetcore/mvc/controllers/areas.md"
fixed by https://github.com/aspnet/Docs/commit/42f674d79e52986fa2e2214f1cf2254a5570ea2c

[2017-01-18 22:43] Rick-Anderson opened #2542 "project.json to .csproj :aspnetcore/mvc/views/tag-helpers/intro.md"

[2017-01-19 01:12] #2309 closed

[2017-01-19 01:40] GuardRex commented on #2524
Tracking for updates:

- [X] client-side https://github.com/aspnet/Docs/pull/2529
- [ ] mvc
- [ ] fundamentals & data
- [ ] tutorials
- [ ] publishing & hosting
- [ ] security
- [ ] performance, mobile, testing, migration

[2017-01-19 01:44] #2478 closed

[2017-01-19 02:16] tdykstra commented on #2542
Leave a comment

[2017-01-19 02:16] #2542 closed

[2017-01-19 03:25] Rick-Anderson opened #2544 ".csproj: aspnetcore/fundamentals/static-files.md"
convert to csproj friendly.

[2017-01-19 03:29] Rick-Anderson opened #2546 "remove project.json aspnetcore/fundamentals/middleware.md"

[2017-01-19 03:31] #2544 closed

[2017-01-19 09:33] rtpHarry opened #2550 "Display issue and typo in View Components docs"
Missing new line here:

![image](https://cloud.githubusercontent.com/assets/1038062/22101184/412cb3fc-de2a-11e6-9380-34318d9c9c6e.png)

Missing closing bracket here:

![image](https://cloud.githubusercontent.com/assets/1038062/22101202/4f4c071c-de2a-11e6-87c3-86ffa28d1cad.png)

[2017-01-19 17:10] wc-matteo opened #2552 "Obsolete "The runtime doesn't look up localized strings for non-validation attributes." in Globalization and localization"
DisplayName is supported since ASP.NET Core 1.1.0

[2017-01-19 18:12] danroth27 opened #2553 "Provide clear guidance in File Uploads doc that the file name in the request should NOT be used to store the file on disk"
We should provide a clear warning in the File Uploads doc that the file name provided in the request should NOT be used to store the file on disk. It looks like we correctly implement this guidance in the sample code, but we should provide a clear declarative statement that the file name should be used for display purposes only.

[2017-01-19 23:34] #2258 closed

[2017-01-20 02:37] GuardRex commented on #2524
@tdykstra

MVC docs use "*ASP.NET Core MVC*" ... I thought it was supposed to be "*ASP.NET MVC Core*."

Are they correct?

[2017-01-20 03:23] GuardRex commented on #2524
Revised checks and updates
* Add description & keywords
* Codeblock updates
* Bold or plain text filenames converted to italics
* Title and header casing updated to sentence case (with TOC/index update)
* Table formatting
* Convert internal links to `xref:` format
* Get `en-us` out of links

[2017-01-20 14:19] SteveSandersonMS commented on #2461
Good plan @spboyer! Suggested tweaks:

* Using SpaServices for Angular and ASP.NET Core / Overview of features
    * Pre-rendering
    * webpack / build and bundling
    * Ability to invoke Node.js code/packages from .NET code
    * Associated project templates
* Creating a new project
  * Prerequisites
  * Using the yeoman generator (+ when implemented, using dotnet new to create the same project

[2017-01-20 17:54] #2516 closed

[2017-01-20 21:25] #2550 closed

[2017-01-20 23:25] #2532 closed

[2017-01-20 23:40] GuardRex opened #2567 "Livefyre comments still broken"
@tdykstra Livefyre made some changes such that profiles load correctly now :+1:; however, I'm still not getting messages from the forum on the Publish to IIS doc.

You can see in the screenshot that I'm "following" the comments. My E-mail address in their system is correct, which is an outlook.com address. I didn't get the last one that was posted eight days ago.

![capture](https://cloud.githubus

[2017-01-21 00:14] GuardRex commented on #2524
@tdykstra There's too much churn on the repo for me to batch up changes to so many docs in each PR. The checks and updates I listed are rather time-consuming to make. If I were to batch-up many doc updates into large PR's, I'll likely end up with rebasing conflicts on my branch due to on-going updates with docs, which will slow me down even more.

Questions ...
1. If these checks & updates :point_

[2017-01-21 01:01] Rick-Anderson commented on #2524
@GuardRex  ya, we have lots of other higher pri stuff to work on. We'll find you something.

[2017-01-21 01:18] #2524 closed

[2017-01-21 19:51] #2279 closed

[2017-01-22 16:01] jhaker opened #2574 "dependent "templates.docs.msft" missing"
Missing repository listed in ".openpublishing.publish.config.json".

"dependent_repositories": [
    {
      "path_to_root": "_themes",
      "url": "https://github.com/Microsoft/templates.docs.msft",
      "branch": "master"
    },
    {
      "path_to_root": "_themes.pdf",
      "url": "https://github.com/Microsoft/templates.docs.msft.pdf",
      "branch": "master"
    }
  ]

Error:
Clone https:

[2017-01-23 17:58] nikmd23 commented on #100
It's very close. Take a look at https://github.com/Glimpse/Glimpse.Prototype/issues/123#issuecomment-273996023

[2017-01-23 19:01] danroth27 opened #2579 "Clarify in docs for 1.1 features that the app must consistently target 1.1"
We've seen issues where customers are trying to use 1.1 features in a project that targets netcoreapp1.0. Customers create a new project in VS, which target 1.0, and then add a 1.1 package and then don't understand why it doesn't work. This happened recently, for example, with someone following https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging#appservice and running into issues bec

[2017-01-23 19:05] Rick-Anderson opened #2580 "https://docs.microsoft.com/en-us/aspnet/webhooks/sending/ remove"
https://docs.microsoft.com/en-us/aspnet/webhooks/sending/ is just a link to https://docs.microsoft.com/en-us/aspnet/webhooks/sending/senders

@tdykstra  please fix

[2017-01-23 21:50] GuardRex commented on #2579
This will apply to ...
* URL Rewriting Middleware `fundamentals/url-rewriting`
* Response Compression Middleware `performance/response-compression`
* Response Caching Middleware `performance/caching/middleware`
* Key Vault Configuration Provider `security/key-vault-configuration`
* Key Storage Providers `security/data-protection/implementation/key-storage-providers`
* Razor Syntax Reference: View

[2017-01-23 23:25] tdykstra commented on #2579
Yes, please.

[2017-01-23 23:37] Rick-Anderson commented on #100
@daveabrock @1amirjalai @dhont  are any of you working on this? I think we should change the title to **Measuring  app performance with Glimplse**

[2017-01-24 06:45] GuardRex commented on #2260
URL Rewriting Middleware - :+1: done https://github.com/aspnet/Docs/pull/2446
Response Compression Middleware - :+1: done https://github.com/aspnet/Docs/pull/2505
View Components as Tag Helpers - ? - https://github.com/aspnet/Docs/issues/1757
View Compilation - :+1: done https://github.com/aspnet/Docs/pull/2499
Azure Key Vault configuration provider - **almost done** :smile: https://github.com/asp

[2017-01-24 06:47] GuardRex commented on #2579
Not sure whaz what with View Components as Tag Helpers tho. https://github.com/aspnet/Docs/issues/1757

[2017-01-24 07:33] GuardRex commented on #1948
@tdykstra Want me to knock this  out?

![fifi](https://cloud.githubusercontent.com/assets/1622880/22237994/959fb9cc-e1d4-11e6-8a17-28d73961c10d.jpg)

### *Come on, do you want me to beg? Do you want me on my knees, crying?*

\- Fifi Macaffee (Roger Ward), *Mad Max*, 1979

[2017-01-24 07:44] GuardRex commented on #1947
This was covered by https://github.com/aspnet/Docs/pull/2505

[2017-01-24 07:46] GuardRex commented on #1839
This was covered by https://github.com/aspnet/Docs/pull/2446

[2017-01-24 07:49] GuardRex commented on #1608
Fixed with DocFX?

![capture](https://cloud.githubusercontent.com/assets/1622880/22238483/38eed1c4-e1d7-11e6-8ea4-dbac349eedd9.PNG)

[2017-01-24 08:08] GuardRex commented on #1017
@tdykstra Would you like me to add something to *Publishing to IIS* that mirrors the guidance from the IISIntegration sample? Something along the lines of ...

☝️ The *Using IIS Modules with ASP.NET Core* doc is WIP and will show up as a PR soon.

[2017-01-24 08:16] GuardRex commented on #577
@Rick-Anderson We have good amount of :cow2: 🔔 in the *Troubleshooting* section in the IIS doc. Is there anything for me to do here?

[2017-01-24 08:17] GuardRex commented on #390
This looks to be superseded by https://github.com/aspnet/Docs/issues/2467

[2017-01-24 08:37] GuardRex commented on #397
Current descriptions are found in [Fundamentals](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/#web-root) and the *Web Root `string`* section of [Hosting](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/hosting).

[2017-01-24 16:53] danroth27 commented on #577
🐄 🔔 ?

@GuardRex At some point I think we will need you to publish a @GuardRex Rosetta Stone 😃

[2017-01-24 16:55] GuardRex commented on #577
*cowbell* ... you know ... https://www.nbc.com/saturday-night-live/video/more-cowbell-with-will-ferrell-on-snl--video--saturday-night-live--nbc/n41046?snl=1

[2017-01-24 17:39] spboyer commented on #1839
Fixed by #2446

[2017-01-24 17:39] #1839 closed

[2017-01-24 21:48] #2579 closed

[2017-01-24 21:50] #2553 closed

[2017-01-25 00:25] Rick-Anderson opened #2607 ".gitignore cleared"
see https://github.com/aspnet/Docs/commits/aspnetmigration/.gitignore

@neusamir Is this clearing temporary?  When will it be restored? We rely on it to keep the repository clean.
cc @tdykstra  @danroth27

[2017-01-25 00:35] Rick-Anderson commented on #2574
@jhaker  that's a private repo used by OPS to build our docs. Why do you want to clone it?

[2017-01-25 02:13] jhaker commented on #2574
What repo is this regarding? I don't recall sending a clone request
directly to a git repo.

On Jan 24, 2017 6:35 PM, "Rick Anderson" <notifications@github.com> wrote:

[2017-01-25 05:46] neusamir commented on #2607
Good question. I will look into ignoring everything under /aspnet instead of the whole tree. It was removing files that we needed to include.

[2017-01-25 14:37] jhaker commented on #2574
Didn't realize local build instructions were being checked in. Thought it was a bug. My bad:) Please ignore. Closing out.

[2017-01-25 14:37] #2574 closed

[2017-01-25 14:40] jhaker commented on #2574
Please ignore. Closing out.

[2017-01-25 17:43] Rick-Anderson commented on #2607
Can you add a _./aspnet/gitignore_ to that folder and restore this file?

[2017-01-25 18:37] tdykstra commented on #2607
And is it possible to determine which files were getting excluded and remove only those from the .gitignore rather than clearing out the whole file?  Maybe we can still have just one repo-level file.

[2017-01-26 17:39] Rick-Anderson commented on #2607
You can nest .gitignore, so just add an empty _./aspnet/gitignore_

[2017-01-26 18:09] neusamir commented on #2607
Ok this is done.

[2017-01-26 18:50] pkellner opened #2616 "Memory Caching Page Incorrect regarding startup requirement"
It seems that this page:

    https://docs.microsoft.com/en-us/aspnet/core/performance/caching/memory

shows that you must add AddMemoryCache().  It seems this happens automatically from AddMvc().

I'm thinking this needs to be changed to reflect that AddMemoryCache() is called inside of AddMvc() now.

    public void ConfigureServices(IServiceCollection services)
    {
        services.AddMemoryC

[2017-01-26 19:05] pkellner commented on #2616
I realize this is only for Tag Helpers so Closing.  Might be worth mentioning as *note but not sure.

[2017-01-26 19:05] #2616 closed

[2017-01-26 19:06] GuardRex opened #2617 "Beefing up my (mis)understandings on contribution guidelines"
There are some additional helpful things to know when working with ASP.NET Core docs. This isn't organized. I'm just going to list them in no particular order right now. My main goal is to solidify my (mis)understandings. :smile: However, this might be a basis for a PR for contribution guidelines. Let me know if and how you'd like to proceed.

Some of these might just be flat-out *wrong*, but that

[2017-01-27 00:42] tdykstra commented on #2580
Fixed in aspnetmigration branch, will be going to master soon.

[2017-01-27 00:42] #2580 closed

[2017-01-27 00:54] tdykstra commented on #1948
@GuardRex Yes, please.

[2017-01-27 00:57] tdykstra commented on #1017
@GuardRex That sounds good, but you might want to revise "Core apps are configured with appSettings.json" because it isn't always true -- any of a variety of config sources can be used.

[2017-01-27 01:07] GuardRex commented on #1017
Yes, I agree. I stole that language from a `web.config` that was trying to tell devs where to put file-based configuration. I'll craft it better for the PR, which will land here in a few minutes.

[2017-01-27 03:01] GuardRex commented on #1948
@tdykstra A few problems here:
* We also have the `<distributed-cache>` TH. Given that we probably need to get into the cache repository options there, it will probably double the content that we need to provide.
* As it stands, the explanation of response caching in the [*Response Caching* doc](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/response) is tightly linked to headers

[2017-01-28 01:10] #1017 closed

[2017-01-29 23:34] GuardRex opened #2625 "Document OnPrepareResponse in the Static Files doc"
[Working with static files in ASP.NET Core (fundamentals/static-files)](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/static-files) doesn't document `OnPrepareResponse`; consequently, devs can't see how to add a header. For example, https://github.com/aspnet/ResponseCaching/issues/97.

Might be able to roll it into the last code example of *Serving static files*. Could go something lik

[2017-01-30 01:56] tdykstra commented on #1948
I'll defer to @danroth27

[2017-01-30 20:23] Rick-Anderson commented on #139
@danroth27  we really need some guidance ASAP
from @fiyazbinhasan
I managed to write some custom formatters. It was tough cause already all of them are pretty much written by other community members :P. Anyways I wrote a YAML formatter (Input/Output Formatters), Pdf formatter (Output), Xls Formatter (Output). Here is [the link to the git repo](https://github.com/fiyazbinhasan/NET-Core-Custom-Forma

[2017-01-30 20:33] Rick-Anderson opened #2633 "Find and fix broken links in docs"
Originally created to report search engine results containing an old URL for the Custom Formatters stub topic, the issue has been repurposed as a general find-and-fix issue for broken links in articles.

[2017-01-30 20:34] #2607 closed

[2017-01-30 20:48] Rick-Anderson commented on #1948
@GuardRex  put it under https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/intro
Can you post an outline and we'll get it approved?

[2017-01-30 20:49] GuardRex commented on #1948
:+1: Will do.

[2017-01-30 20:51] Rick-Anderson commented on #1948
@GuardRex  what took you so long to respond (sarcasm warning)?

[2017-01-30 20:53] GuardRex commented on #1948
I'm at the :muscle: gym :muscle: and the weights are trying to kill me today. :skull: I just got pinned to the bench! :smile:

[2017-01-30 21:15] tdykstra commented on #2633
When we did the MVC TOC reorg we decided not to do redirects on article stubs.  This URL was changed recently, and the search engine result should have the new stub URL before long.

[2017-01-30 22:54] GuardRex commented on #1948
@Rick-Anderson I'll be knocking up the outline this evening, but just to clarify the doc location ...

`mvc/views/tag-helpers/intro` contains a sample and static content for the `intro.md` doc.

Do you want the doc, `cache.md`, and its associated static+sample folder `cache`, within the `intro` folder or within the `tag-helpers` folder?

[2017-01-30 22:56] tdykstra commented on #1948
tag-helpers folder

[2017-01-30 22:56] GuardRex commented on #1948
thought so. thx.

[2017-01-31 01:15] #2552 closed

[2017-01-31 04:35] GuardRex commented on #1948
@Rick-Anderson @tdykstra

I almost have the outline ready. A few questions here ...

1. Do you want to call it *Cache and distributed cache tag helpers*, *Caching tag helpers*, or what do you want for the title?
2. For the sample, I assume we'll go with one sample. `<cache>` and ...
    * Default `Startup`: `<distributed-cache>` using SQL cache
    * `StartupWithRedis`: `<distributed-cache>` using

[2017-01-31 05:35] Rick-Anderson commented on #1948
@kichalla can you respond to outline questions. I responded inline with my guesses

[2017-01-31 06:47] GuardRex commented on #1948
With @Rick-Anderson comments, this is what the draft outline looks like ...

Title: Caching tag helpers (`mvc/views/tag-helpers/caching`)

* Sample (MSBuild/`csproj`)
  * `<cache>` tag helper
  * `Startup`: `<distributed-cache>` tag helper using Azure SQL Database
  * `StartupWithRedis`: `<distributed-cache>` tag helper using Azure Redis Cache
* Introduction - Explain the purpose of these two TH's

[2017-01-31 06:59] fiyazbinhasan commented on #139
@Rick-Anderson readme.md file added :)

[2017-01-31 08:12] duncanawoods commented on #131
I would be interested to read a draft please. duncan@tangle.ai

[2017-01-31 17:05] GuardRex commented on #2633
I see a handful of broken and malformed links using an online link checking tool. I'll get a PR in to address them shortly.

[2017-01-31 17:24] GuardRex commented on #2633
Here's what it found. I'll get back from the :muscle: gym :muscle: this afternoon (assuming I survive) and put a PR together to address what I can here, including converting the no-follow links into code.

http://minmat.blob.core.windows.net/temp/links.htm

[2017-01-31 17:36] anurse opened #2636 "Update SignalR 2.x doc for Azure Diagnostics and Perf Counters"
Original: https://www.asp.net/signalr/overview/performance/using-signalr-performance-counters-in-an-azure-web-role

The original doc uses deprecated APIs in the Windows Azure SDK. The new SDK strongly encourages the use of the declarative "wadcfgx" XML configuration file. SignalR counters can be used in that file, but because the instance name is not easily predicted, we use the specifier `\Signal

[2017-01-31 17:42] tdykstra commented on #2633
Reopening the issue with a different title.  The errors @GuardRex is addressing are worth fixing but are different from the one that prompted the issue creation.

[2017-01-31 18:08] ardalis commented on #89
This sample is easily found: https://github.com/aspnet/Antiforgery/tree/dev/samples/AntiforgerySample
But we should update to the Entropy sample: https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.AjaxAntiforgeryAuth.Web

The Angular way of passing the token is very angular-specific. A more generic approach would be more widely applicable.

[2017-01-31 18:33] GuardRex commented on #2633
I went with an old skool standard: [Xanu Link Sleuth](http://home.snafu.de/tilman/xenulink.html).

It turned up the links from the deadlinkchecker-dot-com, but it also found other things to address. For example, the anchors are a bit askew. In the routing doc (`fundamentals/routing`), there are hard-coded anchors. Since DocFX is setting anchors (via `id`) for headings :sparkles: auto-magically :sp

[2017-01-31 19:07] Rick-Anderson commented on #89
@fiyazbinhasan  can you write a more generic sample? @danroth27  do we want both an angular and a generic sample? I was thinking angular is very popular and would justify a specific example.

[2017-01-31 19:10] ardalis commented on #89
Yes we just discussed and we want both an Angular and a generic example (or more than one: web vs. native clients for instance)

[2017-01-31 21:41] Rick-Anderson commented on #2617
@GuardRex  we plan to link to the MS style guide which should be coming out soon.

[2017-01-31 21:41] #2617 closed

[2017-01-31 21:42] Rick-Anderson commented on #2636
@danroth27  please set milestone and owner

[2017-01-31 21:43] Rick-Anderson commented on #2625
@Tratcher  please approve or reject this idea.

[2017-02-01 00:16] Tratcher commented on #2625
👍

[2017-02-01 00:18] GuardRex commented on #2625
I'll put up a PR this evening for u to consider.

[2017-02-01 05:26] fiyazbinhasan commented on #89
@ardalis you can find a ajax(javascript) example on the bottom of this doc @Rick-Anderson provided earlier. I used Jquery for making the task of cookie parsing easier. I can write a raw one if you want :) https://www.dropbox.com/sh/jfmncpp0z79m9mt/AACejY50rKGjSPpAnd5m2q_8a/Preventing%20XSRF%20in%20ASP.NET%20CORE.docx?dl=0

[2017-02-01 16:50] tdykstra opened #2643 "WebHooks docs for ASP.NET were created without metadata"
Add metadata to all docs under https://github.com/aspnet/Docs/tree/master/aspnet/webhooks

[2017-02-01 21:27] Rick-Anderson commented on #2643
@tdykstra  can you close this now?

[2017-02-01 21:43] Rick-Anderson opened #2647 "Investigate xplat scaffolding"
- Create new proj on mac - enable MVC in the project - asp.net core package and MVC package
- go to project file add microsoft.visualstudio.web.codegenrations.tools as a .NET CLI ref
- try to scaffold from the command line off the model

[2017-02-01 21:47] spboyer commented on #1786
@madskristensen what is the status on the templates moving forward? Seems that there is nothing in the newer templates using bundleconfig.json and BundlerMinifier.Core is no longer included.

[2017-02-01 22:15] Rick-Anderson commented on #2408
rewrite addressed most of this.

[2017-02-01 22:15] #2408 closed

[2017-02-01 22:30] madskristensen commented on #1786
The bundleconfig.json should still be in the template but we're not including the dotnet cli tool for it anymore. @phenning you didn't remove bundleconfig.json, right?

[2017-02-01 22:44] phenning commented on #1786
@madskristensen I just confirmed, bundleconfig.json is still in the StarterWeb base template.

[2017-02-01 22:49] spboyer commented on #1786
@phenning @madskristensen - is the expectation to have the devs add the nuget package then and/or use gulp or grunt or "roll your own"

[2017-02-01 22:51] danroth27 commented on #1786
@madskristensen and if the story is to use the tool then why are we no longer including it? Why are we including a bundleconfig.json file in the template if nothing uses it?

[2017-02-01 23:15] madskristensen commented on #1786
bundleconfig.json is there for the VS extension to consume. When a user opens bundleconfig.json they are prompted to install the extensions. We're leaving out the CLI tools because of migration scenarios and the muddy upgrade story between 1.0.x and 1.1 for tooling packages. The goal is to completely replace bundleconfig.json with runtime bundling/minification which we'll be able to do around the

[2017-02-01 23:17] spboyer commented on #1786
Is there an extension for VS Code? What if any is the xplat story here.

[2017-02-01 23:26] GuardRex commented on #1948
Isn't this covered now by https://github.com/aspnet/Docs/pull/2644/files#diff-1ce85b6d78dcd047d3358068e57048c9

[2017-02-01 23:36] madskristensen commented on #1786
The xplat story is to install the CLI nuget package manually. It's explained here https://github.com/madskristensen/bundlerMinifier/wiki#visual-studio-code

[2017-02-01 23:38] spboyer commented on #1786
ok great. Thanks. we'll get the docs here updated.

[2017-02-01 23:48] Rick-Anderson commented on #1948
@GuardRex  I forgot @Pkellner  was working on that.
@kichalla can you respond to outline questions.
@pkellner can you review the info in this issue?

[2017-02-01 23:49] Rick-Anderson commented on #2636
@GuardRex  is this something you'd be interested in working on? It's classic ASP.NET and the repro should be ready by 2/6/2017  cc @tdykstra

[2017-02-02 00:20] GuardRex commented on #2636
Sure. I'll take it.

[2017-02-02 00:21] danroth27 opened #2648 "Renaming WebListener to HttpSysServer for ASP.NET Core 2.0"
- [x] New name HttpSys for 2.0
- [x] Settings flattened in 2.0 not separate settings and options now
- [x] Similar case as Kestrel with UseURLs - HttpSysOptions method has URLPrefixes, overrides UseURLs
  - Kestrel has settings per prefix, HttpSys doesn't
  - UseUrls and prefixes in options are roughly equivalent, options is just a stronger structure -- throws immediately if the format is bad
  -

[2017-02-02 00:26] #2625 closed

[2017-02-02 00:49] #2633 closed

[2017-02-02 01:01] Rick-Anderson opened #2650 "aspnetcore/mvc/views/razor.md"

[2017-02-02 01:29] tdykstra opened #2651 "Update WebMatrix references to recommend Visual Studio Code"
The documentation migrating from the ASP.NET site has a lot of references to WebMatrix that need to be changed to reflect the current recommendation to use VS Code.  Links to docs that use WebMatrix can be updated to link to  https://www.microsoft.com/web/webmatrix/

[2017-02-02 17:40] danroth27 commented on #89
aspnet/antiforgery#119

[2017-02-02 19:31] anurse commented on #2636
Feel free to let me know if you need any help with it. It should mostly be clear from the outline, but it can be just a little tricky.

[2017-02-02 19:48] spboyer commented on #1786
blocking issue: https://github.com/madskristensen/BundlerMinifier/issues/230

@madskristensen @danroth27

[2017-02-02 19:52] GuardRex commented on #2636
Thanks ... the outline content looks good. Sure, I'll ping u here if I get stuck.

"The repro should be ready by..." ... means that a doc stub (and/or sample) is forthcoming? If not, where is this doc? ... which repo, as I don't see it in the `aspnet/Docs` repo.

[2017-02-02 19:57] anurse commented on #2636
I believe it's referring to a repository being created to hold the original asp.net articles content.

[2017-02-02 20:00] GuardRex commented on #2636
Ah ... yes ... thought so. Thanks. I'll get right on this when the repo appears.

[2017-02-02 20:04] tdykstra commented on #2636
You can see it now in the aspnetmigration  branch, under aspnet folder, it'll be in master in a few days.

[2017-02-02 20:24] madskristensen commented on #1786
For .NET Core 1.0 you should use version 2.2.301

[2017-02-02 21:42] danroth27 commented on #2636
and the ASP.NET stuff is being merged into this docs repo. No plans to create a separate repo.

[2017-02-02 22:00] tdykstra commented on #139
Proposed outline for the doc

* When to use:
  * There is a particular content type you want to enable that
    a. isn't supported OOB (i.e., not JSON, XML, or plain text) and
    b. You want to enable it in a way that integrates with content negotiation
  * Example use cases
    * Google Protobuf is a binary format that is more efficient than text types.
    * vCard is a text format commonly used

[2017-02-02 22:24] danroth27 commented on #139
@kichalla Please take a look at the proposed outline. Does the flow seem reasonable? Anything missing?

[2017-02-02 22:31] kichalla commented on #139
Looks good to me.

[2017-02-02 23:57] tdykstra opened #2657 "remove project.json from aspnetcore/data/ef-mvc/intro.md"

[2017-02-02 23:57] tdykstra opened #2658 "remove project.json from aspnetcore/data/entity-framework-6.md"

[2017-02-03 00:50] tdykstra opened #2659 "Create an "all tutorials" page for ASP.NET (non-Core)"
We have an ASP.NET Core tutorials page that links to all tutorials, but we don't have the equivalent for ASP.NET.  We need to create one and then link to it from the hub page at https://docs.microsoft.com/aspnet/

Don't show tutorials for old versions; only MVC 5, Web API 2, ASP.NET 4, and Signalr 2 and later.

[2017-02-03 08:46] GuardRex opened #2660 "RE: xref links"
Couple of quickies on `xref` links:

### RE: The path (area) in `uid` values
One of the utilities of `xref` is that it provides a stable anchor for docs that are moved. It appears that the file anchor for `xref` links is the `uid`. In `aspnet/Docs`, the `uid` values include the doc path (area). When a doc moves, the `uid` must be updated, which in turn breaks the stability of the `xref` linking sy

[2017-02-03 18:02] Rick-Anderson opened #2661 "Move "Working with Forms" to Tag Helpers"
Make the H1/Title something like “Using Tag Helpers to work with forms” (leave Working with forms in TOC).

[2017-02-03 20:23] #862 closed

[2017-02-03 20:27] Rick-Anderson opened #2667 "ASP.NET Migration TOC issue"
- [ ] Remove MVC 3 Music Store or maybe move under Older version 1, 2 and 3 and don’t surface any of the tutorials

[2017-02-04 22:14] GuardRex commented on #2636
@tdykstra Would you like `keywords` and `uid` added to the metadata?

If so, what `uid` do you want? If you want them the same way as they're configured in `aspnetcore`, the uid will be ...
[code]

I ask about `uid` and `xref` generally in https://github.com/aspnet/Docs/issues/2660, because this approach seems unusual (i.e., path-based id's break `xref` links when a doc moves and the `uid` must be

[2017-02-05 11:55] ArashMotamedi commented on #2293
Hello @Rick-Anderson, @mplacona!

Thanks for the pointers and looking forward to the updated library from Twilio. In the meantime, as a stop-gap measure for folks looking for a drop-in solution for their projects, I just reconstructed the Twilio.Api project as a .Net Core Library project, replaced RestSharp with RestSharp.NetCore, added a couple lines of code to synchronously call RestSharp.NetCor

[2017-02-05 15:27] webzest commented on #135
There is a very easy solution to setup Visual Studio 2017 RC to run on HTTPS.
1. Open your Project's launchSettings.json file and set your SSL port:

[code]
2.  Open your Startup.cs file and add the following :

          services.AddMvc();
    //make sure the block of code is added below your services.AddMVC();
[code]
3.  Open your HomeController cs file and add [RequireHttps] right above the cla

[2017-02-05 17:17] GuardRex commented on #2636
@tdykstra Another ? ... Is the `aspnet` docs merge still WIP? I can't build locally into docs (yet anyway) ... I only get directory listings ...
[code]
![capture](https://cloud.githubusercontent.com/assets/1622880/22628132/543eb84c-eb94-11e6-9fd2-00ee4a478de4.PNG)

[2017-02-05 17:21] GuardRex commented on #2636
Nevermind! I fixed it ..... I misspelled "default" in my command.

[2017-02-05 17:28] GuardRex commented on #2636
![capture](https://cloud.githubusercontent.com/assets/1622880/22628230/0d142716-eb96-11e6-97a4-e339fbab57fa.PNG)

It broke anyway. Let me know if you think I'm doing something incorrectly.

[2017-02-06 17:03] tdykstra commented on #2636
We're aware of the local build issue in the aspnet folder and are investigating. no ETA yet.

[2017-02-06 17:05] tdykstra commented on #2636
Keywords and description yes, UID no -- none of the new aspnet content has it, so we'll have to do an automated update of all of them; it's not worth trying to do that piecemeal.

[2017-02-06 18:23] #2660 closed

[2017-02-07 19:40] shirhatti opened #2679 "Migrate article from https://docs.microsoft.com/en-us/dotnet/articles/framework/docker/aspnetmvc"
I think it make more sense for [this article](https://github.com/dotnet/docs/blob/master/docs/framework/docker/aspnetmvc.md
) to live in this docset as opposed to the .NET docset.

[2017-02-07 21:06] danroth27 opened #2682 "Update Publish to IIS doc to react to VS2017 updates and IIS publishing tool changes"
The publishing experience for ASP.NET Core apps in VS2017 has changed quite a bit. You can now publish directly to IIS using web deploy.

The IIS publishing tool has also gone away and web.config generation is now handled as part of the web sdk.

[2017-02-07 21:25] Rick-Anderson commented on #2679
@spboyer  @tdykstra  can you recommend where this should go in the TOC? I'll do the migration.

[2017-02-07 21:50] tdykstra commented on #2679
@Rick-Anderson We can put it in the new hosting and deployment TOC section -- it would be best to wait until @danroth27 reviews the plan for that section, then I can tell you where it fits.

[2017-02-07 21:53] shirhatti commented on #2679
My $0.02, have it linked to from [here](https://docs.microsoft.com/en-us/aspnet/index#pivot=aspnet&panel=aspnet_tutorials)

[2017-02-07 22:03] tdykstra commented on #2679
Oh, I missed that this is ASP.NET classic.  Sourabh's suggestion is good, but we should also put it in the ASP.NET classic TOC.

Right now we have a deployment TOC node only here:
https://docs.microsoft.com/en-us/aspnet/web-forms/overview/deployment/

Ideally we would add this link not only there but also create new nodes at /aspnet/mvc/deployment and /aspnet/web-api/deployment, then add this and

[2017-02-07 22:06] GuardRex commented on #2682
I was waiting on *the word* to start working on those sections.

Some info is there for Web Deploy, but I'm not very happy with it. It was something we temporarily dropped in there from another doc, and I merely moved the content over (e.g., the only screenshot shows importing a pub profile :cry:).

@tdykstra When do you want me to do the updates on the doc?

[2017-02-07 22:25] tdykstra opened #2685 "Create Deployment node under MVC in ASP.NET (non-Core) TOC"
The migration of the ASP.NET site was automated in such a way that no Deployment node was created under MVC and links were omitted from the others.  To make the deployment content discoverable we should add a Deployment node under MVC, and links now under Web Forms only should also appear under MVC and Web API.  There's also a new docker article being migrated from the dotnet repo (issue #2679) th

[2017-02-07 22:35] tdykstra commented on #2682
@danroth27 correct me if I'm wrong, but I would say go ahead and start now, working in the csproj branch so the changes will go to master along with the project.json-->csproj changes.

[2017-02-07 22:42] GuardRex commented on #2682
:+1: ... and as for the PJ-based samples that we did for the new middleware docs, I'll open PR's to update those on the csproj branch as well if that's ok.

[2017-02-07 22:53] tdykstra commented on #2682
That sounds good except I'd stick with 1.1 rather than 2.0 for now.

[2017-02-07 22:56] GuardRex commented on #2682
![marcellus](https://cloud.githubusercontent.com/assets/1622880/22715327/04a16f6e-ed56-11e6-84f7-97b00e9e9d05.jpg)
*You ain't got no problem, @tdykstra. I'm on the mother.* - Marsellus Wallace (Ving Rhames), *Pulp Fiction*, 1994

[2017-02-07 23:26] kimbaudi opened #2687 "Cannot resolve symbol 'Address.AddressLine1` error in Visual Studio from sample code for Working with forms section"
In the sample code for **Working with forms** section <https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/views/working-with-forms/sample/final>, there is `RegisterAddressViewModel` which has a `AddressViewModel` property:

[code]

On Visual Studio, the corresponding view `RegisterAddress.cshtml` indicates an error that it `Cannot resolve symbol 'Address.AddressLine1'`

![Cannot resolve sym

[2017-02-08 00:01] #2546 closed

[2017-02-08 00:18] cpear commented on #2687
Its probably resharper. Try disabling it.

[2017-02-08 00:21] kimbaudi commented on #2687
Yup, you're right!

[2017-02-08 00:21] #2687 closed

[2017-02-08 00:25] #2650 closed

[2017-02-08 00:26] Rick-Anderson opened #2689 "aspnetcore/mvc/views/dependency-injection/sample/src/ViewInjectSample/Project_Readme.html"

[2017-02-08 00:27] Rick-Anderson commented on #2689
@tdykstra  what's the issue here?

[2017-02-08 00:48] tdykstra commented on #2689
See the file at

https://github.com/aspnet/Docs/blob/master/aspnetcore/mvc/views/dependency-injection/sample/src/ViewInjectSample/Project_Readme.html

It's out of date in places and in particular mentions project.json.

[2017-02-08 01:02] Rick-Anderson commented on #2689
So why not delete that file? It never should **not** have been checked in. I added it the *.gitignore* so it won't be checked in again. It's boilerplate template code.

[2017-02-08 01:03] Rick-Anderson commented on #2689
Our primary concern is the published documents.

[2017-02-08 08:06] Grinderofl opened #2692 "A plea for demonstrating good standards and practices in docs"
There's an issue that has been bothering me since the beginning of Microsoft's creating of documentation for their products - examples that are either a) doing way too many things or b) are doing things way too simply.

While useful to "get up and running" quick, I think it's false for the official documentation to promote the use of the type of code that is okay for only as long as you have three

[2017-02-08 13:41] ardalis commented on #2692
It's a always a balance in docs and tutorials between showing the concept that is the focus of the moment (a particular feature, for instance), and showing "enterprise best practices" (which aren't universally agreed upon in many cases). Personally I agree with you that things like separation of concerns dictate that we shouldn't be exposing domain entities in views or through Web APIs, for instan

[2017-02-08 18:06] tdykstra opened #2694 "Eliminate separate .gitignore in the aspnet folder"
An empty .gitignore file was placed in the aspnet folder to deal with problems that were caused by the main .gitignore file.  It would be better to determine the cause of the problem and
update the main .gitignore accordingly.

@neusamir Do you recall the specific errors that prompted creating an empty .gitignore file?

[2017-02-08 21:35] #2692 closed

[2017-02-09 01:15] #2689 closed

[2017-02-09 01:16] Rick-Anderson opened #2700 "aspnetcore/security/authentication/2fa/sample/WebSMS/src/WebSMS/Project_Readme.html"

[2017-02-09 01:17] #2700 closed

[2017-02-09 01:18] Rick-Anderson opened #2701 "aspnetcore/client-side/angular/sample/AngularSample/src/AngularSample/Project_Readme.html"

[2017-02-09 01:19] #2701 closed

[2017-02-09 01:20] Rick-Anderson opened #2702 "aspnetcore/security/authentication/accconfirm.md"

[2017-02-09 01:21] Rick-Anderson opened #2703 "aspnetcore/client-side/angular/sample/AngularSample/src/AngularSample/Views/Home/Index.cshtml"

[2017-02-09 01:25] Rick-Anderson commented on #2703
fixed in #2704

[2017-02-09 01:25] #2703 closed

[2017-02-09 01:26] Rick-Anderson opened #2705 "aspnetcore/performance/caching/distributed.md"
https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed

[2017-02-09 01:28] Rick-Anderson opened #2706 "aspnetcore/publishing/iis.md"

[2017-02-09 03:24] Rick-Anderson opened #2709 "aspnetcore/hosting/directory-structure.md"
https://docs.microsoft.com/en-us/aspnet/core/hosting/directory-structure

[2017-02-09 03:25] Rick-Anderson opened #2710 "aspnetcore/migration/rc1-to-rtm.md"
[Migrating from ASP.NET 5 RC1 to ASP.NET Core 1.0](https://docs.microsoft.com/en-us/aspnet/core/migration/rc1-to-rtm)

[Migrating from ASP.NET Core RC2 to ASP.NET Core 1.0](https://docs.microsoft.com/en-us/aspnet/core/migration/rc2-to-rtm)

[2017-02-09 03:35] danroth27 opened #2711 "Document how to setup windows authentication in ASP.NET Core"
I had someone point out to me today that we don't currently cover setting up Windows authentication anywhere in our docs.

[Edit Rick] [@]Tratcher  is contact when ready to start to review outline.

[2017-02-09 03:41] Rick-Anderson opened #2713 "aspnetcore/fundamentals/file-providers.md"
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/file-providers

[2017-02-09 07:15] GuardRex commented on #2682
This is partially addressed by https://github.com/aspnet/Docs/pull/2708.

I'll constrain my updates to the *Publishing to IIS* doc parts dealing with Web Deploy. I'm working on this first thing in the morning along with middleware samples that need MSBuild/`csproj` :heart: (Response Caching Middleware, URL Rewriting Middleware, and Response Compression Middleware). I'll PR into the `csproj` branch

[2017-02-09 17:12] danroth27 commented on #1786
@DamianEdwards

[2017-02-09 18:06] spboyer commented on #2012
Closing. #2424 addressed issue.

[2017-02-09 18:06] #2012 closed

[2017-02-09 18:19] spboyer commented on #2479
Under review with @danroth27 and @stevelasker

[2017-02-09 18:30] Rick-Anderson commented on #2710
@danroth27  suggest we delete these articles.   cc @tdykstra

[2017-02-09 18:50] spboyer commented on #655
@dend @mairaw - do we have any plans to put this in?

[2017-02-09 18:56] spboyer commented on #565
The issue here is that the dev doesn't want to download the entire repo to get the code for `Hello World` or `Response Caching`.

We need to get a better structure about how to organize the code samples and perhaps include a zip?

@danroth27 @billwagner

[2017-02-09 18:59] spboyer commented on #102
Should be covered by #2698

[2017-02-09 19:23] dend commented on #655
@spboyer is the ask about publishing date? Because we already support that.

Regarding versioning, this is currently work in progress.

[2017-02-09 19:44] spboyer commented on #655
The documents show a date that is from the metadata which us "hardcoded" from the writers.  But is there a date displayed as to when OPS pushed to live?

[2017-02-09 19:50] mairaw commented on #655
When the topic is updated, you need to update the ms.date value. We don't want to display the published date because all topics are published when we merge branches. That's what it was doing before and it was wrong. Unless I'm not understanding the ask.
@spboyer @dend

[2017-02-09 19:51] spboyer commented on #655
Completely makes sense. We are putting it on the writer.  Closing the issue

[2017-02-09 19:51] #655 closed

[2017-02-09 20:07] Rick-Anderson commented on #565
GitHub is missing this feature. We identified this problem 2 years ago on Azure docs.

[2017-02-09 22:21] rynowak opened #2717 "We need to document writing a custom model binder"
This is a common ask, and we don't have it

[2017-02-10 00:06] Rick-Anderson commented on #2709
fixed by https://github.com/aspnet/Docs/commit/b6ff637c34bca1eba67c5a1cb7a4892ca201edc9

[2017-02-10 00:06] #2709 closed

[2017-02-10 00:07] #2540 closed

[2017-02-10 00:08] #2539 closed

[2017-02-10 01:53] Rick-Anderson opened #2722 "convert aspnetcore/fundamentals/localization/ from project.json to csproj"
sample/Resources/Views/Book/Index.resx
Also other language .resx files
sample/Views/

[2017-02-10 02:46] Rick-Anderson commented on #2717
@rynowak  any chance you could write it? Our model bind docs are in bad shape.

[2017-02-10 02:53] Rick-Anderson commented on #2722
@hishamco would you be able to convert the code from _project.json_ to _.csproj_ ? We're working out of the _new-csproj_ branch. It might be easier to start after we rebase with master (so we have the changes you made today).

[2017-02-10 02:59] Rick-Anderson commented on #2722
@hishamco actually it's just a matter of remove _project.json_  from the resource files - so that would should be done in master. I'll do it and if I have any problems I'll ping you.

[2017-02-10 03:09] Rick-Anderson commented on #2722
PR #2723 fixes this

[2017-02-10 03:10] Rick-Anderson opened #2724 "aspnetcore/testing/integration-testing.md"

[2017-02-10 03:22] Rick-Anderson opened #2726 "csproj conversion aspnetcore/tutorials/your-first-mac-aspnet.md"
[Your First ASP.NET Core Application on a Mac Using Visual Studio Code](https://docs.microsoft.com/en-us/aspnet/core/tutorials/your-first-mac-aspnet)
This upgrade requires a total rewrite.

-  Replace Yeoman with dotnet
- make it work with Linux

[2017-02-10 03:24] Rick-Anderson commented on #2726
@spboyer  can we trade a couple .Net Core conversion issues for this one?

[2017-02-10 03:28] Rick-Anderson opened #2727 "aspnetcore/tutorials/dotnet-watch.md"

[2017-02-10 03:48] hishamco commented on #2722
Sorry I was working on something else when you ping me

[2017-02-10 04:37] #2722 closed

[2017-02-10 04:52] #2724 closed

[2017-02-10 05:36] neusamir commented on #2694
I don't recall the specifics but we can remove that file and see what happens.

[2017-02-10 08:10] GuardRex commented on #2682
@tdykstra @Rick-Anderson Everything is done except for the Web Deploy upgrade for the *Publishing to IIS* doc.

I'm a bit concerned about working with such an old version of the doc on the `csproj` branch. We have basic guidance in the current doc for Web Deploy. We merged the content over recently from the dedicated VS with Web Deploy doc which went away. It's just not as good as I'd like it to b

[2017-02-10 13:51] ardalis commented on #2717
If not, I can take a stab at it, with @rynowak 's help. That's more in my comfort zone than some of the security stuff I'm working on these days.

[2017-02-10 14:05] spboyer commented on #2726
I will be taking care of the xplat items. If there are some .NET Conversion items you want to look at, please assign them to me.

[2017-02-10 16:01] rynowak commented on #2717
The more tricky part is coming up with an example that we actually like 😆 Maybe using model binding to fetch a model from the database?

[2017-02-10 16:40] ardalis commented on #2717
That seems ugly - maybe the model binder can accept something base64 encoded and decode it?

[2017-02-10 16:50] rynowak commented on #2717
That's a good idea... so good that we already have it https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Binders/ByteArrayModelBinder.cs

The database one is something we'd have customer requests for and we can't put it in the box due to layering issues.

[2017-02-10 17:20] ardalis commented on #2717
Doh! Ok, I can certainly do one that hooks into the database, but I'm not a fan of that (architecturally)...

[2017-02-10 18:00] tdykstra commented on #2682
The version of the doc in csproj should be current soon, as we're going to be rebasing csproj on master weekly. But it's OK to wait until csproj merges to take on the Web Deploy changes.

[2017-02-10 18:02] GuardRex commented on #2682
Perfect. I'll jump right on it as soon as it merges.

[2017-02-10 18:04] tdykstra commented on #2694
@Rick-Anderson If you agree with Samir's proposal, I'll go ahead and remove the aspnet/.gitignore.

[2017-02-10 18:07] Rick-Anderson commented on #2726
@spboyer  this is for csproj conversion.

[2017-02-10 18:09] Rick-Anderson commented on #2717
What about the EF in-memory DB and using a view model?

[2017-02-10 18:10] Rick-Anderson commented on #2694
@tdykstra  remove

[2017-02-10 18:34] robertparis opened #2737 "Entity Framework Core - ASP.NET -Working WITH DBA's"
Tom,
How to use migrations in the work environment where the DBA's control the database and we have to adapt our code to the changes they produce?

Previewing Microsoft/Docs/ASP​.NET/ASP​.NET Core which demonstrates how to create ASP.NET Core 1.0 MVC web applications using Entity Framework Core 1.0 and Visual Studio.

The Docs make a lot about using migrations and specifically

Which is good IF yo

[2017-02-10 18:51] Rick-Anderson commented on #2703
Damienbod/angular to angularjs #2735 upgrades to RTM and gets rid of p_roject.json_

[2017-02-10 19:34] #2694 closed

[2017-02-10 20:16] #2706 closed

[2017-02-10 20:17] #2713 closed

[2017-02-10 20:21] #2705 closed

[2017-02-10 20:28] Rick-Anderson opened #2741 "aspnetcore/publishing/web-publishing-vs.md"
[How web publishing in Visual Studio works](https://docs.microsoft.com/en-us/aspnet/core/publishing/web-publishing-vs)

[2017-02-10 21:42] Rick-Anderson commented on #2710
Redirect these two docs to the .NET project.json to MSBUILD document.

[2017-02-10 22:03] Rick-Anderson opened #2744 "aspnetcore/security/authentication/2fa/sample/WebSMS/src/WebSMS/gulpfile.js"
gulpfile.js

[2017-02-10 22:10] Rick-Anderson commented on #2293
@Swiss-Devs  let me know if I can help. We'd like to get this updated for [msbuild ](http://www.natemcmaster.com/blog/2017/01/19/project-json-to-csproj/) by the end March 1st, 2017. See #2744

[2017-02-10 23:04] tdykstra opened #2745 "project.json to csproj -- aspnetcore/migration/mvc.md"

[2017-02-11 02:12] Rick-Anderson opened #2747 "aspnetcore/client-side/yeoman.md msbuild conversion"
[Building projects with Yeoman](https://docs.microsoft.com/en-us/aspnet/core/client-side/yeoman)

[2017-02-11 02:16] sebastienros opened #2748 "2.0 Document PasswordOptions.RequiredUniqueChars"
New feature that lets a user require a minimum number of unique chars in a password. See issue linked for context.

https://github.com/aspnet/Identity/pull/1100

[2017-02-11 02:16] Rick-Anderson commented on #2741
@sayedihashimi would you be able to update this for msbuild/.csproj?

[2017-02-11 02:18] Rick-Anderson commented on #2747
@danroth27  can we delete this in the csproj branch? cc @spboyer

[2017-02-11 02:20] Rick-Anderson opened #2749 "aspnetcore/client-side/using-gulp.md to msbuild"
[Using Gulp in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/client-side/using-gulp)

[2017-02-11 02:27] Rick-Anderson commented on #2747
@scottaddie @danroth27  should this be deleted  or migrated to msbuild? cc @spboyer

[2017-02-11 02:27] Rick-Anderson commented on #2749
@scottaddie @danroth27 should this be deleted or migrated to msbuild? cc @spboyer

[2017-02-11 03:28] scottaddie commented on #2749
@Rick-Anderson I vote for migrating to MSBuild, since Gulp is still very relevant in ASP.NET Core projects.

[2017-02-11 03:42] Rick-Anderson commented on #2749
@scottaddie  thanks, I'll start migrating. I'll ping you *when* I get stuck.

[2017-02-11 05:30] damienbod commented on #2461
Should also add a section about AoT, treeshaking, HMR, angular lazy loading and using npm, yarn

[2017-02-11 11:51] spboyer commented on #2747
The generators are currently in the process of being updated to support the RC4 templates, once that is complete the article can be updated. At this point that's a blocker. We should not delete it.

There are plans to change the yeoman generator to use the same template system as dotnet new, giving those developers who like yo the choice to still use it.

cc:/ @sayedihashimi

[2017-02-13 15:16] scottaddie opened #2756 "Upgrade "View components" doc samples to csproj/MSBuild with VS 2017"
The [View components](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-components) doc uses `project.json` and `*.xproj` for VS 2015. The sample code should be updated to reflect using VS 2017.

@Rick-Anderson Is anyone working on this? If not, I'll take care of it.

[2017-02-13 17:18] danroth27 commented on #2710
I'm fine with this plan. RC2 shipped back in May 2016 and ASP.NET Core 1.0 has been out for almost eight months, which I believe is a sufficient grace period.

[2017-02-13 17:58] sayedihashimi opened #2757 "Rename not working"
I have a template (pasted below) which should rename a file from `gitignore.txt` to `.gitignore`. It looks like the rename is not getting applied.

[code]

[2017-02-13 19:09] Rick-Anderson commented on #2756
@scottaddie  that would be great, thanks.

[2017-02-13 19:21] #2636 closed

[2017-02-13 19:31] Rick-Anderson commented on #565
@mairaw  @tdykstra  TLDR:
The problem: We tell customers to download the sample. We provide a link to the sample, but you can't download from the sample link. You need to figure out:

1. Navigate to repro.
2. Download the entire repro (and probably unzip)
3. navigate to the sample

ACOM had re-usable sections - How did ACOM migrate without shared/included sections. That's what we need here.  Shoul

[2017-02-13 19:46] jwdavidson commented on #565
There is an extension for the Chrome Browser called GitHub Plus by V
Malhotra
https://chrome.google.com/webstore/detail/github-plus/anlikcnbgdeidpacdbdljnabclhahhmd?hl=en-US
that enables single file downloads with certain characteristics. This shows
that there is a possibility to do this in github

On Mon, Feb 13, 2017 at 2:31 PM, Rick Anderson <notifications@github.com>
wrote:

[2017-02-13 19:48] mairaw commented on #565
I believe @dend has already a feature request for this and @spboyer was also looking at some options. It's a big ask from customers.
I know nothing about ACOM so I can't comment on that.

Documenting the process on .NET repo is ok for now.

[2017-02-13 20:03] #1993 closed

[2017-02-13 20:33] #2727 closed

[2017-02-13 20:43] Rick-Anderson commented on #2741
@sayedihashimi  listed below are all the *project.json* - can you let us know how these should be changed for *.csproj*/msbuild?

As stated previously `dotnet publish` is a command-line utility that can be used to help publish your ASP.NET Core application. This is a cross platform command-line
    utility (that is, you can use it on Windows, Mac or Linux) and does not require Visual Studio. If yo

[2017-02-13 21:44] sayedihashimi commented on #2757
Sorry wrong repo closing.

[2017-02-13 21:44] #2757 closed

[2017-02-13 21:44] Rick-Anderson commented on #2748
@sebastienros  is that a 1.1 feature?

[2017-02-13 21:47] Rick-Anderson commented on #2748
[Account confirmation and password recovery](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm)  2.0 feature, nice to have for summer when 2.0 RTWs.

[2017-02-13 21:47] sayedihashimi commented on #2741
@Rick-Anderson basically the entire doc needs to be rewritten. How should we proceed? I can probably draft a new write up, but that may take me a few days. If you have bandwidth we can meet and I can go over the changes with you and then go from there.

[2017-02-13 21:49] Rick-Anderson commented on #2717
dup of #1681

[2017-02-13 21:49] #2717 closed

[2017-02-13 21:53] Rick-Anderson commented on #1681
@danroth27  please recommend the use case to use in the article.

[2017-02-13 21:56] rynowak commented on #1681
Dan says you should look at the info in #2717

[2017-02-13 22:08] Rick-Anderson commented on #2741
@sayedihashimi  can you draft up a new article (word is fine), I'll review it ping you if I have any questions.

[2017-02-14 00:53] tdykstra commented on #2567
@GuardRex Is this still a problem, and if so do you have a recent example?

[2017-02-14 01:49] GuardRex commented on #2567
Yes ... I just checked and there are new messages that I didn't receive while configured to "Follow" the chat ...

![capture](https://cloud.githubusercontent.com/assets/1622880/22911345/d4373ec0-f224-11e6-8501-aa898491fe63.PNG)

I confirmed my E-mail address was correct when I filed this issue, but I just attempted to access my profile, and I received the spinning-forever-no-loading-profile (as we

[2017-02-14 02:02] GuardRex commented on #2567
I can't get signed back into the system now. The reset feature is not sending a reset or temporary password to my Outlook mail account.

[2017-02-14 14:14] FabianGosebrink commented on #1842
Hey,

I would like to help concerning an article which could be called like "Your First ASP.NET Core Application using the dotnet CLI Visual Studio Code"? Would this be helpful in any way? Would do it on a windows system. This issue here seems technically close so I did not create a new one.

Could I help you out with that?

[2017-02-14 17:35] danroth27 opened #2767 "Add getting started tutorial that uses Visual Studio for Mac"

[2017-02-14 17:35] danroth27 commented on #1842
@FabianGosebrink Thanks for offering to help with the ASP.NET Core docs! I think the intent is that the existing Mac+VSCode doc should already cover what you are offering to write. We will be updating this article to use the latest CLI commands including using `dotnet net` instead of Yeoman shortly.

We will also need to look at adding an article that covers how to get started with ASP.NET Core an

[2017-02-14 17:41] tdykstra commented on #2667
@Rick-Anderson There are only two Music store tutorials in the TOC and one is clearly marked MVC 3 and the other is clearly marked MVC 2 -- why do these need to be removed?

[2017-02-14 20:51] Rick-Anderson commented on #2667
They don't need t be remove but they are so old they are of little value.  Probably close this issue now.

[2017-02-14 21:46] #2667 closed

[2017-02-15 01:58] GuardRex commented on #2567
Livefyre Support is handling the issue.

[2017-02-15 03:02] #2756 closed

[2017-02-16 02:59] Rick-Anderson opened #2779 "aspnetcore/client-side/bower.md"
fixes #2779

[2017-02-16 03:35] GuardRex commented on #2567
This isn't going to get resolved easily or quickly, so I'll reopen and post updates as it goes forward.

* Livefyre uses Zendesk for mail services.
* Livefyre Support claims that Zendesk's portal shows the messages are going out.
* At least some Zendesk servers are blacklisted by SORBS.
* MS and Proofpoint, the owners of SORBS, are doing security business.

Therefore, a possible cause for Livefyre

[2017-02-16 11:03] FabianGosebrink commented on #2461
Hey, how about this:

- Using SpaServices for Angular and ASP.NET Core
- What is SpaServices
    - Pre-rendering
    - TagHelpers
- Middleware
    - MapSpaFallbackRoute
    - UseWebpackDevMiddleware
- Prerequisites
- Creating a new project
    - Using the dotnet cli
    - using npm/yarn
    - What does it produce
    - Web API
    - Angular
    - Using Webpack (dev/prod)
    - Using Lazy Loading
-

[2017-02-16 18:04] spboyer commented on #204
* https://www.nuget.org/packages/Microsoft.AspNetCore.WebSockets/
*  [samples folder in the WebSockets repository.](https://github.com/aspnet/WebSockets/tree/dev/samples)

[code]

@danroth27 : getting requests for priority on this

[2017-02-16 19:09] cesarbs commented on #1412
This can be closed, right?

[2017-02-16 19:17] Rick-Anderson commented on #1412
Yes, altho the csproj version is [here](https://review.docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed?branch=csproj)

[2017-02-16 19:17] #1412 closed

[2017-02-16 19:20] #919 closed

[2017-02-16 19:20] cesarbs commented on #919
@Rick-Anderson This was related to #1412, closing it too.

[2017-02-16 21:55] Rick-Anderson opened #2786 "New doc: What's new in ASP.NET Core 1.1"
Create new topic "What's new in ASP.NET Core 1.1" List new features and link to doc on the 1.1 feature.

- [.NET Core Support Lifecycle](https://www.microsoft.com/net/core/support) and it's relationship to ASP.NET Core (they're the same - right).
- [URL Rewriting Middleware](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/url-rewriting)
- [Response Caching Middleware](https://docs.micros

[2017-02-16 22:26] Rick-Anderson opened #2787 "View Components as Tag Helpers: update VC doc"
1.1 feature from [team blog](https://blogs.msdn.microsoft.com/webdev/2016/11/16/announcing-asp-net-core-1-1/). Update [View Components](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-components)

[2017-02-16 22:42] #2306 closed

[2017-02-16 22:51] Rick-Anderson opened #2789 "doc WebSockets for 1.1"
see https://blogs.msdn.microsoft.com/webdev/2016/11/16/announcing-asp-net-core-1-1/

- [x ] Short term, add to What's new in ASP.NET Core 1.1 #2786
- [ ] Long term, create an independent doc

[2017-02-16 22:52] Rick-Anderson commented on #2789
@tdykstra  this got missed. Can you do this one?

[2017-02-16 22:58] Rick-Anderson commented on #2786
@tdykstra @GuardRex  please review, looks like we missed "WebListener Server for Windows",  "Azure App Service logging provider" and WebSockets

[2017-02-16 22:59] Rick-Anderson commented on #204
see also #2789

[2017-02-16 23:08] tdykstra commented on #2786
@Rick-Anderson We didn't miss WebListener (new doc in Fundamentals/Servers) or App Service logging provider (new section in Fundamentals/Logging), only WebSockets.

[2017-02-16 23:12] tdykstra commented on #2789
@Rick-Anderson What's the priority compared to csproj work?

[2017-02-16 23:14] Rick-Anderson commented on #2789
@tdykstra  this is higher. We just need a copy of the announcement for now.

[2017-02-16 23:20] GuardRex commented on #2786
Cross-ref: https://github.com/aspnet/Docs/issues/2260

Note that your https://github.com/aspnet/Docs/issues/2787 is a dup of https://github.com/aspnet/Docs/issues/1757

[2017-02-16 23:23] Rick-Anderson commented on #2787
dup of #1757

[2017-02-16 23:23] #2787 closed

[2017-02-17 01:55] GuardRex commented on #2567
Today's update ...

* They have no idea why their password reset system doesn't work. They had me forward the password reset link E-mail and the followup "Your password has been changed" E-mail.
* They didn't check if my outlook.com address is linked to the comments for *Publishing to IIS*, as I asked them to confirm.
* They have no answer on the Zendesk mail servers being blacklisted by SORBS. Th

[2017-02-17 16:41] Andrew-MSFT commented on #2786
I would recommend there be a "help me choose between 1.0 and 1.1" sentence or two, probably tied to the "Support lifecycle" section

[2017-02-17 16:53] danroth27 opened #2795 "Document the tasks, targets, properties, implicit blobs, etc. in the .NET Core web sdk for msbuild"
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 275b32fd-9419-e174-6fdf-75a0e8ab3a71
* Version Independent ID: f210fd34-23d8-b573-ce6f-9df02e49d80f
* Content: [ASP.NET Core Web SDK](https://learn.microsoft.com/en-us/aspnet/core/razor-pages/web-sdk?view=aspnetcore-6.0)
* Content Source: [aspnetcore/razor-pages/web-sdk.md

[2017-02-17 20:23] #2293 closed

[2017-02-17 20:53] jrgunawan commented on #1162
+1

[2017-02-17 23:59] GuardRex commented on #2260
I guess this is as good a place as any to ask about these ...

### Azure Integration
[Azure Integration](https://github.com/aspnet/AzureIntegration) seems lightly covered. It's only covered in a Note in the Fundamentals/Logging doc. It reminds me of a notion that I've had occasionally ...

When it comes to the basics for ASP.NET Core on Azure Apps, the two existing docs, [Deploy an ASP.NET Core we

[2017-02-18 01:11] Rick-Anderson commented on #2260
@GuardRex  can you copy/paste that into a new issue to suggest that topic. Sounds like a good idea to me.

[2017-02-18 01:13] #1757 closed

[2017-02-18 03:24] guardrex opened #2800 "Publishing to Azure App Service"
[Azure Integration](https://github.com/aspnet/AzureIntegration) seems lightly covered. It's only covered in a Note in the Fundamentals/Logging doc.

The existing docs cover quite a bit of ground on CI, Git, VS, EF, and SQL Database. They don't touch on [Azure Integration](https://github.com/aspnet/AzureIntegration) or mention the Azure App Service logging provider. The landing page for Azure Apps

[2017-02-18 23:01] ruslanulyanets opened #2804 "Add X-Forwarded-Proto header line to the proxy.conf"
It seems that the following setting is missing in the nginx  [proxy.conf](https://github.com/aspnet/Docs/blob/master/aspnetcore/publishing/linuxproduction/proxy.conf) file from [documentation](https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction):

**proxy_set_header X-Forwarded-Proto $scheme;**

External login doesn't work properly without the line in applications configured to

[2017-02-19 17:02] #2567 closed

[2017-02-20 20:42] xdaDaveShaw commented on #2007
Given the new build UI and the improved dotnet cli support and Azure RM changing. My changes are out of date again.
If someone else wants to pick this up, they can. If not I'll get around to it when I can.

[2017-02-21 16:52] spboyer commented on #2747
Updates are complete for csproj. Article can be updated

[2017-02-21 17:01] #2804 closed

[2017-02-21 17:44] spboyer commented on #2747
@Rick-Anderson - There are no code assets to this article.  However, there is an edit that needs to be done for screen shots and content that I will do.

[2017-02-21 18:54] BrennanConroy opened #2810 "Make a doc for the LoggerMessage.DefineScope pattern"
We should document the low allocation logging pattern that uses `LoggerMessage.DefineScope` and `LoggerMessage.Define` as seen here https://github.com/aspnet/KestrelHttpServer/blob/b41c4078bdbbf2b2413fe13922a64552ed1177b6/src/Microsoft.AspNetCore.Server.Kestrel/Internal/Infrastructure/KestrelTrace.cs and https://github.com/aspnet/Mvc/blob/624909763bf762c4448955d00eef1649737df8d6/src/Microsoft.AspN

[2017-02-22 22:45] ardalis commented on #89
@fiyazbinhasan thanks for the assistance; please review #1945

[2017-02-23 03:09] scottaddie commented on #2779
@Rick-Anderson Should this issue be closed now, or is there still work to be done?

[2017-02-23 03:35] kiwiant opened #2823 "TestingControllersSample integration tests do not work with Visual Studio 2017 RC (latest)"
Not sure if this is an issue with the sample, xUnit or VS2017RC.

Sample works fine in VS2015 but when upgrading and using in VS2017RC (all Nuget packages upgraded to latest) the integration tests that use Razor views fail:
TestingControllersSample.Tests.IntegrationTests.HomeControllerTests.ReturnsInitialListOfBrainstormSessionsTest TestingControllersSample.Tests.IntegrationTests.SessionController

[2017-02-23 04:01] ardalis commented on #2823
I've reproduced this problem and submitted it as well through VS feedback. I haven't identified a solution yet.

[2017-02-23 04:49] darrenschwarz commented on #949
Darren Schwarz darrenschwarz@gmail.com

[2017-02-23 06:29] glennc commented on #2810
I think some guidance around the implications of mixing something like string interpolation and formatters will be useful to add as well.

[2017-02-23 18:44] #2779 closed

[2017-02-23 18:45] Rick-Anderson commented on #2779
@scottaddie  thanks

[2017-02-23 19:39] kiwiant commented on #2823
Perfect thanks @ardalis . Do you have a link to the feedback so I can keep an eye on it?

[2017-02-23 19:53] ardalis commented on #2823
It's here: https://github.com/aspnet/Mvc/issues/5826 (not a VS feedback
item; misremembered that)

On Thu, Feb 23, 2017 at 2:39 PM, kiwiant <notifications@github.com> wrote:

--
Steve Smith
http://ardalis.com | http://twitter.com/ardalis

[2017-02-23 23:17] tdykstra opened #2827 "project.json to .csproj -- aspnetcore/client-side/less-sass-fa.md"

[2017-02-23 23:24] tdykstra commented on #2827
@spboyer @scottaddie This doc uses a ref to project.json to get the webroot folder path:

![less-sass-fa](https://cloud.githubusercontent.com/assets/1569635/23283636/ece9dfd6-f9db-11e6-9b09-1a650e18f109.png)

Same thing in the 2fa sample project.

In other sample app gulpfiles I see the path hardcoded:

var webroot = "./wwwroot/";

Any reason not to replace project.webroot with hardcoded webroot h

[2017-02-23 23:31] tdykstra commented on #2745
Fixed by #2797

[2017-02-23 23:31] #2745 closed

[2017-02-23 23:32] tdykstra commented on #2657
Fixed by #2794

[2017-02-23 23:32] #2657 closed

[2017-02-23 23:32] tdykstra commented on #2658
Fixed by #2826

[2017-02-23 23:58] Rick-Anderson commented on #2744
@tdykstra  where is the project.json ref?

[2017-02-24 02:21] scottaddie commented on #2827
I cannot think of a reason why you wouldn't just hardcode this value, especially since it's not a value that gets used over and over in this example.

[2017-02-24 05:12] guardrex opened #2828 "[New document concept] ASP.NET OSS Developer Projects"
On the [2/21 Standup (23:14)](https://www.youtube.com/watch?v=rIYP-9RWLiA#t=23m14s), [@]jongalloway shows two lists of OSS .NET tools, frameworks, libraries, and software:
* [Awesome .NET (quozd/awesome-dotnet)](https://github.com/quozd/awesome-dotnet)
* [.NET Open Source Developer Projects (dotnet/dotnet-developer-projects.md)](https://github.com/Microsoft/dotnet/blob/master/dotnet-developer-proj

[2017-02-24 07:04] fasigpt opened #2830 "aspnetcore module fails to launch dotnet exe"
In this article https://docs.microsoft.com/en-us/aspnet/core/tutorials/nano-server
 we are trying to install .net core to $InstallRoot = "$env:LocalAppData\Microsoft\dotnet" which will lead to 502.5 Process Start Failures. Unfortunately, in this scenario both stdout and event logs are having empty messages

Get-WinEvent -FilterHashTable @{LogName='Application'; Level=2; St
artTime=$StartTime} |for

[2017-02-24 13:48] spboyer commented on #2827
See the bundleconfig.json file. We are using the hard path there.

[code]

[2017-02-24 14:03] #2747 closed

[2017-02-24 18:26] spboyer commented on #2828
Maybe a better place for this is off the http://dot.net under the [community page](https://www.microsoft.com/net/community)?

cc: / @shanselman @jongalloway

[2017-02-24 18:33] GuardRex commented on #2828
I'm just concerned about its discoverability. The doc(s) could put anywhere and get a mention and link in a blurb at the end of the [Introduction to ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/) doc, or there could be a doc at the very bottom of the TOC ... just above *API Reference*.

This stuff is so hot, I think all devs should know it exists.

[2017-02-24 19:50] #1910 closed

[2017-02-24 19:52] ardalis commented on #92
@blowdart are you the best person for me to have a quick conversation with about what this should cover? Does this look like a good starting point? https://weblogs.asp.net/jongalloway/preventing-open-redirection-attacks-in-asp-net-mvc

[2017-02-24 20:26] Rick-Anderson commented on #2830
@fasigpt  this doesn't seem to be a documentation issue.  You might try posting this to [SO](http://stackoverflow.com/).

[2017-02-24 20:26] #2830 closed

[2017-02-24 20:28] Rick-Anderson commented on #2828
@dend please review

[2017-02-24 20:35] #2726 closed

[2017-02-24 20:37] spboyer commented on #1842
Closed via #2831

[2017-02-24 20:37] #1842 closed

[2017-02-25 00:08] Rick-Anderson commented on #2744
@tdykstra  what needs to be done? Remove _gulpfile.js_ ?

[2017-02-25 01:07] dend commented on #2828
@Rick-Anderson @GuardRex @spboyer I am all for making these part of the documentation, but not sure if it deserves a super-special treatment.

[2017-02-25 12:02] zanedo opened #2839 "Docs say Ubuntu 14.04 uses systemd"
The docs here: https://github.com/aspnet/Docs/blob/master/aspnetcore/publishing/linuxproduction.md

Say to set the service up in systemd but Ubuntu 14.04 doesn't use systemd, it uses init.d.

Is there an example using init script?

[2017-02-25 23:33] spboyer commented on #2839
That is correct, The document should be updated to reflect 16.04. `systemd` is available as of Ubuntu 15.10.  For Ubuntu 14.04, you should use supervisord, the version of the document [here](https://github.com/aspnet/Docs/blob/e9c1419175c4dd7e152df3746ba1df5935aaafd5/aspnetcore/publishing/linuxproduction.md) has that information on that practice.

[2017-02-26 12:54] spboyer commented on #2038
This should be closed? Decided not to export correct? @danroth27 @Rick-Anderson

[2017-02-27 03:11] scottaddie opened #2843 "Update "Razor syntax" doc to CSPROJ"
The ["View compilation"](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor#view-compilation) section of the MVC **Razor syntax** doc still references `project.json`. Is anyone working on updating this? If not, I'll take care of it.
@Rick-Anderson

[2017-02-27 05:12] Rick-Anderson commented on #2843
I updated it in the CSPROJ branch:

## View compilation

Razor views are compiled at runtime when the view is invoked. ASP.NET Core 1.1.0 and higher can optionally compile Razor views and deploy them with the app. To do this set `MvcRazorCompileOnPublish` to true and include a package reference to `Microsoft.AspNetCore.Mvc.Razor.ViewCompilation`. The following *.csproj* sample highlights these set

[2017-02-27 05:12] #2843 closed

[2017-02-27 11:45] spboyer commented on #2827
Closing #2835 fixed.

[2017-02-27 11:45] #2827 closed

[2017-02-27 17:11] tdykstra commented on #2744
yes

[2017-02-27 17:11] #2038 closed

[2017-02-27 18:22] ryanbrandenburg opened #2846 "Describe language fallback behavior"
The [localization](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization) docs don't mention how we do language fallback for resources, we might want to include a short blurb about that behavior.

[2017-02-27 20:31] #2744 closed

[2017-02-27 21:40] Rick-Anderson commented on #2795
contact is web tools team/@MLorbetske

[2017-02-27 21:43] #2823 closed

[2017-02-27 21:51] Rick-Anderson commented on #2800
@GuardRex great outline. This probably belongs in the Azure doc set.  We can look at this after VS17 RTMs.

Most of this info is scattered around.

[2017-02-27 21:56] GuardRex commented on #2800
If that turns out to be the best spot and the other two docs remain here, then I would suggest a cross link to it at the tops of those docs. What I'm outlining here is a more introductory-level "how to get on Azure Apps with an ASP.NET Core app" than the two that exist today, which might be complicated for a newbie to Azure Apps ... they certainly have a lot more in them than you need to know.

[2017-02-28 08:54] kirspas23 opened #2851 "Search for Instuctor Controller"
Hi, I tried to create an account to comment on the Microsoft Docs page but it wouldn't work even with my Microsoft Account. I attached what I wanted to say:

Really fantastic tutorial! I started to play around with the content and lessons to better understand.

How would you implement search functionality with the Instructor model and controller? Searching for an Instructor name in a large list. S

[2017-03-01 14:39] murbanowicz opened #2856 "Show how to get it working with VueJS"
VueJS is already one of big players so it should be definitely included in docs how to set it up with ASP.NET core

[2017-03-01 18:31] GuardRex opened #2858 "Call out local testing on 502.5 exceptions in IIS troubleshooting"
Talking to @conkman on Slack ...

We speak to running an app locally in the lead-in to the *Common Errors* section; however, that can get lost in the mix when trying to tease out why a 502.5 is occurring on the server.

I'd like to add a bullet point to the 502.5 errors in the list that explicitly calls attention to checking the app locally (it should be the first bullet in each list imo). When it

[2017-03-01 19:47] Rick-Anderson commented on #2858
@GuardRex  I think it's OK if this is not part of your assigned work. If for some reason it is your assigned work you can can comp time.

[2017-03-01 19:49] blowdart commented on #92
It's very different now, so I'd leave it till I get back from vacation.

[2017-03-01 19:52] GuardRex commented on #2858
Cool ... I gotta get something in ... I see the PR's buzzing by and feel so left out of the fun. :cry:

[2017-03-01 20:42] ardalis commented on #92
I'm out myself 10-17 March. Maybe we can aim for week of 20th.

[2017-03-01 21:33] Rick-Anderson commented on #2851
@kirspas23  this is for issues with documents. I suggest you post this question to SO or leave the question on LiveFyre.

[2017-03-01 21:33] #2851 closed

[2017-03-01 21:36] Rick-Anderson commented on #2846
@ryanbrandenburg  can you send me a paragraph on that and I'll get it added.

[2017-03-01 21:36] Rick-Anderson commented on #2856
See https://github.com/aspnet/JavaScriptServices/issues/524

[2017-03-01 21:36] #2856 closed

[2017-03-01 22:01] danroth27 commented on #2711
Proposed outline:
- Brief overview of what Integrated Windows Authentication is
  - Clarify that it only works on Windows
- Enabling Windows Authentication via IIS
  - Show creating a new ASP.NET Core app that uses Windows Authentication from Visual Studio using the built-in auth config tooling for new projects
  - Reference [Publish to IIS]() doc for setting up ASP.NET Core to run behind IIS
  -

[2017-03-01 22:23] GuardRex commented on #2711
New versions of the ANCM will [default (aspnet/AspNetCoreModule #53)](https://github.com/aspnet/AspNetCoreModule/issues/53) `forwardWindowsAuthToken = true` ... Why do I have a sneaky feeling tho that if it isn't called out that devs will run amok? An old `web.config` lying around in the app that has it set to `false` is a ticking :bomb:.

[2017-03-02 00:39] Rick-Anderson commented on #2711
@Tratcher  please review/revise and approve outline.
@ardalis  can you take this one?

[2017-03-02 00:41] MaherJendoubi commented on #2795
@danroth27 Would you please add more description : the context and a sample? Thanks.
@Rick-Anderson Excuse my ignorance, what does P1 label mean? Thanks.

[2017-03-02 00:43] Rick-Anderson commented on #2795
@MaherJendoubi  P1 - is priority.

[2017-03-02 01:40] ardalis commented on #2711
@Rick-Anderson yes

[2017-03-02 09:40] bilalarshad opened #2865 "Accessing appsettings.json of class library project from Asp.NetCore project"
There are two projects Asp.NetCore and .NetCore class library. I want to access appsettings.json from class library project inside Asp.NetCore project.

What I tried
- Add it to build options and set copyToOutputDirectory, But it place appsettings.json inside [debug/release]\[ProjectName]\appsettings.json but I want it to be on path [debug/release]\appsettings.json.

Kindly suggest me a workaround

[2017-03-02 11:32] Ponant opened #2866 "Identity-Configuration is missing on the left panel"
The only way to access it seems to be via google
[https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-configuration](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-configuration)

[2017-03-02 13:01] Ponant opened #2867 "Clarify Owin LogoutPath"
is it possible to have a simple explanation of what is the `LogoutPath`?
`        options.Cookies.ApplicationCookie.LogoutPath = "/Account/LogOff";
`
The docs say nothing about that and the info gotten via intellisense or here
[https://msdn.microsoft.com/en-us/library/microsoft.owin.security.cookies.cookieauthenticationoptions.logoutpath(v=vs.113).aspx](https://msdn.microsoft.com/en-us/library/mic

[2017-03-02 16:26] GuardRex commented on #2867
@Ponant you are so correct about this imo. I looked around to see what authors were saying about it, and I'm shocked to see authors around the Net not explaining it better.

It comes into play in the signout here: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationHandler.cs#L315-L317

... where you see at the end of the end of the `Hand

[2017-03-02 16:50] Ponant commented on #2867
@GuardRex , so you mean that in our example, `/Account/LogOff` will be the ReturnUrl and hence the action the user will be taken to after he has been signed out? Thanks

[2017-03-02 16:59] GuardRex commented on #2867
No ... the `/Account/Logoff` path will be to your controller action where you call `HandleSignOutAsync()`.

Out in your app where you have a logoff link, you'll set the destination of the link to something like `/Account/Logoff?returnUrl=/`, which would send them to your `/Account/Logoff` controller action, log them off with `HandleSignOutAsync()`, and then the middleware will automatically redire

[2017-03-02 17:05] GuardRex commented on #2865
@bilalarshad Hello - This repo is just for docs. Close here and open your issue over in https://github.com/dotnet/sdk/issues. However, keep in mind that they're working actively with MSBuild/`csproj` over there, so they might be inclined to answer you with an MSBuild/`csproj` approach. :wink:

[2017-03-02 17:38] Ponant commented on #2867
I kind of see, but honestly, not quite! I was going through `IdentityOptions `and have set this option in `ConfigureServices` to check it out. I am using the `SignInManager` to sign out and I do not see how to call `HandleSignOutAsync` (it is protected, btw). My controller is very basic
[code]

I tried to add a returnUrl in this action and has set the logout button with an asp-route-returnUrl="/ho

[2017-03-02 17:54] GuardRex commented on #2867
Yes. My bad. I was just mentioning it from looking at the reference source code. You are correct in that `SignOutAsync()` is the correct call. I should have recognized that `HandleSignOutAsync()` is called behind-the-scenes to get the user logged out.

I checked all of the sample apps, and they apparently all do a `RedirectToAction()` manually. In theory with the `LogoutPath` set and a `returnUrl`

[2017-03-02 18:27] Tratcher commented on #2711
Yes, that's a good start.

Be careful to take any WebListener code samples from the right branch / released bits. The auth settings themselves haven't changed in dev, but the settings object has.

[2017-03-02 19:31] #2685 closed

[2017-03-02 20:18] Ponant commented on #2867
But that is my point, what do you return? I do not think your Logoff will compile because `SignOutAsync ` will return void.