[2019-04-24 10:11] Andrzej-W opened #12139 "Update sample code to adapt to Blazor's current requirements"
- Decorate all parameters with `[Parameter]`
- Make parameters `private`
- Change `Action` type to `EventCallback`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc28995-6784-a7d2-5c0b-9811a8d19c1a
* Version Independent ID: 1668c8fb-024c-c86d-d4d5-e22e3355c04b
* Content: [Introduction to Blazor in ASP.NET Core](https:

[2019-04-24 10:28] javiercn commented on #12138
This is no different from configuring identity to use an external provider.

https://docs.microsoft.com/es-es/aspnet/core/security/authentication/social/facebook-logins?view=aspnetcore-2.2

[2019-04-24 10:52] smjltd opened #12140 "Blazor (Client Side)"
There is not enough documentation for Blazor (Client Side) for example creating using command line dotnet new blazor -o proj creates server side hosted blzaor not webassembly one please show us how to create Blazor (Client Side)!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 542f38c4-1502-f739-372a-80c86c377491
* Ve

[2019-04-24 12:57] guardrex commented on #12139
Already done ... we haven't merged it to live yet.

[2019-04-24 12:57] #12139 closed

[2019-04-24 12:59] guardrex commented on #12139
I'll do that now. https://github.com/aspnet/AspNetCore.Docs/pull/12141

[2019-04-24 13:06] guardrex commented on #12140
That shouldn't be possible. The server-side template is called `blazorserverside`. If you're using `blazor` and getting a server-side app, then you should open that on the [aspnet/AspNetCore issues](https://github.com/aspnet/AspNetCore/issues) for the engineers to address.

I agree with you that the *Hosting models* topic should have a cross-link to the *Get started* topic to make sure that the re

[2019-04-24 15:52] Eilon opened #12142 "No mention of RazorLangVersion on this page even though warnings point to this page about it"
I'm building a project that uses .razor files for the purpose of #blazing and I got this warning:

Warning RAZORSDK1005 One or more Razor component files (.razor) were found, but the project is not configured to compile Razor Components. Configure the project by targeting RazorLangVersion 3.0 or newer. For more information, see https://go.microsoft.com/fwlink/?linkid=868374

If you go to https://g

[2019-04-24 16:47] guardrex commented on #12142
@Rick-Anderson Let me know if you want it documented here (Razor SDK) or in the Blazor docs. If here, then you may decide to handle this. If in the Blazor docs and you want me to keep it and move it to the Blazor project, then that fwlink should point to a new location. The only problem with taking it to Blazor is that we don't have a great spot for it at the moment. I'll have to confer with DR to

[2019-04-24 17:01] #7124 closed

[2019-04-24 17:02] snlacks commented on #12136
I'm not.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Rick Anderson <notifications@github.com>
Sent: Wednesday, April 24, 2019 12:42:50 AM
To: aspnet/AspNetCore.Docs
Cc: Steven Lacks; Author
Subject: Re: [aspnet/AspNetCore.Docs] launch and task.json for razer tutorial (#12136)

Why are you using the Framework and not ASP.NET Core? What's not working? Are

[2019-04-24 17:11] Rick-Anderson commented on #12136
@scottaddie  can we get an include or something else with the additional instructions for VSC?

[2019-04-24 17:32] Eilon commented on #12142
@danroth27 - this is the issue I was talking to you about.

[2019-04-24 17:58] #11983 closed

[2019-04-24 18:11] lonix1 commented on #12003
@gzinger I also see no change. Did you get it to work?

[2019-04-24 18:19] rgreenberg007 commented on #8627
So was this fixed?
Following the tutorial at: Add a model to a Razor Pages app in ASP.NET Core
I did:  dotnet tool install --global dotnet-aspnet-codegenerator
like it says and then when I try: dotnet aspnet-codegenerator razorpage -m Movie -dc RazorPagesMovieContext -udl -outDir Pages\Movies --referenceScriptLibraries
I still get: No executable found matching command "dotnet-aspnet-codegenerator"

[2019-04-24 18:50] guardrex opened #12143 "Blazor event handling enhancements"
From https://github.com/aspnet/AspNetCore/issues/5521#issuecomment-486321803 ...

&gt; onkeydown and onkeyup don't actually provide the value, so the behavior described is expected. ... We should document this better.

Cross-ref to the original work that was done by engineering to address that issue: https://github.com/aspnet/AspNetCore.Docs/pull/11152

When u triage this issue, plz provide guidan

[2019-04-24 20:06] bdlane commented on #11408
I get the same issue - adding the `web.config` with the authentication elements causes a configuration error at runtime.

Starting from the 'Web Application' template in the new project dialog in Visual Studio 2019, with Windows Authentication enabled, I can run and debug the project fine.

Then, following the steps outlined in the 'Development side configuration with a local web.confg' section (i

[2019-04-24 20:09] guardrex commented on #11408
@bdlane Please open a new issue using the **This Page** feedback button at the bottom of the topic. We can't track on closed issues.

[2019-04-24 20:25] bdlane opened #12144 "[WinAuth] Clarify app configuration and deployment"
Adding the web.config with the authentication elements causes a configuration error at runtime.

Starting from the 'Web Application' template in the new project dialog in Visual Studio 2019, with Windows Authentication enabled, I can run and debug the project fine.

Then, following the steps outlined in the 'Development side configuration with a local web.confg' section (i.e. adding a web.config f

[2019-04-24 20:32] Rick-Anderson commented on #8627
@rgreenberg007 it was never broken for 99.99% of those who tried it. A few folks reported this error. What OS are you on?  Are you in the project directory? You get that error if you're not in the project directory.

Does the following work?
[code]

[2019-04-24 20:35] jasonshave opened #12145 "404 on Github reference"
This link gives a 404: https://github.com/aspnet/Docs/tree/master/aspnetcore/fundamentals/logging/loggermessage/samples/2.x/LoggerMessageSamples/

I'd love to see the sample :) can you provide a new URL please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48e02614-5cdd-0c85-3193-75a2325326b4
* Version Independent ID:

[2019-04-24 20:37] guardrex commented on #12145
Sorry about that @jasonshave ... the 🧀 must have moved.

Here's the sample :point_right: https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/fundamentals/logging/loggermessage/samples/2.x/LoggerMessageSample

I'll get this patched today. Thanks for letting us know!

[2019-04-24 20:46] jasonshave commented on #12145
Thank you 👍

[2019-04-24 20:47] guardrex commented on #12145
Sure thing ... no need to close. This will auto-close when the PR merges.

[2019-04-24 20:48] #12145 closed

[2019-04-24 21:46] chickenpotpie opened #12147 "React to back-end changes & ReplacePrincipal"
I was having an issue where after using `ReplacePrincipal` to update my principal, antiforgery token validation would fail. After looking around in the default antiforgery validation code I found that I needed to include a `NameIdentifier `or `Upn `claim to be able to update claims and have my antiforgery tokens still work.

https://github.com/aspnet/AspNetCore/blob/4a5f2d16bbeab0e16f3786d5058872c

[2019-04-24 22:13] rgreenberg007 commented on #8627
I seem to be in the project directory. Here is what I get.rgreenberg@LAPTOP-MBJP230U MINGW64 ~/Desktop/myDotNet/RazorPagesMovie$ dotnet tool install --global dotnet-aspnet-codegeneratorTool 'dotnet-aspnet-codegenerator' is already installed.
rgreenberg@LAPTOP-MBJP230U MINGW64 ~/Desktop/myDotNet/RazorPagesMovie$ dotnet aspnet-codegenerator razorpage -m Movie -dc RazorPagesMovieContext -udl -outDir

[2019-04-24 23:27] guardrex opened #12151 "React to repo name change in repo links"

[2019-04-24 23:32] Andrzej-W commented on #12139
@guardrex Component parameters are still `public`and they should be `private` (eventually `protected`). Look here https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#component-parameters
First sentence is:

[2019-04-24 23:36] guardrex commented on #12139
Where? I trying to get these updated on this round (Preview 4) of doc updates.

[2019-04-24 23:39] guardrex commented on #12139
oh ... sorry. Yes ... I see them. ok ... I'll get 'um.

[2019-04-24 23:43] guardrex commented on #12139
ei ei ei ... and I just spotted another one elsewhere.

We'll just need to spot and update these as we go. There were a bunch of them that came from engineering samples back in the Blazor.Docs days. The only way to get them out is to manually catch them on doc updates. :eyes:

[2019-04-24 23:45] guardrex commented on #12139
Here's what I'll do ... I have a couple of open Blazor PRs right now touching several topics. I'm going to let those merge first. I've made a note to sweep the doc set again for these.

[2019-04-24 23:57] guardrex opened #12153 "React to new Visual Studio URL"

[2019-04-25 00:04] #12151 closed

[2019-04-25 00:05] Andrzej-W commented on #12139
@geardrex Be careful with automatic `public => private` conversion for parameters. Here https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#tabset-example in `Tab component` source code you will find this line:
[code]
It have to be public because it is used from `TabSet` component.

[2019-04-25 00:07] guardrex commented on #12139
@Andrzej-W I'll ping you on the PR. Let's put them in separately so that anything I :boom: *break* :boom: 🙈 is easy to spot.

[2019-04-25 00:13] guardrex opened #12155 "Sweep Blazor docs for access mod and attribute updates"
@Andrzej-W I'll work it separately on this issue ... at the end. I have two topics left to touch for Preview 4 updates. Next, I'll sweep again to catch the last few problem spots for this. Thanks for keeping me honest.

Cross-ref: https://github.com/aspnet/AspNetCore.Docs/issues/12139#issuecomment-486471160

[2019-04-25 01:51] #12153 closed

[2019-04-25 03:37] MNF opened #12157 "How to log automatic 400 responses on model validation errors"
“The ApiController attribute makes model validation errors automatically trigger an HTTP 400 response.”
It is not described, does details of 400 errors logged or not?
If not, is it possible to configure error details to be logged?
Or I have to SuppressModelStateInvalidFilter = true; and do logging by myself in the block
if (!ModelState.IsValid)
{
     Log (ModelState);
    return BadRequest(ModelS

[2019-04-25 06:05] stephenmroe opened #12159 "VS2019 Pre2 loads a blank solution for a Blazor hosted project"
I've followed these steps, and when I open the solution, it's empty.  The Solution Explorer shows: "Solution 'BlazorDemo' (0 of 0 projects)".  When I browse to the file system manually it appears the project template did in fact create all the intended artifacts, including 'BlazorDemo.Client', 'BlazorDemo.Server', and 'BlazorDemo.Shared' folders, along with the 'BlazorDemo.sln' file.

---
#### Doc

[2019-04-25 08:01] xcaptain commented on #8118
I'm new to dotnet core, currently I found 3 ways to do exception handler in asp dotnet core web api.

1. Config `UseExceptionHandler` as the document says
2. Use an exception handler middleware as stackoverflow question says
3. Use controller helper functions like `BadRequest()`

I prefer to use controller helper function but these functions don't throw an exception. Would be help to built in some

[2019-04-25 10:19] dj-curls commented on #11331
I am also struggling with this, I'm not sure why @IanIsFluent thinks it's obviously null, as the code is still being executed within a request so as far as I can see it shouldn't be null.

Not sure where else to find the context. I tried using `HubConnectionContext ` but (the built in) DI says it cannot resolve it.

I just want to access the authenticated user's claims in methods outside the hub c

[2019-04-25 10:24] IanIsFluent commented on #11331
Because I'd already issues with the last version of SignalR where the `HttpContext` was always null when accessed inside Hub code. For _some_ transport methods (websockets) I _think_ it makes sense that `HttpContext` is null - so maybe a decision was made to keep it null consistently, and avoid errors with `HttpContext` being null for _some_ transport methods?

[2019-04-25 11:53] guardrex commented on #12159
I don't repro that here, but I'm not on the preview release. I'm on VS2019 v16.0.2.

<img width="230" alt="Capture" src="https://user-images.githubusercontent.com/1622880/56733404-ab7c1f00-6725-11e9-9c1a-7c2ca3102766.PNG">

You may have run into a point-in-time problem with the preview release of VS. The best way to provide feedback about it is by using the **Help** > **Send Feedback** > **Report

[2019-04-25 12:38] guardrex commented on #12144
Thanks for the report @bdlane ... I think we need to clarify something in the topic for sure (at least for the time being): "development-side configuration" doesn't address running the project on the development machine with IIS Express. It only addresses setting up the project for WinAuth while it's on the development machine so that when it's deployed to an IIS production environment that it has

[2019-04-25 14:59] danroth27 commented on #12159
Closing since this appears to be a product issue, not an issue with the documentation.

[2019-04-25 14:59] #12159 closed

[2019-04-25 15:08] Tratcher opened #12161 "Reload applies to more than file providers"
Under "Conventions" it says "File Configuration Providers have the ability to reload configuration when an underlying settings file is changed after app startup. The File Configuration Provider is described later in this topic."

However, change detection is not exclusive to file providers, any provider could implement this. This support was recently added to the KeyVault provider for example. htt

[2019-04-25 15:14] guardrex commented on #12161
... but not all of them. Seems like we should call out which ones do it ... perhaps in the table in the *Providers* section.

https://docs.microsoft.com/aspnet/core/fundamentals/configuration/?view=aspnetcore-2.2#providers

[2019-04-25 15:41] guardrex opened #12162 "Improve package/namespace visibility in the Configuration topic"
* Call out and link the packages for each provider.
* Specify the required namespaces in each bit of example code with code comments.
* Call out the packages provided by the `App` package ... or at least cross-link to the `App` package so that readers can find out which ones come in. I like cross-linking because it lightens the maintenance load when packages churn in the metapackage, so I'll try t

[2019-04-25 16:09] Tratcher commented on #12144
@shirhatti @jkotalik

[2019-04-25 17:34] scottaddie commented on #12124
@s-trooper I've explicitly listed Node.js and npm as prereqs (with links to their appropriate download locations).

[2019-04-25 18:15] tellybrown opened #12163 "ElasticCache"
I have implemented this interface for ElasticSearch.  It also has the ability to compress larger cached objects.

https://github.com/tellybrown/ElasticCache
https://www.nuget.org/packages/ElasticCache/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d01025d-86b2-bb2d-86c1-ef0695bc98e3
* Version Independent ID: 5b9a6572

[2019-04-25 18:18] guardrex commented on #12163
Hello @tellybrown ... I guess you're asking to have it mentioned+linked in the topic? The product unit will need to look and decide if they'd like to do that. I've marked this issue for their review.

[2019-04-25 18:31] rswetnam opened #12164 "Sample Code"
Near the top of this article, it says View or Download Sample Code which points to https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/tutorials/razor-pages/razor-pages-start/2.2-stage-samples.  None of these projects, as far as I can see contain code that illustrates CORS talked about in this article.  Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. I

[2019-04-25 18:50] tellybrown commented on #12163
Sorry.  I was expecting the comments to behave like they did before the github integration.  I was just commenting on the page.

[2019-04-25 18:50] #12163 closed

[2019-04-25 19:06] Rick-Anderson commented on #12164
@rswetnam  thanks for bringing this to our attention. The link should go to https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/security/cors/sample

[2019-04-25 19:06] Rick-Anderson commented on #12164
Any chance you could PR this? At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

[2019-04-25 19:28] #12087 closed

[2019-04-25 19:28] #12140 closed

[2019-04-25 19:28] #12155 closed

[2019-04-26 00:12] #12164 closed

[2019-04-26 00:32] Rick-Anderson opened #12167 "Add Link TH"
Add Link TH

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1692705d-02cc-f371-bae5-580380d2e877
* Version Independent ID: ec9bb36b-d744-5c66-8d60-b55ee2c7007a
* Content: [ASP.NET Core built-in Tag Helpers](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/?view=aspnetcore-2.2)
* Content Source

[2019-04-26 00:48] Rick-Anderson opened #12168 "Add option TH"
Add option TH

https://www.learnrazorpages.com/razor-pages/tag-helpers/option-tag-helper is a good write up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1692705d-02cc-f371-bae5-580380d2e877
* Version Independent ID: ec9bb36b-d744-5c66-8d60-b55ee2c7007a
* Content: [ASP.NET Core built-in Tag Helpers](https://docs.micr

[2019-04-26 01:14] #11919 closed

[2019-04-26 01:35] Rick-Anderson opened #12170 "Fix attribute headings"
Fix attribute headings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90dc429b-11d9-c0f6-678d-dfb22e23c273
* Version Independent ID: 61eb6984-18c3-2bb1-db35-62735a0b24a4
* Content: [Anchor Tag Helper in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/anchor-tag-helper?view=aspn

[2019-04-26 03:58] sbsw opened #12172 "Needs reference to XML details"
This page needs a reference (presumably in Additional Resources) to something that describes the XML elements and their attributes and valid attribute values used in the examples throughout this document.

For example, what is the difference between `ResovedFilesToPublish` and `DotnetPublishFiles`? Where is documentation on these elements? What are their required (or optional) child elements?

---

[2019-04-26 04:12] sbsw opened #12173 "App_Data folder?"
Ok, so the App_Data folder is apparently special. The `<ExcludeApp_Data>` exists in the pubxml file, although I've yet to figure out (by experimentation or by searching the web) what it really does. The contents of my App_data folder were published the first time I published my project to Azure, but subsequent changes to files in that folder are ignored.

Please explain the special nature of the A

[2019-04-26 04:55] sbsw commented on #12173
For a little more context, please see this SO post: https://stackoverflow.com/a/55860996/1637105

[2019-04-26 05:58] nschonni opened #12175 "Should the sample projects be moved to aspnet/samples?"
Seems like the dotnet/docs moved theirs to dotnet/samples and the build pulls in pieces as needed

[2019-04-26 12:54] guardrex commented on #12175
There was going to be a solution for all repos ... https://github.com/aspnet/AspNetCore.Docs/issues/6991#issuecomment-398104010 ... but "near-term" doesn't look like it worked out. There may have been technical problems.

@scottaddie Are there any updates?

[2019-04-26 14:41] keyvan1361 commented on #8555
you can watch my video on how to solve 502 errors on youtube:
 [https://www.youtube.com/watch?v=clCR3k6kkD8](https://www.youtube.com/watch?v=clCR3k6kkD8 )

[2019-04-26 14:44] Ace07 opened #12176 "Pages 1 through 5 do not show any content"
Tutorial Pages 1 through 5 do not show any content, just the header and Feedback sections. Pages 6 on seem fine. I've tried Edge and Chrome.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a54c97f-ddd4-b041-5e5f-a2df009ace50
* Version Independent ID: fa488196-1f98-08ea-adcc-17d9dac86727
* Content: [Razor Pages with Ent

[2019-04-26 16:15] CarlosTorrecillas opened #12177 "Multiple Authorities don't seem to be working"
Hi there, I'm using .NET Core 2.2 and I have followed the steps mentioned here: https://docs.microsoft.com/en-us/aspnet/core/security/authorization/limitingidentitybyscheme?view=aspnetcore-2.2&tabs=aspnetcore2x#use-multiple-authentication-schemes in order to get multiple instances of Identity Server issuing tokens and being used by a single API.

The error I have when I configure that is:

fail: M

[2019-04-26 16:44] guardrex commented on #12176
Hello @Ace07 ... It's a versioning issue. The topic probably just needs the 2.1+ moniker at the top. If you flip the version up to 2.1 in the sidebar, you'll get the content.

[2019-04-26 17:00] CarlosTorrecillas commented on #12177
For reference, I have opened a StackOverflow question: https://stackoverflow.com/questions/55872063/asp-net-core-multiple-jwtbearer-authentication-fails

[2019-04-26 18:35] guardrex commented on #10214
@Rick-Anderson @wadepickett @scottaddie @tdykstra In addition to problems folks identified :point_up:😅, this will be an overhaul effort.

Because developers implement file uploads by scenario, the content should follow the same pattern with sections for cross-cutting concerns. I propose the following outline (exact section names are TBD) ...

* Introduction paragraph; Download samples link
* Secur

[2019-04-26 20:41] #12117 closed

[2019-04-26 21:44] patrickjlee opened #12179 "Need to add ASP NET Core 3.0 runtime extension to Azure app service to avoid an error"
At present (26 Apr 2019) one gets an error message when deploying to Azure, because preview versions of ASP NET Core are not installed by default. See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/azure-apps/index?view=aspnetcore-3.0#deploy-aspnet-core-preview-release-to-azure-app-service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-04-26 21:51] guardrex commented on #12179
Thanks @patrickjlee I'll cross-link the coverage for that.

https://docs.microsoft.com/aspnet/core/host-and-deploy/azure-apps/?view=aspnetcore-2.2#deploy-aspnet-core-preview-release-to-azure-app-service

[2019-04-26 21:58] #12170 closed

[2019-04-26 22:18] #12179 closed

[2019-04-27 04:10] Rick-Anderson opened #12185 "Add Script TH"
Script TH

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1692705d-02cc-f371-bae5-580380d2e877
* Version Independent ID: ec9bb36b-d744-5c66-8d60-b55ee2c7007a
* Content: [ASP.NET Core built-in Tag Helpers](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/?view=aspnetcore-2.2)
* Content Source:

[2019-04-27 06:16] tewarinivedita opened #12186 "Unable to add regex having . or ' after an ajax call. in validation using unobtrusive js and ValidationAttribute"
# Issue description

{ Unable to add regex having . or ' after an ajax call. The first page load fine but post any ajax call etc. the data-val-regex is empty
this is my regex: @"[a-zA-Z0-9-.]+[.]+[a-zA-Z0-9-.]+"
 tried : @"[a-zA-Z0-9\-\.]+[\.]+[a-zA-Z0-9\-\.]+"
tried Regex.Escape(@"[a-zA-Z0-9-.]+[.]+[a-zA-Z0-9-.]+")

This is using ClientModelValidationContext, ValidationAttribute and adapter metho

[2019-04-27 06:33] tewarinivedita commented on #12186
[RegularExpression(@"[a-zA-Z0-9\-\.]+[\.]+[a-zA-Z0-9\-\.]+")]
        public string DomainId { get; set; }

and the out put is
<input id="cf-domainid" class="cf-input-box valid" type="text" data-val="true" data-val-regex="" data-val-regex-pattern="" name="DomainId" value="" aria-describedby="cf-domainid-error" aria-invalid="false">

[2019-04-27 06:33] tewarinivedita commented on #12186
input id="cf-domainid" class="cf-input-box valid" type="text" data-val="true" data-val-regex="" data-val-regex-pattern="" name="DomainId" value="" aria-describedby="cf-domainid-error" aria-invalid="false"

[2019-04-27 13:27] ardalis commented on #10214
Since often apps that need uploads will also need secure downloads it may be worth a note mentioning this pattern, perhaps when you reference Azure blob storage.
https://docs.microsoft.com/en-us/azure/architecture/patterns/valet-key

[2019-04-27 15:57] amitdixit opened #12187 "docker run : linux on 5000 not working"
After
--&gt; docker run -it --rm -p 5000:80 --name aspnetcore_sample aspnetapp
--&gt;http://localhost:5000 does not work.

To make it work had to perform below steps:
-&gt; Get the container IP using --&gt; docker inspect [container id]
-&gt; In my case http://172.17.0.2/ --&gt;Done

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-04-27 17:04] sturlath commented on #8223
For others.

I store my context in another project (which is probably the reason it did not get populated in the drop down for creating the identity).

So I removed the following line from IdentityHostingStartup.cs

[code]
and updated the Startup.cs file with

[code]
I did´t notice right away that the CreatedContext derived from IdentityDbConext<IdentityUser>
[code]

[2019-04-27 18:23] Rick-Anderson commented on #12186
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-04-27 18:23] #12186 closed

[2019-04-27 18:24] #12138 closed

[2019-04-27 18:24] Rick-Anderson commented on #12128
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-04-27 18:24] #12128 closed

[2019-04-27 18:24] Rick-Anderson commented on #12122
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-04-27 18:24] #12122 closed

[2019-04-27 19:20] serpent5 commented on #12091
I've been giving this a bit of thought and have a few ideas that I'd like to get some feedback on before considering the finer details of the page I suggested. I imagine some of this has already been considered and is very deliberate, so it'd be great to learn a bit more around that too. Here we go:

* Add an overview page that describes authentication along with links to some of the standout sect

[2019-04-27 19:58] serpent5 commented on #12157
There's a section in the [docs](https://docs.microsoft.com/en-us/aspnet/core/web-api/index?view=aspnetcore-2.2#customize-badrequest-response) that explains how to customise the BadRequest response when using the built-in filter. You can set the [`InvalidModelStateResponseFactory`](https://docs.microsoft.com/en-gb/dotnet/api/microsoft.aspnetcore.mvc.apibehavioroptions.invalidmodelstateresponsefacto

[2019-04-28 02:34] Rick-Anderson commented on #12157
@serpent5 an example in this issue would be great.  We can add a link to this issue in the doc and close the issue.

[2019-04-28 03:07] patrickjlee opened #12188 "Enhance _Host.cshtml coverage"
It's not clear to me how one can use plugins like AddMe or Disqus with Blazor pages. Note that with regard to "Inside the &lt;head&gt; element of wwwroot/index.html, provide a function that uses TextDecoder to decode a passed array", with the recent version of Blazor and .net core 3 which I downloaded 3 days ago, there isn't an index.html in wwwroot. Instead, one seems to need to put any javascrip

[2019-04-28 03:26] jwhitener6 opened #12189 "Poor Example"
I appreciate the work that goes into this sample and I've found it helpful in other tutorials. However I think it poorly demonstrates Updating related data. You have only one example of updating one to many related data (CourseAssignments) which works by passing a string array parameter that you have to break down once it is brought into the function and updated separate from the primary model (in

[2019-04-28 05:16] Rick-Anderson commented on #12189
@jwhitener6  thanks for your comment. This tutorial isn't meant to cover more advanced scenarios.

[2019-04-28 05:16] #12189 closed

[2019-04-28 06:57] Tovli commented on #6401
@Rick-Anderson that's a poor solution. I thought there will be better docs by now to explain the steps.
File-New docs are the worst as they doesn't explain the process and make stupid devs

[2019-04-28 11:16] AhmadSawalhah opened #12190 "Please Clarify this paragraph"
Model binding looks for the pattern parameter_name.property_name to bind values to properties. If it doesn't find matching values of this form, it will attempt to bind using just the property name. For those types such as Collection types, model binding looks for matches to parameter_name[index] or just [index]. Model binding treats Dictionary types similarly, asking for parameter_name[key] or jus

[2019-04-28 13:15] ABDULQAYOOM91 commented on #12190
HOW TO DEPLOY ASP PROJECT?
ANY EASY SOLUTION

On Sun, Apr 28, 2019 at 4:17 AM AhmadSawalhah <notifications@github.com>
wrote:

[2019-04-28 15:08] guardrex commented on #12188
WRT placing the JavaScript into *_Host.cshtml*, *Yes!* that's correct for Blazor server-side. The references to *wwwroot/index.html* are for Blazor client-side. I'll update that.

Also, *_Host.cshtml* is weakly covered in the *Hosting models* topic, so I'll add a bit there. There might be a couple of other client-side only references, so I'll also sweep the entire Blazor doc set to see if anything

[2019-04-28 17:45] patrickjlee commented on #12188
Many thanks Luke.  @Request.Path is "/" for me, whereas what I think is needed (to make it unique to the view) is "counter" in this case.

The following works for me in _Host.cshtml instead:

[code]

and in OnAfterRender() in Counter.razor:

[code]

[2019-04-28 17:58] guardrex commented on #12188
Yes, I see what you mean. The way I had it, it only works when the page (Counter) is loaded (or reloaded in the browser). Very good. :+1: I'll update the code in my earlier post to match.

[2019-04-28 23:01] sturlath commented on #9025
This tripped me up also. Why not add
[code]

Should I do a PR?

[2019-04-29 05:01] lertoo commented on #12138
Thanks you. It's great.
Previously I got some errors. With lastest updates (3.0 preview 4 & VS16.0.2) all are working fine now - except Providers are now in separate NuGet packages: Microsoft.AspNetCore.Authentication.xxxx

[2019-04-29 05:06] Rick-Anderson commented on #9025
@sturlath  a PR would be great.

[2019-04-29 07:24] Rutix commented on #10214
@guardrex Could you not add to the top of the current article that it's due for an overhaul and link to this issue? I kinda found out about this after I read the article and got confused and got more questions. Warning the reader beforehand might be wise :)

[2019-04-29 07:50] ChainReactive opened #12194 "SignalR Core's Context.Items maintains state, too"
Maintaining state in SignalR Core is possible using `Context.Items`.  This page would be more comprehensive, and save readers time, if it mentions this tidbit.

My searches on the subject led first to the page for which I'm filing this issue, which _should_ mention `Context.Items`, and then to [another issue](https://github.com/aspnet/SignalR/issues/2139) that _does_ mention it.  Finding and diges

[2019-04-29 08:11] xtianus79 opened #12195 "Very good tutorial with documentation"
Very quality tutorial with references and documentation.  Thank you.  More documentation should be like this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core MVC](h

[2019-04-29 08:12] xtianus79 commented on #10274
What would the scaffolding method and is there documentation regarding scaffolding methodology?

[2019-04-29 08:16] xtianus79 commented on #10481
What are the primary changes going to be for this update?  Is the driver affected in a meaningful way?  The reason I ask is because the mongo university team has since removed the windows m201W course and is from what I understand working on a new one.

[2019-04-29 11:43] guardrex commented on #10214
@Rutix We can't update the docs right now ... not for a week. By that time, the PR for this issue should be done.

[2019-04-29 12:13] Nitro66215 opened #12197 "IIS vs IIS Express deployment / debug"
I've followed this section and done a lot of google searching. However, under Debug - IIS Express with IIS Express as the "Launch" setting, I am able to pass through my Windows Credentials to our SQL server. It authenticates fine. When published to my local IIS OR using IIS as the "Launch" (Assuming that's the same), the authentication passed to SQL is the local computer domain account. I've worke

[2019-04-29 12:30] Nitro66215 commented on #12197
Note: I ran the customer applicationhost.config via iisexpress /config:c:\myconfig\applicationhost.config /site:*MySite* ... and it loaded and used windows authentication fine.

[2019-04-29 12:35] Nitro66215 commented on #12197
I fixed this issue.... but still have the windows authentication problem when under published IIS application.

 <authorization>
                <add accessType="Allow" users="*" />
            </authorization>

[2019-04-29 13:15] Nitro66215 commented on #12197
This issue..... ***
   &lt;authorization&gt;
            &lt;add accessType="Allow" users="*" /&gt;
        &lt;/authorization&gt;

[2019-04-29 15:48] tdykstra commented on #12190
@AhmadSawalhah I agree, that paragraph needs to be rewritten. We have an existing issue (#10502) for revising the whole doc, and I'll make sure that this paragraph is rewritten as part of that work.

[2019-04-29 18:04] Rick-Anderson commented on #12195
tHANKS

[2019-04-29 18:04] #12195 closed

[2019-04-29 19:56] JohnCOsborne opened #12200 "Not available for 2.0"
The requested page is not available for 2.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03fdf4-b19b-17c3-04f4-336ab6d2ee06
* Version Independent ID: 38515dfb-91a5-b395-db9d-084bbaf095c8
* Content: [Handle errors in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetco

[2019-04-29 19:59] scottaddie opened #12201 "[IMPORTANT] Temporary default branch"
:warning: We have a temporary default branch we're targeting this week called **staging**.

We'll go back to the **master** default branch  on 5/6/2019.and existing/new PRs will be merged to the **staging** branch throughout this week.

Publishing is also on hold, and we'll resume publishing on 5/6/2019.

Apologies for any inconvenience this may cause!

/cc @Rick-Anderson @tdykstra @guardrex @wade

[2019-04-29 20:10] Rick-Anderson commented on #12200
Correct

[2019-04-29 20:10] #12200 closed

[2019-04-29 20:27] guardrex commented on #12197
Hello @Nitro66215 ... There's some overlap here between your issue and another one that we'll probably work: https://github.com/aspnet/AspNetCore.Docs/issues/12144. I'm glad that you were able to get that aspect (IIS Express) working.

WRT the IIS problem ... That authorization rule looks correct. If you have WinAuth enabled on that server, I'm not sure what the problem might be. For guidance, we

[2019-04-29 20:27] #12197 closed

[2019-04-29 20:34] Nitro66215 commented on #12197
Ok Thanks. I figure that IIS Express is built into VS and uses the logged in Users identity. That is why it works. Same as if I run the EXE / DLL from Dotnet command line. It's running as me, so it authorizes it. The issue is on the Deployed server. Whatever you find, please let me know. I'll keep digging.

[2019-04-29 21:50] serpent5 commented on #12157
There are a few ways to approach this, but I'll list a couple of ideas to get you started:

1. Perform the logging and return a `BadRequestObjectResult`:

       services.AddMvc()
           .SetCompatibilityVersion(CompatibilityVersion.Version_2_2)
           .ConfigureApiBehaviorOptions(options =>
           {
               options.InvalidModelStateResponseFactory = context =>
               {

[2019-04-29 21:54] pvenky commented on #7398
This tripped me up as well. Perhaps, add comment lines in the sample code for clarity?

[2019-04-29 22:41] #12104 closed

[2019-04-29 23:13] shadinamrouti opened #12204 "Processing a file after uploading"
I suggest to include in the code samples a simple processing step after uploading.
For example, how to copy a file from the temporary path to a required path with a sample filename and the correct extension. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5cfa38-0e6c-4346-dafc-84ea5c513fcf
* Version Indepen

[2019-04-30 00:50] guardrex commented on #12204
Hello @shadinamrouti ... I've added this to the tracking issue. Thanks for commenting.

[2019-04-30 00:50] #12204 closed

[2019-04-30 01:12] davidfowl commented on #7398
We should just change this code to use Channels

[2019-04-30 01:18] MarcioArakaki commented on #12003
When I build my project severeal warnings are present in the terminal, but in my class there are no warnings nor the option to fix the method.

[2019-04-30 01:39] shadinamrouti commented on #12204
Thanks @guardrex and @Rick-Anderson for your quick response as usual.

I will leave here my code which may help someone if _she_/he needs to copy an uploaded file to a location inside www root:

[code]

[2019-04-30 06:07] FelixPatric commented on #7868
I had a similar situation and after getting to this link and changing the version number on my csproj file it worked .Thanks so much, very helpful!

[2019-04-30 06:29] jsowndarrajan opened #12207 "Not able to view counter component in "index.razor""
I followed the getting started tutorial and added the counter component `<Couter />` tag inside the `index.razor` page but I am not able to see the Counter component in the browser.

Do I need to do any changes in the default web app template that is created by Blazor template extension in the VS2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-04-30 06:51] xtianus79 opened #12208 "Is there a way to not have to use the ui intercept for the static files?"
Is there a way to just change the ui directly for ongoing use?  thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14fce65f-1337-58cb-2193-8d8e0e62792d
* Version Independent ID: 59222460-a971-e76e-4fe9-23d4d7d768ee
* Content: [Get started with Swashbuckle and ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/co

[2019-04-30 07:20] andynewcomb opened #12209 "Builder pattern link"
The link to the builder pattern goes to a wiki page that describes the GOF builder pattern... but I believe the builder pattern being used for the CreateDefaultBuilder is a modified version of Joshua Bloch's version of builder pattern from "effective java". Can that be confirmed and clarified? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-04-30 07:36] TjeuKayim commented on #11820
Can dependency injection be used to register a `TypeConverter`, instead of the static `TypeDescriptor.AddAttributes()`?

https://stackoverflow.com/q/43378709

[2019-04-30 10:55] guardrex commented on #12207
Hello @jsowndarrajan ... Check your spelling ... it should be ...

[code]

[2019-04-30 10:55] #12207 closed

[2019-04-30 11:25] guardrex commented on #12209
The topic doesn't use the phrase "GOF builder pattern." The Wikipedia topic doesn't describe the pattern that way either. It just says that the builder pattern is one of the GoF patterns.

A more specific possibility (without linking the book), which is linked in the Wikipedia topic is ...

http://www.drdobbs.com/jvm/creating-and-destroying-java-objects-par/208403883?pgno=2

* Is it clearer? (prob

[2019-04-30 12:09] dj-curls commented on #11331
Fair play with the previous version of SignalR, I don't think it should be null in any case though. In the case of websockets a context is still needed to identify the connection. I agree that the full HttpContext object probably isn't required, but with the absence of anything else, (or even any discussion at this stage,) I believe HttpContext (through IHttpContextAccessor) should never be null w

[2019-04-30 14:29] msstop commented on #8683
well, it didnt fix my issue. Everyday I am questioning my decision to choose ms stack!!!!

[2019-04-30 14:32] msstop commented on #8683
Everything is so branched out. Either you can not follow their guide since it is fixed to a set of versions that is almost impossible to provide or when you follow it, it does not work. Then you are old oh your bla bla version is bla bla!!!!!

[2019-04-30 14:46] guardrex commented on #12188
Nasty side-effect of what we've done thus far: A rerendering of the component via another event (e.g., the **Click me** counter increment button) reloads the Disqus. The following works ...

[code]

[code]

[code]

@patrickjlee How did you resolve it?

[2019-04-30 16:27] buchatsky commented on #10835
I simply used 'merge2' instead of 'merge-stream', it does not produce such error.
Using async task functions has one shortcoming: in case of compound task its subtasks are performed asynchronously despite of gulp.series() so when output from the 1-st subtask serves as an input for the 2-nd one it might not be ready yet.
For ex., to have both minified and non-minified bundle versions I used the fol

[2019-04-30 17:53] andrefilipegsilva opened #12212 "WebApplicationFactory - Shadow Copying"
# Issue description

I'm currently trying to launch a `TestServer` using the `WebApplicationFactory`. I followed the [docs](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.1) but in the end I end up with the error:

I have extended the `WebApplicationFactory` and overridden `ConfigureWebHost ` only to set the Environment name before calling `base` (i.e., `buil

[2019-04-30 18:54] GSUFan513 opened #12213 "What if the array of objects on the backend change?"
For instance if I have an endpoint where I'm patching a list of customers where the subset array of object changes relatively often, how do I know that the patch is on the correct array of objects?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 593f528c-61b9-7021-335d-c1c0ec1814d1
* Version Independent ID: 6a88d237-1a0

[2019-04-30 18:54] JohnCOsborne commented on #12200
My apologies -- Figured it should of been since I can use the exception handler lambda in my 2.0 project.

[2019-04-30 19:13] guardrex commented on #12212
Hello @andrefilipegsilva ... Is the goal just to set the environment that the app is running under when the tests are run? What are you trying to do?

[2019-04-30 20:23] funcubes opened #12214 "Possible correction"
"Blazor implements .NET Standard 2.0. APIs that aren't applicable inside a web browser..."
I am not a native English speaker but don't you think that line is misleading ? shouldn't it be
"Blazor implements .NET Standard 2.0. APIs, except that aren't applicable inside a web browser" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-04-30 20:35] guardrex commented on #12214
Hello @funcubes ... The text is correct. "misleading" ... why do you think so?

[2019-04-30 20:39] tdykstra commented on #12213
@GSUFan513 Thanks for the question. You'll probably get a faster answer on a support forum, such as StackOverflow, or a support chat, such as Slack or Gitter. If you post the question elsewhere, please update this issue with the link.

[2019-04-30 20:52] dodegaard opened #12215 "Link wrong to ASP.NET Core SignalR"
The link in the initial section points to legacy SignalR in the href but the link text says ASP.NET Core SignalR.  Here is the test to note...
For more information, see #ASP.NET Core SignalR#.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfda216b-81ea-485b-9b8e-1f8d747e000a
* Version Independent ID: 81b63785-aab6-b4d

[2019-04-30 21:13] guardrex commented on #12215
Thanks @dodegaard ... I'll get that patched.

[2019-04-30 21:19] davidmi opened #12218 "Nowin is deprecated in favor of Kestrel - remove Nowin"
This page recommends using Nowin, but per Nowin's README it has been largely deprecated in favor of Kestrel. Is it possible or recommended to use Kestrel when self-hosting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34916983-6cf6-590e-0762-df0fe4e4f52c
* Version Independent ID: 1bf5bce0-c571-296e-1e8a-896af7068499

[2019-04-30 21:49] glittle opened #12220 "Doesn't need "ASP.NET Core""
The LibMan is a part of VS 2019 and can be used for the older ASP.NET MVC type sites too. This is not only for "Core" projects.  Please remove reference to "Core" from this page!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e74f29a-f2db-3910-a368-d832c0efd54a
* Version Independent ID: 08df0875-304c-bca1-3b83-6e636f9

[2019-04-30 22:38] patrickjlee commented on #12188
Thanks, that's very neat! I must admit that I stopped looking into Blazer for a while after finding problems in getting bootstrap 4 styling to work with the project, and a few other things (see https://pjlee.net/blog/an-experiment-setting-up-a-blazor-website-with-telerik-ui-components-a-blog-via-buttercms-and-commen#problems).   But I do want to keep an eye on Blazor, because I really like what yo

[2019-04-30 23:22] guardrex commented on #12220
Hello @glittle ... The topic doesn't say that ASP.NET Core is required. This repo is dedicated to ASP.NET Core framework coverage, so it's ok for our docs to make remarks that indicate that the tech works with ASP.NET Core and not cover other frameworks (e.g., .NET Framework). LibMan might get coverage for .NET Framework over in https://github.com/aspnet/AspNetCore ... if that's needed, please do

[2019-04-30 23:22] #12220 closed

[2019-05-01 01:12] priyankagargc27 commented on #7581
Hi Dona, I having the same issue. I put the right serve connection string in my appsetting.json file but still getting the same error. can you please help me out with this.

[2019-05-01 04:43] jlchavez commented on #9096
Or Add a Link to the Specific Page that will allow developers to Configure this Cases

[2019-05-01 06:40] newbienewbie opened #12221 "Unexpected behavior of Url.Action()"
According to the [docs](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-2.2#areas):
[code]
The `GenerateURLInArea()` will return `/Manage` and `GenerateURLOutsideOfArea()` will return `/Manage/Home/Index`.

However, when I follow the example and create a demo with ASP.NET Core 2.2,   the response of following URL:
[code]
is : `/Manage/Home/Index`  intead of `/M

[2019-05-01 07:20] andynewcomb commented on #12209
Yes! The link you mention is more like the "builder pattern" that WebHostBuilder and other builder-like classes in Asp.Net are emulating. The Wikipedia article on the other hand is describing a different pattern (unfortunately it is named the same). The Wikipedia article is definitely referring to a specific builder pattern that was authored by the gang of 4... In the "overview" on Wikipedia it st

[2019-05-01 11:16] guardrex commented on #12214
What I'd like to do here is break the paragraph. It shifts focus when it stops describing the .NET Standard and starts describing APIs that aren't going to work client-side. That will fix this confusing language.

[2019-05-01 11:33] #12212 closed

[2019-05-01 13:21] hannespreishuber opened #12224 "Cross-link the Blazor Get Started topic to the Razor class lib topic"
No templates matched the input template name: blazorlib.

.NET Core SDKs installed:
  2.1.202 [C:\Program Files\dotnet\sdk]
  2.1.500-preview-009404 [C:\Program Files\dotnet\sdk]
  2.1.500 [C:\Program Files\dotnet\sdk]
  2.1.502 [C:\Program Files\dotnet\sdk]
  2.1.503 [C:\Program Files\dotnet\sdk]
  2.1.504 [C:\Program Files\dotnet\sdk]
  2.1.505 [C:\Program Files\dotnet\sdk]
  2.1.600-preview-009

[2019-05-01 13:46] AlanPBourke commented on #10631
VS Code Windows v1.33.1
dotnet core version 2.2.203

   [netcoreapp2.2]:
   Top-level Package                                          Requested   Resolved

Getting this same issue. Have rebuilt, closed VS Code and retried, still getting it.

[2019-05-01 14:13] AlanPBourke commented on #10631
Further information:

If I run the app up using Ctrl-F5 as per the tutorial it fails as detailed above. If I issue `dotnet run` in the Terminal in VS Code, and then manually browse to the URL, it works.

[2019-05-01 14:36] scottaddie opened #12226 "Document default Content glob for Web SDK"
See https://github.com/dotnet/docs/issues/10272#issuecomment-460695070 for more info.

[2019-05-01 14:41] apulliam opened #12227 "Don't bundle tutorial sample code in AspNetCore.Docs repo"
Since there is no way to clone a directory in a repo, I have to download all the docs and then sort through to find sample code.  Please keep code samples (including tutorial code) in separate repos.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47557f89-3a14-1139-0074-38d931b35faf
* Version Independent ID: 1cee43b4-b

[2019-05-01 15:03] guardrex commented on #12224
Hello @hannespreishuber ... Install the Blazor templates with the following command (it's described in the Get Started topic) ...

[code]

[2019-05-01 15:05] guardrex commented on #12224
Hold a sec ...... I thought we had a link to that topic from this one. Doesn't look like it. I'll take care of it. It must have been the *Build your first* experience that was thinking of.

[2019-05-01 15:17] guardrex commented on #12227
Hello @apulliam ... it's a known issue and remarked upon many times. Management is aware of the problem. They were planning something to address it, but there's no word back on implementation yet. For now, devs do need to fork and clone the repo or take the ZIP down.

In the meantime while they work on a permanent solution, we are actively dropping the JS/Bootstrap assets from as many samples as w

[2019-05-01 15:17] #12227 closed

[2019-05-01 16:54] schummbo opened #12229 "Describe the difference between AddCheck and AddTypeActivatedCheck"
I can't seem to determine the difference between these two methods for adding health checks. I also can't seem to find any other documentation on it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0cbb094-29e9-740a-9fd6-db372641d753
* Version Independent ID: 52d8efc9-a336-71d9-6d90-98173cbf6bf4
* Content: [Health chec

[2019-05-01 17:02] guardrex commented on #12229
Hello @schummbo ... Correct, we don't use or document it at the moment (... and I haven't used it personally). I'll mark this issue for the PU to take a look and decide if they would like coverage for it. Until then, there's the API Browser ...

https://docs.microsoft.com/dotnet/api/microsoft.extensions.dependencyinjection.healthchecksbuilderaddcheckextensions.addtypeactivatedcheck

Check out what

[2019-05-01 17:08] guardrex commented on #12229
Looks like the difference is the ability to pass args. Check out that test code ...

* https://github.com/aspnet/Extensions/blob/112c1a8ae1c0a921eae4490abd4ccdfcdb899574/src/HealthChecks/HealthChecks/test/DependencyInjection/HealthChecksBuilderTest.cs#L92
* https://github.com/aspnet/Extensions/blob/112c1a8ae1c0a921eae4490abd4ccdfcdb899574/src/HealthChecks/HealthChecks/test/DependencyInjection/Heal

[2019-05-01 17:12] guardrex commented on #12229
Note to `rynowak` when you look at this: If the purpose is to be able to pass args, I can handle the update here and include this in the sample app. Otherwise if more complicated and you/PU want to take it, then swap me from the assignment.

@schummbo I'll leave this on the backlog until I hear back from them. They'll look at the "PU" issues at some point and let us know how they would like to pro

[2019-05-01 17:26] LouBH opened #12231 "Is the project created in Asp.Net core 2.1 or 2.2?"
I am using 2.1 and cannot get the project to accept UIFramework (does not exist in the current context).  I tried adding the Microsoft.AspNetCore.Identity.UI namespace but that did not help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94bfd895-d2af-390b-0801-428b36a27ff4
* Version Independent ID: 0e0d870e-e49a-e16c-

[2019-05-01 18:27] #12214 closed

[2019-05-01 18:30] Rick-Anderson commented on #12231
`UIFramework` was added in 2.2

[2019-05-01 18:32] #12224 closed

[2019-05-01 18:39] Rick-Anderson commented on #12231
You don't need `UIFramework`  for the sample

[2019-05-01 18:39] #12231 closed

[2019-05-01 19:25] #12213 closed

[2019-05-01 19:25] Rick-Anderson commented on #12208
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-05-01 19:25] #12208 closed

[2019-05-01 19:27] sebastienricher commented on #11935
How does this play with IIS when hosted in process in relation to idle timeout. Does activity by hosted services refresh the idle timeout? I'm seeing IIS go Idle after 20 minutes even though I have a timed process at 15 minutes. Issue in my code?

[2019-05-01 19:29] sebastienricher opened #12232 "IIS Idle Timeout"
I have hosted services running in process on IIS, do these refresh the IIS idle timeout?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3460b0d-9c60-3a06-ac63-18cf990e53c3
* Version Independent ID: b2dece1f-15b8-03af-6d52-7cc070432b4b
* Content: [Background tasks with hosted services in ASP.NET Core](https://docs.micr

[2019-05-01 19:56] guardrex commented on #12232
Yes, @sebastienricher ... for the most recent 👊 *bar brawl* 👊 convo, see https://github.com/aspnet/AspNetCore/issues/3849 ....... it's a *knife* 🔪 *fight* in there :smile:, so be ready. Do feel free to add your own feedback. The engineers do take your feedback into consideration as they design and implement scenarios for the framework.

* Use the Application Initialization Module (but that's just

[2019-05-01 20:01] guardrex commented on #11935
@haakoo Did you ever find out why VS wasn't creating the *launchSettings.json* file? If that's working ok now (perhaps with an updated VS), then we can close this.

[2019-05-02 00:15] wadepickett opened #12235 "Web apps Overview topic"
Per Dan Roth
Given the options for ASP.NET Core 3.0 currently available in Preview 4, it looks like the Web app TOC node could use a new Overview topic that also helps you quickly narrow down what pattern/set of features to consider to meet a common web app goal.

[2019-05-02 05:30] hannespreishuber commented on #12142
same issue here
trying to build a component library

Compiles, but can not be used by reference in Visual Studio Solution with both Projects.

Component builds, the dll is there, but is the .Razor included?

[2019-05-02 07:15] haakoo commented on #11935
No, don't know why. Doesn't look like VS generates this file now either. Trying VS 16.0.2 and the latest 16.1 preview version.

[2019-05-02 07:56] voroninp opened #12236 "What is app's auth scheme?"
&gt; The app's authentication scheme is different from the app's cookie authentication scheme.

I always thought that the whole purpose of configuring authentication is defining various auth options for app. But from the sentence above it follows that there is a standalone term `app's authentication scheme`. What is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-05-02 11:11] guardrex commented on #11935
I see. Sorry to hear that it isn't just working. Most posts around the Net are devs complaining about the file ... they wish they had a way to tell VS to *stop creating it automatically*.

Anyway, it isn't something we can address here in the docs repo. It's a Visual Studio scenario, so they'll need to take a look at why you aren't getting the file. If you submitted a problem report to them using

[2019-05-02 11:11] #11935 closed

[2019-05-02 13:43] sebastienricher commented on #12232
Sounds good, I can chime in with the final selection when I have it. One thing that might be to consider also is the Application Pool's .NET CLR Version, in the current tests I'm running, I have it set to No Managed Code.

[2019-05-02 14:07] guardrex commented on #12232
That's correct ... the CoreCLR is is booted to host the app in the worker process. You should be able to leave that set just like you have it and the methods that I listed *should* work. 🤞🍀 ... don't forget to sacrifice a Microsoft mouse to the 🙏 *server gods* 🙏. :smile: ... it couldn't hurt. :smile:

When I get to this issue, I'll see about clarifying the app pool **.NET CLR version** setting in

[2019-05-02 14:35] sebastienricher commented on #12232
Good news, I tried "Always running + idle timeout set to 0 (zero) + preload enabled.", initial tests are positive! I'll drill it some more but both my site seems to be staying warm and the hosted services keep running every 15 minutes. Thanks for pointing me in the good direction!

[2019-05-02 14:42] guardrex commented on #12232
Cool ... did you test an app pool recycle, too? Also ... and similar to a recycle, did you test a total server restart? Does the app get up and running without intervention? The **Application Initialization Module** might be required to get an app started in some scenarios.

[2019-05-02 14:49] stevenfowler16 opened #12242 "Markup Issus For Dialog.razor"
In the markup for the documentation the section explaining Dialog.razor seems to have an issue with quotation marks around an attribute.
[code]

The onclick attribute for the button seems to render the rest of the html as a string

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc28995-6784-a7d2-5c0b-9811a8d19c1a
* Ver

[2019-05-02 14:50] guardrex commented on #12242
Thanks @stevenfowler16 ... I'll take a look.

[2019-05-02 14:53] stevenfowler16 commented on #12242
Sorry for the terrible markup on the issue @guardrex.

Thanks!

[2019-05-02 14:57] guardrex commented on #12242
No worries ... it always encodes for a paste into the feedback form on the topics.

The code block is correct in the topic, so this is a styles/rendering problem.

@scottaddie ... does this styles/rendering issue go to our build system folks or over to the DocFX folks?

<img width="258" alt="Capture" src="https://user-images.githubusercontent.com/1622880/57084737-74c37d00-6cc0-11e9-8c27-976abf8d4e

[2019-05-02 15:00] ilessy opened #12243 "command for scaffolding"
In the docs you write: --relativeFolderPath	The relative output folder path to create the views.
But I think this is for setting the relative output folder path to create the controller file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d975a83-1550-b284-d0d8-7fe2ea206ff5
* Version Independent ID: 48e81b42-7c2b-afbf

[2019-05-02 15:09] kmcbarne opened #12244 "About page doesn't work with VS 2019"
If you follow this tutorial explicitly, only making the changes that are highlighted in green, the About page above doesn't load, either by clicking the menu button or by entering `https:\\localhost:xxxxx\About` in the URL bar.  In order to make this work, you need to add an additional change to the _Layout.cshtml file:
1. Open _Layout.cshtml.
2. Locate the About nav-link line, &lt;a class="nav-li

[2019-05-02 17:09] Rick-Anderson commented on #12243
`dotnet aspnet-codegenerator controller -h`

[2019-05-02 17:14] #7316 closed

[2019-05-02 17:17] Rick-Anderson commented on #12244
@kmcbarne  you're right. I outlined the steps in  #12245

[2019-05-02 17:36] tdykstra opened #12246 "Include Azure providers in list of built-in providers"
The present structure of the **Built-in logging providers** section makes Azure providers not as discoverable as the others and implies that Azure providers are not built-in providers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-f367-d733-8933-b

[2019-05-02 18:15] #12246 closed

[2019-05-02 18:56] sebastienricher commented on #12232
You're right, that's what I'm seeing now. Once the Application is actually started it does not go to sleep as wanted, but when there is a recycle, it does not come back up on it's own.

I'll look into the initialization module, it seems to be the reliable way to go about this from both your indications and related posts.

[2019-05-02 19:08] guardrex commented on #12232
Check and confirm that the server role feature for **Application Initialization Module** is enabled.

I have a sneaky impression that the "always running" and "preload" are there but the module doesn't have to be installed for those settings to be available.

[2019-05-02 19:13] guardrex commented on #12232
I'm going to take **another look** :eyes: at https://docs.microsoft.com/iis/get-started/whats-new-in-iis-8/iis-80-application-initialization

[2019-05-02 19:31] guardrex commented on #12232
According to IIS's docs, it should ✨ *Just Work*:tm: ✨. I need to dig into the subject a bit more and perform some testing here, too. I'm buried in file upload code at the moment, but I should be free (*free-ish* 🏃😅) within two weeks to take a deeper look.

My impression of the most reliable way to keep an IIS-based ASP.NET Core app started and warm is .... *drum roll plz* .... 🥁🥁🥁🥁🥁 .... **_exter

[2019-05-02 19:35] guardrex commented on #12232
..... well .... I'll add this to that .... the devs who moved their always-running service things to a Windows Service also seem very happy. Consider that option, too. Get your always-must-run-ALWAYS! stuff **_off of IIS_**. That's a good option, too.

[2019-05-02 20:55] Bartolomeus-649 opened #12250 "How to use logging in a console application or a class library"
No info on how to use logging in non web applications, like a pure console application or a class library.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-f367-d733-8933-bccc04da0e16
* Content: [Logging in ASP.NET Core](https://docs.microsoft.com/en

[2019-05-02 21:22] tdykstra commented on #12250
@Bartolomeus-649 Good point, thanks for bringing it up. We're aware of the documentation gap and have a discussion about it going in issue https://github.com/dotnet/docs/issues/4567 in the .NET docs repo.  Since we're tracking it there I'll close this one as a duplicate.  Feel free to add comments in 4567.

[2019-05-02 21:22] #12250 closed

[2019-05-02 21:41] Rick-Anderson commented on #6199
@scottaddie are you able to do this in the next 6 weeks or should we assign to the PU?

[2019-05-02 22:40] #11535 closed

[2019-05-02 22:42] Rick-Anderson commented on #10798
@danroth27  can we retire this doc?

[2019-05-02 22:54] JamesNK opened #12252 "Bad xref: web-api/index link"
The summary at the top of the page contains a bad link. It is displayed as xref: web-api/index

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8321e4f0-1d12-c4cd-76af-a7df9ca2e732
* Version Independent ID: c9e71059-2e31-3de3-eb26-0946cfe0ec3d
* Content: [Comparing gRPC services with HTTP APIs](https://docs.microsoft.com

[2019-05-03 01:15] Andrzej-W opened #12253 "Add info about <input type="date"/> binding"
[EDIT by @guardrex to show new `@bind` syntax]

There is an example how to use `format-value` **[sic; it's `@bind:format` now]** with ordinary (text) `input` element and `DateTime` variable:

[code]
With text input you can use any date format, for example "dd.MM.yyyy". Some people will probably want to bind to `<input type="date"`/>. In that case you **have to use** `format-value` **[sic; `@bind:f

[2019-05-03 04:04] Rick-Anderson commented on #12235
Need outline by the PU

[2019-05-03 04:20] #12252 closed

[2019-05-03 04:41] Rick-Anderson opened #12256 "Add select TH and option TH info and links"
Add select TH and option TH info and links once #12270 is merged

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc54dbf8-e6fe-a212-b2cd-c015a6ba5439
* Version Independent ID: b96b0b44-3e3a-a6c2-6b2b-c7bab4b78f0d
* Content: [Add search to ASP.NET Core Razor Pages](https://docs.microsoft.com/en-us/aspnet/core/tutorials/r

[2019-05-03 08:28] tiesmaster commented on #6066
@seangwright Thanks for the link to the Firefox bug! Thought, I'm not able to get it working (not well enough versed with this). Do you have some more details steps (or perhaps an external blog post that you've followed)?

I'd like to get this working locally, but also put in a PR for [the docs](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-2.2&tabs=visual-stu

[2019-05-03 09:32] JackLovel opened #12259 "The property 'Department.Budget' could not be mapped ?"
## system environment
[code]
## error
When I learn [ASP.NET Core MVC with EF Core - tutorial series](https://docs.microsoft.com/zh-cn/aspnet/core/data/ef-mvc/?view=aspnetcore-2.2),  Then run the following command：

[code]
<img src="https://raw.githubusercontent.com/JackLovel/excuise-/master/office_csharp_code/img/ContosoUniversityError1.png"  />
<img src="https://raw.githubusercontent.com/JackLove

[2019-05-03 11:59] EEaglehouse opened #12262 "Parameter is counter-intuitive"
Why in the world is the parameter `IncrementAmount` declared private but allowed to be set from an external call? Anything that is declared private should not be available outside the component it belongs to. That's bad design.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Versio

[2019-05-03 12:18] guardrex commented on #12262
Hello ... It's not set via an external call. It's a parameter for the Counter component.

I'm going to close here because we only handle doc issues on this repo. You can open an issue for Blazor product feedback on the aspnet/AspNetCore repo. The product engineers and managers receive feedback there for Blazor ...

https://github.com/aspnet/AspNetCore/issues

[2019-05-03 12:18] #12262 closed

[2019-05-03 12:48] scottluskcis commented on #11362
Hi @guardrex has there been any new movement on this topic? I follow the instructions at [Log on as a Service](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/windows-service?view=aspnetcore-2.2#set-permission-log-on-as-a-service) in the doc but cannot actually call `Start Service` until I open up `services.msc`, find the service and set the password again and click OK to add Logon as

[2019-05-03 13:00] guardrex commented on #11362
You're correct on the goal of this issue. I've marked this for the product unit to address ("PU" label). If a script is created, they'll provide it. Not sure on the ETA when they'll look at this. Now that Preview 4 is out, it might not be long before they look at this.

[2019-05-03 13:48] omrumbakitemiz opened #12264 "AddDefaultIdentity configuration"
Seems like services.AddDefaultIdentity() extension method was removed from api. When i try to use AddIdentity() method, it wants me TUser and TRole types. I don't know which method is right to use. There may be some more documentation about the identity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76f39eec-9dd1-6167

[2019-05-03 14:07] scottluskcis commented on #11362
Thanks for the confirmation and response, I'll keep a watch on this and the docs page.

[2019-05-03 14:10] guardrex commented on #11362
You could try this :point_right: https://gallery.technet.microsoft.com/scriptcenter/Grant-Revoke-Query-user-26e259b0 in the meantime, but it's one of those *use at your own risk things*. If it fries your hard drive, kills your cat, and gives your car a flat tire, you know what they'll say. :smile: lol

[2019-05-03 14:58] sebastienricher commented on #12232
Yeah I need IIS for internal certificate and infrastructure reasons, but it is a viable last recourse.

I'm all setup with application initialization, but I'm still not getting warmed up.

Added this to web.config:

      <applicationInitialization doAppInitAfterRestart="true">
        <add initializationPage="/api/bfm/healthcheck/" />
      </applicationInitialization>

[2019-05-03 15:04] guardrex commented on #12232
I'm surprised that the preload setting doesn't do it.

I'll mark this issue with the PU label, but I might get to it before engineering takes a look. In that case, I'll do the best I can (and do my own testing here as you're doing there). If the PR goes in before they look at this issue, then they'll be pinged to review the PR, and that should lead to final answers on guidance. They might get to l

[2019-05-03 15:29] APIWT opened #12267 "Strongly recommend providing a link to documentation for MvcJsonOptions.AllowInputFormatterExceptionMessages"
I think it would be extremely beneficial to provide a link to the following page in this article: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.mvcjsonoptions.allowinputformatterexceptionmessages?view=aspnetcore-2.2

My team and I are currently working on a project that was flagged during a security scan for a potential XSS vulnerability in our Web API. This was due to the e

[2019-05-03 15:56] danroth27 commented on #10798
Yes, I think so.

[2019-05-03 16:11] bradygaster commented on #11331
adding @BrennanConroy and @anurse here for their commentary on this.

[2019-05-03 18:22] Tratcher commented on #11969
Also Startup injection restrictions: https://github.com/aspnet/Announcements/issues/353

[2019-05-03 18:27] axa88 opened #12268 "Invalid instruction"
Item 3.3 seems invalid.
There no longer seems to be a check box to use previews of the .NET Core SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version Independent ID: 8226ed72-69b2-3c93-a931-218bd11cf9c8
* Content: [Get started with Blazor](https://docs.microsoft.com/en-us/a

[2019-05-03 18:43] guardrex commented on #12268
Hello @axa88 ...

<img width="451" alt="Capture" src="https://user-images.githubusercontent.com/1622880/57158501-35249000-6da9-11e9-905c-99aa588bc352.PNG">

Are you using the preview version of VS? If so, that would explain it because the preview version of VS always uses preview SDKs by default.

[2019-05-03 18:49] guardrex commented on #12268
I'm going to make that say that if a non-preview version is in use to enable the setting.

[2019-05-03 20:36] sebastienricher commented on #12232
As a reference, I'm running on HTTPS, so I am looking here for part of the solution also: https://support.microsoft.com/en-ca/help/2843964/application-initialization-module-fails-when-web-site-requires-ssl

[2019-05-03 20:38] sebastienricher commented on #12232
Do we know what URL is used for that? This would be subject to the site's bindings?

[2019-05-03 22:11] seangwright commented on #6066
@tiesmaster I started down the path of configuring this and defining the steps for our devs... but there were too many moving pieces to justify it over just using Chrome.

I don't like this solution but it's the one I'm living with for the time being.

[2019-05-03 22:53] #12268 closed

[2019-05-03 23:01] guardrex commented on #12232
Good question ... we need PU (product unit) support. Now that I've marked this issue, engineering (`shiratti`) will see it and respond. Alternatively, I'll work the issue and get a PR up. He'll review and help at that point. We're a bit limited on pinging him here because he's quite 🏃😅 busy most of the time. I'll get back to this asap. It's a top item for May, so I think I'll get to it next week.

[2019-05-03 23:10] koo9 commented on #7581
deploy to IIS not azure, getting the same error, anything else?

[2019-05-04 00:38] koo9 commented on #7581
had the same issue, turned out to be the this call
//.AddValidationKeyFromFile(Configuration.GetSection("SigninKeyCredentials"), _loggerFactory.CreateLogger<Startup>())

that caused the trouble. use the developersigningcredentials seems to work fine.

[2019-05-04 02:31] scottaddie commented on #12242
@guardrex Send this one over to the DocFX team.

[2019-05-04 08:27] gbulicanu commented on #11725
@chartierpw have you tried to install WebSokets protocol from add remove server features?

[2019-05-04 11:33] OysteinHH opened #12278 "Docker + Windows Auth"
Need more information and examples describing how to use Windows Authentication in Docker.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3653642e-61ef-717b-5436-9bd0a3c4e6f4
* Version Independent ID: 80c1ce51-46fb-0693-525a-7cad37150c7b
* Content: [Docker images for ASP.NET Core](https://docs.microsoft.com/en-us/aspne

[2019-05-04 14:18] chartierpw commented on #11725
Absolutely .... I had to give up and use the non-core version of SignalR.  Just could never get past the negotiate thing and you're the first one to reply here.  Getting someone to look at this (help?) is, apparently, too much.

[2019-05-04 16:38] mcalasa opened #12280 "Missing step under 'Changes to Razor Pages projects Razor files'"
It may be helpful for other people migrating their projects to add this step
'Add In Areas/Identity/Pages/_ViewStart.cshtml change Layout = "/Pages/_Layout.cshtml"; to Layout = "/Pages/Shared/_Layout.cshtml";'  after this line ''Move Pages/_Layout.cshtml to Pages/Shared/_Layout.cshtml'

I ran into an issue in that if you forget to change the layout path in _ViewStart.cshtml you will get a 404 erro

[2019-05-04 17:00] Rick-Anderson commented on #12280
@mcalasa thanks. I'll create the PR and have you review it.

[2019-05-04 17:08] guardrex commented on #12242
Moved to https://github.com/dotnet/docfx/issues/4472. Thanks for reporting @stevenfowler16! 🏎

[2019-05-04 17:08] #12242 closed

[2019-05-04 17:17] mcalasa commented on #12280
@Rick-Anderson Excellent, I'll keep an eye out for it.

[2019-05-04 18:23] bradygaster commented on #11725
@chartierpw apologies - this is more an engineering topic that'd be better with an issue submitted in the [official repo](https://github.com/aspnet/aspnetcore/issues). adding @halter73 here to see if he has any suggestions on this.

[2019-05-04 18:27] Mikelsoft99 opened #12281 "SignalR Samples hubcontext _ missing SignalR JS-Library"
In the samples: SignalR/Hubcontext

In the **Views/Home/Notify.cshtml** there is the **/lib/signalr/signalr.js** included.
But in the sample this file is missing.

Couldn't not create a pull request.

Thanks Mike

[2019-05-04 22:52] guardrex commented on #12130
This is addressed and tracked by the master tracking issue. I'm going to close here and only attach the master tracking issue to the PR.

[2019-05-04 22:52] #12130 closed

[2019-05-04 23:06] guardrex commented on #11822
This has been addressed on the topic+sample overhaul. I've marked this issue on the tracking issue: https://github.com/aspnet/AspNetCore.Docs/issues/10214 ... closing it here.

[2019-05-04 23:06] #11822 closed

[2019-05-04 23:17] guardrex opened #12285 "File Uploads topic enhancements"
It won't be possible to address one of the issues in the updates for https://github.com/aspnet/AspNetCore.Docs/issues/10214.

The following opportunities remain:

* There's no example for handling file Chunking.
* There's no example for Byte Range when downloading.
* Provide help/examples/tips for resuming large file uploads when users were in remote areas with flaky Internet. Ditching streaming l

[2019-05-04 23:19] guardrex commented on #4777
Moved to https://github.com/aspnet/AspNetCore.Docs/issues/12285.

[2019-05-05 00:23] dpedrelli commented on #11850
@guardrex
I am getting the error that you identified, when I deploy to an IIS server, but not when I run inside of Visual Studio.  .NET Core 3.0.0-preview4-27615-11 X64 v4.0.0.0  Is there a resolution to this?

`MissingMethodException: Method not found: 'Microsoft.AspNetCore.Builder.IApplicationBuilder Microsoft.AspNetCore.Builder.EndpointRoutingApplicationBuilderExtensions.UseRouting(Microsoft.As

[2019-05-05 07:06] happyesthete commented on #6199
Easiest workaround, works for me (when creating new project with https and docker support with linux container):
1) From visual studio, while creating new project select checkbox to add **Docker Support**.  Visual studio will cry for **Docker Desktop is not running**. Ignore that.
2) Next, add Orchestration support in your project and a docker compose will be generated automatically.
3) Now run an

[2019-05-05 12:21] guardrex opened #12288 "Update Blazor preview language"
In Blazor docs, refactor to "3.0 Preview" and remove the Preview number.

[2019-05-05 12:45] guardrex commented on #11850
@dpedrelli I don't have additional info on it beyond what engineering says generally: Use 32-bit tooling to produce 32-bits apps. Idk if using the 32-bit VS resolves that, but that is possible. Idk if it's a known problem that the VS team is aware of. It doesn't currently show up in the ASP.NET Core issues (open or closed).

You can open it on the [aspnet/AspNetCore issues](https://github.com/aspn

[2019-05-05 14:10] guardrex opened #12290 "Missing tooling instructions"
There are some missing tooling instructions when VSC/macOS tabs are selected. https://docs.microsoft.com/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-2.2&tabs=visual-studio-code#initial-migration

<img width="370" alt="Capture" src="https://user-images.githubusercontent.com/1622880/57195224-c57fe380-6f15-11e9-9b49-3c1c9898f04b.PNG">

---
#### Document Details

⚠ *Do not edit this sectio

[2019-05-05 18:26] Rick-Anderson commented on #12290
@guardrex  nothing is missing. I could add
"this is blank because this only applies to VS".

[2019-05-05 20:10] tiesmaster commented on #6066
@seangwright Ah, no worries. I already went along with adding an exception for the specific API (localhost + port), until I got this sorted, and I was pleasantly surprised that it worked for the entire hostname (`localhost:*`), as opposed to the authority (`localhost:N`).

So all my APIs I'm working on, work straight away, which is really nice. I still like to get the other approach working, but i

[2019-05-05 23:03] crasshacker commented on #10689
I upgraded to .NET Core 3.0 preview 5 (3.0.100-preview5-011568) today, and now when compiling my ASP.NET Core 3.0 project I get an error indicating that ISignalRServerBuilder does not contain a definition for AddNewtonsoftJsonProtocol.  This worked fine previously.  Has something broken?

[2019-05-05 23:22] BrennanConroy commented on #10689
In preview5 we have removed Newtonsoft.Json as the default HubProtocol and removed the reference to
Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson on the client and server. You can either use the new default (which is System.Text.Json, modifiable via `.AddJsonProtocol()`), or you can add a reference to
Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson and continue on like you were befor

[2019-05-05 23:34] crasshacker commented on #10689
Oops.  I fixed the problem (by adding the
Microsoft.AspNetCore.SignalR.Protocols.Newtonsoft.Json reference) and
then deleted my question from the forum before I saw your reply.  (Fast
work on your part!)  But your reply is nonetheless helpful - I may look
into using the new default System.Text.Json protocol instead.

Thanks,
Scott

BrennanConroy wrote on 5/5/2019 7:22 PM:

Scott

[2019-05-05 23:56] seangwright commented on #6066
@tiesmaster Interesting - I hadn't tried `localhost:*` - I'll check that out.

Thanks!

[2019-05-06 08:08] omerlh opened #12292 "Potential Path traversal issue in the sample"
The docs have the following line of code:
[code]
Which might be vulnerable to path traversal (e.g. when filename is `../../../` or something like that. Please correct me if I'm missing something, I'm not an expert.
As people (including myself) tend to copy-paste code from docs - maybe worth adding a note here? Look like fixing the issue requires some regex (see [this post](https://blog.mindedsecur

[2019-05-06 08:34] elvan11 opened #12293 "Requires database"
It does not say anything about a required database

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1612f19-f267-493a-c230-2ca18e4eb50b
* Version Independent ID: d312db0f-6cf1-87ca-09b0-604a66e18a07
* Content: [Facebook, Google, and external provider authentication in ASP.NET Core](https://docs.microsoft.com/en-us/aspne

[2019-05-06 11:11] losmac commented on #12293
It can be any database... For example: Azure, SQL Server, PostgreSQL, MySQL, Oracle, etc.
For further details, please, see: [Custom storage providers for ASP.NET Core Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-custom-storage-providers?view=aspnetcore-2.2)

[2019-05-06 12:08] serpent5 commented on #12091
@Rick-Anderson

[2019-05-06 12:20] guardrex commented on #12292
Side note ... looks like `WebRootPath` would be better ...

[code]

... but ... **_BUT_** ... that's not something (*wwwroot*) that I think we want to have as an example here. I think we should do like you, @ardalis, have over in file uploads topic:

* Don't save files into the app's directory tree. Put the file at some out-of-the-app path.
* Validate (or cleanse) the file name.

I'm glad you said

[2019-05-06 12:30] APIWT commented on #12293
If I understand correctly, @elvan11 is simply pointing out that it would be good to mention that it requires _some_ database (not a specific database).

[2019-05-06 12:37] guardrex commented on #12293
In addition to the topic that @losmac linked, there's a sample app with https://docs.microsoft.com/aspnet/core/security/authentication/social/additional-claims that uses Google and stores additional claims from Google for users. That sample uses an in-memory database, which can be swapped out for a real one. **NOTE**: We just made major updates to that tho. They're on a PR at https://github.com/as

[2019-05-06 14:47] spottedmahn opened #12294 "Remove RuntimeFrameworkVersion to fix "You must add a reference to assembly netstandard, Version=2.0.0.0""
Hello - I'm trying to upgrade a project from 1.1 to 2.0 and I'm getting:

Through some googling [I found this](https://github.com/dotnet/core/issues/860#issuecomment-323242286):

And that seems to have fixed it for me.  Should this be in this guide?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23c61fe9-3c62-e4fe-6883

[2019-05-06 15:15] scottaddie commented on #12201
We have permission to begin using **master** and publish again.

[2019-05-06 15:15] #12201 closed

[2019-05-06 15:47] BrennanConroy commented on #11331
This looks similar to https://github.com/aspnet/AspNetCore/issues/5279. We currently don't pass a resource to auth handlers which would contain the User and other information.

SignalR is decoupled from the HTTP request so you aren't guaranteed to have an active HttpContext while processing a hub invocation.

@dj-curls Could you share your middleware here?

[2019-05-06 15:55] Honda99 opened #12299 "About Blazor Documentation"
Does the documentation edited for Preview 4.

I have tried the javascript Introp in preview 4 but the procedure cannot work for me.

[2019-05-06 15:58] anurse commented on #11331
This is definitely not the case. `IHttpContextAccessor` can definitely return `null` during a SignalR request. SignalR invocations often run outside of the context of a specific request (in WebSockets, for example, there is one request; in Long Polling there are multiple requests). If you need an HTTP context, you should be using the [`GetHttpContext` extension method on `ConnectionContext`](https

[2019-05-06 16:22] scottaddie commented on #12043
Closed in https://github.com/aspnet/AspNetCore.Docs/pull/12297

[2019-05-06 16:22] #12043 closed

[2019-05-06 16:30] omerlh commented on #12292
`Path.GetInvalidFileNameChars` sounds like an amazing addition to dotnet. I'm really happy you're adding it :) Looking forward to seeing the updated docs!

[2019-05-06 16:42] guardrex commented on #12292
The good news is that (at least on Windows) the invalid chars include forward slashes and backslashes ...

[code]

I'll assume for the time being that what I have is good. When the engineers look :eyes: at the PR, we'll see what they have to say about it.

Example from the upcoming file uploads topic updates ...

[code]

[2019-05-06 16:44] omerlh commented on #12292
Why not having `Path.Sanitize` helper method?

[2019-05-06 16:52] guardrex commented on #12292
Because devs cut-and-paste from sample apps into their own apps and we really don't know if they intend to have more than one file upload in their app. If a file upload is only one spot and these lines only appear once in an app, it's perfectly fine to just have the lines.

[2019-05-06 17:10] #12244 closed

[2019-05-06 17:26] Nitro66215 commented on #12144
If I may add a couple points. Setting up <identity impersonate="true" /> in the web.config file also does not make the current session user ie: WindowsIdentity.GetCurrent().Name equal the Context.User.Identity.Name. The WindowsIdentity.GetCurrent() is equal to the computer / account used to run the website in IIS. The forced way for my SQL queries to run under the Context.User is to do a WindowsId

[2019-05-06 17:33] guardrex commented on #12144
@Nitro66215 Engineering approved what's in the topic. They'll respond here when they see your post. Right now, this is the approved guidance for that ... https://docs.microsoft.com/aspnet/core/security/authentication/windowsauth#impersonation ... i.e., so far, they're saying **_don't do it app-wide_** ...

[2019-05-06 17:36] Tratcher commented on #12144
Running impersonated as the user has many side effects and should be avoided. It's also not practical until .NET Core supports proper async impersonation. https://github.com/dotnet/corefx/issues/24977

[2019-05-06 17:37] Nitro66215 commented on #12144
Understand. This is not application wide. Only on the calls to SQL. However, this is also in a separate class that the calls to SQL are being done. HttpContext is passed in. However, I'm still running into the User.Identity being looked at as the host computer and not the windows user on the published application. Running locally under debug it operates as it should.

[2019-05-06 17:46] Tratcher commented on #12144
HttpContext.User.Identity is the host computer account? That's not something ASP.NET would do. User.Identity is either anonymous or the client identity. Is this a second tier request being made from another server endpoint?

[2019-05-06 17:50] Rick-Anderson commented on #12091
@serpent5  go ahead with the PR.  Should it ever get too far out of date we'll delete the article.

[2019-05-06 17:52] guardrex commented on #12299
Hello @Honda99 ... Yes, they were updated for Preview 4 (and Preview 5 updates have been merged and are live now).

What step (or steps) in the doc isn't working? If it's something quick that I can answer quickly here, I will. Otherwise, I'll recommend a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter. There are only a handful of doc authors here, so we don't have

[2019-05-06 17:55] Nitro66215 commented on #12144
I misspoke. That was something else I must have done before.

Currently the WindowsIdentity.GetCurrent().Name is coming up as NT AUTHORITY\NETWORK SERVICE. When it hits the class module with the referenced httpContext, the RunImpersonated section gets NT AUTHORITY\ANONYMOUS LOGON from httpContext.User.Identity. On the page itself, Context.User.Identity.Name is correctly showing the currently logge

[2019-05-06 18:25] Tratcher commented on #12144
Can you show how you did the impersonation?

It's also possible you don't have permissions to impersonate (though I'd expect that to cause an error). What does ImpersonationLevel say?
https://docs.microsoft.com/en-us/dotnet/api/system.security.principal.windowsidentity.impersonationlevel?view=netframework-4.8

[2019-05-06 18:34] davisnw opened #12303 "Need documentation on how to set environment during integration test"
The documentation only says what the *default* environment is.  It should tell us how to *change* the environment for integration tests.

For example, in a single page app, a common setup is:
[code]

For my integration test, I *don't* want to start npm - it's unnecessary for integration testing my api endpoints, and it causes errors without additional setup, and even if npm start works, it slows t

[2019-05-06 18:38] guardrex commented on #12303
Updates for config by environment were rejected on https://github.com/aspnet/Docs/issues/8917 and https://github.com/aspnet/Docs/pull/9060. You can look at the PR that I was pitching for what I proposed tho.

[2019-05-06 18:44] guardrex commented on #12303
Oh .... :point_up: look at the **1st commit** ... not where we left the discussion. The first commit shows the approaches I was floating.

[2019-05-06 18:49] zefirin opened #12304 "Automatic paramters added in Swagger produced documentation."
Hello,

I followed this Swashbuckle and ASP.NET Core tutorial and my automated doc is working to a charm.
The only issue I found is that for any API controller routes that includes at least two parameters with the attribute [FromRoute], the according swagger entry generated will have all the same unwanted parameters flagged as required:

Timestamp *
integer($int32)
(path)

Machine *
integer($int32

[2019-05-06 18:52] davisnw commented on #12303
Why not just update the documentation for the environment section to mention using WebHostBuilder?  That's what I eventually figured out after looking at: https://github.com/aspnet/Mvc/issues/7976#issuecomment-400656032

[2019-05-06 18:56] Nitro66215 commented on #12144
Without giving too much code... the basics...

class module is a static reference in the HomeController.
HttpContext for the Index page in the HomeController is passed to the class module.
Every following pages constructor passes the HttpContext of that page to the HomeControllers instance of the class module.

when the call is made to hit SQL with the required params...

var user = (WindowsIdenti

[2019-05-06 19:01] guardrex commented on #12303
Yes, env var was one that I listed in those early commits on the PR.

I like this one from that PR ...

  * Supply the environment for tests in code:
    * Using a [CustomWebApplicationFactory](#customize-webapplicationfactory), call `UseEnvironment` on the `IWebHostBuilder`:

[code]
    * When calling [WithWebHostBuilder](#customize-the-client-with-withwebhostbuilder), call `UseSetting` on the `E

[2019-05-06 19:05] Rick-Anderson opened #12306 "Add OData Expand"
Add OData Expand

[2019-05-06 19:12] Rick-Anderson commented on #12259
Per @tdykstra
a note about MySQL in the tutorial at the point the attributes are added, with no change to the sample app would be best.

[2019-05-06 19:27] Tratcher commented on #12144
impersonationlevel was checked on `user` before RunImpersonated?
Is it showing the expected `user.Name` before RunImpersonated?

None doesn't make sense, you should always get at least Identification for an authenticated user.
https://docs.microsoft.com/en-us/dotnet/api/system.security.principal.tokenimpersonationlevel?view=netcore-3.0

[2019-05-06 19:38] Nitro66215 commented on #12144
There has to be something misconfigured somewhere.

Running the website from the computer that hosts the IIS website, the SQL Run impersonated seams to act correctly.
I put on the _Layout page WindowsIdentity.GetCurrent().Name.ToString() - @WindowsIdentity.GetCurrent().ImpersonationLevel.ToString() as well as Context.User.Identity.Name.ToString(). It shows IIS APPPOOL\Website - None and Domain\Use

[2019-05-06 19:41] Tratcher commented on #12144
What is Context.User.Identity's ImpersonationLevel?

[2019-05-06 19:44] tdykstra commented on #12187
@amitdixit I tried it with Ubuntu 18.04 and can't replicate the error.  What distro/version are you using?

[2019-05-06 19:57] Nitro66215 commented on #12144
it shows "None" as well on the _Layout.... @(((WindowsIdentity)Context.User.Identity).ImpersonationLevel.ToString())

[2019-05-06 19:59] Nitro66215 commented on #12144
I tried that with  <identity impersonate="true" /> in web.config as well as it removed from web.config (ASP.NET Imperonation = Disabled in IIS)

[2019-05-06 20:32] scottaddie commented on #6199
@Rick-Anderson Please assign to PU

[2019-05-06 20:57] Tratcher commented on #12144
Ok, something is very wrong with this setup if ImpersonationLevel consistently reports None for Context.User.Identity.

At this point I can only suggest creating a minimal application with nothing but default "Empty" template content and trying to get that working in your server.

[2019-05-06 22:32] #12133 closed

[2019-05-06 23:21] CamSoper opened #12309 "MS Learn module: AuthN & AuthZ"
Plan, write, and publish MS Learn module for authentication and authorization in ASP.NET Core.

- [x] Module planning and scoping
- [x] Create a proof-of-concept
- [x] Create module proposal
- [ ] Gather feedback on module proposal and adjust as necessary
- [x] Create Bash script to provision Azure resources
- [x] Create the starter project
- [x] Request module badge
- [x] Create the code sample r

[2019-05-07 02:56] 1arrywei opened #12310 "Globalization and localization doc not friendly to Visual Studio Code, VS Mac, or linux"
It's not friendly to Visual Studio Code, It seems difficult to use resx file in the VSCode, and I don't know what to do when I want to make a .net core mvc project Globalization and localization in ubuntu use VSCode, a  extension is necessary maybe, is there anyone in the same boat as me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-05-07 03:04] Rick-Anderson commented on #12310
@DamianEdwards  do we have plans to support localization in VS Code and VS Mac?

[2019-05-07 05:45] #12299 closed

[2019-05-07 06:35] uvn85 commented on #6882
// this code work for me - avoid windows authentication

[code]

[2019-05-07 09:31] effyteva opened #12311 "Is reverse proxy actually needed?"
Hi,

We're wondering if reverse proxy is actually required for most use cases and would appreciate additional information.

The Kerstel/Nginx documentation claims:
"Kestrel is great for serving dynamic content from ASP.NET Core. However, the web serving capabilities aren't as feature rich as servers such as IIS, Apache, or Nginx. A reverse proxy server can offload work such as serving static conte

[2019-05-07 09:35] javiercn commented on #6199
There are docs for this here https://github.com/dotnet/dotnet-docker/blob/master/samples/aspnetapp/aspnetcore-docker-https.md

[2019-05-07 11:29] Rutix commented on #10214
@guardrex Is there a place where I can follow the WIP?

[2019-05-07 11:38] Nitro66215 commented on #12144
Basic WebApplication1.... with WindowsAuthentication. I added the same labels to the _Layout file.

<a class="label label-info">@WindowsIdentity.GetCurrent().Name.ToString() - @WindowsIdentity.GetCurrent().ImpersonationLevel.ToString()</a>

<a class="label label-info">@Context.User.Identity.Name.ToString() -  @(((WindowsIdentity)Context.User.Identity).ImpersonationLevel.ToString())</a>

Both displ

[2019-05-07 11:48] Nitro66215 commented on #12144
OK. Basic WebApplication1 with WindowsAuthentication. Added to _Layout...
`<a class="label label-info">@WindowsIdentity.GetCurrent().Name.ToString() - @WindowsIdentity.GetCurrent().ImpersonationLevel.ToString()</a>`

and
`<a class="label label-info">@Context.User.Identity.Name.ToString() -  @(((WindowsIdentity)Context.User.Identity).ImpersonationLevel.ToString())</a>`

Both show None for Impersona

[2019-05-07 11:49] guardrex commented on #10214
*Almost there!* I haven't submitted the PR yet. I hope to have it finished today and plan to send it in tomorrow (Wednesday, 5/8) morning.

[2019-05-07 11:52] Ragowit commented on #8585
Any update on the subject?

[2019-05-07 12:36] guardrex commented on #12311
Hello @effyteva ... I recommend that you open this on a support forum, such as Stack Overflow, or discuss these points with devs on a support chat, such as Slack or Gitter.

I can provide a quick answer a few points:

It's the current guidance from engineering. On the next set of updates to the Linux docs, I'll ask them if they want to update that guidance.

Right, not if the app isn't statically

[2019-05-07 12:36] #12311 closed

[2019-05-07 12:50] Nitro66215 commented on #12144
Outside of "RunImpersonated"... the Impersonation Level is always None.

Within RunImpersonated - The ImpersonationLevel is showing Impersonated.

`
var identity = WindowsIdentity.GetCurrent();

            HttpContext.Session.SetString("CurUser", identity.Name);
            HttpContext.Session.SetString("CurImpLevel", identity.ImpersonationLevel.ToString());

            var user = (WindowsIdenti

[2019-05-07 12:54] hishamco commented on #8585
@eriawan could you please share what you did till now, so anyone can contribute on this in case you are busy

[2019-05-07 12:58] guardrex commented on #12144
@Nitro66215 ... Edit the post that I updated to see how to format your code blocks.

[2019-05-07 13:03] Nitro66215 commented on #12144
Better?

[2019-05-07 13:26] gitSushi opened #12312 "directory was wrong in the launch.json file"
using VSC, at the 'run without the debugger' step, my RazorPagesMovie.dll file was saved in the "program": "${workspaceFolder}/bin/MCD/Debug/netcoreapp2.2/RazorPagesMovie.dll" directory.
But in the launch.json file it was looking for it in the "program": "${workspaceFolder}/bin/Debug/netcoreapp2.2/RazorPagesMovie.dll"
I thought I should share it if others were facing the same problem because the a

[2019-05-07 14:42] Nitro66215 commented on #12144
Now if this isn't messed up.....

I added a helper class to get HttpContext.Current.
[code]
added to Startup.cs
[code]
within my SQL class module.. wrapped around the call to SQL as well as the error trapping....

[code]
in _Layout ...

[code]

The ImpUser is the Domain\User that is logged in. And ImpLevel is showing Impersonation.
However, SQL is returning Login failed for user 'NT AUTHORITY\ANON

[2019-05-07 14:48] mathewgries commented on #10830
It moves to Data now. However, it would be nice when showing a file's contents to also include the file's location. I should not have to search the comments to find out where this file was

[2019-05-07 15:13] tdykstra commented on #12157
@Rick-Anderson Added link to the doc in #12315 per your plan --

[2019-05-07 15:27] CeciAc opened #12316 "MetadataReferenceFeature is obsolete: (https://aka.ms/AA1x4gg)"
Hi team,
I'm moving this from here: https://github.com/aspnet/AspNetCore.Docs.de-de/issues/38
The user is reporting obsolete content in the code box.

@cyberh0me commented:
please could you update the FeaturesController sample accordingly

See https://github.com/aspnet/Announcements/issues/312

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-05-07 15:31] scottaddie commented on #12281
@Mikelsoft99 The sample currently relies on the npm registry for retrieval of *signalr.js*. You'd have to run `npm i` in the project root to get the file. This, of course, assumes you have both Node.js and npm installed.

@bradygaster Do we want to adopt LibMan and/or cdnjs to remove the Node & npm requirement in SignalR sample apps?

[2019-05-07 15:42] Mikelsoft99 commented on #12281
Hey @scottaddie , thanks for your answer. But this doesn't work either I think. In the View file you are referencing the wwwroot-Folder. If I run the npm i everything goes to the node_modules folder - so the script referencing in the view-file is still missing.

I think this example won't work written like this.

Thanks Mike

[2019-05-07 15:48] scottaddie commented on #12281
@Mikelsoft99 There's a custom MSBuild target in the *.csproj file that copies from *node_modules* to *wwwroot*. You have to build the project to trigger that task.

[code]

[2019-05-07 15:49] #12157 closed

[2019-05-07 15:54] dpedrelli commented on #11850
@guardrex
[](https://github.com/aspnet/AspNetCore/issues/10000)

[2019-05-07 16:22] ntruongvu opened #12317 "Not sent email"
I run app, but it not sent to a gmail for me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1bea60-d173-f6d2-3559-b147699e295a
* Version Independent ID: 98e7aacb-2a01-d581-9b03-bfef2893163e
* Content: [Account confirmation and password recovery in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/au

[2019-05-07 16:49] #12281 closed

[2019-05-07 16:58] APIWT commented on #12267
@Rick-Anderson Have you had a chance to look at this? Thanks!

[2019-05-07 16:59] effyteva commented on #12311
Thank you, moving here:
https://stackoverflow.com/questions/56027292/is-reverse-proxy-actually-needed-on-asp-net-core

[2019-05-07 17:39] eliassal opened #12319 "how routing is executed when we add movies to url"
OK, when you run the RazorPagesMovie for the 1st time as indicated in "Getting Started", to add movies to the url
http://myhost:5001/movies
which worked fine but
how routing is executed? There is no movies controller how this works

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Ve

[2019-05-07 17:39] Rick-Anderson commented on #12317
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-05-07 17:39] #12317 closed

[2019-05-07 17:41] Rick-Anderson commented on #12319
Keep working through the tutorial.

[2019-05-07 17:41] #12319 closed

[2019-05-07 18:09] Rick-Anderson commented on #12316
See https://github.com/aspnet/Announcements/issues/312

[2019-05-07 18:18] Rick-Anderson commented on #12294
You're saying
[code]

doesn't work?

[2019-05-07 18:19] Rick-Anderson commented on #12293
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-05-07 18:19] #12293 closed

[2019-05-07 18:39] spottedmahn commented on #12294
Hi Rick - no, I'm saying the 'red box' has to be removed:

![image](https://user-images.githubusercontent.com/14079228/57324387-b5166700-70d5-11e9-9e7f-37d31aecc1d0.png)

Changing the 'purple box' as described in the guide works just fine.

[2019-05-07 18:46] Mike-EEE commented on #11733
Totally my first thought when reading this.  How does this (gRPC) differ/compare to SignalR?

[2019-05-07 18:51] halter73 commented on #11725
@chartierpw If you still have it, could you copy your startup class into a comment?

[2019-05-07 19:39] Rick-Anderson commented on #12294
@spottedmahn  see #12320

[2019-05-07 19:45] #12294 closed

[2019-05-07 20:54] tdykstra opened #12321 "Move Model binding and validation to Advanced in TOC"
* Model binding and Model validation are under Web apps but also pertain to Web APIs.  Move them to Advanced, which covers all app types.
* Same goes for CompatibilityVersion TOC node.
* Fix one parent node that had a link on it.

[2019-05-07 21:02] Rick-Anderson opened #12323 "VSC & VS Mac missing -au Individual"
-au Individual

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1612f19-f267-493a-c230-2ca18e4eb50b
* Version Independent ID: d312db0f-6cf1-87ca-09b0-604a66e18a07
* Content: [Facebook, Google, and external provider authentication in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/socia

[2019-05-07 21:19] guardrex commented on #10214
@ardalis Do u want to take a look at **_me Rex hacks_**? 🙈

I put the sample up at ...

https://github.com/guardrex/FileUploadsSampleApp

If ur busy and just want to see the key bit, take a look at the validation bits. I put a method in for each of buffered `IFormFile` and streamed files at ...

https://github.com/guardrex/FileUploadsSampleApp/blob/master/Utilities/FileHelpers.cs

The `StreamingCo

[2019-05-07 21:52] #12321 closed

[2019-05-07 22:43] BackDoorManUC commented on #8118
I generally prefer to use `IExceptionFilter` than `UseExceptionHandler` when using MVC. If you use content negotiation(MVC feature) then exception filters are better because they respect it. With `UseExceptionHandler` you set your Content-Type explicitly which completely ignores content negotiation. The docs don't mention that.

[2019-05-08 05:18] #12323 closed

[2019-05-08 06:35] Rutix commented on #10214
@guardrex I am reviewing the sample. I found some little stuff which are wrong. Do you want me to give the feedback here or send in a PR on your SampleApp? I am not fully done reviewing yet so if you want them here I will gather them and give them all when done :).

[2019-05-08 06:58] DanielKaramazov commented on #4076
Yes. At least I've got this working in VS 2019. Just use jsdelivr or unpkg as defaultProvider. Add/Client side library.../Choose one of these providers.

[2019-05-08 08:15] eJamesLee opened #12328 "Usage of lambda symbol in the "RequestSetOptionsStartupFilter" class"
This appears to be an expression bodied method given the usage of the lambda symbol, where an expression would return the method's expected return type, which in this case would be a IApplicationBuilder.  Assuming this is the correct intention, the potential issue is that expression bodied methods are limited to one expression, with no 'return' statement.  Can you please clarify?  Thank you.

---

[2019-05-08 09:19] Squad7 commented on #8530
@javhalidskipton can you link your code in more detail? It's a little confusing to follow

[2019-05-08 09:59] JackLovel commented on #12259
thank reply me

[2019-05-08 10:02] effyteva commented on #5449
As "ANCM: RequestTimeout doesn't apply to inProcess aspnet/IISIntegration#555",
What's the recommended alternative for request timeouts when using in process?

[2019-05-08 10:10] domugtong opened #12329 "Uncaught TypeError: Cannot read property 'checked' of null"
Hello Everyone,

I have an issue regarding an aspx file. this code is suppose to enable a textbox when a checkbox is checked.
[code]

But im having this error when checking the box

I would appreciate your help guys

[2019-05-08 10:38] guardrex commented on #10214
@Rutix Cool ... send a PR to that repo. I'll roll them into my local sample.

[2019-05-08 10:51] guardrex opened #12330 "Alternative for setting request timeouts for in-process hosting"
From @effyteva on #5449 ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe69b3a9-896f-e189-0c2c-f87ff735df9c
* Version Independent ID: 97c8549b-66ad-0a23-1971-784fb923042a
* Content: [ASP.NET Core Module](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-2.2#attributes-o

[2019-05-08 10:53] guardrex commented on #5449
@effyteva It's harder for us to track work on closed issues, so I moved it over to a new issue :point_up:.

You can use the **This Page** feedback button at the bottom of any topic to open a new issue.

[2019-05-08 10:59] effyteva commented on #12330
Thank you @guardrex guardrex
I've actually kept digging, and figured out it's even a bit worse than I expected.
I tried switching to OutOfProcess, in which this parameter partially works - the request is aborted and the client gets a error page ("The specified CGI application encountered an error and the server terminated the process.")
However, the server keeps processing infinitely.

Re-producin

[2019-05-08 11:07] guardrex commented on #12330
Yes, and your experience matches what engineering said on that issue ...

Since any app can *just swallow the request* and we don't address that scenario anywhere in the docs as far as I know, you ask a great question. What we need to do on this issue is mark it for the Product Unit ("PU" label) so that they can tell us what they think about an alternative.

Now that Preview4 is out, I think (*hop

[2019-05-08 11:15] effyteva commented on #12330
Thanks, I highly appreciate your quick and detailed responses.
Let's see what the Product Units team comes up with, hopefully there's a simple and effective way to abort these abandons requests.

[2019-05-08 11:18] guardrex commented on #12330
This is *old* but interesting ... might lead to some newer info or an approach.

https://github.com/aspnet/KestrelHttpServer/issues/611

[2019-05-08 11:21] effyteva commented on #12330
Sadly it's related to ASP.NET and not ASP.NET Core.
The Server property doesn't exist anymore.

[2019-05-08 11:22] guardrex commented on #12330
Kestrel is the server in that scenario, so they're discussing how it would work with Core.

[2019-05-08 11:23] guardrex commented on #12330
Ben has an "execution timeout" ... I'll track that down and see if it went in.

[2019-05-08 11:24] guardrex commented on #12330
Doesn't look like it ... https://docs.microsoft.com/dotnet/api/microsoft.aspnetcore.server.kestrel.core.kestrelserverlimits

[2019-05-08 11:27] guardrex commented on #12330
... and here's why ... https://github.com/aspnet/KestrelHttpServer/pull/485#discussion_r55264843

[2019-05-08 14:41] tdykstra commented on #12328
@eJamesLee Why is that an issue?

[2019-05-08 14:44] serpent5 commented on #12331
Let me know if you want me to PR this one.

[2019-05-08 15:08] scottluskcis opened #12332 "Unable to install Prerequisites mentioned in the NOTE OS before Win10"
# Issue description

Unable to install Prerequisites mentioned in the NOTE in the [Host ASP.NET Core in a Windows Service - Prerequisites](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/windows-service?view=aspnetcore-2.2#prerequisites)

In the NOTE it says anything before Windows 10 that the [Microsoft.PowerShell.LocalAccounts](https://docs.microsoft.com/en-us/powershell/module/micr

[2019-05-08 15:19] guardrex commented on #12329
Hello @domugtong ... Ask on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter. We only handle ASP.NET Core documentation issues here and don't have the staffing to provide product support. There's only a handful of doc authors here. 🏃🏃🏃🏃😅

[2019-05-08 15:19] #12329 closed

[2019-05-08 15:21] guardrex commented on #12331
Yes, please do @serpent5 ... we're always 🏃🏃🏃🏃😅 and *greatly appreciate your help!* :rocket:

... and you can put a colon (`:`) at the end of the sentence that leads into that code example.

[2019-05-08 15:37] guardrex commented on #12332
@scottluskcis Sorry you hit that.

@rjmholt You helped me with that on ...

https://github.com/aspnet/AspNetCore.Docs/pull/11839#discussion_r272353519

As I reread your remarks, I think you're saying that I shouldn't have ...

[code]

... in the note. You remarked ...

The note is at ...

https://docs.microsoft.com/aspnet/core/host-and-deploy/windows-service#prerequisites

[2019-05-08 15:45] guardrex commented on #12332
@scottluskcis Is the `New-LocalUser` command available on that Win8 machine now? If so, it implies that I'll just need to remove that 2nd line from the NOTE.

[2019-05-08 16:12] scottluskcis commented on #12332
@guardrex it seems it is NOT available. Calling `New-LocalUser -Name Foo` for example just gives the message `New-LocalUser : The term 'New-LocalUser' is not recognized as the name of a cmdlet, function, script file, or operable program.` message

[2019-05-08 16:15] guardrex commented on #12332
Ok ... thx. Robert will explain what I missed when he comes on. The update was a little bit 😵 on that point with the PS and Windows version combinations. Although ... I looked a little further down that PR, and he did see the NOTE and suggest a change ...

https://github.com/aspnet/AspNetCore.Docs/pull/11839#discussion_r272356227

Anywho ... *Stand-By* ... we'll get it sorted out asap for you.

[2019-05-08 16:16] scottluskcis commented on #12332
Thanks for the support @guardrex, much appreciated!

[2019-05-08 17:06] #12062 closed

[2019-05-08 17:08] rjmholt commented on #12332
I think it's better just to do this:

[code]

---

### Warning: Unnecessary details follow

The reason is that the `Microsoft.PowerShell.LocalAccounts` comes with **Windows** and isn't part of PowerShell 6.2. On versions of Windows before the 2018 October Update, that module isn't compatible with PowerShell 6.2. So PowerShell 6.2 won't be able to load it directly.

Instead the approach in the docs

[2019-05-08 17:19] guardrex commented on #12332
Thanks @rjmholt .... so go with .....

* Drop the NOTE completely.

* Go with something like ...

Create a user account for the service using the \[New-LocalUser](/powershell/module/microsoft.powershell.localaccounts/new-localuser) cmdlet from an administrative PowerShell 6 command shell.

On Windows OS earlier than the Windows 10 October 2018 Update (version 1809/build 10.0.17763):

\`\`\`console

[2019-05-08 17:29] scottluskcis commented on #12332
@rjmholt @guardrex just tried this on the Windows 8.1 machine still with no luck. I opened just a command prompt and tried

[code]

I still get an error about New-LocalUser is missing though. Perhaps I'm still missing something? This is on a VM, I've tried it on a few different machines other than just mine with the same results for Windows 8.1.

On a separate note, I have a single PowerShell (ps1

[2019-05-08 17:35] rjmholt commented on #12332
Yeah I think that's the best way

[2019-05-08 17:36] rjmholt commented on #12332
@scottluskcis In Windows PowerShell can you please report the output of the following:

[code]

[2019-05-08 17:40] rjmholt commented on #12332
What do you mean by `command` here?

[2019-05-08 17:42] LouBH commented on #9975
I created the project in Core 2.1 and had the same problem--Register, LogIn and LogOut files were not created.

[2019-05-08 17:52] Rick-Anderson commented on #9975
@LouBH  that's how it works. Read my responses to generate them.

[2019-05-08 18:32] Rick-Anderson opened #12334 "VS 17 doesn't support .NET Core SDK 2.2"
VS 17 doesn't support .NET Core SDK 2.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a25bf940-8977-fec4-461b-542a9f550fc8
* Version Independent ID: 5492c641-af15-64b8-beaa-ddf511be73e6
* Content: [Tutorial: Get started with Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-page

[2019-05-08 19:33] eJamesLee commented on #12328
Hi @tdykstra.  So according to https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/statements-expressions-operators/expression-bodied-members#methods, the supported usage would be more like:  public Action<IApplicationBuilder> Configure(Action<IApplicationBuilder> next) => builder.UseMiddleware<RequestSetOptionsMiddleware>();  But instead, there is a also a return statement, along wit

[2019-05-08 20:19] #12334 closed

[2019-05-08 20:40] scottluskcis commented on #12332
@rjmholt here is the output from the above

[code]

[2019-05-08 20:42] rjmholt commented on #12332
@scottluskcis can you get that output in Windows PowerShell, the `powershell.exe` on your machine (not sure if it's 5.1, 4 or 3)

[2019-05-08 20:44] #12331 closed

[2019-05-08 20:45] rjmholt commented on #12332
Looking at [the documentation](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.localaccounts/?view=powershell-5.1&viewFallbackFrom=powershell-4.0)

The Microsoft.PowerShell.LocalAccounts module may not exist before Windows 10.

In that case, I think the `net user` command is best

[2019-05-08 20:48] guardrex commented on #12332
Looks like I should put the `net user` command there for versions prior to Win10 that you called out and delete the NOTE.

[2019-05-08 20:49] serpent5 opened #12331 "Incorrect line highlight for PreserveCompilationReferences"
`PreserveCompilationReferences` should be highlighted, rather than `TargetFramework`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a83deb2-e035-bb66-be4f-68709bcad341
* Version Independent ID: 16438f35-f35d-c097-0903-ec17e83e051e
* Content: [Razor file compilation in ASP.NET Core](https://docs.microsoft.com/en-us/as

[2019-05-08 20:49] scottluskcis commented on #12332
@rjmholt , regards to this

The [Host ASP.NET Core in a Windows Service](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/windows-service?view=aspnetcore-2.2) doc walks through running the commands individually (Create a user account, Set permission, Create the service, etc). I created a script and when deploying have instructions to just run the script. My comment was I'm trying to ru

[2019-05-08 20:51] scottluskcis commented on #12332
@rjmholt @guardrex, so since I have the need to run this on older OS than Win10 the recommendation is I should switch back to using `net user` for the user creation part instead of `New-LocalUser`? Appreciate all of the feedback here

[2019-05-08 20:53] rjmholt commented on #12332
@guardrex

Yeah I think that's the way to go. The current docs depend on Windows PowerShell 5.1 being installed alongside PowerShell 6.2. We can ignore the Windows version entirely with `net user`. Otherwise it gets complicated due to Windows PowerShell compatibility. Is there a compelling reason to want to use `New-LocalUser`?

[2019-05-08 20:55] guardrex commented on #12332
Only that readers have asked multiple times (for whatever reason) to make the entire process as PowerShell-y as possible. Since I'll only be saying to use `net user` prior to Windows 10 October 2018 Update (version 1809/build 10.0.17763), we should be ok.

I'll ping both of you on the PR .... probably get to it tommorrow (Thursday) ..... *maybe* 🤞🍀

[2019-05-08 21:00] scottluskcis commented on #12332
@rjmholt That's the same reason I've seen from those I've spoken to as well, the request to be more "PowerShell-y" as possible :). I'm good with going with `net user` I had that approach prior and noticed the updates to the doc and thought someone had a compelling reason for it and I liked being able to use the module. If I only had to support Win10 I would stick with it but I have the need for Wi

[2019-05-08 21:05] rjmholt commented on #12332
Speaking to @SteveL-MSFT, `net user` is going to work in all cases -- I think trying to use `New-LocalUser` complicates things a lot while Win 7 and Win 8.1 need to be considered. PowerShell is a shell after all; `net user ...` is still PowerShell-y.

[2019-05-08 21:07] guardrex commented on #12332
Sounds good.

FYI, too ...... an issue coming up *very soon* for me is to refactor the topic + sample to use the [Generic Host](https://docs.microsoft.com/aspnet/core/fundamentals/host/generic-host), which will be recommended for 3.0+. Keep an :eye: on the live topic .... say .... er .... a month or two down the road. The docs version drop down will still default to 2.2 until 3.0 reaches RTM (late

[2019-05-08 21:31] ChainReactive opened #12340 "Configuring SignalR Core hub's bearer token auth"
The [Bearer token authentication](https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-2.2#bearer-token-authentication) section says:

The doc then continues with an entire `ConfigureServices` method implementation from a sample app.

I configured my .NET client app to provide a token, and it's correctly doing so, but I see it's arriving at the hub in the authentica

[2019-05-08 21:36] rjmholt commented on #12332
Also @scottluskcis creating a script for this makes perfect sense to me. Maybe something like this:

[code]

(Haven't tried it)

[2019-05-08 21:38] BrennanConroy commented on #12340
The doc was specifically talking about browsers. It does not apply to the .NET Client as that does not run in a browser.

We can probably make that more clear.

[2019-05-08 21:42] #12290 closed

[2019-05-08 21:44] ChainReactive commented on #12340
Upon rereading my question right after posting it, the word **_browser_** in the quote jumped out at me.  I see it now, thanks.  But yes, please make it clearer.

[2019-05-08 21:45] Rick-Anderson commented on #12267
@JamesNK is this an urgent security issue or can it wait for your teams next docathon?

[2019-05-08 21:50] JamesNK commented on #12267
I don't know. Returning a script tag in JSON doesn't seem insecure to me, since it should be encoded before it is set to any HTML. Check with @blowdart

[2019-05-08 22:13] AnthonyMastrean opened #12342 "The scoped service example is not really async enough to help anyone"
The "do work" method is actually synchronous and your async methods return completed tasks. You should show an actual example of running a method that properly returns an incomplete Task (because then you need to get async/await right or you won't dispose of your scoped services in the proper time).

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-2.1

[2019-05-08 22:14] guardrex commented on #12342
Hello @AnthonyMastrean ... this was approved by engineering. I'll mark it with the "PU" label so that they'll be flagged to take a look. Thanks for commenting on it.

[2019-05-08 22:22] APIWT commented on #12267
It is insecure as a default behavior in my opinion. I realize that the client should encode it before rendering but this seems like it could be opt-out rather than opt-in to make it more secure for the majority of use cases.

[2019-05-08 23:08] tdykstra commented on #12187
Closing the issue for now. Will reopen when information is available that makes it possible to repro the error.

[2019-05-08 23:08] #12187 closed

[2019-05-08 23:11] Rick-Anderson commented on #12264
`dotnet --list-sdks`
`3.0.100-preview5-011568`

Create a web app with Individual user accounts and it works and uses `AddDefaultIdentity`

[2019-05-08 23:16] Rick-Anderson commented on #12264
[code]

[2019-05-09 01:55] Rick-Anderson opened #12346 "Azure Key Vault Configuration 3.0 updates"
* Mention change detection
* Update `At the time of writing, the latest stable release of `
related to #12161
* see https://github.com/aspnet/Extensions/pull/1054
* the `reloadOnChange` functionality slated for the .NET Core 3.0 release

![image](https://user-images.githubusercontent.com/3605364/57474014-de95d680-722c-11e9-9253-032c2a3404d3.png)

---
#### Document Details

⚠ *Do not edit this sect

[2019-05-09 02:29] blowdart commented on #12267
I agree with both of you, the returning view/service should be encoding, but developers may not think to encode by default. If the mime type is correct though, i.e. the json mime type then there's nothing for us to do here, as the mime type would prevent XSS.

[2019-05-09 02:43] weitzhandler opened #12347 "routes specified as name-value query strings instead of slash-separated routes"
Hi,
How can I have the routes specified as name-value query strings instead of slash-separated routes?
For instance `/Page?sortBy=Column&desc=true`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32374077-e02e-d6a6-1cea-05e58447b7cd
* Version Independent ID: 86aeab13-1c25-9fc1-4e56-0390cb40c242
* Content: [Routing in A

[2019-05-09 03:20] Rick-Anderson commented on #12347
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-05-09 03:35] weitzhandler commented on #12347
I think that piece of information belongs in the page I've opened this request on. But thanks for your reply.

[2019-05-09 03:44] weitzhandler opened #12348 "Author asp-route-mycustomvalue="true" like helpers?"
Hi,

I came looking on how to author a `TagHelper` that applies on the helper name itself.
For example `asp-attribute-if-class="@condition"`.

Can you please include information about this in the documentation or link it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19ecfbee-8b84-9ef2-65b6-8c2542f6370f
* Version Inde

[2019-05-09 11:20] guardrex opened #12349 "Nginx Ingress for Kubernetes"
From @alexsandro-xpt on https://github.com/aspnet/AspNetCore.Docs.pt-br/issues/111 ...

Seria muito válido enfatizar neste documento se sim ou não se o Nginx Ingress do Kubernentes envia por padrão os cabelhaços X-Forwarded-For, X-Forwarded-Proto e X-Forwarded-Host mesmo dizendo acima que: Por convenção, os proxies encaminham informações em cabeçalhos HTTP.

Notes:

* X-Forwarded-For seems to be m

[2019-05-09 13:06] #12259 closed

[2019-05-09 13:08] APIWT commented on #12267
I'm torn @blowdart and @JamesNK
I understand both your perspectives since JSON is simply designed to serialize data. There is no responsibility for the server to automatically encode anything inside the JSON so I think we 100% agree on this point.
What I don't like is the fact that the default for `AllowInputFormatterExceptionMessages` is true in the current version (and presumably future versions

[2019-05-09 13:20] suchoss opened #12350 "Add unit tests to practical example"
Hello, I found your tutorial the best so far from what I've seen, but I am wondering, how should I add unit tests for BookService?

If I understand it correctly then BookService should contain business logic and it should be testable, but since it is dependent on IConfiguration it is hard to test.

[code]

Wouldn't following constructor be better for testing?
[code]

Btw. I saw somewhere that Db s

[2019-05-09 13:28] andrewleith opened #12351 "Fresh install won't start"
I created a brand new project and it won't start.  My VS details:

Microsoft Visual Studio Enterprise 2017
Version 15.9.11
VisualStudio.15.Release/15.9.11+28307.586
Microsoft .NET Framework
Version 4.7.03056

When the page loads (IIS express seems to die and the IDE doesn't stay in debug mode) it displays:
HTTP Error 502.5 - Process Failure

Any help would be appreciated.

Thanks,
Andrew

---
####

[2019-05-09 13:39] scottluskcis commented on #12332
@rjmholt , thanks for sharing, yes that is very similar to the script I put together. I like your approach, I'll have to revisit mine to see if I need to tweak anything a bit. Thanks again for sharing this

[2019-05-09 13:41] El-Servas commented on #9991
I was able to continue by deleting the Database file, the _Migrations_ folder, and _then_ recreating the initial migration:
[code]
...which accomplished the same thing.

[2019-05-09 15:10] tdykstra commented on #12328
The method as it stands is not an expression-bodied method; it returns a lambda, an `Action<IApplicationBuilder>`, that contains two statements:

[code]

It could be written as an expression bodied member that returns the lambda:

[code]
That would work, but to me the original looks better / is easier to understand.

[2019-05-09 16:16] prkhandelwal commented on #12350
Hi @suchoss

Thanks for your really insightful questions. Deciding whether your DB Service should be transient or scoped really depends on the nature of your application. For example, if each of your api call is a `Unit of Work`, then it is better to go with Scoped service. It is good since you can maintain context during the request, while you are keeping it isolated from other requests (While al

[2019-05-09 16:56] scottaddie opened #12354 "Document the IdentityServer client parameters Tag Helper"
See the code at https://github.com/aspnet/AspNetCore/blob/release/3.0-preview5/src/Identity/ApiAuthorization.IdentityServer/src/TagHelpers/ClientParametersTagHelper.cs.

[2019-05-09 17:21] Rick-Anderson commented on #12267
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-05-09 17:21] #12267 closed

[2019-05-09 17:49] scottaddie commented on #12354
Per Javier, this Tag Helper is going away.

[2019-05-09 17:49] #12354 closed

[2019-05-09 18:11] scottaddie opened #12355 "Raise awareness of SignalR JS client on cdnjs"
Use with LibMan in SignalR docs.

[2019-05-09 18:33] CeciAc opened #12356 "Nginx Ingress to Kubernetes"
@alexsandro-xpt commented on [Thu May 09 2019](https://github.com/aspnet/AspNetCore.Docs.pt-br/issues/111)

Seria muito válido enfatizar neste documento se sim ou não se o Nginx Ingress do Kubernentes envia por padrão os cabelhaços X-Forwarded-For,  X-Forwarded-Proto e X-Forwarded-Host mesmo dizendo acima que: Por convenção, os proxies encaminham informações em cabeçalhos HTTP.

---
#### Detalhes

[2019-05-09 18:36] CeciAc commented on #12356
Hi team,
I'm moving this here since the user is making a suggestion on the original documentation
Translation:

[2019-05-09 18:43] eJamesLee commented on #12328
Thank you for the thorough response Tom.  I quickly realized how I over-thought this, but also to become aware of what is allowable (e.g. expression body then with a lambda) but is not preferable.  Appreciate the complete answer, and agree with your conclusion.

[2019-05-09 18:59] scottaddie commented on #12136
@snlacks Can you please provide the following pieces of info to aid in troubleshooting?

1. Which version of the C# extension are you using in VS Code?
2. What do you see when you run `dotnet --version` in this project's directory?

[2019-05-09 19:03] scottaddie commented on #12312
@gitSushi Can you please provide the following pieces of info to aid in troubleshooting?

1. Which version of the C# extension are you using in VS Code?
2. What do you see when you run `dotnet --version` in this project's directory?

[2019-05-09 19:03] omrumbakitemiz commented on #12264
I created a new project with new preview sdk in visual studio, i choose individual authentication. Visual Studio added  `"Microsoft.AspNetCore.Identity.UI" Version="3.0.0-preview5-19227-01"` dependency to csproj file. I added same dependency to my main project and I think it will solve my problem. Thank you  😇

[2019-05-09 19:15] #12161 closed

[2019-05-09 19:20] #12176 closed

[2019-05-09 19:21] #11828 closed

[2019-05-09 19:21] #7753 closed

[2019-05-09 19:21] #11400 closed

[2019-05-09 19:22] Rick-Anderson commented on #12351
Update to VS 19
Try `dotnet run`

[2019-05-09 19:22] #12351 closed

[2019-05-09 19:24] Rick-Anderson commented on #12350
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-05-09 19:24] #12350 closed

[2019-05-09 19:29] Rick-Anderson commented on #12264
@omrumbakitemiz  you don't need to add `Microsoft.AspNetCore.Identity.UI`

[2019-05-09 19:29] #12264 closed

[2019-05-09 19:37] Rick-Anderson commented on #12264
[code]

[2019-05-09 19:51] #12328 closed

[2019-05-09 20:12] mike1o1 opened #12358 "Blazor Javascript Files"
The documentation states that for server-side Blazor, the javascript files will be located in "bin/{Debug|Release}/{TARGET FRAMEWORK}/publish/{APPLICATION NAME}.App/dist/_framework" however that doesn't seem to be correct as I don't see the files there.

It would be great if this file can be published on npm so that it can be included with a webpack build.

---
#### Document Details

⚠ *Do not edi

[2019-05-09 20:18] Rick-Anderson commented on #11642
@01binary are you familiar with the new twitter developer account and procedure?  I've applied for a developer account.

[2019-05-09 20:26] snlacks commented on #12136
I was using netcoreapp2.2, I don't know the exact version that would have been or the C# extension version for VS Code; but it would have been up-to-date/latest for 16 days ago. It would have been on Windows 10 (given the date and time of the status and where I was)

Re-reading my initial issue, I want to clarify that the above code wasn't being inserted into those files and needed to be added in

[2019-05-09 21:34] guardrex commented on #12356
Duplicate of #12349

[2019-05-09 21:34] #12356 closed

[2019-05-09 21:35] #11642 closed

[2019-05-09 21:37] guardrex commented on #12349
@CeciAc I guess it's best for me to let you move an issue if I'm pinged on it. Sorry for going a bit too fast there. I try to respond to issues on topics that I wrote asap.

[2019-05-09 21:37] #10985 closed

[2019-05-09 22:07] guardrex commented on #12358
Thanks @mike1o1 ... The 🧀 moved on that back for Preview 2, but we didn't get it into the docs. Thanks for letting me know. I'll take care of it.

https://github.com/aspnet/AspNetCore/pull/6562

[2019-05-09 22:08] guardrex commented on #12358
@mike1o1 WRT ...

That's engineering feedback, so you should open that suggestion over on the [aspnet.AspNetCore repo issues](https://github.com/aspnet/AspNetCore/issues) where the engineers will see it.

[2019-05-10 00:37] Rick-Anderson commented on #11220
Verified the code does not work. PU - please supply code that works with the template generated values controller.

[2019-05-10 00:43] #10798 closed

[2019-05-10 01:00] Rick-Anderson commented on #7299
Close per #10798

[2019-05-10 01:00] #7299 closed

[2019-05-10 01:05] Rick-Anderson commented on #11832
If you can create the simplest possible project that reproduces ths, open a product bug with a link to your repo. This is not a doc issue.

[2019-05-10 01:05] #11832 closed

[2019-05-10 01:09] Rick-Anderson commented on #12175
@rpetrusha can you advice us how to migrate our samples? How do we get a samples repo?

I've referenced sample code in another repo before, it's not that much more work. Do you have a doc you could point to we could use as an example?

[2019-05-10 01:09] Rick-Anderson commented on #12175
cc @tdykstra

[2019-05-10 01:24] Rick-Anderson opened #12363 "Comment hub for filters"
* In ASP.NET Core 1.1, you can use middleware in the filter pipeline - remove 1.1
* Add video (will not do)
* Exception Filter is working for exceptions thrown in controller but I need to handle exceptions thrown in my views and it isn't getting called. FYi I replaced the Response.Stream with a MemoryStream for logging/testing purposes, and if there is an exception I found I need to copy the origi

[2019-05-10 03:46] Rick-Anderson commented on #12175
If that works out for them we'll consider it.

[2019-05-10 03:46] #12175 closed

[2019-05-10 06:30] nschonni commented on #12175
I believe they're also looking at https://github.com/dotnet/try for some of the examples too

[2019-05-10 07:19] BraveThrasher opened #12364 ""Use Gulp" hyperlink issue"
The URL for the "Use Gulp" hyperlinks in the first paragraph and the Additional resources section differs from the one for this page but the URL for those hyperlinks gets redirected to this page ("Use Grunt in ASP.NET Core").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e3b23da-ff3d-daf6-c56a-2b8ddf79f805
* Version

[2019-05-10 08:04] lonix1 opened #12365 "[Request] Official template for JWT auth"
The current authentication+authorisation template, which uses Identity, is great - but it's for cookies.

Many of us are using Angular/React/Vue. For us, setting up auth is **hard** - not because it can't be done, but because there are no docs, and the cookie docs are completely irrelevant.

There is also repeated advice (everywhere from here to StackOverflow to blogs) to use IdentityServer. That

[2019-05-10 12:15] omrumbakitemiz commented on #12264
I think i am missing something. When i remove the dependency from csproj file i am getting error.
By the way my project is a web api. I don't have any ui.

<img width="326" alt="Screen Shot 2019-05-10 at 15 12 42" src="https://user-images.githubusercontent.com/12871066/57526430-13da1b80-7336-11e9-9290-84e34eb484b7.png">

[2019-05-10 12:49] guardrex commented on #12364
Hello @BraveThrasher ... The topic was just removed on https://github.com/aspnet/AspNetCore.Docs/pull/12360. There are 11 links sprinkled around the docs ... I'll make a pass and get them out. Thanks for letting us know.

[2019-05-10 13:00] guardrex commented on #12365
Hello @lonix1 ... If you're asking for a `dotnet new` template, close here and re-open over on the engineering repo, since we only handle docs on this repo. [aspnet/AspNetCore issues](https://github.com/aspnet/AspNetCore/issues). The engineers and managers are :ear: listening :ear: over there.

[2019-05-10 14:53] scottaddie commented on #12136
@snlacks Without the 2 requested pieces of info, it's going to be difficult to troubleshoot. You can find the C# extension version number on the **Extensions** view in VS Code:

![image](https://user-images.githubusercontent.com/10702007/57536093-170ae280-7309-11e9-9b8d-6e80611244c0.png)

You can find the .NET Core SDK version number by running `dotnet --version` in VS Code's **Integrated Terminal

[2019-05-10 15:17] lonix1 commented on #12365
I'm not sure what is best? Right now there's not much at all.

Maybe basic docs would be good (would have helped me), but later a full template would be considered.

I hoped @RickAndMSFT would say whether this could be "backlogged".

[2019-05-10 15:27] guardrex commented on #12365
Sure ... I wasn't sure what you were asking for. An ask for a template would to to the product unit. An ask for docs does go here.

[2019-05-10 15:39] lonix1 commented on #12365
I'm also not sure what I'm asking for... :stuck_out_tongue:

Maybe both. But lets start with docs, because an official template could thereafter be built on that.

[2019-05-10 15:46] #12364 closed

[2019-05-10 15:49] guardrex opened #12367 "Replace Gulp with tooling that offers similar functionality"
Discussed at https://github.com/aspnet/AspNetCore.Docs/pull/12366#issuecomment-491331984.

Possibly work in conjunction with #11610 if a comprehensive overhaul is in the works.

Per `@danroth27` in  #10798 - retire Gulp doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f55e9a-cd3f-83a0-f142-969dc10d3ceb
* Version I

[2019-05-10 17:10] bradygaster commented on #12281
We like the idea of using the cdnjs option here. cc @scottaddie

[2019-05-10 17:24] rpetrusha commented on #12175
I'm not sure that there's a document available about it, but the migration should be straightforward -- just create a samples repo; code references should work either unchanged or when the path starts with ~/samples.

There's a second issue here as well -- downloading small amounts of code without having to get the entire repo. You can create .zip files and, when they're placed in a repo, become d

[2019-05-10 18:11] guardrex commented on #10214
Updating everyone on the progress with the File Uploads topic. The PR is in review at https://github.com/aspnet/AspNetCore.Docs/pull/12344.

**_Thank you everyone!_** ... especially for your patience. We're sorry that it took so long, but we knew that this one was going to need a major pass, especially just to address the security aspects. It took some time for one of us to get free. I'm happy thu

[2019-05-10 18:17] ardalis commented on #10214
Looking forward to this. I just had to go through a few of these issues myself today on my stream as I was working on large video file uploads. Do you cover the various ways to increase the file upload limits in this now? That was something I needed to search for.

[2019-05-10 18:29] Rutix commented on #10214
@ardalis For the server configuration **Kestrel maximum request body size** and **IIS content length limit** are covered.

[2019-05-10 18:33] guardrex commented on #10214
@ardalis Unfortunately, they haven't resolved all of the issues. https://github.com/aspnet/AspNetCore/issues/2711 is still open and seem like it was left at 'investigate' and moved to the backlog. The problems seem to kick in at 4GB with IIS. I didn't try to cover it ... and I even didn't try to test it here.

I have some free time coming up this weekend. I would like to at least verify say 3.9 GB

[2019-05-10 18:40] Vladimir198 opened #12369 "It is unclear how to work"
I have created a library of razor components, I try to use it but errors are constantly displayed

Компонент, в котором я использую "&lt;BootstrapModalForm.ModalForm ModelType="@SkinTypeViewModel" FormType="@SkinTypeForm" ref="@modalForm"/&gt;":

@page "/skintypelist"
@using Mesoproff.Core.Services;
@using Mesoproff.Core.Models.ViewModels;
@using Mesoproff.BlazorServerSide.Shared;
@using Bootstrap

[2019-05-10 18:46] ardalis commented on #10214
I found 3 things to set:
[code]
and
[code]

[2019-05-10 18:52] guardrex commented on #12369
Hello @Vladimir198 ... We only handle docs issues here.

If you think you've found a framework bug, put up a minimal repro project on GitHub for the engineers to see and open an issue over on the engineering repo. [aspnet/AspNetCore issues](https://github.com/aspnet/AspNetCore/issues)

If you think you're just having an implementation issue ... not a product bug ... open a question on a support fo

[2019-05-10 18:52] #12369 closed

[2019-05-10 18:58] scottaddie opened #12370 "Microsoft.AspNet.WebApi.Client package removed from shared framework"
Document the impact and update code as necessary. Docs affected:

- [x] [Migrate from ASP.NET Core 2.2 to 3.0](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio)
- [x] [Make HTTP requests using IHttpClientFactory in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.2)
- [ ] [Integration tests

[2019-05-10 19:06] guardrex commented on #10214
Ah ... yes ... default `MultipartBodyLengthLimit` is 134,217,728 (128 MB). I'll get that covered.

I suspect (thus far) that `RequestSizeLimit` just sets the `MaxRequestBodySize`. Even if that's correct, I still need to add content for it. Would the attribute only apply the filter to the decorated controller? ... so it wouldn't be an app-wide setting like using the Kestrel limit? Do you know the a

[2019-05-10 19:10] guardrex commented on #10214
https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/Filters/RequestSizeLimitFilter.cs

[2019-05-10 19:10] Rutix commented on #10214
@guardrex @ardalis `[RequestSizeLimit]` does indeed set the options.Limits.MaxRequestBodySize only on the action. `[RequestFormLimits]` sets the following:
[code]

[2019-05-10 19:12] guardrex commented on #10214
Thanks @Rutix and @ardalis ... I'll roll this content into the topic.

[2019-05-10 19:14] guardrex commented on #10214
Reminder to everyone that I pinged .... *half the Internet!* .... You can unsubscribe from the thread if our chatting is filling your Inbox with junk.

<img width="317" alt="Capture" src="https://user-images.githubusercontent.com/1622880/57551116-dbceda80-732d-11e9-9fcc-2e2f9555f40a.PNG">

[2019-05-10 19:16] guardrex commented on #10214
@Rutix @ardalis Let's move our discussions over to the PR to save these good folks a lot of Inbox pain.

#12344

[2019-05-10 20:01] The-DevOps-Guy opened #12372 "Document step does not work"
# Step
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-2.2#add-all-navigation-properties

# Issue description

After following this and attempting to execute the web application, an error is raised at    `base.OnModelCreating(modelBuilder);`

  HResult=0x80131509
  Message=A key cannot be configured on 'ApplicationUserClaim' because it

[2019-05-10 20:04] The-DevOps-Guy opened #12373 "Identity customization:A key cannot be configured on 'ApplicationUserClaim' because it is a derived type."
[EDIT by guardrex ... content moved here from #12372]

# Step
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-2.2#add-all-navigation-properties

# Issue description

After following this and attempting to execute the web application, an error is raised at    `base.OnModelCreating(modelBuilder);`

  HResult=0x80131509
  Message=A key can

[2019-05-10 20:36] guardrex commented on #12373
Hello @The-DevOps-Guy ... We just need one issue open for it. This is a little better for us to track because it has the topic metadata.

# Step
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-2.2#add-all-navigation-properties

# Issue description

After following this and attempting to execute the web application, an error is raised at

[2019-05-10 20:36] guardrex commented on #12372
Moved to #12373.

[2019-05-10 20:36] #12372 closed

[2019-05-10 21:17] guardrex commented on #12232
@sebastienricher It looks like the answer is *yes* to your suggestion on the binding port ... and it goes to `/`.

I'll be working this one very soon, including some local testing to see what's what with my own :eyes:. I'll ping u on the PR when it goes up.

[2019-05-10 21:17] #12358 closed

[2019-05-10 21:54] guardrex commented on #12349
I have a lot of doubts about this issue because I am using AKS with NGIXN and I am having difficulty recovering the client's Remote IP, I have been reading https://kubernetes.github.io/ingress-nginx/user- I have changed the ingress, I have read the HTTP Header X-Forwarded-For and nothing to get the IP of the HTTP connection of the client, always with the IP of the LoadBalancer in case it is the In

[2019-05-10 21:56] The-DevOps-Guy commented on #12373
I cannot edit the above anymore, so note this correction to the text.

[code]

[2019-05-10 21:58] guardrex commented on #12349
@alexsandro-xpt

https://docs.microsoft.com/pt-br/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.2#forwarded-headers-middleware-options

Você tentou isso?

[code]

[2019-05-10 22:04] guardrex commented on #12373
oh ... no worries ... I'll update it.

[2019-05-10 22:34] scottaddie opened #12377 "Add VS 2017 and 2019 download campaign links"
See email with instructions from Terry Lee.

[2019-05-10 23:35] The-DevOps-Guy commented on #12373
Hi, I have created a example project with this issue for you to reproduce.
To see, all you need to do is run the following command in the Package Manager Window.

Solution: https://drive.google.com/file/d/1gXqpyamax-SQVU6F006AlCsc-mcZNRJZ/view?usp=sharing

[2019-05-11 00:03] itanex opened #12379 "What part does index.html play in the layout workflow?"
I was looking for details about the index.html file which appears to be the root layout file similar to the _layout.cshtml in MVC projects. Does this file behave similarly? How would I go about adding meta tags to the header filled with data from a service.

Scenario:

request &gt; querydb for metadata &gt; add data to viewbag &gt; in _layout.cshtml access viewbag fields &gt; add data to metatags

[2019-05-11 00:44] The-DevOps-Guy commented on #12373
Not sure if this is related, but I noticed the Microsoft.AspNetCore.App 2.2.0 includes...

- Microsoft.AspNetCore.Identity.EntityFrameworkCore v2.2.0

Which in turn includes...

- Microsoft.EntityFrameworkCore.Relational 2.2.0

But the stand alone package Microsoft.AspNetCore.Identity.EntityFrameworkCore 2.2.0 includes...

- Microsoft.EntityFrameworkCore.Relational 2.2.4

Not sure why this is.

[2019-05-11 00:50] guardrex commented on #12379
Hello @itanex ... Are you on an older Blazor preview? You want to use the *_Host.cshtml* for that. Here's an example using configuration and injecting `IConfiguration` into the Razor file (you can inject any service and use it, including a dbContext) ...

I'll add a key-value for "Author" to the *appsettings.json* file ...

[code]

I'll add a `using` and `inject` for configuration + I'll ask the s

[2019-05-11 00:50] #12379 closed

[2019-05-11 01:51] #12377 closed

[2019-05-11 07:01] scottpage opened #12382 "Vue compatibility"
Will this work with Vue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21cb7455-3305-9316-5440-bdc22947a82d
* Version Independent ID: 137d4b94-7b26-3911-b22d-42c754a95fc1
* Content: [Introduction to authentication for Single Page Apps on ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authenticatio

[2019-05-11 09:18] javiercn commented on #12382
We currently only support this scenario trough our Angular and React templates, but in principle there should nothing preventing you from adapting the code in the templates to work with any other framework.

[2019-05-11 09:18] #12382 closed

[2019-05-11 10:12] chaim1221 opened #12383 "If you are using a custom IWebHostBuilder implementation..."
... because you have to make modifications to the defaults, then it _must_ be called CreateWebHostBuilder for Entity Framework migrations to work.

https://stackoverflow.com/a/54222348/2496266

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46a10a5c-bacc-1bcf-a7ae-499715e1bfdd
* Version Independent ID: 1585163b-b1d7-eeb

[2019-05-11 11:44] guardrex commented on #12383
Thanks @chaim1221 ... Yes, we can improve coverage on it, but not in the migrations topic. Migrations is only for version diffs. I'll work it into the overview and host topics.

[2019-05-11 12:23] guardrex commented on #11969
Call out on the special naming of the builder method when the Generic Host topic updates are made. This was addressed for the Web Host and in the Fundamentals Overview on https://github.com/aspnet/AspNetCore.Docs/pull/12384.

[2019-05-11 14:42] scottpage commented on #12382
That's what I'll do then, thanks a million!

[2019-05-11 16:51] #12383 closed

[2019-05-11 19:50] chaim1221 commented on #12383
Thanks!

[2019-05-12 01:33] snlacks commented on #12136
I confirmed that it is 2.2.203  and C# extension 1.19.1. This time I watched what I did a bit more closely.

1. I ran the commands to create the app and open code in that project.
2. I used start debugging with .NET Core to create the launch.json
3. I added a configuration for .NET Core web app. This added the configuration to launch the app.
4. I change <target-framework>/<project-name.dll> to ne

[2019-05-12 04:00] BrennanConroy opened #12386 "Add StreamBufferCapacity configuration for SignalR"
We added a new configuration option that we need to document, see https://github.com/aspnet/AspNetCore/issues/4399

[2019-05-12 10:21] serpent5 commented on #12348
I think I can help with this. @weitzhandler Can you provide a more specific example of what it is you’re looking to achieve?

[2019-05-12 10:48] fernandreu opened #12387 "Surface Awesome Blazor in Blazor Introduction topic"
Hi, just in case it might be useful for somebody else, I made a [client-side Blazor project on GitHub](https://github.com/fernandreu/blazor-pages) which automatically deploys to GitHub Pages. This is done via Azure Pipelines, using the community approach described in this page. Keep the good work!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-05-12 10:52] weitzhandler commented on #12348
@serpent5 thanks for your good intention!

I've already found the solution, but what I meant is how to author a tag-helper that reads anything after the tag, plus the assigned value.

For instance:

[code]

Here's the code:

[code]

Would be nice if the `HtmlAttributeName` and it's underlying functionality would have been documented.

Thanks a load again!

[2019-05-12 12:09] ahmadhamzavi opened #12388 "how to use SignalR java client in background service"
how to use SignalR Java Client in background service?
how to use SignalR Java Client when application killed ?
what is your suggestion?

[2019-05-12 12:09] guardrex commented on #12330
Closing. See: https://github.com/aspnet/AspNetCore/issues/10079

[2019-05-12 12:09] #12330 closed

[2019-05-12 12:20] guardrex commented on #12387
Hello @fernandreu ... *Nice one!* We used to keep a Community page of projects, but now we recommend that you open an issue for Adrien Torris's *Awesome Blazor* GH repo at https://github.com/AdrienTorris/awesome-blazor/issues.

I wonder if we should cross-link that as an additional resource on the Blazor docs *Introduction* page.

**Leave this issue open, and we'll see.**

[2019-05-12 13:17] fernandreu commented on #12387
No problem @guardrex, I went a bit further and created a pull request in the *Awesome Blazor* repo to include my project as a sample one. Thanks for the feedback!

[2019-05-12 13:45] guardrex commented on #12387
I sent in a patch PR on the line endings. That will speed us up over here on docs. I always stop and add them as I go with a new sample. https://github.com/aspnet/AspNetCore/pull/10192

[2019-05-12 17:59] mammadkoma commented on #12083
Blazor and other template (MVC & WebApp) in .net 3 preview 5 not work and start (F5) with microsoft VS Code!

[2019-05-12 18:28] mammadkoma opened #12390 ".net 3 preview 5 Cannot run on VS Code"
Blazor and other template (MVC & WebApp) in .net 3 preview 5 not work and start (F5) with microsoft VS Code!
We want to create launcher and start (F5) like flutter framework.
![image](https://user-images.githubusercontent.com/17564001/57586310-6d467400-7509-11e9-8ea3-735ae404288f.png)
![image](https://user-images.githubusercontent.com/17564001/57586316-78999f80-7509-11e9-8c9b-add93362e160.png)
![i

[2019-05-12 19:43] guardrex commented on #9186
Let's pick back up our chat over here.

I don't grok that. On the dev's machine ...

* In dev environment, the app uses un-minifed static resources, which aren't present unless .gitignore forces them into the repo.
* In prod environment, the app uses CDN resources or falls back to minified static resources.

So, if .gitignore is used to force static assets into the app, **ok** ... I'm with u there

[2019-05-12 19:44] anurse commented on #12386
This can just be added to https://docs.microsoft.com/en-us/aspnet/core/signalr/configuration?view=aspnetcore-2.2&tabs=dotnet

[2019-05-12 20:12] guardrex commented on #12390
Hello @mammadkoma ... this looks more like product feedback than docs feedback. Open it over on the [aspnet/AspNetCore issues](https://github.com/aspnet/AspNetCore/issues) for managers and engineering to see :eyes:.

[2019-05-12 20:12] #12390 closed

[2019-05-12 20:14] guardrex commented on #12390
btw @mammadkoma ... any problems launching apps with an ASP.NET Core Preview in VS Code are probably point-in-time problems during the preview (and sometimes until the next update to the tooling is made after an RTM of the framework). The tooling and framework always work well by the time they get to RTM.

[2019-05-12 20:56] Rick-Anderson commented on #9186
Solved offline.
The policy is to depend on .gitignore to prevent production assets into the rep.

[2019-05-12 20:56] #9186 closed

[2019-05-12 21:41] BDTomasz commented on #11318
Unable to run the command
dotnet new angular -o FooBarProj -au Individual

Invalid input switch:
  -auth
  Individual

[2019-05-12 21:54] The-DevOps-Guy commented on #12373
Hi, thanks for looking at this. Just to say, I may not respond tomorrow until 17:00 GMT.

[2019-05-12 22:49] Rick-Anderson commented on #11318
@BDTomasz
Open an issue at https://github.com/dotnet/cli
report your version

[2019-05-12 23:42] BDTomasz commented on #11318
@Rick-Anderson 2.1.700-preview-009618

[2019-05-13 11:35] mahavirsinhpadhiyar commented on #10916
How can I run http://localhost:<port>/swagger/ui/index.html and paste the json link and see the result.

[2019-05-13 18:40] #11684 closed

[2019-05-13 19:05] alexsandro-xpt commented on #12349
Eu ja tentei `options.KnownProxies.Add(IPAddress.Parse("<<<LOAD BALANCER IP>>>"));` o `options.ForwardLimit = 2;` eu não tentei porque o default é 1 e antes do meu Kestrel eu so tenho o Ingress Nginx.

Posso mudar pra 2 para testar. Mas independente deste teste o Request.Header não contem a Key `X-Forwarded-For`.

[2019-05-13 19:16] guardrex commented on #12349
Compreendo. O cabeçalho não é encaminhado para o aplicativo pelo Kubernetes. Eu não conheço essa plataforma. Eu não tenho conhecimento sobre como configurar o Kubernetes.

O melhor conselho que posso dar é abrir um problema em um fórum de suporte. Tente o estouro de pilha. Tente um fórum do Kubernetes.

Eu marquei essa questão com a etiqueta da PU ... "Product Unit" ... um engenheiro ou gerente ve

[2019-05-13 20:58] guardrex opened #12393 "Update AKV config provider topic for new Azure portal and process"
* The Azure AD portal UI described in the topic has become the "legacy" portal for app registration.
* The new portal process for uploading a cert has changed.
* PFX certs are no longer allowed for upload.
* Confirm the sample app works with the new cert process in the portal and a non-PFX cert. Update the process as necessary.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-05-13 21:42] aszalacinski commented on #11750
Sooooo is this need an update or not?

[2019-05-13 23:30] Rick-Anderson commented on #7025
@serpent5  is this something you could do?

[2019-05-14 01:32] Rick-Anderson commented on #6295
[code]

The following code works with PostMan
[code]

When I uncomment `[FromBody] string value` in the `x-www-form-urlencoded` method, Postman returns `415 Unsupported Media Type`. That's very similar to the bug reported in https://github.com/aspnet/AspNetCore/issues/4396 - but https://github.com/aspnet/AspNetCore/issues/4396 states the work around is **The 2.2 workaround is to remove the Consume

[2019-05-14 01:47] #7166 closed

[2019-05-14 02:21] Rick-Anderson commented on #7722
@karlbaker02  any chance you could create a PR to address this?

[2019-05-14 02:28] Rick-Anderson commented on #6063
@John0King  would you be able to provide the draft instructions?

[2019-05-14 02:29] Rick-Anderson commented on #6063
@serpent5  is this something you could do?

[2019-05-14 02:31] Rick-Anderson commented on #5124
@serpent5 is this something you'd be interested in working on?

[2019-05-14 03:26] #12215 closed

[2019-05-14 06:35] crazyfx1 opened #12398 "Sample Client for strongly typed hubs"
Is there a sample for a .NET client using a strongly typed hub?
Let's say I want to implement a .NET client using the IChatClient interface described in https://docs.microsoft.com/en-us/aspnet/core/signalr/hubs?view=aspnetcore-2.2#strongly-typed-hubs

I would expect to pass an implementation of IChatClient to the HubConnection, but I don't see how.

---
#### Document Details

⚠ *Do not edit this s

[2019-05-14 06:38] vkpnipnia64 commented on #12349
We were trying to implement this in our product to capture the ClientIp of original user.  Even after following carefully all these options , we were unable to see the actual client ip in HttpContext.Connection.RemoteIpAddress but it was always listing the Loadbalancer IP.
After analyzing I have found that there were no issues with the code except for the fact , we were putting the line app.UseFor

[2019-05-14 10:51] JoePercy-Capp opened #12400 "Please document required call to AddApiExplorer() when using services.AddMvcCore()"
When ConfigureServices contains `services.AddMvcCore()` instead of `services.AddMvc()`, you need to chain a call to `AddApiExplorer()` (i.e. `services.AddMvcCore().AddApiExplorer()`) in order for the required services to be available for NSwag middleware to DI.

Couldn't find this anywhere on this page or in the NSwag docs and wasted time figuring this out when a couple of lines of explanation on

[2019-05-14 12:19] CribAd opened #12401 "Set multiple routes with Razor"
Please show how you can use multiple routes to the same razor page, using `@page`. In MVC you can use `[Route("example1")]` and  `[Route("example2")]` attributes in the same model to create multiple routes to the same page. In Razor we need to use `@page`  for this, but iI can't get it to work.

Of course we can edit multple routes to the same page with `AddRazorPagesRout()` in Startup.cs, but wit

[2019-05-14 13:17] Anarkin opened #12402 "Wording"
Hi,

Unless it's generally accepted at this point, I think we should consider rephrasing "from DI" in the following occurrences:
- "Get an ILogger&lt;TCategoryName&gt; object from DI."
- "To write logs in the Program class, get an ILogger instance from DI:"

My thought process is that DI can either be the pattern, or the MS.Ext.DI libs. Even in the case where the provided example code explicitly r

[2019-05-14 14:38] atotalnoob opened #12474 "INodeServices IIS Node environment variable not found"
### Is your feature request related to a problem? Please describe.

I have an ASP.NET Core 2.1 application we recently integrated INodeServices into to run javascript. I installed NodeJS version 10.15.3-x64 onto the server using default installation.

My application runs on IIS 8/Windows Server 2012.

INodeServices worked fine on localhost and passed unit tests, so I pushed it to our unstable dev

[2019-05-14 14:48] Tratcher opened #12403 "Mention SkipStatusCodePagesAttribute"
Under Disable status code pages, MVC has an attribute for this: `[SkipStatusCodePages]`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03fdf4-b19b-17c3-04f4-336ab6d2ee06
* Version Independent ID: 38515dfb-91a5-b395-db9d-084bbaf095c8
* Content: [Handle errors in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/c

[2019-05-14 14:58] guardrex opened #12404 "Add using for app to imports file"
From @Saik19922 on https://github.com/aspnet/AspNetCore.Docs.de-de/issues/39.

Thanks @Saik19922 ... I think that's a change from prior versions, where they used to have an import for the app's namespace. I just looked and noticed that the template doesn't do that any longer.

I'll update the doc and have the reader add it to the *\_Imports.razor* file. Thanks for letting us know.

---
#### Docume

[2019-05-14 15:00] tdykstra commented on #12402
@Anarkin Thanks for the question.  I've never seen any indication that "from DI" in contexts like these has been misunderstood, and we use the phrase throughout our docs.  The acronym DI should only appear in an article after being introduced earlier in the same article as "dependency injection (DI)", with either a short explanation or a link to the DI article. Either way, "DI" should be understoo

[2019-05-14 15:10] CeciAc commented on #12404
Hi @guardrex
I'm moving this from here https://github.com/aspnet/AspNetCore.Docs.de-de/issues/39 as per your request:
@Saik19922 commented 36 minutes ago

[2019-05-14 15:12] guardrex commented on #12404
@CeciAc Is it better for me to always let you move them? I certainly can do so. I go a little *too fast* 🏃 *sometimes!*

[2019-05-14 15:17] guardrex commented on #7967
@Rick-Anderson Ok to work this in early June? If so, I'll wait for a "June 2019" project to schedule it (or I can create a June project if you want me to ... let me know).

[2019-05-14 15:21] guardrex commented on #9696
It wasn't clear from the coverage to @sertunc on comment at https://github.com/aspnet/AspNetCore.Docs/pull/9988#issuecomment-492242493 why there are two `if` blocks checking for a service-based run instead of a console-based run. I think we should say why on the update here. Thanks @sertunc for calling it out.

[2019-05-14 15:26] mookhoo opened #12405 "unable to use useState hook with .net core project template"
I am trying to create a new page that utilizes useState hook in the project created by [this template](https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/react?view=aspnetcore-2.2&tabs=visual-studio), I have been unsuccessful. I have tried several ways, creating a function, and I end up getting error. Do you have an example on how to create a new page in this template and utilize "useSta

[2019-05-14 15:58] guardrex commented on #12404
@CeciAc I should just *hold my horses* a bit. I tend to respond super fast on pings ... like *60 seconds*. lol

I'll just wait. I know ur going to take care of it.

Thanks @Saik19922 ... I'll get this updated today.

[2019-05-14 15:59] spottedmahn opened #12408 "Overwhelming"
I think this page contains **tons** of great information but IMHO it is overwhelming to the beginner and for the basics.  In comparison, [this site helps](https://thomasardal.com/appsettings-in-asp-net-core/) a user do the basics with appSettings.json

Perhaps there is a way to break this up a little? 🤔

Thoughts? 💭

Edit:

![image](https://user-images.githubusercontent.com/3605364/57719047-8b4fc9

[2019-05-14 16:04] guardrex commented on #12408
Thanks @spottedmahn It's possible. This is a known issue ... and not just for this topic. We have a few that due to framework scenario growth became looooong topics. Same can be said for the IIS Overview, and I discussed that with Sourabh recently. We're talk'in about it for sure.

@Rick-Anderson @tdykstra If you want to proceed on this issue ... at least consider how this might go, you can assign

[2019-05-14 16:15] guardrex commented on #12401
Hello @CribAd ...

Did you try it like this (this example is from the Blazor doc set) ...

[code]

This could be for the Routing topic, but it might be better for the [Razor syntax topic (Directives section)](https://docs.microsoft.com/aspnet/core/mvc/views/razor?view=aspnetcore-2.2#directives). It's not currently listed in the directives section.

[2019-05-14 16:17] #12402 closed

[2019-05-14 16:18] guardrex commented on #12405
Hi @mookhoo ... I'm going to move this over to an issue opened via the **This Page** feedback button at the bottom of the topic. It will tag the issue with metadata that will ping the author of that topic. Stand-by ... you'll get a ping when I move it.

[2019-05-14 16:18] #12405 closed

[2019-05-14 16:18] guardrex opened #12409 "Unable to use useState hook with .net core project template"
Moved from @mookhoo on https://github.com/aspnet/AspNetCore.Docs/issues/12405 ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 261c9875-3db6-4d30-f9d6-922a9334ecb2
* Version Independent ID: b8f8f7c4-9c90-869d-9fd7-a887bc28f262
* Content: [Use the React project template with ASP.NET Core](https://docs.microsoft.com/en

[2019-05-14 16:49] mkArtakMSFT opened #12480 "Document Browser support matrix for Blazor"

[2019-05-14 17:17] Saik19922 commented on #12404
Thanks for taking care so fast! Keep up the good work.

[2019-05-14 17:20] #12404 closed

[2019-05-14 17:25] guardrex opened #12411 "[Preview 6] Revert instruction on adding using to app imports"
* Revert content added on https://github.com/aspnet/AspNetCore.Docs/pull/12410 when https://github.com/aspnet/AspNetCore/issues/10239 is addressed.
* Remove the remark on this in the *Build Your First* tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e7dc3c-54c4-35de-203e-d230869e8417
* Version Independent ID

[2019-05-14 17:26] courageDeveloper commented on #7486
@Smilebags Kudos, That solved it

[2019-05-14 17:27] #9683 closed

[2019-05-14 17:31] Rick-Anderson commented on #12401
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-05-14 17:31] #12401 closed

[2019-05-14 17:34] Rick-Anderson commented on #12408
@spottedmahn  thanks for the suggestion. This is an advanced topic and we don't have the resources to rewrite this.

[2019-05-14 17:34] #12408 closed

[2019-05-14 17:35] Rick-Anderson commented on #12400
Why are you calling `services.AddMvcCore()` instead of `services.AddMvc()` ?

[`AddMvcCore`: ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.mvccoreservicecollectionextensions.addmvccore?view=aspnetcore-2.2#Microsoft_Extensions_DependencyInjection_MvcCoreServiceCollectionExtensions_AddMvcCore_Microsoft_Extensions_DependencyInjection_IServiceCollection_) Adds

[2019-05-14 17:35] #12400 closed

[2019-05-14 17:43] bradygaster commented on #12398
Take a look at the code samples in the article on using [SignalR with Background Services](https://docs.microsoft.com/en-us/aspnet/core/signalr/background-services?view=aspnetcore-2.2#call-a-signalr-hub-from-a-background-service) as it demonstrates this. If you feel this doc would benefit from having something more explicit called out, please let me know and I'll see to it. Thanks!

[2019-05-14 17:55] #11986 closed

[2019-05-14 18:03] spottedmahn commented on #12408
@Rick-Anderson fair enough 👍

I'm curious, what's stats screenshot you put in opening entry?

[2019-05-14 18:17] guardrex commented on #12408
It's a proprietary web analytics system. I think it's a MS thing. I searched and didn't see a public site/repo for it. Of course, the stats displayed by the system aren't available to the public.

[2019-05-14 18:17] Rick-Anderson commented on #12408
Internal tracking stats.
It's a good suggestion, we're just overwhelmed with more pressing issues (over 400).

[2019-05-14 18:53] itanex opened #12413 "Running dotnet new -i in step to returns 401 (unauthorized)"
I just ran step #2 in my admin privileged console. I get the following output, followed by help on the new command, anad the template list below that. I am up to date on the SDK. Is there a step missing?

` Retrying 'FindPackagesByIdAsyncCore' for source 'https://microsoft.pkgs.visualstudio.com/DefaultCollection/_packaging/Universal.Store/nuget/v2/FindPackagesById()?id='Microsoft.AspNetCore.Blazor

[2019-05-14 18:56] guardrex commented on #12413
Hello @itanex ... it's a product unit question. Open it over on the engineering repo for them to see: [aspnet/AspNetCore issues](https://github.com/aspnet/AspNetCore/issues).

Search first tho (open and closed issues) .... there might be an existing issue ... someone who hit the same thing.

[2019-05-14 18:56] #12413 closed

[2019-05-14 18:58] guardrex commented on #12413
@itanex It isn't something that I've seen to-date; but if you get a response that seems like something the doc should address, plz add a note back here on this issue. We might need to note a common failure scenario for installing the templates in the Get Started topic.

[2019-05-14 20:01] Rick-Anderson commented on #12280
@mcalasa  can you create the PR? I uninstalled the 2.0 SDK and it's no longer available to download.

[2019-05-14 20:34] itanex commented on #12413
I posted here because I was following the documents instructions and my experience did not align with the document. I will check out aspnet.core resource.

[2019-05-14 20:42] guardrex commented on #12413
Yes ... let me explain a bit more. We get doc issues from the **This Page** doc feedback button from time-to-time that are really bugs or strange behaviors that we need engineering help to resolve.

I haven't seen the error that you reported. I think the engineers who build the framework should see your error. They work on the aspnet/AspNetCore repo and don't monitor these doc issues very closely.

[2019-05-14 20:57] #12393 closed

[2019-05-14 21:39] itanex commented on #12379
Blazor Template Version: `Microsoft.AspNetCore.Blazor.Templates::3.0.0-preview5-19227-01`
DotNetCore: `3.0.100-preview5-011568`

I reinstalled them today and created a new project today. There is still an `index.html` file in the project.

![image](https://user-images.githubusercontent.com/430586/57733409-4d6f9700-7654-11e9-98a9-e5c1f2cfa8f5.png)

Your response is informative, however, it doesn't

[2019-05-14 22:14] guardrex commented on #11682
@RichiCoder1 Engineering is going to address it formally. https://github.com/aspnet/AspNetCore/issues/10131

[2019-05-14 22:14] #11682 closed

[2019-05-14 22:20] RichiCoder1 commented on #11682
Sounds good! The referenced issue is basically exactly what I was looking for.

[2019-05-14 22:31] guardrex commented on #12379
Yes, @itanex ... Blazor client-side uses the *wwwroot/index.htm*. Blazor server-side uses the *\_Host.cshtml* file. I incorrectly assumed that you were using **server-side**. I just put a PR in to clear this up. See :point_right: https://github.com/aspnet/AspNetCore.Docs/pull/12392.

Yes, I think you mostly have it well understood.

It's a component. The Survey Prompt component is a child of the I

[2019-05-14 22:36] guardrex commented on #11682
@RichiCoder1 *Yes*, was happy to hear from DR that they're working on a framework scenario for it. At least in the short-term until they get there (this preview) , the approach offered by @sven5 is pretty sweet. That should at least tide everyone over. We'll get the bits that they build into the docs ASAP after release.

[2019-05-14 22:56] #12118 closed

[2019-05-14 23:22] Tratcher opened #12420 "Docs for new Negotiate auth handler"
Docs for https://github.com/aspnet/AspNetCore/pull/9831

This may be an addition to or spinoff from https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-2.2&tabs=visual-studio

This is a new authentication handler for Kerberos and NTLM and is intended for cross platform use.

WARNING: This component can persist credentials across requests on a given conn

[2019-05-14 23:24] Tratcher commented on #12420
Usage sample:
[code]

[2019-05-15 00:19] #5106 closed

[2019-05-15 00:19] #12084 closed

[2019-05-15 01:02] John0King commented on #6063
@Rick-Anderson I try to do this last night but fail on clone the project from GitHub.  GitHub is too slow for my region (China) :(

[2019-05-15 01:38] Rick-Anderson commented on #6063
@John0King  you do the work in this issue.

[2019-05-15 02:22] Rick-Anderson commented on #6063
@John0King  you can edit in browser https://github.com/aspnet/AspNetCore.Docs/blob/cookie/auth/ra/aspnetcore/security/authentication/disable-cookie.md

[2019-05-15 04:01] mcalasa commented on #12280
@Rick-Anderson Sure, just to be sure we are on the same page, I will create a PR of this article.  Is that correct?

[2019-05-15 04:52] Rick-Anderson commented on #12280
@mcalasa  correct.

[2019-05-15 07:22] wrkettlitz opened #12425 "Anything about query parameters? Like ?x=a&y=b ,etc?"
Or is this on another page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79da574a-570f-04eb-86bd-c8065a016f44
* Version Independent ID: ac771374-6102-b838-57d2-e99bcf3f7d3e
* Content: [Blazor routing](https://docs.microsoft.com/en-us/aspnet/core/blazor/routing?view=aspnetcore-3.0#feedback)
* Content Source: [aspnetco

[2019-05-15 07:49] abdullah-alimam commented on #7581
I think this will help
all you need is to display the real error by adding these lines in startup:

`app.UseDeveloperExceptionPage();`
`app.UseDatabaseErrorPage();`

without the condition of `if (env.IsDevelopment())`

and remove these lines if exists

`app.UseExceptionHandler("/Error");`
`app.UseHsts();`

then just let the app displaying the error like in development mode so you can search about

[2019-05-15 08:59] guardrex commented on #12425
Hello @wrkettlitz ... Only Route Parameters (described in the [Components topic](https://docs.microsoft.com/aspnet/core/blazor/components?view=aspnetcore-3.0#route-parameters)) are supported at this time.

Query string scenarios are on the roadmap and should appear in a future preview. See the remarks at :point_right: https://github.com/aspnet/AspNetCore/issues/5489, where catch-all segments and q

[2019-05-15 08:59] #12425 closed

[2019-05-15 09:18] The-DevOps-Guy commented on #12373
Hi, I wonder if you could provide an ETA on when the product team may be able to take a look into this ?
Do you feel it would be worthwhile escalating via our MS enterprise agreement and our TAM?
It's good to help the community, but we could do with this looking into quite quickly.
Thanks for all your efforts.

[2019-05-15 09:24] guardrex commented on #12063
Fixed by #12289

[2019-05-15 09:24] #12063 closed

[2019-05-15 09:36] guardrex commented on #10770
@danroth27 This one is coming up soon for work.

If this would make a good example, what's supplying the JWT?

[2019-05-15 11:02] garfbradaz opened #12427 "Sending message to specific User"
Hey guys, how to do you send a specific message to a user/client from a Controller outside the hub?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf6fefc-557e-114a-a37c-90939e06b083
* Version Independent ID: 92da23e0-6dc5-170e-b489-2ad8bbd46dff
* Content: [SignalR HubContext](https://docs.microsoft.com/en-us/aspnet/c

[2019-05-15 15:19] weifenluo opened #12428 "App Secrets in Production"
There is an easy way to securely store app secrets in production, without Azure Vault or any 3rd party providers:

1. App secrets are entered with running a -config switch of the application, for example: `dotnet helloworld -config`; In `Program.Main`, detects this switch to let user to enter the secrets and store in a separate .json file, encrypted:

[code]

2. In Startup.cs,  read and decrypt th

[2019-05-15 15:26] weifenluo commented on #9410
#12428

[2019-05-15 15:28] weifenluo commented on #6205
#12428

[2019-05-15 16:02] guardrex commented on #12428
Hello @weifenluo ... You did the right thing marking this on the tracking issue for the topic on #9410. We can close here, since it's visible now on the right issue. The doc author or community member who works the issue will see this. Thanks for commenting on this.

[2019-05-15 16:02] #12428 closed

[2019-05-15 16:05] serpent5 commented on #12427
Take the example from the page:

    await _hubContext.Clients.All.SendAsync("Notify", $"Home page loaded at: {DateTime.Now}");

To send to a specific user/client, use the relevant method:

    await _hubContext.Clients.Client("clientId").SendAsync("Notify", $"Home page loaded at: {DateTime.Now}");
    await _hubContext.Clients.User("userId").SendAsync("Notify", $"Home page loaded at: {DateTime.No

[2019-05-15 16:34] itanex commented on #12379
That is great! Ok now down to brass tax here. Since the "composition" uses the `wwwroot/index.html` file at the end. Where in this file structure would one put code that will "compose" values into the `<head>` element?

My goal is to take what is there

[code]

and have some new `<meta/>` tags added to the `<head>` section like this

[code]

I would imagine there would be something like the razor

[2019-05-15 16:48] guardrex commented on #12379
*Yes! Indeed!* @itanex ... AFAIK, they're working on exactly that. See https://github.com/aspnet/AspNetCore/issues/10131, and they're 👂 *listening* 👂 on that issue for feedback, so feel free to comment and ask questions there. You'll be chatting directly with management and engineering on that issue.

[2019-05-15 16:51] guardrex commented on #12379
... but I'm aware that "header" is being used loosely. A "header" section of the page isn't often the `<head>` element. Perhaps, it would be best if you open a **_new issue_** with engineering on that.

Open a new issue at 👉 https://github.com/aspnet/AspNetCore/issues

... and perhaps cross-link the issue that I mentioned asking 'is this part of that issue?'

[2019-05-15 17:03] guardrex commented on #12379
The more I think about it, the more I think you need a new issue. The only way that I can grok that you'd be able to do that with the *wwwroot/index.html* would be perhaps via JavaScript interop. If you were working with server-side Blazor, you could inject any service ... thus provide a custom service to the *\_Host.cshtml* component to modify the `<head>` element `<meta>` tags. With client-side

[2019-05-15 19:02] DanJ210 opened #12430 "Do we have to stop current websites before updating runtime?"
I didn't see anything about this so I'm asking. If I'm installing a new runtime first, then removing/uninstalling the old one which leaves only the new one installed, do I have to stop the websites that are being hosted on IIS? Would be good to cover in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-05-15 19:24] guardrex commented on #12430
*Ah!* Good question @DanJ210! 🏎

Indeed, the doc doesn't address what happens to live sites if the ANCM and runtime (patch version, for example) is replaced on-the-fly while requests are hitting live apps. Rubber 🦆 says that until the app recompiles a patch runtime update won't take effect and the app won't get the patch goodness until it does (e.g., worker process recycles). On ANCM replacement,

[2019-05-15 19:34] DanJ210 commented on #12430
Well thank you! The main thing I'm worried about is if anything would get corrupted. But sounds like no problems should arise that would corrupt anything.

[2019-05-15 19:44] guardrex commented on #12430
Yes, I doubt corruption ... guessing two things should be addressed in the topic:

* Patch updates to the runtime with roll-forward framework behavior. Does the app get a runtime patch when it eventually recompiles? ... **and not before then**.
* ANCM replacement ... does IIS restart automatically? ... so that there's just a short delay in request processing as IIS comes back online and apps fire

[2019-05-15 20:02] robertcgray opened #12431 "SeedData update."
Add this code to Initialize() under the movie Rio Bravo:
,

                    new Movie
                    {
                        Title = "The Good, the bad, and the ugly",
                        ReleaseDate = DateTime.Parse("12/1/2018"),
                        Genre = "Western",
                        Price = 1.19M
                    }

---
#### Document Details

⚠ *Do not edit this sec

[2019-05-15 20:03] serpent5 commented on #5124
Yeah, sure - I'm happy to take a look at this.

[2019-05-15 20:05] serpent5 commented on #7025
I've got a couple of other issues to look at now but I'll come back and check the status of this once I'm done with those.

[2019-05-15 20:24] CallStackRunner opened #12432 "Confusion about "Use a common user database" for ASP.NET Core + ASP.NET 4.x case"
Hello! Thanks for the great article.
There's "Confirm that the identity system for each app is pointed at the same user database." proposal at the bottom.
I'd want to confirm that this is not the case when one app is ASP.Net Core and another one is ASP.NET 4.x because Identity v3 and v2 use different database schemas.
If this is correct then I'd like to propose to mention this in article explicitl

[2019-05-15 21:01] robertcgray commented on #12431
If the code is accepted, this issue is closed.

[2019-05-15 21:01] #12431 closed

[2019-05-15 21:16] maurisa11 opened #12433 "d"
# Before you open an issue

If the issue is with an ASP.NET Core document, open the issue with the **Content feedback** button at the bottom of that document page.

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, conside

[2019-05-15 21:19] maurisa11 opened #12434 "The module at ClientApp/dist/server/main.js does not export a default function, and you have not specified which export to invoke"
I have the next problem when I run my asp .net core app:

**NodeInvocationException: Prerendering failed because of error: Error: The module at ClientApp/dist/server/main.js does not export a default function, and you have not specified which export to invoke.**

This is my startup.cs file:

`       app.UseSpa(spa =>
        {
            // To learn more about options for serving an Angular SPA f

[2019-05-15 21:44] bleachlizard opened #12435 "The Visual Studio tool guidance, step #8 is incorrect"
8. For a Blazor client-side experience, choose the Blazor (client-side) template. For a Blazor server-side experience, choose the Blazor (server-side) template....

Should be:
8. For a Blazor client-side experience, choose the Blazor (client-side) template. For a fully self-contained Blazor experience, choose the Blazor (ASP.NET Core hosted) template....

It doesn't appear that the server-side tem

[2019-05-15 22:46] guardrex commented on #12435
Hello @bleachlizard ... It's not showing ...

<img width="603" alt="Capture" src="https://user-images.githubusercontent.com/1622880/57814362-132bf580-7739-11e9-80a3-4c929d17ee6d.PNG">

[2019-05-15 23:14] #12433 closed

[2019-05-16 00:35] bleachlizard commented on #12435
Interesting. I’m on the latest version of 16.0, but not 16.1, so maybe that’s the difference?

[2019-05-16 00:53] guardrex commented on #12435
I'm using 16.0.2, and I have it.

What does a `dotnet --info` show ... do you have the Preview 5 SDK?

[2019-05-16 02:04] bleachlizard commented on #12435
Thanks for responding, @guardrex . The 'Use preview SDKs' is indeed checked, but my preview SDK version is different -- I have the Preview 3. I'm actually surprised that Step 2 didn't fail then, as I did tell it to use 3.0.0-preview5-19227-01 per the instructions. I don't know enough about the dotnet command, so I presume it used the min of that version and my local version. I'm testing that theor

[2019-05-16 02:08] guardrex commented on #12435
Ah, yes. I think you'll find that that's the problem. 🤞

As for step 2 ...I guess it installs the templates without regard to the SDK installed as you found out. I've never tried running that command first, before the SDK preview install step.

[2019-05-16 02:25] bleachlizard commented on #12435
Yep, that was it! Thanks for the help, @guardrex .

In summary, you need at least the Preview 5 SDK, regardless of what version(s) you already have installed. Lesson learned :D

[2019-05-16 02:25] #12435 closed

[2019-05-16 03:55] AKlaus commented on #9897
@guardrex, doesn't it contradict to the definition of being self-contained?..

[2019-05-16 04:11] guardrex commented on #9897
@AKlaus "Self-contained" in the context of a .NET Core app just means that the app contains the .NET Core libs and runtime. It doesn't extend more broadly than that. The alternative, framework-dependent, requires a shared framework on the host. And note that self-contained doesn't include native dependencies on the host, so it really often requires even more than just the ANCM to run properly.

Se

[2019-05-16 05:18] gvaduha opened #12436 "There is no content in "Enable QR Code generation for TOTP authenticator apps in ASP.NET Core""
Page have only header and footer but no content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 117c950a-0bcb-d936-31cf-5859b4280abb
* Version Independent ID: 270bedc7-a636-5bd0-9e2f-e42235deec8c
* Content: [Enable QR Code generation for TOTP authenticator apps in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/c

[2019-05-16 05:21] gvaduha commented on #12436
This seems to be temporary problem, after several reloads it renders again.

[2019-05-16 05:21] gvaduha commented on #12436
This seems to be temporary problem, after several reloads it renders again.

[2019-05-16 07:54] voroninp opened #12437 "It is not clear how challenging works with multiple authentication schemes."
When I apply
[code]
Unauthenticated user gets redirected to login page.
However, when I change the order of schemes
[code]
Browser just gets:
&gt; HTTP401: DENIED - The requested resource requires user authentication.

So in what order are challenges applied?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee71441f-471a

[2019-05-16 09:30] voroninp opened #12438 "Is policy always required when specifying authentication schemes?"
As far as I understand, default policy only requires that user is authenticated. And I assume that if attribute is used like that (without specifying policy)
[code]
Default policy will be used. If so, I cannot understand why authorization fails for the razor page to which user is redirected after signing in.
When I specify policy:
[code]
everything works fine.

[code]

---
#### Document Details

⚠

[2019-05-16 09:41] The-DevOps-Guy commented on #12373
I hope this helps anyone else who finds this issue. I have fixed this. The issue was actually within the ApplicationUser class. While this might indicate the error raised is not reporting the underlying issue, the problem was the declarations for the navigation properties were typed with the **Identity**... rather than
the **Application**... derived types.

**Before**

`public virtual ICollection<

[2019-05-16 11:18] ajtowf commented on #9956
The docs is clearly missleading, quite frankly wrong in this case (https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.2), you definitely want to replace the db config/seed, which is done from ConfigureTestServices.

What happens otherwise is that ConfigureServices in the CustomWebAppFactory fires first, where you setup an inmemory db or whatever, then ConfigureSe

[2019-05-16 13:59] guardrex commented on #9956
@ajtowf It's more nuanced than that. It depends on your approach to "seeding." The SUT (when it runs outside of tests) seeds in `Program.Main`, and that code doesn't run under testing, so it doesn't replace/modify the seeding performed by initialization code in the tests.

Don't get me wrong there tho: I agree with your remarks on `ConfigureTestServices` ... it's covered ... but it needs *better*

[2019-05-16 14:19] VictorioBerra commented on #9956
`PostConfigureServices` would have been a much better name I think.

[2019-05-16 14:21] guardrex commented on #12430
@DanJ210 Engineers are busy ... I'm marking this with the "PU" label ("Product Unit"). When they get some time, they'll look and let us know.

[2019-05-16 14:43] niranjan17892 opened #12439 "Implementing Asp.Net Core 2.2 Identity for Angular SPA"
I have an existing application with ASP.Net Core 2.2 and Angular 7 SPA. I want to implement Identity Authentication to it. Is there any way to achieve it ? Or is JWT is the only way to do so ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21cb7455-3305-9316-5440-bdc22947a82d
* Version Independent ID: 137d4b94-7b26-391

[2019-05-16 14:51] niranjan17892 opened #12440 "Implement Asp.Net Core 2.2 Identity with Angular SPA"
Hi,

I have an existing application with .Net Core 2.2 and Angular 7 SPA. I wanted to implement Authentication using .Net Core Identity, is there any sample or documentation which I could use or refer to ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94bfd895-d2af-390b-0801-428b36a27ff4
* Version Independent ID: 0e0d

[2019-05-16 15:20] javiercn commented on #12439
Authentication and Authorization for SPAs is a 3.0 only feature. That said, it should be possible to reuse the pieces already available to some extent to create your own implementation. For authenticating and authorizing SPA applications JWT is the way to go.

[2019-05-16 15:20] #12439 closed

[2019-05-16 15:25] #12188 closed

[2019-05-16 15:27] niranjan17892 commented on #12439
Thank you!

[2019-05-16 15:44] grouchobear commented on #8558
I'm a little late to the game here but I'm seeing an issue with InteliSense showing
**ViewData does not exist in the current context**
when I create the Welcome view.  The application runs as expected, it's just a little offsetting to see the code appearing to be in err.
This is occurring in VS2017 v15.9.12

[2019-05-16 16:08] itanex commented on #12379
That was supposed to be Head not Header.

Also, if the only way is JavaScript InterOp, than Blazor sites may not be friendly enough for SEO solutions, `<meta>` tags are just one of the items I have to deal with when it comes to that. Static Pages, sure that's one thing, the tags don't change dynamically. I am looking through the AspNetCore issue list for the correct approach.

[2019-05-16 16:12] guardrex commented on #12379
Excellent feedback ... I look forward to hearing their answer to your question.

[2019-05-16 16:58] AskYous opened #12441 ""Rating" column not being added when running: dotnet ef database update"
Note: I use a Mac.

1. I edited the Movies.cs file to include a new `Rating` field.
2. I deleted `MvcMovie.db`.
3. I ran `dotnet ef database update`.
4. The same schema is made as before. No `Rating` column.

I even tried adding 5 more fields just to test it. It seems to completely ignore my `Movies.cs` file.

* Here is a video of me trying to add the field: https://youtu.be/zgqLaseEK5Y
* Here is

[2019-05-16 17:07] stewa11 opened #12442 "Just had my mind blown."
.Net Core looks sooo good, but it's difficult to absorb all in one go.
Thank you for making the EF lightweight.

Just installed VS2019 and created my first .Net Core project. What a clean, professional it looks too. It all looks so impressive.

I am not a great fan of HTML tag-based 'generators' like Razor. I prefer to work in JavaScript. On the other hand I am looking for productivity and flexibi

[2019-05-16 17:14] AskYous commented on #12441
I noticed that when I attempted to add the column manually using a database client app, it gave the error:

I don't know if this is related.

[2019-05-16 17:26] The-DevOps-Guy commented on #12373
That said, Add-Migration is creating a erroneous UserID1 field across all tables.

i.e.
`                    table.ForeignKey(
                        name: "FK_AspNetUserRoles_AspNetUsers_UserId1",
                        column: x => x.UserId1,
                        principalSchema: "asp_security",
                        principalTable: "AspNetUsers",
                        principalColumn:

[2019-05-16 17:55] AskYous commented on #12441
For now, I solved my problem by deleting the migrations folder and running
[code]

[2019-05-16 17:56] Rick-Anderson commented on #12442
Thanks for the comment.

[2019-05-16 17:56] #12442 closed

[2019-05-16 18:10] Rick-Anderson commented on #12441
That works. In the next sweep we'll have SQLite instructions.
Covered in #10758

[2019-05-16 18:10] #12441 closed

[2019-05-16 21:00] guardrex commented on #9696
@Tratcher Working this now ... can u give me a tip on service events?

I tried it this way ...

[code]

[code]

[code]

It looks like it starts the service (e.g., I see `OnStart` in Event Viewer), but nothing runs ... no app responses, no background services running.

[2019-05-16 21:16] Tratcher commented on #9696
Do we really need the custom service example? It's given a strange level of prominence in the doc.

The 1st class story is much cleaner:
[code]

Also RunAsync needs to be `await`'d.

[2019-05-16 21:28] guardrex commented on #9696
Sounds good to me. I'll have it in tomorrow.

[2019-05-16 21:30] guardrex commented on #9696
Ah ... I see what you mean.

It no-ops if it isn't running as a service. Gotcha.

[2019-05-16 22:53] Eilon opened #12445 "No info on how to do Blazor server side with Azure SignalR service"
This page is pretty low on info in general. It would be great to have info here on the changes I need to make for my server side Blazor app to run on Azure (or another host). In particular, I want my app to work 100% locally when I do dev, and use Azure SignalR when I deploy to SignalR. This includes doing secure credential storage and all the best practices.

---
#### Document Details

⚠ *Do not

[2019-05-16 22:54] Eilon commented on #12445
@danroth27

[2019-05-16 23:34] simranali commented on #11725
I had the same issue, I just removed https connection in launch.josn file and leave http
 "applicationUrl": "https://......, http://...",

[2019-05-17 03:33] chartierpw commented on #11725
@halter73

Startup class:

    public class Startup
    {
        public Startup(IConfiguration configuration)
        {
            Configuration = configuration;
        }

        public IConfiguration Configuration { get; }

        // This method gets called by the runtime. Use this method to add services to the container.
        public void ConfigureServices(IServiceCollection services)