[2019-06-05 19:31] Rick-Anderson commented on #12699
@BenGelton  can you create a new project and test scaffolding? Just create a project and add a model, for example  just add the `Movie` model:

https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-2.2&tabs=visual-studio

Then scaffold.

[2019-06-05 19:32] Rick-Anderson opened #12719 "Add static content instructions"
Add static content instructions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37b02665-c8ab-bd91-8057-3b07b4e238d3
* Version Independent ID: e4f176f5-0b94-d532-53d5-cffce437961a
* Content: [Razor components class libraries](https://docs.microsoft.com/en-us/aspnet/core/blazor/class-libraries?view=aspnetcore-3.0&tabs=vi

[2019-06-05 19:33] isaac2004 opened #12720 "Cookie Consent removed from Template in 3.0"
Per https://github.com/aspnet/AspNetCore/issues/10346 the Cookie Consent section will be removed in ASP.NET Core 3.0. This doc will need to be updated to mention this and note how to add necessary bits.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28d0490e-205f-20a5-ace5-904f4c8ad78f
* Version Independent ID: 4a2c8d9

[2019-06-05 19:41] guardrex commented on #12719
Moving https://github.com/aspnet/AspNetCore.Docs/issues/12486 to this issue?

[2019-06-05 19:45] #12652 closed

[2019-06-05 19:46] BenGelton commented on #12699
Still get the code generator error, if you want direct access to the
machine I can arrange.

On Thu, Jun 6, 2019 at 7:32 AM Rick Anderson <notifications@github.com>
wrote:

<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.App" />
    <PackageReference I

[2019-06-05 19:48] scottaddie commented on #12720
@isaac2004 Please let Rick know if you'll be submitting a PR. I'd hate to have him spend time on it if you're already working on it.

[2019-06-05 19:48] guardrex commented on #12652
@scottaddie I'd like to go live to close out that email chain, but I think a to-live PR will :boom: with that GDPR warning. Should I try to figure out what's what with that and get it fixed?

[2019-06-05 19:50] isaac2004 commented on #12720
@Rick-Anderson PR already submitted

[2019-06-05 20:02] guardrex commented on #12652
@scottaddie Nevermind ... I think this is just that false positive for tabs ...

https://github.com/aspnet/AspNetCore.Docs/runs/142385981

[2019-06-05 20:12] hongzewangpa opened #12723 "Update Scaffold Identity to 3.0"
I am using VS 2019 v16.0.4

If we create a web app and selecting Individual User authentication, it works well. However, if we add Identity scaffording to an existing asp.net mvc core 3 app. The app simply return 404 blank page after all changes made in this article.

Thanks,
Hz

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-06-05 20:15] Rick-Anderson commented on #12699
`    <TargetFramework>netcoreapp2.1</TargetFramework>` should be
`    <TargetFramework>netcoreapp2.2</TargetFramework>`

You've got the 2.2 SDK installed. Something is wrong with the way it's generating projects. Do you have a *global.json* file setting it to 2.1?

What is the `TargetFramework` when you create a new project on the command line with

[code]

[2019-06-05 20:17] wadepickett commented on #12675
@Rick-Anderson, yes, thank you!

[2019-06-05 20:27] guardrex commented on #12652
Nope ... I can't find a PR that's failing on this today. Let's hope it's just a point-in-time thing.

[2019-06-05 20:37] BenGelton commented on #12699
Hi Guys,
I have to go to work.
I will be away from my machine for the next 12 hours but can receive email.
I am keen to resolve this, details below
Thanks talk later
Cheers
Ben

PM> dotnet tool install -g dotnet-aspnet-codegenerator
error NU1101: Unable to find package dotnet-aspnet-codegenerator. No
packages e
xist with this id in source(s): C:\Program
Files\dotnet\sdk\NuGetFallbackFolder
, Micro

[2019-06-05 20:38] #12618 closed

[2019-06-05 20:40] manivannan89 opened #12725 "Update to Book.cs model is needed"
**Model - Book.cs**

The code example given in the file has the wrong BsonElement attribute. It needs to be updated as below

[code]

1. **Name** should be changed to **bookName**
2. All other elements should start with small letters.

_This issue is raised based on the final TEST step._

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-06-05 20:45] BenGelton commented on #12699
I do have a stack of global.json files for some reason?
First one opened showed the following...others have different versions

{
  "sdk": {
    "version": "2.2.100"
  }
}

On Thu, Jun 6, 2019 at 8:37 AM ben gelton <geltonben@gmail.com> wrote:

[2019-06-05 21:09] #12142 closed

[2019-06-05 21:10] krchome commented on #12698
I followed your tutorial step by step and created the app, Scaffolded the Register, Login, Logout pages. Then as per the Test Identity section wrote as follows:

Microsoft.AspNetCore.Authorization;
using Microsoft.AspNetCore.Mvc.RazorPages;

namespace WebApp1.Pages
{
    [Authorize]
    public class PrivacyModel : PageModel
    {
        public void OnGet()
        {
        }
    }
}
When the app

[2019-06-05 21:13] Rick-Anderson commented on #12723
ASP.NET Core 3.0 probably needs more work.

[2019-06-05 21:40] krchome commented on #12698
I am using Visual Studio 2017 where putting [Authorize] as an attribute on the Privacy page is showing a compile-time green squiggly "AuthorizeAttribute cannot be applied to Razor Pages handler methods....."
Probably I shall need to upgrade to VS2019 to get it going.

[2019-06-05 21:48] Rick-Anderson commented on #12698
Apply it to the class.

[2019-06-05 21:48] Rick-Anderson commented on #12698
Per the article
[code]

[2019-06-05 23:48] #12716 closed

[2019-06-06 02:05] seancpeters commented on #12699
From the output of creating the webapp project using dotnet new, it appears that you don't have nuget.org configured as a package source. This could also cause the package restore error while scaffolding in Visual Studio.

[2019-06-06 02:43] hongzewangpa commented on #12723
Hi Rick,
Is there an estimate time of update to this?
Thanks,
Hz

[2019-06-06 03:58] #8244 closed

[2019-06-06 04:15] danroth27 commented on #12690
Components are just classes. They really can go anywhere you want. I just figured we already had one random folder in the template for non-page components that there was no reason to create another one for this tutorial.

[2019-06-06 05:19] bradygaster commented on #9549
That is correct @Tratcher - not 3.0 specific. i am not sure it has yet been deployed, but can check with the team during our sync.

[2019-06-06 05:23] bradygaster commented on #12445
Here are a few that are definitely worth of linking-to:

* https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-dotnet-core
* https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-overview?toc=%2Faspnet%2Fcore%2Ftoc.json&bc=%2Faspnet%2Fcore%2Fbreadcrumb%2Ftoc.json&view=aspnetcore-2.2
* https://docs.microsoft.com/en-us/azure/azure-signalr/ (intro)

If we should create anyt

[2019-06-06 05:29] bradygaster commented on #12679
@gopala000 are you also thinking of using the Azure SignalR Service? @chenkennt wrote a great blog post describing some new features like stickyness. see the post here: https://devblogs.microsoft.com/aspnet/whats-new-in-azure-signalr-1-1-0-preview-1/

If that's not what you're after let me know and i'll get more info for you on non-ASRS stickness.

[2019-06-06 06:19] bradygaster commented on #12651
thanks for the report @khteh - could you let us know which distro of linux you're using?

[2019-06-06 06:53] khteh commented on #12651
https://github.com/aspnet/AspNetCore/issues/10873

[2019-06-06 07:28] jiggyswift opened #12726 "withAutomaticReconnect not at all clear"
This document in the "Hosting models" section needs to be cleaned up and is not at all clear with regards to setting default for automatic reconnection.  The documentation includes this code:
 Blazor.start({
    configureSignalR: function (builder) {
      builder.configureLogging(2); // LogLevel.Information
    }
And this code to enable with automatic reconnection:
const connection = new signalR.

[2019-06-06 11:36] guardrex commented on #12726
Hello @jiggyswift ... Two of the sections were accidentally placed in this topic. The coverage was really for SignalR, and SignalR docs received the coverage on the last preview release. Therefore, we just removed those two sections in this topic on https://github.com/aspnet/AspNetCore.Docs/pull/12717/files yesterday.

Yes, on (a) ... you are correct. "chatHub" applies to the SignalR examples in t

[2019-06-06 13:12] eriawan commented on #8585
@hishamco

Apologize, I have been too busy for 5 months of work related (mostly focusing on cloud and DevOprs work), and traveling a lot for the last 2 months. I have had a working code with some explanation on my side on ASP.NET Core 2.2.

Will load on my Gist first this week and I may need some help from you.

Thanks for being patience! 🙏 👍

[2019-06-06 13:26] Svetomechc commented on #12439
@niranjan17892 https://gitlab.com/Svetomechc/angularidentityserver

[2019-06-06 13:27] hishamco commented on #8585
Anytime .. You can push what you come up with and review it, draft PR may suitable for this case

[2019-06-06 13:29] Svetomechc commented on #11284
Ported this over to .NET Core 2.2 / Angular 8
https://gitlab.com/Svetomechc/angularidentityserver

[2019-06-06 13:31] Svetomechc opened #12727 "Token expiration"
Is it possible to configure? No mention on the docs page.

I have some unwanted behaviour: my frontend shows you are logged in whereas in fact the token is already expired and backend sends 401 Unauthorized.

See example (upper left corner - credentials and logout button):

![image](https://user-images.githubusercontent.com/36156020/59050353-d31ce600-8892-11e9-84c5-7f49881c3632.png)

This seems li

[2019-06-06 13:39] Svetomechc commented on #12727
Related question: is it possible to use refresh tokens here?

[2019-06-06 14:43] #10502 closed

[2019-06-06 14:43] #12190 closed

[2019-06-06 15:28] tdykstra opened #12729 "What's new in ASP.NET Core 3.0"
New article.

[2019-06-06 15:34] #12690 closed

[2019-06-06 15:46] #12713 closed

[2019-06-06 16:09] natemcmaster commented on #12729
Oh yeah, forgot I had started drafting that. I made an initial start on it and got sidetracked by more pressing matters. @scottaddie let's sync up sometime soon, if you're free. I'll be going on paternity leave a week from today, so I'm unlikely to finish up the work I started in https://github.com/aspnet/AspNetCore.Docs/commit/22e6ed8b58988717ec0acb8ec2d4429a1d921776

[2019-06-06 16:27] guardrex commented on #12126
@Andrzej-W It seems the PR that I put in *almost completely* resolved this. Engineering (and docs) are 100% :+1: with `EventCallback` coverage now.

* `Action<T>` is **_outta there!_** ⚾️ That's updated to `EventCallback`.
* For `EventCallback` versus `EventCallback<T>`, we have:
  * > `EventCallback<T>` is strongly typed and requires a specific argument type. `EventCallback` is weakly typed and a

[2019-06-06 17:48] gopala000 commented on #12679
Thanks for your response. I'm not planning to use Azure SignalR Service. My scenario is

1. Request originate from browser client
2. Proxy translates it to a new signalR request to background service
3. Background service process the request and sends the response to client

The example in the content under heading "React to signalR events with background service" has a "break" statement in while

[2019-06-06 17:59] mmezei opened #12733 "allowAnonymous set to false causes 401 on CORS OPTIONS preflight request - better to allowAnonymous to be set to true and use Authorize attribute"
Looks like directives on this page to turn off anonymous access does not work well for POST/PUT requests. I noticed this for the POST that occurs as part of **SignalR** negotiation but I believe it is true for any POST/PUT requests. On an angular 7 app running on chrome and using the angular http client, it causes a 401 as it tries unsuccessfully to negotiate NTLM authentication on the CORS OPTION

[2019-06-06 18:00] guardrex opened #12734 "Enhance service registration scenario coverage"
The topic isn't specific/clear on the different service registration scenarios (`Add{LIFETIME}` extensions). Seems like a section should be here called "Service registration scenarios" (or similar) that explains the service extensions in more detail than what is found via the code remarks that appear in the API Browser.

For the reader feedback, see @MarkStega's comments on https://github.com/aspn

[2019-06-06 18:07] mmezei opened #12735 "Windows authentication does indeed work for browser (javascript) client on chrome - doc says it does not."
Windows authentication does indeed work for browser (javascript) client on chrome - doc says it does not. I am using chrome version  75.0.3770.80 and @aspnet/signalr version 1.1.4 - according to this doc: "Windows Authentication is only supported by the browser client when using Microsoft Internet Explorer or Microsoft Edge." That does not seem to be the case which is a good thing of course...

--

[2019-06-06 18:07] guardrex commented on #10772
@danroth27 Looking this over. TL;DR ...

* Service registration scenarios are better for the main DI (services) topic, not here imo. Here, I think it best for us to concentrate on one quick example (that we have) and Blazor-specific scenarios (that we also have). I've opened https://github.com/aspnet/AspNetCore.Docs/issues/12734 to work on the DI service extension coverage in the ASP.NET Core DI (

[2019-06-06 18:08] guardrex commented on #10770
Marking for the PU to address.

[2019-06-06 18:56] shirhatti opened #12736 "gRPC code generation and tooling"
We need to document the the gRPC code generation and tooling experience

cc @JunTaoLuo

[2019-06-06 20:42] guardrex opened #12737 "Revert remark on container images in proxy/LB topic"
Revert remark ...

... when new container images land in Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e548cd16-b06c-5802-a1a7-c627167857ae
* Version Independent ID: c48abb08-bea3-dcff-c067-2edf5dc9b3a6
* Content: [Configure ASP.NET Core to work with proxy servers and load balancers](https://docs.microsoft.com/

[2019-06-06 20:43] vancy-pants opened #12738 "In 3.0, manually change VS to use data over models folder"
I'm working through this tutorial for mac. For the "Add a database context class" step, should the folder be "Models" instead of "Data"? The step references the folder as if it's already been created. Also, are we to use the General &gt; Empty Class method to add the file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-06-06 20:48] ajaybhargavb opened #12739 "[Preview 6] Add documentation for @attribute, @code and @namespace directives"
`@code`(Blazor) - https://github.com/aspnet/AspNetCore/issues/6361
`@namespace`(Blazor) - https://github.com/aspnet/AspNetCore/issues/8007
`@attribute` - https://github.com/aspnet/AspNetCore/issues/10393

[2019-06-06 20:52] ajaybhargavb commented on #12739
Note: There is currently a known issue with `@attribute` directive not working in `_Imports.razor` and `_ViewImports.cshtml`.

[2019-06-07 00:51] kcliffe opened #12743 "Code snippet error"
In the MyKeysContext snippet, is ApplicationDbContext meant to be MyKeysContext?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59850a13-1322-0c54-9fd3-75ce837c2b1a
* Version Independent ID: 7d481dae-d27d-909c-a35d-bad66c7508d2
* Content: [Key storage providers in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/c

[2019-06-07 02:59] scottaddie commented on #11063
Removed the app and branch protection rule on _master_ from our repo. Let's use Draft PRs, when possible, from this point forward.

[2019-06-07 02:59] #11063 closed

[2019-06-07 05:31] Rick-Anderson commented on #12738
It doesn't matter. Running the scaffolder from VS uses the wrong namespace - but it doesn't matter. I'll clarify that in the next update.

[2019-06-07 05:36] bradygaster opened #12744 "Add Azure SignalR Service to the SignalR publish-to-Azure page"
Adding @guardrex and @danroth27 to this request. Dan and I were discussing the ways we could round out the docs on the upcoming Blazor and VS updates around SignalR and the Azure SignalR Service (ASRS). The [Publish to Azure](https://docs.microsoft.com/en-us/aspnet/core/signalr/publish-to-azure-web-app?view=aspnetcore-2.2) article should be updated to include screen shots of the SignalR provisioni

[2019-06-07 05:46] bradygaster commented on #12744
adding @vijayrkn to the discussion. @vijayrkn it'd be helpful to have some of the latest UI for this doc when they're available. I grabbed a few screen shots from existing testing manuals in case @guardrex can't replicate this (or improve upon these).

Updated publish start:
![image](https://user-images.githubusercontent.com/41929050/59083562-b7bed480-88ac-11e9-942b-e8157cdaaf63.png)

Updated prov

[2019-06-07 05:58] danroth27 commented on #10770
I think that the only thing that really needs to be documented here is to note that for all of the async component lifecycle events any async actions performed in those event may not have completed before the component is rendered. So you need to make sure your rendering logic accounts for that (ex values still being retrieved may still be null or not defined yet). Typically this means writing som

[2019-06-07 06:03] danroth27 commented on #10772
The different patterns for service registration should be covered in the DI docs. I agree we can close this one.

[2019-06-07 06:03] #10772 closed

[2019-06-07 09:48] KannanMaheswaran opened #12745 "Docker on Windows Containers Not Working"
When we try to build the image in Linux Containers using the sample app it is working however it is not working when you switch to Windows Containers and gives the message "no matching manifest for unknown in the manifest list entries".

Can you help on this?

Environment:
Installed Docker Client on Windows 10 and Docker Engine Version is 18.09.2
Image to pull: mcr.microsoft.com/dotnet/core/sdk:2.

[2019-06-07 14:13] serpent5 opened #12747 "Confusing between UseAuthentication and UseAuthorization."
Should this read?:

The authorization middleware being `UseAuthorization` rather than `UseAuthentication`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76f39eec-9dd1-6167-56ec-47b26e0b5063
* Version Independent ID: f9f2b0f3-01eb-cf58-8767-194fe0fc0e44
* Content: [Migrate from ASP.NET Core 2.2 to 3.0 Preview](https://

[2019-06-07 14:40] guardrex commented on #12744
Let me verify the plan and ask a few ? ...

[Publish an ASP.NET Core SignalR app to an Azure Web App](https://docs.microsoft.com/aspnet/core/signalr/publish-to-azure-web-app?view=aspnetcore-2.2)

1. The plan is to update the single example shown in the topic for a Blazor app with screenshots provided above that will apply to an upcoming round of Azure Portal and VS updates. We're not **_adding_**

[2019-06-07 15:10] Lokesh-Eisen opened #12748 "error in startup at beginning"
additional things to add for clarity.

right after the require authenticate users heading
 config.Filters.Add(new AuthorizeFilter(policy));

 in create starter app mention the fact that you have to create authentication folder with the necesarry
code here:

https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/security/authorization/secure-data/samples/starter2.1/Authorization/ContactOp

[2019-06-07 15:27] Lokesh-Eisen commented on #12748
problem fixed could you highlight this line of code as well to reduce confusion
services.AddMvc(config =>
    {

[2019-06-07 16:00] mkArtakMSFT opened #12749 "Document why HSTS middleware is not suitable for APIs"
This issue came up from the conversation related to this issue: https://github.com/aspnet/AspNetCore/issues/8533

[2019-06-07 16:05] #12069 closed

[2019-06-07 16:11] bradygaster commented on #12744
Close - IMO,

1: No, this would be just an update to this doc. That said, I **don't mind your idea of a new doc at all**. Whatever you do, do, I'd love to have copies of the publishing part in **this** doc.
2: After reading this one, I agree with your #1, that a Blazor-specific doc would be in order, as there'd be too many differences. Once the Blazor fire is no longer... uh... _ablaze?_ - maybe w

[2019-06-07 17:09] guardrex commented on #12744
I left out a phrase that would've helped. When I typed "adding a separate Blazor example (for two examples)" ... I should've added "**_in this topic_**."

We can have one topic (this one) if you want ... we just version the content. The older content (current bits with new VS and Azure UI screenshots) for <3.0 and then add the new content versioned for >=3.0.

For the two-topic concept: This topic

[2019-06-07 17:30] Rick-Anderson commented on #12748
@Lokesh-Eisen  this is an advanced tutorial.

[2019-06-07 17:30] #12748 closed

[2019-06-07 17:34] guardrex commented on #12747
Noting in passing that the named middlewares are proper nouns in case this goes forward (e.g., "Authorization Middleware").

[2019-06-07 18:13] banta-isaiah opened #12751 "Small typo under 'Create Razor Pages Web App' heading"
"Name the project RazorPagesMovie. It's important to name the project RazorPagesMovie so the namespaces will match when you copy and paste code code."

The word 'code' is displayed twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a25bf940-8977-fec4-461b-542a9f550fc8
* Version Independent ID: 5492c641-af15-64b8-bea

[2019-06-07 19:00] tdykstra commented on #12744
LGTM

While you're at it, you could move the SignalR Publish to App Service node to the Hosting and scaling node.

[2019-06-07 19:12] guardrex commented on #12744
Sure thing.

@bradygaster Just need you (perhaps with @tdykstra) to make the final call ... this can go either way ...

* Put the Blazor example, text, and screenshots in as updates to the **existing** *Publish an ASP.NET Core SignalR app to an Azure Web App* topic versioned for >=3.0, while the current 2.2 content in the topic remains there versioned for <3.0 with updated screenshots and text for

[2019-06-07 20:11] #12486 closed

[2019-06-07 20:11] #12719 closed

[2019-06-07 20:15] Andrzej-W commented on #12126
@guardrex In `Event handling` section, `EventCallback` subsection below second example we have this sentence:

I think that `selected` should be changed to `clicked`. `Selected` in case of button for me means `button got focus` but here button have to be clicked (or tapped on touchscreen).

A few lines below we have this sentence:

I have to say that I don't understand this sentence at all. It sug

[2019-06-07 20:21] guardrex commented on #12126
Can't change that ... Microsoft documentation guidelines call for "selected." We have to say "focused" (for focused) and "selected" (for clicked).

@danroth27, do we need this retain this remark?

[2019-06-07 20:26] Lokesh-Eisen commented on #11841
kind of late but from this document
from this document:
 IR = await userManager.AddToRoleAsync(user, role);
if youre still confused in visual studio click on userManager and view definition and you should be able to read exactly how the method works in the comments. obv they don't show you the code because then they would be making themselves vulnerable to hackers

[2019-06-07 20:35] Rick-Anderson commented on #11841
@Lokesh-Eisen all that code is available on GitHub.

[2019-06-07 20:38] Lokesh-Eisen opened #12754 "works in an unintened way when not signed in."
so If hit allow anonymous  the unloggedin user should be able to view the content  as long as items are approved and the edit and delete buttons should not be displayed.

This works propperly for a user who is signed in with no role, but works improperly for a nonregistered user. Any idea why this might be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-06-07 20:42] Lokesh-Eisen commented on #12754
like when I go to the webpage I see this right now:
https://imgur.com/gallery/3cSETC7

[2019-06-07 20:53] Lokesh-Eisen commented on #12754
if (currentUserId == null) {
                contacts = contacts.Where(c => c.Status == ContactStatus.Approved);
            }

fixxed that with a simple^ but I can still try to click on the edit links before it prompts me to log in?

[2019-06-07 20:56] Lokesh-Eisen commented on #12754
should I ideally have another operation handler for when not signed in?

[2019-06-07 22:45] danroth27 commented on #12744
@guardrex @bradygaster This doc is about publishing apps that SignalR to Azure generally, so I don't think we should cover Blazor here. We have separate Blazor host & deploy topics for that (which could reference this doc). I think we should keep this doc generic for SignalR.

[2019-06-07 22:54] #12739 closed

[2019-06-08 00:30] yogeshdotnet commented on #11860
As you applied @RenderSection("Scripts", required: false)
 then this section may or may not be to add in razor view or pages and depends on your need, but if we apply required: true in @RenderSection method then it will be mandatory to apply on every page where this layout page is used.

[2019-06-08 01:00] ajaybhargavb opened #12755 "[Preview 6] Blazor: document '@key' attribute"
While working on directive attribute documentation, I realized there was no documentation for the key attribute in blazor. More context here https://github.com/aspnet/AspNetCore/issues/8232.

@danroth27 @SteveSandersonMS

[2019-06-08 02:50] Rick-Anderson commented on #12754
There might be some imperfections in the app.
Can you tell me exactly what's wrong with the sample download?

[2019-06-08 03:24] rynowak commented on #12530
@guardrex - this should go into preview 7. The language feature didn't make it.

The changes that we did get in is that the form controls now support arbitrary attributes. I'll send a PR for that small update.

[2019-06-08 10:10] tndata opened #12759 "Error in the text"
This sentence seems to confuse authentication and authorization.

"We recommend placing the authorization middleware (UseAuthentication) immediately before UseAuthorization. Authorization middleware can also be configured with a default policy, which can be overridden."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76

[2019-06-08 10:46] DerHulk commented on #12561
Hello @guardrex , docu is up to date now, thx.

[2019-06-08 11:06] bogan opened #12761 "Azure App Service provider section needs to updated to reflect recent Azure Portal changes"
The "Azure App Service provider" section refers to the "Diagnostic Logs" section in the Azure Portal. I could not find a Diagnostic Logs section but did find an "App Service logs" section with the same settings described in the documentation. I assume that the Azure Portal has been changed but the documentation has not been updated to reflect the portal changes.

---
#### Document Details

⚠ *Do n

[2019-06-08 14:01] guardrex commented on #12530
@rynowak Gotcha ... thx.

We'll leave this on-hold then in the Blazor project with an updated title "[Preview 7]."

https://github.com/aspnet/AspNetCore.Docs/projects/35

[2019-06-08 14:19] guardrex commented on #12744
Excellent ...

* I'll use the screenshots from the issue to get the ball rolling.
* Locations are:
  * Physical: `aspnetcore/host-and-deploy/blazor`
  * TOC: **Blazor** > **Host and deploy** > **Azure SignalR Service**
  * UID: `host-and-deploy/blazor/publish-to-azure-web-app`
* It will go in as a draft PR given that I presume we'll need to confirm screens are correct when VS and Azure Portal UIs

[2019-06-08 14:49] serpent5 commented on #12761
Dupe of #12747.

[2019-06-08 14:50] serpent5 commented on #12759
Dupe of #12747.

[2019-06-08 15:06] guardrex commented on #10770
**Note to PU**: I can write this based on the guidance :point_up:. If you'd prefer to pass it to me, drop the PU label and assign it to me.

[2019-06-08 16:13] davidfowl commented on #12761
Yes this changed in the last week or so

[2019-06-08 16:56] nupurndas opened #12763 "Network request failed error when I m trying to call .net core api from react native fetch"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdbdf1ed-c52a-3be8-1f41-aecbdab0883b
* Version Independent ID: d06996cc-14aa-96e2-fd62-9d5bbc059107
* Content: [Create backend services for native mobile apps with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mobile/native-mobile-backend

[2019-06-08 17:14] #12759 closed

[2019-06-08 17:33] tdykstra commented on #12744
Yes, best to be consistent.

[2019-06-08 17:49] guardrex commented on #12744
I just discovered working thru these updates ...

We don't even need a Blazor version if this avoids screenshots showing naming (i.e., "Blazor").

Let's try it on the upcoming PR and see how it goes.

[2019-06-08 18:46] serpent5 commented on #12747
Apologies. I referenced this issue from the wrong issue. I deleted the comment but the first, erroneous reference above remains. 😦

[2019-06-08 20:48] danroth27 commented on #10770
@guardrex it's all yours :smiley:

[2019-06-09 05:03] danroth27 commented on #12126
I think this sentence can be removed, especially if it's causing more confusion than good

[2019-06-09 11:58] guardrex opened #12766 "[Preview 7] Blazor directive updates"
* Drop '@' from values. https://github.com/aspnet/AspNetCore.Docs/pull/12756#discussion_r291826971 and https://github.com/aspnet/AspNetCore/issues/10909
* Drop `@(...)` syntax. https://github.com/aspnet/AspNetCore.Docs/pull/12756#discussion_r291826921

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7

[2019-06-09 14:19] vthokie93 opened #12767 "Step 3 Visual Studio Default Project Does Not Compile"
Followed instructions through step 3 using Visual Studio, but the project does not compile.  Fails with error "The type or namespace name 'App' could not be found (are you missing a using directive or an assembly reference?)" in Startup.cs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06

[2019-06-09 14:21] guardrex commented on #12767
Hello @vthokie93 ... You must use the latest release of VS Preview available at: https://visualstudio.microsoft.com/vs/preview/

[2019-06-09 14:21] #12767 closed

[2019-06-09 16:30] serpent5 opened #12768 "Lazy initialisation with built-in DI."
The above is listed as one of the features not supported by the built-in container, but the built-in `AddXXX` methods all have overloads that can take a `Func<IServiceProvider, T>`, which I believe is initialised lazily. e.g. [`AddSingleton`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.servicecollectionserviceextensions.addsingleton?view=aspnetcore-2.2#Micr

[2019-06-09 17:28] joshlang opened #12769 "Clarify lifecycle events"
In the docs here: https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#lifecycle-methods … 3 lifecycle methods are covered.

Because of the way it's written, I was confused and thought the lifecycle events are called in order... `OnInit` (once), then `OnParametersSet` (often), then `OnAfterRender` …

I was also confused because some examples used Parameters in OnInit(

[2019-06-09 19:13] guardrex opened #12773 "Clarify lifecycle events"
*From @joshlang on https://github.com/aspnet/AspNetCore.Docs/issues/12769* ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent ID: 9d945996-ad02-bd4b-58ea-c465cc5cc74c
* Content: [Create and use Razor components](https://docs.microsoft.com/en-us/aspnet/core/blaz

[2019-06-09 19:15] guardrex commented on #12769
Moved to https://github.com/aspnet/AspNetCore.Docs/issues/12773.

Thanks for opening @joshlang . FYI for future issues: If they're opened from the **This Page** feedback button at the bottom of the topic, it tags the issue with metadata that helps us track the work.

[2019-06-09 19:15] #12769 closed

[2019-06-09 19:18] guardrex commented on #12768
Thanks @serpent5 ... I'll mark this for the Product Unit to address.

[2019-06-10 11:06] Svetomechc commented on #12727
@javiercn, sorry to bother, but could you please share your thoughts?

[2019-06-10 12:55] Lokesh-Eisen commented on #12754
no nevermind feel free to close this. this was a problem with my own code not the document/sample was looking for help debugging.

[2019-06-10 14:37] AlbertoPa opened #12774 "Additional information need for apps using SignalR/WebSocket"
When Apache is used as proxy for apps relying on WebSocket:

- The mod_proxy_wstunnel module needs to be enabled
- The virtual host configuration needs to include additional settings to allow the WebSocket connection to be established. The example at the top of the page becomes something like:

&lt;VirtualHost *:*&gt;
    RequestHeader set "X-Forwarded-Proto" expr=%{REQUEST_SCHEME}
&lt;/VirtualHos

[2019-06-10 14:38] guardrex commented on #12774
Thanks @AlbertoPa ... I'll mark this for the Product Unit (PU label) to take a look at for coverage. They'll either work it directly on the next engineering doc sweep or give me instructions on what to cover where. Thanks for opening the issue.

[2019-06-10 16:03] #12754 closed

[2019-06-10 16:41] #11836 closed

[2019-06-10 17:08] javiercn opened #12778 "Add guidance on how to enable CSP for Blazor"
[EDIT by guardrex to add the topic metadata]

* We looked into enabling this on the templates but deemed it too hard.
* Instead we want to offer some basic guidance on how to use CSP within a project to protect against XSS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1a9f84a-feaa-d2b0-409a-01f75f9101a0
* Version Ind

[2019-06-10 17:12] javiercn commented on #12778
Some notes

As part of the security model for blazor server-side we are exploring how feasible is to use CSP to protect against XSS. CSP is a general security mechanism that informs the browser of what are valid sources for different content items loaded on a page or actions taken by a component on a page. For example, CSP can limit the the sources for scripts, stylesheets, images, etc. or limit t

[2019-06-10 17:39] RyanMH17 commented on #6401
@rohitiscancerian any news on that issue? getting the same thing here

[2019-06-10 17:56] serpent5 commented on #12778
On the off-chance you haven’t seen it before, it might be worth running the suggested policies though [Google’s CSP validator](https://csp-evaluator.withgoogle.com/). It complains about use of a host whitelist and a missing `object-src`. I understand that neither of those would be a high risk in this case but I just wanted to make the suggestion. Don’t feel obligated to respond if this is already

[2019-06-10 18:03] javiercn commented on #12778
@serpent5 Thanks that's a neat tool. The above policy is just an example and the result of me tinkering a bit. There is something more tightened that can likely be crafted.

[2019-06-10 18:18] guardrex commented on #12778
Plz correct the labels if I guessed wrong (e.g., this is for Pre6).

[2019-06-10 18:35] #12725 closed

[2019-06-10 19:00] timmi4sa opened #12783 "No backwards compatibility with default overload of Html.BeginForm(no params)"
This Core thing is annoying, the fact that we DID'T need to specify action name when using the default Html.BeginForm() helper method breaks a lot of things for us. Example: what if we need to rename some action, do we need to find all Views that contain that action's asp-action attribute?? Or worse, we use Create/Edit views a lot to avoid duplication of Razor logic, so now we have to indicate Act

[2019-06-10 19:12] guardrex commented on #12783
Hello @timmi4sa ... Your feedback is better for the product unit to see than for us. We just handle documentation issues here. Open your feedback at ...

https://github.com/aspnet/AspNetCore/issues

[2019-06-10 19:12] #12783 closed

[2019-06-10 19:47] TMSxGitHub opened #12785 "Missing Usage"
You should mention that one needs to add:
using System.Text.Encodings.Web;
to use HTMLEncoder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20264150-9ac7-2b21-3314-64ffa114410f
* Version Independent ID: 3477519b-1bc2-73be-33e3-63067383d426
* Content: [Add a controller to an ASP.NET Core MVC app](https://docs.microsof

[2019-06-10 19:53] arthas1888 opened #12786 "Context.UserIdentifier always is empty"
I've tried to test Users in SignalR however this param always is empty, where do I set this one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8d77892-d376-2f23-2634-f5d34d962a1e
* Version Independent ID: 92ed6330-b49f-1620-6beb-8556a78ac7da
* Content: [Manage users and groups in SignalR](https://docs.microsoft.com/e

[2019-06-10 19:59] BrennanConroy commented on #12786
`Context.UserIdentifier` will be null unless you have Authentication in your app. You can read about Authentication and Authorization at https://docs.microsoft.com/aspnet/core/signalr/authn-and-authz?view=aspnetcore-2.2.

By default SignalR will set `UserIdentifier` to the users `ClaimType.NameIdentifier`. You can override that behavior by providing your own implementation of `IUserIdProvider` in

[2019-06-10 20:07] scottaddie opened #12788 "Explain 2.2 approach to using partial views with Razor Pages"
Related to https://github.com/aspnet/AspNetCore.Docs/pull/12746. Need to explain what changed in ASP.NET Core 2.2.

[2019-06-10 20:37] rohitiscancerian commented on #6401
Guys, I have made it work. [https://stackoverflow.com/questions/55025654/net-core-api-with-ad-b2c-oauth-2-0-invalid-token-error/55103149?noredirect=1#comment99464777_55103149](Here) it is. I have got one up-vote. So, apparently its clear. Let me know if you need further details.

[2019-06-10 20:37] rohitiscancerian commented on #6401
[tesr](url)

[2019-06-10 20:42] JamesNK opened #12791 "Add CertificateAuthentication documentation"
Context: https://github.com/aspnet/AspNetCore/pull/9756 // @HaoK @blowdart

- Explain why this topic is needed.

New authentication mechanism added in 3.0 preview 6.

- Suggest a location in the Table of Contents.

https://docs.microsoft.com/en-us/aspnet/core/security/authentication

- Write an abstract. In one **short** paragraph, describe what this topic will cover.

How to setup an ASP.NET Core

[2019-06-10 20:43] RyanMH17 commented on #6401
@rohitiscancerian link looks broken

[2019-06-10 20:45] rohitiscancerian commented on #6401
[](url)

Just corrected it

[2019-06-10 20:51] arthas1888 commented on #12786
I did that, my users are authenticated, because my hub is not public

[2019-06-10 21:42] tdykstra commented on #12761
@bogan Thanks for reporting this, I'm fixing it now.

[2019-06-10 21:43] #12761 closed

[2019-06-10 22:18] tdykstra opened #12794 "Update Host section of Fundamentals overview"
Review and update as needed for 3.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e622e9-c567-00b9-3788-d6a01934b314
* Version Independent ID: 8e663029-63b9-2622-f852-9f8a2ec70db3
* Content: [ASP.NET Core fundamentals](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/?view=aspnetcore-3.0&tabs=windows#web-r

[2019-06-10 23:00] danroth27 opened #12795 "@namespace not covered in Razor syntax doc"
The @namespace Razor directive is missing from the Razor Syntax doc. It's covered in the Razor Pages doc (https://docs.microsoft.com/aspnet/core/razor-pages), but it should also be covered here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b87067b2-347c-072d-26c8-5a8c7c9c860b
* Version Independent ID: a0b3b70a-3b39-1

[2019-06-10 23:10] ryanski44 commented on #10214
@guardrex,

Can you check if the fix I presented in [aspnet/AspNetCore#2711] has been included? It was an obvious coding error that I was able to fix and test in a forked repository. We have been running my modified code on our production servers since last year, and we would love to be able to use the official Asp.NET Core Module again.

Here is the actual fix in my forked repository:

https://gi

[2019-06-10 23:25] guardrex commented on #10214
@ryanski44 That engineering issue is still open and on the backlog. You'll have to inquire with them on when they might take it on (or allow you to submit a PR for the change).

[2019-06-10 23:46] BrennanConroy commented on #12786
How are you doing authentication? Do authenticated users have a `NameIdentifier` claim?

[2019-06-10 23:49] guardrex commented on #12795
They're adding it on https://github.com/aspnet/AspNetCore.Docs/pull/12762.

https://github.com/aspnet/AspNetCore.Docs/pull/12762/files#diff-1e5e737d1940c4e0e1456cab8f97f03fR582

[2019-06-10 23:54] weitzhandler commented on #4964
Thank you Rick.

[2019-06-11 03:07] #10393 closed

[2019-06-11 03:11] Rick-Anderson opened #12797 "Remove screenshots"
Use outline like https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.2&tabs=visual-studio#scaffold-identity-into-an-empty-project does and add CLI tab

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ebb27a5-41cc-b64f-de68-2f0df6b02f8d
* Version Independent ID: 31de53

[2019-06-11 03:11] Rick-Anderson commented on #6401
**This make this docs a VS docs and not asp.net core docs :(**

The CLI steps are trivial. I opened  #12797 to track that.

[2019-06-11 04:10] Tovli commented on #6401
The VS steps are trivial as well :-)
Thanks for taking care of this

much appreciated

On Tue, Jun 11, 2019, 06:12 Rick Anderson <notifications@github.com> wrote:

[2019-06-11 04:29] FeodorFitsner commented on #12564
This is the solution: https://github.com/aspnet/AspNetCore/issues/11075

[2019-06-11 05:44] Alienroid opened #12798 "Build Action set to Content"
For some reason if I create a file with extention .razor, BuildAction always defaults to None. Good to note to others (maybe in the ToDo section) to make sure the file Build Action is set to 'Content'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e7dc3c-54c4-35de-203e-d230869e8417
* Version Independent ID: dc5b52d5-

[2019-06-11 05:53] Rick-Anderson commented on #6401
@Tovli did you look at #12797 ?

[2019-06-11 05:57] Tovli commented on #6401
yes,
This is what my thanks are for :)

‫בתאריך יום ג׳, 11 ביוני 2019 ב-8:53 מאת ‪Rick Anderson‬‏ <‪
notifications@github.com‬‏>:‬

--
Thanks,
Dekel

[2019-06-11 07:26] arthas1888 commented on #12786
I use authentication with openiddict core, and I put that claim in the ClaimsPrincipal when the token is being created

[2019-06-11 08:35] SteveSandersonMS commented on #12704
![image](https://user-images.githubusercontent.com/1101362/59255396-f0064000-8c29-11e9-8ab9-55074c08ec91.png)

![image](https://user-images.githubusercontent.com/1101362/59256591-2e046380-8c2c-11e9-8cfb-8dc50a0d253f.png)

[2019-06-11 08:38] zakaria-dz opened #12802 "Small typo under 'Consuming these interfaces' heading"
"the component take an IDataProtectionProvider" should be "the component takes an IDataProtectionProvider."
The "s" is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23af4f99-387c-b2f5-3d5b-3d98cfac247c
* Version Independent ID: 0d95b7b7-5e46-5718-ca09-bdae43c86963
* Content: [Consumer APIs overview for ASP.NE

[2019-06-11 08:59] Alienroid opened #12803 "Input Password generation"
InputText shows open text. Is there an input component for password? Also, how to add placeholder to Input components

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884-c1fe5c2ef52d
* Version Independent ID: 09a02d10-2834-467d-d8c2-3fd19ceb3863
* Content: [Blazor forms and validation](https://docs.m

[2019-06-11 09:00] Alienroid commented on #12803
Oops, I think #12660 answered this

[2019-06-11 09:03] AnR62 opened #12804 "Compiler error, withurl missing?"
This doesn't work, produces a compile error "Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1061	'HubConnectionBuilder' does not contain a definition for 'WithUrl' and no accessible extension method 'WithUrl' accepting a first argument of type 'HubConnectionBuilder' could be found (are you missing a using directive or an assembly reference?)	ConsoleApp.ConnectToHub	C:\Users\

[2019-06-11 10:50] SteveSandersonMS commented on #12704
OK, I've put a draft of this doc item here: https://gist.github.com/SteveSandersonMS/175a08dcdccb384a52ba760122cd2eda

@guardrex, is this enough for you to work with? Thanks for your help with this!

[2019-06-11 11:32] guardrex commented on #12798
@Alienroid "Create a file" ... a C# class file that you rename?? ... I can't explain the Build Action behavior if that's what your IDE is doing. Anyway, Razor components files (*.razor*) will be a file type offered in VS shortly, so this is a point-in-time issue.

[2019-06-11 11:32] #12798 closed

[2019-06-11 11:35] guardrex commented on #12803
*Yes* ... these *should* work with Pre6. 🤞 If the framework is missing a scenario after Pre6 comes out, open an engineering issue at https://github.com/aspnet/AspNetCore with the request.

[2019-06-11 11:35] #12803 closed

[2019-06-11 11:38] SteveSandersonMS commented on #12755
Here's some proposed content. I think this should be added to the [components page](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0), probably right below [capture references to components](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#capture-references-to-components).

Is this satisfactory, @guardrex?

----

## Using @key to

[2019-06-11 11:40] guardrex commented on #12755
Perfect ... I'll take it from here.

[2019-06-11 11:46] guardrex commented on #12704
@SteveSandersonMS Excellent.

@danroth27 @tdykstra Where do you want the content? This spans authn and authz, so how do you want it handled if it's headed into the *Security and Identity* node where authn/authz are normally split? Alternatively, do you prefer a new topic in the *Blazor* TOC?

[2019-06-11 11:51] guardrex commented on #12802
Thanks @zakaria-dz ... I'll patch it.

[2019-06-11 11:53] guardrex commented on #12804
Hello @AnR62 ... See https://github.com/aspnet/AspNetCore/issues/9827.

[2019-06-11 11:53] #12804 closed

[2019-06-11 11:53] #12802 closed

[2019-06-11 11:55] guardrex commented on #12804
And I see one more over there. Check this one, too :point_right: https://github.com/aspnet/AspNetCore/issues/5137#issuecomment-496001119

[2019-06-11 12:42] MrJohnLocke opened #12808 "Solution for secrets in DevOps?"
I noticed that my project with secrets which I committed to DevOps does not maintain the secrets file when pulling the project to another PC.  What solutions are available to allow secrets to be accessible for projects on DevOps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c99993c-c983-6fda-6c3a-ce4ec8c1d5db
* Vers

[2019-06-11 13:14] cincir01 commented on #11860
That is clear and it is not what I am asking. If you go to Sections part of the document (https://docs.microsoft.com/en-us/aspnet/core/mvc/views/layout?view=aspnetcore-2.2#sections) , the first example is what is confusing to me.

[2019-06-11 13:33] javiercn commented on #12727
This should work, if not. Its either something is not configured right on the templates or the underlying library has a bug. As far as I understand the library is properly configured.

[2019-06-11 13:37] carlosthehyena opened #12809 "Confusing or perhaps incorrect text with reference to the built-in helper method Json()"
Document mentions "To return data in a specific format from a controller that inherits from the Controller base class, use the built-in helper method Json to return JSON".
In my default ASPNet 2.2 API solution created in Studio 2017, the controller inherits from "ControllerBase" class, which is different to the "Controller" base class. The "ControllerBase" class in my solution does not have this h

[2019-06-11 13:43] Svetomechc commented on #12727
@javiercn here's a more appropriate example:

![image](https://user-images.githubusercontent.com/36156020/59276992-06cb8780-8c68-11e9-8e12-a15f80512a85.png)

Steps to reproduce:
1. Register and login via Identity Server
2. Wait some time
3. Try to access data from **[Authorize]** controller

[2019-06-11 14:45] Joshua-romil commented on #8722
Yupp, still not working for me either.

[code]

[2019-06-11 14:47] tdykstra commented on #12704
That would be my choice.

[2019-06-11 14:49] hongzewangpa commented on #12723
I found if I move the services.Addxxx out of IdentityHostingStartupinto startup.cs, it is working.

//code piece moved:
                services.AddDbContext<ApplicationDbContext>(options =>
                options.UseSqlServer(
                    context.Configuration.GetConnectionString("DefaultConnection")));

                services.AddDefaultIdentity<IdentityUser>()
                    .Add

[2019-06-11 15:07] mmillican commented on #8722
@Joshua-romil What part is not working for you?

[2019-06-11 15:10] Joshua-romil commented on #8722
@mmillican I still get the
[code]

[2019-06-11 15:12] katiep23 opened #12812 "Build error with HeadingComponent.razor code under Components folder"
HeadingComponent.razor generates "CS0428	Cannot convert method group 'UpdateHeading' to non-delegate type 'object'. Did you intend to invoke the method?" error when created under Components folder, but not when moved to Pages folder.

Have added @using BlazorTest.Components to _Imports.razor file.

Any other steps missing not in the documentation?

Check the .NET target framework(s) being used, an

[2019-06-11 15:30] Andrzej-W commented on #11366
It looks that prerendering in Blazor client side just works in preview5. See here https://github.com/aspnet/AspNetCore/issues/10750 There is also an example code published by @danroth27

[2019-06-11 16:03] virtualbiz opened #12814 "Does it mean after 3.0, the javascript client will reconnect automatically?"
If so, what's the details of this auto-reconnect mechanism? How does it happen? Is it configurable?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cf283c9-5cd2-a9ff-b8c8-372d8a04356d
* Version Independent ID: 729fddcf-24e4-b563-4952-a8045b231868
* Content: [ASP.NET Core SignalR JavaScript client](https://docs.microsof

[2019-06-11 16:05] BrennanConroy commented on #12814
If you view the 3.0-preview version of the docs you'll see we already have documentation on it!
https://docs.microsoft.com/aspnet/core/signalr/javascript-client?view=aspnetcore-3.0#reconnect-clients

[2019-06-11 16:17] mmillican commented on #8722
@Joshua-romil Can we please see your `Startup.cs`?

[2019-06-11 16:34] Rick-Anderson commented on #12808
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-06-11 16:34] #12808 closed

[2019-06-11 16:45] BrennanConroy commented on #12786
Could you provide a sample app that demonstrates the problem?

Or could you put the following code in your `Configure` method:
[code]

And debug the app, putting a breakpoint on `return next(context);`, then viewing `context.User.Identities[0].Claims` and showing what claims are there?

For example:
![image](https://user-images.githubusercontent.com/7574801/59290517-943db600-8c2d-11e9-8181-637366b

[2019-06-11 16:55] #12280 closed

[2019-06-11 16:58] guardrex commented on #12812
Hello @katiep23 ... *Roasted Rat Burgers!* 🐀🍔 lol ... We just (*tried*) to address that with https://github.com/aspnet/AspNetCore.Docs/pull/12730.

Can you shoot a repro project up to GH so that I can take a look at it? What you did *should have worked.* If I repro it here, we can open with the engineers for a look.

btw -- just for future reference -- It helps us work doc issues if you use the **

[2019-06-11 17:08] guardrex commented on #12814
Closing as answered. @virtualbiz, let's re-open if the preview content doesn't address your questions. Ping us back here on this issue if that's the case.

[2019-06-11 17:08] #12814 closed

[2019-06-11 17:43] Serjster opened #12815 "Startup Project different from Data Context project"
I would expect Microsoft to provide how to handle the very common scenario where the DataContext is in a class library, or otherwise different from the Startup project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ad06677-5842-c1aa-153f-7993a9660dfa
* Version Independent ID: 8daf79df-eac4-358b-e6f0-6def45bd54da
* Co

[2019-06-11 18:01] CeciAc opened #12817 ""添加数据库连接字符串"省略了太多"
@yatyu commented on [Wed Jun 05 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/134)

The "Add Database Connection String" section is hard to read and can't continue. If this is an entry-level tutorial, I think it should be clear about all the steps!

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independen

[2019-06-11 18:08] Icidis opened #12818 "Missing gRPC configuration sample code"
The gRPC section does not display the "GrpcGreeter" sample code for

- AddGrpc
- MapGrpcService
- ServerCallContext

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e072aff-35c1-1fc2-3f94-97dc7a809414
* Version Independent ID: 2f05b9da-0d50-ce84-d6af-332da7d9d625
* Content: [gRPC services with ASP.NET Core](https://docs

[2019-06-11 18:09] CeciAc commented on #12817
Hi team,
I'm moving this here after consulting with our linguist in case it was a loc issue who confirm it wasn't, but about the original documentation instructions
best regards

[2019-06-11 18:14] guardrex commented on #12704
Let's work out the details. I'll try to get this done by EOD on release day (but no promises on that ... let's say "within 48 hours" ... depends on how smoothly things go that day).

* **Title:** *Blazor security*
* **Physical path**: aspnetcore/blazor/security/index.md
* **URL**: `https://docs.microsoft.com/aspnet/core/security/`
* **TOC**: **Web apps** > **Blazor** > **Security**
* **UID**: blaz

[2019-06-11 18:58] arthas1888 commented on #12786
Thank you for your help, at last it works but by default Context.UserIdentifier always is null, I had put this code:

[code]
After that  Context.UserIdentifier has value, so is it correct?
Always I need add to the project the following code:

`services.AddSingleton<IUserIdProvider, NameUserIdProvider>();
`
this is my claims:

![image](https://user-images.githubusercontent.com/5170748/59298288-d5df

[2019-06-11 20:10] tdykstra commented on #12209
@andynewcomb Thanks for pointing this out.  I agree that the link @guardrex provides is much better than the Wikipedia link. But rather than change the link, I'm editing out the reference to builder pattern. On reviewing the text and keeping in mind that the article is a high-level overview, it seemed better to make the Host section more concise and avoid getting into a topic outside the scope of

[2019-06-11 21:27] Korporal opened #12820 "ASP - .Net Framework"
Is there any equivalent documentation on how to achieve this in a .Net Framework application (that is an app that does not use .Net Core)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee71441f-471a-89cd-0ef4-9b32b5dd85cf
* Version Independent ID: 0096c365-2f4e-5d21-89a0-c4f10fcb0ed9
* Content: [Authorize with a speci

[2019-06-11 21:35] danroth27 commented on #12704
Can we cross link the Blazor security docs from the top level "Security and Identity" node? We don't want Blazor to be a separate island. It's part of ASP.NET Core.

[2019-06-11 21:38] tdykstra commented on #12704
Yes, we can duplicate the TOC nodes.

[2019-06-11 21:39] guardrex commented on #12704
I modified my **TOC** remark to track taking care of it. :point_up:

[2019-06-11 21:40] dougbu commented on #8461
@glennc given the low number of code generators and document providers, how important is this documentation for our partners i.e. is it really a P1?

[2019-06-11 21:48] timavaza opened #12821 "Adding Client-side library doesn't work in Visual Studio 2019 - no autocomplete displayed"
This documentation says an autocomplete of available client-side javascript libraries will be displayed. But it doesn't work. So its not possible to see what javascript signalr client versions are available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dd2991d-c22d-ad0f-80b6-bd1b503db8f3
* Version Independent ID: 5e

[2019-06-11 21:48] dougbu commented on #8465
@glennc given the low number of OpenAPI document providers, how important is this documentation for our partners i.e. is it really a P1 (@scottaddie's suggestion) or P2 (@danroth27's suggestion)?

[2019-06-11 21:51] dougbu commented on #8461
Reframed to more closely align with #8465

[2019-06-11 21:55] #12791 closed

[2019-06-11 22:19] #12794 closed

[2019-06-11 22:19] #12209 closed

[2019-06-11 23:06] katiep23 commented on #12812
Thanks for the feedback!  I'm pretty new to all this, but definitely will in future. I've attached the repo.

[BlazorTest.zip](https://github.com/aspnet/AspNetCore.Docs/files/3278893/BlazorTest.zip)

[2019-06-11 23:14] guardrex commented on #12812
You'd need to put the project up in a GitHub repo for me.

[2019-06-12 00:02] zhshqzyc commented on #6481
I have a similar issue. My ng version is 1.7.0; node.js version is 10.16.0; angular: 5.2.0. Visual Studio 2017 Pro(15.9.13).

My package.json file some codes are:
`"scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "build:ssr": "npm run build -- --app=ssr --output-hashing=media",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },`
The .net core c

[2019-06-12 02:26] OzBob opened #12824 "PasswordHasherOptions"
How to provide an override of the default PasswordHasherOptions for V3, so that it uses PasswordHasherOptions V2?
https://github.com/aspnet/AspNetCore/blob/2b2aeee9f869ec43f65c188a66d9285858823628/src/Identity/Extensions.Core/src/PasswordHasher.cs#L42
has IOptions&lt;PasswordHasherOptions&gt; , but what is the syntax to provide custome PasswordHasherOptions?

---
#### Document Details

⚠ *Do not e

[2019-06-12 03:03] Rick-Anderson commented on #12815
Thanks for the suggestion. That's probably more appropriate for https://docs.microsoft.com/en-us/ef/core/

[2019-06-12 03:03] #12815 closed

[2019-06-12 04:35] BrennanConroy commented on #12786
Huh, that is very odd you have the `NameIdentifier` claim, so the default `UserIdentifier` shouldn't be null.

Could you share your `Configure` method? I'd like to see the order of your middleware.

[2019-06-12 05:44] bradygaster commented on #12821
Changed title because your version is a **little ways out**. 👍

Any chance you could provide a screen shot of what you're seeing? It would help understand the scenario somewhat.

[2019-06-12 05:44] manu-mishra opened #12827 "Scaffolding Angular template"
How can we scaffold the new Angular template with external users enabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 804e24dd-7e30-8cf5-2c99-1ffacb4582f6
* Version Independent ID: 3e25547b-e2c9-6634-2c38-2a77207f17d4
* Content: [Scaffold Identity in ASP.NET Core projects](https://docs.microsoft.com/en-us/aspnet/cor

[2019-06-12 05:46] johnnyreilly opened #12828 "Are"
Consider the following:

[code]

Here, we're manually acquiring a cached `CancellationTokenSource` and calling `Cancel`. This will invalidate the cache for anyone using that token, eg like so:

[code]

It's not clear from the docs whether, when the cached `CancellationTokenSource` is expired from the cache whether that has the effect of triggering all the dependant cached entries to be invalidated

[2019-06-12 05:46] manu-mishra commented on #12827
I understand Angular template is new, if you can please point me to the repo which has that code, i can try to check files manually. Thanks. The new angular identity template is awesome.

[2019-06-12 06:43] Joshua-romil commented on #8722
@mmillican
[code]

[2019-06-12 06:47] Joshua-romil commented on #8722
@mmillican I tried the Endpoint in different ways, eg:

c.SwaggerEndpoint("/swagger/v1/swagger.json", "My API V1")

When I try to debug,

services.AddSwagger(c => {c.SwaggerDoc("v1", new Info {Title = "My API", Version = "v1"});});

won't run. I started suspecting It had to do with read/write access, but I'm not sure.

[2019-06-12 07:37] yahorsi opened #12830 "Clustering clarification"
Hi,

In the "Clustering" section did you really mean Reddis Clustering? It is a bit misleading.
Please clarify, as well as "Clustering isn't officially supported, but it might work."
Does that mean again Reddis Clustering?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c548355c-d88f-b941-0622-56732973123b
* Version Ind

[2019-06-12 08:11] OzBob commented on #12440
install aspnetcore 3 preview 5 and
dotnet new angular --auth Individual

[2019-06-12 08:41] chewcw opened #12831 "Duplicate Tutorial"
# Before you open an issue

If the issue is with an ASP.NET Core document, open the issue with the **Content feedback** button at the bottom of that document page.

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, conside

[2019-06-12 08:44] #12831 closed

[2019-06-12 09:55] arthas1888 commented on #12786
this is my startup methods:

[code]

[2019-06-12 11:38] #12099 closed

[2019-06-12 12:27] alexanderbikk commented on #9244
Here is a very good and simple example of how to add data in Asp.Net Identity claims
https://korzh.com/blogs/net-tricks/aspnet-identity-store-user-data-in-claims

[2019-06-12 13:41] ardalis commented on #12809
Correct. That method is on Controller, not ControllerBase. ControllerBase has a smaller amount of functionality and is the recommended base class to use for API controllers. Which should typically return ActionResult or IActionResult rather than Json(). This lets them use content negotiation and return other results like BadRequest and NotFound which returning Json() (as the method return type) wo

[2019-06-12 14:05] eTaoss commented on #12738
My apologies, but that comment pretty much confused me, so it doesn't matter in which folder we put the file? Or should we create separate folder Data, or put it in folder Models?
Should I create file RazorPagesMovieContext.cs and put there a method RazorPagesMovieContext and put it in Data folder?

[2019-06-12 15:05] yahorsi opened #12832 "Sql ca Redis pers, Sql In memory OLTP?"
The article does not state anything about Sql Server cache speed. And, once Sql Server now supports in memory OLTP it looks like perfect match, so, please state if/how to use Sql Server based caching with In Memory OLTP.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d01025d-86b2-bb2d-86c1-ef0695bc98e3
* V

[2019-06-12 15:12] guardrex commented on #12832
Hello @yahorsi ... WRT speed, we won't be able to address that (we almost never do). The environment (server, network, app, etc.) plays a large role in perf. We recommend benchmarking the options under your local conditions to aid in making a choice.

WRT Sql Server and In Memory OLTP ... there's an existing engineering issue for that. Add your feedback or ask them about it on that issue :point_ri

[2019-06-12 15:12] #12832 closed

[2019-06-12 15:20] BrennanConroy commented on #12830
Sure we can update the text to be more clear.

Just curious, what other clustering could we be referring to here?

[2019-06-12 15:22] yahorsi commented on #12830
Potentially Azure App Service clustering (scale out)

[2019-06-12 15:32] BrennanConroy commented on #12786
Thanks for sharing.

If the `options.ClientId = "XYZ";` and `options.ClientSecret = "ZYX";` are secrets and not meant to be shared, make sure you change your secrets because they are posted in the code snippet.

@Tratcher Can you see anything obvious as to why `User?.FindFirst(ClaimTypes.NameIdentifier)?.Value` would be null in SignalR based on the above `Startup`?
@arthas1888 provided a screensho

[2019-06-12 15:49] Rick-Anderson commented on #12827
@scottaddie which repo has the angular template?

[2019-06-12 15:50] #12420 closed

[2019-06-12 15:52] BrennanConroy commented on #12786
@arthas1888 Could you load symbols while debugging for "Microsoft.AspNetCore.SignalR.Core" and add a function breakpoint (ctrl-k, b) with the "Function Name:" set as "Microsoft.AspNetCore.SignalR.DefaultUserIdProvider.GetUserId" then connect with a client and see why the `NameIdentifier` can't be found?

[2019-06-12 15:52] Rick-Anderson commented on #12738
Follow the instructions.

[2019-06-12 15:56] guardrex opened #12833 "Update API links when available"
Relink to API **AT RTM**:

* &lt;xref:Microsoft.AspNetCore.Authentication.Negotiate?displayProperty=fullName&gt;

  https://docs.microsoft.com/en-us/dotnet/api/?term=Microsoft.AspNetCore.Authentication

* &lt;xref:Microsoft.Extensions.DependencyInjection.NegotiateExtensions.AddNegotiate*&gt;

  https://github.com/aspnet/AspNetCore/blob/3ce6c1dc5b022116ec9b13f9158e092323ac1158/src/Security/Authenti

[2019-06-12 16:02] #12704 closed

[2019-06-12 16:03] #12755 closed

[2019-06-12 16:04] guardrex commented on #12755
@mkArtakMSFT These haven't been doc team reviewed. I recommend that you allow me to take care of the PR's assigned to me.

[2019-06-12 16:15] guardrex opened #12835 "Blazor auth documentation"
https://github.com/aspnet/AspNetCore.Docs/issues/12704

[2019-06-12 16:18] guardrex opened #12836 "Document '@key' attribute"
https://github.com/aspnet/AspNetCore.Docs/issues/12755

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent ID: 9d945996-ad02-bd4b-58ea-c465cc5cc74c
* Content: [Create and use Razor components](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspne

[2019-06-12 16:25] tdykstra opened #12837 "Update Configuration doc for 3.0 (Generic Host)"
This article is heavily dependent on Web Host - converting to Generic Host may involve numerous moniker blocks for 2.x vs. 3.0 or duplicating most of the doc to make one or a few large moniker blocks.

See #13481

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb4d762-3910-2c57-8741-3306c15537b6
* Version Independent I

[2019-06-12 16:40] tdykstra opened #12839 "Update Dependency Injection article for 3.0 (Generic Host)"
Scope validation section and sample code needs to be updated for Generic Host.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d78f540-81fd-1ba9-cb90-591e4ec27d9b
* Version Independent ID: 2251f557-dd3a-ec35-2558-6243337db009
* Content: [Dependency injection in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core

[2019-06-12 16:44] tdykstra opened #12840 "3.1 update: Update Error Handling article for 5.0 (Generic Host)"
* Update links in Startup exception handling section to https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-3.1#capturestartuperrors
* Update sample app to 5.0

Update database exception handler.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03fdf4-b19b-17c3-04f4-336ab6d2ee06

[2019-06-12 16:50] #12788 closed

[2019-06-12 16:56] tdykstra opened #12841 "Update Background tasks article for 3.0 (Generic Host)"
Migrate sample app to 3.0 (Generic Host) and put snippets in 2.2 vs. 3.0 moniker blocks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3460b0d-9c60-3a06-ac63-18cf990e53c3
* Version Independent ID: b2dece1f-15b8-03af-6d52-7cc070432b4b
* Content: [Background tasks with hosted services in ASP.NET Core](https://docs.micro

[2019-06-12 17:22] katiep23 commented on #12812
https://github.com/katiep23/BlazorTest

[2019-06-12 17:22] scottaddie commented on #12827
The Angular project template is in https://github.com/aspnet/AspNetCore. Specifically, see https://github.com/aspnet/AspNetCore/tree/master/src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp.

[2019-06-12 17:49] guardrex commented on #12812
Thanks @katiep23 ... we're in the midst of a lot of work today. I'm 🏃🏃😅 for today ... possibly tomorrow, too. I'll get back to you ASAP.

[2019-06-12 17:58] tdykstra commented on #12574
@guardrex The description box had a quotation with no context -- why is that formatted as a quote / where is the quote from?

[2019-06-12 18:07] guardrex commented on #12574
Let me get back to you on that ... big 🏃😅 *Blazor day*. :smile: lol

[2019-06-12 18:20] tdykstra opened #12842 "Update Kestrel doc for 3.0 (Generic Host)"
* For Web Host --&gt; Generic host: the doc links to two H2s in the Web Host doc that don't exist in the Generic Host doc.
* CreateDefaultBuilder --> ConfigureWebHostDefaults
* Forwarded headers middleware changes in 3.0 -- https://devblogs.microsoft.com/aspnet/forwarded-headers-middleware-updates-in-net-core-3-0-preview-6/

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-06-12 18:28] tdykstra opened #12843 "Update ANCM doc for 3.0 (Generic Host)"
Web Host --&gt; Generic Host

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe69b3a9-896f-e189-0c2c-f87ff735df9c
* Version Independent ID: 97c8549b-66ad-0a23-1971-784fb923042a
* Content: [ASP.NET Core Module](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-2.2#additional-

[2019-06-12 18:29] #12578 closed

[2019-06-12 18:40] tdykstra opened #12844 "Update IIS doc for 3.1 (Generic Host)"
Web Host --&gt; Generic Host -- there's a link to a Web Host H2 that doesn't exist in the Generic Host doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec484002-18c1-6a0d-00de-820d56f038d3
* Version Independent ID: 7903ce53-2cbb-f083-7479-c8abc30211a0
* Content: [Host ASP.NET Core on Windows with IIS](https://docs.m

[2019-06-12 18:44] tdykstra opened #12845 "Update distributed caching doc for 3.0"
* Web Host --&gt; Generic Host: there's a link to a Web Host doc H2 that doesn't exist in the Generic Host doc.
* Update sample app for 3.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d01025d-86b2-bb2d-86c1-ef0695bc98e3
* Version Independent ID: 5b9a6572-3671-0d54-b2ef-83d04f8b3e96
* Content: [Distributed caching i

[2019-06-12 18:48] tdykstra opened #12846 "Update Enforcing SSL doc for 3.0 (Generic Host)"
* Web Host --&gt; Generic Host: update links that point to Web Host doc H2s that don't exist in the Generic Host doc.
* Update sample app to 3.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ddfb2f-5dea-5e31-2a27-02a4dc16104c
* Version Independent ID: 12ca0b9a-2638-a4ce-c45f-d4579c83dafb
* Content: [Enforce HTTPS in

[2019-06-12 19:50] #12411 closed

[2019-06-12 19:54] guardrex commented on #12660
Fixed by https://github.com/aspnet/AspNetCore.Docs/pull/12758.

[2019-06-12 19:54] #12660 closed

[2019-06-12 20:51] #12836 closed

[2019-06-12 21:20] serpent5 commented on #12824
This is documented in [Configure ASP.NET Core Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-configuration?view=aspnetcore-2.2), under [Password Hasher options](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-configuration?view=aspnetcore-2.2#password-hasher-options). There's a code snippet that shows how to set `IterationCount

[2019-06-12 23:15] guardrex opened #12854 "Prerendering with reconnect"
https://github.com/aspnet/AspNetCore.Docs/pull/12872#issuecomment-505565330

Content from closed (unmerged) PR is here :point_right: https://github.com/aspnet/AspNetCore.Docs/pull/12776/files

DR will provide the content here on the issue ...

Note to self ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149

[2019-06-13 00:29] guardrex commented on #12574
@tdykstra *I'm back!* 🏃😅 This is from an email convo between engineering and a user. It pertains to loading hosting startup assemblies (or any assemblies apparently) before `Main` runs. I intend to work it ... unless u had another plan for this issue.

[2019-06-13 01:19] tdykstra commented on #12574
Sounds like this issue is more focused than 3.0 in general, so my suggestion is to change the title to reflect what it's actually about, link to the conversation the quote came from to provide more context, and create a separate 3.0 issue for Web Host/Generic Host plus any other 3.0 changes.

[2019-06-13 01:29] pablocar80 opened #12856 "mention Microsoft.AspNetCore.WebSockets package needed"
The documentation could mention that in order to be able to call UseWebSockets, we need to install the package Microsoft.AspNetCore.WebSockets.

[2019-06-13 02:26] tdykstra commented on #11421
Canceled.

[2019-06-13 02:26] #11421 closed

[2019-06-13 02:33] scottaddie commented on #12856
@pablocar80 Can you please provide a link to the doc you're referring to?

[2019-06-13 03:01] OzBob opened #12857 "3 AddAreas missing"
using the latest aspdotnetcore3 preview 5

The UseIdentityServer option (https://github.com/aspnet/AspNetCore/blob/18a230737a3ebf02b44db2c24a14399f41eadc4d/src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Startup.cs#L47) is used
1. Is there an equivalent scaffolding override for core3?

2. When trying to configure 'UseAreas' in MVC as per instructions (https://docs.microsoft.co

[2019-06-13 03:23] pablocar80 commented on #12856
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/websockets?view=aspnetcore-2.2

[2019-06-13 03:39] #12817 closed

[2019-06-13 04:00] Rick-Anderson commented on #12827
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-06-13 04:00] #12827 closed

[2019-06-13 04:02] Rick-Anderson commented on #12824
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-06-13 04:02] #12824 closed

[2019-06-13 04:38] mmillican commented on #8722
@Joshua-romil

This is what I'm using for mine:

**ConfigureServices**

[code]

**Configure**

[code]

[2019-06-13 04:42] wadepickett commented on #9731
Closing since content model is changing and we would no longer test against old design.

[2019-06-13 04:42] #9731 closed

[2019-06-13 05:11] talldaniel commented on #8434
I think that is not called syntactic sugar, but is called a breaking change.

[2019-06-13 07:26] buzzfrog opened #12860 "Build error when compiling the client project"
Maybe something has changed in the gRPC Server template?
In that template the greet.proto set the namespace to option csharp_namespace = "GrpcGreeter";
But in the code that should be pasted into program.cs in the client project, the namespace is "Greet". This will not build.
Solution change Greet to GrpcGreeter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-06-13 07:26] buzzfrog commented on #12860
BTW: I use preview 6 of .NET Core 3

[2019-06-13 07:30] arthas1888 commented on #12786
OK, is strange now it works, before when I deleted this line in my startup
             services.AddSingleton<IUserIdProvider, NameUserIdProvider>();
the hub couldn't find the NameIdentifier but now it can, so I have another question, when I use Authentication under Cookie How does .net Core set this ClaimType.NameIdentifier?

[2019-06-13 12:08] guardrex commented on #12574
Depends ... Do you (or someone else) want to work the Generic Host side? If so, *yes* ... I'll split it. I'll keep and work this issue and leave the new issue for Generic Host unassigned. If no tho, then *no* ... let's not split. Loading the assembly as described is *new for 3.0*. The title is accurate for both updates. I'm 🏃😅 most of the time and don't want to come back. *LazyRex*:tm: :smile:

WR

[2019-06-13 12:45] Xarkam opened #12861 "This documentation is only for < ES6"
Hello,

It would be useful to put an information for the developers who want to minify code javascript ES6 and higher.
Just use gulp-terser instead of gulp-uglify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f55e9a-cd3f-83a0-f142-969dc10d3ceb
* Version Independent ID: f6845f70-1ac6-2036-f213-a3b665b3d8bf
* Content

[2019-06-13 13:04] muheebhussain opened #12862 "[Preview 6] Blazor (Server Side) overriding identity via scaffolding throws error"
[Preview 6] Blazor Server Side overriding identity via scaffolding throws an error.

<details>
<summary>
<strong>dotnet 3.0.100-preview6-012264</strong> <br>

1. Upgrade to .net core 3.0.100-preview6-012264
2. Create a new asp.net core web application project, select server side blazor.
3. Change Identity to individual user account

After project creation right click Areas/Identity folder, Add New

[2019-06-13 13:07] #12862 closed

[2019-06-13 14:53] tdykstra commented on #12574
You can take the Generic Host changes in this doc, but they'll be dependent on my 3.0 updates to the Generic Host doc, so you'd have to wait.  With separate issues you could go ahead with the work originally planned for this issue. If you're OK with waiting, leave it as one issue.

[2019-06-13 15:11] guardrex commented on #12574
I see. That makes sense. I thought we'd only need a link (or a couple) to existing headings. I'll split now. I have this one coming up soon.

[2019-06-13 15:11] guardrex opened #12864 "Update Hosting Startup (plat-specific config) for 3.0"
Web Host --&gt; Generic Host for 3.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 613ad64e-bc62-edf7-2e86-42210de718f4
* Version Independent ID: aabbbc32-3237-5ef9-c422-892dc6884a22
* Content: [Use hosting startup assemblies in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/platform-spec

[2019-06-13 16:22] guardrex opened #12865 "Add tech name to Blazor topics"
Per https://github.com/aspnet/AspNetCore.Docs/pull/12853#issuecomment-501773448

[2019-06-13 16:30] BrennanConroy commented on #12786
Well whoever created the Cookie will have set some claims on it before giving it to the client and will know how to read those claims when the client sends the cookie back.

See the [docs](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?view=aspnetcore-2.2#create-an-authentication-cookie) for an example of creating a cookie with some claims.

[2019-06-13 16:43] tdykstra opened #12866 "Add Blazor First App tutorial to Tutorials TOC node"
Add a duplicate TOC node for this tutorial under **Tutorials &gt; Web apps** following MVC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e7dc3c-54c4-35de-203e-d230869e8417
* Version Independent ID: dc5b52d5-c8c6-1440-6b3a-fda898167d0c
* Content: [Build your first Blazor app](https://docs.microsoft.com/en-us/aspnet/

[2019-06-13 16:46] guardrex commented on #12866
Could be a note on https://github.com/aspnet/AspNetCore.Docs/pull/12623 to do this ... I think we'll be moving back to working on that early next week.

[2019-06-13 17:10] Bartmax opened #12867 "Minor confusion with attributes on docs."
When Conditional attributes section starts, the previous line talk about C# attributes, but this explain html tag attributes.
It makes a minor confusion for a split second to switch between contexts. Maybe it's good idea to implicit call for html tag attributes and/or c# attributes and distinguish one from the other (?)

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-06-13 17:12] guardrex commented on #12867
Thanks @Bartmax (and good to hear from you). I'll mark this for review/triage.

[2019-06-13 17:43] blowdart commented on #12749
@guardrex @Rick-Anderson could I get a paragraph added to https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl for 3.0? Something like the following, although worded as you know best.

**HSTS and API projects**

The default API projects do not include HSTS because HSTS is generally a browser only instruction, other callers, such as phone applications or desktop applications will not

[2019-06-13 17:51] guardrex commented on #12749
@Rick-Anderson I'll be free this weekend (Sat) if you want me to do it.

[2019-06-13 17:54] tdykstra opened #12869 "HTTP.sys topic update for 3.0"
After updating the sample code, put current Program.cs snippet1 in a 2.x moniker block and add a 3.0 moniker block for the version of snippet1 that uses Generic Host.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e347c54-6a6a-d685-4af7-39b023bf7f15
* Version Independent ID: 41aa77f5-9466-6580-5ec6-b1bf97bd0f01
* Cont

[2019-06-13 17:56] blowdart commented on #12749
In fact it could be merged with the warning on that page somehow right at the top? We will probably create a short link to put into templates in a comment which points to this

[2019-06-13 17:59] guardrex commented on #12749
We can't include versioned content *inside of* a warning ... we'd need to duplicate the warning (one for >=3.0 and one for <3.0) ... but for sure ... we can do that.

[2019-06-13 18:15] poonamshingrut opened #12870 "identity impersonation"
I've implemented Timed background tasks which is working fine. Can I use identity impersonation here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3460b0d-9c60-3a06-ac63-18cf990e53c3
* Version Independent ID: b2dece1f-15b8-03af-6d52-7cc070432b4b
* Content: [Background tasks with hosted services in ASP.NET Core](http

[2019-06-13 18:27] guardrex commented on #12870
Hello @poonamshingrut ... *Interesting concept!* Normally, we'd suggest that you consult with devs on a support forum or chat, but that's a really interesting scenario. I think the engineers would like to remark on this. Open an issue on the engineering repo ...

https://github.com/aspnet/AspNetCore/issues

Make sure that you provide more detail tho ... describe your full scenario to them.

Please

[2019-06-13 18:27] #12870 closed

[2019-06-13 18:28] #12743 closed

[2019-06-13 18:45] blowdart commented on #12749
Its whatever you think gets the message across best really.

[2019-06-13 18:47] guardrex commented on #12749
I'll take it for now, and Rick can swap with me if he prefers to work it.

[2019-06-13 19:15] RicoSuter commented on #12082
Or just add `app.UseReDoc()` and access via `/redoc`

[2019-06-13 21:18] arthas1888 commented on #12786
Thank you so much, your help has been very useful

[2019-06-13 21:20] BrennanConroy commented on #12786
You're welcome, glad to help :)

Can we close the issue?

[2019-06-14 08:02] mikes-gh commented on #12107
I just discovered this too,

`proxy_set_header   Connection keep-alive;`

Doesnt work with serverside blazor due to the SignalR websockets requirement.

Had to use

`proxy_set_header   Connection $http_connection;`

[2019-06-14 09:32] git-Charlie opened #12878 "The parameter "username" in ChatHub causes JsonException"
sdk : 3.0.100-preview6-012264
[Enter feedback here]
##  Details
[code]
 **Causes JsonException**

[code]

## Solution

Change

[code]
TO
[code]

because message json look like this:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47557f89-3a14-1139-0074-38d931b35faf
* Version Independent ID: 1cee43b4-b672-e480-3e

[2019-06-14 10:28] SeminDM opened #12879 "Is it possible to configure multiple ADFS endpoints with common callback(Wreply)?"
I want to configure ADFS endpoints in my asp.net app at runtime with further app restart (for middlware registration). There is a problem: if I declare single callback method for multiple endpoints then I have exception:

**Microsoft.IdentityModel.Tokens.SecurityTokenSignatureKeyNotFoundException: IDX10501: Signature validation failed. Unable to match keys:
kid: '[PII is hidden]',
token: '[PII is

[2019-06-14 15:10] BrennanConroy commented on #12878
This is expected. Starting with preview5 the default Json implementation is now System.Text.Json instead of Newtonsoft.Json. Converting a number to a string on deserialization is a feature that is not in System.Text.Json which is why you're seeing an error.

One way to fix this is by what you've done, change the expected type to match the incoming type. If you're not happy with that then you can s

[2019-06-14 15:11] Lokesh-Eisen commented on #11841
i stand corrected.

[2019-06-14 15:29] BrennanConroy commented on #12878
Oh, didn't realize you were talking about `ChatHub` in the doc 😄

We'll fix that up, thanks for noticing.

[2019-06-14 15:29] carlosthehyena commented on #12809
OK thanks. I'm proposing this part to be changed for a number of reasons: Firstly, out of the box, the ASPNET Rest API scaffold uses controllerbase and as you say, is the recommended base class to use - the document "Create web APIs with ASP.NET Core" (https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-2.2) confirms that (A web API has one or more controller classes that derive

[2019-06-14 16:00] nemtajo commented on #12285
I am trying to make File Upload For Large Files work in my ASP.NET Core 3.0 Preview project. I followed the tutorial and I am running my project on localhost at the moment. After clicking on Upload button on the razor page, I get:

The SPA default page middleware could not return the default page '/index.html' because it was not found, and no other middleware handled the request.

Maybe the defaul

[2019-06-14 16:14] arthas1888 commented on #12786
yes, please :)

[2019-06-14 16:16] #12749 closed

[2019-06-14 16:18] guardrex commented on #12285
Hello @nemtajo ... We don't have the staffing to work with projects. We only maintain documentation here. However, there are a **_large number of updates_** on a PR that's in review now. You could take a look at the updates on the PR to see if they would help you. https://github.com/aspnet/AspNetCore.Docs/pull/12344

Otherwise, we recommend talking to devs on a support forum, such as Stack Overflo

[2019-06-14 16:39] #12786 closed

[2019-06-14 16:58] guardrex commented on #12675
Side note on the updates: This topic is used as a basis for the Blazor 'call a web API' topic. If the endpoints of the sample app are changed, plz ping me. The Blazor app hits the endpoints of this sample app for data. If the endpoints change here, I'll mirror those changes over on that PR.

https://github.com/aspnet/AspNetCore.Docs/pull/12477

[2019-06-14 18:12] #12866 closed

[2019-06-14 18:17] guardrex commented on #12812
@katiep23 That looks correct. Try one more time with a new Preview 6 template and SDK, which was just released two days ago. If that persists, search for an open issue in engineering. If you don't see anyone else reporting the same issue, open a new issue with them ...

https://github.com/aspnet/AspNetCore/issues

... if you open a new issue, do the same thing ... put up a Pre6 repro project in GH

[2019-06-14 18:17] #12812 closed

[2019-06-14 20:38] wadepickett commented on #12675
@guardrex, thanks for the heads up!  I will avoid changing the endpoints, but if I have to change them for some reason I will loop you in.

[2019-06-14 21:04] thatnerdyguy opened #12884 "What can use static assets from RCLs?"
This page says:
"In ASP.NET Core 3.0 Preview, Razor class libraries aren't compatible with Blazor client-side apps."
and
"In ASP.NET Core 3.0 Preview, Blazor server-side apps can't consume static assets from either a Razor class library (razorclasslib) or a Blazor library (blazorlib)."
but later
"ASP.NET Core allows creating RCLs that include static assets that are available to a consuming app."

[2019-06-14 21:08] guardrex commented on #12884
Thanks for the note @thatnerdyguy ... we just had a software release for Pre6 two days ago. I need to perform some touch-ups to those remarks. I'll try to take a look tomorrow morning (Saturday) and ping u back.

[2019-06-14 22:37] halter73 commented on #12586
Addressed by https://github.com/aspnet/AspNetCore.Docs/pull/12874

[2019-06-14 22:37] #12586 closed

[2019-06-15 10:41] ChiefInnovator opened #12885 "FirstOrDefaultAsync vs. SingleOrDefaultAsync"
I find this advice to be bad.  If you expect a single entity, you should always use Single or SingleOrDefault semantics.  The performance gain of First is negligible if you have an EF query that is correct to begin with.  However, the benefits of code quality with the use of Single is much better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-06-15 13:40] guardrex commented on #12884
@danroth27 There are some issues to address ...

* The Component Library topic wasn't fully updated: As @thatnerdyguy calls out here, we should pull the remarks that state RCL can't have static assets.
* `blazorlib` is still a template: Tea leaves say that it will be around until Pre9 looking at [Remove the Blazor Class Library template (aspnet/AspNetCore \#10721)](https://github.com/aspnet/AspNet

[2019-06-15 15:15] guardrex opened #12886 "Security vulnerabilities in sample app"
The *CookieAuthWithIdentity.NETFramework* is outdated and has security vulnerabilities. `System.Security.Cryptography.Xml` is 4.4.0, but it should be at least 4.4.2 (CVE-2018-0764, CVE-2018-0765).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99307104-c0d7-3e82-f0b2-af61dcfe072a
* Version Independent ID: 315c02cb-54c4

[2019-06-15 15:35] #12126 closed

[2019-06-15 15:50] guardrex opened #12888 "[Preview 8] Remove the Blazor Class Library template"
~[Remove the Blazor Class Library template (aspnet/AspNetCore \#10721)](https://github.com/aspnet/AspNetCore/issues/10721)~

https://github.com/aspnet/AspNetCore/issues/7536

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37b02665-c8ab-bd91-8057-3b07b4e238d3
* Version Independent ID: e4f176f5-0b94-d532-53d5-cffce437961a

[2019-06-15 16:02] guardrex opened #12889 "[3.1] Supply content to a Blazor layout from a component"
[Blazor Layouts with several placeholders (Header/Footer/etc) like MVC Sections/WebForms aspnet/AspNetCore \#10131](https://github.com/aspnet/AspNetCore/issues/10131)

The original community-submitted issue :point_up: was closed in favor of :point_right: https://github.com/aspnet/AspNetCore/issues/10452.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-06-15 17:37] kiksen1987 commented on #12818
Was just about to add same comment :D

[2019-06-15 18:20] #12865 closed

[2019-06-15 18:24] Rick-Anderson commented on #12885
That section was written by the EF team and is the expert consensus.

[2019-06-15 18:24] #12885 closed

[2019-06-16 08:48] khteh commented on #12651
Switch to use `IPAddress.Any` works.

[2019-06-16 09:28] John0King opened #12890 "Is it possiable to use more than one parameter in an action method with Json Post"
&gt; Don't apply `[FromBody]` to more than one parameter per action method

some json input are too simple and can not to reuse further. Create a class for each request is a big challenge for naming the class.

I wonder is there a way I can use the parameters like the Form Post Input

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-06-16 13:35] lafe opened #12891 "How to configure flags for Debug and EventSource logger"
The page describes what the example configuration does, however, it is not clear how to configure other logging targets (e.g. EventSource or Debug). So more examples or a in-depth explanation would be awesome.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID:

[2019-06-16 13:55] guardrex opened #12892 "Components topic code example updates"
* `_italicsCheck` and `CurrentValue` are used without a leading `@` in binding examples.
* Question for engineering can be asked on the review about inconsistent syntax for binding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent ID: 9d945996-ad02-bd4b-58ea-c465

[2019-06-16 15:17] Rick-Anderson commented on #12891
The first code sample shows how to do that:

[code]

[2019-06-16 15:18] Rick-Anderson commented on #12861
@Xarkam  any chance you could PR that?

[2019-06-16 15:22] Rick-Anderson commented on #12723
Dup of  #10159

[2019-06-16 15:22] #12723 closed

[2019-06-16 15:24] Rick-Anderson commented on #10159
@hongzewangpa  wrote:

I found if I move the services.Addxxx out of IdentityHostingStartupinto startup.cs, it is working.

[code]

[2019-06-16 15:25] Rick-Anderson commented on #10159
See  #12857

[2019-06-16 15:25] Rick-Anderson commented on #12857
Tracking in #10159

[2019-06-16 15:25] #12857 closed

[2019-06-16 15:26] lafe commented on #12891
Thanks for your quick feedback. Maybe, I did not explain myself clearly. The examples show how to hook up configuration that is located elsewhere (appsettings.json or environment variables) and also show an example of the appsettings configuration, but it does not show which flags can be set in those configuration files and which are available in general. This was something which I expected from t

[2019-06-16 15:31] Rick-Anderson commented on #12856
@pablocar80  that's an advanced topic and we don't list every include needed. At least in Visual Studio, that's trivial to add.

[2019-06-16 15:44] Rick-Anderson commented on #12785
It's there.

[code]

[2019-06-16 15:44] #12785 closed

[2019-06-16 15:51] #12720 closed

[2019-06-16 15:56] Rick-Anderson commented on #12673
Most likely you didn't update the facebook callback URI on the FB side.

[2019-06-16 15:56] #12673 closed

[2019-06-16 16:26] guardrex commented on #12891
We often list/explain options (usually mirrored content from the API docs), but we'd be hard pressed to doc all of the options for every framework feature. Also, there's generally 🏃 *a lot of engineering churn* 🏃 with options.

One way to handle this is to link to the options in the API browser. Today, it's often a reader-unfriendly process to get to them. For example, take the Console Provider ..

[2019-06-16 17:42] guardrex commented on #12891
@lefe For the two that you asked about IIRC, I don't think there are options to configure (but you should look to make sure). For the rest of the providers, I'll link their options API docs.

[2019-06-16 19:42] #12830 closed

[2019-06-16 21:45] pablocar80 commented on #12856
@Rick-Anderson pages often include the namespace that is needed to add, and this one doesn't. It's trivial to add a reference only after you know which reference you need to add. Visual Studio 2019 won't automatically resolve the reference for UseWebSocket() in NET Standard projects.

Here is an example of a help page that includes the namespace at the top:
https://docs.microsoft.com/en-us/dotnet/

[2019-06-17 00:06] Andrzej-W opened #12896 "Wrong documentation for OnParametersSetAsync/OnParametersSet lifecycle methods"
[EDIT by guardrex to remind myself to add the no-loc metadata: `no-loc: [Blazor]`]

In current doc here https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#lifecycle-methods we have:

`OnParametersSetAsync` and `OnParametersSet` are called when a component has received parameters from its parent and the values are assigned to properties. These methods are executed af

[2019-06-17 00:41] techaimail opened #12897 "The FTP publish method does not publish any files"
Using the deployment profile downloaded from azure (checked ok that credentials direct via FTPS) the publish command delete the existent files but dont publish the files.

[2019-06-17 02:15] Rick-Anderson commented on #12856
That's an API page - a reference doc, different type of doc.
Can you PR and add that?

[2019-06-17 02:16] Rick-Anderson commented on #12856
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select the **Content feedback** issue.
![image](https://user-images.githubusercontent.com/3605364/52735418-b23f2680-2f6b-11e9-81c5-ec0105e55d00.png)

[2019-06-17 02:16] #12856 closed

[2019-06-17 03:04] techaimail opened #12898 "Please add a complete example of a simple .net core app with responsecompression enabled that works published in IIS without losing the compression in the response"
Using your basic information about responsecompression when the app is runing in console mode (iisexpress or kestrel) compression works, but when run in IIS (in or out of process) the response has no compression.

[2019-06-17 03:29] guardrex commented on #12898
Hello @techaimail ... If you verified that the [conditions for response compression](https://docs.microsoft.com/aspnet/core/performance/response-compression#troubleshooting) are met but compressed responses aren't produced, please open an issue for engineering ...

https://github.com/aspnet/AspNetCore/issues

btw- When you open a documentation issue, please use the **This Page** feedback button at

[2019-06-17 03:29] #12898 closed

[2019-06-17 03:33] guardrex commented on #12897
Hello again ... We only handle documentation on this repo. To report a problem with VS, use the **Report a Problem** process in VS ...

**Help** (menu item) > **Send Feedback** > **Report a Problem**

It opens an internal issue for the team that handles Visual Studio.

[2019-06-17 03:33] #12897 closed

[2019-06-17 08:47] kiske1 commented on #8277
I'm on .net Framework 4.6.2, and have the same problem.
Is there any solution to the problem?

[2019-06-17 09:13] Xarkam commented on #12861
Hello @Rick-Anderson,

I am going to do a PR but I am not very hot when I see that the issue ( 5028  ) that my wife opened in 2017 is tagged help wanted.

I will read the contributing page for this PR.

[2019-06-17 09:18] win32nipuh opened #12899 "gRPC client->gRPC Server: failed during the start"
I have build the gRPC pair (client+Greeter Service) and tried to run. I have received

1. the Server log:

dbug: Grpc.AspNetCore.Server.Internal.GrpcServiceBinder[1]
      Added gRPC method 'SayHello' to service 'Greet.Greeter'. Method type: 'Unary', route pattern: '/Greet.Greeter/SayHello'.
info: Microsoft.Hosting.Lifetime[0]
      Now listening on: http://localhost:50051
info: Microsoft.Hosting.

[2019-06-17 09:38] michaelmairegger opened #12900 "Updates within PrefixKeyVaultSecretManager"
In the doc page https://docs.microsoft.com/en-us/aspnet/core/security/key-vault-configuration?view=aspnetcore-2.2#use-a-key-name-prefix improve sample for `PrefixKeyVaultSecretManager` and inherit from `DefaultKeyVaultSecretManager` and use the predefined methods

    public class PrefixKeyVaultSecretManager : DefaultKeyVaultSecretManager
    {
        private readonly string _prefix;

        pub

[2019-06-17 11:00] Ljupco7 opened #12902 "Change title to "Tutorial: Create a web API with ASP.NET Core""
Please update the title as this tutorial doesn't contain instructions on building asp.net core MVC project with the Web API project, which is the only one explained in this tutorial. The current title is misleading.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version

[2019-06-17 12:18] gurmeetsinghdke opened #12904 "This information should be represented as a warning in documentation ."
In current documentation of session and app state here - [Session and app state in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-2.2#session-state).

There are few session state exhibits and last one is the following:

_Session state cookies aren't marked essential by default, so session state isn't functional unless tracking is permitted by the

[2019-06-17 12:36] spacecat opened #12905 "Potential issue with SetApplicationName when using Docker"
When Docker is enabled for a Razor Pages web app the auto-generated Dockerfile looks like the following:

[code]

Notice the last `WORKDIR `command `WORKDIR /app`

Now, I create a second Razor Pages web app with Docker enabled and I get the following auto-generated Dockerfile:

[code]

Notice that the last `WORKDIR `command is identical to the one from app mywebapp01.

Next, I publish both my apps

[2019-06-17 12:44] guardrex commented on #12904
Thanks @gurmeetsinghdke ... This isn't going to be as much of an issue as of 3.0 Preview 8. They're going to remove GDPR from the templates. See: https://github.com/aspnet/AspNetCore/issues/10346

The GDPR doc speaks to this scenario at the top. https://docs.microsoft.com/aspnet/core/security/gdpr

btw -- There's a **This page** feedback button at the bottom of the topic that tags issues with meta

[2019-06-17 12:46] guardrex commented on #12900
btw -- There's a **This Page** feedback button and form at the bottom of every topic. When the issue is opened using that approach, the issue is tagged with metadata that helps us track. Just mentioning this in passing in case you need to open future doc issues.

[2019-06-17 12:52] gurmeetsinghdke opened #12906 "A warning note about GDPR non-compliance should be included in the documentation."
As Asp.Net Core 2.1+ meets GDPR compliance requirements so below documentation about GDPR support in Asp.Net Core: [EU General Data Protection Regulation (GDPR) support in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/gdpr?view=aspnetcore-2.2)
must include a warning information about steps that can make a web application GDPR non-compliance.

**For example:** Session state wi

[2019-06-17 15:46] guardrex commented on #12906
The topic doesn't recommend setting `CheckConsentNeeded` for session: The fourth bullet point links down to the section that shows how to deal with the session cookie. I'm not sure if this rises to the level of a warning.

[2019-06-17 15:51] katiep23 commented on #12812
I actually found the difference.  The templates on the original site had "<button class="btn btn-primary" onclick="@IncrementCount">."

The updates use @onclick, which eliminates the error.

[2019-06-17 15:55] guardrex commented on #12812
Yes, indeed. We're still getting those little bits ironed out. I even have a PR in review now to continue that process ... https://github.com/aspnet/AspNetCore.Docs/pull/12893.

[2019-06-17 16:01] guardrex commented on #12900
Closing per https://github.com/aspnet/AspNetCore.Docs/pull/12901#issuecomment-502724661.

[2019-06-17 16:01] #12900 closed

[2019-06-17 16:03] Rick-Anderson commented on #12902
Web API is part of MVC, but I see your point

[2019-06-17 16:17] tdykstra commented on #12860
@buzzfrog Thanks for reporting that!  I'm fixing that plus some other issues I noticed while reviewing the tutorial.

[2019-06-17 16:41] #12902 closed

[2019-06-17 16:45] #12860 closed

[2019-06-17 16:50] #12861 closed

[2019-06-17 19:56] serpent5 commented on #12747
If this change is desired, I can create a PR.

[2019-06-17 20:01] guardrex commented on #12747
Sounds good to me. Capitalize the middleware as a proper noun. "Authorization Middleware"

[2019-06-17 20:14] spboyer commented on #12745
This error is an indication that the base image did not exist. I was able to pull and build the sample on both Linux and Windows.

Suggestion would be to remove any local base images for aspnetcore.

[code]
or for Powershell
[code]

Another option would to run the `build` command with the `--no-cache` option to force the pull of the image.

[code]

[2019-06-17 21:35] #12747 closed

[2019-06-17 21:36] #12886 closed

[2019-06-17 21:37] #10273 closed

[2019-06-17 22:15] #11443 closed

[2019-06-17 22:24] #9558 closed

[2019-06-17 22:26] MisinformedDNA opened #12917 "Should we resolve typed clients through IHttpClientFactory"
In the "Named clients" section, the example resolves the "github client" with `IHttpClientFactory`:

[code]

But in the "Typed clients" section, the example resolves the "github client" with the typed class and does not make direct use of `IHttpClientFactory`.

[code]

The documentation also states "IHttpClientFactory tracks and disposes resources used by HttpClient instances"?

So even though the

[2019-06-17 23:54] JamesNK commented on #12818
Broken with this change - https://github.com/aspnet/AspNetCore.Docs/pull/12522

[2019-06-17 23:54] JamesNK commented on #12818
@Rick-Anderson

[2019-06-18 01:08] JeanCollas commented on #7662
I add my 2 cents, with 2 blog articles:
[How to Include static files in a Razor library](https://dotnetstories.com/blog/How-to-Include-static-files-in-a-Razor-library-en-7156675136)
[How to automatically embed static files in ASPNET Core libraries and Razor libraries](https://dotnetstories.com/blog/How-to-automatically-embed-static-files-in-ASPNET-Core-libraries-and-Razor-libraries-en-7190877935)

[2019-06-18 01:41] ryan-h opened #12918 "Add content about enabling CORS for SignalR without applying the policy globally."
I encountered a situation where the CORS policy used for SignalR could not be enabled as the middleware default for the entire application. Instead I needed to use a specific policy only for the requests to the SignalR hubs.

Maybe it would be helpful to add a subsection about "Cross-origin resource sharing" that describes how to branch the request pipeline in order to apply a CORS policy specific

[2019-06-18 02:26] virtualbiz commented on #6078
![image](https://user-images.githubusercontent.com/50282257/59648898-3708ae00-91b3-11e9-8932-6fb2ffd3d51d.png)
Somehow I have to use this combination of configuration to make it work. Missing either AllowCredentials or SetIsOriginAllowed won't work. I think the document needs to provide more details and sample code.

[2019-06-18 03:14] #12818 closed

[2019-06-18 03:16] Rick-Anderson commented on #12818
Sorry guys :(

[2019-06-18 04:54] Rick-Anderson opened #12921 "Missing XML"
adding a `<PackageReference>` to the project file:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7223e694-85ba-4b95-96c8-68ae14753e7c
* Version Independent ID: 28ec8399-ba0e-c995-3ac2-b1f28e93331b
* Content: [gRPC services with C#](https://docs.microsoft.com/en-us/aspnet/core/grpc/basics?view=aspnetcore-3.0)
* Content

[2019-06-18 05:13] KannanMaheswaran commented on #12745
Thanks, You are right that we have to use different image. I tried with "microsoft/dotnet:2.1-aspnetcore-runtime-nanoserver-sac2016" and it worked for me on Windows Server 2016 too.

Actually my idea was to use the same image for Windows and Linux but Windows Server 2016 has different image for dotnet2.1 and SDK. However Windows Server 2019 i could use the same image that i used for Linux.

[2019-06-18 05:30] michaelmairegger commented on #12900
Ok, thanks for pointing that out

[2019-06-18 06:18] gurmeetsinghdke commented on #12906
Yes @guardrex , session cookies will start working if we make it essential (this is what fourth bullet point links down to) and this is not going to make an app GDPR non-compliance.
However, similarly session will start working if we disable tracking by changing  `options.CheckConsentNeeded = context => true;` to `options.CheckConsentNeeded = context => false;` and this change is something which c

[2019-06-18 06:56] stevejgordon commented on #12917
Hi @MisinformedDNA,

The short answer is that you can safely assume that IHttpClientFactory is managing the HttpClient (and under handlers/connections) for the typed clients as well as named clients.

The named client approach is a little simpler to follow as we can see that we're directly using the factory. In the case of typed clients, there's more abstraction involved. Your typed client accepts

[2019-06-18 10:41] gurmeetsinghdke commented on #12904
@guardrex Thanks for providing the information about elimination of GDPR from template.
Should it not be there for documentation pertaining to .Net Core 2.1+ and <3.0? Please suggest.

[2019-06-18 11:12] thangchung commented on #12628
Please make it works

[2019-06-18 11:22] amenayach commented on #12592
Meanwhile, you can use [this](https://github.com/aspnet/DataProtection/blob/a3484f4a908d73eb73c8194a4e197b06d2625090/src/Microsoft.AspNetCore.DataProtection/Repositories/FileSystemXmlRepository.cs) and [this](https://github.com/aspnet/DataProtection/blob/a3484f4a908d73eb73c8194a4e197b06d2625090/src/Microsoft.AspNetCore.DataProtection/DataProtectionBuilderExtensions.cs) to guide how to implement yo

[2019-06-18 11:33] guardrex commented on #12906
We provide warnings for scenarios that are truly dangerous from a security perspective. Breaking GDPR may cause a problem within a company (e.g., violate a company policy), and it might even create a legal problem for the company (e.g., a government fine), but it won't actually compromise the security of an app, server, or network. That's why I said that it probably doesn't rise to the level of a

[2019-06-18 11:34] guardrex commented on #12904
When the topic author returns, he'll take a look.

[2019-06-18 12:47] niemyjski opened #12923 "Upgrade guide doesn't talk about the changes needing to configure kestrel."
https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio#hostbuilder-replaces-webhostbuilder

                .ConfigureKestrel(c =&gt; {
                    c.AddServerHeader = false;
                    //c.AllowSynchronousIO = false; // TODO: Investigate issue with JSON Serialization.
                })

---
#### Document Details

⚠ *Do not edit thi

[2019-06-18 12:53] niemyjski commented on #12923
This doesn't cover other web things you might be doing like health checks outside of a startup class.

[2019-06-18 13:18] niemyjski commented on #12923
It also doesn't cover the following:

`app.Use((context, func) => context.Response.WriteAsync($"Running Job: {jobOptions.JobName}"));`

[code]

[2019-06-18 14:27] jumal007 opened #12925 "The application to execute does not exist"
when i put
dotnet ef migrations add InitialCreate
i have that problem
![image](https://user-images.githubusercontent.com/47306182/59692730-4527f000-91ee-11e9-9ad4-c9dedc55c7f6.png)

[2019-06-18 14:49] guardrex commented on #12925
Hello @jumal007 ... We only handle ASP.NET Core documentation issues here. For support (if you don't have a MS support agreement), consult with devs on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter.

[2019-06-18 14:49] #12925 closed

[2019-06-18 14:55] guardrex commented on #12925
Oh ... I see how you arrived here. You're looking at ...

https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/migrations?view=aspnetcore-2.2

Please use the **This Page** feedback button at the bottom of the topic to open a new issue.

I don't recognize that exception tho. Search the EF Core engineering repo. I just did a quick search, and it came up with ...

https://github.com/aspnet/Entity

[2019-06-18 16:07] dazinator opened #12928 "Router FallBackComponent gone in preview 6"
Looks like this is now not a thing anymore. You may wish to remove it from this document as it will confuse people.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79da574a-570f-04eb-86bd-c8065a016f44
* Version Independent ID: ac771374-6102-b838-57d2-e99bcf3f7d3e
* Content: [ASP.NET Core Blazor routing](https://docs.mic

[2019-06-18 16:40] guardrex commented on #12928
Strange ... virtually no mention of the drop in the engineering repo.

@ajaybhargavb Can you confirm the 🔪 *Kill Order* 🔪 on `FallbackComponent`?

[2019-06-18 17:49] ajaybhargavb commented on #12928
I'm not aware of this either. @pranavkm is this no longer a thing?

[2019-06-18 17:53] guardrex commented on #12928
The only mention is on [Router displays NotFoundContent without any layout (aspnet/AspNetCore \#10445)](https://github.com/aspnet/AspNetCore/issues/10445), where Steve says ...

"**_just like we used to for_**" ... makes it seems gone. However, I can't find an issue/PR where it was removed.

[2019-06-18 17:53] jumal007 opened #12931 "the application to execute does not exist"
after dotnet ef migrations add InitialCreate
i have problem the application to execute does not exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e56e675b-5964-a75b-7e45-6f6d1a607e65
* Version Independent ID: 78e47218-58a3-f8d9-e091-306126871a67
* Content: [Tutorial: Using the migrations feature - ASP.NET MVC with E

[2019-06-18 17:54] #12867 closed

[2019-06-18 17:58] pranavkm commented on #12928
`FallbackComponent` was replaced by `NotFoundContent` which lets you specify the content to display inline when no component matches a route.

[2019-06-18 17:58] guardrex commented on #12928
@pranavkm Thx ... I'll take care of it. 🔪

[2019-06-18 18:00] guardrex commented on #12928
So the idea would be that the dev places another component inside of `NotFoundContent`. We doc that separately on another PR, so I can just kill it here. :+1:

[2019-06-18 18:14] #12921 closed

[2019-06-18 18:19] Rick-Anderson commented on #12931
Per the instructions you need to create the app

[2019-06-18 18:19] #12931 closed

[2019-06-18 18:23] Rick-Anderson commented on #12917
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-06-18 18:23] #12917 closed

[2019-06-18 18:23] Rick-Anderson commented on #12917
Thanks @stevejgordon !

[2019-06-18 18:26] Rick-Anderson commented on #12906
@blowdart  do we want to warn about non GDPR compliance? I could have @guardrex make an animated GIF include.

[2019-06-18 18:27] Rick-Anderson commented on #12899
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-06-18 18:27] #12899 closed

[2019-06-18 18:28] #12226 closed

[2019-06-18 18:29] Rick-Anderson commented on #12745
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-06-18 18:29] #12745 closed

[2019-06-18 18:29] #7722 closed

[2019-06-18 18:38] blowdart commented on #12906
ASP.NET Core doesn't claim to be GDPR compliant, we give you features to help you reach compliance (as the documentation so carefully says), once you figure out what compliance means for your scenario. Compliance is more than using a template.

It is not for Microsoft to give legal advice on what is or is not compliance.

[2019-06-18 18:38] #12906 closed

[2019-06-18 23:49] prince272 commented on #8118
Hello,
I'm Prince. I would like to share alittle priece of code concerning error handling with or without the /api path.

 app.UseWhen(
                    context => !context.Request.Path.StartsWithSegments("/api"),
                    a =>
                    {
                        a.UseStatusCodePagesWithReExecute("/Home/Error{0}");
                        a.UseExceptionHandler("/Home/Error"

[2019-06-19 03:59] katiep23 opened #12944 ""Unclosed tag" error in Todo.razor template code"
Receiving "Unclosed tag 'TodoItem' with no matching end tag" error with the Todo.Razor code provided on this page.  Is this a bug?  My repo: https://github.com/katiep23/BlazorTest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e7dc3c-54c4-35de-203e-d230869e8417
* Version Independent ID: dc5b52d5-c8c6-1440-6b3a-fda898

[2019-06-19 04:05] katiep23 commented on #12944
It occurs twice with this statement: "private IList<TodoItem> todos = new List<TodoItem>();"

And once here (in FetchData.razor): "forecasts = await Http.GetJsonAsync<WeatherForecast[]>("sample-data/weather.json");"

Looks to be an issue with the < & > inside the @code block?

[2019-06-19 04:14] guardrex commented on #12944
Are you on Preview 6?

[2019-06-19 04:15] guardrex commented on #12944
I see your project ... that's Preview 5, so you'll need to go to Preview 6 for the updates.

https://dotnet.microsoft.com/download/dotnet-core/3.0

[2019-06-19 04:15] #12944 closed

[2019-06-19 10:09] rpennetta opened #12945 "Localization isn't working on DataAnnotations"
# Issue description

In the "AspNetCore.Docs\aspnetcore\fundamentals\localization\sample\Localization" example the data annotations seems not work. In the login page, for example, the field "Remember me" is ever the same value.

# Software versions

- [ ] .NET Core 2.1
[dotnetinfo.txt](https://github.com/aspnet/AspNetCore.Docs/files/3305584/dotnetinfo.txt)

<details>
<summary><strong>.NET Core SDK

[2019-06-19 10:12] tfr888 commented on #12572
What is the Blazor hosting-model counterpart to an ASP.NET application that talks to a remote SQL Server instance via  System.Data.SqlClient in an WebHandler or ashx, and Ajax widgets to inject jsonified data into the UI?

[2019-06-19 10:57] guardrex commented on #12572
@tfr888 We're working on a topic for that and have a PR in review. Blazor client-side works well with web API, but server-side is still in-design. There's a workaround approach for server-side in the PR comments. See: https://github.com/aspnet/AspNetCore.Docs/pull/12477.

btw - Your question doesn't match what this issue addresses. There's a **This Page** feedback button at the bottom of the topic

[2019-06-19 14:59] guardrex commented on #11148
@tdykstra I was about to work this. Why was PU added? Are they going to take this?

[2019-06-19 15:00] guardrex commented on #11149
@tdykstra Same ?: Are they going to take this? I was about to get to this one, too.

[2019-06-19 15:33] #12945 closed

[2019-06-19 15:45] git-Charlie commented on #12878
Thank you for your reply. I am still a rookie who relies on doc and example to learn.

[2019-06-19 15:45] #12878 closed

[2019-06-19 16:20] B4st13n opened #12947 "In the Select API dropdown, select the name of the web API."
When configuring access for Postman point 3: In the Select API dropdown, select the name of the web API. My dropdown is empty. Any idea why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ebb27a5-41cc-b64f-de68-2f0df6b02f8d
* Version Independent ID: 31de5338-ace5-b8c4-88e8-54863428fc61
* Content: [Authentication in we

[2019-06-19 16:29] B4st13n commented on #12947
https://stackoverflow.com/q/56672204/196526

[2019-06-19 16:36] LouBH opened #12948 "Error CS 1601"
I have downloaded the starter project from GitHub as directed.  When I add to ConfigureServices I get various errors, mostly CS 1601.             services.Configure&lt;CookiePolicyOptions&gt;(options =&gt;
            {
                options.CheckConsentNeeded = context =&gt; true;
                options.MinimumSameSitePolicy = SameSiteMode.None;
            });

            services.AddDbConte

[2019-06-19 17:06] Rick-Anderson commented on #12948
Let us know when you figure it out.

[2019-06-19 17:06] #12948 closed

[2019-06-19 17:16] rlassche commented on #6999
I just typed:
 ~/.dotnet/tools/dotnet-aspnet-codegenerator razorpage -m Movie -dc RazorPagesMovieContext -udl -outDir Pages/Movies --referenceScriptLibraries

So, I did not start with 'dotnet'.

[2019-06-19 17:36] LouBH commented on #12948
Not helpful, Rick.  I downloaded YOUR starter project and faithfully and carefully followed YOUR directions.  I started encountering problems immediately.  Have been able to fix some, but now I am getting more confused instead of advancing my understanding.  I am abandoning this tutorial.  I am sure there is a simpler way to do what I need to do.

[2019-06-19 17:47] Rick-Anderson commented on #12948
Can you post incorrect code?

[2019-06-19 17:53] Rick-Anderson commented on #12948
This is not a beginning tutorial. We have about 16K/month view, many reporting success.

[2019-06-19 18:28] danroth27 opened #12949 "Document enabling sticky sessions when using Blazor server apps with Azure SignalR service"
[EDIT by guardrex to coalesce content from #15392 into this issue]
[EDIT by guardrex to add the topic metadata]
[EDIT by guardrex to remind myself to add the no-loc metadata: `no-loc: [Blazor]`]

Typically server-side Blazor apps will prerender in response to the first request which will setup the UI state on that server. When the client tries to then setup the SignalR connection for that app and

[2019-06-19 18:28] danroth27 commented on #12949
Eventually, Visual Studio will just do this for you (in 16.3), but for now you need to enable in manually.

[2019-06-19 19:44] danroth27 opened #12953 "How to mix Blazor with apps that use existing frontend JS frameworks (Angular, React, etc.)"
Many customers have already built apps using existing frontend JS frameworks, like Angular, React, etc, but now want to start using Blazor in these apps. We should provide guidance on how to do this.

[2019-06-19 20:24] guardrex commented on #12949
A P1 issue? I can work it PDQ.

Looks like this is for the *Hosting Models* topic: https://docs.microsoft.com/aspnet/core/blazor/hosting-models

[2019-06-19 22:53] wadepickett commented on #12675
In this topic now finally, updating screenshots and verifying instructions against VS19.  I see a few minor changes have hit it the last few days and have synced, thanks.

[2019-06-19 23:13] Rick-Anderson opened #12958 "Update Introduction to ASP.NET Core for 3.0"
Update for 3.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad8c13e7-78e6-cf9a-e7cb-3215df5fd1c4
* Version Independent ID: a3c1d2a6-625a-3409-120d-8372230a8196
* Content: [Introduction to ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.2#feedback)
* Content Source: [aspnetcore/index.md](

[2019-06-20 01:59] #12947 closed

[2019-06-20 02:21] swaters86 opened #12959 "Connection string references in this article might need to be updated"
Please forgive me if I'm incorrect here but I believe the reference to the connection strings need to be updated.

The scaffolding command was throwing this error for me earlier:
---------------
Attempting to figure out the EntityFramework metadata for the model and DbContext: 'Movie'
Value cannot be null.
Parameter name: connectionString StackTrace:
   at Microsoft.EntityFrameworkCore.Utilities.C

[2019-06-20 04:16] angie-garciapaz opened #12960 "Mac Instructions"
The instructions for a mac user are incomplete for many of the pages. Many of the steps assume the user has completed certain steps that aren't mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add a

[2019-06-20 08:21] pierrejleroy opened #12962 "Test Server and Service Frabric"
Is it possible to use the test server to test a service fabric API ?

[2019-06-20 10:32] mrpmorris opened #12963 "Incorrect generated code"
The `Data binding` shows the following code

&lt;input value="@CurrentValue"
    @onchange="@((UIChangeEventArgs __e) =&gt; CurrentValue = __e.Value)" /&gt;

1: Rather than saying this is the "equivalent" code, say it is the auto-generated code. That way the reader will understand why a double underscore prefix is being used, against coding guidelines.
2: The identifier has been changed from __e t

[2019-06-20 12:06] guardrex commented on #12963
Hello @mrpmorris ...

* That's not the generated (Razor) code.
* I think the author's intent was to draw the code out into something *sort of* equivalent that one could write and run that shows what `@bind` is doing ... sort of. :smile:

  * `@bind` produces:

[code]

  * The *almost* equivalent example code produces:

[code]

* Since the Razor code will use whatever is provided there for the var,

[2019-06-20 13:22] prakash-manit opened #12964 "Caching in web api core"
Article talks about generic asp.net core stuff. Can there be some details about how to implement caching in web api core?

[2019-06-20 15:22] guardrex commented on #12964
Hello @prakash-manit ... We can't tell which article you're looking at. Please use the **This Page** feedback button at the bottom of the topic when you open an issue. It tags the issue with metadata that indicates to us the topic and provides metadata to help us track work.

WRT caching ... It is "generic" in ASP.NET Core apps and applies to web API apps. It's true that we don't have specific cac

[2019-06-20 15:22] #12964 closed

[2019-06-20 15:22] paulceli opened #12965 "You do not have permission to view this directory or page."
Hey,
I'm trying to publish my dotnet core spa app to Azure and I can't figure out what I'm doing wrong  (I'm publishing via VS code).
The Release build of the project is working fine on my local machine.

But for some reason I keep on getting the "You do not have permission to view this directory or page." error.

On a "Diagnostic Dump" from kudu, I can find  Pages of the error.
[code]

Exploring

[2019-06-20 15:32] guardrex commented on #12965
Hello @paulceli ...

You should have the deployment itself (.dll files) directly in the `home/site/wwwroot` folder. For example, here's a screenshot of one of my sample apps in Azure App Service ... you can see the publish files right in the `wwwroot` folder right next to the *web.config* file ...

<img width="333" alt="Capture" src="https://user-images.githubusercontent.com/1622880/59861371-5126c

[2019-06-20 15:43] paulceli commented on #12965
Hey,
Oh man, I suspected something was wrong with this structure..
Yeah, did everything in VS code for Mac Version 1.35.1 (1.35.1).

I do a "dotnet publish -c Release"
And then right-click on my project and "Deploy to Web App..."

Should I try to right-click deploy the "publish" folder only ?

Here is the logs, don't know if that is usefull.

[code]

[2019-06-20 15:50] guardrex commented on #12965
Ah, I see. I have a Mac here, but I just use it for tutorials and Blazor testing. I'm not familiar with the Mac publish-to-Azure Apps process.

Yes ... get the contents of the *publish* folder into the `D:\home\site\wwwroot`.

It should 🤞 ..... ✨ *Just Work!*:tm: ✨.

If you still have trouble, we can't help much from here. We just handle ASP.NET Core docs. You can consult with devs on a support fo

[2019-06-20 15:53] guardrex commented on #12965
Were u looking at this topic? ...

https://docs.microsoft.com/visualstudio/mac/publish-app-svc

[2019-06-20 15:54] paulceli commented on #12965
⭐️ Man you're the MVP.⭐️
Indeed it now just works. 😆  (can't believe I spend 2 days on this 😭)

[2019-06-20 16:07] guardrex commented on #12965
I'd like to take a look at this for our Azure Apps troubleshooting topic. I think we could have this exact error called out.

This issue will auto-close when a PR merges, so leave it open.

Sorry u hit that, but I'll try to get that scenario covered.

[2019-06-20 16:37] Rick-Anderson commented on #12960
Can you be specific? What steps are missing?

[2019-06-20 16:39] Rick-Anderson opened #12966 "ASP.Net Core With .Net Framework version different than the referenced docs"
Moved from https://github.com/aspnet/AspNetCore.Docs.fr-fr/issues/215 by @Davilink

![image](https://user-images.githubusercontent.com/3605364/59866035-677d5300-933f-11e9-9230-fd6418729a6d.png)

[2019-06-20 16:40] OneLonelly opened #12967 "How to shorten published project's folder name on server?"
After "publish" this test (MS VS 19) I copy it (with wwwroot folder) to outside server. If TodoApi.exe (with other files)  is placed in long-name folder (for example "C:\Users\dmitr\source\repos\TodoApi\TodoApi\bin\Release\netcoreapp2.2\publish") , that's works  fine (methods and index.html). But when it is placed in short-name folder like "c:\myFolder\", it works only as method server, but there

[2019-06-20 16:45] Rick-Anderson commented on #12967
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-06-20 16:45] #12967 closed

[2019-06-20 16:45] Rick-Anderson commented on #12967
Please post the solution here when you figure it out.

[2019-06-20 17:10] tdykstra opened #12968 "Yellow line highlighting in code blocks terminates at @ sign"
OPS bug at https://dev.azure.com/ceapex/Engineering/_workitems/edit/100244

Example from the [Razor components article]( https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0):
![2019-06-20_9-28-07](https://user-images.githubusercontent.com/1569635/59867635-94336980-9343-11e9-8b14-de61c4339898.png)

[2019-06-20 17:31] #12172 closed

[2019-06-21 09:02] mrpmorris commented on #12963
Names that are unlikely to clash are only required in generated code that is mixed with user code. If this is supposed to be user-written code then the example should conform to .NET coding practices for user-written code, and use `e` :)

[2019-06-21 10:52] nolisj commented on #5770
Hi! This is more of an idea than an issue. The `@inject `keyword in Blazor can get really repetitive when you start to have a lot of items to inject. Example (from the BlazingPizza sample project):

[code]

The more you want to use it, the more this can get really unwieldy. Also, it is not very clear to a new user (though one can deduce) that you are actually injecting a property.

I was thinking

[2019-06-21 11:48] guardrex commented on #5770
Hello @nolisj ... That's product feedback, so open it over in the engineering repo for the engineers to take a look at ...

https://github.com/aspnet/AspNetCore/issues

[2019-06-21 14:34] nolisj commented on #5770
Ok. Thank you very much. I'll do that.

[2019-06-21 16:30] Rick-Anderson opened #12978 "Fix GitHub security warnings"
Fix GitHub security warnings

aspnetcore/performance/caching/response/samples/1.x/ResponseCacheSample/wwwroot/lib/bootstrap/package.json

[2019-06-21 16:36] Rick-Anderson commented on #12978
Fixed in [this commit](https://github.com/aspnet/AspNetCore.Docs/commit/ea6298e667ad47529adb5ec5ec0eef363fd2ed54)

[2019-06-21 16:36] #12978 closed

[2019-06-21 17:30] #12966 closed

[2019-06-21 20:28] #12173 closed

[2019-06-21 20:45] jamesdickpro commented on #10274
While running through the tutorial using VS 2019, .Net Core 2.2, and generating the code with API Controller with actions, using Entity Framework, I noticed the generated code does not match the code in the tutorial.  Specifically,

Post Method
Generated code: return CreatedAtAction("GetTodoItem", new { id = todoItem.Id }, todoItem);
Tutorial code: return CreatedAtAction(nameof(GetTodoItem), new {

[2019-06-21 20:53] marchy opened #12982 "Concurrency locking by key for the repopulation callback"
Regarding repopulating the items and the 'This can result in several threads repopulating the cached item' point in the Additional notes section above, how can you ensure that only one thread invokes the cache repopulation at once?

In the warm-up sequence of our web app we happen to hit a ton of these all at once as we are pre-warming all sorts of routes which each hit common cache-key dependenci

[2019-06-21 21:27] Rick-Anderson commented on #10274
To do:

Delete Method
Generated code: `return todoItem;`
Tutorial code: `return NoContent();`

Verify with the scaffolding folks.

[2019-06-22 00:52] nickkaczmarek commented on #12409
import React from 'react';

export function Counter(props) {
  const [currentCount, incrementCounter] = React.useState(0);

  return (
    <div>
      <h1>Counter</h1>

      <p>This is a simple example of a React component.</p>

      <p>Current count: <strong>{currentCount}</strong></p>

      <button className="btn btn-primary" onClick={() => incrementCounter(currentCount + 1)}>Increment</butto

[2019-06-22 00:54] nickkaczmarek commented on #12409
https://gist.github.com/nickkaczmarek/c15193f9251a921be7511a6105cf8ac7

[2019-06-22 12:36] cremor commented on #10274
Related:
aspnet/Scaffolding#983
aspnet/AspNetCore#8855

[2019-06-23 00:05] #12548 closed

[2019-06-23 00:53] Rick-Anderson commented on #12962
If you have a document issue, please open on the document page.

[2019-06-23 00:53] #12962 closed

[2019-06-23 04:06] #12892 closed

[2019-06-23 09:12] mkvalluri commented on #12157
I still feel this is complicated to log errors. Probably we need to have something as simple as enabling InvalidModelStateErrors that also logs the details of the request.

[2019-06-23 13:26] sadqiang opened #12985 "How to verify the automatically-bound property in Get?"
The warning box says:

My question:
As binding is done automatically by the framework, how can I verify the property?
Is using ModelState.IsValid the verification method you meant?

Please give me an example. My code below always rejects the incoming Get because
the Name property is always invalid. I think I am wrong  in interpreting  "Verify user input before mapping it to properties." in the war

[2019-06-23 15:06] gmarokov commented on #7977
Hello @Rick-Anderson. I have the following model binding errors: https://stackoverflow.com/questions/53697300/asp-net-core-customize-the-error-when-model-binding-fails/56666434#56666434

Whenver I pass whitespaced or any invalid number model binding throws errors directly to the client exposing sensitive information:
`totalPrice: ["Could not convert string to decimal: . Path 'totalPrice', line 1,

[2019-06-23 15:38] Rick-Anderson commented on #12985
Verify it's not dangerous, for example JavaScript or SQL injection.

[2019-06-23 15:38] #12985 closed

[2019-06-23 18:17] Andrey-Pavlov opened #12986 "What is the purpose of SendGridUser"
Please update this documentation page: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm
https://github.com/aspnet/AspNetCore.Docs/issues/7955

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1bea60-d173-f6d2-3559-b147699e295a
* Version Independent ID: 98e7aacb-2a01-d581-9b03-bfef2893163e

[2019-06-23 18:56] Andrey-Pavlov opened #12987 "Missed part how to enable UserSecrets"
if (env.IsDevelopment())
			{
				builder.AddUserSecrets&lt;Startup&gt;();
			}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1bea60-d173-f6d2-3559-b147699e295a
* Version Independent ID: 98e7aacb-2a01-d581-9b03-bfef2893163e
* Content: [Account confirmation and password recovery in ASP.NET Core](https://docs.microsof

[2019-06-23 19:20] RockmanR commented on #12738
The instructions stays to add the RazorPagesMovieContext class to the Data folder, but then the namespace shows "RazorPagesMovie.Models". If it doesn't matter, then it should be mentioned in the tutorial itself to prevent the confusion.

[2019-06-23 19:31] RockmanR commented on #6999
Alright, thanks @rlassche that worked for me. I have no clue why this solves it. can someone explains this issue?

[2019-06-23 20:41] dougbu commented on #8462
7c22abea99ad gets us closer but need partner releases using the latest features to complete this work.

[2019-06-23 20:58] rlassche commented on #6999
I checked this issue again. This looks better:
1. My PATH on Linux was not correct.
`export PATH=~/.dotnet/tools:$PATH`
2. The command in tools directory is called **dotnet-aspnet-codegenerator** and exists now in the PATH.
3. Test  it with dotnet now:
`$ dotnet aspnet-codegenerator`
The help-text is displayed.

[2019-06-23 23:58] longhornleads opened #12988 "Can we get a list of breaking changes to EditForm please for the latest Blazor release? Is there a place where there is a list of the multitude of breaking changes for each blazor release. This last one was super bad (.NET Core 3.0.0-preview6). It's almost unusable, it's super unstable."
# Before you open an issue

If the issue is with an ASP.NET Core document, open the issue with the **Content feedback** button at the bottom of that document page.

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, conside

[2019-06-24 01:42] Rick-Anderson opened #12990 "Update Account confirmation and password recovery for 3.0"
Update Account confirmation and password recovery for 3.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1bea60-d173-f6d2-3559-b147699e295a
* Version Independent ID: 98e7aacb-2a01-d581-9b03-bfef2893163e
* Content: [Account confirmation and password recovery in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/cor

[2019-06-24 01:43] Rick-Anderson commented on #12987
That's not required.

[2019-06-24 01:43] #12987 closed

[2019-06-24 04:32] katiep23 opened #12991 "KeyVault with Core 3.0 Preview?"
Any examples on how to implement KeyVault with IHostBuilder instead of IWebHostBuilder in Program.cs for 3.0 Preview? Would be greatly appreciated!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cc0b77a-df21-7007-5cec-4399d98c6dc6
* Version Independent ID: efe5ae5e-ff64-f1c7-6920-4512fc8f36d1
* Content: [Azure Key Vau

[2019-06-24 10:38] guardrex commented on #12991
Hello @katiep23 ... Usually, we wait until the Release Candidate because there's so much churn in engineering that we'd find ourselves returning to update topics a second time if we work them this early. They haven't announced dates yet, but they've said publicly that there will be several more rapid preview releases before the framework reaches RC. Keep an eye out for their remarks on 3.0 RC ...

[2019-06-24 10:38] #12991 closed

[2019-06-24 10:55] guardrex commented on #12988
Hello @longhornleads ... A couple of approaches:

* The blog posts generally list the major changes (*but not the smaller updates* ... there's a lot of churn during previews and a *TON* of small fixes and updates ... too many to list out in the blog post). https://devblogs.microsoft.com/aspnet/?s=blazor&submit=%EE%9C%A1
* The engineering repo:
  * Release Notes (but not super helpful given that it

[2019-06-24 10:55] #12988 closed

[2019-06-24 12:09] #10770 closed

[2019-06-24 13:37] iAmBipinPaul opened #12993 "Check claims (email) before creating a new cookie, without asp. core identity store using asp net core social login"
I'm working on my hobby project where I'have implemented social login via Google.
now I want to prevent this so that only certain user can sign in into the app, As I found that there is no way to restrict this on google OAuth side, So I have added a table to store the email and role.
if the email address is not found in that table I want to prevent a user from signing.
[code]
https://stackoverflow

[2019-06-24 15:04] Rick-Anderson commented on #12993
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag like you have.

[2019-06-24 15:04] #12993 closed

[2019-06-24 15:33] #11148 closed

[2019-06-24 17:01] tdykstra opened #12994 "Update Proxy and load balancer config doc for 3.0"
Forwarded headers middleware update:  https://devblogs.microsoft.com/aspnet/forwarded-headers-middleware-updates-in-net-core-3-0-preview-6/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e548cd16-b06c-5802-a1a7-c627167857ae
* Version Independent ID: c48abb08-bea3-dcff-c067-2edf5dc9b3a6
* Content: [Configure ASP.NET Cor

[2019-06-24 18:10] guardrex commented on #12994
Let's reconcile this with https://docs.microsoft.com/aspnet/core/host-and-deploy/proxy-load-balancer#forward-the-scheme-for-linux-and-non-iis-reverse-proxies from https://github.com/aspnet/AspNetCore.Docs/pull/12740.

The added section on that PR is scoped to 2.1-2.2 because the process is manual for <3.0. As of 3.0, that section doesn't appear because it all ✨ *Just Works*:tm: ✨ **_after the new

[2019-06-24 18:40] tdykstra commented on #12994
Is this note still accurate in 3.0:

[2019-06-24 19:54] javiercn opened #12995 "[Preview 8] Blazor security guidance and best practices"
As we work through properly securing blazor server-side applications we need to document the best practices we recommend for customers to expose blazor server-side apps to the internet in a safe manner.

**This includes updating the threat model to include all of the additional information that was shown in the meeting.**

Areas of interest:
* Cross-origin access
* Circuit ids
* JS interop.
* Inpu

[2019-06-24 20:21] bradygaster commented on #12994
@guardrex i will be able to confirm that ASAP, have a meeting with that team shortly and will know more about their release cadence once we do chat.

[2019-06-25 03:21] rynowak opened #12997 "Add documentation for DynamicRouteValuesTransformer"
This is a new feature that allows users to migrate `IRouter` code that dynamically manipulates route values to endpoint routing.

https://github.com/aspnet/AspNetCore/issues/4221

[2019-06-25 07:43] mzkev opened #12998 "The Images in the Create a web API with ASP.NET page are for Visual studio 2017"
A proposal to update the images in the Create a web API with ASP.NET page with Visual studio 2019.

I noticed it states Visual studio 2019 in the prerequisites and the images are for Visual studio 2017.

If my proposal gets accepted i will make sure i compress the images with TinyPNG and also follow the contribute guide.

[2019-06-25 07:52] tinod opened #12999 "OAuth/OpenID Connect Scopes in the Authorization?"
Is there an easy way to deal with OAuth/OpenID Connect Scopes in the Authorization?
So far, it appears that you will have to create a handler and a requirement that get the http://schemas.microsoft.com/identity/claims/scope claim (which isn't even a named claim in the System.Security.Claims.Claim enum), split it (with a space as the separator) and then check whether there is a value that matches t

[2019-06-25 13:37] iAmBipinPaul commented on #12993
Answer https://stackoverflow.com/a/56748954/5678666

[2019-06-25 17:12] jfitzpatrick99 opened #13001 "Adding the rating column to the sqlite database does not work as advertised"
In order to add the new rating column to the database using sqlite on Mac, I had to do the following:

[code]

In other words, simply deleting the `MvcMovie.db` file and running `dotnet ef database update` was not enough.  It was required to remove the `InitialCreate` migration and then create it again first.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-06-25 17:25] guardrex commented on #12998
Hello @mzkev ... I think the updates just went in on https://github.com/aspnet/AspNetCore.Docs/pull/12989. Those updates will probably go live today. Check back this evening. If you detect an issue with the topic, use the **This Page** feedback button at the bottom of the topic to open an issue (it will tag your issue with metadata that helps us track the work).

[2019-06-25 17:25] #12998 closed

[2019-06-25 18:10] ravick4u opened #13002 "Can not create User Class"
I have created my project with following instructions

- From the Visual Studio File menu, select New &gt; Project. Name the project WebApp1
- Select ASP.NET Core Web Application &gt; OK
- Select ASP.NET Core 2.2 in the dropdown
- Click on change authentication and select individual user account and click ok

Next I would like to add scaffolding so followed below step

- From Solution Explorer, ri

[2019-06-25 18:11] ravick4u commented on #13002
![UserClass option is disabled](https://user-images.githubusercontent.com/11890407/60122391-190ef080-9753-11e9-9e8b-2340cb8ece63.png)

[2019-06-25 19:47] gojanpaolo opened #13004 "Will this wok on a Web API?"
Seeing that this is under `Web apps`, will this work on a `Web API` (at least adding Controllers from a separate class library)?
Thank you! :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2784a724-e940-4c14-3b50-b063f78c2ee5
* Version Independent ID: 41175c3a-8cb5-856b-a7e0-931edb6394db
* Content: [Application Parts

[2019-06-25 19:52] blowdart opened #13005 "Missing cert generation, discussion of validation etc."
The original doc was pretty much a "You know you need certificate auth, so you know what you're doing". This now needs more fleshing out, including how to generate client certificates for testing (powershell or openssl instructions), how to accept self signed certs, along which how to create an http request with a cert and suggestions around validation (e.g. "thumbprint" for service to service aut

[2019-06-25 19:54] ardalis commented on #13004
Yes. Web APIs are Web Apps as far as ASP.NET Core is concerned.

[2019-06-25 20:12] gojanpaolo commented on #13004
@ardalis I see. Thank you!

[2019-06-25 20:26] #13004 closed

[2019-06-25 20:33] paul000 opened #13006 "Student Sort"
How would I do a simple ascending sort on the LastName, no searches, no filters, and no heading to do a descending sort? What lines of code do I include and what lines of code do I delete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 877f0457-37d9-9a34-e2ce-beb41d717086
* Version Independent ID: e9b0d4d1-e98c-fb96-41

[2019-06-25 21:23] guardrex commented on #13006
Hello @paul000 ... We don't have the staffing to field general development questions. Try a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter. You can also access the Linq docs for that. Start here :point_right: https://docs.microsoft.com/dotnet/csharp/programming-guide/concepts/linq/ ... it links off to other topics that get into sorting scenarios.

[2019-06-25 21:23] #13006 closed

[2019-06-25 22:44] angie-garciapaz commented on #12960
Page: Get Started
-The user should be given the choice to use the GUI to make the project and not just the terminal.

-Unless the user has f1, f2, etc as the standard function keys, cmd-opt-f5 won't work so it would be command-option-enter to run without the debugger.

Page: Add a model
- It's assumed that we've added the Data folder without being told
- I think it should be explained why we're us

[2019-06-25 22:56] guardrex opened #13007 "Rename '@aspnet/signalr' and '@aspnet/signalr-protocol-msgpack' to '@microsoft/...'"
Rename '@aspnet/signalr' and '@aspnet/signalr-protocol-msgpack' to '@microsoft/...'

https://github.com/aspnet/AspNetCore/issues/11568

[2019-06-26 00:04] guardrex commented on #12994
Sry @tdykstra ... Just :eyes: your question. According to their test, *yes* ...

https://github.com/aspnet/AspNetCore/blob/release/3.0-preview6/src/Middleware/HttpOverrides/test/ForwardedHeadersMiddlewareTest.cs#L747

[2019-06-26 00:26] paul000 commented on #13006
Will do, thanks.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Luke Latham <notifications@github.com>
Sent: Tuesday, June 25, 2019 5:24:08 PM
To: aspnet/AspNetCore.Docs
Cc: paul000; Mention
Subject: Re: [aspnet/AspNetCore.Docs] Student Sort (#13006)

Closed #13006<https://eur04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Faspnet%2FAspNe

[2019-06-26 01:06] #6838 closed

[2019-06-26 01:06] #12884 closed

[2019-06-26 03:22] natiki commented on #12432
Hi,

Just to add to @CallStackRunner I am also confused by this. There appears to be no way to allow a WebForms .NET 4.61 application using using `Microsoft.AspNet.Identity` to use Microsoft.AspNet**Core**.Identity and hence have the WebForms application and the .NET Core application use ASP.NET Identity Core common database.

What am I missing here? I need exactly what this post promises but cann

[2019-06-26 06:03] voltagex opened #13009 "Is dotnet new blazorhosted meant to be dotnetnew"
[code]
`&gt;dotnet new blazorhosted`
`No templates matched the input template name: blazorhosted.`

The template seems to be called blazorserverside now

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 542f38c4-1502-f739-372a-80c86c377491
* Version Independent ID: 72c2a844-ffb2-4799-2c7a-a7a73d3b6833
* Content: [ASP.NET

[2019-06-26 09:51] yahorsi opened #13013 "Clarify 64-bit scenario for Azure App Service"
Hi Guys,

The whole x64 bits topic is confusing.
These days people want to run in x64 mode just because we have some load and need some memory to be available. And we want to understand how is that possible.

I beleive there are different languages, and even worse different deployment "modes". And, every language developer needs to understand what he must do to deploy his app as x64.

What's curre

[2019-06-26 10:15] hanhnguyen1421998 commented on #12575
sds

[2019-06-26 11:05] guardrex commented on #13009
Hello @voltagex ... Those are two different templates.

Make sure you've installed the Preview 6 templates ...

[code]

... and you should see them all when you execute `dotnet new --help` ...

<img width="476" alt="Capture" src="https://user-images.githubusercontent.com/1622880/60175123-481b7580-97d8-11e9-8f6a-d36e18e3229d.PNG">

[2019-06-26 11:05] #13009 closed

[2019-06-26 13:58] SteveSandersonMS opened #13014 "Add documentation for parsing during binding"
Currently, the [docs for Blazor's `@bind`](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#data-binding) don't mention anything about what we do when you bind to an `int`, `decimal`, `DateTime`, or similar and the user enters an unparseable value.

The **old** behavior was that we would ignore the user's input until they type something valid, at which point we'd

[2019-06-26 14:40] #10743 closed

[2019-06-26 15:37] Andrzej-W commented on #9991
Don't forget that you cannot remove migrations if you have database in production. You always have to migrate from the old schema to the new schema. If something is not supported out of the box (in Entity Framework or database) you have to write migration manually in raw SQL - there is no other choice.

[2019-06-26 15:56] Rick-Anderson commented on #13001
I don't think you need to remove the DB

~rm MvcMovie.db~

[code]

[2019-06-26 15:57] Rick-Anderson commented on #13001
cc @tdykstra

[2019-06-26 15:57] Rick-Anderson commented on #13001
@jfitzpatrick99  thanks for bringing this to our attention.

[2019-06-26 15:59] Rick-Anderson commented on #13002
Per the instructions, you can't use an existing DB context

To create a new user context and possibly create a custom user class for Identity:
Select the + button to create a new Data context class.
Select ADD.

[2019-06-26 15:59] #13002 closed

[2019-06-26 17:12] guardrex commented on #13013
Hello @yahorsi ...

* The .NET Core runtime is the execution environment for .NET Core apps. It's not the OS. The OS is part of the app's entire environment but not part of the .NET Core runtime. There are 32- and 64-bit runtimes.
* Azure App Service does have both the 32- and 64-bit runtimes available ever since .NET Core 2.2 was released. Note that to set the **Platform** to **64 Bit** in the Ap

[2019-06-26 18:30] lukepuplett opened #13019 "No authentication handler is registered for the scheme 'Identity.Application'."
The second box of code showing 2.0 setup doesn't work. I have used this which isn't exactly as per the sample, since I don't use EF and does use roles, so I would imagine this would work having read this page, but it doesn't. In fact, I have spent more than 2 weeks without successfully getting OAuth working. There's something really wrong with the documentation or the API design.

Note that I am u

[2019-06-26 18:31] lukepuplett commented on #13019
does use roles => don't use roles

[2019-06-26 18:37] #12744 closed

[2019-06-26 18:37] lukepuplett commented on #13019
The error appears with this stack.

System.InvalidOperationException: No authentication handler is registered for the scheme 'Identity.Application'. The registered schemes are: Facebook. Did you forget to call AddAuthentication().Add[SomeAuthHandler]("Identity.Application",...)?
   at Microsoft.AspNetCore.Authentication.AuthenticationService.AuthenticateAsync(HttpContext context, String scheme)

[2019-06-26 18:43] lukepuplett commented on #13019
Gah! Its my fault, I found I left code for an authorization policy for `IdentityConstants.ApplicationScheme`.

[2019-06-26 18:57] lukepuplett commented on #13019
Actually I can get similar code using Google to fail with

Using this.

            services.AddIdentityCore<TimesheetsUser>();

            // If you want to tweak Identity cookies, they're no longer part of IdentityOptions.
            services.ConfigureApplicationCookie(options => options.LoginPath = "/Account/LogIn");
            services.AddAuthentication()
                    .AddGoogle(goog

[2019-06-26 18:58] #12835 closed

[2019-06-26 18:58] #12928 closed

[2019-06-26 19:39] #12445 closed

[2019-06-26 19:40] Rick-Anderson commented on #12960
@angie-garciapaz  thanks for the specific information. We'll get this addressed in the next update.

[2019-06-26 20:04] guardrex opened #13022 "Blazor auth topic enhancements"
Per @tdykstra https://github.com/aspnet/AspNetCore.Docs/pull/12853#pullrequestreview-254351552 ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9942b0a-a7fb-0d34-9201-af0963affa9e
* Version Independent ID: 19770710-5225-a1ea-e082-65da6ba4a49a
* Content: [ASP.NET Core Blazor authentication and authorization](https://

[2019-06-26 20:45] marchy commented on #12982
Seems there is a long-running unsolved issue for this already here: https://github.com/aspnet/Extensions/issues/708

Microsoft team, any updates with roadmap on this? Having a cache that calls the expensive operation we are trying to protect from simultaneously goes against the very purpose caches are built in the first place. In a typical server warm-up scenario, where you want to fire off many c

[2019-06-26 22:17] spankr commented on #11435
The issue I am dealing with now is that other engineers are taking the line, _"Place extension methods in the Microsoft.Extensions.DependencyInjection namespace to encapsulate groups of service registrations."_ and declaring it "the standard used by the ASP.NET vNext team" (https://github.com/OData/WebApi/issues/576).

I'm with @EldieTurner on assuming everything under Microsoft.* should be Micros

[2019-06-26 22:28] spankr commented on #11435
Okay, that OData link is a poor example(my bad). It makes perfect sense for them to use the namespace, as OData is part of Microsoft (TIL).
But I do have non-MS engineers pointing at examples like that (and this doc) and drawing the conclusion that everyone should be using that namespace for their extensions of **IServiceCollection**.

[2019-06-26 22:45] guardrex commented on #11435
AFAIK, the answer is *Yes!* I was able to trace the remark back to this ...

https://github.com/aspnet/AspNetCore.Docs/pull/2145#issuecomment-260189456

... where Steve says that the Product Unit said to do it.

Engineering has looked this topic over multiple times since then and never said to change it. We'll be reviewing updates again when we get to 3.0 updates. I'll ask explicitly in a few mont

[2019-06-26 23:18] voltagex commented on #13009
That makes sense but is a bit confusing when starting out with blazor.
Thanks.

On Wed, 26 Jun. 2019, 21:05 Luke Latham, <notifications@github.com> wrote:

[2019-06-26 23:21] guardrex commented on #13009
It's in the Get Started topic. We assume a reader will see it there first, but sometimes things don't work out that way.

Step 2 of https://docs.microsoft.com/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio

[2019-06-26 23:23] guardrex commented on #13009
I'm about to do a doc sweep on these for the Preview 6 release on https://github.com/aspnet/AspNetCore.Docs/issues/10717. I'll take another look at how we describe the templates and how we cross-link. Thanks for letting me know that you hit this issue.

[2019-06-26 23:29] guardrex commented on #10773
We're going to track next steps here on the issue. I'm going to close the current PR, which was out-of-sync with my local branch anyway and doesn't have content to cover all of the updates we made to the app.

The app will remain at ...

https://github.com/guardrex/PlanetAtlas

... for further review and feedback.

[2019-06-27 00:29] rynowak commented on #12997
# Summary

`DynamicRouteValueTransformer` is a new feature in Endpoint Routing that supports create of *slug*-style routes. Implementing a `DynamicRouteValueTransformer` allows an application to programmatically select a controller or page to handle the request, usually based on some external data.

## Writing a transformer

First, subclass `DynamicRouteValueTransformer`, and override the `Transfo

[2019-06-27 00:39] rynowak commented on #12530
# Summary

The `@attributes` directive allows you to specify a collection of attributes to pass to a markup element or component. This is valuable because the set of key-value-pairs specified as attributes can come from a .NET collection and do not need to specified in the source code of the component.

This feature is especially valuable when defining a component that produces a markup element th

[2019-06-27 01:42] spankr commented on #11435
Hah, that is so crazy! My first thought was it was only meant as a note for other Microsoft devs to share a naming convention across the various Microsoft's github projects.

If its something that happens to be open to a community vote as part of the 3.0 update, I'd be interested in voting to change it. In the meantime, I'll share the response with the rest of my team.

Thank you for checking on t

[2019-06-27 02:42] demvin opened #13023 "dotnet ef does not work in core 3"
Please indicate the proper procedure to install dotnet ef in core 3.  It should be more straightforward.  thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94bfd895-d2af-390b-0801-428b36a27ff4
* Version Independent ID: 0e0d870e-e49a-e16c-c259-68d58e701b8f
* Content: [Introduction to Identity on ASP.NET Core](https

[2019-06-27 04:41] duydangnguyendkt commented on #11724
I have same issues but i know what is going on,
some how it generate codes (Create,Delete,Details,....) on Models, you need create Movies folder in Pages and move these file into it. Worked for me .

Rick Anderson is great and the tutorial is fine.

[2019-06-27 06:26] mhintzke opened #13024 "Misleading Implementation Recommendation"
The documentation I am referencing is this one regarding CSRF Attack Prevention

https://docs.microsoft.com/en-us/aspnet/core/security/anti-request-forgery
I would recommend adding a note under the section quoted:

*To send the token on subsequent requests, store the token in the browser's local storage. Don't be concerned about CSRF vulnerability if the token is stored in the browser's local stor

[2019-06-27 07:35] serpent5 commented on #13019
`AddIdentity` also configures authentication schemes and cookies. If you're using `AddIdentityCore`, you need to do this yourself, as you've taken more direct control of the setup. To emulate the functionality you're missing, the following should work:

[code]

[2019-06-27 08:15] lukepuplett commented on #13019
Unwittingly. Nothing about that method name indicates that I have taken more control. That's the problem with all this. It's a mess.

But thank you, not your fault.

[2019-06-27 08:15] #13019 closed

[2019-06-27 12:02] guardrex commented on #13024
Hello @mhintzke13 ... I've marked this for the Product Unit to take a look at.

btw- Please use the **This Page** feedback button at the bottom of the topic when opening a new issue. It adds metadata that helps us track issues and work. I just mention it for future reference.

[2019-06-27 13:59] damienbod commented on #13005
I created 2 blogs about this, maybe you could add parts of them to the docs

Certificate Authentication in ASP.NET Core 3.0 (Self Signed)

https://damienbod.com/2019/06/13/certificate-authentication-in-asp-net-core-3-0/

Using Chained Certificates for Certificate Authentication in ASP.NET Core 3.0

https://damienbod.com/2019/06/27/using-chained-certificates-for-certificate-authentication-in-asp-ne

[2019-06-27 17:49] Rick-Anderson commented on #13005
@blowdart  can we use some of @damienbod  blog?

@damienbod if @blowdart  approves, we'd want you to at minimum copy/paste the relevant content into this doc and create a PR. You could copy pure HTML if you like, I can fix it.  It's better if you sign the CLA - rather than implying permission in an issue.

[2019-06-27 18:24] empz opened #13026 "Code samples are identical for both methods"
This page says that we can either a) Use imperative authorization or b) Write a resource-based handler.

The imperative is pretty straightforward, but can end in a lot of duplicated code if we need to apply the same logic to several action methods.
So I was assuming a resource-based handler could abstract all this and be easily apply as an attribute filter to each action method, but the example sh

[2019-06-27 19:46] SkillzB opened #13029 "[ValidateAntiForgeryToken] attribute causes POST actions to fail"
The [ValidateAntiForgeryToken] attribute caused all of the POST actions to fail. I'm not sure if this is a configuration issue on my end or my SDK is out of date.
I'm using Visual Studio Community 2019 16.1.2 with https enabled and no authentication (Tutorial defaults). SDK version 2.1.700.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-06-28 00:09] osca2000 commented on #9902
Nuget has got Microsoft.OpenAPI and Swagger. For API documentation, can we use Microsoft.OpenAPI only? Without Microsoft.OpenAPI, swagger does all. What is the role of Microsoft.OpenAPI then? I cannot find any sample of Microsoft.OpenAPI to do Swagger UI style documentation. In the past, visual studio api project did all this as default. But not anymore.

[2019-06-28 02:22] khteh opened #13035 "WebSocket transport doesn't work!"
Do you have any sample on using HttpTransportType.WebSockets? I tried but keep getting "System.Net.WebSockets.WebSocketException : Unable to connect to the remote server"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9bc1072-be2c-94f6-49bf-daa9e97dff2d
* Version Independent ID: 36052173-7061-6d01-8aed-915685cd7cf6
*

[2019-06-28 02:29] Lei1025 opened #13036 "Where the model "Person" come from?"
@{
    var joe = new Person("Joe", 33);
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b87067b2-347c-072d-26c8-5a8c7c9c860b
* Version Independent ID: a0b3b70a-3b39-1b5f-a4ce-c41bd2d6b044
* Content: [Razor syntax reference for ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-2

[2019-06-28 02:42] Rick-Anderson commented on #13029
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-06-28 02:42] #13029 closed

[2019-06-28 02:44] Rick-Anderson commented on #13036
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-06-28 02:44] #13036 closed

[2019-06-28 07:10] mhintzke13 commented on #13024
Ahh ok I see thanks, will do this in the future!

[2019-06-28 07:20] lukepuplett commented on #13019
Just for correctness, `.AddGoogle(...)` cannot be appended to the return of `.AddIdentityCookies(...)`, but it does compile the other way around.

[2019-06-28 07:31] serpent5 commented on #13019
Thanks for reporting back on that. :+1:

[2019-06-28 07:45] MDendura opened #13037 "Improve Code Examples for "gRPC services with ASP.NET Core""
* The first and second code blocks are identical. It may be more useful to show just the `ConfigureServices` method in the first block and just the `Configure` method in the second to better highlight the point of interest.

* The text above the last code block talks about getting access to the `HttpContext` but the code itself does not show this and is instead a duplicate of the previous block.

[2019-06-28 08:00] lukepuplett commented on #13019
My `AccountController.ExternalLoginCallback(..)` runs and `this.SignInManager.GetExternalLoginInfoAsync()` returns non-null at last, so thanks for helping me get this far.

I call

   externalLoginResult = await this.SignInManager.ExternalLoginSignInAsync(
      externalLoginInfo.LoginProvider, externalLoginInfo.ProviderKey, isPersistent: persistCookieAfterBrowserClose);

Which fails, so I setup s

[2019-06-28 08:19] DanTsion commented on #12944
Excuse me, but i am in preview 6 and i had the same error,

I created a new project for test some Component like InputData(who doesn't work) and i got this error...

[2019-06-28 08:40] serpent5 commented on #13019
How are you registering `SignInManager` with DI?

[2019-06-28 10:27] vangras commented on #9474
The following pattern seems to work for me: "inputFiles": [ "wwwroot/**/!(*.min).css" ]

[2019-06-28 11:41] guardrex commented on #12944
@DanTsion Put up a repro project on GitHub that demonstrates the error. Use the **This Page** feedback button at the bottom of the topic to open a new issue and provide a link to the project. I'll pull it down and take a look.

[2019-06-28 11:54] lukepuplett commented on #13019
I was using `.AddUserStore` and `.AddSignInManager` extensions but I decided to take everything out and return to basics/the docs and start over. So I have resolved any DI errors the more traditional way, i.e.

[code]

[2019-06-28 12:14] serpent5 commented on #13019
The call to `AddSignInManager` adds additional services - most notably, an `ISecurityStampValidator` implementation. You can see this in the [source](https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Identity/Core/src/IdentityBuilderExtensions.cs#L37).

[2019-06-28 12:22] guardrex commented on #12795
**Update**: It was added by the engineers on #12762 and is live now ...

https://docs.microsoft.com/aspnet/core/mvc/views/razor?view=aspnetcore-3.0#section-7

[2019-06-28 12:35] nacoleman commented on #7662
Based on the last 3 comments and the workload required to get this working would it be fair to say the documentation here https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-2.2&tabs=visual-studio#create-an-rcl-with-static-assets is too simple and fails to mention any of what is actually required?

[2019-06-28 13:12] nacoleman opened #13038 "Static Assets in Reusable Razor class libraries"
"When the app is published, the companion assets from all referenced projects and packages are copied into the wwwroot folder of the published app under _content/{LIBRARY NAME}/."

I think The static assets should be part of the demo app... It doesn't seem to work at all. I have followed the steps and get nothing published into wwwroot folder

---
#### Document Details

⚠ *Do not edit this section

[2019-06-28 14:32] Rick-Anderson commented on #13038
@guardrex  didn't you just test this?

[2019-06-28 14:44] nacoleman commented on #13038
@Rick-Anderson thx - I am using .net core 2.2 web app to consume the RCL. The RCL is very basic with one View in it and one css file in the wwwroot directory. The view works fine and is used in the consuming app but the css doesn't.

based on the comments on this issue: https://github.com/aspnet/AspNetCore.Docs/issues/7662 it seems like a lot more work is required than this help section suggests.

[2019-06-28 15:08] guardrex commented on #13038
@nacoleman You need to be on 3.0 Preview 6. It won't work on 2.2.

I'll check the versioning in the topic to see if we have it set up correctly.

[2019-06-28 15:10] guardrex commented on #13038
It's versioning. I'll fix it. Thanks for reporting this @nacoleman. Sorry for the error.

[2019-06-28 15:12] nacoleman commented on #13038
@guardrex Ah ok that explains everything! Thanks for getting back to me so fast. Spent a few hours trying to figure it out but learnt a few things in the process so no harm done.

[2019-06-28 15:14] guardrex commented on #13038
Sorry about that. We were a bit up in the air on how to host the content because static assets apply to both RCL **with** and **without Blazor**. We figured out that we wanted to put the content here and then link to it from the Blazor topic on *Razor component class libraries*. Getting that all figured out, we didn't get the correct versioning tags on the content. It's a simple fix (#13039). Than

[2019-06-28 15:34] guardrex opened #13040 "Drop unused sample apps"
From the update yesterday to the sample tracking issue (#5495), I discovered three samples that seem unused. We can 🔪 them out.

* client-side/spa/AngularServerSideRendering
* The 1.x sample that was used with the DI topic (that topic is 2.1+ now).
* web-api/advanced/odata-security/sample/ODataAPI

[2019-06-28 15:46] #13038 closed

[2019-06-28 15:48] guardrex commented on #12619
NOTE: This issue remains open because more work is planned. On #12954, the process was started ... combination and relocation of troubleshooting topics. More content work is on the way tho in a future PR. The details are TBD at this time (6/28). I'll move this out to the July sprint for now.

[2019-06-28 16:41] LouBH commented on #12948
Sorry, have been out sick for a week.  Incorrect code is posted above.  Here are the errors I am getting:

Error	CS1061	'CookiePolicyOptions' does not contain a definition for 'CheckConsentNeeded' and no accessible extension method 'CheckConsentNeeded' accepting a first argument of type 'CookiePolicyOptions' could be found (are you missing a using directive or an assembly reference?)

Error	CS0103

[2019-06-28 17:02] Rick-Anderson commented on #12948
I think this requires 2.1 or higher.

[2019-06-28 17:15] LouBH commented on #12948
I thought so too, but then how did I end up with a project file that uses older versions?  I don’t have a good enough understanding of how to identify and attach the right package, if that is the correct term, to my project.  I have 2.2 on my machine.  When I tried to use Package Manager to upgrade one package a little bit, instead it upgraded all of them to the latest version and I got  lots more

[2019-06-28 17:46] Rick-Anderson commented on #12948
Install the 2.2 SDK. All packages come from the SDK now, not NuGet.  Upgrade your project to 2.2

[2019-06-28 17:50] #13040 closed

[2019-06-28 18:28] Rick-Anderson opened #13045 "Migrate Hosting ASP.NET Core Images with Docker over HTTPS from GitHub to docs"
Migrate [Hosting ASP.NET Core Images with Docker over HTTPS](https://github.com/dotnet/dotnet-docker/blob/master/samples/aspnetapp/aspnetcore-docker-https.md) to our docs repo.

[2019-06-28 19:44] satbirbaidwan opened #13047 "Vertical Scroll On All Pages In Default Razor Project Using .Net Core 2.2"
Hi,
I just noticed that there is a vertical scroll (shown on the right side) on all pages. I checked this on another machine and new project thinking i may have changed something and it still shows on project created using Core 2.2.

To confirm i created a another project on first machine this time using Core 2.1 and it does not shows the vertical scroll.

---
#### Document Details

⚠ *Do not edit

[2019-06-28 19:47] satbirbaidwan commented on #13047
![VscrollIssue](https://user-images.githubusercontent.com/24276254/60367339-32aa7500-99ab-11e9-8b91-04f1c7eb6db0.PNG)

[2019-06-28 20:22] Rick-Anderson commented on #13047
The CSS has changed.

[2019-06-28 20:22] #13047 closed

[2019-06-28 20:25] satbirbaidwan commented on #13047
Hey Rick,
I don't think its changed on my side as i tested on new projects as well ?

[2019-06-28 20:41] bashdx opened #13049 "Tutorial - $PATH update for using scaffolding tool is missing"
When going through this tutorial you should mention in the scaffolding section to update the $PATH environment variable (at least on Linux) so `dotnet tool aspnet-codegenerator` works.

`export PATH=$HOME/.dotnet/tools:$PATH`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d975a83-1550-b284-d0d8-7fe2ea206ff5
* Version

[2019-06-28 21:01] BrennanConroy opened #13050 "Document new HubInvocationContext in authorization handlers"
In 3.0, SignalR now passes a resource for [authorization handlers](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/resourcebased).

The change is [here](https://github.com/aspnet/AspNetCore/pull/11070) for reference when writing/updating the docs.

We should show how to write an auth handler and explain what resource we are passing in.

[2019-06-28 21:11] lukepuplett commented on #13019
Sorry, I've again tried helping myself. Thanks for your patience.

Everything is working, I see the cookie being passed up by the browser after signing-in via Google, Cosmos DB has new accounts setup, all good except that `this.HttpContext.User` has an "empty" principal.

From what I have read, I think `app.UseAuthentication()` is supposed to just read this off the cookie into the principal using

[2019-06-28 21:34] serpent5 commented on #13019
It's no problem at all. I'm more than happy to try and help.

You're right in that `DefaultAuthenticateScheme` is the real driver for getting that `HttpContext.User` populated correctly. The call to `HttpContext.AuthenticateAsync()` uses the same value so, as you suggest, I'd expect it to be working if that is.

If you can convert what you have into a GitHub repo, I'd be happy to take a look at th

[2019-06-28 21:34] lukepuplett commented on #13019
![Capture](https://user-images.githubusercontent.com/5802524/60372531-c7859080-99f4-11e9-9fd0-afeadd6647dd.PNG)

Rather worryingly, with a global filter in place and the attribute, and cookies cleared and the VS debugging session restarted, I'm still able to access routes I don't think I should. See image.

[2019-06-28 21:37] lukepuplett commented on #13019
@serpent5 Kirk, thank you. If you'll agree that I should not be able to hit that breakpoint, then I can't trust this codebase anymore and I'll have to start over from a whole new app.

[2019-06-28 21:41] serpent5 commented on #13019
That depends. Do you have `AllowAnonymous` on the controller there? If so, that actually overrides the `Authorize` you have on the action itself. See the warning at the bottom of [this docs page](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/simple?view=aspnetcore-2.2).

[2019-06-28 21:46] lukepuplett commented on #13019
I guess I'm relieved, there's still hope in these 71,851 lines of code. I thought filters were applied in order of "proximity" to the action!

[2019-06-28 21:54] serpent5 commented on #13019
Yeah, they are - it's just that authorisation stuff gets special treatment there.

[2019-06-28 22:23] Rick-Anderson commented on #13049
@bashdx  thanks, we'll get this updated in the next sweep.

[2019-06-29 06:30] JamesNK commented on #12697
In preview 7 the docs will recommend using HTTPS everywhere via the new HttpClient driven gRPC client

Related PR: https://github.com/aspnet/AspNetCore.Docs/pull/13051

[2019-06-29 06:31] JamesNK commented on #13037
Thanks for reporting this. It is a mistake. A PR fixing it here - https://github.com/aspnet/AspNetCore.Docs/pull/13051

[2019-06-29 15:19] rayan87 opened #13052 "Is there a way to filter or order related data"
In standard entity framework there was a non-native package for IncludeFilter(). Is there in the ef core something like that?

[2019-06-29 17:33] Rick-Anderson commented on #13052
Hello! Thanks for contacting us. This sounds like a general question about using EF Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com)

[2019-06-29 17:33] #13052 closed

[2019-06-29 17:40] Rick-Anderson commented on #13037
@JamesNK I don't think it's a mistake -  but it's OK just to show the `ConfigureServices` in the first and `Configure` in the 2nd. The code is highlighted correctly and shows the entire *Startup.cs* file.

@MDendura  wrote:

That's boiler plate code generated by the templates.

[2019-06-29 21:03] JamesNK commented on #13037
The last code block not showing how to use GetHttpContext was a mistake.

[2019-06-29 21:21] JamesNK opened #13053 "protobuf syntax highlighting"
There is no syntax highlighting of protobuf code on docs.microsoft.com

Example: https://docs.microsoft.com/en-us/aspnet/core/grpc/basics?view=aspnetcore-3.0#proto-file

VS 16.1 added syntax highlighting in the editor. It would be nice if it could be highlighted on the docs website.

Syntax file: https://github.com/michaeledgar/protobuf-tmbundle/blob/master/Protocol%20Buffers.tmbundle/Syntaxes/Pro

[2019-06-30 12:37] Goldenstarc opened #13054 "aspnet-codegenerator doesnt work in asp.net3.0Prew"
macOS, 3.0.100-preview5-011568
used Command:
`   dotnet aspnet-codegenerator controller -name MoviesController -m Movie -dc MvcMovieContext --relativeFolderPath Controllers --useDefaultLayout --referenceScriptLibraries
`
and result:
`Building project ...
Finding the generator 'controller'...
Running the generator 'controller'...
Attempting to compile the application in memory.
Attempting to figure

[2019-06-30 12:39] Goldenstarc commented on #13054
its not Docs issue !

[2019-06-30 12:39] #13054 closed

[2019-07-01 04:13] bashdx commented on #13049
Awesome, thank you!

[2019-07-01 05:06] weitzhandler opened #13056 "Client identity?"
Hi,

I can't seem to find info on how to consume Identity from a console/WPF client.
What I want to achieve is in-app username/password authentication.
Can't seem to find any docs about that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9869895-9ba2-5027-46cd-89d1d995cba4
* Version Independent ID: 8750939b-6ae5-3b9a

[2019-07-01 06:21] Sequenta opened #13057 "Possible mistake in content root path setting example"
If we use code sample from example, line ``builder.UseSolutionRelativeContentRoot("<SOLUTION-RELATIVE-PATH>");`` won't be called:
[code]
But if we write this line directly in overriden method, this will override content root path correctly:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77889d43-fedb-f8b4-8fea-

[2019-07-01 08:56] ctyar commented on #12821
I can reproduce this
![Annotation 2019-07-01 132549](https://user-images.githubusercontent.com/1432648/60423589-c7a7ab00-9c03-11e9-9a86-f9be98e601ec.png)

[2019-07-01 12:01] guardrex commented on #13057
Hello @Sequenta ... I can't find an engineering example, but that seems correct; and if it's going to show `ConfigureServices`, it probably should be `ConfigureTestServices` (but I'll remove that for the update).

I'll make the change and engineering will review to confirm. Thanks for opening this issue.

[2019-07-01 14:24] Goldenstarc commented on #8223
I had the same after scoffolding !
commented these is startup.cs !!

[code]

[2019-07-01 14:53] Goldenstarc opened #13059 "OnModelCreating symbolic"
fix OnModelCreating link on this page :

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-2.2#default-model-configuration

[2019-07-01 14:58] theswanand opened #13060 "Unable to call AddConfiguration from ILoggingBuilder as explained here"
'ILoggingBuilder' does not contain a definition for 'AddConfiguration' and the best extension method overload 'ChainedBuilderExtensions.AddConfiguration(IConfigurationBuilder, IConfiguration)' requires a receiver of type 'IConfigurationBuilder'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bce

[2019-07-01 15:06] guardrex commented on #13059
Thanks @Goldenstarc ... I'll get quick patch in on that.

[2019-07-01 15:15] tdykstra commented on #13060
Make sure your Program.cs file has a using statement for Microsoft.Extensions.Logging.

[2019-07-01 15:16] Goldenstarc commented on #13059
thanks.
also check other links. like DbContext one

[2019-07-01 15:19] guardrex commented on #13059
There's a problem with link resolution generally, so I'm going to ask one of the :cat2: to take a look on the PR. I think we'll need to open an internal issue for investigation because our API cross-references are correct. For now, I'll fix these broken links by using relative links. I'm working on the PR now.

[2019-07-01 15:44] theswanand commented on #13060
Thanks, it worked. Can you please add that in tutorial as well. Visual Studio is also not helping a lot.

[2019-07-01 15:44] #13060 closed

[2019-07-01 15:45] guardrex commented on #13059
btw @Goldenstarc If you use the **This Page** feedback button at the bottom of the topic, it will tag the metadata that we need to work the issue (i.e., no need to provide the link to the topic and the author of the topic will get a direct ping when the issue opens). No big deal ... I'm just mentioning it for future reference. Thanks again for opening this issue.

[2019-07-01 15:54] danobri opened #13062 "Shared Layout"
From what I can tell, it is not possible for Blazor Pages (.razor) and Razor Pages (.cshtml) to share a single layout file.  Is that correct?  Whether it is or is not, I think it should be called out in this documentation, as it seems like a common case.  For instance, if you create a new Blazor application and include authorization, you are now in a hybrid environment where the Identity pages are

[2019-07-01 16:47] Andrzej-W opened #13065 "In "Addditional resources" section add link to Blazor DI"
There are already links do DI in views, controllers, and some other. Add link to DI in Blazor:
https://docs.microsoft.com/en-us/aspnet/core/blazor/dependency-injection?view=aspnetcore-3.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d78f540-81fd-1ba9-cb90-591e4ec27d9b
* Version Independent ID: 2251f557-dd3a-ec35-255

[2019-07-01 18:16] scottaddie commented on #13053
A new dev lang needs to be created to support this. [Engineering request #102367](https://ceapex.visualstudio.com/Engineering/_workitems/edit/102367) has been opened for creation of the dev lang.

[2019-07-01 18:41] Calidus commented on #12733
This situation exists in both.Net Core and the .Net Framework. Hosting your UI and the your API in same IIS website gets around this CORS issue. Another work around is to write some code to return 200 on any http options request.

[2019-07-01 19:34] timthayne opened #13073 "Test the Web API Id Issue"
In step 3 of the "Test the web API" section, the hardcoded Id should not be used (it will be unique for every user).

Instead, the Id of one of two records returned from the previous call ( `http://localhost<port>/api/books`) should be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5240866d-d0a1-f0dd-7b2c-203e1d6

[2019-07-01 20:32] #13065 closed

[2019-07-01 20:35] wadepickett commented on #12675
PR for this was merged successfully 6/24/19 for VS for Windows updates:
PR #12989

[2019-07-01 22:00] hishamco commented on #12310
@Rick-Anderson this is a duplicate for #2501

[2019-07-01 22:04] lukepuplett commented on #13019
Kirk, thank you so much. I lifted all that stuff into a new project so I could, as a last resort, stick it in a repo for you, and thought I'd just try asking on SO to save you any hassle. Thanks.

https://stackoverflow.com/questions/56842367/controller-user-has-no-claims-even-though-identity-applicaton-cookie-is-sent

Answer: `app.UseAuthentication()` must be above `app.UseMvc(...)`

[2019-07-01 22:08] serpent5 commented on #13019
It's really no hassle. I'm pleased to be able to help and especially pleased that you've got it working. I'm sure you will finally sleep well tonight. :)

[2019-07-01 22:18] #13059 closed

[2019-07-01 23:16] wadepickett opened #13078 "Monthly Policheck Run - June"
Report will be complete by 7/1.

[2019-07-01 23:18] wadepickett commented on #13078
Complete.  Notification sent out.   Sorry to create the tracking issue just as it was complete. I will get them on the Sprint list earlier.

[2019-07-01 23:18] #13078 closed

[2019-07-02 00:43] #12310 closed

[2019-07-02 00:56] mmezei commented on #12733
Do those options have an advantage over leaving anonymous authentication enabled and using authorization attributes and better a default policy requiring authentication? I like the idea of locking it down at the IIS level but often the front end is an independently developed app or written using a JavaScript framework like Angular. Hosting it in the same app adds devops/deployment complexities.

[2019-07-02 12:22] dazinator opened #13079 "Can this be used with Blazor client side apps?"
Can this package be used within blazor client side applications?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9bc1072-be2c-94f6-49bf-daa9e97dff2d
* Version Independent ID: 36052173-7061-6d01-8aed-915685cd7cf6
* Content: [ASP.NET Core SignalR .NET Client](https://docs.microsoft.com/en-us/aspnet/core/signalr/dotnet-cl

[2019-07-02 12:54] guardrex commented on #13079
AFAIK, the answer is *yes* because the text of the [hosting models topic](https://docs.microsoft.com/aspnet/core/blazor/hosting-models?view=aspnetcore-3.0#client-side) included a remark that Blazor client-side using the hosted template [**Blazor (ASP.NET Core Hosted)** (`dotnet new blazorhosted`)]  can communicate with the back-end server using SignalR. Engineering has stuck by that remark over su

[2019-07-02 13:04] arcotek-ltd opened #13080 "Instruction missing"
Where does the very last code segment go?
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20264150-9ac7-2b21-3314-64ffa114410f
* Version Independent ID: 3477519b-1bc2-73be-33e3-63067383d426
* Content: [Add a controller to an ASP.NET Core MVC app](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-ap

[2019-07-02 13:05] Calidus commented on #12733
I have used those two solutions, because I didn't want other developers to have to think about authentication when adding features to a solution. The default policy sounds like it would accomplish the same thing. The deployment complexities when hosting them in the same website are pretty manageable if you using tools like Azure Dev Ops.

[2019-07-02 13:36] nandhu opened #13081 "Implement Health check"
Hi,
How can I implement Health check for generic host applications?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5f1eeee-d500-82bf-0d0a-b4e0d5d5c175
* Version Independent ID: 2373a3df-6ea3-50c7-d63d-61c51d572511
* Content: [.NET Generic Host](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/gene

[2019-07-02 13:49] guardrex commented on #13081
Hi ... We won't have additional info here until I get to the topic for 3.0 updates.

Engineering recommends sticking with the Web Host until 3.0 RTM. Due to engineering churn during preview we're virtually forced to wait until the Release Candidate before we make the doc updates. Some docs have been updated for the Generic Host, and a PR is under construction now.

If you can't squeeze enough info

[2019-07-02 13:49] #13081 closed

[2019-07-02 14:33] dazinator commented on #13079
@guardrex I tried it and it doesnt work in blazor client side apps. It works in blazor apps that are actually run server side - but I'm talking about pure client side blazor apps. I have seen some issues on engineering that say they need to take a later version of mono with web socket support before signalr client will work in a blazor client application.. but took me a fair bit of digging to find

[2019-07-02 14:36] guardrex commented on #13079
I'll set this issue up for triage. We only have that one *very brief passing remark* that makes it seem like it would work. We should at least clarify what is meant by the "or SignalR" part of ...

(emphasis added)

[2019-07-02 14:42] dazinator commented on #13079
And here is the related issue I found: https://github.com/aspnet/AspNetCore/issues/10489

[2019-07-02 14:48] portlandtom commented on #13080
This is just a copy of the code that deals with the URL, it is highlighting how the information you pass it is processed also know as the "URL Routing Logic", more info regarding this on this very page if you scroll up a bit. You can find the code mentioned in the Startup.cs of the solution, at the bottom.

[2019-07-02 15:48] #13080 closed

[2019-07-02 16:26] EKanadily opened #13082 "What are some examples of authentication resource?"
"credentials that are then compared to those stored in an operating system, database, app or resource"
what are some examples of a "resource"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4d39ecf-0465-afd3-2384-aaafe9e8ea79
* Version Independent ID: e9a58581-b565-25eb-49b3-4c93714f0940
* Content: [Overview of ASP.NE

[2019-07-03 04:09] chakadee opened #13089 "ASP.NET Core 3.0 Preview Identity with Angular SPA Template and SignalR Hub"
I am trying to use Authorize attribute on a hub but it's not working with the api authorization template. It works without the Authorize attribute.
I want to be able to access his.Context.User.Identity.Name in the Hub.

I created the app with: dotnet new angular -o <output_directory_name> -au Individual

and the hub is as below.

[Authorize]
    public class AlertHub : Hub
    {
        public ove

[2019-07-03 06:01] HermanKullberg opened #13090 "Correct default values in code"
There is a comment to sections, User and sign-in, code snippet that says // Default [User/SignIn] settings but the values set to the properties don't match actually default values.

See Sign-in:
[code]

Default is:
[code]

Same for User snippet:
[code]

Default is:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-07-03 07:02] rmotyka opened #13091 "401 Error when adding Grpc.Net.Client package"
dotnet add package Grpc.Net.Client --version 0.1.22-pre1

info : Adding PackageReference for package 'Grpc.Net.Client' into project 'C:\Projects2\grpc\GrpcGreeterClient\GrpcGreeterClient.csproj'.
info : Restoring packages for C:\Projects2\grpc\GrpcGreeterClient\GrpcGreeterClient.csproj...
info :   GET https://api.nuget.org/v3-flatcontainer/grpc.net.client/index.json
info :   GET https://ci.appveyo

[2019-07-03 15:41] nezoic opened #13094 "Please revise this entire document."
Everything in here, including the many, many comments on how poor this documentation is, is very confusing. I've spent days trying to get a simple post to work, reading through all the feedback / complaints here and still I cannot figure out what is wrong. So please, either remove this documentation all together or completely update it with the latest and greatest information that is tested and wo

[2019-07-03 16:22] smjltd opened #13096 "Blazor Client Side (Preview 6)"
Unable to run it on iOS Safari getting the following error
Unhandled Promise Rejection: TypeError: 'arguments', 'callee', and 'caller' cannot be accessed in this context. (mono.js:239229)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7957ff6-5b09-31dd-17dd-2bf3660a8ebd
* Version Independent ID: b03c3cec-a3de-d563-d0f

[2019-07-03 16:23] guardrex commented on #13096
Hi @smjltd ... Open that on the engineering repo for the engineers to take a look at.

https://github.com/aspnet/AspNetCore/issues

[2019-07-03 16:23] #13096 closed

[2019-07-03 16:38] tdykstra opened #13097 "Fix prereqs that say VS2019 but should say VS2017"
The net-core-prereqs-all-2.2/3.0 include files require that all tutorials using them be updated to the same version of Visual Studio. The tutorials aren't necessarily all updated at the same time, and a change to the all-2.2 include left one tutorial with prereqs out of sync with tutorial instructions and screen shots. Correct that by going back to separate includes for each IDE so versions can be

[2019-07-03 16:41] #13097 closed

[2019-07-03 17:48] CeciAc opened #13100 "Update markup for 3.0 release"
@showery-hwang commented on [Tue Jul 02 2019](https://github.com/aspnet/AspNetCore.Docs.ja-jp/issues/246)

in html creat by Edit.cshtml, you write:
        &lt;div class="form-group"&gt;
            &lt;label class="control-label col-md-2" for="Genre" /&gt;
            &lt;div class="col-md-10"&gt;
                &lt;input class="form-control" type="text" id="Genre" name="Genre" value="Western" /

[2019-07-03 17:48] CeciAc commented on #13100
Hi team,
I moved here as per @Rick-Anderson comment
best regards

[2019-07-03 19:31] CeciAc opened #13104 "Code listing for section "Seed the DB with Test Data" has error"
Hi team,
I'm moving this here https://github.com/aspnet/AspNetCore.Docs.pl-pl/issues/15
since the contributor reported an error in the code.

@michalgruda1 commented 9 hours ago
Code listing for section:
https://docs.microsoft.com/pl-pl/aspnet/core/data/ef-rp/complex-data-model?view=aspnetcore-2.2&tabs=visual-studio#seed-the-db-with-test-data
has an error. There is:
context.Courses.Add(c);

There

[2019-07-03 19:48] #12091 closed

[2019-07-03 19:59] Rick-Anderson opened #13106 "Missing includes"
Add includes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-f367-d733-8933-bccc04da0e16
* Content: [Logging in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.2)
* Content Source: [aspnetcore/funda

[2019-07-03 20:00] #13106 closed

[2019-07-03 21:08] #3208 closed

[2019-07-03 21:09] xyz92 commented on #12821
+1

[2019-07-03 21:35] Rick-Anderson opened #13109 "basic authorization is ambiguous"
basic authorization is ambiguous

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f9d7ad5-47d6-80bf-88fe-fac3a74151a3
* Version Independent ID: e64816f4-3391-5aab-31c2-ab4f915bc7f6
* Content: [Facebook, Google, and external provider authentication without ASP.NET Core Identity](https://docs.microsoft.com/en-us/aspnet/co