[2019-10-03 14:25] #14782 closed

[2019-10-03 14:32] patrickhacens opened #14792 "Missing information about dependency"
There have been a bit of changes on blazor client-side apis and as of 3.0 it seems to be required to include Microsoft.Aspnetcore.Components.Authorization package as a dependency through nuget but it is not clearly defined on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9942b0a-a7fb-0d34-9201-af0963affa9e

[2019-10-03 14:32] jawn commented on #14790
Thanks for the quick clarification.

[2019-10-03 14:34] guardrex commented on #14790
Sure thing ... this text should cover this aspect of the scenario ...

... and then we'll deal with the bitness problem on the other issue when we hear back from engineering.

[2019-10-03 14:35] guardrex commented on #14792
Thanks @patrickhacens ... Currently, we only cover it for `[Authorize] attribute`, and I think it's a great idea to go thru the topic and clarify the package requirements in the hosting model scenarios. If Blazor Server gets it, I'll call that out. If Blazor WebAssembly needs it, I'll call that out.

[2019-10-03 15:15] #12821 closed

[2019-10-03 16:06] scottaddie commented on #14789
If you're asking why it doesn't appear in the API browser, the team is still working on publishing 3.0 APIs. The class still exists.

[2019-10-03 16:22] ericl85 opened #14794 "TypeScript SignalR tutorial references outdated npm package"
Just a heads up that the TypeScript SignalR tutorial still references @aspnet/signalr instead of @microsoft/signalr.

That package still amazingly works with SignalR 3.0, but there are some differences that confused me until I found this:

https://github.com/aspnet/Announcements/issues/372

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-10-03 16:28] BrennanConroy commented on #14794
:+1:
SignalR tries to make the server backwards compatible with older clients while adding new features that new clients can take advantage of.

[2019-10-03 16:48] kierenj commented on #12564
Neither https://github.com/aspnet/AspNetCore/issues/11075 nor @sbwalker's solutions look to work in my case: I need to resolve a service (via `HttpContext.RequestServices` previously) in a `AuthorizationPolicyBuilder.RequireAssertion`.

All I have in the assertion is an `AuthorizationHandlerContext`. I'm in a static extension method.

Do I need to use an `IAuthorizationRequirement` instead?

[2019-10-03 17:02] #14694 closed

[2019-10-03 17:04] joeloff commented on #14788
This was only part of the 1.0/1.1 hosting bundles. The .NET Core runtime bundle that we shipped back then downloaded and installed the C++ runtime if it wasn't installed on the machine. We listed it explicitly because enterprise customers in locked down environments ran into problem when the servers didn't have outside internet connections so their admins had to manually download and copy the c++

[2019-10-03 17:07] guardrex commented on #14788
Thanks @joeloff ... time to 🔪 this remark.

[2019-10-03 17:09] kierenj commented on #12564
Additionally, this page still says , "For example, MVC passes an instance of AuthorizationFilterContext in the Resource property".

I need to access `RequestServices` from within my `RequireAssertion` delegate - how can I please?

[2019-10-03 17:35] Rick-Anderson commented on #14784
It's a security feature. It's not a double negative.

[2019-10-03 17:35] #14784 closed

[2019-10-03 17:44] #14788 closed

[2019-10-03 18:00] lichasu opened #14796 "Missing class MultipartRequestHelper"
@sergiodesousafilho commented on [Thu Oct 03 2019](https://github.com/aspnet/AspNetCore.Docs.pt-br/issues/118)

Hello, the class "MultipartRequestHelper" is not implemented or builtin.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 9a5cfa38-0e6c-4346-dafc-84ea5c513fcf
* Version Independent ID: c6787f0f-3e

[2019-10-03 18:01] lichasu commented on #14796
Hi team, please check this issue.

Thanks!

[2019-10-03 18:21] guardrex commented on #14796
@lichasu Open these using the feedback form on the English topic :point_right: https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads

[2019-10-03 18:24] guardrex commented on #14796
It is implemented ... see the sample app :point_right: https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/mvc/models/file-uploads/samples/2.x/SampleApp/Utilities/MultipartRequestHelper.cs

[2019-10-03 18:26] guardrex commented on #14796
Actually ... *YES!* ... let's call that out in the text. I'll add that to the 3.0 updates on https://github.com/aspnet/AspNetCore.Docs/pull/14770.

[2019-10-03 18:35] guardrex commented on #14796
Thanks @lichasu and @sergiodesousafilho ... that update will go in when #14770 merges. :rocket:

[2019-10-03 19:01] icelava opened #14797 "dev-certs command seems to need some other parameter fields or format"
Testing this on a Ubuntu server 18.04.3; dotnet complains the command or options are not proper or sufficient.

$ dotnet dev-certs https --trust
Specify --help for a list of available options and commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca6139d4-022c-395a-0abf-539660550df1
* Version Independent ID: 3dd2

[2019-10-03 19:10] guardrex commented on #14797
Please paste in the full error message.

[2019-10-03 19:11] Rick-Anderson commented on #14797
You need to install it first
`dotnet tool install --global dotnet-dev-certs`

[2019-10-03 19:13] Rick-Anderson commented on #14797
![image](https://user-images.githubusercontent.com/3605364/66156804-1d527180-e5be-11e9-8e28-e9e433c32269.png)

[2019-10-03 19:22] guardrex commented on #14797
I got a bad feel'in about this ........ Windows subsystem for Linux **is not Linux** ... this what that links to ..........

https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-2.2&tabs=visual-studio#trust-https-certificate-from-windows-subsystem-for-linux

... and the *Enforce HTTPS* topic doesn't call that out otherwise.

[2019-10-03 19:44] lourencocotta opened #14800 "Razor file compilation topic updates for 3.0"
that was work for me:

  services.AddMvc().AddRazorRuntimeCompilation();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a83deb2-e035-bb66-be4f-68709bcad341
* Version Independent ID: 16438f35-f35d-c097-0903-ec17e83e051e
* Content: [Razor file compilation in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc

[2019-10-03 20:19] HaoK commented on #12564
You can try injecting `IHttpContextAccessor` into your handler if you can't get access to the http context via the resource being passed in (which is not usually the case)

[2019-10-03 20:40] wadepickett commented on #13919
@bradygaster , I have the updated screenshots for the new project dialog, f12 dev tools, libman using "@latest" and update startup.cs using the 3.0 template.  Are you still updating for this tutorial, or can I work off of master as the lastet and add these items in a new PR without danger of duplicating work?  (I will put you on the review.)

[2019-10-03 20:49] Rick-Anderson opened #14801 "dotnet dev-certs https --trust requires install"
Add `dotnet tool install --global dotnet-dev-certs` and `dotnet dev-certs https -c`

see https://github.com/aspnet/AspNetCore.Docs/issues/14776#issuecomment-537815699

The troubleshoot section only applies to Kestrel. For  VS/IIS Express, run the installer repair tool. See https://github.com/aspnet/AspNetCore/issues/16892#issuecomment-556080754

---
#### Document Details

⚠ *Do not edit this secti

[2019-10-03 20:57] kierenj commented on #12564
@HaoK inject it into what, please? I'm using `RequireAssertion` from a static extension method.

"can't get access to the http context via the resource being passed in"... everything referenced here indicates that the resourced passed in is now always an `Endpoint`, could I ask what you mean by "not usually the case". Do you say that because most people are using pre-3.0? I'm on 3.0.0.

[2019-10-03 21:38] HaoK commented on #12564
Require assertion isn't meant for this scenario, you should implement a real handler if you want to access request specific things

[2019-10-03 21:54] Rick-Anderson opened #14803 "Start on issue backlog triage"
Use this query to find all issues that don't conform to the new triage requirements and were not created by a member of the doc team:
[Not Triaged query](https://github.com/aspnet/AspNetCore.Docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+-label%3Adoc-bug+-label%3Adoc-enhancement+-label%3Asupport-request+-label%3Adocs-experience+-label%3Aneeds-more-info++-label%3Aproduct-feedback+-label%3Acode-o

[2019-10-03 22:02] Rick-Anderson commented on #14803
@wadepickett  can you review/edit/fix my query above?

[2019-10-03 22:05] kierenj commented on #12564
“Real handler”...? Am not good at guessing here..

[2019-10-03 22:09] HaoK commented on #12564
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/dependencyinjection?view=aspnetcore-3.0 is a good example of how you implement a handler that can use things from DI, that would be how you can use context accessor

[2019-10-03 22:32] Rick-Anderson opened #14805 "Triage 100 issues"
See #14803

[2019-10-03 22:34] Rick-Anderson opened #14806 "Triage 100 issues"
See #14803

[2019-10-03 22:34] Rick-Anderson opened #14807 "Triage 100 issues"
See #14803

[2019-10-03 22:35] Rick-Anderson opened #14808 "Triage 100 issues"
See #14803

[2019-10-03 22:37] Rick-Anderson opened #14809 "Triage 100 issues"
See #14803

[2019-10-03 22:42] halter73 commented on #14773
I'm a little confused here. In the first sample, `context.Response.HasStarted` will always be true unless someone replaced the response body stream beforehand, and there's no indication this has happened. The sample would make more sense if the `await context.Response.WriteAsync("Hello ")` was removed. That would at least make it ambiguous whether the response started or not since there's no telli

[2019-10-03 22:52] Rick-Anderson commented on #14773
@halter73 thanks, that answers my question.

 Can you take a peek at [same code](https://review.docs.microsoft.com/en-us/aspnet/core/performance/performance-best-practices?view=aspnetcore-3.1&branch=pr-en-us-14734#avoid-adding-headers-after-the-httpresponse-has-started)
in  #14605
`@davidfowl`  wrote that code.  I think it makes sense in the content.

[2019-10-03 22:55] #14773 closed

[2019-10-03 22:58] matfricker opened #14810 "CSHTML Code snippet"
Section I refer too:

- **Replace the content in Pages\Index.cshtml with the following code:**

Second line from bottom script tag pointing to **signalr.js** is incorrect according to **Target Location** set up when **Client-Side Library** was added earlier in tutorial. Should point to: _js/signalr/dist/browser/signalr.js_

Script tag currently points to:
`<script src="~/lib/signalr/dist/browser/s

[2019-10-03 23:29] wadepickett commented on #14803
@Rick-Anderson , just missing "-label:doc-experience", added that below.

is:issue is:open -label:doc-bug -label:doc-enhancement -label:support-request -label:doc-experience -label:needs-more-info -label:doc-idea -label:doc-provided -label:product-question -label:product-feedback

A second check we could do later is verify that only one of those minimum labels has been applied

[2019-10-04 00:06] robinwilson16 commented on #14705
This is what I have so far from comparing a new .NET Core 3.0 project to an existing 2.2 one although still can't manage to do a successful migration yet:

**1. Update the csproj file**
Navigate to the project directory where the solution file is located and then into the sub-folder containing the project files. Edit the .csproj file.

Find the reference to the target framework:
[code]

Replace wi

[2019-10-04 00:32] robinwilson16 commented on #14705
With the instructions above Build works and I can even run the project in IIS Express but publish fails with the following error:
[code]

I then tried adding this to appsettings.json which seemed the best way to solve this but this seems to cause the publish option to be stuck in a sort of loop as it never completes:
[code]

[2019-10-04 00:41] Rick-Anderson commented on #14803
@wadepickett  can you fix the top
![image](https://user-images.githubusercontent.com/3605364/66173421-da0ef780-e5eb-11e9-8233-b7b18d7ad0f9.png)

[2019-10-04 00:43] Rick-Anderson commented on #14803
I didn't add `-label:doc-experience` because those should be closed immediately AND we don't have any legacy issues with that. Doesn't hurt to add it.

[2019-10-04 00:46] Rick-Anderson commented on #14705
@vijayrkn  after migration to 3.0 @robinwilson16  reports the following error:

[code]

[2019-10-04 00:54] robinwilson16 commented on #14705
Ok got it working now.
Seems you need to delete the bin and obj folders and then run dotnet build and now it works and publishes.
Seems to create a lot more files but seems this is normal (comparing to a new blank .NET Core Web Application) so think this is finally solved.

[2019-10-04 01:13] vijayrkn commented on #14705
If you the app was targeting 2.2 before, then the publish profile might still have the TFM set as 2.2

You can update this from the UI or go to Properties\PublishProfiles\<profile name>.pubxml & update it manually.

[2019-10-04 01:14] robinwilson16 commented on #14705
@vijayrkn @Rick-Anderson I have found this error goes away if you delete the bin and obj folders and then run `dotnet build` from the commandline then attempt to publish again from within VS. Not sure if this is a bug or something we are supposed to have to do? All seems ok now and publish is successful but have not yet uploaded to my Linux host. Will try this tomorrow.

[2019-10-04 02:11] Rick-Anderson commented on #14705
Closing for now. This is very discoverable. If other hit on this issue, I'll add it to the migration notes unless @vijayrkn  you think I should add this now.

Before publishing updated projects, delete the bin and obj folders.

[2019-10-04 02:11] #14705 closed

[2019-10-04 05:59] chrios opened #14813 "Error in 'Seed the database' Code?"
Hi all,

I was getting an error:
c:\Users\UserName\Projects\MvcMovie\Program.cs(24,63): error CS0246: The type or namespace name 'MvcMovieContext' could not be found (are you missing a using directive or an assembly reference?) [C:\Users\UserName\Projects\MvcMovie\MvcMovie.csproj]

Until I changed the below snippet:

using Microsoft.AspNetCore;
using Microsoft.AspNetCore.Hosting;
using Microsoft.E

[2019-10-04 06:40] kierenj commented on #12564
Thank you, that's solved my use case. FWIW I think the documentation may still have an issue here, where it says AuthorizationFilterContext is passed in - but I'm good to go.

[2019-10-04 06:41] #14813 closed

[2019-10-04 06:42] Rick-Anderson commented on #12564
@kierenj  can you suggest an edit?

[2019-10-04 06:43] qwertzguy opened #14815 "Duplicate sections in article"
The sections 'Enable client and server communication' and 'Test the app' appear twice in a row in the article https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-typescript-webpack?view=aspnetcore-3.0&tabs=visual-studio

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47557f89-3a14-1139-0074-38d931b35faf
* Ver

[2019-10-04 07:18] kierenj commented on #12564
I can - although I've had the same suggestion in a few places, I'm curious about the policy with this. Typically, I'm asking something coming from a position of ignorance on the relevant area of the library/product. Some answer becomes a little clear, then someone suggests I suggest an edit.

My first thought is that in instances like that I might be close to the worst person to edit official docu

[2019-10-04 08:21] robinwilson16 commented on #14705
@Rick-Anderson the main reason I opened this issue was because it is very difficult to work out what you need to do to migrate an existing 2.2 project to 3.0 as you read the 20 min article and are not really any the wiser (unless that's just me?). Is it possible to consider separating the demos and release information from the steps required to upgrade the project and adding something like I propo

[2019-10-04 09:09] robinwilson16 opened #14817 "Clearer Instructions for Migrating from .NET Core 2.2 to 3.0 (Contained Within)"
Please can the instructions for migrating .NET Core 2.2 to 3.0 be made clearer as this article contains a mixture of instructions, release notes and demos. Compared to the migration guide for .NET Core 2.1 > 2.2 it says it takes 4 times as long to read. All this document should contain are the steps required to migrate with the other information contained within other/further information pages.

B

[2019-10-04 09:15] j0nimost opened #14818 "Is it necessary to have a Service User Account to deploy an ASP.NET Core Application as a Windows Service?"
I have been developing custom API services and hosting them on a windows server as windows services; of course, it's reached a point where the work has become tedious and redundant not to mention very buggy and insecure. So now am exploring ways of leveraging the advantages of ASP.NET Core while still deploying them as windows services. What I can't understand is the purpose of setting up Service

[2019-10-04 10:55] guardrex commented on #14818
Hello @j0nimost ... All services run as *some* user. The guidance recommends creating a service user account in order to control (limit) the service's access to resources on the system. You grant access to the service user account for only those resources required for the service to perform its functions. If the service were to be compromised by an attacker (or even if the service were badly coded

[2019-10-04 10:55] #14818 closed

[2019-10-04 11:00] #14815 closed

[2019-10-04 11:34] j0nimost commented on #14818
@guardrex This makes sense, thank you for this eye-opener

[2019-10-04 12:30] Romans-I-XVI opened #14820 "States Visual Studio is available on Linux."
Is this a typo and you meant to write Visual Studio Code?
"Stay productive with Visual Studio on Windows, Linux, and macOS"

Or... foreshadowing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc28995-6784-a7d2-5c0b-9811a8d19c1a
* Version Independent ID: 1668c8fb-024c-c86d-d4d5-e22e3355c04b
* Content: [Introduction to

[2019-10-04 12:35] guardrex commented on #14820
VSC is a flavor of VS and marketed SxS with VS IDE. It's not a typo, and it isn't foreshadowing anything.

https://visualstudio.microsoft.com/

[2019-10-04 12:35] #14820 closed

[2019-10-04 14:18] trondhindenes opened #14821 "Missing guidance on supported scenarios for SSL offloading"
We usually configure services so that the asp.net core app itself doesnt handle ssl termination, its handled by a load balancer or some reverse proxy. This means that altho the server listens for http (unencrypted) traffic, a client might still send requests on https (encrypted).
So:
client (https) --&gt; rev proxy (https to http) --&gt; server (http)

Most modern proxies will then send the `X-For

[2019-10-04 14:32] fredericDelaporte opened #14822 "What is this page about?"
The title of the page is about ASP.NET Core Web API, but the content seems to be about MVC! Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ebcd752-af71-c483-eebb-0745bd04fb30
* Version Independent ID: 1f678d5d-230b-0ad0-c925-15b13081f553
* Content: [Format response data in ASP.NET Core Web API](https:/

[2019-10-04 15:05] danobri opened #14823 "AddRazorRuntimeCompilation does not compile"
After upgrading Visual Studio today from 16.3.1 to 16.3.2, the following line no longer compiles in my 3.0 project:

services.AddRazorPages().AddRazorRuntimeCompilation();

I found this article so figured I needed to switch to the following, but it does not work either.  How do I set this option now?

services.AddRazorRuntimeCompilation();

---
#### Document Details

⚠ *Do not edit this section. I

[2019-10-04 15:14] danobri commented on #14823
I was able to resolve the issue in my project by updating the Microsoft.CodeAnalysis package from 3.3.1-beta3-final to 3.3.1.  No idea why, but hope this helps someone.  However - it does look like this documentation is wrong, as the AddRazorRuntimeCompilation() method is on IMvcBuilder, not IServiceCollection.  So services.AddRazorRuntimeCompilation() does not work.

[2019-10-04 15:48] robinwilson16 opened #14824 "The SqlParameterCollection only accepts non-null SqlParameter type objects, not SqlParameter objects."
I can't work out how to migrate stored procedure calls in .NET 3.0.

First I need to replace:
[code]
With
[code]

But then none of the nullable SqlParameters work - e.g.:
[code]

Error is:
[code]

All the articles I can find about this relate to old versions of the .NET Framework so are not really helping me to work out what to do. It seems to just be an issue with optional parameters but I need t

[2019-10-04 16:10] robinwilson16 commented on #14824
Ok I have now worked this out but didn't find it documented anywhere

In .NET Core 2.2 this works:
[code]

In .NET Core 3.0 you must do this instead:
[code]

Now it works in .NET Core 3 without the error and code is simpler.

Robin

[2019-10-04 16:14] offirpeer opened #14825 "Missing Https configuration for Nginx"
I don't understand the last part of the article,
a https request arrive to Nginx and it forward it to the .net core application that listens on 443 and passes it to http://hellomvc?

I am having trouble to understand this issue, also missing configuration to run .net core as a service that listens to https.
https://stackoverflow.com/questions/58226762/net-core-doesnt-listening-on-custom-port-on-us

[2019-10-04 16:39] guardrex commented on #14825
Hello @offirpeer ... I'm mostly a Windows cat, but my interpretation is to break it down by **server** ...

* Any requests that arrive on 80 are redirected to 443.
* Any requests that arrive on 443 are proxied to the server group `upstream`. There happens to be only one server there at `localhost:5000`, but there could be several servers there tho ... I think it uses round-robin by default if mult

[2019-10-04 16:39] #14825 closed

[2019-10-04 16:56] offirpeer commented on #14825
I understand the part of redirecting from 80 to 443, in my case I use cloudflare and they do it automatically so I don't need that part.
I don't understand this part `proxy_pass http://hellomvc;` why it uses `http` and not `https`?
Also why the upstream listens on `localhost:5000`;

In my case I have few environments,  can you take a look at my SO question?

[2019-10-04 17:13] guardrex commented on #14825
The connection is internal (on the local network; not on the Net) ... there's usually no need to encrypt that traffic. I think if you want that traffic encrypted that you can follow the guidance in *Configure the app for secure (HTTPS) local connections* in the [HTTPS configuration](https://docs.microsoft.com/aspnet/core/host-and-deploy/linux-nginx#https-configuration) section. In the topic's exam

[2019-10-04 17:35] s-fukuzawaa opened #14826 "PMC not working"
Hi.
I've gotten to the step of "Add-Migration" in Package Manager Console and I got the following error.

PM&gt; Add-Migration InitialCreate
Add-Migration : The term 'Add-Migration' is not recognized as the name of a
cmdlet, function, script file, or operable program. Check the spelling of the
name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ Add-Mi

[2019-10-04 17:53] offirpeer commented on #14825
I hear you, this is not an nginx related issue, it's a Kestrel configuration that I don't understand.
I have this service and I configured it to run on `ASPNETCORE_URLS=https://localhost:6001`

`[Unit]
Description=staging

[Service]
WorkingDirectory=/var/www/staging
ExecStart=/usr/bin/dotnet /var/www/myapp-staging/myapp.dll
Restart=always
# Restart service after 10 seconds if the dotnet service cr

[2019-10-04 17:54] Rick-Anderson commented on #14826
Try [Add NuGet packages](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model?view=aspnetcore-3.0&tabs=visual-studio-code#feedback)

Run the following .NET Core CLI commands:
[code]

[2019-10-04 18:09] Rick-Anderson commented on #14824
@tdykstra  can you suggest where this info should go?

[2019-10-04 18:12] caihongxu opened #14827 "Not able to get user information in Api Controller"
Hi I tried to follow this document to create a SPA that talks to server API. In the API controller I try to get the current logged in user information via
var user = await _userManager.GetUserAsync(User);
But I get null with this method. What is the proper way to get the user information from server or is it not part of the bearer token?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-10-04 18:20] tdykstra commented on #14824
In the EF repo, maybe here: https://github.com/aspnet/EntityFramework.Docs/blob/master/entity-framework/core/querying/raw-sql.md

[2019-10-04 18:30] #14824 closed

[2019-10-04 18:44] Kaelum opened #14828 "Breaking changes REQUIRE bold text stating that this is a breaking change!"
There are SEVERAL breaking changes with this release, and not 1 of then is labeled as such.  For example, the “AllowSynchronousIO disabled” change with break all existing projects across the board, and should be labeled as such.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76f39eec-9dd1-6167-56ec-47b26e0b5063
* Versi

[2019-10-04 19:06] cesee commented on #14225
This guide is great for application localization.

Is there any build-in way to localize a razor component library as stand alone ? (i.e. all the resx files should be inside the library itself, etc...).

I read a few guides already and they all target only localization an application.

[2019-10-04 19:14] guardrex commented on #14828
Just mentioning in passing ... not as an answer to your suggestion @Kaelum ... there are **47** announcements. The topic cross-links to them ...

* https://docs.microsoft.com/aspnet/core/migration/22-to-30#breaking-api-changes
* https://github.com/aspnet/Announcements/issues?page=2&q=is%3Aissue+is%3Aopen+label%3A%22Breaking+change%22+label%3A3.0.0

I think every dev should study them when upgradin

[2019-10-04 19:15] hishamco commented on #14225
There's a built in support for that with the help of `ResourcesLocationAttribute`

[2019-10-04 19:18] fabioqueiroz opened #14829 "ReplaceOne() method not working properly on .Net Core 3.0"
Hi,

I'm building an api and realized that the ReplaceOne() method you used in the CRUD operations sections is not working as it's supposed to in .Net Core 3.0.

When you call this method as below

_books.ReplaceOne(book => book.Id == id, bookIn);

the lambda expression is not picking up the attributes of the entity (such as the "Id" in this case).

I needed to downgrade to 2.2 in order for make i

[2019-10-04 19:41] Rick-Anderson commented on #14828
@Kaelum duplicating information is problematic. #14828 makes breaking changes more obvious.

[2019-10-04 19:45] cesee commented on #14225
Thanks. I'll look into that.
Do you know of any guides/example that can help with this specific scenario ?

The desired result is to have built-in resx files for the library for common languages, and still allowing to override specific values/add new languages by the consumer of the library also through localization.

[2019-10-04 19:55] #14828 closed

[2019-10-04 20:02] hishamco commented on #14225
The current docs mentioning that also you can check aspnet/entropy repo

[2019-10-04 20:25] guardrex commented on #14825
Supply an X.509 certificate when configuring Kestrel's options ...

[code]

[2019-10-04 20:28] guardrex commented on #14825
There's an example for binding to a Unix socket tho ... I'm not as familiar with it. Engineering says that this approach offers improved performance ...

[code]

[2019-10-04 21:04] caihongxu commented on #14827
OK solved this by adding the follow line in Startup.cs

            services.Configure<IdentityOptions>(options =>
            {
                options.ClaimsIdentity.UserIdClaimType = ClaimTypes.NameIdentifier;
            });

I think the identityserver sets UserIdClaimType to "sub" which messed things us. Somewhere in the code base needs to be fixed for this to work automatically.

I will leav

[2019-10-04 21:05] s-fukuzawaa commented on #14826
Still not working...

PM> Add-Migration InitialCreate
Add-Migration : The term 'Add-Migration' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name,
or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ Add-Migration InitialCreate
+ ~~~~~~~~~~~~~
    + CategoryInfo          : ObjectNotFound: (Ad

[2019-10-04 21:06] blowdart commented on #14827
Please open an issue in the [aspnet core](https://github.com/aspnet/AspNetCore/issues/) repo for actual code issues.

[2019-10-04 21:32] Rick-Anderson commented on #14826
Did you miss the step
`Install-Package Microsoft.EntityFrameworkCore.SqlServer`

[2019-10-04 21:46] s-fukuzawaa commented on #14826
No I didn't.

[2019-10-04 21:49] s-fukuzawaa commented on #14826
Is there any other way to do the same step by hardcoding.

[2019-10-04 21:53] DragonMastery commented on #9094
This convention is out dated:
services.AddMvc(options =>
    {
        options.Filters.Add(new SamplePageFilter(_logger));
    });

[2019-10-04 21:55] DragonMastery opened #14831 "3.01update: Filter methods for Razor Pages in ASP.NET Core"
This convention is outdated

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0646a3d-a5d1-d4b0-5494-fe38219d16c9
* Version Independent ID: 8b659e63-93b8-a496-bc9b-dce0d9fa8f3c
* Content: [Filter methods for Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/filter?view=aspnetco

[2019-10-04 21:58] DragonMastery opened #14832 "UseDatabaseErrorPage Not is 3.0"
This is not available in 3.0:
app.UseDatabaseErrorPage();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03fdf4-b19b-17c3-04f4-336ab6d2ee06
* Version Independent ID: 38515dfb-91a5-b395-db9d-084bbaf095c8
* Content: [Handle errors in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling

[2019-10-04 22:04] Rick-Anderson commented on #14826
Use the VSC/MAC tab instructions

[2019-10-04 22:15] Rick-Anderson commented on #14832
It's there. Click on the link and add `Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore`

[2019-10-04 22:15] #14832 closed

[2019-10-04 22:18] Rick-Anderson opened #14833 "Add app.UseDatabaseErrorPage();"
Requires adding NuGet `Microsoft.AspNetCore.Diagnostics.EntityFrameworkCoreMicrosoft.AspNetCore.Diagnostics.EntityFrameworkCore`

[code]

cc @tdykstra

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a54c97f-ddd4-b041-5e5f-a2df009ace50
* Version Independent ID: fa488196-1f98-08ea-adcc-17d9dac86727
* Content: [Razor Page

[2019-10-04 22:22] Rick-Anderson opened #14834 "Add app.UseDatabaseErrorPage();"
Requires adding NuGet `Microsoft.AspNetCore.Diagnostics.EntityFrameworkCoreMicrosoft.AspNetCore.Diagnostics.EntityFrameworkCore`

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03221075-5dfa-d1b6-0552-3fe88abe1d03
* Version Independent ID: b8c7d824-35ca-68fb-e3be-839ae886657c
* Content: [Work with a database and

[2019-10-04 22:26] #14797 closed

[2019-10-04 23:15] #14823 closed

[2019-10-04 23:16] Rick-Anderson commented on #14822
Web API is part of MVC

[2019-10-04 23:16] #14822 closed

[2019-10-05 09:06] Legends commented on #10557
[Obsolete("Use IHttpResponseBodyFeature instead.", error: true)]
    public interface IHttpSendFileFeature

[2019-10-05 12:26] shawnwildermuth opened #14837 "GrpcClient is the old API"
Should be using the Channel Options instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 363b40bb-4e20-e4b3-4456-5eb8fe6b30fb
* Version Independent ID: 8a7e85b0-5c1c-969d-9748-5e5e2dc45cce
* Content: [Authentication and authorization in gRPC for ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/grpc/authn-a

[2019-10-05 12:51] #14771 closed

[2019-10-05 14:22] LarnuUK opened #14841 "Why force VSCode users to use SQLite?"
VSCode is available on Windows, and SQL server runs on Dockers and Linux? Why does the documentation not explain how to connect to a local (or remote) SQL Server instance using VSCode? I don't want to use SQLite, and the documentation here is trying to force me to use something else (which isn't even a MS product). The Visual Studio Documentation is useless for trying to implement to VSCode, meani

[2019-10-05 14:59] donhuvy opened #14843 "Please write more detail about Authentication, Authorization on Blazor Server web-app (Individual User Accounts)"
Due to the Balazor Server approach/architect is different to

- ASP.NET Core Razor Page
- ASP.NET Core MVC
- ASP.NET Web Form
- ASP.NET Core WebAPI

therefore development team should write more about Authentication, especially Authorization. How to put authentication tag in Razor component, Razor page?

I spent many days for research about this, and looking for authentication/authorization on Goog

[2019-10-05 15:24] alexkyse1 commented on #14593
Perhaps this solution will work.

.NET Core 2 by installing **Microsoft.AspNetCore.Mvc.Razor** nuget package

[code]

.NET Core 3 by installing **Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation** nuget package

[code]

[2019-10-05 16:00] 3x0dv5 commented on #14633
CompileTypeScript instead of TypeScriptCompile got rid of the nasty target not found, thank you @springy76 for that!
In regards to the assets I see that when building in Debug a file {yourWebProjectName}.StaticWebAssets.xml is put next to the DLL files.
In this file I see that it seems to be using some sort of symlinks to the files,
[code]
but in any case the `<script src="_content/Web.RCL/app.js"

[2019-10-05 16:54] Legends opened #14846 "in-process-hosting - ASP.NET Core module"
The "in-process-hosting" illustration shows the ASP.NET Core Module, but in the explanation below it is missing.
Better incorporate ASP.NET Core Module in this section:

       _A request arrives from the web to the kernel-mode HTTP.sys driver...._,

so we can learn how it interacts with the rest.

Because here : https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/httpsys?view=aspnet

[2019-10-05 16:58] guardrex commented on #14182
Cross-ref to this same or different issue (close it or work together?): https://github.com/aspnet/AspNetCore.Docs/issues/11366

[2019-10-05 17:59] Rick-Anderson commented on #14841
@LarnuUK  thanks for the comment. We document ASP.NET Core, not SQL. It's just a matter of changing the connection string.

[2019-10-05 17:59] #14841 closed

[2019-10-05 18:04] offirpeer commented on #14825
I didn't had the PFX certificate, after I generated one I configured it in the `appsettings.json` and then I updated Nginx+Cloudflare+.Netcore configuration and it worked!
Thank you!

[2019-10-05 19:10] Rick-Anderson commented on #14841
If you're on Windows, why not LocalDB?

[2019-10-05 19:24] Legends commented on #14846
Actually only change:

to
The **ASP.NET Core module** receives the native request and passes it to IIS HTTP Server (IISHttpServer).

And perhaps a little clarification: Is http.sys is a kernel mode driver and in other places I read it's a webserver. Question: Are both the same or different?

[2019-10-05 19:29] serpent5 commented on #14686
@Rick-Anderson Yeah, I can take a look. Do you know what is meant by the following:

Does this mean examples of do-your-own runtime compilation or is it more around how it was just `AddMvc` before but now it's `AddXXX().AddRazorRuntimeCompilation()` etc?

[2019-10-05 20:12] Legends opened #14848 "Repleace IApplicationLifetime with IHostApplicationLifetime"
The following example is an `IHostedService `implementation that registers the <strike>IApplicationLifetime</strike> `IHostApplicationLifetime `events:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5f1eeee-d500-82bf-0d0a-b4e0d5d5c175
* Version Independent ID: 2373a3df-6ea3-50c7-d63d-61c51d572511
* Content: [.NET Gene

[2019-10-05 20:41] donhuvy commented on #14843
After anchor link https://docs.microsoft.com/en-us/aspnet/core/security/blazor/?view=aspnetcore-3.0&tabs=visual-studio#blazor-webassembly-authentication

// Authentication for Blazor Server content.

These words make me mis-understanding about the content below is for Blazor WebAssembly, not for Blazor Server.

[2019-10-05 21:01] Rick-Anderson commented on #14686
@serpent5  it's before 3.0 vs. 3.0

[2019-10-05 21:19] Legends opened #14850 "Host Configuration example"
[code]

When I access `configHost ` it shows me the following options:

![image](https://user-images.githubusercontent.com/966368/66261008-9ae8ce00-e7c6-11e9-82e0-a75ffac99e97.png)

Where are all these methods from the example like `AddJsonFile` etc. ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5f1eeee-d500-82bf-0d

[2019-10-05 21:22] Physeos-sys commented on #14620
index.html needs to have <script src="js/site.js" changed to "site.js". Instructions above do not say to create a folder named js in wwwroot

[2019-10-05 21:59] Legends opened #14851 "Highlight this section"
I would put this in an attention box, like "Note":

like this box, don't know if you use different colors for different attentions:

![image](https://user-images.githubusercontent.com/966368/66261385-99220900-e7cc-11e9-985d-6d1fa3a8f18e.png)

And perhaps tell the user to switch to `GenericHost` section when using ASP.NET Core v3.0 <
---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-10-05 23:11] LarnuUK commented on #14841
I'm not on Windows, hence my comment about Docker and Linux. I know how to use SQL, but I'm brand new to ASP.Core, and, unfortunately, the document gives me no details on how to connect to SQL Server. That isn't a SQL issue, that's a problem with the Document. I know very well how to use SQL Server; I specifically don't want to learn a different RDBMS and why this document confuses me.

[2019-10-05 23:29] #14848 closed

[2019-10-05 23:40] guardrex commented on #14851
Hello @Legends ...

The web host is really *still here*. Even in the new world of the Generic Host, the web host (`IWebHostBuilder`) is built and several aspects of this topic still apply (e.g., web host configuration). I don't agree with the direction that was taken, but I'm just little green dino in a big MS world. :smile: This is the direction that they decided to go.

WRT changing to a NOTE, I

[2019-10-05 23:40] #14851 closed

[2019-10-05 23:44] guardrex commented on #14850
Add ...

[code]

... I'll put it into the example.

[2019-10-06 00:00] Legends commented on #14851
hm, this doesn't sound to me, I should be using it in v3.0 anymore.
If it is not deprecated and it doesn't looks (no comments in code), then I would remove these sentences, imo. It's irritating.

So without reading the "Web Host" section (skipped it, because of this sentences above) are there some infos we cannot find in section "Generic Host", but is included here in "Web Host"?
Of course, if Web

[2019-10-06 00:28] guardrex commented on #14851
I agree with your confusion ... I find it confusing, too. I'd have gone a different way with it. This is what they wrote/approved, so this is what we have today. They'll keep an :ear: open for additional feedback. If enough devs say that they're confused by the coverage, I suspect they'll make changes.

[2019-10-06 01:36] #14850 closed

[2019-10-06 04:28] vpoteryaev commented on #14826
If I initially didn't place the solution and project in the same directory, I get the same errors.
Seems PMC refers to the solution's directory and can't find the project.
Just launch the CMD and go to the project's directory, then 'dotnet ef migrations add ...' works fine.
Same with adding packages and so on.

[2019-10-06 04:49] #14826 closed

[2019-10-06 05:22] wforney opened #14855 "NuGet package required for ASP.NET Core 3.0"
May want to update the docs to include installing the NuGet package for the different providers... It assumes that you had it already and those who don't know where to look will have a hard time if they only land here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d19b295-f935-3755-4ca4-9d0717b21e75
* Version Indepen

[2019-10-06 06:22] samnaseri commented on #14855
Yup, it took me 3 minutes to figure it out that I need to add Microsoft.AspNetCore.Authentication.Google package where as the whole article is supposed to be read in 3 minutes :))

[2019-10-06 06:38] Rick-Anderson commented on #14855
@samnaseri  sorry about that :)

[2019-10-06 08:20] Legends commented on #14851
hm, ok. Thanks for your feedback.

[2019-10-06 09:14] Legends opened #14857 "Update Web Host topic for 3.0"
IHostApplicationLifetime  --&gt; IApplicationLifetime is deprecated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04eafd1b-403a-4aa3-48bc-78fed5b4d05e
* Version Independent ID: f35451f4-7c74-3ada-e969-b769428b94f4
* Content: [ASP.NET Core Web Host](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/web-hos

[2019-10-06 10:29] guardrex opened #14859 "Apache configuration"
Add Apache2 (httpd) example configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89b4d6a1-1436-7ba8-a5c5-8dcb6a955bb0
* Version Independent ID: 4a6a13b4-fe5c-a9fb-5d7d-33d5aa0fbac3
* Content: [Host and deploy ASP.NET Core Blazor WebAssembly](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/w

[2019-10-06 11:45] samnaseri opened #14860 "can't find HttpContext.SignInAsync"
I can't find the method  SignInAsync on HttpContext. Probably it is an extension method. But where that extension method is defined?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2229fc6-f8c8-952e-e567-b1d5a463055a
* Version Independent ID: b18a015b-914d-f014-f711-120d208904d9
* Content: [Use cookie authentication wi

[2019-10-06 12:01] Turnerj commented on #14593
On the [File Providers](https://docs.microsoft.com/en-au/aspnet/core/fundamentals/file-providers?view=aspnetcore-3.0) page in the docs, it does link to example code which uses DI to inject the provider for the `IFileProvider` interface.

https://github.com/aspnet/AspNetCore.Docs/blob/d0ab5e5f44ea0ca42bfd608e12f7e04583aa5936/aspnetcore/fundamentals/file-providers/samples/3.x/FileProviderSample/Star

[2019-10-06 12:28] zhou881117 commented on #14593
services.Configure<Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.MvcRazorRuntimeCompilationOptions>(options =>
            {
                options.FileProviders.Clear();
                options.FileProviders.Add(new PhysicalFileProvider(AppContext.BaseDirectory));
                options.FileProviders.Add(new EmbeddedFileProvider(typeof(IntelligentFactory.Web.PluginAdmin.AdminProfile).Assemb

[2019-10-06 12:29] zhou881117 commented on #14593
services.Configure<Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.MvcRazorRuntimeCompilationOptions>(options =>
            {
                options.FileProviders.Clear();
                options.FileProviders.Add(new PhysicalFileProvider(AppContext.BaseDirectory));
                options.FileProviders.Add(new EmbeddedFileProvider(typeof(IntelligentFactory.Web.PluginAdmin.AdminProfile).Assemb

[2019-10-06 12:44] guardrex commented on #14860
It's shown in the topic in several spots and in the sample app ...

[code]

[2019-10-06 12:44] #14860 closed

[2019-10-06 12:47] guardrex commented on #14860
https://docs.microsoft.com/dotnet/api/microsoft.aspnetcore.authentication.authenticationhttpcontextextensions.signinasync

They're still working on the 3.0 API.

[2019-10-06 15:00] robinwilson16 opened #14862 "Guidance on how to re-write EF .NET Core Queries"
Is it possible to get some guidance on how to re-write EF .NET Core Queries as whatever I do I cannot seem to get any that are not just a straigtforward ```.ToListAsync()``` ones to execute.

Here is one that works fine in .NET Core 2.2:
[code]

According to https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/ I must call ```AsEnumerable()``` as only the last part of the query can be

[2019-10-06 15:19] marydeshon opened #14863 "ef commands getting "ScriptHalted" error"
When I run Add-Migration InitialCreate I get "ScriptHalted" error in the the PMC.

Tried to find a solution but nothing seems to work.
Any suggestions are welcome!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content

[2019-10-06 15:38] robinwilson16 commented on #14862
Ok this sort of works (if I put brackets around the server part) but it is producing the wrong answer presumably because of the order of execution:
[code]

What this does is return the 30 most recent customers the user has amended or viewed.
Whilst this now compiles and runs it is no longer doing this for some reason.

[2019-10-06 15:45] Walad100100 opened #14864 "Error in Code Example"
The following code example:

&lt;input value="@CurrentValue"
    @onchange="@((ChangeEventArgs __e) =&gt; CurrentValue = __e.Value)" /&gt;

Generates an error unless I typecast __e.Value by (bool), i.e.,

CurrentValue = (bool) __e.Value

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca

[2019-10-06 15:56] guardrex commented on #14864
I don't think that it's an "error" in that sense that it was just an abbreviated example for the `@bind` equivalent **_for a textbox_** shown in the lead-in sentence. It's not meant for you to actually use that code in a component, nor does it currently apply to the checkbox example `italicsCheck`. I think that example should be based on the prior example (`italicsCheck`). Thanks for commenting.

[2019-10-06 16:59] #14578 closed

[2019-10-06 17:20] wadepickett commented on #14855
Moved this one up to be included in this week's workload.  Thanks @wforney and @samnaseri.  Sorry for the bad experience.

[2019-10-06 17:49] daveduvarney commented on #13363
Thanks for posting.

[2019-10-06 18:53] nexon33 commented on #14593
for me, MvcRazorRuntimeCompilationOptions also doesn't work, although I can successfully add the code and it throws no error, the views are not found during runtime.

[2019-10-06 21:24] #14857 closed

[2019-10-06 22:07] nexon33 commented on #14593
After a lot of searching managed to solve it, the above code stated is correct. But you will also need to change `services.AddRazorPages();` to `services.AddRazorPages().AddRazorRuntimeCompilation();` because else you end up configuring something that isn't used anywhere in the project.

[2019-10-06 23:43] donhuvy opened #14869 "InvalidOperationException: EditForm requires a Model parameter, or an EditContext parameter, but not both."
I am using .NET Core 3.0.100 , Blazor Server web-app, Microsoft Visual Studio 2019 Community Preview.

I follow this guide https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-3.0

File `ExampleModel.cs`

[code]

and file `Foo.razor`

[code]
I go to [https://localhost:44333/foo](https://localhost:44333/foo)

error

[code]

Raw exception detail
[code]
![image](https:

[2019-10-06 23:52] guardrex commented on #14869
You didn't create an instance of `ExampleModel` for your `exampleModel`.

[code]

... or assign it to `exampleModel` on `OnInitializedAsync`.

[2019-10-06 23:52] hishamco commented on #14225
@casee these are examples from the source

https://github.com/aspnet/Extensions/tree/master/src/Localization/Localization/test/Microsoft.Extensions.Localization.RootNamespace.Tests

https://github.com/aspnet/AspNetCore/tree/master/src/Middleware/Localization/testassets

They are absolutely will help you

[2019-10-06 23:56] hishamco commented on #14225
I think it's the time to start on this one

@Rick-Anderson shall I start with modifying the current code to target 3.0, after that we can write about the new stuff that have been added

[2019-10-07 00:24] Rick-Anderson commented on #14225
Sure. Just remember

::: moniker range=">= aspnetcore-3.0"
copy of existing doc which you update for 3.0
::: moniker-end

::: moniker range="< aspnetcore-3.0"

original document
::: moniker-end

[2019-10-07 00:41] hishamco commented on #14225
Don't worry about the monikers, I already worked with them before :)

the PR is coming 🚀 🚀 🚀

[2019-10-07 00:54] hishamco commented on #14225
@Rick-Anderson I will create another PR to talk about the `Content-Language` header, one more thing there's a minor change in `LogLevel` when the culture is unsupported shall we point to this?

[2019-10-07 01:17] maifs opened #14871 "How to route a C# controller method?"
Hi,
I am using HttpClient for my server side requests.  If I define the route attribute over C# controller method then requests are not bring served.  Why?
Can any suggest me?
I am using preview 9 latest update.
Thank you for your assistance.

[2019-10-07 01:46] Rick-Anderson commented on #14225
Sure

[2019-10-07 02:07] hishamco commented on #14225
Ok, I will did that in my 2nd PR

[2019-10-07 07:10] serkanyazicioglu opened #14872 "Microsoft.AspNetCore.Mvc.WebApiCompatShim library"
Since Microsoft.AspNetCore.Mvc.WebApiCompatShim is not available for .Net Core 3.0 this part should be updated or removed from this page. It's misleading right now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a3b4-28f6-5f0f-a8bf-aef76f05fe42
* Version Independent ID: 0d0bc32b-5909-580f-1030-edbf1d3d9a68
* Conten

[2019-10-07 09:54] OlegLviv commented on #14871
Show your controller code pls

[2019-10-07 10:54] guardrex commented on #14871
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-10-07 10:54] #14871 closed

[2019-10-07 11:01] guardrex commented on #14872
* https://github.com/aspnet/AspNetCore/issues/4926
* The topic looks to need 3.0 updates.

cc: @scottaddie

[2019-10-07 11:19] IanKemp opened #14876 "Add Log4Net third-party logging provider"
https://www.nuget.org/packages/Microsoft.Extensions.Logging.Log4Net.AspNetCore/ at https://github.com/huorswords/Microsoft.Extensions.Logging.Log4Net.AspNetCore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-f367-d733-8933-bccc04da0e16
* Content: [

[2019-10-07 12:10] billgatesfan opened #14877 ""Roaming" is missing from the Secrets path."
I believe there is a very small error in the article : at "https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets#how-the-secret-manager-tool-works",  you said that path is "%APPDATA%\Microsoft\UserSecrets\&lt;user_secrets_id&gt;\secrets.json".

I believe the Roaming folder is missing, so that would be "AppData\Roaming\Microsoft\UserSecrets".

---
#### Document Details

⚠ *Do not edit t

[2019-10-07 12:24] Legends commented on #13140
Last code example:

Why query ` env.IsStaging()` in `Configure` method when there is a separate `ConfigureStaging` method, so `Configure` will not be called at all ?!

[2019-10-07 12:55] javiercn opened #14878 "Prerendering parameters guidance"
Filing this issue to track adding guidance on how to be successful when passing parameters to server-side blazor apps. We want to describe:
* Implementation and limits.
* How to change your app when you hit these limits.
* Guidance for specific scenarios
  * Rendering a top level component.
  * Rendering multiple components.

[2019-10-07 12:59] HughPH opened #14879 "Insufficient clarity about calling an instance from JS"
This document is very confusing for me as a C# developer who left JavaScript behind 10 years ago.

Could use a section describing how DotNetObjectReference could be used to pass an instance of a Blazor component to JavaScript (and therefore make its methods available) - or pass an injected singleton, for example.

It was not obvious to me that .then is synonymous with .ContinueWith and .ContinueWi

[2019-10-07 13:06] IanKemp opened #14880 "https_port appears to be required in order for redirection and HSTS to work correctly (Core 2.2)"
Our webapp has the standard HTTPS/HSTS configuration:

[code]

However, what we've found is that with this configuration, the first time the user hits our site using plain HTTP (insecure), they are not redirected to HTTPS as expected.

After playing around a bit, we found that doing the above **plus the following setting** in `appsettings.json` makes the initial redirect to HTTPS occur as expected

[2019-10-07 13:35] guardrex commented on #14877
`%APPDATA%` is the variable name for `C:\Users\{USER}\AppData\Roaming`.

[2019-10-07 13:35] #14877 closed

[2019-10-07 13:49] javiercn commented on #14633
@Rick-Anderson Can we update the docs to use `CompileTypeScript` intead of `TypeScriptCompile`? This might have been an overlook on my part.

[2019-10-07 13:50] guardrex commented on #14880
Follow the guidance in this section ...

https://docs.microsoft.com/aspnet/core/security/enforcing-ssl#edge-deployments

The app must be able to receive requests on both 80 and 443 for redirection to work.

We can't say more here (in an issue) about **_exactly_** what the setup looks like in a specific case ... that depends on your environment and how the app is deployed (IIS, Kestrel edge, etc.).

[2019-10-07 13:50] #14880 closed

[2019-10-07 13:51] jamie-tillman opened #14883 "Incorrect DbContext initialization syntax"
This tutorial dead-ends at the DbContext configuration code.

This line:
[code]
Results in this error:
`Cannot convert lambda expression to type 'ServiceLifetime' because it is not a delegate type`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f

[2019-10-07 13:54] javiercn commented on #14827
You can't use the user manager APIs to retrieve user information directly in your APIs. The user you see inside your API is the result of validating and deserializing the access token sent by the SPA to the app, which is different from the user that Identity expects (which is serialized into the Identity cookie).

This is also something that you shouldn't do in your API. The access token is the pi

[2019-10-07 13:54] javiercn commented on #14827
Closing as this is not something we plan to support.

[2019-10-07 13:54] #14827 closed

[2019-10-07 13:56] guardrex commented on #14880
btw --- what you called out is covered ... see :point_right: https://docs.microsoft.com/aspnet/core/security/enforcing-ssl#port-configuration

[2019-10-07 14:13] caihongxu commented on #14827
Just so to clarify, the user id does exist in the token directly, just identity server override the options.ClaimsIdentity.UserIdClaimType configurations which resulted in that user manager cannot parse and get it correctly. And I still feel getting user id from access token is the proper thing to do. There is no identity cookie involved here as the OIDC protocol we are using is based on authoriza

[2019-10-07 14:22] jamie-tillman commented on #14883
Nope.  It's there.  If it were missing, the error would be:
[code]

[2019-10-07 14:26] guardrex commented on #14883
Best bet until Rick can take a look ... compare your app to the sample and see if there's a delta somewhere ...

https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/tutorials/first-web-api/samples/3.0/TodoApi

[2019-10-07 14:42] javiercn commented on #14827
The Claims principal in the controller action was not produced by Identity and so UserManager does not know how to work with it. You can choose to tweak how the ClaimsPrincipal gets produced to make it work with Identity, but afaik, UserManager only works with ClaimsPrincipal instances produced by Identity and does not guarantee working with other ClaimsPrincipals. Is that fair @blowdart?

@caihon

[2019-10-07 15:07] springy76 commented on #14633
@javiercn  The VS experience with the correct setting is still very meh: Publishing works fine but the developer-every-day-use is a PITA. If you have luck then after a `Rebuild` you only have to do a normal `Build` afterwards to get the missing pieces from wwwroot get compiled into the assemblies. But sometimes after a `Rebuild` the wwwroot folder is still missing and so the `Build` afterwards jus

[2019-10-07 15:12] javiercn commented on #14633
@springy76 I would file an issue in the asp.net core repo with a link to a github repo containing a minimal repro project and detailed steps that describe the issue you are facing. That'll help us understand the scenario and evaluate what we can do about it.

[2019-10-07 16:01] #14837 closed

[2019-10-07 16:07] blowdart commented on #14827
Again, please open an issue in the core repo for this. It's not a docs issue.

[2019-10-07 16:08] SteveSandersonMS opened #14884 "Document control of event propagation and default actions"
[EDIT by guardrex to add the *Components* topic metadata]

This ships in 3.1 preview 2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent ID: 9d945996-ad02-bd4b-58ea-c465cc5cc74c
* Content: [Create and use ASP.NET Core Razor components](https://docs.microsoft.com/e

[2019-10-07 16:45] scottaddie commented on #14686
Fixed in https://github.com/aspnet/AspNetCore.Docs/pull/14861

[2019-10-07 16:45] #14686 closed

[2019-10-07 16:45] jamie-tillman commented on #14883
Coder error.  I had provided the model where the specific context should have been provided instead.

[2019-10-07 16:45] #14883 closed

[2019-10-07 17:26] samf1596 opened #14887 "This page should be versioned as Certificate Forwarding is new middleware available starting in .net core 3.0"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e548cd16-b06c-5802-a1a7-c627167857ae
* Version Independent ID: c48abb08-bea3-dcff-c067-2edf5dc9b3a6
* Content: [Configure ASP.NET Core to work with proxy servers and load balancers](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-lo

[2019-10-07 17:29] guardrex commented on #14887
@Tratcher I didn't get wind of cert forwarding. Can you point me to some engineering details or let me know what I should add?

[2019-10-07 17:35] Tratcher commented on #14887
It's already in the doc, but it needs to be restricted to the 3.0 version.
https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/host-and-deploy/proxy-load-balancer.md#certificate-forwarding

[2019-10-07 17:35] guardrex commented on #14887
Gotcha ... thanks.

[2019-10-07 17:41] #14876 closed

[2019-10-07 17:42] CeciAc opened #14889 "fix code"
@sercocn commented on [Fri Oct 04 2019](https://github.com/aspnet/AspNetCore.Docs.zh-tw/issues/114)

&lt;input value="@CurrentValue"
    @onchange="@((ChangeEventArgs __e) =&gt; CurrentValue = __e.Value)" /&gt;

not compile success
add "as string" compile success

&lt;input value="@CurrentValue"
    @onchange="@((ChangeEventArgs __e) =&gt; CurrentValue = __e.Value as string)" /&gt;

and

CurrentVa

[2019-10-07 17:43] CeciAc commented on #14889
Hi team,
I move this here because the user is making suggestions to the code
best

[2019-10-07 17:45] guardrex commented on #14889
Hello @CeciAc and @sercocn ...

The updates are already in the works on https://github.com/aspnet/AspNetCore.Docs/pull/14868.

This is a dup of https://github.com/aspnet/AspNetCore.Docs/issues/14864.

[2019-10-07 17:45] #14889 closed

[2019-10-07 17:53] #14165 closed

[2019-10-07 18:36] #14887 closed

[2019-10-07 18:39] jhudsoncedaron opened #14893 "Page is clearly not updated for .NET Core 3.0 Endpoint Routing"
Page is clearly not updated for .NET Core 3.0 Endpoint Routing: It's littered with UseMvc() everywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee6ad2f-1667-8d5c-1f36-9d0511e3720f
* Version Independent ID: 7838ccec-c8e8-9baa-2b3e-220b2af5fc58
* Content: [Routing to controller actions in ASP.NET Core](https://do

[2019-10-07 18:57] guardrex commented on #14893
Duplicate of https://github.com/aspnet/AspNetCore.Docs/issues/13871.

[2019-10-07 18:57] #14893 closed

[2019-10-07 19:26] #14792 closed

[2019-10-07 19:57] #14677 closed

[2019-10-07 20:42] Legends opened #14896 "Unclear: volume data store and value data store"
_In production, send Trace through Information level to a volume data store.
Send Warning through Critical to a value data store._

What is a volume data store and what is a value data store?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-f367-d733

[2019-10-07 20:49] zhandzlik opened #14897 "Unable to find package Microsoft.AspNetCore.Blazor.Templates"
I've been trying to run the command listed [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio) to install the Blazor Web Assembly, but I continue to get the error mentioned in the subject.  I've tried uninstalling .Net SDK 3.0.1 entirely and reinstalling, but I continue to get this error.  Below is command and the error output from command

[2019-10-07 20:50] #14625 closed

[2019-10-07 21:08] guardrex commented on #14896
An ancient text update to this content didn't go well, and we've all probably looked right at that and missed it on successive updates ... thanks for calling it out.

"Volume data store" is supposed to mean "high-volume data store" (see https://github.com/aspnet/AspNetCore.Docs/commit/5362a8dca5b600b50ddb71a9382bc4f41ea9f3e5#diff-0a2f90a81fb4f1f2c8931b1681f84cebR139)&dagger; ... i.e., an expensive

[2019-10-07 21:11] serpent5 commented on #14731
@Rick-Anderson I think this can be closed.

[2019-10-07 21:13] #14731 closed

[2019-10-07 21:19] Rick-Anderson commented on #14731
@serpent5  I thought this was fixed but [GitHub history](https://github.com/aspnet/AspNetCore.Docs/commits/master/aspnetcore/mvc/models/validation.md) doesn't show the PR.

[2019-10-07 21:22] Legends commented on #14896
Perhaps supply some examples for each to make it crystal clear :-)
You see, I am making my way through the docs, we'll stay in contact :D ;-)

[2019-10-07 21:24] serpent5 commented on #14731
It was just a change to the sample code in https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/mvc/models/validation/sample/Models/User.cs.

[2019-10-07 21:28] Rick-Anderson commented on #14731
That's it, thanks!

[2019-10-07 21:28] guardrex commented on #14896
No worries ... I'll fix it up. I agree, and it shouldn't go back to just "high-volume" and "high-value" ... that's also (all by itself) confusing. The author tried to fix it, and it just didn't work out. What's annoying is that we've all probably read past that a few times over the last few years (that change was *2016!!!*) and didn't spot it.

[2019-10-07 21:36] guardrex commented on #14897
Search over on the [dotnet/cli issues](https://github.com/dotnet/cli/issues) (**both open and closed issues**).

Check a few things, too ...

* Are you possibly being blocked by a firewall or proxy?
* Do you have a *nuget.config* file somewhere in the directory tree (or project) where you're issuing that command with a different NuGet package source?
* Try clearing the package cache ... `dotnet nu

[2019-10-07 21:36] #14897 closed

[2019-10-07 22:35] caihongxu commented on #12727
I encountered the same issue and would like to see if someone could look into this issue. Thanks.

[2019-10-07 22:39] asad-c commented on #12727
I couldn't wait for this to get resolved so had to create the individual projects myself (Angular client, API and IdentityServer) and it's working as expected.

[2019-10-07 22:42] caihongxu commented on #12727
Care to share any details/pointers how you resolved this?

[2019-10-07 22:52] asad-c commented on #12727
For me to get this to work was a combination of the IdentityServer quickstart tutorials:
https://identityserver4.readthedocs.io/en/latest/quickstarts/0_overview.html

And the following Pluralsight course:
https://app.pluralsight.com/library/courses/openid-and-oauth2-securing-angular-apps/table-of-contents

The IdentityServer docs give an example of a vanilla JavaScript client, but the Pluralsight

[2019-10-08 00:14] steveoh opened #14899 "using statements in samples"
do you think we could get the using statements required for the samples to run?

I'm not sure what namespace the `ReadAsAsync` extension method is in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881cef77-11ef-ac11-06d0-0996a1ccfa1b
* Version Independent ID: 3d356334-e672-7e8b-1fef-7944ebee99eb
* Content: [Make HTTP

[2019-10-08 00:45] robinwilson16 commented on #14705
Hitting this issue with another project that has suddenly stopped working and deleting the `bin` and `obj` folders is having no effect.
It was a project I had already migrated to .NET Core 3.0 and had just published but then I wanted to update the version number I had stored in appsettings.json and was up to 2.1 so changed this to 2.2 and now get the error and can no longer publish further changes

[2019-10-08 01:34] gerald-romero opened #14900 "typo"
dotnet dev-certs. Not dotnet devcerts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ddfb2f-5dea-5e31-2a27-02a4dc16104c
* Version Independent ID: 12ca0b9a-2638-a4ce-c45f-d4579c83dafb
* Content: [Enforce HTTPS in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.0&tabs

[2019-10-08 01:40] Rick-Anderson commented on #14900
@gerald-romero  thanks for notifying use of this. #14900 fixes it.

[2019-10-08 01:42] #14900 closed

[2019-10-08 01:45] Rick-Anderson commented on #14862
Can you open an issue in https://github.com/aspnet/EntityFramework.Docs ?

[2019-10-08 01:45] #14862 closed

[2019-10-08 01:51] Rick-Anderson commented on #14899
@steveoh  have you looked in https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/fundamentals/http-requests/samples/3.x ?
We usually don't add includes in advanced tutorials.
Are you using Visual Studio?

[2019-10-08 01:51] khteh opened #14903 "Unable to propagate server context values to the call. Can't find the current HttpContext."
[code]
results in:
[code]
What do I miss?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35f64666-6632-cfca-2c3b-a20ea016f62b
* Version Independent ID: caebee8f-f4aa-17a4-3681-d10c4695e9c0
* Content: [gRPC client factory integration in .NET Core](https://docs.microsoft.com/en-us/aspnet/core/grpc/clientfactory?view=aspn

[2019-10-08 02:26] scottaddie commented on #14899
@steveoh In ASP.NET Core 3.0 projects, you'll need to install the [Microsoft.AspNet.WebApi.Client](https://www.nuget.org/packages/Microsoft.AspNet.WebApi.Client/) NuGet package. This assembly was included in the shared framework (`Microsoft.AspNetCore.App`) in 2.x, so there was no need to install it separately.

[2019-10-08 03:41] khteh opened #14905 "Integration test using WebApplicationFactory<Startup>"
Is it possible to have an end-to-end GRPC integration test using `WebApplicationFactory<Startup>` like what we did for Restful WebAPI? I tried to do that but doesn't work. Exception:
[code]
What I do in the integration test project:
[code]
And my Startup.cs:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0db2d29

[2019-10-08 06:56] tidyui opened #14906 ".NET CLI option is wrong in first section"
The option `-support-pages-and-views` should have two dashes in the beginning, i.e `--support-pages-and-views`. Tested on Mac OS X.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fd019c7-ceb7-6ef3-26ba-6b44341b6fc5
* Version Independent ID: fd116d00-0dc7-efaf-c714-34d77b345a05
* Content: [Reusable Razor UI in class li

[2019-10-08 07:55] #13919 closed

[2019-10-08 10:06] Svetomechc commented on #12727
@asad-c a bit tiresome if you ask me, compared to `dotnet new angular -o <output_directory_name> -au Individual`. Also, I thought they'd change _Implicit Flow_ to _Authentication Code Flow_ with 3.0 release, but they haven't. Oh well, I guess this template is deserted.

[2019-10-08 10:53] javiercn commented on #12727
@Svetomechc The template uses authorization code + pkce

[2019-10-08 11:02] Svetomechc commented on #12727
@javiercn [you're right](https://github.com/aspnet/AspNetCore/commit/7bf660947baf8966cd65ae6a3708cf283576dc25), I looked at the wrong place - forgot that the authorization code was in **Microsoft.AspNetCore.ApiAuthorization.IdentityServer** package, not in the template itself.
Still, the problem in this issue stands.

[2019-10-08 11:08] opa215 opened #14907 "Great tutorial, recommendation from improvement"
This is a great tutorial, and I'm really finding it helpful. One issue that I ran into is that, when I initially tried adding a new folder, it did not give me an opportunity to rename the folder. Apparently, it is letting me do so now. I've seen stuff like that happen before, but if you have any insight on how to prevent that, or how to rename a folder after it is created as "New folder", I'd grea

[2019-10-08 11:21] #14685 closed

[2019-10-08 11:22] #14907 closed

[2019-10-08 11:23] opa215 commented on #14907
I am closing this issue as I don't believe it's a significant problem that warrants modification of the tutorial. Thanks.

[2019-10-08 11:32] #14906 closed

[2019-10-08 11:40] Structed opened #14910 "Which file to edit?"
In the section [Out-of-process hosting model|https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.0#out-of-process-hosting-model], you mention to edit some XML, specifically

[code]

I assume, this goes to the `csproj` file. However, there is no note on where to do this. This problem occurs on several occasions through the document.

---
#### Document D

[2019-10-08 11:41] guardrex commented on #14910
Yes, that's correct ... the project file.

I'll run through it today and make sure that's clear. Thanks for commenting.

[2019-10-08 11:45] guardrex commented on #14910
Not every instance shown that's in XML goes in the project file. Some of those are for *web.config* and there's one I see for a publish profile.

I'll get them carefully called out sometime today.

[2019-10-08 12:16] mrAshpool opened #14911 "Asp-route parameters in core 3.0 / Razor Pages"
In 2.2 an anchor would automatically include any route parameters, if the source had that property, and the destination contained the @page "{ParamName}"

i.e.
`<a asp-page="/Test/Index">Test</a>` could be rendered as
`<a href="xx/Test/Index/ParamValue">Test</a>`
despite not including asp-route-ParamName

After migrating to 3.0 I need to explicitly include any route details in the tag helper

If I

[2019-10-08 12:16] IanKemp commented on #14880
I guess my question was pretty unclear, here's what I actually wanted to ask:

* Why is it necessary to explicitly set the `https_port` configuration value to 443, when the default HTTPS port number is 443 anyway?

[2019-10-08 12:38] guardrex commented on #14880
That's not a default ... 5001 is the default for HTTPS and only for the Development environment. HTTPS for the Production environment must always be configured.

[2019-10-08 12:50] GeorgeAlexandria opened #14912 "Incorrect information for <aspnetcore21"
The section #add-a-controller describe how to add a new controller for `<.aspnetcore21` (in the issue scope younger versions are not interested), it just use `ApiControllerAttribute` to decorate controller that allow controller responds to web API requests. Besides, `ApiControllerAttribute` was introduced at `aspnetcore21` (https://docs.microsoft.com/ru-ru/dotnet/api/microsoft.aspnetcore.mvc.apico

[2019-10-08 13:23] Legends opened #14913 "Sample app - unnecessary #regions"
Why use regions for multiple lines or even one line of code?
It decreases readability and makes here no sense anyway.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48e02614-5cdd-0c85-3193-75a2325326b4
* Version Independent ID: fca176e2-c56e-0f17-de1b-e60912091e4b
* Content: [High-performance logging with Logge

[2019-10-08 13:36] serpent5 commented on #14913
The regions are used by the .md files to pull in code to display in the documentation pages. For example, the following is taken from the page in question:

[code]

At the end of that line, you'll see a reference to `snippet1`. This allows the .md files to reference a section of code by a name rather than line-numbers, which is a bit more flexible.

[2019-10-08 13:45] Legends commented on #14913
hm, ok. I will close it, I guess you currently don't have a better solution at hand.
From your point of view it makes sense, actually perfect, but when reading the code from a readers view it's a bit nasty to read.

[2019-10-08 13:45] #14913 closed

[2019-10-08 13:51] cremor opened #14914 "Delete response code is not correct"
The shown `DeleteTodoItem()` method for ASP.NET Core 3.0 returns the deleted entity, but after the code block there is the following text:

This doesn't match.

For versions other than 3.0 it is correct, but not for the code that is shown if you choose 3.0.

I think returning `NoContent()` is the "better" way, so in theory the shown code should be updated. But since this code has to match the code

[2019-10-08 14:03] softvitals commented on #13215
Good

[2019-10-08 14:05] guardrex commented on #14913
The way to do it without ranges is to use a query string "range" of code (by line number).

[code]

Downside: If the line numbers change (*and they will*), the code block breaks (shows the wrong lines). This approach requires too much maintenance, so we don't use it very much. It's a bit of a holdover in old docs, and we try to refactor it when an old doc is overhauled.

btw - You may also see tho

[2019-10-08 15:57] bradygaster commented on #13919
@wadepickett - apologies if my edits caused frustration or confusion. I will stay out of this one until you let me know you're all good and then I will get back in. Apologies again - I will shift focus on another article I've been wanting to update unrelated to SignalR.

[2019-10-08 16:01] guardrex commented on #14515
The rollout has begun :tada: ... keep an :eye: on this for your datacenter(s) ...

https://aspnetcoreon.azurewebsites.net/

[2019-10-08 16:21] guardrex commented on #14593
This is misplaced here ... my bad. This is for the *View Complication* topic, where some of the updates for 3.0 were made and one update doesn't seem correct based on the [announcement](https://github.com/aspnet/Announcements/issues/343). I'll move this issue over and ping all of you on the new issue.

[2019-10-08 16:33] guardrex commented on #14800
*Ah! Perfect.* I was just about to move an issue over to this topic, and your issue here, @lourencocotta, is perfect for it. It pertains to the updates for 3.0.

Looks like some of the [annoucement](https://github.com/aspnet/Announcements/issues/343) made it in for 3.0 (e.g., the package), but not all of that made its way here (e.g., the extension method). It probably happened because the 3.0 upda

[2019-10-08 16:37] wadepickett opened #14923 "Update Client-Side Library setting to latest"
The Client-Side Library setting should show "@microsoft/signalr@latest" in the screenshot to match the instruction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dd2991d-c22d-ad0f-80b6-bd1b503db8f3
* Version Independent ID: 5e3fbe1d-c97f-9940-4f0c-067d4b2112b1
* Content: [Get started with ASP.NET Core SignalR](https:

[2019-10-08 17:27] guardrex commented on #14566
@halter73 Working this now.

Cross-linking a bit for `CreateDefaultBuilder` is done. *Easy!*

The other aspect of this issue is a bit harder to address. Rubber :duck: says not to ask this stupid question, but do you have a schema for *all* of the Kestrel options that would be loaded from a configuration provider showing all of the keys? ........ (Rubber :duck: is laughing at me now.)

You see, we

[2019-10-08 17:31] Rick-Anderson commented on #14912
@GeorgeAlexandria  thanks for the feedback. We should probably remove the version selector for 1..0 to 2.0 since we don't support those versions.

cc @scottaddie

[2019-10-08 17:31] #14912 closed

[2019-10-08 17:31] MHarrison22 opened #14924 "ASP.NET Core 2.2 version requires the loggerFactory.AddAzureWebAppDiagnostics() in Startup.cs (even though obsolete)"
Title says it all, I had no luck getting the logging working in the Azure App Service log stream, VS Professional 2019 signals the loggerFactory.AddAzureWebAppDiagnostics(); is obsolete, however I couldn't get it working without adding it, luckily by following this recent S/O post: https://stackoverflow.com/questions/58269169/microsoft-extensions-logging-azureappservices-not-showing-up-in-azure-lo

[2019-10-08 17:47] guardrex commented on #14566
For example, something along the lines of (if this is even correct; haven't tested it yet) ...

[2019-10-08 17:52] guardrex commented on #14566
@halter73 Let's discuss this further on the PR. I think I'm close to something that will work there.

[2019-10-08 17:53] #14910 closed

[2019-10-08 18:06] guardrex commented on #14924
ping @glennc

[2019-10-08 18:07] CeciAc opened #14927 "Chinese version copy error"
The comment below was machine trasnlated

@yomunsam commented on [Tue Oct 08 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/201)

"The name of the component must begin with an uppercase character. For example, MyCoolComponent is valid and MyCoolComponent is invalid."

The second "MyCoolComponent" in the English version is "myCoolComponent"

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft

[2019-10-08 18:11] #14927 closed

[2019-10-08 18:11] CeciAc commented on #14927
Please, disregard this issue

[2019-10-08 18:18] guardrex commented on #14927
@CeciAc If there's another way that we can word that to make it translate better (if that's the problem), let me know. I'm not married to that exact expression if it doesn't translate into Chinese well.

[2019-10-08 18:24] CeciAc commented on #14927
Hi @guardrex
no problem, I though so at first but it looks like it can easily be fixed at our end
I just sent it to the linguist :)

[2019-10-08 18:25] guardrex commented on #14927
ok cool ... thx @CeciAc ... hit me up if they suggest a better way to say that.

[2019-10-08 18:41] #14896 closed

[2019-10-08 19:02] Kaelum opened #14928 "CreateDefaultBuilder & ConfigureWebHost/ConfigureWebHostDefaults are broken"
Host.CreateDefaultBuilder(args)
    .ConfigureWebHostDefaults(webBuilder =&gt;
    {
        webBuilder.UseStartup&lt;**Startup**&gt;();
    });

The above code is being using in multiple places, but it fails if the **StartUp** class constructor contains anything other than "IConfiguration configuration".  If you don't use the "Host.CreateDefaultBuilder()", and instead start with a WebHostBuilder

[2019-10-08 19:23] stephenlautier commented on #9882
Now using .netcore 3.0 it seems that SSR is not a thing in aspnet? or am i wrong?

![image](https://user-images.githubusercontent.com/3908723/66426232-b1369a00-ea11-11e9-9920-fa0337a06c7f.png)

[2019-10-08 19:23] guardrex commented on #14928
That's correct. That's the new 3.0 behavior. See :point_right: https://github.com/aspnet/Announcements/issues/353.

Inject your logger directly into `Startup.Configure` ...

https://docs.microsoft.com/aspnet/core/fundamentals/logging/#create-logs-in-the-startup-class

If you need it in `Startup.ConfigureServices`, call `GetRequiredService` for an instance ...

[code]

[2019-10-08 19:23] #14928 closed

[2019-10-08 19:42] bluebaroncanada opened #14930 "Obtaining the DB service from a test causes an error since 3.0"
Before you used to be able to grab the DB service like so:
[code]
Now you have to:
[code]
That causes an error on that line:
[code]
Which can be solved by commenting out in the Startup.cs of the main project:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77889d43-fedb-f8b4-8fea-379ec946555c
* Version Independen

[2019-10-08 20:00] Kaelum commented on #14928
For those who see this after the issue was closed, here is a link to the thread where they try to defend this change, but fail miserably:

[[Announcement] Generic Host restricts Startup constructor injection](https://github.com/aspnet/AspNetCore/issues/9337)

If you are using NLog, you can use the following line as a work-around for this ridiculous issue:

			Logger = LogManager.GetCurrentClassLog

[2019-10-08 20:19] steveoh commented on #14899
@Rick-Anderson no I did not see that folder. Is that linked to in the samples or is that something I should be able to find by convention?

I am using vscode right now.

@scottaddie thanks for the nuget package link and explaination.

Do you think it is a good idea to use items outside of the shared framework in the samples? I don't have an opinion really, but I figured it is a good question.

[2019-10-08 20:21] serpent5 opened #14931 "Update sample to exercise VerifyName"
The sample project doesn't include a View for exercising the `VerifyName` action, which demonstrates the use of `[Remote(...)]` with additional fields.

cc @Rick-Anderson

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0156ffc3-47ac-d5da-fbc2-9ff5018b071b
* Version Independent ID: 615db388-a244-41f7-21b5-a4085d9ed479
*

[2019-10-08 21:11] #14923 closed

[2019-10-08 21:17] xCyborg opened #14933 "Provide Blazer tutorial example scenes."
In this page there are a couple of starter Blazor example but there is no complete file code or the whole example, so this would be a nice addition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e7dc3c-54c4-35de-203e-d230869e8417
* Version Independent ID: dc5b52d5-c8c6-1440-6b3a-fda898167d0c
* Content: [Build your f

[2019-10-08 21:20] wadepickett commented on #13919
@bradygaster ,  no worries.  Its all good, and thanks for your help.  I am no longer in this tutorial.  Everything updated that I came to do.

[2019-10-08 21:21] guardrex commented on #14933
It was done on purpose due to high churn in engineering. This whole topic is due for an overhaul, so we won't be providing such a sample at this time.

[2019-10-08 21:21] #14933 closed

[2019-10-08 22:17] gojanpaolo opened #14934 "Is there a limitation for in-process when the project has WCF Connected Service?"
We're getting the following error when our ASP.NET Core 3 In-process project has a WCF connected service in it.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe69b3a9-896f-e189-0c2c-f87ff735df9c
* Version Independent ID: 97c8549b-66ad-0a23-1971-784fb923042a
* Content: [ASP.NET Core Module](https://docs.microso

[2019-10-08 22:52] #14931 closed

[2019-10-08 23:17] robinwilson16 commented on #14862
Thanks, I have ended up re-writing them all as stored procedures which I think is better for debugging too as lots of them had issues so everything is working now (well aside from some other migration issues I still need to work out resolutions for).

[2019-10-08 23:45] stephenlautier commented on #9882
@blogcraft for anyone who needs I had just updated my sample https://github.com/sketch7/dotnet-ngx-sample

- using **angular 8.2.9**
- netcore 3/also [netcore 2.2](https://github.com/sketch7/dotnet-ngx-sample/tree/ng8-netcore2.2)

Unfortunately, I haven't seen @joshberry example before now - but its very similar to his

NOTE: theres a bit of a hack inorder for it to work, as latest angular doesnt

[2019-10-09 00:29] #14817 closed

[2019-10-09 02:09] scottaddie commented on #14899
@steveoh In most apps, you will use components that aren't provided in the ASP.NET Core shared framework. Common examples of such components include Entity Framework Core, Json.NET, and social auth APIs (Twitter, Facebook, etc.).

[2019-10-09 02:52] Rick-Anderson commented on #14899
@steveoh  see https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#add-package-references-for-removed-assemblies

[2019-10-09 02:52] #14899 closed

[2019-10-09 02:59] Tobolov opened #14938 "Duplicate Heading + content"
The heading 'The Dockerfile' along with its content is repeated twice (In succession).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3653642e-61ef-717b-5436-9bd0a3c4e6f4
* Version Independent ID: 80c1ce51-46fb-0693-525a-7cad37150c7b
* Content: [Docker images for ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/co

[2019-10-09 03:26] #14938 closed

[2019-10-09 03:29] Rick-Anderson commented on #14938
@Tobolov  thanks for bringing this to our attention. Fix should be  visible in a few minutes.

[2019-10-09 05:58] #14633 closed

[2019-10-09 06:32] zhou881117 commented on #14593
how to run app-parts  correct  .net core 3.0?
this is my question.

the demo dosen't not work well for .net core 3.0
https://github.com/aspnet/AspNetCore.Docs/tree/5bbb2f5c459cf9bcc1159278a52555cc0f4bb3f6/aspnetcore/mvc/advanced/app-parts
@guardrex

[2019-10-09 06:57] Yanal-Yves commented on #14251
@blowdart, @cjblomqvist - I guess your are talking about [defaulting samesite=lax as default](https://www.chromestatus.com/feature/5088147346030592) starting from Chrome 76. I am not sure how defaulting to samesite=lax for cookies on Chrome could break safari. Are you refering to the [wierd implementation of samesite=lax of Safari](https://news.ycombinator.com/item?id=19855476) ?

I feel this doc

[2019-10-09 07:57] Structed commented on #14910
Thanks for the quick fix!

[2019-10-09 08:34] Structed commented on #9239
Please also explain what "data tokens" are. These are casually mentioned and the reader is supposed to know what this is.

[2019-10-09 11:21] gojanpaolo commented on #14934
Issue was with servicemodel dll

[2019-10-09 11:21] #14934 closed

[2019-10-09 11:29] #13344 closed

[2019-10-09 11:29] #14796 closed

[2019-10-09 11:29] #14864 closed

[2019-10-09 11:56] owlyowl opened #14941 "Setting Up SQL Server tables instead of SQLLite for the new .net core SPA Auth example"
**Help us make content visible**
I googled around for .net core react authentication jwt and came across: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.0#feedback

It's a super handy starter but when actually looking in to implementing and running up the test project I'd love to know if there's a quick way to have the CreateIdenti

[2019-10-09 12:33] guardrex commented on #14800
From @zhou881117 ...

@zhou881117 Good question. I don't know if these are related issues or if that sample breaking is a new issue.

They both pertain to `RazorViewEngineOptions` changes for 3.0. Even if they are not directly related, they might be worked together because they both pertain to the options changes for Razor for 3.0.

I'll let Rick look because this isn't an area that I specialize i

[2019-10-09 13:12] wildough57 opened #14942 "This page doesn't render correctly using Microsoft Edge"
This page doesn't render correctly using Microsoft Edge

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 532d66a6-fa01-54d3-1dfa-20d1889668bb
* Version Independent ID: 6489c522-2148-e39a-92cc-6f631c065422
* Content: [Get started with the Data Protection APIs in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/s

[2019-10-09 13:34] Legends opened #14943 "WriteAsync should really be async and use await instead of return"
**The corrected code of RoutingSample project:**

I guess the page references this code too, cause same thing on the docs page.

[code]
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32374077-e02e-d6a6-1cea-05e58447b7cd
* Version Independent ID: 86aeab13-1c25-9fc1-4e56-0390cb40c242
* Content: [Routing in ASP.NET Core](https

[2019-10-09 14:12] vanillajonathan commented on #6882
I tried a few solutions mentioned in this and other threads but was unable to get anything to work. Perhaps some things have changed and no longer work with ASP.NET Core 3.0. I solved it by creating a fake `AuthenticationHandler`.

[code]

I create a fake `AuthenticationHandler`.

[code]

[2019-10-09 14:14] vanillajonathan commented on #6882
I tried a few solutions mentioned in this and other threads but was unable to get anything to work. Perhaps some things have changed and no longer work with ASP.NET Core 3.0. I solved it by creating a fake `AuthenticationHandler`.

[code]

This is my fake `AuthenticationHandler`.

[code]

[2019-10-09 14:24] vanillajonathan commented on #9957
Instead of replacing the Authentication/Identity related middlewares in the integration tests you can add a fake [`AuthenticationHandler`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.authenticationhandler-1) that gets configured by the WebHostBuilder in the [`WebApplicationFactory`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.testing.web

[2019-10-09 14:35] inatlewski opened #14944 "Role configuration in ConfigureServices method"
I think there is an error in the example in the "Add Role services to Identity" section.
I had to change role configuration in ConfigureServices method from:
[code]
to:
[code]
Otherwise, a user's role was accessible using RoleManager<IdentityRole>, but it was not possible using AuthorizeAttribute on a controller level.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-10-09 14:57] serpent5 commented on #14913
FYI, this is described in the docs: https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-3.0#regions-in-sample-code.

[2019-10-09 14:57] guardrex commented on #14942
Hello @wildough57 ... open this over at :point_right: https://github.com/MicrosoftDocs/feedback/issues

[2019-10-09 15:00] guardrex commented on #14913
Thanks @serpent5 ... and I'll patch that `WebHost` example for 3.0.

[2019-10-09 15:00] guardrex commented on #14913
Nevermind ... already scheduled for work. https://github.com/aspnet/AspNetCore.Docs/issues/12958

[2019-10-09 15:17] CtrlAltNoot opened #14945 "Add BEFORELocationChanged event to NavigationManager?"
I would VERY much find it useful to have the ability to catch navigation BEFORE it happens to be able to fire off things like validation. For example, I have a page with over 100 fields, and I want to be able to fire off Service.ChangeTracker.HasChanges() from EF Core, but if I do it in the LocationChanged event nothing actually comes of it since the page changes before that event is fired.

[2019-10-09 15:31] datvm opened #14946 "No Razor Class Library in Visual Studio"
I chose "ASP.NET Core Web Application" as project type, named the project but in the list there is no Class Library (ASP.NET Core 3.0 is selected):

![](https://i.imgur.com/EWQhRWZ.png)

There is also a project type named "Razor Class Library" but it creates a Blazor library. I am having latest VS 16.4 Preview 1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-10-09 15:35] datvm commented on #14946
I think I have found it. It's hidden here:

![image](https://user-images.githubusercontent.com/6388546/66496388-0b545f80-eae5-11e9-9120-6864a4e1028c.png)

So the content is no longer correct. I needed to pick Razor Class Library project type (not ASP.NET Core Web Application) and need to check the box on the above screenshot.

[2019-10-09 15:44] wildough57 commented on #14942
I took the time to give you the Feedback your organization asked for.  If your webshite routed me to the wrong place, why TF do I need to fix that?On Oct 9, 2019 10:59 AM, Luke Latham <notifications@github.com> wrote:Hello @wildough57 ... open this over at 👉 https://github.com/MicrosoftDocs/feedback/issues

—You are receiving this because you were mentioned.Reply to this email directly, view it on

[2019-10-09 15:56] InDieTasten commented on #13451
I've done a little bit of integration testing in the past, including full authentication, but not using the default asp.net core identity as a backing store. It's been working for me, so either I've managed to do something nearly impossible, or things have changed. I can fully imagine how the in-memory vs SQL server database might have broken in recent updates as well.

This definitely needs to be

[2019-10-09 15:59] guardrex commented on #14942
I understand your frustration, but we're very compartmentalized here. That's a whole different group of cats with their own repo. We redirect readers all the time here. Engineering problems go to the engineering repo ... doc build system problems go to the docs engineers ... Azure problems to Azure repo ... you get the picture. We don't work on the build system here ... just the docs content.

Any

[2019-10-09 16:57] wildough57 commented on #14942
Hi Luke,
I can see that compartmentalization every day and you do have my sympathy.  If the word "organization" can be applied at all, it is of the Byzantine variety.  I see discussions where the participants are so anxious to point the finger at another group and close the threads that even the internal participants get annoyed.
I clicked the page feedback button.  If that goes to the wrong place

[2019-10-09 17:09] guardrex commented on #14942
I didn't get the snip, but no worries ... I'll just open it and tell them that the yellow line highlighting isn't working in Edge and cross-link back to this issue. If they end up requiring a screenshot, they'll ping u here.

........ and yes, indeed on the version ... they may ask you later about your Edge version ... btw ... that's under **Settings** > **General** at the very bottom of the panel

[2019-10-09 17:22] boaterdan commented on #6882
When I was trying to make this work I found various variations of replacing middleware parts, along the lines of @vanillajonathan solution.  To me this is just not what I'm after, as I'm specifically trying to do integration testing of the authentication process.  If I visit a secured page anonymously I should receive a redirect to the login page, for example.  Or testing visiting a secured page w

[2019-10-09 17:22] wildough57 commented on #14942
Sending the screen shot again.  Filename is Capture.PNG (very original).
Also trying simple paste.

    On ‎Wednesday‎, ‎October‎ ‎9‎, ‎2019‎ ‎01‎:‎09‎:‎55‎ ‎PM‎ ‎EDT, Luke Latham <notifications@github.com> wrote:

I didn't get the snip, but no worries ... I'll just open it and tell them that the yellow line highlighting isn't working in Edge and cross-link back to this issue. If they end up requi

[2019-10-09 17:23] guardrex commented on #14942
Try dragging the image file into the GH comment box.

[2019-10-09 17:27] VictorioBerra commented on #6882
I am really surprised they didn't improve the extensibility of all this in Core 3. This is obviously a massive shortcoming of the TestServer/Host.

[2019-10-09 17:46] ahaija-dev commented on #9344
Any updates on this?

[2019-10-09 17:48] vanillajonathan commented on #6882
@boaterdan, the AuthenticationHandler only gets inserted on the unit tests that call the private `BuildAuthenticatedClient` method. So you have your unit tests consist of a mix of methods are authenticated and non-authenticated in order to test redirects and such.

[2019-10-09 17:51] Energised opened #14947 "Scaffold Movie Pages"
Under the code example for Visual Studio Code, the dotnet command is missing a dash. The command should be:

`dotnet-aspnet-codegenerator controller -name MoviesController -m Movie -dc MvcMovieContext --relativeFolderPath Controllers --useDefaultLayout --referenceScriptLibraries`

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-09 19:59] yshahin opened #14949 "CertificateAuthenticationDefaults.AuthenticationScheme"
I can't find this "CertificateAuthenticationDefaults.AuthenticationScheme" anywhere.
It is not part of Microsoft.AspNetCore.Authentication and there is no reference in the documentation on how to access it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b7960d-6de5-78ee-bc45-d7218239bbc8
* Version Independent ID: d2d

[2019-10-09 20:17] blowdart commented on #14949
Like all the other option classes it's in the name space for the auth type;

https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authentication/Certificate/src/CertificateAuthenticationOptions.cs

[code]

[2019-10-09 20:20] serpent5 commented on #13625
@Rick-Anderson What needs doing here? I see a merged PR but no real information about what's still left to do.

[2019-10-09 20:23] serpent5 commented on #12958
@Rick-Anderson Can I help with this? If yes, what needs doing. I see the following possibilities:

- Mention and link to gRPC
- Add Blazor and gRPC to the learning path options under "Follow a tutorial..."
- Update the sample snippet under "Regions in sample code" to either:
 - Use `Host`.
 - Be simpler

[2019-10-09 20:32] guardrex commented on #14949
@yshahin There's a delay on getting that namespace (a 3.0 scenario) into the [API docs](https://docs.microsoft.com/dotnet/api/). I think that they're working on it, but I haven't heard an ETA.

[2019-10-09 20:36] #14942 closed

[2019-10-09 20:36] Legends commented on #12840
`env.IsDevelopment()` is not anymore in v3.0

[2019-10-09 20:36] guardrex commented on #14942
Opened at https://github.com/MicrosoftDocs/feedback/issues/2016 for investigation.

[2019-10-09 21:13] #14605 closed

[2019-10-09 21:41] davinakano opened #14952 "opt.UseInMemoryDatabase("TodoList") does not exist"
Hi there :wave: ! Beginner here, trying to follow the tutorial.

In "Register The Database Context" section, the method "UseInMemoryDatabase" does not seem to exist / can't be resolved. Did the method change, by any chance?

Ref https://docs.microsoft.com/en-ca/aspnet/core/tutorials/first-web-api?view=aspnetcore-3.0&tabs=visual-studio#register-the-database-context

---
#### Document details

⚠ *Do

[2019-10-09 21:43] nickalbrecht commented on #12285
Just noticed the "Master issue" that originally referenced the issue this came from got closed, glad that these are still being looked at/considered though. I haven't forgotten about it, and look forward to documentation enhancements covering uploads!

[2019-10-09 21:46] guardrex commented on #12285
@nickalbrecht The last round went in today on https://github.com/aspnet/AspNetCore.Docs/pull/14770, and those updates are live now, which include a 3.0 sample.

[2019-10-09 21:46] guardrex commented on #12285
Additional possible updates are being collected on ... https://github.com/aspnet/AspNetCore.Docs/issues/12285

[2019-10-09 21:57] kmkivist commented on #14952
Addition to Microsoft.EntityFrameworkCore.SqlServer you also need to install Microsoft.EntityFrameworkCore.InMemory Nuget package. It's missing in tutorial.

[2019-10-09 22:01] Legends commented on #12840
Just to add my opinion about the `ErrorHandling` sample code:
It kinda su...

// StatusCodePages
// StatusCodePagesWithLambda
// StatusCodePagesWithFormatString
// StatusCodePagesWithRedirect
// StatusCodePagesWithReExecute
// ErrorHandlerPage
// ErrorHandlerLambda
// ProdEnvironment or DevEnvironment
//
// The ErrorHandler directives must be used along with the ProdEnvironment directive.
// The D

[2019-10-09 22:04] guardrex opened #14953 "Apply code fencing to Router element"
Line 82

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79da574a-570f-04eb-86bd-c8065a016f44
* Version Independent ID: ac771374-6102-b838-57d2-e99bcf3f7d3e
* Content: [ASP.NET Core Blazor routing](https://docs.microsoft.com/en-us/aspnet/core/blazor/routing?view=aspnetcore-3.0)
* Content Source: [aspnetcore/blazor/routin

[2019-10-09 22:07] Rick-Anderson commented on #14943
[code]

[2019-10-09 22:07] Rick-Anderson commented on #14943
@rynowak please review or assign review

[2019-10-09 22:08] #14953 closed

[2019-10-09 22:09] Rick-Anderson commented on #14944
@HaoK  please review

[2019-10-09 22:15] HaoK commented on #14944
Hrm, that seems odd, I will take a deeper look in case this is a product bug

[2019-10-09 22:16] HaoK commented on #14944
@inatlewski what version of ASP.NET Core are you using?

[2019-10-09 22:21] serpent5 commented on #14943
I think this is just a case of [Eliding Async and Await](https://blog.stephencleary.com/2016/12/eliding-async-await.html).

[2019-10-09 22:42] davinakano commented on #14952
Thank you so much @kmkivist ! That made the trick. Hopefully that will be added to the tutorial!

[2019-10-09 22:49] Rick-Anderson commented on #14952
That's in the instructions

Use the preceding instructions to add the `Microsoft.EntityFrameworkCore.InMemory` NuGet package.

[2019-10-09 22:49] #14952 closed

[2019-10-09 22:53] davinakano commented on #14952
@Rick-Anderson

Thank you for the reply! You are correct, it is in the instructions for Visual Studio Code.

However, it is missing from Visual Studio 2019 instructions. Is the recommended way to use Visual Studio Code instead?

[2019-10-09 22:57] Rick-Anderson commented on #14952
It's not missing,
Use the preceding instructions to add the `Microsoft.EntityFrameworkCore.InMemory` NuGet package.

[2019-10-09 22:59] davinakano commented on #14952
Oh, that's correct. My bad, I missed that line. Thank you for taking the care and sorry for that!

[2019-10-09 23:01] Rick-Anderson commented on #14942
@ wildough57  can you supply an image of what's not rendering correctly?

[2019-10-09 23:03] Rick-Anderson commented on #14942
@wildough57 you can reply from email with a screen shot, you need to select the GitHub link at the bottom of the email and paste the screen shot here.

We've spent alot of time reviewing your complaint be we can't find a problem.

[2019-10-09 23:06] Rick-Anderson commented on #12958
@serpent5  I like your outline. That would be great if you could PR this.

[2019-10-09 23:08] Rick-Anderson commented on #14803
@wadepickett  update the queries at that top and add `-assignee:wadepickett`  and the rest of the team. That will really narrow down the issues.

[2019-10-09 23:11] Rick-Anderson commented on #13625
@serpent5  looks like it's showing code for `<option value="">--none--</option>`

[2019-10-09 23:11] #13625 closed

[2019-10-09 23:23] Rick-Anderson commented on #14947
That's not correct. Try
`dotnet aspnet-codegenerator --help`

[2019-10-09 23:23] #14947 closed

[2019-10-09 23:39] t-dong opened #14957 "Run dotnet aspnet-codegenerator razorpage -m Movie -dc RazorPagesMovieContext -udl -outDir Pages\Movies --referenceScriptLibraries failed"
When I run
dotnet aspnet-codegenerator razorpage -m Movie -dc RazorPagesMovieContext -udl -outDir Pages\Movies --referenceScriptLibraries

I got error
PS D:\work\testing\RazorPagesMovie&gt; dotnet aspnet-codegenerator razorpage -m Movie -dc RazorPagesMovieContext -udl -outDir Pages\Movies --referenceScriptLibraries
Building project ...
Scaffolding failed.
Please add Microsoft.VisualStudio.Web.Code

[2019-10-09 23:44] Rick-Anderson commented on #14810
@BrennanConroy  @bradygaster  please review

[2019-10-09 23:47] #14957 closed

[2019-10-10 00:28] Rick-Anderson commented on #14941
@owlyowl  Sorry but we don't have such a sample.

[2019-10-10 00:28] #14941 closed

[2019-10-10 00:34] Rick-Anderson commented on #14949
If we get more hits on this, we'll add it to the doc. Hopefully it will be easy to figure out once the 3.0 API docs are published.

[2019-10-10 00:35] mairaw commented on #14942
I think you meant they **can't** reply via e-mail with attachments.

[2019-10-10 00:36] Rick-Anderson commented on #14945
@CtrlAltNoot  you might want to request that in the EF repo.

[2019-10-10 00:36] #14945 closed

[2019-10-10 00:38] Rick-Anderson commented on #14803
@wadepickett  are we required to use P labels, ie, P1, P2, etc?

[2019-10-10 00:39] Rick-Anderson commented on #14911
@rynowak  Do you want a repo of this 3.0 routing problem?

[2019-10-10 00:45] #14911 closed

[2019-10-10 00:45] Rick-Anderson commented on #14911
@mrAshpool  thanks for reporting this. Moved to https://github.com/aspnet/AspNetCore/issues/14869

They might want the simplest possible repo.

[2019-10-10 00:52] Rick-Anderson opened #14959 "gRPC label"
Do we want a `gPRC` label for issues like we have for `SignalR`?

We could have a bot apply it for all gRPC docs.

cc @scottaddie  @BrennanConroy @JamesNK @JunTaoLuo

[2019-10-10 01:01] mikedcooper opened #14960 "This does not seem to work for my project."
I Added
services.AddControllersWithViews().AddRazorRuntimeCompilation();
and added the nuget package.

I am using Core 3.0 in an asp.net mvc application while trialling a Blazor component.
If I change a class on an element in a cshtml file, save and refresh the page in the browser nothing changes.  If I pause the application, make the change, then run the application I see the message applying cha

[2019-10-10 01:14] Rick-Anderson commented on #14960
Dup of #14800

[2019-10-10 01:14] #14960 closed

[2019-10-10 01:14] Rick-Anderson commented on #14800
See #14960

[2019-10-10 02:38] whitekn3 opened #14961 "Confusing statement about Database.Migrate."
Text has "A production app would not call Database.Migrate. It's added to the preceding code to prevent the following exception when Update-Database has not been run:"  But the tutorial, nor the code to this point from previous sections, does not have Database.Migrate anywhere.  Why the comment?  I don't think it is needed as a previous section instructs the user to run the command Update-Database

[2019-10-10 03:03] khteh opened #14962 "How to build / get TestServer from WebApplicationFactory<Startup>?"
In 2.2, we can construct TestServer from WebApplicationFactory this way:
[code]
Since WebHostBuilder is going to be deprecated, how to build the TestServer in 3.0?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76f39eec-9dd1-6167-56ec-47b26e0b5063
* Version Independent ID: f9f2b0f3-01eb-cf58-8767-194fe0fc0e44
* Content

[2019-10-10 04:01] Rick-Anderson commented on #14962
@javiercn  please respond

[2019-10-10 04:41] Rick-Anderson opened #14966 "Use contoso"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9599d917-4e43-f1ae-452a-1f11aaa985ed
* Version Independent ID: 5cc05b6c-c671-3607-3217-7db73ebc1f28
* Content: [ASP.NET Core Performance Best Practices](https://docs.microsoft.com/en-us/aspnet/core/performance/performance-best-practices?view=aspnetcore-3.0#performance-an

[2019-10-10 04:50] #14966 closed

[2019-10-10 05:06] maheshsabnis opened #14968 "The ASP.NET Core Azure API App Service Deployment"
I was trying to deploy ASP.NET Core 3.0 Application as Azure API App Service. Surprisingly I faced following error

---
![ASPNET-Core_30_Publish_Issue](https://user-images.githubusercontent.com/5309850/66540464-83547100-eb49-11e9-94df-2aa774f27ecd.PNG)

Even after trying the extension for ASP.NET Core 3.0, there was no luck. Finally I dockerized it in local environment to demonstration. Hope this

[2019-10-10 07:31] ccic opened #14969 "Is it possible to push a streaming from server to client through IHubContext?"
If I want to implement the scenario of sending streaming from one client to another client, how can I do this?

One client sends streaming to server, and server forward the streaming to another client.  Can I use Clients.Client(connectionId).SendAsync(ChannelReader&lt;&gt;); to send the streaming? I found it does not work for me.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-10-10 07:48] MSchreijen opened #14970 "Broken page?"
Page doesnt show any content/tutorial...?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ad06677-5842-c1aa-153f-7993a9660dfa
* Version Independent ID: 8daf79df-eac4-358b-e6f0-6def45bd54da
* Content: [Tutorial: Get started with EF Core in an ASP.NET MVC web app](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/

[2019-10-10 07:52] Legends commented on #14943
Why was this closed? Something wrong?

[2019-10-10 07:56] Structed opened #14971 "Clarification on warning regarding / in FromRoute"
In the section [Binding source parameter inference](https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-3.0#binding-source-parameter-inference) you mention:

What are the implications, if there is `%2f` in there? will it just not be parsed correctly, or does it have security implications?
Please clarify this in the text.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-10-10 08:23] javiercn commented on #14962
There is a `factory.TestServer` property you can use, that hasn't changed.

[2019-10-10 08:27] shanchin2k commented on #12437
I need to allow my test environment API's accessed by using different policies. Normal users to use a B2C based SignIn policy, and the automated tests under DevOps pipeline uses ROPC based sign in policy. So, both the tokens are issued by B2C but with different policies.

But even if the token is issued by ROPC policy, it is going to default SignIn policy based validations. Any idea how to make th

[2019-10-10 08:48] shashikantx opened #14972 "Instance method call section is overly complex."
It could at least have showed how to call methods from same component which doesn't take more than ten lines, which I consider is very common scenario. Calling a method from calling component after a promise is completed to show progress or maybe result. which are not possible by static methods.

But, It goes beyond that and shows how to call methods from different instances created later.

that s

[2019-10-10 09:16] javiercn opened #14973 "[Dependency injection] Include a topic about how the service collection works"
* We get many issues related to how to override different things for integration tests.
* All of these questions are never related to our integration testing support but about how DI works and how to effectively replace services for testing.
* This requires a proper understanding of the semantics of the service collection and how the service provider is built.
* There are no docs for it on the off

[2019-10-10 09:23] khteh commented on #14962
I mean the services added into the DI for use by the TestServer. I remeber I used the `TestServer` from `WebApplicationFactory` but lack of the services required and that's how I ended up `new TestServer(webHostBuilder)` and used that.

[2019-10-10 09:39] javiercn opened #14974 "[SignalR][Blazor] HttpContext and IHttpContextAccessor"
Provide a doc section on the SignalR docs that provides guidance on the usage of `HttpContext `and that discourages using `IHttpContextAccessor `within SignalR.

Indicate that the `HttpContext `instance might not even exist and that it is dependent on the transport. (For example, websockets gets a single context that is the result of the initial handshake, long polling gets a new context per clien

[2019-10-10 09:44] javiercn commented on #14962
`(TestServer)factory.Services.GetRequiredService<IServer>()`

[2019-10-10 10:57] guardrex commented on #14968
The 3.0 rollout in Azure is in progress. Keep an eye on https://aspnetcoreon.azurewebsites.net/.

[2019-10-10 10:57] #14968 closed

[2019-10-10 11:27] #14970 closed

[2019-10-10 12:41] boaterdan commented on #6882
Yes @vanillajonathan I can test that I get a redirect when I'm supposed to - meaning when access is declined.  But my point is that doesn't test that access is declined when it's supposed to.  A couple of unit tests can confirm the mechanism for the first part works, but every page must be tested "for real" for the second one, so the authentication/authorization stack used live has to be intact.

[2019-10-10 13:30] acordmike opened #14976 "Incorrectly state IAsyncEnumerable<T> instead of IEnumerable<T>"
In line "In ASP.NET Core 2.2 and earlier, returning IAsyncEnumerable&lt;T&gt; from an action results in synchronous collection iteration by the serializer." , the documentation mistakenly lists IAsyncEnumerable&lt;T&gt; as synchronous and available in ASP.NET Core 2.2. This should read IEnumerable&lt;T&gt; instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-10-10 13:49] inatlewski commented on #14944
@hexiaokai , the newest one: 3.0.100

[2019-10-10 14:14] natenho opened #14977 "Is that right? AddScoped<IMyDep>(new MyDep())"
The topic shows this example:

But it seems to make no sense having a scoped or transient object constructed like that. In fact, I could not find any overload directly receiving an instance in `AddScoped` and `AddTransient` methods. I wonder if I missed something or it's a documentation error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-10-10 14:45] guardrex commented on #14977
This was [reviewed and signed off by engineering (aspnet/AspNetCore.Docs \#13209)](https://github.com/aspnet/AspNetCore.Docs/pull/13209) ... actually, one of the finest software engineers on the blue-green dot 🌎 imo.

I think it's fine. We don't want to re-ping engineering when they've signed off already. 🏃😅 If you want to discuss it further tho, open a Stack Overflow question or hit up the devs o

[2019-10-10 15:07] eddynaka opened #14979 "ReadToEndAsync Snippet is wrong"
The code in snippet 2 is missing a line to read the streamReader

[2019-10-10 15:45] guardrex commented on #14979
@Rick-Anderson I mapped it to you given that you'll do the approval of the PR.

[2019-10-10 15:46] BrennanConroy commented on #14969
Currently this is possible to handle yourself in a single server scenario. Take a look at [this sample](https://github.com/SignalR/sample-StreamR) to see how we forward streams.

There is an [issue filed](https://github.com/aspnet/AspNetCore/issues/10151) for sending streams to specific clients. Closing this as we have that tracking issue.

[2019-10-10 15:46] #14969 closed

[2019-10-10 16:06] idg10 opened #14981 "Inaccurate description of GoodStreamReaderController example"
In the *performance-and-reliability* section, there's an example preceded by this description:

&gt; "The following example uses ReadToEndAsync and does not block the thread while reading."

But the example appears not to do this. In fact it calls `JsonSerializer.DeserializeAsync`. As far as I can tell from the source, it doesn't use `ReadToEndAsync`.

(The warning that it reads the whole request

[2019-10-10 16:52] nickalbrecht commented on #12285
Good to know. I do think it's important to get some sort of documentation for theses items, some more than others. So I just want to make sure they are not dropped as things not having a high enough ROI for time spent getting them going, or something like that.

Actually, most of theses were carried over multiple times from comment you'd put on https://github.com/aspnet/AspNetCore.Docs/issues/4777

[2019-10-10 17:02] wildough57 commented on #14942
Yeah, already tried that several times.  Besides, all that you would see is what I've already described.
Seems that my issue is only when viewing the page remotely using RDP.
It appears to be systemic because I've subsequently experienced the same thing on other pages.
Not an issue with Chrome or IE 11.  Also, sometimes I'll switch to a different window and then come back to Edge and I can see the

[2019-10-10 17:17] #14962 closed

[2019-10-10 17:44] #14810 closed

[2019-10-10 17:45] Rick-Anderson commented on #14979
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2019-10-10 18:36] scottaddie commented on #14959
It's really easy. I'll take care of it today.

[2019-10-10 18:45] #14959 closed

[2019-10-10 18:58] scottaddie commented on #14959
All gRPC issues can be found at: https://github.com/aspnet/AspNetCore.Docs/issues?utf8=✓&q=is%3Aissue+sort%3Aupdated-desc+label%3AgRPC+

[2019-10-10 18:58] #14585 closed

[2019-10-10 19:01] JamesNK commented on #14095
Was fixed with https://github.com/aspnet/AspNetCore.Docs/pull/14523

[2019-10-10 19:01] #14095 closed

[2019-10-10 19:28] eddynaka opened #14990 "ReadToEndAsync Snippet is wrong"
[EDIT by guardrex to add the issue]

Fixes #14979

the ReadToEndAsync snippet (the good one) is using the wrong code to do that. It should be using StreamReader -&gt; ReadToEndAsync, then converting to the object.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9599d917-4e43-f1ae-452a-1f11aaa985ed
* Version Independent

[2019-10-10 19:29] eddynaka commented on #14990
@Rick-Anderson the new one

[2019-10-10 19:32] guardrex commented on #14979
@eddynaka Note that these close automatically when they're linked to the PR with `Fixes {ISSUE NUMBER}` syntax on the PR.

[2019-10-10 20:17] wadepickett commented on #14803
@Rick-Anderson, good question.  Priority labeling is not required as the minimum for an issue to be initially triaged.   Great to have them of course when we can, NOT required.

[2019-10-10 20:24] #14979 closed

[2019-10-10 20:26] #14990 closed

[2019-10-10 20:40] Rick-Anderson commented on #14942
@wildough57  you keep replying by email, you need to post the image here.

[2019-10-10 20:43] #14087 closed

[2019-10-10 20:44] #14961 closed

[2019-10-10 20:58] #14641 closed

[2019-10-10 21:21] daveyostcom opened #14992 "no solution file"
On Mac, following the instructions, I did
[code]
This page then says:
- From Visual Studio, select File &gt; Open, and then select the GrpcGreeter.sln file.

but there is not *.sln file anywhere in the GrpcGreeter folder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d298a6c-8ddc-dbc8-d219-0fa7138442c2
* Version Inde

[2019-10-10 21:38] wadepickett commented on #14803
@Rick-Anderson, sorry, I thought the query was good as is so I left it as is and noted that to you.  However, looking back I realized code-of-conduct was missing.  I updated the query link.  It does not change the overall number of issues to triage anyway, but sorry I missed it just the same.

In the original description I also made a note about these three:
-label:doc-provided -label:doc-idea -la

[2019-10-10 22:03] guardrex commented on #14992
It should say to select the project file (.csproj). Thanks for reporting this.

[2019-10-10 23:27] #14992 closed

[2019-10-10 23:56] #12958 closed

[2019-10-11 00:13] Rick-Anderson commented on #14981
@halter73  @jkotalik please review

[2019-10-11 00:16] Rick-Anderson commented on #14974
@BrennanConroy @bradygaster  if you can get this drafted we'll help get it published. Should it go in an include so you can include it in multiple docs?

[2019-10-11 01:03] Rick-Anderson commented on #14973
@scottaddie  can you make this a priority?

[2019-10-11 01:05] Rick-Anderson commented on #14971
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-10-11 01:05] #14971 closed

[2019-10-11 01:06] #14949 closed

[2019-10-11 02:40] halter73 commented on #14981
I don't see what the issue is.

I'm pretty sure it does. The sample immediately after the sentence "The following example uses ReadToEndAsync and does not block the thread while reading." does indeed call ReadToEndAsync().

This statement is accurate, but the doc never says the body is first loaded into a string, so there's no contradiction.

I must be missing something. Isn't this exactly what we

[2019-10-11 04:55] thassio-vinicius commented on #6357
i ran into the same problem as well. Leveling all of the apps and frameworks versions using the NuGet worked for me.

[2019-10-11 07:52] doggy8088 opened #14996 "ASP.NET Core is not only supports JSON by default"
See [Content negotiation](https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/formatting?view=aspnetcore-3.0#content-negotiation)

The ASP.NET Core actually support `text/json` and `text/plain` by default. If the action return `String` and the client doesn't send `Accept` header, the ASP.NET Core will return plain text.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-10-11 08:27] davidfowl commented on #14981
@idg10 we added a 3rd sample so this is now moot. It was fixed earlier today.

[2019-10-11 08:40] AllTaken commented on #14789
Yeah, sorry, I don't know what went wrong in my environment.

[2019-10-11 08:40] #14789 closed

[2019-10-11 08:43] shapeh opened #14998 "Add examples on Custom Route Constraints"
In this doc you include description that Custom Route Constraints can be implemented by providing something like this:

[code]

1) How do you implement `MyCustomConstraint`? - an example would be nice.
2) Similarly, an example for the `SlugifyParameterTransformer` would be gold.
3) Last thing, in the doc, you write "_The endpoint routing system doesn't support IRouter-based extensibility, includin

[2019-10-11 09:24] toblea opened #14999 "Using sub-applications"
It would be great to add some information regarding hosting multiple applications on a single server, like:
example.com/foo/
example.com/bar/
Using ProxyHTMLURLMap made it work for me for now, but I'm not sure I did it as it was supposed to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfd9a1f0-c1b6-4443-0700-4c5beaf

[2019-10-11 09:54] spanevin opened #15001 "app_offline.htm[l]"
&gt; Use PowerShell to drop app_offline.html (requires PowerShell 5 or later):

Why do we need to drop app_offline.html when we created app_offline.htm ?

Does it support both app_offline.htm and app_offline.html?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec484002-18c1-6a0d-00de-820d56f038d3
* Version Independent

[2019-10-11 10:18] guardrex commented on #15001
Hello @spanevin ... I think that's just a typo. I'll check and get back to you.

[2019-10-11 10:36] guardrex commented on #15001
Yep ... just a typo. Thanks for letting us know.

*.htm* = :smile:
*.html* = :cry:

[2019-10-11 10:40] #15001 closed

[2019-10-11 10:42] killerfrienddk opened #15003 ".AddDefaultUI(UIFramework.Bootstrap4) problem. "UIFramework" no longer exists."
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/index?view=aspnetcore-3.0&tabs=visual-studio
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/facebook-logins?view=aspnetcore-3.0
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/twitter-logins?view=aspnetcore-3.0
https://docs.microsoft.com/en-us/aspnet/core/security/au

[2019-10-11 10:48] Peter-ComCo opened #15004 "Models/SeedData.cs(13,38): error CS0246: The type or namespace name 'MvcMovieContext' could not be found (are you missing a using directive or an assembly reference?) [/home/peter/Desktop/MvcMovie/MvcMovie.csproj]"
If you are getting this error you need to add using MvcMovie.Data; in SeedData.cs class

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a4022c-7ef1-3c30-4f9d-cf521a57a44a
* Version Independent ID: a0b5e15c-d747-8710-95fb-a55c09861a1e
* Content: [Work with SQL in an ASP.NET Core MVC app](https://docs.microsoft.com/en-u

[2019-10-11 11:01] jawn opened #15005 "IOptionsMonitor doesn't have Value property"
One of the code samples access the value of an IOptionsMonitor&lt;T&gt;:

        sp.GetRequiredService&lt;IOptionsMonitor&lt;AnnotatedOptions&gt;&gt;().Value);

Since Value doesn't exist, should this be CurrentValue?

.Value access in other related samples may also be affected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-11 11:09] guardrex commented on #15005
Hello @jawn ... *yes* ... that must go all the way back to when we wrote the topic because it's also the case in a 2.x app (or perhaps it changed at 2.1-2.2 and we missed it on those updates).

I'll fix that up. Thanks for letting us know. I also see another little nit WRT the App metapackage. That sentence should be removed/changed in the >=3.0 version, so I'll square that away at the same time.

[2019-10-11 11:15] guardrex commented on #15005
Looks like `IOptionsMonitor` was a 2.2 bit, so that's where it went wrong ... when it was added for the 2.2 release.

[2019-10-11 11:29] guardrex commented on #14999
@toblea This could take a while for engineering to review. I recommend that you look at the Apache docs, blogs, Stack Overflow posts, and chat with devs on Slack and Gitter. If you get solid guidance, please feel free to comment on it here and list the source(s).

Here are those chat links in case you don't have them ...

* [ASP.NET Core Slack Team Room](http://tattoocoder.com/aspnet-slack-sign-up

[2019-10-11 11:29] Jogge opened #15007 "Error on scaffolding API controller: No parameterless constructor defined for type"
https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-3.0&tabs=visual-studio#scaffold-a-controller

This part does not work. I had to create a parameterless constructor and add this inside the dbContext:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100c

[2019-10-11 11:33] guardrex commented on #14977
From @serpent5 ...

@natenho Indeed, it is possible that it was missed in both content generation and review.

@anurse Plz put an :eye: on this one.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-2.2#service-registration-methods

... should I change that row to use `AddSingleton`?

[2019-10-11 11:36] jawn commented on #15005
Thanks. In an ideal world, all code samples would be compiled against the .NET Core version they apply to.

[2019-10-11 11:50] guardrex commented on #15005
"Ideal" being the key word there. There are just a few of us here working FT at any given time on >300 topics, >100 samples, and >500 GH issues ... *you get the picture*. 🏃😅

We *usually* catch something like this in review because the engineers have very good eyes :eyes: for our little doc code slip-ups. This is an example that isn't part of the sample app; therefore, it's only in the text of the

[2019-10-11 12:03] jawn commented on #15005
No problem, I appreciate the work and quick responses.

[2019-10-11 12:27] DaveEmmerson opened #15008 "Grammar error"
"Look for a mistakes"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fc35621-ae53-cfb5-5eb1-07aefdc5342f
* Version Independent ID: 79cb05f8-9ac0-26a8-8434-15de071160c3
* Content: [Access HttpContext in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-context?view=aspnetcore-3.0#feedback)
*

[2019-10-11 12:53] Matthew-Bonner commented on #14576
How about the official MS video where the audio is legible.
https://youtu.be/MetcuX1OHD0

[2019-10-11 14:07] MaximeMarck opened #15009 "Azure AD Authentication and long requests headers"
I experienced an issue on my asp.net core site hosted on Azure App Service when accessed behind an NGinx Proxy.

I got a 502 Bad Gateway error when trying to authenticate using Azure AD. After a few days of research I opened a ticket on the AspNet Core project (https://github.com/aspnet/AspNetCore/issues/14725) and in the end the issue was that the request headers were > 4Kb and NGINX was rejectin

[2019-10-11 14:09] guardrex commented on #15009
Thanks @MaximeMarck ... That's a great idea.

[2019-10-11 14:16] overcomer79 commented on #6882
I had this issue when I migrated to .NET Core 3.0 (from 2.2)
Finally I found the solution for my integration tests.

I Use a base class for all the tests for that category
- **In Memory DB** does not work with ConfigureTestServices extension
- **Skipping Authentication** does not work anymore with ConfigureTest

Skypping authorization example (not working anymore):
[code]

This is the solution (Hy

[2019-10-11 14:49] guardrex commented on #15008
Thanks @DaveEmmerson ... I'll fix that right up.

[2019-10-11 14:52] #15008 closed

[2019-10-11 14:52] dharnitski opened #15011 "Misspelling in URL"
There is a misspelling in one URL on the page. It uses Unix style delimeters while rest of the page uses Windows:

Replace the content of the Views\Shared_Layout.cshtml file with the following markup.

Should be

Replace the content of the Views/Shared/_Layout.cshtml file with the following markup.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-10-11 14:55] pkellner opened #15012 "Comment about Server-side Rendering and Left as User Exercise misleading"
Since server-side rendering was a part of the previous to asp.net core 3.0 templates, I understand why there is an important mention of it here:

However, "left as an exercise for the user" would lead the reader to think they somehow may be able to reasonably modify the template to do server-side rendering.  To convert create-react-app to do server-side rendering is a bad idea and was never expect

[2019-10-11 15:04] Tratcher commented on #14905
@JamesNK

[2019-10-11 15:59] anurse commented on #14974
I think a full doc make sense. Something like "Using HttpContext in SignalR and Blazor Server-Side apps". Perhaps we can have an include that we can put in a few places to put a note call-out something like "Using HttpContext in SignalR or Blazor Server-Side apps has some caveats, see [doc] for details".

We can look at pulling a draft together to start this process. It's definitely something that

[2019-10-11 16:00] c0g1t8 opened #15014 "Update screenshot for 'Configure your new project' under Visual Studio"
The screenshot for 'Configure your new project' does not match Version 16.3.4 of Visual Studio 2019.

[2019-10-11 16:11] anurse commented on #14977
Yeah, I believe it's correct that calling `AddScoped` with anything other than a type name or factory is wrong since the DI container can't control the lifetime.

In fact, the versions that take a specific instance are always going to be singleton since what you're doing is registering a specific instance in the DI container. There's no way to control the lifetime there. I believe we don't even di

[2019-10-11 16:30] Legends commented on #8584
@rynowak  What is the lifetime of a `HttpClient` when created through `IHttpClientFactory`? Scoped?

[2019-10-11 16:31] dharnitski opened #15016 "services.AddRazorPages(); is not used in MVC project"
Tutorial contains code line that is not added by scaffolding tools:

    services.AddRazorPages();

To be removed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a4022c-7ef1-3c30-4f9d-cf521a57a44a
* Version Independent ID: a0b5e15c-d747-8710-95fb-a55c09861a1e
* Content: [Work with SQL in an ASP.NET Core MVC app](https

[2019-10-11 16:31] blowdart opened #15017 "JWT Validation parameters are insecure."
JWT Validation needs to be more secure, all of these (except actor) should be true.

cc @anurse

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0da2144-3730-f8ef-1d16-a89f11fd6198
* Version Independent ID: 6d8f5bc8-8f5c-ba13-b7f2-0366eac46f81
* Content: [Authentication and authorization in ASP.NET Core SignalR]

[2019-10-11 16:37] marcslevesque opened #15018 "Updated resources needed"
Your "Additional resources" links point to documents which state they are no longer being updated.  Any documentation about valid transformation syntax I can find does not include "InsertIfMissing", which appears above in an example.  Where can updated information be found which includes seemingly new attributes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-10-11 16:48] jhudsoncedaron opened #15020 "Undocumented breaking change in IFileInfo: don't use physical path anymore when serving from packfiles"
# Issue description

When serving content from packfiles, returning the path of the packfile in IFileInfo.PhysicalPath (for filesystem watcher) doesn't work anymore.

In reading the code, I'm convinced the change is intentional.

# Software versions
- [X] .NET Core 3.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d8

[2019-10-11 17:30] guardrex commented on #15018
Hello @marcslevesque ... I'll take a look and respond back this weekend.

[2019-10-11 17:34] guardrex commented on #15020
@jhudsoncedaron Would you mind closing this issue and re-opening it using the **This Page** feedback button at the bottom of the topic? It will tag the issue with metadata to help the team work the issue, and it automatically pings the doc author.

[2019-10-11 17:36] jhudsoncedaron commented on #15020
@guardrex : Which page? The list of breaking changes is a link to an issue filter in github.

[2019-10-11 17:40] guardrex commented on #15020
Sorry, I thought this was associated with a specific doc page, such as the *File Providers* page ...

https://docs.microsoft.com/aspnet/core/fundamentals/file-providers

There are also the migration page and the release notes page ...

* https://docs.microsoft.com/aspnet/core/migration/22-to-30
* https://docs.microsoft.com/aspnet/core/release-notes/aspnetcore-3.0

I'll defer to @Rick-Anderson to t

[2019-10-11 18:16] Rick-Anderson commented on #15020
@jhudsoncedaron  breaking changes need to originate from https://github.com/aspnet/Announcements/issues
If it's not there, open an issue in https://github.com/aspnet/AspNetCore/issues and refer to this issue.

[2019-10-11 18:28] #15011 closed

[2019-10-11 18:29] wadepickett commented on #8544
@Rick-Anderson, should this one be closed?  Not clear to me if #13849 that was merged closes this issue or not.

[2019-10-11 18:32] #15014 closed

[2019-10-11 18:34] #15016 closed

[2019-10-11 18:34] Rick-Anderson commented on #15016
@dharnitski  thanks for bringing this to our attention.

[2019-10-11 18:36] #8544 closed

[2019-10-11 18:41] Rick-Anderson commented on #15007
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2019-10-11 18:41] #15007 closed

[2019-10-11 18:51] Rick-Anderson commented on #14998
@rynowak  can you assign someone to respond?

[2019-10-11 18:52] #14981 closed

[2019-10-11 19:13] #15004 closed

[2019-10-11 19:13] Rick-Anderson commented on #15004
@Peter-ComCo  thanks for bringing this to our attention.

[2019-10-11 19:48] c0g1t8 opened #15025 "VSCode and VSMac specific information needs to be separated from VS2019 information"
Under https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-3.0&tabs=visual-studio#initial-migration, references made to instructions specific to dotnet CLI.

The text regarding the expected error should be more prominent.

[2019-10-11 21:12] Rick-Anderson commented on #15025
Mac supports .NET CLI
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2019-10-11 21:12] #15025 closed

[2019-10-11 21:14] Rick-Anderson commented on #15012
@SteveSandersonMS please review

[2019-10-11 21:16] Rick-Anderson commented on #15003
@wadepickett all these need to be updated for 3.0

[2019-10-11 21:42] wadepickett commented on #15003
Excellent, happy to work on these, thanks!

[2019-10-11 21:46] OMMHOA opened #15030 "A using is missing"
Hi,
using MvcMovie.Data;
This line is missing in the SeedData.cs code.
Thanks for the great tutorial!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a4022c-7ef1-3c30-4f9d-cf521a57a44a
* Version Independent ID: a0b5e15c-d747-8710-95fb-a55c09861a1e
* Content: [Work with SQL in an ASP.NET Core MVC app](https://docs.micr

[2019-10-11 22:33] Rick-Anderson commented on #15030
Fixed just today.

[2019-10-11 22:33] #15030 closed

[2019-10-11 22:49] aL3891 opened #15033 "Blazor and multiple auth provider"
I was have some issues getting blazor to work in a solution with multiple auth middleware like AzureAD and AzureADBearer and the problem was that i needed to add an Authorize with AuthenticationSchemes set. this however can only be done globally since that property can't be specified on the Component level. this is accomplished by calling `endpoints.MapBlazorHub().RequireAuthorization(new Authoriz

[2019-10-12 00:20] #14996 closed

[2019-10-12 00:44] fahrettinozturk opened #15035 "Kestrel On Azure AppServer"
Is it possible to bypass IIS on Azure App Server to reach directly to the Kestrel from the client? It looks IIS is always acting as a reverse proxy server even if you set-up the Kestrel properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f22dcddb-0c25-be1a-9a02-9e71dce86bdb
* Version Independent ID: 3e0e12c2-e544-

[2019-10-12 01:04] drdamour commented on #10683
Yes please, 1 project 1 deploy all .net

[2019-10-12 01:12] #13559 closed

[2019-10-12 02:50] Rick-Anderson opened #15038 "Format pipeline code"
See https://github.com/dotnet/samples/issues/1630

[2019-10-12 03:27] davidfowl commented on #15035
No there is no way to do that.

[2019-10-12 03:48] c0g1t8 commented on #15025
@Rick-Anderson - I didn't realize that was the workflow. I will follow it in the future.

[2019-10-12 03:52] c0g1t8 opened #15039 "VSCode and VSMac specific information needs to be separated from VS2019 information"
Under https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-3.0&tabs=visual-studio#initial-migration, references made to instructions specific to dotnet CLI.

The text regarding the expected error should be more prominent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-d

[2019-10-12 03:57] c0g1t8 opened #15040 "Minor grammatical errors and rewording"
I found a few grammatical errors and some wording issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70f6104a-a223-4bb3-4101-f553002b9b26
* Version Independent ID: 15e79e80-8d46-7cd5-c883-6cc0f5940a1b
* Content: [Scaffolded Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pa

[2019-10-12 04:01] c0g1t8 commented on #15040
Redundant - PR#15037 merged

[2019-10-12 04:01] #15040 closed

[2019-10-12 04:50] Rick-Anderson commented on #15025
NP

[2019-10-12 05:00] InDieTasten commented on #9956
This is a HUGE issue. Luckily, I was only trying to create a sample project for this. The current documentation will NOT use in-memory, and when the original app has a valid SqlServer provider configured, you will easily wipe your sql database trying to setup test data.

I've spent hours now trying to find the issue on my end, when I realised, that the sample app provided in the docs is using in-m

[2019-10-12 06:12] shyamal890 opened #15041 "NetCore Indentity samples are outdated for .NetCore 3.0"
# Issue description
Identity Samples are outdated. Kindly consider updating them to .NetCore 3.0

[2019-10-12 06:12] ccosmincc opened #15042 "SignalR with background service in Core 3.0"
Is there a possibility to have [this](https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/signalr/background-service/sample) sample updated for Core 3 (along with the [docs](https://docs.microsoft.com/en-us/aspnet/core/signalr/background-services?view=aspnetcore-3.0) that reference it)? With the new 'Worker Service' template, WebHost has been replaced by Host and I had to install Micr

[2019-10-12 12:42] guardrex commented on #15035
For that scenario, try an Azure VM with the required ports open in the NSG and VM firewall.

[2019-10-12 12:42] #15035 closed

[2019-10-12 12:46] guardrex commented on #15041
Hello @shyamal890 ... It's an on-going effort. Sample updates are tracked here :point_right: https://github.com/aspnet/AspNetCore.Docs/issues/5495

[2019-10-12 12:46] #15041 closed

[2019-10-12 12:48] guardrex opened #15043 "SignalR with background service in Core 3.0"
From @ccosmincc ...

Is there a possibility to have [this](https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/signalr/background-service/sample) sample updated for Core 3 (along with the [docs](https://docs.microsoft.com/en-us/aspnet/core/signalr/background-services?view=aspnetcore-3.0) that reference it)? With the new 'Worker Service' template, WebHost has been replaced by Host and

[2019-10-12 12:48] guardrex commented on #15042
Hello @ccosmincc ... Please use the **This Page** feedback form at the bottom of the topic. It adds metadata for issue tracking and automatically pings the author.

No worries ... I've moved this over to :point_right: https://github.com/aspnet/AspNetCore.Docs/issues/15043

[2019-10-12 14:20] guardrex commented on #14878
I'm going to cross-link our other prerendering-related issues in case any should be worked together ...

* [Prerendering with reconnect](https://github.com/aspnet/AspNetCore.Docs/issues/12854) &ndash; DR to provide content.
* [Add a doc talking about issues with connectedness and prerendering](https://github.com/aspnet/AspNetCore.Docs/issues/14182) &ndash; RN to provide content.

[2019-10-12 17:08] #14566 closed

[2019-10-12 17:11] doggy8088 opened #15045 "The "Special case formatters" description looks like something wrong"
https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/formatting?view=aspnetcore-2.2#special-case-formatters

When removing the `TextOutputFormatter`, it won't return `406 Not Acceptable`. It'll use
`StringOutputFormatter` instead. I'm using ASP.NET Core 2.2.

If I remove the `StringOutputFormatter`, it'll use `JsonOutputFormatter` instead.

Would you check the content for this section?

-

[2019-10-12 17:11] taylorchasewhite opened #15046 "ReadAsASync"
I don't believe the examples for ReadAsASync anymore? I could be wrong but I'm seeing that HttpContent does not have a ReadAsASync function, only ReadAsStringAsync, ReadAsByteAsync, ReadAsStreamAsync and they aren't generic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881cef77-11ef-ac11-06d0-0996a1ccfa1b
* Version I

[2019-10-12 18:00] jasonshave opened #15048 "Connect to hub - missing JWT guidance"
The example in this page showing the hub connection only requiring two methods (.WithUrl() & .Build()) appears to be incomplete. The Azure SignalR Service requires an authenticated session however there is no mention of this. I found the correct guidance from the link below:

SignalR binding example: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service#signalr-

[2019-10-12 19:06] c0g1t8 opened #15049 "Typo and formatting improvements"
- connection string text highlighted in VSCode/VSMac version but not in VS2019
- typo 'C:/Users/<user/>'
- Update-Database exception message should be formatted so it's clearly seen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03221075-5dfa-d1b6-0552-3fe88abe1d03
* Version Independent ID: b8c7d824-35ca-68fb-e3be-839a

[2019-10-12 19:31] wadepickett commented on #14805
Triaged backlog from 515 down to 298.

[2019-10-12 19:31] #14805 closed

[2019-10-12 19:34] wadepickett commented on #14806
Triaged backlog from 515 down to 298

[2019-10-12 19:34] #14806 closed

[2019-10-12 20:17] jcmarcanotrias commented on #13328
I had problems accessing HttpContext.Session, I got a Error: an object reference is required

I fixed it adding

@inject IHttpContextAccessor HttpContextAccessor

And then calling the Session methods using:

HttpContextAccessor.HttpContext.Session.SetString(...

[2019-10-12 20:36] Rick-Anderson commented on #13328
@mkArtakMSFT please assign someone to review 3.0 changes to App session and app state. Customer reports changes.

[2019-10-12 20:59] serpent5 commented on #15046
FYI, `ReadAsAsync` is provided by the [`Microsoft.AspNet.WebApi.Client` NuGet package](https://www.nuget.org/packages/Microsoft.AspNet.WebApi.Client/). This was provided by the `Microsoft.AspNetCore.App` metapackage before 3.0, but needs to be added as a `PackageReference` from 3.0 onwards.

[2019-10-12 21:01] ebizupnorth opened #15051 "The line "var context = services.GetRequiredService<MvcMovieContext>();" should be removed"
The line `var context = services.GetRequiredService<MvcMovieContext>();` should be removed because it is not needed. The ServiceProvider object is what is required in `SeedData.Initialize()`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a4022c-7ef1-3c30-4f9d-cf521a57a44a
* Version Independent ID: a0b5e15c-d747-8710-

[2019-10-12 21:13] jjxtra commented on #14593
Trying this but get a ton of errors. I've already put in my csproj the suggested value...

[code]

[2019-10-12 21:14] jjxtra commented on #14593
Going back to .net core 2.2, this is a mess...

[2019-10-12 21:18] Rick-Anderson commented on #15051
@ebizupnorth  good catch. It was required in a previous version (I think).

[2019-10-12 21:22] #15051 closed

[2019-10-12 21:26] Rick-Anderson commented on #14593
@jjxtra can you open an issue at https://github.com/aspnet/AspNetCore with the simplest possible repo? This is a closed issue in the doc's repo, not the asp.net core code repo.

[2019-10-12 22:16] jjxtra commented on #14309
Can't use controllers in class libraries anymore...

[2019-10-12 22:20] davidfowl commented on #14309
Sure you can, just add a FrameworkReference to ASP.NET Core.

[2019-10-13 00:38] hishamco commented on #8585
👀

[2019-10-13 02:56] #14178 closed

[2019-10-13 03:35] c0g1t8 opened #15053 "Possible page improvements"
This page covers a lot of material:

- data annotations
- route templates
- concurrency
- binding

There may be too much material for this one page.

Possible changes:

- **Update the pages** is not very descriptive.  **Enhancing pages** may be better - IMO :)
- Would add a subheading **Add route template**.  Had to read more than twice to determine the intent of the information

I will provide a

[2019-10-13 04:40] doggy8088 opened #15055 "Use ApiBehaviorOptions.ClientErrorMapping sample code problem"
https://docs.microsoft.com/en-us/aspnet/core/web-api/handle-errors?view=aspnetcore-2.2#use-apibehavioroptionsclienterrormapping

In the sample code of this section, the `options.SuppressMapClientErrors = true;` should assign `false` to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f6504cd-a059-c5d4-73fb-61222ef1c

[2019-10-13 07:36] khteh opened #15056 "GRPC ServerCallContext logging"
Does the following code snippet, which is used to log log RESTful Web API calls defatils, also log the `ServerCallContext` details of GRPC service access?
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e072aff-35c1-1fc2-3f94-97dc7a809414
* Version Independent ID: 2f05b9da-0d50-ce84-d6af-332da7d9d625
* Content:

[2019-10-13 08:43] doggy8088 opened #15057 "Add Token-based authentication sample"
Is it possible to add new sample for token-based authentication (JWT) in the samples?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82950389-524e-0754-a125-addeccbdb1b3
* Version Independent ID: 80b7f7cf-dc2e-137a-5aa7-fa88da63ac80
* Content: [Authentication samples for ASP.NET Core](https://docs.microsoft.com/en-us/a

[2019-10-13 09:27] dmoibm opened #15058 "dotnet new angular has no -au parameter!"
dotnet new angular -o &lt;output_directory_name&gt; -au Individual dose not work! The -au parameter dosent exist.
Depnds on version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21cb7455-3305-9316-5440-bdc22947a82d
* Version Independent ID: 137d4b94-7b26-3911-b22d-42c754a95fc1
* Content: [Introduction to authenticati

[2019-10-13 10:28] guardrex commented on #15058
I see the option here:

<img width="523" alt="Capture1" src="https://user-images.githubusercontent.com/1622880/66714265-3e635100-ed7a-11e9-848f-dcb6dcde858a.PNG">

What SDK are you on? `dotnet --version`

[2019-10-13 10:45] dmoibm commented on #15058
Sorry! My fault. Wrong version. I used .NET Core 2.2! At the top of the article it is writen: **USE ASP.NET Core 3.0 or later**
Thanks for all and have a nice day.

[2019-10-13 10:46] #15058 closed

[2019-10-13 10:55] jez9999 commented on #13328
When I examine `((Microsoft.AspNetCore.Builder.ApplicationBuilder)app)._components.Select(comp => comp.Target)` at the end of my `Configure` method, I see no entry for `SessionMiddleware`, so apparently some other middleware is now doing its job in ASP.NET Core 3.0.0.  I'm not sure what, though.  The docs should be updated to reflect this.

[2019-10-13 11:44] matteocontrini opened #15061 "Wrong headings used"
I think there's a problem with headings in this page. Every title after the `asp-all-route-data` section is using an `h3` tag, so in the summary on the right sidebar most sections of the page are not listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90dc429b-11d9-c0f6-678d-dfb22e23c273
* Version Independent ID: 61

[2019-10-13 11:45] guardrex commented on #14846
HTTP.sys is both a server implementation in ASP.NET Core ([HttpSysServer](https://github.com/aspnet/AspNetCore/tree/master/src/Servers/HttpSys)) and a kernel-mode driver in Windows that distributes HTTP traffic to processes.

My idea for this coverage is to mention HTTP.sys driver as little as possible in the IIS doc and concentrate the language and the images on ANCM/IIS.

Over in the HTTP.sys to

[2019-10-13 11:49] #14846 closed

[2019-10-13 12:35] guardrex commented on #15061
Yep ... something went wrong. :boom: ... I'll fix it up. Thanks for reporting this.

[2019-10-13 13:02] guardrex commented on #15018
@vijayrkn I don't see anything else we can link for transform syntax besides what we currently have ...

* [Web.config Transformation Syntax for Web Application Project Deployment](https://go.microsoft.com/fwlink/?LinkId=301874)
* [Web.config Transformation Syntax for Web Project Deployment Using Visual Studio](https://docs.microsoft.com/previous-versions/aspnet/dd465326(v=vs.110))

Leave these? R

[2019-10-13 13:11] guardrex commented on #11149
@shirhatti I'm looking at this now. Any i-dears on this one?

[2019-10-13 13:25] guardrex commented on #13436
Resolved by #13724

[2019-10-13 13:25] #13436 closed

[2019-10-13 13:26] guardrex commented on #13435
Resolved by #13696

[2019-10-13 13:26] #13435 closed

[2019-10-13 13:32] guardrex commented on #14520
@shirhatti Is there anything we can say here? *Custom Script Extension* perhaps? ...

https://docs.microsoft.com/azure/virtual-machines/windows/tutorial-automate-vm-deployment

[2019-10-13 13:38] guardrex commented on #13489
Resolved by #13504

@Rick-Anderson @scottaddie @wadepickett It's *very annoying* 😠 that when we merge a release staging branch into `master` that these "fixed" issues don't automatically close. I'll research it and see if there's anything we can do about it.

[2019-10-13 13:38] #13489 closed

[2019-10-13 13:38] guardrex commented on #13457
Resolved by #13558

[2019-10-13 13:38] #13457 closed

[2019-10-13 13:50] guardrex commented on #12342
@AnthonyMastrean Sorry for the *loooooong delay* 🕙 We were 🏃🏃😅 on 3.0 updates for a few months. We did get back to this topic's sample on another issue in a similar vein. I'm going to mark that PR (#14765) as fixing this issue, too. However, please look at the PR and remark over there if you feel that there are still problems to address ..... and I recommend that you look soon on that one because

[2019-10-13 13:59] guardrex commented on #12628
This was resolved as far as engineering wants to resolve it for Blazor WebAssembly apps on https://github.com/aspnet/AspNetCore.Docs/pull/13364 yielding the live topic [ASP.NET Core Blazor state management](https://docs.microsoft.com/aspnet/core/blazor/state-management).

There will likely be future enhancements on the engineering side. We'll open a new issue for anything new that engineering prod

[2019-10-13 13:59] #12628 closed

[2019-10-13 14:01] guardrex commented on #13854
Resolved by #13860

[2019-10-13 14:01] #13854 closed

[2019-10-13 14:43] Legends commented on #14800
When I start my app using `Strg+F5` and edit a view during runtime, it gets compiled when I hit refresh in the browser.

Don't have to add `.AddRazorRuntimeCompilation();` at all.
Can you elaborate on this?

[2019-10-13 14:50] guardrex commented on #12285
@pranavkm Would you help me prioritize the following (High, Medium, Low, or Hold)?

1. There's no example for handling file chunking; for example to resume large file uploads when users are in remote areas with flaky Internet.
2. HTTP/2 apparently doesn't support chunked transfer encoding ... it goes to DATA frames. Should DATA frames coverage be explained/demoed?
3. There's no example for Byte Ra

[2019-10-13 16:00] c0g1t8 opened #15065 "Change note format to be consistent"
Minor formatting change suggestion.

`Note: The Contains method is run on the database, not in the C# code. The case sensitivity on the query depends on the database and the collation. On SQL Server, Contains maps to SQL LIKE, which is case insensitive. In SQLite, with the default collation, it's case sensitive.`

This should standout like the warning previously above to be consistent.

---
#### D

[2019-10-13 18:36] Rick-Anderson commented on #15057
Keep an eye on the repo for new samples. I don't think any are scheduled
https://github.com/aspnet/AspNetCore/tree/v3.1.0-preview1.19508.20/src/Security/samples/ClaimsTransformation

[2019-10-13 18:36] #15057 closed

[2019-10-13 18:38] Legends commented on #12082
Most simple setup for a .net core 3.0 web api project:

[code]

Only the following urls do not work:
 // URLs:
            // - http://localhost:xxxx/redoc  --> This localhost page can’t be found
            // - http://localhost:xxxx/openapi  --> This localhost page can’t be found
            // - http://localhost:xxxx/openapi_redoc  --> This localhost page can’t be found

[2019-10-13 18:39] #15061 closed

[2019-10-13 18:40] #14276 closed

[2019-10-13 18:43] Rick-Anderson commented on #14800
What's  `Strg`

[2019-10-13 18:44] guardrex commented on #14800
I think that's German for `Ctrl`.

[2019-10-13 18:47] Legends commented on #14800
Yeah 'Ctrl' ... sorry.

[2019-10-13 20:33] Legends commented on #13637
Is the sample code still valid? It uses .net core 1.0

[2019-10-13 22:24] c0g1t8 opened #15067 "Minor wording changes and corrections"
Minor suggested changes
- Previous pages used _PMC_ for inline code.  _Powershell_ used here.
- Add migration history table name for additional clarity
- _SqlException_ is referred to as an error.  Suggest referring to it as an exception.

PR will be submitted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01013ef6-c5

[2019-10-13 22:43] pranavkm commented on #12285
1) Sounds really useful. I'd put this at the top
2). @Tratcher, is this useful information for users to understand?
3) I'd put this at number 3
4) Pri 2.This would make sense to cover as part of the file uploads topic.

[2019-10-13 23:54] c0g1t8 opened #15069 "Inline code titled as Powershell"
Suggestion:
- To be consistent with previous pages associated with this tutorial, the title should be _PMC_.

PR will be submitted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39b6d0f3-9bc7-d091-0d45-9fc1e2e7aac8
* Version Independent ID: 20e7eb53-215b-09ab-205d-d20177221278
* Content: [Add validation to an ASP.NET

[2019-10-14 01:04] dyslexicanaboko opened #15071 "ASP.NET Core 2.1 support"
The instructions on this page are like 99% good enough for ASP.NET Core 2.1 except for one part.

This code doesn't work for 2.1:
[code]

This is what is required instead:
[code]
Got that from here: https://docs.microsoft.com/en-us/aspnet/core/signalr/hubs?view=aspnetcore-2.1

Basically what I am getting at is there should be 2.1 support for SignalR as well. I was able to get this example to work

[2019-10-14 01:10] BrennanConroy commented on #15071
The docs are versioned so you can see what different versions of the libraries might do. As you point out, the aspnetcore-2.1 docs work for you as expected. In 3.0 we're moving to Endpoint Routing so that's what the docs show.

[2019-10-14 01:45] Tratcher commented on #12285
Is there an existing chunked transfer encoding sample/explanation you're comparing this to? Chunked encoding and HTTP/2 data frames are wire level framing details, they end up having the same behavior. Any existing description could be generalized to cover both.

[2019-10-14 02:22] bdcoder2 opened #15073 "Console log redirection needs working example."
# Regarding Documentation at:
[https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.0#log-creation-and-redirection](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.0#log-creation-and-redirection)

# Issue description

Under the heading **Enhanced diagnostic logs**, the following configuration is shown:

[2019-10-14 02:40] ShinraCorpMixer commented on #14515
Hmm SDK is still missing for Canada East and Central. Oh well no rush :)

[2019-10-14 03:57] yangzuo0621 opened #15075 "Use wrong Storage version for Asp.net core 2.2"
# Before you open an issue

If the issue is with an ASP.NET Core document, open the issue with the **Content feedback** button at the bottom of that document page.

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, conside

[2019-10-14 08:00] SoeTien opened #15076 "Confusing documentation Http.sys"
I am confused by this part:

MaxConnections | The maximum number of concurrent connections to accept. Use -1 for infinite. Use null to use the registry's machine-wide setting. | null(unlimited)

In the description column, it says -1 for infinite, and null for machine-wide setting, but in the default column it says the default value is null and between parentheses it says unlimited.
So is null unli

[2019-10-14 09:15] jez9999 commented on #12890
I'm not sure if the above post is saying what I think it is, but if it is, I have the same issue.

Given a JSON POST to ASP.NET Core where the body payload is:

[code]

... I should be able to declare an ASP.NET Core action method like so, and have the values be bound correctly:

[code]

Right now it seems I have to declare a class with `foo`, `bar`, and `baz` in and bind them with the `FromBodyAt

[2019-10-14 11:07] savvasd opened #15077 "Error when attempting to add controller"
Hi there
I am getting the following error when attempting to add the HelloWorldController
"There was an error running the selected code generator: 'Package restore failed. Rolling back package changes for 'MvcMovie'.'"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20264150-9ac7-2b21-3314-64ffa114410f
* Version Indepen

[2019-10-14 11:18] guardrex commented on #12285
@Tratcher No, I'm merely asking about these at this point. Just need to know which items are candidates for enhancing the topic and what priority to apply to them. I understand your remark, so dropping that entry. Should a chunking approach/sample *not* ever be part of this topic (i.e., let blogs/forum post resources cover it)?

[2019-10-14 11:20] #14714 closed

[2019-10-14 11:30] guardrex commented on #15076
From the API comments ...

[code]

https://github.com/aspnet/AspNetCore/blob/master/src/Servers/HttpSys/src/HttpSysOptions.cs#L95-L117

... so I'll change that to say that the default is the machine-wide setting.

[2019-10-14 11:31] javiercn opened #15078 "[MVC] Include a section about discovery in the application part docs"
In this doc
https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/app-parts?view=aspnetcore-3.0

We get a lot of issues regarding 404s when invoking controllers or pages with all of them traced back to the user missing some key piece on the way application parts get discovered and work.

We want to add an additional section on the document above to explain the application part discovery proces

[2019-10-14 11:37] guardrex opened #15080 "Console log redirection needs working example"
From @bdcoder2 ...

# Regarding Documentation at:

[https://docs.microsoft.com/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.0#log-creation-and-redirection](https://docs.microsoft.com/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.0#log-creation-and-redirection)

# Issue description

Under the heading **Enhanced diagnostic logs**, the following configuration is

[2019-10-14 11:38] guardrex commented on #15073
Please use the **This Page** feedback form at the bottom of the topic, which applies metadata and pings the author (*ME!* :smile: lol). No worries ... I moved this over to  #15080.

[2019-10-14 11:38] #15073 closed

[2019-10-14 11:54] javiercn opened #15081 "[Endpoint routing] Add section about configuring endpoint metadata"
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.0

I couldn't find a section in here and it would be useful to be able to point customers to documentation when they want to add metadata to their endpoints for things like authentication, authorization, CORS, etc.

/cc @rynowak @JamesNK

[2019-10-14 12:20] guardrex commented on #15080
@dbcoder ...

1. At this point, that's a product question given that I agree with you: I can't find one either. I thought it was over at the schemastore.org site, but I may have been mistaken about that (or it used to be there but no more). Open that request with the product team at :point_right: https://github.com/aspnet/AspNetCore/issues to ask them if one is available somewhere or if they would

[2019-10-14 12:28] guardrex commented on #15081
They're covered in the individual topics on those subjects. How about a new section here with cross-links to those existing sections? That seems like it would be very handy.

[2019-10-14 12:55] guardrex commented on #15080
After we've discussed this a bit further, I'll identify what we can do in the doc. For example, we'll cross-link the console logging coverage here.

[2019-10-14 14:19] adisazhar123 commented on #15046
You can make use of the new json serializer from microsoft. The code using `ReadAsAsync` would then be refactored as:
[code]
https://docs.microsoft.com/en-us/dotnet/api/system.text.json?view=netcore-3.0

[2019-10-14 14:55] John0King commented on #12890
@jez9999 yes, this is exactly what I'm asking about.

[2019-10-14 15:08] #15076 closed

[2019-10-14 15:10] Tratcher commented on #12285
File chunking across multiple requests is a useful technique. Chunked encoding on a single request/response is a formatting detail unrelated the prior scenario. A sentence or two about using or excluding the Content-length header would be sufficient. E.g. Using a content-length header can make the message easier to inspect. When not using a content-length header the message format automatically fa

[2019-10-14 15:12] #15065 closed

[2019-10-14 15:12] javiercn opened #15082 "[Blazor] Add a section to explain how splatting override works"
The splatting section is missing docs and an example about how the override behavior works for splatting. Specifically it needs to point out that the order in which you put `@attributes` with regards to other attributes on the element matters and that the logic is that the most right attribute wins.

For example:
Call site:
[code]

MyComponent
[code]

In the case above the div will always be extra

[2019-10-14 15:14] #15053 closed

[2019-10-14 15:19] bdcoder2 commented on #15080
@guardrex - Thanks for the feedback...

**Regarding point 3** - yes, it is shown, but for those who are un-initiated, looking at a line like:

`stdoutLogFile="\\?\%home%\LogFiles\stdout"`

... raises questions such as:

Where in the docs do I find explanations for the various elements shown in the path? For example:

1. \\?\ - What does that resolve to on disk?  (Again, someone with no knowledge w

[2019-10-14 16:02] guardrex commented on #15080
Yes, I'll put the link pertaining to file paths in the *Additional Resources* section.

`\\?\%home%\LogFiles\stdout` is an Azure App Service path (yes, env var on Azure). There's a sentence in the topic calling it out ...

I'll indicate the the path env var for `%home%` is set by the service. I'll see about a cross-link wrt env var path variables and include that in *Additional Resources*, too.

I

[2019-10-14 16:18] bdcoder2 commented on #15080
@guardrex - Thank-you very much for the response.   I will shoot engineering the questions raised here as per your suggestion.

I did try a path to a folder within my project -- at several levels -- but to date, the console logging file gets created, but is never written to (remains empty) -- I am at a loss.

Good grief, if internally one cannot find docs regarding **web.config** and **launchSetti

[2019-10-14 16:28] aminm1364 opened #15083 "<Dependency injection> section needs updating."
Hey, I hope this is helpful.

- On the latest version on the Blazor template (Server app), the Services folder has been renamed to Data. so I believe on the Pages/FetchData.razor, there is no "@using ToDoList.App.Services". instead we should have something like "@using ToDoList.App.Data"
- Also, there is no weather.json file anymore to provide data for this page. the data comes from the controller

[2019-10-14 16:29] guardrex commented on #15080
It occurs to me looking at the discussion: You're trying to run IIS Express/ANCM from VS? Is that correct. I think you should try the https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/development-time-iis-support?view=aspnetcore-3.0 topic for that scenario. What was confusing me at first was that I thought you were trying to get your console logging output in IIS and confused about

[2019-10-14 16:33] guardrex commented on #15080
... and I'll just add one more tidbit here. You're obviously trying to get console logging going with that stdout logging. Engineering really doesn't prefer that you take that approach. They *always* recommend:

* Use a 3rd party logging provider to take your console logging (e.g., Serilog).
* Use this stdout logging with a troublesome app on a server for quick-and-dirty logging to figure out a qu

[2019-10-14 16:34] c0g1t8 commented on #15069
As per comment by @scottaddie in PR @15070, I'm closing this issue.

[2019-10-14 16:34] #15069 closed

[2019-10-14 16:42] guardrex commented on #15083
Thanks for that note @aminm1364 ... Indeed, we were 🏃 fast during 3.0 updates, and I didn't have time to walk the whole topic. I'll fix that for the Blazor Server piece today.

The *weather.json* file is still there for the Blazor WebAssembly app. That's called out in the topic. However ...... now that I run an :eye: over that coverage .... I don't like how it's all in the text without clear headi

[2019-10-14 16:48] c0g1t8 opened #15084 "Cmdlet should be identified as Powershell not PMC"
@scottaddie

As per your comment in PR #15070, the cmdlet under _Initial migration_ should be labelled as _Powershell_.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add a model to a Razor Pages app in ASP.N

[2019-10-14 16:55] bdcoder2 commented on #15080
@guardrex - Just saw your additional posts (after I posted my issue with engineering) -- and yes, you are correct (I should have been more detailed) -- I am running in DEBUG mode via Visual Studio / IIS Express.  (I would never enable Console logging in a production environment).

As I am new to the .Net Core environment (having spent the last several years in .Net Framework development), I was on

[2019-10-14 17:00] guardrex commented on #15080
I think you're going to have to go with dev-time IIS support in VS to get that console logging output ... guessing a bit since I didn't actually try it myself. It should work tho. 🤞 I've only set up the dev-time support to make sure that our coverage was correct. You *probably* won't get console logging otherwise running IIS Express.

Console logging is rather *very* frowned upon by them for the r

[2019-10-14 17:10] Taylor365 opened #15087 "Fetch"
Fetch is mentioned several times on this page but is not in any of the code snippets.

Solution: Code snippets need to be updated to match what is on github.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tut

[2019-10-14 17:16] bdcoder2 commented on #15080
@guardrex - Understood -- might be a good idea to mention that in the docs, ie: something along the lines of:

**Console output redirection should not be used when developing / using IIS Express.**

Myself: It took 10 minutes to write my own "custom" logger that dumps to a text file; which is working just fine - I will simply add to my notes never to use Console logging / redirection when using AS

[2019-10-14 17:20] guardrex commented on #15080
Yes ... it's already there :point_right: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.0#log-creation-and-redirection

I'll get on your feedback here soon and ping u on the PR. Thanks for your remarks and discussion.

[2019-10-14 18:05] shirhatti commented on #14520
@guardrex I used to maintain this repo https://github.com/shirhatti/ANCM-ARMTemplate but it's out of date now. It has an ARM template that uses a custom script extension to install ANCM

Perhaps something worth re-using in that?

[2019-10-14 18:11] Rick-Anderson commented on #15087
@scottaddie  5 minute fix.

[2019-10-14 18:13] Rick-Anderson commented on #15077
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2019-10-14 18:13] #15077 closed

[2019-10-14 18:16] shirhatti commented on #11149
I definitely don't want you to reverse engineer the failure conditions. I'd started writing a document that describes all failure conditions at https://github.com/aspnet/specs/blob/master/notes/ancm/startuperrors.md

If my doc is missing any failure scenarios, @ me. I'm on the hook to address that.

For scenarios where we've updated the error messages for grammar/spelling, I believe the EventIDs a

[2019-10-14 18:26] bdlane opened #15088 "Validation of a polymorphic model does not work when the polymorphic model is a property"
Given the polymorphic model binding example, if the abstract Device type is used as the type of a property on another model, validation of the Device subtypes doesn't happen - either using data annotations or implementing IValidateableObject. Validation does work if the top-level model is the Device type.

Is there a way of signalling to the model validation framework that the bound model is one o

[2019-10-14 18:46] #15083 closed

[2019-10-14 19:03] guardrex commented on #14520
Wouldn't the template be appropriate when creating *new VM's* ... not so much for distributing a new hosting bundle installer and running it on existing VM's?

Does your script *install-ancm.ps1* mirror what the hosting bundle installer does?

I only briefly looked at their topics, but it seemed like a *Custom Script Extension* run immediately on a resource group of live VM's would immediately dow

[2019-10-14 19:03] #15084 closed

[2019-10-14 19:12] guardrex commented on #11149
btw - ☝️ that link 404s (but I only have public access, so that's prob a private repo).

Yeah, if EventID comes out in one of the locations (browser response in Dev env, Application Event Log, ANCM stdout log, or ANCM debug log). My impression was that they **don't** show up (but I certainly may have forgotten what shows up given the time that's passed). Output often includes `HRESULT` codes, whic

[2019-10-14 19:13] #12342 closed

[2019-10-14 19:13] #14746 closed

[2019-10-14 19:37] scottkuhl commented on #14553
IMO

This does not appear to be official videos by Microsoft.  I don't think this should be integrated into the official documentation.

[2019-10-14 20:32] scottaddie commented on #15087
@Rick-Anderson I'll take a look.

[2019-10-14 20:53] serpent5 opened #15090 "Address note regarding Result Filters and exceptions"
There's a note in the raw markdown under the "IResultFilter and IAsyncResultFilter" section that questions the flow for writing results in terms of exceptions. I think the content being referred to has deviated from its original intent, so this issue is all about rectifying that and addressing the note at the same time.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-10-14 20:53] serpent5 commented on #15090
I'll submit a PR for this.

[2019-10-14 21:20] ideoclickVanessa commented on #14515
I'm confused.  Does the blue face on the map mean that I should be able to run a .NET Core 3 Rest API or not?
![image](https://user-images.githubusercontent.com/44000426/66783839-a2c30500-ee8d-11e9-9fdd-fc7f65b5a3f5.png)
Seems to imply that I can run it, I just can't build it.  However, I'm getting a silent 500 error whenever I attempt to communicate with the deployed site.

[2019-10-14 21:20] serpent5 opened #15092 "Samples for Filters"
There are two samples for filters: one for 1.1 and one for 2.2. Should the 1.1 sample be deleted? It's not referenced by the .md file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a70a955f-dd5a-c46b-dfe8-21521e619320
* Version Independent ID: ebb299e0-6c1c-7077-689d-ac711352e418
* Content: [Filters in ASP.NET Core](h

[2019-10-14 21:23] DanielRBowen opened #15093 "SignalR authentication doesn't explain how to use both jwt and cookie authentication."
# Issue description

It took me a while to figure out how to do cookie website authentication and jwt bearer client authentication at the same time so that both web and .net SignalR client can connect. The least amount the docs can do is change the documentation to explain adding both authentication schemes on the SignalR hub:
[code]

The best the docs can do is fix the example SignalR Authenticat

[2019-10-14 21:59] Tratcher opened #15095 "TlsFilterConnectionHandler replaced by CipherSuitesPolicy"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f22dcddb-0c25-be1a-9a02-9e71dce86bdb
* Version Independent ID: 3e0e12c2-e544-5655-e001-d2ec180b11a8
* Content: [Kestrel web server implementation in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.0#endpoint-

[2019-10-14 23:18] wadepickett opened #15098 "Microsoft Learn .NET Modules Report"
Review the .NET Module data for September 2019.  Look for areas we might need to improve.  Note what is working well.

[2019-10-14 23:20] wadepickett commented on #15098
Completed: Provided September report to internal doc team and product unit on MS Teams today.

[2019-10-14 23:20] #15098 closed

[2019-10-15 00:33] farooq41 commented on #14515
Same here, Does not build even after adding core 3.0 extensions. Do we need to wait for it to Go Green from Blue?

[2019-10-15 02:22] #14225 closed

[2019-10-15 02:25] #15092 closed

[2019-10-15 02:27] #15090 closed

[2019-10-15 03:06] #15049 closed

[2019-10-15 03:07] #15067 closed

[2019-10-15 03:32] #13233 closed

[2019-10-15 03:38] Rick-Anderson commented on #15078
Next time Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2019-10-15 03:39] Rick-Anderson commented on #15078
@javiercn  when you create an integrated issue, you don't have to write
In this doc `https://docs.microsoft.com/en-us/aspnet/core/etc`

Please we (and customers) can see all the issues for the doc from the doc page.

[2019-10-15 03:42] Rick-Anderson commented on #15075
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

Also, be more specific of what is wrong on the page.

[2019-10-15 03:42] #15075 closed

[2019-10-15 03:43] Rick-Anderson commented on #15071
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-10-15 03:48] Rick-Anderson commented on #15056
@khteh  can you fix the code formatting and provide a link to the snippet?

[2019-10-15 03:52] Rick-Anderson commented on #15055
Use the `ClientErrorMapping` property to configure the contents of the `ProblemDetails` response. For example, the following code in `Startup.ConfigureServices` updates the `type` property for 404 responses:

[code]

[2019-10-15 03:54] Rick-Anderson commented on #15055
@pranavkm I pasted the relevant doc section above. Please review suggestion.

[2019-10-15 03:55] khteh commented on #15056
Fixed. Is it possible to log `ServerCallContext` details as is done with RESTful WebAPI HttpContext in the code snippet which is done in Startup.cs?

[2019-10-15 03:55] #15046 closed

[2019-10-15 04:04] Rick-Anderson commented on #15045
@serpent5  does that look wrong?

[2019-10-15 04:05] #15043 closed

[2019-10-15 04:05] Rick-Anderson commented on #15042
@guardrex  all you need to do is copy/paste the metadata from an open or closed issue.

[2019-10-15 04:26] Rick-Anderson commented on #15056
@khteh where is that code snippet?

[2019-10-15 05:07] khteh commented on #15056
Isn't it in my post?

[2019-10-15 05:24] khteh opened #15101 "BundlerMinifier.Core 3.0 readiness?"
` BundlerMinifier.Core` is recommended in this "3.0" page but it is broken! It still refers to ASP.Net Core 2.x!
https://github.com/madskristensen/BundlerMinifier/issues/447
https://github.com/dotnet/cli/issues/12886

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f55e9a-cd3f-83a0-f142-969dc10d3ceb
* Version Independe

[2019-10-15 07:14] Jogge commented on #15007
You're right. The tutorial works. I tried reproduce the error and found that i somehow changed the following code in Program.cs from:
`public static IHostBuilder CreateHostBuilder(string[] args) => Host.CreateDefaultBuilder(args)...`
to
`public static IHostBuilder CreateHostBuilder() => Host.CreateDefaultBuilder()...`

[2019-10-15 07:24] atmdevnet opened #15102 "typo"
Shouldn't it be "AddMvc" in "Templates use these new methods instead of UseMvc." in "MVC service registration" chapter ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76f39eec-9dd1-6167-56ec-47b26e0b5063
* Version Independent ID: f9f2b0f3-01eb-cf58-8767-194fe0fc0e44
* Content: [Migrate from ASP.NET Core 2.2 to 3.0](ht

[2019-10-15 07:51] thebluess commented on #14883
I having the same problem here but cant fix it

[2019-10-15 12:09] guardrex commented on #15102
Thanks @atmdevnet ... I'll patch that up right now.

[2019-10-15 12:14] #15102 closed

[2019-10-15 12:31] #14239 closed

[2019-10-15 14:12] mrfixij opened #15107 "AddDefaultUI no longer needed"
I believe as of dotnet core 3.0's september release, this block is no longer valid.
services.AddDbContext&lt;ApplicationDbContext&gt;(options =&gt;
    options.UseSqlite(Configuration.GetConnectionString("DefaultConnection")));

services.AddDefaultIdentity&lt;ApplicationUser&gt;()
    .AddDefaultUI(UIFramework.Bootstrap4)
    .AddEntityFrameworkStores&lt;ApplicationDbContext&gt;();

I believe we s

[2019-10-15 14:16] javiercn commented on #15107
Yep. `AddDefaultUI` doesn't offer an enum option anymore, the UIFrameworkVersion is now decided at build time in MSBuild.

[2019-10-15 14:47] guardrex commented on #15107
Thanks @mrfixij ... this is a dup of https://github.com/aspnet/AspNetCore.Docs/issues/15003.

[2019-10-15 16:12] CeciAc opened #15109 "添加数据库上下文类 tag"
@95 commented on [Tue Oct 15 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/206)

1. 添加到“数据”文件夹 -&gt; 添加到“Data”文件夹
2. namespace RazorPagesMovie.Models -&gt; namespace RazorPagesMovie.Data

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [在 ASP.N

[2019-10-15 16:14] CeciAc commented on #15109
Hi team,
I moved this here because the user is making a suggestion on one of the code boxes
(the first item is linguistic which I already forwarded for linguistic assessment

kind regards

[2019-10-15 16:32] guardrex opened #15110 "Blazor 3.1 Preview Updates"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version Independent ID: 8226ed72-69b2-3c93-a931-218bd11cf9c8
* Content: [Get started with ASP.NET Core Blazor](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio)
* Content Source:

[2019-10-15 16:41] guardrex opened #15112 "Bad cross-refs"
I'm going to run thru and fix these up ...

aspnetcore/fundamentals/host/generic-host.md
2  invalid cross reference(s)
\<xref:Microsoft.Extensions.Hosting.Internal.ConsoleLifetime>",  \<xref:Microsoft.Extensions.Hosting.Internal.ApplicationLifetime>

aspnetcore/migration/22-to-30.md
2  invalid cross reference(s)  \<xref:Microsoft.AspNetCore.Server.Kestrel.Core.Adapter.Internal.IConnectionAdapter>

[2019-10-15 16:45] guardrex commented on #15112
@scottaddie *Whooops!* :smile: ... There's an API docs bug here.

https://docs.microsoft.com/en-us/dotnet/api/?term=Microsoft.Extensions.Hosting.Internal.ConsoleLifetime

... is a thing, but the API doc page (first link returned) ends up a 404 :boom: ...

https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.hosting.internal.consolelifetime

I suppose you'll want to open an internal iss

[2019-10-15 17:15] Rick-Anderson commented on #15056
@khteh  where is the code snippet in the repo or article?

[2019-10-15 17:34] scottaddie commented on #15112
This is a result of some API ref changes @mairaw is working on. The Internal namespaces will need to be code-fenced, as they're no longer being published.

[2019-10-15 17:38] guardrex commented on #15112
Ok ... do you want me to do it? ... or leave it assigned to u?

[2019-10-15 17:38] scottaddie commented on #15112
I'm wrapping up a few other PRs right now. If you have time, go ahead with it.

[2019-10-15 17:39] guardrex commented on #15112
ok ... I'll do it. I'm just waiting on the blog post.

[2019-10-15 17:45] Rick-Anderson opened #15113 "3.0 update Policy-based authorization in ASP.NET Core"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1141d92-adeb-6841-229f-914c808f9a2b
* Version Independent ID: 7089b376-949f-c1c6-c37a-5d8cc7ecf104
* Content: [Policy-based authorization in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-3.0)
* Content Source:

[2019-10-15 17:47] #14354 closed

[2019-10-15 17:48] #15095 closed

[2019-10-15 17:49] #14652 closed

[2019-10-15 17:51] Rick-Anderson commented on #15109
Actually, for the model, model is correct.

[2019-10-15 17:51] #15109 closed

[2019-10-15 17:57] guardrex commented on #13614
@MV10 ... see #14842 for discussion on this one. We're going to leave it at "Current."

[2019-10-15 18:02] nickalbrecht commented on #12285
So based off of what you've mentioned regarding the difference between chunked uploads (just split into multiple upload operations), and chunked encoding, Which one is used in the `StreamController` for demonstrating streamed uploads in
https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/mvc/models/file-uploads/samples/3.x/SampleApp/Controllers/StreamingController.cs

Is the behaviour

[2019-10-15 18:03] #14260 closed

[2019-10-15 18:32] guardrex opened #15115 "Blazor common sample 3.1 preview update"

[2019-10-15 18:36] #15087 closed

[2019-10-15 18:37] #15112 closed

[2019-10-15 20:06] MV10 commented on #13614
@guardrex thanks for the follow-up. Disappointing. Does "Current" mean Microsoft is committed to automatically guaranteeing full-support the moment a new browser version drops? The decision makes zero sense to me, the page is pretty much worthless this way. Oh well.

[2019-10-15 20:06] #13614 closed

[2019-10-15 20:10] guardrex commented on #13614
Yes ... in the sense that if you hit a 🐞 with a new browser release, they *should*&dagger; assist/advise/fix/workaround the scenario.

&dagger;I'm a contractor, so I can't speak for MS directly. This is my assessment based on their remarks.

[2019-10-15 20:16] serpent5 commented on #12564
I've had a look into this to see what we can do in 3.0.

I found that the following code inside of an `IAuthorizationHandler.HandleAsync` implementation allows for getting hold of a [`ControllerActionDescriptor`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.controllers.controlleractiondescriptor?view=aspnetcore-3.0), which contains info about the controller, action, filters

[2019-10-15 20:18] danroth27 commented on #13614
Yes. If you come to us with a bug that only happens in the latest version of one of these browsers then we will support you. If you ask for support for an issue that is specific to an older browser version we will still consider the impact, but we will likely ask you to update your browser.

[2019-10-15 20:32] #15115 closed

[2019-10-15 20:35] serpent5 commented on #15045
On second thought, I don't think this would be beneficial. Changing the behaviour could be a breaking change for little gain. In all likelihood it's _deliberately_ done this way so there's no need to bother them.

[2019-10-15 20:39] Rick-Anderson commented on #12564
@HaoK  can you review the preceding suggestion?

[2019-10-15 20:45] tfabraham opened #15119 "Dictionary saved into Data property must be initialized with StringComparer.OrdinalIgnoreCase"
Configuration keys are documented as being case-insensitive.  However, Dictionary&lt;string, string&gt; defaults to a case-sensitive comparer as used in the sample EFConfigurationProvider.  When the config system searches the provider chain for a particular path/key, the search against the dictionary from EFConfigurationProvider is case-sensitive.  If the same path exists in multiple provider dict

[2019-10-15 21:18] Rick-Anderson opened #15122 "Add H3 to The following code applies CORS policies to all the apps endpoints via CORS Middleware:"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59bca5db-1196-2a8b-a0d8-4e89b2382288
* Version Independent ID: d3f332c4-4c60-039e-0e1e-bc6b11831f87
* Content: [Enable Cross-Origin Requests (CORS) in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-3.0#enable-cors-with-endpoint-r

[2019-10-15 21:26] guardrex commented on #15119
Hello @tfabraham ...

What use case leads to that? How do the same keys with different casing get into the dictionary in your scenario?

[2019-10-15 21:37] wadepickett commented on #9488
Went through all tutorials that use "dotnet run".    For top level tutorials there was only this fix that was needed:
fixed with   #14644,  #15124
I ran through all the rest of the tutorials for every level and the cases where "dotnet run" was specifically used, however for all but the few I fixed listed above there were not any steps requiring further code changes so "watch" was not needed. So no

[2019-10-15 21:43] #15122 closed

[2019-10-15 21:45] #12864 closed

[2019-10-15 22:33] #15110 closed

[2019-10-15 22:35] HaoK commented on #12564
Yeah its a better approach to access things via the endpoint metadata as opposed using `IHttpContextAccessor`, which should typically only used as a last resort

[2019-10-15 22:36] #15045 closed

[2019-10-15 22:40] Rick-Anderson opened #15127 "Update to 3.0: Claims-based authorization"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25051544-0e4d-1715-95b7-3a8616475127
* Version Independent ID: 50736569-fc04-ec6d-7b33-a3e0c860b1ed
* Content: [Claims-based authorization in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/claims?view=aspnetcore-3.0)
* Content Source: [

[2019-10-15 22:52] poke opened #15128 "API reference missing for 3.0"
When looking at the [API reference docs for 3.0](https://docs.microsoft.com/en-us/dotnet/api/?view=aspnetcore-3.0), a lot of content appears to be missing, most notably all the MVC namespaces. There are only very few namespaces available when comparing that to [2.2](https://docs.microsoft.com/en-us/dotnet/api/?view=aspnetcore-2.2). This wasn’t as much as an issue during the 3.0 previews but now th

[2019-10-16 00:21] jovton opened #15132 "ASP.NET Core 2.2 Online Documentation"
The online documentation for ASP.NET Core 2.2 says: Prerequisites ".NET Core 3.0 SDK or later". Is that really so?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca6139d4-022c-395a-0abf-539660550df1
* Version Independent ID: 3dd23f8a-300e-3f78-1dc5-8b759aabdccc
* Content: [Get started with ASP.NET Core](https://docs.mi

[2019-10-16 01:13] henryjones000 opened #15133 "Error. How to solve?"
CS0103: The name 'Host' does not exist in the current context.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a4022c-7ef1-3c30-4f9d-cf521a57a44a
* Version Independent ID: a0b5e15c-d747-8710-95fb-a55c09861a1e
* Content: [Work with SQL in an ASP.NET Core MVC app](https://docs.microsoft.com/en-us/aspnet/core/tutorials/f

[2019-10-16 01:26] khteh commented on #15056
@Rick-Anderson, there is no article or code snippet. I log HttpRequest in a request delegate inthe configure method.
[code]
This can be done because `HttpContext` is readily available as the delegate input argument. I was thinking to log the gRPC `ServerCallContext` information as part of this logging pipeline but how / where do I get the `ServerCallContext` instance in the delegate in this case?

[2019-10-16 01:56] bdcoder2 commented on #14860
Same issue here - .Net Core 3.0 project, Error shows:

using Microsoft.AspNetCore.Authentication;

But error displayed is:

'HttpContext' does not contain a definition for 'SignInAsync'

[2019-10-16 02:20] Rick-Anderson commented on #15133
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2019-10-16 02:20] #15133 closed

[2019-10-16 02:20] Rick-Anderson commented on #15056
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-10-16 02:20] #15056 closed

[2019-10-16 02:22] Rick-Anderson commented on #14860
No, it means https://docs.microsoft.com/dotnet/api/microsoft.aspnetcore.authentication.authenticationhttpcontextextensions.signinasync doc pages is not updated for 3.0

[2019-10-16 02:25] Rick-Anderson commented on #15132
Yes, we don't keep older versions of this tutorial. The instructions should work for 2.1 and 2.2

[2019-10-16 02:25] #15132 closed

[2019-10-16 02:39] henryjones000 opened #15134 "Error"
I am using Visual Studio 2019 and I get a "The name 'Host' does not exist in the current context." Is this caused by the new version? When I look at the potential Fixes option, it suggested I change Host to IHost. Is Host a typo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a4022c-7ef1-3c30-4f9d-cf521a57a44a
* Vers

[2019-10-16 02:40] Rick-Anderson commented on #15134
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2019-10-16 02:40] #15134 closed

[2019-10-16 02:41] Rick-Anderson commented on #15134
Follow the tutorial. You might download the completed app and compare. Search for `host` on the doc page.

[2019-10-16 03:11] henryjones000 opened #15135 "Use of Seeding"
What is the purpose of seeding the database? Can the program function without it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a4022c-7ef1-3c30-4f9d-cf521a57a44a
* Version Independent ID: a0b5e15c-d747-8710-95fb-a55c09861a1e
* Content: [Work with SQL in an ASP.NET Core MVC app](https://docs.microsoft.com/en-us/aspn

[2019-10-16 03:49] tfabraham commented on #15119
All it requires is "MySetting": "abc" in appsettings.json, then (attempting to) override it in the custom provider with "MySETTING" = "def" (in a Dictionary without StringComparer.OrdinalIgnoreCase).  The resulting IConfigurationRoot after Build() will return "abc" from config["MySetting"] and "def" from config["MySETTING"], when both should now return "def" (assuming the custom provider comes las

[2019-10-16 03:59] darkpq commented on #13144
**tl;dr:** Does using a pattern of establishing/reestablishing websocket-based connections to a hub on an as-needed basis create too much connection overhead (or defeat the purpose of web-sockets to begin with) to be useful as a solution to the above problems? (The idea being that each re-established connection would use a token re-fresh pattern)

**Story:**
I'm currently trying to write a live mu

[2019-10-16 05:02] fmir864 commented on #14863
Same issue occurred on my Win 7 x86 machine running VS 2019 16.3.4 and .NET Core 3 SDK. Following post had the answer;

https://developercommunity.visualstudio.com/content/problem/753703/package-manager-console-scripthalted.html

Bottom line is need to update Powershell to version 5.1 to work with Core 3 Entity Framework.

[code]

[2019-10-16 06:10] Rick-Anderson commented on #15135
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.