[2020-07-17 18:59] Rick-Anderson commented on #19239
he values are stored in a JSON configuration file in a system-protected user profile folder on the local machine:

[2020-07-17 18:59] #19239 closed

[2020-07-17 19:04] #18704 closed

[2020-07-17 19:10] mkArtakMSFT commented on #18710
This indeed seems to be something to be documented on the SignalR side.

[2020-07-17 19:10] mkArtakMSFT commented on #18710
Having said that, I don't think there is much from the Blazor side we want here.

[2020-07-17 19:12] guardrex commented on #18710
I'll work it as a SignalR issue unless @BrennanConroy and/or @scottaddie says otherwise. Plz go ahead and reassign it if anyone else should work it.

[2020-07-17 19:28] mkArtakMSFT commented on #18710
@bradygaster who is the best person to document this for SignalR ? I'm removing this from the Blazor docs project.

[2020-07-17 19:31] mkArtakMSFT commented on #18807
@javiercn can you please help with this:

[2020-07-17 19:52] sukesh-ak commented on #19239
I understand that.

Question is
How do I transfer the user-secrets to make sure my application can find it on a different machine?

[2020-07-17 20:52] serpent5 opened #19245 "AddRazorPages().AddRazorPagesOptions(...) could be AddRazorPages(...)"
A few of the examples in this topic use the following code:

[code]

The following code is essentially the same, but a bit simpler:

[code]

There's another use of this in [Razor Pages route and app conventions in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/razor-pages-conventions). The explanation that goes with that one actually talks of `AddMvc`, but shows `AddRazorPa

[2020-07-17 21:13] guardrex commented on #19245
The "MVC" language is leftover from a bygone age when green dinosaurs walked the Earth ...

https://github.com/dotnet/AspNetCore.Docs/pull/4623/files#diff-7dd60462f639e5ca08accb6d2d4723dcR389

... and can be changed.

[2020-07-18 09:44] SaebAmini commented on #19226
Rex, you know we all love you mate ❤. I've always been impressed with how you do an amazing job answering to all the issues raised here so quickly and with so much helpful information. Sorry I got a bit grouchy with the canned response. I think the main reason was not that I expected to find all the information in this "how-to", but that the information in other places is also so fragmented and ha

[2020-07-18 22:31] fornax76 opened #19248 "API authorization option fails"
As per this document, I tried both approaches to Configure Identity Server - API authorization options & Profile Service.

API authorization options failed with a runtime exception "IUserClaimsPrincipalFactory`1 not registered.'"
Profile Service worked fine

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9638772f-0f1e-c

[2020-07-18 22:44] guardrex commented on #19248
Hello @fornax76 ... That approach was verified working when the content was put up. If you're willing to put up a repro project on GH, I'll take a look. Otherwise, it's not really actionable without more information.

[2020-07-19 10:11] codertimu opened #19249 "Example in "component should not write to their own state" is using wrong field"
The example uses the public parameter in `If` statement:
[code]

Instead, it should use the private field:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a32115-33f8-7d06-aaf0-b8ce918b5527
* Version Independent ID: 31ad18df-1904-bbdd-cfed-8d0d0267c10e
* Content: [Create and use ASP.NET Core Razor components](h

[2020-07-19 11:11] SetTrend opened #19250 "Request: Tidy up ASP.NET Core documentation"
After reading a number of ASP.NET Core documentation pages (Fundamentals section) for the last couple of days, I'm disappointed. I realize I'm losing much of my time because large chunks of content in the pages are frequently (and unnecessarily) repeated across a page.

While reading, it's generally realized that the same information that has already been read a couple of paragraphs before has bee

[2020-07-19 11:46] guardrex commented on #19249
Good :eye: @codertimu! ... It was an oversight (bad cut-'n-paste! 😣) on a recent update when I copied the code down to that example from the prior example but didn't update the var ...

https://github.com/dotnet/AspNetCore.Docs/pull/19102/files#diff-6a6f708418fe3a9fd4de83332f7bf03cL660

I'll fix it right now.

[2020-07-19 11:51] #19249 closed

[2020-07-19 17:39] thorstenmz opened #19253 "QueuedHostedService implementation will throw OperationCanceledException"
The current implementation of ```QueuedHostedService``` will most likely encounter an ```OperationCanceledException``` in the ```var workItem = await TaskQueue.DequeueAsync(stoppingToken);``` line. This exception will not be caught. This in turn means that the logging _"Queued Hosted Service is stopping."_ - and any clean up code! - will not be executed. A finally clause is in order here, I think.

[2020-07-19 18:59] #19245 closed

[2020-07-19 19:00] Rick-Anderson commented on #19250
Thanks for the comment

[2020-07-19 19:00] #19250 closed

[2020-07-19 19:08] Rick-Anderson commented on #19253
Why not, `catch (Exception ex)` catches all exceptions.

@halter73 please review or suggest a reviewer

The code in question:
[code]

[2020-07-19 19:12] thorstenmz commented on #19253
The line ```var workItem = await TaskQueue.DequeueAsync(stoppingToken);``` is not within the try block. Maybe it should got there?

[2020-07-19 19:26] halter73 commented on #19253
Glancing at the quoted code, `BackgroundProcessing` has inconsistent behavior depending on how the `stoppingToken` cancellation is observed.

If the cancellation is observed by `workItem`, and it throws an OperationCanceledException, it will be appropriately logged and swallowed. The while loop will then exit gracefully.

If the cancellation is instead observed by `TaskQueue.DequeueAsync`, the exc

[2020-07-19 21:19] Skybladev2 opened #19254 "System.TimeoutException on running example"
When I try to access `http://localhost:<port>/api/books page`, I get this error:

[code]

Both terminals are up and running.
How to fix this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5240866d-d0a1-f0dd-7b2c-203e1d69bc4b
* Version Independent ID: 83a5cb3b-23bc-4f0c-cd1c-1d1ffeb1131a
* Content: [Create a web API wi

[2020-07-19 21:46] BEsanov commented on #19222
Add the following code to **TodoApi.csproj**   inside the `<Project></Project>` tags:
`  <ItemGroup>
    <PackageReference Include="Microsoft.EntityFrameworkCore.InMemory" Version="3.1.6" />
  </ItemGroup>`

Source : https://stackoverflow.com/a/58469004/7745916

[2020-07-19 21:58] jazeem-azeez commented on #19190
I have highlighted in image, https://docs.microsoft.com/en-us/aspnet/core/fundamentals/websockets?view=aspnetcore-3.1
sharing again
![image](https://user-images.githubusercontent.com/8478849/87886248-b2263e80-ca1b-11ea-8078-7d1d9c62a023.png)

[2020-07-19 23:34] krchome opened #19256 "Asking for clarification in a statement on this document"
[Enter feedback here]
Hi There,

In this line "Each delegate can perform operations before and after the next delegate." vide URL:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-3.1
Can someone clarify the context of the words "after the next delegate" which is a bit confusing?
As far as I understand, Delegate performing operations after the next delegate is

[2020-07-19 23:45] Rick-Anderson commented on #19190
What's wrong with that?

[2020-07-19 23:45] #19190 closed

[2020-07-19 23:47] Rick-Anderson commented on #19256
Keep reading any look at the code.

[2020-07-19 23:47] #19256 closed

[2020-07-20 04:39] Rick-Anderson commented on #19254
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-07-20 04:39] #19254 closed

[2020-07-20 04:41] Rick-Anderson commented on #19228
@pranavkm  please suggest how to fix this.

[2020-07-20 04:44] Rick-Anderson commented on #19224
@shirhatti  @maryamariyan can you suggest someone to prove code samples and the first draft?

[2020-07-20 04:46] Rick-Anderson commented on #19223
Sounds great to me.
 @scottaddie @mkArtakMSFT if you have objections voice them ASAP.

[2020-07-20 06:57] timrobinson33 opened #19257 "Should mention that these considerations don't necessarily apply to Azure"
In the page https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/azure-apps/?view=aspnetcore-3.1&tabs=visual-studio#data-protection-key-ring-and-deployment-slots it says "Data Protection keys are persisted to the %HOME%\ASP.NET\DataProtection-Keys folder. This folder is backed by network storage and is synchronized across all machines hosting the app."

This implies to me that for a standa

[2020-07-20 07:46] sguryev opened #19258 "Add potential solution to return consistent 400 responses"
Could you please add potential solution for returning consistent 400 response to this section https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-3.1#automatic-http-400-responses?

[code]

Source: https://stackoverflow.com/a/56126119/1521008

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b391017f-25e1

[2020-07-20 08:05] epmpub commented on #17315
The code sample is about a WPF application.
I would like to complete it to cover a "Console Application" too.

me too.

[2020-07-20 11:10] ChrisBertrand commented on #18431
I am following this to add a root component to the page which is displaying correctly. However, no parameters that are passed into this from the views is being read correctly. Is this not possible on rootcomponents?

[2020-07-20 11:35] wayneforrest opened #19262 "Where does IsDevelopment() originate from?"
[Enter feedback here]

Is this line of code correct: **env.IsDevelopment()**

[code]

I have looked here: **IWebHostEnvironment** and here **IHostEnvironment**
and I cannot see where the method originates from.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceffa6a2-770c-1cd9-5145-dcd423f9dd22
* Version Independent ID:

[2020-07-20 12:20] MatsyshynAnton opened #19263 "A typo in Customize WebApplicationFactory section"
Hi everyone! I'm working on integration tests in my web application, and trying to customize WebApplicationFactory. I found sample [here](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.1#customize-webapplicationfactory), but when I tried it, it didn't work.

I think there is a mistake when from app's context remove `DbContextOptions<ApplicationDbContext>` ins

[2020-07-20 12:35] guardrex commented on #19257
Hello @timrobinson33 ... This topic doesn't imply or assume anything about how Azure will host. It only mentions Azure in three spots:

* As a "Scalability" example.
* Cross-link to the Azure App Service topic as a "General configuration" section link, which is where DP config for Azure App service is covered.
* As an additional resource for the Custom Script Extension.

The topic is only meant to

[2020-07-20 12:35] #19257 closed

[2020-07-20 13:03] guardrex commented on #19262
Hello @wayneforrest ...

* https://docs.microsoft.com/dotnet/api/microsoft.extensions.hosting.hostenvironmentenvextensions.isdevelopment
* https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/HostEnvironmentEnvExtensions.cs#L18

It's too bad that the API docs don't link directly to the reference source, but that's probably challenging for the do

[2020-07-20 13:03] #19262 closed

[2020-07-20 13:54] guardrex commented on #19263
Hello @MatsyshynAnton ...

The app runs here in it's present form ...

<img width="284" alt="Capture" src="https://user-images.githubusercontent.com/1622880/87944986-bbd49400-ca65-11ea-93c8-ac2b6773e3f8.PNG">

... but your SUT's dB context might be registered differently.

I see two registrations when the sample solution's SUT runs ...

I wonder if it should be `ApplicationDbContext` and we didn't

[2020-07-20 14:11] guardrex commented on #19263
@MatsyshynAnton ... Can you show your SUT's db context? Did you set it up exactly like the SUT does? ...

[code]

[2020-07-20 14:34] guardrex commented on #19248
@fornax76 ... Can you paste your `Startup.ConfigureServices` in to a comment here?

[2020-07-20 15:07] mrlife opened #19264 "SignalR with Blazor Server"
Can this be updated or forked to include how it would be done in Blazor Server as well?

I don't see anything official using or mentioning using SignalR with Blazor Server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08de9daf-79aa-ee76-431e-f2432f8d691e
* Version Independent ID: 1a1ee728-1741-c82a-75e1-06159709935b

[2020-07-20 15:19] guardrex commented on #19264
It should work with a standard app conversion.

We're keeping an :ear: open for more feedback ...

https://github.com/dotnet/AspNetCore.Docs/issues/18268#issuecomment-655527792

I think ur the 2nd reader to ask.

Given that most of the guidance will be the same, I don't think it will take a lot of effort to address it when the time comes. I wonder if we should use our shiny new **_doc pivots_** fo

[2020-07-20 15:25] mrlife commented on #19264
The pivot is pretty cool - it remembers which one was chosen when you return to the page.

[2020-07-20 15:35] guardrex commented on #19264
They (tabs vs. pivots vs. new docs) each have their downsides ...

* Tabs: We can't create the tab titles at-will. There's an approval process, and management might say 'no' to *Blazor WebAssembly* and *Blazor Server* tabs. They also clutter a doc when there are several of them.
* Pivots: Require in-text duplication for the common content or the use of INCLUDES.
* Multiple topics: Same as pivots (

[2020-07-20 15:43] guardrex commented on #18297
@mkArtakMSFT I'm working on this issue now. I think we should try a single **_pivot_** topic for this at first. I can use INCLUDES for common content. Let's give it a shot. I think it would reduce our burden for:

* A new node and *Overview*.
* More complicated content split between/among topics.
* More messing about with the ToC.
* Another redirection file entry.

If it doesn't work out on review

[2020-07-20 15:45] maryamariyan commented on #19224
@Rick-Anderson I can help out.

[2020-07-20 16:15] pranavkm commented on #19228
Lots of result types in MVC are mutable. Why is it considered a bad programming practice?

[2020-07-20 17:06] danroth27 commented on #18431
Hi @ChrisBertrand.  There isn't a built-in way right now to flow parameters from the view/page to the component when it is rendered client-side in the browser. You'd have to somehow serialize the parameters into the rendered page and then pick them up in your component implementation.

[2020-07-20 18:09] #18181 closed

[2020-07-20 19:22] #19228 closed

[2020-07-20 20:53] MackinnonBuck opened #19265 "Add documentation on influencing the HTML head from Blazor"
[EDIT by guardrex to add the metadata]

A new preview8 feature enables influencing the HTML `head` element from Blazor.

When rendered, the `Title`, `Link`, and `Meta` components add or update data in the HTML head.

Usage example:

[code]

Here are a few notes about the feature:
* Server-side prerendering is supported.
* Only the `Value` parameter is valid in `Title`. For `Meta` and `Link`, all p

[2020-07-20 21:02] wayneforrest commented on #19262
Thank you @guardrex  for link to the documents.

Can you please assist more?

Given the Example Code and the Docs below:

1. Docs: `public static bool IsDevelopment (this Microsoft.Extensions.Hosting.IHostEnvironment hostEnvironment);`
2. Example code: `if (env.IsDevelopment())`

--------------------------

Here is the problems I see, or do not see:

1: The docs sate it is a static method, but in

[2020-07-20 21:07] maryamariyan commented on #15020
I'm trying to find what change caused this. @JunTaoLuo can you help me with this?

[2020-07-20 21:37] guardrex commented on #19262
@wayneforrest See on *extension methods in C#* :point_right:

https://docs.microsoft.com/dotnet/csharp/programming-guide/classes-and-structs/extension-methods

We recommend support channels for general programming assistance. As you can see by the 400+ topics, 100+ sample apps, and ~500 issues, 🏃😅 we're generally swamped here with doc work. Try these channels .....

* [Stack Overflow](https://stac

[2020-07-20 21:52] guardrex commented on #19265
Thanks @MackinnonBuck ... I'll get on this one soon ... probably in a day or two if nothing else pops up on the radar. I'm going to try to 🎷 *JAM!* 🎸 on the 5.0 Blazor content issues as they arise to make our lives a lot easier later.

[2020-07-20 21:55] wayneforrest commented on #19262
Thank you for help, I was not aware of that C# magic / tricks.

[2020-07-20 21:56] guardrex commented on #19265
@mkArtakMSFT This one looks 🔥 **_HOT!_** 🔥, so perhaps we should place it at the bottom of the *Components* overview topic as opposed to placing it into the *Fundamentals* > *Additional scnearios* topic. I think it will get better visibility in the overview.

[2020-07-20 22:52] samnaseri opened #19267 "a mistake in a sample code"
For the below sample code you provided here I think the value for constraints should be `new { ssn =`
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32374077-e02e-d6a6-1cea-05e58447b7cd
* Version Independent ID: 86aeab13-1c25-9fc1-4e56-0390cb40c242
* Content: [Routing in ASP.NET Core](https://docs.microsoft.com/

[2020-07-20 22:56] Rick-Anderson commented on #19267
cc @serpent5

[2020-07-20 23:13] mkArtakMSFT commented on #19265
@guardrex, let's go with `Fundamentals > Additional scenarios` for now.

[2020-07-21 00:27] pstricks-fans opened #19268 "Need to explicitly specify that the suffix Changed is mandatory for creating bindable components."
In the section about Parent-to-Child binding, I think you need to explicitly specify that the suffix `Changed` in `YearChanged` is mandatory. Attempting to use another suffix will cause a runtime error.

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b211df59-e1c9-86c0-c904-31fa3c361e6d
* Version Independent ID: 3f912dfc-5b

[2020-07-21 01:26] #19258 closed

[2020-07-21 02:37] #19244 closed

[2020-07-21 02:42] Rick-Anderson commented on #16466
Fixed

[2020-07-21 02:42] #16466 closed

[2020-07-21 03:38] fornax76 commented on #19248
Yes - I am adding the repro project.

[2020-07-21 06:17] fornax76 commented on #19248
Created a new project and tried to recreate my steps with API authorization option - **but it works fine now**. I am unable to reproduce the error, my apologies. Please close this issue.

Uploaded here: https://github.com/fornax76/IdentityDemo

[2020-07-21 06:17] #19248 closed

[2020-07-21 06:49] awaisshabir commented on #16679
Custom storage providers for ASP.NET Core Identity is working fine if you followed the tutorial but only one problem i am facing the user claim is null

[2020-07-21 09:22] nellonet opened #19272 "Get all solution and make test in visual studio"
hi, excuse me if my question is stupid but I don't have solution:
can I get the entire solution ../sample/3.x/Localization/ and test it in my visual studio? (I don't have clone button)
thank you for answer
nello

[2020-07-21 09:27] MatsyshynAnton commented on #19263
@guardrex Thank you for response :) Looks like here is my mistake
Here is my database context:
[code]
I have tried to replace this context with context which use SQLite in-memory database (for integration tests) like this:
[code]
But, **this approach didn't work**, somehow I kept working with my old database context and create/read/update/delete entities from my SQL-server.

When I tried sample fr

[2020-07-21 11:22] guardrex commented on #19263
That's ok ... no worries. In fact, let's leave this open for a sec. I want to drop that conditional check. `Remove` just returns `false` if the service isn't found. The conditional check isn't doing anything there.

Also, I'd like to move the code comments into the text. They aren't localized when they're in the code like that, and I'd like to change a little bit of the language used.

This issue

[2020-07-21 11:39] guardrex commented on #19272
@nellonet ... You have to be at [the top level of the repo](https://github.com/dotnet/AspNetCore.Docs). It's under the **Code** button now.

[2020-07-21 11:39] #19272 closed

[2020-07-21 12:04] yujiy0713 commented on #16081
I had the same problem. Here is the solution for people to save time.
I believe you created openssl certificate to be used for IdentityServer. The subject name was *****.azurewebsites.net.
Create a new one for your custom domain and add it to Private Key Certificates in Azure App Services TLS/SSL Setting in the same way.
In App Services Configuration, revise your WEBSITE_LOAD_CERTIFICATES value to

[2020-07-21 12:07] javiercn commented on #16081
Ideally yes. One is to sign tokens, the other one to handle HTTPS. It's possible to use the same cert, but it is definitely not recommended and considered an antipattern.

[2020-07-21 14:37] guardrex commented on #18297
@MackinnonBuck ... You mentioned (and showed) a change for local storage `GetAsync`. Is the current coverage on **_session storage_** still accurate? ...

[code]

[2020-07-21 15:27] #19263 closed

[2020-07-21 15:44] #19268 closed

[2020-07-21 16:02] mrlife commented on #19264
If it saves money, I think if it's mentioned somewhere that SignalR is compatible with all varieties of ASP.NET Core, that would be enough.

[2020-07-21 16:51] MackinnonBuck commented on #18297
@guardrex The new changes apply for both local storage and session storage.

[2020-07-21 16:53] guardrex commented on #18297
Ok ... I'll likely need to make one more commit then. Stand-by before you review.

[2020-07-21 16:54] guardrex commented on #18297
lol ... I forgot ...... tomorrow. I need to sleep on it one more night. I'll make the changes, and they'll be on the PR in the morning.

[2020-07-21 19:27] JunTaoLuo commented on #15020
I'm not quite understanding what the issue here is. Specifically, what do you mean by packfile? Is this related to using the PhysicalFileProvider in aspnetcore? If that's the case, there is a bug since we still expose the physical path: https://github.com/dotnet/extensions/blob/release/3.1/src/FileProviders/Physical/src/PhysicalFileInfo.cs#L32

[2020-07-21 19:29] maryamariyan commented on #15020
@JunTaoLuo I'll close this as dupe of https://github.com/dotnet/docs/issues/19562

[2020-07-21 19:29] maryamariyan commented on #15020
Actually I don't have permissions :)

[2020-07-21 19:33] maryamariyan commented on #15020
Same code as moved to runtime: https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.FileProviders.Physical/src/PhysicalFileInfo.cs#L32

[2020-07-21 19:43] scottaddie commented on #19223
@Rick-Anderson I'm okay with this.

[2020-07-21 19:53] maryamariyan commented on #15020
The only relevant change I have found since then is https://github.com/dotnet/extensions/pull/928

[2020-07-21 20:22] serpent5 commented on #19267
Yep, this one's a typo.

@samnaseri Would you like to submit a PR with the fix you mentioned? Otherwise, I can do it.

[2020-07-21 20:25] jhudsoncedaron commented on #15020
@maryamariyan : Ah you're looking in the wrong direction. Breaking change happened between 2.1 and 3.0; see initial date of October 2019.

[2020-07-21 20:55] maryamariyan commented on #15020
cc @HaoK

Repro code: https://github.com/dotnet/docs/issues/19562#issuecomment-662061423

[2020-07-21 21:11] Rick-Anderson commented on #19223
@mihail-vladov  a PR would be welcome.

[2020-07-21 23:11] Rick-Anderson opened #19278 "Static file authorization"
Under [Static file authorization](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/static-files?view=aspnetcore-3.1#static-file-authorization) say *put StaticFiles after Authorization if they want to require the static files to be authorized. That's actually the easiest way to do static file auth.* per [this comment](https://github.com/dotnet/AspNetCore.Docs/pull/18825#discussion_r4584227

[2020-07-21 23:37] Rick-Anderson opened #19279 "Add new section Optimized type activation"
Add `### Optimized type activation` before  `## Recommended patterns for multi-tenancy in DI` based on [this video](https://youtu.be/x-C-CNBVTaY?t=1880).

@serpent5  after #19271 merges, can you help me add this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d78f540-81fd-1ba9-cb90-591e4ec27d9b
* Version Independent I

[2020-07-22 00:09] geofflangenderfer opened #19280 "`dotnet ef migrations add InitialCreate` --> `Build failed.`"
# Before you open an issue

If the issue is with an ASP.NET Core document, open the issue with the **Content feedback** button at the bottom of that document page.

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, conside

[2020-07-22 00:22] geofflangenderfer commented on #8240
try running the cli commands in both command prompt and powershell. For me:
- failed in command prompt
- succeeded in powershell

[2020-07-22 00:24] #19280 closed

[2020-07-22 00:46] geofflangenderfer commented on #17986
Do you mean
[code]

[2020-07-22 09:32] fyodorklimenko opened #19281 "`int.MaxValue - 10` as default value for `Order` in `HttpResponseExceptionFilter` class."
[EDIT by guardrex to add the metadata. @fyodorklimenko, Use the **This page** feedback button and form at the bottom of the English US topic to open new issues. It will add the metadata automatically and ping the author of the topic for you.]

Hey!

I found this line: https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/web-api/handle-errors/samples/3.x/Filters/HttpResponseExceptionFil

[2020-07-22 10:28] guardrex commented on #19281
For a faster response, close this issue and re-open it using the **This Page** feedback button+form at the bottom of the English topic. It will add metadata that cross-links the topic and automatically pings the author.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

[2020-07-22 13:38] IanKemp opened #19282 "Add information about ControllerBase.Problem(), ControllerBase.ValidationProblem(), ProblemDetails, ValidationProblemDetails to this topic"
These methods and classes are very useful, but there seems to be little official information around their usage and how they tie back into model validation. The docs would be greatly enhanced if such information was added.

***EDIT by @Rick-Anderson***

- [ ] First step is create sample code with these APIs at https://github.com/dotnet/AspNetCore.Docs.Samples/tree/main/mvc (create samples in valid

[2020-07-22 13:48] guardrex commented on #18297
@scottaddie ❓ ... For the new pivot group `blazor-hosting-models`, I'll go with ...

[code]

... but I noticed while adding the new group that prefixing the OSes in the `operating-systems` group with `os-` is overkill. It's a common and meaningless prefix for a whole topic that uses pivot groups on OS. It seems to make more sense to drop the `os-`. After all, I don't plan on using `hosting-model-w

[2020-07-22 14:06] ZaL133 opened #19283 "Missing Prerequisite"
As far as I can there is a prerequisite that is not mentioned in the doc. I would edit the page directly but i'm new to aspnet core and am not 100% confident that the BuildBundlerMinifier package I installed was the proper and supported package, but I do know that it didn't work without.

For context, I had installed a new Core Mvc project using the File -> New dialog menu in VS.

---
#### Documen

[2020-07-22 15:09] scottaddie commented on #19282
@IanKemp Are there any specific questions you'd like answered in the doc? Also, have you seen https://docs.microsoft.com/aspnet/core/web-api/handle-errors?

[2020-07-22 15:10] guardrex commented on #19264
In a tutorial, we expect the reader to be able to follow the topic step-by-step to a good outcome. That can't be done for Blazor Server in the topic's current form, so we either need to not proceed (close this and collect more feedback), create a new topic, or go with pivots. *I still favor pivots for this.*

Let's see what Brennan wants to do, and we'll take it from there.

[2020-07-22 15:12] mrlife commented on #19264
@guardrex Sorry, when I mentioned "somewhere", I didn't mean in the tutorial, just in the docs somewhere, if that makes a difference.

[2020-07-22 15:13] scottaddie opened #19285 "Update 3.1-to-5.0 migration guide for Preview 7"
React to the announcement at https://devblogs.microsoft.com/dotnet/announcing-net-5-0-preview-7/

[2020-07-22 15:18] guardrex commented on #19264
It's broadly acknowledged in the Blazor overview and then picked up with specific configuration guidance in other Blazor topics, for example in the Blazor *Fundamentals* > *Additional scenarios* topic.

If we make the updates to the tutorial, it will be even better over in the Blazor docs node because this tutorial shows up *very early* in the topic reading list, and we know that readers often go

[2020-07-22 15:40] guardrex commented on #18134
@captainsafia I'm up to working on this one today. I should have the state management doc work done and up in the PR soon, and I should have enough time left today to knock this out (... or tomorrow morning 🏃🏃🏃🏃😅).

I think that I'm right about the EF Core config provider for WASM ... that's not going to work without more work to deal with the concurrent dB context problem.

I think it's probably

[2020-07-22 15:50] guardrex opened #19286 "Blazor project tracking 2021"
This issue will ...

* Maintain a set of doc ideas for Blazor topics that we either don't want to (or can't) address in the near-term or are just ideas for consideration that don't warrant an issue at this time.
* Track work on topic UE (user experience) passes (i.e., topic overhauls).

### Doc ideas

* [ ] Confirm with the PU that runtime relinking is a **publish-and-Release config** gesture. Bui

[2020-07-22 16:08] serpent5 commented on #19279
Yep, of course. Just let me know what you need when you get there.

[2020-07-22 17:40] guardrex commented on #18864
I guess we'll continue with things as they are. Let me know if you want this one re-opened for work. :ear:

[2020-07-22 17:40] #18864 closed

[2020-07-22 18:20] mkArtakMSFT commented on #18864
we should be consistent for sure. Let's wait and listen to the community feedback before making any changes here.

[2020-07-22 18:51] guardrex commented on #17651
This has gone forward for 5.0 release.

[2020-07-22 18:54] #19223 closed

[2020-07-22 19:43] #19285 closed

[2020-07-23 03:50] vnwonah opened #19290 "Document Internal Workings/Implementation of AspNetCore Framework."
The dotnet ecosystem has seen a shift towards working more openly since large parts of the frameworks became open source, however, for such a widely used framework, we are seeing orders of magnitude fewer oss (non -Microsoft) contributors than similar frameworks in other ecosystems.

One of the reasons for this is documentation, an area that if improved, can make all the difference.

The documenta

[2020-07-23 06:00] rollandjb opened #19291 "Missing blazor WebAssembly tooling instructions at link"
[EDIT by guardrex to change the metadata]

Debug instructions [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?tabs=visual-studio-code&view=aspnetcore-3.1#visual-studio-code) where it says:

brings you to this page, which, for mac, only says _Install Visual Studio for Mac_, and nothing about vs code setup

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-07-23 10:02] guardrex commented on #19291
Hello @rollandjb ... Management recently decided to recommend that users on Mac use VS for Mac and users on Linux to use VS Code. Follow the instructions on the Linux tab to get VS Code.

I'll fix the line in the Debug WebAssembly topic to point directly to the VS Code install page. Thanks for calling it out.

[2020-07-23 10:06] #19291 closed

[2020-07-23 13:07] serpent5 commented on #19279
I just watched the section on "Optimized type activation". My interpretation of that is it's not something that should be documented, as such. I think it's just another reason to prefer "proper" DI over using the service-locator. I could well be wrong though, as there wasn't much information in the video.

[2020-07-23 15:55] scdehmlow opened #19294 "Blazor Webassembly ASP.NET Core Hosted as Windows Service"
[EDIT by guardrex to change the metadata]

I had to use `UseContentRoot` with the absolute publish path on the host builder rather than `SetBasePath` on the configuration builder so the Blazor files could be picked up. Is that the best way to do this and is it worth adding to the docs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-07-23 16:56] smiller7812 opened #19295 "Cannot open Client-Side Package Manager"
Anyone know why "Client-Side" Package Manager will not come up?
When I click on Manage client-side library, libman.json pops up.
Cannot get the GUI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d69ef46-689c-33d0-c86b-078c8172c480
* Version Independent ID: 519af8ab-78e5-88c9-f268-431f417eca73
* Content: [Use LibMan w

[2020-07-23 17:14] guardrex commented on #19294
Hello @scdehmlow ... I'm going to re-target this for the Blazor doc set. We'll document in Blazor's *Host and Deploy* node overview for this. As for it being the best approach in this scenario, it's certainly sounds good :ear:. We'll need to get engineering to respond, so I'll mark this for triage. After that, *yes* ... it's good to call it out.

[2020-07-23 17:49] scottaddie commented on #19295
Moved issue to the engineering repo for review.

[2020-07-23 17:49] #19295 closed

[2020-07-23 18:35] guardrex commented on #18807
Hack'in about with this one now. It looks like Javier has this working as of 3.2 Preview 4 ...

https://github.com/javiercn/BlazorMultipleApps

... so I take that forward to 3.2. Two things tho ...

* This scenario is a pain for demonstration purposes to use the hosts `firstapp.com` and `secondapp.com`. It would be simpler if we base it on `localhost` with a separate port number for each client ap

[2020-07-23 18:59] #19281 closed

[2020-07-23 19:55] scottaddie commented on #19290
Thank you for opening this issue, Vincent! Adding @davidfowl, as I know he was involved in the Twitter thread too.

[2020-07-23 22:48] Rick-Anderson commented on #19279
That's what I was thinking, thanks.

[2020-07-23 22:48] #19279 closed

[2020-07-24 01:28] #19283 closed

[2020-07-24 01:32] scottaddie commented on #18297
@guardrex Your zone pivots proposal sounds good to me.

[2020-07-24 01:49] #19267 closed

[2020-07-24 03:28] #18843 closed

[2020-07-24 03:35] HillPhelmuth opened #19302 "Clarity on how to "Reference the Brotli decoder" for Blazor stand-alone app"
This is a little unclear how exactly to get from

To the

And the brotli Github repo itself has a variety of ways to install brotli, but I'm assuming that's not what this document is intending.
Do we just need to copy the decode.js file into wwwroot and then modify index.html, or is there more to it than that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-07-24 07:19] JACKCHEN96 commented on #17533
Hi, how did you fix this bug then?

[2020-07-24 10:34] kenleese opened #19303 "Missing deployment information"
The page text provides a link to further information: “ For more deployment samples, see the Web SDK repository Readme.”

Unfortunately due to repo reorg it no longer contains anything useful. Where is this additional content now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 684d1f55-3d8b-9ba6-ee65-e8f84c2b4244
* Ver

[2020-07-24 12:11] swannet opened #19304 "Can't get groups from claimms"
I setup my project based on the doc’s (https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-azure-active-directory?view=aspnetcore-3.1) and authentication is working fine.

On https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/azure-active-directory-groups-and-roles?view=aspnetcore-3.1 I found this:
“The single groups claim sent by AAD presents

[2020-07-24 12:43] guardrex commented on #19302
Hello @HillPhelmuth ... This is a scenario that I haven't personally tried yet. Yes, that's my take on it. Let's confirm ......

@mkArtakMSFT ... Is the intention to get `decode.min.js` from the following for this ...

https://github.com/google/brotli/blob/master/js/decode.min.js

[2020-07-24 13:13] guardrex commented on #19304
Hello @swannet ...

It means that the user has more than five groups. Azure sends this claim and then the app should make a separate Graph API call to get the user's groups.

We have an issue to address this at https://github.com/dotnet/AspNetCore.Docs/issues/18510.

Azure docs are mentioned in my remark at :point_right: https://github.com/dotnet/aspnetcore/issues/22197#issuecomment-634755817

The

[2020-07-24 13:13] #19304 closed

[2020-07-24 13:15] guardrex commented on #18510
@mkArtakMSFT ... We've received another ask on this issue to document an implementation of the Graph API call for users that have more than five security groups for the Blazor WASM AD security topic. I'll move the priority up to P1, and I hope to work it Monday (7/27). Let me know if you prefer a different priority/time for this.

[2020-07-24 13:48] imba-tjd opened #19305 "MovieContext -> RazorPagesMovieContext"
In https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-3.1&tabs=visual-studio-code#scaffold-the-movie-model

There are

[code]

which should be `RazorPagesMovieContext`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096

[2020-07-24 15:35] nssidhu opened #19307 "What are the limits on concurrent connections in ASP.NET Core SignalR"
Since connections as persistent between client and server, is there a way to find out how many concurrent connection can be kept open per server ?
How do i estimate the sizing when deploying it to Azure App Service ?
How do i estimate the sizing if i decide to use Azure SignalR Service ?

When does server release the connection, if client closes the app, so that server can accommodate other client

[2020-07-24 16:36] guardrex commented on #19307
Hello @nssidhu ...

For a faster response, close this issue and re-open it using the **This Page** feedback button+form at the bottom of the English topic. It will add metadata to cross-link the topic and automatically ping the author.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

[2020-07-24 17:40] kobedddh opened #19309 "Is and example of Slug style routing where it's typical to have an article name as part of the URL."
Is **and** example of Slug style routing where it's typical to have an article name as part of the URL.
should be replaced with
Is **an** example of Slug style routing where it's typical to have an article name as part of the URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee6ad2f-1667-8d5c-1f36-9d0511e3720f
* Ver

[2020-07-24 17:46] stevebelskie commented on #19093
@Rick-Anderson It also results in a 404 when looking at the 2.1 version of the docs though. Looks like it's using 2.2 urls for all versions 2.X and lower.

[code]

I would imagine these should point to 2.1 instead since it's LTS. If that's the case, I'd be happy to submit a PR for this.

[2020-07-24 18:04] Xymanek opened #19311 "Invalid link for an example of dotnet aspnet-codegenerator controller"
[code]

The above links to https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model which is about razor pages, not controllers...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 517fdd63-f70b-a52b-56fa-e5051a13ae00
* Version Independent ID: 754e1c4d-4742-a83b-7f2d-5dead439e569
* Content: [dotnet aspnet-

[2020-07-24 18:08] lonpalmer opened #19312 "Not helpful for VS Code Users"
This section:
[code]

Doesn't help anyone.  Need to add a lind to the "Correct Extensions" that should be installed and also a link to enable "JavaScript preview debugging"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f61c7-9f51-6735-e328-3c7b495d70c3
* Version Independent ID: 4d06e565-282d-6387-aa90-cb2c2986d35a

[2020-07-24 18:16] guardrex commented on #19312
Hello @lonpalmer ...

... also "extensions" should be singular. It should just require the **C# for Visual Studio Code extension**, which is mentioned in the **Linux** version of the [Tooling doc](https://docs.microsoft.com/en-us/aspnet/core/blazor/tooling?view=aspnetcore-3.1&pivots=os-linux).

Preview debugging is in the IDE's **Settings**. Try search the settings for "preview" ...

<img width="4

[2020-07-24 18:56] wrc3 opened #19313 "Your example code throws an error."
This line throws an error in your code.

services.AddDbContext<TodoContext>(opt =>
               opt.UseInMemoryDatabase("TodoList"));

DBContextOptionsBuilder does not contain a defintion for 'UseInMemoryDatabase' and no accessible extension method....

Kind of sucks to work through code trying to learn and find out it doesn't work.

B

---
#### Document Details

⚠ *Do not edit this section. It

[2020-07-24 18:59] guardrex commented on #19313
Hello @wrc3 ... Looks like you may have missed a line ...

[2020-07-24 18:59] Rick-Anderson commented on #19303
@AngelosP can you recommend a new link?

[2020-07-24 19:20] efonsecab opened #19314 "Application always tries to authenticate"
I finished the tutorial, however, the application is always trying to authenticate as soon as it starts, which does not allow me to have a public section of the website and then authenticate by clicking a Sign Up/Sign In button
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 520b9821-ecef-20af-a601-ea36c4297d88
* Version

[2020-07-24 19:28] wrc3 commented on #19313
Yep you are right. Walked right over that one.  Sorry.

B

On Jul 24, 2020, at 14:59, Luke Latham <notifications@github.com> wrote:

﻿

Hello @wrc3<https://github.com/wrc3> ... Looks like you may have missed a line ...

Use the preceding instructions to add the Microsoft.EntityFrameworkCore.InMemory NuGet package.

—
You are receiving this because you were mentioned.
Reply to this email directly,

[2020-07-24 19:28] guardrex commented on #19314
Hello @efonsecab ... I can't explain that behavior, nor are other devs reporting that behavior. It's never been the case here in my own testing. Make sure that you're using a fresh inprivate/incognito browser for **every run**. There's advice in the *Troubleshoot* section of the topic.

We're a tiny team and only work on docs. We don't have the staffing to provide support. We can take a doc bug re

[2020-07-24 19:28] #19314 closed

[2020-07-24 19:31] guardrex commented on #19313
No worries ... it's happened a few times. I think ultimately if we keep getting this report that Rick will probably do something to make that step more prominent.

[2020-07-24 20:22] Rick-Anderson commented on #19305
Dup of #17986

[2020-07-24 20:22] #19305 closed

[2020-07-24 20:23] Rick-Anderson commented on #19309
@serpent5

[2020-07-24 20:24] Rick-Anderson commented on #19093
@stevebelskie  a PR would be appreciated.

[2020-07-24 20:27] Rick-Anderson commented on #19311
@serpent5  can you change this to https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-controller

[2020-07-24 20:30] Rick-Anderson commented on #19313
We did

# Add NuGet packages

[2020-07-24 20:33] guardrex commented on #19313
Right, but that section doesn't plainly list those two packages ... they're in the instruction text. That fifth bullet item seems like it's getting away from a few readers. I wasn't suggesting doing anything about it now ... I just meant if devs keep writing in about it.

[2020-07-24 20:36] scottaddie commented on #19303
@kenleese Here's a permalink to the README file: https://github.com/dotnet/websdk/blob/0e8c90a4a71c98a0eae4311fa53176843fdf84bf/README.md. @vijayrkn is working on moving this info to the root of the dotnet/websdk repo.

[2020-07-24 20:38] Rick-Anderson commented on #19313
@serpent5  can you change `Microsoft.EntityFrameworkCore.InMemory` to **Microsoft.EntityFrameworkCore.InMemory** or even ***Microsoft.EntityFrameworkCore.InMemory*** ?

[2020-07-24 21:10] kenleese commented on #19303
Thank you.
Respectfully, perhaps it would be an improvement to move this useful content into the docs.

[2020-07-24 21:56] scottaddie commented on #19303
I think that's a great idea. It would prevent this issue from occurring again in the future. The content would also get localized in the docs. I'll work with @vijayrkn to make this happen.

[2020-07-24 22:58] eddiepantoja opened #19316 "IdentityServer4 Configuration to work with Blazor Standalone & API"
There is great documentation on this page but I am am having issues developing a Blazor Standalone app with secure API and IdentityServer4. Marco De Sanctis has an [article](https://medium.com/@marcodesanctis2/securing-blazor-webassembly-with-identity-server-4-ee44aa1687ef) where he covers the topic but it is not updated with the latest releases of Blazor or IdentityServer4.

---
#### Document Det

[2020-07-24 23:07] guardrex commented on #19316
Hello @eddiepantoja ... There aren't any current open reports of problems with the topic's guidance.

That isn't specific enough for us to take action here. If you find something specifically wrong (or missing) with the topic's guidance, please do open an issue. Due to our small staff size, we're unable to provide product support. We recommend the usual support channels for assistance ...

* [Stac

[2020-07-24 23:07] #19316 closed

[2020-07-24 23:27] guardrex opened #19317 "Mention linking the stylesheet"
This section is missing a mention that the stylesheet for the example component, the one provided by the RCL template, must be linked via the `wwwroot/index.html` file. Also, I think the section should use the exact example component that the RCL project template provides.

Include the new `Link` component for 5.0+. Use this issue to update any spot where adding a link to the `<head>` is described

[2020-07-25 00:22] AlbertoPa opened #19318 "The Component instance method call does not provide information for methods with parameters"
The provided documentation covers the use case of an instance method without parameters. However, it is not applicable to the (frequent) case of instance methods with parameters that need to come from the JS code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bdccf73-41ed-b996-86c1-d8b7838f8773
* Version Independent

[2020-07-25 05:30] MahimaJindalMJ opened #19319 "There was an error running the selected code generator"
During this tutorial
http://www.codaffection.com/asp-net-core-article/asp-net-core-mvc-image-upload-and-retrieve/

On step Create MVC Image Controller with CRUD Actions, I got this error in creating a "MVC controller with views using Entity Framework"
I have ASP.NET Core 3.1 version in my Visual studio 2019
And I have also tried including these Nuget packages:
"Microsoft.VisualStudio.Web.CodeGener

[2020-07-25 07:49] SpiritBob opened #19320 "JsonPatch fix for ASP.NET Core 3.1 no longer works?"
I've done as instructed by writing the following snippet of code
[code]
But it doesn't seem to work at all. I get the same PatchDocument error as per usual.

An example of my Endpoint (deriving from `ControllerBase`)

[code]

If I just include the Newtonsoft json serializer into the service collection, it all works, but I lose the benefits of Microsoft's System.Text.Json package, as the serializer

[2020-07-25 10:47] gary-MC opened #19321 "Correction"
Typo. Approximately 50% down page,
Change: namespace RazorPagesMovie.**Models**
To: namespace RazorPagesMovie.**Data**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Part 2, add a model to a Razor Pages app i

[2020-07-25 12:14] guardrex commented on #19319
Hello @MahimaJindalMJ ... We only handle ASP.NET Core documentation here and can't provide general product support. Contact the maintainers of that page or reach out to devs on support channels for support ...

* [Stack Overflow](https://stackoverflow.com/questions) (`asp.net-core` tag)
* [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/)
* [ASP.NET Gitter](https://gitter.im/aspnet

[2020-07-25 12:14] #19319 closed

[2020-07-25 17:55] Rick-Anderson commented on #19320
currently JSON patch requires `NewtonsoftJson`

[2020-07-25 17:55] #19320 closed

[2020-07-25 18:38] Rick-Anderson commented on #19321
dup of  #17986  and #15941 and others.. See https://github.com/dotnet/AspNetCore.Docs/issues?q=%227096fdb3-612e-9e00-bd0b-8ea4886a09ce%22+is%3Aopen

[2020-07-25 18:38] #19321 closed

[2020-07-25 19:05] SpiritBob commented on #19320
@Rick-Anderson docs say you can still leverage `System.Text.Json` by doing the above snippet of code? But that's not the case at all!

[2020-07-25 19:40] Dean-NC opened #19322 "With Core 3.1, unless I disable Antiforgery, MultipartReader.ReadNextSectionAsync() causes error "Unexpected end of Stream""
When streaming file uploads, you say that Antiforgery is good and should be used, but in Razor Pages ASP.Net Core 3.1, unless I disable Antiforgery, MultipartReader.ReadNextSectionAsync() causes error "Unexpected end of Stream". It seems that Antiforgery reads the content body, and so the stream has already been read.

See my comment here that has an attached sample app that reproduces it:
https:/

[2020-07-25 21:36] guardrex commented on #19322
Hello @Dean-NC ... Since engineering hasn't determined the cause of what you reported (or even if it's the same problem reported by others there), we'll need to wait until it's resolved over there. Ping back here when it's been resolved over there, then we can re-open this and work on the doc+sample if needed.

[2020-07-25 21:36] #19322 closed

[2020-07-25 23:02] Rick-Anderson commented on #19320
Where does it say that? What exactly. It says:
currently JSON patch requires `NewtonsoftJson`

[2020-07-26 06:24] nocanstillbb opened #19323 "how to set my blazor root url when i deploy it to k8s nginx ingress custom path"
i try seted `<base href="/mypath" > `on _hostcshtml ,
also use `app.useBasePath("/mypath");` on startup.configure method
url Redirector to  `myDomainName/login` when i access `myDomainName/mypath/`  (i use navigateManage.navigateTo(/login)
have any document more detail?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0

[2020-07-26 06:38] SpiritBob commented on #19320
Direct quote from documentation:

[code]

The text in bold is where I believe it says that. The code snippet included is part of the documentation - using it as provided does nothing - the json converter fails to convert incoming JSON to `JsonPatchDocument`.

[2020-07-26 07:47] smjltd opened #19324 "Doesn't show what to add in Progarm.cs File"
[Enter feedback here]

Missing Program.cs example to add configurations on startup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7367a651-2b27-0a57-e7d0-95686cc97f1c
* Version Independent ID: 8c769648-728d-72ce-ebf6-2a06e5076aa2
* Content: [ASP.NET Core Blazor configuration](https://docs.microsoft.com/en-us/aspnet/co

[2020-07-26 10:39] guardrex commented on #19323
Hello @nocanstillbb ... The `<base>` tag should have a trailing slash (`<base href="/mypath/" >`). That's all of the information that we have at this time. If you're still having trouble, we recommend reaching out to devs on support channels ...

* [Stack Overflow](https://stackoverflow.com/questions/tagged/blazor)
* [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/)
* [ASP.NET Git

[2020-07-26 10:39] #19323 closed

[2020-07-26 10:43] guardrex commented on #19324
Hello @smjltd ... The topic shows when adding code to `Program.Main` is required. Can you be more specific ... exactly what are you trying to do?

[2020-07-26 11:01] smjltd commented on #19324
for the first example wwwroot/appsettings.json

@page "/"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<'h1>Configuration example</h1'>

<'p>Message: @Configuration["message"]</p'>

what should be in Program.Main is not clear

[2020-07-26 11:08] guardrex commented on #19324
Nothing ... app settings from `appsettings.json` and `appsettings.{ENVIRONMENT}.json` are loaded by default. It's stated in the opening remarks ...

[2020-07-26 11:12] guardrex commented on #19324
FYI ... to make code blocks work in GH comments, use triple-backticks above and below the code ...

[2020-07-26 11:13] smjltd commented on #19324
But for some reason the configuration doesn't load at start. it always start's with null

https://stackoverflow.com/questions/63097669/blazor-webassembly-configuration-appsettings-json-loading-null-values-in-compo

[2020-07-26 11:17] guardrex commented on #19324
Works here. Show the contents of your `appsettings.json` file.

[2020-07-26 11:21] guardrex commented on #19324
Try using a capital "C" for "configuration" ...

[code]

[2020-07-26 11:24] smjltd commented on #19324
Here is an example;

{
  //App
  "TasksListGuid": "965A8914-1990-4801-998E-A513794F008B",
  "TaskHistoryListGuid": "9FA09951-1B05-4E82-8F4D-16F0B6380094",
  "TaskListName": "Workflow Tasks",
  "ViolationTypeListGuid": "5E47A409-9F44-48ED-9A85-706F5CFAC390",
  "MainListGuid": "DBC926D0-66ED-4A03-9A2D-BDB34B34224A",
  "MainListType": "SP.Data.MainListItem",

}

[2020-07-26 11:31] guardrex commented on #19324
In your SO post ... `OnParametersSetAsync` ... that's not a thing any longer. Are you following some old blog post? See the Lifecycle topic ...

https://docs.microsoft.com/aspnet/core/blazor/components/lifecycle#before-parameters-are-set

It will work if you use `SetParametersAsync`.

[2020-07-26 11:32] smjltd commented on #19324
I am getting the value's correctly but always null first then re-renders with correct values, i am using OnParametersSetAsync() as entry point, i understand OnParametersSetAsync() changes on every Parameter Change. but the Configuration Values should be constant not null first right?

[2020-07-26 11:33] guardrex commented on #19324
OH ... my bad. Strike that. Stand by.

[2020-07-26 11:34] smjltd commented on #19324
OnParametersSetAsync still exists 😁

[2020-07-26 11:35] guardrex commented on #19324
I know. I just woke up. It's 6:30am here. :smile:

[2020-07-26 11:38] smjltd commented on #19324
I am trying to switch my project from just constant's in Constants/Settings.cs to appsetting.json found this issue.

Old Way Example Project:
https://github.com/smjltd/BlazorPoint/blob/master/Pages/Log.razor

[2020-07-26 12:26] guardrex commented on #19324
In testing here, I do see it being called twice, but I can't repro a configuration value being `null` on the first call.

Open an issue for engineering at https://github.com/dotnet/aspnetcore/issues.

They prefer not to look at dev code, which slows them down. Either just ask without showing code or try to show a minimalist example that demos the problem.

Can you add a `cc: @guardrex` to your ope

[2020-07-26 12:26] #19324 closed

[2020-07-26 14:34] midsprat123 opened #19325 "Tutorial is not much help"
[Enter feedback here]
These pages and their pictures do no match up with Visual Studio 2019 when using Core 3.0/3.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20264150-9ac7-2b21-3314-64ffa114410f
* Version Independent ID: 3477519b-1bc2-73be-33e3-63067383d426
* Content: [Part 2, add a controller to an ASP.NET Core M

[2020-07-26 15:33] serpent5 commented on #19320
The approach in the topic works. What are you sending as the `Content-Type` and what's the error?

[2020-07-26 17:40] Rick-Anderson commented on #19325
What doesn't match?

[2020-07-26 17:40] #19325 closed

[2020-07-26 18:51] efonsecab commented on #19314
Thanks, from what I found, is that the documentation is not taking in consideration scenarios where you have endpoints which can be invoked anonymously, as soon as the IHttpClient is injected and performas a call, it always requests authentication.

[2020-07-26 18:56] guardrex commented on #19314
Yes, but don't access a secure resource in `OnInitializedAsync` if you don't want that behavior. Access the resource based on an event triggered by the user that requires the secure resource.

[2020-07-26 18:58] guardrex commented on #19314
If you need an insecure `HttpClient` for some resources to load without triggering auth, then used a named client.

https://docs.microsoft.com/aspnet/core/blazor/security/webassembly/additional-scenarios#unauthenticated-or-unauthorized-web-api-requests-in-an-app-with-a-secure-default-client

[2020-07-27 00:45] tymtam2 opened #19327 "Promote `Prevent over-posting` section to be the main section"
I understand that this may seen as opinion based, but exposing db models is bad practice. By a db model I mean a class that is used by the DbContext to interact with the db;

I believe that using DTOs from the start produces better solutions, even when the mapping is one to one to the db model (i.e. all properties match). (One of the advantages of this is that the DTOs can be immutable.)

I think

[2020-07-27 00:54] Rick-Anderson commented on #19327
Thanks for the suggestion.

[2020-07-27 00:54] #19327 closed

[2020-07-27 04:35] sarahbe commented on #19320
I am having the same issue and the same configuration  mentioned above.

`{
    "type": "https://tools.ietf.org/html/rfc7231#section-6.5.1",
    "title": "One or more validation errors occurred.",
    "status": 400,
    "traceId": "|f5ba494d-422d1595d82115d9.",
    "errors": {
        "$": [
            "The JSON value could not be converted to Microsoft.AspNetCore.JsonPatch.JsonPatchDocument`1[Po

[2020-07-27 06:28] Heroins opened #19330 "The maximum number of websocket connections"
I create an object with the code in AspNetCore.Docs-master\aspnetcore\fundamentals\websockets\samples\2.x\WebSocketsSample， and i try use page to use websocket connect the services，The maximum number of connections seems like is 10， The pages after that cannot be connected websocket， state is Connecting。How can I connect more pages？

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-07-27 06:36] davidfowl commented on #19330
Are you running on IIS 7 on windows 10?

[2020-07-27 06:40] SpiritBob commented on #19320
Minimal reproducible repository/solution: https://github.com/SpiritBob/BrokenJsonPatch

Could we finally get back to opening this issue?

[2020-07-27 06:41] Heroins commented on #19330
yes  , I'm very confused about why the maximum number of websocket connections is 10. I didn't find a profile address that could change this maximum number of connections.

[2020-07-27 07:00] davidfowl commented on #19330
I believe that's a windows client limit specifically on IIS. I'd recommend using kestrel instead if this is for local development

[2020-07-27 07:01] davidfowl commented on #19330
Or if you're dead set on using IIS get windows sever

[2020-07-27 07:24] Heroins commented on #19330
i had try IIS express but it seems the max is 10， if there has no other way,that i have to use kestrel

[2020-07-27 08:40] merlinko637 opened #19331 "ActionFilter: code block can be moved out of foreach scope"
In the ActionFilter section,

this:

[code]

can be simplified to this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 517dfd6c-0771-77d8-66e1-d07724134c6c
* Version Independent ID: 51de9bc4-775c-36b6-79d4-71ff635b53a6
* Content: [Client IP safelist for ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core

[2020-07-27 09:51] serpent5 commented on #19320
This also works when I try it. You must use `application/json-patch+json` as the `Content-Type` for the request being sent to that controller. If you use `application/json`, you'll see the error message shown in @sarahbe's comment.

[2020-07-27 11:32] guardrex commented on #19331
Thanks @merlinko637 ... I'll fix that up.

[2020-07-27 11:42] #19331 closed

[2020-07-27 13:14] #19312 closed

[2020-07-27 13:39] guardrex commented on #18510
**UPDATE:** I'm in a good spot to work this today (Monday, 7/27), so I'll go ahead with it.

[2020-07-27 16:41] Waifer opened #19338 "Does not work"

[2020-07-27 17:03] scottaddie opened #19339 "Create MS Learn module: Cloud-native ASP.NET Core microservices resiliency"
Plan, write, and publish an MS Learn module for cloud-native microservices resiliency (Polly & Linkerd).

- [x] Module planning and scoping
- [x] Create a proof-of-concept
- [x] Create module proposal
- [x] Gather feedback on module proposal and adjust as necessary
- [x] Create Bash script to provision Azure resources
- [x] Create the starter project
- [x] Request module badge
- [x] Create the cod

[2020-07-27 17:23] #19338 closed

[2020-07-27 17:36] Paul-Dempsey opened #19340 "Missing critical information regarding UseStaticFiles with server-side"
[EDIT by guardrex to replace the scraped content link and remove the metadata]

In order to use a font, I had to extend static files to serve woff/ttf.

[code]

Turns out that this breaks server-side blazor. After flailing around without a clue as to why my site was dead, other than a cryptic console error about not being able to load 'a resource' (without actually logging what resource that is),

[2020-07-27 17:57] guardrex commented on #19340
Hello @Paul-Dempsey ... Thanks for the note on this. We'll take a look at what/where to cover when this issue is triaged.

Artak, see Javier's remarks at :point_right: https://github.com/dotnet/aspnetcore/issues/9588#issuecomment-505465169

Let's not cover this in the Hosting models overview. That topic isn't meant to hold implementation guidance. Our choices are either of the following:

* New `S

[2020-07-27 19:12] scottaddie opened #19341 "Create MS Learn module: Cloud-native ASP.NET Core microservices DevOps"
Plan, write, and publish an MS Learn module for cloud-native microservices DevOps (GitHub Actions).

- [x] Module planning and scoping
- [x] Create a proof-of-concept
- [x] Create module proposal
- [x] Gather feedback on module proposal and adjust as necessary
- [x] Create Bash script to provision Azure resources
- [x] Create the starter project
- [x] Request module badge
- [x] Create the code sam

[2020-07-27 19:25] scottaddie opened #19342 "Create MS Learn module: Cloud-native ASP.NET Core microservices API gateway"
Use the content at https://github.com/dotnet-architecture/eShop-Learn/tree/develop/module-02-api-gateway as a starting point for the module.

Plan, write, and publish an MS Learn module for cloud-native microservices API gateway (GitHub Actions).

- [x] Module planning and scoping
- [x] Create a proof-of-concept
- [x] Create module proposal
- [x] Gather feedback on module proposal and adjust as ne

[2020-07-27 19:33] scottaddie opened #19343 "Create MS Learn module: Cloud-native ASP.NET Core microservices data services"
Use the content at https://github.com/dotnet-architecture/eShop-Learn/tree/develop/module-06-data-services as a starting point for the module.

Plan, write, and publish an MS Learn module for cloud-native microservices data services (Azure Redis Cache & Cosmos DB).

- [x] Module planning and scoping
- [x] Create a proof-of-concept
- [x] Create module proposal
- [x] Gather feedback on module propos

[2020-07-27 19:37] scottaddie opened #19344 "Create MS Learn module: Cloud-native ASP.NET Core microservices feature flags & app config"
Plan, write, and publish an MS Learn module for cloud-native microservices feature flags & app configuration.

- [x] Module planning and scoping
- [x] Create a proof-of-concept
- [x] Create module proposal
- [x] Gather feedback on module proposal and adjust as necessary
- [x] Create Bash script to provision Azure resources
- [x] Create the starter project
- [x] Request module badge
- [x] Create th

[2020-07-27 19:40] scottaddie opened #19345 "Create MS Learn module: Cloud-native ASP.NET Core microservices logging & monitoring"
Plan, write, and publish an MS Learn module for cloud-native microservices logging & monitoring.

- [x] Module planning and scoping
- [x] Create a proof-of-concept
- [x] Create module proposal
- [x] Gather feedback on module proposal and adjust as necessary
- [x] Create Bash script to provision Azure resources
- [x] Create the starter project
- [x] Request module badge
- [x] Create the code sample

[2020-07-27 20:11] tarekahsan709 opened #19346 "Improve Doc readability"
The instruction to add Microsoft.EntityFrameworkCore.SqlServer is in bold text. Also others major instructions too. But the instruction to add Microsoft.EntityFrameworkCore.InMemory is not bold. While going through the doc I missed this instruction and spent few times to figure it out. It would be helpful to bold this text for preventing lose concentration.

Link: https://docs.microsoft.com/en-us/

[2020-07-27 20:17] Rick-Anderson commented on #19346
Bold is for UI and `InMemory` is correctly formatted because in this context it's not UI, but code. It's being changed anyway.

[2020-07-27 20:17] #19346 closed

[2020-07-27 20:38] serpent5 commented on #19313
@Rick-Anderson Is it alright if I switch the `/dotnet/api` links over to xrefs as part of this? It feels like I'm being more valuable that way. 😄

[2020-07-27 20:41] Rick-Anderson commented on #19313
Yes, xrefs is preferred.

[2020-07-27 20:41] serpent5 commented on #19309
@Rick-Anderson Is it OK to fix this and https://github.com/dotnet/AspNetCore.Docs/issues/19311 as part of the same PR, or do you prefer for them to be two separate PRs?

[2020-07-27 20:42] Rick-Anderson commented on #19313
But we should make it bold. People won't following the directions when it's not bold :)

https://github.com/dotnet/AspNetCore.Docs/issues/19346

[2020-07-27 20:42] Rick-Anderson commented on #19309
Your call, either way.

[2020-07-27 21:22] guardrex commented on #19304
@swannet ... I have a working draft now. Do you need me to paste it in here, or can you wait until the PR is put up tomorrow (Tuesday, 7/28) morning? I can ping u on the PR tomorrow if that's ok.

[2020-07-28 00:35] amritrjakacabu015 commented on #9426
I might be too late on this but, I believe if you change the value of "schematics" under "projects" in your project's angular.json file to:
`{
        "@schematics/angular:component": {
          "style": "less"
        }` and change all your css files to less (make sure to cover everything i.e. filenames, styleUrls, and angular.json file's "styles" keys). It should work just fine.

[2020-07-28 01:42] Deadened opened #19347 "Possibly Update Information (?)"
As appsettings.json has been faded out in favor of .csproj. Would it be possible to update the tutorial (Web API with MongoDB) to use .csproj instead of appsettings.json? That is, could someone update the examples/explanation to use csproj over json?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5240866d-d0a1-f0dd-7b2

[2020-07-28 02:02] guardrex commented on #19347
Hello @Deadened ... Where did you hear that?

*appsettings.json* is the default, primary configuration file for ASP.NET Core apps. The project file (*.csproj*) handles the app's package references, target framework, and other compiler settings.

[2020-07-28 02:08] #19347 closed

[2020-07-28 03:55] bensbalancedcode opened #19348 "Build a Blazor todo list app, need to disable HTTPS redirect to view pages"
Following the "Build a Blazor todo list app" tutorial, using VS code, on a box running windows 8.1, viewing

On step 5:

When I run the app (`dotnet run`) and open the page "http://localhost:5000" my chrome browser (84.0.4147.89) is redirected to "https://localhost:5001" and I get this error:

ERR_HTTP2_INADEQUATE_TRANSPORT_SECURITY

I fixed this by commenting out the line `app.UseHttpsRedirection

[2020-07-28 07:47] icelava opened #19349 "Nested maps"
For nested request mapping, where do the level1App, level2AApp, and level2BApp objects come from? I suppose they're all IApplicationBuilder but where're their definitions of origin?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9898482c-fa54-7ce2-1716-d14fbe03990d
* Version Independent ID: 3926c686-0ccc-f9fe-ca52-0134

[2020-07-28 11:11] swannet commented on #19304
I can wait for the PR, have planned to look at it next week. So no need to hurry!

[2020-07-28 12:37] guardrex commented on #19348
Hello @bensbalancedcode ... We're going to leave the instruction as it is because the default (and recommendation) is always to run apps secure. If a dev wants to do what you did, that's ok, but we don't want to call that out as a step or note in the doc. This problem is likely related to the cypher suites on the machine, and those are going to break any HTTP2 scenario (probably). Engineering has

[2020-07-28 12:37] #19348 closed

[2020-07-28 12:58] scottaddie opened #19351 "Move Web SDK samples to docs"
Addresses https://github.com/dotnet/AspNetCore.Docs/issues/19303#issuecomment-663750217. Relocate the content at https://github.com/dotnet/sdk/tree/master/src/WebSdk to docs, perhaps in https://docs.microsoft.com/aspnet/core/host-and-deploy/visual-studio-publish-profiles. Once relocated, remove the README file's content and replace with a link to the conceptual doc.

[2020-07-28 12:58] #19303 closed

[2020-07-28 13:08] TNCodes opened #19352 "Get "401 Unauthorized" when running the Server project and the Client project on different ports"
Hallo!

Thank you for a good sample:
https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-azure-active-directory-b2c?view=aspnetcore-3.1

I get "401 Unauthorized" when running the Server project and the Client project on different ports to simulate having the Client Blazor App and the Server API on different domains.

I assume that the AAD B2C Authentication tokens

[2020-07-28 13:11] #19093 closed

[2020-07-28 13:29] guardrex commented on #19352
Hello @TNCodes ... Your ports don't match in your SO issue.

Besides CORS config, there shouldn't be any blockers to the scenario. The Blazor common sample app is tested just like this against a web API in local IIS on a different port for the [*Call a web API* topic](https://docs.microsoft.com/aspnet/core/blazor/call-web-api). That scenario runs per the guidance with only the CORS bits. See the B

[2020-07-28 13:48] TNCodes commented on #19352
Hallo Guardrex!

I know that the ports don't match in the SO question and that is the Idea! I do not want them to match since I want to simulate calling an API protected by AAD B2C on an other domain from a Blazor Web Assembly client.

As specified in the SO question, the Client project can reach the API (WeatherForecastController.cs) just fine if I don't require the user to be "Authorized" (i.e.

[2020-07-28 13:53] guardrex commented on #19352
Sorry 🙈 ... :smile: ... like I said ... I'm 🏃😅 buried deep in Blazor Azure AD code at the moment.

Stand-by ... I'll take a closer look. :eyes:

[2020-07-28 13:56] SpiritBob opened #19354 "Can we keep using a single HttpClient from IHttpClientFactory?"
I've read the documentation page a number of times.

It states the following:

Does that mean that if I have a singleton service, that has a typed client registered to it, that the typed client will have its `HttpMessageHandler` recycled, avoiding Stale DNS problems and  resource exhaustion?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-07-28 14:01] TNCodes commented on #19352
Ok, good!

I have not tried it yet, but I would not be surprised if there is the same problem with the Azure AD sample (they look very similar and they both use MSAL).

[2020-07-28 14:08] guardrex commented on #19352
I just saw the extra 0 (zero) on an entry and thought there was a mismatch. There isn't. You're good.

btw - Are you running the apps (**_every single run ... no matter how small the change_**) in a brand new inprivate/incognito browser. If not, can you do that and repro and just confirm that lingering cookies aren't to blame? The advice on setting that up is at the bottom of the topic in the *Tro

[2020-07-28 14:16] guardrex commented on #19352
Did you add a callback URL in the Azure portal for the 50002 port client address?

[2020-07-28 14:21] TNCodes commented on #19352
Yes, I am always stop the apps after each try and start the apps again no matter how small change I make and I have also tried to clear the cache, use different browsers, etc.

I know about the advice in the Troubleshooting section, but while following that advice does indeed make the sample code work, it is not what I want to do!

I do not want to have the client and the server on the same port s

[2020-07-28 14:22] TNCodes commented on #19352
I have not tried to set up a callback URL for the server app in the AAD B2C portal since the sample specifies that you dont need to do that. But, I will try that right away :)

[2020-07-28 14:50] TNCodes commented on #19352
I have not tried to add the same Callback URL to the Server App in the AAD B2C portal
![image](https://user-images.githubusercontent.com/65860762/88680370-b7a51800-d0f0-11ea-8e65-14421e5c4d53.png)

But, it does not work anyway :(

As you see, no authentication header is sent to the server from the client:
![image](https://user-images.githubusercontent.com/65860762/88680400-bffd5300-d0f0-11ea-9293-

[2020-07-28 15:10] guardrex commented on #19352
Yes, that's right ...

I forgot B2C doesn't require it. I was thinking AAD non-B2C there. Forgive me again, I'm working on a complicated PR for AAD roles and groups, and I'm neck-deep 😨 in code right now for that. It's hard to split focus in and out of other things when working on these security scenarios.

That's the HTTP client's base address, which you've already set.

WRT "use different browse

[2020-07-28 16:04] leppie commented on #13013
If `<AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>` is missing from your project file (or not InProcess), it will always run as 32-bit as an Azure App Service regardless of any other setting.

[2020-07-28 17:08] TNCodes commented on #19352
Hallo again!

Yes, I have indeed tried to run in "inprivate/incognito" modes in different browsers, but that does not help. So, it is not that.

It is totally fine if you concentrate on your task for a while :)

I suspect that there is something with that I need to do in the config of AAD B2C / MSAL for running the Client and Server on different ports/domains and I will also look more on this late

[2020-07-28 17:47] guardrex commented on #19352
I'm done ... 😅 ... but burned out for the day. I'll try to get to this Wednesday morning.

[2020-07-28 18:02] manikantatpssonata opened #19356 "Passing reference object from js to C# and back"
I want to pass object reference from JavaScript to C# and back. Is there any way to do this.

Currently i am using [JSInvokable("Execute")] and jsRuntime.InvokeAsync<object>("somefunction").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aada0049-99a8-2f91-5d60-6970474e2371
* Version Independent ID: c29fb1a8-028f-6efd-

[2020-07-28 18:13] Aman3018 commented on #7268
I had the similar problem with my dot net core 2.0 Web API. All my POST requests were failing even i had set up the CORS correctly.
After my searches, I finally fixed it by using app.UseExceptionHandler(). Below is the implementation:

app.UseExceptionHandler(errorApp =>
{
    errorApp.Run(async context =>
    {
        var errorFeature = context.Features.Get<IExceptionHandlerFeature>();
        v

[2020-07-28 18:18] guardrex commented on #19356
Hello @manikantatpssonata ... that's what's described in this pair of topics ... calling across JS and C#.

It sounds like you're asking a general development question. We don't have the staffing to handle product feedback. We recommend the usual support channels for support requests ...

* [Stack Overflow](https://stackoverflow.com/questions/tagged/blazor)
* [ASP.NET Core Slack](http://tattoocode

[2020-07-28 18:18] #19356 closed

[2020-07-28 20:01] weitzhandler commented on #15733
Make sure you're operating under the same authentication policy between IdentityServer and what's the policy in the `[Authorize(policyName)]` attribute.

[2020-07-28 20:20] Rick-Anderson commented on #19349
@serpent5  can you answer this?

[2020-07-28 20:43] serpent5 commented on #19349
`level1App`, `level2AApp`, and `level2BApp` are all implementations of `IApplicationBuilder`. The second argument passed into `Map` is a callback function. The framework creates an implementation of `IApplicationBuilder` that's preconfigured for the path, e.g. `"/level"`, and passes it to your callback function.

[2020-07-28 21:06] weitzhandler opened #19358 "Inject dummy controller?"
Hi,

Is there a way to inject a dummy controller to my testing environment?
For instance:

[code]

And then:

[code]

The above test fails (status code is 404).
Is there a way to 'inject' a controller into my ApplicationFactory discovered controllers?

[Here](https://github.com/dotnet/AspNetCore.Docs/issues/18419#issuecomment-665287978)'s my actual use case.

---
#### Document Details

⚠ *Do not e

[2020-07-28 21:16] weitzhandler commented on #18419
Thanks @Rick-Anderson for your kind and detailed answer,
I'm facing a related issue where in my acceptance test I want to verify the `HttpContext.User` is filled with the current user.
I'm using [ASP.NET Core Integration Tests](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests) for this.
When trying `IHttpContextAccessor.HttpContext` (from service-provider), it's `null`.
I also t

[2020-07-28 21:21] #19349 closed

[2020-07-28 21:21] plettb opened #19359 "ASPNETCORE_ENVIRONMENT and HTTPS?"
I'm really not sure if this is an issue or a question.  I've run into some strange behavior and would like to understand it better and, if possible, get it working the way I'd like/expect.

In our application we have a number of projects that require different settings when running on Docker.  We've been handling this by using a "SlowCheetah - like" process to transform our "appsettings.json" file

[2020-07-28 21:24] Rick-Anderson commented on #19358
Moved to total rewrite & master issue: unit test ASP.NET Core apps #15839

[2020-07-28 21:24] #19358 closed

[2020-07-28 21:50] guardrex commented on #19359
Hello @plettb ... It's the correct behavior because the ASP.NET Core development cert is only configured by the framework for use in the "Development" environment. You can use that cert (or any other) by configuring Kestrel for your Docker environment **_in your Docker app settings file `appsettings.Docker.json`_** following the advice in the Kestrel topic ...

https://docs.microsoft.com/aspnet/co

[2020-07-28 22:08] guardrex commented on #19359
Did you see this one? :point_right: https://github.com/dotnet/dotnet-docker/blob/master/samples/run-aspnetcore-https-development.md

That looks like that guidance will help with the Docker HTTPS scenarios (*I'm not a Docker Rex.* :smile:).

I'll close since we have the coverage and that Docker doc :point_up: is cross-linked. For additional support, we recommend the usual support channels ...

* [S

[2020-07-28 22:08] weitzhandler commented on #19358
Thanks.
Any ideas on how to achieve this meanwhile?

[2020-07-28 22:13] guardrex commented on #19359
@Rick-Anderson ... Need ur help on this one. The Docker doc doesn't clarify if Kestrel config is required when using a non-"Development" environment. That might be the case ... provide a normal `Kestrel` config in the app settings file (for the `Docker` environment) and then specify that environment name in the commands that they show. That might be what they intend for someone to do. However, it

[2020-07-28 22:15] plettb commented on #19359
@guardrex I very much appreciate your help and the links, but it seems to me that until whatever magic the "Development" environment is doing to get certs working is _documented_, the issue shouldn't be closed.  :)

[2020-07-28 22:19] guardrex commented on #19359
I re-opened it for further discussion. I agree with you that it's not clear.

They might want you to ...

1. Create a cert.
2. Set up a `Kestrel` section in your `appsettings.Docker.json` file with the cert config (following [the guidance we have in the Kestrel topic](https://docs.microsoft.com/aspnet/core/fundamentals/servers/kestrel#listenoptionsusehttps))
3. Run the app like this ...

[code]

.

[2020-07-28 22:20] guardrex commented on #19359
I'm just suggesting that if you place the cert config in your `appsettings.Docker.json` file for Kestrel that it might fire right up and run on whatever cert you provide.

[2020-07-28 22:23] plettb commented on #19359
That's exactly what I tried.  So, for example, I put the following into my "appsettings.Docker.json" file:
[code]
With that I get a "Interop.Crypto.OpenSslCryptographicException", "Message=error:23076071:PKCS12 routines:PKCS12_parse:mac verify failure".

[2020-07-28 22:29] guardrex commented on #19359
I saw that you made several attempts to pass the password via CLI. Did you try supplying it directly there just to rule out that CLI option being the problem? ...

[code]

[2020-07-28 22:30] guardrex commented on #19359
oh wait a sec .....

that's doesn't look right. I think ur missing the `Endpoints` node. Try this ...

[code]

[2020-07-28 22:31] guardrex commented on #19359
Nevermind ... that JSON was hard to read. `Certificates` is `Kestrel` node. :eyes:

[2020-07-28 22:33] guardrex commented on #19359
However ... did you also place the other node there ...

[code]

[2020-07-28 22:33] plettb commented on #19359
This is part of the magic that I've been referring to.  When run with "Development", a certificate matching the name of the project (note:  NOT matching what a developer might supply in the "ASPNETCORE_Kestrel__Certificates__Default__Path" setting in "docker-compose.override.yml") gets extracted automatically.  I have no visibility into that extraction - it doesn't appear in any logs.  I can only

[2020-07-28 22:34] plettb commented on #19359
Another interesting thing to note:  in Docker there is no "localhost".

[2020-07-28 22:44] guardrex commented on #19359
There's a little more info in ...

https://docs.microsoft.com/visualstudio/containers/container-build#ssl-enabled-aspnet-core-apps

Stand-by for one of the Docker-savvy cats to help resolve this. Rick will come on shortly ... or Scott ... or Kirk. cc: @serpent5

[2020-07-28 22:49] plettb commented on #19359
As I mentioned in my original post, this topic gets a lot of attention.  However, the environment variable seems to be a unique twist that isn't covered by any of them.

Cool!

[2020-07-28 22:59] javiercn opened #19360 "[RC1] Blazor CSS isolation"
* Add *.razor.css files side by side to include scoped css styles.
* Use the `::deep` token in your razor.css file to limit the applicability of the scope isolation so you can target markup defined by other components within your scope.
* Scoped styles are available under `_framework/scoped.styles.css`
* Document how automatic bundling can be disabled to use a separate third-party tool for post-pr

[2020-07-28 23:11] TNCodes commented on #19352
Hallo again!

You pointed me in the right direction and I think I figured it out!

But, it would be great if you could verify that this is a good solution from a security standpoint or if there are a better solution that I should consider!

I read a bit about the "BaseAddressAuthorizationMessageHandler" that is added on the below lines:
[code]
The [documentation](https://docs.microsoft.com/en-us/d

[2020-07-28 23:20] guardrex commented on #19352
I'll take a closer look at how it's covered (what is said about it) and your remarks tomorrow, but that particular client and handler config is covered at ...

https://docs.microsoft.com/aspnet/core/blazor/security/webassembly/additional-scenarios#configure-the-httpclient-handler

I'll get back to u tomorrow.

[2020-07-29 03:32] noahfalk opened #19361 "Incorrect description of EventLevel for ILogger EventSourceLoggerProvider"
In the section on [dotnet trace tooling](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#dotnet-trace-tooling) the syntax describes the command as:

[code]

Unfortunately the 'Event Level' in the 2nd line is not parsed the same as 'Event Level 1,2,N' in lines 4-7. For clarity I'll call the one on line 2 the provider level and the later ones the category level

[2020-07-29 05:54] davidfowl commented on #18419
IHttpContextAccessor requires that somebody called `AddHttpContextAccessor`.

[2020-07-29 06:35] Rick-Anderson opened #19362 "set social media preview images"
https://twitter.com/jeffwilcox/status/1288337817471348736
Only 2.64% of public Microsoft repos have set social media preview images today... way less fun to link to cool repos!

Maintainers: set a 1280x640px image for your project: a cool screenshot, feature highlights, etc. Be cool!

See also:
https://docs.github.com/en/github/administering-a-repository/customizing-your-repositorys-social-media-p

[2020-07-29 08:35] KettuJKL opened #19363 "My dotnet says: No templates matched the input template name: blazorserver"
Could you please add a link for source package, SDK or something to make this work?

I do have VS 2019 installed and dotnet (should I have some specific version?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b677fc7-67a6-ef2f-21ee-cdffddeaac66
* Version Independent ID: b84bbc11-059d-26d1-e693-2d34dbff4af5
* Content:

[2020-07-29 10:05] brgrz opened #19364 "UseStatusCodePagesWithReExecute docs unclear"
The docs regarding [UseStatusCodePagesWithReExecute](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-3.1#usestatuscodepageswithreexecute) are somewhat unclear.

The text says

I am having issues trying to get the UseStatusCodePagesWithReExecute to work in an MVC app.

Where are we supposed to create such an MVC view and what should the path to it look like?

[2020-07-29 10:13] StevenLiekens commented on #18419
I thought that _IHttpContextAccessor_ was meant to enable smoother migrations from .NET Framework to .NET Core but now the documentation recommends using it for new code. Did something change?

[2020-07-29 10:22] TNCodes commented on #19352
Yes, that is true. But, unfortunately this is easy to miss.

Therefore you should add a
![image](https://user-images.githubusercontent.com/65860762/88787351-0657be00-d194-11ea-81e5-453e00a3b574.png) in the
 "Authentication service support" section that explains what "BaseAddressAuthorizationMessageHandler" does.

For example:

"
Header Access tokens will only be added when the request URI is withi

[2020-07-29 10:26] TNCodes commented on #19352
The same Note should be added to the ["Secure an ASP.NET Core Blazor WebAssembly hosted app with Azure Active Directory"](https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-azure-active-directory?view=aspnetcore-3.1) documentation.

[2020-07-29 10:34] TNCodes commented on #19352
By the way, I just noted the "Edit" button in the documentation.

I am happy to contribute. Would it be easier for you if I edited this and send it for approval?

[2020-07-29 11:34] idchlife commented on #16553
It happens right now teams choosing blazor/not blazor are left to use blazor only if their potential users (usually with 1-2 years outdated browsers) use all current up to date browsers? Which makes blazor kinda unstable choice since it is not known which users can catch incompatibility errors...

What can be done with this? I mean are there at least list of typical incompatibilities, workaround/f

[2020-07-29 11:38] guardrex commented on #19363
Hello @KettuJKL ... Yes, I'll add a link to the Get Started page at https://docs.microsoft.com/aspnet/core/getting-started/.

[2020-07-29 11:43] guardrex commented on #19363
Actually, we'll go with a SDK prereq. The reason is that management wanted this to be CLI based. Therefore, the dev should just grab the 3.1 or later SDK.

[2020-07-29 11:53] #19363 closed

[2020-07-29 12:10] guardrex commented on #16553
@idchlife Management has made the call on this one. They won't state minimum versions. That seems like their final decision on this after several devs have asked and discussion.

You can have an app use one of the browser detection APIs out there ... there are many ... and then stop an app from running on an ancient browser (or just warn the user) in your apps.

[2020-07-29 12:32] robertwt7 commented on #13920
Any update on this guys? I just started migrating to .net core this week and can't seem to follow some of the outdated instructions..

[2020-07-29 12:48] idchlife commented on #16553
@guardrex thanks for the reply! The problem is that it's not clear which browser is "ancient".

Based on "supported version: current" - everything with previous versions is ancient (e.g.: current version 99; version 98 - blazor may or may not work).

Uncertainty is what makes it impossible to consider using or not using blazor in production for new projects.

[2020-07-29 13:09] guardrex commented on #19352
Yes, I agree. The auth URLs aren't explained in the *Additional scenarios* topic clearly enough, and that topic isn't cross-linked well enough to surface this scenario when a dev is using one of the walk-through topics. It's only cross-linked generically via an *Additional resources* link at the bottoms of the topics. I like the direction that your suggestion and text is heading. This is going to

[2020-07-29 13:20] guardrex commented on #16553
I wasn't in on the internal discussions, just the public ones. My impression is that it would be very costly 💰 to track. A testing regime that checks all of the framework API on a variety of browsers and browser versions each release would be possible, but it would be expensive. That's my *guess*. That's not an official statement. What they have said is that users should keep their browsers update

[2020-07-29 13:29] idchlife commented on #16553
@guardrex thank you for the response!

Not every company would be able to create functional tests for every aspect of their frontend blazor application, but your advice is good and viable for checking which browsers are supported. In a sense that's the way it's supposed to be for every frontend application. But we know how few companies actually adopt frontend tests :( Trusting frameworks and docu

[2020-07-29 16:03] danroth27 opened #19366 "Document Blazor WebAssembly .NET Standard support"
Blazor WebAssembly 3.2 supports .NET Standard 2.1, but many APIs throw `PlatformNotSupportedExceptions` due to limitations imposed by the browser. We should broadly document these limitations and their impact.

@lewing

[2020-07-29 16:14] davidfowl commented on #18419
@StevenLiekens I'm surprised that's our guidance. I think there are definitely scenarios where you need it but I don't think we should recommend it. It should be listed as a requirement in a very particular case.

cc @Rick-Anderson @guardrex can we fix this?

[2020-07-29 16:15] davidfowl commented on #18419
@weitzhandler can you create an issue on the product repo with a sample that reproducers the problem

[2020-07-29 16:26] weitzhandler commented on #18419
Would that be https://github.com/dotnet/aspnetcore?

[2020-07-29 16:39] davidfowl commented on #18419
Yep

[2020-07-29 16:42] guardrex commented on #18419
The doc language is specific: It specifies "inside a service."

(emphasis added)

https://docs.microsoft.com/aspnet/core/fundamentals/http-context

The following RP, view, and controller sections use the property. After that, the *Use HttpContext from custom components* section is specific as well ...

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-context?view=aspnetcore-3.1#use-h

[2020-07-29 17:11] JansthcirlU opened #19367 "Include details on how to debug on Linux"
It would be nice if this page got updated to also work for Linux, as it apparently requires a lot of workarounds to debug a Blazor WebAssembly application which are not very obvious. (I can't get it to work on Ubuntu 18.04 LTS)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f61c7-9f51-6735-e328-3c7b495d70c3
* Versio

[2020-07-29 17:18] guardrex commented on #19367
Hello @JansthcirlU ... Are you referring to VSC on Linux? That should work as described.

[2020-07-29 17:30] captainsafia commented on #19367
Not that I am aware. @JansthcirlU Can you help us understand the issues you are running into that should be better documented?

[2020-07-29 17:55] Rick-Anderson commented on #19364
It's exactly the same as the RP endpoint. Just supply an MVC endpoint such as

`app.UseStatusCodePagesWithReExecute("/Home/StatusCode","?code={0}");`
for the Home controller.

I think when the author was writing View, he meant Controller with Views. A MVC view is not an endpoint.

[2020-07-29 18:01] #18134 closed

[2020-07-29 18:04] guardrex commented on #19366
If the notes for the content can be placed here in a comment, I'll take care of loading it into the docs.

[2020-07-29 18:43] Rick-Anderson commented on #19354
Singleton holds on to a resource for the life of the app.

There are alternative ways to solve the preceding problems using a long-lived `SocketsHttpHandler `instance:

[2020-07-29 18:46] #19307 closed

[2020-07-29 19:36] #19302 closed

[2020-07-29 19:37] brgrz commented on #19364
Yes, I assumed it was that way (via controller) but I cannot get it to work with NotFound() result. The Redirect one does work but then both the context and status code are lost.

[2020-07-29 19:44] serpent5 commented on #19359
I've tried various approaches to try and repro this, but it's all working as expected. I can't find anything in the source-code or from running a number of different experiments to suggest that the difference is only in the `ASPNETCORE_ENVIRONMENT` value being `Development` vs `Docker`, `Production`, etc.

There _is_ a difference between using the _sdk_ Docker image vs the _aspnet_ Docker image, i

[2020-07-29 19:52] guardrex commented on #19359
The :pray: *server gods* :pray: bless u for helping with this @serpent5.

What might happen on this one @plettb is that if you can set up a step-by-step repro of the problem, then engineering would take an issue on this, walk your steps, and then advise further.

Rick will know the best way to proceed.

[2020-07-29 19:55] JansthcirlU commented on #19367
@captainsafia @guardrex I created a new Blazor WebAssembly project, and when trying to run it I get the following exception:

[code]
So I go to the link in the exception and follow the instructions there, but here's the output from my terminal:
[code]
So I'm stuck not being able to update the certificates on Ubuntu, hence not being able to debug.

[2020-07-29 20:02] guardrex commented on #19367
Those instructions are for macOS and Windows only.

You'll have to create and supply a cert for the app per the Kestrel guidelines ...

https://docs.microsoft.com/aspnet/core/fundamentals/servers/kestrel#listenoptionsusehttps

[2020-07-29 20:05] guardrex commented on #19367
Our guidance in the Get Started topic for Linux is ...

https://docs.microsoft.com/en-us/aspnet/core/getting-started/?view=aspnetcore-3.1&tabs=linux#trust-the-development-certificate

That seems like a weak UE to me, but that's what has been approved for the Linux scenario.

[2020-07-29 20:07] JansthcirlU commented on #19367
@guardrex I managed to get the app to run after running `dotnet dev-certs https` without any extra parameters, but I still can't debug it.

[2020-07-29 20:07] Rick-Anderson commented on #19359
The simplest possible app that reproduces the problem is what's needed. Then open an issue in https://github.com/dotnet/aspnetcore/issues

[2020-07-29 20:08] guardrex commented on #19367
That's cool. I'm glad that worked. The guidance is kind'a rough had it not worked. 🙈

@captainsafia will be along in a bit to help with that one.

[2020-07-29 20:08] MrRWolf opened #19368 "Instructions for changing the RootNamespace are unclear, and do not appear to work"
I am attempting to use a root namespace like MyCompany.MyProduct

dotnet core appears to have moved back to the .csproj format for containing assembly information.  Adding an AssemblyInfo.cs file appears to do nothing.

Adding a root namespace in the .csproj is easy:
[code]

What is unclear, is how to set ResourceLocation

No mater what I do, my injected IStringLocalizer has a ResourceNotFound=tru

[2020-07-29 20:14] Rick-Anderson commented on #19368
@hishamco please review. Has this changed?

[2020-07-29 20:21] JansthcirlU commented on #19367
I'm sorry but it's getting rather late where I live, I probably won't be able to answer in the next couple of hours. Since I've accidentally run into this issue for a hobby project, I don't consider it to be a very urgent issue. Could we perhaps continue this discussion tomorrow?

[2020-07-29 20:22] guardrex commented on #19367
Of course.

[2020-07-29 20:23] JansthcirlU commented on #19367
Thanks!

[2020-07-29 21:02] weitzhandler commented on #19358
https://github.com/dotnet/aspnetcore/issues/24416

[2020-07-29 21:03] weitzhandler commented on #18419
Yessir: https://github.com/dotnet/aspnetcore/issues/24416

[2020-07-29 21:07] SpiritBob commented on #19354
Meaning if I have a service with singleton lifetime, and in it I inject a **typed**  `HttpClient` instance, I'll face previous problems when using a single `HttpClient` instance? i.e I should instead do the following 3 things:

-     Create an instance of SocketsHttpHandler when the app starts and use it for the life of the app.
-     Configure PooledConnectionLifetime to an appropriate value base

[2020-07-29 21:26] #18419 closed

[2020-07-29 21:55] wilsoncg opened #19370 "GitHub pages sample"
I notice the sample github pages repo [blazor-demo/blazor-demo.github.io](https://github.com/blazor-demo/blazor-demo.github.io) in the link is 3 years old. It contains a snapshot of various wasm.js & supplemental framework files, along with binary dlls checked in which represent the compiled blazor project.

Would it make more sense to reference @SteveSandersonMS updated github demo sample [SteveS

[2020-07-29 22:00] ardalis commented on #19358
If you haven't, I'd ask on Stack Overflow and link to your repro. You'll likely get a fairly quick response there.

[2020-07-29 22:04] guardrex commented on #19370
Hello @wilsoncg ... Yes, I agree. I'll send him a PR to update the versions on that project and then work on the cross-link update. Thanks for calling it out.

[2020-07-29 22:12] guardrex commented on #19370
I'm not sure if he's really going to maintain that. I think our best bet might be to maintain the content here. I mean get that *github actions workflow file* coverage into the doc here along with anything else that's needed to make it work.

[2020-07-29 22:20] captainsafia commented on #19367
@JansthcirlU Does debugging with non-HTTPS work?

You can do this by setting the `url` property in the `launch.json` configuration.

[2020-07-29 22:41] danroth27 commented on #19366
@guardrex Yup, I'm working on putting that together this week. Stay tuned!

[2020-07-29 23:23] tal-as opened #19371 "return RedirectToAction("Index", "Home", new { Area = "Dashboard" }); Not Working"
Using RedirectToAction with an area returns: "http://localhost:1876/Home/Index?Areas=Dashboard" as is described in this post: https://stackoverflow.com/questions/58474519/how-to-redirect-to-area-after-login-asp-net-core-3-0

Is there a work-a-round?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50249794-b4be-

[2020-07-29 23:23] Rick-Anderson commented on #13920
@wadepickett  after you get RP/EF and all the other tutorials updated, update this for 5.0, skip 3.1

[2020-07-29 23:42] hishamco commented on #19368
AFAIK Nothing changed,

FYI I refer to a very old repo, but the APIs still work the same ;)

[2020-07-30 00:21] Rick-Anderson commented on #19371
Looks like it has an answer. cc @serpent5

[2020-07-30 00:21] #19371 closed

[2020-07-30 00:22] #19368 closed

[2020-07-30 02:00] #19311 closed

[2020-07-30 02:01] #19313 closed

[2020-07-30 05:42] tal-as commented on #19371
Are you talking about the one Stackoverflow answer that wasn't marked as correct because it's wrong?  You can't use routes in Core 3.1, you have to use endpoints and setting it doesn't affect RedirectToAction since it's only returning a browser path to a page.

[2020-07-30 08:04] brgrz commented on #19364
I've solved the issue I was having with UseStatusCodePagesWithReExecute. Turns out the order of Use... calls matters. I had UseStatusCodePagesWithReExecute() after UseRouting() and it didn't work (shows the browser's native status code pages). Strangely, having both UseStatusCodePages() and UseStatusCodePagesWithRedirects() after UseRouting() does seem to work. That's why I couldn't figure out wha

[2020-07-30 08:07] brgrz commented on #19364
Having it like this doesn't work

[code]

However having the other two in the same order does work (for what they're supposed to do):

[code]

[2020-07-30 08:18] brgrz opened #19374 "Order of UseStatusCodePagesWithReExecute and UseRouting shouldn't matter"
### Describe the bug
Apparently the order in which you call UseStatusCodePagesWithReExecute and UseRouting matters. I discovered this while trying to debug why status code pages for my app didn't work.

Also, it seems the order of UseStatusCodePages and/or UseStatusCodePagesWithRedirects and UseRouting does not matter.

This is somewhat strange/inconsistent behaviour, I believe it is a bug.

It sh

[2020-07-30 09:19] MaximDelyukin commented on #17902
Any news on where is the documentation?

[2020-07-30 10:29] bioeugenio opened #19372 "Movies"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d975a83-1550-b284-d0d8-7fe2ea206ff5
* Version Independent ID: 48e81b42-7c2b-afbf-71e6-d4f442a4bd1f
* Content: [Part 4, add a model to an ASP.NET Core MVC app](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model?view=aspn

[2020-07-30 11:22] MaximDelyukin commented on #18405
@guardrex  Any news on where is the documentation for Microsoft.AspNetCore.SpaServices.Extensions ?

[2020-07-30 12:25] guardrex commented on #18405
I haven't heard anything. @scottaddie may know more.

[2020-07-30 12:26] guardrex commented on #19372
@bioeugenio You didn't leave a comment.

[2020-07-30 12:26] #19372 closed

[2020-07-30 13:58] guardrex commented on #19352
Testing looks good across the board. I don't think using service locator is the *best practices* experience. A custom `AuthorizationMessageHandler` is the best way to go.

I'll set about improving a few things:

* Surface the access token restriction on the auth URLs (request URI is within the application's base URI) for the `BaseAddressAuthorizationMessageHandler`.
* Surface the access token rest

[2020-07-30 14:38] JansthcirlU commented on #19367
This is what my `launchSettings.json` looks like at the moment:
[code]
Changing `applicationUrl` to `http` (for both 5001 and 5000) still yields the same VS Code error.

[2020-07-30 15:51] Tratcher commented on #19374
- "If you point to an endpoint within the app, create an MVC view or Razor page for the endpoint."
+ "If you point to an endpoint within the app, create an MVC view or Razor page for the endpoint. Ensure UseStatusCodePagesWithReExecute is placed before UseRouting so the request can be rerouted to the status page."

[2020-07-30 16:33] guardrex opened #19377 "Blazor WASM debug: Can't hit breakpoint in OnInitialized"
https://github.com/dotnet/aspnetcore/issues/24411

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f61c7-9f51-6735-e328-3c7b495d70c3
* Version Independent ID: 4d06e565-282d-6387-aa90-cb2c2986d35a
* Content: [Debug ASP.NET Core Blazor WebAssembly](https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcor

[2020-07-30 19:16] Rick-Anderson commented on #19364
@JamesNK please review.

[2020-07-30 19:27] Rick-Anderson commented on #19371
Sever SO posts and [this GitHub comment](https://github.com/dotnet/aspnetcore/issues/7772#issuecomment-558250086) suggest  Solution is Route Attribute

[2020-07-30 19:38] captainsafia commented on #19367
@JansthcirlU I meant the `launch.json` file inside the `.vscode` directory. [Our docs](https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-3.1#launch-configuration-options) have more info.

[2020-07-30 19:47] JansthcirlU commented on #19367
For some reason VS Code didn't give me that notification and as a result I don't have a `.vscode` directory, is there a way to manually activate it? In the meantime I'll try to create a fresh `blazorwasm` project in an entirely new directory to see if I have more success there.

[2020-07-30 19:56] DarkChocoholicDev opened #19379 "Dependency injection is not covered in tutorial"
The tutorial indicates that the reader will learn about Dependency Injection in the tutorial, yet the tutorial doesn't cover it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b677fc7-67a6-ef2f-21ee-cdffddeaac66
* Version Independent ID: b84bbc11-059d-26d1-e693-2d34dbff4af5
* Content: [Build a Blazor todo list app](ht

[2020-07-30 20:12] guardrex commented on #19379
Thanks @DarkChocoholicDev ... It was leftover from an earlier version of the tutorial that spoke to it. I'll knock that list item out right now.

[2020-07-30 20:13] guardrex commented on #19379
I'll leave the routing remark tho. That's there.

[2020-07-30 20:15] #19379 closed

[2020-07-30 20:27] serpent5 commented on #19371
Perhaps it's just a typo, but there's an `s` in `Areas` in the generated link shown above. That suggests you might've used `new { Areas = "Dashboard" }` instead of `new { area = "Dashboard" }`, for example.

Using `RedirectToAction` is the correct way to do this, so long as you've set up areas correctly. It's impossible to tell without more information. I suggest creating a minimal repro and takin

[2020-07-30 20:35] serpent5 commented on #19364
@Rick-Anderson The issue mentioned just above this comment was transferred over to the docs repo by `@Tratcher`, where there's an actionable edit suggestion for this topic.

[2020-07-30 20:39] BrettPrime opened #19381 "Blazor tutorial problem"
[EDIT by guardrex to add the metadata. @BrettPrime, please use the **This page** feedback button and form at the bottom of a topic to open an issue.]

# Issue description

line
<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

causes

Pages\Todo.razor(3,32): error CS0023: Operator '!' cannot be applied to operand of type 'string'

<h3>Todo (@todos.Count(todo => todo.IsDone == "false"))</h3>

mig

[2020-07-30 20:44] Rick-Anderson commented on #19364
Moved to Order of UseStatusCodePagesWithReExecute and UseRouting shouldn't matter #19374

[2020-07-30 20:44] #19364 closed

[2020-07-30 20:46] serpent5 commented on #19374
@Rick-Anderson Shall I take care of this now whilst I've got everything open?

[2020-07-30 20:49] Rick-Anderson commented on #19374
Yes, that would be great!

[2020-07-30 21:56] #19309 closed

[2020-07-30 22:00] #19374 closed

[2020-07-30 23:05] guardrex commented on #19381
@BrettPrime Show your `TodoItem` class. Paste it into a comment here.

[2020-07-30 23:51] queirozsume opened #19386 "UseInMemoryDatabase don't works"
That tutorial was writed for dotnet 3.0, but right now it is at 3.1. I can't compile the "UseInMemoryDatabase", because it returns a error. I have leave that tutorial, and started an other issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-

[2020-07-31 00:10] guardrex commented on #19386
Hello @queirozsume ... You need a package reference to `Microsoft.EntityFrameworkCore.InMemory`.

https://docs.microsoft.com/aspnet/core/tutorials/first-web-api?view=aspnetcore-3.1&tabs=visual-studio#add-nuget-packages

[2020-07-31 00:10] #19386 closed

[2020-07-31 00:42] guardrex commented on #19381
@BrettPrime ... I'm going to close because I think you didn't make `IsDone` a `bool` in the `TodoItem` class, which is called out earlier in the topic.

[2020-07-31 00:42] #19381 closed

[2020-07-31 08:50] brgrz commented on #19374
Thanks for updating the docs.

But don't you think that order change requirement for one out of three related method calls makes little/no sense? Feels wrong to me and makes me wonder what else can one broke when changing the order of middleware calls. Now I understand some order is required but for semantically related methods it shouldn't matter.

[2020-07-31 14:40] gantta opened #19388 "Clarify ARM template parameter"
The ARM template code snippet references a paramater named aspnetcoreVersion, however there is no documentation that I can find that specifies the allowable values for this paramater.

![Annotation 2020-07-31 103713](https://user-images.githubusercontent.com/12602697/89045635-d4706400-d319-11ea-967d-913166eaa36e.png)

The siteextensions reference page doesn't include any additional details either:

[2020-07-31 16:03] Tratcher commented on #19374
All three versions have the requirement that they be placed earlier in the pipeline than the component that sets the status code. And yes the ReExecute variant does add the constraint that it be placed before routing so that it can re-route requests. The others don't have this constraint because they handle the response internally, but you could put them all before UseRouting for consistency.

Yes

[2020-07-31 16:52] guardrex commented on #19388
@pakrym ... It appears in one of your repos at https://gist.github.com/pakrym/f22f813806b8d42c1ac212904b562d20. Can you provide more info?

@glennc ... It's also in one of your blog posts at https://devblogs.microsoft.com/aspnet/asp-net-core-2-1-0-preview1-using-asp-net-core-previews-on-azure-app-service/.

[2020-07-31 17:30] PredatH0r opened #19389 "Razor.RuntimeCompilation instructions are only valid for IISExpress"
The documentation fails to mention that editing a .cshtml in VisualStudio will only change the live page when using IISExpress.
This does not work when using Kestrel or HTTP.sys as a host.

However, when using HTTP.sys, Razor will recompile and use a modified .cshtml file located in the project output folder.
i.e. when setting a .cshtml file to "Copy to Output Directory: Copy if newer" and then ed

[2020-07-31 17:54] pakrym commented on #19388
The variable is the version of the site extension package wit th
I think this template might be a bit outdated for a couple of reasons:
1. We started producing extensions with AspNetCoreRuntime.X.X name after 3.0 release
2. I'm not sure there is a siteextension for 5.0 at all.

[2020-07-31 19:19] jkotalik opened #19390 "Update ANCM config to mention that inproc will not restart after a startup timeout failure"
[EDIT by guardrex to add the metadata]

https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/host-and-deploy/aspnet-core-module.md#attributes-of-the-aspnetcore-element

The doc for `startupTimeLimit` needs to be updated to account for in-proc hosting. When hosting inprocess, if the startup time limit is reached, the app will not restart again and doesn't use the rapid fail per minute m

[2020-07-31 19:40] guardrex commented on #19390
@Rick-Anderson ... I'll take care of this ... it's a quicky.

[2020-07-31 19:54] Rick-Anderson commented on #19389
It works fine with Kestrel when you follow the instructions to Enable runtime compilation

[2020-07-31 19:54] #19389 closed

[2020-07-31 20:02] Rick-Anderson commented on #19374
@Tratcher  if you'd like to see less of these every week upvote https://github.com/dotnet/aspnetcore/issues/18791

[2020-07-31 21:23] captainsafia commented on #19367
If you click on the `Debug` sidebar element, there's should be a hyperlink that you can click to create a launch.json file.

[2020-07-31 21:52] #19377 closed

[2020-07-31 22:22] brgrz commented on #19374
@Tratcher Definitely don’t remove ReExecute, we need it (now that’s working) ;)

[2020-07-31 22:51] wadepickett commented on #18618
Fixed with https://github.com/MicrosoftDocs/mslearn-aspnet-core/pull/47

[2020-07-31 23:00] wadepickett opened #19393 "Update readability for Razor Learn Modules"
Improve readability for Learn module: [Create a web UI with ASP.NET Core](https://docs.microsoft.com/en-us/learn/modules/create-razor-pages-aspnet-core/)

Receives around 110K page views a month, 80K unique visitors.

Acrolinx has newer requirements since this was last updated and it currently does not pass a 90 or above score.  Some customer comments focused on reducing some complexity as well.

[2020-07-31 23:02] wadepickett commented on #19393
PR fix from Learn repo: https://github.com/MicrosoftDocs/learn-pr/pull/10716

[2020-08-01 01:24] aquacat123 opened #19394 "Disabling client-side validation at just the form level in MVC Core"
In MVC Core is there an easy way to disable client-side validation at just the form level?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0156ffc3-47ac-d5da-fbc2-9ff5018b071b
* Version Independent ID: 615db388-a244-41f7-21b5-a4085d9ed479
* Content: [Model validation in ASP.NET Core MVC](https://docs.microsoft.com/en-us

[2020-08-01 06:13] Rick-Anderson commented on #19394
MFV doesn't have form level.

[2020-08-01 06:13] #19394 closed

[2020-08-01 07:39] machoy opened #19395 "Codes for [Replace the content of the Views/Shared/_Layout.cshtml file with the following markup.] may be wrong..."
With reference to the section for
**Replace the content of the Views/Shared/_Layout.cshtml file with the following markup. The changes are highlighted:**

The codes:
<a class="navbar-brand" asp-controller="Movies" asp-action="Index">Movie App</a>

aps-controller="Home" in my template.   If I had follow your codes, I will hit an error.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-08-01 16:58] aquacat123 commented on #19394
I'm not sure what MFV is.  I can use the code below to disable unobtrusive client-side validation across my application.  What I am trying to do is disable unobtrusive client-side validation for just a single view or form.

services.AddMvc().AddViewOptions(options =>
    options.HtmlHelperOptions.ClientValidationEnabled = false);

[2020-08-01 17:18] Rick-Anderson commented on #19395
Its correct

[2020-08-01 17:18] #19395 closed

[2020-08-02 00:57] Rick-Anderson commented on #17065
Thank you for contacting us. Due to a lack of activity on this discussion issue we're closing it in an effort to keep our backlog clean. If you believe there is a concern related to the ASP.NET Core which hasn't been addressed, please file a new issue.

[2020-08-02 00:57] #17065 closed

[2020-08-02 00:59] Rick-Anderson commented on #18047
Thank you for contacting us. Due to a lack of activity on this discussion issue we're closing it in an effort to keep our backlog clean. If you believe there is a concern related to the ASP.NET Core which hasn't been addressed, please file a new issue.

[2020-08-02 00:59] #18047 closed

[2020-08-02 00:59] Rick-Anderson commented on #18196
Thank you for contacting us. Due to a lack of activity on this discussion issue we're closing it in an effort to keep our backlog clean. If you believe there is a concern related to the ASP.NET Core which hasn't been addressed, please file a new issue.

[2020-08-02 00:59] #18196 closed

[2020-08-02 00:59] Rick-Anderson commented on #18524
Thank you for contacting us. Due to a lack of activity on this discussion issue we're closing it in an effort to keep our backlog clean. If you believe there is a concern related to the ASP.NET Core which hasn't been addressed, please file a new issue.

[2020-08-02 00:59] #18524 closed

[2020-08-02 01:00] Rick-Anderson commented on #18733
Set the logging level in appsettings.JSON

[2020-08-02 01:00] #18733 closed

[2020-08-02 01:01] Rick-Anderson commented on #18895
Thank you for contacting us. Due to a lack of activity on this discussion issue we're closing it in an effort to keep our backlog clean. If you believe there is a concern related to the ASP.NET Core which hasn't been addressed, please file a new issue.

[2020-08-02 01:01] #18895 closed

[2020-08-02 01:29] Rick-Anderson commented on #18943
@serpent5 can you fix this?

[2020-08-02 08:48] JvanderStad opened #19396 "Dispose whilst in OnInitializedAsync"
According to https://github.com/dotnet/aspnetcore/issues/22932 dispose can be called at any time. Any resolved services in a component can be disposed at any time, even in the OnInitializedAsync event.

I made the assumption OnInitializedAsync would finish before Dispose could/would be called. I assumed wrongly. Update the docs to prevent others from making the same wrong assumption?

---
#### Doc

[2020-08-02 10:11] PredatH0r commented on #19389
Sorry for the trouble, the error was on my end.
The VS Project was configured to "Launch: Executable" with the .exe in the Debug output folder - and that doesn't work with recompilation.
After copying the configuration from a blank project with "Launch: Project" it worked as expected with IISExpress, Kestrel and Http.sys
I leave this here just in case someone else is in a similar situation.

[2020-08-02 12:18] guardrex commented on #19396
Hello @JvanderStad ... Yes, I think a quick remark that that's the case can be placed in the *Component disposal* section. The use of a cancellation token is already covered in the last section.

[2020-08-02 12:46] #19396 closed

[2020-08-02 12:58] mc0re commented on #18733
That'll switch off all console logs. I only want them switched off in the custom exception handler. They are considered unhandled by ASP and printed out, but then they are handled in the exception middleware.

[2020-08-02 17:24] weitzhandler commented on #19358
Well I found a solution in SO indeed:

https://stackoverflow.com/a/50468182/75500

The magic I was looking for is:

[code]

This will read all controllers and actions from the specified assembly.

[2020-08-02 19:33] serpent5 commented on #18943
_Technically_, there's nothing wrong with this. `Id` and `id` don't have to match, because this is using structured logging. You might want to see `Id` as a searchable property in the logs, but use the `id` variable to populate that value for this specific message, for example.

[2020-08-02 19:53] Rick-Anderson commented on #18943
So maybe the better fix is to add the following:

Note: `Id` and `id` don't have to match, because this is using structured logging.

[2020-08-02 20:36] serpent5 commented on #18943
This `Id`/`id` approach is used in a number of the examples in the topic, so I'm not sure if that's a note we'd add under the first occurence, or something else.

There's a section, [Log message template](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#log-message-template), that talks about these parameters and structured logging. I'm not sure if that's enou

[2020-08-02 21:20] fornax76 opened #19398 "Blazor WebAssembly Hosted on ASP.NET Core - Issue"
[EDIT by guardrex to change the metadata]

I have a Blazor WebAssembly app hosted using ASP.NET Core server. I have added a Razor page to Pages folder of the ASP.NET Core server project - which should also be able to recognize a logged in user, but it doesn't.

I followed the override path method, but it doesn't work. Relevant sections of my Startup.cs are as follows:-

       `public void Configu

[2020-08-02 21:21] quakeboy opened #19399 "Requesting addition of a basic persistent storage"
Can this sample also include a basic persistent storage feature, so that the todos get saved and load even if we restart the app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b677fc7-67a6-ef2f-21ee-cdffddeaac66
* Version Independent ID: b84bbc11-059d-26d1-e693-2d34dbff4af5
* Content: [Build a Blazor todo list app](h

[2020-08-02 21:24] guardrex commented on #19399
Hello @quakeboy ... We have a PR in review now on how to work with a database via EF Core with Blazor. It should be live within a week or two. If you want to look at the guidance while they finish working on it, you can look at the diff on the PR ...

https://github.com/dotnet/AspNetCore.Docs/pull/18981

[2020-08-02 21:24] #19399 closed

[2020-08-02 21:28] Rick-Anderson commented on #18943
That explains it well.

The order of placeholders, not their names, determines which parameters are used to provide their values. In the following code, the parameter names are out of sequence in the message template:

[2020-08-02 21:28] #18943 closed

[2020-08-02 21:48] guardrex commented on #19398
Hello @fornax76 ... That's close (sans the cookie and DP bits) to what's published in the hosted Blazor with IdS topic at https://docs.microsoft.com/aspnet/core/blazor/security/webassembly/hosted-with-identity-server. Did you create your app (or an earlier app) exactly per that guidance and hit this problem? If not, you might try creating an app via the topic's guidance with the scenarios you need

[2020-08-02 22:46] KaoSaeteurn opened #19400 "Please update image used in Visual Studio for Mac scaffolding instructions or fix the defect."
[Enter feedback here]
The image used for scaffolding the movie model under the Visual Studio for Mac tab needs to updated.

This step

_In the Data context class row, type the name for the new class, **RazorPagesMovie.Data.RazorPagesMovieContext**. This change is not required. It creates the database context class with the correct namespace._

Does not match the value in the image used in the "DbC

[2020-08-03 10:50] SimonCull commented on #15899
Has there been any update on this?

[2020-08-03 14:28] tal-as commented on #19371
Thanks for the additional help.  I used "area" not "areas".  Route didn't work either.

I'm trying to open the app with an Identity Razor login page instead of the Home/Index page.  I can manually enter the path (/Identity/Account/Login) and it works fine but the RedirectToAction always returns "/Account/Login?area=Identity" from the Home/Index controller.

It's frustrating because what I've read

[2020-08-03 14:32] serpent5 commented on #19371
Oh, I see. In that case, you actually need `RedirectToPage`, because the Identity stuff is based on Razor Pages. Something like this should do it:

[code]

[2020-08-03 14:47] fornax76 commented on #19398
I have a Blazor WA + ASP.NET Core hosted solution here, which followed the IdS setup doc link you mentioned above. Here is the specific ask I want to achieve:-
1. In the server project under Pages folder, I created a razor page named **Index**.
2. I want to enable cookie authentication for this folder / file, but unable to do so using the suggested cookie config changes.

Repo
https://github.com/f

[2020-08-03 14:52] tal-as commented on #19371
That fixed it, thank you!  In my defense, I had tried RedirectToPage but for some reason, not with new { area = "Identity" }.

[2020-08-03 14:55] guardrex commented on #19398
I didn't know that there would be a problem for that scenario. This is the first report that we've had in the docs issues on this scenario. If you don't see an existing issue on this in the engineering issues, open a new issue for them.

Start looking with these filters (open and closed Blazor issues) ...

https://github.com/dotnet/aspnetcore/issues?q=is%3Aissue+label%3Aarea-blazor+

... try filte

[2020-08-03 14:55] #19398 closed

[2020-08-03 15:14] JansthcirlU commented on #19367
@captainsafia I'm sorry for neglecting this thread over the weekend, I have added `launch.json` from the `Debug` sidebar and it currently looks like this:

[code]
Upon creating the file it prompted me to select a configuration from the dropdown list so I just picked Blazor Webassembly.

[2020-08-03 15:34] MarcusRhodes opened #19404 "How to sign the user out when browser tab or window is closed?"
I implemented this ideas expressed in this documentation, but I have run into a problem with the user remaining logged in even after the close the browser tab. If more than one browser window is open, and they close the window with my app, they are also still logged in. They are only logged out if they close all the browser windows completely.
There is no mention of this in the article, and there

[2020-08-03 16:56] captainsafia commented on #19367
Does using a non-HTTPS URL work as recommended in the comment above.

[2020-08-03 17:04] guardrex commented on #18329
Cross-ref: https://docs.microsoft.com/aspnet/core/signalr/configuration#configure-bearer-authentication-1

[2020-08-03 17:53] bradygaster commented on #15899
We've not made any progress on this doc update yet but we have been investing in other areas where OAS is valuable to customers (and to us) so this is getting picked up and prioritized more efficiently now. I'll work with the team to escalate the attention we're giving this. Apologies in advance.

[2020-08-03 18:16] JansthcirlU commented on #19367
If I add `"url":"http://localhost:5001"` to `launch.json` I get the pop-up error again.

[2020-08-03 18:55] Rick-Anderson commented on #19404
Did you [Sign out](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?view=aspnetcore-3.1#sign-out) ?

[2020-08-03 19:01] MarcusRhodes commented on #19404
I have that implemented, and I can when I click a button. I need to user to be signed out when they close the browser tab, window, or search for something in the url bar that causes them to leave the page.

Can .net sign the user out when they leave they app?

[2020-08-03 19:16] #19118 closed

[2020-08-03 19:19] scottaddie opened #19407 "Add what's new page for August 2020"

[2020-08-03 20:02] Rick-Anderson commented on #19404
It's impossible to know if they signed out.

[2020-08-03 20:14] MarcusRhodes commented on #19404
You mean it is impossible to know if they closed the app?

[2020-08-03 20:14] Rick-Anderson commented on #19404
@Tratcher  this comes up too much. Should I create an include file for [the doc's that mention SignOutAsync](https://docs.microsoft.com/en-us/search/?scope=ASP.NET%20Core&view=aspnetcore-3.1&terms=SignOutAsync&category=Documentation) to say you must call `SignOutAsync` to sign out. It's impossible to know if the user meant to sign out when they navigate to another page, close a browser tab, etc.

[2020-08-03 20:23] Tratcher commented on #19404
That's how session-lifetime cookies work in the browser, that's not something the server has any control over. I think your only alternative is to register javascript events for tab close and call signout. https://stackoverflow.com/questions/21227383/how-to-detect-browser-window-tab-close-event

[2020-08-03 20:36] MarcusRhodes commented on #19404
Thanks for the response! I have been doing that, so I will try to refine my approach, then. Window.onbeforeunload fires on every request, but I just need tab closes and when the user leaves the site.

[2020-08-03 21:19] #19390 closed

[2020-08-04 03:50] captainsafia commented on #19367
If should be http://localhost:5000. The non-HTTPS version of the app runs on port 5000.

[2020-08-04 07:35] dehghani-mehdi opened #19408 "Customizing built-in tag helpers"
**Help us make content visible**

- Tell us what search terms you used and how you searched docs. built-in tag helper, customizing
- Tell us what docs you found that didn't address your concern.  [ASP.NET Core built-in Tag Helpers](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/?view=aspnetcore-3.1)

**Describe the new topic**

- Explain why this topic is needed.
    -

[2020-08-04 12:32] #19370 closed

[2020-08-04 12:41] guardrex commented on #19408
Hello @dehghani-mehdi ... That's not a common ask here. This is the first time that I recall this coming up in the last several years. Fortunately, it's a straightforward process: A dev would grab the TH code from the framework and make their own custom version using the guidance in the TH authoring topic.

* https://github.com/dotnet/aspnetcore/tree/master/src/Mvc/Mvc.TagHelpers/src
* https://doc

[2020-08-04 12:41] #19408 closed

[2020-08-04 15:13] blomm opened #19409 "error trying to generate controller from models with views with no keys"
Using netcoreapp3.1 (3.1.6 libraries) in VS Code

I have built a simple web api project, reverse engineered my database (dotnet ef dbcontext scaffold) which contains views that have no keys, which shouldn't be a problem since ef core 3.

I can see that in onModelCreating code is added to clarify that there is no key:

[code]
The problem arises when I go to generate a controller:

`dotnet aspnet-co

[2020-08-04 15:26] JansthcirlU commented on #19367
@captainsafia Thanks, that did the trick!

[2020-08-04 15:26] #19367 closed

[2020-08-04 16:19] mtaylorfsmb opened #19410 "Enforcing SSL section makes REST API recommendations but doesn't provide or link to how"
On the page for ASP.NET Core enforcing SSL it demonstrates the default behavior of `UseHttpRedirection` and optionally `UseHSTS` to secure apps. However the page correctly documents that neither HTTP redirection nor HSTS should be used on REST APIs as they won't work (probably).

For HSTS you just leave out the middleware and the default project template (when creating an API only) does this. But

[2020-08-04 17:48] Rick-Anderson commented on #19409
I think scaffolding requires a key.

[2020-08-04 17:48] #19409 closed

[2020-08-04 18:13] wadepickett commented on #19393
Fixed with MicrosoftDocs/learn-pr#10716

[2020-08-04 18:13] #19393 closed

[2020-08-04 18:13] DarkChocoholicDev opened #19411 "Page appears to refer to files and methods that existed prior to simplification of app/program startup."
1. For the description of Program.cs, the WebAssembly section references configuration via the "**ConfigureServices** method on the host builder".

2. For the description of wwwroot/index.html (Blazor WebAssemly), there is a reference to **Startup.Configure**.

Are these still correct, or has this page not been fully updated to reflect the simplification of the app/program startup?

---
#### Docum

[2020-08-04 18:23] guardrex commented on #19411
Good :eye: @DarkChocoholicDev ... It should say "`Services` property" now. The other one should remark that the `App` component is a root component mapping. I'll fix those right now. Thanks for letting me know.

[2020-08-04 18:48] #19411 closed

[2020-08-04 19:34] bennettfactor opened #19413 ""Override configuration" section should be updated?"
Hi, the section "Override configuration" appears out of date. Is the "UseConfiguration" extension method still the preferred way to configure a web host in ASP.NET Core 3.1? This extension method exists in "Microsoft.AspNetCore.Hosting" which has a latest version of 2.2.7.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-08-04 20:24] DarkChocoholicDev opened #19414 "launchSettings.json not listed in file descriptions"
Since **appsettings.json** is listed with respect to Server-side Blazor, it might be useful to list **launchSettings.json** with respect to WebAssembly Blazor. Additionally, including links to the pages that discuss appsettings.json and launchSettings.json in detail might also be useful.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-08-04 20:53] guardrex commented on #19413
@bennettfactor Web Host isn't recommended for 3.x apps. Why haven't you embraced the Generic Host?

@Rick-Anderson ... This content was reviewed/approved by Chris back in the day (for 2.x). I doubt that it has changed since then given that they didn't make significant updates to Web Host scenarios since then.

[2020-08-04 20:57] #19413 closed

[2020-08-04 21:03] #19414 closed

[2020-08-04 21:22] serpent5 commented on #18963
I can't find anything authoritative on the subject, but I've discovered that this changed when the `AllowValidatingTopLevelNodes` compatibility switch was added as part of 2.1. In a sample project that uses 2.1, just switching that between `true` and `false` shows the difference.

[2020-08-04 23:42] mark-at-tusksoft opened #19417 "InputRadio example does not work for bool values"
If the SelectedValue is set to true, the value is empty. If it is set to false, the value is "on".
I'm guessing this has to do with how html is parsing the input?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884-c1fe5c2ef52d
* Version Independent ID: 09a02d10-2834-467d-d8c2-3fd19ceb3863
* Content:

[2020-08-05 00:24] guardrex commented on #19417
Hello @mark-at-tusksoft ... It's not designed to work that way. The `SelectedValue` is an `int` and is applied to the model's `Rating` if that input is selected. It sounds like you're seeking to create a custom version of this example `InputRadio` component that has different behavior. We don't have the staffing to provide general product support, so we recommend the usual support channels. Of cou

[2020-08-05 00:24] #19417 closed

[2020-08-05 00:29] xouaib commented on #14947
Please help:
BTW, im using ubuntu 18.04 with .netcore sdk 3.1.302, i always get this error i dont how to deal with it :+1:

[code]

[2020-08-05 00:35] xouaib opened #19418 "unable to Scaffold movie pages"
Hi .net developer please regarding to the following command, i get stacked to scaffold movie pages

 `dotnet aspnet-codegenerator controller -name MoviesController -m Movie -dc MvcMovieContext --relativeFolderPath Controllers --useDefaultLayout --referenceScriptLibraries`

FYI, i use ubuntu 18.04 with dotnetcore SDK 3.1.302 using VSC of course.

This is the error that i always get when i hit enter

[2020-08-05 01:04] bennettfactor commented on #19413
Thanks all. Agreed it makes sense for the whole topic to be removed.

[2020-08-05 10:33] mlsomers opened #19420 "Users with non-string ID's don't seem to be supported?"
# Issue description

The generated scaffolding contains the file `ExternalLogins.cshtml.cs`
In the method `OnGetLinkLoginCallbackAsync()` there is the following call:
`var info = await _signInManager.GetExternalLoginInfoAsync(user.Id);`

It is passing in the user.Id, wich is not a string but a long, this is the code from `SignInManager<TUser>`:

[code]

Unfortunately I don't understand the concept

[2020-08-05 13:10] guardrex commented on #19420
@mlsomers It's best to open issues here using the **This page** feedback button and form, which adds metadata and ping the author of the topic. What topic are you looking at? I can add the metadata ... or close this issue and re-open it.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

[2020-08-05 13:17] guardrex commented on #17651
https://docs.microsoft.com/en-us/aspnet/core/blazor/call-javascript-from-dotnet?view=aspnetcore-3.1#avoid-circular-object-references

[code]

[2020-08-05 14:48] mlsomers commented on #19420
Sorry, it's not an issue with the documentation, but with the code.
Not sure how I ended up here...
Opened the issue in the [correct place](https://github.com/dotnet/aspnetcore/issues/24580).

[2020-08-05 14:48] #19420 closed

[2020-08-05 16:49] bradygaster commented on #18710
Will do - will reach out to our friends in the service team to get this carved out with them. There's another doc update I'd like to make on using the service so this is good timing.

[2020-08-05 16:53] bradygaster commented on #17315
@Rick-Anderson I don't see the PR linked herein. Apologies if I'm missing it - attach that and i'll gladly approve. I'd also like to add a sample herein for the Blazor .NET client scenario.

[2020-08-05 17:16] JansthcirlU commented on #19367
I noticed that I get the same error if my `launchSettings.json`'s `applicationUrl` isn't the same as `launch.json`'s `url`, don't know if that has been an issue before.

[2020-08-05 17:55] Rick-Anderson commented on #17315
@rakotomandimby  go ahead and provide a PR.

[2020-08-05 18:07] udlose opened #19421 "Is HealthCheck functionality moving to Microsoft.Extensions.Diagnostics.HealthChecks from Xabaril / AspNetCore.Diagnostics.HealthChecks?"
I recently came across the `Microsoft.Extensions.Diagnostics.HealthChecks` nuget and was wondering if this is supposed to replace the `AspNetCore.Diagnostics.HealthChecks` that Xabaril has built at https://github.com/xabaril/AspNetCore.Diagnostics.HealthChecks.

Can you please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-08-05 18:23] captainsafia commented on #19367
It shouldn't have to be the same. You just need to make sure that the `url` in `launch.json` is included in the list of `applicationUrl`s.

[2020-08-05 18:34] Rick-Anderson commented on #19421
@glennc  can you recommend someone to update the HealthChecks  doc?

[2020-08-05 18:34] #19265 closed

[2020-08-05 18:42] #19317 closed

[2020-08-05 18:46] #18297 closed

[2020-08-05 19:21] Rick-Anderson opened #19422 "Total rewrite of DI article"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d78f540-81fd-1ba9-cb90-591e4ec27d9b
* Version Independent ID: 2251f557-dd3a-ec35-2558-6243337db009
* Content: [Dependency injection in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-3.1#design-services-for-depen

[2020-08-05 19:21] #19352 closed

[2020-08-05 19:35] #19149 closed

[2020-08-05 19:53] #17308 closed

[2020-08-05 19:53] #18807 closed

[2020-08-05 20:05] #18510 closed

[2020-08-05 20:56] guardrex commented on #19421
@udlose It's not a replacement ... it's a dependency of the framework's healthchecks packages and provides types used by the framework's infrastructure to make health checks work. For example, it's a dependency of [Microsoft.Extensions.Diagnostics.HealthChecks.EntityFrameworkCore](https://www.nuget.org/packages/Microsoft.Extensions.Diagnostics.HealthChecks.EntityFrameworkCore/). Xabaril's package

[2020-08-05 21:13] #19421 closed

[2020-08-05 23:45] Rick-Anderson commented on #19418
Make sure you have the current SDK installed and run

[code]

Try creating only the model, then run

[code]

[2020-08-05 23:45] #19418 closed

[2020-08-06 01:21] jvallejoa commented on #13062
**Here,my Upvote to migrate all obsolete Identity razor pages to blazor components.**

[2020-08-06 14:46] mkArtakMSFT commented on #18710
Thanks for following up, @bradygaster. Just saw their response.
@scottaddie the recommendation here is to use the `default` mode. As the other modes either nor recommended or won't work - let's not even bother mentioning those.

[2020-08-06 14:53] guardrex commented on #18710
The only coverage in this doc set is ...

I list the topics (looks like that's in three spots) above :point_up:. The remark can be removed in favor of an explicit remark to use `Default`.

@scottaddie ... I can remain assigned and work this if u want or ur welcome to it.

[2020-08-06 16:12] wadepickett opened #19426 "Web presence Learn report data for development team"
Provide July .NET Learn Module data/report for Product Unit.  Call out trends.

[2020-08-06 17:22] wadepickett commented on #19426
This was just for tracking work already completed this month.
I provided the report to the product unit 8/4 plus an updated dashboard that includes the data they need.

[2020-08-06 17:22] #19426 closed

[2020-08-06 17:51] wadepickett opened #19427 "Update .NET Azure topics with metadata so they can be reported on"
Locate all .NET topics (Non-reference) for Azure across all repos that publish to /azure/ and add the following custom metadata values based on language that dev content org agreed to.

Add these values:

- devx-track-fsharp
- devx-track-csharp
- devx-track-visualbasic

Fixed by these PR's in both AspNetCore.Docs and azure-docs-pr:
https://github.com/dotnet/AspNetCore.Docs/pull/19466           (14

[2020-08-06 18:11] bradygaster commented on #18710
I'm fine with either, but I know @scottaddie is super-slammed and has little time for this (I asked yesterday!). @guardrex if you have time put me on as reviewer.

[2020-08-06 18:27] guardrex commented on #18710
Will do ... I'll be able to take care of this tomorrow (Friday, 8/6). Will hit u up for the review.

[2020-08-06 18:46] timheuer opened #19428 "dotnet-watch links to outdated global tool"
In the start of this article this links to a global tool that is now included in the SDK.  First link to dotnet-watch should be unlinked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75e3163f-1903-f2c7-8909-d34f917944bf
* Version Independent ID: 55aae418-9d32-5b2b-1df7-5e4e76313ec4
* Content: [Develop ASP.NET Core ap

[2020-08-06 18:55] sameer-kumar opened #19430 "Refactor Custom ProblemDetailsFactory"
As described and documented [here](https://docs.microsoft.com/en-us/aspnet/core/web-api/handle-errors?view=aspnetcore-3.1#implement-problemdetailsfactory), I like to customize the **ProblemDetails** hence extended **ProblemDetailsFactory** class.
However, I want to have this custom implementation to live in .Net Standard shared class library and not in the Web project itself. But I can't do that.

[2020-08-06 19:33] pranavkm commented on #19430
The type is part of the ASP.NET Core shared framework. You'll need to target a `netcoreapp3.1` or `net5.0` project to be able reference it.

[2020-08-06 20:05] sameer-kumar commented on #19430
This is what my csproj file looks like:
[code]

[2020-08-06 20:07] #19428 closed

[2020-08-06 21:34] JasonCard opened #19431 "Translate of Cookie Term in PT-BR is wrong."
Issue transferred from [https://github.com/dotnet/AspNetCore.Docs.pt-br/issues/139](https://github.com/dotnet/AspNetCore.Docs.pt-br/issues/139).

From @rafaelcruz-net

Guys,

In this page https://docs.microsoft.com/pt-br/aspnet/core/fundamentals/app-state?view=aspnetcore-3.1, the translate of term cookie is wrong.

The page show the translate "ARAR" on state managment table in PT-BR but the correc

[2020-08-06 21:37] JasonCard commented on #19431
Rick-Anderson commented 2 hours ago •
I think we should probably code fence cookie everywhere so it's not translated. I'm guessing most languages don't translate it.
cc @scottaddie @guardrex

@rafaelcruz-net thanks for reporting this.

Rick-Anderson commented 2 hours ago •
77 results for "cookie" in ASP.NET Core Documentation

cc @JasonCard

" cookie " -> " cookie "
" Cookie " -> " Cookie "
" cook

[2020-08-06 21:40] JasonCard commented on #19431
@rafaelcruz-net @Rick-Anderson @scottaddie @guardrex Transferring [https://github.com/dotnet/AspNetCore.Docs.pt-br/issues/139](https://github.com/dotnet/AspNetCore.Docs.pt-br/issues/139) here.

[2020-08-06 22:03] scottaddie commented on #19430
@sameer-kumar See the following doc for guidance on using the ASP.NET Core shared framework in a library: https://docs.microsoft.com/aspnet/core/fundamentals/target-aspnetcore.

[2020-08-06 22:45] #19430 closed

[2020-08-06 22:46] Rick-Anderson commented on #19427
@wadepickett  be sure to remove `Not Triaged` label when you triage.

[2020-08-06 23:09] egil commented on #10747
Hi @guardrex

I'm back from vacation and have a first draft for you. Let me know if it matches your expectations, and feel free to adjust anything to your liking:

-----------

# Testing Blazor Components

Having good tests is a big part of building stable and maintainable software, and Blazor components is no exception.

To test a Blazor component (or page), it must first be rendered with relevan

[2020-08-06 23:11] guardrex commented on #10747
Thanks @egil ... I should be free on Monday morning. I'll move this issue to the top of the list.

[2020-08-07 02:00] AnilDesai opened #19432 "Project Creation changes for latest Visual Studio Code (minor)"
At least the first several steps for using VS Community appear to be outdated.  The setup options for a new Blazor project now uses two steps and offers more options.  For example, it's useful to disable HTTPS for learning purposes.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08de9daf-79aa-ee76-431e-f2432f8d691e
* Ve

[2020-08-07 03:47] augaldecr opened #19434 "Re-version Blazor <head> component section"
The page must go to Blazor's Title component, but redirects to another unrelated content

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc56d254-09c5-993b-2559-76af9a3f97ed
* Version Independent ID: a0bb183f-7e4d-ba39-c94c-cf60e951c7a9
* Content: [ASP.NET Core Blazor hosting model configuration](https://docs.microsoft.

[2020-08-07 04:04] guardrex commented on #19434
Hello @augaldecr ... It's a 5.0 preview feature. Select the 5.0 version of the topic to see that section.

Leave this issue open. I might temporarily remove the component link from the table of contents until 5.0 releases later this year.

[2020-08-07 06:26] akchhayalok opened #19436 "A fatal error occurred. The required library libhostfxr.so could not be found."
I got an error while following tutorial in scaffolding AspNet web api in the below command
[code]
I am using vs code in Ubuntu 18.04

[2020-08-07 09:19] sudhashbahu opened #19438 "Unable to generate scaffolding"
[Enter feedback here]

When trying the tutorial with VSCode on Linux (Core version 3.1) ...

Until the section "Register the database context". Everything is fine and the project builds

But in section "Scaffold the movie model" running the "dotnet aspnet-codegenerator razorpage" command gives:

Building project ...
Finding the generator 'razorpage'...
Running the generator 'razorpage'...
Attempti

[2020-08-07 10:05] akchhayalok commented on #19436
I am able to solve this issue as dotnet/tools/ is present in my home folder location so
instead of running
[code]
I ran
[code]

[2020-08-07 10:05] #19436 closed

[2020-08-07 10:24] JiaHuiWeng commented on #11418
我也遇到这个问题啊，你们赶紧解决啊

[2020-08-07 10:53] guardrex commented on #19434
I'm going to surface that section until 5.0 ships, then I'll put the versioning of that section back into place.

Leave this issue open ... I'm going to re-purpose it to track the next update on this.

Thanks @augaldecr! :rocket:

[2020-08-07 11:04] guardrex commented on #19432
Hello @AnilDesai ... I'm surprised. These instructions are correct for the commercial version, and I don't understand how the UI would be different. Are you able to take a screenshot of each step and place them into a comment here so that I can see? Alternatively, can you clarify exactly which steps aren't correct and what the UI shows instead? Installing VS Community Ed. isn't simple for me given

[2020-08-07 11:09] guardrex opened #19440 "Add Blazor WASM debug note"
https://github.com/dotnet/aspnetcore/issues/24623#issuecomment-670300570

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f61c7-9f51-6735-e328-3c7b495d70c3
* Version Independent ID: 4d06e565-282d-6387-aa90-cb2c2986d35a
* Content: [Debug ASP.NET Core Blazor WebAssembly](https://docs.microsoft.com/en-us/aspnet/core/blaz

[2020-08-07 15:38] #19440 closed

[2020-08-07 17:05] mrlife opened #19442 "Call component instance method in specific component when multiple of the same component are on screen"
The code in this section is for calling a method in a razor component. If there are more than one of the same component onscreen, the function is called only on the last one in the DOM.

Is it possible to specify which one to call the method on?

https://docs.microsoft.com/en-us/aspnet/core/blazor/call-dotnet-from-javascript?view=aspnetcore-3.1#component-instance-method-call

---
#### Document Det

[2020-08-07 17:11] guardrex commented on #19442
I thought this was already covered down where the topic recommends .......

... and the example that follows.

[2020-08-07 17:14] mrlife commented on #19442
@guardrex  Isn't that for calling the method in multiple components? I want to call one method in one specific component (there are more than one component of this type).

[2020-08-07 17:19] guardrex commented on #19442
That's not the way that I recall it ... I thought it did what you're asking about.

I'm ⛰️⛏️ digging out from under three forms validation issues right now ... almost done; but given that it's Friday and I'm out of hours this week, I'll have to take a closer look early next week.

[2020-08-07 17:27] mrlife commented on #19442
Ah, when I read that, I read it as "this is how you call the method on all the components on screen."

Is it saying the same thing as the following?

[2020-08-07 17:30] guardrex commented on #19442
I'm not sure ... I'll have to take a closer look next week.

I'm **_buried_** ⛰️⛏️ in code at the moment. :smile: lol

I'll get back to you on this as soon as I can.

[2020-08-07 19:11] Rick-Anderson commented on #19438
Dup of https://github.com/dotnet/Scaffolding/issues/1382

[2020-08-07 19:11] #19438 closed

[2020-08-08 00:23] #19339 closed

[2020-08-08 00:55] #19431 closed

[2020-08-08 10:51] mc0re opened #19452 "Identity and Basic authentication"
I'm not sure which exact page I shall tag this one to. So please move if improper.

I am retrofitting *Identity* into an existing *ASP NET Core 3.1* project. I managed to adjust *Identity*, so the existing `Users` and `Roles` tables are used, and the existing password hashing works, so the users can log in via Web. But they also use programs, that employ API access to the service, and there *basic

[2020-08-08 12:39] mohammadrezalamei opened #19453 "run time compilation razor views does not work"
hi
i read this [page](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-3.0&tabs=visual-studio) but my project views compiled on publish and debug!
AddRazorRuntimeCompilation extension method does not work!
i am sorry for my bad english

[2020-08-08 14:32] AnilDesai commented on #19432
Hi, Luke - thanks for your extremely quick response to my issue.  I believe the issue I encountered might have been due to either user error (me) or having an earlier version of the template installed.  Just to clarify, this was a minor problem (and one that I think most readers wouldn't have any problems with).  I did mean to state **VS Community** and am using the instructions for "Visual Studio

[2020-08-08 14:34] guardrex commented on #19432
No worries. Thanks for letting me know.

[2020-08-08 14:34] #19432 closed

[2020-08-08 19:25] Rick-Anderson commented on #19452
I recommend you post this on SO as it doesn't seem to fit our documents. CC @blowdart  who owns security in case he disagrees.

[2020-08-08 19:25] #19452 closed

[2020-08-08 19:28] blowdart commented on #19452
Yup, we don't support basic authentication on inbound connections due to its security and scalability problems.

[2020-08-08 20:03] alraiah opened #19454 "desg"
هل ممكن عمل برمجه بهذه اللغة لموقع الكتروني كما هو الحال
[https://www.arabpage.net/](https://www.arabpage.net/)

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://docs.microsoft.

[2020-08-08 21:08] Rick-Anderson commented on #19454
Is it possible to do programming in this language for a website as is the case?

This is for a a web API, not for a web UI

[2020-08-08 21:08] #19454 closed

[2020-08-09 02:11] Rick-Anderson commented on #19453
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-08-09 02:11] #19453 closed

[2020-08-09 02:11] Rick-Anderson commented on #19453
Next time create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2020-08-10 09:00] luanpham107 commented on #19418
I found the way how to solve this.
The problem is caused by aspnet-generator itself. Please downgrade your version from v3.1.4 to v3.1.0 by using these commands:
[code]

[2020-08-10 14:15] guardrex commented on #10747
@egil ... I'm in a good spot now to get the content into a PR for review.

Since we last discussed where the topic would be placed, we've made some changes: Blazor docs are all in the `blazor` folder now and (mostly) only appear in the *Blazor* ToC node. It's better for readers and faster for me to maintain the docs. Therefore, I'll place this new topic in the `blazor` folder and only have a ToC e

[2020-08-10 14:20] egil commented on #10747
Sounds good @guardrex. Look forward to getting your input.

[2020-08-10 14:25] deryckbeard opened #19460 "Cannot download authorisation project code from docs example"
All I wanted was to download the example code and work through the project, but cannot get the code.

The instructions to get the code, do not match the link provided

The link for the code took me into GIT hub with no zip download for the project.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b66f8ffa-699c-8b11-0cab-

[2020-08-10 16:02] JasonCard opened #19462 "Wrong translation title"
Transferring [https://github.com/dotnet/AspNetCore.Docs.zh-tw/issues/147](https://github.com/dotnet/AspNetCore.Docs.zh-tw/issues/147) from @u8989332

English: Use social sign-in provider authentication without ASP.NET Core Identity

Current translation: 使用不 ASP.NET Core 的社交登入提供者驗證Identity

Revised translation: 使用沒有ASP.NET Core Identity的社交登入提供者驗證

文件詳細資料
⚠ 請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題

[2020-08-10 16:04] JasonCard commented on #19462
Rick-Anderson commented 13 hours ago
cc @guardrex @scottaddie
@JasonCard please transfer this issue to https://github.com/dotnet/AspNetCore.Docs/issues and I'll add Identity to the no loc list. It's always uppercase.

Rick-Anderson commented 13 hours ago
Actually it looks like it's not translating Identity and that's what we want.
@u8989332 Identity is a product and shouldn't be translated. Why do

[2020-08-10 16:18] guardrex commented on #19460
@deryckbeard ... You have to back out to the top level ...

https://github.com/dotnet/AspNetCore.Docs

... and it's under the **Code** button there. That's the way GH works on all repos. The direct link in the ...

https://docs.microsoft.com/en-gb/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-3.1#how-to-download-a-sample

... section will bring down the ZIP. That link is ...

https://cod

[2020-08-10 16:18] #19460 closed

[2020-08-10 16:50] guardrex commented on #10747
@danroth27 @mkArtakMSFT @egil A couple of questions have arisen WRT the Blazor testing content here.

## Terminology

@egil, what you're calling "component testing" is AFAICT "unit testing of components." The term "component testing" seems overloaded to me ... it could be either unit or E2E taking place, so that term doesn't seem to distinguish anything in particular. It seems to me 🤔 that we'd st

[2020-08-10 17:01] egil commented on #10747
@guardrex wrt. component testing vs unit testing, it was a term I picked up from Dan and thought it made sense. I am completely fine with using unit testing, since the component testing and unit testing means the same in this context, at least in my view/wrt. bUnit.

[2020-08-10 17:34] egil commented on #10747
With regards to e2e testing: I can do an update to the docs with that when I have this issue closed: https://github.com/egil/bUnit/issues/144

[2020-08-10 18:03] deryckbeard commented on #19460
Yes I worked that out Luke,

it took me some time and if the page and the links were constructed
correctly in the first instance I shouldn't have needed to.
 The download instruction link should have the detail of this email, and
the link for download should be the page where you download the file. As
you point out the Git hub page is pretty much useless for the article.

It is a difficult enough

[2020-08-10 18:30] guardrex commented on #19460
They aren't supposed to match under the current approach. The instructions are to ...

1. Download the whole repo as a ZIP using that direct link in the *how to download* instructions (linked from the word "download").
2. Unzip and navigate to where the sample is located by looking at the destination of the sample link.

There has been an effort across all doc sets to have a individual sample link

[2020-08-10 18:46] Rick-Anderson commented on #19460
cc @scottaddie  @wadepickett

[2020-08-10 18:48] Rick-Anderson commented on #19418
@deepchoudhery FYI, multiple reports of this problem/solution

[2020-08-10 18:56] deepchoudhery commented on #19418
Will take a look ty.

[2020-08-10 19:02] deryckbeard commented on #19460
Thanks for replying  Luke,

I don't care which approach you have taken as long as it is correctly
documented.
These are tutorials, they are supposed to help the user, not confuse and
make them angry.

I became extremely frustrated being led up the  garden path by the use of
incorrect links and then having to work out where and how I could access
the code sample.
Even more so when I googled it and

[2020-08-10 20:44] mc0re opened #19464 "How to log in via Web and via API?"
The article explains the technical implementation of multiple schemes on the server side. But it is missing an important bit - how exactly would I modify the *Identity* `Login` page and `Startup` file to achieve both logging in via Web (entering user name and password), as well as from API (requesting a JWT token)? The client for the latter is not complicated, but I can't figure the server part, w

[2020-08-10 21:29] Rick-Anderson commented on #19464
Logging in via API is beyond the scope of this article. You could post the question to SO.
cc @blowdart  in case he disagrees

[2020-08-10 21:29] #19464 closed

[2020-08-10 22:24] captainsafia opened #19465 "Add documentation for debugging in VS4Mac"
Let's add docs on debugging Blazor WASM on VS4Mac since this will ship in VS4Mac 8.8.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f61c7-9f51-6735-e328-3c7b495d70c3
* Version Independent ID: 4d06e565-282d-6387-aa90-cb2c2986d35a
* Content: [Debug ASP.NET Core Blazor WebAssembly](https://docs.microsoft.com/en-us/asp

[2020-08-10 22:37] guardrex commented on #19465
I keep my VS4Mac on the stable channel. If you're ok with my performing the update on the day that 8.8 releases, then I can handle the update.

[2020-08-10 22:52] captainsafia commented on #19465
Yea, no rush to write this up. Just wanted to make sure that we are tracking this.

Content wise, I was thinking we could just update the heading for debugging on VS to "Debugging on Visual Studio/Visual Studio for Mac" and then update the keyboard shortcuts. Thoughts on this?

[2020-08-10 22:54] guardrex commented on #19465
Ideally, we'll go with our usual tooling tab control. I meant to do that for what we have now, but you know the story ... 🏃🏃🏃🏃🏃🏃🏃😅🏃🏃🏃🏃🏃🏃🏃🏃😅.

[2020-08-11 01:52] wadepickett opened #19467 "Add metadata for C# .NET + Azure topics"
Locate ASP.NET topics that focus on Azure and add the ms.custom metadata value of "devx-track-csharp".   This value is being temporarily used to identify .NET + Azure focused topics for reporting across repos.

[2020-08-11 03:45] donhuvy opened #19469 "ASP.NET Core MVC and Blazor are confusing"
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-5.0&tabs=visual-studio#scaffold-identity-into-an-mvc-project-without-existing-authorization

![image](https://user-images.githubusercontent.com/1328316/89855083-b5968b00-dbbf-11ea-8ed4-35180d8f9ba8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-08-11 06:09] Rick-Anderson commented on #19469
cc @guardrex

[2020-08-11 06:12] Rick-Anderson commented on #19462
@guardrex @JasonCard can I just change
`no-loc: [`
to
`no-loc: [ASP.NET Core Identity, `  <-- ends with space

[2020-08-11 06:46] mc0re commented on #19464
I understand your point. But please try to see it from my perspective as well. There is an article about API login (https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.1). There is an article about Web login (this one). But the two are not compatible, and I can't find an official article describing a hybrid solution.

There are some art

[2020-08-11 09:00] peereflits opened #19470 "Text conflicts with the title "Secure an ASP.NET Core Blazor WebAssembly hosted app with Azure Active Directory B2C""
Reading https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-azure-active-directory-b2c?view=aspnetcore-3.1 the title says: "Secure an ASP.NET Core Blazor WebAssembly **hosted** app with Azure Active Directory B2C".
But the first textline states: This article describes how to create a Blazor WebAssembly **standalone** app that uses Azure Active Directory (AAD) B2C f

[2020-08-11 09:36] michagLW opened #19471 "Logging of errors is not part of, nor referenced from, this document"
[Enter feedback here]
I'm lacking recommendations for where logging should be added for global error handling

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f6504cd-a059-c5d4-73fb-61222ef1c6e0
* Version Independent ID: 1b42352c-a34f-7703-aa3e-d7e3156bd0bd
* Content: [Handle errors in ASP.NET Core web APIs](https://doc

[2020-08-11 10:01] guardrex commented on #19469
@donhuvy What's confusing? It's just saying that if you're scaffolding Identity into a Blazor Server project that you won't have a layout page ... so you don't select an existing layout page for that step. There's no danger of overwriting anything.

[2020-08-11 10:03] guardrex commented on #19462
Put quotes around it ...

[code]

... with the trailing space after the comma.

[2020-08-11 10:06] guardrex commented on #19470
Thanks @peereflits ... that's a typo.

... and the difference is described in the Hosting Models topic at ...

https://docs.microsoft.com/aspnet/core/blazor/hosting-models

I'll patch that typo up right now. I'll see about cross-linking it to the Hosting Model topic to surface what it means.

[2020-08-11 10:23] #19470 closed

[2020-08-11 13:24] shadinamrouti opened #19475 "Context should be capitalized"
In the example:

` Hello, @context.User.Identity.Name!`
'context' should become 'Context' with capital 'C'

Reference:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-context?view=aspnetcore-3.1
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 804e24dd-7e30-8cf5-2c99-1ffacb4582f6
* Version Independent ID: 3

[2020-08-11 14:18] donhuvy commented on #19469
After read your comment, I am confusing :)

[2020-08-11 14:18] #19469 closed

[2020-08-11 15:54] captainsafia commented on #19440
@guardrex One thing that came up today is that we should clarify that this will cause performance issues in the app to account for overhead needed to set up for debugging.

[2020-08-11 15:57] guardrex commented on #19440
Did u mean to put that here? This issue was about surfacing ...

[code]

... or really that "start without" and "start with" do the same thing.

[2020-08-11 15:57] guardrex commented on #19440
Should I open a new issue?

btw --- Clarify what "this" means.

[2020-08-11 16:00] captainsafia commented on #19440
Start without and start with do the same thing. The consequence of that is that there is some performance overhead to debugging.

[2020-08-11 16:01] guardrex commented on #19440
ok ... I'll open a new issue and take care of it by EOD.

[2020-08-11 16:32] JasonCard commented on #19462
I think we should not use double quotes from looking at the examples [here](https://review.docs.microsoft.com/en-us/help/contribute/markdown-reference?branch=master#non-localized-strings):
[code]
FYI, in the past, the no-loc feature did not support the terms connected by period like "ASP.NET", but that was fixed, so I believe this should work now:
[code]

[2020-08-11 16:48] guardrex commented on #19462
Oh ... I thought we worked out doubles previously. Our current string is ...

[code]

... so, we'll go to ....

[code]

... with only doubles on the single-quoted "Let's Encrypt"? Is that correct?

[2020-08-11 17:10] JasonCard commented on #19462
Oh, sorry, I didn't realize that you're already using the double quotes. I confirmed that it's working correctly with double quotes, so it's okay to use the double quotes!

[2020-08-11 18:28] lucabriguglia commented on #13769
@AIRyndon what did you do exactly to fix the issue?

[2020-08-11 19:36] Rick-Anderson commented on #19475
cc @serpent5

[2020-08-11 20:37] guardrex opened #19476 "Clarify perf implication in WASM debug note"
https://github.com/dotnet/AspNetCore.Docs/issues/19440#issuecomment-672036730

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f61c7-9f51-6735-e328-3c7b495d70c3
* Version Independent ID: 4d06e565-282d-6387-aa90-cb2c2986d35a
* Content: [Debug ASP.NET Core Blazor WebAssembly](https://docs.microsoft.com/en-us/aspnet/core

[2020-08-11 21:00] AIRyndon commented on #13769
@lucabriguglia sorry I forgot what I did exactly, as its been a long time since I made the fix :(

[2020-08-11 21:03] lucabriguglia commented on #13769
@AIRyndon no problem, I managed to fix it :-)

[2020-08-12 01:36] Rick-Anderson commented on #19471
See https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1

[2020-08-12 01:36] #19471 closed

[2020-08-12 07:42] #19422 closed

[2020-08-12 07:42] #18480 closed

[2020-08-12 08:08] Rick-Anderson commented on #19407
[DI ](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-3.1) doc is major rewrite

[2020-08-12 13:51] guardrex commented on #19442
I'm back. Yes, I think an update to the sentence would be good. I'll put that in now.

[2020-08-12 14:00] #19442 closed

[2020-08-12 15:16] MojtabaMontazery opened #19481 "Unnecessary injection of db context in constructor of IndexModel"
Regarding the _QueuedBackgroundTask_ section, the code is confusing. You are injecting `AppDbContext` in the constructor but not using that. Instead, as you mentioned yourself, you are using `IServiceScopeFactory ` to create a scope and use `AppDbContext`.  So, you can remove the injection in the constructor.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-08-12 15:45] Exagram opened #19482 "Replace IIdentity with IdentityUser<T>"
The Identity tutorial (https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-custom-storage-providers?view=aspnetcore-3.1) recommends that your custom user should extend IdentityUser<T>, not IIdentity. I believe Identity's UserManager doesn't utilize IIdentity's fields so why use it? Was this a typo?

https://github.com/dotnet/AspNetCore.Docs/blob/644661bc46c1c5b5e8480fa6d8

[2020-08-12 16:36] guardrex commented on #19481
Hello @MojtabaMontazery ... We pull the example code in many of these topics from the sample app that goes with the topic. It's used in `OnGetAsync` in the sample app ...

https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/fundamentals/host/hosted-services/samples/2.x/BackgroundTasksSample/Pages/Index.cshtml.cs#L37

[2020-08-12 16:36] #19481 closed

[2020-08-12 16:53] #19340 closed

[2020-08-12 17:41] #19318 closed

[2020-08-12 18:09] #18705 closed

[2020-08-12 18:20] lvmajor commented on #15871
Personally, I have the same feeling as @Errors4l , I already knew about this issue so it's not a problem for me, but I think the documentation is still not clear for newcomers regarding the `sharedResources` namespace.

I think it wouldn't hurt to simply add another comment in the example, something like:
[code]

[2020-08-12 19:19] Rick-Anderson commented on #19482
Next time Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2020-08-13 01:23] Rick-Anderson opened #19488 "Restore pre 3.0 version"
Restore pre 3.0 version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f376ed07-b726-292f-eb33-7a918337367b
* Version Independent ID: 817b265f-0769-80e1-b42c-e1b0d05ff13b
* Content: [ASP.NET Core and Entity Framework 6](https://docs.microsoft.com/en-us/aspnet/core/data/entity-framework-6?view=aspnetcore-3.1&branch=pr-e

[2020-08-13 01:25] #19488 closed

[2020-08-13 01:59] Rick-Anderson commented on #15620
@attrib75  all we need is a sample app using EF 6 and ASP.NET Core 3.1
If you can do that I'll help with the article.

[2020-08-13 03:11] zzik opened #19489 "added a new "Rating" field, but the value which I entered does not show up"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca95f5e-0fe4-bbd2-fd23-13562e02f888
* Version Independent ID: c3fb9673-4da6-5eeb-08bb-6f8e7bc8e0c6
* Content: [Part 8, add a new field to an ASP.NET Core MVC app](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/new-field?view=asp

[2020-08-13 03:17] zzik opened #19490 "Added a new "Rating" field successfully, but the webpage does not show any values and it does not show up in "edit movie" section or "add new movie" section, I figure it might have something to do with the database."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca95f5e-0fe4-bbd2-fd23-13562e02f888
* Version Independent ID: c3fb9673-4da6-5eeb-08bb-6f8e7bc8e0c6
* Content: [Part 8, add a new field to an ASP.NET Core MVC app](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/new-field?view=asp

[2020-08-13 06:38] Ma3yTa opened #19491 "Blazor MSAL auth options login mode"
clicking on 'Log In' opens login popup
setting ``NavigateToLoginRequestUrl: true`` inside ``wwwroot/appsettings.json`` from ``MsalProviderOptions`` has no effect and popup opens instead of redirecting to login URL in the same window
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 520b9821-ecef-20af-a601-ea36c4297d88
* Ve

[2020-08-13 10:03] guardrex commented on #19491
Hello @Ma3yTa ... Yes, it was by-design for 3.x. It's going to be a new feature for 5.0, which is in preview now and should be out by the end of the year.

* https://github.com/dotnet/aspnetcore/issues/20374
* https://github.com/dotnet/aspnetcore/pull/23694

It's going to be a property (`LoginMode`) on `MsalAuthenticationOptions`.

[2020-08-13 10:04] guardrex commented on #19491
Actually, I won't close this ... I was going to open an issue to track the update for the docs, but I can use your issue here and take care of this today. It will appear in the doc when the doc version selector is set to 5.0.

[2020-08-13 10:40] #19491 closed

[2020-08-13 13:04] debevv commented on #19367
I would like to report the same issue in Ubuntu 20.04. I can't get a Blazor app to debug in VSCode. Chrome opens, but stays on the about:blank page. After a while, I get this error popup: ![picture](https://user-images.githubusercontent.com/8508972/90137527-0a7c0200-dd76-11ea-9726-815d94a05e70.png)

This is my `launch.json`
[code]

[2020-08-13 13:06] guardrex commented on #19367
@debevv It's best not to post on closed issues. Also, please open the issue for engineering. We'll create a docs issue if needed after it's worked out by the product unit. Open your issue here ...

https://github.com/dotnet/aspnetcore/issues

[2020-08-13 15:16] SageDav opened #19493 "PMC deps.json error"
`Add-Migration InitialCreate
Update-Database
`

When running the above PMC command on a project with a UNC path, I get the "The specified deps.json [..] does not exist" error. The deps.json file does exist in the bin folder, but the project is unable to locate it. I moved the project to various UNC locations and received the same error each time.

When I moved the project to a non-UNC path, the PM

[2020-08-13 16:39] mrlife opened #19494 "Implications of "For internal framework use only.""
# Issue description

Some methods are described with "For internal framework use only."

I have been using `EventCallback.Factory.Create(Object, EventCallback)`- it really helps my app work the way I need it to - and recently saw in the [documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.components.eventcallbackfactory.create?view=aspnetcore-3.1#Microsoft_AspNetCore_Co

[2020-08-13 16:41] guardrex opened #19495 "[RC1] Extension names in the Include for BlazorWebAsssemblyLazyLoad"
https://github.com/dotnet/aspnetcore/pull/24866

This can be worked when RC1 is released. It should be merged the same day.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 690632ad-f357-161f-217b-faba56e90f36
* Version Independent ID: 626c5ed9-6424-7940-56e2-a19989b6de38
* Content: [Lazy load assemblies in ASP.NET Core

[2020-08-13 17:37] pschiager commented on #13920
"For information on when this might be updated, see this GitHub issue." led me here, still confused as this left me with little clarity.

[2020-08-13 19:21] guardrex commented on #19494
Hello @mrlife ... IIRC a few times this has come up over the years, they may have also called out security, perf, and stability reasons in addition to the 'it might change' and 'it might go away' reasons. Ask on the engineering repo ...

https://github.com/dotnet/aspnetcore/issues

Please add a `cc: @guardrex` to your issue. I'd like to hear what they say on this one.

[2020-08-13 19:21] #19494 closed

[2020-08-13 19:49] serpent5 commented on #19475
The example is correct: it's `context` in Blazor. I believe it's known as a [Template context parameter](https://docs.microsoft.com/en-us/aspnet/core/blazor/components/templated-components?view=aspnetcore-3.1#template-context-parameters).

cc @guardrex, as _the_ Blazor expert.

[2020-08-13 20:03] #19475 closed

[2020-08-13 21:02] attrib75 commented on #15620
@Rick-Anderson Sure. I can do that.  Help me to understand.  Just make a very basic ASP.NET Core app with EF6?  Just bare bones, nothing else in it?  How do I submit it to this?  How would the app link in the article?  Thanks for helping a beginner contributor!

[2020-08-13 21:06] wadepickett commented on #13920
Related to #15620 which I had scheduled in for this month but it was moved yesterday.   I added to the list of work for this month's sprint instead.  Thanks.

[2020-08-13 21:18] wadepickett commented on #19467
This one will have many PR's for several repos.

So far:
https://github.com/dotnet/AspNetCore.Docs/pull/19466
https://github.com/MicrosoftDocs/azure-docs-pr/pull/125801
https://github.com/MicrosoftDocs/azure-docs-pr/pull/125970

[2020-08-13 22:08] #19476 closed

[2020-08-13 22:23] shadinamrouti commented on #19475
Sorry guys for inconvenience, you're correct.
The example is correct in Blazer. I thought it's in Razor.

[2020-08-14 00:13] Rick-Anderson commented on #19490
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2020-08-14 00:13] #19490 closed

[2020-08-14 00:14] Rick-Anderson commented on #19489
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2020-08-14 00:14] #19489 closed

[2020-08-14 01:37] Rick-Anderson commented on #13920
@wadepickett  you'll update this for 5, we're skipping 3.1 on this. You can do this after you update RP/EF to 5

[2020-08-14 01:42] Rick-Anderson commented on #15620
Yes, just a basic sample. Most folks seem to do the EF6 code  calls from a web API project so that's fine.
Create the sample in the AspNetCore.Docs/aspnetcore/data/entity-framework-6/3.xsample
so you'll need to create the 3.x sample.

If you select version 2.2 or lower in the version selector, you get [this version](https://docs.microsoft.com/en-us/aspnet/core/data/entity-framework-6?view=aspnetco

[2020-08-14 01:55] wadepickett commented on #13920
@Rick-Anderson, we are on the same page.   That is why I gave a thumbs up the first time you mentioned it.  :)  Thanks for double checking though.

[2020-08-14 01:58] Rick-Anderson commented on #19493
non-UNC paths are beyond the scope of this tutorial.

[2020-08-14 01:58] #19493 closed

[2020-08-14 02:14] wadepickett commented on #13920
@Rick-Anderson, just realized why you mentioned it again.  Yes this would wait to go out with the final release, but I could at least start on it, then make any last minute changes based on a test with the final release bits when that happens.

[2020-08-14 02:41] Rick-Anderson opened #19498 "PU review of DI"
Review current version after 5.0 releases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d78f540-81fd-1ba9-cb90-591e4ec27d9b
* Version Independent ID: 2251f557-dd3a-ec35-2558-6243337db009
* Content: [Dependency injection in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?v

[2020-08-14 04:16] attrib75 commented on #15620
Ok thanks, I'll give that a go this weekend.

[2020-08-14 09:53] hoksource opened #19502 "documentation issue for @inherits"
[EDIT by guardrex to fix the code blocks. Triple backticks above and below for a block, singles for inline]

Good day, for

[code]

where

[code]

this will raise an error:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b87067b2-347c-072d-26c8-5a8c7c9c860b
* Version Independent ID: a0b3b70a-3b39-1b5f-a4ce-c41bd2d6b044

[2020-08-14 10:58] guardrex opened #19503 "[RC1] Microsoft Identity Platform 2.0 for Blazor"
**Update blazor templates with Microsoft.Identity.Web APIs**
https://github.com/dotnet/aspnetcore/pull/24268

**Remove accepted scope check for non-Identity.Web scenarios**
https://github.com/dotnet/aspnetcore/pull/24894

**Add Microsoft.Identity.Web migration guide to 3.1->5.0 documentation**
https://github.com/dotnet/AspNetCore.Docs/issues/19810

**Update Azure Active Directory documentation**
h

[2020-08-14 12:04] marin-bratanov opened #19504 "Measure Network Latency sample causes errors"
The sample tries to use JS Interop in the OnInitialized event which will throw. It must be in the OnAfterRender event, like this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b20b470-161a-8723-b66d-c0c1804874f0
* Version Independent ID: 2712f7a2-90e7-0012-f7d9-f3a7e7e345d7
* Content: [Host and deploy ASP.NET

[2020-08-14 12:18] guardrex commented on #19504
Thanks @marin-bratanov ... The code originally came over from engineering like that. Later, this was reported, but we missed an update. 🙈 This was asked about on #16615, but Artak closed it without realizing that the reader was working from the published code, and I didn't catch it at the time ...

https://github.com/dotnet/AspNetCore.Docs/issues/16615#issuecomment-580876488

I'll get that fixed t

[2020-08-14 12:47] #19504 closed

[2020-08-14 13:39] marin-bratanov commented on #19504
No worries, I just saw the issue and the "feedback" button and sent it, I didn't even look for previous ones (maybe I should have). Btw, that was probably the most detailed history for such a small thing I've ever seen :) Thank you so much for your efforts :)

[2020-08-14 13:40] guardrex commented on #19504
You did the right thing. We missed it. When Artak closed it, I'm sure that I was buried in something else and didn't give it a second thought.

We're good now. The update will go live by the end of day. Thanks again.

[2020-08-14 14:24] #16558 closed

[2020-08-14 14:27] kakins commented on #16190
This approach seemed to work for me as well.  At least in my case, it was better to implement `OnMessageReceived` for each of my schemes rather than creating a new `JwtBearerHandler` as discussed in the aforementioned blog post.  This is because I'm using AAD in addition to a custom IdentityServer scheme.  I couldn't find a way to customize IdentityServer's bearer handler so as to avoid the log me

[2020-08-14 15:18] IGx89 opened #19507 "Example code to configure options from section not compiling"
There are a number of examples like the following in this article and they're not compiling for me in .NET Core 3.1 -- the generic Configure method only has an Action overload, not an IConfigurationSection overload:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb4d762-3910-2c57-8741-3306c15537b6
* Version In

[2020-08-14 15:26] IGx89 commented on #19507
I found the problem: had to add a package reference to Microsoft.Extensions.Options.ConfigurationExtensions. Gotta love extension methods... Hopefully this helps someone else at least.

[2020-08-14 15:26] #19507 closed

[2020-08-14 15:46] guardrex opened #19508 "Blazor EF Core topic updates"
* Move important code comments to the text. Remove the less important comments.
* Refactor sample code ranges into snippets.
* Update highlights where needed.

cc: @JeremyLikness ... I can't give an ETA, but I'll take care of this as soon as I can. It should be fine for now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-08-14 15:54] #19051 closed

[2020-08-14 16:01] guardrex commented on #19360
@javiercn I can take a stab 🔪 at this based on Steve's presentation on the Community Standup combined with the engineering issue(s)/PR(s). Do you want me to give it a shot? ... might take a little pressure off of u 💥🤯💥.

[2020-08-14 17:18] #16901 closed

[2020-08-14 17:41] wadepickett commented on #16997
closed with #19500

[2020-08-14 18:47] Rick-Anderson commented on #19502
@hoksource  were you able to update the project for 3.1?

@pranavkm @NTaylorMullen  what's the 3.1 version of [MvcRazorTemplateEngine Class](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.razor.extensions.mvcrazortemplateengine?view=aspnetcore-2.2) ?

[2020-08-14 19:34] veritas27 opened #19510 "Update time and minutes to read is incorrect"
For this page, it says 04/01/2020 101 minutes to read at the top.

When I change from ver 2.1 to ver 3.0, there is twice as much content, but the 04/01/2020 101 minutes stays the same. My guess is that the time to read is not correctly subscribing to the version change event.

Thanks,

John

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-08-14 19:56] guardrex commented on #19510
Hello @veritas27 ... We use an approach called "whole topic versioning," where multiple versions of the topic are in the same file using version monikers. This value is very likely being determined by the length of **_the whole file_**. There's probably no way around this error given what we're doing. Our approach very probably never was a design spec for the docs. It's just something that helps u

[2020-08-14 20:27] guardrex opened #19511 "Blazor WASM debug: VS timeout configuration"
https://github.com/dotnet/aspnetcore/issues/20247#issuecomment-674258424

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f61c7-9f51-6735-e328-3c7b495d70c3
* Version Independent ID: 4d06e565-282d-6387-aa90-cb2c2986d35a
* Content: [Debug ASP.NET Core Blazor WebAssembly](https://docs.microsoft.com/en-us/aspnet/core/blaz

[2020-08-14 20:28] #10747 closed

[2020-08-14 20:58] Rick-Anderson commented on #19510
Time to read has no basis in reality and many wish it would be removed.

[2020-08-14 20:58] #19510 closed

[2020-08-14 21:10] amirodomi opened #19513 "Class Name Renaming"
in https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/intro?view=aspnetcore-3.1&tabs=visual-studio-code#the-sample-app
    at "to run the app after downloading the completed project:"
        from {{Visual Studio Code}} tab
        at "Delete Startup.cs, and rename StartupSQLite.cs to Startup.cs."

didn't you forget to mention to also rename class name in [StartupSQLite.cs]??
I kept getting [

[2020-08-14 21:15] serpent5 opened #19514 "Updates to the DI topic"
Following on from the big DI rewrite in #19271, I have a few suggestions that are easier to PR than to make as GitHub suggestions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d78f540-81fd-1ba9-cb90-591e4ec27d9b
* Version Independent ID: 2251f557-dd3a-ec35-2558-6243337db009
* Content: [Dependency injection in ASP.NE

[2020-08-14 21:19] Rick-Anderson commented on #19513
Probably. When I update this I'll change the instructions to:

In Program.cs, comment out `#define Startup` so `StartupSQLite` is used.

[code]

[2020-08-14 21:22] Rick-Anderson commented on #19514
@serpent5  sounds great, no hurry.

[2020-08-14 21:31] #19511 closed

[2020-08-14 23:14] amirodomi commented on #19513
Nice!

[2020-08-14 23:21] #18487 closed

[2020-08-14 23:36] #19362 closed

[2020-08-15 00:30] Rick-Anderson commented on #19278
@Tratcher  in   [this comment](https://github.com/dotnet/AspNetCore.Docs/pull/18825#discussion_r458422734) , you said:

The problem with doing that is that until you sign-in, you have no css/javascript or any of the other resources you need to display a nice login menu and home screen.

[2020-08-15 01:08] Rick-Anderson commented on #19278
@Tratcher  calling  `UseStaticFiles` twice works, is that what you intended?

[code]

[2020-08-15 01:21] Tratcher commented on #19278
Yeah, you have one static files instance for the default wwwroot folder with public files, and another one for restricted files in another directory.

[2020-08-15 01:45] #19278 closed

[2020-08-15 03:07] groogiam opened #19518 "What does "Hit breakpoints during app startup." as a debugging scenario mean?"
The documentation states that the debugging scenario "Hit breakpoints during app startup." is not supported. This is vague. Could more details be provided here?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f61c7-9f51-6735-e328-3c7b495d70c3
* Version Independent ID: 4d06e565-282d-6387-aa90-cb2c2986d35a
* Content: [D

[2020-08-15 06:24] hoksource commented on #19502
yes, im using 3.1. although calling
`
inherit PageBase
`

works. for razor pages

[2020-08-15 07:28] aannenko opened #19519 "Improve documentation for Microsoft.Extensions.Hosting.Host.CreateDefaultBuilder method"
This page describes order of actions done by CreateDefaultBuilder method.
Remarks sections on the [documentation page](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.hosting.host.createdefaultbuilder?view=dotnet-plat-ext-3.1) for both overloads of this method contain only unordered lists of actions - the actions there are marked with bullet points instead of numbers and their ord

[2020-08-15 09:26] guardrex commented on #19518
@captainsafia to confirm: "During startup" usually means the period before the app is able to process requests, which about coincides with the host being built and run. Therefore, breakpoints in `Program.Main` won't be hit.

[2020-08-15 09:39] guardrex commented on #19519
Hello @aannenko ... Those API doc comments come from API files in the framework ...

https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Hosting/src/Host.cs#L21-L32

Therefore, you would need to open an issue for this on that repo at ...

https://github.com/dotnet/runtime/issues

They would most likely not link to the docs given that our content is less stable than the

[2020-08-15 09:39] #19519 closed

[2020-08-15 11:45] anuraj opened #19520 "Secure an ASP.NET Core web API using Azure AD B2C link redirecting to 404 page"
[Enter feedback here]
The link - Secure an ASP.NET Core web API using Azure AD B2C - redirecting to URL - https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-b2c-dotnetcore-webapi/an-aspnet-core-20-web-api-with-azure-ad-b2c/ which is redirecting to a not found page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-08-15 12:06] guardrex commented on #19520
Thanks @anuraj ... I'll see if I can track that down and report back, then I'll fix this link.

[2020-08-15 12:08] guardrex commented on #19520
Might be this one these days ...

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C

[2020-08-15 12:09] guardrex commented on #19520
Note that they either have moved everything or are in the process of moving everything to Identity v2.0. Our repo hasn't made all of the updates yet. There might be some deltas between what our topics show and theirs.

[2020-08-15 13:24] guardrex opened #19522 "Blazor InputRadio component"
https://github.com/dotnet/aspnetcore/pull/23415

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884-c1fe5c2ef52d
* Version Independent ID: 09a02d10-2834-467d-d8c2-3fd19ceb3863
* Content: [ASP.NET Core Blazor forms and validation](https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?vi

[2020-08-15 14:11] guardrex opened #19523 "Add Blazor enable compression property"
https://github.com/dotnet/aspnetcore/issues/21728#issuecomment-646051630

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be59faf1-5a20-b7e9-19ff-06589023bb15
* Version Independent ID: 250e7458-3c1d-0117-261d-c03ac136f16a
* Content: [Host and deploy ASP.NET Core Blazor WebAssembly](https://docs.microsoft.com/en-u

[2020-08-15 14:20] #19523 closed

[2020-08-15 18:46] jfvaleroso opened #19525 "authorization is not working even the user is logged in"
authorization is not working when adding authorize attribute. Im gettinc 401 error with invalid token, even If I followed the exact documentation. Any idea about this?

[2020-08-15 20:27] guardrex commented on #19525
@jfvaleroso ... Please use the **This Page** feedback button+form at the bottom of the English topic. It will add metadata to cross-link the topic and automatically ping the author.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

[2020-08-15 20:27] #19525 closed

[2020-08-16 02:47] Rick-Anderson commented on #19502
@hoksource  can you post a basic sample on GitHub and I'll get engineer to review it.

[2020-08-16 09:03] StevenTCramer opened #19526 "Update package version in docs"
[EDIT by guardrex to code fence the XML]

https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-azure-active-directory-b2c?view=aspnetcore-3.1#authentication-package

[code]

is now

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 520b9821-ecef-20af-a601-ea36c4297d88
* Version Indep

[2020-08-16 09:03] StevenTCramer opened #19527 "No Platform configuration added yet."
Tutorial states:
"In Authentication > Platform configurations > Web:"

But at this point in the tutorial one has not added a platform yet and just sees the following:

![image](https://user-images.githubusercontent.com/357219/90327100-5919de00-dfba-11ea-88f3-e3662927ed3b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-08-16 09:11] StevenTCramer opened #19528 "Update version in Msal"
https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-azure-active-directory-b2c?view=aspnetcore-3.1#authentication-package-1

<PackageReference Include="Microsoft.Authentication.WebAssembly.Msal"
  Version="3.2.0" />

is now

<PackageReference Include="Microsoft.Authentication.WebAssembly.Msal"
  Version="3.2.1" />

---
#### Document Details

⚠ *Do not edit this sec

[2020-08-16 09:45] guardrex commented on #19526
Hello @StevenTCramer ... I have some package-agnostic language that I can place there with a placeholder in the package reference and a line that tells the reader how to get the latest package version from nuget.org. I'll use that.

[2020-08-16 10:14] guardrex commented on #19528
This is a dup of #19526 ... I'm fixing all of them in one shot.

[2020-08-16 10:14] #19528 closed

[2020-08-16 10:22] guardrex commented on #19527
When you provide the callback address on Step 4 of the previous instruction block ...

<img width="792" alt="Capture1" src="https://user-images.githubusercontent.com/1622880/90332171-7467f780-df80-11ea-8161-8c4b7637b99c.PNG">

... it automatically adds a **Web** platform configuration ...

<img width="382" alt="Capture" src="https://user-images.githubusercontent.com/1622880/90332148-3539a680-df80-

[2020-08-16 10:22] #19527 closed

[2020-08-16 10:35] #19526 closed

[2020-08-16 10:59] StevenTCramer commented on #19527
Hmm dang I must have missed that sorry.

[2020-08-16 11:04] LiviuSosu opened #19531 "I would suggest to renmae the examples of ApplicationXxx and IdentityXxx"
[Enter feedback here]

Instead of:
_Remember to change the types of the navigation properties to reflect that ApplicationXxx types are now being used instead of IdentityXxx types._

You may write:
_Remember to change the types of the navigation properties to reflect that ApplicationXYZ types are now being used instead of IdentityXYZ types._

The same gors for the following sentence:  _Remember to

[2020-08-16 11:54] StevenTCramer commented on #19528
@guardrex You rock!!!

[2020-08-16 13:59] Dheerajmentor opened #19532 "Command does not run successfully on windows 10 Pro"
Hello,

I am trying to follow this document and below command does not run
[code]
and return below message

![image](https://user-images.githubusercontent.com/28488401/90336022-afa50d80-dff6-11ea-8071-1032607a1d02.png)

as per observing message returned, its seems that it more of Linux/mac command.

please help
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-08-16 16:01] guardrex commented on #19531
Good idea @LiviuSosu ... I'll knock that out right now.

[2020-08-16 16:07] #19531 closed

[2020-08-16 16:57] captainsafia commented on #19518
Great question. We're specifically referring to the startup of the debug proxy. This includes breakpoints in Program.Main and also breakpoints in the `OnInitialized` methods of components that are loaded in the first page of the app for example.

[2020-08-16 16:58] guardrex commented on #19518
Thanks ... I'll clarify it that way in the topic.

[2020-08-16 17:34] Rick-Anderson commented on #19532
Dup of #18017

[2020-08-16 17:34] #19532 closed

[2020-08-16 21:30] DavidBridge opened #19534 "Page typo"
Change
"anti-request forgery protection"
to
"anti-forgery request protection"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4d39ecf-0465-afd3-2384-aaafe9e8ea79
* Version Independent ID: e9a58581-b565-25eb-49b3-4c93714f0940
* Content: [Overview of ASP.NET Core Security](https://docs.microsoft.com/en-us/aspnet/core/sec