[2018-02-03 19:20] #5363 closed

[2018-02-03 19:21] #5361 closed

[2018-02-05 03:43] severinolorillajr opened #5368 "Localization to TL - Filipino or Tagalog"
## General
Are in need of localizing your documentations?

[2018-02-05 19:50] isaac2004 commented on #974
@danroth27 I think the issue people are having is on the data side. For instance they have some app using Membership and they want to migrate to Core Identity. There is that doc to go from Membership to ASP.NET Identity and I wonder if another migration doc from ASP.NET to ASP.NET would suffice, or a straight Membership to ASP.NET Core would be more beneficial. This doesn't even take into account

[2018-02-05 19:52] isaac2004 commented on #4237
@danroth27 @scottaddie This idea seems fine, so the goal is to update those 5 docs from 1.x to 2.x?

[2018-02-06 00:51] #5311 closed

[2018-02-06 00:59] Rick-Anderson commented on #4889
@rachelappel  can you make this ref style like the  CLI tools: https://docs.microsoft.com/en-us/dotnet/core/tools/ ?
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new is a good example

[2018-02-06 16:18] guardrex opened #5376 "Use an alternative container for the IMiddlewareFactory topic sample"
Suggested by @dotnetjunkie on [simpleinjector/SimpleInjector \#510](https://github.com/simpleinjector/SimpleInjector/issues/510#issuecomment-363378953) ...

cc/ @davidfowl

[2018-02-06 19:05] guardrex commented on #5376
Looks like we'll be keeping this based on @davidfowl's response. Feel free to reopen if we need to make changes to the sample.

[2018-02-06 19:35] #5261 closed

[2018-02-06 20:46] ajcvickers commented on #5028
@scottaddie It's on my list to get to this. Is it critical this is done now?

[2018-02-06 21:08] guardrex commented on #5376
Spoke too soon! lol

Reopening for work. @Rick-Anderson @scottaddie I'll take this one if that's ok with you.

[2018-02-06 21:16] Rick-Anderson commented on #5376
@guardrex
To fix this put a note, something like:
This sample uses `Simple Injector` for documentation simplicity. This is not an endorsement of SI.

@danroth27  - who is a DI backup to ` @davidfowl`?  I don't want to bother DF for every doc question we have.

[2018-02-06 21:22] guardrex commented on #5376
I'm happy to replace it with a different container if you/they change direction later here. I feel kind of bad about this, since I should've pinged @dotnetjunkie to discuss it in advance.

I'll add the note where the use of SI is first mentioned. I'll have it in this evening.

[2018-02-06 21:25] scottaddie commented on #5028
@ajcvickers We do consider this critical. This is a high-traffic document, and several customers have commented on this particular code snippet.

[2018-02-06 21:31] scottaddie commented on #5069
@srikarplus Thank you for doing this! Can you please open a pull request and submit this document in Markdown format? I'm happy to help if you have any questions.

[2018-02-06 21:40] Rick-Anderson commented on #5376
[SI](https://simpleinjector.readthedocs.io/en/latest/quickstart.html) has great docs - seems like a good choice with a caveat.

[2018-02-06 21:41] Rick-Anderson commented on #5028
@ajcvickers I think in the next week would be OK.

[2018-02-06 21:45] ajcvickers commented on #5028
@Rick-Anderson @scottaddie That's going to require some significant re-shuffling of priorities, since I need to spend significant time getting up to speed learning this area before I will be able to make any meaningful comments. Even if I start now, I don't know I will have anything concrete by next week.

[2018-02-06 21:49] Rick-Anderson commented on #5028
I think we can wait a month - will that work?

[2018-02-06 21:51] Rick-Anderson commented on #5028
@HaoK  would you be able to consult? @blowdart  who else could help?

[2018-02-06 21:57] ajcvickers commented on #5028
@Rick-Anderson A month makes it easier.

[2018-02-06 22:23] HaoK commented on #5028
For navigation properties, i'm basically a more inefficient route to @ajcvickers :)

[2018-02-06 23:35] Rick-Anderson opened #5379 "Add security warning when using RequireHttpsAttribute with Web API"
For Web API,  do not use RequireHttpsAttribute.  RequireHttpsAttribute  does transparent redirection from HTTP to HTTPS so the client never knows the information was send insecurely over HTTP. Web APIs should close the connection with status code 400 Bad Request and refuse to serve the request.

[2018-02-06 23:37] srikarplus commented on #5069
Sure @scottaddie , I will do it.

[2018-02-07 14:14] #5376 closed

[2018-02-07 22:26] #5379 closed

[2018-02-07 23:56] #5358 closed

[2018-02-08 00:08] kevinoid commented on #5358
Thanks @guardrex!

[2018-02-08 00:09] guardrex commented on #5358
@kevinoid :rocket: My pleasure ... thanks for bringing this to our attention.

[2018-02-08 01:51] Rick-Anderson opened #5389 "SignalR for ASP.NET Core 2.1 master issue"
[Announcing SignalR (alpha) for ASP.NET Core 2.0 blog](https://blogs.msdn.microsoft.com/webdev/2017/09/14/announcing-signalr-for-asp-net-core-2-0/)

- [x]  Introduction #5390
- [x] Tutorial: Getting Started with ASP.NET Core SignalR #5391
- [x] ASP.NET Core SignalR Hubs
- [x] ASP.NET Core SignalR JavaScript Client
- [x] Supported Platforms
- [x] ASP.NET Core SignalR .NET Client
- [x] Publish ASP.N

[2018-02-08 01:52] Rick-Anderson opened #5390 "Intro to SignalR"

[2018-02-08 01:53] Rick-Anderson opened #5391 "Tutorial: Getting Started with ASP.NET Core SignalR"

[2018-02-08 02:52] Rick-Anderson commented on #4568
@jkotalik  how is the doc doing? @danroth27  see a question for you.

[2018-02-08 03:30] Rick-Anderson commented on #5368
@nokura do we plan on offering TL?

[2018-02-08 03:31] Rick-Anderson commented on #5368
cc @rachelappel

[2018-02-08 03:49] airmanx86 opened #5392 "Allow sample code download without fetching whole repo or zip file"
I am trying to download the sample code in this folder.
https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/models/file-uploads/sample/FileUploadSample

As `git` does not have a way to only download a specific folder. I need to clone the whole repo or download it as zip to get it.

Unfortunate for me, I can only `git clone` from github at approx. 400KiB/s, which mean the process takes foreve

[2018-02-08 05:07] Rick-Anderson opened #5393 "2.1 Improvements to HTTPS"
See https://github.com/aspnet/Home/issues/2308
  `javiercn` to review.

- [x] provide URL for .NET Core CLI fwlink  that tells how to trust cert, how to set up HTTPS go here See [2:40 in video](https://www.dropbox.com/s/9olqhldt75vngoz/Review%20ASP.NET%20Core%202.1%20doc%20priorities%20-%20Monday%2C%20April%209%2C%202018%208.09.35%20AM.mp4?dl=0)
- [x]   [Add HttpsRedirection and Hsts middleware do

[2018-02-08 17:38] ghost opened #5399 "Requesting For a Tagalog Translation"
## General

Suggest to have a translation of the project language to Tagalog.

## Issues with Existing Topics
none

## Requests for new Topics

I want to request for translation of the project language in Tagalog so that it will be available in our country.

[2018-02-08 20:02] danroth27 commented on #4568
Same doc seems fine to me.

[2018-02-08 21:12] danroth27 commented on #5056
The new scheme is covered in the ASP.NET Core 2.1 roadmap blog post is here: https://blogs.msdn.microsoft.com/webdev/2018/02/02/asp-net-core-2-1-roadmap/#security

[2018-02-08 21:12] Rick-Anderson opened #5400 "GDPR compliance in ASP.NET Core 2.1+"
Document GDPR support

new doc: How to add/delete custom user data to Identity - GDPR #6226

[Barry on GDPR](https://blogs.msdn.microsoft.com/webdev/2018/03/04/asp-net-core-2-1-0-preview1-gdpr-enhancements/)
See aspnet/Security#1561, aspnet/Identity#1341

[ASP.NET Core 2.1 roadmap blog](https://blogs.msdn.microsoft.com/webdev/2018/02/02/asp-net-core-2-1-roadmap/)

[2018-02-08 21:19] Rick-Anderson opened #5401 "Web API conventions - Rich Swagger support without attributes"
aspnet/Mvc#6870, aspnet/Mvc#6784

Related Resources:
- ASP.NET Community Standup: https://www.youtube.com/watch?v=zr4Btou3H8c&list=PL1rZQsJPBU2StolNg0aqvQswETPcYnNKL&index=0
- ASP.NET Core 2.1 Roadmap: MVC - https://blogs.msdn.microsoft.com/webdev/2018/02/02/asp-net-core-2-1-roadmap/#mvc
- ASP.NET Core 2.1.0-preview1: Improvements for building Web APIs: https://blogs.msdn.microsoft.com/webdev/2018

[2018-02-08 21:23] Rick-Anderson opened #5402 "IHttpClientFactory - HttpClient as a service, handle cross-cutting concerns like caching, retry logic, timeouts and circuit breakers"
aspnet/HttpClientFactory#42

[2018-02-08 21:33] Rick-Anderson commented on #5297
@guardrex  can ASP.NET Core Module in-proc hosting - 6x the throughput on IIS! Better startup error handling (aspnet/AspNetCoreModule#265) be added to this issue or does it need a new issue?

[2018-02-08 21:41] guardrex commented on #5297
This one is for common errors topic update only, which is its own beast. Every error scenario has to be repro-ed to update this (been there ... done that :smile:). I recommend a new issue. You can assign the new issue to me if you want.

[2018-02-08 21:57] Rick-Anderson opened #5403 "ANCM in-proc hosting - 6x the throughput on IIS! Better startup error handling"
aspnet/AspNetCoreModule#265

see aspnet/Announcements#288

[2018-02-08 21:58] Rick-Anderson opened #5404 "ASP.NET Core 2.1 high-level planning for docs - master"
**Last Updated: 10/29/2018**

Copy from aspnet/Announcements#288 - order rearranged by priority.
[ASP.NET Core 2.1 roadmap blog](https://blogs.msdn.microsoft.com/webdev/2018/02/02/asp-net-core-2-1-roadmap/)
[2.1 Project Page](https://github.com/aspnet/Docs/projects/9)

The following high-level features are planned for the ASP.NET Core 2.1 release:

- [x] .NET Core meta doc, add ASP.NET Core featur

[2018-02-08 22:06] scottaddie commented on #5392
@dend or @EisenbergEffect, are either of you able to comment on plans to address this?

[2018-02-08 22:09] EisenbergEffect commented on #5392
Thanks for the feedback @airmanx86 and @scottaddie

I've always wished that GitHub had the native ability to just download a folder of content. @dend I can put you in touch with our GitHub representatives to discuss this with them directly. Either way, this is a good request to think about as it relates to the future of samples.

[2018-02-08 22:13] guardrex commented on #5264
@Rick-Anderson Would u like to put me on this one? It's right up my alley.

[2018-02-08 22:15] guardrex commented on #5297
@Rick-Anderson Would you like to add this issue to your 2.1 tracking topic under "issues not in the announcement"? If you do, then I can close out my Antares-IIS tracking topic as soon as Stage 3C is merged (it's probably the last PR in the set except for this common errors topic update).

[2018-02-08 23:04] guardrex commented on #3352
@Rick-Anderson @scottaddie While working through the Antares-IIS PR reviews over the next few days (the work is done; just passing the PRs in one-at-a-time), I'll start working on this issue.

Unless you want to go a different way, I plan to package the three @Tratcher-supplied samples :point_up: into the topic.

Title: Background tasks with IHostedService in ASP.NET Core
TOC: *performance/ihosted

[2018-02-08 23:14] Rick-Anderson commented on #3352
I wouldn't look in perf.  Wouldn't fundamentals be a better fit?

[2018-02-08 23:14] chlowell commented on #4523
@scottaddie any update on timing and content for this? I hear lots of customer interest around authenticating with ADFS, it would be great to have a doc covering how to do that with this middleware.

[2018-02-08 23:16] guardrex commented on #3352
I wondered ... but do you want to clutter fundamentals with low-traffic topics? If it's a "primitive," it could go there next to the Change Tokens topic. I thought "performance," since that's what background tasks help solve.

[2018-02-08 23:24] Rick-Anderson commented on #3352
Plan on fundamentals and we can ask `@Tratcher` and dan.roth when it's in review.

[2018-02-09 00:01] danroth27 commented on #3352
I'm ok with putting this in the fundamentals section

[2018-02-09 02:12] Rick-Anderson opened #5407 "new doc: Razor Pages Areas"
aspnet/Mvc#6926, aspnet/Mvc#6604
Scaffold the Identity UI and see how it uses areas.

Rename [Areas in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/areas?view=aspnetcore-2.1) to [Areas in ASP.NET Core for controllers](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/areas?view=aspnetcore-2.1)
Before the intro, say this is for MVC controllers, see Areas for

[2018-02-09 02:14] Rick-Anderson opened #5408 "Compile Razor pages"
aspnet/Razor#1809

[2018-02-09 02:16] Rick-Anderson opened #5409 "UI as a library - Package Razor pages and views as reusable libraries"
aspnet/Razor#1809

[2018-02-09 02:18] Rick-Anderson opened #5410 "Identity UI package and scaffolder"
- [ ] Update fwlink to this article per `@danroth27`
https://blogs.msdn.microsoft.com/webdev/2018/03/02/aspnetcore-2-1-identity-ui/

aspnet/Home#2311
[Identity Scaffolding: Pages not chooseable by the user need to be generated appropriately](https://github.com/aspnet/Scaffolding/issues/763)

@seancpeters is the contact

[2018-02-09 04:42] guardrex commented on #5392
This was discussed a few times/places in the past, but things never evolved past just getting links and instructions in place ...

https://github.com/aspnet/Docs/issues/565
https://github.com/dotnet/docs/issues/1644

[2018-02-09 04:54] EisenbergEffect commented on #5392
@guardrex Thanks for the historical references! @dend Can you confirm that we at least have this as an official backlog item and that this scenario is being considered as part of your samples work?

[2018-02-09 05:39] danroth27 opened #5411 "Update dotnet watch content to include msbuild integration features"
We have this topic on using `dotnet watch`: https://docs.microsoft.com/en-us/aspnet/core/tutorials/dotnet-watch

But based on this blog post it looks like there are some msbuild integration features that we don't have documented: http://www.natemcmaster.com/blog/2017/01/03/dotnet-watch-msbuild/

[2018-02-09 08:40] stevejgordon commented on #5402
I've written a bit about IHttpClientFactory on my blog (https://www.stevejgordon.co.uk/introduction-to-httpclientfactory-aspnetcore and https://www.stevejgordon.co.uk/httpclientfactory-named-typed-clients-aspnetcore) - Would like to have a crack at contributing to the docs if this is open to community engagement?

[2018-02-09 11:52] anappwilos opened #5412 "Incomplete translation"
**Incomplete** **_translation_** of https://docs.microsoft.com/es-es/aspnet/core/tutorials/razor-pages-vsc/model
**for the Spanish language.**

![imagen](https://user-images.githubusercontent.com/29914357/36026525-c93bace2-0d97-11e8-9bf3-88b2bdae2458.png)

*Solution* : Agree translation.

[2018-02-09 15:34] scottaddie commented on #5402
@stevejgordon This absolutely is open to community engagement. We'd love to have your help.

The first step is to propose an outline for the new doc. We'll need to get approval on it before writing. Do you have a rough outline in mind?

[2018-02-09 15:41] scottaddie commented on #5408
@Rick-Anderson I've been talking to Dan Roth about this one and have some detailed notes (and a sample app). I'll gladly take this on.

[2018-02-09 18:52] mkArtakMSFT opened #5419 "Document IAlwaysRunResultFilter and IAsyncAlwaysRunResultFilter"
New filters have been added during 2.1-preview1.
The following documentation page should be updated to include those types: https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters

[2018-02-09 19:33] Rick-Anderson opened #5420 "Partial Tag Helper"
https://blogs.msdn.microsoft.com/webdev/2018/02/02/asp-net-core-2-1-roadmap/

[2018-02-09 20:13] Rick-Anderson opened #5421 "Fix namespace in RP xplat tutorials"
https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages-vsc/sql

namespace MvcMovie.Models
should be `RazorPagesMovie` instead of `MvcMovie`.

According to the previous steps in the tutorial it would be `MovieContext` instead of `MvcMovieContext`.

[2018-02-09 20:47] dend commented on #5392
We are working on this for our samples - stay tuned for more updates soon.

cc: @EisenbergEffect @guardrex @scottaddie

[2018-02-09 22:25] dend commented on #5173
@terrimorton this should be fixed. Can you please validate again?

[2018-02-09 23:43] #5421 closed

[2018-02-10 19:34] guardrex opened #5433 "Add IIS config section to WebSockets topic"
Add an IIS config section to the [WebSockets topic](https://docs.microsoft.com/aspnet/core/fundamentals/websockets) based on the content in [IIS 8.0 WebSocket Protocol Support](https://docs.microsoft.com/iis/get-started/whats-new-in-iis-8/iis-80-websocket-protocol-support).

[2018-02-10 19:35] Rick-Anderson opened #5434 "Introduction to Identity - make agnostic"
Shows only creating project with VS which doesn't work on mac and VSC.

[2018-02-10 19:36] Rick-Anderson opened #5435 "Make all non-into topics tools/OS agnostic"
- [ ]  #5434 [Introduction to Identity on ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity)

[2018-02-10 19:44] Rick-Anderson opened #5436 "Account Confirmation and Password Recovery - change default token timeout"
@HaoK  need code to change the following for [Account Confirmation and Password Recovery](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm)
security/authentication/accconfirm

- [x] the default time for confirm tokens to be valid is 1 day. How to change?
- [ ] How to change the default log out time after inactivity.

[2018-02-11 02:45] guardrex opened #5439 "Add KeyVault encryption to DataProtection"
`ProtectKeysWithAzureKeyVault`

https://github.com/aspnet/DataProtection/pull/273

Probably for [Configuring Data Protection in ASP.NET Core](https://docs.microsoft.com/aspnet/core/security/data-protection/configuration/overview?tabs=aspnetcore2x)

[2018-02-11 20:42] terrimorton commented on #5173
Yes, I confirmed with Esther from the Apex SRE team on 1/25 that this was now resolved. I just double-checked and it's still working as expected. Thanks for following up!

[2018-02-12 12:59] stevejgordon commented on #5402
@scottaddie I was going to suggest the following:

- Introduction and Benefits
- Basic Usage
- NamedClients
- TypedClients
- Outgoing Request Middleware (DelegatingHandlers)

**_Future (2.1 preview 2?):_**
- Polly

However I see that the wiki page does include a lot of content already by @glennc that pretty much covers the above and perhaps just needs to be moved to the docs?
https://github.com/as

[2018-02-12 15:17] LukeAtLion opened #5443 "ConnectionMaps persist after Azure App Service restart"
We're using SignalR in Azure mostly according to the examples in the documentation:

- We store connection information in memory using the example ConnectionMapping class. (https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/mapping-users-to-connections)
- We support scaling out using Azure Service Bus. (https://docs.microsoft.com/en-us/aspnet/signalr/overview/performance/sca

[2018-02-12 16:14] scottaddie commented on #5392
Closing this issue. It's much broader than this particular docset, and it's an enhancement that's already in the works.

[2018-02-12 16:14] #5392 closed

[2018-02-12 21:58] scottaddie commented on #5402
@glennc @danroth27 Please see the proposed outline above? Thoughts?

[2018-02-12 22:22] #1405 closed

[2018-02-12 22:22] #5332 closed

[2018-02-12 22:35] shirhatti opened #5449 "ANCM: RequestTimeout doesn't apply to inProcess"
aspnet/iisintegration#555

[2018-02-13 00:41] natemcmaster opened #5450 "Add more Docker + ASP.NET Core samples"
We frequently get asked to build features into our Docker images that are already possible and easy to do without needing changes to the base images.

Instead, we would like to address this by adding more samples and docs for these commonly asked features/questions.

 - How to use multi-stage builds
 - Using NodeJS 9
 - Add NodeJS so JavascriptServices works at runtime
 - Using powershell in Linux

[2018-02-13 00:44] Rick-Anderson opened #5452 "Secure user data - remove AuthorizeFolder/AuthorizePage"
1. Replace SSL with HTTPS.
1. Once the default authorization is set requiring the user to be authenticated, no longer need the following:

[code]

[2018-02-13 02:16] shirhatti opened #5454 "Document all the command-line parameter for the ServerHosting bundle"
The ANCM document used to reference OPT_INSTALL_LTS and OPT_INSTALL_FTS, but was removed at some point of time. https://github.com/aspnet/Docs/pull/4001

AFAIK we have,
- OPT_NO_X86
- OPT_INSTALL_LTS
- OPT_INSTALL_FTS

@joeloff In case he has added other flags since.

[2018-02-13 02:24] glennc commented on #5450
What I am thinking here is something akin to a Docker recipes page. Including examples for each of the ones you listed as well as how to do libgdiplus in Docker.

I think we could link to this from the top of our scaffold-ed Dockerfiles.

//cc @richlander

[2018-02-13 04:08] guardrex opened #5457 "URL Rewriting Middleware update"
* Use `Startup` class
* Show `Configure` method to help surface where config occurs
* Drop 1.x sample

[2018-02-13 04:15] guardrex commented on #5454
@shirhatti I think there was a window where those `LTS` and `FTS` flags didn't behave as expected ... https://github.com/aspnet/Docs/issues/3997#issuecomment-322927935

@joeloff, can u tell me the current behavior of each of those (and any new ones)? I'll wordsmith your notes into the topic.

[2018-02-13 19:37] #5017 closed

[2018-02-13 21:39] #5452 closed

[2018-02-13 21:44] danroth27 opened #5459 "Document new WS-Federation support"
Show how to authenticate using older ADFS instances.

@Tratcher

[2018-02-13 21:47] scottaddie commented on #3662
@rachelappel Is this is a duplicate of https://github.com/aspnet/Docs/issues/4033?

[2018-02-13 21:54] Tratcher commented on #5459
Duplicate of https://github.com/aspnet/Docs/issues/4523?

[2018-02-13 21:55] danroth27 commented on #5459
Dah! Who forget the `-` in `ws-fed`?!? 😜

[2018-02-13 21:55] #5459 closed

[2018-02-13 21:58] scottaddie commented on #5412
Paging @nokura and @rachelappel...

[2018-02-13 22:00] rachelappel commented on #3662
@scottaddie It looks like some of it is. We can merge these.

[2018-02-13 22:45] Tratcher commented on #3667
Ask @JunTaoLuo about the store

[2018-02-13 23:08] glennc commented on #5402
We also had this issue: https://github.com/aspnet/HttpClientFactory/issues/37

I think all the content for those headings needs to exist. We also wanted specific examples for how to use it in things like WebForms as well as details on unit testing with the factory, both your pages/controllers and your typed clients. Would that be a separate document?

[2018-02-14 04:17] Rick-Anderson commented on #5450
//cc @spboyer

[2018-02-14 04:18] Rick-Anderson commented on #5399
dup of #5368
Are you offering to translate or are you requesting a translation?

[2018-02-14 04:18] #5399 closed

[2018-02-14 04:19] Rick-Anderson commented on #5368
Tagalog  is currently not supported or planned.

[2018-02-14 04:19] #5368 closed

[2018-02-14 15:46] rynowak commented on #5402
In addition to this we need to cover the connection management/handler rotation/dns kinds of things. The landscape is somewhat complex in 2.1 and will get better in the future, but we should be able to come up with a good set of comprehensive guidance. We should talk more about this when you're ready to start on that part.

List looks good to me overall, and we can close our bug tracking this!

[2018-02-14 16:17] scottaddie commented on #5402
@glennc Will this API be supported in ASP.NET 4.x? Your reference to WebForms leads me to believe that.

[2018-02-14 18:17] scottaddie commented on #5402
@stevejgordon Please proceed with writing according to your proposed outline. Assume that the doc will be located under the **Fundamentals** TOC node. In the meantime, I'll meet with @rynowak & @glennc and help fill in the gaps once your PR is submitted. Let me know if you have any questions.

[2018-02-14 18:21] scottaddie commented on #5069
Thanks, @srikarplus! Let me know if you have any questions.

[2018-02-14 18:22] anurse opened #5466 "Add guidance for WebSocket lifetime and the middleware pipeline"
See https://github.com/aspnet/Home/issues/2462

We see customers having a frequent issue with WebSockets, where they do something like this:

[code]

`BackgroundSocketProcessor` is some service or component in their app that adds the socket to a collection. A background thread, or other process (other requests, etc) are then accessing those sockets and sending data. This is a common pattern and pr

[2018-02-14 18:30] glennc commented on #5402
It's a netstandard package, so yes. But it is designed to be used with some of ASP.NET Cores primitives. Which you can get with the GenericHost that was done at the start of 2.1. Effectively spinning up some core-isms into your System.Web app.

[2018-02-14 18:31] glennc commented on #5402
I wasn't as clear as I wanted to be there. It is netstandard which means it can be used in net4.x, but all of ASP.NET Core is that. This one in particular I want to explore using in non Core apps as well. Effectively bridging the experiences.

[2018-02-14 18:39] blowdart opened #5467 "Add guidance for using KeyVault to protect data protection keyring"
KeyVault key wrapping will come in 2.1

Data Protection documentation needs updating to describe this and a simpler, recipe type page should be created to explain to people what they'd use in what circumstances.

[2018-02-14 20:39] #5457 closed

[2018-02-14 20:44] Rick-Anderson commented on #5439
Copy from `@blowdart`  dup #5467

KeyVault key wrapping will come in 2.1

Data Protection documentation needs updating to describe this and a simpler, recipe type page should be created to explain to people what they'd use in what circumstances.

[2018-02-14 20:44] Rick-Anderson commented on #5467
dup of #5439

[2018-02-14 20:44] #5467 closed

[2018-02-14 21:33] Rick-Anderson commented on #5412
@anappwilos is the problem with the TOC (Table of contents) on the left side? I think the translated TOC sometimes lags the English version.

I had google translate the es-es version and I couldn't see any problems.  If there is a problem with the translation, [edit the es-es version in the browser](https://github.com/aspnet/docs.es-es/edit/live/aspnetcore/tutorials/razor-pages-vsc/model.md) and c

[2018-02-14 21:33] #5412 closed

[2018-02-14 22:13] scottaddie commented on #5402
@glennc Since this repo/docset is dedicated to ASP.NET Core, I suggest documenting the WebForms stuff in the [ASP.NET 4.x docset](https://docs.microsoft.com/aspnet/overview). Putting it here could lead customers to believe that WebForms is a supported app model in ASP.NET Core. We can easily link over to that doc from here. Are you okay with that approach?

[2018-02-14 23:31] glennc commented on #5402
Sure. As long as the content exists I am ok with you putting it where it makes the most sense for our customers.

[2018-02-15 02:24] Rick-Anderson commented on #5348
closing for lack of response.

[2018-02-15 02:24] #5348 closed

[2018-02-15 02:30] Rick-Anderson commented on #3662
duplicate of #4033

[2018-02-15 02:30] #3662 closed

[2018-02-15 03:13] Rick-Anderson commented on #1284
https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/areas shows both HtmlHelper  and TagHelper syntax

[2018-02-15 03:13] #1284 closed

[2018-02-15 03:34] Rick-Anderson opened #5475 "Add BodyTagHelper to mvc/views/tag-helpers/built-in/"
See #4033
https://github.com/jbagga/TagHelperComponentSample
@fiyazbinhasan  if you can write the sample code, I'll write the article and list you as author.

[2018-02-15 03:35] Rick-Anderson opened #5476 "Add HeadTagHelper to mvc/views/tag-helpers/built-in/"
See related Add BodyTagHelper to mvc/views/tag-helpers/built-in/ #5475

[2018-02-15 08:17] AdrienTorris opened #5482 "Add a quickstart guide about Blazor"
I don't know if it's possible because it's an early stage project but it would be great to add a minimal documentation about **Blazor**.
These project is very interesting and seems very promising but for now it's not that easy to start to play with it (this is totally normal, this is a part of the early-adopter journey but maybe you can do something about it :) ).

It would be fantastic to add a m

[2018-02-15 09:04] stevejgordon commented on #5402
@scottaddie Thanks. Excited to have a go at this. I'll start working on it and put in WIP PR in once I have something to show. I may need to advice/guidance on how/where to include samples/snippets. There are samples in the main HttpClientFactory repo but I see that some docs have their own sample project here in order to support building snippets? If it's okay, I'll start by copying over/fleshing

[2018-02-15 09:25] rynowak commented on #5402
Sure that would be great! My email is my github username + microsoft.com

[2018-02-15 10:37] AdrienTorris commented on #5482
The description of the project has changed (before it explained that we could install a Visual Studio extension, ect), now it just tell that Blazor is a very early project and that the most of the planned features aren't implemented yet. It just makes no sense to ask for a documentation right now.

[2018-02-15 10:37] #5482 closed

[2018-02-15 19:51] scottaddie commented on #4523
@chlowell As discussed via email, we're happy to accept any content from you on this topic to expedite things. Let us know if you're interested.

[2018-02-15 19:56] scottaddie commented on #3389
@mrbullwinkle Any updates to provide?

[2018-02-15 19:58] Tratcher commented on #4523
FYI: the out of band 2.0.0 component has been released. Expect more interest in this topic.

[2018-02-15 20:05] Rick-Anderson commented on #3889
A real app will have more files with RP as you get 1 `PageModel` file per method, while you stuff them all in 1 controller with MVC. But they are organized better and have a built in view model. No need to ever use view data.

[2018-02-15 20:11] mrbullwinkle commented on #3389
@scottaddie Apologies again for the previous delay. I am working on the new App Insights .NET Core content right now,

[2018-02-15 20:42] ardalis commented on #3889
Have you read?
 - https://msdn.microsoft.com/en-us/magazine/mt842512.aspx
 - https://msdn.microsoft.com/en-us/magazine/mt763233.aspx

?

Explains better than I can here.

[2018-02-16 02:21] Rick-Anderson opened #5487 "Update security/authentication/identity-enable-qrcodes for 2.1 changes"
[Enabling QR Code generation for authenticator apps in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-enable-qrcodes)

[2018-02-16 04:50] guardrex opened #5490 "Servers > ANCM UE pass"
https://docs.microsoft.com/aspnet/core/fundamentals/servers/aspnet-core-module

[2018-02-16 05:46] guardrex commented on #5454
@shirhatti I'm going to go ahead and get this in. It seems strange to even have FTS and LTS switches when there are different installers on the .NET Downloads page (Current and LTS).

Whatever the case with that, are the defaults and descriptions below correct?

* OPT_INSTALL_X86 [0 (false)/1 (true); default: 1] Install x86 packages on an x64 OS.
* OPT_INSTALL_LTS [0 (false)/1 (true); default: 0]

[2018-02-16 07:29] XelaNimed commented on #4076
Hello!
I solved this problem so:

1. First, you need to modify the file `.bowerrc` (you can find it under the file `bower.json`):
[code]
2. Check dependecies in `bower.json`:
[code]
3. Modify file `_ValidationScriptsPartial.cshtml` like so:
[code]

This solution from [article](https://www.codeproject.com/Articles/1212247/jQuery-culture-validation-in-ASP-NET-Core) by [Stefan Vincent Haug](https://w

[2018-02-16 13:46] stevejgordon commented on #5402
@ryanno / @glennc - Do you think we should include a section about the logging from HttpClientFactory and managing the verbosity per client etc?

[2018-02-16 16:58] anurse opened #5493 "SignalR - Using HubContext to send messages to clients"
Filing this for tracking since we've had some customer questions about it, this is in the medium-priority band of SignalR topics (along with scale-out and auth). Anecdotally, most SignalR users are just looking to use it to send notifications to users when an action in their standard MVC/Razor Pages app occurs.

We should have a guide for inject the `HubContext<THub>` type into an MVC controller (

[2018-02-16 16:59] anurse commented on #5493
cc @rachelappel @Rick-Anderson for visibility. Just something to keep on the queue for the medium-term (after the high-pri preview 1 getting started docs)

[2018-02-16 17:23] anurse commented on #5389
I'm going to throw some notes in various comments here so we don't lose track of them:

* `@aspnet/signalr` NPM package requires NPM 5.6.0 or higher. (source: https://github.com/aspnet/SignalR/issues/1458)

[2018-02-16 17:28] chlowell commented on #4523
@scottaddie I'm interested--I'll get started on a short tutorial, probably highlighting ADFS because AAD scenarios are already documented.

@Tratcher These are the important differences vs. the OWIN middleware I'm aware of:
* by default, all form posts are no longer checked for sign-in messages
* allowing unsolicited logins is now opt-in
* encrypted tokens are not (yet) supported

Do you think any

[2018-02-16 17:36] Tratcher commented on #4523
@chlowell that sounds like a good start. See the writeup at https://github.com/aspnet/Security/issues/1473. Specifically mention the CallbackPath and it's default value `/signin-wsfed`. Also discourage the use of the wreply Property, CallbackPath is better in most cases.

Note single-signout support has also been added.

[2018-02-16 22:04] guardrex commented on #3660
https://github.com/aspnet/DependencyInjection/issues/481
https://github.com/aspnet/Hosting/pull/1043
https://github.com/aspnet/Templates/pull/844

[2018-02-16 22:13] Trcx528 opened #5494 "Windows Authentication - Configure AccessDeniedPath"
When an authorization policy fails a completely blank page is returned when using windows auth.  With other authentication options, like cookie authentication, one can configure an AccessDeniedPath to redirect a user too in this scenario.  What is the equivalent for windows authentication?   The [documentation](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?tabs=a

[2018-02-16 22:19] scottaddie commented on #5494
@HaoK Any ideas?

[2018-02-16 22:22] HaoK commented on #5494
@Tratcher what are people supposed to do when windows auth fails?

[2018-02-16 22:24] HaoK commented on #5494
I think they probably can just do the equivalent manually...  check for authZ failure, and redirect to the "AccessDeniedPage".  Sound reasonable @blowdart ?

[2018-02-16 22:39] blowdart commented on #5494
I presume you're getting a 403 status? I'm not sure what Windows auth would do at this point to be honest, but yea a redirect works.

[2018-02-16 22:56] Tratcher commented on #5494
You could use the StatusCode middleware to provide content. I don't recommend redirecting, you'd loose the protocol 401/403 semantics.

[2018-02-16 22:59] blowdart commented on #5494
Ah, I didn't mean redirect as in HTTP redirect :) I figured some magical inline redirect

[2018-02-16 23:10] Tratcher commented on #5494
Ah, yeah, the StatusCodes middleware will do that for you.

[2018-02-17 02:10] guardrex opened #5495 "Sample Update Tracking Issue - complete list"
**Last Updated**: 4/18/21

Doesn't include migration topic samples.

| | Current<br>Version | Topic + Notes |
| :---: | :---: | --- |
| 🟢 | 5.0, 3.1 | Blazor Samples |
| 🟢 | 2.1 | client-side/libman/index.md |
| 🔴 | 1.1 | client-side/spa-services.md |
| 🔴 | 2.0 | common/samples/WebApplication1 |
| 🔴 | 2.0 | common/samples/WebApplication1DotNetCore2.0App |
| 🔴 | 5.0, 2.2 | data\ef-mvc\intro.md |
|

[2018-02-17 02:31] guardrex opened #5496 "Remove project.json file from non-sample projects"
Some *project.json*-based projects aren't samples tied to topics. They merely provide code to their topics. The *project.json* file can be removed. After 2.1 updates (some topic samps are still *project.json*-based), our IDE's will stop telling us to upgrade these projects.

[2018-02-17 07:16] guardrex opened #5503 "Potential problem with OPS build"
@Rick-Anderson

For PR: https://github.com/aspnet/Docs/pull/5500

### Built with no warnings ...........................

![capture1](https://user-images.githubusercontent.com/1622880/36338962-9d158b3a-1380-11e8-8742-e5f34e5fa038.PNG)

### The email claims otherwise ...........................

![capture2](https://user-images.githubusercontent.com/1622880/36338923-c79b22c6-137f-11e8-8a38-4fd3137c2

[2018-02-17 18:38] Rick-Anderson commented on #5503
It's not showing warnings now.

[2018-02-17 19:46] guardrex commented on #5503
It looked like it built fine in the GH UI as soon as I put it in. I opened here to show the email. I'll close now that you've seen it in case it's worthy of an internal issue.

[2018-02-17 22:44] guardrex opened #5505 "Describing the hosting bundle installer on the .NET Downloads page"
Over time, I noticed devs arriving on Slack wondering about the purpose of the "Windows Server Hosting (exe)" installer on the .NET Downloads page: https://www.microsoft.com/net/download/windows

![capture](https://user-images.githubusercontent.com/1622880/36346149-d3e7f444-13fe-11e8-82e1-30985d33c51d.PNG)

Recommendation: Add a tooltip (and possibly a link)

![capture1](https://user-images.github

[2018-02-17 23:56] rynowak commented on #5402
Yeah, some information about logging is important. I'm a little worried exactly how much will change in between now and release based on feedback...

I'd suggest documenting a few basics for now, and we can revisit after we finish all of the work in this area.

[2018-02-18 20:31] KPixel commented on #5389
It would be great to have docs for the lower layers (Sockets and Protocols).
I think they will be very helpful to people who need a well designed networking library.

[2018-02-19 03:32] guardrex commented on #5454
@shirhatti I'm piecing together what's going on from the prior discussion. The key concepts are ...

From my testing with `OPT_INSTALL_LTS=0`, I found that it was adding the runtime anyway. The reason ...

**Therefore AFAICT, only the `OPT_INSTALL_X86` is a working flag for us to document.**

[2018-02-19 10:10] atmike opened #5509 "Issues i found at my Test of the Template"
Hi I tested the latest version of the Template and found the following problems
1. Debugging Typescript is no longer possible within Visual Studio
2. References from package.json are no longer shown under references because you moved the file into the ClientApp folder
3. With the old template it was possible to switch the development into IIS. But I wasn't able to get that up and running.
May be t

[2018-02-19 15:28] Trcx528 commented on #5494
Yes, I am getting 403 status.  I was able to configure the StatusCodePages middleware to add the desired error pages.  I do feel like this needs to be noted in the documentation somewhere, even just a link to the StatusCodePages middleware.  Otherwise the documentation feels incomplete.

[2018-02-19 18:02] guardrex commented on #5509
Hello @atmike ... this is the documentation repo. For templating, close this issue and open this over in the repo at :point_right: https://github.com/aspnet/templating.

[2018-02-20 04:55] guardrex opened #5516 "Identity config topic updates"
security/authentication/identity-configuration.md
https://docs.microsoft.com/aspnet/core/security/authentication/identity-configuration

The topic requires a few minor updates:

* Code-fenced URL segments and property values
* Table work
* Update/add a couple of defaults
* Bust out some API doc links
* Grammar+style updates

[2018-02-20 16:38] #5496 closed

[2018-02-20 16:40] anurse commented on #5389
Agree completely, it's just going to be a matter of prioritization :). That layer is the core of what's brand new in SignalR, so we'll want to document it well.

[2018-02-20 17:15] guardrex opened #5520 "RP conventions features update"
mvc/razor-pages/razor-pages-convention-features.md
https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/razor-pages-convention-features

[IPageHandlerModelConvention](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.RazorPages/ApplicationModels/IPageHandlerModelConvention.cs)

[2018-02-20 22:15] Rick-Anderson opened #5521 "Project Bedrock transports"
See https://github.com/aspnet/KestrelHttpServer/issues/1980 and [Bedrock update](https://github.com/aspnet/KestrelHttpServer/issues/1980#issuecomment-377123245)
Document the lower layers.
The transports

[2018-02-20 23:14] dougbu opened #5522 "The requested resource does not support http method 'OPTIONS'"
_From @ryancole on February 14, 2018 21:22_

Hi folks,

I realize that this question seems to come up very, very frequently. I assure you that I've gone through each one and tried many of the suggested solutions. One solution did seem to get me to a "working" state, but it does not seem like it addressed the actual underlying issue, but instead somehow worked around it. So, let me just explain my

[2018-02-20 23:14] dougbu commented on #5522
_From @ryancole on February 19, 2018 0:37_

I see this isn't getting much attention. So, I've created a sample project that shows that the Microsoft.AspNet.WebApi.Cors project does nothing.

Below is a URL to a completely fresh AspNet WebApi template project. I only added two things - a controller and the cors nuget package. I configured the cors nuget package to allow all origins for all controll

[2018-02-20 23:14] dougbu commented on #5522
_From @ryancole on February 19, 2018 2:16_

I've seen this question asked in several other locations - namely stack overflow. Most answers focus on web.config hacks, custom filter attributes, other custom code, etc, as the solution. I want to make note, here, of what ended up being the solution in my scenario, which I believe to be many of the other folks' scenarios ...

The Microsoft.AspNet.WebAp

[2018-02-20 23:14] dougbu commented on #5522
@ryancole that sounds reasonable.

[2018-02-20 23:16] dougbu commented on #5522
Thanks again @ycrumeyrolle

@Rick-Anderson is https://github.com/aspnet/Docs/blob/master/aspnet/web-api/overview/security/enabling-cross-origin-requests-in-web-api.md the page that should change to clarify that enabling CORS doesn't enable the `OPTIONS` HTTP method anywhere else?

[2018-02-20 23:16] dougbu commented on #5522
Sorry @ycrumeyrolle I meant @ryancole.

[2018-02-20 23:23] Rick-Anderson commented on #5522
@danroth27  can you verify where this should be documented? cc @scottaddie

[2018-02-21 04:05] Rick-Anderson commented on #5509
@atmike  and specify version when you do. Thanks

[2018-02-21 04:05] #5509 closed

[2018-02-21 09:33] pethumishara opened #5525 "@GetAntiXsrfRequestToken()"
How to call '@GetAntiXsrfRequestToken()' from external js file

[2018-02-21 17:24] #5516 closed

[2018-02-21 21:49] Rick-Anderson commented on #5436
@HaoK  we have alot of customers asking how to change the confirmation  email time out before 1 day. See [this](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm?hubRefSrc=email&utm_source=lfemail&utm_medium=email&tabs=aspnetcore2x#lf-content=177102288:775419743&reply_editor=true)

[2018-02-21 21:49] rachelappel commented on #5391
- Prereqs
- Get Started with SignalR for ASP.NET Core
- Create an ASP.NET Core project that uses SignalR
- Create the SignalR Hub
- Configure the project to use SignalR
- Create the SignalR client code
- Verify code works
- Next Steps

[2018-02-21 22:10] Rick-Anderson commented on #5391
@anurse  do you want to recycle [Tutorial: Getting Started with SignalR 2 and MVC 5](https://docs.microsoft.com/en-us/aspnet/signalr/overview/getting-started/tutorial-getting-started-with-signalr-and-mvc) ?

We would use RP (Razor Pages) in lieu of MVC. What other changes? (besides changes to the product)

[2018-02-21 22:11] HaoK commented on #5436
If they are okay changing all data protection tokens at once `services.Configure<DataProtectionTokenProviderOptions>(o => o.TokenLifespan = <whatever>)`

If they want to target only a specific token provider like confirmation, they will have to register their own token provider by name, and target it, i.e.

[code]

[2018-02-22 00:33] #3660 closed

[2018-02-22 00:38] rachelappel commented on #5390
What is SignalR?
Transports and fallbacks
Hubs and Connections
SignalR for ASP.NET Core Architecture
Related Resources

[2018-02-22 01:08] #5494 closed

[2018-02-22 01:17] Rick-Anderson commented on #5390
@rachelappel  take a look at [staged Introduction to SignalR](https://review.docs.microsoft.com/en-us/aspnet/core/signalr/introduction-to-signalr?branch=pr-en-us-5453) and https://github.com/aspnet/Docs/pull/5453 and see what we can recycle. Original has massive dead wood which I started to remove.

[2018-02-22 02:40] #5100 closed

[2018-02-22 02:40] #5135 closed

[2018-02-22 02:46] Rick-Anderson commented on #5436
@HaoK  thanks. How about default log out time after inactivity?

[2018-02-22 04:16] crgdb commented on #5436
Regarding, "If they are okay changing all data protection tokens at once," would you list (or give reference to the list of) all data protection tokens?

Regarding, "If they want to target only a specific token provider like confirmation," where does the code go that you provided? What other code is necessary; e.g., is it necessary to write the custom email token provider? If yes, would you please

[2018-02-22 16:53] guardrex commented on #5503
@Rick-Anderson @scottaddie It just did this again on https://github.com/aspnet/Docs/pull/5531, which was a simple link change in a topic. It sends a warning email message. The build report claims that there are bad links, but those files were removed on #5394 over a week ago.

![capture](https://user-images.githubusercontent.com/1622880/36552029-8d69d82a-17be-11e8-9a96-19845844e993.PNG)

![capture

[2018-02-22 18:04] guardrex commented on #5525
https://docs.microsoft.com/en-us/aspnet/core/security/anti-request-forgery
*aspnetcore/security/anti-request-forgery.md*

https://github.com/aspnet/Docs/blob/master/aspnetcore/security/anti-request-forgery/sample/MvcSample/Views/Home/Ajax.cshtml

@Rick-Anderson Should that show `@GetAntiXsrfRequestToken()` set into the value of a hidden field, then have the script read the value from there? That w

[2018-02-22 20:24] Rick-Anderson commented on #5503
@guardrex  next time this happens keep the PR open, paste the email in this issue and ping me. I'll open an issue with the tools team.

[2018-02-22 20:26] guardrex commented on #5503
Ok ... :+1:

[2018-02-22 20:28] Rick-Anderson commented on #5525
@HaoK  is this something we should add to the docs? cc @scottaddie

[2018-02-22 20:29] HaoK commented on #5525
@blowdart thoughts?

[2018-02-22 20:37] Rick-Anderson opened #5534 "Add "ASP.NET Core" to titles and H1's"
For example, [Model Binding](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding) should be "Model binding in ASP.NET Core".

Use SkyEye to start at the top, but update all articles.

[2018-02-22 20:59] guardrex commented on #5534
Dup of https://github.com/aspnet/Docs/issues/5280

I was planning to do it this weekend, but I can drop that down to just dealing with descriptions if you want.

[2018-02-22 22:14] Rick-Anderson commented on #5534
@guardrex  go for it.

[2018-02-22 22:15] Rick-Anderson commented on #5534
@guardrex  not really a dup. This is a specific request from bill gates.

[2018-02-22 22:18] HaoK commented on #5436
You can look at https://github.com/aspnet/Identity/blob/dev/src/Core/TokenOptions.cs for all the default token providers.

You can either copy the code from https://github.com/aspnet/Identity/blob/dev/src/Identity/DataProtectionTokenProvider.cs and just hardcode the timespan you desire instead TokenLifespan, or derive from the class.

[2018-02-22 22:19] guardrex commented on #5534
My issue plans to cover https://github.com/aspnet/Docs/issues/3278 ... isn't that the same thing?

[2018-02-22 22:21] HaoK commented on #5436
@Rick-Anderson changing the inactivty expiration would be

[code]

[2018-02-23 00:17] Matthew-Bonner opened #5536 "Configuring status code pages"
Please read the following:
https://github.com/aspnet/Home/issues/2862#issuecomment-364335927

Then:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling#configuring-status-code-pages

The first and second sentence are basically confusing:
"By default, your app won't provide a rich status code page for HTTP status codes such as 500 (Internal Server Error) or 404 (Not Found). You

[2018-02-23 01:21] Rick-Anderson opened #5537 "Introduction to Identity -"
[Introduction to Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?tabs=visual-studio%2Caspnetcore2x)

per customer, for the 2.x version,
` options.Cookie.Expiration = TimeSpan.FromDays(150);`   //  should be
`options.ExpireTimeSpan = TimeSpan.FromMinutes(30);`

@HaoK  is that correct? cc @scottaddie

[2018-02-23 02:00] guardrex commented on #5490
@Rick-Anderson @scottaddie Let's consider reducing the use of the acronym "ANCM" for "ASP.NET Core Module" in this topic. Note that I plan to *reduce* its use ... not eliminate its use.

* It's only rarely used in topics outside of this topic:
   * static-files.md: 2
   * windowsauth.md: 1
   * nano-server.md: 0 (used as part of a script name)
* After the initial reference to the "ASP.NET Core Mod

[2018-02-23 02:35] Rick-Anderson commented on #5490
AFAIK you need approval - see [this](https://gist.github.com/klaaspieter/12cd68f54bb71a3940eae5cdd4ea1764).

TAWYG!
(Totally Agree With You Guys)

[2018-02-23 03:52] guardrex commented on #5490
It seems to me that this topic isn't a good spot to halfheartedly duplicate what's in the *Hosting on IIS* topic.

Why? ... Why not just tell the reader to go access the *Hosting on IIS* topic and the module config reference, where the content is complete (including security coverage)?

I see a few gems in here that should be moved over to the *Hosting on IIS* and module reference topics, but I re

[2018-02-23 07:05] guardrex commented on #5536
@Matthew-Bonner Go ahead. We might touch it up a bit to comply with grammar and style guidelines; but yes, please do go ahead and submit a PR. We'd be happy to have it. :+1:

[2018-02-23 15:02] stevendc opened #5539 "All MVC4 downloads missing!"
## General

I can't get a download to the 2014 Web Camps training kit or the .NET 4 MusicStore solution. A boatload of people are not yet on .NET 5/.NET Core, so those downloads should still be available for training.

My main goal is training a team (and brushing up myself) on the proper patters for using dependency injection in a .NET 4 MVC app (also WebAPI). There are some big differences betwe

[2018-02-23 16:34] cjgronlund commented on #5534
Follow guidance in https://aka.ms/seo-for-writers-cheat-sheet

[2018-02-23 16:58] guardrex commented on #5539
Is it this :point_right: https://www.microsoft.com/en-us/download/details.aspx?id=36393

[2018-02-23 17:00] stevendc commented on #5539
It is indeed, but it results in essentially a 404 from Web Platform Installer. Any other direct download or alternative/ magnet ends in 404 as well.

![image](https://user-images.githubusercontent.com/24526800/36606261-329346ce-1891-11e8-815c-14389abdaceb.png)

[2018-02-23 17:06] guardrex commented on #5539
Ah ... `@jongalloway` may have the answer. See his comment at the end of this :point_right: https://forums.iis.net/t/1228981.aspx

[2018-02-23 17:13] guardrex commented on #5534
Not everyone working here has access to that. :trollface: :smile: It could be made part of https://docs.microsoft.com/style-guide/welcome/. The community can edit metadata.

[2018-02-23 17:26] guardrex commented on #5539
Curious: @terrimorton ... Is the page at https://www.microsoft.com/en-us/download/details.aspx?id=36393 in your ballpark? If so, can the page provide the content of Jon's note and have its download link disabled?

[2018-02-23 17:29] stevendc commented on #5539
I ran across that one in my initial Googling. The problem is the 2016 release is based on .NET Core, and that is significantly different from the way .NET 4/4.5 handles DI. I didn't even see a DI section in the 2016, which is my main interest in the .NET 4 Web Camps download.

The articles and hands-on stuff is all still online, it's one of the top results when searching for DI training in MVC. I

[2018-02-23 17:33] guardrex commented on #5539
Does that include the 2015 release?

https://github.com/Microsoft-Web/WebCampTrainingKit/releases/tag/v2015.10.13b

[2018-02-23 17:49] guardrex commented on #5539
... and I see a bad link in that set of topics to: https://www.microsoft.com/download/29843 that 404s.

Also, the problem with using the link `http://aka.ms/webcamps-training-kit` is that it goes directly to the 2016 release. Those topics don't say how to reach the general releases page.

I'll take this on and ping Jon on the PR. @stevendc, let me know if that 2015 link get the right kit, and than

[2018-02-23 17:52] cjgronlund commented on #5534
Good idea. I'll get it out there. In the meantime, does your team need it to complete this task?

[2018-02-23 17:56] guardrex commented on #5534
No ... I was half-kidding. I took a PDF of that prior to losing access to it, and the team has access. Rick will let me know if he wants to handle the titles, while I handle the descriptions; or he might close this and I'll work it through #3278 and #5280.

[2018-02-23 17:58] cjgronlund commented on #5534
It was updated this Jan. 17. Please let me know if you need the newest version. :>)

Thanks for your work!

[2018-02-23 18:00] guardrex commented on #5534
I may have an older version looking at the year. It says, "Updated: 17 January 2017."

[2018-02-23 18:04] stevendc commented on #5539
The training I'm after is here, just so you know my hopeful goal:
https://docs.microsoft.com/en-us/aspnet/mvc/overview/older-versions/hands-on-labs/aspnet-mvc-4-dependency-injection

I'm reviewing the download above for 2015 release. It seems like the correct .NET version, but may not contain the specific DI training I was hunting. Either way thanks for the collection of fast responses, I'll conti

[2018-02-23 18:10] guardrex commented on #5539
@stevendc Yeah ... and I see that bad "29843" link there, too. Does the link down in the comments reach the correct project? https://github.com/Microsoft-Web/HOL-MVC4DependencyInjection/tree/master/Source

... and, yes, if you can let me know if that 2015 downloadable includes that MVC4 DI project, that would be great. Otherwise, np ... I'll download it and look.

ping @jongalloway

TL;DR The Web

[2018-02-23 18:21] stevendc commented on #5539
@guardrex Yes, that's the correct solution located at https://github.com/Microsoft-Web/HOL-MVC4DependencyInjection/tree/master/Source

Thanks, from me and on behalf of the 6 devs who will be trained on DI with this exercise!!

[2018-02-23 18:31] guardrex commented on #5539
Np ... my pleasure. As soon as I hear back from Jon, I'll get those links updated.

[2018-02-23 21:24] jongalloway commented on #5539
I've updated https://aka.ms/webcamps-training-kit to point to the general releases list. Also, I think it makes sense to update notes at the end of the docs to link out to specific releases.

[2018-02-23 21:26] guardrex commented on #5539
Thanks @jongalloway ... then I'll just get the bad 404 link out at  https://www.microsoft.com/download/29843.

I'll ping you to review the PR. Thanks again! :rocket:

[2018-02-23 21:32] scottaddie opened #5541 "Update Partial Tag Helper doc for Preview2"
The Partial Tag Helper doc was written with Preview1 in mind. Preview2 introduces some changes. See the following comment for context:
https://github.com/aspnet/Docs/pull/5533#issuecomment-367878431

[2018-02-23 22:29] scottaddie opened #5542 "Document allowing access with one scheme or another"
See Hao's comment for context:
https://github.com/aspnet/Security/issues/1664#issuecomment-368143681

[2018-02-24 00:17] guardrex commented on #5539
@jongalloway

There is one thing that concerns me about doing that. We're going to be behind the 🎱 for future releases of the kit. I mean unless you (or someone) remembers to open issues going forward, we'll probably miss adding links for future training kits. Therefore, I think it best if we just update the broken link (`https://www.microsoft.com/download/29843`) to point to `https://aka.ms/webca

[2018-02-24 00:24] Sigvaard opened #5544 "Add more samples with localization and routing"
There's no official example on how to setup routes using `Microsoft.AspNetCore.Localization.Routing`. Every site I visit shows different method and most of these articles were written for version 1.x

Basically what if I want to make URL like this:

mywebsite.com/en/
en.mywebsite.com/

[2018-02-24 02:12] guardrex commented on #5204
@TerryGLee Any word on this one?

[2018-02-24 04:45] guardrex commented on #4933
Looks like work here stopped, and this issue is superseded by https://github.com/aspnet/Docs/issues/5495.

[2018-02-24 04:45] #4933 closed

[2018-02-24 05:07] guardrex commented on #2256
The following THs are listed/covered at https://docs.microsoft.com/aspnet/core/mvc/views/tag-helpers/built-in/:
* AnchorTagHelper
* CacheTagHelper
* DistributedCacheTagHelper
* EnvironmentTagHelper
* FormTagHelper
* ImageTagHelper
* InputTagHelper
* LabelTagHelper
* SelectTagHelper
* TextAreaTagHelper
* ValidationMessageTagHelper
* ValidationSummaryTagHelper

Unlisted:
* FormActionTagHelper
* Link

[2018-02-24 05:13] guardrex commented on #1852
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.mvcarearoutebuilderextensions?view=aspnetcore-2.0

[2018-02-24 05:36] guardrex commented on #1852
@danroth27 It's (somewhat*) documented over here :point_right: https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing#areas

somewhat* = Lacking API links and overloads info.

Seems a bit scatter-brained 😵 to have Areas documented in two places. Should most of the Routing-Areas content be integrated into the Areas topic, and then the Routing topic can briefly address Areas routing an

[2018-02-24 06:31] guardrex commented on #1276
@danroth27 Updating the destination:

https://docs.microsoft.com/dotnet/core/tools

I'll run thru and see if I can knock this one out quickly. 🥊 *Ding! Ding!*

[2018-02-24 07:34] guardrex commented on #1195
This issue has been addressed to some extent with the content in:
* https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-configuration?tabs=aspnetcore2x#lockout
* https://docs.microsoft.com/en-us/aspnet/core/security/authentication/2fa#account-lockout-for-protecting-against-brute-force-attacks

Looks like the first link to *Lockout* could use at least a one or two line des

[2018-02-24 16:10] #1276 closed

[2018-02-24 16:20] guardrex opened #5549 "Servers > HTTP.sys UE pass"
https://docs.microsoft.com/aspnet/core/fundamentals/servers/httpsys

[2018-02-25 03:10] #5539 closed

[2018-02-25 05:33] Rick-Anderson commented on #5544
@ryanbrandenburg  can you explain how to do this?

[2018-02-25 13:01] blowdart commented on #5525
You can avoid jquery if you like, but yea it should be in the docs.

[2018-02-26 12:32] terrimorton opened #5552 "Facebook instructions for oAuth are out-of-date"
The oAuth instructions for Facebook on [Create an ASP.NET MVC 5 App with Facebook, Twitter, LinkedIn and Google OAuth2 Sign-on](https://docs.microsoft.com/en-us/aspnet/mvc/overview/security/create-an-aspnet-mvc-5-app-with-facebook-and-google-oauth2-and-openid-sign-on) are out-of-date.

The most recent feedback on this article can be found here: [https://forums.asp.net/t/2136867.aspx?How+to+sign+in

[2018-02-26 16:18] scottaddie commented on #5525
+1 to not using jQuery. Prefer `document.getElementById`.

[2018-02-26 17:18] guardrex opened #5554 "Security > XSRF/CSRF updates"
https://docs.microsoft.com/en-us/aspnet/core/security/anti-request-forgery
*aspnetcore/security/anti-request-forgery.md*

See https://github.com/aspnet/Docs/pull/5551 for some review comments to update.
See #5525 regarding removing jQuery from the topic/sample.

[2018-02-26 17:23] scottaddie commented on #5133
@danroth27 I have 2 questions for you:
1. Are you hoping for a tutorial, a reference doc, or both?
1. Any particular receiver(s) to focus on in the doc? For example, GitHub, Kudu, etc.

[2018-02-26 17:45] vankampenp commented on #5133
Mostly a getting started doc for Asp.Net Core webhooks
I am a new user to webhooks. What do I need to do to get a webhook, say Wordpress webhook or any other, working in ASP.NET Core?
What nuget package works with Asp.Net Core? And which for the receivers?
Maybe it is all there, but today it is a bit too much guess work to get started.

[2018-02-26 18:01] #5525 closed

[2018-02-27 04:54] eriawan commented on #4933
ah, you got me first, @guardrex :)

ok, thanks for the updates

[2018-02-27 17:32] #5454 closed

[2018-02-27 19:40] AlexInAk commented on #5537
If I understand it correctly, based on [aspnet security #1293](https://github.com/aspnet/Security/issues/1293), `options.Cookie.Expiration` essentially gets set to null later in the pipeline:

https://github.com/aspnet/Security/blob/2b1dab2efed9d3ba74fa082d9f01ccbd1d05bd43/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationHandler.cs#L180

[2018-02-27 19:45] #4523 closed

[2018-02-27 19:52] rachelappel opened #5560 "signalr/get-started-signalr-core add xplat content"
content should be the same steps but using dotnet CLI commands and VS Code (as a tab) for cross platform readers

[2018-02-27 21:39] HaoK commented on #5537
Yeah that's correct, the underlying Cookie.Expiration property is not used/ignored for CookieAuthentication since that property is dealing with the HttpCookie, not the authentication cookie (confusing I know).

[2018-02-27 22:17] guardrex commented on #5280
@Rick-Anderson @scottaddie @rachelappel This evening, I'm getting back to this. It would have been done last weekend, but HTTP.sys kept me quite busy. 🏃

I'm addressing the following:
* Long titles (59 chars + technology name; H1 is 100, but we plan to match them)
* Technology names in titles/H1s (#3278)
* H1s that don't match titles (I'm aware of the SEO cheat sheet guidelines, but my current und

[2018-02-28 00:56] #5537 closed

[2018-02-28 01:01] scottaddie opened #5563 "Address feedback from Windows auth PR"
Address the following feedback from Chris on #5512:
https://github.com/aspnet/Docs/pull/5512#pullrequestreview-99895420

[2018-02-28 01:09] #5563 closed

[2018-02-28 01:20] scottaddie opened #5565 "Update Partial Tag Helper doc for 2.1 Preview1"
ASP.NET Core 2.1 Preview1 was released today. Make the following changes in the sample project:
- [x] Delete the *NuGet.config* file, as that was only needed to configure a MyGet feed for Microsoft.AspNetCore.App.
- [x] Update the CSPROJ file to use the 2.1.0-preview1-final NuGet package.
- [x] Update the *global.json* file to use the 2.1.300-preview1-008174 SDK.

[2018-02-28 01:30] guardrex opened #5566 "Note regarding using ASP.NET Core Previews on Azure App Service"
https://blogs.msdn.microsoft.com/webdev/2018/02/27/asp-net-core-2-1-0-preview1-using-asp-net-core-previews-on-azure-app-service/

[2018-02-28 01:34] #5490 closed

[2018-02-28 01:34] #5565 closed

[2018-02-28 01:38] scottaddie commented on #5056
@guardrex Any interest in taking this one?

[2018-02-28 01:39] guardrex commented on #5056
Sure ... I ❤️ server stuff.

[2018-02-28 01:51] guardrex opened #5568 "Update note regarding using ASP.NET Core Previews on Azure App Service"
host-and-deploy\azure-apps\azure-continuous-deployment.md
host-and-deploy\azure-apps\index.md
host-and-deploy\azure-apps\troubleshoot.md
host-and-deploy\azure-iis-errors-reference.md
tutorials\publish-to-azure-webapp-using-cli.md
tutorials\publish-to-azure-webapp-using-vs.md
includes\azure-apps-preview-notice.md

Search: *Azure App Service Preview Notice*

[2018-02-28 01:59] John0King opened #5569 "explain Asp.Net Core Middleware's `Invoke` and `InvokeAsync`"
From https://github.com/aspnet/Home/issues/2907

in [this document](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?tabs=aspnetcore2x) ,  it use `public async Task Invoke(HttpContext httpContext, IMyScopedService svc)`,

in [this document](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/extensibility) it use `public async Task InvokeAsync(HttpContext cont

[2018-02-28 02:38] #5552 closed

[2018-02-28 02:40] Rick-Anderson commented on #5280
@tdykstra  I thought title could be longer than H1.

[2018-02-28 03:26] tdykstra commented on #5280
The opposite -- H1 longer than title

[2018-02-28 04:13] guardrex commented on #5280
@tdykstra :wave: Hope ur well.

Their guidance seems a bit flexible on the exact length when taking the technology into account:

For H1:

They say not to use the title for the H1, but that's not a fast and easy fix here. Even if u want to go that way, perhaps it's best to do that as topics are edited over time.

[2018-02-28 05:18] #5566 closed

[2018-02-28 05:24] guardrex commented on #5569
Thanks for reporting @John0King! I'll get this fixed soon.

[2018-02-28 05:53] guardrex commented on #5204
Since this doesn't seem like a viable issue at the moment, let's close for now. We can reopen this if it becomes a need in the future.

[2018-02-28 05:53] #5204 closed

[2018-02-28 16:35] tdykstra commented on #5280
The contributor guide SEO guidance for H1 doesn't say not to use the title:

[2018-02-28 17:10] guardrex commented on #5280
It's from the SEO cheat sheet (Carolyn Gronlund, Sr Content Dev Mgr, C+E; Updated 17 Jan 2017):

Is this older guidance? See: https://github.com/aspnet/Docs/issues/5534#issuecomment-368061882

[2018-02-28 17:55] TerryGLee commented on #5204
Also this is now closed, I will say that this was still under discussion by the product groups but no decision had been made. I did find out that the product group is able to track without tracking URLs those Docs pages that mentioned their VisualStudio.com pages, but they were most interested in having tracking URLs on Download links, particularly. Since that's already happening, then for now, we

[2018-02-28 19:12] MichaelSimons commented on #5450
Here is an additional request for doc on ASP.NET Core SPA templates - https://github.com/dotnet/dotnet-docker/issues/393

[2018-03-01 03:57] guardrex commented on #5280
Result of analysis:

| Problem | # Files |
| --- | :---: |
| H1 is too long (100 chars) | 0 |
| Title is too long [59 chars + 12 ("ASP.NET Core" allowance)] | 5 |
| Description is too long (145 chars) | 11 |
| Missing "ASP.NET Core" in title | 95 |
| Title is different from H1 | 104 |
| Description is too short (115 chars) | 189 |

Of course, many topics have more than one problem. Grand total, th

[2018-03-01 04:41] cjgronlund commented on #5280
@guardrex Thanks for this report.
These aren't the  checks we do on content -- there's a crawl report you can request. Please refer to this doc: https://review.docs.microsoft.com/en-us/help/contribute/how-to-seo-hackadoc?branch=master

For ASP.NET, we found many issues by flagging short page titles and H1s - there sometimes wasn't enough information  in the text to signal search rank for Google or

[2018-03-01 05:14] guardrex commented on #5280
I can't reach that site due to a significant contractual change this time around, and I also wouldn't have access to the crawl report.

WRT the branding in H1, we're angling to incorporate the brand/technology into the title. Some current examples:

* *Work with static files in ASP.NET Core*
* *Response Compression Middleware for ASP.NET Core*
* *ASP.NET Core Middleware*

Therefore, they work ok f

[2018-03-01 06:37] guardrex commented on #5280
Added one: *Title matches description*

There are nine cases of that following #5574. They could've been caught by long title or short description filters, but it's good to keep an :eye: on them separately just to make sure.

[2018-03-01 09:43] shirhatti opened #5575 "Update host on Linux with Nginx"
The doc currently advises you to build Nginx from source if you want the http_ssl_module. Looks like that is no longer required if you install nginx from the official PPA (at least 16.04).

https://www.nginx.com/resources/wiki/start/topics/tutorials/install/#official-debian-ubuntu-packages

We should simplify the doc and no longer ask folks to build nginx from source but instead install directly f

[2018-03-01 15:04] newgui opened #5577 "Not compatible with net461"
Tried creating new projects as described and adding the prerequisite packages only to receive compatibility errors.

Downloaded the sample source code and opened it in VS2017 only to immediately receive compatibility errors.

[2018-03-01 15:33] scottaddie commented on #5577
@newgui Is there any particular doc you're following? If you provide a link to the sample code, I can dig into this for you.

[2018-03-01 15:51] newgui commented on #5577
Hi Scott,  Thanks for responding.  I am following this article:  https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/windows-service?tabs=aspnetcore2x

Step 1 is to install Microsoft.AspNetCore.Hosting.WindowsServices.  When I attempt to do that, I get an error saying that it is not compatible with net461 which the prereqs indicate as required.

So, I then just downloaded the source code

[2018-03-01 16:17] scottaddie commented on #5577
@newgui Thanks for the info! I'm looking into this for you.

[2018-03-01 17:07] scottaddie commented on #5577
@newgui If you don't mind, can you include the compatibility errors you're seeing?

[2018-03-01 17:57] guardrex commented on #5575
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx
host-and-deploy/linux-nginx.md

@scottaddie I was just developing a To Do list, but ur prob more familiar with Nginx.

1. Under *Install Nginx*, change the bash from `sudo apt-get install nginx` to the five lines of code shown in *Ubuntu PPA* at https://www.nginx.com/resources/wiki/start/topics/tutorials/install/#official-deb

[2018-03-01 18:26] guardrex commented on #5577
"Install" might not be the best choice of words, since what the app will need is a package reference to `Microsoft.AspNetCore.Hosting.WindowsServices`.

@newgui With regard to running the sample app that accompanies the topic, do you have a recent version of VS (15.3 or later; 15.5.3 is latest) with the *ASP.NET and web development* and *.NET Core cross-platform development* workloads installed?

[2018-03-01 18:42] scottaddie commented on #5577
I can confirm that the sample app also builds for me with VS 2017 15.5.7 and the 2 workloads specified by @guardrex.

@guardrex I'm going to create an issue to make some updates to this doc. I see a few other things that need attention.

[2018-03-01 18:59] scottaddie commented on #5575
@guardrex Feel free to take this one if you have time. I'm not super familiar with Nginx.

[2018-03-01 19:05] guardrex commented on #5575
Sure thing. I'm still trying to learn more about Nginx (when I have time 😅).

@shirhatti Let me know how that list :point_up: looks for action items here.

[2018-03-01 19:10] scottaddie opened #5578 "UE pass on Host in a Windows Service doc"
https://docs.microsoft.com/aspnet/core/host-and-deploy/windows-service

- [x] UE edit
- [x] ~Update template name referenced in https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/windows-service?tabs=aspnetcore2x#prerequisites~ No longer relevant.
- [x] Update sample for 2.1 (`CreateWebHostBuilder` approach).
- [x] Remove `UseApplicationInsights` calls.
- [x] ~Display necessary `using` s

[2018-03-01 19:14] newgui commented on #5577
Thanks for the reply!  I am upgrading VS now and will see how it goes...

[2018-03-01 21:13] dodegaard opened #5579 "Missing screenshots in PrecompiledViews doc"
I just reviewed the doc on PrecompiledViews and the screenshots or code blocks for this are missing and simply say [!code-xml]

Thanks!

https://github.com/aspnet/Docs/blob/master/aspnetcore/mvc/views/view-compilation.md

[2018-03-01 21:23] guardrex commented on #5579
@dodegaard The built doc is here :point_right: https://docs.microsoft.com/aspnet/core/mvc/views/view-compilation?tabs=aspnetcore2x

[2018-03-01 21:35] guardrex commented on #5579
I'm going to go ahead and close, but we can reopen for discussion if you have additional questions.

[2018-03-01 21:35] #5579 closed

[2018-03-01 22:10] shirhatti commented on #5575
My preference is no.

👍

👍

👍

For the life of me I can't remember why we needed the stream module or PCRE. I can't see it used anywhere in our suggested configuration. If you were giving it a shot, I'd probably verify this before I sink any time into this doc.

[2018-03-01 22:23] guardrex commented on #5575
Sure ... I can do that. I'd like to give it shot with the revised steps and make sure it all works as advertised and pick up some additional experience along the way. For the test app, I plan to use our basic Razor Pages template with HTTPS enabled but not with auth or a dB (at this time).

Timing: I'll be out next week, so this one prob needs to wait until I get back. I can prob still hit this sp

[2018-03-02 01:24] Rick-Anderson opened #5581 "Sprint 133 goals 3-17 to 4-6"
@scottaddie

- [x] Support product unit on server docs.
- [ ]  Check on versioning
- [ ] Web API conventions #5401 - Rich Swagger support without attributes (aspnet/Mvc#6870, aspnet/Mvc#6784)

@rick-anderson
- [x] Support product unit on .NET framework and  server docs.
- [ ] Update scaffolding instructions with Feb patch release #5263

@rachelappel

- [x]  Update intro to point to ASP.NET Framewo

[2018-03-02 03:07] guardrex commented on #5251
Ran into a snag here. Opened an issue to investigate :point_right: https://github.com/aspnet/BrowserLink/issues/65

[2018-03-02 15:11] newgui commented on #5577
OK... I update VS to the latest version and the sample project will load and run.

However, as indicated in the document that I am following the ASP.NET Core Application (.NET Framework) template is no longer available.  Is there another that I should use or is there a way to get that one back?

[2018-03-02 16:05] #5569 closed

[2018-03-02 16:14] newgui commented on #5577
OK...  I believe I have this figured out now.   Thanks for all of your input.

[2018-03-02 16:21] guardrex commented on #5577
I think it would be (maybe :smile:) ...

Visual C# > .NET Core > ASP.NET Core Web Application

Set 1st DDL to ".NET Framework" (leave the 2nd DDL on "ASP.NET Core 2.0") ... and select the "Empty" template.

[2018-03-02 16:32] scottaddie commented on #5577
I also noticed that the template indicated in the doc is incorrect. This will be addressed in https://github.com/aspnet/Docs/issues/5578.

[2018-03-02 16:32] #5577 closed

[2018-03-02 18:43] #5549 closed

[2018-03-02 18:53] jecalderon opened #5585 "The startup page delivers a very different page compared to the one in the web documentation"
## Issues with Existing Topics

If the issue is a simple typo or similar correction, just submit a PR.
Otherwise, let us know what's wrong or what we should improve. Include a
link to the topic.

I am new to MVC Core and DOT NET.  I downloaded the latest VS 2017 .The MVC tutorial do not look and feel VS 2017.  I created the MVCMovie solution and project. Here is a screenshot

The web documentation

[2018-03-02 18:54] scottaddie opened #5586 "Update Kestrel doc title"
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?tabs=aspnetcore2x

Drop the "Introduction to" prefix from the title. This makes the title more concise and consistent with the titles used for [HTTP.sys](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/httpsys) and [WebListener](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/weblistener).

[2018-03-02 19:18] #5586 closed

[2018-03-02 20:25] scottaddie opened #5589 "Improve CSAT: Migrating Auth and Identity to 2.0"
https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x

[2018-03-02 21:21] newgui commented on #5577
Hi Scott,

I seem to be stuck again.  I have created the projects as described here:  https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/windows-service?tabs=aspnetcore2x#tabpanel_SENY+PN+lu_aspnetcore2x

When running in VS I am able to debug the project and browse to the API.

I have also used the sc command to create and start the windows service.  However, when running as a Windows Se

[2018-03-02 22:26] scottaddie commented on #5577
@newgui I noticed that you're missing the following in *DocumentsApi.csproj*:

[code]

This line causes a Self-Contained Deployment to occur, which is necessary for this to work. Let me know what happens after you add this and try again.

[2018-03-02 23:08] Rick-Anderson opened #5591 "Master list of issues requiring follow up"
Use this list issues that need  `@mention` for more information/questions answered. Ping the PU after the next release.

- [ ] https://github.com/aspnet/Docs/issues/1195
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]

[2018-03-02 23:19] Rick-Anderson commented on #1025
Make https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/ an include and add it to the intro doc.

[2018-03-02 23:26] Rick-Anderson commented on #590
Solved via multiple articles.

[2018-03-02 23:26] #590 closed

[2018-03-02 23:45] #2197 closed

[2018-03-02 23:47] #2010 closed

[2018-03-02 23:53] #1752 closed

[2018-03-02 23:54] Rick-Anderson commented on #1752
Closing for other higher priority issues.

[2018-03-02 23:57] Rick-Anderson commented on #1706
Razor Pages have built-in view model.

[2018-03-02 23:57] #1706 closed

[2018-03-03 00:01] Rick-Anderson commented on #1380
Closing to work on higher priority items.

[2018-03-03 00:01] #1380 closed

[2018-03-03 00:03] Rick-Anderson commented on #1334
Closing to work on higher priority.

[2018-03-03 00:03] #1334 closed

[2018-03-03 00:12] Rick-Anderson commented on #3216
closing to work on high pri items.

[2018-03-03 00:13] #3216 closed

[2018-03-03 00:14] Rick-Anderson commented on #3230
closing to work on higher priority items.

[2018-03-03 00:14] #3230 closed

[2018-03-03 00:26] Rick-Anderson commented on #2508
Closing to work on high pri

[2018-03-03 00:26] #2508 closed

[2018-03-03 00:27] Rick-Anderson commented on #2479
cc:/ @erickson-doug

@mlearned  can we get an ETA on this update? Can you mention me in the PR? Can you create an issue I can point to?

cc @spboyer

[2018-03-03 00:30] Rick-Anderson commented on #3057
Closing for higher priority items.

[2018-03-03 00:30] #3057 closed

[2018-03-05 20:32] Rick-Anderson commented on #4516
@rpetrusha or @dend can you get me started on this?

[2018-03-05 23:32] shirhatti opened #5599 "ANCM: Doc: IISExpress should restart after switching hostingModel from inprocess to outofprocess"
_From @jhkimnew on March 1, 2018 1:19_

We need to update DOC to inform this limiation regarding IISExpress.

Unlike full IIS, IISExpress should restart after switching hostingModel from inprocess to outofprocess because it does not use WAS service.

_Copied from original issue: aspnet/IISIntegration#621_

[2018-03-06 03:25] guardrex commented on #5599
@jhkimnew @shirhatti Should we say a bit more ... should it say how the restart may negatively impact an app/hosting (examples)?

[2018-03-06 18:30] sadukie opened #5605 "Free Courses links?"
## Requests for new Topics

Looking at https://docs.microsoft.com/en-us/aspnet/, I see that Free Courses links to asp.net/freecourses, which has some outdated links and does not appear to be part of this repo.  Are there plans to move that section to here?  (I would love to help with this if possible!)

[2018-03-06 18:36] peterblazejewicz opened #5606 "Upgrade static files sample to 2.x"
1. Write a **short** paragraph describing what the topic will cover.

I'd like to ask for update of sample content available here:
https://github.com/aspnet/Docs/tree/master/aspnetcore/fundamentals/static-files/samples

to cover version 2.*.

The docs discussing the content in subject are here:

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/static-files?tabs=aspnetcore2x

I've found th

[2018-03-06 19:07] digitaldrummerj opened #5607 "ASP.NET Quickstart Overview references download of VS2015 and WebPI couldn't find it"
ASP.NET Quickstart Overview in the Getting Started section says to download Visual Studio 2015 which downloaded the Web Platform Installer which worked but then the Web Platform Installer said it could not find the product.

Doc Page: https://docs.microsoft.com/en-us/aspnet/overview

[2018-03-06 20:04] jhkimnew commented on #5599
@pan-wang Can you add more detailed information about why IISExpress needs to be restarted manually when hostingModel is changed?

[2018-03-06 22:47] scottaddie opened #5610 "Clarify description of Cookie.Expiration property"
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-configuration?tabs=aspnetcore2x#cookie-settings

A customer left the following Livefyre comment:

The current description for the property is too vague.

Related to https://github.com/aspnet/Docs/issues/5537.

[2018-03-06 23:11] RSuter commented on #4258
@zuckerthoben and others. What is that current state of this issue/PR?

[2018-03-06 23:45] #5610 closed

[2018-03-07 04:05] Rick-Anderson commented on #5606
What in the document is out of date for 2.0?

[2018-03-07 04:10] Rick-Anderson commented on #5605
@jongalloway  who own's https://www.asp.net/freecourses ?

I think it would be better to remove the [Free courses](https://www.asp.net/freecourses) pane. Most of them are outdated. Both the ASP.NET tab and the ASP.NET Core tab use the same link.

cc @scottaddie  @rachelappel

[2018-03-07 04:14] #5607 closed

[2018-03-07 04:17] Rick-Anderson commented on #5585
Your first image is the web browser of the created app. Your second is Visual Studio.

I've seen that error before. You need to see
![image](https://user-images.githubusercontent.com/3605364/37073352-793d75c2-216a-11e8-8448-33e196cf0b06.png)

Not start.

Did you install the latest released version? If not, that's what you should be using.
Why are you doing the MVC tutorial and not the Razor tutori

[2018-03-07 11:46] zuckerthoben commented on #4258
Unfortunately nothing changed yet. Its hard for me to find the time to learn the way the docs work (especially embedding the correct code snippets from the repo) in my spare time. I would be glad if somebody has the energy and time to spare to fix the errors in the PR with me.

[2018-03-07 14:35] guardrex opened #5615 "Add note on LogOff behavior to Intro to Ident sample"
See: https://github.com/aspnet/templating/issues/88

[2018-03-07 14:42] guardrex commented on #5606
Could probably call this a dup ... this one is on the tracking issue for update: https://github.com/aspnet/Docs/issues/5495 Yes, @peterblazejewicz, it's going to get the "full treatment" :smile: lol, including the updates for 2.1.

[2018-03-07 16:00] scottaddie commented on #4258
@zuckerthoben If you submit a PR with these changes, I'll be happy to review and assist with the code snippets and anything else.

[2018-03-07 16:26] guitarzan opened #5616 "Broken links in Processing Unhandled Exceptions page"
The document [Processing Unhandled Exceptions](https://docs.microsoft.com/en-us/aspnet/web-forms/overview/older-versions-getting-started/deploying-web-site-projects/processing-unhandled-exceptions-cs) has two links at the top, "Download Code or Download PDF", both of which are broken.

This affects both CS and VB versions.

[2018-03-07 19:00] scottaddie opened #5618 "Remove .NET Framework verbiage in VS Tools for Docker doc"
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/docker/visual-studio-tools-for-docker

As of VS 2017 15.6, most Docker tooling in VS for .NET Framework has been disabled. Remove the verbiage in this doc that makes it sound like ASP.NET Core apps targeting .NET Framework can be containerized with the VS tooling.

[2018-03-07 20:02] Rick-Anderson commented on #5606
dup of #5495

[2018-03-07 20:02] #5606 closed

[2018-03-07 20:06] peterblazejewicz commented on #5606
Hi folks,
Sorry for late reply.
You're discussing docs. I read the docs and I know there are sections for 2.0/1.0 (maybe not yet for 2.1).
I've asked to update source file in this repo samples folder: `Upgrade static files sample to 2.x`
I could do this myself. The dup linked issue deals with `.md` files unless I'm wrong (that is directly discuss docs update)
Thanks!

[2018-03-07 20:25] scottaddie opened #5620 "SignalR 'Get started' Prereqs heading doesn't appear in doc's TOC"
https://docs.microsoft.com/en-us/aspnet/core/signalr/get-started-signalr-core

Need to demote the header one level, so that it appears in the doc's TOC.

[2018-03-07 20:36] #5620 closed

[2018-03-07 20:47] scottaddie commented on #5391
Fixed by https://github.com/aspnet/Docs/pull/5540

[2018-03-07 20:47] #5391 closed

[2018-03-07 21:00] RSuter commented on #4258
I've created the PR: https://github.com/aspnet/Docs/pull/5622
I will also review the text and update the PR as needed...

[2018-03-07 21:02] RSuter commented on #4258
@zuckerthoben is this ok for you? otherwise I'll delete the PR and you can create one...

[2018-03-07 21:04] scottaddie commented on #5401
A related ASP.NET Community Standup: https://www.youtube.com/watch?v=zr4Btou3H8c&list=PL1rZQsJPBU2StolNg0aqvQswETPcYnNKL&index=0

[2018-03-07 21:27] scottaddie opened #5623 "Missing doc link in view compilation section of 2.0 release notes"
https://docs.microsoft.com/en-us/aspnet/core/aspnetcore-2.0#automatic-precompilation

The **Automatic precompilation** section of the doc doesn't provide a link to the appropriate doc.

[2018-03-07 22:14] #5623 closed

[2018-03-08 00:07] rachelappel opened #5626 "signalr/signalr-core-hubs Hubs doc"
Create doc on SignalR Hubs. This will be the Core version of this doc.
https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/hubs-api-guide-server

[2018-03-08 00:32] rachelappel opened #5627 "/signalr/get-started-signalr-core Change image"
Change image that shows browsers side by side to an image with one on top and bottom. Vertically instead of horizontally for readability.

[2018-03-08 00:59] #5390 closed

[2018-03-08 05:54] Tratcher commented on #5242
It won't be part of 2.1. We'll revisit in 2.2 planning and see if it makes sense. It's really complicated and may take a few releases to get right.

[2018-03-08 08:44] zuckerthoben commented on #4258
All fine. Create a new one.

[2018-03-08 15:51] scottaddie opened #5631 "Improve CSAT: VS Tools for Docker"
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/docker/visual-studio-tools-for-docker

[2018-03-08 18:37] peterblazejewicz commented on #5606
@guardrex

Can we keep the server simple and nimble? And be able to serve static content first - before using heavy gun like Razor pages. I'd like to be able to just setup a static page (say on single chip, $5 computer, just html hosting page and javascript for client application).
Thanks for the answer, appreciated!

[2018-03-08 19:15] guardrex commented on #5606
@peterblazejewicz Yes, I see what you mean. Absolutely, **yes!** ...

Just start with an empty web starter template and add in the Static File Middleware as described in the topic.

That empty web starter project doesn't have MVC or Razor Pages bits ... it's just bare bones. It only writes a "Hello World!" out.

If you want to see the template for it in the GitHub repo, it's here :point_right: htt

[2018-03-08 20:12] newgui commented on #5577
@scottaddie  I just not got back to this and tried adding the win7-x64 configuration and republishing...  However, I am still getting HTTP Error 502.5 - Process Failure.

[2018-03-08 21:37] 1kevgriff opened #5634 "SignalR Core - How to Enable MessagePack Support"
## General

In [this blog post](https://blogs.msdn.microsoft.com/webdev/2017/09/14/announcing-signalr-for-asp-net-core-2-0/) on SignalR Core, there is a reference to the performance benefits of using MessagePack over JSON payloads.  However, there is no documentation that references how to enable this functionality on the server or client.

[2018-03-08 21:57] scottsauber opened #5636 "Remove use of Html.Partial and replace with Html.PartialAsync"
[Html.Partial has been deemed unsafe](https://github.com/aspnet/Mvc/issues/7083) and on the standup it's been mentioned that it will be removed in a future release.

It's mentioned 12 times on the Partial docs - https://docs.microsoft.com/en-us/aspnet/core/mvc/views/partial

I'm proposing to convert all these to Html.PartialAsync.

Happy to submit a PR for this if you want this change made.

[2018-03-08 22:20] peterblazejewicz commented on #5606
Awesome, that's really helpful!

[2018-03-08 22:20] guardrex commented on #5616
I'll see if I can track the resources down and fix the links this evening.

[2018-03-08 22:24] guardrex commented on #5606
Sure thing ... glad I could help. If you need to chat with devs about ASP.NET Core, many devs hang out on the ASP.NET Core Slack channel. The self-signup is here: http://tattoocoder.com/aspnet-slack-sign-up/ ... and there are many channels that pertain to specific areas of ASP.NET Core, but you can ask just about anything in the #general or #aspnet-core chat room.

[2018-03-08 23:58] Rick-Anderson opened #5640 "Update Seed method for EF 2.1"

[2018-03-09 00:06] Rick-Anderson opened #5641 "Test XmlDsigXPathTransform sample"
See [XmlDsigXPathTransform Class
](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.xml.xmldsigxpathtransform?view=netframework-4.7)

test sample.  Copy from [this bug](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/200269)

-----------------------
Problem Description
-----------------------
Description: After MS16-035 security update this code fro

[2018-03-09 00:14] Rick-Anderson commented on #5641
@rpetrusha  This is easy to run and verify you get
[code]

Where should I move this bug?

[2018-03-09 00:19] rpetrusha commented on #5641
@Rick-Anderson, I don't think it needs to be moved -- just assign it to me. (I don't recall having seen it earlier, though -- but now I know to look for it.)

[2018-03-09 00:21] Rick-Anderson commented on #5641
@rpetrusha looks like I can't assign it to you because you don't have write perm in this repo. Should I request that you be added to this repo?

[2018-03-09 03:54] Rick-Anderson commented on #5636
@dougbu  please review/approve suggested replacement of [Html.Partial deemed unsafe](https://github.com/aspnet/Mvc/issues/7083) with `Html.PartialAsync`.

[2018-03-09 03:56] Rick-Anderson commented on #5627
Or make the browsers very narrow, whatever looks best.

[2018-03-09 15:05] #5616 closed

[2018-03-09 17:50] scottsauber commented on #5636
Sounds good.  I'll submit a PR tonight.

Although, if some first-timer is reading this and wants this issue, they can feel free to take it.  Happy to give it up and it's a fairly simple change.

[2018-03-09 18:23] guardrex commented on #5577
@newgui

I'm still out-of-town right now, but I'll be back home on Sunday. If @scottaddie is busy and can't get back to you by then, I'll try to help.

I don't use Dropbox, so can you put your project up in a GitHub repo for me to pull down? You can cut out all of the logic and just leave one API endpoint in it that returns a string or something.

[2018-03-09 20:37] rpetrusha commented on #5641
In looking at it, @Rick-Anderson, it strikes me that the issue should really be in the dotnet/docs repo, rather than here.  Why don't we close this issue, and I'll open a new issue there?

[2018-03-09 22:19] Rick-Anderson commented on #5641
@rpetrusha  agreed.

[2018-03-09 22:29] Rick-Anderson commented on #5641
moved to https://github.com/dotnet/docs/issues/4598

[2018-03-09 22:29] #5641 closed

[2018-03-09 23:12] #4258 closed

[2018-03-09 23:13] scottaddie opened #5643 "Adjust TOC for new Swagger tutorials"
Adjust the TOC to incorporate the new Swagger tutorial doc structure, as introduced in https://github.com/aspnet/Docs/pull/5622.

[2018-03-09 23:28] #5643 closed

[2018-03-10 00:29] rachelappel opened #5646 "signalr/clients ASP.NET Core SignalR JavaScript client doc"
Previous version doc: https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/hubs-api-guide-javascript-client

Outline:

- Setup Client
- Establish a Connection
  -includes cross domain connection
  -specify transport method
- Define client-side methods for hub to call
- Handle connection lifetime events
- Handle errors
- Client-side  logging

There's no generated proxy yet so w

[2018-03-10 00:38] #1195 closed

[2018-03-10 00:50] rachelappel opened #5648 "aspnet/signalr/overview/guide-to-the-api/handling-connection-lifetime-events | Configure custom crypto providers"
when there is a failover of the node 1(on which signalr is hosted), the client is not able to reconnect to the second live node (node 2).
The client gets a 400 Bad request error “the ConnectionId is in incorrect format”

this is about how to configure custom crypto providers when scaling out in environments that don’t rely on machineKey (IIS) or DPAPI (AD accounts).

[2018-03-10 00:58] rachelappel commented on #5648
https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/handling-connection-lifetime-events

[2018-03-10 16:21] guardrex opened #5649 "Surface these GREAT docs and surface landing page from RP tutorial"
Discussed in docs sessions at the Summit: The progression of moving from `dot.net` to the docs makes no mention of how great the docs are. Only the navbar link to **Docs** is present. There is no language to suggest that .NET in general and ASP.NET Core specifically offer better support documentation than other web frameworks.

1. [.NET](https://www.dot.net) `dot.net`/`https://www.microsoft.com/ne

[2018-03-10 16:45] guardrex commented on #2617
ping @pkellner ... this is the one I was telling you about. I need to review it again for accuracy, but I think there are still some undocumented gems in here. I'll take another look at this shortly.

[2018-03-10 21:17] pkellner commented on #2617
Thanks!

On Sat, Mar 10, 2018 at 8:45 AM, Luke Latham <notifications@github.com>
wrote:

--
Peter Kellner
https://www.linkedin.com/in/peterkellner99

[2018-03-11 16:51] ckolumbus commented on #5410
the blog link is wrong ;-)
https://blogs.msdn.microsoft.com/webdev/2018/03/02/aspnetcore-2-1-identity-ui/

[2018-03-11 17:32] guardrex commented on #5649
@scottaddie @Rick-Anderson I did what I could here. Do you want to advance this along for possible changes to microsoft.com pages? If not, you can close this after #5652 merges.

[2018-03-11 17:34] guardrex opened #5653 "Get rid of "Getting" in titles"
I just noticed a handful of lingering "Getting"s around the repo. I'll swing thru and knock them out.

[2018-03-11 18:43] Rick-Anderson commented on #5410
@ckolumbus  thanks, fixed. They changed it.

[2018-03-12 13:42] guardrex commented on #5503
I haven't seen this behavior recently. I'll reopen this issue with the details (and leave the PR open) if it happens again.

[2018-03-12 13:42] #5503 closed

[2018-03-12 14:16] guardrex commented on #3658
References:

* https://github.com/aspnet/DependencyInjection/issues/442
* https://github.com/aspnet/DependencyInjection/pull/443
* https://github.com/aspnet/Hosting/issues/829
* https://github.com/davidfowl/ServiceProviderFactorySample

[2018-03-12 14:59] guardrex commented on #1913
We have an updated topic, so let's move it up to *Security*: https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/compatibility/cookie-sharing?tabs=aspnetcore2x

[2018-03-12 15:22] guardrex commented on #1190
We made a decent start on this with the work on https://github.com/aspnet/Docs/pull/5307.

https://docs.microsoft.com/aspnet/core/security/authentication/cookie?tabs=aspnetcore2x#creating-an-authentication-cookie

I see an opportunity to enhance it a bit and fix this issue.

Confirm cross-links to:
* [Claims-Based Authorization](https://docs.microsoft.com/aspnet/core/security/authorization/claims)

[2018-03-12 17:22] scottaddie opened #5657 "Explain how to bind properties on Razor Pages GET requests"
A customer was reading through the following section:
https://docs.microsoft.com/aspnet/core/mvc/razor-pages/#writing-a-basic-form

He wondered how to bind properties on GET requests. The current text says:

A note should be added to explain how to bind properties on GET requests.

[2018-03-12 17:48] rachelappel opened #5660 "signalr/publish App Service Publishing Doc"
Azure app service publishing doc:
Same as this doc https://docs.microsoft.com/en-us/aspnet/core/tutorials/publish-to-azure-webapp-using-vs
Additionally this needs a paragraph on websockets and other settings for Azure .

Perhaps it's better for SEO to link to add an intro section, then the other doc, then add in notes about Azure specific settings.

We only need the Deploy the app to Azure section

[2018-03-12 18:40] guardrex commented on #5657
@Rick-Anderson shot this one down. https://github.com/aspnet/Docs/issues/4655

[2018-03-12 18:43] scottaddie opened #5661 "Add missing XML comment warning suppression text"
The following document used to include instructions for suppressing XML comment warnings:
https://docs.microsoft.com/aspnet/core/tutorials/getting-started-with-swashbuckle#xml-comments

This content was inadvertently removed in https://github.com/aspnet/Docs/pull/5622.

[2018-03-12 20:00] rachelappel commented on #5626
Outline so far:

- What is a SignalR Hub
- Configure SignalR in an ASP.NET Core app (How to register SignalR middleware)
- Create and use hubs (Combining How to Create and Use Hubs; How to call client methods from the Hub class; How to define methods in the Hub class that clients can call)
-Send messages to specific connections
-Connection ids
-Handle connection events
-Handle errors
-Clients obje

[2018-03-12 20:30] guardrex commented on #5653
Will be covered by https://github.com/aspnet/Docs/issues/5280.

[2018-03-12 20:30] #5653 closed

[2018-03-12 21:03] guardrex commented on #3668
@Rick-Anderson Can you elaborate on this one?

[2018-03-12 22:21] guardrex commented on #3657
References:

* https://github.com/aspnet/Mvc/issues/3702
* https://github.com/aspnet/StaticFiles/pull/185
* https://github.com/aspnet/Mvc/issues/3702
* https://github.com/aspnet/Mvc/pull/6150

[2018-03-12 22:57] guardrex commented on #3656
@Rick-Anderson Can you say more about what this one entails?

[2018-03-12 23:01] #3668 closed

[2018-03-12 23:01] Rick-Anderson commented on #3656
See #5591

[2018-03-12 23:05] guardrex commented on #5591
@Rick-Anderson The first one "No docs on Identity "Lockout" feature" was fixed with https://github.com/aspnet/Docs/pull/5582.

[2018-03-12 23:26] guardrex commented on #3657
@scottaddie @Rick-Anderson @rachelappel Before I self-assign and put this on the list, I haven't directly used range requests over the years. I've done a bit of video with some libs that used range requests, but I haven't used range requests directly.

If we all have about the same experience with directly making range requests (zero 😁 in my case), then it won't matter which one of us takes this,

[2018-03-13 00:06] guardrex commented on #5419
Reference:

* https://github.com/aspnet/Mvc/issues/7105
* https://github.com/aspnet/Mvc/pull/7120
* https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Abstractions/Filters/IAlwaysRunResultFilter.cs
* https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Abstractions/Filters/IAsyncAlwaysRunResultFilter.cs

[2018-03-13 00:56] guardrex commented on #3656
Title: *Language support in ASP.NET Core projects*

Notes:
* Configuring the ASP.NET Core project's language versions in VS isn't intuitive. VS uses the "hidden UI" (referring to project Properties > Build panel > Advanced > Language version DDL).
* Talks about Razor, scaffolding, C#, publishing ... because they all get impacted by the version of Roslyn compiler that you bring in as a dependency v

[2018-03-13 01:06] guardrex commented on #5591
I think there's enough there to get the first draft done on ...

*2.0 C# language versions ASP.NET Core projects (project, Razor, scaffolding)* #3656

You could remove it here (for now anyway).

[2018-03-13 01:43] guardrex commented on #3668
In case we reopen this, this pertains to using ASP.NET Core Identity in UWP apps. They made changes to Identity [split into (1) Extensions Identity (provides Identity without the signin manager) and (2) ASP.NET Core Identity] to accommodate the UWP scenario specifically.

[2018-03-13 03:17] scottaddie commented on #3657
@guardrex I've never used this feature before.

[2018-03-13 03:18] guardrex commented on #3657
Ok, I'll give it a go. I'm sure Jass will help me out *when* I get stuck. :smile:

[2018-03-13 13:38] #1913 closed

[2018-03-13 15:10] guardrex opened #5671 "Add the bootstrap 4.0.0 theme when available"
*Microsoft Ajax Content Delivery Network*
https://docs.microsoft.com/aspnet/ajax/cdn/overview
*aspnet/ajax/cdn/overview.md*

[code]

[2018-03-13 15:44] #5536 closed

[2018-03-13 16:31] Rick-Anderson opened #5673 "Consider adding `dotnet run` on aspnet core apps starts Kestrel"
Might want to mention dev environment too.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel and maybe https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/

[2018-03-13 17:23] guardrex commented on #5671
@ChrisSfanos Can you help? The links are pulling down the 3.3.7 theme.

[2018-03-13 17:29] guardrex opened #5676 "Surface App Service runtime execution limitations"
Surface https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox

[2018-03-13 17:37] #1190 closed

[2018-03-13 18:11] guardrex opened #5677 "Improve 'how to download' for running with HTTPS"
https://docs.microsoft.com/aspnet/core/tutorials/index#how-to-download-a-sample

Update section heading: *How to download and run a sample*

Per @scottaddie:

May also need the tool installed ...

Change "how to download" link text to "how to download and run" across the repo.

Also note that FF has required a manual step to approve the use of untrusted certs in the past. I'll check each browser a

[2018-03-13 18:30] guardrex commented on #5677
Let's add this for discussion/action to https://github.com/aspnet/Docs/issues/5393. Closing as a dup.

[2018-03-13 18:30] #5677 closed

[2018-03-13 18:32] guardrex commented on #5393
For discussion/consideration:

### Improve 'how to download' for running with HTTPS

https://docs.microsoft.com/aspnet/core/tutorials/index#how-to-download-a-sample

Possibly update section heading: *How to download and run a sample*

Per @scottaddie:

May also need the tool installed ...

Change "how to download" link text to "how to download and run" across the repo.

Also note that FF has requi

[2018-03-13 18:43] danroth27 opened #5678 "Doc content for Blazor 0.2.0"
* [ ] ASP.NET Core Blazor (landing page) #5764 @guardrex
  * [ ] Build your first Blazor app tutorial #5766 @guardrex
  * [ ] Introduction to Blazor #5765 @SteveSandersonMS (prep+PR by @guardrex)
  * [ ] Blazor components #5767 @guardrex
  * [ ] Blazor layouts #5769 @rstropek
  * [ ] Dependency injection in Blazor #5770 @rstropek
  * [ ] Host and deploy Blazor #5771 @guardrex

_From @danroth27 on

[2018-03-13 18:43] danroth27 commented on #5678
_From @guardrex on March 10, 2018 6:24_

I listed a few suggestions below. I'd be happy to assist.

Whatever direction you decide to go, I hope you'll at least permit me to submit a small PR against the README ... stomp around with my big dinosaur feet a bit and fix it up! :smile: (The Wiki FAQ could use a light pass as well. I can send you a corrected text file.)

### Description Recommendation

[2018-03-13 18:43] danroth27 commented on #5678
_From @rstropek on March 10, 2018 20:40_

@guardrex FYI I started a small docs project for Blazor at [https://learn-blazor.com/](https://learn-blazor.com/) (work in progress!). It should help people as long as no official documentation is available. Later, I will probably use some of the content in trainings and workshops that I will do. Feel free to reuse content and/or contribute.

Greetings,
Ra

[2018-03-13 18:43] danroth27 commented on #5678
_From @guardrex on March 11, 2018 1:14_

@rstropek Great job! I fleshed out the *Fundamentals* list with some of your content areas.

Was your intention to maintain a parallel doc set, or were you interested in moving that content into topics in the doc set that they might establish?

Note that I don't currently have anything to do with this project. I'm a contractor working on the ASP.NET Core do

[2018-03-13 18:43] danroth27 commented on #5678
_From @dragnilar on March 11, 2018 4:8_

@rstropek

Awesome site and great examples. I think this will definitely help for people who want to get started with Blazor.

[2018-03-13 18:43] danroth27 commented on #5678
We've decided to go ahead and put the Blazor preview documentation on docs.microsoft.com with the ASP.NET Core docs under the [client-side development section](https://docs.microsoft.com/en-us/aspnet/core/client-side/). Moving this issue to the https://github.com/aspnet/docs repo.

The Blazor node and pages should clearly indicate that these are preview docs for an experimental framework.

@guardr

[2018-03-13 18:47] guardrex commented on #5678
### :tada: Whoo hoooo! 🎈 *Thank you @danroth27!*

[2018-03-13 18:48] scottaddie commented on #5678
It's like Christmas in March! :-) Looking forward to learning more about Blazor.

[2018-03-13 18:57] guardrex commented on #5678
My birthday is right around the corner ... how did he know??!!! 🎁😀

I created an orange "Blazor" label for the issues. That will help me, since I use the GH UI quite a bit to organize my work, and the labels are useful at-a-glance. However, let's discuss the label text, "Blazor," and the color. That's probably fine for the text. Orange isn't represented in the labels. Any other ideas on these poin

[2018-03-13 19:16] scottaddie commented on #5678
@guardrex I'm fine with what you've done.

[2018-03-13 19:26] rachelappel opened #5679 "signalr/get-started-signalr-core Add Related Resources"
add Related Resources section once the publishing doc or hubs doc goes online

[2018-03-13 19:41] guardrex commented on #5678
@scottaddie Good times ... I'm working on getting the new topic list together for a tracking issue for my work. Blazor topics will factor into it. I'll have the tracking issue with a draft list up later today.

On this issue (Blazor docs 0.1.0), I'll add a comment to this thread based on the outline I posted earlier :point_up: for Blazor TOC tracking. Once we get that solved, I'll open issues for

[2018-03-13 20:18] scottaddie opened #5680 "Update Xamarin docs links"
Xamarin docs have moved to docs.microsoft.com. Update the developer.xamarin.com links accordingly.

[2018-03-13 20:30] #5680 closed

[2018-03-13 21:01] danroth27 commented on #5678
@guardrex Let's get some time with @SteveSandersonMS to go over the outline and prioritize the topics.

[2018-03-13 21:03] guardrex commented on #5678
@danroth27 Sure thing. I Tweeted him a little while ago with my Aquent email. llatham ---AT--- aquent.com.

[2018-03-13 21:26] rachelappel opened #5682 "Create Include announcing SignalR Core vs SignalR legacy content"
Some kind of message stating which type of content the doc is.

[2018-03-13 21:33] johnknoop commented on #5450
One use case that I don't even know if it's supported, and at least not documented, is to be able to just recompile the application without needing to rebuild and restart the container. Right now I have to do CTRL+F5 for the entire docker-compose, even if I've just made changes to one of the projects, which results in a very slow feedback cycle. It would be nice to get the same live update experie

[2018-03-13 22:13] scottaddie opened #5684 "Add SignalR to list of supported app models"
https://docs.microsoft.com/aspnet/core/choose-aspnet-framework#which-one-is-right-for-me

This addresses a customer question in the Livefyre comments asking if SignalR is supported in ASP.NET Core.

[2018-03-14 00:32] guardrex commented on #5678
Thanks @EdCharbeneau! ... We're working on the process now for getting the effort underway. Stay tuned. I'll post updates here as we go.

[2018-03-14 00:51] rachelappel commented on #5605
@sadukie Hey Sarah! It's @LadyNaggaga who owns the free courses repo, so if you have further questions about the www.asp.net site, Maria's your gal. The docs team has been avoiding linking to courses so as not to appear to favor certain companies or individuals that produce videos. So unfortunately, we won't be able to move them.

Anything from the docs.microsoft.com/aspnet or docs.microsoft.com/d

[2018-03-14 03:05] #5684 closed

[2018-03-14 03:14] #5676 closed

[2018-03-14 12:57] isaac2004 commented on #4968
So the goal here is to update ALL samples and docs that use `:` and replace with `__`? Just want to make sure I am following this.

[2018-03-14 12:59] isaac2004 commented on #4927
@guardrex   I assume this would be closed at the same time #4968 gets closed. Is that correct?

[2018-03-14 13:03] isaac2004 commented on #1871
@Rick-Anderson does this issue even need to be addressed? I think there is some good documentation about OWIN and how it compares to ASP.NET Core in [Migration](https://docs.microsoft.com/en-us/aspnet/core/migration/proper-to-2x/). If I am missing something here please advise

[2018-03-14 13:06] isaac2004 commented on #974
@danroth27 please advise

[2018-03-14 13:27] guardrex opened #5688 "Hosting bundle installer link is pulling down an old installer"
@joeloff I thought the new link we're using for the hosting bundle installer would auto roll-forward to the latest hosting bundle installer. However, it's still pulling down the one with 2.0.5 (I assume there's a new one because the 2.0.6 runtime is out).

https://aka.ms/dotnetcore-2-windowshosting

... downloads `DotNetCore.2.0.5-WindowsHosting.exe`.

Also, I see they revamped the .NET Downloads

[2018-03-14 13:32] guardrex commented on #4927
I think so ... I [marked that issue as a dup](https://github.com/aspnet/Docs/issues/4968#issuecomment-350865776) of (or very closely related to) this one. @rachelappel has these, so she'll take care of it.

[2018-03-14 13:34] guardrex commented on #5505
They totally revamped the .NET Downloads page, and there isn't a hosting bundle installer download link at all now. If it stays that way, there's nothing actionable here. I'll re-open if they put the link back later.

[2018-03-14 14:18] scottaddie commented on #4968
@isaac2004 That's my understanding.
\cc: @rachelappel

[2018-03-14 14:18] isaac2004 commented on #4927
If @rachelappel is working on them, why are they up-for-grabs :)

[2018-03-14 14:21] guardrex commented on #4927
That should be an oversight. We usually pull the label when the issue is assigned. However, I'll let her do that, since I'm not sure what the status is on this one. I just know it isn't on my plate at the moment. 😅

[2018-03-14 14:29] rachelappel commented on #4968
@isaac2004 @scottaddie Yep. The first to change should be the configuration doc but at some point all docs that use this

[2018-03-14 14:30] rachelappel commented on #4927
@isaac2004 I'll be unassigning that one. It's really up for grabs.

[2018-03-14 15:03] guardrex commented on #5599
Yes, I need more background info and context to document this.

cc/ @jkotalik You [had a PR (aspnet/Hosting \#1261)](https://github.com/aspnet/Hosting/pull/1261) on at least part of this. Can you help?

RE: Where?

One of the problems to address is *where* we should document this. We don't have much to say about IIS Express configuration in this doc set. It's not really a *Host and deploy* thing.

[2018-03-14 17:48] danroth27 commented on #974
@blowdart should probably weigh in on what he'd like to see here, but I think having a doc for migrating directly from Membership to ASP.NET Core is probably what we want.

[2018-03-14 18:06] shirhatti commented on #5688
@guardrex I've created an issue on the dot.net website to re-add the link. I have no idea when it was dropped

[2018-03-14 18:09] guardrex commented on #5688
It probably wasn't too long ago. I think I looked at the downloads page just within the past 2-3 weeks.

btw-- Is that dot.net website on a GH repo where there are issues? I have an issue I'd like to open with them that pertains to some of the .NET site pages that lead to this doc set.

[2018-03-14 18:10] Rick-Anderson commented on #1871
@isaac2004  agreed. I just wanted to verify `@Tratcher`'s comment made it to the article.

[2018-03-14 18:10] #1871 closed

[2018-03-14 18:23] shirhatti commented on #5688
Ahh! It is available. It's just a little hard to discover after the redesign
https://www.microsoft.com/net/download/all -> https://www.microsoft.com/net/download/dotnet-core/runtime-2.0.6 -> https://www.microsoft.com/net/download/thank-you/dotnet-runtime-2.0.6-windows-server-hosting-installer

[2018-03-14 18:27] shirhatti commented on #5649
@rowanmiller Just FYI @guardrex had a couple of suggestions.

[2018-03-14 18:31] masterjs commented on #5688
Ok! Thank you for the information, its very hard to discover compared to before.. I'm hoping there's going to be someone that will eventually make this pretty again ;o)

[2018-03-14 18:35] shirhatti commented on #5688
@guardrex To answer your earlier question, see https://github.com/aspnet/Announcements/issues/295#issuecomment-373117653
Tl;dr 2.0.6 ServerHosting  bundle is currently being rebuilt

[2018-03-14 19:15] rachelappel opened #5693 "/getting-started remove "Looking to get started with an earlier version?""
Remove this line in the beginning note 'Looking to get started with an earlier version?'

[2018-03-14 20:11] guardrex commented on #5688
ty @shirhatti ... I'll keep an :eye: out and get the links in the topics updated as soon as we have it.

Still tho, I was mistaken (apparently) about `https://aka.ms/dotnetcore-2-windowshosting` ... I thought we had a good roll-forward link there for all 2.x hosting bundle releases such that I wouldn't need to update the docs every time there's a new release.

[2018-03-14 20:16] Rick-Anderson opened #5694 "Create a web API : Add DB aspnet/core/tutorials/first-web-api"
Consider replacing in-memory DB with persistent DB.

[2018-03-14 20:23] Rick-Anderson commented on #3278
@guardrex  how hard would this be to complete?

[2018-03-14 20:25] rachelappel commented on #3278
"doc titles and H1's " so that should be both metadata and the # line

[2018-03-14 20:25] guardrex commented on #3278
I was working this issue over on :point_right: https://github.com/aspnet/Docs/issues/5280

[2018-03-14 20:26] guardrex commented on #3278
@rachelappel Yes, I'm doing that over on #5280 ... I just got temporarily slammed with other issues. I can get back to that soon ... maybe even this evening.

[2018-03-14 20:27] guardrex commented on #3278
The actual comment on that issue that shows what the script is setup to check is this one :point_right: https://github.com/aspnet/Docs/issues/5280#issuecomment-369466835

[2018-03-14 21:23] scottaddie opened #5695 "Update libuv references in Kestrel docs"
https://github.com/aspnet/Announcements/issues/296

Per the announcement, managed sockets are replacing libuv in Kestrel as of ASP.NET Core 2.1. Update the docs to mention this and that libuv is used in versions prior to that.

Affected docs:
- [x] https://docs.microsoft.com/aspnet/core/fundamentals/servers/
- [x] https://docs.microsoft.com/aspnet/core/fundamentals/servers/kestrel

[2018-03-14 21:25] scottaddie commented on #5695
@guardrex This seems like something you'd enjoy. You want this one?

[2018-03-14 22:32] AlejandroFlorin commented on #5688
Tried to install the 2.0.6 hosting bundle from the links above and I get an error with the following log:

[2018-03-14 23:04] #5657 closed

[2018-03-15 02:27] #5615 closed

[2018-03-15 02:31] guardrex commented on #5688
On stand-by for the new link. I'll get it posted as soon as it's available.

https://github.com/aspnet/IISIntegration/issues/658#issuecomment-372764851

[2018-03-15 02:35] Rick-Anderson opened #5698 "Create WebAPI top level node"
per `@danroth27` 3-13 meeting.

[2018-03-15 02:51] #5534 closed

[2018-03-15 03:18] Rick-Anderson commented on #5698
cc @scottaddie  feel free to grab this.

[2018-03-15 03:45] guardrex commented on #3656
@Rick-Anderson @mairaw @BillWagner

It looks like this ask on this issue has been (mostly) addressed. See :point_right: https://docs.microsoft.com/dotnet/csharp/whats-new/csharp-7-1#language-version-selection

However, it was written for 7.1. The 7.2 topic didn't receive a similar section.

Perhaps to better surface the content, should that section become its own topic and be written to genericall

[2018-03-15 03:47] Rick-Anderson opened #5700 "Create include to drive traffic from SignalR to SignalR Core"
See https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/index as an example.

Obviously mention the core version is in preview.

[2018-03-15 05:02] Rick-Anderson opened #5703 "Create 2.1 pre-release include"
per `@danroth27`

[2018-03-15 05:19] guardrex opened #5704 "Create Blazor preview include"
@danroth27 @SteveSandersonMS Let's start with some sentences that are typically seen in MS preview warnings drafted for Blazor.

Post back which ones you like and your wording. I'll update this comment with the draft language. When you've settled on something close to what you want, I'll create the includes file. We can make final touches on the PR.

1. Should the notice be a **WARNING** or an **I

[2018-03-15 06:58] rminon commented on #2501
After looking to too many articles I have installed the visual studio community edition on Windows.  It seems that the utility tool (https://docs.microsoft.com/es-es/dotnet/framework/tools/resgen-exe-resource-file-generator?view=netframework-4.7.1) for generating .resources from .restext , .txt or resx is, unfortunately, only installed by installing Visual studio

[2018-03-15 11:44] BillWagner commented on #3656
We have an issue for this: dotnet/docs#3685  Do you want to take it on?

If you search the docs repo for <LangVersion> you'll find the locations that should link to the new topic.

[2018-03-15 13:48] rachelappel commented on #5700
The whole doc? And isn't it redundant if there is already an include stating where the new docs are? This issue needs to be more clear.

[2018-03-15 14:44] #5560 closed

[2018-03-15 15:17] guardrex commented on #3656
It doesn't matter to me, but I've been ordered not to work on other repos while on contract. I need approval.

@Rick-Anderson Do you want to close this as a dup of dotnet/docs#3685? Do you want to approve my working dotnet/docs#3685?

[2018-03-15 16:12] guardrex commented on #5505
Re-opening: This is still an issue.

On `https://www.microsoft.com/net/download/dotnet-core/runtime-2.0.6`.

Naming: They changed the name of it. It has traditionally been called the ".NET Core Windows Server Hosting bundle," and the downloads page used to call it "Windows Server Hosting (.exe)." Now, it's called "Server Hosting Installer." Seems a little scary to me to have the name shift even fu

[2018-03-15 17:10] pkellner opened #5705 "Should I create pull requests for contractions I see? (or shouldn't I)"
## General

I'm going through the VS Mac EF tutorial now and see a lot of contractions. @guardrex mentioned he had a contraction fixer.  This page (as well as the other similar ones for other OS's) have lot's of isn't's.

https://github.com/aspnet/Docs/blob/master/aspnetcore/tutorials/first-web-api-mac.md

[2018-03-15 17:14] guardrex commented on #5705
The contractions are correct. We are using them.

[2018-03-15 17:17] guardrex commented on #5705
https://github.com/aspnet/Docs/pull/5216

[2018-03-15 18:15] scottaddie commented on #5028
@ajcvickers Revisiting this issue, as customers continue to ask about it. Any updates to provide?

[2018-03-15 18:39] guardrex opened #5707 "Update Nginx configuration"
host-and-deploy/linux-nginx
https://docs.microsoft.com/aspnet/core/host-and-deploy/linux-nginx

References:
* https://github.com/aspnet/Home/issues/2954#issuecomment-373284921
* https://github.com/aspnet/Home/issues/2954#issuecomment-373467870
* https://github.com/yandex/gixy/blob/master/docs/en/plugins/hostspoofing.md

Fix:

cc/ @blowdart @Tratcher @shirhatti @Rick-Anderson

[2018-03-15 18:43] guardrex commented on #5705
@pkellner I'm going to close ... If I understand correctly, you're wondering if we are supposed to be using contractions. The answer is 'yes.' Let me know if I misunderstood the ask, and we can re-open.

[2018-03-15 18:43] #5705 closed

[2018-03-15 18:50] scottaddie opened #5708 "Convert Mac references to macOS"
Except in cases where we're referring to the **Visual Studio for Mac** product, "Mac" references should be changed to "macOS".

[2018-03-15 18:50] pkellner commented on #5705
@guardrex Nope, I thought you told me on the bus that you wrote a script that went through docs and changed things like "isn't" to "is not".  Maybe I think that is a contraction and I'm wrong or maybe I misunderstood what you told me.

[2018-03-15 18:52] guardrex commented on #5705
Oh, I see. It was the reverse ... my script created contractions ... going from "is not" 👉 "isn't" (#5216).

[2018-03-15 19:40] pkellner opened #5711 "Source code for Visual Studio Mac and EF Example Confusing"
## General
The example source code for this article:

https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-mac/start-mvc

has a commented out controller2 method that looks like it is used to test adding an record to the inmemory database.  Then, you can see the data using the controller not commented out.

I doubt someone new to asp.net will figure that out. I think it would be bet

[2018-03-15 19:48] #5708 closed

[2018-03-15 20:42] #5673 closed

[2018-03-15 21:15] guardrex commented on #5505
RE: Naming

This installer (and the hosting bundle) aren't really 100% "Windows Server," per se. This install works on Windows desktop. I wonder if the bundle could be renamed it to just "Windows Hosting bundle" that has a "Windows Hosting Installer" on the downloads page (or anything really that removes the word "server" from the name).

cc/ @joeloff

[2018-03-15 21:18] rowanmiller commented on #5649
Hey,

The content on the .NET landing page (location 1) has been very optimized (user testing and A/B testing) to what resonates with "new to .NET" developers. So I don't think we'll list docs there. I do agree docs is a super important part of our platform though... so maybe it could go on the [What is .NET](https://www.microsoft.com/net/learn/what-is-dotnet) page? Which is what you get to if you

[2018-03-15 21:33] guardrex commented on #5649
Thanks @rowanmiller for explaining. I defer to the others on the target in the docs; since as you say, where the new dev/new-to-Core dev lands has probably been carefully considered.

My main fix on the associated PR was just to give those devs a "short circuit" link out of that tutorial so that if they prefer not to jump right into that tutorial they can get out to the main ASP.NET Core docs land

[2018-03-15 21:38] rowanmiller commented on #5649
I'm actually not sure that we have carefully considered where we send folks after the Get Started page. I think it was more that we decided to swap the Get Started page to Razor Pages (instead of MVC) and that was the best existing content we had.

When we redesigned the .NET marketing content, we developed purpose built content in docs to be the next logical step after the [Get Started with .NET

[2018-03-15 21:48] Rick-Anderson commented on #3656
@guardrex  I think @JRAlexander can handle it.

[2018-03-15 21:48] #3656 closed

[2018-03-15 21:50] Rick-Anderson commented on #5700
https://docs.microsoft.com/en-us/aspnet/signalr/overview/getting-started/introduction-to-signalr needs something.

Probably remove **Questions and comments**

[2018-03-15 21:53] guardrex commented on #3656
@BillWagner Just so you know, there is a contract stipulation of some sort at play. When I was working with you, Maira, and Ron, I asked about occasionally doing some stuff with Rick and Tom over here on my own time outside of the contract. I was flatly told, "NO! Don't you dare help Rick and Tom!" :smile: lol ... Seriously tho, I really did have to stay off this repo for that five months. Now the

[2018-03-15 22:01] Rick-Anderson commented on #2501
@VanKichline where can we open an issue on this for Visual Studio for Mac. Linux needs a solution too. This is an essential tool.

We really need an xplat tool for this.

@tanaka-takayoshi have you found any workarounds?

[2018-03-15 22:18] guardrex commented on #5649
I have a bit of a concern about dumping devs into tutorials immediately.

I like the approach that goes from marketing to the main landing page of the docs ... but carefully lay that content out, keep the content focused, make the resources obvious, let people know where to get help, provide the dev with a basic overview of the technology, **THEN** put them into a "Build your first" tutorial exper

[2018-03-15 22:23] Rick-Anderson opened #5716 "Get started with ASP.NET in 10 minutes: Changes for 2.1"
[Get started with ASP.NET in 10 minutes
](https://www.microsoft.com/net/learn/apps/web/get-started/windows)

With the 2.1 .NET SDK, you'll need to run:
`dotnet dev-certs https --trust`

See the instructions [here](https://blogs.msdn.microsoft.com/webdev/2018/02/27/asp-net-core-2-1-https-improvements/)

@rowanmiller  should we wait for .NET 2.1 to RTW or do you want instructions for pre-release?
cc

[2018-03-15 23:30] rowanmiller commented on #5716
We should wait for 2.1 to become "current". That tutorial is for new users to get started, so we always have them use the current release.

[2018-03-15 23:36] guardrex commented on #5649
I'll close now. Thanks @rowanmiller! :+1:

[2018-03-15 23:36] #5649 closed

[2018-03-15 23:42] rowanmiller commented on #5649
The Get Started flow is specifically for folks who want to build something. We've done a bunch of user studies with our target customers coming into our lab, and the overwhelming feedback from them is that when they look at any new tech, they want to explore it by building something. Of course, that's not everyone, there was a small subset who learn by reading and understanding the pieces of the s

[2018-03-16 00:06] guardrex commented on #5649
Very good. I'm glad to hear that broader outcomes are taken into account.

Although there's a desire to be opinionated about where the reader goes immediately after the marketing pitch, a fork (i.e., that "short circuit" I spoke of for those who don't want to go right into a tutorial) might be a good idea.

For example, the current language coming over here is ...

... with a button for **Tutorial

[2018-03-16 02:52] #5688 closed

[2018-03-16 05:15] guardrex commented on #5242
@Tratcher Do you still want to surface something on the experimental status for 2.1, or shall we mark this for 2.2?

[2018-03-16 05:27] guardrex commented on #2617
Touched it up here and there. It's correct now.

[2018-03-16 05:34] Tratcher commented on #5242
@shirhatti how should we message this? Blog post, community standup, a note in the official docs?

[2018-03-16 12:19] LadyNaggaga commented on #5605
@Rick-Anderson  I agree we should probably the pane.  If in the future we see an opportunity to add it back then we can do so.  Thoughts ?

[2018-03-16 13:54] wstaelens opened #5720 "Mismatch between code samples and information."
https://docs.microsoft.com/en-us/aspnet/mvc/overview/older-versions/getting-started-with-ef-5-using-mvc-4/implementing-the-repository-and-unit-of-work-patterns-in-an-asp-net-mvc-application#implement-a-generic-repository-and-a-unit-of-work-class

The unit of work class has this code:

[code]

and a bit lower in the code there is this information:

[code]

Actually this line of code is wrong:
`get

[2018-03-16 14:40] JRAlexander commented on #3656
@Rick-Anderson Handle what?

[2018-03-16 14:46] guardrex commented on #3656
@JRAlexander He's referring to dotnet/docs#3685. This issue is a dup of that one.

[2018-03-16 15:06] guardrex commented on #5671
@Eilon Do u know who we can ask about these aspnetcdn.com links? They're pulling down 3.3.7 instead of 4.0.0.

[2018-03-16 15:17] guardrex commented on #5599
@vaidy4github Is this issue covered by any of your IIS Express docs?

TL;DR: Unlike full IIS, IISExpress should be restarted after switching hostingModel from in-process to out-of-process because it does not use the WAS service.

[2018-03-16 15:55] guardrex commented on #5585
This looks like a VS configuration problem. I'm going to fix the instruction at the top of the tutorial because everywhere we instruct how to use VS we call for .NET Core cross-platform development, which might explain why @jecalderon hit this.

[2018-03-16 16:03] JRAlexander commented on #3656
Ok, I'll talk with @BillWagner  and @mairaw to see if this should be included in the .NET 2.1 project. Thanks!

[2018-03-16 18:44] shirhatti commented on #5599
The eventual goal is to add a drop-down to the project property page that allows you to pick between the different hosting model.
It can also be achieved by adding this property to your csproj.

[code]

Or overridden via a launch profile in launchSettings.json

I'd suggest tracking this as part of the uber issue you've created for ANCM in-proc. We can setup a meeting where I demo in-proc when you'

[2018-03-16 18:50] shirhatti commented on #5242
I don't think it's mature enough for a call out in the blog post or in the community stand-up just yet. My vote is to capture enough information in this issue for folks who want to try it out and eventually move it into the official docs.

[2018-03-16 18:54] guardrex commented on #5599
@shirhatti I'm glad u mentioned that. It clears up my *Where?* question. But one thing tho ...

I didn't know we would have a separate topic for inproc. I thought we'd be rolling it into [the current ANCM topic](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/aspnet-core-module) in *Servers* (as perhaps just an overview section) and into [the current ANCM reference topic](https:/

[2018-03-16 19:05] jkotalik commented on #5599
The inprocess mode is large enough to delicate a new document section for it. Though it bootstraps through ANCM, in managed code it is a completely different hosting model (uses a custom IServer).

Once the hostingModel setting has been changed in the web.config file, ANCM will notice a configuration change and recycle the worker process for IIS. For IISExpress, instead of recycling will trigger a

[2018-03-16 19:09] guardrex commented on #5242
If you guys feel pretty good about 2.2, then let's mark this 2.2 and collect content here. If you feel that it can't even make 2.2, then I would prefer the content go into a Kestrel repo issue or Wiki. We have too many stale issues on this repo as it is. :sob:

[2018-03-16 19:19] guardrex commented on #5599
Perfect ... thanks. That's exactly what I needed to know.

I think I have everything (that's known to date) to document it. Please ping me here with any new developments. I've been so busy with doc issues that I'm having a hard time keeping up with engineering repo issues.

[2018-03-16 21:27] Eilon commented on #5671
@guardrex sorry I'm not clear on what exactly the problem is. I took a look at a few of the links and they seem to point to the right stuff?

[2018-03-16 21:41] guardrex commented on #5671
... and the answer is ... drum roll please 🥁 ... **the separate theme was removed from 4.0!**

http://v4-alpha.getbootstrap.com/migration/#global-changes

Closing ... we're good!

[2018-03-16 21:41] #5671 closed

[2018-03-16 21:55] Eilon commented on #5671
😄

[2018-03-17 05:47] Tratcher commented on #5238
A consistent issue I see people copying from the current samples is that they're always creating local data protection providers rather than configuring the central service.
https://stackoverflow.com/a/49329480/2588374
This sample would be better:
https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?tabs=aspnetcore2x#persistkeystofilesystem

[2018-03-17 15:04] guardrex commented on #5238
It's documented in the topic and in the sample, but it's a quick one-liner in the topic. I'll add a paragraph to highlight it.

[2018-03-17 20:02] danroth27 commented on #5704
I prefer IMPORTANT or NOTE over WARNING, simply because I don't want folks to feel like they might be doing something dangerous or incorrect by looking at these docs.

The byline looks good to me.

For the body I think 1 through 4 look good. I don't think you need to say 5.

For sentence 4 I think you can also remove "by a Microsoft SLA". Just saying it isn't supported I think is enough.

[2018-03-17 22:29] #5636 closed

[2018-03-17 23:11] #5704 closed

[2018-03-18 01:34] havotto commented on #5436
I think custom TokenProviders can be created this way:

[code]

And used this way:

[code]

[2018-03-18 03:13] tanaka-takayoshi commented on #2501
@Rick-Anderson Though I haven't checked the recent updates regarding this issue, my previous comment might be still valid.
https://github.com/aspnet/Docs/issues/2501#issuecomment-272670895

At first, we need a template file for resource file, which can be generated by Visual Studio. So we need Visual Studio (on Windows) for the first time.
Once a resource file is created, we can copy it to Linux/M

[2018-03-18 03:55] guardrex opened #5728 "Add common error for failed to create log file"

[2018-03-18 17:11] guardrex opened #5731 "Demonstrate how to access config in a RP page and MVC view"
Per offline discussion, the config topic should show how to access config values in an MVC view and RP page.

[2018-03-18 18:02] guardrex commented on #5505
@rowanmiller This was a separate idea that I had that would alleviate some confusion for devs as to what the hosting bundle installer installs. They show up on Slack asking what it is and what it installs because they haven't seen the IIS or ANCM topics but they see it in the list on that page.

:point_up: See the OP at the top for my idea. If this isn't something that you/they want to do, then I'

[2018-03-18 20:34] guardrex commented on #5403
Cross-ref: https://blogs.msdn.microsoft.com/webdev/2018/02/28/asp-net-core-2-1-0-preview1-improvements-to-iis-hosting/

[2018-03-18 22:57] guardrex commented on #4033
Cross-ref `@DamianEdwards` presenting: https://youtu.be/Blo--Qio84w?t=56m51s

[2018-03-18 23:16] guardrex opened #5734 "Get CDN content links on HTTPS protocol"
* `http://ajax.aspnetcdn.com` :point_right: `https://ajax.aspnetcdn.com`
* `http://ajax.microsoft.com` :point_right: `https://ajax.aspnetcdn.com`

[2018-03-18 23:24] guardrex opened #5735 "Link updates"
Coming up on that time again. I have some good software that will find the offensive links (301/302/401/403/404).

However, I might whip up a 😵 *mad Rex script* 😵 that will update 301/302 links ✨ auto-magically :sparkles:.

... actually ... I think I have that somewhere on the hard drive! :smile:

[2018-03-19 02:30] #5731 closed

[2018-03-19 05:27] #5728 closed

[2018-03-19 13:29] #5682 closed

[2018-03-19 14:22] rachelappel commented on #5693
Completed with in-page [Edit]

[2018-03-19 14:22] #5693 closed

[2018-03-19 15:36] guardrex opened #5739 ".NET site link leading into aspnet/Docs is incorrect"
The text prior to the link into the docs from the page at https://www.microsoft.com/net/learn/apps/web/get-started/windows is ...

... with a link for *Tutorial: Razor Pages*. The link URL is the RP landing page in the docs at ...

https://docs.microsoft.com/aspnet/core/mvc/razor-pages

If the text and link are correct, the link should go to the RP tutorial. The URL should be ...

https://docs.mic

[2018-03-19 17:38] rowanmiller commented on #5739
It seems like we have duplicate content here. Both of those URLs provide a tutorial to build a RP app. It seems like the second one is more complete, and has a nicer path to keep leading folks thru more concepts.

The one we currently link to has inline instructions for all OS's, whereas the second one if for Windows. Though on the marketing site end we could send to a different URL based on each

[2018-03-19 17:45] guardrex commented on #5739
We don't classify the first one as a "tutorial," per se (if "tutorial" is defined as a set of steps we intend the reader to take to build an app from scratch). The first one is more of a show-'n-tell of what's in the template. The second one is meant to be more of a step-by-step, do-this/do-that walk-thru, where the reader takes action to build an app from scratch. Both of those are @Rick-Anderson

[2018-03-19 17:49] guardrex commented on #5739
Yeah, I guess broadly speaking, they are both "tutorials" by standard definitions. That second one tho has a lot of meat on the bone. It's really just the beginning of this experience: https://docs.microsoft.com/aspnet/core/tutorials/razor-pages/

[2018-03-19 18:32] CeciAc opened #5740 "Link "Factory-based middleware activation with a third-party container" is broken"
@oacostam commented on [Thu Feb 22 2018](https://github.com/aspnet/Docs.es-es/issues/8)

The link at the end of the docuement "Factory-based middleware activation with a third-party container" is broken, it points to xref:fundamentals/middleware/extensibility-third-party-container. Maybe the right link is https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/extensibility-third-part

[2018-03-19 18:38] CeciAc commented on #5740
Hi all,
It looks like the issue no longer repros, mentioned links work so I'm closing this issue.
We truly appreciate your contribution to our articles and we encourage you to continue providing your valuable feedback.

Kind regards,
Microsoft DOCS International Team

[2018-03-19 18:38] #5740 closed

[2018-03-19 20:05] rowanmiller commented on #5739
Totally agree that this is the right content to push folks to. The Get Started tutorial on the .NET marketing site as already dynamic based on OS, so I'm updating it to point to the right tutorial for the OS in question.

[2018-03-19 20:06] guardrex commented on #5739
If it's an internal issue, should I go ahead and close this?

[2018-03-19 20:47] rowanmiller commented on #5739
I think it's fine to track here, I'll have it live later today and we can close then

[2018-03-19 22:19] Rick-Anderson commented on #4556
@cwoodruff Please let us know if you still have interest and time to write this doc.

[2018-03-19 22:20] Rick-Anderson commented on #4556
@CamSoper  would you be able to work on any of securing Web APIs using Azure AD, Azure AD B2C and ADFS?

[2018-03-19 23:40] #5703 closed

[2018-03-20 00:02] guardrex opened #5743 "Update antiforgery topic for Angular"
https://docs.microsoft.com/en-us/aspnet/core/security/anti-request-forgery
aspnetcore/security/anti-request-forgery.md

The topic contains AngularJS instructions and an AngularJS sample. If nothing changed between Angular and AngularJS, then it might be possible to "rebrand" the Angular section from "AngularJS" to "AngularJS/Angular." Otherwise, the topic should have both Angular and AngularJS ins

[2018-03-20 03:50] #5585 closed

[2018-03-20 04:07] Rick-Anderson commented on #5720
@wstaelens  thanks for the information. Unfortunately, we don't have the resources to update this document.

[2018-03-20 04:07] #5720 closed

[2018-03-20 04:10] Rick-Anderson commented on #5711
@pkellner  can you send me a link to the commented out controller2?

[2018-03-20 04:40] rowanmiller commented on #5739
Change is live, I think we can close this now.

[2018-03-20 04:41] guardrex commented on #5739
ty @rowanmiller ... closing now.

[2018-03-20 04:41] #5739 closed

[2018-03-20 07:42] wstaelens commented on #5720
so it is just closed? oh boy.
Next time I think I will not report another issue if this is how it is handled.

[2018-03-20 07:49] Rick-Anderson commented on #5720
Is there a reason you can't review the ASP.NET Core version at https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/advanced ? Even that is scheduled to be removed. Advanced EF topics will all be documented at https://docs.microsoft.com/en-us/ef/core/

The[ RP version ](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/)stops at step 8 for that reason.

[2018-03-20 08:02] wstaelens commented on #5720
I just reported an issue with the code in some documentation so that other users don't use the same mistake. I don't know how you are internally organizing and planning things at Microsoft. All I did is just reporting a code issue, hoping it would be fixed and it would help others as these websites are linked and used in a lot of places and forums (some teachers even print it out or copy/paste it

[2018-03-20 14:28] terrimorton commented on #5605
As @rachelappel said, it's @LadyNaggaga who owns that. I am the one who can make changes to it or remove it from the site. Considering it was promoted by Scott Hanselman and others, and the URLs probably exists in PowerPoints and whatnot, I would encourage a redirect or a commitment to update the content. Promising free courses and then leaving people at a 404 is not a good message.

[2018-03-20 14:57] andre-ss6 opened #5746 "Either set English as default language or give us the option to save our language preferences"
Please. Please! This was a big issue with old docs: it always came in the language set by the User Agent using machine-translated text (which, I don't know if you're aware, is complete garbage) and there was no way to save your preferences. There were several suggestions with tens of upvotes on msdn UserVoice to change/improve that in some way. Now we have an entirely new Docs platform and you sti

[2018-03-20 15:29] #5627 closed

[2018-03-20 15:49] pkellner commented on #5711
I think this is the one I was referring to.

https://github.com/aspnet/Docs/tree/master/aspnetcore/tutorials/first-web-api/sample/TodoApi/Controllers

[2018-03-20 16:48] pranavkm commented on #5404
@Rick-Anderson we're missing docs for `IPageFilter` and filter methods on `PageModel`. Would this be an appropriate issue to track these docs?

[2018-03-20 18:02] guardrex commented on #5403
@shirhatti

**Great to see you on the Stand-up! Great show today!**

I added your GH link to the cross-ref list :point_up:. I've seen a couple of good in-proc versus out-of-proc images around. We'll try to avoid images tho. We mostly only use them in tutorials.

Oh ... btw ... the "boat" reference ... "When will the boat be dewinterized? ... and when do we fly in for a wild Sourabh boat party?" ca

[2018-03-20 18:32] #5734 closed

[2018-03-20 20:27] DanJ210 opened #5751 "How to clone this?"
I'm using this [Microsoft documentation](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?tabs=visual-studio%2Caspnetcore2x) to learn some new features and it shows a link to download examples which brought me here. Problem is that I can't find anywhere to download or clone this repo.

I've used GitHub for a while now and have never come across this before. A repo that

[2018-03-20 20:33] Rick-Anderson commented on #5751
![image](https://user-images.githubusercontent.com/3605364/37681215-256b9436-2c2a-11e8-9166-a6980be32b7c.png)

[2018-03-20 20:33] #5751 closed

[2018-03-20 20:37] Rick-Anderson commented on #5746
scroll to the bottom of a doc page, click on the language to change it.
The loc team is working on better options.

![image](https://user-images.githubusercontent.com/3605364/37681387-a4b6d1d8-2c2a-11e8-8410-fe727eee55f6.png)

[2018-03-20 20:37] #5746 closed

[2018-03-20 20:44] Rick-Anderson opened #5752 "update https://weblogs.asp.net/"
- [ ] Put ASP.NET team blog at the top, move ScottGu down.

[2018-03-20 20:52] Rick-Anderson commented on #5581
@guardrex  can you add your goals

[2018-03-20 21:03] guardrex commented on #5581
@Rick-Anderson Sure ... I'll set up the Blazor issues, then I'll get everything on here.

I guess you only want the repo issue goals, right? ... not the :beer: drinking goals.

... or should I open an issue for that???? :smile: lol

[2018-03-20 21:06] #5694 closed

[2018-03-20 21:09] rachelappel commented on #5581
@guardrex I wanna see what drinking goals we have :D :beer: :beer: :beer:

[2018-03-20 21:11] Rick-Anderson commented on #5404
@pranavkm Thanks! Added to the list and put you down as the contact. Do we have any information to get us jump started?

[2018-03-20 21:50] andre-ss6 commented on #5746
Oh really?
...
I'm sorry, but your answer make it feels like you didn't even read the title of my issue. I know how to change the language. Every single one of those who upvoted the suggestion on UserVoice years ago knew as well. I'm asking to:

But well, I guess [keep] wait[ing] for the loc team who is working on better options.
After 10 years.

[2018-03-20 22:20] pranavkm commented on #5404
I wrote some in the same vein as `IActionFilter`: https://github.com/aspnet/Home/issues/2981#issuecomment-374706661

[2018-03-20 22:37] Rick-Anderson opened #5754 "Document IPageFilter and filter methods on PageModel"
`@pranavkm` wrote:   `IActionFilter`: https://github.com/aspnet/Home/issues/2981#issuecomment-374706661

[2018-03-20 23:14] #5711 closed

[2018-03-21 00:25] Rick-Anderson commented on #5746
The entire team reviewed this, not that ASP.NET experts have much expertise on a loc for docs.microsoft.com.

[2018-03-21 17:18] Tratcher commented on #2384
*poke* We're getting almost daily questions about this topic.

[2018-03-21 17:18] rachelappel commented on #3790
@scottaddie Is this applicable to what you're working on? Web API stuff, correct? Or is that @guardrex?

[2018-03-21 18:00] scottaddie commented on #3790
@rachelappel @Rick-Anderson Is there any more detail to provide on this? It's not clear to me what needs to be done.

[2018-03-21 18:16] rowanmiller commented on #5605
In Feb https://www.asp.net/freecourses got 17,000 users and 11,000 of them went on to one of the free courses so I think it's providing value. As we redesign the ASP.NET marketing site, we'll probably keep this content around - we've talked about adding it for .NET in general too.

I get not wanting to promote other companies on docs. On the marketing side we aren't too concerned about this. We ve

[2018-03-21 18:18] LadyNaggaga commented on #5605
@rowanmiller that sounds like a good plan. I will start gathering newer content over the next couple of weeks.

[2018-03-21 18:46] #3790 closed

[2018-03-21 19:15] Rick-Anderson commented on #2384
@Tratcher  -- @scottaddie  will work on this tomorrow. Are you asking that we doc ** ForwardedHeaders is None by default.** or asking for the  request in the title:

**Docs for UseForwardedHeaders, working with reverse proxies and load balancers**

[2018-03-21 19:16] Tratcher commented on #2384
Overall docs for working with reverse proxies please.

[2018-03-21 21:17] rowanmiller commented on #5505
Yep the (i) bubble makes total sense. We should probably have it for the ASP.NET Core Runtime too, as I don't think it's 100% obvious what that is for either.

Windows Hosting Bundle makes sense to me as the name on the download page. Not sure who else should agree on this before we make the change - @richlander @leecow any thoughts from you?

We also have "Server Hosting Binaries" for Linux - sho

[2018-03-21 21:25] guardrex commented on #5505
That sounds great to me ... that's exactly what it is. I like the uppercase "Bundle," too. In the past, they had the word "bundle" in lowercase for some reason, so they had us calling it the "Windows Server Hosting bundle." Idk why "bundle" was lowercase. @shirhatti @Tratcher do u know?

"Linux Hosting Binaries" ??? ... sounds good anyway.

[2018-03-21 22:24] Tratcher commented on #5505
Unknown. @shirhatti ?

[2018-03-21 23:26] shirhatti commented on #5505
No idea about the casing.

[2018-03-22 00:18] #3278 closed

[2018-03-22 00:18] #5280 closed

[2018-03-22 01:38] guardrex opened #5764 "ASP.NET Core Blazor (landing page) topic"
Title: ASP.NET Core Blazor
UID: client-side/blazor/index
URL: https://docs.microsoft.com/aspnet/core/client-side/blazor/

* TOC
* Define & describe
* Link out .NET site Get started content
* aspnet/Docs issues
* Filing bugs/suggestions in Blazor repo
* Link Blazor repo release notes

[2018-03-22 01:38] guardrex opened #5765 "Introduction to Blazor: Index topic"
Title: Introduction to Blazor
UID: client-side/blazor/introduction/index
URL: https://docs.microsoft.com/aspnet/core/client-side/blazor/introduction/

http://blog.stevensanderson.com/2018/02/06/blazor-intro/

[2018-03-22 01:38] guardrex opened #5766 "Build your first Blazor app topic"
Title: Blazor tutorials
UID: client-side/blazor/tutorials/index
URL: https://docs.microsoft.com/aspnet/core/client-side/blazor/tutorials

Title: Build your first Blazor app with Visual Studio
UID: client-side/blazor/tutorials/first-blazor-app-vswin
URL: https://docs.microsoft.com/aspnet/core/client-side/blazor/tutorials/first-blazor-app-vswin

Title: Build your first Blazor app with Visual Studio

[2018-03-22 01:38] guardrex opened #5767 "Blazor components topic: Index topic"
Title: Blazor components
UID: client-side/blazor/components/index
URL: https://docs.microsoft.com/aspnet/core/client-side/blazor/components

* Using Razor
* Inline vs code behind
* Event handling
* Data binding and validation
* Rendering child content
* Providing parameters
* Specifying child content
* Routing
* JS/TS interop

[2018-03-22 01:38] guardrex opened #5768 "Use Blazor components topic: Index topic"
Title: Use Blazor components
UID: client-side/blazor/use-components/index
URL: https://docs.microsoft.com/aspnet/core/client-side/blazor/use-components

* Providing parameters
* Specifying child content
* Routing

[2018-03-22 01:38] guardrex opened #5769 "Blazor layouts topic"
Title: Blazor layouts
UID: client-side/blazor/layouts
URL: https://docs.microsoft.com/aspnet/core/client-side/blazor/layouts

* Defining layouts
* Using layouts

[2018-03-22 01:38] guardrex opened #5770 "Dependency injection in Blazor topic"
Title: Dependency injection in Blazor
UID: client-side/blazor/dependency-injection
URL: https://docs.microsoft.com/aspnet/core/client-side/blazor/dependency-injection

* Configuring services
* Resolving services
* Built-in services

[2018-03-22 01:39] guardrex opened #5771 "Host and deploy Blazor: Index topic"
Title: Host and deploy Blazor
UID: client-side/blazor/host-and-deploy/index
URL: https://docs.microsoft.com/aspnet/core/client-side/blazor/host-and-deploy

* Standalone deployments (notes on Azure CDN, file server, GitHub Pages)
* Redirects for correct routing
* Hosting in ASP.NET Core
* Publishing
* IL trimming

[2018-03-22 01:39] guardrex opened #5772 "Troubleshoot Blazor: Index topic"
Title: Troubleshoot Blazor
UID: client-side/blazor/troubleshoot/index
URL: https://docs.microsoft.com/aspnet/core/client-side/blazor/troubleshoot

Content: TBD

[2018-03-22 01:45] guardrex commented on #5678
@danroth27 @SteveSandersonMS @rowanmiller

See the OP at the top ☝️ for the issues tracked.

[2018-03-22 01:59] Rick-Anderson commented on #5720
cc @tdykstra

[2018-03-22 02:41] #5698 closed

[2018-03-22 05:52] guardrex opened #5773 "Blazor Wiki FAQ UE pass"
https://github.com/aspnet/Blazor/wiki/FAQ

[2018-03-22 14:23] tdykstra commented on #5720
@wstaelens I don't follow what is wrong here:

What is shared is the context, and that is passed in to the new instance, as described above:

[2018-03-22 17:51] therealjohn opened #5777 "Unable to download just the relevant sample being worked on"
The tutorials offer a helpful link to "View or Download sample". These types of links take you to the currently viewed file in the repo on GitHub. Unfortunately, because of the limitation in GitHub you can't download just the nested folder which contains the tutorial being viewed. Instead, you have to go back to the root on GitHub and clone/download the entire Docs repo.

The [RazorPagesMovie tuto

[2018-03-22 18:33] scottaddie opened #5778 "Point sample download links to live branch"
Update the sample app download links to use the **live** branch instead of the **master** branch. This ensures the sample app's align with their respective docs (since we deploy from live).

[2018-03-22 18:41] isaac2004 commented on #974
pinging @blowdart for guidance

[2018-03-22 18:43] blowdart commented on #974
Agreeing with @danroth27. Damn, that hurts.

[2018-03-22 18:51] isaac2004 commented on #974
@blowdart @danroth27  So in agreement that a migration doc from ASP.NET Membership to ASP.NET Core 2.0 Identity is needed for this. This doc would show the code changes needed, the changes needed to the DB schema, and some SQL script to migrate the data from the Membership Schema to Core Identity Schema. Would that suffice?

[2018-03-22 18:53] blowdart commented on #974
Membership isn't MVC5 and 6, that's just older identity stuff. @HaoK shouldn't that be done with migrations?

[2018-03-22 18:57] isaac2004 commented on #974
Correct me if I am wrong, but isn't that the ask, getting from the really old Membership DB to Core Identity? Apologies if I misunderstood something

[2018-03-22 19:00] blowdart commented on #974
Oh? In that case, yea, that'll be painful, but fun. And no-ones password will work any more :)

[2018-03-22 19:14] isaac2004 commented on #974
Oh that is an interesting point, is the Hashing mechanism for PW between ASP.NET Identity and Core Identity different? There is a [Membership to ASP.NET Identity](https://docs.microsoft.com/en-us/aspnet/identity/overview/migrations/migrating-an-existing-website-from-sql-membership-to-aspnet-identity) doc out there, so I assumed that the Membership to Core Identity process would be somewhat similar

[2018-03-22 19:32] isaac2004 commented on #974
Well you are probably going to have to review the doc, so I might as well make your life easier. :) Is there a recommended approach to force the user to reset password (or will they force since it is blank in DB)?

[2018-03-22 19:35] blowdart commented on #974
I don't believe you can force it unfortunately. Set it to a random value and then document "All your users need to be emailed to say they must reset their password as part of the migration to improve security. Please don't use Hunter2" :)

[2018-03-22 19:38] isaac2004 commented on #974
Thanks Barry I will start putting together the skeleton for this based on the Membership to Identity Doc, same format mostly, different steps

[2018-03-22 19:39] blowdart commented on #974
Enjoy, I appreciate you doing this, it's a horrible task.

[2018-03-22 21:20] isaac2004 commented on #4237
@danroth27 Based on #974 I think it makes sense to add another level to Migrating Configuration, something like

Migrating from ASP.NET to ASP.NET Core
- Migrating Configuration
    * Migrating from ASP.NET Membership to ASP.NET Core
        *  Migrating Data
        *  Migrating Application
    * Migrating from ASP.NET Identity to ASP.NET Core
        * Migrating Application
        * Migrating D

[2018-03-22 22:39] leecow commented on #5505
I'm leaning toward something like '.NET Core Hosting Bundle' for the name as it is available on Windows and Linux. We do need to clean up the docs to get everything to align and add Linux info.

[2018-03-22 22:43] rowanmiller commented on #5505
I like that - seems clean

[2018-03-22 23:46] Rick-Anderson opened #5781 "Write TLS best practices doc."
Completed [Transport Layer Security (TLS) best practices with the .NET Framework](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls)

[2018-03-22 23:46] #5781 closed

[2018-03-23 00:10] Rick-Anderson opened #5783 "Update all topics with forward headers. Write best practices doc."

[2018-03-23 00:10] Rick-Anderson commented on #5783
Complete.

[2018-03-23 00:10] #5783 closed

[2018-03-23 00:17] guardrex commented on #5777
Hello @therealjohn ... _YES!_ It's coming. They're working on a solution for this as we speak. The new approach to downloading samples should be available soon, but we don't have an exact date yet. For reference, see https://github.com/aspnet/Docs/issues/5392. I'll go ahead and close here; but if you have further questions, please feel free to ping back.

[2018-03-23 00:17] #5777 closed

[2018-03-23 04:12] anurse opened #5784 "Rename "Endpoints" in SignalR docs to "Connection Handlers""
We're making a change in Preview 2 to rename "Endpoints" to "Connection Handlers". The docs will need to be updated to respect this in Preview 2. There's no functional change (as far as the docs are concerned), just a straight rename.

cc @rachelappel @davidfowl

[2018-03-23 07:51] wstaelens commented on #5720
`get { return this.departmentRepository ?? new GenericRepository<Department>(context); }.
`
in case departmentRepository is null, it returns a new instance of Department. The deparmentRepository field stays null. So the next time it will do the same code "new GenericRepository<..." again returning a new instance. the next time again, and again. because the "this.departmentRepository" is never set.

[2018-03-23 15:46] tdykstra commented on #5720
I understand now.  I investigated and discovered that the code you're talking about was the result of a commit by @rayden84 last October.  I will undo the commit.  Thanks for pointing that out. (Rick is right about lack of resources -- I don't currently work on ASP.NET docs anymore but am squeezing it into my schedule anyway.)

[2018-03-23 15:55] scottaddie commented on #5720
@tdykstra Thanks for taking care of this, Tom!

[2018-03-23 20:36] guardrex commented on #2384
![wallace](https://user-images.githubusercontent.com/1622880/37852078-3ccd7586-2eaf-11e8-829e-fd150b31d343.jpg)

**_You ain't got no problem, @Tratcher. I'm on the topic. Go back in there and chill them devs out and wait for The Rex, who should be coming directly._** - Marsellus Wallace ([Ving Rhames](https://www.facebook.com/Ving-Rhames-201254109906831/))

[Pulp Fiction](https://www.miramax.com/m

[2018-03-23 23:14] #5700 closed

[2018-03-24 22:37] guardrex opened #5793 "Add AllowedHosts to proxy config topic"
https://github.com/aspnet/BasicMiddleware/blob/dev/src/Microsoft.AspNetCore.HttpOverrides/ForwardedHeadersOptions.cs#L70-L84

[2018-03-25 00:10] guardrex opened #5795 "@guardrex Tracking Issue"
## New Topics

* [x] ASP.NET Core Blazor (landing page) topic https://github.com/aspnet/Blazor.Docs/issues/11
* [x] Introduction to Blazor: Index https://github.com/aspnet/Blazor.Docs/issues/10
* [x] Blazor components topic: Index https://github.com/aspnet/Blazor.Docs/issues/8
* [x] Host and deploy Blazor: Index https://github.com/aspnet/Blazor.Docs/issues/5
* [x] Build your first Blazor app https

[2018-03-25 14:48] kevin-jing opened #5797 "Please update the sample because project.json is no longer supported"
Docs/aspnetcore/fundamentals/dependency-injection/sample/
Warning: project.json is no longer a supported project format for .NET Core applications. Update to the latest version of .NET Core (https://aka.ms/netcoredownload) and use 'dotnet migrate' to upgrade your project (see https://aka.ms/netcoremigrate for details).

[2018-03-25 19:36] guardrex commented on #5797
Hello @kevin-jing!

Thanks for commenting. This is a duplicate based on a tracking issue we have to update all of the samples to 2.1. The sample you mentioned is on the list for update. It should be updated fairly soon, but we don't have an exact estimate at this time.

Dup of: https://github.com/aspnet/Docs/issues/5495

[2018-03-25 19:36] #5797 closed

[2018-03-25 19:49] guardrex commented on #5393
Since the *Enforce HTTPS* topic is called out for the content's location, this one looks related: [Add HttpsRedirection and Hsts middleware documentation \#4568](https://github.com/aspnet/Docs/issues/4568)

[2018-03-25 19:54] guardrex commented on #5407
Described by `@DamianEdwards` on the Standup :point_right: https://youtu.be/-EgE79M3tuc?t=34m00s

[2018-03-25 20:37] guardrex commented on #5409
Described on the Standup episode :point_right: https://youtu.be/6eVdRyXADaw

[2018-03-25 23:11] guardrex opened #5798 "Hosting non-server apps with Generic Host"
Issue: https://github.com/aspnet/Hosting/issues/1163
PR: https://github.com/aspnet/Hosting/pull/1204

[2018-03-26 12:49] spottedmahn opened #5800 "Add Note About Order Mattering in Starup.Configure"
## Issues with Existing Topics

I think the fact that the order of calling `Using___` in [`Startup.Configure`](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup#the-configure-method) matters, should be documented.  Maybe it is and I'm missing it.

I've seen this come up as an issue with [security](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?tabs=vi

[2018-03-26 16:55] bricelam opened #5801 "Clarify snapshot section in EF Core Migrations tutorial"
The *Examine the data model snapshot* section in the *ASP.NET Core MVC with EF Core - Migrations - 4 of 10* article could use some clarification. Here is [a comment](https://github.com/aspnet/EntityFrameworkCore/pull/6689#issuecomment-376097825) about how one user got confused.

Ideas for improvement:
* Don't show a code snippet. Most users won't need to touch this file
* Remove the statements abo

[2018-03-26 17:15] isaac2004 commented on #4237
@danroth27 @blowdart

[2018-03-26 17:23] guardrex commented on #5800
@spottedmahn Yes, it's covered in-depth in the Middleware topic, but I think you have a good idea here because just saying the word "pipeline" isn't explicit enough imo. I opened #5802 to address it. Thanks for raising this issue.

[2018-03-26 17:25] spottedmahn commented on #5800
Thanks @guardrex !

[Middleware topic link](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?tabs=aspnetcore2x) reference above.

[2018-03-26 17:32] spottedmahn commented on #5800
Found it... [Ordering](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?tabs=aspnetcore2x#ordering)

[2018-03-26 18:54] #5800 closed

[2018-03-27 00:14] guardrex opened #5805 "Security advisory linking problem"
@Eilon @blowdart Having a linking problem. I'd like to link one of our topics to ...

https://portal.msrc.microsoft.com/en-US/security-guidance/advisory/CVE-2018-0787

... but when I strip out the localization and hit up ...

https://portal.msrc.microsoft.com/security-guidance/advisory/CVE-2018-0787

... it just redirects to ...

https://portal.msrc.microsoft.com/en-us/

Also note that when I firs

[2018-03-27 00:48] Eilon commented on #5805
Sorry no idea... hopefully @blowdart knows, or at least knows someone who knows.

[2018-03-27 00:49] CamSoper commented on #4556
@Rick-Anderson Yes, I have recent experience there!  I can help with that.

[2018-03-27 00:50] guardrex opened #5806 "Forwarded headers updates for Nginx/Apache topics"
RE: New proxy/LB topic and Nginx/Apache docs

From `@Tratcher` at https://github.com/aspnet/Docs/pull/5794#discussion_r177254327 ...

Link to our Apache and NGinx docs. We'll need to update the config in those docs to include fowarders. E.g. https://www.nginx.com/resources/wiki/start/topics/examples/forwarded/ and $proxy_add_x_forwarded_for and https://www.digitalocean.com/community/tutorials/how-

[2018-03-27 03:39] guardrex commented on #5805
I'm going to link to the GH page. The barriers to using `https://portal.msrc.microsoft.com` are too high.

[2018-03-27 03:39] #5805 closed

[2018-03-27 04:03] guardrex commented on #5768
Rolling these three section in under *Blazor components* (at least for now).

[2018-03-27 04:03] #5768 closed

[2018-03-27 05:06] Rick-Anderson commented on #5752
won't fix

[2018-03-27 05:06] #5752 closed

[2018-03-27 13:13] rachelappel commented on #5784
Renamed in https://github.com/aspnet/Docs/issues/5521

[2018-03-27 13:13] #5784 closed

[2018-03-27 14:46] DanJ210 commented on #5751
Um thank you? I'm following a link in documentation which beginners are going to go through and follow and the project they are telling me to download has no such button. Navigating a repo of this massivity can be a little wow for someone trying to learn from the docs. I respect a little understanding in this. Wouldn't be too much to elaborate on where that button will appear when it doesn't from

[2018-03-27 19:35] Tratcher opened #5812 "Update Kestrel host configuration guidance to include new HostFiltering middleware"
In 2.0 we issued a patch and guidance related to host configuration, especially for Kestrel that doesn't have built in support for host filtering.
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?tabs=aspnetcore2x#host-filtering

In 2.1 preview2 we've taken that sample and created a new HostFiltering package & middleware. That's been added to WebHost.CreateDefaultBuilder a

[2018-03-27 22:44] #5801 closed

[2018-03-28 03:35] davidfowl commented on #5521
I want to be careful how we document this, it isn't a part of SignalR anymore it was pushed even down the stack.

[2018-03-28 13:33] #5679 closed

[2018-03-28 15:09] scottaddie opened #5820 "Describe how partial view is loaded with Partial Tag Helper"
A customer left the following question on the [Partial Tag Helper doc](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/partial-tag-helper):

Indicate towards the top of the doc that the load occurs asynchronously.

[2018-03-28 17:53] rachelappel commented on #5646
@anurse Do we want how to send query string params in this doc?

[2018-03-28 19:34] shirhatti commented on #5449
Don't call `hostBuilder.SetContentRoot(Environment.GetCurrentDirectory())`
The right pattern is `hostBuilder.SetContentRoot(AppDomain.CurrentDomain.BaseDirectory)`
When running in IIS current directory is `C:\Windows\System32\inetsrv\`

This should be part of the FAQ/caveats of running in-proc.

[2018-03-28 19:48] #5820 closed

[2018-03-28 22:18] anurse commented on #5646
No, that's not necessary in this doc IMO

[2018-03-28 23:46] #5778 closed

[2018-03-29 01:52] Rick-Anderson opened #5825 "All content using CDN should have caveat not to depend of CDN"

[2018-03-29 02:31] #2384 closed

[2018-03-29 06:59] redplane commented on #5389
Hi,

Any tutorials for Signalr core 2.1 authentication & authorization ?

I'm facing with one issue in Signalr core 2.1 that I already pasted here:
 [https://stackoverflow.com/questions/49535959/authorize-doesnt-work-in-signalr-of-asp-net-core-2-1](url)

[2018-03-29 14:01] rachelappel commented on #5389
@redplane Docs for that are coming in a future sprint. I believe the one after this. We will keep this updated.

[2018-03-29 14:40] dennisaubrey opened #5828 "VS CODE - How to Build and Publish a C# Web API to IIS?"
What are the complete steps to Build and Publish a C# Web Service API using the IIS Web Site.

https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-vsc#add-support-for-entity-framework-core

![image](https://user-images.githubusercontent.com/36566794/38095096-9d3af2e4-333d-11e8-868a-971ed54ad459.png)

[2018-03-29 14:41] rachelappel opened #5829 "Cleanup SignalR TOC"
Remove duplicate introduction node, replace top level with link to index page

[2018-03-29 14:47] #5829 closed

[2018-03-29 15:35] guardrex opened #5831 "Place RP route/app conventions features in context of ConfigureServices"
https://docs.microsoft.com/aspnet/core/mvc/razor-pages/razor-pages-convention-features
mvc/razor-pages/razor-pages-convention-features.md

From @csharpfritz ...

[2018-03-29 20:14] Rick-Anderson opened #5832 "Microsoft Ajax Content Delivery Network"
Use this issue to report problems with the [Microsoft Ajax Content Delivery Network](https://docs.microsoft.com/en-us/aspnet/ajax/cdn/overview)

[2018-03-29 23:09] Rick-Anderson commented on #5828
@dennisaubrey  the steps are the same for publishing a Web UI ASP.NET Core app. For example, a Razor Pages app or MVC controller app.

[2018-03-30 00:25] Rick-Anderson opened #5834 "Document [Required] attribute for Razor Pages properties"
See [this video](https://youtu.be/-EgE79M3tuc?t=2750).

[2018-03-30 10:34] #5626 closed

[2018-03-30 19:20] Rick-Anderson opened #5840 "New topic: Using ASP.NET Core 2.1.x Previews on Azure App Service"
Create supported doc from blog [ASP.NET Core 2.1.0-preview1: Using ASP.NET Core Previews on Azure App Service](https://blogs.msdn.microsoft.com/webdev/2018/02/27/asp-net-core-2-1-0-preview1-using-asp-net-core-previews-on-azure-app-service/)

[2018-03-31 02:23] #5554 closed, assigned to guardrex

[2018-03-31 05:37] guardrex commented on #5770
@rstropek will take this one. Thank you @rstropek! :rocket:

[2018-03-31 05:38] guardrex commented on #5769
@rstropek will take this one. Thank you @rstropek! :rocket:

[2018-03-31 17:24] bangbingsyb opened #5844 ""Minimum module configuration" for IIS + ANCM caused confusing for perf test"
https://github.com/aspnet/Docs/blob/master/aspnetcore/host-and-deploy/iis/modules.md

Looks like the "Minimum module configuration" in this doc caused a lot of confusion among users - while it is the right minimum requirement to make ASP.NET core app work, people think it's the fastest configuration and use it in all sorts of perf tests:

aspnet/IISIntegration#747
aspnet/Performance#186

I think i

[2018-03-31 17:25] guardrex commented on #5844
Thanks @bangbingsyb ... btw -- no need to cross-post so many times. We see it. :wink: :smile:

[2018-03-31 17:25] guardrex commented on #5844
Thanks for pointing this out @bandbingsyb. I agree we should point it out. I'd like to even *steal* :smile: some of your language for the note on your other comment.

@shirhatti We have two options here:
* Add a couple of lines under our current content; because technically speaking, the module is still not strictly required.
* Go ahead and add it to the recommended minimum module configuration, m

[2018-03-31 20:59] bangbingsyb commented on #5844
Sorry for spamming multiple discussion on the same topic - was used to StackOverflow and ServerFault where copy & paste the same comment to similar problems is often needed otherwise the right people might not see it 😄.  Sure, feel free to use the explanation I put in the comment.

[2018-03-31 21:05] guardrex commented on #5844
Thanks ... no worries on the posting. On second thought, it's just as well that you DID post over on the perf issue because they will need to see that when they setup their perf tests.

Thanks for allowing the use of your language for this. Let's confer with @shirhatti (and perhaps @Tratcher will weigh in) on how best to handle it according to those two approaches that I laid out above :point_up:.

[2018-03-31 21:11] Tratcher commented on #5844
@pan-wang @jkotalik

[2018-04-01 22:50] guardrex commented on #5765
Moved to https://github.com/aspnet/Blazor.Docs/issues/10

[2018-04-01 22:50] #5765 closed

[2018-04-01 22:56] guardrex commented on #5767
Moved to https://github.com/aspnet/Blazor.Docs/issues/8

[2018-04-01 22:56] #5767 closed

[2018-04-01 23:09] guardrex commented on #5764
Moved to https://github.com/aspnet/Blazor.Docs/issues/11

[2018-04-01 23:09] #5764 closed

[2018-04-01 23:09] guardrex commented on #5773
Moved to https://github.com/aspnet/Blazor.Docs/issues/3

[2018-04-01 23:09] #5773 closed

[2018-04-01 23:10] guardrex commented on #5772
Moved to https://github.com/aspnet/Blazor.Docs/issues/4

[2018-04-01 23:10] #5772 closed

[2018-04-01 23:10] guardrex commented on #5771
Moved to https://github.com/aspnet/Blazor.Docs/issues/5

[2018-04-01 23:10] #5771 closed

[2018-04-01 23:11] guardrex commented on #5770
Moved to https://github.com/aspnet/Blazor.Docs/issues/6

[2018-04-01 23:11] #5770 closed

[2018-04-01 23:11] guardrex commented on #5769
Moved to https://github.com/aspnet/Blazor.Docs/issues/7

[2018-04-01 23:11] #5769 closed

[2018-04-01 23:12] guardrex commented on #5766
Moved to https://github.com/aspnet/Blazor.Docs/issues/9

[2018-04-01 23:12] #5766 closed

[2018-04-01 23:14] guardrex commented on #5678
Tracking moved to 0.2.0 milestone of aspnet/Blazor.Docs at: https://github.com/aspnet/Blazor.Docs/issues?q=is%3Aopen+is%3Aissue+milestone%3A0.2.0

[2018-04-01 23:14] #5678 closed

[2018-04-02 01:17] tdykstra opened #5847 "Find a new home for EF MVC code in Code Gallery"
Given the way Microsoft is moving toward using GitHub for code samples,  we should move our top sample off MSDN Code Gallery. The top download on the site is [EF MVC for EF 6 and MVC 5](https://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8), and these versions are still relevant, so we should consider moving the sample:
* Update the project for VS 2017, and if time permits update package

[2018-04-02 13:14] rachelappel opened #5850 "Add await to code"
Signalr hubs doc chathub groups add

[2018-04-02 13:20] #5850 closed

[2018-04-02 17:59] #5840 closed

[2018-04-02 18:00] #5825 closed

[2018-04-02 18:51] scottaddie opened #5858 "Move MVC docs to Web API TOC node"
Per Dan Roth, the following 2 docs are Web API-focused and should be relocated to the top-level Web API TOC node:
- https://docs.microsoft.com/aspnet/core/mvc/advanced/custom-formatters
- https://docs.microsoft.com/aspnet/core/mvc/models/formatting

[2018-04-02 19:22] #5858 closed

[2018-04-02 22:09] blowdart commented on #4237
That makes sense, I'd number the ASP.Identity ones too, because there are so so many

[2018-04-03 01:05] Rick-Anderson commented on #4568
@jkotalik let me know when you have a draft of the article or when you'll have time to work on it. I can do the editing and polish it off.

[2018-04-03 01:10] Rick-Anderson commented on #5466
@anurse

Can you add these exceptions to this issue and I'll try to squeeze this issue into this sprint.

[2018-04-03 01:27] Rick-Anderson commented on #5203
@scottaddie  can you close this?

[2018-04-03 16:35] rachelappel opened #5862 "signalr/dotnet-client SignalR .NET Client doc"
[SignalR for .NET Framework doc](https://docs.microsoft.com/aspnet/signalr/overview/guide-to-the-api/hubs-api-guide-net-client)

-Client setup
-Establish a connection
-Configure connection
  -Set Transport
  -Set headers
-Call hub methods from client
-Call client methods from hub
-Error handling and logging

[2018-04-03 18:14] rowanmiller commented on #5505
Any push back on me updating the .NET Website to use `.NET Core Hosting Bundle` for the download names?

[2018-04-03 18:16] guardrex commented on #5505
I'll update the aspnet/Docs to match when the change goes live.

[2018-04-03 19:29] rowanmiller commented on #5505
When it's in the context of .NET Core, do we think it's OK to just use `Hosting Bundle`? E.g. on http://localhost:4689/net/download/dotnet-core/runtime-2.0.6 we don't prefix anything else with .NET Core.

[2018-04-03 19:49] scottaddie opened #5863 "View compilation doc needs a link to dotnet publish doc"
The [View Compilation doc](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation) should link to the [.NET Core CLI publish command doc](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish). Several readers have asked questions about the publish command via Livefyre comments, leading me to believe they're not finding that doc.

[2018-04-03 20:01] guardrex commented on #5505
Seems fine to me. When I update the docs, I'll use ".NET Core Hosting Bundle" in the section title, but I'll just call it the "Hosting Bundle" in the text under the heading.

[2018-04-03 20:02] guardrex commented on #5505
@rowanmiller I'll use this issue to track the work in the aspnet/Docs repo. I'll ping u on the PR.

*This is blocked until the .NET site change is live.*

[2018-04-03 20:10] guardrex commented on #5844
*Last call for comments.* I'm going to need to 🥊 knock this out 🥊 soon. I want to square this away on this sprint.

Current plan: Add a few lines at the bottom of the section surfacing the info. I'll *steal* (with permission, thanks @bangbingsyb) a bit of the good language that @bangbingsyb supplied for the note.

[2018-04-03 20:14] #5863 closed

[2018-04-03 20:57] pan-wang commented on #5844
@guardrex  I am not sure what does ".NET Core Active" mean.
I know ASP.NET Core offers alternative solution/feature for some iis modules, however, it is very hard to write a simple document giving recommendation on yes or no. A lot of time, it really depends on user's application and requirement. For instance, IIS HttpCacheModule. If user turns this feature on, it will save the request to the kest

[2018-04-03 21:13] guardrex commented on #5844
@pan-wang

It was an attempt at the time to indicate which modules are functional with ASP.NET Core apps.

I agree with everything else you said. This topic could perhaps have more guidance in the future. What I was trying to do was give developers a clear indication of which modules work and which ones don't work with ASP.NET Core ... and then to also have the alternatives there. Before this topi

[2018-04-03 21:51] Rick-Anderson opened #5865 "Razor Sdk: Require docs on various available settings and instructions for users to use the Sdk in a class library"
Details in https://github.com/aspnet/Razor/issues/2119

Proposed title: Razor SDK for ASP.NET Core
Proposed path: /aspnet/core/mvc/razor-pages/sdk

@pranavkm I'd like to get this completed early next week so  you can update the fwlink to https://docs.microsoft.com/aspnet/core/mvc/razor-pages/sdk

[2018-04-03 21:56] pranavkm commented on #5865
@mkArtakMSFT could you update the fwlink you created (https://go.microsoft.com/fwlink/?linkid=868374) to point to https://docs.microsoft.com/aspnet/core/mvc/razor-pages/sdk?

[2018-04-03 21:56] pranavkm commented on #5865
Thanks @Rick-Anderson

[2018-04-04 05:16] Rick-Anderson opened #5867 "Copy UpdateInstructorCourses() explanation from MVC to RP version of ConsotoU"
Per customer:

The details of the UpdateInstructorCourses() method are much better explained in the MVC version of this tutorial! Would be great, if you could take over these explanations to this Razor version. See here:

https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/update-related-data

[2018-04-04 05:22] Rick-Anderson opened #5868 "Could not load file or assembly 'Microsoft.EntityFrameworkCore, Version=2.0.2.0"
See [this](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?hubRefSrc=email&utm_source=lfemail&utm_medium=email&utm_campaign=lfnotification#lf-content=205412901:783156869&reply_editor=true) comment

[2018-04-04 09:08] dave-hillier opened #5870 "Unclear documentation for Authorization Policy/Authentication"
Reposted from: https://github.com/aspnet/Security/issues/1715

I've attempted to follow this page: https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies#using-a-func-to-fulfill-a-policy

I performed the following steps (a simplified contrived example):
* I created a new Web API project `dotnet new webapi`
* On the `Get` method of the values controller I added an attribute: `

[2018-04-04 20:20] Rick-Anderson opened #5877 "New troubleshooting content for the "OneASP.NET dialog""
### Both the 32 and 64 bit versions of the .NET Core SDK are installed
In the "New Project" dialog for ASP.NET Core you may see the following warning appear at the top: "Both 32 and 64 bit versions of the .NET Core SDK are installed. Only templates from the 64 bit version(s) installed at C:\Program Files\dotnet\sdk\" will be displayed."

<img src="both32and64bit.png" alt="A screenshot of the OneAS

[2018-04-04 20:43] Rick-Anderson commented on #5028
@ajcvickers  would you be able to schedule this sometime in the next 8 weeks? The topic has 15K PVM from very important customers.

[2018-04-04 22:32] Rick-Anderson opened #5879 "Markdig migration"
Review all Markdig changes and merge.

[2018-04-04 23:51] #5879 closed

[2018-04-05 04:32] Rick-Anderson opened #5884 "Document Microsoft.AspNetCore.App"
Consider working with Andrew Lock and [his blog](https://andrewlock.net/exploring-the-microsoft-aspnetcore-app-shared-framework-in-asp-net-core-2-1-preview-1/)

related #5314

Update [Microsoft.AspNetCore.All metapackage](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage) to point out the App meta package is the recommended package.

See:
* https://github.com/aspnet/Announcemen

[2018-04-05 18:01] #5877 closed

[2018-04-05 18:03] CamSoper opened #5887 "Azure Developer Lifecycle for .NET Developers"
We are undertaking a project to develop content (originally an e-book, still might be, or it might be an interactive thing) to set the minimum bar for a complete .NET development lifecycle on Azure.  This issue is to track the progress of the content and provide a channel for discussion.

We're looking for feedback as we undertake this. We invite the community to comment and make revisions as we g

[2018-04-05 18:58] scottaddie opened #5888 "Update source control guidance for publish profiles"
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/visual-studio-publish-profiles?tabs=aspnetcore2x#publish-profiles

The **Publish profiles** section of the doc above contains the following text:

This guidance is incorrect in some cases. When using TFS or VSTS, the *.pubxml file needs to be checked in. The build/release definition will need access to it in source control.

There's also

[2018-04-05 19:04] CamSoper commented on #5887
Comments from @CESARDELATORRE provided by email, copied here (with permission) for tracking:

* Simplify the following (App development and deployment to Azure) as we have already significant guidance about it:
    3\. Build a Web App that consumes an Azure service
    4\. Deploying the app to App Service and monitoring

* More details on DevOps, CI/CD, Monitoring, Logging, app Analysis, etc. So,

[2018-04-05 19:12] erickson-doug commented on #5887
devops (with or w/o vsts) should be integral to most if not all scenarios, maybe with callouts as to "why do this"

[2018-04-05 20:01] isaac2004 commented on #974
Hey @blowdart odd question for you. I am going through building this doc and ran across something that may need to be looked at.

Using the default Identity template, the login screen is requesting the email address. This works fine for situations where the username and email are the same, but if they are different, it fails login. The reason for this is that SignInManager doesn't actually check t

[2018-04-05 20:39] jawn commented on #5887
Talking about VS Code in addition to VS 2017 makes things usable on all platforms. But it's extra work.

Who is your audience?

[2018-04-05 20:46] CamSoper commented on #5887
@jawn - The assumption is experienced ASP.NET developers (200-300 level) with no cloud experience. I think we're going to assume VS2017 since that'll include most ASP.NET devs, but I do hear you loud and clear on the cross-platform.

[2018-04-05 20:48] blowdart commented on #974
Oh god please document that. We have an outstanding bug to fix it, but it won't be in 2.1 in all probability.

https://github.com/aspnet/Identity/issues/1721
https://github.com/aspnet/Identity/issues/1688
https://github.com/aspnet/Identity/issues/1675

[2018-04-05 20:54] isaac2004 commented on #974
@blowdart i added it to that doc on membership migration but probably should be put somewhere in the Identity docs no?

[2018-04-05 23:45] guardrex opened #5891 "Enhance content for stdout log writing"
Feedback from @Scott_Moses ...

[2018-04-05 23:50] guardrex commented on #5297
Note to self: Add an entry for when the app pool doesn't have write access to the location specified for the stdout log.

[2018-04-06 00:17] Rick-Anderson commented on #5297
Sure, can you do that?

[2018-04-06 00:17] aaronralls commented on #5887
You should do a MVC app that relies on a separate API done in .NET Core 2.x

[2018-04-06 00:36] samclintock commented on #5887
Hi @CamSoper, great idea on the project.

Have you considered Azure Functions at all? I totally understand that an MVC app would be useful to demonstrate deploying and hosting on an Azure App Service, but the majority of the development would still be in Visual Studio, and similar as a deploy to IIS. If a function were to be used, for a simple API for example, you could also demonstrate the scalab

[2018-04-06 02:52] guardrex commented on #4652
@javiercn I'll get this done. Don't sweat the sample code. I'll take care of it. I'll ping u on the PR.

[2018-04-06 03:03] Rick-Anderson commented on #5868
No repo

[2018-04-06 03:03] #5868 closed

[2018-04-06 04:57] tidyui commented on #5887
VS2017 should probably be targeted even though I personally think Visual Studio Code and DotNet CLI is a must for any .NET core tutorial. Let us know if you need help complementing your material with this.

For deployment CI is good with a couple of options, like:

* TFS with VS-online build server
* GitHub with AppVeyor

As far as technology goes most already experienced.NET developers will proba

[2018-04-06 14:29] rafaelbarrelo commented on #5887
- AppService vs ContainerService - How to choose?
- HTTPs with Let's Encrypt

[2018-04-06 15:05] jaxidian commented on #5887
I'd generally like the focus to be less on development itself and more on integration challenges. As frameworks advance, more and more of our jobs are focused on integrating systems rather than writing code. And this is also where we can go deep down the wrong path and spin our wheels for quite a while.

1. Consider building multiple applications with different lifecycles. It's easy to manage a si

[2018-04-06 15:26] isaac2004 commented on #4927
@rachelappel @scottaddie  can we close this issue since #4968 is closed?

[2018-04-06 15:28] guardrex commented on #4927
Fixed by https://github.com/aspnet/Docs/pull/5876

[2018-04-06 15:28] #4927 closed

[2018-04-06 16:33] paulio commented on #5887
My immediate thoughts would be to add (in no order);

- Deployment slots, bring manual/uat testing into the cycle
- The difference between config settings from the code to changing configs settings on the server. I.e. important to show that admins often have the final control over the settings
- logging strategy, esp. concerning scale out/up, correlation ids

[2018-04-06 17:27] isaac2004 commented on #589
@danroth27 @Rick-Anderson so the goal here is to show an example of Claims and Cookie middleware without Identity for ASP.NET Core? Should this section be added [here](https://docs.microsoft.com/en-us/aspnet/core/security/cookie-sharing). Otherwise, with some guidance I can take a look at this issue.

[2018-04-06 18:05] danroth27 commented on #589
@blowdart Do you see any value in documenting this? Should we just close this issue?

[2018-04-06 18:07] blowdart commented on #589
Close it, we have https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?tabs=aspnetcore2x

[2018-04-06 18:07] #589 closed

[2018-04-06 18:09] tidyui commented on #5887
Good call @paulio +1 on deployment slots

[2018-04-06 18:39] Tratcher opened #5899 "Add HTTPS setup instructions for IIS Dev scenario"
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/development-time-iis-support

https://www.sslshopper.com/article-how-to-create-a-self-signed-certificate-in-iis-7.html

Testing HTTPS apps at dev time is becoming more common, and is now required for 2.1. The templates and tooling do everything for you for IIS Express. However tooling doesn't do anything for you when developing using

[2018-04-06 19:16] ardalis opened #5900 "Need Article under Web API on Securing APIs"
Currently there is no article (that I see) in the docs on Securing Web APIs. There should be. Ideally it should describe:

- Options for securing APIs in general
- Detail one specific approach (with pros and cons)
- Demonstrate how to implement this specific approach

Eventually additional articles could describe other approaches.

@blowdart

## Requests for new Topics

1. Write a **short** paragr

[2018-04-06 20:00] ajcvickers commented on #5028
@Rick-Anderson Closing down 2.1 is currently the priority, so it depends how that goes. Identity/docs issues are currently next on my list, although VS/NuGet issues could end up bumping this.

[2018-04-06 21:39] CamSoper commented on #5887
This is great feedback, everyone!  Thanks so much!

We are trying to keep the scope narrow, but how narrow is still a question that's TBD.  We've definitely talked a lot about a "things you might have done differently" chapter, or perhaps a sequel.

[2018-04-07 00:10] Rick-Anderson commented on #5900
Dup of #4556

[2018-04-07 00:10] #5900 closed

[2018-04-07 00:12] Rick-Anderson commented on #3524
Cut due to priorities.

[2018-04-07 00:15] Rick-Anderson commented on #3463
@isaac2004 would you be interested in doing this? I think a followup of [Create a Web API](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api) that had [Calling the Web API with Javascript and jQuery](https://docs.microsoft.com/en-us/aspnet/web-api/overview/getting-started-with-aspnet-web-api/tutorial-your-first-web-api#calling-the-web-api-with-javascript-and-jquery)

[2018-04-07 00:31] Rick-Anderson commented on #5887
@aaronralls

We're featuring Razor Pages apps in new content.

[2018-04-07 00:35] isaac2004 commented on #3463
@Rick-Anderson I can take a look at this.

[2018-04-07 00:39] CamSoper commented on #5887
@Rick-Anderson I initially said MVC because of my own comfort with it, but @scottaddie and I decided yesterday that in order to pass the "Rick" test, we'd need to do Razor Pages.  😉

[2018-04-07 00:42] blowdart commented on #5870
I closed the issue in security however Rick if you want to add a line to every page which says "Authorization requires an authentication mechanism", which is what it would take, feel free.

[2018-04-07 00:47] Rick-Anderson commented on #5870
@dave-hillier  where exactly should we add "Authorization requires an authentication mechanism" to the article?

[2018-04-07 01:00] Rick-Anderson commented on #5888
@vijayrkn  please review

[2018-04-07 05:11] tidyui commented on #5887
Out of curiosity @CamSoper, what’s the official line on Razor Pages. To me it’s just an extended version of WebPages, which always felt like a sneak version of MVC designed to lure PHP developers over to .NET :) I always liked its simplicity and actually designed the initial version of Piranha CMS for it, BUT as time went by I had to convert my framework to MVC as no one wanted to use WebPages.

W

[2018-04-08 02:43] Rick-Anderson commented on #5887
@tidyui

We recommend RP for new app dev. Large teams may still prefer MVC.

I take it you haven't done much development with RP. It's much more like MVC than WebPages. After porting [ASP.NET Core MVC with EF Core](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/) to [RP](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/), I started to see the advantages. No more viewdata, view mod

[2018-04-08 17:40] dave-hillier commented on #5870
@blowdart are you trolling? Did you not tell me to open it here? I'm guessing you designed this API and you feel as if I'm calling your baby ugly?

It's clear from a quick google that I'm not the first to have come across this exception. It would be useful to have some reference that helps with those specific examples.

In this case, I'd suggest that the second paragraph would be a reasonable plac

[2018-04-08 17:48] blowdart commented on #5870
Not trolling, pointing out it's not a security issue, but a docs one. But I think if it goes on one authz page it'll need to go on all, because we can't expect everyone to land on the one page mentioned.

[2018-04-08 18:01] dave-hillier commented on #5870
Yeh, my bad, I raised it in the wrong repository. I did describe it as, "unclear documentation", not a security issue. I was referring to your comment about "every page".  That simply isn't true so it feels like you're trying to argue that a change would be impractical. If you felt it isn't a valid issue, you should just say so.

On the page in question, the first example is somewhat misleading as

[2018-04-08 20:01] Rick-Anderson commented on #5870
I can create an include file and add it to the other pages. Let me know if you'd like that approach.

[2018-04-09 15:23] guardrex opened #5906 "Update and enhance publish and deployment for IIS"
From @Cnicco ...

RE: Hosting on IIS

https://docs.microsoft.com/aspnet/core/host-and-deploy/iis
host-and-deploy/iis/index.md

Thanks @Cnicco for the comment! :rocket:

#### What needs to be produced from Visual Studio for distribution to the IIS admins

I can improve this bit by adding an additional link to the Directory Structure topic (there's one just a bit earlier in the topic). The Directory

[2018-04-09 18:15] #5420 closed

[2018-04-09 18:44] Rick-Anderson opened #5909 "Add Microsoft.AspNetCore.All metapackage to /dotnet/core/packages#metapackages"
Add [Microsoft.AspNetCore.All metapackage](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage) to  .Net Core doc section [Metapackages](https://docs.microsoft.com/en-us/dotnet/core/packages#metapackages)

[2018-04-09 20:51] #5909 closed

[2018-04-09 21:10] rachelappel opened #5910 "signalr/groups Manage Groups in ASP.NET Core SignalR"
Outline:

•	Add and remove users
(use User.Identity rather than connection id)
•	Message members of group
•	Store group membership in SQL Table
•	Store group membership in Azure Table
•	Verify group membership when reconnecting

[2018-04-09 21:15] Rick-Anderson opened #5911 "Make 2.1 include a Note"
So it stands out.

[2018-04-09 21:17] #5581 closed

[2018-04-09 21:38] #5911 closed

[2018-04-09 21:38] #5865 closed

[2018-04-09 23:02] Rick-Anderson opened #5913 "Document Microsoft.AspNetCore.app"
Update [Microsoft.AspNetCore.All metapackage](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage) to point out the App meta package is the recommended package.

See:
* https://github.com/aspnet/Announcements/issues/287
* [Exploring the Microsoft.AspNetCore.App shared framework in ASP.NET Core 2.1 ](https://andrewlock.net/exploring-the-microsoft-aspnetcore-app-shared-framework-in

[2018-04-09 23:47] #5646 closed

[2018-04-10 00:31] Rick-Anderson commented on #5913
dup of #5884

[2018-04-10 00:31] #5913 closed

[2018-04-10 01:51] isaac2004 commented on #3463
@Rick-Anderson would it make sense to take that jQuery section from that older doc, turn it into an include and put it in all of the web api pages? You could than reuse the same sample code (as JS won't change unless you want to show fetch() or something) in the following places

* [Get Started with ASP.NET Web API 2 (C#)](https://docs.microsoft.com/en-us/aspnet/web-api/overview/getting-started-wi

[2018-04-10 01:53] Rick-Anderson commented on #3463
@isaac2004  I don't think you can share includes across aspnet and aspnetcore. Why don't you make an include and share it with the last 3. No need to change anything.

[2018-04-10 01:55] isaac2004 commented on #86
@Rick-Anderson @danroth27 is this still valid? From what I gather is that the original request was how to build an OWIN middleware to use OAuth2, is that correct?

[2018-04-10 02:10] Rick-Anderson commented on #86
@isaac2004  look at what `@Tratcher` posted.

[2018-04-10 02:27] danroth27 opened #5915 "Document that "page" is a reserved route value for Razor Pages"
The term `page` (like `controller`, `action`, and `area`) is reserved for routing in Razor Pages. It doesn't look like we have this documented anywhere.

[2018-04-10 04:06] Rick-Anderson opened #5917 "Fix MarkDig missing bookmark bug"
aspnetcore/fundamentals/configuration/index.md | Illegal link: `<a href="mvc/views/razor.md#using">using directive</a>` -- missing bookmark. The file mvc/views/razor.md doesn't contain a bookmark named using.
-- | --

[2018-04-10 04:32] #5917 closed

[2018-04-10 14:41] #5888 closed

[2018-04-10 18:14] Rick-Anderson opened #5922 "Add doc section:Enable using a Cookie Session Store from DI"
From https://github.com/aspnet/Security/pull/1719

@HaoK

we should have an explicit section recommending this pattern of how to configure options instances with things from DI in this doc maybe? https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options

[code]

[2018-04-10 18:17] HaoK commented on #5922
We can also demonstrate a new in 2.1 API ConfigureOptions here as well maybe:

`services.ConfigureOptions<UseSomethingFromDI>` instead of `services.AddTransient<IConfigureOptions<YourOptions>, UseSomethingFromDI>();`, this uses reflection to basically do the same thing and also lets UseSomethingFromDI configure multiple option types if desired.

[2018-04-10 18:44] HaoK commented on #5922
Maybe this should go into a separate bug, but another good 2.1 options feature to doc eventually is the new `IOptionsBuilder` and related overloads, see https://github.com/aspnet/Security/issues/1718#issuecomment-380204790 its related to this general idea of being able to more easily configure options with things from DI

[2018-04-10 18:59] Rick-Anderson opened #5924 "Doc new IOptionsBuilder and related overloads"
From #5922
another good 2.1 options feature to doc eventually is the new `IOptionsBuilder` and related overloads, see https://github.com/aspnet/Security/issues/1718#issuecomment-380204790 its related to this general idea of being able to more easily configure options with things from DI

[2018-04-10 19:49] rachelappel opened #5925 "signalr/intro-security"
SignalR Security Concepts
  Authentication and authorization
  The client connection
Rejoin groups when reconnecting
Prevent Cross-Site Request Forgery
  CSRF mitigations taken by SignalR
SignalR Security Recommendations
  Secure Socket Layers (SSL) protocol
  Don't use groups for security
  Safely handle input from clients
Change in user status

[2018-04-10 21:00] rhires opened #5927 "Angular Project Template does not work with `ng` commands"
## Issues with Existing Topic

https://docs.microsoft.com/en-us/aspnet/core/spa/angular?tabs=netcore-cli

This comment is as of April 7, 2018, and pretty much spells out the issue:

Well... This is no good... Installed .NET Core SDK 2.1.

Ran "dotnet new angular -o myproject"

went to the newly created directory and ran NPM install.

*Everything is great... ran the application and it loads on my w

[2018-04-10 21:13] Rick-Anderson opened #5928 "Update banner on aspnet-core docs"
Make our banner custom like .NET
![image](https://user-images.githubusercontent.com/3605364/38583870-22614efc-3cb0-11e8-955a-ed28cb40d8b9.png)

[2018-04-10 21:16] Rick-Anderson commented on #5928
@danroth27  please review banner links

[2018-04-10 21:49] Rick-Anderson opened #5929 "Add version moniker to RP (Razor Pages) content"
monikerRange: '>= aspnetcore-2.0'

[2018-04-10 21:57] #5870 closed

[2018-04-10 22:08] guardrex opened #5931 "Add link in the layout page of the RP tutorial sample"
Add the link to the schedules page (in the layout page) to the File Uploads step of the RP tutorial.

tutorials/razor-pages/razor-pages-start/sample/RazorPagesMovie/Pages/_Layout.cshtml

Possibly need to add a link to the Movies page to the layout page where the Movie page is added to the app.

[code]