[2016-07-15 20:29] danroth27 commented on #1668
We've also moved away from using gulp in our default templates for bundling and minification.

[2016-07-15 20:34] danroth27 commented on #1666
Fixed 99521639f764933601968aeacf8f3ceb9b5088a4

[2016-07-15 20:34] #1666 closed

[2016-07-15 21:05] dougbu commented on #1680
@danroth27 the bit you quoted is correct but covers one of four possible formats for dictionary elements. The other formats are `parameter_name[0].Key=key&parameter_name[0].Value=value`, `parameter_name[].Key=key&parameter_name[].Value=value`, and `parameter_name.index=32&parameter_name[32].Key=key&parameter_name[32].Value=value`. As with the illustrated format, `parameter_name` can be left out fo

[2016-07-15 21:07] danroth27 commented on #1680
Dup of https://github.com/aspnet/Docs/issues/1080

[2016-07-16 10:15] vusikhz commented on #95
I think it takes longer, than I personally expected. I would like to review and contribute

[2016-07-16 10:43] vusikhz commented on #95
Reviewing and contributions, we are waiting to do. vusikhz180@gmail.com

[2016-07-16 14:57] Abdullah2993 opened #1690 "Will there be Documentation and/or Guide for Microsoft.Extensions"
As of right now only API reference is available in docs.
Will there be proper Documentation and Guides for using `Microsoft.Extension.*` so that they can be use separately for `AspNetCore`

Especially for `Microsoft.Extensions.DependencyInjection`,  `Microsoft.Extensions.Configuration`, `Microsoft.Extensions.Logging` and `Microsoft.Extensions.Options`

[2016-07-16 18:43] jasontooke commented on #1151
You may also want to remove the loader from .bash_profile. It looks like this;

`[ -s "/Users/username/.dnx/dnvm/dnvm.sh" ] && . "/Users/username/.dnx/dnvm/dnvm.sh" # Load dmvm`

[2016-07-16 22:19] kjsdad commented on #95
How is it possible for Microsoft to release a complete diversion with core and have no realistic working examples of core web api, entity framework, azure, mobile services, security, etc.   It seems like having a basic functioning end to end solution that get's upgraded with new technology releases would be no problem whatsoever for the creators of the framework.   This would provide the necessary

[2016-07-18 15:33] GuardRex commented on #1690
Those are covered at https://docs.asp.net/en/latest/ ... were you looking for something beyond the ASP.NET Core docs?

[2016-07-18 21:37] danroth27 commented on #1690
Microsoft.Extensions.* are covered in various parts of the ASP.NET Core docs (ex Configuration, Logging, DI, etc.). While these components can technically be used independently of ASP.NET Core we consider them part of the ASP.NET Core family of components.

[2016-07-18 21:37] #1690 closed

[2016-07-19 07:56] kierenj commented on #1307
Anything you can do here is massively appreciated.  I'm just trying to create a from-scratch ASP.NET Core / Web API project, doing things as correctly as possible.  Finding out how to correctly initialise things is proving a real challenge.  `IStartup` looks much more grown-up than a magic class with public properties, thank you.

Where's the best place to ask about how to actually do configuratio

[2016-07-19 08:07] davidfowl commented on #1307
The configuration API is just like any other API you can use in your application. UseConfiguration on the `WebHostBuilder` is about configuring specific ASP.NET options (like the environment, or the urls) from some configuration object that you're providing. It does not hook up your user configuration to anything.

What are you trying to configure?

[2016-07-19 09:27] kierenj commented on #1307
I'm trying to understand how to configure ASP.NET Core, from first principles.  I didn't know that `UseConfiguration` was for environment or URLs (there's `UseEnvironment` I think?) - so that kind of info is what I'm looking for.

So basically nothing in the docs (that I stumbled across in a few hours so far):

* Tells me what the default configuration sources are (if any)
* Indicates how you asso

[2016-07-19 20:34] danroth27 commented on #95
@kjsdad Have you looked at the [MVC getting started tutorial](https://docs.asp.net/en/latest/tutorials/first-mvc-app/index.html)? It doesn't include identity yet, but we are in the process of adding it. You can also take a look at the [Music Store](https://github.com/aspnet/musicstore) app as an example of a larger ASP.NET Core based application.

[2016-07-20 13:19] pavlos256 opened #1695 "first-web-api sample: extraneous call to TryGetValue on Remove() method"
[Looks like a leftover](https://github.com/aspnet/Docs/blob/master/aspnet/tutorials/first-web-api/sample/src/TodoApi/Models/TodoRepository.cs#L38) from copying the Find() method.

[2016-07-20 16:57] shirhatti commented on #1592
- [ ] `aspnet/security/data-protection/consumer-apis/purposes-multi-tenancy/` should be renamed to `aspnet/security/data-protection/consumer-apis/purpose-strings-multitenancy/`
- [ ] `aspnet/performance/caching/response-caching/` should be renamed to `aspnet/performance/caching/response/`

[2016-07-20 18:09] Rick-Anderson commented on #1695
dup of #1380

[2016-07-20 18:09] #1695 closed

[2016-07-21 03:20] Rick-Anderson commented on #1592
@shirhatti  I know how to look at the task list, no need to copy -:) I fixed those with #1600
So can we close this issue now?

[2016-07-21 13:48] jorgeyanesdiez commented on #1162
+1 for this, I'm trying to get rid of the EF dependency and this would come handy.

[2016-07-21 17:42] shirhatti commented on #1592
Sorry. I misunderstood what you said.
I haven't had a chance to review. I'll re-run the script later today and let you know :)

[2016-07-22 05:10] eByte23 opened #1704 "When downloading the html docs loading is slow and search doesn't work"
I would like to be able to download the docs for offline use.

Currently I can download in html format which shows a search box but it doesn't work.
I would like to be able to use this.

Also it takes and extremely long time time "finish" loading. It displays the page but its very gittery until the version box in the bottom left shows

[2016-07-22 14:20] justin-echternach commented on #96
Could you send me an early draft of this topic?

[2016-07-22 17:45] Rick-Anderson commented on #294
@danroth27  can you be more specific?  We do have https://docs.asp.net/en/latest/fundamentals/middleware.html#additional-resources which point to https://docs.asp.net/en/latest/migration/http-modules.html
do we need something like that for message handlers? Should this info go in https://docs.asp.net/en/latest/fundamentals/middleware.html>

[2016-07-22 17:48] Rick-Anderson opened #1705 "/fundamentals/middleware.rst /fundamentals/middleware.html"
- [ ]  UE review
- [ ] See http://developer.telerik.com/featured/understanding-asp-net-core-initialization/
- [ ] you can also have services injected into the Invoke method

[2016-07-22 17:49] Rick-Anderson commented on #1705
From http://developer.telerik.com/featured/understanding-asp-net-core-initialization/
see his configure section which is more clear/elegant

[2016-07-22 17:51] Rick-Anderson commented on #1705
@EdCharbeneau can I copy info from your blog and list you as an author? Would you be willing to review the changes?

[2016-07-22 18:13] Rick-Anderson commented on #1704
-  I've confirmed that search does not work but that's expected for HTML. The ePub and PDF readers should offer search.
- loading for me was fast with chrome and slow with Edge and IE. We'll investigate.

[2016-07-22 20:50] danroth27 commented on #294
I think this would be a new topic under the migration node. It probably should be part of a broader set of content that general covers migrating from ASP.NET Web API to ASP.NET Core. So maybe: `/migration/web-api/message-handlers.html`.

[2016-07-22 22:29] bryansmi commented on #95
I am a developer working with Xamarin and I would like to contribute/help review this content.

mail: bryanj.smith91@gmail.com

[2016-07-22 22:37] Rick-Anderson opened #1706 "New topic Viewmodels & automapper"
We've had many requests for guidance on view models
- [ ] Best practices
- [ ] Automapper
- [ ] Sample

[2016-07-22 22:58] PeterBocan commented on #117
Any updates on this issue? I would appreciate some documentation on this topic :) ... would older documentation work until then?

[2016-07-23 03:26] danroth27 commented on #117
It's in progress

[2016-07-25 02:53] jackjwilliams commented on #95
Lots of talk on this issue for over a year but no results. What needs to be done here? williams.jackj@gmail.com

[2016-07-25 03:57] marchy commented on #950
Any progress on this now that RTM is out?

[2016-07-25 04:34] GuardRex commented on #950
@marchy The `publish-iis` tooling will create the correct log path in your `web.config` for Azure App's `LogFiles` folder.

https://github.com/aspnet/IISIntegration/blob/dev/src/Microsoft.AspNetCore.Server.IISIntegration.Tools/WebConfigTransform.cs#L88

https://docs.asp.net/en/latest/publishing/iis.html#publish-iis-tool

[2016-07-25 16:01] danroth27 commented on #95
There is a bunch of work happening with our Xamarin friends to get the right content and tooling out for using ASP.NET Core + mobile. Stay tuned.

[2016-07-25 21:01] GuardRex opened #1721 "Forwarded action for UseExceptionHandler() is not documented in Error Handling"
@ardalis @Rick-Anderson @kichalla

Referring to https://github.com/aspnet/Diagnostics/issues/320, I wanted to run an idea by you to add something to the Error Handling doc at ...

https://docs.asp.net/en/latest/fundamentals/error-handling.html?highlight=useexceptionhandler#configuring-an-exception-handling-page

The HTTP verb of the request is going to be forwarded to the path provided to `app.Use

[2016-07-25 21:59] Rick-Anderson commented on #89
@spboyer take a look

[2016-07-25 21:59] Rick-Anderson commented on #89
@blowdart @rynowak please review this request antiforgery doc plan:

[2016-07-25 22:06] blowdart commented on #89
Yes, that's a doc plan :D

I'd like to see getting the form token part in javascript, rather than having to write a form

[2016-07-26 00:03] Rick-Anderson opened #1722 "mvc/views/dependency-injection Injecting Services Into Views"
- [ ]  UE review
- [ ]  Incorporate DISQUS
- [ ] Show how to use @inject so you  replace the `Html` property with your own set of HTML helpers.

[2016-07-26 00:06] Rick-Anderson commented on #1722
If you inject a property that already exists on your Razor page and has been ``@injected`` before, or is one of the following properties:

- Html
- Json
- Component
- Url
- :dn:cls:`~Microsoft.AspNetCore.Mvc.ViewFeatures.ModelExpressionProvider`

Your ``@inject`` statement will override that property and it will be available as the overridden type.

[2016-07-26 00:33] ctolkien opened #1723 "Sample for creating cache profile doesn't actually contain a sample."
https://docs.asp.net/en/latest/performance/caching/response.html

Defines a route for Mvc, does not actual cover any code that configures a cache profile.

![image](https://cloud.githubusercontent.com/assets/515955/17122140/50fb99f4-531c-11e6-98b6-089638c7a0f6.png)

[2016-07-26 20:33] Rick-Anderson commented on #95
@spboyer  This is our highest priority request.

[2016-07-27 19:13] spboyer commented on #1576
Is this just the `yo aspnet` walk through for a web app?

[2016-07-27 19:26] Rick-Anderson commented on #1576
we need that too ( a non Visual Studio version of https://docs.asp.net/en/latest/tutorials/first-web-api.html)

This issue is for a non VS version of https://docs.asp.net/en/latest/tutorials/first-mvc-app/index.html

[2016-07-27 19:29] Rick-Anderson commented on #1576
#1215 is the Web-API issue @spboyer

[2016-07-27 20:49] spboyer commented on #1215
For non-vs examples, do we want to use `yo aspnet` or `dotnet new`? or show both?

@DamianEdwards @danroth27

[2016-07-27 21:47] Rick-Anderson commented on #1723
@ctolkien  thanks for letting us know. Can you check my fix? You might need to ^F5 so you don't get a cached copy.

[2016-07-27 21:47] #1723 closed

[2016-07-28 04:14] Rick-Anderson opened #1735 "security/cors.rst "Enabling Cross-Origin Requests (CORS)""
- [x] Update for RTM

[2016-07-28 12:08] ardalis commented on #1706
I'd like to take this one when it comes time.

[2016-07-28 21:05] Rick-Anderson commented on #862
@exceptionnotfound would love a PR from you on this or I could copy some of your blog and add you to the authors list.

[2016-07-28 21:14] ardalis commented on #862
For the list of services, there's this, too, that I could merge in if you'd like:
http://ardalis.com/how-to-list-all-services-available-to-an-asp-net-core-app

IIRC I had a list way back in the beta8 days when this article was first published, but it was removed after review feedback.

[2016-07-28 21:21] exceptionnotfound commented on #862
@Rick-Anderson I'm not 100% sure on how to do a PR on GitHub (we're not using it yet) so if you want to add pieces of that blog post to the docs and add me to the authors list, that'd be fine by me.

[2016-07-29 20:36] spboyer commented on #1117
There are currently no references to ASPNET_ENVIRONMENT in the repo or samples. Can we close this? @rachelappel @danroth27

[2016-07-29 22:55] NTaylorMullen commented on #130
https://github.com/aspnet/Docs/commit/260f34d05cc9eb3560be1c40a83de57091f13dad

[2016-07-29 22:55] #130 closed

[2016-08-01 02:18] zhouhao27 opened #1739 "How to open first-web-api project?"
I didn't find any VS project file. Also my VS doesn't have an option to create a web-core-api template. What should I do? Thanks.

[2016-08-01 05:17] wangkanai commented on #97
Any progress on building mobile specifics views documentation?

[2016-08-01 09:23] Aghyad-Khlefawi opened #1740 "IIS hosting HTTP Error 502.5 - Process Failure"
i'm trying to host my application using IIS , but the application is not starting
i'm getting the HTTP Error 502.5 - Process Failure  error
and in the event viewer it's logging this error :
Failed to start process with commandline '"" ', ErrorCode = '0x80070057'
From the Source : IIS AspNetCore Module

even though the application is working when i run the .exe and use Kestrel

i also installed .NE

[2016-08-01 09:33] Aghyad-Khlefawi commented on #1740
The application is working now, but previously i was using a virtual directory on IIS to host the application and when i created a new website without a virtual directory the application worked,
is there is any way to make it work in the virtual directory ?

[2016-08-01 14:46] #1740 closed

[2016-08-01 16:00] wangkanai opened #1742 "Building Mobile Specific Views"
Could somebody help out in writing the documentation for Building Mobile Specific Views please :+1:

[2016-08-01 16:02] wangkanai commented on #1742
[Docs/aspnet/mvc/views/mobile.rst](https://github.com/aspnet/Docs/blob/master/aspnet/mvc/views/mobile.rst)

[2016-08-01 19:56] Rick-Anderson commented on #1176
dup of #1673

[2016-08-01 19:56] #1176 closed

[2016-08-01 19:57] Rick-Anderson commented on #950
dup of #1673

[2016-08-01 19:57] #950 closed

[2016-08-01 20:00] Rick-Anderson opened #1744 "deploy EF/MVC core Azure"
- [ ]  migrations
- [ ]  links to logging

[2016-08-02 06:14] DamianEdwards opened #1749 "Add a doc for configuring on-prem TFS to build ASP.NET Core projects"

[2016-08-02 08:59] KiarashS opened #1750 "Change Default Port in ASP.NET MVC Core Kestrel"
Dear,

I want change default port in ASP.NET MVC Core Kestrel from 5000 to 80 in Ubuntu, How i can do this work?

Thanks

[2016-08-02 14:21] bennedik opened #1751 "client-side/using-gulp.rst "Using Gulp""
On the page https://docs.asp.net/en/latest/client-side/using-gulp.html
you write:

The project template does no longer include Gulp nor npm. The documentation is out of date.

[2016-08-02 16:50] #1117 closed

[2016-08-02 16:52] Rick-Anderson commented on #1742
dup of #97

[2016-08-02 16:52] #1742 closed

[2016-08-02 16:56] Rick-Anderson commented on #1751
@danroth27 should we update the doc or just delete it?

[2016-08-02 17:00] spboyer commented on #1750
@KiarashS
[code]

There is a pending document for all the hosting options should be published very soon.
@ardalis

[2016-08-02 17:01] Rick-Anderson commented on #1750
It's documented in https://github.com/aspnet/Docs/pull/1702 which will be published soon in fundamentals/hosting.

[2016-08-02 17:01] #1750 closed

[2016-08-02 17:05] Rick-Anderson commented on #1749
@DamianEdwards  who's the dev contact?

[2016-08-02 17:12] Rick-Anderson commented on #1739
Open project.json
Sounds like you don't have tooling installed if you don't get the Web API and Web App.
Follow the install instructions at https://docs.asp.net/en/latest/tutorials/first-mvc-app/start-mvc.html

[2016-08-02 17:12] #1739 closed

[2016-08-02 17:15] Rick-Anderson commented on #1721
@kichalla can you review this?

[2016-08-02 17:33] GuardRex commented on #1721
... and my OP doesn't make complete sense (i.e., returning a View for non-GET verbs, like PUT or DELETE). It might be better to show something more like ...

If your application receives request verbs other than GET and you intend to handle them collectively, don't specify the action attribute on the `IActionResult`:
[code]
or specify all of the verbs explicitly that you intend to cover. For examp

[2016-08-02 18:30] bennedik commented on #1751
It should still be useful to have documentation about how to use Gulp.

Looking at the current project template for an MVC Core application, any package added with Bower is written directly into the wwwroot/lib folder, and deployed to the server.
For many packages this will include samples and other things, that should definitely not be deployed.

Therefore I almost find the project template unusa

[2016-08-02 20:14] muratg opened #1752 "Handling System.Web to Core [best practices]"
_From @narenkv on July 20, 2016 5:11_

Hello all,

Is there any best practices or steps or senarios which would help people to migrate from .NET 4.x.y versions.

Responding this will help many people in the world :-)

/Naren

_Copied from original issue: dotnet/corefx#10166_

[2016-08-02 20:14] muratg commented on #1752
_From @lextm on July 20, 2016 13:23_

Have you gone through these?

https://docs.asp.net/en/latest/migration/index.html

If not, you should. Issues or questions on those materials can be submitted to

https://github.com/aspnet/Docs/issues

[2016-08-02 20:14] muratg commented on #1752
_From @narenkv on July 20, 2016 23:4_

Hello Lextm

Yes, But it helps to one extent. however the alternatives and not clearly articulated. Example System.Web references how to handle is not given. May be a sample conversion project with bare minimal code is shared will be of great help

Also heading mentions the documentation is limited to .0.0-rc2 versions and updates are yet to come.

/Naren

[2016-08-02 20:14] muratg commented on #1752
_From @joshfree on August 2, 2016 19:45_

@muratg can you help route this to an asp.net repo?

[2016-08-02 20:18] muratg commented on #1752
@narenkv not sure what you mean with "example System.Web references how to handle". System.Web is not used anymore, if that's what you're asking.

[2016-08-03 04:29] narenkv commented on #1752
Hello muratg,

Yes, We are looking for a example implementation.

/Naren

[2016-08-03 06:44] davidfowl commented on #1752
This needs to be a thing that gets built up based on specific scenarios. ASP.NET Core is a different framework so it would be good to explain exactly what you're trying to convert.

[2016-08-03 13:26] #929 closed

[2016-08-03 14:15] spboyer commented on #869
@RickAndMSFT can you add this to the recent changes you made?

[2016-08-03 15:15] GuardRex opened #1756 "Expanded coverage for .ConfigureServices()and .Configure() on WebHostBuilder?"
@ardalis @Rick-Anderson @danroth27

@bluemmc points out in https://github.com/aspnet/Hosting/issues/820#issuecomment-237154466 that the ability to setup `.ConfigureServices()` and `.Configure()` on `WebHostBuilder` is lightly mentioned in the docs. I've been enjoying the pattern for a long time, and I agree that more devs might like it if they just knew a little more about it (e.g., see https://gi

[2016-08-03 16:35] Rick-Anderson commented on #1756
@davidfowl  can you comment?

[2016-08-03 17:06] Rick-Anderson opened #1757 "mvc/views/view-components.rst "View Components'"
- [ ] [View Components as Tag Helpers](https://blogs.msdn.microsoft.com/webdev/2016/11/16/announcing-asp-net-core-1-1/)
- [ ] Update code to use interface/repository pattern

[2016-08-03 17:56] colin-young commented on #829
Better examples of what various configuration files would look like should be provided. In particular, an example of an XML configuration file would be helpful. Is it the same as the traditional `app.config`/`web.config` files? I have been unable to find anything addressing that. I understand we're all excited about JSON files, but sometimes your customers have built up a level of comfort or exper

[2016-08-03 19:50] wjzhou opened #1759 "Can't access the https://doc.asp.net site"
When opening the doc site https://docs.asp.net. The following page is shown:

   \          SORRY            /
         \                         /
          \    This page does     /
           ]   not exist yet.    [    ,'|

Is that just me or do I access the wrong url?

[2016-08-03 19:52] leosbrf commented on #1759
Same here. What has happened?

[2016-08-03 20:29] scotmeiste commented on #1759
it appears to be back up now.

[2016-08-03 20:44] pablotdv commented on #1759
It seems that back

[2016-08-03 21:30] wjzhou commented on #1759
It works for me too.

[2016-08-03 21:30] #1759 closed

[2016-08-03 22:07] PRIYASWAMINATHAN commented on #95
We have a UWP application with a SQLite store using Entity Framework Core and would like to use Offline Sync to synchronize data between client devices and SQL Server using an ASP.NET Core azure mobile app using the same Entity Framework Core data model (shared with UWP app). Is this presently possible?

[2016-08-03 22:20] Rick-Anderson commented on #95
@PRIYASWAMINATHAN  this is now a Q/A forum. Can you post that to StackOverflow?

[2016-08-03 22:39] kjsdad commented on #95
Priya,
i would love to see your app.   can I download it from github?   Perhaps we can share progress with offline async functionality.

Thanks,

Kevin Herbert
kevin@ioutsource.com <mailto:kevin@ioutsource.com>
c:208-870-7174
f:208-922-7589

Kevin Herbert
c:208-870-7174
f:208-922-7589

__________________________
Kevin Herbert
iPhone: 208.870.7174
fax: 208.922.7589
email: kevin@ioutsource.com <mail

[2016-08-04 00:26] Rick-Anderson commented on #1461
After updating this with Postman I was shocked at how much better it is for testing Web-API than fiddler.

[2016-08-05 17:37] muratg opened #1764 "Can we get documentation on sub-application support in .net core?"
_From @wpostma on August 5, 2016 17:5_

It seems that deploying  sub-applications in IIS, with .net core 1.0 are not documented.

Sub-apps are referenced elsewhere in other issues:
https://github.com/aspnet/IISIntegration/issues/190

There's no full working example and no IIS configuration and example code or docs for it yet.  Or if there is, my google-fu is failing me.

_Copied from original issu

[2016-08-05 17:37] muratg commented on #1764
_From @wpostma on August 5, 2016 17:7_

Here's where I think that docs might have existed:
https://docs.asp.net/en/latest/publishing/iis.html

[2016-08-05 17:37] muratg commented on #1764
_From @GuardRex on August 5, 2016 17:14_

Good idea for the sample, and I'll put this on my list for the next Publishing to IIS doc update, which is coming soon.

[2016-08-06 06:46] SeayXu opened #1765 "The :dn: directive how work?"
# Description
I want to konw how :dn: directive work in `*.rst` files?

for example:
[code]

# Environment

| Name | Version |
|---:|:---|
| OS |  Windows 10 |
| Python: | 2.7.11 |
| Sphinx | 1.4.5 |

[2016-08-06 10:46] #1765 closed

[2016-08-06 10:49] SeayXu commented on #1765
if you have the same problem,only update sphinxcontrib-dotnetdomain
[code]

[2016-08-08 03:28] stephen-nba commented on #1749
I can't get my solution to build to TFS 2015 Update 3 on-prem.

[code]

Yet if I go to the build server and run msbuild manually it works fine:

[code]

Also, version gives:

[code]

I have just used the Visual Studio Build task without changing anything. What gives?

[2016-08-08 15:55] ardalis commented on #1756
I had this covered in an earlier draft of the Hosting doc. Maybe it could be a separate, more advanced topic on configuring that we could link to from the fundamentals topic?

[2016-08-08 16:57] GuardRex commented on #1756
Another possibility (which is prob a bad idea, but let's consider it for a sec) would be to mention this where the `Startup` class is covered at https://docs.asp.net/en/latest/fundamentals/startup.html. It could be a section at the end of that document.

The current note states ...

If they go to the `Startup` doc at that point, the reader will just get `Startup` class info (no example of the alte

[2016-08-08 20:13] spboyer commented on #245
Can we close this issue? Docker on Windows appears to be pretty solid now.
@SteveLasker @danroth27

[2016-08-08 22:29] SteveLasker commented on #245
Yeah, we should start directing customers to Docker for Windows.

[2016-08-09 12:06] westonpace commented on #135
@Rick-Anderson That solution works great.  For users of 1.0.0 onwards it is now...

            services.Configure<MvcOptions>(options => {
                options.Filters.Add(new RequireHttpsAttribute());
            });

[2016-08-09 15:19] spboyer commented on #245
Please use this for developing on Windows: https://docs.docker.com/docker-for-windows/

[2016-08-09 15:19] #245 closed

[2016-08-09 18:16] Rick-Anderson commented on #1756
@davidfowl is there a use case for this?

[2016-08-09 18:17] Rick-Anderson commented on #1721
@kichalla is this worth adding?

[2016-08-09 18:22] kichalla commented on #1721
Sorry for the delay in reviewing this. Yes, I think its worth adding. Probably we should just add the following section to keep it less verbose and mentioning to not explicitly decorate with http method attributes as the whole app is going to use this single action and having explicit verbs could prevent reaching this action for some requests.

[code]

[2016-08-09 19:57] aggieben opened #1770 "mvc/controllers/filters.html#filter-scopes - incorrect method for adding global filter"
The documentation here: https://docs.asp.net/en/latest/mvc/controllers/filters.html#filter-scopes describes the way of adding global filters like this:

[code]

The second method whereby a user would add an _instance_ of a filter to the filter collection is not supported in the current released version (1.0.0).

[2016-08-09 20:10] Rick-Anderson opened #1771 "Configuring apps from the host (HostBuilder)"

[2016-08-09 20:13] Rick-Anderson commented on #95
@danroth27 @spboyer  can we set up a design meeting with @ardalis? He's starting on this next.

[2016-08-09 20:16] danroth27 commented on #1756
I agree that we should cover the .Configure and .ConfigureServices on WebHostBuilder. I don't think these should go into a more advanced topic - these methods are actually for simple use cases, not advanced ones. I think it would make sense to cover these in Startup article.

[2016-08-09 20:48] ardalis commented on #1756
Some scenarios I see:

- Add services in WHB.ConfigureServices which are then available to Startup ctor and Configure methods
- Call WHB.ConfigureLogging so that logging is available to all Startup methods (via DI)
- Use WHB Configure and ConfigureServices to easily set up hosts for integration tests (this is already covered somewhat in Testing Controllers but is buried in the sample code: https:/

[2016-08-10 18:12] Rick-Anderson commented on #1771
At this point we don't want to expand on this topic.

[2016-08-10 18:12] #1771 closed

[2016-08-10 18:13] danroth27 commented on #1756
I spoke with @davidfowl and we think what we have already in the [Hosting](https://docs.asp.net/en/latest/fundamentals/hosting.html) doc on these methods is sufficient. Most people should use a Startup class.

[2016-08-10 18:13] #1756 closed

[2016-08-10 18:19] Rick-Anderson commented on #1764
@GuardRex  would you be able to do this? You could add it to https://docs.asp.net/en/latest/publishing/iis.html
We could consider making this a separate topic.

[2016-08-10 18:23] Rick-Anderson commented on #1721
@GuardRex  did you want to add this?

[2016-08-10 18:24] GuardRex commented on #1721
Sure ... I'll get it in today.

[2016-08-10 18:33] GuardRex commented on #1764
Yes. I think I can cover it concisely in there similar to the way I have it in the IIS Hotline doc on Slack.

I'll also add one troubleshooting entry to cover when a dev has repeated the <handlers> section in the sub-app.

I have two other minor updates, too. I'll put up an issue first to cover/discuss the updates later today. I think the two minor ones are just language updates, so they might go

[2016-08-11 17:52] ardalis commented on #113
@Rick-Anderson for the last section on 'Using MVC for Web Apps and Web APIs` are we thinking this should be a 'hello world' walkthrough of setting up an MVC app? If not, what should be included in this section (we have walkthroughs elsewhere)?

[2016-08-11 19:57] ardalis commented on #113
See PR https://github.com/aspnet/Docs/pull/1774

[2016-08-11 21:01] spboyer commented on #89
Document Plan

- [ ] Combine [Web API ](http://www.asp.net/web-api/overview/security/preventing-cross-site-request-forgery-csrf-attacks) and [MVC ](http://www.asp.net/mvc/overview/security/xsrfcsrf-prevention-in-aspnet-mvc-and-web-pages) XSRF/CSRF Prevention into one asp.net core article
- [ ] Show snippets from [Angular JS with Antiforgery middleware ](http://www.fiyazhasan.me/angularjs-anti-forg

[2016-08-11 21:37] Rick-Anderson commented on #113
I don't think we should just point to https://docs.asp.net/en/latest/tutorials/first-web-api.html for the Web API portion.   For MVC https://docs.asp.net/en/latest/tutorials/first-mvc-app/index.html is long. @danroth27  what do you recommend? I don't think we want to include a MVC sample in this article. cc / @spboyer

[2016-08-11 22:53] #1721 closed

[2016-08-12 21:43] scottaddie commented on #1751
@Rick-Anderson My opinion is that there's still value in having Gulp documentation; and, the [Bundler & Minifier extension](https://visualstudiogallery.msdn.microsoft.com/9ec27da7-e24b-4d56-8064-fd7e88ac1c40) provides an option to revert back to Gulp. When your development workflow needs become more complex, Bundler & Minifier falls short.

[2016-08-13 00:38] #1764 closed

[2016-08-13 17:53] back5576 opened #1782 "New to ReadTheDocs - wish to understand use of Travis CI"
Browsing around I see the .travis.yml file. It invokes sphinx-build

My limited understanding is that ReadTheDocs can automatically rebuild from GitHub. Is the use of Travis CI a replacement for that? And if so, is it better? Gives one more control?

[2016-08-15 17:26] muratg commented on #1764
Thanks @GuardRex!

[2016-08-15 18:07] #987 closed

[2016-08-15 18:08] Rick-Anderson commented on #1782
No, we just do it for validation.

[2016-08-15 18:08] #1782 closed

[2016-08-15 19:14] spboyer commented on #1561
There isn't any update needed for the doc, there is a related comment in the chain related to starting your application with a specific ENV - https://github.com/aspnet/Home/issues/1595#issuecomment-231829737

I believe that this can be closed.

cc:/ @Tratcher

[2016-08-15 19:22] spboyer commented on #1244
@scottaddie - are you still working on this

[2016-08-15 19:37] danroth27 commented on #1510
We now point to http://microsoft.com/net/core, which is sufficient.

[2016-08-15 19:37] #1510 closed

[2016-08-15 19:53] spboyer opened #1786 "Update Bundling and Minification"
- [ ] Update Gulp & Grunt portions
- [ ]  Add Bundler Minifier : https://visualstudiogallery.msdn.microsoft.com/9ec27da7-e24b-4d56-8064-fd7e88ac1c40 and https://github.com/madskristensen/BundlerMinifier
- [ ] Update to match current templates
- [ ] Break in to Intro, 3 sub parts Bundler Minifier, Gulp, Grunt
- [ ] Covers #1751

cc @danroth27

[2016-08-15 19:54] spboyer commented on #1786
@madskristensen - any additions?

[2016-08-15 19:55] spboyer commented on #1786
covers #1751

[2016-08-16 02:45] scottaddie commented on #1244
@spboyer I've hit a brick wall with this. There's a known issue in the Manage Bower Packages dialog which is causing me trouble. Either the fotorama example has to be replaced with something else, or this issue needs to be fixed. According to Joe Davis' comment [here](https://github.com/aspnet/Tooling/issues/506), only the top 1,000 packages are displayed in the Manage Bower Packages UI. I suspect

[2016-08-16 13:43] spboyer commented on #1244
@scottaddie - need to wait until there is a fix perhaps for the package manager

[2016-08-16 18:49] danroth27 commented on #1244
@madskristensen

[2016-08-17 01:45] #113 closed

[2016-08-17 16:47] Rick-Anderson opened #1791 "mvc/views/razor "Razor Syntax Reference""
- [ ] remove "The following sample show all the Razor reserved words escaped:"

[2016-08-17 20:03] ardalis commented on #113
Fixed by #1774

[2016-08-17 23:17] #1735 closed

[2016-08-18 08:18] MJunak commented on #95
I am would like to review and contribute marius.junak@gmail.com

[2016-08-18 13:28] Psylocybit commented on #95
I am available to review and contribute; floyd.t.steven@gmail.com

[2016-08-18 19:06] vaindil opened #1795 "fundamentals/routing - clarify use of attributes"
As discussed in [this SO question](https://stackoverflow.com/questions/39008789), routing in MVC only functions if one of these three conditions is met. All routes otherwise return a 404.
- BOTH the class AND action have a `[Route]` attribute.
- NEITHER the class NOR the action has a `[Route]` attribute.
- The `[action]` parameter is set inside the class route: `[Route("[controller]/[action]")]`.

[2016-08-18 19:53] ardalis commented on #1795
@Rick-Anderson I can make a PR with this update if you like. I think it's good to add. Assign me if you want me to take care of it.

[2016-08-18 23:31] Rick-Anderson commented on #1795
@ardalis I"ll take care of it, I'm working on routing now.

 * BOTH the class AND action have a `[Route]` attribute.

The following works fine with no decoration on the class.

[code]

@rynowak  looks like we do need to clarify, Should we update the fundamentals routing or the MVC routing and with what?

[2016-08-19 00:00] vaindil commented on #1795
Sorry, I should have worded it as "routing in MVC only appears to function if..."; I hardly know what I'm talking about. Thank you for the quick response, I greatly appreciate it!

[2016-08-19 02:31] Rick-Anderson commented on #1795
So it looks like the rule is:
 If you add the  [Route] attribute to a  controller, you indicate that you want to start building a new route; any routes set in startup don't apply. Therefore each action requires a route attribute.

[2016-08-19 15:13] rynowak commented on #1795
@Rick-Anderson - this is an MVC feature not related to routing fundamentals.

Actions in MVC are either conventionally routed **or** attribute routed. Placing a route on the controller **or** the action makes it attribute routed.

[2016-08-19 15:22] ardalis commented on #1795
@Rick-Anderson Also note that if you have a Route on a controller, you don't *have* to have it on the action, if the class attribute includes action in it.

[2016-08-19 15:36] daveabrock commented on #100
Is anyone working on this? I might be interested.

[2016-08-19 15:38] rynowak commented on #1795
This is not true. **any** route attribute on the controller makes **all** actions in the controller attribute routed, regardless of what constructs are used in the route.

[2016-08-19 16:03] danroth27 opened #1797 "Remove the need for the anonymous wrapper when a View Component has one parameter and the passed in argument is assignable to that parameter"
For cases like:

[code]

Instead of this:

[code]

You should be able to do this:

[code]

[2016-08-19 16:05] rynowak commented on #1797
But why would we document something that hasn't happened yet?

[2016-08-19 16:05] danroth27 commented on #1797
This issue was moved to aspnet/Mvc#5166

[2016-08-19 16:05] #1797 closed

[2016-08-19 17:17] ardalis commented on #1795
@rynowak Right, I was specifically addressing this from Rick's comment: "each action requires a route attribute". That's not necessarily true, right? If the controller route includes the action in it, the individual action methods do not each require a [Route] attribute (but are still going to use the route in the controller).

[2016-08-19 17:22] rynowak commented on #1795
This is not true. any route attribute on the controller makes all actions in the controller attribute routed, regardless of what constructs are used in the route.

[2016-08-19 23:27] Rick-Anderson opened #1798 "Spanish as the default language for fundamentals/localization.rst "Globalization and localization""
I want to use Spanish as the default language of my application and English as optional. I configured it all up. If I have two separate resx files for both Spanish and English the website runs as expected. But I don't want to include Spanish resx file, I want use the in-code strings (ie. Localizer). When I only include English resx file, the website uses it, ignores in-code strings.

[2016-08-19 23:28] Rick-Anderson commented on #1798
@ryanbrandenburg
I want to use Spanish as the default language of my application and English as optional. I configured it all up. If I have two separate resx files for both Spanish and English the website runs as expected. But I don't want to include Spanish resx file, I want use the in-code strings (ie. Localizer). When I only include English resx file, the website uses it, ignores in-code string

[2016-08-19 23:31] Rick-Anderson commented on #1798
@ryanbrandenburg  can you check the answer at https://docs.asp.net/en/latest/fundamentals/localization.html#comment-2842901156
Looks like that might solve the problem.

[2016-08-19 23:41] Rick-Anderson opened #1799 "Ubuntu versions of tutorials"
[customer asks](https://docs.asp.net/en/latest/getting-started.html#comment-2845326142):
I know Linux is less important initially than Windows or Mac, but would love to see more documentation focused on the Linux side of things, like taking the first ASP.NET core app on a Mac using Visual Studio Code and making a Linux (including Ubuntu, preferably) version of it. I'm primarily a Windows guy who i

[2016-08-21 19:17] 1amirjalai commented on #100
i'm interested too.

[2016-08-21 23:04] dealdiane commented on #1125
@Tratcher  which means that calling `AddEntryLink` has become redundant hence it was also removed? Is that right?

[2016-08-22 02:55] glangdonvt commented on #117
I'd be happy to be a test-subject for your documentation when you feel it's ready.  I'm about 200 hours into working with MVC/webapi after about 25 years of software engineering experience.  george@rcxrules.com.

[2016-08-22 12:30] ardalis commented on #1795
@rynowak Are you saying that any route attribute on the controller means all actions in that controller must have a [Route] attribute? I'm not questioning whether they're routed, only whether they require that attribute on them in the code.

[2016-08-22 13:41] Rick-Anderson commented on #1798
opened https://github.com/aspnet/Localization/issues/277

[2016-08-22 15:22] rynowak commented on #1795
I am saying exactly what I mean. ANY route attribute on the controller makes all actions in the controller attribute routed.

[code]

Both `MyController.Index()` and `MyController.About()` are attribute routed actions that will match the URL `foo`.

[2016-08-22 15:46] ardalis commented on #1795
That's true but not useful, since that would yield this:
AmbiguousActionException: Multiple actions matched. The following actions matched route data and had all constraints satisfied:

However, this would work fine:
[Route("foo/[action]")]

and so would this:
[Route("foo")]
public class MyController : Controller
{
  [Route("Index")]
  public IActionResult Index() {...}

  [Route("About")]
  publi

[2016-08-22 16:03] rynowak commented on #1795
Yes, absolutely - and both of your examples are fine. I just want to make sure we're crisp on what it actually means.

[2016-08-22 17:35] Tratcher commented on #1125
Yes and Yes. I don't think there is an opt-out.

[2016-08-22 19:05] SherleyDev commented on #1798
I think the problem is that I don't use cookies. I use URL friendly localization. http://localhost/es/account/login or http://localhost/accont/login for Spanish and http://localhost/en/account/login for English.

For URL friendly localization I follow the method described in this SO answer: http://stackoverflow.com/questions/35829426/optionally-override-request-culture-via-url-route-in-an-asp-net-

[2016-08-22 19:46] danroth27 commented on #949
https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.JsonPatchSample.Web

[2016-08-22 20:41] blowdart opened #1805 "Make make html be as picky as Travis"
Currently make html run locally does not treat warnings as errors.

The Travis build does treat warnings as errors.

So a successful local built can fail on the CI.

The local build should match the behaviour of the CI build.

[2016-08-22 21:13] ryanbrandenburg commented on #1798
Yes, if you want to do URL localization (or anything other than Query string, cookie or Accept header_ then you'll have to do some manual setup, as they did in the SO question linked here.

I'll close this one out as it seems resolved.

[2016-08-22 21:13] #1798 closed

[2016-08-22 23:12] jmarolf opened #1806 "Your First ASP.NET Core Application on a Mac Using Visual Studio Code, does not deploy to azure"
Looking at this tutorial: [Your First ASP.NET Core Application on a Mac Using Visual Studio Code
](https://docs.asp.net/en/latest/tutorials/your-first-mac-aspnet.html) [[source](https://github.com/aspnet/Docs/blob/master/aspnet/tutorials/your-first-mac-aspnet.rst)]

under [Initialize Azure Website
](https://docs.asp.net/en/latest/tutorials/your-first-mac-aspnet.html#initialize-azure-website)

- Cr

[2016-08-23 12:50] spboyer commented on #1806
@jmarolf
Thanks for reporting the broken link on the Azure instructions for deployment.  Here is a corrected one: https://azure.microsoft.com/en-us/documentation/articles/app-service-continous-deployment/

The (https://tryappservice.azure.com/) link is for Azure new customers, if you have an account already you can ignore that link and just create a new App Service for a Website and link your newl

[2016-08-23 12:53] spboyer commented on #1805
@blowdart - can you give me an example? One for sure is case specific issues.

[2016-08-23 12:55] blowdart commented on #1805
https://github.com/aspnet/Docs/pull/1804 - the first checkin

This compiled just fine on my local clone, with warnings about not being able to syntax highlight 3 HTML sections. On checkin Travis rejected it because the warnings became blocking errrors.

[2016-08-23 15:49] wangkanai commented on #97
Does the feature exist in 1.0.0 yet? or just the document have not finished? Thanks

[2016-08-23 17:40] danroth27 opened #1811 "Web API compatibility shim WebAPI"
We should document the Web API compat shim as an option for migrating from ASP.NET Web API to ASP.NET Core.

[2016-08-23 18:00] jmarolf commented on #1806
@spboyer what does deploying my code do then? If I can't see my changes after a `git push` how am I supposed to use azure?  How can I override the template with my own code?  Seeing my actual code runing on azure would seem to be the entire point of this.

[2016-08-23 18:07] spboyer commented on #1806
If you follow the tutorial : [Your First ASP.NET Core Application on a Mac Using Visual Studio Code](https://docs.asp.net/en/latest/tutorials/your-first-mac-aspnet.html)

* create the git repository
* git push your code to the new repo
* create a new Website on Azure (https://azure.microsoft.com/en-us/documentation/articles/web-sites-dotnet-get-started/)
* Setup the Continuous Deployment (https://

[2016-08-23 18:20] jmarolf commented on #1806
@spboyer right, and I am reporting that this is not working.  If you follow those directions you will not get your changes deployed

[2016-08-23 18:26] jmarolf commented on #1806
@spboyer also, "Deploy an ASP.NET web app to Azure App Service, using Visual Studio" isn't what I want.  Is this impossible to do with Visual Studio Code on a Mac? Why have this article if it is not possible.

[2016-08-23 20:46] #1805 closed

[2016-08-23 22:32] danroth27 opened #1812 "Add a link to a working sample to the cookie sharing doc"
https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/compatibility/cookie-sharing

I think we might be able to link to https://github.com/aspnet/Identity/tree/master/samples/Interop4.5

[2016-08-23 22:36] danroth27 opened #1813 "Help users pick between .NET Core and .NET Fx when getting started"
Examples of customer confusion:
- http://stackoverflow.com/questions/37627234/visual-studio-2015-web-application-net-core-vs-net-framework
- http://forums.asp.net/t/2101151.aspx?ASP+NET+MVC+Multiple+Deployments+Frameworks+Same+Codebase

We have https://docs.asp.net/en/latest/fundamentals/choosing-the-right-dotnet.html but users really need to understand this decision when they are getting started

[2016-08-24 15:16] totht91 opened #1814 "readthedocs vs docs.microsoft.com"
Why are the asp.net core docs powered by the read-the-docs engine, when there is a new docs engine the [docs.microsoft.com]()? There is a misslead in the [docs.microsoft.com]() site that the asp.net core docs is powered by the new engine. Is there any plan to migrate this to the new one?

[2016-08-24 16:42] danroth27 commented on #1812
Looks like there the sample needs a few updates: https://github.com/aspnet/Identity/issues/682

[2016-08-24 18:05] Rick-Anderson commented on #1814
We do plan to eventually move to docs.ms.com. At the time we started  ASP.NET Core, Read The Docs was the best platform.

[2016-08-24 18:05] #1814 closed

[2016-08-24 18:10] Rick-Anderson commented on #1813
- [ ] Getting started tutorials point to https://docs.asp.net/en/latest/fundamentals/choosing-the-right-dotnet.html
- [ ] add to https://docs.asp.net/en/latest/intro.html

[2016-08-24 19:03] totht91 commented on #1814
Thank you! I got answers on twitter too. :)

[2016-08-24 19:53] danroth27 commented on #97
There currently isn't any support in ASP.NET Core for detecting mobile browsers. We should probably remove this topic stub from the ASP.NET Core 1.0 docs since this feature really isn't available in 1.0.

See also  aspnet/Razor#751 for further discussions.

[2016-08-24 19:58] danroth27 opened #1815 "Remove mvc/views/mobile.rst"
We don't really have first-class support for mobile specific views in ASP.NET Core 1.0. We should remove the stub topic.

[2016-08-24 19:59] danroth27 commented on #97
https://github.com/aspnet/Docs/issues/1815

[2016-08-24 19:59] #97 closed

[2016-08-25 00:04] shirhatti opened #1816 "AspNetCoreModule install fails when IIS shared config is enabled"
By design, it is recommended not to install IIS Extensions if shared configuration has already been enabled. The recommended way to is to always install the extensions before IIS shared config is enabled.

We need to update ANCM docs to explicitly call out [this](https://github.com/aspnet/IISIntegration/issues/249#issuecomment-242171371) is not a supported scenario.

[2016-08-25 11:56] wangkanai commented on #1815
ok then, so i'll continue on developing my own feature for mobile specific views then.
https://github.com/wangkanai/Responsiveness
Anybody would like to come an contribute are much welcome.

[2016-08-25 16:23] GuardRex commented on #1816
Take it into ...
https://docs.asp.net/en/latest/hosting/aspnet-core-module.html
or
https://docs.asp.net/en/latest/publishing/iis.html
or
both?

[2016-08-25 16:31] GuardRex commented on #1814
@Rick-Anderson One other quick ?: docs.microsoft.com doesn't seem to be searchable. I mean I don't see a search box anywhere on the pages for .NET Core docs, and that's been a pain point (for me anyway) finding things over there. Is the preferred method to use search operators? ... e.g. for Bing or Google ...
[code]

[2016-08-25 17:36] shirhatti commented on #1816
Given that publishing/iis links to hosting/aspnet-core-module doc from the "[Install](https://docs.asp.net/en/latest/publishing/iis.html#install-the-net-core-windows-server-hosting-bundle)" section. I'm believe just having it in just hosting/aspnet-core-module document should suffice.

[2016-08-25 18:42] GuardRex commented on #1816
:+1: ... I'll have some draft language in a few hours.

[2016-08-25 19:44] Rick-Anderson commented on #1814
@GuardRex  They're working on it.

[2016-08-25 20:17] msaleh6 commented on #829
I need to save updated values back to the store (provider/source) from which they were loaded. Can you add that support or is there a way to extend the framework to support saving updated values?

[2016-08-25 21:01] Rick-Anderson commented on #829
I don't think their are any plans to write/update the config store. You could fetch your config from a DB  and update that.

[2016-08-26 01:18] shcemApp opened #1820 "How I can change a MVC4 project to .netCore"
Hi All:

I want to change a MVC4 project to .netCore, what can I do？

[2016-08-26 02:38] GuardRex commented on #1816
@shirhatti Can we "steal" @jhkimnew (modified) language for something like this ...

### ASP.NET Core Module with IIS Shared Configuration

The ASP.NET Core Module installer, which is included in the .NET Core Windows Server Hosting bundle installer, runs with the privileges of the **SYSTEM** account. Because the local system account does not have modify permission for the share path which is used

[2016-08-26 16:24] danroth27 commented on #829
Please do provide feedback/suggestions in the [Configuration](https://github.com/aspnet/configuration) repo.

[2016-08-26 16:51] danroth27 opened #1822 "Provide appropriate headers so that browsers/RSSreaders can find the ASP.NET Core docs RSS feed"
We do have am RSS feed (http://docs.asp.net/en/latest/rss.xml), but it isn't discoverable.

[2016-08-26 16:54] blowdart commented on #1822
Put the following in every page's head section

  <link rel="alternate" type="application/rss+xml" href="https://docs.asp.net/en/latest/rss.xml" title="RSS feed for documentation additions and updates">

[2016-08-26 17:23] shirhatti commented on #1816
Looks good to me.
@jhkimnew ?

[2016-08-27 02:23] GuardRex commented on #1820
I would like to say "See https://docs.asp.net/en/latest/migration/mvc.html" ... but it hasn't been updated yet for RTM. Doc updates are on-going.

Your best bet is to start right at the top at https://docs.asp.net/en/latest/intro.html and work right down the docs taking it all in and studying the examples. Any doc that hasn't been made ready for RTM (only a handful at this point) will have a large

[2016-08-29 09:41] OsirisTerje opened #1825 "What is project.fragment.lock.json for and should it also be ignored?"
I see this file being generated, and I see that the project.lock.json is being ignored, but what is this fragment lock file?

Ref https://github.com/NuGet/Home/issues/3121
and
https://github.com/aspnet/Docs/issues/171

And, if so, could it be an idea to just add *.lock.json in the gitignore - is there any reason not to exclude also all possible variations of this?

[2016-08-29 18:47] shirhatti commented on #1816
@GuardRex Will you be opening a PR? :smile:

[2016-08-29 18:50] jhkimnew commented on #1816
@shirhatti Looks goood to me as well.

[2016-08-29 18:52] GuardRex commented on #1816
Sure thing ... I'll have it in within a few hours.

[2016-08-29 20:58] Tratcher opened #1827 "Fundamentals/servers/weblistener "WebListener""
Port this doc from Katana: http://katanaproject.codeplex.com/wikipage?title=Selfhosting
- Register prefixes so you don't have to run the app as admin
- https cert setup

[2016-08-29 21:43] ardalis commented on #95
FYI for those interested in this topic, I should have a pull request in this week.

[2016-08-29 22:11] kkamegawa opened #1828 "Convert issue markdown to html"
[Use VSTS to Build and Publish to an Azure Web App with Continuous Deployment
](https://docs.asp.net/en/latest/publishing/vsts-continuous-deployment.html) 's issue.
Step3 in "Setup VSTS Build"

Wrong:

Correct:

Markdown is right, but html convertor wrong.
![2016-08-30](https://cloud.githubusercontent.com/assets/1450745/18069256/dd7f5b84-6e80-11e6-8742-faa778984dba.png)

[2016-08-30 18:29] Rick-Anderson opened #1829 "DropDownList, MultiSelect and jQuery"
I get several emails month plus lots of other requests for a current version of https://blogs.msdn.microsoft.com/rickandy/2012/01/30/asp-net-mvc-dropdownlist-multiselect-and-jquery/

[2016-08-30 19:20] Rick-Anderson opened #1830 "data/entity-framework-6.rst "Getting Started with ASP.NET Core and Entity Framework 6""
- [ ] Lots of negative feedback, needs some help

cc   @tdykstra

[2016-08-30 19:22] Rick-Anderson commented on #1830
cc @pgrudzien12 @DamienPontifex

[2016-08-30 19:34] gjmwolmarans commented on #95
@ardalis are you planning to include offline sync in the pull request?

[2016-08-30 19:55] danroth27 opened #1831 "Add link to the Mac tutorial form the getting started with MVC tutorial"
On http://asp.net/learn the Websites scenario under ASP.NET Core points to https://docs.asp.net/en/latest/tutorials/first-mvc-app/start-mvc.html. This doc is Windows+VS specific. We should add a link at a top to the Mac tutorial: https://docs.asp.net/en/latest/tutorials/your-first-mac-aspnet.html.

[2016-08-30 20:40] danroth27 commented on #1830
@Rick-Anderson Could you please more specifics?

[2016-08-30 20:45] spboyer commented on #1825
@rrelyea can you address?

[2016-08-30 21:04] #1815 closed

[2016-08-30 21:26] senseiweb commented on #1830
@danroth27 I believe that Rick is speaking of the comments made on the docs concerning integration of EF6 with Asp.Net Core, notably:

+ $domain.SetData('project', $project)

It seems that the docs maybe lacking with regards to actually get a working example of EF6 with asp.net core. Any clarification, limitations and/or caveats that can be documented would be great addition.

[2016-08-30 23:15] danroth27 commented on #1830
@rowanmiller @divega

[2016-08-31 00:24] divega commented on #1830
`Enable-Migrations` and other migrations commands fail with project.json based projects because they only support a subset of the functionality that the implementation of commands in EF6 require.

`Scaffold-DbContext` on the other hand is Entity Framework Core specific. It won't work for EF6 in any kind of project. If you need to do reverse engineering of a database into an EF6 model my recommenda

[2016-08-31 15:13] #1816 closed

[2016-08-31 15:29] spboyer commented on #1828
Fixed in #1821

[2016-08-31 15:29] #1828 closed

[2016-08-31 18:10] #1822 closed

[2016-08-31 18:12] #1831 closed

[2016-08-31 23:21] Slacquer opened #1834 "Inherited Controllers"
Is there any effort to having Swashbuckle read inherited comments?  I am new to Swashbuckle, but I found myself creating OperationFilters for the metadata below, I have controllers as such:

        /// <summary>
        ///     Posts a resource.
        /// </summary>
        /// <param name="resource">The resource.</param>
        /// <returns>IActionResult.</returns>
        /// <response code=

[2016-09-01 13:19] ardalis commented on #95
@gjmwolmarans the plan for this initial document is that it be fairly simple, showing how you can create an API to back a mobile application. It will set the stage for additional documents, but it won't cover any advanced scenarios such as sync, or even proper security. Those docs are coming, though.

[2016-09-01 18:38] spboyer commented on #1825
@OsirisTerje yes you can add `*.lock.json` to your gitignore. there is no reason to commit this to your repo.

[2016-09-01 18:38] #1825 closed

[2016-09-01 18:41] spboyer commented on #1834
Ask this on the swashbuckle repository https://github.com/domaindrivendev/Ahoy/issues
cc:/ @domaindrivendev

[2016-09-01 18:41] #1834 closed

[2016-09-01 19:32] OsirisTerje commented on #1825
Thanks!
Will you update the standard gitignore on github https://github.com/github/gitignore   with this too?

[2016-09-01 20:10] spboyer commented on #1825
@OsirisTerje it is already there https://github.com/github/gitignore/blob/master/VisualStudio.gitignore#L45

[2016-09-01 20:12] OsirisTerje commented on #1825
yep,  project.fragment.lock.json is there, but not *.lock.json :-)

[2016-09-01 20:30] spboyer commented on #1825
currently, project.lock.json and project.fragment.lock.json are the only files that are produced that match that pattern. There are no expected additions.

[2016-09-01 22:03] jkotalik opened #1839 "Add Rewrite middleware documentation"
This should be in by 1.1. This was my intern project!
See:
https://github.com/aspnet/BasicMiddleware/tree/dev/src/Microsoft.AspNetCore.Rewrite

[2016-09-02 13:43] spboyer commented on #1839
@ZestyBread this was a great piece of work. Can you add a README to the repo? and possibly add here what should be covered in a doc.

For a presentation of the stuff Justin is referencing here see: https://www.youtube.com/watch?v=gDEpkzlx3WU&list=PL0M0zPgJ3HSftTAAHttA3JQU4vOjXFquF&index=0

[2016-09-02 13:59] spboyer commented on #1839
@danroth27

[2016-09-02 17:41] DamianEdwards opened #1840 "Document how to load Session asynchronously in the Application State document"
https://docs.asp.net/en/latest/fundamentals/app-state.html

The default session provider in ASP.NET Core will only load the session record from the underlying `IDistributedCache` store asynchronously if the `ISession.LoadAsync` method is explicitly called **before** calling the `TryGetValue`, `Set` or `Remove` methods. Failure to call `LoadAsync` first will result in the underlying session record

[2016-09-02 21:50] divega opened #1841 "Reference to "dotnet" command line tool in tutorial points to .NET Core platform website"
I am referring to the first paragraph on https://docs.asp.net/en/latest/tutorials/first-mvc-app/adding-model.html#dotnet-ef-commands.

It seems that the intent was to describe `dotnet` as a command line tool, for which https://docs.microsoft.com/en-us/dotnet/articles/core/tools/index is a more adequate link (you can use http://go.microsoft.com/fwlink/?LinkID=517853) rather the .NET Core platform.

[2016-09-02 22:42] danroth27 opened #1842 "tutorials/your-first-mac-aspnet.md "Your First ASP.NET Core Application on a Mac Using Visual Studio Code""
Add content to the Your First App on Mac tutorial to discuss the various artifacts in the generated project
Right now most of the content in the [Your First App on Mac tutorial](https://docs.asp.net/en/latest/tutorials/your-first-mac-aspnet.html) talks about Yeoman, Visual Studio Code and Azure. We should add content that actually goes through what is in the generate project.

[2016-09-05 13:03] dsaf opened #1844 "Documentation suggests using outdated version of Angular (1.x) and outdated package manager (Bower)"
https://docs.asp.net/en/latest/client-side/angular.html

I want to use cutting edge tech - ASP.NET Core and Angular 2. However I just learned that Bower/NuGet is useless for Angular 2. I don't yet know how npm-friendly is VS 2015.3. It would be great to update the documentation, since Angular 2 is quite stable starting from rc5-6. Thanks.

Update: just learned that Bower is dying and front-end com

[2016-09-06 17:17] gerryLowry opened #1847 "Last [Fact] for https://github.com/aspnet/Docs/blob/master/aspnet/mvc/controllers/testing.rst is incomple"
https://docs.asp.net/en/latest/mvc/controllers/testing.html

`[Fact]
        public async Task ForSessionReturnsIdeasForValidSessionId()
        {
            // Arrange
            var testSession = Startup.GetTestSession();

[code]

......................... above is incomplete

https://github.com/aspnet/Docs/blob/master/aspnet/mvc/controllers/testing.rst

[2016-09-06 19:44] spboyer commented on #1847
@gerryLowry could you be more specific as to what is incomplete? Are you looking for the entire file to be represented there? The full sample code is available on github - https://github.com/aspnet/Docs/tree/master/aspnet/mvc/controllers/testing/sample

[2016-09-06 19:47] spboyer commented on #1844
@dsaf - Angular 1.x is not outdated, it is still being maintained and updated on a regular basis by the Angular team. Angular 2 assets are only being distributed via npm which is completely supported by Visual Studio 2015 out of the box.

[2016-09-06 19:52] #1841 closed

[2016-09-06 20:35] danroth27 commented on #1847
Those methods in the code block should be dedented as well.

[2016-09-06 20:41] #1806 closed

[2016-09-06 20:59] #1844 closed

[2016-09-07 16:51] danroth27 opened #1849 "Add links to IdentityServer4 quick starts"
Under security -> authentication add:

- Securing Web APIs with IdentityServer4 (identityserver/index.rst)
  - [Overview](https://identityserver4.readthedocs.io/en/dev/quickstarts/0_overview.html)
  - [Protecting an API using client credentials](https://identityserver4.readthedocs.io/en/dev/quickstarts/1_client_credentials.html)
  - [Protecting an API using Passwords](https://identityserver4.readt

[2016-09-07 19:12] LRPalacios commented on #139
any updates on draft for this? i am currently trying to write a text/javascript formatter some docs will be helpful

[2016-09-07 20:30] smohsin0 opened #1850 "Please add an option for selecting a theme"
At docs.microsoft.com, we are able to select a dark or light theme. Similarly, please add theme selection for docs.asp.net. Thanks.

[2016-09-07 20:50] danroth27 commented on #139
Not yet - still on the backlog.

[2016-09-07 21:08] danroth27 opened #1852 "Document MapAreaRoute in the Areas doc"
Looks like we have a nice extension method for adding routes for a specific area:

https://docs.asp.net/projects/api/en/latest/autoapi/Microsoft/AspNetCore/Builder/MvcAreaRouteBuilderExtensions/index.html?highlight=maparearoute#Microsoft.AspNetCore.Builder.MvcAreaRouteBuilderExtensions.MapAreaRoute

We should include this in the [Areas](https://docs.asp.net/en/latest/mvc/controllers/areas.html) do

[2016-09-08 13:48] spboyer commented on #1850
@smohsin0 we will be eventually moving the content to docs.microsoft.com

[2016-09-08 13:48] #1850 closed

[2016-09-08 16:32] #1849 closed

[2016-09-08 17:01] tdykstra commented on #1673
@danroth27

Which one do you recommend we show?

[2016-09-08 18:26] danroth27 commented on #1673
@glennc Do you have any recommendations on how we should document setting up logging on Azure? Serilog? Something else?

[2016-09-09 02:38] scottaddie opened #1856 "Migrating Configuration: Update doc from RC1 to RTM"
The [Migrating Configuration](https://docs.asp.net/en/latest/migration/configuration.html) doc needs to be upgraded from RC1 to RTM. I'm starting work on a PR now.

[2016-09-09 14:09] 60662 opened #1857 "call an API in c# code in ASP.NET Core"
call an API in c# code in ASP.NET Core

I'm looking for a call service to send SMS in the c# code. He composed it a URI like https://smsapi.free-mobile.fr/sendmsg? user = 10606753 & pass = cle_identification & msg = Hello % 20World % 20!
How to make

Thank you for avence JP

[2016-09-11 09:47] ifairy opened #1863 "make html error"
# Warning, treated as error:
D:\Software\download\Docs-master\aspnet\fundamentals\app-state.rst:148: WARNING: dn:iface reference target not found: ~Microsoft.AspNetCore.Http.ISession

[2016-09-12 07:34] rsheptolut commented on #1359
There is a link to iis-with-msdeploy.rst in this doc, and it's very outdated. I have a problem right now with publishing any new ASP.NET Core app to an existing remote IIS server from Visual Studio and I'm not able to resolve it.

[2016-09-12 08:15] chrstnbrn opened #1865 "Missing HttpMethodAttribute error in swagger tutorial"
If I follow the instructions of the swagger tutorial (https://docs.asp.net/en/latest/tutorials/web-api-help-pages-using-swagger.html) I'm getting an internal server error when trying to get the swagger.json. Swashbuckle suggests this is because of a missing HttpMethodAttribute. After adding [HttpGet] to GetAll in the TodoController everything works fine. Maybe you could include this in the docs (e

[2016-09-12 13:17] spboyer commented on #1863
Warnings are now treated as errors: see #1805

[2016-09-12 13:17] #1863 closed

[2016-09-12 13:18] spboyer commented on #1865
@chrstnbrn - yes, need to add this to the code used as the starter. Thanks for the note. I'll get that in asap.

[2016-09-12 13:21] #1865 closed

[2016-09-12 13:52] scottaddie opened #1866 "migration/mvc.rst: Update doc from RC2 to RTM"
The code samples need to be updated to RTM. The Gulp & NPM sections should be replaced with the BundlerMinifier.Core information.

@spboyer Is anyone already working on updating this doc? If not, I'll take it.

[2016-09-12 14:08] spboyer commented on #1866
I am working on the Gulp, Grunt, BundlerMinifier story

[2016-09-12 14:11] spboyer commented on #1866
@scottaddie THIS doc, go ahead and take it.  I am working on #1786

[2016-09-12 15:00] GuardRex commented on #1359
@rsheptolut I've only read about people using MSDeploy. I use my own PowerShell approach to publishing shown at https://github.com/GuardRex/aspnetcore-iis-ps-publish.

You might be able to find help or open an issue in https://github.com/aspnet/vsweb-publish/issues.

@Rick-Anderson It looks like the `iis-with-msdeploy.html` one didn't get the ":version: 1.0.0-rc2" note. If you want me to add it, I

[2016-09-12 18:02] spboyer commented on #1857
See [this question on Stackoverflow](http://stackoverflow.com/questions/30304365/using-httpclient-in-asp-net-5-app)

[2016-09-12 18:02] #1857 closed

[2016-09-12 18:04] tdykstra commented on #1830
Changed the doc to show Diego's approach in PR #1864

[2016-09-12 18:13] j0nscalet commented on #1830
@divega thanks for the response.

@tdykstra, checking out your updates in #1864... noticed that the link to the 'Visual Studio Sample Solution' is broken.

![image](https://cloud.githubusercontent.com/assets/1328795/18447065/db8c8dd4-78d9-11e6-9441-1b4c93520e1d.png)

[2016-09-12 18:36] tdykstra commented on #1830
@j0nscalet the link will work after the changes are merged to master, for now you can see the code in the ef6 branch

[2016-09-12 19:11] j0nscalet commented on #1830
Oh yea, DUH! Thanks @tdykstra!

[2016-09-12 19:50] spboyer commented on #89
Document outline update after discussion with @rynowak

- Introduction: What is Antiforgery.
- IAntiforgery
     - Options : setting header, cookie name.
- Fundamentals
     - UserTokens
     - Cookies
- Filters
     - ValidateAntiforgeryToken
     - New Features
          - AutoValidateAntiforgeryToken
          - IgnoreAntiforgeryToken
- MVC
- Samples
     - MVC: TagHelpers, HTMLHelpers
     - S

[2016-09-12 22:59] Rick-Anderson opened #1867 "update IIS.NET - http://www.iis.net/learn/web-hosting"
Loop Dan Roth and Chris Sfanos on which week sprint it will fall into on the sched or just keep them looped in on the sharepoint page.
• IIS.NET - http://www.iis.net/learn/web-hosting is out of date, especially http://www.iis.net/learn/web-hosting/joining-the-web-hosting-gallery

[2016-09-12 23:07] v1n1akabozo opened #1868 "Kestrel step-by-step missing in "Publish to a Linux Production Environment""
Running 'dotnet publish' will give me only dll's and the cshtml files, and or i am missing something, or the dotnet run command will only work if you have the source code in the folder it is targetting because it always asks for the project.json file, so both commands don't work along opposing what the text leads.

The only way to actually run the self contained directory is through the 'superviso

[2016-09-13 01:38] daveabrock commented on #1470
I have also noticed this could use some TLC. Is anyone working on it? If not, I can start making some changes.

[2016-09-13 04:58] Rick-Anderson commented on #1470
@daveabrock  that would be great.

[2016-09-13 11:55] daveabrock commented on #1470
On it! I'll have a pull request soon in the next few days for cleanup and addressing @HaoK's comment (me seeing it myself brought me here) and then will address @Rick-Anderson's list a little later on.

[2016-09-13 16:59] danroth27 opened #1870 "fundamentals/hosting HOSTING"
- [ ] See https://github.com/aspnet/Mvc/issues/5155#issuecomment-246593871
- [ ] Clarify in the Hosting doc that ApplicationName must be the name of the application assembly
- [ ] UE edit
- [ ]  link to IHostingEnvironment and how to consume it at runtime per @yishaigalatzer

[2016-09-13 17:58] Rick-Anderson opened #1871 "fundamentals/owin "Open Web Interface for .NET (OWIN)""
- [ ] DISQUS questions
- [ ] I agree with the comments below. The whole OWIN integration into ASP.NET core is lacking clarity and a very simplified tutorial by experienced publishers. As far as I can tell from the past few weeks of research the real time event and streaming development community is slowing transitioning to node and the reason is that .net core has been slow to provide a simplified

[2016-09-13 18:19] Rick-Anderson commented on #1871
@Tratcher can you comment on the feedback and I'll update the doc. cc @danroth27

[2016-09-13 18:25] Rick-Anderson commented on #1868
@glennc  @spboyer  please review

[2016-09-13 18:26] Rick-Anderson commented on #1868
see also #1251

[2016-09-13 23:18] Tratcher commented on #1871
OWIN provides a decoupling layer that allows two frameworks with disparate object models to be used together. The Microsoft.AspNetCore.Owin package provides two adapter implementations, ASP.NET Core -> OWIN and OWIN -> ASP.NET Core. This allows ASP.NET Core to be hosted on top of an OWIN compatible server / host, or for other OWIN compatible components to be run on top of ASP.NET Core.

Note using

[2016-09-14 00:54] glennc commented on #1868
`dotnet run` is for development. Running a published app is done with `dotnet app.dll` or `app` if you are self contained and have an executable binary. Anything that implied you should use `dotnet run` on your server is definitely wrong.

[2016-09-14 01:13] GuardRex opened #1873 "Update hosting bundle installer link for Publish to IIS"
@Rick-Anderson @spboyer @danroth27 @pan-wang

Issue for updating hosting bundle installer.

Check me on the link: https://go.microsoft.com/fwlink/?LinkID=827547

Is that correct?

[2016-09-14 01:55] Rick-Anderson commented on #1873
The link is for
![image](https://cloud.githubusercontent.com/assets/3605364/18497495/9ceecb7c-79e3-11e6-925e-3ee5244db647.png)

[2016-09-14 02:00] GuardRex commented on #1873
That's what I get when I run the installer from that link.

IIS is installed on this machine. Any idea why its saying "IIS is not installed on this machine" in the panel?

[2016-09-14 02:03] GuardRex commented on #1873
Oh! my bad ..... new OS installed here! ... Sorry. My 60 GB SSD's sucked and couldn't handle Xamarin! I'm on 250 GB Samsung 850 EVO's now. :+1: I forgot ... this install doesn't have IIS setup on it (yet).

No worries. That's the correct link. I'll have the PR up in a few minutes.

[2016-09-14 02:11] GuardRex commented on #1873
... another one (new issue) for the core module doc. I'll have that up in a few minutes.

[2016-09-14 03:56] v1n1akabozo commented on #1868
@glennc i'm aware, i just think the text is a lil bit missleading, i could get it working on centOS though. Someone that can't associate supervisor to IIS's behavior on creating and managing application pools will probably have a hard time figuring out how the kestrel server will ever be activated.

[2016-09-14 05:52] glennc commented on #1868
What doc are we talking about here? https://github.com/aspnet/Docs/blob/master/aspnet/publishing/linuxproduction.rst tells you how to setup a supervisor. Is that the doc that is confusing?

[2016-09-14 17:55] #1873 closed

[2016-09-14 21:56] JeremyNevill opened #1877 "aspnet/security/authorization/views.rst needs @using Microsoft.AspNetCore.Authorization"
The https://github.com/aspnet/Docs/blob/master/aspnet/security/authorization/views.rst page needs to mention the following using statement to enable the `@inject IAuthorizationService AuthorizationService` and code example to work:

`@using Microsoft.AspNetCore.Authorization`

[2016-09-15 15:59] Rick-Anderson commented on #89
@danroth27 @spboyer  I might work on this with @fiyazbinhasan  - see his [reventing XSRF in AngularJS Apps with ASP.NET CORE Anti-Forgery Middleware](http://www.fiyazhasan.me/angularjs-anti-forgery-with-asp-net-core/)

[2016-09-15 16:39] Rick-Anderson commented on #1576
@spboyer @danroth27  changing this to P0 from cust feedback.

[2016-09-15 17:12] danroth27 opened #1878 "Document how to localize custom validation attributes"
See https://github.com/aspnet/Mvc/issues/5282

[2016-09-15 18:18] #1878 closed

[2016-09-15 18:28] #1867 closed

[2016-09-15 19:00] #1877 closed

[2016-09-15 23:28] Tratcher opened #1883 "Show SaveTokens in OAuth setup and then later retrieval"
There should be a brief sample showing SaveTokens = true and then showing token retrieval in a controller (e.g. to make an API call).

https://github.com/aspnet/Security/issues/970
https://docs.asp.net/en/latest/security/authentication/sociallogins.html

Storage:

[code]

@HaoK do you have a retrieval sample?

[2016-09-15 23:35] HaoK commented on #1883
Extraction would be as simple as:
[code]

[2016-09-16 04:35] zerkms opened #1884 "Non-cryptographically secure PRNG use in the OWIN OAuth2 server docs"
http://www.asp.net/aspnet/overview/owin-and-katana/owin-oauth-20-authorization-server

Here the `GUID` is used to generate security tokens.

Instead it should be a cryptographically strong PRNG used, eg `RNGCryptoServiceProvider`.

[2016-09-16 15:37] #1830 closed

[2016-09-16 16:15] Tratcher commented on #1883
@HaoK And the Identity version?

[2016-09-16 17:15] HaoK commented on #1883
With identity:

Basically after login, to update the tokens:
[code]

To retrieve:
[code]

[2016-09-16 18:12] danroth27 commented on #1884
@blowdart

[2016-09-16 18:15] blowdart commented on #1884
1) This is not an ASP.NET Core issue.
2) GUIDs are (at least on Windows) generated with input from a secure PRNG.

Combining the fact that this is ASP.NET 4.5 is only one Windows (point 1) and point 2, means this is a non-issue.

[2016-09-16 18:15] #1884 closed

[2016-09-16 19:32] fiyazbinhasan commented on #89
@Rick-Anderson ok got it.

[2016-09-16 20:24] Rick-Anderson commented on #89
@danroth27 @spboyer  -  @fiyazbinhasan  is going to start working on this.  The outline after meeting with @rynowak  doesn't mention
- - Combine [Web API ](http://www.asp.net/web-api/overview/security/preventing-cross-site-request-forgery-csrf-attacks) and [MVC ](http://www.asp.net/mvc/overview/security/xsrfcsrf-prevention-in-aspnet-mvc-and-web-pages) XSRF/CSRF Prevention into one asp.net core art

[2016-09-16 20:52] zerkms commented on #1884
https://blogs.msdn.microsoft.com/oldnewthing/20120523-00/?p=7553 and https://blogs.msdn.microsoft.com/ericlippert/2012/05/07/guid-guide-part-three/

But yep, this is the wrong repository.

[2016-09-16 22:19] danroth27 opened #1894 "Link to tutorial on using Azure AD B2C with ASP.NET Core"
We should add a link to https://azure.microsoft.com/en-us/documentation/samples/active-directory-dotnet-webapp-openidconnect-aspnetcore-b2c/ under Security -> Authentication -> Azure Active Directory.

@vibronet @dstrockis

[2016-09-17 16:26] Iarflaith commented on #1799
Hi, I followed the tutorial where this comment was made, using Ubuntu 16.04.

At first I had two errors. Before debugging: In Program.cs, error CS0246 "The type or namespace name 'Startup' could not be found (are you missing a using directive or an assembly reference?) aspNetCoreApp.Startup"

And after debugging: "launch: program '/home/path/aspNetCoreApp/bin/Debug/netcoreapp1.0/aspNetCoreApp.dll'

[2016-09-17 21:19] atrauzzi opened #1895 "Clearly list all interfaces for identity"
If I'm looking to implement identity storage myself, it would be nice to have a clear list of the interfaces necessary, along with any tips that might be useful.

[2016-09-18 12:41] blakcat76 opened #1897 "Conclusion child records per page"
I have a table named Invoice and it has a child table items in the consignment note. And there is a table of goods.

In MVC 5 it was possible to make the following construction on the page:

[code]
But this does not work in ASP.NET Core.

Model:

[code]
Views:

[code]
Why not show ProduktName?

[2016-09-18 14:35] tdykstra commented on #1897
Does your code rely on lazy loading?  EF Core doesn't support lazy loading -- see https://docs.asp.net/en/latest/data/ef-mvc/read-related-data.html

[2016-09-18 15:26] andrewlock opened #1898 "Code samples in Custom Policy-Based Authorization are broken"
The code in the [Why would I want multiple handlers for a requirement](https://docs.asp.net/en/latest/security/authorization/policies.html#why-would-i-want-multiple-handlers-for-a-requirement) section doesn't compile.

[2016-09-18 19:18] AlthalusDGr8 opened #1900 "Broken Documentation Link"
Am trying to read through the documentation and found this broken link:
https://docs.asp.net/en/latest/security/data-protection/compatibility/replacing-machinekey.html

Keep up the good work :)

[2016-09-19 09:31] mjza opened #1902 "The dotnet-watch sample does not compiles."
Hi. I followed the documentation and I want to test the dotnet watch but when I add the Watcher to tool like the following:

[code]

Then I get the following error in the time of restoring:

C:\Users\mansari\Documents\Visual Studio 2015\Projects\Docs-master\aspnet\tutorials\dotnet-watch\sample>dotnet restore
log  : Restoring packages for C:\Users\mansari\Documents\Visual Studio 2015\Projects\Docs-

[2016-09-19 12:47] eirikro commented on #95
@ardalis could you add me to the list? ehrothe@akvagroup.com

[2016-09-19 13:45] #980 closed

[2016-09-19 13:45] #1244 closed

[2016-09-19 15:43] spboyer commented on #1900
? The link above works...

[2016-09-19 17:03] Tratcher opened #1903 "Is Kestrel SSL supported by ASP.Net core running on .net core in self host or service fabric?"
_From @AceHack on September 15, 2016 16:43_

In reading this article it seems to say that it is not.  http://aspnetmonsters.com/2016/08/2016-08-07-nginx2/, it seems you need something like nginx or IIS to support SSL in Kestrel .net core.

_Copied from original issue: aspnet/KestrelHttpServer#1108_

[2016-09-19 17:03] Tratcher commented on #1903
_From @cesarbs on September 15, 2016 22:38_

Kestrel supports HTTPS: https://github.com/aspnet/KestrelHttpServer/blob/efa37e55903c276951d1cf6561abee4d4e6b3393/samples/SampleApp/Startup.cs#L41

[2016-09-19 17:03] Tratcher commented on #1903
_From @halter73 on September 15, 2016 23:8_

@blowdart

[2016-09-19 17:03] Tratcher commented on #1903
_From @benaadams on September 16, 2016 0:9_

I don't know if its "approved" yet, but for SF you should be using [WebListener](https://github.com/aspnet/Announcements/issues/204) for your directly externally facing microservice layer, then can use Kestrel for your internal microservice to microservice communications on its private network.

Hopefully in the future can use Kestrel as the external la

[2016-09-19 17:03] Tratcher commented on #1903
_From @blowdart on September 16, 2016 0:11_

The article is wrong. Kind of.

Remember we don't recommend you expose Kestrel to the internet. Treat it as an app server, not a web server. So the TLS support is for doing end to end encryption, you terminate at the proxy, and then the proxy talks SSL to Kestrel.

And to be technically correct, we don't support SSL, we only support TLS :)

[2016-09-19 17:03] Tratcher commented on #1903
_From @AceHack on September 16, 2016 0:51_

So just to be clear without a 3rd party proxy, there is no support for TLS?  I just want to make sure I understand.

[2016-09-19 17:03] Tratcher commented on #1903
_From @benaadams on September 16, 2016 11:50_

It is a scenario that is "not supported" for an externally facing webserver; when you need to use a reverse proxy.

You can use ssl with kestrel on a closed private network (*note:* not an internal user exposed network); for example ssl between the proxy and kestrel for end-to-end encryption or inter-communications between microservices.

An example o

[2016-09-19 17:03] Tratcher commented on #1903
_From @blowdart on September 16, 2016 14:50_

That's not what I'm saying.

I'm saying don't expose Kestrel to the internet, with TLS or not. That's not what we recommend. Always run it behind a proxy, regardless of needing TLS or not.

[2016-09-19 17:03] Tratcher commented on #1903
_From @AceHack on September 16, 2016 16:28_

So for my internal service to service communications on service fabric or self host can I use kestrel and is TLS supported in that scenario?

[2016-09-19 17:03] Tratcher commented on #1903
_From @AceHack on September 16, 2016 16:29_

Also FYI there seems to be lots of conflicting information here.

[2016-09-19 17:03] Tratcher commented on #1903
_From @benaadams on September 16, 2016 17:47_

If you are deploying to a standard Azure SF cluster your microservices are deployed to VM scale sets and the whole cluster lives inside its own Virtual Network.

The microservices communicate with each other over the Virtual Network so they are not open to the outside world - here you can use Kestrel without a proxy as there should be no way to direct

[2016-09-19 17:03] Tratcher commented on #1903
_From @benaadams on September 16, 2016 18:6_

*Addendum*

If you are deploying SF with a custom set-up e.g. not to an Azure standard cluster; so a bunch of Azure VMs, AWS, an on premise internal network etc where you are directly setting up the cluster servers/VMs and network; then if the cluster is not on a closed private virtual network you should use WebListener for the inter-service communicat

[2016-09-19 17:05] Tratcher commented on #1903
@danroth27 can we get this written up for the server docs?

[2016-09-19 18:01] #1900 closed

[2016-09-19 18:24] spboyer commented on #1902
Can you try going to the command line and doing a `dotnet restore` from there?

@Rick-Anderson and I were able to replicate your issue but after having the local cache built from the CLI, everything worked as it should even on a new project.

@danroth27

[2016-09-19 18:24] Rick-Anderson commented on #1902
Thanks for reporting this. From https://github.com/aspnet/dotnet-watch/tree/1.0.0-preview2

Add Microsoft.DotNet.Watcher.Tools to the tools section of your project.json file:

{
...
  "tools": {
    "Microsoft.DotNet.Watcher.Tools": {
      "version": "1.0.0-*",
      "imports": "portable-net451+win8"
    }
  }

From the command line
dotnet restore

[2016-09-19 18:27] #1897 closed

[2016-09-19 18:30] Rick-Anderson commented on #1895
Take a look at https://github.com/IdentityServer

[2016-09-19 18:31] Rick-Anderson commented on #1895
@blowdart  for those who want to implement identity storage do you recommend they start at  https://github.com/IdentityServer ?

[2016-09-19 18:32] blowdart commented on #1895
Wait, what's identity "storage"? As in use your own database for ASP.NET identity, or something else?

[2016-09-19 18:38] #1898 closed

[2016-09-19 18:44] danroth27 commented on #1902
Why is this feed being used? I get a 404 when I try to access it.

[2016-09-19 19:07] blowdart commented on #1903
@Tratcher That summary seems right.

[2016-09-19 22:17] atrauzzi commented on #1895
Yeah, databases.

[2016-09-20 07:43] mjza commented on #1902
@Rick-Anderson Thanks for the answer but I got the 404 error again:

My tools is like this:

"tools": {
    //"Microsoft.AspNetCore.Server.IISIntegration.Tools": "1.0.0-preview2-final",
    "Microsoft.DotNet.Watcher.Tools": {
      "version": "1.0.0-*",
      "imports": "portable-net451+win8"
      }
    },

Even without commenting the second line the 404 error exists.

And the error is:

error: U

[2016-09-20 07:46] mjza commented on #1902
@spboyer I tried from the command line. When I wanted to run 'dotnet restore' command I received the above error. Before adding the dotnet watch I could compile and run the project from the command line. I followed the PDF line by line.

[2016-09-20 15:59] Rick-Anderson commented on #1902
Why is this feed being used? I get a 404 when I try to access it.

[2016-09-20 16:15] spboyer commented on #1902
@mjza - Check your NuGet package sources in Visual Studio. On the **Tools** menu, choose **Options**.... In the left nav expand **NuGet Package Manager** and choose **Package Sources**.

![tools-options-nuget](https://cloud.githubusercontent.com/assets/7681382/18678974/c793e5ea-7f2b-11e6-800e-df655c70970a.png)

The feed that you are referencing should not be in your sources.

[2016-09-20 17:17] #1894 closed

[2016-09-20 17:23] Rick-Anderson commented on #1673
re-ping @glennc Do you have any recommendations on how we should document setting up logging on Azure? Serilog? Something else?

[2016-09-20 18:47] arcria commented on #95
@ardalis @danroth27 could I be added to the list?

[2016-09-20 19:04] Rick-Anderson commented on #95
@brockallen  - this first version won't secure calls, that will come in a follow up article. @ardalis  will correct me if I'm wrong.

[2016-09-20 19:45] brockallen commented on #95
@Rick-Anderson in the meantime we'll continue to show how you can do that in our IdentityServer docs (https://identityserver4.readthedocs.io) and IdentityModel samples (https://github.com/IdentityModel/IdentityModel.OidcClient.Samples)

[2016-09-20 19:53] ardalis commented on #95
@Rick-Anderson @brockallen correct, this one is simple - more will follow.

[2016-09-20 20:50] danroth27 commented on #1673
We have a new Azure specific logging provider in 1.1 that folks will be able to use: https://github.com/aspnet/Logging/tree/dev/src/Microsoft.Extensions.Logging.AzureWebAppDiagnostics.

[2016-09-20 21:18] ncarandini opened #1908 "Wrong instructions on how to set SSL in a ASP.NET Web Application"
## Context
In the [Enabling authentication using Facebook, Google and other external providers
](https://docs.asp.net/en/latest/security/authentication/sociallogins.html) article, one of the steps describe how to set SSL, with an image that shows the selected SSL option and the field of the App URL **_with the same https URL that is shown to the right of the SSL option_**. And this is bad (like cr

[2016-09-21 02:53] #95 closed

[2016-09-21 13:24] mjza commented on #1902
@spboyer Did you read the example? It is a command line example and not an example within Visual Studio. Shall I convert it to some example inside of VS?

Is it possible to do this modification inside of the text files?

I want to run it via CMD as it is.

[2016-09-21 16:03] spboyer commented on #1902
Sorry, there was not a link to the sample you are following provided.  Can you post the link?

Lead me to believe that you were using Visual Studio.

[2016-09-21 16:13] mjza commented on #1902
@spboyer Yes. Here is the link to the tutorial and sample code:

https://github.com/aspnet/Docs/tree/master/aspnet/tutorials/dotnet-watch/sample

https://docs.asp.net/en/latest/tutorials/dotnet-watch.html

[2016-09-21 16:57] spboyer commented on #1902
@mjza trying to figure out why you have https://dotnet.myget.org/F/aspnet1/api/v3/index.json as a package url.  [dotnet-restore](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-restore) will look for NuGet.json files within the project folder or below to add sources.  Do you have a NuGet.json within your working directory that has the above url? There is not one in example code

[2016-09-21 17:05] mjza commented on #1902
@spboyer I didn't write that tutorial. It is there and I just followed the the tutorial that provided its link. I just reported the problem. Actually 50% of the sample can be compiled and run but the remained not. I think the author or authors of this sample can answer the problem which you mentioned better.

[2016-09-21 17:16] spboyer commented on #1902
@mjza understand. There is some updates needed to the sample and article.

[2016-09-21 19:00] tdykstra commented on #1673
@danroth27 For now we could show Serilog, and then for 1.1 we could add AzureWebAppDiagnostics, or we could wait for 1.1 to update the logging article.

The issue was originally written about Azure logging, but there's a need to show how to use a real logging framework regardless of Azure use.  If we add Serilog as an example now, that content will still be useful after 1.1 when we add AzureWebApp

[2016-09-21 19:31] ncarandini commented on #1863
Ok, I understand that warnings must be treated as errors, but how can I solve the warning?
I'm on the master branch, and I see that the file
`C:\Git\aspnet-docs\api\autoapi\Microsoft\AspNetCore\Http\ISession\Index.rst`
do exist and in fact it works on the live documentation (https://docs.asp.net/en/latest/fundamentals/app-state.html).
So why I get the Warning?

[2016-09-21 20:22] spboyer commented on #1863
what is the full error you are getting? Can you include the few lines above and below?

[2016-09-21 23:20] ncarandini commented on #1863
The make html command produce this output:
[code]

[2016-09-21 23:34] ncarandini commented on #1863
Maybe a problem with intersphinx_mapping?
I'm just starting to learn Sphinx, but I can see that the unresolved reference is in another project (the api one) and this is the mappimg that I've found in the conf.py file:
[code]

[2016-09-21 23:40] danroth27 commented on #1673
I'd rather hold off on documenting how to use Serilog because of the maintenance issues. I think we should just wait for 1.1. The feature is available already to try out, so we could even get started on preparing the content in the dev branch.

[2016-09-21 23:44] danroth27 commented on #1902
You can see which feeds and NuGet.config files are in effect by running:

[code]

[2016-09-22 09:37] ncarandini commented on #1863
Maybe this can be interesting. Trying to execute intersphinx as a pyton command:
`c:\Git\aspnet-docs\common>python -m sphinx.ext.intersphinx http://docs.asp.net/projects/api/en/latest`
give me this error:
`intersphinx inventory 'http://docs.asp.net/projects/api/en/latest' not readable due to AttributeError: 'MockApp' object has no attribute 'info'`

So maybe my mapping fails silently and I don't h

[2016-09-22 18:33] Rick-Anderson commented on #1908
If you don't set ``launchUrl``, it defaults to the ``applicationUrl`` setting. You can set ``applicationUrl``  from the Visual Studio IDE on the same page
![capture](https://cloud.githubusercontent.com/assets/3605364/18761063/572b1f06-80b8-11e6-9bf8-f7c22069b8ba.PNG)

[2016-09-22 18:54] spboyer commented on #1902
@mjza can you run the command above and provide the output?

[2016-09-22 19:15] danroth27 commented on #1903
@Tratcher @blowdart We are have this note in our Servers doc:

Do we really need to say more than that? I would rather not document in the ASP.NET Core doc all the various ways you can configure your Service Fabric cluster.

[2016-09-22 19:17] blowdart commented on #1903
Why not?

[2016-09-22 19:19] Rick-Anderson commented on #1908
@ncarandini - we have reproduced the problem on one machine. A much simpler solution is to copy the SSL URL to the Launch URL box as shown above. However you should also use the same SSL URL in the App URL.

[2016-09-22 19:36] danroth27 opened #1910 "MVC Application Parts"
MVC -> Extensibility -> Application Parts

An application part is a resource where MVC features might be found, like an assembly.
A feature provider populates features from the application parts (e.g. controllers, viewcomponents, Tag Helpers, Razor compilation references). Helps you discover these things. Precompiled Views are available in 1.1. (View discovery doesn't currently use this, but may i

[2016-09-22 19:53] Rick-Anderson commented on #117
fixed by https://docs.asp.net/en/latest/mvc/controllers/routing.html

[2016-09-22 19:53] #117 closed

[2016-09-22 19:56] danroth27 commented on #138
Application model is a representation of your MVC app that you can read and manipulate
- Controller names, action names, action parameters, attribute routes, filters
Modify the application model with custom conventions
- Ex Web API compat shim
Explore your app
- Ex. Swagger

[2016-09-22 19:57] Rick-Anderson commented on #1813
@danroth27  see https://microsoft.sharepoint.com/teams/DotNetStrategyTeam/_layouts/15/WopiFrame.aspx?sourcedoc=%7B763DACCD-8008-489E-B83C-1E7BE17BD361%7D&file=When%20to%20use%20dotNET%20Core%20or%20dotNET%20Framework.docx&action=default

I have a few cycles so let me know if this is something I should work on.

[2016-09-22 20:12] Rick-Anderson commented on #977
https://github.com/aspnet/Docs/pull/1780 fixes this

[2016-09-22 20:14] Rick-Anderson commented on #1866
does PR #1901 address this?

[2016-09-22 20:14] danroth27 commented on #1903
Because we have plenty of ASP.NET Core stuff left to document without having to document how to use Service Fabric. Also, eventually we will have done sufficient hardening work on Kestrel so that this whole discussion becomes a moot point.

[2016-09-22 20:15] #1866 closed

[2016-09-22 20:22] danroth27 commented on #1903
We currently link to https://azure.microsoft.com/en-us/documentation/articles/service-fabric-add-a-web-frontend/ for instructions on how to use ASP.NET Core with Service Fabric. Any clarification that needs to be made on how to apply our Kestrel guidance to Service Fabric I think should go there. @seanmck

[2016-09-22 21:16] Rick-Anderson commented on #1625
@rynowak if you have time to do this in word/MD or any other format I can update the doc.

[2016-09-22 21:21] Rick-Anderson commented on #1378
@danroth27 https://docs.asp.net/en/latest/getting-started.html  doesn't provide any help for OSX users. Don't we want a version like https://docs.asp.net/en/latest/tutorials/your-first-mac-aspnet.html ?

[2016-09-22 22:00] tdykstra commented on #849
Fixed by #1893

[2016-09-22 22:00] #849 closed

[2016-09-23 00:20] #206 closed

[2016-09-23 05:18] danroth27 commented on #1378
My point was https://docs.asp.net/en/latest/getting-started.html is completely independent of your OS. Those same steps work for Windows/Mac/Linux.

For this simple MVC tutorial I'm fine showing VS Code like we do in https://docs.asp.net/en/latest/tutorials/your-first-mac-aspnet.html, if that's what you mean. VS Code is xplat.

[2016-09-23 06:06] ncarandini commented on #1908
@Rick-Anderson - you're right, setting the Launch URL from the Visual Studio IDE is much easier, and with the Launch URL set, the App URL can be set to the same https URL without any problem.

So the only thing to add to the article is to **_copy the https URL also in the Launch URL from the Visual Studio IDE same page_**.

Thanks!

[2016-09-23 06:09] mjza commented on #1902
@spboyer Sorry for late answer.

Here is the output of the command.

Please note that I didn't made it with VS. I just downloaded the whole dotnet from Github and just placed in VS2015 folder to not messy up my disk. I used cmd for this project.

C:\Users\mansari\Documents\Visual Studio 2015\Projects\Docs-master\aspnet\tutorials\dotnet-watch\sample\WebApp>dotnet restore -v Information
log  : Resto

[2016-09-23 14:31] t0xicDen opened #1912 "Data Protection configuration: executing Provision-AutoGenKeys.ps1 error"
**Introduction:**

OS: Windows Server 2008 R2 Enterprise Service Pack 1

I was configuring DataProtection keys.
In this article ([https://docs.asp.net/en/latest/hosting/dataprotection.html](https://docs.asp.net/en/latest/hosting/dataprotection.html)) I read about that:

**Problem:**

When I tried to execute script I got error in PowerShell:

**Resolving:**

After some time googling I came to a con

[2016-09-23 15:13] blowdart opened #1913 "Move cookie sharing topic to Security"
It also needs promoting out of hiding under data protection, and to be a first class topic under security.

[2016-09-23 16:18] Rick-Anderson commented on #1908
@ncarandini  Thanks for reporting this. I updated #1470

[2016-09-23 16:28] Rick-Anderson commented on #1378
Looks like @spboyer put in a bunch of very helpful OSX specific instructions - which might confuse those on other platforms. For example

I'll use that as a template. Should I include OSX help? Should I set up a Linux  VM and include Linux  help? Or can I do the first pass with an OSX bias then add in Linux? Maybe I could take Linux  and @tdykstra  could do Linux?

[2016-09-23 16:38] danroth27 commented on #1378
I think we want to keep this as generic as possible. These steps for this simple tutorial should be virtually identical regardless of platform. Let's not write different versions for Windows, Mac and Linux.

[2016-09-23 16:45] spboyer commented on #1378
That contradicts some of the issues currently on the list for OSX, Linux/Ubuntu specific walkthroughs.  There needs to be a clean way to present platform specific keystrokes, files (*.sh) etc. instead of having to write multiple articles for each platform. Becomes repetitive. MSDN had tabs for language choice or versions, azure.com has something similar.

[2016-09-23 16:49] Rick-Anderson commented on #1378
You mean Let's not write different versions for ~~Windows,~~ Mac and Linux.

We will always have Windows/VS specific versions.

I'll write it platform agnostic and we can see what questions we get.

[2016-09-23 16:52] tdykstra commented on #1378
@BillWagner how are we handling the need for different platform versions of the same tutorial in the .NET Core docs?

[2016-09-23 18:14] danroth27 commented on #1912
Yup, we should add a note with the required PowerShell version

[2016-09-23 18:14] Rick-Anderson commented on #1912
Add a note requires PS 4 or higher.

[2016-09-23 18:14] #1903 closed

[2016-09-23 19:45] danroth27 commented on #1378
@spboyer I was referring to just this tutorial. We are of course ok to have platform specific tutorials. But this tutorial I wanted to be generic.

[2016-09-25 06:51] ncarandini opened #1915 "Unable to contribute to this project"
I've installed Sphinx and cloned this project.
On the master branch, when trying to `make html` from the `aspnet` directory the build exit with the (warning treated as an) error:
[code]
But the `index.rst` file do exist in my `C:\Git\aspnet-docs\api\autoapi\Microsoft\AspNetCore\Http\ISession\` folder, and the corresponding [web page](https://aspnet-aspnet.readthedocs-hosted.com/projects/api/en/lat

[2016-09-25 17:56] Rick-Anderson opened #1916 "mvc/controllers/testing "Testing Controller Logic""
- [x] DISQUS
- [x] UE Edit
- [x] #1847

[2016-09-25 18:07] Rick-Anderson commented on #1080
@danroth27  could we ask a dev to take a pass at this doc and fill in the gaps?

[2016-09-25 19:57] ncarandini commented on #1915
## Solved!

### Cause
All `*.rst` files use a *wrong syntax* to cross reference. As an example see the line that produce the error:
[code]
note the reverse accent (aka backtick or grave accent) before the tilde character, placed there to mark the beginning of the hyperlink reference (as dictated by the reStructuredText inline markdown syntax).

***But in that position the reverse accent breaks the

[2016-09-25 20:14] ncarandini opened #1917 "Change make.bat to hide help message"
### Preamble
While trying to solve issue #1915 I tried to make html many many times and found the help message very annoying, so this is my first (and very insignificant) contribution, waiting for help to solve the #1915 one.
### Description
When executing the make batch command, a fake call to Sphinx-build is made to check for Sphinx installation. This produce an undesired help message:
[code]
##

[2016-09-26 15:38] ardalis commented on #1915
Hi Nicolò,

I can't reproduce this issue on my machine, probably because I already have the required bits installed. Here is what I just did to reproduce.

1. Go to my 'scratch' folder in cmd prompt
1. git clone <url> docs
1. cd docs
1. cd aspnet
1. make html

End result:
![image](https://cloud.githubusercontent.com/assets/782127/18840744/9d4f52cc-83dd-11e6-8604-9cb567ddc753.png)

Are you certain

[2016-09-26 17:04] ncarandini commented on #1915
Hi Steve,
I'm double checking and also try to install everything again to another device (my Surface Pro 1, still good for this). I'll update ASAP

[2016-09-26 17:08] ardalis commented on #1770
What does "not really supported" mean, exactly? I just re-tested and it works as expected in 1.0.0.

[2016-09-26 17:58] Rick-Anderson commented on #1915
@ncarandini  Just ignore that warning for now.

[2016-09-26 19:20] ncarandini commented on #1915
Thanks Rick and Steve, I successfully installed everything on my other device. So I'm good to go.
By the way, I'm still trying to understand what got wrong on my first device, but now is irrelevant, just my curiosity.

[2016-09-26 19:20] #1915 closed

[2016-09-26 20:01] ncarandini commented on #1915
I've also solved on my first device uninstalling python and deleting all related folders in `%LocalAppData%\Programs\` and following the steps on the https://github.com/aspnet/Docs/blob/master/CONTRIBUTING.md (as I did before, but only after some other steps, like installing the latest version of Sphinx by myself).

To reproduce the issue, I tried to replay the same steps I did the first time in a

[2016-09-26 20:31] jllblk opened #1922 "Please document way to redirect user using Window Authentication without cookies"
I am using IIS 10 and using Asp.Net Core 1.0.0.0 with .NET Framework 4.5.2. I am using the windows authentication type of .NET Core web application. Window Authentication works. What isn't documented is a way to setup the middleware so that the user will be redirected to a certain route in the application. There is cookie specific documentation which I tried, but doesn't work without cookies.

[2016-09-27 00:26] aggieben commented on #1770
Well, that's a good question.  I also tried unsuccessfully to figure out what I meant, and it even turns out that I'm adding a filter to `MvcOptions` with an instance in my own code.  I suspect I just misunderstood the requirements of the constructor for the filter I was trying to use at the time, but I'm not sure.  I'll close this.

[2016-09-27 00:26] #1770 closed

[2016-09-27 02:57] BillWagner commented on #1378
The default answer we've taken for samples in core is to have each topic concentrate on a platform. The feedback is that readers want to read about their environment, not all environments.

Sadly, this does mean some duplication of effort, as the platform doesn't support reuse for that yet. (It has been requested).

@danroth27 what is the benefit for readers to have a single generic tutorial? Do y

[2016-09-27 06:41] yechongbo opened #1923 "npm packages are not automatically restored"
Hi Guys,

In my solution, gulpfile.js and package.json are together located in a solution folder, same level as sln file, and they are under the source control as well. the problem right now is, whenever i get latest version of these files, and let say they have been updated by a team member. the npm packages are not automatically updated until i save the package.json manually. is it expected?

[2016-09-27 10:47] Simply-Awesome commented on #89
•- Combine Web API  and MVC  XSRF/CSRF Prevention into one asp.net core article

@Rick-Anderson
It would be totally fantastic, if you could include some information on how to customise when the Anti Forgery token expires - instead of just at the end of the browser session.

[2016-09-27 14:48] rvmaccount opened #1925 "ef-mvc/crud.rst#test-the-edit-page incorrect comment"
in the section Test the Edit page it says

The HTML and Razor code in Views/Students/Edit.cshtml is similar to what you saw in Create.cshtml, and **no changes are required.**

this is not correct, in order to show the date validation message, similar to the create page an explicit end tag for the span tag is needed.

[2016-09-27 15:37] spboyer commented on #1923
@yechongbo the restore will not happen until the .json file is in fact changed.

[2016-09-27 15:37] #1923 closed

[2016-09-27 16:17] yechongbo commented on #1923
@spboyer, thanks for the clarification. but it seems it works when they are at project level.

[2016-09-27 18:56] rmarskell commented on #1908
I think this must have been fixed in the recent update. I used to not be able to set the app URL to the HTTPS version without getting the error above, but it seems to be working for me now, even without the launch URL.

[2016-09-27 21:03] blowdart commented on #1895
Sorry, I entire missed the reply. So your own database schema. When you say identity then, are you wanting to use ASP.NET identity with your own schema, or that you just want to implement your own login system, not using ASP.NET identity.

[2016-09-27 21:20] ncarandini commented on #1908
Wow, just tried and I can confirm that now it works, as @rmarskell reported.

[2016-09-27 21:32] ncarandini commented on #1908
Because the docs page content now correspond to the VS behavior, I think we can close this issue.

[2016-09-27 21:32] #1908 closed

[2016-09-27 23:06] dougbu opened #1928 "Add mvc/models/validation.rst section on `[Required]`"
The .NET and MVC semantics for the `[Required]` attribute seem to confuse everyone. See the long thread at aspnet/Mvc#5115 for example.

---

This issue is dedicated to the dear departed aspnet/Mvc#5115.

[2016-09-28 00:17] ncarandini opened #1929 "Replace obsolete documentation with "working on this topic" pages"
IHMO, it's much better not to have documentation than to have an obsolete one.
As an example, take the [Application Startup](https://docs.asp.net/en/latest/fundamentals/startup.html) page. Yes, there is a note that warns us that the info is still related to RC1, but people will read the page anyway, as I did to learn more about the topic.

In that page, the sentence:

is no longer true. The entry

[2016-09-28 00:36] blowdart commented on #89
CSRF tokens shouldn't expire, unless the underlying identity changes.

[2016-09-28 03:46] GuardRex commented on #1929
Partially a dup of https://github.com/aspnet/Docs/issues/1756

[2016-09-28 07:59] ncarandini commented on #1929
Yes, @GuardRex, but my suggestion is a little bit more radical :-)
The example is just an example, the point here is to **_Replace obsolete documentation with "working on this topic" pages _**

[2016-09-28 08:15] ncarandini commented on #1915
Hi Steve,

thanks for your help.

My apologies for wasting your time, restarting from scratch solved the issue, and I can’t tell what went wrong in the first try.

I hope to meet you in person at the MVP Summit, I owe you a beer! :)

Nicolò.

Da: Steve Smith [mailto:notifications@github.com]
Inviato: lunedì 26 settembre 2016 17:39
A: aspnet/Docs <Docs@noreply.github.com>
Cc: Nicolò Carandini <n.ca

[2016-09-28 12:11] ardalis commented on #1756
More coverage of configuration with WHB is here, too: http://ardalis.com/configuring-aspnet-core-apps-with-webhostbuilder

[2016-09-28 12:13] ardalis commented on #1929
Regarding Startup, this is covered in #1307 which I've just self-assigned and will work on.

Regarding removing Docs instead of marking them as for a previous version, that might light a fire under us to make these updates faster, but I don't think it would be better overall for people looking for information (IMO).

[2016-09-28 12:56] atrauzzi commented on #1895
Yes, use ASP.NET identity with my own or a pre-existing schema.  The path for enabling integration between my data and anything that interfaces with identity isn't quite clear.

[2016-09-28 14:35] GuardRex opened #1931 "Worthwhile to add module/schema/config info to ANCM doc?"
I caught a great post by @jhkimnew at https://github.com/aspnet/Home/issues/1583#issuecomment-249754022 describing details on module/schema/config locations for ANCM.

I think this would be nice to add to the bottom of the ANCM doc at https://docs.asp.net/en/latest/hosting/aspnet-core-module.html. It's good reference material for finding these locations quickly for those who need it. What do you t

[2016-09-28 15:01] GuardRex opened #1932 "Add a common error scenario to Publishing to IIS?"
From https://github.com/aspnet/IISIntegration/issues/270, we don't cover this failure scenario. How about I add something like the following to our Common Errors section?

**Browser:** HTTP Error 502.5 - Process Failure
**Application Log:** Failed to start process with commandline ‘“dotnet” .\my_application.dll’ (portable app) or ‘”.\my_application.exe”’ (self-contained app), ErrorCode = ‘0x800705

[2016-09-28 15:48] spboyer commented on #1923
interesting, sorry missed the "location" portion.  Create a new issue in  Tooling repo -> https://github.com/aspnet/tooling/issues

[2016-09-28 16:42] blowdart commented on #1895
That's because it depends how far you want to go. @HaoK do you have any guidance on what the bare minimum is?

[2016-09-28 17:03] Tratcher commented on #1827
Here's a description of WebListener that can also be added to the doc: https://github.com/aspnet/ServerTests/issues/42

[2016-09-28 21:19] ncarandini commented on #1929
Steve, is not my intent to stress you or anyone else.
Please consider that you know very well .net core and aspnet core, so you can easily take the good and skip the obsolete info. But a neofite can have more confusing experience reading old thing trying to do the same. I do agree that searching in the net require the same level of discernment, but I'd like to have only up to date info on official

[2016-09-28 21:49] GuardRex commented on #1929
Great points, but it might not be so black-and-white. I've been bopping around since like beta 5 or so and have noticed that it was rare that any particular doc as completely "obsolete." They were usually a mix of spot-on current info and recently-obsoleted info. Often, they were 70-90% good ... so mostly useful  ... but kind'a painful at times. Mad rushes of PR's flowed under times of heavy WIP t

[2016-09-29 06:16] ncarandini commented on #1929
Instead of answering (I've already wrote my opinion and you and Steve made good points against it) lets look at it from another perspective:

From a quantitative point of view, not counting index pages, external pages and API pages, we actually have 158 pages, Of those, 17 are obsolete (RC1 or RC2 versions) and 12 are on "working on" state. IMHO replacing 17 pages with "working on" state pages is

[2016-09-29 06:31] ncarandini opened #1934 "Is the copyright notice at the end of docs pages required / usefull ?"
At the end of each page we find:

While I can understand that this is automatically produced by Sphinx based on the content of the `config.py` file:
[code]
I'm wondering if it's a good thing to do, because I can't find any copyright notice on the [.NET Core documentation](https://docs.microsoft.com/en-us/dotnet/articles/welcome).

If not needed, I do think it would be better to remove it (#opennes

[2016-09-29 14:34] ardalis commented on #1929
I can certainly see your point, and ultimately I think it's up to @danroth27 what is done. However, I think this is a temporary problem that will disappear once everything is updated to at least 1.0.0. After that, I don't expect any topics to be retired, since we can expect supported customers will be on a variety of shipping versions of the product.

[2016-09-29 14:39] NinoFloris opened #1935 "Add IStartupFilter documentation, also link to it in testing docs"
As came to light in issue https://github.com/aspnet/HttpAbstractions/issues/713 there seems to be no mention of the useful IStartupFilter mechanism anywhere in the documentation.

This is for instance very useful for integration testing as you sometimes want a way to hook into the pipeline without having to change the original startup class.

Leaving this here for reference.

[2016-09-29 16:08] ncarandini commented on #1929
Sure is a temporary problem, and I've opened this issue to contribute at solving this.
I'm still learning so maybe I can better represent the point of view of a rookie reader.
It's only a suggestion, I'm fine with whatever will be done about it.

[2016-09-29 17:41] tdykstra commented on #1673
@danroth27 Given that the Azure diagnostics provider works now, we could add content for it now with a note about it being a preview release, instead of using dev branch and waiting for 1.1.  We would provide instructions on how to restore packages from the myget feed, then remove that when 1.1 is released.

[2016-09-29 18:47] danroth27 commented on #390
We now have a package available for this specific scenario: https://www.nuget.org/packages/Microsoft.AspNetCore.Hosting.WindowsServices/

[2016-09-29 22:59] danroth27 commented on #1673
No, I don't think we should mix preview content with our docs for stable and supported bits. Those need to be kept separate.

[2016-09-29 23:54] Rick-Anderson commented on #1673
@danroth27  How about we put the Azure section in a .RST file on  Dev, **but** link to it from the logging doc in master?
If we do that, we'll need to run the conversion tool on dev when we migrate. How much content on dev needs to be migrated?

[2016-09-30 00:27] danroth27 commented on #1673
I don't think we have much if anything in the dev branch beyond what is already in master.

We need to keep our prelease content and our stable content separate so that customers don't get confused. Can we hold off on documenting this new 1.1 until we are on docs.ms.com?

[2016-10-02 07:57] Daniel15 opened #1938 "performance/caching/memory.md "In Memory Caching""
- [ ]  Show dependencies
- [ ] DISQUS
- [ ] UE Scrub
- [ ] Show how to use with controllers

The [caching page](https://docs.asp.net/en/latest/performance/caching/memory.html#cache-dependencies-and-callbacks) says:

However, it doesn't explain **how** to use other cache entries or the file system as dependencies.

[2016-10-03 09:05] KLuuKer opened #1940 "shoudn't Task.FromResult(0) be Task.CompletedTask"
in Docs/aspnet/security/authorization/policies.rst

`return Task.FromResult(0);`
is used to return a Task that was completed synchronously

 shouldn't this be
`return Task.CompletedTask;`
for a better example and less allocations (for people who just copy and past code)?

i have not checked other pages for this same issue

or maybe this should be explained\documented somewhere
[https://github.com/

[2016-10-03 10:15] dodyg commented on #1938
https://github.com/aspnet/Caching/tree/dev/samples/MemoryCacheFileWatchSample

[2016-10-03 16:52] Daniel15 commented on #1938
@dodyg - That explains how to add a dependency on a file, but doesn't explain how to add a dependency on another cache entry.

[2016-10-03 18:22] Rick-Anderson commented on #1940
@blowdart  ?

[2016-10-03 18:31] Rick-Anderson commented on #1934
Good question. This will change when we're hosted with the [.NET Core documentation](https://docs.microsoft.com/en-us/dotnet/articles/welcome).

[2016-10-03 18:31] #1934 closed

[2016-10-03 18:32] Rick-Anderson commented on #1932
OK by me and @spboyer

[2016-10-03 18:32] Rick-Anderson commented on #1931
OK

[2016-10-03 18:33] blowdart commented on #1940
@HaoK ?

[2016-10-03 18:37] GuardRex commented on #1931
:+1: I'll get a PR in within 48 hours.

[2016-10-03 18:37] Rick-Anderson commented on #1925
@tdykstra

[2016-10-03 18:38] GuardRex commented on #1932
:+1: Cool ... I'll get a PR in within 48 hours.

[2016-10-03 18:38] Rick-Anderson commented on #1922
@blowdart

[2016-10-03 18:39] Rick-Anderson commented on #1917
@ncarandini  great suggestion but we're in the process of a total rewrite.

[2016-10-03 18:39] #1917 closed

[2016-10-03 18:40] blowdart commented on #1922
Windows Auth happens at the IIS level, before your application even sees the request. It's not something middleware configures. What the middleware does is react to the Windows Identity IIS sends the app.

I don't know what you mean by "so that the user will be redirected to a certain route in the application"

[2016-10-03 18:42] HaoK commented on #1940
Sure, Task.CompletedTask is better

[2016-10-03 18:44] blowdart commented on #1940
I never knew this. Rick do you want to update the docs? I have to now update my workshop!

[2016-10-03 19:01] Rick-Anderson commented on #1940
Sure, I'll get them updated.

[2016-10-03 19:15] Rick-Anderson commented on #1940
[code]

@HaoK  Maybe just mention that the first time and use ``Task.FromResult(0);`` after that.

[2016-10-03 19:18] HaoK commented on #1940
Yeah I would just mention it briefly, they would have to include the shared source project too, so its not quite free to use easily

[2016-10-03 20:44] Rick-Anderson commented on #1820
@spboyer @danroth27  I'm closing this. The migration doc will have to do.

[2016-10-03 21:54] Rick-Anderson commented on #1345
moved to #858

[2016-10-03 21:54] #1345 closed

[2016-10-04 02:17] Rick-Anderson commented on #89
You can see the start of this at https://www.dropbox.com/sh/jfmncpp0z79m9mt/AAAAB98zC4J7f9g_l6egU8nta?dl=0

[2016-10-04 11:31] jllblk commented on #1922
Thanks for answering my question. Allow me to clarify: ChallengeResult() is what I meant by "so that the user will be redirected to a certain route in the application."
I'm using Windows Authentication and Policy Authorization in a ASP.NET Core 1.0.0.0 app alongside .NET 4.6. I understand that Windows Authentication is handled by IIS only.
In my application, I am using the Windows Authentication I

[2016-10-04 19:59] #1916 closed

[2016-10-04 22:52] danroth27 commented on #1080
@dougbu is our model binding expert. He did the reviews on the [model binding doc](https://docs.asp.net/en/latest/mvc/models/model-binding.html) that is currently published. It might be enough just to get some time with him to get his thoughts on the specific issues this bug is tracking.

[2016-10-04 23:14] danroth27 commented on #1378
@BillWagner The idea was that this tutorial would be so simple and the steps so generic that you really don't need platform specific versions. Pretty much all of the steps are the same regardless of what platform you are on. I.e. add the MVC package, add the MVC services, add the MVC middleware and some routes, create a controller, add a view and maybe a layout page, done. Just the minimal steps n

[2016-10-04 23:19] Rick-Anderson commented on #1940
fixed by #1941

[2016-10-04 23:19] #1940 closed

[2016-10-05 04:27] #1931 closed

[2016-10-05 04:28] #1932 closed

[2016-10-05 11:19] Simply-Awesome commented on #89
@Rick-Anderson
If you can spare the time, please include:
- enabling only HTTPs anti-forgery tokens
- how HttpOnly flag set to "true" would work with SPAs like Angular
- about XST

I also really like this article:
http://resources.infosecinstitute.com/securing-cookies-httponly-secure-flags/

[2016-10-05 18:26] danroth27 commented on #1929
We are working on getting all of the remaining stale topics updated to be consistent with the RTM release, so soon this problem will be moot. In the meantime we think there is still value in having the old content available with an appropriate warning.

[2016-10-05 18:26] #1929 closed

[2016-10-05 19:55] danroth27 commented on #1373
This will be fixed when we move to docfx.

[2016-10-05 19:55] #1373 closed

[2016-10-05 19:56] danroth27 commented on #1372
This will be fixed when we move to docfx.

[2016-10-05 19:56] #1372 closed

[2016-10-05 19:58] #1856 closed

[2016-10-05 21:44] #505 closed

[2016-10-05 21:53] danroth27 commented on #880
Output caching is covered by the response caching doc.

[2016-10-05 21:53] #880 closed

[2016-10-05 21:57] danroth27 opened #1947 "Add response caching middleware content to the response caching doc"
We will have response caching middleware in 1.1.

[2016-10-05 22:01] danroth27 opened #1948 "Document cache tag helper in response caching doc"

[2016-10-06 16:39] moozzyk opened #1950 "Remove unneeded imports"
There are a lot of references dnxcore50 and even dnx451 in code samples - they should be removed when not necessary (i.e. in most places)

[2016-10-06 18:19] danroth27 commented on #96
Closing since there really isn't anything ASP.NET Core specific here.

[2016-10-06 18:19] #96 closed

[2016-10-06 18:28] danroth27 commented on #308
We decided this is really outside the scope of the ASP.NET Core docs.

[2016-10-06 18:28] #308 closed

[2016-10-06 18:29] danroth27 commented on #1668
Closing since we are moving away from gulp for bundling and minification.

[2016-10-06 18:29] #1668 closed

[2016-10-10 20:30] spboyer commented on #926
@danroth27 @Rick-Anderson
we have the following note in the article

This issue is covered, we should close this.

[2016-10-10 23:12] #926 closed

[2016-10-11 14:22] spboyer commented on #1561
@danroth27 - See comment above

[2016-10-11 16:22] danroth27 commented on #1561
I think this is a simple one line fix to add a note to the [Startup Conventions](https://docs.asp.net/en/latest/fundamentals/environments.html#startup-conventions) section of this topic that says calling `WebHostBuilder.UseStartup<TStartup>()` will override the environment specific startup sections. This should be really quick to fix. @spboyer Can you make the quick edit?

[2016-10-11 16:42] spboyer commented on #1561
done.

[2016-10-11 19:50] #1561 closed

[2016-10-11 19:51] #1751 closed

[2016-10-11 21:38] steveoh commented on #1382
can we get a list of the ones supported by the platform. Should I be able to change the port kestrel runs on with a command line arg?

[2016-10-12 18:21] breyed opened #1959 "Document when to choose WebListener"
The section [Choosing a server](https://docs.asp.net/en/latest/fundamentals/servers.html#choosing-a-server) describes different ways of hosting Kestrel, but doesn't even mention WebListener, much less offer guidance about when to choose it.

Related StackOverflow question: [WebListener vs Kestler: Why choose one over another?](http://stackoverflow.com/q/39248345/145173)

[2016-10-12 18:27] glennc commented on #1839
@natemcmaster did some perf charts in an issue here: https://github.com/aspnet/BasicMiddleware/issues/73

It would be good to show those when we talk about not having lots of rules. Updated if the implementation has changed enough to make them different.

[2016-10-12 18:32] danroth27 commented on #1839
@glennc Can we instead digest the perf data into concrete guidance? I'd prefer to not have to maintain these perf charts in the docs long term. They will almost certainly go stale.

[2016-10-12 21:33] Rick-Anderson opened #1960 "1.1 version of /fundamentals/configuration Configuration"
Per [@]divega https://github.com/aspnet/Options/issues/144#issuecomment-253329955 this is a good topic to add in our 1.1 docs. E.g. we should probably start recommending customers to use IOptionsSnapshot<TOptions> almost identically to how the use IOptions<TOptions> today in per-request instances but with the advantage that they can get fresh values if the configuration changes.

Do we have a 1.1

[2016-10-13 02:01] Rick-Anderson opened #1962 "aspnetcore/client-side/angular.md Using Angular for Single Page Applications (SPAs)"
- [ ] remove almost everything that is angular, just leave what's relevant to ASP.NET Core.

@scottaddie  or @spboyer should be able to do this.

[2016-10-13 05:21] Rick-Anderson opened #1963 "fundamentals/request-features.html "Request Features""
~~Individual~~ web server features related to how HTTP requests and responses are handled have been factored into separate interfaces

Explain what is meant by server:

To understand how servers create the original request feature collection you have to understand a bit how IServer is implemented. A server implementation must implement a Start method. In this method the server starts listening for

[2016-10-13 14:14] spboyer commented on #1962
@Rick-Anderson ? Essentially that means removing all content below https://docs.asp.net/en/latest/client-side/angular.html#key-components

@danroth27

[2016-10-13 18:17] danroth27 commented on #1962
We decided to leave the content until it actually becomes an issue.

[2016-10-13 18:17] #1962 closed

[2016-10-13 18:24] danroth27 commented on #1959
Yup, we need to document WebListener for the upcoming 1.1 release.

[2016-10-13 23:54] shirhatti opened #1965 "ASP.NET Core Module schema reference bug"
https://github.com/aspnet/Docs/blame/master/aspnet/hosting/aspnet-core-module.rst#L52

There is **NO** attribute called startupRetryCount

[2016-10-14 02:24] Rick-Anderson commented on #1842
- [ ] First occurrence of Visual Studio Code in the article append (VSC), then refer to it as VSC. Visual Studio Code gets tedious.

[2016-10-14 07:16] shirhatti commented on #1965
There is also **NO** configurable attribute called recyleOnFileChange

All references to it should be removed from the docs

[2016-10-14 08:30] b0bi79 opened #1967 "ASP.NET Core 1.0.1 on IIS fails with HTTP Error 502.5 - Process Failure"
Hello.
I get HTTP Error 502.5 - Process Failure. After added disableStartUpErrorPage="true" stdoutLogEnabled="true" in the web.config, I get HTTP Error 502.3 - Bad Gateway.
Windows event log: Process was created with commandline '"C:\inetpub\wwwroot\VernoPortal\Verno.Reports.Web.exe" ' but either crashed or did not reponse within given time or did not listen on the given port '13417', ErrorCode =

[2016-10-14 11:26] dhont commented on #100
Me too

[2016-10-14 17:23] JunTaoLuo opened #1969 "Update ResponseCaching docs"
The documentation for the response caching attribute should be updated.

It should reflect the addition of the VaryByQueryKey property that was added in https://github.com/aspnet/Mvc/pull/5383 and the addition of the response caching middleware on the server.
[edit] #1679 master issue on response caching

[2016-10-14 19:04] brandonmartinez commented on #1868
The confusion for me was that I didn't have the dotnet cli installed on my server, as it wasn't listed under prerequisites. Should this be added there?

[2016-10-15 01:14] Rick-Anderson commented on #100
Please subscribe to an issue, don't leave "me too remarks".

[2016-10-15 01:15] Rick-Anderson commented on #100
If you're interested in working on it, let us know what you can do.

[2016-10-15 01:23] Rick-Anderson commented on #100
@danroth27  will this have more than https://github.com/Glimpse ?

[2016-10-15 02:01] #1406 closed

[2016-10-15 02:01] Rick-Anderson opened #1971 "mvc/models/formatting "Formatting Response Data""
- [ ] UE Edit - simply is a banned word
- [ ] Disqus
- [ ]  #1406  Consider updating the article for RTM to show how to format the JSON as PascalCase rather than camelCase.
- [ ] #2005  - The following two links are incorrect
  System.Xml.Serialization.XmlSerializer. If you prefer, you can use the System.Runtime.Serialization.DataContractSerializer
- [ ]  provide guidance on System.Xml.Serializati

[2016-10-15 22:19] LeeDumond opened #1974 "Is there any interest in contribs for updating samples for RTM?"
Just wondering if the team would welcome contributions on updating some of the sample solutions that break on the RTM version of ASP.NET Core. Many of them only work with the preview versions which many folks probably don't have on their machines.

[2016-10-17 18:21] Rick-Anderson commented on #1974
@LeeDumond We would greatly appreciate the help, however can you hold off for now? We're going to freeze this repository while we make some changes. cc @danroth27

[2016-10-17 20:32] LeeDumond commented on #1974
OK, no problem, I will keep an eye out...

[2016-10-18 19:18] anurse opened #1979 "[1.1 New Feature] Add docs for EventSource Logger Provider"
Working on testing this right now and I noticed there's no doc. I'll try to add notes here as I go. If I have some cycles after sign-off I'll try to get the doc written up myself, otherwise there should be enough notes here for someone else to take it
- How to install (package ID, version, etc.): `Microsoft.Extensions.Logging.EventSource` `1.1.0-...`
- How to enable: `loggerFactory.AddEventSourceL

[2016-10-18 19:26] anurse commented on #1979
# Screenshots from PerfView

### Collecting events

![image](https://cloud.githubusercontent.com/assets/7574/19492875/5ec04744-952d-11e6-9ab4-486e0b258fb0.png)

[2016-10-18 20:40] danroth27 commented on #1967
This really isn't a doc issue. Are you able to run Verno.Reports.Web.exe directly without error?

If you need further assistance with this issue I recommend posting a question on StackOverflow.

[2016-10-18 20:40] #1967 closed

[2016-10-18 21:37] tdykstra opened #1981 "Fundamentals/servers/kestrel.html "Kestrel""
New doc focusing on Kestrel -- existing Servers doc will be an overview, with details going here and in two other new docs, one on WebListener, and one on AspNetCoreModule.

[2016-10-18 21:39] tdykstra opened #1982 "Fundamentals/servers/aspnetcoremodule.html "ASP.NET Core Module""
New doc focusing on ASP.NET Core Module -- existing Servers doc will be an overview (#1348), with details going here and in two other new docs, one on WebListener (#1827), and one on Kestrel (#1981).

[2016-10-18 22:00] clement911 commented on #135
that won't force https for static files though

[2016-10-18 22:03] Rick-Anderson commented on #135
@danroth27  any suggestions for forcing SSL on static files?

[2016-10-18 22:33] clement911 commented on #135
Actually I guess redirection at the mvc level might be sufficient since static files should get requested using the same base url as the page itself...
I'm using
`services.AddMvc(options =>
            {
                options.Filters.Add(new RequireHttpsAttribute());
            });`
but the problem is that it redirects the https:// (so the default port 443) even though my dev environment has an

[2016-10-18 22:53] Rick-Anderson commented on #135
localhost/IIS Express SSL will use 443xx and that all works fine with the code above. I've been using this approach for years.

[2016-10-19 13:24] ArgTang opened #1983 "The Contoso University link to reapo"
Can i request that a link to the Contoso App repo to be added? It would be great to compare against a working solution when you get stuck, followint the tutorial

[2016-10-19 15:55] GuardRex commented on #1965
@Rick-Anderson Do you want me to put in a fix for these two (i.e., remove them)?

@shirhatti Curious: What's up with `recycleOnFileChange` in the schema? Is it nop?
[code]

[2016-10-19 16:24] tdykstra commented on #1827
The [blog post by Neel Bhatt](https://neelbhatt40.wordpress.com/2016/10/08/weblistener-is-now-on-nuget-a-net-core-server/) is well done, here's a proposed outline for the new doc that follows a similar organization and expands on it:

### What is WebListener
- Server for .NET Core
  - WebListener is a Windows HTTP server built on the Http.Sys kernel mode driver. It exposes a number of Http.Sys fea

[2016-10-19 16:43] tdykstra commented on #1827
@danroth27 the [Katana content](http://katanaproject.codeplex.com/wikipage?title=Selfhosting) that we're porting to Docs refers to third-party tools that are unsupported but are easier to work with than netsh command line, also links to third-party blogs.  Is it OK to retain this info when we port the content?

[2016-10-19 16:46] anurse opened #1985 "[1.1 Upgrade Docs] When upgrading from 1.0 to 1.1, publish profiles need to be updated."
Changing the Target Framework Moniker (TFM) in the _project.json_ does not update the Publish Profile settings, which also need to be updated (specifically `[Project Name]/Properties/PublishProfiles/[Profile Name].pubxml` which has a `PublishFramework` setting).

We should make sure to document this in upgrade docs.

/cc @danroth27 @muratg

[2016-10-19 16:50] anurse commented on #1985
This manifests as a publish failure if you update project.json to use the new TFM, and re-publish without editing the Publish Profile:

[code]

Note that you can edit the profile by pressing "Back" in the dialog, and in fact you don't have to do anything since the TFM drop down automatically resets to the the TFM in your project, so just moving back and then forward again in the Publish Wizard act

[2016-10-19 16:58] Rick-Anderson commented on #1965
@GuardRex , yes that would be great if you could remove them. But do it at https://github.com/Microsoft/Docs-1, not here

[2016-10-19 16:59] GuardRex commented on #1965
Ok ... will do.

[2016-10-19 17:33] GuardRex commented on #1965
@shirhatti As before, does the module attempt to restart the process after the `startupTimeLimit` has passed? If so, do you want me to add a note on indefinite restart attempts?

From the current text ...

To ...

Or better if the restart attempts are indefinite ...

One other thing ... There are four spots where the ANCM is referred to as a "handler," but shouldn't that be "module?" If so, I'll k

[2016-10-19 18:03] Rick-Anderson commented on #1983
@tdykstra can you respond?

[2016-10-19 18:09] danroth27 commented on #1983
There is a link to the code for the tutorial in the Docs repo:

[code]

[2016-10-19 18:09] #1983 closed

[2016-10-19 18:16] Prasanna-Rani opened #1986 "missing favicon"
Missing Microsoft Logo for all the links/pages under  " https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/intro "
when viewed in IE11.

[2016-10-19 18:23] shirhatti commented on #1965
If this time limit is exceeded, the handler will kill the process. ANCM will attempt launch it again when it receives a new request. It will continue to attempt to restart the process on subsequent incoming requests unless the application failed to start `rapidFailsPerMinute` number of times in the last rolling minute.

And yes, it should be referred to as a module. I'm guessing that's an artifact

[2016-10-19 18:24] Prasanna-Rani opened #1987 "DocFX - aspnet/aspnetcore/tutorials/your-first-mac-aspnet , Your First ASP.NET Core Application on a Mac Using Visual Studio Code"
Step1:Navigate to https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/tutorials/your-first-mac-aspnet page.
Step2: View the code block under "Running Locally Using Kestrel"
Actual Result : "Microsoft.AspNetCore.Server.Kestrel": is only being displayed( i.e only the yellow colored code)
Expected Result : In Live Environment
{
  "dependencies": {
    "Microsoft.NETCore.App": {
      "version":

[2016-10-19 18:25] GuardRex commented on #1965
Thx @shirhatti ... I'll use that language or very similar language in the  PR, which I'll get in within a few hours.

[2016-10-19 18:26] CodingSamurai commented on #1162
This is essential functionality if people are going to be moving to .NET Core for production apps.

[2016-10-19 19:08] tdykstra commented on #1959
Added to #1348, see also new WebListener doc #1827

[2016-10-19 19:08] #1959 closed

[2016-10-19 19:18] Rick-Anderson commented on #1987
In this case, I removed everything but the package, and removed the version number because version numbers changes. Thanks.

[2016-10-19 19:18] #1987 closed

[2016-10-19 19:26] Rick-Anderson commented on #1986
@Prasanna-Rani  can you attach a screen shot?

[2016-10-19 21:37] anurse commented on #1979
# Capturing from Nano Server

**Prerequsite:** The app is up and running on Nano, with the `EventSource` logger configured.

1. Connect PowerShell remoting to the Nano Server (`Enter-PSSession [name]`)
2. Create an ETW session: `New-EtwTraceSession -Name "MyAppTrace" -LocalFilePath C:\trace.etl`
3. Add ETW providers
  1. [CLR Provider](https://msdn.microsoft.com/en-us/library/ff357718(v=vs.110).as

[2016-10-19 22:33] danroth27 commented on #1827
@tdykstra I think that's fine

[2016-10-20 07:54] venkatapidikiti opened #1989 "ASP.NET Core Tutorials"
Hi,
I am unable to find ASP.NET Core tutorials using "Visual Studio Code" whilst "Visual Studio".
Here is ref link:https://docs.asp.net/en/latest/tutorials/
Thanks
Venkatta

[2016-10-20 08:50] b0bi79 commented on #1967
I solved this issue by removing DotNetCore, httpPlatformHandler_amd64, .NET 4.6.2 and reinstalled this. But instead .NET 4.6.2 I installed .NET 4.6.1

[2016-10-20 16:59] muratg opened #1990 "Doc about web.config recycleOnFileChange being no-op in ASP.NET Core"
Source https://github.com/aspnet/IISIntegration/issues/291

- `recycleOnFileChange` in web.config currently no-ops for ASP.NET Core apps. We can't remove it from the schema, so this should be documented.
- `AddJsonFile("appsettings.json", reloadOnChange: true)` is the ASP.NET Core way of achieving this

Current doc seems a little sparse on this detail: https://github.com/Microsoft/Docs-1/blob/mast

[2016-10-20 17:03] Prasanna-Rani commented on #1986
![1986](https://cloud.githubusercontent.com/assets/22809209/19569888/0df21cb8-9715-11e6-97ce-775c9d99b8f3.PNG)

Here is the screenshot Rick

[2016-10-20 17:04] GuardRex commented on #1990
@shirhatti and I removed the `recycleOnFileChange` from the ANCM doc in https://github.com/Microsoft/Docs-1/pull/52 ... I think the thinking was that it isn't configurable, so we could just cut it from the doc (as opposed to listing it and stating it isn't configurable).

[2016-10-20 17:07] Prasanna-Rani opened #1991 "Docfx- /aspnet/aspnetcore/fundamentals/localization ,Globalization and localization"
There is a table under the topic "Resource file naming"
Table is not Correctly displayed. I mean its an Open Table.
Below is the screenshot of the same.

![table](https://cloud.githubusercontent.com/assets/22809209/19570020/b50ec4e2-9715-11e6-8685-03345122314f.PNG)

[2016-10-20 17:11] Prasanna-Rani commented on #1991
similar issue is found with the table in https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/fundamentals/logging     page.

[2016-10-20 17:17] Prasanna-Rani commented on #1991
similar issue in  https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/fundamentals/owin page . here it looks more clumsy with continuous tables.

![table1](https://cloud.githubusercontent.com/assets/22809209/19570342/28e9f08e-9717-11e6-9e38-8f754ff4893a.PNG)

[2016-10-20 17:24] Prasanna-Rani opened #1992 "Docfx- /aspnet/aspnetcore/fundamentals/routing , Routing"
Unwanted Symbols( ?)  are displayed before the link �"� Routing to Controller Actions

[2016-10-20 18:06] Rick-Anderson commented on #1989
see (Your First ASP.NET Core Application on a Mac Using Visual Studio Code)[https://docs.asp.net/en/latest/tutorials/your-first-mac-aspnet.html]

[2016-10-20 18:06] #1989 closed

[2016-10-20 18:17] danroth27 commented on #1990
We'll handle this as part of #1965.

[2016-10-20 18:20] shirhatti commented on #1965
Given @muratg's comment in #1990, I think it's best we keep `recyleOnFileChange` in the configuration reference, but explicitly called it has been deprecated and currently only no-ops. This way it will be less confusing for folks who discover this attribute in their schema file.

[2016-10-20 18:35] GuardRex commented on #1965
Ok ... I'll get the commit in there to restore that bit with the note on depreciation/no-op in a couple of hours when I get back from the gym 💪 .

[2016-10-20 18:41] anurse opened #1993 "[1.1 New Feature] Azure Key Vault Configuration Provider"
Docs for the Azure Key Vault Configuration Provider should be added. Rough outline notes below.

**Note**: For Preview 1, The AzureKeyVault config provider only supports .NET 4.5.1+ apps, and not .NET Core apps.
- Service docs: https://azure.microsoft.com/en-us/services/key-vault/ and [Key Vault Documentation](https://docs.microsoft.com/en-us/azure/key-vault/)
- Key Vault is a way to securely stor

[2016-10-20 20:16] Rick-Anderson commented on #1965
Don't use deprecated, deprecated means it works now but may not in the future. Just say it does nothing (no-op). Don't use no-op alone (that is, say it does nothing (no-op)).

[2016-10-20 20:57] GuardRex commented on #1965
How about this for the description?

[2016-10-20 21:00] GuardRex commented on #1965
This still seems a little awkward to me ...

maybe ...

or ...

[2016-10-20 21:15] Rick-Anderson commented on #1965
You could probably go with

`This element is not used by the module.`

And that's all you need.

[2016-10-20 21:17] GuardRex commented on #1965
mmm ... kind'a begs the question why its there.

How about ...

[2016-10-20 21:22] Rick-Anderson commented on #1965
That's fine. You could even tack on
Formerly, this element defined a collection of files, which when changed, would prompt a recycle of the worker process.

[2016-10-20 21:24] GuardRex commented on #1965
ok, cool. It's done.

[2016-10-20 22:45] cesarbs opened #1994 "dotnet watch - update to "preview3""
- [x] Update to RTM  Still referencing preview2.
- [x] UE review
- [x] #1902

[2016-10-20 22:48] #1965 closed

[2016-10-20 23:05] Rick-Anderson commented on #1991
See https://help.github.com/articles/organizing-information-with-tables/
GFM tables are very limited - I don't think there is anything we can do to improve them.

[2016-10-20 23:05] #1991 closed

[2016-10-20 23:17] Rick-Anderson commented on #1986
@danroth27 @bradygaster will we get the favicon automatically?

[2016-10-20 23:37] Rick-Anderson commented on #1992
fixed in https://github.com/Microsoft/Docs-1/pull/53

[2016-10-20 23:37] #1992 closed

[2016-10-21 21:57] Rick-Anderson commented on #1986
It will be there when we publish. Doesn't show in IE/Edge now but does show in Chrome/FF

[2016-10-21 21:57] #1986 closed

[2016-10-22 02:27] Rick-Anderson opened #1997 "DocFX - extra lines in snippet"
https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/getting-started
search for setup and start the Web host

In DocFX, it’s rendered correctly.
Also found in
https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/fundamentals/hosting
search for _to build a host._

[2016-10-22 02:46] Rick-Anderson opened #1998 "Metadata displayed"
- https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/tutorials/first-mvc-app/start-mvc
- https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/tutorials/first-mvc-app/adding-view
-

[2016-10-22 03:16] Rick-Anderson commented on #1998
fixed by https://github.com/Microsoft/Docs-1/pull/56

[2016-10-22 03:16] #1998 closed

[2016-10-22 09:41] rs38 commented on #194
@Rick-Anderson @danroth27
any chance to update the nano tp5 tutorial to RTM?
are the workarounds still necessary?

[2016-10-23 00:32] ckelner commented on #1868
@glennc I believe those are the docs in question.

I think the specific part that could use some work is: https://github.com/aspnet/Docs/blame/master/aspnet/publishing/linuxproduction.rst#L26-L29 -- providing examples of what to run would be helpful, e.g. providing `donet /<path>/HelloMVC.dll`

[2016-10-23 06:53] 50774283 opened #2000 "suggestion you write full namespace in your code thank you."
such as:
services.ConfigureSwaggerGen(options =>
{
    options.SingleApiVersion(new Info
    {});
});

some developer don't use Visual Studio,so we're unable to know the namespace of the class Info.
i had take too much  time for resolve this issue and very disappointed.
thank you.

[2016-10-24 15:17] #1348 closed

[2016-10-24 15:17] #1630 closed

[2016-10-24 17:17] #1925 closed

[2016-10-24 17:59] Rick-Anderson opened #2001 "Remove issue lables we're not using"

[2016-10-24 18:14] spboyer commented on #2000
[Omnisharp](https://www.omnisharp.net/#integrations) - offers intellisense cross platform within Vim, Emacs, Visual Studio Code, Brackets and other text based editors.  Have you tries this add-in?

[2016-10-24 18:14] #2000 closed

[2016-10-24 18:17] spboyer commented on #2001
Need to do post conversion. Discuss with @danroth27

[2016-10-24 18:19] spboyer commented on #1990
Closed with #1965

[2016-10-24 18:19] #1990 closed

[2016-10-24 18:43] moozzyk commented on #1947
Here are the topics that needs to be described (from my verification):
- cacheable vs. non-cacheable responses based on:
   method - only GET/HEAD responses are cachable
   headers - Authorization, Cache-Control: no-cache, Pragma: no-cache make responses non-cacheable
- which Cache-Control header options and headers affect caching and how:
   - request: min-fresh, max-age, max-stale
   - response:

[2016-10-24 22:02] Rick-Anderson opened #2002 "mvc/views/layout"Layout""
- [ ] UE review
- [ ] DISQUS
- [ ] Rosetta Stone “In Django we call it blocks, in ASP.NET Core we call it sections.”  (see below)

[2016-10-24 22:08] Rick-Anderson commented on #2002
Ultimately what I was trying to do was have page specific JavaScript and CSS. Ideally the JavaScript goes at the end of the body and the CSS goes in the head, but I couldn’t figure out how to do that using the asp.net core templates.

Here’s what the solution looked like:

In my template:
@section styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/jsoneditor/

[2016-10-24 22:21] Rick-Anderson opened #2003 "dup using systemd, HSTS, Context Options etc, on the nginx page"
per @blowdart  on https://github.com/Microsoft/Docs-1/pull/47
if you're documenting monitoring using systemd, then that should be duplicated on the nginx page, because it applies there as well. Ditto for the longer explanations about HSTS, Context Options etc, although I'd argue they should presented as fait accomplis rather than giving people just enough information to make the wrong decisions

[2016-10-25 17:04] Prasanna-Rani opened #2004 "DocFX - aspnet/aspnetcore/mvc/models/model-binding , Introduction to model binding"
Some links are pointing to staging environment and some links are pointing to Production Environment.
like ...
routing (https://docs.asp.net/en/latest/mvc/controllers/)
validation  (https://docs.asp.net/en/latest/mvc/models/)

[2016-10-25 17:11] Prasanna-Rani opened #2005 "DocFX - /aspnet/aspnetcore/mvc/models/formatting, Formatting Response Data"
Links "System.Xml.Serialization.XmlSerializer" and " System.Runtime.Serialization.DataContractSerializer" are leading to Page not found. below is the screen shot

![bug2](https://cloud.githubusercontent.com/assets/22809209/19696285/13ab8e94-9b04-11e6-9146-b4da0f31899b.PNG)

[2016-10-25 20:22] auzmartist commented on #137
Any update here? Our team has just run up against a (not-urgent) desire to do this but would like to wait for some documentation before proceeding.

[2016-10-25 20:40] danroth27 commented on #194
@rs38 Yup, we will be doing a general content refresh once we have completed the migration to docfx. It would be great if you could file a new issue specifically for updating the Nano article.

[2016-10-25 22:29] xdaDaveShaw opened #2007 "VSTS continuous deployment improvement suggestions"
The [VSTS continuous deployment](https://docs.asp.net/en/latest/publishing/vsts-continuous-deployment.html) has a few issues that could be improved on:
1. It recommends the installation of a 3rd party marketplace extension to zip files when there is a built in one.
2. The Copy and Publish step doesn't work as well as the Publish Build Artifacts.

I've create fork with my suggested improvements [he

[2016-10-26 03:30] Rick-Anderson commented on #2007
@sayedihashimi  are you the right reviewer?
@xdaDaveShaw  you caught us in the middle of converting from .RST to GFM (.MD).

[2016-10-26 03:32] Rick-Anderson commented on #2005
@Prasanna-Rani  where are you finding these links?

[2016-10-26 03:35] Rick-Anderson commented on #2004
@Prasanna-Rani can you give me the URL or page where these links occur?

[2016-10-26 03:45] sayedihashimi commented on #2007
@rick-Anderson, I think Chris Patterson would be a better suited reviewer but I'm willing to help as needed.

[2016-10-26 06:45] Prasanna-Rani commented on #2004
Hi Rick , I mentioned the link in the title of the bug itself .
Url of the page : https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/mvc/models/model-binding

In this page we can find the links under the Topic "**How model binding works**"
routing --- this leads to (https://docs.asp.net/en/latest/mvc/controllers/)
 validation---- this leads to  (https://docs.asp.net/en/latest/mvc/models/)

[2016-10-26 06:49] Prasanna-Rani commented on #2005
In this page " https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/mvc/models/formatting"
Under the topic " Configuring Formatters "
Here is the screenshot

![2005](https://cloud.githubusercontent.com/assets/22809209/19715942/647f764c-9b76-11e6-9c96-a1c2ae1d2f3a.PNG)

[2016-10-26 17:26] Rick-Anderson commented on #2007
@sayedihashimi  do you mean @chrisrpatterson ?

[2016-10-26 17:40] sayedihashimi commented on #2007
Yes

[2016-10-26 19:15] chrisrpatterson commented on #2007
@Rick-Anderson  I left some comments on your PR.

[2016-10-26 19:54] xdaDaveShaw commented on #2007
@Rick-Anderson - I didn't see the memo on the README - that will teach me to read the docs on the docs :). I'll wait until the conversion is over before I create a PR.

[2016-10-26 20:37] Rick-Anderson commented on #2007
@xdaDaveShaw  I probably put the note in after your PR :-(

[2016-10-26 21:47] Eilon opened #2008 "Improve "expression name" documentation -- describe supported syntax"
_From @dougbu on August 14, 2014 14:50_

Find a page describing the Linq-to-objects expression name syntax that our `IHtmlHelper` implementation supports.  Link to that page from the appropriate parameter descriptions in our XML documentation.

See https://github.com/aspnet/Mvc/pull/961#discussion-diff-16214115 for background on this ask.

_Copied from original issue: aspnet/Mvc#1001_

[2016-10-26 21:47] Eilon commented on #2008
_From @dougbu on September 27, 2016 23:48_

This subject will be more accessible (i.e. easier for customers to find) in documentation and not doc comments. Suggest moving this issue to the [aspnet/docs](https://github.com/aspnet/docs) repo and marking that new issue as blocked on aspnet/Docs#131. aspnet/Docs#131 is about filling in https://docs.asp.net/en/latest/mvc/views/html-helpers.html but unf

[2016-10-26 21:48] Eilon opened #2009 "Documentation: Improve discoverability of "htmlAttributes" entry in `ViewDataDictionary`"
_From @dougbu on October 6, 2014 17:5_

`@Html.Editor()` and `@Html.EditorFor()` special-case an entry named "htmlAttributes" in the `ViewDataDictionary` (optionally augmented using `additionalViewData` parameters) when executing their default templates. MVC 5.2 issue [#2142](https://aspnetwebstack.codeplex.com/workitem/2142) is an indication this feature needs additional documentation. Users will

[2016-10-26 22:45] Rick-Anderson opened #2010 "tutorials/first-mvc-app/adding-view "Adding a view""
- [ ] Explain `IActionResult` return type. See Formatting Response Data (mvc/models/formatting) for a starter.

[2016-10-27 00:02] Rick-Anderson commented on #2005
removed links

[2016-10-27 00:02] #2005 closed

[2016-10-27 02:53] Rick-Anderson opened #2011 "DocFX style guide"
- [ ] Use UID links only. See [xref links](http://dotnet.github.io/docfx/spec/docfx_flavored_markdown.html#cross-reference)
- [ ] these links are not working.  It might also be a problem with  _docfx.json_.  see Tip: File must be included in docfx.json to be processed by DocFX, so if you see a build warning about broken link but the file actually exists in your file system, go and check whether th

[2016-10-27 03:20] Rick-Anderson commented on #2004
fixed

[2016-10-27 03:20] #2004 closed

[2016-10-27 03:21] Rick-Anderson commented on #1997
Andy fixed them.

[2016-10-27 03:21] #1997 closed

[2016-10-27 05:21] Rick-Anderson commented on #2008
@dougbu MVC 4.x and 5.x are retired and not being maintained.

@danroth27  might have an idea.

[2016-10-27 13:12] grbinho opened #2012 "Issue with environment variable case sensitivity"
In the documentation about [environments ](https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/environments.md)

This section is not valid for Linux.

I ran into this issue couple of days ago. Case matters.

For example , if you are reading a configuration file depending on the environment, file is called
`appsetings.production.json` and variable is set to "Production". Code that mi

[2016-10-27 17:30] Prasanna-Rani opened #2013 "DocFX-/aspnet/aspnetcore/mvc/views/overview,Views Overview"
Url of the page -https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/mvc/views/overview

Following  2 Links are redirecting to Production Environment
![capture1](https://cloud.githubusercontent.com/assets/22809209/19778058/b0b53b1e-9c98-11e6-94e3-6528d19a9034.PNG)

[2016-10-27 17:38] Prasanna-Rani opened #2014 "DocFX- /aspnet/aspnetcore/mvc/views/razor,Razor Syntax Reference"
Url of the  page: https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/mvc/views/razor

Under the Heading "Razor syntax" a Link with the name "Razor reserved keywords" is missing

Below is the Screenshot
![capture2](https://cloud.githubusercontent.com/assets/22809209/19778375/078eff78-9c9a-11e6-9924-c86f8ce68214.PNG)

[2016-10-27 17:53] Prasanna-Rani commented on #2013
Hi Rick,
Following are some more pages where links are redirecting to Production Environment.
Url: https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/mvc/views/razor
screenshot
![capture1234](https://cloud.githubusercontent.com/assets/22809209/19778572/034ea03e-9c9b-11e6-986e-ea14cfd158ce.PNG)

Same page
![capture125](https://cloud.githubusercontent.com/assets/22809209/19778847/2b0c93dc-9c9

[2016-10-27 17:59] Prasanna-Rani commented on #2014
Same url : https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/mvc/views/razor

Under the Heading "Directives"  a link with name "Viewing the Razor C# class generated for a view  " link is missing.
Screenshot
![capture126](https://cloud.githubusercontent.com/assets/22809209/19779058/15f54d58-9c9d-11e6-95e3-e31a8fe2cba9.PNG)

[2016-10-27 18:01] Rick-Anderson commented on #2012
@grbinho  I think it might be the case that "The specified environment name is case insensitive." is true for environment variables but not for file names.

We could make it clear that the file names are case sensitive.

[2016-10-27 18:08] Prasanna-Rani commented on #2013
url: https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/mvc/views/working-with-forms

[2016-10-27 18:13] Prasanna-Rani commented on #2013
url: url: https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/mvc/views/working-with-forms

Under the Heading "HTML Helper alternatives to Input Tag Helper"

![capture128](https://cloud.githubusercontent.com/assets/22809209/19779510/0cdcc564-9c9f-11e6-8dd9-13f53b453de4.PNG)

[2016-10-28 15:19] ckelner opened #2016 "Suggestion: Consider adding information regarding running a published application in Docker"
I had been having some difficulty getting a published dotnet app running happily inside a docker container and couldn't find any decent examples anywhere.  I put together an example [here](https://github.com/ckelner/aspnetcorespa-example#aspnet-core-spa-example) both to help myself (bare minimum boilerplate to remove any self introduced issues) and to serve as an example of what I'd like to see fr

[2016-10-28 16:19] aszalavitz commented on #1825
What generates project.fragment.lock.json?  Whatever it is has a bug or a configuration issue, and I don't know where to submit it.  I've asked on StackOverflow because I'm hoping I can configure to fix the issue, so here's the link http://stackoverflow.com/q/40309163/967448.  I can re-iterate that here, if it helps, so let me know.

[2016-10-28 17:14] Prasanna-Rani opened #2017 "DocFX-/aspnet/aspnetcore/mvc/views/working-with-forms,Working with Forms"
url of page: https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/mvc/views/working-with-forms

"Working with Forms " Document is displayed twice ..One under MVC->Views>Working with Forms
another under  MVC->Views>Tag Helpers>Working with Forms.

Screenshot
![capture129](https://cloud.githubusercontent.com/assets/22809209/19815331/f7ee7d34-9d5f-11e6-8c53-35c78fd3c0a0.PNG)

[2016-10-28 17:33] Prasanna-Rani opened #2018 "DocFx-/aspnet/aspnetcore/mvc/views/tag-helpers/intro,Introduction to Tag Helpers"
url of the page :https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/mvc/views/tag-helpers/intro

Unlike other Documents, the Section topics are mentioned twice ...one under "In this Article(Right side of the page) another in the document itself

Screenshot

![capture130](https://cloud.githubusercontent.com/assets/22809209/19815908/a3bcae7c-9d62-11e6-8336-55efaea82092.PNG)

[2016-10-28 17:51] Prasanna-Rani opened #2019 "DocFX- /aspnet/aspnetcore/mvc/views/tag-helpers/intro,Introduction to Tag Helpers"
Url of the page: https://review.docs.microsoft.com/en-us/aspnet/aspnetcore/mvc/views/tag-helpers/intro

Links are redirecting Production Environment
![capture131](https://cloud.githubusercontent.com/assets/22809209/19816021/2bfa99ca-9d63-11e6-8343-0eb2dee812c0.PNG)

![capture132](https://cloud.githubusercontent.com/assets/22809209/19816060/56bdd8d4-9d63-11e6-8367-a03b18c4bd6f.PNG)

![capture133](h

[2016-10-28 18:12] danroth27 commented on #2016
@spboyer Can you provide a link to our current guidance?

[2016-10-28 20:17] danroth27 commented on #137
@auzmartist Can you tell us more about your scenario? Maybe there is an easier way to accomplish what you want to do.

[2016-10-29 19:09] Rick-Anderson opened #2024 "How to show date/time in client time zone, not server"
Image I want the [F1 schedule](http://www.espn.com/racing/schedule/_/series/f1) but displayed in clients time zone.
- Save client time zone (TZ) in users profile and add to session
- Apply TZ offset in time responses

customer asked this question in[ Globalization and localization](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization) but that's probably not the best place to pro

[2016-10-29 19:13] Rick-Anderson opened #2025 "fundamentals/localization "Globalization and localization" perf"
Suppose I support limited number of translations, but I want to handle every possible culture in terms of formatting. E.g. I have only English version of the web app, but want users to see date-time and number formatting which correspond to their system setting. Is it ok to do this like:

[code]

My concern here is about specifying an array of ALL (832) cultures which will be checked at every requ

[2016-10-29 19:13] Rick-Anderson commented on #2025
@ryanbrandenburg  please comment

[2016-10-29 19:24] Rick-Anderson opened #2026 "fundamentals/localization "Globalization and localization" How to call validation"
see [DISQUS question](https://docs.asp.net/en/latest/fundamentals/localization.html#comment-2972813287)
I found a problem with DataAnnotations localization. Using built in validators (say Required) one can specify ErrorMessage like this:
`[Required(ErrorMessage = "This field is required")]`

Using described methods I successfully localized this message. However when I implement `IValidatableObject

[2016-10-29 19:30] Rick-Anderson commented on #2026
@ryanbrandenburg  please comment on 2nd question.

[2016-10-31 00:54] Rick-Anderson opened #2028 "fundamentals/environments.md "Working with Multiple Environments""
- [x] #2012 case sensitivity
- [x] #2030 add the ability to set [environment variables on IIS worker processes](https://www.iis.net/configreference/system.applicationhost/applicationpools/add/environmentvariables) was  IIS 10.
- [x] UE Edit
- [x]  #2029 publish my app using all those 3 different predefined environment variables
- [x] See if [this SO post](http://stackoverflow.com/questions/3104915

[2016-10-31 00:56] Rick-Anderson commented on #2012
master issue #2028

[2016-10-31 00:58] Rick-Anderson opened #2029 "publish my app using all those 3 different predefined environment variables"
Cust asks:

[2016-10-31 00:59] Rick-Anderson commented on #2029
@sayedihashimi  can you comment?

[2016-10-31 01:04] Rick-Anderson opened #2030 "how to set ENVIRONMENT VARIABLES per IIS AppPool"

[2016-10-31 01:07] Rick-Anderson commented on #2030
@Tratcher

In [Working with Multiple Environments](https://docs.asp.net/en/latest/fundamentals/environments.html) customer asks:

cc @danroth27 @GuardRex @spboyer

[2016-10-31 01:11] Rick-Anderson commented on #2028
per customer

[2016-10-31 01:14] Rick-Anderson commented on #2028
per DISQUS customer:

It took a while for me to figure out I had to change the profile selection at the top, perhaps a screengrab of that that with the dropdown for Profile highlighted would help, e.g.:
![original 1](https://cloud.githubusercontent.com/assets/3605364/19841695/8018f65e-9eb3-11e6-9778-5c7c0320af16.jpg)

[2016-10-31 04:34] davidfowl opened #2031 "Document lifetime of services in middleware"
See https://github.com/aspnet/Mvc/issues/3860

[2016-10-31 07:56] benzhi2011 commented on #2029
let me know if you have the solution to this. thx

[2016-10-31 09:14] Rick-Anderson commented on #2030
I think his question might be, what if I have several production app pools for different production apps.

[2016-10-31 13:20] Tratcher commented on #2030
One way to do it is via the aspnetcore section of your web.config. Just keep in mind that you want to add app secrets to this file during/after deployment such that they are not checked into source control.
https://docs.asp.net/en/latest/hosting/aspnet-core-module.html#setting-environment-variables
http://stackoverflow.com/questions/31049152/publish-to-iis-setting-environment-variable/36836533#368

[2016-10-31 14:39] GuardRex commented on #2030
I thought so, too. I thought he was asking from the standpoint of perhaps deploying apps to staging and production AppPools without wishing to set env vars explicitly for each site in IIS.

I asked him in Disqus if he would elaborate on his setup.

[2016-10-31 16:41] sayedihashimi commented on #2029
In ASP.NET 4 the application configuration was strictly tied to the `web.config` file. We created web.config transforms to solve that issue. In ASP.NET Core, the framework has an extensible configuration system. In the startup.cs file you can configure sources for where config is pulled from.
If you've created the project with Individual Auth in startup.cs you'll see the following.

[code]

Here y

[2016-10-31 18:12] Rick-Anderson commented on #2031
Add to middleware topic.

[2016-10-31 19:40] Rick-Anderson opened #2035 "Instructions and links for OSX/Linux on contrib guide"
https://github.com/aspnet/Docs/blob/master/CONTRIBUTING.md
cc @spboyer

[2016-10-31 20:15] GuardRex commented on #2030
From Disqus @guardrex ...

Good point, and some sys admins will want to distinguish an app's configuration based upon the AppPool. The APP_POOL_ID env var is set by process, so it should return the AppPool of the app. Try some app startup logic that can set the environment for the app based on the name of the AppPool returned ...
[code]
That's affectionately known (or despised and ridiculed) as th

[2016-10-31 20:15] GuardRex commented on #2030
From Disqus @nvivo ...

Sure. I have some apps where we use the same server for different environments. For example: site.com, dev.site.com, test.site.com are all in the same VM. I'd like the environment to be defined for the site instead of the entire server.

Web.config allows me to define environment variables per site, but I need to change that during publish or I need the build system to take

[2016-10-31 20:16] GuardRex commented on #2030
From Disqus @guardrex ...

Yes, that's common, but I agree with you that that's a big 'ole mess.

Except for using `web.config`, which sucks because of the problem of needing different `web.config` files, this is an IIS thing. You'd have to open something with the IIS folks about it. The .NET cats probably won't be able to do much in this regard.

The most common thing I've seen in my travels is s

[2016-10-31 20:19] Tratcher commented on #2030
@shirhatti This is an IIS feature request.

[2016-10-31 20:33] Rick-Anderson opened #2036 "Travis fails with Could not find .travis.yml"
see https://github.com/aspnet/Docs/pull/2034 for an example
cc @danroth27

[2016-10-31 20:36] Rick-Anderson opened #2037 "download & Edit in GitHub links broken in RTD"
Can we fix this and build RTD before we make the switch?
cc @danroth27 @tdykstra

[2016-10-31 20:45] Rick-Anderson opened #2038 "Export DISQUS comments"
There is a way to export the comments:
https://help.disqus.com/customer/portal/articles/472149-comments-export

However, the same “Export” doesn’t follow their own import guidelines:

Note: exports are designed for backup purposes only and do not follow the same format as our custom XML import format. Exports cannot be re-imported to other Disqus forums.

We are aware that the comments will be los

[2016-10-31 22:53] danroth27 commented on #2036
@Eilon Did you disable travis for the docs repo?

[2016-10-31 22:55] #2037 closed

[2016-10-31 23:02] forsyth commented on #137
I've implemented a special template language, completely distinct from Razor, which was working happily in the custom ViewEngine environment in old System.Web.Mvc at 5.2.3.0. It added an instance of my ViewEngine (derived from IViewEngine) to the system using

ViewEngines.Engines.Clear(); ViewEngines.Engines.Add(new MyViewEngine(stuff)));

MyViewEngine derives directly from IViewEngine and shares

[2016-10-31 23:42] Eilon commented on #2036
Not yet, got distracted. But haven't forgotten.

[2016-11-01 01:07] Rick-Anderson opened #2039 "fix broken download links"
For example in _Docs\aspnetcore\data\ef-mvc\intro.md_
`You can [download the completed application](https://github.com/aspnet/Docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final)`

I think you just need to search for `(https://github.com/aspnet/Docs/tree/master/aspnet` and replace with
`(https://github.com/aspnet/Docs/tree/master/aspnetcore`

This string below shows the broken/fixed segment

[2016-11-01 01:27] Rick-Anderson opened #2040 "update .gitignore"
See _\Docs\aspnetcore\tutorials\first-mvc-app\start-mvc\.gitignore_ for an example

[2016-11-01 01:28] tdykstra commented on #2039
@Rick-Anderson Yes that's correct

[2016-11-01 03:37] Rick-Anderson commented on #2019
@Prasanna-Rani  great catch, fixed via https://github.com/aspnet/Docs/pull/2043

[2016-11-01 03:37] #2019 closed

[2016-11-01 03:38] Rick-Anderson commented on #2018
@Prasanna-Rani  nice catch. Fixed by https://github.com/aspnet/Docs/pull/2043

[2016-11-01 03:38] #2018 closed

[2016-11-01 06:07] Eilon commented on #2036
Travis should now be disabled. Thanks!

[2016-11-01 06:38] Rick-Anderson opened #2047 "post conversion: replace complicated relative links with xref links"
The automated links are all of the relative, ie
[code]

replace complicated relative links (../..) and higher
`[Migrating from ASP.NET Web API](xref:migration/webapi)`

DocFX will give you a build error if any of the xid links are invalid.

@v-anpasi is this something you could do after we complete the migration?

[2016-11-01 08:04] benzhi2011 commented on #2029
Thank you for your reply @sayedihashimi, great help.
I wonder if the aspnet team can do something with the publish profile too. I was using the web.config transforms chained with different publish profile, in this way I can deploy  to different environment by a single click. My workaround for the current project is that I have to update the config file on the different server manually and then not

[2016-11-01 17:38] Rick-Anderson opened #2051 "remove U+FEFF hex char from metadata"
See
- https://github.com/aspnet/Docs/pull/2050
- https://github.com/aspnet/Docs/commit/968ef5ecbff30ff82001de9f8640235f9c217b8b
- https://github.com/aspnet/Docs/edit/master/aspnetcore/fundamentals/error-handling.md

I've fixed several of these. They are invisible in notepad++ but they cause notepad++ not to work correctly and they break XID links. The hex char shows up like a ? in Visual Studio Co

[2016-11-01 17:50] spboyer commented on #2051
Are all of the ones you have fixed located in front of the `uid` ?

I cannot identify what the character is, just happen to notice it in VSCode.

[2016-11-01 18:09] Rick-Anderson commented on #2051
YOu can see it in https://github.com/aspnet/Docs/edit/master/aspnetcore/publishing/linuxproduction.md

[2016-11-01 18:11] Rick-Anderson commented on #2051
@tdykstra  found http://stackoverflow.com/questions/17912307/u-ufeff-in-python-string

[2016-11-01 18:31] #2003 closed

[2016-11-01 18:39] #2036 closed

[2016-11-01 22:59] Rick-Anderson opened #2054 "Fix API link on TOC"
The API TOC entry on https://review.docs.microsoft.com/en-us/aspnet/core/ goes to RTD at https://docs.asp.net/projects/api/en/latest/

This should go to the new DocFX/OPS API

[2016-11-01 23:13] Rick-Anderson opened #2055 "ASP.NET hub page needs link to ASP.NET Core"
The [ASP.NET hub ](https://review.docs.microsoft.com/en-us/aspnet/?branch=master) page needs links for:

- [x]   [WebHooks](https://review.docs.microsoft.com/en-us/aspnet/webhooks/)
- [ ]  ASP.NET Core Documentation

This page should be consistent with the [.NET hub page](https://docs.microsoft.com/en-us/dotnet/)
@bradygaster  how can I links from Docs\aspnet to Docs\aspnetcore ? They have differe

[2016-11-01 23:16] Rick-Anderson opened #2056 "Update content on hub page"
update content on [ASP.NET hub ](https://review.docs.microsoft.com/en-us/aspnet/ )

This page should be consistent with the [.NET hub page](https://docs.microsoft.com/en-us/dotnet/)

update Docs\aspnet\index.md - it's all HTML and I think it needs to stay that way to be consistent

[2016-11-01 23:16] Rick-Anderson commented on #2055
#2056  is related

[2016-11-01 23:17] Rick-Anderson opened #2057 "Issues before we can go live with DocFX/OPS"
- [x] Replace API links with type name #2079 @v-anpasi ETA:
- [x] Fix download links  #2093 @v-anpasi fix by https://github.com/aspnet/Docs/pull/2116
- [x] Fix API link on TOC  #2054   @bradygaster
- [x] remove hex char from metadata  #2051 fixed by #2073
- [x] ASP.NET hub page needs link to ASP.NET Core #2055
- [x] Update content on hub page  #2056   @tdykstra ETA:
- [x] Update content on on [int

[2016-11-02 00:44] Rick-Anderson opened #2059 "Verify all static links"
Verify all the static links in [ASP.NET Core docs](https://review.docs.microsoft.com/en-us/aspnet/core/?branch=saldanatest)

I've used http://validator.w3.org/checklink
Even with recursive it doesn't seem to be checking everything in the TOC. You might need to check https://docs.asp.net/en/latest/ and then check https://docs.microsoft.com/en-us/aspnet/core/ once the URL is  public

@tdykstra  can

[2016-11-02 01:12] Rick-Anderson opened #2062 "Update WebHooks page"
@danroth27   I recommend we make these changes to [WebHooks](https://review.docs.microsoft.com/en-us/aspnet/webhooks/)

- Replace contents of landing page [ASP.NET WebHooks Documentation](https://review.docs.microsoft.com/en-us/aspnet/webhooks/) with the contents of [Overview of ASP.NET WebHooks
](https://review.docs.microsoft.com/en-us/aspnet/webhooks/overview)
- Move the links in [WebHooks](http

[2016-11-02 01:19] shirhatti commented on #2030
The ability to set [environment variables on IIS worker processes](https://www.iis.net/configreference/system.applicationhost/applicationpools/add/environmentvariables) was introduced in IIS 10.

Try this
[code]

[2016-11-02 02:13] Rick-Anderson opened #2063 "Possibly migrate Related Resources from RTD TOC page to DocFX/OPS"
At the bottom of our current RTD TOC page docs.asp.net we have a **Related Resources** section with links to the following:

- .NET Core
- Entity Framework Core
- WebHooks

I don't think we need to migrate .Net Core or EF Core. I plan on adding  WebHooks to our hub page. See #2055

![capture](https://cloud.githubusercontent.com/assets/3605364/19914370/3b4f7704-a04e-11e6-8807-8a2ada74e324.PNG)

[2016-11-02 02:15] Rick-Anderson commented on #2063
@danroth27  please review and close

[2016-11-02 02:15] #2063 closed

[2016-11-02 02:26] Rick-Anderson opened #2064 "Fix DocFX builds so TOC works correctly"
See also Verify DocFX works on Mac #2104
DocFX doesn't generate the TOC on the left like the live site does. To repro:

1. Clone https://github.com/aspnet/Docs/ and run DocFX
2. Compare http://localhost:8080/intro.html to https://review.docs.microsoft.com/en-us/aspnet/core/intro

See Bug [702516 ](https://mseng.visualstudio.com/DefaultCollection/VSChina/_workitems/edit/702516?fullScreen=false)

[2016-11-02 02:31] Rick-Anderson opened #2065 "Post conversion: Update Intro page"
Consider updating the Intro page to look something like the [.NET intro page](https://docs.microsoft.com/en-us/dotnet/articles/welcome).

[2016-11-02 02:35] Rick-Anderson commented on #2065
Consider updating the Intro page to look something like the [.NET intro page](https://docs.microsoft.com/en-us/dotnet/articles/welcome).

[2016-11-02 02:51] Rick-Anderson opened #2067 "Enable Travis and AppVeyor for external PR's"
OPS probably doesn't validate external PR's from customer forks. OPS validates our PR's that are branch based.

[2016-11-02 04:26] danroth27 opened #2068 "Constructor injection behavior"
The behavior around constructor injection needs to be more clearly defined:
- Are constructor parameters required or optional?
- Are default values supported?
- Are constructor overloads supported?
- Presumably the constructor must be public?

[2016-11-02 04:39] Rick-Anderson opened #2069 "Update link on docs.microsoft.com to aspnet"
[docs.microsoft.com](docs.microsoft.com) has a link to [ASP.NET Core](docs.asp.net) which currently points to [docs.asp.net](docs.asp.net)

Make sure this fwlink points to something reasonable, probably not the  [ASP.NET hub ](https://review.docs.microsoft.com/en-us/aspnet/ ) page.

See what the .Net folks are doing.

[2016-11-02 06:22] Rick-Anderson opened #2072 "OPS not building WebHooks"
https://github.com/aspnet/Docs/pull/2070 updated WebHooks, but the [WebHooks review site ](https://review.docs.microsoft.com/en-us/aspnet/webhooks/)is not showing the update.

[2016-11-02 06:33] #2072 closed

[2016-11-02 06:46] Daniel15 commented on #2062
Why am I tagged in this? I'm not involved in webhooks. Haha 😆

[2016-11-02 10:48] v-anpasi commented on #2051
Fixed in https://github.com/aspnet/Docs/pull/2073

[2016-11-02 15:29] tdykstra commented on #2059
@Rick-Anderson Can you clarify what you're asking for -- what do you mean by static links, are you talking about TOC links, do you mean every link in every doc in the site, what issues have you seen / do you expect?

[2016-11-02 15:58] sayedihashimi commented on #2029
@benzhi2011 thanks. I agree that we should have a better story here. I've created https://github.com/aspnet/Tooling/issues/841 to track the work. We can discuss there if you have any ideas. Can we close this issue?

[2016-11-02 17:10] Rick-Anderson commented on #2059
Internal links are validated by OPS. We just need all external links validated. In our case we need the tool to recuse the TOC links to hit every document.

[2016-11-02 17:14] Rick-Anderson commented on #2059
![capture](https://cloud.githubusercontent.com/assets/3605364/19939168/ed3dabca-a0cb-11e6-993a-41fa5f5d0a89.PNG)

All the links on the RTD site are being tested. We might need to wait until the OPS site is public.

[2016-11-02 17:51] Rick-Anderson commented on #2062
@Daniel15  sorry, hopefully you unsubscribed.

@danroth27  please review.

[2016-11-02 17:51] Prasanna-Rani opened #2074 "DocFX-/aspnet/core/mvc/controllers/routing, Routing to Controller Actions"
Url of the page  : https://review.docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing

Links are redirecting to Production Environment

screenshot
![capture134](https://cloud.githubusercontent.com/assets/22809209/19939989/2b584dea-a151-11e6-9bed-44ba8d456268.PNG)

same page another area

![capture135](https://cloud.githubusercontent.com/assets/22809209/19940169/bff5fa60-a151-11e6-8347-74d

[2016-11-02 18:28] Prasanna-Rani opened #2075 "Docfx-/aspnet/core/mvc/controllers/testing#unit-testing,Testing Controller Logic"
url of the page : https://review.docs.microsoft.com/en-us/aspnet/core/mvc/controllers/testing

The document"Testing Controller Logic"  is listed twice in the left pane.

![capture137](https://cloud.githubusercontent.com/assets/22809209/19941967/1efea63c-a158-11e6-96f8-66e90c406339.PNG)

[2016-11-02 18:33] Rick-Anderson commented on #2069
@bradygaster  can you own this

[2016-11-02 18:34] ardalis commented on #2075
This is by design for discoverability.

[2016-11-02 18:50] Prasanna-Rani opened #2076 "DocFx- /aspnet/core/data/ef-mvc/intro, Unit Testing, Working with Data"
View the documents on sub links/topics
Testing > Unit Testing    and
Working with Data>Getting started with ASP​.NET Core and Entity Framework Core using Visual Studio>ASP.NET Core Tutorials on the Entity Framework Core docs site

These 2 documents are pointing to Production Environment.

Screenshot

![capture138](https://cloud.githubusercontent.com/assets/22809209/19942843/1f941912-a15b-11e6-83de

[2016-11-02 19:07] spboyer commented on #2067
@Rick-Anderson @danroth27 - According to @bradygaster Travis wont give us anything more than the OPS Builds.

[2016-11-02 19:16] Rick-Anderson commented on #2067
@spboyer @bradygaster can you confirm OPS runs on a fork from an external PR? How does it do that? OPS is fine when internal folks submit a branch.

[2016-11-02 19:20] neusamir commented on #2059
We have a broken link checker that can do the crawling. Reply back when the OPS site is public and I can run it.

[2016-11-02 19:37] #2051 closed

[2016-11-02 19:51] Rick-Anderson commented on #2056
@bradygaster  @saldana  how do we update the content on this page?
@mairaw  how did you update the [.NET hub page](https://docs.microsoft.com/en-us/dotnet/)

[2016-11-02 21:36] Rick-Anderson opened #2078 "review.docs.microsoft.com/en-us/aspnet/core/"
[review.docs.microsoft.com/en-us/aspnet/core/](https://review.docs.microsoft.com/en-us/aspnet/core/) brings up _index.md_

@saldana How do I get that URL to bring up [intro.md](https://review.docs.microsoft.com/en-us/aspnet/core/intro)?

[2016-11-02 22:15] Rick-Anderson opened #2079 "Replace API links with type name"
1. Find all links of the form `http://docs.asp.net/projects/api/en/latest/autoapi`
2. remove the link so you just have the type name (for example `UseMvc`)

Many of these are to APIs, for example in _Docs\aspnetcore\mvc\controllers\routing.md_
[code]

 @bradygaster has confirmed there are no redirects on API links.
@v-anpasi is this something you can do?

[2016-11-02 22:37] Rick-Anderson commented on #2064
@chenkennt  see Bug [702516](https://mseng.visualstudio.com/DefaultCollection/VSChina/_workitems?_a=edit&id=702516)

[2016-11-03 01:34] Rick-Anderson commented on #2064
I've got DocFX left TOC working in Docs\aspnet\webhooks, so we're probably doing something wrong where it's not working.

cc @v-anpasi

[2016-11-03 01:48] Rick-Anderson commented on #2064
Closing issue for now because I have it working in the WebHooks folder

[2016-11-03 03:06] Rick-Anderson commented on #2069
From: Adam Kinney

That’s a good point.

Kim, you will need to update the .NET Hub Page links excel file that you sent Jason. Is that available on a share so the content can be updated?

From: Brady Gaster

Subject: RE: [aspnet/Docs] Update fwlink on docs.microsoft.com (#2069)

I agree with Adam. We want to edit both the .NET and Docs.ms.com home page HTML as late as possible but still get it push

[2016-11-03 03:09] Rick-Anderson commented on #2062
test with [this link](https://review.docs.microsoft.com/en-us/aspnet/webhooks/?branch=master)
fixed with #2082

[2016-11-03 03:09] #2062 closed

[2016-11-03 06:02] bradygaster commented on #2079
@Rick-Anderson do you mean basically to write a GREP script to do this intelligently?

[2016-11-03 06:04] bradygaster commented on #2069
@Rick-Anderson paraphrasing earlier comment and email - i'm working with dev and design to make sure the link is changed on the docs home page at the appropriate time.

[2016-11-03 06:08] bradygaster commented on #2055
@Rick-Anderson there should be no links to /aspnetcore. the url should be /aspnet/core

[2016-11-03 06:14] #2054 closed

[2016-11-03 12:51] caitchison commented on #1993
Will support for a netstandard1.x be available for this or is it only going to be on the full framework? I can see a preview version of the AzureKeyVault nuget package that targets netstandard1.5.

[2016-11-03 12:54] caitchison commented on #1993
Never mind, I can see in the dev branch that you now have a netstandard1.5 framework with the new nuget package so that answers my question above. Hopefully that makes it into the 1.1 RTM :)

[2016-11-03 17:26] anurse commented on #1993
Yeah, we were just waiting on the Azure Key Vault client libraries to be ported to netstandard. That technically happened before the preview but we didn't have time to update. It should make 1.1 RTM in the current plans!

[2016-11-03 18:25] Rick-Anderson opened #2093 "Fix download links"
•	Task [703484](https://mseng.visualstudio.com/TechnicalContent/_workitems?id=703479&fullScreen=true&_a=edit)

We changed the path to our repro, therefore we need to change the path to the download links. Here is a sample of the old/new

https://github.com/aspnetcore/Docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final
https://github.com/aspnetcore/Docs/tree/master/aspnetcore/data/ef-mvc/int

[2016-11-03 18:39] Rick-Anderson opened #2094 "Update style guide"
Point to good .Net versions and add our specific info (code snippets)

[2016-11-03 18:39] Rick-Anderson commented on #2094
@tdykstra  can you get this done today?

[2016-11-03 18:46] Rick-Anderson commented on #2079
Yes, but this should be assigned to @v-anpasi  - sorry about that.

[2016-11-03 18:47] Rick-Anderson commented on #2079
@v-anpasi can you get this done by the end of the week?

[2016-11-03 18:47] forsyth commented on #137
Perhaps a more specific question might help me.

I looked to see where the Razor engine was added. As far as I could tell, the only non-testing instance was in https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/Internal/MvcRazorMvcViewOptionsSetup.cs
and then in MvcRazorMvcCoreBuilderExtensions.cs AddRazorViewEngineServices has

            services.TryAddEnumerable(

[2016-11-03 18:48] Rick-Anderson commented on #2079
I assigned to @bradygaster  only to answer this question. If redirects work, this is not an urgent issue.

[2016-11-03 18:48] tdykstra commented on #2094
@Rick-Anderson yes

[2016-11-03 18:52] bradygaster commented on #2055
@Rick-Anderson i have created and fixed the index.md file so that it is a properly-rendering hub page. i've also changed the GUID so that it is unique for this asset id and made you the owner in the metadata. I removed all the titles and links and stuff, as the hub page was having a LOT of issues when copied/pasted from the .net core hub page repo. At this point the page is ready for you to add re

[2016-11-03 18:52] #2055 closed

[2016-11-03 19:25] ryanbrandenburg commented on #2025
I ran a quick test on the LocalizationWebsite to see if it was noticably slow in this scenario and it didn't seem to be. Also, `CultureInfo.GetCulture` and `CultureTypes` are both removed from .NET Core so for people using that this patern isn't even an option. Further, I think it's unlikely to be useful for a number to be formated for a persons language if the page isn't in their language.

Overa

[2016-11-03 20:45] Rick-Anderson commented on #2079
redirects to API won't work, so this is a P0.

[2016-11-03 21:35] Rick-Anderson commented on #2025
I agree, great work.

[2016-11-03 21:35] #2025 closed

[2016-11-03 21:46] Rick-Anderson commented on #2094
Use the snippets from my https://github.com/aspnet/Docs/pull/2046
Tomorrow is fine

[2016-11-03 21:53] Rick-Anderson commented on #2078
fixed

[2016-11-03 21:53] #2078 closed

[2016-11-03 22:11] HaoK opened #2097 "Add some documentation for claims transformation (Auth)"
As part of the initial doc, we should include a caveat about: https://github.com/aspnet/Security/issues/284

~~Also once the fix https://github.com/aspnet/Security/issues/863 makes it in,~~ we should add an example of claims transformation using a request scoped DbContext which has been a common ask.

[2016-11-04 00:01] ryanbrandenburg commented on #2026
You didn't ask, but for the first question they should look at https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.LocalizationSample.Web/MaxLengthTwoAttribute.cs and its parent for how we implemented it there. For the second question I'm not sure I understand what he's getting at exactly, but I would guess the person in his stack overflow question was saying he should implement `IValidatableOb

[2016-11-04 01:04] Rick-Anderson commented on #2076
Nice catches. The first link is correct, that goes outside our repo to the .Net repro. The second was very important to catch and I fixed it with #2100

[2016-11-04 01:04] #2076 closed

[2016-11-04 01:05] #2075 closed

[2016-11-04 01:05] Rick-Anderson commented on #2075
Thanks  @ardalis

[2016-11-04 01:07] Rick-Anderson commented on #2074
move to  #2079

[2016-11-04 01:07] #2074 closed

[2016-11-04 01:07] Rick-Anderson commented on #2017
for useability

[2016-11-04 01:57] Rick-Anderson commented on #1705
customer suggests: Worthwile to add that you can also have services injected into the Invoke method. Especially useful for services with request scope.Worthwile to add that you can also have services injected into the Invoke method. Especially useful for services with request scope.

[2016-11-04 02:37] Rick-Anderson commented on #2014
fixed by https://github.com/aspnet/Docs/pull/2102

[2016-11-04 02:38] tdykstra commented on #2094
Made PR, still have to proofread after I’ve let it sit for a while.

Didn’t make changes to .NET Core docs, instead I linked to them and explained how we do things differently.  Removed contributing folder and put everything in Contributing.md in repo root.  Used your snippet examples but condensed by only showing syntax examples, not rendered snippets, which for the purposes of this doc and keepi

[2016-11-04 02:54] #2014 closed

[2016-11-04 02:56] Rick-Anderson commented on #2013
these will be fixed with #2079

[2016-11-04 02:56] #2013 closed

[2016-11-04 05:33] Rick-Anderson commented on #2094
see https://github.com/aspnet/Docs/pull/2090
we can list banned words in style guide or edit them out every PR. That's the best written customer PR I've ever seen

[2016-11-04 07:29] andriysavin commented on #2025
The page can be not in their language not because they set different language on their system, but because the web site doesn't have translation to their language. But at least such site could give the user what doesn't require translation effort: the formatting.

For example, suppose you're working on a flight or hotel booking app, you support not every language, but want users to see dates, numb

[2016-11-04 13:37] ardalis commented on #2025
@andriysavin For date formats at least, using something like dd MMM yyyy as the format tends to be clear worldwide, even if the language used for the months isn't translated (as you already noted). That's why it's my preferred online format.
(written 4 Nov 2016)

[2016-11-04 15:10] danroth27 commented on #2065
I think we agreed to go with the Intro to ASP.NET content for this page.

[2016-11-04 15:10] #2065 closed

[2016-11-04 15:19] andriysavin commented on #2025
@ardalis I agree if you display dates as  "4 Nov 2016" it removes any confusion. But its not always acceptable. Sometimes (and often) you want a numeric format.

[2016-11-04 15:28] auzmartist commented on #137
@danroth27 I have a situation where I'd like to share a common template (defined in the _Layout.cshtml file) across all my pages except for one MVC route which would be composed within a different template file - _Layout2.cshtml for example. It would be possible to have a single template and then conditionally include partials to produce different html responses based on request url. This seems li

[2016-11-04 15:37] tdykstra commented on #2094
That list would apply to all docs.ms.com, not just ASP.NET.  Monica is working on making a style guide with that kind of info available to community contributors.

[2016-11-04 16:41] ryanbrandenburg commented on #2025
To be clear, I'm not saying there's anything WRONG with doing it the `CultureTypes.AllCultures` way or that we don't support it, I'm just saying that it's an edge case for the reasons listed above and therefore not something we need to address in our high level documentation.

[2016-11-04 17:04] Rick-Anderson opened #2104 "Verify DocFX works on Mac"
@spboyer  can you verify DocFX builds work on Mac. Currently DocFX is not creating the TOC but is creating all the HTML files.

[2016-11-04 17:24] spboyer commented on #2104
Getting is setup using Mono now.

[2016-11-04 17:28] Prasanna-Rani opened #2105 "aspnet/core/client-side/knockout "Knockout.js MVVM Framework""
Url : https://review.docs.microsoft.com/en-us/aspnet/core/client-side/knockout

In this Document certain lines of code which is supposed to be highlighted in Yellow is not highlighted .

Screenshot
![capture139](https://cloud.githubusercontent.com/assets/22809209/20015396/535d05b0-a2e1-11e6-8bc3-e75126102d75.PNG)

![capture140](https://cloud.githubusercontent.com/assets/22809209/20015478/a5008af4-

[2016-11-04 17:42] andriysavin commented on #2025
@ryanbrandenburg Ok, at least this approach works, and works without performance issues. But how can this case be addressed on the .NET Core, where, as you said, these APIs are removed? I understand this is not docs-related, but since we already started...

[2016-11-04 17:47] Prasanna-Rani commented on #2105
same issue( missing yellow color highlighting ) is found in code blocks in  https://review.docs.microsoft.com/en-us/aspnet/core/client-side/less-sass-fa  page also

[2016-11-04 18:15] spboyer commented on #2104
- Install mono via Homebrew - `brew install mono`
- Download Latest version of DocFX - https://github.com/dotnet/docfx/releases/tag/v2.7.2
- Extract to `\bin\docfx`
- created alias for **docfx**

[code]

run **docfx** in the `Docs\aspnetcore` directory to build the site, and **docfx-serve** to view the site at http://localhost:8080

[2016-11-04 18:15] #2104 closed

[2016-11-04 18:17] spboyer commented on #2104
@Rick-Anderson - do you want to add this information to the README?

[2016-11-04 18:37] Rick-Anderson opened #2107 "Fix DocFX warnings"
TFS internal Bug ID: [704043](https://mseng.visualstudio.com/DefaultCollection/VSChina/_workitems?id=704043&_a=edit)

[2016-11-04 19:18] Rick-Anderson commented on #2104
@tdykstra  can you add these instructions to the appropriate guide?

[2016-11-04 20:05] #2056 closed

[2016-11-04 21:45] tdykstra commented on #2104
Will do

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Rick Anderson <notifications@github.com>
Sent: Friday, November 4, 2016 12:18:42 PM
To: aspnet/Docs
Cc: Tom Dykstra; Mention
Subject: Re: [aspnet/Docs] Verify DocFX works on Mac (#2104)

@tdykstra<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Ftdykstra&data=02%7C01%7Ctdykstra%

[2016-11-04 21:48] timomta commented on #1827
Here are my step-by-step notes for running a WebListener console server on Windows Server Core 2016. This was done with a VM, but could be used in a Docker for Windows container environment.

**PowerShell to create a self-signed cert**
New-SelfSignedCertificate -CertStoreLocation Cert:\LocalMachine\My -DnsName server0.contoso.com
Cert created with the thumbprint: C74235968895ECA9C9D50703D30CE17A7D

[2016-11-04 22:14] Rick-Anderson commented on #2094
They won't add that list, but I see them in most non-trivial PRs.

[2016-11-04 22:14] #2094 closed

[2016-11-04 22:14] #2107 closed

[2016-11-04 22:22] #2011 closed

[2016-11-05 01:20] Rick-Anderson opened #2111 "POST Conversion: remove newlines on bullet lists"
master issue [704183](https://mseng.visualstudio.com/TechnicalContent/_workItems?id=704183&fullScreen=false&_a=edit)

[2016-11-05 03:26] timomta commented on #1827
Wrote a post on it here: https://blogs.msdn.microsoft.com/timomta/2016/11/04/how-do-i-set-up-a-net-core-weblistener-with-ssl/

[2016-11-06 17:00] denisz1 opened #2112 "Document whether injected objects should be disposed"
[The DI document](http://docs.asp.net/en/latest/fundamentals/dependency-injection.html#service-lifetimes-and-registration-options) should make it very clear whether we need to dispose injected objects, or whether we can rely on the built-in IoC container to do that for us.

I've looked into the source code, so I know what is happening behind the scenes, but I cannot rely on that behavior.

Please

[2016-11-06 17:46] davidfowl commented on #2112
That's  good to document especially since we just made a change to the behavior is 1.1. The DI container will dispose things it creates. If you add an instance to the container then it won't be disposed in 1.1. We currently dispose everything in 1.0.

[2016-11-06 18:19] denisz1 commented on #2112
@davidfowl I don't think I understand the change from 1.0 to 1.1 (please forgive my n00bness)... are you saying in 1.1 the container doesn't dispose my objects, and I should dispose them myself?

[2016-11-06 20:33] CodingSamurai commented on #687
+1.  Without SOME method of including JS & CSS the entire purpose of ViewComponents being an encapsulated set of functionality is defeated.

[2016-11-07 11:10] v-anpasi commented on #2079
https://github.com/aspnet/Docs/pull/2115

[2016-11-07 11:18] v-anpasi commented on #2093
https://github.com/aspnet/Docs/pull/2116

[2016-11-07 20:52] Rick-Anderson opened #2118 "views/partial.md "Partial Views""
- [x] Update to RTM
- [x] UE review
- [x] DISQUS
- [ ] Show how to [Pass Additional ViewData to a Strongly-Typed Partial View](http://stackoverflow.com/questions/1169170) fixed in #2984

[2016-11-07 21:26] tdykstra commented on #2111
@Rick-Anderson Be careful about how this is implemented, as there are many places where extra lines are in lists on purpose.  E.g.,

* Here is item 1

  Here is descriptive text for item 1.

* Here is item 2

  Here is descriptive text for item 2.

Here is what happens when lines are removed.

* Here is item 1
  Here is descriptive text for item 1.
* Here is item 2
  Here is descriptive text for i

[2016-11-07 21:47] Rick-Anderson commented on #2111
Maybe it's best to do this manually. The extra lines are not too bad. Should I close the help desk request to fix this?

[2016-11-07 21:49] #2039 closed

[2016-11-07 21:50] #2064 closed

[2016-11-07 21:50] #2079 closed

[2016-11-07 21:50] #2093 closed

[2016-11-07 21:59] tdykstra commented on #2111
Manually makes sense to me.

[2016-11-07 22:07] #2111 closed

[2016-11-07 22:54] Rick-Anderson opened #2119 "tutorials/publish-to-azure-webapp-using-vs "Deploy an ASP.NET Core web app to Azure using Visual Studio""
- [x] #4391 Modify https://docs.microsoft.com/en-us/aspnet/core/tutorials/publish-to-azure-webapp-using-vs so the "Setup" and Next Steps sections are better worded.
- [x] Azure portal has changed, update.
- [x] Add logging and log streaming #2146

[2016-11-08 03:20] davidfowl commented on #2112
@denisz1 Here's an illustration:

[code]

In 1.0.0, the above will print

[code]

In 1.1.0, the above will print

[code]

The important part is this:

[code]

If you add an instance to the container, we no longer call dispose on it. Generally, you dispose things you control the lifetime of. When the user specifies an instance, it might be something they want to explicitly control so we shouldn't b

[2016-11-08 13:06] denisz1 commented on #2112
I understand now, thanks!
That example is great BTW, it should be used in the docs, when this item is documented.

[2016-11-08 18:57] tdykstra opened #2124 "tutorials/first-mvc-app - multiple pages - button formatting"
Fix Previous/Next button formatting - see https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/crud for example

[2016-11-08 19:46] ryanbrandenburg commented on #2025
I know of no alternative to `CultureInfo.GetCultures`. You can check out [this](https://github.com/dotnet/corefx/issues/1669) issue for a little background on the how and why on the lack of `CultureInfo.GetCultures`. My best suggestion would be to select the list of cultures you feel are most important to your apps user base.

[2016-11-08 22:26] tdykstra commented on #2059
@neusamir The site is public at https://docs.microsoft.com/en-us/aspnet/core/ - please go ahead and run your link checker.

[2016-11-08 23:00] Rick-Anderson commented on #2017
We need a better way to handle this. See also
![x](https://cloud.githubusercontent.com/assets/3605364/20120995/50c65822-a5b3-11e6-8434-3b726ab02b94.jpg)
cc @tdykstra

[2016-11-08 23:09] ardalis commented on #2017
Is there an issue with having more than one way to get to some content?
Expecting everything to fit neatly into a tree-based hierarchy is
unrealistic, IMO.

Steve

On Tue, Nov 8, 2016 at 6:00 PM, Rick Anderson <notifications@github.com>
wrote:

--
Steve Smith
http://ardalis.com | http://twitter.com/ardalis

[2016-11-09 07:28] andriysavin commented on #2025
@ryanbrandenburg Thanks!

[2016-11-09 17:15] Prasanna-Rani opened #2130 "Docfx-/aspnet/core/security/authentication/identity,Introduction to Identity"
url : https://review.docs.microsoft.com/en-us/aspnet/core/security/authentication/identity
The link " Entity Framework Core" is redirecting to https://docs.efproject.net
screenshot
![capture124](https://cloud.githubusercontent.com/assets/22809209/20146562/6b24df78-a6ca-11e6-9cfd-ff3b1cb0a392.PNG)

[2016-11-09 17:29] Prasanna-Rani opened #2131 "Docfx- aspnet/core/security/authentication/sociallogins,Enabling authentication using Facebook, Google and other external providers"
https://review.docs.microsoft.com/en-us/aspnet/core/security/authentication/sociallogins

Screenshot
![capture125](https://cloud.githubusercontent.com/assets/22809209/20147754/68ed3282-a6cf-11e6-829b-1bd7169a7beb.PNG)

the url  (https://localhost:44320/)is displayed as link .It is  supposed to be displayed just as url  not as link(as in production)

[2016-11-09 17:54] tdykstra commented on #2017
Whether we should list items more than once in the TOC, and how to render that in the UI when you're on a doc listed multiple times, are general docs.ms.com issues, not specific to ASP.NET docs.  I'll follow up off-line by asking how other teams are handling these situations or if they limit docs to one place in the TOC.

[2016-11-10 04:29] Rick-Anderson commented on #2131
Nice catch. Fixed by #2138

[2016-11-10 04:29] #2131 closed

[2016-11-10 05:17] #2124 closed

[2016-11-10 11:06] Prasanna-Rani opened #2139 "Docfx- https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro,Getting started with ASP.NET Core MVC and Entity Framework Core using Visual Studio"
Url : https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro
( This url is just a sample page. this is applicable to entire documents)

In responsive mode the section "In This article " is being displayed under the author pic .

 please see the screenshot. If this is intentional... please ignore this bug.

![capture126](https://cloud.githubusercontent.com/assets/22809209/20174419/b81c2d4c-

[2016-11-10 17:54] Prasanna-Rani opened #2143 "Docfx- https://docs.microsoft.com/en-us/aspnet/core/security/authorization/introduction,"
Url : https://docs.microsoft.com/en-us/aspnet/core/security/authorization/introduction
 few more pages where same issue is being observed : https://docs.microsoft.com/en-us/aspnet/core/security/authorization/dependencyinjection

The space between the last sentence in the document and the comments section is too long. It gives an impression to the reader as some text/image/code block is missing

![