[2016-03-17 20:13] leonardlabat commented on #1102
I stuck to this issue title in this pull request.
If you wish something more, please tell me.

Thanks

[2016-03-17 20:59] leonardlabat commented on #872
I also add to edit some other pages and to update screenshots.

Please, tell me if anything is missing.

Thanks

[2016-03-18 17:54] #868 closed

[2016-03-19 19:27] danroth27 opened #1111 "Document unobtrusive validation"
We should have API refs and conceptual content for the JavaScript libraries we ship for MVC.

1. [S.O answer by @poke ](https://stackoverflow.com/a/50148838/3365147)
2. [S.O answer by João Pereira](https://stackoverflow.com/a/35362280/3365147)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0156ffc3-47ac-d5da-fbc2-9ff50

[2016-03-20 20:51] aleksandradz opened #1114 "DNX - Using Commands - SqlConfig section contains commands from SecretManager"
[https://docs.asp.net/en/latest/dnx/commands.html#global-commands-details](https://docs.asp.net/en/latest/dnx/commands.html#global-commands-details)
Section **SqlConfig** contains table with commands and note the same as section above, SecretManager (looks like copy-paste)
![image](https://cloud.githubusercontent.com/assets/17968828/13907050/a301f64e-eee5-11e5-9dae-d34dd8117338.jpeg)

[2016-03-21 15:39] danroth27 opened #1117 "Update hosting environment variable name to ASPNETCORE_ENVIRONMENT"

[2016-03-21 17:57] danroth27 commented on #1114
Nice catch :-). This article is going away in RC2 since we are moving off of DNX and onto the new [.NET CLI](https://github.com/dotnet/cli), but this update should be pretty quick.

[2016-03-21 20:52] #1046 closed

[2016-03-21 20:53] #106 closed

[2016-03-22 18:04] shirhatti commented on #1117
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting.Abstractions/WebHostDefaults.cs

[2016-03-22 22:16] NBelham commented on #97
Would welcome any drafts on this topic as we have a need to develop a few mobile device specific site pages... http://docs.asp.net/en/latest/mvc/views/mobile.html

[2016-03-23 09:12] Jak893 commented on #135
This is how I'm currently implementing an enforcement of SSL, registering it as a piece of middleware. Granted I could probably improve things by stripping out the searching for localhost and instead use the new environment variables, but sometimes in production I will need to check on the local server and this prevents the SSL cert warnings, minor point so might be safer to move to environment va

[2016-03-24 21:15] Rick-Anderson commented on #305
published doc

[2016-03-24 21:15] #305 closed

[2016-03-24 22:46] sebastienros opened #1124 "Document distributed-cache tag"
https://github.com/aspnet/Announcements/issues/160

[2016-03-24 22:48] sebastienros opened #1125 "Update usage of IMemoryCache.CreateLinkingScope"
It is being removed in rc2.

[2016-03-25 17:55] danroth27 opened #1126 "Fix css styles"
Looks like a RTD theme update broke our custom.css style overrides.

[2016-03-25 17:56] danroth27 commented on #1126
@shirhatti Can you take a look?

[2016-03-25 17:57] danroth27 commented on #1125
https://docs.asp.net/en/latest/performance/caching/memory.html?highlight=createlinkingscope

[2016-03-25 19:28] danroth27 opened #1127 "Update yeoman article screenshots once .NET CLI based yeoman generators are available"

[2016-03-25 21:06] Mardaneus86 commented on #95
I also would like to contribute and/or review: tim@klingeleers.be

[2016-03-28 17:04] Tratcher opened #1130 "Replace references to HttpPlatformHandler with AspNetCoreModule"
Announcement: https://github.com/aspnet/IISIntegration/issues/105

Here are the required template changes for reference: https://github.com/aspnet/Templates/issues/450

Search:
https://github.com/aspnet/Docs/search?p=3&q=HttpPlatformHandler+&utf8=%E2%9C%93
- Lots of Web.Config samples
- Severs: https://github.com/aspnet/Docs/blob/29c3d17ddefb669ce2a1b3253fb6e30255bfa706/aspnet/fundamentals/servers

[2016-03-30 05:02] JanePamela commented on #113
am interested in reviewing the content

[2016-03-30 07:33] mohsinmuzawar opened #1131 "Configuring API server on Ubuntu 14.04"
is there a documentation where i can get any idea on how to host API on digital ocean droplet.

[2016-04-01 08:03] jda808 commented on #228
just checking in on this. i was linked via pdf render of read the docs aspnet.pdf

[2016-04-04 15:37] hwaldstein1997 commented on #95
I would like to contribute/review: harley@waldstein.io

[2016-04-04 17:48] danroth27 commented on #1131
We don't have any docs specific to digital ocean droplets, but the installation steps should be pretty much the same: https://docs.asp.net/en/latest/getting-started/index.html

[2016-04-04 17:48] #1131 closed

[2016-04-04 19:23] ardalis commented on #797
Are IgnoreBody and IgnoreSection in RC1? @NTaylorMullen can you point me to or show me a sample?

[2016-04-04 19:34] NTaylorMullen commented on #797
@ardalis no they are not. I'm not aware of any fully end-to-end samples of the feature but we do have some unit tests showcasing it. See:

https://github.com/aspnet/Mvc/blob/6bf25cecec093ecd5e103a9c038e023f82605ef6/test/Microsoft.AspNetCore.Mvc.Razor.Test/RazorPageTest.cs#L439

https://github.com/aspnet/Mvc/blob/6bf25cecec093ecd5e103a9c038e023f82605ef6/test/Microsoft.AspNetCore.Mvc.Razor.Test/Razo

[2016-04-04 19:49] ardalis commented on #797
@NTaylorMullen ok, thanks. I'm going to pull them out of the article for now, then, since it's targeting RC1 until RC2 ships with VS tooling.

[2016-04-04 20:39] ardalis commented on #796
Duplicate #797, right?

[2016-04-05 02:06] ardalis commented on #124
I'm working on this next, @danroth27

[2016-04-05 18:57] danroth27 commented on #124
@ardalis Sounds fine.

[2016-04-05 19:06] danroth27 commented on #796
@ardalis Yes

[2016-04-05 19:06] #796 closed

[2016-04-05 22:13] jda808 commented on #228
And I finally stumbled upon via website now. I've went full circle 🎱

[2016-04-06 00:12] Rick-Anderson commented on #135
@Jak893 if you just want to enforce SSL for your MVC app, you can do that in  Startup.ConfigureServices

            services.Configure<MvcOptions>(options =>
            {
                options.Filters.Add(new HttpsRequiredAttribute());
            });

[2016-04-06 12:20] #1099 closed

[2016-04-06 21:04] Rick-Anderson opened #1139 "need article on how the razor view engine discovery process works"
See https://github.com/aspnet/Docs/pull/1135/

[2016-04-06 21:58] Rick-Anderson commented on #565
@danroth27 We need to standardize on this. For the short term I propose we have shared stub on how to get to the sample code.

1. Download the entire repo.
2. Unzip
3. navigate to the folder (look at the URL to figure out the folder).

[2016-04-06 23:11] shirhatti commented on #1126
It was ReadTheDocs bug that was resolved almost immediately. Closing out this issues

[2016-04-06 23:11] #1126 closed

[2016-04-07 01:01] shirhatti commented on #1130
And this entire article as well https://github.com/aspnet/Docs/blob/master/aspnet/hosting/http-platformhandler.rst

[2016-04-07 18:55] GuardRex opened #1140 "Discussion for Publishing to IIS updates for RC2"
@danroth27 @Rick-Anderson

I created a branch to demo some suggestions for [Publishing to IIS](https://github.com/aspnet/Docs/blob/master/aspnet/publishing/iis.rst) at

https://github.com/GuardRex/Docs/blob/master/aspnet/publishing/iis.rst

The highlights thus far in just playing with the doc are:

1. Order of presentation a bit more inline with the process one would follow
2. Expanded IIS setup f

[2016-04-07 20:08] Rick-Anderson commented on #1140
@GuardRex  looks great to me.

[2016-04-07 21:18] GuardRex commented on #1140
Thanks ... I'm pushing forward tonight with it, and I'll ping u back when I
get those last few items addressed.
On Apr 7, 2016 3:08 PM, "Rick Anderson" <notifications@github.com> wrote:

@GuardRex <https://github.com/GuardRex> looks great to me.

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub
<https://github.com/aspnet/Docs/issues/1140#issuec

[2016-04-07 23:09] danroth27 commented on #134
Merging this content into #89 now that we have merged the MVC content into the ASP.NET Core TOC.

[2016-04-07 23:09] #134 closed

[2016-04-08 01:49] GuardRex commented on #1140
@Rick-Anderson Update: Slowed down a bit on testing with the shared framework ... https://github.com/dotnet/cli/issues/2362

I'm going to wait until I hear back from them, then I'll proceed with this.

[2016-04-08 05:42] vanderaj commented on #89
Hi there,

Will the URL at https://docs.asp.net/en/latest/security/anti-request-forgery.html stay stable once the docs drop?

As the project lead of OWASP Top 10 2007, OWASP Developer Guide 2.0, and OWASP Application Security Verification Standard 3.0, would love to give as much of the security documentation you've got ready a review before it goes final. I'm easily reachable by the usual means, b

[2016-04-08 17:41] danroth27 commented on #1140
@shirhatti

[2016-04-08 17:45] danroth27 commented on #1140
@GuardRex Please base these changes on the dev branch - that's were we doing all of the RC2 updates.

Also, the plan is that using the "shared framework" is the default application model, so you can just say install .NET Core. The inclusion of the shared framework is implied.

[2016-04-08 17:47] danroth27 commented on #1139
I think this is a duplicate of #137

[2016-04-08 17:47] #1139 closed

[2016-04-08 19:04] Rick-Anderson commented on #89
@rynowak @blowdart @Tratcher see offer  of tests for the CSRF functionality in ASP.NET core
@danroth27  please respond to URL stability.

[2016-04-08 20:31] maveonair opened #1141 "Documentation refers to dnu cli instead to the dotnet cli"
I have installed dotnet and asp.net core today and went through the tutorial "Building your first MVC 6 application", which is awesome by the way. Nevertheless, in the data Migration part the documentation is refers to the dnu cli instead of the dotnet cli: https://docs.asp.net/en/latest/tutorials/first-mvc-app/adding-model.html#use-data-migrations-to-create-the-database.

Is there any reason why

[2016-04-08 22:03] BrennanConroy commented on #1141
The documentation is about the current release, which is RC1 i.e. dnu. When we ship RC2 all the documentation will be updated to dotnet cli

[2016-04-08 22:35] danroth27 commented on #89
@vanderaj There may still be some URL churn before we go final.

[2016-04-08 22:52] Tratcher commented on #89
@vanderaj Feel free to submit a PR to https://github.com/aspnet/antiforgery with additional tests.

[2016-04-09 03:20] GuardRex commented on #1140
@danroth27 @Rick-Anderson Thanks Dan. I'll get this based on the dev branch.

WRT Shared Framework testing ... ooooooooh man ... https://github.com/aspnet/IISIntegration/issues/125

It's really broken right now while they're working on it. Pawel can't get it to run; and of course since he couldn't get it working, my efforts were bound to meet with no success.

I want to do the Troubleshooting test

[2016-04-09 08:20] maveonair commented on #1141
Thanks!

[2016-04-09 08:20] #1141 closed

[2016-04-09 21:15] Rick-Anderson opened #1143 "Adding Search, intro to MVC"
From DISQUS
David Hoffman
Fantastic tutorial! Some minor corrections (I think) needed on this page:
1. "following code... retrieves all the genres from the database" is missing 3rd line ("select") in the snippet
2. "using System;" required for use of "String"
3. "using System.Collections.Generic;" required for use of "GenreList = new List<string>();"

[2016-04-10 16:10] Thibaut commented on #1046
@danroth27 - Hi, any reason why the ASP.NET docs are licensed under CC BY-NC instead of CC BY, like the [.NET Core docs](https://github.com/dotnet/core-docs/blob/master/license.txt)?

The NC clause makes the docs incompatible with open source. I'm looking to add them to [DevDocs](http://devdocs.io) (https://github.com/Thibaut/devdocs), a popular documentation browser.

Thanks

[2016-04-10 19:44] ardalis opened #1144 "Add ModelState ActionFilter Sample to Filters article"
Show an action filter that checks if the model state is valid before the action is executed and returns the serialized errors if it is not.

[2016-04-10 22:10] ardalis commented on #124
Can you provide me with some reference/links or point-of-contact for IIS/Kestrel/Server error handling? @danroth27

[2016-04-11 17:26] ardalis opened #1145 "Add Link to Startup Error Handling to fundamentals/startup.rst"
Once fundamentals/error-handling is live, link to its

.. _startup-error-handling:
## Startup Error Handling

section from the Startup article.

[2016-04-11 20:27] sayedihashimi opened #1147 "Need target for appsettings link"
In rc2 we are adding an FWLink into the templates (see PR https://github.com/aspnet/Templates/pull/493) letting users know that app settings go into `appsettings.json` instead of `web.config`. I looked around but didn't find a good landing page for this. I found https://docs.asp.net/en/latest/security/data-protection/configuration/index.html but that's not specific enough. We may need a new doc he

[2016-04-11 20:30] rustd commented on #1147
https://docs.asp.net/en/latest/fundamentals/configuration.html would be a good landing page for RC2

[2016-04-12 03:26] GuardRex commented on #1140
@danroth27 @Rick-Anderson With Pawel's help, I have the shared framework running now under IIS. The problem was merely conflicting NuGet packages due to having the wrong feeds in `NuGet.config`. Just as well for us, as that's another Troubleshooting scenario to list. :smile:

I'll pick back up with testing within the next few days.

[2016-04-12 09:06] Montagne1984 commented on #653
Would you please send me a copy of the draft to shifeng222@gmail.com?

[2016-04-12 13:20] ardalis commented on #122
@danroth27 I fleshed this out a bit. I'm not sure what "Response format URL mappings" means, though. Can you clarify?

[2016-04-12 15:33] VaclavElias opened #1148 "Question: Publish to a Linux Production Environment"
Could you include also some guidance how to use Apache with ASP.NET Core in this documentation https://github.com/aspnet/Docs/blob/master/aspnet/publishing/linuxproduction.rst?

I was searching Internet and could find no reference. It is mentioned here and there that Apache could be used but no information on this.

If that is not possible, could you leave a comment here?

Thank you.

[2016-04-12 15:34] Rick-Anderson commented on #653
@Montagne1984 @marspd @Shrubs @renattomachado @mkarlsson
https://docs.asp.net/en/dev/fundamentals/localization.html

[2016-04-12 16:17] #119 closed

[2016-04-12 16:23] danroth27 commented on #122
Response format mappings allow you to specify some part of the URI, like a format query string parameter, or a format specific file extension (.xml, .json) as a way to indicate that you would like a specific response format.

[2016-04-12 16:29] ardalis opened #1149 "Typo in View Components"
**Change to:**

[2016-04-12 20:03] daneb commented on #1075
Would you consider if I wrote a short tutorial that covers the basics (CRUD),  that is 1) install 2) delete 3) update and 4) restore and then for further information reference http://docs.nuget.org?

[2016-04-12 20:08] danroth27 commented on #1149
@Rick-Anderson Please fix as part of the RC2 updates.

[2016-04-12 20:10] danroth27 commented on #1148
@Eilon @glennc @muratg Have we done any testing with ASP.NET Core and Apache at this point?

[2016-04-12 20:10] #1147 closed

[2016-04-12 20:18] muratg commented on #1148
@danroth27 No, only nginx.

[2016-04-12 20:20] glennc commented on #1148
AFAIK we haven't done any real testing with Apache, it just hasn't been asked for very much.

I would imagine you would use something like mod_proxy in Apache to forward requests to the running ASP.NET process. I don't know if mod_proxy can launch the process like the ASP.NET Core Module can in IIS. If not you would need to set it up to startup using whatever system your distro is using to manage

[2016-04-12 20:20] glennc commented on #1148
But I haven't done any of this in practice, it is just my vague understanding of the world.

[2016-04-12 20:32] ardalis commented on #122
https://github.com/aspnet/Mvc/blob/a78f77afde003c4a3fcf5dd7b6dc13dd9c85f825/test/Microsoft.AspNetCore.Mvc.FunctionalTests/FormatFilterSampleTest.cs

[2016-04-12 23:27] danroth27 commented on #1075
The NuGet related docs are moving to the [.NET Core docs](https://dotnet.github.io) and the existing [NuGet docs](http://docs.nuget.org). Closing this as we already removed the NuGet doc stub in our dev build (see https://docs.asp.net/en/dev/conceptual-overview/index.html).

[2016-04-12 23:27] #1075 closed

[2016-04-13 15:22] VaclavElias commented on #1148
Thank you for your comments. At least there is now a reference here and people can find this and share their solutions or tests.

[2016-04-14 01:14] joshcomley commented on #1140
@GuardRex do you have a demo project somewhere will the full setup for running in IIS? I can't get it to work :(

[2016-04-14 01:19] GuardRex commented on #1140
@joshcomley yeah ... in my repo ... did you want to go standalone or shared .. shared seems very broken to me right now ... test app failing totally. Standalone is working. Try the https://github.com/GuardRex/repro one and join us on JabbR if you need help at https://jabbr.net/#/rooms/AspNetCore

[2016-04-14 01:22] joshcomley commented on #1140
Thanks so much @GuardRex, I'll take a loot and try that now. I'm perfectly happy to go standalone, so hopefully I can get this to work!

[2016-04-14 01:24] GuardRex commented on #1140
@joshcomley Sure thing. Visit on JabbR if you need tips from the cats there or ping me on GH when I'll be online over there. We'll see if we can get you some .NET Core action going.

[2016-04-14 10:03] jonaslundgren commented on #969
I just had problems were I realized that the ticket format in the referenced sample code (https://github.com/GrabYourPitchforks/aspnet5-samples/tree/dev/CookieSharing) was out of date compared to RC1. There is a compatble package at https://www.nuget.org/packages/Microsoft.Owin.Security.Cookies.Interop/ . The doc should obviously mention this.

[2016-04-14 16:04] sayedihashimi commented on #1147
FYI fwlink has been updated.

[2016-04-14 20:16] Rick-Anderson opened #1150 "performance/caching/distributed "Working with a Distributed Cache""
Less than 5K PV.

[Working with a distributed cache in ASP.NET Core
](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed)

- [ ] Needs total rewrite - it doesn't contain any code that shows how to use it with Razor Pages or MVC.
- [ ] "A distributed cache is shared by multiple app servers" Need to mention the local in-memory cache is not distributed but inherits from `IDi

[2016-04-16 04:50] Montagne1984 commented on #206
How can I read a file in the web application? Is this topic about this?

[2016-04-17 08:56] ryanadkins opened #1151 "Uninstall instructions for OS X"
How do you uninstall the DNVM from OS X? I followed the install instructions per the documentation using the cURL script.

[2016-04-18 17:41] danroth27 opened #1152 "Clarify constructor requirement in model binding"
Currently the model binding doc says: "In order for binding to happen, members of classes must be public, writable properties containing a default public constructor."

This sentence is hard to parse. Instead it should say something like "In order for binding to happen the class must have a public default constructor and member to be bound must be public writable properties."

We also need to say

[2016-04-18 17:44] danroth27 commented on #1151
@glennc Can you help out with this one?

[2016-04-18 17:45] danroth27 commented on #1151
I don't think we will add anything to do the docs for this one since dnvm is going away.

[2016-04-18 21:05] #116 closed

[2016-04-18 21:07] #1043 closed

[2016-04-18 21:08] danroth27 commented on #718
#1049

[2016-04-18 21:08] #718 closed

[2016-04-19 04:37] ryanadkins commented on #1151
I am not asking to add anything to the docs. I just want to know how to uninstall the dnvm from my computer. In another issue someone replied with the windows install path. what is the OS X install path? But I am sure I am not the only one who may need this question answered due to the dnvm Bing deprecated in RC2.

[2016-04-19 15:26] n777ty commented on #1151
There's a subfolder called "dnvm" inside the .dnx folder off your user home directory... That's where dnvm.sh lives (default location).  You can remove that subfolder to "uninstall" it :)

[2016-04-19 21:49] #1152 closed

[2016-04-20 00:43] ryanadkins commented on #1151
Thank you, that worked for me.

[2016-04-20 00:43] #1151 closed

[2016-04-20 03:12] Rick-Anderson opened #1154 "Model Validation updates"
- [x] Update for RC2
- [x] RegularExpression Validates that the data matches **the specified**  regular expression
- [x]  GetClientValidationRules() I don't think you meant to show that
- [x]  as shown in the following paragraph.  Looks like something is missing
- [x] implementing IValidatableObject - don't you want to say implementing ``Validate`` on the ``IValidatableObject`` interface?
- [x] Th

[2016-04-20 17:34] danroth27 commented on #1154
@rachelappel Can you take a look at these?

[2016-04-20 18:15] Rick-Anderson commented on #89
@blowdart @rynowak  please review this **request antiforgery** doc plan:

- Combine [Web API ](http://www.asp.net/web-api/overview/security/preventing-cross-site-request-forgery-csrf-attacks) and [MVC ](http://www.asp.net/mvc/overview/security/xsrfcsrf-prevention-in-aspnet-mvc-and-web-pages) XSRF/CSRF Prevention into one asp.net core article
- introduce https://github.com/aspnet/Antiforgery middle

[2016-04-21 17:54] danroth27 commented on #910
Some stuff that is probably still relevant although mostly covered in Zlatko’s DNX -> .NET CLI doc (see attached):
- https://github.com/aspnet/specs/blob/master/notes/.NET%20CLI%20and%20ASP.NET%205.md

Implement Main with WebHostBuilder logic
- ASP.NET Core apps are just console apps
- Webroot and port configured in hosting.json (assuming you are using the default configuration setup)
- WebHostBui

[2016-04-21 18:32] Rick-Anderson commented on #1027
fixes #529

[2016-04-21 18:32] Rick-Anderson commented on #529
I documented this in  Forms Tag Helpers #1027

[2016-04-21 18:32] #529 closed

[2016-04-21 23:44] Rick-Anderson commented on #985
The [Middleware doc](https://docs.asp.net/en/latest/fundamentals/middleware.html) states:
 Also, in this example a design decision has been made that static files will not be protected by any authentication. This is a tradeoff that improves performance when handling static files since no other middleware (such as authentication middleware) needs to be called when handling these requests (ASP.NET 5

[2016-04-21 23:59] Rick-Anderson commented on #716
@blowdart  [Working with Static Files](https://docs.asp.net/en/latest/fundamentals/static-files.html) does not mention there are no auth checks for static files in the _webroot_ directory. Should we state that? Also, can we quote you and say.
To have  authorization middleware applied to static files, put them in a directory such as App_Data.

[2016-04-22 00:22] ardalis commented on #985
I didn't realize you couldn't put Auth middleware in front of static content. If that's the case, I agree we should make the update you suggest, and refer to the Working with Static Files article for more info.

[2016-04-22 03:43] Rick-Anderson commented on #985
@ardalis I'm making the change & fixing a couple other things. I'll have your review the PR.

[2016-04-22 05:20] shrayasr commented on #1148
Wrote a blog about this a while ago: http://www.shrayas.com/aspnet5-hosting-nginx-kestrel.html. Hope it helps @VaclavElias

[2016-04-22 16:58] blowdart commented on #716
That wouldn't be correct though.

"The static file module provides no authorization checks. Any files server by it, including those under www_root are publicly available. If you want to serve files based on authorization you should store them outside of www_root and any directory accessible to the static file middleware and deliver them via a controller action, returning a FileResult where authori

[2016-04-22 18:46] Rick-Anderson commented on #716
@blowdart  https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/FileResult.cs
Yes it's still there.

[2016-04-22 18:47] blowdart commented on #716
So something like that then, except worded better :)

[2016-04-22 22:31] Rick-Anderson commented on #716
@Tratcher - can you help me rewrite the following on middleware:

 the order in which you arrange your Use[Middleware] statements in your application’s Configure method is very important. Be sure you have a good understanding of how your application’s request pipeline will behave in various scenarios.

This is a doc on middleware and the above doesn't tell me anything. Is it something like this:

[2016-04-23 00:42] Rick-Anderson commented on #908
@kichalla Given that logging is a service and not a middleware, why is logging configured in ``Configure`` and not in ``ConfigureServices``?
http://docs.asp.net/en/latest/fundamentals/logging.html doesn't say what logging is, just how to use/config/etc.

[2016-04-23 01:47] Rick-Anderson commented on #985
@Tratcher is the following OK?

context is the pipeline set up by the default templates, ie:

[code]

The order in which you add middleware components is critical to your app’s security, performance and functionality. For example, adding exception handling after any other middleware components will miss exceptions thrown by those components. In the code above, the static file module is called earl

[2016-04-24 15:10] Tratcher commented on #985
Sounds pretty good. I've included one line from your other description:

"The order in which you add middleware components is generally the order in which they take effect. This can be critical to your app’s security, performance and functionality. For example, adding exception handling after any other middleware components will miss exceptions thrown by those components. In the code above, the st

[2016-04-25 15:45] kichalla commented on #908
Good question. I think you should be able to do it in `ConfigureServices` itself (From what I see the hosting layer registers the `ILoggerFactory` service in DI before calling `ConfigureServices`)

cc @Tratcher @Eilon

[2016-04-25 16:39] Eilon commented on #908
@davidfowl

My guess? Just a matter of preference. Configure it wherever you want.

[2016-04-25 16:41] davidfowl commented on #908
There's some discussion here about that https://github.com/aspnet/Logging/issues/346

[2016-04-25 17:53] danroth27 opened #1162 "Custom Storage Providers for ASP.NET Core Identity"
Port http://www.asp.net/identity/overview/extensibility/overview-of-custom-storage-providers-for-aspnet-identity to ASP.NET Core Identity

See https://github.com/aspnet/Identity/issues/1113

Overall structure same as previous article; Hao and Steve will work together to update it.

Main changes: removed TKey from all interfaces. The key is now always a string to identity - it's up to the provider

[2016-04-25 22:30] danroth27 opened #1165 "Visual Studio debug profiles"
Show how to setup and use debug profiles. E.g. switch between running on IIS Express and as a console app.

[2016-04-26 06:40] davenewza commented on #706
Note to those who stumble across this thread.  It has changed to `ASPNETCORE_ENVIRONMENT  `in RC2.

[2016-04-26 10:49] VaclavElias opened #1166 "Scaffolding Requirements missing"
Hi,

I think in the article **Your First ASP.NET 5 Web App Using Visual Studio** https://github.com/aspnet/Docs/blob/master/aspnet/tutorials/your-first-aspnet-application.rst#add-scaffolding, could be mentioned that **project.json** needs to have `Microsoft.Extensions.CodeGenerators.Mvc` to see the option **New Scaffoled Item...** not sure if the additional packages are also not required according

[2016-04-26 18:52] #123 closed

[2016-04-26 21:39] #797 closed

[2016-04-27 17:09] GuardRex commented on #1140
@danroth27 @Rick-Anderson

I'm back on this today.

I knew that the shared framework is the default application type; however, is the plan for the shared framework to be :sparkles: auto-magically :sparkles: installed on the server just by virtue of deploying the app (or some other automatic process)?

I was under the impression that the `.NET Core Installer` will still need to be deployed and run

[2016-04-27 23:21] MarkPieszak opened #1169 "Documentation for integration with modular bundlers such as Webpack"
Since a lot of development is switching more towards Webpack modular bundlers as opposed to the slightly older way of bundling files yourself (Gulp / Grunt for example). It'd be nice to have some thorough documentation on dealing with things like Webpack's *webpack-dev-server* (light Node server) while spinning up Kestrel for example at the same time.

I've been running into a lot of issue with th

[2016-04-28 17:43] GuardRex commented on #1140
There is a good discussion between @Kukkimonsuta, @blowdart, and myself on the risks associated with renaming or moving the `web.config` file in IIS hosting scenarios starting at https://github.com/aspnet/IISIntegration/issues/158#issuecomment-215386147, which I'm including here for reference. I'll add a blurb to the doc update for you to consider.

[2016-04-28 18:25] glennc opened #1171 "Document why we have no LogAsync methods"
We have this issue: https://github.com/aspnet/Logging/issues/144

The basic idea is that we don't have LogAsync because logging should be fast enough that it isn't worth the cost of using Async. If you are in a situation where that is not true then you should be considering using something more complicated where you can write the log message fast and it eventually gets persisted to a slow store. L

[2016-04-28 18:55] danroth27 commented on #1140
No, nothing auto-magical. It's just a terminology thing. Since using the "shared framework" will be the most common case for .NET Core apps my thinking was to avoid promoting "shared framework" as a formal term and instead just assume it's implied unless you say otherwise. I.e. there are .NET Core apps and stand-alone .NET Core apps.

@blackdwarf Is this consistent with the language you guys are u

[2016-04-28 19:09] GuardRex commented on #1140
Oh, I thought you were saying to "drop it totally." I didn't get that you were calling attention to the terminology. Sure thing, whatever it will be called that the `.NET Core Installer` is installing on the server ... I'll fix the phrasing. It's just that it is commonly referred to as the "shared framework" in GH issue and JabbR circles.

[2016-04-28 21:25] danroth27 commented on #1140
We should use whatever terminology the .NET Core folks decide on, but last I spoke to @richlander I think his preference was to not use "shared framework" as an official term.

Also, I agree that this doc needs to clarify that .NET Core should already be installed.

[2016-04-28 21:34] GuardRex commented on #1140
Gotcha ... @blackdwarf sticks with (`.NET Core` and `portable`) vs. (`self-contained`) https://github.com/blackdwarf/core-docs/blob/clidocs/docs/core-concepts/app-types.md, so I know what to do now. Thanks.

I'm finishing up the testing now, and I think the updates to the `Troubleshooting` section will save a lot of tears and frustration later.

[2016-04-28 21:52] shirhatti commented on #1140
@GuardRex I'm in the process of trying of compile a list of common error scenarios. You can use [this doc](https://gist.github.com/shirhatti/1ad6f9ec42c00bff6c02d5c79616f8c9) as reference

[2016-04-28 22:01] GuardRex commented on #1140
@shirhatti Exactly! Let's compare notes! :smile: I'm working my last test scenario now. I'm testing both a self-contained and a portable app and recording the browser response, any Application log entry, and any ANCM log entry for the following test conditions ...

- No AspNetCoreModule installed
- No Shared Framework installed
- Installed shared framework without restart
- Used .UseUrls("<URL>")

[2016-04-28 22:36] GuardRex commented on #1140
@shirhatti Ok ... I have the data, now I'll see what I can do with it.

| App Type | Breakage | Browser Response | Application Log | AspNetCoreModule Log |
| -------- | -------- | ---------------- | --------------- | -------------------- |
| SELF | No AspNetCoreModule installed | 500.19 | none | no log file generated |
| SELF | Used .UseUrls("<URL>") or .UseUrls() after .UseIISIntegration() | no r

[2016-04-29 02:20] GuardRex commented on #1140
@danroth27 @Rick-Anderson @shirhatti

I did some sorting and arranging, and I've come up with this format similar to the current format. We can take the new ones below and add/replace them into the ones that are there with the addition of Application Log entries (if present) and ANCM Log entries (if present) added to the set in the currently published doc.

Ignore any minor spelling or formatting

[2016-04-29 06:56] xiaolu6t commented on #231
Some suggestion:
I want something like this:
[code]
[code]
Add a new  PreParser method to TagHelper,
And add context.RazorContext to TagHelper.
System.Web.Razor.Parser.RazorParser parser = new System.Web.Razor.Parser.RazorParser(
                new System.Web.Razor.Parser.CSharpCodeParser()
                , new System.Web.Razor.Parser.HtmlMarkupParser());
            parser.DesignTimeMode = fals

[2016-04-29 07:10] xiaolu6t opened #1174 "Suggestion:Add PreParser Method To TagHelper."
Some suggestion:
I want something like this:
[code]
[code]
Add a new  PreParser method to TagHelper,
And add context.RazorContext to TagHelper.
[code]
before parser.Parse() to find all the custom taghelper tags.
then run the PreParser method before compile to get the runtime context.
[code]
before PreParser
[code]
after PreParser
[code]
add so on...All the possible you can image.

[2016-04-29 07:58] caitchison opened #1175 "docs.asp.net is blocked by my company's firewall"
docs.asp.net resolves to 198.232.125.32 which is a shared IP address which also hosts some "malicious" sites according to quite a few online security providers. As an example see https://www.threatcrowd.org/ip.php?ip=198.232.125.32

This means that people that try to access the site from behind certain company firewalls are unable to. Is there any possibility of having it use a different IP addres

[2016-04-29 19:05] ardalis opened #1176 "Document Error Handling with ASP.NET Core Apps on Azure"
Document should describe best practices for configuring error handling and diagnosing errors with ASP.NET Core apps deployed to Azure

[2016-04-30 17:46] dodyg commented on #1140
I got 503 Service Unavailable error

The Application pool is in "stopped" state after I try to run it from the browser. Runing the .exe works fine. It's when trying to access it via IIS creates problem. (Windows 10). There is no log file generated.

[code]

[2016-04-30 17:58] GuardRex commented on #1140
@dodyg Anything in the Application Log via Event Viewer? ... Usually the Service Unavailable one is caused by a crashing AppPool that ends up breaking the binding.

[2016-04-30 18:05] GuardRex commented on #1140
@dodyg Side Note: You can take the file extension off ..
[code]
... to ...
[code]
The timestamp and file extension will be added for you when the log file is created.

[2016-04-30 18:17] dodyg commented on #1140
@GuardRex  thanks for the tips. I found out the problem (old IISNode module failed to load). The aspnetcore app is running on IIS now.

[2016-04-30 18:19] GuardRex commented on #1140
@dodyg Ah, excellent news! :+1: :clap: :clap: :clap: :clap:

[2016-05-01 17:31] #124 closed

[2016-05-02 02:53] pebezo opened #1179 "Routing doc missing attribute routes?"
https://docs.asp.net/en/latest/fundamentals/routing.html

In the recommendations section (bottom of the document):

If you search the page, this is the only place where "attribute routes" are mentioned... We'd probably need an example. Also, what's the difference between these and MapRoute? Why should we use attribute routes for all APIs? How can we debug routes? Is there a way to output the routi

[2016-05-02 12:23] ardalis commented on #1179
#117 will cover Attribute routes, and we'll link to it once it's there, I think. Your other points would all make good additions to the article, though, I think.

[2016-05-02 20:30] danroth27 commented on #1169
@madskristensen Thoughts on this?

[2016-05-02 20:33] danroth27 commented on #1174
Not docs related - moved to https://github.com/aspnet/Razor/issues/742

[2016-05-02 20:33] #1174 closed

[2016-05-02 20:35] danroth27 commented on #1175
@blowdart

[2016-05-02 20:36] danroth27 commented on #1175
@agjohnson @ericholscher

[2016-05-02 20:36] blowdart commented on #1175
The IP address in question is a CDN proxy, which is used by more than just the docs site. There's not a lot we can do about this, as it's not a problem with the actual site hosting the docs. But we'll make them aware of it anyway, just in case they can do something.

[2016-05-02 20:38] danroth27 commented on #1179
Duplicate of #117

[2016-05-02 20:38] #1179 closed

[2016-05-03 10:52] lonely-boy opened #1181 "Problem Abou Publish to a Linux Production Environment"
this is article‘s link[https://docs.asp.net/en/latest/publishing/linuxproduction.html](url)

Hello, i have some question about this article. After I configured supervisor, it doesn't work. And the log file print `/var/www/output/approot/kestrel: line 11: exec: dnx: not found`
this is  my config file info
[code]
What should i do about this problem？

[2016-05-03 17:42] #1175 closed

[2016-05-03 17:44] danroth27 commented on #1181
Did you follow the setup steps to install DNX in your linux environment?: https://docs.asp.net/en/latest/getting-started/installing-on-linux.html

[2016-05-04 00:38] lonely-boy commented on #1181
Yes,I was already Install DNX and the commad of the config file is worked in Terminal.But it doesn't worked use supervisor.

[2016-05-04 03:41] danroth27 commented on #1181
@shirhatti Thoughts on what might be going on here?

[2016-05-04 09:16] lonely-boy commented on #1181
this is my Kestrel file Info:
[code]
when command run `exec "bash dnx" --project "$DIR/src/test1" --configuration Debug kestrel "$@"`
it write a log`/var/www/output/approot/kestrel: line 11: exec: dnx: not found`
so what should i do??

[2016-05-04 09:59] lonely-boy commented on #1181
@danroth27  thanks for you help！I have solution this question.
just like the log file sya `dnx: not found`
so, I add the path of dnx in the Kestrel file :
`exec "/usr/local/bin/dnx" --project "$DIR/src/test1" --configuration Debug kestrel "$@"`
and then restart supervisor.
ok, my application is working.

[2016-05-04 09:59] #1181 closed

[2016-05-04 17:07] anpete opened #1185 "Error in tag helper prefix code listing in Tag Helpers intro"
The tag helper prefix example in https://github.com/aspnet/Docs/blob/master/aspnet/mvc/views/tag-helpers/intro/_static/thp.png should not have quotes around the prefix. I.e: It should be:
[code]

[2016-05-04 17:36] anpete opened #1186 "Errors in authoring tag helpers page"
1) Usages of @addTagHelper use double-quotes around the arguments.
2) Examples show using an _address_ tag helper rather than _email_

[2016-05-04 18:02] Rick-Anderson commented on #1185
@anpete Yes, this is a RC2 change. You also don't need the ":" so it should be
``@tagHelperPrefix th``

[2016-05-04 21:25] anurse opened #1187 "Social Logins doc needs to be updated for RC2"
* Still refers to DNVM and Beta8
* `dnu commands install` used to install secret manager
* In the [Enable Facebook Middleware](https://docs.asp.net/en/latest/security/authentication/sociallogins.html#enable-facebook-middleware) step, where do I put it? Middleware order is important. And, it has to go **below** `UseIdentity` or things blow up
* In the [Enable Facebook Middleware](https://docs.asp.n

[2016-05-04 22:58] rustd commented on #1187
This doc should get updated for RC2 to match the API version/ tool changes.

[2016-05-05 17:31] Rick-Anderson commented on #1186
@anpete https://github.com/aspnet/Docs/pull/1188

[2016-05-05 17:57] shirhatti opened #1189 "ASP.NET Core Module Configuration Reference"
Document how to configure the ASP.NET Core Module using web.config. It will read similar to the [HttpPlatformHandler Configuration Reference](http://www.iis.net/learn/extensions/httpplatformhandler/httpplatformhandler-configuration-reference).

It should also explicitly call out the `app_offline` behavior.

This article will live under the Publishing and Deployment node in the top level TOC.

[2016-05-05 17:57] shirhatti commented on #1189
@danroth27 Thoughts?

[2016-05-05 19:00] anurse opened #1190 "Enhance ClaimsPrincipal/Identity content in CookieAuth w/o Identity topic"
In https://docs.asp.net/en/latest/security/authentication/cookie.html#creating-an-identity-cookie, nothing describes how to create the necessary ClaimsPrincipal. There are a few tricks to deal with there and some docs would help. For example:
- Must set `AuthenticationType` on the ClaimsIdentity
- What claims should I add? Why?

/cc @blowdart @Tratcher

[2016-05-05 19:50] Rick-Anderson commented on #1186
@anpete I see lots of EmailTagHelper but no AddressTagHelper

[2016-05-05 20:48] anpete commented on #1186
@Rick-Anderson I was looking at http://docs.asp.net/en/latest/mvc/views/tag-helpers/authoring.html. If this is already fixed then feel free to ignore.

[2016-05-05 20:52] Rick-Anderson commented on #1186
Thanks, I was looking at intro. I'm fixing intro now "th:" - I'll fix both of them in the author doc. Thanks for the quick feedback and the good RC2 change catch.

[2016-05-06 03:48] danroth27 commented on #1189
Sounds good to me.

[2016-05-06 16:32] BrennanConroy commented on #1105
Some sections are from beta8 and don't even work in RC1 such as https://docs.asp.net/en/latest/security/data-protection/compatibility/cookie-sharing.html

[2016-05-06 17:39] danroth27 commented on #1190
@blowdart if you could send us a short text proposal we can get it merged in.

[2016-05-06 17:42] danroth27 commented on #1169
@MarkPieszak Since we don't have any immediate plans around Webpack modular bundler we plan to add any doc content in this area. It would probably make a nice blog post though if you want to write something up for the community.

[2016-05-06 17:42] #1169 closed

[2016-05-06 17:42] blowdart commented on #1190
You must set an authenticationtype on the claims identity because that is how the identity knows it's authenticated. If you forget the identity will be unauthenticated and will be ignored by authorization.

As for what claims, honestly that's up to the user scenario. I don't think I can give any generic guidance.

[2016-05-06 17:57] javiercn commented on #1105
@ajaybhargavb Is doing a refactoring on this area, so it might be worth waiting. @Eilon ?

[2016-05-06 18:59] anurse commented on #1190
Yeah, I figured out why I needed AuthenticationType, but it wasn't obvious right from the start.

I think that calling out the Name and Role claims would be useful, since they are what most users will want to configure.

[2016-05-06 21:00] MarkPieszak commented on #1169
Definitely, I'll get something going over the next week if I can. Thanks Dan

[2016-05-06 21:28] GuardRex opened #1192 "Update link to .NET Core Windows Server Hosting bundle in iis.rst"
https://docs.asp.net/en/latest/publishing/iis.html

Update link in `Install the .NET Core Windows Server Hosting Bundle` section ...
[code]

[2016-05-06 23:09] Eilon commented on #1105
I think @danroth27 and @blowdart will have to decide on that. They should consult with @ajaybhargavb and @rynowak to get an idea of what the changes are and perhaps use that to gauge which RC2 docs are more important to update, and perhaps which can wait.

[2016-05-09 16:55] SteveSandersonMS opened #1195 "No docs on Identity "Lockout" feature"
The docs at http://docs.asp.net/en/latest/security/authentication/index.html cover most aspects of Identity, but they don't mention the account lockout feature.

It's not easy to discover how to enable this. Even if you discover the `Lockout` property on the `AddIdentity` callback in `Startup.cs`, that's not enough - you also have to modify `AccountController`'s `Login` method to pass `lockoutOnFa

[2016-05-09 17:04] SteveSandersonMS opened #1196 "Account Confirmation and Password Recovery (security/authentication/accconfirm.md)"
The docs at http://docs.asp.net/en/latest/security/authentication/accconfirm.html say:
- It’s a best practice to confirm the email of a new user registration to verify they are not impersonating someone else (that is, they haven’t registered with someone else’s email).
- You generally want to prevent new users from posting any data to your web site before they have been confirmed by email, an SMS

[2016-05-09 17:49] danroth27 commented on #1195
@blowdart @HaoK

[2016-05-09 18:03] Rick-Anderson opened #1197 ""Safe Storage of App Secrets""
- [ ] rename to "Keeping app secrets out of code during Development with the Secret Manager tool"
- [ ] update for RC2

Customers don't like the current title because secret manger doesn't encrypt secrets - the article is really about using the tool to keep secrets out of code.

@blowdart  is the title change better/preferred/OK?

[2016-05-09 18:03] blowdart commented on #1197
I'd add "In Development" because that is what this is aimed at.

[2016-05-09 18:06] Rick-Anderson commented on #1197
Keeping app secrets out of code in Development with the Secret Manager tool
sounds like out of dev they can be in code.
@blowdart  is that where you wanted "in Dev"

[2016-05-09 18:07] blowdart commented on #1197
Ah I see, how about during Development then. Does that flow better?

[2016-05-09 18:18] Rick-Anderson commented on #1197
New title:
Keeping app secrets out of code during Development with the Secret Manager tool

perfect

[2016-05-09 18:19] blowdart commented on #1197
Thanks

[2016-05-09 18:23] kichalla commented on #1077
I am not clear from the above text that if the following scenario is handled, but I will just put it here so that it doesn't get missed, sorry..

- We can now have conventional routing to middleware where you can define route templates with parameters and get a middleware/middleware-pipeline to be executed.

@rynowak

[2016-05-09 18:40] SteveSandersonMS opened #1198 "Need documentation for enabling HTTPS on Linux / OS X"
The docs at http://docs.asp.net/en/latest/publishing/linuxproduction.html describe how to set up a reverse-proxy from nginx, and they hint that you can do this to enable HTTPS. However, they don't provide any explicit instructions.

If you just add the minimal nginx config to enable SSL, i.e.,

[code]

... then it will _appear_ to work, but there's a subtle problem. ASP.NET won't know the requests

[2016-05-10 19:31] JunTaoLuo commented on #910
Issues and suggestions in addition to Dan's previous comments:

- `hosting.json` is no longer read by default, users need to explicitly add their own configuration sources and pass a configuration to `WebHostBuilder`
- webroot is by default `wwwroot`
- default server url is `localhost:5000`
- more to come...

[2016-05-10 21:24] GuardRex commented on #910
Could mention the change in published output: The devs just say 'it's flat now,' but it's not really "flat" if there are any folders in the output, nor does it really show/describe what will be there. @blackdwarf I think was going to have something more visual or descriptive in cli docs. I have the layouts here: https://github.com/dotnet/cli/issues/937#issuecomment-186737388

IIS: Perhaps talk a b

[2016-05-11 05:26] Rick-Anderson commented on #1149
@ardalis @davidMuir the old MS style guide prohibits should - and this case points it out. You don't need to use VC's anywhere you have reusable rendering logic that is too complex for a partial view,

[2016-05-11 05:26] #1149 closed

[2016-05-11 05:44] sk399 opened #1203 "Creating Backend Services for Native Mobile Applications"
Hi, i am available to seek update and contribute for this.

[2016-05-11 18:03] danroth27 commented on #1203
Sounds good - please follow #95 for status updates.

[2016-05-11 18:03] #1203 closed

[2016-05-12 23:42] danroth27 opened #1210 "Document limitations of updating the Identity schema when targeting SQLite"
https://github.com/aspnet/identity/issues/816

[2016-05-13 04:35] JamesNK opened #1212 "Documentation for ASP.NET 5"
GitHub repo title:

Expected:
Documentation for ASP.NET Core

Actual:
Documentation for ASP.NET 5

[2016-05-14 02:42] Rick-Anderson opened #1214 "Create non-VS version of Building your first ASP.NET Core MVC app"

[2016-05-14 02:43] Rick-Anderson opened #1215 "Create VS code versions of tutorials/first-web-api"

[2016-05-14 21:48] Rick-Anderson commented on #516
@danroth27  can we close this?

[2016-05-16 12:14] danroth27 commented on #516
Yup

[2016-05-16 12:14] #516 closed

[2016-05-16 19:18] #1054 closed

[2016-05-16 20:58] damienbod opened #1225 "Docs not using RC2 docs"
incorrect: https://docs.asp.net/en/latest/fundamentals/localization.html

should be
https://docs.asp.net/en/1.0.0-rc2/fundamentals/localization.html

Greetings Damien

[2016-05-16 21:18] Kahbazi commented on #231
Is there any way to use tag helper inside of another tag helper (in the Process method)?

I like to create a FormTagHelper and user InputTagHelper in its Process method

[2016-05-16 22:23] NTaylorMullen commented on #231
@Kahbazi If you're looking to programmatically use one in the process method you can always do:

[code]

[2016-05-16 22:28] JunTaoLuo opened #1227 "RC1 -> RC2 Migration followup"
Followup to https://github.com/aspnet/Docs/pull/1161.

Issues that still need to be addressed:

- [x] https://github.com/aspnet/Docs/blame/dev/aspnet/migration/rc1-to-rc2.rst#L74-L87. I have sent an email explaining what changed here. The content should be updated and maybe even an accompanying explanation.
- [x] https://github.com/aspnet/Docs/blame/dev/aspnet/migration/rc1-to-rc2.rst#L184. nit: a

[2016-05-17 01:27] xiaolu6t commented on #231
context object can't contain razor template mark.

[2016-05-17 02:27] NTaylorMullen commented on #231
@xiaolu6t It sounds like you want partial view-like logic. The http://live.asp.net site has a partial `TagHelper` to execute another view inside the Process method of a TagHelper. See the [Partial View TagHelper](https://github.com/aspnet/live.asp.net/blob/93edc93c0cb26f3f6933b071b9f78b3614dcc58d/src/live.asp.net/TagHelpers/PartialTagHelper.cs).

[2016-05-17 04:23] #1225 closed

[2016-05-17 12:02] jakeymvc commented on #416
RC2 is now released.

@danroth27 Is there an update on this?

[2016-05-17 16:26] danroth27 commented on #416
We need to move to docfx first.

[2016-05-17 16:31] dlebedynskyi commented on #910
@JunTaoLuo
Could you please clarify following

I'm trying to run asp.core app on ssl with WebListerner.
before we just could to dnx command ` "express":  ""Microsoft.AspNet.Hosting --server Microsoft.AspNet.Server.WebListener" `. but since commands are now removed I was wondering if hosting.json can help with this now

[2016-05-17 17:14] danroth27 commented on #910
https://github.com/aspnet/Docs/pull/1161

[2016-05-17 17:14] #910 closed

[2016-05-17 17:20] danroth27 commented on #1212
@Eilon

[2016-05-17 17:23] JunTaoLuo commented on #910
@dlebedynskyi, you should take a look at https://github.com/aspnet/Announcements/issues/174. The idea is that these configuration sources, such as command line arguments and JSON files, must now be added explicitly by using a `ConfigurationBuilder` and passing its output to the `WebHostBuilder`.

[2016-05-17 17:48] JunTaoLuo commented on #1227
@DamianEdwards, we should figure out how to restructure the document here and what to add/update in the dotnet migration docs.

[2016-05-17 20:08] grahamehorner commented on #193
update required for aspnetcore rc2

[2016-05-17 20:12] dlebedynskyi commented on #910
Thank you  very much @JunTaoLuo.
 so from what I see we can use
something like this
[code]
and from what i see here https://docs.asp.net/en/latest/fundamentals/servers.html
[code]
how do you specify certificate / password in this case? Is there any spec on hosting.json file content? cause I really not sure how to map these lines now

https://github.com/aspnet/KestrelHttpServer/blob/dev/samples/Sam

[2016-05-17 20:26] JunTaoLuo commented on #910
@dlebedynskyi https://github.com/aspnet/KestrelHttpServer/blob/dev/samples/SampleApp/Startup.cs#L51 configures the same setting as `server.urls` in your `hosting.json`. For certificate and password, you can read from other sources of configuration (such as environment variables or user-secrets) and pass it to the method in the sample.

[2016-05-17 20:26] jeremymeng opened #1237 "Correct way to enable Server GC in RC2?"
The migration guide suggests something like the following, which seems from https://github.com/aspnet/Announcements/issues/175
[code]
However, when I tried on RC2, it doesn't work for me.  I had to use the code below
[code]

[2016-05-17 20:29] dlebedynskyi commented on #910
@JunTaoLuo correct. except `.UseUrls("http://localhost:5000", "https://localhost:5001")` is going in `static void Main`  not `public Startup(IHostingEnvironment env)` maybe it would be nice it you have some example with reading serverUrls from actual env via hosting.json

[2016-05-17 20:57] danroth27 commented on #193
@seanmck when can we get the ServiceFabric + ASP.NET Core doc updated for the ASP.NET Core RC2 release?

[2016-05-17 21:00] seanmck commented on #193
We'll have a release out in the next couple of weeks that provides an RC2-based template. I'll update the docs then.

[2016-05-18 01:38] Eilon commented on #1212
@JamesNK, thanks, I renamed the product back to ASP.NET 5 :trollface:

[2016-05-18 01:38] #1212 closed

[2016-05-18 06:48] Bartmax opened #1238 "Wrong: IIS must point to wwwroot."
this doc is wrong. https://github.com/aspnet/Docs/blob/1.0.0-rc2/aspnet/hosting/directory-structure.rst

[2016-05-18 08:02] lzonjic opened #1239 "404 Not found for "Getting Started With ASP.NET Core and Entity Framework Core""
On page [Working with Data](https://docs.asp.net/en/latest/data/index.html) there is a broken link to [Getting Started With ASP.NET Core and Entity Framework Core](http://docs.efproject.net/en/latest/platforms/aspnetcore/getting-started.html)

[2016-05-18 16:23] GuardRex commented on #1237
Covered by the Annoucement: https://github.com/aspnet/Announcements/issues/175

[2016-05-18 17:43] danroth27 commented on #1237
@ajaybhargavb @piotrpMSFT

Here is what I see in our RC2 templates:

[code]

When you say that the above doesn't work for you can you clarify what exactly you are seeing? How are you detecting whether server GC is being used?

[2016-05-18 17:45] danroth27 commented on #1238
@shirhatti could you please take a look?

[2016-05-18 17:46] danroth27 commented on #1239
@Rick-Anderson Please close once #1240 is merged.

[2016-05-18 17:47] jeremymeng commented on #1237
I have this code:
[code]
It prints out "Workstation GC" when I use `gcServer": true`

[2016-05-18 17:51] jeremymeng commented on #1237
A related issue: https://github.com/dotnet/cli/issues/2121
A related commit: https://github.com/aspnet/benchmarks/commit/b7632666c7aa9a90f1893f5c677239d1795001b8

[2016-05-18 17:54] ajaybhargavb commented on #1237
@danroth27, I think the structure of `runtimeOptions` has changed since the announcement. https://github.com/aspnet/Home/issues/1418#issuecomment-219815694

[2016-05-18 17:54] danroth27 opened #1242 "Update Intro to ASP.NET Core doc for RC2"
We made a bunch of significant changes in ASP.NET Core that are not covered in the [Intro to ASP.NET Core](https://docs.asp.net/en/latest/conceptual-overview/aspnet.html) doc. We should get this doc updated.

[2016-05-18 18:35] danroth27 commented on #1242
- What is ASP.NET Core? [Leave as is]
- Why build ASP.NET Core? [Leave as is]
- Anatomy of an ASP.NET Core app
  - It's just a console app
  - You build ASP.NET Core apps using the .NET Core SDK
  - Can target .NET Core or the full .NET Framework
- Creating a web host
  - Use WebHostBuilder
  - Specify a server, `UseKestrel` (link to [Servers](https://docs.asp.net/en/dev/fundamentals/servers.html)

[2016-05-18 18:56] danroth27 opened #1243 "Rename "Hosting" to "Guidance for Hosting Providers""

[2016-05-18 18:57] #1192 closed

[2016-05-18 18:58] #1140 closed

[2016-05-18 19:16] Rick-Anderson opened #1244 "bower.json and package.json not visible in VS solution explorer"
See https://docs.asp.net/en/latest/client-side/bower.html#comment-2682384620
in https://docs.asp.net/en/latest/migration/mvc.html we have them edit both files.
Need to document how to work with these files and why they are hidden.

[2016-05-18 20:46] moozzyk commented on #1227
Added one more line to the issue where it may not be possible to start the application from VS if it was created with RC1 or early RC2. The applicationhost.config file will read wwwroot as the application folder and this is where IISExpress will look for web.config file. Since web.config now lives in approot the application won't start and it is very hard to figure out why (https://github.com/aspn

[2016-05-18 22:42] #1239 closed

[2016-05-19 05:12] danroth27 commented on #228
Published as of https://docs.asp.net/en/latest/publishing/web-publishing-vs.html.

[2016-05-19 05:12] #228 closed

[2016-05-19 05:25] danroth27 commented on #1237
@sayedihashimi @phenning @ajaybhargavb @piotrpMSFT @rachelappel  So what we have in the templates for RC2 is incorrect? The JSON schema also appears to be incorrect:

![image](https://cloud.githubusercontent.com/assets/1874516/15383376/641ba494-1d47-11e6-8b45-ead899ba31d1.png)

[2016-05-19 05:26] #1102 closed

[2016-05-19 05:27] danroth27 commented on #827
This is documented in the EF docs.

[2016-05-19 05:27] #827 closed

[2016-05-19 05:29] danroth27 commented on #815
We don't plan to document these community offerings in the ASP.NET Core docs.

@rowanmiller The EF Core folks have https://docs.efproject.net/en/latest/providers/index.html.

[2016-05-19 05:29] #815 closed

[2016-05-19 05:31] danroth27 commented on #669
We have moved to .NET Core.

[2016-05-19 05:31] #669 closed

[2016-05-19 05:34] #574 closed

[2016-05-19 05:35] danroth27 commented on #534
https://docs.asp.net/en/latest/rss.xml

[2016-05-19 05:35] #534 closed

[2016-05-19 05:36] danroth27 commented on #629
This doesn't sound ASP.NET Core specific.

[2016-05-19 05:36] #629 closed

[2016-05-19 05:36] #532 closed

[2016-05-19 05:37] danroth27 commented on #511
We merged the MVC docs with the ASP.NET Core docs.

[2016-05-19 05:37] #511 closed

[2016-05-19 05:38] danroth27 commented on #505
@Eilon @glennc Should this just go on the [Home](https://github.com/aspnet/home) repo?

[2016-05-19 05:41] danroth27 commented on #227
https://docs.asp.net/en/latest/security/app-secrets.html covers using both the user secrets tool and env vars for dealing with secrets.

[2016-05-19 05:41] #227 closed

[2016-05-19 05:42] danroth27 commented on #67
Duplicate of https://github.com/aspnet/Docs/issues/124

[2016-05-19 05:42] #67 closed

[2016-05-19 05:50] danroth27 commented on #1027
https://github.com/aspnet/Docs/issues/124

[2016-05-19 05:50] #1027 closed

[2016-05-19 05:56] danroth27 commented on #849
@Rick-Anderson What does the Contoso University tutorial cover that the existing MVC tutorial we have doesn't cover?

[2016-05-19 05:57] danroth27 commented on #849
Possible duplicate of https://github.com/aspnet/Docs/issues/977?

[2016-05-19 05:58] danroth27 commented on #754
See https://docs.asp.net/en/latest/getting-started.html

[2016-05-19 05:58] #754 closed

[2016-05-19 06:01] danroth27 commented on #663
Looks like this is now done: https://docs.asp.net/en/latest/tutorials/first-mvc-app/details.html

[2016-05-19 06:01] #663 closed

[2016-05-19 06:01] danroth27 commented on #663
Looks like this is now done: https://docs.asp.net/en/latest/tutorials/first-mvc-app/details.html

[2016-05-19 06:10] danroth27 commented on #590
Possible duplicate of https://github.com/aspnet/Docs/issues/977.

[2016-05-19 06:12] danroth27 commented on #390
@easyt Are you still interested in writing this doc? We would need it to be based on our RC2 bits. I would put it under [Publishing and Deployment](https://docs.asp.net/en/latest/publishing/index.html)

[2016-05-19 06:17] danroth27 commented on #364
We handle this as part of https://github.com/aspnet/Docs/issues/989.

[2016-05-19 06:17] #364 closed

[2016-05-19 06:23] danroth27 commented on #245
@SteveLas How are you guys currently handling documentation for ASP.NET Core + VS + Docker on Windows? Is there something we can just reference from the ASP.NET Core docs?

[2016-05-19 06:24] danroth27 commented on #245
I think we can just reference https://azure.microsoft.com/en-us/documentation/articles/vs-azure-tools-docker-edit-and-refresh/

[2016-05-19 06:29] SteveLasker commented on #245
VirtualBox is a bit difficult. We've been focusing on the Docker for Windows beta. http://beta.docker.com It is a private beta, but they are accepting people regularly. Here's a writeup I did a bit ago. https://blogs.msdn.microsoft.com/stevelasker/2016/03/24/docker-for-windows-beta-released/
We do have a set of docks, which are listed on the download page: http://aka.ms/DockerToolsForVS which incl

[2016-05-19 06:38] danroth27 commented on #1214
https://github.com/aspnet/Docs/issues/896

[2016-05-19 06:38] #1214 closed

[2016-05-19 12:28] atrauzzi commented on #815
Perhaps if EF is covered anywhere in asp.net docs, you could link to **that** page instead?

[2016-05-19 12:43] easyt commented on #390
Yes. Of course. I'd be glad to write it up. Do you have any guidelines to follow, or should I just go by the feel of the other articles on docs.asp.net?

[2016-05-19 15:10] PedanCN opened #1251 "/publishing/linuxproduction.html "Publish to a Linux Production Environment""
nginx kestrel.sock 502???

[2016-05-19 15:27] tdykstra commented on #849
The EF 6 MVC 5 CU tutorial series is a long one that covers a number of topics.  It's not a duplicate of 977 because one thing it doesn't cover is auth.  Beyond basic CRUD it covers related data extensively, data model attributes and fluent API extensively, connection resiliency, command interruption, stored procedures, concurrency, inheritance, performing raw SQL, no-tracking, debugging, and a nu

[2016-05-19 16:33] danroth27 commented on #1251
The "Publish to a Linux Production Environment" still needs to be updated for RC2.

[2016-05-19 16:57] danroth27 commented on #1251
@PedanCN Could you please clarify exactly what you tried, what you expected and what issue you saw?

[2016-05-19 17:22] sayedihashimi commented on #1237
The runtime team owns the schema, and I think it can be updated on the fly.

[2016-05-19 17:37] danroth27 commented on #816
This issue is no longer relevant since we have moved to .NET Core.

[2016-05-19 17:37] #816 closed

[2016-05-19 17:38] danroth27 commented on #494
The DNX commands doc has been removed since we moved to .NET Core.

[2016-05-19 17:38] #494 closed

[2016-05-19 17:41] GuardRex commented on #816
@danroth27 There might still be a lingering issue there. I noticed that the VC++ was there by default when I spun up a 2008R2 VM in Azure, but this cat had a problem with an existing server ... https://github.com/aspnet/IISIntegration/issues/179#issuecomment-220172988.

I'll play with it today and see if I can repro what was described there and see how that exception shows up in the various loggin

[2016-05-19 17:59] Kahbazi commented on #231
@NTaylorMullen Can you please show me how to create new \TagHelper output and context?

[2016-05-19 18:13] NTaylorMullen commented on #231
@Kahbazi can you be more specific? Is using their constructors not sufficient?

[2016-05-19 18:31] danroth27 commented on #1154
Need to also update for RC2

[2016-05-19 18:31] Kahbazi commented on #231
@NTaylorMullen their constructors is clear for me, I don't know how to provide the inputs.
what I want to do is create  CreateForm Tag Helper which gets a model class as its attribute and create all the elements which is needed for Creating that class.

I want to write this in my View :

@model Person
<CreateForm asp-Entity="@Model"/>

and I want CreateForm tag helper to generate this :

<Form>
<l

[2016-05-19 18:33] danroth27 commented on #1143
Should be fixed now

[2016-05-19 18:33] #1143 closed

[2016-05-19 18:34] danroth27 commented on #1114
No longer relevant now that we've moved to .NET Core.

[2016-05-19 18:34] #1114 closed

[2016-05-19 18:36] danroth27 commented on #1105
@blowdart Can you make these updates? Otherwise, please work with @Rick-Anderson on the changes.

[2016-05-19 18:37] #1074 closed

[2016-05-19 18:37] danroth27 commented on #1049
We are tracking individual articles with separate issues.

[2016-05-19 18:37] #1049 closed

[2016-05-19 18:38] danroth27 commented on #1048
Removed stale content.

[2016-05-19 18:38] #1048 closed

[2016-05-19 18:38] danroth27 commented on #1045
Done.

[2016-05-19 18:38] #1045 closed

[2016-05-19 18:39] danroth27 commented on #1044
Done

[2016-05-19 18:39] #1044 closed

[2016-05-19 18:39] #1042 closed

[2016-05-19 18:39] #1028 closed

[2016-05-19 18:41] danroth27 commented on #1025
This should just be a table of built-in tag helpers with links to the docs that cover them.

[2016-05-19 18:42] #1024 closed

[2016-05-19 18:42] blowdart commented on #1105
Hah, @javiercn promised to do it when he made the initial changes.

[2016-05-19 18:43] blowdart commented on #1105
Also we still haven't made that darned sample "officially" ours, that work was waiting for post RC2 @HaoK

[2016-05-19 18:50] javiercn commented on #1105
@ajaybhargavb Is doing a bunch of changes on the area, so I think he is the best person to do it or help someone do it.

[2016-05-19 18:52] PinpointTownes commented on #566
Don't hesitate to ping me if you need additional details about the OAuth2/OpenID2 providers or the aspnet-contrib initiative in general :clap:

[2016-05-19 18:53] danroth27 commented on #869
In general we should avoid links to source code on GitHub.

[2016-05-19 18:55] danroth27 commented on #862
See https://docs.asp.net/en/latest/fundamentals/startup.html#services-available-in-startup for services available in startup. The DI article should link to that section

[2016-05-19 18:56] danroth27 commented on #858
@ardalis Can you include this feedback in your RC2 update for this article?

[2016-05-19 18:57] danroth27 commented on #829
@ardalis Can you incorporate this feedback as part of your RC2 update?

[2016-05-19 18:59] danroth27 commented on #828
Note added.

[2016-05-19 18:59] #828 closed

[2016-05-19 19:00] danroth27 commented on #788
@GuardRex Can this now be closed with your most recent updates to the article?

[2016-05-19 19:33] GuardRex commented on #788
Yes

[2016-05-19 19:33] #788 closed

[2016-05-19 20:31] danroth27 commented on #1237
@sayedihashimi @barrytang This is more than just a schema issue. It looks like what we have in our template project.json files is wrong.

[2016-05-19 20:34] Rick-Anderson opened #1255 "RC2 updates for Publishing to IIS with Web Deploy using Visual Studio"
@sayedihashimi can you outline the changes that need to be made for RC2 on [Publishing to IIS with Web Deploy using Visual Studio](https://docs.asp.net/en/latest/publishing/iis-with-msdeploy.html)

[2016-05-19 20:35] danroth27 commented on #755
@ardalis I see you marked this as Done. Should this issue now be closed?

[2016-05-19 20:36] danroth27 commented on #707
@Rick-Anderson Please handle this as part of https://github.com/aspnet/Docs/issues/1187.

[2016-05-19 20:38] danroth27 commented on #786
@GuardRex Was this already covered by your updates to the IIS publishing doc?

[2016-05-19 20:39] danroth27 commented on #647
@ardalis Is this getting addressed as part of https://github.com/aspnet/Docs/pull/1231?

[2016-05-19 20:40] danroth27 commented on #453
Package information is now specified.

[2016-05-19 20:40] #453 closed

[2016-05-19 21:02] GuardRex commented on #786
Yes, the "better idea" that has emerged is that we have Slack #iis channel Shared Files. There are some *good vibes* about folks with special hosting scenarios (e.g., @tuespetre `dnx-watch` and IIS Local ... or my "simple console logging for small shops pattern") that will go great in the Slack #iis channel. Yeah ... we're done here.

[2016-05-19 21:02] #786 closed

[2016-05-19 21:35] NTaylorMullen commented on #231
You could do: `public object AspEntity { get; set; }` in your `CreateForm` TagHelper and then reflect over that object to generate the types. You could also utilize ModelExpression to work with a piece or the entire model and do: `public ModelExpression AspEntity { get; set; }` and look at the metadata

[2016-05-19 23:38] Rick-Anderson opened #1256 "Your First ASP.NET Core Web App Using Visual Studio"
Phase 1 (to quickly get something published)
-Create new MVC Core app with **OUT** individual user accounts.
- Deploy to Azure
- point to other articles that do more

Phase 2 (RTM bits)
- Create new MVC Core app (again without individual user accounts)
- Scaffold the movie model
- Push to Azure -

[2016-05-19 23:40] danroth27 commented on #1256
It should live here where the old one used to: https://docs.asp.net/en/latest/tutorials/your-first-aspnet-application.html

[2016-05-20 01:36] ardalis commented on #858
Will do

[2016-05-20 03:17] Rick-Anderson commented on #1256
@danroth27 @tdykstra @sayedihashimi  For a simple deploy to azure tutorial, what's the preferred way to deploy? From project creation should I select "Host in the cloud"?
That doesn't seem to let you create a new resource group.

Publishing after also doesn't let me create a new RG.

[2016-05-20 03:27] Rick-Anderson commented on #1256
@danroth27 @tdykstra @sayedihashimi
Looks like my Azure SDK is outdated, that's why I can't create a new RG. I'll following https://azure.microsoft.com/en-us/documentation/articles/web-sites-dotnet-get-started/ but deploy a ASP.NET MVC Core app

@danroth27 see my updated outline at the top

[2016-05-20 09:49] lucamorelli opened #1259 "looking for informations"
Hi, after a few test with rc 2 I'm looking on more infos about a few things:

1. I have problems to understand is the **Tools** section of the project.json.
what do they add to the project? commands to the dotnet command?
how can I find informations about them? when I had a new package tool this section is added to the  project.json?
the imports. How can I discover the imports I have to add?
2. Si

[2016-05-20 11:23] Kahbazi commented on #231
I've already done that, I get my `AspEntity` and use `Reflection` to get to the properties and create a `ModelExplorer` object for each property, but my problem is when I create a new `InputTagHelper` in my  `Process` method  of `CreateFormTagHelper` and call its `Process` method, nothing is added to output.

    public override void Process(TagHelperContext context, TagHelperOutput output)
    {

[2016-05-20 12:49] DandY30 opened #1260 "System.Net.Primitives.dll Cannot find the file"
In ApsNetCore RC2 web application i'am having a problem injecting IHttpContextAccessor

I have a class **HttpContextService** which implements **IHttpContextAccessor** and in stratup.cs I added it like this `services.AddTransient<IHttpContextAccessor, HttpContextService>();`

And when I run the project it stoppes without showing errors, so I looked into log and found this:
**'dotnet.exe' (CoreCLR:

[2016-05-20 12:53] svick commented on #1047
I think this is pretty critical. When I want to use an API I don't know, I have pretty much two options:

1. rely on documentation
2. rely on IntelliSense

Because of this, I can't do 1. And if I want to use just a text editor (no VS, Code or OmniSharp), which is being promoted as an acceptable way to do things in Core, I can't do 2 either.

[2016-05-20 15:24] svick opened #1261 "Large parts of documentation are not updated for RC2"
It seems a lot of the documentation is stuck in RC1 times and needs to be updated for RC2.

The issues I noticed on a cursory walk through the documentation:

* Lots of references to the old `Microsoft.AspNet` packages and namespaces instead of `Microsoft.AspNetCore`
* Uses of `project.json` features that don't work anymore (e.g. `"commands"` in [Servers](https://docs.asp.net/en/latest/fundamental

[2016-05-20 17:15] ardalis commented on #829
@danroth27 will do

[2016-05-20 17:17] #755 closed

[2016-05-20 17:58] NTaylorMullen commented on #231
So when the `InputTagHelper`s `Process` method is called it expects that the `output` passed in represents an input tag. It then modifies the output in-place to represent a new input tag. It doesn't add itself to the output.

You could however create a separate `TagHelperOutput` for the input tag and then append its output to your `CreateForm`s `TagHelperOutput`.

Ex:
[code]

[2016-05-20 21:36] Rick-Anderson commented on #1261
@svick  actually a lot of it is still beta. We are aware of this and would welcome PR's to help get it updated.

[2016-05-20 21:39] Rick-Anderson commented on #1260
@DandY30 The doc repo is not a support forum. Can you post that question on SO? THanks.

[2016-05-20 21:39] #1260 closed

[2016-05-20 21:45] GuardRex opened #1264 "Discussion for changes to Publishing to IIS: Securing sensitive files in the deployment"
@danroth27 @Rick-Anderson @blowdart @shirhatti @moozzyk

RE: [Warning in Publishing to IIS: Deploying the Application](https://docs.asp.net/en/latest/publishing/iis.html#deploy-the-application)

Following discussion in [Discussion for: Publish for IIS changes to web.config location](https://github.com/aspnet/IISIntegration/issues/158), particularly the language I show that is posted in the #iis ch

[2016-05-20 23:44] danroth27 commented on #1256
My preference is to use the default template with no additional configuration. Why disable authentication? Are there issues with the publishing experience when identity and EF are involved?

[2016-05-21 00:44] Rick-Anderson commented on #1256
@danroth27 Adding the EF/SQL greatly complicated publishing for what I feel is very little value. It takes far longer to provision and publish with a high probability of a publish error.

I'm fine with publishing with authen/db.

[2016-05-21 01:00] sayedihashimi commented on #1256
To publish just create a publish profile, no need to go through Host in the Cloud.

[2016-05-21 04:05] danroth27 commented on #1264
Honestly, that's also my take on this issue.

Sounds reasonable

[2016-05-21 04:29] danroth27 commented on #1047
@svick Totally agree! We're working on it.

[2016-05-21 04:35] danroth27 opened #1267 "mvc/controllers/filters.html "Filters""
- [x] See https://github.com/aspnet/Home/issues/1470.
- [x] UE edit
- [x] AuthorizationFilterAttribute was removed, and this doc should be updated accordingly, check this issue for more info https://github.com/aspnet/Mvc/issues/4233
- [x]  https://github.com/aspnet/Home/issues/1613

[2016-05-21 04:45] danroth27 opened #1268 "Add "Using Visual Studio" to the title of the ASP.NET Core MVC tutorial."

[2016-05-21 05:27] danroth27 commented on #815
EF is covered under https://docs.asp.net/en/latest/data/index.html

[2016-05-21 05:28] danroth27 commented on #390
See https://docs.asp.net/en/latest/contribute/index.html for our existing guidelines.

I recommend starting with an outline and posting it here so that we can give feedback before you write a bunch of content.

[2016-05-21 15:37] dlebedynskyi commented on #1215
would really love sample with configuration of ssl and custom run port retrieved from configuration. Similar to what you can do in VS with launchSetting.json setting `sslPort:44312`

[2016-05-21 15:39] dlebedynskyi commented on #1198
having similar problem as well. There is Kestrel.https package but it lacks documentation.

[2016-05-21 19:23] GuardRex commented on #1264
I'll get a PR setup for the change to that section soon.

Also note that yet another "VC++ redist MIA" occurred for someone  https://github.com/aspnet/IISIntegration/issues/185 due to not having an Internet connection when running the bundle installer. This seems to be happening a little bit; and if it's happening a little bit now, it's going to happen :boom: a lot :boom: when RTM lands. I'll see

[2016-05-22 01:19] damienpontifex opened #1271 "Publish to Azure Web App with VSTS Build CI"
An article to outline Continuous Integration using Visual Studio Team Services with Build and/or Release features. I would see the doc outlining steps potentially being:

1. Get and install `dotnet` on build servers with script from https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/dotnet-install.ps1
2. `dotnet restore`
3. `dotnet publish -c Release -o $(build.stagingDirectory)

[2016-05-22 04:08] danroth27 commented on #210
#860

[2016-05-23 14:17] CezaryRynkowski opened #1274 "dotnet run - MissingMethodException"
Hi im trying to migrate RC1 project to RC2. My project restoring and building succesfuly. But when i type dotnet run i got Exception: Could not find method: 'Microsoft.Extensions.Configuration.IConfigurationBuilder Microsoft.Extensions.Configuration.IConfigurationBuilder.Add(Microsoft.Extensions.Configuration.IConfigurationProvider)'.

And this is my Startup constructor:
[code]
And this is my proj

[2016-05-23 14:19] ardalis commented on #1274
Issues here are for problems with the documentation. For troubleshooting, I recommend posting on StackOverflow.com.

[2016-05-23 14:20] #1274 closed

[2016-05-23 15:53] stevo-knievo opened #1275 "Question: supervisor configuration: where is the bash script located?"
I followed the [Publish to a Linux Production Environment](https://docs.asp.net/en/latest/publishing/linuxproduction.html) instruction. But I’m struggling with the [supervisor configuration](https://docs.asp.net/en/latest/publishing/linuxproduction.html#configuring-supervisor). I have no idea where the bash file is located.

`command=bash /var/aspnet/HelloMVC/approot/web`

I use the [ASP cli-sampl

[2016-05-23 18:06] danroth27 commented on #1275
@shirhatti Can you help out here?

[2016-05-23 18:08] danroth27 commented on #1271
Yup, this is something we definitely want to have. Are you offering to write it? :wink:

[2016-05-23 18:15] danroth27 commented on #1259
@blackdwarf

For (1) .NET Core tools are explained here: http://dotnet.github.io/docs/core-concepts/core-sdk/cli/overview.html. We should probably link to this doc when we talk about the tools we ship with ASP.NET Core.

For (2) we are aware of the library limitation with EF Core and we are working to get it fixed.

For (3 through 5) you should refer to the [.NET Core docs](http://dotnet.github.io

[2016-05-23 18:15] #1259 closed

[2016-05-23 18:16] danroth27 opened #1276 "Refer to .NET Core tools doc wherever we discuss our tools"
We should link to http://dotnet.github.io/docs/core-concepts/core-sdk/cli/overview.html wherever we discuss our .NET Core tools that we ship.

[2016-05-23 18:23] shirhatti commented on #1275
@stevo-knievo That article is out of date. I'm working on updating it `/var/aspnet/HelloMVC/approot/web` was the shell script generated with the `dnu publish` gesture in RC1.

In RC2, replace that with `command=dotnet ./foo.dll` (where `foo` is the name of your app.

[2016-05-23 18:47] stevo-knievo opened #1277 "Question: Kerstrel on Linux isn't creating unix socket"
I followed the [Linux Production Environment instruction](https://docs.asp.net/en/latest/publishing/linuxproduction.html#configure-nginx) instruction but the Kerstrel server isn't creating unix socket.

I put the command in the project.json file.

[code]
After I run the following commands the socket file isn't created.

[code]
Thanks a lot!!

[2016-05-24 01:39] damienpontifex commented on #1271
Yes @danroth27 am offering and will get started 😊

Was also checking no one had started work on such content. Plus happy for any feedback on the steps outlined above for writing said content myself.

[2016-05-24 05:27] stevo-knievo commented on #1277
So I figured out how to create the socket...
[code]

Now I would like to know how I could set this via config file maybe like this:

`dontnet ./foo.dll –-lunch.prod.settings.json`

Thanks!!!

[2016-05-24 10:34] bragma commented on #1237
I'm a bit lost. Is this valid also for webjobs (console apps) targeting net461?

[2016-05-24 16:01] danroth27 commented on #1237
No, for console apps target the full .NET Framework you would need to enable server GC in app.config.

[2016-05-24 18:15] shirhatti commented on #1189
Spoke to @Rick-Anderson offline. He will be working on this

[2016-05-24 21:06] danroth27 opened #1282 "Document reload on change semantics for configuration"
The file based config providers now have an option to reload the config data when the file changes. We should mention this in the configuration doc.

[2016-05-24 22:00] danroth27 commented on #1271
@sayedihashimi @DarqueWarrior Can you guys take a look at the doc proposal above? Is there existing content already published for ASP.NET Core and VSTS that we can reference?

[2016-05-24 23:25] VanKichline opened #1284 "mvc/controllers/areas.rst Areas"
Docs / aspnet / mvc / controllers / areas.rst  uses the @Html.ActionLink syntax (old) instead of TagHelpers, which would be more consistent.

[2016-05-25 12:43] christiannagel opened #1287 "app-secrets tool section and userSecretsId - Secret Manager tool"
In https://github.com/aspnet/Docs/blob/master/aspnet/security/app-secrets.rst it would be helpful to add information how the tools section should look like, like:

[code]

Also, after "Add a userSecretsId for your project in its project.json file:", the code block is missing.

Christian

[2016-05-25 16:03] tmds opened #1288 "Using typescript with aspnet core"
This article is empty: https://docs.asp.net/en/latest/client-side/typescript.html
And the related issue is closed: https://github.com/aspnet/Docs/issues/31

[2016-05-25 17:29] Rick-Anderson commented on #1287
@christiannagel  good idea on explaining/showing the tools section. We'd like to do that in a version independent way.

It's showing up in https://docs.asp.net/en/latest/security/app-secrets.html

![image](https://cloud.githubusercontent.com/assets/3605364/15549856/54cd8892-224a-11e6-9b6d-99edf266bafa.png)

[2016-05-25 18:51] christiannagel commented on #1287
@Rick-Anderson  defining the tools section in a version independent way, a docu update wouldn't be necessary in the next version :-)
I think the version "1.0.0-preview1-final" could be rewritten with "1.0.0-*", this should work in the next version as well.

[2016-05-25 20:35] Rick-Anderson commented on #1189
@shirhatti can you send me the text for that?

[2016-05-25 22:23] #1275 closed

[2016-05-25 22:24] danroth27 commented on #1277
@shirhatti

[2016-05-25 22:29] danroth27 commented on #1287
Please note that the imports statement will go away in RTM. That was a temporary thing for RC2.

Also, I believe the version wildcard `1.0.0-*` may only work with prerelease versions.

[2016-05-25 22:32] danroth27 commented on #1288
We should just point to https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/tutorials/ASP.NET%20Core.md.

[2016-05-25 22:41] divega opened #1291 "Consider adding topic that covers ChangeToken"
`ChangeToken` is exposed in the configuration API surface but it is also a general purpose low level building block you can use by itself.

Although using it to have logging automatically updated from configuration files can be very straightforward (e.g. it only requires setting a flag on the configuration provider), customers keep hitting some complexity when they try to use `ChangeToken` directl

[2016-05-25 23:24] shirhatti commented on #1189
If you place a file with the name `app_offline.htm` in the root of a web application directory, ANCM will shut-down the application and stop processing any new incoming requests for that application.  ANCM will also then respond to all requests for dynamic pages in the application by sending back the content of the `app_offline.htm` file (for example: you might want to have a “site under construct

[2016-05-26 04:10] Rick-Anderson commented on #1268
fixed

[2016-05-26 04:10] #1268 closed

[2016-05-26 04:11] Rick-Anderson commented on #1187
fixed.

[2016-05-26 04:11] #1187 closed

[2016-05-26 04:12] Rick-Anderson commented on #1186
fixed

[2016-05-26 04:12] #1186 closed

[2016-05-26 04:31] Rick-Anderson commented on #977
@danroth27 I'm starting on this while I wait for PR feedback. It will be pretty much  ACOM https://azure.microsoft.com/en-us/documentation/articles/web-sites-dotnet-deploy-aspnet-mvc-app-membership-oauth-sql-database/ - but then in the next step I make it so users can only Create/Edit/Delete their own data.

You've already approved this but I just want to double check because it's a old school tut

[2016-05-26 05:33] tmds commented on #1288
@danroth27 What's strange about that document is that it nowhere has the typescript compiler in the build scripts. Could it be that it relies on VS to compile the typescript to javascript? It is preferable the documentation tackles the topic xplat.

[2016-05-26 07:26] ajtowf opened #1296 "Antiforgery token validation failed"
When decorating a post method on a controller with the [ValidateAntiForgeryToken] we get the following error:

2016-05-26 09:22:48.342 +02:00 [Information] Antiforgery token validation failed. "The required antiforgery cookie \".AspNetCore.Antiforgery.kn8OU3FHivU\" is not present."
Microsoft.AspNetCore.Antiforgery.AntiforgeryValidationException: The required antiforgery cookie ".AspNetCore.Antifor

[2016-05-26 07:27] ajtowf commented on #1296
Additional info: When removing the attribute the post to the controller works.

[2016-05-26 09:21] DeLeneMirouze opened #1297 "VS Publish doesn't work on RC2 on some configuration"
My default temp publish path has diacritic characters (accents).

This wasn't an issue until RC1, but RC2 throw a publish error and stop

It is possible to solve this issue by adding an explicit PublishOutputPathNoTrailingSlash in the pubxml file
But maybe this shouldn't be an issue as previously!

[2016-05-26 16:46] danroth27 opened #1298 "Fix broken highlighting issues"
[code]

[2016-05-26 17:47] danroth27 commented on #1296
@Rick-Anderson Could this be merged with the antiforgery content you have in the works?

[2016-05-26 17:49] danroth27 commented on #1297
@sayedihashimi @barrytang @piotrpMSFT Can you guys take a look? Is this potentially a CLI issue?

[2016-05-26 19:04] vkichline opened #1299 "Example using AuthorizeAsync is incorrect"
On Docs / aspnet / security / authorization / views.rst the example code:
`@if` (await AuthorizationService.AuthorizeAsync(User, "PolicyName"))
...is incorrect.  AuthorizeAsync takes three parameters.  The middle one is object resource.  It would be helpful to explain exactly what to supply as the resource.

[2016-05-26 21:51] DarqueWarrior commented on #1271
I am working on a post. Should be out on DonovanBrown.com this weekend.

[2016-05-27 01:24] ardalis commented on #1282
Should be good to go and merged now. Let me know if we need more on this topic in configuration.

[2016-05-27 01:47] Rick-Anderson commented on #1296
@ajtowf  That's a pretty cool blog. Looks like it shows how to do integration testing on your POST methods so you can pick up the Anti Request Forgery - is that right?  I don't think we have the budget to create a sample for this scenario.

@danroth27 so this wouldn't fit in with my planned XSRF document.

[2016-05-27 01:47] #1296 closed

[2016-05-27 02:07] Rick-Anderson opened #1304 "mvc/models/validation "Model Validation""
- [ ] Show how to disable validation.
- [ ] #1928 The .NET and MVC semantics for the `[Required]` attribute seem to confuse everyone. See the long thread at aspnet/Mvc#5115 for example.
- [ ] provide code for MergeAttribute
- [ ] provide sample code
- [ ] DISQUS article very confusing and chaotic! I only managed to get custom validation working by visiting other resources...
- [ ] PM review requir

[2016-05-27 02:21] #1197 closed

[2016-05-27 02:23] Rick-Anderson commented on #1256
https://github.com/aspnet/Docs/pull/1266

[2016-05-27 02:27] Rick-Anderson opened #1305 "directories for ASP.NET Core module"
update https://docs.asp.net/en/latest/hosting/directory-structure.html for ANCM
@shirhatti  can you work with @GuardRex  who will be doing the PR? Is this correct

- replace platform handler with ANCM
- remove approot from table - that's an RC1 artifact
- mention you need to create the *logs* directory

Do we need any other changes?

[2016-05-27 02:36] GuardRex commented on #1305
@shirhatti From my message to @Rick-Anderson ...

I don't have the impression that any particular name has been given to the `approot` folder of DNX/RC1-days other than `content root path` or `application base path`. You certainly don't see it referred to recently as `approot`, except sometimes in terms of Azure Apps. The flat output of publishing is ...

#### Self-contained
[code]
#### Portable
[

[2016-05-27 03:00] damienpontifex commented on #1271
I have started on a docs article here https://github.com/damienpontifex/Docs/blob/vsts-ci/aspnet/publishing/vsts-continuous-deployment.rst

Be aware, I have only outlined steps and am looking to refine the article and contents. Looking forward to seeing your article @DarqueWarrior for tips and improvements to my current workflow.

[2016-05-27 03:22] danroth27 commented on #1261
There are two many topics that need to be updated to track it all with one issue. We should open issues for individual topics.

[2016-05-27 03:22] #1261 closed

[2016-05-27 03:37] AxelMarquez commented on #1304
Thanks @Rick-Anderson for creating the issue, I'm the person who asked that DIQUS question.

[2016-05-27 06:18] barrytang commented on #1297
Adding @vijayrkn and @mlorbetske.

[2016-05-27 15:54] ciwchris opened #1307 "fundamentals/startup "Application Startup""
The "Services Available in Startup" section in the [Application Startup](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup#services-available-in-startup) doc lists `IApplicationEnvironment` as an injectable service, ~but the "Runtime Services Changes" section in the [Migrating from ASP.NET 5 RC1 to ASP.NET Core](https://github.com/aspnet/Docs/blob/d02c9614d2a0af4920e225096cfe4c8a2f

[2016-05-27 16:50] ciwchris opened #1308 "Remove MinimumLevel from Logging docs"
The "Configuring Logging in your Application" section in the [Logging](https://github.com/aspnet/Docs/blob/master/aspnet/fundamentals/logging.rst#configuring-logging-in-your-application) doc states:

But this property was removed in the issue [Remove ILoggerFactory.MinimumLevel](https://github.com/aspnet/Logging/issues/298) and therefore should be removed.

[2016-05-27 17:00] vkichline opened #1309 "Example of MemoryConfigurationProvider usage is incorrect"
Topic Docs > Fundamentals > Configuration contains:
`builder.Add(new MemoryConfigurationProvider());`
 ...which does not compile.
MemoryConfigurationProvider requires a MemoryConfigurationSource parameter (no idea what that would be.)
Perhaps the example should use: builder..AddInMemoryCollection();

[2016-05-27 17:48] danroth27 commented on #1299
@blowdart can you help out with some prose for describing what the "resource" is?

[2016-05-27 17:49] danroth27 commented on #1304
@dougbu @rynowak @Eilon What's our guidance on this?

[2016-05-27 17:51] danroth27 commented on #1308
@ardalis  In PR: https://github.com/aspnet/Docs/pull/1280

[2016-05-27 17:52] danroth27 commented on #1308
Duplicate of https://github.com/aspnet/Docs/issues/908

[2016-05-27 17:52] #1308 closed

[2016-05-27 17:52] danroth27 commented on #1309
In PR: https://github.com/aspnet/Docs/pull/1306

[2016-05-27 18:13] dougbu commented on #1304
Haven't tried it but I suggest placing a `NullObjectModelValidator` in DI, replacing the default `IObjectModelValidator` implementation. Might be something like:
[code]

Alternatively, walk the model tree and mark everything as valid.

[2016-05-27 18:20] vijayrkn commented on #1297
This is not a cli issue. This is an issue in the tooling manifest file. Fix is in the publish powershell script.

[2016-05-28 19:14] blowdart commented on #1299
The docs are a bit wrong, but this isn't accurate either. The code has moved to an extension class. I have some edits waiting in the office.

[2016-05-30 19:47] GuardRex opened #1318 "Show "Last updated on <date>" on each doc"
From @joelbennett on [Slack](https://aspnetcore.slack.com/archives/docs/p1464636947000050) ...

How difficult would it be to display the last updated date for a particular documentation page (on the page itself)?

Reason I ask is that it'd be nice to know if a certain document is up to date.  I had something pop up in Twitter saying that the Application Startup documentation had been updated, but

[2016-05-30 21:17] DarqueWarrior commented on #1271
[DevOps for ASP.NET Core RC2](http://www.donovanbrown.com/post/2016/05/30/DevOps-for-ASPNET-Core-RC2)

[2016-05-31 08:32] TomGeske opened #1319 "Web API Tutorial issues with TodoController"
Code snippet https://docs.asp.net/en/latest/tutorials/first-web-api.html#id7 for TodoController  is missing TodoItems field declaration => result compile error.

[2016-05-31 10:15] #1227 closed

[2016-05-31 12:15] VPashkov opened #1321 "Typo in Claims-Based Authorization section(VactionController -> VacationController)"
security/authorization/claims.rst
[code]
should be
[code]

[2016-05-31 15:26] danroth27 opened #1323 "mvc/controllers/dependency-injection "Dependency Injection and Controllers""
Here's a list of some of the attributes used to inject context specific types
- ControllerContextAttribute - injects a ControllerContext in a controller
- ViewDataDictionaryAttribute - Inject ViewDataDictionary in a controller
- FromServicesAttribute - Model binds a service (used to decorate action parameters or in model bound types)
- ViewContextAttribute - Inject ViewContext in a tag helper
- Vi

[2016-05-31 16:25] ardalis opened #1324 "Typo in Migration"
Namespace and package ID changes

Should be

[2016-05-31 16:47] danroth27 opened #1325 "Views overview"
MVC -> Views -> Overview

Targeting RTM

- What are Views
  - Razor files
  - You can think of a View as a template block of HTML with some embedded code that will generate HTML to send to the client
  - Add a note about how view turns into code that renders (without going into the weeds with razor)
  - Razor deeply understands HTML, allowing it to do its thing without much ceremony
- Creating a V

[2016-05-31 17:30] shirhatti commented on #1305
👍 Looks good to me

[2016-05-31 17:42] GuardRex commented on #1305
@shirhatti Do you want me to do the PR on it? If so, how do you want the authorship handled? I can take this one over, split with you as 2nd, or take 2nd myself ... whatever works best ... or that's not an issue if you're doing the PR, of course.

[2016-05-31 17:48] shirhatti commented on #1305
By all means, go for it. You can take this one over 😄

[2016-05-31 17:49] GuardRex commented on #1305
@shirhatti Ok, great. I'll get on this this afternoon.

[2016-05-31 18:05] Rick-Anderson commented on #1324
Fixed.

[2016-05-31 18:05] #1324 closed

[2016-05-31 18:06] #1321 closed

[2016-05-31 18:07] #1319 closed

[2016-05-31 18:18] Rick-Anderson commented on #1297
@vijayrkn can you post the PS workaround?

[2016-05-31 18:22] Rick-Anderson commented on #1251
Add #1277

[2016-05-31 18:22] #1277 closed

[2016-05-31 18:26] vijayrkn commented on #1297
This is the fix: https://github.com/aspnet/vsweb-publish/pull/62

To get the fix, Copy the latest publish-module.psm1 from https://github.com/aspnet/vsweb-publish/blob/master/publish-module.psm1 to here - C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\Web Tools\Publish\Scripts\1.1.0.

[2016-05-31 19:49] blowdart commented on #1299
This looks like a tooling bug. I can get the extensions to appear just fine with intellisense. Closing as not a doc bug.

[2016-05-31 19:49] #1299 closed

[2016-05-31 20:15] #1297 closed

[2016-06-01 03:30] GuardRex commented on #1305
@Rick-Anderson Submit the PR to the `dev` branch then? I thought you might want this one for `master` given that the current doc is very DNX/RC1-ish.

[2016-06-01 03:41] GuardRex commented on #1305
@shirhatti This one is so short and sweet we can prob knock it out right here for a quick and easy PR. What do you think of this:

In ASP.NET Core, the application directory, *publish*, is comprised of app files, config files, static assets, packages, and the runtime (for self-contained apps). This is unlike previous versions of ASP.NET, where the entire application lived inside the web root direc

[2016-06-01 14:07] cokemal commented on #95
I would like to contribute/review, cokemal@gmail.com

[2016-06-01 16:43] danroth27 commented on #1305
@GuardRex This should go into master

[2016-06-01 16:44] GuardRex commented on #1305
Gotcha. I'll just wait to see what @shirhatti and @Rick-Anderson have to say about that ^^ and have the PR in asap. I know this confuses some devs right now coming into .NET Core, so I'll knock it out asap.

[2016-06-01 16:48] danroth27 commented on #1305
@blowdart @shirhatti The original doc covered the recommended permissions for the various folders in the published output of an ASP.NET Core. We need to update those recommendations based on the new structure of the published output. Can you guys help out with this?

[2016-06-01 16:54] danroth27 commented on #1288
@DanielRosenwasser do you guys have any plans to produce xplat instructions (ex with VSCode instead of VS) for using TypeScript with ASP.NET Core?

[2016-06-01 17:06] blowdart commented on #1305
@shirhatti can. I can't.

[2016-06-01 17:46] GuardRex commented on #1305
I refactored something generally related to permissions: This doc is in "hosting," so I pulled out explicit references to IIS, except for `web.config`, because I felt it was important to leave there.

The reason I say it's related to permissions is that if this is about a generic directory display for published output that can go to any platform, I felt I didn't know enough about permissions on ot

[2016-06-01 18:01] shirhatti commented on #1238
Dupe of https://github.com/aspnet/Docs/issues/1305

[2016-06-01 18:01] #1238 closed

[2016-06-01 18:04] shirhatti commented on #1305
:+1:

[2016-06-01 18:10] GuardRex commented on #1305
I'll add the following as a new paragraph at the end ...

[2016-06-01 20:26] rachelappel opened #1329 "AddDataProtection configuration"
Missing parts on custom crypto

From @joeaudette: Need to document alternatives for certificates and custom crypto. Some of the crypto stuff is available as methods but maybe need different params

@blowdart

[2016-06-01 20:47] joelmartinez commented on #1318
Unfortunately, the literally last updated date might not be quite as useful ... for example, if an older document got a quick copyedit to fix a misspelling, it would erroneously indicate that the information was more recent than it actually was.

As much as it sucks, IMO, the last updated date should be an editorially chosen value ... which is to say, when a human author decides that they've made

[2016-06-01 20:55] joelmartinez commented on #1318
![image](https://cloud.githubusercontent.com/assets/90380/15725341/6a80607c-2819-11e6-90d8-f069186b2b92.png)
small disclaimer, though I'm a part of the aspnet org, I don't actively work on this project ... was just sharing my opinion on the topic (I work doc tools for Xamarin :) )

[2016-06-01 21:42] danroth27 commented on #122
@javiercn Please review

[2016-06-01 22:12] JoelBennett commented on #1318
That does make sense.  The trick is remembering to update it when updating the documentation.

From personal experience, it's generally easier to have something automatically updated (even if it is slightly less accurate) rather than relying on having people remember rules that are easily forgotten.  It's the classic computer science saying of "quick or correct, choose one" . :P

If this does end

[2016-06-02 00:04] DanielRosenwasser commented on #1288
Our initial motivation for the current documentation was that we saw a lot of demand from users on how to set up TypeScript & ASP.NET with Visual Studio.

My thinking is that the cross platform story is probably simpler to integrate `tsc` into, so we'd probably leverage the existing documentation on your end (i.e. pointing users to it) and then build on that.

Tracking at https://github.com/Micros

[2016-06-02 04:35] Rick-Anderson opened #1333 "update Resource Based Authorization"
- [ ] UE Review
- [ ]  update for RC1

[2016-06-02 04:37] Rick-Anderson opened #1334 "Update Claims-Based Authorization"
- [ ] UE Review
- [x]  Update for RC2
- [ ]  Answer LiveFyre

https://docs.asp.net/en/latest/security/authorization/claims.html

[2016-06-02 16:55] timmydo opened #1336 "Request for documentation on concurrency/threading"
I was browsing the documentation at https://docs.asp.net/en/latest/ and was wondering if there were plans to add anything on concurrency/thread safety. For example, if I add a service to the DI container with AddSingleton vs AddScoped, when do I need to design a class with thread safety in mind (i.e. worry about multiple threads trying to use the same object at the same time)?

At a high level,

[2016-06-02 18:16] Rick-Anderson commented on #1336
from @danroth27
In general requests are handled by separate threads, so if you have a singleton service it will need to be thread safe. Scoped and Transient services will generally be handled within the context of the request thread, but if you start sharing them across threads yourself then obviously they will need to be thread safe as well.

@halter73 can you outline the guidance here?

[2016-06-02 18:19] Rick-Anderson commented on #1336
@halter73  wrote:
I agree that whether a scoped or transient service needs to be thread safe depends on your application. It might be worth noting that if a Singleton service has a dependency on a “transient” service, it’s very possible that the transient service will also need to be thread safe depending how it’s used by the singleton.

Unfortunately there aren’t really many hard and fast rules w

[2016-06-02 18:23] Rick-Anderson commented on #1336
Make it clear what the threading model is for ASP.NET Core.

[2016-06-02 18:54] svick opened #1337 "Confusing formatting of generic types in API reference"
In API reference, generic types are formatted in a confusing way. For example, the return type of [`ConfigurationProvider.Data`](https://docs.asp.net/projects/api/en/latest/autoapi/Microsoft/Extensions/Configuration/ConfigurationProvider/index.html#prop-Microsoft.Extensions.Configuration.ConfigurationProvider.Data) shows as:

Instead, this should show just like in the code just below:

Or maybe wi

[2016-06-02 19:07] danroth27 commented on #1337
I fixed up this specific case manually in the .rst. We will follow up on getting the rst generation logic fixed.

[2016-06-02 19:07] danroth27 commented on #1337
Let us know if you see more instances of this.

[2016-06-02 19:07] #1337 closed

[2016-06-02 22:44] orney21d commented on #113
i'm interested in reviewing the draft content ...  you can send me info about this at orney21d@gmail.com

Best regards.

[2016-06-03 11:05] innerlee commented on #1318
How about have both of them?
* Last updated: by editor, maybe below the title.
* Last edit: automatically, maybe in the footer.

[2016-06-03 16:35] JoelBennett commented on #1318
That could work.

[2016-06-03 18:37] #1242 closed

[2016-06-03 20:21] joeaudette commented on #1329
the parts  where you see services.ConfigureDataProtection(...) are the things that are not correct

[2016-06-03 21:03] danroth27 opened #1341 "Fix the font sizes"
The font sizes are too small, which makes the docs hard to read. The fonts for the API docs are even smaller.

[2016-06-04 03:35] villanus opened #1343 "request: Git based deployment articles"
Please article git hook based deployment for Linux and Windows virtual machines

[2016-06-04 09:32] huangshubin commented on #1305
can move all the nuget dlls (the third-part dlls) to one folder named like "vendor" or "packages" and the mvc project can load these dlls from the folder. currently, the nuget pacakges and the prjoject dlls are together and i think it's not well organization.

[2016-06-04 15:16] GuardRex commented on #1305
@huangshubin This issue addresses the documentation (not the design) of published output directory structure. You should open an issue in https://github.com/dotnet/cli/issues to make your suggestion regarding the directory structure.

[2016-06-04 18:02] gregveres opened #1344 "Need section on unit testing client-side development"
I found the treatment of unit testing and integration testing as first class citizens in this overall document a welcome refreshing change. However, why isn't there any discussion about unit testing in the Client-side Development section? It is just as important and valid to do unit testing on the client side code (either javascript or typescript) as it is on the server side. Can you please add a

[2016-06-04 18:39] ardalis commented on #1344
I could see this being included here: https://docs.asp.net/en/latest/client-side/index.html

But otherwise, the reason it's not in the docs is because ASP.NET is a server-side technology and as such doesn't have much to do with how you might implement your client-side functionality (or even what kind of client you might be using - think web APIs and native mobile/desktop clients).

[2016-06-04 18:46] gregveres commented on #1344
By that logic, then why have a Client-Side development section at all? Why discuss Angular or Knockout or bootstrap?
I would argue that it is because ASP.Net is a full stack development chain. It creates HTML views using razor, which carry javascript and other client side elements. New full stack web developers could use some assistance in being guided to the best practices of setting up client si

[2016-06-05 16:53] GuardRex commented on #1264
@Rick-Anderson This issue was covered by merged PR https://github.com/aspnet/Docs/pull/1270. I'll let you close it, since I presume you want to add the "done" label first.

[2016-06-05 17:35] Neurothustra opened #1345 "fundamentals/app-state.rst "Managing Application State""
supplying "services.AddCaching()" in Startup.cs requires the use of "using Microsoft.Framework.DependencyInjection;" which causes an ambiguity conflict with "using Microsoft.Extensions.DependencyInjection;"

[https://docs.asp.net/en/latest/fundamentals/app-state.html](url)

[2016-06-05 21:22] JakeRyu opened #1346 "Update unit testing to point to https://docs.microsoft.com/en-us/dotnet/articles/core/testing/unit-testing-with-dotnet-test"
I was following the unit test scenario. In  "Configuring the Test project.json" section, the same code appeared twice but the second should be something to do with test runner as described. The second code used to be the command section in RC1 so it should be referred to as test runner accordingly.

In addition, dotnet watch doesn't work. Tooling might be missing. The screen shot should be replace

[2016-06-05 21:43] GuardRex opened #1347 "Correct headings in Publish to IIS"
RE: https://docs.asp.net/en/latest/publishing/iis.html

I'm ready to submit a PR to adjust the casing of headings in the doc. Before I do the PR, let's look at them here and see if the proposed replacements look right. Language is not changed ... only the casing.

Current Heading | Proposed Heading
--- | ---
Supported Operating Systems | Supported operating systems
IIS Configuration | IIS configur

[2016-06-05 23:38] ardalis commented on #1346
This article hasn't been updated for RC2 yet - it's still RC1. Leaving this issue open to track the need to update the article.

[2016-06-06 10:04] JakeRyu commented on #1346
The article seemed to be updated on *Update ASP.NET UnitTest section for RC2 changes #1289*. There seemed to be a merging issue though, e.g, the second code in "Configuring the Test project.json" section should be one line code according to the changes on #1289.

That is one thing, screen shots and dotnet watch are still issues.

[2016-06-06 16:33] #1264 closed

[2016-06-06 17:35] Rick-Anderson commented on #1347
Looks good.

[2016-06-06 17:36] GuardRex commented on #1347
@Rick-Anderson Ok, cool. I'll get that in later today.

[2016-06-06 17:40] Rick-Anderson commented on #1346
Update to point to http://dotnet.github.io/docs/core-concepts/testing/unit-testing-with-dotnet-test.html

[2016-06-06 17:46] Rick-Anderson commented on #1345
Microsoft.Framework.DependencyInjection was renamed Microsoft.Extensions.DependencyInjection;"
This doc needs to be updated for RC2
see https://docs.asp.net/en/latest/migration/rc1-to-rc2.html

[2016-06-06 17:50] Rick-Anderson commented on #1344
This would be great to have but given our limited resources we won't be able to do this. There are a variety of resources on the web on this topic.

[2016-06-06 17:50] #1344 closed

[2016-06-06 17:53] Rick-Anderson commented on #1341
@neusamir Is this something you could do?

[2016-06-06 18:51] neusamir commented on #1341
Yes, let me take a look

[2016-06-06 18:55] neusamir commented on #1341
Should we match the azure.com site and use font size 16px?

[2016-06-06 20:06] Rick-Anderson commented on #1341
That seems reasonable to me - @danroth27

[2016-06-06 20:47] #1256 closed

[2016-06-06 20:48] Rick-Anderson commented on #1255
ping @sayedihashimi

[2016-06-06 20:53] danroth27 commented on #1341
Yeah. It looks like that is also the default font size for the Read the Docs theme, so let's just use that.

[2016-06-06 21:36] neusamir commented on #1341
Ok sounds good. The code font is 75% the body font, so that will bump to 12px. Should we update that to 16px also so it's easier to read?

On Jun 6, 2016, at 1:53 PM, Daniel Roth <notifications@github.com<mailto:notifications@github.com>> wrote:

Yeah. It looks like that is also the default font size for the Read the Docs theme, so let's just use that.

-
You are receiving this because you were me

[2016-06-06 22:20] #1237 closed

[2016-06-06 22:20] #1047 closed

[2016-06-06 22:23] #985 closed

[2016-06-06 22:23] danroth27 opened #1348 "Fundamentals/servers/overview.html "Servers""
Replace mention of HTTP Platform Handler with ASP.NET Core Module.
General cleanup.

[2016-06-06 22:25] #908 closed

[2016-06-06 22:32] danroth27 commented on #1130
Opened #1348 to track the Servers doc updates

[2016-06-06 22:49] danroth27 commented on #1341
No, let's leave the code font at 75% of the body font.

[2016-06-06 23:12] Rick-Anderson opened #1349 "Publishing tab should include pub to Azure"
https://docs.asp.net/en/latest/publishing/index.html should include
[Deploy an ASP.NET Core web app to Azure using Visual ](https://docs.asp.net/en/latest/tutorials/publish-to-azure-webapp-using-vs.html)Studio

[2016-06-07 16:12] GuardRex opened #1354 "Should we cover MIA .NET Framework version in Publishing to IIS?"
From Brian Mitchard on Disqus comments to [Publishing to IIS](https://docs.asp.net/en/latest/publishing/iis.html) ...

"In the event viewer, I get the following:
[code]
I turned on logging and here is the error:
[code]
Line 21 in my static void Main for this app is the host.Run() line.
...
When I try an ASP.NET Core (.NET Core) empty web app project, I still get a 502.3 in the browser, and the sam

[2016-06-07 16:32] rustd commented on #99
https://github.com/aspnet/Identity/issues/682

[2016-06-08 03:12] Rick-Anderson commented on #716
@Tratcher - never mind - it works. Bug in my code.

[2016-06-08 07:09] tedzhao commented on #86
How to implement the OAuth 2 server in ASP.NET Core web application(.net core)? any suggestion or comments.

[2016-06-08 18:55] Rick-Anderson opened #1358 "Incorporate content from IIS publishing blog post"
- [ ] New article focused on Azure websites. Get info from [RUNNING ASP.NET CORE APPLICATIONS WITH IIS AND ANTARES (AZURE WEBSITES)](https://blog.3d-logic.com/2016/06/08/running-asp-net-core-applications-with-iis-and-antares/)

or incorporate into https://docs.asp.net/en/latest/tutorials/publish-to-azure-webapp-using-vs.html

[2016-06-08 18:57] danroth27 commented on #696
Dropping this to P1 since this is a tool and not technically part of the runtime.

[2016-06-08 18:58] GuardRex commented on #1276
Passing note as we discuss `publish-iis` tooling on Slack (cc/ @moozzyk): That doc destination still doesn't say anything about the various tools. cc/ @blackdwarf

[2016-06-08 18:59] Tratcher commented on #1358
https://docs.asp.net/en/latest/publishing/iis.html could also include some of these details.

[2016-06-08 19:01] Rick-Anderson opened #1359 "Update publishing/iis.html"
- [ ] Get info from [RUNNING ASP.NET CORE APPLICATIONS WITH IIS AND ANTARES (AZURE WEBSITES)](https://blog.3d-logic.com/2016/06/08/running-asp-net-core-applications-with-iis-and-antares/)

See #1358

[2016-06-08 19:15] GuardRex commented on #1276
The conclusion chatting in Slack that the tools are not CLI, so perhaps that's not the right spot. Since each tool pertains to a specific section of current docs and thus gets buried within a doc, it begs the question if there should be a top-level "Tools" section at docs.asp.net that would have one doc for each of the tools under it?

[2016-06-08 19:16] blackdwarf commented on #1276
@GuardRex agreed, for the ASP.NET specific tools you restore, they should be documented on docs.asp.net and then link to the core set of OOB tools as @danroth27 mentions above.

[2016-06-08 19:25] GuardRex commented on #1358
@Tratcher There are a few nice troubleshooting adds for sure. I'll open an issue and make a list, including talking about the `publish-iis` tooling, which still isn't in that doc. Given that people assume it actually publishes apps to IIS, yeah, it probably should get a few words.

[2016-06-08 19:27] GuardRex commented on #1276
@blackdwarf The reason this came up today on Slack was that @moozzyk pointed out that there were a lot of misunderstandings about what `publish-iis` did. True, I spoke with at least a half-dozen devs who mostly thought that it actually published the app to IIS! ... which makes perfect sense given the name.

I'll open a discussion issue on it for at least getting it into Publishing to IIS, because

[2016-06-08 19:29] GuardRex commented on #1359
I'll make a list and add a note here about `publish-iis` tooling for review.

[2016-06-08 19:41] blackdwarf commented on #1276
@GuardRex ok, this makes sense, I was all confused there for a second. :))

[2016-06-09 07:47] tmds opened #1362 "Update "Working with Multiple Environments" for RC2"
Is this document up-to-date?
https://docs.asp.net/en/1.0.0/fundamentals/environments.html
e.g. env var names, multiple startup classes for different environments, ...

[2016-06-09 12:59] jwtownsend commented on #95
I would like to contribute/review. jwtownsend@outlook.com

[2016-06-09 13:27] ardalis commented on #1362
It's still targeting RC1, I believe.

[2016-06-09 17:01] Rick-Anderson opened #1366 "update mvc/views/working-with-forms "Working with Forms""
- [ ] Update for RTM
- [ ] If you find yourself using the “not specified” option in multiple pages, you can create a template to eliminate repeating the HTML:  @Html.EditorForModel() should be highlighted

[2016-06-09 17:50] rachelappel commented on #1243
Fixed 519825e8845c6d8a39fae6c0b4b28e97a9fc61a6

[2016-06-09 17:50] #1243 closed

[2016-06-09 18:28] rachelappel commented on #1130
Nano doc modified for ASP.NET Core module (https://github.com/aspnet/Docs/blob/0c3d55a0753f0c30e91ac698b4c52154bd39764b/aspnet/tutorials/nano-server.rst#L56)

[2016-06-09 22:45] Rick-Anderson opened #1367 "Fundamentals and "Introduction to ASP.NET Core" cleanup"
- [ ] Explain ""Built on .NET Core, which supports true side-by-side app versioning".

The hosting doc will go into detail on content root and web root. Point to them for details.

per @danroth27
By default the content root will be the location where your app dll is loaded from, which ~~during development~~ [edit insert] { in test/production}  is the bin directory. The content directory is used to

[2016-06-10 04:20] xbuilder opened #1369 "About rename HttpPlatformHandler to ASP.NET Core Module"
In aspnet/tutorials/nano-server.rst, ‘HttpPlatformHandler’ has been rename  to ‘ASP.NET Core Module’.
but there is something looks not good,just like:

Installing the ASP.NET Core Module Module

[2016-06-10 07:50] GuardRex commented on #1359
This isn't meant to be an exhaustive list, but here's a list of ideas ...

- Short description of the `web.config` file but that primarily relies upon a link to [ASP.NET Core Module Configuration Reference](https://docs.asp.net/en/latest/hosting/aspnet-core-module.html) to explain the details of configuration.
- Short description of the `publish-iis` tool and `project.json` setup for it.
- Brief d

[2016-06-10 16:52] divega opened #1370 "Identity: Explain UserName is unique and not related to User.Name"
_From @ciel on April 17, 2016 22:22_

I spent a few hours trying to hunt down what was going wrong with my site - as no matter what I tried, when I would create a new user, their `Name` field continued to come up lowercase ('Normalized').

Eventually I traced it back to the `UserManager<T>` and how it calls for `SetNormalizedUserNameAsync`, etc, on the implementation of `IUserStore<T>`.

The probl

[2016-06-10 16:52] divega commented on #1370
_From @blowdart on April 20, 2016 21:4_

I'll admit it's a little confusing, the assumption is you realise that Username is unique and isn't linked to User.Name, which is the name claim, which entirely different.

As it's an assumption we can't really change it now, but I'll look into making it clearer in the documentation.

[2016-06-10 16:52] divega commented on #1370
_From @ciel on April 20, 2016 21:53_

That seems like a pretty reasonable compromise. Thank you.
On Apr 20, 2016 4:04 PM, "Barry Dorrans" <notifications@github.com> wrote:

[2016-06-10 17:34] divega commented on #1370
Closing as we can address this in API comments.

[2016-06-10 17:34] #1370 closed

[2016-06-10 17:43] Rick-Anderson commented on #1359
That's described in another doc, we should point to that. Any thing described in another doc (I think a few of them are or should be), we'd want to link. Other than that, looks good.

[2016-06-10 19:17] GuardRex commented on #1359
I'll go down the list here (in this issue) first and provide a little more detail on which ones should probably get a blurb and where and which ones should be links, like `app_offline.htm`, and where the links might be placed (perhaps `Additional resources` for most/all of them). Once we firm up plans a bit, then I can get a draft PR put together.

[2016-06-10 19:32] Rick-Anderson commented on #1367
@Tratcher  how do you change _web root_ ? I've done the following in a template generated web app.

added ``UseWebRoot("./MyWebRoot")``

[code]
Update _gulpfile.js_
[code]

But visual studio won't let me change the magic directory _wwwroot_

[2016-06-10 19:43] Tratcher commented on #1367
@BillHiebert ?

[2016-06-10 20:14] #1341 closed

[2016-06-10 20:15] #1347 closed

[2016-06-10 20:55] TravisBoatman commented on #1367
@Rick-Anderson Create a 'hosting.json' file in the root directory and add -

`{
  "webroot": "MyWebRoot"
}`

[2016-06-10 21:18] Tratcher commented on #1367
@TravisBoatman There is no longer a default hosting config file (though you may add a custom one in Main).

[2016-06-10 22:13] svick opened #1372 "Method overloads don't have ids and thus can't be linked to"
When a method has multiple overloads, only the first one gets an id, the following ones don't. This means that it's impossible to link to a specific overload, unless it's the first one.

An example of this is [`HttpRequestMessageExtensions.CreateErrorResponse()`](https://docs.asp.net/projects/api/en/latest/autoapi/System/Net/Http/HttpRequestMessageExtensions/index.html#meth-System.Net.Http.HttpReq

[2016-06-10 22:27] svick opened #1373 "Some tags in XML documentation generate raw HTML tags in API reference"
It seems that when XML documentation contains some specific tags, the generated HTML contains visible HTML tags. For example, this happens on [`HttpRequestMessageExtensions.CreateResponse`](https://docs.asp.net/projects/api/en/latest/autoapi/System/Net/Http/HttpRequestMessageExtensions/index.html#meth-System.Net.Http.HttpRequestMessageExtensions.CreateResponse%3CT%3E):

[The XML documentation](htt

[2016-06-11 01:35] PeterBocan opened #1375 "The "dotnet run" is not working as expected."
Command ```dotnet run``` does not launch the webserver.
https://docs.asp.net/en/latest/getting-started.html

[2016-06-11 01:58] Rick-Anderson commented on #842
fixed and merged 3931e5e96efd2f554eca53e4f46a0c6693e90ace

[2016-06-11 01:58] #842 closed

[2016-06-11 02:11] #1369 closed

[2016-06-11 05:25] davidfowl commented on #1375
No it does not launch the webserver, it launches your `Program.Main`. This is by design.

[2016-06-11 09:33] ahmedanis03 opened #1377 "localize non-validation attributes"
The runtime doesn’t look up localized strings for non-validation attributes. In the code above, “Email” (from [Display(Name = "Email")]) will not be localized.

can you illustrate how to do it then?

Thanks a lot

[2016-06-11 09:53] ahmedanis03 commented on #1377
https://github.com/aspnet/Mvc/issues/3518

[2016-06-11 09:53] #1377 closed

[2016-06-11 13:21] PeterBocan commented on #1375
I got it. Somehow it did not started the website, because ```UseStartup<T>()``` could not resolve the class so it looked like it silently ended.

[2016-06-11 13:21] #1375 closed

[2016-06-11 19:41] danroth27 opened #1378 "Add minimal xplat getting started with MVC tutorial"
We need to have a minimal getting started with MVC tutorial that covers without tooling:
- Adding the Microsoft.AspNetCore.Mvc package
- Calling services.AddMvc() and app.UseMvc()
- Create a HomeController that returns a simple view with a model

[2016-06-12 14:02] nikitadmitry commented on #86
What if I don't want to use DbContext on presentation layer but use business services? How to seup separate project for security?

[2016-06-13 01:43] h82258652 opened #1380 "tutorials/first-web-api "Building Your First Web API""
- [x] Decorate public IEnumerable<TodoItem> GetAll()   with    [HttpGet] so it works with Swagger
- [ ] Use token generated named route - Token replacement also applies to route names defined by attribute routes. [Route("[controller]/[action]", Name="[controller]_[action]")] will generate a unique route name for each action.
- [x] link to MVC routing doc
- [x]  Use in-memory provider and int ID's.

[2016-06-13 17:57] Rick-Anderson commented on #1354
covered in #1359

[2016-06-13 17:57] #1354 closed

[2016-06-13 21:28] #1130 closed

[2016-06-13 21:30] #707 closed

[2016-06-13 21:31] #647 closed

[2016-06-13 21:45] Rick-Anderson commented on #1378
@danroth27 should that be targeted to non- Visual Studio environments? Do you want to assume an environment?

[2016-06-13 21:51] danroth27 commented on #1378
Yup, non-VS. This should be like https://docs.asp.net/en/latest/getting-started.html but for MVC.

[2016-06-13 22:22] divega opened #1382 "Configuration: Document format supported for command line arguments provider"
Originally mentioned in https://github.com/aspnet/Configuration/issues/120:

For some initial context, by default the command line arguments provider supports converting arguments of the format `key1=value1 key2=value2 key3=value3` Additional syntax with `-key1 value1`, `--key2 value2` and `/key3 value3` are supported when providing switch mappings.

[2016-06-14 04:28] danroth27 commented on #132
Duplicate of #1325

[2016-06-14 04:28] #132 closed

[2016-06-14 04:29] danroth27 commented on #1271
@damienpontifex How goes the doc writing? Is this still an article you would like to contribute?

[2016-06-14 04:30] #1189 closed

[2016-06-14 04:38] danroth27 commented on #92
@blowdart I don't think there is really anything specific to ASP.NET Core to document for open redirect attacks. Let me know if you disagree.

[2016-06-14 04:51] danroth27 commented on #896
#1378

[2016-06-14 04:51] #896 closed

[2016-06-14 11:51] blowdart commented on #92
No, but it should be mentioned anyway. After all CSRF isn't specific to ASP.NET, but we still cover that, and we have some pieces to help mitigate with IsLocal on the URI class.

[2016-06-14 15:32] retk commented on #1276
I agree with @GuardRex that there should be a top level documentation section for .netcore/aspnetcore tools, at least the official ones. I'm pretty sure that there will be more and more in the future. A nuget like feed might be useful too to support tools created by the community.

[2016-06-14 19:14] Rick-Anderson commented on #716
fixed via e36c065f5f2e05f0bf2f0e5577bd67fec9cf7034

[2016-06-14 19:14] #716 closed

[2016-06-14 19:17] Rick-Anderson opened #1383 "fundamentals/middleware doc"
- [ ] IIS HttpPlatformHandler reverse proxy module.  update that

[2016-06-14 20:48] danroth27 opened #1385 "Add unnecessary solution and project files to .gitignore"

[2016-06-14 23:25] #1383 closed

[2016-06-14 23:33] dougbu opened #1390 "Update URLs in sample code to reference latest docs"
A few samples contain `fwlink` links to very old documentation. Not sure whether we need `fwlink` at all. But definitely don't want to plunge user into the old docs if they follow a link from the latest sample.

Example:
1. https://docs.asp.net/en/latest/fundamentals/configuration.html#using-the-built-in-sources
2. Scroll down to code comment that starts w/ "For more details"
3. Select the `fwlink

[2016-06-15 18:23] rynowak opened #1395 "Bad formatting of a sample on Error Handling"
This sample isn't showing the right region of code

![image](https://cloud.githubusercontent.com/assets/1430011/16092166/860c623c-32eb-11e6-8747-6eaa41c0104b.png)

From https://docs.asp.net/en/latest/fundamentals/error-handling.html

[2016-06-15 18:44] rynowak opened #1396 "Error Handling doc refers to UseKestrelHttps() which was removed"
See: https://docs.asp.net/en/latest/fundamentals/error-handling.html#id6

See: https://github.com/aspnet/KestrelHttpServer/issues/752

[2016-06-15 18:49] rynowak opened #1397 "fundamentals/error-handling.html "Error Handling""
Looking at https://docs.asp.net/en/latest/fundamentals/error-handling.html

If you click on one of the HEADINGS - they all have fragment names like `#id1` instead of `#configuring-an-exception-handling-page`. The TOC for the page has good names, but the headings of the sections do not.

[2016-06-15 18:52] rynowak opened #1398 "Discussion of ModelState in error handling doc is out of place"
This section: https://docs.asp.net/en/latest/fundamentals/error-handling.html#handling-model-state-errors doesn't have much in common with the topics discussed elsewhere in the document.

I wouldn't come to this doc to try and find information about validation - which is a topic that all MVC actions taking user-input need to deal with.

[2016-06-15 18:54] ardalis commented on #1398
It's also covered in detail here: https://docs.asp.net/en/latest/mvc/models/validation.html. It's worth a mention, IMO, in Error Handling, but can pretty much link to the validation article for details.

[2016-06-16 00:12] damienpontifex commented on #1271
@danroth27 yes. Updating now and including the fact that dotnet cli is now included on hosted build servers. Will try and get an initial PR soon

[2016-06-16 03:19] Rick-Anderson opened #1402 "Add generally not needed files (.sln) to .gitignore"
- [ ] Add the files you generally don't need to .gitignore
- [ ] Update the CONTRIBUTING.md with instructions to ignore the .ignore file when you need an excluded file.

[2016-06-16 17:39] dougbu opened #1403 "Remove unnecessary `imports` from `project.json` samples and snippets"
The current documentation contains `imports` for the RC2 / Preview 1 tools. Most can be removed for 1.0.0 / Preview 2.

For example https://docs.asp.net/en/latest/security/app-secrets.html#installing-the-secret-manager-tool implies "Microsoft.AspNetCore.Razor.Tools" and "Microsoft.Extensions.SecretManager.Tools" require `imports` properties. Neither does anymore.

See also aspnet/Templates#613

{E

[2016-06-16 17:44] dougbu opened #1404 "aspnet/security/app-secrets.rst "Safe storage of app secrets during development""
- [ ] Add link to secrets on production.
- [ ]  #1287 doc tools

The [Safe storage of app secrets with the Secret Manager tool](https://docs.asp.net/en/latest/security/app-secrets.html) page is about storing secrets while developing a site. However it contains no recommendations or links to recommendations for what to do in production.

[2016-06-16 18:06] Rick-Anderson commented on #1404
We changed the title to **Sate storage of secrets during development**.

[2016-06-16 18:20] dougbu commented on #1404
@Rick-Anderson why does that lead to closing this issue? Where is the information about safely storing secrets in production?

[2016-06-16 19:20] SteveSandersonMS opened #1405 "Improvements and updates to Identity docs"
**Things that are out of date**

- [x]  Doc at https://docs.asp.net/en/latest/security/authentication/accconfirm.html contains out-of-date code snippet (e.g., `RedirectToAction` should be `RedirectToLocal`, and the `EnsureDatabaseCreated()` should be removed). Generally, all the code blocks in this page should be updated to match the final templates.
- [x] The screenshot of VS under "Enable SSL in

[2016-06-16 19:58] Rick-Anderson commented on #1404
@dougbu  I agree. @danroth27  asked me to close it. I'll keep it open until we provide a link to guidance. I can't stop @danroth27  from closing it.

[2016-06-16 20:39] danroth27 commented on #1404
This can stay open. We will look at providing more concrete guidance on handling of secrets in production post 1.0.0.

[2016-06-16 21:30] ardalis opened #1406 "Show How To Format JSON Responses using Pascal Case in Formatting doc"
This section was removed since camel casing is now the default JSON formatting.

Configuring the JSON Formatter
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

A common request when formatting responses using JSON is to use JavaScript-style "camel" casing (the first character of each property is lowercase, then uppercase is used to begin each additional word making up the name). Support for camel casing can be ad

[2016-06-16 22:25] danroth27 opened #1407 "Document CaptureStartupErrors behavior"
We should document the CaptureStartupErrors feature in the Error Handling doc.

[2016-06-16 23:35] #126 closed

[2016-06-16 23:39] Rick-Anderson opened #1408 "doc: Migrating from ASP.NET 5 RC1 to ASP.NET"
https://docs.asp.net/en/latest/migration/rc1-to-rc2.html

- [ ] Fix "System.GC.Server"

[2016-06-16 23:40] #1408 closed

[2016-06-17 16:36] #1298 closed

[2016-06-17 16:39] #872 closed

[2016-06-17 16:41] danroth27 commented on #1323
We could add this info to https://docs.asp.net/en/latest/mvc/controllers/dependency-injection.html

[2016-06-17 16:43] danroth27 commented on #1244
I believe a lot of this stuff is also getting removed from the templates, so we will need to do a major update to the doc.

[2016-06-17 16:47] danroth27 commented on #1125
@sebastienros @muratg @Eilon Was there an announcement for what changed here that we can reference? If not, can someone summarize what replaced this functionality?

[2016-06-17 16:48] danroth27 commented on #1117
We should do a general scrub to rename ASPNET_ENVIRONMENT and Hosting:Environment to ASPNETCORE_ENVIRONMENT.

[2016-06-17 16:52] danroth27 commented on #919
Some docs that still need this fixed:
- https://docs.asp.net/en/latest/security/authentication/accconfirm.html
- https://docs.asp.net/en/latest/security/authentication/2fa.html

[2016-06-17 16:56] danroth27 opened #1412 "Document sql-cache tool"
Add to https://docs.asp.net/en/latest/performance/caching/distributed.html#using-a-sql-server-distributed-cache

[2016-06-17 16:58] danroth27 commented on #919
Looks like we don't have docs for the sql-cache tool yet. Added #1412 to track.

[2016-06-17 17:16] jadubreuil commented on #113
am interested in reviewing the draft content.  thanks..

[2016-06-17 17:51] Rick-Anderson commented on #1398
@rachelappel  can you make sure this gets fixed for RTM as part of your model binding work?

[2016-06-17 17:55] Rick-Anderson commented on #1396
@rachelappel  can you fix this in the next few work days?

[2016-06-17 17:56] Rick-Anderson commented on #1395
@rachelappel  please fix before RTM

[2016-06-17 18:01] Rick-Anderson commented on #1390
Maybe a stale fwlink? I fixed this a month ago I think. It's working now.

[2016-06-17 18:01] #1390 closed

[2016-06-17 18:50] Eilon commented on #1125
This is the PR that removed it: https://github.com/aspnet/Caching/pull/168

@Tratcher, you signed off on the change, and @sebastienros is OOF, can you provide the info that @danroth27 requested?

[2016-06-17 18:53] Rick-Anderson commented on #1405
that's now ``dotnet user-secrets set``

[2016-06-17 18:59] Tratcher commented on #1125
Scopes are now built into the lowest level memory cache API CreateEntry. CreateEntry creates the scope, then you configure the entry, then you dispose the creator to close the scope and add the key/value to the cache. Gets or Sets/Creates within the scope will copy their ChangeTokens to the new entry.

Here's a sample:
https://github.com/aspnet/Caching/blob/f15fb804cdc2e14f9a64896817f3c6c343110820

[2016-06-18 08:57] lucamorelli commented on #1406
cold be added a specific doc listing ths kind of breaking changes between aspnet and core? could be of use migrating existing asp.net apps

[2016-06-19 07:58] shanselman opened #1418 "Diagnostics stil include"

[2016-06-19 07:58] shanselman opened #1419 "Remove Diagnostics article"
https://docs.asp.net/en/latest/fundamentals/diagnostics.html#the-developer-error-page

- [ ] Consider retiring this doc or making it into a content map. I'd be unhappy if I came here looking for diagnostics.
- [ ]  Remove glimpse link
- [ ]  The welcome page is not a diagnostic
- [ ]  Delete logging into and just list the link

[2016-06-19 15:26] BrennanConroy commented on #1418
"dupe" of #1419

[2016-06-19 15:26] #1418 closed

[2016-06-20 00:05] shanselman commented on #1418
Oops, sorry. Maybe double POSTed.

[2016-06-20 17:54] pakrym opened #1422 "Why is there a binary executable a the root of repo?"
https://github.com/aspnet/Docs/blob/master/Code

/cc @danroth27

[2016-06-20 18:05] Tratcher commented on #1166
The first tutorial was removed: https://github.com/aspnet/Docs/commit/9b6065a4d2ed9965af1f417e95e7cec2ba5b3c1c

[2016-06-20 18:08] kichalla opened #1423 "Add info about case sensitivity of view look up"
I think it would be good to have a small section explaining the case-sensitivity of view search (mainly for non-windows platforms)

The current behavior is this:

User types in the URL and case could be anything => we try to do a case-Insensitive mapping from the input names (ex: controller and action names) to C# type and method names and use these C# type and method names to do a case-sensitive

[2016-06-20 19:38] Rick-Anderson opened #1424 "update migration/mvc.rst to RTM"
[Migrating From ASP.NET MVC to ASP.NET Core MVC](https://docs.asp.net/en/latest/migration/mvc.html) shouldn't need much work. On rewrite:

- [x] Just tell them what needs to be added to *project.json*, don't include the literal with version numbers. That way the doc won't be obsolete on the next release.

- [x]  on the remaining .json files, add a note:these version numbers might not be current, u

[2016-06-20 23:02] HaoK opened #1425 "Document dotnet new -t Web / -lib / -xunittest"
https://dotnet.github.io/docs/core-concepts/core-sdk/cli/dotnet-new.html

Should be updated to include the new flags
`dotnet new -t Lib`
`dotnet new -t Web`
`dotnet new -t xunittest`

[2016-06-21 17:59] danroth27 commented on #1425
@HaoK @richlander This needs to get tracked in the https://github.com/dotnet/core-docs repo.

We do however need to update our ASP.NET Core Getting Started page with the dotnet new stuff. We can use this issue to track that.

[2016-06-21 18:00] danroth27 commented on #1423
@ardalis This should get covered in the view discovery section of the views overview doc (#1325)

[2016-06-21 18:01] #1423 closed

[2016-06-21 19:24] anurse opened #1429 "Broken links to external docs"
On: https://docs.asp.net/en/latest/security/authentication/azure-active-directory/index.html

All three links go to pages on azure.microsoft.com that appear to have been moved and now 404. For example: https://azure.microsoft.com/en-us/documentation/samples/active-directory-dotnet-webapp-webapi-openidconnect-aspnet5/

[2016-06-21 21:57] Tratcher commented on #1166
Add dependencies:
[code]
Add tools entries:
[code]

Add UseDatabaseErrorPage
`"Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore": "1.0.0-rc3-21343",`

Add `/Views/Shared/_ValidationScriptsPartial.cshtml`

[2016-06-21 22:57] dougbu opened #1435 "mvc/controllers/actions "Controllers, Actions, and Action Results""

[2016-06-21 23:07] dougbu commented on #1435
Hit `<enter>` too soon...

See https://docs.asp.net/en/latest/mvc/controllers/actions.html#controller-helper-methods

The "Content negotiated response" description in this section implies returning an object directly does _not_ do content negotiation and returning `Ok()` does. Neither is true.

Content negotiation applies whenever an action returns an `ObjectResult` or something other than an `IAc

[2016-06-22 04:32] dougbu commented on #1435
Might go further and re-categorize the controller helper methods:

1. Methods / results returning an empty response body. The existing "Redirect" category differs from the other "HTTP Status Code" primarily in the addition of a `Location` header. No content, no need for a `Content-Type` header in the response.
2. Methods / results returning a non-empty response body with a predefined content type.

[2016-06-22 14:55] #1395 closed

[2016-06-22 16:01] danroth27 opened #1440 "Document new automatic anti-request forgery support in MVC"
@blowdart

[2016-06-22 16:02] danroth27 commented on #1440
Actually, we should probably just include this in https://github.com/aspnet/Docs/issues/89

[2016-06-22 16:02] #1440 closed

[2016-06-22 16:02] danroth27 commented on #89
We should include in this article documenting the new automatic anti-request forgery support in MVC

[2016-06-22 16:05] blowdart commented on #1440
@rynowak

[2016-06-22 17:01] Rick-Anderson opened #1441 "fundamentals/logging"
- [x]  Add a paragraph for each of the 4 loggers. `EventLogger` for example can't be configured with a filter. There are several other discrepancies like that.
- [x] Add EventSource provider #1979
- [x] Add Azure App Service provider #1673
- [x] Need MVC specific section or add a new MVC logging topic
- [x] http://www.maherjendoubi.io/asp-net-core-1-0-built-in-logging-framework-2/ might have value

[2016-06-22 17:25] dazinator opened #1442 "How to parse Razor files"
Hello,

I'd like to figure out how to parse Razor files, and modify them. I have done a similar thing with C# files using Roslyn. This is for an RC1 to RC2 upgrade tool.

Any ideas where I can find some example code or docs for parsing and editing?

I put together the following, which was a guess based on examining the available classes in teh Razor namespace, to see how far I could get:

[code]

[2016-06-22 17:28] Rick-Anderson commented on #1422
@pakrym Thanks! We fixed it.

[2016-06-22 17:28] #1422 closed

[2016-06-22 17:34] #1429 closed

[2016-06-22 17:34] danroth27 commented on #1429
87510068d548b4cbe720f7166aeb0c40999f4566

[2016-06-22 17:37] Rick-Anderson commented on #1442
@NTaylorMullen  any comment?

[2016-06-22 18:19] GuardRex commented on #1359
@Rick-Anderson @moozzyk @shirhatti @danroth27 I'm putting the PR together for this today.

There is one add to the list above: A user became confused by one of the screenshots and was trying to find `Basic Settings ...` for the AppPool in the contextual menu of the website (i.e., he was right-clicking on the website trying to set `No Managed Code`. The problem should be solved by an image change.

[2016-06-22 18:32] cesarbs commented on #1441
There's also another issue: not all logger types support the same overloads. `EventLogger` for example can't be configured with a filter. There are several other discrepancies like that.

How about writing one paragraph per logger that we ship? There are only four of them.

[2016-06-22 23:36] NTaylorMullen commented on #1442
@dazinator what type of editing are you trying to do?

- Are you using MVC and trying to edit the final output? Aka do you want to change the final output via Roslyn?
- Are you using only Razor and want to change the generated Razor file?

[2016-06-23 00:42] Rick-Anderson commented on #977
I've got all the code written for this and 1/3rd of the doc. I'll finish this right after RTM.

[2016-06-23 01:05] Rick-Anderson commented on #1419
@danroth27  can we just delete this page? It doesn't have anything useful on it.

[2016-06-23 01:19] Rick-Anderson commented on #397
Per fowler on content root: Any non code files that need to be read from the project. Config files, data files (like a database file), etc. it's also the base path for the webroot folder

[2016-06-23 01:22] Rick-Anderson commented on #1305
@GuardRex  can I close this now or are there more issues?

[2016-06-23 01:23] GuardRex commented on #1305
This one is cool :+1:. I'm working on https://github.com/aspnet/Docs/issues/1359 right now, so yeah, this one is good to close.

[2016-06-23 01:25] GuardRex commented on #1305
Fixed by https://github.com/aspnet/Docs/pull/1328

[2016-06-23 02:52] scottaddie commented on #1244
@Rick-Anderson I'm working on updating the client-side Bower doc, and I expect to have a PR ready in the next week or so.

[2016-06-23 12:00] dazinator commented on #1442
I'm writing a console application / command line untility. It runs against an RC1 solution directory. It performs actions on files in the file system - loads them into memory, and modifies them in order to upgrade them to RC2 format. For example there are changes to project.json files, .xproj files, global.json, launchsettings.json etc. However there are also namespace changes that need to be made

[2016-06-23 14:52] danroth27 commented on #1425
Looks like `dotnet new -t web` includes everything and the kitchen sync so we will keep the ASP.NET Core getting started topic as it is for now.

[2016-06-23 14:53] #1425 closed

[2016-06-23 15:41] danroth27 commented on #1419
Yeah, let's remove it.

[2016-06-23 15:50] danroth27 commented on #1419
Yeah, let's remove it

[2016-06-23 16:08] #1309 closed

[2016-06-23 16:09] danroth27 commented on #1307
We need to do a general update on this doc.

[2016-06-23 16:14] danroth27 commented on #1127
I think this was done

[2016-06-23 16:14] #1127 closed

[2016-06-23 16:15] danroth27 commented on #1124
Tracked by #1150

[2016-06-23 16:15] #1124 closed

[2016-06-23 16:31] Rick-Anderson commented on #1185
fixed

[2016-06-23 16:31] #1185 closed

[2016-06-23 16:39] NTaylorMullen commented on #1442
Ah, so Razor doesn't provide a mechanism to parse a Razor file, modify the syntaxtree and then reverse the process and spit out the cshtml file responsible for it. Your best bet will be well crafted regex's on cshtml files.

[2016-06-23 17:04] dazinator commented on #1442
I was scared you were going to say that ><

[2016-06-23 17:38] NTaylorMullen commented on #1442
Hah, sorry there isn't a better solution!

[2016-06-23 17:38] #1442 closed

[2016-06-23 17:40] Tratcher commented on #86
https://docs.asp.net/en/latest/security/authentication/sociallogins.html

[2016-06-23 18:22] Tratcher commented on #86
The social logins writeup is a good start for Facebook. Here are some things we should add to this or related docs:
- A walk-through for Google, MicrosoftAccount, and Twitter that highlights some if their eccentricities.
- A reference to https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers for additional providers
- Requesting more data with Scopes (general oauth) and Fields (Facebook

[2016-06-23 18:44] HaoK opened #1456 "Consider adding new section showing RequireAssertion in policies.rst"
We added a new short hand sugar that we should show which simplifies (aka hides the requirement/handler stuff which we should demonstrate at the end).

This would be a compact alternative to doing the handler/requirement stuff.  Basically it inlines a single handler function which must evaluate to true for the policy to pass.  Its great for simple auth where you can easily express the check in a f

[2016-06-23 19:29] ryanbrandenburg opened #1461 "Use of Fiddler to make API requests is heavy-handed"
The use of Fiddler to make API calls as [here](https://github.com/aspnet/Docs/blob/master/aspnet/tutorials/first-web-api.rst#use-fiddler-to-call-the-api) seems like an awfully big hammer to use when something like curl, Invoke-RestMethod (in powershell) or [Postman](https://www.getpostman.com/) could accomplish the same thing without making people learn the UI and workings of a tool meant primaril

[2016-06-23 19:33] ardalis commented on #1461
Just a matter of taste, IMO. They're all free tools. Showing more than one approach would probably be the way to go, as opposed to replacing any one with another.

[2016-06-23 19:36] HaoK opened #1462 "Introduction to identity screen shots need to be updated"
https://docs.asp.net/en/dev/security/authentication/identity.html

Need an updated png from the latest tooling templates (Step 1, File New dialog has changed).

[2016-06-23 19:42] blowdart commented on #1456
Yea should pop a new section in the policy doc. @Rick-Anderson can you do, or should I?

[2016-06-23 19:57] HaoK commented on #1462
The Identity Components screenshot could also be updated to show the latest 1.0.0 references instead of rc1 versions

[2016-06-23 20:01] HaoK opened #1465 "Introduction to identity: Show database creation screenshot + include step"
https://docs.asp.net/en/dev/security/authentication/identity.html

Register will fail the first time because the database isn't created, we should include a screen shot and show the button that they need to click (Apply Migration)

[2016-06-23 20:26] rachelappel commented on #1362
42a832834f0864735ef993925d221ae169f32a75

[2016-06-23 20:26] #1362 closed

[2016-06-23 20:41] rachelappel commented on #1403
d1fe67b7f92ca8471971da79eac81c0c49515323

[2016-06-23 20:41] #1403 closed

[2016-06-23 20:42] rachelappel commented on #1424
300995a239ffafe2903232e9c72269cbe92a75e6

[2016-06-23 20:42] #1424 closed

[2016-06-23 20:42] rachelappel commented on #1398
38bf6953d7510e83f39ea46973cb2cb34bc5b696

[2016-06-23 20:42] #1398 closed

[2016-06-23 21:06] HaoK opened #1470 "authentication/sociallogins "Enabling authentication using Facebook, Google and other external providers""
[Edit by Rick-Anderson and GuardRex]
- [x] HaoK's complaint above
- [x] Specify the "Valid OAuth redirect URIs" for Facebook (and other providers). E.g. http://localhost:12345/signin-facebook. See https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Facebook/FacebookOptions.cs#L22
- [ ] #1908  add copy the https URL also in the Launch URL from the Visual Studio IDE s

[2016-06-23 21:19] Rick-Anderson opened #1472 ""Introduction to Identity" security/authentication/identity"
- [ ] Update for RTM
- [ ] #1465
- [ ] #1462
- [ ] #1405

[2016-06-23 21:19] alexxonline opened #1473 "Any Plans on translation?"
Hi! Now that rc2 seems to be an stable code base so the docs will be more stable are there any plans on making a translation? I can help with the Spanish translation

[2016-06-23 21:22] Rick-Anderson commented on #1473
#416

[2016-06-23 21:22] #1473 closed

[2016-06-23 21:23] #1396 closed

[2016-06-23 21:24] Rick-Anderson commented on #1461
We should mention alternative tools. Everyone should have the fiddler hammer in their toolbox.

[2016-06-23 21:26] Rick-Anderson commented on #1461
@MikeWasson what tools should we mention? I don't think we need to show how to use the other tools, just mention them.

[2016-06-23 21:43] HaoK commented on #1462
Same template png issue with https://docs.asp.net/en/dev/security/authentication/accconfirm.html

[2016-06-23 21:55] Rick-Anderson opened #1476 "Migrating Authentication and Identity migration/identity.rst"
- [ ] Update to RTM

[2016-06-23 21:56] Rick-Anderson commented on #974
#1476
:shipit:

[2016-06-23 22:06] danroth27 commented on #1461
Ideally we would show something that is simpler and cross-platform. I don't think we need to list every tool that let's you make an HTTP request though.

[2016-06-23 22:07] Rick-Anderson commented on #1456
I can do that.

[2016-06-23 22:09] blowdart commented on #1456
Beat you to it :)

[2016-06-23 22:16] MikeWasson commented on #1461
That particular doc is VS specific, tho'.

curl is cross-platform but I don't know if posting JSON in curl is really simpler than using Fiddler?

Postman might be a good option, it's x-plat. Complexity-wise it seems about the same as Fiddler, for doing basic GET and POST calls.

[2016-06-23 22:25] Rick-Anderson commented on #1380
@MikeWasson  please review

[2016-06-23 22:26] Rick-Anderson commented on #1461
I don't think we should drop fiddler as it's universally used and easy to use in this case. We can show another approach and mention there are other tools.

#1215  will address that

[2016-06-23 23:09] Rick-Anderson commented on #1461
See http://stackoverflow.com/a/11845427/502537

[2016-06-23 23:14] moozzyk commented on #1255
The sections about setting up IIS and configuring data protection should refer to the content in the Publish IIS topic. As it is now the information is duplicated, incomplete and out of date. Keeping both in sync will be probably hard.

[2016-06-23 23:20] HaoK commented on #1462
Same screen shot in https://docs.asp.net/en/dev/security/authentication/2fa.html

[2016-06-23 23:21] moozzyk commented on #1255
The rest of the document shows what to do "If your hosting provider has support for creating a publish profile" but does not show what to do in the case where my provider does not have support for creating a publish profile.

Also, it's weird that the first 2/3 of the article tells how to setup IIS and then the last section suddenly talks about "a provider that may or may not support creating publ

[2016-06-23 23:25] moozzyk commented on #1255
The "Preparing your web server for ASP.NET Core" section says that it is required to install web deploy 3.6 but it is not explained how or where it is used during deployment. In fact it is not mentioned later in the article at all so hard to tell why this step is required and what it gives.

[2016-06-23 23:42] moozzyk opened #1486 "How Web Publishing In Visual Studio Works contains images referring to dnu publish"
https://docs.asp.net/en/latest/publishing/web-publishing-vs.html has links to images that refer to dnu publish - e.g.:
![image](https://cloud.githubusercontent.com/assets/1438884/16323668/70dc2858-3961-11e6-8ddc-01bb90b09b38.png)

[2016-06-24 02:57] Tratcher opened #1492 "Gaps in the RC1->RC2 migration guide"
https://docs.asp.net/en/latest/migration/rc1-to-rc2.html

Missing steps:
- [x] TFMs: dnx451 -> net451, dnxcore50 -> netcoreapp1.0, Microsoft.NETCore.App dependency
- [x] buildOptions emitEntryPoint
- [ ] Migrating xunit test projects

References:
https://github.com/aspnet/Docs/commit/090db3acb8e5ef92901f9c740876f6011f55a0b5
https://github.com/aspnet/Docs/commit/c9fcad4fdba0e18f680ea8140aa2264b5dfa

[2016-06-24 04:56] davidfowl commented on #1492
What about dotnet-publish-iis

[2016-06-24 08:22] GuardRex commented on #1486
@sayedihashimi @moozzyk @Rick-Anderson If it's just a matter of making those two images say "dotnet publish" (with a change of font to match the font used in the other boxes), would you like me to knock that out real quick? I'm certainly the least busy of four of us. :smile:

[2016-06-24 08:57] branciat commented on #1275
@shirhatti
it would be good to put documentation, which is not the case today. :wink:

[2016-06-24 18:25] cesarbs commented on #1492
I've identified a bunch of other stuff last night too, I'll update it today.

[2016-06-24 19:41] cesarbs commented on #1492
- [ ] Add section on "exclude" (now "buildOptions -> compile -> exclude")
- [ ] Add section on "publishExclude" -> "publishOptions"
- [ ] Removal of runtime information stuff
- [ ] ILoggerFactory.MinimumLevel removed?
- [ ] Call .SetBasePath(env.ContentRootPath) on WebHostBuilder
- [ ] sql cache tool
- [ ] user secrets tool
- [ ] dnx-watch -> dotnet-watch

[2016-06-24 19:54] Tratcher commented on #1307
- The descriptions of Startup as the application entry point are outdated. Compare to https://docs.asp.net/en/dev/conceptual-overview/aspnet.html#application-anatomy
- De-emphasize the discovery and Startup[Environment] pattern, Startup is usually specified via `WebHostBuilder.UseStartup<Startup>();`
- `Hosting:Application` is now the `startupAssembly` configuration key or `ASPNETCORE_STARTUPASSEM

[2016-06-24 19:57] Tratcher commented on #1307
- There is a new IStartup interface. It's use is optional as using it would prohibit DI parameter injection into Configure. https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting.Abstractions/IStartup.cs

[2016-06-24 20:27] avikenjale opened #1508 "RC2 Source code"
RC2 documentation for [**"Managing Application state"**](https://docs.asp.net/en/latest/fundamentals/app-state.html), provides link for sample code, however when comes to GitHub, it is pointed to RC1 documentation.
Please can you either update link or update source code compatible with RC2.

[2016-06-24 20:30] ardalis commented on #1325
I'm going to let #132 cover the intricacies of dynamic views.

[2016-06-24 20:49] #1486 closed

[2016-06-24 20:49] Tratcher commented on #1307
- "like AppSettings in the example above". There are no AppSettings in the sample's ConfigureServices method.

[2016-06-24 20:59] moozzyk commented on #1486
@GuardRex - thanks for fixing this!

[2016-06-24 21:02] GuardRex commented on #1486
@moozzyk np ... If I can help with the RTM docs push, let me know. :+1:

[2016-06-24 21:08] danroth27 commented on #1508
Duplicate of #1345

[2016-06-24 21:08] #1508 closed

[2016-06-24 21:11] danroth27 commented on #1476
Duplicate #974

[2016-06-24 21:11] #1476 closed

[2016-06-24 21:13] danroth27 commented on #1465
Duplicate of #1472

[2016-06-24 21:13] #1465 closed

[2016-06-24 21:14] danroth27 commented on #1462
Duplicate of #1472

[2016-06-24 21:14] #1462 closed

[2016-06-24 21:17] #1456 closed

[2016-06-24 21:20] danroth27 opened #1510 "Update docs links on the home page for the .NET Core docs"

[2016-06-24 21:28] danroth27 opened #1512 "Move Intro to ASP.NET Core to top level TOC"
- [x] Move Intro to ASP.NET Core to the top of the TOC above Getting Started and rename the file to intro.html
- [x] Move Choosing the Right .NET on the Server to Fundamentals
- [ ] Setup redirects on Read the Docs pointing to the new locations (email)
  - /conceptual-overview/aspnet.html -> /intro.html
  - /conceptual-overview/choosing-the-right-dotnet.html -> /fundamentals/choosing-the-right-dot

[2016-06-24 22:14] cesarbs commented on #1492
cc @JunTaoLuo

[2016-06-24 22:19] JunTaoLuo commented on #1492
@Tratcher note that there is also the dotnet migration doc (there's a link to it from the aspnet migration doc). For example, the TFM updates are noted there.

[2016-06-24 22:30] JunTaoLuo commented on #1492
In fact some of the gaps listed here should be addressed in the dotnet migration docs if they are missing since it is not specific to aspnet https://dotnet.github.io/docs/core-concepts/dnx-migration.html. Or, we can duplicate the information in both places if it's very important (like the global.json changes).

[2016-06-24 22:39] NTaylorMullen commented on #130
@Rick-Anderson I went ahead and built out a ton of content for this. It pretty much just needs to be rst'd and have links filled in.

Also, at the end there's a few pieces I did not cover which will eventually need to be covered.

[RazorReferenceDoc.docx](https://github.com/aspnet/Docs/files/332706/RazorReferenceDoc.docx)

/cc @danroth27

[2016-06-24 23:36] cesarbs commented on #1492
cc @Rick-Anderson

[2016-06-25 00:15] Rick-Anderson commented on #130
@NTaylorMullen  perfect, I'll get it converted to rst

[2016-06-25 00:26] Rick-Anderson commented on #1492
Let's just point to dotnet and not duplicate.

[2016-06-25 03:33] GuardRex opened #1520 "RC1 Data Protection example in need of update"
@blowdart @Rick-Anderson

In https://docs.asp.net/en/latest/security/data-protection/using-data-protection.html, the code sample contains ...
[code]
... which should be ...
[code]
If you're busy, I can update it for you.

[2016-06-25 03:39] BrennanConroy commented on #1520
Checkout https://github.com/aspnet/Docs/blob/dev/aspnet/security/data-protection/using-data-protection/samples/protectunprotect.cs :P

[2016-06-25 03:41] #1520 closed

[2016-06-25 19:12] Rick-Anderson opened #1521 "fundamentals/static-files.rst "Working with Static Files""
- [ ] Add back home controller and all views so that customers can test app. We have seen several customers remove `app.UseStaticFiles(); // For the wwwroot folder` thinking it was covered by the next  `app.UseStaticFiles(new StaticFileOptions()` call

[code]

Leaving in default views makes this easy to test.
We want to make it easy for them to test  and navigate to the images directory.

[2016-06-26 19:24] LukaszDev opened #1525 "Add information about assembly information"
Hi Guys,

Following this issue: [Wrong assembly information / exe file details (dotnet/cli  #3620)](https://github.com/dotnet/cli/issues/3620)...

Can you consider to add note in docs about from assembly information are taken, please ?

I mean relation between `project.json` and `AssemblyInfo.cs` files.

Currently `AssemblyInfo.cs` file is not included in new project created from default template

[2016-06-27 02:08] JunTaoLuo opened #1528 "Add information on testing ASP.NET Core projects on VS Code"
This is now supported so it would be nice to add some documentation and screenshots for it on the unit testing page.

[2016-06-27 02:14] GuardRex commented on #1525
@LukaszDev Since `project.json` is going away in favor of `csproj`, it's likely that this won't be an issue shortly. There is no ETA on it, but the move to `csproj` is a WIP with a lot of activity right now.

[2016-06-27 02:55] davidfowl commented on #1461
I'd favor POSTman over fiddler for sending API requests as well. It's much more user friendly, works on all platforms and was really made specifically for these kinds of scenarios.

[2016-06-27 09:52] LukaszDev commented on #1525
Thanks for info, i wasn't aware that.

But still it can be issue, depends from assembly information will be taken...

If meta data from project.json just will be moved to csproj file then we have still similar relation between metadata from project and AssemblyInfo.cs file, so still we can have the same issue.

In other word issue in not with project.json - issue is with AssemblyInfo.cs file and a

[2016-06-27 17:04] BrennanConroy commented on #1105
I think this can be closed?

[2016-06-27 17:16] dougbu commented on #1154
350b3fc

[2016-06-27 17:16] #1154 closed

[2016-06-27 18:22] Rick-Anderson commented on #1346
@rachelappel  can you fix this today?

[2016-06-27 18:22] Rick-Anderson commented on #1528
dup of #1346

[2016-06-27 18:25] Rick-Anderson commented on #1525
Can you open this  in https://github.com/dotnet/core-docs/issues
Thanks

[2016-06-27 18:25] #1525 closed

[2016-06-27 18:30] JunTaoLuo commented on #1528
I don't see any VS Code test related information in the doc that's mentioned in the other issue. Is that pending?

[2016-06-27 19:31] JunTaoLuo commented on #1528
@Rick-Anderson What I meant was adding a section indicating that you can directly run/debug tests from VS Code like so:
![image](https://cloud.githubusercontent.com/assets/2030323/16392889/073523be-3c63-11e6-843c-11483c652e8d.png)

[2016-06-27 20:06] Rick-Anderson commented on #1528
we are deleting https://docs.asp.net/en/latest/testing/unit-testing.html and ponting to https://docs.microsoft.com/en-us/dotnet/articles/core/testing/unit-testing-with-dotnet-test
so any issues would need to be opend at https://docs.microsoft.com/en-us/dotnet/articles/core/testing/unit-testing-with-dotnet-test

[2016-06-27 20:06] #1528 closed

[2016-06-27 20:20] #1105 closed

[2016-06-27 20:39] kirkktx opened #1543 "Link to .NET Core Windows Server Hosting bundle points to RC2"
The link here https://github.com/aspnet/Docs/blob/master/aspnet/publishing/iis.rst#install-the-net-core-windows-server-hosting-bundle  points to RC2.  Is the RTM out yet?  If so, I need to know how to download it. Thanks!

[2016-06-27 20:56] JunTaoLuo commented on #1528
Ah I see.

[2016-06-27 22:40] GuardRex opened #1548 "Remove Featured Comment from Publishing to IIS"
@Rick-Anderson You might want to remove the Featured Comment (Disqus) as it's out of date now.

https://docs.asp.net/en/latest/publishing/iis.html

[2016-06-27 22:51] Rick-Anderson commented on #1380
- [ ] replace TryGetValue
- [ ]  #1461

[2016-06-27 22:51] Rick-Anderson commented on #1461
Moved to #1380

[2016-06-27 22:51] #1461 closed

[2016-06-27 23:21] Rick-Anderson commented on #1543
@kirkktx  is https://go.microsoft.com/fwlink/?LinkId=817246 wrong?

[2016-06-27 23:23] Rick-Anderson commented on #1543
@GuardRex  please review

[2016-06-27 23:24] Rick-Anderson commented on #1512
fixed by #1535

[2016-06-27 23:24] #1512 closed

[2016-06-27 23:28] Rick-Anderson commented on #1492
fixed via #1485

[2016-06-27 23:28] #1492 closed

[2016-06-27 23:30] Rick-Anderson commented on #1470
- [ ] HaoK's complaint above
- [ ] update entire article

[2016-06-27 23:31] Rick-Anderson commented on #1419
fixed by removing

[2016-06-27 23:31] #1419 closed

[2016-06-27 23:33] Rick-Anderson commented on #1435
- [ ] Fix doug's complaints above
- [ ] UE Edit needed

[2016-06-27 23:36] Rick-Anderson commented on #1548
fixed - thanks

[2016-06-27 23:36] #1548 closed

[2016-06-27 23:46] #122 closed

[2016-06-27 23:49] kirkktx commented on #1543
Looks good.  I just installed on top of the RC2 that I had previously installed.  It installed ok and simple web app from template built with VS2015 Update3 works.

[2016-06-27 23:49] #1543 closed

[2016-06-28 03:45] Rick-Anderson commented on #1385
- [ ] Add the files you generally don't need to .gitignore
- [ ] Update the CONTRIBUTING.md with instructions to ignore the .ignore file when you need an excluded file.

[2016-06-28 03:45] Rick-Anderson commented on #1402
dup of #1385

[2016-06-28 03:45] #1402 closed

[2016-06-28 03:47] #1349 closed

[2016-06-28 03:50] Rick-Anderson commented on #1348
- [ ] Update
- [ ] UE edit

[2016-06-28 03:50] Rick-Anderson commented on #1346
fixed

[2016-06-28 03:50] #1346 closed

[2016-06-28 03:54] Rick-Anderson commented on #1318
We added a warning for doc's that are not current:
![capture](https://cloud.githubusercontent.com/assets/3605364/16403373/512e347e-3ca9-11e6-8d01-8c10c612d350.PNG)

[2016-06-28 03:54] #1318 closed

[2016-06-28 03:54] #1305 closed

[2016-06-28 03:58] Rick-Anderson commented on #1287
dup of #1404

[2016-06-28 03:58] #1287 closed

[2016-06-28 04:02] #1255 closed

[2016-06-28 11:40] DeluxZ commented on #1162
Any update on this?

[2016-06-28 17:39] whyleee opened #1559 "tutorials/first-web-api.rst: Action void return type returns 200 instead of 204"
In ["Delete" subsection](https://docs.asp.net/en/latest/tutorials/first-web-api.html#delete) of "Implement the other CRUD operations" section of the article it is stated that action void return type returns 204 response, but I get 200 in this case. I'm using latest ASP.NET Core 1.0.

[2016-06-28 17:49] danroth27 commented on #1162
@blowdart Not yet - it's still on our backlog

[2016-06-28 18:05] jnsn opened #1560 "Adding a controller documentation contains non-compiling code samples"
The [Adding a controller](https://docs.asp.net/en/latest/tutorials/first-mvc-app/adding-controller.html) document contains a piece of code which does not compile.

When talking about route parameters, it contains the following code:

[code]

The parameter was renamed from `numTimes`  to `ID`, but the string interpolation still contains the `numTimes` identifier.

[2016-06-28 18:12] Rick-Anderson opened #1561 "fundamentals/environments.rst "Working with Multiple Environments""
- [ ] [1550 comment](https://github.com/aspnet/Docs/pull/1550/files/b10fdabf8a06f01323e68337e6f12626d17b638a#r68808110) Note that `WebHostBuilder.UseStartup<TStartup>()` overrides detection of environment specific startup types. Environment specific methods still work. See https://github.com/aspnet/Home/issues/1595
- [ ] thank tratcher when you fix this

[2016-06-28 18:32] Rick-Anderson commented on #1345
@blowdart [App State](https://docs.asp.net/en/latest/fundamentals/app-state.html)
states:

Session storage relies on a cookie-based identifier to access data related to a given browser session (a series of requests from a particular browser and machine). You can’t necessarily assume that a session is restricted to a single user, so be careful what kind of information you store in Session. It is a

[2016-06-28 19:58] #696 closed

[2016-06-28 20:04] #1560 closed

[2016-06-28 20:25] JoelBennett commented on #1318
Awesome!  That totally works.

[2016-06-28 23:17] Bartmax opened #1568 "Links in tutorials goes to wrong url with .md extension which returns an error."
On the docs pages / tutorials like this one:
https://www.microsoft.com/net/tutorials/csharp/getting-started/strings

there are links that points to `.md` files.
For example: https://www.microsoft.com/net/tutorials/csharp/getting-started/methods.md

That link doesn't work and returns an error. The correct path is https://www.microsoft.com/net/tutorials/csharp/getting-started/methods

Looks like all

[2016-06-28 23:53] blowdart commented on #1345
Not sure about "is not", "may not" would be more accurate. Storing secrets, well, that depends what you do with them *grin* How about this?

Session storage relies on a cookie-based identifier to access data related to a given browser session (a series of requests from a particular browser and machine). You can’t necessarily assume that a session is restricted to a single user, so be careful what

[2016-06-29 01:08] Rick-Anderson commented on #1345
Session storage relies on a cookie-based identifier to access data related to a given browser session (a series of requests from a particular browser and machine). You can’t necessarily assume that a session is restricted to a single user, that is,  you cannot assume it is secure. It is a good place to store application state that is specific to a particular session but which doesn’t need to be pe

[2016-06-29 02:02] ardalis commented on #1568
Those docs aren't part of this repository, but I'll follow up and get it fixed. Thanks!

[2016-06-29 02:02] #1568 closed

[2016-06-29 02:29] Bartmax commented on #1568
Thanks, I didn't know where to file an issue. asked on slack and followed to this repo.

[2016-06-29 06:56] fleed opened #1571 "ViewAsync method"
Considering that Razor supports async/await, shouldn't there be a ViewAsync method on the Controller class?

[2016-06-29 14:40] avikenjale opened #1573 "Doc Website is down"
Is there any change in documentation website? I am unable to access the website https://docs.asp.net/ and getting 504 error.

[2016-06-29 15:01] #1573 closed

[2016-06-29 17:09] Rick-Anderson opened #1576 "VSCode on Mac OSX /Linux version of Web-API and tutorials/first-mvc-app/index.md "Getting started with ASP.NET Core MVC and Visual Studio""
From #1378
We need to have a minimal getting started with MVC tutorial that covers without tooling:
- Adding the Microsoft.AspNetCore.Mvc package
- Calling services.AddMvc() and app.UseMvc()
- Create a HomeController that returns a simple view with a model

Related issues:
- #1842
- #1378
- #1799

[2016-06-29 17:09] dazinator commented on #687
I was successfully using this technique for a while in RC1, but as of RC2 i'm getting an issue, which I raised here: https://github.com/aspnet/Razor/issues/795

Greatful if anyone knows why this might have broken in RC2

[2016-06-29 17:56] Rick-Anderson commented on #687
Can you test this with RTM bits?

[2016-06-29 18:14] dazinator commented on #687
Can do. To be honest, I'd rather be able to eliminate this code all together and for the framework to provide a mechanism so that `ViewComponent` can include html and javascript on the page. Without this, it seems like they are a bit half baked imho. Any ideas if this ability is going to be coming in the future as if so, I don't really want to waste any further time on this issue.

[2016-06-29 18:16] Rick-Anderson commented on #687
We plan to do that. I'll see if I can get the tracking issue.

[2016-06-29 21:47] songwutk opened #1579 "How can I connect with MySQL ?"
MySQL is php favorite database.

[2016-06-29 23:41] Rick-Anderson opened #1580 "tutorials/first-mvc-app/start-mvc.rst "Getting started with ASP.NET Core MVC and Visual Studio""
- [ ] Last image of the page show authentication.

[2016-06-29 23:52] Rick-Anderson opened #1581 "migration/rc2-to-rtm.rst "Migrating from ASP.NET Core RC2 to ASP.NET Core 1.0""
- [ ]  updating a solution's global.json - see DISQUS
- [ ]  `AuthorizationHandler<trequirement>`, `AuthorizationContext` has now become `AuthorizationHandlerContext`.  see DISQUS
- [ ]

[2016-06-29 23:55] Rick-Anderson commented on #1581
@rachelappel  can you add this to your list?

[2016-06-30 06:54] avishekhbharati commented on #206
How can I write the logs to the text file ?

[2016-06-30 09:35] timdows commented on #1329
So in the new RC2 and RTM version most can be done under services.AddDataProtection().
But I miss the ProtectKeysWithCertificate option.

Is there a solution to use X509Certificate2 with AddDataProtection?

[2016-06-30 10:00] timdows commented on #1329
Note: Have to admit that I am using NETCoreApp, Version=v1.0
The docs mention that this is not yet available
https://docs.asp.net/en/latest/security/data-protection/implementation/key-encryption-at-rest.html

But if there is a workaround, I would love to use it for the time being

[2016-06-30 16:13] danroth27 commented on #206
You can plug existing third-party logging frameworks into the [Logging](https://docs.asp.net/en/latest/fundamentals/logging.html) framework. Ex [Serilog](https://www.nuget.org/packages/Serilog.Sinks.File) is a good option.

[2016-06-30 18:05] Rick-Anderson commented on #1579
see https://docs.efproject.net/en/latest/providers/mysql/index.html
@rowanmiller  what's the latest?

[2016-06-30 18:09] Rick-Anderson commented on #1559
@rachelappel  please verify when you update this tutorial.

[2016-06-30 18:13] Rick-Anderson commented on #1559
dup of #1380

[2016-06-30 18:13] #1559 closed

[2016-06-30 18:24] rowanmiller commented on #1579
That doc you linked to has the latest status, unfortunately there is no other information I can share.

[2016-06-30 18:45] Bartmax commented on #130
I can thing of a few things missing:

`EditorTemplates`
`DisplayTemplates`
`HtmlHelpers` and why there are 2 syntaxes (taghelpers/htmlhelpers). I think this will be quite confusing for some when they see `@Html.Raw` instead of `<raw>`. Add a bit of history for extra points :smile:
`PartialViews` (noting the distinction between `_filename.cshtml` and `filename.cshtml`)
`ViewComponent` (aka invoke d

[2016-06-30 18:45] Rick-Anderson commented on #1348
@Bartmax  added that to the asked for list (doesn't mean we will get it without help)

[2016-06-30 18:45] #1579 closed

[2016-06-30 18:49] rowanmiller commented on #1579
BTW I did just want to add that we do consider MySQL a top priority, so please don't take my lack of comment to mean we don't care about the scenario. When working with provider writers it is up to them how and when they publically share information about timelines etc.

[2016-06-30 18:56] Rick-Anderson commented on #130
@Bartmax  this is Razor Syntax

Editor and Display templates will be covered in another doc. Tag Helpers are not a replacement for HTML Helpers, although there is overlap.  see https://docs.asp.net/en/latest/mvc/views/working-with-forms.html - From that doc:

_In many cases, HTML Helpers provide an alternative approach to a specific Tag Helper, but it’s important to recognize that Tag Helpers do n

[2016-06-30 19:20] songwutk commented on #1579
https://github.com/bgrainger/MySqlConnector

My Search.

[2016-06-30 19:33] Bartmax commented on #130
wow you got everything really covered!! Sorry I just wanted to point out the things I look that might be missing. You all are doing an amazing job with the docs! I'm spending quite amount of time reading them just because they are really enjoyable.

About the `HtmlString`, I'm not sure internally how it works but I imagine something along this lines:

To render HTML content without encoding you ca

[2016-06-30 21:41] #1325 closed

[2016-07-01 00:40] shirhatti opened #1592 "Folder names conventions for static assets"
Some articles are in violation of the convention specified in the [contributing guide](https://github.com/aspnet/Docs/blob/master/CONTRIBUTING.md#example-structure).
- [x] `aspnet/publishing/pubIIS` should be renamed to `aspnet/publishing/iis` (assets directory should match name article)
- [x] `aspnet/mvc/views/forms/` should be renamed to `aspnet/mvc/views/working-with-forms`
- [x] `aspnet/hostin

[2016-07-01 00:40] shirhatti commented on #1592
@danroth27

[2016-07-01 00:48] shirhatti commented on #1592
This is part of the OPS work

[2016-07-01 08:07] Bartmax commented on #1267
wanted to ping to this issue: https://github.com/aspnet/Home/issues/1613#issuecomment-229858925

I think it has potentially interesting info.

[2016-07-01 09:44] lorentzyip commented on #95
I would like to contribute/review, lorentz.yip@gmail.com

[2016-07-01 16:04] danroth27 commented on #1592
@Shirhatti Are you planning to PR this? If not, then how urgent is it?

[2016-07-01 16:39] rynowak commented on #138
A good idea for a sample https://github.com/aspnet/Home/issues/1613

[2016-07-01 17:11] Rick-Anderson commented on #1284
- [ ] Dev review/outline
- [ ] Use TagHelpers, remove @Html.ActionLink
- [ ] Update to RTM

[2016-07-01 17:12] Rick-Anderson commented on #1284
@kichalla  I updated this in bumped up priority.

[2016-07-01 17:27] shirhatti commented on #1592
Not urgent. The script expects these conventions. Now, it just succeeds with some failures.
You can choose to fix it now, or in the manual pass later.

[2016-07-01 17:56] shirhatti opened #1596 "`index.rst` pages should not have content"
We need some content refactoring so as to ensure `index.rst` pages contain only a TOC and no other text. There are a few pages in violation of this.

- [ ] https://docs.asp.net/en/latest/security/authorization/index.html
- [ ] https://docs.asp.net/en/latest/security/data-protection/index.html
- [ ] https://docs.asp.net/en/latest/hosting/index.html
- ~~https://docs.asp.net/en/latest/index.html~~ (D

[2016-07-01 17:57] shirhatti commented on #1596
@danroth27 Part of the OPS work

[2016-07-01 19:52] Rick-Anderson commented on #1592
@shirhatti  please test scripts and close this if fixed

[2016-07-01 19:55] Rick-Anderson commented on #1596
@shirhatti  I think we can safely remove the intro on the first two. How do you want to handle hosting? Do you want an intro doc?

[2016-07-01 19:56] Rick-Anderson commented on #1596
@rachelappel  I did #1592, this one is yours :-)

[2016-07-01 19:57] GDBSD opened #1598 "OWIN suport for .NETCoreApp"
Trying to add the Owin package to a new project. In project.json (dependencies segment) red squigly under Microsoft.AspNet.WebApi.Owin": "5.2.3". Mouseover displays four errors all relating to support for .NETCoreApp

![owindotnetcoreerror](https://cloud.githubusercontent.com/assets/7552225/16533109/1b0ed25e-3f9c-11e6-8c03-3ac7d98380a1.png)

[2016-07-01 19:59] shirhatti commented on #1596
I think it's safe to remove the intro for hosting as well. I don't see it as much of a value add. Especially since we renamed Hosting -> Guidance for Hosting Providers

[2016-07-01 20:52] ersanbilik commented on #95
i would like to contribute / review, ersanbilik@gmail.com

[2016-07-01 21:08] Rick-Anderson commented on #1596
@rachelappel  can you do this next so @shirhatti  can test his scripts. It will save you and me manual work.

[2016-07-01 21:38] shirhatti commented on #1596
The home page is also in violation of this.
- [ ] https://docs.asp.net/en/latest/index.html

I would recommend removing the text accompanying the Contribute section.
The attention and note at the top of the page needs to go as well.

[2016-07-01 21:44] danroth27 commented on #1596
Please don't touch the home page as part of this clean up. The home page is "special" and should be handled as a one off change.

[2016-07-01 22:06] shirhatti commented on #1592
@Rick-Anderson Those 3 changes were good. I found 2 more inconsistencies. I have edited the issue

[2016-07-01 23:26] Rick-Anderson commented on #1596
@shirhatti  I think I've covered everything, can you run your scripts again?

[2016-07-03 01:46] Bartmax opened #1604 "Requirement of package needed for configuration is "hidden" in code."
In this doc:
http://docs.asp.net/en/latest/fundamentals/configuration.html#using-options-and-configuration-objects

the requirement of a particular package to make configuration work with binding is in the code snipped instead of being part of the document itself. I think a note box will be more appropiate. just my 2c.

[code]

[2016-07-03 09:15] ncarandini commented on #95
I would like to contribute / review, n.carandini@outlook.com

[2016-07-04 08:44] BogalooDev commented on #95
I would like to contribute / review, BogalooDev@Live.com

[2016-07-04 11:10] glennc commented on #1148
I have an email thread with some folks about getting this content together. Teaming up with some RedHat people. Hopefully will come together soon.

[2016-07-04 13:25] VaclavElias commented on #1148
Sounds good, the experts on the subject are going to get their hands dirty :)

[2016-07-04 17:22] CIPop opened #1608 "Docs search isn't working"
Searching for "IIS" doesn't give any results:
https://docs.asp.net/en/latest/search.html?q=iis&check_keywords=yes&area=default

The first result of this search points to the right article on the docs.asp.net site:
https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=host%20asp.net%20core%20in%20iis

[2016-07-05 00:54] Rick-Anderson commented on #1307
- [ ] Fix issues above

- [ ] UE edit

- [ ] add out of date banner

[2016-07-05 00:59] Rick-Anderson opened #1610 "fundamentals/localization "Globalization and localization""
- [x] https://github.com/aspnet/Localization/issues/277 Pri 0
- [ ] aspnet/Mvc#5282 Document how to localize custom validation attributes (was #1878)
- [x] Survey to find out if one file/view or one single file per app is more popular - and the ratio. Several customers assert one file/view is never used and should not be introduced at the beginning of the topic.
  **results of twitter poll were mi

[2016-07-05 08:35] franknezrick opened #1617 "MVC draft docs"
Greetings, I would like to request draft docs for MVC.  We are currently implementing an MVC 6 solution at my client.  Thanks!

[2016-07-05 15:35] Rick-Anderson commented on #1617
This isn't the right venue to request draft docs. You can register for individual doc stubs.

[2016-07-05 15:35] #1617 closed

[2016-07-05 15:41] Rick-Anderson commented on #1598
It's now AspNetCore, see our update guide.

[2016-07-05 15:41] #1598 closed

[2016-07-05 15:48] Rick-Anderson commented on #1604
Thanks moved this to #829

[2016-07-05 15:48] #1604 closed

[2016-07-05 19:59] #235 closed

[2016-07-05 20:15] rynowak opened #1619 "API ref docs missing 'remarks'"
Compare:
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Routing/IRouteValueProvider.cs#L22
https://docs.asp.net/projects/api/en/latest/autoapi/Microsoft/AspNetCore/Mvc/Routing/IRouteValueProvider/index.html#Microsoft.AspNetCore.Mvc.Routing.IRouteValueProvider

We've got a fair bit of goodness in various remarks-es

[2016-07-05 20:17] rynowak opened #1620 "API ref docs encoding <p> for <para>"
Compare:
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Routing/IRouteValueProvider.cs#L22
https://docs.asp.net/projects/api/en/latest/autoapi/Microsoft/AspNetCore/Mvc/Routing/IRouteValueProvider/index.html#Microsoft.AspNetCore.Mvc.Routing.IRouteValueProvider

The `<para>` tags in the XML are getting turned into `<p>` tags and then getting encoded so they don't affect the

[2016-07-06 00:38] Rick-Anderson commented on #1080
- [ ] DISQUS (needs samples)
- [ ] Model binding doc should define what model state is

[2016-07-06 01:49] rynowak opened #1625 "/fundamentals/routing "Routing""
This doc [aspnet/fundamentals/routing.md](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing) could use a lot more exposition about the technical process of link generation.

[2016-07-06 04:21] GuardRex opened #1626 "Update Publishing to IIS Common Errors for ANCM changes"
RE: [Common Errors of Publishing to IIS](https://docs.asp.net/en/latest/publishing/iis.html#common-errors)

RTM ANCM changes yield new browser and ANCM log entries. For example: ANCM behavior for missing `.UseIISIntegration()` on `WebHostBuilder()` ...

Previous ANCM Behavior
**Browser:** No response
**ANCM Log:** Process '4568' failed to start. Port = 32205, Error Code = '-2147023436'.

New ANCM

[2016-07-06 15:59] Rick-Anderson commented on #1625
- [ ] more exposition about the technical process of link generation.
- [ ] Map[Verb] extensions will need their own section.
- [ ] rewrite startup section/code
- [ ]
- [ ]

[2016-07-06 17:25] Rick-Anderson commented on #1397
- [ ] DISQUS questions (see one below)
- [ ] Headings
- [ ] Best practices
- [ ] Dev review
- [ ] UE review

I have bunch of controller that initiates Async calls, that performs background task. What are my options if I want to have a global exception handler which will catch the failures happening in these task.
Any advise how this can be done.

if the i workflow with the **client** is async:
1.

[2016-07-06 17:33] Rick-Anderson commented on #1397
If the background task is expected to live longer than the request that initiated it I would suggest having a singleton service that schedules/tracks jobs and provide with each new Job a polling URL that the client can query to check on the status of the task and send back to the client any error that happened during the execution. I strongly discourage using exception filters for this. I would bu

[2016-07-06 17:40] Rick-Anderson commented on #1397
Pranav K
It might be worthwhile determining how much of something like WebBackgrounder (https://github.com/NuGet/WebBackgrounder) is portable to Asp.NetCore. It’s pretty useful to do house cleaning work which isn’t required to be entirely reliable, but it does setup and teardown of jobs and synchronization across a farm. I imagine it’s a lot saner

[2016-07-06 18:10] rachelappel opened #1630 "Sample/instructions for configuring Apache as a proxy server - under publishing/index.rst"
Should go somewhere under https://docs.asp.net/en/latest/publishing/index.html
Originally requested at https://github.com/aspnet/Docs/issues/1348

[2016-07-06 18:10] rachelappel commented on #1348
Moving "sample/instructions for configuring Apache as a proxy server" to new issue. Should go in one of these https://docs.asp.net/en/latest/publishing/index.html

[2016-07-06 19:03] Rick-Anderson commented on #1630
@glennc FYI

[2016-07-06 19:04] Rick-Anderson commented on #1626
@GuardRex  are you going to update the doc?

[2016-07-06 19:06] GuardRex commented on #1626
Yes I'll have the PR in tonight.
On Jul 6, 2016 2:04 PM, "Rick Anderson" <notifications@github.com> wrote:

@GuardRex <https://github.com/GuardRex> are you going to update the doc?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/aspnet/Docs/issues/1626#issuecomment-230872589>, or mute
the thread
<https://github.com/notificat

[2016-07-06 19:07] Rick-Anderson commented on #1620
@rynowak  we're moving to docFX which will have all new issues for you to file.

[2016-07-06 19:07] #1620 closed

[2016-07-06 19:08] #1619 closed

[2016-07-06 19:24] Rick-Anderson commented on #1610
@damienbod @bartmax please review https://twitter.com/RickAndMSFT/status/750772253852176384

[2016-07-06 19:28] Rick-Anderson commented on #1596
@shirhatti I think I've covered everything, can you run your scripts again?  And update this issue?

[2016-07-06 19:31] Rick-Anderson commented on #1610
Once the survey is good I'll have damien edwards re-tweet so we can get lots of feedback.

[2016-07-06 20:03] shirhatti commented on #1596
👍 Looks good to me

[2016-07-06 20:03] #1596 closed

[2016-07-06 20:31] CIPop opened #1632 "getting-started.rst "Getting Started""
Ref #1609:

[2016-07-06 20:31] CIPop commented on #1632
@danroth27 @Rick-Anderson PTAL

[2016-07-06 21:28] Rick-Anderson commented on #1632
- [ ] Missing UseContentRoot in the Getting Started section

[2016-07-06 21:32] danroth27 commented on #1632
This was deliberately left out because the getting started sample didn't need it. However, we are getting feedback that we should extend the getting started flow to include 1. enabling static files, 2. enabling an MVC view, and 3. returning some JSON, in which case we will need to add this.

[2016-07-06 21:51] CIPop commented on #1632
@danroth27 I personally like the simplest possible "Hello world" sample. While it's fine to add static files, MVC, etc, to getting started, I think it's always great to keep the simple "Hello world" as well.

[2016-07-07 01:48] GuardRex commented on #1626
@Rick-Anderson @danroth27

Slight prob with one of them. The RTM ANCM is throwing *identical and indistinguishable messages/exceptions* for two common error scenarios: the `.UseUrls()` after `.UseIISIntegration()` and the one that @CIPop is adding for a missing `.UseIISIntegration()`.

### Prior ANCM
#### `.UseUrls()` after `.UseIISIntegration()`
Browser: No response
Application Log: Process ‘PROC

[2016-07-07 04:04] JoelBennett commented on #1080
It'd be especially nice to see an example that binds a DateTime.

[2016-07-07 06:28] wildsylvan commented on #1626
@GuardRex I know this is not the best place but could I have your contact? I'm getting 502.5 with an empty log created and I run out of things to try...

[2016-07-07 06:29] GuardRex commented on #1626
@wildsylvan I'm on Slack right now ... http://tattoocoder.com/aspnet-slack-sign-up/ ... meet me in the #iis channel

[2016-07-07 18:17] ryanhall27 commented on #1559
I'm a little bit confused on this.  Is this a bug in the code or the documentation?  Seems to me like it is a bug in the code.  A void method should return 204 by default correct?

I just need to know either way so I can plan accordingly, thanks.

[2016-07-07 18:49] Rick-Anderson commented on #1559
@danroth27  please respond

[2016-07-07 19:48] danroth27 commented on #1559
Returning void isn't sufficient to tell if the response body is empty. You can always add content to the response using the HttpContext directly.

If you want to return a 204 when returning void then you can add the HttpNoContentOutputFormatter to the output formatters.

[2016-07-07 20:49] #1626 closed

[2016-07-07 20:49] ryanhall27 commented on #1559
That makes perfect sense, thank you for the explanation.

[2016-07-08 19:31] Rick-Anderson commented on #1630
@glennc if you can provide these instruction in word/html/notepad I'll get them added. Please suggest where they should go.

[2016-07-08 20:34] ygoe commented on #228
Strange, the docs page says you're working on it, and this page says you won't do it. Which one is outdated?

[2016-07-08 22:18] danroth27 opened #1643 "Remove How to Customize Publishing article stub"
Looks like we closed https://github.com/aspnet/Docs/issues/228, but didn't remove the stub article. We should remove https://docs.asp.net/en/latest/publishing/how-to-customize.html.

[2016-07-08 22:19] danroth27 commented on #228
Opened #1643 to track removing the article stub.

[2016-07-09 00:35] sayedihashimi commented on #228
Here is the page that include the content https://docs.asp.net/en/latest/publishing/web-publishing-vs.html

[2016-07-09 00:38] WayneKoorts opened #1645 "Incorrect supervisord config in Linux Publishing guide"
The configuration has some critical problems which mean the process won't run under supervisord:

- The dotnet command should not be run through bash, since it's not a bash script.
- The "directory" supervisord option should be specified (working directory). I'm not 100% sure whether this was only required because I was temporarily running my app using a SQLite DB, but it seems a safe option to se

[2016-07-09 00:55] WayneKoorts commented on #1645
Pull request with fix: #1646

[2016-07-09 19:44] tugberkugurlu opened #1648 "epub version contains errors"
I exported the v1.0.0 docs to an epub file through docs.asp.net and nearly each section starts with a smilar error to below one:

![image](https://cloud.githubusercontent.com/assets/328122/16709905/cda15a84-4615-11e6-9a9d-e642da76c0a6.png)

[2016-07-10 15:33] markadrake commented on #86
Hi @Tratcher - is there any documentation in the works? I've actually managed to stumble through creating my own middleware by using multiple examples I've found online. But one of the last things I need to do is go from identity.AddClaim (which stores claims in a cookie) and change it to store this information in the database.

Thanks for all the hard work everyone's put into asp.net and it's doc

[2016-07-11 17:50] Tratcher commented on #86
@HaoK @blowdart ?

[2016-07-11 17:50] Tratcher commented on #86
@rustd ?

[2016-07-11 17:51] HaoK commented on #86
@Rick-Anderson might know

[2016-07-11 18:50] ColinDabritz opened #1652 "Docs sample changes default namespace."
I followed the default docs getting started guide on a mac today, and got this error:

[code]

A quick inspection revealed that the namespace declarations are not the same.

With my setup (latest dotnet core setup as of today) running a `dotnet new` gave me a `Program.cs` namespace of `namespace ConsoleApplication`, rather than the project/folder name as shown in the guide of `namespace aspnetcore

[2016-07-11 19:47] Rick-Anderson commented on #1652
fixed buy https://github.com/aspnet/Docs/pull/1653

[2016-07-11 19:47] #1652 closed

[2016-07-11 19:54] Rick-Anderson commented on #1198
migrated to #1251

[2016-07-11 19:55] Rick-Anderson commented on #1645
migrated to #1251

[2016-07-11 19:55] #1645 closed

[2016-07-11 20:12] shirhatti commented on #1198
@Rick-Anderson Hmm. I haven't verified this. I'm reopening the bug for now. I'll close after I'm able to verify this is no longer needed.

[2016-07-11 20:22] #1643 closed

[2016-07-11 20:53] tugberkugurlu commented on #1648
iBooks on iPhone.

[2016-07-11 23:36] Rick-Anderson commented on #1198
@shirhatti  actually I just migrated it to #1251 but we'll keep it open.

[2016-07-11 23:40] Rick-Anderson commented on #86
We don't have anything scheduled. If one of you guys wants to write it (in word, notpad or anything I can read), I'll get it published.

[2016-07-11 23:45] Rick-Anderson commented on #86
#1470 copied @Tratcher issues

[2016-07-12 20:44] danroth27 commented on #1648
@agjohnson Have you guys seen these errors with the generated ePub files on iBooks? Is there something we are doing in the .rst that is causing this?

[2016-07-12 20:46] danroth27 opened #1665 "Remove Dynamic vs Strongly Typed Views stub article"
We cover this topic in the View Overview article.

[2016-07-12 20:47] danroth27 commented on #1665
@Rick-Anderson Can you take this one?

[2016-07-12 22:28] #1271 closed

[2016-07-12 23:29] shirhatti opened #1666 "Nano doc installs stale version of dotnet"
Update the url from which `dotnet` is installed.
https://github.com/aspnet/Docs/blob/master/aspnet/tutorials/nano-server/Download-Dotnet.ps1#L1

cc @natemcmaster

[2016-07-13 12:31] ArgTang opened #1668 "client-side/using-gulp.rst "Using Gulp": Deprecated Gulp plugin recommendation"
Hello.

In the gulp [section ](https://github.com/aspnet/Docs/blob/master/aspnet/client-side/using-gulp.rst) it is recomended to use [gulp-css-min](https://github.com/chilijung/gulp-cssmin).

gulp-css min on npm is a duplicate of [gulp-minify-css](https://www.npmjs.com/package/gulp-minify-css), witch is deprecated and recomended to upgrade to [gulp-clean-css](https://github.com/scniro/gulp-clean-c

[2016-07-13 16:27] #1665 closed

[2016-07-13 17:28] Tratcher commented on #1470
- Specify the "Valid OAuth redirect URIs" for Facebook (and other providers). E.g. http://localhost:12345/signin-facebook

[2016-07-13 20:25] rroyter commented on #137
I would like to know if there are any drafts on the topic. Anyone I can talk to?

[2016-07-13 20:44] danroth27 commented on #137
No drafts available yet. This item is still on our backlog. Updated accordingly.

[2016-07-13 22:34] Rick-Anderson opened #1673 "Logging on Azure and remote debugging on Azure"
- [ ] Need guidance on how to do logging to get error messages.
- [ ] How to do Azure Web App Log Streaming  #2146
- [ ] Instructions on remote debugging

Per fowler _web.config_

[code]

no longer works. Need guidance on how to do logging to get error messages.

[2016-07-13 22:37] Rick-Anderson commented on #1673
@davidebbo  do we have any guidance on this? cc @tdykstra

[2016-07-13 23:06] agjohnson commented on #1648
@danroth27 reproduced this on OSX reader as well, looks like it may be an issue with our Sphinx template and unclosed tags again. I'll open an issue there.

refs rtfd/readthedocs.org#409
refs rtfd/readthedocs.org#744

[2016-07-13 23:28] agjohnson commented on #1648
Looked into this, looks like the helpfulness plugin drops an unclosed tag in the output (`input` tag on line 4):

[code]

cc @danroth27

[2016-07-14 08:10] tverboon opened #1677 "Localization"
We want to internationalize our Asp.Net Core web application and we are figuring out how to do this. The new workflow described in the documentation sounds great:

But I am afraid this will only kick the can down the road? What if we want to add another language? Do we need to go through all our sources and scan for localization keys and build the resx then? Or is there a smarter way to do it?

[2016-07-14 16:39] Rick-Anderson opened #1679 "performance/caching/response "Response Caching""
- [x] Update ResponseCaching docs  #1969
- [x] graphic needs to be updated to include the caching done by the middleware on the server
- [ ] Add fiddler image of cache header
- [ ] See [this SO thread](http://stackoverflow.com/questions/40369112) When updating doc, use fiddler to show how it works.
- [ ] UE Edit
- [ ] line numbers off
- [ ] DISQUS
- [x] Update to RTM
- [ ] Document cache tag helpe

[2016-07-14 16:42] Rick-Anderson commented on #1080
@JoelBennett https://docs.asp.net/en/latest/tutorials/first-mvc-app/adding-model.html binds datetime.

[2016-07-14 18:10] kichalla opened #1680 "Document what kind of formats are supported in model binding"
It would be nice to table out the list of formats that we support in model binding. For example, for `Dictionary<string, string>` following formats work which is kind of difficult for an end user to figure out:

*Model*: `Dictionary<string, string> states`
   1. states[wa]=washington&states[va]=virginia&states[mi]=michigan
   2. states[0].Key=wa&states[0].Value=washington&states[1].Key=va&states[1

[2016-07-14 18:22] dougbu commented on #1680
Relates to aspnet/Mvc#1001 which is about a similar doc comment gap. @danroth27 which would you prioritize?

[2016-07-14 18:23] JoelBennett commented on #1080
@Rick-Anderson Good to know.  Sorry, I must have overlooked that.  I'll have to do some playing around with it on my own to see how it behaves with time zones/UTC time.

[2016-07-14 20:45] danroth27 opened #1681 "Customizing model binding"
mvc/models/custom-model-binding

Outline
- Overview (what is model binding, refer to main doc, describe where a custom model binder will fit in)
- The Problem
  - Example: Base64 encode/decode. This is already implemented in the box. Reference as an example.
  - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Binders/ByteArrayModelBinder.cs
  - Database-based

[2016-07-14 21:13] Rick-Anderson commented on #1677
This is not a Q/A forum. One easy approach is to have only one file and one resx. Then you simply produce the 2nd resx.

[2016-07-14 21:13] #1677 closed

[2016-07-14 21:17] Rick-Anderson commented on #1080
From #1680

It would be nice to table out the list of formats that we support in model binding. For example, for `Dictionary<string, string>` following formats work which is kind of difficult for an end user to figure out:

*Model*: `Dictionary<string, string> states`
   1. states[wa]=washington&states[va]=virginia&states[mi]=michigan
   2. states[0].Key=wa&states[0].Value=washington&states[1].Key

[2016-07-15 05:30] tverboon commented on #1677
Thank you for your answer. I am aware that this is not a Q/A forum and maybe my introduction made it look that way. The approach you give is the 'traditional' work flow as it is described in the documentation and is well known. I still don't understand how this 'new' workflow is going to reduce the overhead if it means you still have to through all the sources and create your resx file based on _l

[2016-07-15 16:30] danroth27 commented on #1648
@agjohnson Sure, but this is valid HTML right? Input tags are void tags. Are there constraints that we need to be aware of when putting HTML in our templates?

[2016-07-15 17:12] danroth27 commented on #1648
I built a new [epub](https://www.dropbox.com/s/9zipfmcqhp2v1hg/aspnet-aspnet-danroth27-epub.epub?dl=0) with a fix. @tugberkugurlu can you try it out?

[2016-07-15 17:51] #1648 closed

[2016-07-15 18:53] agjohnson commented on #1648
@danroth27 correct, it was valid HTML but not XHTML. EPUB seems to require valid-ish XHTML.

[2016-07-15 20:09] danroth27 commented on #1680
We have some text in the [model binding](https://docs.asp.net/en/latest/mvc/models/model-binding.html) doc covering this, but it's hard to find and it looks wrong:

[2016-07-15 20:15] #1680 closed

[2016-07-15 20:28] danroth27 commented on #1673
We should add instructions to the Logging article that shows how to setup logging on Azure today. We also plan to do some feature work to make the experience more seamless. There is some good content on enabling logging in Antares here: https://blog.3d-logic.com/2016/06/08/running-asp-net-core-applications-with-iis-and-antares/. We should probably show using a real logging framework instead of std