[2018-04-10 22:42] #3463 closed

[2018-04-10 22:55] scottaddie opened #5932 "Enable conceptual versioning in the ASP.NET Core docset"
Support the following product version monikers:
* aspnetcore-1.0
* aspnetcore-1.1
* aspnetcore-2.0
* aspnetcore-2.1

[2018-04-11 01:17] Rick-Anderson opened #5935 "Add 2.1 include warning to all SignalR content"
For example https://github.com/aspnet/Docs/blob/master/aspnetcore/includes/2.1.md

@rachelappel  can you get this completed in the next couple of days?

[2018-04-11 01:27] Rick-Anderson opened #5937 "Add Microsoft.AspNetCore.App to dotnet docs repo"
Update the [Metapackages](https://docs.microsoft.com/en-us/dotnet/core/packages#metapackages) sections to include  Microsoft.AspNetCore.App

[2018-04-11 01:50] Rick-Anderson opened #5938 "Partial tag helper analyzer warnings"
See [5:20 in video](https://www.dropbox.com/s/9olqhldt75vngoz/Review%20ASP.NET%20Core%202.1%20doc%20priorities%20-%20Monday%2C%20April%209%2C%202018%208.09.35%20AM.mp4?dl=0)

Analyzer flags HTML.Partial sync version saying you should use the async version or the [Partial Tag Helper](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/partial-tag-helper?view=aspnetcore-2.1&v

[2018-04-11 02:04] Rick-Anderson opened #5939 "Document SetCompatibilityVersion"
From template
`.SetCompatibilityVersion(CompatibilityVersion.Version_2_1);` in `ConfigureServices`

See [team blog](https://blogs.msdn.microsoft.com/webdev/2018/02/27/introducing-compatibility-version-in-mvc/)

[2018-04-11 03:48] anurse opened #5943 "Merge markers left in on SignalRChat.csproj"
Looks like maybe there was a bad merge in SignalRChat.csproj:

https://github.com/aspnet/Docs/blob/8ad0c244667d054021c4d1346cb0270f94b5268d/aspnetcore/signalr/get-started/sample/SignalRChat.csproj#L15-L17

See https://github.com/aspnet/SignalR/issues/1930#issuecomment-380312647

[2018-04-11 14:21] MelnikovIG opened #5944 "Sample Docs/aspnetcore/mvc/models/validation/sample/ not compilable"
Sample `https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/models/validation/sample` not compilable since `UserRepository` not implement
https://github.com/aspnet/Docs/blob/master/aspnetcore/mvc/models/validation/sample/IUserRepository.cs#L6

method from `IUserRepository`
Looks like it was broken by https://github.com/aspnet/Docs/pull/4768

[2018-04-11 14:50] rowanmiller commented on #5928
We should chat. There are some changes coming to DOCS that will affect custom banners. We are also working on standardizing - initially between .NET Site and .NET Docs.

[2018-04-11 15:57] anurse opened #5945 "Clearly state supported browsers for SignalR sample code"
https://docs.microsoft.com/en-us/aspnet/core/signalr/get-started?view=aspnetcore-2.1&tabs=visual-studio

The sample code here uses modern ECMAScript 6 features and isn't supported in IE 11. We should do one (or multiple) of the following:

1. Clearly indicate that the sample does not support IE 11. Direct users to tools like https://babeljs.io/ to transpile for older browsers
2. Convert the sample

[2018-04-11 16:25] scottaddie commented on #5928
@mairaw See Rowan's message above. Sounds like your custom UHF L1 header for .NET docs may be impacted.

[2018-04-11 17:08] mairaw commented on #5928
adding @cartermp who is the only one with access to our UHF

[2018-04-11 20:59] Rick-Anderson commented on #5939
[Preview URLs](https://opbuildstorageprod.blob.core.windows.net/report/2018%5C4%5C11%5C6a0d29ae-bb37-09f1-c55a-4cfa862c6784%5CPullRequest%5C201804111936174726-5946%5Cworkflow_report.html?sv=2015-02-21&sr=b&sig=Tqmv1DgVUlrekUTGkMt%2FDez%2B6Z969L6neXJB7JhKLwM%3D&st=2018-04-11T19%3A37%3A40Z&se=2018-05-12T19%3A42%3A40Z&sp=r)

[2018-04-12 03:34] guardrex commented on #5520
Cross-reference:
* https://github.com/aspnet/Mvc/issues/6935
* https://github.com/aspnet/Mvc/pull/7144

[2018-04-12 04:08] guardrex commented on #5520
@pranavkm Looks like this should be focused on [IPageHandlerModelConvention](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.RazorPages/ApplicationModels/IPageHandlerModelConvention.cs) ... not `IPagePropertyModelConvention`.

[2018-04-12 04:14] #5505 closed

[2018-04-12 04:33] Rick-Anderson commented on #5945
@anurse unless you object, I'll have @rachelappel take your first option.
@rachelappel  can you get this completed in the next couple days?

[2018-04-12 04:35] Rick-Anderson commented on #5944
@Rabadash8820 can you take a look at this?

[2018-04-12 04:37] Rick-Anderson commented on #5943
@rachelappel  can you fix this ASAP and let me know so I can merge to live.

[2018-04-12 16:33] anurse commented on #5945
Yeah, I agree. Let's make sure to call out tools like Babel to transpiling so users can still make the sample work on IE 11 if they want.

[2018-04-12 17:03] #5943 closed

[2018-04-12 17:47] pranavkm commented on #5520
@guardrex might be good to add a quip about property model \ parameter model conventions. Sort of along the lines of https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/application-model?view=aspnetcore-2.1#sample-modifying-the-parametermodel. For most parts, you could copy the docs \ samples verbatim.

[2018-04-12 19:06] rachelappel commented on #5935
Fixed by https://github.com/aspnet/Docs/pull/5946

[2018-04-12 19:06] #5935 closed

[2018-04-12 20:37] #5945 closed

[2018-04-12 21:29] #5754 closed

[2018-04-13 00:13] guardrex opened #5958 "Address how non-IPageConvention conventions are described for RP and MVC"
WRT: Razor Pages route and app convention features in ASP.NET Core
* https://docs.microsoft.com/aspnet/core/mvc/razor-pages/razor-pages-convention-features
* aspnetcore/mvc/razor-pages/razor-pages-convention-features.md

From @pranavkm on #5520 ...

The current RP conventions topic entirely focuses on conventions that implement `IPageConvention` ... so it's very RP `options.Conventions`-focused. C

[2018-04-13 00:14] guardrex commented on #5520
@pranavkm Where we stand today with this topic is that it focuses on conventions that implement `IPageConvention` ... so it's very RP `options.Conventions`-feature focused.

Given this issue is only to cover new 2.1 `IPageConvention`-based features (and there seems to be only one), let's address that :point_up: separately. https://github.com/aspnet/Docs/issues/5958

[2018-04-13 03:58] Rick-Anderson opened #5960 "Option to opt-out of HTTPS"
See https://blogs.msdn.microsoft.com/webdev/2018/04/12/asp-net-core-2-1-0-preview2-now-available/

[2018-04-13 08:53] RehanSaeed commented on #5812
The docs suggest using host filtering only if you are exposing Kestrel to the internet. Presumably, IIS and NGINX have host filtering built into them already.

@Tratcher According to your comment in https://github.com/aspnet/BasicMiddleware/pull/312 `ForwardedHeadersOptions` also now has an `AllowedHosts` property. If you are using the ForwardedHeaders middleware, then you are running behind a L7

[2018-04-13 09:07] RehanSaeed commented on #3068
[Source](https://serverfault.com/questions/124517/whats-the-difference-between-unix-socket-and-tcp-ip-socket)

So this would only work if you had NGINX and an ASP.NET Core app running on the same machine right? In a Docker based scenario, that cannot be guaranteed.

[2018-04-13 13:02] Tratcher commented on #5812
Nginx doesn't validate the host by default, nor does IIS, you have to specifically configure that, see our nginx and IIS docs. The host has to be validated somewhere, it's up to you to decide where.

And yes that scenario requires XForwardedHost.

[2018-04-13 13:44] rachelappel opened #5963 "signalr/hubs Code from outside the Hub class"
A customer comment from Glen95 on the https://docs.microsoft.com/en-us/aspnet/core/signalr/hubs?view=aspnetcore-2.1 doc:

"It would be very helpful if you could add a section similar to https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/hubs-api-guide-server#how-to-call-client-methods-and-manage-groups-from-outside-the-hub-class  that explains "How to call client methods and

[2018-04-13 14:16] RehanSaeed commented on #5812
@Tratcher If I use `ForwardedHeadersOptions.AllowedHosts`, I don't need to use the HostFiltering middleware right?

For IIS, don't use top-level wildcard bindings (http://*:80/ and http://+:80) [Source](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.1&tabs=aspnetcore2x).

For NGINX you have to set `server_name  example.com *.example.com;` [Source](https://docs.

[2018-04-13 14:16] rachelappel opened #5964 "signalr/get-started enhancements"
Change prereqs and add text to note the sentence below:

* Add to the text of the get-started doc a note stating that the SignalR libraries are part of the ASP.NET Core libraries in the visual studio project templates. Comments show users are confused and are still looking for packages anyway, and sometimes grabbing the older ones thinking those are the new ones.

* Make it clear that npm is for c

[2018-04-13 14:37] Tratcher commented on #5812
Right, ForwardedHeadersOptions.AllowedHosts and the HostFiltering middleware duplicate functionality for slightly different scenarios.

[2018-04-13 14:43] #5264 closed

[2018-04-13 15:01] guardrex commented on #5931
We already have this: https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/uploading-files?view=aspnetcore-2.1#link-the-file-upload-razor-page

[2018-04-13 15:01] #5931 closed

[2018-04-13 15:59] guardrex opened #5967 "Incorrect build warning before successful build without a warning"
RE: https://github.com/aspnet/Docs/pull/5892

It threw an email warning about a bad bookmark before it built without the warning.

The warning is bogus ... `master` branch indicates ...

[code]

![capture](https://user-images.githubusercontent.com/1622880/38745157-6114b34a-3f09-11e8-9985-44d1662fd9c4.PNG)

![capture1](https://user-images.githubusercontent.com/1622880/38745160-635a94da-3f09-11e8-86

[2018-04-13 16:00] guardrex commented on #5967
Also note a nit on the email where a build fails that it claims "success" in the subject line ...

![capture2](https://user-images.githubusercontent.com/1622880/38745322-d933f82c-3f09-11e8-825d-12136bb199b5.PNG)

[2018-04-13 16:25] rachelappel opened #5968 "Modern JavaScript and supported browsers in samples"
@anurse RE: Extending the recent issue and PR about modern JS and IE11. (https://github.com/aspnet/Docs/issues/5945)

Take a look at chat.js and es5-chat.js at https://github.com/rachelappel/SignalRChat/tree/master/SignalRChat/wwwroot/js
I would like to use chat.js with the comments in it, and add es5-chat.s alongside it to the samples.  I ran my sample that I use for the doc through Babel and cop

[2018-04-13 16:30] anurse commented on #5963
Duplicate of #5493

[2018-04-13 16:47] #5963 closed

[2018-04-13 16:48] anurse commented on #5968
Looks ok to me

[2018-04-13 16:58] scottaddie commented on #5927
Moved issue to https://github.com/aspnet/templating/issues/473 for review.

[2018-04-13 16:58] #5927 closed

[2018-04-13 18:08] scottaddie opened #5969 "Move Razor syntax doc"
Now that conceptual versioning has been added to the ASP.NET Core docs, the [Razor syntax](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-2.1) doc should be relocated to avoid confusion. It currently resides within a Razor Pages TOC node. When the user selects a version before 2.0, this node name no longer makes sense. Relocate the doc to the root of the MVC node.

[2018-04-13 19:47] #5891 closed

[2018-04-13 21:13] #4568 closed

[2018-04-13 21:14] jkotalik commented on #4568
Thanks @Rick-Anderson ❤️

[2018-04-13 22:01] scottaddie opened #5976 "Relocate Razor Pages TOC node"
Related to discussion in https://github.com/aspnet/Docs/issues/5969. Move the Razor Pages TOC node to the top level, where it used to be. This setup works much better with the conceptual versioning we put into place. Also, add the Razor syntax doc back under the Razor Pages TOC node.

[2018-04-13 23:03] #5976 closed

[2018-04-14 15:41] #5844 closed

[2018-04-16 15:38] scottaddie commented on #5932
Fixed by https://github.com/aspnet/Docs/pull/5920

[2018-04-16 15:38] #5932 closed

[2018-04-16 16:07] rachelappel opened #5991 "signalr/supported-platforms 4.x update"
https://docs.microsoft.com/en-us/aspnet/signalr/overview/getting-started/supported-platforms
Update so it says that Windows Server 2016 is supported with SignalR earlier versions

[2018-04-16 17:51] denisyfrolov commented on #5832
Looks like the CDN is pretty dead currently :-(

[2018-04-16 18:10] ChrisSfanos commented on #5832
Hey @denisyfrolov - I just hit https://docs.microsoft.com/en-us/aspnet/ajax/cdn/overview and also tried to download a jQuery file and both worked.  Are you seeing something different?

[2018-04-16 18:47] denisyfrolov commented on #5832
@ChrisSfanos I am. ERR_CONNECTION_TIMED_OUT from my location (Russia). I'm receiving cs9.wpc.v0cdn.net host

[2018-04-16 21:54] denisyfrolov commented on #5832
Sh.., Seems like the IP address was blocked here in Russia by government communication department http://blocklist.rkn.gov.ru/. I have no idea why they did it, but pretty similar they were blocking someone else and puted the address by mistake like just why not. Sort of...
![sc1](https://user-images.githubusercontent.com/5620027/38837196-ba006008-41d9-11e8-873b-dacb6403f67d.png)
![sc2](https://use

[2018-04-16 22:17] blowdart commented on #5832
Oh dear. This is a CDN so it hosts more things than just the asp.net cdn, heck it could be part of the attempts to block Telegraph, I doubt there's anything we can do here unfortunately :(

[2018-04-16 22:20] Rick-Anderson opened #5993 "Update MVC View Page"
https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-view

search for MVC View Page

Per customer:
When you click on the Razor View it says on the right pane "MVC View Page". I checked online and some people are confirming this was changed to Razor View on version 15.6 of VS 2017.

[2018-04-16 22:41] denisyfrolov commented on #5832
@blowdart sounds catastrophically. Do you understand that the CDN is used by giant numbers of sites including Russian ones. And is uses for many of Microsoft's sites including Azure Portal for instance.

[2018-04-16 22:43] blowdart commented on #5832
I do, but Russia controls their bloke list here. We will talk to the CDN hosts, but if they are being blocked for other things they're caching then it's just going to be blocked again.

@ChrisSfanos can you open a support ticket please?

[2018-04-16 22:56] #5968 closed

[2018-04-16 23:06] denisyfrolov commented on #5832
@blowdart I do understand you can't change the blocking list, but c'mon, you have to make something up with that, atleast a mirror or something like that. Otherwise there will be really huge problem to many of people here in Russia. The RKN's blocking is pretty slow process for many of local ISPs but it will be global sooner or later.

[2018-04-16 23:10] #5520 closed

[2018-04-16 23:11] blowdart commented on #5832
The CDN *is* the mirror. That's the point of it unfortunately. Spinning up a new site would mean you either change code to use a new host, or we redirect everyone to the mirror, which isn't sustainable in terms of traffic, which is why we offload to a CDN in the first place.

[2018-04-16 23:29] Rick-Anderson commented on #5832
@denisyfrolov  per the [CDN](https://docs.microsoft.com/en-us/aspnet/ajax/cdn/overview) article:

[2018-04-16 23:39] denisyfrolov commented on #5832
@Rick-Anderson yeah, damn good idea. Who will tell this to the Azure Portal developers?
![sc3](https://user-images.githubusercontent.com/5620027/38840468-7e3200f4-41e8-11e8-8a57-92317a1ae04d.png)

[2018-04-17 00:12] denisyfrolov commented on #5832
@Rick-Anderson and don't forget about MSDN's blog developers please..

![sc5](https://user-images.githubusercontent.com/5620027/38841461-2fe636d6-41ed-11e8-828c-e3317ca811f0.png)

[2018-04-17 00:13] denisyfrolov commented on #5832
@Rick-Anderson shall I continue?

[2018-04-17 00:44] otryshko commented on #5832
@denisyfrolov what if tomorrow *.microsoft.com will be blocked (because why not?) More practical approach would be to use a VPN like Chinese do, no?

[2018-04-17 00:50] denisyfrolov commented on #5832
@otryshko well, probably it sounds like a plan.. in long term.. but how it is supposed to help to consumers now?) let's solve problems as they occur

[2018-04-17 01:31] Rick-Anderson commented on #5832
@denisyfrolov Thanks for the report. I opened a bug with the Azure folks.

[2018-04-17 01:52] denisyfrolov commented on #5832
@Rick-Anderson That's not about the Azure's sites only. Almost each of Microsoft's sites is absolutely unusable in Russia now, like: Docs, MSDN, Visual Studio, Office, Windows, Xbox, all of them and many others are almost dead now.

[2018-04-17 01:53] Rick-Anderson commented on #5832
@denisyfrolov I'm opening up bugs.

[2018-04-17 01:57] davidebbo commented on #5832
@denisyfrolov are you sure that it really affects everyone in Russia? I would think that this would make big news, and I'm not finding any mentions of it in the news or on Twitter.

[2018-04-17 02:06] denisyfrolov commented on #5832
@davidebbo oh yes I am, it started at night.. Here is 5 am now in Moscow, people sleep yet. Also It depends on ISP, many of them do the blocking very slow. But from all of the country I'm receiving reports that Microsoft's sites are dying. It is not about Microsoft only, many of IP addresses of AWS are also blocked. .

[2018-04-17 02:14] denisyfrolov commented on #5832
@davidebbo here is the latest news by this topic https://www.bleepingcomputer.com/news/government/russia-bans-18-million-amazon-and-google-ips-in-attempt-to-block-telegram/

[2018-04-17 08:09] pronichkin commented on #5832
@denisyfrolov "Almost each of Microsoft's sites is absolutely unusable in Russia now, like: Docs, MSDN, Visual Studio, Office, Windows, Xbox, all of them and many others are almost dead now."

For good or bad, I cannot confirm that, at least right now. (11 AM Moscow time.) All of the sites you mentioned are currently working for me. They are a bit slower then usual, but open successfully without n

[2018-04-17 08:14] tr3x33 commented on #5832
@denisyfrolov

I was not able to reproduce the mentioned issue.

I checked every from this list and all of them fine, moreover, I used Azure Portal earlier today without any issues. I'm located in Russia as well.

So is there a chance to reproduce it somehow?

[2018-04-17 08:28] pronichkin commented on #5832
@phpony

indeed, this particular URL does not work for me either.

[2018-04-17 08:29] phpony commented on #5832
For example: https://docs.microsoft.com/en-us/aspnet/ajax/cdn/overview page uses jQuery from Microsoft Ajax Content Delivery Network, so it loads, but very slow and without any js functionality:

![роскомпозор](https://i.imgur.com/NLIfAzC.png)

[2018-04-17 08:33] ChALkeR commented on #5832
web.skype.com is also effectively blocked (html loads, js doesn't).

[2018-04-17 08:40] tr3x33 commented on #5832
@phpony ye, thanks, that's particular URL for jquery-3.3.1.js doesn't work for me as well, but still, I don't see how it affects the mentioned MS websites

[2018-04-17 08:47] phpony commented on #5832
@tr3x33 well, you know, Microsoft for some unknown reason is using their own CDN on their sites. And as for now when CDN is blocked those sites are not working as intended. And some of them are **completely broken**:

![web.skype.com](https://i.imgur.com/j65Zmts.png)

[2018-04-17 08:49] ChALkeR commented on #5832
https://web.skype.com:
* https://s4w.cdn.skype.com/0-239-0/js/checkBrowserSupport.js
* https://s4w.cdn.skype.com/0-239-0/js/index.js

https://azure.microsoft.com:
* https://amp.azure.net/libs/amp/1.7.4/skins/amp-default/azuremediaplayer.min.css
* https://azurecomcdn.azureedge.net/cvt-267051159310fb9e9ab3701a1c39e064f60b7457875daefb451f39f145d7d8ae/bundles/home.css
* https://azurecomcdn.azureedge.n

[2018-04-17 09:42] Pzixel commented on #5832
This is an official governement site where you can check if site is blocked: https://blocklist.rkn.gov.ru

And it clearly says that at least some addresses are blocked:
![image](https://user-images.githubusercontent.com/11201122/38862094-ba52b872-423c-11e8-9467-c1c05e0d3731.png)

Use google translait for the page if neccessary.

[2018-04-17 11:27] lemenkov commented on #5832
This should be closed as "CLOSED, CHANGEYOURGOVERNMENT"

[2018-04-17 19:43] visual4 commented on #5832
currently not reachable from Germany too?
I get timeouts for https://ajax.aspnetcdn.com/ajax/3.5/MicrosoftAjax.js and jQuery within MS-Sites

Cheers,
Björn

[2018-04-17 20:02] ChrisSfanos commented on #5832
We are hearing reports of this from Europe.  We've asked Azure/Verizon to investigate

[2018-04-17 20:04] Mekanik commented on #5832
Azure App-insight availability test start failing from all Europe regions because of CDN `Unable to connect to the remote server`. Started approximately 2 hours ago.
![image](https://user-images.githubusercontent.com/670361/38893698-e653788c-423f-11e8-9edb-af2d67e81f02.png)

[2018-04-17 20:32] Rick-Anderson opened #6004 "WebAPI web api "Call the Web API with jQuery" doesn't work"
[**Call the Web API with jQuery**](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?hubRefSrc=email&utm_source=lfemail&utm_medium=email&utm_campaign=lfnotification&view=aspnetcore-2.1#call-the-web-api-with-jquery)

In this section, an HTML page is added that uses jQuery to call the Web API.

Per customers:

This is a great tutorial, up until the last part. It would be helpful i

[2018-04-17 20:34] Rick-Anderson opened #6005 "WebAPI web api "Call the Web API with jQuery" doesn't work"
Comment out new section of

see #6004

[2018-04-17 20:52] #6005 closed

[2018-04-17 20:53] Rick-Anderson commented on #6004
#6006 commented it out until fixed.

[2018-04-17 21:09] phpony commented on #5832
To the good news - CDN is now resolving to 93.184.221.201 instead of 93.184.221.200 and is available for me.

[2018-04-17 21:13] isaac2004 commented on #6004
I have some stuff going on tonight, I can fix this tomorrow

[2018-04-17 21:43] Rick-Anderson commented on #5993
Fixed in #5995

[2018-04-17 21:43] #5993 closed

[2018-04-17 22:38] guardrex opened #6008 "Document LibMan (client-side content manager)"
References:
* https://github.com/aspnet/templating/issues/471
* https://blogs.msdn.microsoft.com/webdev/2018/04/17/library-manager-client-side-content-manager-for-web-apps/

I'll mark for 2.2, but this can be done earlier if it lands in a 2.1.x patch.

[2018-04-17 23:08] Rick-Anderson opened #6009 "Doc Razor Page filters can't be applied to specific page handler methods."
Per https://github.com/aspnet/Mvc/issues/7674

[2018-04-18 12:27] gregbair opened #6013 "Default behavior when ASPNETCORE_ENVIRONMENT is empty is documented wrong"
In [Work with multiple environments](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/environments?view=aspnetcore-2.0#environments), it's stated (emphasis mine):

This last sentence in incorrect, through my testing, if the environment variable is not set, the property is just `null`.

[2018-04-18 14:51] #5906 closed

[2018-04-18 16:29] #5991 closed

[2018-04-18 16:34] anurse opened #6015 "ASP.NET Core SignalR: Supported Platforms Doc"
We should get a doc out with the supported platforms for ASP.NET Core SignalR. This should be a fairly high priority for SignalR, as we've had some confusion around it in the previews.

The existing doc is https://docs.microsoft.com/en-us/aspnet/signalr/overview/getting-started/supported-platforms . I think the doc for Core can be a lot simpler, and doesn't need to dive in to which transports are

[2018-04-18 17:02] guardrex opened #6017 "Eliminate ref source links from Change Tokens topic"
Change Tokens API (and the topic) have been out for a while now, so it's better to remove these at this point rather than to fix them.

Thanks to @user135711 for flagging this on https://github.com/aspnet/Docs/pull/6012.

[2018-04-18 17:38] guardrex commented on #6013
It should default here: https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/Internal/HostingEnvironment.cs#L10

Where/how are you trying to access `IHostingEnvionment`? Can you put up a simple repro? ... I'll take a look if you'll put up a repro and see if I can help. Otherwise, you'll need to ping the engineers on the Hosting repo. It's best to see if I can help first befo

[2018-04-18 17:38] #6017 closed

[2018-04-18 17:44] gregbair commented on #6013
Sorry, My bad, it was something we were doing wrong. I'll close this.

[2018-04-18 17:44] #6013 closed

[2018-04-18 18:00] guardrex opened #6020 "Expand content on physical file upload in RP tutorial"
https://docs.microsoft.com/aspnet/core/tutorials/razor-pages/uploading-files
*aspnetcore/tutorials/razor-pages/uploading-files.md*

The side note on physical file uploads doesn't quite add enough code to make it super clear what to do. I'm planning on expanding that code example a bit ... something along the lines of ...

[code]

[2018-04-18 18:35] rachelappel commented on #6015
I was just about to ping you about pushing this up to a P1, as a few customers have had questions about it.
The current doc can be trimmed down quite a bit.
I'll close this (dup) https://github.com/aspnet/Docs/issues/5300

[2018-04-18 18:46] rachelappel commented on #5300
Got it over here https://github.com/aspnet/Docs/issues/6015

[2018-04-18 18:46] #5300 closed

[2018-04-18 19:48] isaac2004 commented on #6004
@Rick-Anderson is this bug resolved now?

[2018-04-18 20:16] Rick-Anderson commented on #6004
@isaac2004  Yes - thanks.
If you put
Fixes #6004
in the PR, the issues is automatically closed when the PR is merged. That's what we usually do - rather than going back and manually closing the issue. Thanks again for your help.

[2018-04-18 20:36] Rick-Anderson commented on #6004
@isaac2004  had to revert. I forgot to check the build status.

[2018-04-18 20:37] Rick-Anderson commented on #6004
@isaac2004  Can you remove the images and just give instructions?

[2018-04-18 21:02] guardrex commented on #4652
@Rick-Anderson

This is a document content swap ... a rewrite/overhaul of the current topic. I'd like to avoid a redirect file entry and two versions of the integration testing topic, if possible. Given that the current integration testing topic is soooo MVC focused (well, 100% MVC really), can I rewrite the whole topic in-place for 2.1 (with the preview notice, of course) focused on RP (but with

[2018-04-18 22:13] Rick-Anderson commented on #4652
@guardrex  sounds good to me. @scottaddie  does that sound OK?

[2018-04-18 22:15] Rick-Anderson commented on #4652
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/secure-data?view=aspnetcore-2.1
See [this PDF file](https://github.com/aspnet/Docs/tree/master/aspnetcore/security/authorization/secure-data/asp.net_repo_pdf_1-16-18.pdf) for the ASP.NET Core MVC version.

If that PDF is OK, use it, otherwise create another date stamped PDF.

[2018-04-18 22:58] scottaddie commented on #4652
Now that we have conceptual versioning, I recommend preserving the MVC content for folks using bits before 2.0. With this approach, we wouldn't need a PDF.

[2018-04-18 23:06] Rick-Anderson commented on #4652
Is the MVC content worth maintaining? Can't they apply the RP content pretty easily to MVC controllers?

If it's not much work, then use versioning.

[2018-04-18 23:34] scottaddie commented on #4652
My opinion is that the MVC content is worth maintaining. We recommend Razor Pages, but there are far more MVC users out there.

[2018-04-18 23:40] Rick-Anderson commented on #4652
OK, lets go with that - unless @guardrex  can make a compelling argument.

[2018-04-19 01:49] guardrex commented on #4652
I can't use conceptual versioning with such an extensive overhaul/rewrite as this without putting large chunks of content into moniker tag sets. When I say "large," I mean *just about all of it*. It will still cover MVC, but it will be MVC using the 2.1 testing infrastructure.

If not outright cut in several spots, content will be heavily modified. I don't like this sample app; besides, the sample

[2018-04-19 01:50] Rick-Anderson commented on #4652
I agree, monikers won't work. Why not keep the doc and create a new one for RP. The only problem is do we really want the maintenance?

I'll try to get the stats.

[2018-04-19 01:51] Rick-Anderson commented on #4652
Unless you did the entire doc in a moniker and the new doc below that.

[2018-04-19 01:52] guardrex commented on #4652
Dan said 'no' to that. He wants one integration testing topic that covers both RP (priority) and MVC.

Yeah, but that's where the nesting is going to :boom: with the next release (or 2.3 or 3.0).

[2018-04-19 01:54] guardrex commented on #4652
PDF and full rewrite is the simplest, easiest way to go. We *can* sit on the PR until 2.1 lands if you want.

[2018-04-19 01:58] Rick-Anderson commented on #4652
Why won't the moniker < 2.1 work for the MVC content?

The new doc will be >= 2.1 and probably never need to change.

[2018-04-19 02:10] guardrex commented on #4652
The problem might just be training. I don't have access to the internal documents that explain conceptual versioning, and I wasn't in meetings where it was discussed/explained. Therefore, I might have significant knowledge gaps that prevent me from understanding how best to implement it in a case like this.

However, everything I listed is probably* true:

* Total topic overhaul/rewrite
* Topic wi

[2018-04-19 02:45] scottaddie commented on #4652
@guardrex There are 3 types of conceptual versioning:
* **Version by Folder** - At the top level of your docset, you can use moniker ranges to set up folders representing content sets whose content is NOT shared across versions. This is primarily targeted at scenarios involving migration of legacy content.
* **Version by File** - Within a top-level versioned folder, you can use file metadata to as

[2018-04-19 02:52] guardrex commented on #4652
I see. Thanks for explaining it out. I'm cool on **Version by File Zone**. Used it ... works great outside of having to duplicate entire tables (or lists until they get that fixed).

**Version by File** seems like it would be useful in total topic overhaul/rewrite scenarios. I'd like to just leave this current topic exactly as it is (perhaps making the sample snippets inline code) and then writing

[2018-04-19 08:31] osdev25 commented on #4268
found a solution

got to nuget package manager and search in installed package for Microsoft.VisualStudio.Web.BrowserLink.Loader and remove and build again. it worked for me.

[2018-04-19 14:52] scottaddie commented on #4652
@guardrex You can make that replacement doc appear only for 2.1+ by using the following metadata:

[code]

[2018-04-19 14:57] guardrex commented on #4652
@scottaddie How does the file naming/TOC work in that case?

[2018-04-19 15:21] terndrup opened #6027 "Hosting .NET Core app as IIS Sub Application"
Hi all,

i'm trying to host an .NET Core web application as a sub application under the IIS Default Website and it is behaving very strangely. What I'm looking to do is something like:

- Default IIS Website
  I- DotNetCoreApp (Converted to Application in IIS)

I have converted the .NET Core app to an application and I have created an AppPool with "No Managed Code" and assigned it to it. It all se

[2018-04-19 16:36] guardrex opened #6029 "Cross-link RP filtering to RP conventions"
Cross-link the topic and the [Authorize] section.

* Whole topic
  * https://docs.microsoft.com/aspnet/core/mvc/razor-pages/filter
  * xref:mvc/razor-pages/filter
* [Authorize]
  * https://docs.microsoft.com/aspnet/core/mvc/razor-pages/filter#authorize-filter-attribute
  * xref:mvc/razor-pages/filter#authorize-filter-attribute

Thanks to @Geir_Sagberg for flagging this.

[2018-04-19 16:50] #6015 closed

[2018-04-19 17:18] scottaddie opened #6030 "Serve the conceptual versioning group page in DocFX by default"
When conceptual versioning was enabled for the ASP.NET Core conceptual content, DocFX no longer served the landing page by default when running `docfx --serve`. Modify the *docfx.json* file to fix this.

[2018-04-19 17:41] #5964 closed

[2018-04-19 18:28] spottedmahn opened #6031 "Add Example of Testing Custom Handlers in Policy-based Authorization"
## Requests for new Sub-Topic

1. Update the [Policy-based authorization in ASP.NET Core documentation](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-2.1) to include how to test our custom handlers.

2. Write a test for `MinimumAgeHandler`

3. [Policy-based authorization in ASP.NET Core documentation](https://docs.microsoft.com/en-us/aspnet/core/secur

[2018-04-19 18:36] spottedmahn commented on #6031
SO Post: [Is it possible to write a test that can test an AuthorizationPolicy Object?](https://stackoverflow.com/questions/46651152/is-it-possible-to-write-a-test-that-can-test-an-authorizationpolicy-object)

[2018-04-19 19:18] #6004 closed

[2018-04-19 19:49] spottedmahn opened #6032 "Howto Use a handler for multiple requirements?"
## Issues with Existing Topics

I'm trying to understand [Use a handler for multiple requirements](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-2.1#use-a-handler-for-multiple-requirements).  I don't understand how to create my requirement(s).  Can this example be expanded?

---

In the one to one scenario, I do this: `public class MinimumAgeHandler :

[2018-04-19 19:57] HaoK commented on #6032
@spottedmahn there is no glue at the interface level, your permission handler can handle any requirements you want.  Its app specific at this point, what requirements you have, and which handler class is responsible for which requirement.

[2018-04-19 19:59] HaoK commented on #6032
At the end of the day authorization will succeed as long as all requirements have been met, whether that's one handler succeeding them all, or a bunch of different handlers is up to the app.

[2018-04-19 20:01] spottedmahn commented on #6032
You guy are amazing!  That is an amazing response time ⚡!

Processing 🤔 your response...

[2018-04-19 20:04] scottaddie opened #6033 "Document core components in Policy-based authz doc"
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-2.1

Add an overview section to this doc that explains the core components involved (e.g., IAuthorizationHandler & IAuthorizationRequirement). Also need an explanation of how these components relate to each other.

@HaoK Please provide an initial draft of this content, and I can clean it up.

[2018-04-19 20:05] scottaddie commented on #6032
@spottedmahn I've created issue https://github.com/aspnet/Docs/issues/6033 to clarify some things in the doc. Anything else you'd like to see addressed in there?

[2018-04-19 20:17] spottedmahn commented on #6032
- I think it would help to see the `ConfigureServices` of `ReadPermission`, `EditPermission` and `DeletePermission`
- I think it would help to see the Policies used in a controller
- In general, provide a more complete sample.

I'm thinking I can do this... not 100% at this point though.

[code]

[code]

[2018-04-19 20:29] scottaddie commented on #6032
@spottedmahn Thank you for the feedback. In the meantime, here's the sample app associated with the doc: https://github.com/aspnet/Docs/tree/master/aspnetcore/security/authorization/policies/samples/PoliciesAuthApp1.

[2018-04-19 20:29] HaoK commented on #6033
Starting from the bottom up, the primary service that determines if authorization is successful is `IAuthorizationService` which has two versions:

[code]

`IAuthorizationRequirement` is a marker service with no methods, and the mechanism for tracking whether authorization is successful.

`IAuthorizationHandler`s are responsible for checking if requirements are met
[code]

The `AuthorizationHandle

[2018-04-19 20:31] scottaddie commented on #4652
@guardrex The single piece of metadata I provided above takes care of toggling TOC visibility automatically. This is how we handle the SignalR docs.

[2018-04-19 20:32] spottedmahn commented on #6032
Oh, nice!  Perhaps this sample can be update for the [Use a handler for multiple requirements](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-2.1#use-a-handler-for-multiple-requirements) example?

Looking at [`ConfigureServices`](https://github.com/aspnet/Docs/blob/master/aspnetcore/security/authorization/policies/samples/PoliciesAuthApp1/Startup.cs#L4

[2018-04-19 20:34] HaoK commented on #6032
@spottedmahn Yeah that's from the sugar default implementation, `TRequirement` isn't on the interface

[2018-04-19 20:34] HaoK commented on #6032
`AuthorizationHandler<TRequirement>` is sugar to make it easy to handle on requirement

[2018-04-19 20:40] guardrex commented on #4652
I see. Cool.

@Rick-Anderson I think we can cancel the meeting tomorrow. I simply didn't understand the features.

[2018-04-19 20:40] scottaddie commented on #6032
@spottedmahn See the following file for the handler: https://github.com/aspnet/Docs/blob/master/aspnetcore/security/authorization/policies/samples/PoliciesAuthApp1/Services/Handlers/PermissionHandler.cs

[2018-04-19 21:09] guardrex commented on #4652
@scottaddie Sorry ... let me check just one more little thing on this.

I can't discern how it works exactly by looking at [SignalR topics (/aspnetcore/signalr)](https://github.com/aspnet/Docs/tree/master/aspnetcore/signalr) because I don't see *pairs of matching topics* providing alternatively-versioned content.

I guess it works based on the matching UIDs. Let me give you my plan, and then you c

[2018-04-19 21:14] Rick-Anderson commented on #5521
Closing.

[2018-04-19 21:36] Rick-Anderson opened #6035 "Update"
## General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.
This template offers some suggestions to consider
when creating an issue.

## Issues with Existing Topics

If the issue is a simple typo or similar correction, just submit a PR.
Otherwise, let us know what's wrong or what we should improve. Include a
link to the topic.

## Requests for

[2018-04-19 21:37] Rick-Anderson opened #6036 "Update "Add a controller" for new UI"
[Per customer](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-controller?hubRefSrc=email&utm_source=lfemail&utm_medium=email&utm_campaign=lfnotification&view=aspnetcore-2.1#lf-content=177018725:785976193):

Please update the page, MVC Controller Class no longer exists in the item selection list, is should be "Controller Class". Thanks guys. | Please update the page, MV

[2018-04-19 23:01] Rick-Anderson opened #6038 "Fix link on https://www.asp.net/mvc"
![image](https://user-images.githubusercontent.com/3605364/39022532-b612ac2c-43d1-11e8-8c2b-65820cea969f.png)

The best link I could find is https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-dotnet-framework

[2018-04-19 23:14] #6035 closed

[2018-04-20 00:04] #6036 closed

[2018-04-20 00:15] sudeepku commented on #6030
@scottaddie
Please remove the "dest" property from the Docfx.json file within the content group below.
 "group1": {
        "dest": "group1-dest",
        "moniker_range": ">= aspnetcore-1.0"

[2018-04-20 04:25] guardrex commented on #6027
@terndrup By "virtual web root," do you mean "IIS virtual directory"? If so, IIS vdirs aren't supported with ASP.NET Core, and that might explain why you're having path-related issues.

[2018-04-20 08:40] terndrup commented on #6027
@guardrex thanks for your reply. What I meant was that all relative paths are being rooted to the parent at http://localhost/ rather than my "web root" at http://localhost/DotNetCoreApp . Sorry if my terminology is off, i'm new to this whole IIS thing :)

I don't think I'm using a Vdir as I converted my .NET Core app directory to an Application in IIS. Thanks!

[2018-04-20 11:30] spottedmahn commented on #6032
Thanks @scottaddie.  Looks like the same code I see on the docs page.  I was hoping for a complete code sample.

![image](https://user-images.githubusercontent.com/14079228/39048761-99c89a7c-446c-11e8-8bbb-65a89a5731a8.png)

[2018-04-20 11:32] spottedmahn commented on #6032
Ahh, I see, thanks @HaoK!

[2018-04-20 14:36] terndrup commented on #6027
Thank you for your elaborate reply! So, I cannot honestly say that I understand why, but the following seems to make my application work as I expect:

[code]

I would expect these two things to do much the same thing and therefore be mutually exclusive, but so far I have not gotten it to work with having just one of them. When I have only one of them in place, not all links are appended properly.

[2018-04-20 15:35] guardrex commented on #6027
Yeah ... I had a feel'in it might be like that. I don't see it too much in my own bits because I rely so heavily on the Azure CDN to serve static assets and haven't maintained many sub apps (actually, I got rid of several sub apps ~13 years ago at my org and never looked back! lol), but it makes sense from the browser's perspective.

We recently (less than a month ago) put up a topic that talks ab

[2018-04-20 15:54] scottaddie commented on #4652
@guardrex Your understanding is correct. The SignalR docs only apply to 2.1+, hence the reason why `monikerRange: '>= aspnetcore-2.1'` is applied to those docs. If you'd like *integration-testing.md* to only display for versions prior to 2.1, then you'll need to add the following metadata to that doc: `monikerRange: '<= aspnetcore-2.0'`. The versioning system handles toggling visiblity based on th

[2018-04-20 15:56] guardrex commented on #4652
Gotcha . . thanks. I'm good. :+1: This should go well.

[2018-04-20 23:25] KPixel commented on #5521
I got side-tracked from the various samples I'm working on, and ended up putting together a tutorial for Pipelines. The goal is to go all the way to Connections, but I'm currently stuck.

So, I though I would share what I have:

https://github.com/KPixel/Prototypes/tree/master/Pipelines

The images are [created with an SVG javascript library](https://github.com/KPixel/Prototypes/blob/master/Pipeli

[2018-04-21 03:12] #5939 closed

[2018-04-21 11:43] scottcate opened #6047 "Missing Page: Step 2 'Add a Model'"
I thought this 404 was a bad link, but it turns out the actual content is missing.

https://github.com/aspnet/Docs/tree/master/aspnetcore/tutorials/razor-pages/model

Maybe it was removed in a merge?

Currently linked to from lots of places, including the TOC.

Reported on Twitter, https://twitter.com/mdpopescu/status/987593945642360832

[2018-04-21 14:39] guardrex commented on #6047
@scottcate Thanks for reporting. The topic is present at ...

https://docs.microsoft.com/aspnet/core/tutorials/razor-pages/model

New versioning features change the URL in the TOC to ...

https://docs.microsoft.com/aspnet/core/group1-dest/tutorials/razor-pages/model

See the `group1-dest` segment :point_up:.

There's an internal issue open to investigate+fix the problem.

[2018-04-21 18:37] zinczinc commented on #3969
Can someone point me to the working example or code snippets where the missing AuthenticatorUri has been fixed?

[2018-04-21 18:39] guardrex opened #6048 "RP Integration testing content updates"
* Remove integration testing content from RP testing topic
* Add API topic links to new topic

[2018-04-21 21:23] Rick-Anderson opened #6049 "Tag Helper, Per customer:  @addTagHelper works with assembly name, not the namespace"
Hi, thanks a lot for detailed tutorial! May I just ask you to highlight somehow that @addTagHelper works with assembly name, not the namespace? It is really easy to miss. Just spent a few hours trying to understand why my helper is not working until found the answer on SO. | Hi, thanks a lot for detailed tutorial! May I just ask you to highlight somehow that @addTagHelper works with assembly name,

[2018-04-22 00:46] guardrex commented on #4652
@javiercn It seems like it's very specific about the host builder signature in the SUT.

Seems like I can't use ...

[code]

... but instead need to use this ...

[code]

... yielding the method sig of `public static IWebHostBuilder CreateWebHostBuilder(string [] args)` to get the SUT initialized. Or, do you prefer I go along the lines of ...

... which I think I would prefer to do if this otherwi

[2018-04-22 08:53] guardrex commented on #6047
We'll close this now, as the internal issue covers it. It should be fixed soon.

[2018-04-22 08:53] #6047 closed

[2018-04-22 10:26] alexandr-osprey commented on #3864
I've been struggling with error "LocalDb connection : Login failed" during migrations or any tries to connect to localdb. This really helped me. Such a treasonous problem.

[2018-04-22 23:06] guardrex opened #6052 "Bad code block rendering with conceptual versioning"
[Internal bug](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1259263)
Example: https://docs.microsoft.com/aspnet/core/razor-pages/razor-pages-conventions

![capture](https://user-images.githubusercontent.com/1622880/39100890-13d2c31a-4657-11e8-8c1a-bdb09505f187.PNG)

... but the spacing for those code blocks is [correct in the source (L88-L108)](https://github.com/aspnet/Docs/bla

[2018-04-23 05:35] #5944 closed

[2018-04-23 05:43] ebicoglu opened #6056 "Links don't work"
Links don't work for example

https://docs.microsoft.com/en-us/aspnet/core/group1-dest/tutorials/razor-pages-vsc/?view=aspnetcore-2.1
https://docs.microsoft.com/en-us/aspnet/core/group1-dest/mvc/overview?view=aspnetcore-2.1

![image](https://user-images.githubusercontent.com/9526587/39108715-501d342e-46d2-11e8-83d1-c4583ccca094.png)

[2018-04-23 06:34] Kyappy commented on #6056
Same problem, but until it is fixed, you can still access the link by removing "group1-dest" in the url.
So https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages-vsc/?view=aspnetcore-2.1 and https://docs.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-2.1 will work

[2018-04-23 09:49] ebicoglu commented on #6056
@Kyappy  thanks

[2018-04-23 14:28] guardrex commented on #6056
Thanks for reporting. We have an internal issue tracking this and it should be fixed very soon. We're sorry for the trouble. I'll close this since we're tracking the work internally.

[2018-04-23 14:28] #6056 closed

[2018-04-23 15:00] scottaddie commented on #6052
@adkinn @Sampy Is this a bug?

[2018-04-23 15:13] Vertigo093i commented on #5832
93.184.221.201 is already blocked too. And even next IP address 152.199.20.1 is blocked as of today.
https://reestr.rublacklist.net/rec/349558/

[2018-04-23 16:02] denisyfrolov commented on #5832
The CDN is blocked again.

[2018-04-23 16:50] ChALkeR commented on #5832
https://github.com/ChALkeR/fuckrkn-dnsmasq/blob/master/fuckrkn.conf — this kinda fixes it for me (for now).

[2018-04-23 16:53] rloutlaw commented on #5887
I'm just going to echo a few other points here for emphasis:

- Build a sub-MVP grade IoT-ish dashboard, image gallery, or location/review (yelp-ish) style application.  These are tougher to develop than a todo-style application but this effort is deeper than just traditional tech docs tutorial work and needs more moving parts to be worth reading vs. traditional tutorials.
- You want two applicati

[2018-04-23 18:53] Rick-Anderson opened #6059 "How to download Call a Web API From a .NET Client"
Per customer, need to add download instructions.

[2018-04-23 19:32] Rick-Anderson opened #6061 "Update "Enforce HTTPS" doc to include ERR_TOO_MANY_REDIRECTS solution"
See https://github.com/aspnet/Home/issues/3086

[2018-04-23 20:37] guardrex opened #6062 "Should we link WebHost convienance methods under Startup class examples?"
@scottaddie ... your Midwestern sense of humor is showing! 😀 lol

Let's go ahead and discuss openly ...

We can't have both the `WebHost` extension method and the `Startup` class shown for every example. However, a link might not be out of the question. Each place in the docs where a `Startup` class example is shown could have a link ... perhaps a floating link under the example ...

[See how to c

[2018-04-23 20:40] scottaddie commented on #6062
@guardrex Do we have many customers asking to see the `WebHost` extension methods instead? If not, let's stick with just the `Startup` class examples. That's what the templates use after all.

[2018-04-23 20:50] guardrex commented on #6062
Yes on Slack ... it has come up several times. Generally speaking ... and this isn't a conclusion based on any data ... when devs see the extension methods, they 😍 that approach for run-of-the mill LOB web apps with simple startup scenarios.

I took to them myself immediately. I hate looking around all over the bleed'in place for configuration: config files ... env vars ... classes in several diff

[2018-04-23 21:17] Rick-Anderson opened #6063 "Web API: Document access protected endpoints in web api"
See [Cookie authentication: unable to disable automatic challenge](https://github.com/aspnet/Security/issues/1394)

[2018-04-23 21:22] #6059 closed, assigned to Rick-Anderson

[2018-04-23 21:25] guardrex opened #6064 "Remove Nano Server topic"
https://docs.microsoft.com/aspnet/core/tutorials/nano-server

Per `@shirhatti` ...

[2018-04-23 23:35] #6064 closed

[2018-04-23 23:53] Rick-Anderson commented on #6038
@terrimorton  do you own this page?

[2018-04-23 23:55] terrimorton commented on #6038
Yes, we should have this fixed tomorrow.

[2018-04-23 23:55] Rick-Anderson opened #6066 "CLI cert instructions: dotnet dev-certs https --trust"
Per @guardrex  https://github.com/aspnet/Docs/issues/5393

### Improve 'how to download' for running with HTTPS

https://docs.microsoft.com/aspnet/core/tutorials/index#how-to-download-a-sample

Possibly update section heading: *How to download and run a sample*

Per @scottaddie:

May also need the tool installed ...

Change "how to download" link text to "how to download and run" across the repo.

[2018-04-23 23:57] Rick-Anderson commented on #6066
@scottaddie

* Do you agree with @guardrex, this should be documented in https://docs.microsoft.com/aspnet/core/tutorials/index#how-to-download-a-sample ?
* Confirm you don't need `dotnet install tool dotnet-dev-certs -g --version 2.1.0` if you install the .NET Core 2.1 SDK.

[2018-04-24 02:09] terrimorton commented on #6038
That update is now live at [https://www.asp.net/mvc](https://www.asp.net/mvc)

[2018-04-24 02:42] guardrex commented on #6062
I've given it some thought, and it feels like the trouble and physical space required to do this outweigh the benefit. If they see the section in the startup topic, they're good.

[2018-04-24 02:42] #6062 closed

[2018-04-24 03:41] Rick-Anderson commented on #6038
@terrimorton  thanks!

[2018-04-24 03:41] #6038 closed

[2018-04-24 04:48] Rick-Anderson commented on #5834
@scottaddie  @guardrex  where should this be documented?  I can add it to my Razor Pages tutorials, but it needs to be documented outside a tutorials.  It could almost go in [Razor Pages route and app convention features](https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/razor-pages-convention-features?view=aspnetcore-2.1)

[2018-04-24 04:54] guardrex commented on #5834
It's not really a "convention" in the strict sense, which is all that topic covers (at least in its current version). It focuses only on the [PageConventionCollection](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.applicationmodels.pageconventioncollection?view=aspnetcore-2.0) bits.

[2018-04-24 04:56] Rick-Anderson commented on #5834
agreed, hence the *almost*. But where should it go?

[2018-04-24 05:01] guardrex commented on #5834
Maybe in here :point_right: https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/?view=aspnetcore-2.1&tabs=visual-studio

... either near the first mention of how properties work with RP ... maybe even in its own little section.

[2018-04-24 14:32] rachelappel opened #6072 "SignalR and sessions"
In reference to https://github.com/aspnet/SignalR/issues/2139, we need to document that:

Session and SignalR are incompatible, the SignalR pipeline and the http request pipeline are completely decoupled. Don't use session inside of SignalR.

[2018-04-24 15:47] guardrex commented on #4652
@javiercn Do u have a minute to answer those questions :point_up:? Question 2 isn't really a problem, and the last question is just out of curosity and doesn't affect the topic. Therefore, it's just Questions 1 and 3 that I need help with.

[2018-04-24 16:33] kichalla opened #6073 "Add a doc for creating and using a Razor Class Library(RCL) project"
The topic should describe the following:
- How to find the RCL project in VS dialog (net461 & netcoreapp2.1 TFM's)
- Creating a new project and referencing it in a newly created Razor Pages(RP) web application project
- Launch the RP project and access the RCL project's page
- Override the RCL project's page in RP project and launch again to see the new changes.
- Table of Contents should probably

[2018-04-24 17:17] scottaddie commented on #6066
@Rick-Anderson I agree that's the best location to put this. We should use monikers to control what displays within that include. I did have to run that CLI command, even after installing the SDK.

[2018-04-24 18:05] javiercn commented on #4652
@guardrex Some answers:
1) CreateWebHostBuilder is the new recommended pattern. You can remove BuildWebHost all together (inline it)

2) It's a preview2 issue.

3) By default you don't need it, as we do some magic with MSBuild + assembly attributes to figure the content root path automatically for you in 99.99% of the cases. For the 00.01% remaining you can just override CreateWebHostBuilder and c

[2018-04-24 18:13] #6020 closed

[2018-04-24 18:36] guardrex commented on #6073
I'd like to plug that this cover xplat scenarios, too (e.g., VS Mac, VSC, and CLI).

[2018-04-24 19:42] ggirard07 opened #9935 "Document web app extension functionalities"
I can't find any information about the purpose of this site extension. I noticed it today in our webapps running ASP.Net Core WebAPI.

I found [this post](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/azure-apps/?view=aspnetcore-2.1) explaining that a new extension is required in order to install the preview of .Net Core 2.1 on an Azure Web App. But this does not allow me to underst

[2018-04-24 19:55] Rick-Anderson commented on #6073
@kichalla I've had [Reusable Razor UI in class libraries with ASP.NET Core](https://review.docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/ui-class?view=aspnetcore-1.0&branch=pr-en-us-5980) in PR https://github.com/aspnet/Docs/pull/5980 for a couple weeks. Just need @javiercn or @pranavkm to review/ sign off and I'll publish.

[2018-04-24 20:16] Rick-Anderson commented on #6073
@kichalla  the fwlink will point to `https://docs.microsoft.com/aspnet/core/mvc/razor-pages/ui-class`

[2018-04-24 20:25] Rick-Anderson commented on #6066
@scottaddie

You need to run `dotnet dev-certs https --trust` but not `dotnet install tool dotnet-dev-certs -g --version 2.1.0` - right?

[2018-04-24 20:38] scottaddie commented on #6066
@Rick-Anderson I'm only seeing a Preview 1 version of this package on NuGet: https://www.nuget.org/packages/dotnet-dev-certs. Maybe I did only have to install this global tool for Preview 1.

@blowdart Does the Preview 2 SDK installation automatically install the global dev-certs tool?

[2018-04-24 21:16] rynowak opened #6075 "Add docs for the semantics of self-closing for our built-in tag helpers."
It's a common mistake to try and use the built-in tag helpers like select as self-closing tags, which will not work.

The semantics of self-closing tags are discussed briefly here: https://github.com/aspnet/Docs/blob/1832723bd1557feb789e7a96ef80d7c4a2a9436b/aspnetcore/mvc/views/tag-helpers/authoring.md#setattribute-and-setcontent

We should add this detail to docs like: https://docs.microsoft.com/

[2018-04-25 01:49] Rick-Anderson commented on #6061
closing until I get feedback

[2018-04-25 01:49] #6061 closed

[2018-04-25 03:06] Rick-Anderson commented on #6073
A framework is typically referenced by a short target framework moniker or TFM.

[2018-04-25 12:46] rachelappel opened #6078 "Set XMLHttpRequest "withCredentials" attribute for CORS"
See this thread, we need to document this for the 2.2 release.
https://github.com/aspnet/SignalR/issues/2110

[2018-04-25 15:48] rachelappel opened #6080 "signalr/intro Remove endpoints references"
Remove graphic and update doc to remove references to endpoints, since this is now moving out of SignalR and into ASP.NET core.

[2018-04-25 16:49] #6080 closed

[2018-04-25 17:09] rachelappel opened #6082 "signalr/hubs"
Update hubs doc so it has a complete sample, and link to download sample w/instructions.

[2018-04-25 17:56] guardrex opened #6083 "Add the IIS Integration sample code to the 'Troubleshooting' topic"
In discussion with @Rob_R on the [Host on IIS topic](https://docs.microsoft.com/aspnet/core/host-and-deploy/iis), it occurs that many devs would find the IIS sample *very* helpful for set-up testing and troubleshooting. Add the sample to both of these topics ... this move is going to save some major headaches.

Thanks to @Rob_R :guitar: for discussion leading to this idea.

[2018-04-25 18:23] scottaddie opened #6084 "Fix broken sample app links for Web API docs"
When the [Custom formatters](https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/custom-formatters?view=aspnetcore-2.1) and [Format response data](https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/formatting?view=aspnetcore-2.1) docs moved under the Web API TOC node, the sample app links weren't updated. They currently point to the old locations under MVC.

[2018-04-25 18:36] #6084 closed

[2018-04-25 23:25] guardrex commented on #6008
Discussion of LibMan on the Community Standup: https://youtu.be/k0Xy-5zE9to?t=25m8s

[2018-04-26 12:48] guardrex opened #6091 "Update BuildWebHost to CreateWebHostBuilder everywhere (MD topics only)"
After 2.1 samples+topics are addressed, sweep the repo for any lingerers to update.

https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Program.cs

[2018-04-26 15:37] #5660 closed

[2018-04-27 00:02] guardrex opened #6097 "Update 'dev-certs' tools link in Kestrel server topic"
Update the dev-certs tool link in https://docs.microsoft.com/aspnet/core/fundamentals/servers/kestrel

[2018-04-27 00:08] Rick-Anderson opened #6098 "Discussion: Download and modify sample or step-by-step instructions"
Use this issue to leave your comments on articles that use download/modify the sample compared to step-by-step instructions to build the sample. For example, [Create an ASP.NET Core app with user data protected by authorization](https://docs.microsoft.com/aspnet/core/security/authorization/secure-data) recommends you download starter app. You can also download the completed app and follow along.

[2018-04-27 02:42] Rick-Anderson commented on #5410
Scaffold identity into a Razor project without auth. Only task

In the PMC, enter the following commands:

[code]

[2018-04-27 13:06] guardrex commented on #6098
This issue might be for consumers only, but I just wanted to drop in some recent feedback from a reader that pertains to this subject about the RP tutorial.

A dev told me that they prefer that each part of the series (in this case just the File Uploads part) started with a sample that matched the beginning of that part. They didn't want to go all the way back to the first part of the tutorial and

[2018-04-27 14:56] syedm0 opened #6101 "authentication related questions/gaps"
The Angular template for dot net core project in Visual Studio has authentication turned off. Given the fact that authentication is essential this would seem like an important requirement. Any guidance or documentation with regard to using windows authentication and using logged on users id in components would be very useful.

Similarly if one uses a custom authentication scheme (or Siteminder whi

[2018-04-27 18:00] CamSoper commented on #5887
All, I've updated the [outline](https://github.com/aspnet/Docs/blob/azure-lifecycle/azure-lifecycle/00-outline.md) using your feedback and written an [introduction to set the tone and scope of the guide](https://github.com/aspnet/Docs/blob/azure-lifecycle/azure-lifecycle/01-introduction.md).  Feedback appreciated! Looking especially for @erickson-doug @rloutlaw @scottaddie and @wadepickett

[2018-04-27 21:30] Rick-Anderson commented on #6101
@SteveSandersonMS  can you respond?

[2018-04-28 00:05] gldraphael opened #6106 "Document that [FromRoute] does not unescape %2F"
Query string parameters are completely unescaped, but `%2F` from the route parameters are not unescaped to `/`. Not sure if this is the correct page, but this definitely needs to be documented somewhere.

Original discussion: aspnet/Mvc#4599

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32374077-e02e-d6a6-1cea-05e5844

[2018-04-28 00:15] Rick-Anderson opened #6107 "doc: Map asp.net core 2.0 Identity to existing DB schema"
From https://github.com/aspnet/Identity/issues/1768

@Misanthrop87 can you supply the draft text and I'll work on getting it updated.

Why did you use  https://www.c-sharpcorner.com/article/crud-operation-with-asp-net-core-mvc-web-app-using-ado-net/ and not a combination of [ASP.NET Core MVC with EF Core](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/?view=aspnetcore-2.1) (or better [RP

[2018-04-28 01:00] Rick-Anderson commented on #5410
Scaffold identity into a Razor project without auth.

Things to fix that are due to bugs, won't need this change in next version:
* fix up layout  file
* fix generated *Areas\Identity\Pages\_ViewStart.cshtml*

Manual changes to make:

[2018-04-28 01:47] guardrex opened #6108 "Consider renaming Work with static files in TOC"
I run into this fairly regularly ... it could just be a personal problem or something more widespread ... I'm looking for "Static files" in the *Fundamentals* area of the TOC, and I often read past "Work with static files" because it doesn't match what I'm looking for exactly.

Thoughts on changing the TOC entry to just "Static files"? ... I'd probably stop reading past the link.

[2018-04-28 01:49] cnryb opened #6109 "Correct the URL"
Correct the url of the ServiceBus
Add Service Bus v3 url

[2018-04-28 01:51] cnryb commented on #6109
Sorry

[2018-04-28 01:51] #6109 closed

[2018-04-28 03:41] Rick-Anderson opened #6111 "Doc IAuthorizationPolicyProvider"
LS-follow-up
@mjrousos owns this.

[2018-04-28 03:43] Rick-Anderson opened #6112 "Add ClaimsPrincipal.Current to migration doc"
@mjrousos  can you provide a draft of the text?

[2018-04-28 03:45] Rick-Anderson opened #6113 "doc Working with IHttpContextAccessor especially from ported library code without direct DI access"
@mjrousos  can you provide notes/draft on this?

[2018-04-28 03:52] Rick-Anderson opened #6114 "new doc: how to create and use custom route constraints"
@mjrousos are you interested in providing a first draft of this?

[2018-04-28 03:55] Rick-Anderson opened #6115 "doc IActionResultExecutor<T>"
[ IActionResultExecutor<T>](https://github.com/aspnet/Mvc/pull/6822)

* [blog: Using MVC result executors in ASP.NET Core middleware](http://kristian.hellang.com/using-mvc-result-executors-in-middleware/)
* [GitHub comments](https://github.com/aspnet/Mvc/issues/7238)

[2018-04-28 03:59] Rick-Anderson opened #6116 "Doc WebApiCompatShim"
The [compat shim](https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.WebApiCompatShim/) is a useful tool for porting WebAPI 2 projects to ASP.NET Core. It’s well-explained in some [third-party blogs](https://www.strathweb.com/2015/01/migrating-asp-net-web-api-mvc-6-exploring-web-api-compatibility-shim/) and [here ](http://www.dotnetcurry.com/aspnet-mvc/1149/convert-aspnet-webapi2-aspnet5-mvc6

[2018-04-28 09:18] mungojam opened #6119 "Cover how to achieve a 'TryGetOrCreate' if it is possible"
We had the scenario where we sometimes wanted to abort a GetOrCreate, say if the underlying data isn't ready yet. We couldn't just return null because it would then end up in the cache and might be picked up by another consumer. We went for throwing a custom exception in the end and catching it when calling GetOrCreate, but it would be good to know if there is an intended way to achieve this such

[2018-04-28 19:03] Rick-Anderson commented on #6119
@mungojam what do you want to `GetOrCreate` ?  Is it something like [TryUpdateModelAsync](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/crud?view=aspnetcore-2.1#tryupdatemodelasync) in [Update the Create page](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/crud?view=aspnetcore-2.1#update-the-create-page)

[2018-04-29 05:21] harshdamaniahd opened #6121 "Unable to start project"
![image](https://user-images.githubusercontent.com/11780473/39403499-498eec74-4b9b-11e8-855e-9e2f6288c627.png)

[2018-04-29 12:15] sturlath opened #6122 "Default https debug needs to be addressed"
Hi

While testing out [Integration testing](https://docs.microsoft.com/en-us/aspnet/core/testing/integration-testing?view=aspnetcore-2.1) in my VS 15.7.0 preview 3 with .net Core 2.1 I could´t get the integration tests to pass because of

I had to add the following line to get it to work. It just overrides the http to https

`_client.BaseAddress` = new System.Uri("https://localhost/");

Is that ho

[2018-04-29 14:37] guardrex opened #6123 "Document ViewData-backed properties"
https://docs.microsoft.com/aspnet/core/mvc/views/overview#passing-data-to-views

[code]

[code]

[code]

[2018-04-29 14:40] guardrex opened #6124 "Document how Razor Pages handles HEAD requests"

[2018-04-29 14:42] guardrex opened #6125 "Confirm/update Razor compilation on build language"

[2018-04-29 14:57] guardrex commented on #6125
@scottaddie This isn't the same as https://github.com/aspnet/Razor/issues/1809, which deals with Razor UI in class libs, but it feels like they perhaps go together on your PR. If u want them separate and don't want this update, then assign it to me, and I'll take care of it.

[2018-04-29 15:06] guardrex commented on #6125
Wasn't directly rolled into the issue on #1809, so I'll add it there per #5404 (just saw it noted in the issue).

[2018-04-29 15:06] #6125 closed

[2018-04-29 15:07] guardrex commented on #5408
This was noted in #5404 but not obvious here since aspnet/Razor#1809 pertains to compiled Razor in libs.

[2018-04-29 15:31] guardrex opened #6126 "Document prebuilt UI libraries for Azure AD and Azure AD B2C"
Check to see if/where/how to document prebuilt UI libraries for Azure AD and Azure AD B2C:

This is the TOC area in question: https://docs.microsoft.com/aspnet/core/security/authentication/azure-active-directory

[2018-04-29 15:41] guardrex opened #6127 "Document updates to launchSettings.json"
[code]

A few spots to assess for the update:

* [Work with multiple environments](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/environments?view=aspnetcore-2.1)
* [Hosting](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/hosting?view=aspnetcore-2.1&tabs=aspnetcore2x)
* [Development-time IIS support in Visual Studio](https://docs.microsoft.com/en-us/aspnet/core/host-and-depl

[2018-04-29 15:45] guardrex opened #6128 "Assessment: Deprecating aspnetcore and aspnetcore-build Docker images"
Assess the need to react to: Deprecating aspnetcore and aspnetcore-build Docker images

[2018-04-29 15:46] guardrex opened #6129 "Document Kestrel support for SNI"
[code]

[2018-04-29 15:52] guardrex commented on #5924
Adding the bit from the 2.1.0-preview2 roadmap:

[code]

[code]

[2018-04-29 15:57] guardrex commented on #5403
Adding the blurb from the 2.1-preview2 roadmap blog post:

[code]

Alternatively, you can set a project property in your project file:

[code]

[2018-04-29 15:59] guardrex commented on #5884
Adding the blurb from the 2.1.0-preview2 roadmap blog post:

[2018-04-29 16:16] guardrex commented on #6122
@sturlath You asked at the *perfect time*. We're working on the doc for this scenario as we speak on https://github.com/aspnet/Docs/pull/6086.

AFAIK, yes, you set the base address on the client options. We have this in the draft doc thus far ...

[code]
... and it doesn't address your scenario (yet! :smile:) for testing against a secure endpoint.

I'll add a note+example to the *Client options* s

[2018-04-29 20:20] user135711 opened #6130 "ASP.NET Core Razor SDK needs a sample project with code samples"
[ASP.NET Core Razor SDK](https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/sdk?view=aspnetcore-2.1) needs a compilable sample project with actual code in order to be useful.

[2018-04-29 21:04] mohchari opened #6131 "Update the aspnetcore/mvc/models file-upload example"
The file-upload example does not build on OSX. I haven't looked through but I imagine this is the case in some of the other examples in the aspnetcore area.

I can submit a pull request if necessary.

[2018-04-29 23:50] gbjbaanb opened #6132 "usings"
In the code samples, it is important to show which using statements are required - particularly as CacheControlHeaderValue() requires Microsoft.Net.Http.Headers and not System.Net.Http.Headers (which is the first in the list intellisense suggests)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10cda0f9-e2c7-015d-4fbf-d

[2018-04-30 00:25] guardrex commented on #6132
Thanks @gbjbaanb for reporting this. I'll get to it asap.

[2018-04-30 03:57] Rick-Anderson commented on #6130
@user135711 good idea. Would you be willing to contribute? We should probably make two issues out of this.

[2018-04-30 03:58] Rick-Anderson commented on #6131
That would be great.

[2018-04-30 03:59] guardrex commented on #6131
Hello @mohchari - Thanks for commenting. The broken sample is tracked by https://github.com/aspnet/Docs/issues/4777. The topic and the sample are due for a major overhaul on https://github.com/aspnet/Docs/issues/5331.

@Rick-Anderson I was just about to close as a dup and tell @mohchari to talk to `@scottaddie` on those issues about helping with the work.

[2018-04-30 04:00] Rick-Anderson commented on #6121
@harshdamaniahd  can you tell me what document has this problem?

[2018-04-30 04:01] #6131 closed

[2018-04-30 07:52] user135711 opened #6134 "Request Features in ASP.NET Core needs a sample project with compiling code."
[Request Features in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/request-features?view=aspnetcore-2.1) needs a compilable sample project with actual code in order to be useful.

[2018-04-30 07:52] user135711 commented on #6130
@Rick-Anderson Sure, if it can wait till next weekend. The Request Features in ASP.NET Core topic is over a year and a half old so I assume it can wait a week.

[2018-04-30 10:00] gbjbaanb opened #6135 "set-cookie"
It would be worth noting for aps.net core 2.0, the default tempdata system uses cookies, and so if you put the above code in, response caching will still not work. Some note should be placed to highlight this and what to do to resolve it, even if its a link to the itempdata API reference.

A note about the antiforgery cookie is present, even though it doesn't say how to turn that off for a page yo

[2018-04-30 12:27] XelaNimed opened #6136 "Using a common resource file for different classes jointly with owned resources of classes"
Hello.
I'm looking for the possibility of using a single resource file to localize error messages in the annotations of data models. As I understand it, we can use one common file to localize all data models, but in this case the resource keys will be very long, because in the presence of properties with the same name in different classes, we need to distinguish them in some way. If we use the usu

[2018-04-30 13:35] guardrex commented on #6135
We can note it, but we can't resolve it. The Response Caching Middleware follows the HTML caching specification (it isn't a server-side output cache), so this is normal behavior for this type of cache. There is a plan to build a server-side output cache, but it's just a plan at this point.

Sure, we can link over to it :point_right: https://docs.microsoft.com/aspnet/core/security/anti-request-forg

[2018-04-30 14:44] robertparis opened #6138 "ASP.NET Core MVC versus Razor pages"
Microsoft said: If you choose this tutorial over the Razor Pages version, please leave a note explaining why.

Why?
The Model-View-Controller (MVC) pattern helps make your web APIs and web apps testable.

Seems like a simple decision.

[2018-04-30 16:10] guardrex commented on #6138
Thanks for the feedback @robertparis. Just want to mention in passing that we've had a topic pertaining to [testing RP apps (unit + integration)](https://docs.microsoft.com/aspnet/core/testing/razor-pages-testing) since early December. It's generally just as easy to set up and test using either dev scenario.

With the new testing package (in 2.1 preview now), things will be even a bit better for 2

[2018-04-30 16:49] mjrousos commented on #6111
I'm working on this one currently and should have a draft for review later this week.

[2018-04-30 18:11] isaac2004 commented on #99
@danroth27 Is this something that is still needed?

[2018-04-30 18:11] #6135 closed

[2018-04-30 18:16] isaac2004 commented on #100
@Rick-Anderson @anthonychu if I can help here, let me know. App Insights is near and dear to my heart.

[2018-04-30 18:36] isaac2004 commented on #86
@Rick-Anderson @Tratcher it seems like some of this checklist is done, so is this what is needed

- [x] A walk-through for Google, MicrosoftAccount, and Twitter that highlights some of their eccentricities.
- [x] A reference to https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers for additional providers
- [ ] Requesting more data with Scopes (general oauth) and Fields (Facebook speci

[2018-04-30 18:38] #6132 closed

[2018-04-30 18:53] danroth27 commented on #99
@blowdart should make the call on this one.

[2018-04-30 19:07] wcski opened #6141 "Beginner Question"
Hello, and thanks for the documentation. I have a quick question about adding search by genre.

The following code allows you to search by title and genre and seems to be a much simpler approach.

`public async Task<IActionResult> Index(string searchString)
        {
            var movies = _context.Movie.AsQueryable();

            if (!String.IsNullOrEmpty(searchString))
            {

[2018-04-30 19:31] blowdart commented on #99
By 3 you mean Core 2 right?

See https://github.com/aspnet/Docs/pull/5889

[2018-04-30 19:33] isaac2004 commented on #99
@blowdart No this is an issue about upgrading versions of ASP.NET Framework Identity versions.

[2018-04-30 19:36] Rick-Anderson commented on #6141
Per the article
However, you can't expect users to modify the URL every time they want to search for a movie. So now you'll add UI elements to help them filter movies.

[2018-04-30 19:36] #6119 closed

[2018-04-30 19:37] Rick-Anderson commented on #5884
I'll think about that. I have it in PR, although not the TOC.
https://github.com/aspnet/Docs/pull/6069

[2018-04-30 19:41] wcski commented on #6141
Sorry, I don't see how that answer is relevant. That line from the article is in reference to querying without a search UI element. With the code in my original question there is no need to modify the URL.

No big deal, I was more just curious than anything.

[2018-04-30 19:43] Rick-Anderson commented on #6141
You could use that query. You'd also need to use a POST to bookmark the query. WIthout UI, how would the user know to hack the URL for a search.

[2018-04-30 20:00] mungojam commented on #6119
@Rick-Anderson I'm not sure that it is. That doesn't seem to be covering the abort of a cache `GetOrCreate`.

In my case, I need to be able to retrieve a value from the cache, but if it doesn't exist yet then it could be either because it just hasn't been requested yet (i.e. `Create` is fine), or because it isn't ready yet in which case I want to abort the `GetOrCreate` without risking other consu

[2018-04-30 20:00] Rick-Anderson commented on #6141
@wcski  no problem. I think the Razor Pages version does a better job of explaining it, and the code is simpler. The view model is build into Razor Pages, one of the advantages it has over MVC.

BTW, why are you doing the MVC tutorial and not the Razor Pages version?

[2018-04-30 20:01] mungojam commented on #6119
So I think I want a `TryGetOrCreate` and in that sense maybe it is similar

[2018-04-30 20:04] Rick-Anderson commented on #6141
@wcski  Your search does an `or`, but the search is an `and`.
The view model needs to contain the list of genres and the specific genre selected.

[2018-04-30 20:11] Rick-Anderson commented on #6119
You could open an issue in the https://github.com/aspnet/EntityFrameworkCore
It might be a good idea to create a proto-type version to show what you want to do.

[2018-04-30 20:32] mungojam commented on #6119
Thanks, I've now raised https://github.com/aspnet/Caching/issues/390 with some example code

[2018-04-30 20:35] Rick-Anderson commented on #6119
Thanks.

[2018-04-30 20:45] blowdart commented on #99
Oh if it's old framework to old framework no, but from old framework to new framework, if intermediate steps are needed then yes.

[2018-04-30 20:49] Rick-Anderson commented on #6130
@user135711  no hurry.

[2018-04-30 21:04] isaac2004 commented on #99
@danroth27 close?

[2018-04-30 21:33] raybo604 opened #6143 "Missing Info class details"
Great article. Filled this in from the Swashbuckle version:
app.UseSwagger(typeof(Startup).Assembly, settings =>
{
    settings.PostProcess = document =>
    {
        document.Info.Version = "v1";
        document.Info.Title = "ToDo API";
        document.Info.Description = "A simple example ASP.NET Core Web API";
        document.Info.TermsOfService = "None";
        document.Info.Contact = new

[2018-04-30 21:50] wcski commented on #6141
Ah. I didn't look close enough. I see now that the tutorial has you create a select list (so you can filter by Genre and Title, like you said.) I told you it was a beginner question! Thanks for your help.

As for Razor vs MVC - I have already done the Razor pages tutorial. I am doing the MVC tutorial because the projects I will be working on at work are MVC and not Razor pages.

[2018-04-30 21:50] #6141 closed

[2018-04-30 21:56] danroth27 commented on #99
This issue dates back to the ASP.NET 5 days, when ASP.NET Core Identity was still ASP.NET Identity 3. So this issue is about documenting how to migrate form ASP.NET Identity to ASP.NET Core Identity. Do we already have that covered?

[2018-04-30 22:13] Ikarus76 opened #6144 "Case sensitive"
My observation is that the class name of the TagHelper is case sensitive. If you use the classname "EmailTagHelper", you have to use <Email> tags.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19ecfbee-8b84-9ef2-65b6-8c2542f6370f
* Version Independent ID: 9a0cbaa2-65c9-1618-1003-5fd2e7f6192f
* Content: [Author Tag Hel

[2018-04-30 23:22] Gordon-Fredericks opened #6145 "ActionResult Errors"
Adding the following methods to TodoController:

[HttpGet]
public ActionResult<List<TodoItem>> GetAll()
{
    return _context.TodoItems.ToList();
}

[HttpGet("{id}", Name = "GetTodo")]
public ActionResult<TodoItem> GetById(long id)
{
    var item = _context.TodoItems.Find(id);
    if (item == null)
    {
        return NotFound();
    }
    return item;
}

generated the following error:
"The non-g

[2018-04-30 23:50] Rick-Anderson opened #6146 "Why choose MVC tutorials over Razor Pages"
This issue is for feedback of why you follow a ASP.NET Core MVC tutorial over the Razor Pages version.

Content moved to https://github.com/Rick-Anderson/RP-vs-MVC

[2018-04-30 23:51] Rick-Anderson commented on #6146
Per `@wcski`
 I have already done the Razor pages tutorial. I am doing the MVC tutorial because the projects I will be working on at work are MVC and not Razor pages.

[2018-04-30 23:51] Rick-Anderson commented on #6141
@wcski  Thanks for the info. I added it to #6146 and I'll add a link to it to the tutorials.

[2018-04-30 23:59] Rick-Anderson commented on #100
@isaac2004  if you could do ASP.NET Core + App Insights
that would be great.

[2018-05-01 00:01] Rick-Anderson commented on #100
@anthonychu  are you planning on doing any of that work? Should I delete that comment? I don't remember where I got that information.

[2018-05-01 00:52] isaac2004 commented on #100
@Rick-Anderson sure, what issues do you have with the current doc? It is pretty big and has been updated this year.

[2018-05-01 01:39] Rick-Anderson commented on #100
@isaac2004  are you talking about https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net-core ?

[2018-05-01 02:00] Rick-Anderson commented on #100
@isaac2004  how about Web API?

[2018-05-01 04:49] anthonychu commented on #100
I think those were hands on lab ideas from a OneNote file our team was brainstorming on. One or two of those got produced but nothing AI related. Feel free to jump in @isaac2004

[2018-05-01 13:51] bigmealy opened #6150 ""If using Visual Studio, make sure the app isn't configured to run IIS or IIS Express.""
Hi. My colleague and I are trying to configure Visual Studio to use Http.sys instead of IIS or IIS Express. This page shows a screenshot of developer selecting between two profiles in Visual Studio, however there is no clue or link to another resource on how to do this or set this profile up (and we can't find one).
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-05-01 14:25] bigmealy commented on #6150
OK, found how that was setup in the sample code download. Duh!

[2018-05-01 14:25] #6150 closed

[2018-05-01 15:02] scottaddie commented on #6145
@Gordon-Fredericks The `ActionResult<T>` type assumes you're using ASP.NET Core 2.1. That's the release in which this feature was introduced. You must have selected "ASP.NET Core 2.1 Preview 2" from the version selector at the top of the page. Select 2.0 instead to view that version of the tutorial.

I see now where the confusion stems from in this 2.1 tutorial version. The screenshot at the top o

[2018-05-01 15:16] #5793 closed

[2018-05-01 15:19] #6145 closed, assigned to scottaddie

[2018-05-01 16:56] guardrex commented on #6124
@pranavkm I'm going to have to be on-hold with this one until ur free to look.

I can't get the `OnGet` to handle HEAD requests unless I explicitly do a ...

[code]
... somehow that's defaulting to `false` here.

SDK: 2.1.300-rc1-008673
TFM: `netcoreapp2.1`
Microsoft.AspNetCore.App: 2.1.0-rc1-30682
Self-contained test app: `win10-x64`

[2018-05-01 17:01] AgentMeerkat opened #6152 "Contributing to Microsoft docs"
It would be great if there was a way to branch on Github and put a pull request in to update the documentation here. For example how Chef takes contributions from the community to update its own documentation:

Example page (Chef Site Map): https://docs.chef.io/
Example Github page (Chef Site Map): https://github.com/chef/chef-web-docs/blob/master/chef_master/source/index.rst

---
#### Document De

[2018-05-01 17:03] AgentMeerkat commented on #6152
N/A

[2018-05-01 17:03] #6152 closed

[2018-05-01 17:06] pranavkm commented on #6124
It needs the 2.1 compat switch: `services.AddMvc().SetCompatibilityVersion(Microsoft.AspNetCore.Mvc.CompatibilityVersion.Version_2_1);` which effectively sets `AllowMappingHeadRequestsToGetHandler = true`

[2018-05-01 17:10] guardrex commented on #6124
... ok ... a bit confusing tho since the TFM and "App" package imply that the app is compatible with 2.1 (RC).

Will the need for setting `SetCompatibilityVersion` go away with 2.1 RTM? ... thus I can document this as advertised? ...

[2018-05-01 17:13] pranavkm commented on #6124
No, it's how you opt in to behavior that is considered breaking between minor releases. By default, existing apps that upgrade to 2.1 do not get this feature; you have to opt in to it.

[2018-05-01 17:27] guardrex commented on #6124
I see it now ...

@Rick-Anderson I suspect this is going to be a problem for scenarios that use these features that rely on the setting but don't make mention of it. It probably isn't enough to merely cover the new bits and assume they picked up on the coverage in the *App startup* topic. 😖 *Why isn't this working?!* 😖

Shall we always link https://docs.microsoft.com/aspnet/core/fundamentals/start

[2018-05-01 18:12] Rick-Anderson commented on #6124
@guardrex  asks:

It goes away with 3.0 preview 1 and higher.

[2018-05-01 18:14] guardrex commented on #6124
I think I can work it in because there's (I guess) usually an option that will activate the 2.1 scenario even when compat isn't requested. In this case, the setting is `AllowMappingHeadRequestsToGetHandler`. That presents an opportunity to mention the compat setting for the patch release and link to it. I almost have this one done, so we can see how it looks "on paper" and decide if this approach

[2018-05-01 18:48] mjrousos commented on #6113
@CoderAndHiker is going to work on this one.

Essentially, it just boils down to adding an explanation of what IHttpContextAccessor does, why it's useful, and when it should be used (and when it shouldn't be :))

[This](https://stackoverflow.com/questions/38571032/how-to-get-httpcontext-current-in-asp-net-core) StackOverflow post explains the challenge that ASP.NET developers may have coming to AS

[2018-05-01 19:39] rachelappel commented on #6108
Agreed. "Work with" doesn't really add any value. Removing it is more concise.

[2018-05-01 19:41] rachelappel commented on #6108
Also "Work with multiple environments" may be better off as "Use multiple environments" or a shortened title.

[2018-05-01 20:19] norachuga opened #6157 "Custom providers"
"You can create your own custom providers as well"

How about some documentation on that? There's links to third-party providers, but due to their scale, they are terrible for use as examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-f367-d73

[2018-05-01 20:35] guardrex commented on #6108
@scottaddie @Rick-Anderson Any consensus forming on this ...

Work with static files :point_right: Static files
Work with multiple environments :point_right: Use multiple environments

This is a quick patch fix if we do it, since it's only an issue for the sidebar TOC.

I need to take this anyway because we need to exclude the *forbidden word* ...

Route and app convention ~features~ :point_right:

[2018-05-01 20:54] scottaddie commented on #6108
@guardrex I like your suggested titles.

[2018-05-01 23:15] #6127 closed

[2018-05-01 23:17] #5056 closed

[2018-05-01 23:17] #6129 closed

[2018-05-01 23:42] Rick-Anderson opened #6160 "Per cust: Need better instructions on Add a database context class"
[Here](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-2.1#add-a-database-context-class)

[2018-05-01 23:46] Rick-Anderson commented on #6157
@norachuga  thanks for the feedback. The built in provider is pretty good and the 3rd party loggers fill in most gaps. Why do you want to create your own custom provider?

[2018-05-02 00:49] #6160 closed

[2018-05-02 00:51] Rick-Anderson commented on #6108
We used to have "Working with Data"
Going to Data access ... was a HUGE improvement.

[2018-05-02 00:55] guardrex commented on #6108
kk ... should be fairly quick to knock this out. I'll tend to it later this week. I'm still busy bust'in out some 2.1 work right now.

[2018-05-02 00:58] norachuga commented on #6157
I have an existing logging service that I simply need to connect to. Using any third-party provider is overkill. I was able to figure out about 75% of it using guides I found on Google, but they are all written for 1.0 and don't address the changes to logging in 2.0+.

I find it quite bizarre that you would consider removing the line saying you can write a custom provider rather than provide a sim

[2018-05-02 02:12] isaac2004 commented on #99
@danroth27 that PR that @blowdart linked has that. I repurposed the whole migration node.

[2018-05-02 02:33] Rick-Anderson commented on #6106
Per [`@ryanbrandenburg`](https://github.com/aspnet/Mvc/issues/4599#issuecomment-220113826)

 the guidance would be not to use `[FromRoute]` on any values which are likely to contain `%2f` (`/`)
 and instead use `[FromQuery]` which will give you an entirely URL decoded string

@gldraphael  is that your understanding of what should be added?

[2018-05-02 02:38] Rick-Anderson commented on #6136
@ryanbrandenburg  can you respond?

[2018-05-02 02:44] #99 closed

[2018-05-02 02:44] Rick-Anderson commented on #6144
@Ikarus76  the Razor Markup is not case sensitive. Is there anything in particular in the document you feel is incorrect or incomplete?

You can test case-insensitivity by with the built in templates.

[2018-05-02 02:56] #5409 closed

[2018-05-02 02:56] #6073 closed

[2018-05-02 02:56] gldraphael commented on #6106
That's a good recommendation.
I think it's also important to state that `%2F`s will not be unescaped to `/`, because there are other ways to handle it if `[FromRoute]` is desired.

[2018-05-02 02:57] Rick-Anderson opened #6166 "Add lib to RCL project once .gitignore is updated"
## General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.
This template offers some suggestions to consider
when creating an issue.

## Issues with Existing Topics

If the issue is a simple typo or similar correction, just submit a PR.
Otherwise, let us know what's wrong or what we should improve. Include a
link to the topic.

## Requests for

[2018-05-02 03:06] gldraphael commented on #6106
I think the IIS behaviour must also be documented.

So

1. `[FromRoute]` does not decode (or unescape) `%2F` to `/`.
1.  Exception: when the app is hosted in IIS, IIS decodes the `%2F`s.

PS: I haven't tested the IIS behavior.

[2018-05-02 03:40] Rick-Anderson commented on #6106
@gldraphael  we'd rather not document the exception.

[2018-05-02 03:41] #6106 closed

[2018-05-02 05:40] Misanthrop87 commented on #6107
I'm not sure if this heading represents my request for better documentation of Windows Authentication (Transform Active Directory Groups into Identity roles).
I agree that the part in the heading could be also very useful, however I cannot help really much because in the end I chose to use the existing Active Directory. And here my suggestion was to point out in the documentation that existing AD

[2018-05-02 06:41] user135711 opened #6173 "Update razor-pages-convention-features.md"
Three bugs:
1)Navigate to the sample app localhost:5000/TheContactPage
The index page is loaded instead of localhost:5000/Contact when the optional route is left off with the TheContact. I stepped through the call stack starting from the loading of RazorPages from the pages directory and haven't found the point where the index is loaded yet so I don't know if this is a doc or core bug.

2)Navigate

[2018-05-02 10:40] RogExp opened #6174 "Add search to ASP.NET Core Razor Pages"
As searching is the heart of all applications, I would like you to advance multiple searching criteria examples.
It would be very nice to see some examples using some kind of generic filtering.
The filters should be generated based on an entity-object (usually outermost entity displayed), offering eg.:
DateTime (<, <=, ==, >, >=, >, InRange)
Int (<, <=, ==, >, >=, >, InRange)
String (Contains, Equ

[2018-05-02 12:19] Tratcher opened #6175 "HttpSys uses kernel mode auth"
Additional notes for
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-2.1&tabs=aspnetcore2x#enable-windows-authentication-with-httpsys-or-weblistener
and
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/httpsys?view=aspnetcore-2.1

There are two modes for windows auth, kernel mode and user mode and they have different configuration r

[2018-05-02 14:44] Staartvin commented on #6146
I have never worked with ASP.net Core before, but I prefer to start with a design (MVC) I'm familiar with to get to know the fundamentals of C# and ASP.net before plunging in Razer.

[2018-05-02 15:07] jverbosky opened #6176 "Existing Database Example"
Just thought my notes for using an existing database might help the next person.

    ------------------------------------------------------------

    # Add a model

    ---------------------------

    # - create a new table (Movie) in the JVTest DB using the MvcTutorial schema

    USE [JVTest];
    GO

    -- run this once to avoid error about schema not existing
    CREATE SCHEMA MvcTutorial

[2018-05-02 15:07] jverbosky commented on #6176
Ouch - I didn't realize this was going to use Markdown...

[2018-05-02 16:56] isaac2004 commented on #100
@Rick-Anderson bump

[2018-05-02 16:57] guardrex commented on #3352
@Tratcher I left this open following the topic going live on #5440 because there was a remark that 2.1 would (or might) change some (or a lot of) `IHostedService` scenarios.

Here's the topic: https://docs.microsoft.com/aspnet/core/fundamentals/hosted-services

Here's a list of issues that reference the interface: https://github.com/aspnet/Hosting/issues?utf8=%E2%9C%93&q=is%3Aissue+IHostedService

[2018-05-02 17:50] #5402 closed

[2018-05-02 18:59] Rick-Anderson commented on #6174
@RogExp  thanks for your suggestion.

[2018-05-02 19:00] Rick-Anderson commented on #6176
@jverbosky  thanks!

[2018-05-02 19:00] #6176 closed

[2018-05-02 19:07] scottaddie opened #6180 "Cleanup IHttpClientFactory sample app and snippet highlighting"
https://docs.microsoft.com/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.1

* [x] Remove unused files from sample app
* [x] Fix bad code highlighting in doc code snippets

[2018-05-02 19:14] #6180 closed

[2018-05-02 19:58] Rick-Anderson commented on #6174
@RogExp  searching is part of .NET Core, so we'll defer to them for searching tutorials.

[2018-05-02 20:33] guardrex commented on #5695
References:

* https://github.com/aspnet/KestrelHttpServer/issues/2361
* https://github.com/aspnet/Universe/pull/959
* https://github.com/aspnet/KestrelHttpServer/pull/2392/files
* https://github.com/aspnet/KestrelHttpServer/issues/2360

[2018-05-02 20:41] tonogdlp opened #6183 "CourseID property missing from code"
I think a CourseID property declaration is missing in the code where you modify Instructors/Index.cshtml.cs, in "Add courses taught by selected instructor". The code throws an error when trying to use "Model.CourseID" on Index.cshtml

Also, when you explain how selecting an Instructor works by
       if(item.ID == Model.InstructorID) {selectedRow = "success";}

 the code you show is from the next

[2018-05-02 21:02] Rick-Anderson commented on #6183
It's a parm in the function
`public async Task OnGetAsync(int? id, int? courseID)`

`?` means it's optional and might be null. That's why it's checked before using.

[code]

[2018-05-02 21:59] mjrousos commented on #6112
I'm working on this one.

[2018-05-02 22:26] tomstylesncc opened #6186 "Startup config is not necessary for .net core 2 apps, but this is not clear"
Many users will arrive at this page because they are creating a new asp.net core 2 app and wanting to do things correctly.
For example https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/microsoft-logins?view=aspnetcore-2.1&tabs=aspnetcore2x

However the startup section in the tutorial is only applicable for .net core 1. Please can this be updated or at least made clear whi

[2018-05-02 22:28] guardrex commented on #6126
Turns out that all of our Azure AD/B2C coverage is in the Azure doc set.

[2018-05-02 22:28] #6126 closed

[2018-05-02 23:24] dsenecal opened #6188 "Stop using reserved words"
--
--
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08d2cf2e-55fb-33a4-b1d4-c97b2d531741
* Version Independent ID: f9a790d8-f25b-0e1d-eb63-c8ed3ac518cf
* Content: [Dependency injection into controllers in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/dependency-injection?view=aspnetcore-2.1#fee

[2018-05-02 23:34] Rick-Anderson commented on #6186
@tomstylesncc  Is the problem with [Microsoft Account external login setup ](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/microsoft-logins) ? It looks like you came from [Safe storage of app secrets in development in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-2.1&tabs=visual-studio)

[2018-05-02 23:39] tonogdlp commented on #6183
You use that nullable type value to set a property called "CourseID", with capital C.
if (courseID != null)
    {
        CourseID = courseID.Value;
        //code omitted
    }

There should be a property declaration such as:

         public int CourseID {get; set;}

probably after..... InstructorID {get; set;}
That way, when you can actually use it in the Instructor/Index.cshtml file:

     str

[2018-05-02 23:48] Rick-Anderson commented on #6183
`CourseID` is declared in the PageModel class containing that method.

[2018-05-03 01:11] Ikarus76 commented on #6144
Hi,
I derived my class from SelectTagHelper. Implemented the c'tor and the Process method. Classname is 'myselectTagHelper'. In the view I can use the myselect-tag. When I use 'MySelectTagHelper' as class name, myselect in lower case doesn't work. Maybe it's because I derived from SelectTagHelper and not from TagHelper...

[2018-05-03 01:15] Rick-Anderson commented on #6144
C# is case-sensitive, Razor tags are not.

[2018-05-03 01:47] rachelappel opened #6189 "signalr/javascript-client Add link to .NET Client, change H2"
Add link
Change H2 to ## Client setup to match .NET client doc

[2018-05-03 06:59] RogExp commented on #6174
Yes it's of course the server side that is most affected by this. To explain what I mean, here are some links:
 http://www.palmmedia.de/blog/2012/2/18/aspnet-mvc-generic-filtering-based-on-expressions
https://stackoverflow.com/questions/45101979/add-paging-links-to-view-using-multiple-search-strings-asp-net-core-visual-studi

Getting eg. the scaffolded razor pages utilising this automatically, you

[2018-05-03 10:09] user135711 commented on #6098
Here were my results: The class library template is not available in VS15.7 preview after installing sdk 2.1.300-Preview2 or 2.1.0-preview2-final so the only option is to manually download the files from [github](https://github.com/aspnet/templating/tree/dev/src/Microsoft.DotNet.Web.ProjectTemplates/content/RazorClassLibrary-CSharp) until someone adds the nuget package reference. The downloaded pr

[2018-05-03 11:31] tomstylesncc commented on #6186
The problem is with the [safe storage of secrets page](https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-2.1&tabs=visual-studio).

The code referenced on line 100 of the .md file is only required for .net core 1 apps. In .net core 2 the set up is handled by default.

[This PR](https://github.com/aspnet/Docs/pull/4290/files) updated some of the sample code for core 2

[2018-05-03 15:11] Tratcher commented on #3352
The only change here is the introduction of the new generic Host API where IHostedService becomes the primary unit of work. See https://github.com/aspnet/Hosting/blob/dev/samples/GenericHostSample/ProgramHelloWorld.cs

[2018-05-03 15:49] mjrousos opened #6192 "Merge migration documentation"
There are separate pages for [ASP.NET to ASP.NET Core 1.x migration](https://docs.microsoft.com/en-us/aspnet/core/migration/mvc?view=aspnetcore-2.1) and [ASP.NET to ASP.NET Core 2.0 migration](https://docs.microsoft.com/en-us/aspnet/core/migration/proper-to-2x/?view=aspnetcore-2.1) but they overlap and neither is specifically about migrating to a particular ASP.NET Core version. Both pages have go

[2018-05-03 16:59] scottaddie commented on #6192
@mjrousos This is currently being worked on. See the linked PR.

[2018-05-03 19:16] Rick-Anderson commented on #6174
The [ASP.NET MVC - Generic filtering based on expressions](http://www.palmmedia.de/blog/2012/2/18/aspnet-mvc-generic-filtering-based-on-expressions) blog is interesting, but it doesn't need to be tied to MVC.  @BillWagner  does the .NET docs have anything comparable?

The [SO](https://stackoverflow.com/questions/45101979/add-paging-links-to-view-using-multiple-search-strings-asp-net-core-visual-st

[2018-05-03 19:38] #6108 closed

[2018-05-03 20:33] jverbosky opened #6196 "Alternate [HttpPost] Edit() methods to view raw form data"
In case this might help anyone else understand the "[Bind(...) Movie movie" parameter in the [HttpPost] Edit() method a little better (or just be useful when troubleshooting), here's a couple of alternate methods that can be swapped in to view the raw POST data.  Might be useful down the road if values aren't being returned as expected.

    // POST: Movies/Edit/5
    // approach to view POST'd va

[2018-05-03 20:35] guardrex commented on #5937
We may need to move a blurb from the Kestrel topic over here. It pertains to the reasoning behind having to add an explicit package reference to the Libuv transport package to 2.1 apps that use the `App` package to avoid a breaking change for 2.1. See the discussion on #6184. Once it's over here, we can link it in the Kestrel topic instead of maintaining the details there. cc/ @natemcmaster

[2018-05-03 20:39] Rick-Anderson commented on #6183
@thomasiverson  so it's bringing in the wrong code snippet. Thanks, I'll get that fixed.

[2018-05-03 21:48] danroth27 commented on #3310
We also need to cover how to setup the dev certificate when using Docker in development:
* Create an application on Visual Studio using the MVC template.
* Run the app to ensure its working.
* Add docker support for the application through the tooling.
* Modify the dockerfile to expose the port 443 with
  EXPOSE 443
* Modify the docker-compose override file to map ports, volumes and environement v

[2018-05-03 21:50] mjrousos commented on #6116
@Rick-Anderson, I can take this one. Should be just a small update to existing migration docs.

[2018-05-03 22:50] Rick-Anderson opened #6199 "How to setup the dev certificate when using Docker in development"
related #3310
Javier is contact:
This needs to go in [Enforce HTTPS in an ASP.NET Core](https://go.microsoft.com/fwlink/?linkid=848054)
The first time you run dotnet after installing the SDK you get this message
Successfully installed the ASP.NET Core HTTPS Development Certificate.
To trust the certificate run 'dotnet dev-certs https --trust' (Windows and macOS only). For establishing trust on oth

[2018-05-03 23:43] Rick-Anderson commented on #6196
@jverbosky  Thanks for the info. Alternatively, you can inspect them in the debugger.

[2018-05-03 23:43] #6196 closed

[2018-05-04 01:06] Rick-Anderson opened #6202 "Add No .NET Core SDKs were detected"

[2018-05-04 03:34] guardrex commented on #3352
@Tratcher I hacked up a version of the Hosted Services topic sample ([HostedServicesTopicSample](https://github.com/guardrex/HostedServicesTopicSample)) that runs on the Generic Host (the usual 🔪 *_Dino Hacks_*:tm: 🔪 ... u know the drill! 😀) . A few questions ...

1. The original app registers the services Singleton and Scoped, but `AddHostedService` registers Transient. What's important to unders

[2018-05-04 03:34] devindran opened #6204 "Strongly typed hubs"
I can't find any information about this online so I'd like to ask here

In my Hub, by default any outgoing call needs to specify a string method. I have read and tested that if I strongly type the hub e.g. MyHub : Hub< IMyHub > then I get to write something like this
this.Clients.All.MyMethod();  instead of SendAsync("MyMethod")

I have the following scenario:
On my aspnet core code, I have a WebA

[2018-05-04 03:35] aboyaniv opened #6205 "How do i store secrets in production ?"
How to store secrets in production?
In asp.net I used  aspnet_regiis.exe -pe .

Edit:
I need to encrypt the :
Sql connection string, The JWT secret, application config keys ...
My production environment is on private cloud.

What is the best way to do it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c99993c-c983-6f

[2018-05-04 04:08] Rick-Anderson commented on #6205
Per the article
You can safeguard Azure test and production secrets with the Microsoft Azure Key Vault configuration provider. See Azure Key Vault configuration provider for more information.

When you deploy your application to a test or production server, you can override the DefaultConnection key value with an environment variable setting that contains the connection string (potentially with se

[2018-05-04 05:25] dmillzilla commented on #6146
I'm far more familiar with MVC. With that said, the instructions for the Razerpages are shown with Visual Studio for Windows. The tutorial that linked the razer instructions was a Visual Studio for Mac tutorial..

[2018-05-04 06:59] RogExp commented on #6174
Thanks Rick, I really appreciate your answers and time. Doing desktop development, I have used some RAD tools that choosing an entity to show as the master-entity of the form, you have automatically got the searching functionality on the form adapting to the server/data-model functionality of the entity.
This is not always what you want, but usually it's a good starting point for the form, ie. it'

[2018-05-04 07:00] phybr opened #6206 "Documentation error regarding skipping HTTPS in development"
The documentation states that you should add "LocalTest:skipSSL" to the appsettings.Development.json file, but in the mvc options you are looking for the skipHTTPS value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b66f8ffa-699c-8b11-0cab-805f5953805f
* Version Independent ID: 7c151ed5-fd78-84fd-a08a-88912990c4ca
*

[2018-05-04 08:38] kshorod commented on #6146
I have glanced over the razor pages tutorial. I think for beginners it is indeed better than the MVC one. However, as an experienced MVC developer and somebody who will have to help interns learn programming:

1. Razor Pages is a spiritual successor (fairly or not) of Web Forms, which we moved over from to MVC and the skepticism towards anything resembling web forms is still there,
2. Right now yo

[2018-05-04 09:19] onrad1330 opened #6207 "Links don't work"
Links at chapter "The data access layer" don't work. It shows error 404. Mostly example links. Please fix it :). thx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54b3ef64-9e17-3aab-0b75-57726d906cb6
* Version Independent ID: 8152896e-6969-d992-4877-6d6bbf4772a3
* Content: [Custom storage providers for ASP.NET Core Id

[2018-05-04 12:50] dballemo opened #6208 "Angular 6.0.0"
How to update the net core 2.0 template with Angular 6.0.0 and the new structure (angular.json)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c047bdd1-1464-4398-92c6-65ab88093525
* Version Independent ID: 1ea83a29-79de-272f-fea0-fb6b3ea1a444
* Content: [Use the Angular project template with ASP.NET Core](https://docs

[2018-05-04 14:00] jswante opened #6210 "I have not worked with .NET since version one and the project I am supporting doies not use Razor Pages so would prefer to understand the basics and build up form there as opposed to having the majic done for me."
## General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.
This template offers some suggestions to consider
when creating an issue.

## Issues with Existing Topics

If the issue is a simple typo or similar correction, just submit a PR.
Otherwise, let us know what's wrong or what we should improve. Include a
link to the topic.

## Requests for

[2018-05-04 15:29] #974 closed

[2018-05-04 15:29] #4237 closed

[2018-05-04 15:29] #6192 closed

[2018-05-04 15:37] kwakuduahc1 opened #6211 "Boostrap Template"
There is a remarkable difference in the HTML markup for the nav-menu and any bootstrap template. As such, bootstrap files cannot be swapped to achieve same results. E.g. when you swap the bootstrap.min.css with any from bootswatch.com, the template jams quickly. It would be great the template could be made to comply with most others so that the template can be quickly swapped without tweaking here

[2018-05-04 15:59] guardrex opened #6213 "Remove double backticks"
Remove a handful of double backticks on code-fenced content.

[2018-05-04 16:18] vwzhang opened #6214 "Debugging Typescript"
Not able to set breakpoint for angular project. Vue project is fine. I believe this may be related to srcRoot setting. Please fix the template or advise how to work around.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c047bdd1-1464-4398-92c6-65ab88093525
* Version Independent ID: 1ea83a29-79de-272f-fea0-fb6b3ea1a444

[2018-05-04 16:28] thomasiverson commented on #6183
Thanks Rick!  it appears there is an issue with the Html.ActionLink in the courses table as well (index.cshtml - line 87).  it is not rendering the link properly.

[2018-05-04 16:51] #6112 closed

[2018-05-04 16:59] #6213 closed

[2018-05-04 16:59] tomstylesncc commented on #6186
Rick, Long time reader first time contributor here. How do you go about updating the docs for this change. In essence the config sections just need removing for core 2 but are still valid in core 1. Do you:
- A Write the docs just for core 2
- B Write the docs for core 2 but cover core 1 in a separate section
- C Just add a note to the existing document that say's you can skip this bit for core 2.

[2018-05-04 17:05] scottaddie opened #6216 "Add ClaimsPrincipal.Current migration doc link to TOC"
Link to the new ClaimsPrincipal.Current doc in the main TOC file.

[2018-05-04 17:15] Straightly opened #6219 "Just Developer."
When I used Swagger before, the document generated have all the comments in ///  ****/// for all APIs and models.  When I tried this with appnet Core version, the comments are stripped.  Did I miss doing anything here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f34eea37-51a4-6227-f5ed-6501624ad045
* Version Indepen

[2018-05-04 17:25] Tratcher commented on #3352
1. The lifetime of IHostedService registrations doesn't really matter, they're only ever resolved once at startup. Using AddHostedService would be better for the sample.
3. Add some command line UI? E.g. "Press 'A' to add a work item."
4. Until 3.0 we'll need separate samples. Assume that's at least a year. That said, we don't need as much coverage for generic host, it's more of a forward looking

[2018-05-04 17:32] guardrex commented on #3352
Seems without the sample that it would be kind'a random to toss in Generic Host comments now. I have a feeling devs won't understand the implementation without the sample. If we are going to hold off, then we can close this issue and take it up again at 2.2.

[2018-05-04 17:46] guardrex commented on #3352
Nevermind ... "Until 3.0 we'll need separate samples." ... interpreted as 'yes' ... we'll add the sample now.

[2018-05-04 17:46] #6216 closed

[2018-05-04 17:59] guardrex commented on #5798
@Tratcher Pertaining to content organization ...

### Idea 1 - All-in-one topic

* Hosting node
  * Index page covers both `WebHostBuilder` and `HostBuilder`. `WebHostBuilder` covered first. Perhaps, at 3.0, they swap priority with `HostBuilder` content moved to the top of the topic. Whenever 2.1 is depreciated (way, way in the future), `WebHostBuilder` content is cut leaving the `HostBuilder` bit

[2018-05-04 18:03] Tratcher commented on #3352
Yes, do add the sample, but get the basic docs done first.

[2018-05-04 18:05] Tratcher commented on #5798
Split. Most people only need WebHostBuilder.

[2018-05-04 18:07] guardrex commented on #5798
@rachelappel @Rick-Anderson @scottaddie

Any objections to Idea 2? :point_up: The work starts 🎈 _this weekend!_ :tada:

[2018-05-04 19:16] Rick-Anderson commented on #6174
You could open an issue in https://github.com/aspnet/Scaffolding/issues requesting that feature, but I'm sure they will have the same opinion as me. That's best left to the developer. Searching can be very inefficient.

[2018-05-04 19:19] rachelappel commented on #6210
Hi @jswante, which version and product are you using in this project you are supporting? Is this MVC? Web Forms? ASP.NET Core or ASP.NET 4.6?

[2018-05-04 19:25] Rick-Anderson commented on #6206
@phybr  can you copy/paste the portion of the doc that's incorrect?

[2018-05-04 19:55] scottaddie commented on #6208
@dballemo Since this is a project template issue rather than a docs issue, I'm closing this. Please see the following issue, which is already tracking this request: https://github.com/aspnet/JavaScriptServices/issues/1637. I recommend giving the issue a "thumbs up" to help the engineering team gauge interest and plan accordingly.

[2018-05-04 19:55] #6208 closed

[2018-05-04 20:03] scottaddie commented on #6214
Moved to https://github.com/aspnet/templating/issues/509.

[2018-05-04 20:03] #6214 closed

[2018-05-04 20:16] scottaddie commented on #6211
Moved to https://github.com/aspnet/templating/issues/510, since this is a feature request in the project template.

[2018-05-04 20:16] #6211 closed

[2018-05-04 20:43] isaac2004 commented on #5310
Based on the current dev branch, here is a list of all the Built-In Tag Helpers that are missing

- FormActionTagHelper
- LinkTagHelper
- OptionTagHelper
- RenderAtEndOfFormTagHelper
- ScriptTagHelper

[2018-05-04 21:11] os1r1s110 opened #6221 "Enum display attribute localization details"
Hi there, superb documentation, really useful!
Would just like to know if it would be possible to add a small section on how enum display attribute localization is performed.
It is not using the same localization resources as the other display attributes throughout the application even if it is configured as documented in the "DataAnnotations localization" section.

It would then be nice to docume

[2018-05-04 21:14] vladkolodka opened #6222 "Server-side rendering"
It looks like that section "Server-side rendering" is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3154dec-545a-c749-76ac-1f4581c2f922
* Version Independent ID: cd33922a-0feb-2a37-4e8e-6d7856617a31
* Content: [Use the React project template with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/spa

[2018-05-04 21:17] zedOdin commented on #6183
Now it's running--->
1)block "@if (Model.Instructor.Courses != null){ //code }" ~ must be in 'Pages/Instructors/Index.cshtml' not in 'Pages/Courses/Index.cshtml'.
2) in 'Pages/Instructors/Index.cshtml.cs' line "CourseID = courseID.Value;" ~ must be "InstructorID = courseID.Value;"
3) same with 'Pages/Instructors/Index.cshtml' line "if (item.CourseID == Model.CourseID)" ~ must be "if (item.CourseID

[2018-05-04 22:24] Rick-Anderson commented on #6210
@jswante The best approach is to follow [Create a web app with ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/?view=aspnetcore-2.1) and when it covers things the framework does for you, look that up in the [fundamentals](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/?view=aspnetcore-2.1&tabs=aspnetcore2x)

[2018-05-04 22:27] Rick-Anderson commented on #6211
@kwakuduahc1 thanks for your suggestion. I'll pass this on to the development team.

[2018-05-04 23:01] Rick-Anderson commented on #6146
@dmillzilla can you post the URL of the page with the incorrect link?

[2018-05-05 00:37] Rick-Anderson commented on #6221
@ryanbrandenburg  if you can answer this I'll get it added to the doc.

[2018-05-05 02:19] Rick-Anderson opened #6225 "Update IHostingStartup article to show Identity RCL"
Once "Scaffold Identity in ASP.NET Core projects" is complete, point out in the intro it uses `IHostingStartup`

Add `Scaffold Identity` to TOC

Consider getting `IHostingStartup` in the title.  Can't we come up with a better title for the article?

[2018-05-05 02:32] guardrex commented on #6225
It was challenging to name that topic. I think we can do better. Is it ok if I float some alternative titles tomorrow?

[2018-05-05 02:54] Rick-Anderson opened #6226 "new doc: How to add custom user data to Identity"
Show how to use the scaffolder and add a user class.

[2018-05-05 13:05] adeelsheikh opened #6227 "Simple and Precise Explanation!"
Very precise explanation to understand the basics of ASP.NET Core pipeline. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9898482c-fa54-7ce2-1716-d14fbe03990d
* Version Independent ID: 3926c686-0ccc-f9fe-ca52-0134612a1623
* Content: [ASP.NET Core Middleware](https://docs.microsoft.com/en-us/aspnet/core/fundamen

[2018-05-05 13:06] #6227 closed

[2018-05-05 13:15] RogExp commented on #6174
Thanks Rick. I'll think about opening an issue. As one has done searching for one/two fields it's probably just a matter of copying to add more. However I think it would be a booster for .net core and Razor pages to have this kind of automatic search-functionality. It would be easier to show the company managements how effective the programming is ;-).
And it's always on  the programmer to create

[2018-05-05 13:15] #6174 closed

[2018-05-05 13:26] guardrex commented on #6225
Here's one that's a little easier to grasp because it drops the "platform-specific configuration" bit, which came from the API description of [IHostingStartup](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.ihostingstartup?view=aspnetcore-2.0) ...

*Enhance an app from an external assembly in ASP.NET Core*

... and btw ... the "enhance an app" bit is there to avoid the ph

[2018-05-05 13:40] guardrex commented on #6225
Another thing occurs to me ... This is in *Host and deploy*; but upon reflection, I think the topic should moved to *Configuration*. We already have a node there, so it's an easy move.

[2018-05-05 14:08] guardrex opened #6228 "Move and rename IHostingStartup topic with cross-link enhancements"
* Rename topic to *Enhance an app from an external assembly in ASP.NET Core with IHostingStartup*
* Move topic from *Host and deploy* to *Fundamentals/Configuration*
* Cross-link the topic from *Configuration* index and *Application startup*

[2018-05-05 14:09] guardrex commented on #6225
[Move and rename IHostingStartup topic (\#6229)](https://github.com/aspnet/Docs/pull/6229)

[2018-05-05 15:27] guardrex commented on #3352
The new (draft) sample has been updated for use when we get back to this issue: [HostedServicesTopicSample](https://github.com/guardrex/HostedServicesTopicSample). Console bits added to deal with enqueuing background work items can be seen in the *Program.cs* file ...

https://github.com/guardrex/HostedServicesTopicSample/blob/master/Program.cs

We'll need to address the terminal choice for runnin

[2018-05-05 16:02] thomasiverson opened #6230 "HTML.ActionLink not working"
It appears there is an issue with the Html.ActionLink on Pages/Instructors/Index.cshtml - line 87). It doesn't seem to be rendering the link.

@Html.ActionLink("Select", "OnGetAsync",
                                  new { courseID = item.CourseID })

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0026f69-7e5d-0d3e-55

[2018-05-05 18:17] racouster commented on #6146
The Razor Tutorial requires VS and I've only got VS Code installed right now. Also why do I need Razor pages I don't like papercuts. Also isn't it just more overhead if I'm using React or Angular or similar (I mean I know they're client side, but it's more bloat. Guess I should just use WebApi and react or whatever.

[2018-05-05 18:30] #6183 closed

[2018-05-05 18:40] Rick-Anderson commented on #6146
@racouster  The [VS Code](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages-vsc/razor-pages-start)

[2018-05-05 20:41] mirsaeedi opened #6231 "There is no link to the Nuget package"
We need to provide readers with the nuget package name that they need to install (Microsoft.AspNetCore.Authentication.Facebook).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2c6faa2-8c65-073b-4988-672c1aa9690c
* Version Independent ID: d22d616f-907e-ae62-1f43-88ad176a87d4
* Content: [Facebook external login setup in

[2018-05-06 11:29] user135711 commented on #6173
See the link for #2. The contact page appears correct because it's a link to the default index with TheContactPage appended. Each of the links will still load the correct link but the url link and the url in the address bar once clicked have an erroneous TheContactPage, that seems to be tolerated by the routing.
<a href="https://drive.google.com/open?id=1yLCQgfULkiPRioaTNP9rhpNxayxe8agI"><img src=

[2018-05-06 13:00] guardrex commented on #6173
Sorry ... I didn't understand the repro. Yes, I see it now. I updated "Issue 2" and show the markup generated.

[2018-05-06 17:58] CosCallis opened #6233 "New doc: Require HTTPS on Web APIs"
Opening segment comes down to : Don't ever do this for anything that actually matters.

Do not use RequireHttpsAttribute on Web APIs that receive sensitive information

And (of course) does not give you a link on where to go find how to do this for things that actually matter.
... but if you are just using https for the hell of it... the article is fine.
(well..once you figure out the 'usings' whi

[2018-05-06 21:05] blowdart commented on #6233
By enforcing HTTPS only? I don't think we have one.

[2018-05-06 21:13] Rick-Anderson commented on #6233
@blowdart  changed the title to new doc:  **Require HTTPS on WebAPI**

[2018-05-06 21:14] Rick-Anderson commented on #6233
@blowdart  or is the instructions good enough:

Not listen on HTTP.
Close the connection with status code 400 (Bad Request) and not serve the request.

[2018-05-06 21:39] blowdart commented on #6233
I think we need to provide a page which talks about how.

[2018-05-07 04:18] SimonCropp opened #6234 "clarify purpose of BuildWebHost"
here https://docs.microsoft.com/en-us/aspnet/core/fundamentals/?view=aspnetcore-2.1&tabs=aspnetcore2x

we have

[code]

why isnt it

[code]

i.e. what is the purpose of the `BuildWebHost`?

[2018-05-07 08:18] hjalalisharepoint2013 commented on #5832
Please consider updating `https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.js`, Its still looking for `live` function in jquery!
`Uncaught TypeError: a(...).live is not a function
    at jquery.unobtrusive-ajax.min.js:5`

[2018-05-07 08:27] Pzixel commented on #5832
@hjalalisharepoint2013 yep, it's definitely looks like a bug, this page is trying to download jquery in year 2018.

[2018-05-07 09:02] joeruder opened #6235 "Possible Wrong Link in VS "Learn More""
Hello,

In VS if you click on Learn More in "Create new project" under Web Application I believe it should take you to this page (Razor).  Instead it currently links to the same page as the standard MVC application here: https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-2.1&tabs=aspnetcore2x  Is that the expected bahavior?

---
#### Document Details

⚠

[2018-05-07 11:29] SychevIgor opened #6239 "AAD new azure portal UX"
## Issues with Existing Topics
Content of the post is out-of-date, because management of an aad on classic port no longer possible. Document should reference portal.azure.com UX for AAD.
https://docs.microsoft.com/en-us/aspnet/identity/overview/getting-started/developing-aspnet-apps-with-windows-azure-active-directory

@Rick-Anderson

[2018-05-07 11:36] SychevIgor opened #6241 "Create ClearDB UX on portal.azure.com"
## Issues with Existing Topics

Create ClearDB UX is different, because classic portal no longer available, instead in a documentation should be portal.azure.com UX

https://docs.microsoft.com/en-us/aspnet/identity/overview/getting-started/aspnet-identity-using-mysql-storage-with-an-entityframework-mysql-provider

@maumar @raquelsa @rmcmurray

[2018-05-07 11:40] SychevIgor opened #6242 "Create ClearDB UX on portal.azure.com for custom asp.net provider post"
## Issues with Existing Topics
Create ClearDB UX is different, because classic portal no longer available, instead in a documentation should be portal.azure.com UX

https://docs.microsoft.com/en-us/aspnet/identity/overview/extensibility/implementing-a-custom-mysql-aspnet-identity-storage-provider

@raquelsa @suhasj @tfitzmac

[2018-05-07 11:42] user135711 commented on #6134
@Rick-Anderson I took a look at doing this one today and I think I'll do it next weekend. I started an example that I was going to show how to use the provided request features in middleware using context.Features.Get<IHttpRequestFeature>() and context.Features.Set<IHttpRequestFeature>(), and then implement a simple custom server feature but I haven't finished reverse engineering the syntax to reg

[2018-05-07 11:57] rachelappel commented on #6242
Closing this one, as 6241 is the same https://github.com/aspnet/Docs/issues/6241

[2018-05-07 12:01] rachelappel commented on #6235
Hi @joeruder. This will depend on the VS version you have. If RC1, then the link should take you here regardless of whether the project is Razor or MVC https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.1

[2018-05-07 12:11] SychevIgor commented on #6242
@rachelappel  not agree. one issue- one article. Look on the links in the end of each issue.
I don't think that fixing 2 post in the same issue- will a good idea.

[2018-05-07 12:13] rachelappel commented on #6234
Hi @SimonCropp. Great question! They both do basically the same thing, but the syntax has been changed for simplicity in Core 2.1. The doc shows the older way because it hasn't been upgraded to 2.1 RC1 just yet.

This blog post may shed a bit more light on some of the details of the builder.
https://andrewlock.net/exploring-program-and-startup-in-asp-net-core-2-preview1-2/

[2018-05-07 12:13] #6234 closed

[2018-05-07 12:30] phybr commented on #6206
Certainly.

These lines instruct the program to look for a skipHTTPS line in the configuration file:

[code]

And just a few lines below, you are instructed to add a skipSSL line in the config file.

"Set "LocalTest:skipSSL": true in the appsettings.Developement.json file."

It should be either skipSSL or skipHTTPS, it will not work if you combine these lines. To fix this, one could simply substit

[2018-05-07 12:30] rachelappel commented on #6234
@SimonCropp  Quite possibly, but not being the original author I don't know what the requirements were for the author at the time of writing to say why it isn't in there. Sometimes items don't make it (or do) into docs because of some other reason that sounded good at the time.
While we do sweep the content to make updates, unfortunately we can't get to all of them in a manner that is timely for e

[2018-05-07 12:35] rachelappel commented on #6235
@joeruder Thanks for catching it! I'll look up who owns that feature for 15.6 and let them know. I don't see any reference to the "read more" in the doc itself, so I'll close this issue.

[2018-05-07 12:35] #6235 closed

[2018-05-07 12:53] rachelappel commented on #6242
@SychevIgor I see now. My mistake, they looked the same. It's early here. :D Reopening.

[2018-05-07 13:40] rachelappel opened #6243 "/signalr Upgrade docs for RC1"
@davidfowl I'll use this as the master issue for the RC1 upgrade request.

[2018-05-07 15:42] natsch93 opened #6244 "Fix for issue with creating new signalR.HubConnection()"
Great guide to get started with SignalR, thanks. Just a minor issue as the SignalR Connection was throwing an error stating that 'protocol' is required. I fixed this by replacing the new signalR Hub Connection line in chat.js with the following:

const connection = new signalR.HubConnectionBuilder()
    .withUrl("/chathub")
    .build();

Source: https://www.npmjs.com/package/@aspnet/signalr

This

[2018-05-07 16:47] scottaddie commented on #6186
@Rick-Anderson That's accurate. You can also use `>=` and `<=`.

[2018-05-07 16:58] Rick-Anderson commented on #6134
@user135711  no problem, next week is fine.
@Tratcher  who can provide code to register a custom feature from the source code

[2018-05-07 16:59] Rick-Anderson commented on #6206
@phybr  Thanks!

[2018-05-07 17:06] Tratcher commented on #6134
Something like this?
https://github.com/aspnet/Session/blob/06f473724870cd4704ab48388d80ffdaddb0f630/src/Microsoft.AspNetCore.Session/SessionMiddleware.cs#L101-L111

[2018-05-07 17:11] newpost opened #6245 "where launchSettings.json ?? i can't find it"
A change to the ASP.NET Core project's launch settings may be required to test the HTML page locally. Open launchSettings.json in the Properties directory of the project. Remove the launchUrl property to force the app to open at index.html—the project's default file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9847

[2018-05-07 17:30] guardrex commented on #6245
@newpost It's normally created when the project is created with the `dotnet new` command. I don't see a spot where `ExcludeLaunchSettings` is set to `true` (it looks like it defaults to `false` everywhere) ( https://github.com/search?p=3&q=org%3Aaspnet+ExcludeLaunchSettings&type=Code ). Did you create the project with the `dotnet new` command shown?

[code]

[2018-05-07 17:35] Pangar opened #6246 "Couple of possible typo's"
In this section https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/sort-filter-page?view=aspnetcore-2.0#add-filtering-functionality-to-the-index-method says "Serve" and not "Server".
In this section: https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/sort-filter-page?view=aspnetcore-2.0#add-a-search-box-to-the-student-index-view
Shouldn't the path be Pages/Students/Index.cshtml and not V

[2018-05-07 17:53] #6231 closed

[2018-05-07 17:54] #6202 closed

[2018-05-07 18:08] KevinBurton opened #6247 "FileName validation?"
There are numerous warnings about using the FileName property of IFileInfo without validation but there is no indication on how to do that validation. Is there an example that shows how to properly do a validation on the FileName?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5cfa38-0e6c-4346-dafc-84ea5c513fcf
* Ver

[2018-05-07 18:13] Rick-Anderson opened #6248 "Add monikers to "Get Started with ASP.NET Core""
[Get Started with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/getting-started?view=aspnetcore-2.1)

![image](https://user-images.githubusercontent.com/3605364/39717300-80e2c680-51ce-11e8-9590-c0dd4024fea6.png)

[2018-05-07 18:29] Pangar commented on #6246
Can you do it? I would hate if I made it worst.
Thank you,
Antwon Garcia

Sent from Yahoo Mail on Android

  On Mon, May 7, 2018 at 12:40 PM, Luke Latham<notifications@github.com> wrote:
Yes, great catches @Pangar! Do you want to change them on a PR? (just click the "Edit" button on the topic to edit it) ... or would you prefer that I take care of these?

—
You are receiving this because you were

[2018-05-07 18:30] guardrex commented on #6246
Sure np. Thanks again for reporting!

[2018-05-07 18:49] #6246 closed

[2018-05-07 18:53] #6207 closed

[2018-05-07 18:53] #6228 closed

[2018-05-07 18:53] guardrex opened #6252 "Razor Pages with EF Core - Sort, Filter, Paging"
RP topic ... however ... "view models" described in the topic.

* https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/sort-filter-page?view=aspnetcore-2.1
* https://github.com/aspnet/Docs/blob/master/aspnetcore/data/ef-rp/sort-filter-page.md

[2018-05-07 19:18] guardrex commented on #6247
Hello @KevinBurton!

Thanks for reporting. We have a few issues to address on this topic (it's due for an overhaul/rewrite I believe). Those issues are tracked by https://github.com/aspnet/Docs/issues/5331.

I'll add this to the list. Thanks again for reporting!

[2018-05-07 19:51] Salgat opened #6255 "AddControllersAsServices()"
Highly suggest adding a mention of services.AddMvc().AddControllersAsServices(); for those who want to configure which (and how) controller constructor is used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08d2cf2e-55fb-33a4-b1d4-c97b2d531741
* Version Independent ID: f9a790d8-f25b-0e1d-eb63-c8ed3ac518cf
* Content: [

[2018-05-07 20:09] #6111 closed

[2018-05-07 20:56] dapalmi commented on #5450
I just opened the new Visual Studio 15.7, created a new ASP.NET Core 2.1 project with the Angular template, added Docker Support started the application and ... got an exception 👎
This all is now a release candidate!!!
Honestly, I would get into trouble making software like that

[2018-05-07 21:09] Rick-Anderson commented on #6255
@Salgat  I agree. Good suggestion.

[2018-05-07 21:11] Rick-Anderson commented on #6244
@natsch93  Thanks for the feedback.
@rachelappel  can you get this fixed this week?

[2018-05-07 21:15] Rick-Anderson commented on #6241
@SychevIgor  thanks for reporting.
Related issue #6242

[2018-05-07 21:17] Rick-Anderson commented on #6239
@SychevIgor  thanks for reporting this.
@CamSoper  could you update this? Should this be moved to the Azure repo?

[2018-05-07 22:43] Rick-Anderson commented on #5450
@dapalmi  This repro is for document issues. Did you want to open an issue with the product?  If so, see the ASP.NET [How to contribute](https://github.com/aspnet/Home/blob/dev/CONTRIBUTING.md)

It's helpful to add the steps to reproduce the problem, what happened, and what was expected.

[2018-05-07 22:54] dapalmi commented on #5450
Ok. Sorry. I thought this is the continuation of this [issue](https://github.com/aspnet/aspnet-docker/issues/347)

[2018-05-07 22:58] Rick-Anderson commented on #5450
@dapalmi  no problem. Does the workaround solve your issue?

[2018-05-07 23:03] Rick-Anderson opened #6261 "Update all SignalR topics to RC1"
@rachelappel  List them all here

- [ ] first
- [x] [Get started with SignalR on ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/signalr/get-started?view=aspnetcore-2.1&tabs=visual-studio)  via #6249
- [ ] #6244
- [ ] etc

[2018-05-07 23:09] dapalmi commented on #5450
@Rick-Anderson The workaround works. Thanks. It just doesn't fit into the otherwise very nicely flowing ASP NET Core workflows. In Visual Studio Angular Templates are offered and you can add Docker support, so me as a normal user would expect this to work without having to google a workaround first

[2018-05-07 23:18] Rick-Anderson commented on #5450
@dapalmi  agreed.
@scottaddie  can you work with the PU to get a fwlink on the wizard to warn folks. The fwlink could point an H2 in our Angular doc, which in turn could point to that issue.

[2018-05-07 23:28] Rick-Anderson commented on #6261
OK, thanks

[2018-05-07 23:28] #6261 closed

[2018-05-07 23:37] rachelappel commented on #6244
@natsch93 Thanks for the comment, however, you must use the full path in the .NET client when you use withUrl.  The shorter “/chathub” form only works because it’s on a web page that itself has a URL, so there’s something to resolve relative to. Otherwise, it will error,

[2018-05-08 01:46] guardrex commented on #5798
@Tratcher Let's firm up the plumbing (I'll provide an outline for the Generic Host topic after we get these basics resolved).

#### Host landing page

* Title: Host in ASP.NET Core
* UID: fundamentals/host/index
* Covers:
  - Intro to hosting
  - Launch point for web host and generic host topics (and emphasizes the use of web host)
  - Common hosting configuration/setup that applies to both web an

[2018-05-08 07:20] janis-veinbergs opened #6265 "namespace no longer reserved?"
From what I read here: https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/?view=aspnetcore-2.1&tabs=visual-studio#using-layouts-partials-templates-and-tag-helpers-with-razor-pages i see that @namespace is being used.
Moreover VS 15.6.7 with ASP.NET core stuff when creating .NET Core project "ASP.NET Core Web Application" the file _ViewImports.cshtml also uses @namespace directive.

---
#

[2018-05-08 08:20] arame3333 opened #6267 "Some of the methods appear not to exist"
I am finding that the methods AddHttpsRedirection and UseHttpsRedirection do not exist. My intellisense is not indicating which libraries they belong to.
I assume I have to specify a library in a using statement and maybe install one via nuget, but I am not getting any clues from where.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-05-08 09:07] Niladri24dutta opened #6268 "Sendgrid section is outdated in email confirmation for MVC 5 app"
## Sendgrid section not updated with the V3 API code

In the below article the "Hook Up Sendgrid" section is not updated yet,it's still following the old V2 API code. Currently Sendgrid uses API_KEY which is also not mentioned in the document. Please see the link below.
[Outdated section](https://docs.microsoft.com/en-us/aspnet/mvc/overview/security/create-an-aspnet-mvc-5-web-app-with-email-confir

[2018-05-08 09:48] egmfrs opened #6269 "Rename of cs file required in view components sample"
ToDoItem.cs should be renamed TodoItem.cs to match namespace throughout project.

Docs/aspnetcore/mvc/views/view-components/sample/StarterViewComp/Models/ToDoItem.cs

[2018-05-08 10:04] meision commented on #6146
I'm a Microsoft employee. It was very pity for me that ASP.net core team introduced Razor page.  As we know, Microsoft technology lost developer in last years. Why we introduce WF/WPF/WCF, and then tell that those technology out of date.
The WebForm, tell it was out, the "MVC is new thing", and currently, tell "MVC was out, Razor page is new thing", what about tomorrow? "Razor page is out, what is

[2018-05-08 10:45] alex-piccione opened #6270 "Does it work with Web API in Core 2.0 ?"
ASP.Net Web API with Core 2.0
This code:

[code]
and
[code]
With "CORS origins" set to "*" or "www.something,www.somethingelse"
and With different Environments
NEVER send the Access-Control-Allow-Origin header.

Why ?
The client is not able to use the API service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59bca5db

[2018-05-08 11:15] #6244 closed

[2018-05-08 11:15] #6243 closed

[2018-05-08 12:16] rachelappel commented on #6204
Closing since there is another issue covering this. Can re-open if further questions arise.

[2018-05-08 12:16] #6204 closed

[2018-05-08 12:39] rachelappel commented on #6265
@janis-veinbergs  Your observations are correct. Thanks for the feedback!

[2018-05-08 12:48] rachelappel commented on #6268
@Niladri24dutta Thanks for opening the issue. We greatly appreciate your contribution so feel free to open a PR. @cephalin, @TomArcher, or @syntaxC4 can assist in creating the PR in the Azure repo. Since this is the ASP.NET repo, I'll close the issue here and reopen in it the Azure repo for you.

[2018-05-08 12:49] rachelappel commented on #6268
New issue: https://github.com/MicrosoftDocs/azure-docs/issues/8238

[2018-05-08 12:51] isaaken opened #6272 "Missing information"
It would be great if this article contained the release date for ASP.NET Core and which language it is written in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad8c13e7-78e6-cf9a-e7cb-3215df5fd1c4
* Version Independent ID: a3c1d2a6-625a-3409-120d-8372230a8196
* Content: [Introduction to ASP.NET Core](https://docs.mic

[2018-05-08 13:03] rachelappel commented on #6272
Hi @isaaken! Excellent question! Thank you!

We don't publish the release dates as part of the documentation at docs.microsoft.com, however there are a few ways to get that information:

-Check the release notes: https://github.com/dotnet/core/blob/master/release-notes/2.1/Preview/2.1.0-rc1.md
-Check the date/time stamps on the ASP.NET core repo: https://github.com/aspnet/Home
-Check the release p

[2018-05-08 13:03] #6272 closed

[2018-05-08 13:17] guardrex commented on #6267
@arame3333 You're aware that they're 2.1 pre-release (RC1 as of yesterday), correct? Just checking, since there's some additional config required to use pre-release bits that devs sometimes aren't aware of.

They live in the `Microsoft.AspNetCore.HttpsPolicy` package, which is included in the `Microsoft.AspNetCore.App` metapackage. However, the extension methods should be available without a `usin

[2018-05-08 13:24] joacar opened #6273 "[Proposal] Enviornment variables that contains escape characters"
## Proposal

[Connection string in Linux service file configuration as environment variable](https://github.com/aspnet/Configuration/issues/791) I raised an issue where the `Environment=ConnectionStrings__Default={value}` wasn't handled correctly if entered as is. For me, not all to familiar with escape values in Ubuntu services files, it wasn't obvious to use `systemd-escape`.

I thinks this shou

[2018-05-08 13:36] scottaddie opened #6275 "Update Partial Tag Helper sample app to 2.1 RC1"
Update the sample app associated with the following doc:
https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/partial-tag-helper?view=aspnetcore-2.1

[2018-05-08 13:37] guardrex commented on #6273
Thanks for the suggestion @joacar! If you'd like to locate those locations in the two topics and submit a PR to add this content, please feel free to go ahead. If you prefer that I take care of it, *will do* ... it will take me a couple of weeks to get to it, but I'll definitely get it addressed asap.

If you create a PR, the format and syntax will go something like this (include the greater than

[2018-05-08 13:51] #6275 closed

[2018-05-08 13:58] scottaddie opened #6277 "Remove version querystring from API Reference TOC link"
The **API Reference** link in the TOC is hard-coded to use "?view=aspnetcore-2.0". We shouldn't assume the user always wants to view v2.0 of the API ref.

[2018-05-08 14:09] scottaddie commented on #6277
@Rick-Anderson Our TOC link to the ASP.NET Core API ref is the following:

[code]

The .NET docs repo just links to /dotnet/api/. Are you okay with me changing to that in our repo? This is a cleaner approach than the following:

[code]

[2018-05-08 14:30] janis-veinbergs opened #6278 "View components for Razor Pages"
Cannot find View components article for Razor Pages (non-MVC). Was thinking where should I put my Components when I have Pages folder and then I find that on 3rd party site: https://www.learnrazorpages.com/razor-pages/view-components:

Also for me, as a newb to this technology, this is kind of messy. Good thing that (Get started with ASP.NET Core MVC and Visual Studio)[https://docs.microsoft.com/e

[2018-05-08 15:42] Tratcher commented on #5798
Overall I think you've got a good handle on it.

I expect fundamentals/host/web-host whill chain into fundamentals/startup. There's a lot of duplication there.

Title: ~~ASP.NET Core~~ Generic Host

- Host configuration values: There's overlap, but it's been slimmed down a lot. There are no default config providers and a much reduced set of config keys.
https://github.com/aspnet/Hosting/blob/19d12

[2018-05-08 15:45] rachelappel commented on #6278
Hi @janis-veinbergs MVC view and Razor Pages use the same ViewComponents, since Razor is what renders MVC views and Razor Pages so this doc can be used for either:  https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-components?view=aspnetcore-2.1

I will share your feedback with the rest of the team about the messiness of searching between MVC and Razor. It is very helpful!

I'll close th

[2018-05-08 15:45] #6278 closed

[2018-05-08 16:34] guardrex commented on #5798
I'll look at that. If we can organize the content better, this is as good a time as any to address it. I have a (small) window of time and not very many 2.1 issues left to attend (except for samples, which we won't update until RTM).

We must include the technology name in the title of the topic somehow (an APEX directive). Do you prefer *Generic Host in ASP.NET Core*? In which case, the corollary

[2018-05-08 16:46] Tratcher commented on #5798
The point of Generic Host is that we're trying to seperate it from ASP.NET Core, hence the MS.Extensions name. _Generic Host in Microsoft Extensions_?

[2018-05-08 16:48] guardrex commented on #5798
I see. Ok ... *Generic Host in Microsoft Extensions*.

[2018-05-08 17:05] guardrex commented on #5798
@Tratcher The Generic Host is for use in .NET scenarios. When I see "Microsoft Extensions" there, I can't obviously connect "Generic Host" to something specific to .NET.

I'm wondering about *.NET Generic Host* as a title because they want the technology names present for SEO purposes. I'm just a bit concerned that *Generic Host in Microsoft Extensions* isn't going to meet their goals for indexing

[2018-05-08 17:08] Tratcher commented on #5798
Sounds good.

[2018-05-08 17:10] AlejandroFlorin opened #6281 "2.0.8 .net run time core is missing from download page"
There is no 2.0.8 version available for download so can't get the 2.0.8 hosting bundle for the new .net core version.

https://www.microsoft.com/net/download/all

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec484002-18c1-6a0d-00de-820d56f038d3
* Version Independent ID: 7903ce53-2cbb-f083-7479-c8abc30211a0
* Content:

[2018-05-08 17:15] guardrex commented on #6281
@AlejandroFlorin Latest release is 2.0.7 ... https://github.com/dotnet/core/releases

Where did you see 2.0.8?

[2018-05-08 17:39] guardrex commented on #6281
@AlejandroFlorin I'm going to go ahead and close. We can re-open and discuss further if you have additional questions. If you saw something that indicated that there was a 2.0.8 release, please let us know about that. If its a Microsoft page, there might be a typo somewhere that we need to fix.

[2018-05-08 17:46] Rick-Anderson commented on #6268
@Niladri24dutta  a PR would be very welcome.

[2018-05-08 17:48] Rick-Anderson commented on #6268
I think the instructions are correct in [Account confirmation and password recovery in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm?view=aspnetcore-2.1&tabs=aspnetcore2x)
You can probably get a good start by copying them.

[2018-05-08 18:07] shirhatti opened #6283 "Update Common errors reference for IIS"
Based on a customer complaint, it's hard to discover what's wrong if you haven't installed the ServerHosting bundle and hence don't have ANCM installed.
See aspnet/Home#3015

Perhaps we should add it to the commons error reference.

[2018-05-08 18:10] Niladri24dutta commented on #6268
@Rick-Anderson Ok I will submit a PR as per the guidelines, I have already followed a similar approach to add the example in .NET Core version example of sendgrid in azure.

[2018-05-08 18:13] #6273 closed

[2018-05-08 18:21] Rick-Anderson opened #6285 "Update view components to use Razor Pages"
See #6278

[2018-05-08 18:43] Rick-Anderson commented on #6265
@NTaylorMullen  see [Reserved keywords not used by Razor](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-2.1#reserved-keywords-not-used-by-razor)

**Reserved keywords not used by Razor**
* namespace
* class

Should `namespace` be moved to [Razor keywords](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-2.1#razor-keywords)

[2018-05-08 18:56] NTaylorMullen commented on #6265
Yes

[2018-05-08 19:12] Rick-Anderson commented on #6269
@egmfrs  I don't understand the problem. The namespace for `public class TodoItem` is  `ViewComponentSample.Models1 and the class name is consistent with the filename.

[2018-05-08 19:13] #6269 closed

[2018-05-08 19:26] Rick-Anderson commented on #6267
@arame3333  if you set the version selector to 2.0 or lower, they don't show up.

![image](https://user-images.githubusercontent.com/3605364/39778377-d65fec40-52a1-11e8-843f-cb56ea468804.png)

[2018-05-08 19:27] Rick-Anderson opened #6287 "Add API links to Enforce HTTPS"
See #6267
For example, make `UseHttpsRedirection` a link

[2018-05-08 19:28] Rick-Anderson commented on #6267
@arame3333  thanks for pointing this out. I created #6287 to address this and I'll get it added in the next week. Having links for those APIs should help. I agree it's confusing as it is.

[2018-05-08 19:32] Rick-Anderson commented on #6267
cc @scottaddie
This is a problem we should keep in mind as new APIs roll out. I think having the API links will help.

[2018-05-08 19:37] guardrex commented on #6267
I thought this was an implementation question ... "How do I use these APIs now (in pre-release)?"-type of question.

@arame3333 Clarify your ask ... Are you trying to use the API in an app, or are you just looking for the API generally in the docs/API browser/Nuget.org?

[2018-05-08 19:39] AlejandroFlorin commented on #6281
There is a new .Net Core updated in NuGet for Visual Studio:

Microsoft.AspNetCore.All v2.08

[2018-05-08 19:52] AlejandroFlorin commented on #6281
Also here:

https://www.nuget.org/packages/Microsoft.AspNetCore.All

[2018-05-08 19:57] guardrex commented on #6281
Yes, they updated the metapackage, but it isn't the same as a .NET Core release. That package version doesn't need to match the latest .NET Core release (although I definitely understand your interpretation looking at the numbers). For the latest released Hosting Bundle Installer, use the 2.0.7 runtime link. Use the 2.1.0-rc1 runtime link to get to the Hosting Bundle Installer for the 2.1.0 previe

[2018-05-08 20:03] AlejandroFlorin commented on #6281
Good to know. Every previous .net core release had a matching package update so I assumed there was one now, though I did find it curious that 2.1.0 rc was published so soon after.

Thanks,

[2018-05-08 20:10] AlejandroFlorin commented on #6281
I just updated my project to Microsoft.AspNetCore.All v2.0.8 and published to my IIS test server that has hosting bundle 2.0.7. They are not compatible.  IIS returns back HTTP Error 502.5 - Process Failure, which is the error that I always get when there is a mismatch between the hosting bundle and the .net core version.

[2018-05-08 20:12] guardrex commented on #6281
That's interesting. Let's call in the big guns! lol

@leecow Can you comment on the "All" package revving to 2.0.8? We don't see a 2.0.8 official release, and the metapackage just notched up a version a day ago.

[2018-05-08 20:14] Rick-Anderson commented on #6272
@isaaken  the best place for the schedule is https://github.com/aspnet/Home/wiki/Roadmap

[2018-05-08 20:15] Rick-Anderson commented on #6267
@arame3333  they are in the  [Microsoft.AspNetCore.App](https://www.nuget.org/packages/Microsoft.AspNetCore.App) metapackage for ASP.NET Core

[2018-05-08 20:15] #6267 closed

[2018-05-08 20:16] #6265 closed

[2018-05-08 20:27] leecow commented on #6281
This is kind of a weird update and we obviously haven't figured out the best way to communicate the situation.

There was a change in a single framework package (System.Security.Cryptograph.Xml - not part of netcore.app so no update there) and some ASPNETCore packages. (@danroth27 for details) The ASP changes are included in the SDK 2.1.200.

There's still some plumbing work going on behind the sc

[2018-05-08 20:28] leecow commented on #6281
@JunTaoLuo to look at the HTTP error reported by @AlejandroFlorin

[2018-05-08 20:30] janis-veinbergs commented on #6278
@Rick-Anderson thank for making it clearer.

What about https://www.learnrazorpages.com/razor-pages/view-components ? Is it true from that framework will search:
- /Pages/Components/<component name>/Default.cshtml
- /Views/Shared/Components/<component name>/Default.cshtml

If so, this piece of information seems important to be added to docs.

[2018-05-08 20:35] Rick-Anderson commented on #6278
@janis-veinbergs  that's right. Do you want to create another issue for that?

[2018-05-08 20:41] janis-veinbergs commented on #6278
@Rick-Anderson only if that is true. Its hard for me to judge, because I'm currently learning this stuff and haven't got my experimental view component to work yet. But it's late here and i'll get to it tomorrow.

[2018-05-08 21:57] guardrex commented on #6283
@shirhatti It's already there at https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/azure-iis-errors-reference?view=aspnetcore-2.1#incorrect-role-module-not-installed-or-incorrect-permissions

Note that we have an existing issue to re-evaluate the error conditions and messages in https://github.com/aspnet/Docs/issues/5297 ... waiting on 2.1 RTM for that.

[2018-05-08 21:57] #6283 closed

[2018-05-08 22:00] shirhatti commented on #6283
My bad. Didn't see it the first time around

[2018-05-08 22:11] leecow commented on #6281
@preetikr for progress on ms.com download update.

[2018-05-09 00:16] AnthonySavitt opened #6288 "Need help running secure user data sample"
Hi, I am trying to get your final completed project file to work but when I try to run it I produce a 'HTTP Error 502.5 - Process Failure' page. I have also tried to follow the tutorial from the start, but this error gets produced as well at a certain point. I think it might have something to do with the SeedData but I am not sure. Any help would be fantastic because I'd love to be able to get som

[2018-05-09 00:43] Rick-Anderson commented on #6288
I just tested the starter and it runs fine. You might try putting a breakpoint in startup.

[2018-05-09 01:38] Rick-Anderson commented on #6288
Did you configure SeedUserPW?

[2018-05-09 02:04] Rick-Anderson commented on #6288
The sample needs to be updated for the much better 2.1 versions of HTTPS. To get it running for now comment out
            //        options.Filters.Add(new RequireHttpsAttribute());

[2018-05-09 02:10] AnthonySavitt commented on #6288
The commenting out of that line did the trick! Thanks so much!!

On Tue, May 8, 2018 at 7:04 PM, Rick Anderson <notifications@github.com>
wrote:

[2018-05-09 02:12] Rick-Anderson commented on #6288
You need to set up SSL in the project. Then it works with the SSL redirect. Right click on the project > properties > debug tab > enable SSL

[2018-05-09 02:26] Rick-Anderson opened #6290 "Update secure user data to use 2.1 bits"
The HTTPS is old. See #6288

[2018-05-09 02:29] Rick-Anderson commented on #6288
All that HTTPS/certs works much better with ASP.NET Core 2.1

[2018-05-09 02:32] AnthonySavitt commented on #6288
I enabled the SSL, thank you for that tip. I had seen something about enabling SSL but couldn't figure out how to access that at the time for some reason. Thanks again for all your help, it means a lot!

[2018-05-09 02:40] #6288 closed

[2018-05-09 02:41] Rick-Anderson commented on #6288
I added a readme.md with that info.
Hopefully I can update it for the much better 2.1 bits.

[2018-05-09 03:43] SimonCropp opened #6292 "Missing usings/cleanup?"
given `TestServer` and `HttpClient` are disposable, shouldnt they be cleaned up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bda5d096-4337-3256-afcd-fe45436a2067
* Version Independent ID: a9e691a2-a8bf-b477-88aa-73676896b75e
* Content: [Integration tests in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/

[2018-05-09 04:04] Rick-Anderson opened #6293 "Update SetCompatibilityVersion"
[SetCompatibilityVersion for ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup?view=aspnetcore-2.1#setcompatibilityversion-for-aspnet-core-mvc)

Provide snippet to opt-in to specific behaviors and not use `SetCompatibilityVersion`.

See [Manage HEAD requests with the OnGet handler](https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/?view=aspnetcore-2.1&t

[2018-05-09 04:29] Rick-Anderson commented on #5937
This has been updated in the donet docs repo

[2018-05-09 04:29] #5937 closed

[2018-05-09 04:34] #6245 closed

[2018-05-09 04:38] newpost commented on #6245
Try again. Problem solved. @guardrex

[2018-05-09 04:45] rynowak opened #6295 "Add documentation for MVC's [Consumes] attribute"
See https://github.com/aspnet/Mvc/issues/7755

We're missing coverage of `[Consumes]` which is an attribute developers can use to limit an action to handling a set of specified content types, or choose a different action based on the request content type.

[2018-05-09 07:35] stevejgordon opened #6297 "Update IHttpClientFactory documentation to RC1"
@scottaddie I'm opening this to update the IHttpClientFactory sample app to use RC1.

[2018-05-09 07:49] rybomar opened #6299 "What is the "CacheKeys"?"
It is hard to understand what is the "CacheKeys". Of course the search engine on GitHub helped me to find the answer but examples should to be more precisely (shuld be able to compile the code).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13f5f8f9-18dd-9c12-9ed1-fcc6b44ba7fd
* Version Independent ID: 640b4f36-5886-7

[2018-05-09 07:55] RogExp opened #6300 "Business Layer"
I understand that a tutorial is built this way. However I would like you to consider putting another folder "Business" into this structure,  ie. even the scaffolding should then make such a folder. You would then have Pages, Business and Models.
No page should have "using RazorPagesMovie.Models" but only "using RazorPagesMovie.Business" and hence the BusinessLayer would have  Movie.Add, Movie.Remo

[2018-05-09 08:52] Ponant opened #6301 "Is the Authorize attribute needed in Razor Pages? What about Roles, Claims and Policies?"
I am pretty much confused as to how Authorization/Authentication would now work in Razor Pages. What if you want to set the equivalent of MVC [Authorize(Policy = "AtLeast21")] in Razor Pages? It seems to me that the docs about Claims, Role-based policies semantics dot not exactly apply in Razor Pages anymore, is that correct? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-05-09 09:30] egmfrs commented on #6269
@Rick-Anderson Todo vs ToDo ; lowercase D in namespace vs uppercase D in filename. It threw me for a short while when trying to get the sample working. I was typing it out manually (helps me learn better) and I typed in <ToDoItem> which it was not recognising. Thought I would try and save others the same problem.

[2018-05-09 11:53] ManuelRauber opened #6303 "Wrong line highlighted in cross-origin communications code block"
The code-block for cross-origin communications highlights two parts. The first is the part within the `ConfigureServices` methods, which is correct. The second is the part within the `Configure` method. Instead of highlighting `app.UseCors("CorsPolicy");` another line is highlighted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-05-09 12:02] guardrex commented on #6301
@Ponant The `[Authorize]` filter attribute has been supported since 2.0 in Razor Pages, but note that it works at the page model **class** level: https://docs.microsoft.com/aspnet/core/mvc/razor-pages/filter?view=aspnetcore-2.1&viewFallbackFrom=aspnetcore-2.0#authorize-filter-attribute

There's a line in the [Filters for RP topic](https://docs.microsoft.com/aspnet/core/mvc/razor-pages/filter) at t

[2018-05-09 12:03] rachelappel commented on #6303
Thanks @ManuelRauber, great catch!

[2018-05-09 12:11] guardrex commented on #6299
@rybomar Thanks for commenting. I'll let @Rick-Anderson respond to the "CacheKeys" part of your question. I just wanted to mention that the old sample that's there is due for an upgrade after 2.1 releases. We're tracking it on a samples update issue: https://github.com/aspnet/Docs/issues/5495

[2018-05-09 12:57] #6303 closed

[2018-05-09 13:37] guardrex commented on #6301
You should be able to put that on a page model class. It will apply the policy to **ALL** handlers for that page.

Yes, that's right. There's an overload that will allow you to specify a policy ...

https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.pageconventioncollectionextensions.authorizepage?view=aspnetcore-2.1#Microsoft_Extensions_DependencyInjection_PageCo

[2018-05-09 13:54] Ponant commented on #6301
@guardrex , ok I will try it out but my question was to be able to go through my code as I am porting things to Razor Pages.

 In the meantime, yes I think I think the docs could be updated, examples are much better than a sentence :) .

I think you could see with @blowdart if there is no need for an update on
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/claims?view=aspnetco

[2018-05-09 14:05] reyou opened #6305 "View or download sample from GitHub links to .net core 1.1 project"
When I try to run this project with VS 2017, and dotnet core 2.0 it does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a70a955f-dd5a-c46b-dfe8-21521e619320
* Version Independent ID: ebb299e0-6c1c-7077-689d-ac711352e418
* Content: [Filters in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/cont

[2018-05-09 14:11] blowdart commented on #6301
It does sound like there's a doc update needed, either a page for traditional MVC and one for Razor Pages, or mix them into one (which might confuse people)

[2018-05-09 14:19] #6297 closed

[2018-05-09 14:56] rachelappel opened #6306 "signalr/get-started code highlight mods"
Highlights are off after RC1 update

[2018-05-09 15:01] #6306 closed

[2018-05-09 15:18] Ponant commented on #6301
@blowdart , I learned pretty much all I needed from your single Workshop 2.0, but it was all traditional MVC. The equivalent for RazorPages would just perfect for many people I think. I looked up if you talked about razor pages and security, but nothing so far.

[2018-05-09 15:20] blowdart commented on #6301
For me that's kind of on purpose for a couple of reasons,

1. More people are using MVC so it reaches more
2. It's easier to demo, because it's attributes, and no hopping back to config to add rules.

[2018-05-09 15:25] guardrex commented on #6301
I'll take a look when I get to this, but the updates for this issue will be for the RP conventions topic. When I see where more work is needed (e.g., Security TOC area), then I'll open one or more new issues for that. That work will probably fall to another author.

I should be able to look at this in a few weeks. Sorry for the delay, but I'm slammed at the moment.

[2018-05-09 15:31] guardrex commented on #6305
It's an older 1.1-era sample (due for an upgrade and tracked by https://github.com/aspnet/Docs/issues/5495). To upgrade the project yourself, the migration topic is here :point_right: https://docs.microsoft.com/aspnet/core/migration/1x-to-2x/?view=aspnetcore-2.1

[2018-05-09 15:48] Ponant commented on #6301
I totally agree with your points @blowdart , at the same time it seems that Razor Pages will be cleaner in the long run. As a side note, let me say that this AddDefaultIdentity really sucks (sorry for the team). Here in Europe GDPR is ruling and you cannot just take an identity library without knowing what is inside. And it is pretty much likely you will have to override it. Scafolding did not hel

[2018-05-09 15:51] yxn03 opened #6308 "RemoveType the function not working ,why?"
factories.RemoveType<FormValueProviderFactory>();
        factories.RemoveType<JQueryFormValueProviderFactory>();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5cfa38-0e6c-4346-dafc-84ea5c513fcf
* Version Independent ID: c6787f0f-3e9a-6efb-0e6e-5ccb957d3f4a
* Content: [File uploads in ASP.NET Core](https://docs.micr

[2018-05-09 15:59] blowdart commented on #6301
Yea, GDPR is painful, we're balancing ease of use, with helping you meet your obligations. 2.1 will see enhancements, around cookies and download/delete

[2018-05-09 16:12] abhishekkumaratgit opened #6309 "Small correction CreatedAtRoute should be CreatedAtAction"
The preceding action's other known return code is a 201, which is generated by the CreatedAtRoute helper method. It should be CreatedAtAction as per the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa03501b-5e71-4c18-0269-39babbf9d93c
* Version Independent ID: b51bc104-a6e2-b21f-8362-45cee22e8c22
* Content: [Co

[2018-05-09 16:37] scottrudy opened #6310 "CreatedAtRoute Issue"
While working through this documentation I ran into an issue when returning a CreatedAtRouteResult where the code threw a System.InvalidOperationException "No route matches the supplied values." The reason was due to a missing Name parameter defined in the HttpGet attribute on the Get action. For example: [HttpGet("{id}", Name="GetTodo")]. I was able to see the Location show up in the HTTP headers

[2018-05-09 17:06] Ponant commented on #6301
Yes I have seen already 2.1 and I am working on it to port an app from 1.0 that we have been building. That is great that you did this, really. Now, GDPR I know quite a bit about it because I have to, and I can see that I agree with a lot of their requirements. Also, I will bet a beer that you will have a similar thing in the US (see the Facebook discussion a few weeks ago at Congress etc).

Regar

[2018-05-09 17:11] guardrex commented on #6308
I can't say just looking at it. @scottaddie ... thoughts?

I'll cross-reference the issue tracking work for this topic in case this becomes actionable for the updates: https://github.com/aspnet/Docs/issues/5331

[2018-05-09 17:15] guardrex commented on #6310
@scottrudy The topic's code blocks link to this sample; but yes, it isn't formally linked into the topic. See if this is helpful in that regard: https://github.com/aspnet/Docs/tree/master/aspnetcore/tutorials/web-api-help-pages-using-swagger/samples/TodoApi.Swashbuckle

I'll leave this open so that @scottaddie can comment further.

[2018-05-09 17:28] blowdart commented on #6301
There's another balancing act here. GDPR is more than just code, as I know you're aware. But most developers aren't. We can't and won't say "This makes your site GDPR compliant", because that's utterly false. You have to make decisions specifically for your own use case.  Which I can't do automatically.

But this is a conversation that should happen down a pub. With an expensed bar bill :)

[2018-05-09 17:34] Ponant commented on #6301
Of course you cannot say this, but the picture is that you kind of offer a car whereas they (will) need the spare parts as far as they want to have a public or corporate facing website. Trump will pay for the beer!

[2018-05-09 17:46] scottrudy commented on #6310
Ah, I didn't read the topic first. That's great. Maybe consider a note in the doc to use that defined Name for the route, but otherwise I'm good.

[2018-05-09 18:00] #5834 closed

[2018-05-09 18:07] Rick-Anderson commented on #6300
@RogExp  Thanks for the suggestion.
We intentionally kept the tutorial as simple as possible. How to separate the business logic is hotly debated.

[2018-05-09 18:07] #6300 closed

[2018-05-09 18:08] Rick-Anderson commented on #6269
@egmfrs  I understand. Namespace and filename don't need to match, although that's a good convention. Next time we work on this tutorial that a great change to make.

Thanks again for your suggestion.

[2018-05-09 18:10] Rick-Anderson commented on #6295
@rachelappel  why did you add the Source - Docs.ms label?

[2018-05-09 18:11] Rick-Anderson commented on #6295
@rynowak  can you point me to some sample code and I'll get this documented this week.

[2018-05-09 18:18] stevejgordon opened #6312 "Expand DI documentation with additional extension method overloads"
I've recently been exploring and documenting some more "advanced" DI registration examples on my blog. I've had a few occasions where I've found that people are not aware of the additional method overloads they can use when calling AddSingleton, AddTransient etc.

I briefly chatted with @scottaddie about this gap and as agreed I'm raising an issue to discuss this further.

The current documentatio

[2018-05-09 19:52] scottaddie commented on #6309
@abhishekkumaratgit Thank you for reporting this problem. I've merged a fix, which should go live later today.

[2018-05-09 19:54] #5401 closed

[2018-05-09 19:54] #6143 closed

[2018-05-09 19:55] scottaddie commented on #6143
@raybo604 Thank you for reporting this problem. I've added the missing info. The change should go live later today.

[2018-05-09 20:05] #6123 closed

[2018-05-09 20:13] guardrex commented on #6312
IMHO ... Do this in an advanced topic. The current topic is already fairly long and loaded with info.

Exactly ... in a separate topic it would be easy to call out early that these are advanced DI registration concepts. Makes it clear to the new dev or new-to-Core dev that they don't strictly need to consume this content just to be successful with ASP.NET Core. It might not be so easy to make that

[2018-05-09 20:18] scottaddie commented on #6312
@danroth27 Thoughts on what type of content you'd like Steve to contribute?

[2018-05-09 20:49] rachelappel commented on #6295
@Rick-Anderson Went through a bunch of feedback items from customers and was on autopilot with the labels. Removed.

[2018-05-09 21:04] buvinghausen commented on #2384
Not sure if this is the right place to put this remark but I'm hoping this might save someone else looking some time.  We are running on AWS in Docker on Linux with Nginx as the proxy back to kestrel.

When we upgraded from .NET Core Preview 1 to Preview 2 the forwarded headers middleware stopped working because the KnownNetworks was no longer trusting the IPNetwork from our NGinx proxy.  It turns

[2018-05-09 21:18] guardrex opened #6320 "Note RE IP for KnownNetworks for Nginx topic"
https://docs.microsoft.com/aspnet/core/host-and-deploy/linux-nginx
aspnetcore/host-and-deploy/linux-nginx.md

@buvinghausen reports in https://github.com/aspnet/Docs/issues/2384#issuecomment-387875157 ...

Thanks @buvinghausen for reporting. :rocket:

[2018-05-09 21:25] #6310 closed

[2018-05-09 21:48] pakrym opened #6322 "Microsoft.Extensions.Logging.Testing shouldn't be on docs web site"
It's internal use only `noship` package.
I couldn't find other `noship` packages that slipped into docs, what kind of filtering do we have?

[2018-05-09 22:02] Rick-Anderson opened #6323 "Uservoice request, document ViewModels, Repositories, Dependency Injection, Auto Mapper"
This issue is migrated from [Uservoice](https://aspnet.uservoice.com/forums/228522-show-me-how-with-code)

On the web there are lots of tutorials about View Models, Repositories, and Dependency Injection... some are good but none are comprehensive.

Some questions that could be answered in an upcoming tutorial... How do repositories, View Models, and DI work together? When is dependency injection

[2018-05-10 00:01] Rick-Anderson commented on #6301
@Ponant have you seen [Create an ASP.NET Core app with user data protected by authorization](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/secure-data?view=aspnetcore-2.1)

[2018-05-10 00:13] Rick-Anderson commented on #6230
@thomasiverson  there is no such `Select` page. I think it should be the Courses details page.

[2018-05-10 00:18] Rick-Anderson commented on #6230
Here's the correct code from the MVC version
`                    @Html.ActionLink("Select", "Index", new { courseID = item.CourseID })`

[2018-05-10 00:18] guardrex commented on #6322
Where did u see that? ... I did a search, and I don't see a reference to it.

[2018-05-10 02:21] #6188 closed, assigned to nobody

[2018-05-10 02:35] Rick-Anderson commented on #6231
@mirsaeedi  thanks, I fixed that.

[2018-05-10 03:04] #6157 closed

[2018-05-10 05:14] Tratcher commented on #2384
@buvinghausen what configuration did you provide for kestrel? Something like `"urls": "http://*:8080"`?

[2018-05-10 07:50] Ponant commented on #6301
@Rick-Anderson thanks, I remember having seen the old traditional MVC example, so this will help.

[2018-05-10 08:06] zerda opened #6325 "Both ASP.NET Core 2.0 and 1.0 content are shown."
moniker is rendering both 2.0 and 1.0 content same time in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2191c25-85c0-80b3-6e0e-f54aaf087150
* Version Independent ID: 5e0ec5a6-a0d1-b78f-b5cc-209f63a66c51
* Content: [Get Started with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/getting-started

[2018-05-10 11:39] rachelappel opened #6326 "signalr/* Insert note about SignalR service on Azure"
@anurse
Should we add in a note stating that the SignalR for Azure docs are over here https://azure.microsoft.com/en-gb/services/signalr-service?

Do you think there will be any confusion in which adding in a note like this will be helpful to readers?

[2018-05-10 11:45] rachelappel opened #6327 "signalr/hubs Quick fix code highlight"
Code highlight got mangled on the RC 1 update.

[2018-05-10 12:18] #6327 closed

[2018-05-10 13:34] llgjermeni opened #6330 "How to use multiple external authentication?"
Hi, very good article, congrats. I have a question, how to implement multiple external authentications in same time  ( Facebook, Twitter, Google and Microsoft ).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1612f19-f267-493a-c230-2ca18e4eb50b
* Version Independent ID: d312db0f-6cf1-87ca-09b0-604a66e18a07
* Content:

[2018-05-10 14:14] guardrex commented on #6330
@gjermeni Follow the instructions in each sub-topic: https://docs.microsoft.com/aspnet/core/security/authentication/social/?view=aspnetcore-2.1#setup-login-providers-required-by-your-application

Basically, you'll be adding each external auth service as an extension method on `services.AddAuthentication()`. You'll see it when you access each of the sub-topics. They're each setup and configured wit

[2018-05-10 14:35] guardrex commented on #6330
Actually ... no so 🏃 *FAST!* 🏃 ... @scottaddie let's discuss for a sec. AFAICT, we don't show multiple providers *anywhere*. Therefore, the wiring isn't immediately apparent. I wonder if a short section in this topic could show a brief example and mention how these extension methods stack on there ...

[code]
... it would (should be) just enough to alleviate confusion on the wiring. Alternatively

[2018-05-10 14:37] tiakun opened #6331 "Dependency Injection - Behaviour on constructor overload selection needs update."
The document said that constructor overloads are supported only when no more than one overloaded constructor can be fulfilled, but this is not exactly correct as of .NET Core 2.0 (I am not really sure when it started).

Here is the current text:

https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/dependency-injection.md

However, the latest version of DI allow us to have multiple c

[2018-05-10 15:36] upixsoul opened #6333 "No service for type 'Microsoft.AspNetCore.Http.HttpContext' sessions issue"
im using `https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-2.1&tabs=aspnetcore2x` as guide, but seems to be not enough.

in Startup.cs
[code]

in home controller:
[code]
to this point it seems to be working, im able to navigate through different pages and i can use/check sessions in controller side.

But the problem is when im trying to use sessions in any view

[2018-05-10 15:39] nguyenlamlll opened #6334 "How to bring the external login button to another page?"
The document is really great and simple to get the function started. But it still lacks the details about the codes behind the scenes. I'm trying to get the flow of all the generated pages and I have to admit that it's not an easy task... Well, I want to bring the "Facebook" login button to the home page, not inside the Login page.

On my homepage, I'm trying to redirect to the ExternalLogin like

[2018-05-10 16:01] joyalsttl opened #6335 "Migrate Asp.net 4.6 Application to ASP.Net Core"
I need documentation to Migrate Asp.net 4.6 Application to ASP.Net Core . Please let me know if you have any information for it.

Thanks.

Regards,
Joyal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1133d6d1-7801-654c-2b7c-dad2bb342501
* Version Independent ID: a7ccce22-f905-06f4-8847-b9eeaf534e1f
* Content: [Migrate

[2018-05-10 16:01] #6116 closed

[2018-05-10 16:07] MCcoder52 opened #6337 "IapplicationBuilder does not contain UseBrowserLink"
I am following the walkthrough: Getting Started with SignalR on ASP.NET Core.

The line app.UseBrowserLink() generates the error in the title.

Suggestions?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 778aaeae-2fa8-fb73-b644-8e99ee06398e
* Version Independent ID: 159a95c8-7afd-bb03-fdfc-2323559ef50a
* Content: [Get s

[2018-05-10 16:25] rachelappel commented on #6337
@MCcoder52  For now you can either add the `Microsoft.VisualStudio.Web.BrowserLink` Nuget package, or you can remove the line that calls BrowserLink.

I'm going to update the doc within the next few days and add BroserLink package in.

[2018-05-10 16:26] scottaddie commented on #6330
@guardrex Yes, we should document this somewhere.
@HaoK Is the sample provided above accurate for supporting multiple social auth providers?

[2018-05-10 16:28] scottaddie commented on #6335
@joyalsttl The migration docs for this type of app are here: https://docs.microsoft.com/en-us/aspnet/core/migration/proper-to-2x/. Is there something you're trying to do that isn't documented there?

[2018-05-10 16:40] #6325 closed

[2018-05-10 17:06] HaoK commented on #6330
Yeah that's correct you just add them in a chain

[2018-05-10 17:08] guardrex commented on #6330
ty @HaoK ... I'll take this one.

Thanks @gjermeni for the report. I'll get to it within a couple of weeks.

[2018-05-10 17:49] renathy opened #6339 "no description of project structure differences compared with Angular documentation"
"There are slight differences between the Angular app created by this template and the one created by Angular CLI itself"

There could be at least some explanation on why and what exactly is different. Most of angular tutorials relay on a little bit different structure, so for beginners it would be helpful to understand thos "slight differences".

[2018-05-10 18:13] Nickeron opened #6340 "Issues (with services.AddSignalR())"
services.AddSignalR(); does not work, and I could not figure out how to fix it.
using Microsoft (.AspNetCore) -> .AspNet .SignalR;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 778aaeae-2fa8-fb73-b644-8e99ee06398e
* Version Independent ID: 159a95c8-7afd-bb03-fdfc-2323559ef50a
* Content: [Get started with SignalR on AS

[2018-05-10 18:15] scottaddie commented on #6308
@yxn03 The [RemoveType](https://docs.microsoft.com/dotnet/api/microsoft.aspnetcore.mvc.modelbinding.valueproviderfactoryextensions?view=aspnetcore-2.0) methods were introduced in ASP.NET Core 2.0. For versions prior to 2.0, you'll need to take the following approach:

[code]

This doc is due for a rewrite and update. This change will be taken into account at that time. See #5331 to track its statu

[2018-05-10 18:15] #6308 closed

[2018-05-10 18:26] Rick-Anderson commented on #6340
@Nickeron can you elaborate on how it doesn't work? I can't repo the problem and we've had many people report success.

[2018-05-10 18:27] geogos999 opened #6341 "Issues"
So I've followed the steps exactly and recreated them multiple times, and am still getting this error when clicking the "Movie App" button:

InvalidOperationException: The layout view 'Welcome.cshtml' could not be located. The following locations were searched:
/Views/Movies/Welcome.cshtml
Microsoft.AspNetCore.Mvc.Razor.RazorView.GetLayoutPage(ViewContext context, string executingFilePath, string

[2018-05-10 18:31] Rick-Anderson commented on #6334
@nguyenlamlll  The template code is not simple. Would you mind asking this question on Stack overflow? The document is not meant to explain all the code in the templates, but how to use FB auth.

[2018-05-10 18:38] Rick-Anderson commented on #6341
@geogos999 that's a really great error message. I can tell you the tutorial works. Let us know when you find your mistake.

[2018-05-10 18:38] #6341 closed

[2018-05-10 19:02] scottaddie commented on #6333
@upixsoul In your view, use the following code to access data from session state:

[code]

[2018-05-10 19:02] #6333 closed

[2018-05-10 19:39] gjermeni commented on #6330
Thanks @guardrex I was working before with external authentications and  faced with this problem.

[2018-05-10 19:49] gjermeni commented on #6330
To bee more specific my problem is how to enter multiple user-secret in secret manager.

[2018-05-10 19:53] guardrex commented on #6330
Each one gets a different configuration key. Did you see the secrets topic? ... https://docs.microsoft.com/aspnet/core/security/app-secrets

[2018-05-10 19:56] guardrex commented on #6330
I would add tho that if you saw that ... or are looking at it now ... and run into problems with the coverage there on secrets/Secret Manager, you can open a separate issue on that topic. Let's use this issue just to cover the multiple auth service providers problem.

[2018-05-10 20:01] JAugustoGuimaraes commented on #6146
Razor pages is not MVC, is a block, post page style, a moving back to old .aspx style.
MVC is Clean, is freedom, is easy to do App and easy to do live controls and you can do page style also.
I hate Razor Pages, it is old style with new clothes!

[2018-05-10 20:29] JAugustoGuimaraes opened #6342 "Standard ASP.Net MVC Core 2.1 sample"
There is a Standard ASP.Net MVC Core sample app with user data protected by authorization without RazorPages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b66f8ffa-699c-8b11-0cab-805f5953805f
* Version Independent ID: 7c151ed5-fd78-84fd-a08a-88912990c4ca
* Content: [Create an ASP.NET Core app with user data protected

[2018-05-10 20:40] Rick-Anderson commented on #6342
No, it uses Razor Pages. Have you looked at the download?

[2018-05-10 20:40] #6342 closed

[2018-05-10 20:42] rachelappel commented on #6337
@Rick-Anderson It was not at the time of publishing and it isn't in the code sample.

[2018-05-10 20:45] Rick-Anderson commented on #6337
`<PackageReference Include="Microsoft.AspNetCore.App" />` is not in the current sample?

[2018-05-10 20:48] KevinBurton opened #6343 "Setting environment variable"
I have three profiles the only difference between the three is that I would like to set ASPNETCORE_ENVIRONMENT in the web.config. Like  `@Rick-Anderson edit to show code`
[code]
Everytime I publish I have to edit the web.config file and add the <environmentVariables> section. I would like this to set ASPNETCORE_ENVIRONMENT to different values based on the profile that I am publishing with. Is this

[2018-05-10 20:50] rachelappel commented on #6337
No. A different version. It needs to be updated. Others have mentioned they get a Browserlink error that goes away when you add in the package. Plus there were some items missing in the update from earlier in the week. I was going to address them here.

[2018-05-10 20:54] Rick-Anderson commented on #6343
@KevinBurton  can you ask that on SO?

[2018-05-10 21:11] #5695 closed

[2018-05-10 21:17] KevinBurton commented on #6343
I just did. Thank you.

[2018-05-10 21:41] bleekbless opened #6346 "MessageSize Breaks Hub"
When sending a message that exceeds 13kb the application stops and all current connections goes down. How to increse the message size limit ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a26c63dd-9fdc-7d8d-aec4-4343807ee312
* Version Independent ID: 1986d76e-63e7-8a2d-c8a4-9c132d2b0ee1
* Content: [Introduction to ASP

[2018-05-10 21:43] KevinBurton commented on #6343
I added this line to the project file and my project will no longer load. Visual Studio indicates that the project is "unavailable"

[2018-05-10 21:45] guardrex commented on #6343
You put it into a `PropertyGroup`? ... Sorry if I didn't make that clear. Add it at the top where your target framework, etc. are located ...

[code]

[2018-05-10 22:28] guardrex commented on #5798
@Tratcher Curious about this ... we're saying explicitly here to document "non-server apps" and I realize that there aren't `IHostBuilder` extensions for Kestrel yet ... BUT ... is it possible to wire it up?

I hacked together some bits in your GenericWebHost sample to see if the `FakeServer` could be easily replaced. This compiles but doesn't run ...

[code]

... and I had to change one thing in

[2018-05-10 22:31] MaqSaid opened #6347 "requesting sample:Custom Validation including client side"
Thanks for  https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/models/validation/sample. Can you please provide Sample project for Custom Validation. At the moment, there seems not many samples available for Asp.net Core 2.0 explaining Custom Validations talking in detail for both server and client using IsValid, AddValidation and jQuery.validate and jquery-validation-unobtrusive.

---
####

[2018-05-10 22:37] KevinBurton commented on #6343
Thank you. Now web.config is not in the published output.

[2018-05-10 22:37] #6343 closed

[2018-05-10 22:40] KevinBurton opened #6348 "Migrate to 2.1"
Is there an easy way to migrate from target framework netcoreapp2.0 to netcoreapp2.1? I could do it manually by removing all of the NuGet packages and re-add then for 2.1 but there has to be an easier way.

[2018-05-10 22:50] rswetnam opened #6349 "Confusing Article - Uploading large files with streaming"
I found this article very confusing - and ultimately useless.  It starts off with the instruction "The initial action loads the form and saves an antiforgery token in a cookie (via the GenerateAntiforgeryTokenCookieForAjax attribute):"  - I take it that is is related to the previous article - but there is no context into the type of project is being created, type of page etc.  Unlike the article o

[2018-05-11 00:09] guardrex commented on #6349
Hi @rswetnam! Yes, that one is due for an overhaul. We're going to track the work on https://github.com/aspnet/Docs/issues/5331.

I'll add this issue to the list so that your feedback will be taken into account when the work is done. Thanks again for commenting.

[2018-05-11 00:18] guardrex commented on #5798
Two questions ...

**Not so important really,** but just out of curiosity: Is it even possible tho to get those hacks I put up there working? ... along the lines of those hacks :point_up: to replace the `FakeServer` to make it use Kestrel?

Question 2 ... much more important ...

... especially the **don't have any specific scenarios moved over to Host yet** ...

Yes, but I still have to write a t

[2018-05-11 00:23] pranavkm opened #6351 "Update "Razor view compilation and precompilation in ASP.NET Core" to include content about Razor Sdk"
https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-2.1&tabs=aspnetcore2x does not contain details about the Razor Sdk and following these instructions would actually turn it off. We should update it and likely for apps targeting 2.1, likely pointing to the Razor Sdk doc as also the one about Razor Class Library.

[2018-05-11 01:40] zhangtingwz opened #6352 "excuse me ， I am new learner ,i don`t know page/Movie/create.cshtml is createed by me or cli"
[Enter feedback here]

excuse me ， I am new learner ,i don`t know page/Movie/create.cshtml is createed by me or cli
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add a model to a Razor Pages app in ASP.NET Co

[2018-05-11 01:45] ImageQC commented on #6340
I had the same problem:

`        public void ConfigureServices(IServiceCollection services)
        {
...
            services.AddSignalR();
        }`

AddSignalR() isn't a method of services.

FIX:

You need to install .NET Core SDK 2.1.300-preview1

https://www.microsoft.com/net/download/dotnet-core/sdk-2.1.300-preview1

It should then work. I hope this helps.

[2018-05-11 01:46] Rick-Anderson commented on #6340
@ImageQC  Thanks for reporting the solution.

@rachelappel  can you get this fixed Friday morning?

[2018-05-11 01:47] Rick-Anderson commented on #6352
The scaffolder creates that page.

[2018-05-11 01:48] #6352 closed

[2018-05-11 02:28] #6230 closed

[2018-05-11 02:28] nguyenlamlll commented on #6334
Thanks, I see. I will tinker on my own a bit then will see to StackOverflow for more helps.

[2018-05-11 02:30] Rick-Anderson commented on #6334
Can you post the SO link here?

[2018-05-11 03:30] Tratcher commented on #5798
I recall getting it to work initially, but I couldn't check it in due to the circular dependency. I haven't tried again since and things may have drifted. From https://github.com/aspnet/KestrelHttpServer/issues/2498 it looks like at least one other person had it working recently.

Having a duplicate of the background services sample would be fine. That's how we expect more roles to work in the fut

[2018-05-11 04:28] benoityip opened #6353 "[ViewData] does not exist"
Documentation is wrong on [ViewData], it does not exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6ab455d-e8ea-39ff-3577-8b6ddc23f7b7
* Version Independent ID: 2ab43968-907a-78bf-6844-eaaf92d40da5
* Content: [Introduction to Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages

[2018-05-11 04:30] benoityip opened #6354 "@page "{id:int?}" not required"
Visual studio 2017 auto generates the Edit view, it does not have @page "{id:int?}", it just uses @page. Even with @page, it will return 404 error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6ab455d-e8ea-39ff-3577-8b6ddc23f7b7
* Version Independent ID: 2ab43968-907a-78bf-6844-eaaf92d40da5
* Content: [Introduction t

[2018-05-11 05:04] Rick-Anderson commented on #6354
Thanks for your comment, however we are unable to reproduce this.

[2018-05-11 05:06] Rick-Anderson commented on #6353
`ViewData` requires version 2.1. Check your version selector.
cc @scottaddie

[2018-05-11 05:06] #6353 closed

[2018-05-11 05:09] Rick-Anderson commented on #6351
@pranavkm  can you draft the changes and I'll get it updated?

[2018-05-11 05:11] Rick-Anderson commented on #6348
You only need one package with 2.1
Microsoft.AspNetCore.App

[2018-05-11 05:11] #6348 closed

[2018-05-11 05:12] Rick-Anderson commented on #6347
I agree, a custom validation project would be nice.

[2018-05-11 05:17] #6334 closed

[2018-05-11 05:18] ImageQC opened #6356 "npm warning"
Ref:
https://docs.microsoft.com/en-us/aspnet/core/signalr/get-started?view=aspnetcore-2.1&tabs=visual-studio

I understand the author is updating the article so might like to address the following WARN when running npm

`PM> npm install @aspnet/signalr
SignalRChat@1.0.0 C:\Users\Will\Source\Repos\Spikes\SignalRChat\SignalRChat
`-- @aspnet/signalr@1.0.0-rc1-update1

npm : npm WARN SignalRChat@1.0.0

[2018-05-11 05:19] Rick-Anderson commented on #6331
@dougbu  or @ardalis  can you comment?

[2018-05-11 05:29] Rick-Anderson commented on #6354
Can you provide instructions on how the code was created? If possible, use CLI commands.

[2018-05-11 05:31] Rick-Anderson commented on #6354
Per the doc. Can you try this:

This document provides an introduction to Razor Pages. It's not a step by step tutorial. If you find some of the sections too advanced, see [Get started with Razor Pages](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start?view=aspnetcore-2.1).

[2018-05-11 05:32] benoityip commented on #6354
Auto generated by visual studio 2017 by selecting the customer model, I don't write the code except the data layer

![image](https://user-images.githubusercontent.com/28388528/39908239-80d22d6a-5530-11e8-916d-0aba2c161e5c.png)

[2018-05-11 05:33] benoityip commented on #6354
Thanks for your reply, I am going through everything in the documentation

[2018-05-11 05:34] Rick-Anderson commented on #6354
Can you try reproducing with [Get started with Razor Pages](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start?view=aspnetcore-2.1).

[2018-05-11 05:40] Rick-Anderson commented on #6331
@stevejgordon how does this fit with #6312

[2018-05-11 05:44] zhangtingwz opened #6357 "Microsoft.EntityFrameworkCore progress"
excuse me ，still is me , when i use dotnet aspnet-codegenerator razorpage -m Movie -dc MovieContext -udl -outDir Pages\Movies --referenceScriptLibraries run in cmd ,a progress is show
could not load file or assembly 'Microsoft.EntityFrameworkCord,Version=2.0.3.0,Culture=neutral,PublicKeyToken=abd9793829ddae60'.the located assembly'sman ifest definition does not match the assembly reference

---
##

[2018-05-11 05:48] benoityip commented on #6354
Yes, here are my screenshot, even with {id:int?}, it will not throw 404 if you don't specify id in the query string, and it will hit the OnGet Method of the code

![image](https://user-images.githubusercontent.com/28388528/39908386-3fcfa558-5531-11e8-8daf-0d0ce1c7c429.png)

![image](https://user-images.githubusercontent.com/28388528/39908667-7a0e8bf2-5532-11e8-8992-80578e8d7779.png)

![image](http

[2018-05-11 05:53] benoityip commented on #6354
Sorry, my silly mistakes, please close this ticket. Sorry for wasting your time

[2018-05-11 05:53] #6354 closed

[2018-05-11 05:53] stevejgordon commented on #6331
@rick-anderson It feels like it could be worthy of some expansion if we make a more advanced section.

If the current published advice is no longer valid it might be relevant to fix that more immediately. I guess a tabbed section can be added to show relevant advice for the different versions. We need to confirm when/if the behaviour changed.

I don't think I've registered services with multiple c

[2018-05-11 06:31] tiakun commented on #6331
Additionally, making last parameters as null default also working, e.g.

[code]

From my test, it seems to cover the same as as in the original post. And if there are more than one default arguments, all default arguments would be treated as optional by DI framework.

PS: My test didn't work in 1.0, so I believe these features are added in 2.0

[2018-05-11 06:48] ImageQC opened #6358 "Failed to start the connection: Error: Unable to initialize any of the available transports"
I've spent the best part of the day trying (and failing) to get this sample working. Having installed the correct .NETCore SDK (see other post), updated VS2017 (hours) and then spent a few hours debugging / searching for solutions I'm still getting no response after pressing 'send' from either clients (https://localhost:44338/) using Edge 41.16299.402.0.

Running Dev Tools (F12) on Edge gives the

[2018-05-11 07:06] gyurisc commented on #6146
MVC is a clean and proven paradigm. While Razor page approach feels like a step backward. I also feel that MVC plays better when you want to support mobile clients or Angular and React in your app. Razor pages does not seem to offer any of that.

Maybe it would help developers if there would be explanations when to use Razor Pages and when MVC is appropriate. My guess is that Razor Pages can be go

[2018-05-11 07:46] ImageQC commented on #6358
This one seems to work fine - ChatRoomLocal

https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/ChatRoomLocal

[2018-05-11 07:48] davidfowl commented on #6146
@JAugustoGuimaraes @gyurisc have you used Razor Pages?

[2018-05-11 08:36] StephenSZDai opened #6359 "Could not load file or assembly 'Microsoft.EntityFrameworkCore"
When running "dotnet aspnet-codegenerator razorpage -m Movie -dc MovieContext -udl -outDir Pages\Movies --referenceScriptLibraries" according to the instructions from this article, I met with the following error.

C:\AspNetCore\RazorPagesMovie\RazorPagesMovie>dotnet aspnet-codegenerator razorpage -m Movie -dc MovieContext -udl -outDir Pages\Movies --referenceScriptLibraries

Welcome to .NET Core!

[2018-05-11 09:04] StephenSZDai opened #6360 "No executable found matching command "dotnet-ef""
One more issue is found.
I can run "dotnet add package Microsoft.VisualStudio.Web.CodeGeneration.Design" in cmd prompt, but I received the following error when running "dotnet ef migrations add Initial"

No executable found matching command "dotnet-ef"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-7

[2018-05-11 09:14] alex-piccione opened #6361 "Recommended"
As I understood the recommended way is to create a single .NET Core project that can self-host and be itself a Windows Service.
Why not create pure .NET Standard project that can run on every platform and then create a Windows Service project that just use the shared library?
Like described in this article:  https://stackify.com/creating-net-core-windows-services
I think this second way is much cl

[2018-05-11 10:03] Palpie commented on #6205
So not for use in IIS on a Windows Server?

[2018-05-11 10:15] ImageQC commented on #6340
Brand new project following your recipe exactly like it was the sainted Mary Berry's lemon drizzle cake ;-)

[2018-05-11 10:35] rachelappel commented on #6340
@ImageQC Is it erroring, and if so, what is the error message?