[2020-08-16 23:40] Rick-Anderson commented on #19534
I agree. cc @serpent5 this should be an easy browser fix.

[2020-08-17 03:03] AlbertoPa opened #19536 "How to deploy a hosted blazor app with SSL and Identity Server to apache"
I think it would be beneficial to document how to deploy a web app based on Blazor WebAssembly with Identity Server and SSL support.

There are several aspects to explain about doing so that are spread over many documents, and some of them are not extensively documented (i.e. certificates for tokens in Identity Server) in the context of a deployment to Apache. The same can be said about ngix.

---

[2020-08-17 03:09] Rick-Anderson commented on #19536
That's probably too specific for a doc. cc @guardrex

[2020-08-17 03:18] davidfowl commented on #19536
Why apache?

[2020-08-17 05:35] attrib75 commented on #15620
@Rick-Anderson I made a PR:  #19537
thanks

[2020-08-17 09:34] guardrex commented on #19536
Even Windows Server/IIS isn't covered that way: We don't cover certs/IIS config (external doc set) for hosted WASM with IdS. Even Kestrel HTTPS config requires another doc (in this doc set). The entire configuration for a production deployment will probably always require multiple docs, usually across multiple doc sets, to avoid maintaining duplicate content.

[2020-08-17 13:03] StevenTCramer opened #19539 "No longer a Default scope"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/357219/90398910-52778d80-e0c4-11ea-9788-280adfe63792.png)

The screen doesn't reference a default and looks like the following:

![image](https://user-images.githubusercontent.com/357219/90399115-a2eeeb00-e0c4-11ea-94c6-2b71e94dfb3a.png)

The "API.Access" is at the end of the Scopes URL
---
#### Document Details

⚠ *Do not ed

[2020-08-17 13:18] guardrex commented on #19539
Hello @StevenTCramer ... The word "default"  refers to what will be the app's default scope. However, it isn't necessary there. It can just say "Scope;" therefore, I'll remove the word "Default" to remove any confusion. Thanks for the feedback.

[2020-08-17 14:40] javiercn commented on #19360
If you want to, go for it, we are still working out some changes that will land on RC1

[2020-08-17 14:48] guardrex commented on #19360
In that case, I'll wait until RC1. I was burned 🤕 back when I tried to document Health Checks **_too early_**. I should have plenty of time after RC1 comes out.

Let's do this ... I'll take the assignment now, and we'll fix anything on review when I put the PR up after RC1 releases.

Same thing for Identity 2.0 updates. Immediately after RC1, I'll get busy on it. If I hit any problems, I'll ping o

[2020-08-17 14:55] #19539 closed

[2020-08-17 15:24] hoksource commented on #19502
below does not work
Test.cshtml
`
@@page
@@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<int>

`

below works
Test1.cshtml
`
@@page
@@inherits Microsoft.AspNetCore.Mvc.RazorPages.PageBase

`

[2020-08-17 15:53] petrsvihlik opened #19542 "Distributed caching points to a deprecated Chocolatey package"
[This section](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed?view=aspnetcore-3.1#distributed-redis-cache) points to a [deprecated package](https://chocolatey.org/packages/redis-64).
Is there a replacement package?

To install Redis on your local machine:

1. Install the [Chocolatey Redis package](https://chocolatey.org/packages/redis-64/).
1. Run `redis-server` from

[2020-08-17 16:26] serpent5 commented on #19534
This one affects the ToC, too.

I think it'd be better as _XSRF/CSRF prevention_ ([inspired by OWASP](https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.html)). CORS is used in the same sentence too, so I think the _XSRF/CSRF_ acronym is OK to use here.

I think the ToC item should be _Prevent Cross-Site Request Forgery (XSRF/CSRF) attacks_. This would

[2020-08-17 16:29] serpent5 opened #19544 "Add XSS acronym to ToC text"
The ToC for the XSS topic spells out _Cross-Site Scripting_ but doesn't show the acronym, XSS. The CORS link directly underneath this shows _Cross-Origin Requests (CORS)_, so I wonder if the XSS link should do the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33c64844-bd39-46c9-8b52-192834fa625a
* Version Indepe

[2020-08-17 17:26] groogiam commented on #19518
Thanks for the additional info. Does startup also include AuthStateProvider logic?

[2020-08-17 17:34] guardrex commented on #19518
AFAIK based on Safia's remark, the logic might not be hit if it were the first component (specifically, called by the first component) that's requested. After the first request tho, the debug proxy should be running. If you're having a problem with debug in that component after the first component loads, open an issue for engineering, as we only work on docs here ...

https://github.com/dotnet/asp

[2020-08-17 17:35] #18710 closed

[2020-08-17 18:06] #19518 closed

[2020-08-17 18:15] guardrex opened #19545 "[RC1] Query param for Blazor WASM debug"
https://github.com/dotnet/aspnetcore/pull/24972

**ON HOLD** as of 8/25 &mdash; https://github.com/dotnet/AspNetCore.Docs/pull/19644#issuecomment-680157714

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f61c7-9f51-6735-e328-3c7b495d70c3
* Version Independent ID: 4d06e565-282d-6387-aa90-cb2c2986d35a
* Content: [Debug

[2020-08-17 18:56] #19536 closed

[2020-08-17 18:56] Rick-Anderson commented on #19536
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider. We'll also reconsider this issue in the next doc update.

[2020-08-17 19:28] Rick-Anderson commented on #19542
@mohsinnasir do you know if there's a replacement?

[2020-08-17 21:25] petrsvihlik commented on #19542
@Rick-Anderson this one works perfect - https://github.com/tporadowski/redis

I just tried it with the code from the MS docs example:

[code]
and it just works.

[2020-08-17 23:54] Rick-Anderson commented on #15620
@attrib75 I brought your commits over to #19546, where I'll continue to work on it. Thanks for doing this, I should have something for you to review in a couple days.

[2020-08-18 00:25] #15620 closed

[2020-08-18 00:31] francisco-chavez opened #19548 "What a Waste of Space"
[Enter feedback here]
Bad use of space. I'm looking at this page from a 1440P screen, and it's throwing away pixels at the edges. I have two wide bands of empty space on the left and right of my screen. When I look at this screen, this is what I see is (from left to right): big empty space, vertical site-navigation bar (that's much wider than needed), actual content, vertical feed back link with p

[2020-08-18 00:39] Rick-Anderson commented on #15620
@attrib75  thanks again for all your help. The new doc is now live https://docs.microsoft.com/en-us/aspnet/core/data/entity-framework-6

[2020-08-18 00:50] guardrex commented on #19548
Hello @francisco-chavez ... We only work on content here. Please open an issue for docs general feedback at ...

https://github.com/MicrosoftDocs/feedback/issues

[2020-08-18 00:50] #19548 closed

[2020-08-18 05:35] attrib75 commented on #15620
@Rick-Anderson How cool is that?! My pleasure.

[2020-08-18 06:18] Rick-Anderson commented on #15620
@attrib75 feel free to edit in browser and change the link on your name.
At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

[2020-08-18 09:15] junpark12 opened #19552 "Antiforgery between asp.net 4.x and core."
[Enter feedback here]
Hi. As i understand this article, if i apply commands from this article to my existing asp.net 4.7 and
the following is possible. Please correct me if i was wrong.
* Changed Existing asp.net 4.7 application based on this article and deployed it into IIS site root. (http://contoso)
*  Deploy asp.net 3.1 core application under the site root as application(http://contoso/netcore

[2020-08-18 09:30] mohsinnasir commented on #19542
@petrsvihlik redis generally targets linux OS, so for windows you may find redis packages deprecated or supported unofficially.
For windows based distrbuted caching software you may wanna try NCache as mentioned [here](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed?view=aspnetcore-3.1#distributed-ncache-cache).

[2020-08-18 09:43] mohsinnasir commented on #19542
@Rick-Anderson for native windows there is none provided by MSOPENTECH. However, WSL may be a good choice to use redis on windows as mentioned [here](https://dzone.com/articles/running-redis-on-windows-10)

[2020-08-18 10:41] #17360 closed

[2020-08-18 10:41] #17362 closed

[2020-08-18 10:41] #17377 closed

[2020-08-18 11:49] bessobesso opened #19554 "Serverside validation"
What if client calls respository controller lets say "StrashipController" without calling "StarshipValidationController"? In that way client can bypass validation? Or is "StarshipValidationController" supposed to call repository methodds(add/update model) too ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8

[2020-08-18 12:15] guardrex commented on #19554
Hello @bessobesso ...

Doesn't your repository controller perform model validation? It's been a while since I've used that pattern; but IIRC, you would be fine calling your repository controller directly. Whatever pattern used, just make sure that all client-side validation is performed server-side. Client-side validation can **_always_** be bypassed.

btw - We don't document the repository patter

[2020-08-18 12:53] #19554 closed

[2020-08-18 14:18] NadimNadimNadimNadimNadim opened #19556 "URI under "Test PostTodoItem with Postman""
The URI in the third step of the section titled "Test PostTodoItem with Postman" is incorrect. It should be `https://localhost:<port>/api/TodoItems` rather than` https://localhost:<port>/api/TodoItem.`

The URI is correct in the image, but incorrect in the written description of the tutorial, which can be cause for error since most are following the written instructions to the letter, and may not

[2020-08-18 17:45] guardrex commented on #18144
Hello @siloimwald ... I've **_finally_** reached this issue. 🏃😅 ..... I've been crazy busy. Fortunately, I'm getting caught up on everything.

The problem seems to be the way that we both ...

* Titled that section about the overwritten params.
* Phrased the problem that links to that section.

It's only a problem for the conditions explained in the section. Therefore, I'm trying to make it clear

[2020-08-18 17:51] Rick-Anderson commented on #19552
Where is the Bad Request error coming from? A CSRF error would be 403.

 This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [AS

[2020-08-18 17:51] #19552 closed

[2020-08-18 20:39] Veverke opened #19560 "Download PDF of ASP.NET Core docs returns pdf with duplicate pages (and consequently wrong table of contents page pointers)"
https://docs.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-3.1
Clicking the "Download PDF" of ASP.NET Core docs returns a pdf with duplicate pages (and consequently wrong table of contents page pointers).
For example, try browsing for Handle JSON Patch Requests under Web API section. The table of contents page is wrong, and if you manually browse the contents for the

[2020-08-18 21:08] #19544 closed

[2020-08-18 22:04] Rick-Anderson commented on #19560
This should be reported at [MicrosoftDocs-feedback](https://github.com/MicrosoftDocs/feedback/issues).

[2020-08-18 22:04] #19560 closed

[2020-08-18 23:17] #19534 closed

[2020-08-18 23:18] #19556 closed

[2020-08-18 23:19] #19513 closed

[2020-08-19 02:12] Rick-Anderson opened #19565 "Fix switch mapping sample"
See https://github.com/dotnet/runtime/issues/36041

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb4d762-3910-2c57-8741-3306c15537b6
* Version Independent ID: ba2254a0-ea8e-9b28-e94b-edd0fc58c043
* Content: [Configuration in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=a

[2020-08-19 02:15] #19565 closed

[2020-08-19 02:33] Rick-Anderson opened #19567 "Clarify binding of JSON/formatted data"
These attributes affect model binding when posted form data is the source of values. They do not affect input formatters, which process posted JSON and XML request bodies. Input formatters are explained later in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e24f48f8-6c4d-ecda-6ce6-a7826d396e99
* Version

[2020-08-19 04:09] PWSys opened #19569 "HTML encoding on Blazor sample razor files"
# Issue description
The sample applications below have an HTML encoding issue on the razor pages.

https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/blazor/common/samples/3.x/BlazorServerSample
https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/blazor/common/samples/3.x/BlazorWebAssemblySample

Examples below:
`&lt;div&gt;`

`&lt;h1 style="font-style:@@headingFontStyle

[2020-08-19 06:24] FredHan001 opened #19570 "Need Docs About Troubleshooting ASP.NET Core SignalR Common Issues"
**Describe the new topic**

Please provide doc about troubleshooting ASP.NET Core SignalR common issues, this doc could provide information on common SignalR connection related errors and provide troubleshooting advice.

**Explain why this topic is needed.**
---
Some Docs, such as ["Troubleshoot ASP.NET Core on Azure App Service and IIS"](https://docs.microsoft.com/en-us/aspnet/core/test/troublesh

[2020-08-19 06:50] FredHan001 opened #19571 "bad user experience if EmailSender service take long time to send email confirmation"
In ["Account confirmation and password recovery in ASP.NET Core"](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm?view=aspnetcore-3.1&tabs=visual-studio#implement-iemailsender) doc, we can find example approach of sending email confirmation is implementing a custom EmailSender service.

But if sending email confirmation take long time as discussed in [this SO thread

[2020-08-19 07:05] donquijotedelamancha opened #19572 "Blazor WebAssembly Hosted app with IdentityServer returning 401 with custom domain"
Working on my Blazor WebAssembly Hosted app with Identity Server and following the steps in the [docs ](https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-identity-server?view=aspnetcore-3.1&tabs=visual-studio) I found two issues that are not clearly documented.
1. Before deploying to production we need to provision a certificate for signing tokens. I found this i

[2020-08-19 08:51] swannet opened #19573 "Blazor roles and groups authn in the WASM server API app (Azure AD Hosted)"
Hi,

After the documentation issue (https://github.com/dotnet/AspNetCore.Docs/issues/19304). I got the roles and groups correctly in the user-claims (setup as https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/azure-active-directory-groups-and-roles?view=aspnetcore-3.1).

Authorization works fine in the web app. I can call the server API app (due the API permission and scope)

[2020-08-19 10:02] guardrex commented on #19572
Hello @donquijotedelamancha ...

On the first one, I'll cross-link to the certificate content. Thanks for calling that out.

With regard to the custom domain problem, I'm not aware of anything that would prevent an app running with a custom domain. I'll see if I can find time to run some tests this week. No promises on that tho ... we're documenting .NET 5 ... and I have a couple of other high pri

[2020-08-19 10:05] guardrex commented on #14405
I'm going to move this to backlog just so that we can close this old milestone ... it keeps popping up on me and getting in the way when working with new issues. 🏃

[2020-08-19 10:05] guardrex commented on #15170
I'm going to move this to backlog just so that we can close this old milestone ... it keeps popping up on me and getting in the way when working with new issues. 🏃

[2020-08-19 10:06] guardrex commented on #15429
I'm going to move this to backlog just so that we can close this old milestone ... it keeps popping up on me and getting in the way when working with new issues. 🏃

[2020-08-19 10:07] guardrex commented on #16526
I'm going to move this to backlog just so that we can close this old milestone ... it keeps popping up on me and getting in the way when working with new issues. 🏃

[2020-08-19 10:07] guardrex commented on #16196
I'm going to move this to backlog just so that we can close this old milestone ... it keeps popping up on me and getting in the way when working with new issues. 🏃

[2020-08-19 10:11] guardrex commented on #17638
I'm going to move this to backlog just so that we can close this old milestone ... it keeps popping up on me and getting in the way when working with new issues. 🏃

[2020-08-19 10:12] MelbourneDeveloper commented on #17638
@guardrex sorry about that. I meant to work through this one, but didn't end up getting time.

[2020-08-19 10:15] guardrex commented on #17638
That's ok ... I'm just cleaning up the old milestones. When I pop open the drop down on GH, I was getting flooded with old ones, and it has been slowing me down 0.37 seconds per issue. :smile:

Too many milestones on here is ...........

![thecollector](https://user-images.githubusercontent.com/1622880/90622516-cf952680-e1da-11ea-99fc-da9d4eb6b8c7.jpg)

### *An unprofitable operation, Hade.*
&ndas

[2020-08-19 10:21] guardrex commented on #19573
Hello @swannet ... I'll look into this as soon as I can. We're busy with .NET 5 and other work right now. I'll try to look at this sometime this week. In the meantime if you figure it out, please post back on this issue what the problem was.

[2020-08-19 10:53] guardrex commented on #19569
Hello @PWSys ... Some of that is normal escaping for Razor markup. The rest is normal encoding for showing tags in a rendered page. The apps are currently designed to show you information about what each component is doing in the rendered markup when you run the app. We'll be moving away from that approach when the sample apps are rebuilt on https://github.com/dotnet/AspNetCore.Docs/issues/14216 a

[2020-08-19 10:53] #19569 closed

[2020-08-19 11:27] donquijotedelamancha commented on #19572
Thank you for the feedback! I will report back if I make progress on the issue with the custom domain and definitely please keep me posted on any findings on your side

[2020-08-19 16:44] #18440 closed

[2020-08-19 17:30] geofflangenderfer opened #19574 "Update-Database : The term 'Update-Database' is not recognized"
# Before you open an issue
- A problem completing a tutorial, compare your code with the completed sample.

--> <strong>I `git clone`d latest version</strong>

# Issue description

- `Update-Database` command failure in Data Access > EF Core with Razor Pages Tutorial
- `dotnet ef database update` succeeds after deleting all files matching `*SQLite*`
[code]

Q: how do I specify a project default?

[2020-08-19 19:06] Rick-Anderson commented on #19571
A queue based won't solve that SO problem. Author needs to trouble shoot email sending.

[2020-08-19 19:06] #19571 closed

[2020-08-19 19:07] #14405 closed

[2020-08-19 19:10] #19567 closed

[2020-08-19 19:34] taylorchasewhite opened #19576 "HttpContext.User Claims Aren't Present? Mostly an FYI."
I know from reading other comments etc. that you guys are a small group reading, addressing and responding to these comments. I created a StackOverflow question relating to issues I'm having in linking my Blazor WASM app to AzureAD [here](https://stackoverflow.com/questions/63493753/blazor-wasm-azuread-auth-httpcontext-user-claims-are-empty), which almost entirely derived from following this artic

[2020-08-19 19:34] nb77qlik opened #19577 "Typo"
[Enter feedback here]
First ref to 'https://localhost:5001/api/TodoItem' should be 'https://localhost:5001/api/TodoItems' (as per Postman screenshot)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: C

[2020-08-19 19:38] Rick-Anderson commented on #19577
It is.

[2020-08-19 19:38] #19577 closed

[2020-08-19 19:39] nb77qlik commented on #19577
Did this get fixed recently? As soon as I returned to the page it appears fixed...

[2020-08-19 19:41] Rick-Anderson commented on #19577
Yes, take a look at the [history](https://github.com/dotnet/AspNetCore.Docs/commits/master/aspnetcore/tutorials/first-web-api.md)
Merge to live was an hour ago.

[2020-08-19 20:03] Rick-Anderson commented on #19574
See https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet

[2020-08-19 20:03] #19574 closed

[2020-08-19 21:09] Rick-Anderson commented on #19462
Fixed in #19578

[2020-08-19 21:09] #19462 closed

[2020-08-19 21:14] #19520 closed

[2020-08-19 21:44] dagilleland commented on #5131
Since the main docs point here, can we get a summary here of the steps to switch from SqlServer to Sqlite? I'm going in circles following the links and not finding a good summary. All I read is "I spent a lot of time to get it working" but no summary of how...

[2020-08-19 22:11] Rick-Anderson opened #19580 "Add warning about BIND"
No secure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1133d6d1-7801-654c-2b7c-dad2bb342501
* Version Independent ID: a7ccce22-f905-06f4-8847-b9eeaf534e1f
* Content: [Migrate from ASP.NET to ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/migration/proper-to-2x/?view=aspnetcore-3.1)
* Content Source: [aspn

[2020-08-19 23:15] ppv95 opened #19582 "Issue with the command "dotnet-aspnet-codegenerator""
In the "Scaffold a controller" part.
the command
[code]
 it has a error syntaxis error and wont be executable in the terminal. It should be instead.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tuto

[2020-08-20 00:09] Rick-Anderson commented on #19582
Did you miss this?

[code]

That's the new name for the tool, note it has the dash in the command

[2020-08-20 01:32] iUnknwn opened #19583 "Current WebAPI documentation doesn't cover returning binary data"
While the API documentation discusses returning objects, as well as custom formatters, it does not cover how to return binary items (either `byte[]` arrays or `Stream` objects).

It would be great if the documentation covered the `File` helper (as well as any other preferred way of returning binary streams).

While there are tutorials online on this topic, there are lots of answers that suggest wr

[2020-08-20 01:41] Rick-Anderson opened #19584 "logger.CreateLogger"
Show this is useful to create a category name that can be use throughout the app. Then have

ILogger<T> is equivalent to calling CreateLogger with the fully qualified type name of T. For example
`logger.CreateLogger("TodoApi.Pages.ContactModel")`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5b

[2020-08-20 01:42] #19580 closed

[2020-08-20 02:46] Rick-Anderson commented on #19542
@mohsinnasir  why don't I just change that section to link to [Azure Cache for Redis](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-overview)

That's what you'll need for production anyway. You can use it in dev too.

[2020-08-20 03:18] ppv95 commented on #19582
I did the  all the steps, including the ones you describe.
But i had to remove the dash from the command `dotnet aspnet-codegenerator controller`

[2020-08-20 03:42] Rick-Anderson commented on #19351
@scottaddie  I question value moving this provides. Google does a good job of translating the content for other languages. You've fixed the link, so maybe we should close this issue.

This is a very low priority in our backlog, and moving the doc to our repo would incur a maintenance load. Where it's at the Dev team updates it.

[2020-08-20 07:12] DaeunSim opened #19587 "Add signalr.js full path for easier understanding"
Why don't you put the full path of signalr.js in the description box, or add a capture screen to the solution explorer?
Readers may misunderstand the path to wwwroot/js/signalr/signalr.js.

Link: https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr?view=aspnetcore-3.1&tabs=visual-studio#add-the-signalr-client-library

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-08-20 08:41] petrsvihlik commented on #19542
@mohsinnasir yeah, I know. I was looking for something that I could use to test my code quickly on Windows.

@Rick-Anderson yeah, I generally agree with that. but that was something I was too lazy to do :D so I was glad that I found https://github.com/tporadowski/redis and that it worked out of the box.

[2020-08-20 11:43] guardrex commented on #19587
Hello @DaeunSim ... There's no "Description" field. I think you're addressing the "Target Location" field.

There's no meaningful full path to show. The path is relative to the project root, which can be anywhere on the drive that a project resides.

[2020-08-20 12:39] DaeunSim commented on #19587
I appreciate your feedback.

I was confused whether the signalr.js file was generated on **Target Location Path**,
or on **Target Location Path/dist/browser/**.
So I thought it would be better to add the **Target Location Path/dist/browser/signalr.js** path in the document.

[2020-08-20 12:44] vivektv111 opened #19588 "getting error at AddDefaultIdentity"
![image](https://user-images.githubusercontent.com/69970848/90771472-54f30680-e2c1-11ea-908b-7482fb0131ff.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3668fea-5d71-a4fc-96d1-74b53906bf25
* Version Independent ID: 980a23e7-56e4-da94-a139-cab85135c5f7
* Content: [Role-based authorization in

[2020-08-20 12:48] guardrex commented on #19587
Side-note: It's more of a "copy" than a "generate." See the Visual Studio Code tab there. When using VSC, the steps require a manual copying of the files over with a console command (`--files` = file, `-d` = destination).

The target for the file (the destination) is the `wwwroot/js/signalr/` folder. This is just the way that that dialog works in VS. The remark under the dialog image seems clear .

[2020-08-20 13:08] DaeunSim commented on #19587
I see what you mean.
Thank you for your detailed explanation.

[2020-08-20 15:37] weitzhandler opened #19589 "Sample source code link?"
Hi,

Can you please include GH links to the project in this article?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9638772f-0f1e-c2a9-8a58-ae8c3e37ae28
* Version Independent ID: 7a5b169e-08cb-cdba-4501-88d3da2723bb
* Content: [Secure a hosted ASP.NET Core Blazor WebAssembly app with Identity Server](https://do

[2020-08-20 16:01] guardrex commented on #19589
Hello @weitzhandler ... There won't be samples for this node of topics, at least not in the immediate future ...

* There's been a lot of new coverage added given that the Blazor WASM security API is new and devs needed to address a number of specific use cases with it. It's kept me quite busy just keeping up with covering the various security scenarios and configuration.
* The security is current

[2020-08-20 16:01] #19589 closed

[2020-08-20 16:07] weitzhandler opened #19590 "Unable to cast object of type 'Microsoft.AspNetCore.Components.Server.ServerAuthenticationStateProvider' to type 'Microsoft.AspNetCore.Components.WebAssembly.Authentication.IAccessTokenProvider'."
Trying out the instructions on a Blazor client that needs to authenticate against a remote IdentityServer-enabled endpoint.

Here's what I added:

- _Startup.cs_:
[code]
- _App.razor_, _Shared\LoginDisplay.razor_, _Shared\RedirectToLogin.razor_: replaced/added all suggested content in article
- _Views\Pages\Authentication.razor_: added file with content from article
- *Views\Pages\_Host.html*: app

[2020-08-20 16:14] weitzhandler commented on #19589
Thanks for your kind detailed answer, Luke.

[2020-08-20 16:26] Vaccano opened #19591 "Need to show the code for `MyMiddleware`"
This page is fantastic in showing how to unit test a middleware.  But to replicate it, I need to see the code for `MyMiddleware` that it the code under test.  (It causes a 404 in some situations).

It would be nice to include the code for this file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9421feee-5207-e379-00fb

[2020-08-20 16:39] guardrex commented on #19576
Hello @taylorchasewhite ...

I can't explain that behavior. My test app's `HttpContext` in the controller populates the `User` normally, and I get the user's claims. Their claims are from the access token, which include the identifier `name` for the user.

The only thing I can recommend is what you've done ... reach out to devs on support channels. As you noted, we're too small here to troubleshoo

[2020-08-20 16:39] #19576 closed

[2020-08-20 16:57] guardrex commented on #19590
That's not what the topic explains to do. You'll have to match the calls to extension methods **_exactly_** as shown by the topic.

Alternatively, you could start with a clean, new project, follow the topic's guidance to get a working IdS-based solution, then compare and update your current app. Sometimes that approach works better, especially when the existing app is a giant production app with a

[2020-08-20 17:10] guardrex commented on #19591
Hello @Vaccano ... This isn't meant to be a tutorial. It's a reference doc that shows in a general way how to compose a test in a mostly arbitrary way. You would add/subtract from the tests as needed for whatever middleware that you want to test. My recommendation is for you to use an existing middleware that you have or just whip one up to try out the features described, then tailor the tests to

[2020-08-20 17:10] #19591 closed

[2020-08-20 17:21] Rick-Anderson commented on #19582
They ultimately run the same tool, but `dotnet SPACE aspnet-REST-of-command` is preferred because it has better error handling.

[2020-08-20 17:24] guardrex commented on #19573
Ok ... back. So ...

I searched engineering issues, and I didn't see anything on this subject. Azure docs imply that with the implicit auth flow that one ... "probably" is the word that I think they used ... "probably" needs to call Graph API.

I know that you can make a Graph API call **_in the Server app_**, get a user's roles/groups for claims, and then have policies set based on the claims. **

[2020-08-20 17:25] YehudahA opened #19592 "MaxRequestBodySize needed for IIS hosted apps"
This is not documented, but reported here:
https://github.com/dotnet/aspnetcore/issues/20369#issuecomment-607057822

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5cfa38-0e6c-4346-dafc-84ea5c513fcf
* Version Independent ID: c6787f0f-3e9a-6efb-0e6e-5ccb957d3f4a
* Content: [Upload files in ASP.NET Core](https://docs.mi

[2020-08-20 17:25] #19542 closed

[2020-08-20 17:29] Rick-Anderson commented on #19588
The error message tells you everything you're missing.

[2020-08-20 17:29] #19588 closed

[2020-08-20 17:34] Rick-Anderson commented on #19592
@jkotalik @guardrex  should I add the instructions @TanvirArjel posted in https://github.com/dotnet/aspnetcore/issues/20369 to this doc?

[2020-08-20 17:50] guardrex commented on #19592
We have ...

* `maxAllowedContentLength` for *web.config*
* `MaxRequestBodySize` for Kestrel
* `MultipartBodyLengthLimit` for forms

The piece that isn't in the doc is this one ...

[code]

When I put the topic up, I'm fairly certain that the approaches were tested with very large file uploads. However, churn in the API/module may have made that IIS server option required since then. It's been wel

[2020-08-20 17:56] guardrex commented on #19592
mmmmm ...

**MaxRequestBodySize **

https://docs.microsoft.com/aspnet/core/host-and-deploy/iis/#iis-options

I now wonder if my test app had it but it didn't find its way into the topic. I'll add it.

[2020-08-20 18:29] #19587 closed

[2020-08-20 18:53] MarcAir opened #19594 "Remote Validation does not seem to work for nested objects"
Remote validation for the samples provided seem to work for single level objects within a razor page.
however when validation is against objects in a model that are nested: E.g.
 <input class="form-control" asp-for="@Model.CProfile.CompanySlug" />

the parameter that is added to the route by jquery includes a '.' which cannot be included as a parameter in the controller.
the resulting call get by

[2020-08-20 19:02] Rick-Anderson commented on #19594
Thanks for the suggestion. jQuery behavior is beyond the scope of this article.
 Should your request generate enough  👍 responses, we’ll reconsider. We'll also reconsider this issue in the next doc update.

[2020-08-20 19:02] #19594 closed

[2020-08-20 20:07] Rick-Anderson commented on #19502
@HDONGDeveloper from https://github.com/dotnet/aspnetcore/issues/21013 and @hoksource  remind me where you get the 3.1 version of [RazorTemplateEngine](https://docs.microsoft.com/dotnet/api/microsoft.aspnetcore.razor.language.razortemplateengine)

I upgraded the sample from 2.0 to 3.1 but need the replacement for `RazorTemplateEngine`
https://github.com/Rick-Anderson/RazorTemplateEngine

[2020-08-20 20:10] Rick-Anderson commented on #19502
I found https://github.com/dotnet/aspnetcore/issues/5079 where `RazorTemplateEngine` was removed.

So that needs to be removed from the sample.

[2020-08-20 20:11] RickAndMSFT opened #19595 "Add RazorTemplateEngine removed"
https://github.com/dotnet/aspnetcore/issues/5079

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76f39eec-9dd1-6167-56ec-47b26e0b5063
* Version Independent ID: f9f2b0f3-01eb-cf58-8767-194fe0fc0e44
* Content: [Migrate from ASP.NET Core 2.2 to 3.0](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspne

[2020-08-20 20:21] guardrex commented on #19573
I did a bit more research on this today: Various remarks around the Net indicate that implicit flow OAuth 2.0 doesn't support the `groups` claim in access tokens. I see devs in various places having their server API app call Graph API in `OpenIdConnectOptions` > `OnTokenValidated` and setting user claims that way. Then, policies would make quick work of authorizing controllers in the app.

I'll ha

[2020-08-20 20:41] pstricks-fans opened #19597 "How can [Parameter] properties have no corresponding values in ParameterView?"
Quoted from the documentation:

The first paragraph said that `ParameterView` contains the entire set of `[Parameter]` properties , but the second paragraph said that `[Parameter]` properties may  have no corresponding values in `ParameterView`.

It sounds contradictory to me.
How can `[Parameter]` properties have no corresponding values in `ParameterView` while `ParameterView` is said to contain

[2020-08-20 20:55] Rick-Anderson commented on #19502
@hoksource  all the pages with
[code]

work fine.

[2020-08-20 21:09] guardrex commented on #19597
Hello @pstricks-fans ...

... the entire set of parameter values **_set by the parent_** seems right 🤔. These remarks came directly from the API Remarks at ...

https://docs.microsoft.com/dotnet/api/microsoft.aspnetcore.components.componentbase.setparametersasync

I'll leave this up for triage until we can get a firm answer and then make an update to clarify it. Thanks for calling it out.

[2020-08-20 22:00] guardrex commented on #19597
Confirmed ... it really shouldn't say "entire set" like that. It's just the params that the parent set. I'll patch that up right now and then open an issue for the engineers to change the API remarks to match.

[2020-08-20 22:09] RickAndMSFT opened #19600 "Update Razor Syntax doc to 3.1"
Update Razor Syntax doc to 3.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b87067b2-347c-072d-26c8-5a8c7c9c860b
* Version Independent ID: a0b3b70a-3b39-1b5f-a4ce-c41bd2d6b044
* Content: [razor syntax reference for ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-3.1)
* Conte

[2020-08-20 22:18] Rick-Anderson commented on #19502
@hoksource  if you can put the simplest possible complete sample on GitHub and ***Explain why you need this**, I'll look into it

below does not work
Test.cshtml
[code]

below works
Test1.cshtml
[code]

[2020-08-20 22:18] #19502 closed

[2020-08-20 23:00] #19597 closed

[2020-08-20 23:39] #19514 closed

[2020-08-21 14:58] lucasgl opened #19606 "Add Cors section not the same as main page example."
The example on add cors is using the app.UseSignalR instead of app.UseEndpoints

For me it worked only if I added cors in the endpoint.
[code]

Which one is the latest? UseEndpoints or UseSignalR?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cf283c9-5cd2-a9ff-b8c8-372d8a04356d
* Version Independent ID: 729fddcf-24e4

[2020-08-21 17:34] mrlife opened #19607 "Reference to `Wrapper`"
The `Wrapper` ref is associated with additional code from [this blog post](https://blog.jeremylikness.com/blog/build-a-blazor-webassembly-line-of-business-app-part-4) that was not needed in this docs page.

Docs page:
[code]

Blog post:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a101e4d-85a2-8013-0f62-40e13

[2020-08-21 17:54] cmatskas opened #19608 "The grpc docs dont' include any information on how to create a custom service"
It would be great to have a tutorial on how to create a custom service beyond just the basic, default Greeter stuff. Also, information about the scaffolding capabilities of the dotnet CLI for grpc would be greatly appreciated

[2020-08-21 18:23] Quraian opened #19609 "Confusing part - ASP.NET Core Module"
The following line is mentioned in the out-of-process hosting section, which is confusing:

Also, it's not clean, does it mean that "AspNetCoreHostingModel" is set to InProcess hosting or what?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe69b3a9-896f-e189-0c2c-f87ff735df9c
* Version Independent ID: 97c8549b-66ad-0a2

[2020-08-21 18:29] #19609 closed, assigned to nobody

[2020-08-21 21:44] jeremycook opened #19611 "Explain "combining policies" under the Fallback policy section"
The Fallback policy section has this wording: "A custom IAuthorizationPolicyProvider can optionally implement GetFallbackPolicyAsync to provide a policy that's used when combining policies and..." and links to [this API browser documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authorization.authorizationpolicy.combine?view=aspnetcore-3.1) which is without information

[2020-08-22 05:40] kaldren opened #19615 "Wrong resource path"
Under **DataAnnotations localization** section:

**Resources/ViewModels.Account.RegisterViewModel.fr.resx** needs to be changed to **Resources/ViewModels/Account/RegisterViewModel.en.resx**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1833676-ff1b-c587-cc9c-81afffa8ef68
* Version Independent ID: ad989395-3f49-4d55-5

[2020-08-22 05:56] #19615 closed, assigned to nobody

[2020-08-22 14:29] ravick4u opened #19617 "Why the response from service returns cam case results?"
Why the response from service returns cam case results? Is there a way we can update so that it returns the same name and does not change anything?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
*

[2020-08-22 17:57] #19617 closed, assigned to nobody

[2020-08-22 23:53] VanEuclid opened #19622 "Mac error on running after deleting MvcMovie.db"
I ran into a problem after you delete the db file where the build would fail.

Steps to fix:

- Have to add Rating to the migration files in the InitialCreate.cs and InitialCreate.Designer.cs files.
- Rebuild project
- Run dotnet ef database update

Then run, should fix any mac issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-08-23 01:34] #19622 closed, assigned to nobody

[2020-08-23 17:11] hoksource commented on #19502
Thank you for the info @Rick-Anderson . I was trying to see if i can work with razor pages with just the .cshtml no PageModels. using .cshtml only is not well documented for razor so i'm not sure how to add property and binding models to the property with .cshtml razorpage only. So I ended up using PageModels.

[2020-08-24 07:24] Dithn opened #19625 "musics"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dd2991d-c22d-ad0f-80b6-bd1b503db8f3
* Version Independent ID: 5e3fbe1d-c97f-9940-4f0c-067d4b2112b1
* Content: [Get started with ASP.NET Core SignalR](https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr?view=aspnetcore-3.1&tabs=visual-studi

[2020-08-24 10:44] #19625 closed

[2020-08-24 13:21] guardrex commented on #19573
@jmprieur ... Do you have a few minutes to take a look at my ADAL v1.0 on-behalf-of approach for Graph API via a web API backend in a hosted Blazor solution? ... or can you suggest someone who might have a few minutes to take a look at this?

This is just to tide us over to .NET 5 GA. I'll have the new Blazor templates with Identity v2.0 API and packages worked up for the release (*I hope*) by mid

[2020-08-24 13:31] jmprieur commented on #19573
@swannet
2 things:
- ADAL OBO does already acquire the token silently. If you get an AdaUiRequiredException, this means that the tenant admin needs to provide admin consent for the Web API to call the downstream API (as API cannot interact with the user)
- You should not need to provide the upn, to my knowledge

What is the exact exception?

However: ADAL is being deprecated and Microsoft Identity

[2020-08-24 13:51] swannet commented on #19573
@jmprieur

Thanks for the headsup. I can understand it would be better to go for the MSAL and Graph API approach, I followed the guide https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-azure-active-directory?view=aspnetcore-3.1 for .NET core 3.1 which uses the "Microsoft.AspNetCore.Authentication.AzureAD.UI" package for the backend (ServerAPI) instead of the MSAL

[2020-08-24 13:53] guardrex commented on #19573
Sorry @swannet ... Don't mean to step on your question. Let me interject in passing ...

Thanks ... it seems then that my code was bad in the silent token acquisition approach. I'll try again.

MSAL relies on Identity v2.0 packages and API, which is still in preview ...

The goal of this approach is to cover an end-to-end approach without the use of preview packages. Support for ADAL runs to 2022.

[2020-08-24 14:21] guardrex commented on #19573
I may have an answer as to why silent token acquisition fails on the first pass and why the silent token call is there at all. Until a token is obtained on behalf of the user the first time, there's no token in the cache for silent token acquisition to occur (imo, not well covered by the docs I was looking at, but it's probably in other docs that I didn't see). Therefore, silent token acquisition

[2020-08-24 15:07] guardrex commented on #19573
**_CONFIRMED!_** ... The behavior is ...

* Silent token acquisition is attempted first because the token might be in the ADAL token cache.
* If the token isn't acquired from cache (`AdalError.FailedToAcquireTokenSilently` or `AdalError.UserInteractionRequired`), a user assertion is made with the client credential to obtain the token on behalf of the user. Then, the `GraphServiceClient` can go ahe

[2020-08-24 15:28] guardrex commented on #19522
@MackinnonBuck ... You need more time to get to this? No rush, of course. Just making sure it didn't drop off ur radar.

[2020-08-24 15:29] captainsafia opened #19628 "[preview8] Add docs on interplay between lazy-loading and assembly renames"
The `LazyLoadAssemblyService` works by interfacing with the ResourceLoader on the client. This ResourceLoader relies on the assembly names that are defined in the blazor.boot.json file.

When users rename assemblies following our guidelines, the assembly names they use in the code in their OnNavigateAsync methods and the assembly names in the blazor.boot.json file maybe out of sync.

To rectify th

[2020-08-24 17:15] JeremyLikness commented on #19607
Hi @mrlife - not sure I understand the issue. The reference app uses the GridWrapper to propagate changes across controls. The snippet you show is excerpted directly from the sample project. The code for wrapper is there.

[2020-08-24 17:29] mrlife commented on #19607
@JeremyLikness Thanks for that clarification. Since `Wrapper` is not mentioned anywhere else on the page, I found it confusing. Maybe adding a note similar to your comment here would be a useful clarification in the docs.

[2020-08-24 18:14] #19522 closed

[2020-08-24 18:56] Joshlo opened #19629 "SameSite issue for CorrelationIdCookie"
Hi,

With the change Google did to how Chrome handles "SameSite" for cookies, you might want to add troubleshooting to this site.
If you try to login with any of the providers you'll get "correlation failed cookie not found" out of the box in chrome, since SameSite by default is set to "Unspecified" and therefor isn't included in the request for the provider.

you'll need:
[code]

and
`app.UseCook

[2020-08-24 19:18] Rick-Anderson commented on #19629
That's not necessary. See [.NET Core support for the sameSite attribute](https://docs.microsoft.com/en-us/aspnet/core/security/samesite?view=aspnetcore-3.1#net-core-support-for-the-samesite-attribute)

.NET Core 3.0 supports the updated SameSite values and adds an extra enum value, SameSiteMode.Unspecified to the SameSiteMode enum. This new value indicates no sameSite should be sent with the cooki

[2020-08-24 19:19] Rick-Anderson opened #19630 "specify new version support samesite"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1945dedd-e2b8-37c1-2676-e473498bcb30
* Version Independent ID: 631281cb-65db-3196-1a6a-da9b3f2e3fed
* Content: [Work with SameSite cookies in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/samesite?view=aspnetcore-3.1)
* Content Source: [aspnetcore/s

[2020-08-24 19:32] captainsafia opened #19632 "[RC1] Add documentation on catch-all parameters"
https://github.com/dotnet/aspnetcore/issues/25199#issuecomment-679321134

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35474d24-8039-f04a-de14-1530b8e8506c
* Version Independent ID: b6cb2574-6326-a40d-0b6c-d1661328e828
* Content: [ASP.NET Core Blazor routing](https://docs.microsoft.com/en-us/aspnet/core/blazor/fundame

[2020-08-24 20:18] captainsafia opened #19633 "[RC1] Add documentation on DisplayName for validation messages"
We now support setting a `DisplayName` attribute on InputNumber, InputDate, and InputSelect components. So for example, I can have a form that looks like this.

[code]

If the date field is invalid, then the validation message will read:

Wheras previously, it would show this.

We probably want to add this under the "Validation Support" heading.

---
#### Document Details

⚠ *Do not edit this sect

[2020-08-24 21:10] #19629 closed

[2020-08-25 00:09] Rick-Anderson opened #19636 "Change case insensitive to "not case sensitive""
Per https://github.com/dotnet/AspNetCore.Docs.de-de/issues/72

[2020-08-25 01:15] #19636 closed

[2020-08-25 06:11] #19630 closed

[2020-08-25 08:48] Stallind opened #19639 "Swashbuckle requires GenerateDocumentationFile in .csproj file"
For .net core 3.1 this part doesn't work
 `var xmlFile = $"{Assembly.GetExecutingAssembly().GetName().Name}.xml";`
 `var xmlPath = Path.Combine(AppContext.BaseDirectory, xmlFile); `
  `c.IncludeXmlComments(xmlPath);`

unless you add   `<GenerateDocumentationFile>true</GenerateDocumentationFile>`  to the `<PropertyGroup>` of the .csproj file.

I'd like to see that added to the tutorial.

---
#### D

[2020-08-25 16:46] serpent5 opened #19645 "Use GetTestClient instead of GetTestServer().CreateClient()?"
I was playing around with some of the stuff in this topic today, and I noticed the following:

[code]

-can be replaced with-:

[code]

It's only a minor point, but is it worth updating the example to use this approach?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9421feee-5207-e379-00fb-847cc880014c
* Version Indepe

[2020-08-25 16:52] #19607 closed

[2020-08-25 16:59] javiercn opened #19646 "[Blazor] Can we make HttpRequestMessage options more visible?"
It's hard to find docs for https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-5-release-now-available/#configure-http-fetch-request-options

It would be great if we could bring more visibility to it. (I tried explicitly googling for this several times and it takes me a few tries, and the best I get is the preview5 blog post announcement).

[2020-08-25 17:12] guardrex commented on #19645
There's [something broken in the API Browser](https://github.com/MicrosoftDocs/feedback/issues/2575#issuecomment-680154630), but yeah ... that looks good ...

https://github.com/dotnet/aspnetcore/blob/master/src/Hosting/TestHost/src/HostBuilderTestServerExtensions.cs#L32

That goes back to 2.1, so we can cover back to 2.1 for it.

[2020-08-25 17:32] guardrex commented on #19646
We have it ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/additional-scenarios?view=aspnetcore-3.1#httpclient-and-httprequestmessage-with-fetch-api-request-options

We should should move the section to the *Call web API* topic.

When I Google "HttpRequestMessage" and "Fetch," I get the *Call web API* topic as the 3rd returned result, which does refer to the terms in

[2020-08-25 18:18] xenophilios opened #19647 "Suggestion"
Nice article. Perhaps you could add some tips on how to ensure that if a view name is changed, the change can be transmitted automatically to any references to the view in controllers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2e47828-6da8-2323-053f-dcbf7475b1b6
* Version Independent ID: 62d4c2be-4233-64e1-2a3d-8

[2020-08-25 18:45] Tratcher commented on #19645
It was actually added 3.0: https://github.com/aspnet/Hosting/pull/1595

[2020-08-25 18:48] guardrex commented on #19645
My bad ... I looked at the wrong branch. I looked at the `2.1.3` branch and thought that it was dropped in after 2.1 released. Also, the API Browser is broken right now, and versions aren't showing up correctly at this time there.

[2020-08-25 18:54] #19628 closed

[2020-08-25 20:22] jongalloway commented on #19465
VS for Mac 8.8 P2 is out today. Happy to help with any screenshots or review.

[2020-08-25 20:25] guardrex commented on #19465
I'll put my iMac on the preview channel and work this first thing Wednesday morning.

We try to avoid screenshots, and we might be pulling a few from existing content. For IDEs and the Azure portal, they change every **_6.27 minutes!_** :smile:

[2020-08-25 21:04] captainsafia opened #19649 "Document distinction between running with WebSockets enabled/disabled in Azure App Service"
Azure App Service allows you to run an app service with WebSocket support enabled or disabled.

When WebSockets are disabled, the app service simulates a real-time connection using HTTP long-polling. This is noticeably slower than running with WebSockets enabled, which doesn't use polling to simulate.

We should recommend that folks deploying Blazor Server apps to Azure run with WebSockets enabled

[2020-08-25 21:16] pranavkm commented on #19649
One thing we've punted on all along is simply disabling support for Long Polling by default in Blazor's Hub config. Do you want to bring this up as something to packle for now?

[2020-08-25 23:09] #19495 closed

[2020-08-25 23:13] #19633 closed

[2020-08-25 23:21] #19632 closed

[2020-08-25 23:22] comet56us opened #19650 "Exception in HubConnectionBuilder.Build using .net5 preview 8"
I have a working Blazor WASM project, which connects to a server hub with SignalR. I was excited to finally try it out with all the .net 5 improvements now that preview 8 is out - I couldn't use preview 7 because it would throw an exception trying to decompress gzip, which I use to compress the JSON that I send to and from the hub.

With preview 8, I get this stack when trying to call HubConnectio

[2020-08-25 23:24] guardrex commented on #19650
Hello @comet56us ... Open that for engineering at ...

https://github.com/dotnet/aspnetcore/issues

[2020-08-25 23:24] #19650 closed

[2020-08-25 23:25] guardrex commented on #19650
btw --- Please add a `cc: @guardrex` to your issue over there so that I can follow the discussion. I'll re-open this issue if we need to do work on the topic. Thx! :beers:

[2020-08-26 01:45] captainsafia commented on #19649
Yeah. If we can do the right thing by default in the framework, that's probably better for users. Do we already have an issue tracking this?

[2020-08-26 02:43] Rick-Anderson commented on #19647
pass in `viewName` as a strongly typed string rather than `"theViewName"` magic string

[2020-08-26 02:43] #19647 closed

[2020-08-26 02:44] Rick-Anderson commented on #19639
3.0 is out of support. Is that true for 3.1?

[2020-08-26 02:52] Rick-Anderson commented on #19639
@bradygaster  @spboyer  @scottaddie  Is that correct? If so, I'll update the doc.

[2020-08-26 03:21] #19582 closed

[2020-08-26 03:31] Rick-Anderson opened #19656 "Update WebAPI to 5.0"
Update WebAPI to 5.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-3.1&tabs=

[2020-08-26 03:31] #19404 closed

[2020-08-26 08:03] Stallind commented on #19639
@Rick-Anderson Thanks for replying. It's also true for 3.1

[2020-08-26 08:17] hoksource commented on #11769
i did a test, but i'm not sure about the implication, but it worked.
Can I add this to the documentation? If so how?

I read a section on nested layouts with Blazor but non yet in razor pages.
https://docs.microsoft.com/en-us/aspnet/core/blazor/layouts?view=aspnetcore-3.1#nested-layouts

Shared/_MasterLayout.cshtml
[code]

Shared/_Layout.cshtml
[code]

Index.cshtml
[code]

[2020-08-26 08:18] hoksource commented on #11769
@Rick-Anderson i did a test, but i'm not sure about the implication, but it worked.
Can I add this to the documentation? If so how?

I read a section on nested layouts with Blazor but non yet in razor pages.
https://docs.microsoft.com/en-us/aspnet/core/blazor/layouts?view=aspnetcore-3.1#nested-layouts

Shared/_MasterLayout.cshtml
[code]

Shared/_Layout.cshtml
[code]

Index.cshtml
[code]

[2020-08-26 09:39] FredHan001 commented on #19570
I find the `doc-idea` tag is added, I'd like to know if Docs team have any plan to write and publish document covering this topic.

Besides, if detailed scenarios with samples that could cause above common issues, I can share it.

[2020-08-26 10:08] jkone27 commented on #16158
Can you guys re-open this? docs don't seem to explain exactly how to use it, or what it actually does: https://docs.microsoft.com/en-us/aspnet/core/web-api/microsoft.dotnet-openapi?view=aspnetcore-3.1

Very nice though! thanks

[2020-08-26 10:15] jkone27 opened #19657 "Adjust openapi dotnetcore tool docs"
add details on how to use the feature in code, and from visual studio. with code examples

e.g. declare empty classes as partial, classname should be the same as openapi.json file,
also does not work for openapi.yaml, so it needs to be in json format.

is this using new C# source generators in the background?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-08-26 10:59] javiercn commented on #19649
We can't disable long polling by default, that leads to a broken experience when your host doesn't have enabled websockets.

[2020-08-26 11:28] Ninjanaut opened #19658 "How to handle production secrets ?"
Hello,

If I implement user secrets or environment variables to store secrets for development purpose, how to handle production secrets ? Where should production secrets be located and in what form to avoid check-in to version control system ? Should I import, in run time, some secrets.json from location outside the project ? This seems as general approach for all environments, where I can only se

[2020-08-26 11:42] xenophilios commented on #19647
Thank you, Ric,k, for the fast response. Could you please demonstrate?

[2020-08-26 12:41] spboyer commented on #19639
@Rick-Anderson @Stallind - This is true and the current document [does mention it here](https://docs.microsoft.com/en-us/aspnet/core/tutorials/getting-started-with-swashbuckle?view=aspnetcore-3.1&tabs=visual-studio#xml-comments)

Swashbuckle docs mentions it as well [here](https://github.com/domaindrivendev/Swashbuckle#including-xml-comments).

C# Reference Docs also has a [how to](https://docs.mi

[2020-08-26 12:42] guardrex commented on #19465
Ran into an issue this morning without an obvious solution:

1. Took VS to the preview channel. Received v8.8 Build 1532
1. Installed .NET 5 Pre8
1. Debugging works in the *Server* app of a hosted project.
1. Debugging does **not** work on the counter increment (`currentCount++;`) in the `Counter` component. The breakpoint that I set isn't hit.

:ear:

[2020-08-26 12:52] Stallind commented on #19639
Can't believe I missed that, I'm sorry about that. Thanks for checking

[2020-08-26 12:52] #19639 closed

[2020-08-26 13:11] guardrex commented on #19465
**Also ...** a few more ❓ ...

1. Is debugging in the browser [*Debug in the browser* section](https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-3.1#debug-in-the-browser) not supported on macOS/Safari?

   If not supported, I'll need to add a line to that section ...

2. Same question for the [*Browser source maps* section](https://docs.microsoft.com/en-us/aspnet/core/blazo

[2020-08-26 13:12] mrward commented on #19465
The only problem I see with .NET 5 preview 8, which also affects .NET Core 3.1, is that it takes a while before the breakpoints work. VS Mac does not correctly indicate that the breakpoints are not yet enabled. This is a known bug. Eventually the breakpoint is enabled and can be hit.

Safari is not supported. Only Edge and Chrome are supported.

[2020-08-26 13:14] guardrex commented on #19465
That would explain my problem. I'll install Chrome. Thanks for the tip!

This initial test is just for the counter increment after waiting several seconds. Also by the time the user gets to testing the controller the app has been running a while. We also have the NOTE on this delay earlier in the topic. I think we'll be ok on this one.

[2020-08-26 14:00] guardrex commented on #19465
Ok ... it works ... **_BUT_** ...

* It seems like it's necessary to use Google Chrome when the app starts ... i.e., Chrome must be selected in VS4Mac for the Debug run before starting the debug run. I wasn't able to select Safari, start, then open Chrome and get debugging to run.
* It was **_very slow_** to react to the breakpoint being hit ... several seconds, especially because I'm using an anc

[2020-08-26 14:11] mrward commented on #19465
Correct - Chrome or Edge need to be selected in the main toolbar before you start the debug run. If Safari is selected VS Mac does not launch the Blazor debugger when you debug the project.

It seems to be much slower for the breakpoint to be enabled/verified with .NET 5 preview 8 than with .NET Core 3.1.401. It is much more difficult to miss the breakpoint with .NET Core 3.1.401 - you have to be

[2020-08-26 14:15] guardrex commented on #19465
The *Debug in the browser* guidance seems like it's about to work ... but I haven't quite got it running yet.

[2020-08-26 15:18] guardrex commented on #19658
Hello @Ninjanaut ... Environment variables are commonly used. If they leak or get hacked on a server, one has *serious problems to contend with* 😨 ... the whole server is probably compromised.

[2020-08-26 15:19] scottaddie opened #19661 "Update 3.1-to-5.0 migration guide for Preview 8"
Incorporate the guidance found at https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-preview-8/

[2020-08-26 15:32] #19646 closed

[2020-08-26 15:33] scottaddie commented on #19658
@Ninjanaut Azure Key Vault is the team's recommended approach for storing production secrets. You can learn more about using Key Vault [here](https://docs.microsoft.com/aspnet/core/security/key-vault-configuration). I have an example [here](https://github.com/scottaddie/ViewComponentsDemo/blob/d1969f283d0e560681fef5d9e5110941e4ad1cfd/ViewComponentsDemo/Program.cs#L22-L42) of how I've used Secret M

[2020-08-26 15:38] guardrex commented on #19658
The current topic already covers both ... if you mean for the AKV config provider ...

https://docs.microsoft.com/en-us/aspnet/core/security/key-vault-configuration?view=aspnetcore-3.1

[2020-08-26 15:40] guardrex commented on #19658
What we don't have tho is a cross-link to the **new** (new-ish :smile: ... it's been around for a while now) ... the new Azure features for setting the secrets via the UI. It's probably faster than those commands. Also, the commands themselves could be offloaded from this doc set to the Azure docs if we had the desire and time to do so.

[2020-08-26 16:29] #19465 closed

[2020-08-26 16:33] guardrex opened #19664 "Blazor routing clarifications for dots in the last segment"
https://github.com/dotnet/aspnetcore/issues/25249#issuecomment-680831434

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35474d24-8039-f04a-de14-1530b8e8506c
* Version Independent ID: b6cb2574-6326-a40d-0b6c-d1661328e828
* Content: [ASP.NET Core Blazor routing](https://docs.microsoft.com/en-us/aspnet/core/blazor/fundame

[2020-08-26 18:09] scottaddie commented on #19658
@guardrex Do you have a link to that UI doc? I'm working on this doc for an internal project.

[2020-08-26 19:17] guardrex commented on #19658
I don't ... at the time this was written those AKV UI features didn't exist. Since then tho, I think they have something, but it might just be a tutorial section.

[2020-08-26 19:20] Rick-Anderson commented on #11769
Should be the same as Blazor. I'll get this updated.

[2020-08-26 19:42] Ninjanaut commented on #19658
Thank you very much for your answers. For production I will try to use environment variables configured directly on the IIS server, because I do not have AKV available yet and for development I will use Secret Manger in the visual studio.

[2020-08-26 19:54] EngSayed commented on #18047
You didn't provide any solution nor any suggestion before closing the issue!

[2020-08-26 19:54] scottaddie commented on #19658
Closing this issue, as there are already other issues to track the problems I'm addressing.

[2020-08-26 19:54] #19658 closed

[2020-08-26 20:16] #19661 closed

[2020-08-26 20:21] ckuroda1 opened #19667 "Very easy to follow tutorial !!"
Cheers to Rick Anderson!
Instructions are clear and short.
It looks like the Site.css file has not been provided though.
Thank you for providing these tutorials.
Chieko

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c31071a6-97f2-d0ae-22a7-10e461a3c679
* Version Independent ID: d3227595-fe2a-7630-0379-8da3b1dba2ee
* Co

[2020-08-26 21:12] Rick-Anderson commented on #19667
`site.css` is provided by the templates. Glad you liked the tutorial.

[2020-08-26 21:12] #19667 closed

[2020-08-27 03:22] Rick-Anderson commented on #19657
Dup of #15899

[2020-08-27 03:22] #19657 closed

[2020-08-27 03:22] Rick-Anderson commented on #16158
Dup of #16158

[2020-08-27 03:22] #16158 closed

[2020-08-27 06:46] iofluxdev1 commented on #19225
Running into the same problem. The token provider values are null when I use DI to inject it into a transient service unless TokenProvider is registered as singleton. The service that is relying on the token provider is a DelegatingHandler that injects the tokens into a HttpClient's headers. I dont want to store this in local storage as others do as that is a security riks.

[2020-08-27 07:24] Tommigun1980 opened #19680 "Doesn't have example of adding Redis to DI container"
I looked everywhere on how to set up Redis, and the only mention of this is:

"An app configures the cache implementation using a RedisCache instance (AddStackExchangeRedisCache)."

Does that mean?
`services.AddStackExchangeRedisCache(options => { });`

Why not have that as an example instead, as all other MS documentation does for configuring the services?
It is absolutely misleading to talk abou

[2020-08-27 08:43] DrGriff opened #19681 ".NetCore WebApi Controller Action methods: return Task or VallueTask?"
From the Microsoft documentation [Examine the PostTodoItem create method](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-3.1&tabs=visual-studio#examine-the-posttodoitem-create-method) we see the following code in the API's Controller:
[code]
This returns a Task<T>, but since this is only ever awaited, could/should it return a ValueTask<T>?  Does the answer dif

[2020-08-27 09:24] raman-kazhadub opened #19682 "Scope validation section should be updated"
There are 3 points for scope validation:
- Scoped services aren't resolved from the root service provider.
- Scoped services aren't injected into singletons.
- Transient services aren't injected into singletons or scoped services.

But the last one is not true, transient service can be injected to singletons or scoped service (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/web-host

[2020-08-27 11:17] guardrex commented on #19682
Hello @raman-kazhadub ... I'll add the cross-link to the commit where it came in for the discussion ...

https://github.com/dotnet/AspNetCore.Docs/pull/19271/commits/a662030c90f6dfc223a86bfe6dca1f924588aed7#diff-6326842a605b080714f289bc8cb24390R428

[2020-08-27 11:38] guardrex commented on #19572
@donquijotedelamancha Did you figure out the custom domain scenario?

[2020-08-27 15:36] guardrex commented on #19572
@donquijotedelamancha ... I have news ... mostly good news.

### One little problem here

I think you may not have hit this one based on your opening remarks ...

When setting up my test self-signed cert for the Azure App, the cert and the setup in Azure Apps works fine to reach the site. Azure is perfectly happy to serve up the app at the custom domain with my cert.

However, the Identity Server

[2020-08-27 15:51] guardrex commented on #19572
Strange ... it runs with or without the `Key` entries in the app settings file **_in the `Development` environment_** but not in the `Production` environment.

[2020-08-27 16:00] guardrex commented on #19572
Rubber 🦆 says that a signing cert probably has to be in a key vault for this to work.

[2020-08-27 17:07] cellurl3 opened #19684 "I get 405 Method Not Allowed every DELTED/POST/TodoItems1/1 Also, POSTMAN always gives me weather json, no matter what I do..."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-3.1&tabs

[2020-08-27 17:39] Rick-Anderson commented on #19680
See https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-dotnet-core-quickstart

[2020-08-27 17:43] Rick-Anderson commented on #19681
It returns `Task<ActionResult<TodoItem>>` and has nothing to do with IIS.

[2020-08-27 17:43] #19681 closed

[2020-08-27 17:50] Rick-Anderson commented on #19684
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2020-08-27 17:50] #19684 closed

[2020-08-27 17:59] Tommigun1980 commented on #19680
Hi Rick and thanks for the answer. I can’t see AddStackExchangeRedisCache being mentioned at all in the document you linked to, nor the mandatory parameters in it. Maybe I’m just missing it?

[2020-08-27 18:47] DrGriff commented on #19681
@Rick-Anderson: apologies if I wasn't clear, but I think you may have misunderstood the question.

So the question is regarding the use of `Task<T> vs ValueTask<T>`, in other words, is it better go to with:
[code]
or
[code]

I'm referring to Stephen Toub's argicle [Understanding the Whys, Whats, and Whens of ValueTask](https://devblogs.microsoft.com/dotnet/understanding-the-whys-whats-and-whens-of

[2020-08-27 18:58] Assassinbeast opened #19685 "How to do Business Validation with ObjectGraphDataAnnotationsValidator & complex types?"
Making complex types validation with the `ObjectGraphDataAnnotationsValidator` works.

But how do you add custom errors with the `CustomValidator` to do business validation?
I tried to add error with the key `ShipDescription.ShortDescription` key, eg:

[code]

But it didn't work.
I assume that was the key since the form models property path is `starship.ShipDescription.ShortDescription`.

---
####

[2020-08-27 19:26] Rick-Anderson commented on #19680
@petrsvihlik can you provide the code to use Azure Redis cache?  Something like

[code]

[2020-08-27 19:41] cellurl3 opened #19686 "most github samples are self contained. Yours isn't. Very frustrating"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c165f8e4-d058-27b2-ee9b-1bbed0996f1f
* Version Independent ID: faed8bb0-79ef-7af4-5deb-e7645cdf2e39
* Content: [Introduction to ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-3.1#how-to-download-

[2020-08-27 19:59] Rick-Anderson commented on #19681
The recommended return is what we have. That's what the scaffolder generates.

The hosting model has nothing to do with this.

[2020-08-27 20:01] Rick-Anderson commented on #19686
Thanks for the comment.

[2020-08-27 20:01] #19686 closed

[2020-08-27 20:16] JSpring3 opened #19687 "Issue with Claims in this example"
I posted this issue on stackoverflow but I thought you might want to know about it.

https://stackoverflow.com/questions/63621523/how-do-i-use-the-blazor-clientside-authorizeview-control-policy-feature-with-azu

I am using the Microsoft example featured at this link https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/standalone-with-azure-active-directory?view=aspnetcore-3.1

[2020-08-27 20:20] guardrex commented on #19687
The `groups` claim has to be converted into individual `group` claims with a custom user factory. See ...

https://docs.microsoft.com/aspnet/core/blazor/security/webassembly/azure-active-directory-groups-and-roles

[2020-08-27 20:20] #19687 closed

[2020-08-27 22:08] wadepickett commented on #19427
Fixed by these PR's in both AspNetCore.Docs and azure-docs-pr:
#19466 (14 files in AspNetCore.Docs)
MicrosoftDocs/azure-docs-pr#125801 (35 files azure-docs-pr)
MicrosoftDocs/azure-docs-pr#125970 (117 files azure-docs-pr)
MicrosoftDocs/azure-docs-pr#126544 (271 files azure-docs-pr)
MicrosoftDocs/azure-docs-pr#127474 (514 files azure-docs-pr)

951 files in total updated.

A large percentage of these

[2020-08-27 22:08] #19427 closed

[2020-08-27 22:54] Rick-Anderson commented on #19682
@serpent5  do you want to remove the following line?

`* Transient services aren't directly or indirectly injected into singletons or scoped services.`

[2020-08-27 23:10] Rick-Anderson opened #19688 "Remove corrupted characters from asp.net repo"
[Internal tracking bug](https://ceapex.visualstudio.com/CEINTL/_workitems/edit/292440)
cc @JasonCard

- [x] https://github.com/dotnet/AspNetDocs/blob/master/aspnet/mvc/overview/older-versions-1/overview/understanding-models-views-and-controllers-cs.md
--
- [x] https://github.com/dotnet/AspNetDocs/blob/master/aspnet/mvc/overview/older-versions-1/overview/understanding-models-views-and-controllers-v

[2020-08-28 00:40] Rick-Anderson commented on #19688
Fixed in https://github.com/dotnet/AspNetDocs/pull/435

[2020-08-28 00:40] #19688 closed

[2020-08-28 01:47] Rick-Anderson commented on #18942
@halter73  no hurry, do you have an ETA on this?

[2020-08-28 01:56] #6146 closed

[2020-08-28 01:59] Rick-Anderson commented on #7224
@javiercn  Is https://gist.github.com/javiercn/62044bab948e42cc9e4e695e4aaee7b8 ready to turn into a doc?

[2020-08-28 02:52] Rick-Anderson commented on #10341
@pranavkm can you please confirm that the router parameter in the example here should indeed be author instead of authorId?

[2020-08-28 02:56] Rick-Anderson commented on #11149
@bradygaster  @shirhatti  if you can update https://github.com/aspnet/specs/blob/master/notes/ancm/startuperrors.md I'll get this documented.

[2020-08-28 03:22] #12218 closed

[2020-08-28 10:18] guardrex opened #19694 "Rename role when Azure portal entry is rebranded"
When MS changed the branding for "Office 365" to "Microsoft 365" in the Azure portal, the name of the "Office apps administrator" role wasn't changed (and the description text wasn't updated). It might have been by-design to leave it alone, but it's probably worth asking about. If they are going to change it, then I need to make a change in our docs for it on this issue. If they plan not to change

[2020-08-28 10:42] doggy8088 commented on #16158
@Rick-Anderson This issue is #16158 😅

[2020-08-28 11:39] mschluper opened #19695 "It would be helpful to specify how to use optional parameters"
I'd like to have routes
(1) ~/admin/user
(2) ~/admin/users?siteID=42

I'd expect .NET Core to support these two in one endpoint, but I cannot find on this page how to do this. There is something about optional parameters but this is limited to a route like

(3) ~/admin/users/42

But that's not what I want. It's not a request for user 42, but for site 42.

---
#### Document Details

⚠ *Do not edit

[2020-08-28 13:53] scheelings opened #19696 "Configure ASP.NET Core project without Webpack?"
Is it possible to add the SignalR Typescript library to an existing ASP.NET Core project without Webpack?

I have this existing ASP.NET Core project where I use TypeScript, RequireJS and Gulp to compile (and copy) my TypeScript files. I do not want to add WebPack to this configuration, but I cannot seem to find out how to add SignalR to this project.
Can somebody help me with this? I would be nice

[2020-08-28 14:24] donquijotedelamancha commented on #19572
Thank you @guardrex for the additional feedback.
To keep you posted, the App is running on the Azure App Service on Windows.
Looking at the apps diagnostics logs I could see a bit more detail about the nature of the 401:

Quick summary is that currently the app is working on the custom domain as well as on the azurewebsites domain. The steps I followed:
- I added "IssuerUri" and "PublicOrigin" set

[2020-08-28 14:42] guardrex commented on #19572
Hello @donquijotedelamancha ... I was just about to post what's below. Shouldn't need CORS in the hosted WASM scenario, but that is something perhaps that I'll mention when I doc this because if the server app and client app are on different URLs it will be  a problem.

Since my process below uses a **separate** self-signed cert for IdS, I think there won't be a problem any longer where IdS fails

[2020-08-28 14:47] scottaddie commented on #19696
@scheelings Gulp and RequireJS replace the task runner and module loading capabilities that Webpack provides. You'll need to add the SignalR JavaScript client library to your project. Choose one of the 3 approaches documented at https://docs.microsoft.com/aspnet/core/signalr/javascript-client#install-the-signalr-client-package. For questions on how to load the client library via RequireJS, we reco

[2020-08-28 14:47] #19696 closed

[2020-08-28 14:49] guardrex commented on #19572
@donquijotedelamancha ......

# :tada: *Boohyeah!* :beers:

It works on that guidance :point_up: ...

<img width="896" alt="Capture" src="https://user-images.githubusercontent.com/1622880/91580895-6072ad00-e913-11ea-8184-76e5cf9804af.PNG">

### I'm calling it a week right there! Quit while I'm ahead. 😁

(I'm out of hours this week anyway.)

I'll get on writing this up for the topic on Monday morni

[2020-08-28 15:24] scheelings commented on #19696
OK, thx.
But this way I do not have the possibility to use intellisense in TypeScript, because there are no type definitions available at https://definitelytyped.org/.

[2020-08-28 16:47] Rick-Anderson commented on #19695
It's there, keep reading.

[2020-08-28 16:47] #19695 closed

[2020-08-28 17:53] velocitytoo opened #19698 "Blazor CascadingParameter design has multiple flaws"
The Blazor CascadingParameter design has multiple flaws:

1) A child component has to know that its parameter will be used in a cascading manner and has to decorate the parameter with [CascadingParameter]. Why not just come up with a design so that a child component does not have to know whether or not it will be used in a cascading manner? This would be a much better SOC design; only the parent s

[2020-08-28 19:17] serpent5 commented on #19682
@Rick-Anderson Sure, I'll do it now.

[2020-08-28 19:41] #19682 closed

[2020-08-28 19:42] #19645 closed

[2020-08-28 19:43] serpent5 commented on #19682
Thanks @Rick-Anderson. That point _made sense_, but clearly it wasn't actually correct. 🤭

[2020-08-28 19:57] Rick-Anderson opened #19702 "OK to inject transient into singleton"
@halter73  should I add something similar to this doc?

[See this SO response](https://stackoverflow.com/questions/56289997/what-is-definitely-wrong-when-transient-injected-to-singleton/56291583#56291583)

cc @serpent5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d78f540-81fd-1ba9-cb90-591e4ec27d9b
* Version Indepen

[2020-08-28 20:03] serpent5 opened #19703 "Scope validation recommendation mixes up Singleton and Scoped"
I was just reading through some of the suggestions in here, and I noticed this bullet, which I think is the wrong way around:

Should it be?:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d78f540-81fd-1ba9-cb90-591e4ec27d9b
* Version Independent ID: 2251f557-dd3a-ec35-2558-6243337db009
* Content: [Dependency injectio

[2020-08-28 20:18] Rick-Anderson commented on #19703
@serpent5  please fix. Arg, I missed that one.

[2020-08-28 20:20] guardrex commented on #19698
Hello @velocitytoo ... We only handle the docs on this repo. Please open this for the product unit at ...

https://github.com/dotnet/aspnetcore/issues

[2020-08-28 20:20] #19698 closed

[2020-08-28 20:36] halter73 commented on #18942
I'm trying to wrap up some other work, but I can look at us during our rc2 milestone. I expect I can submit a PR for this by the end of September. Hopefully sooner.

[2020-08-28 20:41] serpent5 commented on #19703
I think this was more my fault, really.

This is what it was:

I changed it like so:

I wonder if the original version was somehow describing the singleton as being "scoped service capturing"...

Anyhoo, I'll fix it up.

[2020-08-28 21:13] halter73 commented on #19702
The SO question seems to be talking about "Lifestyle Mismatches diagnostic warning in SimpleInjector DI container", not our docs. Do we say anything discouraging injecting transient dependencies into singleton or scoped services? If not, I'm not sure we need to add anything saying on subject.

The big problems, like leaking transient services because they implement IDisposable are already called o

[2020-08-28 21:18] Rick-Anderson commented on #18942
October is fine. thanks.

[2020-08-28 22:49] #19649 closed

[2020-08-29 00:49] Tuan96 opened #19705 "Link in "Publish to Azure" section points to "error 404 - Content Not Found" page"
[Enter feedback here]
In the "Publish to Azure" section in "Part 10, examine the Details and Delete methods of an ASP.NET Core app"
https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/details?view=aspnetcore-3.1

Quoted:
"For information on deploying to Azure, see Tutorial: Build a .NET Core and SQL Database web app in Azure App Service."

When I click on the tutorial link, it poi

[2020-08-29 12:53] JohnStraumann66 opened #19707 "End-to-end tutorial"
[Enter feedback here]
Hello:

Is there an end-to-end tutorial somewhere that goes through building out an ASP.NET Core Website, and incrementally adds features providing explicit "walk though" instructions at each step? So for example, start with a HelloWorld, then add DB access, then add User Account Security, etc. and build the site step-by-step? I have found many tutorials, but they are not lin

[2020-08-29 14:53] mrahhal opened #19708 "Nginx config for signalr web sockets problem"
The documentation mentions the following config to configure nginx for websockets:

[code]

Check in particular the highlighted line. I spent a long time trying to debug an issue preventing web sockets from working (signalr had to switch to another method). I finally found a couple places talking about nginx needing  `proxy_set_header   Connection "Upgrade";` instead of "keep-alive", so I tried th

[2020-08-29 15:41] guardrex commented on #19708
@Rick-Anderson ... I'll keep an :eye: on this one. I've worked with this subject before.

That topic's guidance is for general config. The specific guidance for SignalR is in the *SignalR Scale* topic at ...

https://docs.microsoft.com/aspnet/core/signalr/scale#linux-with-nginx

... which goes with `$connection_upgrade`.

The cross-linked guidance in the Nginx docs indicates 'upgrade' ...

https:/

[2020-08-29 15:41] #19708 closed

[2020-08-29 16:22] mrahhal commented on #19708
@guardrex I'm sorry I didn't notice because I went to the signalr docs home and searched for "nginx" in the sidebar. I keep forgetting this search links to other places sometimes... Thanks.

Isn't this purely a docs issue though? Does this scenario require any changes beyond docs?

[2020-08-29 16:29] guardrex commented on #19708
Not yet ... the guidance on what to set came from engineering, so they need to remark on the suitability of using something different. We do sometimes ping them on a doc issue, but your question will get a quicker response if you open it on the repo where they're actually working. It's best to refer them directly to the current guidance at ...

https://docs.microsoft.com/aspnet/core/signalr/scale#

[2020-08-29 16:31] mrahhal commented on #19708
I see, makes sense. Thanks! Will open an issue there and CC you.

[2020-08-29 16:45] Rick-Anderson commented on #19707
No, but all you need to do is scaffold identity, follow the tutorials you've found, and examine the code.

[2020-08-29 16:45] #19707 closed

[2020-08-29 19:35] swijnands opened #19709 "Component instance method callback helper constructor method is incorrect."
The  example for the Blazor Server Side component instance Javascript to .NET callback helper class (_MessageUpdateInvokeHelper.cs_) contains an error:

[code]

The constructor does not actually assign the parameter 'action' to the field 'action', but actually assigns the parameter to it self.
It was quite confusing why I was receiving a NullReferenceException ;-)

---
#### Document Details

⚠ *Do

[2020-08-29 19:36] guardrex commented on #19709
Hello @swijnands ... We recently moved away from underscores on field names. It should just be `this. action = action;`. I'll patch that right now. Thanks for reporting it.

[2020-08-29 19:40] #19709 closed

[2020-08-29 19:50] swijnands opened #19712 "Component instance method helper class: Assembly name not required/Should be removed?"
In the helper class in MessageUpdateInvokeHelper.cs:

[code]

The JSInvokable attribute's identifier parameter is expected to be set to the application's assembly name.
As I understand it this is incorrect/does not make sense, and should be removed (or set to something more sensible, i.e. a unique name within the current assemby).

And the same goes for the DotNet Helper (wrapper) client-side code

[2020-08-29 19:53] guardrex commented on #19712
It's a placeholder. I'll make it more obvious. Lately, I've been including a line under such samples that explains what the placeholder is. That way, when the doc is translated into other languages, it makes sense to non-English speakers. In this case, the line under each of these will read something like ...

[2020-08-29 20:18] #19712 closed

[2020-08-30 00:21] MNF opened #19715 "underline “ key management”"
In note “ Read the key management section before reading this section, as it explains some of the fundamental concepts behind these APIs. “ it will be good to underline “ key management” link.
I couldn’t see underline on iPad.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f34a00d6-1197-1a89-6fb6-9adcc4643850
* Version

[2020-08-30 01:55] #19715 closed

[2020-08-30 02:02] SaravananRIndia opened #19717 "The Sample Code"
Looks like the sample code has not been updated to ASPNET Core 3.1 and fails to run when downloaded.

Can this be updated at the earliest pls.

SaravananR

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03fdf4-b19b-17c3-04f4-336ab6d2ee06
* Version Independent ID: 38515dfb-91a5-b395-db9d-084bbaf095c8
* Content: [Handle

[2020-08-30 02:04] SaravananRIndia commented on #19717
The Sample code has not been udpated to run on ASPNET Core 3.1, and that is a kind of blocker in our learning process.

[2020-08-30 02:08] Rick-Anderson commented on #19717
All the snippets work fine in 3.1

I'll be updating for 5.0 RC1 next week.

[2020-08-30 02:08] Rick-Anderson opened #19718 "Update Database error page for 5.0"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03fdf4-b19b-17c3-04f4-336ab6d2ee06
* Version Independent ID: 38515dfb-91a5-b395-db9d-084bbaf095c8
* Content: [Handle errors in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-3.1)
* Content Source: [aspnetcore

[2020-08-30 17:44] serpent5 commented on #19606
@Rick-Anderson Is it alright if I take this one?

[2020-08-30 17:45] serpent5 commented on #19718
@Rick-Anderson Is it alright if I take this one?

[2020-08-30 17:50] SwimlaneBuilder opened #19720 "Should grpc users anticipate TLS cipher order matters with HTTP/2?"
I formerly worked at a company that changed the default cipher orders for SSLStream in all of the corporate desktops and servers.

I do recall that HTTP/2 requires certain ciphers to be listed near the top of the protocol exchange in TLS. Is there any client side detection within .NET that can facilitate identification of these implementation issues, and ideally tailback to the HTTP / REST / API m

[2020-08-30 19:02] Rick-Anderson commented on #19606
Yes, that would be great, thanks.

[2020-08-30 19:02] Rick-Anderson commented on #19718
Yes, please do.

[2020-08-30 19:04] Rick-Anderson commented on #19718
@serpent5  probably won't do whole file monikers. Just put monikers around things that  change. If you need more than 3 moniker sections each, it's time to go to whole file monikers.

[code]

[2020-08-30 19:19] guardrex commented on #19720
Hello @SwimlaneBuilder ... It's best if you close this issue and re-open it from the bottom of that page. The author of that topic is automatically pinged.

[2020-08-30 20:45] CincySteve opened #19721 "@bind-style Generating Unintelligible Compiler Error"
[EDIT by guardrex to add the metadata and the code block ... @CincySteve, please use the **This page** feedback form at the bottom of any topic to open a new issue, which will add the metadata automatically. Also, GitHub uses triple backticks for code blocks.]

Just came across the ability to dynamically include styling in an html element via @bind-style as described in [this document](https://doc

[2020-08-30 22:57] guardrex commented on #19721
It requires the event for the delegate. Do it this way using whatever [event](https://docs.microsoft.com/en-us/aspnet/core/blazor/components/event-handling?view=aspnetcore-3.1#event-argument-types) makes sense for your `<input>` element ...

[code]

I'll add a remark to the doc to cover this requirement.

[2020-08-31 04:59] #19703 closed

[2020-08-31 05:06] Rick-Anderson commented on #17342
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-08-31 05:07] #19037 closed

[2020-08-31 05:08] #19034 closed

[2020-08-31 09:22] StefanLundmark opened #19723 "Breakpoint set but not yet bound"
I have followed the instructions on this page and the only thing I get when placing breakpoints is that the "Breakpoint set but not yet bound". Some information:

- I tried both creating the project from the template dialogs in Visual Studio 2019, Version 16.5.4 - and from the command line by creating a new blazorwasm project.
- I tried with both IIS Express and BlazorApp as debug targets.
- WebAs

[2020-08-31 09:24] Kamil-Zakiev opened #19724 "Typed HttpClient in singleton component"
Hello, could you please clarify if it's OK to inject typed HttpClient to singleton component.

Will be the underlying HttpClientMessageHandler instances managed? Or should I avoid injecting typed HttpClient (which is transient) to Singleton component?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881cef77-11ef-ac11-06

[2020-08-31 09:38] jkone27 commented on #8462
updates on this one? thorough and detailed documentation on **OpenApiReference** would be very much appreciated 👍

[2020-08-31 09:39] jkone27 commented on #15899
any updates? I am pushing to adopt this, but documentation would be much appreciated 👍  awesome feature by the way.

[2020-08-31 10:07] Kamil-Zakiev commented on #19354
Hi @SpiritBob, did you resolve the question?

I just filed exact same question: #19724

[2020-08-31 10:43] guardrex commented on #19723
Hello @StefanLundmark ... Open this for the product unit at ...

https://github.com/dotnet/aspnetcore/issues

[2020-08-31 10:43] #19723 closed

[2020-08-31 12:46] javiercn opened #19728 "[Blazor] Call out the need for sticky sessions in SSB in a more prominent place"
Right now we indicate in the requirements for hosting server-side Blazor inside the hosting doc.

We should call the need for the infrastructure/deployment targets to support sticky sessions in a more prominent place, like https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.1

The reason for this is that it is a requirement that can't be avoided and we want people

[2020-08-31 12:50] MithunChopda opened #19729 "Bundling does not work by adding bundleconfig.json"
Is there anything else that needs to be done in addition to adding the bundleconfig.json file? The path specified in outputFileName attribute in the bundleconfig.json file does not resolve when running a .net core 3.1 MVC application.
I don't want to rely on Third party tools like Gulp or Grunt. Is it possible to do bundling and minification without using a third party library? is it supported out

[2020-08-31 13:21] damienbod commented on #19729
@MithunChopda You need to add the nuget package. Here's a blog showing how you could do this with npm to load the packages. You could also use libman instead.

https://damienbod.com/2018/11/09/asp-net-core-mvc-ajax-form-requests-using-jquery-unobtrusive/

[2020-08-31 15:52] mrlife opened #19732 "Additional code needed in "Component instance method helper class" section to avoid errors"
There are 2 additional portions of code that I needed to add in this section in order to avoid errors.

In this class, `[JSInvokable("{APP ASSEMBLY}")]` was needed instead of `[JSInvokable]` to avoid error:

[code]

In this javascript, `invokeMethodAsync` was needed instead of `invokeMethod` to avoid error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-08-31 15:59] unionthugface opened #19733 "StartMode=AlwaysRunning does not work unless you change garbage collection settings"
The suggestions mentioned in the document for the Application Initialization Module that allegedly make a .NET Core app restart after shutdown in IIS (StartMode=`AlwaysRunning` and IdleTimeout=`0`) are not sufficient by themselves.  With these settings, an app will get to the end of the application lifetime and still shut down without restarting; a hard recycle of the app will likewise shut the ap

[2020-08-31 16:12] guardrex commented on #19732
Hello @mrlife ... I made an update over the weekend to that, and it doesn't look like the localized copies of the doc are updated yet. We document (and the API remarks state) that the identifier is there for cases where the method name won't be used to invoke the method. Since we already covered using a custom identifier with the attribute and it was wrong to use that placeholder, I removed that p

[2020-08-31 16:24] mrlife commented on #19732
I replaced my assembly name with the generic one when entering the error into the above comment. Sorry, that does seem confusing, so I'll edit that.

The English-US version of the topic is what I'm using, and at the top, it says it was last updated on 08/12/2020. I don't see the changes you're referring to.

[2020-08-31 16:38] mrlife commented on #19732
I tried a few things, and I think this is was you're referring to (not needing to use the app assembly name at all). Works great!

[code]

[code]

[2020-08-31 16:39] guardrex commented on #19732
You quoted this code in your opening comment ...

[code]

... but that was updated on https://github.com/dotnet/AspNetCore.Docs/pull/19713/files to ...

[code]

Try hitting refresh in your browser. Maybe the page has been cached there locally.

This whole topic/**_subject_** is a bit **_confusing_** because there's flexibility in where/how the JS functions are set up, there's sync and async helper

[2020-08-31 16:42] mrlife commented on #19732
OK thank you, yes I do see where that change is present. I think what's confusing is that right below that, this line needs to be changed.

From

[code]

To

[code]

[2020-08-31 16:45] guardrex commented on #19732
The reason that you hit that error and had to use the async version with ...

[code]

... is that you didn't make the method static. If you use ...

[code]

... then you can call it with ...

[code]

I'll see how I can surface it.

Thanks, but I'll take care of it.

[2020-08-31 17:13] Rick-Anderson commented on #19724
Dup of  #19354

[2020-08-31 17:13] #19724 closed

[2020-08-31 17:15] guardrex commented on #19732
I think I see why this weekend's update wasn't good. This scenario (*Component instance method helper class*) is going to require the app's assembly as the identifier for the invokable method. I should've tabled the update until I had more time to work on it. I still have a lot on me right now ... and really looking forward to slowing down a bit for the holidays.

I'll update it now ... I'll put t

[2020-08-31 17:24] #19732 closed

[2020-08-31 17:29] Rick-Anderson commented on #19733
Let's keep the issue in dotnet/aspnetcore#19509 until it's verified

[2020-08-31 17:29] #19733 closed

[2020-08-31 18:02] guardrex commented on #19712
@swijnands ... I didn't change it *enough* this weekend and ended up with a regression. :boom: It will work without the identifier **_if the JS helper also doesn't use it_**. I only removed it from the attribute. 🙈 I just reverted that back to fix it.

WRT what you're addressing on this issue ...

Removing it would be ok. However, I think engineering was going for using the identifier for the help

[2020-08-31 18:16] Rick-Anderson opened #19736 "Azure docs, Remove logging in Startup and Main"
https://github.com/MicrosoftDocs/azure-docs/issues/61816

[2020-08-31 18:20] guardrex commented on #19721
Actually, I think we'll let this remark stands as is ...

It's also in the example that goes with the text.

I'll keep an :ear: open for more feedback. If devs write in on it, then I'll try something else

[2020-08-31 18:21] guardrex commented on #19685
Hello @Assassinbeast ... Sorry for the delay. I've been 🏃😅 lately. I'll take a look at this and get back to you soon.

[2020-08-31 19:14] gastori commented on #19418
@luanpham107  .. downgrade solution is not working ... as lots people are experienced same issue .. please provide a solution

[2020-08-31 19:32] deepchoudhery commented on #19418
@gastori @xouaib What platform are you currently working on? We have some issues with the Linux tool and I'm working on a fix for that.

[2020-08-31 19:43] guardrex commented on #19685
Ok ... It went well, except I did discover a nit along the way.

I set up a test like this ...

[code]

... with ...

[code]

... on my `Starship` class. **NIT** ... The current example doesn't new up the `ShipDescription`, so the code example from the topic fails if it isn't created *somewhere* before the fields are bound to the form. It could be done in the component, too, like this ...

[code]

[2020-08-31 19:48] #19685 closed

[2020-08-31 20:04] CincySteve commented on #19721
I'd like to make a final comment as this issue gets closed.  If the purpose of @bind-style is to provide a means to style an element (only) when an event occurs, the documentation does not make that clear to me.

I can use @variables within the style attribute of the html markup, thereby providing a way to set style settings based on program values.  As such, I don't need @bind-style.  Assuming th

[2020-08-31 20:09] guardrex commented on #19721
You can set **_any_** attribute value this way, not just a `style` value. A style just happens to be an example here. The concept is to cover `@bind-{ATTRIBUTE}` on the basis of a DOM event.

I'll keep an :ear: open for more feedback on it.

[2020-08-31 20:11] guardrex commented on #19721
Keep in mind that this content isn't in a new section. It immediately flows from ...

It's describing the same scenarios ...... but for attributes on the element for whatever DOM event you need to track.

[2020-08-31 20:32] guardrex commented on #19721
I've come around to the way that you've framed this. The `onchange` event isn't the best example because the `onchange` event is the default event for the element losing focus. In this example, it only makes sense to use the `onchange` event to capture a complete style string for the paragraph's style. It would be better to bind a non-default event, like `oninput` and use a different example so th

[2020-08-31 20:52] Rick-Anderson commented on #19729
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2020-08-31 23:22] mnapoleon opened #19739 "Issue with controller code generator instuctions"
[Enter feedback here]
The VS Code section for installing the aspnet-codegenerator appears to be wrong.  Following these instructions
[code]

I continually get this message running the last line.

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e

[2020-09-01 00:00] Rick-Anderson commented on #19739
The instructions are correct. Make sure you've installed the currently release .NET Core SDK.

[2020-09-01 00:03] #19736 closed

[2020-09-01 00:05] Rick-Anderson commented on #19705
@serpent5  let me know if you'd like to fix this one.

[2020-09-01 01:14] christoment opened #19740 "[DOCS] Browser requirements - list the actual browser version"
**Hi .NET Core team,**

At the moment, the [Browser requirements page](https://docs.microsoft.com/en-us/aspnet/core/blazor/supported-platforms?view=aspnetcore-3.1) only shows "Current" instead of the actual browser version required. This made it hard to figure out the exact minimum version we need to support.

Can we put the actual browser version that was tested by .NET Team in this page?

![imag

[2020-09-01 01:44] guardrex commented on #19740
Hello @christoment ... It's been discussed with engineering a few times, and they can't  report supported browser versions for Blazor due to the support policy for SignalR, which is "current." It's up to devs to test their apps with browser versions that they wish to support and report to their users which versions to use.

[2020-09-01 01:44] #19740 closed

[2020-09-01 09:39] gastori commented on #19418
I am using an Ubuntu dev PC.

Ver: Ubuntu 18.04.5 LTS
Kernel: Linux 4.15.0-1093-oem x86_64

.Net Core environment

.NET Core SDK (reflecting any global.json):
 Version:   3.1.401
 Commit:    39d17847db

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: Linux
 RID:         ubuntu.18.04-x64
 Base Path:   /usr/share/dotnet/sdk/3.1.401/

Host (useful for support):
  Version:

[2020-09-01 10:23] #19728 closed

[2020-09-01 12:53] guardrex commented on #19721
@CincySteve ... **_I totally agree with you now_**. Sorry for not seeing it sooner and thanks again for your persistence ... *and patience!*

I did some testing with what I thought was an actual framework feature; but when I went down the rabbit hole with it, it felt more like 🏰 *Wonderland* 🏰. I suspect that I misinterpreted some remarks/discussion from one or more engineering issues and **_total

[2020-09-01 12:55] meindert opened #19742 "table does not update after update of record"
The table does not show the changed values after you PUT the update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c31071a6-97f2-d0ae-22a7-10e461a3c679
* Version Independent ID: d3227595-fe2a-7630-0379-8da3b1dba2ee
* Content: [Tutorial: Call an ASP.NET Core web API with JavaScript](https://docs.microsoft.com/en-us/aspn

[2020-09-01 13:00] #19742 closed

[2020-09-01 13:01] meindert commented on #19742
my bad!, case sensitivity issue from my side on the json data. Thanks for the example!

[2020-09-01 13:10] guardrex commented on #19721
Now that I've dropped that content, I'll hold the content here for reference ...

[2020-09-01 14:17] flacidsnake opened #19744 "Disable Javascript output from blazor.server.js"
After logging in, the access token used to connect to SignalR is printed to the browser console. Could you explain if there is any way to disable this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff954815-0f8b-9f1b-9772-1657744b4f9e
* Version Independent ID: ed7d726d-41c6-73d8-d564-91530b4935c3
* Content: [Threat mi

[2020-09-01 14:19] guardrex commented on #19744
Hello @flacidsnake ... Ask that question on the product unit's repo at ...

https://github.com/dotnet/aspnetcore/issues

[2020-09-01 14:19] #19744 closed

[2020-09-01 14:28] CincySteve commented on #19721
That's now clear to me, including both the description and the example.  Thanks for collaborating to make this improvement.

[2020-09-01 14:29] guardrex commented on #19721
Sure thing ..... don't close this yet tho ..... I still need to resolve this issue. This issue will automatically close when the upcoming PR merges.

[2020-09-01 15:58] scottaddie opened #19746 "Add what's new page for September 2020"

[2020-09-01 16:35] xenophilios opened #19747 "Tiny, but possibly crucial, detail"
Thank you for a very nice article.

In the section copied in the following image, I had to add an at-sign to the highlighted "await" to get this example to work.

![image](https://user-images.githubusercontent.com/50146995/91881109-a0ed6600-ec46-11ea-9476-ab9c85fc0947.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-09-01 17:10] #19407 closed

[2020-09-01 19:39] wadepickett commented on #19022
Update:  There have been several issues with these set of scripts running on the pipeline.   Trying to work them out with the doc publishing engineering team.  I ran two successful ones, but then started receiving either timeouts, or no timeout but failed runs with various script errors, or runs that executed completely without error but did not generate an actual branch and commit.  There were ch

[2020-09-01 19:59] cellurl3 opened #19750 "where-can-i-see-the-request-data-in-an-asp-net-core-webservice"
https://stackoverflow.com/questions/63694552/where-can-i-see-the-request-data-in-an-asp-net-core-webservice

[2020-09-01 20:44] guardrex commented on #19750
Hello @cellurl3 ... You did the right thing opening that support question at SO. We don't provide product support. We just work on the docs. In addition to SO, you can chat with devs at Slack and Gitter ...

* [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/)
* [ASP.NET Gitter](https://gitter.im/aspnet/Home)

[2020-09-01 20:44] #19750 closed

[2020-09-01 20:58] #19467 closed

[2020-09-01 21:47] #19705 closed

[2020-09-01 22:50] #19545 closed

[2020-09-02 03:46] MithunChopda commented on #19729
Can you please add this dependency to the original document? I found lot of questions regarding this on StackOverflow. Adding a note on the need for the nuget package will make it easy for reader to follow and implement.

[2020-09-02 04:16] damienbod commented on #19729
@Rick-Anderson I could add this, if you want, sounds like a good idea.

Greetings Damien

[2020-09-02 04:39] Rick-Anderson commented on #19729
@damienbod  that would be  great, thanks

[2020-09-02 07:20] smjltd opened #19757 "Is it possible to change @bind-Value from Javascript"
[Enter feedback here]

Is it Possible to change @bind-Value from JavaScript for example

In Edit Form:
`
<InputNumber class="form-control" id="lng" placeholder="0.0" @bind-Value="@form.Longitude"</InputNumber>
`
In Javascript (JQuery):

`
$("#lng").val(currentLocation.lng());
`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-09-02 08:20] papaja opened #19758 "dotnet run --pathbase=/myapp does not work"
[EDIT by guardrex to add inline code markers ... use a single backtick around inline code ... use triple backticks for multiline code blocks]

I have .net core hosted Blazor application. It will be hosted in sub directory under main domain like domain.com/myapp.
In index.html I've set `<base href="/myapp/" />`

After running `dontnet run --pathbase=/myapp` I open `https://localhost:5001` or `https

[2020-09-02 09:45] SpiritBob commented on #19354
@Kamil-Zakiev sadly no, still waiting to hear from microsoft.

[2020-09-02 09:45] SpiritBob commented on #19354
cc @Rick-Anderson

[2020-09-02 10:38] guardrex commented on #19757
@smjltd ... not like that. Blazor avoids those kinds of direct JS interactions and deals with the DOM via C#/Razor and JS interop. Modifying the DOM like that will probably break Blazor and lead to a broken page. Don't use JS directly ... when you do need to pass data and call in and out of JS, use JS interop ...

* https://docs.microsoft.com/aspnet/core/blazor/call-javascript-from-dotnet
* https:

[2020-09-02 10:38] #19757 closed

[2020-09-02 11:00] jskeet opened #19760 "Add detail about string and ByteString"
It might be worth talking a bit about `string` and `ByteString` properties in more detail:

- The default to empty values, and can't be set to null references
- There are "wrapper" types for them, just like numeric primitives, which generate properties with the same types, but then they *can* be set to null references

You might also want to describe `ByteString` itself just for a bit of context.

[2020-09-02 11:01] guardrex commented on #19758
Hello @papaja ... The guidance is correct ... generally anyway ... an edge case that breaks is always a possibility, of course. Check the browser tools console for errors. If you can't find a better error message than that in developer tools, put the app (or a minimal repro app) up on GitHub for inspection and reach out to devs on support channels ...

* [Stack Overflow](https://stackoverflow.com/

[2020-09-02 11:01] #19758 closed

[2020-09-02 13:58] gastori commented on #19418
So as we are waiting for a possible fix that updates the pkg .. do we have temp ways to get through this error on Linux?

[2020-09-02 14:39] #19729 closed

[2020-09-02 17:15] Rick-Anderson commented on #19747
@xenophilios  can you paste in the code you used?

[2020-09-02 17:17] Rick-Anderson commented on #19747
[code]

[2020-09-02 18:01] alvipeo opened #19762 "How come you didn't mention AddMemoryCache() ?"
[Enter feedback here]

Guys, please add an **essential** thing - to add `services.AddMemoryCache();` in `ConfigureServices`!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13f5f8f9-18dd-9c12-9ed1-fcc6b44ba7fd
* Version Independent ID: 640b4f36-5886-7b69-1c95-cfc8574a02fd
* Content: [Cache in-memory in ASP.NET Core](htt

[2020-09-02 18:27] thewizardoftn opened #19763 "415 Unsupportable Media Type"
[Enter feedback here]
I get as far as the first test with postman, and I get that error.  I see no way to handle it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core]

[2020-09-02 19:10] xenophilios commented on #19747
Yes, that's it.

[2020-09-02 19:49] Rick-Anderson commented on #19747
That's not required, because it's in a code block started by `@{`

[2020-09-02 19:49] #19747 closed

[2020-09-02 19:49] Rick-Anderson commented on #19763
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2020-09-02 19:49] #19763 closed

[2020-09-02 19:50] Rick-Anderson commented on #19762
It's there

For apps that are not calling one of the preceding Add{Service} methods, it may be necessary to call AddMemoryCache in ConfigureServices.

[2020-09-02 19:50] #19762 closed

[2020-09-02 19:54] xenophilios commented on #19747
That's what I thought, too. But the proof of the pudding is in the eating. Perhaps there was some other issue in my environment.

[2020-09-02 20:01] agitkaplan opened #19765 "Update Prevent Cross-Site Scripting (XSS)"
I think if we not use `document.write()` in "JavaScript Encoding using Razor" examples it would be better.
Some people might see these in examples and use in their production code without much change.
And these examples with `document.write()` have XSS flaws.

Examples with XSS containing inputs - see [JavaScript Encoding using Razor](https://docs.microsoft.com/en-us/aspnet/core/security/cross-sit

[2020-09-02 20:34] #19664 closed

[2020-09-02 20:47] Rick-Anderson commented on #19765
@blowdart please review

[2020-09-02 20:51] blowdart commented on #19765
I think the point here is actually the document.write is safe because of the automatic encoding. Swithing to createElement and innerText moves away from demonstrating that.

[2020-09-02 20:56] #19765 closed

[2020-09-02 21:16] KSchlobohm opened #19766 "ASP.NET Core SignalR does not support mapping users to connections"
According to this open [github issue](https://github.com/dotnet/aspnetcore/issues/6104) our recommendation to developers is to continue building your own map using [In-memory storage](https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/mapping-users-to-connections#in-memory-storage) or an [external storage medium](https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide

[2020-09-02 21:57] petrsvihlik commented on #19680
@Rick-Anderson yeah, here are the steps I've just taken to make it work with Azure Redis:

1. Spin up the [Azure Cache for Redis](https://azure.microsoft.com/en-us/services/cache/)
2. Navigate to the resource's Access Keys
![image](https://user-images.githubusercontent.com/9810625/92040918-8666da00-ed77-11ea-82df-6b35bb34da09.png)
3. Copy the connection string for StackExchange.Redis
4. Configure

[2020-09-02 22:22] Rick-Anderson commented on #19680
@petrsvihlik  Congratulations on the new baby. Thanks for this info, I'll get the doc updated.

[2020-09-02 22:41] deepchoudhery commented on #19418
Yes, there was a change in 3.1.400 sdk and breaks the Linux tool so a package update will be needed. An older sdk would definitely solve the issue as a workaround with the newest or older versions of the code gen tool.

[2020-09-02 22:56] stevenbrix opened #19767 "Documentation is confusing"
publish profiles aren't only for aspnet.core projects, they apply to Windows desktop apps (WinForms, WPF, WinU)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 684d1f55-3d8b-9ba6-ee65-e8f84c2b4244
* Version Independent ID: 2db330b4-e830-715f-0a15-e406f85e1d3b
* Content: [Visual Studio publish profiles (.pubxml) for ASP.

[2020-09-02 23:46] Rick-Anderson commented on #19767
@stevenbrix  true, but the title is ***Visual Studio publish profiles (.pubxml) for ASP.NET Core app deployment**

Do you want to PR this and add that info?

[2020-09-03 01:49] stevenbrix commented on #19767
@Rick-Anderson That's fair. The confusing part is that you google publish profiles and this is the only thing that shows up.

Is there a different place this could doc could move to?

[2020-09-03 03:11] Rick-Anderson commented on #19767
We could move this to https://github.com/MicrosoftDocs/visualstudio-docs-pr and you, @sayedihashimi, @TerryGLee, or @ghogen could add a section for WinForms, WPF, WInU, etc.

[2020-09-03 07:27] agitkaplan commented on #19765
When set input value as `var untrustedInput = "<script>alert(1)</script>"`
Razor's auto encode converts this: `<div id="injectedData" data-untrustedinput="&lt;script&gt;alert(1)&lt;/script&gt;" />`
Browser's auto decode converts value to this: `"<script>alert(1)</script>"` again.
`document.write("<script>alert(1)</script>")` writes this to DOM.
And popup shows.
I think a re-review would be nice. A

[2020-09-03 08:44] markmcgookin opened #19770 "DataProtection Configuration references the wrong libraries"
# Issue description

The configuration document for DataProtection references the incorrect packages, which include issues requiring awkward workarounds.

I'll create a PR to change

Microsoft.AspNetCore.DataProtection.AzureStorage
Microsoft.AspNetCore.DataProtection.AzureKeyVault

to

Azure.Extensions.AspNetCore.DataProtection.Blobs
Azure.Extensions.AspNetCore.DataProtection.Keys

# Software vers

[2020-09-03 09:13] guardrex commented on #19770
Hello @markmcgookin ... thanks for offering to help.

Cross-ref to the announcement discussion issue: https://github.com/dotnet/aspnetcore/issues/19570

@pakrym ... Do we have breaking change concerns WRT any dependencies in the 2.1/3.1 frameworks depending on the old packages, or can @markmcgookin just perform a find-'n-replace in the docs to update the packages and versions?

[2020-09-03 09:14] markmcgookin commented on #19770
There is a minor change in the configuration that I am including in the PR

[2020-09-03 11:38] gastori commented on #19418
Do you have an estimated ETA when the new version would be available?
Also, which pkg you are referring? the .Net Core SDK or the dotnet-aspnet-codegenerator?

[2020-09-03 15:30] nayos-scott opened #19773 "Zero Length File Uploads"
This page has a couple code samples where it suggests silently skipping 0 length files, e.g.

[code]

It would be nice if the documentation could mention or explain under what conditions one should expect to see 0 length files. Should this only happen when the file is actually 0 length or can this be indicative of a problem with the file upload?

From my limited experience, I have seen IFormFile i

[2020-09-03 15:43] pakrym commented on #19770
Not sure I understand the possible concern.

[2020-09-03 15:53] guardrex commented on #19770
Just making sure that if someone goes to use these new packages in a 2.x/3.x app that they won't hit these breaking changes (whatever they may be ... overloads, options, etc.) without us saying anything to them. Perhaps, a remark like that :point_up: is all we need **_if_** there is any potential concern about devs only changing the the packages and going straight into production with their update

[2020-09-03 16:02] pakrym commented on #19770
Thank you for the explanation @guardrex!

No, there are no concerns, for anyone 2.1 up. These packages target 2.1 of Extensions and only OOB BCL packages. They would cause some ASP.NET Core package updates for 2.0 customers but even that shouldn't be a problem, compat bar between 2.0 and 2.1 was pretty high.

[2020-09-03 16:56] guardrex commented on #19773
Hello @nayos-scott ... It's probably arbitrary here ... I don't think that it's a guardrail against the following calls throwing (but sometimes that is why such a check is shown). I think in this case it just avoids the calls in the block if the file is zero length. I don't think we have any particular guidance for that particular check.

WRT zero-length files in general, that's up to you how to h

[2020-09-03 16:56] #19773 closed

[2020-09-03 18:54] triple-vee commented on #12303
I realize this is Closed, but I thought I'd add my 2 cents. Yes, WAF unconditionally sets ASPNETCORE_ENVIRONMENT to Development as javiercn notes with the link to the code. However javiercn, proposed override does not seem to have any effect. I am using 3.1 and WAF.

[2020-09-03 19:32] ghogen commented on #19767
@stevenbrix @Rick-Anderson I could improve our docs on publish profiles in the VS docs, so yes.

[2020-09-03 20:10] sayedihashimi commented on #19767
Wow, I never knew that windows projects now use the publish profile format. That is really great news. I will have to check that out sometime.

[2020-09-03 20:25] stevenbrix commented on #19767
Thank you all for being so responsive and on top of things, you're seriously awesome!

[2020-09-03 21:18] MNF opened #19776 "Can I Unprotect in a different program?"
It is not clear, will unprotect work if the original protecter will be closed and a new protecter will be created in a different console application.
Please modify sample to clarify it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23af4f99-387c-b2f5-3d5b-3d98cfac247c
* Version Independent ID: 0d95b7b7-5e46-5718-ca09-

[2020-09-03 21:56] Rick-Anderson commented on #19766
@BrennanConroy  please review

[2020-09-03 22:59] guardrex commented on #19776
@MNF ... Yes ... as long as the apps share the key repository, the keys are maintained there (i.e., not deleted), and the keys aren't revoked/expired. You also have to set the same app name across apps and use the same DP stack across the apps (see [this section for more info](https://docs.microsoft.com/aspnet/core/security/data-protection/configuration/overview#setapplicationname)). You can use t

[2020-09-03 22:59] #19776 closed

[2020-09-04 02:59] Rick-Anderson commented on #19746
Major rewrite and include .NET 5

* `[Handle errors in ASP.NET Core](xref:fundamentals/error-handling)`

[2020-09-04 08:20] BrandoZhangTest opened #19777 "I found Tutorial: Add sorting, filtering, and paging - ASP.NET MVC with EF Core's pagelist doesn't work for List"
[So link](https://stackoverflow.com/questions/63727970/i-get-the-following-error-when-i-add-paging-iqueryable-doesnt-implement-iasync/)

I have created a `PaginatedList` class as this [article](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/sort-filter-page?view=aspnetcore-3.1#add-paging-to-students-index) shows. I found if I pass List object into this `PaginatedList`, it will throw `The

[2020-09-04 09:38] guardrex commented on #19777
@BrandoZhangTest ... It's best if you close this and re-open it using the **This page** feedback button at the bottom of the English-US topic. It will add metadata to your issue for tracking and ping the author of the topic automatically.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

[2020-09-04 12:18] gmarokov commented on #7450
@davidfowl we were able spin multiple SignalR servers without sticky session instead skipping the negotiate process and establishing a connection directly trough WebSocket.
`export function createHubConnection(url: string) : signalR.HubConnection {
  return new signalR.HubConnectionBuilder()
    .withUrl(url, {
      skipNegotiation: true,
      transport: signalR.HttpTransportType.WebSockets

[2020-09-04 13:40] nayos-scott commented on #19773
Hi @guardrex, I agree on there being an ocean of edges cases, especially with files, and outlining each one would make these docs very overwhelming and hard to consume.

In my particular case this seems like I hit a client side bug in iOS Safari as https://stackoverflow.com/questions/60729546/ios-safari-13-3-1-uploaded-file-size-is-0 sounds exactly like what I observed but the root cause is not pa

[2020-09-04 14:30] guardrex commented on #19773
* If by "harm" you mean "security risk," there's no security risk to my knowledge. Also, this was approved by Microsoft's top ASP.NET Core security guru, Barry Dorrans. I'm sure he would've said something on review if he had a problem with it.
* If by "harm" you just mean as a programming practice, It's not a bad or unusual practice to avoid calls that no-op, and that code shouldn't throw if the d

[2020-09-04 14:33] guardrex commented on #19773
oh ... and note that because this is a topic with three versions of the doc in it that the list appears **three times**. That line would need to be added in **three spots**.

[2020-09-04 15:02] Code-DJ opened #19779 "Need clarity on limitations for popup (window.open) based apps on Blazor Server"
The documentation states "By default, there's no limit on the number of connections per user for a Blazor Server app.", is this true for Blazor only or browsers as well. I read somewhere that browsers allow max of 6 continuous connections (e.g. SignalR) to a single server. Does this apply to Blazor Server as well?

Want clarity on limitations for future Blazor Server enterprise apps that are popup

[2020-09-04 15:17] guardrex commented on #19779
Hello @Code-DJ ... I'll place this up for triage. The engineers are busy at the moment with the upcoming RC1 release of ASP.NET Core. Within a couple of weeks, they'll be able to answer your question here.

[2020-09-04 16:04] #19770 closed

[2020-09-04 17:15] mslot commented on #17342
@Rick-Anderson but this question is about the docs. The docs doesn't describe this. Thats why i asked it here with reference to the docs.

[2020-09-04 17:27] danroth27 opened #19780 "[RC1] Update content on how to upgrade from Blazor WebAssembly 3.2 to .NET 5"
You'll need to update packages, update the project to use the Blazor WebAssembly SDK, and remove the old .Build package.

[2020-09-04 20:51] guardrex commented on #19780
@danroth27 ... Scott took care of it ...

https://github.com/dotnet/AspNetCore.Docs/pull/19288/files#diff-b412d3c606ecf3fba1107616e10a8fbeR64

[2020-09-04 21:09] wadepickett commented on #19022
All MSDN links successfully updated.   We had a long myriad of errors and time outs running the scripts, so this one took way longer to get back to than expected.

[2020-09-04 21:09] #19022 closed

[2020-09-04 21:37] Rick-Anderson commented on #19777
It's not intended to work with all providers.

[2020-09-04 21:37] #19777 closed

[2020-09-04 22:00] danroth27 commented on #19780
Cool! Yeah, we'll need to make some updates to that content for RC1, which is when we're introducing the Blazor WebAssembly SDK.

[code]

[2020-09-05 02:25] Rick-Anderson opened #19782 "5.0 RTM updates needed for Create a web API"
* [add-nuget-packages](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-5.0&branch=pr-en-us-19781&tabs=visual-studio#add-nuget-packages) image
* delete line Select the **Include prerelease** checkbox so the 5.0 RC version is available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5

[2020-09-05 06:03] davidfowl commented on #7450
That's correct. WebSockets is the only transport that can work this way anyways.

[2020-09-05 07:42] mawaru29 commented on #16208
I ran into the same issue as well. Has anyone else seen this?

[2020-09-05 10:54] SaravananRIndia commented on #19717
I had downloaded Sample code to experiment  ErrorHandling.  And in the csproj configured for 2.2 as below,

<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.App"/>
    <PackageReference Incl

[2020-09-05 20:53] em-jones opened #19784 "The (ambiguous) app's responsibility"
In the paragraph there's ambiguity as it relates to the notion of "the app"

Would love to know... is it the server-side app's responsibility, or is the `blazor.server.js` script delivering an application that manages app state?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 542f38c4-1502-f739-372a-80c86c377491
* Versi

[2020-09-05 21:05] guardrex commented on #19784
Hello @em-jones ... I'll do some work on the text this week to clarify.

The `blazor.server.js` script doesn't deliver the app ... it establishes the client connection from the client-side. If the connection is lost, it's the client-side app that must deal with it. By default, a client-side app will attempt to re-establish the connection. If it fails on its own, it offers the user a button to retr

[2020-09-05 21:23] drammons opened #19785 "Issue with code generation step"
Got to the generated scaffolding step.  Ensured dotnet-aspnet-codegenerator was definitely installed. Tried both variants of the command mentioned in other issues (with and without the hyphen)

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-

[2020-09-05 21:51] #19785 closed

[2020-09-05 21:51] Rick-Anderson commented on #19785
@drammons  you might try uninstalling/reinstalling
Moved to https://github.com/dotnet/Scaffolding/issues/1404

[2020-09-05 21:52] Rick-Anderson commented on #19785
@drammons  can you try the VS scaffolder?

[2020-09-06 12:08] em-jones commented on #19784
I super appreciate you taking your time to respond and look into this. Especially considering this was on a Saturday. In case there was any doubt, anybody who didn't already think the team behind blazor really cared about this project would likely be really hard to impress. Thanks for your hard work!

[2020-09-06 23:56] jmacCity opened #19786 "Platform Configuration"
Hello, Item 4 of the **Register a Client App** [section](https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-azure-active-directory-b2c?view=aspnetcore-3.1#register-a-client-app) specifies that the app authentication platform should be "Web".

However, the platform config in Azure warns that "This app has implicit grant settings enabled. If you are using any of the

[2020-09-07 00:03] guardrex commented on #19786
Hello @jmacCity ... Yes, implicit grant is fine for this scenario with the current Identity v1.0 packages and current MSAL version in use. It will change to the authorization code flow for the upcoming .NET 5 release later this year when Blazor + packages move to using Microsoft Identity Platform 2.0. The preview docs for the new packages in preview will be put up (by me) right after RC1 releases

[2020-09-07 00:03] #19786 closed

[2020-09-07 05:19] Matiszak opened #19788 "Calling Dispose after AcceptWebSocketAsync()"
Hi,
I've been investigating high cpu usage and memory leak on WebSockets recently. It turned out that I was missing a `Dispose()` after accepting WebSocket.

Basically, before fix:
[code]
After fix
[code]

It turns out that the `Dispose()` fixes the issue in case the connection is abnormally closed without WebSockets close handshake. For normal closures, such leaks does not occur.

I think it shou

[2020-09-07 05:25] wadepickett commented on #18618
Thought this auto-closed when referred to with fixed PR last day of July and also moved it to "done "in project in July.  I didn't notice it was still left open, closing now.

[2020-09-07 05:25] #18618 closed

[2020-09-07 06:22] wadepickett commented on #16877
@Rick-Anderson, do you want to:
1. Toss all versions previous to a particular version?  If so, which one.  3.0?  3.1?
2.  Do you want completely separate copies of the entire document within moniker ranges for each version you want to keep?

What priority is this?  P1, P2?

Thanks.

[2020-09-07 11:29] SteveSandersonMS opened #19789 "Data binding example shows component overwriting its own parameter value"
We tell people not to create components that overwrite their own parameters, but unfortunately one of the examples in the docs does exactly that: https://docs.microsoft.com/en-us/aspnet/core/blazor/components/data-binding?view=aspnetcore-3.1#child-to-parent-binding-with-chained-bind

This has led to some confusion, e.g., https://github.com/dotnet/aspnetcore/issues/25377

Could we please update the

[2020-09-07 14:16] mdurscher-logisoft opened #19790 "myuser should be myservername"
In Section [Windows environment configuration](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-3.1&tabs=visual-studio#windows-environment-configuration) the execute example should be **`setspn -S HTTP/myservername.mydomain.com myservername`** and not `setspn -S HTTP/myservername.mydomain.com myuser` (myservername instead of myuser).

---
#### Docume

[2020-09-07 17:02] PSCRIMS opened #19791 "Error when adding Index.cshtml"
[When following tutorial, encountered error InvalidOperationException: The view 'Index' was not found. The following locations were searched:
/Views/GetQuote/Index.cshtml
/Views/Shared/Index.cshtml]

Environment dotnet 3.1.7 sdk 3.1.401. File Index.cshtml was created in the /Views/Shared/ folder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-09-08 00:27] guardrex commented on #19789
Will do. It changed in a bad way (that line anyway) since Ryan first handed it over. This is his original version ...

https://github.com/dotnet/AspNetCore.Docs/issues/14144#issue-489386131

I can't explain the churn/changes without more research, but I think this has been touched a few times since the original PR. Since a single line fix should take care of it, I'll just knock it out right now an

[2020-09-08 00:48] guardrex commented on #19789
@SteveSandersonMS ... I see that Ryan had that assignment there, so it wasn't something that I changed after all. See down there at the bottom :point_down:. This code and the current version in the doc don't work without that assignment.

[code]

[2020-09-08 03:13] Rick-Anderson commented on #19788
@bradygaster @mkArtakMSFT who's the right person to review this issue?

[2020-09-08 03:15] Rick-Anderson commented on #16877
We maintain the current version and all LTS versions,.

[2020-09-08 03:15] Rick-Anderson commented on #19791
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2020-09-08 03:15] #19791 closed

[2020-09-08 04:26] jakeCIS opened #19794 "Mac user, Rating Column add works but editing the field after build will erase the field"
# Before you open an issue

If the issue is with an ASP.NET Core document, open the issue with the **Content feedback** button at the bottom of that document page.

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, conside

[2020-09-08 08:56] grumpydumpty commented on #2501
Are there any plans to support a `dotnet` command line tool for creating a new `.resx` file and adding it to a `.csproj`?

It is quite disappointing that support for creating/editing `.resx` files outside of Windows/Visual Studio has languished for so long. VS for macOS can create a `.resx` files but has no editor for them. JetBrains Rider doesn't seem to have support, either. 😞

[2020-09-08 09:02] hishamco commented on #2501
@grumpydumpty have a look to [LocalizationResourceGenerator](https://github.com/hishamco/LocalizationResourceGenerator)

[2020-09-08 09:05] KalyanChanumolu-MSFT opened #19795 "Facing Common endpoint error"
The instructions [here](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/microsoft-logins?view=aspnetcore-5.0#create-the-app-in-microsoft-developer-portal)  don't specifically mention which supported account type to choose.
I selected "Personal Microsoft account users" since the article is related to configuring Microsoft Logins

![image](https://user-images.githubuserco

[2020-09-08 09:08] KalyanChanumolu-MSFT commented on #19795
#assign @Rick-Anderson @01binary

[2020-09-08 10:43] grumpydumpty commented on #2501
Thanks @hishamco, will take a look at it.

That said, I still believe this should be part of the standard Microsoft `dotnet` command line tooling.

[2020-09-08 11:23] guardrex commented on #19794
Hello @jakeCIS ... Please re-open this using the **This page** feedback button and form at the bottom of the topic. It will add metadata so that we can see which topic you're addressing, and it will automatically ping the topic author.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

[2020-09-08 11:23] #19794 closed

[2020-09-08 12:20] #19784 closed

[2020-09-08 12:44] andmig-ilty opened #19797 "Miss a strategy to handle the refresh of tokens"
It would be great if this article would also contains a pattern to handle the token expiration and refresh of the access_token.

BTW, I applied the suggested pattern, while using a customized Oauth Provider and still works fine!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f8acbbf-c9d4-7041-c1a7-ec9ce8f0981b
* Versi

[2020-09-08 12:50] guardrex commented on #19797
Hello @andmig-ilty ... Engineering has refused to show that scenario. They've flatly said that refresh tokens and client-side apps create security risks because there's no way to completely and effectively deal with them. If you search this out over on the engineering repo (try the filter phrase "refresh token" to see if it filters), you'll probably find the answers.

If all of the issues are clos

[2020-09-08 13:47] YuxuanLin commented on #19226
Hi @guardrex !

Thank you for explaining the concepts and that shades a bit more information for us to learn and understand. Actually I run into the same issue and spend days to figure out how-to for my case.

You replied:

Questions:
1. What is JS? Javascript?

2. Which is for cookie? And does it mean that validate a cookie containing a jwt?

3. I tested in my code using `context.HttpContext.Auth

[2020-09-08 15:25] andmig-ilty commented on #19797
As far as I know Blazor Server is a server side application and the secrets are never threated on the client. This is opposite to Blazor WebAssembly where, I'm with you, we should never handle secrets and thus, the oauth implicity flow is then used (no client secret, no refresh_token, etc)

The linked article do refer to Blazor **Server** and for completeness the refresh_token workflow worth to be

[2020-09-08 15:28] PSCRIMS commented on #19791
Found my  mistake

[2020-09-08 15:29] guardrex commented on #19797
Oh ... sorry about that @andmig-ilty ... I did misinterpret the issue. I'm buried in a thorny issue elsewhere, and it takes just about all of my (small) brain to process it. 😖

Yes, we don't show that ... *yet* anyway. I'll put this on the Blazor project for triage for further discussion.

[2020-09-08 15:33] guardrex commented on #19797
It might take a week (or a few) to get to this. The engineers on the product unit are all 🏃😅 like crazy right now working on the .NET 5 release for RC1. I'll see after RC1 lands if we can get a remark from them on what they'd like to show. You're welcome to post your suggestion here for discussion if you want.

[2020-09-08 15:54] guardrex commented on #19789
**UPDATE** ... Ok, I think the rubber :duck: has helped me understand where the text and examples went off the tracks. Ryan's sample didn't take the latest guidance into account, and I thought the problem with a component that writes to its own parameters had a more limited scope than it does. I think I see now how to fix the text and examples. **_PR coming soon! ... Stand-by!_**

[2020-09-08 16:41] 01binary commented on #19795
Looks simple, I can do it this evening. I don't have a project to test with anymore, but I will change exactly the way it was suggested.

[2020-09-08 16:42] Rick-Anderson commented on #19795
@KalyanChanumolu-MSFT

Next time  paste in text rather than an image.

I tested this a month ago with personal and it worked.

[2020-09-08 16:48] danroth27 opened #19798 "Document that you need to manually register LazyAssemblyLoader in the server project when using lazy loading with prerendering"
Document that you need to manually register LazyAssemblyLoader in the server project when using lazy loading with prerendering. If you don't do this, then you'll get an error when your components are prerendered that the LazyAssemblyLoader service could not be resolved.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-09-08 16:49] danroth27 commented on #19798
@captainsafia

[2020-09-08 16:55] KalyanChanumolu-MSFT commented on #19795
@Rick-Anderson Here is the text

Exception: invalid_request;Description=The request is not valid for the application's 'userAudience' configuration. In order to use /common/ endpoint, the application must not be configured with 'Consumer' as the user audience. The userAudience should be configured with 'All' to use /common/ endpoint.

@01binary I have the sample. I will send it to you.

[2020-09-08 18:29] jhurdlow opened #19800 "Blazor WASM AAD Auth Instructions require updates to match Azure Portal changes."
This page defines steps which no longer align to the layout and options provided in the Azure portal interface. For instance options are presented which are not defined in the instructions, and some instructions are not do-able as the option is not there. Please update to match current Azure portal configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-09-08 19:22] guardrex commented on #19800
Hello @jhurdlow ... can you say exactly what was different because we've had reports like this before and it turned out that the portal hadn't been updated ... it was just a missed instruction step on the reader's part. It wouldn't surprise me, of course, if the portal did change ... it happens quite frequently. If by ...

... you're just saying that not **_ALL_** of the options are called out. Th

[2020-09-08 19:49] guardrex commented on #19800
An alternative to letting me know what you think requires updating is to wait a short bit longer for me to get to ...

https://github.com/dotnet/AspNetCore.Docs/issues/19503

... when I'll be looking at the portal for the RC1/Identity v2.0 updates. In that case, we'll call this a duplicate and close it without further concern.

[2020-09-08 20:16] Rick-Anderson opened #19801 "5.0 Update: Intro to MVC tutorial series"
Update 10 tutorial series and app samples to .NET 5.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6e3baf6-6cba-aee0-9a8d-1e1fced2b690
* Version Independent ID: 74b76258-36a3-17de-6648-292da0a9e400
* Content: [Create a web app with ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-ap

[2020-09-08 22:24] Rick-Anderson commented on #10398
@daveabrock can you update that link?

[2020-09-08 23:06] JasonCard opened #19802 "Folder name "Models" should not be localized"
This Issue will address: [https://github.com/dotnet/AspNetCore.Docs.pt-br/issues/142#issuecomment-687851066](https://github.com/dotnet/AspNetCore.Docs.pt-br/issues/142#issuecomment-687851066)

This article contains folder name "Models" that's used in code sample and should not be localized. Please help to add this term to the metadata for no-loc custom syntax like below:
no-loc: ["ASP.NET Core Ide

[2020-09-08 23:18] taylorchasewhite opened #19803 "More Detailed Writeup on "Customize the User" section?"
### Background to this question

I have been building an application in Blazor the past 6-9 months or so and regularly read through the documentation you guys have (you've probably seen my name before). Despite reading through much of the Blazor docs (including Luke's recent Authentication/Authorization writeup), I've very much struggled finding information/best practices on how to deal with users

[2020-09-08 23:50] Rick-Anderson commented on #19802
@serpent5  can you append `Models` to the `no-loc: ["` metadata?

Edit in browser should be fine.

[2020-09-09 00:21] guardrex commented on #19803
Hello @taylorchasewhite ...

### For a component scenario

You're not asking about this here; but for the component scenario, this is the way ...

https://docs.microsoft.com/aspnet/core/blazor/security/webassembly/additional-scenarios#request-additional-access-tokens

This section probably should be expanded out with a full example to go ahead and make the Graph API call there. I'm mentioning this

[2020-09-09 00:28] guardrex commented on #19803
oh ... and for your questions ... let me get back to you shortly on that.

[2020-09-09 00:46] guardrex commented on #19803
ok ... actually ... I'll answer now. I thought I needed to make a call, but that can wait. *I think Summit Racing lost my fuel injection spider!!* 😨

You can get the user's claims via `AuthenticationStateProvider` (https://docs.microsoft.com/aspnet/core/blazor/security/#authenticationstateprovider-service), but engineering is more keen on https://docs.microsoft.com/aspnet/core/blazor/security/#exp

[2020-09-09 02:26] Ruchir949 opened #19804 "FUCK"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a25bf940-8977-fec4-461b-542a9f550fc8
* Version Independent ID: 5492c641-af15-64b8-beaa-ddf511be73e6
* Content: [Tutorial: Get started with Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start?view=aspnetcore-3.1&t

[2020-09-09 02:28] Rick-Anderson commented on #19804
Reported via https://github.com/contact/report-abuse

[2020-09-09 02:28] #19804 closed

[2020-09-09 03:36] yezi34880 opened #19805 "404 can't find js css file in Razor Class Library (RCL)"
use the statice files in RCL( .net core 3.1 ) is very confusion
now this is my requirement
I hava one main Web Mvc project and many modules
At Fist , I write the modules in Areas in Main Project, it is working.
but now ,for maname , I want to solit the Araes in many Module , and dynamic load  module dll in web startup,
I will success almost , now I split Areas Controller and Views in Razor Class L

[2020-09-09 10:53] domino413 opened #19806 "Scaffolding Issue"
I do this:

**user-info$** dotnet aspnet-codegenerator razorpage -m Movie -dc RazorPagesMovieContext -udl -outDir Pages/Movies --referenceScriptLibraries

AND... I get this:

Building project ...
Finding the generator 'razorpage'...
Running the generator 'razorpage'...
Attempting to compile the application in memory.
Attempting to figure out the EntityFramework metadata for the model and DbContext

[2020-09-09 11:31] guardrex opened #19807 "Explain schemes in Blazor WASM security"
From @YuxuanLin at https://github.com/dotnet/AspNetCore.Docs/issues/19226#issuecomment-688886625 ...

1. What is JS? Javascript?

2. Which is for cookie? And does it mean that validate a cookie containing a jwt?

3. I tested in my code using `context.HttpContext.AuthenticateAsync(scheme);` in custom attribute. For bearer authentication(bearer jwt in header) those two AzureADDefaults.JwtBearerAuthe

[2020-09-09 11:53] YuxuanLin commented on #19807
Hi @guardrex thank you for helping me escalate my questions.

Just say those questions are actually targeting at Web API instead of Blazor. Answers may apply to Blazor WASM too but I am not sure.

Thanks!

[2020-09-09 13:22] guardrex commented on #19807
@YuxuanLin ... Yes, the schemes aren't directly tied to Blazor ... they are general concepts. Blazor does default to a set of security technologies and configurations (i.e., OAuth 2.0 with OIDC and the implicit flow for 3.1, which is soon to be the authorization code flow for Blazor with .NET 5.0). Currently, our best general guidance in this doc set is in the [auth schemes topic](https://docs.mic

[2020-09-09 15:39] #19798 closed

[2020-09-09 16:34] daveabrock commented on #10398
This is fixed. It's a few years old, so let me if you come across anything that isn't correct.

[2020-09-09 18:06] guardrex commented on #19800
@jhurdlow ... I'm going to close because I'd need more specific information on what's different. Like I said, we've had these sorts of issues opened in the past where there was a missed step when following the guidance. I'll be taking a look at all of these topics and the portal when I get to #19503 shortly for the .NET 5 RC1 updates (preview docs). I'll confirm or update accordingly when I get to

[2020-09-09 18:06] #19800 closed

[2020-09-09 18:16] Rick-Anderson commented on #10398
@daveabrock  https://daveabrock.com/2018/03/05/full-stack-development-in-vs-code-with-asp-net-core/ 404's on me

[2020-09-09 18:21] Rick-Anderson commented on #19806
Can you add this to [one or more of the following issues](https://github.com/dotnet/Scaffolding/issues?q=is%3Aissue+is%3Aopen+%22A+file+matching+the+name%22)

[2020-09-09 18:21] #19806 closed

[2020-09-09 18:29] JunTaoLuo opened #19809 "Update Azure Active Directory documentation"
# Issue description

In .NET 5.0 we have switched from using V1 AAD APIs to using Microsoft.Identity.Web as part of addressing https://github.com/dotnet/aspnetcore/issues/22726. Our templates have been updated to use `Microsoft.Identity.Web` and `Microsoft.Identity.Web.UI` instead of the obsolete `Microsoft.AspNetCore.Authentication.AzureAD.UI` and `Microsoft.AspNetCore.Authentication.AzureADB2C.U

[2020-09-09 18:30] JunTaoLuo commented on #19809
cc @Tratcher  @jmprieur

[2020-09-09 18:40] JunTaoLuo opened #19810 "Add Microsoft.Identity.Web migration guide to 3.1->5.0 documentation"
# Issue description

In addition to updating existing docs for AAD in https://github.com/dotnet/AspNetCore.Docs/issues/19809, we also need to include a migration guide for users going from 3.1 to 5.0. The following information would be helpful in constructing the migration doc:
- https://github.com/AzureAD/microsoft-identity-web/wiki/Web-Apps#with-azure-ad
- https://github.com/AzureAD/microsoft-id

[2020-09-09 18:41] JunTaoLuo commented on #19810
cc @Tratcher  @jmprieur

[2020-09-09 19:11] daveabrock commented on #10398
Take away the last backslash...

On Wed, Sep 9, 2020 at 1:16 PM Rick Anderson <notifications@github.com>
wrote:

[2020-09-09 19:38] guardrex commented on #19809
For Blazor security node topics, I'm tracking the work on [[RC1] Microsoft Identity Platform 2.0 for Blazor (dotnet/AspNetCore.Docs #19503)](https://github.com/dotnet/AspNetCore.Docs/issues/19503). I plan to work it shortly after RC1 lands.

[2020-09-09 19:47] yringler opened #19811 "Discuss performance issues (or lack therof)"
A year or so ago, we released a new API based on aspnetcore, which was a year in the making. It is such a relief to be using a proper, modern, well thought out solution!
One small point of contention which keeps on being brought up is the question of performance and DI. Does having many dependencies increase CPU usage? RAM? Etc. How much is too much?
Note that I don't think we have noticed any abn

[2020-09-09 20:26] JunTaoLuo commented on #19809
FYI it's not just blazor, this affects RazorPages, MVC, WebApi templates as well.

[2020-09-09 20:38] guardrex commented on #19809
Yes ... I'm just cross-linking the issue for visibility.

[2020-09-09 20:47] travisgosselin opened #19814 "Linux OS with .NET Core 3.1 - The configured user limit (128) on the number of inotify instances has been reached"
This issue is directly related to and a followup of https://github.com/dotnet/aspnetcore/issues/7531 since that issue has been locked. The same issue occurs now in .NET Core 3.1. Following the previous thread, I was able to specify a different user in my Dockerfile to limit this problem which occurs when putting too many docker containers on the same host that are using the same user UID. Our team

[2020-09-09 20:48] BrennanConroy commented on #19814
We should look into adding a doc about ulimit on mac and linux.

Also, mention using the polling file watcher to reduce inotify instances.

[2020-09-09 20:51] Rick-Anderson commented on #19811
That's the trade off between scoped and singleton. Singletons are only instantiated once but hand on to memory.

It's impossible to come up with real numbers because there is  no standard app, standard services, and standard usage patterns. It sounds like it's not a problem for you.

[2020-09-09 20:51] #19811 closed

[2020-09-09 20:58] Rick-Anderson commented on #14528
@JeremyLikness @ajcvickers  I'll be updating the [RP/EF](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/intro?view=aspnetcore-3.1&tabs=visual-studio) and I'd like to include this. @mkArtakMSFT  who's the right person now that RyanNwak is gone?

[2020-09-09 23:24] #15373 closed

[2020-09-09 23:26] #19789 closed

[2020-09-10 00:06] taylorchasewhite commented on #19803
Thanks for the detailed writeup!

I created my Blazor app following this writeup [Secure an ASP.NET Core Blazor WebAssembly hosted app with Azure Active Directory](https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-azure-active-directory?view=aspnetcore-3.1#create-the-app), so I _didn't_ create app with the "Individual User Accounts" (image below) hosted on my .NE

[2020-09-10 02:21] YuxuanLin commented on #19807
Thank you @guardrex , this is the most faithful answer I've ever got in Internet in my life 😆

After could we have a doc about the mapping between the registered default schemas and extension methods like AddAzureADBearer and AddAzureAD?

After trialNError I find out the relationship between `JwtBearerOptions`, `OpenIdConnectOptions` and `CookiePolicyOptions`. It would be also appreciated that tho

[2020-09-10 03:18] taylorchasewhite commented on #19803
Granted in the example above, I know that I can/should read from the httpcontext/claims of the authenticated user, but this is more generally about getting information not passed down in claims that we need to go to graph for like information about another user.

[2020-09-10 06:09] 01binary commented on #19795
It sounds like the Microsoft Account OAuth provider is using a "common" endpoint, which makes sense. It's optimized for the "common case" of someone trying to login with Xbox, Outlook, or similar account.

The instructions that send you to Azure Active Directory to create a compatible App Registration should mention that you need to select a specific type that would be supported by the OAuth provi

[2020-09-10 06:54] 01binary commented on #19795
Trial results with various types of App Registrations, using MS Account provider and Blazor app I got from OP.

* "Accounts in This Directory Only (Single Tenant)" selected when creating App Registration

[code]

I assume it's because Single Tenant must use Tenant ID in the URL, and since the MS Account provider is hardwired to use the common URL which does not contain a Tenant ID, it fails to fin

[2020-09-10 14:16] guardrex commented on #19803
This will be a TL;DR set of remarks for many. I'm organizing my thoughts for updates ... *rubber 🦆 to the rescue*. :smile:

For Blazor Server it's easy enough: Most of the content for an ASP.NET Core app applies directly. We just refer the reader over to the main doc set.

Blazor WebAssembly is a challenge to cross-link to the main security docs because much of that content is tied directly to ser

[2020-09-10 15:37] javiercn opened #19817 "5.0 Update routing comments about default catch-all behavior"
We have a disclaimer indicating an existing issue with regards to routing in 3.1 on our docs. (https://github.com/aspnet/aspnetcore/issues/18677). We made this behavior the default in 5.0, so we should update the docs accordingly.

@Rick-Anderson  edit to add meta-data

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 323

[2020-09-10 15:56] bradygaster commented on #19788
adding @BrennanConroy to see if he has any insight into this one.

[2020-09-10 16:11] Ricardoaraujo00 opened #19818 "Problem when trying to call function on javascript - No instance of JSRuntime"
When thrying to use the ejected JSRuntime:

Error	CS0120	An object reference is required for the non-static field, method, or property 'TicketEmiter.jsRuntime'

Injecting:
@inject IJSRuntime jsRuntime

In function:
public static void DismissRemoveTicketModal(int status)
    {
        if (status == 0)
        {

            jsRuntime.InvokeVoidAsync("fadeModal");
        }
    }

---
#### Document

[2020-09-10 16:16] guardrex commented on #19818
Hello @Ricardoaraujo00 ... We don't have the staffing to handle general product support questions. We recommend the following support channels ...

* [Stack Overflow](https://stackoverflow.com/questions/tagged/blazor)
* [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/)
* [ASP.NET Gitter](https://gitter.im/aspnet/Blazor)

[2020-09-10 16:36] guardrex commented on #19807
Yes, that's probably what will happen, including where Blazor WebAssembly differs from the scenarios covered in https://docs.microsoft.com/aspnet/core/security/authorization/limitingidentitybyscheme. Currently, we're just going off of what the engineers (Javier, in particular) shows us via the authn/z examples and the Blazor templates.

We'll take a look at this issue sometime after .NET 5 release

[2020-09-10 16:41] guardrex commented on #19803
*Confirmed* on working this now. This is a good time for this because when I get to RC1 it would be nice to have this issue resolved. Then, Identity v2.0 + new Graph API/SDK can start with a copy of this coverage just just like everything else here for the RC1 updates. I've started working on this, and I hope to have a draft PR tomorrow afternoon. I'll ping you on the PR. If it gets delayed to Mon

[2020-09-10 16:48] aschuhardt opened #19819 "Clarification needed on what is meant by "User mode authentication isn't supported with Kerberos and HTTP.sys.""
What does this mean?  I can't find a concrete definition of "User mode authentication" via Google.  Does this mean that users cannot sign-in to an ASP.NET web service which uses HTTP.sys?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401ad9a0-9e51-80a2-5846-82e9790d7257
* Version Independent ID: fbc36c26-9992-1f4c-66d

[2020-09-10 16:57] Ricardoaraujo00 commented on #19818
Sorry, but this is not a support request. I'm making you a favor telling you(staff) that there is something wrong with the info this page is providing for developers. If there is a issue of this nature, i think that, even not existing a problem with the code, exists a problem with the clarity of the info here. If that is not something you like to improve then i'm sorry for taking your time.
I thin

[2020-09-10 17:00] guardrex commented on #19818
You didn't show code from the topic or refer to a specific example or section. If there's a specific problem with text or example code, then **_of course we want to take a look_**. :+1:

I'll take a look as soon as I can. I'll try to get back to you by the end of day tomorrow (Friday), but it might be Monday before I can get to this.

[2020-09-10 17:00] Ricardoaraujo00 commented on #19818
Instead of using JSInterop i'll be forced to change a value in a html tag with Blazor, and also need to be constantly checking for that change in javascript. Really nice....

[2020-09-10 17:04] #19011 closed

[2020-09-10 17:19] guardrex commented on #19819
Hello @aschuhardt ... I think I ran into this myself when I was working on some of the topics.

@Tratcher ... do you think that the **_Applications and user mode_** section of https://docs.microsoft.com/windows-server/security/windows-authentication/credentials-processes-in-windows-authentication#BKMK_CredentialInputForApplicationAndServiceLogon is sensible content? If so, I can link the "user mod

[2020-09-10 17:45] Ricardoaraujo00 commented on #19818
I was checking about what would be the problem until now and haven't found what the problem really is. I made a completely new project where i replicated the examples in this page and everything worked fine. Even in non async methods.
But by some reason, in my project, i can only get the JSRuntime injected object recognized in async methods, and not in the other ones. And the error "An object refe

[2020-09-10 17:52] guardrex commented on #19818
[code]

Static is only used in the extension method examples. That signature isn't for an extension method. Are you trying to create an extension method?

[2020-09-10 19:01] Tratcher commented on #19819
Right, User mode is the opposite of Kernel mode. Http.Sys is a kernel mode system driver that has an authentication feature built in, but that feature uses the system account and settings when authenticating. The AspNetCore HttpSys server wrapper over Http.Sys depends on that kernel mode feature for windows auth.

By contrast, [IIS](https://docs.microsoft.com/en-us/iis/configuration/system.webserv

[2020-09-10 19:14] bobbryant opened #19820 "Tutorial: Get started with Razor Pages in ASP.NET Core"
In Part 2, add a model to a Razor Pages app in ASP.NET Core

In the step “Complete the Add Razor Pages using Entity Framework (CRUD) dialog:”
The Data context class text shown in the tutorial:  RazorPagesMovie.Models.RazorPagesMovieContext.
Is showing up as  RazorPagesMovie.Data.RazorPagesMovieContext  in VS version 16.7.3 using ASP.NET Core 3.1
Note the tutorial used "ASP.NET Core 2.2"

I was abl

[2020-09-10 19:40] aschuhardt commented on #19819
When I use HTTP.sys in ASP.NET Core with Negotiate/NTLM authentication specified, per the docs article this issue concerns, I'm prompted by my browser for a username/password combination upon accessing the app.

After I have successfully authenticated, my HttpContext on the server has a ClaimsPrincipal associated with it, which contains a number of claims. Included among these claims is a username

[2020-09-10 19:41] guardrex commented on #19819
It seems like the explanation is along those lines. The topic says ...

... so I guess we can just link "kernel mode" and "user mode" to https://docs.microsoft.com/windows-hardware/drivers/gettingstarted/user-mode-and-kernel-mode, since that topic clarifies the difference between the two modes. It doesn't need to address security aspects ... just define the terms.

[2020-09-10 20:00] Tratcher commented on #19819
Windows/NTLM/Kerberos auth aren't just about authenticating the client to the server, but also about authenticating the server to the client. It's similar to TLS in that regard, where both the server and the client can provided certificates as a form of identity.

When running in Kernel mode the identity used for the server half of the handshake is the machine account. When running in user mode th

[2020-09-10 20:11] Rick-Anderson commented on #19820
Why aren't you following the 3.1 version?

[2020-09-10 20:19] Maracaipe611 commented on #7305
It worked for me

[2020-09-10 20:21] bobbryant commented on #19820
I searched for “How to create web application in visual studio 2019” and chose “Create an ASP.NET Core web app in C# - Visual Studio ...” (https://docs.microsoft.com/en-us/visualstudio/ide/quickstart-aspnet-core?view=vs-2019) and followed the links to the next step.

Where is the tutorial for the 3.1 version?

Bob Bryant

Email address:  <mailto:bob.bryant@pobox.com> bob.bryant@pobox.com

Cell Pho

[2020-09-10 20:35] aschuhardt commented on #19819
Thanks for this explanation, that makes a lot more sense now.  There is quite a bit more to this that was confounding my understanding of what is happening.

[2020-09-10 20:36] #19819 closed

[2020-09-10 21:12] Rick-Anderson commented on #19820
![image](https://user-images.githubusercontent.com/3605364/92807419-9291ff00-f356-11ea-9208-5d5e86ad54dd.png)

[2020-09-10 21:12] #19820 closed

[2020-09-10 21:53] daveabrock commented on #19360
Hey, all. I wanted to let you know I just got done [writing a post on this feature](https://daveabrock.com/2020/09/10/blazor-css-isolation). I appreciate the bulleted list on what to cover here, as it helped me make sure I was covering everything. 😎

As you're writing this, feel free to lean on that, correct me where I was wrong, and so on. Or, if you'd like me to take a stab at writing this for y

[2020-09-10 22:04] guardrex commented on #19360
@daveabrock You are **_super welcome_** 🥇 to write the section on this, and we can put your name on the author byline with a link to your blog (or organization website).

Let me get back to you tomorrow (Friday) morning on *where* it will slot into the coverage and any notes/gotchas going in on it.

[2020-09-10 22:06] daveabrock commented on #19360
@guardrex Sounds good! I've done plenty of contributions but this would be my first Blazor one—so all ears on if there's any gotchas for writing Blazor docs.

[2020-09-10 23:02] JamesNK opened #19825 "Code-first gRPC with .NET"
All our gRPC documentation discusses the .proto file approach using grpc-dotnet. MS generally recommends the .proto file approach because it is inline with the rest of the gRPC ecosystem and it is an easier path to cross-platform apps.

protobuf-net.Grpc builds on top of grpc-dotnet, and offers a code-first alternative. It is familiar to people who have WCF apps which are also code-first. protobuf

[2020-09-10 23:07] JamesNK commented on #19825
We should also mention protobuf-net.Grpc on this page - https://docs.microsoft.com/aspnet/core/grpc/why-migrate-wcf-to-dotnet-grpc

[2020-09-11 00:22] YuxuanLin commented on #19807
@guardrex sir you are too professional and hardworking obviously. Your responses also is a good testimony for Microsoft's effort on continuous support.

Please take a break and stay safe!

Cheers
Eric

[2020-09-11 04:12] 01binary commented on #19795
I recommend the following change under the bullet point that says "Pick a supported account type":

* The `Microsoft.AspNetCore.Authentication.MicrosoftAccount` package supports only App Registrations created using "Accounts in any organizational directory" or "Accounts in any organizational directory and Microsoft accounts" options.

I have to sync my fork and create a pull request, etc.

[2020-09-11 04:19] KalyanChanumolu-MSFT commented on #19795
@01binary This is great.

@Rick-Anderson What would be the recommendation for customers that need to target "Microsoft Accounts only"?

[2020-09-11 05:49] Rick-Anderson commented on #19795
I think you'd need to scaffold Identity and write you own code to handle that.  @Tratcher  who's the right person to answer this question?

[2020-09-11 06:34] mgravell commented on #19825
Happy to help here if I can be of use.

[2020-09-11 06:37] Rozinek opened #19826 "Localization is not up to date for target framework 3.1"
Hello Microsoft,

the article is obsolete for target framework .NET Core 3.1. In a section "Using one resource string for multiple classes" should be at least line or rewritten for utilizing endpoints.

1. AddMvc(options => options.EnableEndpointRouting = false)
2. services.AddControllersWithViews();
    app.UseEndpoints(endpoints =>
            {
                endpoints.MapControllerRoute(

[2020-09-11 09:33] Ricardoaraujo00 commented on #19818
No, i was not trying to create an extension method(a static method inside an instantiated class, as i understand in microsoft explanation about extension methods). Now i know that the JSRuntime object can be recognized in those static methods, but the way i inject it into a class is like this "public JsInteropClasses(IJSRuntime jsRuntime)" and not like this "@inject IJSRuntime JSRuntime;" as i exe

[2020-09-11 09:33] #19818 closed

[2020-09-11 10:23] guardrex commented on #19818
Thanks @Ricardoaraujo00 ...

The problem wasn't clear from your first post. You didn't show the full class (or say that you were injecting into a class in your remarks). What you showed could've been snippets of component code ... and that's what I thought you were trying to do, where using the `@inject` directive would be correct.

The [IJSRuntime section (second bullet point)](https://docs.micro

[2020-09-11 11:27] pekkamanninen opened #19827 "I had to do this: Install-Package Microsoft.EntityFrameworkCore.InMemory"
[Kirjoita palautteesi tähän]

---
#### Asiakirjan tiedot

⚠ *Älä muokkaa tätä osiota. Sitä tarvitaan kohteessa docs.microsoft.com GitHub-ongelmien linkityksessä.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://docs.microsoft.com/fi-fi/aspnet/core/tutorials/first-web-api?tab

[2020-09-11 11:50] guardrex commented on #19360
@javiercn, **TL;DR** on my guidance to @daveabrock below, **_but_** ... you said that there might be additional updates to CSS isolation for RC1. Anything in that vein for @daveabrock since you opened this issue?

@daveabrock ... I read your post. Great piece. I hope you let @jongalloway know (if he doesn't get the ping here on https://daveabrock.com/2020/09/10/blazor-css-isolation) about that for

[2020-09-11 12:08] guardrex commented on #19827
Hello @pekkamanninen ... It's the fifth bullet point at ...

https://docs.microsoft.com/aspnet/core/tutorials/first-web-api#add-nuget-packages

We've had this issue come in a few times. I think a change to how that appears might lick this. A short bit right before the steps that lists both packages might work 🤞🍀 ... something like ...

[2020-09-11 12:32] javiercn commented on #19360
@daveabrock that's a great post! It covers almost everything I would cover. There are a few things we've changed and that are important to reflect on the docs and a couple of additional details:

In the things that have changes:
* We now produce two separate bundles:
  * One for the "app" (the transitive closure of dependencies)
    * This is used when the "app" runs and is published.
    * The ap

[2020-09-11 13:15] Amal50 opened #19828 "The content is not updated to work with .net core 3"
when I apply dotnet ef migrations add Inheritance
I get the following error
The entity type 'Instructor' cannot be mapped to a table because it is derived from 'Person'. Only base entity types can be mapped to a table.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55345ff6-3c81-969e-3c92-29c24d7

[2020-09-11 13:36] Tratcher commented on #19795
It should just be a matter of the developer setting
[AuthorizationEndpoint](https://github.com/dotnet/aspnetcore/blob/360914cb0b2f467504a59b39464da642982c738f/src/Security/Authentication/MicrosoftAccount/src/MicrosoftAccountOptions.cs#L21) to the right value, but I don't know what that is at the moment.

[2020-09-11 14:02] daveabrock commented on #19360
Hey guys, thanks for the nice words on the post (and @guardrex, @jongalloway has come to expect a not-so-subtle nudge the morning of the standups 👌).

@guardrex, I'm fine with the first option. As I think I said (it's been a long week) I have experience with your process so that should save time for everybody. I know you are targeting RC1 for this—when is that, exactly? Thanks for the tips. I'll k

[2020-09-11 14:09] guardrex commented on #19360
I know the target date, but I don't like saying what it is. It might be public info, but I just don't like conveying dates without explicit authorization. Javier will let u know if he thinks this should absolutely be up for the RC1 release (that day) or not; and if so, he (or Dan) can convey the date, here or via email.

This is what I was going to do, so there would've been a delay of at least a

[2020-09-11 14:15] javiercn commented on #19360
I don't remember exactly if they are in RC1 or RC2, I believe RC1, but Dan can confirm since he's played with the bits more recently.

As to how to put things in the project file:

[code]

There's a lot of content in the comments https://github.com/dotnet/aspnetcore/blob/release/5.0-rc1/src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Microsoft.NET.Sdk.Razor.ScopedCss.targets and on the

[2020-09-11 14:31] daveabrock commented on #19360
Thanks @javiercn. I have what I need to get started.

And @guardrex, all fair on timing. I'm just looking for a general timeframe - do you want something in the next two weeks, four weeks, six weeks?

[2020-09-11 14:41] guardrex commented on #19360
:smile: ... Dan has publicly said 'target **_in September_**'. ⏰ ... *soon* ... *very soon* is fair to say if everything goes off without a hitch.

[2020-09-11 15:22] 01binary commented on #19795
I suspected that was configurable (just the constant was hard-coded) but haven't looked there again. The OAuth URL for "Personal Microsoft Accounts Only" is `https://login.microsoftonline.com/consumers/oauth2/v2.0/authorize`. You can verify by creating an App Registration with that type, going to its Overview page, and clicking "Endpoints" button. Make sure the App Registration has `"signInAudienc

[2020-09-11 15:24] Tratcher commented on #19795
Ah, great. Yes, update the MicrosoftAccountOptions AuthorizationEndpoint and TokenEndpoint and re-validate.

[2020-09-11 17:48] Rick-Anderson commented on #19826
@hishamco should the code at [Using one resource string for multiple classes](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.1#using-one-resource-string-for-multiple-classes) be:

[code]

[2020-09-11 18:57] cpn-paladino opened #19829 "IsDevelopment doesn't exist in IWebHostEnvironment"
[Enter feedback here]

According to https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.iwebhostenvironment?view=aspnetcore-3.1

the method "IsDevelopment" doesn't exist, please fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceffa6a2-770c-1cd9-5145-dcd423f9dd22
* Version Independent ID: 1cb

[2020-09-11 18:58] Rick-Anderson commented on #19829
It's there.

[2020-09-11 18:58] #19829 closed

[2020-09-11 19:57] hishamco commented on #19826
@Rozinek the steps you are added for configuring the MVC and end points

@Rick-Anderson that code is right AFAIK

Let me check the provided sample in 3.1 and come back to you

[2020-09-11 22:03] wadepickett commented on #16549
@Rick-Anderson , for the download include at the start, do you want me to get rid of the include and pull that back inline to the doc?  I understand you want to get rid of most includes related to needs we had before the IDE tabs.  The download include was more related to eliminating some version mess. Knowing if you want to keep that include gives me a better idea of how far to go in eliminating

[2020-09-11 22:05] Rick-Anderson commented on #16549
Do a search and see where it's used. I think it's used in many of the tutorials, it's not related to tabs.

[2020-09-11 22:10] wadepickett commented on #16549
@Rick-Anderson, thanks, I'll check where it is used.  Sounds like I should keep the scope to tab related for eliminating includes and pulling in their text (as needed).  There were some 20+ includes, so was just checking to see if I should keep the scope to tab related or try to pull in most that I could, be they tab related or no.

[2020-09-11 22:29] Rick-Anderson commented on #19828
That hasn't changed.

[2020-09-11 22:29] #19828 closed

[2020-09-11 22:32] Rick-Anderson commented on #19814
@travisgosselin what doc should this go in?

[2020-09-11 22:38] Rick-Anderson commented on #19805
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-09-11 22:38] #19805 closed

[2020-09-11 22:40] Rick-Anderson commented on #19790
@shirhatti one minute review

[2020-09-12 00:50] DutchBoyd opened #19834 "Visual Studio Code Windows command needs quotes around the '-outDir "Pages\Movies"' tag"
Following along with the RazorPages tutorial and running the codegenerator, I got stuck for a bit after running this command:

dotnet aspnet-codegenerator razorpage -m Movie -dc RazorPagesMovieContext -udl -outDir Pages\Movies --referenceScriptLibraries

The next step was to run the app and check the localhost:port/movies page, and I got not found error. The problem was solved when I put quotes ar

[2020-09-12 02:04] guardrex commented on #19834
@DutchBoyd ... For a faster response, close this issue and re-open it using the **This Page** feedback button+form at the bottom of the English topic. It will add metadata to cross-link the topic and automatically ping the author.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

[2020-09-12 06:03] AlbertoPa commented on #19536
Thanks! I understand, but this is essentially leaving the template app undocumented for use outside the development environment, since activating Identity with Blazor WASM automatically introduces Identity Server, and the app won't work properly when deployed to anything with at least a self-signed certificate.

[2020-09-12 06:05] AlbertoPa commented on #19536
@davidfowl because apache is one of the supported platforms as stated in the asp.net core documentation. Anything that is not IIS/Kestrel only would also work, since that would be a realistic scenario on a non-Windows/non-MS infrastructure.

[2020-09-12 07:44] edthehorse opened #19835 "unreadable"
unreadable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b391017f-25e1-d5e1-c4f7-020408ade7b5
* Version Independent ID: 263a7b64-2e42-bbfc-c1d3-61680438e1e4
* Content: [Create web APIs with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-3.1)
* Content Source: [aspnetcore/web-api/in

[2020-09-12 10:36] guardrex commented on #19835
Hello @edthehorse ... A one-word remark isn't actionable. If you have specific feedback, then we can take a look and see how the topic might be improved.

[2020-09-12 10:42] hishamco commented on #19826
Just added End-Points and make sure that the sample works fine

Thanks @Rozinek

[2020-09-12 11:14] edthehorse commented on #19835
Hello

Sorry to be so rude- ive been caught out.

The page as I recall was just not designed for beginners like me.

Im sure a more advanced user would find it most useful.

To be honest Im not entirely sure of the exact page but if you were to confirm it I could try to be a bit more constructive..

Sorry again

Ed

From: Luke Latham [mailto:notifications@github.com]
Sent: 12 September 2020 11:36

[2020-09-12 11:24] hoksource opened #19838 "Docs on modelexpression"
I would like to request some Examples on using ModelExpression.

I would like to make a custom version of asp-for
Is there a documentation on how to use modelexpression in custom taghelpers?

My use case is dynamic property member access.
[code]

I could do this with dictionaries but it would be fun to be able to do this also.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-09-12 11:57] edthehorse commented on #19835
Re: "Don't create a web API controller by deriving from the Controller class"
I now realize what this means but as a beginner I didn't. i think someone new to this stuff  is more anxious first up to know what to do rather than what not to do.

Re:
......................................
  "return CreatedAtAction(nameof(GetById), new { id = pet.Id }, pet);
}
Here are some more examples of methods th

[2020-09-12 16:22] cbgrey opened #19839 "Page should mention installing "Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore""
In the section for using different databases for dev vs prod....UseDatabaseErrorPage does not work unless package "Install-Package Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore" is installed.

Page should mention that this package needs to be installed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd

[2020-09-12 17:52] NaserParhizkar opened #19840 "Call a web API from WebAssembly is very slow for more json result"
Consider I want to get more than 5000 records from WebApi
and as you can see in the following code, where I mentioned with my bold comment and it's Blazor code
Would you please tell me how can I fetch data and convert it to my model in Blazor code less than that long time?

protected override async Task OnInitializedAsync()
{
    try
    {
       **// This should have gotten data a few millisecond

[2020-09-12 18:34] #19826 closed

[2020-09-12 18:34] Rick-Anderson commented on #19838
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider. We'll also reconsider this issue in the next doc update.

[2020-09-12 18:34] #19838 closed

[2020-09-12 18:49] Rick-Anderson commented on #19839
Need to update https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-3.1&tabs=visual-studio-code#add-nuget-packages-and-ef-tools to include `Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore`

[2020-09-12 20:03] serpent5 commented on #19802
@Rick-Anderson Done.

[2020-09-12 20:07] guardrex commented on #19840
Hello @NaserParhizkar ... btw ... It's best to open issues on the docs repo using the **This page** feedback form at the bottom of any topic. It pings the author and adds metadata to the issue.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

WRT to the issue you've raised, I agree with you ... that doesn't

[2020-09-12 20:07] #19840 closed

[2020-09-12 20:11] #19802 closed

[2020-09-12 20:22] guardrex commented on #19835
No worries, @edthehorse. I only closed it because there isn't anything that we can do with your initial feedback. It's like that "Is this page helpful?" question ... not really all that *helpful* unless the number is skewed way bad, which is almost never the case.

Stand-by for Scott to reply. He wrote this topic, so it's best for him to respond to your feedback.

[2020-09-12 21:42] philmiller84 opened #19842 "Why does AuthorizeAsync not work with AuthorizeView?"
AuthorizeAsync should have the ability to set Authorized or NotAuthorized, so that the AuthorizeView tag could be used. Otherwise, resource-based authorization is required to use AuthorizeAsync with a separate if-check.

Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5aad527d-62e1-a5de-af9e-4bba8e747b76

[2020-09-13 23:20] travisgosselin commented on #19814
Good question @Rick-Anderson - Ideally it wouldn't be a concern at all and be fixed, but for the Docs specifically, it seems prudent to call out these best practices out in any location that discusses Dockerfile usage patterns for ASP.NET Core. Existing, "The Dockerfile" section here might be a starting place; it already indicates COPY of csproj and sln files as a good practice for docker layer ca

[2020-09-14 08:29] isc30 commented on #19360
Hi everyone, should the docs also cover referencing a RCL that has components with scoped CSS?
I'm facing a possible bug in this area where rendering a component with scoped styles doesn't get the unique attribute name so it doesn't match the scoped styles.

[2020-09-14 09:51] ygoe opened #19843 "Mitigations for CRIME and BREACH"
Okay, so the documentation says that my web app is insecure in some way that I don't understand if I opt to compress dynamic content with HTTPS. I see that compression is disabled by default and can be enabled with certain config. My application generates a huge SQL dump (hundreds of megabytes) that simply needs to be compressed. No way around that. Now I'm left with the warning that my app just h

[2020-09-14 13:16] guardrex commented on #19843
@blowdart ... The current coverage is ...

Any changes (or just advice for @ygoe)?

[2020-09-14 13:38] blowdart commented on #19843
Definately not a doc issue, and an issue for a crytographer. which I am not, so I would feel uncomfortable giving any advice here on behalf of Microsoft.

[2020-09-14 13:51] guardrex opened #19846 "Fix Blazor-EF Core dup headings"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a101e4d-85a2-8013-0f62-40e13e45b3c6
* Version Independent ID: 66a0a920-ebd8-9b1d-c8c5-953ebb766de0
* Content: [ASP.NET Core Blazor Server with Entity Framework Core (EFCore)](https://docs.microsoft.com/en-us/aspnet/core/blazor/blazor-server-ef-core?view=aspnetcore-3.1)
* C

[2020-09-14 14:24] #19846 closed

[2020-09-14 14:30] guardrex opened #19848 "Blazor WASM config linker to 'trimmer' for 5.0+"
* Version the current topic for >=3.1 and <5.0.
* Add a new topic for the 'trimmer' that's >=5.0.

Changes to make are on https://github.com/dotnet/AspNetCore.Docs/pull/19832.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b8d156f-901e-b6fd-434c-99ecd87cfb94
* Version Independent ID: 32bba2e0-057a-5ee2-910b-d38c30750a

[2020-09-14 16:23] #19848 closed

[2020-09-14 16:44] Paul-Dempsey opened #19850 "Multiple issues with TOC, Content and formatting for Blazor components"
I  was trying to find information on doing Radio buttons in server-side Blazor, and hit this page and finding many problems.

In the TOC, when I click on anything between InputCheckBox and InputText area, it does not go to anything with the corresponding heading, and the highlighted item in the TOC appears to be a random one in that group. In particular, clicking InputRadioGroup takes you to a tab

[2020-09-14 17:07] guardrex commented on #19850
The section it links **_is_** the coverage at this time, then the links off to the API docs take over. There aren't individual sections for each one because they're implemented and behave similarly.

It's due to the way in which the ToC attempts to automatically highlight when there aren't sections.

To deal with this ... and further clarify based on your last remark ... I'll create **_sections_**

[2020-09-14 17:09] nerocui opened #19851 "SignalR not working on Blazor on .NET 5 Preview 8"
When I run
[code]
on ASP.NET Core hosted Blazor wasm on .NET 5 Preview 8, exception would be thrown.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08de9daf-79aa-ee76-431e-f2432f8d691e
* Version Independent ID: 1a1ee728-1741-c82a-75e1-06159709935b
* Content: [Use ASP.NET Core SignalR with Blazor WebAssembly](ht

[2020-09-14 17:09] Paul-Dempsey commented on #17296
September now and syntax highlighting in .razor is still seriously broken (not just the @code keyword as this issue suggests -- the duped issue covers the problem better).

[2020-09-14 17:11] guardrex commented on #19851
Hello @nerocui ... open that for the product unit at ...

https://github.com/dotnet/aspnetcore/issues

[2020-09-14 17:11] #19851 closed

[2020-09-14 17:11] BrennanConroy commented on #19851
Dupe of https://github.com/dotnet/aspnetcore/issues/25259 and fixed in RC1

[2020-09-14 17:27] Paul-Dempsey commented on #19850
Thanks, Luke!

I’m in ASP.NET Core 3.1, not 5 Preview:
[cid:image001.png@01D68A81.AEC504D0]

So the TOC is pretty messed up if 5 Preview stuff is showing up in 3.1 content.

Colorization issues look to be Support colorization of the @code directive for Razor components · Issue #17296 · dotnet/AspNetCore.Docs (github.com)<https://github.com/dotnet/AspNetCore.Docs/issues/17296>
Open since March. Alt

[2020-09-14 17:28] daveabrock commented on #19360
You don't say? 😀
https://devblogs.microsoft.com/dotnet/announcing-net-5-0-rc-1/

Will try to carve out some time this week.

[2020-09-14 17:36] guardrex commented on #19850
It's a **_rock and a hard place_** scenario at the moment. I don't have a lot of options. We can't version content **_within a topic_** to show up in the ToC or not. We can only version **_whole topics_** to show up or not. I think adding a little 5.0 mention is the best we can do at the moment. The alternative would be to drop those entries until 5.0 GA, but that comes with its own pain ... it hi

[2020-09-14 17:39] guardrex commented on #19360
# 🎉

Me, too. I've a got a **_SEA_** 🚢 of Blazor WASM security bits to update!

[2020-09-14 17:57] daveabrock commented on #19360
Hey @javiercn, any thoughts?

[2020-09-14 17:57] daveabrock commented on #19360
Any thoughts, @javiercn?

[2020-09-14 18:37] scottaddie opened #19852 "Update ASP.NET Core 3.1-to-5.0 migration guide for RC1"
Incorporate pertinent details from https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-release-candidate-1/

[2020-09-14 20:20] #19780 closed

[2020-09-14 20:20] #19852 closed

[2020-09-15 02:03] yezi34880 opened #19862 "How to debug RCL static files"
Now I split the Areas to another project (Razor Class Library), Include controller views and other static files like js css image and so on.
and I load the Assembly in main project dynamic
At first the js and css can't load, until to the load then as EmbeddedResource
now it is used in main project as well
but there is another problem do you have
when i debug , the modify can't show real time,
I us

[2020-09-15 02:46] Rick-Anderson opened #19864 "Update PO loc for 3.1"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b1098b7-dbe7-a8d8-f57f-017b1c94e960
* Version Independent ID: 96179de2-df1c-ff1d-5a2e-89b0949e0620
* Content: [Configure portable object localization in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/portable-object-localizat

[2020-09-15 10:45] SteveSandersonMS commented on #19360
@daveabrock We have project template for RCL which will be correctly set up to use scoped CSS by default, so hopefully that will put people on the right track. I'm not sure if we'll cover in the docs what versions of things are required, since typically the docs don't do that for each feature - the docs themselves are tied to an overall version of the framework.

[2020-09-15 12:05] patware opened #19869 "Update Intro to SingnalR to .net core 3.1"
.net core 3.0 is end of life, please update the tutorial for 3.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dd2991d-c22d-ad0f-80b6-bd1b503db8f3
* Version Independent ID: 5e3fbe1d-c97f-9940-4f0c-067d4b2112b1
* Content: [Get started with ASP.NET Core SignalR](https://docs.microsoft.com/en-us/aspnet/core/tutorials/si

[2020-09-15 12:32] #19803 closed

[2020-09-15 12:56] #19850 closed

[2020-09-15 14:07] guardrex opened #19871 "[RC1] Blazor Virtualize component for 5.0"
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-release-candidate-1/#blazor-component-virtualization

https://github.com/dotnet/aspnetcore/blob/a190fd34854542266956b1af980c19afacb95feb/src/Components/Web/src/Virtualization/Virtualize.cs

[2020-09-15 14:09] guardrex commented on #11366
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-release-candidate-1/#blazor-webassembly-prerendering

[2020-09-15 14:14] guardrex opened #19872 "[RC1] Browser compatibility analyzer for Blazor WebAssembly"
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-release-candidate-1/#browser-compatibility-analyzer-for-blazor-webassembly

[2020-09-15 14:16] guardrex opened #19873 "[RC1] Blazor JavaScript isolation and object references"
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-release-candidate-1/#blazor-javascript-isolation-and-object-references

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aada0049-99a8-2f91-5d60-6970474e2371
* Version Independent ID: c29fb1a8-028f-6efd-f1bc-e889fb362311
* Content: [Call JavaScript functi

[2020-09-15 14:18] guardrex opened #19874 "[RC1] Blazor file input support"
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-release-candidate-1/#blazor-file-input-support

[2020-09-15 14:21] guardrex opened #19875 "[RC1] Custom validation class attributes in Blazor"
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-release-candidate-1/#custom-validation-class-attributes-in-blazor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884-c1fe5c2ef52d
* Version Independent ID: 09a02d10-2834-467d-d8c2-3fd19ceb3863
* Content: [ASP.NET Core Blazor forms a

[2020-09-15 14:22] guardrex opened #19876 "[RC1] Blazor support for ontoggle event"
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-release-candidate-1/#blazor-support-for-ontoggle-event

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa724f22-3a49-c7f6-1500-ac2d8dde5894
* Version Independent ID: 5e8ef502-ccf9-659d-f25a-0f8f3c75f6e0
* Content: [ASP.NET Core Blazor event handling](ht

[2020-09-15 14:41] guardrex opened #19877 "[RC1] Blazor updates"

[2020-09-15 14:44] stefanb05 commented on #17643
I had this problem too because MyDataStore is a singleton, inspired by EF implementation I managed to do this:

`services.AddDataProtection().Services.AddSingleton<IConfigureOptions<KeyManagementOptions>>(serv =>
{
	return new ConfigureOptions<KeyManagementOptions>(options =>
	{
		options.XmlRepository = new MyXmlRepository(serv.GetService<IMyDataStore>());
	});
});`

[2020-09-15 14:49] #19877 closed

[2020-09-15 15:52] campbel opened #19879 "Add examples for multi render fragment components"
It would be helpful to include documentation for creating components of the form:

[code]
The docs currently only show examples where you pass a list of items to the parent component instead of providing the fragments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 698a8824-7a38-70d6-c041-0dca4c040217
* Version Indepen

[2020-09-15 19:43] #12840 closed

[2020-09-15 19:43] #19717 closed

[2020-09-15 20:05] Rick-Anderson opened #19882 "Update topic for error link"
We got promoted about this while trying to publish to Azure, a the installed SDK LTS is with 3.1.7 runtime, thus we figured out we need to downgrade the installed SDK from LTS to a lower version (highest we could use is 3.1.302)

![image](https://user-images.githubusercontent.com/3605364/93258847-a6fd3f80-f73a-11ea-8df0-aa5768be3674.png)

The **More info** link in the error message goes to https:/

[2020-09-15 20:15] justSteve opened #19883 "[RC1] Update Blazor-EF Core sample app to .NET 5 RC1"
[EDIT by guardrex to add the metadata]

# Issue description

In this repo's path for app samples that indicates .net 5 generation (AspNetCore.Docs/aspnetcore/blazor/common/samples/5.x/BlazorServerEFCoreSample) the included project has 3.1 as the target framework.

Even if there are no breaking changes, shouldn't we be starting with code hitting 5.x?

---
#### Document Details

⚠ *Do not edit this

[2020-09-15 22:52] guardrex commented on #19883
Hello @justSteve ... Please use the **This page** feedback form at the bottom of any topic to open a new issue ...

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

I'll add the metadata manually, so no worries on that for this issue.

.NET 5 RC1 is supported, so you are welcome to use .NET 5 now if you wish.

[2020-09-15 23:14] #19883 closed

[2020-09-15 23:37] redwyre opened #19889 "ConsumeScopedServiceHostedService Overrides StopAsync incorrectly"
It seems like the example for ConsumeScopedServiceHostedService wont shutdown correctly as it overrides StopAsync without calling the base.

The QueuedHostedService seems to do this correctly

(btw, great examples, extremely helpful page)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3460b0d-9c60-3a06-ac63-18cf990e53

[2020-09-16 00:16] Rick-Anderson commented on #19889
@huan086 please review

[2020-09-16 03:32] huan086 commented on #19889
Most of the examples are missing the call to base.StopAsync() 🤦‍♀️. Could you do a pull request to fix them?

[2020-09-16 06:19] 01binary commented on #19795
I failed to sync my fork, so I re-created and re-cloned everything - sorry for the delay.

[2020-09-16 10:39] ahmidimohamed12 opened #19895 "j"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dd2991d-c22d-ad0f-80b6-bd1b503db8f3
* Version Independent ID: 5e3fbe1d-c97f-9940-4f0c-067d4b2112b1
* Content: [Get started with ASP.NET Core SignalR](https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr?tabs=visual-studio&view=aspnetcore-3.

[2020-09-16 12:12] vizgtcoc opened #19896 "File signature check fails when there is white space at the starting of the file's content"
# Issue description
In /aspnetcore/mvc/models/file-uploads/samples/3.x/SampleApp/Utilities/FileHelpers.cs,
in IsValidFileExtensionAndSignature(),
in case of adding signature bytes for pdf as below,
`{ ".pdf",new List<byte[]>
                {
                    new byte[] {  0x25, 0x50, 0x44, 0x46 }
                }
            }`
It works fine if the contents in the uploaded file start with

bu

[2020-09-16 12:45] #19895 closed

[2020-09-16 12:52] guardrex commented on #19896
Hello @vizgtcoc ...

FYI ... Please use the **This Page** feedback button+form at the bottom of the English topic. It will add metadata to cross-link the topic and automatically ping the author.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

No worries ... I'll add the metadata manually to the issue.

WRT

[2020-09-16 12:52] #19896 closed

[2020-09-16 17:43] guardrex commented on #19879
@campbel ... I'm going to close this in favor of https://github.com/dotnet/AspNetCore.Docs/issues/19871 for the latest version of the `Virtualize` component, which accepts an item template. I just put a PR up based on Dan Roth's blog post coverage at https://github.com/dotnet/AspNetCore.Docs/pull/19898. The component received updates for 5.0, so you'd need to be on 5.0 RC1 or later to use it as th