[2020-04-09 08:34] javiercn commented on #17578
See https://github.com/javiercn/blazor-server-aad-sample for details on how to do this. It is the same for Azure ADB2C.

@guardrex Is there a separate issue tracking this doc? (I believe I filed one) if not, either repurpose this with the provided content or close this and point to the other one.

[2020-04-09 08:37] javiercn commented on #17522
For server-side blazor other userflows should be supported out of the box (the default ones). For blazor webassembly, msal.js doesn't support them, so it is up to the developer to implement them.

[2020-04-09 08:40] javiercn commented on #17448
This is not possible with the default implementation we provide, since openid requires a redirect and we don't support popup login.

[2020-04-09 08:40] #17448 closed

[2020-04-09 08:45] javiercn commented on #17308
Full sample here
https://github.com/javiercn/BlazorMultipleApps/tree/05a66d42c024baec7b9701b3eebf5ca8dd6f93b4

Startup.cs
https://github.com/javiercn/BlazorMultipleApps/commit/05a66d42c024baec7b9701b3eebf5ca8dd6f93b4#diff-db34dd0fe01572a34b75d3013ab5b828R47-R58

Base path for the app
https://github.com/javiercn/BlazorMultipleApps/commit/05a66d42c024baec7b9701b3eebf5ca8dd6f93b4#diff-8e7ed314d2c8757

[2020-04-09 08:46] Alienroid commented on #17522
Thanks Javier. For blazor wasm, is this feature on the roadmap or MSFT just leave it to us? Any particular reason not supported by msal.Js?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Javier Calvarro Nelson <notifications@github.com>
Sent: Thursday, April 9, 2020 1:37:21 AM
To: dotnet/AspNetCore.Docs <AspNetCore.Docs@noreply.github.com>
Cc: Alienroid <iam3133

[2020-04-09 08:48] javiercn commented on #16903
Pattern is described here
https://github.com/javiercn/CancellableWorkBlazor/blob/master/CancellableWorkBlazor/Pages/LongRunning.razor

gist of it is:
Create a cancellation token source.
On dipose signal the token
After async call returns, call cts.Token.ThrowIfCanceled()

[2020-04-09 08:54] Alienroid commented on #17578
What is the options.Resource = "<<resource>>";

I'll try this again. I think last time I ran this sample, it only load the Microsoft account during login and not the other (Facebook, Google or plain email)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Javier Calvarro Nelson <notifications@github.com>
Sent: Thursday, April 9, 2020 1:34:45 AM
To: dotnet/AspNetCor

[2020-04-09 10:32] bdnts commented on #17578
Gee whiz, you guys work crazy hours like I do.  I'm in PDT about ready to call it a night.

Answers to some of the questions above:  I'm building an end-to-end vertical stack of AAD, B2C, Blazor, Email sign-in.  Once I can get that done and working, then I'll see about going horizontal with the other identity connectors.

For @javiercn  I actually found some differences AAD and AADB2C.  There is a

[2020-04-09 10:37] spectrumcomputing opened #17687 "Razor - Run the app section does not cover how to run the app in Linux"
[Enter feedback here]

Hello,

The run the app section does not cover how to run the app in Linux.  I assume its just:

[code]
In the Visual Studio Code Terminal, as Ctrl + F5 just seems to produce this.  Am I missing something?

![Capture](https://user-images.githubusercontent.com/38283339/78888226-19197c00-7a59-11ea-823a-a04949e34a43.PNG)

Thanks

---
#### Document Details

⚠ *Do not edit this s

[2020-04-09 10:38] Alienroid commented on #17578
I was in bed until Javier send that email. 3 hrs later, I am still up. This is more of a fun thing for me to really learn this.

Just checked out your profile. I grew up in Vancouver BC too 😉

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: bdnts<mailto:notifications@github.com>
Sent: Thursday, April 9, 2020 3:33 AM
To: dotnet/AspNetCore.Docs<mailto:AspNetCore.

[2020-04-09 10:40] spectrumcomputing opened #17688 "MVC - Run the app section does not cover how to run the app in Linux"
[Enter feedback here]

Hello,

The run the app section does not cover how to run the app in Linux.  I assume its just:

[code]
In the Visual Studio Code Terminal, as Ctrl + F5 just seems to produce this.  Am I missing something?

![Capture](https://user-images.githubusercontent.com/38283339/78888132-fd15da80-7a58-11ea-95e5-f1032247abe0.PNG)

Thanks

---
#### Document Details

⚠ *Do not edit this s

[2020-04-09 11:34] JorgeDLG commented on #14230
Same problem happend to me , I had to modify manually the db with sql statement. But why by deleting the db and generating another (ef update dabatase) don't create a db updated with the last model?

[2020-04-09 11:45] Alienroid commented on #17578
Javier is GOD!

Using his sample, I changed the following:

services.AddAuthentication(AzureADB2CDefaults.AuthenticationScheme)
          .AddAzureADB2C(options => Configuration.Bind("AzureAdB2C", options));

Scope need to add:
options.Scope.Add("https://{domain}.onmicrosoft.com/api/demo.read");

I left out resource since I have no idea what’s that from documentation nor code.

I was able to get t

[2020-04-09 12:16] oridespavaneli commented on #17656
Everything is working properly!
I must apologize, because I didn't notice the following in "Program.cs":
                    //webBuilder.UseStartup <Startup> ();
                    webBuilder.UseStartup <StartupJavaScript> ();

I had configured CORS in "Startup.cs", and did not make the change to use the procedure, StartupJavaScript was being used.

[2020-04-09 12:16] #17656 closed

[2020-04-09 12:26] HamidMolareza commented on #17670
@ctreslovehayes, Databases are very diverse and designed for **different needs**. That's why it's not easy to make a suggestion. Be sure to read at least about them. (SQL types and NOSQL types)

Suggestion to start:
Follow this tutorial: [Create a web app with ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/?view=aspnetcore-3.1). **Specially** follow [Add a m

[2020-04-09 13:19] guardrex commented on #17578
@javiercn ... Yes, you did at https://github.com/dotnet/AspNetCore.Docs/issues/17221, and it was worked on https://github.com/dotnet/AspNetCore.Docs/pull/17420. The content is here :point_right: https://docs.microsoft.com/en-us/aspnet/core/security/blazor/server?view=aspnetcore-3.1&tabs=visual-studio#pass-tokens-to-a-blazor-server-app

... I simply haven't had time to try it myself. If there's not

[2020-04-09 13:28] Nils-Berghs opened #17689 "Add Info about supporting ALL cultures in .net Core"
Localization is not about translations, (you can expect everybody to understand English). The main reason for localization is date and number formatting. The USA uses a mathematically wrong date format and you cannot expect people to accept that.

The workaround is to set the supported cultures to  CultureInfo.GetCultures(CultureTypes.AllCultures). This will not help with translations, but you wil

[2020-04-09 13:48] CeciAc opened #17691 "Outdated documentation"
The comments below were machine-translated

@Hitmasu commented on [Thu Apr 09 2020](https://github.com/dotnet/AspNetCore.Docs.pt-br/issues/129)

In the JSON configuration part, there are locations that are pointing to ** _ SerializerOptions _ ** (Newtonsoft). The correct one should be [JsonSerializerOptions] (https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.jsonoptions.jsonseri

[2020-04-09 13:57] CeciAc opened #17692 "Error in example code"
The comments below were machine-translated

@Maximys commented on [Thu Apr 09 2020](https://github.com/dotnet/AspNetCore.Docs.ru-ru/issues/79)

The Update method (string id, Book bookIn) contains an error - we in bookIn do not fill in the Id property, and therefore ReplaceOne will throw an exception. It should be something like this:
public async void Update(string id, Book bookIn)
        {

[2020-04-09 14:35] Maximys commented on #17692
May be my repository will helpful for understanding what's wrong: https://bitbucket.org/Mixim/e-learning/src/master/Src/NoSQL/BooksApi/BooksApi/Services/BookService.cs

[2020-04-09 15:02] guardrex commented on #17522
If the packages are added, is `GetOwinContext` a viable approach for Blazor WASM? For example ...

[code]
https://github.com/AzureADQuickStarts/B2C-WebApp-OpenIDConnect-DotNet-SUSI/blob/complete/WebApp-B2C-DotNet/Controllers/AccountController.cs#L32-L33

... or is it really going to be a manual effort to build the challenges (or use a community package of some sort)?

[2020-04-09 15:24] mnoreen opened #17696 "can you really rely on Directory.GetCurrentDirectory()"
One thing I liked about the web.config &lt;-&gt; machine.config hierarchy was it just worked. I see pretty much every example of using Json files and the Directory.GetCurrentDirectory() base path. The problem is, you search on that, and you'll find that the "CurrentDirectory" is a very subjective / elusive thing.   Debugging from Visual Studio vs runtime, process directory, did some other process

[2020-04-09 15:25] guardrex commented on #17522
Given how clear their doc is on forming the challenge, I'll just cross-link their doc in a new section of the two AAD B2C topics. For example, the following works ...

[code]

[2020-04-09 15:59] kristiangronli commented on #17578
I'm still struggling with errors on this.
Following the instructions from @javiercn  and following @Alienroid I end up with:

``

services.AddAuthentication(AzureADB2CDefaults.AuthenticationScheme)
                .AddAzureADB2C(options => Configuration.Bind("AzureAdB2C", options));

services.Configure<OpenIdConnectOptions>(AzureADB2CDefaults.OpenIdScheme, options =>
            {

[2020-04-09 16:17] jmichas opened #17697 "Using builder.Configure() in custom WebApplicationFactory causes Client 404 Error"
I spent the better part of the last 2 days trying to figure out why my integration test client would only return 404 when I had another project with its own test project using the same setup that worked fine.
It turned out after to tearing things down and building them up a block/line of code at a time and testing, that I added to the "override void ConfigureWebHost(IWebHostBuilder builder)" a bui

[2020-04-09 16:40] Alienroid commented on #17578
@kristiangronli<mailto:notifications@github.com>

I forgot to mention, I changed the options.ResponseType = “code id_token”;

If you only have code, you’ll get some message saying it’s expecting both id token and access token.
Also, make sure your domain defined ‘api’ and your scope is defined ‘read’ in AADB2C

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: kr

[2020-04-09 16:59] DrakeLambert opened #17698 "Conflicting Instructions: Hierarchal Keys with Azure Key Vault Provider"
In the [Configuration keys and values](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.1#configuration-keys-and-values) section, the following instruction is given for using hierarchal keys with the Azure Key Vault Provider:

To me, this sounds like I'll need to add custom code to my application to handle converting the `--` to `:`. In practice, I've foun

[2020-04-09 17:10] kristiangronli commented on #17578
@Alienroid Thank you - I still get the same  error message even if I changed the options.ResponseType = “code id_token”.
Can you possibly take a quick look at my code and see if it it different from yours?
https://github.com/kristiangronli/AppsConfiguredWithB2C/blob/master/BlazorServerApp/Startup.cs

[2020-04-09 17:11] guardrex commented on #17522
@Alienroid Hack'in around with bits and probably creating some 🙈 **_giant security holes_** 🙈  ...

* Registered a callback in the portal for a password reset: `https://localhost:5001/passwordreset-callback`
* Have a basic password reset user flow: `B2C_1_passwordreset1`
* In `LoginDisplay`, I hack up a challenge ...

[code]

* A component to handle the callback (*PasswordReset.razor*) ...

[code]

[2020-04-09 17:39] #17403 closed

[2020-04-09 17:39] Rick-Anderson commented on #17698
@DrakeLambert good catch.
I think the only difference is in how to store the keys/values. In AKV, replace `:` with `--`
You don't change the code to read the key/values.

A PR would be great.

[2020-04-09 17:46] Rick-Anderson commented on #17697
Moved to Integration tests MASTER issue #16341

[2020-04-09 17:46] #17697 closed

[2020-04-09 17:52] scottaddie commented on #17031
This request was addressed in https://github.com/dotnet/AspNetCore.Docs/pull/17623.

[2020-04-09 17:52] #17031 closed

[2020-04-09 17:59] danroth27 opened #17701 "Update Blazor VSCode getting started steps to use correct 2-step debugging proceedure"
We took a shortcut in the getting started steps for Blazor in VSCode by not providing all the steps needed to successfully debug a Blazor WebAssembly app. Currently the steps say in step 8: "Run the app using the Visual Studio Code debugger."  Some customers trying out Blazor WebAssembly in VSCode then get confused why debugging doesn't actually work. In other cases they use the wrong launch confi

[2020-04-09 18:03] Rick-Anderson commented on #17696
It's the path where the *appSetting.Json* family of files are.
[code]

[2020-04-09 18:03] #17696 closed

[2020-04-09 18:15] Rick-Anderson commented on #17689
Thanks for your comment.

[2020-04-09 18:15] #17689 closed

[2020-04-09 18:21] Rick-Anderson commented on #17688
Per the doc
`dotnet run`

[2020-04-09 18:21] #17688 closed

[2020-04-09 18:21] Rick-Anderson commented on #17687
Per the doc
`dotnet run`

[2020-04-09 18:21] #17687 closed

[2020-04-09 18:27] #17701 closed

[2020-04-09 18:31] mrjmCyber opened #17705 "AspNetCore.SignalR CROS Error: No 'Access-Control-Allow-Origin' header is present on the requested resource"
i followed the exact tutorial  from
https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr?view=aspnetcore-3.1&tabs=visual-studio
and then i wanted to access the hub from another Origin. so i followed the exact instructions in https://docs.microsoft.com/en-us/aspnet/core/signalr/security?view=aspnetcore-3.1

but i get this error:
`Access to XMLHttpRequest at 'http://localhost:55039/myhub/n

[2020-04-09 18:35] BrennanConroy commented on #17705
I'm not sure if this is the issue, but could you try removing the trailing `/`?
`http://localhost:54114/` -> `http://localhost:54114`

[2020-04-09 18:39] spectrumcomputing commented on #17687
Hi, thanks for the reply, but I don't see dotnet run in the docs:

![Capture](https://user-images.githubusercontent.com/38283339/78929159-c8764300-7a99-11ea-84d9-8cd8b572b683.PNG)

[2020-04-09 18:41] spectrumcomputing commented on #17688
Hi, sorry but I don;t see that:

![Capture2](https://user-images.githubusercontent.com/38283339/78929350-26a32600-7a9a-11ea-8a83-ca77f41fb41b.PNG)

https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-3.1&tabs=visual-studio-code

[2020-04-09 18:49] danroth27 commented on #17483
I'm reopening this as I think we need to somehow surface this content as part of the Blazor docs as well. Currently this content is in the SPA docs. Maybe we could cross-link to this section from https://docs.microsoft.com/aspnet/core/security/blazor/webassembly/hosted-with-identity-server?

Also, the current content doesn't mention using Azure Key Vault at all for setting up the signing certifica

[2020-04-09 19:00] mrjmCyber commented on #17705
thank you so much , im struggling with this about 3 hours.
its been solved

[2020-04-09 19:00] #17705 closed

[2020-04-09 19:14] Alienroid commented on #17578
Not sure it matters,

But in the AzureAdB2C Instance, I have it end in …b2clogin.com/tfp/

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: kristiangronli<mailto:notifications@github.com>
Sent: Thursday, April 9, 2020 10:10 AM
To: dotnet/AspNetCore.Docs<mailto:AspNetCore.Docs@noreply.github.com>
Cc: Alienroid<mailto:iam31337@hotmail.com>; Mention<mailto:mention@

[2020-04-09 19:26] rabol opened #17707 "dotnet ef migrations add InitialCreate - fail"
dotnet ef migrations add InitialCreate
Build started...
Build succeeded.
Your startup project 'razor' doesn't reference Microsoft.EntityFrameworkCore.Design. This package is required for the Entity Framework Core Tools to work. Ensure your startup project is correct, install the package, and try again.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-04-09 19:28] DrakeLambert commented on #17698
@Rick-Anderson see #17706

[2020-04-09 20:03] adamasmar commented on #17319
So I have a similar issue that I can't seem to track down. In our B2C client's AD, we have two types of users. First there are those who are sourced via the Federated Azure Active Directory (which is our parent Azure AD that uses company credentials to validate any user). Then we have those who are sourced via the default Azure Active Active Directory on the B2C subscription.

For some reason, tho

[2020-04-09 20:07] guardrex commented on #17319
@adamasmar ... open that for engineering at https://github.com/dotnet/aspnetcore/issues.

Please add a `cc: @guardrex` to the bottom of your issue there so that I can track the discussion. I'm working on these new topics almost daily. If it turns out to be something good that we can surface in the doc, I'll open a new issue for it.

[2020-04-09 20:44] #17698 closed

[2020-04-09 20:46] Rick-Anderson commented on #17707
It's there
[code]

[2020-04-09 20:46] #17707 closed

[2020-04-09 21:49] shirhatti opened #17708 "Add docs about the default error page in the templates"
We currently display a request Id in the default error pages in our templates. There are no docs today on the format of that request Id or how can customers can use it to find their issue.

![MicrosoftTeams-image](https://user-images.githubusercontent.com/4734691/78943334-40843f00-7a81-11ea-8463-5872f5028e8c.png)

I'm proposing we create a doc that covers what the request id (or [suitable replacem

[2020-04-09 22:17] #7268 closed

[2020-04-09 22:17] #16242 closed

[2020-04-09 22:17] #16574 closed

[2020-04-09 22:17] #17328 closed

[2020-04-09 22:17] #13423 closed

[2020-04-09 22:17] #17590 closed

[2020-04-09 22:22] Rick-Anderson commented on #17624
`[Enable Cross-Origin Requests (CORS)]` (xref:security/cors)`https://github.com/dotnet/AspNetCore.Docs/pull/17345 total rewrite of CORS doc

[2020-04-09 22:37] Rick-Anderson opened #17711 "Review CORS"
Doc needs a read through and review.

* Content Source: [aspnetcore/security/cors.md](https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/security/cors.md)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59bca5db-1196-2a8b-a0d8-4e89b2382288
* Version Independent ID: d3f332c4-4c60-039e-0e1e-bc6b11831f87
* Con

[2020-04-09 23:04] danroth27 opened #17713 "Make content about using EF Core with Blazor Server more discoverable"
Lots of folks stumble when they try to use EF Core with Blazor Server because of the issues described in this doc. Unfortunately, the content in the [Use of EF DbContext fromDI](https://docs.microsoft.com/aspnet/core/blazor/dependency-injection#use-of-entity-framework-dbcontext-from-di) section isn't particularly discoverable. I think we should consider having a top level node in the Blazor docs a

[2020-04-09 23:35] danroth27 commented on #17483
Related https://github.com/dotnet/aspnetcore/issues/20700

[2020-04-10 00:18] CmdrBeavis opened #17715 "Do we need to export the private key also?"
Under the /The sample app uses an Application ID and X.509 certificate when the #define statement at the top of the Program.cs file is set to Certificate./ section, where you talk about exporting the .pfx, it would be REALLY helpful if you'd let us know whether or not we're supposed to "..export the private key."  &gt;:|

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-04-10 00:23] Rick-Anderson commented on #17708
@shirhatti  if you can provide a draft I'll finish it off. Any format fine.

[2020-04-10 00:24] guardrex commented on #17713
Duplicate of https://github.com/dotnet/AspNetCore.Docs/issues/16558. I'll add the remark to that issue.

[2020-04-10 00:24] #17713 closed

[2020-04-10 00:24] guardrex commented on #16558
https://github.com/dotnet/AspNetCore.Docs/issues/17713

[2020-04-10 00:27] CmdrBeavis commented on #17715
Okay, well, after re-reading;

c. Select *Upload certificate* to upload the certificate, **_which contains the public key_**. A .cer, .pem, or .crt certificate is acceptable.

I tried it without the private key, and this appears to be the correct option given that a `DER encoded binary X.509 (.CER)` option is the first thing I see.

Seriously though, this is computers folks, **specificity** is kin

[2020-04-10 00:28] Rick-Anderson commented on #17518
Moved to Master list: Create a web API and MongoDB #16196

[2020-04-10 00:28] #17518 closed

[2020-04-10 00:28] Rick-Anderson commented on #17692
Moved to Master list: Create a web API and MongoDB #16196

[2020-04-10 00:31] Rick-Anderson commented on #17715
@CmdrBeavis  thanks for the update. This isn't a tutorial, it's an advanced topic. We'll review this issue when we have time to update the doc. Feel free to PR to improve the instructions.
At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

[2020-04-10 00:31] #17715 closed

[2020-04-10 00:38] johnathan-s commented on #17518
Thank you Rick.
Stay well.

On Fri, Apr 10, 2020 at 12:28 PM Rick Anderson <notifications@github.com>
wrote:

[2020-04-10 00:46] Alienroid commented on #17522
Thanks for the sample Luke, I got the reset user flow to work!

If I do blazor server side, AADB2C only needs to define one application (in Azure portal) and I can use multiple user flows using the same one. The redirect path is the same for /signin-oidc.

On Blazor WASM, I have to define one app for each user flow (SignInSignOut, ResetPassword, etc) because they have different redirect?

Thanks a

[2020-04-10 00:58] guardrex commented on #17522
AFAICT, there would be:

* One app.
* One app registration in the portal with however many callback paths the app needs.
* However many user flows are needed, which can be reused across different apps.

[2020-04-10 01:09] Alienroid commented on #17522
Omg, I can’t believe I sent that out after I validated it. I really shouldn’t stayed up until 5. Brain turned off.

Thanks again 😉

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Luke Latham <notifications@github.com>
Sent: Thursday, April 9, 2020 5:58:58 PM
To: dotnet/AspNetCore.Docs <AspNetCore.Docs@noreply.github.com>
Cc: Alienroid <iam31337@hotmail.com>; M

[2020-04-10 02:51] Rick-Anderson opened #17717 "Improve CSAT OKR: /aspnet/aspnet/overview/owin-and-katana/owin-oauth-20-authorization-server"
[Internal bug](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1702027) must be closed when this issue closes.

[OWIN OAuth 2.0 Authorization Server](https://docs.microsoft.com/en-us/aspnet/aspnet/overview/owin-and-katana/owin-oauth-20-authorization-server)

[2020-04-10 03:06] danroth27 commented on #16558
@JeremyLikness

[2020-04-10 03:12] Rick-Anderson opened #17718 "Improve CSAT OKR: Host ASP.NET Core on Windows with IIS"
[Internal bug](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1702032)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec484002-18c1-6a0d-00de-820d56f038d3
* Version Independent ID: 7903ce53-2cbb-f083-7479-c8abc30211a0
* Content: [Host ASP.NET Core on Windows with IIS](https://docs.microsoft.com/en-us/aspn

[2020-04-10 03:13] Rick-Anderson opened #17719 "Improve CSAT OKR: Logging in .NET Core and ASP.NET Core"
[Internal bug](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1702031)

This document gets high traffic and low CSAT (customer satisfaction ratings).

I'll reorganize this doc:

* Split up  Generic Host and non-host console app into different sections.  Generic Host will come first. That way most customers will not need to wade through all the non-host console app details.
* Address

[2020-04-10 03:20] Rick-Anderson opened #17720 "Improve CSAT OKR:Globalization and localization in ASP.NET Core"
[Internal bug](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1702030)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1833676-ff1b-c587-cc9c-81afffa8ef68
* Version Independent ID: ad989395-3f49-4d55-521e-cf6fe56281ee
* Content: [Globalization and localization in ASP.NET Core](https://docs.microsoft.com/e

[2020-04-10 03:21] Rick-Anderson opened #17721 "Improve CSAT OKR:Use multiple environments in ASP.NET Core"
[Internal bug](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1702029)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceffa6a2-770c-1cd9-5145-dcd423f9dd22
* Version Independent ID: 1cb5eb30-dd84-e5e1-5826-d74243fabf04
* Content: [Use multiple environments in ASP.NET Core](https://docs.microsoft.com/en-us/

[2020-04-10 03:24] Rick-Anderson commented on #17721
Fixed in PR https://github.com/dotnet/AspNetDocs/pull/365

[2020-04-10 03:25] Rick-Anderson commented on #17717
Fixed in PR https://github.com/dotnet/AspNetDocs/pull/365

[2020-04-10 03:25] #17717 closed

[2020-04-10 06:05] rabol commented on #17707
But the above is not what is written in the tutorial

[2020-04-10 07:29] msnSea opened #17722 "Screenshot unconsistency"
doc Says
"Select ASP.NET Core 3.1 in the dropdown, Web Application, and then select Create."
But Image refers to version 3.0.100-preview7-012801
For more consistency update the screenshot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a25bf940-8977-fec4-461b-542a9f550fc8
* Version Independent ID: 5492c641-af15-64b8-bea

[2020-04-10 08:26] bdnts commented on #17578
Howdy.  So found a post by Steve Sanderson, July, 2019, says the Blazor template works "out of the box" with ADB2C.  Well, he's right!  I re-worked my BlazorAdB2C project from scratch, and it works just fine.  Still have a LOT of testing to do, questions work out, but it is a stepping stone.  I've put my notes into the Readme.md, in which GitHub stripped supposedly legal html, so formatting is off

[2020-04-10 09:11] amazink commented on #17641
Apparently it was an internal error.

[2020-04-10 11:29] carnadso opened #17723 "Should specify that UseForwardedHeaders should be placed before UseHttpsRedirection"
I just had this happen to a greener colleague. They thought that Configure is somewhat similar to ConfigureServices in that the ordering of statements is less crucial and ended up placing UseForwardedHeaders *after* UseHttpsRedirection.

The documentation already states that UseForwardedHeaders should be placed before UseAuthentication, so I imagine it could also specify that it should be placed b

[2020-04-10 11:31] carnadso opened #17724 "Should explain how testCert.crt/testCert.key can be generated"
Right now the files are just assumed to be there. There should be a small paragraph/section detailing how to create a self-signed cert if its use is shown in the NGINX config file example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcdd2c35-bf2b-2673-d150-303a8aaa54d2
* Version Independent ID: 815fe034-c9fc-aee3-a8

[2020-04-10 11:35] #17210 closed

[2020-04-10 11:37] #17567 closed

[2020-04-10 11:45] #17522 closed

[2020-04-10 11:55] guardrex commented on #17723
Hello @carnadso ... Of course, there's nothing wrong with adding that little tidbit here. It's currently covered in the linked topic ...

... where it's placed right at the very top in the example code.

https://docs.microsoft.com/aspnet/core/host-and-deploy/proxy-load-balancer#other-proxy-server-and-load-balancer-scenarios

It should also be changed in the companion Apache topic.

I have a minute

[2020-04-10 12:03] carnadso commented on #17724
I *do* realize that this is somewhat off-topic in regards to the main purpose of the article, as it's more about doing NGINX config work.

So I'm not sure what to suggest about how to approach this as not to go off-topic.
As an aside, I *do* like the way DigitalOcean has such a topic covered (https://www.digitalocean.com/community/tutorials/how-to-deploy-an-asp-net-core-application-with-mysql-serv

[2020-04-10 12:10] carnadso commented on #17723
Thanks a bunch for taking the time to work on this!

I know about the other article and I also know that having the correct statement order seems obvious, but there you have it, sometimes -- when feeling slightly overwhelmed by the newness o it all, perhaps -- it's simply not *that* obvious.

Maybe nudging the reader to *really* consider reading the proxy/LB-specific article could also be a good i

[2020-04-10 12:24] guardrex commented on #17723
IMO, we shouldn't go further than our standard remark for cross-linked content ... 'for more info, see.' When/where to be pushy and how to word it (e.g., 'for important info, see') would be rather subjective and thus probably not be helpful. *All* of the related guidance is *important* for devs to read and digest. That's why any cross-links is present anywhere in the docs. We're careful to avoid c

[2020-04-10 12:27] carnadso commented on #17723
Got it, thanks for the explanation! It really helps with trying to figure out the tone/scope that's desired for the documentation articles, which I'm still trying to figure for when I ever feel like I can directly contribute with a PR.

[2020-04-10 13:20] joshmouch opened #17727 "Using scopes with async/await"
I've noticed that logging scopes are lost when using `async/await` and a thread switch occurs.  Is there a way to prevent this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-f367-d733-8933-bccc04da0e16
* Content: [Logging in .NET Core and ASP.NET

[2020-04-10 13:51] TyneBridges opened #17728 "Jargon"
There is an awful lot of jargon here, not all of which is cross-referenced. I was under the impression that this is intended for beginners and I have never heard the term "scaffolding" in software development.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID:

[2020-04-10 14:12] TyneBridges opened #17729 "Halts at "Scaffold the movie model""
When trying the "Scaffold the movie model" I keep seeing the error that RazorPagesMovie.dll can't be accessed because it's already in use. This is despite closing all files and then closing the editor.  This is extremely frustrating because I can't see any advice on what the problem is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-04-10 14:17] TyneBridges commented on #17729
Should have mentioned that the command that brings the multiple errors is dotnet aspnet-codegenerator razorpage -m Movie -dc RazorPagesMovieContext -udl -outDir Pages\Movies --referenceScriptLibraries . I'm using Windows 10 and Visual Studio Core latest version, downloaded today.

[2020-04-10 14:18] syndicatedshannon opened #17730 "Middleware Scope operation disagrees between documents"
I think this document and another are in conflict on a salient point. Compare:

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/extensibility?view=aspnetcore-3.1
"Activation per client request (injection of scoped services) ... IMiddleware is activated per client request (connection), so scoped services can be injected into the middleware's constructor."

https://docs.microsof

[2020-04-10 16:32] scottaddie opened #17731 "Document project template option for enabling Razor runtime compilation"
See https://github.com/dotnet/aspnetcore/pull/18648

Add to the following docs:

- [x] https://docs.microsoft.com/dotnet/core/tools/dotnet-new#web-options
- [ ] https://docs.microsoft.com/aspnet/core/mvc/views/view-compilation

[2020-04-10 17:15] nitishwebgentle opened #17733 "Getting runtime error while displaying ViewData attribute value using @Model on view"
I am using _ViewData_ attribute to display its value on _View_ using _Model_.

Here is the code from my controller file:

` public class HomeController : Controller
    {
        [ViewData]
        public string Title { get; set; }

        public ViewResult Index()
        {
            Title = "Home page title";

            return View();
        }
    }`

Now as per the [documentation ](https:

[2020-04-10 17:27] #15505 closed

[2020-04-10 17:27] #16420 closed

[2020-04-10 17:35] Rick-Anderson commented on #17729
The error message tells the problem. Usually that's Kestrel is running, not the editor or other tool.

[2020-04-10 17:35] #17729 closed

[2020-04-10 17:37] Rick-Anderson commented on #17728
Thanks for your comment.

[2020-04-10 17:37] #17728 closed

[2020-04-10 17:39] Rick-Anderson commented on #17727
Moved to Master issue for Logging in .NET Core and ASP.NET Core #16174

[2020-04-10 17:41] #17723 closed

[2020-04-10 17:42] Rick-Anderson opened #17735 "Container issue: Host ASP.NET Core on Linux with Nginx"
This is the master issue for this doc. If you PR this doc and don't fix all the issues, open the issues you fix and close against that.

PU issues:
- [ ]  Should explain how testCert.crt/testCert.key can be generated #17724
- [ ]  https://github.com/dotnet/AspNetCore.Docs/issues/14005
- [ ]  Deploy to subdirectory #15464
- [ ] Missing SignalR config? #11403

---
#### Document Details

⚠ *Do not ed

[2020-04-10 17:46] Rick-Anderson commented on #11403
Moved to Master issue: Host ASP.NET Core on Linux with Nginx #17735

[2020-04-10 17:46] Rick-Anderson commented on #14005
Moved to Master issue: Host ASP.NET Core on Linux with Nginx #17735

[2020-04-10 17:46] #14005 closed

[2020-04-10 17:46] Rick-Anderson commented on #15464
Moved to Master issue: Host ASP.NET Core on Linux with Nginx #17735

[2020-04-10 17:46] Rick-Anderson commented on #17724
Moved to Master issue: Host ASP.NET Core on Linux with Nginx #17735

[2020-04-10 17:46] #17724 closed

[2020-04-10 17:54] Rick-Anderson commented on #17722
We'll update this in the next review.

[2020-04-10 17:54] #17722 closed

[2020-04-10 17:55] Rick-Anderson commented on #17707
I copy/pasted that from the tutorial.

[2020-04-10 19:39] mouleja opened #17737 "Chrome issues with logged in user"
Just a note- I was not able to complete steps initially because I kept getting to a screen with 'Couldn't sign you in -&gt; This browser or app may not be secure.' message when using Chrome.  Oddly it worked with Firefox.  After a bit of digging, it turned out the issue was that I couldn't sign in with my Google id because I had another Chrome window open that I was already signed in to.  I could

[2020-04-10 20:20] CeciAc opened #17738 "Classic method for DataAnnotations Localization"
@GioviQ commented yesterday — with docs.microsoft.com
I verified in my blazor app, that the classic localization method is still working. E.g.:

[StringLength(64, ErrorMessageResourceType = typeof(Strings), ErrorMessageResourceName = "ErrorInvalidLength", MinimumLength = 2)]
[RegularExpression(@"[^\s]+", ErrorMessageResourceType = typeof(Strings), ErrorMessageResourceName = "SpacesNotPermitted")]

[2020-04-10 20:31] serpent5 commented on #17730
Both statements are true, but in different contexts, i.e. whether using the conventional approach (second link) or the factory-based approach (first link).

Perhaps [Per-request middleware dependencies](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/write?view=aspnetcore-3.1#per-request-middleware-dependencies) could mention and link to [Factory-based middleware](https://docs

[2020-04-10 20:57] Rick-Anderson commented on #17737
THanks for the info.

[2020-04-10 20:57] #17737 closed

[2020-04-10 20:58] Rick-Anderson commented on #17738
@GioviQ  Thanks for the report.

[2020-04-10 20:58] #17738 closed

[2020-04-10 22:07] Aveline67 opened #17739 "Any more detailed example ?"
Let's say I do create a generic widget component with specific template for each widget, how could I use this feature to avoid creating a big @switch in razor ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e918d36-59d2-2264-e6b3-27071cda549c
* Version Independent ID: c7e7e5bc-4686-d641-4f1e-da2de7491758
* Content: [

[2020-04-10 23:02] Aveline67 commented on #17739
The feature is no intended for this use case.

[2020-04-10 23:02] #17739 closed

[2020-04-11 06:16] nitishwebgentle commented on #17733
I have tried with _Visual Studio 2019 & DotNet CLI_. In both the cases, I am getting the same error.

[2020-04-11 07:15] syndicatedshannon commented on #17730
@serpent5 Thank you, I'm not positive I follow you. I think I understand, but if so it's surprising.

Do you mean that UseMiddleware<T>() where T : IMiddleware results in a different lifetime than UseMiddleware<T>() where T : object?

If so, I wasn't expecting that at all. I normally prefer to implement interfaces when available for clarity. When a convention approach and interface approach are av

[2020-04-11 07:21] syndicatedshannon commented on #17730
Also, I didn't follow that IMiddleware *IS* factory-based activation. I think I have to know that already when I start reading, for the document to be clear.

[2020-04-11 07:22] caleblloyd commented on #17649
I have been scouring documentation and source code for a few hours trying to get Roles and Policies to work in Blazor WebAssembly..

The documentation listed in this issue took care of the Server portion.  But I still had to add the following additional configuration to the Client project to get this working with the `<AuthorizeView Role="roleName">` component on the Blazor WebAssembly client.

1.

[2020-04-11 07:32] syndicatedshannon commented on #17730
Also, I think part of my confusion is that I didn't realize factory approach and conventional approach were mutually exclusive. I understand from experience what is meant when contrasting API surfaces... but when someone asks if I want factories or interfaces my answer may be "yes please".

[2020-04-11 07:56] syndicatedshannon commented on #17730
And the same confusion on the other document. When it says "Because middleware is constructed at app startup, not per-request", I assumed it meant all middleware in the ASP.NET Core implementation. I didn't find any reason to think that the "Write custom ASP.NET Core middleware" document didn't describe the IMiddleware as well.

Note that I had visited both links, and included them in the initial

[2020-04-11 10:12] sergy2k opened #17742 "Encryption at rest section seems to be out of place"
Why is there an 'Encryption at rest' section in on this page? How does it relate to the 'EU General Data Protection Regulation (GDPR) support in ASP.NET Core'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28d0490e-205f-20a5-ace5-904f4c8ad78f
* Version Independent ID: 4a2c8d95-fdd2-fdb1-b61d-802d0a8539c3
* Content: [G

[2020-04-11 12:23] mungojam commented on #17187
they use it [here](https://github.com/aws/aws-lambda-dotnet/blob/85dd6e164c324120535815e02c30e3ae2e5d72f3/Libraries/src/Amazon.Lambda.AspNetCoreServer/AbstractAspNetCoreFunction.cs#L360-L366) as a way to pass the lambda context through to the controllers:

[code]

[2020-04-11 14:40] guardrex commented on #17649
@caleblloyd ... In your testing, did you merely try (in the client app and with a `role` claim coming down) ...

[code]

[2020-04-11 14:45] derth opened #17744 "Documentation about ModelStateDictionary.AddModelError"
Trying to find documentation about ModelState.AddModelError(), but can't find anything, except the .net api docs.
I can find usage of it in sample projects, but not official docs for it. Can you point me to the docs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0156ffc3-47ac-d5da-fbc2-9ff5018b071b
* Version Independe

[2020-04-11 15:06] caleblloyd commented on #17649
Yes, I did try that first.  It causes the call to:

[code]

To change to this, which results in a 404

[code]

It appears that there was already an issue for this and it has been fixed in preview4: https://github.com/dotnet/aspnetcore/issues/19854

So if that fix is good, it's probably best to just use your snippet in the documentation, much simpler!

[2020-04-11 15:10] caleblloyd commented on #17649
I can confirm that your workaround with the double call to `AddApiAuthorization` does work for preview3:

[code]

Thanks!

[2020-04-11 15:17] guardrex commented on #17649
I'm new to IS, so I'm **_all for it being simple_** to get the various scenarios covered.

I also noticed an SO post where a user used the Profile Service to do what @javiercn did in just a few lines of code. I wonder if IS users will find that useful for other reasons (i.e., they need Profile Service anyway for other purposes). We might end up showing both approaches. The Profile Service way is .

[2020-04-11 15:58] serpent5 commented on #17730
Another option might be to combine the two topics - they're both small, making a total 6-minute read, although they may be split for a good reason.

That might allow for a better flow from one into the other. @Rick-Anderson What do you think?

[2020-04-11 16:28] syndicatedshannon commented on #17730
@serpent5 : I know you weren't speaking to me, but I think that would have helped me out. The flow of both documents is already similar, and where they aren't I feel like the information is missing from one or the other.

Alternately if they need to be separate, it would have also helped me to have a "Middleware" guidance, and separate children for factory/interface and conventional implementation

[2020-04-11 16:33] syndicatedshannon commented on #17730
Now that I understand the difference, I'm also confused, and would love some guidance added on a concern. I thought that middleware should generally be a singleton anyway, with per-request properties in the Invoke, to avoid ending up with dependency chain initialization running for every request.

Now that I see it's a significant behavioral difference, I'm uncertain about how to implement. I try

[2020-04-11 16:37] syndicatedshannon commented on #17730
Oh noes! I'm also confused now about possible behavioral differences on UseMiddleware<T>(TDependency). Disaster! LOL.

[2020-04-11 17:00] serpent5 commented on #17730
I'm just a contributor here in the docs, so I can't give official guidance. I'll leave it up to @Rick-Anderson to take any necessary action for that.

`UseMiddleware<TMiddleware>` throws an exception if `TMiddleware` implements `IMiddleware` and `args` are passed ([source](https://github.com/dotnet/aspnetcore/blob/release/3.1/src/Http/Http.Abstractions/src/Extensions/UseMiddlewareExtensions.cs#L46

[2020-04-11 17:07] Rick-Anderson commented on #17742
https://docs.microsoft.com/en-us/aspnet/core/security/gdpr?view=aspnetcore-3.1#encryption-at-rest

[2020-04-11 17:07] #17742 closed

[2020-04-11 17:09] syndicatedshannon commented on #17730
@serpent5 TY. Be well.

[2020-04-11 17:10] Rick-Anderson commented on #17187
Can you provide a link to `LAMBDA_REQUEST_OBJECT`

[2020-04-11 17:14] davidfowl commented on #17187
It's a pretty advanced topic honestly. These wouldn't usually come up unless you were building a custom server or doing something just as advanced.

[2020-04-11 17:16] Rick-Anderson commented on #17744
Here's some examples
* https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/handling-concurrency-with-the-entity-framework-in-an-asp-net-mvc-application#modify-department-controller
* https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/testing
* https://docs.microsoft.com/en-us/aspnet/core/test/razor-pages-tests

[2020-04-11 17:16] #17744 closed

[2020-04-11 17:21] Rick-Anderson commented on #17730
Let's go with that.

[2020-04-11 17:25] mungojam commented on #17187
I went looking for documentation on it as I thought I might want to use it to inject some additional context information into the controllers. I did end up doing just that but maybe there was a more natural way or something.

[2020-04-11 17:47] davidfowl commented on #17187
Amazon implements a custom `IServer` (like Kestrel or IIS) and this is how they are setting state in HttpContext.Items (that's backed by the IItemsFeature).

[2020-04-11 17:54] #17187 closed

[2020-04-12 00:18] MagicPelikan opened #17745 "Issue injecting a service using DI into a class that inherits from Hub"
Hi everyone. I'm using asp net core 3.1 but I can't inject a service into a class that inherits from Hub.
I have something like:
[code]
Then in my Startup.cs I have something like:
[code]

I'm getting this error:
**System.InvalidOperationException: A suitable constructor for type 'BlazorSignalRApp.Server.Hubs' could not be located. Ensure the type is concrete and services are registered for all pa

[2020-04-12 00:31] BrennanConroy commented on #17745
Have you added a `IMyCustomService` type into DI?
https://docs.microsoft.com/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-3.1#service-registration-methods

[2020-04-12 00:57] AlbertoPa commented on #17649
The profile approach does implicitly what you achieved with the AddApiAuthorization command in the client, by adding the claim to the token sent back to the server with the request, so they both should be OK.

If nothing is done on the client, with the approach provided at the top of this issue, the user claims sent from the server are:

![image](https://user-images.githubusercontent.com/423032/79

[2020-04-12 01:18] guardrex commented on #17649
I didn't do that in my test with the Profile Service. Did you mean it's necessary with the client-added `role` claim approach (as Javier points out in the opening remark)?

[2020-04-12 01:23] MagicPelikan commented on #17745
Hi Brennan. No, I have not. But after reading now my initial post I found out I made a mistake posting the example code.
The code that it's actually throwing the error is:

[code]

I removed the **public** keyword in front of ```MyHub(IMyCustomService myCustomService)``` because when I put **public** I got an error from the VS intellisense saying:
**Inconsistent accessibility: parameter type 'IMyC

[2020-04-12 01:39] weitzhandler opened #17746 "Is there a running sample project on GH?"
Hi,

I'm wondering if there is a GitHub repo containing the code in this page as an organized sample?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef47457-c8cf-74a4-b884-c1fe5c2ef52d
* Version Independent ID: 09a02d10-2834-467d-d8c2-3fd19ceb3863
* Content: [ASP.NET Core Blazor forms and validation](https://docs.micr

[2020-04-12 01:41] BrennanConroy commented on #17745
You should probably fix both errors

[2020-04-12 01:43] guardrex commented on #17746
Hello @weitzhandler ... There isn't ... *Yet!* ... It will be added to the common sample on https://github.com/dotnet/AspNetCore.Docs/issues/14216. Given the workload right now through May (for the 3.2 release), it won't happen until at least June.

[2020-04-12 01:43] #17746 closed

[2020-04-12 01:45] weitzhandler commented on #17360
Related: #17746.

[2020-04-12 01:48] MagicPelikan commented on #17745
Working on it...

[2020-04-12 02:50] weitzhandler opened #17747 "DI in code-behind constructor?"
Hi,

When using C# 8 nullable references, the compiler isn't aware of the injection and issues warnings for those properties.
Current workaround is:
[code]

But I was hoping for a less verbose way of achieving this.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce9457c7-13d4-1520-790c-a18187532ff4
* Version

[2020-04-12 03:06] robcamer opened #17748 "Getting nested config values from KeyVault fails."
I am using the sample code in my app.  For nested configuration sections that I put into KeyVault with the '--' instead of ':' fail to load when managed as a config section in the app.  I found I had to add "builder.build()" a second time after loading the KeyVault secrets.  My code is below.  Note the addition of builder.build() at the end after configuring Key Vault:

[code]
---
#### Document De

[2020-04-12 03:13] Rick-Anderson commented on #17748
@robcamer  I clean up your code a bit, can you check it. You can't enter code from the doc page, that needs to be done on GitHub or replaces `>`  with the HTML encoded version `&gt;
`
Code needs to be code fenced

[2020-04-12 05:21] weitzhandler opened #17749 "We could use EnsureCreatedAsync using async Main"
In .NET Core &gt; 2.1, `async Task Main` can be used instead, then `EnsureCreatedAsync` could be used.

I find it really important to point that out in the docs, because many people are looking for ways to initialize post-build app stuff, that are many times asynchronous.

[Here](https://stackoverflow.com/a/61166934/75500)'s an example question in SO.

Created PR #17750.

---
#### Document Details

[2020-04-12 05:58] Rick-Anderson commented on #17749
`EnsureCreatedAsync` is not suitable for production apps.

[2020-04-12 06:03] weitzhandler commented on #17749
Can you please explain?

[2020-04-12 06:04] Rick-Anderson commented on #17749
@ajcvickers please review. We should probably update the doc's with best practice.

[2020-04-12 08:43] caleblloyd opened #17751 "SignalR Core Auth - Token in Query String section does not address AddIdentityServerJwt()"
The Token in Query String section addresses the case where `AddJwtBearer()` is called directly:

[code]

It does not cover the Identity Server case where `AddIdentityServerJwt()` is used instead, which is the default for Blazor WebAssembly apps scaffolded with authentication.

[code]

In this case, calling `AddJwtBearer` after `AddIdentityServerJwt` does not work:

[code]

---
#### Document Detail

[2020-04-12 08:48] caleblloyd commented on #17751
@guardrex here is another one related to IS that I encountered using Blazor WebAssembly with SignalR.

Note that WebSockets will not pass access tokens in the query string the C# SignalR client running in the browser until https://github.com/dotnet/aspnetcore/pull/20466 is merged.  I have a workaround to pass the access token in the query string that I have been testing this with though.

[2020-04-12 08:52] caleblloyd commented on #17751
I was able to get it working using a PostConfigureOptions service:

[code]

Startup.cs configuration:

[code]

[2020-04-12 09:32] AndiRudi opened #17752 "Invalidate Cache on new data"
Hi, i tried to find more information on how to invalidate the response cache when underlaying data has changed. The link to change tokes is very interesting but I didn't get if it is possible to use change tokens to invalidate the cache on a GET call when a new POST/PATCH/PUT call was made or the data changed in any other way. Some pages I found mention this is not possible. Maybe a note about how

[2020-04-12 11:51] EmpeRoar opened #17753 "semicolon missing :D"
options.PayloadSerializerOptions.PropertyNamingPolicy = null
should be
options.PayloadSerializerOptions.PropertyNamingPolicy = null;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de8cdc99-48bb-3266-05bb-eda98f59f2e2
* Version Independent ID: 66d252c3-6300-7e28-9aa0-ef2ff66e7a76
* Content: [ASP.NET Core SignalR configu

[2020-04-12 13:15] guardrex commented on #17747
Hello @weitzhandler ... best to ask about that one on the engineering repo. Open it at ...

https://github.com/dotnet/aspnetcore/issues

Please add a `cc: @guardrex` to your issue so that I can follow the discussion.

[2020-04-12 13:15] #17747 closed

[2020-04-12 13:24] guardrex commented on #17751
@BrennanConroy Do we need to cover anything in this topic given https://github.com/dotnet/aspnetcore/pull/20466?

Since https://docs.microsoft.com/aspnet/core/tutorials/signalr-blazor-webassembly is a tutorial, this information would have to go in the SignalR topic if covered.

[2020-04-12 14:00] #17753 closed

[2020-04-12 17:38] syndicatedshannon commented on #17730
@Rick-Anderson : It may be irrelevant to your decision, but another link probably wouldn't have helped me through the issue I reported, since I had found both documents, and merely found them to conflict.

[2020-04-12 17:40] lilx-ms opened #17757 "Links are expired"
404 from links on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82950389-524e-0754-a125-addeccbdb1b3
* Version Independent ID: 80b7f7cf-dc2e-137a-5aa7-fa88da63ac80
* Content: [Authentication samples for ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/samples?view=aspnetcor

[2020-04-12 18:30] josersleal opened #17758 "Correct tutorial"
[Enter feedback here]
Following this:

https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mongo-app?view=aspnetcore-3.0&tabs=visual-studio-code#add-a-controller

at step https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mongo-app?view=aspnetcore-3.0&tabs=visual-studio-code#add-a-configuration-model

Add the following database configuration values to appsettings.json:

It shoul

[2020-04-12 19:07] gpshonik opened #17759 "Update to schema table to include IDENTITY for Id column"
Proposing update to schema table - addition of `IDENTITY (1,1)`.

The `DataProtectionKeys` class/entity adopts the structure shown in the following table.

| Property/Field | CLR Type | SQL Type              				|
| -------------- | -------- | --------------------------------------|
| `Id`           | `int`    | `int`, PK, `IDENTITY (1,1)`, not null  |
| `FriendlyName` | `string` | `nvarchar(MAX)`

[2020-04-12 19:10] AlexSapple opened #17760 "Blazor client app- accessing the users token for onward api calls"
Hi guys,

another great page of information - but just one point (and I might be being really silly) - but the reference to

var tokenResult = await AuthenticationService.RequestAccessToken();

in order to get hold of the token and add to http headers in onward API calls - where is this library? when firing up a pure client blazor template from VS - this library doesn't appear to be included and I

[2020-04-12 19:41] weitzhandler commented on #17747
Done: https://github.com/dotnet/aspnetcore/issues/20776.

[2020-04-12 21:18] shukebeta opened #17761 "dotnet dev-certs https --trust will fail on Linux platform"
At least on Unbuntu 18.04, dotnet dev-certs https --trust will fail on a message "Specify --help for a list of available options and commands."

you could see &lt;https://stackoverflow.com/questions/55485511/how-to-run-dotnet-dev-certs-https-trust&gt; to get more detail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3

[2020-04-12 21:44] Rick-Anderson commented on #17761
Per doc
dotnet dev-certs https --trust is only supported on macOS and Windows. You need to trust certs on Linux in the way that is supported by your distro.

[2020-04-12 21:44] #17761 closed

[2020-04-12 22:39] matthewphilipdixon opened #17762 "Blazor WebAssembly App template missing"
Installed VS 2019 Preview 16.6.0 Preview 2.1, followed the instructions above.  However, at step #5 I cannot proceed because the Blazor WebAssembly App option does not exist.  I tried to follow the instructions here:
https://stackoverflow.com/questions/59272624/missing-visual-studio-2019-blazor-webassembly-app-template
Which pointed me here:
https://www.nuget.org/packages/Microsoft.AspNetCore.Blaz

[2020-04-12 22:49] guardrex commented on #17762
It was added. I don't have any information on the current guidance not working for 16.6 Preview 2. Sometimes, devs have had to reinstall the template to get it to appear. Sometimes, upgrading VS exhibits the same behavior and requires a template re-install, and I've sporadically experienced a required re-install myself. Release 3.2 is due to come out in May. After release, Blazor WebAssembly will

[2020-04-12 22:49] #17762 closed

[2020-04-13 00:25] MagicPelikan commented on #17745
After I clear my head today doing other stuff I just sat down in front of the computer and I discovered the error. I fixed it and everything started to work like a charm!

The error was that I missed to make **public** the interface in my custom service...
Thank you Brennan for your time yesterday anyway :)

[2020-04-13 04:23] Rick-Anderson opened #17763 "launchSettings.json"
Need to mention

 Environment values set in *launchSettings.json* override values set in the system environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb4d762-3910-2c57-8741-3306c15537b6
* Version Independent ID: ba2254a0-ea8e-9b28-e94b-edd0fc58c043
* Content: [Configuration in ASP.NET Core](https://docs.micr

[2020-04-13 04:24] Rick-Anderson commented on #17151
@serpent5  please review.

[2020-04-13 04:31] HamidMolareza opened #17764 "Tracking Tip"
Why _AsNoTracking()_ method not used in [Loading related data with Select](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/read-related-data?view=aspnetcore-3.1&tabs=visual-studio-code#loading-related-data-with-select)?

Can say it's because of the following reason?

If yes, I think it's better to mention this as a tip. Because it can be confusing for **beginners**.
(Can i create a PR?)

-

[2020-04-13 04:40] Rick-Anderson commented on #17764
We already mention
`AsNoTracking ` improves performance because the entities returned are not tracked

I can help you find some PR's if you'd like. Most open issues you're welcome to work on. If it's assigned to someone and scheduled for the current sprint (April 2020 currently), check with me.

[2020-04-13 04:53] Rick-Anderson commented on #17764
cc @tdykstra

[2020-04-13 05:10] sravanithamatamqualbrain opened #17765 "Unable to connect to SignalR hub from some other client apllication"
Hi Team,

In the example that you have given is for local SignalHub.

if SignalHub application and client application are in different projects and when signalr application is hosted and when we tried to connect to SignalR hub from client application, i am facing some issues related to cors policy and signalr.map is not loaded. And i am unable to connect to hosted signalR hub.

please provide me a

[2020-04-13 05:18] BrennanConroy commented on #17765
Read up on [CORS in SignalR](https://docs.microsoft.com/aspnet/core/signalr/security?view=aspnetcore-3.1#cross-origin-resource-sharing) to resolve CORS issues.

What errors are you getting?

[2020-04-13 05:54] HamidMolareza commented on #17764
@Rick-Anderson
It has already been explained why `AsNoTracking` is used, But it is not clear why it was **not used**.

In the [previous section](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/read-related-data?view=aspnetcore-3.1&tabs=visual-studio-code#display-the-department-name), `AsNoTracking` is used and the reason is well mentioned. But in this section, **without mentioning the reas

[2020-04-13 06:14] sravanithamatamqualbrain commented on #17765
CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2020-04-13 06:15] sravanithamatamqualbrain commented on #17765
The above error i am getting.

please help me.

[2020-04-13 06:17] BrennanConroy commented on #17765
Did you read the doc I linked? It should help you resolve the CORS error.

[2020-04-13 06:19] sravanithamatamqualbrain commented on #17765
Yes i read that page. But it couldn't help me.

[2020-04-13 06:19] BrennanConroy commented on #17765
Share your code on the server that's setting up CORS

[2020-04-13 06:21] sravanithamatamqualbrain commented on #17765
public class Startup
    {
        public Startup(IConfiguration configuration)
        {
            Configuration = configuration;
        }

        public IConfiguration Configuration { get; }

        // This method gets called by the runtime. Use this method to add services to the container.
        public void ConfigureServices(IServiceCollection services)
        {
            services.Add

[2020-04-13 06:22] sravanithamatamqualbrain commented on #17765
This is the code that is written in Startup.cs file of SignalR application server.

[2020-04-13 06:22] BrennanConroy commented on #17765
Remove the trailing "/" in `.WithOrigins("http://localhost:57223/")`
And add `.AllowCredentials()` to your CORS options

[2020-04-13 06:23] sravanithamatamqualbrain commented on #17765
Sure. I will do that.

[2020-04-13 06:27] sravanithamatamqualbrain commented on #17765
Still i am facing the same issue.

[2020-04-13 06:27] sravanithamatamqualbrain commented on #17765
services.AddCors(options =>
                options.AddDefaultPolicy(builder => builder
                .WithOrigins("http://localhost:57223")
                .AllowAnyHeader().AllowAnyMethod()
                .AllowCredentials()));

[2020-04-13 06:31] BrennanConroy commented on #17765
Place `UseCors()` above the other middleware
[code]

[2020-04-13 06:33] sravanithamatamqualbrain commented on #17765
Okay

[2020-04-13 06:36] sravanithamatamqualbrain commented on #17765
public class Startup
    {
        public Startup(IConfiguration configuration)
        {
            Configuration = configuration;
        }

        public IConfiguration Configuration { get; }

        // This method gets called by the runtime. Use this method to add services to the container.
        public void ConfigureServices(IServiceCollection services)
        {
            services.Add

[2020-04-13 06:37] sravanithamatamqualbrain commented on #17765
Still same issue.

[2020-04-13 06:38] BrennanConroy commented on #17765
Why did you change your `UseCors` method to use the builder? If you're going to do that, then you need to have `AllowAnyMethod()` or `WithMethods("GET", "POST")`.

[2020-04-13 06:39] sravanithamatamqualbrain commented on #17765
@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class

[2020-04-13 06:39] sravanithamatamqualbrain commented on #17765
"use strict";

var connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:57223").build();

//Disable send button until connection is established
document.getElementById("sendButton").disabled = true;

connection.on("ReceiveMessage", function (user, message) {
    var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
    var encodedMsg = user + "

[2020-04-13 06:39] sravanithamatamqualbrain commented on #17765
this is client code.

[2020-04-13 06:40] BrennanConroy commented on #17765
Ok, here's your issue, the client is at origin "http://localhost:57606", so that's the URL you need to use in `WithOrigins(...)`

[2020-04-13 06:45] sravanithamatamqualbrain commented on #17765
Failed to load resource: 57223/negotiate?negotiateVersion=1:1
responded with a status of 404 (Not Found)

[2020-04-13 06:46] sravanithamatamqualbrain commented on #17765
Now this issue is coming.

[2020-04-13 06:47] BrennanConroy commented on #17765
Your client needs to be pointing at the hub which is at "/chathub"
So: `var connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:57223/chathub").build();`

[2020-04-13 06:48] sravanithamatamqualbrain commented on #17765
<img width="960" alt="Error" src="https://user-images.githubusercontent.com/61418209/79099051-ef29c780-7d80-11ea-9d20-52ed91560b0a.PNG">

[2020-04-13 06:51] sravanithamatamqualbrain commented on #17765
Issue is resolved.

Thank you thank you very much @BrennanConroy.

[2020-04-13 06:52] prkhandelwal commented on #17758
Since the config to be added are highlighted, I think it's fine. The doc doesn't ask you to copy all the config, just the highlighted part.

[2020-04-13 07:09] AlbertoPa commented on #17649
I think it is necessary for how I did it in the page I linked (all claims are being remapped in the implementation I posted). I have not tried only mapping the role with the profile.

[2020-04-13 10:06] akovac35 opened #17766 "Update document regarding the accumulation of Transient services"
Using transient services my cause memory leaks: https://github.com/dotnet/extensions/issues/1785

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d78f540-81fd-1ba9-cb90-591e4ec27d9b
* Version Independent ID: 2251f557-dd3a-ec35-2558-6243337db009
* Content: [Dependency injection in ASP.NET Core](https://docs.microsoft.com

[2020-04-13 12:12] #17765 closed

[2020-04-13 13:14] guardrex commented on #17766
Thanks @akovac35.

We might be able to base the updates directly on @brandondahler's *Situations and Solutions* and *General Guidelines* (and, of course, @brandondahler, is welcome to submit a PR) for the [Fundamenals DI topic](https://docs.microsoft.com/aspnet/core/fundamentals/dependency-injection).

For Blazor, the relevant sections are ...

   * [Utility base component classes to manage a DI s

[2020-04-13 13:43] guardrex commented on #15651
@bdnts ... I've finally come to a day that I can dedicate to this one. Thanks for your notes over on https://github.com/dotnet/aspnetcore/issues/19148.

I think I see what I'd like to do on the PR with this to get the ball rolling with basic coverage that we can revise and extend thereafter. I'll ping you on the PR, which should land this evening.

You spoke about converting some number of page-ba

[2020-04-13 14:04] mjrousos commented on #17766
@guardrex, I don't think I'll get a chance this week, but I've added this to my todo list to take a look at if you don't get to it first.

[2020-04-13 14:06] guardrex commented on #17766
Thanks, I'll assign myself for now.

[2020-04-13 15:01] scottaddie opened #17770 "Update recommendation for conditionally enabling Razor runtime compilation"
The recommended approach should align to what the latest MVC and Razor Pages project templates are using. Conditional package references are problematic because you only have one *project.assets.json* file immaterial of config.

[2020-04-13 15:03] besdsol opened #17771 "More context needed for Razor component integration"
This article has a lot of inatructions, but assumes too much context many or even most readers will not have. The impression from an experienced developer familiar with the content is still to wonder what this article is talking about till right at the end.

It could benefit from adding the why to the what.

One specific example is it talks about adding a razor component to a page, but it's not re

[2020-04-13 15:08] guardrex commented on #17771
Thanks @besdsol ... Of course, we can't do much about ...

... that's true and a bit painful from time-to-time.

I'll work on your suggestion. Thanks again, and I'll ping you on the PR. Given the workload right now for 3.2, I should be able to get to this after the 3.2 release, which is scheduled for May.

[2020-04-13 15:17] guardrex commented on #17771
Not sure about that, as the article says what it's about in the very first sentence ...

**_BUT_**, I agree that there's no context for the following sections. Basically, one has to *prepare* the app (with that section's content), then *decide* if they want to just use a component in a page/view (and follow the guidance in that section) **OR** if they want to have routable components that can be r

[2020-04-13 15:48] ajcvickers commented on #17749
@Rick-Anderson @weitzhandler As part of the [plan for EF Core 5](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-5.0/plan#migrations-and-deployment-experience), we are investigating better experiences for migrating the database that don't involve running migrations from code--see https://github.com/dotnet/efcore/issues/19587. This will likely result in something like "migration bundle

[2020-04-13 15:51] alij commented on #17065
In the example above the JwtClaimTypes.Role, VS says JwtClaimTypes does not exist in current context and I couldn't find any reference for it. Using just ClaimTypes.Role though seemed to work but I get the following error at runtime:

InvalidOperationException: No policy found: IsAdmin.
Microsoft.AspNetCore.Authorization.DefaultAuthorizationService.AuthorizeAsync(ClaimsPrincipal user, object resou

[2020-04-13 15:57] alij opened #17772 "Error on AuthorizationService"
I am using asp.net core 3.1.

In the example above the JwtClaimTypes.Role, VS says JwtClaimTypes does not exist in current context and I couldn't find any reference for it. Using just ClaimTypes.Role though seemed to work but I get the following error at runtime:

InvalidOperationException: No policy found: IsAdmin.
Microsoft.AspNetCore.Authorization.DefaultAuthorizationService.AuthorizeAsync(Clai

[2020-04-13 16:27] guardrex commented on #17772
Try ...

[code]

[2020-04-13 16:28] bricelam commented on #17749
Async doesn't really help in this situation. The application isn't accepting requests at this point. There is effectively only one thread running and yielding will probably only make it take longer to start up and begin accepting requests.

[2020-04-13 16:31] BrennanConroy commented on #17751
That bug is a bug in a preview product (blazor webassembly) and will be fixed by release. So I'm not sure any docs need to be written for it.

As for `AddIdentityServerJwt`, something should done there as it looks un-obvious how to handle the access_token query string.

[2020-04-13 16:39] #17749 closed

[2020-04-13 16:40] #17772 closed

[2020-04-13 16:43] alij commented on #17772
Well, didn't need IdentityModel as I could use ClaimsTypes.Role defined in System.Security.Claims. However, for the other error I needed to add the "IsAdmin" policy in ConfigureServices. This should perhaps be mentioned. I am adding it below:

            services.AddAuthorization(options =>
                {
                    options.AddPolicy("IsAdmin",
                         policy => polic

[2020-04-13 17:37] akovac35 commented on #17766
Hi Team - regarding my remark, I would like to point out that users really don't expect the described behavior from the DI framework. It might be better to just introduce a braking change and make it perform as expected instead of documenting it - this is something EF Core team is doing regularly and it shows because the framework is getting better and better. Otherwise, how exactly are you planni

[2020-04-13 18:03] captainsafia opened #17774 "[Preview 5] Document support for using configuration values in startup logic"
Now that https://github.com/dotnet/aspnetcore/pull/20647 is merged, we need to document support for using the `builder.Configuration` property to read configuration values in startup logic.

Now, a user can read  configuration values read from app settings (or any other configuration providers they register), using several different approaches.

[code]

This is targeted for preview5.

[2020-04-13 18:07] guardrex commented on #17766
A factory pattern was mentioned that might be a good approach to show. For Blazor, such a factory might be something to further what we discuss/show for the 2nd bullet (the *Register the DbContext in the service container with a transient lifetime* content) at [Use of Entity Framework DbContext from DI](https://docs.microsoft.com/aspnet/core/blazor/dependency-injection#use-of-entity-framework-dbco

[2020-04-13 18:10] guardrex commented on #17766
btw ---- To surface this issue both for the *Fundamentals* DI topic **_AND_** the Blazor DI topic, I'm going to open a sister issue on that topic, which will cross-link the engineering discussion and this issue. It won't be an issue that gets worked. This issue will be the main issue. The sister issue will be seen by devs looking at the Blazor DI topic to surface this.

[2020-04-13 18:14] guardrex opened #17775 "Memory leaks with long-living DI scopes"
**This is a tracking issue. The main working issue is https://github.com/dotnet/AspNetCore.Docs/issues/17766.**

See:

* [DI: Allow IDisposable services to get garbage collected as soon as they are disposed (dotnet/extensions #1785)](https://github.com/dotnet/extensions/issues/1785)
* [Update document regarding the accumulation of Transient services (dotnet/AspNetCore.Docs #17766)](https://github.

[2020-04-13 18:30] SoftCircuits commented on #13542
@robertburgh Did you ever learn anything about this? I see the issue was closed but I don't see any resolution. I'm looking into redirecting from the AJAX handler too and it won't work for me under .NET Core 3.1 Razor Pages. But when I search GitHub repositories, it seems there's a lot of code doing exactly this.

[2020-04-13 19:01] serpent5 commented on #17151
There's an open issue being tracked in https://github.com/dotnet/AspNetCore.Docs/issues/16319 for covering how this works with custom model-binding.

"Configuration in ASP.NET Core" and "Custom Model Binding in ASP.NET Core" could both link to this, whether it's that version or a newer, better-placed version. It doesn't seem like that topic should live within the docs here, as it's not part of ASP

[2020-04-13 19:30] LeeRossCritchlow opened #17776 "CREATE DATABASE failed."
CREATE FILE encountered operating system error 5(Access is denied.) while attempting to open or create the physical file 'C:\Users\LeeRazorPagesMovieContext-51805274-cb93-467f-914b-ab2b210a09f3.mdf'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-6

[2020-04-13 20:30] Rick-Anderson commented on #17151
@serpent5 Thanks

[2020-04-13 20:30] #17151 closed

[2020-04-13 20:35] Rick-Anderson commented on #17776
See #6837 #8446 and [this](https://github.com/dotnet/AspNetCore.Docs/issues?q=is%3Aissue+%22CREATE+FILE+encountered+operating+system+error%22)

[2020-04-13 20:35] #17776 closed

[2020-04-13 21:21] #16956 closed

[2020-04-13 21:22] #9603 closed

[2020-04-13 21:49] LeeRossCritchlow commented on #17776
problem was fixed by https://support.microsoft.com/en-us/help/4342123/cumulative-update-10-for-sql-server-2017

[2020-04-13 22:12] jackhorton commented on #17151
That issue discusses the ASP.NET MVC model binder, this issue is for the IOptions binder. They are different implementations and you can easily use Microsoft.Extensions.Options without touching ASP.NET (which is what we are doing). I dont think this issue should be closed.

[2020-04-13 22:50] serpent5 commented on #17151
I'd echo this from @guardrex. Just stating that `TypeCoverter`s are used for certain types, but without covering how to write and integrate your own, might leave things incomplete. It could also prove difficult to try and provide an exhaustive list of what's supported OOB here, especially as it's going to overlap with the custom model-binding topic. For example, if this configuration topic covers

[2020-04-13 23:05] guardrex commented on #17151
I know that I'd like one example in the Blazor docs for a use case that a dev asked about ... binding directly to a datatable, which should demo the general approach in such Razor component scenarios. It's a low priority issue tho, so I wouldn't get to that one for quite a while. I see an 🌊 **_ocean of work_** 🌊 ahead of me. 🏃🏃🏃🏃🏃🏃🏃

[2020-04-13 23:10] guardrex commented on #13316
Note that this issue will be addressed with the scaffolding PR that I'm turning in shortly.

btw -- The answer is along those lines :point_up:, but you need an XSRF token to submit that form. I plan to have that approach on the PR.

[2020-04-13 23:59] SetTrend opened #17779 "PDF export of Microsoft .NET documentation doesn't generate code colorization"
## PDF export of the .NET documentation doesn't colorize highlighted portions of code:
![No syntax highlighting - 0](https://user-images.githubusercontent.com/9283914/79171816-55e7c900-7df3-11ea-92ca-e96b9f072761.png)

![No syntax highlighting - 1](https://user-images.githubusercontent.com/9283914/79171554-a4e12e80-7df2-11ea-94d5-ab399855dd1a.png)

#### Comparison between PDF and HTML output:
![No

[2020-04-14 00:09] Rick-Anderson commented on #17776
@LeeRossCritchlow  thanks for the update.

[2020-04-14 00:19] Rick-Anderson commented on #17779
Thanks. This [has been reported](https://github.com/MicrosoftDocs/feedback/issues?q=is%3Aissue+is%3Aopen+PDF)

[2020-04-14 00:19] #17779 closed

[2020-04-14 00:25] #17764 closed

[2020-04-14 00:34] #17731 closed

[2020-04-14 00:34] #17770 closed

[2020-04-14 02:25] Rick-Anderson commented on #13446
Thank you for contacting us. Due to a lack of activity on this discussion issue we're closing it in an effort to keep our backlog clean. If you believe there is a concern related to the ASP.NET Core which hasn't been addressed, please file a new issue.

This issue will be locked after 30 more days of inactivity. If you still wish to discuss this subject after then, please create a new issue!

[2020-04-14 02:25] #13446 closed

[2020-04-14 03:01] #17491 closed

[2020-04-14 04:43] JasOcher opened #17784 "Client side?"
An HttpClient PatchAsync requires HttpContent, so you're going to have to wrap it up to send it over.  This solution and PatchAsync don't seem to really jive with one another, so what does the client side look like for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 593f528c-61b9-7021-335d-c1c0ec1814d1
* Version I

[2020-04-14 07:35] SetTrend commented on #17779
@Rick-Anderson : None of the issues in the list you pointed to deals with colorization.

[2020-04-14 11:03] timrobinson33 opened #17787 "Should differentiate between Microsoft work vs microsoft personal accounts"
It's not clear whether the term "Microsoft account" refers to a work account, a personal account, or whether it works with both. Even if it does work with both, it's worth being explicit about that fact because developers are used to having to distinguish between them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4c

[2020-04-14 11:04] PeterWone opened #17788 "WriteResponseBodyAsync is wrong for 3.1"
The last line of the method reads
[code]

but `Microsoft.AspNetCore.HttpResponse` does not have a WriteAsync method.

It _does_ have a property `Body` which has a WriteAsync method but this does not have a signature supporting a string parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2207f37-0cf3-3ab9-add8-c5

[2020-04-14 11:57] pawelpetruch opened #17789 "How to create a gRPC server with explicitly defined parameters?"
https://docs.microsoft.com/en-us/aspnet/core/tutorials/grpc/grpc-start?view=aspnetcore-3.1&tabs=visual-studio doesn't show how to create a server with explicit parameters like IPAddress and port we want the server to listen on.

In Grpc.Core you can create a server with a set of parameters like Services and Ports which is very convenient. Also being given an instance of a server allows you to star

[2020-04-14 12:42] ferguson-eric opened #17790 "Blazor WASM with Auth Lib groups and roles"
**EDIT by guardrex:** This is a companion issue to https://github.com/dotnet/AspNetCore.Docs/issues/17660 and https://github.com/dotnet/AspNetCore.Docs/issues/17683.

Is it possible for roles to be mapped to claims and used against the authorization attribute (e.g., [Authorize("Admin")])? This is possible in other non AddOidcAuthentication implementations by first assigning the claims via IClaimsT

[2020-04-14 12:58] guardrex commented on #17790
Hello @ferguson-eric ... *Yes!* ... but I haven't worked on the experience yet for the base Auth Library topic. I only have the Azure AD experience at this time on https://github.com/dotnet/AspNetCore.Docs/issues/17660. I'll be working that one very soon.

Let's leave this issue open, and I'll use it to work this particular topic for this scenario.

Basically tho ... WRT the issue itself ... you s

[2020-04-14 13:25] scottaddie opened #17791 "Document Razor runtime compilation with Razor Class Libraries"
Add an explanation of how the `Startup.ConfigureServices` code changes from the 3.0 approach when using the assembly-level `HostingStartup` attribute.

[2020-04-14 14:59] #17757 closed

[2020-04-14 15:00] spectrumcomputing opened #17794 "MVC - Run the app section does not cover how to run the app in Linux v2"
Sorry to raise this again, but when I logged it last time under https://github.com/dotnet/AspNetCore.Docs/issues/17688 the ticket was closed

The guide does not show how to run the app in Linux.  The reply I got was 'Per the doc
dotnet run' however this is not in the document.  I know its shown in other MS Beginner Guides, but if someone is coming straight to this page they will struggle.

Thanks

[2020-04-14 15:04] #17771 closed

[2020-04-14 15:16] luisbecerril-ips opened #17795 "How can I request a token after login?"
I would like to know how can a token be requested after logging in. On the 'Additional Scenarios' webpage
https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/additional-scenarios?view=aspnetcore-3.1#request-additional-access-tokens there are instructions on how to retrieve a token, however I am unsure whether this applies to the current article.

---
#### Document Details

⚠ *

[2020-04-14 15:27] guardrex commented on #17795
Hello @luisbecerril-ips ... Yes, it applies ... I placed it in this TOC node for that purpose. However, I think an *Additional resources* section in each of these topics with a link to that topic would make it clear that it applies.

Leave this open ... this issue will close when the PR merges.

Thanks for writing in on this.

[2020-04-14 15:31] luisbecerril-ips commented on #17795
Glad to know that, a follow up question would be, how do I get an instance of the `AuthenticationService` specified? It is stated that this is an overload of the `IAccessTokenProvider.RequestToken` however, at least from the default template that was created when creating the Blazor WebAssembly project and adding the MSAL authentication I cannot get a new instance of such object. Am I missing some

[2020-04-14 15:36] volodymyr-karpenko opened #17796 "ESLint Configuration Issue"
Per ESLint documentation (https://eslint.org/docs/user-guide/configuring), it is possible to either use a .eslintrc.json to define the configuration structure or create an eslintConfig property in your package.json file and define your configuration there.

If there are multiple configuration files in the same directory, ESLint will only use one. In the priority order, a .eslintrc.json is higher t

[2020-04-14 15:38] guardrex commented on #17795
I need to provide the namespace, and someone just asked me about that recently. IIRC, it's on another issue due to be worked in the coming hours/days. It appears in the *Overview* topic up above this, but we need it down here, too ...

[code]

I'll get it in on the other issue or this one ... *whichever issue I work first*. :smile:

[2020-04-14 16:55] anitconsultantllc commented on #17081
Thanks for saving me 2 hours today,  @[openstud](https://github.com/dotnet/AspNetCore.Docs/issues/17081#issuecomment-589492106).  Put simply, this part couldn't be more **highlighted** right now to help those coming after the previous post from  @[julianperrott](https://github.com/dotnet/AspNetCore.Docs/issues/17081#issuecomment-591354376).  Please update the [docs ](https://docs.microsoft.com/en-

[2020-04-14 17:34] Rick-Anderson commented on #17779
Can you create one in that repo? That's where it needs to be reported.

[2020-04-14 17:34] gilmishal opened #17798 "Improve Docs about identity server"
I came across these docs from another github issue that was closed about identity with web apis being a bit confusing and I would like to add a bit about it.

This page does an excellent job of explaining how to get started with an angular web api app, and how to set everything up from the beginning - *if* I am indeed starting from scratch.

However, this page's title, and how it is structured mak

[2020-04-14 18:33] Rick-Anderson commented on #17787
It works for both. To test it, most developers use personal account.

cc  @Tratcher

I could add:

To test it with your Microsoft personal account, select personal account.

But I thought that was too obvious.

[2020-04-14 18:37] Rick-Anderson commented on #17788
The code works. Must be an extension method your missing.

cc @scottaddie

[2020-04-14 18:39] #17292 closed

[2020-04-14 18:43] alexb5dh commented on #16880
Same question

[2020-04-14 18:43] Tratcher commented on #17787
Clarification: "This sample shows you how to enable users to sign in with their work, school, or personal Microsoft account using the ASP.NET Core 3.0 project created on the previous page."

[2020-04-14 18:46] BrennanConroy commented on #16880
There is no way to do this today outside of putting try catch inside all your hub methods.

This support will be added as part of https://github.com/dotnet/aspnetcore/issues/5353

[2020-04-14 19:08] #17787 closed

[2020-04-14 19:08] Rick-Anderson commented on #17787
@Tratcher thanks. Fixed in #17800

[2020-04-14 19:12] Rick-Anderson commented on #17794
The instructions work if you've followed the VSC set up. If you can't get VSC setup, use `dotnet run`.

[2020-04-14 19:12] #17794 closed

[2020-04-14 19:42] Rick-Anderson commented on #17733
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2020-04-14 19:48] SetTrend commented on #17779
Sure. Thanks for pointing me to that repo. I created a corresponding issue there.

[2020-04-14 19:57] #17745 closed

[2020-04-14 19:59] #17758 closed

[2020-04-14 20:00] Rick-Anderson commented on #17789
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2020-04-14 20:00] #17789 closed

[2020-04-14 20:06] Rick-Anderson commented on #17798
Great feedback. Moved to master issue: Authentication and authorization for SPAs #16406

[2020-04-14 20:06] #17798 closed

[2020-04-14 20:11] udlose opened #17802 "Any browsers other than IE supported?"
Documentation on [Differences between ASP.NET SignalR and ASP.NET Core SignalR](https://docs.microsoft.com/en-us/aspnet/core/signalr/version-differences?view=aspnetcore-3.1#differences-on-the-client) says:

_Internet Explorer support - ASP.NET Core SignalR requires Microsoft Internet Explorer 11 or later (ASP.NET SignalR supported Microsoft Internet Explorer 8 and later)._

Are any browsers, other

[2020-04-14 20:14] BrennanConroy commented on #17802
Yes
https://docs.microsoft.com/aspnet/core/signalr/supported-platforms?view=aspnetcore-3.1

[2020-04-14 20:16] serpent5 commented on #17788
This requires `using Microsoft.AspNetCore.Http;` for the [extension method](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.httpresponsewritingextensions.writeasync?view=aspnetcore-3.1#Microsoft_AspNetCore_Http_HttpResponseWritingExtensions_WriteAsync_Microsoft_AspNetCore_Http_HttpResponse_System_String_System_Threading_CancellationToken_).

[2020-04-14 20:22] #17788 closed

[2020-04-14 20:38] udlose commented on #17802
Then this Documentation needs to change:

[Differences between ASP.NET SignalR and ASP.NET Core SignalR](https://docs.microsoft.com/en-us/aspnet/core/signalr/version-differences?view=aspnetcore-3.1#differences-on-the-client)

[2020-04-14 20:39] fhaaland opened #17803 "Typo"
Seems like there is few duplicate "app.UseAuthorization();" in the code samples, like:
...
app.UseAuthorization();
app.UseAuthorization();
...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59bca5db-1196-2a8b-a0d8-4e89b2382288
* Version Independent ID: d3f332c4-4c60-039e-0e1e-bc6b11831f87
* Content: [Enable Cross-Origi

[2020-04-14 20:40] BrennanConroy commented on #17802
Maybe it could be reworded to not say "**requires** Microsoft Internet Explorer 11".

"ASP.NET Core SignalR can run on Microsoft Internet Explorer 11 or later whereas ASP.NET SignalR supported Microsoft Internet Explorer 8 and later."

[2020-04-14 20:43] #17492 closed

[2020-04-14 20:48] Rick-Anderson commented on #17803
@fhaaland  thanks for catching this.

[2020-04-14 21:05] serpent5 commented on #17733
I've had a look into this, running up some examples and looking through the source. I get the same result as @nitishwebgentle, and it makes sense. I suggest we drop the `@Model.Title` example from the topic.

[2020-04-14 21:39] HamidMolareza opened #17807 "Add AsNoTracking to Course-Edit page"
Why `AsNoTracking` not used in `OnGetAsync` at [Update the Course Edit page model](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/update-related-data?view=aspnetcore-3.1#update-the-course-edit-page-model)?

Isn't it better to add? Like _Detail_ and _Delete_ page.

(I have more experience with MVC than Razor, so sorry if I missed a point.)

---
#### Document Details

⚠ *Do not edit this se

[2020-04-14 21:46] #17803 closed

[2020-04-14 21:51] Rick-Anderson commented on #17807
The EF is the same for Razor Pages and MVC.

This tutorial isn't optimal use of each API, but if obviously should use `AsNoTracking` we should update the doc.

[2020-04-14 21:52] PeterWone commented on #17788
I just went through the article again and couldn't see any mention of the requirement for `using Microsoft.AspNetCore.Http`. Don't you think it would be appropriate to put a comment in the code?

[code]

[2020-04-14 21:56] udlose commented on #17802
But both of those comments _could_ imply that again only IE is supported.  I'd be happy if someone changed the docs to point to [ASP.NET Core SignalR supported platforms - JavaScript Client](https://docs.microsoft.com/en-us/aspnet/core/signalr/supported-platforms?view=aspnetcore-3.1#javascript-client)

[2020-04-14 21:57] Rick-Anderson commented on #17788
That's a change that will be picked up by #16486

[2020-04-14 21:57] guardrex opened #17808 "Revert P4 guidance"
Revert Localization for Blazor WASM #17569 ... set the PR for Preview 4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15e7c51d-1839-1849-813a-23c4d21c64ae
* Version Independent ID: d6f07538-228e-9f96-680f-6c324caf11d6
* Content: [ASP.NET Core Blazor globalization and localization](https://docs.microsoft.com/en-us/asp

[2020-04-14 22:05] udlose opened #17809 "IE 11 does not fully support `MessagePack` serialization"
[This document](https://docs.microsoft.com/en-us/aspnet/core/signalr/supported-platforms?view=aspnetcore-3.1) says that IE 11 is supported.  However, there is a caveat - according to
[](https://docs.microsoft.com/en-us/aspnet/core/signalr/introduction?view=aspnetcore-3.1#hubs)

And [XMLHttpRequest advanced features](https://caniuse.com/#feat=xhr2), the `MessagePack` serialization type is not suppo

[2020-04-14 22:12] BrennanConroy commented on #17809
IE 11 supports XMLHttpRequest advanced features. Are you seeing an issue when using IE 11 and MessagePack? I just checked and it's working fine.

[2020-04-14 22:30] #17808 closed

[2020-04-14 22:31] #17733 closed

[2020-04-14 23:27] Rick-Anderson commented on #17184
Moved to Master issue for Logging in .NET Core and ASP.NET Core #16174 and looks like a dup of #16095

I'll be addressing these next week.

[2020-04-14 23:41] udlose commented on #17809
TBH, I was going off of all of the documentation I referenced. I have not explicitly tried it. If this is truly working, I am fine closing it.

[2020-04-14 23:44] BrennanConroy commented on #17809
Well, the link you provided for XMLHttpRequest advanced features states that IE 11 does provide support except for the json response type, which is not being used.

[2020-04-14 23:44] #17809 closed

[2020-04-15 02:31] scottaddie commented on #17748
@robcamer If I understand correctly, your hierarchical keys aren't being loaded. Have you tried using the following `AddAzureKeyVault` call instead of what you have?

[code]

`DefaultKeyVaultSecretManager` automatically replaces `--` with `:`. See https://github.com/Azure/azure-sdk-for-net/blob/84c629c08a3cff748b48585d1c816dd2a8194d5f/sdk/extensions/Azure.Extensions.Configuration.Secrets/src/KeyVa

[2020-04-15 06:39] ferguson-eric commented on #17760
Hi AlexSapple,

In your razor page, you will need:
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject IAccessTokenProvider AuthenticationService

In your _Imports.razor file, you will also need:
@using Microsoft.AspNetCore.Components.Authorization

[2020-04-15 07:41] pawelpetruch opened #17821 "How to create a gRPC server with explicitly defined parameters?"
The page doesn't show how to create a server with explicit parameters like IPAddress and Port we want the server to listen on.

In Grpc.Core you can create a server with a set of parameters like Services to bind to and Ports, which is very convenient. Also being given an instance of a server allows you to start / stop it.

I assume the same functionality is implemented in Grpc.Net but not document

[2020-04-15 10:15] ferguson-eric opened #17823 "Is authentication safe client-side?"
'Blazor WebAssembly apps run on the client. Authorization is only used to determine which UI options to show. Since client-side checks can be modified or bypassed by a user, a Blazor WebAssembly app can't enforce authorization access rules.'

I previously asked a question (https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/standalone-with-authentication-library?view=aspnetcor

[2020-04-15 12:29] guardrex commented on #17823
Unless a check is made server-side (e.g., typically server-side checks made via an API) *before* sending content to the client, yes, that's right. Content sent to the client can't be secured *after* it's sent. Further details are in the WASM Overview topic.

https://docs.microsoft.com/aspnet/core/security/blazor/webassembly/

[2020-04-15 12:29] #17823 closed

[2020-04-15 12:43] guardrex opened #17824 "[Preview 4] Blazor Preview 4 updates"
* Version updates
* Revert to prior VS guidance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version Independent ID: 8226ed72-69b2-3c93-a931-218bd11cf9c8
* Content: [Get started with ASP.NET Core Blazor](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnet

[2020-04-15 12:59] twentytwokhz commented on #17234
Great addition! Should be included here - in this doc - as well

[2020-04-15 14:31] klioqc opened #17825 "Scaleout for Asp.Net SignalR (not Core)"
The doc contains:
&gt;&gt;Scaleout differences
&gt;&gt;ASP.NET SignalR supports SQL Server and Redis. ASP.NET Core SignalR supports Azure SignalR Service and Redis.

Why Azure SignalR Service is only mentioned for ASP.NET Core, if ASP.NET version also works with Azure SignalR service? Is there some  difference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-04-15 14:42] HamidMolareza opened #17826 "Performance Issue"
Please see `UpdateInstructorCourses` method in [Create an Instructor page model base class](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/update-related-data?view=aspnetcore-3.1#create-an-instructor-page-model-base-class):

Iterate through all courses (`context.Courses`) isn't optimal and necessary, especially if there are a lot of courses.
We can combine the two `HashSet` and just itera

[2020-04-15 15:21] gbjbaanb opened #17827 "troubleshooting"
There are so many roadbumps to getting cache headers set that the troubleshooting checklist needs a bt of extension

eg:

[Authorise] attribute causes no-cache but you can use [AllowAnonymous] on an action.

Any page with a form taghelper will cause no-cache. You must use the asp-antiforgery="false" property in the form or the invisible and automatically-added input field will silently break your

[2020-04-15 17:04] ptrotter1 commented on #17377
I would also like to see a more detailed example on how to use the editContext in the ServerValidate method. Thanks.

[2020-04-15 18:01] Rick-Anderson commented on #17826
@JonPSmith please review

[2020-04-15 18:06] #17123 closed

[2020-04-15 18:20] guardrex opened #17830 "[Preview 4] Blazor Preview 4 common samples update"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version Independent ID: 8226ed72-69b2-3c93-a931-218bd11cf9c8
* Content: [Get started with ASP.NET Core Blazor](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.1&tabs=visual-studio)
* Content Source:

[2020-04-15 20:01] AlexSapple commented on #17760
Hi @ferguson-eric

thanks for the info - that does indeed do the trick (although I'm only getting null for the actual token). I've forgotten how to do much of this but I think I need to tell something somewhere to cache or make it locally available. In any case, the original question is answered, so thanks very much.

[2020-04-15 20:16] mkArtakMSFT commented on #17165
Thanks @Rick-Anderson.
Also, after reviewing the data it seems the participation rate in the CSAT survey is really low and it's hard to evaluate the results given such small data sets.
We're starting an effort with @danroth27 to improve that rating. Part of this effort will be explicit call in our release notes to participate in that survey. We will also have other types of call-for-participation

[2020-04-15 20:18] mkArtakMSFT commented on #17164
I can see the updated docs landing page now and it does have the new `ASP.NET Core video tutorials` section, which is a link to a https://www.youtube.com/playlist?list=PLdo4fOcmZ0oW8nviYduHq7bmKode-p8Wy channel. This is a great first step.
I'm wondering what will it take to take this to the next level and do what I've asked for above?
Do I need to start an email thread with "higher-powers" ?

[2020-04-15 20:34] vanpyrzericj opened #17837 "No documentation on *how* to implement problem details factory"
You just say to implement problems detail factory for custom work. But provide no details (ironically) on how to actually do that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f6504cd-a059-c5d4-73fb-61222ef1c6e0
* Version Independent ID: 1b42352c-a34f-7703-aa3e-d7e3156bd0bd
* Content: [Handle errors in ASP.NET Core

[2020-04-15 20:35] MelbourneDeveloper commented on #17638
@guardrex I'm still intending on doing this... Hopefully, I will get to this soon.

[2020-04-15 20:38] CeciAc opened #17839 "Missing instructions"
Hi team,
I moved this from here: https://github.com/dotnet/AspNetCore.Docs.es-es/issues/49

@oacostam commented 4 hours ago — with docs.microsoft.com
The docs should explain how to setup the site in IIS, for instance, what physical path should be used, the same as project? Or it's needed to deploy the project to some location before debugging?

---
#### Document Details

⚠ *Do not edit this sectio

[2020-04-15 20:55] Rick-Anderson commented on #17839
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider. We'll also reconsider this issue in the next doc update.

[2020-04-15 20:55] #17839 closed

[2020-04-15 21:02] #17791 closed

[2020-04-15 21:15] elmorych commented on #15732
The same for me.

[2020-04-15 21:56] ogg130 commented on #9756
Been a while since you asked this but I just conquered this using docker:

1) Make dockerfile run a script called configure.sh instead of using your dotnetcore app as an entrypoint.

2) Modify the following script as needed. You may not need passin/passout, that is used if you password encrypted your CSR/KEY:

[code]
3) Profit using your new handy PFX cert.

[2020-04-15 22:01] udlose opened #17841 "Is SignalR compatible with MessagePack v2.x?"
I see a note about manually installing v1.9x of MessagePack to avoid vulnerability [CVE-2020-5234](https://github.com/neuecc/MessagePack-CSharp/security/advisories/GHSA-7q36-4xx7-xcxf). I'm guessing that this doc was written before v2.x of MessagePack was released but just want to make sure there are no compatibility issues.

Is SignalR compatible with MessagePack v2.x?

Also, when will SignalR up

[2020-04-15 22:13] BrennanConroy commented on #17841
SignalR pre-5.0 does not work with MessagePack v2.x because there are breaking changes between 1.x and 2.x of the MessagePack library.

In 5.0 we have updated SignalR to use version 2.x of MessagePack. See https://github.com/aspnet/Announcements/issues/404

[2020-04-15 22:35] udlose commented on #17841
Thank you for such a prompt response!  I'll make sure to use the latest 1.9x version instead.

[2020-04-15 22:35] #17841 closed

[2020-04-15 22:36] manukautech opened #17842 "Better to create a new empty Core 3.1 Project then copy code across"
These instructions for migration Core 2.2 to Core 3.1 are very complex, time consuming and a lot to go wrong. Also these instructions are for Core 3.0 so they are out of date and need adaptation. It is better, faster and more efficient to create an all new Core 3.1 app and copy files and some code-within-critical-files across. This article needs a complete replacement with one based on copy-across

[2020-04-15 22:58] OliverAlvarez123 opened #17843 "ASP"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9b9859c-b83c-5fc3-41d5-15531232185f
* Version Independent ID: 5438de31-8562-3747-d1a5-2a4622252fc1
* Content: [Add search to an ASP.NET Core MVC app](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/search?view=aspnetcore-3.1)
* C

[2020-04-15 23:01] Rick-Anderson commented on #17842
That's how I do it.

[2020-04-15 23:02] #17843 closed

[2020-04-15 23:06] Rick-Anderson commented on #17842
See [Migrate from ASP.NET Core 2.0 to 2.1](https://docs.microsoft.com/en-us/aspnet/core/migration/20_21?view=aspnetcore-3.1)

A quick way to get an overview of the changes in 2.1 is to:

Create an ASP.NET Core 2.0 web app named WebApp1.
Commit the WebApp1 in a source control system.
Delete WebApp1 and create an ASP.NET Core 2.1 web app named WebApp1 in the same place.
Review the changes in the 2.1

[2020-04-16 00:01] Rick-Anderson opened #17847 "Most customers use UseSqlServer"
Not SQLite

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add a model to a Razor Pages app in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-3.1&tabs=vi

[2020-04-16 00:05] #17554 closed

[2020-04-16 00:14] wadepickett commented on #15101
Related to issue #17372

[2020-04-16 03:51] #17847 closed

[2020-04-16 03:52] #17842 closed

[2020-04-16 08:02] JonPSmith commented on #17826
Hi @Rick-Anderson,

Having just looked at the page in question it looks OK. Let me say why in case I have misunderstood.

First, the `AssignedCourseDataList` will contain ALL the courses, with the `Assigned` property set to true if the instructor is assigned to that course. That sounds OK, as the display at the top of the article shows a list of courses, with ticked box next to courses that the in

[2020-04-16 09:45] Danielku15 opened #17851 "Page still mentions .net Framework compatibility"
With ASP.net core 3 it is not possible anymore to run on .net Framework 4.x. This page still mentions:

The ASP.net core 3.x libraries target .net core 3.x, not .net standard. Even if they would target the latest .net standard, there is no .net framework implementing it. There might be individual 3.x libraries that still run on .net Framework, but I guess the overall statement is: no ASP.net does

[2020-04-16 11:45] ygoe opened #17852 "How to add child elements"
I'm re-writing the select/option tag helper because the existing can't do what I need and I need to redo all of it to make selection work again. So I have a list of items in a property (see asp-items) but how can I generate/append new `&lt;option&gt;` elements for them inside the `&lt;select&gt;` element? Can't find a description for that anywhere.

---
#### Document Details

⚠ *Do not edit this s

[2020-04-16 12:08] HamidMolareza commented on #17826
@JonPSmith Thanks for reviewing.
The first part (`PopulateAssignedCourseData` method) has no problem.

Focus on the second part (`UpdateInstructorCourses` method) :
the `selectedCoursesHS` holds updated checklists, and the `instructorCourses` holds checklists that were in the database.

Suppose:
All courses id: 1, 2, 3, ....., 10000
(Old data) `instructorCourses`: 1, 2, 3
(New data) `selectedCours

[2020-04-16 12:15] guardrex opened #17853 "[Preview 4] Attach tokens to outgoing requests"
DR pulled this entry from the Preview 4 blog post. I don't have content or context at this time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a015ab57-3e5c-f5c8-338c-d491c3e9e3fb
* Version Independent ID: 951c8cfc-6aae-2e15-a085-66071d80f6a4
* Content: [ASP.NET Core Blazor hosting model configuration](https://docs.mi

[2020-04-16 13:39] JonPSmith commented on #17826
@HamidMolareza,

There is a trade-off here - your code would be quicker if there were lots of courses and instructors only dealt with a few courses. But your code has two database queries, each with a database round-trip cost, while the current code does only one database access. The point is that two queries are more costly than one (see my [NDC London 2020 video](https://www.youtube.com/watch?v=

[2020-04-16 14:22] urig opened #17854 "Link to "Routing: Reserved routing names is broken"?"
At the very beginning of the article there is a link to "Routing: Reserved routing names" referring to URL: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.1#reserved-routing-names

The document behind this URL makes no mention of reserved routing names. The word "reserved"  does not appear in the document.

Might the link be wrong?

---
#### Document Details

⚠

[2020-04-16 14:44] gilmishal commented on #16406
I have created an app with IdentityServer4 before, and although it is a bit more burdensome than `AddApiAuthorization` it is much better documented and I feel that it creates an abstraction that is very hard to figure out.

Configuring clients with appsettings.json uses a totally different syntax than the official IdentityServer docs - and the existing syntax isn't well documented.  I understand t

[2020-04-16 16:10] HamidMolareza commented on #17826
@JonPSmith Thanks for the video.

I don't understand why my code has two database queries. Conversely, I think the current code has a query and **my code has zero query**! Please note that the current code has access to the `context` through the method parameter, but my code does not.

`instructorToUpdate` is in **memory** and `selectedCourses` is in memory too. `UnionWith` operations are performe

[2020-04-16 16:29] guardrex opened #17855 "[Preview 4] Blazor WASM IWebAssemblyHostEnvironment"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a015ab57-3e5c-f5c8-338c-d491c3e9e3fb
* Version Independent ID: 951c8cfc-6aae-2e15-a085-66071d80f6a4
* Content: [ASP.NET Core Blazor hosting model configuration](https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-model-configuration?view=aspnetcore-3.1)
* Content

[2020-04-16 16:33] slnali commented on #2501
Hi All, i was having the issue where I needed resx files to generate designer.cs files from VS Code. The following tool helped me to do this: https://github.com/Taritsyn/ResxToCs. I just added the ResxToCs.MSBuild (nuget package) which added a build task to my csproj file and created designer.cs files each build.

One thing to mention is that the format of the translation to designer.cs file is di

[2020-04-16 16:44] JonPSmith commented on #17826
Sorry, i missed that. I'm trying to do this in my spare time, so I haven't run any code. This would take me more time than I can provide so I am bowing out.

Sorry @Rick-Anderson, I didn't help here.

[2020-04-16 17:09] danroth27 commented on #2501
@KathleenDollard

[2020-04-16 17:53] guardrex opened #17857 "[Preview 4] Enhance Blazor WASM Brotli content"
https://github.com/dotnet/AspNetCore.Docs/pull/17831#discussion_r409741644

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89b4d6a1-1436-7ba8-a5c5-8dcb6a955bb0
* Version Independent ID: 4a6a13b4-fe5c-a9fb-5d7d-33d5aa0fbac3
* Content: [Host and deploy ASP.NET Core Blazor WebAssembly](https://docs.microsoft.com/en-us/aspn

[2020-04-16 18:33] guardrex opened #17858 "[Preview 4] Update HttpClient coverage"
https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-4-release-now-available/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b5e2e10-ff7b-2b9f-84da-f16028ae2c53
* Version Independent ID: c7e59a08-1c60-32c2-75fd-33cb77ff7a5d
* Content: [Call a web API from ASP.NET Core Blazor](https://docs.microsoft.c

[2020-04-16 18:45] #17830 closed

[2020-04-16 18:47] Rick-Anderson commented on #17826
@JonPSmith  thanks for your expert help. Hope all is well.

[2020-04-16 18:47] #17826 closed

[2020-04-16 18:59] Rick-Anderson commented on #17852
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2020-04-16 18:59] #17852 closed

[2020-04-16 19:03] gardc opened #17860 "Call services from main ObjectDisposedException explanation"
In [call services from main](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-3.1#call-services-from-main) section, `var serviceScope = host.Services.CreateScope()` should not be wrapped in a `using` block, according to `ObjectDisposedException `runtime explanation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-04-16 19:15] Rick-Anderson commented on #17860
@jkotalik please quick review

[2020-04-16 20:04] #17824 closed

[2020-04-16 21:23] Rick-Anderson opened #17862 "UseCors must come before UseAuthorization"
See https://github.com/dotnet/aspnetcore/issues/20709

cc @serpent5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59bca5db-1196-2a8b-a0d8-4e89b2382288
* Version Independent ID: d3f332c4-4c60-039e-0e1e-bc6b11831f87
* Content: [Enable Cross-Origin Requests (CORS) in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/

[2020-04-16 21:46] Bottswana commented on #17862
I believe this is the wrong way round, UseCors() must come before UseAuthorization

Working code example (From other issue):
[code]

[2020-04-16 22:01] #17556 closed

[2020-04-16 22:30] HamidMolareza commented on #17826
@Rick-Anderson  I didn't understand what the result was!

[2020-04-16 22:46] Rick-Anderson commented on #17826
@HamidMolareza  we won't be changing queries on this tutorial unless it's a problem. In this case it's a trade-off and your approach isn't a clear advantage. We are a small doc team with more work than we can do. This doesn't meet the bar.

[2020-04-16 23:25] invertedsoftware opened #17865 "Please add InvertedSoftware.PLogger.Core the the third party logging provider list"
Please add InvertedSoftware.PLogger.Core the the third party logging provider list.
Nuget:
https://www.nuget.org/packages/InvertedSoftware.PLogger.Core/1.0.0

GitHub
https://github.com/invertedsoftware/InvertedSoftware.PLogger.Core

[2020-04-16 23:38] #13706 closed

[2020-04-16 23:38] #17721 closed

[2020-04-16 23:38] #13140 closed

[2020-04-16 23:38] #13331 closed

[2020-04-16 23:45] Rick-Anderson commented on #17865
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2020-04-16 23:45] #17865 closed

[2020-04-16 23:47] Rick-Anderson commented on #17854
cc @serpent5

[2020-04-17 00:44] Rick-Anderson commented on #17837
Moved to Master issue: Handle errors in ASP.NET Core web APIs #16385
hopefully we can get to this in the next review.

[2020-04-17 00:44] #17837 closed

[2020-04-17 00:47] #17858 closed

[2020-04-17 01:38] #17855 closed

[2020-04-17 03:23] jdnark opened #17871 "Your article is version SDK 3.1 but your cfreate image screenshot shows SDK 3.0"
No the world will not end but you should update the screenshot of Create ASP.NET Core Web Application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://docs.

[2020-04-17 04:56] mkArtakMSFT commented on #3524
Here is the link in case people want to find it: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-3.1#middleware-order

[2020-04-17 06:32] willydavidjr opened #17872 "Install the .NET Core Hosting Bundle Link Not Working"
When I visited this site for the first time, I selected my version ASP.NET Core 2.1 on the options at the left hand side. Then when I click the link: Install the .NET Core Hosting Bundle, nothing happens? So what is the link or is this the same link with ASP.NET Core 3.1 version since when ASP.NET Core 3.1 version is selected, the link is working.

---
#### Document Details

⚠ *Do not edit this se

[2020-04-17 07:44] mstavrev opened #17873 "Loading session state asynchronously - potential usage problem"
There is a potential issue regarding the section:

[Load session state asynchronously](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-3.1#load-session-state-asynchronously)

Naturally, whoever is implementing such a work-around to asynchronously load the cache prior to any use (get, set) may decide to use the `ISession.IsAvailable` property to check if the sess

[2020-04-17 10:00] guardrex commented on #17872
Hello @willydavidjr ... Good point. Both versions of the doc use the same "permalink," and they both download the latest version of the Hosting Bundle ...

https://dotnet.microsoft.com/permalink/dotnetcore-current-windows-runtime-bundle-installer

Since (IIRC) the 3.x runtime isn't backwards compat for 2.x, that's not a *good cross-link user experience*. However, we don't really want to use ...

h

[2020-04-17 10:04] guardrex commented on #17872
Actually, good news. There's already an "earlier version" section. I need to fix the text tho just a hair.

https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.1#earlier-versions-of-the-installer-2

[2020-04-17 10:13] colinpmillar opened #17874 "courseID select link missing id"
The course select link does not send the information about what instructor is selected.  I have fixed this by using
[code]
unless I am missing something?
Thanks for the great resource!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0026f69-7e5d-0d3e-5586-16ecc0656ff0
* Version Independent ID: 3cb264da-2ff1-1256-572f-a

[2020-04-17 10:37] guardrex commented on #17853
Closing as this *should be* covered by current content at https://docs.microsoft.com/en-us/aspnet/core/security/blazor/server?view=aspnetcore-3.1&tabs=visual-studio#pass-tokens-to-a-blazor-server-app.

[2020-04-17 10:37] #17853 closed

[2020-04-17 11:35] guardrex commented on #17857
@danroth27 @mkArtakMSFT ...

In the @benaadams 👋 issue, he provided the following.

The ADDs and REMOVEs are for your reference. After you mod/validate the content changes, I plan to perform the ADDs and REMOVEs on the file to produce the final version for readers.

How do you want to handle the file for the doc?

1. Cross-link the file from a doc folder. We can use GH's `?raw=true` qs if you like

[2020-04-17 12:23] #17760 closed

[2020-04-17 12:56] guardrex commented on #17578
Ok 😅 ... I'm up to this now. As you probably know, the Preview 4 release was yesterday, so there was a lot of action 🏃 to get that squared away.

This is my next issue to address. I've pretty much burned thru my hours this week, so look for something on Monday ........ er ... 🤔 ... uh .......... **_Monday-ish_** 😄 ... you never know *exactly!*

@mkArtakMSFT Thus far the thinking is that config for

[2020-04-17 14:30] invertedsoftware opened #17878 "Please add https://www.nuget.org/packages/InvertedSoftware.PLogger.Core/ to the 3rd party providers"
Please add https://www.nuget.org/packages/InvertedSoftware.PLogger.Core/ to the 3rd party providers
The project is here: https://github.com/invertedsoftware/InvertedSoftware.PLogger.Core

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-f367-d733-8933

[2020-04-17 15:23] HamidMolareza commented on #17826
@Rick-Anderson

This is another matter and hope the open community can help too.

1. Access to `SchoolContext` **isn't necessary**.
2. Query to database has **cost**. (`context.Courses`)
3. It doesn't matter in few courses/requests (many approach is good), but for lots of courses/requests, get all courses from database and iterate through can be very costly. (**iterate through all courses isn't ne

[2020-04-17 17:58] #17851 closed

[2020-04-17 18:23] VishalMadhvani opened #17880 "SignalR Client + Server Version Compatibility"
I can't seem to find any information on client/server version compatibility for SignalR. Is anyone able to shed some light on this?

For example, can the 3.x Javascript or .NET Core libraries be used against an ASP.NET Core 2.x SignalR Server?
This seems to work, but is it a supported use case or is it best to match the client and server versions?

[2020-04-17 18:32] Rick-Anderson commented on #17871
We'll do this in the next review. Thanks for the comment.

[2020-04-17 18:32] #17871 closed

[2020-04-17 18:44] #17872 closed

[2020-04-17 18:49] Rick-Anderson opened #17881 "Master issue: Session and state management in ASP.NET Core"
This is the master issue for this doc. If you PR this doc and don't fix all the issues, open the issues you fix and close against that.

PU issues:
- [ ]  https://github.com/dotnet/AspNetCore.Docs/issues/16542
- [ ]  HttpContext.Session.IsAvailable will cause an exception if not created by DI, there should be a safe way to test if session is available #17103
- [ ]  Loading session state asynchrono

[2020-04-17 18:52] Rick-Anderson commented on #17873
Moved to Master issue: Session and state management in ASP.NET Core #17881

[2020-04-17 18:52] Rick-Anderson commented on #17103
Master issue: Session and state management in ASP.NET Core #17881

[2020-04-17 18:53] Rick-Anderson commented on #16542
Master issue: Session and state management in ASP.NET Core #17881

[2020-04-17 19:26] KirillOsenkov opened #17882 "Document the difference between web, mvc, webapp, webapi, gRPC, and razor and when to use which"
Right now when I need to create a new website what should I choose? The templates look similar but with some differences. I think this should be documented with some good guidance for beginners.

***EDIT by @Rick-Anderson*** per @danroth27

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b952f8a-18e1-4843-0741-6ca877fb3

[2020-04-17 20:10] paultechguy commented on #12002
@neosri, wondering how you were able to generate the token manually?  I want to have a batch console app send confirmation emails to people who never completed their original register/email?  I also get "invalid token".  I am assuming this is because the UserManager was different in console vs. web (where confirm is done).

[2020-04-17 20:28] KirillOsenkov commented on #17882
I think the section that lists `dotnet new mvc` and `dotnet new webapp` should have a link to https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-3.1&tabs=visual-studio, which explains the difference between MVC and Razor pages.

[2020-04-17 20:34] willydavidjr commented on #17872
Thanks for the assistance. I was able to download it now. :thumbsup:

[2020-04-17 21:52] mouleja opened #17886 "The Sample App section"
It's not entirely clear what the purpose of this section is.  I followed the steps (Sqlite flow) successfully and was able to see the completed app but then had to delete everything again in order to continue the tutorial.  (In fact, copying the created CU.db file to the new project caused issues since Students had FirstName instead of FirstMidName.)  Perhaps a link to the repo is sufficient along

[2020-04-17 22:34] wadepickett commented on #17821
@pawelpetruch, thanks very much for bringing this up.  We need to clarify where that information is, and that it is not a special case for gRPC since those configuration options and more are available for all ASP.NET Core apps.

So I'll take this tact:
- Clarify the server can be customized like any other ASP.NET Core app, such as for the server address and the port to listen on.
- Point to the Ke

[2020-04-17 22:46] Rick-Anderson commented on #17886
The sample app section is just to give you an overview of what the project will look like.

[2020-04-17 22:46] #17886 closed

[2020-04-17 22:51] Rick-Anderson opened #17887 "Simplify To run the app after downloading the completed project: on VSC"
Use profiles/preprocessor directive so you only need one step. Perhaps supporting only `dotnet run` with the appropriate launch profile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a54c97f-ddd4-b041-5e5f-a2df009ace50
* Version Independent ID: fa488196-1f98-08ea-adcc-17d9dac86727
* Content: [Razor Pages with Entity

[2020-04-17 23:22] billti opened #17888 "aspnet-codegenerator command doesn't work as shown"
I get the below error. The code typed in as shown, indeed doesn't have a parameter-less constructor.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add a model to a Razor Pages app in ASP.NET Core](ht

[2020-04-17 23:25] billti commented on #17888
Actually, ignore that. The one line change in startup.cs to add `services.AddDbContext<RazorPagesMovieContext>...` hadn't been saved. Saving that resolved the error. So nothing to do with a parameter-less constructor at all!

[2020-04-17 23:26] #17888 closed

[2020-04-17 23:33] uceemso opened #17889 "Microsoft.EntityFrameworkCore.InMemory"
I had to install the package Microsoft.EntityFrameworkCore.InMemory to use the method UseInMemoryDatabase

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://d

[2020-04-17 23:49] AslalSujath opened #17890 "@OnClick not trigger target method"
I try to use my repository data to display in card view , then press button to see more information about the item, it is not work. @onclick is only work for json data

&lt;div class="card-columns"&gt;
    @foreach (var item in repoItem.GetAll())
    {
        &lt;div class="card"&gt;
            &lt;div class="card-header"&gt;
                &lt;h5 class="card-title"&gt;@item.Name&lt;/h5&gt;

[2020-04-18 00:30] Rick-Anderson commented on #17888
@billti  thanks for the followup.

[2020-04-18 00:31] Rick-Anderson commented on #17889
That's in the instructions.

[2020-04-18 00:31] #17889 closed

[2020-04-18 02:58] 717009629 commented on #16726
How can it return 401 code, not redirect to login page, when user cookie authentication?

[2020-04-18 03:19] #17854 closed

[2020-04-18 03:20] #17862 closed

[2020-04-18 03:22] #17691 closed

[2020-04-18 06:38] lertoo opened #17892 "3.1 update of Safe storage of app secrets i"
When CreateDefaultBuilder isn't called, add the user secrets configuration source explicitly by calling AddUserSecrets in the Startup constructor.

The constructor is:
public Startup(IConfiguration configuration)
    {
        Configuration = configuration;
    }

where this is from:
public Startup(IWebHostEnvironment env){...}

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-04-18 07:10] avidme commented on #17839
Yes the doc must also explain how to set up site in IIS so that the complete picture of using IIS profile for the .Net Core applications will be easy to understand and implement. I had very tough time putting all these pieces together. Though we try to keep all the missing pieces together there are some loop holes of which we cannot reason about.

[2020-04-18 11:21] mbedded opened #17893 "Scenario: Custom Attributes like ActionFilter in AspCore"
I hope this is the correct area for my issue. Otherwise feel free to move this ticket :)

I have an issue with custom Attributes to add logic via @attribute-Annotation.

As example i have in ASP Core an action with a parameter. With the annotation (ActionFilter) i want to verify the parameter before the Controller executes.

[code]

The `CheckProjectAttribute` verifies if the ID exists. If true: N

[2020-04-18 11:38] hamiltonjose opened #17894 "Asp.net core 3.1 Windows Auth on Linux"
In this page, we see reference to ktpass (to generate the password) and klist (to see the actual kerberos ticket alive), however who is performing kinit? The framework? Can you point to a documentation about how this is happening under the hood?

Another question: In this scenario, who is keeping the kerberos ticket alive?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-04-18 12:08] guardrex commented on #17893
Hello @mbedded ... Move that to the engineering repo (you'll need to do it, I don't have 'move issue' authority) ...

https://github.com/dotnet/aspnetcore/issues

[2020-04-18 12:08] #17893 closed

[2020-04-18 13:40] mbedded commented on #17893
Thank you for your feedback :)

[2020-04-18 16:41] neosri commented on #12002
Hi there.
You can do that by setting the following in the console and the application where users register/login.Add the middleware like below. Please use the same application name.
  services.AddDataProtection()
        .SetApplicationName("shared app name")
.PersistKeysToAzureBlobStorage(container, "keys.xml");//can be any mechanism mentioned below

there are different ways to secure and persist

[2020-04-18 18:17] Rick-Anderson commented on #17892
See [Access a secret](https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-3.1&tabs=windows#access-a-secret) where 2.1 code is used.

[2020-04-18 18:18] Rick-Anderson commented on #17892
cc @serpent5

[2020-04-18 19:40] albinkc opened #17896 "Link to DataType attribute broken"
In the explanation:
[
DataType(DataType.Date)]: The DataType attribute specifies the type of the data (Date). With this attribute:

The user is not required to enter time information in the date field.
Only the date is displayed, not time information.

The link to DataType pointing to https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.dataannotations.internal.datatypeattributeada

[2020-04-18 19:47] Rick-Anderson commented on #17896
[DataType(DataType.Date)]: The DataType attribute specifies the type of the data (Date). With this attribute:

DataType should be `<xref:System.ComponentModel.DataAnnotations.DataTypeAttribute.DataType>`

Need to figure out what include that's in.

@albinkc  thanks for the report.

cc @serpent5

[2020-04-18 20:41] jasekiw opened #17897 "The link to Unrestricted File Upload is broken"
The link: Unrestricted File Upload to https://www.owasp.org/index.php/Unrestricted_File_Upload does not work. It results in a 404.

I believe the link should be changed to https://owasp.org/www-community/vulnerabilities/Unrestricted_File_Upload

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5cfa38-0e6c-4346-dafc-84ea

[2020-04-18 21:41] serpent5 commented on #17892
I don't think that's 2.1 code. The `Startup` class creates its own `IConfiguration` because the one available through DI will, by default, only include the _host_ configuration, and not all the other providers added by `CreateDefaultBuilder`.

I think the sample and explanation is valid as is, even for 3.x. However, in my opinion, it would be better to add the configuration inside of `Program`, us

[2020-04-19 01:22] guardrex commented on #17897
They're forwarding for me; but yes, let's definitely avoid the redirect. I'll patch it up.

Thanks @jasekiw!

[2020-04-19 01:27] #17897 closed

[2020-04-19 03:10] Rick-Anderson commented on #17892
@serpent5  great idea.

[2020-04-19 06:27] timrobinson33 opened #17901 "Define "factory method""
Both this page and the "logging" page (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1in) and probably others, use the terms  "Constructor Injection" and "factory method", but those terms aren't really defined. It would be really useful if the "Service registration methods" section explained what those terms mean and how they fit in with the different service

[2020-04-19 07:20] IamDZN opened #17902 "Microsoft.AspNetCore.SpaServices.Extensions Docementation"
Where is the documentation for "Microsoft.AspNetCore.SpaServices.Extensions" package?

I am getting below warning when using "Microsoft.AspNetCore.SpaServices" with a Vue based .NET Core applciation. It seems like these packages were made obsolete with "Microsoft.AspNetCore.SpaServices.Extensions" package but there are no documentation about this package.

warning CS0618: 'PrerenderTagHelper' is o

[2020-04-19 08:02] vorapons opened #17903 "Some procedure is missing"
In this step
&gt; Update the /Views/Movies/Create.cshtml with a Rating field. &lt;
page for Visual Studio Code is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca95f5e-0fe4-bbd2-fd23-13562e02f888
* Version Independent ID: c3fb9673-4da6-5eeb-08bb-6f8e7bc8e0c6
* Content: [Add a new field to an ASP.NET Core MVC

[2020-04-19 11:07] guardrex commented on #17890
Hello @AslalSujath ... We don't have the staffing to provide product support. Please ask on one of the common support channels ...

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/)
* [ASP.NET Gitter](https://gitter.im/aspnet/Home)

[2020-04-19 11:07] #17890 closed

[2020-04-19 11:25] JSpring3 opened #17904 "This doesn't work with AWS Cognito"
[EDIT by guardrex to add the topic metadata and fix the code block]

I could not get your example working AWS Cognito.
It will send me back a valid ID token and a valid access token in the response but the example application does nothing with the two tokens so it doesn't display the name or show that you are logged in.

Here is my AWS Cognito Config

[code]

---
#### Document Details

⚠ *Do not e

[2020-04-19 11:28] guardrex commented on #17902
Hello @IamDZN ...

Mentioned in the [2.2 to 3.0 migration topic](https://docs.microsoft.com/aspnet/core/migration/22-to-30#add-package-references-for-removed-assemblies) under **SPA Services**. It links to the NuGet package at ...

https://www.nuget.org/packages/Microsoft.AspNetCore.SpaServices.Extensions

Also linked in the [Use JavaScript Services to Create Single Page Applications in ASP.NET Co

[2020-04-19 11:28] #17902 closed

[2020-04-19 11:46] guardrex commented on #17904
Hello @JSpring3 ... btw ... please use the **This page** feedback button+form at the bottom of any topic. It adds metadata and automatically pings the author of the topic. No worries tho, I added the metadata manually to your opening comment. Oh, and I noticed that you have a single backticks for the code. Single backticks are used for inline code. Three backticks (on their own lines) above and be

[2020-04-19 11:59] guardrex commented on #17904
... or try adding them as a `List<string>` ...

https://github.com/dotnet/aspnetcore/blob/blazor-wasm/src/Components/WebAssembly/WebAssembly.Authentication/src/Options/OidcProviderOptions.cs#L33

[2020-04-19 12:15] guardrex commented on #17904
I'm going to go ahead and schedule this for work to make it clear how the scopes are added. If this doesn't solve your issue, open an issue with engineering at ...

https://github.com/dotnet/aspnetcore/issues

... and add a `cc: @guardrex` to your open comment so that I can track the discussion.

[2020-04-19 12:22] guardrex opened #17905 "Provide commands to get Blazor template options"
https://github.com/dotnet/aspnetcore/issues/20890#issuecomment-615933802

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab93ded4-34f4-eddc-d967-96b2326fce9c
* Version Independent ID: 4ee1d242-ec4f-c760-d1ce-26d31e3d2f49
* Content: [ASP.NET Core Blazor templates](https://docs.microsoft.com/en-us/aspnet/core/blazor/templ

[2020-04-19 12:31] #17905 closed

[2020-04-19 12:34] hafniz opened #17907 "Missing code highlight in "Update the Delete Razor page" section"
The code block shown in this seciton replaces FirstMidName with FullName in the Administrator field. However, its corresponding row (`@Html.DisplayFor(model =&gt; model.Department.Administrator.FullName)`) is not highlighted in yellow/green. Hope this can be fixed so that readers can more easily see which part of the code they need to change.

---
#### Document Details

⚠ *Do not edit this section

[2020-04-19 12:47] hansly1985 commented on #16881
Can you provide a guide for ASP.Net Core Razor Pages. Because many things are differents.

[2020-04-19 14:54] robertburgh commented on #13542
@SoftCircuits  What @Rick-Anderson says about the redirects working is accurate. For my issues, it wasn't about ajax, the POST verb, etc. but troubleshooting several - in hindsight - minor issues. None of which had anything to do directly with redirect. Example: Antiforgery token, ./ vs /  and other small issues. I disabled everything I could, fired up postman, and most important remembered that w

[2020-04-19 16:31] serpent5 commented on #17892
@Rick-Anderson Could you fix up the monikers in this file? I count 20. I would do it myself but I don't have a way to validate them. There's no rush, but it'd make it easier to use the snippet above for 3.x only.

[2020-04-19 17:31] Tidus972 opened #17908 "Pdf summary issue on e-reader"
# Issue description
Hello,
Using an e-reader, the generated summary pages target correctly the corresponding chapter but using the e-reader summary  the target fail starting at the "depedency injection" chapter. It really start at page 852 but the summary indicate page 851. Then all the following chapter are pushed several page down.

[2020-04-19 20:33] Rick-Anderson commented on #17892
@serpent5 if I don't fix it in the next 2 days, send me a reminder.

[2020-04-19 20:36] Rick-Anderson commented on #17907
Thanks, we'll address this in the next update.

[2020-04-19 20:36] #17907 closed

[2020-04-19 20:38] Rick-Anderson commented on #17903
It's there.

[2020-04-19 20:38] #17903 closed

[2020-04-19 20:40] Rick-Anderson commented on #17908
Can you check [these issues](https://github.com/MicrosoftDocs/feedback/issues?q=is%3Aissue+is%3Aopen+PDF+in%3Atitle), if it's not there. open a new issue. That's the right repo.

[2020-04-19 20:40] #17908 closed

[2020-04-19 20:44] #17896 closed

[2020-04-19 20:47] Rick-Anderson commented on #17901
DI fixed in PR #17909

[2020-04-19 23:14] afuzzyllama opened #17912 "Cannot negotiate SingalR with WASM client."
When following the "Use ASP.NET Core SignalR with Blazor WebAssembly" tutorial, I cannot get a successful negotiation between a WASM client and localhost.  The returned status is always 404

Running with:
* Client
  * Microsoft.AspNetCore.Components.WebAssembly 3.2.0-preview4.20210.8
  * Microsoft.AspNetCore.SignalR.Client 3.1.3
* Server
  * Microsoft.AspNetCore.Components.WebAssembly.Server 3.2.0

[2020-04-20 00:36] hakenr commented on #17649
The workarounds described above does not help if there is more than one role provided in the JWT token. In such case the `role` section of the token looks like
[code]
...which is not correctly handled by Microsoft.AspNetCore.Components.WebAssembly.Authentication package. You can "hack" (post-fix) this issue by overriding and replacing the `AccountClaimsPrincipalFactory<TAccount>` service with this

[2020-04-20 01:00] guardrex commented on #17912
Hello @afuzzyllama ... I'll see if I can repro your experience here on Monday.

[2020-04-20 01:14] jlinstrum opened #17913 "Mapping strings from Azure website into app code"
I managed to get the blazorwasm template working, and it only took me about a day to do it, which I don't consider to be too bad. Aside from the large number of steps (unavoidable) the part that was most difficult was taking the information written down while creating the AAD B2C resources on the website and mapping that info into the terms for the "dotnet new" command (or trying to map it to the

[2020-04-20 01:20] guardrex commented on #17649
@hakenr ... I saw a similar change for the `roles` claim from AAD. It used to be (Preview 2) that the value of the `roles` claim was just a comma-separated list of roles in the claim value.

Anyway ... that's not directly related except to say that if the WASM auth gets a `roles` claim with an array like that that it can't parse it and thus will fail for `IsInRole`. It might disturb policy checks

[2020-04-20 01:30] guardrex commented on #17913
Yes, I'll take that under consideration. I split the entries and used bullets. For example, it says for the tenant ...

Then, for the server API, it says ...

Finally for the client app, it says ...

I'll take a look at a few things:

* Keying the values better to the command that follows.
* Possibly using a clear table of values (or three of them maybe).

[2020-04-20 02:10] jasekiw commented on #17897
@guardrex Thanks!

[2020-04-20 06:14] ArjunVachhani opened #17916 "How to send ping control frame?"
web sockets protocol allows to send ping control frame to check if other endpoint is responsive or not. how to send ping/pong control frames?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b0cac1-adc7-434c-d867-6e28e39bdae7
* Version Independent ID: 762efeed-010e-f422-03d0-22d6681b2851
* Content: [WebSockets support

[2020-04-20 06:34] stiasta opened #17917 "what is the default behaviour when the ResponseCache is not added to an API?"
Hi, what is the default behaviour when the ResponseCache is not added to an API?
Let us say you have an incoming GET request without cache headers and nothing is configured in the dotnet core API regarding cache. What will default cache headers be for the response?

I am thinking more specifically of the IE GET request client side caching that is on by default and the evergreen browsers do not hav

[2020-04-20 07:48] Rick-Anderson commented on #13492
This is the master issue for this doc. If you PR this doc and don't fix all the issues, open the issues you fix and close against that.

PU issues:
- [ ]  How to send ping control frame? #17916
- [ ]
- [ ]
- [ ]

**_Not_** PU issues:
- [ ]
- [ ]
- [ ]
- [ ]

[2020-04-20 07:49] Rick-Anderson commented on #17916
Moved to Add additional info WebSockets : Master issue #13492

[2020-04-20 07:49] #17916 closed

[2020-04-20 07:52] 1cm opened #17918 "Wrong url"
This section has wrong url:

"View or download sample code from the AspNetCore GitHub repository. Download the dotnet/AspNetCore repository ZIP file. Unzip the file. Navigate to the src/Security/samples/CustomPolicyProvider project folder."

View or download sample code is wrong.
The good one is this one:
https://github.com/dotnet/aspnetcore/tree/master/src/Security/samples/CustomPolicyProvider

-

[2020-04-20 08:02] urig commented on #17854
Thank you @Rick-Anderson and @serpent5 for taking care of this and so quickly. 💯

[2020-04-20 08:30] danijam opened #17919 "Why is no client secret required?"
In the section "Register the app in Azure AD B2C" it says that a client secret isn't required in this tutorial. I'd like to understand why? Does there not need to be a secret trust relationship between the application and Azure B2C?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 765e611b-a170-db1a-fa50-2771d79b2732
* V

[2020-04-20 10:29] ArjunVachhani commented on #17916
it looks like by mistake you have closed wrong comment.

[2020-04-20 12:20] ParthiKarnan opened #17920 "AllowAnonymous attribute is not working in Asp.net Core 2.2 Web API"
I have migrated my asp.net core Web API project from 1.0.5 into 2.2 version. After the migration, the **[AllowAnonymous]** attribute is not working in the Middleware class file. It'll throw 401 Unauthorized status code from middleware itself.

public class AuthorizationMiddleware
{
    private readonly RequestDelegate next;
    public AuthorizationMiddleware(RequestDelegate next)
    {
        thi

[2020-04-20 12:29] timcromarty opened #17921 "Add an example how to do 2-way data binding to a grandchild component"
2 way data binding through a hierarchy of components is really confusing

Parent component --&gt; Child component --&gt; grandchild component

Parent component:
&lt;childComponent @bind-Property="somevalue" /&gt;

Child component:
[Parameter] public Property { get; set;}
[Parameter] public EventCallback&lt;type&gt; PropertyChanged { get; set; }

How can I pass the bound value on to the grandchild

[2020-04-20 12:59] JSpring3 commented on #17904
Thanks for the info,
Your fix did not resolve the issue.
Do I need add this issue somewhere else or here?

[2020-04-20 14:06] afuzzyllama commented on #17912
I've tried to figure out more on my end, but trying to configure logging for SignalR produced nothing.  I could not get the Core Web Server to output anything to the console in Visual Studio following [Logging and diagnostics in ASP.NET Core SignalRl](https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1).   In the browser, setting logging to debug for the wasm app d

[2020-04-20 14:10] guardrex commented on #17904
Open a new issue on the engineering repo at ...

https://github.com/dotnet/aspnetcore/issues

Please add a `cc: @guardrex` to the bottom of your opening comment so that I can track the discussion. Thanks.

Leave this docs issue open. I still need to add a little more info about setting up multiple scopes. This issue will automatically close when the PR merges. ......... **_and_** engineering may h

[2020-04-20 14:12] guardrex commented on #17912
I'll take a look, but I'm slammed at the moment 🏃😅. I'll try to get to this by the end of the day. 🤞

You could try reaching out to the usual support channels in the meantime ... see if anyone else has tried it and is having trouble.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/)
* [ASP.NET Gitter](https://gitter.im/asp

[2020-04-20 14:15] afuzzyllama commented on #17912
No rush!  I just wish I could provide you with more than essentially "why isn't this working!"

[2020-04-20 14:21] guardrex commented on #17912
That's ok ... things break from time-to-time and this isn't all that unusual during preview. I'll just walk the tutorial like you did from scratch. If I get the same outcome, then we'll open an issue for engineering. If I walk it and it works, I'll toss my solution up on GH for you to compare to your solution.

The thing about my testing first that's helpful on the MS end is that if it does work h

[2020-04-20 14:24] mjrousos commented on #17918
Thanks for spotting this, @1cm. I've opened a PR with a fix.

[2020-04-20 14:57] guardrex commented on #17921
Good ❓ @timcromarty ... I haven't tried a three-level multi-level bind like that. I have a suspicion that a state container is the way to go.

I whipped up a test, and I discovered that the last bind going up from the grandchild to the grandparent seems not to work. Try this set of components and you'll see what I mean ...

Added to *Shared/NavMenu.razor* ...

[code]

*Pages/ParentComponent.razor*

[2020-04-20 15:13] afuzzyllama commented on #17912
So I have an update.  It does work, I just wasn't launching my project correctly.  In Visual Studio if you launch the razor page with the "View in Browser" command, it doesn't launch the server project.  It seems to launch some other default server 🤷 The project must be launched with either Debug (F5) or Start Without Debugging (Crtl+F5).

Thanks for your responses, you can take this off your plat

[2020-04-20 15:18] guardrex commented on #17912
**_GrEaT!_**

Before we close this tho, let me adjust that VS and VSC instruction. We called out running the app without debugging. Now, VS and VSC can say/show that running with debugging is ok based on the recent preview updates since this document was first put up, when you didn't have a choice about it.

I'll adjust the doc and then this issue will close automatically when the PR merges.

[2020-04-20 16:07] bradygaster commented on #15732
Adding @vijayrkn FYI from engineering side, also @spboyer on docs/e2e side. Folks - are you iterating on the doc mentioned and simply, the Next button does nothing? Is it enabled or is it disabled?

[2020-04-20 16:09] bradygaster commented on #17825
Azure SignalR Service supports both flavors of SignalR. It will **not** translate between the two - if you're running Framework you can't bounce messages to Core, and vice-versa, through the service, but as long as both the server and the client are talking **either** Core or Framework, it will work.

Is there something we can do to the docs to make this more evident? If not, can this issue be clo

[2020-04-20 16:10] vijayrkn commented on #15732
Can you please confirm what VS version you are using?

[2020-04-20 16:12] #17825 closed

[2020-04-20 16:16] udlose commented on #12679
I'd also like to know the guidance.  This has been open for 10 months now. Can we have some guidance please?  Would using Redis as a backplane solve this problem?

[2020-04-20 16:39] bradygaster commented on #12679
adding @davidfowl here as he and I are discussing a series of updates on SignalR architecture. I think this would be near the top of the list of things we'd want to touch on.

[2020-04-20 16:42] frozt86 commented on #17576
no documentation, no article, no topic in stackoverflow, no topic in any
forums. thx.

On Fri, 3 Apr 2020, 02:13 Rick Anderson, <notifications@github.com> wrote:

[2020-04-20 17:30] #17920 closed

[2020-04-20 17:33] Rick-Anderson commented on #17919
It's not doing the following

If your application exchanges an authorization code for an access token, you need to create an application secret.

[2020-04-20 17:33] #17919 closed

[2020-04-20 17:40] davidfowl commented on #12679
I don't understand the request so let me try to get some clarity (sorry for seeing this so late). Is this the architecture we're talking about (each box represents another machine):

[Client] <------> [ Server(s) ] <------> [ Workers with background service(s) ]

OR

[Client] <------> [ Server(s) with background service(s) ]

In short, do you want process messages in process or out of process?

I'

[2020-04-20 17:46] guardrex commented on #17660
There was churn in how the `roles` and `groups` claims work with AAD. Before, the app would get one `groups` claim for each security group and the value would be the GUID for that group ...

Claim Type | Claim Value
:-: | ---
groups | 69ff516a-b57d-4697-a429-9de4af7b5609
groups | ef547281-cf46-4cc6-bcaa-f5eac3f030c9

Now, they come down in a single `groups` claim as a JSON array ...

Claim Type |

[2020-04-20 17:56] guardrex commented on #17649
Thanks for that code @hakenr ... that was a nice basis for a user factory fix to some AAD security groups and user-defined roles code that I was working with at https://github.com/dotnet/AspNetCore.Docs/issues/17660#issuecomment-616710615. Eventually, I hope we can have happy path documentation for assigning AAD security groups/roles, then devs can easily use the app's auth approaches ...

* `<Aut

[2020-04-20 18:03] guardrex commented on #17790
@ferguson-eric Have a look at the following examples to get started with it ...

* https://github.com/dotnet/AspNetCore.Docs/issues/17649
* https://github.com/dotnet/AspNetCore.Docs/issues/17660#issuecomment-616710615

If you read the whole #17660 issue and the current live docs, you'll see that once you get role(s) into one or more `roles` claims that the app will pick that up for things like ...

[2020-04-20 18:03] #17790 closed

[2020-04-20 18:28] guardrex commented on #17578
This will be for tomorrow ... Tuesday ... *or Wednesday* ... we'll see. I've been working on other issues and still have two more things to resolve before hitting an inevitable *CoreBrainFry!*:tm: 🧠🔥😵🚒.

[2020-04-20 18:46] #17918 closed

[2020-04-20 19:27] guardrex opened #17927 "Blazor WASM with AAD groups and roles"
This is a placeholder to surface the work going on with AAD security groups and user-defined roles. For more information, see the working issue:

https://github.com/dotnet/AspNetCore.Docs/issues/17660

This issue will be closed shortly when the PR for the updates merges.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9

[2020-04-20 19:28] guardrex opened #17928 "Blazor WASM with AAD groups and roles"
This is a placeholder to surface the work going on with AAD security groups and user-defined roles. For more information, see the working issue:

https://github.com/dotnet/AspNetCore.Docs/issues/17660

This issue will be closed shortly when the PR for the updates merges.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b

[2020-04-20 19:54] DimaGoodwin opened #17929 "Duplicated text."
Memory configuration provider.
In the end of this section the text
"For an example of ordering the configuration providers, see JSON configuration provider."
is duplicated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb4d762-3910-2c57-8741-3306c15537b6
* Version Independent ID: ba2254a0-ea8e-9b28-e94b-edd0fc58c043

[2020-04-20 20:03] Rick-Anderson commented on #17929
cc @serpent5

[2020-04-20 20:32] CeciAc opened #17931 "How can it return 401 code,not redirect to login page?"
@717009629 commented on [Fri Apr 17 2020](https://github.com/dotnet/AspNetCore.Docs.zh-cn/issues/260)

How can it return 401 code,not redirect to login page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2229fc6-f8c8-952e-e567-b1d5a463055a
* Version Independent ID: b18a015b-914d-f014-f711-120d208904d9
* Content: [Use

[2020-04-20 20:40] Rick-Anderson commented on #17931
Duplicate of #16726

[2020-04-20 20:40] #17931 closed

[2020-04-20 20:48] Rick-Anderson commented on #16726
`<xref:Microsoft.AspNetCore.Authentication.AuthenticationProperties.RedirectUri>`

[2020-04-20 21:26] Rick-Anderson commented on #17164
Video tutorials need to be curiated, typically by the engineering team. Obviously video's delivered by the engineering team don't need to be curated.  If you find a video that should be added, create an issue with the link and we'll get it added within 2 business days. We don't have the resources to search for videos and curate them.

In a poll of 20 ESL customers, with all 20 having strong englis

[2020-04-20 22:18] VishalMadhvani commented on #17880
Thanks @davidfowl @anurse that's great to know. Having something in the docs would be helpful as I wasn't able to find any information suggesting this was a supported use case.

[2020-04-21 02:34] jlinstrum opened #17934 "Setting up Facebook as an Identity Provider"
I may be getting ahead of this document (sorry), but I got the existing instructions working on my app (cool, thanks for the docs!) so I went on to add Facebook as an identity provider. I did this following the instructions at https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-facebook . On the Azure website I could run the the Azure AD B2C | User flows &gt; B2C_1_signup

[2020-04-21 02:48] guardrex commented on #17934
Hello @jlinstrum ...

I haven't had a chance yet to work with the 3rd party providers. It's on my *To Do* list. I just need to burn through another half dozen or so issues before I get to it. This issue will likely be seen by management on Friday (4/24) and triaged for work. In the meantime (until I get to this), check with the community on the usual support channels. I have a feeling that you'll

[2020-04-21 02:57] Rick-Anderson commented on #15809
This issue is covered in #15839

[2020-04-21 02:57] #15809 closed

[2020-04-21 11:42] #17912 closed

[2020-04-21 12:16] #17665 closed

[2020-04-21 13:57] aseelawi commented on #6836
its mentioned here as warning
https://docs.microsoft.com/en-us/aspnet/core/performance/caching/response?view=aspnetcore-3.1

but it's mentioned clearly that its disabled in the middleware section  "Authorization | The response isn't cached if the header exists." !
https://docs.microsoft.com/en-us/aspnet/core/performance/caching/middleware?view=aspnetcore-3.1

however , I've tried it and it is work

[2020-04-21 15:02] mrlife opened #17939 "Include in one place all ways the lifecycle comes into play"
New issue per https://github.com/dotnet/aspnetcore/issues/20925#issuecomment-617198638

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bae853d-80e3-ef81-69eb-e8276eb853fe
* Version Independent ID: 01216f14-b45c-73b0-9f1f-300e7ddd788f
* Content: [ASP.NET Core Blazor lifecycle](https://docs.microsoft.com/en-us/aspnet/cor

[2020-04-21 17:37] Vaccano opened #17941 "Better details around the CAPI workaround"
The only option to get this working on a Linux machine is the X.509 certificate.

It has a "CAPI private key" limitation.  It hints at a work around below, but all the options below are windows only.

Better documentation on how to get this working on a Linux machine would be nice.  If it must be CAPI, then links on how to generate a CAPI compatible private key would be useful.

---
#### Document

[2020-04-21 17:38] Vaccano opened #17942 "Explain how refresh works in load balanced scenarios"
When there are more than one host sharing keys, what happens when both think they need to create the key at the same time?  Which key wins if they both try to call the IXmlRepository at the same time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 275ff6a6-a3f2-fb2b-6fda-4981abf46a7d
* Version Independent ID: e7547577-

[2020-04-21 17:54] Rick-Anderson commented on #17942
They don't need to create a key at the same time. The 2-day delay before activation gives the key time to propagate through the system.

[2020-04-21 17:54] #17942 closed

[2020-04-21 18:01] ptrotter1 commented on #15732
Microsoft Visual Studio Professional 2019
Version 16.5.4

Tried to upload a .gif here, but it would not work.

https://gifyu.com/image/l6yK

Nothing happens when we click the Next button. It does not appear to be disabled.

[2020-04-21 19:46] Gunner64 opened #17943 "Seeddata not working"
Hello, I've added the class seeddata as indicated on this page + changed the start-up class.
After I do update-database nothing happens. I don't get an error although I've at least one movie in the database. + the 2 new seeds are not added either.
I even tried to do an add-migration (since this an additional class to the models folder), afterwards update-database. But no luck either. Any pointers?

[2020-04-21 19:53] Gaurav-Puri101187 opened #17944 "**Cache Eviction Based On Memory Pressure**"
**Cache Eviction Based on memory  pressure**

- I think the question is how to decide size for the memory cache is it should be object size and if yes what are the best practices to fetch managed object size.
- Cache Size

[2020-04-21 19:59] Rick-Anderson commented on #17943
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2020-04-21 19:59] #17943 closed

[2020-04-21 20:02] #17178 closed

[2020-04-21 20:04] guardrex commented on #17944
Hello @Gaurav-Puri101187 ... Please use the **This page** button+form at the bottom of the topic, as it will add metadata for issue tracking and automatically ping the author of the topic.

[2020-04-21 20:26] Gunner64 commented on #17943
Yes, it works, after I deleted my entry in the database. This was the final step. I wanted to test If I would receive the error. But that is only if something else might go wrong.

[2020-04-21 20:27] Gaurav-Puri101187 commented on #16995
Any suggestion for the fact like what should be the basis of the size limit of memory cache coz it's difficult to find the size of an managed object to correctly set size of a cache entry.

Like any suggestions around maintaining the memory bounds using  IMemoryCache

[2020-04-21 20:59] Rick-Anderson commented on #16995
@serpent5  should we add your suggestion to the doc?

[code]

[2020-04-21 23:49] jlinstrum commented on #17934
Just to put a little more on your extremely full plate, it would be great if something was documented/put in the template for handling password reset. There is a link in the signupsignin user flow to reset the user password, but it seems to require more code in the app to do it's job. Here's something related that I found on SO:

https://stackoverflow.com/questions/41497158/azure-ad-b2c-self-servi

[2020-04-22 05:00] #17892 closed

[2020-04-22 05:10] Rick-Anderson commented on #17944
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2020-04-22 05:10] #17944 closed

[2020-04-22 07:08] bdnts commented on #17377
Hey @guardrex I just built a full example for that other project we've been working on.  I added `ServerValidate()` for the *SignIn.razor* component.  While researching I came across this page. You want me to post the link again, or paste the page or something?

[2020-04-22 07:34] iptecuico opened #17949 "AntiForgeryToken is reusable. Is there any configuration to make it unique on every request?"
AntiForgeryToken is reusable. Is there any option/configuration to make it unique on every request and invalidate the previous ones?

[2020-04-22 11:37] TheRealDuckboy opened #17950 "Typo"
"Square braces", the first bullet under _Token replacement in route templates_, should be "Square brackets".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee6ad2f-1667-8d5c-1f36-9d0511e3720f
* Version Independent ID: 7838ccec-c8e8-9baa-2b3e-220b2af5fc58
* Content: [Routing to controller actions in ASP.NET Core](https

[2020-04-22 11:38] guardrex commented on #17377
I have it, and I haven't forgotten about the other issue that you opened pertaining to this topic. I probably won't reach these issues until after the 3.2 release in May, then there should be a period of a month or two of low engineering churn that will allow me to catch up.

btw -- The Blazor work is tracked on the Blazor.Docs project ...

https://github.com/dotnet/AspNetCore.Docs/projects/35

[2020-04-22 11:42] TheRealDuckboy opened #17951 "Typo"
"the URLs path" should be "the URL's path" in the second paragraph under _Route template reference_.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32374077-e02e-d6a6-1cea-05e58447b7cd
* Version Independent ID: 86aeab13-1c25-9fc1-4e56-0390cb40c242
* Content: [Routing in ASP.NET Core](https://docs.microsoft.com/en-us/as

[2020-04-22 12:54] guardrex opened #17952 "Move two Blazor WASM Overview sections"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f34f7534-347a-5752-3127-fd774abea530
* Version Independent ID: af2c6c8a-d398-0202-4c28-cd5e15ce5219
* Content: [Secure ASP.NET Core Blazor WebAssembly](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/?view=aspnetcore-3.1)
* Content Source: [aspne

[2020-04-22 13:16] #17952 closed

[2020-04-22 13:23] bdnts commented on #17377
NP.  I've seen the number of PRs with your name on it.  You are a busy man.  Just hope I've been a little helpful.
Cheers.

[2020-04-22 13:54] pawelpetruch commented on #17821
@wadepickett that would be great.

[2020-04-22 14:33] pekspro opened #17955 "Using ValidationMessage with custom CSS-class"
I am using **ValidationMessage** in a razor component to show validation message, like this:

    <ValidationMessage For="@(() => ViewModel.CompanyNumber)" />;

This generates this HTML-code:

    <div class="validation-message">The company number field is required.</div>

Is it possible to change the CSS-class? I want to use something else than `validation-message`. Adding `class="myclass"` is ig

[2020-04-22 14:44] guardrex commented on #17955
Hello @pekspro ... Can you just set the style for `validation-message` in the app's *wwwroot/css/site.css* file? Would that work for you rather than changing the class?

Look for it in the file. There should be an existing entry from the template setting the color to red ...

[code]

[2020-04-22 15:00] pekspro commented on #17955
Thanks for a super fast answer @guardrex . Yes, I want to change the class to be use (in my case to `text-danger`). I know I can add a class in my CSS-styles, but I consider that to be cheating 😉 But if there are no other solution, I will use that.

[2020-04-22 15:03] guardrex commented on #17955
Open it for engineering at ...

https://github.com/dotnet/aspnetcore/issues

... and explain that you really want to change the class, not just set styles on `validation-message`.

Please add a `cc: @guardrex` to your opening comment so that I can follow the discussion. You can also add a link to this doc issue to cross-link them. Just place a ...

[code]

... somewhere in your opening comment.

H

[2020-04-22 17:46] pekspro commented on #17955
It turned out that there already was an issue for this: https://github.com/dotnet/aspnetcore/issues/8695

Thanks for your support @guardrex, it’s very much appreciated.

[2020-04-22 17:52] Rick-Anderson commented on #17950
Square braces: []

cc @serpent5

[2020-04-22 17:52] Rick-Anderson commented on #17951
cc @serpent5

[2020-04-22 19:34] serpent5 commented on #16995
Yeah, that's a small addition but it would resolve this issue. I'll get it sorted.

[2020-04-22 20:14] serpent5 commented on #16995
Actually, I don't think this approach is advised. There's a big warning in the topic, under [Use IMemoryCache](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/memory?view=aspnetcore-3.1#use-imemorycache), that discusses how setting a size limit on the shared `IMemoryCache` is a bad idea.

[2020-04-22 20:28] danroth27 opened #18277 "Document performance best practices for Blazor apps"
Filing a tracking issue to collect and document our performance best practices for Blazor apps.

Customer request for this info: https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-4-release-now-available/#comment-1925.

* [ ] WebAssemblyJSRuntime.Unmarhsalled APIs
* [ ] Use S.T.Json over Newtonsoft.Json
* [ ] Avoid marshalling JSON
* [ ] How to avoid excessive re-rendering - us

[2020-04-22 20:46] jesslilly opened #17959 "Services that depend on HttpContextAccessor"
Hi!  When you create a new scope, quite often, services require IHttpContextAccessor to get user or route info.    With the code OnPostAddTaskAsync I was getting an error that IHttpContextAccessor Context was null.  So I create the scope while my http request is still alive and THEN enqueue the work item.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-04-22 21:29] antoniobeltran commented on #6027
Has there been some smooth resolution for this? You would think there would have been a straight forward solution set by now? trying to install asp.net core as a subapp and having that issue where files are returning 404 because it's hitting localhost/filename instead of localhost/subapp/filename... Is there a new method to resolve this rather than updating a bunch of paths?

[2020-04-22 21:41] Rick-Anderson commented on #17959
Right, you shouldn't use `HttpContext `for background work.

[2020-04-22 21:41] #17959 closed

[2020-04-22 21:42] Rick-Anderson commented on #17959
Added to Background tasks with hosted services: master issue #17605

[2020-04-22 21:53] #16995 closed

[2020-04-22 22:15] daveapsgithub opened #17960 "Broken hyperlink"
The hyperlink associated with "DataAnnotations source code" at the bottom of this section https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-3.1#built-in-attributes is broken.   It is currently pointing to https://github.com/dotnet/corefx/tree/master/src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations

---
#### Document Details

⚠ *Do not

[2020-04-22 22:19] antoniobeltran commented on #6027
maybe this is a solution? https://docs.microsoft.com/en-us/iis/extensions/url-rewrite-module/url-rewrite-module-video-walkthrough

[2020-04-22 23:10] mkArtakMSFT commented on #17164
Thanks @Rick-Anderson. That's actually very interesting data you have there. What does `ESL` stand for?

[2020-04-22 23:38] antoniobeltran commented on #6027
ok.. solution:

edit: ClientApp\package.json

add:

  "homepage": "http://localhost/subapp",

done

[2020-04-22 23:58] guardrex commented on #17164
English as a Second Language

[2020-04-23 01:05] lrjanczak opened #17961 "Scaffold the Movie Model"
I'm getting the following messages about a get_Info method having no implementation when attempting to do the scaffolding step in the tutorial and can't see what I missed or added incorrectly. Thanks in advance.

PS C:\Users\lrjan\Documents\aspNetLearn\RazorPagesMovie> dotnet aspnet-codegenerator razorpage -m Movie -dc RazorPagesMovieContext -udl -outDir Pages\Movies --referenceScriptLibraries
Bui

[2020-04-23 02:15] Rick-Anderson commented on #17960
cc @serpent5

[2020-04-23 02:16] Rick-Anderson commented on #17961
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2020-04-23 02:16] #17961 closed

[2020-04-23 03:32] wadepickett opened #17962 "Prep for removing L2 navigation"
With the addition of the new top navigation, the existing 2nd layer just below that needs to be removed since it duplicates and some cases provides different links for the same items.

While removing the L2, we want to also make sure Download .NET, Community and .NET Learn continue to be easily found.  This issue is tracking the prep for that.

- Add Download .NET link to the ASP.NET hub.
- Add a

[2020-04-23 05:12] zwcloud commented on #16881
Please provide a guide for ASP.Net Core Razor Pages.

[2020-04-23 09:31] NevillePerkins commented on #10683
Yes please. This would be most helpful.

[2020-04-23 09:34] hieuluong1989 opened #17963 "Blazor Client can not get access token after login successfully"
[EDIT by guardrex to add the metadata]

# Issue description
I am using Blazor Webassembly Standalone with AAD. Login is ok, but I can not get access token by `AuthenticationService.RequestAccessToken`. The tokenResult is not null but when I get `tokenResult.TryGetToken(out var token)` it can not get token

**Program.cs**
[code]

**Index.cshtml**
[code]

![image](https://user-images.githubuserconte

[2020-04-23 10:38] mrmowji opened #17964 "About MovieGenreViewModel.SearchString"
It seems I've already reported a similar issue (#16526) some time ago :) #17957 is new and I was guided to send a feedback from the page itself rather than submitting a PR.

The problem is that you used the `SearchString` property of `movieGenreVM` inside the view (even though you haven't specified the `Model`), and yet this property is not set in the controller.

---
#### Document Details

⚠ *Do

[2020-04-23 12:18] guardrex commented on #17963
Hello @hieuluong1989 ...

* You meant to type "Index.razor," correct?
* Can you try running the app securely (HTTPS) with a secure callback URL configured in Azure?
* Make sure that you've checked the **Access Tokens** checkbox in the app's **Web** platform config in Azure.
* What you show :point_up: doesn't indicate that the token isn't there. Assign `token.Value` to a private field and show it i

[2020-04-23 14:20] CliffConway opened #17966 "Component Invoking"
I am confused with the 'BlazorSample' reference in the following statement

DotNet.invokeMethod('BlazorSample', 'UpdateMessageCaller');

What does 'BlazorSample' refer/relate to?

Thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bdccf73-41ed-b996-86c1-d8b7838f8773
* Version Independent ID: 32d99e69-dc2

[2020-04-23 14:22] guardrex commented on #17966
The assembly name of the app. This particular app is "BlazorSample."

I'll update it to make that clear. Thanks for calling it out.

[2020-04-23 14:28] hieuluong1989 commented on #17963
@guardrex : Thank for your replying!
- Yes, Index.razor
- I tried upgrade to 3.1.201, Https, and also checked checkbox Access Tokens. I tried with Console.WriteLine but code flow didn't go into the IF condition
[code]

[2020-04-23 14:32] guardrex commented on #17963
What about HTTPS? ... Did you convert over to secure communication (like `https://localhost:5001`) with Azure AD and use a secure callback URL (`https://localhost:5001/authentication/login-callback`)?

[2020-04-23 14:43] hieuluong1989 commented on #17963
@guardrex : yes, I tried with https://localhost:5001
![image](https://user-images.githubusercontent.com/52130197/80112329-2f701d80-85ab-11ea-936d-245bb470cd9c.png)
I uploaded my simple project [https://github.com/hieuluong1989/BlazorAAD](https://github.com/hieuluong1989/BlazorAAD). If you have time, please take a look for me. I have this problem from 3.2.0-preview2, I hoped it was fixed in preview

[2020-04-23 14:56] guardrex commented on #17963
Nothing really jumping out as obviously wrong.

Open an issue for engineering at ...

https://github.com/dotnet/aspnetcore/issues

... and give them the link to your repro project. Please add a `cc: @guardrex` to your opening comment and a link to this docs issue ...

[code]

If they come up with something that we need to document, then I'll re-open this issue and work it from there.

[2020-04-23 14:56] #17963 closed

[2020-04-23 15:00] goliverma opened #17967 "i have error in linux"
AuthenticationException: The remote certificate is invalid according to the validation procedure.
HttpRequestException: The SSL connection could not be established, see inner exception.

these two error in my blazor project

[2020-04-23 15:04] goliverma commented on #17967
![Screenshot from 2020-04-23 20-34-32](https://user-images.githubusercontent.com/57150942/80115007-dc459d00-85a1-11ea-9276-aa6cd0468d03.png)

[2020-04-23 15:07] goliverma commented on #17967
![Screenshot from 2020-04-23 20-36-32](https://user-images.githubusercontent.com/57150942/80115261-2a5aa080-85a2-11ea-8fed-820ba842b8c3.png)

[2020-04-23 16:10] mkArtakMSFT commented on #17164
And which `videos` were they referring to?

[2020-04-23 16:15] guardrex opened #17970 "Blazor Preview 5 updates"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version Independent ID: 8226ed72-69b2-3c93-a931-218bd11cf9c8
* Content: [Get started with ASP.NET Core Blazor](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.1&tabs=visual-studio)
* Content Source:

[2020-04-23 16:36] gbjbaanb commented on #12285
FYI the default nginx upload limit is 1 MB.

To change this for every site in a nginx configuration, edit the nginx.conf and add a 'client_max_body_size' entry to the http section. To edit it per-site, put the entry in the appropriate location section.

http://nginx.org/en/docs/http/ngx_http_core_module.html#client_max_body_size

[2020-04-23 17:24] guardrex opened #17972 "[Preview 5] Blazor WASM common sample update"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version Independent ID: 8226ed72-69b2-3c93-a931-218bd11cf9c8
* Content: [Get started with ASP.NET Core Blazor](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.1&tabs=visual-studio)
* Content Source:

[2020-04-23 17:25] guardrex opened #17973 "[Preview 5] Update Blazor WASM security topics"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f34f7534-347a-5752-3127-fd774abea530
* Version Independent ID: af2c6c8a-d398-0202-4c28-cd5e15ce5219
* Content: [Secure ASP.NET Core Blazor WebAssembly](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/?view=aspnetcore-3.1)
* Content Source: [aspne

[2020-04-23 17:58] higles opened #17975 "Fix for issues with Authentication"
HttpOptions do not pass auth info to the server.  You should probably mention that Anonymous Authentication needs to be enabled in order for this to work.  Also if you need to use Windows Authentication as well, make sure to add the [Authorize] attribute tags to the necessary methods.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-04-23 18:19] guardrex commented on #17967
Hello @goliverma ... Try the Linux guidance for that ...

https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx?view=aspnetcore-3.1#https-configuration

[2020-04-23 18:19] #17967 closed

[2020-04-23 18:20] NaumovEvgeniy opened #17976 "Is it possible to exchange voice stream between different clients?"
For example, I use a browser as a client, another user uses a mobile app.
I'm starting to speak and I want to send my voice message to a mobile app for another user.

Is it possible?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a02b4e7d-971a-670b-02eb-89c5456ec8f2
* Version Independent ID: 5f2f089e-310d-83a1-

[2020-04-23 18:41] Rick-Anderson commented on #17964
Duplicate of #16526

[2020-04-23 18:41] #17964 closed

[2020-04-23 18:51] captainsafia opened #17977 "Augment logging documentation for Blazor"
@mkArtakMSFT brought up the fact that the our logging documentations show how to configure logging during startup, but not how to use logging within components.

We should add a documentation page that shows the following code samples for using loggers within a component.

[code]

OR

[code]

Note that:
* The using directive for `Microsoft.Extensions.Logging` is needed to support Intellisense comp

[2020-04-23 18:53] mkArtakMSFT commented on #17977
Thanks @captainsafia!
@guardrex no need for a separate page for this. I think this can become a small subsection into some existing page which talks about logging already.

[2020-04-23 18:58] Rick-Anderson commented on #17164
Professionally done videos, including those by @shanselman. The audio moves too fast. With english text, there is no ambiguity, no accents, and they can read at their own rate. They were emphatic that video didn't work for them, no matter how well done. They were all MVP's attending a MVP conference in Seattle.

cc @JasonCard

[2020-04-23 19:03] Rick-Anderson commented on #17975
Moved to CORS master issue #17711

[2020-04-23 19:13] #17857 closed

[2020-04-23 19:35] #17977 closed

[2020-04-23 20:28] zevsst commented on #9617
Hey,

Any solution on this?

[2020-04-23 20:48] #17972 closed

[2020-04-23 20:49] #17774 closed

[2020-04-23 21:23] BrennanConroy commented on #17976
Yes, you can stream anything. You'll need to figure out how to get the audio and how you want to encode it and decode it.

[2020-04-23 21:36] mattwill09 opened #17981 "Sharing secrets"
The section about the Secret Manager states:

The app secrets are associated with a specific project or shared across several projects.

but everything after that point only discusses using project ids. It would be helpful to discuss how secrets can be shared across projects.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-04-23 21:50] #17970 closed

[2020-04-23 22:45] Rick-Anderson commented on #17981
Use the same `<UserSecretsId>GUID</UserSecretsId>`

[code]

[2020-04-24 00:14] mark-monteiro opened #17983 "Web SDK Is Not A True Prerequisite"
The web SDK does not appear to be required for test projects running integration tests. In fact, specifying this SDK failed to build for our project, whereas using the default `&lt;Project Sdk="Microsoft.NET.Sdk"&gt;` worked as expected. Is this a true prerequisite or an optional one? What difference does specifying the web SDK it make?

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-04-24 01:00] guardrex commented on #17983
Hello @mark-monteiro ... It is ... *or at least was* ... required. Here's where it was discussed after engineering explicitly called for it and then another reader asked about it ...

https://github.com/dotnet/AspNetCore.Docs/issues/7095#issuecomment-400416474

I recommend that you have a further question about that to open an issue with engineering to ask them if the guidance is still valid.

htt

[2020-04-24 01:00] #17983 closed

[2020-04-24 03:28] rolandoldengarm opened #17985 "Why does logging in have to happen server side?"
&gt; The ASP.NET Core app is intended to be used for data access, authorization, and other server-side concerns

Is there a particular reason why all identity server pages (login, register, etc.) are server side? Technically they can be implemented in Angular as well, which will ensure a more seamless experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-04-24 04:32] thx1766 opened #17986 "MovieContext -> RazorPagesMovieContext"
This tutorial should be corrected in section "Use SQLite for development, SQL Server for production":
The context should be corrected to "RazorPagesMovieContext" from "MovieContext" - this change is necessary to properly build at this step, and is not necessarily intuitive to new new developers or those new to dotnetcore.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-04-24 05:29] NaumovEvgeniy commented on #17976
@BrennanConroy thanks for your quick response!
Do you have any examples?

[2020-04-24 05:31] thx1766 opened #17987 "missing clear explanation to add import"
There is a comment in the code, in the section
"Add the following highlighted properties to Pages/Movies/Index.cshtml.cs:"

// Requires using Microsoft.AspNetCore.Mvc.Rendering;

The tutorial should probably take this comment out and make it clear that the user needs to add
using Microsoft.AspNetCore.Mvc.Rendering;
to the top of the file

---
#### Document Details

⚠ *Do not edit this section. It

[2020-04-24 05:35] BrennanConroy commented on #17976
No, I've never tried capturing audio in the browser before. You'll need to do some research.

We have a sample that does ASCII-video with streaming at https://github.com/SignalR/sample-StreamR.
And a live example of it at https://streamr.azurewebsites.net/

[2020-04-24 06:02] thx1766 opened #17988 "missing markup changes"
this page leaves out the steps to add rating to the create and edit pages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39b6d0f3-9bc7-d091-0d45-9fc1e2e7aac8
* Version Independent ID: 20e7eb53-215b-09ab-205d-d20177221278
* Content: [Add validation to an ASP.NET Core Razor Page](https://docs.microsoft.com/en-us/aspnet/c

[2020-04-24 07:04] weitzhandler opened #17989 "ILoggerFactory doesn't seem to have a `Create` method."
Given a `loggerFactory` instance, what's the easiest way to call `AddProvider` on it, specifying console and debug logger-providers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d0e6d5d-0b03-5238-cbb6-aef834377f11
* Version Independent ID: dbcd23c0-3bca-e480-936b-2cf6f2d62c7e
* Content: [Migrate from Microsoft.Exten

[2020-04-24 08:28] #17976 closed

[2020-04-24 08:42] solacens opened #17990 "Linux environment cannot read environment variables with '.'"
Just worked it out in our product. Windows dotnet core 3.1 works well with environment variables with '.' but the linux (in container) doesn't.

It appears needing more explanation and documentation.
Or is this just a bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb4d762-3910-2c57-8741-3306c15537b6
* Version Ind

[2020-04-24 12:11] ericvb commented on #8585
What is the current status?

[2020-04-24 13:24] pappasa opened #17991 "TextWriterTraceListener not used in the sample app"
This page states:

The provider can route messages to a variety of listeners, such as the TextWriterTraceListener used in the sample app.

However the sample app mentioned at the top of this page (https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/fundamentals/logging/index/samples) does not use TextWriterTraceListener.

Can you please provide an example with TextWriterTraceListener?

[2020-04-24 13:49] #17650 closed

[2020-04-24 14:25] behroozbc opened #17992 "change component name"
hi
how i can change component name ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent ID: 9d945996-ad02-bd4b-58ea-c465cc5cc74c
* Content: [Create and use ASP.NET Core Razor components](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcor

[2020-04-24 14:30] guardrex commented on #17992
Hello @behroozbc ... The name of the file is the name of the component. Change the file name. When I edit these documents within the next month or two, I'll be added more examples of this. For example, the text today might say something like ...

In the future, many of these references will be updated to say ...

... or if in the *Shared* folder ...

There isn't an issue yet for the updates becaus

[2020-04-24 14:30] #17992 closed

[2020-04-24 14:32] mkArtakMSFT commented on #17164
Let's pause on this. I can't ignore that data. Let me follow up on this offline. I'm wondering whether MVPs are not the right audience for this, given they're already experts. Anyway, let's pause on this for now till I get back.

[2020-04-24 14:34] rafaelalmeida12 commented on #8201
A interface do usuário da identidade é implementada usando o Razor Pages. Para que o roteamento do nó de extremidade os mapeie, adicione uma chamada MapRazorPagesno seu UseEndpointsretorno de chamada:
`
app.UseEndpoints(endpoints =>
{
    // ...
    endpoints.MapRazorPages();
});
`

[2020-04-24 15:30] rjperes commented on #12997
It is not clear what IDynamicEndpointMetadata is used for, when using a dynamic route, it is not added.

[2020-04-24 16:15] kateshrubrose opened #17993 "SqlException: Cannot open database"
When I try and hit localhost/Movies/Index it says
"SqlException: Cannot open database X requested by the login. The login failed. Login failed for user X."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a4022c-7ef1-3c30-4f9d-cf521a57a44a
* Version Independent ID: a0b5e15c-d747-8710-95fb-a55c09861a1e
* Content: [Work

[2020-04-24 16:22] mschluper commented on #17975
Wait a minute! Did you just add a reference to the IIS CORS module? Is using this module a better solution than enabling Anonymous Authentication?

[2020-04-24 17:27] MightyGuru commented on #16794
This article is highly lacking when it comes to Azure Functions. First of all, it is not clear what schema should be used in secrets.json file. For Azure Functions, local.settings.json (not appsettings.json!) has all the settings under Values section. Should secrets.json use Values section as well?
The second issue, how to load user secrets at runtime? It is not obvious how to call AddUserSecrets

[2020-04-24 18:03] mkArtakMSFT commented on #17444
Ping @bradygaster

[2020-04-24 18:09] mkArtakMSFT commented on #17921
@javiercn do you know why this doesn't work:

[2020-04-24 18:09] mkArtakMSFT commented on #17921
Thanks @guardrex. Before documenting let's first understand why the chained bind doesn't work.

[2020-04-24 18:19] #17973 closed

[2020-04-24 18:24] mkArtakMSFT commented on #17934
Thanks for contacting us, @jlinstrum.
We recommend filing a separate issue for this in the https://github.com/dotnet/aspnetcore repo.

As for the main requests in this issue (Facebook Identity), that also seems like a product bug. @javiercn can you please look into this and see what's going on? Seems like Facebook may have broken something which we may need to react to or simply find out that we c

[2020-04-24 19:04] Rick-Anderson commented on #16794
First sentence of article:

This document explains techniques for storing and retrieving sensitive data during development of an ASP.NET Core app on a development machine.

[2020-04-24 19:06] Rick-Anderson commented on #17993
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,. I think this error is mentioned in the tutorial explaining what step  you missed.

[2020-04-24 19:06] #17993 closed

[2020-04-24 19:09] Rick-Anderson commented on #17164
@JasonCard  do you have any data non-english speakers and video?

But these MVPs has excellent English skills, far better than most customers reading doc's in their native language. My guess is the odds are worse for non-English speakers, more like 100/100 don't like video.

[2020-04-24 19:12] Rick-Anderson commented on #17991
Moved to Master issue for Logging in .NET Core and ASP.NET Core #16174

[2020-04-24 19:12] #17991 closed

[2020-04-24 19:13] Rick-Anderson commented on #17990
Hello! Thanks for contacting us.

Potential bugs in the ASP.NET Core framework and product feedback can be reported at [dotnet/aspnetcore issues](https://github.com/dotnet/aspnetcore/issues) (include full repro steps and cross-link to a repro project in GH when appropriate). For Visual Studio, use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visua

[2020-04-24 19:13] #17990 closed

[2020-04-24 19:14] Rick-Anderson commented on #17988
That's left to the reader.

[2020-04-24 19:14] #17988 closed

[2020-04-24 19:14] Rick-Anderson commented on #17987
This approach has worked well for some time.

[2020-04-24 19:14] #17987 closed

[2020-04-24 19:28] javiercn commented on #17483
I've unassigned myself here since I already provided the contents.

[2020-04-24 21:04] bdnts opened #18001 "Blazor UserManager not supported Architecture conumdrum"
I'm well aware of the reasoning behind `SignInManager` and `UserManager` not having official support, even though they mostly work.  And also the guidance to indirectly use `AuthenticationStateProvider` and directly use `AuthorizeView` component, and `Task<AuthenticationState>`.  However, this now creates an architecture conundrum, that unauthenticated users can't be worked with--except using `Use

[2020-04-24 21:24] danobri opened #18002 "ASPNETCORE_ENVIRONMENT not used after 3.1 upgrade"
I am in the process of upgrading an application from ASP.NET Core 2.1 to 3.1, and when I deploy to our test server, the application is no longer reading from the ASPNETCORE_ENVIRONMENT variable.  The variable is set to "TEST" on the server, but the application is running with development settings.  I updated the Program.cs to use ConfigureWebHostDefaults as indicated in this article, but that does

[2020-04-24 21:24] Rick-Anderson opened #18003 "[HOLD] Apply Blazor logging updates to Logging topic after rewrite"
* Augment logging documentation for Blazor (#17980)
* [Preview 4] Logging configuration in Blazor WASM (#17671)

@guardrex  when #17820 merges, you'll probably need to apply these

But I'd like them towards the end of the file, so you'll have to add something like:

For Blazor WebAssembly, see  `[Create logs in Blazor WebAssembly](#clbw)` in this doc.

---
#### Document Details

⚠ *Do not edit thi

[2020-04-24 21:31] guardrex commented on #18003
Isn't it just going to 💥 *merge conflict* 💥 when the logging PR goes off of draft and then be resolved there (🤞 in the GH editor we hope 🤞) ?

[2020-04-24 21:37] guardrex commented on #18001
Hello @bdnts ... This falls more into the *product feedback* bucket. Best bet is to ask about it on the engineering repo. They might have a long-range plan (for Blazor WASM anyway) for the framework to provide some features that would ease setting up that type of flow, but I'm not aware of it if they do. Right now, it's *every-dev-for-themselves!* ⚔️

Ask them directly ....

https://github.com/dot

[2020-04-24 21:37] #18001 closed

[2020-04-24 21:45] guardrex commented on #18003
[code]

... and ...

[code]

[2020-04-24 21:55] danobri commented on #18002
I was only able to get it the application working after adding <EnvironmentName>Test</EnvironmentName> to the .pubxml, but it's not clear to me why that is necessary  in 3.1 when it was not in earlier versions.  The documentation above says this puts the environment name in the web.config.  Should this be necessary?  Shouldn't the application  be able to read the value from the global environment

[2020-04-24 21:55] Rick-Anderson commented on #18003
@guardrex  the only merge conflict was the date. GitHub did a mircale merge itself.

[2020-04-24 21:55] #18003 closed

[2020-04-24 21:55] Rick-Anderson commented on #18003
All that content made it.

[2020-04-24 21:56] guardrex commented on #18003
*WOOT!* 😀

[2020-04-24 21:56] danobri commented on #18002
&lt;EnvironmentName&gt;Test &lt;/EnvironmentName&gt;

[2020-04-24 22:19] HaoK commented on #7326
Let me know if there's anything else you need from me on this one @Rick-Anderson

[2020-04-24 22:21] HaoK commented on #14944
@blowdart can elaborate, but the basic idea is that we are recommending/encouraging moving away from Roles as claims towards a full claim based pattern, so that's why the new SPA templates do not make it easy to continue using the old style roles pattern.  @Rick-Anderson do you think we can add a snippet to this effect somewhere appropriate in the docs?

[2020-04-24 22:44] Rick-Anderson commented on #18002
See this in the doc
The About page from the sample code includes the preceding markup and displays the value of IWebHostEnvironment.EnvironmentName.

[2020-04-24 22:45] Rick-Anderson commented on #7326
cc @serpent5  if you're interested.

[2020-04-24 23:57] danobri commented on #18002
So do I understand correctly that ASP.NET no longer uses environment variables for web applications hosted in IIS?  It uses the web.config instead?  Any perspective on why this was changed in ASP.NET Core 3?

[2020-04-25 01:09] Rick-Anderson commented on #18002
Why do you say that?

The doc suggests exactly what you did.

[2020-04-25 01:52] danobri commented on #18002
What I did is set the environment via the web.config as a work around because the application is not reading the value from the system defined ASPNETCORE_ENVIRONMENT variable from the server as expected.  My question is, why doesn't the application use the system variable anymore?  A web config setting can be changed by any developer with access to the code, whereas an environment variable can onl

[2020-04-25 02:33] Rick-Anderson commented on #18002
If `ASPNETCORE_ENVIRONMENT` is not set, it defaults to `Production`.

How did you determine that?

[2020-04-25 02:47] danobri commented on #18002
The ASPNETCORE_ENVIRONMENT system variable on this server is set to "Test", but the application is using Development settings (unless I set the EnvironmentName config setting).  Not sure why it's using Development settings if the default is production though.  As I mentioned - this is an existing application using it's existing test server and the issue started after upgrading from 2.1 to 3.1.

[2020-04-25 02:59] Rick-Anderson opened #18004 "Console, Debug, EventSource, etc should be code fenced."
The Console, Debug, EventSource, etc, providers should be code fenced because in most cases they are provider strings in JSON or C#. Consider [How filtering rules are applied English](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1&branch=pr-en-us-17820#how-filtering-rules-are-applied) and the [German version](https://docs.microsoft.com/de-de/aspnet/core/fund

[2020-04-25 05:37] Rick-Anderson commented on #18002
You need to read and understand this doc. You should try to reproduce the problem with a new app to help you figure out the bug(s) in your code.

[2020-04-25 08:10] Geekays opened #18006 "PUT and DELETE are not working."
I just created the project in the similar manner. However, PUT and DELETE are not working. Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5240866d-d0a1-f0dd-7b2c-203e1d69bc4b
* Version Independent ID: 83a5cb3b-23bc-4f0c-cd1c-1d1ffeb1131a
* Content: [Create a web API with ASP.NET Core and MongoDB

[2020-04-25 11:48] NaserParhizkar opened #18007 "Move two Blazor topic sections"
I am a little confused about 3 last code box title's, actually about last one 'HTML' file type is correct because it contains some script's, but about two others before last one why their code box title's are not 'razor' and they are 'CSHTML' file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a015ab57-3e5c-f5c8-338c-

[2020-04-25 11:56] guardrex commented on #18007
Hello @NaserParhizkar ... Those are Razor Pages that use the [Component Tag Helper](https://docs.microsoft.com/aspnet/core/mvc/views/tag-helpers/built-in/component-tag-helper), so they're correct showing `CSHTML`.

**_BUT_** ... I'm glad that you opened this issue to ask about those two sections. We created a topic a little while ago to cover integrating components into Razor pages and MVC views.

[2020-04-25 12:58] NaserParhizkar commented on #18007
How to add '@code { // }' in a 'CSHTML' file?

[2020-04-25 13:00] guardrex commented on #18007
Use `@functions` in Razor Pages ...

https://docs.microsoft.com/aspnet/core/mvc/views/razor#functions

`@code` is only for Razor components.

[2020-04-25 13:03] NaserParhizkar commented on #18007
OK, based on your previous comment's  '@code {  }' should have been '@function { }' in those sections.
Is it correct?

[2020-04-25 13:07] guardrex commented on #18007
Yes ... and I highly suspect **_find and replace_** is what happened there. There was a time early on in the development of Blazor that Razor components also used `@functions`. Then, they created the `@code` directive as an alias of `@functions` (AFAIK, they'll both work there). I think I probably did a find-and-replace to "fix them" everywhere in Blazor topics ... well ... "fix" 🙈 ... you see how

[2020-04-25 13:12] NaserParhizkar commented on #18007
yes you right, I had forgotten about '@function{}' in 'Blazor file' previous releases.
Anyway ,Thank you very much, don't worry bro. it's great and I appropriate for your time and response's. Bless you.