[2019-07-23 16:30] guardrex commented on #13451
Hello @boaterdan ... Thank you for this valuable feedback.

*YES!* That's exactly right. This is only meant to be a basic, introductory topic. It contains enough basic info to get started. It doesn't get into advanced scenarios for integration testing (e.g., auth). There are already a couple of open issues for these aspects on the [Integration Testing project](https://github.com/aspnet/AspNetCore.

[2019-07-23 17:22] boaterdan commented on #6882
In case anyone finds it useful...  it seems to me that many of the solutions of adding Middleware or mocking the claims verification is missing the point of integration testing.  I want to confirm that my app works the way I expect when it comes to authentication and authorization - that means logging in with a user and trying to go to a page with as close to the normal process as possible.  I've

[2019-07-23 17:24] guardrex commented on #6882
@boaterdan Use triple-backticks above and below your code example.

[2019-07-23 17:24] NTaylorMullen opened #13453 "[Preview 8] Add doc for Blazor [Parameter] usage"
In 3.0.0-preview8 we added an analyzer to suggest users have public parameters. We should document this expectation and all of the details that reside in it.

[2019-07-23 17:25] marcelovidigal opened #13715 "Publish a Blazor app using standalone method in a virtual path (problems)"
I followed the official documentation (https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/client-side?view=aspnetcore-3.0), but the steps for publishing a blazor client side app are unclear.

I would like to publish to IIS.

The modification in the base tag (`<base href="/">`) has a bug.

The suggested modifications to webconfig (parent) and webconfig (app folder) do not work, and

[2019-07-23 17:38] Rick-Anderson commented on #13372
@SteveSandersonMS what should we use to replace the jQuery calling the REST API? Can you suggest someone who can write the sample? cc @scottaddie  @pranavkm

[2019-07-23 17:44] VictorioBerra commented on #6882
@uvn85 I am not a big fan of modifying the host. Especially turning off MVC features like auth just for testing.

Ideally, we would have a way provided by Microsoft to tweak the client and provide a set of claims.

[2019-07-23 17:48] guardrex opened #13454 "Update Blazor common sample to Pre7"

[2019-07-23 17:53] SteveSandersonMS commented on #13372
For the actual HTTP requests, https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API.

I don't have a specific suggestion for who would write it.

[2019-07-23 17:56] #13454 closed

[2019-07-23 18:16] Rick-Anderson commented on #13372
@scottaddie  can you write the Fetch code?

[2019-07-23 18:22] guardrex commented on #12530
@mkArtakMSFT I'm going to go ahead with this.

[2019-07-23 18:40] boaterdan commented on #13451
Thanks for the reply.  For what it's worth, I would consider at least basic authentication as the very first thing that screams for integration testing.  I'll also throw in my opinion that I want to test without mocking away key components of the process.  While researching I've seen solutions to fake the authentication with things like adding a Middleware handler, for example, but it's the authen

[2019-07-23 18:46] ajaybhargavb opened #13457 "[Preview 8] Component binding is now case-sensitive"
More details: https://github.com/aspnet/AspNetCore/issues/9860

[2019-07-23 18:56] ptsneves opened #13458 "when running on linux with cli: No templates matched the input template name: grpc."
When trying to create the grpc server with the presented dotnet new command i get:
No templates matched the input template name: grpc.

It seems I do not have the grpc template although i have dotnet 2.2.300. I am running in Linux.
If I manually create for example an mvc application and then manually add the package for grpc  it seems i can progress, although not completely in line with the exampl

[2019-07-23 19:14] #11310 closed

[2019-07-23 19:14] #13134 closed

[2019-07-23 19:14] #13410 closed

[2019-07-23 19:25] serpent5 commented on #11220
I've edited the explanation for Preview 7 and raised an issue against `aspnet/AspNetCore` as linked above.

[2019-07-23 20:10] guardrex commented on #13458
@ptsneves IIRC, gRPC is a 3.0 thing. Get the 3.0 preview (Preview 7 just came out today :tada:), and you should get the template.

https://dotnet.microsoft.com/download/dotnet-core/3.0

[2019-07-23 20:49] Rick-Anderson opened #13461 "3.0 update: Work with a database and ASP.NET Core"
Work with a database and ASP.NET Core

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03221075-5dfa-d1b6-0552-3fe88abe1d03
* Version Independent ID: b8c7d824-35ca-68fb-e3be-839ae886657c
* Content: [Work with a database and ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/sql?view=aspnetco

[2019-07-23 20:50] #13461 closed

[2019-07-23 20:53] Rick-Anderson opened #13462 "3.0 update: Add search to RP"
Add search to

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc54dbf8-e6fe-a212-b2cd-c015a6ba5439
* Version Independent ID: b96b0b44-3e3a-a6c2-6b2b-c7bab4b78f0d
* Content: [Add search to ASP.NET Core Razor Pages](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/search?view=aspnetcore-3.0)
* Content So

[2019-07-23 21:32] asklar opened #13465 "Add new Razor directives to Razor syntax doc"
The samples here reference @code for inserting C# code, however the Razor docs only call out @functions
https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-3.0
Which one is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e7dc3c-54c4-35de-203e-d230869e8417
* Version Independent ID: dc5

[2019-07-23 21:47] guardrex commented on #13465
`@code` an alias of `@functions`, so both will work. However, `@code` is recommended now.

[2019-07-23 21:50] guardrex commented on #13465
I thought we listed that with the rest in the Razor syntax doc on an earlier PR. I can see now that we didn't. I'll take care of it. Thanks @asklar!

[2019-07-23 22:57] guardrex commented on #13465
I'll use this to add `@attributes`, too.

[2019-07-23 23:29] #13431 closed

[2019-07-24 00:35] Rick-Anderson commented on #10436
@tdykstra  this seems like a good idea. However, you don't get an error if you don't create the migration.

[2019-07-24 05:05] MahnazSheikhi commented on #12434
Thanks @PieterjanDeClippel
Your example works:

https://github.com/PieterjanDeClippel/AspNetCoreSpaPrerendering

[2019-07-24 06:00] krchome opened #13467 "YouTube version"
Available at
https://www.youtube.com/watch?v=iKlVmu-r0JQ

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dd2991d-c22d-ad0f-80b6-bd1b503db8f3
* Version Independent ID: 5e3fbe1d-c97f-9940-4f0c-067d4b2112b1
* Content: [Get started with ASP.NET Core SignalR](https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr?vi

[2019-07-24 06:00] krchome opened #13468 "YouTube version"
Available as a three part series on
https://www.youtube.com/watch?v=0ynhOm1JkMc&feature=youtu.be (Part 1)
https://www.youtube.com/watch?v=cVTbU5wG82A&feature=youtu.be (Part 2)
https://www.youtube.com/watch?v=ZYgfhO8hMOE&feature=youtu.be (Part 3)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3ac09f0-74ca-1a5d-4fec-695

[2019-07-24 06:53] EdiWang opened #13469 "DI in Startup constructor will throw exception in .NET Core 3.0 preview 7"
[code]
This code no longer works. Same issue as https://github.com/aspnet/Extensions/issues/1096

Per Andrew Stanton-Nurse's comment under that issue. https://github.com/aspnet/Extensions/issues/1096#issuecomment-489378332

This document needs update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5

[2019-07-24 09:33] zxyao145 commented on #13120
Thanks a lot, I solved the problem in this way.

[2019-07-24 11:35] guardrex commented on #13469
Hello @EdiWang ... This is a duplicate of our issue to work the whole topic for 3.0. I'll move your remark to that issue.

[2019-07-24 11:35] #13469 closed

[2019-07-24 11:36] guardrex commented on #13278
From @EdiWang (https://github.com/aspnet/AspNetCore.Docs/issues/13469) ...

[code]

[2019-07-24 11:42] #12530 closed

[2019-07-24 11:57] blacksnake-rus commented on #12420
If my app is deployed in docker, then i must to follow all these instructions inside the container?

[2019-07-24 13:07] Izelude opened #13472 "Blazor App not appearing as option when creating new project."
Hi,
I just installed Visual Studio Enterprise 2019 Preview Version 16.2.0 Preview 4.0
and
dotnet core sdk 3.0.100 preview7.
I ran the shell command as described and it finished without any error.
When i create a new project i do not get the "Blazor App" option. If i type in "blazor" in the search i get offered 2 different (but same in appearance) ASP.NET Core Web Application options.
I also have V

[2019-07-24 14:31] scottaddie opened #13473 "Tool installation fails in zsh with wildcard in version"
The `dotnet tool install -g Microsoft.dotnet-httprepl --version 3.0.0-*` command fails in zsh because of the wildcard character. Installation succeeds with a specific version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16842b60-b268-a322-8078-c0b27c57fa7d
* Version Independent ID: d63c12f3-220e-9067-ead5-90e644c065

[2019-07-24 14:32] Tratcher commented on #12420
I haven't tried that yet. Note keytab files can be re-used so you should be able to do this setup once and then copy it into the container. Let me know how that goes.

[2019-07-24 14:33] guardrex commented on #13472
@danroth27 This is what happened to me yesterday when I tried on an Azure VM (WS 2019). I received 16.2 P4, not 16.3 from the Preview installer (Community Ed.).

[2019-07-24 14:37] GitMonkey007 commented on #12434
Also confirm that it works. For anyone following, I did

cd ClientApp
npm install
npm run build:ssr

followed by running the application from VS2017. Appears to work under both IIS and Kestrel. Thanks @PieterjanDeClippel !

[2019-07-24 14:38] MarvynHarry opened #13474 "how to use te override OnInitializedAsync on my pages"
What do I have to do to be able to use these methods since in my project it says "no suitable method found to override"
![image](https://user-images.githubusercontent.com/44927942/61802895-9d629b00-ae07-11e9-8792-5ad2d17a8342.png)

[2019-07-24 14:41] scottaddie opened #13475 "Clarify that environments other than localhost can be tested"
The doc leads the reader to believe that localhost is the only supported testing environment. Provide an example of other environments, such as an API hosted in App Service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16842b60-b268-a322-8078-c0b27c57fa7d
* Version Independent ID: d63c12f3-220e-9067-ead5-90e644c06591

[2019-07-24 14:43] scottaddie opened #13476 "Clarify that the tool works on non-ASP.NET Core web APIs too"
For example, you could use this tool to test Node-based APIs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16842b60-b268-a322-8078-c0b27c57fa7d
* Version Independent ID: d63c12f3-220e-9067-ead5-90e644c06591
* Content: [Test web APIs with the HTTP REPL](https://docs.microsoft.com/en-us/aspnet/core/web-api/http-repl?vi

[2019-07-24 14:53] #13450 closed

[2019-07-24 14:56] tdykstra commented on #10436
@Rick-Anderson As suggested, it would be good to mention this but I don't think you have to write detailed instructions for creating and applying a migration.  Migrations is covered more thoroughly in the two EF series.

[2019-07-24 14:57] Rick-Anderson commented on #13474
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select the **Content feedback** issue.
![image](https://user-images.githubusercontent.com/3605364/52735418-b23f2680-2f6b-11e9-81c5-ec0105e55d00.png)

[2019-07-24 14:57] #13474 closed

[2019-07-24 15:11] ddrochers commented on #11408
To add on @bdlane's, I tried both override methods on the location tag with no success. overrideMode="Allow" seems deprecated and  allowOverride="true" doesn't seem to do anything.

I guess we aren't supposed to modify this but as he mentioned, changing the applicationHost.config file in .vs works for the developer station, while changing IIS's applicationHost.config under %windir%\system32\inetsr

[2019-07-24 15:18] mattbrooks2010 opened #13479 "Disabling the ANCM start-up error page and configuring IIS custom error pages"
Under the [Start-up error page](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-2.2#start-up-error-page) heading, it is stated:

However, this doesn't appear to work. Is it [incorrect](https://github.com/aspnet/AspNetCoreModule/issues/31)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-07-24 15:35] guardrex commented on #13479
Hello @mattbrooks2010 ... This was seen by engineering when some work on the topic was performed in November on https://github.com/aspnet/AspNetCore.Docs/pull/9452. That guidance was preexisting to that PR, but engineering looked right at it when that paragraph was moved (*guessing*).

Let's ask @jkotalik to :eyes: and confirm ...

[2019-07-24 15:45] jkotalik commented on #13479
disableStartupErrorPage should work. @mattbrooks2010 that issue was 3 years old and I believe it has been resolved. Are you observing different behavior?

[2019-07-24 16:20] mattbrooks2010 commented on #13479
Thank you both for your responses. I have revisited my setup and can confirm I now have it working.

It turns out I didn't have the correct IIS feature installed locally, and my IIS `<httpErrors>` configuration wasn't causing an error — it was just being ignored. I didn't troubleshoot further than this when I saw [this issue](https://github.com/aspnet/AspNetCoreModule/issues/31).

[code]

![image]

[2019-07-24 16:20] #13479 closed

[2019-07-24 16:26] guardrex commented on #13479
Thanks @mattbrooks2010 ... I think that's the default for both a WS and Win10 install of IIS. If so, I'll sacrifice a Microsoft Ergonomic Keyboard to the :pray:  *server gods* :pray: in hopes that we'll be ok with the current coverage. I'll keep and :eye: and :ear: out tho for anyone else hitting this going forward.

[2019-07-24 16:26] SamEakin commented on #13001
Thanks for the fix!

dotnet ef migrations remove is the step that is missing from the tutorial for those of us on mac.

[2019-07-24 16:41] #12965 closed

[2019-07-24 16:45] Rick-Anderson commented on #13001
That works if you only have 1 migration. If you happen to have more than one use
[code]

[2019-07-24 17:35] scottaddie opened #13481 "Document precedence of registered configuration sources"
For example, what happens when the same property exists in both *appsettings.json* and *secrets.json*? How are environment variables prioritized?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c99993c-c983-6fda-6c3a-ce4ec8c1d5db
* Version Independent ID: ba688ac2-e90e-fce5-f60d-40c2553c3efd
* Content: [Safe storage of

[2019-07-24 17:43] Rick-Anderson opened #13482 "3.0 update: Fix jQuery"
Fix jQuery

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-2.2&tabs=visual-stu

[2019-07-24 17:44] Rick-Anderson opened #13483 "3.0 update: Replace jQuery with Fetch"
Replace jQuery with Fetch

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-2.2&

[2019-07-24 17:47] scottaddie opened #13484 "Add more detail on caching of secrets"
&gt; Secrets are cached until `IConfigurationRoot.Reload()` is called.

Let's expand upon the caching aspect. Is this manual call the ONLY way? Can a caching policy be created and observed by the configuration provider?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cc0b77a-df21-7007-5cec-4399d98c6dc6
* Version Indepe

[2019-07-24 18:11] scottaddie opened #13485 "Explain Options Pattern usage with secret store / Key Vault"
Consider adding an example to the Key Vault, Secret Manager, or other related docs. Our current focus seems to be on using the pattern with *appsettings.json* only.

[2019-07-24 18:27] ArvindRSingh opened #13486 "What are fragments in Blazor?"
What are fragments? The concept of fragements is not clear on the page or need some reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent ID: 9d945996-ad02-bd4b-58ea-c465cc5cc74c
* Content: [Create and use ASP.NET Core Razor components](https://docs.microso

[2019-07-24 18:31] guardrex commented on #13486
Thanks @ArvindRSingh ... I agree. Later, we have ...

"Later" doesn't do us much good, does it? :smile: lol

I'll get this fixed. Thanks again.

[2019-07-24 19:04] guardrex commented on #13465
@danroth27 We should confer on how to cover common and uncommon Razor syntax between the *Razor syntax* topic and Blazor topics.

I tried something that would have gone over better on 🎃 **_Halloween!_** 👻 with https://github.com/aspnet/AspNetCore.Docs/pull/13478 ... *Yikes!* It was a *living daymare* over there! 🙈

1. Do you want **_ALL_** of the Razor syntax in the [Razor syntax topic](https://do

[2019-07-24 19:14] Rick-Anderson opened #13487 "Show how to disable validation on the server"
https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation#disable-client-side-validation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39b6d0f3-9bc7-d091-0d45-9fc1e2e7aac8
* Version Independent ID: 20e7eb53-215b-09ab-205d-d20177221278
* Content: [Add validation to an ASP.NET Core Razor Page](https://docs.micr

[2019-07-24 19:27] tet-web-dev opened #13488 "additional info"
Considering this is one of the top 3 results when searching "adding validation to asp core razor pages" It may be helpful to mention jquery.validate and jquery.validation.unobtrusive need to be added to the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39b6d0f3-9bc7-d091-0d45-9fc1e2e7aac8
* Version Independent I

[2019-07-24 19:29] SteveSandersonMS opened #13489 "[Preview 8] Blazor @key is now stricter"
Currently, the docs at https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#use--to-control-the-preservation-of-elements-and-components say:

This is no longer accurate. As of preview 8, `@key` is becoming stricter. It *only* allows distinct keys. If the renderer finds two identical keys within the same parent element, it will throw an exception. So I'd suggest rephra

[2019-07-24 19:34] guardrex commented on #13489
@mkArtakMSFT This is straight-forward enough that a *silly green dinosaur* can probably cover it. Assign me if you want to (I'll update the labels accordingly.)

[2019-07-24 19:44] Rick-Anderson opened #13490 "Disable client-side validation not working for Razor Pages"
See [Disable client-side validation](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-2.2#disable-client-side-validation)

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0156ffc3-47ac-d5da-fbc2-9ff5018b071b
* Version Independent ID: 615db388-a244-41f7-21b5-a4085d9ed479
* Content

[2019-07-24 19:46] Rick-Anderson commented on #13490
@dougbu  `services.Configure<HtmlHelperOptions>(o => o.ClientValidationEnabled = false);` doesn't disable  client side validations.

[2019-07-24 19:48] danroth27 commented on #13472
[Visual Studio 16.3 Preview 1 is now available](https://devblogs.microsoft.com/visualstudio/visual-studio-2019-version-16-2-generally-available-and-16-3-preview-1/) and should resolve these issues. Sorry about the delay!

[2019-07-24 19:48] #13472 closed

[2019-07-24 19:53] Rick-Anderson commented on #13488
The templates add them.

[2019-07-24 19:53] #13488 closed

[2019-07-24 20:13] rhoddog77 opened #13491 "Incorrect syntax in tutorial"
To get my button onclick event to work I had to change the syntax to:
&lt;button @onclick="@AddTodo"&gt;Add todo&lt;/button&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e7dc3c-54c4-35de-203e-d230869e8417
* Version Independent ID: dc5b52d5-c8c6-1440-6b3a-fda898167d0c
* Content: [Build your first Blazor app](http

[2019-07-24 20:14] guardrex commented on #13491
Hi @rhoddog77 ... Sounds like you're a version behind. Get the Pre7 SDK at ... https://dotnet.microsoft.com/download/dotnet-core/3.0.

[2019-07-24 20:14] #13491 closed

[2019-07-24 20:19] rhoddog77 commented on #13491
ah, sorry. I downgraded because I could not get the Blazor WebAssembly App to build in v7

[2019-07-24 20:20] guardrex commented on #13491
If you hit anything that looks like a 🐞, the engineers take bug reports on their repo :point_right: https://github.com/aspnet/AspNetCore/issues

[2019-07-24 21:42] woozie164 opened #13492 "Add additional info WebSockets"
There is a part that says: "When using a WebSocket, you must keep the middleware pipeline running for the duration of the connection."

However, they don't explicity mention *how* to keep the middleware pipline running. All the examples given on this page assumes that the connection will be closed after sending a websocket message back. However, my use case required the connection to stay open for

[2019-07-24 22:11] danroth27 commented on #13465
Yes. But, I generally consider the Razor Syntax topic a *reference* topic. It's OK to cover relevant Razor syntax features when discussing specific scenarios.

Yes. The syntax for Razor directive attributes is more involved. Naming the sections "Directives" and "Directive attributes" sounds fine to me.

[2019-07-24 22:33] dougbu commented on #13490
@Rick-Anderson which versions are affected and exactly how are they affected? From everything I can see in the source, the option should control MVC HTML and tag helpers wherever they're used.

@rynowak is this a known issue w/ Razor pages?

[2019-07-24 22:34] Rick-Anderson commented on #13490
@dougbu  see https://github.com/aspnet/AspNetCore/issues/7576
I'm using dotnet --version
3.0.100-preview7-012821
cc @javiercn

[2019-07-24 22:38] Rick-Anderson commented on #13490
@Ponant I have the following code:
[code]
But that's not disabling client side validation.

[2019-07-24 23:24] mkArtakMSFT commented on #13489
@guardrex all yours to tackle!

[2019-07-24 23:39] #10436 closed

[2019-07-24 23:39] #13412 closed

[2019-07-24 23:39] #13462 closed

[2019-07-24 23:39] #13287 closed

[2019-07-25 01:36] dougbu commented on #13490
Ah, I see. A problem @javiercn fixed in 3.0 Preview 5.

@javiercn did you confirm whether both 2.1 and 2.2 applications experience the bug?

[2019-07-25 02:25] weitzhandler opened #13496 "dev-certs for other URLs"
`dev-cert` appears to only create certificates for `localhost`. Can we have specify other URLs to it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ddfb2f-5dea-5e31-2a27-02a4dc16104c
* Version Independent ID: 12ca0b9a-2638-a4ce-c45f-d4579c83dafb
* Content: [Enforce HTTPS in ASP.NET Core](https://docs.microsoft.com/e

[2019-07-25 12:19] guardrex commented on #13496
`localhost` is a hardcoded constant ...

https://github.com/aspnet/AspNetCore/blob/master/src/Shared/CertificateGeneration/CertificateManager.cs#L25

https://github.com/aspnet/AspNetCore/blob/master/src/Shared/CertificateGeneration/CertificateManager.cs#L181

... and there's no provision in the `dotnet dev-certs` command options to override it.

[2019-07-25 13:45] #13473 closed

[2019-07-25 14:33] #13475 closed

[2019-07-25 14:33] #13476 closed

[2019-07-25 15:17] Rick-Anderson commented on #13490
@dougbu I'm using dotnet --version
3.0.100-preview7-012821
and it's not working. See my code above.

[2019-07-25 15:26] Rick-Anderson commented on #13496
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-07-25 15:26] #13496 closed

[2019-07-25 15:34] Rick-Anderson commented on #13490
The following code works
[code]

[2019-07-25 15:35] Rick-Anderson commented on #13490
@Ponant  what are the two steps mentioned in aspnet/AspNetCore#7576 to get it working with RP in 2.x?

[2019-07-25 15:40] weitzhandler commented on #13496
I the future, it would have been nice if dev-certs has an additional parameter that allows creating certificates with other URLs.
For the reference, I did the following:

1. Create a certificate using the following PowerShell command:
[code]

The modified _Program.cs_ to like like the following:
[code]

[2019-07-25 15:42] weitzhandler commented on #13496
I the future, it would have been nice if dev-certs has an additional parameter that allows creating certificates with other URLs.
For the reference, I did the following:

1. Create a certificate using the following PowerShell command:
[code]

The modified _Program.cs_ to like like the following:
[code]

[2019-07-25 16:28] Rick-Anderson commented on #13488
@tet-web-dev  this tutorial is about using the template/scaffold generated code. That info should be in [Model validation](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-2.2)

[2019-07-25 16:31] Rick-Anderson commented on #11109
https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-2.2 is what you want. This is the wrong place to explain remote validation.

[2019-07-25 16:51] Rick-Anderson opened #13505 "Add instructions and sample built in logging"
Show dotnet run output and VS ASP.NET Web server output
Show web api todo sample failing in model binding. Debugger doesn't help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 967496ea-59b6-1f17-4f39-1e4c232126c6
* Version Independent ID: 09bb2010-fe5c-1061-23ec-a0dcc92bdd3f
* Content: [Troubleshoot ASP.NET Core proje

[2019-07-25 16:57] D-BowdreyR opened #13506 "Final Step [Apply Migrations] for Mac Instructions missing"
The final step in this tutorial [Apply Migrations] says that migrations are not required for SQLite, but this just seems more lazy than true. I looked at the database with DB Browser for SQLite and it showed that the **Title** and **Rating** column did not have 'Not Null' constraint against them.

So I rebuilt the database with the following commands:

1. dotnet ef database drop
2. dotnet ef migra

[2019-07-25 17:11] Rick-Anderson commented on #13490
`services.Configure<HtmlHelperOptions>(o => o.ClientValidationEnabled = false);` works in 2.2

[2019-07-25 17:11] #13490 closed

[2019-07-25 17:12] Rick-Anderson opened #13507 "3.0 update: Disable model validation"
See #13490

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0156ffc3-47ac-d5da-fbc2-9ff5018b071b
* Version Independent ID: 615db388-a244-41f7-21b5-a4085d9ed479
* Content: [Model validation in ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-2.2#disable-client-side-valid

[2019-07-25 17:26] code2expert commented on #11109
Hi Rick, I must say it's interesting to hear from you. I've been able to do this months ago by using a combination of both front-end (cshtml) and Models. Thanks once again.

[2019-07-25 18:33] anurse opened #13508 "[SignalR] How Hubs interact with HttpContext"
We should have a document describing the complex interations between Hubs and `HttpContext`.

* In a Hub you can get an `HttpContext` via `Context.GetHttpContext()` extension method, but it's not guaranteed to work
* Long Polling uses a "simulated" context
* There's no context at all when using Azure SignalR
* `IHttpContextAccessor` should be avoided
* SignalR has some support for non-HTTP transpo

[2019-07-25 18:49] SidShetye opened #13510 "Advantage of using such highly specific interfaces vs generic controller end points for health?"
We use health check endpoints so understand the value of having them in general. However the healthcheck middleware prescribed here is highly specific and unnecessarily complicated for something trivial as a `true/false` or `healthy/degraded/unhealth` response to a simple `GET /health` endpoint. To balance those disadvantages, what advantage does this middleware offer over a simpler and more gener

[2019-07-25 18:51] scottaddie commented on #13372
@Rick-Anderson I'll take care of writing the code.

[2019-07-25 18:51] guardrex commented on #13510
Hello @SidShetye ... We only handle documentation feedback here. Please open product feedback for the engineers and managers at https://github.com/aspnet/AspNetCore/issues.

[2019-07-25 18:51] #13510 closed

[2019-07-25 18:57] Rick-Anderson commented on #13506
@D-BowdreyR  thanks. I'll get this updated.

If you have more than one migration you'll need to delete the migrations folder.

[2019-07-25 18:59] Rick-Anderson commented on #13372
Wait until I S&M #13311 later today.

[2019-07-25 19:28] SidShetye commented on #13510
I’m asking you to document the advantages; not asking for a change to the products.

[2019-07-25 19:38] guardrex commented on #13510
I might not understand your request then. You'd have to provide more detail than what you stated because it sounds like you're asking about the design choices that engineering made.

We generally don't document engineering design choices. Our doc set is mostly made up of reference docs and tutorials. We don't get into 'advantages' and 'disadvantages' unless the framework offers options for a given

[2019-07-25 20:04] mairaw opened #13511 "Redirection is broken"
For topic https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-primary-key-configuration

On this line https://github.com/aspnet/AspNetCore.Docs/blob/master/.openpublishing.redirection.json#L734

Not exactly sure where it should go instead.

[2019-07-25 20:12] serpent5 commented on #13387
@Rick-Anderson Would you like me to take a stab at this?

[2019-07-25 20:18] Rick-Anderson commented on #13387
@serpent5  yes!

[2019-07-25 20:41] Rick-Anderson commented on #13506
@tdykstra  I like the  `dotnet ef migrations remove` step. We could add, if you have two migrations, run `dotnet ef migrations remove` twice. Alternatively, delete the migrations folder.

[2019-07-25 20:43] Rick-Anderson commented on #13506
@D-BowdreyR  was there any change in the char length like SQL?

[2019-07-25 20:50] tdykstra commented on #13506
@Rick-Anderson I haven't seen multiple remove commands in a row work, have you?  Deleting the Migrations folder always works.

[2019-07-25 21:22] Rick-Anderson opened #13512 "3.0 GA Tutorial: Create a Razor Pages web ap"
Tutorial: Create a Razor Pages web ap

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66f32b67-7418-7f82-c813-c11650bb39a7
* Version Independent ID: 3e28328b-9c7a-359b-2f57-319b0bc7eea3
* Content: [Tutorial: Create a Razor Pages web app with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-page

[2019-07-25 21:24] Rick-Anderson opened #13513 "3.0 GA: Intro to MVC"
x

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6e3baf6-6cba-aee0-9a8d-1e1fced2b690
* Version Independent ID: 74b76258-36a3-17de-6648-292da0a9e400
* Content: [Create a web app with ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/?view=aspnetcore-2.2)
* Content Source: [aspnetcor

[2019-07-25 21:26] Rick-Anderson opened #13514 "3.0 GA: Intro to Web API"
x

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-2.2&tabs=visual-studio)
* Co

[2019-07-25 21:55] #12461 closed

[2019-07-25 21:55] #13373 closed

[2019-07-25 21:55] #13482 closed

[2019-07-25 22:11] krchome opened #13515 "Application restores with project file in .NET Core 3.0 SDK"
Hi there,

The documentation shows
Prerequisites
.NET Core 2.2 SDK or later

I created the web app following the command line scripts in "Create a web app and scaffold Identity" section. When the application was restored and I viewed the project file it shows (in part)
&lt;ItemGroup&gt;
    &lt;PackageReference Include="Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore" Version="3.0.0-preview7.

[2019-07-25 22:47] Rick-Anderson commented on #13515
If you've installed 3.0 preview, you need to select the [3.0 version of the doc](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm?view=aspnetcore-3.0&tabs=visual-studio#enable-account-confirmation-after-a-site-has-users-1)

[2019-07-25 22:47] #13515 closed

[2019-07-25 23:05] TJSoftware commented on #13472
Hi, my issue felt like it was related to this so I did not think I should open another item.

I could not see in Community or Enterprise preview 16.3 preview 1. I tried to use `ASP.NET Core Web Application` from the create project page, then the next seletion I used `Blazor (client-side)`. This allowed me to be able to complete the rest of the steps on the page.

[2019-07-26 02:55] krchome commented on #13515
Ok that's good to know Rick-Anderson.
However let me clarify that I don't have 3.0 preview SDK but have Visual Studio 2019 preview . I have just the SDK 2.2 installed and I selected this 2.2 version command script in this document. However the restoration still targetted as if 3.0 preview is installed and created a project file as I mentioned above .
Could it be that irrespective of the preview in

[2019-07-26 03:02] Rick-Anderson commented on #13515
VS19 previews go with .NET Core 3 previews.

[2019-07-26 03:21] krchome commented on #13515
Thanks for letting me know.
One thing still lingers on, is that the  console command for this document (2.2) worked fine with VS 2019 (and 3.0 preview) as well (although the command is different for 3.0 preview.
Please clarify this as I am going to make a YouTube video on this document too.
Cheers

[2019-07-26 06:36] AngelitoRubio opened #13516 "Websocket error in signalR"
Hello I'm receiving an error upon running signalr's simple chat

Information: Normalizing '/chatHub' to 'https://localhost:44335/chatHub'.
Utils.ts:165 Information: WebSocket connected to wss://localhost:44335/chatHub?id=R_bSszn0KpncmsD2Kb6IRA
chat.js:11 WebSocket is not in the OPEN state

I can't resolve this error please help me

[2019-07-26 10:11] taobaohi opened #13517 "ASP.NET Core 2.2 Exception"
System.InvalidOperationException:“A path base can only be configured using IApplicationBuilder.UsePathBase().”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14fce65f-1337-58cb-2193-8d8e0e62792d
* Version Independent ID: 59222460-a971-e76e-4fe9-23d4d7d768ee
* Content: [Get started with Swashbuckle and ASP.NET Core](htt

[2019-07-26 11:21] #13486 closed

[2019-07-26 11:35] patHyatt opened #13519 "Documentation conflict"
In the section https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-2.2#reserved-routing-names an example is provided using a regex constraint against a parameter named `action`.

However, in the section https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-2.2#reserved-routing-names parameters named `action`  are prohibited as it violates r

[2019-07-26 14:43] martinto opened #13520 "CloudFlare proxy configuration"
Having been down a few blind alleys following overly complex and non-working examples I found elsewhere it turns out to be very simple to get this working for CloudFlare. You need a List&lt;IPNetwork&gt; of CloudFlare proxy server networks (preferably read from https://www.cloudflare.com/ips-v4 and https://www.cloudflare.com/ips-v6) and this startup code:

[code]

---
#### Document Details

⚠ *Do

[2019-07-26 15:14] guardrex commented on #13520
Hello @martinto ... We hope that the docs of a given platform will cover its own integration scenario(s), but I don't see good coverage out there for Cloudflare.

We have the basics covered for this integration, but we could speed devs up a bit.

@Tratcher, do you want us to explicitly cover the Cloudflare scenario?

[2019-07-26 15:51] rostyit commented on #10916
@gopaljami I struggled with this for ages in my .net Core 2.2 project.  Whatever I tried I found I was getting a 404 when it came to my custom css file...

I found that in the end I had to use the following when enabling static files:

            app.UseStaticFiles(new StaticFileOptions
            {
                FileProvider = new PhysicalFileProvider(
                    Path.Combine(Directo

[2019-07-26 16:00] Tratcher commented on #13520
@shirhatti?

Documenting individual hosters is not sustainable. Expanding our coverage and samples for KnownNetworks/KnownProxies might be warranted.

[2019-07-26 16:05] guardrex commented on #13520
We haven't had readers asking new questions about what they are or how to use them.

[2019-07-26 16:08] brightertools commented on #11318
@damienbod I have seen you comments, which reflect that implicit flow is not recommended, it would be great if you can create an example of this based on the example above, if it's not too much effort to extend it.. that would be a great help. Also if we can get an example of accessing the user claims etc on the server that would be a bonus...
This is a great example, but could be much better with

[2019-07-26 16:09] javiercn commented on #11318
We moved to code+pkce as of preview8

[2019-07-26 16:12] Rick-Anderson commented on #13519
The paragraph in question:

To constrain a parameter to a known set of possible values, use a regular expression. For example, `{action:regex(^(list|get|create)$)}` only matches the `action` route value to `list`, `get`, or `create`. If passed into the constraints dictionary, the string `^(list|get|create)$` is equivalent.

[2019-07-26 16:18] brightertools commented on #11318
@javiercn : ok great, I think I am looking at preview6 and now see a preview7, do I need to wait for preview8?

[2019-07-26 16:22] javiercn commented on #11318
Yes.

[2019-07-26 16:25] Rick-Anderson commented on #13519
@patHyatt  it's not a parameter.

[code]
The preceding won't match Privacy. The following will

[code]

[2019-07-26 16:25] #13519 closed

[2019-07-26 16:47] Rick-Anderson opened #13521 "New topic: WebForms to Blazor"
Create doc under Migration folder.

[2019-07-26 16:58] patHyatt commented on #13519
@Rick-Anderson
Thanks for the response.

I still think there is something off here, and I did not explain well what I think is off. Specifically this surrounds attribute routing and using the example regex provided in the docs.

The doc [Specifying attribute route optional parameters, default values, and constraints](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetc

[2019-07-26 17:00] Rick-Anderson commented on #13519
I don't think you'd ever use an action constraint like that on an action.

[2019-07-26 17:32] mdmoura commented on #11760
Can someone, please, confirm if as of Preview 7 is it possible to have the Auth, SPA and API in different applications?

[2019-07-26 17:32] patHyatt commented on #13519
As a result of the documentation, I did just that.

[2019-07-26 17:35] javiercn commented on #11760
This is not something we are targetting in this release. For 3.0 all the components live on the same application. Yo are free to follow any of the many IdentityServer tutorials that explain how to achieve this scenario.

[2019-07-26 17:36] #11760 closed

[2019-07-26 17:42] mdmoura commented on #11760
@javiercn I thought it would be possible even if not in the template because [Application profiles](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.0#application-profiles) section in the Docs.

Wouldn't SPA and API profiles be exactly that?

[2019-07-26 17:53] shirhatti commented on #13520
This is only required if you're using Cloudflare in "flexible" mode which forces CloudFlare to connect to your origin server unencrypted.

This is obviously something we don't want to recommend because it offers the illusion of security.

[2019-07-26 17:57] shirhatti commented on #13520
I don't think we can recommend any known proxy configurations besides when running in Azure when we can vouch for their network topology

[2019-07-26 18:02] guardrex commented on #13520
@martinto We're going to allow Cloudflare resources and the community (Stack Overflow, etc.) to take care of surfacing further content for that scenario. We cover the basics fairly well, so devs should be able to get the config right if they want to pursue that approach.

[2019-07-26 18:02] #13520 closed

[2019-07-26 18:11] Rick-Anderson commented on #13521
This will be done as an eBook.

[2019-07-26 18:11] #13521 closed

[2019-07-26 19:54] javiercn commented on #11760
It is possible, but we are unlikely to produce such a sample as is not a core target for this release.

The main difference is that you need to specify the client redirect url explicitly, the API explicitly and configure the JWT bearer handler in the API.

[2019-07-26 19:57] #13453 closed

[2019-07-27 03:17] sdpollack opened #13526 "connection.invoke example should describe how to retrieve response data"
This example is incomplete.  It is missing a description of how to retrieve data from the response.

I'm pretty sure you use .then(), it it would be very helpful is this was clearer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cf283c9-5cd2-a9ff-b8c8-372d8a04356d
* Version Independent ID: 729fddcf-24e4-b563-4952-a80

[2019-07-27 17:25] dannevesdantas commented on #6146
It really looks like microsoft is trying to force the adoption of razor pages

[2019-07-27 18:56] EntityAdam commented on #6146
No one is 'forcing' you to use it. Razor Pages and MVC share 80% of their code. Simply not opting to use it will not incur and perceived bloat.

[2019-07-27 19:25] plamenkoyovchev commented on #6146
No one is forcing us but there are no MVC templates :D

[2019-07-27 19:44] dannevesdantas commented on #6146
Ok, maybe not "forcing", but at least strongly inducing I believe...

[2019-07-27 20:35] dmarlow commented on #8440
Followed the instructions and got the nav back, but on logout I see this:

InvalidOperationException: RenderBody has not been called for the page at '/Areas/Identity/Pages/_Layout.cshtml'. To ignore call IgnoreBody().

[2019-07-27 20:50] dmarlow opened #13528 "How to use this without using "Areas""
It's a matter of personal preference, and I personally do not like "areas" in general. I'd prefer my paths to be /account instead of /identity/account. Is the recommended approach to move the pages and refactor all namespaces and links appropriately?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 804e24dd-7e30-8cf5-2c9

[2019-07-27 21:10] rynowak commented on #13435
@guardrex - updated the main post with the information that seems relevant. This should get folded into existing topics rather than a new one.

[2019-07-27 21:14] serpent5 commented on #13387
@Rick-Anderson Just as a heads-up: this article is *really old* and the sample app targets 1.0 :scream:, which means it doesn't have any of the more recent API conventions (`[ApiController]`, `ControllerBase`, etc). Do you know if there's an issue for getting this all updated? The question I answered was very specific to having the `[ApiController]` attribute in place, but the solution might be th

[2019-07-27 21:42] rynowak commented on #13436
@guardrex - updated the main post with some info. We might want to borrow some content from https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-2.2#make-the-apps-content-localizable since it has a lot of general info about what localization is and how resources work.

[2019-07-27 21:54] rynowak commented on #13284
Here's a general skeleton of a doc for analyzers

# Summary

This document contains descriptions and recommendations based on diagnostics from the `Microsoft.AspNetCore.Analyzers` package.

## ASP0000 - Do not call 'IServiceCollection.BuildServiceProvider' in 'ConfigureServices'

We do not recommend using the `BuilderServiceProvider` method inside `ConfigureServices` - usually this is done in an a

[2019-07-27 23:44] guardrex commented on #13387
@serpent5 The sample tracking issue is at https://github.com/aspnet/AspNetCore.Docs/issues/5495. Brace yourself before you :eyes: that issue ... this ain't the only one. :smile: *Aye captain! I'm giv'in er all she's got!* - Chief Engineer Montgomery Scott

If you work this with sample updates (**_IF_** the sample survives), then *in theory* we'd have a 2.x (2.2) and 3.x (3.0) sample created from w

[2019-07-28 00:58] Rick-Anderson commented on #13528
The recommended approach is to leave them.

[2019-07-28 00:58] #13528 closed

[2019-07-28 01:02] Rick-Anderson commented on #13387
Upgrading to 2.2 and 3.0 would be ideal

[2019-07-28 01:02] Rick-Anderson opened #13529 "3.0 update: Custom model binder"
Remove images

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfb00531-4ac6-8bf6-9bd8-1eed6446397f
* Version Independent ID: ed418d09-6c33-699a-0d48-9aabc99457be
* Content: [Custom Model Binding in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding?view=aspnetcore-2.2)
* Content

[2019-07-28 01:03] Rick-Anderson commented on #13387
See #13529

[2019-07-28 03:56] #13089 closed

[2019-07-28 04:20] arisliang commented on #6146
So this is like, we give you the rights to vote (or choose), because we're democracy, but there's only 1 candidate available at this time. So..

[2019-07-28 04:22] tstivers1990 commented on #6146
Not quite. More like you just got outvoted.

[2019-07-28 04:27] arisliang commented on #6146
And outchoosed as well

[2019-07-28 04:33] tstivers1990 commented on #6146
Why do you hate progress so much?

[2019-07-28 04:35] arisliang commented on #6146
progress you say?

[2019-07-28 04:43] EntityAdam commented on #6146
Really? In no particular order 1. Razor Pages 2. MVC 3. Blazor 4. JS SPA++

Your use cases may not be in line with all developers, and that's OK.  You do have a voice if you so choose to use it. However, RP wasn't just created all willy nilly. Use cases were examined, telemetry collected on how ASP.NET was being used, and features that were being asked for, to name a few. (a) less magic (b) improv

[2019-07-28 04:43] Defee opened #13530 ".net Core Protected API + Azure AD + Angular 2 front-end (without any code on C#)"
From my point of view there is a huge gap in docs for the following topics:
 How can I configure SPA (without any code on c#) to work with Azure AD and call my protected API in Azure?

[2019-07-28 04:46] arisliang commented on #6146
Except no. 2 is not there.

[2019-07-28 04:47] EntityAdam commented on #6146
MVC Docs -> [Link](https://docs.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-2.2)

[2019-07-28 05:04] arisliang commented on #6146
(a) In default template, first thing it does is to be able to login without `AccountController.Login` code that MVC template used to have. How is this less lagic?

The function is there, but where is the template?

[2019-07-28 05:34] EntityAdam commented on #6146
The default template does not have authentication enabled.  You would have to select that.

Because authentication is such a common use of ASP.NET Core, it's been abstracted into nuget packages and uses virtual controllers so your very own business logic isn't muddied with rolling your own, or modifying an authentication solution that has already been solved.

In RP, MVC and API, if you select aut

[2019-07-28 05:48] arisliang commented on #6146
I refer to the `individual accounts`.

And `virtual controller` is the `less magic` part you were referring to?

[2019-07-28 05:56] EntityAdam commented on #6146
MVC and RP are equal, and yes, it is less magic.  Dont like the virtual controller? Remove the respective .UI package and make your own.

Less magic was more of a ref to the MVC convention of passing @ViewBag around. Where RP is strongly typed.

[2019-07-28 06:01] arisliang commented on #6146
Where is the .UI package? And how do you remove it in order to remove the virtual controller?

[2019-07-28 06:07] EntityAdam commented on #6146
Sounds like a good question for stackoverflow, or find me on the aspnetcore slack.

[2019-07-28 06:08] arisliang commented on #6146
Actually what's the problem with an actual controller? What's the reason to introduce a virtual controller in the first place? It's exactly because authentication is such a common use case, and critical part of the application, its code should be more transparent, not more virtual, and hide away. This is opposite of `less magic`.

[2019-07-28 06:14] arisliang commented on #6146
Thanks, but my real question is why it there in the first place? The actual controller works much better than the virtual one, more transparent, more certain of what is happening. Why introduce something to hide a critical portion of code?

[2019-07-28 15:41] Rick-Anderson commented on #6146
There is no virtual controller. An [RCL](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-2.2&tabs=visual-studio) is used for auth.  See [Scaffold Identity ](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.2&tabs=visual-studio)

[2019-07-28 15:58] marqdouj opened #13531 "Blazor client template is not installed."
Today I download and installed VS2019 Preview and .NET Core SDK 3 Preview, as directed in this article.
According to para 3.5 there should be 2 blazor templates. I am only able to select Blazor Service App; there is not option for a blazor client.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-d

[2019-07-28 16:06] guardrex commented on #13531
What version of VS did you get from the VS installer? You need 16.3 Preview 1 or later, which should be available by now :point_right: https://github.com/aspnet/AspNetCore.Docs/issues/13472#issuecomment-514774210

You must also run the template install command ...

[code]

[2019-07-28 16:30] dannevesdantas commented on #6146
Sorry guys, but if the objective is less magic, why an RCL, virtual controller or some other type of "magic" is used for auth? This seems to be contradictory. It's ok to promote razor pages, but removing MVC templates was a bad idea (in my opinion), the user should be able to choose if he/she wants rp or not. Ok, it is still possible to implement AccountController.cs but the idea of templates is t

[2019-07-28 16:34] IndigoHealth opened #13532 "Explain how to correctly pass context.Items to child tag helpers"
Please explain the use of `public override void Init(TagHelperContext context)` and its role in adding items to the `context.Items` dictionary which are only visible to child tag helpers.

In my specific application, I wrote a `<group>` tag helper that acts as a parent element for arbitrary child content. Among my tag helpers that may be a child of this parent element is one that targets `<input>`

[2019-07-28 16:41] EntityAdam commented on #6146
The 'magic' you keep referring to as the RCL authorization package is applied to both MVC and RP. So RP is still less magic.  The RCL isn't even relevant when discussing the reasons why RP was created.

Have you tried the templates? The choice you are asking for is already there. You don't have to pick RP.  You can choose MVC, API, Blazor, React or Angular.  You can choose whether or not they have

[2019-07-28 17:16] dannevesdantas commented on #6146
Yep, we are still able to roll our own authentication and AccountController, and that’s great. But who doesn't want RCL authorization (the majority of the .NET developers) and prefers the AccountController now lost the ease of having a auth templates providing a quick start with it 😭 Implementing AccountController from scratch (and related code) by yourself takes a lot of time, even for experience

[2019-07-28 17:24] guardrex opened #13533 "Surface troubleshooting overview in the intro"
Also see about placing the cross-link into the Azure Apps topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec484002-18c1-6a0d-00de-820d56f038d3
* Version Independent ID: 7903ce53-2cbb-f083-7479-c8abc30211a0
* Content: [Host ASP.NET Core on Windows with IIS](https://docs.microsoft.com/en-us/aspnet/core/host-and-dep

[2019-07-28 17:24] Rick-Anderson commented on #6146
So why do it? Then you need to perform a security audit. You'll need to maintain the code. That's all done for you in the RCL.

 Have you done any dev with Razor Pages? It's far easier to learn RP than it is to write your own auth.

[2019-07-28 17:38] marqdouj commented on #13531
This was the very first time I installed any of the previews (I have VS2017/VS2019 already installed); the VS Installer says I'm up to date.

VS2019 Preview Help About:
Microsoft Visual Studio Enterprise 2019 Preview
Version 16.3.0 Preview 1.0
VisualStudio.16.Preview/16.3.0-pre.1.0+29123.89
Microsoft .NET Framework
Version 4.7.03190

dotnet --info:

Microsoft Windows [Version 10.0.17763.615]
(c) 2

[2019-07-28 17:44] guardrex commented on #13531
If you ran the template install command, that all looks good from here.

Did you try to get to *Blazor (client-side)* by going through *ASP.NET Core Web Application* first (i.e., **not** selecting **Blazor App** from the top-level offerings)? I wonder if that template is still only available by going through *ASP.NET Core Web Application*, while the **Blazor Server App** (Blazor server-side) is av

[2019-07-28 18:10] marqdouj commented on #13531
I ran the install again: dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.0.0-preview7.19365.7

The templates now show up as follows:
1. Select Blazor from the filter:
  a. Blazor Server App
2. Select Web App:
  a. Blazor Server App
  b. Blazor Client (ASP.NET Core hosted)
  c. Blazor (client-side)

Looks like I should be gtg for now, thanks.

[2019-07-28 19:14] guardrex commented on #13531
Ok ... that's what another reader said on the issue.

I'll take a look at this shortly. Leave this issue open.

Thanks for commenting on it.

[2019-07-28 19:17] guardrex commented on #13200
@isaac2004 Do you still want to proceed with this? If so, create a new branch from `release/3.0-preview8` and then submit the work back to that same branch. If not, no worries. I'll take care of this issue.

[2019-07-28 21:09] guardrex commented on #13531
Confirmed on an Azure VM. The current instructions for 16.3 P1 are correct.

[2019-07-28 21:09] #13531 closed

[2019-07-28 21:24] hades200082 commented on #8118
The problem I've seen with all implementations of exception handlers so far is that they completely ignore content negotiation.

If the client has stated that they only accept XML, and the rest of your API can provide XML responses, then the exception result returned should be no different.

[2019-07-29 00:57] arisliang commented on #6146
Why keep mentioning "easier"? Do you want to give it to developer or end user? Webform and drag and drop is eaiser, and it's gone.

[2019-07-29 00:58] tstivers1990 commented on #6146
Are you so unreasonable that you will argue against making things easier for developers?

[2019-07-29 01:12] arisliang commented on #6146
No, I only want to say don't make "easier" as the main selling point.

Remember the main reason aspnetcore is successful is because it conforms to
standard, from non-standard. Be skeptical when you want to leave standard
and go back to non-standard again.

On Mon, 29 Jul 2019, 08:59 Anthony Stivers, <notifications@github.com>
wrote:

[2019-07-29 01:20] Rick-Anderson commented on #6146
standard,

What standard is that? It follows the MVC pattern, but not a standard. RP follows the same pattern.

OK,  10,000 times less complexity, risk, and time to use RP in an RCL than to create your own auth. That's a pretty compelling reason to make the trivial migration from MVC to RP.

[2019-07-29 01:24] #13533 closed

[2019-07-29 01:30] arisliang commented on #6146
Don't interpret "standard" as some international body regulates something.
When 99% of the world doing something in a particular way, it's a de facto
standard.

On Mon, 29 Jul 2019, 09:20 Rick Anderson, <notifications@github.com> wrote:

[2019-07-29 01:32] Rick-Anderson commented on #6146
Have you done any RP programming?  It follows the same MVC pattern.

[2019-07-29 01:36] tstivers1990 commented on #6146
Some people would just prefer to write COBOL on their Commodore 64 I guess. 🤷‍♂️

[2019-07-29 01:38] Rick-Anderson commented on #6146
Take a look at what one experienced MVC developer has to say about RP vs MVC
[Public review URL](https://www.dropbox.com/sh/yy994551cje0kap/AAB0tRnm7gze2kYrSYPSFHIda?dl=0)

[2019-07-29 03:04] dannevesdantas commented on #6146
I'm sorry for being boring and pushy @Rick-Anderson, but I read the document, and itself says "Razor Pages follows the MVVM pattern".

Ok, it's a pattern, but the point is we must agree that it’s well-accepted by the industry. And ms knows what happens when we try to get out of the "standard" (IE and W8 sent us a hello from the cemetery). Like Blazor, RP is still an ideia, a proposal, a newborn pr

[2019-07-29 03:06] tstivers1990 commented on #6146
It's MVVM built on top of MVC.

[2019-07-29 06:50] arisliang commented on #6146
My suggestion, do whatever you want with RP (or mvvm, or whatever, as I'm
sure it's an interesting innovation), and leave MVC alone (including its
template).

Until RP is proven by user acceptance, then announce RP is the way to go.

On Mon, 29 Jul 2019, 11:07 Anthony Stivers, <notifications@github.com>
wrote:

[2019-07-29 07:33] taobaohi commented on #13517
sorry ,my code wrong!in launchSettings.json i lost "applicationUrl"

[2019-07-29 07:33] #13517 closed

[2019-07-29 10:44] Centrox opened #13535 "Example not working"
Stuck on Queue.QueueBackgroundWorkItem. Queue takes a type, and the method QueueBackgroundWorkItem is gone??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3460b0d-9c60-3a06-ac63-18cf990e53c3
* Version Independent ID: b2dece1f-15b8-03af-6d52-7cc070432b4b
* Content: [Background tasks with hosted services in ASP.NET Cor

[2019-07-29 13:12] isaac2004 commented on #13200
@guardrex I can take this. Will have @danroth27 review

[2019-07-29 13:13] guardrex commented on #13535
Hi @Centrox ... I'll double-check it as soon as I can get free.

WRT `QueueBackgroundWorkItem` :point_right: https://github.com/aspnet/Extensions/issues/805

[2019-07-29 15:51] #13511 closed

[2019-07-29 15:52] chrismarts opened #13537 "Add a note that parameters are required"
In practice, and according to this discussion (https://github.com/aspnet/AspNetCore/issues/5011), the view component parameters are not optional. All parameters must be supplied, even if empty strings, or the view component doesn't run/render. This is a fact that seems extremely important due to its limitations, yet not documented anywhere on this page.

---
#### Document Details

⚠ *Do not edit t

[2019-07-29 16:14] mkArtakMSFT opened #13539 "Provide guidance about how to write components that expose a bindable"
There is a confusion from community where people expect that this is already supported.
Here is an example of such confusion: https://github.com/aspnet/AspNetCore/issues/12690

[2019-07-29 16:20] MDorhamy commented on #11268
1: remove current database
2: run 'dotnet ef migrations remove' to remove all migrations
3: run 'dotnet ef migrations add initialCommit'
4: run 'dotnet ef database update'

[2019-07-29 16:21] SidShetye commented on #11318
@javiercn - could you please link to the work-item issue for the code+pkce changes?

[2019-07-29 16:23] javiercn commented on #11318
7bf660947baf8966cd65ae6a3708cf283576dc25

[2019-07-29 16:23] javiercn commented on #11318
https://github.com/aspnet/AspNetCore/commit/7bf660947baf8966cd65ae6a3708cf283576dc25

[2019-07-29 16:25] chrdlx commented on #13539
Yes, I tried to change `@bind`  for  the  `(@onchange + value)`  combo,  the issue now is that I lost the automatic type convertion provided by `@bind`.

I have a `@bind="val"`   where `val `is `decimal`.   And if I change my computer's decimal and thousands separator, it works perfectly.

Instead, if I go the   `(@onchange + value)` route,  I have to implement that convertion system myself... or

[2019-07-29 16:41] guardrex commented on #13539
@chrdlx

For the docs update, I *hope* to be free this afternoon to take a closer look at this.  😅🏃🏃🏃🏃😅

I recommend that you ask further questions about the scenario on the engineering side ... on https://github.com/aspnet/AspNetCore/issues/12690. It will be more discoverable than over here. I see that the issue is closed, but it's still best to ask over there. They'll either provide a quick answ

[2019-07-29 16:44] mkArtakMSFT opened #13541 "Provide guidance about how to wire use different events with InputText"

[2019-07-29 17:20] #13537 closed

[2019-07-29 17:44] guardrex commented on #13535
@Centrox When you say "example not working, are you on 3.0 Preview SDK? If so, we're not quite there yet. We'll have this updated for 3.0 by the time 3.0 reaches RTM 🤞 (*we hope* ... that's not an ironclad promise :smile:).

[2019-07-29 17:51] guardrex commented on #13535
Seems ok here ...

Web Host sample app ...

<img width="478" alt="Capture" src="https://user-images.githubusercontent.com/1622880/62070086-6b827780-b1ff-11e9-8339-c10d7584bfa5.PNG">

Generic Host sample app ...

<img width="932" alt="Capture2" src="https://user-images.githubusercontent.com/1622880/62070093-6f15fe80-b1ff-11e9-8edc-45324044c50f.PNG">

As I noted, this topic (and the Generic Host sam

[2019-07-29 17:51] #13535 closed

[2019-07-29 17:58] robertburgh opened #13542 "2.2 Return RedirectToPage from Post Handler issues"
Using the same syntax of return RedirectToPage("/Index"); inside of a post handler doesn't appear to cause the browser to accept the new url.
The output window in VS shows the complete and correct full url (that can be copied and pasted directly into the browser with expected results).
I tried it with and without [IgnoreAntiforgeryToken] on the target page.
Thanks

---
#### Document Details

⚠ *Do

[2019-07-29 18:39] Rick-Anderson commented on #13542
I'm not sure what's going on but `RedirectToPage` does work.

[2019-07-29 18:39] #13542 closed

[2019-07-29 18:41] Rick-Anderson commented on #13542
`return RedirectToPage("./Index");` is used in the intro to RP and the EF/RP series.

[2019-07-29 19:22] robertburgh commented on #13542
1.) I have tried with "./" and "/" multiple times.
2.) Breaking on the OnPost shows that is it firing as expected.
3.) The Visual Studio (2017) Output Window shows the expected url being created.

I created new projects to test this issue and am getting the same unexpected results.

There are no errors in the Browser or VS.

In the .cs file:
        public void OnGet()
        {
        }

[2019-07-29 19:41] robertburgh commented on #13542
This is from the Output of Visual Studio when the Button is clicked that fires the ajax Post:

This shows that "Executed endpoint 'Page: /Test'" but the browser never leaves /Index.

Microsoft.AspNetCore.Hosting.Internal.WebHost:Information: Request starting HTTP/1.1 POST https://localhost:44317/Index?handler=Test  0
Microsoft.AspNetCore.Routing.EndpointMiddleware:Information: Executing endpoint '

[2019-07-29 20:25] shirhatti opened #13544 "Add docs for gRPC over h2c"
Our templates default to using gRPC over TLS. On platforms where server-side ALPN is not available (MacOS, Windows < 8.1, Linux distros with OpenSSL < 1.0.2g), our templates will fail to run.

We should add instructions on how fallback to using gRPC over h2C over these platforms.

[2019-07-29 20:25] shirhatti commented on #13544
Reported in https://github.com/grpc/grpc-dotnet/issues/416

[2019-07-29 20:56] serpent5 commented on #13542
The difference between the docs examples, etc, is that they're not using AJAX. Redirects don't work the same way for AJAX as they do for regular browser requests.

[2019-07-29 21:19] robertburgh commented on #13542
@serpent5 I thank you for the response. I can't find any documentation citing that. Can you point me in the right direction.

If I understand what you are saying, it is because the ajax POST fires the handler that contains the RedirectToPage, then it middleware doesn't get the response back to the browser?

[2019-07-29 21:28] serpent5 commented on #13542
I don't know if there's any real documentation for that: it's somewhat fundamental to how HTTP and browsers work, so it's certainly not specific to ASP.NET Core. I suggest you add a `success` handler to your jQuery call and inspect the response - that might help you learn about what's really going on.

[2019-07-29 22:08] smadgerano opened #13546 "Using Razor Components in Razor Pages and MVC projects"
The docs say that you can integrate server-side Razor Components with existing Razor Page project, but information is very limited and some elements are missing. It says that components must be wrapped in a div...

&lt;div id="counter"&gt;
    @(await Html.RenderComponentAsync&lt;Web.Components.Counter&gt;(new { }))
&lt;/div&gt;

...but this alone will not work. I found a reference on the page  ht

[2019-07-29 23:38] guardrex commented on #13539
@chrdlx I was playing with some 🙈 *RexHacks!*:tm: 🙉. The following seems to offer the behavior that you're seeking. I set the browser's language to Italian 🍕, and I was able to enter comma decimal values and get decimals assigned.

Can you paste your latest approach in here ... the value+onchange approach that wasn't allowing your browser's language setting to work properly?

*Parent component*

[

[2019-07-30 00:12] Rick-Anderson commented on #13544
cc @JunTaoLuo @JamesNK

[2019-07-30 00:13] Rick-Anderson commented on #13516
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-07-30 00:13] #13516 closed

[2019-07-30 00:52] guardrex commented on #13539
@danroth27 If the `<input>` value is provided to the parent via `UIChangeEventArgs` and `onchange`, the value can't simultaneously be bound to a child property because it complains that there are two `onchange` events defined ... that makes sense.

Because `value` can't bind, the value can be brought in as a cascading parameter.

It works, but this feels like another one of my *RexHacks!*:tm: 😬

I

[2019-07-30 01:22] chrdlx commented on #13539
Thanks @guardrex !!  My issue with the "value+onchange" way,  is that you have to provide the convert functionality yourself as you did in your example.  Also you added a CascadingValue which adds further complexity if you have a full form with several fields.

 In that case I prefer to go full Cretaceous and use 100% strings and use Convert as needed, which is not great, and will duplicate whatev

[2019-07-30 03:29] MarkMurphy37 opened #13547 "Configuring full control of the database schema"
Can you provide a more concrete example of configuring a new dbContext in order to gain full control of the database schema?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21cb7455-3305-9316-5440-bdc22947a82d
* Version Independent ID: 137d4b94-7b26-3911-b22d-42c754a95fc1
* Content: [Introduction to authentication for S

[2019-07-30 04:03] Rick-Anderson commented on #13481
The Environment Variables Configuration Provider is called after configuration is established from user secrets and appsettings files. Calling the provider in this position allows the environment variables read at runtime to override configuration set by user secrets and appsettings files.

[2019-07-30 04:04] Rick-Anderson commented on #13481
Secrets should not be stored in appsetting.json

[2019-07-30 04:05] Rick-Anderson commented on #13547
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core or EF Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-07-30 04:05] #13547 closed

[2019-07-30 05:50] djbreen7 opened #13548 "Shift+Alt+D Doesn't Do Anything"
Shift+Alt+D Doesn't Do Anything. Additionally, no message is initially displayed in the console with the instructions as stated in the presentation by Steve Sanderson.

Chrome 75
Ubuntu 18.04.2
.NET Core 3.0.100-preview7-012821
Blazor 3.0.0-preview7.19365.7

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f61c7-9f51-6

[2019-07-30 08:02] MovingMazes opened #13549 "Is there somethng missing with this phrase?"
Is there somethng missing with this phrase on this page :
The layout file for new ASP.NET Core projects created with the templates:
Razor Pages: Pages/Shared/_Layout.cshtml
(screenshot here)
Controller with views: Views/Shared/_Layout.cshtml
(screenshot here)
?

I'd rather had said something like one of the 2 possibilities below  :
1)
The layout file for new ASP.NET Core projects created with the

[2019-07-30 09:41] guardrex commented on #13481
It's covered in the Web Host topic at ...

https://docs.microsoft.com/aspnet/core/fundamentals/host/web-host?view=aspnetcore-2.2#set-up-a-host

... and in the Generic Host topic at ...

https://docs.microsoft.com/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-3.0#default-builder-settings

... but not in the app secrets topic. A quick line+cross-link should do the trick. Since this is l

[2019-07-30 10:22] guardrex commented on #13548
@danroth27 It looks like our guidance has regressed. I don't get the new tab in Chrome that explains how to enable debugging now when pressing Shift+Alt+D

When I try to do it manually ... e.g. ...

[code]

... it doesn't work, including after closing the Chrome instance that VS spawns.

[2019-07-30 10:42] Dave-Lowndes commented on #13091
Ditto. Where is it? How do we create a .NET Core 3 gRPC client without it?

[2019-07-30 10:47] #13549 closed

[2019-07-30 10:47] Dave-Lowndes commented on #13091
Aha, it's only visible when you check the "Include prerelease" checkbox in the VS NuGet Package Manager UI.

[2019-07-30 11:40] marno11 commented on #12727
Has this issue been resolved in preview7?

...I am unable to recreate this issue in this preview...

[2019-07-30 12:37] mustakimali commented on #13120
Hope this helps!

It helped. Thanks.

This is an issue with preview7 as well. Any plan to fix this in final release?

[2019-07-30 13:09] Dave-Lowndes opened #13552 "Add must trust cert"
When the client tries to communicate to the service, the service reports:

fail: Microsoft.AspNetCore.Server.Kestrel[0]
      HTTP/2 over TLS was not negotiated on an HTTP/2-only endpoint.

Presumably the client code needs some subtle change to ensure it uses HTTP/2 ?
And the client crashes:

Unhandled exception. System.Net.Http.HttpRequestException: An error occurred while sending the request.
 -

[2019-07-30 15:38] Rick-Anderson commented on #13481
And the list of default providers in order is here:  https://review.docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-3.0&branch=pr-en-us-13545#default-builder-settings

[2019-07-30 15:38] #13481 closed

[2019-07-30 15:38] daedam opened #13553 "XDT schema URL is correct but no longer seems to be a valid URL"
The URL for the XML-Document-Transform schema results in a HTTP 404. (http://schemas.microsoft.com/XML-Document-Transform) Is there a new URL for this schema, or was it removed from schemas.microsoft.com by mistake?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c703c55-7ece-6e0d-2518-50786599530a
* Version Independen

[2019-07-30 16:09] WellspringCS opened #13554 "For my understanding"
Url.Action(new { category = "admin/products" })…

Shouldn't that be...

Url.Action(new { page = "admin/products" })…

?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32374077-e02e-d6a6-1cea-05e58447b7cd
* Version Independent ID: 86aeab13-1c25-9fc1-4e56-0390cb40c242
* Content: [Routing in ASP.NET Core](https://docs.mic

[2019-07-30 16:11] WellspringCS commented on #13554
less than trivial, but while I'm here: "These are called a catch-all parameters."

Grammar check that one! :)

[2019-07-30 16:26] Rick-Anderson commented on #13554
`Url.Action(new { category = "admin/products" })` is correct.

[2019-07-30 16:26] #13554 closed

[2019-07-30 16:29] Rick-Anderson opened #13555 "Create top 50 report to prioritize 3.0 work"
Nice to have bounce rate and any other relevant stats.
cc @tdykstra  @scottaddie @guardrex

[2019-07-30 16:41] WellspringCS commented on #13554
Then I'm still confused about something -- my apologies and I'll dig in to see what I'm not understanding.

[2019-07-30 16:49] guardrex commented on #13553
Hello @daedam AFAIK, those were never real URLs ... unless you saw them work at some point. Truly, I don't recall ever looking. Sometimes companies do put spec info at the link that they use for the namespace URL, but I didn't think MS ever did ... well ... for many of them anyway.  AFAIK, they were just used by the tooling ... only to set the namespace and prefix ... and only in that format (a UR

[2019-07-30 16:49] #13553 closed

[2019-07-30 16:51] WellspringCS commented on #13554
elsewhere in the same page it says...

var link = Url.Action("ReadPost", "Blog", new { id = 17, });

The implication being that the { id } provision fills the expected route parameter id.

Then again later, this...

[code]
And text below it talks about extracting article value of  All-About-Routing/Introduction from /Blog/All-About-Routing/Introduction ...

The above examples guiding me, I would h

[2019-07-30 17:08] Rick-Anderson commented on #13301
@guardrex
The new `@code` directive is used in  *.razor* files (not supported in *.cshtml* files)

[2019-07-30 17:12] guardrex commented on #13301
These updates are in review now on https://github.com/aspnet/AspNetCore.Docs/pull/13524.

Yes on the ❓ ... all directive attributes are for RC (.razor) only. That PR :point_up: has all the content on it for these updates.

Do you want me to put put a "fixes" line on the PR, or do you want to close this as a duplicate?

[2019-07-30 17:14] #13301 closed

[2019-07-30 17:15] guardrex commented on #13301
Sorry about not signaling this sooner. I **_WAS_** going to only concentrate on the Blazor side of things over there, but I quickly found out that cross-links would be needed between the two topics and it made more sense to address everything at once on one PR.

[2019-07-30 17:24] ChrisMyrick commented on #13531
I ran into the same issue and re-ran the dotnet new command. I now see the three template types (Server, Core Hosted, and Client Side), but the high level project template should not display "Server App".

[2019-07-30 17:32] clarkezone commented on #13552
+1 this sample doesn't work

[2019-07-30 17:53] Rick-Anderson commented on #13552
what version of .NET Core?
`dotnet --version`

[2019-07-30 18:35] mikaelm12 opened #13557 "Blazor template names out of date"
The getting started doc shows
`dotnet new blazor -o WebApplication1`

`dotnet new blazorserverside -o WebApplication1`

https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio-code

dotnet new shows

[code]

[2019-07-30 18:42] guardrex commented on #13557
Updates are on https://github.com/aspnet/AspNetCore.Docs/pull/13536 and awaiting review.

The updates are slated for the `release/3.0-preview8` branch for Pre8.

[2019-07-30 18:42] #13557 closed

[2019-07-30 18:51] mikaelm12 commented on #13557
Ah, great

[2019-07-30 19:13] guardrex commented on #13436
@danroth27 @rynowak ... I'm working on this and the globalization issue now. On the first pass, I'll take your, Ryan, guidance and roll these into the *Components* topic.

The *Components* topic is getting rather *loooong*. It's fine if the content is long&mdash;that's rarely a serious problem. However, the sidebar TOC is eventually going to be a bear to use at some point. I'm not saying that we n

[2019-07-30 19:22] krchome opened #13559 "YouTube Version"
At the URL:
https://www.youtube.com/watch?v=qkrUJzdegf4&feature=youtu.be (Account Confirmation Password Recovery  Part 1)
https://www.youtube.com/watch?v=D6RG7T09lLQ (Account Confirmation Password Recovery  Part 2)
https://www.youtube.com/watch?v=WhtOqWabi_4 (Change Email and activity timeout)
https://www.youtube.com/watch?v=o9VxoPv2MDI (Combine Social and Local Logins)

---
#### Document Details

[2019-07-30 19:32] Dave-Lowndes commented on #13552
3.0.100-preview7-012821

[2019-07-30 19:59] fabio770 commented on #13120
Thank you! This solved my problem

[2019-07-30 20:05] Rick-Anderson commented on #13552
@Dave-Lowndes is this a dup of  #13120

[2019-07-30 20:55] tehstun commented on #13552
@Rick-Anderson the duplicate work around does not make sense, could you provide more context?

[2019-07-30 21:00] tehstun commented on #13120
@iulianaciura  could you add more context for how you used core to get around this? Maybe a example? Thanks.

[2019-07-30 21:13] JamesNK commented on #13120
Hi everyone

I think the issue here is a mis-match between the server and the client over whether to use HTTPS.

Grpc.Net.Client by default will use HTTPS:

[code]

To use Grpc.Net.Client without TLS you must set an app context switch and change the base address to start with http:

[code]

[2019-07-30 21:48] JamesNK commented on #13552
When you run the server sample, what is the console output. For example, this is what I see:

[code]

I want to verify that you have an HTTPS endpoint.

[2019-07-30 21:54] JamesNK commented on #13120
When you run the gRPC server, what is the console output when it starts?

For example:

[code]

`Now listening on: https://localhost:5001` indicates that you want to use HTTPS to call the server.

[2019-07-30 22:08] tehstun commented on #13120
This worked great for me @JamesNK  thank you. Is this expected to be a flag later on or are we expected to be adjusting the context in the future if we require http?

Thanks.

[2019-07-30 22:12] JamesNK commented on #13120
I don't know of plans to make HTTP/2 without TLS officially supported.

Disclaimer that you should only use HTTP in development. Always use HTTPS for real data over the internet.

[2019-07-30 22:12] blowdart commented on #13120
As no browser supports HTTP/2 without TLS encryption is defacto mandatory. You're in uncharted and unsupported scenarios. This will not be exposed as a flag, and will remain only available as an AppContext switch which we will remove at some point.

[2019-07-30 22:37] Dave-Lowndes commented on #13552
@JamesNK I get precisely what's shown on the tutorial page - not what you showed there, specifically the "Now listening on http://localhost:5000" you have is not present for me.

[2019-07-30 22:40] Rick-Anderson commented on #13552
@Dave-Lowndes see #13560

[2019-07-30 22:44] Dave-Lowndes commented on #13552
@Rick-Anderson I have looked at that, but you're going to have to spell it out for me. I'm new to all this. What specifically needs to be done to make things work?

[2019-07-30 22:50] JamesNK commented on #13552
That's fine.

See my comment here - https://github.com/aspnet/AspNetCore.Docs/issues/13120#issuecomment-516598055

It looks like your server is using HTTPS so you should use this code to call the gRPC server:

[code]

[2019-07-30 23:00] anangaur commented on #12441
@Rick-Anderson Whats the resolution of this issue? Should the instructions mentioned by @AskYous be added to the docs? Is there a PR for it?

[2019-07-30 23:18] LouisT123 opened #13562 "Capitalization error/Mismatch"
Capitalization error in the code that is supposed to be copied. Should be "ID" not "Id" for this section: [Add validation rules to the movie model](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/validation?view=aspnetcore-2.2&tabs=visual-studio#add-validation-rules-to-the-movie-model)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-07-30 23:28] LouisT123 commented on #13562
@Rick-Anderson Can you review the PR and merge it?
/cc: @anangaur

[2019-07-30 23:33] Rick-Anderson commented on #13562
What PR?

We've decide to not change `ID` to `Id`, although `Id` is preferable.

[2019-07-30 23:39] Rick-Anderson commented on #12441
Delete the migrations folder.

[2019-07-31 00:06] anangaur commented on #13562
The issue is that rest of the code examples use “ID” while this one uses “Id” and this seems to break the build if one follows the doc and copies the code as is. The change was to change this too to “ID”.

[2019-07-31 00:16] Rick-Anderson opened #13565 "Highlighting off on 2nd snippet"
off by 1 line

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01013ef6-c55c-ff58-571c-ddc4435993af
* Version Independent ID: 24699fe5-9744-1796-0798-f7b211ec0f2f
* Content: [Add a new field to a Razor Page in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/new-field?view=aspnetcore-3.0&t

[2019-07-31 00:28] Rick-Anderson commented on #13565
Fixed in #13564

[2019-07-31 00:28] #13565 closed

[2019-07-31 00:29] Rick-Anderson commented on #13562
Thanks @anangaur  - I read that too quickly.

[2019-07-31 00:30] Rick-Anderson opened #13567 "Lock closed issues that are not useful"
Only the top 10 are shown on the integrated page/GitHub closed tab

Lock all those that are not helpful. We want to encourage customers to review closed issues before opening a new one.

![image](https://user-images.githubusercontent.com/3605364/62174724-33129480-b2f8-11e9-90d0-16b54260043c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-07-31 01:27] halter73 opened #13569 "Document what feature interfaces are typically available in HttpContext.Features and ConnectionContext.Features"
@mconnew Pinged me recently asking "How do I get the remote client IP address from ConnectionContext?". This was for 2.1 before you could get this directly from the ConnectionContext. It highlighted how ConnectionContext Features, and by extension HttpContext Features, aren't very discoverable. I think a good doc could help with this.

[2019-07-31 03:17] ParthiKarnan commented on #13343
Is there any specific documentation available for an ASP.NET Core Web API Test controller logic?

[2019-07-31 03:27] guardrex commented on #13343
@ParthiKarnan No, there isn't at this time. Readers have asked for coverage for web API in integration testing on https://github.com/aspnet/AspNetCore.Docs/issues/11283 but not for unit testing. This issue doesn't cover the request. This one is just to update the topic+sample for 3.0.

You can open a new issue for this topic asking for more or new coverage for web API controller testing, and I'll

[2019-07-31 05:14] agiletuan commented on #9882
app.UseSpa(spa =>
            {
                // To learn more about options for serving an Angular SPA from ASP.NET Core,
                // see https://go.microsoft.com/fwlink/?linkid=864501

                spa.Options.SourcePath = "ClientApp";
                spa.UseSpaPrerendering(options =>
                {
                    options.SupplyData = (context, data) =>
                    {

[2019-07-31 05:15] agiletuan commented on #9882
Hic, how to edit my comment on this docs?!!

[2019-07-31 05:56] danroth27 commented on #13548
It works fine for me. Please note this gesture is only used for Blazor WebAssembly Apps (i.e. client-side Blazor apps). Blazor Server Apps just use the normal .NET debugging support in VS. Are you sure you created a Blazor WebAssembly App?

[2019-07-31 07:05] harleydk opened #13572 "Need documentation on custom events"
I hard a hard time finding info on custom events. Did find what I was looking for at https://github.com/aspnet/Blazor/issues/236#issuecomment-372240986, you would perhaps consider incorporating this in this page?

Thank you for your consideration.

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: be4c4d0c-14

[2019-07-31 08:28] Dave-Lowndes commented on #13552
@JamesNK That code is precisely what the tutorial says to use for the client - and is what I have. It doesn't currently work for me.

[2019-07-31 08:37] JamesNK commented on #13552
Sorry, I don't know what the problem is then. Perhaps a local firewall or some other networking software policy is preventing the connection. That's my only guess from your error message:

[2019-07-31 08:49] endeffects commented on #13436
When we can expect a solution for blazor client side applications?

[2019-07-31 09:09] Dave-Lowndes commented on #13552
@JamesNK I'm seeing different behaviour on different machine's OS's - though neither I've tried work as the tutorial says it should.

On a current Windows 10 B18945 machine, when I run the server, it outputs:

info: Microsoft.Hosting.Lifetime[0]
      Now listening on: http://localhost:5000
info: Microsoft.Hosting.Lifetime[0]
      Application started. Press Ctrl+C to shut down.
info: Microsoft.Ho

[2019-07-31 09:35] JawadJaber opened #13573 "Let us download code samples."
Code samples is effective channel to understand the concepts. I advise you add the samples for all this and other Blazor topics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49807900-0d56-e23c-1aef-d79099caeffb
* Version Independent ID: feff434f-912c-0985-d575-4a23a629057d
* Content: [ASP.NET Core Blazor JavaScript i

[2019-07-31 10:13] 717009629 opened #13574 "Localization of default DataAnnotations messages"
How can I do localization of default DataAnnotations messages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1833676-ff1b-c587-cc9c-81afffa8ef68
* Version Independent ID: ad989395-3f49-4d55-521e-cf6fe56281ee
* Content: [Globalization and localization in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundam

[2019-07-31 10:19] ParthiKarnan opened #13575 "Required ASP.NET Core Web API Test controller logic using xUnit document or sample application"
I have built an  **ASP.NET Core 2.2 Web API** project that is deploying in production environment in azure. During the development I have not completed Unit Test in my project due to rapid delivery. Now, I'm searching **Unit Test** implementation document with example for an **ASP.NET Core 2.2 Web API controller** logic using **xUnit** with **EF Core in-memory database**s. If I will get any docume

[2019-07-31 10:21] ParthiKarnan commented on #13343
Thanks for your response and I have raised a ticket in github regarding my question. Kindly find the below link.
https://github.com/aspnet/AspNetCore.Docs/issues/13575

[2019-07-31 10:49] novfal opened #13576 "How to display related table in blazor using entity frame work"
If using the include to join the table table vales are not displaying in blazor view

[2019-07-31 11:52] jlehto commented on #9879
This could help
https://mattfrear.com/2018/07/21/add-an-authorization-header-to-your-swagger-ui-with-swashbuckle-revisited/

[2019-07-31 12:04] guardrex commented on #13573
Hello @JawadJaber ... The sample app does demo what the topic shows.

https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/blazor/common/samples/3.x/BlazorSample/Pages/JSInterop.razor

I'll get the sample app link into the topic. Thanks for calling this out.

[2019-07-31 12:06] guardrex commented on #13575
Although this issue pertains to unit testing controller logic for web API, I'm going to add this to the Integration Testing project so that when testing issues are triaged this issue will get some visibility by engineering.

[2019-07-31 12:08] guardrex commented on #13572
I like it ... thanks @harleydk. We'll get this scheduled.

[2019-07-31 12:10] guardrex commented on #13548
Strange ... it used to work for me. I'll try again.

[2019-07-31 12:28] guardrex commented on #13576
Hello @novfal ... We only handle documentation issues here. If you think that you found a bug, open an issue with the engineers.

https://github.com/aspnet/AspNetCore/issues

Provide more information than this tho ... show your component code in the issue, and they might ask you to put up a repro project on GitHub for them to pull down and take a look at.

[2019-07-31 12:28] #13576 closed

[2019-07-31 12:31] #13573 closed

[2019-07-31 13:11] djbreen7 commented on #13548
@danroth27 @guardrex
I'm using client-side according to the list of templates in `dotnet new`

[code]

These are my steps:

- `dotnet new blazor --name=MyBlazorApp`
- `cd MyBlazorApp`
- `dotnet run` (default configuration is debug)
- `SHIFT`+`ALT`+`D` with focus on the application

Is it possible the the docs incorrectly imply support on Linux?

[2019-07-31 13:59] JeroMiya opened #13578 "Need clarification on Parent/Child component bindings"
There's a section on data binding showing the `@bind-PropertyName` syntax, along with the `EventCallback<T> PropertyNameChanged` convention, but it doesn't show a complete sample with two-way binding from parent to child and back. Modifying the one-way sample provided to add an `<input @bind=... >` element to the child component, bound to the bindable property resulted in a one-way bind-once bindi

[2019-07-31 14:49] Rick-Anderson commented on #13574
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-2.2#dataannotations-localization

[2019-07-31 14:49] #13574 closed

[2019-07-31 15:16] Rick-Anderson commented on #13562
Fixed in #13563

[2019-07-31 15:16] #13562 closed

[2019-07-31 15:36] Dave-Lowndes opened #13580 "using Greet; in sample code is wrong"
The code block beneath "Update the gRPC client Program.cs file with the following code"
Should be using GrpcGreeter not Greet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d298a6c-8ddc-dbc8-d219-0fa7138442c2
* Version Independent ID: b96be346-958a-cfcd-d80a-c352d64223e8
* Content: [Create a .NET Core gRPC client and

[2019-07-31 16:13] LouisT123 opened #13581 "Picture Does Not Correspond with instructions"
Not tutorial breaking but the image in Visual Studio for Mac is the same as the Windows one for this section: [Add a view](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-view?view=aspnetcore-2.2&tabs=visual-studio-mac#add-a-view)  The instructions are still correct though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-07-31 16:34] guardrex commented on #13578
Hello @JeroMiya ... We're discussing this, specifically with regard to `<input>` value binding across components, on https://github.com/aspnet/AspNetCore.Docs/issues/13539. Thus far, a cascading parameter allows a child to interact with a parent property which is set by a callback (i.e., matches your *seems like a lot of extra boilerplate* remark). I show that approach in the issue. It might be mo

[2019-07-31 16:34] #13578 closed

[2019-07-31 16:35] guardrex commented on #13539
Moving @JeroMiya's remark from https://github.com/aspnet/AspNetCore.Docs/issues/13578 to this issue (paragraph breaks are added) ...

[2019-07-31 16:40] PradeepSinghMakwana opened #13582 "Project Naming Guidelines"
I am not sure, if there is a documentation already available from Microsoft for this. Watch the below video to understand the issue better.

[Video](https://youtu.be/KM5o9M4cuQA)

[2019-07-31 16:41] guardrex commented on #13548
@djbreen7 AFAIK, it should work on Linux ... but **_with Chrome_** as the doc states.

This **did** work for me a while back ... it didn't work yesterday. I hope to be free later this afternoon to give it another shot. "*In Dan We Trust!*" ... that's what they print on MS 💵. If he says it works, it works.

I'll ping u back here in a bit. 🏃

[2019-07-31 16:49] PradeepSinghMakwana commented on #13582
I mean we can have, project structure and naming guidelines. So that it is easier to create and scale projects. I recently faced problems in naming and structuring my own projects.

[2019-07-31 16:56] mattielee opened #13584 "Run the app- Keyboard shortcut is incorrect for mac"
The keyboard shortcut (for mac) for "Run the app without debugging" is incorrect and provides no alternative approach. The correct shortcut is Alt+Cmd+Enter. An alternative approach is to go to "Run&gt;Run without debugging" on the menu bar. [Run the app](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start?view=aspnetcore-2.2&tabs=visual-studio-mac#run-the-app-1)

[2019-07-31 17:04] #13584 closed

[2019-07-31 17:15] mattielee opened #13586 "No previously created "Data" folder"
There is no previously created "Data" folder. [Add a database context class](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-2.2&tabs=visual-studio-mac#add-a-database-context-class)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Ind

[2019-07-31 17:16] Rick-Anderson commented on #13586
Can you also fix the 3.0 version while you're at it?
/cc: @anangaur

[2019-07-31 17:18] Rick-Anderson commented on #13586
Sometimes the content is in an include that doesn't change between 2.2 and 3.0 - in that case there is only one fix.

[2019-07-31 17:25] #10483 closed

[2019-07-31 17:32] #13581 closed

[2019-07-31 17:37] #13586 closed

[2019-07-31 17:46] Rick-Anderson commented on #13582
@PradeepSinghMakwana can you open that issue in the .NET repo?

[2019-07-31 17:46] #13582 closed

[2019-07-31 17:48] Rick-Anderson opened #13590 "3.0 update: Add a model to MVC intro"
3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d975a83-1550-b284-d0d8-7fe2ea206ff5
* Version Independent ID: 48e81b42-7c2b-afbf-71e6-d4f442a4bd1f
* Content: [Add a model to an ASP.NET Core MVC app](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model?view=aspnetcore-2.2&tabs=visual-studi

[2019-07-31 19:38] mattielee opened #13591 "Need clarification on where to call terminal commands"
Clarification on where to call the terminal commands would be helpful: "Make sure you are using the terminal for the RazorPagesMovie project. Right click the project name in the design/layout bar go to Tools&gt;Open in Terminal" [Add required NuGet packages](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-2.2&tabs=visual-studio-mac#add-required-nuget-packag

[2019-07-31 19:44] mattielee commented on #13586
Okay, I will look into it.

[2019-07-31 20:35] #13591 closed

[2019-07-31 20:38] guardrex commented on #13548
@danroth27 No 🎲🎲 here.

1. `dotnet new blazor`
1. `dotnet run`
1. Open Chrome (v75.0.3770.142 here)
1. Load app at `http://localhost:5000` (I tried HTTPS on 5001, too.)
1. `Inspect` > `Console` tab. Select the app panel.
1. SHIFT+ALT+D

Error in the console ...

<img width="483" alt="Capture" src="https://user-images.githubusercontent.com/1622880/62246143-9fe56780-b3a8-11e9-8a8e-4890accef5a0.PNG">

[2019-07-31 20:51] djbreen7 commented on #13548
@guardrex Great!

I made sure to download full chrome on Ubuntu (as opposed to chromium)- just to check that box in case the question comes up. :)

Also, I'm sure you're repo'ing on Windows, but I believe the manual command on Ubuntu will be via Android Debug Bridge for anyone who happens to come across this thread:

`adb forward tcp:9222 localabstract:chrome_devtools_remote; google-chrome localho

[2019-07-31 20:59] guardrex commented on #13548
:rat:🍔 **_Roasted Rat Burgers!_** :rat:🍔

I just got it running. The trick was to pass the configuration option ...

[code]

Sooooo ... Publish assumes Release, and I thought that `run` assumed `Debug`. I'll take a closer look, but it seems that we need to call that out.

[2019-07-31 21:02] guardrex commented on #13548
Defines the build configuration. The default value is Debug.

https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-run?tabs=netcore21

*Really?* ... didn't work here. I must pass the option explicitly to get debugging going.

Yep ..... double-checked and confirmed. Gotta pass the option to get it working.

This is an engineering issue. @djbreen7, do you want to open it with them, or do you wa

[2019-07-31 21:07] djbreen7 commented on #13548
@guardrex Nice! I'll try that later this evening when I'm on my home dev box.

I'll go ahead and open up the issue.

Thanks for all your help!

[2019-07-31 21:08] guardrex commented on #13548
Sure thing. We'll leave this open. I'll put a temporary patch on the topic and open a new issue to revert the language based on the outcome of the engineering issue. This will close automatically when the PR merges. Thanks for your help.

[2019-07-31 21:19] LouisT123 opened #13595 "Should specify where index method is...."
It's not breaking the tutorial, but when I and another intern did this tutorial for the first time we had a hard time finding the specified index method in the beginning. We proposed that an instruction should be added to show the file path of the index method to be Controllers &gt; MoviesController.cs &gt; Index method for the beginning and at [Add search by genre to the Index view](https://docs.

[2019-07-31 21:26] LouisT123 commented on #13595
Edit: for the second index method: [Add search by genre to the index view](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/search?view=aspnetcore-2.2#add-search-by-genre-to-the-index-view) a path should be displayed specifying Views > Home > Movies > index.cshtml to differentiate with the index.cshtml in the Home folder/HelloWorld folder.

[2019-07-31 21:31] guardrex opened #13596 "[3.2] Revert Debug topic instruction"
https://github.com/aspnet/AspNetCore/issues/12779

Revert *Pass Debug option to a Blazor app for debugging* #13594

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f61c7-9f51-6735-e328-3c7b495d70c3
* Version Independent ID: 4d06e565-282d-6387-aa90-cb2c2986d35a
* Content: [Debug ASP.NET Core Blazor](https://docs.micros

[2019-07-31 22:15] LouisT123 commented on #13595
Sorry another typo I ment in Views/Movies

[2019-07-31 22:15] #13548 closed

[2019-07-31 22:22] LouisT123 commented on #13595
@Rick-Anderson Can you review the PR and merge it?
/cc: @anangaur
Thanks for the help so far!

[2019-08-01 00:14] Rick-Anderson commented on #7967
@TheBeardedLlama  @stevejgordon  can either of you provide a sample app we can use?

[2019-08-01 00:15] guardrex commented on #7967
@Rick-Anderson The code is already on the PR #13434. Do you want me to turn that into a sample app?

[2019-08-01 00:20] Rick-Anderson commented on #12580
What we need is a simpler sample - for example, calling the [web API sample](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-3.0&tabs=visual-studio)

[2019-08-01 00:21] Rick-Anderson opened #13599 "Static files master issue and update to 3.1"
18K PV
---
This is the master issue for this doc. If you PR this doc and don't fix all the issues, open the issues you fix and close against that.

PU issues:
- [ ]

**_Not_** PU issues:
- [x]  Update to 3.1
- [x] Create Default Builder also seems to do some other static files stuff #17655
- [x]  Paths on Linux container #16657
- [ ]

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-08-01 00:29] Rick-Anderson commented on #8418
@serpent5 Can you review/help me if I get stuck on this one?

[2019-08-01 05:06] PradeepSinghMakwana commented on #13582
@Rick-Anderson  Do you mean microsoft/dotnet or aspnet/AspNet. I have opened the issue in both and then closed it in aspnet/AspNet as I think you didn't really mean that.

[2019-08-01 06:11] ParthiKarnan commented on #13575
Thanks for your response @guardrex . I'm not telling you this is an issue. I'm just requesting you to provide some document or sample xUnit Test implementation for ASP.NET Core 2.2 Web API with EF Core In-Memory database. So that, It'll help for every engineers who are looking for this kind of example.

[2019-08-01 08:40] TheBeardedLlama commented on #7967
@Rick-Anderson I don't have one, but could provide one if you like

let me know if/when and I could sort something out

although @guardrex's looks ok to me

either way, happy to help if required

[2019-08-01 09:49] DavidDeSloovere commented on #11401
Finally got back to this.
In Startup.Configure, the ApplicationDiscriminator still empty.
But when injecting DataProtectionOptions into a controller, I was able to see what the discriminator is:
It's the file path where the application is in. So not an IIS path, but an actual folder.
I'm getting this for both the InProcess and OutOfProcess hosting model.
Should docs be clarified?

[2019-08-01 09:55] DavidDeSloovere commented on #11401
My apologies. Docs have been updated already.
Well done. 👍

[2019-08-01 11:06] ptsneves commented on #13458
You are right. The docs were for 3.0. I am working for a professional deployment so developing with non stable releases is a bit out of my scope for now. Thanks for the clarification.
In the mean time i got the gRPC official project C# implementation working with core.

[2019-08-01 11:06] #13458 closed

[2019-08-01 11:20] Lurs commented on #13531
I ran into the same issue but re-running the dotnet new command didn't help me on Windows 7 and VS Community 2019 Preview. I only see the server-side template.
VS2019 Preview Help About:
Microsoft Visual Studio Community 2019 Preview
Version 16.3.0 Preview 1.0
VisualStudio.16.Preview/16.3.0-pre.1.0+29123.89
Microsoft .NET Framework
Version 4.7.03062

dotnet --info:
.NET Core SDK (gemäß "global.jso

[2019-08-01 11:46] guardrex commented on #13531
@Lurs Re-execute that template install command in the *Get Started* topic and then restart VS and see if it picks them up.

[2019-08-01 12:06] #13580 closed

[2019-08-01 12:59] ecatherman opened #13601 "Client Side Authentication"
While it is good to see the warning that you can't trust client side authentication, It does not have any useful information about how to do authentication in the client side.

Client side authentication and security is about preventing the users that are not trying to hack your program from seeing the server side authentication errors.

I would like to see some examples of how to do that.

Client

[2019-08-01 14:30] danilDelete commented on #7486
Add `Microsoft.EntityFrameworkCore.SQLite` worked for me.

[2019-08-01 15:06] guardrex commented on #13601
Hello @ecatherman ... This is more of an engineering scenario than a docs scenario at this point. We have https://github.com/aspnet/AspNetCore.Docs/issues/13022 to work the scenario forward on our side when engineering comes up with approaches (if management decides to proceed; our docs issue is still in triage). Although I'm going to close this as a duplicate of #13022, these will be linked, so y

[2019-08-01 15:06] #13601 closed

[2019-08-01 15:10] guardrex commented on #13601
... and on that docs issue (#13022), you can add a :+1: to the initial comment message. One other dev already did so. That helps a little bit when they look to gauge the priority.

[2019-08-01 15:23] Rick-Anderson commented on #13582
https://github.com/dotnet/docs

[2019-08-01 15:24] Rick-Anderson commented on #13582
You'll have to write up exactly what's needed and not cite a video.

[2019-08-01 15:25] Rick-Anderson commented on #7967
@TheBeardedLlama   as long as you're OK with @guardrex sample we should be good. Thanks for the quick feedback.

[2019-08-01 16:00] eTaoss opened #13675 "Make discussion and commentation easier"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example: I am trying to do [...] but [...]

Currently the discussions push away users, since they are runned as github issues. This forces many users to stop using the website instead getting helped with their issues by the rest of the community, or the guys which already fini

[2019-08-01 16:04] #7967 closed

[2019-08-01 16:22] Rick-Anderson opened #13602 "Fix run on paragraph"
Typed clients

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881cef77-11ef-ac11-06d0-0996a1ccfa1b
* Version Independent ID: 3d356334-e672-7e8b-1fef-7944ebee99eb
* Content: [Make HTTP requests using IHttpClientFactory in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcor

[2019-08-01 16:32] #13595 closed

[2019-08-01 16:46] #13602 closed

[2019-08-01 17:41] LouisT123 opened #13604 "Building the app command for Mac"
In the section [Add a Rating Property to the Movie Model](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/new-field?view=aspnetcore-2.2&tabs=visual-studio#add-a-rating-property-to-the-movie-model), the instructions give the command to build for Windows (Build the app (Ctrl+Shift+B) ) which is correct but for people doing this tutorial on Mac it is actually (command + B).

---

[2019-08-01 17:58] #13604 closed

[2019-08-01 19:25] serpent5 commented on #8418
@Rick-Anderson I'd be very happy to help, but in this case I no longer think this is something that should be documented. I reproduced the issue in 2.2, just in case it had been "fixed" there, but I then realised that using a View Component, Tag Helper or Controller as a *typed client* actually just doesn't make a lot of sense. I did also dig into *why* DI doesn't work for it out of the box, which

[2019-08-01 19:28] Rick-Anderson commented on #8418
Great info - closing the issue. CC @chrisdpratt

[2019-08-01 19:28] #8418 closed

[2019-08-01 20:42] mpetrinidev opened #13607 "Add startup code block on Build your first app page"
[EDIT by @guardrex to mention that this should be worked with **Replace 'Build your first' tutorial** #10773, where the current tutorial will be completely replaced.]

I was reading the tutorial that shows how to build your first app on Blazor.
On the [Dependency Section](https://docs.microsoft.com/en-us/aspnet/core/tutorials/build-your-first-blazor-app?view=aspnetcore-3.0#dependency-injection) me

[2019-08-01 20:44] ps-tb opened #13608 "Question about disabled keys in Key Vault"
Having the Key Vault provider has turned out to be a great improvement to our apps. I had a question though regarding disabled secrets because the exception they caused was a problem we experienced when first starting. The documentation states the following:

Can you explain what is meant by "replace your app"? Does it that mean rewrite the app to not use the provider or is there something else th

[2019-08-01 21:02] guardrex commented on #13608
Yes ... it's a blown update that we and engineering didn't catch from ancient times of ASP.NET Core ... **_2017!_** :smile:

Original remark ...

"update your application" ... 🤔 ... even that's confusing.

I'm going to make it say the following and then we can see if engineering wants to modify it further ...

Thanks for opening this @ps-tb.

[2019-08-01 21:19] guardrex commented on #13607
I avoided that on purpose because there was considerable churn in `Startup` during the early previews. I knew that more changes were coming, and there was the Generic Host updates to consider.

*Yes!* on this, but I'd like to wait on it until we get closer to 3.0. I'll mark this for the release candidate period and take care of it at that time.

Thanks @mpetrinidev! :rocket:

[2019-08-01 21:20] guardrex commented on #13607
btw --- There's a **This Page** feedback button at the bottoms of the topics. Please use that form. It adds metadata to the issues to help us track the work.

[2019-08-01 22:09] Just2Sour opened #13610 "Blazor Server App Short Name Changed in 3.0.0-preview7.19365.7"
Getting Started step #3 uses the command dotnet new blazorserverside -o WebApplication1 for .NET Core CLI; however, the short name in this preview version is blazorserver.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version Independent ID: 8226ed72-69b2-3c93-a931-218bd11cf9c8
*

[2019-08-01 22:11] guardrex commented on #13610
Hello @Just2Sour ... That will be for Pre8. We have it on https://github.com/aspnet/AspNetCore.Docs/pull/13536.

[2019-08-01 22:11] #13610 closed

[2019-08-02 02:52] hishamco commented on #12492
@Rick-Anderson can we closed this while the issues has been answered and there's no respond from the author

[2019-08-02 02:52] hishamco commented on #8585
@eriawan Any updates?

[2019-08-02 02:54] hishamco commented on #13162
@voroninp hope that answered your question

[2019-08-02 05:26] WinterDragon76 opened #13611 "You also need to update the /Views/Movies/Edit.cshtml"
In the step where you update "Create", you also need to update the "Edit" file the same way so that you can modify existing entries.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca95f5e-0fe4-bbd2-fd23-13562e02f888
* Version Independent ID: c3fb9673-4da6-5eeb-08bb-6f8e7bc8e0c6
* Content: [Add a new field to an ASP.NE

[2019-08-02 06:07] WinterDragon76 opened #13612 "Error if using the "copy" function for the code under heading "Add validation rules to the movie model""
public int ID { get; set; }

should be

public int Id { get; set; }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443a7c53-cc16-7ed5-5950-46a6f195f19c
* Version Independent ID: 12fe9329-2cef-4056-4986-18ed7ae5c397
* Content: [Add validation to an ASP.NET Core MVC app](https://docs.microsoft.com/en-us/aspnet/core/tutor

[2019-08-02 09:14] Lurs opened #13613 "Links to UIEventArgs are broken"
On https://docs.microsoft.com/de-de/aspnet/core/blazor/components?view=aspnetcore-3.0 both links to [UIEventArgs](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/UIEventArgs.cs) are broken. Maybe the file was moved?

---
#### Dokumentdetails

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent ID: 9d945996-ad02-bd4b-58ea-c465cc5cc74c
* Content: [Create a

[2019-08-02 10:30] Manikandarajan-Jegadeshwaran commented on #13531
First time I cant able to see any client side template while creating new project from IDE. I tried from console, by using
'dotnet new'  and 'dotnet new blazor' .

Its worked.

[2019-08-02 10:48] MV10 opened #13614 "Indicate minimum versions"
It would be much more useful to document the _minimum_ required versions. In locked-down corporate environments, it's pretty common to be stranded on older versions until gatekeepers decide to push an upgrade. I've seen some places running versions that are as much as full a year behind. "Current" doesn't tell us anything more than a list of checkmarks would.

---
#### Document Details

⚠ *Do not

[2019-08-02 12:06] guardrex commented on #13613
Thanks for the heads-up @Lurs ... *Yes!* ... there have been updates just within the last few days ...

https://github.com/aspnet/AspNetCore/pull/12660

I'll get this sorted out today. Thanks again.

[2019-08-02 12:07] guardrex commented on #13613
@scottaddie Note that the `Blazor` label seems to have had a regression. This is I think the 2nd or 3rd issue that I've seen without any labels added.

[2019-08-02 12:09] guardrex commented on #13613
Nevermind @scottaddie ... I think this happened merely because the issues in question were opened from the non en-US docs pages.

[2019-08-02 12:12] guardrex commented on #13614
Hello @MV10 ... AFAIK, this is only because Blazor is in preview. I'll tag this for RTM, and we'll get firm versions there for 3.0 RTM.

[2019-08-02 12:29] guardrex opened #13618 "[Preview 9] Update EventArgs"
React to https://github.com/aspnet/AspNetCore/pull/12660.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent ID: 9d945996-ad02-bd4b-58ea-c465cc5cc74c
* Content: [Create and use ASP.NET Core Razor components](https://docs.microsoft.com/en-us/aspnet/core/blazor/compo

[2019-08-02 12:31] #13613 closed

[2019-08-02 12:53] guardrex opened #13619 "Add DOM events to Event Arg Types table"
From https://github.com/aspnet/AspNetCore/issues/5521#issuecomment-486321803 ...

Cross-ref to the original work that was done by engineering to address that issue: https://github.com/aspnet/AspNetCore.Docs/pull/11152

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independ

[2019-08-02 12:54] guardrex commented on #12143
Moved to https://github.com/aspnet/AspNetCore.Docs/issues/13619.

[2019-08-02 12:54] #12143 closed

[2019-08-02 13:57] phoenyx2k opened #13620 "Missing Code from Add and configure Swagger middleware section"
Add and configure Swagger middleware code blocks have the yellow highlighted section, but no actual code showing how to add it to the application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2483813a-3c16-7ddd-3160-43e6843b55d4
* Version Independent ID: 25f7fb5b-92b0-a45b-57ab-fdceab571884
* Content: [Get started wit

[2019-08-02 13:58] #13620 closed

[2019-08-02 13:58] phoenyx2k commented on #13620
Microsoft Edge display issue

[2019-08-02 14:17] ps-tb commented on #13608
@guardrex Ah yes, the dark days of 2017. Glad to help.

[2019-08-02 15:30] #12574 closed

[2019-08-02 15:31] #13611 closed

[2019-08-02 15:32] Rick-Anderson commented on #13612
We consistently use upper case `ID`

[2019-08-02 16:09] jetedrow opened #13623 "CheckChanged event example"
The example provided is syntactically incorrect:
&lt;input type="checkbox" class="form-check-input" @onchange="CheckboxChanged" /&gt;
@code {
    private void CheckChanged()
 ...
The method CheckboxChanged is being called, however the @code section calls this CheckChanged.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-08-02 16:11] #13612 closed

[2019-08-02 16:15] Dave-Lowndes commented on #13552
I've set up a clean Windows 10 1903 July VM, and have repeated this example on that and have finally got it to work.
Observations:
1. Until I've run the server component up in VS via F5, and have got the prompt to "Trust ASP.NET Core SSL Certificate", pressed Yes, and then installed the certificate, it doesn't work. Aspects around getting the certificate installed should probably be documented in

[2019-08-02 16:17] alexsaalberg049 opened #13624 "'ID/Id' identifier name inconsistent in tutorial."
The rest of this tutorial (starting [here](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-2.2&tabs=visual-studio)) uses `Id` for the 'Id' of `Movie.cs`

This page of the tutorial uses `ID` instead.

I copy-pasted the new `Movie` class in order to add the validation rules and it resulted in build errors due to the `Id` being referenced in other parts

[2019-08-02 16:25] Rick-Anderson opened #13625 "No selection code is incorrect"
[No selection](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms?view=aspnetcore-2.2&branch=pr-en-us-13615#no-selection)
Complete with sample

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a96bbb2e-2611-525f-129d-b86a491e423c
* Version Independent ID: 4e39097d-b058-d4e2-8780-31b0067b6717
* Conte

[2019-08-02 17:14] Rick-Anderson commented on #13624
Fixed in #13612

[2019-08-02 17:14] #13624 closed

[2019-08-02 18:15] guardrex commented on #13623
Thanks @jetedrow ... we missed a spot on the Pre7 update. I'll take care of that right now.

[2019-08-02 18:21] #13623 closed

[2019-08-02 18:23] guardrex commented on #13539
I'll attempt to react on this issue by surfacing the guidance from engineering at https://github.com/aspnet/AspNetCore/issues/12695#issuecomment-516587177.

[2019-08-02 18:43] psychoaco opened #13628 "Formatting in "Test the completed app" section"
Starting at "Restart the app to seed the database.", the formatting looks like it has been captured by a code block

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b66f8ffa-699c-8b11-0cab-805f5953805f
* Version Independent ID: 7c151ed5-fd78-84fd-a08a-88912990c4ca
* Content: [Create an ASP.NET Core app with user data pro

[2019-08-02 19:18] #13628 closed

[2019-08-02 19:19] Rick-Anderson commented on #13628
@psychoaco thanks for notifying us.  Fix will be deployed in a few days.

[2019-08-02 19:32] Rick-Anderson commented on #13162
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-08-02 19:32] #13162 closed

[2019-08-02 19:34] Rick-Anderson commented on #8585
@eriawan  Just update or 3.0

[2019-08-02 19:35] #12492 closed

[2019-08-02 21:32] kirill-chilingarashvili opened #13630 "There is no way of detaching a callback from HubConnection.onclose"
# Issue description

There is no way of detaching a callback from connection.onclose(callback)
I believe there should be a method connection.offclose(callback) allowing to detach a callback from this event, otherwise there is no way of disposing a connection (it will hold a reference to a callback)

[2019-08-02 21:36] ryanmajidi opened #13631 "Razor Page Test Sample Missing"
**Submitted to [site feedback](https://github.com/MicrosoftDocs/feedback/issues/1788) by @kylejrp**

Hey there,

The samples announcement article mentioned to create an issue for any missing samples. It looks like the Razor Pages samples are missing, or at least I can't search for them.

Link to article:
Here's an example article that references the samples src/RazorPagesTestSample and tests/Razor

[2019-08-02 21:59] danroth27 commented on #13539
I believe the main issue we wanted to capture here is that you can't cascade the data binding. When implementing data binding for a component you have to render the bindable value where you want it and explicitly call the EventCallback when the value changes.

[2019-08-02 22:19] JamesNK commented on #13552
1. Sure. We can improve docs in this area.
2. HTTP2 requires Win8.1+ for ALPN, and Win10 in most scenarios for ciphers. Win2008 R2 is missing required crypto support for HTTPS with HTTP2.

[2019-08-02 22:55] guardrex commented on #13630
Hello @kirill-chilingarashvili ... Would you mind re-opening this issue from the **This Page** feedback button at the bottom of the topic where it applies. Several authors are involved in that area of the docs, and the system will ping the correct author if you open the issue that way.

[2019-08-02 22:55] #13630 closed

[2019-08-02 22:59] Parrawk commented on #8440
@dmarlow I fixed that by setting a _ViewStart inside Identity/Pages/Account to Layout = "~/Views/Shared/_Layout.cshtml";

I also had the issue with the _Layout file inside the Manage folder of Identity not working, adding .AddDefaultUI() brought the ManageNav back.

[2019-08-02 23:01] kirill-chilingarashvili opened #13632 "There is no way of detaching a callback from HubConnection.onclose"
There is no way of detaching a callback from connection.onclose(callback)
I believe there should be a method connection.offclose(callback) allowing to detach a callback from this event, otherwise there is no way of disposing a connection (it will hold a reference to a callback)

Looking at source code - there is an array - "closedCallbacks", there is a way to push a callback function to that array

[2019-08-02 23:27] Dave-Lowndes commented on #13552
@JamesNK
1. Great.
2. So, presumably Windows 7 won't work either? I've not tried it.

[2019-08-02 23:40] JamesNK commented on #13552
Win 7 won't work.

[2019-08-03 11:51] guardrex commented on #13014
@danroth27

I think that there's enough info here for me to work this. Would you like me to take a 🔪 at it?

[2019-08-03 12:07] #13608 closed

[2019-08-03 12:15] guardrex commented on #12349
@shirhatti Shall we add a section on Kubernetes near the Nginx and Apache sections? I'm still not aware of exactly what the problem was here ... exactly what we need to cover. If you think that there aren't any special configurations here, then we can close this.

[2019-08-03 13:39] PerseusTheGreat opened #13633 "What about Singleton per client/session"
How can devs implement Singleton object per client or session.
Is there any registration method or technic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d78f540-81fd-1ba9-cb90-591e4ec27d9b
* Version Independent ID: 2251f557-dd3a-ec35-2558-6243337db009
* Content: [Dependency injection in ASP.NET Core](https://docs.mi

[2019-08-03 14:12] guardrex commented on #13633
Hello @PerseusTheGreat ... For the default container, you only get the lifetime options that you see in the topic: transient, scoped, and singleton (whole app instance). You might be able to get per-client/per-session using a 3rd party container. You can discuss this further with the engineers on the engineering repo ... for example if you would like to make a feature request.

https://github.com/

[2019-08-03 14:12] #13633 closed

[2019-08-03 14:30] chrdlx commented on #13539
@guardrex I think I've come with a more jurassic hax than yours! 👇

[code]

This is what I was looking for, so I can use this component inside a parent and it provides:

1) The out of the box features of @bind like culture / custom formatting.
2) Notification to the parent when the value changes.

I don't know why I didn't come up with this solution earlier,  maybe I was trying to make the framewo

[2019-08-03 14:35] guardrex commented on #13539
Great scenario. I'm not exactly sure when I'll get this, but it should be fairly soon. I have a few more Pre8 issues (globalization and localization) that I need to get through first. This should come up for coverage fairly soon tho.

[2019-08-03 14:45] VR-Architect commented on #12963
I found this part very confusing for non JS coder. What do I care what the equivalent is? Put that in a side box with note saying "For JS developers this is like doing this ...."

[2019-08-03 14:47] VR-Architect opened #13634 "Binding with Parent-Child not working per this doc"
Getting an error on this code above. Did something change in the last preview release?:

The attribute names could not be inferred from bind attribute 'bind-Year'. Bind attributes should be of the form 'bind' or 'bind-value' along with their corresponding optional parameters like 'bind-value:event', 'bind:format' etc.

[Parameter]
    private int ParentYear { get; set; } = 1978;

    private void

[2019-08-03 14:53] VR-Architect commented on #13572
Not sure this is a custom event or not but I can't figure how to refresh the parent state from a complex child. For example, the child is a collection html controls with local onchange events in the child. But once the child event has fired, it needs to invoke the child component's onchange to send a notification to the parent so it can refresh state.

Parent
    <MyChild onchange="callMeBack">

M

[2019-08-03 15:19] tehstun commented on #13552
Just to add to the discussion about the docs being updated, there does not seem to be anything related to properly disposing of a client connection that uses the new methods of the light client base.

[code]

Its not clear if we just dispose of the httpclient or there are more steps to stop the server throwing a "System.Net.Sockets.SocketException (10054): An existing connection was forcibly close

[2019-08-03 15:25] guardrex commented on #13634
It should work. Check your component naming (casing in particular) :point_right: https://github.com/aspnet/AspNetCore/issues/9786

[2019-08-03 15:27] guardrex commented on #13634
Wait ... hold on a sec. I was reminded of that error when the naming is wrong.

[2019-08-03 15:27] JeroMiya commented on #13539
@chrdlx I see how your `InnerValue` changes propagate to the parent component, but not how the parent `Value` changes propagate to the child component's `InnerValue`. You could write a letter that sets the `InnerValue` property but that would result in an infinite loop unless you separated `InnerValue` into a property and backing store, right?

[2019-08-03 15:33] guardrex commented on #13634
Yeah ... so what's often happening when the name of the child component **_is correct_**, is that the child component (as that issue calls out) **_just isn't found_**. Place your child component in the *Pages* folder to have it discovered .... or put non-page components in one of the *Shared* folders. If you need to make a component available in the app from someplace else, then you must add an ex

[2019-08-03 15:33] #13634 closed

[2019-08-03 15:42] chrdlx commented on #13539
@JeroMiya You're right,  I updated the code to provide the parent's ability to update the input..   Check it out,  luckily didn't dead lock 😄 But I sweated a bit when I read your post.

[2019-08-03 15:46] guardrex commented on #13539
This seems like a lot of work. I thought I read a remark from engineering that the `InputNumber` component could resolve this ... or were they just saying 'look at how we set that component up for an example of how we do this'?

[2019-08-03 15:49] guardrex commented on #13572
@VR-Architect We've been discussing that a bit on https://github.com/aspnet/AspNetCore.Docs/issues/13539. Follow along and chat with the devs on that issue for now. I'm still groking the cross-component event binding myself, but I'm hampered a bit by 🏃 *lots of unrelated work* 🏃 at the moment. I hope to be able to spend some time with those concepts within a week and see what can be done on that i

[2019-08-03 16:16] #8870 closed

[2019-08-03 16:32] Rick-Anderson opened #13636 "Update README.MD"
To reflect repo change

[2019-08-03 19:24] #13636 closed

[2019-08-03 19:45] Rick-Anderson opened #13637 "Provide complete Startup filter sample"
ASP.NET Core 3.0 only.
Provide the complete project for [Extend Startup with startup filters](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup?view=aspnetcore-2.2#extend-startup-with-startup-filters)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a70a955f-dd5a-c46b-dfe8-21521e619320
* Version Independe

[2019-08-03 19:47] Rick-Anderson commented on #13637
@serpent5 can you provide this sample? You can use MVC or RP.

[2019-08-03 21:31] Rick-Anderson commented on #13637
[code]

[2019-08-03 21:45] Rick-Anderson commented on #13637
@serpent5 I got it working. I'll have you review the code.

[2019-08-03 21:54] serpent5 commented on #13637
The referenced section is in a different topic to the one this was opened against. Is that intentional? A startup filter is a different concept to an MVC filter, even though "filter" is used in both cases. You could use a startup filter without using MVC, for example.

[2019-08-03 21:56] serpent5 commented on #13637
Hmm, your latest comment popped up after I just posted mine. I’ll be glad to help with reviewing.

[2019-08-03 23:47] #13637 closed

[2019-08-04 02:30] guardrex opened #13639 "UE Localization Extensibility doc + fix links"

[2019-08-04 06:45] edikaufmann opened #13641 "add new fields to 'Student/Person'"
thanks for your time; I understand that this is not the correct place for my issue but ...

.. BUT perhaps you can give me a quick hint on what I'm missing here, thanks again.

After I built, successfully, this tutorial I want to add some fields for the 'Student'.

I.e. I added my fields to:
dbo.person   (all went ok updating the db in VS2019)
models.student.cs (added)
//  new
        public strin

[2019-08-04 11:02] kirill-chilingarashvili commented on #12340
Am I the only one who is concerned with sending a token in a query string?
This is huge security issue, unless I am missing something?

[2019-08-04 11:25] kirill-chilingarashvili opened #13642 "Dangerous security issue"
The documentation on this page states the following:
`In standard web APIs, bearer tokens are sent in an HTTP header. However, SignalR is unable to set these headers in browsers when using some transports. **When using WebSockets and Server-Sent Events, the token is transmitted as a query string parameter.**`

As I understand developer does not have control over the code, to disable this dangerous

[2019-08-04 12:01] #13639 closed

[2019-08-04 12:01] Rick-Anderson commented on #13641
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-08-04 12:01] #13641 closed

[2019-08-04 12:41] Rick-Anderson commented on #13631
We don't have ASP.NET Core samples in the new samples repo.

cc @tdykstra @scottaddie

[2019-08-04 12:41] #13631 closed

[2019-08-04 12:44] Rick-Anderson commented on #13631
Use the following query for ASP.NET Core samples
https://docs.microsoft.com/en-us/samples/browse/?products=aspnet-core

[2019-08-04 12:44] Enver-Yilmaz opened #13646 "dotnet-aspnet-codegenerator version issue"
"Scaffold the movie model" section mention to install dotnet-aspnet-codegenerator but with current instructions, you'll get the current stable version which is 2.x.x series. Instructions should be updated as;

dotnet tool install --global dotnet-aspnet-codegenerator --version 3.0.0-*

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-08-04 12:54] Rick-Anderson opened #13648 "3.0 GA - remove --version 3.0.0-*"
From `dotnet tool install --global dotnet-aspnet-codegenerator 3.0.0-*`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add a model to a Razor Pages app in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet

[2019-08-04 12:55] #13646 closed

[2019-08-04 12:55] Rick-Anderson commented on #13646
@Enver-Yilmaz  Thanks for pointing this out.

[2019-08-04 13:31] VR-Architect commented on #13634
The issue was my file name was Test1 and I forgot to change the component name on the parent; however, I would have expected VS to catch this as an error during build. Code in document works fine. My bad.

[2019-08-04 13:32] VR-Architect commented on #13634
^ my "child" file name was Test1

[2019-08-04 13:45] guardrex commented on #13634
No worries. Yes, indeed ... engineering has already made some improvements that will help: Coming up for Pre8, a warning is generated if an element in the markup starts with an uppercase letter but the name doesn't match the name of a component in the app. We have that doc update on the staging branch, so the text will go live when Pre8 releases.

[2019-08-04 14:03] Enver-Yilmaz opened #13649 "Entity Framework Core Tools for the .NET CLI installation"
The tutorial assumes Entity Framework Core Tools for the .NET CLI is already installed. If it is not then installation command is;
 dotnet tool install --global dotnet-ef --version 3.0.0-*

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd

[2019-08-04 14:20] #13649 closed

[2019-08-04 14:20] Rick-Anderson commented on #13649
@Enver-Yilmaz  thanks again!

[2019-08-04 17:11] VR-Architect opened #13651 "Please add this example for parent-child with complex object two-way binding"
Here is some sample code I wrote to use a complex object with two-way binding from parent-child. It also shows TypeConverting for the custom class for passing in the bind.

[code]

[code]

[code]

[code]

[2019-08-04 17:14] VR-Architect commented on #13651
Note the above example is missing one concept. If the value entered by the user is invalid, how to reset the child input to the value in the class. I was able to figure that out. To try that, just change Property2 to a input type text then enter a non-integer value.

[2019-08-04 17:18] guardrex commented on #13651
Thanks @VR-Architect ... This seems like a duplicate of https://github.com/aspnet/AspNetCore.Docs/issues/13539. Why didn't you add this to that issue?

[2019-08-04 17:19] VR-Architect commented on #13572
Thanks @guardex I think I solved my issue with this request to add an example to this doc to you. I provided an example. Please feel free to use and enhance :)

https://github.com/aspnet/AspNetCore.Docs/issues/13651

[2019-08-04 17:21] VR-Architect commented on #13651
@guardrex Sorry, I didn't know about that one. Please feel free to close this if needed.

[2019-08-04 17:21] guardrex commented on #13651
Do you plan to move this to a comment over there, or would you like me to move it?

[2019-08-04 17:21] VR-Architect commented on #13539
Here was my solution to pass complex object in two-way bind. https://github.com/aspnet/AspNetCore.Docs/issues/13651

[2019-08-04 17:23] guardrex commented on #13651
I suppose a cross-link to this is ok. It would have been a bit more visible to just paste it all into a new comment over there.

[2019-08-04 17:23] #13651 closed

[2019-08-04 17:23] VR-Architect commented on #13651
I moved it. thanks again

[2019-08-04 17:25] VR-Architect commented on #13539
BTW, if anyone has any influence over the devs. Having to do the type conversion seems like it should be out-of-box for us. I got stuck there for a while.

[2019-08-04 17:28] guardrex commented on #13539
The :pray: *server gods* :pray: are listening! :ear:

Dan monitors Blazor feedback on both doc issues and engineering issues.

[2019-08-04 17:31] guardrex commented on #13539
That's why I asked about the `InputNumber` component approach. It was mentioned along the way in convos. I couldn't tell (and haven't had time to look yet) to determine if the remark was 'just use it' or 'this is how we do it ... you should do something similar.'

[2019-08-04 17:46] dougbu commented on #13409
@Rick-Anderson what is the status of this issue?

[2019-08-04 18:03] Rick-Anderson commented on #13409
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-08-04 18:03] #13409 closed

[2019-08-04 19:19] ivarne opened #13653 "Static files outside wwwroot"
When I tried to store my javascript and css specific for areas in `Areas\*\wwwarearoot\**`, following the examples in this chapter I was surprised to see that they were not copied as part of a publish.

It seems like I needed the following in my `*.csproj` file:

[code]
Would you approve of me adding the following example with som explanation at the end of
[this section](https://docs.microsoft.com

[2019-08-04 20:17] guardrex commented on #13653
Note for your discussion with Rick on this: The only spot we currently mention it is in the Generic Host topic at the bottom of the `ConfigureAppConiguration` section for <3.0 ...

* For <3.0 (current): https://docs.microsoft.com/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-2.2#configureappconfiguration
* IIRC, it's removed for the upcoming 3.0+ release because for the default experi

[2019-08-04 20:40] guardrex commented on #13653
I was hoping common targets and props would land in their own topic: I opened an issue in the 👴 *ancient days* 👴 of .NET Core. It's encouraging to see the interest in it; but alas, it's still backlogged ...

https://github.com/dotnet/docs/issues/2642

[2019-08-05 01:33] MarkMurphy37 opened #13655 "Cannot Modify Styling of Account Pages"
Given the following boilerplate: dotnet new react -o &lt;output_directory_name&gt; -au Individual

Is there a way to modify the styling of the account pages? (such as login or register)
For example: https://localhost:5001/Identity/Account/Register?returnUrl=/authentication/login

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-08-05 03:50] ChainReactive commented on #12340
@kirill-chilingarashvili You're not the only one. I saw related discussion on SignalR Core's dev repo. Look over there. While not ideal, remember that at least it's encrypted by TLS.

[2019-08-05 06:04] harleydk opened #13656 "Capture references to multiple similar child-components"
I was searching for documentation on how to capture references to child-components based on for-each creation.
Let's say I have a parent-component which itereates a collection to create multiple child-components:

@foreach (var singleDataPiece in aCollectionOfData)
{
    &lt;SubComponent Id="@singleDataPiece.Id" SingleDataPiece="@singleDataPiece"&gt;&lt;/SubComponent&gt;
}

I would like to call a

[2019-08-05 06:57] tdehaes opened #13657 "Typo"
Typo in 'Create a web app' - Visual Studio tab:
Selecct ASP.NET Core Web Application and then select Next.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: faf18d20-d28f-1efa-d329-181fff3630fa
* Version Independent ID: 46a7c2e0-4871-491f-02c2-54f7df2237b1
* Content: [Get started with ASP.NET Core MVC](htt

[2019-08-05 07:04] nikhiljainTais opened #13658 "Not getting request body data from postman"
Not getting request body data from postman its comming null in name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tu

[2019-08-05 07:34] JimbobTheSailor opened #13659 "Identity vs IdentityServer"
What makes the page, and many pages on this Authentication subject really difficult to understand (for a newcomer) is the terms 'Identity' ' Microsoft Identity' and 'IdentityServer'.  These three seemingly similar terms refer to three profoundly different things. It is taken me a week of heavy reading to grasp all this for the first time. A new paged just describing these terms, what they are, the

[2019-08-05 08:57] javiercn commented on #13655
You can follow the steps in https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.2&tabs=visual-studio to modify the look and feel of the included Identity UI

[2019-08-05 09:42] filipbekic01 opened #13660 "Method UseCors() has invalid position"
If you put UseCors() method after UseAuthentication() and UseAuthorization(), everytime auth fails, CORS error will appear in browser too because web app never when through UseCors() method. I think UseCors() method should be called first. Correct me if i'm wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76f39eec

[2019-08-05 12:14] #13657 closed

[2019-08-05 12:22] guardrex commented on #13660
Hello @filipbekic01 .... *Yes* ... you are correct. CORS Middleware must be placed before any middleware that uses CORS. I'll move it up a line. Thanks for pinging us on it.

[2019-08-05 12:45] guardrex commented on #13655
Hi @MarkMurphy37 ... Looks like your question has been answered. I'll close now.

[2019-08-05 12:46] mmurphyalo commented on #13655
Thanks! I'll give this a shot. For reference, I'm running .net core 3.0 preview with React SPA auth. May be worth including a link on this page: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.0 because it's not apparent after spinning up the project that you can alter those pages.

[2019-08-05 12:48] MarkMurphy37 commented on #13655
Thanks! I'll give this a shot. For reference, I'm running .net core 3.0 preview with React SPA auth.

It may be worth including a link on this page: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.0 because it's not apparent after spinning up the project that you can alter those pages.

[2019-08-05 12:53] guardrex commented on #13655
Yes, great idea. I'll do that right now.

[2019-08-05 13:05] #13655 closed

[2019-08-05 13:12] Rick-Anderson commented on #13658
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-08-05 13:12] #13658 closed

[2019-08-05 14:57] guardrex commented on #13423
Recommend enhancing language that pertains to order. See :point_right: https://github.com/aspnet/AspNetCore.Docs/pull/13662#issuecomment-518267111

[2019-08-05 14:59] VR-Architect commented on #13539
Humm, I tried the form validation but they don't seem to be calling the onchange event.  I need the onchange to work so the child can notify the parent to refresh state.

What would be awesome for the devs to do is auto-refresh a parent whenever a child changes a bound object's value.

Note, I don't want a submit button as I need the values to change when the user changes a field. I am making a pr

[2019-08-05 15:04] guardrex commented on #13539
Using my [*cascading param* approach](https://github.com/aspnet/AspNetCore.Docs/issues/13539#issuecomment-516202149) does that. When I get some time, I'll take a closer look at these approaches, and I want to try out the @chrdlx approach, too. I'll look at the reference that was made to `InputNumber` ... they may have meant to say 'this is how we do it', not 'use it directly.'

[2019-08-05 15:07] VR-Architect commented on #13539
Thanks.. Note, I see there is a ValueChanged attribute, but not sure how to use it.

[code]
Error
The component parameter 'ValueChanged' is used two or more times for this component. Parameters must be unique (case-insensitive). The component parameter 'ValueChanged' is generated by the '@bind-Value' directive attribute.

[2019-08-05 15:31] LouisT123 opened #13666 "Disabling SSL verification in Postman application for Mac"
Instructions at [Test the GetTodoItems Method](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-2.2&tabs=visual-studio-mac#test-the-gettodoitems-method) instruct to disable SSL "From File &gt; Settings (*General tab), disable SSL certificate verification." There are 2 ways to do it for Mac.
First is to go to Postman&gt;Preferences&gt;General toggle SSL certifica

[2019-08-05 16:22] #13426 closed

[2019-08-05 19:10] #13666 closed

[2019-08-05 19:14] #13057 closed

[2019-08-05 19:41] BrennanConroy commented on #13642
Hello @kirill-chilingarashvili thanks for your interest in SignalR.

Query strings and headers are both plain text when using HTTP. However, you should be using HTTPS when auth is involved, and both query strings and headers are encrypted over HTTPS.

Are you seeing the query string as "clear text" somewhere that it shouldn't be?

We do document that the query string may be logged on the server an

[2019-08-05 19:42] #13465 closed

[2019-08-05 20:01] kirill-chilingarashvili commented on #13642
I was referring to fact that having sensitive data in query string in general is less safe than having it in headers (considering we use HTTPS in both cases), again due to possible logging issues

I was looking for and did not find a way of switching off falling back to query string.

Also it is not obvious for non HTTPS protocol - it should be disabled for this mode IMHO

[2019-08-05 20:20] #13660 closed

[2019-08-05 20:46] LouisT123 opened #13673 "Specify where to add PostTodoItem method"
In the section [Add a Create method] (https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-2.2&tabs=visual-studio-mac#add-a-create-method), when the instructions say to "Add the following PostTodoItem method:" it is not specified that it should be in the TodoController.cs file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-08-05 20:52] #10783 closed

[2019-08-05 20:58] #13673 closed

[2019-08-05 21:03] danroth27 commented on #13675
@Rick-Anderson @mairaw

[2019-08-05 21:09] mairaw commented on #13675
It seems like it's about the feedback mechanism indeed. But folks don't need to come to GitHub to see the thread. They can just expand the comments right on the page.
For example:
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script#feedback

![image](https://user-images.githubusercontent.com/12971179/62495333-6c308600-b78a-11e9-8601-77968e152ed6.png)

And you can also enter th

[2019-08-05 21:37] Rick-Anderson commented on #13675
Issues are not designed to solicit community help. When the issue is resolved and has helpful information that doesn't meet the bar of adding it to the article, it's still discoverable in the closed issues.

Note the preceding assume we are locking closed issues that are not helpful. We do that in the ASP.NET.docs repo. Only the 10 most current issues are displayed.

We're closing this by design.

[2019-08-05 21:37] #13675 closed

[2019-08-05 21:51] zivraf opened #13678 "HttpRepl against Azure"
It would be great if you could add a section for using HttpRepl with Azure management endpoint (covering authN)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16842b60-b268-a322-8078-c0b27c57fa7d
* Version Independent ID: d63c12f3-220e-9067-ead5-90e644c06591
* Content: [Test web APIs with the HTTP REPL](https://docs.mi

[2019-08-05 22:12] anurse commented on #13642
The problem here is that SignalR is limited by browser API support. It is **not possible** to set **any** headers from the JavaScript WebSocket or Server-Sent Events client APIs. We have some thoughts on how to improve this in future versions, but for now this is the limitation we have. If you disable the WebSockets and Server-Sent Events transports (and use only Long Polling) then we use the `Aut

[2019-08-06 01:58] dkmiller commented on #13678
Seconding this! Not just Azure management, but any endpoint requiring authentication via bearer token.

[2019-08-06 06:15] Kryptos-FR opened #13680 "Clarify async use in gRPC services with C# page"
I believe the description and the code samples are confusing. In the text, the remote method is referred as `SayHello` but the code sample uses `SayHelloAsync`.

According to https://grpc.io/docs/tutorials/basic/csharp/#calling-service-methods, the generator is smart and does generate both a sync `SayHello` and an async `SayHelloAsync` versions.

That said, for a first reader (like myself) that ha

[2019-08-06 06:26] cristicatalan opened #13681 "No mention of GrpcClient class"
The code snippet for the client uses the GrpcClient type:
`var client = GrpcClient.Create<Greeter.GreeterClient>(httpClient);`<br/>
`GrpcClient` is not available by referencing the package in the client project via `<PackageReference Include="Grpc.Tools" Version="1.22.0-pre1" PrivateAssets="All" />`.<br/>
This page makes no reference to it, and there is no link to a sample application, so can't cr

[2019-08-06 07:28] wrkettlitz opened #13682 "JWTbearer?"
Is there any documentation about JWTbearer authentication?

Or am i blind?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94bfd895-d2af-390b-0801-428b36a27ff4
* Version Independent ID: 0e0d870e-e49a-e16c-c259-68d58e701b8f
* Content: [Introduction to Identity on ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core

[2019-08-06 07:53] ivarne commented on #13653
I don't understand the responses here.

This is a simple issue asking if the docs for `StaticFiles` should suggest you can host `MyStaticFiles/images/banner1.svg` without mentioning that it probably should be included in a `<CopyToOutputDirectory>` directive in a `*.csproj` file.

[2019-08-06 09:16] MarkSFrancis opened #13683 "AddSingleton link points to incorrect article"
The article's `AddSingleton` link (within https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection#service-lifetimes) points to:
https://docs.microsoft.com/dotnet/api/microsoft.aspnet.odata.builder.odatamodelbuilder.addsingleton
But it should point to:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.servicecollectionserviceextensions.addsi

[2019-08-06 12:27] guardrex commented on #13683
Thanks ... it looks like a cut-'n-paste error from a tool that we use to get the API links. I'll fix that right now.

[2019-08-06 12:31] #13683 closed

[2019-08-06 12:34] Rick-Anderson commented on #13682
No

[2019-08-06 12:34] #13682 closed

[2019-08-06 12:48] guardrex commented on #13653
WRT my remarks: I was just providing some background info.

WRT your issue: *Yes* ... it has been labeled for work.

[2019-08-06 13:24] arseyam opened #13686 "Up method in the Migrations/<time-stamp>_InitialCreate.cs"
Maybe it's not an issue or it's least priority but when I came to the section where it says there's an Up method in the Migrations/<time-stamp>_InitialCreate.cs I found that the file created in my project Migrations folder has the suffix name **_Initial.cs** not **_InitialCreate.cs** so I thought of reporting it for consistency although maybe I'm having an issue.

---
#### Document Details

⚠ *Do

[2019-08-06 13:28] wrkettlitz commented on #13682
Ok then.

[2019-08-06 13:52] #13288 closed

[2019-08-06 14:09] Rick-Anderson commented on #13686
@arseyam  it's worth reporting. See my PR changes https://github.com/aspnet/AspNetCore.Docs/pull/13687/files

[2019-08-06 14:21] Rick-Anderson opened #13689 "Combine VSC and mac tabs in Initial migration"
`## Initial migration`
https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-2.2&tabs=visual-studio-code#initial-migration-1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [A

[2019-08-06 14:22] #13686 closed

[2019-08-06 14:23] Rick-Anderson commented on #13686
@arseyam thanks for bringing this to our attention.

[2019-08-06 15:34] Tratcher commented on #12349
@shirhatti @glennc if we think we have meaningful guidance specific to Kbernetes?

[2019-08-06 16:05] Johnillo2411 commented on #12582
I have the same situation, you can explainme exactly the solution you found.

[2019-08-06 17:13] guardrex commented on #13436
Note to self: Cross-link 'how to set culture' in globalization remarks when this is worked.

https://github.com/aspnet/AspNetCore.Docs/issues/13435#issue-471467030

[2019-08-06 17:23] guardrex opened #13694 "Clarify component instantiation remark"
### Update

... to ...

### Fix

Revert 'can be' back to 'isn't' for `person`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce1440e7-febc-3fbc-09d7-7f47b740fd3b
* Version Independent ID: 31071595-7c71-b6f7-3856-74f78c5c7cdf
* Content: [Handle errors in ASP.NET Core Blazor apps](https://docs.microsoft.com/en-us/aspnet

[2019-08-06 18:44] Rick-Anderson commented on #13659
See [this SO answer](https://stackoverflow.com/a/48367152/502537) to your question. That info should probably be in https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity

[2019-08-06 18:47] Rick-Anderson opened #13697 "Define Identity and Identity server"
See #13659   72K PV CSAT 65%

What makes the page, and many pages on this Authentication subject really difficult to understand (for a newcomer) is the terms 'Identity' ' Microsoft Identity' and 'IdentityServer'. These three seemingly similar terms refer to three profoundly different things. It is taken me a week of heavy reading to grasp all this for the first time. A new paged just describing th

[2019-08-06 18:48] Rick-Anderson commented on #13659
MOVED to #13697

[2019-08-06 18:48] #13659 closed

[2019-08-06 18:56] Rick-Anderson commented on #13681
Into states
This document outlines the concepts needed to write gRPC apps in C#.
This is not meant to be a code tutorial. See the **Additional resources** at the end, which point to the tutorial this references.

Create a .NET Core gRPC client and server in ASP.NET Core

[2019-08-06 19:10] Rick-Anderson opened #13698 "Close pr's https://github.com/aspnet/ApiDocs"
in https://github.com/aspnet/ApiDocs

[2019-08-06 21:23] CeciAc opened #13700 "Incorporation of CREATE and PUT methods"
Hi team,
I'm moving this from here: https://github.com/aspnet/AspNetCore.Docs.es-es/issues/36
the contributor is making a suggestion on the original documentation

@vpj-mati commented 3 hours ago

In the example on the page it shows that to create a CREATE method we need the following method
[HttpPost]
public async Task &lt;ActionResult &lt;TodoItem&gt;&gt; PostTodoItem (TodoItem item)

But in my

[2019-08-06 22:40] Rick-Anderson commented on #13700
@vpj-mati  ` [FromBody]` is not required in ASP.NET Core 2.1 and later. This tutorial assumes 2.2 or later.

[2019-08-06 22:40] #13700 closed

[2019-08-07 00:16] mattielee opened #13701 "Missing "using" statements"
There are several missing "using" statements (System, System.Reflection, System.IO) throughout the documentation beginning at [API info and description](https://docs.microsoft.com/en-us/aspnet/core/tutorials/getting-started-with-swashbuckle?view=aspnetcore-2.2&tabs=visual-studio-mac#api-info-and-description).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-08-07 00:26] #13680 closed

[2019-08-07 00:27] JamesNK commented on #13680
Fixed here - https://github.com/aspnet/AspNetCore.Docs/pull/13699

Expanded docs on using the gRPC client is coming soon that discusses the difference between the async and block methods. In-progress PR here https://github.com/aspnet/AspNetCore.Docs/pull/13684

[2019-08-07 03:21] Kryptos-FR commented on #13680
Thanks for the quick and for the update. I'll follow the progress of that PR.

[2019-08-07 09:07] Lurs commented on #13531
@guardrex the output on my host PC is the following:
C:\Program Files\dotnet\sdk\3.0.100-preview7-012821\NuGet.targets(123,5): error
: Der Dienstindex für die Quelle "https://api.nuget.org/v3/index.json" konnte ni
cht geladen werden. [d:\Users\werdesl\.templateengine\dotnetcli\v3.0.100-preview
7-012821\scratch\restore.csproj]
C:\Program Files\dotnet\sdk\3.0.100-preview7-012821\NuGet.targets(123,5)

[2019-08-07 09:55] cristicatalan commented on #13681
I thought this page documents  how to use gRPC in C# for project types other than ASP.NET. Thanks for the clarification. Indeed `GrpcTools` package can be used with .NET Core versions before 3.0.0.

[2019-08-07 11:17] Dave-Lowndes opened #13705 "Calling UseAuthorization gives rise to InvalidOperationException. Considerably more details are needed in this article."
An exception of type 'System.InvalidOperationException' occurred in Microsoft.AspNetCore.Authorization.Policy.dll but was not handled in user code
Unable to find the required services. Please add all the required services by calling 'IServiceCollection.AddAuthorization' inside the call to 'ConfigureServices(...)' in the application startup code.

This article fails to mention using AddAuthorizatio

[2019-08-07 11:34] guardrex commented on #13531
@Lurs I only see one report that didn't receive further discussion: https://github.com/dotnet/core/issues/2507

Ask on the dotnet/cli repo :point_right: https://github.com/dotnet/cli/issues

[2019-08-07 12:06] #13681 closed

[2019-08-07 12:26] Liversage opened #13706 "3.0 update and Verbosity normal is required to see information about launchSettings.json"
The documentation states that using `dotnet run` will display information if `launchSettings.json` is used:

Part of the output:

```Using launch settings from C:\Websites\EnvironmentsSample\Properties\launchSettings.json...```

Using dotnet 2.2.401 with SDK 2.2.401 I had to add the `--verbosity normal` command line option to see the information about `launchSettings.json` in the console output of

[2019-08-07 12:28] Rick-Anderson commented on #13706
@Liversage  thanks for notifying us.  I think that change was made in 1.1.

[2019-08-07 12:38] Rick-Anderson commented on #13706
Search for
`The following output shows an app started with`

That output is only displayed when with
`dotnet run --verbosity normal`

[2019-08-07 13:15] SheepRock opened #13708 "Set the certificate location"
The page only addresses how to use the development certificate, but it should also provide information on how to specify the certificate in production environment (how to set it's full path).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ddfb2f-5dea-5e31-2a27-02a4dc16104c
* Version Independent ID: 12ca0b9a-2638-a4ce

[2019-08-07 13:27] Rick-Anderson commented on #13708
That  would depend on the production environment and is beyond the scope of this article.

[2019-08-07 13:27] #13708 closed

[2019-08-07 13:55] j0057 opened #13709 "RazorPagesMovieContext created manually and through scaffolding?"
In the 'Add a data model' section (#add-a-database-context-class), the class RazorPagesMovieContext is added manually.

In the 'Scaffold the movie model' section, it says that the RazorPagesMovieContext is added, which is only true if it didn't yet exist, which it does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67

[2019-08-07 14:03] Rick-Anderson commented on #13709
Version 2.2 - with VSC tab. Fix for 3.0

[2019-08-07 14:15] #13709 closed

[2019-08-07 16:39] guardrex commented on #13360
Note to self per https://github.com/aspnet/AspNetCore.Docs/pull/13364#issuecomment-519170273 ...

... in the State Management topic's *Blazor circuits* section.

Add "The timeout and retention limits are configurable." and cross-link to the new content provided by the PR that fixes this issue.

[2019-08-07 17:03] #13259 closed

[2019-08-07 17:44] hTopology opened #13713 "EditForm InputSelect does not binding with Model int property"
I try to bind EditForm InputSelect with model int property but the binding does not work.

[2019-08-07 18:31] guardrex commented on #13713
Hello @hTopology ... that's possibly/probably a product unit issue (at least at this point). Open with the product unit here :point_right: https://github.com/aspnet/AspNetCore/issues, but you'll need to supply more info. They'll need to know what version you're using, code example of what you're doing, and possibly a GitHub repro project. If you find something inaccurate in the doc or something ne

[2019-08-07 18:31] #13713 closed

[2019-08-07 18:34] #13701 closed

[2019-08-07 18:50] Johnnybu commented on #13369
Since I nearly assumed the same thing, I did a little research on this.  It looks like this is the correct behavior because one is the request token (stored in a cookie so that JS can access it) and another is the session cookie token.  See this excellently written article here for details: [https://www.dotnetcurry.com/aspnet/1343/aspnet-core-csrf-antiforgery-token](https://www.dotnetcurry.com/asp

[2019-08-07 18:57] #13544 closed

[2019-08-07 20:01] meyer315 commented on #8223
Sturlath, this worked for me as well...does anyone know if there will be any issues if

 services.AddDefaultIdentity<IdentityUser>()
.AddEntityFrameworkStores<CreatedContext>();

are removed from the IdentityHostingStartup.cs file or is this required in a different way?

[2019-08-07 20:40] honkmother commented on #13619
I would have saved an hour of headbanging if the onkeyup event said "HEY YOU MIGHT WANT TO CHECK OUT oninput INSTEAD".

[2019-08-07 22:07] gbjbaanb commented on #12348
So true, all the built-in taghelpers have asp-XYZ attributes, but the doc doesn't explain how to create our own. This is quite an omission!

[2019-08-08 01:28] guardrex commented on #13715
Hello @marcelovidigal ... I only just saw your issue today when I was looking over engineering issues.

Side note for the future in case you run into any new docs issues: There's a **This Page** feedback button at the bottom of each topic that opens an issue for the docs team on this repo. It also adds document metadata to the issue to help us track the work. I just mention this in case you need t

[2019-08-08 07:51] supurapocket opened #13716 "Youtube version of this tutorial"
The egg will teach the chicken...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a25bf940-8977-fec4-461b-542a9f550fc8
* Version Independent ID: 5492c641-af15-64b8-beaa-ddf511be73e6
* Content: [Tutorial: Get started with Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razo

[2019-08-08 09:17] jepperaskdk commented on #8713
I can seed my database during `ConfigureServices` in my `CustomWebApplicationFactory` - however, the context is null using your solution: `Factory.Server.Host.Services.GetService(typeof(ApplicationDbContext)) as ApplicationDbContext`
It is throwing that is it not registered if using `GetRequiredService`. Any ideas?

[2019-08-08 09:53] voloda opened #13717 "Is this really good way to deal with localization?"
To me this whole thing seems to be step back.

Using the original approach had several benefits - having strong typed manager give's you sanity check. Also it forces you to maintain single source of truth if you want to have something translated.

Having this approach used on project running several years will lead to huge mess in .resx files - obsolete messages, missing messages since somebody fo

[2019-08-08 11:16] Genysis78 opened #13718 "UseInMemoryDatabase"
The tutorial isn't clear that unless you use 'using Microsoft.EntityFrameworkCore.InMemory;' the UseInMemoryDatabase is red and scaffolding fails. Whilst fixing the issue was a great learning point to hunt around for a solution it might put some people off using the tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-08-08 11:32] #13716 closed

[2019-08-08 11:36] Rick-Anderson commented on #13717
This is the recommended approach.

[2019-08-08 11:36] #13717 closed

[2019-08-08 11:51] Rick-Anderson commented on #13718
I take it you're using ASP.NET Core Preview 7.
`using Microsoft.EntityFrameworkCore.InMemory;` is not required.

[2019-08-08 12:09] #13694 closed

[2019-08-08 12:17] aftabthesun commented on #11033
I have allready hosted api on IIS but My image and media not showing on browser

[2019-08-08 12:29] guardrex opened #13719 "[Preview 9] Confirm/update prerendering disable remark"
Line 216 ... Confirm/update for Preview 9 ...

https://github.com/aspnet/AspNetCore.Docs/pull/13364#discussion_r310330025

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae14b3e3-3271-b919-9e0a-6f317a6b2d2d
* Version Independent ID: e5e1273b-195e-5da1-b4aa-66bbcff1425b
* Content: [ASP.NET Core Blazor state management](h

[2019-08-08 12:55] #13309 closed

[2019-08-08 14:11] MontyGvMC opened #13720 "How to log automatic 400 responses on model validation errors with model/request data"
**Help us make content visible**

- Tell us what docs you found that didn't address your concern.

I came accross the issue [How to log automatic 400 responses on model validation errors](https://github.com/aspnet/AspNetCore.Docs/issues/12157). Unfortunatly it is already closed and I can not post this there. One of the comments on [StackOverflow ](https://stackoverflow.com/questions/57390378/net-c

[2019-08-08 14:26] Rick-Anderson commented on #13720
[How to log automatic 400 responses on model validation errors](https://github.com/aspnet/AspNetCore.Docs/issues/12157) is not logged, you can add that information there.

Unfortunately we don't have the resources to write this article.

[2019-08-08 14:26] #13720 closed

[2019-08-08 14:36] Rick-Anderson commented on #13483
@scottaddie  isn't this completed?

[2019-08-08 14:39] Rick-Anderson opened #13721 "Add missing packages for Mac version"
NuGet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-2.2&tabs=visual-studio)

[2019-08-08 16:47] guardrex opened #13725 "Remove VSC from VSC-CLI tabs"

[2019-08-08 16:50] #13725 closed

[2019-08-08 18:27] mattielee opened #13727 ""Create" method does not exist"
No previously created "Create" method as shown. Highlighted section should be before the "Post" method, not "Create." [XML comments](https://docs.microsoft.com/en-us/aspnet/core/tutorials/getting-started-with-swashbuckle?view=aspnetcore-2.2&tabs=visual-studio#xml-comments)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-08-08 18:55] #13304 closed

[2019-08-08 18:55] #7709 closed

[2019-08-08 18:55] #7890 closed

[2019-08-08 18:55] #8660 closed

[2019-08-08 18:55] #11299 closed

[2019-08-08 18:55] #11419 closed

[2019-08-08 18:55] #11426 closed

[2019-08-08 18:55] #8049 closed

[2019-08-08 18:55] #8708 closed

[2019-08-08 18:55] #9237 closed

[2019-08-08 18:55] #9523 closed

[2019-08-08 18:55] #10142 closed

[2019-08-08 18:55] #10449 closed

[2019-08-08 18:55] #7745 closed

[2019-08-08 18:55] #9991 closed

[2019-08-08 18:55] #10182 closed

[2019-08-08 18:55] #12475 closed

[2019-08-08 18:55] #13104 closed

[2019-08-08 19:37] eman365 opened #13729 "Spelling Error"
Update the Delete view

In Views/Student/Delete.cshtml, add an error message between the h2 heading and the h3 heading, as shown in the following example:

I believe it should read "between the h1 heading and the h3 heading,"  as can be seen in Delete.cshtml:

&lt;h1&gt;Delete&lt;/h1&gt;

&lt;h3&gt;Are you sure you want to delete this?&lt;/h3&gt;

---
#### Document Details

⚠ *Do not edit this sec

[2019-08-08 19:50] krchome opened #13730 "YouTube Version"
Available at : https://youtu.be/4WPZUCbq_9w

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c3930e5-8a4f-8bdf-7167-9aed8afc4253
* Version Independent ID: cea5942d-fb01-f5bf-3b63-25873d5b79cf
* Content: [Simple authorization in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/simple?view

[2019-08-08 20:03] JNickVA1 opened #13731 "How to use ProtectedPersonalData"
I found the attribute class, ProtectedPersonalData, but I can't seem to find any documentation on how to use it. Please point me to information or provide some examples please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 431df4fc-4168-cc8f-d053-9b264d2971c1
* Version Independent ID: cd157d04-d596-83fa-6edb-24d52193e

[2019-08-08 20:27] JNickVA1 opened #13733 "Downloading and Deleting PersonalData in classes that use the IndentityUser Id as a Foreign Key"
I have several "add-on" classes for use by the IdentityUser object with each having the IdentityUser Id as a ForeignKey when instantiated. Will the properties marked with the PersonalData attribute in these classes be included in the personal data download or do I have to take a different approach?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-08-08 20:57] serpent5 commented on #13529
Do you want this and the 2.2 sample to switch over to snapshot files or do you want full samples for both?

RE the topic itself:

I think the explanation of the built-in `ByteArrayModelBinder` could be dropped in favour of an explanation of the built-in `CancellationTokenModelBinder`. This model-binder is a bit simpler and avoids raising the security issue re filenames, which is  already covered i

[2019-08-08 21:14] #13345 closed

[2019-08-08 21:15] Rick-Anderson commented on #13729
It's `<h2>` in the code shown
![image](https://user-images.githubusercontent.com/3605364/62738313-0f3e0580-ba00-11e9-93f6-1076f515adc5.png)

[2019-08-08 21:15] #13729 closed

[2019-08-08 21:15] #13730 closed

[2019-08-08 21:18] navidmatin opened #13735 "Unnecessary call to base.OnConnectedAsync and base.OnDisconnectedAsync"
In https://docs.microsoft.com/en-us/aspnet/core/signalr/hubs?view=aspnetcore-2.2#handle-events-for-a-connection
There is a call to `base.OnDisconnectedAsync(exception)` and one to `base.OnConnectedAsync()`. However when you go to those virtual methods they just return `Task.CompletedTask`. Is there something I am missing or the calls to the base Hub base methods are completely unnecessary in the o

[2019-08-08 21:23] Rick-Anderson commented on #13731
See [Marking your EF model for encryption](https://github.com/blowdart/AspNetCoreIdentityEncryption#marking-your-ef-model-for-encryption)
To have Identity encrypt your custom IdentityUser model, annotate your model fields with `[ProtectedPersonalData]`

[2019-08-08 21:23] #13731 closed

[2019-08-08 21:24] Rick-Anderson commented on #13733
I think so. Try it and let me know.

[2019-08-08 21:24] #13733 closed

[2019-08-08 21:43] #13347 closed

[2019-08-08 22:38] Cyberance opened #13736 "Error on Update-Database"
I get the following error when I'm trying to update the database

The entity type 'OfficeAssignment' requires a primary key to be defined.

As someone suggested I added the [Key] for the OfficeAssignment class. When I do that database is updated, but the seeding database step does not populate the OfficeAssignements table.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-08-08 22:41] Rick-Anderson commented on #13529
We're only keeping the 2.2 and 3.0 samples. Full samples are better.

Agreed on both  points

Feel free to remove it.

Do you think the samples in this topic are reasonable? Seems like we could come up with simpler samples on when you'd need custom model binding.

[2019-08-08 23:29] mattfrear commented on #8713
Dunno, something sounds weird with your DI setup.

Can you try `Factory.Server.Host.Services.GetService<ApplicationDbContext>()`? You might need the `Microsoft.Extensions.DependencyInjection.Abstractions` NuGet package to use that syntax.

Can you Get something else that isn't your DbContext? i.e. `Factory.Server.Host.Services.GetService<YourController>()`?

[2019-08-09 01:11] Michaelwan777 commented on #12727
@Svetomechc  It seems that the app fails to renew the token as you mentioned.

[2019-08-09 02:42] zmsoft opened #13737 "Does the swagger document have the ability to export word?"
Does the swagger document have the ability to export word?Many thanks

[2019-08-09 04:18] eman365 commented on #13729
Mine says <h1>. I guess I guess it created it different here...

![image](https://user-images.githubusercontent.com/12814751/62753815-264e1900-ba3b-11e9-91a8-a70113fb0a9a.png)

[2019-08-09 04:19] Ben67366 commented on #13273
I had the same problem. But after use 5.0.0-rc2 it resloved.

![image](https://user-images.githubusercontent.com/25456777/62753841-3d772000-baa8-11e9-870b-e857fb3d5f5b.png)

[2019-08-09 05:01] luyseyal opened #13738 "TokenCredential tokens expire in long-running processes (such as in Azure App Service)"
`var credentials = new StorageCredentials(new TokenCredential(token));`
The problem with this example is that TokenCredential will expire and throw exceptions in a long-running process.
Can you give an example with the TokenCredential constructor with auto refreshing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5985

[2019-08-09 06:35] edikaufmann opened #13739 "AspNetCore.Docs-Master missing pages ef-rp cu21"
after downloading AspNetCore.Docs-master(download July 2019) and loading ef-rp/cu21.
I CANNOT find Pages Courses/Instructors/Departements as used in Shared/Layout.cshtml (see below)

What am I missing ?

Do I need to download a newer AspNetCore.Docs-Master ?

&lt;ul class="nav navbar-nav"&gt;
                    &lt;li&gt;&lt;a asp-page="/Index"&gt;Home&lt;/a&gt;&lt;/li&gt;
                    &lt

[2019-08-09 10:25] endstreet opened #13740 "<_RazorComponentInclude>Pages\**\*.cshtml</_RazorComponentInclude>"
Components can be authored using the .cshtml file extension as long as the files are identified as Razor component files using the _RazorComponentInclude MSBuild property. For example, an app that specifies that all .cshtml files under the Pages folder should be treated as Razor components files: refers..

1. Where in the project xml does this go?
2. When added to the project xml .razor pages fail

[2019-08-09 10:57] guardrex commented on #13740
Hello @endstreet ...

1. MSBuild properties go into the project file into a `<PropertyGroup>`. I'll make a modification to that example to include those tags.
1. I can't repro that here. Open an issue with engineering to report a possible bug to them :point_right:  https://github.com/aspnet/AspNetCore/issues

[2019-08-09 11:00] guardrex commented on #13740
Note that if you mean using the example that that is expected behavior ... it isn't a bug. If the property tells the compiler that all *.cshtml* pages are components, then it will treat them all as components. If you want specific files to be components files in that folder, then list them explicitly in the property value.

[2019-08-09 11:00] #13740 closed

[2019-08-09 11:38] Rick-Anderson commented on #13738
The article is about key storage providers,, not obtaining tokens.

[2019-08-09 11:41] Rick-Anderson commented on #13739
Look in https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu30snapshots
that code will be the same
cc @tdykstra

[2019-08-09 11:41] #13739 closed

[2019-08-09 12:08] endstreet opened #13742 "Cannot create a .razor page that has a name that ends with "Component""
if I try to create a .razor page as in your sample that ends with "Component" as in your sample, the razor markup fails immediately. What could be the problem?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4c4d0c-149c-bde1-c7fa-f082916390ca
* Version Independent ID: 9d945996-ad02-bd4b-58ea-c465cc5cc74c
* Content: [C

[2019-08-09 12:10] guardrex commented on #13742
Fails in what way? Is there an error message?

[2019-08-09 12:13] guardrex commented on #13742
You're using the latest VS 2019 Preview, correct? Version should be 16.3 Preview 1.

[2019-08-09 12:22] guardrex commented on #13742
Note that while we're in preview that tooling behavior might be a little bit shaky. Search the [engineering repo (open and closed issues)](https://github.com/aspnet/AspNetCore/issues?utf8=%E2%9C%93&q=is%3Aissue+) for issues that you run into because issues are reported there on a rolling basis. It's best to search open **_and closed_** issues. Recently closed issues often reflect things that the e

[2019-08-09 12:22] #13742 closed

[2019-08-09 13:13] coderfox opened #13743 "Kestrel startup sample code with file descriptor fails"
# Issue description

The sample code provided in `AspNetCore.Docs/aspnetcore/fundamentals/servers/kestrel/samples/2.x/KestrelSample/Program.cs` fails to start up when `FileDescriptor` defined on Dotnet Core 3.0 preview.

The command line outputs:

[code]

# Software versions

Check the .NET target framework(s) being used, and include the version number(s).

- [x] .NET Core `netcoreapp3.0`
- [ ] .N

[2019-08-09 13:59] edikaufmann commented on #13739
I downloaded AspNetCore.Docs-Master and find
CU, CU21, CU21snapshots --> neither has the Course, departments and instructor pages
copying the appr pages from CU didn't work (Build error)
thanks for clarifying, ed

CU30, CU30 snapshots --> I do Not yet use Core 3.0

[2019-08-09 14:21] Rick-Anderson commented on #13743
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select the **Content feedback** issue.
![image](https://user-images.githubusercontent.com/3605364/52735418-b23f2680-2f6b-11e9-81c5-ec0105e55d00.png)

That's a 2.2 sample. Create an issue asking for the doc to be upgraded to 3.0

[2019-08-09 14:21] #13743 closed

[2019-08-09 14:21] Rick-Anderson commented on #13737
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-08-09 14:21] #13737 closed

[2019-08-09 14:22] Rick-Anderson commented on #13736
I'm  not sure what you've done wrong, but the code does work. You might try the sample download.

[2019-08-09 14:22] #13736 closed

[2019-08-09 14:25] coderfox opened #13744 "Update Kestrel startup sample code with file descriptor for 3.0"
# Issue description

The sample code provided in `AspNetCore.Docs/aspnetcore/fundamentals/servers/kestrel/samples/2.x/KestrelSample/Program.cs` fails to start up when `FileDescriptor` defined on Dotnet Core 3.0 preview.

The command line outputs:

[code]

# Software versions

Check the .NET target framework(s) being used, and include the version number(s).

- [x] .NET Core `netcoreapp3.0`
- [ ] .N

[2019-08-09 14:26] pkellner opened #13746 "The "Register a Component" feels odd being in middle of this page"
It seems odd that their is a TOC element in the middle of this article that refers to sections above the TOC. I'm use to seeing indexes like that always above the content. It initially confused me because I'm thinking "didn't I just read about that?", yet I'm running into the TOC section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-08-09 14:26] coderfox commented on #13743
Sorry for my mistake, I once thought this is an isolated code without corresponding doc page. Issue recreated at #13744.

[2019-08-09 14:29] guardrex commented on #13744
Hello ... We aren't able to provide product support. Your best option is to consult with devs on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter. If you think that you found a framework bug, open an issue on the engineering repo.

[2019-08-09 14:30] kevingates opened #13747 "New Blazor Templates for Client Side are Unclear"
When following this guide, in the latest Preview 7, you get the following options:
-Blazor Server App
-Blazor (ASP.NET Core Hosted): A project template for creating a Blazor app that runs on WebAssembly. This template can be used for web apps with rich dynamic user interfaces (UIs).
-Blazor (client side): A project template for creating a Blazor app that runs on WebAssembly. This template can be u

[2019-08-09 15:00] Rick-Anderson commented on #13739
The code you're looking for is the same.

[2019-08-09 15:02] Rick-Anderson commented on #13743
@coderfox  you didn't open the new issue from the doc page.
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select the **Content feedback** issue.
![image](https://user-images.githubusercontent.com/3605364/52735418-b23f2680-2f6b-11e9-81c5-ec0105e55d00.png)

[2019-08-09 15:03] Rick-Anderson commented on #13744
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select the **Content feedback** issue.
![image](https://user-images.githubusercontent.com/3605364/52735418-b23f2680-2f6b-11e9-81c5-ec0105e55d00.png)

[2019-08-09 15:04] Rick-Anderson commented on #13744
@guardrex  -  I asked @coderfox  to open an integrated issued from the doc page and ask to update the topic to 3.0. That's a valid doc issue.

[2019-08-09 15:05] Rick-Anderson commented on #13744
@guardrex  see #13743

[2019-08-09 15:20] mcalasa opened #13748 "Storing group membership in a database"
Would it be possible to include an example of this topic like the previous version of SignalR?  Here is a link to the doc of the previous version. https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/working-with-groups#storing-group-membership-in-a-database

It's a bit confusing when I'm lead to this article and there is no mention of it here.

---
#### Document Details

⚠ *D

[2019-08-09 15:24] guardrex commented on #13744
Actually, this more of a @tdykstra thing.

I'll note in passing that AFAIK we have all of the `ListenOptions` coverage that engineering requested. For any error like that between 2.2 and 3.0, I recommend an engineering issue. If they surface a delta for a given scenario for 3.0 or if they agree that the doc doesn't cover an implementation scenario, then we would normally re-open over here and work

[2019-08-09 15:31] guardrex commented on #13747
@kevingates I've marked this for management to triage. For the VS template description, you could try sending that in to that team via VS's **Report a Problem** process built into VS. However, I'm fairly certain that they're already aware of that. The **Hosted** description is missing a bit about **_how_** it's hosted ... i.e., by an ASP.NET Core app.

WRT to the descriptions in the doc, managemen

[2019-08-09 15:57] blogcraft commented on #12533
I had to do the same...

[code]

[2019-08-09 16:00] tdykstra commented on #13744
@guardrex But you have #12842 - Kestrel 3.0 updates, which includes the sample app

[2019-08-09 16:04] Rick-Anderson commented on #13744
Closing because it's a duplicate of #12842

[2019-08-09 16:04] #13744 closed

[2019-08-09 16:06] guardrex commented on #13744
@coderfox, you're using custom code that generates that error, correct?

[2019-08-09 18:07] guardrex opened #13750 "Update Resonse Caching Middleware version blocks"
React to feedback on versioning blocks, and update the text on the caching package for 3.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10cda0f9-e2c7-015d-4fbf-d361f6c67d9f
* Version Independent ID: 13154131-c2b6-2c72-fb0e-1d83bca4e21a
* Content: [Response Caching Middleware in ASP.NET Core](https://docs.microsoft.co

[2019-08-09 18:32] #13750 closed

[2019-08-09 18:36] michaelmello opened #13752 "provide complete example for ViewModel with CreateVM.cshtml"
I noticed the article talks about Create.cshtml and then mentions and links to a CreateVM.cshtml page when discussing View Models. I thought the CreateVM.cshtml link was a typo but there is in fact a page on Github that was created for purposes of the View Model, but no instruction to create it in the tutorial. Just throwing it out there as it may trip up newcomers (where did CreateVM.cshtml come

[2019-08-09 18:36] vbdoug opened #13753 "Link to ASP.NET Core Module does not contain information about activating claims transformations when hosting in-process."
Please update to link to the correct url/location.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401ad9a0-9e51-80a2-5846-82e9790d7257
* Version Independent ID: fbc36c26-9992-1f4c-66d3-02f898ee7ec4
* Content: [Configure Windows Authentication in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/securi

[2019-08-09 18:47] Rick-Anderson commented on #13752
Thanks for the tip.

[2019-08-09 19:00] serpent5 commented on #13529
I feel like the EF Core sample could be replaced with something similar, but I don't have any ideas for what to replace it with. On the plus side, the current sample does work well for covering general model-binding plus the extras like using DI. Do you have a suggestion for an alternative?

[2019-08-09 19:06] Rick-Anderson commented on #13529
@stevejgordon @dougbu  can you suggest a better sample?
[Customizing ASP.​NET Core Part 08: ModelBinders](https://asp.net-hacker.rocks/2018/10/17/customizing-aspnetcore-08-modelbinders.html) looks like a better sample. You can't copy that example, but you could do something very similar.

[2019-08-09 19:13] serpent5 commented on #13529
Whenever I think of something that could be a custom model-binder, it seems there's a better option that's already built-in. Perhaps I'm mistaken, but for the example linked above I'd expect that to be implemented as an `InputFormatter`.

[2019-08-09 19:17] Rick-Anderson commented on #13529
If @stevejgordon @dougbu can't think of a better example, it's OK to use one that could be done with  `InputFormatter` and state that.

I'd like to remove EF from the sample if possible - just to keep it simpler.

[2019-08-09 19:30] guardrex commented on #13753
Hello @vbdoug ... *Ah!* I see what happened ... the content is there ... you're looking at the wrong version of the topic to see it. Switch your doc version selector over to 2.2.

<img width="515" alt="Capture" src="https://user-images.githubusercontent.com/1622880/62804203-2d643e00-bab2-11e9-8555-20df8e28172c.PNG">

[2019-08-09 19:30] #13753 closed

[2019-08-09 19:50] #13346 closed

[2019-08-09 22:36] tdykstra commented on #10182
That comes from a later stage of the tutorial.  In the pre-migrations tutorials, EnsureCreated is used; after the migrations tutorial, it's commented out.

[2019-08-10 02:23] coderfox commented on #13744
@guardrex I can't quite catch up with the meaning of `OOB template`, but I modified nothing of the sample code except the beginning `#define` instruction.

In your sample code, there are multiple sections of starting the application and bind to a socket, and I am just using the section of binding to existing file descriptors by defining `FileDescriptor` instead of the default one.

[2019-08-10 13:13] guardrex commented on #13744
@coderfox Try the following and see if it runs ...

### Project File

[code]

### Program.cs

[code]

[2019-08-10 13:25] marmals commented on #7032
Hey.
I have similar problem but when i "http://localhost:5000/api/sampledata/weatherforecasts" on postman i don't get any respone.

[2019-08-10 14:12] coderfox commented on #13744
@guardrex No. Exactly the same exception is thrown.

[2019-08-10 14:13] guardrex commented on #13744
ok ... I'll ask on the issue for the 3.0 updates.

[2019-08-10 15:34] guardrex commented on #12842
cc: @coderfox

@halter73 Two questions ...

### FileDescriptor

For our Kestrel `FileDescriptor` example in the sample app with the 3.0 updates ...

[code]

... it's throwing ...

[code]

Do you have any tips on getting it running?

### serverOptions.Configure

I can't see in engineering repo code where/how to get a context for `serverOptions.Configure`. Under 3.0 and looking at ...

https://githu

[2019-08-11 12:25] guardrex opened #13757 "Improve coverage on special purpose Blazor files+components"
Per feedback from @tdykstra ...

* *_Host.cshtml*
* *_Imports.razor*
* *App.razor*
* `NavMenu` component [include remarks on Bootstrap use and the toggle button code (responsive design)]

We should improve coverage on first mention. The docs do speak to these on a *here's where you do this or that* basis, but the files aren't defined explicitly/clearly enough.

:question: Should these be briefly d

[2019-08-11 13:50] JamieL22 commented on #13298
Mozilla did not pop up the certificate for trust

[2019-08-11 15:22] marqdouj opened #13759 "Add clarification about using Conventions when configuring AddRazorPages"
I've read the pdf from this link that was provided in a recent ASP.NET Community Standup: https://wakeupandcode.com/
The link indicates to me that I should be able to use Conventions with services.AddRazorPages.

I've created a blazor server app using the template provided and configured it to use authentication.
I've moved FetchData.razor to a sub folder Pages/Authorized.
I then tried both of the

[2019-08-11 16:15] guardrex commented on #13759
Hello @marqdouj ... That's not a supported scenario currently. The only supported approaches at this time for any Blazor scenario are in the Blazor docs.

As a general approach for documenting Blazor, we don't usually point out *what can't be done* simply because we'd have **_massive numbers of remarks_** 🙈 for all of the things that ... well ... *can't be done*. :smile: It would be a considerably

[2019-08-11 16:15] #13759 closed

[2019-08-11 16:48] joslat commented on #13531
Still happening, got everything following the official get started, https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio, which matches the VS and SDK version. No client side blazor can be seen on the designer.
But, on the command line "dotnet new blazor" works like a charm.

Is there any way to get this resolved? :)

[2019-08-11 16:50] guardrex commented on #13531
@joslat ... You tried one more template install just to make sure?

1. Close VS.
1. Execute :point_right: `dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.0.0-preview7.19365.7`
1. Re-open VS. 🤞

If you have VS Preview latest, the correct (Pre7) SDK, and these instructions don't work, open an issue for engineering. https://github.com/aspnet/AspNetCore/issues

[2019-08-11 17:01] joslat commented on #13531
Hi Guardrex, yes, read the comments and tried even three installations... and a last fourth one after your message.
My VS 2019 preview is freshly installed,
![image](https://user-images.githubusercontent.com/9831011/62836987-149e8880-bc6a-11e9-9f25-311616abf816.png)

Also the SDK seems to be on check:
C:\Users\joslat\blazor\bl01>dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:

[2019-08-11 17:04] guardrex commented on #13531
@joslat That looks correct. If you don't see **Blazor App** anywhere in the VS new project UI, then yes, go ahead and open an engineering issue. If you want to add a "cc: @guardrex" at the bottom, I'll see what they say. There might be a special instruction or troubleshooting step that the doc should cover.

[2019-08-11 17:25] joslat commented on #13531
went there and checked. It seems that everything comes from an identified issue and there is a workaround...
main issue is here (closed): https://github.com/aspnet/AspNetCore/issues/11706
and the root cause (with hints to the workaround): https://github.com/aspnet/AspNetCore/pull/11707
"We worked with the web tools folks on a resolution and the recommended workaround for this issue is to remove th

[2019-08-11 17:43] joslat opened #13761 "Workaround for the Blazor (client-side) template not visible"
As there seems to be a known issue, https://github.com/aspnet/AspNetCore.Docs/issues/13531 which has a known root cause https://github.com/aspnet/AspNetCore/pull/11707
I'd propose either to create the blazor client project from command line with "dotnet new blazor" or either select the "ASP.NET Core Web Application" template and on the third step we will be asked the ASP.NET Core project template

[2019-08-11 17:57] guardrex commented on #13761
Those seem closed/merged ... we'll see when this issue is triaged if the fix is in for Pre8 (or VS's new preview release); and if so, if we'll need to cover anything in the meantime. Exact date for Pre8 release isn't **_publicly_** announced (I know what it is but I'm sworn to 🙊 secrecy), but the Pre8 engineering issues on the roadmap are all worked/closed/merged and the milestone for Pre8 shows 1

[2019-08-11 19:56] HarleyPebley opened #13762 "Prerequisites could be improved"
There's not much description of the code that's presented in this tutorial. It assumes a lot of prior knowledge. Prerequisites I lacked included understanding of DOM and JS. (E.g. in "Get a list of to-do items," three sentences describe 30 lines of code. There's a lot of things going on in those 30 lines that aren't described by the text that I had to infer.)

It would be nice to have mentioned in

[2019-08-11 20:03] Rick-Anderson opened #13763 "Add Fetch, jQuery, and other Prerequisites"
See #13762  Created by @HarleyPebley

There's not much description of the code that's presented in this tutorial. It assumes a lot of prior knowledge. Prerequisites I lacked included understanding of DOM and JS. (E.g. in "Get a list of to-do items," three sentences describe 30 lines of code. There's a lot of things going on in those 30 lines that aren't described by the text that I had to infer.)

[2019-08-11 20:04] Rick-Anderson commented on #13762
@HarleyPebley  thanks for this. See #13763

[2019-08-11 20:04] #13762 closed

[2019-08-11 21:10] joslat commented on #13761
Sounds like great work! :)

[2019-08-11 21:11] JamesNK opened #13764 "Authentication overview"
There is no article that gives an overview of authentication in ASP.NET Core.

The article should talk about:
- What authentication is
- What authentication options there are
- An introduction to setting up authentication

It should be located at: Security and Identity -> Authentication -> Overview

Equivalent page for authorization: https://docs.microsoft.com/en-us/aspnet/core/security/authorizat

[2019-08-11 21:50] JamesNK opened #13766 "Link to 3.0 authentication samples"
This page links to samples in release/2.2 branch. Links should either be updated to 3.0, or have new conditional links depending on the framework version being viewed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82950389-524e-0754-a125-addeccbdb1b3
* Version Independent ID: 80b7f7cf-dc2e-137a-5aa7-fa88da63ac80
* Con

[2019-08-12 02:08] scottsauber commented on #11010
I'm a little late to the bikeshed party (and not sure my opinion matters), but I'm updating my [VS Code snippets for Blazor](https://marketplace.visualstudio.com/items?itemName=ScottSauber.blazorsnippets), because it is a few previews behind (my bad).  I wanted to match the conventions on the Docs, and I was pretty surprised to see the `private` modifier on all the docs for `[Parameter]`s.  For in

[2019-08-12 02:12] scottsauber commented on #11010
Side note - I feel strong enough about this that I'd happily take the time to send the docs PR to switch all these.  :smile:

[2019-08-12 02:31] guardrex commented on #11010
@scottsauber Engineering reversed their earlier approach and guidance. They're already reversed to `public`. The changes are on the staging branch for the Pre8 release. https://github.com/aspnet/AspNetCore.Docs/pull/13523

[2019-08-12 02:41] scottsauber commented on #11010
@guardrex  - Whoops - sorry I missed that thread... my bad.... nothing to see here.  :smile:

[2019-08-12 04:23] nambuiralf opened #13768 "setting.connectionstring is null"
When I change the url to "http://localhost:&lt;my port&gt;/api/books", visual studio have error "connectionstring has null value. So how can I fix it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5240866d-d0a1-f0dd-7b2c-203e1d69bc4b
* Version Independent ID: 83a5cb3b-23bc-4f0c-cd1c-1d1ffeb1131a
* Content: [Create a w