[2019-12-03 02:57] Rick-Anderson commented on #15946
The tutorial works. ASP.NET Core doesn't use web.config.

[2019-12-03 02:57] #15946 closed

[2019-12-03 03:03] Rick-Anderson opened #15964 "wired does not MT (machine translate)"
use non-slang, non-jargon
DI-z

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b48c797-87cc-4f4c-d0d4-15c42bcdeac1
* Version Independent ID: 9eea8553-de5e-d9c4-2d7f-605046e06c99
* Content: [Work with the application model in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/application-model?vi

[2019-12-03 03:17] Rick-Anderson commented on #12348
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-03 03:17] #12348 closed

[2019-12-03 03:26] Rick-Anderson commented on #11938
That applies to ASP.NET Core 2.1 templates

[2019-12-03 03:26] #11938 closed

[2019-12-03 03:27] Rick-Anderson commented on #15362
@scottaddie  we have approval to remove all of these. Let me know if you can get this done by EOY.

[2019-12-03 03:29] Rick-Anderson commented on #11687
@wadepickett  can  you do this next? It's P0

[2019-12-03 03:31] Rick-Anderson opened #15966 "Remove label:DR"
@guardrex  please confirm.

[2019-12-03 04:21] Allann opened #15967 "2.1 reference included in page"
CompatibilityVersion.Version_2_1 is reference in the page even though I had 3.0 selected

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fc35621-ae53-cfb5-5eb1-07aefdc5342f
* Version Independent ID: 79cb05f8-9ac0-26a8-8434-15de071160c3
* Content: [Access HttpContext in ASP.NET Core](https://docs.microsoft.com/en-us/asp

[2019-12-03 04:26] bigfishybob79 opened #15968 "Update UseMvc screenshot to UseEndpoints screenshot"
The screenshot following "Recall these segments are defined Startup.cs" shows UseMvc.  However, this was originally specified in the "Add a controller" section as UseEndpoints.  Looks like this documentation was updated in the first section (Add a controller) but not in this section (Examine the Details and Delete methods).  Presumably you just need to also use the screen shot from the first secti

[2019-12-03 05:54] #15615 closed

[2019-12-03 06:18] Rick-Anderson opened #15970 "Add SameSite link"
security/samesite

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b7135b-b7a0-2fba-b846-530480aeb415
* Version Independent ID: 69e5b8fb-04e0-817e-434f-72cf6ba12923
* Content: [Migrate from ASP.NET Core 3.0 to 3.1](https://docs.microsoft.com/en-us/aspnet/core/migration/30-to-31?view=aspnetcore-3.0&tabs=visual-studio#re

[2019-12-03 08:31] kustox opened #15972 "[BindRequired] attribute description unclear"
Description states "Can only be applied to model properties, not to method parameters. ",
but the source code allows the attribute on parameters
`([AttributeUsage(AttributeTargets.Class | AttributeTargets.Property | AttributeTargets.Parameter, AllowMultiple = false, Inherited = true)]`
from https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/ModelBinding/BindRequiredAttribute.cs

[2019-12-03 11:30] ATLSAPI commented on #15848
@rynowak @Rick-Anderson Thanks for adding this to the docs. We think we are experiencing this issue. In your update to the docs, as an example of how to disable automatic cookie handling, you specified the below:

[code]

Did you mean `return new SocketsHttpHandler()`? As SocketsHttpClientHandler does not exist on `System.Net.Http`.

Also, it seems that `SocketsHttpHandler` is only available in NE

[2019-12-03 12:03] wangxin12 commented on #15911
Sorry, my bad. Signalr js client is all good. I found that the cause is about the order of  middlewares in my .net core app. In my case, putting app.UseRouting() after app.UseAuthorization() works, not as the order recommended by this doc https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-3.0 . I am new to .net core and I will dive deep it.

I will close this iss

[2019-12-03 12:03] #15911 closed

[2019-12-03 12:06] #12253 closed

[2019-12-03 12:06] #15894 closed

[2019-12-03 12:17] #15555 closed

[2019-12-03 12:17] #15687 closed

[2019-12-03 12:17] #15843 closed

[2019-12-03 12:20] guardrex commented on #15966
Sounds good. The Blazor project is in use by engineering to triage new issues. AFAIK, the label isn't used to filter those issues. *One less thing to deal with after you 💀 it.*

[2019-12-03 12:23] guardrex commented on #15967
Hello @Allann ... Yes, it's because the topic hasn't been updated for 3.x. It looks like that's the only change, so I'll do a quick patch to version that content and provide the 3.x approach. Thanks for calling it out.

[2019-12-03 13:04] etortec opened #15974 "Do not set X-ARR-ClientCert header on HttpClient"
The example code on [this](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/certauth?view=aspnetcore-3.0#implement-an-httpclient-using-a-certificate) section seems to imply that you should configure a `HttpClient` to send along a client certificate for mutual TLS by including the client certificate as part of the _X-ARR-ClientCert_ header:
[code]

 This seems wrong since the ap

[2019-12-03 15:44] #15970 closed

[2019-12-03 15:51] #15964 closed

[2019-12-03 16:04] rynowak commented on #15848
yes that's right! this was mistake. It would be helpful if you could send a PR

[2019-12-03 16:10] #14739 closed

[2019-12-03 17:16] cjmakwana commented on #15940
@guardrex my apologies ! I didn't realized that my property setters were all private ! It was just a copy / paste mistake. By the way, many thanks for your kind support.

[2019-12-03 17:28] #15955 closed

[2019-12-03 17:29] guardrex commented on #15940
@cjmakwana No worries at all! :beers: These discussions *very often* lead to nice updates to the topics, so I'm glad you wrote in to discuss it. Please feel free to reach out again if you hit a snag.

[2019-12-03 17:35] cjmakwana commented on #15940
@guardrex oh definitely, an appreciate your support !

[2019-12-03 17:59] Rick-Anderson commented on #15972
It has other restrictions

Note that this `[BindRequired] ` behavior applies to model binding from posted form data, not to JSON or XML data in a request body. Request body data is handled by input formatters.

[2019-12-03 17:59] #15972 closed

[2019-12-03 18:07] #15966 closed

[2019-12-03 18:20] wadepickett commented on #13236
Fixed with PR #15838

[2019-12-03 18:20] #13236 closed

[2019-12-03 18:22] wadepickett commented on #15808
Fixed with PR #15838

[2019-12-03 18:22] #15808 closed

[2019-12-03 18:30] #15967 closed

[2019-12-03 18:38] wadepickett commented on #13299
@ShinraCorpMixer, Sorry for the horrible delay, I had to complete other work as a priority before going on vacation.   I apologize for missing your question here.   Yes, the Google OAuth and Facebook OAuth topics I updated use the same code as for this situation.  Working on this topic now today.

[2019-12-03 19:36] guardrex opened #15983 "Attach debugger to Blazor WebAssembly process"
React to https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-1/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f61c7-9f51-6735-e328-3c7b495d70c3
* Version Independent ID: 4d06e565-282d-6387-aa90-cb2c2986d35a
* Content: [Debug ASP.NET Core Blazor](https://docs.microsoft.com/en-us/aspnet/core/blaz

[2019-12-03 19:59] rpc-scandinavia commented on #14323
@mkArtakMSFT, what is a PR and what should I send ?

[2019-12-03 20:13] guardrex commented on #14323
Recommend that we cover common scenarios that apply to both WebAssembly and Server in the *Host and deploy* overview topic. @rpc-scandinavia, you can create a new section there or I'll take care of it based on your opening remarks here.

https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/

[2019-12-03 21:07] NXTwoThou opened #15986 "Visual Studio 2019 v16.4.0 Publish Profiles"
Note, you'll also need to hand edit your .pubxml files to change from netcoreapp3.0 to netcoreapp3.1.  If you use the Edit button inside of Publish, under Settings and Target Framework, it will say netcoreapp3.1, but after hitting save, it doesn't update the pubxml.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b713

[2019-12-03 21:11] rpc-scandinavia commented on #14323
Ok @guardrex, I submitted this: https://github.com/aspnet/AspNetCore.Docs/commit/6120deace6d36983e0c392305d4a5d08cf459d40

[2019-12-03 21:16] JuergenGutsch commented on #11842
@IanKemp Thanks for sharing my post here as an example.

If it's okay for you all, I would be glad to write that documentation. :-)

[2019-12-03 21:29] joshpearce commented on #12552
I'm assuming the scaffolding explained here does not work https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-3.1&tabs=netcore-cli

[2019-12-03 21:30] joshpearce commented on #12552
I haven't tried the IdentityServer's UI scaffolding. I'm not sure if it would work.

https://github.com/IdentityServer/IdentityServer4.Quickstart.UI

[2019-12-03 21:37] xenophilios opened #15987 "Options topic review"
This article would make much more sense to me if it started with a realistic example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed39cb0e-aa85-8bba-ffb4-859b56a60723
* Version Independent ID: dc7e3449-650b-d117-5eac-69e5ccb250cb
* Content: [Options pattern in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/co

[2019-12-03 21:37] guardrex commented on #14323
You can't commit directly to master that way. Edit the live topic and submit the PR from there ... follow the prompts; or if you want me to handle it, I'll take your update and submit it.

[2019-12-03 21:38] guardrex commented on #15987
Can you explain what you mean by "realistic" in the context of the scenarios provided by the sample? It shows each of the common scenarios for implementing the Options patterns that the framework offers.

[2019-12-03 21:48] joshpearce commented on #12727
For refresh token not working, are you using a persistent store for Identity Server's operational data? If not, then it's just the in-memory store, which means the refresh tokens would disappear when the process restarts.

https://identityserver4.readthedocs.io/en/latest/reference/ef.html#operational-store-support-for-authorization-grants-consents-and-tokens-refresh-and-reference

[2019-12-03 22:03] Rick-Anderson commented on #15839
Total rewrite outline:

* Sample app will be a calculator with add(x,y) and multiply(x,y) endpoints. The endpoints will be implemented in Razor Pages, MVC controller with views, and Web API
* How to set up a unit test soln (app + test project)
* Basic unit tests
* use xUnit and Moq

Article will be similar to [Internal review URL unit testing](https://review.docs.microsoft.com/en-us/dotnet/core/te

[2019-12-03 22:03] guardrex commented on #15986
Surprising! I We would expect it to honor the selection. We're a bit outside of the Visual Studio processes here. We only handle ASP.NET Core doc issues here, so we can't address this problem directly. I recommend that you open this with the VS team using the **Help** > **Send Feedback** > **Report a Problem** process from within Visual Studio.

[2019-12-03 22:12] xenophilios commented on #15987
Hi Luke,

Thank you for such a fast reaction.

First of all, try to imagine that the person reading this article may have no prior knowledge of its subject matter. That is the case with me and it may be the case with other people too.

My recommendation would be to start out with a specific, common problem that can be best solved by the use of options. Then show how to solve it with options. If th

[2019-12-03 23:01] guardrex commented on #15987
Thanks for providing your feedback. A little backstory on this one ...

What you see here is practically the *first version* of the topic. It was written from scratch after the Options API was built out by the engineering team several releases ago, and it's only been updated for API changes with framework releases since then. We don't get many complaints about this topic. Prior to your remarks her

[2019-12-03 23:01] NXTwoThou commented on #15986
Not so much unfortunately.  I went through the steps to report the problem(went to publish, hit edit, showed dropdown, saved, brought up the .pubxml, tried it on two other publish profiles to demonstrate the same thing) and after I recorded the steps it said "preparing" and I finally killed the process after 40+ minutes of doing nothing.

I mostly replied to the docs because you are hopefully abou

[2019-12-03 23:06] #11032 closed

[2019-12-03 23:20] anurse commented on #15839
This is a very MVC-centric document currently, would it still be MVC-centric? I can have someone review it, but it might be good to have someone on @mkArtakMSFT 's team look at it since they'd have experience with MVC and unit testing.

[2019-12-03 23:21] #15968 closed

[2019-12-03 23:28] guardrex commented on #15986
The only thing that jumps to mind is the version. Are you on the just-released 16.4 version (**not preview**) that came out today?

[2019-12-03 23:37] #7212 closed

[2019-12-03 23:48] guardrex commented on #10946
This one wasn't addressed by https://github.com/aspnet/AspNetCore.Docs/pull/10929, but that's cool ... let me take a look in January on issues such as https://github.com/aspnet/AspNetCore.Docs/issues/15987 and at least one other one that I need to track down. This is cross-linked to that issue now, so I'll put an :eye: on this for Options topic updates when I get get to it. 🏃😅

[2019-12-03 23:48] #10946 closed

[2019-12-03 23:50] guardrex commented on #15987
Cross-link :point_right: https://github.com/aspnet/AspNetCore.Docs/issues/13910

[2019-12-03 23:57] guardrex commented on #15986
I don't want to keep this open given the issue load. @NXTwoThou, try the latest VS that just came out today ... 16.4. See if that's still an issue with this version that just released. If so, let the VS team know via the *Report a Problem* process. I assure u ... it isn't a *black hole* ⚫️. :smile: Human :eyes: will see your issue filed that way.

[2019-12-03 23:57] #15986 closed

[2019-12-04 00:19] NXTwoThou commented on #15986
Correct, 16.4.0.  I saw the blog post about 3.1 being released, checked for VS update, installed, rebooted, loaded up vs, changed my project target to 3.1, updated extensions/GitHub, compiled, ran in debug, tested everything, switched to release, tested everything, installed 3.1 hosting bundle on all servers, went to publish, got an error about not being able to find 3.0, double checked my publish

[2019-12-04 00:20] Rick-Anderson commented on #86
Moved to #1470

[2019-12-04 00:20] #86 closed

[2019-12-04 00:31] Rick-Anderson commented on #6295
@scottaddie  should we add  `## Use [Consumes] attribute`
`[Consumes]` is an attribute developers can use to limit an action to handling a set of specified content types, or choose a different action based on the request content type.

to [Create web APIs with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-3.1) ?

@serpent5  if you could PR that topic with your

[2019-12-04 00:43] guardrex commented on #15986
Unfortunately, I don't have a contact on the VS team to receive a problem that the **Report a Problem** process can't accept. We're working off of https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019, and teans are highly compartmentalized. That's how they recommend to users to get in touch with them. We only handle ASP.NET Core docs here, so we

[2019-12-04 00:45] pwen090 opened #15994 "Disable registration 'Remove the code and links from the cshtml file.'"
Hello, upgrading a project to 3.1 and love the new detailed documentation steps to disable registration. One point of clarification on the last step you mention "Remove the code and links from the cshtml file."

Did you mean to essentially comment out everything below the &lt;h1&gt;@ViewData["Title"]&lt;/h1&gt; line in the RegistrationConfirmation.cshtml file?

Like this:
![image](https://user-ima

[2019-12-04 00:47] xenophilios commented on #15987
Hi Luke,

Thank you for taking the time to write at such length.

In the comment I posted on your site, I was only asking for a more realistic example of the class MyOptions, something that should not take more than five minutes of effort. I was not asking for anything remotely approaching a complete or radical rewrite of the article. So far I have only read the beginning of it, because at the mom

[2019-12-04 00:50] rpc-scandinavia commented on #14323
Ok, you are welcome to make the update.

I clicked "Edit" at the top of the page (https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/?view=aspnetcore-3.1&tabs=visual-studio)

Then I clicked the pencil to "Edit this in my fork" on this page (https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/host-and-deploy/blazor/index.md)

And finally edited and clicked "Propose fil

[2019-12-04 01:00] guardrex commented on #15987
This example covers all of the scenarios in the topic. Although we can't have several samples, we certainly could have **_several classes_** in the sample ... one per scenario. The simplest class might be best for the opener ... then a more advanced class for more advanced scenarios. It was just expedient at the time to have one class to demo all of the scenarios. Also, I hear you on making the Op

[2019-12-04 01:03] guardrex commented on #14323
Hummm ... that's to `master` on your fork, but we need the PR to hit `master` here.

I'll take care of it. No worries. I'll ping u on the PR.

[2019-12-04 01:04] guardrex commented on #14323
I'm on a *brain fry* 😵 tonight tho ....... I'll get back to this asap. It might be a day or two.

[2019-12-04 01:24] halter73 commented on #11687
Exposing a ConnectionId only leads to easy impersonation if either the SignalR server _or_ the client with the ConnectionId is pre-3.0. If you have a 3.0 server and client, only the ConnectionToken (which isn't exposed via any APIs) and not the ConnectionId needs to be kept secret.

However, since it can be hard to ensure that older clients aren't connecting to the server, I think it's still best

[2019-12-04 01:37] guardrex opened #15997 "Update Blazor common samples to 3.1"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version Independent ID: 8226ed72-69b2-3c93-a931-218bd11cf9c8
* Content: [Get started with ASP.NET Core Blazor](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.1&tabs=visual-studio)
* Content Source:

[2019-12-04 01:43] Rick-Anderson commented on #15486
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-04 01:43] #15486 closed

[2019-12-04 02:03] Rick-Anderson commented on #9307
@scottaddie  just checking, I don't see this addressed in the article.

[2019-12-04 02:09] Rick-Anderson commented on #6476
That's a decision the repo owner makes.

[2019-12-04 02:09] #6476 closed

[2019-12-04 02:10] #6285 closed

[2019-12-04 02:17] #13394 closed

[2019-12-04 02:23] Rick-Anderson commented on #15994
Yes

[2019-12-04 02:23] #15994 closed

[2019-12-04 02:43] Rick-Anderson commented on #15839
@anurse  no, it will be MVC, Razor Pages, and Web API.
 @mkArtakMSFT  can you assign someone to review my outline?

@ardalis  suggests we don't show unit testing at all and just delete this article.

[2019-12-04 02:43] #13772 closed

[2019-12-04 02:55] Rick-Anderson commented on #9096
Closing since moved to #10553 to track.

[2019-12-04 02:58] Rick-Anderson commented on #10553
See also #15987

[2019-12-04 02:58] Rick-Anderson commented on #15987
Moved to #10553

[2019-12-04 02:58] #15987 closed

[2019-12-04 02:59] Rick-Anderson commented on #9094
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-12-04 02:59] #9094 closed

[2019-12-04 03:00] Rick-Anderson commented on #9078
@Antaris  just checking in

[2019-12-04 03:02] Rick-Anderson commented on #8814
Closing for now. We can revisit when we have time.

[2019-12-04 03:02] #8814 closed

[2019-12-04 03:26] Rick-Anderson commented on #8585
@eriawan  checking in. A 3.1 version would be great - or 5.0 :)

[2019-12-04 03:26] #7998 closed

[2019-12-04 03:27] #7610 closed

[2019-12-04 03:41] dannevesdantas commented on #8585
Hey guys, are you searching for contributors to help writing the server/client side culture docs?

[2019-12-04 03:56] Rick-Anderson commented on #9785
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-12-04 03:56] #9785 closed

[2019-12-04 04:00] Rick-Anderson commented on #9712
Closing as there is no doc bug.

[2019-12-04 04:00] #9712 closed

[2019-12-04 04:02] SaebAmini opened #16000 "Incorrect guidance on ConfigureServices execution order"
In the section "Customize WebApplicationFactory", it says:

&gt; The SUT's database context is registered in its Startup.ConfigureServices method. The test app's builder.ConfigureServices callback is executed **after** the app's Startup.ConfigureServices code is executed.

This is incorrect. If you follow the guide with breakpoints, you can see that it's the other way around and the test app's `bu

[2019-12-04 04:36] guardrex commented on #16000
Hello @SaebAmini ... Are you using ASP.NET Core 2.2 (or earlier) or 3.0 or later? We made some changes to the topic recently regarding order there, which changed with the 3.0 release. If you set the doc version selector back to 2.2, you'll see that line disappear.

[2019-12-04 04:38] eriawan commented on #8585
@Rick-Anderson
yes, I think 3.1 is better and it should be not much different on 5.0.

thanks for your patience! I'm still testing it, especially on the latest Chrome, Firefox and MS Edge beta that uses Chromium.

[2019-12-04 04:39] SaebAmini commented on #16000
I am using ASP.NET Core 2.2, and you're correct that it does disappear. So is this a breaking change between 2.2 and 3.0? if so, what's the reason for this breaking change?

[2019-12-04 04:43] guardrex commented on #16000
Stand-by ... I'll see if I can track it down.

[2019-12-04 04:46] guardrex commented on #16000
Might be explained here where Javier speaks about the new Generic Host (at 3.0) and old Web Host (prior to 3.0) :point_right: https://github.com/aspnet/AspNetCore/issues/13918#issuecomment-532162945

[2019-12-04 04:46] guardrex commented on #16000
I'll see if there was an announcement on it next.

[2019-12-04 04:57] guardrex commented on #16000
I don't see a formal announcement ... it was brought to my attention by a member (or two) of the community who were having trouble getting service replacements to work and by Javier who explained it out and assisted with the topic updates. The work was done here :point_right: https://github.com/aspnet/AspNetCore.Docs/pull/15096. If you flip that over to its diff, you can see exactly what the chang

[2019-12-04 05:00] guardrex commented on #16000
Oh ... and the closest that I could find on the **_two containers_** to **_one_** is the remark on this announcement :point_right: https://github.com/aspnet/Announcements/issues/353; but as you can see, it doesn't get into the weeds like Javier's answer on that issue does.

[2019-12-04 05:02] guardrex commented on #10553
I can probably work on this in January if there's interest. I was going to work over the topic on the other issue and even address some of the concerns forwarded on a similar issue from a different community member posted several months ago. We can discuss the *options* :smile: here and take it from there. Assign me if you want me to address it in January.

[2019-12-04 05:19] SaebAmini commented on #16000
Wow, thanks so much for your amazingly quick response and great info @guardrex! if it wasn't for your detailed and relevant responses I would have suspected I'm getting automated answers! 😄

Back to the point, while the explanation makes sense, I find this change super confusing, and I think it should be called out clearly in the docs that this has been a breaking change compared to previous versi

[2019-12-04 05:55] #9474 closed

[2019-12-04 05:59] Rick-Anderson commented on #8585
@dannevesdantas  always looking for help.

[2019-12-04 06:00] #13697 closed

[2019-12-04 06:10] hishamco commented on #8585
Me too :smile:, but I'm not sure why this takes so long, without any draft?!!

[2019-12-04 06:51] garethj-msft opened #16001 "Directionally this page is problematic"
Leaving aside this page's fixation with the outdated swagger terminology, it focuses on a generative approach to OAS descriptions of services.

The API community on the whole is probably about 60/40 in the direction of design-first rather than code-first OAS usage.

Thus, OAS is a hand-crafted artifact produced before code for services is written and used to lead and validate the design and evolut

[2019-12-04 06:56] snowchenlei opened #16031 "How to Get/Set A Type Not byte[]"
### Is your feature request related to a problem? Please describe.
I Need Get/Set A Type Not byte[]

### Describe the solution you'd like
[code]

@Rick-Anderson  edit: Integrated issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d01025d-86b2-bb2d-86c1-ef0695bc98e3
* Version Independent ID: 5b9a6572-3671-0d54-b2ef-8

[2019-12-04 07:03] ardalis commented on #15839
...or if not delete it, use it to talk about why unit testing controller methods has disadvantages and talk up unit testing other things (like your services and domain logic) but using integration tests for controller actions, etc. :)

This used to live in the asp.net core docs long ago but you could certainly link to it from such an article if you didn't just delete it: https://docs.microsoft.com

[2019-12-04 08:16] christopheblin commented on #15831
Any progress on this ?

One of my colleague encountered the exact same problem yesterday due to the exact same situation and he lost some time to investigate because the error message "Supplied channel credentials do not allow composition" is pretty obscure (filled a bug directly in gRPC .NET for that : https://github.com/grpc/grpc-dotnet/issues/679)

[2019-12-04 08:52] hamdarsi opened #16002 "Using a different environment when running integration tests"
Some integration tests may need to use a custom or non-default hosting environment. This document provides a sample on how to do this, but unfortunately the `Set the environment` section does not match well with ASP.Net Core version 2.1 and 2.2 (I only checked these two specific versions)

I made it work using these steps:
1. Create a custom appsettings.[environment].json file
2. Create a custom W

[2019-12-04 09:21] Errors4l commented on #15871
No problem. I hope you're feeling better.

Correcting the namespace of the `SharedResource` class would break the reference to the resource file (which was the issue I initially faced), so I'm not going to PR that.

The information is there. It's just very easy to overlook the fact that the file `Localization/Resources/SharedResource.cs` has the full type name `Localization.SharedResource` rather

[2019-12-04 09:27] codingsteff opened #16003 "AllowCredentials and no authentication"
Why do the credentials need to be enabled even if authentication is not used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8af11946-ea05-3be2-6fa1-c4c01aa76d8c
* Version Independent ID: 58e87eb0-240b-ab00-c5f4-32a0ab2e0028
* Content: [Security considerations in ASP.NET Core SignalR](https://docs.microsoft.com/en-us/a

[2019-12-04 09:41] Svetomechc commented on #12727
@joshpearce of course I am. [https://github.com/matteofabbri/AspNetCore.Identity.Mongo](AspNetCore.Identity.Mongo) in particular. The issue is not specific to the store, though. It remains if I switch over to EF Core and SQLite / SQL Server.

[2019-12-04 11:20] lhemkendreis opened #16004 "Typo?"
It says:
&gt; "For example, an authorization policy can specify by name which authorization scheme (or schemes) should be used to authenticate the user."

Shouldn't it be "[..]which authentication scheme [..] to authenticate the user" ? If it is not a mistake - i.e. if I am just failing to understand it - then it would be helpful to add an explanatory sentence in there to prevent this sort of conf

[2019-12-04 11:33] MV10 opened #16005 "Minor - "Host" missing in sample code"
For the sample code at the start of the "Create logs in the Program class" section, `CreateDefaultBuilder(args)` should be `Host.CreateDefaultBuilder(args)` -- the `Host` portion is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-f367-d733-

[2019-12-04 12:11] t-hart opened #16006 "3.1 update: Filters"
It's not quite clear from the docs whether you can use filters with routing that isn't based on MVC. For instance, I'm working on upgrading an app from 2.2 to 3.1 now, and where we previously used MVC routing, we now want to use Routing/Endpoint as per the recommendations. Also, because it's a web API using endpoint option's `MapControllers` makes getting the routes trivial. However, we previously

[2019-12-04 12:19] xenophilios commented on #15987
Thank you, Luke. Enjoy your vacation.

With best regards,

Eric

From: Luke Latham [mailto:notifications@github.com]
Sent: Tuesday, December 03, 2019 7:01 PM
To: aspnet/AspNetCore.Docs
Cc: xenophilios; Mention
Subject: Re: [aspnet/AspNetCore.Docs] Options topic review (#15987)

This example covers all of the scenarios in the topic. Although we can't have several samples, we certainly could have se

[2019-12-04 12:47] guardrex commented on #16000
I can take a look, but there will be a delay. The 🎁 holidays ⛄️ are here, and I'm out for three weeks ... **_in two weeks_** *WOOT!* :smile: I'll schedule this for January.

[2019-12-04 12:59] guardrex commented on #16002
Hello @hamdarsi ... Yes, there are a few ways to do it. The approach shown in the topic today is what engineering approved after discussing it when other developers wrote in to ask. We'll maintain it this way ... at least for now ... we'll keep and :ear: open for more feedback like yours and probably react if many devs write in about it. There's a discussion on it (and the approach that you settle

[2019-12-04 12:59] #16002 closed

[2019-12-04 13:03] guardrex commented on #15987
It's scheduled for a :eyes: look in January. This issue is cross-linked, so our discussion here won't get lost. I kind'a think that the other issue was addressed by engineering on a commit that one of the engineers made over there, but I'll take a look. We'll use that one to track work. Thanks for writing in.

[2019-12-04 13:21] ogswr opened #16007 "Is it posibble to setup nginx grpc reverse proxy(TSL) with kestrel?"
I tried nginx grpc_pass directive without any success. I want sample examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e548cd16-b06c-5802-a1a7-c627167857ae
* Version Independent ID: c48abb08-bea3-dcff-c067-2edf5dc9b3a6
* Content: [Configure ASP.NET Core to work with proxy servers and load balancers](https://docs

[2019-12-04 13:22] ikke01 opened #16008 "How do I set the ports in a live SignalR environment. In debug mode it works well, but when we publish it runs only on the default port 5000"
# Before you open an issue

If the issue is with an ASP.NET Core document, open the issue with the **Content feedback** button at the bottom of that document page.

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, conside

[2019-12-04 13:23] guardrex commented on #16004
Slight change to the wording should work ...

I'll patch that up right now. Thanks for writing in on it.

[2019-12-04 13:29] djary commented on #15895
+1 today core 3.1 is out

[2019-12-04 13:30] dannevesdantas commented on #8585
Can we help in some way @eriawan? Do you need some help?

[2019-12-04 13:35] guardrex commented on #16005
Hello @MV10 ... Referring to the first example? It's ok ... it's calling `CreateHostBuilder`, which returns an `IHostBuilder`. It could add a little boilerplate, but that might be overkill.

[code]

[2019-12-04 13:41] guardrex commented on #16007
Pinging @jamesnk to look at your request @ogswr ... or @jamesnk probably knows who we can ask (e.g., `shirhatti`? ... given that this is an Nginx question).

[2019-12-04 13:45] guardrex commented on #16008
Hello @ikke01 ... You'll get a faster response if you close this and use the **This Page** feedback button+form at the bottom of the topic. It adds metadata to the issue and automatically pings the author of the topic.

[2019-12-04 13:49] #15997 closed

[2019-12-04 14:10] rajugaddam1224 opened #16011 "Always showing window service status as "starting""
I have taken sample code from docs of Microsoft and start the service but showing service status as starting.  I need to stop the service but stop option disabled.  I am using .netcore3.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0bd8cb8-7e28-8c4d-a550-3aea8f3ab4dd
* Version Independent ID: 4b60d24e-ef05-15e5-10

[2019-12-04 14:44] guardrex commented on #16011
Hello @rajugaddam1224 ... We recommend Stack Overflow and support chat until a problem is narrowed down to a specific problem with an app and/or topic. Sorry that we can’t provide direct support, but there are just a few of us here working on a large backlog of issues. Please ping us back if you discover a specific regression In the topic and/or sample.

[2019-12-04 14:44] #16011 closed

[2019-12-04 14:48] #10832 closed

[2019-12-04 14:50] scottaddie commented on #15884
Fixed in https://github.com/aspnet/AspNetCore.Docs/pull/15977

[2019-12-04 14:50] #15884 closed

[2019-12-04 14:58] mjrousos commented on #16004
Yep, good catch, @lhemkendreis. Thanks!

[2019-12-04 15:05] MV10 commented on #16005
It won't compile that way, `Host.` is missing:

![image](https://user-images.githubusercontent.com/794270/70153735-6c2f8c80-167d-11ea-9e85-950eb255788a.png)

It should be:

[code]

[2019-12-04 15:07] MV10 commented on #16005
![image](https://user-images.githubusercontent.com/794270/70154018-ce888d00-167d-11ea-8ee4-22981ba71d34.png)

[2019-12-04 15:34] emumanu commented on #15205
It seems like it is not a bug:

https://github.com/aspnet/AspNetCore/issues/15170

Please update the documentation.

[2019-12-04 15:40] guardrex commented on #16005
It’s not the complete example. The `CreateHostBuilder` method calls `Host.CreateDefaultBuilder` and returns an `IHostBuilder`. It can show the code I suggested. See the next example in this section. I’m at the 🏋 gym 💪 on the treadmill ... hard to type a little more context for what I’m proposing.

[2019-12-04 15:42] guardrex commented on #15205
Ok ... thx ... I’ll put an 👁 on it ASAP.

[2019-12-04 15:46] scottaddie commented on #16000
This issue is closely related to https://github.com/aspnet/AspNetCore.Docs/issues/14973

[2019-12-04 15:57] #16004 closed

[2019-12-04 16:31] guardrex commented on #16005
*BACK!* :smile: ... that treadmill nearly 💀 me! 🏃🏃🏃😅

It's best if we show the recommended approach that calls `CreateHostBuilder`. So, here's a more fleshed-out example of what I propose for that example ...

[code]

[2019-12-04 16:38] CeciAc opened #16014 "Violation of the principles of MVC"
The comment below was machine translated

@aford9880 commented on [Wed Dec 04 2019](https://github.com/aspnet/AspNetCore.Docs.ru-ru/issues/65)

The expression "var movieGenreVM = new MovieGenreViewModel" in the controller does not violate the principles of MVC, creating a rigid binding of the controller action method to the model? Correct. please if i'm wrong. Thanks)

---
#### Сведения о документ

[2019-12-04 16:58] cheesemacfly commented on #14831
I think we now have to use `AddControllers` or `AddControllersWithViews` to get the same behavior: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#mvc-service-registration.

So the example becomes:
[code]

[2019-12-04 17:09] anthcool opened #16015 "BlazorServer sample is missing minified bootstrap files."
@guardrex

The BlazorServerSample located at aspnetcore/blazor/common/samples/3.x/ does not work correctly due to missing a dependency on Bootstrap for styling.  I get the following error in my dev tools in Chrome due to such.  Please add these into the sample when time permits.  Thanks!

![image](https://user-images.githubusercontent.com/5133304/70164206-fd066800-167d-11ea-8db9-277945835ab3.png)

[2019-12-04 17:10] guardrex commented on #16015
Hello @anthcool ... sure thing ... I'll take a look at that right now.

[2019-12-04 17:15] Rick-Anderson commented on #14831
@cheesemacfly  for RP use `AddRazorPages`

[2019-12-04 17:16] guardrex commented on #15922
@Tratcher ... a question on Windows Auth and Linux. I waited until after 3.1 to ping. 🏃😅

Whatever the answer, also let me know which bits should be covered from your response, if anything.

[2019-12-04 17:22] Rick-Anderson commented on #16014
The code is fine.

[2019-12-04 17:22] #16014 closed

[2019-12-04 17:22] guardrex commented on #16015
Oh, yeah ... I see where things went badly. This is a relatively new sample, and it was built directly from the template. We want to try and avoid the whole repo becoming *gigantic* with styles, so the styles for the app were moved from the WebAssembly sample app (*site.css*) here. The link to the minified styles should be dropped here. I'll get this sorted out *right now*. I'll kill that link and

[2019-12-04 17:23] anthcool commented on #16015
Sweet deal!  Thank you!  You rock!  Appreciate your hard work and time.

[2019-12-04 17:25] cheesemacfly commented on #14831
I tried and it doesn't work for me. I have a filter like this:

[code]

And then in the startup.cs this doesn't work (the filter is never triggered):

[code]

but this works:

[code]

Am I missing something? I'm using 3.0 not 3.1 if it matters.

[2019-12-04 17:30] Tratcher commented on #15922
@guardrex we finished 3.1 weeks ago 😁.

That's odd, the HTTP SPNs are required for a Windows server. I recall my Linux server not working without them, but I didn't try many variations. Which client are you using?

Curious, I never saw that warning.

@davidsh, any insights on these?

[2019-12-04 17:38] guardrex commented on #16015
Reversing what I just said. 🤦‍♂ ... I see the **_real problem now!_** Looks like I'll need to explicitly allow the bootstrap file because we have a repo-wide gitignore rule to kill off minified assets. No worries ... I'll get that squared away.

[2019-12-04 17:39] guardrex commented on #16015
☝️ What I said earlier **does** apply to **most** of our samples. I often embed styles into sample apps into a `<style>` tag to avoid making samples big.

[2019-12-04 18:05] #16015 closed

[2019-12-04 18:49] #16005 closed

[2019-12-04 18:54] guardrex commented on #15205
I reviewed the engineering issue. It looks like they decided not to make changes to the template. We most definitely need to call out more clearly ...

I'll ping u on the PR.

[2019-12-04 19:04] Rick-Anderson commented on #16006
I think you need to edit your question and change MVC to Controllers and Views. It's all MVC.

Is the real question how do I use filtering with a 3.1 API project that changes
[code]
to
[code]

And in `Configure` 3.1 uses

[code]

Rather than

`app.UseMvc();`

[2019-12-04 19:20] scottaddie opened #16020 "Create LTS-to-LTS migration doc (2.1 to 3.1)"
As requested in https://github.com/dotnet/docs/issues/16081, it would be useful to provide LTS-to-LTS migration guidance.

[2019-12-04 19:43] MV10 commented on #16005
Doh! Can't believe I overlooked that. (I'm not a fan of the `CreateHostBuilder` approach since it doesn't work well for larger, real-world apps, so I'd forgotten MS does that everywhere.)

[2019-12-04 19:45] dcp12345678 opened #16021 "EventLog"
In your first code example, you provide an example of logging using AddEventLog, but you never indicate *where* in the event log the message gets written.  I've yet to be able to find the message in the event log.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent

[2019-12-04 19:52] guardrex commented on #16021
It's described in the provider section :point_right: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#windows-eventlog-provider

[2019-12-04 20:05] #13299 closed

[2019-12-04 20:09] wadepickett commented on #13299
@ShinraCorpMixer, fixed and closed with pr #15985 , thanks again for your feedback.

[2019-12-04 20:17] dcp12345678 commented on #16021
I found the message.  Thanks.  It might be good to just add a sentence to this doc saying that by default, the message goes to the "Application" section of Windows Logs, along with a screenshot.

[2019-12-04 20:18] JamesNK commented on #16007
Sorry I have no idea.

[2019-12-04 20:21] JamesNK commented on #16006
MvcOptions isn't related to routing. You can still do this in Startup.cs:

[code]

[2019-12-04 20:26] guardrex commented on #16021
I don't think that we can guarantee that ...

https://github.com/aspnet/Extensions/blob/master/src/Logging/Logging.EventLog/src/WindowsEventLog.cs#L18

... `logName` isn't set in stone.

[2019-12-04 20:28] guardrex commented on #16007
@ogswr Try [Stack Overflow](https://stackoverflow.com/questions) or support chat ...

* [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/)
* [ASP.NET Gitter](https://gitter.im/aspnet/Home)

... there's a wealth of experience. If you come up with some guidance that you'd like to pitch for adding to the topic, either comment back here or open a new issue with the **This Page** feedba

[2019-12-04 20:28] #16007 closed

[2019-12-04 20:32] guardrex commented on #16021
Yeah ...

https://github.com/aspnet/Extensions/blob/master/src/Logging/Logging.EventLog/src/EventLogSettings.cs#L16

... we could say "default" ... that's cool. @Rick-Anderson, I'm chill'in waiting for Blazor reviews, so you can assign me if you want.

[2019-12-04 20:33] guardrex commented on #16021
... and call out the defaults for `SourceName` and `MachineName` as well!

[2019-12-04 20:47] guardrex commented on #16021
I'm going to go ahead ..... I've already worked up the PR. :smile:

[2019-12-04 20:51] ogswr commented on #16007
Thanks. I'll try them.

[2019-12-04 20:58] #16021 closed

[2019-12-04 21:18] emumanu commented on #15205
Yeah, if it does not work synchronously it should be clearly specified, because even if the async virus is spreading through the classes a lot of people prefer using synchronous calls.

Also, explaining the underlying reason for that behaviour would be nice. And If there is a workaround, it should also be documented.

[2019-12-04 21:35] serpent5 commented on #6295
Sure. I've got a couple of things to sort out before I can get to this, but I can do it.

[2019-12-04 21:36] Rick-Anderson commented on #6295
@serpent5  thanks, no hurry.

[2019-12-04 22:02] berik commented on #12727
@joshpearce thank you. This solved my issue.
I've added
[code]

And whole picture

[code]

[2019-12-04 22:04] anurse commented on #15839
Honestly, I do tend to lean more towards integration tests these days (using things like TestServer instead of testing ActionResults), but I know that's not a universal opinion and I don't build many apps these days ;). Having some documentation on testing is still quite valid.

[2019-12-04 22:11] drdamour opened #16025 "override app configuration using azure leaves some things ambiguous"
in this section it says "When an app uses the Generic Host, environment variables aren't loaded into an app's configuration by default and the configuration provider must be added by the developer."

but in which cases IS the vars loaded into the app's configuration by default?

changing this sentence to indicate the cases they are auto loaded would make it clearer

---
#### Document Details

⚠ *D

[2019-12-04 22:59] Rick-Anderson opened #16026 "Create SameSite doc for System.Web"
Title says it all

[2019-12-04 22:59] Rick-Anderson opened #16027 "Create SameSite doc for Microsoft.Owin"
.

[2019-12-04 23:06] Rick-Anderson commented on #16001
@spboyer  please review.

[2019-12-04 23:08] Rick-Anderson commented on #16008
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2019-12-04 23:08] #16008 closed

[2019-12-04 23:08] guardrex commented on #16025
Hello @drdamour ... That section of text is antiquated. I think it goes back to before 3.0 GA. That's before the formal release of the Generic Host. Back in those days (2.2), the Generic Host didn't have a `CreateDefaultBuilder` method to call for building out a default host and adding providers for you, such as the Environment Variable Configuration provider ...

https://github.com/aspnet/Extensi

[2019-12-04 23:10] Rick-Anderson commented on #16003
Where does it say that's required?

[2019-12-04 23:37] cgountanis opened #16028 "Needs More Info (Publish Includes Many Microsoft.CodeAnalysis.resources.dll)"
https://github.com/dotnet/core/issues/3895

[2019-12-05 00:36] JamesNK commented on #15831
PR to improve the doc sample - https://github.com/aspnet/AspNetCore.Docs/pull/16029

[2019-12-05 01:39] #15831 closed

[2019-12-05 03:48] scottaddie commented on #16028
I suspect this feature is working as designed. Roslyn assemblies (those prefixed with Microsoft.CodeAnalysis.*) were removed from the shared framework as of 3.0. Those assemblies are needed to support runtime view compilation.

Have you already tried adding a `Condition` to your package ref? For example:

[code]

/cc: @pranavkm

[2019-12-05 04:12] jwisener commented on #15869
@Rick-Anderson I'll take that as a no.

[2019-12-05 04:17] jwisener commented on #15910
Does Microsoft officially support/offer this? Or is this just a 3rd party windows form application created by independent software developer?

[2019-12-05 07:30] windson commented on #15934
Can you point me to react asp.net core 3 publish steps documentation?

[2019-12-05 07:44] codingsteff commented on #16003
Line 31
"* Credentials must be enabled, even when authentication is not used."

[2019-12-05 09:41] t-hart commented on #16006
Aha, that does  it! Thanks @JamesNK; where to apply the  filters was what I was looking for and couldn't find any documentation on.

The first part (controllers and endpoints) was pretty easy to find in the documentation and the upgrade guide, but I couldn't find anything on where to put the filters after being told to replace `AddMvc`, so yes, the question could be reframed to how do I add filter

[2019-12-05 10:22] Svetomechc commented on #12727
@berik are you sure the problem has disappeared after that?

[2019-12-05 12:43] mattiasw2 commented on #15333
- Using aspnet core 3.0. I looked at aspnetcore/web-api/handle-errors.md and I cannot see any example of how to create an ProblemDetailsFactory. What am I missing?

- I would like to understand why "return BadRequest("missing id");" is not converted into a ProblemDetails json. Is this by design? Do I have to rewrite all BadRequest and NotFound and similar to Problem() like this:

`
      return No

[2019-12-05 13:11] Tratcher commented on #16031
Here's the other doc that could use a copy of the updated code sample:
https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed?view=aspnetcore-3.1

[2019-12-05 13:20] Tratcher commented on #16031
System.Text.Json samples:
https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-how-to
SerializeToUtf8Bytes looks like the best option here, it skips the extra string allocation.
(untested)
[code]

[2019-12-05 13:53] ATLSAPI commented on #15848
Cool, I'll do that @rynowak. Besides correcting `SocketsHttpClientHandler`, do we want to include any information about the compatibility of `System.Net.Http.SocketsHttpHandler` with certain NET Core versions (>=2.1) as it's currently displayed on all versions of the docs?

[2019-12-05 14:11] DrewBrasher commented on #15895
This is how I'm doing it in core 3.1:
`            app.UseEndpoints(endpoints =>
            {
                endpoints.MapControllerRoute(
                    name: "areaRoute",
                    pattern: "{area:exists}/{controller=Home}/{action=Index}/{id?}");
                endpoints.MapControllerRoute(
                    name: "default",
                    pattern: "{controller=Home}/{ac

[2019-12-05 15:12] spboyer commented on #16001
@garethj-msft - thanks for the feedback here. Perhaps some dialog with @glennc and the team on messaging would help.

cc: @scottaddie @bradygaster

[2019-12-05 16:04] cgountanis commented on #16028
I will give that a try but it would be nice if it would automatically in Release mode not include those since there are no CSHTML changing on a production machine.

[2019-12-05 16:24] scottaddie commented on #16028
@pranavkm Do you have any other ideas?

[2019-12-05 16:41] dougbu commented on #15910
The application is a 3rd party application. Our documents mention its use but Microsoft does not support it.

@RicoSuter can speak to why it's not signed.

[2019-12-05 16:53] jwisener commented on #15869
Closing this due to no response

[2019-12-05 16:53] #15869 closed

[2019-12-05 16:54] dougbu commented on #16001
The discussion of code- versus design-first doesn't fit in documentation of how to use the code-first features NSwag and Swagger produce. We may eventually document use of NSwag's ability to generate a controller from an OpenAPI description and maybe then it would make sense to mention design-first options.

/cc @bradygaster in case he wants to do something in the short term.

[2019-12-05 17:01] pranavkm commented on #16028
Conditionally referencing the package based on Configuration is the best option there is now.

[2019-12-05 17:17] cgountanis commented on #16028
Cool, trying it out. Do I have to do anything with the builder in the example or does it just work by adding properties to it? e.g. builder.AddRazorRuntimeCompilation();

[2019-12-05 17:21] scottaddie commented on #16028
I'm working on updating the doc right now. Here's a more complete example in the meantime: https://github.com/scottaddie/ContosoLending/blob/master/src/ContosoLending.Ui/Startup.cs#L31

[2019-12-05 17:23] cgountanis commented on #16028
Just a heads up before you gothrough all that work. I added Condition="'$(Configuration)' == 'Debug'" and the Startpp AddRazorRuntimeCompilation() still seems to be working in Release mode.

[2019-12-05 17:25] scottaddie commented on #16028
@cgountanis Did you also add the `Startup.ConfigureServices` change I mentioned above? That should prevent `AddRazorRuntimeCompilation` from executing in Release mode.

[2019-12-05 17:26] cgountanis commented on #16028
Will do just wanted to test it it parts.

[2019-12-05 17:28] cgountanis commented on #16028
Ahhh, once I cleared out the /BIN folder it did give me the expected error ''IMvcBuilder' does not contain a definition for 'AddRazorRuntimeCompilation'". Just had those old files in there fooling me :)

[2019-12-05 17:33] cgountanis commented on #16028
I am currently using AddControllersWithViews() not AddRazorPages(), assuming I can just add the  DEBUG logic for the AddRazorRuntimeCompilation() or should I change the way I am setting up. This is a basic MVC with EndPoints on Core 3.1, pretty much converted everything but I am still leaning on Razor pages for my CSHTML Views.

BTW, thanks for the help on this!

[2019-12-05 17:39] cgountanis commented on #16028
Maybe add both, jsut never needed AddRazorPages() before. Good practice to add all?

![image](https://user-images.githubusercontent.com/14899817/70259472-ddda0a00-1753-11ea-84f4-e6c5b1147531.png)

[2019-12-05 17:53] Rick-Anderson commented on #15910
@danroth27 please review. Seriously, you need to review this.

[2019-12-05 17:57] scottaddie commented on #16028
It sounds like there's no need for you to call `services.AddRazorPages();`. Call `services.AddControllersWithViews();` instead. You would only need the `AddRazorPages` method call if you have Razor Pages files (those *.cshtml files which are most often stored in a *Pages* directory and that contain an `@page` directive as the first line in the file).

[2019-12-05 17:58] cgountanis commented on #16028
OK, seems to be working, in the end I ended up with this:

[code]

I did not include the `if (Env.IsDevelopment())` as I did not want to deal with the global Env injection/variable. Not really needed for what I am doing.

[2019-12-05 18:06] cgountanis commented on #16028
I can confirm with the settings above, might be slightly different for various setups, MVC/Pages/Blazor but overall the Publish - Configuration: Release, now does NOT include all those debug files in the published file output.

I still think there has to be an easier way down the road but for now, this does work.

Thank you!

[2019-12-05 18:06] #16028 closed

[2019-12-05 18:30] RicoSuter commented on #15910
On the release page you can also download an xcopy version which can be started without installation and admin privileges. But  I agree that the app should be signed or provided via app store (better).

[2019-12-05 18:37] danroth27 commented on #15910
@glennc

[2019-12-05 18:48] Rick-Anderson commented on #15910
Thanks @RicoSuter  I'll add that to this doc and close the issue.

[2019-12-05 19:31] gregveres commented on #15680
That did fix it BTW.

[2019-12-05 20:10] scottaddie commented on #6295
@Rick-Anderson I'd recommend using HTTP REPL to test. It's our own product, no screenshots are needed, and the experience is consistent across all platforms. It's also supported in .NET Core 2.1 and later.

[2019-12-05 21:30] #1111 closed

[2019-12-05 21:40] guardrex opened #16041 "PID before the date"
Place the PID *before* the date in the filename per https://github.com/aspnet/AspNetCore/issues/17572.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe69b3a9-896f-e189-0c2c-f87ff735df9c
* Version Independent ID: 97c8549b-66ad-0a23-1971-784fb923042a
* Content: [ASP.NET Core Module](https://docs.microsoft.com/en-us/aspn

[2019-12-05 21:50] scottaddie commented on #14315
@RamanBut-Husaim This is a friendly reminder to provide a sample project so that our team can investigate further.

[2019-12-05 21:58] scottaddie opened #16043 "3.0 update: App secrets in development"
Update https://docs.microsoft.com/aspnet/core/security/app-secrets for 3.x.

[2019-12-05 21:58] berik commented on #12727
@Svetomechc for the first time, i've left running localhost for overnight and next morning it was working. Today I've repeated same action, but it started not working. So it didn't solve the issue :(

[2019-12-05 22:26] #16026 closed

[2019-12-05 23:07] #16043 closed

[2019-12-05 23:41] anurse commented on #14315
Perfect timing! I was looking for this bug and couldn't remember where it had been filed.

We got https://github.com/aspnet/Extensions/issues/2743 reported recently which is the same root cause. I managed to repro it and reported https://github.com/dotnet/sdk/issues/4007 to track this.

Since it's not a docs issue, it's a product issue, I think this can be closed.

[2019-12-05 23:46] #14315 closed

[2019-12-06 01:03] Rick-Anderson commented on #14221
`UseRequestLocalization() `call has to be placed after `UseAuthentication()`

See https://github.com/aspnet/AspNetCore/issues/14391

[2019-12-06 03:45] wadepickett commented on #14807
Completed early November.  Forgot to close thi.

[2019-12-06 03:45] #14807 closed

[2019-12-06 09:40] tasop-rsconnect opened #16047 "C# language version"
I found that changing TargetFramework to netcoreapp3.1 somehow downgraded the C# version. I got several errors about features not available in C# 7.3.
Adding the below in .csproj fixed that:

  &lt;PropertyGroup&gt;
    &lt;LangVersion&gt;8.0&lt;/LangVersion&gt;
  &lt;/PropertyGroup&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-12-06 10:31] Svetomechc commented on #12727
@berik that's what I suspected :c

[2019-12-06 10:44] Aetheria commented on #16047
Got the same error. It's strange that you have to set this explicitly.

[2019-12-06 11:51] mattiasw2 commented on #15333
The "The status code above is 404, but I see 200 in my browser" has been fixed in 3.1

[2019-12-06 11:56] RichMercer commented on #14831
I could do this these docs being updated too. It's not clear to me how we're supposed to pass services into global filters now with the startup changes in 3.0. For example, the _logger passed into the filter can no longer be done in that way.

[2019-12-06 11:59] Svetomechc commented on #12552
Can I extend the UI with anything other than Razor pages (Angular, for example)?

[2019-12-06 14:46] joshpearce commented on #12727
I have great respect for the work done in this project template, but I feel like anyone considering oidc-client instead of just old fashion session cookies for a web app, even an SPA, needs to think long and hard about whether they really need it. The surface area for subtle auth failure bugs is greatly increased by adding all the client-side logic, and I've never understood the benefits.

Here we

[2019-12-06 15:04] guardrex commented on #16041
There was a little miscommunication with the community and engineering on this one. The PID in the filename is covered correctly in the topic for ANCMv2. Turns out that the ask is to document ANCMv1, but we've never done that. We've always documented using the latest version of the ANCM. AFAIK, ANCM scenarios were rolled out at incongruous times with the framework, and it was best (perhaps safest)

[2019-12-06 15:04] #16041 closed

[2019-12-06 18:04] enkodellc opened #16052 "Needs the step for the Microsoft.AspNetCore.Authentication.Twitter Nuget Package"
At the top of this document you should put the step that people need to include the Nuget Package. You do this on the Facebook documentation but not on Twitter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb577d84-a06b-4d3e-a1c4-92c8a97a85aa
* Version Independent ID: 528fcbb8-5b0f-8340-743f-df612319a229
* Content: [

[2019-12-06 18:06] Rick-Anderson commented on #16052
Dup of #13300

[2019-12-06 18:09] Rick-Anderson commented on #16052
@wadepickett  can you get that added today? You don't need to do  #13300 today.

[2019-12-06 18:25] wadepickett commented on #16052
OK, I will get this done today, thanks.  I am also assigned to get getting over 11K SEO issues sorted out for all .NET areas at the moment so have been jumping back and forth a bit, sorry.  Let me get this Twitter one though, I want to finish it, thanks.

[2019-12-06 18:28] pkellner commented on #12982
There should be a "Note" on the docs at a minimum to say this is "worst practice" way to use cache. My preference would be to leave it out entirely rather than put a MyCache example that is just wrong and should not be used.

[2019-12-06 18:31] Rick-Anderson commented on #16052
@wadepickett  early next week is OK.

[2019-12-06 19:30] mkArtakMSFT commented on #15919
Thanks for contacting us.
@javiercn can you please look into this? Thanks!

[2019-12-06 19:39] mkArtakMSFT commented on #15731
@pranavkm can you please try to provide content for this (should be very little).

[2019-12-06 19:42] mkArtakMSFT commented on #15718
@rynowak can you look into this and see what we can add to cover the gap? Thanks!

[2019-12-06 19:43] mkArtakMSFT commented on #15464
@shirhatti FYI

[2019-12-06 19:44] mkArtakMSFT commented on #15395
@pranavkm let's get this covered in docs.

[2019-12-06 19:55] shoe788 commented on #14880
The docs say 443 is the default

https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-2.2&tabs=visual-studio#options

[2019-12-06 20:42] wadepickett commented on #16052
Updating for 3.0 twitter auth Nuget package right now so it matches the 3.0 overview and starter project, publishing, then updating to 3.1 for overview and rest of social auth afterwards.   The RTW 3.1 Twitter package just released requires ASP.NET Core 3.1

[2019-12-06 21:23] guardrex commented on #14880
Thanks @shoe788 ... that line isn't accurate. The *Port configuration* section is ok, but that line didn't get addressed the last time the *Port configuration* section was updated. I'll open a new issue to have that line addressed. Thanks for calling it out.

[2019-12-06 21:25] guardrex opened #16053 "Patch 443 default line"
Per https://github.com/aspnet/AspNetCore.Docs/issues/14880#issuecomment-562715464

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ddfb2f-5dea-5e31-2a27-02a4dc16104c
* Version Independent ID: 12ca0b9a-2638-a4ce-c45f-d4579c83dafb
* Content: [Enforce HTTPS in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/sec

[2019-12-06 21:32] guardrex commented on #15249
Pasting in the cross-refs for source for when this one is worked ...

* https://github.com/aspnet/AspNetCore/blob/release/3.1/src/Middleware/HttpsPolicy/src/HttpsRedirectionOptions.cs#L22-L25
* https://github.com/aspnet/AspNetCore/blob/release/3.1/src/Middleware/HttpsPolicy/src/HttpsRedirectionMiddleware.cs#L121-L125

btw - No delta between 3.0 and 3.1 for that source.

[2019-12-06 21:45] #16053 closed

[2019-12-06 22:37] CeciAc opened #16055 "Registration database context reference error"
The comment below was Machine translated

@skiingwang commented on [Fri Dec 06 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/223)

Data that should be referenced in startup.cs:
// RazorPagesMovieContext was be defined in Data.RazorPagesMovieContext.cs
using using RazorPagesMovie.Data;

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 6719f08e-3bd7-dc1a-7

[2019-12-06 22:57] #16055 closed

[2019-12-06 23:20] Rick-Anderson commented on #16047
@tasop-rsconnect  @Aetheria provide the smallest project that reproduces this issue, preferable on GitHub. I'm not able to reproduce this problem.

[.NET Core 3.0 adds support for C# 8.0.](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0) and 3.1 hasn't changed that.

cc @BillWagner @scottaddie

[2019-12-07 00:04] Rick-Anderson opened #16058 "Test issue"
Testing notifications

Adding @guardrex  here, I'm sure you'll get this notification. Looks like you didn't get notifications on remove/add @guardrex

[2019-12-07 00:05] guardrex commented on #16058
works :+1:

[2019-12-07 00:05] Rick-Anderson commented on #16058
Cleared Assignee then reassigned to see if you get a 2nd notification. Please respond with the answer and close this issue.

[2019-12-07 00:07] guardrex commented on #16058
yearp ...

<img width="466" alt="Capture" src="https://user-images.githubusercontent.com/1622880/70364685-3ba14b80-1853-11ea-9269-be28079cfb57.PNG">

[2019-12-07 00:07] #16058 closed

[2019-12-07 00:07] Rick-Anderson commented on #16058
Fantastic. So to ping the PU, all we need to do is remove them then add them back.

[2019-12-07 00:10] #16052 closed

[2019-12-07 00:14] wadepickett commented on #13300
Fixed with PR #16057

[2019-12-07 00:14] #13300 closed

[2019-12-07 00:17] Rick-Anderson commented on #15839
@javiercn  please approve or reject the [proposed outline of total rewrite of this article](https://github.com/aspnet/AspNetCore.Docs/issues/15839#issuecomment-561377302)

[2019-12-07 00:28] #15910 closed

[2019-12-07 02:10] #14611 closed

[2019-12-07 03:14] Rick-Anderson opened #16062 "Refactor by contiguous version"
It's currently too complex to update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceffa6a2-770c-1cd9-5145-dcd423f9dd22
* Version Independent ID: 1cb5eb30-dd84-e5e1-5826-d74243fabf04
* Content: [Use multiple environments in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/environments?view=aspne

[2019-12-07 03:26] #16062 closed

[2019-12-07 05:30] Multikatz commented on #11418
In my case, I had to use the camelCase notation for the objects that I receive in the android application. It worked correctly:

///Android code

///Object I receive from hub:

public class LocationPush {
    public String userName;
    public Double latitude;
    public Double longitude;
}

///Connection and subscribe:

 hubConnection = HubConnectionBuilder.
                create(

[2019-12-07 09:37] guanghuawu opened #16066 "global change"
Where and how to make a global change across the whole project of _context.Student to _context.Students.?There are 8 occurrences.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a54c97f-ddd4-b041-5e5f-a2df009ace50
* Version Independent ID: fa488196-1f98-08ea-adcc-17d9dac86727
* Content: [Razor Pages with Entity Framewo

[2019-12-07 13:30] guardrex commented on #15853
@danroth27 Need your ruling on this one in order to work it. :point_up:

[2019-12-07 14:10] guardrex commented on #12518
@danroth27 How you want void element closure handled?

* Leave them closed as they sit today ... and we can close this issue.
* Don't close void elements ... and put in an engineering PR for the templates to do the same.

[2019-12-07 16:44] xenophilios opened #16068 "Complete list of validation attributes"
In the section "Built-in attributes" the article says that "A complete list of validation attributes can be found in the System.ComponentModel.DataAnnotations namespace". I followed the link, but couldn't find the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0156ffc3-47ac-d5da-fbc2-9ff5018b071b
* Version Indepe

[2019-12-07 17:11] Rick-Anderson commented on #16066
That was only necessary in a previous version. What version are you following. YOu make the change with any editor.

[2019-12-07 17:11] #16066 closed

[2019-12-07 17:18] Rick-Anderson commented on #16068
![image](https://user-images.githubusercontent.com/3605364/70378188-bd2fc280-18c1-11ea-8c3c-ea20d44ff087.png)

[2019-12-07 17:18] #16068 closed

[2019-12-08 00:31] webczat commented on #15298
well endpoint routing seems to be the new thing that should be used for all routing, but most examples are for 2.2 and earlier, mvc documentation still uses UsemVC etc etc. confusing

[2019-12-08 04:01] mprabhu11 opened #16070 "Add note for Swagger 2.0 versus OpenAPI 3.0.x"
The steps as described above will generate the API spec in OpenAPI version 3.0.x format.
This will not work if the consuming tools do not yet support that format (e.g., PowerApps/Flows custom connector setup).
The following code can be used to generate Swagger 2.0 instead of OpenAPI 3.0 metadata:
            //use this instead of just app.UseSwagger() in Configure() above...
            app.UseSwa

[2019-12-08 05:19] guanghuawu commented on #16066
Thank you so much for your quick response. I use Visual Studio version3.1.0, the latest version. I have tried this tutorial for several times and all failed.

[2019-12-08 06:35] eavonius opened #16071 "How to inject dependencies?"
It appears there's no generic version of options.Conventions.AddFolderApplicationModelConvention or options.ConfigureFilter. Is there a way to get a hold of the service container within filters, or do we need to create a scope in Startup.cs (hack if you ask me) and pass dependencies in?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-12-08 06:50] Rick-Anderson opened #16073 "missing namespace in Add a database context class"
[Add a database context class](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-3.1&tabs=visual-studio-code#add-a-database-context-class)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a

[2019-12-08 06:52] Rick-Anderson commented on #16066
Where does the 3.1 version say to do that?

[2019-12-08 06:53] Rick-Anderson commented on #16071
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-12-08 06:54] Rick-Anderson commented on #15551
See note at end of that page

[2019-12-08 06:54] #15551 closed

[2019-12-08 12:52] sikora507 opened #16074 "Move last paragraph to the top"
Please move "Add Role services to Identity" to the top of the page and add explanation that in order to make role based authentication with attributes to work, you need to add this line ```.AddRoles<IdentityRole>()```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3668fea-5d71-a4fc-96d1-74b53906bf25
* Version Independ

[2019-12-08 15:27] eavonius commented on #16071
This is a question about the intent to offer similar function in ASP.NET Razor Pages as exists in MVC - namely the ability to allow the DI container to inject dependencies into filters. I'm not sure how Stack Overflow would help more than the source (Microsoft). Isn't a documentation topic on these specific classes' use the appropriate place to discuss this?

[2019-12-08 20:25] amccool opened #16076 "vague directions"
When using the preceding code, controller methods should return the appropriate format based on the request's Accept header.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ebcd752-af71-c483-eebb-0745bd04fb30
* Version Independent ID: 1f678d5d-230b-0ad0-c925-15b13081f553
* Content: [Format response data in ASP.NET Core

[2019-12-08 21:03] williamnoble opened #16077 "Scaffolding a controller on Mac"
In order for my scaffold to succeed on Mac I had to remove the Nuget Package Microsoft.VisualStudio.Web.CodeGeneration.Design (version 3.1.0) and then re-install as version 3.0.0, in case anyone else has issues. Prior to this, it would fail with error 'Unhandled exception. System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.VisualStudio.Web.CodeGeneration.Utils, Version=3.1

[2019-12-08 23:04] guardrex commented on #16077
Try this just to make sure that cached packages aren't to blame:

1. Reset the version of that package to `3.1.0`.
2. Clear the package cache by executing [dotnet nuget locals all --clear](https://docs.microsoft.com/dotnet/core/tools/dotnet-nuget-locals) in a Terminal console.
3. Restore and build the project again.

If you still get the same exception, open an issue over at https://github.com/asp

[2019-12-08 23:04] #16077 closed

[2019-12-09 00:23] Rick-Anderson commented on #16073
Not necessary.

[2019-12-09 00:23] #16073 closed

[2019-12-09 02:02] jjxtra opened #16079 "Does not work on MAC"
Not sure if this was tested on MAC, but I just get a blank Loading... screen, this is latest MAC with latest VS 2019 and .NET core SDK 3.1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version Independent ID: 8226ed72-69b2-3c93-a931-218bd11cf9c8
* Content: [Get started with ASP.

[2019-12-09 02:11] jjxtra commented on #16079
It works if I dotnet build and then dotnet run from terminal. If I try to run from within visual studio, I get an error that the .exe file is not found, weird because I'm on a MAC...

[2019-12-09 08:01] brentbrinkley commented on #15859
Whoever this contributor is is terrible. Saying the tutorial works try asking stack overflow on every comment is so unhelpful you might as well not even respond.

[2019-12-09 08:05] brentbrinkley opened #16080 "Replace Contributor"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d975a83-1550-b284-d0d8-7fe2ea206ff5
* Version Independent ID: 48e81b42-7c2b-afbf-71e6-d4f442a4bd1f
* Content: [Add a model to an ASP.NET Core MVC app](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model?view=aspnetcore-3.1&tabs=visual-studio-c

[2019-12-09 08:15] tasop-rsconnect commented on #16047
It turns out that this was a result of VS not being the latest version (16.4). I was mistaken about having upgraded to it.

[2019-12-09 11:38] owlyowl opened #16081 "API Calls 401 on a custom domain?"
I've got a funky one with the new dotnet core 3 scaffolded react app with JWT.

I followed the example above and added a pfx generated via openssl and altered appsettings.json to look like so:
"IdentityServer": {
    "Clients": {
      "MyAppName.Web": {
        "Profile": "IdentityServerSPA"
      }
    },
    "Key": {
      "Type": "Store",
      "StoreName": "My",
      "StoreLocation": "Curren

[2019-12-09 12:08] guardrex commented on #16079
Which hosting model are you using? Blazor Server should work. Blazor WebAssembly isn't supported in VS4Mac yet.

[2019-12-09 12:47] #16080 closed

[2019-12-09 12:47] #16079 closed

[2019-12-09 13:18] pocki opened #16083 "SharedResources on ASP.NET Core 3.0 Project not working after updating Visual Studio to v16.4.0"
Since updating Visual Studio to v16.4.0 the SharedResources Keys are not found anymore in  ```IHtmlLocalizer<SharedResource>``` my ASP.NET Core 3.0 MVC WebApp. When the ASP.NET Core 3.0 App gets compiled with Azure Pipeline Hostest Windows-2019 Agent (actual running Visual Studio v16.9.x) it is running and working as expected.

I use CookieRequestCultureProvider, and Cookies are set und read corre

[2019-12-09 14:59] guardrex commented on #12833
@Tratcher For ...

* `Microsoft.AspNetCore.Authentication.Negotiate`
* `Microsoft.Extensions.DependencyInjection.NegotiateExtensions.AddNegotiate`

... I'm waiting on these to appear in the API browser for cross-links, but a request to include the API might not have been made. Can u assist, or who should be pinged?

[2019-12-09 15:05] Tratcher commented on #12833
@Rick-Anderson @anurse these should have been included in the 3.0 API update?

[2019-12-09 16:06] #15944 closed

[2019-12-09 16:26] guardrex opened #16086 "CertAuth topic code block improvements"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b7960d-6de5-78ee-bc45-d7218239bbc8
* Version Independent ID: d2db534b-198a-dc99-5b5a-0525582d39ac
* Content: [Configure certificate authentication in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/certauth?view=aspnetcore-3.1)
* Cont

[2019-12-09 16:39] #16047 closed

[2019-12-09 16:41] #16086 closed

[2019-12-09 17:06] bradygaster commented on #16001
Though I agree @garethj-msft on the "design versus code-first" approaches, I also concur with @dougbu that design-first doesn't really fit into this documentation. This doc's goal is, explicitly, to introduce the notion of Open API/Swagger insomuch as Swashbuckle and NSwag are designed to enable the code-first approach. So, if you'd be interested in submitting a PR that would shore up this documen

[2019-12-09 17:50] scottaddie commented on #15362
@Rick-Anderson I won't have time to remove this by EOY. A significant amount of work is required before the versions can be removed from the selector.

[2019-12-09 18:03] pranavkm commented on #15670
@KalleOlaviNiemitalo out of the box, the type in 2.1 is compliant with the RFC. The 3 issues while good to have would generally not be considered blocking to use the `ProblemDetails` type in 2.1.

[2019-12-09 18:06] ionyshch opened #16088 "Link .NET Core 3.0 SDK or later must point to the latest download"
Link ".NET Core 3.0 SDK or later" is https://dotnet.microsoft.com/download/dotnet-core/3.0 that has 3.0.1 version while the latest is 3.1 which is correctly pointed to in output of "dotnet --info" and is
https://dotnet.microsoft.com/download - has 3.1.
This is important, because having 3.0.1 then leads to failure install EF framework on the next step of tutorial.

---
#### Document Details

⚠ *Do

[2019-12-09 18:11] Rick-Anderson commented on #15362
@scottaddie what needs to be done? We just want to remove `1.0, 1.1, 2.0` from the selector. Can you outline the steps for me or wade?

[2019-12-09 18:15] Rick-Anderson commented on #16088
It works fine with `3.0.100`

[2019-12-09 18:15] #16088 closed

[2019-12-09 18:25] ionyshch opened #16090 "Incorrect namespace in RazorPageMovieContext.cs"
Example says
namespace RazorPagesMovie.Models
which leads to an error when adding
using RazorPagesMovie.Data to Startup.cs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add a model to a Razor Pages app in A

[2019-12-09 18:31] ionyshch opened #16091 ""Add NuGet packages..." subsection better be before "Add a database context..." subsection"
Otherwise we have errors in Visual Studio Code about classes for EF not yet installed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9d8
* Version Independent ID: 7096fdb3-612e-9e00-bd0b-8ea4886a09ce
* Content: [Add a model to a Razor Pages app in ASP.NET Core](https://docs.microsoft.c

[2019-12-09 18:32] Rick-Anderson commented on #16090
![image](https://user-images.githubusercontent.com/3605364/70462011-17658a80-1a5e-11ea-818c-1e76ad4a35c7.png)

cc @imba-tjd

[2019-12-09 18:36] #16027 closed

[2019-12-09 18:39] ionyshch opened #16094 "Codegenerator installed twice"
"Scaffold the movie model" subsection for Visual Studio Code suggest installing dotnet-aspnet-codegenerator which was already installed as per "Add NuGet packages and EF tools" subsection.

Instead I'd mention that dotnet-aspnet-codegenerator should have already been installed with a link to "Add NuGet packages..." subsection.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-12-09 18:42] SidShetye opened #16095 "Clarify dependency between AddAzureWebAppDiagnostics and AddConsole on linux webapps"
All extension methods referenced here are in C#, .net core 3.0 within Program.cs

It appears that removing `logging.AddConsole();` breaks `logging.AddAzureWebAppDiagnostics();`. One would expect each logger to be independent but from our testing we found that `AddAzureWebAppDiagnostics()` depends on `AddConsole()`.

Further more, going to the portal UI -&gt; web app -&gt; App Service logs -&gt; Ap

[2019-12-09 18:49] ionyshch opened #16097 "Could not load file or assembly... when generating scaffold"
On macOS 10.15 the following command fails (RazorPagesMovie is current folder, % is a shell prompt)
RazorPagesMovie % dotnet aspnet-codegenerator razorpage -m Movie -dc RazorPagesMovieContext -udl -outDir Pages/Movies --referenceScriptLibraries
Building project ...
Unhandled exception. System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.VisualStudio.Web.CodeGeneration.Utils

[2019-12-09 18:51] Rick-Anderson commented on #16097
Did you
[code]

[2019-12-09 19:11] ionyshch commented on #16097
RazorPagesMovies.csproj had target framework netcoreapp3.0 (see my other issue on previous tutorial step). I changed it to necoreapp3.1, removed obj and bin folders with rm command and rebuilt project with "dotnet build". After this scaffold generated successfully.

[2019-12-09 19:15] guardrex opened #16099 "Enhance lifecycle methods from API remarks"
See: https://github.com/aspnet/AspNetCore.Docs/issues/12773#issue-453929033

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bae853d-80e3-ef81-69eb-e8276eb853fe
* Version Independent ID: 01216f14-b45c-73b0-9f1f-300e7ddd788f
* Content: [ASP.NET Core Blazor lifecycle](https://docs.microsoft.com/en-us/aspnet/core/blazor/li

[2019-12-09 19:35] guardrex commented on #14171
There's been churn (hopefully improvements 🤞) on this one since this issue was opened, and engineering has looked at what we're saying and hasn't 😵 *freaked out* 😵 over the coverage. Let's keep an :ear: open for additional feedback and close this for now.

[2019-12-09 19:35] #14171 closed

[2019-12-09 19:40] ionyshch commented on #16088
I couldn't make it work with 3.0.101 as "dotnet tool install --global dotnet-ef" attempted installing EF version 3.1 (the latest version available) which failed complaining about incompatibility with 3.0.101 SDK.

[2019-12-09 19:41] SebHonorine opened #16100 "ConfigureTestServices : since 3"
# Before you open an issue

If the issue is with an ASP.NET Core document, open the issue with the **Content feedback** button at the bottom of that document page.

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, conside

[2019-12-09 19:55] guardrex commented on #16100
Hello @SebHonorine ... This issue isn't actionable without more information. Please use the **This Page** feedback button+form at the bottom of the topic and explain your request in detail.

[2019-12-09 19:55] #16100 closed

[2019-12-09 19:56] Rick-Anderson commented on #16097
Thanks!

[2019-12-09 19:56] #16097 closed

[2019-12-09 20:23] #16094 closed

[2019-12-09 20:24] SebHonorine commented on #16100
yeah I pushed "Enter" by accident and took me time to edit my post sorry.

[2019-12-09 20:24] #16090 closed

[2019-12-09 20:28] guardrex commented on #16100
It's *virtually impossible* for us to troubleshoot individual dev project issues. There are only a few of us here with >500 issues, >300 topics, and >100 sample apps. Try floating the problem on a support forum, such as Stack Overflow, or a support chat, such as [ASP.NET Core Slack](http://tattoocoder.com/aspnet-slack-sign-up/) or [ASP.NET Gitter](https://gitter.im/aspnet/Home). If you narrow the

[2019-12-09 20:34] SebHonorine commented on #16100
I mean this not like i m doing some mambo jumbo crazy development .Asp.Net Core. I am following Microsoft doc. used to work in 2.1 updating to 3.1 does not work. . . But thanks i ll try somewhere else i think. Thanks for your time I guess.

[2019-12-09 20:44] guardrex commented on #16100
We have an *insane* workload right now 🏃😅.

This is some sort of clearly foreseen condition by the product unit. They even have a test for it ...

https://github.com/aspnet/Extensions/blob/master/src/HttpClientFactory/Http/test/DependencyInjection/HttpClientFactoryServiceCollectionExtensionsTest.cs#L396-L400

I envision that you're doing exactly what the error says that you're doing. Does your fac

[2019-12-09 21:09] guardrex commented on #15983
@danroth27 I can't get the instructions from the blog post to work, and they don't seem exactly right given the UI elements I'm seeing here :eyes:. The following is what I was trying to do in VS. There are no errors along the way, but debugging seems not to be enabled (i.e., setting a breakpoint on `currentCount++` in the `Counter` component doesn't stop the app).

Here's what I was trying (includ

[2019-12-09 21:35] Rick-Anderson opened #16101 "Replace config.Filters.Add(new AuthorizeFilter(policy)); with .RequireAuthorization(policy);"
Replace

[code]

With code similar to the following:
[code]

Consider making the starter app complete and drop the cook-book instructions. Just explain the code in the download.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b66f8ffa-699c-8b11-0cab-805f5953805f
* Version Independent ID: 7c151ed5-fd78-84fd-a08a-88912990

[2019-12-09 21:44] sahgilbert opened #16102 "Remove "identity" keyword prefix from URL routing"
# Before you open an issue

If the issue is with an ASP.NET Core document, open the issue with the **Content feedback** button at the bottom of that document page.

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, conside

[2019-12-09 22:03] kkostrzewa opened #16103 "Disposing HttpResponseMessage"
Shouldn't the HttpResponseMessage that you get back from SendAsync be Disposed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881cef77-11ef-ac11-06d0-0996a1ccfa1b
* Version Independent ID: 3d356334-e672-7e8b-1fef-7944ebee99eb
* Content: [Make HTTP requests using IHttpClientFactory in ASP.NET Core](https://docs.microso

[2019-12-09 22:28] Rick-Anderson commented on #13774
Fixed in #13782

[2019-12-09 22:28] #13774 closed

[2019-12-10 00:41] #14509 closed

[2019-12-10 00:41] #14593 closed

[2019-12-10 00:41] #15078 closed

[2019-12-10 01:30] bobbydog commented on #15701
When I saw the source code https://github.com/aspnet/Extensions/blob/master/src/Hosting/Abstractions/src/BackgroundService.cs#L33 , I thought that the ExecuteAsync Method just ask me to return a task but do not to help me to start it, I should make the task start in the ExecuteAsync method, am I right?

[2019-12-10 02:07] Rick-Anderson opened #16105 "3.1 update"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a25bf940-8977-fec4-461b-542a9f550fc8
* Version Independent ID: 5492c641-af15-64b8-beaa-ddf511be73e6
* Content: [Tutorial: Get started with Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start?view=aspnetcore-3.

[2019-12-10 02:17] #16105 closed

[2019-12-10 02:55] Rick-Anderson commented on #16103
No. See #7297

[2019-12-10 02:55] Rick-Anderson commented on #16102
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-12-10 02:55] #16102 closed

[2019-12-10 03:02] kkostrzewa commented on #16103
@Rick-Anderson I'm confused. You're citing an issue about HttpClient disposal, but I'm talking about HttpResponseMessage (returned by HttpClient.SendAsync) disposal.

[2019-12-10 03:11] Rick-Anderson commented on #16091
We'll consider this next time we do a doc sweep.

[2019-12-10 03:11] #16091 closed

[2019-12-10 03:13] Rick-Anderson commented on #16083
If you think this is a product bug, create the simplest possible sample that reproduces the problem and open an issue at [GitHub ASP.NET Core](https://github.com/aspnet/AspNetCore/issues/new?template=bug_report.md)

Include steps to reproduce the bug

[2019-12-10 03:13] #16083 closed

[2019-12-10 03:16] Rick-Anderson commented on #16081
You might try asking indentitysever4  folks or SO.

[2019-12-10 03:22] owlyowl commented on #16081
Thanks Rick,
I'll ask in gitter.

On Tue, Dec 10, 2019 at 2:16 PM Rick Anderson <notifications@github.com>
wrote:

[2019-12-10 05:02] sikemullivan commented on #13870
The following function blows up now. It look like the last time it worked for me was 3.0.0-preview7.19362.6. I get an object reference error on the following:

[code]

Below is my design code. My AuthDbContext is extracted out into a library project. The way it should be.

[code]

[2019-12-10 05:16] sikemullivan commented on #13870
Fixed

[code]

[2019-12-10 08:17] pocki commented on #16083
Correct, is a bug somewhere else:  dotnet/sdk#4033

[2019-12-10 08:20] icelava commented on #14797
Yea I think I was looking at Windows instructions when it should've been Linux (Ubuntu).

[2019-12-10 09:03] ionyshch opened #16110 "See blank page instead of 404 error"
"Add route template" mentions 404 error if we don't provide ID for details page and suggest changing {id:int} to {id:int?}.
The problem is that in both cases I see blank page (no page not found error) when typing in browser localhost:5001/Movies/Details/
What is the expected result for given URL before and after adding ? to {id:int}?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-12-10 10:22] hoksource opened #16111 "Add documentations on applying filters and inheritance"
I want to make all my page inherit a class or a component that does a custom filter and behavior when filter is not met. Is this the way to do this on blazor or there is another style of doing this? Also there is no documentation for @inherit and @attribute for inheriting custom component pages, @attribute also is not documented for filters. This also makes lifecycle code reusable.

---
#### Docum

[2019-12-10 11:26] VILcryo opened #16112 "Problem with breakpoints"
I did everything as was written in this article, but could not set breakpoints  for the code lines  in razor files on the source tab. I tried a right click on the lines, saw the Breakpoint word in pop-up menu, but it was inactive. What's wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f61c7-9f51-6735-e328-3c7b

[2019-12-10 11:37] IanKemp opened #16113 "Consider cleaning up the "How CORS works" section"
It makes sense to start a document about CORS with an explanation of what it is and how it works, it makes sense to move "How CORS works" to be the first section in the page.

On the other hand, this page is about configuring and testing CORS in ASP.NET Core, so perhaps it would be better to move the explanation to a separate page and just link to that one from here.

On someone else's hand, this

[2019-12-10 12:42] jawn opened #16114 "Update for .NET Core 3.1"
E.g. section "Deploy ASP.NET Core 3.0 to Azure App Service"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2eab542-a420-d6c5-d314-a420837cf602
* Version Independent ID: 48c12168-54f3-0b83-f136-565f483a03e9
* Content: [Deploy ASP.NET Core apps to Azure App Service](https://docs.microsoft.com/en-us/aspnet/core/host-and-

[2019-12-10 12:45] jawn commented on #16114
See https://github.com/Azure/app-service-announcements/issues/217

[2019-12-10 13:07] wksub opened #16115 "Example for client side vaidation"
I'm missing an example for implementing jqurey unobtrusive validation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d2902f4-b6fd-ba1c-6762-d7c26f5eb4b9
* Version Independent ID: b5715d72-5f10-bb93-1051-7f06dfa9cde8
* Content: [View components in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/vi

[2019-12-10 13:38] guardrex commented on #16111
`@inherits` was covered for base class support prior to the release of partial class support. If you select the 3.0 version of the topic, you'll see the prior section *Specify a component base class*. I'm thinking now that we should keep that section. @danroth27, bring that section back?

Otherwise, there's some coverage in the DI topic in the [Request a service in a component](https://docs.micros

[2019-12-10 13:45] guardrex commented on #16112
I was just working with this yesterday morning, and I think I'm close to working it out based on the blog post instructions. I placed my current approach on the issue.

Let's close this as a duplicate of that issue. I'm planning on working on it more today. If I can't get it running, we'll get input from engineering on that issue.

https://github.com/aspnet/AspNetCore.Docs/issues/15983

[2019-12-10 13:45] #16112 closed

[2019-12-10 14:15] guardrex commented on #16114
@bradygaster This is a fairly minor one, and I can work it as well if you like ... assign me if you want. I think we mostly need to make a handful of remarks generic wrt the version (e.g., say "3.x" over "3.0" or even better, speak to versions generally such that the content will apply even further out than 3.1 ... to 5.0 and beyond).

[2019-12-10 14:24] guardrex commented on #16115
It's covered over at https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-3.1#client-side-validation ... and in the sections that follow.

[2019-12-10 15:49] fabio770 commented on #13363
Thank you.

[2019-12-10 15:57] jeroenwo opened #16117 "Small improvement in az keyvault set-policy script"
When copied, modified and run, the following command contains a small error:
`az keyvault set-policy --name '{KEY VAULT NAME}' --object-id {OBJECT ID} --secret-permissions get list`

The `{KEY VAULT NAME}` parameter is surrounded by quotes, where the `{OBJECT ID}` is not.

Running the script:
`az keyvault set-policy --name 'myvaultname' --object-id insert-guid-here --secret-permissions get list`

[2019-12-10 16:21] LaughingJohn opened #16118 "JSRuntime.Current no longer exists"
See this sentence:
Multiple user requests are processed by the Blazor Server app. Don't call JSRuntime.Current in a component to invoke JavaScript functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49807900-0d56-e23c-1aef-d79099caeffb
* Version Independent ID: feff434f-912c-0985-d575-4a23a629057d
* Content: [ASP

[2019-12-10 16:42] SebHonorine commented on #16100
from the doc :

**Inject mock services**

Services can be overridden in a test with a call to ConfigureTestServices on the host builder. To inject mock services, the SUT must have a Startup class with a Startup.ConfigureServices method.

this is exactly what it used to do. Seems to be not true anymore.

[2019-12-10 17:08] kevingates opened #16119 "StateHasChanged Explained (vs base.InvokeAsync(StateHasChanged)"
[EDIT by guardrex to add the metadata. We'll get an update from the product unit on this after 5.0 reaches GA. Everyone is 🏃😅 on 5.0 at the moment (9/24).]

The differences between `StateHasChanged()` and `base.InvokeAsync(StateHasChanged);` is never clearly explained.

A topic on when a developer **should invoke** state has changed (via either method) as well has when is best to use each option w

[2019-12-10 17:41] guardrex commented on #16100
It's how the sample app works ...

https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/test/integration-tests/samples/3.x/IntegrationTestsSample/tests/RazorPagesProject.Tests/IntegrationTests/AuthTests.cs#L37-L42

This doc was checked carefully by engineering on a recent round of updates, and they didn't request changes to `ConfigureTestServices` coverage.

If you think that you've di

[2019-12-10 17:44] Rick-Anderson commented on #16110
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-12-10 17:44] #16110 closed

[2019-12-10 17:49] Rick-Anderson commented on #16113
Thanks, we'll review this on the next doc sweep. We don't have the resources to invest in it now.

[2019-12-10 17:49] #16113 closed

[2019-12-10 17:54] guardrex commented on #16117
Hello @jeroenwo ... AFAICT, I took that from here ...

https://docs.microsoft.com/en-us/azure/key-vault/tutorial-net-windows-virtual-machine#assign-permissions-to-the-vm-identity

... and it did work at the time. I think that they changed the format of the command since then, but their topic wasn't updated. I see a different topic that shows the command without quotes ...

https://docs.microsoft.c

[2019-12-10 17:59] guardrex commented on #16118
Hello @LaughingJohn ...

🤔 It was reviewed by engineering for the 3.0 release (not sure if it changed for 3.1). I'll put this up for triage so that engineering can respond. Stand-by tho if it takes a while to get an answer ... we're **_very_** close to the holidays 🎁⛄️, so they might not remark on it until January.

[2019-12-10 18:22] guardrex commented on #16119
Hello @kevingates ...

It's covered *lightly* in a spots where it's relevant to make the call, typically for a render when Blazor isn't aware that it should update the UI. For example:

* [Invoke component methods externally to update state](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#invoke-component-methods-externally-to-update-state)
* [TabSet example (cas

[2019-12-10 18:28] #15848 closed

[2019-12-10 19:04] Rick-Anderson opened #16122 "Add KB page link"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1945dedd-e2b8-37c1-2676-e473498bcb30
* Version Independent ID: 631281cb-65db-3196-1a6a-da9b3f2e3fed
* Content: [Work with SameSite cookies in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/samesite?view=aspnetcore-3.1)
* Content Source: [aspnetcore/s

[2019-12-10 19:05] #16122 closed

[2019-12-10 19:21] guardrex commented on #15983
**UPDATE** ... ok ... think that I have this worked out now. I'll have the PR up in a bit.

[2019-12-10 21:04] Rick-Anderson opened #16124 "Create a new ASP.NET hub page"
the ASP.NET hub page (https://docs.microsoft.com/aspnet) to the new hub page format. https://review.docs.microsoft.com/en-us/help/contribute/contribute-how-to-write-hub-page?branch=master

Per @dend :

We don't need separate hub pages for Core and regular ASP.NET
Just one that is currently on https://docs.microsoft.com/aspnet - it needs to move to the new layout

We have guidance here on the proce

[2019-12-10 21:33] hades200082 opened #16127 "Email is not returned in claims"
I have added email permission to azure and added email scope to my app, yet email is never returned in the claims.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4c264c0-0c5c-298e-bb45-9b4891c8d162
* Version Independent ID: ce69b990-0b4c-abda-cd2d-68f85cd8031e
* Content: [Microsoft Account external login setup with AS

[2019-12-10 21:35] Rick-Anderson commented on #16127
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-12-10 21:35] #16127 closed

[2019-12-10 21:39] #16115 closed

[2019-12-10 21:39] hades200082 commented on #16127
I followed the docs on that page .. it didn't work. Therefore my feedback is that the docs need more information on this kind of use-case.

[2019-12-10 22:21] #15962 closed

[2019-12-10 22:56] surfmuggle opened #16130 "Step Install-Package "Microsoft.EntityFrameworkCore.Design" was required"
In the step "New Scaffolded Item" i got an error that "Microsoft.EntityFrameworkCore.Design" was missing. Adding it with the package manager console: "Install-Package Microsoft.EntityFrameworkCore.Design -Version 3.1.0" fixed the problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6719f08e-3bd7-dc1a-71df-f2ef9fbca9

[2019-12-10 23:00] Rick-Anderson commented on #16130
Are you doing the VS or VSC instructions? VS should add that for you. If not, it's a VS bug. The VSC instructions have you add that.

[2019-12-10 23:00] #16130 closed

[2019-12-10 23:05] serpent5 opened #16131 "Add xref from social-without-identity to authentication"
This page talks about configuring authn schemes but doesn't really explain what they are. With the new authn topic in place, I think it'd be good to add an appropriate xref.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f9d7ad5-47d6-80bf-88fe-fac3a74151a3
* Version Independent ID: e64816f4-3391-5aab-31c2-ab4f915bc7f6

[2019-12-10 23:53] #16131 closed

[2019-12-11 00:46] #15666 closed

[2019-12-11 01:02] Rick-Anderson opened #16133 "3.1 update: intro to MVC"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faf18d20-d28f-1efa-d329-181fff3630fa
* Version Independent ID: 46a7c2e0-4871-491f-02c2-54f7df2237b1
* Content: [Get started with ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-3.1&tabs=visual-studio)
* Con

[2019-12-11 01:17] #16133 closed

[2019-12-11 01:57] Rick-Anderson commented on #14930
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-11 01:57] #14930 closed

[2019-12-11 02:42] Rick-Anderson commented on #14924
@MHarrison22  is this still a problem in 3.1?

[2019-12-11 02:49] Rick-Anderson commented on #14356
@jmezach  can you post the proper escaping - or better yet, PR the doc.
At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

[2019-12-11 02:57] Rick-Anderson commented on #11842
@JuergenGutsch let me know what I can do to help. If you want to create a PR with the content, I can clean it up or assign someone to do that.

[2019-12-11 02:59] Rick-Anderson commented on #11869
@akghasemi  see https://forums.asp.net/t/2140604.aspx?What+s+the+equivalent+of+Session_Start+in+Global+asax+file+ASP+MVC+in+CORE+MVC

[2019-12-11 03:02] Rick-Anderson commented on #11990
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-12-11 03:02] #11990 closed

[2019-12-11 03:12] Rick-Anderson commented on #12474
@scottaddie  what doc does this belong in? Can you add meta-data to create an integrated issue? @wadepickett  could add the instructions.

[2019-12-11 03:13] Rick-Anderson commented on #12409
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-11 03:13] #12409 closed

[2019-12-11 03:16] #11084 closed

[2019-12-11 03:17] Rick-Anderson commented on #10926
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-11 03:17] #10926 closed

[2019-12-11 03:19] Rick-Anderson commented on #10738
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-11 03:19] #10738 closed

[2019-12-11 03:25] Rick-Anderson commented on #6063
Fix via an include - for example see (Add authentication support to a web API)[https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-3.1&tabs=visual-studio#add-authentication-support-to-a-web-api]

[2019-12-11 03:25] #6063 closed

[2019-12-11 03:55] Leon99 opened #16136 "Combining conventions with explicit use of ProducesResponseType"
Conventions is a great idea and want to use it, but I still want to specify ProducesResponseType on the controller class to cater for methods not included in the conventions. When I do it, conventions don't seem to apply. How do I combine both? There surely must be a way, conventions unlikely to be used as the sole source of the metadata.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-12-11 05:40] jjxtra commented on #16079
Just FYI I can run the client only Blazor on MAC from terminal using dotnet run.

[2019-12-11 06:20] nkw opened #16138 "Blazor Windows Authentication on Kestrel works locally only"
# Blazor Windows Authentication on Kestrel works locally only

https://stackoverflow.com/questions/59204346/blazor-windows-authentication-on-kestrel-works-locally-only-an-anonymous-reques

# Software versions

Check the .NET target framework(s) being used, and include the version number(s).

- [x] .NET Core
- [ ] .NET Framework
- [ ] .NET Standard

If using the .NET Core SDK, include `dotnet --inf

[2019-12-11 08:06] namelhp2000 opened #16140 "await Html.RenderPartialAsync(ViewData["formUrl"].ToString());"
InvalidOperationException: The partial view '/wwwroot/RoadFlowResources/scripts/formDesigner/formpreview/9cba46ec-3768-40a8-bce4-907c933599e0.rfhtml' was not found. The following locations were searched: /wwwroot/RoadFlowResources/scripts/formDesigner/formpreview/9cba46ec-3768-40a8-bce4-907c933599e0.rfhtml

Microsoft.AspNetCore.Mvc.ViewFeatures.HtmlHelper.RenderPartialCoreAsync(string partialViewN

[2019-12-11 08:07] namelhp2000 commented on #16140
Partial view location is the same as the search location, the prompt is invalid

[2019-12-11 08:20] #16140 closed

[2019-12-11 08:44] 1993Saurabh commented on #15912
@Rick-Anderson How this question is related to the asp.net core. I asked the general question. I didn't mention whether my APIs are in asp.net core or any other framework. How could you assume that it is related to only asp.net core. I am just seeking the solution whether we can configure two or more web APIs authentication using ADB2C or not irrespective of any framework or langauge.

[2019-12-11 09:54] DrGriff opened #16141 "Regarding supported platforms"
From the section https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/index?view=aspnetcore-3.1#supported-platforms

"Deploy a 32-bit app with a 32-bit (x86) .NET Core SDK unless the app....."

Does this suggest that 32 bit is preferred over 64 bit for performance?  I know that Visual Studio is 32 bit for this reason (https://blogs.msdn.microsoft.com/ricom/2015/12/29/revisiting-64-bit-

[2019-12-11 12:49] IanKemp commented on #15249
There should also be an update to the docs for <= 2.2 to indicate that **HTTPS redirection will not work at all** unless a port is _explicitly_ set, even if the default TLS port 443 is available. Thankfully t[his was fixed in 3.0](https://github.com/aspnet/Announcements/issues/392#issuecomment-550499885), presumably for sanity reasons.

[2019-12-11 13:08] guardrex commented on #16141
Hello @DrGriff ... No, just for the reasons listed there. This question came up, so I asked, and that's what they said. They didn't indicate anything about perf.

[2019-12-11 13:08] #16141 closed

[2019-12-11 13:19] wgutierrezr commented on #14613
I have the same issue.

[2019-12-11 13:25] wgutierrezr commented on #14619
I have the same issue

[2019-12-11 13:28] guardrex commented on #16138
Hello @nkw ... I see a few issues for WinAuth that they're investigating ...

* https://github.com/aspnet/AspNetCore/issues/17025
* https://github.com/aspnet/AspNetCore/issues/17467

Recommend opening an issue with them. Post the full content tho (i.e., don't cross-link to SO) perhaps with a repro project on GH cross-linked for them to look at.

If you/they work out critical advice that differs fr

[2019-12-11 13:28] #16138 closed

[2019-12-11 14:42] hishamco commented on #2501
FYI I'm still working on the extension, facing some issues in the UI part, hopefully I will find time to finish them and release a beta version

However you can use the CLI tool that I referred to above, your feedback is very important

[2019-12-11 15:03] vanillajonathan commented on #12121
Then there is also the `IOptions` interface. How does it fit into all of this?

The documentation states:

Does this mean that `IOptions` is to be considered deprecated, and that `IOptionsMonitor` and `IOptionsSnapshot` is preferred?

The documentation also states:

Then it goes on to show an example of `IOptionsMonitor` used in a "PageModel" and how to inject it into a view, neither which are sin

[2019-12-11 15:15] poke commented on #12121
@vanillajonathan No, `IOptions<T>` is kind of the _default_ to use unless you have special requirements. I usually have the following thinking process in this order:

- Use `IOptions<T>` by default
- Use `IOptionsSnapshot<T>` if you need the configuration to update
- Use `IOptionsMonitor<T>` if you need to consume _named_ options, or if you are consuming options from a singleton _and_ need to refr

[2019-12-11 17:14] hoksource commented on #16111
I would like to know more about routing guards for navigation.
Is there a documentation for like a filter or route guard when going to a certain page?
Or a way to implement life cycle on a layout (for multiple page with the same filter)?
Or do i have to create a base component class and implement the on initialize then @inherit the base component class to do the filter?
Or can i apply @attribute f

[2019-12-11 17:19] BrennanConroy commented on #13508
As part of this, we should talk about grabbing things like the access_token and placing it in a claim if the user wants to access that in the Hub.

[2019-12-11 17:20] Genteure opened #16143 "Empty page on docs.microsoft.com"
link: https://docs.microsoft.com/en-us/aspnet/core/mvc/compatibility-version
![image](https://user-images.githubusercontent.com/11240579/70644181-79500b00-1c7d-11ea-99da-4c1e445ebd15.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bcb541d-c695-99f6-dde7-f01d0d9307d5
* Version Independent ID: 9585545a-9047-85ff-611

[2019-12-11 17:21] Frankofoedu commented on #14233
Thanks for this.

Please could you shed more light on why this works?

[2019-12-11 17:37] jeremyVignelles opened #16144 "Explain what "IE padding means""
In the Exception handler lambda example, there is this line:

[code]

Is it needed? What does it do? Does it still make sense in 2019 (almost 2020)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03fdf4-b19b-17c3-04f4-336ab6d2ee06
* Version Independent ID: 38515dfb-91a5-b395-db9d-084bbaf095c8
* Content: [Handle error

[2019-12-11 17:40] Rick-Anderson commented on #14613
@kienit  @wgutierrezr  we need the simplest possible repo.

1. Create a new ASP.NET Core 2.2 web app.
2. Update the app to 3.0.
3. Show the problem.

[2019-12-11 17:42] Rick-Anderson commented on #14613
Dup of #14619

[2019-12-11 17:42] #14613 closed

[2019-12-11 17:43] #14619 closed

[2019-12-11 17:52] blowdart commented on #14233
Please don't create product bugs or queries under docs. Create them in the [product repo.](https://github.com/aspnet/AspNetCore/issues)

[2019-12-11 18:06] #14233 closed

[2019-12-11 18:11] blowdart commented on #14233
(Unfortunately we can't move this)

[2019-12-11 18:13] Rick-Anderson commented on #14233
![image](https://user-images.githubusercontent.com/3605364/70647957-2da25080-1bee-11ea-9f76-1d179202539a.png)

[2019-12-11 18:14] blowdart commented on #14233
I don't have permissions :)

[2019-12-11 18:28] #16143 closed

[2019-12-11 18:31] Rick-Anderson commented on #16144
Not needed. Author used it to get what he considered better output.

[2019-12-11 18:38] jeremyVignelles commented on #16144
I've found this : https://perishablepress.com/important-note-for-your-custom-error-pages/

Apparently, it's a trick to make IE show the page you send it, rather than a default error page made by IE.

Would it make sense to document that for those who were wondering?

[2019-12-11 18:44] Rick-Anderson commented on #16136
Per the doc:
Web API conventions are a substitute for decorating **individual actions** with `[ProducesResponseType]`.

[2019-12-11 18:44] #16136 closed

[2019-12-11 18:52] guardrex commented on #12121
Hello ...

@vanillajonathan ... btw -- best to just open a new issue using the **This Page** feedback button+form at the bottom of the topic when something is closed here (issue or PR) ... and cross-link the issue/PR in the new issue. No worries tho as I'm about to explain ... I think we'll leave this for the time being.

... and in regard to your, @poke, question on focus here ... what you see in

[2019-12-11 18:56] Rick-Anderson commented on #16144
Good idea. Although IE usage is low and getting lower.

[2019-12-11 19:10] poke commented on #12121
@guardrex

Okay, thanks for that link. I wasn’t aware of that issue. The reasoning _“since its effectively everything IOptions is but more”_ is really bad though since that’s effectively what the I in SOLID would advise against. But I’ll follow up on that elsewhere. Thanks for pointing it out though!

(like always 😁)

Yay! Go you! 😊 Happy holidays! 🎄

[2019-12-11 19:12] HaoK commented on #12121
My 2c, I believe the intent/idea is to simplify things by just guiding developers to one single interface, which is the `IOptionsMonitor` since its a superset of IOptions.  Even if they don't need to use any of the more advanced features, it makes things appear more simple over all as they don't need to ask questions like which one do I need to use (IOptions/IOptionsSnapshot/IOptionsMonitor).  In

[2019-12-11 19:20] boboberg commented on #14655
Important info for using attribute routing. Thank you. You must also call services.AddControllersWithViews();
within ConfigureServices()

[2019-12-11 19:27] guardrex commented on #15903
Fixed by ...

* https://github.com/aspnet/AspNetCore.Docs/pull/16035 - Now, we're using the "razor" code language in the topics for Razor components (*.razor* files).
* The new [Templates](https://docs.microsoft.com/en-us/aspnet/core/blazor/templates?view=aspnetcore-3.1) topic, which helps readers understand the anatomy of a Blazor app.

[2019-12-11 19:27] #15903 closed

[2019-12-11 19:37] poke commented on #12121
I put this up for reevaluation over here: aspnet/Extensions#2777. So follow along if you are interested and voice your opinion if you have one :)

[2019-12-11 20:33] serpent5 opened #16146 "Update "Simple authorization" to 3.0"
The code samples here are still valid in 3.0, but I think it would be helpful to introduce basic usage of endpoints and `RequireAuthorization` here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c3930e5-8a4f-8bdf-7167-9aed8afc4253
* Version Independent ID: cea5942d-fb01-f5bf-3b63-25873d5b79cf
* Content: [Simple autho

[2019-12-11 20:40] serpent5 opened #16147 "Discuss DefaultPolicy et al in "Policy-based authorization""
This seems like a good place to cover using `AddAuthorization` with `DefaultPolicy` and `FallbackPolicy`. The content for this is already available in "Migration 2.2 to 3.0" but could serve better here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1141d92-adeb-6841-229f-914c808f9a2b
* Version Independent ID: 7089b37

[2019-12-11 20:52] scottaddie commented on #14356
I'll take care of this issue. I'm already in there making other updates.

[2019-12-11 21:24] scottaddie commented on #12474
@wadepickett Go ahead with adding the instructions.

[2019-12-11 21:37] Rick-Anderson commented on #5131
@tdykstra  the default for `dotnet new webapp -au` is  SQLite. Doesn't that mean SQLite works with Identity?

[2019-12-11 21:42] Rick-Anderson commented on #3747
Looks like they're using the PMC

[2019-12-11 21:42] #3747 closed

[2019-12-11 21:48] scottaddie commented on #14172
Query string parameters aren't currently supported. See https://github.com/dotnet/HttpRepl/issues/258 to track this work.

[2019-12-11 21:48] #14172 closed

[2019-12-11 21:59] scottaddie commented on #15974
Any ideas, @blowdart or @damienbod?

[2019-12-11 22:01] scottaddie commented on #15899
@bradygaster or @dougbu, do either of you have any info on this?

[2019-12-11 22:08] tdykstra commented on #5131
It does work with Identity, but there are (or were when I tried to use it with Identity last January) gotchas that you have to guess and search to find out how to fix. The best place for this information is an introductory tutorial but the only thing I see like that in the TOC is the Learn module https://docs.microsoft.com/en-us/learn/modules/secure-aspnet-core-identity/?view=aspnetcore-3.1

[2019-12-11 22:13] Leon99 commented on #16136
Per my question:
I still want to specify ProducesResponseType on the **controller class** to cater for methods not included in the conventions

Is it possible to define class-level conventions, or is there another way to get the same functionality as I get by applying `[ProducesResponseType]` on a class while using conventions for individual methods?

[2019-12-11 22:14] wadepickett commented on #12474
@scottaddie, thanks. Rick had asked what doc this belongs in.  Is that no longer an open question?  Put it in "Use JavaScript Services to Create Single Page Applications in ASP.NET Core" I assume then listed at the top?

Also the "instruction" needed has resolved to simply using shirhatti's instruction of setting the system PATH in the web.config as the solution (and whatever intro to that needed)

[2019-12-11 22:54] BrennanConroy commented on #16003
We can clarify this a little probably. In 3.1 and below this has to be enabled because there is no customization in the browser client to not use credentials.
However, in 5.0 we have provided an option in the Typescript client to not use credentials.
That option should only be used when you know 100% that credentials like Cookies are not needed in your app (cookies are used by azure app service wh

[2019-12-12 00:33] #5131 closed

[2019-12-12 00:40] Leon99 opened #16152 "Example for ApiConventionNameMatchBehavior.Any?"
An example of using ApiConventionNameMatchBehavior.Any would be good. Simply doing
[code]
doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d14d206-7998-2031-d1d7-f8c8dbecf54a
* Version Independent ID: 3071c40e-f08b-555e-4fe7-dc3828f5828e
* Content: [Use web API conventions](https://docs.microsoft.com/en-us

[2019-12-12 03:20] Rick-Anderson commented on #15458
Done

[2019-12-12 03:20] #15458 closed

[2019-12-12 03:27] Rick-Anderson commented on #15434
also need to add
Microsoft.VisualStudio.Web.CodeGeneration.Utils

[2019-12-12 03:37] #15434 closed

[2019-12-12 04:04] Rick-Anderson commented on #16152
See https://github.com/aspnet/AspNetCore.Docs/issues/10954
`ApiConventionNameMatchBehavior.Any` only makes sense on params, not methods.

[2019-12-12 04:15] Leon99 commented on #16152
That sounds contradictory to the documentation for `ApiConventionNameMatchBehavior.Any`:

_Matches any name. Use this if the parameter or **method name** does not need to be matched._

Should the documentation be amended?

[2019-12-12 04:21] Rick-Anderson commented on #16152
https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/DefaultApiConventions.cs#L37-#L39

[2019-12-12 04:22] Rick-Anderson commented on #16152
API changes are only made to source code /// comments.

[2019-12-12 04:30] Rick-Anderson commented on #16152
@pranavkm

Matches any name. Use this if the parameter ~or method name~ does not need to be matched.
This doesn't work on methods does it?

Should I do a PR on https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/ApiExplorer/ApiConventionNameMatchBehavior.cs#L12

[2019-12-12 06:37] dougbu commented on #15899
@scottaddie and @kthayer424 `@(OpenApiReference)` items are part of the infrastructure used in Visual Studio 2019's Service References feature (part of Connected Services) and the `dotnet openapi` tool described at https://docs.microsoft.com/en-us/aspnet/core/web-api/microsoft.dotnet-openapi?view=aspnetcore-3.1

While it is possible to manually add `@(OpenApiReference)` items and some configuratio

[2019-12-12 06:43] damienbod commented on #15974
Hi @etortec  @scottaddie @blowdart

I don't see the problem here. You can send the certificate either way. You rely on specific Azure logic, implementation which does proof of possession, but this should be done in the code, if you rely on this. Maybe you don’t want this, for example without Azure, local development etc. The example can be used anywhere, not only Azure, so I think it important to

[2019-12-12 07:09] fosrock commented on #15264
I type my code and found that I missed a comma from the appsettings.json file. Suggest paying attention to compiler warnings too :)

[2019-12-12 09:47] etortec commented on #15974
Hi @damienbod

As far as i know `cert.GetRawCertDataString()` simply returns the encoded (public) certificate without the private key. This implies no proof of possession checks can be done, and we are essentially authenticating with a shared secret where the secret is a (public) certificate. We are essentially doing a variant of basic authentication with a publicly known secret.

To the best of m

[2019-12-12 10:25] vanillajonathan commented on #12121
@guardrex

But a controller just lives for the lifetime of the client request (connection), hence I don't think a controller would ever subscribe to events and hence not use `IOptionsMonitor`. To me it seems that `IOptions` is the most suitable for web applications and classes that have a [service lifetime](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetc

[2019-12-12 11:12] HaoK commented on #12121
So an example of where you might want to use IOptionsSnapshot in the controller is if the options do change every so often, and you wanted the controller to use the current options every request, IOptions never changes until you restart your app, since its computed once and will never change since its lifetime is static.

[2019-12-12 13:58] yahorsi opened #16155 "This is not valid for Core 3.0 "MVC passes an instance of AuthorizationFilterContext in the Resource property""
Hi, since .NET Core 3.0 this is not valid anymore:

For example, MVC passes an instance of AuthorizationFilterContext in the Resource property. This property provides access to HttpContext, RouteData, and everything else provided by MVC and Razor Pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1141d92-adeb-6841-

[2019-12-12 14:00] Frankofoedu opened #16156 "Multiple Cookie authentication"
I edited the sample page to add another cookie which is supposed to redirect to a second login page.

It keeps going back to the VS generated Index page.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee71441f-471a-89cd-0ef4-9b32b5dd85cf
* Version Independent ID: 0096c365-2f4e-5d21-89a0-c4f10fcb0ed9
* Content:

[2019-12-12 14:33] xyz0822 commented on #13920
I do think Razor Pages just for fresh newer developer  or many older develop that dont want mvc or just for little small sites. cause it likes webform and likes aspx that reduce the work for the older developer that dont want to change.like to learn mvc pattern.
And another one point, to many people,the business rule,function,class,Di and many other front language may mixed in one class,witch will

[2019-12-12 15:06] jbogard commented on #13920
@xyz0822 That's no different than a controller action. It's now breaking a controller from multiple disparate actions into more tightly focused pages. But a page's class can still get big.

[2019-12-12 15:20] #14356 closed

[2019-12-12 15:34] VictorioBerra commented on #16152
I do not think it works on methods:

IE:

[code]

Would NOT get applied to:

[code]

Also, I think you CCed the wrong person @Rick-Anderson but I checked anyway.

[2019-12-12 15:42] scottaddie commented on #12474
@wadepickett Yes, this goes in the JavaScript Services doc. The most natural place for the instruction is beneath the "Node.js (version 6 or later) with npm" bullet point in the **Prerequisites for using SpaServices** section. Maybe just add a bullet that says:

[code]
[code]

[2019-12-12 16:07] doggy8088 opened #16158 "How to use Microsoft.dotnet-openapi?"
Is there any workable example that shown the Microsoft.dotnet-openapi's usage?

I totally have no idea how to use Microsoft.dotnet-openapi to generate client code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 653e14ef-227e-a165-0360-2f59259e16c6
* Version Independent ID: e4685d05-e874-76a3-9780-66b864eca6c1
* Content

[2019-12-12 16:37] joregc opened #16159 "Create a web API without Entity Framework"
Hi, is there a tutorial on how to create an API without using EF?

Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet

[2019-12-12 16:41] ajcvickers commented on #6425
@Rick-Anderson Is there something specific you want me to address here?

[2019-12-12 16:45] mohamedeg97 commented on #12474
Ok,i'll try to make it so easy

في الخميس، ١٢ ديسمبر ٢٠١٩ ٥:٤٢ م Scott Addie <notifications@github.com> كتب:

[2019-12-12 17:20] wadepickett commented on #12474
@mohamedeg97, I think it was fair to verify given atotalnoob indicated it did not fix the particular problem atotalnoob was experiencing, and that Rick had asked what doc this belonged in.    You don't think so?

[2019-12-12 17:37] dandenton commented on #13484
FYI there is a way with v3.0.0+ to automatically refresh key vault configuration using `AzureKeyVaultConfigurationOptions.ReloadInterval`

[2019-12-12 17:44] Rick-Anderson commented on #16152
@VictorioBerra  I cc'd you from #10954 :)

[2019-12-12 17:50] Rick-Anderson commented on #16159
Just skip the EF part.

[2019-12-12 17:50] #16159 closed

[2019-12-12 17:51] Rick-Anderson commented on #6425
`@HaoK` asked

If not, I'll close this issue.

[2019-12-12 18:01] KiraHippo4 opened #16160 "45"
45

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47557f89-3a14-1139-0074-38d931b35faf
* Version Independent ID: 1cee43b4-b672-e480-3e26-72e08a6c2d77
* Content: [Use ASP.NET Core SignalR with TypeScript and Webpack](https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-typescript-webpack?view=aspnetcore-3.1&ta

[2019-12-12 18:07] KamranShahid opened #16161 "Please update the document as per .net core 3.1"
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/?view=aspnetcore-3.1&tabs=windows should be updated as per .net core 3.1

[2019-12-12 18:34] Rick-Anderson commented on #16161
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2019-12-12 18:34] #16161 closed

[2019-12-12 18:35] Rick-Anderson commented on #16161
@KamranShahid  this is a dup of  #13877

[2019-12-12 18:36] #16160 closed

[2019-12-12 18:37] Rick-Anderson commented on #16158
This is what we have.

[2019-12-12 18:39] Rick-Anderson commented on #16156
Can you phrase this as what's wrong with the doc and what needs to be fixed?

[2019-12-12 19:04] pawod opened #16165 "UseSpaPrerendering deprecated in netcore 3.0"
I suppose using the UseSpaPrerendering() extension method in netcore does not work anymore. How can I set up SSR and pass data to my angular app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32a18270-91cd-2a02-2eb8-2c8b1ed03737
* Version Independent ID: c58d57e5-a0c2-201d-f6dd-076ad5971fcb
* Content: [Use the Angular

[2019-12-12 19:46] KamranShahid commented on #16161
Thanks @Rick-Anderson for letting me know that this is already highlighted.
But it is seem to be marked for **2020 sometime**
https://github.com/aspnet/AspNetCore.Docs/projects/54#card-30503512
I thought it is quite misguiding. e.g i have read somewhere that
services.AddMvc()   and app.UseMvc(); are not recommended in .net core 3.1

Please correct me if i am wrong about that

[2019-12-12 19:48] pawod commented on #16165
followed this article's instructions and it works like a charm for netcore 3.1 - despite the deprecation warning:

https://medium.com/@pieterjandeclippel/server-side-rendering-in-asp-net-core-angular-6df7adacbdaa

[2019-12-12 20:29] Rick-Anderson commented on #16161
Yes

[2019-12-12 20:50] krbrennan commented on #16077
I also had issues with VS2019 on my mac. I was unable to create a project with framework 3.1, so I built one using framework 3.0. When the project was created I right-clicked on the TodoApi file in the tree, then Tools, then Edit File. In the file I simply modified the line:

<TargetFramework>netcoreapp3.0</TargetFramework>

TO:

<TargetFramework>netcoreapp3.1</TargetFramework>

and I stopped runn

[2019-12-12 20:58] Rick-Anderson commented on #16077
Can you create one from the command line?

[code]

If you can repro this problem from VS Mac

**Help > Send Feedback > Report a Problem**

![image](https://user-images.githubusercontent.com/3605364/52737321-27145f80-2f70-11e9-8eb0-828478541672.png)

[2019-12-12 21:52] ajcvickers commented on #6425
@Rick-Anderson We currently have this: https://docs.microsoft.com/en-us/ef/efcore-and-ef6/porting/index

Plus an issue to make it better: https://github.com/aspnet/EntityFramework.Docs/issues/1180

So closing here.

[2019-12-12 21:52] #6425 closed

[2019-12-12 23:55] alwilton opened #16171 "Need Clarification that Custom Prefixed Environment Variables DO NOT replace json settings"
I spent considerable time reading this section over and over and the section on environment variables is not clear on the order of setting priorities. Actually is very misleading. The section in question is
.ConfigureAppConfiguration((hostingContext, config) =&gt;
{
    // Call additional providers here as needed.
    // Call AddEnvironmentVariables last if you need to allow
    // environment var

[2019-12-13 00:38] guardrex commented on #16171
Hello @alwilton ...

MYAPP_ConnectionStrings__IdentityServer4="IdentityServer4": "Server=192.168.2.2;Uid=xyz;Pwd=password;Database=IdentityServer4"

Can we clarify your env var key first ... that key doesn't look right. Did you mean ...

Name: `MYAPP_ConnectionStrings__IdentityServer4`
Value: `Server=192.168.2.2;Uid=xyz;Pwd=password;Database=IdentityServer4`

Otherwise if that's ok, the order for

[2019-12-13 02:14] alwilton commented on #16171
Yes – your correction is correct. BUT NO (!) the “last setting wins, and loading config from env vars here (ConfigureAppConfiguration) should do the trick” does not win in after my afternoon of work today. In my testing unless I remove the secret json setting it was the winner

Thanks for your time on this.

From: Luke Latham <notifications@github.com>
Sent: Thursday, December 12, 2019 5:38 PM
To:

[2019-12-13 02:41] Rick-Anderson commented on #131
Fixed in #3762 and #3762

[2019-12-13 02:41] #131 closed

[2019-12-13 02:43] Rick-Anderson commented on #12840
That's not correct.

[2019-12-13 02:56] Rick-Anderson commented on #16095
Can you create a product bug for:

Create the simplest possible sample that reproduces the problem and open an issue at [GitHub ASP.NET Core](https://github.com/aspnet/AspNetCore/issues/new?template=bug_report.md)

Include steps to reproduce the bug and the version you're using `dotnet --version`

[2019-12-13 02:57] #14924 closed

[2019-12-13 03:05] guardrex commented on #16171
Paste your `Program` class into a comment here.

[2019-12-13 03:20] Rick-Anderson opened #16174 "Master issue for Logging in .NET Core and ASP.NET Core"
This is the master issue for this doc.  Reopen each issue you are working on so the owner is notified.

* Using scopes with async/await #17727
*

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7184a308-a254-9350-a5cd-5bced1f369ae
* Version Independent ID: 726e3bf1-f367-d733-8933-bccc04da0e16
* Content: [Logging in .NET

[2019-12-13 03:20] Rick-Anderson commented on #15852
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-13 03:20] #15852 closed

[2019-12-13 03:23] Rick-Anderson commented on #11842
This is tracked in #16174

[2019-12-13 03:23] Rick-Anderson commented on #15827
Tracked in #16174

[2019-12-13 03:27] Rick-Anderson commented on #16095
Remaining issues moved to master issue #16174

@SidShetye See https://github.com/aspnet/AspNetCore/issues/17844

[2019-12-13 03:42] Rick-Anderson commented on #15626
@lol768 ping me when your ready to PR this and I'll open the issue.

[2019-12-13 03:42] #15626 closed

[2019-12-13 03:43] Rick-Anderson commented on #15651
@javiercn  @mkArtakMSFT  bot closing due to lack of information.

[2019-12-13 03:43] #15661 closed

[2019-12-13 03:44] Rick-Anderson commented on #15661
Closing due to no response from @TopGuo

[2019-12-13 05:43] owlyowl opened #16175 "Add Roles to .net core 3 react with identity?"
Hi in the default create .net core 3 app with identity ApplicationDbContext : ApiAuthorizationDbContext&lt;ApplicationUser&gt;

I was wondering to add roles would it be a matter of inheriting from IdentityDbContext and what impact would that have on the token based auth etc? I was wondering what differs between ApiAuthorizationDbContext? Is there an example somewhere on how one might add roles in

[2019-12-13 05:48] Rick-Anderson commented on #15680
@tdykstra  this comes up every month. I'll ping you when I need to find it again.

[2019-12-13 05:48] #15680 closed

[2019-12-13 06:12] Rick-Anderson commented on #15922
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-13 06:13] Rick-Anderson commented on #15906
No need to remove  `AddRazorPages()`

[2019-12-13 06:13] #15906 closed

[2019-12-13 06:14] #15693 closed

[2019-12-13 06:16] Rick-Anderson commented on #15471
@damienbod  would you be able to draft the first version?

[2019-12-13 06:17] Rick-Anderson commented on #15454
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-13 06:17] #15454 closed

[2019-12-13 06:19] Rick-Anderson commented on #15181
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-13 06:19] #15181 closed

[2019-12-13 06:20] Rick-Anderson commented on #14621
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-13 06:20] #14621 closed

[2019-12-13 07:21] damienbod commented on #15471
@Rick-Anderson @blowdart

OK, It will probably be after XMAS before I have anything ready. I'll leave out the 'Adding a custom MFA to Identity' section

Greetings Damien

[2019-12-13 07:24] damienbod commented on #16155
I did a blog about how to do this now in 3.0 onwards. This might help maybe

https://damienbod.com/2019/12/02/using-http-request-routes-request-body-and-query-string-parameters-for-authorization-in-asp-net-core/

Greetings Damien

[2019-12-13 08:48] andrepiresrep opened #16176 "JsonResult missing?"
Hello, in the Add Newtonsoft.Json-based JSON format support section of this page, it is mentioned that we should use JsonResult on the following code, where it says: Output serialization options, on a per-action basis, can be configured using JsonResult. For example:
public IActionResult Get()
{
    return Json(model, new JsonSerializerSettings
    {
        options.Formatting = Formatting.Indente

[2019-12-13 08:52] davidfowl commented on #16176
Json is a method that creates a JsonResult https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.controller.json?view=aspnetcore-3.1#Microsoft_AspNetCore_Mvc_Controller_Json_System_Object_System_Object_

[2019-12-13 10:50] jawn opened #16177 "Describe UI way to support XML comments from Visual Studio"
XML comments  &gt; Visual Studio currently describes this approach:

&lt;PropertyGroup&gt;
  &lt;GenerateDocumentationFile&gt;true&lt;/GenerateDocumentationFile&gt;
  &lt;NoWarn&gt;$(NoWarn);1591&lt;/NoWarn&gt;
&lt;/PropertyGroup&gt;

This is the same as the .NET Core CLI approach.

Instead, I would expect the Visual Studio approach to describe how to do the same via the UI, as described here:
htt

[2019-12-13 11:44] Karluzo commented on #15271
I do not understand meaning of the line

`await Task.Delay(TimeSpan.FromSeconds(10));`

I have tried the solution and it does not prevent UI flashing, it only makes it faster.

[2019-12-13 12:56] guardrex commented on #15271
@Karluzo We don't work closed issues/PRs. Please open a new issue using the **This Page** feedback button+form at the bottom of the [Hosting Models topic](https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models).

Reference this issue (paste in `#15272` ... the PR number) in the comment to cross-reference the work and this issue.

[2019-12-13 13:51] doggy8088 commented on #16158
I really don't understand how to use the tool. I can't find any other useful information either. Is it possible to improve the doc?

[2019-12-13 14:24] mahendra-gangurde opened #16178 "Confusion about the Key in the Key Ring"
I got an error like this -
System.Security.Cryptography.CryptographicException: **The key {e47ceea6-be1f-440b-b204-64ff5a152552} was not found in the key ring.**
   at Microsoft.AspNetCore.DataProtection.KeyManagement.KeyRingBasedDataProtector.UnprotectCore(Byte[] protectedData, Boolean allowOperationsOnRevokedKeys, UnprotectStatus& status)
   at Microsoft.AspNetCore.DataProtection.KeyManagement.K

[2019-12-13 14:29] alwilton commented on #16171
using Microsoft.AspNetCore.Hosting;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.DependencyInjection;
using Microsoft.Extensions.Hosting;
using Serilog;
using Serilog.Events;
using Serilog.Sinks.SystemConsole.Themes;
using System;
using System.Linq;

namespace MYAPP
{
    public class Program
    {
        public static int Main(string[] args)
        {
            Log.Logg

[2019-12-13 14:54] guardrex commented on #16171
That looks good.

I just ran a test here with the Secret Manager, the Env Var Config Provider, a prefixed env var, and a double-underscore key ... I can't repro the behavior. It works as it should ... the Secret Manager supplies the value without the env var, and setting the env var causes the Secret Manager value to be overridden with the env var value.

The Secret Manger secrets are loaded here

[2019-12-13 14:54] #16171 closed

[2019-12-13 14:58] HelicalSyncromesh commented on #15922
Um no, this absolutely hasn't been answered.  Please reopen and explain what the SPNs are required for and what function they perform.  You guys also merged my other question about machine password resets and have provided no information about that either.  Come on team, give me something better than a collective shoulder shrug.

[2019-12-13 15:03] guardrex commented on #15922
Not my call @HelicalSyncromesh. Management handles this decision.

[2019-12-13 15:12] alwilton commented on #16171
thanks for the look. I'll try a very simple test case and follow your advice if the behavior persists.

[2019-12-13 16:19] guardrex commented on #16171
Good idea ... start with a fresh minimal test app and run your steps from scratch.

I set up a `MYAPP_Something__AnotherThing` env var in my *launch.json* file (I'm on VSC) ...

[code]

I added the Env Var Config Provider as you did with that prefix (`config.AddEnvironmentVariables(prefix: "MYAPP_");`). I initialized the Secret Manager for the app and put a `Something:AnotherThing` secret in with

[2019-12-13 16:19] HelicalSyncromesh commented on #15922
Clients I've been using is newest IE.

As far as password reset warning I'm getting that warning repeatably as are other team members in their own environments.  We've never been able to get the steps to work without getting that warning.

Sorry I got no email about this particular reply.  Client used was IE, latest.  The machine password reset was observed repeatably by myself and two other dev t

[2019-12-13 16:40] guardrex commented on #16178
Hello @mahendra-gangurde ... It's best if you close this and re-open it from the topic that you're working with (use the **This Page** feedback button+form at the bottom). It will automatically ping the author.

[2019-12-13 17:06] Tratcher commented on #15922
Sorry, no, this scenario is new for us and we haven't experienced any long term side-effects yet.

[2019-12-13 17:12] Rick-Anderson commented on #16178
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2019-12-13 17:12] #16178 closed

[2019-12-13 17:13] Rick-Anderson commented on #16177
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-12-13 17:13] #16177 closed

[2019-12-13 17:16] #16176 closed

[2019-12-13 17:16] Rick-Anderson commented on #16175
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-12-13 17:16] #16175 closed

[2019-12-13 18:07] #10556 closed

[2019-12-13 18:14] Rick-Anderson commented on #8003
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-12-13 18:14] #8003 closed

[2019-12-13 18:37] #10565 closed

[2019-12-13 18:52] Rick-Anderson commented on #10590
DI in RP is the same

[2019-12-13 18:52] #10590 closed

[2019-12-13 18:59] Rick-Anderson commented on #8596
Moved to #13245

[2019-12-13 18:59] #8596 closed

[2019-12-13 19:02] danroth27 opened #16181 "Blazor doc node should not show up for 2.2"
![image](https://user-images.githubusercontent.com/1874516/70824866-fff90b00-1d97-11ea-9a33-795a118916cb.png)

[2019-12-13 19:08] #9945 closed

[2019-12-13 19:09] #16152 closed

[2019-12-13 19:09] #12474 closed

[2019-12-13 19:12] Rick-Anderson commented on #13245
Per doc:

[2019-12-13 19:12] #13245 closed

[2019-12-13 19:18] mkArtakMSFT commented on #16111
@guardrex let's bring back the sectio nabout parent component.
Also, it would be great to document the usage of the `@attribute` on component level.

@hoksource it looks like you're confused about filters applicability. Filters are applicable to Controllers and Pages in some cases. They're not intended to be used on Components. Razor Pages and Components with a `@page` directive attribute are diff

[2019-12-13 19:20] mkArtakMSFT commented on #16118
@guardrex JSRuntime.Current is indeed gone. The JSRuntime services are available only through DI now. This is true for both 3.0 and 3.1.

[2019-12-13 19:21] Rick-Anderson commented on #10385
@serpent5 are you interested in this? No hurry. One option is to just point to this issue, I could do that.

[2019-12-13 19:26] mkArtakMSFT commented on #16119
Let's add more information about the `StateHasChanged` in the Lifecycle page: https://docs.microsoft.com/en-us/aspnet/core/blazor/lifecycle?view=aspnetcore-3.1#state-changes

[2019-12-13 19:46] #12502 closed

[2019-12-13 19:51] Rick-Anderson opened #16186 "Master issue for Authentication in web APIs with Azure Active Directory B2C in ASP.NET Core"
Address the following issues. Reopen each issue if you don't fix all of them in one PR:

- [ ] How to check scopes in .NET Core 3.1 web api app? #16436
- [ ]  Try this tutorial and it doesn't work - needs update to access token Auth URL #13363
- [ ]  ASP.NET Core 2.2/3.0 preview Jwt Bearer to API example (non Postman) #13215
- [ ]  Please revise this entire document. #13094
- [ ]  Postman Callback

[2019-12-13 19:54] Rick-Anderson commented on #6401
Moved to #16186

[2019-12-13 19:54] #6401 closed

[2019-12-13 19:54] Rick-Anderson commented on #8998
Moved to #16186

[2019-12-13 19:54] #8998 closed

[2019-12-13 19:54] Rick-Anderson commented on #10336
Moved to #16186

[2019-12-13 19:54] #10336 closed

[2019-12-13 19:55] Rick-Anderson commented on #11750
Moved to #16186

[2019-12-13 19:55] #11750 closed

[2019-12-13 19:55] Rick-Anderson commented on #13094
Moved to #16186

[2019-12-13 19:55] #13094 closed

[2019-12-13 19:55] Rick-Anderson commented on #13215
Moved to #16186

[2019-12-13 19:55] #13215 closed

[2019-12-13 19:55] Rick-Anderson commented on #13363
Moved to #16186

[2019-12-13 19:55] #13363 closed

[2019-12-13 20:00] #12797 closed

[2019-12-13 20:04] kevingates commented on #13423
Any update on this?

[2019-12-13 20:04] kevingates commented on #13423
In particular, for 3.1. Trying to get an WebAPI for internal use and we want to allow any origin and this setup has been a nightmare.

[2019-12-13 20:05] #10563 closed

[2019-12-13 20:12] Rick-Anderson commented on #10274
This was complete last version.

[2019-12-13 20:12] #10274 closed

[2019-12-13 20:22] Rick-Anderson commented on #11030
MOved to #11720

[2019-12-13 20:22] #11030 closed

[2019-12-13 20:24] rebelweb opened #16187 "Confusing Obsoleting Package - Microsoft.AspNetCore.Mvc.Razor"
I use the Microsoft.AspNetCore.Mvc.Razor package for the IRazorViewEngine interface. This document states the package is no longer being produced, but document at https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.razor.irazorviewengine?view=aspnetcore-3.1, says it is available in asp.net core 3.0 & asp.net core 3.1. I can include the package Microsoft.AspNetCore.Mvc.Razor at the

[2019-12-13 20:26] Rick-Anderson commented on #16187
Right, it's not a NuGet package. You get it from the Framework.

[2019-12-13 20:26] #16187 closed

[2019-12-13 20:27] guardrex commented on #16181
@scottaddie This seems to be caused by ...

[code]

What's the solution? Given that the sample apps are well cross-linked in the Blazor topics, we could remove that "Samples" link to solve this. 🤞 Is that the right fix?

[2019-12-13 20:34] rebelweb commented on #16187
If I remove the package, it no longer finds the interface was it renamed?

[2019-12-13 20:43] Rick-Anderson commented on #16187
No it was not. What version of ASP.NET Core are you using? I'm asking because you mentioned 2.2

[2019-12-13 20:43] #14455 closed

[2019-12-13 20:48] rebelweb commented on #16187
I am upgrading to 3.0. I figured out my issue, The project SDK was pointed at Microsoft.NET.Sdk.Razor instead of Microsoft.NET.Sdk.Web. Thank You for your help.

[2019-12-13 21:19] dave0783 opened #16188 "This doesn't work at all"
Registering 2 authentication schemes and passing 2 different bearer tokens always yields the default scheme being called

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee71441f-471a-89cd-0ef4-9b32b5dd85cf
* Version Independent ID: 0096c365-2f4e-5d21-89a0-c4f10fcb0ed9
* Content: [Authorize with a specific scheme in ASP.

[2019-12-13 21:51] rynowak opened #16189 "RCL docs should explain information about components"
[EDIT by guardrex to update the metadata]

The RCL doc says a lot about Razor Pages and Razor Views for MVC.

It doesn't say a whole lot about adding components. We should have a section here that explains that you can use RCL for components, and what exactly is required (project file, `@using Microsoft.AspNetCore.Components.Web`). This is feedback from https://github.com/aspnet/AspNetCore/issues/

[2019-12-13 21:51] rynowak commented on #16189
/cc @guardrex

[2019-12-13 21:57] Rick-Anderson commented on #16188
Looks like a dup of #16156  and #12177

[2019-12-13 21:57] #16188 closed

[2019-12-13 22:01] Rick-Anderson opened #16190 "Master issue for: Authorize with a specific scheme"
This is the master issue for this doc. If you PR this doc and don't fix all the issues, open the issues you fix and close against that.

- [ ]  Multiple authentication schemes #16389

Closed and completed.
- [x] Multiple Cookie authentication #16156
- [x] no authentication scheme is specified when default is not specified #15695
- [x] It is not clear how challenging works with multiple authenticat

[2019-12-13 22:06] #9096 closed

[2019-12-13 22:07] Rick-Anderson commented on #12177
Moved to Master issue for: Authorize with a specific scheme #16190

[2019-12-13 22:07] #12177 closed

[2019-12-13 22:07] Rick-Anderson commented on #12437
Moved to Master issue for: Authorize with a specific scheme #16190

[2019-12-13 22:07] Rick-Anderson commented on #12438
Moved to Master issue for: Authorize with a specific scheme #16190

[2019-12-13 22:07] Rick-Anderson commented on #15695
Moved to Master issue for: Authorize with a specific scheme #16190

[2019-12-13 22:08] Rick-Anderson commented on #15791
@HaoK  also see Master issue for: Authorize with a specific scheme #16190

[2019-12-13 22:08] Rick-Anderson commented on #16156
moved to Master issue for: Authorize with a specific scheme #16190

[2019-12-13 22:29] serpent5 commented on #16155
This looks like #12564 and #15263. There’s some discussion in #15218.

[2019-12-13 22:34] serpent5 commented on #10385
Sure. I’ll add it to my list. I’ve got a fair bit of free time next week so I plan to spend some time on said list then.

[2019-12-13 22:57] guardrex commented on #16189
@rynowak We have a topic in the Blazor TOC for it (and the original comment came in from that, so the reader was looking in the right spot for help) ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/class-libraries?view=aspnetcore-3.1&tabs=visual-studio

I'll modify the metadata to point to that one for these updates.

[2019-12-13 23:08] dave0783 commented on #16188
@Rick-Anderson so is there no fix for this?

[2019-12-13 23:37] Rick-Anderson opened #16191 "Master issue for Policy-based authorization"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1141d92-adeb-6841-229f-914c808f9a2b
* Version Independent ID: 7089b376-949f-c1c6-c37a-5d8cc7ecf104
* Content: [Policy-based authorization in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-3.1#accessing-mvc-requ

[2019-12-13 23:40] Rick-Anderson commented on #12999
Moved to #16191

[2019-12-13 23:40] #12999 closed

[2019-12-13 23:40] Rick-Anderson commented on #15263
Moved to #16191

[2019-12-13 23:40] #15263 closed

[2019-12-13 23:41] Rick-Anderson commented on #16147
Moved to #16191

[2019-12-13 23:41] #16147 closed

[2019-12-13 23:41] Rick-Anderson commented on #16155
Moved to #16191

[2019-12-13 23:41] #16155 closed

[2019-12-13 23:50] Rick-Anderson commented on #16188
@dave0783  I've ping the engineering team in the master issue.

[2019-12-13 23:50] hoksource commented on #16111
I think my question is more on the routing part. how to prevent users from going to a set of pages where resources or parameters not met. I will post my question there. thanks.

[2019-12-13 23:54] Rick-Anderson commented on #12682
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-13 23:54] #12682 closed

[2019-12-13 23:54] hoksource opened #16192 "Clean way to guard routing"
Is there a clean way to guard specific events when user goes to a specified route. I want to be able to prevent users from accessing a set of page or redirect users to another page if a condition is met. I'm looking for something like
- angular routing guards
- or razor pages filters
- or page component base class that triggers onRoutingToPage
- or onRoutingToLayout (this applies for all pages und

[2019-12-13 23:55] Rick-Anderson commented on #12221
Moved to #13871

[2019-12-13 23:55] #12221 closed

[2019-12-13 23:56] Rick-Anderson commented on #14655
Moved to #13871

[2019-12-13 23:56] #14655 closed

[2019-12-13 23:56] Rick-Anderson commented on #14733
Moved to #13871

[2019-12-13 23:57] Rick-Anderson commented on #15463
Moved to #13871

[2019-12-13 23:57] #15463 closed

[2019-12-14 00:02] Rick-Anderson commented on #16144
@jeremyVignelles  thanks for posting that link.

[2019-12-14 00:06] Rick-Anderson commented on #16181
@guardrex  I think it's a good idea to remove the samples link even without this problem.

[2019-12-14 00:10] guardrex commented on #16181
Scott added it on https://github.com/aspnet/AspNetCore.Docs/pull/14499.

... idk if he has a way around the problem or if he felt it was super important. He may have a ✨ *DocTrick*:tm: ✨ to fix it.

[2019-12-14 00:13] jeremyVignelles commented on #16144
Since this issue is linked to the documentation page, I'm adding [that other link]( https://core.trac.wordpress.org/ticket/8942) I found from wordpress about that very issue. It seems that the size below which the issue is triggered is expressed in bytes after compression ( I mean that if you have a total of 512 plain text bytes, once encrypted, you will likely have less bytes)

[2019-12-14 00:19] #16144 closed

[2019-12-14 00:29] Rick-Anderson commented on #13487
Fixed in [this commit](https://github.com/aspnet/AspNetCore.Docs/commit/ed1499a6184576b3f7662e000ed167b8a15c14b3)

[2019-12-14 00:29] #13487 closed

[2019-12-14 00:30] #14137 closed

[2019-12-14 00:36] #15616 closed

[2019-12-14 00:43] Rick-Anderson commented on #14262
Looks like it's updated [SignaR section of what's new in 3.0](https://docs.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-3.0?view=aspnetcore-3.1#signalr)

[2019-12-14 00:43] #14262 closed

[2019-12-14 00:56] Rick-Anderson commented on #14269
Doced at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-3.1&tabs=visual-studio#worker-service-template

[2019-12-14 00:56] #14269 closed

[2019-12-14 00:59] Rick-Anderson commented on #12168
Moved to #14583

[2019-12-14 00:59] #12168 closed

[2019-12-14 01:03] #12661 closed

[2019-12-14 01:06] Rick-Anderson commented on #15729
Moved to #15941

[2019-12-14 01:06] Rick-Anderson commented on #14638
Moved to #15941

[2019-12-14 01:11] Rick-Anderson commented on #14528
@dougbu  I'm going to add a caveat to this doc:

The preceding code works for for small data sets. A real app should limit the number of rows returned.

[2019-12-14 01:14] Rick-Anderson opened #16195 "Master issue for Get started with Swashbuckle"
43K PV
---
This is the master issue for this doc.  Reopen each issue you are working on so the owner is notified.

PU issues:

* In "Describe response types", with NET Core 3.1, we need to specify Type to have example model on Swagger page #18173
* Injecting custom css should be done without copying the entire swagger ui #10916
* Add note for Swagger 2.0 versus OpenAPI 3.0.x #16070
* Reverse proxy

[2019-12-14 01:18] Rick-Anderson commented on #10337
Moved to #16195

[2019-12-14 01:18] #10337 closed

[2019-12-14 01:18] Rick-Anderson commented on #16070
Moved to #16195

[2019-12-14 01:18] #16070 closed

[2019-12-14 01:18] Rick-Anderson commented on #15755
Moved to #16195

[2019-12-14 01:18] #15755 closed

[2019-12-14 01:18] Rick-Anderson commented on #14631
Moved to #16195

[2019-12-14 01:18] #14631 closed

[2019-12-14 01:18] Rick-Anderson commented on #14594
Moved to #16195

[2019-12-14 01:18] #14594 closed

[2019-12-14 01:18] Rick-Anderson commented on #14478
Moved to #16195

[2019-12-14 01:18] #14478 closed

[2019-12-14 01:19] Rick-Anderson commented on #14055
Moved to #16195

[2019-12-14 01:19] #14055 closed

[2019-12-14 01:19] Rick-Anderson commented on #12304
Moved to #16195

[2019-12-14 01:19] #12304 closed

[2019-12-14 01:19] Rick-Anderson commented on #10916
Moved to #16195

[2019-12-14 01:19] #10916 closed

[2019-12-14 01:23] Rick-Anderson opened #16196 "Container list: Create a web API and MongoDB"
18,666 PV
---
This is the Container issue for this doc.  Reopen each issue you are working on so the owner is notified.

- [x] Replace NewtonSoftJson reference for Version 3.1 and newer #20791
- [x] Using asynchronous MongoClient APIs #21991
- [x] Suggestion: Add clarification for <port> in 'Test the web API' section #21920
- [x] Book Class #20773
- [x] MonoDB Rest API Tutorial : explain port #204

[2019-12-14 01:25] Rick-Anderson commented on #14623
Moved to #16196

[2019-12-14 01:25] #14623 closed

[2019-12-14 01:26] Rick-Anderson commented on #14651
Moved to #16196

[2019-12-14 01:26] #14651 closed

[2019-12-14 01:26] Rick-Anderson commented on #14829
Moved to #16196

[2019-12-14 01:26] Rick-Anderson commented on #15942
Moved to #16196

[2019-12-14 02:25] dougbu commented on #14528
@Rick-Anderson that sounds fine. I suggest the caveat should mention settings that make `ToListAsync()` and similar safe.

Model binding should limit collections to reasonable sizes e.g. using `MvcOptions.DefaultMaxModelBindingCollectionSize`. @ajcvickers does EF Core have limits on returned data sets that would be applicable here?

[2019-12-14 03:57] #16181 closed

[2019-12-14 04:35] alefcarlos opened #16197 "How to set affinity configuration"
I didn't see any information about how do we configure affinity. Should we use cookie? If so, which cookie name should I use? Or should we use header ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c548355c-d88f-b941-0622-56732973123b
* Version Independent ID: bddd7575-422d-4342-af48-f6b0979fb69a
* Content: [Redis bac

[2019-12-14 07:29] komanton commented on #14528
@Rick-Anderson I expected that examples will be modified to use the new feature: async enumerable, something like this:

`return View(await students.AsNoTracking().ToEnumetableAsync());`

I saw this method in the latest version of EF.

I am not sure that some limitations for the result sets may help in this case. Because even 10 records in results will appear like gigabytes of ram at scaling on th

[2019-12-14 15:37] doggy8088 opened #16199 "3.1 update: Migrate from ASP.NET MVC to ASP.NET Core MVC"
`services.AddMvc();` =&gt; `services.AddControllersWithViews();`

`app.UseMvc` ==&gt; `app.UseRouting` and `app.UseEndpoints`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0591f873-94fa-c678-a905-e002e4f2c902
* Version Independent ID: a84e5712-2926-7e6d-d913-54743070e9e8
* Content: [Migrate from ASP.NET MVC to ASP.NET

[2019-12-14 17:20] Rick-Anderson commented on #14528
@komanton  can you send me a link to `ToEnumetableAsync`

[2019-12-14 17:24] #14056 closed

[2019-12-14 18:30] Rick-Anderson opened #16200 "3.1 update: convert to System.Text.Json"
Should `JsonPatch` be converted to `System.Text.Json` ?
@JamesNK  please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 593f528c-61b9-7021-335d-c1c0ec1814d1
* Version Independent ID: 6a88d237-1a03-b865-e3c5-20ceedef2a1f
* Content: [JsonPatch in ASP.NET Core web API](https://docs.microsoft.com/en-us/aspnet/core/

[2019-12-14 18:43] JamesNK commented on #16200
It still uses Newtonsoft.Json

[2019-12-14 20:01] #16200 closed

[2019-12-14 20:07] guardrex commented on #10635
@Rick-Anderson I was locking resolved issues, but this one is still open ... close and lock it?

[2019-12-14 20:08] #10635 closed

[2019-12-14 20:17] Rick-Anderson commented on #15204
Proposed direction at https://github.com/Rick-Anderson/ToDoDTO
Is there a more efficient way to do this?
` public async Task<ActionResult<IEnumerable<TodoItem>>> GetTodoItems()` needs to be updated to not return the `Secret` field.

@serpent5  @tdykstra  any suggestions for more efficient code? PR's welcome

[2019-12-14 20:25] komanton commented on #14528
@Rick-Anderson The correct name of this method is AsAsyncEnumerable

I saw documentation for it here https://github.com/aspnet/EntityFrameworkCore/blob/2c341ee6cb9721fdaedbe3cb3b302c8b7a3fe008/src/EFCore/Extensions/EntityFrameworkQueryableExtensions.cs#L2808

[2019-12-14 20:32] Rick-Anderson commented on #14528
@ajcvickers  should we replace the scaffolded code
`return View(await students.AsNoTracking().ToListAsync());`

with
`return View(await students.AsNoTracking().AsAsyncEnumerable());`

[2019-12-14 20:38] serpent5 commented on #15204
Is that a private repo? It's 404ing.

[2019-12-14 21:51] Rick-Anderson commented on #15204
It was. I didn't think I could create private. It's public now.

[2019-12-14 23:15] Rick-Anderson commented on #16197
See https://blogs.msdn.microsoft.com/benjaminperkins/2016/06/03/setting-application-request-routing-arr-affinity-for-your-azure-app-service/

[2019-12-14 23:15] #16197 closed

[2019-12-15 02:17] tafia opened #16202 "EnumeratorCancellation attribute"
When building the server to client, I have a warning saying that the `CancellationToken` is missing a `EnumeratorCancellation` attribute or else it would remain unconsumed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a02b4e7d-971a-670b-02eb-89c5456ec8f2
* Version Independent ID: 5f2f089e-310d-83a1-9c56-9cb441b9914a

[2019-12-15 02:43] Rick-Anderson commented on #16202
What `dotnet --version` ?

[2019-12-15 03:12] alefcarlos commented on #16197
@Rick-Anderson , when I'm not using Azure signalR, how could I setup. I'm deploying it in k8s using Istio. And I need to know which header/cookie name I need to setup.

[2019-12-15 05:45] tafia commented on #16202
3.1

[2019-12-15 12:08] anandnandagiri opened #16203 "Microsoft.AspNetCore.Authentication.Google -Version 3.1.0"
[Enter feedback here]

Install-Package Microsoft.AspNetCore.Authentication.Google -Version 3.1.0
Steps mentioned is not working with ASP.NET Core 3.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d19b295-f935-3755-4ca4-9d0717b21e75
* Version Independent ID: 747a179e-90b7-de07-e270-82414963048a
* Content: [Google exte

[2019-12-15 17:45] Rick-Anderson commented on #16203
Try `Install-Package Microsoft.AspNetCore.Authentication.Google`

[2019-12-15 17:45] #16203 closed

[2019-12-15 22:09] ajcvickers commented on #14528
@smitpatel @AndriySvyryd @roji Thoughts on this?

[2019-12-15 22:24] AndriySvyryd commented on #14528
Sounds like a reasonable suggestion, though to really fix the issue `.Take(DefaultMaxModelBindingCollectionSize)` should probably be added.

[2019-12-15 22:33] roji commented on #14528
I don't think it's possible to await an IAsyncEnumerable. However, unless I'm mistaken ASP.NET's `View()` should be able to accept an IAsyncEnumerable directly (at the very least it seems to allow this [in web API](https://docs.microsoft.com/en-us/aspnet/core/web-api/action-return-types?view=aspnetcore-3.1#return-ienumerablet-or-iasyncenumerablet), which is ideal).

There's one more important poin

[2019-12-15 22:53] smitpatel commented on #14528
https://github.com/aspnet/EntityFrameworkCore/issues/5089

[2019-12-15 23:45] alexey-formalmethods opened #16205 "register AuthorizationHandler with EF and use it in AddPolicy"
Can you provide any example of registering the AuthorizationHandler and using it in AddPolicy() method?

You also mention, that "Handlers that use Entity Framework shouldn't be registered as singletons.". I have the exact case, how to work with it?

Here is my handler, where I want to inject HttpContextAccessor:
[code]
Here is my ConfigureServices. So how to add there Authorization with Policy, us

[2019-12-15 23:56] hmurty opened #16206 "register works but login does not"
Date: December 15, 2019
I am able to register but then login does not work: "invalid login attempt"
I go back to register again with the same username: "username is already taken"
Using VS 2019 16.4.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71a44c72-d256-fbee-ea70-2eb7472f8182
* Version Independent ID: 157027ff-

[2019-12-15 23:59] Rick-Anderson commented on #16206
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-12-15 23:59] #16206 closed

[2019-12-15 23:59] Rick-Anderson commented on #16206
Take a look at the DB and figure out what  you're doing wrong.

[2019-12-16 01:14] guardrex commented on #16205
Hello @alexey-formalmethods ... You'll get a faster response (a little bit faster), if you close this and re-open it using the **This page** feedback button+form at the bottom of the topic. It will open an issue with metadata that automatically pings the author.

[2019-12-16 01:36] hmurty commented on #16206
That was it. I accessed the Azure DB with VS and changed the setting "EmailConfirmed" to true.
I was able to login.
I use SendGrid. Now I need to add the email confirmation piece.
Found a write-up by you titled "Account confirmation and password recovery in ASP.NET Core".
Please let me know if there is another reference or a way to enable/disable this feature while creating the .NET Core web app w

[2019-12-16 04:22] ihorbond commented on #14170
Why is this issue closed ?! I have the same problem.

[2019-12-16 04:34] ihorbond opened #16207 "Namespace update"
Shouldn't it say GrcpGreeterClient namespace ?
Create the Greeter client
Build the project to create the types in the GrpcGreeter namespace. The GrpcGreeter types are generated automatically by the build process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d298a6c-8ddc-dbc8-d219-0fa7138442c2
* Version Independent I

[2019-12-16 04:40] ihorbond opened #16208 "Example code not working"
Followed tutorial step by step but when pasted code for client into Program.cs it seems the build process didn't generate types based on .proto so line
var client = new Greeter.GreeterClient(channel);
breaks saying Greeter is could not be found. Same with HelloRequest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d29

[2019-12-16 06:11] Rick-Anderson commented on #14170
@ihorbond  the cause of the problem and solution are in this issue.

[2019-12-16 06:12] Rick-Anderson commented on #10860
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-12-16 06:12] #10860 closed

[2019-12-16 06:14] Rick-Anderson commented on #7847
@scottaddie  we don't have the resources to maintain our current testing docs, so I'm closing this issue.

[2019-12-16 06:14] #7847 closed

[2019-12-16 06:15] #13468 closed

[2019-12-16 06:15] Rick-Anderson opened #16209 "Container issue: Use the React project template"
This is the Container issue for this doc.  Reopen each issue you are working on so the owner is notified.

* using old and unecessary --save flag on npm #24663

PU issues

*  #11326
*  #9344
*  #7644
* #18851
* #27592

![image](https://user-images.githubusercontent.com/3605364/81249132-9fbe6c00-8fb9-11ea-9363-094f96e8b340.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-12-16 06:17] Rick-Anderson commented on #11326
Moved to #16209

[2019-12-16 06:17] #11326 closed

[2019-12-16 06:18] Rick-Anderson commented on #10303
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-16 06:18] #10303 closed

[2019-12-16 06:19] Rick-Anderson commented on #9344
Moved to #16209

[2019-12-16 06:19] #9344 closed

[2019-12-16 06:19] Rick-Anderson commented on #7644
Moved to #16209

[2019-12-16 06:20] Rick-Anderson commented on #16208
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2019-12-16 06:22] Rick-Anderson commented on #16207
The namespace is correct.

[2019-12-16 06:22] #16207 closed

[2019-12-16 06:22] Rick-Anderson commented on #16205
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2019-12-16 06:22] #16205 closed

[2019-12-16 06:26] #14809 closed

[2019-12-16 06:28] #14032 closed

[2019-12-16 06:29] Rick-Anderson opened #16210 "Master issue: Facebook, Google, and external provider s"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1612f19-f267-493a-c230-2ca18e4eb50b
* Version Independent ID: d312db0f-6cf1-87ca-09b0-604a66e18a07
* Content: [Facebook, Google, and external provider authentication in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/?view=aspne

[2019-12-16 06:31] Rick-Anderson commented on #13894
Thanks for contacting us.
We don’t have the resources to invest in this area, so we are closing the issue. Should your request generate enough  👍 responses, we’ll reconsider.

[2019-12-16 06:31] #13894 closed

[2019-12-16 06:32] Rick-Anderson commented on #1470
Moved to #16210

[2019-12-16 06:32] #1470 closed

[2019-12-16 06:33] Rick-Anderson commented on #10504
Moved to #16210

[2019-12-16 06:33] Rick-Anderson commented on #13234
Moved to #16210

[2019-12-16 06:33] #13234 closed

[2019-12-16 06:37] alexey-formalmethods opened #16211 "register AuthorizationHandler with HttpContextAccessor and EF and use it in AddPolicy"
Can you provide any example of registering the AuthorizationHandler with HttpContextAccessor and using it in AddPolicy() method?

You also mention, that "Handlers that use Entity Framework shouldn't be registered as singletons.". I have the exact case, how to work with it?

Here is my handler, where I want to inject HttpContextAccessor:

[code]
Here is my ConfigureServices. So how to add there Aut

[2019-12-16 06:38] mahendra-gangurde opened #16212 "Confusion about the Key in the Key Ring"
I got an error like this -
System.Security.Cryptography.CryptographicException: The key {e47ceea6-be1f-440b-b204-64ff5a152552} was not found in the key ring.
at Microsoft.AspNetCore.DataProtection.KeyManagement.KeyRingBasedDataProtector.UnprotectCore(Byte[] protectedData, Boolean allowOperationsOnRevokedKeys, UnprotectStatus& status)
at Microsoft.AspNetCore.DataProtection.KeyManagement.KeyRingBase

[2019-12-16 06:40] Rick-Anderson commented on #16212
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

[2019-12-16 06:40] #16212 closed

[2019-12-16 07:01] enetstudio opened #16213 "The code sample in the Basic usage requires some adjustment..."
Calling JsonSerializer.DeserializeAsync with only one parameter is not enough. The code is executed, but the result is wrong. You should provide a second parameter:  JsonSerializerOptions . The following works for me:
` await JsonSerializer.DeserializeAsync
                                 &lt;WeatherForecast[]&gt;(responseStream,
                                 new JsonSerializerOptions { Proper

[2019-12-16 09:31] KalleOlaviNiemitalo commented on #15670
#16116 does not fix the misinformation that I originally reported:

[2019-12-16 09:57] mahendra-gangurde commented on #16212
@Rick-Anderson Thanks.

[2019-12-16 10:14] ozkank opened #16215 "ValidateModelAttribute example typo error"
[There is a typo end of the ValidateModelAttribute example on the ASP.NET CORE 3.0 doc page. You should add one more square bracket.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a70a955f-dd5a-c46b-dfe8-21521e619320
* Version Independent ID: ebb299e0-6c1c-7077-689d-ac711352e418
* Content: [Filters in ASP.NET Core](ht

[2019-12-16 11:51] guardrex commented on #16215
Hello @ozkank ...  I don't see what you're referring to. Could you screenshot it for us? Drag the image file right into a comment on this issue.

[2019-12-16 11:51] kigold commented on #7212
Hello, I have been all over the internet trying to implement this SMS 2FA thing, similar to the other requests, I do not want to introduce extra complication on the user part, so QR code is not an option, PLEASE, any information that would guide me on how to implement this would be greatly appreciated. Thanks

[2019-12-16 11:57] guardrex commented on #16213
Hello @enetstudio ... by "result is wrong" you just mean that camel case isn't used, correct?

The fix is probably to cross-link the topic that covers it at ...

https://docs.microsoft.com/dotnet/standard/serialization/system-text-json-how-to

[2019-12-16 12:10] ozkank commented on #16215
Hi @guardrex
You can find here.
![image](https://user-images.githubusercontent.com/5203386/70905864-10b6b480-2016-11ea-8b3e-cbab7158e159.png)
Url : https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-3.0

[2019-12-16 12:14] guardrex commented on #16215
**_OH!_** lol :smile: ... you said "bracket," so the brace didn't register. I was just saying on another issue that I need to brew some ☕️!!! I'll do that.

Ok ... I'll fix this up right now. Thanks for calling it out.

[2019-12-16 12:22] guardrex commented on #16215
That was done on purpose to show two code snippets from the same source without using in-text code blocks. Code snippet named `snippet` ...

https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/mvc/controllers/filters/sample/FiltersSample/Filters/ValidateModelAttribute.cs

Thanks for mentioning it tho. Always best to take a look and confirm.

[2019-12-16 12:22] #16215 closed

[2019-12-16 12:26] komanton commented on #14528
@roji Thanks for the detailed explanations. Looks like this doc: [in web API](https://docs.microsoft.com/en-us/aspnet/core/web-api/action-return-types?view=aspnetcore-3.1#return-ienumerablet-or-iasyncenumerablet) is what I have expected to see in the documentation actually. I have no questions at his moment. And, probably, this issue may be closed.

[2019-12-16 13:51] arsalan0312 opened #16218 "SignalR User specific hub."
This is an example Regarding signalR ,It has no explanation of these fuctions "Clients.User(user).SendAsync("ReceiveMessage", message)"
and yet no implementation as well ,just only three features were implemented ,
The purpose of an example project like this is to showcase the all the availible functions
Please add the implementation of the user specific notification.

URL of project is given belo

[2019-12-16 14:22] mchudinov commented on #9244
How to create claims without using Entity Framework ?
How to just add claims to ClaimsPrincipal object during the login process?

[2019-12-16 14:41] joshbouganim opened #16219 "Small Typo"
&gt; It's also possible for a token to never be cancelled if no changes occur or the underlying change listener is disposed or disabled.
Should be "called" instead of "cancelled"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9310e951-5185-4c31-064d-3a151acc17cf
* Version Independent ID: 42bc4b7b-2a1c-0248-2740-0decdda

[2019-12-16 15:01] ihorbond commented on #16207
Right, it is because we pasted .proto from server project where namespace was GrpcGreeter. In client project the namespace is GrpcGreeterClient though so in my opinion it'd make sense to update option csharp_namespace to GrpcGreeterClient in client's .proto

[2019-12-16 16:11] guardrex commented on #16219
Hello @joshbouganim ... I think the current text is accurate, and it was checked a few times by engineering and approved on their reviews of the topic. If we get more feedback of this nature for that line, then we'll ping them to take another look.

[2019-12-16 16:11] #16219 closed

[2019-12-16 16:17] dazinator commented on #12121
I noticed `IOptionsSnapshot` (which is implemented by `OptionsManager` and registered as scoped) uses it's own private cache for options instances, compared to `IOptionsMonitor` which uses the singleton `IOptionsMonitorCache`. This can lead to inconsistencies if not careful when consuming both in different places during a request. For example, invaldating an option value in `IOptionsMonitorCache`

[2019-12-16 18:36] Rick-Anderson commented on #14528
Need to leave it open to warn about number of rows returned.

[2019-12-16 18:39] Rick-Anderson commented on #7212
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/2fa?view=aspnetcore-1.1 shows how to do it. Generate a 1.1 project and copy the code to a 3.1 project.

[2019-12-16 18:40] ajcvickers commented on #14528
@rynowak I think it would be useful to align understanding between EF and MVC here around the best practices for using IAsyncEnumerable. Would it be worth putting something on the calendar for the new year, or do you think we can come to a conclusion here?

[2019-12-16 19:05] Rick-Anderson commented on #16218
Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2019-12-16 19:05] #16218 closed

[2019-12-16 19:08] CeciAc opened #16226 "Can't directly inject json content into static properties"
The comment below was machine translated

@1257960069 commented on [Sat Dec 14 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/225)

If the Option1 property of the class MyOptions is a static property, I want to directly use the property's static class MyOptions.Option1 to get the value after using the services.Configure <MyOptions> () method, but after I try, the value of MyOptions.O

[2019-12-16 19:14] guardrex commented on #16226
I have a feeling that this is *by-design*. Can you confirm @HaoK?

[2019-12-16 19:20] guardrex commented on #16226
@1257960069 ...

Can you provide an example? Show your code.

你能举个例子吗？显示您的代码。

Nǐ néng jǔ gè lìzi ma? Xiǎnshì nín de dàimǎ.

[2019-12-16 19:29] guardrex commented on #16213
I see. We did an update recently on samples to 3.1 without manually checking due to 🏃😅 being crazy busy. It's likely that the API changed there. I'll *try again!* 🤦‍♂

[2019-12-16 19:39] guardrex commented on #16213
@enetstudio ... I'm not having a problem here. Seems ok ...

<img width="239" alt="Capture" src="https://user-images.githubusercontent.com/1622880/70937166-76e90a80-2009-11ea-8fa8-5c0cc3f0eeb4.PNG">

[2019-12-16 19:46] guardrex commented on #16213
You passed an array and not an interface. I think the overload is different. We don't document all of them for every scenario supported. As long as the sample runs as shown for the scenario shown and the overload that you need works in your scenario, we're ok here. All of the overloads are actually documented in the API docs ...

https://docs.microsoft.com/dotnet/api/system.text.json.jsonserialize

[2019-12-16 19:46] #16213 closed

[2019-12-16 21:07] enetstudio commented on #16213
OK, I understand, thank you...

[2019-12-16 22:01] JuergenGutsch commented on #16174
Hey @Rick-Anderson,
Sorry for the delay. As mentioned in #11842 I would really like to create a PR with a sample about how to create a custom logging provider. Do I need to assign the PR to the closed ticket or to this ticket? Thanks

[2019-12-16 22:09] Rick-Anderson commented on #16174
@JuergenGutsch  I'll open the ticket when you PR this.

[2019-12-16 22:14] CGrijalva90 commented on #16090
I have the same issue, I was able to scaffold the model but when updating `Startup.cs` there is a missing namespace name for MovieContext. In my RazorPagesMovieContext.cs file, am I supposed to change the namespace there? I'm not following your picture, could you clarify a little more?

Thanks

[2019-12-16 22:29] JAusD opened #16229 "dotnet tools missing / database migration fails"
With just a fresh core 3.1 installation, dotnet tools were missing for me and needed manual installation:
dotnet tool install --global dotnet-aspnet-codegenerator --version 3.1.0
dotnet tool install --global dotnet-ef --version 3.1.0

Afterwards, "dotnet ef" commands end up with  build failed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-12-16 22:35] Rick-Anderson commented on #16229
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

[2019-12-16 22:35] #16229 closed

[2019-12-16 22:48] #14803 closed

[2019-12-16 22:51] #15886 closed

[2019-12-16 23:01] Rick-Anderson commented on #15374
@mkArtakMSFT please assign someone to draft this and we'll get it published ASAP.

[2019-12-16 23:01] Rick-Anderson opened #16230 "Container issue: Introduction to Identity"
See [all issues for this doc](https://github.com/dotnet/AspNetCore.Docs/issues?q=is%3Aissue+is%3Aopen+0e0d870e-e49a-e16c-c259-68d58e701b8f)

This is the Container issue for this doc. If you PR this doc and don't fix all the issues, open the issues you fix and close against that.

![image](https://user-images.githubusercontent.com/3605364/81248784-dcd62e80-8fb8-11ea-9644-fe594bdcd820.png)

PU Issue

[2019-12-16 23:04] Rick-Anderson commented on #15559
Moved to #16230

[2019-12-16 23:04] #15559 closed

[2019-12-16 23:04] Rick-Anderson commented on #14740
Moved to Moved to #16230

[2019-12-16 23:04] Rick-Anderson commented on #13900
Moved to Moved to #16230

[2019-12-16 23:04] Rick-Anderson commented on #12508
Moved to Moved to #16230

[2019-12-16 23:10] #15298 closed

[2019-12-16 23:14] Rick-Anderson commented on #14221
@hishamco please review

[2019-12-16 23:15] Rick-Anderson commented on #16076
Fixed in #16109

[2019-12-16 23:15] #16076 closed

[2019-12-16 23:39] Rick-Anderson commented on #12997
@serpent5  are you interested in writing a sample using the above code? Sometime next year? No hurry.

[2019-12-16 23:45] #11973 closed

[2019-12-17 00:07] talanc commented on #15895
Thanks @DrewBrasher
I got caught up trying to use `MapAreaControllerRoute` instead of just `MapControllerRoute`.

[2019-12-17 00:44] bdcoder2 opened #16231 "Using Windows Powershell to install the .NET Core Hosting Bundle and Web Deploy..."
Hello,

Just a quick question with regard to configuring a Windows VM environment...

Is there any way - **using Powershell** - to install the latest versions of .Net Core Hosting Bundle and Web Deploy?

Ideally, checks could be included to see if the .Net Core Hosting Bundle and/or Web Deploy is already installed.

Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-12-17 00:55] guardrex commented on #16231
Hello @bdcoder2 ... Custom Script Extension ... It was added to the Web Farm doc.

* https://github.com/aspnet/AspNetCore.Docs/issues/14520
* https://github.com/aspnet/AspNetCore.Docs/pull/15253
* https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/web-farm?view=aspnetcore-3.1#additional-resources
* https://github.com/aspnet/AspNetCore.Docs/issues/15873#issuecomment-559141343 ... a dev po

[2019-12-17 00:55] #16231 closed

[2019-12-17 01:10] LayersOfAbstraction commented on #13001
Thanks for the fix. Also thanks to Rick for making such vast and easy to understand docs. I wished I knew about EF core when I was in college.

[2019-12-17 01:33] Rick-Anderson commented on #11770
@FIVIL  I moved two of them over - see https://docs.microsoft.com/en-us/odata/webapi/odata-expand
The last one is in PR at https://github.com/MicrosoftDocs/OData-docs/pull/83

[2019-12-17 01:33] #11770 closed

[2019-12-17 02:26] Rick-Anderson commented on #12905
This appears to be a docker issue and not an issue with this doc.

[2019-12-17 02:26] #12905 closed

[2019-12-17 03:22] #15641 closed

[2019-12-17 03:32] AKA285066112 opened #16235 ".net core 30 :static file http404 on Linux Centos7"
when  run   dotnet xxxx.dll

Content root path  always reset to  path: /root
webroot  reset  too!!

Microsoft.AspNetCore.Hosting.Diagnostics[2]
Request finished in 0.8585ms 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceffa6a2-770c-1cd9-5145-dcd423f9dd22
* Version Independent ID: 1cb5eb30-dd84-e5e1-5826-d74243fab

[2019-12-17 03:36] Rick-Anderson commented on #15602
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-17 03:36] #15602 closed

[2019-12-17 03:50] Rick-Anderson commented on #16235
If you think this is a product bug, create the simplest possible sample that reproduces the problem and open an issue at [GitHub ASP.NET Core](https://github.com/aspnet/AspNetCore/issues/new?template=bug_report.md)

Include steps to reproduce the bug and the version you're using `dotnet --version`

Why aren't you using .NET Core 3.1?

[2019-12-17 03:50] #16235 closed

[2019-12-17 03:55] Rick-Anderson commented on #14800
This appears to be fixed,

[2019-12-17 03:55] #14800 closed

[2019-12-17 04:00] bdcoder2 commented on #16231
Thanks @guardrex - your hints pointed me in the right direction and I whipped up a quick Powershell script (shown below). The script can be executed on a newly provisioned **Windows** VM to install the ASP.NET Core Hosting Bundle and Web Deploy installers:

[code]
MUCH easier than fiddling with Internet Explorer settings on the VM -- easier to document to -- just change the download URLs from vers

[2019-12-17 04:49] SidShetye opened #16236 "Explanation for what really happens in debug mode"
The `Dockerfile` parts are very clear but VS seems to add some extra "magic" in debug mode which isn't clearly understood. Like:

1) How does VS launch the debug versions of the app in the container? The `Dockerfile`'s entry point is still `ENTRYPOINT ["dotnet", "MyProject.dll"]`. Is that through a hidden `docker exec`?

2) Similar clarity for the in-container remote debugger's lifecycle needed

3

[2019-12-17 05:22] #14141 closed

[2019-12-17 05:54] #3657 closed

[2019-12-17 05:55] Rick-Anderson commented on #3658
@guardrex can we close this? If no, what's the plan?

[2019-12-17 08:44] Dave-Lowndes commented on #15602
@Rick-Anderson I'd already replied that the reply from @pranavkm didn't help, so I fail to see why you've closed this as answered. The answer may make sense to you from the inside, but it's still inconsistent from my perspective.

[2019-12-17 09:41] Heidelberger opened #16239 "correction"
Code under "Razor Pages" section states:
services.AddMvc();

Razor Page support is added with the above, but other documentation states to use the following:
services.AddRazorPages();

Which one is best?

Link to above issue:
https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-2.1&tabs=visual-studio#razor-pages-1

Link to other documentation stating to use .AddRazorPages():
h

[2019-12-17 09:44] Heidelberger commented on #16239
I see now that .AddRazorPages() is a .net core 3.0 feature, and the article I commented on is .net core 2.0.

[2019-12-17 09:44] #16239 closed

[2019-12-17 13:10] guardrex commented on #3658
We used to have https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-2.2#container-configuration ... I *think* 🤔 it was dropped because one of the goals for the 3.0 update was ...

Moving it would have been better than dropping it. If it isn't here and it isn't in the DI topic (for the same reason), where does that go? ... a *short topic* in the *Advanced* no

[2019-12-17 15:10] taixes opened #16241 "UseAuthorization in Built-in middleware"
In the Built-in middleware section there is no description for the Authorization built-in middleware (Core 3.0). Shouldn't it be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9898482c-fa54-7ce2-1716-d14fbe03990d
* Version Independent ID: 3926c686-0ccc-f9fe-ca52-0134612a1623
* Content: [ASP.NET Core Middleware](

[2019-12-17 16:14] kevingates opened #16242 "3.1 (LTS) and CORS for Web API"
### What I searched:
CORS, IIS, Web API, Core 3
**Help us make content visible**

### Related, but insufficient documentation:

- https://forums.iis.net/t/1241919.aspx?Enable+CORS+in+IIS+8+5+application
- https://blogs.iis.net/iisteam/getting-started-with-the-iis-cors-module
- https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-3.1

### Related, but ultimately unhelpful Open

[2019-12-17 16:15] #14309 closed

[2019-12-17 16:15] #15303 closed

[2019-12-17 17:52] krbrennan commented on #16077
Rick-Anderson -- I confirmed through use of the commands you supplied that my inability to create a project using 3.1 is limited to creating a project with the VS2019 GUI, and I submitted feedback as you suggested. Thank you for the help.

[2019-12-17 17:58] Coderrob opened #16245 "Documentation needed to clarify how route precedence works in .Net Core 3+."
In previous versions of Asp.Net MVC when using the router's `MapRoute` it used to be documented the order you should define routes. I believe the previous guidance was to enter the routes from the "most restrictive" route to the default route.

Ex:
[code]

Now it seems that the reverse is true. Looks like the router must define the default route first then the more restrictive routes.

[code]

It

[2019-12-17 18:40] #10033 closed

[2019-12-17 20:30] hishamco commented on #14221
Sure but I like to know if it's doc or technical issue? I saw @ryanbrandenburg comment and that's why I asked the question again

[2019-12-17 20:34] guardrex commented on #16226
I think the general advice from engineering is not to use static classes with dependency injection. I know that you can't use a static type when calling `Configure` to configure options. I'm less sure about using a static property, but it does present problems. For example, I just made `Option1` a static property, and it led to problems like this ...

[2019-12-17 20:34] #16226 closed

[2019-12-17 21:04] Rick-Anderson commented on #14221
@jcemoller

Is the 3.1 behavior the same?

[2019-12-17 21:38] guardrex commented on #16118
Fixed by https://github.com/aspnet/AspNetCore.Docs/pull/16246.

[2019-12-17 21:38] #16118 closed

[2019-12-17 21:47] max6811 commented on #13001
Add-Migration nameOfMigration -Context testdbContext
Update-Database -Context testdbContext

this is the solution

[2019-12-17 21:50] divinebovine opened #16247 "Add section on Microsoft.Extensions.Caching.Redis being removed"
There's been some questions regarding the lack of Microsoft.Extensions.Caching since the release of ASPNET.Core 3.0. I did a little research and it looks like it was removed on purpose, but I can't find any information on the breaking change.

https://stackoverflow.com/questions/59292159/does-redis-cache-in-net-core-3-requires-the-usage-of-the-stack-exchange-package/59313344#59313344

---
#### Doc

[2019-12-17 21:58] rjgotten commented on #13245
@ryanbrandenburg

You're not missing anything.
Either you have something that exactly fits the Microsoft-determined React or Angular mold, or your scenario is no longer supported and Microsoft is selling you what is essentially a PR-friendly wrapping around a brusque "it's been great, now fuck off."

The reason for it is laughable as well; citing a high cost of maintenance to keep the parts that i

[2019-12-17 21:59] guardrex commented on #16247
The announcement is here ...

https://github.com/aspnet/Announcements/issues/322

We cover it in the Distributed Caching topic (it's versioned content) ...

https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed?view=aspnetcore-3.1#distributed-redis-cache

AFAIK, it's not covered in our *Migration* doc set.

[2019-12-17 22:10] wadepickett commented on #14803
Update.  We triaged the number of backlog items we set out to do for this issue.  Of course, more keep coming in.   As of 12/17/19 we hit zero backlog items that needed to be labeled.

[2019-12-17 22:17] divinebovine commented on #16247
I was aware of the Distributed Caching topic, but there was no explanation, so it left me unsure if it was intentional or not.

Doing announcements in Github issues does raise the question of discoverability, especially when you consider the number of Github repositories that will need monitoring. If you don't feel like things like this are worthwhile to add to the migration document, I guess its

[2019-12-17 22:22] divinebovine commented on #16247
I take back what I said about the number of repos to monitor, I didn't realize it was an announcements repository.

[2019-12-17 22:23] guardrex commented on #16247
Yes, we just version the content. In many cases, you'd have to flip the topic's version selector over to the earlier version to see the difference. We try to document the current version only in a given version of the topic. Changes are called out in the *Migration* topic set.

Most of the announcement content makes it into the *Migration* topics. This was an oddball one that didn't find its way i

[2019-12-17 22:31] divinebovine commented on #16247
Completely understandable. Thanks for your time!

[2019-12-17 22:31] #16247 closed

[2019-12-17 23:06] CGrijalva90 opened #16249 "The type or namespace name 'MovieContext' could not be found"
After scaffolding, I tried to inject IWebHostEnvironment into `Startup.cs` using the code provided but I got the following error: `The type or namespace name 'MovieContext' could not be found`. the `MovieContext` is found in the `ConfigureServices` method.

I'm using .NET Core 3.1, and Visual Studio Code. I'm unsure if the docs got messed up somewhere or if the issue is on my end.

`Data/RazorPage

[2019-12-17 23:13] #15745 closed

[2019-12-17 23:16] Rick-Anderson commented on #16249
The tutorial works. I'm not sure what step you missed. You might try asking on StackOverflow,.

Next time Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2019-12-17 23:16] #16249 closed

[2019-12-17 23:21] Rick-Anderson opened #16250 "Container issue: Visual Studio Container Tools with ASP.NET Core"
4.5K PV

This is the Container issue for this doc.  Reopen each issue you are working on so the owner is notified.

* Explanation for what really happens in debug mode #16236
* Visual Studio Container Tools with ASP.NET Core - outdated? #21264

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d772b44a-b5f3-5a10-4ea3-4463b

[2019-12-17 23:21] serpent5 commented on #12997
Yeah, this looks good. I'll add it to my list.

[2019-12-17 23:23] Rick-Anderson commented on #10757
Moved to #16250

[2019-12-17 23:23] Rick-Anderson commented on #11678
Moved to #16250

[2019-12-17 23:23] #11678 closed

[2019-12-17 23:23] Rick-Anderson commented on #13388
Moved to #16250

[2019-12-17 23:23] Rick-Anderson commented on #16236
Moved to #16250

[2019-12-18 00:08] CGrijalva90 commented on #16249
@Rick-Anderson Is there a final version on github for the completed tutorial that I can reference?

[2019-12-18 00:19] CGrijalva90 opened #16253 "The type or namespace name 'MovieContext' could not be found"
After running the scaffold, right under "Use SQLite for development, SQL Server for production", I try to update the ConfigureServices method in Startup.cs but the reference of "MovieContext" cannot be found in the following line:

[code]

 I've followed the tutorial step by step numerous times, and can't seem to find where the namespace is missing or the missing reference.

---
#### Document Deta

[2019-12-18 00:22] Rick-Anderson commented on #16253
![image](https://user-images.githubusercontent.com/3605364/71045327-a450b980-20d8-11ea-89fb-32c366a834c5.png)

[2019-12-18 00:22] #16253 closed

[2019-12-18 00:40] eudson opened #16255 "Unable to pass binding phase with nested object"
Hi

Am new to .Net Core and I just configured a project that uses the latest version of .net core (3.1.xxx) following a tutorial and checking Microsoft Docs.

I have a couple of entities on my project and the entities composed with simple attributes (primitive types) I'm able to save them using the API. But Am facing a problem when I try the same with an Entity that has other entities as attribute