[2022-07-21 19:00] Rick-Anderson commented on #26498
There is no default port now.

[2022-07-21 19:11] Rick-Anderson commented on #26501
@brunolins16 see [[BindRequired] attribute](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-6.0#bindrequired-attribute-1) That doesn't appear to be correct, did that change?

[2022-07-21 19:27] Rick-Anderson opened #26503 "Refactor Routing into basic and advanced docs"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32374077-e02e-d6a6-1cea-05e58447b7cd
* Version Independent ID: 86aeab13-1c25-9fc1-4e56-0390cb40c242
* Content: [Routing in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-6.0)
* Content Source: [aspnetco

[2022-07-21 20:04] camerontbelt commented on #25157
Is there any resolution to this error? I am also seeing this even though it tells me it search exactly where the view is located.
`An unhandled exception occurred while processing the request.
InvalidOperationException: The view 'Index' was not found. The following locations were searched:
/Areas/Fluids/Views/WorkOrderRecon/Index.cshtml
/Areas/Fluids/Views/Shared/Index.cshtml
/Views/Shared/Index.c

[2022-07-21 20:41] Funix565 commented on #17465
Dear @Rick-Anderson ,

Could you please explain to me the purpose of this container issue? As I see, they are all closed with almost no solution or explanation provided.

The latest commit to the EF Core with MVC repository was done on _Jun 24, 2022_. So I think it would be still relevant to adjust some code snippets which misled me and may confuse other users too.

Now there are 4 directories rel

[2022-07-21 21:12] Rick-Anderson commented on #17465
@Funix565

We don't have the resources to working on issues for this document, so we are keeping one container issue to track all the issues we'd like to fix.

The entire doc needs to be updated using much of the code from [Razor Pages with Entity Framework Core](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/intro)

[2022-07-21 21:21] #26498 closed

[2022-07-21 21:25] #26345 closed

[2022-07-21 21:40] Rick-Anderson opened #26505 ".NET 8: Code only EF with RP add inheritance and advanced topics"
1.  Copy Code from [EF-RP 6.0  project](https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-rp/intro/samples/cu60)  to [cu90](https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-rp/intro/samples/cu90) and update for .NET 9

2. Quick review of code and update where necessary.
3. Add code for inheritance. Hopefully you can use some of the code from [Tutorial: Im

[2022-07-21 22:44] Rick-Anderson commented on #26505
@JeremyLikness  I'm hoping you can do this early next year after the .NET 7 push. Would it be helpful to create an issue tacking this in https://github.com/dotnet/EntityFramework.Docs/issues ?
cc @roji @ajcvickers

[2022-07-21 22:47] Rick-Anderson commented on #17465
See #26505

[2022-07-21 22:55] #26490 closed

[2022-07-22 02:43] Rick-Anderson opened #26513 ".NET 7:JSON options configuration"
[JSON options configuration](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-net-7-preview-1/#json-options-configuration)

`ConfigureRouteHandlerJsonOptions` has been renamed `ConfigureHttpJsonOptions`, see https://github.com/dotnet/aspnetcore/pull/42747

Need to update the following code for next release:

[code]

[2022-07-22 02:47] #26513 closed

[2022-07-22 02:55] Rick-Anderson opened #26514 "Project template option to use Program.Main method instead of top-level statements"
[Project template option to use Program.Main method instead of top-level statements](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-4/#project-template-option-to-use-program-main-method-instead-of-top-level-statements)

[2022-07-22 03:00] Rick-Anderson opened #26515 "Rate limiting middleware"
* [RateLimiting middleware](https://devblogs.microsoft.com/dotnet/announcing-rate-limiting-for-dotnet/#ratelimiting-middleware) from the blog [Announcing Rate Limiting for .NET](https://devblogs.microsoft.com/dotnet/announcing-rate-limiting-for-dotnet/)
* [Rate limiting middleware](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-4/#rate-limiting-middleware)
* [Blog u

[2022-07-22 04:10] sammychinedu2ky commented on #26476
done

[2022-07-22 04:54] wadepickett commented on #26477
@Rick-Anderson, thanks.  Please see your calendar.  I will not be able to be on this until after the 26th.

[2022-07-22 07:45] gaazkam opened #26518 "The documentation seems to contradict itself on where the Routing middleware should be registered"
The documentation page [Routing in ASP.NET Core § Routing basics](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-6.0#routing-basics) has this to say:

So the conclusion is that it is fine to default to not calling `UseRouting` in `Program.cs`?

The documentation page [ASP.NET Core Middleware § Middleware order](https://docs.microsoft.com/en-us/aspnet/core/fundame

[2022-07-22 13:06] guardrex opened #26519 "Blazor template and prerendering updates"
* [x] Prerendering `<head>` content.
* [x] Merge `_Layout` & `_Host`.
* [x] Other template updates, as needed (CSS, default loading experience, etc.).
* [x] *File Uploads* topic: NOTE 6.0 Minimal APIs won't work with `[FromForm]`. No NOTE for 7.0 or later b/c it will be supported.
* [x] Seek out "dotnet/aspnetcore/issues" text for PU repo cross-link updates
* [ ] Confirm Prerender and Integration

[2022-07-22 17:32] jeffsdata opened #26520 "How to run app in VS Code?"
The page does not show how to run the app in VS Code - it just accepts the certs, and says "VS Code" does all this stuff... but doesn't say how to do it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faf18d20-d28f-1efa-d329-181fff3630fa
* Version Independent ID: 46a7c2e0-4871-491f-02c2-54f7df2237b1
* Content: [Get sta

[2022-07-22 17:33] Rick-Anderson commented on #26520
It's there.

[2022-07-22 17:33] #26520 closed

[2022-07-22 18:30] jeffsdata commented on #26520
Oh yeah, I guess I was looking for how to run with the debugger. Thanks.

[2022-07-22 19:37] Tratcher commented on #26489
Technically true, but UseKestrel is built into many of the host setup APIs. Calling UseKestrel can break IIS for portable apps.

[2022-07-22 19:54] #26489 closed

[2022-07-22 20:30] senglory opened #26523 "One nuget installations command seems to be forgotten"
In my case attempt to issue 'Add-Migration' led to "The term 'Add-Migration' is not recognized" message in the cmd line.
Then I came across  [the following post](https://www.c-sharpcorner.com/blogs/addmigration-the-term-addmigration-is-not-recognized) and after issuing:

`Install-Package Microsoft.EntityFrameworkCore.Tools`

the following 'Add-Migration' started working

---

#### Document Details

[2022-07-22 20:45] Rick-Anderson commented on #26523
Maybe you missed a prereq in the article

[2022-07-22 20:45] #26523 closed

[2022-07-22 22:35] MarcoEnxuto opened #26524 "Documentation, code examples seem poor"
Hi,
I tried to understand the doc, but by using the coded provided on this page, seems quite impossible to get secrets by using DI.
Is this a draft?

Also, i checked the sample, and by using "Managed" it seems to not working correctly at all.
I read several times the doc, and i might get the idea.
How do i get a secret on a controller?
By using DI calling KeyVaultManager?
If so, how do i get the s

[2022-07-23 00:12] Rick-Anderson commented on #26524
Where do https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/security/key-vault-configuration/samples/6.x/KeyVaultConfigurationSample do that?

I recommend you first go through https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection and test your code with secrets manager then deploy to azure and test.

[2022-07-23 00:12] #26524 closed

[2022-07-23 02:43] Rick-Anderson commented on #26514
![image](https://user-images.githubusercontent.com/3605364/180587645-90f7cce5-d9f8-49d2-88cf-2258960394e1.png)

[2022-07-23 03:12] #26514 closed

[2022-07-23 03:22] Zhiyuan-Amos opened #26528 "Transient Scope for Custom AuthorizationMessageHandler class"
Hello! The document contains the following code snippet:

[code]

where `CustomAuthorizationMessageHandler` is registered as a `Scoped` service (`// 1`). However, the documentation for [`AddHttpMessageHandler<THandler>(IHttpClientBuilder)`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.httpclientbuilderextensions.addhttpmessagehandler?view=dotnet-plat-ext-6.0

[2022-07-23 09:25] tgafpc opened #26529 "Page doesn't match link from"
this page is linked from the Configure Storage Emulator Local wizard in Visual Studio.

But the choices in the wizard do not match any labels in the doc.

So, the user has to guess, deduce, presume what each means.

Even worse, the consequences of each choice, like None, are not documented.

Very bad show.  Disappointing.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-07-23 09:36] ajcvickers commented on #26505
@Rick-Anderson What is the value of tracking it in the EF repo? (Happy to have one if there is a reason for it.)

[2022-07-23 10:25] guardrex commented on #26528
cc: @javiercn ... This one requires your help 🚓🚑🚒.

Thanks for the issue, @Zhiyuan-Amos. It was transient prior to the release of 3.2.1. We changed it at the same time that `HttpClient` registrations went to scoped on ...

**Blazor scoped service registrations**
https://github.com/dotnet/AspNetCore.Docs/pull/19231

... which came about via docs issue ...

**[3.1.6] Incorrect HTTPClient registratio

[2022-07-23 11:33] tieje opened #26530 "The scaffolded page differs quite a bit from the tutorial"
The scaffolded page differs quite a bit from the tutorial.
Please compare and review `index.cshtml.cs` for the tutorial and what is actually generated by the scaffolding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70f6104a-a223-4bb3-4101-f553002b9b26
* Version Independent ID: 15e79e80-8d46-7cd5-c883-6cc0f5940a1b
*

[2022-07-23 22:51] Rick-Anderson commented on #26505
I was thinking you folks don't check other repo's for issues. I'm fine with tracking it here only. I'm mention you next year.

[2022-07-23 22:53] Rick-Anderson commented on #26529
Where?

[2022-07-23 23:18] eccentricnode opened #26531 "Tutorial behind latest version of EFC API"
[Enter feedback here]

The tutorial does not seem to be up to date. In the API code section there is a reference to ToListAsync() which is not available in the latest version of EFC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab408035-6313-a183-9940-32de00e0e977
* Version Independent ID: ab408035-6313-a183-9940-32de

[2022-07-23 23:30] Rick-Anderson commented on #26531
It's linking to EF 6.

[2022-07-23 23:30] #26531 closed

[2022-07-24 04:43] idobrodushniy opened #26532 "Razor pages tutorial documentation inconsistency"
In this document, part 5, section [Review Concurrency Exception Handling](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/da1?view=aspnetcore-6.0#review-concurrency-exception-handling), we mention a reference to another piece of the doc related to [concurrency exceptions explanation](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/concurrency?view=aspnetcore-6.0&tabs=vis

[2022-07-24 05:13] idobrodushniy commented on #26532
Am closing this one, since I figured out that the reference for the concurrency exception handling is meant to be related to production applications only.

In the tutorial, it is handled only on the level of the context that checks whether the amount of rows in the table that is supposed to be updated corresponds to the actual one that will be updated. 👍

[2022-07-24 05:13] #26532 closed

[2022-07-24 13:21] dougclutter commented on #26439
@guardrex - I understand crazy busy Luke; thanks for looking into it.

[2022-07-24 14:03] Jhstvf4t commented on #26515
I don't have money anymore to go out to the workshop, I want to eat, let alone me

[2022-07-24 14:03] Jhstvf4t commented on #26326
I don't have money anymore to go out to the workshop, I want to eat, let alone me

[2022-07-24 14:04] Jhstvf4t commented on #26528
I don't have money anymore to go out to the workshop, I want to eat, let alone me

[2022-07-24 15:05] erandafdo94 commented on #26337
I was stuck on this for couple days as well. setup according to this article : https://bel62.wordpress.com/2021/07/12/change-identity-to-use-guid-in-in-ef-core-3-1/

it worked.

[2022-07-24 17:42] idobrodushniy opened #26533 "No DB schema example for SQLite"
Part 8, section [Apply migrations](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/validation?view=aspnetcore-6.0&tabs=visual-studio-code) ⬇️

We specify that the current schema of the table is
[code]

Meanwhile, we don't mention it applies only to SQL server implementation (which is a showcase when people use Visual Studio, not Visual studio code), since if student follows the

[2022-07-25 09:02] ComradeLV opened #26535 "Missing LanguageFilterAttribute implementation example"
The section [Use hub filters](https://docs.microsoft.com/en-us/aspnet/core/signalr/hub-filters?view=aspnetcore-6.0#use-hub-filters) contains the sentence: `For this example, assume a LanguageFilterAttribute class is defined`. As a developer who is working on this first time and didn't implemented filters with attributes before, this is quite unfriendly - i need to get more docs or try _something_,

[2022-07-25 09:48] wcontayon commented on #26480
Hi @Rick-Anderson, can I try a PR on this docs topics 🙂

[2022-07-25 15:52] lucmoco commented on #6836
Hi,

I'm developing an application with a SPA front-end and an ASP.NET Core back-end. The back-end sets some pictures at disposal of the front-end, and all communication is protected with OAuth, including pictures.

Pictures are downloaded again and again from the back-end / database because I cannot configure caching on these. So I'm now tempted to enable anonymous access to the picture controlle

[2022-07-25 17:17] DrewBrasher opened #26538 "Make note that the example here will not work with minimal api"
It would be helpful if this page had a note that the example only works with a controller api because the minimal API does not natively support binding from form values (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/minimal-apis?view=aspnetcore-6.0#explicit-parameter-binding).

This Stack Overflow answer has some was to do it  with minimal api: https://stackoverflow.com/questions/71047

[2022-07-25 17:28] guardrex commented on #26538
Thanks @DrewBrasher ... Yes, I think that's going to be a .NET 7 feature released later this year (or now via preview).

I think I'll try to work this into the first round of .NET 7 Blazor updates:

* Place a NOTE for the 5.0 and 6.0 versions of this doc.
* No comment for the 7.0 version of the doc, since it doesn't show the Minimal API approach and will bind from a form (*in theory* 🤞🍀) if a dev

[2022-07-25 21:33] Rick-Anderson commented on #26533
Earlier in the tutorial it recommends SQLite tools

[2022-07-25 21:33] #26533 closed

[2022-07-25 21:41] Rick-Anderson commented on #26480
@wcontayon  thanks for the offer and checking. It looks like this is a duplicate issues and it was completed with #26463
I'm sorry I created a duplicate issue. cc @sammychinedu2ky

Have a look at the untaken [`is:open label:"code help wanted"`](https://github.com/dotnet/AspNetCore.Docs/labels/code%20help%20wanted)

[2022-07-25 21:41] #26480 closed

[2022-07-25 22:37] Rick-Anderson opened #26540 "Minimal API parameter binding for argument lists"
[Minimal API parameter binding for argument lists](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-5/#minimal-api-parameter-binding-for-argument-lists)

see https://github.com/dotnet/aspnetcore/pull/41325

Put code in https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/fundamentals/minimal-apis/arg-lists/readme.txt and delete readme.txt

Use
[code]

`@brun

[2022-07-25 22:42] Rick-Anderson opened #26541 ".NET 7: Request decompression middleware"
[Request decompression middleware](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-6/#request-decompression-middleware)

See https://github.com/dotnet/aspnetcore/pull/40279

Put sample [here](https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/fundamentals/middleware/samples) then delete the [readme file](https://github.com/dotnet/AspNetCore.Docs/blob/main

[2022-07-25 22:44] Rick-Anderson opened #26542 ".NET 7: Output caching middleware"
[Output caching middleware preview 7.6 blog](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-6/#output-caching-middleware)

Should this be a new topic under [Minimal APIs overview](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/minimal-apis?view=aspnetcore-7.0)

<img width="208" alt="image" src="https://user-images.githubusercontent.com/3605364/181122879-a

[2022-07-25 23:47] crtjr64 opened #26544 "Logging Information is incorrect"
Signalr javascript is trapping all my errors so I don't know about them when called from a signalr process I created such as receive message. Inside the javaScript, this code is run by Signalr

`this._logger.log(LogLevel.Error, A callback for the method ${invocationMessage.target.toLowerCase()} threw error '${e}'.);`

which prevents the error from coming back to my browser and so I never see it wh

[2022-07-25 23:52] crtjr64 commented on #26544
found an issue, it looks like the non option either doesn't work or is the default but when I specified the Information option, the messages came back to the console.

[2022-07-25 23:54] Rick-Anderson commented on #26544
Yes, the error log is the console.

[2022-07-25 23:54] #26544 closed

[2022-07-25 23:55] Rick-Anderson opened #26545 ".NET 7: Kestrel support for WebSockets over HTTP/2"
[Kestrel support for WebSockets over HTTP/2](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-6/#kestrel-support-for-websockets-over-http-2)

[2022-07-25 23:56] crtjr64 commented on #26544
it doesn't show the line of code as when I trap the error. These extra time wasting steps should have more detailed documentation... Its just skimmed over.

[2022-07-25 23:57] Rick-Anderson opened #26546 ".NET 7: Kestrel performance improvements on high core machines"
[Kestrel performance improvements on high core machines](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-6/#kestrel-performance-improvements-on-high-core-machines)

[2022-07-25 23:59] Rick-Anderson opened #26547 ".NET 7: Support for logging additional request headers in W3CLogger"
[Support for logging additional request headers in W3CLogger](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-6/#support-for-logging-additional-request-headers-in-w3clogger)

[2022-07-26 00:01] Rick-Anderson opened #26548 ".NET 7: System.Security.Cryptography support on WebAssembly - Not ready in preview 6"
Wait until this is finished in another preview.
[System.Security.Cryptography support on WebAssembly](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-6/#system-security-cryptography-support-on-webassembly)

[2022-07-26 00:16] Rick-Anderson opened #26549 ".NET 7: MapGroup support for more extension methods"
[MapGroup support for more extension methods](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-6/#mapgroup-support-for-more-extension-methods)

source code created in  #26476

@fiyazbinhasan modified it for testing in #26801 see [this comment](https://github.com/dotnet/AspNetCore.Docs/pull/26801#discussion_r970272291) where I give permission to modify the code. We may

[2022-07-26 00:45] Rick-Anderson commented on #26217
Dup of #26155

[2022-07-26 00:45] #26217 closed

[2022-07-26 00:46] Rick-Anderson commented on #26389
dup of #26155

[2022-07-26 00:50] Rick-Anderson commented on #10444
Thank you for contacting us. Due to a lack of activity on this discussion issue we're closing it in an effort to keep our backlog manageable. If you believe there is a concern which hasn't been addressed, please file a new issue.

[2022-07-26 00:50] #10444 closed

[2022-07-26 01:09] #26389 closed

[2022-07-26 01:50] idobrodushniy commented on #26533
@Rick-Anderson not sure what you mean.
Could you please specify exactly the line in the doc and how SQLite tools are related to my question?

[2022-07-26 09:27] inthegarden opened #26552 "Says to install a package then doesn't say what that package is"
"but it can be added by installing the required package in the Dockerfile"

And the required package is? And where can it be found?

I'm a Linux newbie BTW!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0cbb094-29e9-740a-9fd6-db372641d753
* Version Independent ID: 52d8efc9-a336-71d9-6d90-98173cbf6bf4
* Content: [Heal

[2022-07-26 09:32] inthegarden commented on #26552
Seems I can't read! :-(

[2022-07-26 09:32] #26552 closed

[2022-07-26 17:49] #26393 closed

[2022-07-26 21:00] sammychinedu2ky commented on #26549
I think adding more extension methods to the Todo would be nice to have. Would make some updates

[2022-07-26 21:01] sammychinedu2ky commented on #26549
@Rick-Anderson

[2022-07-26 21:45] Denny966 commented on #16389
Doesn't seem to work for me, in you case it would give the error

kid: 'System.String'.

[2022-07-27 03:31] Rick-Anderson commented on #26155
@captainsafia please review. Note, my instructions worked last week. Today when I test I get the following error in the curl console:

[code]

And there's no logging information to help out.

[2022-07-27 05:05] adver501 opened #26555 "Blazor DynamicComponent example error"
I want to use DynamicComponent to add a preDefiend component dynamiclly to razor page when a button clicked.
when i build project this error appeared:
error: CS1662	Cannot convert lambda expression to intended delegate type because some of the return types in the block are not implicitly convertible to the delegate return type

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-07-27 05:07] adver501 commented on #26555
i use exactly the code that microsoft write in doc:
https://docs.microsoft.com/en-us/aspnet/core/blazor/components/dynamiccomponent?view=aspnetcore-6.0

[2022-07-27 07:04] guardrex commented on #26555
Hello @adver501 ... Which example (section) are you referring to?

[2022-07-27 08:10] #26519 closed

[2022-07-27 08:10] #26538 closed

[2022-07-27 09:17] guardrex commented on #26555
I think I made a C# mistake translating the code from my test app into the article. Try it this way ... with a property that can use the `this` keyword (i.e., NOT a field, where `this` won't work).

`ComponentMetadata.cs`:

[code]

`Shared/RocketLab2.razor`:

[code]

`Shared/SpaceX2.razor`:

[code]

`Shared/UnitedLaunchAlliance2.razor`:

[code]

`Shared/VirginGalactic2.razor`:

[code]

`Pages/Dyna

[2022-07-27 09:49] #26555 closed

[2022-07-27 13:12] bsimser commented on #26241
I think I'm experiencing a similar problem but the numbers are different. I'm assuming you guys are referring to the version of Visual Studio when it comes to 17.x rather than versions of packages.

I'm using Visual Studio 17.2.3 and getting a duplicate ApplicationDbContext whenever I add any Identity scaffolding items. The main one (created with the initial project) is in Data/ApplicationDbContex

[2022-07-27 15:15] generateui opened #26559 "ActionFilter order over mixed sync/async filters not documented"
1. have async ActionFilter
2. have sync ActionFilter
3. apply `Order = 1` on sync, `Order = 2` on async when attributed on controller method

Note that async ActionFilter will be executed first despite that the sync has lower order (so should be first).  This specific interplay
is not documented in this article. I'm unsure what the desired behavior is (is there a bug?).

---
#### Document Details

[2022-07-27 18:44] Rick-Anderson commented on #26559
@generateui  can you create the simplest possible sample to demonstrate that in a public repo?

[2022-07-27 19:38] hcprobst opened #26560 "Error with building scaffolding"
[Enter feedback here]
When I try to add the scaffolding to the movie example I get an error message

Finding the generator 'razorpage'...
Running the generator 'razorpage'...
Minimal hosting scenario!
Generating a new DbContext class 'RazorPagesMovie.Data.RazorPagesMovieContext'
Object reference not set to an instance of an object.
   at Microsoft.VisualStudio.Web.CodeGeneration.ActionInvoker.<Bui

[2022-07-27 20:24] Rick-Anderson commented on #26560
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2022-07-27 20:24] #26560 closed

[2022-07-27 23:26] HaoK opened #26563 ".NET 7 - Add documentation about Identity SecurityStampValidator"
There's been an app building exercise around auth in 7.0, and that resulted in some feedback that we currently don't have any documentation about Identity's SecurityStamp / single sign out functionality.  I'll put the first draft of the content in this issue, but I wasn't sure exactly where this content should go, maybe a new link under authentication called Identity SIgnOut Everywhere?

# ISecuri

[2022-07-27 23:28] Rick-Anderson opened #26564 "Articles to move :moniker range 7 to top of file"
The following topics should have the `:::moniker range=">= aspnetcore-7.0"` section moved to the top of the file to ensure in page links work in the latest version.

- [x]  mvc/models/validation
- [x]  fundamentals\minimal-apis.md
- [x]  fundamentals\configuration\index.md
- [x]  fundamentals\minimal-apis\openapi.md
- [ ]  fundamentals\servers\kestrel\http2.md
- [ ]  fundamentals\w3c-logger\index.

[2022-07-27 23:43] Rick-Anderson opened #26566 ".NET 7 Use JSON property names in validation errors"
see [Preview 1](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-net-7-preview-1/)

See product unit issue https://github.com/dotnet/aspnetcore/issues/39010

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e24f48f8-6c4d-ecda-6ce6-a7826d396e99
* Version Independent ID: 9c4af557-8d06-4c6c-ad2a-0dd234547563
* C

[2022-07-28 01:52] marit760114 opened #26568 ".Net core api in visual studio doesn’t have startup.cs"
Any documents or information for how to do the web api in visual studio 2022 api 6.0.0 which has no startup.cs be generated?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d70145c2-e2ba-77fb-050d-44d18354e370
* Version Independent ID: 19c98d91-e5fe-5832-6c75-23e677e469a3
* Content: [Publish an ASP

[2022-07-28 02:38] Rick-Anderson opened #26569 ".NET 7: Support for nullable models in MVC views and Razor Pages"
See [ Support for nullable models in MVC views and Razor Pages](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-net-7-preview-1/#support-for-nullable-models-in-mvc-views-and-razor-pages)

But it looks like this was added in .NET 6

See [Support for nullable models in MVC views and Razor Pages](https://docs.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-7.0?view=aspnetcore-7

[2022-07-28 02:49] GingerMoon opened #26570 "The description about when filters run is not accurate."
[Enter feedback here]

"Filters run within the ASP.NET Core action invocation pipeline, sometimes referred to as the filter pipeline. "
This description seems to be conflict with the diagram (copied from the official site):

![mvc-endpoint](https://user-images.githubusercontent.com/8342412/181409451-dd4fe4d1-263d-4354-acb2-17c365e13f92.svg)

---
#### Document Details

⚠ *Do not edit this section.

[2022-07-28 03:18] Kumima opened #26571 "Need detail about Build Identity components under Blazor Server Identity"
[EDIT by guardrex to add the metadata. @Rick-Anderson ... I'll take care of this one. It's for the Blazor remarks in the Scaffolding doc.]

[Build Identity components](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-6.0&tabs=visual-studio#build-identity-components)

This part needs to be detailed,"SignInManager and UserManager aren't supported

[2022-07-28 08:57] guardrex commented on #26571
Hello @Kumima ... FYI, please use the **The page** feedback buttom and form from the bottom of any US-English topic to open issues here. It will add metadata about the topic and ping the author automatically. I'll manually add the metadata to your opening comment.

WRT your remarks: The product unit has indicated that they prefer (for the time being) not to provide auth-based Razor components, and

[2022-07-28 15:08] Diomedes1990 commented on #11052
yes, this would be great, I was trying with old documentation.

[2022-07-28 17:44] ErikApption opened #26579 "localization with Blazor Hybrid"
Any chance to add some notes about localization with Blazor Hybrid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e66171ce-7dca-bf91-36be-f02e38c00678
* Version Independent ID: e66171ce-7dca-bf91-36be-f02e38c00678
* Content: [Build a .NET MAUI Blazor app](https://docs.microsoft.com/en-us/aspnet/core/blazor/hybrid/tuto

[2022-07-28 17:49] guardrex commented on #26579
Hello @ErikApption ... This is a duplicate of https://github.com/dotnet/AspNetCore.Docs/issues/25679.

[2022-07-28 17:49] #26579 closed

[2022-07-28 19:14] brunolins16 opened #26580 "Collection binding without index works only on Form Data"
When working on this PR #24175, I accidentally removed the following statement:

* The following format is supported only in form data:
[code]

Related: https://github.com/dotnet/aspnetcore/issues/42921

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e24f48f8-6c4d-ecda-6ce6-a7826d396e99
* Version Independent ID: 9c4af55

[2022-07-28 20:53] #20174 closed

[2022-07-28 20:53] Rick-Anderson commented on #26568
Dup of #25341

[2022-07-28 20:53] #26568 closed

[2022-07-29 01:05] #26580 closed

[2022-07-29 05:06] bretmcg opened #26582 "Scaffolding tutorial doesn't use the .NET 6 minimal hosting model used elsewhere"
In the tutorial _Web apps -> Razor Pages -> Add a model -> Scaffold the movie model_ the **Visual Studio for Mac** instructions include outdated code in the section: _Use SQLite for development, SQL Server for production_.

In that section the Mac code shows the Startup class, even though that code and file aren't generated using the default ASP.NET 6.0 minimal hosting model. The Visual Studio Cod

[2022-07-29 05:15] Rick-Anderson commented on #26582
@bretmcg  thanks for reporting this.
Any chance you could PR this? At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

[2022-07-29 06:39] ComradeLV commented on #26535
@Rick-Anderson which kind of info can i provide more for this issue?

[2022-07-29 07:06] #26582 closed

[2022-07-29 07:12] mehhdiii opened #26584 "using MvcMovie.Data not found on Ubuntu"
The MvcMovie.Data import failed on ubuntu 20.04 machine running .Net --version 6.0.302. Removing the import removes the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a4022c-7ef1-3c30-4f9d-cf521a57a44a
* Version Independent ID: a0b5e15c-d747-8710-95fb-a55c09861a1e
* Content: [Part 5, work with a database in an

[2022-07-29 07:50] guardrex opened #26585 "Add the Basic Test App to the section on sample apps"
https://github.com/dotnet/aspnetcore/tree/main/src/Components/test/testassets/BasicTestApp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 618e1209-44b8-c367-13e7-fbcfc26b07ea
* Version Independent ID: 618e1209-44b8-c367-13e7-fbcfc26b07ea
* Content: [ASP.NET Core Blazor fundamentals](https://docs.microsoft.com/en-us/asp

[2022-07-29 08:16] guardrex opened #26588 "Implement automatic assignee assignment (if available)"
@adegeo ... For https://github.com/dotnet/AspNetCore.Docs/blob/main/.repoman.yml, was the feature set extended to automatically apply assignee(s)? We'd still ❤️ implementing it to save **_a thousand clicks a day!_** 😆

We're hoping for something like the following `assignees-add` property (using the existing Blazor config as the example) ...

[code]

[2022-07-29 08:38] #26585 closed

[2022-07-29 10:54] #26457 closed

[2022-07-29 13:03] fceci90 opened #26591 "Startup.cs not fully compatible with .NET 6 secrets"
I have an issue with the following statement: "Apps migrating to 6.0 don't need to use the new minimal hosting model."

It seems as though secrets.json will not get read if you are not using the new minimal hosting model, and decide to use Startup.cs. We upgraded an app from .NET Framework 4.7.2 and the upgrade assistant upgraded to .NET 6 using Startup.cs insted of the minimal hosting model. Howe

[2022-07-29 15:17] hcprobst opened #26592 "Bug creating scaffolding in VS 2022"
[Enter feedback here]
Whenever I try to add a scaffold to my controllers I get an error message and am unable to add the needed items

Finding the generator 'controller'...
Running the generator 'controller'...
Minimal hosting scenario!
Generating a new DbContext class 'TuitionWaiver.Data.TuitionWaiverContext'
Object reference not set to an instance of an object.
   at Microsoft.VisualStudio.Web.C

[2022-07-29 16:18] #23396 closed

[2022-07-29 16:57] wadepickett commented on #26592
@hcprobst, it sounds like either one of the packages that are required are not there, the wrong version or you might have an outdated gobal tool that you have to actually remove, before updating.

Try the following:

Verify the tool versions by running the following at the command line:
`dotnet tool list -g`

You should see the following result:
`dotnet-aspnet-codegenerator      6.0.6        dotne

[2022-07-29 16:57] #26592 closed

[2022-07-29 18:08] #26584 closed

[2022-07-29 19:26] fn-bruce commented on #11052
+1

[2022-07-29 19:28] wadepickett commented on #26592
I updated the instruction above with version information.

[2022-07-29 21:22] Rick-Anderson commented on #26591
Access to secret manger is just part of configuration, can you get other configuration providers to work?

[2022-07-29 21:51] #26566 closed

[2022-07-30 01:57] Rick-Anderson commented on #26515
@Kahbazi are you interested in writing the sample code for rate limiting middleware?

[2022-07-30 03:42] rupesh-adapty commented on #26115
Do we have an ETA for documentation / samples to cover Razor Pages?

[2022-07-30 06:10] gbthakkar opened #26596 "line should be in service rather than in controller"
I am writing this to you because, I feel that MS document should provide example with "best practice"

The below line
updatedBook.Id = book.Id;

which is in controller - should be in service to make sure we update the values for the same object/document.

it is required to be in service so that if developer forget to do so, the service will ensure that it is updating the correct object.

let me kn

[2022-07-30 06:49] Kahbazi commented on #26515
@Rick-Anderson I have not write any docs yet, but I would like to give it a try. I'm not familiar with this repo. Where should I start? Are there any specifics samples you have in mind?

[2022-07-30 14:24] Jhstvf4t commented on #26515
Can I call you?

Pada tanggal Sab, 30 Jul 2022 13:49, Kahbazi ***@***.***>
menulis:

[2022-07-30 22:52] Rick-Anderson commented on #26515
@Kahbazi  I'll handle the document. It would be great if you could write a sample showing how to use [System.Threading.RateLimiting](https://www.nuget.org/packages/System.Threading.RateLimiting).  I have a basic sample [here](https://github.com/Rick-Anderson/WebRateLimitMw) but [`MyCustomLimiter : RateLimiter`](https://github.com/Rick-Anderson/WebRateLimitMw/blob/main/MyCustomLimiter.cs) isn't imp

[2022-07-30 23:03] Rick-Anderson commented on #26596
Best practice is debatable.

[2022-07-30 23:03] #26596 closed

[2022-07-31 20:31] gcjuan commented on #18405
is the expectation from consumers of this package that they will have to implement their own Server side rendering now that `ISpaPrerenderer` from .NET 3.1 is deprecated and `SpaServices.Extensions` only has a builder `ISpaPrerendererBuilder`?

[2022-07-31 20:46] genifycom opened #26598 "This page is now specific to Top Level Statements"
Because Microsoft chose to implement Top Level Statements, this page will not be able to be followed by anyone creating a new Blazor Webassembly app.

This is why we HATE developers just implementing something and then setting this as the DEFAULT!

With Top Level Statements there is no startup.cs so ALL doc has to be updated now.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-07-31 21:50] guardrex commented on #26598
Hello @genifycom ... Are you looking at the correct version of the doc? Check the version selector in the upper-left of the UI to confirm that you're looking at 6.0 or 7.0. If you still detect a problem, let me know what hosting model you're using (WASM or Server).

[2022-07-31 21:58] guardrex commented on #26598
Actually, I'm confused by your issue ... you speak about WASM, but there never was a `Startup.cs` in WASM. Clarify your scenario.

[2022-08-01 04:14] genifycom opened #26599 "export function gives a javascript error"
The provided JS example does not work and throws a syntax error on export

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15e7c51d-1839-1849-813a-23c4d21c64ae
* Version Independent ID: d6f07538-228e-9f96-680f-6c324caf11d6
* Content: [ASP.NET Core Blazor globalization and localization](https://docs.microsoft.com/

[2022-08-01 11:32] #26598 closed

[2022-08-01 12:02] guardrex commented on #26599
Thanks for the report, @genifycom ... Yes, it shouldn't simply say that the FN names must be changed. Exported FNs must follow the guidance at the cross-linked section ...

https://docs.microsoft.com/aspnet/core/blazor/javascript-interoperability/call-javascript-from-dotnet?view=aspnetcore-6.0#javascript-isolation-in-javascript-modules

... and import the FNs as shown there. I'll remove the offend

[2022-08-01 12:11] #26599 closed

[2022-08-01 14:18] guardrex opened #26602 "SignalR message size limit with Blazor Server file uploads"
Per https://github.com/dotnet/aspnetcore/issues/42993#issuecomment-1201153148

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ea474d5-234a-f393-8609-892a2deb5d2e
* Version Independent ID: c11d981c-05af-c19d-a333-feedd5978639
* Content: [ASP.NET Core Blazor file uploads](https://docs.microsoft.com/en-us/aspnet/core/blaz

[2022-08-01 14:53] #26602 closed

[2022-08-01 14:55] generateui commented on #26559
This failed because of an error on my side. One of the attributes I had defined did not implement `IOrderedFilter`. That was because the implementation was a private nested class which **did** implement `IOrderedFilter`. That caused me to miss it. Consequently, I implemented IOrderedFilter on the outisde exposed attribute class, and now it works as expected.

The pattern I applied was having
[code

[2022-08-01 18:41] BlanketFortGames opened #26604 "Non-specific configuration"
The section on editing Properties/launchSettings.json gives no clue WHERE to put the specified lines.  Any error results in the app not starting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e07aaa4d-4ad4-778f-f74a-60d8f05d9075
* Version Independent ID: c82cf121-831d-75dd-a796-c735aad3b3e9
* Content: [Host and deploy

[2022-08-01 18:56] guardrex commented on #26604
Hello @BlanketFortGames ... It's at the root of the profile, as the example shows, where it says, "The following example shows the full launch profile for an app at port 7279:".

I'll add a cross-link to ...

https://docs.microsoft.com/aspnet/core/fundamentals/environments?view=aspnetcore-6.0#development-and-launchsettingsjson

... for more information.

Leave this issue open. It will close automa

[2022-08-01 19:00] #26559 closed

[2022-08-01 19:02] BlanketFortGames commented on #26604
Sorry I was insufficiently specific about the section I was looking at.  I'm talking about a WASM app.

"commandLineArgs": "--pathbase=/{RELATIVE URL PATH (no trailing slash)}",
"launchUrl": "{RELATIVE URL PATH (no trailing slash)}",
Using CoolApp as the example:

"commandLineArgs": "--pathbase=/CoolApp",
"launchUrl": "CoolApp",

[2022-08-01 19:04] guardrex commented on #26604
It's the same thing ... maybe I'll add a pair of cross-links, one near each first mention. It will be on the PR shortly.

[2022-08-01 19:09] #26604 closed

[2022-08-01 19:33] lalibi commented on #25157
I had the same issue because I manually updated my project to `.net 6.0` but was still using VS 2019.

At some point, during building, it says that VS 2019 does not support `.net 6.0`, or something like that.

I had to upgrade to VS 2022.

[2022-08-01 20:18] lf73 opened #26606 "SignalR calls are running on server."
I don't understand the value of this Blazor Server example. SignalR is running on the server and not the client browsers. When the clients' send message function is called, it is calling the function to run on the server. The receive event is fired which triggers "state has changed". The server is simply pushing a message to itself in another thread. Instead instances could simply subscribe to an

[2022-08-01 20:20] #26606 closed

[2022-08-01 22:30] guardrex commented on #26588
@Rick-Anderson ... I'm going to close based on the lack of response, but imo this would be great to mention internally to save a many clicks.

[2022-08-01 22:30] #26588 closed

[2022-08-02 03:46] cove opened #26609 "WebApplicationFactory example test fails with: The entry point exited without ever building an IHost."
The [With WebApplicationFactory](https://docs.microsoft.com/en-us/aspnet/core/migration/50-to-60-samples?view=aspnetcore-6.0#with-webapplicationfactory) example of how to [Test with WebApplicationFactory or TestServer](https://docs.microsoft.com/en-us/aspnet/core/migration/50-to-60-samples?view=aspnetcore-6.0#test-with-webapplicationfactory-or-testserver) doesn't appear to succeed using VS2022 (17

[2022-08-02 12:23] Kahbazi commented on #26515
@Rick-Anderson I created a [gist](https://gist.github.com/Kahbazi/94beef16aa145503d8407b56a46efd6c) of how to use RateLimiting, but it's basically what you already have in the sample. The sample is limiting the endpoints by IP and by username.
I try to understand how I can help. Do you need a custom implementation of `RateLimiter`? Does that mean a new algorithm like Token Bucket, Sliding window?

[2022-08-02 14:40] xela-trawets opened #26612 "disambiguate "follows"- meaning of execution order, OR- text on the doc page"
"Host configuration follows application configuration"
is stated at the top of the page. I couldn't tell if this means that Host configuration happens "after" application configuration, or the word "follows" is describing the ordering of presentation in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-08-02 15:06] ijabit opened #26613 "Need C# Examples of How to Generate Certificates"
The PowerShell examples of how to generate certificates are helpful, but it took me a week or two to figure out how to produce the equivalent C# code which generates client certificates signed by the root CA. I had to combine articles across StackOverflow, blog posts, and CodeProject articles to create a function which reproduces what the PowerShell command does. Here is a repro of the exact code

[2022-08-02 17:45] DamianEdwards commented on #26563
Great to see this! We have a section in the "Use cookie authentication without ASP.NET Core Identity" doc titled "React to back-end changes" that covers similar scenarios when not using Identity. I think that title is good as it's related to a scenario rather than an interface name or concept. Can we somehow incorporate that aspect here too so folks looking for how to force claims validation/reaut

[2022-08-02 19:26] Rick-Anderson commented on #26612
Host configuration happens "after" application configuration

[2022-08-02 19:26] #26612 closed

[2022-08-02 20:20] hcprobst opened #26614 "Follow up with Scaffolding issue Core 6.0.7 Visual Studio"
[hcprobst](https://github.com/hcprobst) commented [4 days ago](https://github.com/dotnet/AspNetCore.Docs/issues/26592#issue-1322376928)

[Enter feedback here]
Whenever I try to add a scaffold to my controllers I get an error message and am unable to add the needed items

Finding the generator 'controller'...
Running the generator 'controller'...
Minimal hosting scenario!
Generating a new DbContext

[2022-08-02 21:16] Rick-Anderson commented on #26614
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2022-08-02 21:16] #26614 closed

[2022-08-02 21:30] hcprobst commented on #26614
Did you even read it?

It's a bug when following the tutorial line by line.

Last time I got a useful answer because the tutorial failed to say to install the code creator

Read the entire mail and see the errors generated because scaffolding doesn't work.

I've been using visual studio for 10 years and I think I know the difference between a bug and user error and the scaffolding utility has bugs

[2022-08-02 23:22] Rick-Anderson commented on #26515
@Kahbazi  take a look at the first sample under [RateLimiting middleware](https://devblogs.microsoft.com/dotnet/announcing-rate-limiting-for-dotnet/#ratelimiting-middleware). That's what I copied [here](https://github.com/Rick-Anderson/WebRateLimitMw) but [MyCustomLimiter : RateLimiter](https://github.com/Rick-Anderson/WebRateLimitMw/blob/main/MyCustomLimiter.cs) isn't implemented.

For the first

[2022-08-03 00:32] xela-trawets commented on #26612
Thanks,
What was confusing me was that "The host is responsible for app startup and lifetime management" - implying that the Host would be instantiated first.  However, the configuration occurs in the opposite order.

[2022-08-03 01:30] Rick-Anderson commented on #26569
@martincostello is this really new for .NET 7 or was it .NET 6? If it's new for .NET 7, would you be able to write a sample using it?

[2022-08-03 01:38] Rick-Anderson commented on #26341
@daviddesmet can you suggest where this should be documented?

[2022-08-03 01:41] Rick-Anderson opened #26616 ".NET 6: Update EU General Data Protection Regulation (GDPR)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28d0490e-205f-20a5-ace5-904f4c8ad78f
* Version Independent ID: 4a2c8d95-fdd2-fdb1-b61d-802d0a8539c3
* Content: [General Data Protection Regulation (GDPR) support in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/gdpr?view=aspnetco

[2022-08-03 01:50] daviddesmet commented on #26341
@Rick-Anderson I think it should be in [EU General Data Protection Regulation (GDPR) support in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/gdpr?view=aspnetcore-6.0) since is related to the cookie consent.

[2022-08-03 02:12] wadepickett commented on #26477
@Rick-Anderson,  do you mean pull all gRPC and SignalR info from previews 1-6 blogs (combining and updating where needed) and putting them into the [What's new in ASP.NET Core 7.0](https://docs.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-7.0?view=aspnetcore-6.0) with the information? Do I understand correctly? (I do understand the part about getting in and out of the final What's new

[2022-08-03 02:39] Rick-Anderson commented on #26540
@fiyazbinhasan  @martincostello  anyone interested in writing this sample code?

[2022-08-03 03:02] Rick-Anderson commented on #26541
@david-acker would you be interested in writing a sample app showing how to use you new Request decompression middleware?

[2022-08-03 03:12] Rick-Anderson commented on #26477
1. Create a container issue like #26326 to track gRPC and SignalR from the preview blogs. 7 will be out soon and others will follow, so keep updating that.
2. Typically a new feature needs to be added to an existing doc and rarely to a new doc. Do that first. In the pr, mention contributes to `#123` (the tracking issue). Once that's merged, finish up of the issue by updating [What's new in ASP.NET

[2022-08-03 03:36] wadepickett commented on #26477
@Rick-Anderson, thanks that clears it up I think.  You want me to update all existing gRPC and SignalR docs we have in this repo to v7.0 as it relates to new features covered in the 1-6 preview 7.0 blogs.  Then as a last step update the  [What's new in ASP.NET Core 7.0](https://docs.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-7.0?view=aspnetcore-6.0).  You were losing me on scope what

[2022-08-03 04:23] brunolins16 commented on #26569
@dotnet/aspnet-blazor-eng can someone help here?

[2022-08-03 04:24] Rick-Anderson commented on #26477
Update to to reflect the new 7.0 features, I'm not asking you to update them for .NET 7. And it's not just 1-6, it's all the new features, even those that come out for RTW post the last preview.

[2022-08-03 04:35] wadepickett commented on #26477
@Rick-Anderson, thanks, just reflect the new feature information.  Yes, and not just the 1-6 you listed, but the future ones for RTW.  Thanks!

[2022-08-03 06:40] martincostello commented on #26540
Sure, I can put something together for this.

[2022-08-03 09:08] martincostello commented on #26540
@Rick-Anderson I'll put together a specific example a bit later today or tomorrow, but I'd already written a sample app for an internal talk at my work last month, so I've just put the whole file for all the new features I did examples for as far as preview 5/6 [here](https://gist.github.com/martincostello/742dfe99eaa3d872bb90f5e3a295bba2). The specific one for `[AsParameters]` is [here](https://g

[2022-08-03 14:54] daviddionys commented on #17117
I came across [this article](https://dotnetthoughts.net/custom-scaffold-templates-in-asp-net-core/) which explains how it is done.  Worked perfectly well for me for overwriting view templates.

[2022-08-03 15:16] guardrex opened #26619 "Specify MSBuild prop for some CLI options (e.g., RID)"
https://github.com/dotnet/aspnetcore/issues/43068#issuecomment-1203982022

It would be nice to make the section heading somewhat generic to capture general cases beyond the one highlighted by the PU issue with the RID. However, the most common problem might be with the RID, and a section heading that calls that one out is easier to spot in the topic's sidebar ToC. Perhaps ...

---
#### Document De

[2022-08-03 16:02] thestonehead commented on #17117
I have seen this method before, but this only *overrides existing* templates. I wanted to make *entirely new* ones.

[2022-08-03 19:14] #26459 closed

[2022-08-03 22:08] david-acker commented on #26541
Absolutely! I'd be happy to put something together.

[2022-08-03 23:20] #26569 closed

[2022-08-04 00:29] wadepickett opened #26622 ".NET 7.0 Update: gRPC JSON transcoding: add support for multi-segment parameters"
In the 7.0 version of the gRPC JSON transcoding add a new section: _Support for multi-segment parameters_ which was a feature added in .NET 7.0 preview 6.

This issue has a parent tracking issue: #26477

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfa3c933-30c4-eb49-d9a5-507aff44ce00
* Version Independent ID: 1485c45

[2022-08-04 00:32] wadepickett commented on #26622
@JamesNK , should I add a new section to this doc:  Support for multi-segment parameter, reflecting what you provided in 7.0 preview 6 blog, or do you envision that being covered elsewhere?

[2022-08-04 00:33] wadepickett commented on #26477
Notes:  (Draft, still adding info)
**gRPC:**
[ ] gRPC JSON Transcoding, Introduced in .NET 7.0 Preview 4.
  - We already have this topic covered from a number of PR's for [gRPC JSON transcoding in ASP.NET Core gRPC apps](https://docs.microsoft.com/en-us/aspnet/core/grpc/httpapi?view=aspnetcore-7.0)

[ ] gRPC JSON Transcoding: support for multi-segment parameters, Introduced .NET 7.0 Preview 6.
  -

[2022-08-04 02:54] JamesNK commented on #26622
There is a link to https://cloud.google.com/service-infrastructure/docs/service-management/reference/rpc/google.api#google.api.HttpRule from our doc which covers how to annotate the proto files.

I would eventually like to summarize annotating on our gRPC JSON transcoding doc.

This particular feature - multi-segment parameters - is unlikely to be used by many people. Don't need to talk about it.

[2022-08-04 09:07] anan1213095357 opened #26624 "use ComponentTagHelper() @onclick not click"
![image](https://user-images.githubusercontent.com/43770875/182809914-9e8e5a91-e098-49ed-83d8-de1edbd4e802.png)

![image](https://user-images.githubusercontent.com/43770875/182810019-9aa14272-ca6f-4886-bfa0-e7877495d8cf.png)

![image](https://user-images.githubusercontent.com/43770875/182810063-34c99eeb-5538-486b-9232-81277e14b801.png)

[2022-08-04 10:24] guardrex commented on #26624
@anan1213095357 ... Please open issues here using the **This page** feedback button and form at the bottom of the English-US topic ...

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

With regard to your report, there isn't enough context for me to understand your issue. If you need general assistance, we on

[2022-08-04 10:24] #26624 closed

[2022-08-04 15:42] tdjastrzebski opened #26626 "Polymorphic model binding limitations"
It seems that **Polymorphic model binding** has critical limitations worth, if not addressing, at least mentioning.
Probably complex objects, that is, objects containing other, even non-polymorphic objects are not supported .
The problem is described [here](https://stackoverflow.com/questions/73238046/json-deserialization-of-polymorphic-and-complex-objects-in-asp-net-core-without)

---
#### Docume

[2022-08-04 17:55] wadepickett commented on #26622
Thanks!
It looks like that is what you already covered annotating the _.proto_ here correct?  Maybe you want to expand more on what was provided there with info on HttpRule?
[Announcing gRPC JSON transcoding for .NET](https://devblogs.microsoft.com/dotnet/announcing-grpc-json-transcoding-for-dotnet/#getting-started)

Do you want me to get a PR started using your work and examples as a guide, or is

[2022-08-04 22:35] genifycom opened #26631 "Page is not helpful"
Stating this does NOT help me find how to do it.

Files can be downloaded from the app's own static assets

BTW, adding Top Level Statements has COMPLETELY messed up finding solutions to anything!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4ad584d-0d9a-da8c-1296-b2d186e437ad
* Version Independent ID: e4ad584d-0d9a-

[2022-08-04 23:07] dwcollins opened #26632 "still get http error 400 with the aspnetcore.docs sample project"
I followed the instructions for file uploads at this page and after changing several configs, startup.cs files etc, i cannot upload more than a few mg at a time. the page returns a 404 error
I am running the sample locally on iis express. I have 1 32 gb pc.

I am looking to upload DICOM images and they are quite large. Hoping one of these examples will work

---
#### Document Details

⚠ *Do not ed

[2022-08-04 23:40] #26423 closed

[2022-08-04 23:43] guardrex commented on #26631
Hello @genifycom ... I'll take a look at clarifying that Static File Middleware is the underlying API actually serving the file content for hosted WebAssembly and Blazor Server (if the source of the file is either of those app types) either via streaming (small files) or via the URL approach (large files) as described by the article. However, these are also the recommended small and large file app

[2022-08-04 23:44] Rick-Anderson commented on #26632
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2022-08-04 23:44] #26632 closed

[2022-08-05 00:12] #26631 closed

[2022-08-05 02:27] Brain2000 opened #26636 "Confusing documentation"
This page does not describe when you would use Factory vs Conventional middleware. Showing me how to do something doesn't help to understand WHY you want to use one over the other.

Also, the UseTransient< > function is used for the factory. Why? What is AddTransient< >? I read recently that there is also a AddScoped< >, what is that? Or AddSingleton< >??

Why is Microsoft documentation always lac

[2022-08-05 03:19] Rick-Anderson commented on #26636
See https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-6.0

[2022-08-05 04:41] Brain2000 commented on #26636
Thank you Rick, this is good documentation. It clears up some of the confusion. I wish there were better examples and links between documentation pages. I'm the type of person who needs to know why something works. I hate using code just for the sake of using it just because the documentation showed an example. That's an assured recipe to guarantee you can't troubleshoot something when things go w

[2022-08-05 08:45] iamNoah1 opened #26637 "Missleading information about client streaming"
[Enter feedback here]
The docs on the Section about client streaming say, that this kind of communication works 'without the client sending a message'. The following sentence: 'The client **can choose** to send messages with RequestStream.WriteAsync' implies that the client can but does not have to send messages to the server.

But according to [this](https://grpc.io/docs/languages/csharp/basics/)

[2022-08-05 08:51] JamesNK commented on #26637
In the example below `AccumulateCount` starts a gRPC client streaming call without sending a message. And a client streaming call can complete without one being sent.

I don't know what is misleading here.
[code]

[2022-08-05 09:04] iamNoah1 commented on #26637
Thanks for the quick feedback @JamesNK. I found it misleading, because what's the point of client stream method of communication if the client does not send any message at all. My suggestion is to rephrase it a little bit in order to show the difference to the unary call which is: make a call (aka open a stream) and then send messages vs send separate requests not using a call (aka stream).

What

[2022-08-05 10:26] guardrex opened #26638 "Mention IAsyncEnumerable"
Per https://github.com/dotnet/aspnetcore/issues/43098#issuecomment-1206224427, add an explicit mention on `IAsyncEnumerable` in the *An asynchronous handler involves multiple asynchronous phases* section at ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/components/rendering?view=aspnetcore-6.0#an-asynchronous-handler-involves-multiple-asynchronous-phases

---
#### Document Details

⚠ *Do

[2022-08-05 11:25] #26619 closed

[2022-08-05 12:24] chrisleadbeater opened #26639 "More examples needed"
With all due respect, please provide more examples in addition to the steps required. Please do not assume everyone knows all that you do. Write with a "beginners mind". I needed to go elsewhere to discover how to deploy my new ASP.NET Core web app to IIS.

Interspersing a basic how to document with advanced topics such as "Data Protection" and "add registry keys" is not useful at this stage. Tell

[2022-08-05 12:36] chrisleadbeater opened #26640 "Test your documentation"
Suggestion: Before publishing a how-to page like this (or any topic for that matter). Create a new, fresh Windows 10 computer/VM and have someone on your staff do the same process based solely on the documentation. Test your documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f92a99a8-6ffa-e5f9-b7ef-f13fa1e0f

[2022-08-05 13:10] FancyKetsup opened #26641 "Broken Bad Documentation"
[Enter feedback here]
Scaffold Identity into a Razor project with authorization >>>>

To use your existing data context, select at least one file to override. You must select at least one file to add your data context.
Select your data context class.
Select Add.  >>>>>>>

as soon as the scaffolder finishes you can't build the solution because   >>>>>>

Severity	Code	Description	Project	File	Line	S

[2022-08-05 16:05] #26638 closed

[2022-08-05 17:11] adityamandaleeka commented on #25309
@samsp-msft Can you please help with this?

We should also make sure to add YARP here: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/?view=aspnetcore-7.0#set-up-a-reverse-proxy

[2022-08-05 18:48] halter73 opened #26643 "Move and rename "ASP.NET Core Performance Best Practices" doc"
[The "ASP.NET Core Performance Best Practices" doc](https://docs.microsoft.com/en-us/aspnet/core/performance/performance-best-practices?view=aspnetcore-6.0) covers more than just performance. We already include general guidance in sections like [Do not use the HttpContext after the request is complete](https://docs.microsoft.com/en-us/aspnet/core/performance/performance-best-practices?view=aspnetc

[2022-08-05 19:01] Rick-Anderson commented on #26636
ASP.NET Core 6 doesn't use Startup

[2022-08-05 19:03] Rick-Anderson commented on #26640
@chrisleadbeater  please don't make duplicate issues #26639

[2022-08-05 19:03] #26640 closed

[2022-08-05 19:04] Rick-Anderson commented on #26641
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2022-08-05 19:04] #26641 closed

[2022-08-06 15:11] zukomgwili opened #26644 "Typo in sentence, "Validation error handing is covered later in this document""
There is a typo in the document. What should be `handling` is written as `handing`

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 164d7efe-01bf-0b26-7a23-f10704f338f5
* Version Independent ID: b3e2bc87-1582-2d34-c7c2-7c8e901ac771
* Content: [Introduction to Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-gb/

[2022-08-06 18:08] guardrex commented on #26644
Thanks @zukomgwili ... I'll toss a patch up to fix it.

[2022-08-06 18:12] #26644 closed

[2022-08-07 00:50] Zark247 opened #26646 "Missing closing parenthesis"
In the [Using DataType Attributes](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/validation?view=aspnetcore-6.0#using-datatype-attributes) section, there is a missing closing parenthesis after the code in the first sentence.

![image](https://user-images.githubusercontent.com/47677672/183270464-f4d465bd-25cc-416c-84f5-e8314fe54378.png)

---
#### Document Details

⚠ *Do not e

[2022-08-07 01:36] Cage-e opened #26648 "Solution for Blazor WebAssembly does not work"
I tried the solution for blazor wasm (ASPNET core hosted) and I still get the unauthorized response on connecting to a hub with Authorize attribute.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0969556b-b77e-bdb8-8e20-fd6971be0c25
* Version Independent ID: d17e4c28-ea82-0dd8-295d-19f6ada147ea
* Content: [ASP.NET Core

[2022-08-07 01:43] guardrex commented on #26648
Hello @Cage-e ... Please open for the product unit at ...

https://github.com/dotnet/aspnetcore/issues

You will need to put up a minimal repro project that demonstrates the failure.

Please add ...

[code]

... to the bottom of your opening comment so that I follow along. I might re-open this for doc work depending on what they say.

[2022-08-07 12:00] paviad opened #26651 "Under "Save the access token" the `props` variable is initialized but not used"
The example where external login provider tokens are persisted in the application cookie does not work. The `props` variable of type `AuthenticationProperties` which is initialized in `OnPostConfirmationAsync` is not actually used, and the tokens are not added to the cookie.

***EDIT by @Rick-Anderson***
[Save the access token](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/s

[2022-08-07 14:55] guardrex commented on #26651
Hello @paviad ... Thanks for the report. I see what you mean. Yeah, I think that's the wrong overload for `SignInAsync`. It probably should be the one that takes an auth properties (i.e., `props`) ... and you can see that the setting for `props` already sets `IsPersistent`.

Try that this way and see how it goes ...

[code]

[2022-08-07 15:54] paviad commented on #26651
That is 100% correct, a fix to the documentation here is simple.

Note however, that there is no suitable overload when using external login, see https://github.com/dotnet/aspnetcore/issues/12047

I've submitted a PR for it https://github.com/dotnet/aspnetcore/pull/43132

[2022-08-07 16:10] ShubhankarKG opened #26652 "Space in dotnet aspnet-codegenerator"
There's a space in `dotnet-aspnet-codegenerator` in the code snippet at https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/tutorials/first-web-api.md#visual-studio-code-5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432

[2022-08-07 16:11] ShubhankarKG commented on #26652
I can submit a PR once triaged.

[2022-08-07 16:39] oinpentuls opened #26653 "Typo in Tutorial razor page"
Hi,

There is minor typo in this page under the visual studio code tab. It should be `development`.

![image](https://user-images.githubusercontent.com/39396616/183301549-c1d2459b-9cb0-426f-8ff9-274a90ea2ca0.png)

![image](https://user-images.githubusercontent.com/39396616/183301566-4a5792b6-d15d-4d70-a32c-3a82b518d663.png)

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-08-07 19:06] Rick-Anderson commented on #26651
@paviad
Any chance you could PR this? At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

[2022-08-07 19:09] Rick-Anderson commented on #26652
That would be great.
An easy way to fix, At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

[2022-08-07 19:10] Rick-Anderson commented on #26653
Any chance you could PR this? At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

[2022-08-07 19:14] paviad commented on #26651
I'd love to but how do I access the code snippets? They appear as
[code]

and

[code]

[2022-08-07 19:15] #26646 closed

[2022-08-07 19:17] Rick-Anderson commented on #26651
https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/security/authentication/social/additional-claims/samples/6.x/ClaimsSample/Program.cs

[2022-08-07 23:35] wadepickett opened #26655 ".NET 7.0 Update: Use hubs in ASP.NET Core SignalR: Introduce dependency injection feature."
In the 7.0 version of the topic Use hubs in ASP.NET Core SignalR:  add a new section introducing dependency injection for SignalR.
 This feature added in .NET 7.0 preview 2.

This issue has a parent tracking issue: #26477

Making use of the introduction work already provided in the blog preview docs where possible:  [Dependency injection for SignalR hub methods](https://devblogs.microsoft.com/dotn

[2022-08-07 23:52] oinpentuls commented on #26653
I think it is already fixed. The paragraph has changed.

![image](https://user-images.githubusercontent.com/39396616/183315798-d919b897-1756-4bf4-b397-7178e695748c.png)

[2022-08-08 04:42] paviad commented on #26651
Hmm, I might have submitted an incomplete PR, the highlight should be added to that modified line too, shouldn't it?

[2022-08-08 05:47] #26653 closed

[2022-08-08 05:59] paviad commented on #26651
I could not verify that the highlight change actually hits the desired line, but the numeric calculations check out :)

[2022-08-08 09:26] rudykot opened #26661 "hi"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66f32b67-7418-7f82-c813-c11650bb39a7
* Version Independent ID: 3e28328b-9c7a-359b-2f57-319b0bc7eea3
* Content: [Tutorial: Create a Razor Pages web app with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/?view=aspnetco

[2022-08-08 09:29] #26661 closed

[2022-08-08 12:42] DanBer39 commented on #7581
@abdullah-alimam's  solution worked for me. Thanks

[2022-08-08 15:50] BrennanConroy commented on #26655
Feature has already been documented: https://github.com/dotnet/AspNetCore.Docs/pull/25746

[2022-08-08 15:51] BrennanConroy commented on #26477
Don't add anything about the source generator.

[2022-08-08 18:14] #26648 closed

[2022-08-08 18:19] samsp-msft opened #26664 "Article needs a better walkthrough of how to get to app service logs"
There is a pretty easy way to be able to diagnose startup failures in ASP.NET Core apps on app service, but you need to know the trick, which doesn't seem to be readily documented anywhere. This mechanism is easier that what is included at https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-6.0#troubleshoot-on-azure-app-service.

In the Azure Portal for the app

[2022-08-08 19:01] Rick-Anderson commented on #26664
@samsp-msft thanks for the tip, I'll get this documented.

[2022-08-08 22:08] jeffpatton1971 opened #26665 "Outdated Visuals and Code Samples"
This document describes setting up attribute based routing with net 4.61 and we're currently on 6.0. The images are from VS 2017 and the current version is 2022. Attempting to follow along with this tutorial in current technologies is difficult as things have changed a little, could we look at perhaps updating this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2022-08-08 22:57] Rick-Anderson commented on #26665
Where  is .NET 6.41 mentioned?

What image?

[2022-08-08 23:03] Rick-Anderson commented on #26664
<img width="188" alt="image" src="https://user-images.githubusercontent.com/3605364/183528550-27e54ad0-32ff-4a42-88e0-1e37dd6d2027.png">

<img width="695" alt="image" src="https://user-images.githubusercontent.com/3605364/183528795-532665c0-ce87-4ed3-8e4d-4b374d469c2a.png">

That's so cool. I'll get this documented ASAP. I'd love to include a few images buy Azure portal images change so frequently

[2022-08-08 23:05] Rick-Anderson commented on #26664
![image](https://user-images.githubusercontent.com/3605364/183529287-f63d3e1c-ee5b-4ca1-bcb6-a8c29d8b26f5.png)

[2022-08-08 23:10] samsp-msft commented on #26664
Yes. I think having the images will make it easier to understand, and also provides a signpost in the doc so that if you scroll through it quickly, it'll catch your eye. Thankfully this isn't that long an article, but it always helps when scanning through to see what sub consciously pops out at you.

This doesn't seem to be well documented anywhere.

[2022-08-09 04:00] Rick-Anderson commented on #26664
![image](https://user-images.githubusercontent.com/3605364/183561255-91f3d5e1-141b-413b-a403-91e74a770545.png)

[2022-08-09 04:00] LeonardoDaLuz commented on #7795
This problem is completly annoing and hard to rid.
These warnings are more of a hindrance than a help.

[2022-08-09 05:45] Rick-Anderson commented on #26664
![image](https://user-images.githubusercontent.com/3605364/183573538-80645002-d1c3-4451-9a2f-91ef4de4e248.png)

[2022-08-09 10:27] LarsOutzen opened #26667 "IIS Application hosting of Blazor Server app not working"
[EDIT by guardrex to update the metadata]

Regarding "In a Blazor Server app, use either of the following approaches:"
Have you tested either of the options for the Blazor Server Template project's Counter on Windows Home edition?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b20b470-161a-8723-b66d-c0c1804874f0
* Ver

[2022-08-09 11:45] guardrex commented on #26667
Hello @LarsOutzen ... That's not a supported scenario ...

https://docs.microsoft.com/aspnet/core/host-and-deploy/iis/advanced#virtual-directories

[2022-08-09 12:17] guardrex commented on #26667
It's **not supported** in all of ASP.NET Core. It's not supposed to work.

[2022-08-09 12:23] LarsOutzen commented on #26667
Let me know when you have tested Option 1 and Option 2 on IIS for your Blazor Server template projects' counter ...

[2022-08-09 12:32] guardrex commented on #26667
Open an issue for the product unit at ....

https://github.com/dotnet/aspnetcore/issues

... but note that virtual directories are not supported. If you tell them that you're trying to host the app in a virtual directory, they're going to tell you the same thing that I just said ... not supported ... and close the issue.

Please add ...

[code]

... to the bottom of your opening comment.

[2022-08-09 13:01] guardrex commented on #26667
I see an organizational change that I'd like to make to the Blazor Server hosting doc based on your report. The requirements for IIS should probably be near the top and cross-linking the SignalR Service section from there might be a good idea.

If additional work comes about from the product unit issue discussion, I'll add notes for that on this issue.

[2022-08-09 13:27] GreggAtCarfac opened #26669 "Support MVVM in future release?"
Hello

We find it very interesting to combine Blazor pages with wpf and are testing how far we can go with this.
I have created a multi screen wpf application with Razor pages and ViewModels (MVVM) using Microsoft.Extensions.DependencyInjection.
We notice if we change a property on 1 screen, it does not update on the other screen.
Not even when we call the Onpropertychanged event.

is this support

[2022-08-09 13:32] guardrex commented on #26669
Hello @GreggAtCarfac ...

Open this for the product unit at ...

https://github.com/dotnet/aspnetcore/issues

[2022-08-09 13:32] #26669 closed

[2022-08-09 14:10] kaylumah opened #26670 "WebApplicationFactory in Xunit cannot be used with InternalsVisibleTo"
Hi,

I was very glad to see the following section was added to this page.

[code]

This would mean I could use WebApplicationFactory without ever changing my production code
Especially since just adding the following bit triggers CA1050

[code]

However in Xunit which is the sample on the page It does not appear to work

[code]

triggers CS0051 that types are inconsistent. It says I cannot use the

[2022-08-09 18:15] #26651 closed

[2022-08-09 18:17] Rick-Anderson commented on #26670
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2022-08-09 18:17] #26670 closed

[2022-08-09 18:47] kaylumah commented on #26670
@Rick-Anderson while it may be a general question the way described in the docs does not work.

it offers two options
- internalsvisible
- Public Partial

the docs use xunit in the sample, but doesnt work with option 1

so either I am doing something wrong, or the docs are wrong

[2022-08-09 19:20] wadepickett commented on #26622
@JamesNK ,
Can I take what you already covered for annotating the .proto here and move it into a PR for this doc?
[Announcing gRPC JSON transcoding for .NET](https://devblogs.microsoft.com/dotnet/announcing-grpc-json-transcoding-for-dotnet/#getting-started).

If you were looking forward to doing that yourself, that's cool, just seeing if I could help since I was assigned to get the updates in wher

[2022-08-09 19:30] chrisleadbeater opened #26671 "Error adding using Microsoft.AspNetCore.Authentication.Negotiate to existing project -"
Got an error on adding:

using Microsoft.AspNetCore.Authentication.Negotiate;

You should mention it's a NuGet package.

In my case, I created my project as "No authentication" because I didn't know better :)

Thanks for your hard work!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401ad9a0-9e51-80a2-5846-82e9790d7257

[2022-08-09 19:51] wadepickett opened #26673 ".NET 7: Add Client results in SignalR feature to What's New"
Add section for Client results in SignalR feature and link back to topic.

Contributes to #26477

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed83a5ff-cb3a-8655-9f9a-a441da52424e
* Version Independent ID: ed83a5ff-cb3a-8655-9f9a-a441da52424e
* Content: [What's new in ASP.NET Core 7.0](https://docs.microsoft.com/en-us

[2022-08-09 21:04] s52 opened #26676 "Simplify Introduction to Localization Help Page"
This article is an introduction to localisation. It appears to contain a lot of useful information, but I think that users would already need to understand a lot about localisation to understand the article. Can I make the following suggestions.

Anyone looking at this article wants to be able to (a) create a Net Core MVC project, then (b) define a resource in say two languages, then (c) see a vie

[2022-08-09 21:12] #26673 closed

[2022-08-09 21:36] Rick-Anderson commented on #26676
Thanks for the feedback. This is a complicated topic and we don't have the resources to make a quick guide and maintain the complete guide.

[2022-08-09 21:36] #26676 closed

[2022-08-09 21:45] #26671 closed

[2022-08-09 22:33] wadepickett opened #26677 ".NET 7.0 Update What's New: gRPC JSON transcoding"
Update the What's New in ASP.NET Core 7.0 topic with a new section for gRPC that includes JSON transcoding feature.

Contributes to #26477

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed83a5ff-cb3a-8655-9f9a-a441da52424e
* Version Independent ID: ed83a5ff-cb3a-8655-9f9a-a441da52424e
* Content: [What's new in ASP.NET

[2022-08-09 22:44] JanKotschenreuther opened #26678 "Streaming image data does not work as documented"
Maybe I am doing something wrong, but I was not able to stream image data as documented.

### Steps to reproduce

1. Create a Blazor WebAssembly project using the "Blazor-WebAssembly-App"-Project-Template with default settings.
2. Copy the html with the script tag to define the `window.setImage` js function to the index.html in the wwwroot folder:
[code]
3. Add a img tag to the Index.razor:
[code]

[2022-08-09 22:48] guardrex commented on #26678
Hello @JanKotschenreuther ... Could you open this for the product unit. Open an issue here ...

https://github.com/dotnet/aspnetcore/issues

You can just cut-'n-paste all of your opening comment into the description there.

It's best if you put up a repro project on GitHub so that they (probably Tanay) can pull it down and run it to see what you're seeing.

Please add ...

[code]

... to the botto

[2022-08-09 22:48] #26678 closed

[2022-08-09 22:58] Tratcher commented on #26542
This is not minimal specific, it's a general ASP.NET Core capability.

@sebastienros

[2022-08-09 23:33] Rick-Anderson commented on #26542
We'll put it under [Middleware](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware)

[2022-08-09 23:34] JanKotschenreuther opened #26680 "Streaming image data does not work as documented"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Maybe I am doing something wrong, but I was not able to stream image data as documented.

### Steps To Reproduce

1. Create a Blazor WebAssembly project using the "Blazor-WebAssembly-App"-Project-Template with default settings.
2. Copy the html with the script tag to define the `window.setIma

[2022-08-09 23:38] #26652 closed

[2022-08-10 00:01] TanayParikh commented on #26680
Hey @JanKotschenreuther, thanks for contacting us. I transferred this back over to docs (sorry for the back and forth!), but I believe this is not a framework issue, but rather an issue with how we've setup the docs (that's on me!).

See if removing `URL.revokeObjectURL(url);` in your first example results in the image being displayed (it should).

Essentially we're revoking the object url too soo

[2022-08-10 00:35] #26677 closed

[2022-08-10 00:42] Rick-Anderson opened #26682 ".NET 7: Authentication will use single scheme as DefaultScheme"
[Authentication will use single scheme as DefaultScheme](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-7/#authentication-will-use-single-scheme-as-defaultscheme)

[Authentication concepts](https://learn.microsoft.com/en-us/aspnet/core/security/authentication/?view=aspnetcore-6.0#authentication-concepts)

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-08-10 00:42] #26655 closed

[2022-08-10 00:46] Rick-Anderson opened #26683 "IFormFile/IFormFileCollection support for authenticated requests in minimal APIs"
[IFormFile/IFormFileCollection support for authenticated requests in minimal APIs](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-7/#iformfile-iformfilecollection-support-for-authenticated-requests-in-minimal-apis)

See    #26345 Code done, see #26453 can't publish until .NET 7 . See also [test sample](https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/f

[2022-08-10 00:55] wadepickett commented on #26622
@JamesNK, Sorry for the needless noise, cancel that request on annotating.  I realized simply covering it as a step as it is in this doc already (of course) and you were wanting to summarize it better.  I'll give that a shot given what you already have available.

[2022-08-10 00:59] Rick-Anderson opened #26685 ".NET 7: New problem details service"
[New problem details service](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-7/#new-problem-details-service)

- [x] Create sample middleware in https://github.com/dotnet/AspNetCore.Docs.Samples/tree/main/fundamentals/middleware from https://github.com/dotnet/AspNetCore.Docs.Samples/pull/25

Sample at https://github.com/dotnet/AspNetCore.Docs.Samples/tree/main/fundam

[2022-08-10 01:02] mhinojosasolis commented on #16455
Hello, the comments in spanish would be great

[2022-08-10 01:04] Rick-Anderson opened #26686 ".NET 7: Diagnostics middleware updates"
[Diagnostics middleware updates](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-7/#diagnostics-middleware-updates)

Create sample showing how to use this in https://github.com/dotnet/AspNetCore.Docs.Samples/tree/main/fundamentals/middleware

[2022-08-10 01:06] Rick-Anderson opened #26687 ".NET 7: New HttpResults interfaces"
[New HttpResults interfaces](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-7/#new-httpresults-interfaces)

---
[Associated WorkItem - 32939](https://dev.azure.com/msft-skilling/Content/_workitems/edit/32939)

[2022-08-10 01:22] wadepickett opened #26688 ".NET 7.0: gRPC JSON Transcoding: Add summary section on annotation"
Provide a summary on annotation in the gRPC Transcoding topic.

We point to this following reference, but a summary is also needed: https://cloud.google.com/service-infrastructure/docs/service-management/reference/rpc/google.api#google.api.HttpRule

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfa3c933-30c4-eb49-d9a5-

[2022-08-10 01:37] thahurasultana commented on #10517
@yoorw  I am at a point where I have published the web app to azure and database as well and even my application uses a database first approach however, my application is not connecting to the database none whatsoever. I have checked the version of SDK which is  6.0.301 and even tried changing the connection string manually but this did not help me. Could you please help me in understanding what d

[2022-08-10 11:15] yugabe opened #26689 "Blazor auth: Remove parts referring to localhost Redirect URI port numbers"
The part about providing the port number for the localhost redirect UI in the "Register an AAD B2C app:" section is not needed, as localhost addresses are handled differently. It might make this part of the docs a bit easier to consume.

On the Azure Portal's relevant section (B2C tenant, AAD B2C -> App Registrations -> Select one -> Authentication -> Single Page Application), there is a link: [Le

[2022-08-10 11:19] guardrex commented on #26689
Hello @yugabe ... Curious ... did you open this using the **This page** button and form from the bottom of the topic? Our automated labeling system seems to have failed to label it properly.

[2022-08-10 11:20] yugabe commented on #26689
Hi @guardrex. Yes, I used the link on the bottom of the page.

[2022-08-10 11:27] guardrex commented on #26689
Hum ... strange. No worries. I just hope it doesn't start constantly failing. It's been great having all of the labels automatically applied.

I'm out of sick leave today due to a dental procedure yesterday ... I'm getting a shiny new tooth to replace one that **_rotted out of my head!_** 🤕😆 All good tho ... [Dr. Laggen and his staff in Pensacola](https://northwestfloridaoms.com/dr-laggan/) did a

[2022-08-10 11:34] yugabe commented on #26689
Hah, dentists... 😰
No worries, no hurries. It's just that the whole B2C/auth part is the toughest of all the stack imo, so improving this part even by a bit might go a long way.

It sucks this probably relates to multiple pages, as there are some redundancies, but all's for a good cause, I swear.

[2022-08-10 12:32] guardrex commented on #26689
Yeah! I was a bit stressed out over it ... **BUT** ... within 15 minutes of arriving, I was knocked out. Immediately after awaking after what seems like mere seconds, I was being wheeled out in a wheelchair to the car. I didn't even feel the IV get placed because the assistant was so good at it. I have one more major procedure for this tooth ... the titanium post about seven months from now ... bu

[2022-08-10 13:14] zxcq544 opened #26690 "Optimize and simplify EFCore database request for ContosoUniversity/Pages/Instructors/Index.cshtml.cs page"
Hello. This fix is about tutorial at this page https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/read-related-data?view=aspnetcore-6.0
Line 224 of this file https://github.com/dotnet/AspNetCore.Docs/edit/main/aspnetcore/data/ef-rp/read-related-data.md
Which leads to source code located here https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/data/ef-rp/intro/samples/cu50/Pages/Ins

[2022-08-10 15:58] tdykstra commented on #26542
I think it fits better under Performance --> Caching, alongside Response Caching Middleware.

![image](https://user-images.githubusercontent.com/1569635/183956382-6af9f367-c281-427f-a53a-e6501e668cd8.png)

[2022-08-10 16:13] leowebdev20 opened #26693 "Missing "Apply the migration to the existing database""
Looks like the last section of this tutorail page "Apply the migration to the existing database" is missing as the link (#applyexisting) doesn't take anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 634dfb2c-2626-9ec5-35fe-2bd2f27c5e23
* Version Independent ID: 7a77b058-f005-8d68-ae46-e487c597f18e
* Content: [P

[2022-08-10 16:41] #26680 closed

[2022-08-10 17:50] guardrex commented on #26680
... and we thank you @JanKotschenreuther for the thorough report on the problem, which makes it so much easier and quicker to understand what's going on. Those issues that come in with only "this doesn't work" are rough on the team. Thanks the trouble that you took typing out the detail and providing the screenshots. *Greatly appreciated!* 🍻

[2022-08-10 21:14] Rick-Anderson commented on #26542
@tdykstra  put it under both.

[2022-08-10 21:16] Rick-Anderson commented on #26690
@tdykstra  @JeremyLikness please review.

[2022-08-10 22:32] wadepickett opened #26696 ".NET 7.0: Add mention WebSocket support over HTTP/2 in topic: WebSockets support in ASP.NET Core"
SignalR and the SignalR browser JavaScript client have been updated to support WebSockets over HTTP/2. Introduced in .NET 7.0 Preview 6.

Something like:

.NET 7.0 allows WebSocket support over HTTP/2 for:

- ASP.NET Core SignalR JavaScript client
- ASP.NET Core SignalR with Blazor WebAssembly

Using WebSockets over HTTP/2 lets you take advantage of new features like header compression and multipl

[2022-08-10 22:37] BrennanConroy commented on #26696
Note: Only clients running in the browser have support for this today. So javascript or SignalR .NET client with WASM.

[2022-08-10 22:43] wadepickett commented on #26696
Thanks @BrennanConroy!

Should I wait until RTW to see where it is at then, or just mention those two new options for now (in this Websockets topic).

[2022-08-10 22:49] BrennanConroy commented on #26696
Either is fine, if you do the latter, maybe keep the issue open and assign me to look at and update once we RTM if it needs updating.

[2022-08-10 23:30] #26693 closed

[2022-08-10 23:39] #26664 closed

[2022-08-11 00:50] Rick-Anderson opened #26699 "Rename RouteHandlerFilter to EndpointFilter"
See https://github.com/dotnet/aspnetcore/pull/42678/files

@fiyazbinhasan  can you update your code in https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/fundamentals/minimal-apis/min-api-filters/7samples then I'll update the topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a109e339-bce8-9580-12f8-dab8

[2022-08-11 01:29] alexisconsuegra opened #26748 "Setting IdentityUIFrameworkVersion>Bootstrap4</IdentityUIFrameworkVersion"
First suggested method: Adding  <IdentityUIFrameworkVersion>Bootstrap4</IdentityUIFrameworkVersion> to PropertyGroup did not solved the problem. Is there anything missing in this aproach?
Migrating to Boostrap 5 is not possible at this time.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e7a18c8-acae-f101-fcbd-

[2022-08-11 03:19] Rick-Anderson opened #26701 "make 'permanent' deeplinks into pages"
See https://github.com/dotnet/aspnetcore/pull/43170

Reply to this issue with any links you want to make permanent.

[2022-08-11 03:43] jeffpatton1971 commented on #26665
If you look at the images on the page, those step you through everything and that's where it shows .net version and outdated visual studio interfaces.

[2022-08-11 04:49] Rick-Anderson commented on #26665
Can you provide a screen shot here?

[2022-08-11 06:34] fiyazbinhasan commented on #26699
Hi @Rick-Anderson, sure I'll take a look at it asap :)

[2022-08-11 09:22] willykurmann commented on #13144
Hi @davidfowl,

Don't have the answer on how it'd reconnect,  but it seems there's an actual way to update the ``HttpContext`` from a hub method:
[code]

And the only thing that prevent this new user to be used is how ``HubConnectionContext.User``method has been implemented.
[code]

It'd work fine with this new code IMO as all subsequent calls to ``HubConnectionContext.User``would use the new user

[2022-08-11 09:36] Niproblema commented on #13144
Here is how I did it;

`
        private void ProlongConnectionAuthenticationExpiration(ClaimsPrincipal claimsPrincipal)
        {
            if (claimsPrincipal == null)
            {
                throw new ArgumentNullException(nameof(claimsPrincipal));
            }

            // Get validation parameters.
            TokenValidationParameters? validationParameters = _serviceProvider.GetS

[2022-08-11 11:02] santhoshappdev opened #26703 "swift5 iOS no proper document."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edc76539-dcd8-8271-b876-f2b492af9b49
* Version Independent ID: d0106767-c04e-39a8-fe1d-a40352552c62
* Content: [ASP.NET Core SignalR supported platforms](https://docs.microsoft.com/en-us/aspnet/core/signalr/supported-platforms?view=aspnetcore-6.0)
* C

[2022-08-11 11:33] henon opened #26704 "Typo in code snippet of doc page "Call a web API from Blazor""
On the documentation page https://docs.microsoft.com/en-us/aspnet/core/blazor/call-web-api?view=aspnetcore-6.0&pivots=server
In the code snippet there is a semicolon after a `@using` which is not correct.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b5e2e10-ff7b-2b9f-84da-f16028ae2c53
* Version Independent I

[2022-08-11 11:34] guardrex commented on #26704
Hello @henon ... *Yes! Indeed!* Thank you for reporting that. I'll fix that up right now. 🏃

[2022-08-11 11:40] #26704 closed

[2022-08-11 13:41] jwu-dharmo opened #26707 "Including passing parameter the interceptor"
It will be nice to include information on how to pass parameters the the interceptor.

For example, I know we can specify parameters during the AddServiceOptions() call, but how do we "pass on that value" to AddTransient() or AddSingleton() call.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf211766-acfe-e599-8286-a5

[2022-08-11 14:52] guardrex commented on #25822
**UPDATE (8/11)**: *Very sorry for the delay!* There's a delay due to the work going on for the upcoming .NET 7 release. We'll get to this *ASAP*, but I don't have an ETA. I'll remind them tomorrow, Friday, about your issue.

[2022-08-11 14:53] guardrex commented on #26483
**UPDATE (8/11)**: *Very sorry for the delay!* There's a delay due to the work going on for the upcoming .NET 7 release. We'll get to this *ASAP*, but I don't have an ETA at this time.

[2022-08-11 14:54] guardrex commented on #26528
**UPDATE (8/11)**: *Very sorry for the delay!* There's a delay due to the work going on for the upcoming .NET 7 release. We'll get to this *ASAP*, but I don't have an ETA.

[2022-08-11 14:57] guardrex commented on #26270
**UPDATE (8/11)**: We're still delayed due to the work going for the upcoming .NET 7 release. We'll get to this *ASAP*, but I don't have an ETA yet.

[2022-08-11 15:46] bradygaster commented on #26703
The SignalR team does not ship a supported Swift or iOS client **to** document.

[2022-08-11 15:49] guardrex opened #26709 "Update Blazor-macOS guidance"
The 🍎 *MacBook* 🍎 is here! 🎉 I'll be updating the Blazor-macOS guidance for VS4Mac now.

If we're going to include macOS/VS4Mac Blazor Hybrid (.NET MAUI) guidance in that tutorial, that will be tracked by a separate issue and worked separately immediately after this.

[2022-08-11 15:59] TanayParikh commented on #26270
@guardrex I'm pretty sure this is now resolved based on the PR/issue we were discussing yesterday (onload revoke object url).

[2022-08-11 16:18] guardrex commented on #26270
Ok, cool. Thx, @TanayParikh. In that case, we'll just need to touch base at some point on Steve's remarks in the other issue ...

**The "Preview an image provided by the InputFile component" content seems strange**
https://github.com/dotnet/AspNetCore.Docs/issues/26276

I wasn't quite able to grok his proposed solution for image previews. I came up with something, but it didn't match the language

[2022-08-11 16:18] #26270 closed

[2022-08-11 17:49] tdykstra commented on #26690
@zxcq544 Thanks for your suggestion. I agree this will be an improvement.

[2022-08-11 19:44] ctorx commented on #23733
Part of our deploy process is to apply the app_offline.htm, wait 15 seconds, then start the copy of the new files.  This worked perfectly from dotnet v2.2 through v5.  With v6 we started seeing issue with file locking and have been struggling to find a work around.  Today I found the shadowcopy solution and it seems to be working.  Finally.

What's most important is that we have a reliable way to

[2022-08-11 20:22] #26690 closed

[2022-08-11 21:13] heaths opened #26714 "Documentation for Key Vault configuration is wrong"
Documentation states,

https://github.com/dotnet/AspNetCore.Docs/blob/642a1e53966fe9535fbf6ae870e29ffe119a39e4/aspnetcore/security/key-vault-configuration.md?plain=1#L339

This is now how `KeyVaultSecretManager` is implemented currently, and based on [my comments](https://github.com/Azure/azure-sdk-for-net/issues/28789#issuecomment-1127916189) I think we should change the implementation little to

[2022-08-12 00:22] amzhang commented on #25534
This is due to: `<Nullable>enable</Nullable>` in `ContosoUniversity.csproj`.

Remove it and it should be fine.

[2022-08-12 00:55] Vincent-Lz-Zhang opened #26718 "How To Unit Test Such ErrorController?"
How To Unit Test Such An ErrorController

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03fdf4-b19b-17c3-04f4-336ab6d2ee06
* Version Independent ID: 38515dfb-91a5-b395-db9d-084bbaf095c8
* Content: [Handle errors in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-

[2022-08-12 07:54] bizinbarefeet opened #26724 "How about a Beginners Version"
I have no idea how to get setup basic email service in a demo asp.net core web app.  How about making a beginners version of this file as its linked from the web app template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1bea60-d173-f6d2-3559-b147699e295a
* Version Independent ID: 98e7aacb-2a01-d581-9b03-bfef289316

[2022-08-12 08:22] oatsoda commented on #18786
Hmm, so the detection code finds that `BaseAddressAuthorizationMessageHandler` and `AuthorizationMessageHandler` are both `IDisposable` registered as `Transient`...

https://github.com/dotnet/aspnetcore/blob/main/src/Components/WebAssembly/WebAssembly.Authentication/src/WebAssemblyAuthenticationServiceCollectionExtensions.cs#L43-L44

[2022-08-12 10:21] guardrex commented on #26528
New information on this that resolves it ...

https://github.com/dotnet/aspnetcore/issues/43234

Leave this open, @Zhiyuan-Amos, as I plan to clarify it in the docs based on Javier's remarks there.

[2022-08-12 13:19] zxcq544 opened #26725 "Replace string arguments with typed parameters at ContosoUniversity/Pages/Courses/DepartmentNamePageModel.cs"
This fix is for page https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/update-related-data?view=aspnetcore-6.0 ,
line 31 of  page https://github.com/dotnet/AspNetCore.Docs/edit/main/aspnetcore/data/ef-rp/update-related-data.md ,
which leads to source code https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/data/ef-rp/intro/samples/cu50/Pages/Courses/DepartmentNamePageModel.cs#L21

[2022-08-12 13:47] jimgit opened #26726 "Please update for latest release"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e66171ce-7dca-bf91-36be-f02e38c00678
* Version Independent ID: e66171ce-7dca-bf91-36be-f02e38c00678
* Content: [Build a .NET MAUI Blazor app](https://docs.microsoft.com/en-us/aspnet/core/blazor/hybrid/tutorials/maui?view=aspnetcore-6.0)
* Content Sour

[2022-08-12 13:52] randykroeger opened #26727 "Too high level"
Although, the post was good in providing snipits.  It really does not help in understanding what is being built.  We only get the using statement and the code from within the method.  You should provide the full contents of your code file to give a better picture.  Copying this will not help someone that is starting out.   Also, providing descriptions is always helpful as well (e.g. post, put, get

[2022-08-12 13:59] patnym commented on #2501
@Joren-Thijs-KasparSolutions Totally agree!

Tried following the documentation on https://docs.microsoft.com/en-us/aspnet/core/blazor/globalization-localization?view=aspnetcore-6.0&pivots=webassembly but it's Windows specific because Mac cannot generate the .cs files needed.

So basically we had to drop the idea of using the built in support, since for some reason, it's not cross-platform.

[2022-08-12 15:58] guardrex commented on #26726
Hello @jimgit ... If by "latest release" you mean the upcoming release for 7.0, that's tracked separately. If you mean "latest release" as in 6.0, this is current. If you're having trouble with implementation, you can mention here what you're seeing, but we might end up having you open an issue for the product unit.

[2022-08-12 17:29] #26709 closed

[2022-08-12 18:03] guardrex commented on #26726
@jimgit ... I'm going to go ahead and close, but feel free to write back more detail on what you mean by "latest release," especially if you're having a 6.0 problem with the current guidance, which is for 6.0. Based on that, I may direct you to open an issue for the product unit. If you mean for 7.0, we don't guarantee that docs will be ready until General Availability (GA), which is scheduled for

[2022-08-12 18:03] #26726 closed

[2022-08-12 18:08] Rick-Anderson commented on #26724
Follow the sendgrid link.

[2022-08-12 18:08] #26724 closed

[2022-08-12 18:10] Rick-Anderson commented on #26725
@zxcq544  I agree. We'll likely do that on the next update of the doc. cc @tdykstra

[2022-08-12 18:12] Rick-Anderson commented on #26727
All the code is included in the tutorial.

[2022-08-12 18:12] #26727 closed

[2022-08-12 22:08] brunolins16 commented on #26501
@Rick-Anderson the support for all BindBehavior in the top-level action parameters was added back in 2017 (https://github.com/dotnet/aspnetcore/commit/236ef5d1d1d12a2503c6da0900b3c40ca5470985)

[2022-08-12 22:32] #26501 closed

[2022-08-12 23:41] #26155 closed

[2022-08-13 00:17] Rick-Anderson commented on #26540
@martincostello  can you put your sample in https://github.com/dotnet/AspNetCore.Docs.Samples/tree/main/fundamentals/minimal-apis/samples ?

[2022-08-13 00:20] Rick-Anderson commented on #26326
@sammychinedu2ky @fiyazbinhasan  new samples to write at  [`is:open label:"code help wanted"`](https://github.com/dotnet/AspNetCore.Docs/labels/code%20help%20wanted)

[2022-08-13 04:18] Rick-Anderson commented on #26714
See [Disabled and expired secrets](https://docs.microsoft.com/en-us/aspnet/core/security/key-vault-configuration?view=aspnetcore-6.0#disabled-and-expired-secrets)

cc @blowdart

[2022-08-13 04:20] #26703 closed

[2022-08-13 08:58] sammychinedu2ky commented on #26326
ok would look into it and see  @Rick-Anderson

[2022-08-13 13:16] bizinbarefeet commented on #26724
We don't use SendGrid.  Just want a simple SMTP email service.  Am so surprised it's not provided out of the box like previous frameworks.

[2022-08-13 18:20] Rick-Anderson commented on #26724
There is no such thing. They're difficult to secure and impossible to get through SPAM filters.

[2022-08-13 22:07] fiyazbinhasan commented on #26352
I can take this 😸

[2022-08-14 01:55] Rick-Anderson commented on #26352
Fantastic.

[2022-08-14 09:31] fiyazbinhasan commented on #26326
@Rick-Anderson are there any plans to add a section about route groups?
https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-4/#route-groups

Maybe in the overview doc
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/minimal-apis?view=aspnetcore-7.0

[2022-08-14 17:34] enetstudio opened #26739 "Confusing AuthorizationMessageHandler remark"
[EDIT by guardrex to add the metadata. You can add the metadata when you open an issue using the **This page** feedback button at the bottom of any article.]

[AuthorizationMessageHandler is a DelegatingHandler used to attach access tokens to outgoing HttpResponseMessage instances.](https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/additional-scenarios?view=aspnetcore-7.0#at

[2022-08-14 21:15] useready-andyv opened #26737 "Add Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore in NuGet Package Section"
Code does in not compile in 'Add API Code' section as NuGet package
Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore is missing in [previous step](https://docs.microsoft.com/en-us/aspnet/core/tutorials/min-web-api?view=aspnetcore-6.0&tabs=visual-studio#add-nuget-packages). Please update the instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-08-14 21:21] guardrex commented on #26737
Hello @useready-andyv ... The instruction is already present (the last bullet point).

https://docs.microsoft.com/en-us/aspnet/core/tutorials/min-web-api?view=aspnetcore-6.0&tabs=visual-studio#add-nuget-packages

[2022-08-14 21:22] guardrex commented on #26737
Oh! Did you mean for the Visual Studio for Mac tab?

[2022-08-14 21:23] useready-andyv commented on #26737
Would suggest moving the last bullet up before selecting the project box for ease of use I missed it some others might miss the same thing too!

Pardon my typos, thumb typed on a handheld.
________________________________
From: Luke Latham ***@***.***>
Sent: Sunday, August 14, 2022 5:21:17 PM
To: dotnet/AspNetCore.Docs ***@***.***>
Cc: Andy Vadul ***@***.***>; Mention ***@***.***>
Subject: Re: [do

[2022-08-14 21:25] guardrex commented on #26737
I don't disagree and made the suggestion a while back. Let's leave this for @Rick-Anderson to take a look at. I was only closing it because I thought that we had it covered. There are two considerations ...

* That package has been missed over the years by several devs.
* The VS4Mac tab isn't claiming that it should be added, but I don't understand why. Seems like it should be there, too.

[2022-08-14 23:47] sammychinedu2ky commented on #26685
Would work on this @Rick-Anderson

[2022-08-15 03:37] Rick-Anderson commented on #26685
Fantastic

[2022-08-15 03:39] Rick-Anderson commented on #26326
Yes, can you update a sample to add route groups?

[2022-08-15 03:40] Rick-Anderson commented on #26737
We'll look at this on the next update.

[2022-08-15 03:40] #26737 closed

[2022-08-15 03:42] Rick-Anderson commented on #26737
The meta-data links contain the tab and the version when the issue is created.. No need to guess.

[2022-08-15 09:30] derth opened #26740 "Is storing circuits in the circuit handler thread safe?"
The singleton circuit handler stores the circuits in a hashset, shouldn't we use a thread safe collection instead?

https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/signalr?view=aspnetcore-6.0#blazor-server-circuit-handler

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0969556b-b77e-bdb8-8e20-fd6971be0c

[2022-08-15 11:11] guardrex commented on #26740
Hello @derth ... This came in directly from the product unit on ...

https://github.com/dotnet/AspNetCore.Docs/pull/16702

You can ask the product unit at ...

https://github.com/dotnet/aspnetcore/issues

If you do, you can let them know that Pranav (not on their team any longer) added the code on that PR ☝️ back in 2020. You can give them this link ...

[code]

Also, please add ...

[code]

... t

[2022-08-15 11:11] #26740 closed

[2022-08-15 17:59] guardrex commented on #26739
Hello @enetstudio ... *Yes*, I agree ... it's confusing blurted out like that. We *might* make a change in the articles, and the product unit might want make a change to the API docs from which the article's remarks are derived.

The tokens are attached to `HttpRequestMessage`, as the following will show, but `AuthorizationMessageHandler` in the API docs explain the same thing as our Blazor articl

[2022-08-15 19:11] Jymms opened #26743 "Not working for me"
[Enter feedback here]
Maybe it's the title of the page "ASP.NET Core Blazor" which isn't an option when making a project?  Maybe there's a step that is being skipped? I selected Blazor Server App and I do not get a picture.  I get an icon of a broken picture and when I put in alt="Not working" that shows as well.

Running it as IIS Express or the name of the project produces the same result.

The

[2022-08-15 19:19] guardrex commented on #26743
Hello @Jymms ... That's not enough information to understand what you did. Can you explain out exactly what you did (e.g., show code) or put up a repro project in GitHub for me to look at?

[2022-08-15 19:51] Jymms commented on #26743
I've started a new project and it works, so I must have done something while following the tutorials.  Maybe I've screwed up the css file?  I'm not sure, but with a fresh project it works.

[2022-08-15 19:53] guardrex commented on #26743
I don't know without analysis, which I'm hard pressed to perform under the workload here.

Can we close this as 'fixed by customer'?

[2022-08-15 19:57] Jymms commented on #26743
Yes, I will use this project as my new 'examples' project and delete the one I've messed up. Retyping the other pages is good for the memory anyway ;)  (i.e. how to make a Grid...)

[2022-08-15 19:57] #26743 closed

[2022-08-15 21:58] enetstudio commented on #26739
@guardrex,

Thanks for your exhaustive response... The issue begins with the following:

`A <see cref="DelegatingHandler"/> that attaches access tokens to outgoing <see cref="HttpResponseMessage"/> instances.`

Source: https://github.com/dotnet/aspnetcore/blob/ce8419e91d84d42690da18d7af40e7ac086c11f4/src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AuthorizationMessageHandler.cs#

[2022-08-15 22:12] guardrex commented on #26739
FYI: The articles are under our control. The API docs are under the direct control of the product unit. The API docs are derived directly from their API comments in the framework code.

I don't think that's going to turn out to be the case. The product unit usually doesn't make mistakes like that. I think Javier wrote that code/text, and he almost never makes mistakes, especially something that ob

[2022-08-15 23:04] WesleyHovick opened #26746 "External link to Autofac is broken"
The Autofac link in [here](https://docs.microsoft.com/en-us/aspnet/core/migration/50-to-60-samples?view=aspnetcore-6.0#custom-dependency-injection-di-container) (the DI section) redirects to a broken page [here](https://docs.autofac.org/latest/integration/aspnetcore.html)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-08-16 01:25] Rick-Anderson commented on #26746
Thanks. Any chance you could PR this? At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-11e9-86ce-18aaff69c719.png)

Select the pen icon again. Save.

[2022-08-16 02:58] heaths commented on #26714
Yes, I'm stating I think the docs are wrong. I own the Key Vault SDK for .NET, and there are certainly cases where expired secrets should be loaded. Whatever the case is, the newer (~3 year old) configuration provider has been like this, and changing it now would be a breaking change. Not returning disabled secrets, however, might be worth it. That's an explicit user (likely admin) action unlike e

[2022-08-16 08:19] guardrex commented on #26746
The loc segments to their pages can't be removed. The destination should be ...

https://docs.autofac.org/en/latest/integration/aspnetcore.html

[2022-08-16 08:30] #26746 closed

[2022-08-16 12:09] KurtP20 opened #26751 "Note requirement to include UseStaticWebAssets in Staging environment"
[EDIT by guardrex to change the metadata]

I bumped into a nasty error when switching from Devlopment so Staging environment: In Staging, static web assests (e.g. site.css and other java scripts) are not served automatically. You can try this by making a new Blazor Server Side App, switch to Staging and you will see, that site.css is not loaded.

The [fix](https://forum.radzen.com/t/radzen-blazor-

[2022-08-16 12:22] blowdart commented on #26714
It's not a matter of *should* Heath, it's a matter of does your SDK do that right now, which it appears to do :)

If, as you say, your library loads expired secrets by default then fine, the docs should reflect that.

I'm not sure I agree with loading expired secrets by default (maybe that should be an sdk option, but that's off topic for docs).

Given it's your SDK @heaths you can update the docs

[2022-08-16 12:45] Jhstvf4t commented on #26528
does this delay really matter?

Pada tanggal Kam, 11 Agu 2022 21:54, Luke Latham ***@***.***>
menulis:

[2022-08-16 12:47] Jhstvf4t commented on #26528
Got it.

Pada tanggal Jum, 12 Agu 2022 17:21, Luke Latham ***@***.***>
menulis:

[2022-08-16 13:21] paulomorgado opened #26752 "Missing information that duplicate keys from the same source is invalid"
The documentation is missing the information that duplicate keys from the same provider are not allowed.

This will succeed:

[code]

And this:

[code]

will output this:

[code]

But this:

[code]

will throw:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb4d762-3910-2c57-8741-3306c15537b6
* Version Indepen

[2022-08-16 13:22] paulomorgado commented on #26752
https://github.com/dotnet/docs/issues/30709

[2022-08-16 15:18] #26460 closed

[2022-08-16 15:19] #26547 closed

[2022-08-16 17:08] enetstudio commented on #26739
@guardrex,

Again, I do not suggest that the code is faulty. The code is perfectly fine... The issue is with the comments that are being cascaded to the documents, and express something that is not true. When you read in the documents: `AuthorizationMessageHandler is a DelegatingHandler used to attach access tokens to outgoing HttpResponseMessage instances.`
You read something completely wrong. An

[2022-08-16 17:23] guardrex commented on #26739
No, you don't understand what I'm telling you: The framework code **_contains the API remarks_**, and the API remarks are what generates the API documentation. That must be updated on the product unit's repository. Nothing is "cascaded," per se, directly from their API remarks to the ASP.NET Core documentation set of this repo. Yes, we use their remarks in articles, and we do seek to improve gramm

[2022-08-16 19:00] Rick-Anderson commented on #26751
@guardrex  please review

[2022-08-16 19:07] Rick-Anderson commented on #26752
Why would you want to use duplicate keys? Doing so throws an exception to tell you the problem. Why should that be documented?

[2022-08-16 19:20] #26546 closed

[2022-08-16 19:20] Rick-Anderson commented on #26752
In [Configuration keys and values](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-6.0#configuration-keys-and-values) we state:

Configuration keys:

Are case-insensitive. For example, `ConnectionString `and `connectionstring` are treated as equivalent keys.

[2022-08-16 19:20] #26752 closed

[2022-08-16 19:30] guardrex commented on #26751
Hello @KurtP20 ... *Interesting!* Yes, I just found out that this is a by-design *feature* 😄. See ...

https://github.com/dotnet/aspnetcore/issues/39596#issuecomment-1015279408

I'm going to update the metadata and work this guidance into the Blazor *Static Files* topic, probably with a cross-link in the Blazor *Environments* topic.

[2022-08-16 19:44] guardrex commented on #26751
I'm going to take a closer look when I get back to this, but try it this way ...

[code]

[2022-08-16 22:28] alexisconsuegra commented on #26748
Hi Yes, let me have a simple project. FYI. It works in my local host, but it throws the error at my hosted enviroment. I have confirmed core 6 is installed.

[2022-08-17 06:57] bizinbarefeet commented on #26724
Hmmmm.  So unlike previous Microsoft IDEs which provided working templates out of the box there is none in .net core to allow a user to setup a test installation with test user login.  I find this very strange.

[2022-08-17 08:19] hifeamin opened #26757 "Facebook external authentication in Angular application doesn't work based on document"
I have tested this document and it redirect to the Facebook. but when return to the address "https://localhost:{port}/signin-facebook" the angular returns this error:

```core.js:6479 ERROR Error: Uncaught (in promise): Error: Cannot match any routes. URL Segment: 'signin-facebook' Error: Cannot match any routes. URL Segment: 'signin-facebook'```

I think something is missed in the document. I hav

[2022-08-17 08:38] KurtP20 commented on #26751
Thanks for updating the documentation!

In the .net 5 template I don't see right away where to include your code. But now I better understand the "side effects" and the reason of having to use `UseStaticWebAssets`, and since I do want to serve static context in all environments, I do not need to access the environment any more. Thanks for your help.

[2022-08-17 08:52] guardrex commented on #26751
I found this in a discussion ...

[code]

[2022-08-17 09:02] guardrex commented on #26751
Looks like this ...

[code]

... should work for 7.0 or later. It looks like the workaround in 6.0 is simply ...

[code]

When I get the PR put together, I'll ping Safia to look and confirm that I have the guidance correct.

[2022-08-17 09:13] KurtP20 commented on #26751
... and in 5.0 it is
[code]

Your suggestion
[code]
does not work for me as parameter 1 cannot be converted from `IHostEnvironment` to `IWebHostEnvironment`, but one could probably simly call `StaticWebAssetsLoader.UseStaticWebAssets` without parameters. The first version is preferred as the call to `ConfigureWebHostDefaults` is already in the template and `ConfigureAppConfiguration` is not.

[2022-08-17 09:17] guardrex commented on #26751
Well, it wasn't **_my_** suggestion 😄 ... it was in the discussion remarks. Yes, that's right about the param. I did note it in passing. One my personal problems here is that I just set up a brand new PC, and I didn't get it set up with 5.0 hoping that I wouldn't need to. I'd rarely use it, as we're heading into 7.0 at this point. I may fire up the old PC to see what's what.

[2022-08-17 09:22] guardrex commented on #26751
I didn't really copy it exactly. They actually have ...

[code]

[2022-08-17 09:31] KurtP20 commented on #26751
I would not want to install 5.0 on a new machine either. It's just so much work to change from the 5 to the 6 template where app configuration is much different. The solution with `ConfigureWebHostDefaults` works and looks similar to `builder.WebHost.ConfigureAppConfiguration`.

[2022-08-17 09:35] guardrex commented on #26751
I can keep the default.

It's just that I don't like cluttering my machine with hundreds of megs of (mostly) *dead files* 💀 ... *5.0, it's so 2021!* 😆

[2022-08-17 11:05] #26528 closed

[2022-08-17 12:22] KurtP20 commented on #26751
I found these related issues [13190](https://github.com/dotnet/aspnetcore/issues/13190) and [13864](https://github.com/dotnet/AspNetCore.Docs/issues/13864) via [this post](https://forum.radzen.com/t/radzen-blazor-components-dont-respect-custom-environments/2690/2), maybe you want to leave a comment at those issues as well?

[2022-08-17 17:31] wadepickett commented on #26622
Tracking the new summary for annotation in #26688.  Closing this issue on multi-segment since we don't need it.

[2022-08-17 17:31] #26622 closed

[2022-08-17 18:12] Rick-Anderson commented on #26757
Angular is beyond the scope of this tutorial.

[2022-08-17 18:12] #26757 closed

[2022-08-17 18:49] wadepickett opened #26760 "7.0 Update & What's New: gRPC Performance"
Make sure this topic is up to date per .NET 7 Preview 7. and verify the What's New for 7.0 reflects what is needed and points back.

[Use .NET 7 Preview 7 as a starting guide](https://docs.microsoft.com/en-us/aspnet/core/grpc/performance?view=aspnetcore-7.0)

Also verify this topic is up to date as related to transcoding performance.
[gRPC JSON transcoding in ASP.NET Core gRPC apps](https://docs.m

[2022-08-17 20:53] Rick-Anderson commented on #26696
Dup of #26366

[2022-08-17 22:45] brobbins opened #26762 "MVC tutorial for ASP.NET Core - unexpected error in VS when performing the EF Scaffolding step (part 4)"
There seems to be an issue with the step in the tutorial that involves the Scaffolding tool.
I am targeting version ASP.NET Core 3.1, so I installed the version of the "Microsoft.EntityFrameworkCore.SqlServer" NuGet package (in this case v3.1.28) related to the framework I chose.  When I get to the part of using the Scaffolding tool to add the CRUD items, it caused VS 2022 to restart, with no rest

[2022-08-17 22:46] wadepickett commented on #26696
Closing since this is a duplicate of Dup of https://github.com/dotnet/AspNetCore.Docs/issues/26366

[2022-08-17 22:46] #26696 closed

[2022-08-17 23:36] kjkrum opened #26764 "Microsoft.AspNetCore.Mvc.Api.Analyzers does nothing; docs or product?"
I've followed [the docs](https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/analyzers?view=aspnetcore-6.0) to enable `Microsoft.AspNetCore.Mvc.Api.Analyzers` in a aspnetcore-6.0 project in VS2022 17.2.6 and 17.3.1. The analyzer is listed in the Solution Explorer under Dependencies/Analyzers. The inspection error levels are set to Warning. The project contains controllers decorated with

[2022-08-17 23:39] Rick-Anderson commented on #26762
Why aren't you targeting 6.0?

[2022-08-17 23:39] #26762 closed

[2022-08-17 23:45] Rick-Anderson commented on #26764
This wasn't introduced until 3.1
Are you using as [ProducesResponseTypeAttribute](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.producesresponsetypeattribute) or [ProducesAttribute](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.producesattribute) ?

[2022-08-17 23:46] kjkrum commented on #26764
@Rick-Anderson Neither yet. Hence my expectation of seeing a warning.

[2022-08-17 23:47] Rick-Anderson commented on #26764
That's required.

[2022-08-17 23:47] #26764 closed

[2022-08-17 23:49] kjkrum commented on #26764
@Rick-Anderson Isn't the entire purpose of this analyzer to emit a warning if you *don't* use those attributes, either explicitly or via a convention?

[2022-08-17 23:54] kjkrum commented on #26764
@Rick-Anderson And this was *not* introduced in 3.1. There are lots of third-party tutorials about how to use it in 2.2.

[2022-08-18 00:01] kjkrum commented on #26764
@Rick-Anderson https://docs.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-2.2

[2022-08-18 01:24] kjkrum commented on #26764
@Rick-Anderson It's a bug in the product. I'll open another ticket.

[2022-08-18 12:13] kh-nasser opened #26769 "calculating "MultipartBodyLengthLimit" quota in byte"
hello there, in [upload document](https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/mvc/models/file-uploads.md#multipart-body-length-limit-1) Multipart Body Length Limit is set to 268435456 byte (which is 2 raised to power of 28) and added a comment that it

`services.AddRazorPages(options =>
{
    options.Conventions
        .AddPageApplicationModelConvention("/FileUploadPage",

[2022-08-18 12:57] ldillonel opened #26770 "Sample app targets .NET 7, prerequisite section states .NET 6 which causes an error."
Sample app and docker image target .NET 7, but the prerequisite states .NET 6.  This produces an error during the project build and app push to docker.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3653642e-61ef-717b-5436-9bd0a3c4e6f4
* Version Independent ID: 80c1ce51-46fb-0693-525a-7cad37150c7b
* Content: [Docker im

[2022-08-18 13:28] guardrex commented on #26769
Please re-open this issue using the **This page** feedback button and form at the bottom of the **English-US** topic. Use of the **This page** feedback form adds metadata to your GitHub issue that cross-links the topic and automatically pings the author.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

[2022-08-18 13:28] #26769 closed

[2022-08-18 13:47] derth opened #26772 "Signalr host in "worker project""
It would be nice if there was an example, or at least some notes, on how to host signalr in a "worker project", using webapp servers as clients.
I can't find any info on what aspnetcore signalr package to include to make it work.

At the end i saw this sample:
https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/signalr/background-service/samples/6.0/Server/Server.csproj

which uses the

[2022-08-18 15:42] aggieben opened #26773 "Contradictory guidance in paragraph about BackgroundService"
In the [BackgroundService base class](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-3.1&tabs=visual-studio#backgroundservice-base-class-1) paragraph, it indicates all of the following:

Which is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3460b0d-9c60-3a06-ac63-1

[2022-08-18 16:18] AngelosP opened #26774 "Outdated version of VS used in the article"
The project creation, the publish and the provisioning all look different in the latest version of VS. Also the version of the ASP.NET template being used is old as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71a44c72-d256-fbee-ea70-2eb7472f8182
* Version Independent ID: 157027ff-0bad-828d-a442-a98acd219fba
*

[2022-08-18 17:20] #26483 closed

[2022-08-18 17:41] mthalman commented on #26770
The problem is larger than just the 6.0/7.0 difference. There are separate doc pages for each .NET version. So even before the [change to make the dotnet-docker samples to be based on .NET 7](https://github.com/dotnet/dotnet-docker/pull/3989) instead of .NET 6, there was a problem with the doc pages related to .NET Core 3.1. That's because the 3.1 doc page is referring to the same dotnet-docker re

[2022-08-18 19:38] #26773 closed

[2022-08-18 19:40] Rick-Anderson commented on #26774
We'll get this updated and ping you if we have questions.

[2022-08-18 21:59] ExusAltimus opened #26775 "Code smell on recommended approach"
[Enter feedback here]
In this page the code mentions creating a scoped service
builder.Services.AddScoped<TokenProvider>();
Then proceeds to set properties on the scoped service on the OnInitialized method.

This feels like bad practice as when you have a component that inherits from OwningComponentBase, the newly injected service will not have these properties set. (A new instance is created)

So

[2022-08-18 22:44] Cetins opened #26776 "zsh: command not found: libman"
The command on below is not working.

libman install @microsoft/signalr@latest -p unpkg -d wwwroot/js/signalr --files dist/browser/signalr.js --files dist/browser/signalr.js

I can confirm libman has been globally installed, the command has been executed in the correct folder, and lot's of people having the same issue on stackoverflow yet I couldn't found a valid answer but lots of theories on com

[2022-08-19 02:04] #26541 closed

[2022-08-19 05:22] wadepickett opened #26780 "Update VSC UX changes -Azure extensions: Publish an ASP.NET Core app to Azure with Visual Studio Code"
This topic update is part of a larger sweep request to make sure the latest Visual Studio code UX changes and Azure extensions are reflected in the docs.

Verify this topic accounts for the latest UX and Azure extensions where needed plus new screenshots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbb0803d-d8d8-721

[2022-08-19 08:50] SmRiley commented on #21905
Using Connected Services can easily configure the proto reference of other projects, and you can delete the link in the project file. However, this can only refer to the proto of the local file, not the proto of the project. Of course, there is nothing for the relative path of the same solution. the difference

[2022-08-19 10:29] guardrex commented on #26775
Hello @ExusAltimus ... It only sets those properties on initialization **_in the `App` component_**, not throughout the app and not in other components that might inherit from `OwningComponentBase`. Then, the `TokenProvider` is used for a secure API request, also not in a component that would inherit `OwningComponentBase`. Even if `TokenProvider` is injected into a component that inherits from `Ow

[2022-08-19 10:29] #26775 closed

[2022-08-19 10:59] #26751 closed

[2022-08-19 12:43] #26689 closed

[2022-08-19 15:17] EricRohlfs opened #26783 "The last code example is marked C#, but appears to be JavaScript"
The last code example is marked C# but appears to be JavaScript.
The code example starts with the text
`var response = await fetch("/antiforgery/token", {`

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47b14f57-82ac-a2e2-cbc7-22a81a60f4ac
* Version Independent ID: bffca13c-223f-c61f-9cb2-9da8811

[2022-08-19 16:13] csdhall opened #26784 "Differences between minimal APIs and APIs with controllers"
This section, "Differences between minimal APIs and APIs with controllers" would make sense on top of the page. This will help new developers understand the differences before jumping to minimal APIs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab408035-6313-a183-9940-32de00e0e977
* Version Independent ID: ab408035-

[2022-08-19 17:54] #26783 closed

[2022-08-19 17:59] wadepickett commented on #26776
@Cetins, thanks very much for taking the time to bring this up.  There may have been an update that needs to be accounted for.  I'll look into it.

[2022-08-19 18:47] tdykstra commented on #26445
Where is the code that needs to be updated?

[2022-08-19 18:50] #26341 closed

[2022-08-19 18:56] Rick-Anderson commented on #26445
Looks like it never made, so you just need to document it.

[2022-08-19 19:19] #26784 closed

[2022-08-19 23:23] #26291 closed

[2022-08-19 23:28] tdykstra opened #26793 ".NET 7 - Self-describing minimal APIs with IEndpointMetadataProvider and IEndpointParameterMetadataProvider"
https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-4/

[2022-08-20 08:11] sammychinedu2ky commented on #26685
@Rick-Anderson  for some reason the  `problemDetailsService.WriteAsync(new { HttpContext = httpContext });` doesn't accept an anonymous type as they said in the docs and it also doesn't resolve a `ProblemDetailsContext` class due to the fact that it is marked obsolete.
There is also a current issue with the feature https://github.com/dotnet/aspnetcore/issues/43261

[2022-08-20 11:33] kh-nasser opened #26795 "calculating "MultipartBodyLengthLimit" quota in byte"
hello there, in [upload document](https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/mvc/models/file-uploads.md#multipart-body-length-limit-1) Multipart Body Length Limit is set to 268435456 byte (which is 2 raised to power of 28) and added a snippet and comment which I am quoted in bellow:

`services.AddRazorPages(options => { options.Conventions .AddPageApplicationModelConvention("/F

[2022-08-20 16:32] guardrex commented on #26795
We don't use the IEC **_naming_** under IEEE 1541 ("MiB"), but we do use the **_calculation_** based on powers of two. You'll find this convention throughout the framework and the documentation.

[2022-08-20 20:09] kh-nasser commented on #26795
Thank you for your response

[2022-08-20 20:09] #26795 closed

[2022-08-20 20:14] mm1nIPOVdDsu opened #26796 "Kestrel IPC source missing"
Only the csproj exists in the examples:

https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/grpc/interprocess

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583bb8dd-b80f-763e-4b84-1b0d2f4e823d
* Version Independent ID: 3d706460-ea6a-59f2-05d7-8a3c9f02e211
* Content: [Inter-process communication with gRPC](

[2022-08-22 00:33] Rick-Anderson commented on #26685
@brunolins16 please review. When should we start the documentation?

[2022-08-22 01:17] Tommigun1980 commented on #13144
It's quite incredible that the response from Microsoft was that "they'll have to think about it". Think about it, years after release? This is such a common case that it's incredible it wasn't thought about when the framework was made. Like... how can you miss adding any kind of mechanism for expiring tokens? I'm so glad I stopped using these kinds of Microsoft products, I was naive enough to thin

[2022-08-22 04:38] the-programmer opened #26797 "IdentityServer4 eol"
According to the support page identity server 4 seems to be (almost) EOL.

Source: https://docs.identityserver.io/en/latest/index.html

To be honest I am not sure if it's just the link and description that are wrong (since, if I recall correctly the scaffolding will result in the identity server from duende software.

But at any rate, I think it would be good to update the documentation.

---
####

[2022-08-22 15:20] guardrex opened #26798 "Add a new JS interop scenario"
Per https://github.com/dotnet/aspnetcore/issues/43367#issuecomment-1220496956.

**UPDATE (8/23)**: Need to hold for a sec. I think we already have the requested coverage at ...

**Component instance .NET method helper class**
https://docs.microsoft.com/aspnet/core/blazor/javascript-interoperability/call-dotnet-from-javascript#component-instance-net-method-helper-class

I'm waiting to hear back if

[2022-08-22 17:53] #26571 closed

[2022-08-22 18:07] wadepickett commented on #26796
Could use the full app sample here.  The code snippets are inline to the topic as opposed to in a sample project and pulled in.

[2022-08-22 19:00] Rick-Anderson opened #26800 ".NET 7: Migrate from 6 to 7"
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e9669d35-3de1-997d-258c-745ebbdbface
* Version Independent ID: e9669d35-3de1-997d-258c-745ebbdbface
* Content: [Migrate from ASP.NET Core 6.0 to 7.0](https://learn.microsoft.com/en-us/aspnet/core/migration/60-70?view=aspnetcore-7.0&tabs=visual-studio)
* Content Source: [as

[2022-08-22 19:01] Rick-Anderson commented on #26800
@tdykstra can you take this?

[2022-08-22 19:04] Rick-Anderson commented on #26797
Replace with [Duende IdentityServer](https://docs.duendesoftware.com/identityserver/v6)

[2022-08-22 19:54] #26796 closed

[2022-08-22 20:22] fiyazbinhasan commented on #26699
@Rick-Anderson we can close this

[2022-08-22 21:42] tdykstra commented on #26800
What or where are the sources?

[2022-08-22 23:55] #26699 closed

[2022-08-23 05:38] Ducki opened #26804 ""Inspect the Razor C# class generated for a view" obsolete for current versions"
The section _"Inspect the Razor C# class generated for a view"_ is obsolete in current versions, since the generated views are not emitted by default anymore. There is no comment about manually enabling the output of the artifacts (e.g. described [in this blog post here](https://andrewlock.net/creating-a-source-generator-part-6-saving-source-generator-output-in-source-control/)).

---
#### Documen

[2022-08-23 09:08] acvila-de-munte opened #26805 "Unsubscribe from events"
Hello :)
I have a question about hub connection events. In case I subscribe for example to the closed event, do I need to unsubscribe to avoid memory leaks, or does this happen when connection is disposed?
Thank you
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9bc1072-be2c-94f6-49bf-daa9e97dff2d
* Version Ind

[2022-08-23 09:39] programatix commented on #8244
It this ```UseGenericResources``` property part of ASP.NET Core? It's not available for me to use.

[2022-08-23 09:45] programatix opened #26806 "Is the article "Localization & Generics" linked in the page still valid?"
Is the article "Localization & Generics" linked in the page still valid? The link is http://hishambinateya.com/localization-and-generics. It talked about ```UseGenericResources``` property in ```LocalizationOptions```. However, the ```LocalizationOptions``` that come with ```Microsoft.Extensions.Localization (6.0.0.0)``` does not contain that property.

And yes, I'm having issue with localization

[2022-08-23 14:31] hishamco commented on #8244
Nope

[2022-08-23 16:53] wadepickett commented on #26707
Closing.  If you feel this issue should be reopened, feel free to do so.

[2022-08-23 16:53] #26707 closed

[2022-08-23 16:58] wadepickett commented on #26637
Closing this issue.  If you feel it should be reopened, feel free to do so.

[2022-08-23 16:58] #26637 closed

[2022-08-23 17:13] wadepickett commented on #20886
Closing issue.  Feel free to reopen if needed.

[2022-08-23 17:13] #20886 closed

[2022-08-23 17:25] #26439 closed

[2022-08-23 19:05] Rick-Anderson commented on #26806
@hishamco please review

[2022-08-24 01:34] wadepickett opened #26812 "Websockets support in ASP.NET Core: Update sample to 7.0 including controller updates with HttpConnect attribute"
The Websockets support in ASP.NET Core topic needs an update for a 7.0 app sample version and a fix for its controllers so that it is Http/2 compatible.

Per @BrennanConroy

To fix controllers in the sample we would need something like:
[code]

[2022-08-24 01:47] programatix commented on #26806
The discussion/blog/article at http://www.hishambinateya.com/localization-and-generics is good. It explained what happened and how to "_resolve_" it. However, the issue is, the "_solution_" provided require modification to ASP.NET Core itself. This is not an average developer can do. Furthermore, it would require a fork.

At the very least, it should describe how to actually resolve it by perhaps

[2022-08-24 03:20] bxjg1987 opened #26813 "Use a flag to prevent multiple concurrent operations Is it safe?"
1、![image](https://user-images.githubusercontent.com/39435771/186315383-e4e49bac-89de-46b5-9520-022d83601176.png)
Should I use lock?

2、I have seen owningcomponentbase and understand its usage.

If dbcontext is injected into a service, will owningcomponentbase release the dbcontext inside the dependent service at the end of the component life cycle?

3、
Will “OwningComponentBase<T1,T2,T3,T4...>” b

[2022-08-24 04:08] jesal-bhowmick opened #26814 "useful"
code samples are useful to see and understand the concept

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9b9859c-b83c-5fc3-41d5-15531232185f
* Version Independent ID: 5438de31-8562-3747-d1a5-2a4622252fc1
* Content: [Part 7, add search to an ASP.NET Core MVC app](https://docs.microsoft.com/en-us/aspnet/core/tutorials/f

[2022-08-24 04:14] Rick-Anderson commented on #26814
Thanks

[2022-08-24 04:14] #26814 closed

[2022-08-24 06:26] hishamco commented on #26806
Sorry I was totally busy nowadays coz I'm moving to a new house, regarding your concern I'm agree that changing to localization APIs is not a good solution, but you could register your own `LocalizationOptions` class this way no need to change anything

FYI I wrote that at the time of working on localization APIs just to show that you use generic resource

[2022-08-24 08:43] guardrex commented on #26813
Ping @JeremyLikness for comment.

[2022-08-24 15:32] BrennanConroy commented on #26812
I filed a product issue to see if we want to provide that type in the framework.
https://github.com/dotnet/aspnetcore/issues/43501

[2022-08-24 16:12] guardrex commented on #26813
Thanks @JeremyLikness ... I'll add that using your language with only minor grammar/style updates.

Thanks @bxjg1987 ... Thanks for asking. Leave this issue open. It will close automatically when the PR merges later.

[2022-08-24 17:18] #26813 closed

[2022-08-24 17:24] brunolins16 commented on #26685
@sammychinedu2ky The issue is related to something different. Can you share your example? I very weird because the `ProblemDetailsContext` should not be marked as obsolete.

[2022-08-24 17:30] sammychinedu2ky commented on #26685
This code below raises the error
`if (context.RequestServices.GetService<IProblemDetailsService>() is { } problemDetailsService)
{
     problemDetailsService.WriteAsync((new { HttpContext = context }););
}`

The error I get is :
`Argument 1: cannot convert from '<anonymous type: Microsoft.AspNetCore.Http.HttpContext HttpContext>' to 'Microsoft.AspNetCore.Http.ProblemDetailsContext' `

[2022-08-24 17:33] brunolins16 commented on #26685
Is there a typo in your comment or it is exactly the code your are using? I am asking because it seems to have some addition parentheses

[code]

[2022-08-24 17:40] sammychinedu2ky commented on #26685
ooh sorry, this actually|
`problemDetailsService.WriteAsync(new { HttpContext = context });`

[2022-08-24 17:41] brunolins16 commented on #26685
So this code `problemDetailsService.WriteAsync(new { HttpContext = context });` is not compiling? Are you using .NET 7 Preview 7?

[2022-08-24 17:44] sammychinedu2ky commented on #26685
I'm using this @brunolins16
`Version:   7.0.100-preview.7.22377.5`

[2022-08-24 18:24] brunolins16 commented on #26685
@sammychinedu2ky  I just tried, and it looks like some compiler configuration because I can build the same code in _**aspnetcore**_ repo but not outside. However, I was able to build this without the obsolete error warning:

[code]

[2022-08-24 18:44] brunolins16 commented on #26685
@sammychinedu2ky  actually the blog post missed a parentheses, it should be:

[code]

[2022-08-24 19:07] sammychinedu2ky commented on #26685
thanks, @brunolins16 .
I tried restarting my system and added the parenthesis. but I still get the error below
`ProblemDetailsContext.ProblemDetailsContext()' is obsolete: 'Constructors of types with required members are not supported in this version of your compiler.' `
Please is there a step I'm missing for the compiler to work properly

[2022-08-24 19:11] brunolins16 commented on #26685
Look like it is complaining about the [Required Property](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/required). Can you share a simple repro? I can try to understand what you are missing.

[2022-08-24 19:13] sammychinedu2ky commented on #26685
When I check class definition I see this
`namespace Microsoft.AspNetCore.Http
{
    //
    // Summary:
    //     Represent the current problem details context for the request.
    [RequiredMember]
    public sealed class ProblemDetailsContext
    {
        [CompilerFeatureRequired("RequiredMembers")]
        [Obsolete("Constructors of types with required members are not supported in this version

[2022-08-24 19:14] brunolins16 commented on #26685
I think that is expected when the `required` is used.

[2022-08-24 19:17] sammychinedu2ky commented on #26685
but the constructor is marked as obsolete.

[2022-08-24 19:29] brunolins16 commented on #26685
I think the latest compilers handle this.

[2022-08-24 19:53] sammychinedu2ky commented on #26685
alright thanks .. would be waiting for it

[2022-08-24 19:54] Rick-Anderson commented on #26685
@sammychinedu2ky  go with Bruno's recommendation. If you like, create an issue to track this.

[2022-08-24 20:00] sammychinedu2ky commented on #26685
Thanks @Rick-Anderson , I took note of his recommendations but still got the same issue, he said the latest compiler would fix it.

[2022-08-24 20:04] brunolins16 commented on #26685
The weird thing is that you should be in the latest compiler version, right? Because i cannot repro here. Can you share your csproj? Or a github Repo?

[2022-08-24 20:08] sammychinedu2ky commented on #26685
here is a sample repo @brunolins16
https://github.com/sammychinedu2ky/problemdetails.git

[2022-08-24 20:09] sammychinedu2ky commented on #26685
![image](https://user-images.githubusercontent.com/36219292/186513520-6f5739a6-720c-4e7c-a917-c1adb1d0dade.png)

Currently that is the issue I'm having

[2022-08-24 20:24] brunolins16 commented on #26685
I cloned your repo and it is building correctly? It looks like you have something misconfigured on your side. Can you try run `dotnet build -bl` and share the `msbuild.binlog` file with me?

[2022-08-24 20:27] sammychinedu2ky commented on #26685
okay, have made an update , the new recent commit has the msbuild.binlog file https://github.com/sammychinedu2ky/problemdetails.git

[2022-08-24 20:32] brunolins16 commented on #26685
@sammychinedu2ky is it building successfully? It that just about the red squiggly?

[2022-08-24 20:34] sammychinedu2ky commented on #26685
ooh I'm sorry it is building successfully, it is just the squiggly sign.

[2022-08-24 20:35] sammychinedu2ky commented on #26685
seems its from Omni sharp. please is there a reference you have for the dotnet build -bl command, as I don't understand what it is for. I could read up and learn about it @brunolins16

[2022-08-24 20:38] brunolins16 commented on #26685
Are you using VS Code? Maybe the extensions is not updated yet, not sure about it.

[2022-08-24 20:39] brunolins16 commented on #26685
I was not able to find where it is documented but I recommend you look at the MSBuild Log Viewer for help https://msbuildlog.com/

[2022-08-24 20:41] sammychinedu2ky commented on #26685
yh I'm using updated extensions in Vscode and my Omnisharp seems not to support it for some reason ( maybe it is using the old compiler)

[2022-08-24 20:42] sammychinedu2ky commented on #26685
thanks

[2022-08-24 22:22] bcons009 commented on #26748
Hi. This is the simple repo with @alexisconsuegra 's issue: https://github.com/bcons009/netcore-demo5

[2022-08-25 00:18] Rick-Anderson opened #26818 "Return multiple result types from minimal APIs"
[Return multiple result types from minimal APIs](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-4/#return-multiple-result-types-from-minimal-apis)

[code issue](https://github.com/dotnet/AspNetCore.Docs.Samples/issues/77)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b09824ab-b051-75a1-

[2022-08-25 00:59] Rick-Anderson opened #26819 "Route groups"
[Route groups](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-4/#route-groups)

Probably do this in multiple PR's

- [x] Update this intro tutorial using sample code for a basic scenario
- [ ] sample code for more advanced scenarios
- [ ] Update [Minimal APIs overview](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/minimal-apis?view=aspnetcore-7.0) and [W

[2022-08-25 01:27] Rick-Anderson commented on #26540
@martincostello  do you have an ETA on when you'll be able to write this sample? If possible, use a variation of [todoitems](https://docs.microsoft.com/en-us/aspnet/core/tutorials/min-web-api)

[2022-08-25 01:47] Rick-Anderson opened #26821 "IFormFile"
- [ ] Update doc with [IFormFile and IFormFileCollection Support](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-net-7-preview-1/#iformfile-and-iformfilecollection-support)
- [ ] Update what's new

Code merged with #26494

 See also [test sample](https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/fundamentals/minimal-apis/samples/IFormFile/Program.cs)

---
#### Document

[2022-08-25 02:12] Rick-Anderson commented on #26683
@martincostello  can you update the code from #26494 to use authenticated requests?

[2022-08-25 03:27] fiyazbinhasan commented on #26819
Sure. I would like to do that :)

[2022-08-25 07:21] Engincode commented on #23864
I found the solution. [](http://www.engincode.com/-solved-visual-studio-2022-hot-reload-not-working-xamarin-forms-xaml)

[2022-08-25 08:56] hv0905 opened #26824 "The proxy-load-balancer page is outdated."
In section [Forward the scheme for Linux and non-IIS reverse proxies](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-6.0#forward-the-scheme-for-linux-and-non-iis-reverse-proxies), it said that to use forward header middleware, I have to add and configure it manually.

However, according to [dev blog](https://devblogs.microsoft.com/dotnet/forwarded-

[2022-08-25 12:22] guardrex commented on #26739
I took another look at this, and I'm going to try and reach out (internally) to see if my hunch is correct. I'm pitching that we merely clean up the confusing language by changing the remark to ...

However, the API docs probably won't change. I think what they say is correct given the way that these message handlers process the tokens and requests/responses internally. That's not too important fo

[2022-08-25 13:17] chrisleadbeater opened #26826 "Secret manager - link to a production how to document"
This is a good document but I'm wondering how to do this in production?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c99993c-c983-6fda-6c3a-ce4ec8c1d5db
* Version Independent ID: ba688ac2-e90e-fce5-f60d-40c2553c3efd
* Content: [Safe storage of app secrets in development in ASP.NET Core](https://docs.microso

[2022-08-25 16:16] martincostello commented on #26540
Sorry for the delay with this - been quite busy with other things at the moment to get around to this. I'll aim to get you something for that other repo by the end of next week.

[2022-08-25 16:21] martincostello commented on #26683
Might that get a bit scope-creepy having to configure a whole app's worth of auth stuff into a non-auth sample to just go _"oh, and it works in that context too now"_?

It's not really relevant to the file upload functionality in of itself other than before preview 1 it was actively blocked as the security-concerns hadn't been addressed at that point.

Feels to me it's equivalent to if there was a

[2022-08-25 17:18] Ducki commented on #26826
In production you would probably use (depending on your way of deployment) [environment variables](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-6.0) or a central key vault (something like [Vault](https://www.hashicorp.com/products/vault) or [Azure Key Vault](https://azure.microsoft.com/en-us/services/key-vault/) to communicate secrets (like database conn

[2022-08-25 17:31] chrisleadbeater commented on #26826
Hi Alexander.

I did eventually decide on encrypting/decrypting the connection string password. We are on-premises with Oracle as the database so options are limited and we need the password to be in the application files.

Would have been nice to see at least a mention of various other scenarios, at the high level at least, in this page though.

Thanks for the reply.
Chris

From: Alexander Wicht

[2022-08-25 17:39] guardrex opened #26828 "Place code in the repo to resolve a sample build failure"
Code for the tutorial components must be placed into the repo for some of the examples because the sample apps at `dotnet/blazor-samples` 💥 on build with duplicate routes. It will be ok to keep the **_final, finished component_** in the sample apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23f2cad2-31f9-d5d1-671c

[2022-08-25 18:09] Rick-Anderson commented on #26824
@Tratcher please review

[2022-08-25 18:10] Rick-Anderson commented on #26683
@martincostello do you think if we just say authenticated requests are supported, that's enough?

[2022-08-25 18:13] Rick-Anderson commented on #26826
Per the first paragraph of the article

`Never store passwords or other sensitive data in source code. `

[2022-08-25 18:13] #26826 closed

[2022-08-25 18:30] #26828 closed

[2022-08-25 19:08] martincostello commented on #26683
Maybe just something that points the user to consider whether they would also need to incorporate anti-forgery like in the blog post?

[2022-08-25 20:10] jwisener commented on #16422
Why is the documentation so fragmented and hard to follow? I too had to dig into the xml code comments of the various libraries to try and understand why the example provided would not work.  The only thing I can think is that the people creating the documentation don't understand how it's supposed to work. Or it's a reflection of the communication from the team to the tech writers, aka "you only

[2022-08-25 21:00] Tratcher commented on #26824
That's correct, but needs a warning. The settings enabled by that flag are designed for cloud environments and they do not enable features such as the KnownProxies option to restrict which IPs  forwarders are accepted from.

[2022-08-25 22:30] Rick-Anderson commented on #26683
If I use JWT like [this sample](https://github.com/dotnet/AspNetCore.Docs.Samples/blob/main/fundamentals/middleware/rate-limit/WebRateLimitAuth/Program.cs#L383-L451) it one short file. But even that doesn't seem worth doing.

Agreed, I'll do that.

[2022-08-26 09:22] MarkMcDonald opened #26832 "Missing information about nuget packages require, missing types."
I'm trying to follow this document and examples to add URL rewriting to a small dotnet 6 web app. I think it possible missing being explicit about what nuget packages it is importing or are required - because for the RewriteRules namespace does not exist and I can't find any matching types for MethodRules or RedirectImageRequests.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-08-26 09:48] BernhardHofmannAtDwellant opened #26833 "Typo: "broswer" should be "browser""
The title says it all. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 542f38c4-1502-f739-372a-80c86c377491
* Version Independent ID: 72c2a844-ffb2-4799-2c7a-a7a73d3b6833
* Content: [ASP.NET Core Blazor hosting models](https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-6.0)
* Content S

[2022-08-26 09:53] guardrex commented on #26833
Thanks @BernhardHofmannAtDwellant ... I'll patch that now.

[2022-08-26 09:57] MarkMcDonald opened #26834 "AddIISUrlRewrite - Condition must have an associated match / .NET Framework URL Rewrite equivalence."
# Issue description

I'm migrating a small web app, in particular trying to migrate the existing URL Rewrite rules. It isn't clear if the dotnet 6 .AddIISUrlRewrite should have directly equivalent processing as the Rewrite module in .NET Framework - but I encountered an instance where it doesn't so I though I would flag.

On migrating an existing set of IIS Rewrite rule from a working .NET Framewo

[2022-08-26 10:00] #26833 closed

[2022-08-26 10:02] MarkMcDonald commented on #26834
Even removing this rule we also get other errors based on previously working URL Rewrite rules:

System.FormatException
  HResult=0x80131537
  Message=Unrecognized parameter type: 'HTTP_METHOD', terminated at string index: '12'
  Source=Microsoft.AspNetCore.Rewrite
  StackTrace:
   at Microsoft.AspNetCore.Rewrite.IISUrlRewrite.ServerVariables.FindServerVariable(String serverVariable, ParserContext

[2022-08-26 11:38] renkaifei opened #26837 "big string about 300k , memory increase very high"
string about 300k , 10/ sec。 return using signalr. Memory increase very high.

[2022-08-26 11:45] #26458 closed

[2022-08-26 11:55] #26798 closed

[2022-08-26 12:18] neumn opened #26839 "Title is confusing."
Good article, but the title is confusing.
It should be
Enable Cross-Origin Resource Sharing (CORS) in ASP.NET Core

It made me look for a potential subtle difference between Cross-Origin Resource Sharing and Cross-Origin Requests, which there wasn't.

Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59bca5db-1196

[2022-08-26 12:25] guardrex commented on #26837
Hello @renkaifei ... Please re-open this issue using the **This page** feedback button and form at the bottom of the **English-US** topic. Use of the **This page** feedback form adds metadata to your GitHub issue that cross-links the topic and automatically pings the author.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dad

[2022-08-26 12:25] #26837 closed

[2022-08-26 14:13] P3truts opened #26840 "Movie class unrecognized"
After I changed the Movie.cs file, the Movie class was unrecognized in the namespace. If I added a new class, as long as the code was still the old one, it worked. I already had automatically the validations from before so perhaps this tutorial needs to be updated?

[https://imgur.com/a/auhHSwz](url)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-08-26 18:46] #26824 closed

[2022-08-26 21:04] Rick-Anderson commented on #26839
That is the title

[2022-08-26 21:04] #26839 closed

[2022-08-26 21:04] #26840 closed

[2022-08-26 21:05] #26832 closed

[2022-08-26 21:49] rheywood75 opened #26843 "Please review content for compatibility with .net 6"
I think some of this content need to be reviewed for compatibility with .net 6.  UseWindowsService() was throwing a not supported exception for me.  A couple other posts helped me work around the issue.

https://stackoverflow.com/questions/72932609/net-6-usewindowsservice-throws-exception
https://stackoverflow.com/questions/70571849/host-asp-net-6-in-a-windows-service

[Enter feedback here]

---
#

[2022-08-26 21:58] Rick-Anderson commented on #26843
The [included sample](https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/host-and-deploy/windows-service/samples/6.x/WebAppServiceSample/Program.cs#L15) doesn't throw.

[2022-08-27 00:31] Rick-Anderson opened #26845 "Improved HTTP/2 performance when using many streams on a connection"
[Improved HTTP/2 performance when using many streams on a connection](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-3/#improved-http-2-performance-when-using-many-streams-on-a-connection)

[2022-08-27 00:34] Rick-Anderson opened #26846 "New ServerReady event for measuring startup time"
[New ServerReady event for measuring startup time](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-3/#new-serverready-event-for-measuring-startup-time)

[2022-08-27 01:10] nssidhu opened #26848 "How do add Reference to the Script files that are required by Nuget Package ?"
I have created Razor Class Library that is using third party Nuget package.
https://github.com/sabitertan/BlazorBarcodeScanner

I now want to consume this library in my MAUIBlazor project.

BlazorBarcodeScanner library requires that I  add the reference to the following script in index.html
[code]

So in my MAU Blazor project(which is consuming Razor class Library), after adding project reference

[2022-08-27 03:56] #26846 closed

[2022-08-27 07:55] guardrex commented on #26848
Hello @nssidhu ... Did you try adding the `_content/BlazorBarcodeScanner.ZXing.JS/...` BlazorBarcodeScanner library script references directly to the MAUI-Blazor project's `index.html` file?

[2022-08-27 08:22] #26667 closed

[2022-08-27 12:22] nssidhu commented on #26848
Yes, that works. Can you update the document that when referencing the Libraries from Nuget package the way to reference is same as we would do when referencing it locally in the project and that article only applies to custom scripts and css in Razor Class Library ?

[2022-08-27 12:22] #26848 closed

[2022-08-27 12:45] nssidhu commented on #26186
Please also include the following scenarios in you document.
1. When RCL is using Nuget Package, the way to reference Script & CSS Files in MAUI Project(or consuming projecct) is unchanged, It should be referenced as if you would when including Nuget you local Web Assembly project and that the special way to reference script/css only applies to custom script and css files being created in RCL Proj

[2022-08-27 15:56] hcprobst opened #26853 "Create scaffolding with views does not work"
[Enter feedback here]

I've tried this multiple times with the MVCMovie tutorial project and several of my own projects and always get the error
"Object reference not set to an instance of an object".

Is the issue with the scaffolding generator because it never works. for me.

I was able to get it to work using the read/write option but not using the framework option so the views were not generat

[2022-08-27 16:16] guardrex commented on #26848
Yes ... I'm going to cross-link this to my PR over there and leave the email ping on this in my Inbox. I'll also check the Blazor class library topic to make sure that we have coverage in both topics for this scenario. I'll take care of it first thing Monday morning.

[2022-08-28 03:22] Rick-Anderson commented on #26853
For Visual Studio, use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) gesture or [Suggest a Feature](https://docs.microsoft.com/visualstudio/ide/suggest-a-feature?view=vs-2019) gesture within VS, which open internal issues for the VS team. For Visual Studio Code, you can open an issue at [microsoft/vscode issues](https://github.com/Mi

[2022-08-28 03:22] #26853 closed

[2022-08-28 12:12] pmdci opened #26855 "Missing nuget.org"
Got stuck in this tutorial because the default nuget.org package source didn't exist. Had to look into here how to manually create it: https://developercommunity.visualstudio.com/t/missing-default-nuget-package-source/1453751

I suggest updating the tutorial with a link to a proper documentation on how to eithe rinitialise or manually create the nuget.org entry.

---
#### Document Details

⚠ *Do n

[2022-08-28 17:36] Rick-Anderson commented on #26855
What NuGet package doesn't exist?

[2022-08-28 17:36] #26855 closed

[2022-08-28 17:39] pmdci commented on #26855
I said PACKAGE SOURCE, not package. It means the repository buit I am using the exact term Visual Studio UI uses.

The link I provided covers the issue in detail.

[2022-08-28 19:35] pmdci commented on #26855
@Rick-Anderson Why is this closed if you tagged as "needs-more-info"?

[2022-08-28 22:36] qplace1 opened #26856 "As a guide on how to install Blazor Webassembly Hosted App in IIS - this document is a huge disappointment. No, actually it is a disaster"
To say that this doc is a disservice for a developer is an understatement. I have a basic Blazor Webassembly hosted solution that I need to install on IIS. Please tell me what steps do you want me to follow? Nothing fancy, nothing specific...
Step 1.
Step 2..
etc.
Instead I am getting a sequence of unclear paragraphs without referencing Bl.WASM hosted solution. What am I suppose to do...
SAD.
[Ent

[2022-08-28 23:02] guardrex commented on #26856
Hello @qplace1 ... A hosted WASM app is just a plain old ASP.NET Core app as far as IIS hosting guidance is concerned, unless there are special circumstances (e.g., sub-app hosting, multiple WASM hosted apps, and a few other special cases). I just cleaned up the current guidance in the overview article ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/webassembly?view=aspnet

[2022-08-28 23:02] #26856 closed

[2022-08-28 23:07] guardrex commented on #26856
That was quick 🏃‍♂️ ... there are low demands on the build system on the weekend like this. That updated coverage is at ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/?view=aspnetcore-6.0&tabs=visual-studio#iis

[2022-08-28 23:15] guardrex commented on #26856
Actually, I think I'll add a line for WASM to that new bullet list in the overview. I just put it up on ...

https://github.com/dotnet/AspNetCore.Docs/pull/26857

After I merge that to `main`, I'll take it live immediately, so you'll see the final structure of the content shortly.

[2022-08-29 00:35] Rick-Anderson commented on #26855
[Microsoft.EntityFrameworkCore.Design isavailable.](https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Design/)

[2022-08-29 06:35] pmdci commented on #26855
@Rick-Anderson
Once again: This tutorial is missing steps if a person has never ran NuGet before.

A person might not know how to open the package manager command prompt, and might be unaware of the steps to do to ensure tha tthe NuGuet.org becomes available.

[2022-08-29 09:50] DianaKoenraadt opened #26859 "dev-cert with custom url"
# Issue description

I'd like to instruct `dev-certs` that I'm not approaching the application at 'localhost' but at 'develop.mydomain.com'. How can I do this? I've seen hacky solutions online where I have to modify my code depending on whether it's running in Development or Production but I'd rather not make that a concern of my code.

# Software versions

Check the .NET target framework(s) being

[2022-08-29 10:31] guardrex commented on #26859
Please re-open this issue using the **This page** feedback button and form at the bottom of the **English-US** topic ...

https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl

Use of the **This page** feedback form adds metadata to your GitHub issue that cross-links the topic and automatically pings the author.

<img width="404" alt="Capture" src="https://user-images.githubuserconte

[2022-08-29 10:31] #26859 closed

[2022-08-29 12:40] #26739 closed

[2022-08-29 12:45] JefSchraag opened #26862 ""Detect when a Blazor Server app is prerendering" is not very clear"
The paragraph "Detect when a Blazor Server app is prerendering" contains examples and a various warnings and notes about the examples but it does not give a clear answer on how to actually detect _prerendering_.

It would be helpful to add a bit more _prerendering_ specific text to this sentence:

For example, add this line from the component lifecycle page:

[OnAfterRender](https://docs.microsoft

[2022-08-29 13:00] guardrex commented on #25822
**_UPDATE (8/29)_**: I'm checking now to see if Steve has a sec to look at this. We might be able to find out quickly if your proposal should be pursued. We might work this later in the year tho. Let's see if he has time to look 🏃😅.

[2022-08-29 13:44] martincostello commented on #26540
https://github.com/dotnet/AspNetCore.Docs.Samples/pull/26

[2022-08-29 21:15] Perustaja opened #26864 ".NET 5.0 SPA showcase uses improper angular command"
The article acts as though both SPA apps have IdentityServer in them. Based on [this page](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new-sdk-templates#spa) the angular template command is wrong and should go from

```dotnet new angular -o <output_directory_name>```
to
```dotnet new angular -o <output_directory_name> -au Individual```

Looks like it is wrong for net3.1 as well and p

[2022-08-29 21:56] Rick-Anderson commented on #26855
We have several million users who've successfully completed it that would disagree.

[2022-08-29 22:36] Rick-Anderson commented on #26748
@alexisconsuegra  I create an ASP.NET Core MVC project with individual user accounts using .NET 6, then I updated the project settings with the following:
[code]
And it worked as expected. F12 tools shows it's using Bootstrap4

[2022-08-30 02:55] alexisconsuegra commented on #26748
I guess the work around only works in localhost. FYI. Locally works for me too, but not in the hosted enviroment.

[2022-08-30 03:06] Rick-Anderson commented on #26748
https://webbootstrap44.azurewebsites.net/
Works fine deployed too.

[2022-08-30 07:43] pmdci commented on #26855
@Rick-Anderson And they they all ran this tutorial right after installing VS for the first time, and then came here to tell you that they successfuly completed the tutorial, yes?

[2022-08-30 08:05] pmdci commented on #26855
@Rick-Anderson "Several million",  do you? And they they all ran this tutorial right after installing VS for the first time, and came here to tell you that they successfuly completed the tutorial, yes? Microsoft's QA at its best.

It is a FACT that in some fresh installs of VS nuget.org might not be available as a source. (Google it) All I did was to point this out, and suggest a paragraph explain

[2022-08-30 11:10] tomap commented on #7814
Stackexchange.redis started working on adding ssubscribe, spublish, ... New in redis 7
This could allow redis SignalR scale out support
https://github.com/StackExchange/StackExchange.Redis/issues/2055

I know this is a closed doc issue, but if someone could point me to where to create a new issue to follow this work on the redis client side & and pickup from there on SignalR side, that would be aw

[2022-08-30 11:29] #26862 closed

[2022-08-30 13:35] KurtP20 opened #26873 "Show example that uses DbFactory"
[Update by guardrex to change the metadata.]

Could you please add an example where Identity uses a `DbFactory` instead of the `DbContext`? Using a factory is the recommended way in EF Core >5.0, see [link1](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-5.0/whatsnew#dbcontextfactory), [link2](https://docs.microsoft.com/en-us/ef/core/dbcontext-configuration/#using-a-dbcontext-factory

[2022-08-30 15:38] guardrex commented on #26873
Hello @KurtP20 ... I'll take this. We're working most of the Blazor content into the Blazor docs node, so anything having to do with EFCore and Blazor will be taken care of there, especially since services in Blazor apps are bit different than in normal ASP.NET Core apps.

[2022-08-30 15:52] guardrex commented on #26873
Quick reaction ... gotta get some 🍗 ... I just walked in the door from the 🏋️‍♂️ gym where I ran a respectable 800 calories off on the treadmill ... trying to drop the *Pandemic Poundage!&trade;* 🤣

Did you see the *New DbContext instances* section at ...

https://docs.microsoft.com/aspnet/core/blazor/blazor-server-ef-core#new-dbcontext-instances

... in the Blazor-EFCore doc?

Furthermore, did yo

[2022-08-30 16:05] guardrex commented on #26873
btw -- Even if the content there (perhaps along with the sample app for that topic) cover it, **_leave this issue open_**. I see a problem in that section. It doesn't show/explain the actual injection of the factory piece. I'd like to show ...

[code]

... and the text does say what `Wrapper` is and cross-links to the sample app. However, it would be easier/faster to consume the example in the sec

[2022-08-30 17:20] #26497 closed

[2022-08-30 17:50] Rick-Anderson commented on #7814
@tomap  at the bottom of [this page](https://docs.microsoft.com/en-us/aspnet/core/signalr/introduction)
<img width="231" alt="image" src="https://user-images.githubusercontent.com/3605364/187507968-bbe526b3-133e-4ec0-ab0a-e1c99324467f.png">

[2022-08-30 22:19] #26515 closed

[2022-08-30 22:46] Rick-Anderson commented on #26864
It's correct in [the .NET 6 version](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-6.0#create-an-app-with-api-authorization-support).

Thanks for reporting this. Any chance you could PR this? At the top right of the article, select the Edit pen icon:

![image](https://user-images.githubusercontent.com/3605364/53368931-11972200-38ee-

[2022-08-31 07:39] KurtP20 commented on #26873
Hi Luke, so you are saying that office is better than home office in terms of 🏋️ 😉

Your first link suggests to use `new DbContext` but it also recommends to use a factory instead. Since I inject the `UserManager`, I would not know how to tell `UserManager` to use the `DbContext` I created with `new` or via factory.

I was also aware of the last sentence in your second link

but honestly I don't u

[2022-08-31 11:37] #26873 closed

[2022-08-31 14:24] Korporal opened #26886 "Please include screenshots"
The examples and explanatory text are insufficient. The simple examples should be accompanied by some screenshots showing how a default Blazor Server app created from the template, looks as and when the various changes are made and exceptions are thrown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adbc1392-92dc-c42e

[2022-08-31 14:44] vladboss61 commented on #25977
Does it work without IIS Express settings in the launchsettings.json ?

[2022-08-31 14:56] guardrex commented on #26886
Hello @Korporal ... We avoid that *by-design* because we don't have the staffing to keep the images current under the rapid churn of the framework. In particular, VS and the Azure portal are the most challenging to keep up with. Also, app styles change  frequently in the project templates. On those grounds, we won't be able to include screenshots. One would just implement the examples as shown in

[2022-08-31 14:56] #26886 closed

[2022-08-31 16:13] Korporal commented on #26886
While I can understand that challenge, it does leave a problem. Because we don't know what to actually expect to _see_ we can't bs sure we are achieving what what we think we are achieving.

[2022-08-31 16:48] guardrex commented on #26886
In most cases, devs can trigger exceptions on purpose for anything that they aren't sure about. In the simpler cases where fragments of markup (`RenderFragment` to be exact) are rendered, it's obvious what will display, except perhaps with styling applied from the default stylesheet.

We don't have the staffing to keep up with images if they aren't critical. To put that into context, there are ove

[2022-08-31 16:53] Korporal commented on #26886
@guardrex - Thanks, I appreciate the helpful explanation, that sounds like a great deal of work! Good luck!

[2022-08-31 17:59] mvsrinivasan opened #26887 "Is there a missing document?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb96b20f-0991-d6de-4d98-192cd469460f
* Version Independent ID: bb96b20f-0991-d6de-4d98-192cd469460f
* Content: [Rate limiting middleware in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/performance/rate-limit?view=aspnetcore-6.0)
* Conten

[2022-08-31 18:18] Rick-Anderson commented on #26887
Only available in .NET 7, use the version selector.

[2022-08-31 18:23] #26887 closed

[2022-08-31 18:50] guardrex commented on #26164
The NOTE can be removed now per https://github.com/dotnet/maui/issues/9777.

[2022-08-31 19:03] #26164 closed

[2022-08-31 19:50] teremy opened #26893 "Meaning of valid cookie"
I don't understand what a valid cookie is and specifically I don't get this part:

What I am trying to do is authenticating a user using his credentials, then create a cookie with a session ID and use that session ID to validate further requests by the user. So to my understanding the cookie/session ID has to **always** be validated.

Can you help me understand this?

---
#### Document Details

⚠

[2022-08-31 20:29] Rick-Anderson commented on #26893
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2022-08-31 20:29] #26893 closed

[2022-08-31 20:33] #26843 closed

[2022-09-01 02:04] freeborn5 opened #26896 "Unable to connect to web server 'SignalRWebpack."
When I run it with out debug I get the following message...

Unable to connect to web server 'SignalRWebpack.  The web server is no longer running

<details>
<summary><strong>dotnet --info output</strong> or <strong>About VS info</strong></summary>

[code]
</details>

[2022-09-01 09:56] guardrex commented on #26896
Hello @freeborn5 ... Please re-open this issue using the **This page** feedback button and form at the bottom of the **English-US** topic. Use of the **This page** feedback form adds metadata to your GitHub issue that cross-links the topic and automatically pings the author.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dad

[2022-09-01 09:56] #26896 closed

[2022-09-01 12:13] #26385 closed

[2022-09-01 12:26] SteveSandersonMS commented on #25822
@guardrex Yes, I agree with @SQL-MisterMagoo's suggestion here. It would be better to use the simplified syntax without `__builder`. I suspect that some older version of the Razor compiler might not have supported that, but it does work well with the current Razor compiler.

That is,

[code]

... and:

[code]

...and:

[code]

As far as versioning is concerned, this approach can be documented for

[2022-09-01 12:26] guardrex commented on #25822
Thanks @SteveSandersonMS ... I'll take care of this quickly. 🏃

[2022-09-01 13:00] jakewins commented on #26609
I'm not sure this is the same as your issue, but I'm finding that anytime you have your Program.cs throw an exception, that exception gets lost (technically you can find it logged as an uncaught exception in console, it seems?), and you get this generic "your code didn't produce an IHost" error with no cause.

You might try removing parts of your Program.cs, one line at a time, to see if you can f

[2022-09-01 13:57] cove commented on #26609
Right I found the same thing the real exception is lost and this exception is just telling you something went wrong. I'd expect the example in the docs to work however.

I gave up on the newer ways of starting things up since I ran into too many issues like this when using gRPC. And all the gRPC examples use the old startup style still and work fine.

[2022-09-01 14:54] dylandSteven commented on #20330
Somebody found the solution??

[2022-09-01 17:52] freeborn5 opened #26902 "Unable to connect to web server 'SignalRWebpack."
When I run it with out debug I get the following message...

Unable to connect to web server 'SignalRWebpack. The web server is no longer running

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85af7a99-672c-0438-dcc2-e8edfaf70c54
* Version Independent ID: 85af7a99-672c-0438-dcc2-e8edfaf70c54
* Content: [Use ASP.NET Core Si

[2022-09-01 18:08] Michael-Ziluck opened #26903 "Update AppAssembly value in examples"
Project generated by `dotnet new blazorwasm` has the following at the top of the `App.razor` file:
[code]

The docs on this page have the following however:
[code]

Not sure if it should reference `Program.cs` or `App.razor`. There is some disconnect between the naming of files and classes between generated projects and the docs here.

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-09-01 18:18] guardrex commented on #26903
Thanks @Michael-Ziluck ... I'll take a look and get back to you. It might just be some stale content that didn't receive an update when the framework changed.

[2022-09-01 18:24] guardrex commented on #26902
Thanks @freeborn5 ... I wasn't sure which of the tutorials or docs you were referring to earlier.

@BrennanConroy ... I don't see this exact problem reported here or on the PU repo. Do you want to move this? ... or investigate further here?

[2022-09-01 18:30] BrennanConroy commented on #26902
This is a VS issue, I'd be surprised if it wasn't reported somewhere in VS's issue tracker.

Basically if you ctrl-F5 (start without debugging) and then close the server via ctrl-c or close the console window VS pops up this warning. It's not specific to SignalR or Blazor.

[2022-09-01 18:54] guardrex commented on #26903
# **_A ha!_** 👀

I've found some additional sneaky devils 😈 in the doc set. I'll re-open this issue and fix those up on a second PR shortly.

[2022-09-01 19:11] #26903 closed

[2022-09-01 19:16] guardrex commented on #10742
Hello! Sorry for the **_very late_** triage/reply. Management has decided not to pursue recommendation for the Blazor docs. Thanks for inquiring on it.

[2022-09-01 19:16] #10742 closed

[2022-09-01 19:17] guardrex commented on #22752
Hello! Sorry for the **_very late_** triage/reply. Management has decided not to pursue recommendation for the Blazor docs. Thanks for inquiring on it.

[2022-09-01 19:17] #22752 closed

[2022-09-01 19:38] scottaddie commented on #26093
See the latest logging guidance at https://docs.microsoft.com/dotnet/azure/sdk/logging#logging-without-client-registration

[2022-09-01 22:31] #5450 closed

[2022-09-02 07:16] glatzert opened #26916 "Describe how ProblemDetails will flow to other applications, that are written in C#."
I was looking for advice, how to use `ProblemDetails` on the receiver end.
The class itself is defined in `Microsoft.AspNetCore.Mvc` and is contained in the `Http.Abstractions` assembly.

Both parts make me  wonder, how we'd use ProblemDetails in a client application.
This might be a non issue, but I'd rather not include the aforementioned assembly into a Blazor-WASM project or a desktop applicati

[2022-09-02 07:19] guardrex commented on #26916
Please re-open this issue using the **This page** feedback button and form at the bottom of the **English-US** topic. Use of the **This page** feedback form adds metadata to your GitHub issue that cross-links the topic and automatically pings the author.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b02d200-95a8-11ea-8683-8dadc5483fb1.PNG">

[2022-09-02 07:19] #26916 closed

[2022-09-02 07:25] guardrex commented on #26916
btw @glatzert ... It's not for client-side use, as you indicated. You would need to create your own version of it to use. Second, this isn't the best spot to discuss general subjects. This is just a working repo for ASP.NET Core documentation, and we don't have that many community 👀 on these issues. We recommend the usual public support forums for discussions like this ...

* [Stack Overflow](http

[2022-09-02 07:25] glatzert opened #26917 "Document usage of problem details in the client app"
I was looking for advice, how to use ProblemDetails on the receiver end.
The class itself is defined in Microsoft.AspNetCore.Mvc and is contained in the Http.Abstractions assembly.

Both parts make me wonder, how we'd use ProblemDetails in a client application.
This might be a non issue, but I'd rather not include the aforementioned assembly into a Blazor-WASM project or a desktop application.

Pe

[2022-09-02 07:27] glatzert commented on #26916
Thanks for the heads up - in that moment I reopened the issue from the "Error-handling" page.
I'll seek advice in the mentioned channels and add it to the documentation request. Thanks for your time.

[2022-09-02 08:05] #25822 closed

[2022-09-02 12:42] GaTechThomas opened #26920 "Use of 'var' makes these examples difficult to understand."
This page has lots of good info about the things I'm trying to do. However, it's difficult to understand what types are involved when the variables are all defined using 'var' instead of their type names.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a7ec3c3-918c-6ffd-1ac0-4f88b89d9295
* Version Independent ID: 1c1f7

[2022-09-02 14:55] guardrex commented on #26920
Hello @GaTechThomas ... That's a standard convention that we aren't going to change. We call out types in many cases in the article text around the code examples. If you're unsure or want to look something up, use the API docs to determine types ...

https://docs.microsoft.com/dotnet/api/

[2022-09-02 15:25] guardrex commented on #26920
I just noticed something about this particular doc ... it's sorely lacking in API doc cross-links for API in the text.

@JamesNK ... I have a handful of minutes left this week and can run through and update these API references with API doc cross-links. I'll take care of it.

[2022-09-02 15:31] sannyjacobsson opened #26921 "Swagger - Polymorphic model binding"
I have followed the instructions regarding polymorphic model binding here (https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding?view=aspnetcore-6.0#polymorphic-model-binding). Which works great.

However, I'm missing information on how to get this to work with Swagger. I have configured Swagger to support polymorphic model behaviour according to the Swagger documentation.

[2022-09-02 15:38] #26920 closed

[2022-09-02 17:28] Michael-Ziluck commented on #26903
_Blaz_-ingly fast turnaround! Thanks for clarifying and getting those fixed!!

[2022-09-02 18:47] Rick-Anderson commented on #26917
Thanks for the suggestions, we'll be reviewing this document.

[2022-09-02 18:47] #26917 closed

[2022-09-02 19:26] jholovacs opened #26922 "Source assembly for extension methods"
I'm looking at this document where it says to use the extension method `.AddCors` and yet I don't see a single reference to where that extension method is located. I'm making my CORS policy to be common among several WebAPI projects and it should be clear what packages I need to reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-09-02 19:52] guardrex commented on #26922
Hello @jholovacs ... `AddCors` is cross-linked in this doc to the API docs ...

https://docs.microsoft.com/dotnet/api/microsoft.extensions.dependencyinjection.corsservicecollectionextensions.addcors

... and the assembly is noted there.

Generally, we recommend using the API docs when the assembly isn't clear. We try to link those docs as much as we can, and they always call out the assembly.

[2022-09-02 20:01] #26922 closed

[2022-09-02 20:08] Rick-Anderson commented on #26922
Or right click, go to definition.

[2022-09-02 21:28] hrvoje-grabusic opened #26923 "Blazor file uploads example"
The example code in Pages/FileUpload2.razor freezes blazor when uploading two files.
[38842](https://github.com/dotnet/aspnetcore/issues/38842)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ea474d5-234a-f393-8609-892a2deb5d2e
* Version Independent ID: c11d981c-05af-c19d-a333-feedd5978639
* Content: [ASP.NET Core Blaz

[2022-09-02 21:41] guardrex commented on #26923
@TanayParikh ... Upon a quick glance 👀 (as I'm off now until Tuesday), it looks like the discussion doesn't apply directly to the approaches and examples laid out in the topic. If you want me to add something, could you re-open this and provide the content? If you don't re-open, I'll assume that what we have is fine.

[2022-09-02 23:24] smarts opened #26924 "More info needed re: route constraint vs. no route constraint"
This page talks about route constraints, but does not highlight the difference in behavior [for non-compliant values] when using a route constraint vs. not using a route constraint.
Simple example:
[code]

vs.
[code]

When using a non-GUID value (ex: "foo") in the URL these two actions have varying responses.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2022-09-02 23:24] TanayParikh commented on #26923
[code]

This poses an issue where we're opening the stream for reading (`OpenReadStream`), however not reading till potentially later. I was able to repro https://github.com/dotnet/aspnetcore/issues/38842 by using this component and uploading multiple files (~1.5MB each) simultaneously.

---

Other things;

Not sure how this is done throughout the rest of the docs (so please ignore if this is stan

[2022-09-02 23:25] guardrex commented on #26923
Thanks @TanayParikh ... I'll get this squared away on Tuesday morning and ping u on the PR for review.

[2022-09-02 23:32] TanayParikh commented on #26923
One workaround would be:

[code]

but it requires copying the file into memory. Ideally we'd can pipe it over to `StreamContent` without first saving in memory...

[2022-09-02 23:36] TanayParikh commented on #26923
According to https://stackoverflow.com/a/35246905, that's essentially the purpose of `StreamContent`, I wonder what's going wrong then?

[2022-09-03 00:33] TanayParikh commented on #26923
Let's hold off on this, I'm investigating it further...

[2022-09-03 01:28] Rick-Anderson commented on #26924
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2022-09-03 07:15] Rick-Anderson commented on #26921
Hello! Thanks for contacting us. This sounds like a general question about using ASP.NET Core. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com) with the `asp.net-core` tag.

* [Stack Overflow](https://stackoverflow.com/questions)
* [ASP.NET Core Slack](http://tattoocoder.com

[2022-09-03 09:00] hrvoje-grabusic commented on #26923
I was confused by this but i tried it that eaxmple anyway.
I expected that FileUpload2 example would belong in client side blazor.

Further down in the docs FileUpload3 is what i expected for a server side blazor example and that works fine.

[2022-09-03 09:35] guardrex commented on #26923
You have to set the hosting model at the top to get the correct content for WASM vs. Server. IIRC, the controllers aren't the same.

![image](https://user-images.githubusercontent.com/1622880/188264877-0538f3a8-ab83-4523-af5d-cf63c49b676b.png)

[2022-09-03 09:46] hrvoje-grabusic commented on #26923
I was looking at the server hosting model tab.
And i am still confused why anyone would want to upload files via post request like the FileUpload2 example in a server side blazor app.

Tho i opened the issue because that example freezes blazor not because i think it doesn't belong in the docs.

[2022-09-03 09:50] guardrex commented on #26923
I took another look ... the components are different and the controller is the same.

The answer is in the opening line ...

[2022-09-03 09:59] hrvoje-grabusic commented on #26923
Thanks i missed that somehow.
It does make sense when using a separate storage service.

[2022-09-03 11:43] #24368 closed

[2022-09-03 19:10] guardrex opened #26926 "Test issue"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc28995-6784-a7d2-5c0b-9811a8d19c1a
* Version Independent ID: 1668c8fb-024c-c86d-d4d5-e22e3355c04b
* Content: [ASP.NET Core Blazor](https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-6.0)
* Content Source: [aspnetcore/blazor/index.m

[2022-09-03 19:12] guardrex commented on #26926
# 🎉 **_BOOHYEAH!_** 🍾

@Rick-Anderson ... It ✨ **_Just Works™!_** ✨ ... Check the `dotnet-bot` ☝️.

[2022-09-03 19:12] #26926 closed

[2022-09-03 19:14] guardrex commented on #26926
... and the assignment showed up in email as expected ...

You are receiving this because you were assigned.

[2022-09-03 20:04] Rick-Anderson commented on #26926
Nice. But did you miss the memo, today is not a work day.

[2022-09-03 20:14] guardrex commented on #26926
**_WORK!!!????_** I'm not working. I'm just having fun! 😝

Yeah ... I was hoping to be watching Artemis for a good part of the day. *So much for that plan!* I have a feeling that they're about to say in the press conference that they're going to have to roll it back for repairs and try again in October.

On a good note tho, I tried gimbap for the first time. I watched *Extraordinary Attorney Woo*

[2022-09-03 23:54] johnsonaussie commented on #18152
I myself encounter the same problem with **Update the TodoItemsController**:
This is the root issue by this code: **_var todoItem = await _context.TodoItems.FindAsync(id);_**
**todoItem** sometime  return **null ,** when it return **null** ,  the **Update(Put)** action is fail.
when it is not return **null**, the **Update(Put)** action is successful.
If you use Postman or dos command to update a T

[2022-09-05 01:38] gumbarros commented on #20808
Any runtime alternative to WebOptimizer in .NET 6?

[2022-09-05 17:08] fsimonazzi opened #26930 "Example for dealing with user input doesn't actually work"
The warning when dealing with user input suggests using nested purposes. But the purpose string intended to contain the user name is actually a constant string.

From
`CreateProtector([ username ])`

To
`CreateProtector([ "Contoso.Messaging.SecureMessage", "User: username" ])`

Suggested fix change to
`CreateProtector([ "Contoso.Messaging.SecureMessage", $"User: {username}" ])`

---
#### Document

[2022-09-05 17:40] KeesAlderliesten opened #26932 "IsLockedOut has a different meaning than LockoutEnabled."
[Enter feedback here]

`IsLockedOut `has a different meaning than `LockoutEnabled`.
`IsLockedOut `is set if a user had too many failed logins. If `LockoutEnabled `is set then a user **can** be locked out with too many failed attempts (resulting in `LockoutEnd `being set to a date in the future). If `LockoutEnabled `is false then a user is never locked out.

So, migrating `IsLockedOut `to `Lockedou

[2022-09-06 01:32] #26366 closed

[2022-09-06 03:58] marafiq opened #26933 "Test CORS section should include integration test with Test Server rather than testing it via browser."
**Help us make content visible**

- How to unit test CORS

https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-6.0#test-cors

**Describe the new topic**

- It helps verifying the required behavior.

[2022-09-06 08:09] vijaya-lakshmi-venkatraman commented on #21528
Hi does fixing review comments from [this](https://github.com/dotnet/aspnetcore/pull/37949) PR fix this issue?

[2022-09-06 12:16] xenophilios opened #26934 ""Add the TodoContext""
Would suggest adding a comment (or a link to a comment) explaining the meaning of the exclamation mark at the end of the statement:

public DbSet<TodoItem> TodoItems { get; set; } = null!;.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b

[2022-09-06 13:05] sbakharev opened #26935 "UseStatusCodePagesWithReExecute incorrect description"
Hello!

The [Handle errors in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-6.0#usestatuscodepageswithreexecute) article explicilty states:

... and later once again:

Meanwhile real-life tests show that the status code is not being preserved, only path and query are. We originally thought that this is a bug of StatusCodePagesMiddleware beca

[2022-09-06 13:20] xenophilios opened #26936 ""Update the PostTodoItem create method""
The link to "10.2.2 201 Created" leads to a page with the error message: "This document has been superseded."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583ae3e7-5915-f22b-e54c-6c100cf2a7da
* Version Independent ID: 95f2549e-29f9-e31a-b4d0-432b971643ff
* Content: [Tutorial: Create a web API with ASP.NET Core](https

[2022-09-06 16:06] glennmusa opened #26937 "GRPC MockedGreeterServiceTests sample tests do not work out-of-the-box"
[Edit by guardrex to add the metadata.]

# Issue description

The [`SayHelloUnaryTest_MockGreeter_Error()`](https://github.com/dotnet/AspNetCore.Docs/blob/61d48b225d0611d176d6ad4367ea50ae841b30f6/aspnetcore/grpc/test-services/sample/Tests/Server/IntegrationTests/MockedGreeterServiceTests.cs#L69-L86) integration test does not build out-of-the-box.

## How to reproduce

1. Open the repository in a G

[2022-09-06 16:33] guardrex commented on #26937
FYI for future reference, @glennmusa ... Please open issues on the repo using the **This page** feedback button and form at the bottom of the **English-US** topic. Use of the **This page** feedback form adds metadata to your GitHub issue that cross-links the topic and automatically pings the author.

<img width="404" alt="Capture" src="https://user-images.githubusercontent.com/1622880/81926733-0b0

[2022-09-06 17:28] glennmusa commented on #26937
Ahh, gotcha. Will do. Thanks @guardrex!

[2022-09-06 17:49] Michael-Ziluck opened #26939 "Necessary using statements not mentioned on forms page"
To actually use all the Blazor form components, you need to add the following to the `_Imports.razor` file or at the top of each component that uses them:
[code]

 From what I can see, that is never mentioned which can cause issues with people trying to follow the tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID